[2020-08-19 09:29] oliverchristen commented on #14257
Me too with version 12.5.0. version 12.4.4 works fine.

[2020-08-19 09:43] oliverchristen opened #14370 "[BUG] AppendBlockAsync(fileStream) does not append but overwrites append blob"
**Describe the bug**
When I try to append a block to an existing append block containing data, the block is not appended to the blob but overwrites it.

**Expected behavior**
The block shall be appended.

**Actual behavior (include Exception or Stack Trace)**
The blob is overwritten by the block to be appended.

**To Reproduce**

[code]

**Environment:**
 - Name and version of the Library package

[2020-08-19 12:55] oliverchristen commented on #14370
It does not seem to be AppendBlockAsync that does not work after all. If I call AppendBlockAsync twice in the same process, it works. It must be another process that empties the blob.

[2020-08-19 12:55] #14370 closed

[2020-08-19 14:24] Rookian opened #14372 "[QUERY] How can I define API permissions for an application in order to sign in a user and read its profile?"
**Query/Question**
I created an application and a corresponding service principal. Now I would like to define permissions in order to sign in a user and read its profile (Azure Active Directory Graph (1) | User.Read)

How can I define API permissions for an application?

**Environment:**
 - Microsoft.Azure.Management.Fluent 1.34.0
 - Microsoft.Azure.Management.ResourceManager.Fluent 1.34.0

[2020-08-19 14:34] jsquire commented on #14372
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-19 14:35] jsquire commented on #14369
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-19 14:37] jsquire commented on #14367
//fyi - @christothes

[2020-08-19 14:38] jsquire commented on #14362
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-19 15:59] AlexanderSher commented on #14362
Hi @bawoodruff , do you have this issue with Azure.Identity 1.2.1 as well?

[2020-08-19 16:13] lcitton commented on #14071
I fully agree with ohofman, we definitely need something similar to the old BlobEncryptionPolicy to proivide client side encryption.

[2020-08-19 16:31] serkantkaraca commented on #9294
@Nullstr1ng a PR is in the works which will provide device builds to avoid linking issues. This PR didn't make to 4.3.0 and will be part of next release in a month.

[2020-08-19 16:52] amnguye commented on #14071
Hi, I don't think thats what ahofman ask was. His ask was for a sample of the v12 way to provide client side encryption, not to redo client side encryption the way the v11 library has it.

Also ahofman, we currently have an "out of the box solution" in the works, which is similar to the link. I was under the impression you were looking for a runnable sample without having to create a Key in KeyVau

[2020-08-19 17:00] seanmcc-msft commented on #14257
Can you post the HTTP request and response from Fiddler from when this issue occurs?

[2020-08-19 17:18] JoshLove-msft opened #14376 "Evaluate mockability of Track 2 library"
Consider various sample user application that integrate with each part of the library and show how they can be tested using mocking. Would be great to include this as part of the migration guide.

We should consider updating all factory methods in `ServiceBusClient` to be virtual even when they are not doing IO.

[2020-08-19 17:20] bawoodruff commented on #14362
@AlexanderSher Yes, just updated to 1.2.1 and have the same issue.  My workaround is to Exclude this for now on non-Windows but would prefer to not special case this.

[2020-08-19 17:37] heaths commented on #14365
Per [.NET Guidelines](https://docs.microsoft.com/dotnet/standard/design-guidelines/guidelines-for-collections#collection-properties-and-return-values), collection properties are not settable. Instead, you can use the collection initializer pattern:

[code]

The `KeyVaultKey.KeyOperations` is a read-only collection (i.e. the above pattern won't work) because you can only set them when creating like

[2020-08-19 17:54] AlexGhiondea commented on #14349
Done.

[2020-08-19 17:54] #14349 closed

[2020-08-19 17:55] #13623 closed

[2020-08-19 18:00] allenjzhang commented on #5749
Hi, Solankisamir, our team is taking over .NET SDK support and cleaning up older issues. I apologize that your issue has not been responded to as team was going thru transition. Back to your feature request, I suggest you create your own pipeline in OneAzure. You would be able to have flexibility to verify multiple existing nuget packages. If you need any help or questions on setting up the pipeli

[2020-08-19 18:33] SimonStHilaire opened #14380 "[QUERY] Is there a way to use service bus on iOs with Unity?"
**Query/Question**
Hi,
  I am trying to control an Hololens 2 experience using iPads/iPhones as remotes. The app is As developed in Unity. As expected it works fine on the Hololens as a receiver. On the sender side, I tested with Windows desktop and Android device and they both work well. The exception I get when I call SendAsync on my TopicClient on an iPhone is that the library have been "Linked

[2020-08-19 19:05] markcowl commented on #7754
@crmann1 Is there a bug / issue we can link to for the new behavior in updating tokenprovider.json?

[2020-08-19 19:32] mrwatts commented on #14202
That's fine. I was already using a storage table for this purpose, but was hoping to be able to refactor it to a 100% service bus solution. Polling a storage table feels very 2004. It's like polling a SQL table while there is SqlDependency.

I do feel there is something missing in this respect. Not necessarily saying that service bus should solve it. The only other viable option besides polling a

[2020-08-19 21:54] christothes opened #14388 "Migrate storage to use Multipart in Core"
see https://github.com/Azure/azure-sdk-for-net/pull/14275

[2020-08-19 22:22] heaths commented on #12938
I've tried to reproduce this with version 4.1.0 (contains the same fix as 4.0.3 did) and cannot reproduce it with several variations of https://gist.github.com/heaths/87b6a2da1b9cdd5c88fe6c3dedb28216. Not all variations were committed, but even just running `Task.Run(() => _client.GetSecretAsync(...))` yielded no failures.

Can you attempt to reproduce this with version 4.1.0?

[2020-08-19 22:28] heaths opened #14389 "Move ChallengeBasedAuthenticationPolicy to Azure.Core"
Copying much of the existing BearerTokenAuthenticationPolicy but instead parsing out the `WWW-Authentication` response header to issue a challenge, move the ChallengeBasedAuthenticationPolicy from Key Vault shared source to Azure.Core and make it public.

Relates to #12938, though I was unable to repro that with the change I already made in PR #10673.

[2020-08-19 23:00] anqyan commented on #11619
Hi all,

The exception is caused by cbs(claim-based security) token re-authorization failures in Service Bus. How cbs re-authorization works in Service Bus: Client sends a cbs token to put security related access info in the service side cache. On service side there is a timer which schedules re-authorization on the access info of the client. Normally client always send the token before the timer

[2020-08-19 23:56] jongio commented on #5309
@yokode - Please see the new Token Refresh policies and reopen this issue if it doesn't solve what you are after.  Thanks, Jon
https://devblogs.microsoft.com/azure-sdk/azure-identity-august-2020-ga/#proactive-token-refresh

[2020-08-19 23:56] #5309 closed

[2020-08-20 00:03] heaths commented on #5450
Closing with no response from the customer. If we get the information requested, we can reopen for further investigation.

[2020-08-20 00:03] #5450 closed

[2020-08-20 00:05] jongio commented on #5485
Closing due to inactivity. Please re-open if you still have an issue with the new libraries: https://aka.ms/azsdk

[2020-08-20 00:05] #5485 closed

[2020-08-20 00:06] jongio commented on #5486
Closing due to inactivity. Please re-open if you still have an issue with the new libraries: https://aka.ms/azsdk

The new ManagedIdentityCredential type should get you what you need.

[2020-08-20 00:06] #5486 closed

[2020-08-20 00:07] jongio commented on #5499
@scbedd @AlexGhiondea - Does this need to stay open or close?

[2020-08-20 00:08] jongio commented on #5653
@AlexGhiondea - Can you please have a look? Close this?

[2020-08-20 00:09] jongio commented on #5977
@AlexGhiondea - Who should this one go to?

[2020-08-20 00:10] jongio commented on #6208
@annelo-msft - This is T1, thoughts on what to do with this?

[2020-08-20 00:51] schaabs commented on #9490
@nadirbad Sorry you're having this trouble. We're currently working on a set of samples which demonstrate different implementation of `TokenCredential` for cases where the Azure.Identity library is not sufficient for an application. While we haven't published these yet I've shared the two which are relevant here in a gist.

The first example, [Authenticating with a prefetched access token](https:/

[2020-08-20 01:37] isra-fel commented on #14365
I got it. Thanks for the great explaination! It works perfectly.

[2020-08-20 01:37] #14365 closed

[2020-08-20 07:40] lcitton commented on #14071
Hi Amanda,
I may have misundertood ahofman request... But I still think we miss a way to encrypt/decrypt blobs client-side, able to cope with files already encrypted and stored in blobs.

Another question : we have a legacy project running in framework 4.8 and I cannot find the "WithClientSideEncryptionOptions' method mentioned in your snippet. Is it reserved to .net core library ?

[2020-08-20 08:14] HengzheLi opened #14401 "[QUERY] client side encryption with BlockBlobClient"
**Query/Question**
How to use BlockBlobClient to download and upload with ClientSideEncryption?

I know the BlobClient can handle Client Side Encryption thing, But our code currently is using BlockBlobClient, and it seems that this class is not supported the client side encryption download and upload.

**Environment:**
 - Azure.Storage.Blobs 12.5.0

[2020-08-20 08:21] #14401 closed

[2020-08-20 08:22] HengzheLi commented on #14401
Found the clue from SDK source code

[2020-08-20 10:57] profesor79 commented on #12266
any update on that?

[2020-08-20 13:04] TiTi commented on #14037
I'm also having this issue when copying blobs between 2 differents storage accounts like so:
[code]

[2020-08-20 13:51] Sense545 opened #14402 "[BUG] sourceUriBuilder.DirectoryOrFilePath is not escaped when building renameSource URL"
**Describe the bug**
Trying to rename a path containing spaces results in "The source URI is invalid." error from server.

Apparently the same exact bug was reported and fixed in the Java SDK in March:
https://github.com/Azure/azure-sdk-for-java/issues/8761
https://github.com/Azure/azure-sdk-for-java/pull/8887/files#diff-0fc00850cd2388279fd01c5f427d6cfcR506

Probably just need ```sourceUriBuilder.

[2020-08-20 14:32] jsquire commented on #14402
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-20 14:43] tomkerkhove opened #14403 "[BUG] ResourcesAsync does not return consistent results"
**Describe the bug**
ResourcesAsync does not return consistent results where it's returning less results now and then.

**Expected behavior**
When doing 5 identical calls in a row and not changing the infrastructure, I expect to receive the same result.

**Actual behavior (include Exception or Stack Trace)**
When doing 5 identical calls, I'm getting different result sets for the same query.

**To

[2020-08-20 15:11] AshishAgMS opened #14404 "[BUG] BlockBlobClient.OpenRead and then CopyTo takes 3-4 minutes to copy 4MB of data"
**Describe the bug**
Stream created from BlockBlobClient.OpenRead and then CopyTo memoryStream takes 3-4 minutes to copy 4MB of data wherea BlockBlobClient.DownloadTo memoryStream takes less than 1 second.

**Expected behavior**
CopyTo should have same performance as DownloadTo when destination stream is memory stream.

**Actual behavior (include Exception or Stack Trace)**
CopyTo API copies few b

[2020-08-20 15:45] jsquire commented on #14403
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-20 15:45] jsquire commented on #14404
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-20 17:21] InteXX commented on #14257
I was mistaken in my original report. I claimed that the error was occurring with both local and cloud storage. In fact, it was only occurring with local storage (Azurite, in this case). I've updated the report accordingly.

The problem is solved. I turned out I hadn't updated the server along with the client SDK. Once I did that, killed the Node process and restarted Azurite, everything worked as

[2020-08-20 17:26] cmatskas opened #14408 "[BUG] ChainedTokenCredential throws an exception when VisualStudioCodeCredential is present"
**Describe the bug**
When the VisualStudioCodeCredential is present, the ChainedTokenCredential throws an exception when running in production (Azure), i.e outside the local dev environment.

**Expected behavior**
Rather than iterate through the defined TokenCredential options, the code throws an exception as soon as it encounters the VisualStudioCodeCredentials which fails to retrieve the credent

[2020-08-20 17:37] oliverchristen commented on #14257
Does that mean, there's a breaking chang between  12.4.4 and 12.5.0? I cannot update the server. It's a local server environment thought. But an external component.

[2020-08-20 17:40] InteXX commented on #14257
@oliverchristen

Apparently the client/server versions have to coincide.

[2020-08-20 18:05] chris-skuvault commented on #13920
Hey @JoshLove-msft,

I've been playing around with deferred completion of messages and have run into a strange issue where even though there are messages left in the queue I start to get no messages from receiver.ReceiveMessagesAsync. For instance if I send a 1000 messages in the queue and run this code it only pulls 910 messages leave 90 left. This behavior is consistent for a 1000 messages.

Her

[2020-08-20 18:14] vinagesh opened #14415 "[Test Framework] Secret values not getting sanitized in the request body."
**Describe the bug**
Using the JsonPathSanitizer is not sanitizing the secrets the request body but it sanitizes the values in the response. My playback tests fail due to this.

**Expected behavior**
Call API 1
User response value of API to call API 2

Expected behavior is the response of API1 and the request body in API2 have the same values.

**Actual behavior (include Exception or Stack Trace)*

[2020-08-20 18:14] vinagesh opened #14416 "[BUG]"
**Describe the bug**
Using the JsonPathSanitizer is not sanitizing the secrets the request body but it sanitizes the values in the response. My playback tests fail due to this.

**Expected behavior**
Call API 1
User response value of API to call API 2

Expected behavior is the response of API1 and the request body in API2 have the same values.

**Actual behavior (include Exception or Stack Trace)*

[2020-08-20 18:14] vinagesh commented on #14416
@JoshLove-msft @maririos

[2020-08-20 18:38] danieljurek opened #14418 "Smoke tests should use current dev feed"
See `azure-sdk-for-net` in https://github.com/Azure/azure-sdk-for-net/blob/master/NuGet.Config

[2020-08-20 18:42] danieljurek opened #14419 "Smoke tests should report if a dev feed's package version is more than 7 days behind"
When resolving packages from the dev feed we should also verify that any date expressed in `yyyymmdd` in the package version (`1.2.3-dev.yyyymmdd.z`) is less than 7 days old.

[2020-08-20 19:56] jsquire commented on #14408
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-20 19:57] jsquire commented on #14416
Closing as a duplicate of #14415.

[2020-08-20 19:57] #14416 closed

[2020-08-20 20:04] seanmcc-msft commented on #14257
We recently released the SDK that goes with the 2019-12-12 service version.  You can manually specify a lower service version:
[code]

[2020-08-20 20:16] seanmcc-msft commented on #14404
Hi @AshishAgMS, I can repo this, look like we have a bug:

[code]

In Fiddler:
[code]

I'll work on fixing this next week.

[2020-08-20 21:18] chidozieononiwu opened #14427 "[FEATURE REQ] Improvements to Code Coverage Collection."
https://github.com/Azure/azure-sdk-for-net/pull/14185 added code coverage reporting for internal pipeline runs, However more work needs to be done on code coverage collection and reporting.

- [ ] The Code Coverage is not showing up for the `net - core` pipeline.
- [ ] Filter out share libraries such that only the library for the specified service is built.
- [ ] Add ability to generate the covera

[2020-08-20 21:20] JoshLove-msft opened #14428 "Binary Data API Updates based on UX study feedback"
- Add FromString
- Add FromBytes(ReadOnlySpan<byte>)
- Add ToBytes method instead of having public Bytes property.
- Add ctor taking ReadOnlyMemory<byte>
- Rename Serialize to FromObject
- Rename Deserialize to ToObject
- Rename FromMemory(byte[]) and FromMemory(ReadOnlyMemory<byte>) to FromBytes
- Make ToString docs more attention grabbing

[2020-08-20 21:35] vinagesh commented on #14415
After debugging, the issue is that Azure.Core does not parse JArray and it only tries to parse JObject. IoTHub service has a request of type JArray that does not get sanitized correctly, leading to playback errors.
I've added an override to unblock but it would be great to have this in Azure Core as well. I will leave this bug open to track that work.

[2020-08-20 21:43] vinagesh commented on #14415
@pakrym suggested to use JValue and it works perfectly well. I will be fixing this as part of my PR with him in review. Closing the bug.

[2020-08-20 21:55] JoshLove-msft commented on #14428
/cc @tg-msft @KrzysztofCwalina

[2020-08-20 21:58] #6513 closed

[2020-08-20 23:14] maririos commented on #12492
Looks like we manually have to add it to https://github.com/Azure/azure-sdk-for-net/blob/master/eng/Packages.Data.props#L12

[2020-08-20 23:15] maririos commented on #12492
Reference already added to project: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj#L6

[2020-08-20 23:21] maririos commented on #12492
PR https://github.com/Azure/azure-sdk-for-net/pull/14438

[2020-08-20 23:22] maririos opened #14439 "Update https://aka.ms/azsdk/net/docs/ref/formrecognizer to point to microsoft docs"

[2020-08-21 00:07] maririos opened #14442 "Delete switch status check for batch operations"
As codegen is doing that for us.
See comment https://github.com/Azure/azure-sdk-for-net/pull/14366#discussion_r474330790

[2020-08-21 01:10] JoshLove-msft commented on #14428
What do we think about the fact that `ArraySegment` has implicit casts to both `ReadOnlyMemory` and `ReadOnlySpan`? Are we okay with users needing to cast here to avoid ambiguous calls?

[2020-08-21 01:43] #13901 closed

[2020-08-21 02:02] InteXX commented on #14257
@seanmcc-msft

That helps, thanks. I'll probably end up using it somewhere along the line.

Would you prefer I open a new issue for the feature request?

[2020-08-21 05:09] erich-wang opened #14450 "[FEATURE REQ]Azure.Identity should expose trace from MSAL library"
**Library or service name.**
What library or service is this request related to?
Azure.Identity

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

MSAL library allows customers to enable MSAL related traces by using PublicClientApplicationBuilder.WithLogging(...), Azure.Identity should expose such trace functio

[2020-08-21 05:19] abatishchev commented on #9517
@TianoMS, @ravbhatnagar ping

[2020-08-21 12:11] blueww opened #14455 "[BUG] Call BlobAccessPolicy.StartsOn on a policy without Start Time, will make progress crash and exist"
**Describe the bug**
Please provide the description of issue you're seeing.
On "Azure.Storage.Blobs" Version="12.5.1", when try to call BlobAccessPolicy.StartsOn on a policy without Start/Expire Time, The whole process will crash and exist, even try catch can't catch the exception.

This a regression from 12.5.0-preview.6

**Expected behavior**
What is the expected behavior?
It seems BlobAccessPol

[2020-08-21 12:20] blueww opened #14456 "[BUG] BlobSignedIdentifier.AccessPolicy should have a way to make the permission string in correct order"
**Describe the bug**
Please provide the description of issue you're seeing.
create BlobSignedIdentifier object, and input permission as "wrld", then set the BlobSignedIdentifier  to server, server report error

[code]

**Expected behavior**
What is the expected behavior?
XSCL should can help to make the permission string in correct order

**Actual behavior (include Exception or Stack Trace)**
What

[2020-08-21 12:55] ohadschn opened #14457 "[BUG] NullReferenceException thrown from Azure.Storage.Files.DataLake.DataLakeFileClient.UploadAsync when specifying high StorageTransferOptions.MaximumConcurrency"
**Describe the bug**
This appears like a regression in the latest version (does not reproduce in 12.2.2):
[code]

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

[code]

**Environment:**
 - Name and version of the Library package used: `Azure.Storage.Files.DataLake 12.3.1`
 - Hosting platfo

[2020-08-21 19:30] InteXX opened #14469 "Improve error messaging for invalid headers"
**Library or service name**
Azure.Storage.Blobs

**Description**
When an `InvalidHeaderValue` exception is thrown, information as to the header and its invalid value could be included in the exception (apparently it was, in past versions of the SDK). This would assist developers with troubleshooting and would make situations [like this](https://github.com/Azure/azure-sdk-for-net/issues/14257) less

[2020-08-21 23:28] pakrym opened #14477 "Replace Accept header transform with a swagger fix"
We should remove https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search.Documents/src/autorest.md#set-odatametadata-accept-header-in-operations in favor of setting a global/per-operation produces value in `searchservice.json`.

After the https://github.com/Azure/azure-sdk-for-net/pull/14407 is merged.

cc @heaths

[2020-08-22 01:39] willyt150 opened #14480 "[QUERY] Dealing with BlockBlobClient Max Upload Size and Max Stage Size"
**Query/Question**
Currently I'm running against the emulator (Windows Azure Storage Emulator 5.10.0.0 command line tool)
1. How do I determine what the **correct** maximum upload size (for `BlockBlobClient.UploadAsync`) is? I compared the size of my file (`717227096`) against `BlockBlobClient.BlockBlobMaxUploadBlobLongBytes` and it's smaller than that number (`5242880000`), but then when I execut

[2020-08-22 07:45] bradygaster opened #14483 "Add OpenAPI/Swagger Import to API Management operations"
The API Management `IApiOperations` interface (and down-level implementation classes) would be great if they offered support for creating new APIs from either a URL referencing a Swagger/OpenAPI document, or from a `System.IO.Stream`. This would **really** open up integration opportunities.

Thanks!

[2020-08-22 14:01] IoBebe opened #14485 "[QUERY] What are the recommendations for the lifetime of a SecretsClient instance in a Desktop App or a long running Service ?"
**Query/Question**
What are the recommendations for the lifetime of a SecretsClient instance in a Desktop App or a long running Service ?
Is there a difference in this recommendation for the KeyVaultClient in verison 3.* ?

**Environment:**
I'm working on a client library that consumes our API and consumes secrets from a Azure Key Vault. This client library will be used from Desktop Applications a

[2020-08-22 21:24] JoshLove-msft opened #14487 "JsonObjectSerializer - Improve exception when deserialization fails"
The exception message coming from JsonSerializer is not easy to decipher.

[2020-08-23 02:04] JoshLove-msft opened #14489 "Include additional AMQP elements in Message"
https://apiview.dev/Assemblies/Review/b5d7e3304000449c859c2016f718db52

- AbsoluteExpiryTime
- ContentEncoding
- CreationTime
- DeliveryAnnotations
- Footer
- GroupId (same as SessionId)
- GroupSequence
- Header
  - Durable
  - Priority
  - Ttl (this should also be top level property)
  - FirstAcquirer
  - DeliveryCount (this should also be top level property on received message)
- MessageAnnotati

[2020-08-23 02:15] JoshLove-msft opened #14490 "Use ReceiverOptions instead of overload for CreateDeadLetterReceiver"
Will need a new enum for `SubQueueType`: None, DeadLetter, TransferDeadLetter.

[2020-08-23 21:52] JoshLove-msft opened #14492 "Add ServiceVersion to ServiceBusManagementClientOptions"
https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-versioning-select-api-version

[2020-08-23 22:07] JoshLove-msft opened #14493 "Remove settlement overloads taking a lock token"
Creating new issue to track the suggestion to remove the message settlement overloads that take lock tokens - https://github.com/Azure/azure-sdk-for-net/issues/10852#issuecomment-679859788

[2020-08-24 02:55] XuGuang-Yao commented on #13669
@maririos - Thank you for your fix. But the issue still persists. Set regoin to `usgovarizona ` and run the test against US gov cloud, region `westcentralus ` will be picked.

`var wrongRegion = TestEnvironment.TargetResourceRegion == "westcentralus" ? "eastus2" : "westcentralus";`

The `westcentralus `doesn't exist in US gov cloud so the copy oparetion will continuous run wihout any result return

[2020-08-24 03:34] JoshLove-msft commented on #14487
Or should we push to get the JsonException message updated?

[2020-08-24 03:44] JoshLove-msft opened #14501 "Remove public ctors for QueueProperties/RuleProperties and add model factories instead"
Also add model factories for SubscriptionProperties/TopicProperties and all of the runtime property models.

[2020-08-24 03:51] JoshLove-msft opened #14502 "Consider updating Get/SetSessionState to use BinaryData"
Currently these methods use a byte array. Using BinaryData would provide the same conveniences that we get with the ServiceBusMessage Body property - the ability to create using a string, a stream, or from a serializable rich model type.

[2020-08-24 06:34] acn-sbuad commented on #14369
We are experiencing the same error when connecting to blob storage. Started failing when we updated Azure.Storage.Blobs from 12.4.4 to 12.5.1

[2020-08-24 07:09] tomkerkhove commented on #14403
Unfortunately, we are still seeing the same behavior.

Is there a way to provide more logs that could help you?

[2020-08-24 13:27] glennsills commented on #5450
Sorry, by the time you had looked at this I had moved to another job :-)

[2020-08-24 14:15] ohadschn opened #14506 "[BUG] Azure.Storage.Files.DataLake.DataLakeFileClient.UploadAsync with low upload speed - RequestFailedException: OperationTimedOut (500) - Operation could not be completed within the specified time"
[code]

**To Reproduce**
Call `Azure.Storage.Files.DataLake.DataLakeFileClient.UploadAsync` with a ~300MB file using a slow connection (< 2Mbps upload - note mega **bits** per seconds)

**Environment:**
 - Name and version of the Library package used: `Azure.Storage.Files.DataLake 12.2.2`
 - Hosting platform or OS and .NET runtime version:
[code]
 - IDE and version : Visual Studio 16.7.2

[2020-08-24 14:53] jsquire commented on #14167
Hi @LeaShallev.   Unfortunately, I don't have visibility once the initial triage is done.  This area is owned by the Storage team who have their own process around triage and support.   It looks as if @sumantmehtams would be the most likely individual to help understand the current status.

[2020-08-24 15:05] pakrym commented on #14477
https://github.com/Azure/azure-rest-api-specs/blob/38388fadb2a31238262c96520a96f413ff7c7311/specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/LUIS-Authoring.json#L68

https://github.com/Azure/azure-rest-api-specs/blob/97318e230c61f00bb5ebf977507aa19838cb531d/specification/intune/resource-manager/Microsoft.Intune/preview/2015-01-14-privatepreview/intune.json#L16

[2020-08-24 15:26] seanmcc-msft commented on #14469
The SDK is returning the error messages provided by the service, so unfortunately, this would require backend API changes.  It is unlikely this could be done in the near future, as the backend teams are heads down working on the next service versions.

[2020-08-24 15:27] seanmcc-msft commented on #14257
I'm going to close this issue, please re-open if you have any other questions.

[2020-08-24 15:27] #14257 closed

[2020-08-24 15:44] InteXX commented on #14469
I'm not sure I follow you.

Isn't it just a matter of parsing the error message as provided by the service and adding a couple of parameters and properties to the exception? This sounds like something that could be done pretty easily.

[2020-08-24 16:09] seanmcc-msft commented on #14469
The service doesn't tell us which header is invalid.

[2020-08-24 16:18] weshaggard commented on #12120
@chidozieononiwu lets see what options we have to potentially by-pass this task and setup the correct version on the path, or maybe we can just rely on the global.json configuration to pick the correct version (assuming it is already on the image).

[2020-08-24 16:31] InteXX commented on #14469
Here's the response:

[code]

Can't the header name and value be parsed from that?

[2020-08-24 16:33] seanmcc-msft commented on #14469
My bad, we'll look into this.

[2020-08-24 16:34] InteXX commented on #14469
Thanks :-)

[2020-08-24 16:47] maririos commented on #13669
Thanks for the update. Please know that the purpose of the test is to try to copy a model to a region that the client doesn't have access to, so even if `westcentralus` is picked, that shouldn't affect it.
We changed the test because the service updated the error codes.

As for the problem you are seeing, @ctstone looks like this is a service issue. Could you confirm?

[2020-08-24 17:47] jsquire commented on #14253
@markcowl:  I believe that you intended to address this to @memontic-ms, as the author of this issue.

[2020-08-24 17:51] jsquire commented on #14285
@AlexGhiondea:  Would you be so kind as to assist in routing?

[2020-08-24 18:47] jsquire commented on #14506
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-24 18:59] AlexGhiondea commented on #14285
/cc @nonik0 could you take a look?

[2020-08-24 19:24] #13903 closed

[2020-08-24 19:28] dandenton opened #14510 "Long periods of errors from service bus on single topic subscription"
While our application's service bus namespace had 0 incoming and outgoing messages, the receiver had the following exceptions for only a single topic/subscription:

[code]

Following that we got these errors every 1-4 minutes for the next 45 minutes.

[code]
Our application is configured to retry using the built in exponential backoff using:
[code]

All of the retries had the same TrackingID durin

[2020-08-24 20:42] ohadschn commented on #14506
Thanks!
Note that azcopy have a similar issue: https://github.com/Azure/azure-storage-azcopy/issues/701

I enabled diagnostics logging on the blob endpoint and was able to track the correlated error for a 290MB file. Fields of interest:
[code]

1. The duration is almost exactly 3 minutes, but I'm not aware of any default 3 minute timeout
1. Request body size is ~6MB but I didn't specify any `Stora

[2020-08-24 21:16] jsquire commented on #14510
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-24 22:02] #12951 closed

[2020-08-24 22:02] #14442 closed

[2020-08-24 22:04] maririos opened #14515 "Write up for moving to codegen process"

[2020-08-24 22:15] heaths commented on #14485
Yes, moving to v4 is highly recommended. As for the instances of either client, sharing an `HttpClient` among 1 or more clients is probably a better consideration than the clients themselves if lifetime is a concern. They are somewhat thin wrappers (in v4, the pipeline is much more extensible, but still ultimately relies on the `HttpClient`) over `HttpClient` and stateless. But, yes, tying an inst

[2020-08-24 22:19] heaths commented on #14477
Thanks, though, wouldn't it be `consumes`? It's part of the request header telling the server how much extra OData "stuff" to send.

[2020-08-24 22:27] pakrym commented on #14477
This value describes what format the server produces and the Accept header specifies what the client would prefer service to produce.

[2020-08-24 22:35] jlichwa commented on #7746
#please-close

[2020-08-24 22:44] jlichwa commented on #7746
@heaths can you take look, if updating documentation is enough.

[2020-08-24 22:50] heaths commented on #7746
Yes, that's fine. I see the PR didn't close this issue, so doing so now.

[2020-08-24 22:50] #7746 closed

[2020-08-24 23:10] JoshLove-msft commented on #14052
There were 5 participants, all experienced with Azure, Service Bus SDK, and Blob Storage SDK, with 4+ years of .Net experience

[2020-08-24 23:10] JoshLove-msft commented on #14052
UX study was completed, we got a lot of positive feedback, and have made some changes based on the study in https://github.com/Azure/azure-sdk-for-net/pull/14500

[2020-08-24 23:10] #14052 closed

[2020-08-25 00:54] #13444 closed

[2020-08-25 00:54] #13449 closed

[2020-08-25 02:12] jongio opened #14523 "[BUG] Azure.Tables Throws Exception when TableEntity contains enum"
I'm calling UpsertEntityAsync with a class that has an enum property.

[code]

Getting this error:

[code]

Do we support Enum properties?

If yes, how.

If no, what is the workaround?

azsdke2e

@christothes

[2020-08-25 02:46] pengfm opened #14527 "[QUERY] Nat Gateways for .net SDK"
Is there a NAT gateway SDK for Azure .net for SDK?

**Environment:**
 - Name and version of the Library package used: [Microsoft.Azure.Management.Network.Fluent, Version=1.0.0.66]

[2020-08-25 03:15] Tianyun-G opened #14528 "Azure.Messaging.EventHubs Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs#read-events-from-an-event-hub)
![image](https://user-images.githubusercontent.com/65581162/91112193-ffe63480-e6b4-11ea-835d-962f10000790.png)

Suggestion:
Update  "ReadEvents"  to  "ReadEventsAsync".

2.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/A

[2020-08-25 03:15] Tianyun-G opened #14529 "Azure.Security.KeyVault.Certificates Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Certificates#contributing)

![image](https://user-images.githubusercontent.com/65581162/91113823-037bba80-e6b9-11ea-9107-0421b147d363.png)

Reason:
1."CONTRIBUTING.md" should be a hyperlink.

Suggestion:
1.Update to `[CONTRIBUTING.md][contributing]`.
And Add:
[contributing]: https://github

[2020-08-25 03:16] Tianyun-G opened #14530 "Azure.Security.KeyVault.Keys Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Keys#contributing)

![image](https://user-images.githubusercontent.com/65581162/91114173-dc71b880-e6b9-11ea-93b6-b4523c1fb610.png)

Suggestion:
Add hyperlink for Conduct FAQ  https://opensource.microsoft.com/codeofconduct/faq/

@jongio for notification

[2020-08-25 03:16] Tianyun-G opened #14531 "Azure.Security.KeyVault.Secrets Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Secrets#contributing)

![image](https://user-images.githubusercontent.com/65581162/91114329-3a060500-e6ba-11ea-874b-20d999f3bc6e.png)

Suggestion:
Add hyperlink for Conduct FAQ  https://opensource.microsoft.com/codeofconduct/faq/

@jongio for notification

[2020-08-25 04:42] SeanFeldman commented on #14501
What would be the obvious benefit of a factory over constructors?

[2020-08-25 04:45] SeanFeldman commented on #14493
Please provide descriptions. Thank you.

[2020-08-25 04:53] JoshLove-msft commented on #14487
/cc @pakrym

[2020-08-25 04:55] JoshLove-msft commented on #14501
These are meant to be output only types. The factories would be provided to support mocking.

[2020-08-25 06:06] pratimaupadhyay02 opened #14535 "Parent class object nullifying child attributes in SDK function"
**Describe the bug**

public async Task<AzureOperationResponse<VaultStorageConfigOperationResultResponse>> BeginGetWithHttpMessagesAsync

In the above function the parent class VaultStorageConfigOperationResultResponse is nullifying the child class(PrepareDataMoveResponse) attributes.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/recoveryservices-backup/Microsoft.Azure.Management.Reco

[2020-08-25 06:10] Luyunmt opened #14536 "[Storage Blob]Some Implementations in track1 doesn't exist in track2, or have a different implementation"
Sample URL: https://github.com/Azure-Samples/storage-blob-dotnet-getting-started
Some Implementations in track1 doesn't exist in track2 in this sample, Details in the following table.
Service | Implementation   with Track1 | Implementation   with Track2
-- | -- | --
Storage blob | Line#130~131 [Link](https://github.com/Azure-Samples/storage-blob-dotnet-getting-started/blob/master/BlobStorage/Advan

[2020-08-25 07:39] axisc commented on #10852
my 2 cents - There is value in simplifying the client code by removing the overloads of the settlement methods that take the lock token. Some of the advantages are
  * Simpler day 1 scenarios (I do occasionally find myself in the day 1 developer shoes 👍  and intuitively look to complete the message itself).
  * Abstracting the service behavior and implementation.

[2020-08-25 09:42] JackXuCN commented on #12130
Use the solution here before Azure.Identity support SendX5c [https://github.com/Azure/azure-sdk-for-net/issues/12864#issuecomment-669291729](url)

[2020-08-25 13:05] jsquire commented on #14527
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-25 13:18] jsquire commented on #14535
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-25 15:07] pakrym commented on #14487
We should at least try to get it updated if you think it can be better.

[2020-08-25 15:28] christothes commented on #14523
Looks like this is being thrown [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/AutoRest/Utf8JsonWriterExtensions.cs#L110).  Investigating the right approach to support enum values and how this would work cross language.

[2020-08-25 16:56] pakrym opened #14543 "Update generator version & rerecord tests for management projects"
Because the live test pipelines were unavailable at the time of https://github.com/Azure/azure-sdk-for-net/pull/14407 the following projects were pinned to an old C# generator version.

To unpin remove `<TemporaryUsePreviousGeneratorVersion>true</TemporaryUsePreviousGeneratorVersion>`, run `dotnet msbuild /t:GenerateCode` and re-record tests.

- [ ] sdk\appconfiguration\Azure.ResourceManager.AppCo

[2020-08-25 17:05] pakrym opened #14544 "Update generator version & rerecord tests for synapse"
Because the live test pipelines were unavailable at the time of https://github.com/Azure/azure-sdk-for-net/pull/14407 the following projects were pinned to an old C# generator version.

To unpin remove `<TemporaryUsePreviousGeneratorVersion>true</TemporaryUsePreviousGeneratorVersion>`, run `dotnet msbuild /t:GenerateCode` and re-record tests.

- [ ] sdk\synapse\Azure.Analytics.Synapse.AccessContro

[2020-08-25 17:12] pakrym opened #14545 "Update generator version & rerecord tests for keyvault"
Because the live test pipelines were unavailable at the time of https://github.com/Azure/azure-sdk-for-net/pull/14407 the following projects were pinned to an old C# generator version.

To unpin remove `<TemporaryUsePreviousGeneratorVersion>true</TemporaryUsePreviousGeneratorVersion>`, run `dotnet msbuild /t:GenerateCode` and re-record tests.

- [ ] sdk\keyvault\Azure.Security.KeyVault.Administrat

[2020-08-25 17:18] kurtzeborn commented on #14427
Switching label from "EngSys" to "Client" since these labels are used to indicate who is working on the issue and not the area the issue is in.  In this case, we need the libraries team to implement the appropriate/preferred filtering to get the code coverage reports they want.  Dozie has already hooked up the tooling.

[2020-08-25 19:08] nonik0 commented on #14285
@nraghava123 Could you verify if the access token you are getting is for the identity you expect? Check your VS account settings under Tools > Options > AzureServiceAuthentication. You can also check the identity for the token by decoding the token (can use jwt.io) or by checking the AzureServiceTokenProvider.PrincipalUsed property.

Also, how specifically did you grant your identity access to SQL

[2020-08-25 19:22] sima-zhu commented on #14134
The change has merged into master. https://github.com/Azure/azure-sdk-for-net/commit/6dfeb2619dfc06b74aa7f87be354e96c1ca1b186
Closed the issue. Feel free to reopen if issue still exists.

[2020-08-25 19:22] #14134 closed

[2020-08-25 19:32] brandonh-msft opened #14548 "[FEATURE REQ] Ability to use Default Subscription ID when creating management client"
**Library or service name.**
`Azure.ResourceManager.Storage`

**Is your feature request related to a problem? Please describe.**
When using the Fluent API, I can do this:
[code]

Which picks the default subscription (presumably based on the given credentials); my application doesn't have to know its subscription id.

However, with the new libraries, the API (seemingly) requires subscription ID to

[2020-08-25 19:55] maririos opened #14549 "Make TextAnalyticsError and TextAnalyticsWarning readonly"
Mark them as immutable

[2020-08-25 19:59] jsquire commented on #14548
Hi Brandon.   Thanks for opening this.  Tagging and routing to the team member best able to assist.

[2020-08-25 20:19] jamesbr-ashn opened #14551 "[Azure.Identity] EnvironmentCredential evaluation order in documentation does not match code"
Within the documentation, the order is Secret -> Certificate -> Password. Within EnvironmentCredential.cs, the process is:
[code]

[2020-08-25 20:24] maririos opened #14552 "Add length and offset properties to all endpoints"

[2020-08-25 20:29] jamesbr-ashn opened #14553 "Incorrect term used in EnvironmentCredential summary"
The EnvironmentCredential.cs file contains the AZURE_CLIENT_CERTIFICATE_LOCATION term.

The code uses the environment variable AZURE_CLIENT_CERTIFICATE_PATH. This variable name should be used in the term to eliminate confusion.

[2020-08-25 20:42] jamesbr-ashn opened #14555 "Is DefaultAzureIdentity supported in .NET Core applications?"
**Query/Question**
How can we help?
Is DefaultAzureIdentity supported in .NET Core applications? If not, is there another encapsulation object that should be used?

**Environment:**
 - Name and version of the Library package used: Azure.Identity 1.2.2
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects):

Windows 2016/2019, .NET Core 3.1.x

 - IDE and

[2020-08-25 20:45] pakrym opened #14557 "KeyVault tests take long in playback"
[code]

cc @heaths

[2020-08-25 20:48] AlexanderSher commented on #14555
Yes it is. What exactly the problem you have?

[2020-08-25 20:57] heaths commented on #14557
We have some mandatory waits for anything deletion-related (can take a while to actually delete on the backend), so some of these may not be skipping the duration that for playback.

[2020-08-25 21:08] #14214 closed

[2020-08-25 21:35] #14181 closed

[2020-08-25 21:36] nraghava123 commented on #14285
Token has right user name,. Verified Tools->Options, this also right user name, Token has right PrinicipalUserID property.
In SQL I have give permission to my user principal.

When I connect to SQL thru SSMS by using AAD - Universal with MFA I am getting same error, Login failed for User '<empty>' Error 18456. I need to do some config setting in SQL server?

[2020-08-25 21:58] #13201 closed

[2020-08-25 22:21] AlexanderSher commented on #13610
Issue is fixed Azure.Core 1.4.1

[2020-08-25 22:21] #13610 closed

[2020-08-25 22:31] schaabs commented on #8698
We don't currently have plans to fix this. If there is a specific scenario that this blocks please feel free to reopen.

[2020-08-25 22:31] #8698 closed

[2020-08-25 22:32] AlexanderSher commented on #8424
Fixed in Azure.Identity 1.2.2

[2020-08-25 22:32] #8424 closed

[2020-08-25 22:34] AlexanderSher commented on #6711
Not needed right now.

[2020-08-25 22:34] #6711 closed

[2020-08-25 22:35] ramya-rao-a commented on #14493
cc @clemensv and @axisc for further clarification if needed

[2020-08-25 23:05] ramya-rao-a commented on #14489
_**Motivation for this change:**_

A desire to allow reading and writing of the different parts of an AMQP message as described by the AMQP spec. See "Message Format" in section 3.2 of the [AMQP spec](https://www.amqp.org/sites/amqp.org/files/amqp.pdf)

_**Guiding factors:**_
- Existing users used to accessing either AMQP properties like `messageId` or AMQP message annotations like `partitionKey`

[2020-08-25 23:10] chidozieononiwu commented on #12120
Yes we can specify sdk version in globals.json. I don't think we need to use any of the net Core Installer tasks as the version are already installed on the agents. Here is a job I ran without using them https://dev.azure.com/azure-sdk/internal/_build/results?buildId=509589&view=results
I wonder if we also have to set `RuntimeFrameworkVersion` property explicitly.

[2020-08-25 23:10] heaths opened #14563 "Figure out why Key Vault sample yields a warning"
sdk/keyvault/samples/sharelink is yielding a CS8601 warning about a possible nullref that no other code seems to yield.

[2020-08-25 23:13] weshaggard commented on #12120
I think we still need to set the RuntimeFrameworkVersion as I don't think we can easily control that with global.json.

Can you also do a test that verifies if the version of the SDK we specify in global.json isn't on the machine that it fails correctly?

[2020-08-25 23:14] axisc commented on #14510
@dandenton It is normal to have the service disconnect from the idle connections. These are just transient errors because you have nothing to send/receive and process.

Please remember that each QueueClient or SubscriptionClient is over an AMQP link which is a stateful bi-directional protocol layer connection that consumes compute. Closing idle links to preserve compute enables optimization of the

[2020-08-25 23:15] fenwickt commented on #14403
We've detected an issue with service configuration, it has been fixed and mitigated as of Aug 24 7pm UTC. Please let us know whether the issue is resolved for you.

[2020-08-25 23:15] axisc commented on #14380
I believe it just needs you have to have the .NET framework runtime installed.

[2020-08-25 23:35] axisc commented on #11213
closing this based on recommendations made on the thread. If there are still open questions, please open a new issue.

[2020-08-25 23:35] #11213 closed

[2020-08-25 23:48] ctstone commented on #13669
@XuGuang-Yao, I don't think cross-cloud copy is supported by Cognitive Services. Do you see expected results if you copy between `usgovvirginia` and `usgovarizona`?

The service should be returning _something_ though. I'll investigate this on our side.

[2020-08-25 23:49] axisc commented on #11169
@redtaped the management calls happen over REST and are synchronous, so it should not happen that the call returned but the entity was not available.

If you see this issue persist, please open a support ticket so that we can investigate internally.

[2020-08-25 23:49] #11169 closed

[2020-08-25 23:51] maririos opened #14564 "Update code to 3.1-preview.2"

[2020-08-25 23:59] idear1203 commented on #14544
@pakrym Thanks for reaching out. @wonner could you please help with this with high priority?

[2020-08-26 00:01] pakrym commented on #14544
Would be nice to add the live test pipeline as well.

[2020-08-26 00:05] idear1203 commented on #14544
Yes. We have prepared some test cases for pipeline, triggers, notebooks, etc. Will send out PR soon.

[2020-08-26 00:17] tg-msft commented on #14544
I think you both might be talking about different things?  @pakrym is talking about a DevOps pipeline configured to run Synapse tests against live Azure services and it sounds more like @idear1203 is talking about adding test cases for Synapse pipelines.  I'll follow up over email.

[2020-08-26 00:40] willyt150 opened #14566 "[QUERY] Where's the v5 equivalent to EventHubTrigger for Azure Functions?"
**Query/Question**
Sorry if I'm asking in the wrong location.

All the documentation for Azure Functions (and the Visual Studio Template) use the Microsoft.Azure.WebJobs.Extensions.EventHubs nuget package to setup an EventHubTrigger, but that's using the Microsoft.Azure.EventHubs nuget package.

Is there a new sdk that contains the EventHubTrigger?

Thanks!

**Environment:**
 - Name and version of

[2020-08-26 00:51] chidozieononiwu commented on #12120
Yes, it will throw an error if the correct sdk version is not found.
`A compatible installed .NET Core SDK for global.json version [3.1.301] from [C:\Git\azure-sdk-for-net\global.json] was not found`

[2020-08-26 00:54] SimonStHilaire commented on #14380
Oh, sorry for the lack of precision of my last question, I meant on iOs (iPhone). This is where I am trying to run my code calling teh Azure Service Bus.

Thank you

[2020-08-26 01:31] #14428 closed

[2020-08-26 01:31] #14346 closed

[2020-08-26 01:52] XuGuang-Yao commented on #13669
@ctstone, Thank you for the updates. The form recognizer service is located in `usgovvirginia `and I use the `usgovarizona `as wrong region to run this test. The result is as following.
[code]
This error is caused by updated error code doesn't work as expected, but the copy process does have the result returned.

@maririos , Could you please help to check why the `AuthorizationError `doesn't work?

[2020-08-26 05:27] blueww commented on #14548
@brandonh-msft
It seems your issue is for SDK [Microsoft.Azure.Management.Storage.Fluent](https://www.nuget.org/packages/Microsoft.Azure.Management.Storage.Fluent/).
If so, the project github repo for it is: https://github.com/Azure/azure-libraries-for-net , would you please raise your issue there?

[2020-08-26 05:38] blueww commented on #14548
@erich-wang , @pakrym
Would you please help to look at the “Azure.ResourceManager.Storage”  issue?
I see you have contribution to this lib.
Thanks!

[2020-08-26 06:27] axisc commented on #14380
do you have a specific need to use the .NET SDK? why not use the JS one - I'm not very familiar with iOS development so I'll let @jsquire  help route the query.

Even so, I'd recommend having your mobile device not talk to Service Bus directly because it needs a stateful AMQP connection to Azure Service Bus. You're probably better off having a REST endpoint your mobile app can talk to and that RES

[2020-08-26 06:49] erich-wang commented on #14548
This issue is assigned to @allenjzhang and he is right contact for addressing this request.

[2020-08-26 06:56] tomkerkhove commented on #14403
It's resolved now, thanks for looking into it!

[2020-08-26 06:56] #14403 closed

[2020-08-26 08:10] blueww commented on #14548
@erich-wang
Thanks Erich!
I will notice the issue since it have "Storage" tag, and system will notify me automatically.
Not sure if we can add some tag to differ the Track1 SDK issue from Track2 SDK issue, then I can skip the track2 SDK issues.

[2020-08-26 08:50] #12808 closed

[2020-08-26 10:17] nadirbad commented on #9490
@schaabs Thank you for examples. We managed to overcome this "blocker" by moving this piece of logic to our front-end application (React) and using Data Lake Storage Gen2 REST API instead.

[2020-08-26 11:27] mikeclayton opened #14580 "HTTP 400 from REST API when CosmosDB SqlContainers have TAB in name"
**Describe the bug**

This is possibly more an issue with the server-side REST API than the client library, but I'm not sure where to report it, so let me know if it should go somewhere else...

In short, I've inherited responsibility for a CosmosDB SQL Container which has *somehow* got a tab character in its name, and when I try to use the CosmosDb Client to query this container I get HTTP 400 er

[2020-08-26 11:52] SimonStHilaire commented on #14380
Maybe my design is wrong; I want to remote control an Hololens experience on one or multiple devices from a phone or tablet.  I need a realtime communication to send command to the devices. I want to be able to talk to each one wherever they are but maybe I can bring myself to use WiFi for this and think about a more decentralize solution later.

I am already planning to use the REST api to keep t

[2020-08-26 11:53] kees2125 opened #14581 "How do I use my users Azure AD login for my function app to access a blob storage"
I'm trying to create a function app that uses the users Azure AD authentication to access a blob storage container.
Currently, I'm trying to use the Bearer token with the "https://storage.azure.com/user_impersonation" scope that is passed in the authentication header. The Token Credential implementations currently don't support working with a bearer token directly so
I tried using a custom impleme

[2020-08-26 12:19] SimonStHilaire commented on #14380
But I really don't want to waste your time. I was able to make it work on an Android device so we can buy more of these and use the iPads for something else.

[2020-08-26 12:37] JacquesJamiesonLancom opened #14582 "[BUG] ClientSecretCredential authentication failed. Could not load file or assembly"
**Describe the bug**
Please provide the description of issue you're seeing.
Cant make call `SetSecretAsync()` in product without getting error message, runs fine locally without issue.

**Expected behavior**
What is the expected behavior?

Runs in production deployment

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
[code]

[code]

[code]

**To Reproduce**
Step

[2020-08-26 12:45] pherbel commented on #8653
EventData.ContentType property also should be in the Azure.Messaging.EventHubs package.

As I know that Azure.Messaging.EventHubs is the latest and Microsoft.Azure.EventHubs is considered as a legacy. Right?

@serkantkaraca Why is #14047 fix only in the legacy package?

Thanks

[2020-08-26 13:01] jsquire commented on #8653
Hi @pherbel: `Azure.Messaging.EventHubs` has a different development cadence and is not intended to evolve in parallel to `Microsoft.Azure.EventHubs`.    The addition of content type for `Azure.Messaging.EventHubs` is part of a larger effort to better expose the entire AMQP information model, which is still in the design phase.   I[#8656](https://github.com/Azure/azure-sdk-for-net/issues/8656) can

[2020-08-26 13:04] #7178 closed

[2020-08-26 13:12] jsquire commented on #14548
@blueww: This has been a subject of discussion amongst the triage team; currently, we've been asked not to make that distinction through tags.  The routing is intended to be done by ownership and not by generation of the SDK.  As second-level triage, Allen would make the determination for further routing and assign it to the correct individual or tag as `Service Attention` where appropriate.

[2020-08-26 13:34] jsquire commented on #14380
Apologies for the delay; Unity is not my area of expertise and I had to wait on an inquiry from some folks in the gaming space.  This particular error is rumored to be related to tree-shaking when the Mono build process prepares the iOS target.  Essentially, static analysis does not appear to be finding use of the types and is "shaking away" the types when linking in order to minimize the executab

[2020-08-26 13:40] jsquire commented on #14551
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-26 13:46] jsquire commented on #14566
Hi @willyt150.  The triggers and bindings for Azure Functions take a dependency on the client libraries for other services - meaning, that the Event Hubs library wouldn't offer any constructs specific to the Functions environment, rather the `EventHubTrigger` would need to make the decision to consume v5.x of the Event Hubs client.

To my knowledge, the Functions bindings have not yet been updated

[2020-08-26 13:51] jsquire commented on #14581
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-26 13:52] jsquire commented on #14582
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-26 14:01] willyt150 commented on #14566
Ok thanks @jsquire! One more question, do you happen to know if there are any issues using the 5.1 Event Hubs library to send event data and the old library and a function trigger/binding to read the data? I'm asking because we've run into issues with the v12 Storage Queues library and the v11 function trigger where the message had to be base64 encoded before it was sent otherwise the function tri

[2020-08-26 14:07] jsquire commented on #14566
I do; You should be able to cross the v4 and v5 versions of Event Hubs when publishing and consuming without issue.  The event message formats are compatible between them.

[2020-08-26 14:08] natelaff commented on #13899
Dead on previewing .NET 5 preview 8 because of this as well. First project I converted hit this.

[2020-08-26 15:03] christothes opened #14583 "Provide better response parsing for batch operations"
Currently batch operation responses return an arrray of `Response` objects without any deserialized value or explicit parsing of known headers such as `Location`, which identifies an inserted or updated entity.

Consider providing better response parsing and correlation between batch sub-request and batch sub-response.

[2020-08-26 15:56] pakrym commented on #14566
Yes, we are working on a new set of WebJobs extensions based on the new libraries. Unfortunately, it's a bit early for me to be able to name exact dates but it's coming.

[2020-08-26 16:26] jamesbr-ashn commented on #14555
No problem. We are using it for .NET Framework, and we were not sure about .NET Core. We’ll try a test implementation and report any problems/confusion in the process.

From: Alexander Sher <notifications@github.com>
Sent: Tuesday, August 25, 2020 1:49 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: James Bristow <JamesBr@ashn.com>; Author <author@noreply.github.com>
Subj

[2020-08-26 16:40] willyt150 commented on #14566
alright, hopefully that will come sooner rather than later :) (as with all things programming)

Thank you for answering my question.

[2020-08-26 16:40] #14566 closed

[2020-08-26 17:23] #11921 closed

[2020-08-26 17:37] m-nash commented on #14535
This is by design.

The way json deserialization works is if the json string has more parameters than the class it is being deserialized into the extra parameters will be discarded.

In this case the type VaultStorageConfigOperationResultResponse has zero properties so deserializing anything into that class will result in a loss of all data.

I am not sure if a pattern exists for this already, but

[2020-08-26 17:48] jsquire commented on #14535
Looping in @pakrym for his expertise on AutoRest.

[2020-08-26 17:53] jennifermarsman commented on #11435
This has been merged into Track 2 SDK.  PR: https://github.com/Azure/azure-rest-api-specs/pull/10308   @heaths can this issue be closed?

[2020-08-26 18:08] #14000 closed

[2020-08-26 18:13] m-nash commented on #14548
AB#4143

[2020-08-26 18:17] maririos commented on #8711
Because of the work in https://github.com/Azure/azure-sdk-for-net/issues/12951 this is no longer needed

[2020-08-26 18:17] #8711 closed

[2020-08-26 18:18] maririos commented on #8783
Because of the work in https://github.com/Azure/azure-sdk-for-net/issues/12951 this is no longer needed

[2020-08-26 18:18] #8783 closed

[2020-08-26 18:24] maririos commented on #13359
V-team talked about this and decided to leave as is. The reason, if renamed, it will look like:
[code]
Both object and property plural might confuse the user into what the difference is, and because of that we decided not to rename

[2020-08-26 18:27] g2vinay opened #14585 "[BUG] Identity SDK in source expecting Client-ID to always be a GUID"
**Describe the bug**
Identity SDK in the source/master is expecting the Client-ID parameter to always be a GUID.

**Expected behavior**
What is the expected behavior?
It should work for non GUID client Ids too.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

Throws the following exception:
Azure.Identity.AuthenticationFailedException: InteractiveBrowserCredent

[2020-08-26 18:40] #14555 closed

[2020-08-26 18:48] g2vinay opened #14587 "[FEATURE REQ] Add ability to set Redirect URI on Interactive Browser Credential."
**Library or service name.**
What library or service is this request related to?
Identity SDK.

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

Add the ability to set Redirect URI/URL  on Interactive Browser Credential.
This is required to support Interactive Browser Credential auth flow against Azure Stack a

[2020-08-26 18:50] heaths commented on #11435
Yes. Thanks for the reminder. Support for this will be in the Azure.Search.Documents package.

[2020-08-26 18:53] heaths opened #14588 "Regenerate the Search SDK to pick up any new authoring"
The following issue should already be in the SDK, but there has been discussion about other recent swagger changes that are coming soon. We should make sure we pick up the authoring and either do a servicing release or plan on a patch release along our normal release schedule.

[2020-08-26 19:00] axisc commented on #14510
had a sync with the team and realized that this needs further investigation. Reopening this to track.

[2020-08-26 19:01] dandenton commented on #14510
Thanks @axisc.  I realize transient errors are expected but it is strange that
1. The errors go on for long periods of time
2. They're resolved by restarting the application to restart the connection (isn't that what a retry of a transient error does if it's on the connection receiver)
3. They only happen on a single subscription and not any of the other 30-40

We're concerned about hiding transie

[2020-08-26 19:23] KPixel commented on #14000
Hi
What's the outcome of this issue? I don't see any reference to what closed it.

[2020-08-26 20:20] jsquire commented on #14000
Hi @KPixel.  This was closed because the work it was tracking has been completed.   Success criteria can be found in the description of the issue.   Was there something specific that you were interested in on this topic?

[2020-08-26 20:26] KPixel commented on #14000
I mean that I don't see any pull request / commit referencing it.

I am interested in studying how you implemented this stress testing.

[2020-08-26 20:39] jsquire commented on #14000
Unfortunately, the stress framework that we're leveraging at the moment is a an internal system that is not available publicly.   For what it's worth, an updated  and open source framework for stress and performance testing across the Azure SDKs is on the roadmap though I do not have visibility into it's scheduling.   The closest tracking issue that I can find is in the main [Azure SDK repository]

[2020-08-26 20:41] m-nash commented on #13818
I believe you are looking for
        public async Task<AzureOperationResponse<HybridConnection>> UpdateHybridConnectionWithHttpMessagesAsync(string resourceGroupName, string name, string namespaceName, string relayName, HybridConnection connectionEnvelope, Dictionary<string, List<string>> customHeaders = null, CancellationToken cancellationToken = default(CancellationToken))

which is found under

[2020-08-26 20:44] KPixel commented on #14000
Thank you for the information.
I will subscribe to that issue.

[2020-08-26 21:12] #14523 closed

[2020-08-26 22:04] AlexGhiondea commented on #14285
/cc @azureSQLGitHub

[2020-08-26 22:09] maririos commented on #14083
Currently considering making a `EntityDomaintType` enum (extensible?) and having PHI on it.
It will be included into the options bag of PII and the name of the parameter will be `domain`

[2020-08-26 22:11] maririos commented on #14083
Should the enum be flags enum? or extensible enum?
Asking if the user can ask for more than one domain at a time...

[2020-08-26 22:44] JoshLove-msft opened #14593 "Support multi-level registration for dependency injection"
Currently we can only register top level clients. It would be nice to be able to register a sub-client and still have the top level client disposed.
For example, ServiceBusClient and ServiceBusSender - I want to inject ServiceBusSender and I don't care about the client, but my app should still dispose the client when shutting down.

[2020-08-26 23:04] maririos commented on #13359
I took a look at how other libraries in .NET manage this, read the documentation, and asked the service if we could have multiple analysis executed in a single document. i.e. apply opinion mining, and emotion based analysis into this doc.
Answer is yes.

Here is a proposal for .NET [API View](https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7/0a7669f90b7249ddad28d589bdb1fed2#Az

[2020-08-26 23:39] tg-msft commented on #14536
Thanks for the help migrating!

-  For buffer management, Track 2 uses [`ArrayBool<byte>.Shared`](https://docs.microsoft.com/en-us/dotnet/api/system.buffers.arraypool-1.shared?view=netcore-3.1#System_Buffers_ArrayPool_1_Shared).  I don't see us making that configurable until we find a customer scenario that requires it.
- There's unfortunately not a great way to reliably get Primary/Secondary URIs

[2020-08-27 01:46] erich-wang commented on #6616
Close the issue as new package was released two months ago at https://www.nuget.org/packages/Microsoft.Azure.Management.ContainerInstance/3.0.0.

[2020-08-27 01:46] #6616 closed

[2020-08-27 03:57] wahyuen opened #14599 "[FEATURE REQ] Computer Vision - v3 Read API Suggestions"
**Library or service name.**
What library or service is this request related to? Cognitive Services - Computer Vision

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

The current v6.0.0-preview.1 SDK and documentation proposes customers to begin migrating off the soon deprecated v2 endpoints. As part of attem

[2020-08-27 04:43] wahyuen opened #14600 "[BUG] Computer Vision - v3 Read API - Language Field missing"
**Describe the bug**
The new v3 Read API has a `language` field per `line` that is returned in the `ReadResult`, however, this value is always `null`

**Expected behavior**
What is the expected behavior?
`language` to be populated with the detected language of the text that was read

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
Value is always `null`

**To Re

[2020-08-27 06:30] exvdev365 opened #14602 "Microsoft.Azure.Management.Consumption .NET package and ApiVersion"
Hi all,

I am trying to use the Microsoft.Azure.Management.Consumption 3.0.2 package to access the usage and consumption data on a Azure Suscription.

However in the call to UsageDetails.List, I get the following error:

"Subscription scope usage is not supported for current api version. Please use api version after 2019-10-01"

Is there a new version of the package (or is there expected to be) th

[2020-08-27 08:00] #12864 closed

[2020-08-27 09:52] andreaskoepf opened #14606 "[BUG] PageBlobWriteStream advances stream position twice during write"
**Describe the bug**
When a write-stream for a `CloudPageBlob` is created with `OpenWrite()` and data is written to the `StorageWriteStream` the stream's position is internally incremented twice. The two additions happen: 1. in the base class `StorageWriterStream` [here](https://github.com/Azure/azure-sdk-for-net/blob/322f6952e4946229949bd3375f5eb6120895fd2f/sdk/storage/Azure.Storage.Common/src/Sh

[2020-08-27 09:52] sachinpatel248 opened #14607 "Form Recognizer GetCustomModel(); sdk error -> Azure.RequestFailedException: 'The Form Recognizer API version used to create the model and the current API version used for GET model are incompatible. Status: 400 (Bad Request) ErrorCode: 1027"
### Query/Question
Using form Recognizer's labelling tool https://fott-preview.azurewebsites.net/ on **v2.1 public preview** I have trained a Custom model with labels. But not able to fetch available models & custom model using  (trainingClient.GetCustomModels(); & trainingClient.GetCustomModel()) using C# SDK
Though I'm able to fetch using API

### Using SDK - Azure.AI.FormRecognizer v3.0.0: Mode

[2020-08-27 10:04] #14582 closed

[2020-08-27 10:32] ohadschn opened #14608 "[BUG] DataLakeFileClient Upload / UploadAsync fail on readonly files"
**Describe the bug**
There are 3 places in `DataLakeFileClient` where a `FileStream` is created with unnecessary write access (implicit by the latter's ctor):
https://github.com/Azure/azure-sdk-for-net/blob/322f6952e4946229949bd3375f5eb6120895fd2f/sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs#L3111
https://github.com/Azure/azure-sdk-for-net/blob/322f6952e4946229949bd3375f5eb61

[2020-08-27 12:21] pratimaupadhyay02 commented on #14535
As discussed with @m-nash offline, we are already returning a parameter ObjectType from service which is used to deserialize into the proper child class.  We would expect a switch statement here in the autogenerated sdk code but its hardcoded to deserialize as the parent.

                try
                {
                    _result.Body = Rest.Serialization.SafeJsonConvert.DeserializeObject<

[2020-08-27 13:02] jsquire commented on #14285
Hi @nraghava123.  We've spoken with the SQL Server team and they let us know that the behavior that you're seeing is the expected behavior for your this scenario.

The underlying reason is that Azure Active Directory authorization is not supported for on-premises SQL Server instances, including Local DB.  That is also why you're unable to connect through SSMS.  This is not a limitation of the clie

[2020-08-27 13:10] jsquire commented on #14599
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-27 13:11] jsquire commented on #14600
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-27 13:12] jsquire commented on #14602
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-27 13:12] jsquire commented on #14606
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-27 13:14] jsquire commented on #14607
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-27 13:14] jsquire commented on #14608
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-27 14:04] maririos commented on #14607
Thanks @jsquire .

@sachinpatel248 when you say "Using API " you mean using directly the REST API? (looks like it but want to confirm).
Currently the 3.0.0 SDK only supports v2.0 of the service, which is why you won't be able to retrieve models created in later version.
We are working on 3.1-beta.1 which will start supporting v2.1-preview service version but estimated release date is mid October.

[2020-08-27 14:28] maririos commented on #13669
@XuGuang-Yao `AuthorizationError` is the error code we are getting from the service when we test to copy a model from a region we don't have access to (at least when using `westcentralus`, `westus2`, and `eastus2`

@ctstone could the service have a different version in `usgovvirginia` and therefore error codes are different?

[2020-08-27 16:44] pakrym commented on #14535
Switch at that point is not required because polymorphic deserialization is handled by a converter that's registered in https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/recoveryservices-backup/Microsoft.Azure.Management.RecoveryServices.Backup/src/Generated/RecoveryServicesBackupClient.cs#L632

Currently checked in code is missing the following registration:
[code]

Please re-generate th

[2020-08-27 17:12] pakrym opened #14612 "[Flaky test] BearerTokenAuthenticationPolicy_TokenAlmostExpiredThenFailed"
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=512248&view=ms.vss-test-web.build-test-results-tab&runId=12919552&resultId=102284&paneView=debug

[2020-08-27 17:25] pakrym opened #14614 "[WebJobs] Support configuration patterns"
https://github.com/Azure/azure-sdk-for-net/pull/14589 doesn't support all configuration fallbacks that existing webjobs extensions support.

This issue is about mirroring the logic from `IConfigurationExtensions.GetWebJobsConnectionString`

[2020-08-27 17:27] pakrym opened #14615 "Add support for recorded tests that are not directly testing rest clients and don't need sync/async mode"
Various extensions tests would benefit from it.

[2020-08-27 18:31] maririos opened #14619 "Improve TextAnalyticsClientLiveTests"
Ideas to make it better:
- Add regions for each group of tests per endpoint
- Or split the tests and create a class per endpoint
- Define common input documents and have tests consume that

[2020-08-27 18:40] maririos commented on #14090
Confirmed and it is ok to have it in PII and log it.

[2020-08-27 18:43] pratimaupadhyay02 commented on #14535
@pakrym I tried re-generating the code multiple times but somehow the above registration is not getting reflected in RecoveryServicesBackupClient. Is this some autorest related issue?

[2020-08-27 18:44] schaabs commented on #13504
@erich-wang as we have discussed online we won't be adding these properties to the `AccessToken` structure. Because this structure is returned from the `TokenCredential.GetToken` abstract method there would be no way to ensure this data would be returned as older implementations would not return this information. The `Authenticate` method has been added to credential types in Azure.Identity which

[2020-08-27 18:44] #13504 closed

[2020-08-27 19:20] lilyjma commented on #6772
@rthorn17 any updates on this?

[2020-08-27 19:22] lilyjma commented on #5568
hi @alex-zyl, are you still experiencing problem with this?

[2020-08-27 19:22] lilyjma commented on #7023
@VidyaSalimath is this still a problem for you?

[2020-08-27 19:25] lilyjma commented on #9203
@antcp, @AzureAppServiceCLI, do we have any updates on this?

[2020-08-27 19:38] #14585 closed

[2020-08-27 19:50] #13355 closed

[2020-08-27 19:50] #13357 closed

[2020-08-27 19:52] lilyjma commented on #5210
@gleek13 is this still a problem for you?

[2020-08-27 19:52] lilyjma commented on #5209
@SevketYALCIN is this still a problem for you?

[2020-08-27 20:09] lilyjma commented on #11932
@Azure/azure-logicapps-team please take a look

[2020-08-27 20:14] rthorn17 commented on #6772
This is not with the ARM team.  The Identity team would need to make the changes to their RP to add the feature request.

@jsquire > I see you updated the issue in Jun. Are you tracking this in a backlog for feature requests?

[2020-08-27 20:16] joechung-msft commented on #11932
@penggaolai there is a `ListNext` method to follow the continuation (_nextLink_) returned by the `List` method so you can get more run actions. The `ListNext` can also return a continuation (_nextLink_) so you might need to call it more than once.

Reference
[Azure SDK for .NET documentation](https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Microsoft.Azure.Management.Logic/4.1.0/api/Microsof

[2020-08-27 20:20] #8142 closed

[2020-08-27 20:23] jsquire commented on #6772
@rthorn17 - I am not; this was moved to allow it to pass automated issue validation.  The repository standards require that anything tagged `feature-request` be assigned to a milestone.   `Backlog` is the default which comes with no assumed timeline.

[2020-08-27 20:26] jsquire commented on #6772
@AlexGhiondea:  Would you be so kind as to help route this to the appropriate team.  I'm not sure which tag/group is appropriate for the management plane Identity area.

[2020-08-27 20:57] kedzior-io opened #14625 "[QUESTION] How to compress files to zip and upload to azure blob storage?"
**Question**
I'm having strange problem with this piece of code which basically zips files and uploads them to blob storage.
Testing zip file and saving it locally produces a valid zip (164 bytes). Saving zip to blob storage (using storage emulator) produces invalid zip (102 bytes).

v11SDK:

[code]
v12SDK:

[code]

**Environment:**
`Azure.Storage.Blobs" Version="12.5.1" `

`Microsoft Azure Storag

[2020-08-27 21:07] pakrym opened #14626 "Move JsonPatchDocument to Azure.Core"
Follow-up to https://github.com/Azure/azure-sdk-for-net/issues/13474

[2020-08-27 21:23] mattatmicrosoft opened #14627 "[BUG] LUIS .NET Runtime SDK stripping $instance entry from entity dictionary in prediction"
**Describe the bug**
According to the quick start documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/luis/quickstart-sdk?pivots=programming-language-csharp and source code here https://github.com/Azure-Samples/cognitive-services-quickstart-code/tree/master/dotnet/LanguageUnderstanding/sdk-3x) the PredictionResponse.Prediction.Entities dictionary should contain a key and assoc

[2020-08-27 21:31] jsquire commented on #14625
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-27 21:32] jsquire commented on #14627
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-27 21:37] #13474 closed

[2020-08-27 22:01] chidozieononiwu commented on #9057
Closing this issue as its the same as https://github.com/Azure/azure-sdk-for-net/issues/12120

[2020-08-27 22:01] #9057 closed

[2020-08-27 22:12] pakrym opened #14630 "[WebJobs] Support both explicitly registered and config based clients"
Including cleaning up error messaging when no registration is found.

[2020-08-27 22:49] frankbuckley commented on #13899
Are there plans to release a fixed package soon?

[2020-08-27 23:30] mattatmicrosoft commented on #14627
I figured out the issue.  There is an optional verbose parameter on LUISRuntimeClient.Predition.GetSlotPredictionAsync that is absent in the sample code.  This parameter must be set to true to get the expect output.

To fix, update the sample Program.cs script in {root}\dotnet\LanguageUnderstanding\sdk-3x. Change the following line (line 84) from:

[code]

to

[code]

[2020-08-28 02:07] g2vinay opened #14639 "VS Code +. Visual Studio credential should throw Credential Unavailable Exception for adfs tenants"
VS Code and Visual Studio IDE do not support ADFS authorities
Their respective credentials should throw Credential Unavailable Exception to avoid breaking DAC auth flow.

Throw CredentialUnavailableException is if supplied tenant id equals `adfs`;

Verify Sovereign cloud support for Visual Studio Azure Plugin/Extension.
Does it accept authority host/ URL from user settings ?

[2020-08-28 06:38] tzhanl opened #14655 "Support Environment Variable "AZURE_LOG_LEVEL""
Based on the environment variables identified in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md. Adding support for Environment Variable "AZURE_LOG_LEVEL".

@jongio for notification.

[2020-08-28 07:36] sachinpatel248 commented on #14607
Thanks, @maririos

Yes, your assumption is correct I did mean REST API when said "using API".
And thanks very much for clarifications & planned release date for a newer version of SDK.

[2020-08-28 07:36] #14607 closed

[2020-08-28 07:40] cxznmhdcxz opened #14662 "Support Environment Variable "AZURE_RESOURCE_GROUP""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for environment variable "AZURE_RESOURCE_GROUP"

@jongio

[2020-08-28 08:00] #13995 closed

[2020-08-28 08:03] cxznmhdcxz opened #14665 "Support Env Var "AZURE_LOG_LEVEL""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for these environment variables:
&nbsp;&nbsp;&nbsp;&nbsp;  "AZURE_LOG_LEVEL"
</br>

@jongio

[2020-08-28 08:04] #14665 closed

[2020-08-28 08:38] cxznmhdcxz opened #14667 "Support Environment Variable "AZURE_CLOUD""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for environment variable "AZURE_CLOUD"

@jongio

[2020-08-28 08:40] cxznmhdcxz opened #14668 "Support Environment Variable "AZURE_SUBSCRIPTION_ID""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for environment variable "AZURE_SUBSCRIPTION_ID"

@jongio

[2020-08-28 08:49] dazinator opened #14669 "[BUG] - occasional timeout trying to send message to service bus queue"
**Describe the bug**
Our asp.net core 3.1.0 application is running on Azure Web App for Windows Containers as a docker image.
Every so often we are seeing calls to add a message to a service bus queue, fail with a timeout:

![image](https://user-images.githubusercontent.com/3176632/91540355-995e5200-e912-11ea-9f4b-0eda473c3e16.png)

Stack trace in text format:

 ---> System.Net.Sockets.SocketExcep

[2020-08-28 09:25] alex-zyl commented on #5568
@lilyjma
I'm good now.
But, tbh, I don't remember already either this issue was fixed on APIM/sdk side or I'd found a workaround :)
But I think we can close the issue.

[2020-08-28 09:47] frankbuckley commented on #13899
Workaround: TransportType=AmqpWebSockets

[2020-08-28 12:34] davidobrien1985 commented on #14169
@jsquire @allenjzhang any update on this please?

[2020-08-28 12:59] jsquire commented on #14169
Hi @davidobrien1985.   Unfortunately, I'm just first-line triage in this case and don't have visibility.  @m-nash or @markcowl - would you be able to assist with an update?

[2020-08-28 13:14] christothes opened #14673 "Consider implementing byte[] property types as BinaryData"
# Summary
Consider replacing `byte[]` property types with `BinaryData`

# References
[PR discussion](https://github.com/Azure/azure-sdk-for-net/pull/13561/files/3735b0ffac817733662327c99df8efc1ced93a34#r458369441)
[BinaryData type](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/System.Memory.Data/src/BinaryData.cs)

[2020-08-28 13:29] TonyMalandain commented on #13995
My apologies. I got busy and didn't get a chance to follow-up.
As an FYI in case it happens to others.
We were able to confirm that the library works fine in a console test app and web app.
The issue seems to be deeper in the .Net framework as it impacts any HTTPClient calls, not just the Azure Search client library

[2020-08-28 13:43] jsquire commented on #14669
Hi @dazinator.   Thank you for your feedback and we regret that you're experiencing difficulties.  Unfortunately, timeouts and transient failures are inherent in any network environment, whether running entirely within the Azure infrastructure or elsewhere.   Applications should expect to encounter occasional transient network issues and guard against them.

To assist with these scenarios, each of

[2020-08-28 15:44] dazinator commented on #14669
Ok thanks. I guess I was just concerned that the in-built tolerance didn't catch the transient fault within azure infrastructure. We will look at taking control over the retry policy, but also moving to the premium tier as I understand the standard tier service bus is shared infrastructure and subject to much more variability in performance. Thanks for the pointers.

[2020-08-28 15:44] #14669 closed

[2020-08-28 17:04] maririos opened #14675 "Form Recognizer 3.1-beta.1"

[2020-08-28 17:10] maririos commented on #14607
Sure. We will post more information in this issue: https://github.com/Azure/azure-sdk-for-net/issues/14675 so you can follow the progress of the work/features/release for 3.1-beta.1

[2020-08-28 17:11] #14549 closed

[2020-08-28 18:50] christothes opened #14679 "Ensure entity PartitionKey and RowKey can be nullable"
If partitionKey & rowKey are not explicitly specified in the Select expression for query operations, they are not returned in the result objects. Ensure this is handled properly by the client.

[2020-08-28 19:55] #12017 closed

[2020-08-28 20:36] #14564 closed

[2020-08-28 21:42] praneshas1990 commented on #3460
@martijnbrands1978 , thanks for the solution, i've used the below to ensure requests to storage account don't get any headers added by app insights
[code]

Other than the headers not being added, is there any other impact to app insights and dependency tracking by doing this fix.
Since i have to go and change each and every applicationinsights.config in all my apps, is there something we can do to

[2020-08-28 21:58] TylerLeonhardt opened #14685 "[BUG] [SDK Author] Recording tests leaves me with a single .ctor.json file"
**Describe the bug**

I'm trying to record tests for [an updated HybridCompute SDK](https://github.com/TylerLeonhardt/azure-sdk-for-net/tree/update-hybrid-compute). When I run them using:

[code]

**Expected behavior**
after running this, I expect to see a json file for every test like the instructions say

**Actual behavior (include Exception or Stack Trace)**
I see a single file per test file:
!

[2020-08-29 03:46] #14489 closed

[2020-08-29 04:58] seanmcc-msft commented on #14606
Note that this is for the V11 library.

[2020-08-29 07:55] andreaskoepf commented on #14606
@seanmcc-msft You mean V12, don't you? At least the versions of `Azure.Storage.Blobs` and `Azure.Storage.Common` that I used to reproduce the bug locally both were `12.5.1` and the source files to which I refer are both part of a commit that was merged 16 days ago.

[2020-08-29 09:37] mithunshanbhag commented on #9611
Anyone know what's the latest status on this? Any alternatives or workaround while using SDK 12?

[2020-08-29 14:06] chris5287 commented on #14180
[Microsoft.Azure.OperationalInsights](https://www.nuget.org/packages/Microsoft.Azure.OperationalInsights/) works well, just wondered if its going to get any ❤ as its been a preview release since 2018?

[2020-08-29 17:31] seanmcc-msft commented on #14606
Yes this is V12, I was confused by the references to `CloudPageBlob`, which is a class from V11, and not present in V12.

[2020-08-29 18:59] christothes commented on #14249
Have we considered leveraging [git LFS](https://docs.github.com/en/github/managing-large-files/configuring-git-large-file-storage) for this scenario? For example, recordings over a certain size could be saved with a different file extension and configured to be tracked with LFS.

[2020-08-29 20:40] snapfisher opened #14691 "[BUG] Azure.Identity: AzureCliCredential times out"
**Describe the bug**
Please provide the description of issue you're seeing.

I am making a call to GetBlobContainers() from a BlobServiceClient using the AzureCliCredential.  The error I receive is {"The ChainedTokenCredential failed due to an unhandled exception: Azure CLI authentication timed out."}.  I am running a C# Azure Function from within Visual Studio

**Expected behavior**
What is the e

[2020-08-30 01:30] JoshLove-msft opened #14694 "Add EnableExpress to admin client"
See JS issue for background on this feature - https://github.com/Azure/azure-sdk-for-js/issues/10893
We would want to include this new property in [CreateQueueOptions](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Management/CreateQueueOptions.cs)/[QueueProperties](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Mes

[2020-08-30 05:54] mitchdenny opened #14695 "[BUG] CryptographyClient not usable with ASP.NET Core/Azure Functions dependency injection."
**Describe the bug**
Consider the following code in ```Startup.cs```:

[code]

I then later inject CryptographyClient into a another piece of code. Problem is -- which key does ```CryptographyClient``` point to? In order to construct a ```CryptographyClient``` we need a key ID from KeyVault to feed into the constructor. It isn't easy to learn from the API surface how to do this inside the DI conta

[2020-08-30 07:23] andreaskoepf commented on #14606
@seanmcc-msft sorry for the confusion, I was indeed porting/updating old code to the new sdk. I should have written `PageBlobClient` of course and not `CloudPageBlob`...

[2020-08-30 12:07] LeaShallev commented on #12969
Do you have any answer about it?

[2020-08-31 02:54] wahyuen opened #14701 "[BUG] Face API - Breaking changes between 2.5.x to 2.6.x"
**Describe the bug**
Please provide the description of issue you're seeing.
Breaking API changes between 2.5 and 2.6.

**Expected behavior**
What is the expected behavior?
Non breaking changes to occur between minor version releases.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
`AddFaceFromUrlAsync`
2.5 had signature of `IList<int> targetFace = null`
2.6 has

[2020-08-31 04:37] sumantmehtams commented on #12969
Adding @rahuldutta90 to confirm whether this property relates to append or upload.

[2020-08-31 07:05] SeanFeldman opened #14705 "[QUERY] Accessing QueueMessage.MessageText as byte array"
**Query/Question**

In `WindowsAzure.Storage` SDK, `CloudQueueMessage`  payload could be accessed as an array of bytes using `.AsBytes`.
With `Azure.Storage.Queues` the only option to access the payload is as text using `MessageText`.

How to access message payload as a byte array?

**Update**: The support for byte array was in SDK v11 and the change was in v12, dropping the support for `byte[]`.

[2020-08-31 13:21] jsquire commented on #14691
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-31 13:23] jsquire commented on #14701
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-31 13:24] jsquire commented on #14705
Hi Sean.  Thanks for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-31 13:55] kedzior-io commented on #14625
I already have answer to that:
https://stackoverflow.com/questions/63623674/how-to-compress-files-to-zip-and-upload-to-azure-blob-storage

v11

[code]

v12

[code]

[2020-08-31 13:55] #14625 closed

[2020-08-31 13:56] jsquire opened #14710 "Idempotent Publishing Support: Service Integration"
# Summary

When publishing events to Event Hubs, timeouts or other transient failures may introduce ambiguity into the understanding of whether a batch of events was received by the service. Because Event Hubs has an at-least-once guarantee for delivery and consumers are strongly encouraged to be idempotent in their processing, the common approach is to resend any batch where the status of receipt

[2020-08-31 14:18] jsquire opened #14711 "Shared Access Signature Connection String Support"
# Summary

When using Event Hubs, one common scenario is for untrusted parties, such as IoT devices, to publish events to a given Event Hub.  Because these callers are untrusted, it is desirable to manage them at a granular level that doesn't impact all interactions with an Event Hub.  In many cases, using AAD principals is either not possible due to device support, undesirable due to the overhead

[2020-08-31 14:24] jsquire opened #14712 "Shared Access Signature Connection String Support"
# Summary

When using Service Bus one common scenario is for untrusted parties, such as IoT devices, to publish events to a given entity.  Because these callers are untrusted, it is desirable to manage them at a granular level that doesn't impact all interactions with an entity.  In many cases, using AAD principals is either not possible due to device support, undesirable due to the overhead of ma

[2020-08-31 15:10] TomGeske commented on #5841
Is this one still active? It should work by now ...

cc: @aramase

[2020-08-31 15:34] pakrym commented on #14695
What would you want to use the client for? The use-case I had in mind is using a key to encrypt/decrypt some data. Typically you pick this key beforehand and keep using the same one.

Somewhat similar to https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/README.md#examples

[2020-08-31 16:39] annelo-msft commented on #14303
Completed.

[2020-08-31 16:39] #14303 closed

[2020-08-31 16:39] annelo-msft commented on #14305
Completed.

[2020-08-31 16:39] #14305 closed

[2020-08-31 17:38] maririos commented on #13358
Add something to the Readme about opinion mining and link to the sample

[2020-08-31 17:43] #14490 closed

[2020-08-31 18:08] #14619 closed

[2020-08-31 18:59] pharring commented on #14480
@pakrym I have hit this error when I upgraded my service (you know the one) to consume Azure.Storage.Blobs 12.5.1
We started seeing a new unit test failure (413, as above) because it can no longer upload a large blob to the emulator.

On investigation, this regressed in Azure.Storage.Blobs between 12.5.0-preview.4 and 12.5.0-preview.5 (and persisted in preview.6 and 12.5.1 stable)

[2020-08-31 19:00] #14501 closed

[2020-08-31 19:05] JoshLove-msft commented on #14008
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/14692

[2020-08-31 19:05] #14008 closed

[2020-08-31 19:08] #14493 closed

[2020-08-31 19:09] #14492 closed

[2020-08-31 19:11] JoshLove-msft commented on #13022
We have tentative approval for the medium term strategy of exposing via extension methods. With the introduction of the AmqpAnnotatedMessage type, this will morph into exposing these other body types directly on this type.

[2020-08-31 19:11] #13022 closed

[2020-08-31 19:13] JoshLove-msft commented on #13920
@chris-skuvault did you have any more questions here? Otherwise I will go ahead and close out this issue. Thanks!

[2020-08-31 19:16] SteppingRazor commented on #14126
@jsquire I won't get any answer from these guys, won't I?

[2020-08-31 19:35] JoshLove-msft opened #14714 "Processor lifecycle changes"
- Add explicit Close methods taking a CloseMode enum that currently just has one value (Detach). In the future, this list will grow as the service adds support for Drain and durable terminus. This should be added to Sender/Receiver/Processor/SessionProcessor.
- Implement IAsyncDisposable for consistency with sender/receiver.
- StopProcessing should not actually close links - it should stop receivi

[2020-08-31 19:48] pakrym commented on #14480
cc @seanmcc-msft @kasobol-msft

It seems this is a 12.5.0 regression with partner impact.

[2020-08-31 19:59] pharring commented on #14480
This appears to be a result of changing Constants.Blob.Block.MaxUploadBytes from 256MB to 5000MB.
As a workaround, if you know you're dealing with the emulator, then you can set the InitialTransferSize in TransferOptions to 256MB and pass that in the BlobUploadOptions to UploadAsync.

[2020-08-31 20:09] #10814 closed

[2020-08-31 20:09] #13877 closed

[2020-08-31 20:09] #14080 closed

[2020-08-31 20:32] jaschrep-msft commented on #14480
The storage emulator isn't actively supported anymore, and as such does not receive upgrades to APIs made on the storage service. 12.5.0 added support for the new service version which upped the maximum size for several upload operations. The SDK changes, including updating the "max size" properties on clients, were introduced in preview 5, which corresponds to the finding from @pharring that this

[2020-08-31 20:38] jaschrep-msft commented on #14480
Rereading the initial post, it looks like you're looking for max sizes for stage block. You'd want `BlockBlobMaxStageBlockLongBytes`. Those values are pre 2019-12-12 = 100MB and post = 4000MB.

[2020-08-31 20:42] #12726 closed

[2020-08-31 21:04] amishra-dev commented on #14480
@willyt150 Travis, we already have a replacement for Storage Emulator. Its called Azurite and we would highly encourage you to move to it. @vinjiang (Vincent) and I can help you with any porting help you might need.

[2020-08-31 21:12] #14606 closed

[2020-08-31 21:19] pharring commented on #14480
@jaschrep-msft setting the blob client did **NOT** fix the problem.
I tried `BlobClientOptions.ServiceVersion.V2019_02_02` and `BlobClientOptions.ServiceVersion.V2019_07_07` and they both failed with the same error.
I think the problem (bug?) is that PartitionedUploader doesn't look at the limits set in the client. It reads the constants directly.

[2020-08-31 21:24] jsquire commented on #14126
@SteppingRazor:  I'm sorry that you haven't gotten one yet, and I sincerely hope that we can get you one.

@AlexGhiondea, @lilyjma:  Do either of you have a contact that you could help route to,; it seems the service team alias isn't responding.

[2020-08-31 22:31] schaabs commented on #14691
@snapfisher Thanks for filing this issue, sorry you're running into this problem. To help troubleshoot the issue, after you have logged into the CLI with this specific account can you try to run the following command:

If this command succeeds approximately how long does it take to return?

(Please don't share the output of this command as it will contain an access token which can gain access to y

[2020-08-31 22:33] jaschrep-msft commented on #14480
@pharring  Ah I see. If the user weren't actually setting their transfer settings based on what their clients specify as max values, our defaults assume latest service version limits. Or are you saying you're setting your transfer settings based on client property values and still hitting this? Your text seems to indicate you're setting values yourself but the code you link to says you're relying

[2020-08-31 22:47] jaschrep-msft opened #14724 "[BUG] PartitionedUploader default transfer settings are pulled from constants instead of injected clients"
**Describe the bug**
As discussed in https://github.com/Azure/azure-sdk-for-net/issues/14480, `PartitionedUploader` relies directly on constants for default transfer settings, including for max Put Blob and max Put Block size. If a user tries to upload from a client configured to a service version pre 2019-12-12, these values will be incorrect, and the uploader may push data too large for the serv

[2020-08-31 23:04] pharring commented on #14480
@jaschrep-msft
When I hit the bug (413 from the emulator when uploading more than 256MB), all I did was upgrade to the latest Azure.Storage.Blobs nuget (12.5.1).
I was using the default BlobServiceClient constructor (which, I assume, chooses the latest service version) and the default BlobUploadOptions which has the default TransferOptions.
I only started playing with the TransferOptions when I st

[2020-08-31 23:17] snapfisher commented on #14691
It succeeds.  Approximately 2.75 seconds.

[2020-08-31 23:35] mitchdenny commented on #14695
In my particular use case I'm generating a auth token for GitHub which requires me to sign a JWT with a certificate that they provide. In my case I can pre-create the ```CryptographyClient``` instance in ```Startup.cs```. So I can solve the issue, my main point was that the ```AddCryptographyClient``` extension method doesn't appear to be useful?

[2020-08-31 23:37] heaths commented on #14695
That is the use case, yes: it has to point to a key ID: <https://docs.microsoft.com/dotnet/api/azure.security.keyvault.keys.cryptography.cryptographyclient.-ctor?view=azure-dotnet#Azure_Security_KeyVault_Keys_Cryptography_CryptographyClient__ctor_System_Uri_Azure_Core_TokenCredential_>

That said, the parameter name / description of `AddCryptographyClient` isn't correct.

[2020-08-31 23:40] heaths commented on #14695
@mitchdenny yes, if you don't know the key ID (URI) up front, adding the crypto client in `Startup` is probably not useful. The crypto client is designed to work with a single key. Sounds like what you really want is a `KeyResolver`. I'm not sure how useful it is since it will fetch a key on demand each time and create a new `CryptographyClient` each time. The only thing it would cache is the `Htt

[2020-08-31 23:41] seanmcc-msft commented on #14404
Resolved with https://github.com/Azure/azure-sdk-for-net/pull/14511.

[2020-08-31 23:41] #14404 closed

[2020-08-31 23:47] maririos commented on #14083
Will leave it as enum. Because it is input, then adding new domains will bump the version of the API.
If the user wants to ask for more than one domain at a time, it will need to do multiple requests, so no need for the flags enum.

[2020-09-01 00:09] maririos commented on #14091
BingId is used to find the entity in the Microsoft graph using the Bing Entity Search (BES) AP
It is for more advanced users

[2020-09-01 00:10] maririos commented on #14091
Because of how specific it is, I'm proposing going with `BingSearchAPIID` instead of `BingID` to make sure the user knows that this is not for everyone and that it is "complicated" enough that unless they need it, they shouldn't care

[2020-09-01 00:33] maririos commented on #14091
There are more Bing APIs https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/bing-api-comparison?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fcognitive-services%2Fbing-autosuggest%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json
which makes us more convinced that being specific about the name of the service is the way to go

[2020-09-01 01:00] serkantkaraca opened #14732 "[BUG] Microsoft.Azure.EventHubs releasing the lease before IEventProcessor.CloseAsync is called."
**Describe the bug**
Clients cannot checkpoint anymore in the IEventProcessor.CloseAsync since lease would be already released.

**Expected behavior**
Lease should be available to persist latest position on the partition.

**Actual behavior (include Exception or Stack Trace)**
Checkpoint call in CloseAsync throws LeaseLostException

**Environment:**
 - Name and version of the Library package used:

[2020-09-01 01:32] heaths opened #14734 "Consider whether to throw more detailed exceptions for LocalCryptographyClient"
In all cases I re-examined, return null means something of the algorithm is not supported by our client. Given the fall through to the remote provider, I do log ETW events with more specific details. We can consider conditionally throwing exceptions if doing local-only.

_Originally posted by @heaths in https://github.com/Azure/azure-sdk-for-net/pull/14677#discussion_r480556531_

[2020-09-01 02:26] heaths commented on #14557
I was running into this while fixing another bug, so I fixed it now (it was as I thought about the polling interval).

[2020-09-01 02:39] XuGuang-Yao commented on #14170
@christothes Thank you for your help. The issue is resolved.

[2020-09-01 02:39] #14170 closed

[2020-09-01 02:48] #14557 closed

[2020-09-01 02:49] heaths commented on #9833
Closed with #14677

[2020-09-01 02:49] #9833 closed

[2020-09-01 02:51] JoshLove-msft commented on #14685
@TylerLeonhardt, just so I can make sure we are on the same page, are you trying to integrate your tests with the Track 2 [Test Framework](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Azure.Core.TestFramework)? Are you working on a new Track 2 management library?

[2020-09-01 03:12] #14380 closed

[2020-09-01 03:33] danieljurek commented on #13111
@tzhanl -- Please try the pipeline again and let us know if it's passing or failing.

[2020-09-01 03:34] idear1203 opened #14740 "[FEATURE REQ][Synapse] Setup a live test pipeline"
**Library or service name.**
What library or service is this request related to?
[Azure.Analytics.Synapse.*]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
1. https://github.com/Azure/azure-sdk-for-net/pull/14575#discussion_r480399345
2. https://github.com/Azure/azure-sdk-for-net/issues/14544

[2020-09-01 05:35] hund030 opened #14742 "[BUG] ListResourceUsage throws an exception on CdnProfiles"
**Describe the bug**
I am trying using dotnet sdk manage my CDN profiles and endpoints, I know that a subscription can have no more than 25 CDN profiles and I want to get this number with sdk api, instead of hard coding `25` in my program.

My code looks like this:
[code]

When I call [`ListResourceUsage()`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.cdn.fluent.icdnprof

[2020-09-01 08:19] hund030 opened #14749 "[FEATURE REQ] Create CDN profile with standard microsoft SKU"
**Library or service name.**
What library or service is this request related to? [Microsoft.Azure.Management.Cdn.Fluent]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
I want to create a CDN profile with standard microsoft SKU. I can do this on Azure Portal while SDK for .NET doesn't provide such a method, a

[2020-09-01 08:47] romisak opened #14750 "[BUG] When blob contains no metadata then BlobItem.Metadata is null even if BlobTraits.Metadata was specified"
**Describe the bug**
When blob contains no metadata then BlobItem.Metadata is null even if BlobTraits.Metadata was specified for versions 12.5.1 or 12.6.0

**Expected behavior**
Metadata should be a dictionary with no items

**Actual behavior (include Exception or Stack Trace)**
Metadata is null

**To Reproduce**

            string connectionString = "";
            string containerName = "test-c

[2020-09-01 08:54] davidobrien1985 commented on #14169
@m-nash @markcowl do you have an update for us?

[2020-09-01 10:52] #5209 closed

[2020-09-01 12:42] jsquire commented on #14742
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-01 12:43] jsquire commented on #14749
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-01 12:44] jsquire commented on #14750
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-01 13:02] josh-endries opened #14752 "[QUERY] Microsoft.Azure.ServiceBus: Is there any way via Peek to determine if a message is received/locked?"
During a Peek operation, which the [docs](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-browsing) describe as "typically for diagnostic and debugging purposes" (and I agree), there doesn't seem to be any way to tell if a message is currently being processed (is received/locked).

While holding a message via PeekLock in another script, every message I peek has IsReceived=True

[2020-09-01 13:32] ohadschn opened #14753 "[FEATURE REQ] Align with azcopy retry settings (20 attempts)"
**Library or service name.**
All of `Azure.Storage`

**Is your feature request related to a problem? Please describe.**
I have ran into timeouts that look like this, trying to upload ~400MB files using slow connections:
[code]
I suspect `azcopy` has more optimized retry parameters, especially for upload. Looking at their code, the main difference seems to be the retry count of **20** (for uploads)

[2020-09-01 14:14] brettsam opened #14755 "Add a CloudQueueMessage.Clone() API"
**Azure.Storage.Queues**

*Note: This is an older issue that we just realized wasn't being tracked anywhere. We have [a workaround where we use reflection to manage this](https://github.com/Azure/azure-webjobs-sdk/pull/1141/files), but ideally we'd be able to remove that in the future.*

I'm from the Azure Functions team -- we’ve got some built-in functionality that will move a queue message to a

[2020-09-01 14:33] jsquire commented on #14752
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-01 14:33] jsquire commented on #14752
//cc: @JoshLove-msft, @MiYanni

[2020-09-01 14:35] jsquire commented on #14753
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-01 14:36] jsquire commented on #14755
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-01 14:47] josh-endries commented on #14752
I just tried what I think is the newest version of this lib, Azure.Messaging.ServiceBus (v7? preview), but it exhibits the same behavior described above, at least in the simple `ServiceBusReceiver.PeekMessagesAsync` case. Doh.

[2020-09-01 15:09] TylerLeonhardt commented on #14685
@JoshLove-msft I don't really know what Track 2 is. I'm just trying to update the tests for my updated generation of the HybridCompute module:
https://github.com/TylerLeonhardt/azure-sdk-for-net/tree/update-hybrid-compute/sdk/hybridcompute/Microsoft.Azure.Management.HybridCompute/tests

I followed this guide:
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/78/Mgmt-.NET-SDK-relea

[2020-09-01 15:44] tg-msft commented on #14705
+@kasobol-msft who is thinking about this.

[2020-09-01 15:50] schaabs commented on #11447
Completed by https://github.com/Azure/azure-sdk-for-net/pull/14636

[2020-09-01 15:50] #11447 closed

[2020-09-01 16:04] kasobol-msft commented on #14705
@SeanFeldman V11 is automatically encoding byte[] to base64 string which is then send over the wire. Currently the equivalent in V12 would be to Base64 encode byte[] before calling SDK.
However, as @tg-msft said, we're working on handling this case in V12 SDK. This will come in one of our future releases.

[2020-09-01 16:08] schaabs commented on #14551
@jamesbr-ashn Thanks for bringing this discrepancy to our attention. We will update the documentation to properly reflect the behavior. Just to clarify, you are referring to the reference documentation for the `EnvironmentCredential` class correct?

[2020-09-01 16:12] #14587 closed

[2020-09-01 16:16] tg-msft opened #14757 "Add sync LRO sample"
Since we don't have a sync overload of `WaitForCompletionAsync`, it would be great to add a sample to https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/LongRunningOperations.md that explains the best practices and trade-offs for waiting on completion of an LRO in a sync method.

[2020-09-01 16:24] pakrym opened #14760 "Increment version for template releases PRs being constantly filed"
No-one is releasing template but we have ~60 PRs in both open and closed states in the repo.

[2020-09-01 16:34] RickBlouch opened #14761 "[BUG] Upgrading from Microsoft.AspNetCore.DataProtection unable to load existing keys"
**Query/Question**
Based on this [breaking change](https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.1-5.0#azure-microsoft-prefixed-azure-integration-packages-removed) I'm working through upgrading to newer Azure.Extensions.* components to be used for DataProtection.

We were previously using the following pacakges
[code]

And we're now testing with
[code]

I worked through the differen

[2020-09-01 16:39] willyt150 commented on #14480
@amishra-dev Ashish, thank you for answering my next question before I asked :) To make sure I'd be going down the correct path is this it? https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite

I mentioned this tool to my coworkers to see if anyone had experience with it and they mentioned that the last time they looked at it, earlier this year, that it didn't support Table st

[2020-09-01 16:42] #10710 closed

[2020-09-01 16:42] #14552 closed

[2020-09-01 16:50] SeanFeldman commented on #14705
@kasobol-msft, is the plan and decision documented anywhere? I'd like to see the proposed change. Thank you.

[2020-09-01 17:02] #14695 closed

[2020-09-01 17:03] kurtzeborn commented on #14760
Maybe what needs to happen here is to add @Azure/azure-sdk-eng to the CODEOWNERS for all of the templates.

[2020-09-01 17:23] danieljurek opened #14764 "Smoke Tests should onboard samples as opt-out tests"
Description of architecture: https://github.com/Azure/azure-sdk-for-js/tree/master/common/smoke-test

See implementation: https://github.com/Azure/azure-sdk-for-js/blob/master/common/smoke-test/Initialize-SmokeTests.ps1

**Preparer**

* Deploy resources from sdk/**/test-resources.json (all test-resources.json files that can be found)
* If deployment succeeds and there are samples which are not exc

[2020-09-01 17:31] JoshLove-msft opened #14765 "Clear out AmqpAnnotatedMessage properties for received message when copying"
When creating a new ServiceBusMessage from a ServiceBusReceivedMessage, we should clear out the AmqpAnnotatedMessage properties that only apply to received messages.

[2020-09-01 18:20] schaabs commented on #13828
As we discussed offline we won't be adding a public constructor on `AuthenticationRecord` to avoid obscuring the intended usage.  As a workaround you can use the `IdentityModelFactory` if you need to construct this type. We are adding `IdentityModelFactory` for mocking purposes in #14769.

[2020-09-01 18:21] pakrym commented on #13828
This doesn't seem to be a mocking purpose though.

[2020-09-01 19:30] chris-skuvault commented on #13920
@JoshLove-msft  Think i'm good for now. Thanks for all your assistance!

[2020-09-01 19:30] #13920 closed

[2020-09-01 19:51] weshaggard commented on #14760
We can also look into options about updating existing version bump PR's instead of opening new ones. @chidozieononiwu we can probably do this by making the version bump branch name only account for the service directory instead of including the pipeline id.

We will of course need to test that strategy and ensure that we don't end up with merge conflicts because they will be updating the same link

[2020-09-01 20:49] jsquire commented on #14761
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-01 21:06] pakrym commented on #14761
Nope, there is no such option.

Yeah, this is a bug, migration is supposed to be completely drop-in.

I'll provide you with a temporary workaround and then ship it as a feature ASAP.

[2020-09-01 21:54] #13828 closed

[2020-09-01 22:16] TylerLeonhardt commented on #14685
This is apparently happening because it matters where the `MockContext.Start(GetType().FullName);` is called. It has to be called in the method that will be the name of the file it would seem. I abstracted it out to be in the ctor of my tests and that caused this behavior. It seems like this should actually look up until it finds a method with a `Fact` attribute instead of just looking up one in t

[2020-09-01 22:50] #14714 closed

[2020-09-01 22:58] #13359 closed

[2020-09-01 23:03] pakrym commented on #14761
@RickBlouch can you please try grabbing this file: https://github.com/pakrym/azure-sdk-for-net/blob/pakrym/support-reading-existing-keys/sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys/src/DecryptorTypeForwardingActivator.cs

and adding this line to your configure services method:

[code]

[2020-09-01 23:42] schaabs commented on #13491
We are moving out marking the AppAuthentication deprecated this until we have ARM libraries which support authenticating with Azure.Identity.

[2020-09-02 00:15] axisc commented on #14038
yes, [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-transactions#transactions-in-service-bus) is the documentation.

[2020-09-02 00:15] #14038 closed

[2020-09-02 00:54] #14761 closed

[2020-09-02 06:01] amishra-dev commented on #14480
@willyt150 Azurite does support table storage https://github.com/Azure/Azurite/tree/legacy-master

[2020-09-02 07:18] XiaoningLiu commented on #14480
Legacy Azurite V2 supports blob/queue and table.
Azurite V3 Table is under development and accepting open source contribution, check latest progress here.
https://github.com/Azure/Azurite/wiki/Azurite-V3-Table
https://github.com/Azure/Azurite/projects/2

[2020-09-02 07:45] danieljurek opened #14788 "Key Vault Live tests failing in Azure China Cloud"
During a live test pass against sovereign clouds the vendor team discovered a failure in Key Vault

[code]

Failure information here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=517428&view=ms.vss-test-web.build-test-results-tab&runId=13010616&resultId=100044&paneView=debug

[2020-09-02 07:45] danieljurek opened #14789 "Key Vault Live tests failing in US Gov Cloud"
During a live test pass against sovereign clouds the vendor team discovered a failure in Key Vault live tests

[code]

Test information here: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=517428&view=ms.vss-test-web.build-test-results-tab&runId=13010614&resultId=100086&paneView=debug

[2020-09-02 08:46] MarkLFT commented on #7239
I have this exact same problem.  Does anyone have a workaround for this issue?  It has now been over a year since this was first reported.

[2020-09-02 08:54] Luyunmt opened #14790 "[Text Analytics] Lack text analytics configuration information about US Gov cloud in pipeline."
In PR [#14633](https://github.com/Azure/azure-sdk-for-net/pull/14633),  tests changed to use a exist text analytics service stored in pipeline .

![image](https://user-images.githubusercontent.com/53427149/91960748-db392f00-ed3c-11ea-889f-6b08c2fabf4f.png)

Such text analytics was prepared in azure cloud. Need to prepare such text analytics in US Gov cloud and China Cloud, and let pipeline configu

[2020-09-02 09:28] ohadschn opened #14792 "[FEATURE REQ] Add more details to RequestFailedException"
**Library or service name.**
All of `Azure.Storage`

**Is your feature request related to a problem? Please describe.**
Storage operations (in my case ADLS uploads) can fail with exceptions such as the following:
[code]

Now, suppose I was trying to upload a 1GB file using chunks of 50MB.
1. Which of the 20 chunks received this error?
1. Were other chunks successful?
1. What was the average upload

[2020-09-02 12:44] jsquire commented on #14126
@lmolkova: Would you be able to help route to the best point of contact?

[2020-09-02 13:01] jsquire commented on #14792
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-02 13:05] mikeclayton commented on #14580
Hi @MehaKaushik - we ended up deleting the container with a tab in its name and recreating it without any weird characters in the name, so the API calls work find now.

I think the root issue was that we'd somehow managed to create a Cosmos DB SQL Container with a trailing tab character in the name - e.g. "myContainer\t". I've tried to create a new one with a tab character in it, but it fails via

[2020-09-02 13:50] maririos commented on #14790
Oh no. looks like I broke something? @danieljurek could you explain to me what this other things are that I broke?
We are working on preparing TA for 3.1-preview.2 which is currently only available in a PPE endpoint but next week will be deployed to other regions.

[2020-09-02 14:10] RickBlouch commented on #14761
@pakrym The change works as expected, thank you.

What's the best way to track when this will be live so that I can back out this workaround?

[2020-09-02 14:53] #14545 closed

[2020-09-02 14:53] #14099 closed

[2020-09-02 15:14] willyt150 commented on #14480
Thanks @amishra-dev and @XiaoningLiu! Am I correct in understanding that Azurite legacy doesn't support the latest storage APIs either? Looks like the most recent non-readme commit was 12 months ago, so well before the 2019-12-12 service version

If that's the case then I'll just stick with the storage emulator for now. I need table storage support and if I'm having to specify an older service ver

[2020-09-02 16:25] pakrym commented on #14761
The release would happen at the end of this week or beginning of the next.

[2020-09-02 16:52] jongio opened #14802 "[FEATURE REQ] AppConfiguration ConfigurationClient is missing CreateIfNotExists API"
**Library or service name.**

AppConfig

**Is your feature request related to a problem? Please describe.**

Scenario: I want an API that will only create a setting and set its value if it doesn't already exist.  If the setting exists, then the API does nothing. It does not update the value.

1. Add fails if it already exists
1. Get fails if it doesn’t exists
1. Set will overwrite the value if it

[2020-09-02 16:59] pakrym commented on #14612
Another one https://dev.azure.com/azure-sdk/internal/_build/results?buildId=519790&view=ms.vss-test-web.build-test-results-tab&runId=13070848&resultId=102439&paneView=debug

[2020-09-02 17:29] AlexGhiondea commented on #14788
@danieljurek I believe this is a known issue and will continue to happen while the deployments are rolled out to different clouds.

[2020-09-02 17:29] dipidoo commented on #14701
Thank you for the report.

The OAS is correct, in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/Face/stable/v1.0/Face.json `$.parameters.returnFaceAttributes.items.x-nullable` is already set to `false`, this appears to be AutoRest issue.

[2020-09-02 17:32] dipidoo commented on #14701
@mayurid @kaerm could you please help remove Service Attention tagging as it seems I don't have permission, and could you please route this to AutoRest .NET team? Thank you

[2020-09-02 17:47] #14639 closed

[2020-09-02 17:51] danieljurek commented on #14790
Chatted w/ @maririos -- These tests will fail because the code in the SDK relies on features in a PPE endpoint hosted by the Text Analytics team. They would need to roll this out to production before we can support these features.

At this time the failure is "expected" because these features don't exist in the sovereign clouds.

A larger question here is that we should consider how to handle thes

[2020-09-02 17:58] nonik0 commented on #12035
@veleek Sorry for delay in response, but thank you for pointing this out. I am working on this right now, so there will be a fix for this in the next release with a better error message.

[2020-09-02 17:59] rahuldutta90 commented on #12969
@sumantmehtams this is gen2 not gen1

[2020-09-02 18:11] sumantmehtams commented on #12969
Adding @seanmcc-msft to take a look

[2020-09-02 18:16] sumantmehtams commented on #14167
Adding @seanmcc-msft  to take a look.

[2020-09-02 18:17] sumantmehtams commented on #14457
Adding @seanmcc-msft to take a look.

[2020-09-02 18:17] sumantmehtams commented on #14402
Adding @seanmcc-msft to take a look.

[2020-09-02 18:17] sumantmehtams commented on #14506
Adding @seanmcc-msft to take a look.

[2020-09-02 18:18] sumantmehtams commented on #14608
Adding @seanmcc-msft to take a look.

[2020-09-02 18:44] heaths commented on #14789
@RandalliLama why is the error string recommend an extremely old version? The sovereign clouds should at least support 7.0, right?

[2020-09-02 18:45] heaths commented on #14788
@RandalliLama why is the error string recommend an extremely old version? The sovereign clouds should at least support 7.0, right? If not, the track 2 SDKs only support 7.0 and newer. This will be a problem otherwise.

[2020-09-02 18:46] heaths commented on #14788
@AlexGhiondea: @sadasant, @danieljurek, and I worked on a solution that just has to be implemented. 7.1 may be far behind, especially for Azure Stacks (though, I don't think we test on that).

[2020-09-02 19:05] AlexGhiondea commented on #14802
We did talk about having that behavior when we designed it and if I remember correctly, we went with the current design because it matches what a `Dictionary` type does in .NET, which is to throw if you try to add an existing key.

[2020-09-02 19:17] seanmcc-msft commented on #14608
Hi @ohadschn, thanks for the detailed bug report.  I'll work to get this fixed in our next release.

-Sean

[2020-09-02 19:25] seanmcc-msft commented on #14167
Hi @LeaShallev,

`DataLakeFileClient.Delete()` will throw an exception if the file doesn't exist, where `DataLakeFileClient.DeleteIfExists()` is supposed to return false.

Can you provide a code snippet for when you are seeing `DataLakeFileClient.DeleteIfExists()` throw an exception?

We have unit test coverage for these cases:

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Az

[2020-09-02 19:26] seanmcc-msft commented on #12969
Hi @davidOSUL,

We probably cannot change the property name, as we are not allowed to have breaking changes.  We could definitely improve the documentation.

-Sean

[2020-09-02 19:27] seanmcc-msft commented on #14750
Hi @romisak, thanks for the detailed bug report.  I'll look into getting this fixed in our next release.

-Sean

[2020-09-02 20:13] #13186 closed

[2020-09-02 20:20] #13559 closed

[2020-09-02 20:22] chidozieononiwu opened #14807 "[BUG]Update Link Verification Check"
**Describe the bug**
[verify-links.yml](https://github.com/Azure/azure-sdk-for-net/blob/master/eng/common/pipelines/templates/steps/verify-links.yml) needs some fine tuning.

**Expected behavior**
Catch only broken links

**Actual behavior (include Exception or Stack Trace)**
Returns some false positives.
https://contoso.azureedge.net/urlsigning/test?expires=2145916800&amp;keyid:key1&amp;signature

[2020-09-02 20:27] danieljurek opened #14809 "SNI cert support for Azure Identity in Sovereign Clouds (Azure China Cloud, Azure US Government Cloud)"
* Is SNI supported?
* What tooling is required to set up those live tests?

[2020-09-02 20:38] maririos opened #14810 "Update to new service version"

[2020-09-02 20:40] maririos opened #14811 "Add support for model compose feature"
- [x] sync impl
- [x] async impl
- [x] add model_id to CustomFormSubmodel, TrainingDocumentInfo
- [x] add ModelAttributes.is_composed on CustomFormModel/CustomFormModelInfo
- [x] samples
- [x] tests

[2020-09-02 20:43] maririos opened #14813 "Support optional display name for custom model"
- [x] parameter to begin_training
- [x] parameter to begin_create_composite_model
- [x] property on CustomFormModel
- [x] property on CustomFormModelInfo
- [x] add tests

[2020-09-02 20:44] maririos opened #14814 "Support for new fields returned by the service"
- [x] form_type_confidence on RecognizedForm
- [x] model_id on RecognizedForm
- [x] form_type on RecognizedForm should use service value
- [x] add tests

[2020-09-02 20:47] maririos opened #14816 "Support selection marks"
- [x] As type on FormField
- [x] As a list[SelectionMarks] on FormPage
- [x] As an element type on FieldData/FormTableCell - requires parsing the json pointer
- [x] tests
- [x] samples
- [x] documentation
- [x] mocking

[2020-09-02 20:50] maririos opened #14817 "Support locale parameter on recognize receipt methods"
locale == language?

Optional -> seems like it is to improve the accuracy of the results. (like in TA with language parameter)

Open questions:
- How does locale affects the returned results? Is there a locale to fields mapping spec?
- What is the standard called that locale is using?

[2020-09-02 20:50] AlexGhiondea opened #14818 "Release Text Analytics 5.2-Beta.1"
### Features

[2020-09-02 20:53] maririos opened #14819 "Add support for business cards"

[2020-09-02 20:56] maririos opened #14820 "Update Readme with new features"

[2020-09-02 20:56] #12966 closed

[2020-09-02 21:51] heaths opened #14823 "Guid params in KeyVaultAccessControlClient should probably be nullable:"
Re: https://github.com/Azure/azure-sdk-for-net/blob/f5122f49f5530ca9dcdc7bd719c6ffaf86be0ba6/sdk/keyvault/Azure.Security.KeyVault.Administration/src/KeyVaultAccessControlClient.cs#L246

Probably more efficient to make these nullable, rather than passing a largish struct even if `default`. Assignment then simply becomes:
[code]

[2020-09-02 21:57] heaths opened #14824 "October Release of Key Vault for .NET"
### Features
- ~Secure Key Release design and implementation (#14892)~
- ~Setup CI tests for Admin package (#15066)~
- [x] Address customer feedback
- ~[stretch] Replace internal `ChallengeBasedAuthenticationPolicy` with new one (when done) in Azure.Core~

### Reviews

- ~Arch Board review for Secure Key Release~
- ~API unification meeting~

[2020-09-02 22:06] pakrym opened #14826 "[WebJobs] Follow up on hierarchical configuration support in local.settings.json"
There are two places that fail when the configuration has nested objects:

https://github.com/Azure/azure-functions-core-tools/blob/28be3f19626161c5cca94d2d4376a2a3350c923b/src/Azure.Functions.Cli/Common/AppSettingsFile.cs#L11

and
[code]

in https://github.com/Azure/azure-functions-vs-build-sdk/blob/3a4efa5d8891b8d7efeff6e12c313d425281aa87/src/Microsoft.NET.Sdk.Functions.Generator/FunctionJsonCon

[2020-09-02 22:10] #14098 closed

[2020-09-02 22:48] dejimarquis opened #14828 "ResourceManagerClient.Resources.DeleteAsync throws cloudexception"
**Query/Question**

Every time we try to delete a resource using the resource we a get a cloud exception message saying "Long running operation failed with status "Not Found"" and body saying "ParentResourceNotFound"

As a work around we catch the exception and make a get a call to verify the instance was deleted. How do I fix this?

![Annotation 2020-09-02 154644](https://user-images.githubuserco

[2020-09-02 22:57] amnguye commented on #14753
Hi,

I don't think it's right to change the `MaxReliabilityRetries` for all requests, because we could have other requests coming in that will consistently error out due to other reasons aside from slow connections (e.g. internal error, weird auth errors, throttling etc). So if we had a retry of say 20 and the user decides to do a call like `list` but runs into the service having internal errors,

[2020-09-02 23:03] amnguye commented on #14755
Hi, I see that this is the [old library](https://github.com/Azure/azure-storage-net) because you're citing CloudQueueMessage.

Have you tried using the new library v12 (Azure.Storage.Queues)?  I saw you put the package name at the top but cited CloudQueueMessage which is from v11 and older. Or have we not fixed this in the v12 library?

If you need help upgrading to the v12 library please feel fre

[2020-09-02 23:03] AlexGhiondea commented on #14530
@tzhanl could you submit a PR to fix this?

[2020-09-02 23:03] AlexGhiondea commented on #14529
@tzhanl could you submit a PR for this?

[2020-09-02 23:04] christothes opened #14830 "October Release of Tables for .NET"

[2020-09-02 23:06] #14091 closed

[2020-09-02 23:08] #14823 closed

[2020-09-02 23:23] dnrbeiro commented on #11943
This is great stuff, but is there any way instead of storing secrets with the index of the array, to have a more powerful way that allows us to store it by telling the value of a property, so the position of the item itself inside the array is not relevant?

Based on the example above, a couple of suggestions:
SeriLog--WriteTo-Name:AzureTableStorage--Args--connectionString, instead of Serilog--Wri

[2020-09-03 00:12] maririos opened #14833 "Improve Tests/Samples"
- [ ] Don't do `Assert.IsNull()` for int/double properties, as we know codegen will always provide a default value. Instead check (if it makes sense) `Great` or `GreaterEqual`
- [x] Make sure that in our samples, we manage the case where no values (entities, key phrases, etc) are returned
- [x] Make return types of methods in our samples be explicit (`Response<t>`) instead of using implicit cast (

[2020-09-03 00:48] chwarr opened #14836 "[BUG] ServiceBus.Core.MessageSender.OnSendAsync throws "InvalidCastException: Unable to cast object of type 'Microsoft.Azure.Amqp.Framing.Accepted' to type 'Microsoft.Azure.Amqp.Transaction.Declared'.""
**Describe the bug**

`ServiceBus.Core.MessageSender.OnSendAsync` is occasionally throwing the exception "System.InvalidCastException: Unable to cast object of type 'Microsoft.Azure.Amqp.Framing.Accepted' to type 'Microsoft.Azure.Amqp.Transaction.Declared'."

**Expected behavior**

No `InvalidCastException` is thrown. If this is an error due to how I'm using the library, something more descriptive

[2020-09-03 01:00] #10709 closed

[2020-09-03 01:00] #14083 closed

[2020-09-03 01:00] #14090 closed

[2020-09-03 01:36] ellismg commented on #14826
When we address this we should also look at the README.md for the extension package to see if we can use nested objects there.

[2020-09-03 02:20] nickalbrecht commented on #7078
The main downside to using `IAzureClientFactory<>`, is that you now require a reference to the `Microsoft.Extensions.Azure` package in your business logic layer, instead of just `Azure.Storage.Blobs`. So concepts start to bleed a little

[2020-09-03 02:39] jongio commented on #14802
Sure, but I think we can support this scenario with a CreateIfNotExists method.

[2020-09-03 02:41] veleek commented on #12035
Thanks @nonik0!

[2020-09-03 02:55] lilyjma commented on #14126
@reyang : Could you please take a look? Thanks!

[2020-09-03 03:02] lilyjma commented on #6772
@nickzhums : would you happen to know who might be able to help with management plane Identity?

[2020-09-03 03:12] #5568 closed

[2020-09-03 03:15] nickzhums commented on #6772
@jianghaolu Could you please see if this is related to Azure Identity?

[2020-09-03 03:16] reyang commented on #14126
@lilyjma I have **no** idea what this SDK is. My suggestion is to find the source code and use `git blame` to find out the owner.

[2020-09-03 03:25] JoshLove-msft opened #14842 "Add ModelFactory to construct system event data for mocking"
Ideally this would be able to be generated.

[2020-09-03 03:42] amnguye commented on #14581
Hi,

Could you provide a snippet of how you're attempting to authenticate (e.g. with the storage managment API)?

I've tried doing something like this before? Hopefully this helps. I've tested that the bearer token works before using it here.

[code]

[2020-09-03 03:44] #14184 closed

[2020-09-03 08:36] sopelt commented on #14691
We are seeing the same issue. I grabbed the az .. get-access-token that is being issued from Azure.Identity and that returns in 2-3 Seconds when executed from a terminal.
I'll grab 1.2.2 sources to have a closer look at what is happening here. Or do you already know more @schaabs ?

[2020-09-03 09:31] ohadschn commented on #14753
Yes, you can control the retry settings like this:
[code]

This is what `azcopy` does. The partitioned uploader already sets some upload specific storage transfer defaults when not set specifically by the user (like max block size), perhaps the same could be done for retry: https://github.com/Azure/azure-sdk-for-net/blob/49081317e57fa4b44ac64dce9598e08a6460c9a3/sdk/storage/Azure.Storage.Common/src

[2020-09-03 12:06] dkattan opened #14848 "[QUERY] Multiple v5 EventProcessors on Event Hub"
**Query/Question**
What is the expected behavior in the v5 SDK when a second EventProcessor is connected to the EventHub?

Would it disrupt the existing EventProcessor causing it to stop receiving events?

In v4 there was an EpochReceiver where the behavior could be defined.

In v5 it appears similar functionality could be obtained using the [ClaimOwnership](https://docs.microsoft.com/en-us/dotnet

[2020-09-03 12:38] jsquire commented on #14828
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-03 12:39] jsquire commented on #14836
//cc: @JoshLove-msft, @MiYanni

[2020-09-03 12:39] jsquire commented on #14836
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-03 12:44] j82w opened #14849 "EditorConfig suggestions"
This is a proposal to change the editor config to make the code more readable for developers.

1. Change all suggestions/warnings to errors or silent. Having it as a suggestion or warning results in inconsistent code, and causes unnecessary comments and debates on PRs. The rule should either be important enough to enforce or should be ignored. Having the rule be the middle ground hurts the develop

[2020-09-03 13:30] jsquire commented on #14848
Hi @dkattan.  The `EventProcessor<T>` and `EventProcessorClient` types in the v5 client align with the `EventProcessorHost` type in v4.   The v4 `EpochReceiver` that you mention would align with the `EventHubConsumerClient` or `PartitionReceiver` types in v5.

Event processor instances that belong to the same consumer group will coordinate to share partitions evenly between them.  When processors

[2020-09-03 13:42] arynaq opened #14850 "[BUG] BlobClient outbound port exhaustion"
**Describe the bug**
I cannot find any clear documentation on how the SDK uses connections towards `blob.core.windows.net` but it is clear that there is no upper bound or re-use. I have some types in our app that have scoped lifetime on `BlobContainerClient` and frequent requests are made towards the scoped instance to download blobs via `BlobContainerClient::GetBlobClient`.

But it seems each cli

[2020-09-03 14:13] arynaq commented on #14850
Looking into the code, I see that there is a static shared instance of `HttpClientTransport` being passed into the `BlobContainerClient` which means the same HttpClient is shared regardless of what DI lifetime I have on my services, how is it then possible for the `BlobClient` to create a new connection when the shared client is created by this

[code]

Where is the new connection being created ex

[2020-09-03 14:22] arynaq commented on #14850
For reference, this is the implementation, it is the Get call that is causing connection exhaustion
[code]

[2020-09-03 14:32] jsquire commented on #14849
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2020-09-03 14:33] jsquire commented on #14850
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-03 14:49] christothes commented on #14367
Please try with the following env variables:
[STORAGE_ENDPOINT_SUFFIX](https://github.com/Azure/azure-sdk-for-net/blob/aec86f6742b73deb307f15390500771dbe13c5e2/sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs#L122)
[COSMOS_TABLES_ENDPOINT_SUFFIX](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/tables/Azure.Data.Tables/tests/TablesTestEnvironment.cs#L21)

[2020-09-03 14:50] i3anaan commented on #12244
Having a similar issue, our data property is empty for a 'normal' object.
Tried passing a string and JObject, both result in a filled data property, only to be a double-escaped string which is also wrong.

[2020-09-03 15:05] jianghaolu commented on #6772
This is not owned by the Identity team. The API is owned by the Azure management SDK team.

And I can see this test already in place: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/authorization/Microsoft.Azure.Management.Authorization/tests/Tests/BasicTests.cs#L1160. Is this what you are looking for?

[2020-09-03 16:21] kaerm opened #14851 "Error message is unclear when there is more than one User assigned MI"
When there is more than one user assigned MI the error coming from Azure.Identity only says
`The ChainedTokenCredential failed to retrieve a token from the included credentials.`
It would be great if the error could be more descriptive to make it easier to debug

azsdke2e

[2020-09-03 17:08] geneh commented on #13472
The prefer header is actually sent when -Wait flag is passed in as described above. It has been verified in the service logs:
`Request.preferHeader`: `response-v1=true,wait=10`

For some reason when running with the debug flag the header is not printed in the console, which is confusing:
[code]

[2020-09-03 17:17] chidozieononiwu commented on #14126
Tagging possible owners
@frankguodongchen @alexeldeib @dsgouda

[2020-09-03 17:37] seanmcc-msft commented on #14705
https://github.com/Azure/azure-sdk-for-net/pull/14476

[2020-09-03 17:39] seanmcc-msft commented on #13545
Please re-open if you have further questions.

[2020-09-03 17:40] dkattan commented on #14848
After the 5th read, I think I get it.

Internally we were working under the assumption that if we simply changed the blob connection string to point somewhere else we’d be OK. However after your explanation it sounds like the real problem is that we are instanciating EventProcessorClient with constant consumerGroup string “$Default”

When the local dev environments connect, they are being made the

[2020-09-03 17:52] ramya-rao-a opened #14853 "[Service Bus] Rename ServiceBusManagementClient class to ServiceBusAdministrationClient"
The naming guidelines for a client that does resource management but not via the ARM apis, is that it should use the term `Administration` and not `Management`. See https://github.com/Azure/azure-sdk/issues/1360 for more details

For this reason, the ServiceBusManagementClient class in the new Service Bus package which is currently in preview should be renamed to ServiceBusAdministrationClient

[2020-09-03 17:53] alexeldeib commented on #14126
@alongafni fyi

I worked on this SDK a while back, I've since changed teams. I have a sync with the owning team next week. I'm not really sure what to say about the current SDK process as I've been out of the loop for over a year -- I'd love to put them in contact with someone from the Azure SDK team who can guide them in the right direction on how they should move forward maintaining a data plane

[2020-09-03 18:24] josh-endries opened #14856 "[BUG] Microsoft.Azure.ServiceBus MessageReceiver keeps receiving outside of ReceiveAsync call?"
I suspect this is somehow by design but it seems like a bug to me.

I'm working on a simple CLI tool to "reset" a SB queue by removing all messages and inserting _three_ new ones. My test queue has no receivers except my peek loop script and the reset tool I'm working on.

I have a static `MessageReceiver`, which as far as I understand is the recommended way to use it. I call `ReceiveAsync` in a l

[2020-09-03 18:25] Assassinbeast opened #14857 "[BUG] BlobClient Uri now returns url encoding paths"
Hi, in the old version of Azure.Storage.Blobs (12.4.4 and down), the BlobClient.Uri returns a uri without the path encoded, but the new versions (12.5.1 and up), returns uri with path as encoded characters.

Example: below is the old versions 12.4.4
![image](https://user-images.githubusercontent.com/6762656/92152601-3e9d8c80-ee23-11ea-9b0f-d50a92443fff.png)

And below here is new version 12.5.1
![

[2020-09-03 19:04] kasobol-msft commented on #13510
I'm still hitting this issue.

What I can see during recording:
![image](https://user-images.githubusercontent.com/61715331/92156169-71249680-eddd-11ea-8bee-a2cfe5793eb7.png)

What recording has:
![image](https://user-images.githubusercontent.com/61715331/92156247-8e596500-eddd-11ea-90c9-b46aff50d14c.png)

[2020-09-03 19:06] sima-zhu commented on #14807
http://logging.apache.org/log4net/release/config-examples.html
is not broken link.
Will verify: https://contoso.azureedge.net/urlsigning/test?expires=2145916800&amp;keyid:key1&amp;signature=iTsrLX9rVAIJkSahBA_j5o9Azf5-j331ohxDR1Gx2js=

[2020-09-03 19:08] jsquire commented on #14856
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-03 19:12] jsquire commented on #14857
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-03 19:18] danieljurek opened #14860 "Investigate failures in Identity on Sovereign Clouds"
Sovereign cloud onboarding has uncovered a few issues in an early run: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=521861&view=ms.vss-test-web.build-test-results-tab&runId=13110980&resultId=100105&paneView=debug

Looking for issues in the underlying library.

Early investigations have already revealed:

* SNI is not set up in sovereign clouds so failures relating to SNI are exp

[2020-09-03 19:38] ohadschn commented on #13545
@seankane-msft wasn't this the reason the ticket remained open?

[2020-09-03 19:42] seanmcc-msft commented on #13545
Oh sorry didn't see that part.

[2020-09-03 20:04] SOFSPEEL opened #14867 "[BUG] Azure.Identity DeaultAzureCredential reading from an unexpected AD tenant"
**Describe the bug**
On the following code:
[code]

**Expected behavior**
To be able to connect

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

Getting the following exception:

`{"Service request failed.\r\nStatus: 401 (Unauthorized)\r\n\r\nHeaders:\r\nServer: openresty/1.15.8.3\r\nDate: Thu, 03 Sep 2020 19:52:42 GMT\r\nConnection: keep-alive\r\nWWW-Authentic

[2020-09-03 20:18] #13358 closed

[2020-09-03 20:18] seanmcc-msft commented on #14457
Hi @ohadschn, which upload overload are you using, stream or file path?  Can you repo in v12.4.0?

Also, I'd recommend setting MaximumConcurrency to something much lower, maybe like 8.  Otherwise you will saturate your network connection, and your uploads will be slower.

[2020-09-03 20:27] seanmcc-msft commented on #14455
Hi @blueww, I'll put out a fix for this, but `StartsOn` and `ExpiresOn` are deprecated.  I recommend using `PolicyStartsOn` and `PolicyExpirieOn` instead.

[2020-09-03 20:28] jsquire opened #14869 "[Azure.Core] Test Environment Exception When Optional Environment Variable Not Set"
# Observed Behavior

The [`TestEnvironment::GetRecordedOptionalVariable`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs#L171) method reads the value of the environment variable, which may be `null` when not defined.   That value is then passed into the `RecordedVariableOptions` when specified which attempts to parse the value using

[2020-09-03 20:28] JoshLove-msft commented on #14842
@pakrym can model factory methods be generated?

[2020-09-03 20:29] jsquire commented on #14869
@pakrym:  If you can help me understand a bit more about the intention of `RecordedVariableOptions`,  I'm happy to make the fix.

[2020-09-03 20:30] pakrym commented on #14842
Yeah, we have  a tracking issue https://github.com/Azure/autorest.csharp/issues/543

[2020-09-03 20:32] #14750 closed

[2020-09-03 20:32] #14608 closed

[2020-09-03 20:32] jsquire commented on #14867
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-03 20:36] jsquire commented on #14848
Apologies if that was difficult to parse.   Please let me know if there was a way to phrase that would have been more clear and helpful.

Your proposed approach seems reasonable to me.  So long as you have different consumer groups for production and each local reader and a unique Blob Storage container for each, you'll be able to read concurrently.  Setting those via environment variable is a goo

[2020-09-03 20:37] #14297 closed

[2020-09-03 20:40] #14711 closed

[2020-09-03 20:46] AlexGhiondea opened #14874 "Azure Cognitive Search October Release"
### Features
- [ ] Continuation token bug
- [ ] Advanced batch support
- [x] Spatial types support
- [x] JSON Converters (Newtonsoft plugin for Spatial)
    - [ ] Expose existing converters to allow customers to use them
- [x] Expose IndexParameters
- [ ] More samples
- [x] Scoring profile

[2020-09-03 21:11] weshaggard commented on #12120
As for whether or not the task caches the tools I found https://github.com/microsoft/azure-pipelines-tasks/issues/10405 which states it does cache the tools but only if they were downloaded from that task. It currently does not locate and use any pre-installed tools on the image.

[2020-09-03 21:20] pakrym commented on #14869
The intent of `RecordedVariableOptions` is for consumers to be able to describe what secrets are inside the value of the variable so we can sanitize them before storing it.

In this case skipping the entire code-path when no variable exists seems the right thing to do.

[2020-09-03 21:39] amnguye commented on #14071
@jaschrep-msft For the clientside encryption design question

As for the WithClientSideEncryptionOptions, I believe this is in preview. What version are you using? I believe we released it in 12.5.0.preview.1+

[2020-09-03 21:50] JoshLove-msft commented on #13510
@kasobol-msft can you point me to the specific test?

[2020-09-03 22:01] kasobol-msft commented on #13510
@JoshLove-msft https://github.com/Azure/azure-sdk-for-net/blob/69cf78fe042c0beb578e0fa43e12e5877536a640/sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs#L927-L947 that one or any other with this issue link in the comment.

[2020-09-03 23:27] scottgorlick opened #14883 "[FEATURE REQ] Add CidrBlock logic to Azure SDK"
**Library or service name.**
What library or service is this request related to? Azure Networking as well as any other service that uses CIDR notation for ACLs.

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
I have an object that I use to provision Address space across multiple resources by doing CIDR logic

[2020-09-03 23:34] axisc commented on #14752
@josh-endries PeekLock is a "ReceiveMode" i.e. it is to be used when you call Receive. Peeking just gives the first (or first few) messages on the queue itself.
If you peek lock, then you are actually receiving the message 'temporarily'.

The delivery count is incremented when the message is locked and then the lock is given up by 'abandon' or when the lock times out.

Could you elaborate a bit mo

[2020-09-03 23:48] axisc commented on #14856
@josh-endries could you share a code repro?

[2020-09-03 23:50] amnguye commented on #14792
Hi,

Have you tried using the progressHandler when you call to upload?
[code]

I know that doesn't answer any of your questions, but that's currently what we have in terms of monitoring the progress of the upload.

We also have logging available on the SDK that way you can track the HTTP requests called and duration I/O as well.
https://docs.microsoft.com/en-us/dotnet/azure/logging

If we have mor

[2020-09-04 00:00] axisc commented on #14836
@chwarr  could you share a code repro for when you see this?

[2020-09-04 00:02] amnguye commented on #14753
If it's an automated program, then maybe the retries should be set to 20 then right? However in the case that a storage account is getting throttled, 503, (i.e. automated program overloading the storage account) then there needs to be a back-off mechanism to kick of to allow the storage account .

Another question to ask is how much of this should be heavily relied on the SDK. The SDK cannot predi

[2020-09-04 00:29] heaths opened #14887 "Add oct-HSM support"
For Key Vault 7.2-preview, make sure "oct" is already supported, and add "oct-HSM" support to models (names taken from swagger):

- [x] `KeyProperties.kty`
- [x] `KeyCreateParameters.kty`
- [x] `JsonWebKey.kty`

See the [service version 7.1 -> 7.2-preview diff](https://portal.azure-devex-tools.com/tools/diff/eyJzb3VyY2VVcmwiOiJodHRwczovL2dpdGh1Yi5jb20vQXp1cmUvYXp1cmUtcmVzdC1hcGktc3BlY3MvYmxvYi9tYX

[2020-09-04 00:36] heaths opened #14888 "Add algorithms to EncryptionAlgorithm for Key Vault"
For Key Vault 7.2-preview, to `EncryptionAlgorithm` (in swagger, the `KeyOperationsParameters` model), add the following algorithms:

- A128GCM
- A192GCM
- A256GCM
- A128KW
- A192KW
- A256KW
- A128CBC
- A192CBC
- A256CBC
- A128CBCPAD
- A192CBCPAD
- A256CBCPAD

As many of these as possible should be supported locally without writing our own cryptography.

Also add the following properties:

- `Iv`

[2020-09-04 01:07] MikeYeager opened #14891 "Does Azure.Storage.Blobs.BlobClient support TLS 1.2? If so, how do I turn it on?"
**Query/Question**
Does Azure.Storage.Blobs.BlobClient support TLS 1.2? If so, how do I turn it on?

**Environment:**
 - Azure.Storage.Blobs 12.6.0
 - Windows 10 .NET Framework 4.7.2
 - Visual Studio 16.7.2

[2020-09-04 01:09] davidobrien1985 commented on #14169
@jsquire is there any way you can get anyone to help us here?

[2020-09-04 01:18] yvgopal commented on #14510
Could you also share the namespace and the entity that you were accessing? I need them to check logs on the service.

[2020-09-04 02:08] heaths opened #14892 "Support key export from Key Vault"
For Key Vault 7.2-preview, we need to add support to export keys. This would be a method like `KeyClient.ExportKey` that takes the key name, key version (both required), and a body with the `KeyExportParameters` model found in the link below. This only has a single required property named `environment` (model property: `env`), so we should take this as a parameter. This returns a `KeyVaultKey` (mo

[2020-09-04 02:59] amnguye commented on #13214
Resolved in this PR https://github.com/Azure/azure-sdk-for-net/pull/13343

[2020-09-04 02:59] #13214 closed

[2020-09-04 03:54] amnguye commented on #12512
Hi,

Sorry for the late reply.

For your "Better options" 1 & 2, it's not possible to implement this because the REST API does not have a parameter that allows us to set the ACLs of a file when renaming it

https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/create

For "Better options" 3, I'm not sure what you mean by `StartCopy`. `StartCopy` applies to Blobs not Da

[2020-09-04 04:04] amnguye commented on #13216
Hi,

This is an interesting feature request. We will take it into consideration and update this thread if there's any update to this request.

Thanks for your input!

[2020-09-04 04:49] SeanFeldman commented on #12244
@ahamad-MS, any updates?

[2020-09-04 05:05] chwarr commented on #14836
This happens intermittently, so I haven't been able to craft a minimal repro. It's also in a code base that I'm not the most familiar with, so I'm learning it at the same time as debugging this issue.

* The service code that is encountering this exception looks like this:
[code]
* The messages are around 170 bytes.
* There is an active transaction:
[code]
* There is typically one message being re

[2020-09-04 06:54] ramya-rao-a opened #14897 "[FEATURE REQ] [Service Bus] Add AvailabilityStatus to QueueProperties, TopicProperties and SubscriptionProperties in ServiceBusAdmininstrationClient"
`AvailabilityStatus` is a property that indicates availability of the queue/topic/subscription.

The get/create/update methods on the ServiceBusAdministrationClient (previously named ServiceBusManagementClient) return the objects that follow the below interfaces which need to be updated to add `AvailabilityStatus` property (readonly)
- QueueProperties
- TopicProperties
- SubscriptionProperties

Li

[2020-09-04 07:18] XuGuang-Yao commented on #14367
@christothes - Yes, it works. Thanks for your update.

[2020-09-04 07:18] #14367 closed

[2020-09-04 07:39] i3anaan commented on #12244
Turns out I made a mistake and did not actually try passing a JObject on the EvetGridEvent's data property. Passing the JObject made it so that my (complex, normal) object serialized correctly and as expected.

[2020-09-04 08:12] tzhanl commented on #13111
3.0 still not supported in China Cloud.

[2020-09-04 08:22] lcitton commented on #14071
We are currently using 12.5.1.0 version for .net framework 4.8. It is not present in the 12.6.0 release either.

[2020-09-04 08:59] riezebosch opened #14901 "[FEATURE REQ] Public constructors on Operation types for testability"
**Library or service name.**
Azure.ResourceManager.Storage

**Is your feature request related to a problem? Please describe.**
[code]

Would be really happy to turn my integration tests into unit tests but that's not impossible while these constructor(s) are internal.

[2020-09-04 11:19] ohadschn commented on #14608
@seanmcc-msft  Thank you but I think you missed one?
https://github.com/Azure/azure-sdk-for-net/blob/693071ce198861750993f30da84400b40b159447/sdk/storage/Azure.Storage.Files.DataLake/src/DataLakeFileClient.cs#L3441

[2020-09-04 11:46] ohadschn commented on #14457
I think it happened with both overloads, but indeed I can't repro it in `12.4.0`.
It looks like you fixed it here: https://github.com/Azure/azure-sdk-for-net/pull/14301.

[2020-09-04 11:46] #14457 closed

[2020-09-04 11:50] ohadschn commented on #14792
Thank you, I will look into these diagnostics logs, it's a good idea (already using IProgress).

[2020-09-04 11:50] #14792 closed

[2020-09-04 11:56] ohadschn commented on #14753
Seeing as this is an SDK, the reasonable assumption would be that it's used for automated programs. The default is already exponentials backoff...

I agree but at the end of the day you do have to have some default, which is what I'm suggesting to discuss here. At the very least, you could have different defaults for upload (which is typically >10X slower than download).

That's fair, but perhaps

[2020-09-04 13:00] jsquire commented on #14169
Hi @davidobrien1985.   I'm sorry that  this has been lagging and we haven't been able to get you assistance.

@AlexGhiondea, @lilyjma:  Can you help route and escalate?

[2020-09-04 13:06] jsquire commented on #14883
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-04 13:06] jsquire commented on #14891
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-04 13:09] jsquire commented on #14901
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-04 13:17] blueww commented on #14169
@davidobrien1985

It seems your problem is for [Microsoft.Azure.Management.Storage.Fluent](https://www.nuget.org/packages/Microsoft.Azure.Management.Storage.Fluent/).
If so, would you please raise your issue on correct project site: https://github.com/Azure/azure-libraries-for-net , then related team will come to help you.

SDK [Microsoft.Azure.Management.Storage](https://www.nuget.org/packages/Mi

[2020-09-04 14:17] #14528 closed

[2020-09-04 14:26] Kassoul commented on #7434
Please, How do you do for "RestartCurrentReplica" ?
Do you use FabricClient (RestartReplicaAsync) inside the SF service ?

[2020-09-04 14:35] dmytro-gokun commented on #7434
@Kassoul well, in my case, i throw a FabricException from RunAsync, which results in replica restarting (as described here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.runtime.statefulservicebase.runasync?view=azure-dotnet#remarks). It may not suit your case though.

[2020-09-04 14:35] dandenton commented on #14510
@yvgopal It was namespace `safari-np-eastus`.  It happened twice on two different entities:

- 2020-08-15 between 15:10 and 15:32 UTC - `lpms.portalrecipientconfirmedreceipt/Subscriptions/Lpms` `TrackingId:6d1857eb47f1430f9c359e7db7354d01_G28, SystemTracker:gateway7, Timestamp:2020-08-15T15:15:22`

- 2020-08-09 between 20:31 and 21:14 UTC - `lpms.deleteallreaddbeventstreamsdata/Subscriptions/Lpms`

[2020-09-04 14:55] bryanrcarlson commented on #12512
Hello -- thanks for the reply.

Not being familiar with the REST API, but it looks like you can target paths parent ACLs with REST, rename blob to target path with REST, and change ACLs of renamed blob? A feature could wrap these calls into a single function? Or something similar - I'm sure engineers can come up with a better solution.

For "better options" 3, I was just suggesting a similar imple

[2020-09-04 14:58] Kassoul commented on #7434
This solution is simple than expected and it's good for me too.
Thanks @dmytro-gokun for sharing your solution for this issue. I probably have the same.

[2020-09-04 15:05] kasobol-msft opened #14905 "[FEATURE REQ] Make GetBlockBlobClient mockable"
Can't mock BlobContainerClient.GetBlockBlobClient / BlobContainerClient.GetPageBlobClient / BlobContainerClient.GetAppendBlobClient with Moq. These are all extension methods, hence not mockable. Could they be moved to BlobContainerClient as members?

For somebody who's entry point to hierarchy is  BlobContainerClient this means his code isn't unit testable - they have to write higher level tests e

[2020-09-04 15:06] kasobol-msft commented on #14905
@tg-msft @seanmcc-msft do you think this is feasible ?

[2020-09-04 15:09] jsquire commented on #14869
Fixed By #14906

[2020-09-04 16:01] #13185 closed

[2020-09-04 16:23] sima-zhu commented on #14807
@chidozieononiwu Is below link suppose to be valid? There is `expire` token in url. I checked the script, it return 404 back
(https://contoso.azureedge.net/urlsigning/test?expires=2145916800&amp;keyid:key1&amp;signature=iTsrLX9rVAIJkSahBA_j5o9Azf5-j331ohxDR1Gx2js=)

[2020-09-04 16:24] sima-zhu commented on #14807
![image](https://user-images.githubusercontent.com/48036328/92262742-6d058100-ee90-11ea-9b3e-6dedc9286526.png)

[2020-09-04 16:58] seanmcc-msft commented on #14905
IIRC, `GetBlockBlobClient()` is an extension method.  I'm not sure if extensions methods can be virtual.  If not, I'm not sure how to make `GetBlockBlobClient()` mockable.  @tg-msft, any ideas?

[2020-09-04 17:14] SeanFeldman commented on #12244
`Data` property is of type `object` which should be able to work with any type. If `JObject` is expected, that should be indicated in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventgrid.models.eventgridevent.data?view=azure-dotnet) or the type would need to be explicit.

Assigning `EventGridEvent.Data` a `JObject` of your data object sounds like a leaking abst

[2020-09-04 17:37] #14455 closed

[2020-09-04 17:54] lilyjma commented on #12754
@maririos: Is it okay to close the issue? Seems like the service team is looking into it.

[2020-09-04 17:57] jsquire opened #14913 "Event Hubs Client Library for .NET - November Milestone"
For general summary and goals, please see: [Release Event Hubs Track 2 Updates (#1393)](https://github.com/Azure/azure-sdk/issues/1393).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning for the next milestone
- [x] Design

[2020-09-04 17:59] jsquire opened #14914 "Review and update documentation (November Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2020-09-04 18:00] jsquire opened #14915 "Create and revise samples (November Milestone)"
# Summary

In preparation for the current milestone release of the Event Hubs client libraries, the samples which accompany them should be extended to include new features, maintain accuracy in the face of changes, and cover relevant scenarios.

# Scope of Work

- All samples should be reviewed and updated to reflect the current design.

- All samples should be reviewed and updated to reflect the

[2020-09-04 18:03] #14869 closed

[2020-09-04 18:09] #13189 closed

[2020-09-04 18:18] #13510 closed

[2020-09-04 18:20] seanmcc-msft commented on #14857
This is by design, we got a lot of complaints about the previous behavior.  The storage service considers encoded and unencoded paths to be the same.

[2020-09-04 18:37] #14712 closed

[2020-09-04 18:46] #12754 closed

[2020-09-04 18:47] AlexanderSher opened #14918 "Add match condition support for SetReadOnly"
In .Net, we don't explicitly support `MatchConditions` in `ConfigurationClient`, providing method overrides that accept `ConfigurationSetting`.

[2020-09-04 18:59] AlexanderSher commented on #12939
LinuxKeyRingAccessor implementation: https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/blob/master/src/Microsoft.Identity.Client.Extensions.Msal/Accessors/LinuxKeyRingAccessor.cs

[2020-09-04 19:02] pakrym opened #14919 "Allow opting PackageReference out of UseProjectReferenceToAzureClients feature"

[2020-09-04 19:08] plettb opened #14920 "Why are the methods all synchronous?"
**Query/Question**
I assume this topic has been discussed at length, but I wasn't able to find anything, so if there's an existing thread about this, please feel free to direct me to it.

I'm very curious why all of the methods are synchronous, especially some of the long-running ones.  For example, why would "SqlElasticPool.AddNewDatabase" not be asynchronous?

**Environment:**
 - Microsoft.Azure

[2020-09-04 19:09] JoshLove-msft opened #14921 "Release Service Bus Track 2 Preview 7"
This is a parent issue tracking the work planned for Service Bus to release in October following the C# .Net Azure SDK guidelines

Code complete date: October 2nd, 2020

[2020-09-04 19:54] #14614 closed

[2020-09-04 20:12] MiYanni opened #14924 "[Schema Registry] Add Serializer implementation using Apache Avro"
This is implementing the serializer using Apache Avro and creating the package.

[2020-09-04 20:47] amnguye commented on #12512
Hi,

Let me know if I'm incorrect in what you're saying. Is your ask is to create a convenience method that calls the following methods in these steps.

1. Calls `Rename` on the DataLake file
2. Call `GetAccessControlList` on the destination folder holding the DataLake FIle
3. Calls `SetAccessControlList` on the newly renamed DataLake File
(Which means that this method would make three calls to st

[2020-09-04 20:47] #12512 closed

[2020-09-04 21:07] #13184 closed

[2020-09-04 21:07] #13941 closed

[2020-09-04 21:11] JoshLove-msft opened #14927 "Address any arch board issues"
This issue tracks any work that will go into addressing to arch board review issues for Service Bus.

[2020-09-04 21:38] seanmcc-msft commented on #14905
I believe they are extension methods so they can live in the .Specialized namespace, so I think this would be a breaking change.

[2020-09-04 21:42] #14408 closed

[2020-09-04 21:43] yvgopal commented on #14510
The correct namespace is 'safari-prd-eastus'. Good that both namespaces are hosted in the same cluster.

I have checked the service side logs and can confirm that it is a service side issue. The client SDK had no issues.
Between 11:30 UTC and 15;45 UTC on 8/15/2020, the node hosting your topic had experienced some issue that caused CPU usage to spike to 100%. CPU usage got really worse between 15:

[2020-09-04 21:43] #14510 closed

[2020-09-04 21:58] kasobol-msft commented on #14850
@arynaq The SDK follows [.NET Core default](https://docs.microsoft.com/en-gb/archive/blogs/timomta/controlling-the-number-of-outgoing-connections-from-httpclient-net-core-or-full-framework) here.
I agree that [the sample for HttpClientTransport](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Configuration.md) isn't easily discoverable and it's not that obvious t

[2020-09-04 21:59] kasobol-msft opened #14929 "[FEATURE REQ][Storage] Create Docs explaining how to configure connection pool for Storage"
Our customers who are hitting issues with connection pool default settings are having hard time discover where to configure it.
We should come up with sample and/or doc page explaining that explicitly in Storage context.

The page should briefly explain or link to docs explaining difference between .NET FX and .NET Core.

References:
https://github.com/Azure/azure-sdk-for-net/issues/14850
https://

[2020-09-04 22:00] lmazuel opened #14930 "DistributedTracing in EventGrid"
Track2 SDK will auto-populate W3C headers traceparent/tracestate. However, in the case of EventGrid this is not enough:

- If the request content-type is Cloudevent and tracestate/traceparent are not populated in the event
- Then we want to copy the traceparent/tracestate into the CloudEvent extensions

Suggestion of implementation is a policy that would go after the DistributedTracing policy (oth

[2020-09-04 22:08] #13687 closed

[2020-09-04 22:14] amnguye commented on #14891
TLS is set through the storage account. You can set it through the portal on your storage account > configuration > Minimum TLS Version

[2020-09-04 23:18] MikeYeager commented on #14891
That's exactly what I did, but as soon as I did, I could no longer connect with the BlobClient. I had to turn it back down to TLS 1.0 in order to connect. My question is about eh client, not the Azure service. Thank you.

[2020-09-04 23:35] MiYanni opened #14933 "[Schema Registry] Add XML documentation to internal members"
See: https://github.com/Azure/azure-sdk-for-net/pull/13657#discussion_r483630056

[2020-09-05 00:16] amnguye commented on #14891
Sorry for the misunderstanding.

Hopefully this code snippet can help
[code]

[2020-09-05 00:48] MiYanni opened #14934 "[Schema Registry] Add Troubleshooting and Next Steps sections to readmes"
Currently, there is no troubleshooting or next steps information to provide (nothing is published yet). So, this is to add that information to the readmes as it becomes available.

[2020-09-05 01:19] #13946 closed

[2020-09-05 01:19] #14924 closed

[2020-09-05 02:52] #14853 closed

[2020-09-05 04:15] anktsrkr opened #14936 "Add option for remote VNET peer name"
**Library or service name.**
What library or service is this request related to?
 _Microsoft.Azure.Management.Network.Fluent_

**Is your feature request related to a problem? Please describe.**
No way to define name of the peering from remote virtual network using Azure Management API

**Actual Result**

While running below code it is establishing the peer with random name at remote vnet end.
[cod

[2020-09-05 07:26] JoshLove-msft opened #14938 "MaxCallsPerSession issue"
This [test](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/tests/Processor/SessionProcessorLiveTests.cs#L1487) has been timing out occasionally.

[2020-09-05 11:09] Assassinbeast commented on #14857
@seanmcc-msft Okay, so this case is closed now, right?

[2020-09-05 11:09] #14857 closed

[2020-09-05 13:43] jsquire commented on #14936
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-06 08:41] tree1370 commented on #14241
what's up ??

i'm waiting for you my dear !

[2020-09-06 12:37] aelij opened #14940 "[FEATURE REQ] Move IUtf8JsonSerializable into Azure.Core and make it public"
**Library or service name.**
All

**Is your feature request related to a problem? Please describe.**
Each library has its own instance of `IUtf8JsonSerializable` and it's internal. So if we wanted to serialize objects ourselves we would not be able to.

One use case for this is generating a deployment template JSON from ARM entities.

[2020-09-06 19:37] glecaros commented on #14241
Hi @tree1370 , we found a bug that was causing keyword recognizer to crash occasionally. This has been fixed and will be part of the next release.

[2020-09-06 20:07] SeanFeldman commented on #12244
@jfggdl, here's the code I've used to reproduce the issue.

[code]

Name and version of the Library package used: Microsoft.Azure.EventGrid 3.2.0

[2020-09-06 22:27] pakrym commented on #14940
Are these entities spread across libraries?

[2020-09-07 02:03] blueww commented on #14455
@seanmcc-msft
Thanks for the fix!
Actually, we have already switch to `PolicyStartsOn `and `PolicyExpirieOn `in PSH code.
But when we debug the code and expand AccessPolicy object in Watch window, the whole process will still crash. So we still need to fix it.

[2020-09-07 03:18] yungezz commented on #14828
hi @xccc-msft could  you pls help on this? thanks.

[2020-09-07 04:43] xccc-msft commented on #14828
@dejimarquis Could you please share which type of resource you were trying to delete? Thanks.

[2020-09-07 07:47] aelij commented on #14940
Yes, for example:

* `Azure.ResourceManager.Storage.Models.StorageAccount` in `Azure.ResourceManager.Storage`
* `Azure.ResourceManager.KeyVault.Models.VaultAccessPolicyParameters` in `Azure.ResourceManager.KeyVault`

[2020-09-07 09:52] i3anaan commented on #12244
@SeanFeldman Agreed. However this workaround allows us to work with it for the time being.

[2020-09-07 10:42] Jawvig commented on #14122
Would it be possible for `DefaultAzureCredential` constructor with no arguments to use the single User Assigned Managed Identity if there is only one assigned? This would bypass the need for setting the `AZURE_CLIENT_ID` environment variable (something I didn't know was a possibility until I read this thread) or passing the client id in via the `DefaultAzureCredentialOptions.ManagedIdentityClientI

[2020-09-07 15:47] LanceMcCarthy opened #14949 "[DEMO BUG] Missing BlobBatchClient Members"
**Describe the bug**

The following screenshot explains it better than a text description:

![image](https://user-images.githubusercontent.com/3520532/92403296-26698e00-f0ff-11ea-856b-a6b346c0a827.png)

**Expected behavior**

Using v 12.6 version of the .NET SDK should provide the same functionality described in the official .NET SDK examples.

https://github.com/Azure/azure-sdk-for-net/blob/maste

[2020-09-07 18:00] jsquire commented on #14949
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-07 18:06] lucasmaj commented on #14836
I am experiencing exactly the same exception intermittently.

[code]

- For us it occurs on IMessageSession.CompleteAsync(string lockToken).
- We use it inside an active transaction, where one message read results in multiple messages sent via SendVia's.
- We use SessionClient.AcceptMessageSessionAsync(TimeSpan operationTimeout) approach, not message pump.
- Latest Microsoft.Azure.ServiceBus 4.1.3

[2020-09-07 18:24] MehaKaushik commented on #14580
@mikeclayton glad to hear that the issue resolved. Please re-open this issue if you need further help.

[2020-09-07 18:24] #14580 closed

[2020-09-08 02:30] Luyunmt opened #14951 "[Azure Identity] VSCodeCredential Tests without settings can't run in sovereign cloud."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

Some [Tests](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/tests/VisualStudioCodeCredentialLiveTests.cs#L45) about authenticating with Vs code Credential with no settings file failed in  US Gov and

[2020-09-08 03:15] XuGuang-Yao opened #14952 "[Azure Form Recognizer]Using ClientSecretCredential to authenticate FormTrainingClient not work in sovereign cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

Test [FormTrainingClientCanAuthenticateWithTokenCredential](https://github.com/Azure/azure-sdk-for-net/blob/6ee76ca143cd2810660e0f0b7ec7878d9ab5852a/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClient

[2020-09-08 04:27] #14014 closed

[2020-09-08 06:33] Arithmomaniac opened #14953 "Fetch facets only once when using Azure Search paging"
**Library or service name.**
Azure.Search.Documents 11.1.1

**Is your feature request related to a problem? Please describe.**

I have code similar to the following:
[code]

If `results` requires multiple pages, the REST call made for each page still contains `facets` in its request body, and thus `@search.facets` in its response body. Only the first call should need to do that, as the facets shou

[2020-09-08 07:14] ddobric opened #14955 "Issue with downloading large blobs"
**Bug report**
Trying to download a large blob (20GB) by using DownloadToStreamAsync, Getting following exception after approx. 15 min.

**Steps to Reproduce**

Following code fails after 10-15 min. with *TaskCanceledException*.

[code]

**Expected behavior**
The large blob should be downloaded after a while. A retry should catch temporary network issues.

**Actual behavior**
The code is shown abo

[2020-09-08 08:20] Ekaterina543 commented on #14955
name : Import Secrets
      использует : hashicorp / vault-action
      с :
         url : https://vault-enterprise.mycompany.com:8200
        method : token
        caCertificate : $ {{secrets.VAULTCA}}
        токен : $ {{secrets.VaultToken}}
        пространство имен : ns1
        secrets : |
            секрет / ci / aws accessKey | AWS_ACCESS_KEY_ID;
            secret / ci / aws secretKey |

[2020-09-08 08:21] Ekaterina543 commented on #11619
name : Import Secrets
      использует : hashicorp / vault-action
      с :
         url : https://vault-enterprise.mycompany.com:8200
        method : token
        caCertificate : $ {{secrets.VAULTCA}}
        токен : $ {{secrets.VaultToken}}
        пространство имен : ns1
        secrets : |
            секрет / ci / aws accessKey | AWS_ACCESS_KEY_ID;
            secret / ci / aws secretKey |

[2020-09-08 08:27] Ekaterina543 opened #14956 "[FEATURE REQ]"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

[2020-09-08 08:37] Ekaterina543 opened #14957 "[QUERY]"
**Query/Question**
How can we help?sekretd

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2020-09-08 08:37] Ekaterina543 opened #14958 "**Query/Question**"
version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - sekrts IDE and version : [e.g. Visual Studioin https://github.com/Azure/azure-sdk-for-net/issues/14957__

[2020-09-08 09:06] Ekaterina543 opened #14960 "[F"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

[2020-09-08 09:07] #14960 closed

[2020-09-08 10:21] BjornDeRijcke commented on #11533
Any update on this. We also experience this behaviour

[2020-09-08 13:20] jsquire commented on #14953
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-08 13:21] jsquire commented on #14955
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-08 13:23] jsquire commented on #14956
Closing, as this appears to be a mistaken submission.  Please feel free to reopen if you believe that further discussion is needed.

[2020-09-08 13:23] #14956 closed

[2020-09-08 13:24] jsquire commented on #14957
Closing, as this appears to be a mistaken submission.  Please feel free to reopen if you believe that further discussion is needed.

[2020-09-08 13:24] #14957 closed

[2020-09-08 13:24] jsquire commented on #14958
Closing, as this appears to be a mistaken submission.  Please feel free to reopen if you believe that further discussion is needed.

[2020-09-08 13:24] #14958 closed

[2020-09-08 13:34] sopelt commented on #14691
We further investigated (latest sources of Azure.Identity, Azure CLI 2.11.1, added minimal repo) ... and it seems to be related to the actual AAD tenant. The following seems to be the minimal sample in terms of code:

[code]

I also noticed [this possibly related issue](https://github.com/Azure/azure-sdk-for-net/issues/14207).

If I `az logout` and `az login --tenant` to a different AAD tenant the

[2020-09-08 16:05] joebeernink commented on #14075
@jsquire Do we have an eta for this fix? Thanks

[2020-09-08 16:07] jsquire commented on #14075
Hi Joe.   In this case, I'm only serving as first line triage for routing the issue and don't have visibility.   I'll need to defer to @amnguye for status and details around release plans.

[2020-09-08 16:20] dejimarquis commented on #14828
@xccc-msft The resource type being deleted is Microsoft.DigitaltTwins

[2020-09-08 16:21] tg-msft commented on #13875
The suggestion from the above guideline suggest using `IList<string>.Add`:

[2020-09-08 16:42] josh-endries commented on #14752
Yep, I understand the difference. I had one script PeekLocking and another one Peeking, which is when I noticed there were no differences between locked and unlocked messages.

The goal is to understand what is in the queue, primarily for troubleshooting. Unfortunately it's becoming clear that ASB doesn't really have a way to do this, even with typical changing-while-enumerating sort of caveats.

[2020-09-08 16:42] #14752 closed

[2020-09-08 16:51] amnguye commented on #12557
Please reopen the issue once more details is provided from my previous post.

[2020-09-08 16:51] #12557 closed

[2020-09-08 17:06] #14938 closed

[2020-09-08 17:06] MiYanni opened #14970 "Allow .NET PR build pipeline to run Analyze in-parallel with tests"
Currently, the Analyze step runs after all tests steps have passed. I'm told that this was for a reason where it would download the package and use it. But now, it does build and run the generation steps so there is potential to parallelize it. So, the ask is to have Analyze run in-parallel with the Test steps. Basically, it would go: Build -> [Everything else in parallel].

[2020-09-08 17:30] pakrym opened #14969 "SnippetGenerator behavior is different when running for a single service directory or all of them"
This fix only affects core build but not serviceregistry run: https://github.com/Azure/azure-sdk-for-net/pull/14966

[2020-09-08 17:43] weshaggard commented on #14970
@pakrym does the code generation steps now always build all the packages? If so perhaps we can start doing this step in parallel and not wait to download the packages.

[2020-09-08 18:20] heaths opened #14973 "Use PemEncoding when .NET 5 GAs"
https://github.com/Azure/azure-sdk-for-net/blob/07221169662fc8e2af4b6ca59a5d25fe9b625760/sdk/keyvault/samples/getcert/Program.cs#L98-L99

Upgrade this to use the [PemEncoding](https://docs.microsoft.com/dotnet/api/system.security.cryptography.pemencoding?view=net-5.0) class and friends when .NET 5 GAs.

[2020-09-08 18:35] schaabs opened #14974 "[BUG] DefaultAzureCredential improperly catches AuthenticationFailedExcpetion"
This is a regression introduced in the 1.2.0 GA. The intended functionality of the `DefaultAzureCredential` and implementation of `GetToken` is that it should handle `CredentialUnavailbleException` and continue its authentication chain, but other exceptions should go unhandled and stop the authentication. This behavior changed in the 1.2.0 release so that it now will handle any `AuthenticationFail

[2020-09-08 18:40] pakrym commented on #14970
Code generation step doesn't build packages but Export-API does build dlls.

[2020-09-08 18:54] JoshLove-msft opened #14975 "Improve exception message for entity name validation"
Makes sense!

_Originally posted by @JoshLove-msft in https://github.com/Azure/azure-sdk-for-js/pull/11025#discussion_r485129563_

[2020-09-08 20:04] jamesbr-ashn commented on #14551
You are correct @schaabs. I found the order wasn't processing as described in your documentation.

[2020-09-08 20:50] kurtzeborn opened #14982 "Identity Follow up from ICM incident"
The incident has been mitigated, but requested further investigation into a possible bug in identity.  Here's a link to the incident: https://portal.microsofticm.com/imp/v3/incidents/details/195988455/home

@schaabs could you take a look and either close if we've already addressed this or redirect?

[2020-09-08 20:54] kurtzeborn opened #14984 "Storage SDK follow up from ICM incident"
The incident has been mitigated, but there is a request for further investigation into a possible issue with the storage SDK.  Here's a link to the ICM incident containing the details: https://portal.microsofticm.com/imp/v3/incidents/details/195994550/home

@amishra-dev would you assign as appropriate.

CC: @tg-msft, @seanmcc-msft

[2020-09-08 21:02] JoshLove-msft opened #14986 "Rename Proxy property to WebProxy"
This will ensure clarity if there ever ends up being AmqpProxy support.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClientOptions.cs#L38

[2020-09-08 21:38] #12120 closed

[2020-09-08 22:12] felipepessoto commented on #7175
Hi @serkantkaraca where did the issue was moved for? I couldn't find it.
Thanks

[2020-09-08 23:51] allenjzhang commented on #14883
This sounds like useful helper methods for CIDR scenarios. Assigning to Azure Network team for feedback.

[2020-09-09 00:40] steven1152 commented on #13899
Installing version 2.4.6 of Microsoft.Azure.Amqp fixed the issue on my side

[2020-09-09 00:49] jackbond opened #14998 "[QUERY] EventHubProducerClient thread safety"
The documentation at:

https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.eventhubs.producer.eventhubproducerclient?view=azure-dotnet

makes no mention of thread safety. We recently upgraded from the old event hub library, and today, for the first time ever, we saw events come through with corrupted data. Is SendAsync thread safe? Currently we use a single producer which is being called b

[2020-09-09 01:18] Tianyun-G commented on #14531
PR merged.

[2020-09-09 01:18] #14531 closed

[2020-09-09 01:18] Tianyun-G commented on #14530
PR merged.

[2020-09-09 01:18] #14530 closed

[2020-09-09 01:19] Tianyun-G commented on #14529
PR merged.

[2020-09-09 01:19] #14529 closed

[2020-09-09 01:20] jongio commented on #14802
Following the logic of using Dictionary semantics, Dictionary has the ability to test if a key exists with ContainsKey.

My only way to get this behavior is with a try/catch block, which indicates a missing feature in the lib.

The other libs have CreateIfNotExists, i.e.

[code]

But for AppConfig I have to special case it and use a try/catch to get the behavior I want.  I would like the API surfa

[2020-09-09 01:50] Luyunmt commented on #14536
Thank you for your help. Now I know how to check if something's a snapshot, but is there a method to get SnapshotTime or SnapshotQualifiedUri in track2?
![image](https://user-images.githubusercontent.com/53427149/92544721-25606a00-f281-11ea-8ff0-385b2077efbb.png)

[2020-09-09 05:49] amishra-dev commented on #13600
please reactivate if you are still facing the issue

[2020-09-09 05:49] #13600 closed

[2020-09-09 05:57] amishra-dev commented on #12287
@blueww @vinjiang can you please look

[2020-09-09 06:19] zhoufenqin opened #15008 "[BUG] get "code 416: The range specified is invalid for the current size of the resource." error when update file storage"
**Describe the bug**
I create a file share in Portal, then upload an empty file manually.
In my project, I want to update the file content. But an error occurred.

[code]

my pom.xml
[code]

I write a demo for you, [see here](https://github.com/zhoufenqin/storagedemo), need to update application.properties by yourself

**Expected behavior**
The file content can be updated.

**Actual behavior (incl

[2020-09-09 06:40] zhoufenqin commented on #15008
closing the issue, sorry for choosing the wrong project

[2020-09-09 06:40] #15008 closed

[2020-09-09 06:44] Luyunmt opened #15009 "[Event Hubs Client] All Tests fail while authrityhost from environment doesn't end with "/""
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.
Based on following [code](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/Testing/LiveResourceManager.cs#L90), all clouds' authorityhost must  end with "/". But the authrityhost f

[2020-09-09 06:53] ddobric commented on #14955
Thanks @jsquire.

I have found how the issue can be fixed. By commenting the line [172 ](https://github.com/Azure/azure-storage-net/blob/25e73e3c53a15e7cb4c2d1b2170065bf4bfa73dc/Lib/ClassLibraryCommon/Core/TimeoutStream.cs)

![image](https://user-images.githubusercontent.com/1756871/92563365-c5b19100-f277-11ea-9f41-033e51feb9fc.png)

However, the implementation looks as a feature and I'm not sure

[2020-09-09 08:00] #14299 closed

[2020-09-09 08:00] #14244 closed

[2020-09-09 08:39] mattosaurus commented on #10529
Hi, I am also encountering this issue when trying to authenticate a BlobCloudClient using MSI.

[code]

I am running this locally in Visual Studio and am logged in using an account that has been granted the contribuator role to the storage account. I am able to access the storage account as expected from Azure Storage Explorer.

My user account is in a CSP AAD and has been added as a guest to the

[2020-09-09 08:49] thecodetinker opened #15013 "Intermittent Exceptions when calling DefaultAzureCredential"
**Describe the bug**
Since moving to the latest Azure Identity libraries we have been plagued with intermittent Exceptions when calling `DefaultAzureCredential.GetTokenAsync`. The code works fine 99% of the time, but sometimes we get one of the following two Exceptions. The code also then hangs soon afterwards - we haven't any hard evidence to implicate Azure Identity in this but we have suspicion

[2020-09-09 11:21] hansmbakker opened #15016 "[BUG/QUESTION] Where is NameValidator?"
**Query/Question**
`Microsoft.Azure.Storage.Common` had the useful [`NameValidator` class](https://github.com/Azure/azure-storage-net/blob/master/Lib/Common/NameValidator.cs). I can't find the same functionality in the new `Azure.Storage` client library.

**Environment:**
 - Name and version of the Library package used: Azure.Storage.Blobs, major version 12

[2020-09-09 12:35] click2cloud-shailesh opened #15017 "[QUERY] While performing online migration getting status code ‘Running’ only, when we will get status ‘completed’"
**Query/Question**

Hello there,
We are trying to perform MySQL to Azure MySQL online database migration using Azure .net SDK. The migration activity seems to be working fine. However, we do not see any change in the status field. The only status update provided is that migration is still 'Running'. Is there a way to mark the status of the migration as 'Completed' from 'Running' once the migration

[2020-09-09 12:52] aklefdal opened #15018 "[BUG] SubscriptionClient stops processing message"
**Describe the bug**
We have some clients receiving message from a topic that suddenly stops processing messages. The clients are Windows Services running on-premise, separate executables from several repositories. All of them are still running and doing other work like answering on an HTTP-endpoint. Not all clients fail at the same time, normally just one, but sometimes several clients at the sam

[2020-09-09 13:26] jsquire commented on #15013
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-09 13:28] jsquire commented on #15016
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-09 13:29] jsquire commented on #15017
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-09 13:30] jsquire commented on #15018
/cc: @JoshLove-msft, @MiYanni

[2020-09-09 13:31] jsquire commented on #15018
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-09-09 13:52] jsquire commented on #14998
Hi @jackbond.  Thank you for your question and we regret that you're experiencing difficulties.  With respect to thread-safety, the v5 client offers the same guarantees of the v4 client, though the answer can be considered nuanced depending on how you're thinking of thread-safety.

In the classic sense of the term, the client is thread-safe in that it has no shared mutable state that is unprotecte

[2020-09-09 14:26] vanillajonathan commented on #11798
@jsquire ping!

[2020-09-09 14:29] jsquire commented on #11798
Hi @vanillajonathan.  Unfortunately, in this case I'm only the first-level triage and don't have insight.   I'll need to defer to @axisc and @shankarsama for the current state and better context.

[2020-09-09 14:30] jsquire commented on #11798
//cc: @scbedd

[2020-09-09 15:14] baskarmib opened #15020 "Add a Refresh Token Method for SDK Methods that invoke Azure Data Factory Pipeline"
**Library or service name.**
Azure DataFactory Pipelines can be created and invoked using the .Net SDK as mentioned in the below documentation.
https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

Azure DataFactory Pipeline

[2020-09-09 16:21] tg-msft commented on #14536
It's just using `BlobUriBuilder.Snapshot`.  Here's equivalent example code:

[code]

[2020-09-09 17:05] #12742 closed

[2020-09-09 18:30] jsquire commented on #15020
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-09 20:03] tg-msft commented on #14905
We spent a LOT of time debating and crafting the progressive disclosure experience around specialized blob types and this is one of those cases where I don't think changing from extension methods would be worth it.  Revisiting that compromise would probably involve getting a lot of people in a room.  :smile:

Mocking GetBlockBlobClient doesn't enable much that customers couldn't do by just instant

[2020-09-09 20:13] nickalbrecht commented on #14037
Ran into this today. From my digging, it appears this is a symptom of the type of `Stream` you use to upload, and it's not really a bug. In order to generate a hash for your blob (which is done on the client side before uploading by the looks of it), it needs to read the stream. Which means it would need to reset the position of your stream back to 0 (for the actual upload process) after generatin

[2020-09-09 20:22] AlexanderSher commented on #7271
Closing because .Net team has decided to use reference types directly. FYI @pakrym

[2020-09-09 20:22] #7271 closed

[2020-09-09 20:26] AlexanderSher opened #15033 "Reduce to only one label in App Configuration"
Right now we have both `AzConfig` and `App Configuration` labels, we should have only one, and it has to be synced with other languages.

[2020-09-09 20:42] AlexanderSher commented on #15033
FYI: @AlexanderSher @annelo-msft @AlexGhiondea @richardpark-msft

[2020-09-09 20:55] amnguye commented on #14949
Hi,

It would also be helpful to provide what version of `Azure.Storage.Blobs.Batch` you are using since you are looking to use our `BlobBatchClient`. I opened up our samples and they run fine with the current version (12.3.1)

[2020-09-09 21:00] jsquire commented on #15033
@AlexGhiondea, @lilyjma:  Would you please advise to the label that you'd prefer?

[2020-09-09 21:02] amnguye commented on #14955
Hi,

This is a v11 issue you submitted, not a v12 issue. I recommend that you either reopen the original issue you had in the old library repo or you upgrade to the v12 library and see if any of the fixes or enhancements we have done in the v12 library resolve your issue.

Please reactivate if this is a v12 issue.

[2020-09-09 21:02] #14955 closed

[2020-09-09 21:03] JoshLove-msft opened #15035 "Verify Generated Code step failing without clear error"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=530435&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=bdeefc16-b669-5ebd-ad94-a2c19ade53b0&l=6426

Summary:

   0 error(s)

Command failed to execute:
            & dotnet msbuild $PSScriptRoot\..\service.proj /t:GenerateCode /p:ServiceDirectory=$ServiceDirectory
            # ***/issues/8584
            # & $repoRoot\storage\genera

[2020-09-09 21:08] amnguye commented on #15016
We currently don't support it in v12. This issue is a duplicate of issue https://github.com/Azure/azure-sdk-for-net/issues/9611

[2020-09-09 21:08] #15016 closed

[2020-09-09 21:17] LanceMcCarthy commented on #14949
The current release is v12.6.0, the demos are out of date in that aspect. I've also found some weird syntax and object usage through the examples that only make sense on 12.3.

So, this is more than just  incremental update quirks, there are some breaking changes that the demos should address as they're directly linked to from the v12 documentation.

You can find all up to the minute accurate repr

[2020-09-09 21:21] amnguye commented on #14949
The current release for `Azure.Storage.Blobs.Batch` is 12.3.1.
https://www.nuget.org/packages/Azure.Storage.Blobs.Batch/

I think the version you are referring to is `Azure.Storage.Blobs` which is on version 12.6.0

Taking a quick skim at your .csproj file, you don't have the `Azure.Storage.Blobs.Batch` package installed. Please install this package in order to make `BlobBatchClient`. Thanks

[2020-09-09 21:22] luckerby opened #15036 ""SharedTokenCacheCredential authentication failed: Persistence check failed" when using Azure App Service"
I'm trying to use an ASP.NET Core app to obtain a user delegation SAS token. I'm using the standard Visual Studio ASP.NET Core web app template, which comes complete with cloud authentication.

The relevant code for `OnGet`, based on the sample [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-dotnet), is below:
[code]

The problem I'm running into

[2020-09-09 21:34] jsquire commented on #15036
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-09-09 21:34] LanceMcCarthy commented on #14949
Bingo!

I ended up in this repo via link from the other Azure.Storage.Blob demos, so I had no idea I was redirected to other samples that required an additional nuget package 🤦‍♂️

Then, I guess my only feedback is to add a comment to the using statement about the NuGet package dependency... because of the shared namespace with other NuGet packages, you have no information on how to resolve the Bl

[2020-09-09 21:35] brandonwatts commented on #13480
Just closing the loop this was solved by a member of my team. The solution is to explicitly wrap the value in a Dictionary.

[code]

[2020-09-09 21:35] #13480 closed

[2020-09-09 21:54] amnguye commented on #14949
Thanks for the feedback! I'm glad you were able to build and resolve your issue.

[2020-09-09 21:54] #14949 closed

[2020-09-09 22:01] AlexGhiondea commented on #15033
I have resolved this across all the repos.

[2020-09-09 22:01] #15033 closed

[2020-09-09 22:54] maririos commented on #14816
- Available only for supervised only models.
- Selected, unselected are the only values returned on `SelectionMark.State`. No other state
- Looks like for 2.1-preview.2 the `SelectionMarks` will be included as an json pointer under elements (need to confirm)

[2020-09-09 23:07] maririos commented on #14439
Updated:  https://aka.ms/azsdk/net/docs/ref/formrecognizer

[2020-09-09 23:07] #14439 closed

[2020-09-09 23:49] jackbond commented on #14998
@jsquire With regards to thread safety, your response addresses my only concern, which could be summarized as...

Does each thread need its own client?

And your answer appears to be no. In regards to ordering, we don't happen to care, but I appreciate the thoroughness of your answer.

As to "we saw events come through with corrupted data", we compress our data prior to enqueuing it, and have dequ