[2022-06-30 03:01] BowenYang666 opened #29569 "[BUG] DataLake Management: Default API Version is not recognized"
### Library name and version

Microsoft.Azure.Management.DataLake.Analytics 3.0.0

### Describe the bug

I got below exception when I tried to submit a job to Azure Data Lake Analytics using .NET SDK

my code is like this:
var res = adlaJobClient.Job.Get(adlaAccountName, new Guid("cc75454e-5ab0-4cc0-84f0-35bd7b09b8a2"));

**error msg:**
Unhandled Exception: Microsoft.Rest.Azure.CloudException: api

[2022-06-30 03:02] azure-sdk commented on #29569
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.07679948,Data Lake Storage Gen2:0.07147485,ARM:0.06971483'

[2022-06-30 04:38] Yao725 commented on #28969
I think we have two options to log the https information.
1. Use the log messages that sdk provides.
[code]
You can see more details about logging in the [page](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Diagnostics.md).

2. Use customized policy.
[code]

[2022-06-30 05:31] ArthurMa1978 opened #29570 "Initial Azure.ResourceManager.ContainerRegistry"

[2022-06-30 05:32] TANGLIHUI opened #29571 "List Method not found"
[Enter feedback here]
I can use Get method to get special job, but List is not work, and I got this error:
**System.Private.CoreLib: Exception while executing function: MonitorNewCosmosJobData. PipelineRunningStatusMonitoring: Method not found: 'Microsoft.Rest.Azure.IPage`1<Microsoft.Azure.Management.DataLake.Analytics.Models.JobInformation> Microsoft.Azure.Management.DataLake.Analytics.JobOperati

[2022-06-30 05:33] azure-sdk commented on #29571
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Lake Storage Gen2:0.26028025,Cognitive - Text Analytics:0.108503014,Extensions:0.08948691'

[2022-06-30 06:17] DarkNoir commented on #29557
I figured out what I was seeing, my bad,  the new SDK was pulling all 38k records of its recordset the way I was iterating the results. Once I figured out I was not using its paging they way it was intended my comparisons matched up. Sorry about the false alarm.

[2022-06-30 06:17] #29557 closed

[2022-06-30 06:37] crgarcia12 opened #29573 "[FEATURE REQ] Manage the registry"
### Library name

Azure.Containers.ContainerRegistry

### Please describe the feature.

It would be very useful to be able to query the private endpoints and replicas associated with a registry.
This is needed, for example, to be able to configure DNS entries when new registries are created, or to configure image scanning services via EventGrid triggers

[2022-06-30 06:37] azure-sdk commented on #29573
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Container Registry:0.56365967,Event Grid:0.1602758,KeyVault:0.049082246'

[2022-06-30 08:57] jwgoedheer opened #29578 "[BUG] PolymorphicDeserializeJsonConverter doesn't respect JsonConstructor attribute"
### Library name and version

Microsoft.Rest.ClientRuntime v2.3.24

### Describe the bug

When having a class with no default constructor but with an JsonConstructor attribute the Deserializer gives an System.NullReferenceException

### Expected behavior

return class instance created by constructor with JsonConstructor attribute

### Actual behavior

System.NullReferenceException when calling `ob

[2022-06-30 08:57] azure-sdk commented on #29578
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.33757725,Search:0.1282895,Service Bus:0.065301925'

[2022-06-30 10:42] svrooij opened #29579 "[QUERY] QueueMessage sample for complex types"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.Storage.Queues 5.0.1

### Query/Question

We are currently using the `IAsyncCollector<SomeType>` to push message the a regular storage queue. This works great, but we want to control the `VisibilityTimeout`. So we want to migrate to the `QueueClient` binding, which provides us with the `queueClient.SendAsync(BinaryData data, TimeSpan

[2022-06-30 12:20] azure-sdk commented on #29569
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Lake Storage Gen2:0.08268967,Service Bus:0.07306276,ARM:0.06871974'

[2022-06-30 12:21] jsquire commented on #29571
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-06-30 12:22] jsquire commented on #29573
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-06-30 12:28] #22436 closed

[2022-06-30 12:47] rzepinskip opened #29581 "[QUERY] ProcessingStoppedReason for DeveloperCodeException / EventHubsException"
### Library name and version

Azure.Messaging.EventHubs 5.7.0

### Query/Question

Hi! Is there any reason why `ProcessingStoppedReason` is set to `OwnershipLost` when partition processing task was faulted due to exception thrown in user code (`DeveloperCodeException`) or because particular consumer group does not exists (`EventHubsException`)? I find it a little misleading. What about having anot

[2022-06-30 13:43] maskati opened #29582 "[BUG] CryptographyClient initialization not thread safe"
### Library name and version

Azure.Security.KeyVault.Keys 4.3.0

### Describe the bug

The package indicates that [all client instance methods are thread-safe](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/security.keyvault.keys-readme#thread-safety). However it seems that `CryptographyClient` initialization in [InitializeAsync](https://github.com/Azure/azure-sdk-for-net/blob/ddcafbb

[2022-06-30 14:16] jsquire commented on #29582
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-06-30 14:40] tdwright commented on #26553
Thanks @christothes - you've nailed the use case I'm aiming for.

One issue I have is with the last line of your reply - how do I use the tenant ID to list the subs, or do anything else with it? It feels like I need to create a new ArmClient. What's the easiest way of doing this without prompting the user to login again? (I can see that there are some tenant ID related properties in the `DefaultAz

[2022-06-30 15:37] ArkeBcacy opened #29584 "Failed to find metric configuration for provider"
### Library name and version

Azure.Monitor.Query 1.1.0

### Query/Question

I'm attempting to use the MetricQueryClient with a resource id, but I'm only getting the following error:

Service request failed.
Status: 400 (Failed to find metric configuration for provider: microsoft.operationalinsights, resource Type: workspaces, metric: PublicationView, Valid metrics: Average_% Free Inodes,Average_%

[2022-06-30 16:08] lmolkova commented on #29312
@marksolbergerbjorkerot

The trigger telemetry for Azure Storage Queues is coming from Azure Function/WebJobs itself, which means that telemetry collection is broken between Application Insights and Functions. It may happen because of some configuration or dependencies that you have. I'm going to transfer this issue to [webjobs repo](https://github.com/Azure/azure-webjobs-sdk).

The traces (logs)

[2022-06-30 16:35] tdwright commented on #26553
@christothes That works, but means I'm triggering an interactive login twice. Is there some way to do the same thing more "quietly"?

I've tried using the `DefaultAzureCredential` as below....

[code]
But I get an error about the grant having expired.

Is there some way of recycling the token from the first time I call `InteractiveBrowserCredential`, whilst specifying a tenant ID?

[2022-06-30 16:39] jsquire commented on #29584
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-06-30 16:46] lmolkova commented on #27828
Fixed in https://github.com/Azure/azure-sdk/pull/4367

[2022-06-30 16:46] #27828 closed

[2022-06-30 16:46] christothes opened #29586 "[Docs] Add an example of `RequestFailedDetailsParser` usage to the Core readme docs"
### Library name

Azure.Core

### Please describe the feature.

Create an example of how to create an instance of the type and feed it to the pipeline options.

[2022-06-30 16:46] azure-sdk commented on #29586
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.2329584,Azure.Core:0.11804868,Storage:0.047407154'

[2022-06-30 16:48] azure-sdk commented on #29586
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Factory:0.2329584,Azure.Core:0.11804868,Storage:0.047407154'

[2022-06-30 16:51] christothes commented on #26553
Unfortunately, they are two different tokens.

[2022-06-30 17:00] drdamour opened #29587 "remarks should include supported types"
i believe the remarks section should list the supported types for serialization similar to how https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.message.userproperties?view=azure-dotnet#remarks does

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3d2174c-94d8-708b-a44e-730fb9da960a
* Version Indepe

[2022-06-30 17:08] heaths commented on #29582
Have you experienced a problem? It's possible that more than a single local crypto client could get created, but the overhead is minimal to locking a critical section each and every time it's accessed. Multiple instances could get created but only a single instance stored and it doesn't matter which one - they are all thin, nearly stateless wrappers over a single key.

[2022-06-30 17:10] tdwright commented on #26553
I see. This sort of loops back to my earlier point that this behavior is sort of broken for users who are guests in their the tenant that holds their subscription(s) - e.g. those who sign in with an MS / Live account.

This probably isn't the place to make these suggestions (please feel free to point me to somewhere more appropriate), but the following feel like sensible improvements:
1. When the

[2022-06-30 17:36] #27611 closed

[2022-06-30 17:36] #29282 closed

[2022-06-30 17:54] amnguye commented on #28172
Closing this issue as upgrading the Azurite version fixes the issue.

[2022-06-30 18:02] vcolin7 opened #29589 "Update Key Vault documentation"
### Library name

Azure.Security.KeyVault.Keys

### Please describe the feature.

We need to update the Key Vault documentation in a few places:

- [ ] **Authentication in Samples:** Our samples should show the use of Managed Identity instead of Service Principals with Client Secrets as the default authentication method. We can still show how to use the former for scenarios where the use of Manage

[2022-06-30 18:03] amnguye commented on #27847
This is a Storage Related Query regarding Copy SLA, not about the SDK.
We cannot document storage service SLA in the Storage SDK.

For general storage issues please open up a support ticket
https://azure.microsoft.com/en-us/support/create-ticket/
For other queries
https://techcommunity.microsoft.com/

Also the customer is using the v11 deprecated version, which all queries should be in the depreca

[2022-06-30 18:03] #27847 closed

[2022-06-30 18:05] amnguye commented on #27793
@jaschrep-msft Could you chime in on this?

[2022-06-30 18:05] heaths commented on #29589
For the last 2 bullets can we just do that as a change to the swagger docs? It's non-breaking. I've already approved and merged a couple of doc updates for @chlowell for Go, for example.

[2022-06-30 18:07] vcolin7 commented on #29589
That should be fine, although for the last bullet the swagger already mentions the expiration time refers to the key, as opposed to what .NET does

[2022-06-30 18:12] heaths commented on #29589
.NET isn't generated, but I usually took the string from swagger. Interesting. I'll be sure to update it, though.

[2022-06-30 18:15] vcolin7 commented on #29589
I actually noticed that all languages have their own flavor for the `expiresIn` docstring, which makes me think our public layer is not auto-generated for any language.

[2022-06-30 18:18] jsquire commented on #29587
Hi @drdamour.   Thank you for your feedback.   I think this is a good idea; I'll get it added in.

[2022-06-30 18:57] vcolin7 commented on #26194
We decided OKP will not be supported locally, as the default crypto libraries we us in our languages don't have a proper implementation for the algorithm.

[2022-06-30 18:57] #26194 closed

[2022-06-30 20:01] lmolkova commented on #29312
@RohitRanjanMS can you please take a look from the Functions/WebJobs perspective?

Summary:
- Function v3 doesn't report requests or dependencies to Application Insights, however, traces (logs) come through
- It used to work with legacy extensions, but with new extensions and new Azure Storage Queue/Tables bindings, it doesn't work anymore. However, the queue trigger requests are not instrumented

[2022-06-30 22:55] heaths opened #29600 "CLU Authoring APIs and AAD support not working on 2022-05-15-preview"
Using both the UK South and Western Europe regions, testing our CLU authoring APIs or AAD support returns a 404 Not Found. For now we will test these only on 2022-05-01 but any customers trying this with the new CLU 1.1 beta SDKs will get the failure unless they specifically use the 2022-05-01 version for those authoring calls and do not use AAD for conversation summarization and PII extraction.

[2022-07-01 03:33] #29307 closed

[2022-07-01 05:58] maskati commented on #29582
You are correct. I have not been able to reproduce, but my issue was most likely due to a delay in Key Vault RBAC permissions propagation. As a result, the key retrieval operation in InitializeAsync failed with a 403, forcing the client to use a remote provider for all subsequent operations using that cached CryptograpyClient instance. This is an edge case and not worth the performance hit, so pro

[2022-07-01 07:43] v-yilinhu opened #29603 "[App Configuration] GetIfChangedSettingModified failing in nightly runs"
App Configuration nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1677469&view=results

@jsquire for notification.

[2022-07-01 07:43] v-yilinhu opened #29604 "[Container Registry] CanDeleteRepository failing in nightly runs"
Container Registry nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1678136&view=results

@jsquire for notification.

[2022-07-01 07:43] v-yilinhu opened #29605 "[Container Registry] CanUploadOciManifest failing in nightly runs"
Container Registry nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1678136&view=results

@jsquire for notification.

[2022-07-01 10:38] lirenhe commented on #29229
Based on today's discussion, we will move the support for nested polymorphic types out of v1.1

[2022-07-01 11:30] Rookian commented on #25361
For SQL Server authentication you don't need to get the token by yourself anymore, but use the new `Active Directory Default` authentication provider, which can you specify in the connection string like this
`Authentication=Active Directory Default;`

[2022-07-01 12:05] jsquire commented on #29605
This is likely related to the [Azure Networking incident](https://portal.microsofticm.com/imp/v3/incidents/details/317207710/home) impacting Storage.   Closing this out for now, if tests continue to fail we can revisit.

[2022-07-01 12:05] #29605 closed

[2022-07-01 12:05] jsquire commented on #29604
This is likely related to the [Azure Networking incident](https://portal.microsofticm.com/imp/v3/incidents/details/317207710/home) impacting Storage.   Closing this out for now, if tests continue to fail we can revisit.

[2022-07-01 12:05] #29604 closed

[2022-07-01 12:09] jsquire commented on #29603
No changes were made to AppConfig since Feb 2022.   This may be related to the [Azure Networking incident](https://portal.microsofticm.com/imp/v3/incidents/details/317207710/home) or may be the result of service changes.  We'll continue to monitor for now, if tests continue to fail next week, we'll follow-up.

[2022-07-01 12:30] ArthurMa1978 opened #29608 "Initial Azure.ResourceManager.ManagedServiceIdentities"

[2022-07-01 17:31] weshaggard opened #29611 "Automatically deprecate new package publishes if the package is already deprecated"
If we deprecate a package and all its versions but we need to publish a servicing fix for it we want to have the publishing step automatically deprecate this new published version as well. Currently nuget doesn't support this feature natively but there are some potential rest APIs we can use to see if the current versions are deprecated and if so we can deprecate the new release. Whoever picks up

[2022-07-01 18:01] marklio commented on #29511
I think this needs to be re-opened. While @rogerreynolds has found a workaround, the bug is that the default value for a parameter yields a null ref exception. This should be fixed.

[2022-07-01 18:28] rogerreynolds commented on #29511
I would certainly agree.
I reopened, changed the name to BUG

[2022-07-01 18:52] marklio commented on #29511
It looks like this was possibly fixed in #28870. I'm testing it now.

[2022-07-01 18:58] #29587 closed

[2022-07-01 19:02] RohitRanjanMS commented on #29312
Thanks @lmolkova I will have a look at this today.

[2022-07-01 19:23] heaths opened #29613 "Azure.AI.Personalizer is using a newer version of System.Text.Json"
_sdk/personalizer/Azure.AI.Personalizer/src/Azure.AI.Personalizer.csproj_ is using a `@VersionOverride` for _System.Text.Json_ which can prevent customers from using this on older versions of .NET. Note that our [guidelines state you must target `netstandard2.0`](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-build-net-standard), and using _System.Text.Json_ 6.0.1 can hinder thi

[2022-07-01 19:46] heaths commented on #29582
RBAC permissions can take a while to propagate, yes. In fact, for our own test resources we wait 30 seconds. Thanks for confirming.

[2022-07-01 19:48] jsquire opened #29616 "[Event Hubs] Enable Invalid Consumer Group Test"
# Summary

The test `ProcessorClientDetectsAnInvalidConsumerGroup` in the `EventProcessorClientLiveTests` fixture has been temporarily ignored, as there was a fix needed in the core Event Hubs package.  Rather than adding a temporary project reference, it was ignored until the next version is published.

# Prerequisites

- Version 5.7.1 of the `Azure.Messaging.EventHubs` pacakge must be released a

[2022-07-01 19:54] craigktreasure opened #29617 "[QUERY] Azure.MixedReality.Authentication transitive dependency on Newtonsoft.Json 10.0.1"
### Library name and version

Azure.MixedReality.Authentication

### Query/Question

I'm the current maintainer for `Azure.MixedReality.Authentication`. It currently depends on [System.IdentityModel.Tokens.Jwt 5.4.0](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/5.4.0#dependencies-body-tab) to perform JWT validation. That version of `System.IdentityModel.Tokens.Jwt` also depends o

[2022-07-01 20:03] jsquire commented on #29581
I confirmed that changing the reason would be considered a behavioral breaking change, despite it being fairly low risk.  I don't think there's enough value in the proposed change for me to justify driving a breaking change exception request across all languages.  The reason will need to remain "OwnershipLost" for now.

To help better detect the scenario where the event processing handler is not f

[2022-07-01 23:01] marklio commented on #29511
I have confirmed that this is fixed in latest beta (I tested Azure.Storage.Blobs 12.13.0-beta.1). The fix comes primarily from the PR I referenced above (#28870) where it uses ?. to call the extension method that is throwing null ref. This prevents it from being called in the null case, and null appears to propagate correctly through the rest of the call chain. You can close this. Sorry for the ex

[2022-07-02 08:03] #29054 closed

[2022-07-02 08:49] ChangeTheCode commented on #29410
@PramodValavala-MSFT for my point of view it would make sense at least to link this https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage.queues-readme-pre#troubleshooting documentation in the documentation of the doc to have a direct link

[2022-07-02 09:55] RDavis3000 opened #29623 "[QUERY] Tables: Enum storage and query differences"
### Library name and version

Azure.Data.Tables 12.4.0.0

### Query/Question

I have an ITableEntity which contains an enum field:

[code]

When I store it using :

[code]
It appears in Storage Explorer as a string value (e.g. "Running"), and when I retrieve the record, the enum is properly typed and appears in the debugger as a string (ide sugar?).

But when I am querying the table using:

[code]

[2022-07-02 09:56] azure-sdk commented on #29623
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.56678796,Storage:0.09335962,Service Bus:0.06762816'

[2022-07-02 10:16] RDavis3000 commented on #29623
Ok so this works, but its not nice.
I think the == operator is borked for enum in this instance

`Expression<Func<StepTableEntity, bool>> query = (a) => a.PartitionKey == someGuid.ToString() && a.State.Equals(InstanceStates.Closed.ToString()); `

[2022-07-02 14:04] jsquire commented on #29623
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-02 14:05] jsquire commented on #29616
Change in approach, based on other dependencies.   This test has been reenabled and a project reference temporarily introduced.

[2022-07-02 14:05] #29616 closed

[2022-07-02 18:25] wlazuardi commented on #29433
@PramodValavala-MSFT alright, thanks for the explanation. It would be great if I can go to a specific page by using the page number.

[2022-07-02 18:25] #29433 closed

[2022-07-02 23:07] rogerreynolds commented on #29511
Thanks.

[2022-07-02 23:07] #29511 closed

[2022-07-04 02:52] HarveyLink commented on #29389
Hi @georgeatkins1 ,
Thank you for using Azure SDK for .NET.
For the quetion you mentioned:
I'm afraid that we don't have full documents for ProvisioningState.
We have 3 pre-defined ProvisioningState, please check [ProvisioningState property](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#provisioningstate-property).
The service team could also define th

[2022-07-04 06:42] sheiwangwo opened #29626 "The response of ListAsync has no link to the next page"
We are using ListAsync to get job list, but the response contains 300 items at most(When we are sure the number of jobs is more than 300).

The docs of this api shows that "the response includes a link to the next page of results, if any."(https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datalake.analytics.joboperationsextensions.listasync?view=azure-dotnet).
But the link to

[2022-07-04 06:42] azure-sdk commented on #29626
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Extensions:0.437985,Batch:0.08364665,Functions:0.05121505'

[2022-07-04 10:37] fengzhou-msft commented on #29336
@mbaranovych I cannot reproduce your issue locally. Can you share how the server and elastics pools are created and how the tags are added?

[2022-07-04 10:42] fengzhou-msft commented on #24601
@brennfoster Is this an issue for [Azure CLI](https://github.com/Azure/azure-cli)? I don't see .NET SDK related code in the steps to reproduce.

[2022-07-04 10:50] rokulka commented on #29387
@tung238  - `test` and `production` are the supported deployment names. Please try that out. I'll update the error message from the backend.

[2022-07-04 11:07] dusanradivojevic opened #29628 "[BUG] DataLakePathClient.GetAccessControlAsync doesn't work when called on blob container"
### Library name and version

Azure.Storage.Files.DataLake 12.9.0

### Describe the bug

DataLakePathClient.GetAccessControlAsync doesn't work when called on blob container itself, although the container also has his ACLs which should be evaluated as ones from directories and files.

Since container's ACLs are accessible through, for example Azure Storage Explorer, they should be accessible throug

[2022-07-04 14:01] #29628 closed

[2022-07-04 14:11] jsquire commented on #28435
@EldertGrootenboer - Do you have any insight that you can share?

[2022-07-04 16:43] dale-palmer-pantheon commented on #29549
@JoshLove-msft: FYI, I have resolved the issue. It wasn't the connection in the `[ServiceBusTrigger]` attribute causing the error as I initially thought. It was in fact another issue on startup whereby I was instantiating a `Azure.Messaging.ServiceBus.ServiceBusClient` object using the single string constructor overload, passing the value in from my configuration. I found another overload on it wh

[2022-07-04 16:56] SaurabhSharma-MSFT commented on #29567
@emreaydinceren We are looking into it and get back to you for any additional information.

[2022-07-04 16:59] SaurabhSharma-MSFT commented on #29579
@svrooij We are looking into it and get back to you for any additional information.

[2022-07-05 02:37] AemJane opened #29630 "Dotnet_CORE.ask eternal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f2696c-e0d3-3b71-e523-41e42bcc426c
* Version Independent ID: 3e57fbee-e376-d443-0cd0-337cfddcb98c
* Content: [StorageProfile Class (Microsoft.Azure.Management.Compute.Models) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/m

[2022-07-05 02:37] #29630 closed

[2022-07-05 02:37] azure-sdk commented on #29630
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Managed Identity:0.37192225,Docs:0.14528692,Compute:0.11446156'

[2022-07-05 02:50] tung238 commented on #29387
That's great, many thanks @rokulka and team. Cheers! I'm closing this.

[2022-07-05 07:37] RakeshMohanMSFT commented on #29579
@svrooij [UpdateMessageAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueclient.updatemessageasync)  method can change a message's visibility timeout and contents.

The below article has sample code that updates the queue message with new contents, and sets the visibility timeout to extend another 60 seconds.

https://docs.microsoft.com/en-us/azure/storage/queues/storage

[2022-07-05 07:58] svrooij commented on #29579
@RakeshMohanMSFT it's NOT about updating a message it's about creating a new message and sending it to the queue. Someone else already told me you're using Newtonsoft.Json so it would be nice to have an extension that does the serialization.

[code]

[2022-07-05 08:03] #23779 closed

[2022-07-05 08:53] AndersSpringborg commented on #12388
Are there any updates on an emulator? Some docker image? 👷🏼 😄

[2022-07-05 09:46] ArthurMa1978 opened #29636 "Internal construct case inherit failed"
The `OperationStatus` inherit from the common `OperationStatusResult` , but `OperationStatusResult` doesn't have protected / public constructor , lead to build failed

[2022-07-05 10:04] svrooij commented on #29579
@RakeshMohanMSFT something like:

[code]

[2022-07-05 13:58] #24875 closed

[2022-07-05 15:24] williamBurgeson opened #29640 "Unable to add FieldMappings to a new SearchIndexer object"
I am upgrading a library for my current company from .net core 3.1 to .net 6.0, and as part of that upgrade I have swapped out the old Azure lib `Microsoft.Azure.Search` for the new one `Azure.Search.Documents` (v11). I am currently attempting to migrate a block of code which built an Indexer object (now SearchIndexer) however I find that I am unable to either add or initialise any FieldMappings,

[2022-07-05 15:25] azure-sdk commented on #29640
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.42003417,Storage:0.16299063,Service Bus:0.05555137'

[2022-07-05 16:24] jsquire commented on #29640
Hi @williamBurgeson.   Thank you for reaching out and we regret that you're experiencing difficulties.   The Azure SDK pattern for collection types is that they read-only and initialized with an empty collection that can be modified.  This is based on the [Framework Design Guidelines - Guidelines for Collections](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-col

[2022-07-05 16:25] jsquire commented on #29640
I'm going to mark this as addressed, but please feel free to unresolve if you'd like to continue the discussion.

[2022-07-05 17:06] williamBurgeson commented on #29640
Thank you for this. Could you consider mentioning this in the docs as I'm sure there will be other people with similar issues where they need to upgrae legacy code and would be used to the pattern of being able to use the standard initialiser for a complex object.

[2022-07-05 17:06] #29640 closed

[2022-07-05 17:06] pallavit commented on #29617
/cc: @heaths for information.

[2022-07-05 17:37] vincent-partusch-aveva opened #29642 "Configuring EventProcessorHost registration timeouts"
### Library name and version

Microsoft.Azure.EventHubs.Processor 4.3.2

### Query/Question

We have been intermittently running into SocketExceptions in our application when registering EventProcessors. When we register our EventProcessors by calling _eventProcessorHost.RegisterEventProcessorAsync  we pass in an EventProcessorOptions object with the RecieveTimeout property set to 10 seconds. This

[2022-07-05 18:10] christothes opened #29644 "[FEATURE REQ] Tables filter expressions should automatically translate `enum` typed properties to their string value"
### Library name

Azure.Data.Tables

### Please describe the feature.

Given an entity type with an enum typed member as below, filter expression queries do not translate automatically to their expected string format.

ex.
[code]

The following filter expression
[code]
produces the filter `EnumProperty eq 1`.

The expected filter should be: `EnumProperty eq 'One'`

In order to create the correct q

[2022-07-05 18:11] christothes commented on #29623
Tracking this as a feature request in #29644

[2022-07-05 18:11] #29623 closed

[2022-07-05 18:14] #29581 closed

[2022-07-05 18:42] heaths commented on #29617
Are there any other project dependencies on `System.IdentityModel.Tokens.Jwt`? If not, I would upgrade that to remove the `Newtonsoft.Json` dependency; otherwise, you can mitigate the vulnerability without upgrading `Newtonsoft.Json` by setting the `MaxDepth` of any `JsonReader` derivative *you create*. If you don't create a `JsonReader` in any way, let me know and I can mark the scanner issue as

[2022-07-05 19:08] tdwright opened #29645 "[BUG] Azure.ResourceManager.Resources.dll not added to references in .NET Framework project"
### Library name and version

Azure.ResourceManager.Resources 1.1.0

### Describe the bug

When adding the Azure.ResourceManager.Resources NuGet package to a .NET Framework application (testing with 4.8):
1. The package appears to be installed correctly according to NuGet
2. A using statement can be added without error
3. When trying to use one of the provided types (e.g. `ArmDeploymentContent`),

[2022-07-05 19:08] remoba opened #29646 "[QUERY] Error Handling in an Event Hub consumer - Best Practices"
### Library name and version

Azure.Messaging.EventHubs 5.7.0

### Query/Question

I am wondering how I should go about handling failures in an Event Hub consumer. In this issue ([18344](https://github.com/Azure/azure-sdk-for-java/issues/18344#issuecomment-782516313)) on the Java SDK repository James explains that Event Hubs don't have the concept of a dead-letter queue because messages are not de

[2022-07-05 19:17] remoba opened #29647 "[QUERY] Fetching a schema by a consistent identifier"
### Library name and version

Azure.Data.SchemaRegistry 1.2.0

### Query/Question

According to the docs, retrieving a schema from the schema registry can only be done by using the schema Id. As far as I understand the schema Id is assigned by the schema registry upon creation, and will be different per environment.

My service is deployed in a number of different environments, and I don't want to

[2022-07-05 19:48] jsquire commented on #29647
Hi @remoba.   Thank you for reaching out and we regret that you're experiencing difficulties.  Unfortunately, what you're looking to do are limited by the available service operations and are not behaviors that the client has control over.  If you're curious about the details, the API spec for the service can be found [here](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/sch

[2022-07-05 19:56] jsquire commented on #29645
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-05 21:56] weshaggard commented on #29611
Yes these are usually security type fixes and this has happened a few times for older cosmos packages for example.

[2022-07-05 22:24] pallavit commented on #29611
Do we have to do security fixes to a deprecated packages always or until the 3 year mark?

[2022-07-05 22:40] weshaggard commented on #29611
Yes unfortunately we do in some cases. It isn't super clear the exact timelines but it is generally driven by support contracts.

[2022-07-06 01:56] #29636 closed

[2022-07-06 03:11] #29608 closed

[2022-07-06 05:38] Yao725 commented on #28873
Hi @jcbrooks92, we don't extract the URL specified in the credential, in contrast, we provide a public ctor for you to specify the base URL. Please change you ctor to:
[code]
Please let me if this could resolve your issue.

[2022-07-06 08:06] #29355 closed

[2022-07-06 10:26] bartbovendeerdt commented on #29078
@cijothomas there are no newer packages on that feed for the `Azure.Monitor.OpenTelemetry.Exporter`. Is that correct?

![image](https://user-images.githubusercontent.com/7485108/177529804-d61bef4d-9b49-408a-97aa-428adc6abcc9.png)

[2022-07-06 13:52] cijothomas commented on #29078
Pick the latest based on today. eg: 1.0.0-alpha.20220706.1

(this is not officially released nugets, so it does not really follow semver hence nuget does not know which one is actually the newest!)

[2022-07-06 17:15] SaurabhSharma-MSFT commented on #29642
@vincent-partusch-aveva I am routing this to services team to provide answer to your ask.

[2022-07-06 18:15] johngallardo commented on #29551
Can you please provide the data that you used to reproduce this issue?

[2022-07-06 18:18] johngallardo commented on #29551
var query = @"SELECT level FROM digitaltwins company JOIN building RELATED company.owns JOIN level RELATED building.isPartOf WHERE company.$dtId IN ['Comp1', 'Comp2'] AND IS_OF_MODEL(level, 'dtmi:digitaltwins:rec_3_3:core:Level;1')";

What happens if instead you do `SELECT level.$dtId, building.$dtId, company.$dtId FROM digitaltwins company JOIN building RELATED company.owns JOIN level RELATED bui

[2022-07-06 18:19] johngallardo commented on #23443
@abhinav-ghai assigning this to you.

[2022-07-06 19:28] dazfuller commented on #29551
I've modified the query to the following (formatted to make it easier to read here)

[code]

Running with and without paging results in 22 records returned. Running without setting the `max-items-per-page` value results in the following (company name and building name changed as this is customer data).

[code]

Running with a `max-items-per-page` value of `3` results in the following.

[code]

I'l

[2022-07-06 19:34] dazfuller commented on #29551
The updated code is as follows

[code]

[2022-07-06 20:09] ShivangiReja commented on #25988
@ThomasPe Thank you for reaching out and we regret that you're experiencing difficulties.

For beta versions, readme doc is updated [here](https://github.com/Azure/azure-docs-sdk-dotnet/blob/main/api/overview/azure/search.documents-readme-pre.md) which is up to date with [Search SDK Readme.md](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/README.md).

For G

[2022-07-06 20:10] heaths opened #29672 "Add `Audience` property to `ConversationsClientOptions`"
You'll need to add an `Audience` property to your `ClientOptions` and provide an extensible enum with well known cloud audiences.

You can use TextAnalytics as a guild. They added the [Audience](https://github.com/Azure/azure-sdk-for-net/blob/7091cb1413ae9639a2f620fbaceacbbd2ba014e2/sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClientOptions.cs#L59) property to `TextAnalyticsClientOpti

[2022-07-06 20:20] rmt2021 opened #29673 "[QUERY] Non-read SDK API may lead to unexpected exception when transient error happens?"
### Library name and version

Azure.Storage 12.2.0

### Query/Question

When a non-read Storage SDK API is called (HTTP method is not GET, e.g., `DeleteQueueMessage` of Queue service will send a DELETE request to the cloud), it is possible for transient errors (e.g., timeout or package drop) to happen, and the response will not arrive at the client on time, so the SDK will send a retry request aga

[2022-07-06 22:11] ShivangiReja commented on #25988
@ThomasPe Thank you for reaching out and we regret that you're experiencing difficulties.

For beta versions, readme doc is updated [here](https://github.com/Azure/azure-docs-sdk-dotnet/blob/main/api/overview/azure/search.documents-readme-pre.md) which is up to date with [Search SDK Readme.md](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/README.md).

For G

[2022-07-07 03:22] navba-MSFT commented on #29673
Adding Service team to look into this.

@xgithubtriage Could you please look into this issue once you get a chance ?

[2022-07-07 06:12] elangelo opened #29682 "[BUG] Azure.Storage.Blob v12 performance vs Microsoft.Azure.Storage.Blob v11 on .NET Framework 4.8"
### Library name and version

Azure.Storage.Blob v12.*

### Describe the bug

I have done 2 straight migrations of the v11 SDK to v12 SDK. One on dotnet 6 and one on .NET Framework. The dotnet and the .NET frameworks implementation virtually contain the same logic (concering Azure Blbos) but the performance of 2 solutions is vastly different.
A simple call the BlobClient.Exists on the dotnet solut

[2022-07-07 08:03] #29134 closed

[2022-07-07 09:40] stavavram commented on #29647
Hi @jsquire
I noticed that these APIs we need exist

Examples:
- Get schema content by schema group, schema name, and version

`https://stav-test.servicebus.windows.net/$schemagroups/<SCHEMA_GROUP>/schemas/<SCHEMA_NAME>/versions/<VERSION>?api-version=2020-09-01-preview`

- Get all schemas in schema group
https://stav-test.servicebus.windows.net/$schemagroups/<SCHEMA_GROUP>/schemas?api-version=2020

[2022-07-07 10:34] MantriKarthik opened #29685 "No info on running test from multiple locations in availabilitytelemetry.runlocation"
[Enter feedback here]
 I want to availability test from 5 different locations but runlocation does not support that, so I want to know how to run the test from different locations. But there is no info on that in this document

Thank you in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee9c6226-f05e-cb2f-b828-

[2022-07-07 15:04] ak-oc opened #29692 "[BUG] Form Recognizer Studio - Cross page tables fail when generating models"
### Library name and version

2022-06-30-preview

### Describe the bug

I have created a custom neural model using Form Recognizer Studio using the API Version 2022-06-30-preview. In the release notes it says ["Tabular fields support cross page tables by default"](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/concept-custom-neural#tabular-fields). I have uploaded 5 doc

[2022-07-07 15:33] jsquire commented on #29647
@stavavram:  I don't have historical context, but the endpoints that you've referenced do not exist in the [REST API spec](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/schemaregistry/data-plane/Microsoft.EventHub/stable/) that the client is based on.  It appears that the last update to the spec was back in November via #15855.

@hmlam, @nickghardwick, @kasun04 - Do you fol

[2022-07-07 15:41] #29692 closed

[2022-07-07 15:47] ak-oc commented on #29692
@jsquire thanks for the swift response. Is there a repo for the Form Recognizer Studio? There used to be for its predecessor, but this has gone stale: https://github.com/microsoft/OCR-Form-Tools

[2022-07-07 17:19] anandnara commented on #28488
Fixed this by setting IfMatch = ETag.All as part of BlobRequestConditions. This is an optimistic approach as per the [link](https://docs.microsoft.com/en-us/azure/storage/blobs/concurrency-manage?tabs=dotnet). The assumption here is that, setting a property field such as IfMatch does not affect the blob contents and does not interrupt DownloadToAsync operation. Also, according to this [link](https

[2022-07-07 17:48] alastairanderson opened #29699 "[BUG] dotnet asking for MacOS KeyChain admin access every time SecretClient.GetSecretAsync() is called"
### Library name and version

Azure.Security.KeyVault.Secrets 4.3.0

### Describe the bug

On MacOS, whenever SecretClient.GetSecretAsync() is called dotnet is requesting administrative access to update the KeyChain.

### Expected behavior

No request to modify the KeyChain, given that it should be a GET request from the KeyVault, I'm not sure what modifications would be required that requires adm

[2022-07-07 17:59] jsquire commented on #29699
@schaabs:  I'd also appreciate your thoughts on this one.  Is it possible that it's the Identity credential that's the root of this behavior?

[2022-07-07 18:20] johngallardo commented on #29551
@dazfuller - are you updating the graph between calls? Also - can you provide your ADT hostname, that may help us to diagnose this on the service side.

[2022-07-07 19:21] jsquire commented on #29647
The client cannot support service endpoints without an approved REST API specification.   Without understanding service plans, I can't offer insight here.   We'll need the folks that I pinged above for that information.

[2022-07-07 21:53] johngallardo commented on #29551
@dazfuller I can repro this - we are investigating on the service now. Thanks for reporting this.

[2022-07-07 22:31] ArkeBcacy opened #29707 "[BUG] Query 'Properties' returns 0 results"
### Library name and version

Azure.Monitor.Query 1.1.0

### Describe the bug

I'm attempting to use the LogsQueryClient to pull data from a Log Analytics workspace and having issues with the query.

Using the following queries I'm getting inconsistent results when the 'Properties' field is used in a Kusto query:

AppMetrics | where Name == 'PublicationView' and Properties has 'R2P9780986027956' =

[2022-07-07 23:20] SaurabhSharma-MSFT commented on #29682
@elangelo Redirecting this to services team to look into it.

[2022-07-07 23:48] nisha-bhatia opened #29710 "Add Batching to Azure.Monitor.Ingestion"
- [x] Add Batching
- [x] Test
https://github.com/tg-msft/azure-sdk-for-net/blob/8348e989160c5e2c979a4a6b630175b31aeed6d0/sdk/storage/Azure.Storage.Blobs/src/PartitionedUploader.cs#L212

[2022-07-07 23:48] azure-sdk commented on #29710
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.54622054,Batch:0.34945196,Automation:0.08061349'

[2022-07-07 23:57] nisha-bhatia opened #29711 "Add gzip to Azure.Monitor.Ingestion"

[2022-07-08 03:02] v-yilinhu opened #29714 "[Core] Ubuntu2004_NETCore31_PackageRef_Debug failing in nightly runs"
Core nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1691218&view=results

@jsquire for notification.

[2022-07-08 03:02] v-yilinhu opened #29715 "[EventHub] ProcessorClientBeginsWithTheNextEventAfterCheckpointing failing in nightly runs"
EventHub nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1691084&view=results

@jsquire for notification.

[2022-07-08 03:02] v-yilinhu opened #29716 "[Search] UpdateIndex failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1691382&view=results

@jsquire for notification.

[2022-07-08 03:02] v-yilinhu opened #29717 "[Synapse] AddAndRemoveRoleAssignmentSync failing in nightly runs"
Synapse nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1692176&view=results

@jsquire for notification.

[2022-07-08 03:02] v-yilinhu opened #29718 "[Tables] InsertOverPartitionLimit failing in nightly runs"
Tables nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1690955&view=results

@jsquire for notification.

[2022-07-08 05:01] dazfuller commented on #29551
Thanks. Let me know if you need anything to help

[2022-07-08 07:54] tdwright commented on #26553
Is there a proper place to make suggestions? I feel like original "bug" is working as designed, but there's still some options for making the experience more seamless.

[2022-07-08 08:03] #28994 closed

[2022-07-08 08:03] #28827 closed

[2022-07-08 10:01] elangelo commented on #29682
I investigated this a bit further and by managing my own HttpClient connction pool i'm able to keep a consistent performance through the lifetime of my application.
This is a bit of a problem as this is more or less disencouraged from doing this

[2022-07-08 10:43] greatvovan commented on #12891
@seanmcc-msft when using [Integrated Windows Authentication](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#integrated-windows-authentication-iwa) which of TokenCredential's [descendants](https://docs.microsoft.com/en-us/dotnet/api/azure.core.tokencredential?view=azure-dotnet) should I use? Cannot figure out...

`AcquireTokenByIntegratedWindowsAuth()` alr

[2022-07-08 12:30] jsquire commented on #29707
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-08 12:30] azure-sdk commented on #29707
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.38190386,App Services:0.08503543,Extensions:0.06467396'

[2022-07-08 12:31] #29715 closed

[2022-07-08 12:33] jsquire commented on #29714
@v-xuto:  Josh Free is not the correct person to assign here.   Please leave unassigned for triage.

[2022-07-08 12:34] jsquire commented on #29714
Timeout issue in the pipeline is known and mitigation is in progress.

[2022-07-08 12:34] #29714 closed

[2022-07-08 12:35] jsquire commented on #29716
@v-xuto:  Please leave unassigned for triage; this is not the Mohit that you intended.  😄

[2022-07-08 12:36] jsquire commented on #29717
@v-xuto: Please leave unassigned for triage.

[2022-07-08 12:43] jsquire commented on #29718
It appears that the Function instance is triggering throttles consistently for this test over the last few days; unsure if that is the intent of the test and a response changed or if we need to consider some kind of back-off.

[2022-07-08 12:45] jsquire commented on #29603
Looks like this is unrelated to the outage;  @DivineNwaokocha, since you're working in AppConfig, do you mind taking a look at the tests and seeing if there's something that needs adjustment?

//cc: @ShivangiReja

[2022-07-08 13:44] ArthurMa1978 commented on #29534
Hi @samir-puranik , yes, we will support it soon in the stable release this month.

[2022-07-08 13:48] #29470 closed

[2022-07-08 13:49] tscbp commented on #22100
Confirming documentation still incorrect as of 12.12.0.  Example: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs#L399 -
[code]

[2022-07-08 13:58] pluservice commented on #28858
Error is still  present
System.ArgumentException: 'The modelId must be a valid GUID. Arg_ParamName_Name'

Form Recognizer Studio generated code (C#) does not work

Validation still check fora a valid GUID
https://github.com/Azure/azure-sdk-for-net/blob/Azure.AI.FormRecognizer_4.0.0-beta.4/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ClientCommon.cs

[2022-07-08 15:10] jaschrep-msft commented on #25621
Resolved by #26508

[2022-07-08 15:10] #25621 closed

[2022-07-08 15:12] #8001 closed

[2022-07-08 15:13] jaschrep-msft commented on #8399
OpenWrite solves this issue.

[2022-07-08 15:13] #8399 closed

[2022-07-08 15:45] connershoop commented on #28357
This is still an issue that requires downgrading `Microsoft.Azure.WebJobs.Extensions.EventHubs` to `5.0.1` .

While using latest Visual Studio Core tools from [here ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#install-the-azure-functions-core-tools)and `Microsoft.Azure.WebJobs.Extensions.EventHubs 5.1.1`, running an Eventhu

[2022-07-08 16:48] ShivangiReja commented on #29716
This issue is fixed here - https://github.com/Azure/azure-sdk-for-net/pull/29702.

Keeping this issue to track https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1694718&view=results nightly run failure

[2022-07-08 17:42] kostasvl opened #29737 "[BUG] BlobBatchClient.DeleteBlobs fails with 404 when a blob versionid is provided"
### Library name and version

Azure.Storage.Blobs.Batch 12.9.0, Azure.Storage.Blobs 12.12.0

### Describe the bug

My ultimate goal is to code a loop that will delete the previous versions of about one million deleted blobs (we have versioning and soft-delete enabled). I'm hoping this will improve the directory browsing experience in AZ Storage Explorer.

First, I feel I shouldn't have to do this.

[2022-07-08 17:57] seanmcc-msft opened #29739 "[Storage] STG 84 release prep"
- Update [Constants.DefaultSasVersion](https://github.com/Azure/azure-sdk-for-net/blob/25b8e8fe38b4cf384726a698ff77572108bcdb5a/sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs#L27)
- Update [StorageVersionExtentions.LatestVersion](https://github.com/Azure/azure-sdk-for-net/blob/25b8e8fe38b4cf384726a698ff77572108bcdb5a/sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs

[2022-07-08 17:57] #28154 closed

[2022-07-08 18:11] #29716 closed

[2022-07-08 21:22] amnguye opened #29742 "[BUG] GetBlobClient or any GetStorageClient causes SAS to be parsed and reordered"
### Library name and version

Azure.Storage.Blobs; Azure.Storage.Queues; Azure.Storage.Files.Shares; Azure.Storage.Files.DataLake

### Describe the bug

When calling .GetBlobClient(blobname) when the Parent client is authenticated with a SAS token in the URL, the SAS will be manipulated and reformed

We need to check all GetStorageClients to check if the SAS is getting parsed and put back together

[2022-07-09 01:52] NateB2 commented on #26417
Any update on this?  We also need the model factory for our unit tests.

[2022-07-09 02:29] ArcturusZhang opened #29746 "[Mgmt] Find a way to simplify the duplicated parts in mgmt configurations"
Now all the mgmt configurations contain a shared piece of `rename-rules` which come from the template project.
These duplications are ugly, we might need to refine that.

[2022-07-09 02:29] azure-sdk commented on #29746
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.37711343,Storage:0.30171046,Extensions:0.056212623'

[2022-07-09 08:03] #27964 closed

[2022-07-09 18:54] craigjensen opened #29750 "[BUG] NullReferenceException reading V1.0 camel cased client-side encryption metadata"
### Library name and version

Azure.Storage.Blobs 12.13.0

### Describe the bug

NullReferenceException when attempting to deserialize client side encryption metadata (encryptiondata) that was serialized with a previous version of the SDK configure to use camel casing (stack below).  The problem appears to be in the various EncryptionDataSerializer.ReadPropertyValue methods that use JsonProperty.N

[2022-07-10 08:57] shlomiassaf opened #29752 "[FEATURE REQ] Service Bus - Scoped renew token"
### Library name

Azure.Messaging.ServiceBus

### Please describe the feature.

Similar to `ServiceBusProcessorOptions.MaxAutoLockRenewalDuration`, we've developed an internal implementaiton for a scoped auto renew policy which uses `IAsyncDisposable` as the trigger to stop renewing the token.

While `MaxAutoLockRenewalDuration` will keep calling renew until the defined period ends (or the message

[2022-07-11 02:17] v-xuto commented on #29717
Got it. I will leave unassigned for triage.

[2022-07-11 04:13] deer-prudence opened #29758 "[BUG] Documentation Inconsistency in contributing.md"
### Library name and version

N/A

### Describe the bug

The documentation in contributing.md indicates that the input files should be of the form `https://github.com/Azure/azure-rest-api-specs/blob/main/specification/confidentialledger/resource-manager/Microsoft.ConfidentialLedger/stable/2022-05-13/confidentialledger.json` when I believe it should be of the form `https://github.com/Azure/azure-re

[2022-07-11 05:16] a2741890 commented on #11435
Is the Azure.Search.Document still being updated? The last beta version released was in November 2021.

[2022-07-11 09:15] janus007 commented on #27926
It seems like a mess to me. Why are you making it so hard to handle Service Bus Messaging?
Hours and hours are running through dev teams each day trying to bend everything into a soft six pence.

Very annoying :(

[2022-07-11 11:50] IanKemp commented on #16253
Please can this information be included in https://devblogs.microsoft.com/azure-sdk/unit-testing-and-mocking/ ?

[2022-07-11 11:54] davecader commented on #29368
Hello  Chengming

Thank you for investigating this and your suggestions, but migrating to the preview SDK is not a viable option for our team now due to the many breaking changes starting with version 3. We make extensive use of the Automation API, and would have to address literally hundreds of breaking changes followed by weeks of testing to have a new build that runs on the latest SDK version.

[2022-07-11 12:41] jsquire commented on #29752
Hi @shlomiassaf.   Thank you for your feedback.  I'd like to understand more about your scenario, if you're willing to share - specifically how the duration causes friction for your application.

My concern with the proposed scope pattern is that it can lead to unexpected behavior, very long delays, and potential data loss.  The intent of having a time limit is to guard against those scenarios.  F

[2022-07-11 13:18] RetYn opened #29769 "[BUG] Use DefaultAzureCredential with serviceconnection in ado pipeline receive 401"
### Library name and version

Azure.Identity 1.6.0

### Describe the bug

I use DefaultAzureCredential to init CosmosClient
new CosmosClient(endpoint, new DefaultAzureCredential(), options)
in a c# console app, and run the app in ado pipeline with a service connection.
Sometimes it will get 401 error with the following error message:
Provided AAD token was issued by the authority [72f988bf-86f1-41

[2022-07-11 13:45] rjosephp opened #29771 "Question regarding the cost of making GetBlobs call"
It is documented that "_Enumerating the blobs may make multiple requests to the service while fetching all the values_".

If I have 100,000 blobs stored in the container and if I'm using GetBlobs, it lists each blob so that it can get the number of blobs that are in the container and how large they are, does that count as 1 operation as it only called the list once, or is it 100,000 operations as

[2022-07-11 14:05] fil-at-werma opened #29773 "InvalidOperationException"
Does this happen to throw an InvalidOperationException, if I call `SendMessagesAsync` with a batch before the previous call has finished?

It's not documented here and I tried to follow https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-standard-sdk-2#concurrent-operations . There it is done with `SendMessageAsync` - Tasks are awaited all at

[2022-07-11 14:07] jsquire commented on #29769
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-11 14:17] fil-at-werma commented on #29773
Thanks!

I just realized, I may have been wrong: It's not `SendMessagesAsync` that threw `InvalidOperationException`, it was `CreateMessageBatchAsync`:

[code]
`_messages` is a `Queue<ServiceBusMessage>`

AppInsights:
InvalidOperationException -

Stack-Trace is pointing to the line `using ServiceBusMessageBatch batch = await _sender.CreateMessageBatchAsync(cancellationToken);`

[2022-07-11 14:36] fil-at-werma commented on #29773
Awesome! Thank you. Yes, that explains it perfectly.

[2022-07-11 14:36] #29773 closed

[2022-07-11 15:40] madelson commented on #27018
I believe we're hitting the same issue, but with downloads instead of uploads. Is `BlobContainerClient` not intended safe for parallel operations?

Our error looks like this:

[code]

[2022-07-11 15:59] elangelo commented on #29682
I haven't heard anything on this issue. Going to close it myself as i think by caching the BlobServiceClient as recommended i get most of the performance i was expecting.

[2022-07-11 15:59] #29682 closed

[2022-07-11 16:33] SaurabhSharma-MSFT commented on #29737
@kostasvl We are looking into it and get back to you for any additional information.

[2022-07-11 16:34] SaurabhSharma-MSFT commented on #29750
@craigjensen We are looking into it and get back to you for any additional information.

[2022-07-11 16:53] heaths commented on #29699
I believe this is an Identity issue (or at least behavior - may indeed be by design for the selected credential provider), not a Key Vault issue. It's happening during authentication. `SecretClient.GetSecretAsync()` is just a network call to get an opaque value.

From the logs, it seems the `ClientSecretCredential` is being used when the prompt occurs, which makes me think the client secret - pote

[2022-07-11 17:05] pallavit opened #29779 "Enable national cloud support for Azure Search SDK"
Search SDK currently hard codes the audience to the public cloud. We need to enable the support for multiple audience to target non public clouds by the SDK.

[2022-07-11 17:10] schaabs commented on #29699
Seems like the System.KeyChain is being invoked to access the private key of the certificate you're passing to the `ClientCertificateCredential`. The private key is necessary to sign the assertion that gets sent to the STS to get a token. I'm not sure if there is a way to forgo this KeyChain dialog. Using the `AzureCliCredential` to authenticate a user which has access to the vault is a possible w

[2022-07-11 17:41] rjosephp commented on #29771
Hi, please close this issue. I got the answer I was looking for.

[2022-07-11 17:41] #29771 closed

[2022-07-11 19:29] gmndrg commented on #11435
Hello @a2741890, yes, please check https://www.nuget.org/packages/Azure.Search.Documents/#versions-body-tab You can see the latest beta versions and the latest was out 4 days ago.

![image](https://user-images.githubusercontent.com/46359679/178342980-eb37a277-9df8-4304-bb6c-30351339a413.png)

The original thread is already closed. For new threads, please submit a new issue. Thank you.

[2022-07-11 19:41] greatvovan opened #29784 "[FEATURE REQ] Add Integrated Windows Authentication support within TokenCredential interface"
### Library name

Azure.Storage.Blobs

### Please describe the feature.

I am running into this issue with `Azure.Storage.Blobs` but I believe this will be the case for other libraries accepting [`TokenCredential`](https://docs.microsoft.com/en-us/dotnet/api/azure.core.tokencredential?view=azure-dotnet) as well. I tried to make it work with Integrated Windows Authentication but failed to find the

[2022-07-11 19:52] jsquire commented on #29784
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-11 20:42] amnguye commented on #29518
I think as explained [here](https://github.com/Azure/azure-sdk-for-net/issues/18797#issuecomment-780042389) in the github issue referenced, that OpenWrite is supposed to mimic the [System.IO File.OpenWrite](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.openwrite?view=net-6.0). Even though this is different than the v11 behavior, it's the behavior that it should have been in the first

[2022-07-11 20:46] craigktreasure commented on #29617
I see usage by the following:
* `sdk/containerregistry/Microsoft.Azure.ContainerRegistry/src/Microsoft.Azure.ContainerRegistry.csproj` (VersionOverride=5.1.2)
* `sdk/eventhub/Microsoft.Azure.EventHubs/src/Microsoft.Azure.EventHubs.csproj`
* `sdk/keyvault/Azure.Security.KeyVault.Keys/tests/Azure.Security.KeyVault.Keys.Tests.csproj`
* `sdk/mixedreality/Azure.MixedReality.Authentication/src/Azure.Mix

[2022-07-11 22:05] sajid08 commented on #25319
Any update on this? @jacobmohl we also started getting this after upgrading to .net 6 and Functions v4 but funny thing is that it's not happening in all the functions, so far only one where it's not working uses Sub Orchestrators, not sure if that has anything to do with it but please let me know if you found a solution for this. Thank you.

[2022-07-11 22:35] SaurabhSharma-MSFT commented on #29750
@craigjensen You may be getting this error as you need to re-encrypt previously encrypted data with client-side encryption v2 version.  Can you please try as per the directions over [here](https://docs.microsoft.com/en-us/azure/storage/blobs/client-side-encryption?tabs=dotnet#reencrypt-previously-encrypted-data-with-client-side-encryption-v2) and let me know if you still get this error?

[2022-07-11 23:37] kinelski commented on #24450
The SDK is just reflecting the behavior of the service swagger. V2 swagger had locale as an enum, while V3 has it as a string. We still need to link proper documentation to an exhaustive list of supported locales, but I'll remove the `blocking-release` tag.

[2022-07-11 23:37] johngallardo commented on #29551
@dazfuller  - we have identified what we believe to be the root cause, and are working on mitigations at multiple places within our services. In the meantime, we believe this only impacts scenarios where max-page-size < 100.

[2022-07-11 23:48] heaths commented on #29617
I don't recommend overriding the version dependency. It would be best to upgrade the dependency to th eminimum version that eliminates the dependency on `Newtonsoft.Json`. If CI fails, we can instead mark the vulnerability as not used directly.

[2022-07-12 00:01] #29567 closed

[2022-07-12 00:03] SaurabhSharma-MSFT commented on #29567
@emreaydinceren The PR for the fix has been created and it will be merged once approved. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-07-12 01:54] craigktreasure commented on #29617
Can you tell me more about the hesitation with overriding?

[2022-07-12 02:58] fengzhou-msft opened #29792 "Consolidate SystemAssignedServiceIdentity into ManagedServiceIdentity in common types of ResourceManager"
`ManagedServiceIdentity` is a superset of `SystemAssignedServiceIdentity` with an additional optional property `UsersAssignedIdentities`, and more values in the identity type. We can use `ManagedServiceIdentity` to replace the `SystemAssignedServiceIdentity` model in an RP with `UsersAssignedIdentities` always being null for that RP and some of the identity types being invalid (we can make up for

[2022-07-12 04:05] wsugarman opened #29794 "Add Uri Property to TableServiceClient and TableClient"
### Library name

Azure.Data.Tables

### Please describe the feature.

Unlike the other Azure Storage service clients, both the `TableServiceClient` and the `TableClient` are missing a `Uri` property whose value is the corresponding endpoint. In addition to parity with the old [`WindowsAzure.Storage`](https://www.nuget.org/packages/WindowsAzure.Storage) package, these properties also allow users t

[2022-07-12 05:33] ilantom opened #29796 "Get latest timestamp file from container/blob"
### Library name and version

Azure Storage Blob 12.2.0

### Query/Question

How do I get the latest modified file from a Blob?

I have a  container in which there is a blob named cache:

[![enter image description here][1]][1]

I have the following code where I’m trying to get the latest modified file from the container:

[code]

How do I get the latest modified file from 'cache' blob? Please not

[2022-07-12 06:44] xboxeer opened #29797 "[BUG]Update Resource management using the Azure SDK for .NET document to catch up the latest SDK"
### Library name and version

Azure.ResourceManager

### Describe the bug

Update the [Resource management using the Azure SDK for .NET](https://docs.microsoft.com/en-us/dotnet/azure/sdk/resource-management?tabs=PowerShell#resourcecs) to include the latest stable version SDK, and optimize the reading experience

### Expected behavior

NA

### Actual behavior

NA

### Reproduction Steps

NA

### En

[2022-07-12 07:48] adriancuadrado commented on #26553
@christothes I'm reading the thread and if my understanding is correct you added the _needs-author-feedback_ label because you needed more feedback from @tdwright. If that's the case then I'd like to remember you that the label won't go away until not @tdwright, but the original author of the issue answers. I think you have to ask @tdwright to create a separate issue to keep discussing with him hi

[2022-07-12 09:32] JoeyJaySWE opened #29803 "Dead link report"
[Enter feedback here]
The dead link leads to a 404-page.
[Deploy an SSH-enabled VM with a Template with .NET](https://azure.microsoft.com/resources/samples/resource-manager-dotnet-template-deployment/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2b138b-2471-5e90-0a7d-07f8ba5e7ce3
* Version Independent ID: 695b4a2a

[2022-07-12 09:45] PTychler opened #29804 "DeleteAsync returns Blob not found [QUERY]"
### Library name and version

Azure.Storage.Blobs 12.12.0

### Query/Question

This is my first Issue post on github please bare with me.

Deleting a blob returns 404 : blob does not exist
blobClient.Delete();

However, I am using the same blob name for Uploading and Downloading and these two are working properly.
blobClient.DownloadTo(ms);
containerClient.UploadBlobAsync(imageName, stream);

I am

[2022-07-12 10:56] ardacetinkaya opened #29807 "[FEATURE REQ] Setting DisplayName for an activity does not work in Monitor.OpenTelemetry.Exporter"
### Library name and version

Azure.Monitor.OpenTelemetry.Exporter

### Query/Question

I am using `Azure.Monitor.OpenTelemetry.Exporter` to export trace data to Application Insights. Everything works fine, at least as expected for my main requirements.

I am doing some enrichment and set display name for my operations. So far, also all output is as expected in `Jaeger` when I use different export

[2022-07-12 11:15] christophwille opened #29810 "[QUERY] Microsoft.Azure.WebJobs EventHubTrigger PartitionContext empty except PartitionId"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.EventHubs 5.1.1

### Query/Question

Porting from 4.0.1

Previously, PartitionContext had even methods, but now it is properties only.  Method sig is simplified:

`EventData[] events, PartitionContext PartitionContext`

What I get though is this:
![image](https://user-images.githubusercontent.com/344208/178477272-746427a0-fcb1-4c03-a

[2022-07-12 11:39] christophwille commented on #29810
I started digging a bit (namespace Azure.Messaging.EventHubs.Consumer):

[code]

But (namespace Microsoft.Azure.WebJobs.EventHubs.Processor)

[code]

Do I take that the remarks section never made it to WebJobs' use of the base class ctors?

[2022-07-12 11:47] shlomiassaf commented on #29752
Thank you for the detailed response.

I was not familiar with the client AMQP link issue and did not think about the retention problem.

My assumptions were taken after readings the source code.
The issues above can occur in the current implementation, just by providing a big enough time for the auto renew property.

I did not see any protection, is this possible ?

[2022-07-12 12:56] jsquire commented on #29794
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-12 13:19] chrisbardon opened #29812 "[BUG] Cognitive Language Conversations rejecting input"
### Library name and version

Azure.AI.Language.Conversations 1.1.0-beta.1

### Describe the bug

I'm trying to test the new Conversation Summarization feature documented [here](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/summarization/quickstart?tabs=conversation-summarization&pivots=programming-language-csharp), but even calling it with the sample input is coming b

[2022-07-12 13:20] azure-sdk commented on #29812
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive Services:0.08884846,Service Bus:0.068317525,Azure.Core:0.05241282'

[2022-07-12 13:24] #29758 closed

[2022-07-12 14:46] shivanigoyal0705 commented on #17882
Hi,

We upgraded eventhub packages from 4.2.0 to 5.1.1 and ran into same issue. From issue #17896 I can see change has veen merged but I am still getting same issue

[2022-07-12 15:04] craigjensen commented on #29750
We are trying to switch from V1 to V2 encryption.  The problem is that V2 can't read our existing V1 blobs due to the issue described above.

[2022-07-12 15:05] gregoks opened #29813 "[BUG] - Azure Search DataSource connection with Managed Identity"
### Library name and version

Azure.Search.Documents 11.4.0-beta.8

### Describe the bug

Hi!

I'm trying to create datasource connection in my search index using managed identity. I followed this guide - https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-cosmos-db

This is the code that I'm using (CosmosDB):

[code]

but im getting the following error:

[code]

Would ap

[2022-07-12 16:05] weshaggard commented on #28920
@chunyu3 do we have a strategy for handling this authentication issue yet?

[2022-07-12 16:12] jsquire commented on #29810
Hi @christophwille.   Thank you for reaching out and we regret that you're experiencing difficulties.   You're correct in that the extensions package was overlooked and isn't passing the additional context parameters.   There's a fix out and this will be available in the next release.

[2022-07-12 16:36] jsquire commented on #29812
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-12 17:41] SaurabhSharma-MSFT commented on #29796
@ilantom We are looking into it and get back to you for any additional information.

[2022-07-12 17:42] SaurabhSharma-MSFT commented on #29685
@MantriKarthik Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-12 21:58] heaths commented on #29617
I've included you in an internal thread as to why.

[2022-07-12 22:03] heaths commented on #29812
Not all regions support conversational summarization and PII. I'll get someone from the service team that can better help you.

[2022-07-12 22:04] #29646 closed

[2022-07-12 23:14] gmndrg commented on #29813
@gregoks This has been identified as a preview feature bug. This has been filed and will be fixed on best effort. Thank you so much for reporting this!

[2022-07-12 23:23] craigktreasure commented on #29617
Per your suggestion, i've updated the common version since I believe we're the only Track 2 SDK shipping a dependency on that library. See #29822.

[2022-07-13 08:03] #29011 closed

[2022-07-13 08:03] #27956 closed

[2022-07-13 08:50] julyvee opened #29871 "SearchModelFactory.FacetResult parameter not documented"
The parameter additionalProperties does not have any description. A list of possible properties, how they are used or at least some examples would be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23772ac0-d70d-4cec-cb13-c9c48a31c2a0
* Version Independent ID: da083860-3dd7-2650-3b35-28210b0cd827
* Content: [Searc

[2022-07-13 10:13] MilivojeMishikj commented on #23678
Since logging the issue this has been fix from your side. The readingOrder parameter has been added.
Thank you!
Closing the issue.

[2022-07-13 10:13] #23678 closed

[2022-07-13 12:43] jsquire commented on #29871
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-13 13:06] cahann commented on #29812
Conversation summarization is gated you need to fill in onboarding form to get whitelisted

[2022-07-13 16:50] #24362 closed

[2022-07-13 16:58] #28769 closed

[2022-07-13 17:03] jsquire commented on #18352
Closing in favor of #28832

[2022-07-13 17:30] Blackbaud-IanThomas commented on #25275
@shankarsama @DorothySun216 can you provide any updates on this bug? I see it was last routed towards both of you for "service follow-up". We are seeing exactly the issue described here when attempting to complete messages when the service bus instance is getting throttled.

[2022-07-13 17:40] JoshLove-msft commented on #25275
@EldertGrootenboer can you help follow up on this issue?

[2022-07-13 17:41] scottaddie commented on #29707
I'm unable to reproduce this issue. @nisha-bhatia Can you please dig into this one?

[2022-07-13 18:33] bradyclifford commented on #20210
Seeing similiar issue on Mac running dotnet project locally.  Using `az login`.

[2022-07-13 20:51] scottaddie commented on #29584
@ArkeBcacy To query the _AppMetrics_ table in the Log Analytics workspace, you'll need to use the `LogsQueryClient`. `MetricsQueryClient` is intended for fetching specific metrics on an Azure resource. For example, fetching the "ServiceApiLatency", "Availability", "SaturationShoebox", etc. metrics from an Azure Key Vault resource. Does that help?

[2022-07-13 21:11] ArkeBcacy commented on #29584
@scottaddie Yes, this got resolved using the LogsQueryClient instead of MetricsQueryClient. Thank You!

[2022-07-13 21:11] #29584 closed

[2022-07-13 21:18] heaths commented on #28892
Fixed in b7c39328f1e

[2022-07-13 21:18] #28892 closed

[2022-07-13 21:18] ArkeBcacy commented on #29707
@scottaddie Here is the requested screenshot. IsError does say false and Status does return 200.
Let me know if I can provide you any additional information.

![GetMetricIssue](https://user-images.githubusercontent.com/98779849/178837982-b65a0e0b-704a-469c-8793-dcb3018fd1b7.PNG)

[2022-07-13 21:19] heaths commented on #28775
No longer using epics. See issues' project instead.

[2022-07-13 21:19] #28775 closed

[2022-07-13 21:45] LastTribunal opened #29888 "await this.container.DeleteItemAsync<ToDoActivity>("id", "partitionKey");"
[Enter feedback here]
Should it not be await this.container.DeleteItemAsync<ToDoActivity>("id", new PartitionKey( "partitionKeyValue"));?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea1d216a-5adc-ec81-3272-e7c3ce41450c
* Version Independent ID: f12b659b-5a79-73dc-5746-67b6673d5b70
* Content: [Container.DeleteItemAsy

[2022-07-13 23:14] wangyuantao commented on #29812
From your link, I found the link to the form: https://aka.ms/applyforconversationsummarization/
<img width="578" alt="image" src="https://user-images.githubusercontent.com/98181/178852437-6e127174-8408-466d-b0f9-813b9fa410ca.png">

[2022-07-14 00:08] #25760 closed

[2022-07-14 00:20] asanjabi opened #29889 "[BUG] When using ServiceBusSessionProcessor If OnSessionInitializingAsync throws an exception messages are still processed"
### Library name and version

Azure.Messaging.ServiceBus 7.9.0

### Describe the bug

If user code throws an exception in `OnSessionInitializingAsync`, the processor still continues with processing messages even though initialization failed.

### Expected behavior

If user code throws an exception during initialization seems like the right thing to do is to cancel processing that session.

### Act

[2022-07-14 01:55] wangyuantao commented on #29812
@chrisbardon I tested from the same region (East US) and see the form URL is contained in the error message as well.

![image](https://user-images.githubusercontent.com/98181/178876399-ec6824cc-9594-498d-93fc-0f096db7d0bd.png)
PS D:\TestLanguageServiceSDK> dotnet run
Unhandled exception. Azure.RequestFailedException: Invalid request has been sent.
Status: 400 (Unsupported Feature)
ErrorCode: Inval

[2022-07-14 03:17] trevonmckay commented on #12991
I can confirm this issue still exists in Azure.Storage.Files.DataLake 12.11.0

[2022-07-14 03:18] trevonmckay commented on #12991
reopen

[2022-07-14 04:06] navba-MSFT commented on #28855
@martijnvanschie We need to assign the service principal Purview Data Curator role at collection level. For more information, please refer to this doc: [Create and manage collections in Microsoft Purview](https://docs.microsoft.com/en-us/azure/purview/how-to-create-and-manage-collections)

You will have to assign the following roles to the service principal to access various data planes in Microso

[2022-07-14 04:12] pharring opened #29891 "[QUERY] ARM scopes in non-public clouds"
### Library name and version

Azure.Identity

### Query/Question

In Azure.Identity , AzureAuthorityHosts.cs lists the default scopes to use for ARM in various clouds:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/src/AzureAuthorityHosts.cs#L47

Note that these scopes all have a double slash.

However, in Azure.ResourceManager, we have a list of ARM endpoints and

[2022-07-14 04:12] azure-sdk commented on #29891
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.39444092,Extensions:0.18114206,Azure.Core:0.06525752'

[2022-07-14 05:17] chamathwijeweera opened #29892 "Latest VM scale sets are not available in the ContainerServiceVMSizeTypes.cs"
### Library name and version

ContainerServiceVMSizeTypes.cs latest version

### Describe the bug

New VM scale sets are missing.

I am looking for v5 version of VM scale sets. When I tryout using Azure Rest api,
**GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes?api-version=2022-03-01**,
Ex :- {
      "name": "Standard_D2_v5"

[2022-07-14 07:05] ArcturusZhang commented on #29412
This is a related issue with the managed service identity, therefore I assigned this to you @fengzhou-msft .
I assume once that issue is resolved, this will be resolved automatically

[2022-07-14 09:03] v-yilinhu opened #29896 "[Container Registry] CanGetManifestsOrdered failing in nightly runs"
Container Registry nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1706472&view=results

@jsquire for notification.

[2022-07-14 09:03] v-yilinhu opened #29897 "[EventGrid] Deploy test resources failing in nightly runs"
Event Grid nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1706590&view=results

@jsquire for notification.

[2022-07-14 09:04] azure-sdk commented on #29897
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2200811,ARM:0.09028605,Service Bus:0.06993461'

[2022-07-14 12:00] martijnvanschie commented on #28855
Hello @navba-MSFT . Thank you for the response.

To be honest, i have already gone through all the authorization options and my account has full control on the Purview test account. Your answer actually indicates that the error response is indeed unclear and does not represent the error that is actually going on.

To summarize the issue:

_The response code 403, in my opinion, is not applicable. I

[2022-07-14 12:18] JoeyJaySWE opened #29901 "Incomplete code example"
[Enter feedback here]
Build fail with code snippet from [Code Example]( https://docs.microsoft.com/en-us/dotnet/api/overview/azure/virtualmachines#code-example)

It might be that I'm missing some step or doing something wrong (this is my first time attempting this),
but I was merely using the information provided by the page. If you manage to find what I did wrong,
please consider including the re

[2022-07-14 12:23] MarcoK80 opened #29902 "[BUG] Since 2 days our pipeline can not get secrets from the keyvault because not the defined TenantId is used"
### Library name and version

Azure.Extensions.AspNetCore.Configuration.Secrets 1.2.2

### Describe the bug

Since 2 days our pipeline can not get secrets from the keyvault because not the defined TenantId is used. Before it has worked for one year without problems.

Azure Devops Pipeline running with the correct service principal to connect but the following error occured

`Azure.RequestFailedExc

[2022-07-14 12:26] jsquire commented on #29889
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-14 12:27] jsquire commented on #29892
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-14 12:44] jsquire commented on #29902
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-14 12:47] #29603 closed

[2022-07-14 12:50] MarcoK80 commented on #29902
@jsquire I just found out that the hosted ubuntu agents had an update 2 days ago.
We did not change anything in our software, environment. Therefor I opened the issue for the hosted agents too:

https://github.com/actions/virtual-environments/issues/5908

Maybe you are able to reproduce the issue with the latest hosted agents.

[2022-07-14 12:57] chrisbardon commented on #29812
So it is- I have no idea how I missed that.  Filling out form now.

[2022-07-14 12:57] #29812 closed

[2022-07-14 13:38] jsquire commented on #29897
This is the result of a transient ARM failure; closing.

[2022-07-14 14:37] jujinfu commented on #25723
@veathipa
adding more details here:

If I provision a subscription in a different tenant and set a user as owner, it will send an email to ask user to accept.

If I provision a subscription in a different tenant, and set a service principal as owner, it still tries to send an email to accept.
However, since this is a service principal, it wont get any email.
Digging more into this, found that accp

[2022-07-14 17:17] JoshLove-msft commented on #29889
Hi @asanjabi,
OnSessionInitializingAsync is meant to be a hook where you can run logic before processing a session. I think it would be too opinionated of the SDK to assume that an unhandled exception means the session should be skipped. You can catch the exception in your event handler and call ReleaseSession if you want to avoid processing the session. But as you've noted, ReleaseSession is not

[2022-07-14 18:13] rineshpk opened #29907 "Diagnostics is not setting the Activity ParentId for OpenTelemetry tracing"
### Library name and version

Azure.Messaging.ServiceBus  7.9.0

### Query/Question

When receiving a message through the Azure Service Bus, the **parent id** for the current activity is **null** and I could see the id received in the metadata in the '**Diagnostic-Id**' field is set as a **Link** for the current activity. When I export the traces, it is not producing the correct trace chain (expor

[2022-07-14 18:58] jsquire commented on #29907
@lmolkova : You may have the best perspective on this.  Would you be so kind as to share your thoughts?

[2022-07-14 19:13] SaurabhSharma-MSFT commented on #29807
@ardacetinkaya I am redirecting this to services team to look into.

[2022-07-14 19:16] ShivangiReja commented on #29871
Hi @julyvee, Thanks for filing this issue. For context [FacetResult](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/src/Generated/Models/FacetResult.cs) is an output model(read- only model) is an output model(read-only model) that's why we provide [SearchModelFactory.FacetResult](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Do

[2022-07-14 19:18] ShivangiReja commented on #29871
Hi @julyvee, Thanks for filing this issue. For context [FacetResult](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/src/Generated/Models/FacetResult.cs) is an output model(read-only model) that's why we provide [SearchModelFactory.FacetResult](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/src/Models/SearchModelFactory

[2022-07-14 19:30] JoshLove-msft commented on #29907
@lmolkova, is this dependent on the App Insights fix here - https://github.com/microsoft/ApplicationInsights-dotnet/pull/2593?
How would customers consume the fix?

[2022-07-14 19:38] stavavram commented on #29647
@hmlam , @nickghardwick, @kasun04, @jsquire  - Are you familiar with these endpoints? Can we use them?

[2022-07-14 20:43] stevengiannakopoulos opened #29912 "[BUG] ResourceManager: Type Error"
### Library name and version

Azure.ResourceManager.Resources 1.2.0

### Describe the bug

When using the ARM Client, under the default subscription, GetSubscriptionPolicySetDefinitions() (or GetSubscriptionPolicySetDefinitions().GetAll()) throws an error:
'System.InvalidOperationException' in Azure.ResourceManager.dll ("The requested operation requires an element of type 'Boolean', but the target

[2022-07-14 21:07] jsquire commented on #29912
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-14 22:39] crgarcia12 opened #29913 "[Container Registry] Does not support import operation"
### Library name

Container Registry

### Please describe the feature.

az cli and PowerShell support image import:
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images?tabs=azure-cli

[code]

The DotNet SDK `ContainerRegistryClient` does not have an Import method

[2022-07-14 22:39] azure-sdk commented on #29913
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.58120644,Mgmt:0.41306728,Service:0.004865233'

[2022-07-14 23:10] #29019 closed

[2022-07-14 23:10] #29103 closed

[2022-07-14 23:10] #29398 closed

[2022-07-15 00:15] heaths commented on #28811
I've done similar to JS but defined a `WellKnownFhirVersions` static class, since "WellKnown" is a common prefix for usage like this. The value itself is defined as `V4_0_1` which matches the pattern for our client options' `ServiceVersion`.

[2022-07-15 02:17] scottaddie commented on #28681
@loudar Would you expect to see a cost per query or a total cost for the entire batch of queries?

[2022-07-15 02:43] asanjabi opened #29917 "[FEATURE REQ] Allow a callback for SessionInitializingAsync for SB functions"
### Library name

 Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.5.1

### Please describe the feature.

The extension already allows a call back for [`ProcessErrorAsync` in the options](https://github.com/Azure/azure-sdk-for-net/blob/19b4e800e3711e6cb0c925d60df4a4aa957eed92/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs#L131)  it would be helpful to

[2022-07-15 03:12] navba-MSFT commented on #28855
@martijnvanschie Thanks for getting back. I am adding Service team to look into this issue and provide an update.

[2022-07-15 03:31] ArthurMa1978 commented on #29792
The root cause here is from `Azure.Core`, which the `PropertyReferenceTypeAttribute` only using type comparing for skip properties which is incorrect.
Here if fix it from root we need to take very long process, but currently we have tight time box to release new SDKs, so we're going to unblock the sdk release, we will fix this issue by following steps:
1. As the `Azure.ResourceManager.CosmosDB` an

[2022-07-15 04:45] rineshpk commented on #29907
@JoshLove-msft I don't think it depends on App Insight fix as I'm not using App Insight here. I've integrated OpenTelemetry/ActivitySource (as in described [here ](https://devblogs.microsoft.com/azure-sdk/introducing-experimental-opentelemetry-support-in-the-azure-sdk-for-net/#get-started)) and exported the traces to Jaeger.

[2022-07-15 08:33] jesong commented on #11770
Does that mean Content-Disposition will only be in response header when SAS token provided? Is there any official claim of this behavior?

[2022-07-15 10:55] mknic commented on #29902
We are experiencing the exact same issue in an integration test step in our CI pipeline as described above.
We are using `Windows-2022` on our runners: https://github.com/Energinet-DataHub/.github/blob/a3126700b6c73ab4b8b361c7a717271d5aeaa01f/.github/workflows/dotnet-solution-ci.yml#L28

Here's an example of a failed build:
https://github.com/Energinet-DataHub/geh-charges/runs/7316637361?check_sui

[2022-07-15 11:17] JoeyJaySWE commented on #29901
Hi @scottaddie If I read you right, I need to include the Azure Authentication as they did in the link provided:
[code]
Well, after attempting to install Microsoft.Azure.Management.Fluent package (like shown in step 2 of my recreation guide), I got 3 new errors I need to figure out.

1. The namespace for getting the `IAzure` interface
2. The namespace for getting the `Azure`
3. How the `credFile`

[2022-07-15 11:27] MarcoK80 commented on #29902
@mknic @jsquire  The issue is now tracked here. This case here can be closed

https://github.com/actions/virtual-environments/issues/5908

[2022-07-15 11:27] MarcoK80 commented on #29902
The issue is now tracked here. This case here can be closed

https://github.com/actions/virtual-environments/issues/5908

[2022-07-15 11:27] #29902 closed

[2022-07-15 12:07] StefH commented on #28050
@christothes
Adding the configuration setting `AZURE_CLIENT_ID` in the Azure Function did not fix the issue for me, I'll check if using `DefaultAzureCredential` (as suggested by @ruben12321) is possible and does solve this issue.

**Note to all:**
This configuration setting + others are defined here: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/src/EnvironmentVa

[2022-07-15 12:19] scottaddie commented on #29901
For question 3, you can create a JSON file containing the following fields:

1. subscription
2. tenant
3. client
4. key
5. managementURI
6. baseURL
7. authURL

The `credFile` parameter represents the path to the JSON file on disk. Note there are 2 other `Authenticate` method overloads that you can use instead: https://github.com/Azure/azure-libraries-for-net/blob/026c759303f9f4eb2c68c456cccdb56d64

[2022-07-15 12:29] jsquire commented on #29917
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-15 12:34] egorshulga commented on #29769
I believe this issue also affects Azure Pipelines (the issue is discussed here: actions/virtual-environments#5908)

[2022-07-15 14:06] jsquire commented on #8976
Tracking via projects; this issue is no longer needed.

[2022-07-15 14:06] #8976 closed

[2022-07-15 14:07] jsquire commented on #9328
Tracking via projects; this issue is no longer needed.

[2022-07-15 14:07] #9328 closed

[2022-07-15 14:30] fengzhou-msft commented on #29412
With ##29924, the identity in desktopvirtualization will be replaced whether it supports `None` as type or not. It will just affect the property description about the supported types.

[2022-07-15 15:07] jsquire commented on #29752
This is true; the fundamental challenge is that the service behavior is undocumented and could change.  The Azure SDK guidelines require that we delegate validation to the service which does not currently enforce that lock tokens being renewed are valid.  That said, I do intend to have a follow-up conversation around the client validating in this case due to the potential for unclear failure.

The

[2022-07-15 15:57] #29889 closed

[2022-07-15 16:18] JoshLove-msft commented on #29752
@shlomiassaf, can you explain why you would use this scoped token vs just setting the MaxAutoLockRenewalDuration to some extremely high value? If you are confident that your code will never just hang indefinitely, doing this will ensure that the lock renewal keeps happening while your callback is processing. Once your callback returns, the lock renewal will stop.

[2022-07-15 17:31] lmolkova commented on #29907
@rineshpk

[Links](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#links-between-spans) is OpenTelemetry concept that allows connecting spans without introducing parent-child relationship between them. This is necessary in batching scenarios - they're recommended by OTel [messaging spec](https://github.com/open-telemetry/opentelemetry-specification

[2022-07-15 18:06] jsquire commented on #29752
Josh has just kindly informed me that my understanding of the 30-minute connection refresh is incorrect; it applies to the other messaging services but not Service Bus.  So long as the lock is being actively renewed before the idle timeout, Service Bus will keep the link alive.

Apologies for the misinformation.

[2022-07-15 18:18] #29112 closed

[2022-07-15 18:18] #29454 closed

[2022-07-15 19:04] petsve commented on #28059
Any update on this?
As a workaround I call GetRawResponse() and then check if the Status is 304, but that is not a nice addition to our codebase.

[2022-07-15 20:53] #29888 closed

[2022-07-15 20:57] christothes commented on #29718
We already have a backoff, but apparently, it's not enough :/

https://github.com/Azure/azure-sdk-for-net/blob/c8eca54dd656fbf3d617ad4133eef11801c4ddd9/sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables/tests/EntityBindingLiveTests.cs#L1368-L1382

[2022-07-15 20:59] heaths commented on #28060
Python errs when trying to use newer properties against older versions using decorators. Similar idea with attributes for .NET could work here.

[2022-07-15 21:20] christothes commented on #29794
duplicate of #24415

[2022-07-15 21:20] #29794 closed

[2022-07-15 21:52] JoshLove-msft commented on #29907
The new library uses links to connect the individual message activities with the parent send activity, as per the OTel messaging spec linked above. This was a conscious decision and a departure from the previous library that set diagnostic-Id to the parent activity. As far as I can tell, all of the relationships are there, but it may be that Jaeger does not support visualizing the relationships in

[2022-07-15 21:56] heaths commented on #28811
Punting to next version. `FhirVersion` was actually removed from `HealthcareTaskParameters` in 2022-05-01.

[2022-07-16 03:09] edgarpalves opened #29934 "[BUG] QueueClient.UpdateMessage fails with NullReferenceException when message body is not supplied and using client-side encryption"
### Library name and version

Azure.Storage.Queues 12.11.0

### Describe the bug

QueueClient.UpdateMessage throws a NullReferenceException when the queue client has been created with client-side encryption options and when the message body is not provided in the UpdateMessage call (e.g., when updating only the visibility timeout).

This may be a serious issue for anyone moving from the old storag

[2022-07-18 01:53] tung238 commented on #29387
my apologies @rokulka, I should have tested it before closing the issue but I only managed to try it now and it is still not working with deployment name = "test". It throws the same error message. Any idea, please?

[2022-07-18 02:28] shlomiassaf commented on #29752
@jsquire @JoshLove-msft
Thank you for the detailed response.

It good news that the 30 minute limitation is not an issue, I was not aware of that and good thing it not really a "thing".

Now, I really understand the additional consideration that you must take as library authors and the API the has to be meticulously built to express intent and lead the way for users.

My issue with long auto renew

[2022-07-18 07:33] hiteshsharma-msft commented on #23319
@dacspiir Storage team is actively working on it. We will update you asap.
As a workaround, Will it be feasible, in your scenario, to directly delete the blob (https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.deleteblob?view=azure-dotnet) instead of blobbatchclient?

[2022-07-18 08:41] rineshpk commented on #29907
@JoshLove-msft Thank you for the clarification. I understood the concept of 'Links' for connecting the spans in the case of batch processing of messages. But, in the below examples from, [OTel message spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md#examples).

![image](https://user-images.githubusercontent.com/5286

[2022-07-18 09:19] Yao725 commented on #29488
Hi @martijnvanschie , sorry for the late response. I think you can use [Azure.ResourceManager.Authorization](https://www.nuget.org/packages/Azure.ResourceManager.Authorization/1.0.0-beta.1) to list all the role definitions within the scope that you want. Here is the sample code to list the role definitions in the subscription.
[code]

Please let me know if this could resolve your issue. And you ne

[2022-07-18 09:23] vsinghal-symplr commented on #27067
@jsquire, @yvgopal, @shankarsama, Any update on this issue ...
Thanks

[2022-07-18 11:11] Schmaga opened #29942 "[BUG] Inconsistent ETag results in Storage Blob SDK GetPropertiesAsync and GetBlobsAsync and ETag documentation issue"
### Library name and version

Azure.Storage.Blobs 12.13.0

### Describe the bug

Hi Azure SDK Team.

I noticed some inconsistent ETag documentation and corresponding inconsistent behavior of ETag usage in at least two Azure Blob Storage APIs. I initially thought it would be two issues, but I think they are so related enough to be included in this one. Hope that is fine for you and does not produce

[2022-07-18 11:52] madelson opened #29944 "[BUG] BlobLeaseClient retry behavior causes transient 409 failures on Release"
### Library name and version

Azure.Storage.Blobs 12.7.0

### Describe the bug

Internal retry behavior in `BloblLeaseClient.Release` can expose callers to misleading 409 errors.

* The lease is released by this first try, but a timeout happens
* Release will automatically retry the release operation due to the timeout;
* The second try fails and encounters a 409 LeaseIdMismatchWithLeaseOperation

[2022-07-18 11:53] azure-sdk commented on #29944
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.45840505,Azure.Core:0.102415174,Service Bus:0.026578741'

[2022-07-18 11:59] danielmarbach commented on #29917
I have given this a quick attempt. See https://github.com/Azure/azure-sdk-for-net/pull/29945

[2022-07-18 12:03] danielmarbach commented on #29536
I'd be happy to give this a go but I would require a bit more insights. Based on the current description that also links to some internal repo that I don't have access to, I'm not sure if there is much I can do

[2022-07-18 15:19] lmolkova commented on #29907
@rineshpk OTel messaging spec is going through a stabilization process that will change the above examples and the relationship between receive and processing spans. Here are more detals https://github.com/open-telemetry/oteps/pull/192

Note that also the parent is the spec is a different span (one created for 'receive' operation and not 'send').
Unfortunately, the above examples are not feasible

[2022-07-18 15:54] rineshpk commented on #29907
@lmolkova Got it, thank you!

[2022-07-18 15:54] #29907 closed

[2022-07-18 17:02] MatisseHack opened #29955 "[BUG] New SDK blocks HTTP spans"
### Library name and version

Azure.Core 1.24.0

### Describe the bug

I use the [OpenTelemetry.Instrumentation.Http](https://www.nuget.org/packages/OpenTelemetry.Instrumentation.Http) package to trace requests made by my app. I was able to see traffic generated by the older `Microsoft.Azure.` management libraries, but the newer `Azure.` packages seem to block HTTP spans. I don't see a way to enab

[2022-07-18 17:03] azure-sdk commented on #29955
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Monitor - Exporter:0.33365932,Azure.Core:0.12701364,Tables:0.06482491'

[2022-07-18 17:09] pallavit commented on #29913
Adding /cc: @ShivangiReja to the thread.

Thank you for reporting the issue. The preview version of the library supports upload/download of a blob using the BlobClient - https://github.com/Azure/azure-sdk-for-net/blob/18698f41971993527b0dba1e7e64e394fdbb4b4a/sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/ContainerRegistryBlobClient.cs#L309. Please let us know if it helps you wit

[2022-07-18 17:12] SaurabhSharma-MSFT commented on #29942
@Schmaga Thanks for your feedback. Redirecting this to services team to look into.

[2022-07-18 17:24] heaths opened #29958 "Switch Question Answering live tests over to CLU static test resources"
QA is using the old Surface KB/FAQ and needs to switch over to the static test resources we use for sdk/cognitivelanugage - CLU, specifically. This means rewriting all the test inputs and re-recording.

Also re-enable the AAD support test, which will link to this issue.

Resolves ignored test in PR #29665

[2022-07-18 17:31] christothes opened #29959 "Expose Test Proxy TransportCustomizations in TestFramework"
### Library name

Azure.Core.TestFramework

### Please describe the feature.

Recently, [support was added to the TestProxy ](https://github.com/Azure/azure-sdk-tools/pull/3490)to allow transport customization related to TLS cert configurations.

This support needs to be plumbed into TestFramework to allow tests to take advantage of this new feature.

This should be configurable as some kind of op

[2022-07-18 17:44] heaths commented on #28356
Talking with @deyaaeldeen and @kristapratico we're not currently handling this across languages because it's believed to be a short-term problem that the service team monitors carefully. This would effectively represent HTTP 500s for individual tasks. Any issues like HTTP 400 BadRequest would be returned immediately from the POST request.

That said, there is talk of adding support with task point

[2022-07-18 17:49] yvgopal commented on #27067
Throttling exception (ServerBusy) is totally different from the original exception. Throttling is caused by clients pushing too much load.

Cannot open log for source 'Microsoft.ServiceBus' is also coming from service bus service. I found it in our logs after some digging. But it was coming only from one of the front-end nodes in only one cluster so far. It has got to do with the way the Azure VM

[2022-07-18 17:49] #27067 closed

[2022-07-18 18:00] SaurabhSharma-MSFT commented on #29685
@MantriKarthik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-18 18:00] #29685 closed

[2022-07-18 18:33] jsquire commented on #29955
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-18 20:39] MatisseHack commented on #29955
Any spans produced by [OpenTelemetry.Instrumentation.Http](https://www.nuget.org/packages/OpenTelemetry.Instrumentation.Http) within the Azure SDK are missing. Here is a simple example:

[code]

We use `OpenTelemetry.Instrumentation.Http` because we call multiple different APIs and it's easier to query our telemetry data if all HTTP spans are in a consistent format. Using `OpenTelemetry.Instrument

[2022-07-18 20:56] Dan127001 opened #29961 "[FEATURE REQ] Add more filter to BlobContainerClient.GetBlobs( )"
### Library name

Azure.Storage.Blobs

### Please describe the feature.

We have a Storage Account where we save blobs generated by multiple devices and download the changed ones.

To get the delta (blobs that changed by other PCs since last check)

Right now:
- we call BlobContainerClient.GetBlobs( ) and get all blobs locally
- filter **already locally fetched BlobItem** by: later than DateTime X

[2022-07-18 21:27] heaths commented on #25056
Moving to backlog. We didn't do this for CLU afterall with the new DPG principals.

[2022-07-18 21:41] heaths commented on #28060
Could also just throw exceptions in either the _Transform.cs_ or _Transform.Legacy.cs_ files for newly-added model properties not updated to the legacy swagger. It really only matters in these cases anyway.

[2022-07-18 21:56] scottaddie commented on #29707
@ArkeBcacy Can you please enable logging and then try running the app again? We'll need to see the HTTP request body to determine what's being sent to the service itself. You can enable console logging with [these instructions](https://docs.microsoft.com/dotnet/api/overview/azure/Monitor.Query-readme#set-up-console-logging).

/cc: @srnagar

[2022-07-18 22:02] marvin-garcia opened #29965 "[BUG] Method SecretClient.GetPropertiesOfSecretsAsync is not awaitable in Azure.Security.KeyVault.Secrets"
### Library name and version

Azure.Security.KeyVault.Secrets 4.3.0

### Describe the bug

I am trying to use the method **SecretClient.GetPropertiesOfSecretsAsync** in .NET Core and noticed it is not awaitable.

### Expected behavior

Method should support the use of await operator.

### Actual behavior

The method behaves as a synchronous process.

### Reproduction Steps

The code below will not

[2022-07-18 22:03] azure-sdk commented on #29965
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.20161678,Extensions:0.14612441,KeyVault:0.10037602'

[2022-07-18 22:10] ArkeBcacy commented on #29707
@scottaddie Here is the output from console logger for the function call to get the data:

`[2022-07-18T22:04:54.848Z] Executing 'GetMetrics' (Reason='This function was programmatically called via the host APIs.', Id=985bebd3-1ae2-48b5-a48a-e9e664919faa)
[Informational] Azure-Identity: ClientSecretCredential.GetToken invoked. Scopes: [ https://api.loganalytics.io//.default ] ParentRequestId: 03375

[2022-07-18 22:33] kinelski opened #29966 "[TestFramework][FormRecognizer] Speed up LRO polling for new LRO pattern"
## Description

Check https://github.com/Azure/azure-sdk-for-net/pull/29914 for more information about the new LRO pattern that uses the `WaitUntil` enum.

Our Test Framework has some kind of logic to speed up the polling process of LROs in playback mode. For some reason, this logic does not seem to work with the new LRO pattern in Form Recognizer. This is causing the `StartBuildModelWithNeuralBui

[2022-07-19 01:32] ArthurMa1978 opened #29967 "[Sample] Create an Azure Container Instance within a specific vnet"
Using track 2 sdk to create a Azure Container Instance within a specific vnet.

[2022-07-19 02:59] navba-MSFT commented on #29944
Adding Service team to look into this.

@xgithubtriage please look into this once you get a chance and provide an update.

[2022-07-19 03:02] #26390 closed

[2022-07-19 03:39] navba-MSFT commented on #29961
@Dan127001 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-19 05:45] #26393 closed

[2022-07-19 05:45] #26391 closed

[2022-07-19 05:45] #26392 closed

[2022-07-19 05:47] ArthurMa1978 commented on #27616
We can't repo this issue, so close this issue.
If encounter again then please file another new issue.

[2022-07-19 05:47] #27616 closed

[2022-07-19 05:47] ilantom commented on #29796
@SaurabhSharma-MSFT Thank you! How do I download the content of that latest modified blob? Please let me know.

[2022-07-19 05:50] ArthurMa1978 opened #29970 "Release Azure.ResourceManager.ServiceLinker"

[2022-07-19 05:52] ArthurMa1978 commented on #28854
Spec not ready, postpone it

[2022-07-19 05:53] ArthurMa1978 commented on #27785
This becomes mandatory step for release

[2022-07-19 05:53] #27785 closed

[2022-07-19 05:53] ArthurMa1978 commented on #27662
The become mandatory step for release

[2022-07-19 05:53] #27662 closed

[2022-07-19 05:55] ArthurMa1978 commented on #29970
dup with https://github.com/Azure/azure-sdk-for-net/issues/29283

[2022-07-19 05:55] #29970 closed

[2022-07-19 05:57] ArthurMa1978 opened #29971 "Release Azure.ResourceManager.ManagedServiceIdentities sdk"

[2022-07-19 06:00] ArthurMa1978 opened #29972 "Release Azure.ResourceManager.Communication beta sdk"
spec still preview

[2022-07-19 06:02] ArthurMa1978 opened #29973 "Release Azure.ResourceManager.DnsResolver stable sdk"

[2022-07-19 06:03] #29570 closed

[2022-07-19 06:12] ArthurMa1978 opened #29974 "Release Azure.ResourceManager.ContainerInstance"

[2022-07-19 06:19] ArthurMa1978 opened #29975 "Release Azure.ResourceManager.IotHub"

[2022-07-19 06:19] ArthurMa1978 opened #29976 "Release Azure.ResourceManager.IotCentral"

[2022-07-19 06:20] ArthurMa1978 opened #29977 "Release Azure.ResourceManager.Media"

[2022-07-19 06:21] ArthurMa1978 opened #29978 "Release Azure.ResourceManager.Reservations"

[2022-07-19 06:22] ArthurMa1978 opened #29979 "Release Azure.ResourceManager.GuestConfiguration"

[2022-07-19 06:24] ArthurMa1978 opened #29980 "Release Azure.ResourceManager.Hci"

[2022-07-19 06:25] ArthurMa1978 opened #29981 "Release Azure.ResourceManager.DataFactory"

[2022-07-19 06:26] ArthurMa1978 opened #29982 "Release Azure.ResourceManager.Logic"

[2022-07-19 06:27] ArthurMa1978 opened #29983 "Release Azure.ResourceManager.PostgreSql"

[2022-07-19 06:27] ArthurMa1978 opened #29984 "Release Azure.ResourceManager.MySql"

[2022-07-19 06:28] ArthurMa1978 opened #29985 "Release Azure.ResourceManager.ResourceMover"

[2022-07-19 06:29] ArthurMa1978 opened #29986 "Release Azure.ResourceManager.HDInsight"

[2022-07-19 06:30] ArthurMa1978 opened #29987 "Release Azure.ResourceManager.SqlVirtualMachine"

[2022-07-19 06:31] ArthurMa1978 opened #29988 "Release Azure.ResourceManager.Batch"

[2022-07-19 06:31] ArthurMa1978 opened #29989 "Release Azure.ResourceManager.ServiceFabric"

[2022-07-19 06:32] ArthurMa1978 opened #29990 "Release Azure.ResourceManager.NotificationHubs"

[2022-07-19 06:33] ArthurMa1978 opened #29991 "Release Azure.ResourceManager.StreamAnalytics"

[2022-07-19 06:33] ArthurMa1978 opened #29992 "Release Azure.ResourceManager.CognitiveServices"

[2022-07-19 06:36] ArthurMa1978 opened #29993 "Release Azure.ResourceManager.DesktopVirtualization"

[2022-07-19 06:38] ArthurMa1978 opened #29994 "Release Azure.ResourceManager.Grafana"

[2022-07-19 06:55] ArthurMa1978 commented on #29973
Service postponed the GA to September, so push this task too

[2022-07-19 07:57] MichaelZp0 commented on #22128
Closing as it was fixed with #29947

[2022-07-19 07:57] #22128 closed

[2022-07-19 08:24] JoeyJaySWE commented on #29901
@scottaddie Sorry for the late reply,
Thanks for the extra details and structure.
Could please include it in the documentation as well?
Might be able to prevent more devs from reopening a similar question in the future.

[2022-07-19 09:40] navba-MSFT commented on #29961
@Dan127001 If you would like to use the Powershell script to achieve this ask you can use below:

[code]
You can then use the functions on Get-Date cmdlet to further narrow down the timeframe as below.

[code]

I could find a java sample as well to achive this. There should be a similar one in >NET too.

[code]

Reference for more Info [here](https://stackoverflow.com/a/55394440) and [here](https:

[2022-07-19 12:37] jsquire commented on #29965
Hi @marvin-garcia.   Thank you for reaching out and we regret that you're experiencing difficulties.  `GetPropertiesOfSecretsAsync` returns an [AsyncPagable](https://docs.microsoft.com/en-us/dotnet/api/azure.asyncpageable-1) instance, which is typically used like a standard `AsyncEnumerable`, as it abstracts the explicit async calls needed to load pages.

For example:

[code]

More examples and co

[2022-07-19 15:14] quality-leftovers opened #30002 "Azure.Storage.Blobs.ChangeFeed UpdatedBlobProperties seems to be always null"
When receiving feed events using the `BlobChangeFeedClient` I only get null values for `UpdatedBlobTags` (in `EventData <type: BlobChangeEventData>`).

This applies to the `BlobChangeFeedEventType.BlobPropertiesUpdated` events and all other Events.

Is this a limitation of the preview version? Or should this be working?

Update: Got the Properties now. But still missing the tags.

[2022-07-19 15:22] hgjura opened #30003 "[QUERY] AcceptNextSessionAsync customize timeout period"
### Library name and version

Azure.Messaging.ServiceBus

### Query/Question

While using AcceptNextSessionAsync to get a new session receiver, I have a use case when I need to customize the timespan between when no new session is available and when this throws a ServiceBusException with reason ServiceBusFailureReason.ServiceTimeout. It seems that this is always 1 minute, and would like to make it

[2022-07-19 16:02] samir-puranik commented on #29534
Hi @ArthurMa1978, even after stable release I'm still unsure how to deploy named RunCommands to the VM using the SDK. How can I run a *named* RunCommand? I still see that the only parameters for Azure.ResourceManager.Compute.Models.RunCommandInput are:
- CommandId (not the same as name)
- Script (script to run)
- Parameters (parameters to script, if there are any)

[2022-07-19 17:16] amnguye commented on #29742
Will be addressing in the coming release

[2022-07-19 17:29] ShivangiReja commented on #29871
Because [FacetResult](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/src/Generated/Models/FacetResult.cs) is an output model(read- only model) and user can not pass `additionalProperties` in `FacetResult` type, the values for this type come from the service.
As I mentioned above, we provide Model factory for all read-only models to support mocking to enable

[2022-07-19 18:50] jaschrep-msft opened #30007 "Record vs Playback Race Condition - Storage Client-side Encryption Tests"
Some blob client-side encryption tests for partitioned transfer are encountering a race condition, preventing them from being converted from LiveOnly to recordable. Helps address #26037

[2022-07-19 19:00] kinelski commented on #24478
Fixed by #29808.

[2022-07-19 19:00] #24478 closed

[2022-07-19 19:13] kinelski commented on #24447
All languages will be exposing it as an object. If customer need arises, we can always have a helper method or  to expose it as a JSON property.

[2022-07-19 19:13] #24447 closed

[2022-07-19 19:49] VPriya6 opened #30008 "Can you please document the default visibility timeout?[QUERY]"
### Library name and version

Assembly Microsoft.WindowsAzure.Storage, Version=9.3.2.0

### Query/Question

There is no documentation of what the default visibility timeout for the queue message is.

### Environment

_No response_

[2022-07-19 19:49] JoshLove-msft commented on #30003
Hi @hgjura, just to better understand your scenario, will you need to use different durations for different calls with the same client?

The value used is based on the TryTimeout that can be specified in the client's RetryOptions, but this would impact all operations, not just accept session, so we may want to consider adding a parameter to this method, or an additional options property.

In terms

[2022-07-19 20:35] VPriya6 commented on #30008
is it 30 secs?

[2022-07-19 20:35] vcolin7 commented on #29589
You can refer to [this Java PR](https://github.com/Azure/azure-sdk-for-java/pull/29996) for the second item (CBC crypto).

[2022-07-19 23:16] rensohollhumer opened #30016 "can't find a constructor for the Azure Mobile Service Client"
When calling our Azure API endpoint UserController.CurrentUser() action, it uses the Azure MobileServiceClient  assembly. However sometimes it generates and error message is basically that it can't find the method on the Azure MobileServiceClient class and the method it's looking for is the constructor for the MobileServiceClient that takes in a string URL and a list of HttpMessageHandlers. The us

[2022-07-20 01:35] jasonshave commented on #10142
I have the same ask. @jsquire and @AlexGhiondea was there ever resolution to this?

[2022-07-20 01:46] juliusl commented on #9611
Made a self-contained port that you can drop into your namespace,

https://gist.github.com/juliusl/5f4a3ade5440be1f71ffd531fb7dc401

[2022-07-20 02:17] scottaddie commented on #29707
@ArkeBcacy A couple more things:

1. I noticed in the log you provided that you're calling `GetMetrics`. We'll need to see the log for `QueryWorkspaceAsync` instead.
1. To include the request and response bodies in the log, you'll need to pass `EventLevel.Verbose` to `CreateConsoleLogger`. You'll also need to set the `Diagnostics.IsLoggingContentEnabled` property to `true`. For example:

[code]

[2022-07-20 02:53] navba-MSFT commented on #30008
@VPriya6 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-20 02:55] navba-MSFT commented on #30002
@quality-leftovers Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-20 03:27] ABratMaxed commented on #18967
Hi, just ran in to this same issue and then found this ticket.

Just wanted to check if there any plans to implement this feature, thanks!

[2022-07-20 05:04] JoshLove-msft commented on #22219
I think this is rare enough that we can consider adding an attribute that would allow for separate recording per framework. Or even just separate recordings for .NET Framework vs .NET Core and above.

[2022-07-20 05:14] JoshLove-msft commented on #22219
/cc @christothes @jsquire

[2022-07-20 06:57] rokulka commented on #29387
@tung238 , here's how the URL would look like -

`https://<resource-endpoint>/language/:query-knowledgebases?projectName=myProject&api-version=2021-10-01&deploymentName=test`

`https://<resource-endpoint>/language/:query-knowledgebases?projectName=myProject&api-version=2021-10-01&deploymentName=production`

Please paste your complete POST request (can mask the Key) to help debug further.

[2022-07-20 07:17] navba-MSFT commented on #30008
@VPriya6 The default value of visibility timeout has been documented here under the [Get-messages REST API docs](https://docs.microsoft.com/en-us/rest/api/storageservices/get-messages):

Parameter | Description
-- | --
visibilitytimeout | Optional. Specifies the new visibility timeout value, in seconds, relative to server time. The default value is 30 seconds.A specified value must be larger than

[2022-07-20 07:49] petrformanek commented on #28177
Hello,
when do you expect to release a stable version? Can I use current version *1.0.0-beta.10* in production for managing blob lifecycle?
Thanks in advance for your reply.

[2022-07-20 08:16] navba-MSFT commented on #30002
@quality-leftovers The[ BlobTagsChange Class ](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.changefeed.blobtagschange?view=azure-dotnet-preview)provides the Blob tags that were updated as part of the change feed event.

NewTags | [New Tags.](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.changefeed.blobtagschange.newtags?view=azure-dotnet-preview#azure-storage-b

[2022-07-20 12:13] jsquire commented on #30016
This issue has been transferred to the repository where the Azure Mobile Apps packages are maintained as [#441](https://github.com/Azure/azure-mobile-apps/issues/441).

[2022-07-20 12:13] #30016 closed

[2022-07-20 14:30] hnuguse opened #30028 "[BUG] Service Bus reconnection not behaving as expected"
### Library name and version

Azure.Messaging.ServiceBus package 7.8.1

### Describe the bug

We have experienced similar issues to [this ](https://github.com/Azure/azure-sdk-for-net/issues/29043) issue were it presents itself intermittently in a test suite.

Scenario is as follows: We have a resource page that lists the queues belonging to that context. We add messages to the relevant queue and s

[2022-07-20 14:56] christothes opened #30029 "ProxyTransport should handle double instrumentation scenarios without re-using the current TestRecordingInstance"
### Library name

Azure.Core.TestFramework

### Please describe the feature.

Currently, when it is detected that a client has "double instrumented" an instance of ClientOptions (this occurs when an instance of ClientOptions is reused across multiple test runs), the current instance of the `ProxyTransport` is reused rather than constructing a new instance. This results in the `TestRecording` insta

[2022-07-20 15:28] christothes commented on #22219
I wonder if we could address this with a "double value sanitizer" just to avoid an explosion of recording files.

[2022-07-20 15:37] lfraleigh commented on #10142
It looks to me like the changes were already made.  What else is needed?

![image](https://user-images.githubusercontent.com/76703586/180024078-9635498c-28e2-4a40-9eb1-82b4ece9a590.png)

[2022-07-20 16:32] JoshLove-msft commented on #22219
Could you expand on that?

[2022-07-20 16:53] christothes commented on #22219
Just an idea, but for example, when the transport detects that a mismatch failure is related to a double value formatting on Playback, it normalizes the matching somehow.

[2022-07-20 17:23] scottaddie commented on #29707
@ArkeBcacy Nothing that I'm aware of has changed in the service or client library. I'll close this issue for now, but please let me know if you see this issue again.

[2022-07-20 17:23] #29707 closed

[2022-07-20 17:31] JoshLove-msft commented on #30028
Hi @hnuguse,
I believe this is a known service issue related to a migration that has since been resolved. Are you still seeing the issue?

[2022-07-20 17:35] hnuguse commented on #30028
Hi @JoshLove-msft, I have seen the service related issue being mentioned in [this ](https://github.com/Azure/azure-sdk-for-net/issues/29043) closed issue that I mentioned in the description as well. However we have seen this error occur over the last couple of weeks as well.

[2022-07-20 17:37] hnuguse commented on #30028
Hi @JoshLove-msft, I have seen the service related issue being mentioned in [this ](https://github.com/Azure/azure-sdk-for-net/issues/29043) closed issue that I mentioned in the description as well. However we have seen this error occur over the last couple of weeks as well. The error description that I shared has a timestamp from July 7th.

[2022-07-20 17:39] scottaddie commented on #29218
API key auth isn't supported in Log Analytics; it's an App Insights concept only. The Log Analytics team also has no plan or desire to support API keys. Customers are asked to use the newer token-based auth approach via the _Azure.Identity_ client library. For a list of supported _Azure.Identity_ token credential types, see [Credential Classes](https://github.com/Azure/azure-sdk-for-net/blob/main/

[2022-07-20 17:39] #29218 closed

[2022-07-20 17:42] namrataguptams opened #30031 "Support Azure Automation in Azure.Identity package"
Support Managed Identity for Azure Automation in Azure.Identity package -  doc can be seen at https://docs.microsoft.com/en-us/azure/automation/enable-managed-identity-for-automation

[2022-07-20 17:46] JoshLove-msft commented on #30028
I think based on the timestamp and error message this is likely the same issue. Would you be able to file a support ticket so that the service folks can take a look?

[2022-07-20 17:56] jsquire commented on #30031
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-20 18:44] heaths commented on #22219
Exactly, or Pavel or I would've done this earlier. In digging into this problem, I did find where the .NET team themselves implemented a heuristic-based approach in a derived [`JavaScriptEncoder`](https://docs.microsoft.com/dotnet/api/system.text.encodings.web.javascriptencoder?view=net-6.0) which the JSON parser uses. Later, I couldn't find it again. But it effectively scans char by char (which i

[2022-07-20 18:53] JoshLove-msft commented on #22219
The record per-framework would be something that could be enabled per test, so it would just be for these exceptional cases.

[2022-07-20 19:15] cairus18 commented on #29218
Hi Scott, it would be great if you update the migration guide because the actual one isn't clear that's why it's leading us to confusion.

Thanks.

[2022-07-20 19:49] seanmcc-msft opened #30035 "Re-enabled Storage CanDiffPagesBetweenSnapshots test"
### Library name and version

.

### Query/Question

.

### Environment

.

[2022-07-20 19:49] azure-sdk commented on #30034
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.5525177,Storage:0.17022647,Event Hubs:0.022390159'

[2022-07-20 20:14] heaths commented on #22219
For Cognitive Services, it's the norm rather than the exception.

[2022-07-20 20:38] AndrewCS149 commented on #29540
@jsquire Is there any update on this?

Thank you!

[2022-07-20 21:11] scottaddie commented on #29218
@cairus18 It's been updated. Let me know if that updated guidance is helpful.

[2022-07-20 23:36] SaurabhSharma-MSFT commented on #29934
@edgarpalves I am seeing the same behavior and redirecting this to services team to investigate.  Thanks.

[2022-07-20 23:57] juliusl commented on #26417
An easy way to get around this is to use Newtonsoft.Json to Deserialize the type you want. For example if you're using Moq,

[code]

[2022-07-20 23:59] seanmcc-msft opened #30041 "[FEATURE REQ] Add CI check for incorrectly deprecated overloads"
### Library name

All

### Please describe the feature.

We would like a linter check added to CI, that would cause the build to fail if an overload is incorrectly deprecated.  Here is an example of a property deprecated overload: https://github.com/Azure/azure-sdk-for-net/blob/cbf8799dfbb1222be660fa904a8f31e165ea97dc/sdk/storage/Azure.Storage.Blobs/src/AppendBlobClient.cs#L1000

Here is an exampl

[2022-07-21 00:27] kinelski commented on #24500
We decided to keep the `Operation` word since the types actually represent running LROs in the service. We just have to be careful with the `ModelOperation` class, since that ending the name of the type with `Operation` could lead customers to believe that it is a subclass of `Operation<T>`. For this and other reasons, it will be renamed to `DocumentModelOperationDetails`.

[2022-07-21 01:08] JoshLove-msft opened #30043 "[Service Bus Extensions] SessionIdleTimeout not being applied for batch functions"
This option should also work for batch functions.

[2022-07-21 01:35] LastTribunal opened #30044 "Autogenerated Id"
[Enter feedback here]
In the legacy cosmos client (document db), Cosmos generated a random id guid, and that guid can be retrieved in the response of the create record request.  in this new library, there is no way to let cosmos generate the id and then retrieve it from the response
It can only be done if the Id is supplied in the request and exists in the model.   But then the resulting id is fut

[2022-07-21 02:45] tung238 commented on #29387
Hi @rokulka , I'm using the client library `Azure.AI.Language.QuestionAnswering` version `1.1.0-beta.1` instead of creating API requests myself. I noticed a few differences:

- The generated request method is PUT instead of POST (as you mentioned)

- The generated request URL generated by the above library is different, mine is

`https://eastasia.api.cognitive.microsoft.com/language/query-knowledg

[2022-07-21 03:19] HarveyLink commented on #29967
[code]

[2022-07-21 03:19] #29967 closed

[2022-07-21 03:36] peter-bertok opened #30045 "No support for Managed Identity"
The current version of this API only allows connection strings with embedded "secrets", such as Account Keys or SAS tokens. These are terribly insecure, and there has been an ongoing push by Microsoft (and end-users) to remove them and migrate authentication to either System Assigned or User Assigned managed identities. This eliminates the need for "secrets management" such as Key Vault and the ri

[2022-07-21 04:18] navba-MSFT commented on #29961
@Dan127001 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any questions on this. Awaiting your reply.

[2022-07-21 06:07] rokulka commented on #29387
@tung238 , I misunderstood your query. I thought you were using the `/:query-knowledgebases` API. Actually, there's no need to deploy your project to "test", it exists by default. Whenever you add a QnA to the Project, it is added to the "test" deployment. One can only create a new "production" deployment for the Project using the Deploy functionality.

[2022-07-21 08:03] #29257 closed

[2022-07-21 09:44] hnuguse commented on #30028
I don't think it is related to the same migration/service issue that supposedly was resolved. We have just got the same error message again today as can be seen from the timestamp on the following message `Timestamp:2022-07-21T09:31:51`

` 	Bad (Error getting queue status: The link 'G11:RR:305511047:637939918124530000:nfieldpurpleserbus:Queue:aaa-web-driver-test-sb-queue$management:27:sender' is f

[2022-07-21 10:07] tung238 commented on #29387
Many thanks @rokulka, confirm it is working. I'm closing this.

[2022-07-21 10:07] #29387 closed

[2022-07-21 11:13] hnuguse commented on #30028
We have just been able to find the circumstances under which this error occurs:

1) We create a receiver and cache it (so that we don't exhaust the sockets being used)
2) We create a new queue
3) Add messages to the queue
4) Peek the queue
5) We delete the queue

Now when we run the scenario again, we check if we have a cached receiver (not null / and not closed) or we create a new receiver and ca

[2022-07-21 13:48] jsquire commented on #30028
To be sure that I'm following can you confirm:

- You have a receiver that you've used to peek a queue
- You delete the queue
- You attempt to peek using the existing receiver to a queue that no longer exists
- Your expectation is that the client somehow can detect the queue no longer exists and closes itself?

[2022-07-21 13:50] julyvee commented on #29871
In my testing case, I'm trying to mock the FacetResults but I always get an error because the value is null. So you're saying there is no way for me to specify a value or a range for a mocked FacetResult?

[2022-07-21 14:46] LeePhillipsFreemarket commented on #29540
@AndrewCS149 Not exactly. When developing locally i'm just using a direct connection string now. When the service is used in azure using managed identity.

Another way round would be to log into azure using powershell as a fallback and just setting ExcludeVisualStudioCredential to true so it doesn't use it.

I've not found a workaround that actually makes use of the VisualStudioCredential.

[2022-07-21 14:47] hnuguse commented on #30028
The queue always exists before a peek is done (step 2 as described in previous post) and a message is put on the queue. We ran into this issue in our test suites and the issue is with the cached receiver not being able to read that queue anymore. I managed to reproduce it in the provided sample code that I shared in the previous post.

If the cached queue is not able to read from the queue (which

[2022-07-21 14:53] jsquire commented on #30028
Forgive me, but I'm still unclear on the scenario.  If the queue was deleted, what would the client be reconnecting to?

[2022-07-21 15:02] hnuguse commented on #30028
Let's say we have a queue named "my-queue".
In a test run it is filled with messages, and then deleted, but then it is immediately recreated and new messages are put on the queue. Eventually the cached receiver tries to read from "my-queue" again, but it fails. So I would expect the client to reconnect to "my-queue" if it fails to connect for some reason since the queue still exists and the receiv

[2022-07-21 15:03] hnuguse commented on #30028
Setup();
var seconds = 5;
while(true)
{
    await GetQueueDetails();
    Thread.Sleep(seconds * 1000);
}

void Setup()
{
    _adminClient = new (() => new ServiceBusAdministrationClient(ConnectionString));
    _client = new Lazy<ServiceBusClient>(() => new ServiceBusClient(ConnectionString));
    _receiverDictionary = new ();
};

async Task GetQueueDetails()
{
    if (!await _adminClient.Value.Que

[2022-07-21 15:09] jsquire commented on #30028
Thank you, @hnuguse.   I now understand the end-to-end scenario.

The client will attempt to reconnect when a link is closed, or the service detaches it.  What appears to be happening is that the service isn't closing the active link when the queue is deleted.  The next call is using the active link and triggering the service error that you're seeing.

One final clarification, if you'd be so kind

[2022-07-21 15:21] hnuguse commented on #30028
Ok that makes sense @jsquire thanks.

I tried to keep peeking after the exception and the same error is thrown on subsequent tries.

[code]

[2022-07-21 15:26] markrendle opened #30060 "[FEATURE REQ] Support new RateLimiter API in ServiceBusProcessor"
### Library name

Azure.Messaging.ServiceBus

### Please describe the feature.

[Microsoft just announced](https://devblogs.microsoft.com/dotnet/announcing-rate-limiting-for-dotnet/) the [System.Threading.RateLimiting](https://www.nuget.org/packages/System.Threading.RateLimiting) package for .NET 7, but which is also compatible with `netstandard2.0` and `net462`, so should be usable in the Service

[2022-07-21 15:29] jsquire commented on #30028
Thanks, @hnuguse.   That seems to confirm that the link is left open and active but is in an invalid state.  The client doesn't have insight into the link not being healthy, only that the service is returning with a `GeneralError`.  The fix for this will require service changes.

We'll need to hand this off to the service team to investigate whether they can either detect/recover on the service si

[2022-07-21 15:40] hnuguse commented on #30028
Thanks again for looking into it, we'll create a support request.

[2022-07-21 15:53] SaurabhSharma-MSFT commented on #30045
@peter-bertok Redirecting this to services team.

[2022-07-21 16:23] praveench02 opened #30062 "Values InvokedByType can take"
Could you pls elaborate on the values "InvokedByType" can take

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7192a737-84ab-45ce-4644-9af69c04fd94
* Version Independent ID: d2b86151-1d6e-fec8-551d-f8935dcfdf10
* Content: [PipelineRunInvokedBy.InvokedByType Property (Microsoft.Azure.Management.DataFactory.Models) - Azur

[2022-07-21 16:50] dantheman999301 commented on #30028
Just want to chime in here and say that we got response about our particular issues (unable to send scheduled messages after a reconnection) and it appears there is an issue on the Azure side that they are going to be resolving.

Here is what they said

[2022-07-21 17:05] #24624 closed

[2022-07-21 17:45] heaths opened #30064 "Consolidate test resources for Text Analytics"
Across languages we seem to be using the same static test resources, but use at least 3 Key Vaults and with different formats: individual secrets vs. a single JSON secret. I recommend the following:

- [ ] Use a single Key Vault using IAM for access control. We could even use the same one we use for the other Cognitive Language SDKs.
- [ ] Use individual secrets, which are easier to consume in tes

[2022-07-21 18:20] #29917 closed

[2022-07-21 19:03] jsquire commented on #30062
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-21 19:06] jsquire commented on #30060
Hi @markrendle.   Thank you for your suggestion; this is an interesting idea that I think we'd like to explore.

[2022-07-21 19:07] jsquire commented on #30060
@JoshLove-msft, @tg-msft, @KrzysztofCwalina:  I'd appreciate any thoughts that you may have.

[2022-07-21 19:11] jaschrep-msft opened #30065 "[FEATURE REQ] Consistent ways to set environment variables across live and playback test pipelines"
### Library name

pipeline infrastructure

### Please describe the feature.

Previous internal conversations revealed an inability to set specific environment variables and/or extra script steps to test pipelines identically between playback and live test modes. E.g. Storage MacOS tests require an additional script setup to install a dependency and an environment variable to be set. While [Live te

[2022-07-21 19:16] annelo-msft opened #30066 "Provide a way to get a default RequestContext instance"
In DPG convenience methods, we need to create a RequestContext that holds the passed-in CancellationToken in order to call the corresponding protocol method (see item **6** here: https://github.com/Azure/autorest.csharp/issues/2371#issuecomment-1189428944).

In the most common case, callers will use a default/None CancellationToken, and so there is no need to make an allocation by creating a new i

[2022-07-21 21:04] ShivangiReja commented on #29871
You can mock `FacetResult` type using [SearchModelFactory.FacetResult](https://github.com/ShivangiReja/azure-sdk-for-net/blob/1f5d15f3663b67c071d5ffe1da4c94a6ce4a351d/sdk/search/Azure.Search.Documents/src/Generated/SearchModelFactory.cs#L22) method where you can pass `FacetResult` properties(count and additionalProperties).

What I was saying is, you can use [SearchModelFactory.FacetResult](https:

[2022-07-21 21:35] ealsur commented on #30044
The legacy SDK client (document db) autogenerated the Id by doing Guid.NewGuid(), which is the same scenario you are describing:

Because it is not a great design, now users are free to use whatever design they want to generate their Ids, and the client will not make any assumptions. You are not forced to use Guid.NewGuid().

If you want to have exactly the same experience as the legacy Microsoft.

[2022-07-21 22:01] LastTribunal commented on #30044
then it's my misunderstanding.. I thought the previous client allowed cosmos server generate the guid, preventing conflicts.. but based on what you are saying, the client was doing that.. in that case new is same as old..  then what's the point of getting the response id when it will always be the same as the one supplied in the create request?

[2022-07-21 22:03] #29647 closed

[2022-07-21 22:14] #30043 closed

[2022-07-22 02:18] scottaddie commented on #10142
@timheuer It appears as though the search popularity has already been transferred to our "Track 2" Azure.Storage.Blobs package. Additionally, some recent UI changes in the NuGet Package Manager experience make it more obvious which package to use. For example:

![image](https://user-images.githubusercontent.com/10702007/180348354-6a69be03-8352-40dd-9fe3-43cfe499dbe4.png)

Is this issue safe to clo

[2022-07-22 02:20] timheuer commented on #10142
Lgtm

-th
________________________________
From: Scott Addie ***@***.***>
Sent: Thursday, July 21, 2022 7:18:31 PM
To: Azure/azure-sdk-for-net ***@***.***>
Cc: Tim Heuer ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-net] [BUG] Clean up NuGet Packages and de-list some publically (#10142)

@timheuer<https://github.com/timheuer> It appears as though the search popularity has al

[2022-07-22 02:21] #10142 closed

[2022-07-22 03:18] ShivangiReja commented on #29871
You can mock `FacetResult` type using [SearchModelFactory.FacetResult](https://github.com/ShivangiReja/azure-sdk-for-net/blob/1f5d15f3663b67c071d5ffe1da4c94a6ce4a351d/sdk/search/Azure.Search.Documents/src/Generated/SearchModelFactory.cs#L22) method where you can pass `FacetResult` properties(count and additionalProperties).

What I was saying is, you can use [SearchModelFactory.FacetResult](https:

[2022-07-22 05:47] boydc2014 commented on #29750
@SaurabhSharma-MSFT do we have any update on this one, we are blocked by this bug that new SDK can't read existing blob thus not able to start the migrate at all.

[2022-07-22 06:01] #28177 closed

[2022-07-22 06:01] wahyuen commented on #27260
Bump, is there any guidance from the team regarding this issue?

[2022-07-22 06:01] #26394 closed

[2022-07-22 06:02] ArthurMa1978 commented on #26395
@AdamDotNet sorry for slow response, the stable release is here https://www.nuget.org/packages/Azure.ResourceManager.CosmosDB/1.0.0

[2022-07-22 06:02] #26397 closed

[2022-07-22 06:03] #26400 closed

[2022-07-22 06:03] #29283 closed

[2022-07-22 06:04] #29971 closed

[2022-07-22 06:04] #29972 closed

[2022-07-22 07:56] julyvee commented on #29871
This example was super helpful thanks so much! I understand now to do it. Coming back to the issue, is there a way to add some of this explanation and example of the additionalProperties parameter to the documentation page mentioned in the issue? :) Thank you for your support!

[2022-07-22 09:11] v-yilinhu opened #30077 "[Synapse] CanCheckPrincipalAccessViaGrowUpHelper failing in nightly runs"
Synapse nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1725690&view=results

@jsquire for notification.

[2022-07-22 09:11] azure-sdk commented on #30077
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.3103909,Azure.Identity:0.2454886,Synapse:0.16201684'

[2022-07-22 09:53] drothmaler opened #30079 "[FEATURE REQ] Add `timeout` support for `QueueClient.ReceiveMessage(s)(Async)`"
### Library name

Azure.Storage.Queues

### Please describe the feature.

According to the [Azure documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/get-messages#uri-parameters) Storage Queue get message requests allow to pass an optional `timeout` parameter. Unfortunately none of the `ReceiveMessage` variants of `QueueClient` exposes this parameter to the user. This means I'

[2022-07-22 10:44] hnuguse commented on #30028
Hi @dantheman999301 thanks for your message. The bug being fixed seems to be related to the scenario of service/container migrations. So I assume that the bug fix is related to closing all links in the event of future service migrations.

The issue that the service doesn't detect that the active link should be closed in other scenarios as outlined in this issue seems slightly different, so I guess

[2022-07-22 14:39] AdamDotNet commented on #26395
@ArthurMa1978 - That's alright, thank you for the update and stable release!

[2022-07-22 15:34] ealsur commented on #30044
Correct, there was no server generated id.

The protocol (REST contract) says that when you create a document, you receive the document as part of the response. Yes, this is potentially useless information (if you just sent the Create request, you already know the document content, why would you need it?) but the default behavior cannot be changed.

Having said that, you can on the V3 SDK remove t

[2022-07-22 17:02] kinelski commented on #27260
Hello @wahyuen, and apologies for the delay.

As you noted, the SDK does not expose an inner error object, and this is intentional. According to the Azure API guidelines, only the HTTP status code and the top-level error code are part of the API's contract that cannot change between versions. This means that there's no guarantee from the service that inner error details or error messages will stay

[2022-07-22 18:49] JoshLove-msft commented on #29966
The issue seems to be that instrumenting the operation doesn't help because we don't get back the operation instance to instrument until after we've already polled for the operation completion.

[2022-07-22 20:36] heaths commented on #28356
Be sure to clean up any non-obvious locations like in our model factory. See https://github.com/Azure/azure-sdk-for-net/pull/30071#discussion_r927972509

[2022-07-22 20:38] heaths opened #30089 "Merge SingleClassify and MultiClassify response models into a single type"

[2022-07-22 20:39] heaths commented on #30089
Be sure to fix all the samples as well. See https://github.com/Azure/azure-sdk-for-net/pull/30071#discussion_r927817949 for some mention.

[2022-07-22 21:12] ShivangiReja commented on #29871
The most relevant details we have are in this doc: [Search Documents (Azure Cognitive Search REST API) | Microsoft Docs](https://docs.microsoft.com/en-us/rest/api/searchservice/search-documents).

![image](https://user-images.githubusercontent.com/45216704/180568936-3209bf95-bb45-405a-9466-a8192a256947.png)

Essentially there's different types of facets so I'm guessing that's why it's modeled like

[2022-07-22 21:27] ShivangiReja commented on #29871
@julyvee I created a PR https://github.com/Azure/azure-sdk-for-net/pull/30093 to add an example for `SearchModelFactory.FacetResult` and added a reference link in remarks.

You should be able to see the updated docs [here](https://docs.microsoft.com/en-us/dotnet/api/azure.search.documents.models.searchmodelfactory.facetresult?view=azure-dotnet-preview) in our next beta release.

[2022-07-22 21:31] wahyuen commented on #27260
@kinelski part of our confusion currently stems from an issue where the original request has actually been submitted successfully, but subsequently returned an `InternalServerError`

We had hoped to follow the guidance found [here](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/preview-error-guide)

![image](https://user-images.githubusercontent.com/4549796/180570934-32

[2022-07-22 22:31] #24500 closed

[2022-07-22 23:39] heaths commented on #28213
Having checked over all those renames from the comment and based on internal conversations - specifically, we'll stick with "CustomEntities" not "CustomNamedEntities" (cc @kristapratico @mssfang) - all these are already complete with many done in swagger itself.

[2022-07-22 23:39] #28213 closed

[2022-07-23 14:39] SaurabhSharma-MSFT commented on #30079
@drothmaler Redirecting this to services team.

[2022-07-23 22:48] rmjcsltd opened #30095 ""This value starts at 1." should be clarified"
The page says "This value starts at 1." - this should be clarified. The value starts at zero. When a receiver receives the message the received message DeliveryCount will be 1 or more. When a receiver abandons or fails a message then the subscription message will have it's DeliveryCount incremented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-07-24 23:21] wsugarman commented on #24415
@christothes - Is there any timeline for this addition? It seems like an oversight, especially when the documentation for [Azure Storage performance](https://docs.microsoft.com/en-us/azure/storage/common/troubleshoot-storage-performance#investigating-client-performance-issues) concerning the Nagle Algorithm would require it.

[2022-07-25 02:44] navba-MSFT commented on #30095
@rmjcsltd Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-25 03:46] navba-MSFT commented on #30044
@LastTribunal Thanks for reaching out to us. I hope you had a chance to look at the above suggestion provided by @ealsur. Please let us know if you have any follow-up questions on this.

[2022-07-25 05:53] navba-MSFT commented on #29961
@Dan127001 The action is currently pending on you to check the above suggestion and see if that helps. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-25 06:01] navba-MSFT commented on #30002
@quality-leftovers I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-25 06:02] navba-MSFT commented on #30008
@VPriya6 I hope you had a chance to look above comment and the documentation link shared. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-25 06:02] #30008 closed

[2022-07-25 07:50] julyvee commented on #29871
Amazing thank you :) this resolves my issue!

[2022-07-25 07:50] #29871 closed

[2022-07-25 08:04] #29389 closed

[2022-07-25 14:27] Dan127001 commented on #29961
Thanks for the reply, however I cannot see the ListBlobs Method.

This method is not available within the new Azure.Storage.Blobs Package.
(https://github.com/Azure/azure-sdk-for-net/tree/Azure.Storage.Blobs_12.13.0/sdk/storage/Azure.Storage.Blobs)

The ListBlobs method you are referring to is from the depricated Microsoft.Azure.Storage.Blob Package.
(https://github.com/Azure/azure-storage-net)

A

[2022-07-25 14:34] Dan127001 commented on #19356
+1
Are there any plans in the near future to handle this?

[2022-07-25 18:58] ealsur commented on #26110
The new Azure.ResourceManager.Authorization nuget is released. With it, you can do RBAC like so:

Assuming you have an `ArmResource` you want to do RBAC to:

[code]

[2022-07-25 19:00] Arithmomaniac commented on #28389
@xDDDx for an off-the-shelf solution to your "Dynamic `Where`" problem, are you familiar with the predicate-composition features of [LinqKit](https://github.com/scottksmith95/LINQKit#predicatebuilder) and [NeinLinq](https://github.com/axelheer/nein-linq/blob/main/src/NeinLinq/PredicateTranslator.cs)?

[2022-07-25 19:50] JoshLove-msft commented on #29966
@m-nash informed me that this is already solved for mgmt plane by changing the argument to WaitUntil.Started, instrumenting the LRO, and then calling WaitForCompletion with the ZeroPoller in the interceptor - https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core.TestFramework/src/Instrumentation/ManagementInterceptor.cs#L41

[2022-07-25 21:05] scottaddie opened #30105 "[Feature Request] Add overload of AddAzureClientsCore that allows enabling logging"
### Library name and version

Azure.Core 1.25.0

### Describe the bug

Azure.Core logs aren't printed to the console. I'm either missing a step, or this is a bug.

### Expected behavior

Azure.Core logs should be printed to the console. I expected to see the HTTP request and response bodies there. Instead, I saw no logs.

### Actual behavior

Azure.Core logs aren't printed to the console.

### Rep

[2022-07-25 21:19] schaabs opened #30107 "[FEATURE REQ] Allow specifying parent activity window to InteractiveBrowserCredential"
### Library name

Azure.Identity

### Please describe the feature.

Currently the `InteractiveBrowserCredential` doesn't allow you to specify a parent window when constructing it. This is needed to give an application control of where the browser used to authenticate users renders. We should consider adding a mechanism for this, most likely as a property to `InteractiveBrowserCredentialOptions`. W

[2022-07-25 21:44] m-nash opened #30108 "[Core] Add a class to compare version strings to internal shared code"
### API Change Needed

No

### Background and motivation

There are many places where we compare string versions to see which one is greater than another and since mgmt plane is now doing multi-version testing of all APIs to support azure stack we will need to add conditional statements in front of some asserts that only apply to certain versions and later.

In [this test](https://github.com/Azure

[2022-07-25 21:58] SaurabhSharma-MSFT commented on #29796
@ilantom Use `.FirstOrDefault()` method instead. Thanks.

[2022-07-25 22:18] #29739 closed

[2022-07-25 22:27] tg-msft commented on #30060
How does a customer observe backpressure?  Are they forced to catch exceptions, spin while `limiter.GetAvailablePermits() <= 0`, or ...?

FWIW, I've always wanted an abstraction like https://github.com/Azure/azure-sdk/issues/3841#issuecomment-1029433201 which overlaps some of these scenarios.  It'd be interesting to prototype with `RateLimiter` in a pipeline policy to explore benefits/use cases ac

[2022-07-25 23:11] giventocode opened #30113 "[BUG] Label is missing from CorrelationRuleFilter"
### Library name and version

Azure.Messaging.ServiceBus.Administration 7.9

### Describe the bug

Label is a valid property for a correlation filter, the rule is missing the property.

### Expected behavior

CorrelationRuleFilter should have the Label property.

### Actual behavior

CorrelationRuleFilter doesn't have the Label property.

### Reproduction Steps

NA

### Environment

_No response_

[2022-07-25 23:48] SaurabhSharma-MSFT commented on #29626
@sheiwangwo I could see the same behavior in my local environment and checking internally on the same.
![image](https://user-images.githubusercontent.com/38112130/180893340-08d04e00-99bc-4cd9-b2bc-8934e03f5e29.png)

[2022-07-26 00:05] JoshLove-msft commented on #30105
The issue is that when using AddAzureClientsCore, you need to also start the logforwarder. I'm not sure why this was not necessary in https://github.com/bradygaster/FileNewBlazorServerToAzureContainerApps/pull/1, but I just tested it out and it works when starting the log forwarder. When using AddAzureClients, the log forwarder is started when a client gets created based on the user callback - htt

[2022-07-26 00:36] #30108 closed

[2022-07-26 01:27] scottaddie commented on #30105
Adding those 2 lines to start the log forwarder does solve the problem for me. And yes, I agree we should make this fix.

[2022-07-26 02:09] JoshLove-msft commented on #30113
Hi @giventocode,
In the new version of the library, the Label property on the Service Bus message has been updated to Subject to better reflect the intent and to align with the AMQP verbiage. As such, we've also updated the corresponding property on CorrelationRuleFilter to be Subject.

[2022-07-26 02:57] minascasiou opened #30115 "[QUERY] Does the EventProcessorClient automatically checkpoint?"
### Library name and version

Azure Event Hubs - New EventProcessrClient  - StopProcessingAsync

### Query/Question

Hi,  would like to know if this method also updates the checkpoint status for all partitions.

### Environment

_No response_

[2022-07-26 08:01] unaizorrilla opened #30119 "[BUG] EventHub memory leak on EventHandlers"
### Library name and version

5.7.1

### Describe the bug

Just deployed a simple EventHub EventProcessorClient into AKS to manage event hub messages and we see a contantly increase of the memory process from 75 MB up to 500 MB ( the limit of the pod ).

The code is very simple, a method to register event processor and errors and the event process it self

[code]

After dump the process and examin

[2022-07-26 10:32] unaizorrilla commented on #30119
Just to add more information, obviously the class to  manage the EventProcessorClient is singleton and only one instance of the EventProcessorClient is on the dump

[2022-07-26 12:28] jsquire commented on #30115
Hi @minascasiou.   Thank you for reaching out.   The answer to your question is no.   No checkpointing is performed automatically by the processor; in order for checkpoints to be written the application needs to call `UpdateCheckpointAsync` on the `ProcessEventArgs` instance passed to the handler.

[2022-07-26 12:35] minascasiou-ingeniifin commented on #30115
Hi & thank you for the response.

I'm looking to add a checkpoint after a few seconds of inactivity and before exiting.
Not sure how to do this without (inefficiently) Checkpointing after every single event.
The ProcessEventArgs.UpdateCheckpointAsync() method doesn't cater for this requirement.

Not sure whether to /unresolve as maybe this should be directed to another forum?

Thank you
Cheers, Mi

[2022-07-26 12:43] minascasiou commented on #30115
/unresolve

[2022-07-26 13:01] jsquire commented on #30105
Seems like a good idea to me... I'm not sure why we didn't start this by default.   My best guess is that we never actually intended the method to be public and only chained by adding Azure clients.

[2022-07-26 13:16] jsquire commented on #30115
There's a couple of options that I see for that scenario:

1) Cache the most recent `ProcessEventArgs` for each partition and invoke the method when idle/stopping.

2) Create an instance of the [BlobCheckpointStore](https://docs.microsoft.com/dotnet/api/azure.messaging.eventhubs.primitives.blobcheckpointstore) using the same `BlobContainerClient` that you're passing the processor.   Cache the most

[2022-07-26 13:43] jsquire commented on #30119
Hi @unaizorrilla.  Thank you for reaching out and we regret that you're experiencing difficulties.   In order to help, I'm going to need to understand a bit more about the end-to-end scenario.   For example, the types you're listing from your dump would seem to correlate to an `EventHubProducerClient` being used to send directly to ~28 partitions and managing the pool of transport types needed to

[2022-07-26 14:01] unaizorrilla commented on #30119
Hi @jsquire

I just curious about the same, why EventHubProducerClient is here, the message is note related with that class (obviously )

[code]

After some investigation I think the issue (leak) is on a Service HealthCheck for EventHub.. but let me finish my investigation, is is related with that i close the issue...

Thanks @jsquire  for help here!

[2022-07-26 15:23] minascasiou commented on #30115
Excellent, thank you Jesse
Will look into those options!

Cheers, Minas

[2022-07-26 16:03] #29965 closed

[2022-07-26 18:52] JoshLove-msft opened #30130 "Investigate failure cases with swapping LRO args"
@christothes I changed the implementation of the test to pass WaitUntil.Started, and then call WaitForCompletion separately. Otherwise InstrumentResultInterceptor would swap out Completed for Started and then after invoking the method would call WaitForCompletion (as per the changes in this PR), but we would then hit a failure in the Diagnostic Scope validation because the scope would not be marke

[2022-07-26 18:52] JoshLove-msft commented on #30130
/cc @christothes @m-nash

[2022-07-26 18:52] azure-sdk commented on #30130
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.08518827,Azure.Core:0.07508108,KeyVault:0.06452207'

[2022-07-26 19:22] #29966 closed

[2022-07-26 22:59] #28350 closed

[2022-07-27 00:19] heaths commented on #30089
After internal discussion, we'll merge `Single-` and `MultiLabelClassifyResult` into `ClassifyDocumentResult` contained within an aptly-named `ClassifyDocumentResultCollection` but will keep the `Single-` and `MultiLabelClassifyActionResult` models like Java.

[2022-07-27 02:15] #30089 closed

[2022-07-27 02:57] navba-MSFT commented on #30095
@rmjcsltd I was exploring retries recently and can confirm the first number you will see in Delivery Count is 1. So it is not Zero.

[Here](https://github.com/ricardocovo/AzurePlayground/tree/main/ServiceBus-Retries) is a dotnet sample code if you want a starting point for your testing.

It's the first delivery that reaches the client and therefore the count should be 1. When the message sits in "

[2022-07-27 04:34] atif1996 opened #30141 "Page should specify that this is the same as the Content-MD5 field described in the docs"
This field is called Content-MD5 in much of the api documentation and its not clear until you use the API that this function gets you that Content-MD5.  Mention on the Content-MD5 on this page may make it easier for users to find this function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37926450-0532-1f12-3483-9b8b

[2022-07-27 05:29] Danieladu opened #30144 "[QUERY] How to get TenantId property from TokenCredential"
### Library name and version

Azure.Identity

### Query/Question

Originally ,we use [Microsoft.Azure.Services.AppAuthentication](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/service-to-service-authentication) to get the accesstoken and then use the token to build AzureCredentials (from : Microsoft.Azure.Management.ResourceManager.Fluent.Authentication)

The question is, Originally,

[2022-07-27 06:11] geometrikal opened #30146 "[QUERY] Generating sas for Azure IoT hub blob storage doesn't work."
### Library name and version

Azure.Storage.Blobs 12.13.0

### Query/Question

I'm using `BlobSasBuilder` from the Azure.Storage.Blob nuget package version 12.13.0 to generate blob read sas.

This works fine with blobs stored on Azure, but fails with "Signature did not match" for blobs hosted on an on-premises machine using [Azure Blob Storage on IoT Edge](https://docs.microsoft.com/en-us/azure/io

[2022-07-27 07:48] jonathanwinter123 commented on #9758
I have the same problem but I get an AggregateException instead of a NullReferenceException. Should I open a new issue for this or is the underlying issue the same as with the NullReferenceException?

[2022-07-27 07:59] chunyu3 opened #30148 "Write script to parse and update autorest.md file"
autorest.md is the autorest configuration file for each RP in sdk repo. In automation pipeline, we need to update the autorest.md. It need to serve following scenarios:

- Replace 'input-file' with 'require':  when we change to use readme.md file to generate SDK, but in current autorest.md it use 'input-file'. And 'input-file' block may contains more than one line.
- Replace 'require' with 'input-

[2022-07-27 08:00] azure-sdk commented on #30148
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.57097983,Automation:0.12958436,App Configuration:0.07342186'

[2022-07-27 08:03] chunyu3 commented on #30148
.Net automation script, it use powershell-yaml module to parse the yaml string to [key:value] pairs. and update the autorest.md.
see script https://github.com/chunyu3/azure-sdk-for-net/blob/2432ccc3057e6038fd23f6176642b9dd5fa4a455/eng/scripts/automation/GenerateAndBuildLib.ps1#L81

[2022-07-27 08:57] timrobinson33 commented on #9076
Just been hit by this bug myself - Why even define the scopes parameter as a list of strings if it only supports one?

[2022-07-27 12:32] jsquire commented on #30144
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-27 16:24] NickD-Callaway opened #30156 "[BUG] MAUI refusing to build for iOS with package"
### Library name and version

Azure.Identity 1.6.0

### Describe the bug

I am currently having an issue with building a MAUI project with the Azure.Identity 1.6.0 library installed. When I try to build it, I get a 'clang++ exited with code 1' error in the console and refuses to go any further. It works building for Windows.

### Expected behavior

It should be able to build for the iOS platform

[2022-07-27 16:57] amnguye opened #30159 "[storage] DataLake Path Permissions Support for Sticky Bit while Execute is enabled"
### Library name

Azure.Storage.Files.DataLake

### Please describe the feature.

Following the update to the Storage Datalake REST API documentation for [Path Update Permissions](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/update) regarding the x-ms-permissions

![image](https://user-images.githubusercontent.com/48961492/181305651-56ecbc55-3adb-4cd8-a5b1-98a

[2022-07-27 17:34] lmolkova opened #30161 "[FEATURE REQ] Implement tracing in ServiceBus WebJobs Extension for batch processing"
### Library name

Microsoft.Azure.WebJobs.Extensions.ServiceBus

### Please describe the feature.

There is [nothing in the extension](https://github.com/azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs) that traces servicebus batch receive .

We don't need it in EventHubs extension because EventHubs processor does i

[2022-07-27 17:44] SaurabhSharma-MSFT commented on #29796
@ilantom We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-27 17:44] #29796 closed

[2022-07-27 18:03] guruvonline opened #30162 "[BUG] Azure Identity not able to connect to Key Vault using System Managed identity of Virtual machine Scale set"
### Library name and version

Azure.Identity 1.2.0

### Describe the bug

We have been using the Azure.identity to use Managed identity to connect to key vault. but after upgrading the storage library , the Azure.identity is not able to connect to Key vault and fails with attached exception. (same version of package was working earlier but now it has stopped working)

[code]
troubleshooting tried

[2022-07-27 18:51] schaabs commented on #29891
@pharring I believe you're correct that both the single and double trailing slashes will work. At one point I believe the second trailing slash was required, as the audience needed to exactly match the app registration, but the STS updated to accept either. I agree we should be consistent here, we can follow up with the ARM team to determine which is "more correct" and update accordingly.

[2022-07-27 18:54] #24620 closed

[2022-07-27 19:10] EldertGrootenboer commented on #30028
Adding @yvgopal to look into this issue.

[2022-07-27 19:32] #30113 closed

[2022-07-27 19:40] ShivangiReja commented on #29462
Nightly tests are running without any errors in the past 2-3 weeks, so closing this issue.

For more details see here: https://dev.azure.com/azure-sdk/internal/_build?definitionId=1594&_a=summary

Please create a new issue, if the tests are started to fail again.

[2022-07-27 19:40] #29462 closed

[2022-07-27 19:45] ShivangiReja commented on #28570
Nightly tests are running without any errors in the past 2-3 weeks, so closing this issue.

For more details see here: https://dev.azure.com/azure-sdk/internal/_build?definitionId=1594&_a=summary

Please create a new issue, if the tests are started to fail again.

[2022-07-27 19:45] #28570 closed

[2022-07-27 20:28] jsquire commented on #30162
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-27 20:32] JoshLove-msft commented on #30161
We have a scope for the received messages here - https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Receiver/ServiceBusReceiver.cs#L308-L334

Would you suggest that we reuse the same activity that we use for the processor case, which only applies for single message functions? https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.M

[2022-07-27 20:47] steven-hyland opened #30166 "[QUERY] is auth via `AzureCliCredential` intended to work with `dotnet watch` hot reloads?"
### Library name and version

Azure.Identity 1.6.0

### Query/Question

I'm not sure if this is a bug, or known behavior, or which repo would be the appropriate place to put it, so I'm formatting it as a question here for now. Happy to move this to the `dotnet/sdk` repo or convert to a proper bug report if desired.

When running my ASP.NET 6 api project with `dotnet watch`, I get authentication fa

[2022-07-27 21:21] SaurabhSharma-MSFT commented on #30141
@atif1996 I see Content-MD5 is mentioned on this page.
![image](https://user-images.githubusercontent.com/38112130/181374571-2fcb721f-b066-4d2c-9e86-26aceeb74db4.png)

[2022-07-27 21:27] degant commented on #17432
Any update on the original ask of making `IX509Certificate2Provider` public as well as the new ctor on `ClientCertificateCredential`?

A bunch of services we own will benefit from this i.e being able to dynamically retrieve and use new certs from KV periodically without restarting the app.

[2022-07-27 21:37] jsquire commented on #30156
Hi @NickD-Callaway.   Thank you for reaching out and we regret that you're experiencing difficulties.   I was able to reproduce the behavior that you're seeing with the project that you attached using `dotnet build` directly on MacOS.   However, I trigger the same error with and without the package reference to `Azure.Identity`.

When I create a new default Maui project, add a reference to `Azure.

[2022-07-27 21:46] mikeharder opened #30169 "[Perf] Storage perf tests are broken on older package versions"
The storage perf tests are broken on older package versions due to https://github.com/Azure/azure-sdk-for-net/pull/30083.  We currently assume the perf tests in main can be run against both the product sources in main and the latest GA package.  We don't yet have a good general-purpose solution for having perf tests depend on new features in the product sources.

One option is for the perf tests t

[2022-07-27 21:58] yvgopal commented on #30028
Even though those are two different issues (queue moved for load balancing, queue deleted and re-created), both of them have the same root cause. Fixing that bug will address both issues. Having said that, I must say both of them are not normal scenarios.
1. Very rarely do we move queues or topics for load balancing. To give some context, we have done that in only one cluster recently in the last

[2022-07-27 21:58] #30028 closed

[2022-07-27 23:21] lmolkova commented on #30161
Receive scope ends as soon as messages are received and does not allow correlating received messages to function execution. I suggest we create a new Activity similarly to EventGrid extension - it starts after messages are received, ends after they are settled and has links that point to received messages.

[2022-07-27 23:36] JoshLove-msft commented on #30161
This is what we do in the Processor already. Should we use the same scope name?

[2022-07-27 23:46] lmolkova commented on #30161
Yes, but only for single dispatch, for batch dispatch we'd need to wrap

https://github.com/Azure/azure-sdk-for-net/blob/832e54ecdcd8cebcdd2f273396374ba8b7dac87f/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Listeners/ServiceBusListener.cs#L415

  into a new scope, we'd need another `DiagnosticScopeFactory` - in EventGrid I used same name as SDK uses. For ServiceBus I'd use `Azu

[2022-07-28 00:12] JoshLove-msft commented on #30161
Understood - my question was around whether we should reuse the same name for the processing span, which you have answered 😄
Thank you!

[2022-07-28 00:32] ArthurMa1978 opened #30178 "Release a beta version for Container Registry after GA"
For API version 2022-02-preview

[2022-07-28 01:00] mikeharder opened #30180 "[storage] Perf test "GetBlobs --count 500 --parallel 32 --sync" crashes"
Perf test "GetBlobs --count 500 --parallel 32 --sync" crashes reliably with exceptions like:

- `System.Xml.XmlException: Root element is missing.`
- `System.Xml.XmlException: Unexpected end of file while parsing Name has occurred. Line 1, position 272348`
- `System.NotSupportedException:  The ReadAsync method cannot be called when another read operation is pending.`

https://dev.azure.com/azure-s

[2022-07-28 01:18] ArthurMa1978 commented on #30031
@namrataguptams  thank you for reaching us, can you please provide more information about question

[2022-07-28 03:41] fengzhou-msft commented on #29912
By checking the data types in `PolicyDefinitionData` recursively, I only found one boolean property:  [AssignPermissions](https://github.com/Azure/azure-sdk-for-net/blob/832e54ecdcd8cebcdd2f273396374ba8b7dac87f/sdk/resourcemanager/Azure.ResourceManager/src/Resources/Generated/Models/ParameterDefinitionsValueMetadata.cs#L45) @stevengiannakopoulos do you know if any of your policies has set `AssignP

[2022-07-28 05:28] ArthurMa1978 commented on #30031
@jsquire  this is a ask for Azure.Identity package, I think this own by your team, right?

[2022-07-28 09:13] AdamRiddick commented on #26505
Is this information available anywhere else?

[2022-07-28 09:22] gskyu opened #30183 "SDK for management of log analytics workspaces"
Hi,

I cannot seem to find the right SDK to manage my log analytics worspaces using dotnet 6 and the latest azure identity sdk (Azure.Core.Identity).

I found an sdk named Azure.ResourceManager.Insights exposing a client allowing to retrieve information about a log analytics workspace. However, a comment on [this issue](https://github.com/Azure/azure-sdk-for-net/issues/26254) indicates this sdk is

[2022-07-28 09:22] azure-sdk commented on #30183
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.12084495,Azure.Core:0.09441139,Azure.Identity:0.09392321'

[2022-07-28 09:57] Dan127001 opened #30184 "Azure Blob Service Library - ListBlob with Filter"
Thanks for the reply, however I cannot see the ListBlobs Method.

This method is not available within the new Azure.Storage.Blobs Package.
(https://github.com/Azure/azure-sdk-for-net/tree/Azure.Storage.Blobs_12.13.0/sdk/storage/Azure.Storage.Blobs)

The ListBlobs method you are referring to is from the depricated Microsoft.Azure.Storage.Blob Package.
(https://github.com/Azure/azure-storage-net)

A

[2022-07-28 10:41] cheng93 opened #30185 "[BUG] Boolean filter creates invalid OData string"
### Library name and version

Azure.Data.Tables 12.6.1

### Describe the bug

[code]

creates an invalid OData url
`[28/Jul/2022:10:27:11 +0000] "GET /devstoreaccount1/privatedefinitions()?$format=application%2Fjson%3Bodata%3Dminimalmetadata&$filter=Enabled HTTP/1.1" 400`

[code]

is valid
`[28/Jul/2022:10:31:01 +0000] "GET /devstoreaccount1/privatedefinitions()?$format=application%2Fjson%3Bodata%

[2022-07-28 12:42] dazfuller commented on #23225
Any update on this as it's causing issues here as well

[2022-07-28 12:57] jsquire commented on #30166
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-28 13:10] jsquire commented on #30183
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-28 13:13] jsquire commented on #29961
@navba-MSFT:  Please do not close out issues tagged with `needs-author-feedback` directly.  There are automation rules to manage closure and ensure that folks opening the issue have time to respond before abrupt closure.

[2022-07-28 13:20] jsquire commented on #30185
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-28 13:46] madelson commented on #29944
@navba-MSFT any update here?

[2022-07-28 14:04] madelson commented on #27018
@jaschrep-msft / @amnguye  any updates? We've stopped using the same `BlobContainerClient` object across threads for now but we're still occasionally getting what appears to be another version of this error:

[code]

[2022-07-28 14:33] jsquire commented on #30031
The way that I read it, it's an ask to support `Azure.Identity` in the Automation library.   Managed Identity is already supported by `Azure.Identity`.    @namrataguptams :  Would you please be so kind as to confirm your intent with this request?

[2022-07-28 15:32] NickD-Callaway commented on #30156
Thanks for you response @jsquire ! My next course of action is to get ahold of the MAUI team.

I spent some time just now trying to use my Mac to do the same thing with no success. Same issue. I created the base MAUI project using VS for Mac 17.3 Preview, imported the Azure.Identity library, and it still gives me the clang++ error. I will bring this up with them and see what they have to say about

[2022-07-28 16:10] jsquire commented on #30156
Sorry that we couldn't get you fully unblocked; please let us know if we can be of further assistance.    I'm going to mark this as addressed, but please feel free to unresolve if you'd like to continue the discussion.

[2022-07-28 16:26] ArthurMa1978 commented on #29235
The new lib is here https://www.nuget.org/packages/Azure.ResourceManager.Compute

[2022-07-28 16:37] ArthurMa1978 commented on #29534
Use the `VirtualMachineRunCommandCollection.CreateOrUpdate`

[2022-07-28 16:42] ArthurMa1978 commented on #29896
@jsquire check the log this is dataplane sdk

[2022-07-28 16:46] ArthurMa1978 commented on #30183
@ArcturusZhang please help to check if the new Azure.ResourceManager.Monitor is good for this

[2022-07-28 17:32] namrataguptams commented on #30031
Azure.Identity supports managed identity but in azure automation scenario. Had a chat with @Scott ***@***.***> for the same and he asked to file feature request

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jesse Squire ***@***.***>
Sent: Thursday, July 28, 2022 8:03:42 PM
To: Azure/azure-sdk-for-net ***@***.***>
Cc: Namrata Gupta ***@***.***>; Mention ***

[2022-07-28 18:36] deer-prudence opened #30192 "[FEATURE REQ] Expose Identity Client and Identity Url Option"
### Library name

Azure.Security.ConfidentialLedger

### Please describe the feature.

I noticed that the .NET data plane SDK does not expose the ledger identity endpoint to the user. Could we expose this endpoint in the next release? Also, could we offer the user a `ConfidentialLedgerIdentityServiceClient` that allows them to define the ledger identity endpoint? Thank you!

Update (3 August, 2022

[2022-07-28 18:39] vishweshbankwar opened #30193 "[FEATURE REQ] Support Activity.Status in exporter"
### Library name

 Azure.Monitor.OpenTelemetry.Exporter

### Please describe the feature.

In .NET6.0 Activity class added new property `Status`. Right now the exporter only look at the status set using OTel api (via tags). If user sets the `Status` using native property on Activity it will not get exported to backend. Reference PR: https://github.com/open-telemetry/opentelemetry-dotnet/pull/3003

[2022-07-28 18:39] vishweshbankwar commented on #30193
@rajkumar-rangaraj @TimothyMothra FYI

[2022-07-28 18:44] heaths commented on #28323
Is this still a problem? I don't see any unexpected breaking changes diffing the last GA with the latest (unreleased) beta: https://apiview.dev/Assemblies/Review/cce51538b54c463db16c8f45a511005c?diffRevisionId=97bca97b41e241c3b80ae942fa0e48c9&doc=False&diffOnly=False&revisionId=0bba219603e841759dd03f53a0127ff4

[2022-07-28 18:59] heaths commented on #28295
This should be called `TextAnalyticsActions.AnalyzeHealthcareEntitiesActions`.

[2022-07-28 19:16] jaylabell commented on #26713
@fengzhou-msft - please provide an update

[2022-07-28 19:36] jsquire commented on #30192
//cc: @christothes, @KrzysztofCwalina, @tg-msft

[2022-07-28 20:03] jsquire commented on #29896
@v-xuto:  Please leave test issues unassigned and tagged with "needs-team-triage" so that we can include them in our daily triage process.

[2022-07-28 20:25] snapfisher commented on #28050
@christothes Can this be reopened?  I don't see that a solution was found.

I have an Azure Function calling into the Digital Twins SDK.  Under Azure.Identity 1.5 I supplied the system managed ID into the DT object creation call in an Azure Function and all was good.  Under 1.6, this causes a managed identity failure.  Interestingly enough, if I remove the system managed ID from the DT creation ca

[2022-07-28 21:43] #28323 closed

[2022-07-28 22:22] SatishBoddu-MSFT commented on #30146
Hello @geometrikal We are looking into this!

[2022-07-28 22:59] Saurabhsrikant commented on #28479
@tegrit-joe-trupiano
Are you able to figure out the problem?
Please share fix details.

[2022-07-28 23:55] heaths opened #30200 "Cognitive Language tests should clean up any and all projects created in our shared, static test resources"
Looking at https://github.com/Azure/azure-sdk-for-net/blob/6b7a014310471403f73c5af147063411cf45bdcd/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/Infrastructure/QuestionAnsweringProjectsLiveTestBase.cs, it looks like we're not cleaning up any projects that we create in shared resources, effectively spamming the list of projects for what should be only a few projects.

[2022-07-29 01:32] v-xuto commented on #29896
@jsquire Got it. When test issues are unassigned, I will add the tag "needs-team-triage".

[2022-07-29 03:23] namrataguptams commented on #30031
Azure.Identity already supports Managed Identity but it does not support managed Identity for Automation scenarios. I had a discussion with Scott Schaab asked me to file this feature request

From: Jesse Squire ***@***.***>
Sent: Thursday, July 28, 2022 8:04 PM
To: Azure/azure-sdk-for-net ***@***.***>
Cc: Namrata Gupta ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-net] Suppo

[2022-07-29 05:24] xboxeer commented on #29901
@scottaddie this example is still using our track 1 SDK, I'd like update this page to use our track 2 SDK, how do you think?

[2022-07-29 08:00] unaizorrilla commented on #30119
Hi!

Closed because the leak is not on the EventHub library, after some investigation, the leak are on the EventHub healtchck and  because a transient creation of EventHubProducerClient... I fixed that with this PR

https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/pull/1361

[2022-07-29 08:00] #30119 closed

[2022-07-29 09:21] v-yilinhu opened #30207 "Test Runner dump collection failing on netcoreapp3.1"
Containe Rregistry nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1742767&view=results

@jsquire for notification.

[2022-07-29 09:22] v-yilinhu opened #30208 "[Form Recognizer] TrainingOps(False,False) failing in nightly runs"
Form Recognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1743865&view=results

@jsquire for notification.

[2022-07-29 12:28] jsquire commented on #30207
@JoshLove-msft :  This looks like the runner crashed on `netcoreapp3.1` and the commands to capture a dump aren't supported.   Should we consider unhooking it for < `net6`?

[2022-07-29 13:33] scottaddie commented on #29901
@xboxeer This page is intended to describe an API in the Track 1 package. For that reason, it wouldn't make sense to replace the code sample with the equivalent Track 2 package sample. Until the Track 1 package is officially deprecated, we'll need to provide a working sample on this API ref page.

[2022-07-29 14:19] alastairanderson commented on #29699
Thanks for spending the time to look into this @schaabs, @heaths, @jsquire

I went with the `AzureCliCredential` for the development path through the code, and have actually converted the staging/production path to use `ManagedIdentityCredential` - so I've removed the need for certificates altogether.

Using `AzureCliCredential` has gotten around the issue of the constant dialogs at startup, so th

[2022-07-29 14:19] #29699 closed

[2022-07-29 15:50] fengzhou-msft commented on #26713
The issue is fixed in the latest version. Please try it.

[2022-07-29 16:28] mwgustin opened #30213 "[BUG] AppService GetSiteInstances Throws Invalid URI error"
### Library name and version

Azure.ResourceManager.AppService

### Describe the bug

I am trying to get the list of instances from an app services but the SDK is failing when trying to return the list. It throws an Invalid/Empty URI exception.

Additionally, I have tried to get specific instances using known Instance Names, but that also fails with a Null Argument Exception on 'resourceId'.

###

[2022-07-29 16:29] azure-sdk commented on #30213
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.48226207,App Services:0.18079154,Container Instances:0.029155515'

[2022-07-29 17:04] JoshLove-msft commented on #30207
We could, or we could just ignore this error as it is not actually failing the build.

[2022-07-29 17:21] JoshLove-msft commented on #29087
Not failing recently.

[2022-07-29 17:21] #29087 closed

[2022-07-29 17:23] JoshLove-msft commented on #28640
Addressed in https://github.com/Azure/azure-sdk-for-net/pull/28645

[2022-07-29 17:23] #28640 closed

[2022-07-29 17:23] JoshLove-msft commented on #22985
Has not failed recently.

[2022-07-29 17:23] #22985 closed

[2022-07-29 18:05] mwgustin commented on #30213
A little more testing/research on this. It appears this may be app services on Windows ASPs... Linux ASPs seem to be returning instances fine.

[2022-07-29 18:32] tegrit-joe-trupiano commented on #28479
I did not, Sorry

[2022-07-29 18:41] scottaddie commented on #30105
The team discussed this issue offline. We decided to:

- Update the XML docs for the [existing `AddAzureClientsCore` extension method](https://github.com/Azure/azure-sdk-for-net/blob/2fff1bac9927c7c2ef85e28dfcc43a93be85fea1/sdk/extensions/Microsoft.Extensions.Azure/src/AzureClientServiceCollectionExtensions.cs#L33). State that log forwarding won't be started.
- Add a new `AddAzureClientsCore` meth

[2022-07-29 19:48] kinelski commented on #30208
After investigating, this is the assertion that failed:
[code]

One of the provided forms failed in the model training step, but others succeeded. We haven't seen this error before, and it happened only once in the last nightly run. This makes me think that it's a transient error, so I'll close this issue.

We can reopen it if we see it again in the next couple of days.

[2022-07-29 19:48] #30208 closed

[2022-07-29 20:07] bcage29 opened #30218 "[BUG] SignalR ServerlessHub with Azure functions dotnet isolated does not work"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.SignalRService 1.8.0

### Describe the bug

## Issue
When initialzing the hub context in the StaticServiceHubContextStore class an 'Object reference not set to an instance of an object' is thrown becuase ServiceStoreManager is null.

(IServiceHubContextStore) StaticServiceHubContextStore.ServiceManagerStore.GetOrAddByConnectionString

[2022-07-29 20:44] jsquire commented on #30207
No objections to that either.   I'll defer to your judgement.

[2022-07-29 20:54] jsquire commented on #30213
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-07-29 21:00] keodime commented on #27817
@christothes @chris-skuvault

This socket exhaustion problem is not specific to Azure.Data.Table. This problem was there with previous table libraries and is present in other azure librairies such as Azure.Security.KeyVault exemple

As @christothes mention, now the lib is using the same httpclient, but this will not prevent socket exhaustion. It will for sure reuse socket once opened, but if you h

[2022-07-29 21:52] billwert opened #30224 "Update VisualStudioCodeCredential exception text"
For Copper we are updating the exception text for `VisualStudioCodeCredential` to point to the troubleshooting guide which explains it is broken with the current workaround. Please ensure the exception includes a link to this TSG:

https://aka.ms/azsdk/net/identity/troubleshoot#troubleshoot-visualstudiocodecredential-authentication-issues

[2022-07-29 23:51] kinelski opened #30226 "[FormRecognizer] Update DocumentModelOperationDetails design"
The `DocumentModelOperationDetails.Result` property is actually defined as a generic `object` in the swagger specification. We are, however, forcibly parsing it to a `DocumentModelDetails` reference in the SDK. Even though this is the only type of result currently returned by the service, this could change in the future and break the SDK.

We must find a new design that prevents this possible brea

[2022-07-30 02:37] w-azure opened #30227 "Typo in overview title"
[Enter feedback here]
I just noticed this in the Bing search engine. A space should be added between "Azure IoT Hub" and "is". Otherwise it reads "Azure IoT Hubis".

![typo](https://user-images.githubusercontent.com/103003808/181866975-4ab9ac92-6752-4d49-9b39-3f0d471e9d7d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-07-30 02:38] azure-sdk commented on #30227
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.455635,Docs:0.1676508,Event Hubs:0.05638126'

[2022-07-30 04:04] fengzhou-msft opened #30228 "Update examples using properties which became internal due to single property flatten"
Chengming discovered an issue that the [example](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/network/Azure.ResourceManager.Network/samples/Sample1_ManagingVirtualNetworks.md#example-managing-the-virtual-networks) to create a virtual network used internal properties `AddressSpace` and `DhcpOptions`. They were public before, but then became internal because of single property flatten. W

[2022-07-30 04:04] azure-sdk commented on #30228
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.11541888,Azure.Identity:0.061654028,Extensions:0.058558475'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.50108004,Mgmt:0.48809645,Service:0.010025189'

[2022-07-30 07:15] DarknessChen opened #30229 "[BUG] Typo for the error code "IncrementalCopyOfEarlierVersionSnapshotNotAllowed""
### Library name and version

Azure.Storage.Blobs

### Describe the bug

**Describe the bug**
I think the error code "IncrementalCopyOf**Eralier**VersionSnapshotNotAllowed" here has a typo right? It should be "IncrementalCopyOf**Earlier**VersionSnapshotNotAllowed".

https://github.com/Azure/azure-sdk-for-net/blob/dd888a2ba93810b191d160c846f237ec5b70af57/sdk/storage/Azure.Storage.Blobs/src/Generate

[2022-07-30 14:34] jsquire commented on #30227
Hi @w-azure.  Thank you for your feedback.   This appears to either have already been corrected or an error in Bing's rendering.   The [source](https://raw.githubusercontent.com/Azure/azure-docs-sdk-dotnet/master/api/overview/azure/iot.md) for that page contains the proper spacing.

[2022-07-30 14:57] jsquire commented on #30034
Hi @xbaha.  Therre's not much context for me to work from; if you'd like to share some additional samples of your code, we may be able to provide greater insight.   Based on the discussion, I believe what you're seeing is normal and expected behavior.

The `TryTimeout` is the interval allowed for all steps needed to perform the requested operation.  In scenarios where multiple steps are needed - s

[2022-07-31 01:42] tekbyts opened #30230 "AADSTS50020: User account '{EmailHidden}' from identity provider 'live.com' does not exist in tenant 'Microsoft Services' and cannot access the application '872cd9fa-d31f-45e0-9eab-6e460a02d1f1'(Visual Studio) in that tenant. The account needs to be added as an external user in the tenant first"
### Library name and version

Azure.Identity

### Query/Question

While using `DefaultCredentials()` the attempt to obtain an authentication token fails at all levels of credential types. I tried providing a user assigned managed identity but no avail.

I notice something fishy in the logs though. there are instances of `Azure.RequestFailedException: A socket operation was attempted to an unreacha

[2022-07-31 11:48] azerios opened #30231 "Missing documentation for GetTokenAsync method using tenantId"
Dear,

I'm currently trying to replace the use of Microsoft.Azure.Services.AppAuthentication and replacing it by Azure.Identity inside my application.

As I'm new in Azure world, I'm wondering what are all requirements to get the token of an SQL database.

I don't know if using the method
var accessToken = await new DefaultAzureCredential().GetTokenAsync(
new TokenRequestContext(new[] { {"https://

[2022-07-31 17:41] SaurabhSharma-MSFT commented on #30229
@DarknessChen We are looking into it and get back to you for any additional information.

[2022-07-31 17:42] SaurabhSharma-MSFT commented on #30218
@bcage29 We are looking into it and get back to you for any additional information.

[2022-08-01 01:10] Danieladu commented on #30144
Close it. Finally we find that we should deprecate the "AzureCredentials" in namespace "Microsoft.Azure.Management.ResourceManager.Fluent.Authentication", which is used to passed to "RedisManager".
Now, we replace it with passing "TokenCredential" directly with [Azure.ResourceManager.Redis](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/redis/Azure.ResourceManager.Redis)

Close it. Thank

[2022-08-01 01:10] #30144 closed

[2022-08-01 01:43] geometrikal commented on #30146
@SatishBoddu-MSFT

We have an ASP.Net Core web api (deployed locally or dev machine or remote to Azure app services) that the client retrieves the sas key information from, and then the client downloads the blob.

This is the code

[code]

[2022-08-01 01:55] archerzz commented on #26110
Thanks @ealsur

@andrei-faber FYI

I'm closing this issue. Feel free to open new issue if there is any further question. Thanks.

[2022-08-01 01:55] #26110 closed

[2022-08-01 02:45] navba-MSFT commented on #30184
@Dan127001 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-01 03:59] navba-MSFT commented on #30002
@quality-leftovers The action is currently pending on you to try the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-01 03:59] #30002 closed

[2022-08-01 04:00] navba-MSFT commented on #30044
@LastTribunal I hope your queries have been answered. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-01 04:00] #30044 closed

[2022-08-01 05:26] navba-MSFT commented on #29961
@Dan127001 and @jsquire I have taken the ownership of the newly created issue. Azure/azure-sdk-for-net/issues/30184 I will update my findings on that thread.

[2022-08-01 05:26] #29961 closed

[2022-08-01 06:29] navba-MSFT commented on #30184
@Dan127001 Since your requirement is to get the delta (blobs that changed by other PCs) since last check, Did you explore the  **changefeed feature** of Azure Blob Storage ? Change feed provides transaction logs of all the changes that occur to the blobs and the blob metadata in your storage account. [This](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed-how-to) artic

[2022-08-01 08:12] xboxeer commented on #29901
Track 2 SDK for compute already released and track 1 is deprecating, how about we add both?

[2022-08-01 09:40] paragongithub opened #30238 "[BUG] Custom Models Requires GUID to call StartRecognizeCustomFormsFromUriAsync"
### Library name and version

Azure.AI.FormRecognizer version 4.0.x

### Describe the bug

When calling `client.StartRecognizeCustomFormsFromUriAsync`  I am getting an error returned advising that ModelID should be a Guid.  I am unable to track down the GUID via the Azure Portal.

If however you call the REST endpoint, `https://xxxxxformrecogniserinstance.cognitiveservices.azure.com/formrecognizer

[2022-08-01 12:20] jsquire commented on #30230
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-08-01 12:23] jsquire commented on #30231
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-08-01 12:24] jsquire commented on #30238
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-08-01 12:38] Dan127001 commented on #30184
This looks like the thing we need! Also with a cursor functionality - very nice.

However, I see it is still in preview.
Is there a timeline on the first release / stable version?

[2022-08-01 13:07] AndrewTheWild commented on #23525
The problem still exists :)

[2022-08-01 15:27] gui28347 opened #30245 "[BUG] Managed Disk SetTag broken in latest stable version of Azure.ResourceManager.Compute"
### Library name and version

Azure.ResourceManager.Compute 1.0.0

### Describe the bug

After upgrading from latest beta version to stable version, the ManagedDisk SetTag method is broken.

### Expected behavior

SetTags method work as before.

### Actual behavior

SetTags returning an exception and don't apply any tag in resource

### Reproduction Steps

Run this code using the latest beta versi

[2022-08-01 15:28] azure-sdk commented on #30245
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.12092589,Tables:0.11084181,Event Hubs:0.06085848'

[2022-08-01 15:35] gui28347 opened #30246 "[QUERY] Azure.ResourceManager.KeyVault - Removed methods , GetSecrets, GetVaultKeys"
### Library name and version

Azure.ResourceManager.KeyVault 1.0.0

### Query/Question

After migrating from Azure.ResourceManager.KeyVault (1.0.0-beta8) to Azure.ResourceManager.KeyVault (1.0.0) I see a bunch of renames (no problem, easy to fix) and as well some methods were removed, like :

vault.Value.**GetVaultKeys**().CreateOrUpdate(WaitUntil.Completed, "XXX", new VaultKeyCreateOrUpdateConten

[2022-08-01 16:55] jsquire commented on #30245
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-08-01 16:56] jsquire commented on #30246
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-08-01 18:20] azurecoder opened #30248 "[BUG] Unable to use AuthorizationManagementClient due to preview api use"
### Library name and version

Microsoft.Azure.Management.Authorization 2.0.13.preview

### Describe the bug

Trying to add a role assignment but unable to use AuthorizationManagementClient to do anything.

The library has been in preview for the last 5 years and each preview release used a release of the Azure preview API which subsequently got dropped in lieu of a properly dated library version.

[2022-08-01 18:20] azure-sdk commented on #30248
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.18391359,Resource Authorization:0.08880011,Storage:0.04429862'

[2022-08-01 18:23] gui28347 commented on #30245
Calling rest api directly without using nuget, works as workaround. Previous version of nuget also works. The issue is just stable version 1.0.0

**More details about exception:**

EXP: Azure.RequestFailedException: Service request failed.
Status: 202 (Accepted)

Headers:
Cache-Control: no-cache
Pragma: no-cache
Location: REDACTED
x-ms-ratelimit-remaining-subscription-deletes: REDACTED
x-ms-reques

[2022-08-01 18:50] jaschrep-msft commented on #27253
Feature merged

[2022-08-01 18:50] #27253 closed

[2022-08-01 18:57] jaschrep-msft commented on #15422
With completion of #27253 I have looked into this feature request. I'm afraid I don't understand what the original feature in the legacy storage library was fulfilling. My understanding of FIPS is that it regulates which algorithms are acceptable for use and that MD5 is simply not FIPS compliant. While I understand that in this use case it is just being used as a checksum for transfers, it still s

[2022-08-01 18:57] #15422 closed

[2022-08-01 19:43] jsquire commented on #30248
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-08-01 21:24] #28295 closed

[2022-08-01 21:24] heaths commented on #26528
This is a good example where mock tests are better. For odd scenarios like this for Key Vault, that's what I used because, like @kinelsi said, it's hard to pass this test consistently due to timing.

Punting to September, though, as I'm focusing on public API surface.

[2022-08-01 21:35] #29322 closed

[2022-08-01 21:44] heaths commented on #22914
Removing this from TA for project tracking purposes since it's already handled.

[2022-08-01 23:23] hgjura commented on #30003
@JoshLove-msft  Thanks for your reply. I was able to use your information and come up with a workable solution. However, here is some feedback:
- Throwing an exception to use it as conditional workflow, I believe it was used awhile back (I remember using like a decade ago) but I don't think is used any longer. I bet most (including myself) have created a side function that catches the exception an