[2021-06-17 03:19] weshaggard commented on #21891
@LittleLittleCloud this works for me locally. I believe you are pointing to the wrong server please use `https://symweb` (note the s in https).

[2021-06-17 03:45] weshaggard commented on #21891
Actually I did it on another clean machine and http vs https didn't really do anything like I thought. However if you don't have access to symweb you can get them from the public symbol server http://msdl.microsoft.com/download/symbols. Please try that and if that still doesn't work for you please ping me offline and I can help you find the right symbols.

As far as I'm aware we are publishing the

[2021-06-17 03:45] #21891 closed

[2021-06-17 04:31] kasobol-msft commented on #21903
This is behavior carried forward from previous version, see https://github.com/Azure/azure-webjobs-sdk/issues/1869 .

I think we can keep 2 seconds as default in dev env, but honor other values if they're explicitly set either in host.json or programmatically.

[2021-06-17 05:16] JoshLove-msft opened #21929 "Add snippets to migration guide showing how to interop with BrokeredMessage"
Since we don't have the DataContractBinarySerializer in Azure.Messaging.ServiceBus, we should add a snippet showing how to:
 - create and send a ServiceBusMessage that will be consumed using WindowsAzure.ServiceBus
 - extract the Body from a ServiceBusReceivedMessage that was sent by WindowsAzure.ServiceBus

See https://github.com/Azure/azure-sdk-for-net/issues/21874
https://stackoverflow.com/ques

[2021-06-17 05:56] maxi1983 opened #21930 "[FEATURE REQ] Client-side Encryption KEK Rotation Method"
Legacy SDK feature parity issue. Legacy SDK provided a method to download encryption metadata for a blob, unwrap the CEK, re-wrap the CEK using a new KEK, update encryption metadata accordingly, and set the new metadata. The legacy method also preserved all metadata on the blob and forced ETag locking on the operation to ensure safety. Such a method doesn't exist in the new SDK and the model class

[2021-06-17 06:21] JoshLove-msft commented on #21869
I was able to reproduce this. I think what is happening is that there is batching of the credits in the underlying AMQP library, since MaxConcurrentCalls is set to 4. So a single receive call may end up resulting in more messages being requested (I couldn't repro when using MaxConcurrentCalls of 1). However, I'm not sure why closing the link would not cause the message locks to be relinquished. I

[2021-06-17 08:57] mauve commented on #21512
I just redeployed this version of the code and now I am getting a different error:

[code]

[2021-06-17 10:12] mauve commented on #21512
I cannot do a memory-dump because I cannot enable alwaysOn, I am running on the elasticpremium P3 plan but the documentation around serverFarms and plans is so horrendous that I have already spent the larger part of today on this and still don't know what to do.

[2021-06-17 10:25] JarFrank opened #21932 "[Azure.Messaging.ServiceBus] error deserializing the object of type System.String [BUG]"
Hi guys!
I am having issues with receiving messages from Azure.Messaging.ServiceBus.
In most cases (95%), my process works as expected, but randomly I get such an error:
`Moved because of Unable to get Message content There was an error deserializing the object of type System.String. The input source is not correctly formatted.`

Send method:
[code]
When I recieve the message I use a CreateProcess

[2021-06-17 10:46] pilarodriguez opened #21933 "[BUG] Memory usage problem using OpenReadAsync inside a list"
**Describe the bug**
There is a memory issue when using OpenReadAsync inside a list.
In our code, we get all the blobs from a container and add them to a list. We use the OpenReadAsyc. Once the list is created, we loop through all the items and add them to a zip file.
With the WindowsAzure.Storage package 9.3.3 version, there were no problems, but with the Azure.Storage.Blobs package version 12.8.

[2021-06-17 12:06] Identifier commented on #21907
Ok, we still use connection strings to fully contain all information needed to connect to the subscription, but I can use this workaround if you don't want to fix the issue:

new ServiceBusClient(**Regex.Replace(connectionString, "(EntityPath=[^;/]+)/[^;]+$", "$1")**)

[2021-06-17 12:49] vbystricky21 commented on #21869
We don't need FIFO. In fact in production code we use multiple instances of producer that consume messages from same queue, so sessions are not an option for us (code snippet was just to reproduce the bug).
FYI: I was able simulate this with single receiver. Pretty much every time I hit highlighted line with described conditions one message remained locked. Unfortunately I can't provide reliable c

[2021-06-17 12:50] Valdeminas commented on #18427
Thanks!

[2021-06-17 12:50] #18427 closed

[2021-06-17 14:36] #21804 closed

[2021-06-17 14:36] #21795 closed

[2021-06-17 14:37] #21231 closed

[2021-06-17 14:43] maririos commented on #20413
v-team decided to leave as is because of consistency with the service team name and documentation.
I will reopen issue in case architects want the rename to happen

[2021-06-17 14:43] #20413 closed

[2021-06-17 16:00] #21704 closed

[2021-06-17 16:00] #19374 closed

[2021-06-17 16:22] avirishuv commented on #19093
The docs have been updated for the correct link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.osprofile.adminpassword?view=azure-dotnet#Microsoft_Azure_Management_Compute_Models_OSProfile_AdminPassword

Closing this issue. Please feel free to reopen if you have additional questions on this topic.

[2021-06-17 16:22] #19093 closed

[2021-06-17 16:43] #16122 closed

[2021-06-17 16:52] Vaibhav-Agar commented on #15705
Same status - this is in the backlog but doesn't have an ETA right now.

[2021-06-17 17:12] JoshLove-msft commented on #21907
Can you help me understand how the connectionString is being populated? The library supports the format of the connectionString that comes from the portal. If this is an issue, we should fix it, but I'm not convinced that there is an actual issue here.

The point of this validation is to fail early if someone has a shared access policy scoped to a specific entity, but they try to create a sender/r

[2021-06-17 17:27] JoshLove-msft commented on #21907
Is the access key from your connection string specific to the topic? If not, you can just remove the entire entityPath key value pair.

[2021-06-17 17:39] JoshLove-msft commented on #21869
Ah, I see - thank you for tracking that down! I don't think there is value in honoring the cancellationToken at that point so we can probably just fix that. I am following up with the service team to try to figure out why the locks are not released when closing the receiver (as this should happen regardless of this fix).

[2021-06-17 17:45] Identifier commented on #21907
The connection strings are generated dynamically by another part of the system when it creates a subscription.  It so happens that so far of the access policies I've been using have been scoped to the topic, but there's nothing wrong with using a root access policy.  This should be a perfectly valid connection string:

`Endpoint=sb://MyNamespace.servicebus.windows.net/;SharedAccessKeyName=RootMana

[2021-06-17 17:57] sourabhkrishna opened #21937 "Azure Device Update - Managed Identity"
Does the Azure Device Update SDK support Managed Identities ? Facing below exceptions for all calls via MI

  _updatesClient = new UpdatesClient(appConfig.AccountEndpoint, appConfig.Instance, new DefaultAzureCredential());

"@timestamp":"2021-06-17T09:37:52.7224991+00:00","level":"Error","message":"Import update operation failed with Exception, Azure.Identity.AuthenticationFailedException: Managed

[2021-06-17 18:32] joshfree opened #21938 "Support overriding MSI_ENDPOINT via an API for dev-time debugging"
@daniv-msft and @pragyamehta from the [Bridge to Kubernetes](https://code.visualstudio.com/docs/containers/bridge-to-kubernetes) team. Using Bridge to Kubernetes, a user is able to natively debug one microservice on their local machine when "bridged" to other microservices running in Kubernetes.

This team is looking for an environment variable that can be overridden by us to specify a custom mana

[2021-06-17 18:49] joshfree opened #21939 "Support exchanging k8s token to AAD token"
Tracking Issue for Better Support for Kubernetes service accounts.  See @chlowell

[2021-06-17 19:08] JoshLove-msft commented on #21907
Using a connection string that includes an entity path means that you can only perform operations with that specific entity with your client (otherwise you would get a 401 error). This is why we added the validation - to make it more clear why things are failing. It is correct that you can use the root access key along with an entityPath, but you are still telling the client that all operations wi

[2021-06-17 19:08] joshfree opened #21940 "Nickel Community Feature Requests related to StaticTokenCredential / token helper methods"
Tracking Item to review the top customer-requested enhancements from the previous semester.  We will prioritize this list and fit in as many as possible in the final coding milestone of this semester (After all must-have features are completed first).  See @g2vinay and @jongio

Ex unordered short list:

   - [ ] **Feature: Expose Credential type for DefaultAzureCredential and ChainedTokenCredentia

[2021-06-17 19:13] christothes commented on #21940
TenantId for `AzureCliCredential` will be implemented when https://github.com/Azure/azure-sdk-for-net/pull/21378 merges

[2021-06-17 19:29] joshfree opened #21941 "Feature: Add On-Behalf-Of (OBO) Auth Flow for the Microsoft Graph Team"
The [OAuth 2.0 On-Behalf-Of flow (OBO)](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow) serves the use case where an application invokes a service/web API, which in turn needs to call another service/web API. The idea is to propagate the delegated user identity and permissions through the request chain. For the middle-tier service to make authenticated

[2021-06-17 19:43] joshfree opened #21943 "Final Review of Azure Identity Samples, Quickstarts, and Readme assets before Nickel GA"
Tracking issue for the final review of Azure Identity Samples, Quickstarts, and Readme assets before Nickel GA.

/cc @scottaddie

[2021-06-17 20:13] #20779 closed

[2021-06-17 20:26] Identifier commented on #21907
Regarding your first comment, yes, we only perform operations on the EntityPath specified in the connection string.
And for your second comment, this is how we create receivers:

[code]

As you can see, there's quite a lot parsing/string manipulation going on in order to work with the ServiceBusClient/Receiver APIs.  It would be great if we could use these APIs with the full connection strings as-

[2021-06-17 20:29] danieljurek commented on #21045
Validation build -- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=225468&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b

[2021-06-17 20:38] #18025 closed

[2021-06-17 20:39] danieljurek commented on #18025
Verified formatting looks good -- https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusmessage.scheduledenqueuetime?view=azure-dotnet#Azure_Messaging_ServiceBus_ServiceBusMessage_ScheduledEnqueueTime

[2021-06-17 21:26] jsquire commented on #13567
Confirming as fixed by the linked PR.

[2021-06-17 21:26] #13567 closed

[2021-06-17 21:48] JoshLove-msft commented on #21869
Actually, that code has been updated in the 7.2 version, but the issue persists. I talked to the service team, and it appears that messages can end up being locked by the service after the client closes the link, but before the service can acknowledge that the link is closed. This was made more likely to occur to the issue you noted in 7.1.2 and similarly by how we handle cancellation in 7.2.x. It

[2021-06-17 21:56] jsquire commented on #21937
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-17 22:07] sescandell commented on #21753
@kasobol-msft I updated to the beta.4 with __accountName suffix and it works! Thanks.

Any insights on which roles my Managed Identity should have on the targeted storage.
Because internally it's using Queues, I imagine I need to add Storage Blob Data Contributor and Storage Queue Data Contributor.
But I'm also using the Manage Identity for the AzureWebJobsStorage. Is there any additional role req

[2021-06-17 22:14] ershadnozari commented on #21902
@christothes many thanks for response. The only issue I have with this approach is using the command prompt to set the username and password. At the organization I work we are required to change our corporate passwords every 3 months. Setting the credentials via the command line there is a potential risk that the account gets locked out when password changes. Is there another way, i.e. through cod

[2021-06-17 22:34] christothes commented on #21902
The value is obtained from the environment variable, so you could automate how that is set with code. But other than that, this is currently the only way to set it.

[2021-06-17 22:49] ershadnozari commented on #21902
@christothes ok thanks.

[2021-06-17 22:49] JoshLove-msft commented on #17734
It turns out the current fix for this has some unintended side effects. We still plan to fix this once support is added for cancellation tokens in the AMQP library, but will be reverting this change for now.

See https://github.com/Azure/azure-sdk-for-net/issues/21869

[2021-06-17 22:51] #21902 closed

[2021-06-17 23:39] amitkub commented on #21457
Retry didn't work
I will try to change the transport in the next few days and confirm if this works or not.

[2021-06-18 01:45] shuyinggg opened #21953 "Create Certificate Policy with SAN"
Hi All,

I am currently using the Nuget package Azure.Security.KeyVault.Certificate version 4.2.0.0 to create some certs in C# and have questions with SANs.

I'm creating a cert with SAN using the list of DNS names, however, when I do so, all the fields in the SubjectAlternativeNames are read-only. In this case, how can we input SANs in the cert creation time? Please advise. Thanks for your help.

[2021-06-18 04:40] SeanFeldman opened #21956 "[BUG] Blob storage service/container/blob clients drop account name for emulator connection string with custom domain name and port number"
**Describe the bug**

Give the following connection string:

`BlobServiceClient` is constructed incorrectly, with missing `AccountName`

<img src="https://user-images.githubusercontent.com/1309622/122505834-5f059480-cfba-11eb-8774-51f388b9b541.png" width="500px"/>

As a result of that, the subsequent `BlobContainerClient` and `BlobClient` created from the service client, are also malformed.

[code

[2021-06-18 05:29] KalyanChanumolu-MSFT opened #21957 "Update the documentation page to point to stable release"
Update the documentation page to point to stable release.
It still refers to beta.8 version

![image](https://user-images.githubusercontent.com/8835012/122510987-31553580-d024-11eb-99ab-e493ee66d1e6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7139f609-fc7c-361d-ab81-bd8c15be23c4
* Version Independent ID: 5a22db

[2021-06-18 07:04] vicinting opened #21958 "[Azure-Identity] VisualStudioCredential has "slow" subsequent GetTokenAsync calls"
**Description**

I'm comparing between VisualStudioCredential and InteractiveBrowserCredential token credentials for local development and from my understanding, the first get token call should be the slowest as subsequent calls should used the cached token.

**Expected behavior**

Subsequent GetTokenAsync calls should be faster as a cached token is used

**Actual behavior**

While using VisualStu

[2021-06-18 07:23] vbystricky21 commented on #21869
So there is no plan to fix this bug, only to reduce its occurrence likelihood ? This quite a show stopper for our production.

Workaround would probably be not to honor cancelation token during message receiving and wait for message to be received or maxWaitTime to elapse. I know this goes against changes you made in 7.2.X, fixing the bug about long processor stopping, but in our case we prefer co

[2021-06-18 07:34] JoshLove-msft commented on #21869
Can you clarify why this is a show stopper? The messages will still get delivered but they are locked for the lock duration and the delivery count is incremented. In order to fully fix it, we would need updates on the service side to allow abandoning messages that are locked by a closed receiver.

In terms of the 7.2.x fix, it is still not correct if we simply wait for the timeout as the race cond

[2021-06-18 07:50] vbystricky21 commented on #21869
In our case, we use many producers, which number varies according to SB queue length. So we typically start/stop some producers every few minutes, which leaves us with several locked messages. Every consumed message represents some OnDemand job we process for our customers . These jobs usually take under 1s, so 30s lock every few minutes degrades our performance.

[2021-06-18 07:58] JoshLove-msft commented on #21869
Is it possible to reuse the same processor by just calling StopProcessing and then restarting using StartProcessing? This would use the same link so you wouldn't be locked out from the message.

[2021-06-18 08:01] #20911 closed

[2021-06-18 08:01] #20649 closed

[2021-06-18 08:01] vbystricky21 commented on #21869
Unfortunately no. Stopping producer in our architecture actually means deleting POD from Azure Kubernetes Services

[2021-06-18 08:15] vbystricky21 commented on #21869
Just to clarify things, any change to Azure.Messaging.ServiceBus or underlying Microsoft.Azure.Amqp can only mitigate the risk. And real fix would actually need change to Service Bus Service itself. Did I get it right ?

[2021-06-18 08:32] yufeih commented on #21470
Bump the priority of this bug. We have an LSI today caused by this bug. One of our non-mandatory, non-critical downstream API failed to retrieve AAD token, it causes all the other mandatory and critical APIs to fail. We need a robust implementation of `DefaultAzureCredential` that does not leak failure of one instance to the other.

cc @superyyrrzz @fenxu

[2021-06-18 09:01] RetYn commented on #21867
/unresolve
I have upgraded to Microsoft.Azure.WebJobs.Extensions.EventHubs 5.0.0-beta6.
It looks work well with old checkpoint version since I do not see any message re-processed.
But does it normal that I can not find any new checkpoint folder in the container?  By the way I see the owner container

[2021-06-18 09:45] v-yilinhu opened #21961 "[Form Recognizer] test failing in nightly runs"
Form Recognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=953168&view=results

[2021-06-18 09:45] v-yilinhu opened #21962 "[Form Recognizer] test failing in nightly runs"
Form Recognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=953168&view=results

[2021-06-18 13:10] christothes commented on #21470
Hi @yufeih - I'd recommend switching to using the `ChainedTokenCredential`, which can be created to contain only the credentials you intend to use and does not cache the chosen provider statically.

[2021-06-18 13:13] jsquire commented on #21953
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-18 13:18] jsquire commented on #21957
@danieljurek:  The `Overview` node from the left nav is inking to the pre-release doc.   Are you able to retarget to the [release version](https://docs.microsoft.com/dotnet/api/overview/azure/data.tables-readme)?

[2021-06-18 13:18] jsquire commented on #21957
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-18 13:20] jsquire commented on #21958
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-18 13:25] jsquire commented on #19389
Closing; the milestone has passed and no associated issues remain open.

[2021-06-18 13:25] #19389 closed

[2021-06-18 13:26] jsquire commented on #20889
Closing; the milestone has passed and no associated issues remain open.

[2021-06-18 13:26] #20889 closed

[2021-06-18 13:26] jsquire commented on #21288
Closing; the milestone has passed and no associated issues remain open.

[2021-06-18 13:26] #21288 closed

[2021-06-18 14:11] jsquire commented on #21518
Thank you for the additional context.   The VS test runner makes it a bit difficult; in my experience, it can often swallow exceptions in infrastructure that aren't triggered in an individual test.   It may, or may not, help to try running via the command line to see what happens.

I wouldn't expect that to impact your ability to loop through the topics, though I honestly don't know what the Servi

[2021-06-18 14:16] christothes commented on #21958
Hi @vicinting - `VisualStudioCredential` relies on the `Microsoft.Asal.TokenService.exe` utility shipped with Visual Studio to fetch tokens which, in turn, relies on MSAL. MSAL should be caching tokens, as long as the token request was successful.

It's possible the delay you are seeing is from something other than token caching. In my local testing using Fiddler, I noticed that it sends some traf

[2021-06-18 14:21] jsquire commented on #21867
If checkpoints are being written, you should see them in the container.    They would be in a sibling to the "ownership" path and should look something like:
    `[[ container name ]]/[[ Event Hubs namespace ]]/[[ Event Hub name ]]/[[ Consumer Group name ]]/checkpoint`.

Under that path, you should have a blob for each partition that a checkpoint was written for.   The checkpoint data itself is st

[2021-06-18 14:40] #21857 closed

[2021-06-18 17:27] #21903 closed

[2021-06-18 17:43] jongio commented on #21903
Thank you @kasobol-msft!

[2021-06-18 18:00] heaths commented on #21953
You can use the [C# object initializer](https://docs.microsoft.com/dotnet/csharp/programming-guide/classes-and-structs/object-and-collection-initializers) pattern:

[code]

Following [.NET guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections#collection-properties-and-return-values), our collection properties are read-only but the collections are

[2021-06-18 18:29] #21953 closed

[2021-06-18 19:09] chamons opened #24050 "[LLC] `RequestOptions` into Azure.Core"
At some point RequestOptions will move from Experimental to Core, and we need to update for that.

- [ ] Finalize `ResponseClassifier` API
- [ ] Review `RequestOptions` at arch board
- [ ] Consider renamings to make [ResponseStatusOption](https://apiview.dev/Assemblies/Review/b67e68cfee4841bda045f895c90ad383/0ea8d18067c344208352d5a9506ea22a?doc=False#Azure.ResponseStatusOption) enum and value a li

[2021-06-18 21:47] seanmcc-msft opened #21977 "[Storage] Implement `RequestCondition` validation"
TODO
- Blobs
    - BlobContainerClient
    - BlobClient
    - BlobBaseClient
    - BlobServiceClient
- Share Files
- Data Lake
- Blob Batch
- Queues

[2021-06-18 21:48] seanmcc-msft commented on #21977
Related

- https://github.com/Azure/azure-sdk-for-net/pull/21967
- https://github.com/Azure/azure-sdk-for-net/pull/21974
- https://github.com/Azure/azure-sdk-for-net/pull/21976

[2021-06-18 21:50] seanmcc-msft commented on #21977
Consider Updating https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs#L1377 to specify if the validation issue is in source and destination request conditions.

[2021-06-18 23:27] #20475 closed

[2021-06-19 00:47] #21228 closed

[2021-06-19 03:55] saucepleez opened #21982 "[QUERY] FormRecognizer - Serialization for RecognizedFormCollection"
**Query/Question**
What is the correct way to handle serializing/deserializing Form Recognizer responses to and from JSON format using the Azure SDK?  I am using Newtonsoft and attempting to serialize the `RecognizedFormCollection` for future processing as the `FormField` class contains methods to operate on the data that is loaded into the model, however, the class constructors are marked interna

[2021-06-19 14:13] jsquire commented on #21982
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-20 03:55] yufeih commented on #21470
No we'll stick with `DefaultAzureCredential` to benefit from the simplicity and default fallback chain.  We have used `new DefaultAzureCredential(new DefaultAzureCredentialOptions())` as a workaround to force a new `ImdsManagedIdentitySource` instance.

The real problem IMO is in `ImdsManagedIdentitySource` around 400 handling. It assumes that if one resource or scope returns 400, all the other re

[2021-06-20 04:36] reyou opened #21985 "[BUG] ReceiveMessageAsync hangs if Queue is empty"
**Describe the bug**
`ReceiveMessageAsync()` method hangs infinitely if **Queue is empty**.

**Expected behavior**
It should return null as in description.

**Actual behavior (include Exception or Stack Trace)**
hangs infinitely.

**To Reproduce**
	Snippet

    ServiceBusReceiverOptions options = new ServiceBusReceiverOptions()
               {
                   ReceiveMode = ServiceBusReceiveMod

[2021-06-20 07:27] RetYn commented on #21867
Sorry for the weekend absent.
I have seen the checkpoint folder by now.  The checkpoint folder and files were created 2 hours behind the ownership files. (Since I worked in dev env , the data flow is very small. after 2 hours I guess event job reached its commit threshold?)  Is that act as your design that in migration situation, the new checkpoint will only be created after a ack?

[2021-06-20 07:35] Rathanavel opened #21986 "Missing classes in Azure.AI.TextAnalytics .Net SDK in 5.1.0-Beta.7"
**Query/Question**
ExtractKeyPhrasesAction, RecognizeEntitiesAction, and AnalyzeActionsOperation are not available, but the below document says otherwise. how to resolve it?
Documentation URL: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample_AnalyzeActions.md

**Environment:**
 - 5.1.0-Beta.7 "Azure.AI.TextAnalytics"
 - .Net core 3.1
 - I

[2021-06-20 10:12] dnsoftpl opened #21987 "[BUG] AzureBlobXmlRepository"
Hello
I found bug (or inconsistency) when 2 types of Data Protection Xml Repository is used.
 **FileSystemXmlRepository** and **AzureBlobXmlRepository**

Steps:
1. Application A hosted on premise generates the key using FileSystemXmlRepository.
2. Distribite key from disc to Azure Storage
3. Application B tries to read this key using AzureBlobXmlRepository.
4, Data protector could not find any key

[2021-06-20 12:06] cahann commented on #20143
hi @hebaelfadly , thanks for reporting the bug. I will be working with @moabba on triaging the bugs in on of our coming sprints.

[2021-06-20 23:08] vicinting commented on #21958
Thank you @christothes. I'll look into monitoring the network traffic as well but just provided this as feedback in case it was an issue.

The delay is not really a big issue but it could lead to misleading metrics to someone trying to work on performance. I'll just note it as a comment in our project, closing this issue for now.

[2021-06-20 23:08] #21958 closed

[2021-06-21 07:24] amishra-dev commented on #21930
@jaschrep-msft can you look at this tomorrow.

[2021-06-21 07:32] amishra-dev commented on #21933
@kasobol-msft can you look?

[2021-06-21 07:35] amishra-dev commented on #21901
We are following up on email. will post a resolution here and close this issue out.

[2021-06-21 07:47] Skleni commented on #14691
I just encountered the same problem, no load here either.

[2021-06-21 09:57] v-yilinhu opened #22000 "[Identity] test failing in nightly runs"
Identity nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=949424&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=951305&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=953273&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=

[2021-06-21 09:57] v-yilinhu opened #22001 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=925327&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=943391&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=947644&view=results

[2021-06-21 09:57] v-yilinhu opened #22002 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=927001&view=results

[2021-06-21 09:57] v-yilinhu opened #22003 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=929797&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=934899&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=938400&view=results

[2021-06-21 09:57] v-yilinhu opened #22004 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=929797&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=941352&view=results

[2021-06-21 09:58] v-yilinhu opened #22005 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=929797&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=941352&view=results

[2021-06-21 09:58] v-yilinhu opened #22006 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=929797&view=results

[2021-06-21 09:58] v-yilinhu opened #22007 "[KeyVault] test failing in nightly runs"
KeyVault nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=949752&view=results

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=953916&view=results

[2021-06-21 12:14] jstensved commented on #21639
This issue causes major issues with Azure Functions (dotnet-isolated). You can't use it as input which all public documentation on Azure Function say except for a sample in GitHub. I posted about this at stack overflow with a workaround for accepting EventGridEvent as input.

Official documentation (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=c

[2021-06-21 13:27] jsquire commented on #21985
Hi @reyou.   Thank you for reaching out and we regret that you're experiencing difficulties.  I've routed this to the team member best able to assist.   To help us better understand your scenario, would you be so kind as to include a snippet to show us how you're configuring/creating your `ServiceBusClient`?

Because your snippet above is not specifying a `maxWaitTime` when making the receive call

[2021-06-21 13:30] jsquire commented on #21986
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-21 13:32] jsquire commented on #21987
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-21 14:27] christothes commented on #21470
@yufeih I'm glad you have a workaround. We plan to do some work in the near future to improve how ImdsManagedIdentitySource handles this scenario.

[2021-06-21 14:33] reyou commented on #21985
OK that's right. I had integration tests was failing due to not passing explicit timeout.
But there is already `MessageProcessor` for long running tasks, I was more thinking to use this for utility/testing purposes.

So, let's assume there are 100 items in the queue and I am passing `1 seconds` as parameter, does it guarantee to fetch the message even if network is slow and take 2 seconds to fetch

[2021-06-21 14:37] jsquire commented on #21867
That sounds about right.   My understanding is that the Functions bindings will automatically create a checkpoint after some number of event batches has been processed (configurable) as well as allowing a manual checkpoint creation.  The [docs](https://docs.microsoft.com/azure/azure-functions/functions-bindings-event-hubs#hostjson-settings) appear to confirm that as well.  In your scenario, it sou

[2021-06-21 14:55] jsquire commented on #21985
I'm going to assume that by "parameter", we're referring to the `maxWaitTime` and the subsequence uses of "timeout` are also referring to that, rather than the `TryTimeout`.  Finally, I'm going to assume that you're not setting the `PrefetchCount`.  With those assumptions, the answer to your question is no.   If you ask that the call wait a maximum of 1 second, it will do so.   If the network is s

[2021-06-21 14:58] tafs7 commented on #19425
@seanmcc-msft
hate to comment on a closed issue, but noticed in v12.9.0 that the `DownloadAsync` method is no longer browsable in VS Intellisense (the decompiled code show it marked with EditorBrowsable.Never).

Is that API going away, and should we be downloading blobs using a different API, now? (I see `DownloadStreamingAsync`, `DownloadContentAsync`, and `DownloadToAsync`).

All the samples tha

[2021-06-21 15:00] reyou commented on #21985
OK thank you. In case of timeout, would you maybe throw timeout exception, that let's consumer know client could not even communicate with service bus in a given time, or return `null` meaning that reached the MessageBus but 0 result returned during the time observation (timeout)

If you return null on both instances it is a little bit confusing and race against the network slowness in that case.

[2021-06-21 15:04] pakrym commented on #14612
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=949626&view=ms.vss-test-web.build-test-results-tab&runId=20321610&resultId=101799&paneView=debug

[code]
@AlexanderSher can you please disable the test?

[2021-06-21 16:35] kasobol-msft commented on #21887
@anthonychu This is by design. Queue messages received from queue service aren't fully mutable to reflect the fact that you can't really modify these values without calling [UpdateMessageAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueclient.updatemessageasync?view=azure-dotnet) first. The result of that operation can we used in [QueueMessage.Update](https://docs.micro

[2021-06-21 16:35] #21887 closed

[2021-06-21 16:41] pakrym commented on #21987
FileSystemXmlRepository and AzureBlobXmlRepository were not designed to allow key migration. The larger difference is that in file system keys are stored with a single key per file while in blob all keys are in the same blob. Supporting this kind of migration would require a tool that would merge keys into a single blob.

[2021-06-21 16:48] AlexandraKemperMS opened #22011 "Note out of date"
Hi, could you please remove the note at the top of this page? The Microsoft.FeatureManagement Namespace is stable and released, a warning about it being in in prerelease is not necessary anymore. Developers are getting confused whether they can use this namespace.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-06-21 16:58] kasobol-msft commented on #21753
@sescandell Please take a look at [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#configure-an-identity-based-connection), especially at [connecting to host storage with an identity](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#connecting-to-host-storage-with-an-identity) section which talks about `AzureWebJobsStorage`.
For blob

[2021-06-21 17:40] JoshLove-msft commented on #21985
The message may be locked by the service, but it will have been sent on the existing link, so as long as the next request is using the same receiver, the message should be retrieved. If the next request doesn't happen for a while, the message lock may already be lost by the time the receiver gets it. To better support scenarios like this, we would need to support draining unused link credits, whic

[2021-06-21 17:48] heaths commented on #22007
I do monitor and respond to the test notifications. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation.

[2021-06-21 17:48] #22007 closed

[2021-06-21 17:50] heaths commented on #22006
Thank you for monitoring these, but please note I do monitor the test runs and mitigate as needed. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation. I have an internal thread with the service team.

[2021-06-21 17:50] #22006 closed

[2021-06-21 17:50] heaths commented on #22001
Thank you for monitoring these, but please note I do monitor the test runs and mitigate as needed. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation. I have an internal thread with the service team.

[2021-06-21 17:50] #22001 closed

[2021-06-21 17:50] heaths commented on #22002
Thank you for monitoring these, but please note I do monitor the test runs and mitigate as needed. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation. I have an internal thread with the service team.

[2021-06-21 17:50] #22002 closed

[2021-06-21 17:50] heaths commented on #22003
Thank you for monitoring these, but please note I do monitor the test runs and mitigate as needed. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation. I have an internal thread with the service team.

[2021-06-21 17:50] #22003 closed

[2021-06-21 17:50] heaths commented on #22004
Thank you for monitoring these, but please note I do monitor the test runs and mitigate as needed. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation. I have an internal thread with the service team.

[2021-06-21 17:50] #22004 closed

[2021-06-21 17:50] heaths commented on #22005
Thank you for monitoring these, but please note I do monitor the test runs and mitigate as needed. Please do not open separate issues. The current set of issues has to do with potential service issues and have a single cause/mitigation. I have an internal thread with the service team.

[2021-06-21 17:50] #22005 closed

[2021-06-21 17:51] AlexGhiondea opened #22014 "Azure Container Registry for .NET (August 2021)"

[2021-06-21 18:06] andemt opened #22016 "Search SDK: MergeOrUpload - skip nullable properties"
**Query/Question**
Hi, we have duplicate sources populating/updating Azure Search Index.

Source 1 is updating the index with MergeOrUpload with all properties filled out for our typed model, except for PopularityScore.

[code]

Source 2 is updating with Merge, ie:
[code]
1. We are populating/updating with source 1
2. Source 2 is updating popularity score
3. Source 1 is updating again.

When we up

[2021-06-21 18:29] openpublishbuild commented on #20784
@danieljurek Is there any ETA for this? As this work item attached to postmortem, it may flag in s360 passed the due date.

[2021-06-21 19:37] sescandell commented on #21753
@kasobol-msft Thanks ;)

[2021-06-21 19:37] #21753 closed

[2021-06-21 20:02] annelo-msft commented on #21554
Closing since .NET doesn't have a precedent for this.

[2021-06-21 20:02] #21554 closed

[2021-06-21 20:14] kasobol-msft commented on #21933
@pilarodriguez V12 SDK uses larger buffer by default, i.e. 4MB (see [here](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobopenreadoptions.buffersize?view=azure-dotnet#Azure_Storage_Blobs_Models_BlobOpenReadOptions_BufferSize)). The V11 SDK used just above 16KB.

Therefore I recommend to specify smaller buffer size explicitly when calling open read to accommodate your us

[2021-06-21 21:19] danieljurek commented on #21045
This is fixed.

[2021-06-21 21:19] #21045 closed

[2021-06-21 21:33] tafs7 opened #22022 "As of v12, what is the recommended API to use for downloading Block Blob files?"
**Query/Question**
What is THE way someone should be downloading files from Azure Blob Storage (block blobs) using the .NET SDK as of v12.9, in an asynchronous fashion, if the goal is to "stream" it down thru, for example, an ASP.NET controller action (REST endpoint) to a client like a browser, etc. (NOT save to a local file on server)?

There seems to be several available "download" APIs on the B

[2021-06-21 22:12] andemt commented on #22016
Oh, yeah, we are using c# framework 4.6.2.

Found a solution.  Upgraded System.Text.Json to 5.0.2 (before 4.x.x).
Added JsonIgnore-attribute to my property.

[code]

But then FieldBuilder() didn't include my field
[code]

So I had to "hack" the fields.
[code]

[2021-06-21 22:18] anthonychu commented on #21887
This is specifically regarding out of process languages (Node.js, Python, .NET out of process etc), where `QueueMessage` cannot be used.

Perhaps a better way to solve this is for us on the Functions side to come up with a design proposal for addressing these types of issues. Will get back to you.

[2021-06-21 22:22] pakrym commented on #14612
https://dev.azure.com/azure-sdk/public/_build/results?buildId=957221&view=ms.vss-test-web.build-test-results-tab&runId=20479326&resultId=101708&paneView=debug

[code]

[2021-06-21 22:42] stevendarby opened #22025 "[FEATURE REQ] Ability to filter pipeline runs by list of RunId"
Microsoft.Azure.Management.DataFactory

We need to be able to query for pipeline runs using a list of RunIds. Currently it appears the only way to do this is to individually query each pipeline run using `client.PipelineRuns.GetAsync`. The `QueryByFactoryAsync` looks promising for querying multiple pipeline runs but `RunId` is not one of the filters you can use.

I tried `RunGroupId` (not entirely

[2021-06-21 23:05] srnagar commented on #21656
Ido Schreier from the Azure Monitor team confirmed that this was a transient error from the service and shouldn't happen again. We should be able to close this issue if it's no longer reproducible - @pakrym

[2021-06-21 23:08] #21656 closed

[2021-06-21 23:23] annelo-msft commented on #21603
Per conversations with @schaabs and @AlexGhiondea, we will make the following changes to the API:

- Provide an `Audience` property in ClientOptions, replacing the `AuthorizationScope` property from the Beta 3 API
- `Audience` is an extensible enum, listing the known clouds, but user can override with a string if needed
- If `Audience` is set, client library will append `/.default` to `Audience` t

[2021-06-22 00:26] JoshLove-msft commented on #21932
Hi @JarFrank,
Any chance you can include the logs for when this error occurs? I see you have pasted in what looks like the message properties once the message is moved to the DLQ, but it would help to see the SDK logs to figure out where this error is occuring.

[2021-06-22 01:32] maririos commented on #21982
Hi @saucepleez to make sure I understand your scenario, you want a way to access the internal constructors for mocking purposes?
The library includes a static class `FormRecognizerModelFactory` . You can find it here: https://docs.microsoft.com/en-us/dotnet/api/azure.ai.formrecognizer.models.formrecognizermodelfactory.recognizedform?view=azure-dotnet#Azure_AI_FormRecognizer_Models_FormRecognizerMo

[2021-06-22 01:40] maririos commented on #21986
Hi @Rathanavel ,
Apologies for the confusion. What you are seeing is a mismatch between what we released in version `5.1.0-beta.7` and the current development in the `main` branch which is pointing to `5.1.0-beta.8` as you can see here. https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/textanalytics/Azure.AI.TextAnalytics/src/Azure.AI.TextAnalytics.csproj#L5

This new version is adding the

[2021-06-22 02:03] #21867 closed

[2021-06-22 03:09] felipepessoto opened #22029 "[BUG] - EventProcessorHost got stuck throwing ObjectDisposedException"
**Describe the bug**
After calling EventProcessorHost.UnregisterEventProcessorAsync it started to throw Exceptions in a loop

**Expected behavior**
Stop the processor host without errors.

**Actual behavior (include Exception or Stack Trace)**
System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'System.Net.WebSockets.ClientWebSocket'.
   at System.Net.WebSockets.ClientWeb

[2021-06-22 05:12] yangyud-cn opened #22031 "[BUG]DefaultAzureCredential / EnvironmentCredential doesn't have an option to set ClientCertificateCredentialOptions.SendCertificate"
**Describe the bug**
When we use DefaultAzureCredential and then set the AZURE_CLIENT_CERTIFICATE_PATH,  it fails to authenticate to AAD because the Application is only enabled Subject Name + Issuer authentication and the hardcoded behavior of EnvironmentCredential is set ClientCertificateCredentialOptions to null.

**Expected behavior**
We should have an option to allow ClientCertificateCredentia

[2021-06-22 08:01] #14362 closed

[2021-06-22 08:06] pilarodriguez commented on #21933
Yes, this fixes the issue. Thanks a lot

[2021-06-22 08:26] JarFrank commented on #21932
Hi @JoshLove-msft ! Thank you for your response!

I believe Azure Service Bus doesn't support custom logging by default and I have to configure this separately. I found this link  below
[Messaging.ServiceBus_7.1.2/sdk/core/Azure.Core/samples/Diagnostics.md](https://github.com/Azure/azure-sdk-for-net/blob/Azure.Messaging.ServiceBus_7.1.2/sdk/core/Azure.Core/samples/Diagnostics.md)

Is it enough for

[2021-06-22 08:51] v-yilinhu opened #22035 "[Translation] test failing in nightly runs"
Translation nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=925498&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=927182&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=939014&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?build

[2021-06-22 08:51] v-yilinhu opened #22036 "[Translation] test failing in nightly runs"
Translation nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=927892&view=results

[2021-06-22 08:51] v-yilinhu opened #22037 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=921678&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=923649&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=925458&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?b

[2021-06-22 08:51] v-yilinhu opened #22038 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=921678&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=923649&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=935059&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?b

[2021-06-22 08:51] v-yilinhu opened #22039 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=923649&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=925458&view=results

[2021-06-22 08:51] v-yilinhu opened #22040 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=923649&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=925458&view=results

[2021-06-22 08:51] v-yilinhu opened #22041 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=923649&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=925458&view=results

[2021-06-22 08:51] v-yilinhu opened #22042 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=943871&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=944035&view=results

[2021-06-22 08:51] v-yilinhu opened #22043 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=943936&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=944091&view=results

[2021-06-22 12:37] saucepleez commented on #21982
Hello,

No.  What I am trying to do is execute Form Recognizer which returns a `RecognizedFormCollection`.  Once I have that object, I would like to export it as a json string somewhere (ex. Database) as I will need to process it at a later time.  Once I decide later on to to process it, I would like to deserialize the json back into a new `RecognizedFormCollection` and then use the methods such a

[2021-06-22 13:02] jsquire commented on #22029
//cc: @serkantkaraca, @kasun04

[2021-06-22 13:03] jsquire commented on #22029
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-22 13:05] jsquire commented on #22025
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-22 13:07] jsquire commented on #22016
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-22 13:16] jsquire commented on #22011
Because `Microsoft.FeatureManagement` is not sourced from the Azure SDK repository, I've transferred this issue to the `Azure/AppConfiguration` repository identified on [NuGet](https://www.nuget.org/packages/Microsoft.FeatureManagement/) as the project home as #[527](https://github.com/Azure/AppConfiguration/issues/527).

[2021-06-22 13:16] #22011 closed

[2021-06-22 13:43] jsquire commented on #21985
I understand your perspective and the ambiguity that exists but, unfortunately, there are a couple of challenges with the proposed approach:

- The client knows only that the timeout it set for the read operation has expired; it has no insight into whether that was because the service was waiting because no message was available or the network was slow and the service didn't have time to respond.

[2021-06-22 14:09] reyou commented on #21985
Thanks for your clarification @jsquire, this helps a lot :)

[2021-06-22 14:09] #21985 closed

[2021-06-22 14:39] erwinkramer opened #22046 "[BUG] HttpHeaders+HeaderStoreItemInfo stay in memory from fetching BlobHierarchyItem objects by GetBlobsByHierarchyAsync"
**Describe the bug**

Increase of HttpHeaders objects relating to BlobHierarchyItem objects when calling GetBlobsByHierarchyAsync.

![image](https://user-images.githubusercontent.com/4255748/122942553-94bdcb00-d376-11eb-8a04-b6688abb37f3.png)

**Expected behavior**
No increase in objects after each run.

**Actual behavior (include Exception or Stack Trace)**
Increase in objects, structurally about

[2021-06-22 14:41] #21933 closed

[2021-06-22 14:42] kasobol-msft commented on #19384
Related https://github.com/Azure/azure-sdk-for-net/issues/21933 .

[2021-06-22 15:49] christothes commented on #20647
Hi @herohua Thanks for the feedback. Could you clarify which section of the document is missing the statement about `AZURE_CLIENT_ID`? It appears that the one in your example has the text at the bottom.

[2021-06-22 16:08] christothes commented on #20462
@xiaomi7732 The credential should work without having to do any manual configuration. Just out of curiosity, does it work if you use the `DefaultAzureCredential` as shown in [this example](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme#specifying-a-user-assigned-managed-identity-with-the-defaultazurecredential)?

[2021-06-22 16:14] christothes commented on #22031
Hi @yangyud-cn - Could you try constructing a `ChainedTokenCredential` that includes a [ClientCertificateCredential](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.clientcertificatecredential?view=azure-dotnet) (among the other credentials you prefer)? This would allow you to configure the options fully.

[2021-06-22 16:16] jlichwa commented on #21871
Based on an error, it is not even reaching key vault:
`{"error":"invalid_request","error_description":"Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request"}`
It is due to having multiple identities in that environment and Azure Identity Client Library does not know which one to use. I don't know exact order, but I assume it is star

[2021-06-22 16:27] maririos commented on #21986
Great!

The stable release will be as close as possible to `5.1.0-beta.8` :)

[2021-06-22 16:43] christothes opened #22047 "[Flaky Test] Azure.Core.Tests.HttpPipelineFunctionalTests.RetriesBufferedBodyTimeout"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=959777&view=ms.vss-test-web.build-test-results-tab

Error:
Expected: 2
But was:  3

Stack trace
   at Azure.Core.Tests.HttpPipelineFunctionalTests.<RetriesBufferedBodyTimeout>d__13.MoveNext() in D:\a\_work\1\s\sdk\core\Azure.Core\tests\HttpPipelineFunctionalTests.cs:line 466
--- End of stack trace from previous location where exception

[2021-06-22 16:45] #21986 closed

[2021-06-22 16:55] SeanFeldman commented on #21956
It looks like there are already pre-planned milestones from July to December 2021, and there's some decision-making process to assigned backlogged items to those milestones. @jsquire, would you be able to shed some light on the process of how bugs from the `Backlog` milestone get triaged and assigned to those milestones?

[2021-06-22 17:11] jsquire commented on #21956
Hi @SeanFeldman.   Happy to offer what context I can.  In this case, it's purely procedural.  Any issue tagged with `bug` or `feature`  is required to have a milestone associated with it.  Issues are also required to have only one of `bug`, `feature`, and `question`.  Weekly, validation takes place and generates a report listing issues in an invalid state.

Once the `bug` label was added, the issu

[2021-06-22 17:22] xiaomi7732 commented on #20462
@christothes That was my understanding too. If I understand correct, `DefaultAzureCredentical` is just a chain of credentials. For a service deployed to ACI, only managed identity will possibly working. In that sense, how is it different than using `ManagedIdentityCredential` directly? Thanks.

[2021-06-22 17:27] christothes commented on #20462
It shouldn't be different, other than it constructs the `ManagedIdentityCredential` for you with the client option set from the `ManagedIdentityCredentialOptions`. I don't expect that it will make a difference.  Actually, what would be more interesting is the logging output suggested initially.

Details on how to enable logging can be found [here.](https://github.com/Azure/azure-sdk-for-net/blob/m

[2021-06-22 18:26] jaschrep-msft commented on #21930
You are correct, there is not an equivalent method, and we do not publicize the classes needed for you to roll your own implementation on top of the existing SDK.

Editing this issue to be a feature request for an equivalent method.

[2021-06-22 19:48] christothes commented on #21913
This is by design according to the service team.  Set/Get Table ACL is not supported by Table AAD for security purposes.

[2021-06-22 19:48] #21913 closed

[2021-06-22 19:59] kinelski commented on #22042
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/18004.

[2021-06-22 19:59] #22042 closed

[2021-06-22 20:04] kinelski commented on #22041
Error was caused by an issue with our test resource. Already fixed.

[2021-06-22 20:04] #22041 closed

[2021-06-22 20:07] kinelski commented on #22040
Transient service issues. Not happening anymore.

[2021-06-22 20:07] #22040 closed

[2021-06-22 20:08] kinelski commented on #22039
Error was caused by an issue with our test resource. Already fixed.

[2021-06-22 20:08] #22039 closed

[2021-06-22 20:09] kinelski commented on #22038
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/21748.

[2021-06-22 20:09] #22038 closed

[2021-06-22 20:11] kinelski commented on #22037
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/21504.

[2021-06-22 20:11] #22037 closed

[2021-06-22 20:18] JoshLove-msft commented on #21932
Yes that should be enough.

[2021-06-22 20:18] christothes commented on #12145
`Microsoft.Data.SqlClient` recently added support for a connection string option that will use `DefaultAzureCredential` under the covers - Details here:

https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-default-authentication

[2021-06-22 20:27] chidozieononiwu commented on #21885
Fixed with https://github.com/Azure/azure-sdk-for-net/pull/22055

[2021-06-22 20:27] #21885 closed

[2021-06-22 20:35] maririos commented on #21982
Thanks for the clarification @saucepleez .
It does seem like what you are trying to do won't be possible with the SDK as the `RecognizedFormCollection` is not meant to be initialized or modified by the user. It only exposes the data the service recognized.
You could take a different approach and get all the fields and information from each field from the beginning (each field only has one type so

[2021-06-22 20:46] maririos commented on #22036
This was an error because of a change I was testing. The change never hit `main`.
You can see how this was `Manually run by Mariana Rios Flores` and not a `Scheduled` build

[2021-06-22 20:46] #22036 closed

[2021-06-22 20:53] maririos commented on #21770
This happens often, but it is on the service side. It is also something we can expect for any Cognitive Service where the algorithm fails.
I haven't seen any pattern or specifics that could help hint at why this happens. Because of that, I suggest we close the issue and avoid opening new ones when this is the error.

[2021-06-22 20:53] #21770 closed

[2021-06-22 20:57] maririos commented on #21771
This was fixed by https://github.com/Azure/azure-sdk-for-net/pull/21560

[2021-06-22 20:57] #21771 closed

[2021-06-22 20:59] maririos commented on #21814
This was a Manually triggered build instead of a Scheduled build. I was trying different things and intentionally using the build.
Any time you see a build with `Manually trigged by` you can ignore it

[2021-06-22 20:59] #21814 closed

[2021-06-22 21:01] maririos commented on #21815
This was a Manually Trigger Build too, so you can ignore it

[2021-06-22 21:01] #21815 closed

[2021-06-22 21:03] maririos commented on #21816
This was fixed by #21560

[2021-06-22 21:03] #21816 closed

[2021-06-22 21:07] maririos commented on #22035
When https://github.com/Azure/azure-sdk-for-net/issues/21213 is implemented, we can take a look at this and see if we should use another method for testing when AAD credentials are ready to be used

[2021-06-22 21:15] maririos commented on #20223
Recommendation to users in this case, has been added in PR https://github.com/Azure/azure-sdk-for-net/pull/20722

[2021-06-22 21:15] #20223 closed

[2021-06-22 21:17] #19550 closed

[2021-06-22 21:17] #19237 closed

[2021-06-22 21:18] maririos commented on #17475
This is included here: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Response.md

[2021-06-22 21:18] #17475 closed

[2021-06-22 21:34] maririos commented on #20764
The Form Recognizer library does provide functionality that can tell you if something was handwritten (and if you know the field and location, you could assume it is a signature).
For example, on a `RecognizedForm` object you could look at the `Lines` property https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples/Sample2_RecognizeCustomFormsF

[2021-06-22 21:44] ben-002 commented on #21127
@JoshLove-msft Thanks for your response. From what I understand this is an expected behavior. I wonder why, though. Is there any documentation where this behavior is detailed?

[Here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-expiration) I found out that "The default expiration is used for all messages sent to the entity where time-to-live isn't explicitly set"

[2021-06-23 01:40] DanialK opened #22077 "[BUG] Azure.Monitor.OpenTelemetry.Exporter depreciated or supposed to work?"
**Query/Question**
I'm hoping to be using `<PackageReference Include="OpenTelemetry.Instrumentation.AspNetCore" Version="1.0.0-rc5" />` (which is the latest at the time of writing) and want to push my logs and traces to App insights on azure. The latest version of `Azure.Monitor.OpenTelemetry.Exporter` is currently `1.0.0-beta.1` and most of the extension methods don't work as things seem to have

[2021-06-23 02:16] ArielZhang commented on #21930
the issue blocked us upgrade to v12, can you share a timeline with us?

[2021-06-23 04:59] davidobrien1985 commented on #14169
@ftd-xccc-mdy @blueww sorry for the super long delay. We finally managed to get back to this.

It's a bit unclear to me how to initialise the `storageManager` client which seems to require `ServiceClientCredentials` and won't take `Azure.Core.TokenCredential` or `Microsoft.Identity.Client`.

Can you elaborate on this and is this from the `Microsoft.Azure.Management.Storage;` package?

[2021-06-23 05:57] blueww commented on #14169
@davidobrien1985
For the "storageManager" you refer, is it's from code shared from @ftd-xccc-mdy , if so it's from Microsoft.Azure.Management.Storage.Fluent package and @ftd-xccc-mdy should know more about it.

BTW, for  Microsoft.Azure.Management.Storage package, you can see how to use it (include how to input credential) from https://azure.microsoft.com/da-dk/resources/samples/storage-dotnet-res

[2021-06-23 08:18] erwinkramer commented on #22046
After some testing I found a workaround. When using the synchronous `GetBlobsByHierarchy` method, no increase in `HttpHeaders` objects is observed.

[2021-06-23 10:25] shlomiassaf commented on #21838
Hi @jsandoval-msft

Thank you for the time and the detailed information.

I assumed this will be the case, I only suggested to add this to the docs so users will know that both handlers originate from different async flows.

Anyway, thank you for clarifying :)

[2021-06-23 10:43] shlomiassaf opened #22083 "[FEATURE REQ] Service bus ReceiveDeferredMessageAsync from a processor"
**Library or service name.**
Azure.Messaging.ServiceBus

**Is your feature request related to a problem? Please describe.**
Currently, receiving of a deferred message can only be done through a receiver.

Since `ServiceBusProcessor` encapsulate the receiver, the only way to receive a deferred message is by creating
a duplicate receiver instance.

I understand that the processor is not a receiver a

[2021-06-23 12:57] jsquire commented on #22077
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-23 13:09] jsquire commented on #22083
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-23 13:45] pmkirkham opened #22084 "Not clear than remarks relate to the method"
Remarks talks about querying with id - there is no id parameter in the method, seems to be a remark whether to use CosmosClient.GetDatabaseQueryIterator or not.

It's not obvious from the documentation why you would use this method at all, since you already have a reference to the database - the sample which show it's use starts with database, then gets another reference to the database from the r

[2021-06-23 13:51] pmkirkham opened #22085 "CosmosDatabase type in Example"
Should the CosmosDatabase type in the example be DatabaseProperties ? Also argument to CreateDatabaseAsync is not compilable.
This compiles with current version:

    DatabaseProperties db1 = await client.CreateDatabaseAsync( "MyDatabase" );

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac60942-74b8-727e-6811-d336bad

[2021-06-23 14:06] jkonecki-techfabric opened #22086 "Add missing information"
What are possible values for DomainValidationMethod property?

Please, either list them here or link to a different documentation page that contains them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d46863db-c48c-b7e1-acae-b2bdf98ae880
* Version Independent ID: 72b4791b-0735-3c98-bc95-ab5927df4d86
* Content: [Certif

[2021-06-23 14:16] jsquire commented on #22084
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-23 14:18] jsquire commented on #22085
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-23 14:20] jsquire commented on #22086
//fyi - @allenjzhang.  I believe this is sourced from the swagger, so I've routed to service attention.   Please feel free to redirect if I'm mistaken.

[2021-06-23 14:20] jsquire commented on #22086
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-23 15:04] christothes commented on #20609
There are some things in motion that should eliminate the need for setting an explicit timeout for this.
The primary one is that due to some changes to how distributed tracing events are flagged as error events, this discovery request can behavior like other service operations with policy based retries.

[2021-06-23 15:33] reyang commented on #22077
This is being addressed by #22017.

[2021-06-23 15:33] #22077 closed

[2021-06-23 15:47] dnsoftpl commented on #21987
As I understood we can transform keys structure on our own then upload to storage account container. Thank you very much.

[2021-06-23 15:50] dnsoftpl commented on #21987
However I got one more question. Why you designed that to store all keys in one file? Could not pass SAS token to container with READ,WRITE permissions and files could be created.

[2021-06-23 15:51] pilarodriguez commented on #21933
One extra question, is the buffer size specified in megabytes or in bytes? In the [method summary](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs#L1947) it is only mentioned that the default is 1MB.

[2021-06-23 16:19] kasobol-msft commented on #21933
Buffer size is in bytes.

[2021-06-23 16:26] elraikhm opened #22092 "[FEATURE REQ] Exists method behavior for DataLakePathClient"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]
 Azure.Storage.Files.DataLake" Version="12.6.1"

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
Request via Azure SDK HaTS survey:
DatalakePathClient throws a 404 on an 'Exists' call. I'm guessing that

[2021-06-23 16:29] Raghu-kumar opened #22093 "[BUG] Blob StartCopyAsync is not copying blob tag index"
**Describe the bug**
I am using StartCopyAsync  to copy blob index tag to new storage. Copy works properly but blob index tag in the source is not copied to destination.

code
CloudBlockBlob destBlob = cloudBlobDestContainer.GetBlockBlobReference(sourceBlobRef.Name);
await destBlob.StartCopyAsync(new Uri(GetSharedAccessUri(sourceBlobRef.Name, cloudBlobSrcContainer)));

**Expected behavior**
What i

[2021-06-23 16:36] pakrym commented on #21987
It's cheaper and faster to download a single blob during the app startup than to scan the container and download many tiny blobs.

[2021-06-23 17:21] maririos commented on #21798
Fixed. Need to update tests and samples

[2021-06-23 17:25] maririos commented on #21799
Fixed. Need to enable tests again

[2021-06-23 17:25] maririos commented on #21801
Fixed. need to enable tests again

[2021-06-23 18:26] heaths opened #22098 "README.md files no longer editable from within Solution Explorer"
After recent changes to include README.md files in nupkgs, README.md files cannot be edited from within Visual Studio's Solution Explorer, and they show up under the test projects (not a problem, but I believe a change from previously).

![image](https://user-images.githubusercontent.com/1532486/123148910-92f71480-d415-11eb-855d-f82b692ab3e6.png)

Notice how the README.md looks in the src project.

[2021-06-23 18:29] JoshLove-msft commented on #22083
So if we were to expose receiving deferred messages in the args, you would only be able to do so within the message handler when you receive a different message, which doesn't seem like an intuitive flow. Can you tell us more about when you would need to receive deferred messages when using the processor?

[2021-06-23 18:33] ThomasWeiss opened #22099 "[QUERY] Add samples for Azure.ResourceManager.CosmosDB"
The repo doesn't contain any sample showing how to use the Azure.ResourceManager.CosmosDB library, which makes it difficult for new users to get started.

[2021-06-23 18:35] KarlZ opened #22100 "UploadAsync(Stream) will throw an exception if the blob exists."
For UploadAsync with a string it states correctly:
_The UploadAsync(String) operation creates a new block blob or throws if the blob already exists._
It should say the same thing for UploadAsync(Stream), but instead, states:
_The UploadAsync(Stream) operation creates a new block blob or updates the content of an existing block blob. Updating an existing block blob overwrites any existing metadata

[2021-06-23 18:36] JoshLove-msft opened #22101 "Azure Service Bus for .NET (August 2021)"

[2021-06-23 18:42] JoshLove-msft opened #22103 "Azure Event Grid for .NET (August 2021)"

[2021-06-23 18:45] JoshLove-msft opened #22104 "Azure Functions for .NET (July 2021)"

[2021-06-23 18:49] JoshLove-msft commented on #21584
@pakrym, any thoughts on this?

[2021-06-23 19:14] christothes opened #22107 "[Flaky Test] Azure.Search.Documents.Tests.ManualRetryDelayTests.AddsMoreDelay"
[code]

[2021-06-23 19:16] JoshLove-msft commented on #17734
The side effects seem to be not caused by the fix to this issue. The fix for this is in 7.2.0 stable release.

[2021-06-23 19:16] #17734 closed

[2021-06-23 19:18] JoshLove-msft commented on #21869
Correct, in order to prevent this from happening completely, we would need service updates. The issue can be mitigated through client side enhancements to Microsoft.Azure.Amqp to support draining the link credits once the processor is stopped.

[2021-06-23 19:36] JoshLove-msft opened #22109 "Add AAD support"
Update client library to support authenticating with AAD.

[2021-06-23 20:03] #16686 closed

[2021-06-23 20:34] pakrym commented on #22107
Dup: https://github.com/Azure/azure-sdk-for-net/issues/18570

[2021-06-23 20:36] Raghu-kumar commented on #22093
Copy Blob doesn't copy blob index tags from the source blob to the new destination blob.
I updated code to set Tag while copy

[2021-06-23 20:36] #22093 closed

[2021-06-23 20:54] #21938 closed

[2021-06-23 21:28] pakrym commented on #21584
No, not really. At some point I verified that tracing works for EH but never did it for SB.

[2021-06-23 21:32] JoshLove-msft commented on #21584
This issue appears to be about Blobs traces being missing. @mauve can you clarify which traces are missing?

[2021-06-23 21:36] JoshLove-msft commented on #21584
/cc @kasobol-msft

[2021-06-23 22:45] christothes opened #22120 "Remove unused snippets for appconfiguration"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

appconfiguration: Snippet:Sample_DeleteFeatureFlag

[2021-06-23 22:46] christothes opened #22121 "Remove unused snippets for communication"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

communication: Snippet:Azure_Communication_ServerCalling_Tests_CreateGroupCallOperation
communication: Snippet:Azure_Communication_ServerCalling_Tests_CreateCallConnectionOperation
communication: Snippet:Azure_Communication_ServerCalling_Tests_PlayAudioOperation
communication: Snippet:Azure

[2021-06-23 22:46] christothes opened #22122 "Remove unused snippets for core"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

core: Snippet:DisablingLogging
core: Snippet:TraceLogging

[2021-06-23 22:46] christothes opened #22123 "Event Hubs: Remove unused snippets"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

eventhub: Snippet:EventHubs_ReadMe_ReadPartition
eventhub: Snippet:EventHubs_SamplesCommon_ProducerBasicConfig
eventhub: Snippet:EventHubs_Processor_Sample03_ErrorHandlerExceptionHandling

[2021-06-23 22:47] christothes opened #22124 "Remove unused snippets for identity"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

identity: Snippet:Identity_TokenCache_CustomPersistence_Usage_TokenCachePath

[2021-06-23 22:47] christothes opened #22125 "Remove unused snippets for iot"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

iot: Snippet:IotHubCreateDeviceIdentities
iot: Snippet:IotHubUpdateDeviceIdentities
iot: Snippet:IotHubUpdateDeviceTwins
iot: Snippet:IotHubDeleteDeviceIdentities
iot: Snippet:IotHubGetDeviceIdentities
iot: Snippet:IotHubGetDeviceTwins
iot: Snippet:IotHubCreateModuleIdentities
iot: Snippet:

[2021-06-23 22:47] christothes opened #22126 "Remove unused snippets for keyvault"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

keyvault: Snippet:CreateKeyVaultAccessControlClient
keyvault: Snippet:GetRoleDefinitions
keyvault: Snippet:ReadmeCreateRoleAssignment
keyvault: Snippet:KeysSample4DeleteKey
keyvault: Snippet:KeysSample5DeleteKeys
keyvault: Snippet:KeysSample6DeleteKey

[2021-06-23 22:48] christothes opened #22127 "Remove unused snippets for monitor"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

monitor: Snippet:QueryLogsWithTimeout

[2021-06-23 22:48] annelo-msft commented on #21603
Moving to August per internal discussion.

[2021-06-23 22:48] christothes opened #22128 "Remove unused snippets for remoterendering"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

remoterendering: Snippet:StartAnAssetConversion
remoterendering: Snippet:QueryAssetConversion
remoterendering: Snippet:StartAComplexAssetConversion
remoterendering: Snippet:GetConversions
remoterendering: Snippet:CreateAClient
remoterendering: Snippet:CreateASession
remoterendering: Snippet

[2021-06-23 22:48] christothes opened #22129 "Remove unused snippets for search"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

search: Snippet:Azure_Search_Tests_Samples_Readme_Dynamic

[2021-06-23 22:49] christothes opened #22130 "[Service Bus] Remove unused snippets"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

servicebus: Snippet:ServiceBusInitializeSend
servicebus: Snippet:ServiceBusReceiveBatch

[2021-06-23 22:49] christothes opened #22131 "Remove unused snippets for storage"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

storage: Snippet:SampleSnippetsChangeFeed_PollForEventsWithCursor
storage: Snippet:SampleSnippetDataLakeFileClient_ReadTo

[2021-06-23 22:49] christothes opened #22132 "Remove unused snippets for tables"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

tables: Snippet:TablesSample1CreateTableAsync
tables: Snippet:TablesSample1DeleteTableAsync
tables: Snippet:TablesSample1DeleteNonexistentTable
tables: Snippet:TablesSample2DeleteTableWithTableClient
tables: Snippet:TablesSample2CreateTableClientAsync
tables: Snippet:TablesSample2CreateEnti

[2021-06-23 22:50] christothes opened #22133 "Remove unused snippets for textanalytics"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

textanalytics: Snippet:TextAnalyticsSampleHealthcare
textanalytics: Snippet:TextAnalyticsSampleHealthcareAsync
textanalytics: Snippet:RecognizeHealthcareEntitiesAsyncAutomaticPolling
textanalytics: Snippet:TextAnalyticsSampleHealthcareAsyncCancellation
textanalytics: Snippet:RecognizeHealth

[2021-06-23 22:50] christothes opened #22134 "Remove unused snippets for translation"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

translation: Snippet:MultipleInputs
translation: Snippet:OperationsHistory
translation: Snippet:PollIndividualDocuments
translation: Snippet:StartTranslationWithAzureBlobAsync

[2021-06-23 22:50] christothes opened #22135 "Remove unused snippets for webpubsub"
Please remove these snippets or remove the `#region Snippet:<snippet name>` or use them in a markdown file.

webpubsub: Snippet:WebPubSubHelloWorldConnStr
webpubsub: Snippet:WebPubAddUserToGroup

[2021-06-23 23:03] #22127 closed

[2021-06-24 04:00] maririos commented on #15879
Approved!!!

[2021-06-24 04:00] #15879 closed

[2021-06-24 04:00] #21799 closed

[2021-06-24 04:01] #21798 closed

[2021-06-24 04:01] #21801 closed

[2021-06-24 05:37] dnsoftpl commented on #21987
Ok thank you for explanation. I am closing the ticket.

[2021-06-24 05:37] #21987 closed

[2021-06-24 07:18] JoshLove-msft opened #22143 "[BUG] Don't cancel autolockrenewal on StopProcessingAsync call"
Quoting from https://github.com/Azure/azure-sdk-for-net/issues/21869#issuecomment-863820818:

[2021-06-24 07:41] WestDiscGolf commented on #12514
Hi, Just curious as to see if there is any update on when the Cosmos SDK package will be brought in to the repo and the Azure.Cosmos package be the "latest" to use? I've tried to find more information but the preview v4 package on nuget was last updated in Jan 2020 and the project link takes me to the v3 package repo. I've looked in the links provided here - https://github.com/Azure/azure-sdk-for-

[2021-06-24 08:01] #17018 closed

[2021-06-24 08:48] egraff opened #22144 "[BUG] Missing deserialization of LeaseStatus in Azure.Storage.Blobs.BlobExtensions.ToBlobDownloadStreamingResult"
**Describe the bug**
`Azure.Storage.Blobs.BlobExtensions.ToBlobDownloadStreamingResult()` does not populate the `BlobDownloadDetails`'s `LeaseState` from the response headers object. It _does_ set the `LeaseState` and `LeaseDuration`:
https://github.com/Azure/azure-sdk-for-net/blob/0c9f9efe68533703bc7f608f7394e0c2c992d205/sdk/storage/Azure.Storage.Blobs/src/BlobExtensions.cs#L872-L873
but is missi

[2021-06-24 12:27] jsquire commented on #22123
Thanks for this!    Out of curiosity, how did you mismatch them?

[2021-06-24 13:08] jsquire commented on #22100
Also reported by #18381

[2021-06-24 13:10] jsquire commented on #22099
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-24 13:12] yufeih commented on #20609
We'll gladly try out and give feedback once it ships.

[2021-06-24 13:13] christothes commented on #22123
It's an update to Snippet Generator (and Update-Snippets.ps1) https://github.com/Azure/azure-sdk-for-net/pull/22090

![](https://media.giphy.com/media/l0MYw6Cu1TfY3gsWk/giphy.gif)

[2021-06-24 13:13] jsquire commented on #20584
@mitchdenny, @kurtzeborn:  Since this work has completed, should we consider closing this issue out?

[2021-06-24 14:19] moraismat opened #22145 "[BUG] Exception occurred resolving a log provider."
Has anyone ever come across this kind of Log?

Exception occurred resolving a log provider. Logging for this assembly Microsoft.Azure.Documents.ChangeFeedProcessor, Version=2.2.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 is disabled. System.ArgumentNullException: Value cannot be null. (Parameter 'method')
   at System.Linq.Expressions.Expression.Call(Expression instance, MethodInfo metho

[2021-06-24 15:07] #22120 closed

[2021-06-24 15:11] #21675 closed

[2021-06-24 15:11] #21820 closed

[2021-06-24 15:47] mgroetan commented on #15064
To my experience, this behaviour was recently changed in the 12.**9.0** version, no longer escaping the slashes.

This [change](https://github.com/Azure/azure-sdk-for-net/pull/21424/files/2fec800816c5cc044c38958b7288ec02afb50a9a#diff-9d1e90f229d4b52f7bbfb4cde696b8d81c0f37170b34dd5beea293583d81688b) seems to be the one:
![image](https://user-images.githubusercontent.com/9464822/123291187-2dd51900-d

[2021-06-24 15:52] seanmcc-msft commented on #15064
@amnguye @kasobol-msft, we need to look into this.  @mgroetan brings up a good point.

[2021-06-24 16:26] kasobol-msft commented on #15064
@mgroetan The change is intentional and was part of larger internal refactoring. Service doesn't distinguish `/` from `%2f` but considering multiple asks to not encode `/` we decided to change it. As @seanmcc-msft  mentioned we recommend to use `BlobName` rather than `Uri` for parsing purposes.

[2021-06-24 16:31] amishra-dev commented on #22046
thanks for letting us know :)

[2021-06-24 16:35] amishra-dev commented on #22022
Thanks for reaching out @tafs7 (Thiago). I do not think you should be worried that the API will be removed. We periodically move older APIs out if we have better overloads, but we have tests in place to make sure that we never regress even though we marked the API as editorbrowsable false.
Your ask for why we marked it as EditorBrowsable false is fair, let me get back to you on that.

[2021-06-24 17:00] bruhswo opened #22148 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-06-24 17:06] bruhswo commented on #22148
Server Microsoft office how azure RDP $100 STUDENT

[2021-06-24 17:17] #22145 closed

[2021-06-24 18:44] MattMcL4475 opened #22151 "[BUG] AzureServiceTokenProvider.GetAccessTokenAsync hangs forever on corpnet domain joined machines with two identities"
**Describe the bug**
AzureServiceTokenProvider.GetAccessTokenAsync() hangs forever on corpnet domain joined machines with two identities

**Expected behavior**
A token is successfully returned.

**Actual behavior (include Exception or Stack Trace)**
This line of code never returns:

`await new AzureServiceTokenProvider().GetAccessTokenAsync("https://management.azure.com/");`

... and so a token is

[2021-06-24 19:47] nobody-msft opened #22153 "[BUG] CheckExistenceById throws 400 Bad Request"
**Describe the bug**
I'm trying to check if an Azure resource exists by it's full Id, but I always get back a 400 bad request from ARM when using the ResourcesManagementClient class.

**Expected behavior**
The response should return either 404 or 204, depending on if the resource exists

**Actual behavior (include Exception or Stack Trace)**
ARM always returns 400 Bad Request

**To Reproduce**
Ste

[2021-06-24 20:59] akakaule opened #22154 "[FEATURE REQ] Service bus web jobs extension PeekMessage and ReceiveDeferredMessage with ServiceBusMessageActions"
**Library or service name.**
Microsoft.Azure.WebJobs.ServiceBus

**Is your feature request related to a problem? Please describe.**
Using Service Bus trigger for Azure Functions with web job extension providing access to IMessageSession which allow for both use of PeekMessage and ReceiveDeferredMessage. Migrating to the new Service Bus SDK and web job extension 5.x it's possible to use ServiceBusM

[2021-06-24 21:22] ellismg opened #22156 "[BUG] [AgriFood] `FarmClient` should be named `FarmOperationsClient`"
In the swagger specification for the service, there is an operation group named `FarmOperations`:

https://github.com/Azure/azure-rest-api-specs/blob/683e3f4849ee1d84629d0d0fa17789e80a9cee08/specification/agfood/data-plane/Microsoft.AgFoodPlatform/preview/2021-03-31-preview/agfood.json#L3156

Since we generate a client per operation group, we would expect that this would create a client type named

[2021-06-24 21:28] kinelski commented on #16331
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/21972.

[2021-06-24 21:28] #16331 closed

[2021-06-24 21:39] christothes commented on #20302
https://github.com/Azure/azure-sdk-for-net/pull/21378

[2021-06-24 21:39] #20302 closed

[2021-06-24 21:41] jsquire commented on #22151
//cc: @nonik0, @anaismiller

[2021-06-24 21:42] jsquire commented on #22151
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-24 21:44] jsquire commented on #22153
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-24 21:46] jsquire commented on #22154
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-24 21:47] nonik0 commented on #22151
@crmann1 This looks like the VS token service is hanging/slow. Could you take a look?

[2021-06-24 21:52] AlexGhiondea opened #22157 "AppConfig Commitments for .NET (July-December 2021)"
This tracks the AppConfig Commitments for .NET for the Azure SDK team

[2021-06-24 21:52] AlexGhiondea opened #22158 "Azure Batch Commitments for .NET (July-December 2021)"
This tracks the Azure Batch Commitments for .NET for the Azure SDK team

[2021-06-24 21:52] AlexGhiondea opened #22159 "Azure Schema Registry Commitments for .NET (July-December 2021)"
This tracks the Azure Schema Registry Commitments for .NET for the Azure SDK team

[2021-06-24 21:52] AlexGhiondea opened #22160 "Azure Container Registry Commitments for .NET (July-December 2021)"
This tracks the Azure Container Registry Commitments for .NET for the Azure SDK team

[2021-06-24 21:53] AlexGhiondea opened #22161 "Azure Device Update Commitments for Net (July-December 2021)"
This tracks the Azure Device Update Commitments for Net for the Azure SDK team

[2021-06-24 21:54] AlexGhiondea opened #22162 "Azure Event Grid Commitments for .NET (July-December 2021)"
This tracks the Azure EventGrid Commitments for .NET for the Azure SDK team

[2021-06-24 21:54] AlexGhiondea opened #22163 "Azure AgriFood Commitments for .NET (July-December 2021)"
This tracks the Azure FarmBeats Commitments for .NET for the Azure SDK team

[2021-06-24 21:54] AlexGhiondea opened #22164 "Form Recognizer 3.0 support for .NET (July-December 2021)"
This tracks the Form Recognizer 3.0 support for .NET for the Azure SDK team

[2021-06-24 21:55] AlexGhiondea opened #22165 "Azure Key Vault Commitments for .NET (July-December 2021)"
This tracks the Azure Key Vault Commitments for .NET for the Azure SDK team

[2021-06-24 21:55] AlexGhiondea opened #22166 "Azure Purview Commitments for .NET (July-December 2021)"
This tracks the Azure Purview Commitments for .NET for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #22167 "Azure Search Commitments for .NET (July-December 2021)"
This tracks the Azure Search Commitments for .NET for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #22168 "Azure Synapse Commitments for .NET (July-December 2021)"
This tracks the Azure Synapse Commitments for .NET for the Azure SDK team

[2021-06-24 21:57] AlexGhiondea opened #22169 "Azure Web Pub Sub Commitments for .NET (July-December 2021)"
This tracks the Azure Web Pub Sub Commitments for .NET for the Azure SDK team

[2021-06-24 21:57] AlexGhiondea opened #22170 "Engineering System Improvements for .NET"
This tracks the Engineering System Improvements for .NET for the Azure SDK team

[2021-06-24 21:57] AlexGhiondea opened #22171 "Azure Event Hubs Commitments for .NET (July-December 2021)"
[Azure Event Hubs](https://docs.microsoft.com/azure/event-hubs/event-hubs-about) is a highly scalable publish-subscribe service that can ingest millions of events per second and stream them to multiple consumers. This lets you process and analyze the massive amounts of data produced by your connected devices and applications.

The [Azure.Messaging.EventHubs](https://www.nuget.org/packages/Azure.Me

[2021-06-24 21:59] AlexGhiondea opened #22172 "Cognitive language pillar for .NET"
This tracks the Cognitive language pillar for .NET for the Azure SDK team

[2021-06-24 22:00] AlexGhiondea opened #22173 "Azure Service Bus Commitments for .NET (July 2021-March 2022)"
[Azure Service Bus](https://azure.microsoft.com/services/service-bus/) is a cloud messaging service with message queues and publish-subscribe topics.

The [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.Servicebus) package provides the SDK for .Net developers to write applications that use Azure Service Bus. Version 7 of this package follows the latest [guidelines for w

[2021-06-24 22:11] AlexGhiondea opened #22174 "Pick up .NET 6"

[2021-06-24 22:12] AlexGhiondea opened #22175 "[.NET] cognitive vision streaming guidelines"

[2021-06-24 22:22] AlexGhiondea opened #22176 "Azure.Core Fundamentals for .NET (July-December 2021)"

[2021-06-24 22:55] kasobol-msft commented on #21753
@sescandell I recall now that `BlobTrigger` uses `AzureWebJobsStorage` for internal queues regardless of which `Connection` is used, so `StorageAccountCS` can have only blobs uri.

[2021-06-24 22:58] kasobol-msft opened #22178 "[Storage][Webjobs] Add more examples of MSI for storage extension."
Follow up on https://github.com/Azure/azure-sdk-for-net/issues/21753 .

Add examples in readmes how to use extensions, expecially blob triggers with MSI with different variants of specifying the uri/account name.

[2021-06-24 23:11] heaths opened #22179 "Re-enable nightly Key Vault tests"

[2021-06-24 23:38] heaths commented on #18758
Keys, Secrets, and Certs shipped 4.2, and Admin shipped 4.0.

[2021-06-24 23:38] #18758 closed

[2021-06-24 23:38] JoshLove-msft commented on #22154
Hi @akakaule,
Can you provide context around how you are using these methods inside your function?

[2021-06-24 23:41] heaths opened #22180 "Key Vault for .NET (August 2021)"

[2021-06-24 23:42] heaths opened #22181 "Key Vault for .NET (September 2021)"

[2021-06-25 00:46] joshfree opened #22184 "Azure Monitor Query for .NET July - November 2021 Releases"
# Azure Monitor Query for .NET July - November 2021 Releases

The `Azure.Monitor.Query` package provides an ability to query [Azure Monitor Logs](https://docs.microsoft.com/azure/azure-monitor/logs/data-platform-logs) and [Azure Monitor Metrics](https://docs.microsoft.com/azure/azure-monitor/essentials/data-platform-metrics) data.

[Azure Monitor Logs](https://docs.microsoft.com/azure/azure-monito

[2021-06-25 00:57] joshfree opened #22185 "Regenerate Monitor Query Beta-2 to include the latest swagger updates"
Tracking issue for regenerating Monitor Query Beta-2 to include the latest swagger updates

- Swagger for Logs https://github.com/Azure/azure-rest-api-specs/blob/master/specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/OperationalInsights.json
- Swagger for Metrics https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/re

[2021-06-25 01:03] joshfree opened #22186 "Finish Monitor Query Samples for the 7 example scenarios"
Tracking issue to ensure Monitor Query Beta-2 includes samples for the following seven (7) scenarios

1.  Get an auth token to talk to the service
2.  Make a simple query to the service "requests | summarize count() by bin(timestamp, 1h)", "timestamp = P1D"
3.  Get the results in tabular form
4.  Get the results in key-value form
5.  Use $batch to run 5 queries in 1 api call
6.  Run a more complex

[2021-06-25 01:08] joshfree opened #22187 "Update Monitor Query Samples, Quickstarts, and Documentation based on Beta-2 consistency review"
Tracking issue to update all Samples and related documentation based on the Beta-2 consistency review on 6/24
/cc @scottaddie

[2021-06-25 01:13] joshfree opened #22188 "Incorporate Monitor Query Beta-2 UX study feedback into August (Beta-3)"
Tracking issue to update the August Release to incorporate the TBD Beta-2 UX Study Feedback
/cc @scottaddie

Action items from 7/23 meeting:

- [x] Add a multi-workspace logs query code sample to the _samples_ directory.
- [x] Add an "Advanced scenarios" section to the _README_. Within that section, provide a link to the multi-workspace logs query code sample.
- [x] Add a logs query response objec

[2021-06-25 01:17] joshfree opened #22189 "Add Missing Performance Tests for Monitor Query"
Add performance tests for

1) Making a simple query to the service "requests | summarize count() by bin(timestamp, 1h)", "timestamp = P1D"
2) Use $batch to run 5 queries in 1 api call
3) Get query statistics (cpu usage / memory / execution time)

[2021-06-25 01:21] joshfree opened #22190 "Incorporate Monitor Query Beta-3 UX study feedback into October Release"
Tracking issue to update the September Release to incorporate the TBD Beta-3 UX Study Feedback
/cc @scottaddie

[2021-06-25 01:27] joshfree opened #22191 "Update Monitor Query Samples, Quickstarts, and Documentation based on final consistency review"
Tracking issue to update all Samples and related documentation based on the final September Release consistency review
/cc @scottaddie

- [ ] Move DateTimeRange to Azure Monitor Query
- [ ] Throw exception on partial error
- [ ] Add new option in LogsQueryOption to disable throwing exception on partial error
- [ ] Include an enum LogsQueryResultStatus in LogsQueryResult to indicate if the result i

[2021-06-25 01:37] yangyud-cn commented on #22031
@christothes, as a work around I can do it but the idea here is to make sure we could reuse existing things as much as possible.

[2021-06-25 04:41] felipepessoto opened #22193 "[Event Hubs] Incorrect description for `EventProcessorOptions`"
I believe this statement is incorrect:

 EventProcessorHost will call IEventProcessor.OnEvents(null)

There is no IEventProcessor.OnEvents. And it doesn't call the ProcessEventsAsync with null argument, it sends a empty Enumerable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53e538ca-4c3d-d328-9559-cdd0ee59daf2
* Ver

[2021-06-25 05:56] JoshLove-msft commented on #21907
You can use [ServiceBusConnectionStringProperties.Parse](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusconnectionstringproperties.parse?view=azure-dotnet#Azure_Messaging_ServiceBus_ServiceBusConnectionStringProperties_Parse_System_String_) for a standard connection string to extract the EntityPath.

If the entity path doesn't contain just a queue or topic name (w

[2021-06-25 06:04] JoshLove-msft commented on #21127
Hi @ben-002,
I don't think there is any documentation that explicitly describes this behavior. I think we can update the docs to include this information. I'm unsure as to the "why" the messages are not updated automatically with the entity expiration time, but I can try to find out.

[2021-06-25 06:06] #17566 closed

[2021-06-25 06:09] JoshLove-msft commented on #22083
Related https://github.com/Azure/azure-sdk-for-net/issues/22154

[2021-06-25 07:31] akakaule commented on #22154
We have solution/sdk that relies on IMessageSession where when we are processing a message (session-based) if the consumer cannot process the message then the message stored as failed (by sending the message back into the topic and forwarded to another topic/subscription where it is stored in some storage). We then set the session state marking it as "blocked". When the consumer processed then nex

[2021-06-25 08:00] srnagar opened #22194 "Investigate creating a common error type in Azure.Core"
REST API guideline recommends services to return errors in a standard format - https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#errorresponse--object

Investigate creating an error type in Azure.Core that all services that return errors in this format can use.

[2021-06-25 08:07] mitchdenny commented on #20584
Just waiting on some link updates. I'd say next week at the latest.

[2021-06-25 09:43] karataliu commented on #20651
ping. is there any ETA for this feature? passing guid directly is not practical in production use.

[2021-06-25 13:07] jsquire commented on #22193
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-25 13:25] Identifier commented on #21907
Thanks for pointing out ServiceBusConnectionStringProperties.Parse.  It makes the code slightly nicer looking than DbConnectionStringBuilder.  But it still ultimately just returns the exact content after the EntityPath=... attribute, so if EntityPath=foo/bar/baz we're still going to get ServiceBusConnectionStringProperties.EntityPath == "foo/bar/baz".

Regarding the connection string looking custo

[2021-06-25 15:48] christothes commented on #22031
Hi @yangyud-cn `DefaultAzureCredential` is meant to be used as a simple default option that works for most scenarios. You can think of `ChainedTokenCredential` as an advanced version of `DefaultAzureCredential` that allows you to configure it with full control.

In your case, you wouldn't add `DefaultAzureCredential` to the `ChainedTokenCredential`, rather each specific credential you want in the

[2021-06-25 17:39] amishra-dev commented on #22144
@seanmcc-msft Sean, could you please look at this one.

[2021-06-25 17:46] kinelski opened #22200 "[MetricsAdvisor] Add Uri properties to clients so users know what they're communicating with"

[2021-06-25 17:57] AlexGhiondea opened #22201 "Azure Search for .NET (July 2021)"
This tracks the Search work.

[2021-06-25 17:57] AlexGhiondea opened #22202 "Azure Search for .NET (August 2021)"
This tracks the Search work.

[2021-06-25 17:58] AlexGhiondea opened #22203 "Azure Search for .NET (September 2021)"
This tracks the Search work.

[2021-06-25 17:58] AlexGhiondea opened #22204 "Azure Search for .NET (October 2021)"
This tracks the Search work.

[2021-06-25 18:02] #22185 closed

[2021-06-25 18:04] #18761 closed

[2021-06-25 18:06] seanmcc-msft commented on #22144
Hi @egraff, I can repo this issue, and will work to address it shortly.

Thanks for reporting this!

-Sean

[2021-06-25 18:35] JoshLove-msft commented on #22154
Ok so that explains the ReceiveDeferred use case. I'm not sure using the ServiceBusSessionReceiver will even work as you may not be able to lock the session if it is locked by the functions. How are you using Peek?

[2021-06-25 18:37] #18756 closed

[2021-06-25 18:59] egraff opened #22206 "[BUG] Capitalization has changed when BlobTraits are serialized into request URI parameters for List Blob requests"
**Describe the bug**
I'm a bit unsure whether this should actually be classified as a bug, or whether the behavior is acceptable.

Basically, I've noticed that after upgrading from Azure.Storage.Blobs 12.8.4 -> 12.9.1, the URI parameters that are generated when calling `BlobContainerClient.GetBlobsAsync()` and specifying some traits (such as  `BlobTraits.Metadata`) are capitalized differently than

[2021-06-25 21:19] jongio commented on #13669
I think what @zedy-wj is saying is that we expect an error if it is the wrong region, but it is timing out instead.

Is that correct?

[2021-06-25 21:33] pakrym opened #22208 "Verify log categories of extension loggers"
We should switch to `ILogger<T>` everywhere.

[2021-06-25 21:48] JoshLove-msft commented on #20177
Discussed this and https://github.com/azure/azure-sdk-for-net/issues/20174 during our sync today. The functions retry feature is still in beta. We should make sure that the function retry logic does not happen when the message lock is lost before the functions retry feature is stable (this may require coordination between the extension and webjobs SDK code), but this is not required for the extens

[2021-06-25 22:41] mauve commented on #21584
We are reading blobs, I was expecting to see something about those accesses in my timeline.

[2021-06-25 22:48] MattMcL4475 commented on #22151
Met with @crmann1 and the conclusion is that the root cause is that Microsoft.Asal.TokenService.exe process never exits.  Why that is the case is unclear.

[2021-06-25 22:55] Mohit-Chakraborty commented on #21457
@amitkub, did you get a chance to try the workarounds. Specifically, modifying [**both** the `Transport` and `Retry` properties](https://github.com/Azure/azure-sdk-for-net/issues/9212#issuecomment-678548888) on `SearchClientOptions`?

[2021-06-25 23:46] DorothySun216 commented on #14836
We don't have enough information to answer this right now since we suspect this is an issue on the AMQP layer. We will get back when we find proof.

[2021-06-25 23:52] yvgopal commented on #14836
We couldn't yet reproduce it on our end. There is something going wrong with AMQP library, in a particular corner case. I just couldn't reproduce it so far and don't see any particular code path that may have caused this. We will keep this open, and continue to investigate as a low priority item. In the meantime, if any of you can consistently reproduce it and identify a reproducible pattern, we w

[2021-06-26 00:02] christothes opened #22216 "CI needs an analysis step to validate http links in XML doc comments"
PRs like this are a good example of the need for some link validation to check for things like locales.

https://github.com/Azure/azure-sdk-for-net/pull/22215

[2021-06-26 00:33] Alanddq opened #22217 "[BUG] ShareDirectoryClient SetMetadataAsync returns incorrect last modified time"
**Describe the bug**
Please provide the description of issue you're seeing.

ShareDirectoryClient SetMetadataAsync returns incorrect last modified time

**Expected behavior**
What is the expected behavior?

ShareDirectoryClient SetMetadataAsync should return correct last modified time

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

ShareDirectoryClient SetMeta

[2021-06-26 02:49] heaths opened #22219 "RecordMatcher fails with doubles on different runtime versions"
I have some doubles in both requests and reponses, and the `RecordMatcher` has a problem with doubles in requests on .NET 5.0 vs older versions. For example, here's what I get in a test that was recorded with .NET 5.0 but used on older runtimes:

[code]

I can disable body comparisons, but I'm wondering if we could have the recording framework somehow inject a double converter to control precision

[2021-06-26 03:18] heaths commented on #22219
See https://github.com/dotnet/runtime/issues/435 for some discussion about this.

[2021-06-26 08:01] #21262 closed

[2021-06-26 08:01] #20777 closed

[2021-06-26 15:49] egraff commented on #22206
The change seems to come from https://github.com/Azure/azure-sdk-for-net/commit/1814567d1f6cfb4905539e71d54377ab46ed6737.

In version 12.8.4, the file `Azure.Storage.Blobs/src/Generated/BlobRestClient.cs` contained a function `ListBlobsFlatSegmentAsync_CreateMessage` with code looking like

[code]

whereas in 12.9.1, the file `Azure.Storage.Blobs/src/Generated/ServiceRestClient.cs` contains a func

[2021-06-26 20:06] SeanFeldman commented on #11590
@kasobol-msft it's been over a year since the issue was raised and backlogged. It's still needed. What are the plans to address it? Going through reflection is a workaround, and it would be great to see a more permanent solution.

[2021-06-27 18:35] zhenlan opened #22223 "AppConfig: DefaultAzureCredential doesn't work in ConfigurationClient"
# Issue Transfer from the AppConfiguration reposiitory, [#530](https://github.com/Azure/AppConfiguration/issues/530)

## Please be aware that @gkarnik-gl is the author of the original issue and be sure to include them on any questions or replies.

While running locally from Visual Studio, DefaultAzureCredential parameter for ConfigurationClient doesn't work whereas it works for SecretClient. Visua

[2021-06-27 18:51] jsquire commented on #22223
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-28 01:38] zedy-wj commented on #13669
@jongio - Yes, for example, if the cloud was set with `UsGov` and we chose a region in `Public` for variable `wrongRegion`, it would cause timing out. So we could not hardcode the variable `wrongRegion` , we should set different regions in different clouds.

[2021-06-28 02:08] JoshLove-msft commented on #20177
I dug into this a bit and here is what I found:
The use of [IRetryStrategy](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/IRetryStrategy.cs) does not seem to permit preventing an exception from being retried. The interface has two members - MaxRetryCount and GetNextDelay. By overriding GetNextDelay you can customize how long to wait before the next retry, but

[2021-06-28 02:09] JoshLove-msft commented on #20177
/cc @pakrym @alrod @paulbatum @fabiocav - interested in your thoughts on the ideas above. I think Option 2 seems reasonable.

[2021-06-28 04:08] VarditShimborsky opened #22231 "Azure.Messaging.EventHubs: Recover event hub if received error"
**Query/Question**

We are looking for coding examples to recover from .net event hub SDK exceptions.

See Below the exception we are receiving from time to time.
Can you advise what can be a good way to recover from it?

[code]

**Environment:**
 - Azure.Messaging.EventHubs 5.2.0
 - Windows 10 .NET Core 5.0.6

[2021-06-28 05:22] JoshLove-msft commented on #20236
This is fixed in https://github.com/Azure/azure-webjobs-sdk/releases/tag/v3.0.29
We just need to wait for this version to be published to nuget and then release a new version of the extension depending on it.

[2021-06-28 06:55] Sandeep7OnShell opened #22236 "[QUERY] Search: Using DateTimeOffset in POST body for azure search filter"
**Query/Question**
I am trying to implement azure search via POST that involves a DateTimeOffset field. My filter run fine if I don't have the DateTimeOffset field added. Below is the query that works fine:
POST:BODY:
{"filter":"statusCode eq 'ACTIVE'","top":100,"skip":0,"orderby":"code asc","count":true,"search":"*"}
but this doesn't work:
POST:BODY:
{"filter":"statusCode eq 'ACTIVE' and DateTime

[2021-06-28 11:34] StefanJanssen95 opened #22246 "Description displays &lt; and &gt; instead of formatting the text"
[code]
The text shows encoded characters for `<` (`&lt;`) and `>` (`&gt;`)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c89f7c02-ca6c-3a95-b967-b8ca3e80e269
* Version Independent ID: d1c50b62-bbc7-304f-1313-65266458bdaa
* Content: [Site.ClientAffinityEnabled Property (Microsoft.Azure.Management.WebSites.Models) - Azu

[2021-06-28 13:14] jsquire commented on #22236
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-28 13:16] jsquire commented on #22246
@allenjzhang:  I believe this is sourced from the swagger directly, so I've routed to the service team.  Please feel free to reroute if my assumption is incorrect.

[2021-06-28 13:16] jsquire commented on #22246
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-28 13:39] jsquire commented on #22231
Hi @VarditShimborsky.   Thank you for reaching out and we regret that you're experiencing difficulties.   Generally speaking, the processor is highly resilient and will automatically recover from most error conditions without intervention.   In this case, the task processing this specific partition would fault and then be restarted during the next load balancing cycle which, with the default setti

[2021-06-28 14:14] kasobol-msft commented on #11590
@SeanFeldman So far, for each ask there was an alternative without exposing SDK internals. Please describe your scenarios.

[2021-06-28 15:33] pakrym commented on #22219
The recording framework is not the one that is serializing the request so it can't control the number formatting. Unfortunately this is not the first time we hit this issues so we do need a fix.

One possibility might be a semantic JSON comparer instead of bytes comparer.

[2021-06-28 16:11] pakrym commented on #22223
@gkarnik-gl can you please provide the error you are seeing?

[2021-06-28 16:31] gkarnik-gl commented on #22223
Hi Pavel,

I was getting a forbidden 403 error, but I'm unable to reproduce it now.

Thanks,
Guru Karnik
GlobalLogic
 M +91.9986769548
www.globallogic.com

On Mon, Jun 28, 2021 at 9:41 PM Pavel Krymets ***@***.***>
wrote:

[2021-06-28 16:36] pakrym commented on #22223
Sometimes role assignments take a while to propagate. Closing, please reopen if it happens again.

[2021-06-28 16:36] #22223 closed

[2021-06-28 16:38] heaths commented on #22219
Another possibility might be something conceptually similar to what they did [here](https://github.com/dotnet/runtime/pull/35042/files#diff-a31e2a8eea664a0b94fff01d8bc216318a37636f42aca04c4dc43c23780654cfR7740-R7752): if we can safely (and we should probably make this behavior optional to mitigate risk) determine we are writing a double, we could precision to some degree as long as rounding works

[2021-06-28 16:55] jongio commented on #13502
@tg-msft - Do we have a different issue to track moving to the official dataset?  Is that something you want to do yourself or something we can help with?

[2021-06-28 17:16] Mohit-Chakraborty commented on #22236
This seems like a question for the service, and not the client SDK.
@bleroy, can you please help or loop in the right set of people.

[2021-06-28 17:17] jongio commented on #13111
@v-xuto - Can you please re-run to see if it still fails?

[2021-06-28 17:20] jongio commented on #13669
@zedy-wj - Can this be fixed if we update the test to allow different regions or is this due to the client not allowing different regions?  If we can simply update the test, then let's do that.  Thanks, Jon

[2021-06-28 17:21] jongio commented on #13775
@xyh1 - Do you have an update for us?

[2021-06-28 17:22] jongio commented on #14368
@v-xuto - Please re-run these tests.  Thanks

[2021-06-28 17:23] xyh1 commented on #13775
I don't work at Microsoft anymore but it should work as Index Tags went GA recently

[2021-06-28 17:24] jongio commented on #14809
1. Do we have tests for Public? If not, plans to?
2. Can we run those same test on sovereign clouds.

[2021-06-28 17:25] jongio commented on #13775
@xyh1 - Sorry for the ping and thanks.
@v-xuto - Please verify. thanks.

[2021-06-28 17:25] jongio commented on #17192
We are holding on fixing this until the ACR design is complete. https://github.com/azure/azure-sdk-for-net/issues/21603#issuecomment-865408535

[2021-06-28 17:26] jongio commented on #18520
We are holding on fixing this until the ACR design is complete. #21603 (comment)

[2021-06-28 17:27] jongio commented on #17830
@v-xuto - Can we please get an update here with more information/resolution?  Thanks, Jon

[2021-06-28 17:36] joshfree commented on #20364
Related PR: https://github.com/Azure/azure-sdk-for-python/pull/19403

[2021-06-28 17:36] coppercosmo opened #22248 "[QUERY] When will Azure.ResourceManager.Sql be available via NuGet?"
**Query/Question**
I see [here](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/sqlmanagement/Azure.ResourceManager.Sql) that there is a link that should send me to the NuGet package for Azure.ResourceManager.Sql, but I am not seeing that package anywhere. When will Azure.ResourceManager.Sql be available via NuGet?

**Environment:**
 - Name and version of the Library package used: [Azur

[2021-06-28 18:16] stewartadam commented on #11132
+1 to this. I can't use mitmproxy with the C# SDK (for Azure Digital Twins) to debug requests because it claims "UntrustedRoot" on MacOS, despite the mitmproxy self-signed root certificate being trusted in my keychain.

[2021-06-28 18:23] allenjzhang commented on #22099
@ThomasWeiss, thanks for the input!!

We are currently still working on track 2 (Azure.ResourceManager.xxx) SDKs. The current code base will be refreshed with a new API shape. For now, you could reference the test code to see the usage. If you have any specific scenarios, please post them here and we can provide examples.

[2021-06-28 18:23] #20027 closed

[2021-06-28 18:29] jsquire commented on #22248
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-28 19:11] SeanFeldman commented on #11590
@kasobol-msft, in my case I need to generate an account SAS token for a whole container and not specific files. This didn't work in the [past](https://github.com/Azure/azure-sdk-for-net/issues/16953) but could be resolved. I'll give it a whirl.

[2021-06-28 19:11] seanmcc-msft commented on #22217
Hi @Alanddq, I can reproduce this issue, and will have a fix out soon.

Thanks for reporting this!

-Sean

[2021-06-28 19:17] ayeltsov opened #22252 "Azure.Identity: can't get TokenCachePersistenceOptions to persist credentials between app executions"
**Describe the bug**

Trying to follow this TokenCachePersistenceOptions sample:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/samples/TokenCache.md

**Expected behavior**

First time I run the app, I get prompted for authentication.
Second and following times, I should not be prompted.

**Actual behavior (include Exception or Stack Trace)**

I'm prompted for a

[2021-06-28 19:18] snakefoot opened #22254 "[QUERY] How to specify TimeToLive for Azure.Data.Tables ?"
**Query/Question**
How to specify TimeToLive for Azure.Data.Tables ? See also: https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live

Looked at the [ReadMe.md](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/tables/Azure.Data.Tables) but failed to find anything.

[2021-06-28 19:51] allenjzhang commented on #22248
Thank you for your inquiry. We are currently working on Azure.ResourceManager.xxx SDKs and will preview a number of key RPs in the coming month. I expect SQL to follow that later this year.

[2021-06-28 19:51] #22248 closed

[2021-06-28 19:57] allenjzhang commented on #21854
@Kotasudhakarreddy, please loop in correct owner if not you and respond to this bug report. Thanks

[2021-06-28 20:17] jsquire commented on #20105
Closing; the changes associated with this work have been merged.

[2021-06-28 20:17] #20105 closed

[2021-06-28 20:24] allenjzhang commented on #21780
Thanks for your inquiry. I know the situation is a little bit confusing right now. In effect we are having three track of .NET SDKs.

- Microsoft.Azure.Management.XXX  (Track 1, API been out for many years. Autorest generated, have the most RP coverage and refresh.)
- Microsoft.Azure.Management.XXX.Fluent  (Fluent, hand-written with friendly IDE IntelliSense support, have only key RP support. **Wi

[2021-06-28 20:24] #21780 closed

[2021-06-28 20:40] kurtzeborn commented on #22179
Is this going to blow up our test costs again because of HSM?  If so, can we run this less often?  Say weekly maybe?

[2021-06-28 21:02] kurtzeborn commented on #16921
@pakrym, we're suspicious this was already done previously with your .NET 5.0 pass through the repo.

[2021-06-28 21:12] jsquire commented on #22252
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-28 21:13] jsquire commented on #22254
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-28 21:14] pakrym commented on #16921
Yep, we have .NET 5 testing

[2021-06-28 21:14] #16921 closed

[2021-06-28 21:23] kasobol-msft commented on #22022
@tafs7 The `DownloadStreamingAsync` is replacement for `DownloadAsync`. Except slightly different return type please think about this as a rename or new alias for the same functionality. We've introduced `DownloadContentAsync` for scenarios where small sized blobs are used for formats supported by `BinaryData` type (e.g. json files) thus we wanted to rename existing API to make the download family

[2021-06-28 21:30] snakefoot opened #22258 "[QUERY] ToOdataAnnotatedDictionary not recognizing Odata.EdmInt32 or Odata.EdmBoolean"
**Query/Question**
Curious why these two methods does not have a case for `int` / `Int32`:

https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/tables/Azure.Data.Tables/src/Extensions/TableEntityExtensions.cs#L17

https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTa

[2021-06-28 21:33] heaths commented on #22179
To be clear, these were disabled because of service performance issues. If cost is a concern, we should probably open a new issue to conditionalize our test matrixes. Hypothetically, with the changes @benbp made for matrix generation we probably could run them on weeklies.

On a related note, .NET's "weeklies" are still running both Saturday and Sunday. Shouldn't that just run once? /cc @weshaggar

[2021-06-28 22:22] snakefoot commented on #22258
Also curious why having code like this in `TableEntityExtensions.cs`:

[code]

Would this not be more optimal:

[code]

[2021-06-28 22:24] snakefoot commented on #22258
Also curious why  `TableEntityExtensions.cs` doesn't use this (Like `DictionaryTableExtensions.cs`):

[code]

Instead of calling:

[code]

[2021-06-28 22:33] snakefoot commented on #22258
Think the comment should updated here to state that one is allowed to override `ETag`, but not `EtagOdata`:

https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/tables/Azure.Data.Tables/src/Extensions/DictionaryTableExtensions.cs#L32-L33

But funny one is not allowed to override `ETag` when inheriting from `ITableEntity`:

https://github.com/Azure/azure-sdk

[2021-06-28 22:57] christothes commented on #22254
Hi @snakefoot - This property is not exposed in the Cosmos Tables API, I believe it only applies to Cosmos DB proper.

[2021-06-28 23:01] snakefoot commented on #22254
Have the method `CreateIfNotExistsAsync` that takes `defaultTimeToLive` as input:
[code]

See also: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table.cloudtable.createifnotexistsasync?view=azure-dotnet#Microsoft_Azure_Cosmos_Table_CloudTable_CreateIfNotExistsAsync_Microsoft_Azure_Cosmos_IndexingMode_System_Nullable_System_Int32__System_Nullable_System_Int32__System_Threading

[2021-06-28 23:18] christothes commented on #22254
The older client does some magic behinds the scenes to bypass the Table REST API endpoint and talks directly to the Cosmos direct mode endpoint. The newer client strictly interacts with the REST API, which does support this Cosmos specific feature.

[2021-06-28 23:20] snakefoot commented on #22254
Guess I will read about all this when you have writen the migration guide:  #16771

[2021-06-28 23:25] #22254 closed

[2021-06-29 01:37] yungezz commented on #21691
hi @weidongxu-microsoft could you help on this? thanks

[2021-06-29 01:55] weidongxu-microsoft commented on #21691
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk/october-2020-management

[2021-06-29 03:01] shawnxzq commented on #22025
@stevendarby Thanks for your feedback.
Currently our API model is focus on the primitive (CRUD) APIs. These are the building blocks that we can use to build whatever desired model. In this case, we can – and should – invoke the get API multiple times. This is a much more scalable model, with retry logic and request time per API. An API like this would have to be async and paged to scale. We would

[2021-06-29 03:09] shawnxzq commented on #20521
@jsquire We already suggest customer use the right channel to solve the issue and didn't get more response from customer, could you please help close this for now as I don't have the permission? Thanks!

[2021-06-29 03:11] shawnxzq commented on #20137
@allenjzhang We already suggest customer the right channel to solve this issue and didn't get more response, could you please help close this as I don't have the permission? Thanks!

[2021-06-29 03:14] shawnxzq commented on #17655
@tangdi This is still being worked on, thanks for your patience on this.

[2021-06-29 05:20] stevendarby commented on #22025
@shawnxzq the problem as mentioned is we are hitting 429s frequently.

We work with Microsoft for solutions and have been led into a solution that Microsoft can’t support.

[2021-06-29 06:09] SeanFeldman commented on #11590
I've taken a look at the original code and think I have sorted it out.
The original code used `AccountSasBuilder` configured for `AccountSasServices.Blobs` with `AccountSasPermissions`. I had to switch to `BlobSasBuilder` and `BlobContainerSasPermissions` that would be passed into `BlobContainerClient`.

@kasobol-msft, I've also looked again at the [migration guide](https://github.com/Azure/azure-

[2021-06-29 06:50] snakefoot commented on #22254
Funny that  AdminAzure Cosmos DB Team says Collection Default TTL is supported by the REST API:

https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/19309504-allow-ttl-to-be-set-by-the-azure-cosmos-db-rest-ap

[2021-06-29 08:01] #21472 closed

[2021-06-29 09:02] zedy-wj commented on #13669
@jongio - The PR #22267 can fix this issue.

[2021-06-29 09:34] v-yilinhu opened #22269 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build?definitionId=2327

[2021-06-29 10:07] zedy-wj commented on #13111
@jongio - It still fails when running in Azure China Cloud.

[2021-06-29 12:31] MarienMonnier commented on #20485
Hello, any news about this issue? This is a blocker for us to use User Managed Identity instead of access keys.

[2021-06-29 12:54] kzu opened #22270 "[BUG] EventGridPublisherClient.SendEventsAsync fails if event handler function receives single EventGridEvent"
Given the following Azure Functions v3 precompiled function:

[code]

And an Event Grid Domain (with no custom topic) with a Domain-Scoped Event Subscription (that basically handles *every* event with no filters whatesoever):

![image](https://user-images.githubusercontent.com/169707/123800143-5cab1080-d8bf-11eb-83ac-1478022f560a.png)
![image](https://user-images.githubusercontent.com/169707/12380

[2021-06-29 13:11] jsquire commented on #20521
@shawnxzq:  will do.

[2021-06-29 13:11] #20521 closed

[2021-06-29 13:17] christothes commented on #22258
@snakefoot Thanks for the feedback.

[2021-06-29 13:20] benCoomes opened #22271 "Incorrect Min Value for ResourceTokenExpirySeconds"
This documentation page states that the minimum value for the ResourceTokenExpirySeconds is 10 seconds. However, when attempting to use a value of 10 seconds to create a token with the Cosmos Emulator, a 400 response is returned. I've found that using a value of 600 seconds is the minimum required to get a valid token.

Emulator version: 2.11.13
Microsoft.Azure.Cosmos version: 3.18.0

Exception de

[2021-06-29 13:34] jsquire commented on #22270
@JoshLove-msft:  This seems like it may be a service behavior.  Would you mind offering your thoughts and routing to the Event Grid team if that is the case?

[2021-06-29 13:34] jsquire commented on #22270
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-29 13:36] jsquire commented on #22271
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-29 13:48] JohnGalt1717 opened #22272 "Please Make AzureKeyVaultConfigurationSource public OR (Better) add an Insert Extension Method that takes an index"
**Library or service name.**
Azure.Extensions.AspNetCore.Configuration.Secrets

**Is your feature request related to a problem? Please describe.**
The problem right now is that the AddAzureKeyVault method appends the keyvault configuration to the list of configuration sources which by default already has command line, environment variables and config files (to name a few) automatically added by As

[2021-06-29 14:02] kinelski commented on #22269
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/22116.

[2021-06-29 15:20] kasobol-msft opened #22274 "[Storage] Sas section in blobs migration guide needs refresh."
Follow up on https://github.com/Azure/azure-sdk-for-net/issues/11590#issuecomment-870266446 .
It appears that SAS section in our migration guide uses older api surface, we should update it to use client.GenerateSas() apis.

https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/AzureStorageNetMigrationV12.md#generate-a-sas

[2021-06-29 15:21] kasobol-msft commented on #11590
Thanks @SeanFeldman for pointing out the migration guide gap, we'll take care of that.

[2021-06-29 15:47] kasobol-msft commented on #21511
This is most likely coming from https://github.com/Azure/azure-sdk-for-net/blob/0e7a91c5c18f4b5d1a41f4660d007dd5874b60ba/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Blobs/src/Listeners/BlobReceiptManager.cs#L125-L144 . We'll look for ways to not report that warning.

[2021-06-29 16:09] jaschrep-msft opened #22275 "[FEATURE REQ] Analyzer fail docstrings linking deprecated methods."
**Library or service name.**
Analyzer for the libraries.

**The Problem**

- Azure Docs generator does not generate pages for deprecated (`[EditorBrowsable(EditorBrowsableState.Never)]`) methods/properties.
- There are plenty of links between docs.
- When a method becomes marked as deprecated, there are links to that method's docs which no longer work.

The above does not result in a broken link.

[2021-06-29 16:50] #20433 closed

[2021-06-29 16:50] jsquire commented on #22272
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-29 17:02] kasobol-msft commented on #22022
@tafs7 I went through samples in this repo and couldn't find any usage of hidden API. Could you please share where did you see it?

[2021-06-29 17:10] amishra-dev commented on #22206
URLs are supposed to be case-insensitive, can I safely assume that you are not hindered by it but just wanted to let us know?

[2021-06-29 17:24] #22143 closed

[2021-06-29 17:25] Identifier opened #22278 "TableClient needs to clean SAS URL before passing to TableRestClient"
https://github.com/Azure/azure-sdk-for-net/blob/15259c676941f6700e9295e4f25a5703adc10f79/sdk/tables/Azure.Data.Tables/src/TableClient.cs#L253

In the `TableClient` constructor that takes a `Uri endpoint`, it creates a new `TableRestClient(..., endpoint.AbsoluteUri, ...)`.  But unfortunately that will cause the table name to be duplicated in eventual REST queries to Azure.  This is because `TableRe

[2021-06-29 17:38] JoshLove-msft commented on #22270
Hi @kzu,
Can you let us know the version of the Event Grid trigger that you are using?

Can you also include the code you are using to collect and send the event list?

[2021-06-29 18:02] AlexGhiondea opened #22285 "User-assigned MI"
Add support for User Assigned MI

[2021-06-29 18:02] AlexGhiondea opened #22286 "Swagger update (August)"
Swagger update
 - Semantic search
 - Indexer annotation cache

[2021-06-29 18:06] AlexGhiondea opened #22287 "Pick up .NET 6"

[2021-06-29 18:07] #22287 closed

[2021-06-29 18:16] #18764 closed

[2021-06-29 18:17] #18766 closed

[2021-06-29 18:22] #18771 closed

[2021-06-29 18:25] #18767 closed

[2021-06-29 18:27] #22174 closed

[2021-06-29 18:29] #18763 closed

[2021-06-29 18:54] #18004 closed

[2021-06-29 19:04] JoshLove-msft commented on #21639
@jstensved out of curiosity have you run into the same issue when using CloudEvent schema?

[2021-06-29 19:08] JoshLove-msft commented on #20100
Performance tests were added for T2. Still need to add perf tests for T1.

[2021-06-29 19:38] #18755 closed

[2021-06-29 19:40] #18760 closed

[2021-06-29 20:44] #18770 closed

[2021-06-29 21:00] shlomiassaf commented on #22083
Well, we've implemented a small library on top of `Azure.Messaging.ServiceBus`.

Basically we've added plugins and pipelines, wrapped with container support for DI.
We've made each bus message closer to an incoming HTTP request in a server.

We have a backoff retry mechanism which, based on certain exceptions, emits the message back to service bus with a schedule time and a label to follow on the

[2021-06-29 21:29] jsquire commented on #22278
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-29 21:49] JoshLove-msft commented on #20177
Based on my investigation, we would need support added into WebJobs SDK to allow retries to be skipped based on an exception. I've proposed a couple ideas, but I suppose this should probably be further explored by WebJobs folks.

[2021-06-29 21:55] #21639 closed

[2021-06-29 22:30] maririos commented on #21782
Fixed with https://github.com/Azure/azure-sdk-for-net/pull/22294

[2021-06-29 22:30] #21782 closed

[2021-06-29 23:03] maorleger opened #22307 "Add support for GetRandomBytes in Key Client"

[2021-06-29 23:08] maorleger opened #22308 "Add support for GetRandomBytes in Key Client"

[2021-06-29 23:12] heaths commented on #22308
For .NET we'll be slipping this to August. I will try to get it in sooner, though.

[2021-06-29 23:37] maorleger opened #22312 "[Key Vault] Add support for Secure Key Release"
To support Secure Key Release, implement the following changes:

## CreateKeyOptions & ImportKeyOptions:
- Add `exportable` - an optional boolean value
- Add `releasePolicy` an optional `KeyReleasePolicy` value (see below)

### KeyReleasePolicy
an object / interface containing the following attributes:
- `contentType` - an optional string. When omitted, defaults to `application/json; charset=utf-8

[2021-06-29 23:45] #22307 closed

[2021-06-29 23:59] schaabs opened #22314 "[BUG] Deadlock in AzureCliCredential when executed concurrently."
This issue and the following repro was reported by @NeilMacMullen, and appears to be a different deadlock than that described in #14691, as it only reproduces when multiple requests are made in parallels.

Repro:

[code]

The code is called from a .net5 console app running on my dev PC in the UK.  The key vault itself is in the West US2 region (so network latency may be relevant).  It reliably thr

[2021-06-30 00:22] JoshLove-msft commented on #21907
Ah ok, the REST API that is used for administration operations uses that in the request URI for subscription operations, but this isn't a generally supported format for connection strings.

[2021-06-30 01:04] #22144 closed

[2021-06-30 01:04] #22217 closed

[2021-06-30 02:22] maririos commented on #22170
Closing in favor or https://github.com/azure/azure-sdk-for-net/issues/18180

[2021-06-30 02:22] #22170 closed

[2021-06-30 02:51] yufeih commented on #18938
We are in the same situation here due to the push from ADAL to MSAL. We used to use `AppAuthentication` to access azure services that are not supported by azure SDK. Including SQL server and some of our own services we build using RBAC. `AppAuthentication` caches and refreshes the token internally for us but it is using ADAL.

To be compliant we want to move to `DefaultAzureCredential` but it lack

[2021-06-30 07:09] egraff commented on #22206
@amishra-dev excuse my straightforwardness, but I believe you are mistaken. This is not true in the general case, and I just confirmed that for Azure Storage, at least blob names are case _sensitive_. I cannot comment on whether the query parameter values are supposed to be case-sensitive or case-insensitive though, as I cannot find this documented anywhere for Azure Blob Storage.

@amishra-dev to

[2021-06-30 07:21] dheerajawale-svg opened #22320 "Do we need to specify '@' before parameter name if it is specified in the sql stored procedure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afe8e943-3db2-f498-11ba-c19a3649697e
* Version Independent ID: ded9de8a-c881-fbc8-6717-d1f6fbab8438
* Content: [SqlDWSource.StoredProcedureParameters Property (Azure.Analytics.Synapse.Artifacts.Models) - Azure for .NET Developers](https://docs.microso

[2021-06-30 08:09] karataliu opened #22322 "[QUERY] Azure.Security.KeyVault.Secrets accepts ServiceClientCredentials"
**Query/Question**
How can we help?

Is it possible to let Azure.Security.KeyVault.Secrets accept `ServiceClientCredentials` besides `TokenCredential` as auth method?

We get blocked in upgrading from `Microsoft.Azure.KeyVault` to `Azure.Security.KeyVault.Secrets`.

`Azure.Security.KeyVault.Secrets` uses `TokenCredential` which doesn't support use MSI resource ID.

see related: https://github.com/

[2021-06-30 09:30] Tianyun-G opened #22323 "Azure AI Translation Document Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/translation/Azure.AI.Translation.Document#create-documenttranslationclient-with-azure-active-directory-credential):
![image](https://user-images.githubusercontent.com/65581162/123936266-98c99880-d9c7-11eb-81fd-25b328f12b63.png)

Suggestion:
1.Add link for `[azure_identity]`: https://github.com/Azure/azure-sdk-for-net/blob/m

[2021-06-30 09:30] Tianyun-G opened #22324 "Azure Monitor Query Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/monitor/Azure.Monitor.Query#setting-up-console-logging):
![image](https://user-images.githubusercontent.com/65581162/123937333-a2073500-d9c8-11eb-9c2f-4883369bc1ed.png)
Suggestion:
Add link for [logging]:  https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Diagnostics.md

@jongio for notificati

[2021-06-30 11:10] YairoR opened #22325 "[QUERY] why it takes minutes for TokenService.exe to generate a token?"
**Query/Question**
How can we help?
I'm trying to use the VisualStudioCredential to generate a token against KV scope and having issues.
Running it from VS, I'm getting the following exception:
`Message=Process "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\Extensions\obnve1ye.btq\TokenService\Microsoft.Asal.TokenService.exe" has failed to get access token in 30 second

[2021-06-30 13:19] jsquire commented on #22320
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-30 13:20] jsquire commented on #22322
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-30 13:25] jsquire commented on #22325
@schaabs, @christothes: I'm not sure if this is related to how Identity is using the token service or a result of the token service itself.   Would you folks be so kind as to offer your thoughts and reroute if needed?

[2021-06-30 13:25] jsquire commented on #22325
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-30 13:34] christothes commented on #22325
@crmann1 - Could you take a look, please?

[2021-06-30 13:51] christothes commented on #18938
@yufeih The cache implemented in `BearerTokenAuthenticationPolicy` is not ideal for use in a `TokenCredential` because it could be used across multiple service clients. MSAL's cache implements some fairly complex logic that we do not ever intend to duplicate in Azure.Identity.

[2021-06-30 13:56] RoncoCo opened #22327 "[FEATURE REQ] Azure.Management.EventHub allow MaximumThroughputUnits of 40"
Azure.Management.EventHub

We are using the .Net SDK for the creation of EHs and we have notices that the allowed maximumThroughputUnits is validated between 0 and 20 even though in the Azure portal EHs can have maximumThroughputUnits of 40.

I can see that there is a validation [here](https://github.com/Azure/azure-sdk-for-net/blob/2a535113da4f71b2d454dbb8e69b4aae60883440/sdk/eventhub/Microsoft.A

[2021-06-30 14:19] maririos commented on #22323
ohhh this is awesome! thanks @Tianyun-G for finding this!

[2021-06-30 14:34] Mohit-Chakraborty commented on #22016
@andemt, glad you found a solution. Is there another issue we can look into that is blocking your scenarios?

[2021-06-30 14:37] Mohit-Chakraborty commented on #21090
@njourdain, did you get a chance to look into `SearchDocuments` for your scenario?
I am wondering how that's working out.

[2021-06-30 14:54] BrianVallelunga opened #22328 "[FEATURE REQ] DefaultAzureCredential should use user-assigned managed identity if available"
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
In Azure, we use a user-managed identity for many of our services instead of the default system-assigned identity so that many services can share the permissions of the user-managed identity that are set on several resources. Otherwise we'd have to set up a cross-product of permissions f

[2021-06-30 15:00] markmcgookin commented on #21776
I think I was being an idiot. I'll close this.

[2021-06-30 15:00] #21776 closed

[2021-06-30 16:19] poddubitskya opened #22329 "[BUG] Can't bulk delete a blob with space in it's name using BlobItem.Name"
**Describe the bug**
When bulk deleting blobs operation using BlobItem.Name fails with an error if one of the blobs has space in it's name

A workaround is wrapping BlobItem.Name with WebUtility.UrlEncode

***Same code worked before with these NuGet packages used:***
Azure.Storage.Blobs.Batch 12.5.1
Microsoft.Azure.Storage.Blob 11.2.2

**Expected behavior**
Should be able to delete any blob existi

[2021-06-30 16:35] maririos commented on #21802
This is still an issue. For now we are making TaskName not required so our SDK doesn't fail. Will move to backlog until service fixes it

[2021-06-30 16:37] heaths opened #22330 "Fix placeholder links for Question Answering README"
After #21810 is merged and preview packages published, fix the links that are currently 404'ing seen below:

[code]

[2021-06-30 16:55] heaths opened #22331 "Question Answering for .NET (August 2021)"

[2021-06-30 17:12] heaths commented on #22322
`TokenCredential` is the base for all authentication in the Azure SDKs. @schaabs, @christothes are there definitely plans to allow for user managed identities, or at least add a `TokenCredential` to Azure.Identity to support it outside of `DefaultAzureCredential`?

[2021-06-30 17:39] christothes commented on #22322
I believe what @karataliu is referring to is the ability for Azure.Identity to support specifying user specified Managed Identities by Resource Id rather than Client Id. This is planned for a future version of Azure.Identity, but we don't yet have a specific release targeted.

[2021-06-30 18:03] JohnGalt1717 opened #22334 "[BUG] Azure Media Services .NET Assets.DeleteAsync throws Object Reference not set to an instance of an Object"
**Describe the bug**
Using a known good client that connects and can do other operations the following fails:

client.Assets.DeleteAsync(resourceName, accountName, assetName, cancellationToken);

**Expected behavior**
Should succeed and delete the asset and all files with it.

**Actual behavior (include Exception or Stack Trace)**
Object Reference Not Set To An Instance of an Object

**To Reproduc

[2021-06-30 18:08] maririos commented on #14833
It looks like we are all good so we can close this issue

[2021-06-30 18:08] #14833 closed

[2021-06-30 18:30] #22323 closed

[2021-06-30 18:45] heaths commented on #22322
Given this is an auth issue I'm transferring it as a feature request for Azure.Identity.

[2021-06-30 19:14] kwill-MSFT commented on #17653
@christothes, @amishra-dev, any update on this?  I am hitting the same issue.

[2021-06-30 19:46] pakrym opened #22337 "Code snippets look bad in VS summaries"

[2021-06-30 19:47] tafs7 commented on #22022
@kasobol-msft  Thanks for the info. So to clarify, for net new code, we should look to use:

* `DownloadStreamingAsync` instead of `DownloadAsync`, when you have a decent/fast connection
* `DownloadContentAsync` instead of `DownloadToAsync` when you are dealing with small binary downloads (not sure how json applies to this)

Did I get that right?  If so, it might be worth updating the XML docs on

[2021-06-30 20:49] #22278 closed

[2021-06-30 20:53] christothes commented on #17653
@kwill-MSFT Would Azurite work for you instead? https://github.com/Azure/Azurite

[2021-06-30 21:05] kasobol-msft commented on #21584
Looks like functions runtime is loading some modules twice which leads to https://github.com/Azure/azure-functions-host/issues/7393

![image](https://user-images.githubusercontent.com/61715331/124031440-29927b00-d9ac-11eb-9db8-f7129a8d5795.png)

[2021-06-30 21:10] heaths opened #22341 "Update getcert sample to recommend using `CertificateClient.DownloadCertificate`"
Now that Azure.Security.KeyVault.Certificates 4.2.0 has been released, update https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/keyvault/samples/getcert to recommend using `CertificateClient.DownloadCertificate(Async)` instead. Leave the sample up because some users may still want to just get the PEM, though they could do that from the returned `X509Certificate2` in .NET 5.0 and newer, but

[2021-06-30 21:15] jsquire commented on #22327
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-30 21:17] jsquire commented on #22327
For additional context,  40 is the documented limit as well:

![image](https://user-images.githubusercontent.com/913445/124032822-13de7f00-d9c7-11eb-9c35-c76c9f00d90b.png)

_([source](https://docs.microsoft.com/azure/event-hubs/event-hubs-scalability))_

[2021-06-30 21:19] jsquire commented on #22328
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-30 21:21] jsquire commented on #22334
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-30 21:39] maririos opened #22342 "Design new swagger capabilities like filtering"

[2021-06-30 22:23] kinelski commented on #21625
Not keeping it for cross-language consistency. Not worth renaming it at this point.

[2021-06-30 22:23] #21625 closed

[2021-06-30 23:37] heaths opened #22347 "SnippetGenerator showing a red completion message is very misleading"
Recently, SnippetGenerator emits the following at the end:

![image](https://user-images.githubusercontent.com/1532486/124044014-3cfc1100-d9c1-11eb-877c-74c861ab708c.png)

This was a bit of a shock at first since red == error, but there were none. I had to verify it, which took a little extra time.

If the idea is to highlight that it's finished (not sure how that helps interactively), yellow migh

[2021-07-01 02:12] kasobol-msft commented on #21584
@mauve Did dependency metrics for blobs ever worked for you with V12 SDK in functions? If so then do you recall when was the last time it worked? Also, a list of last known good package versions could speed up the triage process.

[2021-07-01 02:23] kasobol-msft opened #22353 "[Storage] Improve Download docs"
Follow up from https://github.com/Azure/azure-sdk-for-net/issues/22022 .

Enrich docstrings of Download family so that it describes which kind is best for what use case.

[2021-07-01 02:30] kasobol-msft commented on #22022
That sounds right. The `DownloadContentAsync` returns wrapped `BinaryData` instead of `Stream`. `BinaryData` is a lightweight abstraction for payloads that can fit into memory and provides some utilities to deserialize it - see [here](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/core/System.Memory.Data). That's why I mentioned json - but it can be anything.

The hidden API is a part of

[2021-07-01 03:33] JoshLove-msft opened #22356 "Create solution for Storage WebJobs projects"
There are several storage webjobs projects - it would be helpful to have a solution that includes all of them for dev purposes.

[2021-07-01 03:37] JoshLove-msft opened #22357 "Queue webjobs extension has project reference on Queues SDK"
This should be updated to be a package reference before GA.

[2021-07-01 03:37] JoshLove-msft commented on #22357
/cc @kasobol-msft

[2021-07-01 03:39] JoshLove-msft commented on #22356
/cc @kasobol-msft

[2021-07-01 03:44] kasobol-msft commented on #22356
You mean this https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.sln ?

[2021-07-01 03:45] kasobol-msft commented on #22357
Same goes for blobs but we're not 100% decided yet since both SDK and extension ship using same pipeline.
We're yet to observe how frequently extension ships alone without SDK upgrade to make that call.

[2021-07-01 03:53] JoshLove-msft commented on #22356
Yeah that'll work.

[2021-07-01 03:53] #22356 closed

[2021-07-01 04:44] JamieMagee opened #22361 "[QUERY] Microsoft.Azure.ContainerRegistry supports TokenCredential?"
**Query/Question**
How can we help?

Is it possible to update Microsoft.Azure.ContainerRegistry, specifically `AzureContainerRegistryClient`, to accept `TokenCredential`? Currently it only accepts `TokenCredentials` (or rather `ServiceClientCredentials`).

**Environment:**
 - Name and version of the Library package used: Microsoft.Azure.ContainerRegistry 1.0.0-preview2
 - Hosting platform or OS an

[2021-07-01 07:46] RoncoCo commented on #22327
@jsquire thank you, I am willing to contribute if it is needed. (assuming it is more than just changing the validation 😁 )

[2021-07-01 08:05] lakshmanraog opened #22366 "Microsoft.WindowsAzure.Storage.StorageException: 'Requested value 'DELETE,GET,HEAD,MERGE,POST,OPTIONS,PUT,PATCH' was not found.'[BUG]"
Exceptions:
1.Microsoft.WindowsAzure.Storage.StorageException: 'Requested value 'DELETE,GET,HEAD,MERGE,POST,OPTIONS,PUT,PATCH' was not found.'[BUG]
2. System.InvalidOperationException: 'Invalid storage account '**accountname**'. Please make sure your credentials are correct.'

Reproduce Steps
-----------------------------
Select the Azure Storage Account =>
Resource Sharing(CORS) =>
![image](https

[2021-07-01 09:57] zedy-wj commented on #14368
@jongio - Query Blob Tests was set skipped now in all clouds,  this error could not be reproduced, I think we can close this issue.

[2021-07-01 09:58] zedy-wj commented on #13775
@jongio - About Blob Index Tag Tests was set skipped now in all clouds, this error could not be reproduced, I think we can close this issue.

[2021-07-01 10:06] zedy-wj commented on #17830
@jongio - In test-resource.json file, when deploying storage, the properties [containerDeleteRetentionPolicy ](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/test-resources.json#L194-L196)and [lastAccessTimeTrackingPolicy ](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/test-resources.json#L111-L117)are not allowed on account kind storageV2.

[2021-07-01 10:59] worldspawn commented on #20569
Is there any issue open publicly with the service bus team for this?

[2021-07-01 12:03] ryanaitken commented on #20617
can i help with this at all? i can submit a PR if that would be useful. if not, is there a rough timeline for when this might be available?

my work laptop is administered remotely, with loads of background services running, so the initial TCP connection to 169.254.169.254 succeeds but the token request fails and throws `AuthenticationFailedException`. im hoping with this change, the   token reque

[2021-07-01 14:17] jsquire commented on #22361
//cc: @annelo-msft

[2021-07-01 14:17] jsquire commented on #22361
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-01 15:02] christothes commented on #20617
Hi @ryanaitken - We'll probably get to this in the next couple months. Unfortunately, if you are using SQL to get DefaultAzureCredential functionality, any fix we add here won't affect your scenario until the version of Azure.Identity is updated in the SQL client package.

[2021-07-01 15:28] tafs7 commented on #22022
that makes sense.  it just seemed confusing to see that the build worked for existing code using `DownloadAsync`, but when I wrote new code and "dotted" into the blob client object, I no longer saw that method available to me - which is why I suggested perhaps updating the XML docs on that method to point people to use the new `DownloadStreamingAsync` equivalent, and to hopefully update MS Docs th

[2021-07-01 16:24] pakrym commented on #22272
Good suggestion.

There are a few workarounds before we implement the change:

1. Copy the AzureKeyVaultConfigurationSource into you project (https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/AzureKeyVaultConfigurationSource.cs). It's pretty simple and AzureKeyVaultConfigurationProvider is public.
2. Use the extension method b

[2021-07-01 17:00] JohnGalt1717 commented on #22272
Thanks!

[2021-07-01 17:11] #22208 closed

[2021-07-01 17:19] kasobol-msft commented on #21584
Looks like double loading affects appinsights as well.

Repro code:
[code]

host.json:

[code]

local.settings.json:

[code]

Call stack originating from host:
![image](https://user-images.githubusercontent.com/61715331/124164640-bc3b2480-da55-11eb-858a-7224db55c712.png)

Call stack originating from function code:
![image](https://user-images.githubusercontent.com/61715331/124164600-b2192600-da55-

[2021-07-01 18:17] pakrym opened #22372 ".NET 2.1 End-Of-Life"
.NET Core 2.1 will reach End of Support on August 21, 2021

https://devblogs.microsoft.com/dotnet/net-core-2-1-will-reach-end-of-support-on-august-21-2021/

We use 2.1 in the following areas:
1. Running tests unit/live/perf/stress.
2. Cross-compiling packges to target 2.1.
3. Referencing BCL packages that might be part of 2.1 release https://github.com/Azure/azure-sdk-for-net/blob/main/eng/Package

[2021-07-01 18:18] pakrym commented on #22372
cc @weshaggard

[2021-07-01 19:41] JoshLove-msft commented on #20569
It does look like there is service support, but my understanding is that there were reliability concerns when we attempted to implement this in the JS SDK.
/cc @ramya-rao-a

[2021-07-01 19:42] JoshLove-msft commented on #21869
This issue has been raised to the service team for future investigation.

[2021-07-01 21:48] amnguye opened #22379 "[FEATURE REQ] Add Identifier for GenerateSas and SasBuilder"
Sync with Java for `GenerateSas` and `*SasBuilder` where

- Add constructor for `*SasBuilder` to take in Signed Identifier
- Add overload to `Uri GenerateSas(string identifier)` to clients.

[2021-07-01 23:14] pakrym commented on #7713
I think we've implemented the encrypted storage client without this feature. Please reopen if still needed.

[2021-07-01 23:14] #7713 closed

[2021-07-01 23:15] pakrym commented on #7749
cc @JoshLove-msft @jsquire any customers asking for this?

[2021-07-01 23:18] JoshLove-msft commented on #7749
I haven't heard anything about this for the Service Bus equivalent.

[2021-07-01 23:19] pakrym commented on #8226
cc @kinelski

[2021-07-01 23:25] pakrym commented on #8961
We decided against it for now. Proxy options need to go on the transport and it creates a circular dependency between transport and options.

[2021-07-01 23:25] #8961 closed

[2021-07-01 23:26] pakrym commented on #9857
Please reopen if there is still a need.

[2021-07-01 23:26] #9857 closed

[2021-07-01 23:27] pakrym commented on #8297
Looked at the source again. I think ToString is good enough for a general case.

[2021-07-01 23:27] #8297 closed

[2021-07-01 23:27] pakrym commented on #8830
No customer has ever asked us for it.

[2021-07-01 23:27] #8830 closed

[2021-07-01 23:29] pakrym commented on #9775
We should instead move more features into Azure.Core.

[2021-07-01 23:29] #9775 closed

[2021-07-01 23:30] pakrym commented on #6680
We ended up having our own implementations for special content types.

[2021-07-01 23:30] #6680 closed

[2021-07-01 23:32] pakrym commented on #9519
We didn't have many customer asks for this and distributed tracing provides similar functionality.

[2021-07-01 23:32] #9519 closed

[2021-07-01 23:32] #10923 closed

[2021-07-01 23:33] #11038 closed

[2021-07-01 23:34] pakrym commented on #11981
What we have (nunit logging) seems to be enough to diagnose failures.

[2021-07-01 23:34] #11981 closed

[2021-07-01 23:35] pakrym commented on #11775
Ended up not doing this.

[2021-07-01 23:35] #11775 closed

[2021-07-01 23:44] pakrym commented on #13440
.NET 6 WriteRawValue would help here.

[2021-07-01 23:44] #13440 closed

[2021-07-01 23:46] pakrym commented on #13698
I don't think we ever expect service responses to start with BOM. Closing until proven wrong.

[2021-07-01 23:46] #13698 closed

[2021-07-01 23:52] pakrym commented on #14615
We ended up mostly testing extensions live.

[2021-07-01 23:52] #14615 closed

[2021-07-01 23:55] pakrym commented on #14155
Considering it's not a customer-facing API we can handle a bit of complexity in client implementations.

[2021-07-01 23:55] #14155 closed

[2021-07-01 23:55] #14175 closed

[2021-07-01 23:56] pakrym commented on #10216
Done

[2021-07-01 23:56] #10216 closed

[2021-07-01 23:57] pakrym commented on #13753
I think this is correct. We want a link pointing to a specific version of the file even if it's part of the RP.

[2021-07-01 23:57] #13753 closed

[2021-07-01 23:58] pakrym commented on #14176
We've added the switch to https://github.com/Azure/azure-sdk-for-net/blob/main/eng/nunit.runsettings#L18 and another test to disable auto-rerecording. Please reopen if you have more improvement ideas.

[2021-07-01 23:58] #14176 closed

[2021-07-01 23:59] #17239 closed

[2021-07-02 00:00] #15458 closed

[2021-07-02 00:01] pakrym commented on #16643
Core now supports NetworkTimeout on HttpMessage

[2021-07-02 00:01] #16643 closed

[2021-07-02 00:01] pakrym commented on #16513
We would do it as part of organized package version alignment of

[2021-07-02 00:01] #16513 closed

[2021-07-02 00:02] pakrym commented on #14487
Closing, please reopen if still an issue.

[2021-07-02 00:02] #14487 closed

[2021-07-02 00:02] pakrym commented on #14487
Closing, please reopen if still an issue.

[2021-07-02 00:03] #15663 closed

[2021-07-02 00:04] pakrym commented on #15663
Closing the thread as inactive.

[2021-07-02 00:04] kinelski opened #22384 "[MetricsAdvisor] Bug: can't update hook admins"
Seems to be a service bug. When fixed, add tests for the `NotificationHook.Administrators` property.

[2021-07-02 00:07] pakrym commented on #4538
We've recently improved the timeout exception message.

[2021-07-02 00:07] #4538 closed

[2021-07-02 06:04] Adityagrao opened #22401 "Azure Service Bus Management - Not able to add Custom Properties via Code"
**Query/Question**

I am trying to create topics and subscriptions via code for our pipeline
[code]
While all of this works, I am not able to add Custom Properties

![image](https://user-images.githubusercontent.com/11465032/124228133-5a4bef00-db29-11eb-9ae8-c8c626cd45fc.png)

I am trying to add Custom Property "messageType" and "Class Name" as values, so that while sending the message I can use s

[2021-07-02 06:13] Adityagrao commented on #22401
This Fixed the issue

[code]

[2021-07-02 06:13] #22401 closed

[2021-07-02 08:02] #17674 closed

[2021-07-02 08:23] v-yilinhu opened #22402 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=974327&view=results

[2021-07-02 08:38] jiacheng-L opened #22403 "[BUG] SDK may generate null or empty permission for KeyVault Access Policies"
**Describe the bug**
Please provide the description of issue you're seeing.
Key Vault RP is not allowed null Permissions for access policies. However, we found the Workspace team who use SDK and generate access policies with Null Permissions. We are looking for help from SDK team to confirm if there is any logic to generate this Null permissions.

**Expected behavior**
What is the expected behavio

[2021-07-02 08:42] #21723 closed

[2021-07-02 08:42] yunair commented on #21723
I can't repro this in demo, so close this.

[2021-07-02 10:01] #21838 closed

[2021-07-02 10:10] sathaker opened #22405 "Issue with the documentation"
[Enter feedback here]

It mentions in the Remarks as
`Only valid when used with Create, Replace and Delete methods for documents. `
But its valid for **_items_** as well and not only documents. Also it says
`Currently only one PreTrigger is permitted per operation.`
while the page is for **_PostTrigger_**.

Feel free to correct if my understanding is wrong.
---
#### Document Details

⚠ *Do not edi

[2021-07-02 12:26] jsquire commented on #7749
The only one that I know of was from a conversation on #14201; I think that may have been the genesis for you creating this.

[2021-07-02 12:54] jsquire commented on #22403
Hi @jiacheng-L.  Thank you for your feedback and we regret that you're experiencing difficulties.   I'll need to ask for some additional information before I'm able to route this over to the team that would be best able to assist.

Can you help me understand which Azure package you're working with and what steps would be needed to repro the output that you're showing?

[2021-07-02 12:55] jsquire commented on #22405
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-02 14:45] shannonlowder opened #22408 "Can Microsoft.Azure.Management.DataFactory work with a git config"
**Query/Question**
I'm able to use the DataFactory library to create linked services, data sets, and pipelines when the DataFactory does not use a git configuration. I'm unable to find any code to show how to do the same thing and target a given git branch.  Is it possible to use the library when your DataFactory is configured to use git?

**Environment:**
 - Microsoft.Azure.Management.DataFactory

[2021-07-02 15:31] pakrym commented on #21005
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=981633&view=logs&j=6e2e8c59-a131-5a64-1743-fd2912068bf6

[code]

[2021-07-02 15:33] nfoscolos opened #22411 "timeout argument ignored"
https://github.com/Azure/azure-sdk-for-net/blob/63e9552523a06ca62d7c39e61a7fe5e5123f8e1b/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/SharedAccessSignatureTokenProvider.cs#L97

The timeout input is ignored in this method

[2021-07-02 15:34] pakrym commented on #12102
I started a branch https://github.com/Azure/azure-sdk-for-net/compare/main...pakrym%3Apakrym%2FBanned-apis?expand=1

[2021-07-02 15:37] kasobol-msft commented on #12102
@pakrym can this be done service by service? to avoid big revolution.

[2021-07-02 15:39] kasobol-msft commented on #12102
i.e. if you can set this up targeting just one of the packages or services I'd be happy to take over adopting this for storage.

[2021-07-02 15:41] pakrym commented on #12102
Yes if you change
[code]
to
[code]

And set BannedApiAnalyzers to true in storage it'll be scoped.

[2021-07-02 15:41] pakrym commented on #12102
I'll look into merging that PR today.

[2021-07-02 15:57] pakrym opened #22413 "Remove usages of Uri.ToString()"
We are banning the usages of Uri.ToString.

https://github.com/Azure/azure-sdk-for-net/issues/12102

These are projects that still have them:

## core
Owners:
@JoshLove-msft

Files:
sdk/core/Azure.Core/src/Messaging/CloudEventConverter.cs

## iot
Owners:
@drwill-ms
@timtay-microsoft
@abhipsaMisra
@vinagesh
@azabbasi
@bikamani
@barustum
@jamdavi

Files:
sdk/iot/Azure.IoT.Hub.Service/src/JobsClient.

[2021-07-02 16:12] jsquire opened #22415 "Event Hubs Client Library for .NET - September Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments for .NET (July-December 2021) (#22171)](https://github.com/Azure/azure-sdk-for-net/issues/22171).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning fo

[2021-07-02 16:18] jsquire opened #22416 "Review and update documentation (September Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2021-07-02 16:33] #21392 closed

[2021-07-02 16:33] kasobol-msft commented on #22366
This is duplicate of https://github.com/Azure/azure-storage-net/issues/916 .
However, per [support statement](https://github.com/Azure/azure-storage-net#support-statement) we won't be fixing that anysoon, please upgrade to V12 .

[2021-07-02 16:33] #22366 closed

[2021-07-02 16:47] #20946 closed

[2021-07-02 16:50] kasobol-msft commented on #22353
Besides docstrings this requires update:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/storage-quickstart-blobs-dotnet.md

[2021-07-02 16:57] #12102 closed

[2021-07-02 17:18] #14593 closed

[2021-07-02 17:19] pakrym commented on #8007
No interest for a while. We can reopen if needed.

[2021-07-02 17:19] #8007 closed

[2021-07-02 18:34] jsquire commented on #22411
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-02 18:34] jsquire commented on #22411
//cc: @shankarsama

[2021-07-02 18:36] jsquire commented on #22408
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-02 18:55] #20509 closed

[2021-07-02 19:23] benbp commented on #22413
I assume template is crossed out because there are no `ToString()` calls in the referenced file?

[2021-07-02 20:25] Mohit-Chakraborty commented on #22413
Search changes are made in #22421.

[2021-07-02 21:27] pakrym opened #22424 "Enrich authentication failed exceptions with more information about credential"
It's hard to debug auth errors and even harder with DefaultAzureCredential when you don't know which one was selected.

Can we attach more diagnostic information to 403 failures in clients?

related https://github.com/Azure/azure-sdk-for-net/issues/8948

[2021-07-02 21:30] pakrym commented on #22424
cc @schaabs @christothes

[2021-07-02 21:31] heyucongtom opened #22425 "Please add details of Status field"
Add these descriptions: https://docs.microsoft.com/en-us/azure/data-factory/monitor-programmatically

to the status (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.models.pipelinerun.status?view=azure-dotnet#Microsoft_Azure_Management_DataFactory_Models_PipelineRun_Status) page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-07-02 21:35] christothes opened #22426 "Analyzer feature - detect when Operation implementations are not using OperationInternal.cs"
The analyzer should flag a warning if [OperationInternal](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Shared/OperationInternal.cs) is not used.

[2021-07-02 21:40] christothes commented on #22424
What did you have in mind? Logging, stashing data in the exception, other ideas?

[2021-07-02 21:44] pakrym commented on #22424
I was leaning toward the data on exception. We would have plenty of logging with your latest change but it's not that easy to get to logs quickly.

[2021-07-02 21:49] mauve commented on #21584
I don't remember if I have ever seen Blob traces in the V12 SDK.

[2021-07-02 22:28] jsquire commented on #22425
@allenjzhang:  I've routed this to the service team, as I believe the documentation in question is populated directly from the swagger.  Please feel free to reroute if I'm mistaken.

[2021-07-02 22:28] jsquire commented on #22425
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-03 00:10] jlautman opened #22432 "Clarify behavior if no record is found"
It is unclear from the documentation what GetAsync does if no such record is found. Does it throw an exception, return null, or return a non-null RecordSet object?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d38978c-39fc-8655-90e4-e960b575f960
* Version Independent ID: ad22de88-e4fa-9e61-c1d3-251c22bc53c2
* Content

[2021-07-03 02:55] kinelski opened #22433 "[MetricsAdvisor] Cannot set DimensionsToSplitAlert during config creation"
Update works, but creation returns empty array. Could reproduce it with the REST API, so probably a service bug.

Note: enable the ignored assert in the test method `CreateAndGetAlertConfigurationWithWholeSeriesScope` when issue has been fixed.

[2021-07-03 03:02] kinelski commented on #18447
We don't support the scenario of updating with a new instance, so this is not an issue anymore.

[2021-07-03 03:02] #18447 closed

[2021-07-03 13:46] jsquire commented on #22432
@allenjzhang: Routing this to the service team, as it appears the documentation is coming from the service swagger.  Please feel free to reroute if I'm mistaken.

[2021-07-03 13:46] jsquire commented on #22432
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-03 14:51] jsquire opened #22435 "Event Hubs: Update snippet replacement syntax"
# Summary

For snippets, there is often a need to differentiate the code that appears when rendered versus that which actually runs as part of the test.  Historically, this was done though an esoteric set of comment markers, `//@@` and `/*@@*/`.  In order to aid readability and clarity, the `SNIPPET` compiler constant has been added as to the CI environment, allowing the use of an `#if` preprocess

[2021-07-03 15:26] jsquire opened #22436 "Event Hubs: Legitimize the stress test suite"
# Summary

While effective, the current suite of stress tests for Event Hubs is largely ad-hoc and lives in a private repository.  With a common approach to long-running stress tests now agreed upon, the suite should be revised for a more structured approach, reworked to fit the common approach, integrated with the shared hosting assets, and moved into the official repository.

This issue is prima

[2021-07-03 15:29] jsquire commented on #22436
//cc: @richardpark-msft

Just in case you had any thoughts on things that we've talked about and I forgot to include.

[2021-07-03 15:49] jsquire commented on #21101
Apologies for the lack of feedback.  We've been discussing potential approaches internally to see if there was some form of premeasurement that we could expose that felt like it wouldn't crowd the public API surface or cause confusion around the recommended publishing patterns for those without your scenario.  Unfortunately, the decision at this point is that your scenario is unique enough that it

[2021-07-03 15:52] jsquire commented on #19731
Since the fixes needed are now confirmed to have reached GA, I'm going to tag this as having been addressed and close it out.  Please feel free to "`/unresolve`" if you believe that further discussion is needed.

[2021-07-03 15:53] #19731 closed

[2021-07-03 15:57] #20945 closed

[2021-07-04 02:33] jongio commented on #21444
I saw this today as well.

[2021-07-04 02:34] jongio opened #22437 "Event Grid docs point to old libs"
**Describe the bug**
This doc: https://docs.microsoft.com/en-us/dotnet/api/overview/azure/eventgrid

References old libs.

**Expected behavior**

Should ref new libs.

[2021-07-04 10:30] danielmackay commented on #10529
I see this ticket is closed, but is the issue actually resolved?

I am facing this now using:
- Azure.Identity 1.4.0
- Azure.Storage.Blobs (12.9.1)

I have tried setting my user both though VS -> Tools -> Options -> Azure Service Authentication, and via an AZURE_USERNAME environment variable, none of which has worked.  The error I am getting is:

[code]

Can we reopen this ticket or should I creat

[2021-07-05 07:39] aelij commented on #13481
Pinging again... Please prioritize this.

[2021-07-05 08:07] ilia-cy opened #22446 "SqlServer entity missing data compared to CLI response"
I'm using the SDK to retrieve SqlServer entities - `IAzure.SqlServers.ListAsync()`.
I'm seeing a difference between the response given by the SDK and the response given by the CLI `az sql server list` command.
Example for missing fields:

- `minimalTlsVersion`
- `privateEndpointConnections`
- `publicNetworkAccess`
- `identity`

Looking at the entity response [documentation](https://docs.microsoft.

[2021-07-05 09:41] hellojxg opened #22449 "PatchItem method in sample code which should not be supported yet"
[Enter feedback here]
In sample code of below doc there is one line ".PatchItem(test4.id, patchOperations)" but we actually don't GA partial update now right?
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.transactionalbatch?view=azure-dotnet#methods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f

[2021-07-05 12:39] Yozez opened #22451 "Missing info about the "nameid" field"
I try to understand all the fields in the jwt token,
and I can't found documentation about the "NameId" field,
and it seems like this field is a combination between account id and tenant id.

it will be great if someone could approve that for me, and besides that will add more info about that field to the documentation.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-07-05 14:11] jsquire commented on #22437
//cc: @spelluru

[2021-07-05 14:13] jsquire commented on #22446
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-05 14:13] jsquire commented on #22449
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-05 14:22] jsquire commented on #22451
This issue is in reference to the `System.IdentityModel.Tokens.Jwt` package, which is not sourced from this repository.   I've transferred to the Azure Active Directory repository where the package is maintained as issue [#1664](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1664).

[2021-07-05 14:22] #22451 closed

[2021-07-05 14:26] jsquire commented on #22403
As we do not have the requested information to triage this, I'm closing the issue out.   If you're still experiencing difficulties, please open a new issue with the additional context and we'd be happy to assist.

[2021-07-05 14:26] #22403 closed

[2021-07-05 14:38] JonasSamuelsson opened #22454 "[BUG] can't peek/cancel scheduled messages from queue in send disabled state"
I have a service bus queue that's in active use that I want to recreate to disable duplicate detection.
My plan is to stop the queue from accepting new messages, drain it and store all messages to blob storage, recreate, and then write the messages back to the queue.

I'm using [Azure.Messaging.ServiceBus v7.2.0](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/7.2.0).
Reading active mess

[2021-07-05 16:01] #22231 closed

[2021-07-05 16:13] jsquire commented on #22454
//fyi: @JoshLove-msft

[2021-07-05 16:15] jsquire commented on #22454
The error message and stack trace indicate that the client is reacting to an error returned by the Service Bus broker.  @shankarsama, would you please be so kind as to offer your thoughts on the service behavior and expectations for this scenario?

[2021-07-05 17:57] jsiegmund commented on #19858
I'm sorry, I'm currently not working this project so I'll close the issue for now and get back later when it's still there.

[2021-07-05 18:18] kinelski commented on #16333
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/22450.

[2021-07-05 18:18] #16333 closed

[2021-07-05 18:57] kinelski commented on #21670
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/22434.

[2021-07-05 18:57] #21670 closed

[2021-07-05 19:56] amishra-dev commented on #22329
Hi @poddubitskya, thanks for reporting this. you are right that it should work and url encoding the name is a good workaround.
The change for fixing this is a behavior change. We will talk about it internally and get back to you here.
@kasobol-msft fyi

[2021-07-05 21:10] poddubitskya commented on #22329
Kudos!

Thank you

[2021-07-06 02:57] zedy-wj opened #22456 "[Storage] Server failed to authenticate the request against China cloud and UsGov."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

### Error Description:
Method `Batch_AzureSasCredential` test about authenticate the request failed. The Error Message as follow:
[code]

### Error Track:
Detail: [Code Link](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/sto

[2021-07-06 07:52] Tianyun-G commented on #20750
Now the test can runnable.

[2021-07-06 07:52] #20750 closed

[2021-07-06 08:02] #21830 closed

[2021-07-06 08:44] qetza commented on #18938
Hi @christothes,
So Azure.Identity will not provide a cache mechanism on top of TokenCredential and if we want to have token cached for mechanism which do not already have internal cache like MSAL we will need to implement it ourself?

[2021-07-06 09:23] esbenbach commented on #18527
Since this has been added to the July/Backlog milestones, does that mean some sort of solution is being worked on?

[2021-07-06 09:43] kinelski opened #22461 "[MetricsAdvisor] Bug: service requires condition operator"
If we try to update a `MetricWholeSeriesDetectionCondition.CrossConditionsOperator` with a single condition during a patch operation, we get a back a 400 ("Invalid parameter. conditionOperator is required."). Likely to be a service bug.

[2021-07-06 09:44] v-yilinhu commented on #20746
Close this issue, due to this issue had been fixed at [commit](https://github.com/Azure/azure-sdk-for-net/commit/38441a45981c9c9433c6b78382ee23cebcb60309#diff-a5feba67398fbf6e4ac19fe62d34d33ecfb2c0027c977d2285ee363df9866fc6).

[2021-07-06 10:47] hnuguse opened #22462 "[BUG] BlockBlob `OpenWriteAsync` method takes twice as much time with the new storage package"
**Describe the bug**
Writing a block blob with the `OpenWriteAsync` method takes twice as much time with the new `Azure.Storage.Blob` package compared to the deprecated `WindowsAzure.Storage` package.

**Expected behavior**
Performance should have been improved or at least the same with the new `Azure.Storage.Blobs` package.

**Actual behavior (include Exception or Stack Trace)**
Using the `Azure.

[2021-07-06 13:57] devgorbenko opened #22467 "Factories for QueueRuntimeProperties, TopicRuntimeProperties and SubscriptionRuntimeProperties"
**Library or service name.**
Azure.Messaging.ServiceBus

**Is your feature request related to a problem? Please describe.**
There is no way to mock some `ServiceBusAdministrationClient` methods due to inability to construct returned models.

[2021-07-06 14:39] jsquire commented on #22467
Hi @devgorbenko.   Thank you for reaching out and we regret that you're experiencing difficulties.   It does indeed appear that these were overlooked in the `ServiceBusModelFactory`;  tagging and routing to the team member best able to assist.

[2021-07-06 15:54] annelo-msft commented on #22361
To my knowledge, changes are no longer being made to Microsoft.Azure.ContainerRegistry.

There is a new Azure SDK package that takes an Azure.Core `TokenCredential` -- you can find it here: https://www.nuget.org/packages/Azure.Containers.ContainerRegistry/

@northtyphoon @AlexGhiondea FYI

[2021-07-06 16:27] #21344 closed

[2021-07-06 16:28] pakrym commented on #21026
cc @christothes

[2021-07-06 16:30] pakrym commented on #15665
Doesn't look like an Azure.Core issue. More of a code generator one. Please reopen if needed.

[2021-07-06 16:30] #15665 closed

[2021-07-06 16:33] pakrym commented on #7231
We haven't seen a problem with the current approach.

[2021-07-06 16:33] #7231 closed

[2021-07-06 16:40] pallavit commented on #21394
This has been shipped.

[2021-07-06 16:40] #21394 closed

[2021-07-06 16:43] kasobol-msft commented on #22353
https://github.com/Azure-Samples/AzureStorageSnippets/blob/master/blobs/quickstarts/dotnet/BlobQuickstartV12/Program.cs

[2021-07-06 16:47] JamieMagee commented on #22361
@annelo-msft that looks like what I'm after. I didn't look hard enough 😅 Thank you!

[2021-07-06 16:53] #22361 closed

[2021-07-06 17:51] richardpark-msft commented on #22436
This looks really great to me. Some comments, but mostly just additive:

I like thinking about this not just as overhead, but also a necessity if we're trying to mimic customers environments with our testing:
- Enabling independent scaling of producers vs consumers (we'll have way more consumers than producers, more than likely)
- Be realistic about how apps are generally written - consuming/produ

[2021-07-06 19:05] emiliano-luna opened #22470 "[BUG] Cannot set tags on blob with lease"
**Describe the bug**
When invoking BlobBaseClient.SetTagsAsync with LeaseId set in BlobRequestConditions passed as parameter a RequestFailedException is thrown with ErrorCode: LeaseIdMissing

**Expected behavior**
Users are able to set tags on a blob if they provide a valid LeaseId

**Actual behavior (include Exception or Stack Trace)**
Azure.RequestFailedException: There is currently a lease on t

[2021-07-06 19:10] #22470 closed

[2021-07-06 19:21] MehaKaushik commented on #21843
@allenjzhang would be able to help you with Azure.ResourceManager.*

[2021-07-06 19:25] kinelski opened #22472 "[MetricsAdvisor] Simplify Utf8JsonWriterExtensions code"
Follow the pattern in https://github.com/Azure/autorest.csharp/blob/f790582c450f6f90e173a12e96c8e83a745a0b0f/src/assets/Generator.Shared/Utf8JsonWriterExtensions.cs#L52 and keep a single method, if possible.

[2021-07-06 19:31] novinc commented on #5174
Sorry for the crazy long delay, here is the documentation I was talking about: https://docs.microsoft.com/en-us/azure/container-instances/container-state

[2021-07-06 20:18] amnguye commented on #19051
Resolved with https://github.com/Azure/azure-sdk-for-net/pull/22380

[2021-07-06 20:18] #19051 closed

[2021-07-06 20:54] #21929 closed

[2021-07-07 00:14] JoshLove-msft commented on #18527
Hi @esbenbach, I'd like to add the ability to close a session in our August release. One complication is that multiple threads may be concurrently receiving from a single session, so we will need to be careful in how we handle Closing so as to not stomp on another thread's work, and also to not require each thread to call close on the same session. My thought is that in this scenario, the close ca

[2021-07-07 00:29] epilsits commented on #18527
I haven't looked at the doc in a while... In the Microsoft.Azure.ServiceBus sdk the session handler was single threaded. You could handle multiple sessions but only one concurrent message per session. Are you saying the new sdk also allows multiple concurrent calls to the session handler?

[2021-07-07 00:32] JoshLove-msft commented on #18527
Yes, via the [MaxConcurrentCallsPerSessio ](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebussessionprocessoroptions.maxconcurrentcallspersession?view=azure-dotnet#azure-messaging-servicebus-servicebussessionprocessoroptions-maxconcurrentcallspersession) option.

[2021-07-07 04:33] dianacrt opened #22485 "[QUERY] DownloadToAsync function throws 412 "The condition specified using HTTP conditional header(s) is not met" exception"
**Query/Question**
How can we help?
I have an Azure Front Door in front of two storage accounts. I am using AAD authentication and I am trying to download a large file using DownloadToAsync function, but it throws "The condition specified using HTTP conditional header(s) is not met" exception. This is a snippet of the code:

[code]

I also tried with an older version of the Azure.Storage.Blobs ( v

[2021-07-07 04:41] punio opened #22486 "Add support for double.NaN for table access"
**Library or service name.**
Azure.Data.Tables

**Is your feature request related to a problem? Please describe.**
When accessing table storage using WindowsAzure.Storage 9.3.3, I was able to read and write double.NaN (NegativeInfinity, PositiveInfinity) to Edm.Double.
In Azure.Data.Tables, reading and writing such as double.NaN raises an exception.

I want to use it in an existing system that han

[2021-07-07 06:06] JoshLove-msft commented on #18527
Here is what I am thinking the behavior will be:
        /// Closes the session that is being processed. If there are multiple
        /// threads processing the session, due to ServiceBusSessionProcessorOptions.MaxConcurrentCallsPerSession being greater than 1,
        /// the session will be marked for closing, but may not be immediately closed. When this method is called, the message that was r

[2021-07-07 07:21] esbenbach commented on #18527
@JoshLove-msft the description sounds reasonable.
Say that I can live with the fact that the messages are not settled (completed/abandoned) until the last thread is complete, would it be auto-completed then? Or will the fact that we are explicitly closing the session require we settle messages always.

Its not really an issue, just that the description leaves me in doubt of how it works.

[2021-07-07 08:02] #18467 closed

[2021-07-07 10:19] shawnxzq commented on #22425
@LijuanZ Could you please take care of this? Thanks!

[2021-07-07 11:25] shawnxzq commented on #22408
@shannonlowder Do you mean you want to to update the linked service/datasets in the git repository associated to the factory?

[2021-07-07 11:34] shawnxzq commented on #21868
@stevendarby I don't have the details on the other client as I work on ADF only, but what we discussed for the DataFactoryManagementClient is correct. And if you want to know more details on the other clients, suggest you can check the source code directly: https://github.com/Azure/azure-sdk-for-net

[2021-07-07 12:24] DeepakMohanSingh commented on #5132
Hi. I still face the same issue. Any update on this?

Thanks.

[2021-07-07 12:32] alrod commented on #20177
Retry loop only applies to function code which executes inside WebJobs SDK. Once the function code was successfully executed (without unhandled exceptions) retry loop is finished and control moves to an extension. Completing(SB)/checkpointing(EH) occurs outside retry loop in the extensions. There will be duplicate executions neither or not we have retry policy in case of message lock lost/partitio

[2021-07-07 12:55] jsquire commented on #22486
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-07 13:10] epilsits commented on #18527
It doesn't sound like all threads completing would have anything to do with message settlement. However it's not clear what happens in the other threads that didn't close the session. Do they also have to manually settle the message? If so then a user would need to implement some kind of sync with a session status flag maybe (?) so each thread knows how to settle the message.

What is the purpose

[2021-07-07 14:09] stwolfe opened #22489 "[BUG] Bad SaS when settting the ServiceVersion"
**Describe the bug**
The SaS produced when needing to set the service version is not valid.

**Expected behavior**
Successful access to the requested storage service using the generated SaS token.

**Actual behavior (include Exception or Stack Trace)**
INFO: Authentication failed, it is either not correct, or expired, or does not have the correct permission -> github.com/Azure/azure-storage-blob-g

[2021-07-07 14:10] stwolfe commented on #22489
The URI created above is being used by azcopy 10 to try to upload a blob to the Blob service running on Azure Stack Edge.

[2021-07-07 15:00] afratila opened #22490 "Operational Insights: Broken link to example"
Hi,

There is a broken link on this page under "Remarks" where it says "[Here] (/documentation/2-Using-the-API/Query)". Could this be fixed, I'd like to read the example. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2463fe7f-e35e-9db5-3f8a-7a0c56236f02
* Version Independent ID: 2b903fcd-9956-c2e8-0167-f4f2ea8

[2021-07-07 15:15] daiyk opened #22491 "[BUG] Azure.Data.Tables cannot initialize TableServerClient/TableClient"
**Describe the bug**
Please provide the description of issue you're seeing.
I try to use the new Azure.Data.Tables in Unity to connect with my Azure Storage account.
either create tableclient or create tableserverclient failed and throw exception, the code:
`tableAccount = new TableServiceClient(connectionString);`
or
[code]
both trigger exception as follows, I also try other authentication method

[2021-07-07 15:20] thiagorizzo opened #22492 "List partition keys"
**Query/Question**
Is there any way to get partitions keys sent to a topic?

**Environment:**
 - Azure.Messaging.ServiceBus 7.1.2

[2021-07-07 15:57] #22353 closed

[2021-07-07 16:03] alrod commented on #20177
@JoshLove-msft, thanks for the feedback.
I like "Option 2" but the question is how to choose right implementation in `FunctionIndexProvider` constructor

[2021-07-07 16:31] danieljurek opened #22494 "Allow configurable tfm configuration for docs.ms CI onboarding"
Package properties are hardcoded as `tfm='netstandard2.0'` today. This may change in the future and we should be able to configure this easily instead of inside a function in `Language-Settings.ps1`

[2021-07-07 16:51] azabbasi commented on #21527
We have checked in the perf test for the QueryAsync API on ADT. Closing the issue and waiting for feedback.

[2021-07-07 16:51] #21527 closed

[2021-07-07 17:25] #22022 closed

[2021-07-07 18:39] Marusyk commented on #18650
Still open since 2018 🤔

[2021-07-07 18:59] JoshLove-msft commented on #18527
These are great questions and perhaps the behavior becomes confusing when disabling the auto completion with MaxConcurrentCallsPerSession > 1. The scenario I was thinking about is where the user receives a message that they do not want to autocomplete and they want to close the session. I suppose this scenario isn't really specific to closing sessions. Users can always abandon the message themselv

[2021-07-07 19:07] ErikPilsits-RJW commented on #18527
I think the property / method in a multi message session handler would be acceptable. It should prevent the message pump from getting additional messages from the session and allow in-flight handlers to complete. When they have all completed it would close the session and acquire a new one.

I don't think it should change the behavior of auto completion. As you say, abandoning the message would re

[2021-07-07 19:31] AlexGhiondea commented on #15589
This is a nice to have, but we don't have a good way to do it. Closing for now.

[2021-07-07 19:31] #15589 closed

[2021-07-07 19:32] AlexGhiondea commented on #16375
@pakrym Is this still something we need to do?

[2021-07-07 19:34] AlexGhiondea commented on #16704
Let's see if there is anything we can do here.

[2021-07-07 19:35] AlexGhiondea commented on #17254
@tg-msft @pakrym any updates on this?

[2021-07-07 19:38] pakrym commented on #16375
Yes, this is still not done.

[2021-07-07 20:13] maririos commented on #21601
Package is out https://www.nuget.org/packages/Azure.AI.Translation.Document/1.0.0-beta.3

[2021-07-07 20:14] maririos opened #22503 "Release Document Translator beta.4"

[2021-07-07 20:16] #21601 closed

[2021-07-07 20:17] benbp commented on #22436
This is great! Thinking about this from the perspective of the "stress test platform" I think there are a few key design decisions we'll want to make (granted these may change as we get further feedback from our work):

1. Should this class of testing try to conform to having started and finished states, or should we instead consider it as a workflow(s) that runs continuously and generates metrics

[2021-07-07 20:18] #21346 closed

[2021-07-07 20:50] jordanfryer opened #22505 "EventGridPublisherClient constructor does not support TokenCredentials for AAD authentication"
We have a requirement to use AAD authorization on all Azure Resources (versus SAS / Key credentials). For most client libraries this is supported through a constructor on the client using the Azure.Core.TokenCredentials class. However, EventGridPublisherClient does not have such a constructor. Is this something that is planned to be supported?

[2021-07-07 21:00] pakrym commented on #22337
Tracked in roslyn repo.

[2021-07-07 21:00] #22337 closed

[2021-07-07 21:18] jsquire commented on #22490
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-07 21:20] jsquire commented on #22491
@pakrym:  This looks like it is likely to be related to the Core pipeline moreso than the Tables client.  Would you be so kind as to offer your thoughts and reroute if needed?

[2021-07-07 21:20] jsquire commented on #22491
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-07 21:21] jsquire commented on #22492
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-07 21:26] jsquire commented on #22505
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-07 21:38] heaths opened #22510 "Decide on "knowledgebase" vs "knowledge base""
I agree it probably should be "knowledge base" in writing everywhere, but that also conflicts with "knowledgebase" (as opposed to, say, "knowledgeBase") throughout the swagger. @annatisch @rokulka do you see any problems with us in written language to use "knowledge base" everywhere consistently unless, of course, referring to a parameter or property name?

_Originally posted by @heaths in https:/

[2021-07-07 21:41] annatisch commented on #22510
I have no concerns with documenting this in text as "knowledge base" - I will make the adjustments in Python :)

[2021-07-07 21:43] heaths opened #22511 "Decide how to expose parameters for question and qnaId"
@KrzysztofCwalina @tg-msft @schaabs it came up in review that we should move required parameters out of `KnowledgebaseQueryOptions` and put them as required parameters, which is either `string question` or `int qnaId`. Agreed? How does that differ from `EncryptParameters` for Key Vault, though?

Also, since not all languages support overloads, I propose adding just a `GetQuestionAnswer(string proj

[2021-07-07 21:47] heaths commented on #22511
@annatisch or @johanste could you summarize what you're thinking for Python? For .NET, I'm leaning toward:

[code]

/cc @tg-msft @KrzysztofCwalina @rokulka

[2021-07-07 21:49] heaths commented on #22510
That's probably enough, too. But it does seem odd to refer to it in docs as "knowledge base" but have types and parameter names as "knowledgebase" instead of "knowledge_base" or "knowledgeBase".

/cc @rokulka

[2021-07-07 21:58] annatisch commented on #22510
I don't feel too weirdly about having that distinction between docs and parameter name - I don't think anyone will be tripped up by it. I prefer `knowledgebase` to `knowledge_base` as a parameter name.

[2021-07-07 21:59] JoshLove-msft commented on #20177
Well wouldn't this be up to the extensions to inject the right implementation? By default, it would be null.

[2021-07-07 22:53] jongio opened #22515 "Event Grid API ref points to wrong location"
This page:
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/Messaging.EventGrid-readme

API reference doc link points to:
https://azure.github.io/azure-sdk-for-net/eventgrid.html

Which is this:
![image](https://user-images.githubusercontent.com/2163001/124838272-5827cd00-df3b-11eb-9274-1739da361ea8.png)

And I can't find the API ref easily.

[2021-07-07 23:01] #20963 closed

[2021-07-07 23:02] #21265 closed

[2021-07-07 23:07] amishra-dev commented on #22462
@kasobol-msft can you please look at this one?

[2021-07-07 23:30] JoshLove-msft commented on #18773
Closing as current semester work will be tracked in https://github.com/azure/azure-sdk-for-net/issues/22173

[2021-07-07 23:30] #18773 closed

[2021-07-07 23:47] kasobol-msft commented on #22462
@hnuguse what's the average size of the image ?

[2021-07-08 01:35] weidongxu-microsoft commented on #5132
@DeepakMohanSingh
Many service does not support this `HEAD` http method. Hence it fails. It would require fix from service.

[2021-07-08 01:53] abatishchev commented on #5132
@ifeoluwaokunoren for the question about supporting `HEAD`.

[2021-07-08 05:55] #22329 closed

[2021-07-08 06:42] JoshLove-msft commented on #22505
This work is planned as part of https://github.com/Azure/azure-sdk-for-net/issues/22109

[2021-07-08 08:04] blushingpenguin opened #22530 "[BUG]All authentication failures produce ObjectDisposedException"
**Describe the bug**
Failing to authenticate using ClientSecretCredentials produces ObjectDisposedException instead of a meaningful error message

**Expected behavior**
A meaningful error message is produced

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**
Run the code in:
https://github.com/blushingpenguin/AzureSdkBadErrorMessage
This contains "credentials", which

[2021-07-08 08:34] openshac opened #22533 "Typo in EventHubsConnectionStringBuilder Sample Code"
There is a typo in the [Sample Code](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.eventhubsconnectionstringbuilder?view=azure-dotnet#examples)

It says:
`var connectionStringBuiler = new EventHubsConnectionStringBuilder(`

Is should be:
`var connectionStringBuilder = new EventHubsConnectionStringBuilder(`

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-07-08 09:25] hnuguse commented on #22462
The size is 2kb per image and we have 1000 of these in the container.

Transferring all of these (both reading blob and writing to the zip blob) takes a couple minutes, while the total size is only around 1mb.
I attached the data we used for testing here [media.zip](https://github.com/Azure/azure-sdk-for-net/files/6783260/media.zip)

[2021-07-08 11:44] adityabalaji-msft commented on #20576
The class name is actually "RecoveryServicesBackupClient". We will update the example code to reflect the correct class name

[2021-07-08 12:46] HarryPi commented on #19021
I am facing the exact same issue and as per our advice tried the above however the UriBuilder has no Sas property or a ToUri, it has a Query parameter and a Uri parameter but have tried those.

[2021-07-08 12:48] NiklasArbin opened #22534 "[BUG] Azure.Messaging.ServiceBus, multiple hosts stopped receiving ONE queue."
**Describe the bug**
Azure support #2107050050002321
Queue processing stopped for a single high throughput queue, at the same time across 3 pods on 3 different hosts.

(Our setup creates a new servicebus client per queue, and all other queues had throughput, except the one affected. During this time the queue overflowed since the receivers stopped reading messages from the queue.) IE all other asp

[2021-07-08 13:22] jsquire commented on #22510
@heaths:  Is that `QnA Maker` label correct or do we need a new service label for this?

[2021-07-08 13:27] jsquire commented on #22515
This looks like the docs are rendering correctly, but our [README](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/eventgrid/Azure.Messaging.EventGrid) is pointing to an incorrect location.

![image](https://user-images.githubusercontent.com/913445/124929643-ab972b00-dfce-11eb-8431-0dec4a989282.png)

[2021-07-08 13:30] jsquire commented on #22533
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-08 13:32] jsquire commented on #22534
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-08 14:55] jordanfryer commented on #22505
Thanks @JoshLove-msft for the quick update, I see that is tagged as the July 2021 milestone? Does this mean I should expect this to be available for trial end of the month timeframe?

[2021-07-08 16:01] mohamedshabanofficial commented on #21305
@maririos
can you please provide more info?
i understand the premise, ..
but have couple of quiestions ..
1. did the service team do the required update?
2. should we modify our error class to reflect this? and if so, could you provide similar examples (FormRecognizer, or preview 1.0)

[2021-07-08 16:03] #21977 closed

[2021-07-08 16:52] DOliana opened #22540 "[BUG] Misleading Errormessage for unauthorized errors"
**Describe the bug**
When using DefaultAzureCredential and the provided principal (in our case in the context of a Azure Devops/azure cli task in a build pipeline) does not have access to the requested resource the error shown is misleding.

(This bug is similar to #13481 but in a different context)

**Expected behavior**
Display an error about "provided prinicipal 123 is unauthorized"

**Actual b

[2021-07-08 16:57] kinelski commented on #21509
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/22457, https://github.com/Azure/azure-sdk-for-net/pull/22463, https://github.com/Azure/azure-sdk-for-net/pull/22464, and https://github.com/Azure/azure-sdk-for-net/pull/22465.

[2021-07-08 16:57] #21509 closed

[2021-07-08 16:58] kinelski commented on #17594
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/22453.