[2020-02-07 19:28] chlowell commented on #9155
Readiness probes also execute repeatedly. The difference is that when a readiness probe fails, the container receives no requests; when a liveness probe fails, the container restarts. I suggested the latter because restarting the container (process) clears static state.

[2020-02-07 19:33] weshaggard commented on #9757
Azure.Core symbols should be present as well. Can you point us to the version of Azure.Core package you are using so we can verify the symbols are present?

[2020-02-07 20:01] zmarty commented on #9757
1.0.1

[2020-02-07 20:31] AlexGhiondea commented on #7225
Closing this. If this is still required, let's file a new issue.

[2020-02-07 20:31] #7225 closed

[2020-02-07 21:06] lilyjma opened #9852 "Test issue"
this is just to test if bot is triggered when issue is labeled 'service name' and 'service attention'

[2020-02-07 21:13] #9852 closed

[2020-02-07 21:26] weshaggard commented on #9757
@chidozieononiwu can you please have a look at the Azure.Core 1.0.1 package and ensure the symbols are correctly published?

[2020-02-07 21:28] jsquire opened #9853 "Document C# 8 API features and work arounds"
# Summary

The Event Hubs client library APIs are built around the features offered by C# 8, which are not available to developers without access to either the .NET Core SDK, version 3+ or Visual Studio 2019.   While these requirements do not pose an economic barrier, as each is available free of charge, the developer ecosystem of some organizations are limited in how quickly they may upgrade.

Th

[2020-02-07 22:12] lmolkova commented on #9726
Thanks for the explanation @jsquire, it makes sense now.

[2020-02-07 22:12] #9726 closed

[2020-02-07 22:44] seanmcc-msft opened #9855 "[Storage] Programmatic Managed Disk Accounts"
Figure out if it is possible to programmatically create a Managed Disk account.  If so, updated the Storage Contributing.md with instructions, and un-ignore the Storage Managed Disk tests.

[2020-02-07 22:45] jongio commented on #9226
@carsontwilson - Did you get this working?

[2020-02-07 22:50] seanmcc-msft opened #9856 "[Storage] Consider moving Error Codes to Swagger"

[2020-02-07 22:52] nonik0 commented on #7457
@EricDahlvang @Eldar1205 We just released [AppAuth 1.4.0](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.4.0). In this version the ADAL dependency has been updated to 5.2, so please try it out and let us know if you have any further issues!

[2020-02-07 23:06] tg-msft opened #9857 "DiagnosticScopeValidatingInterceptor: Allow methods with no client calls"
We're adding a protected virtual async method that doesn't make any client calls.  `[ForwardsClientCalls]` lets us say that nothing with its name should ever appear, but since no client calls are ever made the interceptor complains that no scopes were created.  We should add something like a `[NoClientCalls]` for niche scenarios like this.

[2020-02-07 23:20] EricDahlvang commented on #7457
@nonik0 Thank you for the update!  Our usage is actually an intermediary dependency.  We now need Microsoft.Extensions.Configuration.AzureKeyVault to pull this new version.  I'll notify them of your release.  Thanks again.

[2020-02-08 02:42] brjohnstmsft commented on #9828
@PrimeHydra I wrote a console app to repro this behavior, and it's not a bug -- you're using the encoding scheme for a different query syntax (Simple query syntax for full-text search, not the OData syntax for filters). I provided more details in my answer on StackOverflow.

[2020-02-08 02:42] #9828 closed

[2020-02-08 09:35] sm15455 commented on #8934
Any updates on this issue?
The new library offers a development experience that is worse compared to the old one. With the new library I'm forced to create environment variables on my machine, with the old one I just have to login uzing AZ CLI.

[2020-02-08 17:20] pekspro commented on #9771
Thanks for the answer @pakrym . I’ll wait until it released, I have another look then. The current version works well for me so not a major issue for me.

[2020-02-08 19:24] premanshum commented on #4047
I have a library that uses CloudConfigurationManager. This library is in .net framework 4.7.x.
This library is consumed by Azure Function, written in framework 4.7.x. Everything is fine.
However, I wanted to write test case against the library in .net core. And that is where I got this Fusion.dll error.
My question is not whether any fix available. Rather, why should I not move to Scripting langua

[2020-02-09 16:24] jsquire commented on #9848
//cc: @yaohaizh

[2020-02-09 23:54] annelo-msft commented on #9699
Status: proposed design; will discuss with service team and arch board.  @mayurid

[2020-02-09 23:55] annelo-msft commented on #9700
Status: proposed design; will discuss with service team and arch board. @mayurid

[2020-02-09 23:55] annelo-msft commented on #9701
Status: proposed design; will discuss with service team and arch board. @mayurid

[2020-02-09 23:55] annelo-msft commented on #9703
@mayurid

[2020-02-09 23:56] annelo-msft commented on #9704
@mayurid

[2020-02-09 23:56] annelo-msft commented on #9706
This doesn't need to be exposed publically.  @ctstone @mayurid

[2020-02-09 23:56] #9706 closed

[2020-02-09 23:59] annelo-msft commented on #9709
Status: proposed design; will discuss with service team and arch board. @mayurid

[2020-02-10 00:00] annelo-msft commented on #9710
@ctstone @mayurid @assafi

[2020-02-10 00:00] annelo-msft commented on #9711
@ctstone @mayurid @assafi

[2020-02-10 00:01] annelo-msft commented on #9712
Status: proposed design; will discuss with service team and arch board. @mayurid

[2020-02-10 00:02] annelo-msft commented on #9713
Status: proposed design; will discuss with service team and arch board. @mayurid

[2020-02-10 00:02] annelo-msft commented on #9714
Status: proposed design; will discuss with service team and arch board. @mayurid

[2020-02-10 09:10] tauqirghani commented on #5121
Using a very basic console program, I am getting the same error reading secrets from a keyvault that I have admin rights on.

[2020-02-10 15:41] nadirbad commented on #9490
Hi @seanmcc-msft, @wantedfast . Me and @fariskarcic are members of the team working on this project. Here is a more detailed description about our use case.

We have a web API with Azure Ad authentication using MSAL. Our API uses on-behalf-of authentication flow to access other backend APIs, Microsoft Graph. Basically we need to authorize access to Storage account (gen2) on the user's behalf, mean

[2020-02-10 16:31] jsquire commented on #9064
Board review pending; tracking as a line item on the March milestone

[2020-02-10 16:31] #9064 closed

[2020-02-10 16:31] jsquire commented on #9045
Board review pending; tracking as a line item on the March milestone

[2020-02-10 16:31] #9045 closed

[2020-02-10 16:43] PrimeHydra commented on #9828
Thanks, @brjohnstmsft . Though this was user error, I feel the SDK docs could have made the filter expression character escaping a bit clearer? Three different syntaxes in one request is a lot for search newbies like myself to keep track of. :) Maybe I missed that page in the docs. Appreciate your response.

[2020-02-10 17:10] thnk2wn opened #9869 "Event Hub Processor - IoT Twin Change and Lifecycle Events?"
**Query/Question**
Are IoT hub Device Twin change events and Device Lifecycle events supported with Azure.Messaging.EventHubs?

It appears they are not as I'm only seeing Device Telemetry Message events. However [this documentation](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid-routing-comparison#differences) states:

Is there special setup to get this working or does it only w

[2020-02-10 17:11] brjohnstmsft commented on #9828
@PrimeHydra I agree it isn’t discoverable enough. It’s probably in a note somewhere. I’ll change the filter docs to make it more obvious.

We’re currently working on a new generation of client libraries for Azure Cognitive Search, and one of our goals is to provide a mechanism for encoding each syntax so you don’t have to deal with it anymore.

[2020-02-10 18:13] ramya-rao-a commented on #9298
@jsquire Please move the pending items to the next milestone or backlog and close this issue now that the Feb milestone is over

[2020-02-10 18:14] jsquire commented on #9298
Already in process; waiting on status for the items still open pending discussion with those working on them.

[2020-02-10 18:18] joshfree commented on #9305
Updating issue as Functions and App Services have been moved to the backlog

[2020-02-10 19:13] pakrym opened #9872 "[Flaky test] WithTimeoutGenericDoesNotThrowsWhenATimeoutDoesNotOccur"
[code]

[2020-02-10 19:24] heaths commented on #4924
You might upgrade to the Azure.Security.KeyVault.* packages which do not use exception-based flow for authentication. The `DefaultAzureCredential` from Azure.Identity makes this a trivial exercise, as authentication in general have been greatly improved. For example, you can simply do the following:

[code]

Rather than handling the authentication callbacks yourself, would this be a better option?

[2020-02-10 19:29] heaths commented on #5119
With the release of Azure.Security.KeyVault.Certificates, `GetCertificate` will return a `KeyVaultCertificateWithPolicy`, which will always have a policy. The old `GetCertificate` in the description has been renamed to `GetCertificateVersion` and returns a `KeyVaultCertificate` that does not have a `Policy` property defined at all to avoid confusion. Separate calls are still required because servi

[2020-02-10 19:29] #5119 closed

[2020-02-10 19:32] heaths commented on #6003
Closing as this issue seems to be resolved or worked around. The older Microsoft.Azure.KeyVault* packages will receive critical fixes, and customers are encouraged to update to the newer Azure.Security.KeyVault.* packages. See https://aka.ms/azsdkvalueprop for a growing list of reasons, including better HTTP pipelines that also resolve this issue.

[2020-02-10 19:32] #6003 closed

[2020-02-10 19:39] heaths commented on #7663
This is mostly fixed by #9127.

[2020-02-10 19:39] heaths commented on #7663
@danieljurek should we generalize this as part of our original MQ work? There was some discussion about it, but I'm not finding any open issues in this or azure-sdk repos.

[2020-02-10 19:41] gdodd1977 commented on #9175
We are getting this error from time to time as well when calling PublishEventsAsync. We register EventGridClient as singleton, so I assume it should be handling the HttpClient creation so as to not create too many clients. Or do I have that assumption incorrect?

[2020-02-10 19:42] pakrym commented on #7663
Do we even want to do this?

[2020-02-10 19:47] heaths commented on #5450
Using MD5 on the client will cause Windows crypto APIs (Crypto and CNG) to err. FIPS compliance would have to be disabled on the host, which is not recommended. So if selecting MD5, which is expected. But I am a bit confused if you're trying to select MD5 (not FIPS-compliant), saying there's no way to select anything else. If this is still a problem, could you clarify?

Are you trying to manage ro

[2020-02-10 19:52] heaths commented on #5450
If you're doing this to work around Storage not supporting AAD, Storage does now support AAD and it's recommended you use AAD and Managed Identity. This is much simpler in Azure.* packages, and service documentation is available at https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad. Please review this and let us know if this works better for you.

[2020-02-10 19:59] jsquire commented on #9298
The final story on this milestone was a lot of unplanned work around stress test platforms, test results, production readiness, and release activities.

[2020-02-10 19:59] #9298 closed

[2020-02-10 20:01] jsquire commented on #7458
This scope will likely be addressed as part of a community contribution to remove the load balancer and refactor it into a stand-alone offering.   Shifting this back to the backlog until those efforts are complete and will reevaluate then.

[2020-02-10 20:01] heaths commented on #7939
We now create resources nightly in PR #9029 with the request to create premium vaults already tracked in #6551.

[2020-02-10 20:01] #7939 closed

[2020-02-10 20:05] heaths commented on #9737
This appears to be a race condition in the challenge cache which we should synchronize. Will try to repro.

[2020-02-10 20:16] heaths commented on #7663
At one point we did. I did find #9062 that is tracking this. Some service teams felt pretty strongly this should "just work" when running tests.

[2020-02-10 20:29] daviddowning opened #9873 "[BUG] LabServices solution doesn't build"
**Describe the bug**
I'm trying to compile the LabServices solution in the https://github.com/Azure/azure-sdk-for-net repository using Visual Studio 2017/2019.

**Expected behavior**
The solution and all projects should build.

**Actual behavior (include Exception or Stack Trace)**
Getting 7423 errors during compilation.  "The type or namespace 'System' could not be found.

**To Reproduce**
Try to

[2020-02-10 20:34] JoshLove-msft opened #9874 "Implement Schedule/CancelScheduled batch"
Track 1 .NET doesn't have this, but Typescript Track 2 does.
Figure out if there is a reason this wasn't added for Track 1.
Add to Track 2 if it can be added.

[2020-02-10 20:36] JoshLove-msft opened #9875 "Implement Event Source logging"
In initial PR - we copied over event source logging from Event Hubs.
- We should go through all of the events and figure out which ones make sense for Service Bus.
- We should then add the event source logging in all of our service methods.
- We should add the event source Complete logging to RetriableContext.

[2020-02-10 20:40] JoshLove-msft opened #9876 "Add documentation for all methods related to sending"
ServiceBusSenderClient
ServiceBusSenderClientOptions

[2020-02-10 20:41] JoshLove-msft opened #9877 "Add documentation for all methods related to receiving"
ServiceBusReceiverClient
ServiceBusReceiverClientOptions
QueueReceiverClient
QueueReceiverClientOptions
SessionReceiverClient
SessionReceiverClientOptions
SubscriptionClient
SubscriptionClientOptions
TransportConsumer

And all dependencies.

[2020-02-10 20:43] JoshLove-msft opened #9878 "Add documentation for all internal members"

[2020-02-10 20:49] JoshLove-msft opened #9879 "ServiceBusException issues"
- eliminate unnecessary constructors
- eliminate anything that is only used for EH
- determine whether ctors can be made internal
  - This would make testing across packages more difficult and also make customer testing more difficult if we only expose the protected ctor. These should be fine to leave as public.
- throw correct exceptions for all features being added in Preview 1
- Integrate neces

[2020-02-10 20:51] JoshLove-msft opened #9880 "Determine whether PartitionIdentifier can be removed"
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377107105

[2020-02-10 21:03] JoshLove-msft opened #9881 "Distributed Tracing"
- Add diagnostic scopes mirroring what EH did for Track 2.
- Look at updated DiagnosticProperty from EH.

[2020-02-10 21:08] JoshLove-msft opened #9882 "AMQP cleanup"
- [x] Go through AMQP implementation and remove anything that is Event Hubs specific.
e.g. https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377108704
-- https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377107105
-- https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377429034
- [x] Eliminate any duplication in constants - https://github.com/Azure/azure-

[2020-02-10 21:25] #9811 closed

[2020-02-10 22:07] JoshLove-msft opened #9884 "ConnectionString parsing cleanup"
Potentially remove connectionStringBuilder
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377127281

Add in Validation that entityName matches conn string entity if present in both:
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377124341

Ensure parity with Track 1 test cases.

[2020-02-10 22:19] jsquire commented on #9869
Hi @thnk2wn.   We're sorry that you're experiencing difficulties and appreciate you reaching out to bring them to our attention.   If I understand correctly, you're not seeing an expected set of events appear within the Event Hubs service.   With respect to the new Event Hubs client, there would be nothing different or special that you would need to configure; if the events appear in the service,

[2020-02-10 22:35] jlian commented on #9869
Are you using message routing or event grid integration?

AFAIK routing has twin change events, event grid doesn't

If so, can you show a screenshot of your message routing settings page? There is setup needed and you need to enable a route that has the data source you want https://stackoverflow.com/questions/46196423/how-to-implement-routes-functionality-for-twin-change-in-azure-iot-hub

Also, I

[2020-02-10 22:54] thnk2wn commented on #9869
@jlian Today we use message routing and that works fine but I'm looking into event grid integration as a possible future alternative here.

If you refer to the link I posted (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid-routing-comparison#differences) it does show event grid can also report when devices are "created, deleted, connected, and disconnected from IoT Hub". I'm not

[2020-02-10 23:04] jlian commented on #9869
Did you set up Event Grid integration with those events checked? Can you show your settings page?
![image](https://user-images.githubusercontent.com/2320572/74198346-fb28ca00-4c15-11ea-8843-288b9856c2ae.png)

Also I didn't even know that you could consume event grid notifications directly with a event hub client - is that what you're doing? Or do you have an event hub handler set up with your even

[2020-02-10 23:37] JoshLove-msft opened #9886 "ServiceBusMessage Model"
- Decide whether to split into two model types (one for send, and another for receive)
- Address comments from API View
- Support all message properties from Track 1 (unless we specifically decide we don't want to support something)

[2020-02-10 23:53] weshaggard commented on #6722
We have setup testing modes that ensure we test against both package and source versions of Core so we should always be in a good state for both.

[2020-02-10 23:53] #6722 closed

[2020-02-11 00:01] schaabs commented on #8934
@sm15455 Sorry, for the delay in information. We are actively working on this and hope to have a preview which enables using the azure cli login for authentication in Azure.Identity sometime in March.

[2020-02-11 00:07] heaths commented on #5797
Programmatically and in the portal, this is now the default. The Az CLI and PowerShell module changes are coming soon.

[2020-02-11 00:07] #5797 closed

[2020-02-11 01:28] heaths commented on #9697
Could you clarify where in your sample code the exception is thrown? We also recommend moving away from the fluent APIs since these are not under active development.

In fact, we recommend moving to the new Azure.Security.KeyVault.* packages which support a much simpler authentication model, such as including the Azure.Identity package and just passing `new DefaultAzureCredential()`, which is opti

[2020-02-11 01:32] ramya-rao-a commented on #6993
The issue description has been updated with latest details on the expectation around the first preview for the .Net library

[2020-02-11 01:40] brjohnstmsft opened #9891 "[BUG] Client timeout can mask service issues"
**Describe the bug**
This was reported by a customer of Azure Cognitive Search, who was experiencing high latency involuntarily for 48+ hours. They raised a CSS ticket but the service team didn't investigate deeply because their telemetry didn't show any indication of service unavailability or throttling. Upon deeper investigation after escalation, telemetry showed that their requests were being c

[2020-02-11 01:40] brjohnstmsft commented on #9891
FYI @tg-msft @smaine

[2020-02-11 01:43] tg-msft commented on #9891
@pakrym @KrzysztofCwalina - What do you think about flipping the default Azure.Core timeout from 100s to 120s?

[2020-02-11 01:44] brjohnstmsft commented on #8740
FYI @AlexGhiondea

The justification for this feature is that it would make it easier for users to transition from using Search Explorer in the Portal to using the SDK. Perhaps another approach we could take is have the Portal generate SDK code in various languages for initializing `SearchParameters` (to be called `SearchOptions` or `SearchQuery` in the Track 2 SDK I believe)?

[2020-02-11 01:51] brjohnstmsft commented on #8738
FYI @AlexGhiondea Not sure if `FieldBuilder` will be part of the Track 2 .NET SDK GA milestone, but whenever it gets ported to Track 2, this needs to be fixed.

[2020-02-11 02:00] ramya-rao-a commented on #9841
@jsquire,

I synced with @maggiepint offline, and she is ok with renaming back to the old name to have the broken link fixed.

If we want to have an aka.ms link for this, then that is a decision for another day.
Let's rename the file and have the link fixed.

[2020-02-11 03:15] #9691 closed

[2020-02-11 03:17] maririos commented on #9461
a. and c. addressed in PR #9887
b. Using Cloud Shell might cause billing issues, so removing the option for now.
d. Addressed when we did changes from subscription key to API Key

[2020-02-11 03:17] #9461 closed

[2020-02-11 03:17] #9407 closed

[2020-02-11 03:59] SeanFeldman commented on #9874
Will it be an atomic operation? Sending/receiving a batch is atomic. If scheduling/cancelling will not be atomic, how will you handle partial failures?

[2020-02-11 04:02] AlexGhiondea commented on #9295
Yes, we are using `System.Text.Json` in our new library. @ylibrach can you share a bit more about the scenario in which you need to control the serialization?

[2020-02-11 04:15] SeanFeldman commented on #9879
This will make certain testing scenarios not possible.

[2020-02-11 04:16] SeanFeldman commented on #9877
Add major types mapping from Track 1 to Track 2?

[2020-02-11 05:26] JoshLove-msft opened #9895 "Investigate sharing internal code used by both Event Hubs and Service Bus"
Service Bus Track 2 is using a copied version of the Event Hubs AMQP wrapper. We should create a new directory and possible shared project for code that can be shared across messaging libraries. We can then compile in the shared files that are needed for each library. We could use a namespace like Azure.Messaging to keep things generic.

[2020-02-11 05:31] pakrym commented on #9891
I see how it would make our lives easier but wonder if this is something the customers would want. The typical request shouldn't take this long and if the response would never arrive I would rather client timeout earlier than later.

[2020-02-11 05:35] pakrym opened #9896 "Unify AsyncPageable/Pageable helper classes"
Now we have two versions: used by hand-written and generated SDKs

[2020-02-11 05:38] pakrym opened #9897 "Add test coverage for shared code used by code generator."
It would be covered by client library tests indirectly but having explicit tests is always better.

[2020-02-11 05:43] JoshLove-msft commented on #9877
This issue is about the inline XML docs. We will probably want to have a migration guide that would include mapping from Track 1 to Track 2.

[2020-02-11 05:54] Lingxi-Li opened #9898 "[Question] Newtonsoft.Json version mismatch issue where binding redirect is not applicable"
We develop an app extension that references LibA which in turns references Microsoft.Rest.ClientRuntime. LibA and ClientRuntime reference different versions of Newtonsoft.Json.
Passing Newtonsoft.Json object between LibA and ClientRuntime will cause a type mismatch issue. The original app that references LibA uses app-level binding redirect to resolve the issue. However, we cannot adopt this appro

[2020-02-11 09:07] vscodewinodws commented on #9697
Could you clarify where in your sample code the exception is thrown? We also recommend moving away from the fluent APIs since these are not under active development.

"after key vault auth part if i access any property ( property of azureobj ) to access virtual machine, web app , etc etc any resource i am getting this error"

in case of switching to another nugget package i will try it out but i t

[2020-02-11 10:40] macchmie3 commented on #9737
@heaths

wrapping ` var secret = _secretClient.GetSecret(key)?.Value?.Value; // GetSecret throws sometimes` with a lock statement fixes the problem - as predicted, but it seems like a dirty workaround for me.

[2020-02-11 10:53] kinelski commented on #9051
Issue solved by #9198.

[2020-02-11 10:53] #9051 closed

[2020-02-11 10:57] RemyaRoseTom opened #9900 "[QUERY] Service Bus client equivalent for Azure.ServiceBus ConnectivityMode"
**Replacement for ConnectivityMode and ServiceBusEnvironment.SystemConnectivity.Mode  in new Microsoft.Azure.ServiceBus.dll **
Microsoft.ServiceBus.Messaging.dll had an option to set the underlying wire-level protocol used to communicate with ServiceBus endpoint using ConnectivityMode for the current application domain
Example :
  ServiceBusEnvironment.SystemConnectivity.Mode = ConnectivityMode.Ht

[2020-02-11 12:55] thnk2wn commented on #9869
@jlian I'm not using a subscription, I'm connecting the `EventProcessorClient` directly to the IoT hub's built-in event hub compatible endpoint (IoT Hub Settings -> Build-in endpoints --> Events).

Perhaps therein lies the problem but telemetry messages at least work that way. The subscription requires me to pick and endpoint though so it's similar to IoT hub message routing at that point, albeit

[2020-02-11 13:48] jsquire commented on #9841
Roger that; will do.

[2020-02-11 15:00] SHARMA8 commented on #9380
@MPapst I am also working on a similar thing. Can you please share the changes you made?

@nemakam - Can you please share any update you may have on this? I would like to know how we are progressing on the new library.

Thanks

[2020-02-11 16:19] SeanFeldman commented on #9900
There's no identical option as there was in WindowsAzure.ServiceBus, but there is a `TransportType` (AMQP or WebSockets).  When you create a `MessageSender`/`MessageReceiver` (or other clients) you can either specify transport type or provide it via `ServiceBusConnection`. `ServiceBusConnectionStringBuilder` also supports it.

[2020-02-11 16:41] maririos commented on #9722
More questions:
- Default language? Could we enforce it in the SDK?
- Is the readme objective to show single operation? or batch operation

[2020-02-11 17:24] maririos opened #9901 "Text Analytics Track2 Preview3"

[2020-02-11 17:26] jlian commented on #9869
I'm not sure if I'm being clear. There's configuration on IoT Hub that you have to do to enable non-telemetry events either via routing or event grid. I can't tell if you ever enabled those configs or not. Yes IoT Hub itself can be the endpoint but you must first set it up.

Did you ever do something like this?

![image](https://user-images.githubusercontent.com/2320572/74261431-18aa7200-4cb0-11ea

[2020-02-11 17:26] maririos commented on #9091
PR #9849 will be merged after today's release. so moving to P3

[2020-02-11 17:27] maririos commented on #8709
@annelo-msft could you provide more info about what the purpose of the issue is?

[2020-02-11 17:28] maririos commented on #8710
@annelo-msft could you provide more info about what the purpose of the issue is?

[2020-02-11 17:33] maririos commented on #8897
Closing this one

[2020-02-11 17:33] #8897 closed

[2020-02-11 17:47] a4r5twer opened #9902 "[BUG] azureServiceTokenProvider not working on macOs when the region is set to china"
**Describe the bug**
build keyvaultclient with azureServiceTokenProvider will thow error when you set your region to china in macOs

**Expected behavior**
[code]
this code get run successfully
**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**

Set macOs region to china ,after i set the region to United states everything works fine

**Environment:**
Microsoft.Azure.Key

[2020-02-11 17:47] maririos commented on #9722
When calling AnalyzeSentiment, what happens if the service can't tell the sentiment of the sentence?
`undefined`? error? neutral?

[2020-02-11 17:48] maririos commented on #8899
Question added to #9722

[2020-02-11 17:53] #9406 closed

[2020-02-11 17:58] maririos commented on #8943
Hi @czitelli .
Which library and version are you using?

[2020-02-11 18:01] maririos commented on #9079
UX study showed that library as is, is good and there isn't a necessity to break functionality in multiple clients.
For now I am going to close it.
Feel free to re-open in case there is more investigation/work to be done here

[2020-02-11 18:01] #9079 closed

[2020-02-11 18:10] thnk2wn commented on #9869
As mentioned the existing IoT Hub message routing just routed all event types to Service Bus Queues. I didn't setup routing from the IoT hub to an Event Grid (and when I tried I get "There are no Azure Event Hub resources in subscription '<subscription>'."). That might make sense to me if I was routing to another Event Grid endpoint but not the hubs built-in endpoint.

I don't understand your last

[2020-02-11 18:12] heaths commented on #9697
The older Microsoft.Azure.* packages are not deprecated, but those for which Azure.* packages exist they are just no longer under active development. The fluent packages haven't been updated in quite a while. But authentication is much easier in Azure.* packages.

Please let us know whether upgrading works or not.

[2020-02-11 18:18] czitelli commented on #8943
Hi @maririos, how it's going?
Details
Library: Microsoft.Azure.CognitiveServices.Vision.ComputerVision
Version: 5.0.0
Please, let me know if the issue is fixed.
Regards.

[2020-02-11 18:22] jlian commented on #9869
I don't understand. Are your clients reading from the Service Bus Queue or the IoT Hub's Event Hub compatible built-in endpoint? Or are you saying that you're reading from SBQ today and would like to change?

and

are confusing to me because they're conflicting statements. Are you using the message routing feature in IoT Hub or not? I'm saying you *must* use the routing feature if you want the twi

[2020-02-11 18:39] jlian commented on #9869
Also, do you want device connect/disconnect events?

[2020-02-11 18:54] maririos commented on #9552
Text Analytics Preview.2 Released: https://www.nuget.org/packages/Azure.AI.TextAnalytics with corresponding release notes https://github.com/Azure/azure-sdk/blob/master/releases/2020-02/dotnet.md#text-analytics-changelog

[2020-02-11 18:54] #9552 closed

[2020-02-11 18:57] thnk2wn commented on #9869
Again, using IoT hub message routing with Service Bus Queues today, evaluating if Event Grid (or other mechanism) would provide a way to receive the same events more directly in a hybrid model from on-premise.

The existing IoT hub message routing to SB queues works fine and nothing has been modified there for this effort in question.  For twin changed events, there's nothing currently I can route

[2020-02-11 19:03] jlian commented on #9869
You can get the twin change events directly via IoT hub's built-in endpoint. Just setup routing like this

![image](https://user-images.githubusercontent.com/2320572/74269118-da1bb400-4cbd-11ea-8f45-ffbfcd1ad003.png)

No event grid or service bus needed, if you can make your clients work with the built-in endpoint

The only thing missing is device connect/disconnect events, which you will need to

[2020-02-11 19:27] chidozieononiwu commented on #9780
This was fixed yesterday. Tool worked today for Text Analytics https://github.com/Azure/azure-sdk-for-net/pull/9906. Will Close this.

[2020-02-11 19:27] #9780 closed

[2020-02-11 19:31] thnk2wn commented on #9869
You have an "events" endpoint though in those routes. What is that endpoint pointing to? A custom Event Hub endpoint? I can't pick the IoT hub itself as the event endpoint and I have no Event Hub resource created for that. I can create one if it's required; it wasn't for telemetry but if needed for twin change so be it.

[2020-02-11 19:37] jlian commented on #9869
The events endpoint is the [built-in endpoint](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-read-builtin) , which is essentially IoT Hub itself - doesn't require you to create any other Azure resources

[2020-02-11 19:46] maririos commented on #8943
Thanks!
@annelo-msft could you help pointing here to someone from ComputerVision?

[2020-02-11 19:47] MPapst commented on #9380
@SHARMA8, I am sorry, I am currently away on vacation without access to the actual code. But you can take a look on the implementation of ManagedIdentityTokenProvider as mentioned earlier. The necessary change is to cremte an own implementation of the same functionality an replace the static field of the AzureServiceTokenProvider with an instance you are injecting through the ctor.

@serkantkaraca

[2020-02-11 19:49] maririos commented on #9241
Thanks @assafi . This has been fixed in Preview 2

[2020-02-11 19:49] #9241 closed

[2020-02-11 19:53] maririos commented on #9242
We implemented what @annelo-msft is mentioning in P2.
@assafi please let us know if there are still concerns in this area

[2020-02-11 19:55] thnk2wn commented on #9869
Ahh, I was clicking on +Add Endpoint rather than the dropdown. Thanks, that worked. Seeing the twin change events now in the event processor. For connection/disconnection I can probably keep the existing event grid subscription that routes to a Service Bus queue or look into event grid setup later.

[2020-02-11 19:55] #9869 closed

[2020-02-11 19:58] maririos commented on #9243
As we were thinking on leaving the singular methods as simple as possible, we don't have that possibility. For batch methods though, we do allow it.

Do you think we should revisit this decision?

[2020-02-11 20:00] sebader commented on #9208
@lmolkova is there any update on this after we chatted before Christmas? thanks!

[2020-02-11 20:13] sebader opened #9908 "[Azure Monitor] Expected errors are reported in Application Insights for Blob storage operations"
**Describe the bug**
I'm using the Azure.Messaging.EventHubs.Processor (5.0.1) with an EH with 32 partitions. Every partition gets checkpointed every 10 seconds (if there was new data arriving). Now I started to notice in Application Insights, that some of the checkpointing calls to Blob storage fail with a 412 error code.

![image](https://user-images.githubusercontent.com/11445087/74274664-c0588

[2020-02-11 20:25] relentless opened #9909 "Recursive resource lookup bug when trying to build"
**Describe the bug**
I've got an Azure Function App project which builds on my other laptop and on Azure DevOps, but on this laptop I get an error.  I got the same error when I followed the tutorial to create an Azure Function with VS Code on this laptop.

**Expected behavior**
The project builds successfully

**Actual behavior (include Exception or Stack Trace)**
Error		Metadata generation failed

[2020-02-11 20:29] brjohnstmsft commented on #9828
@PrimeHydra I've updated the documentation. The changes should go live some time later today. I added a note at the top of the "simple" and "full Lucene" syntax pages explaining that they're not the same as the filter syntax, then added a section to [here](https://docs.microsoft.com/azure/search/query-odata-filter-orderby-syntax#constants) explaining how string escaping works in OData.

Thanks for

[2020-02-11 20:45] brjohnstmsft commented on #9891
@pakrym This should only happen in atypical cases, but when it does, we'd like to be able to diagnose the issue from our telemetry. Otherwise, we can't improve the service to reduce the likelihood of such issues in the future.

If the decision is not to do this in Azure Core, we will advocate strongly to do it in the Track 2 .NET SDK for Search specifically. So the debate ought to be whether you t

[2020-02-11 21:05] lmolkova commented on #9208
@sebader yes, we are still working on this.
Besides UX changes it still depends on https://github.com/Azure/azure-sdk-for-net/issues/9075 Azure SDK side, https://github.com/microsoft/ApplicationInsights-dotnet/pull/1674 on Application Insights side.

We are clarifying the timeline with UX  team.

[2020-02-11 21:09] sebader commented on #9208
thanks for the update @lmolkova !

[2020-02-11 21:31] JoshLove-msft opened #9911 "Implement receive methods"
- Receive a message using pull
  - Receive in PeekLock mode
  - Receive in ReceiveAndDelete mode
- Settle messages
  - Complete
  - Abandon
  - Defer
  - Deadletter

Current plan is to have this ready by Feb 19th

[2020-02-11 21:32] tg-msft commented on #9908
//fyi @jsquire

[2020-02-11 21:33] tg-msft commented on #9902
//fyi @heaths

[2020-02-11 21:35] jsquire commented on #9908
@kinelski:  Can you take a look and see if this is because of the conditional access that we're making with ownership requests?   I'm trying to determine if these are expected and either Event Hubs or Storage is surfacing something that it shouldn't as an error.

[2020-02-11 21:46] heaths commented on #9902
The azure CLI is failing to load:
[code]
@iscai-msft or @chlowell any thoughts to fix this?

@a4r5twer do you get a similar issue when you use the azure CLI (e.g. `az keyvault key list (args)`) with your region set to China?

[2020-02-11 21:47] SeanFeldman commented on #9886
Historically, there was always some pain around `BrokeredMessage`/`Message` with regards to the broker set properties. Specifically, to be able to test certain scenarios w/o receiving a message but rather constructing it, an exception would be thrown. With some reflection, it could be worked around, but still wasn't straight forward. The idea of having two models could alleviate some of that.

[2020-02-11 21:53] JoshLove-msft opened #9913 "Add ClientBuilderExtensions to be used for dependency injection"
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377295254

[2020-02-11 23:07] chlowell commented on #9902
Could be Azure/azure-cli#11849

[2020-02-12 00:05] Max9252 opened #9917 "[BUG]AzureServiceTokenProvider doesn't support the connection string for User Assigned identity"
User Assigned Identity connection string is not supported for AzureServiceTokenProvider as documented. https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication

From the documentation I setted the connection string as RunAs=App;AppId=<User_Assigned_Identity_Client_Id> in my App Service as an app settings

But its throwing the following error:

Unhandled exception. System.

[2020-02-12 00:06] JoshLove-msft opened #9918 "Clean up constants"
- Consolidate resource files into one file if possible - https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377123197
- Rename Resources - https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377104113
- Remove constants that apply only to EH or SB Track 1

[2020-02-12 00:07] JoshLove-msft opened #9919 "Rename *Range APIs to *Batch"
e.g. https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377899420

[2020-02-12 00:10] JoshLove-msft opened #9920 "Consider exposing Connection ctors"
@nemakam mentioned that this was necessary for Transactions.
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377259005

[2020-02-12 00:20] nemakam commented on #9900
@RemyaRoseTom what is the scenario that you are looking for?
Like @SeanFeldman mentioned, if you want to use HTTPs port (i.e, websocket), then you can change the `TransportType` on the connection.
Closing this issue. Let me know if you have any other question and I'll reopen.

[2020-02-12 00:20] #9900 closed

[2020-02-12 00:25] JoshLove-msft opened #9921 "Determine how to implement retries"
Do it in the method body like EH or have an abstraction to handle it
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377117576

[2020-02-12 00:28] JoshLove-msft opened #9922 "Solidify client hierarchy"
Keeping in mind sessions, push model receive.
Also consider naming.
https://github.com/Azure/azure-sdk-for-net/pull/9842#discussion_r377436815

[2020-02-12 00:45] seanmcc-msft commented on #9490
Hi @nadirbad, We have constructors taking ```Azure.Core.TokenCredential``` on all our Data Lake clients (```DataLakeServiceClient```, ```DataLakeFileSystemClient```, ```DataLakeFileClient```, etc.).  To construct a ```TokenCredential```, I'd recommend taking a look at https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity.

[2020-02-12 01:33] kinelski commented on #9908
@sebader Thank you for reporting this issue.

Could you tell us how many Event Processor Client instances are being used in your scenario? This might help us understand the nature of the problem.

[2020-02-12 01:55] pakrym commented on #9891
I appreciate the desire to get more telemetry but clients waiting for the service to timeout is not the only way to accomplish it. If the case is atypical can't you get the same information just by logging requests that take longer than 60 secs?

Do we know that the service timeout would always kick in or would we make clients wait longer just to get the same client disconnect timeout?

[2020-02-12 02:01] brjohnstmsft commented on #9891
@pakrym I've scrubbed some details from my initial description of the issue to avoid disclosing internal details of the service, but to summarize -- The reason we're not getting the telemetry we need in this situation is because the API frontend is canceling the request due to client timeout, but the telemetry we need is from another service that hasn't timed out yet. The API frontend in this case

[2020-02-12 02:09] assafi commented on #9243
I do, depending on the cost of course. Unfortunately, a very common pattern we see is customers start with the simple calls, and never optimize with batch. So I would say we still need that level of detail. Having said that, if it's too much work or makes other things uglier it's probably not worth it.

[2020-02-12 02:22] maririos commented on #9243
Thanks! I will look into it

[2020-02-12 05:14] rcbevans opened #9927 "[BUG] Cannot deserialize Microsoft.Azure.Search.Models.SearchResult"
**Describe the bug**
The latest version of the the `Microsoft.Azure.Search.Models.SearchResult` class has Document with no public setter, and no JsonProperty attribute for deserialization.  As a result, the Document property cannot be deserialized.  Score and Highlights deserialize correctly.

We return a list of Microsoft.Azure.Search.Models.SearchResult<T> from an API, and our integration tests

[2020-02-12 05:59] sebader commented on #9908
________________________________
It’s auto scaling between 4 and 32 instances on AKS depending on the load.

[2020-02-12 07:09] relentless commented on #9909
Sorry, that should be Windows 8.1.  My other laptop (which it works on) is Windows 7.

[2020-02-12 11:14] relentless commented on #9909
Here's the dotnet info:

.NET Core SDK (reflecting any global.json):
 Version:   3.1.101
 Commit:    b377529961

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID:         win81-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.101\

Host (useful for support):
  Version: 3.1.1
  Commit:  a1388f194c

.NET Core SDKs installed:
  1.0.4 [C:\Program Files\dotn

[2020-02-12 14:13] jsquire commented on #9927
//cc: @tg-msft, @AlexGhiondea

[2020-02-12 14:54] kwaazaar opened #9930 "[Feature Request] Allow to specify resourceUri for GetTokenAsync on TokenCredential"
**Library or service name.**
Azure.Core /  Azure.Identity

**Is your feature request related to a problem? Please describe.**
I would like to be able to specify a resource for GetTokenAsync on TokenCredential.cs and its derived implementations, especially DefaultAzureCredential. When I can specify resource, I can use it to get tokens for other resources that are protected with AzureAD than just Az

[2020-02-12 16:30] brjohnstmsft commented on #9927
@rcbevans What you're trying to do is not a supported scenario, but you might be able to achieve it if you use the `DeserializationSettings` property of `SearchIndexClient` when calling `JsonConvert`. Let me know if this workaround unblocks you.

That said, I would advise you not to take a dependency on the SDK's model classes in your own API surface. That's a degree of coupling that will come bac

[2020-02-12 18:38] maririos commented on #9384
Done in PR https://github.com/Azure/azure-sdk-for-net/pull/9614

[2020-02-12 18:38] #9384 closed

[2020-02-12 18:39] maririos commented on #9354
@annelo-msft could you provide more info about what the purpose of the issue is?

[2020-02-12 19:19] serkantkaraca commented on #9380
@MPapst yes please, we can close.

[2020-02-12 20:47] jsquire commented on #9930
//cc: @schaabs, @pakrym

[2020-02-12 21:25] jsquire opened #9934 "[Feature Request] Consider allowing the ability to opt-out of distributed tracing for expected HTTP error responses"
# Summary

In some situations, service calls return an HTTP response code in the range normally interpreted as an exception though that response is an expected and normal scenario to the consumer of the associated client library.   For example, when using an `If-Match` constraint with the Storage client library when updating metadata for a blob, a mismatch in the ETag results in an HTTP 412 (Preco

[2020-02-12 21:25] jsquire commented on #9934
//cc: @pakrym, @tg-msft

[2020-02-12 21:33] pakrym commented on #9934
cc @lmolkova

[2020-02-12 21:57] maririos commented on #9722
WIP

Specific questions:
- For linked entities, what is the purpose of entity.id? how is entity.name != entity.id?
- Could we expand in the difference between Key Phrase and Entity? What are user scenarios for Key Phrase? What are examples we can provide in our docs?
- When there is an error because the document exceeds the character limit, could the service return the max amount of characters sup

[2020-02-12 22:19] jsquire commented on #9908
@sebader:  Apologies for the difficulties and thank you for bringing this to our attention.   While we certainly agree that having these errors appear is confusing and not the experience that we want to offer it is, unfortunately, by-design in the current implementation.

For context, the diagnostics emitting these errors are coming from the Storage client that Event Hubs uses, which is based enti

[2020-02-12 22:25] maririos commented on #9795
Added to #9722

[2020-02-12 23:04] maririos commented on #8710
Do we need mocking tests?

[2020-02-12 23:11] maririos commented on #9317
If the endpoint is not present in the container, returning a 404 is ok.
Closing for now

[2020-02-12 23:11] #9317 closed

[2020-02-12 23:17] maririos opened #9938 "Is the readme objective to show single operation? or batch operation"

[2020-02-12 23:46] kristapratico commented on #9722
* Should we consider making the user explicitly pass `"none"` instead of the empty string `""` to the service in the case that they do not want to use the default country hint? This can be handled in the SDK, but it might make sense to have the service also adopt this. Issue [here](https://github.com/Azure/azure-sdk-for-python/issues/8946)

[2020-02-12 23:49] lmolkova commented on #9934
Distributed tracing goal is to provide observability. We are tracing both: successful and unsuccessful requests i.e. you can tell that checkpointing failed or took longer than expected because there was something happening underneath. E.g. if you have a storage outage or configuration issue, and you know it's not EventHub SDK that misbehaves or it's not your app issue, but external dependency issu

[2020-02-12 23:59] pakrym opened #9939 "Add README.md to Azure.Security.KeyVault.Secrets.Extensions.Configuration"

[2020-02-13 00:01] lmolkova commented on #9908
I've left comment here https://github.com/Azure/azure-sdk-for-net/issues/9934#issuecomment-585476448 and basically this is the Azure Monitor (Application Insights) approach to mark 4xx as failures.

If we attempt to change this from Azure SDK side, it will become inconsistent with the rest of Azure Monitor logic handling 4xx status codes for incoming and outgoing requests .

One approach we provid

[2020-02-13 00:05] scbedd opened #9940 "Some packages not showing up in ToC on Docs.MS.com"
Specifically:
 - `Azure.Storage.Blobs.Batch`
 - `Azure.Storage.Common`

They aren't where we expect them to be.

Unfortunately, this is not an onboarding issue:
![image](https://user-images.githubusercontent.com/45376673/74388881-6eb30e80-4db1-11ea-9e19-5291f6e3f3a6.png)

As our CI configuration is both up to date and correct. The CI build is even downloading and installing these two packages. We

[2020-02-13 00:17] schaabs commented on #9917
@nonik0 Can you take a look at this please.

[2020-02-13 02:33] tg-msft commented on #9934
I created a draft PR to patch up Storage as suggested at #9944.

[2020-02-13 02:40] JoshLove-msft commented on #9886
Considering something like this:

    public class Message
    {

        public Message();
        public Message(ReadOnlyMemory<byte> body);
        public static string DeadLetterErrorDescriptionHeader;
        public static string DeadLetterReasonHeader;
        public ReadOnlyMemory<byte> Body { get; set; }
        public string ContentType { get; set; }
        public string CorrelationId {

[2020-02-13 03:22] SeanFeldman commented on #9886
[code]

[2020-02-13 04:18] maririos commented on #9722
Email and meeting invite sent

[2020-02-13 06:06] JoshLove-msft commented on #9874
I believe it is atomic as it is supported by the service itself.

Related https://github.com/Azure/azure-sdk-for-net/issues/7921

[2020-02-13 08:55] sebader commented on #9908
@jsquire thanks for looking into it and the thorough the explanation!

@lmolkova First of all I didn't have any idea where the error came from. I just saw it popping up in my monitoring. From a user perspective, of course you get concerned if there are unexplained errors. A user does not know that those in this case represent "works-as-expected".  If I as a user see errors, which seem to be relate

[2020-02-13 11:58] techygarg commented on #6450
Any good working solution of this problem yet? I am also facing the same issue but the interesting part is that now it is happening with a random number, not with 5000.

[2020-02-13 12:40] #9380 closed

[2020-02-13 12:45] msioen commented on #9294
@serkantkaraca do you have an update on this issue?

[2020-02-13 14:17] william3n commented on #4190
Many thanks, to @torhovland, you rock!

[2020-02-13 15:37] twentytwokhz opened #9951 "[BUG] Storage Queues: Method QueueClient.ReceiveMessagesAsync does not retrieve invisible queued messages"
**Describe the bug**
When calling the ReceiveMessagesAsync on a queue containing messages that have visibilityTimeout set, no data is retrieved and the response list is empty

**Expected behavior**
We should be able to see the list of queue messages (based on filter criteria in call)

**Actual behavior (include Exception or Stack Trace)**
No message is retrieved from the queue

**To Reproduce**
St

[2020-02-13 17:29] annelo-msft commented on #9711
KrzysztofCwalina15 hours ago
This type should not be in this package. Could this be in Azure.Core, renamed to simply KeyCredential?

ctstone15 hours ago
Specifically it is an ApimCredential. Header name is always Ocp-Apim-Subscription-Key. If this is not too specific for Core, then yes.

[2020-02-13 17:45] annelo-msft opened #9954 "Cognitive: Resolve issue of Guidelines-required Models namespace"
For Cognitive, the word Models has a specific meaning - i.e. a machine-learned Model.  Providing a Models namespace that isn't about that is likely to be confusing to customers.

[2020-02-13 17:45] annelo-msft commented on #9954
@KrzysztofCwalina @ctstone

[2020-02-13 18:14] SeanFeldman commented on #9874
I was aware that completing messages using a batch of lock tokens was a supported broker operation.
Was not aware of scheduling/completion was supported. @axisc is that supported now?

[2020-02-13 18:22] pakrym opened #9955 "Add readme for Azure.Security.KeyVault.Secrets.AspNetCore.DataProtection"

[2020-02-13 19:25] pakrym opened #9956 "[Flaky test] RetryExponentialServerBusyShouldSelfResetTest is flaky"
Error message
[code]

Stack trace
[code]

[2020-02-13 19:26] pakrym opened #9957 "[Flaky test] Should_retry_when_throttled_and_no_ambient_transaction_is_detected"
Error message
[code]

Stack trace
[code]

[2020-02-13 21:00] pakrym opened #9960 "Add Azure.Storage.Blobs.AspNetCore.DataProtection readme"

[2020-02-13 21:39] seanmcc-msft commented on #9820
@tg-msft, what do you think?  Seems like a reasonable fix.

[2020-02-13 23:57] annelo-msft commented on #9699
New feedback from Krzysztof - Custom to go in a Custom namespace, all the prebuilt in the main namespace.  Model types to go in Models, except that Model means something specific in ML and we should consider this.

[2020-02-14 00:28] ctstone commented on #9699
I left a comment in apiview but it’s worth considering that custom accounts for about 60% of our current traffic. Should we relegate our most used service to a sub namespace?

[2020-02-14 00:45] natelaff opened #9962 "Can't use ApplicationTokenProvider in KeyVaultClient"
The following code does not work with KeyVaultClient. It always returns unauthorized.

[code]

Instead you have to use something like...

[code]

Why doesn't ApplicationTokenProvider work for KeyVaultClient? This pattern works for all my other clients such as SqlManagementClient, DnsManagementClient and StorageManagementClient.

All permissions for this client are set properly (the callback method

[2020-02-14 01:33] twsouthwick opened #9963 "Importing certificates into Azure KeyVault fails due to bad base64 encoding"
**Describe the bug**
I'm wanting to import a certificate into KeyVault created by LetsEncrypt. When I do, it fails with a 400 BadRequest error.

**Expected behavior**
I expect the certificate to be imported with no exceptions.

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**

[code]

**Environment:**
 - Name and version of the Library package used: Azure.Security.Ke

[2020-02-14 01:33] twsouthwick commented on #9963
I was able to get it to work by modifying the following lines:

https://github.com/Azure/azure-sdk-for-net/blob/d60d77db6ea287478fdd22c4b13fd1c5900be86f/sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ImportCertificateOptions.cs#L74-L78

to look like the following:

[code]

Not sure why there's the custom base64 processing, but it seems to break certificate import.

[2020-02-14 01:59] chidozieononiwu commented on #8838
https://github.com/Azure/azure-sdk-for-net/pull/9964

[2020-02-14 02:04] nemakam commented on #8443
@erickbp , I went through this issue again. Its my bad that I pointed you to the service as I didnt understand the concern properly.
This behavior is by design.
This is due to the concept of "prefetch". You can read about it here - https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-prefetch.
In short, you requested for 500 messages, and service started sending 500 messages to

[2020-02-14 04:04] pakrym commented on #9963
cc @heaths

[2020-02-14 04:41] annelo-msft opened #9968 "Form Recognizer: Use LRO for analyzer operations?"
Per Krzysztof: Is it OK to model REST LROs as non-LRO client methods?

ctstone:
All of the "extract" functions are LROs. Do we have the flexibility to bypass the "StartThing" naming pattern here?

Krzysztof:
I would love to have a discussion (at the arch board) on whether it's reasonable for the SDK to expose REST LROs as normal (non-LOR) async methods. I see training as something that makes sense

[2020-02-14 04:42] annelo-msft commented on #9968
@ctstone @mayurid

[2020-02-14 04:44] annelo-msft commented on #9699
It's a good question.  Do we think that this will be the same pattern for customer who start using the service after GA?

[2020-02-14 05:03] annelo-msft opened #9969 "Form Recognizer: Standardize on naming around Recognize/Extract/Analyze"
We should standardize on Recognizer/Recognize; Extractor/Extract; Analyzer/Analyze for Client/Method names.

Agreed. I find it strange that recognizers don't have methods called "recognize".

I agree we should standardize, too.  My original thinking was that a Form Recognizer service is dealing in recognizers, but to get the data out the thing you’re doing is extracting.  In TextAnalytics, we had

[2020-02-14 05:03] annelo-msft commented on #9969
@ctstone @mayurid @kristapratico @samvaity

[2020-02-14 05:05] annelo-msft opened #9970 "Form Recognizer: Naming for StartTraining: Supervised/Unsupervised"
Regarding the naming of
- StartTraining()
- StartTrainingWithLabels()

Sometimes users just don't understand a concept and no amount of renaming will fix that. In such cases, it's often better to just "hide" one of the options so that the users are not forced to make decisions while they don't understand the concepts. And so, if they don't understand what "WithLabels" means, but they are forced to

[2020-02-14 05:06] annelo-msft commented on #9970
@ctstone @mayurid @kristapratico @samvaity @jeremymeng

[2020-02-14 05:09] annelo-msft opened #9971 "Form Recognizer: Design Training Return Types"
Re: TrainingResult and TrainingWithLabelsResult:

1. Would there be some polymorphic relationship between these return types?

Yes, we could have all of TrainingInfo, TrainingInputResults, and TrainingErrors (however we call them) on a base type that these two inherit form.  In TextAnalytics we had this for model output types and called it TextAnalyticsResult.  I’d propose FormRecognizerTrainingRe

[2020-02-14 05:09] annelo-msft commented on #9971
@ctstone @mayurid

[2020-02-14 05:17] annelo-msft opened #9972 "Cognitive: How should we separate training and prediction in Cognitive APIs?"
Should we separate them the same way across all the cognitive services?

Have a look at Custom Vision and the other services that have training APIs.  Are there patterns that apply across cognitive?

How entry-level vs. ML-terminology-focused should the training APIs be based on our understanding of customers?

If we explicitly decide that there are two different customer groups we are serving wit

[2020-02-14 05:17] annelo-msft commented on #9972
@ctstone @mayurid

[2020-02-14 05:19] annelo-msft opened #9973 "Form Recognizer: Allow serialization to static types for Predefined Model output"
Should we separate them the same way across all the cognitive services?

Have a look at Custom Vision and the other services that have training APIs.  Are there patterns that apply across cognitive?

How entry-level vs. ML-terminology-focused should the training APIs be based on our understanding of customers?

If we explicitly decide that there are two different customer groups we are serving wit

[2020-02-14 05:19] annelo-msft commented on #9973
@ctstone @mayurid

[2020-02-14 05:23] annelo-msft opened #9974 "Form Recognizer: Decide whether Receipt properties should have confidence, bounding box at top level."
The current APIView design has strong-typed values on Receipt, with an additional RawFields property where each predefined field is of type ExtractedPredefinedField, which has Confidence, Name, Value, and BoundingBox on it.  Are mostly advanced users interested in these, and willing to work a little harder to find them?  Or does Confidence make sense to everyone and should be exposed at the same l

[2020-02-14 05:24] annelo-msft commented on #9974
@ctstone, @mayurid

[2020-02-14 06:07] annelo-msft opened #9975 "[Design] [Form Recognizer | Table Indexer] Implement indexer on ExtractedTable to index into Cells array"
## Summary

Tables cells are available in Form Recognizer output in order to use them in application UI, rather than for data analysis.  Given this, providing a table indexer that allows callers to index into a given cell in the table by `row`, `col`, is a more idiomatic approach than having an array of cells users must iterate through to find a given cell.

One question that arises is how to hand

[2020-02-14 06:07] annelo-msft commented on #9975
@ctstone @mayurid

[2020-02-14 06:10] annelo-msft opened #9976 "Form Recognizer: Decide which should be enum-like structs, and which regular enums"

[2020-02-14 06:10] annelo-msft commented on #9976
@ctstone @mayurid

[2020-02-14 06:11] annelo-msft opened #9977 "Form Recognizer: Move from arrays to Collections"
Here and in a few other places I see below, collections are preferred over arrays in .NET guidelines: https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections#choosing-between-arrays-and-collections

Returning an ICollection<T> or, if these are read-only, an IReadOnlyCollection<T> is easy to consume and mock, and in the latter case ensures the underlying collec

[2020-02-14 06:11] annelo-msft commented on #9977
@ctstone @mayurid

[2020-02-14 06:12] annelo-msft opened #9978 "Form Recognizer: TrainingResult name too general"

[2020-02-14 06:12] annelo-msft commented on #9978
@ctstone @mayurid

[2020-02-14 06:13] annelo-msft opened #9979 "Form Recognizer: Give client and model types a common prefix."
KrzysztofCwalina3 days ago
If we keep all the scenario specific clients in one namespace, I think it would be good to name the client and its model types with a common prefix. This way they will be grouped together in docs, object browser, intellisense, etc.

[2020-02-14 06:14] annelo-msft commented on #9979
@ctstone @mayurid

[2020-02-14 06:15] annelo-msft opened #9980 "Form Recognizer: Address issue of memory overhead of model types."
Models in this library will be very large, and we should address their memory overhead.

Need to measure whether or not to address this.

[2020-02-14 06:15] annelo-msft commented on #9980
@ctstone @mayurid

[2020-02-14 06:58] heaths commented on #9963
Most - but seemingly not all, as you found - byte arrays are base64url-encoded, but the REST API does document base64, yes:
* https://docs.microsoft.com/en-us/rest/api/keyvault/importcertificate/importcertificate#request-body

Good catch! However, MergeCertificate isn't so specific:
* https://docs.microsoft.com/en-us/rest/api/keyvault/mergecertificate/mergecertificate#certificatebundle

Certificat

[2020-02-14 07:19] heaths opened #9981 "July release of Key Vault for .NET"
# Bugs

- [x] KeyVault - SecretClient.GetSecret(string key) return Status: 401 (Unauthorized) (#9737)
- [x] JsonWebKey is not writeable (https://github.com/azure/azure-sdk-for-net/issues/12084)
- [x] The return value of issuer name always be null (#10908)
- [x] KeyResolver requires extra "get" permissions (#11574)

[2020-02-14 07:44] wantedfast opened #9982 "Update Microsoft.Azure.Management.LabServices.Tests to SDK Type"
[PR#6536](https://github.com/Azure/azure-sdk-for-net/pull/6536) update Mgmt SDK project to SDK type. But Microsoft.Azure.Management.LabServices.Tests was missed. The whole solution not working now. Let's update this project to SDK type.

**Replace**
 _Project("{**FAE04EC0-301F-11D3-BF4B-00C04F79EFBC**}") = "Microsoft.Azure.Management.LabServices.Tests", "tests\Microsoft.Azure.Management.LabService

[2020-02-14 07:52] #9497 closed

[2020-02-14 08:02] wantedfast commented on #9873
Hi, @daviddowning
Thanks for reporting this issue. We create a new issue [#9982](https://github.com/Azure/azure-sdk-for-net/issues/9982) to track this. Thanks!
@jongio

[2020-02-14 10:57] krzysztof commented on #9971
Please correct the @ mention to the correct Krzysztof

[2020-02-14 14:11] a4r5twer commented on #9902
@heaths
![image](https://user-images.githubusercontent.com/37093759/74537964-14af7600-4f76-11ea-8194-8e71cc02ca1b.png)
hi heaths after setting my location to china i can get the keyvault list
and i can download it to local by az keyvault secret download --file command as a txt

[2020-02-14 14:22] jsquire commented on #9962
//cc: @heaths

[2020-02-14 15:43] jsquire opened #9983 "Create the Service Bus client library contributing guide"
# Summary

In order to assist developers who wish to contribute to the Service Bus client, it would be helpful to present a contributing guide that focuses on general information for about the development process, repository and standard.   Most important, the guide should focus on configuring the local environment for test runs and other development activities.

# Scope of Work

Create the contri

[2020-02-14 16:18] heaths commented on #9962
Key Vault used a different authentication scene for the service, necessitating the other code like you showed.

However, our newer Azure.Security.KeyVault.* packages - and the rest of the Azure.* packages - support much simpler authentication: just pass a new Azure.Identity.DefaultAzureCredential. These libraries are also faster and allocate less memory. The older packages will be getting critical

[2020-02-14 16:19] heaths commented on #9962
Closing as by design. The code sample you posted is required to authenticate to Key Vault.

[2020-02-14 16:19] #9962 closed

[2020-02-14 16:20] chradek opened #9984 "Test in Azure Stack and document any workarounds"
This issue is to track testing the Event Hubs track2 SDK in Azure Stack including the storage blob checkpoint store and document any workarounds needed.

- [x] Test Event Hubs track 2 SDK in Azure Stack
- [x] Test Event Hubs with Storage Blob checkpoint store in Azure Stack
- [x] Document any workarounds needed to support checkpointing.

To validate that Event Hubs is working correctly, we should

[2020-02-14 16:45] ab-cognassist commented on #8993
Hi,  Do we know when this will be release, Thanks

[2020-02-14 17:12] maririos commented on #8899
A sentence will always return a sentiment as the service returns the arg-max across the label scores., so no need to have "null sentiment"

[2020-02-14 17:12] #8899 closed

[2020-02-14 17:19] maririos commented on #8713
Just curious, @kristapratico were you looking into this?

[2020-02-14 17:19] maririos commented on #9091
PR merged

[2020-02-14 17:19] #9091 closed

[2020-02-14 17:22] maririos opened #9985 "SentenceSentiment shouldn't have an option for mixed label."
The model currently works by assigning Positive/Negative/Neutral label to sentences, and only if these are in-conclusive will the entire document be mixed.

[2020-02-14 18:48] heaths commented on #9902
How exactly are you setting your locale to China? If setting `LANG` to something like `LANG=zh-CN` could you try `LANG=zh-CN.UTF-8`?

[2020-02-14 18:50] heaths commented on #9902
Also, try `az login` (run `az logout` first if you're already logged in). It's possible that enumerating keys in Key Vault doesn't run through the same code path.

[2020-02-14 19:35] heaths commented on #9963
We checked our generation code and `"format": "byte"` should indeed be base64-encoded, not base64url-encoded (separate value).

[2020-02-14 19:41] heaths commented on #9963
I'll go ahead and make the change because we'll need to fix recorded tests, if that's okay @twsouthwick. I can talk you through how to do the latter if you really want to contribute a PR since we don't have public docs on it yet (we're working on it).

[2020-02-14 19:53] twsouthwick commented on #9963
Sounds good to me. I was wondering how the tests worked for this :)

[2020-02-14 20:00] twsouthwick opened #9986 "MergeCertificateAsync does not serialize request body"
**Describe the bug**
When trying to call `MergeCertificateAsync` an exception is thrown.

**Expected behavior**
That the API is called with no error.

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**

[code]

**Environment:**
 - Name and version of the Library package used: Azure.Security.KeyVault.Certificates v4.0.0
 - Hosting platform or OS and .NET runtime version

[2020-02-14 20:02] twsouthwick commented on #9986
@heaths I found this while exploring #9963, but is different in that

https://github.com/Azure/azure-sdk-for-net/blob/0eb893cfda1a9b39801d414ec77ce753eec43868/sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs#L1443

does not pass through the options. It appears that the sync version has the same issue.

[2020-02-14 20:20] #9275 closed

[2020-02-14 22:02] #9722 closed

[2020-02-14 22:05] maririos commented on #9795
Decision was to leave the name as it is as the information it contains is used by only 4% of the customers.

[2020-02-14 22:05] #9795 closed

[2020-02-14 22:07] maririos opened #9989 "For type LinkedEntity, we are going to rename Id to DataSourceEntityId"

[2020-02-14 22:07] snakefoot opened #9990 "[FEATURE REQ] Update Microsoft.Rest.ClientRuntime to use Newtonsoft.Json v11.0.2"
**Library or service name.**
- [Microsoft.Rest.ClientRuntime](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/)

**Is your feature request related to a problem? Please describe.**
- Reduce dependencies for NetStandard2.  Newtonsoft.Json v10.0.3 has no NetStandard2-target so it fallback to NetStandard1 dependencies.

**Solution**
- Update to Newtonsoft.Json v11.0.2, or maybe switch to y

[2020-02-14 22:08] maririos opened #9991 "Add `none` option to default country hint"

[2020-02-14 22:22] annelo-msft opened #9992 "Cognitive: Standardization of Batch Operations"
Does the pattern we established for TextAnalytics work for other Cognitive services like TranslatorText?  Is batching used in Face, Computer Vision, Custom Vision, or QnA Maker?

[2020-02-14 22:22] annelo-msft commented on #9992
@mayurid @maririos

[2020-02-14 22:25] annelo-msft opened #9993 "Cognitive: Client SDK story for Containers"
Similar to: https://github.com/Azure/azure-sdk-for-net/issues/9317

Text Analytics was not super concerned about this.  Johan and Brian T. have said 404 happens in similar stacks and should be ok here.  Let's handshake with Chris Hoder that this will work for the all-up Cognitive story.

[2020-02-14 22:26] maririos commented on #9992
When we talk about pattern we followed in TA, what are the specific points you mean?
Naming?, having single and batch according to language? adding more capabilities to batch (like ability to set more options?)

[2020-02-14 22:26] annelo-msft commented on #9993
@mayurid, @ChrisHMSFT

[2020-02-15 00:06] maririos commented on #8954
FYI @mssfang

[2020-02-15 00:07] maririos commented on #9089
FYI @mssfang

[2020-02-15 00:16] maririos commented on #8943
@ChrisHMSFT could you please help route to the Computer Vision team?

[2020-02-15 00:22] maririos commented on #9794
Scores are not meant to be compared against as they are not reflecting intensity.
They reflect the confidence of the model, so conclusions are:
- Rename the class `SentimentScorePerLabel` to `SentimentConfidenceScorePerLabel` to reflect swagger naming
- Rename property/attribute `SentimentScore`s to `ConfidenceScore` => Add to docstrings that the score represents the Softmax score.

[2020-02-15 00:37] mayurid commented on #8713
I dont believe we will be looking into this in library side.

[2020-02-15 00:37] #8713 closed

[2020-02-15 01:50] heaths opened #9997 "Importing PEM-encoded certificates may not work"
While fixing azure/azure-sdk-for-net#9963, I found that we are base64-encoding PEM files but, despite the parameter name and description in swagger, the service expects PEM files as plain strings. On top of that, we don't know how the developer encoded the PEM file so we can't correctly decode it unless we ask or, instead, add a string overload and handle encoding/decoding internally ourselves.

[2020-02-15 03:41] ScottKane opened #9999 "[QUERY] Download blobs into Upload blob from zip stream"
### Which service(blob, file, queue, table) does this issue concern?
Blob

### Which version of the SDK was used?
Azure.Storage.Blobs:12.0.0 - Nuget

### Which platform are you using? (ex: .NET Core 2.1)
NET Core 3.1

### What problem was encountered?
containerClient.UploadBlobAsync fails to upload zip stream into blob

### How can we reproduce the problem in the simplest way?

        static asyn

[2020-02-15 06:54] rcbevans commented on #9927
Yeah, I understand.  My preference would be us use Automapper and have DTOs on the API surface, but this code predates me; I'm just doing the work to upgrade the platform my team is using.  I was able to achieve the same end result and get the tests passing my defining my own TestSearchResult with properties accessible properties mirroring the Azure type, and use FluentAssertions Should().BeEquiva

[2020-02-16 16:23] jsquire commented on #9999
//cc: @tg-msft

[2020-02-16 17:22] miflamashood opened #10002 "[Question] formrecognizer is still using v1.0-preview"
Hi,

I note that formrecognizer is still using v1.0-preview, any plans to move to 2.0?

[2020-02-16 19:34] pakrym opened #10003 "Review Azure.Security.KeyVault.Secrets.AspNetCore.DataProtection extension methods"
Per @tg-msft comments on the original PR:

[2020-02-17 02:14] blueww commented on #10003
Please add "client" tag, as this is not for storage management plan.

[2020-02-17 05:24] TFR258 commented on #8943
Thank you for the Feedback @maririos , we are looking into it.

Thanks,
Tom

[2020-02-17 10:49] StevenDevooght opened #10007 "System.ObjectDisposedException: Cannot access a disposed object."
**Describe the bug**
We are using a MessageReceiver to process messages on an Azure service bus queue. 99% of the time everything works as expected. But every now and then the following exceptions occurs when we call PeekAsync() on the MessageReceiver:
_Object name: 'sasl10293166'. ---> System.ObjectDisposedException: Cannot access a disposed object._
The problem is that after the exception is thr

[2020-02-17 12:19] hazemelh opened #10008 "[BUG] LUIS SDK: Unable to read data from the transport connection : An existing connection was forcibly closed by the remote host"
**Describe the bug**
When using the latest LUIS SDK 3.2.0-preview.1, when doing certain functions, specifically long running ones such as ImportWithHttpMessagesAsync, it may take a while but the SDK times out internally and throws **Unable to read data from the transport connection : An existing connection was forcibly closed by the remote host**, even though if you were to use the API directly it

[2020-02-17 13:35] JackSteel97 commented on #3933
This magic trick worked for me too on version 1.4.0 of the package.

[2020-02-17 16:15] jsquire commented on #10002
//cc: @annelo-msft

[2020-02-17 16:16] jsquire commented on #10007
//cc: @nemakam

[2020-02-17 16:50] chrisalexander opened #10010 "[BUG] Image Gallery Version API doesn't return ReplicationStatus"
**Describe the bug**
When requesting a Gallery Image Version from the SDK, the ReplicationStatus field is null and there is no way to request that data.

**Expected behavior**
Able to request the ReplicationStatus field be populated.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screen

[2020-02-17 16:52] chrisalexander opened #10011 "[BUG] Unable to update replication status on Gallery Image Version"
**Describe the bug**
Calling the Update API on a Gallery Image Version to change the replication does not work.

**Expected behavior**
Able to update replication.

**Actual behavior (include Exception or Stack Trace)**
ValidationException: Id cannot be null
![image](https://user-images.githubusercontent.com/50909/74672680-b963ca80-51a5-11ea-81e3-76cf5997423c.png)

**To Reproduce**
Steps to reprodu

[2020-02-17 20:29] brjohnstmsft commented on #9927
@rcbevans Glad to hear you're unblocked. I'm closing this issue since it's not a bug per se. If external serialization of models is something you think Azure .NET SDKs should support, please open a new issue to track it as a feature request.

[2020-02-17 20:29] #9927 closed

[2020-02-17 20:35] federicobarera commented on #6450
No, this is a specific behavior and, right or wrong, most likely lies in amqp. I have provided a console app to replicate the issue.
We ended up manually abandoning the messages and rely on delay visibility and custom retry count

[2020-02-18 09:03] wolszakp commented on #8440
Hi guys,
This feature I will accept with open hands :)
I `googled` and see that in old repo there was a lot of work done to have safe batching mechanism.
Is there any news about it?

[2020-02-18 11:20] kesavanpurushothaman opened #10013 "[Sample Request] Bing Spellcheck in "LUIS V3 prediction endpoint with SDK""
**Query/Question**
We are planning to use **Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime** Version 3.0 SDK for our ChatBot. Can you please provide a sample on how to add Bing Spell Check Key in this SDK?

**Environment:**
 - Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime Version 3.0
 - DOTNETCORE 2.1

[2020-02-18 12:23] srivathsanvlb opened #10014 "[Feature Request] Additional Event Hub Properties for the Management Library"
**Query/Question**
When using the WindowsAzure.ServiceBus nuget package, in the Microsoft.ServiceBus namespace we have a class NamespaceManager. It has some methods like GetEventHub and GetEventHubPartition. It helps to retrieve many properties for existing Event Hubs. In .NET core, I think the equivalent is Microsoft.Azure.Management.EventHub & Azure.Messaging.EventHubs namespace. But some of the

[2020-02-18 13:55] kinelski opened #10015 "[EventHubs] Some unit tests are flaky or fail constantly"
### Summary

Four of the Event Processor Client tests are not working as expected: one of them is already tracked by #9228, while the other three are tracked by this issue.

- `PartitionClosingAsyncIsCalledWithOwnershipLostReasonWhenStoppingTheFailedProcessor` is flaky. Sometimes the test hangs for indefinite time until it gets canceled. Sometimes it works. The flakiness is believed to have been i

[2020-02-18 14:37] brolaugh commented on #8440
@SeanFeldman was the one working on it and he said the following earlier in this thread.

[2020-02-18 14:46] ctrlaltdan opened #10016 "x-opt-scheduled-enqueue-time using AmqpLite"
Hey, I'm interested in using the Azure Service Bus scheduled enqueue time feature through Azure's AmqpLite package.

From reading the source code I can see this should only require a message header of `x-opt-scheduled-enqueue-time` be added to the message however this doesn't appear to delay the enqueue time.

https://github.com/Azure/azure-sdk-for-net/blob/4bab05144ce647cc9e704d46d3763de5f9681ee0

[2020-02-18 15:05] Pucmaster opened #10017 "[BUG] SubscriptionClient.RegisterSessionHandler throws plenty of timeout exceptions when message no message arrives for certain time"
I have these settings which i am putting to constructor and then using for initializing SubscriptionClient
`
        public ServiceBusDefaultConfiguration(Func<ExceptionReceivedEventArgs, Task> exceptionReceivedHandler)
        {
            this.RetryPolicy = new RetryExponential(TimeSpan.FromSeconds(5), TimeSpan.FromSeconds(30), 10);
            this.ReceiveMode = ReceiveMode.PeekLock;

[2020-02-18 15:45] mjiderhamn opened #10018 "[FEATURE REQ] Add support for setting `x-ms-client-request-id`"
**Library or service name.**
`Azure.Storage.Blobs`

**Is your feature request related to a problem? Please describe.**
Previous versions of the SDK allowed setting the `x-ms-client-request-id` request header, by providing a `Microsoft.Azure.Storage.OperationContext` instance with `ClientRequestID` set to the desired value.

Although the [`Generated/BlobRestClient.cs`](https://github.com/Azure/azur

[2020-02-18 15:48] jsquire commented on #10018
//cc: @pakrym, @tg-msft

[2020-02-18 15:51] jsquire commented on #10011
//cc: @yaohaizh

[2020-02-18 15:51] jsquire commented on #10010
//cc: @yaohaizh

[2020-02-18 16:14] tg-msft commented on #8993
There's no concrete plan for this work yet, but we'll update the issue if and when that happens.

[2020-02-18 16:36] collinstevens opened #10020 "Why does SetDefaultAgentInfo exist in Microsoft.Rest.ClientRuntime?"
**Query/Question**
Why does SetDefaultAgentInfo exist in Microsoft.Rest.ClientRuntime?

This is appending the name type name of our AutoRest clients which use ServiceClient as base class to the UserAgent of the HttpClient given to the AutoRest client. We also share a single HttpClient across multiple AutoRest clients which causes a chain of type names in the UserAgent. There seems to be no way to

[2020-02-18 16:44] pakrym commented on #10018
What's your use-case for this feature?

[2020-02-18 17:06] mymatrixpixel opened #10021 "How to access Azure ADF without using client secret key"
**How to access Azure ADF -pipeline by using OAUTH2 authentication.**

Is it possible to get access token without client secret key?. if answer is no? is there any other mechanism to get access token?

How to generate client secret key based  on client id/aplication id/tenant id in C# Code?

Tools am using latest version of VS 2019,MSAL.NET  .NET Core console app template.

Am anticipating complet

[2020-02-18 17:25] tg-msft commented on #9823
Almost - if you want `overwrite: true`, that corresponds to `conditions: null` or just:

[code]

[2020-02-18 17:32] galvesribeiro commented on #9823
Yeah, sorry, I forgot to mention that I've ended up with this:

[code]

Thanks folks! I'm closing the issue.

[2020-02-18 17:32] #9823 closed

[2020-02-18 18:25] AlexGhiondea commented on #9990
@snakefoot thanks for your suggestion.

We are in the process of updating the client libraries for data plane to follow the [Azure SDK guidelines](https://azure.github.io/azure-sdk/general_introduction.html) and as part of that, we are moving to use `System.Text.Json`.

[2020-02-18 18:31] mjiderhamn opened #10023 "[FEATURE REQ] Allow deletion of specific snapshot with DeleteBlob()"
**Library or service name.**
`Azure.Storage.Blobs`

**Is your feature request related to a problem? Please describe.**
Previous versions of the SDK allowed setting the `snapshot` request header for [Delete Blob](https://docs.microsoft.com/en-us/rest/api/storageservices/delete-blob), by calling `Delete()` on an `ICloudBlob` with `IsSnapshot == true`.

Although `BlobRestClient.Blob.DeleteAsync` in [

[2020-02-18 18:33] #9989 closed

[2020-02-18 18:33] #9794 closed

[2020-02-18 19:27] seanmcc-msft opened #10025 "[Storage][DataLake] Add DataLakeErrorCode"
Add DataLakeErrorCode and consolidate Error Codes.

[2020-02-18 19:30] mjiderhamn commented on #10018
@pakrym , the use-case at hand is that we parse storage analytics logs, do some processing and (depending on what has happened) update the metadata of blobs. We do not however want the updating of the metadata in itself to be considered an event that would cause processing and updating of metadata, as then we'd end up in a loop. Currently we're setting the `x-ms-client-request-id` to a known value

[2020-02-18 19:32] tg-msft opened #10026 "Create a shared implementation of Blob/DataLake parallel upload"
The addition of DataLakePartitionedUploader duplicates a lot of complicated logic.  It would be great to have a shared implementation of upload so any future performance work benefits both.  See the discussion at https://github.com/Azure/azure-sdk-for-net/pull/9681#discussion_r374215886 for more detail.

[2020-02-18 19:40] zhech2 commented on #8627
I am experiencing the same issue when using the new Azure.Messaging.EventHubs library.
The token is created with DefaultAzureCredential.

[2020-02-18 20:02] nemakam commented on #10017
@Pucmaster , we will investigate it and let you know.
This behavior is by design as of now, and I can understand that it might be frustrating. There might not be a straightforward solution as it would become a breaking change in terms of behavior.
Quick fix from your end would be to ignore timeoutExceptions coming from RegisterSessionHandler. We will try to wrap our heads and see what could be don

[2020-02-18 20:09] nemakam commented on #10016
@ctrlaltdan ,
You're on the right path. I would recommend you to try that again as there isn't any other magic sauce that I can think of that's required to get Scheduled Messages working.
Another think you might want to double check on would be the encoding for the timestamp itself.

And for my understanding, is there a particular reason why you're using AmqpLite over the official ASB SDK?

[2020-02-18 20:10] nemakam commented on #10016
And of course, needless to say, make sure you're adding that property to `MessageAnnotations` and not the other property bags

[2020-02-18 20:11] #10016 closed

[2020-02-18 20:16] Socolin opened #10027 "[BUG] Blob client freeze when downloading blob (full framework only)"
**Describe the bug**
The code hang on `BlobClient.DownloadAsync()`

**Expected behavior**
It should not "freeze"

**Actual behavior (include Exception or Stack Trace)**
It freeze and prevent code from executing what next :(

**To Reproduce**

1. Create Azure blob storage premium

![1](https://user-images.githubusercontent.com/539620/74773765-87fc0500-5260-11ea-967b-e2200e9431b8.png)

2. Create a c

[2020-02-18 20:24] seanmcc-msft opened #10028 "[Storage][DataLake] Consider adding internal APIs to consolidate logic"
For example, consolidate logic for ```DataLakeFileSystemClient.CreateIfExists()``` and ```.CreateIfExistsAsync()``` to ```CreateIfNotExistsInternal()```.

[2020-02-18 20:25] #9173 closed

[2020-02-18 20:26] pakrym commented on #10018
Considering you don't need to have a per-client call request ids I encourage you to take a look at custom policy extension point: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Pipeline.md

You can easily implement a policy that sets a pre-defined value to a x-ms-client-request-id  header for all outgoing requests from the client.

[2020-02-18 20:28] seanmcc-msft commented on #10028
@tg-msft, we could potentially consolidate quite a few DataLake APIs with ```*Internal()``` helpers if I have time to get to it.

[2020-02-18 20:45] nemakam commented on #10007
@StevenDevooght , quick question regarding "hang" - Can you check if it auto-mitigates after 60 seconds (which is the default timeout for a lot of operations)?
Also, what is "hang" here? Is there an operation which doesn't timeout and is being operated on forever? Or that you don't receive any message after this even though you are calling Receive/PeekAsync?
Or Is there a path in your code which h

[2020-02-18 20:46] nemakam commented on #10007
You could try taking a dump of your application and see what is the operation that it is "hung" on. If its a service bus SDK operation, then could you share the stack trace?

[2020-02-18 21:33] kurtzeborn commented on #8987
Closing this as a pointer to the reference docs has been provided.  If you have any more questions, please open a new issue.

[2020-02-18 21:33] #8987 closed

[2020-02-18 21:33] #9921 closed

[2020-02-18 22:29] #9820 closed

[2020-02-18 22:39] #9839 closed

[2020-02-18 22:39] #8838 closed

[2020-02-18 23:54] jsquire commented on #10023
//cc: @tg-msft

[2020-02-18 23:55] jsquire commented on #10027
//cc: @tg-msft

[2020-02-18 23:58] tg-msft commented on #10023
In the v12 SDK, you should be able to achieve this via `await blob.WithSnapshot(id).DeleteAsync(...)`.

[2020-02-19 00:31] seanmcc-msft commented on #10027
Hi @Socolin,

Couple things:

`var connection = new BlobClient(ConnectionString, ContainerName, url, blobClientOptions);`
With this constructor, the 3rd parameter should be just the name of your blob, not its URL.

`var blobClientOptions = new BlobClientOptions {Transport = new HttpClientTransport(new HttpClient() {Timeout = TimeSpan.FromSeconds(1)})};`

Is setting a client timeout.  I recommend y

[2020-02-19 00:36] Socolin commented on #10027
It's just bad naming after a day trying to figuring what the problem is... the values for these variables  are `test.txt` and `test2.txt` in the test

I tried without, and it's just timimg out after 100sec (+ 6 retry so it take 5 minutes to display an error) I just put it here so you can view the problem quickly

[2020-02-19 00:36] amnguye commented on #9999
Hi Scott,

(I'm assuming when you created the BlobServiceClient, in the quotations you specified the storage account where the existing container exists)

When you say "containerClient.UploadBlobAsync" fails, do you have logs or the call stack for this failure?

"Is there any way I can get an OpenWrite stream to directly upload the zip stream into a container?"
No, there's no method to open a stre

[2020-02-19 01:08] amnguye commented on #9009
I apologize for the late extremely late reply.

I made a new issue for you on the old repo(https://github.com/Azure/azure-storage-net/issues/968), which is the version you are currently using. A 403 is an odd error considering that its forbidden, instead of a bad request if we formatted the name bad.

Looks like we resolved this issue in later versions, however I understand your concern about upgr

[2020-02-19 01:13] tzhanl commented on #9226
@carsontwilson  We are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-02-19 01:13] #9226 closed

[2020-02-19 02:40] serkantkaraca opened #10037 "No Nuget packages since October 28th."
Both Microsoft.Azure.EventHubs and Microsoft.Azure.EventHubs.Processor package builds blocked since October 28th. I don't see new packages on azuresdkartifacts any more. We need to start testing latest changes and release 4.2 in 2 weeks. Can someone please help?

[2020-02-19 03:06] jongio commented on #10021
1. The Management Plane SDKs do not yet support the new Azure.Identity.InteractiveBrowserCredential - that is coming soon. https://docs.microsoft.com/en-us/dotnet/api/azure.identity.interactivebrowsercredential?view=azure-dotnet

2. I created a sample for you using the `DefaultAzureMgmtCredential` adapter class that can be used in the meantime.

https://github.com/jongio/azidext/blob/master/net/Jo

[2020-02-19 03:33] #9690 closed

[2020-02-19 03:36] maririos commented on #8780
Related #8712

[2020-02-19 05:33] mymatrixpixel commented on #10021
Hi Jon,
Again , I need to depend on SDK's approach(my team didn't accept it). It may be  change in future. So am looking for solution in pure OAUTH2 and Opened Id connect C# complete code implementation. As per requirement I don't want to have user interactive authentication to get access token. Kindly do the needful.

[2020-02-19 07:54] StevenDevooght commented on #10007
@nemakam We have a job system (windows service) using Quartz.NET where we are using the MessageReceiver to pull messages from our Azure queues. If the above error occurs the job never finishes (also not after 60 seconds). The windows service can only be stopped by killing the process. So after the error occurs something is preventing it to stop gracefully.

I did not mention this in the initial is

[2020-02-19 08:16] #10023 closed

[2020-02-19 08:48] mjiderhamn commented on #10018
@pakrym , it seems pipeline policies would solve the problem at hand. Feel free to close this issue.

[2020-02-19 09:31] wantedfast commented on #9999
Hi, @ScottKane
This is caused by [reusing MemoryStream](https://stackoverflow.com/a/5769575/12301879).  ​
please set "zipStream.Position = 0;" before upload.

@jongio

[2020-02-19 10:31] andersborum opened #10043 "[BUG] SecretClient.GetPropertiesOfSecrets() returns deleted secrets"
**Describe the bug**
We're using the `Azure.Security.KeyVault.Certificates` v4.0.0 SDK to retrieve secrets from Azure Key Vault and find deleted **managed** secrets in the result. The `SecretProperties` class doesn't provide any properties that relate to the deletion status of the secret.

Also, we find it **quite** confusing that the `SecretClient.GetPropertiesOfSecrets()` API considers certifica

[2020-02-19 13:00] ctrlaltdan commented on #10016
Hey @nemakam, thanks for your reply.

I have gone through the implementation with a fine toothed comb. The following is the output from my testing between the ServiceBus package and the Amqp package.

*Microsoft.Azure.ServiceBus*

[code]

Outputs the following in ServiceBusExplorer:

![image](https://user-images.githubusercontent.com/1093690/74836131-ae7c7780-5316-11ea-913e-35c629d53674.png)

*AMQ

[2020-02-19 13:36] mymatrixpixel commented on #10021
Just got an update , web application is registered into azure app service (from this to authenticate the ADF pipeline). Service to service.

[2020-02-19 13:41] jsquire commented on #10043
//cc: @heaths

[2020-02-19 14:46] jsquire commented on #10037
//cc: @weshaggard, @mitchdenny, @danieljurek, @mikeharder

[2020-02-19 16:59] tg-msft opened #10044 "Re-enable failing Storage tests"
I'm disabling the following tests which have been consistently failing the live nightly run for the last week:
- `Ctor_CPK_EncryptionScope`
- `GetPropertiesAsync_Premium`
- `CreateAsync_EncryptionScopeOptions`
- `ListSharesSegmentAsync_Premium`

See the [internal dashboard](https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=410&contextType=build) for more details.

[2020-02-19 17:03] tg-msft commented on #10044
//cc @seanmcc-msft and @amishra-dev

[2020-02-19 17:17] tomkerkhove commented on #9615
Is there a way we can provide an HttpClient to use?

Or did you manage to make some progress @erich-wang?

[2020-02-19 17:33] #9227 closed

[2020-02-19 17:58] #9356 closed

[2020-02-19 17:58] #9963 closed

[2020-02-19 17:58] #7893 closed

[2020-02-19 17:58] #9986 closed

[2020-02-19 18:30] heaths opened #10046 "Add new Soft Delete properties to Key Vault data plane"
Add the new `recoverableDays` property from https://github.com/Azure/azure-rest-api-specs/pull/8223/files#diff-01e396717629c41e5cdbf565ed5a764a to models and, as needed, the new enumeration values therein.

[2020-02-19 18:39] mayurid commented on #10002
Hi @miflamashood : Thanks for the feedback. We are working on the new API which will be targeting 2.0 and  will be releasing it soon. We will keep you posted on the exact date.

[2020-02-19 18:48] paul-lorica commented on #8941
+1

[2020-02-19 18:48] nemakam commented on #10016
Could you try with some time beyond 60 seconds (just to make sure we are weeding out common problems with clock skews etc). Maybe schedule it for over a day's delay.

[2020-02-19 18:48] nemakam commented on #10016
Could you try with some time beyond 60 seconds (just to make sure we are weeding out common problems with clock skews etc). Maybe schedule it for over a day's delay.

[2020-02-19 19:03] nemakam commented on #10007
I would still think its best if you can capture a dump and analyze the stack trace when the system gets hung

[2020-02-19 19:16] heaths commented on #9997
This was resolved in PR #9998.

[2020-02-19 19:16] #9997 closed

[2020-02-19 19:41] #9991 closed

[2020-02-19 20:24] amnguye commented on #7986
Hi,

Is this still an issue for you, or does the release with the fix resolve this issue?

[2020-02-19 20:36] amnguye commented on #9667
Hi, so to get another update, did using the `range` parameter in `Download`\`DownloadAsync` work for you to download a chunk of a file or blob?

[2020-02-19 20:37] seanmcc-msft commented on #10027
Hi @Socolin ,

I copied your repo code exactly, and was unable to reproduce on .NET Framework 4.7.2.  I created a container with two Block Blobs, both of who's content is "abc" using the Azure Storage Explorer.

I'm seeing `test.txt` and `test2.txt` both being downloaded twice on Fiddler, and am not experiencing the "freeze".

[code]

[2020-02-19 21:22] ScottKane commented on #9999
@amnguye Yes all of the resources exist in Azure, I don't have access to the machine I was working on this from at the moment so will have to get some logs when I'm back at the machine. Also I'm sure the .NET full implementation has the ability to open a stream directly into a container? (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.cloudblockblob.openwrite?view=azure-d

[2020-02-19 21:44] alexperovich commented on #7986
This issue is fixed. Thanks.

[2020-02-19 21:44] #7986 closed

[2020-02-19 21:50] seanmcc-msft commented on #9999
@ScottKane, the API you referenced is to write to a Block Blob, not a Container.  It's not possible to write directly to a Container, only to Blobs.  A Container is similar to a folder in a file system.

[2020-02-19 21:51] Socolin commented on #10027
Hello,

I just tried again and I have the exact same problem (I can send you a video if you want)
What can I do to help you reproduce the problem or understand what's wrong ?

Regards,

[2020-02-19 22:31] weshaggard commented on #10037
@serkantkaraca are you wanting the older Microsoft.Azure.EventHubs.* packages? Since we refactored the pipelines there hasn't been any asks for builds of those so we currently don't build them in any of our pipelines.

@jsquire if these track 1 packages are needed they will need to be added to the artifact list in the eventhub ci.yml file at https://github.com/Azure/azure-sdk-for-net/blob/master/s

[2020-02-19 22:39] serkantkaraca commented on #10037
Yes, we need older Microsoft.Azure.EventHubs.* packages. This is an actively developed SDK. I don't know why you guys decided to stop the pipeline.

[2020-02-19 23:07] weshaggard commented on #10037
A lot of our track 1 libraries are being replaced with track 2 libraries and unless needed, which this is the first request that I'm aware of, we didn't enable the track 1 builds because most of them are in servicing mode and don't need active daily builds.

@chidozieononiwu can you please work with @jsquire to get these packages added to the eventhubs pipeline?

[2020-02-19 23:39] #9985 closed

[2020-02-20 00:39] #9413 closed

[2020-02-20 00:39] #9492 closed

[2020-02-20 03:21] jongio commented on #10021
This is a great resource to help you decide what auth flow to use: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows

Since this is service to service you’ll want to consider use client credentials with a service principal: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#client-credentials

This doc shows the code fo

[2020-02-20 03:23] jongio commented on #10021
Getting back to your original question: I don't think there's a way to generate the secret and I don't think there's a way to do service to service without having a secret.

It would be great if you could provide more context into the application architecture and requirements so we can help you further.

[2020-02-20 05:57] chinwobble opened #10056 "[QUERY] How to set clientRequestId using BlobClient Upload"
**Query/Question**
We are using `Microsoft.Storage.BlobCreated` events
that are emitted as an event subscription.
We would like to do telemetry correlation so we can figure out which app uploaded the blob,
then corrolate that with the message consumer.
Looking at the [documentation](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage#event-properties) the event has a proper

[2020-02-20 06:24] mymatrixpixel commented on #10021
We have a web app which is hosted in azure app service. When user clicks on a button it will invoke a web API (this API ) will invoke Azure ADF pipeline ( in the web API I will get table name along with data) I want to copy data from source( SQL server to azure table storage) destination. I want to dynamically pass the table name and creation(if table exists I want to update if not insert the  dat

[2020-02-20 06:31] jrgithub opened #10057 "webapp:Get-AzResource lookup on Azure App Service does not return accurate NetFrameworkVersion"
When assigning a variable to this:

$enumAppService = Get-AzResource -ResourceGroupName $resName -ResourceType Microsoft.Web/sites/config -ResourceName $website.Name -ApiVersion 2018-02-01

And then writing to screen like this:
Write-host $enumAppService.Properties.NetFrameworkVersion

The output is always v4.0 (this may align to what is seen via resource.azure.com). However, this is inaccurate as

[2020-02-20 06:31] panchagnula commented on #10057
the command shows whatever the API returns the change needs to be on the API level

[2020-02-20 09:24] wantedfast commented on #10014
Hi @srivathsanvlb

Packages [WindowsAzure.ServiceBus](https://www.nuget.org/packages/WindowsAzure.ServiceBus), [Microsoft.Azure.Management.EventHub](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Microsoft.Azure.Management.EventHub), and [Azure.Messaging.EventHubs](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs) are different pack

[2020-02-20 12:04] srivathsanvlb commented on #10014
Ok, Actually I am trying to use it in a .NET Standard project. But I am facing the following issue.

![image](https://user-images.githubusercontent.com/35536827/74932125-10b4a580-5407-11ea-85e6-633ea21ed642.png)

I think they are talking about the same in https://github.com/dotnet/wcf/issues/3172

Please let me know on how to proceed.

[2020-02-20 15:26] jsquire commented on #10056
//cc: @tg-msft

[2020-02-20 15:36] jsquire commented on #10037
It looks as if @chidozieononiwu made the change already and it was merged yesterday evening.   Happy to assist as needed, but beyond verifying the feed, I don't believe there is further action to take at this point.

[2020-02-20 16:19] serkantkaraca commented on #10037
Thanks all, new packages should appear on Nuget repository soon. Closing the issue for now.

[2020-02-20 16:19] #10037 closed

[2020-02-20 16:45] dfbaskin commented on #8934
As a work-around, I created a token credential class that uses `AzureServiceTokenProvider`:

[code]

Then I can use this credential for other Azure services:

[code]

Maybe there is a better solution, but this works for me.

[2020-02-20 16:55] diberry opened #10060 "[BUG] Docs - /sample directory's .csproj file is missing description"
**Describe the bug**
The sample .csproj doesn't have a description. The description needs to include the text, sample code, and links to acom, conceptual docs and ref docs.

**Expected behavior**
The expected behavior is that a developer doesn't have to do anything more than the sample which they aren't so generally the SDKs don't have any descriptive text or links that a customer needs.

**Actual

[2020-02-20 17:53] heaths opened #10063 "KeyOperations needs to support "import" for 7.1-preview"
We also need to support the "import" key_ops value per:

* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json#L1348
* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json

[2020-02-20 17:58] weshaggard commented on #10037
Looks like the nightly build is failing due to test issues, https://dev.azure.com/azure-sdk/internal/_build/results?buildId=265684&view=logs&j=807bcc1d-e4a4-52ea-b30c-0355b7adcdfe&t=587c71f4-238c-5355-397e-d8cbfa262366. Until those test issues are addressed the dev packages will build and be published.

[2020-02-20 18:01] jsquire commented on #10037
Apologies; that looks to be related to a merge that went in yesterday.  We've got someone investigating and we'll get those at least marked to be skipped today.

[2020-02-20 18:13] seanmcc-msft commented on #10027
Hi @Socolin ,

I believe the issue is something to do with your environment, not the SDK itself.  Are you using a proxy, or is your internet connection limited in some way?

-Sean

[2020-02-20 18:26] seanmcc-msft commented on #9951
Hi @twentytwokhz,

`QueueClient.ReceiveMessagesAsync()` calls the [Get Message REST API](https://docs.microsoft.com/en-us/rest/api/storageservices/get-messages).

If you scroll down to the [remarks section](https://docs.microsoft.com/en-us/rest/api/storageservices/get-messages#remarks), it says:

"When a message is retrieved from the queue, the response includes the message and a pop receipt value

[2020-02-20 18:43] maririos commented on #8712
The service team is actually using `CultureInfo.GetCultures(CultureTypes.SpecificCultures)`, they don't have a list of available country hints or languages, which makes me think that we shouldn't maintain a list either.
Still looking how to take advantage of CultureInfo...

[2020-02-20 19:25] kinelski opened #10067 "[EventHubs] Event Processor tests failing during nightly runs (Track Two)"
# Summary

Some tests have recently begun experiencing failures during nightly runs, some intermittently and some constantly. Example failures can be found in the nightly results from February 20, which can be found [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=265684&view=ms.vss-test-web.build-test-results-tab) and [here](https://dev.azure.com/azure-sdk/internal/_build/re

[2020-02-20 19:46] Socolin commented on #10027
I don't think it's related to my internet connection because of the following points, but I'll try from my home, later, too just to be sure.
- I don't have any proxy, or any limitation on my internet connection.
- This problem was replicated on a webapp on azure (Windows azure webapp)
- When I switch to .NET Core I don't have the problem anymore.

Does the `bin/` folder built on my machine could h

[2020-02-20 21:04] ShaneCourtrille opened #10071 "Ability to stop processing messages in QueueClient"
**Library or service name.**
Microsoft.ServiceBus.Messaging

**Is your feature request related to a problem? Please describe.**
This is related to #1768.  We are using the QueueClient to process messages and I'm trying to come up with a graceful way to shutdown when our service is told to stop.

To start with we're using OnMessage with MaxConcurrentCalls > 1.  When we get a message we run the proc

[2020-02-20 21:17] serkantkaraca commented on #10014
The failure is due to fact that MicrosoftAzure.ServiceBus SDK doesn't support .NET Standard.

[2020-02-20 21:42] heaths opened #10072 "Migrate internal-only guidance to our public guidance docs"
This link is mentioned in our Coding Guidelines in OneNote

_Originally posted by @AlexanderSher in https://github.com/Azure/azure-sdk-for-net/pull/10065_

[2020-02-20 22:35] JoshLove-msft opened #10073 "Figure out how to handle exceptions thrown by user event handler"
https://github.com/Azure/azure-sdk-for-net/pull/10047#discussion_r382044738

[2020-02-20 23:31] JoshLove-msft opened #10075 "Implement RenewLock"
This is needed for Preview 1.

[2020-02-20 23:33] mathewc opened #32635 "Make QueueTrigger InitialVisibility configurable"
Currently the initial visibility we use when dequeueing messages is 10 minutes (code [here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/Queues/Listeners/QueueListener.cs#L104)). We have a user configurable value [QueuesOptions.VisibilityTimeout](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.Storage/

[2020-02-20 23:39] AlexGhiondea commented on #10060
@diberry I am not sure what we should do here -- are you saying that we should add a different description in the package file for the samples?

[2020-02-20 23:41] diberry commented on #10060
@AlexGhiondea Which file in the /samples directory do you think has the description info that appears on the NuGet package page?

I have a [PR](https://github.com/Azure/azure-sdk-for-net/pull/10061/files) to fix a file that does not have the description.

[2020-02-20 23:44] AlexGhiondea commented on #10060
@diberry the PR you mention is for a sample project that we don't release on NuGet.

[2020-02-20 23:46] AlexGhiondea commented on #10060
For the shipping packages we autogenerate the NuGet package description before we publish to NuGet.

[2020-02-20 23:54] diberry commented on #10060
@AlexGhiondea Yes, I've worked with @weshaggard regarding getting the product information onto the NuGet package page. Most Azure SDK package pages have no information relevant to the SDK. A customer would have to download the SDK, then return the browser and search for relevant product information, conceptual docs, or reference docs. I would like to fix that. Can you suggest a different method to

[2020-02-20 23:57] diberry commented on #10060
@AlexGhiondea What is the forcing function to ensure the information is in each .csproj for each SDK?

[2020-02-21 00:58] #10060 closed

[2020-02-21 02:24] AlexanderSher opened #10083 "Separate synchronous and asynchronous code paths"
Most of our public API has both synchronous and asynchronous versions of service methods. Due to the big amount of logic that is identical in both synchronous and asynchronous code paths, it is acceptable to have common non-public asynchronous methods that handle both code paths.

However, synchronous execution of asynchronous method may result in any of the following issues:
- Waiting for incompl

[2020-02-21 02:35] MartyZhou commented on #8761
Thank you @serkantkaraca for the feedback. I am sure option 1 is not my case.

[2020-02-21 05:41] srivathsanvlb commented on #10014
Thanks @serkantkaraca . Actually I need the above said properties in a .NET standard project.
Can any one let me know where I can get them?

[2020-02-21 08:47] darthkurak opened #10088 "[QUESTION] Can Microsoft.Azure.EventHubs.ServiceFabricProcessor be safely use?"
**Query/Question**
I found out something like Microsoft.Azure.EventHubs.ServiceFabricProcessor. But it seems, that documentation around it has gone, and only nuget package and source code remains.
Can I safely use it?
Any documentation anywhere?

[2020-02-21 12:59] danigian commented on #8627
Long story short: While doing some tests I was receiving a 401 Unauthorized error with the description "Issuer is not valid".

The issuer of a token in AAD is usually something like "https://sts.windows.net/{tenantId}/". My default tenant has "guid A" as its id, the tenant were my EventHub/ServiceBus is placed is "guid B".

What happens is that Visual Studio is going to obtain a token valid for th

[2020-02-21 14:14] Ratomir commented on #4190
This comment is not related to the question, but someone could run into an issue, a reference to the key vault in the virtual network still is not allowed.  https://github.com/MicrosoftDocs/azure-docs/issues/44567

[2020-02-21 14:37] jsquire commented on #10088
//cc: @jamesbirdsall

[2020-02-21 18:52] tg-msft opened #10096 "Add EditorBrowsable(Never) to BlobLeaseClient.ReleaseInternal"
`BlobLeaseClient.ReleaseInternal` was left `public` by mistake.  We can't change the visibility because that would break binary compat in a GA library, but we should at least add `[EditorBrowsable(Never)]` to avoid confusing customers.

[2020-02-21 21:19] #9564 closed

[2020-02-21 21:42] AlexanderSher commented on #9564
Btw, this is handled by our analyzers ([with braces](https://github.com/Azure/azure-sdk-tools/blob/2f629a4a460525a28edf80361e1b7ef257d21736/src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0012Tests.cs#L314) or [without](https://github.com/Azure/azure-sdk-tools/blob/2f629a4a460525a28edf80361e1b7ef257d21736/src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/

[2020-02-21 22:38] maririos commented on #8898
When there is a warning, service returns something like:
[code]

we completely ignore warnings, so definitely need to fix it

[2020-02-21 23:43] bryanhunwardsen opened #10107 "Cached KeyVault Configuration Provider not failing when invalid credentials presented"
using Microsoft.Extensions.Configuration
in conjunction with
ConfigurationBuilder().AddAzureKeyVault()
causes a security issue.

Steps to reproduce:
IConfiguration c1 =  ConfigurationBuilder().AddAzureKeyVault(ValidConnectionString, ValidClientID,ValidClientSecret).Build();
Console.WriteLine(c1[ValidSecretKey]); //Produces Expected Secret Value

//immediately followed by...

IConfiguration c2 =  C

[2020-02-21 23:43] hjhhh3000vitae commented on #3970
The part of the code is auto-generated from Swagger definition.

In the swagger, there is two sets of operations one called `Deployments`, dealing with CRUD of Deployment, while the other is called `DeploymentOperations` dealing with CRUD of Deployment operation status.

It is not a good idea of combining two to one as they are referring to different things.

Either it is not good to rename `Deplo

[2020-02-22 00:23] ththiem opened #10108 "[BUG] EventHub Processor Host is not redistributing leases on partitions, leaving many leases, sometimes half, unprocessed for several days at a time or longer"
**Describe the bug**
Our nodes in production are not leasing out every partition, and leaving data unprocessed indefinitely. We have 8 instances running across 8 VM's managed by Service Fabric. Each of them are microservices running the latest version of the SDK (4.1.0) and for whatever reason they simply do not obtain leases on all available partitions.

**Expected behavior**
All 32 partitions sh

[2020-02-22 00:27] ththiem commented on #10108
We're simply instantiating the hosts like the samples demonstrate:
`try
            {
                var eventHubClient = EventHubClient.CreateFromConnectionString(eventHubConnectionString);

                eventProcessorHost = new EventProcessorHost(
                                                            eventHubName,
                                                            consumerGrou

[2020-02-22 00:40] serkantkaraca commented on #10108
Can you use Azure Storage Explorer and check lease states?

[2020-02-22 00:42] ththiem commented on #10108
They're available

[2020-02-22 00:52] serkantkaraca commented on #10108
Can you check partition count of the eventhub on the portal?

[2020-02-22 00:56] ththiem commented on #10108
It's 32, like I described above.
![image](https://user-images.githubusercontent.com/15839533/75082957-05c34900-54cb-11ea-916a-193de21bd2df.png)

[2020-02-22 00:59] ththiem commented on #10108
It is not taking leases on the first X number of partitions, it's picking at random.
![image](https://user-images.githubusercontent.com/15839533/75083046-808c6400-54cb-11ea-91bf-b2a256cc4b27.png)

[2020-02-22 01:00] serkantkaraca commented on #10108
Do you have active traffic on the entity?

[2020-02-22 01:03] serkantkaraca commented on #10108
And what is your entity name?

[2020-02-22 01:08] ththiem commented on #10108
Yes, a lot of traffic. I can see entries being enqueued in the partitions through Service Bus Explorer. The partitions have significant incoming bytes per second and 0 outgoing, and the Last Enqueued Time is long after the last modified on the leases.
![image](https://user-images.githubusercontent.com/15839533/75083255-af570a00-54cc-11ea-91c4-4c2879cdd5da.png)

Which name exactly are you referring

[2020-02-22 01:09] AlexanderSher opened #10109 "Add version of EnsureCompleted for IAsyncEnumerable<T>"
Create a sync wrapper that implements `IEnumerable<T>` for `IAsyncEnumerable<T>` that is executed synchronously.

[2020-02-22 01:09] serkantkaraca commented on #10108
eventHubName

[2020-02-22 01:11] ththiem commented on #10108
rt01eventhubnamespace/rt01voice

[2020-02-22 01:39] serkantkaraca commented on #10108
Can you collect client traces on one of the VMs with PerfView for couple minutes?

Instructions on PerfView tool - https://github.com/jonwagner/EventSourceProxy/wiki/Using-PerfView-for-ETW-Tracing

Please collect provider "Microsoft-Azure-EventHubs-Processor"

[2020-02-22 02:01] ththiem commented on #10108
I'll see if I have access to the VM's directly, I'll have to get back to you on that a bit later.

[2020-02-22 02:16] jongio commented on #10021
@mymatrixpixel - The following code from this article should be exactly what you need to authenticate with a client secret.

https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net#create-a-data-factory-client

[code]

Can you go through that article and LMK if it's not what you are looking for?

[2020-02-22 04:29] #7879 closed

[2020-02-22 06:11] #9922 closed

[2020-02-22 06:11] #9911 closed

[2020-02-22 06:12] #9919 closed

[2020-02-22 06:13] JoshLove-msft opened #10113 "Implement ReceiveDeferred"

[2020-02-22 06:14] JoshLove-msft commented on #9920
We are exposing these now.

[2020-02-22 06:14] #9920 closed

[2020-02-22 13:48] #9559 closed

[2020-02-22 15:31] jsquire commented on #10107
@heaths:  Would you be so kind as to help route this to the best contact?

[2020-02-22 15:35] jsquire commented on #10067
There were some `TaskCompletionSource` instances not being created with the expected set of options which I cleaned up in another workstream.   We may want to try re-enabling and running these in the engineering environment using a feature branch to see if that helped.

//cc: @kinelski

[2020-02-23 13:03] jefferson117 commented on #9616
I too am getting an error when using DefaultAzureCredential to access blob storage. In my case it is a web app which works fine locally (VS2019) but fails when deployed (using system managed identity). I have verified identity has blob contributor permissions for storage account.

The exception stack shows it first tries to obtain environmental credentials (I know I can switch this off with defaul

[2020-02-23 16:28] jongio commented on #9616
@jefferson117 Please try to follow along with the steps on this blog and see if you can get it working.

https://blog.jongallant.com/2020/02/azure-functions-blob-managed-identity-part1/

You can set TENANT with AZURE_TENANT_ID environment variable. But not sure that is related.

[2020-02-23 22:55] annelo-msft commented on #9992
Things including:
- Naming (single vs. batch)
- Having the single-input method return an atomic type.
- Taking an Enumerable of TextInputDocument and returning a <method-name>ResultCollection type.
- Having a convenience method that takes an Enumerable of strings and lets you set the language for the entire collection.
- Having <method-name>ResultCollection have ModelVersion and some metadata (in

[2020-02-24 00:24] tpar opened #10149 "ManagementClient - Check if a rule exists on subscription"
# Description

In service bus SDK, it would be nice to have a method, that would check if a named rule exists on the a service bus topic. There are rules which include `GetRuleAsync`, `UpdateRuleAsync` and `UpdateRuleAsync`.

## Actual Behavior
1. To programmatically create/update/delete a subscription rule the relevant SDK methods are to be used. However, if the rule does not exist, the SDK raise

[2020-02-24 00:40] tpar opened #10118 "[FEATURE REQ] ManagementClient - Check if a rule exists on subscription"
# Description

In service bus SDK, it would be nice to have a method, that would check if a named rule exists on the a service bus topic. There are rules which include `GetRuleAsync`, `UpdateRuleAsync` and `UpdateRuleAsync`.

## Actual Behavior
1. To programmatically create/update/delete a subscription rule the relevant SDK methods are to be used. However, if the rule does not exist, the SDK raise

[2020-02-24 02:04] wantedfast commented on #9999
Hi @ScottKane
Any feedback from your side ? Does this workaround(zipStream.Position=0;) works for you ?

[2020-02-24 15:40] mymatrixpixel commented on #10021
@jongio I already have the above code. Am asking pure OAUTH2 code implementation, in above code where is the Oauth2 token provider endpoint. Whatever you are referring to me. I already gone through it. Am expecting some dynamic code to pass table names and parameters to achieve my requirements.

[2020-02-24 15:51] collinstevens opened #10125 "Is QueueClient.CreateAsync supposed to throw if the queue already exists?"
**Query/Question**
Is QueueClient.CreateAsync supposed to throw if the queue already exists?

The [sample](https://github.com/Azure/azure-sdk-for-net/blob/6125c01902f61a21ea0e843931df038efe52d393/sdk/storage/Azure.Storage.Queues/samples/Sample01b_HelloWorldAsync.cs#L196-L209) shows it catching an exception contained an error code  aptly named `QueueErrorCode.QueueAlreadyExists`. Yet, when running

[2020-02-24 16:00] jongio commented on #10021
The AuthenticationContext object accepts the Oauth endpoint.

This is helpful in understanding how the identity platform works:
https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios

This sample shows you how to run a pipeline:
https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net#create-a-pipeline-run

I haven't tried it, but

[2020-02-24 16:18] mymatrixpixel commented on #10021
Ok Thanks for the info. I will try and let you know.

[2020-02-24 16:31] collinstevens opened #10126 "Where did CloudConfigurationManager go?"
**Query/Question**
The [Microsoft.Azure.ConfigurationManager NuGet package's](https://www.nuget.org/packages/Microsoft.Azure.ConfigurationManager/) source repository links back to this repository, but the classes within it are not located in this repository.

I'm specifically looking for `Microsoft.Azure.CloudConfigurationManager` which used to exist in this repository as of [v2.1.0.4](https://git

[2020-02-24 18:00] AlexGhiondea commented on #10107
@pakrym can you take a look?

[2020-02-24 19:31] pakrym commented on #10008
How long does the response usually take? Default HttpClient timeout is 100seconds so if the request takes longer than that `Threading.Tasks.TaskCanceledException` would be thrown.

[2020-02-24 22:30] #9841 closed

[2020-02-24 22:30] #9787 closed

[2020-02-24 22:43] danieljurek commented on #7245
The storage tests still use this process but are following the conventions set forth in `New-TestResources.ps1` ... Thus the `tests.yml` is more consistent with other live test yaml files in the repo.

[2020-02-24 22:43] #7245 closed

[2020-02-24 22:50] #9579 closed

[2020-02-24 23:09] ththiem commented on #10108
@serkantkaraca Apologies for the delay, had to get back on this once I was in the office again.

So I was able to log into one of the node VMs are poked around in there. Unfortunately PerfView did not work, it just kept saying "Error: Could not find provider name 'Microsoft-Azure-EventHubs-Processor'."

Either way, accessing the VM directly did give me another idea to try, as I saw that despite th

[2020-02-25 00:28] chinwobble commented on #10056
bump @tg-msft this is blocking us from using the new Azure library.

[2020-02-25 00:37] serkantkaraca commented on #10108
I have a theory however need to check couple things first. I will update you ASAP.

[2020-02-25 01:01] serkantkaraca commented on #10108
When did you restart idle VMs in UTC?

[2020-02-25 01:38] #9215 closed

[2020-02-25 02:30] jsgoupil opened #10137 "[BUG] DeserializeEventGridEvents is not working when using the ServiceBusQueue flow"
**Describe the bug**
I have not tried all consumer, but when trying it with the Azure Service Bus Queue, the data does not come as an array as mentioned in the doc page here https://docs.microsoft.com/en-us/dotnet/api/overview/azure/eventgrid?view=azure-dotnet

Consequently, calling `DeserializeEventGridEvents` expects to receive an array, but I receive only 1 object.

**Expected behavior**
Explai

[2020-02-25 03:05] christothes commented on #10015
@kinelski Please assign this one to me.

[2020-02-25 14:10] andersborum commented on #10043
The certificate was deleted about 2 weeks ago. I am aware of the delay from soft deleting a secret to the Key Vault actually physically deleting the entry (90 days rention I believe as per the documentation).

The issue is really not the soft delete feature (which is fine), but the fact that I'm getting deleted entries in results where none was expected (or even meta data to inform about the statu

[2020-02-25 14:25] jsquire commented on #10125
//cc: @tg-msft

[2020-02-25 14:33] jsquire commented on #10126
Hi Collin,

We're sorry that you're having difficulties and appreciate you reaching out to let us know.  I can't claim to be familiar with the `Microsoft.Azure.ConfigurationManager` package, but from its description, it sounds like [Azure.Data.AppConfiguration](https://www.nuget.org/packages/Azure.Data.AppConfiguration/) _([source](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/appconf

[2020-02-25 17:12] timheuer opened #10142 "[BUG] Clean up NuGet Packages and de-list some publically"
**Describe the bug**
When searching for 'storage' in NuGet, I'm getting multiple packages and the titles aren't enough to tell me what one is correct.

**Expected behavior**
There should be a clear winner of what Azure SDK package to use for Storage.  Today there is not.  For ones that are not being updated anymore, delist them (not remove, but delist) so that customers aren't guided toward old on

[2020-02-25 17:22] mymatrixpixel commented on #10021
@jongio Can you say, how to read the service principle key and Id from azure.(best approach)

[2020-02-25 17:27] annelo-msft opened #10143 "Update version to be settable from client options"
Currently hard-coded to v2.0-preview.

[2020-02-25 18:17] ththiem commented on #10108
At  **2020-02-24T22:11:33.433Z**

[2020-02-25 18:28] jongio commented on #10021
One approach is to store them in environment variables.

You generate by using the portal or cli. LMK if you need help with that.

[2020-02-25 18:29] maririos opened #10144 "Allow retries on TA"
Change `.Add` to `.Set` to allow retries, otherwise we are adding the [auth header per request ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/textanalytics/Azure.AI.TextAnalytics/src/ApiKeyAuthenticationPolicy.cs#L21) and this will fail.
We should add tests for this too.

See as an example [appconfig](https://github.com/Azure/azure-sdk-for-net/commit/ba2599979ea02654a2a6297c08c8b957a

[2020-02-25 18:33] serkantkaraca commented on #10108
OK, I can confirm consumers recovered at the same time you pointed. Basically new receivers connected when you restarted the hosts.

Are you able to view per VM consumer data from the incident time window? Is it like some VMs completely stop receiving?

[2020-02-25 18:47] heaths commented on #9737
I'm able to repro this but with other work pending for our March release we may need to punt till after that since a workaround - agreeably not ideal - is available.

BTW, just a tip: there is an implicit cast operator for `KeyVaultSecret` so you can simplify that statement. I generally prefer `var` myself as well, but this is one case where an explicit type declaration can help:
[code]

[2020-02-25 19:12] heaths commented on #10043
You said,

I pointed out what the documentation says about what the `Managed` property means and am asking what is not clear about that so we might consider a change to the documentation.

`Managed == true` just means that the key or secret is backing a certificate. It has nothing directly to do with deleted secrets, though deleting a certificate in a soft delete-enabled vault will also put its ma

[2020-02-25 19:15] RandalliLama commented on #10043
@heaths unfortunately that is known issue that is in our backlog to fix.

[2020-02-25 19:58] nemakam commented on #10071
@ShaneCourtrille, this is equivalent of pausing the message pump, which is currently not possible. There's a new library being worked on right now for Service Bus, which will take care of this feature request.
Also, even without "closing" the pump, you can run into this scenario where you finish committing the message in your DB and the complete() fails. I would assume you'd have to take care of t

[2020-02-25 20:22] mikeharder commented on #9340
@JoshLove-msft: Should this be fixed by #10128?  If so, can we try to re-enable the tests?

[2020-02-25 20:28] ththiem commented on #10108
I couldn't say. There was no indication that I could find that the services were stopped, as far as I could tell they were registered and actively running in task manager and service fabric was reporting they were healthy and running. But they were not doing anything that I could tell, neither receiving events nor actively processing, leasing, checkpointing, anything.

When I restarted a single no

[2020-02-25 20:44] tg-msft commented on #10056
Unfortunately it's not as easy as it should be today.  We've got a work item tracking this at https://github.com/Azure/azure-sdk-for-net/issues/10018.  Here's a workaround you can use in the meantime:

[code]

[2020-02-25 20:45] JoshLove-msft commented on #9340
I think so, we should give it a try.

[2020-02-25 20:46] tg-msft commented on #10018
Let's keep this open to track adding better support in the client library.

//cc: @seanmcc-msft - this would be a great thing to add if we switch things to use more Options types

[2020-02-25 20:51] ththiem commented on #10108
I found that our other cluster is in the same state, rt02. Only 1 of the 8 nodes is running.

[2020-02-25 20:56] serkantkaraca commented on #10108
I think you are hitting a known issue and fix is already merged - https://github.com/Azure/azure-sdk-for-net/pull/10019

[2020-02-25 21:01] varunsh-msft commented on #9917
@Max9252 , I tried this just now using version 1.4 and it worked fine for me. I deployed it to an App Service and was able to use the user-assigned identity. The error you are getting is from an earlier version of App auth library that did not support user-assigned identity.

Do you get this error on your local development machine? It would be worth trying it out since the error you are getting is

[2020-02-25 21:15] Max9252 commented on #9917
@varunsh-msft Hello, locally I don't get this error but once I deploy the code in my app service and start it again it's throwing this error.

[2020-02-25 21:52] nemakam commented on #10118
@tpar
We will consider adding this method.
Meanwhile, please continue using `GetRuleAsync` to validate if it exists.

[2020-02-25 21:54] varunsh-msft commented on #9917
@Max9252 , can you please check the version of the Microsoft.Azure.Services.AppAuthentication.dll? You can download the dll from your app service using Kudu.

1. Go to https://[yourappservice].scm.azurewebsites.net/DebugConsole
2. Under site/wwwroot/[your app structure] find the Microsoft.Azure.Services.AppAuthentication.dll
3. Click the down arrow to download it.
4. Right click on the Microsoft.A

[2020-02-25 22:16] maririos opened #10148 "Rename offset and length for TA"
Rename to:
`GraphemeLength`
`GraphemeOffset`

This, to correctly reflect what the property returns

[2020-02-25 22:33] jsquire commented on #10142
@AlexGhiondea:  Not quite sure what the appropriate triage path/routing for this would be.   Would you be so kind as to assist?

[2020-02-25 23:14] andersborum commented on #10043
@heaths agree on the `Managed == true` expectation as that's also what I learned from the docs (which is fine and dandy).

@RandalliLama any chance you could provide an ETA on the fix?

[2020-02-26 00:26] jaschrep-msft opened #10151 "Partitioned Upload/Download Decision-Making Refactor"
Pull branching logic on how to partition uploads/downloads into a utility method. This allows us to explicitly test the branching logic in an easily observable manner, as well as not break the recording size limits that would be needed to trigger some paths.

[2020-02-26 00:44] JoshLove-msft opened #10153 "Add message batch"
Java is using a MessageBatch which adds the ability to see what message overflows the batch when trying to send messages.
We should do the same for .NET.
See EH EventDataBatch.

[2020-02-26 00:46] JoshLove-msft commented on #9886
Thanks @SeanFeldman

[2020-02-26 00:49] SeanFeldman commented on #9886
Anytime

[2020-02-26 01:59] JoshLove-msft opened #10155 "Update methods that return IEnumerable to instead return IReadOnlyList"
Receive/ReceiveDeferred/Peek/Complete methods
Send is different as that should use a MessageBatch and is being tracked in a separate issue.

[2020-02-26 02:01] JoshLove-msft opened #10156 "Update all public API DateTime usage to instead be DateTimeOffset"
Also remove Utc suffix from any DateTimeOffset properties/params.

[2020-02-26 03:26] maririos commented on #10148
Places to rename:

SentenceSentiment
CategorizedEntity
PiiEntity
LinkedEntityMatch

[2020-02-26 05:15] JoshLove-msft opened #10158 "Add Identifier property mirroring EH"
Add an Identifier property to clients that is a GUID. See how it is generated in EH.
Update ExceptionReceivedEventArgs ctor param to be called identifier, rather than clientId.

[2020-02-26 06:06] collinstevens commented on #10126
@jsquire I don't think this is the same thing from looking at the source. The **Azure.Data.AppConfiguration** package doesn't seem to support configuration from a `Web.config` or an `appsettings.json`. The `Microsoft.Azure.ConfigurationManager` package says it is a replacement for the previous package `Microsoft.WindowsAzure.ConfigurationManager`.

[2020-02-26 06:33] SeanFeldman commented on #10158
Link?

[2020-02-26 06:35] SeanFeldman commented on #10155
Can I suggest to cross-reference issues when mentioning another work item?
In this case, MessageBatch is https://github.com/Azure/azure-sdk-for-net/issues/10155

[2020-02-26 06:39] SeanFeldman commented on #10153
EventHubs [`EventDataBatch`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventDataBatch.cs).

This would provide the [safe batching feature](https://github.com/Azure/azure-sdk-for-net/issues/8440) asked for in Track 1.

[2020-02-26 08:02] macchmie3 commented on #9737
@heaths
Great to hear that you were able to reproduce the problem.
Thanks for the tip!

[2020-02-26 08:34] ththiem commented on #10108
We confirmed with @serkantkaraca that the issue is indeed a deadlock in azure storage on attempting to read the lease files from storage, as noted in the know issue & fix linked above. I will go ahead and close this issue now that we are aware of it and will await the fix to be released through a new version of the library.

[2020-02-26 08:34] #10108 closed

[2020-02-26 09:14] wantedfast commented on #10125
QueueClient.CreateAsync() calls the [Create Queue](https://docs.microsoft.com/en-us/rest/api/storageservices/create-queue4).

Hi @collinstevens ,

Please find clarification in [remarks section](https://docs.microsoft.com/en-us/rest/api/storageservices/create-queue4#remarks).

When a queue with the specified name already exists, the Queue service checks the metadata associated with the existing que

[2020-02-26 09:50] BoeseB commented on #8761
We observed the same exception on multiple IoTHub connections between 2020-02-20T01:36:54 UTC and 2020-02-20T01:56:55 UTC all instances of IoT Hub run in the EU West region.
Multiple but not all partitions of the same IoT Hub are affected.

- IoTHub A
    - Partition 0 failed at 1:44:54 UTC
    - Partition 1 failed at 1:56:55 UTC
    - Partition 2 ok
    - Partition 3 ok
- IoTHub B
    - Partition

[2020-02-26 13:48] collinstevens commented on #10125
@wantedfast thank you, this clears it up. I was only looking at the API client documentation, not the REST API itself.

[2020-02-26 13:48] #10125 closed

[2020-02-26 16:23] Naografix opened #10160 "C# Vision API : Bad request"
Hello,

I'm working with Vision API since 2 days and works perfecly.

I use a streamImage to "RecognizePrintedTextInStreamAsync" like this
`var localFileOcrResult = await this.client.RecognizePrintedTextInStreamAsync(true, streamImage, OcrLanguages.Fr);`

And since 1 hour (without any problems before) I get this error (Bad Request):

	System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(

[2020-02-26 16:55] #10160 closed

[2020-02-26 16:56] jsquire commented on #6814
Per Oliver's comment that the feature, closing this item out.

[2020-02-26 16:56] #6814 closed

[2020-02-26 16:59] jsquire commented on #7380
Moving to the backlog milestone to sync with the backlog tag for the issue.

[2020-02-26 17:30] maririos commented on #8712
Decision was to leave input parameters as is, and not create enum for country or language. User can always use other .NET libraries as helpers like RegionInfo, CultureInfo

[2020-02-26 17:30] #8712 closed

[2020-02-26 17:30] maririos commented on #8780
Close per https://github.com/Azure/azure-sdk-for-net/issues/8712

[2020-02-26 17:30] #8780 closed

[2020-02-26 17:31] maririos commented on #8898
Service team is working on moving warnings to the same level as errors, but including an ID.
This change will be proposed after the release date for P3 so moving this issue to next iteration

[2020-02-26 17:41] maririos opened #10162 "Change subcategories to string"
From extensible enum to string

[2020-02-26 17:41] maririos commented on #9740
Because of the nature of subcategories, the amount of values could be more than 100 and they are values constantly added to it.
Maintaining updated with the service could turn into a problem, so we decided to leave it as string.
Workitem for the fix is => https://github.com/Azure/azure-sdk-for-net/issues/10162

[2020-02-26 17:41] #9740 closed

[2020-02-26 17:47] jsquire commented on #8561
Moving this to the backlog milestone, as the associated sprint was outdated.

[2020-02-26 17:51] jsquire commented on #8440
Moving this to the backlog milestone, as the associated sprint has passed.

@axisc:  I removed the outdated assignment.  Would you be so kind as to help route to the appropriate individual?

[2020-02-26 17:52] jsquire commented on #8434
Moving this to the backlog milestone, as the associated sprint has passed.

@axisc:  I removed the outdated assignment.  Would you be so kind as to help route to the appropriate individual?

[2020-02-26 17:53] jsquire commented on #7371
Moving this to the backlog milestone to match the associated tags; the assigned milestone has passed.

[2020-02-26 17:55] jsquire commented on #6653
Moving this to the backlog milestone, as the associated sprint has passed.

@axisc:  Would you be so kind as to confirm that this is still an active item and help route to the appropriate individual?

[2020-02-26 17:57] maririos opened #10163 "single vs batch methods"
Revisit design and naming

[2020-02-26 17:58] jsquire commented on #6440
Moving this to the backlog milestone, as the associated sprint has passed.

[2020-02-26 18:00] jsquire commented on #7161
Moving this to the backlog milestone, as the associated sprint has passed.

[2020-02-26 18:09] JoshLove-msft commented on #9886
Regarding Size and ContentType, keep in mind that ServiceBusReceivedMessage derives from ServiceBusMessage.

[2020-02-26 18:14] JoshLove-msft commented on #9886
ExpiresAtUtc is on the ServiceBusReceivedMessage.
Size is on ServiceBusMessage.

Will update that in this issue.

[2020-02-26 18:16] jongio commented on #10021
@mymatrixpixel - Did you get it working?

[2020-02-26 18:17] JoshLove-msft commented on #9886
// Wasn't `Message` considered too generic? 😉
public class Message
{
    public Message() {}
    public Message(ReadOnlyMemory<byte> body) {}

    public ReadOnlyMemory<byte> Body { get; set; }
    public string ContentType { get; set; }
    public string CorrelationId { get; set; }
    public string Label { get; set; }
    public string MessageId { get; set; }
    public string PartitionKey { get

[2020-02-26 18:19] JoshLove-msft commented on #9886
It looks like the only deltas from your comments are the ForcePersistence and State properties. I didn't see these on Track 1 so I will need to dig into these a bit more.

[2020-02-26 18:22] #6768 closed

[2020-02-26 18:23] #7070 closed

[2020-02-26 18:29] jsquire commented on #8490
Moving this to the backlog milestone, as the associated sprint has passed.

[2020-02-26 18:31] jsquire commented on #8624
Moving this to the backlog milestone, as the associated milestone date has passed.

@AlexanderSher:  Since you're the assigned engineer, would you be so kind as to help route this to the correct milestone and epic?

[2020-02-26 18:32] jsquire commented on #7271
Moving this to the backlog milestone, as the associated milestone date has passed.

@AlexanderSher:  Since you're the assigned engineer, would you be so kind as to help route this to the correct milestone and epic?

[2020-02-26 18:45] swasun99 opened #10164 "Ask : Azure App Configuration"
Is there a way to distinguish between the different configuration settings like is it a key value pair or a key vault reference?

[2020-02-26 19:04] JoshLove-msft commented on #10158
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs.Processor/src/EventProcessorClient.cs#L428

[2020-02-26 19:19] seanmcc-msft opened #10165 "[Storage][DataLake] Address final API review comments."

[2020-02-26 19:20] seanmcc-msft opened #10166 "[Storage][DataLake] Enabled GenerateAPIListing and EnableApiCompat before GA"

[2020-02-26 19:29] KLReid12 opened #10167 "[QUERY]"
![image](https://user-images.githubusercontent.com/60779808/75379534-899e7c00-58a3-11ea-825a-572645b5beb8.png)

This came from an Azure Market Place image : WindowsServer.2016-Datacenter.2016.127.20180613
![image](https://user-images.githubusercontent.com/60779808/75379877-1ba68480-58a4-11ea-9961-2873cb66b835.png)

Here are the results from my LAB TEST of the ISSUE:
![image](https://user-images.gi

[2020-02-26 19:40] jsquire commented on #10167
@AlexGhiondea:  Would you please review the tagging and help route if necessary?

[2020-02-26 23:02] hjhhh3000vitae commented on #3970
@bsiegel Please advise regarding the comment above. Code generator is generating similar class names from different definition in swagger.

[2020-02-27 00:03] bsiegel commented on #3970
Summoning @pakrym @MiYanni as maintainers of autorest.csharp generator.

[2020-02-27 00:49] serkantkaraca commented on #8761
I will improve exception contract to distinguish between case 1 from case 2 as the first step.

[2020-02-27 00:50] dansiegel opened #10176 "[QUERY] Azure Storage Tables"
**Query/Question**

If I'm using the Tables in Azure Storage what's currently the correct SDK package for connecting and working with those tables so that we can read/write?

**Environment:**
 - Name and version of the Library package used: that's the question
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): .net core 3.1 / xamarin
 - IDE and vers

[2020-02-27 02:00] #10109 closed

[2020-02-27 02:23] JoshLove-msft commented on #10155
One potential issue with using IReadOnlyList is that we couldn't take the return as input to a different method that is expecting an IList. For instance, if you want to complete all the messages that you received, and the Complete method took an IList, this wouldn't work. For this reason, it may be better to just use IList or ICollection.

[2020-02-27 05:31] SeanFeldman commented on #10155
Would [`ImmutableList<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutablelist-1?view=netcore-3.1) help?

[2020-02-27 07:43] tmasternak commented on #8434
If I can help in any e.g. opening a PR just let me know.

[2020-02-27 12:14] igilham commented on #9607
This functionality is also needed for some simple use cases like iterating over a large number of Blobs and appending them to a zip file while streaming the output to a new Blob to avoid running out of memory.

[2020-02-27 15:20] jsquire commented on #10176
//cc: @pakrym, @AlexGhiondea

[2020-02-27 16:22] mymatrixpixel commented on #10021
I don't know how to create environment variabkes. Can you give sample or step by step creation. So that I can read it in C# code. Based on each region I will read from environment variable. Can you give sample complete C# code?

[2020-02-27 17:46] darthkurak commented on #10088
Any update? :)

[2020-02-27 17:51] Lutando opened #10194 "[BUG] Blueprint Management Client Does Not Populate Versions"
I am trying to retreive a blueprint and its published versions so that I can see what versions have been published in code.

**Describe the bug**
using the `BlueprintManagementClient` to retreive blueprints does not correctly populate the `BlueprintModel.Version` property

**Expected behavior**
That the BlueprintModel.Versions property is populated

**Actual behavior (include Exception or Stack Tr

[2020-02-27 18:25] #8760 closed

[2020-02-27 18:41] #9631 closed

[2020-02-27 18:59] jongio commented on #10021
I typically store my env variables in a .env file and then use the DotNetEnv package to load that file with Env.Load method.  That will automatically put the values in your .env file in your environment and then you read them with Environment.GetEnvironmentVariable methods.

You can also set via command line.  This article has a good example on how to set an env variable with psh or bash.
https://

[2020-02-27 20:04] MiYanni commented on #3970
Neither @pakrym and I work in the v2 autorest.csharp generator. However, from our work on v3 autorest.csharp, type names that have duplicate words are deduplicated. So, `DeploymentOperationsOperations` would become `DeploymentOperations` unless there is a naming conflict. Having duplicated words in 99% of cases doesn't add additional meaning. This was also done in autorest.powershell too. Unfortun

[2020-02-27 23:02] JoshLove-msft opened #10202 "Add Samples"
Using the code snippets like in Storage.

[2020-02-27 23:10] JoshLove-msft opened #10203 "README + Changelog"

[2020-02-28 00:44] JamesBirdsall commented on #10088
ServiceFabricProcessor is still officially in preview, and there are some known issues and API changes we would like to make before it goes GA. That said, some customers are using it, and if someone using it hits a stopper, we will fix it with priority.

[2020-02-28 00:44] #10088 closed

[2020-02-28 03:24] seanmcc-msft opened #10208 "[Storage][Blobs] Investigate making the default initial blob download size smaller."
https://github.com/Azure/azure-sdk-for-net/pull/10099

Downloads of > 256 MB are split into an initial download of 256 MB, followed by downloads of 4 MB.  Investigate the pref implications of lowing this initial download threshold.

[2020-02-28 04:03] #10162 closed

[2020-02-28 07:14] wantedfast commented on #10176
Hi @dansiegel ,

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet

Code snippet for inserting.
[code]

Code snippet for Retrieving.
[code]

Please let me know if further help is needed.

@jongio

[2020-02-28 12:37] Lutando commented on #10194
So I know what the problem is. Azure Management API requires `$expand=versions` querystring parameter to return the versions of the blueprint to the caller.
I got around this by making a `DelegatingHandler` that appends the mentioned query string parameter to the HttpRequest.RequestUri. Bobs your uncle.

I still feel like from an SDK perspective this should be fixed because I dont think that the V

[2020-02-28 16:12] svengeance commented on #9751
Just wanted to hop on this train and say I'm also in this situation. Because all of the `.Upload` methods take a Stream, I was concerned that I was doing things incorrectly by trying to store json in blob storage and I would have to look elsewhere.

[2020-02-28 18:50] pakrym commented on #8847
Done.

[2020-02-28 18:50] #8847 closed

[2020-02-28 19:15] tg-msft opened #10216 "[Azure.Core Shared] ContentTypeUtilities recognizing other JSON variants"
We should make the [ContentTypeUtilities](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ContentTypeUtilities.cs) a little more robust to recognize other JSON variants like:

[2020-02-28 19:54] nemakam commented on #8434
@tmasternak , we had an internal discussion, and we are okay with this change.
Feel free to raise a PR for this. Take a look at existing `GetQueues` and `GetQueueRuntimeInfo` implementation and you should be able to figure it out.

[2020-02-28 20:28] varunsh-msft commented on #7457
Closing this issue since 1.4.0 fixes this.

[2020-02-28 20:28] #7457 closed

[2020-02-28 20:28] SeanFeldman opened #10219 "[FEATURE REQ] Service Bus managed identity authentication in the development environment"
Authenticate the user in the development environment

**Library or service name.**

Microsoft.Azure.ServiceBus

**Is your feature request related to a problem? Please describe.**

When developing with Azure Service Bus and using Managed Identity, it is not possible to run and test the test without some workarounds. Adding support for local development via providing AAD information with the environ

[2020-02-28 21:38] jsquire commented on #10219
//cc: @nemakam, @serkantkaraca

[2020-02-28 22:06] heaths opened #10221 "Add document for MSI with Key Vault and update README"
The quick start should be simple, so we may want to keep using the env vars for service principals in the README. However, we should bluntly call out that it's not recommended and point people to how to use MSI with Key Vault. We may be able to point them here for general concepts: https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/overview#how-does-the-managed-id

[2020-02-28 22:24] heaths opened #10222 "Add tests for "import" key_ops when more readily available"
When pushed to more regions, add a test for the new key_ops "import" value. The concept is to import a key with just "import", use the returned public key (should match what we imported) to encrypt another key using PKCS11 RSA_AES_KEY_WRAP, and import that with whatever key_ops we want sans "import" ("import" can't be combined with any other ops).

[2020-02-28 23:52] nemakam commented on #10219
@serkantkaraca , Could you provide your insights into this?

[2020-02-29 01:03] serkantkaraca commented on #10219
What is the issue here? Local development workarounds should just work fine with current API.

[2020-02-29 01:05] SeanFeldman commented on #10219
@serkantkaraca, so using these environment variables would work? https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#authenticate-the-user-in-the-development-environment

[2020-02-29 01:07] serkantkaraca commented on #10219
Should work as they claim since it is the identity client reading the env-variables. Have you tried that?

[2020-02-29 03:01] amishra-dev opened #10224 "We need a sample that shows usage of MaximumTransferLength and MaximumConcurrency"
We are getting asks to set the block size and a sample will help reduce the friction customers face for looking up a sample

[2020-02-29 05:55] SeanFeldman commented on #10219
Yes, I've tried it using the following:

1. Under `App Registrations` created an app with a secret.
1. Under the namespace's IAM assigned `Azure Service Bus Data Owner` to the App
1. Filled out environment variables as per [documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#authenticate-the-user-in-the-development-environment)
1. Used Managed Identity connect

[2020-02-29 07:26] jongio opened #10228 "[FEATURE REQ] Azure.Identity - Support KnownAuthorities like Python SDK"
Azure.Identity

It would be great if we provided a "KnownAuthorities" concept, like we have in the Python SDK.
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_constants.py

Right now, in .NET, devs have to provide the url for the environment they are targetting `https://login.microsoftonline.us` for Gov, for example.

With Python
[code]

With .

[2020-02-29 13:50] jsquire commented on #10228
//cc: @schaabs

[2020-03-01 08:55] MarkoatPriva opened #10231 "[Question] Service Fabric Processor"
Hi,

The Service Fabric Processor is still in preview, will there be a final release this year?

Marko

[2020-03-01 17:19] maririos commented on #10163
I talked with every architect that was in the arch board and raised a concern for having single and batch methods. No one is against our proposal, but are not 100% happy with it.
As part of it, I looked into how our competitors manage this scenario.

Based on investigation and conversations with architects, conclusion is to leave our proposal as it is. Python and JS won't have batch methods, and .

[2020-03-01 17:19] #10163 closed

[2020-03-01 17:23] maririos commented on #9566
Currently, `EntityCategory` is the only extensible `enum` we have.
- `SubCategory` is going to be managed as a string because of how often values get added to it.
- Input parameters are not going to be managed as `enums`. This applies to `language` and `countryhint`
- `DocumentSentiment` and `SentenceSentiment` are going to be enums as we don't consider their values to change

[2020-03-01 17:23] #9566 closed

[2020-03-01 17:25] maririos commented on #9938
Currently we have all functionality examples in sync mode, and 2 extra examples for async mode.
I will add an example of a batch functionality in the Readme

[2020-03-02 05:15] #10075 closed

[2020-03-02 06:13] serkantkaraca commented on #10219
I think MSI library it is falling back to user account instead of environment variables set identity. Can you try acquiring a token with below code and parse it on jwt.io?

`            AzureServiceTokenProvider azureServiceTokenProvider = new AzureServiceTokenProvider();
            string accessToken = azureServiceTokenProvider.GetAccessTokenAsync("https://servicebus.azure.net/").GetAwaiter().Ge

[2020-03-02 06:33] SeanFeldman commented on #10219
The access token is parsed successfully.
@serkantkaraca perhaps I should share the parsed results privately? I can send you the access token or parsed info if you ping me at feldman dot sean at gmail.

[2020-03-02 06:36] serkantkaraca commented on #10219
Actually, you don't need to share it. Access token tells what secure identity it belongs to via 'oid' in the payload section. You can also check if user name or email is in the payload. If so, then it is obviously a user access token.

[2020-03-02 06:46] SeanFeldman commented on #10219
The username/payload is not in the payload.
`tid` (tenant ID) is the right value.
`oid` is a GUID. Can you suggest where to look for that GUID?

[2020-03-02 09:04] aidapsibr commented on #7754
I'm now seeing this with both Visual Studio 16.4.5 and az cli.

I've tried using both Microsoft.Azure.Services.AppAuthentication v1.0.3 (transitive from Microsoft.Extensions.Configuration.AzureKeyVault) and v1.2.1 explicitly.

Error message using both Visual Studio Services and az cli with same issue:
[code]

I'm also getting this when I set my Visual Studio Services authentication to a different

[2020-03-02 14:00] TheGynome opened #10237 "[BUG]Data is not contiguous or the position query parameter"
**Describe the bug**
After creating file with (DataLakeFileClient) with Create()
and appending data via (DataLakeFileClient) file.Append(stream, 0)
and file.Flush(streamLength) this error appears

The uploaded data is not contiguous or the position query parameter value is not equal to the length of the file after appending the uploaded data.

After flushing the File first time the Status (getting

[2020-03-02 14:09] jsquire commented on #10231
//cc: @JamesBirdsall

[2020-03-02 15:02] jsquire commented on #7921
Shifting to the backlog milestone, as the previously assigned sprint has passed.

[2020-03-02 15:03] jsquire commented on #7690
Shifting to the backlog milestone, as the previously assigned sprint has passed.

[2020-03-02 15:21] StevenDevooght commented on #10007
We have a .dmp file of the hanging process. But for some reason I cannot load the symbols for _Microsoft.Azure.ServiceBus_ & _Microsoft.Azure.Amqp_. _Microsoft.ApplicationInsights_ loads fine...

The Nuget.org symbol server should suffice?

[2020-03-02 17:41] maririos commented on #9354
Changes included in PR https://github.com/Azure/azure-sdk-for-net/pull/10238

[2020-03-02 18:30] #9040 closed

[2020-03-02 18:38] GrimGadget opened #10241 "Service Bus: Expose DispositionStatus on the Message class"
Service Bus: Microsoft.Azure.ServiceBus

**Is your feature request related to a problem? Please describe.**
In the older BrokeredMessage version of the Service Bus SDK, the BrokeredMessage exposed the State/Status of the message.  This allowed Peeking of messages in a queue/subscription specifically for the purpose of locating messages that had been previously deferred and then orphaned.

Since th

[2020-03-02 18:44] svengeance opened #10242 "[FEATURE REQ] Base64 Encoding helpers in QueueClient.SendMessage"
**Library or service name.**
Azure.Storage.Queue

**Is your feature request related to a problem? Please describe.**
In the previous version of the queue SDK, messages were automatically base64 encoded whether you wanted them to be or not - https://github.com/Azure/azure-storage-net/blob/master/Lib/Common/Queue/CloudQueueMessage.Common.cs#L267

Given that this is no longer occurring, it would be n

[2020-03-02 19:43] serkantkaraca commented on #10219
Compare Oid to "Object Id" on the AAD App page. If both same then there might be an issue with the role assignment.

[2020-03-02 19:45] #9075 closed

[2020-03-02 20:23] #9633 closed

[2020-03-02 20:32] tg-msft opened #10244 "Add Avro support to Track 2 test recording framework"
We'll need to make sure Avro payloads work with the Track 2 test recording framework before we GA any services that depend on it.

[2020-03-02 20:39] jsquire commented on #10241
//cc: @JoshLove-msft, @ShivangiReja

[2020-03-02 20:50] JoshLove-msft commented on #9886
https://github.com/Azure/azure-sdk-for-net/issues/10241

[2020-03-02 21:12] #9939 closed

[2020-03-02 21:12] #9955 closed

[2020-03-02 21:12] #9960 closed

[2020-03-02 21:15] carsontwilson opened #10245 "[QUERY] How you specify a Point In Time for Point in Time restore?"
Here is my code:

`var lendingRestorePoint = lendingDb.ListRestorePoints().First()`

There's one restore point that goes all the way back to January, but I only want to restore for about two hours ago.

And then:

[code]
I don't see any way to specify - restore for X amount of time ago... I can't see where to define that. Any insight would be much appreciated!

[2020-03-02 21:16] carsontwilson commented on #10245
And 5 seconds later I figured it out - thanks!

[2020-03-02 21:16] #10245 closed

[2020-03-02 21:19] JoshLove-msft commented on #9886
Sounds like the State property would be useful for customers.

[2020-03-02 21:30] SeanFeldman commented on #9886
You're in an entertaining mood today, @JoshLove-msft...

[2020-03-02 22:22] SeanFeldman commented on #10219
@serkantkaraca the "oid" from the token and the one on the AAD App page do not match.

[2020-03-02 22:39] jublair opened #10248 "[BUG] Azure KeyVault: Expecting element 'root' from namespace ''.. Encountered 'None' with name '', namespace ''."
**Describe the bug**
I've been experiencing issues with acquiring an Azure Authentication token in Visual Studio 2019. While I appear to be able to acquire tokens for other services (e.g. ADLS) with no issue, Azure Key Vault fails to correctly utilise a token provided using `ServiceClientCredentials`.

I have attempted to authenticate using both Azure CLI and the Visual Studio built-in authenticat

[2020-03-02 22:40] jublair commented on #10248
I've only encountered this issue while remoting into my workstation via RDP, not sure if it's a red herring but just in case that info is useful...

[2020-03-02 23:06] AlexGhiondea commented on #8348
This is being addressed.

[2020-03-02 23:06] #8348 closed

[2020-03-02 23:08] AlexGhiondea commented on #8215
It doesn't look like this is something we want to do. In that case, @pakrym please close this.

[2020-03-02 23:11] AlexGhiondea commented on #8603
I think this is no longer an issue. Please confirm and then close.

[2020-03-02 23:17] AlexGhiondea commented on #8994
I believe some of this has already been done.

[2020-03-02 23:19] AlexGhiondea commented on #9340
@JoshLove-msft is this still applicable? If not, please close this.

[2020-03-02 23:20] JoshLove-msft commented on #9340
This was fixed in https://github.com/Azure/azure-sdk-for-net/pull/10169
Closing

[2020-03-02 23:20] #9340 closed

[2020-03-02 23:27] AlexGhiondea commented on #9775
Related to #8751

[2020-03-02 23:32] AlexGhiondea commented on #5381
I believe we have a story here. Please confirm and then close.

[2020-03-02 23:42] AlexGhiondea opened #10249 "Release Azure.Core April update"
This tracks the work needed before we can release the Azure.Core April update.

[2020-03-02 23:49] AlexGhiondea commented on #8624
@AlexanderSher it looks like the associated issue on the service is resolved. Can we close this?

[2020-03-02 23:50] AlexGhiondea commented on #10126
@maggiepint can you help route this question?

[2020-03-02 23:51] AlexGhiondea opened #10250 "Release AzConfig April Update"
This tracks the work needed for AzConfig for the April Update.

[2020-03-03 00:11] tg-msft commented on #8994
Yes - we got the critical pieces with https://github.com/Azure/azure-sdk-for-net/pull/9582.  Closing the issue and we'll re-open if we need anything else.

[2020-03-03 00:11] #8994 closed

[2020-03-03 00:12] #7103 closed

[2020-03-03 00:12] #7108 closed

[2020-03-03 00:12] #6036 closed

[2020-03-03 00:14] serkantkaraca commented on #10219
Run Get-AzureRmRoleAssignment for the oid in the token. See if you can see the assignment in the cmdlet result.

https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermroleassignment?view=azurermps-6.13.0

[2020-03-03 00:14] tg-msft commented on #8215
Azure.Core has enough hooks that we're able to do this [on top of them for Storage](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/StorageRequestFailedException.cs#L50).  Probably won't be supported by the new generator in the same way or for some time.

[2020-03-03 00:34] tg-msft commented on #10142
Alex owns this and has been doing as much as possible without additional changes from NuGet (i.e., if you click any of those old packages like [WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage) you'll see a blurb like:

[2020-03-03 00:35] schaabs commented on #9930
@kwaazaar Thank you for filing this issue.  The Azure.Identity library is meant to target the [AAD v2.0](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview) which no longer uses the resource claim but rather users scopes instead. There are some places in the Identity library where we have to go back and forth between the two, and generally to turn a resourceUri to a scope

[2020-03-03 00:52] AlexanderSher commented on #10164
Answered here: https://github.com/Azure/AppConfiguration/issues/278

[2020-03-03 00:52] #10164 closed

[2020-03-03 01:01] heaths commented on #10248
I see that MSAL is failing to parse a document. If this only happens when you RDP in, I wonder if the path is resolved differently. Could you run [procmon](https://docs.microsoft.com/sysinternals/downloads/procmon) and see where it's looking in both cases?

Another option is to upgrade to Azure.Security.KeyVault.* version 4. These are our new libraries under active development that are faster with

[2020-03-03 01:06] nemakam commented on #10241
@GrimGadget THanks for raising this. We will add it to our backlog and track it. However, there is no planned ETA as of now.

[2020-03-03 01:14] pakrym commented on #9800
This is done by @AlexanderSher

[2020-03-03 01:14] #9800 closed

[2020-03-03 01:16] pakrym commented on #9934
We need a guidance from Azure Monitor here.

[2020-03-03 01:37] jublair commented on #10248
Thanks for taking this up @heaths! I think the paths are being resolved correctly here - the MSAL path (%LOCALAPPDATA%\Local\.IdentityService\msal.cache) appears to be valid on RDP when checking with procmon.

I could try the new SDK - do you reckon it would address this particular issue?

[2020-03-03 01:47] rsantosdev opened #10253 "[QUERY] PostgreSQL - how to retrieve server information?"
**Query/Question**
Using the Microsoft.Azure.Management.Fluent I can query the available metrics for a given PG Server.
Researching more I found Microsoft.Azure.Management.PostgreSQL pacakge, but I couldn't find any information on how to use it to query PG Server information on azure.
So my question is: How can I query server information with the resource id?

**Environment:**
 - Name and version

[2020-03-03 01:48] pakrym commented on #7897
I close this until we find a specific case we want to discuss.

[2020-03-03 01:48] #7897 closed

[2020-03-03 01:50] #8819 closed

[2020-03-03 02:03] jublair commented on #10248
Okay - I tried using the new KeyVault SDK and authenticated using Azure CLI az login` (is this supported?) and received the following exception instead:

[code]

Looks like a generic 5xx response, despite the 400 response code. I'll try using a service principal as well, but perhaps a more informative exception would be helpful here.

[2020-03-03 02:12] jublair commented on #10248
Nevermind - I tried using the recommendation of an AAD application, but received the same result.

[2020-03-03 03:54] #10113 closed

[2020-03-03 05:41] heaths commented on #10248
Azure.Security.KeyVault will support `az login` and VS very soon. We'll have news to share shortly. I will have to track down owners for ASAL as this seems to be a problem with their library.

[2020-03-03 05:45] jublair commented on #10248
Sounds good. I think this has something to do with my connection to my work environment. If it helps, here's how I'm connected:

Home PC (not domain-joined to MSFT) > Hyper-V VM (MSFTVPN connected) > RDP to work computer (in REDMOND domain)

[2020-03-03 06:23] SeanFeldman commented on #10219
Running with the `oid` from the token returns nothing.

[2020-03-03 06:29] serkantkaraca commented on #10219
Get-AzureRmRoleAssignment is subscription aware. Did you select the correct subscription first?

[2020-03-03 06:36] SeanFeldman commented on #10219
Yes. I've used `(Get-AzureRmContext).Subscription` to verify that.
Also, if I run `Get-AzureRmRoleAssignment`, I can see all the role assignments. Including my App, but its `ObjectId` GUID is not matching the one from the access token `oid`.

[2020-03-03 06:50] SeanFeldman commented on #10219
When inspecting the token generated on a VM that has MSI enabled, `oid` is indeed matching VM's application ObjectID.

[2020-03-03 06:59] serkantkaraca commented on #10219
I think I pointed the wrong "object id". On IAM blade, click on the app name. It will open app properties page and you will see correct object id there as below.

![image](https://user-images.githubusercontent.com/16924470/75750617-77747180-5cd9-11ea-9f88-64a3ef430b37.png)

[2020-03-03 07:25] SeanFeldman commented on #10219
Yeah, I've checked that as well. From SB namespace --> Access Control (IAM) --> Role Assignments (tab) --> selected my app with "Azure Service Bus Data Owner" role --> the ObjectID it has is not matching the `oid` from the token when running locally.

[2020-03-03 07:26] SeanFeldman commented on #10219
![image](https://user-images.githubusercontent.com/1309622/75752243-8e20c580-5ce5-11ea-89c2-8725f73d0b59.png)

The value is missing from the token `oid`.

[2020-03-03 11:25] CKHere opened #10259 "[FEATURE REQ]: Make DefaultAzureCredential support tenants where a trust has been created."
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
I have a problem when I try to use my VS2019 credentials through the DefaultAzureCredential for local SSO during develop. The problem is that we have two tenants: one Enterprise tenant, where all our corporate users are stored, and another tenant we use for developing solutions in Azure.

[2020-03-03 12:07] pingzing opened #10260 "[BUG] ICheckpointMananger is misspelled in Service Fabric Processor"
**Describe the bug**

I genuinely am not sure whether or not this is actually a _bug_ per se, but it did just cause me several minutes of confusion and frustration. I'm also not sure if it's fixable without breaking changes.

The `ICheckpointMananger` interface is misspelled. There is an extra `n`: ICheckpointMana**n**ger

**Environment:**
 - Name and version of the Library package used: Microsoft

[2020-03-03 13:34] StevenDevooght opened #10262 "[FEATURE REQ] Symbols for Microsoft.Azure.ServiceBus.dll"
**Microsoft.Azure.ServiceBus**
Provide PDB symbols for Microsoft.Azure.ServiceBus.dll (version 4.1.1)

**Is your feature request related to a problem? Please describe.**
I'am trying to investigate an issue related to Azure ServiceBus queues. However the symbol files cannot be loaded. I have the following symbol locations configured:

- Microsoft Symbol Servers
- NuGet.org Symbol Server

[2020-03-03 13:35] tmasternak commented on #8434
@nemakam I've opened a PR which proposes adding a new method to `ManagementClient`. I started off adding the `MessageCount` to the `QueueDescription` but realized that it's designed with library client modifications in mind i.e. all property setters are public. Adding a new `MessageCount` property could lead to confusion as it's a read-only value contrary to all the other values.

As a result, I'v

[2020-03-03 13:41] jsquire commented on #10262
//cc: @weshaggard, @danieljurek

[2020-03-03 13:42] jsquire commented on #10260
//cc: @JamesBirdsall

[2020-03-03 13:44] jsquire commented on #10259
//cc: @schaabs

[2020-03-03 13:47] jsquire commented on #10253
//cc: @yaohaizh

[2020-03-03 14:23] joerage opened #10263 "[BUG] Missing optional parameter HyperVGeneration fails Image creation"
Creating Image resource without providing the HyperVGeneration properties fails with the following error:
_InvalidParameter Message: Required parameter 'hyperVGeneration' is missing (null)._

The HyperVGeneration is an optional parameter and creation call should succeed without specifying it (and be defaulted to its default value 'V1')

**To Reproduce**
Steps to reproduce the behavior (include a c

[2020-03-03 15:39] maririos opened #10264 "Consider renaming parameters text and textInputs to document and documents"
See https://github.com/Azure/azure-sdk-for-net/pull/10239#issuecomment-593691624

Edited by @iscai-msft:
Decided to rename input parameter to `document` and `documents`. Make sure to also update all sample examples referring to the input parameter as well.

[2020-03-03 16:04] KrzysztofCwalina commented on #7108
@AlexGhiondea, why was this closed?

[2020-03-03 16:50] xairrick commented on #7841
I found that by upgrading to Microsoft.CrmSdk.XrmTooling.CoreAssembly v9.1.0.21  this problem goes away.    (NOTE: it also changed the hint path in the csproj file to point to the Microsoft.Rest.ClientRuntine.dll that was provided by the XrmTooling)

[2020-03-03 17:13] mszymeshop opened #10266 "QuotaExceededExceptions thrown when trying to read messages from Service Bus"
#### Query/Question
Hello,

We have been encountering issues in our EDA implementation which relies on Service Bus and runs on Service Fabric. At a certain point, a huge number of `QuotaExceededExceptions` are thrown. This leads to Application Insights capping.

We believe this happens under heavy load but no load tests have confirmed this. It is not a regular situation, happened twice so far.

##

[2020-03-03 17:28] lilyjma commented on #9175
@MiYanni, do we have any updates on this issue?

[2020-03-03 17:31] heaths commented on #7841
That may indeed be the only problem. Even if I were to update the dependency package version, the diamond dependency problem won't go away. Often times, the solution is to update the dependencies causing problems to their latest version - most often within their same major version (if following semver guidance properly).

This is one big reason that the newer "track 2" libraries - Azure.* - take f

[2020-03-03 17:41] lilyjma commented on #10137
@jfggdl, do we have any updates on this issue?

[2020-03-03 17:43] kurtzeborn commented on #10262
We generally publish symbols for all of the packages we release to the Microsoft Symbol Server.
@chidozieononiwu, would you please look into where the symbols went for this package.

[2020-03-03 17:49] heaths commented on #10248
@nonik0 could you have a look, please? Looks like ASAL is having problems parsing a file when a user is RDP'd into a session.

[2020-03-03 17:54] DiegoFaFe opened #10268 "[BUG] CognitiveServices TextAnalytics DetectLanguage has an invalid default as country hint"
**Describe the bug**
DetectLanguageAsync defaults countryHint to "en" which is not a valid ISO 3166-1 alpha-2 code
![image](https://user-images.githubusercontent.com/11487214/75803815-52d2d500-5d7f-11ea-985d-7be25f9ab1ee.png)

**Expected behavior**
Should default to a valid country code like "gb" or "us"

**Actual behavior (include Exception or Stack Trace)**
Returns an error as the country code i

[2020-03-03 18:08] maririos opened #10269 "Update changelog"

[2020-03-03 18:09] maririos opened #10270 "Create release notes for TA"

[2020-03-03 18:14] JamesBirdsall commented on #10260
Argh.
At least it's still preview, so we can fix that.

[2020-03-03 18:14] dandriscoll opened #10272 "[BUG] Azure.Storage.Blobs 12.3.0 does not correctly handle percent signs in blob names"
**Describe the bug**
I'm using Azure.Storage.Blobs 12.3.0 to enumerate and download blobs. If the blob name contains a percent sign, BlobClient does not properly encode it. I can work around this issue by manually replacing all `%` in blob names with `%25` before passing them into the client.

**Expected behavior**
BlobClient should encode percent signs in blob names so the service handles them pr

[2020-03-03 18:14] heaths commented on #7841
@andrew-sumner, I submitted a PR as more of an example of how you can upgrade your package references to resolve not only the original issue, but can upgrade Key Vault packages to the latest track 1 (Microsoft.Azure.*) versions. This resolves the diamond dependency problem. Even if we upgraded our dependency versions, this problem would exist which is why we significantly reduced our dependencies

[2020-03-03 18:14] #7841 closed

[2020-03-03 18:24] serkantkaraca commented on #10219
Seems we were on wrong SDK doc. Just realized this is the correct one - https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#running-the-application-using-a-service-principal
![image](https://user-images.githubusercontent.com/16924470/75806787-2d22dd00-5d39-11ea-81d8-8a6163fe0399.png)

[2020-03-03 18:24] joshfree commented on #7920
Closing as the work for the plugin is complete, released to nuget, and the only remaining work is to stay current on future releases of open telemetry SDK

[2020-03-03 18:24] #7920 closed

[2020-03-03 18:26] #9289 closed

[2020-03-03 18:34] maririos commented on #10268
Hi @DiegoFaFe .

What version of the library are you using?
We did notice that bug and was [fixed](https://github.com/Azure/azure-sdk-for-net/commit/3ac3a798aa5ad392f7b6bcb46b09fdb91bf9d59e) in preview.2 . See package [here](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.TextAnalytics/4.1.0-preview.2).

I would like to encourage you to take a look at the new client libra

[2020-03-03 19:08] AlexGhiondea opened #10273 "Release Text Analytics Preview 4"
This tracks the work of releasing the Text Analytics Preview 4 library

[2020-03-03 19:08] MiYanni commented on #9175
@lilyjma Unfortunately, our team currently doesn't work on the AutoRest.CSharp v2 generator. We're only working on AutoRest.CSharp v3 which will replace v2 at some point. Since this is generated, I'm assuming it is EventGrid management plane, since we didn't have any generated data plane clients (AFAIK). @erich-wang Do you know who to contact for management plane C# EventGrid SDK assistance?

[2020-03-03 19:09] timmydo commented on #9737
I feel like there should be a stronger warning on the main page about using this package in production if concurrent requests cause failures...

[2020-03-03 19:13] AlexGhiondea commented on #8709
This is related to the way Dependency Injection works in ASP.NET Core.

https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Microsoft.Extensions.Azure

[2020-03-03 19:14] AlexGhiondea commented on #8710
@annelo-msft is this still required?

[2020-03-03 19:39] nemakam commented on #10007
@StevenDevooght, thanks for opening it up as a new issue #10262 so that it can be tracked there.

[2020-03-03 20:14] AlexGhiondea opened #10275 "Release Form Recognizer Preview 1"
This tracks the work for Form Recognizer for Preview 1.

[2020-03-03 20:24] AlexGhiondea commented on #9975
@annelo-msft could you please update the title?

[2020-03-03 20:33] ahamad-MS commented on #10137
Hello @jsgoupil .. thanks for reaching out and reporting this issue.

I am not sure if you are reporting the issue against the EventGridSubscriber.DeserializeEventGridEvents() Method (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventgrid.eventgridsubscriber.deserializeeventgridevents?view=azure-dotnet ) or you are hitting this issue when you are trying to deserialize it yourself. F

[2020-03-03 20:34] maririos commented on #9242
Closing for now.
@assafi please re-open if there are concerns with our approach

[2020-03-03 20:34] #9242 closed

[2020-03-03 20:35] chidozieononiwu commented on #9757
We are unable to publish symbols for that version as the original release build has been cleaned up. Best to move to the newer version 1.0.2 which has symbols published.

[2020-03-03 20:35] #9757 closed

[2020-03-03 20:36] AlexGhiondea commented on #7306
I am closing this for now. We will create separate work items going forward as needed.

[2020-03-03 20:36] #7306 closed

[2020-03-03 20:38] chidozieononiwu commented on #10262
There was a brief period of time when our release pipeline failed to publish symbols. Unfortunately the build responsible for the release of version 4.1.1 has been cleaned up so symbols for this release cannot be published. I will work with the Service bus team to release a hotfix with symbols published.

[2020-03-03 20:43] maririos commented on #9243
@assafi so I took a look and because for single document input we are returning atomic types, we don't have the ability to return statistics.
i.e. `Response<IReadOnlyCollection<LinkedEntity>> response = client.RecognizeLinkedEntities(input);`

[2020-03-03 20:44] AlexanderSher commented on #8624
I've created the following test which I've run on existing AzConfig with several hundreds of previously created settings:
[code]

It has failed on the assert, but not on the `DeleteConfigurationSettingAsync`.

[2020-03-03 20:54] JoshLove-msft commented on #8069
This is supported here - https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/ServiceBusClientOptions.cs#L32

We currently don't have a default Proxy. @jsquire  does EH allow for default Proxy?

[2020-03-03 20:59] AlexGhiondea opened #10276 "Release Service Bus Track 2 Library Preview 2 for .NET"
This is a parent issue tracking the work planned for Service Bus to release the second preview in May following the [C# .Net Azure SDK guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html)

Code complete date: May 1st, 2020

- [x] UX Studies
- [x] Implement Transaction support
- [x] Implement add/remove/get rules features with support for filters and actions
- [x] Bring back the

[2020-03-03 21:02] jsquire commented on #8069
No; Event Hubs does not allow for an implicit default proxy.   It requires an explicit proxy be set in the options.   If I recall, this was opened by request when Pavel was first investigating based on an issue with Track One where it used an out of date method for sniffing the system default an implicitly trying to use it.

I think Track Two is using the same underlying approach that Event Hubs w

[2020-03-03 21:03] SeanFeldman commented on #10262
Cough, cough, SourceLink. https://github.com/Azure/azure-sdk-for-net/issues/6239

[2020-03-03 21:05] SeanFeldman commented on #6239
It was extremely convenient to step into the code w/o the need to set up symbols server.
I'd like to ask what was the reason SourceLink was disqualified?

[2020-03-03 21:06] SeanFeldman commented on #10262
BTW, this client [used to have](https://github.com/Azure/azure-sdk-for-net/blame/64a0ee64a70f30dc80da80334d0ad132261d81db/src/SDKs/ServiceBus/data-plane/src/Microsoft.Azure.ServiceBus/Microsoft.Azure.ServiceBus.csproj#L43) SourceLink enabled :(

[2020-03-03 21:06] AlexGhiondea opened #10278 "Event Hubs backlog"
The backlog for Event Hubs issues.

[2020-03-03 21:06] jsquire commented on #8656
This is pending the outcome of the discussion between Serkant and Clemens in #[8653](https://github.com/Azure/azure-sdk-for-net/issues/8653).  Once Serkant and the Event Hubs team lock on a design, we'll pick this up and adapt that design for inclusion in the track two client.

For now, returning to the backlog.

[2020-03-03 21:14] SeanFeldman commented on #10262
If PDB would be shipped with the package (
`<AllowedOutputExtensionsInPackageBuildOutputFolder>$(AllowedOutputExtensionsInPackageBuildOutputFolder);.pdb</AllowedOutputExtensionsInPackageBuildOutputFolder>`) and SourceLink enabled, that would allow developers easily step into the code.

[2020-03-03 21:19] chidozieononiwu commented on #10262
We are not including symbols in the package because of size. Hence the need to publish to symbols server.

[2020-03-03 21:25] jublair commented on #10248
@heaths @nonik0 I've done some further investigation, and have the following useful info:

* I went into the office today and tested my code on my desktop (without RDP/VMs) and encountered the same issue. So I doubt that RDP is actually the culprit here.
* This issue only appears to be affecting my local environment; the same binaries deployed to Azure work with no issue.
* I tried running my code

[2020-03-03 21:30] bording commented on #10262
Portable PDBs are quite small. I don't see why you need to bother with a symbol server at all.

[2020-03-03 21:33] chidozieononiwu commented on #10262
Ok @weshaggard could you clarify why the symbols server needed?

[2020-03-03 21:37] jsgoupil commented on #10137
No, it's the first case.
The data coming in is not an array

[2020-03-03 21:45] AlexanderSher commented on #8624
Found the error, it should be
[code]
@zhenlan, is it mandatory to provide `label` for the setting to be deleted?

[2020-03-03 21:52] zhenlan commented on #8624
I'm not sure about the API, but the service will only delete the key-value without a label if the label is not provided.

https://github.com/Azure/AppConfiguration/blob/master/docs/REST/kv.md#delete

[2020-03-03 21:52] zmarty commented on #9758
I think one scenario where this occurs is:
- Manually delete a container that has multiple files in it.
- Run code that tries to recreate it with CreateIfNotExistsAsync
- Exception is caused by the fact that Azure infrastructure has not in fact finished to delete it

Can you try to repro this and make it handle this better or throw a more reasonable Exception?

Thanks!

[2020-03-03 22:02] heaths commented on #10248
The client is trying to get cached access tokens before it can authenticate to the service. I'm wondering if maybe Visual Studio took an update and broke the format that this version of ASAL is expecting. Does `az login` work for you instead?

[2020-03-03 22:02] SeanFeldman commented on #10219
@serkantkaraca that's it! Let me try and make sense out of this.

- There's `Azure.Identity` client library that uses the 3 [environment variables](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#set-environment-variables) (`AZURE_CLIENT_ID`, `AZURE_TENANT_ID`, and `AZURE_CLIENT_SECRET`) that is used by the Azure SDK new client versions.
- And there's a `Microsoft.Azure.

[2020-03-03 22:08] serkantkaraca commented on #10219
Azure.Identity is the most recent auth library and it covers the MSI API as well. Track-1 should also move to Azure.Identity however current implementation is on Microsoft.Azure.Services.AppAuthentication.

You can look at the dependency section on Nuget package page to tell which library is being used. https://www.nuget.org/packages/Microsoft.Azure.ServiceBus

[2020-03-03 22:22] SeanFeldman commented on #10219
Thank you so much for your help.

- `Azure.Identity` supersedes `Microsoft.Azure.Services.AppAuthentication` ✔
- Track-1 SDKs will move to use `Azure.Identity` ✔️
- Identification if via dependencies ✔

The only question I have is about documentation. It seems to be very random and spread unevenly among various services. Is there a source that would cover this in detail and be cross-service/SDK?

[2020-03-03 22:35] serkantkaraca commented on #10219
For the time being, we don't have any doc on improving debugging experience. I will take a note for this to follow up with doc team.

[2020-03-03 22:45] jublair commented on #10248
`az login` doesn't appear to work here, unfortunately - the same error is returned, which is somewhat suspect as the access tokens in this instance would be different, right?

I'm wondering if the `Internal Service Error` message I'm receiving on the new Key Vault client is the underlying issue, and ASAL is just failing to parse the page as it is invalid JSON/XML.

[2020-03-03 22:52] heaths commented on #10248
From your original stack,
[code]

Are you getting a different stack now?

It seems like it's having problems parsing a file (likely XML; I really don't know, though). I know, conceptually, there are a cache of files that contain access tokens we try to reuse to send to services. Apart from that, @nonik0 would need to take a look.

[2020-03-03 23:03] chidozieononiwu commented on #10262
Please make use of [Microsoft.Azure.ServiceBus.4.1.2](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/) which has symbols published.

[2020-03-03 23:06] AlexanderSher commented on #8624
Ok, that would require some changes in tests. @annelo-msft , why we don't raise an exception for the `204` status code?

[2020-03-03 23:07] jublair commented on #10248
The original stack is what appears on `Microsoft.Azure.KeyVault`, and the internal service error I'm referring to [here](https://github.com/Azure/azure-sdk-for-net/issues/10248#issuecomment-593727508) appears on `Azure.Security.KeyVault`.

[2020-03-03 23:20] jongio commented on #10014
@serkantkaraca - Do you have that info for @srivathsanvlb?

[2020-03-03 23:24] jongio commented on #10021
@mymatrixpixel - Are you set now?

[2020-03-03 23:31] heaths commented on #10248
I did mention above that,

So no authentication credential is sent for Azure.* yet, but will be very soon.

[2020-03-03 23:33] jublair commented on #10248
That's true, though [I did attempt to use AAD application authentication](https://github.com/Azure/azure-sdk-for-net/issues/10248#issuecomment-593729754) and received the same result:

[code]

[2020-03-03 23:37] Marusyk commented on #8782
Could you please assign it to me?

[2020-03-03 23:38] heaths commented on #10248
Without sample code, it's hard to say. Did you use a `DefaultAzureCredential` and were those environment variables set such that the process picked them up. If you set them on your machine but without restarting VS (if you're debugging/testing your app), they won't get used. We use service principals in our live tests every night, as well as ad-hoc testing.

But that result page you got doesn't lo

[2020-03-03 23:49] SeanFeldman commented on #10219
Thank you, @serkantkaraca.
I'll close this issue as you've helped to resolve it.
Looking forward to seeing a better documentation 🙂

[2020-03-03 23:49] #10219 closed

[2020-03-03 23:54] maririos opened #10285 "Consider naming around DetectLanguageInput"
Concern: What if we have more APIs that want to take text with ID? i.e. should this type be called `TextAnalyticsInput`?

It would be good if this type inherited from `TextAnalyticsInput`

https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7

[2020-03-03 23:57] maririos opened #10286 "EntityCategory parameter renaming for =="
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityCategory.cs#L87 rename to left and right

[2020-03-04 00:03] weshaggard commented on #10262
There is a long discussion about using embedded pdb's and some of the drawbacks at https://github.com/dotnet/sdk/issues/2679. We are essentially using the same pdb policy that the .NET team is using which for the most part has served us well (minus a few publishing issues which were just oversights).

As for source link we have enabled it for all the data-plane libraries by default so that should

[2020-03-04 00:05] weshaggard commented on #6239
We have enabled SourceLink for all our data-plane packages by default, see PR https://github.com/Azure/azure-sdk-for-net/pull/6867. If you are seeing something not working please let us know.

[2020-03-04 00:09] maririos opened #10287 "Unify both `DocumentSentimentLabel` and `SentenceSentimentLabel`"
Consider renaming to unify both `TextSentimentLabel`.

[2020-03-04 00:20] matthewaturner opened #10289 "[FEATURE REQ] AzureFirewall .Update() does not allow for manipulation of rule collections"
**Microsoft.Azure.Management.Network.Fluent.AzureFirewall**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
When I want to define a new azure firewall, I am able to specify seemingly all properties of the resource. [AzureFirewall Definition Namespace](https://docs.microsoft.com/en-us/dotnet/api/micro

[2020-03-04 00:29] jublair commented on #10248
I tried using `DefaultAzureCredential`, and I believe so - I'm using the same mechanism provided by `local.settings.json` that works fine for other environment variables and picks up the latest values on each run.

The key vault URL I'm testing on is: `https://InsertVaultNameHere.vault.azure.net`

[2020-03-04 00:43] serkantkaraca commented on #10014
Sorry for late response.

There are 2 APIs you can use to access them.

https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Microsoft.Azure.EventHubs/4.1.1/api/Microsoft.Azure.EventHubs/Microsoft.Azure.EventHubs.EventHubClient.html#Microsoft_Azure_EventHubs_EventHubClient_GetRuntimeInformationAsync

https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Microsoft.Azure.EventHubs/4.1.1/api/Micro

[2020-03-04 00:44] heaths commented on #10248
I'll need to see more: either a sample projects, or you can contact me internally with project details. You could also enable tracing, which in Azure with Application Monitoring enabled should be automatic; otherwise, see https://heaths.dev/azure/2020/02/04/trace-azure-sdk-for-net.html.

[2020-03-04 01:39] JoshLove-msft commented on #10155
@SeanFeldman thanks for that idea. Since customers might end up wanting to remove messages from the received message list, we figured it was better to just stick with IList.

[2020-03-04 01:40] JoshLove-msft commented on #10155
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/10235

[2020-03-04 01:40] #10155 closed

[2020-03-04 01:56] #9073 closed

[2020-03-04 02:10] mikeharder opened #10294 "[Storage] BlobBaseClient.DownloadAsync() throws XmlException if server response has no body"
If the server response has no body, `BlobBaseClient.DownloadAsync()` tries to parse the emtpy stream as XML throws the following exception.  Instead, I think the client should check for empty body and throw a better exception.

[code]

To repro, first start an HTTP server which sends an error response (say 404 to prevent retries) but no body:

[code]

Then call a storage API like `DownloadAsync()`

[2020-03-04 02:33] #8900 closed

[2020-03-04 02:56] sergiosolorzano opened #10295 "[QUERY]How update .net core azure cli environment?"
**Query/Question**
How can we help?
how install .net core in azure cli share folder. Please refer to the explanation in my question posted in stackoverflow: https://stackoverflow.com/questions/60514333/how-install-net-core-in-azure-cli-share-folder
**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
.net core 2.2.402
 - Hosting platform or OS and .NE

[2020-03-04 03:08] nickzhums commented on #9982
@dingmeng-xue  could you help take a look a this

[2020-03-04 03:29] maririos commented on #10148
After arch board, decision is not to rename

[2020-03-04 03:29] #10148 closed

[2020-03-04 03:33] maririos commented on #9692
Service is looking into this, so when there is a decision on their side, we will do the implementation for the client libraries.
Closing for now

[2020-03-04 03:33] #9692 closed

[2020-03-04 03:34] maririos commented on #8709
@AlexGhiondea is this required for each service? Does it has to happen for GA or could it be after?

[2020-03-04 03:35] maririos commented on #8710
My understanding is that this applies for mocking, but we already have something set up.
What will be the remaining work here?

[2020-03-04 03:37] maririos commented on #9938
Readme structure has been modified to make batch operations more obvious. PR https://github.com/Azure/azure-sdk-for-net/pull/10239

[2020-03-04 03:37] #9938 closed

[2020-03-04 04:09] SeanFeldman commented on #10262
I don't know what those policies are but can share my side of the story where I would agree with the arguments brought in https://github.com/dotnet/sdk/issues/2679 by supporters of embedding PDBs in the package - it simplifies troubleshooting and additional 20-30% of size increase justify it. Just as today no one claims that all data should be normalized just because storage was expensive, I hope

[2020-03-04 04:41] yaohaizh commented on #10253
@dingmeng-xue the packaged use is not-fluent SDK.

[2020-03-04 04:43] annelo-msft commented on #8710
The guidelines imply this is required: https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking  Could we raise this up to Krzysztof to find out if other approaches are acceptable?

✅ DO provide factory or builder for constructing model graphs returned from virtual service methods.

Model types shouldn’t have public constructors. Instances of the model are typically returned from

[2020-03-04 07:02] amishra-dev commented on #10272
@amnguye can you please look. I think the sdk does not urlencode blob names. Lets make sure the behavior is consistent across java and python and possibility of providing a helper function.

[2020-03-04 08:53] DiegoFaFe commented on #10268
Hi @maririos , I was using the latest stable 4.0.0, if that's already solved then I can close the issue :) Just a quick question before closing it though, Is there any ETA for the stable release?

[2020-03-04 12:18] StevenDevooght commented on #10262
@chidozieononiwu I can confirm version 4.1.2 has symbols published. This issue can be closed.

[2020-03-04 12:18] #10262 closed

[2020-03-04 13:47] hallgeirl commented on #9758
I have the same issue - but we've not deleted anything. We're trying to use CreateIfNotExists() on a container that has existed for years. Exists() also crashes with a NullReferenceException.

Here's our code:
[code]

We've tried with both c.CreateIfNotExists, and the below approach - same result. "container" is the name of our container, which exists, and _connectionString is a correct and valid

[2020-03-04 14:10] KLReid12 commented on #10167
Is there any update concerning this issue?

[2020-03-04 14:11] KLReid12 commented on #10167
Is there any update concerning this issue?

[2020-03-04 14:19] fkuehnSAG opened #10298 "[BUG] Cognitiveservices LUIS Authoring updating app version settings throws exception on response status code 201"
When calling LuisAuthoringClient.Settings.UpdateWithHttpMessagesAsync() it throws the following Exception: Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.Models.ErrorResponseException: Operation returned an invalid status code 'Created'

The automatic generated code in Settings.cs just throws this exception when the status code of the response is not 200, but the api currently returns 2

[2020-03-04 14:56] chrisalexander commented on #10010
Hi folks, any chance on an ETA for this one? Here or on the open ticket fine.

[2020-03-04 14:56] chrisalexander commented on #10011
Hi folks, any chance on an ETA for this one? Here or on the open ticket fine.

[2020-03-04 14:58] rsantosdev commented on #10253
I figured it out. In summary, you need to create a TokenCredential object to authenticate the PG client and query information. Follow there's the code I used:
[code]

[2020-03-04 14:59] #10253 closed

[2020-03-04 15:07] jsquire commented on #10289
/cc: @yaohaizh

[2020-03-04 15:08] jsquire commented on #10295
@AlexGhiondea:  Could you assist in routing this, please?

[2020-03-04 15:10] jsquire commented on #10298
//cc: @maririos

[2020-03-04 15:55] maririos commented on #10268
Release for Text Analytics 3.0 for service and client library Azure.AI.TextAnalytics 1.0.0 is expected around April-May.
Next week we are going to be releasing Azure.AI.TextAnalytics1.0.0.preview.3.0 in case you want to start trying it :)

[2020-03-04 15:59] maririos commented on #10298
Thanks @fkuehnSAG . What version of the client library are you using?

@ChrisHMSFT could you help reroute to the appropriate team?

[2020-03-04 16:11] KrzysztofCwalina commented on #8710
What do we have setup? If you mean we have our recorded mocks, then the guideline is not about them. The guideline is to ensure that our customers (not us) can use mocking framework, like Moq, to unit test their code that uses our libraries.

[2020-03-04 16:21] Asier-Villanueva opened #10299 "[BUG] UnsupportedHttpVerb code returned with SendMessageAsync method of QueueClient"
**Describe the bug**
UnsupportedHttpVerb code returned with SendMessageAsync method of QueueClient
The code has been working fine til few hours ago

**Expected behavior**
Queue message creation

**Actual behavior (include Exception or Stack Trace)**
An AzureRequestFailedException:

StackTrace:

**To Reproduce**

1. Create a QueueClient
`            var queueServiceClient = new QueueServiceClient(o

[2020-03-04 16:45] jsquire commented on #5983
With the improvements to the engineering system, and moving Event Hubs to take advantage of the test resource template approach, this item is no longer needed.    The engineering system has responsibility for dynamically creating/removing the resource group used for each test run.

[2020-03-04 16:45] #5983 closed

[2020-03-04 16:46] pakrym commented on #10015
PartitionClosingAsyncIsCalledWithOwnershipLostReasonWhenStoppingTheFailedProcessor is back. https://dev.azure.com/azure-sdk/internal/_build/results?buildId=279006&view=ms.vss-test-web.build-test-results-tab&runId=9291444&resultId=101890&paneView=debug

[code]

[2020-03-04 16:55] jsquire commented on #10015
//cc: @kinelski - Do you mind taking a look and if we need to, flagging this one?

[2020-03-04 16:59] jsquire commented on #10299
//cc: @tg-msft

[2020-03-04 17:04] tg-msft commented on #10299
If it was working fine until a few hours ago, is there any chance someone changed [the CORS rules of your storage account](https://docs.microsoft.com/en-us/rest/api/storageservices/cross-origin-resource-sharing--cors--support-for-the-azure-storage-services#enabling-cors-for-azure-storage)?

[2020-03-04 17:20] dandriscoll commented on #10272
To add: snippets that describe this code (in doc repos, in StackOverflow, on random webpages) generally instruct developers to call `container.GetBlobClient(blob.Name)`. So please factor that into your thinking when considering whether BlobClient should handle this or a helper method.