[2021-05-26 14:37] maririos opened #21369 "Consider renaming Result from AnalyzeSentimentActionResult to something more specific"
From Ted in API View:

[2021-05-26 14:43] maririos commented on #16283
End result was:
![image](https://user-images.githubusercontent.com/9868623/119680383-fe899a00-bdf5-11eb-9c60-9c0194179891.png)

[2021-05-26 14:52] maririos opened #21370 "Consider moving StringIndexType to Azure.Core"
There might be other services that use this type, so better have it generic and not library-specific

[2021-05-26 14:56] maririos opened #21371 "Consider exposing Assertion and other properties in ToString to help user understand the values"

[2021-05-26 14:57] maririos opened #21372 "Remove Type from PiiEntityDomainType"

[2021-05-26 15:57] christothes commented on #21361
Configuring an assembly binding redirect should resolve the problem. Here is an post that explains some approaches to do it.

https://stackoverflow.com/questions/38093972/azure-functions-binding-redirect

Your local.settings.json should look like this:

[code]

[2021-05-26 15:57] christothes commented on #21262
Does the solution mentioned in this issue resolve the issue for you?

https://github.com/Azure/azure-sdk-for-net/issues/21361#issuecomment-848895367

[2021-05-26 16:01] pilarodriguez commented on #20973
Ok, thanks for the info. The issue can be closed.

[2021-05-26 16:02] annelo-msft commented on #20872
@pallavit @jeremymeng @seankane-msft  FYI re: updated implementation plan above.

[2021-05-26 16:17] jaganpt commented on #21262
Hi @christothes ,

It is an existing v1 azure function app. Hence not possible to use later version for now.

[2021-05-26 16:55] joshfree opened #21374 "Update Tracing instructions to highlight AppInsights"
Tracking issue for completing the testing of AppInsights with Track2 SDKs (Blob Storage, Event Hubs, Cosmos) and then updating the repo's tracing instructions / samples to make AppInsights more prominent in the documentation and making it clear that the beta Monitor OpenElemetry Exporter is a secondary option.

[2021-05-26 18:40] amnguye commented on #21182
Hi,

What are you attempting to solve with creating a SAS with fractional seconds, where you would need a SAS to start or expire at the fraction of a second? If you're looking for having a SAS to be later verified, have you looked into using AAD?

[2021-05-26 18:41] #21283 closed

[2021-05-26 18:57] #21048 closed

[2021-05-26 20:25] Steve0212a commented on #8506
I was not able to get the work around to work either.  However, this code does work for me which is heavily based on the work around above.  I think the issue with the work around above was that the while loop was on the main thread for me and that caused the progresses to not be sent until it was all done.  I have put the progress monitoring in its own thread and I now have a progress bar that wo

[2021-05-26 20:25] kasobol-msft commented on #21247
[code]

Before migration:
![image](https://user-images.githubusercontent.com/61715331/119726172-abc7d680-be25-11eb-9966-c48f37bee397.png)
After migration:
![image](https://user-images.githubusercontent.com/61715331/119726265-cd28c280-be25-11eb-8acd-f645ca8a520f.png)

[2021-05-26 20:52] JoshLove-msft opened #21382 "Do not attempt to settle message when already settled for multiple dispatch functions"
For single dispatch functions, this works correctly already because the ServiceBusProcessor has handling to check whether the user called any of the settlement methods in the event args. Since batch functions don't use the processor, we would need to add similar handling by storing off this information in the ServiceBusMessageActions and checking that before autocompleting from the listener.

[2021-05-26 21:35] g2vinay opened #21388 "Update Identity README/MSDocs"
Update Docs with details of:
- [ ] PowerShell Credential - Add it to the DAC chain diagram and the Development Platform Credentials matrix section in the README. Update MS Docs with this credential as well.
- [ ] Authenticating with Sovereign Clouds - Add a brief description of the feature with code samples/link to code samples in README/MS-Docs.

[2021-05-26 22:14] #20973 closed

[2021-05-26 23:25] pakrym opened #21392 "WebException thrown by HttpWebRequestTransport Response Stream not retried"
[code]

[2021-05-26 23:51] maririos commented on #21345
Other languages are not exposing this, and after discussion with v-team we didn't see necessary to include these properties as there is no easy way to reason on the pages a user needs for AnalyzeActions.

If we receive feedback that these properties are needed, we can always add them and it won't be a breaking change

[2021-05-26 23:51] #21345 closed

[2021-05-26 23:59] annelo-msft opened #21394 "[ACR] Add unit test for FullyQualifiedReference"
We'd like to ensure that test coverage is consistent across the languages.

Please add a unit test for the `FullyQualifiedReference` property. This is where `RegistryArtifact` formats the image name the way it can be used in the Docker CLI.

[2021-05-27 01:02] #21144 closed

[2021-05-27 05:16] Yangsh-w commented on #21361
Thank you @christothes  for your reply!

I have already tried the binding redirect and it's listed in the **Things I tired** section - part 2. Unfortunately, it is not working. You could test the same if possible, maybe I'm doing something wrong.

I tied the RedirectToVersion 4.0.4.1 as mentioned in the error message, also tried 5.0.0 as you shared, neither is working.

If the suggestion could wor

[2021-05-27 06:27] blueww opened #21401 "[BUG] BlockBlobClient.QueryAsync() require "recordSeparator" input, but it's optional in rest API"
**Describe the bug**
"Azure.Storage.Blobs 12.9.0-beta.4"  has a regression.
When run `BlockBlobClient.QueryAsync()`, it requires "recordSeparator" (and some other optional properties) in input BlobQueryOptions, But this is actually optional in rest API.

- Code cause the failure: https://github.com/Azure/azure-sdk-for-net/blob/850df4dc21246f6d216e8ed472313b741a8362b7/sdk/storage/Azure.Storage.Blob

[2021-05-27 06:42] JoshLove-msft commented on #21285
I've confirmed with the service team that there is no limit on the number of sessions that can be locked at any one time. Feel free to reopen if you have further questions.

[2021-05-27 06:42] #21285 closed

[2021-05-27 07:00] blueww opened #21402 "[BUG] BlobBaseClient.GetProperties() returned "IsLatestVersion" is false, even the blob is current version"
**Describe the bug**
"Azure.Storage.Blobs 12.9.0-beta.4" has a regression.
I don't meet this on "Azure.Storage.Blobs 12.8.0"

`BlobBaseClient.GetProperties()` returned "IsLatestVersion" is false, even the blob is current version.

**Expected behavior**
`BlobBaseClient.GetProperties()` returned "IsLatestVersion" is true, when the blob is current version.

**Actual behavior (include Exception or Sta

[2021-05-27 07:01] #21186 closed

[2021-05-27 11:36] bizmonger commented on #18980
@taabdull Here's a [video ](https://www.youtube.com/watch?v=vDvt0Utow3A)of me reproducing the anomaly:

[2021-05-27 12:54] keesschollaart81 opened #21403 "NuGet availability forAzure.ResourceManager.MachineLearningServices"
**Query/Question**
Any timeline for releasing [the Azure.ResourceManager.MachineLearningServices package](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/machinelearningservices/Azure.ResourceManager.MachineLearningServices) to NuGet?

[2021-05-27 13:27] christothes commented on #21361
Yes, I did get it working. Here is my csproj:

csproj:
[code]

I also needed to implement the AssemblyBindingRedirectHelper mentioned in one of the linked blog posts.

[2021-05-27 13:54] PrakashRajanSakthivel commented on #20911
Thanks, @christothes , Is that something I can inject into my class so that it gets picked up? like in my example above

[code]

[2021-05-27 14:04] christothes commented on #20911
As long as it gets invoked sometime before you attempt to call GetToken, it would be up to you how to call it. In my simple repro, I just called it at the beginning of the function invoke. Since it is static it does not need to be injected.

[2021-05-27 14:22] christothes opened #21405 "Creating a table entity with a user defined property named ETag fails with 500 code"
If you try to add an entity with a user defined property named "ETag", the operation fails with the following error:

[code]

Close when this closes
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/168966

[2021-05-27 14:54] #14272 closed

[2021-05-27 14:54] #13552 closed

[2021-05-27 15:24] jsquire commented on #21403
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-05-27 15:31] maririos commented on #16284
We decided to leave relations exposed as is, and according to feedback we will implement convenience methods

[2021-05-27 15:31] #16284 closed

[2021-05-27 16:00] #20964 closed

[2021-05-27 16:32] christianrondeau commented on #9934
I believe this is the right issue even though the title could be updated for more general use cases.

In our situation, we make calls to get a blob that may or may not exist; if it does, we do something, if it doesn't, we do something else. In this case, getting 404 is a legit case. Dealing with this using an exception means:

- We get error logs in Application Insights and in our log files; we ca

[2021-05-27 16:48] #21365 closed

[2021-05-27 17:00] JoshLove-msft commented on #21124
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/21354

[2021-05-27 17:00] #21124 closed

[2021-05-27 18:20] maririos commented on #21130
From Krzysztof: Is this property (property of the JSON payload) optional or not? If it's optional, we should use nullable. If it's required, it's a bit more difficult. We struggled in the past with having a clear guidance here, and I am wondering if we should not make the guidance more crisp at least for pure inputs: always use nullable, in case the property changes to optional. For inputs, the co

[2021-05-27 18:20] maririos commented on #21130
So we can make it bool?

[2021-05-27 19:10] IvaskevychYuriy opened #21416 "Event Hubs trigger v5 with user-provided client utilizing Managed Identity"
**Question**
Hi, I am trying to implement an Azure Function with Event Hubs trigger using prerelease version v5. But without providing "Connection" parameter at all. I see from the docs that it is possible to add functions settings with either conn string or namespace (to utilize Managed Identity). However, I'm using external configuration so I would like to provide my own client for the trigger t

[2021-05-27 20:35] AlexGhiondea opened #21422 "Validate SDK dependencies"
We should add a check in our EngSys to ensure that the set of dependencies for our libraries will not conflict with the set of dependencies the Functions are using.

The set of dependencies we should validate against for Functions is [here](https://github.com/Azure/azure-functions-host/blob/dev/test/WebJobs.Script.Tests/Microsoft.Azure.WebJobs.Script.WebHost.deps.json).

[2021-05-27 20:42] #16917 closed

[2021-05-27 20:42] #20481 closed

[2021-05-27 20:42] #20909 closed

[2021-05-27 20:58] jsquire commented on #21416
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-05-27 21:29] heaths opened #21428 "Successful restore operations may yield error"
Managed HSM may return an "empty" error object in otherwise successful responses, e.g.:

[code]

This may yield an error depending on how the response is processed. To mitigate this possibility, check not only that the `error` object is null but that the [`error.code`](https://github.com/Azure/azure-rest-api-specs/blob/9875f8eebd8c1392a83c052bc50a79c8251b1174/specification/keyvault/data-plane/Micr

[2021-05-27 21:43] weshaggard commented on #21422
I think it would be best if someone on the libraries team does this work. They can build on top of the work I did for powershell last year, see https://github.com/Azure/azure-sdk-for-net/pull/13656.

[2021-05-27 22:07] mikeharder commented on #20374
I was able to repro this exception message using the following response from `http-fault-injector`:

[code]

Typically, when the Storage service sends a partial response, the TCP connection is aborted or reset.  Which corresponds to these options which cause the `BlobContainerClient` to retry instead of throwing this exception:

[code]

However, I think it should be possible for the Storage servic

[2021-05-27 22:57] #21428 closed

[2021-05-28 00:27] thesaladmander opened #21433 "[BUG] Azure.Data.Table ConnectionString vs StorageURI/Credentials with Azurite"
**Describe the bug**
Was trying to connect to connect to azurite for local development using the TableClient with a single connection string (as opposed to the StorageUri/Credential way which DOES work).  The azure connection string works out-of-the-box, but the azurite connection string doesn't seem to work.

**Expected behavior**
new TableClient(connectionString, tableName)..CreateIfNotExists();

[2021-05-28 02:18] blueww commented on #21401
@seanmcc-msft
Would you please help to look at this issue?

[2021-05-28 02:19] blueww commented on #21402
@seanmcc-msft
Would you please help to look at this issue?

[2021-05-28 04:11] JoshLove-msft commented on #21416
Hi @IvaskevychYuriy,
Can you let us know what your configuration looks like here (making sure to redact any sensitive information)?

Looking through the code, I see that in the case of Service Bus we fall back to a well known config key of AzureWebJobsServiceBus, but there does not appear to be an equivalent for EventHubs.

[2021-05-28 06:07] JandosHk commented on #21075
I set logging like below:

	DefaultAzureCredentialOptions opts = new DefaultAzureCredentialOptions
	{
		Diagnostics =
		{
			IsLoggingContentEnabled = true
		}
	};
	var secretClient = new SecretClient(
		new Uri("https://MyKeyVault.vault.azure.net/"),
		new DefaultAzureCredential(opts));
	builder.AddAzureKeyVault(secretClient, new KeyVaultSecretManager());

Logging messages are below:

Successfull

[2021-05-28 06:43] amnguye commented on #21349
Hi could you provide a code snippet and maybe a sample of a file name that has a '#' in it. I attempted to reproduce the error you gave however I was not able to reproduce. I included '#' in the source uri and I was not able to reproduce. I also tried to include '#' in the destination blob and I was not able to reproduce.

[2021-05-28 06:50] amnguye commented on #21401
@blueww What's the older version where you don't experience the regression?

[2021-05-28 06:58] blueww commented on #21401
I don't meet this on "Azure.Storage.Blobs 12.8.0"

[2021-05-28 08:33] Yangsh-w commented on #21361
Thank you so much @christothes !

Seems I'm missing below 2 lines in our csproj,
[code]
After I modified my csproj, the 4.0.4.1 issue is not showing again.

Many thanks!

[2021-05-28 09:46] Valdeminas commented on #18878
So can we do anything about it or should we wait for a fix on your end?
Also, since the problem appears intermittently, should we be looking for something on our end?
Like records with empty date tame values? Or requests made with some strange datetime culture settings?

[2021-05-28 13:04] jsquire commented on #21433
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-05-28 13:21] #21361 closed

[2021-05-28 13:30] IvaskevychYuriy commented on #21416
Hi @JoshLove-msft,
Sure, so configuration-wise we use Azure App Configuration and pull data from there and you're correct, Service Bus uses 'AzureWebJobsServiceBus' by default from what I can see in the code for `ServiceBusTrigger`.

But actually, I think I've found an issue, after second day of troubleshooting this, it turns out there was exactly 'AzureWebJobsServiceBus' buried in `launchSettings

[2021-05-28 13:30] #21416 closed

[2021-05-28 15:20] DominikMe commented on #21270
We will need to have some more conversations with AutoRest as our LRO implementation is generated.

Our team is tracking this work internally
[Feature 2459412: SDK - PhoneNumbers long-running operations can be persisted and rehydrated](https://skype.visualstudio.com/SPOOL/_workitems/edit/2459412)

[2021-05-28 16:01] #17857 closed

[2021-05-28 16:02] jsquire opened #21440 "[Event Hubs Client] Extend logging for better end-to-end correlation"
# Summary

Each of the core Event Hub client and primitive types are instrumented to perform operation-level logging using the [`EventHubsEventSource`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs), and following the pattern of capturing Start, Stop, and Exception flow, as well as important context for the spe

[2021-05-28 16:33] jsquire commented on #21295
fixed by #21441

[2021-05-28 17:34] #21368 closed

[2021-05-28 17:34] maririos commented on #21368
After conversations with v-team, other architects, and the service team, we have decided to leave as is.

[2021-05-28 17:43] maririos commented on #19529
It is coming in their new swagger :)

[2021-05-28 17:49] maririos commented on #19268
Service issue: https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/9467369

[2021-05-28 18:30] brjohnstmsft commented on #9927
@dauv The model classes for `Microsoft.Azure.Search` were designed in tandem with custom serialization logic specific to that library; There was never an intention to support serialization/deserialization of these types by 3rd parties. That's what I meant earlier when I said this was an unsupported scenario. We made no promise that this would work, so I view it more as an intentionally missing fea

[2021-05-28 18:44] #21343 closed

[2021-05-28 18:44] #21372 closed

[2021-05-28 18:54] #21129 closed

[2021-05-28 19:03] #20858 closed

[2021-05-28 19:17] tcc-sejohnson commented on #15383
Just wanted to voice my support for this. Whenever working with Azure Table Entities, I find myself creating one class implementing `ITableEntity` and another class, a superset of the `ITableEntity` class, with `ToTableEntity` and `FromTableEntity` methods, which I then use before saving or after retrieving entities.

The resolution requested in #19782 would pretty well fulfill all of my needs, bu

[2021-05-28 19:23] kzu opened #21444 "[Event Grid] MS Docs Navigation Pointing to the Wrong Version"
The article shows installing a beta version of the package, but it's already stable.

Would be nice to allow direct PRs like other MS docs allow (i.e. dotnet/msbuild/etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e236e89-a929-1c68-0dee-246b2a5b4a5f
* Version Independent ID: 99f80e40-5907-c1b4-4da2-24830f53d3ba
*

[2021-05-28 19:37] kasobol-msft opened #21445 "[FEATURE REQ] [Storage] Implement SecondaryThenPrimary and SecondaryOnly policies"
Opening on behalf of customer.

V11 Storage had option to specify SecondaryThenPrimary  or SecondaryOnly for geo redundant accounts. See https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.blobrequestoptions.locationmode?view=azure-dotnet-legacy

We should offer similar functionality in V12.

Samples from V11:

[code]

[2021-05-28 19:38] kasobol-msft commented on #21445
As interim workaround we suggest to use custom policy:
[code]

Example usage:
[code]

[2021-05-28 20:07] kinelski commented on #21130
I got very confused by this comment. I thought it was a question. "Is she talking to herself?".

[2021-05-28 21:00] #21130 closed

[2021-05-28 21:35] maririos commented on #21130
@kinelski I admit that sometimes in issues I end up talking to my future self. So when I go back I understand what the thought process or just the process I took was :P
I will make it more clear next time so it is clear for people outside my brain

[2021-05-28 23:02] jongio opened #21446 "Update SignalR Functions extension to support Azure.Identity"
**Library or service name.**
Microsoft.Azure.WebJobs.Extensions.SignalRService

**Is your feature request related to a problem? Please describe.**

Right now the only way to connect to SignalRService is via connection string, which causes the developer to have to store the connection string in a secret store.

The SignalR service supports managed identity.

We should update the SignalRService bind

[2021-05-29 08:08] joelverhagen opened #21449 "[BUG] No error message or indication of root cause when queue message not base64 encoded"
**Describe the bug**
In the **Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0-beta.4** package, there is no indication of what happened when the message encoding does not match what the `[QueueTrigger]` expects. For example, if the default base64 encoding is left but a non-base64 encoded queue message is encountered, it will be dead-lettered without any indication of what happened.

**Expected be

[2021-05-29 08:16] cesarpv27 opened #21450 "DeleteEntity does not allow PartitionKey in Azure.Data.Tables.TableTransactionalBatch"
Library: Azure.Data.Tables.TableTransactionalBatch
Method: DeleteEntity
Version: p12.0.0-beta.6
Framework: netstandard2.0

Description:
TableTransactionalBatch class does not contain a public constructor that takes a partition key as parameter.
DeleteEntity method also does not receive the partition key as parameter.
We need a DeleteEntity overload which receives at least the partition key and the

[2021-05-29 15:04] #21297 closed

[2021-05-29 15:16] jsquire commented on #21444
Hi @kzu.  Thank you for your feedback.   Tagging and routing to the team member best able to assist.

[2021-05-29 15:21] jsquire commented on #21444
@danieljurek:  The main navigation seems to still be pointing at the prerelease README.  Clicking here:

![image](https://user-images.githubusercontent.com/913445/120075498-87f7d100-c06f-11eb-9d69-90d720adbc1b.png)

Navigates to the [pre-release version](api/overview/azure/messaging.eventgrid-readme-pre.md)  (note the `-pre.md` ending of the URL) rather than the [release version](https://docs.micr

[2021-05-29 15:27] jsquire commented on #21450
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-05-29 15:58] jsquire opened #21451 "[Service Bus] AMQP Link Setting to Expose the Maximum Number of Messages"
# Problem statement

To provide the best possible developer experience, the Service Bus client library attempts to eagerly validate caller-provided data before invoking a service operation to allow for a more responsive API.   To avoid drift between the client and service enforcement, the client limits validations to items that either have meaning only to the client or that are based on informatio

[2021-05-29 16:00] jsquire commented on #21451
//cc: @ramya-rao-a, @JoshLove-msft, @hemanttanwar, @conniey, @YijunXieMS, @yunhaoling, @chradek, @richardpark-msft

[2021-05-29 17:27] christothes commented on #21450
This class no longer exists in the latest package version. Please upgrade to the latest.

[2021-05-29 17:27] #21450 closed

[2021-05-29 17:39] kinelski commented on #16169
We may take different approaches depending on each case, but in general we'll stick to:

to avoid making the API more complex.

[2021-05-29 17:39] #16169 closed

[2021-05-29 19:44] #21371 closed

[2021-05-30 12:55] hitochan777 opened #21453 "[QUERY] Unauthorized exception when using DefaultAzureCredential with only AzureCliCredential enabled"
**Query/Question**

I am using `DefaultAzureCredential` from `Azure.Identity` with only `AzureCliCredential` enabled to allow authentication to Azure Active Directory using Azure CLI to obtain an access token.

Then an instance of `RegistryManager` for IoTHub is created with the credential to get a list of devices registered in a specific IoTHub resource.

The code is shown below:

[code]

When I

[2021-05-30 17:03] Sti2nd opened #21455 "GetItemLinqQueryable example 2 doesn't compile"
In example 2 on [GetItemLinqQueryable](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.container.getitemlinqqueryable?view=azure-dotnet#examples) I believe the FeedIterator lacks the generic parameter for type, as it does not compile for me. [This Using Linq example](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-linq-to-sql#using-linq) on another Microsoft page incl

[2021-05-31 05:22] SeanFeldman commented on #20931
@amnguye any updates on this issue?

[2021-05-31 05:51] austeja-bentley commented on #21182
Maybe I was not clear enough, but we now use more granular time not because we need the token to start being valid or expire at a very specific time, but we need them to be unique. Seven decimal second places in timestamps pretty much guarantees (with edge cases of course) that whenever we generate a token (even if we do that in a loop consecutively for the same resource) it will be unique.

Using

[2021-05-31 06:51] amitkub opened #21457 "[BUG] - Search API returns socket exception"
**Describe the bug**
We run the Azure cognitive search api to create indexrs and get the below exception:
[code]

**Expected behavior**
What is the expected behavior? An indexer created

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior? exception thrown

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional informa

[2021-05-31 07:25] makar-sasha opened #21458 "Azure.Data.Tables 12.0.0-beta.8 - NullReferenceException in tableClient.DeleteEntity"
**Describe the bug**
NullReferenceException in tableClient.DeleteEntity call

**Expected behavior**
Row added and deleted.

**Actual behavior (include Exception or Stack Trace)**
Row is added but not deleted because of exception.

**To Reproduce**
[code]

**Environment:**
 - Azure.Data.Tables 12.0.0-beta.8
 - Win 10 .NET 3.1
 - Visual Studio 16.9.6

[2021-05-31 08:44] Tianyun-G opened #21459 "Azure MixedReality ObjectAnchors Conversion Sample issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/objectanchors/Azure.MixedReality.ObjectAnchors.Conversion/tests/Samples/AssetConversionProcessSample.cs#L81):
![image](https://user-images.githubusercontent.com/65581162/120147684-9da8fa00-c219-11eb-9a48-b9a85e96261c.png)

Reason: The operation has not completed yet.
Suggestion: Add
[code]
after line 81 `AssetConversionOp

[2021-05-31 08:44] Tianyun-G opened #21460 "Azure KeyVault Readme issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Certificates#authenticate-the-client),[link2](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Administration#authenticate-the-client):
![image](https://user-images.githubusercontent.com/65581162/120148271-8b7b8b80-c21a-11eb-827b-664fdf8d8f5d.png

[2021-05-31 08:44] Tianyun-G opened #21461 "Azure Confidential Ledger Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/confidentialledger/Azure.Storage.ConfidentialLedger#azure-confidential-ledger-client-library-for-net):
![image](https://user-images.githubusercontent.com/65581162/120148716-4441ca80-c21b-11eb-89bd-cc6d6b4c0a96.png)

Reason: Link is not correct.
Suggestion:
`1`. Update the link to https://github.com/Azure/azure-sdk-for-net

[2021-05-31 08:45] Tianyun-G opened #21462 "Azure Media VideoAnalyzer Edge Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/videoanalyzer/Azure.Media.VideoAnalyzer.Edge#azure-video-analyzer-edge-client-library-for-net):
![image](https://user-images.githubusercontent.com/65581162/120152394-03988000-c220-11eb-9c7d-58ec9acab8bf.png)
Reason: Link is not correct.
Suggestion:
1.Update link to https://docs.microsoft.com/en-us/azure/azure-video-analyz

[2021-05-31 08:45] Tianyun-G opened #21463 "Azure Analytics Purview Readme issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/purview/Azure.Analytics.Purview.Catalog#azure-purview-catalog-client-library-for-net),[link2](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/purview/Azure.Analytics.Purview.Scanning#azure-purview-scanning-client-library-for-net):
![image](https://user-images.githubusercontent.com/65581162/120171555-c094d780-c

[2021-05-31 13:53] jsquire commented on #21455
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-05-31 13:55] jsquire commented on #21457
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-05-31 14:02] jsquire commented on #21462
//cc: @giakas

[2021-05-31 14:03] jsquire commented on #21458
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-05-31 16:50] ACHYUT001 commented on #7382
Hi @jsquire ,

Sorry, been a little away past few days.
I'll pick this up and have a draft PR done by EoW.

Thanks

[2021-06-01 00:28] kinelski opened #21466 "[MetricsAdvisor] DeleteCredentialEntity does not delete credential entity"
Info can still be obtained with a GET call.
Remember to remove the `Ignore` attribute from the DeleteCredentialEntity test once this is fixed.

[2021-06-01 07:26] djj0809 commented on #14362
I was able to fix it by upgrading to latest version of Azure.Identity in .Net Core 3.1

[2021-06-01 10:03] cvb941 opened #21467 "PersonDirectory support"
Hello,

A new feature PersonDirectory has been added to the Cognitive Face API in April.
However, it does not yet seem to be present in the SDK for .NET.

Could you release a new version of the Face SDK with PersonDirectory included?

Thank you

[2021-06-01 10:08] klaudiaaaj commented on #14691
Any updates?

[2021-06-01 10:18] ibradwan opened #21469 "[QUERY] How to pause the `EventProcessorClient`?"
**Query/Question**
Is there a way to pause the EventProcessorClient without stopping it. I do not need to lose the partition ownerships and terminate the underlying connections, what I need is to pause receiving events until I resume it again.

The purpose here is that we have a high throughout system where we need to buffer the received events in memory before processing them and I need to pause

[2021-06-01 10:33] christopherbuchanan commented on #21226
We can see the same error with Azure.Messaging.ServiceBus libraries and also when we recreate the namespace in Premium pricing tier.

[2021-06-01 11:08] gethari commented on #20549
Hi @maggiepint kudos to the team for all the support. I need a clarification. Assume I have a ton of ARM Templates and I have to deploy them. The deployment happens via REST API from our application.

Take [this example](https://github.com/Azure-Samples/resources-dotnet-deploy-using-arm-template) on the sample project the main dependency is `Microsoft.Azure.Management.Fluent`

But this assembly de

[2021-06-01 11:20] yufeih opened #21470 "DefaultAzureCredential failure shared across different instances"
**Describe the bug**
Use `DefaultAzureCredential` to connect to two difference resources running on Azure VM. Configure access policy such that access to `resource1` fails and access to `resource2` succeed.

[code]

**Expected behavior**
`credential2.GetToken(new[] { "resource2" })` should succeed on case access to `resource1` fails.

**Actual behavior (include Exception or Stack Trace)**
Failure

[2021-06-01 13:24] jsquire commented on #21467
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-01 13:28] jsquire commented on #21470
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-01 13:42] jsquire commented on #21469
Hi @ibradwan.   Thank you for reaching out and we regret that you're experiencing difficulties.  There's no formal support for pausing processing; it is either started or stopped.   That said, it would be possible to simulate by taking advantage of the processor waiting for the handler to complete when dispatching events.   If your event handler were to pause, the processor would effectively pause

[2021-06-01 13:51] ibradwan commented on #21469
Thanks for the comprehensive explanation, I will be thinking about the different approaches you mentioned and will reopen this issue if needed.

[2021-06-01 13:51] #21469 closed

[2021-06-01 14:00] maririos commented on #17807
We talked offline about this but wanted to call it out here, that the title is not very good. When I said `async` I meant all the `AnalyzeActions` and related classes to this functionality. I will update the title.

[2021-06-01 14:08] maririos opened #21471 "Enable healthcare samples"

[2021-06-01 14:27] maririos commented on #19268
Can we hide this property? it won't have a value for the service v3.1 so maybe better to remove it instead of confusing customers?

[2021-06-01 14:50] isoindisystems opened #21472 "Azure.Data.Tables not working under .NET 4.7.2"
**Describe the problem**
Under .NET 4.7.2 you cant query tables of the Azure Table Storage

**Expected behavior**
All data of the table should be returned

**Actual behavior (include Exception or Stack Trace)**
The following exception is thrown:
"Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:b775b6da-5

[2021-06-01 15:25] jsquire commented on #21472
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-01 15:35] kasobol-msft commented on #21182
@austeja-bentley  Could you elaborate more about why do you need them to be unique?

[2021-06-01 15:53] pakrym commented on #19002
[code]

[2021-06-01 15:53] pakrym commented on #19002
@Mohit-Chakraborty can we disable this test, please?

[2021-06-01 15:54] jez9999 opened #21473 "[QUERY] Mocking Azure.Storage.Blobs.BlobContainerClient?"
I'm rather confused by the Azure.Storage.Blobs.BlobContainerClient class. One of its constructors (without any parameters) has documentation that suggests the class was specifically designed for mocking:

[code]

However, some of the class's methods require things to be returned that have no public constructor and therefore cannot be meaningfully mocked. For example:

[code]

Although `Pageable<T>

[2021-06-01 17:39] #20622 closed

[2021-06-01 17:59] jongio opened #21479 "Add Support for ChainedTokenCredential in Azure Functions Extensions"
**Library or service name.**

Azure Functions Extensions

**Is your feature request related to a problem? Please describe.**

Azure Identity in Azure Functions is great!

I would love to also see it support ChainedTokenCredential.

[code]

And then the options would stick for each of the well-known types, i.e.:

[code]

Would work for all types that support clientId param.

I would say to not make

[2021-06-01 18:10] #20949 closed

[2021-06-01 18:32] #21449 closed

[2021-06-01 18:43] #21295 closed

[2021-06-01 18:44] jsquire opened #21482 "Expose additional transport configuration in `ConnectionOptions`"
# Summary

For some scenarios involving high throughput, the default configuration of the network stream used for transport is not adequate and additional tuning options are needed to allow developers using the client library more control over the AMQP transport.

# Scope of Work

- The `ConnectionOptions` expose additional members that allow tuning of transport configuration.   Those members are:

[2021-06-01 18:45] lilyjma commented on #19422
@amnguye, @seanmcc-msft: I was wondering if you could help to answer this question

[2021-06-01 19:01] KrzysztofCwalina commented on #21473
Take a look at https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobsmodelfactory?view=azure-dotnet. It's a type designed for constructing values returned from client methods.

You might also find the following document useful. It describes basics of mocking with the new Azure SDK libraries: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Mo

[2021-06-01 19:01] #21460 closed

[2021-06-01 20:18] chamons opened #21483 "Open Question: How do we handle AdditionalProperties in a forward compat safe way in C#"
As part of https://github.com/Azure/autorest.csharp/issues/1232 it was decided to:

- Remove the `IDictionary` interface from generated models that have AdditionalProperties
- Make the AdditionalProperties public
- Punt other work to a future work item.

This is that 3rd item.

There are open questions on how to handle AdditionalProperties safely:

- What do you do when an AdditionalProperty is pr

[2021-06-01 20:46] heaths commented on #21126
I would like to note that Storage and Key Vault teams recommend you use RBAC instead of SAS tokens if possible.

@allenjzhang can you look at the AuthorizationManagementClient issue here? The ManagedStorageRestClient doesn't seem to be the issue, which is a sample we published since Key Vault recommend that customers use RBAC instead and didn't want a track 2 SDK for it.

[2021-06-01 20:49] jsquire commented on #21479
Routing to @AlexGhiondea, as the lead for Functions integrations.

//cc: @christothes, @schaabs (for Identity expertise)

[2021-06-01 21:14] heaths opened #21487 "Cancelling certificate operations tests often fail with no exception"
In CertificateClientLiveTests, both VerifyCancelCertificateOperation and VerifyUnexpectedCancelCertificateOperation often fail live tests because the `cancellation_requested` field for a completed operation is `false`, despite a cancellation request seemingly being made successful.

In the attached [recording](https://github.com/Azure/azure-sdk-for-net/files/6580590/recording.txt), we see:

[code]

[2021-06-01 21:52] danzel opened #21491 "[BUG] LargeFaceList List doesn't include start/top parameters"
**Describe the bug**
API docs for LargeFaceList List show it has start and top parameters which allow accessing pages of results (as max results returned is 1000).
https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/5a158387d2de3616c086f2d0

These parameters are not exposed in the c# API:
`public static async Task<IList<LargeFaceList>> ListAsync(this ILarge

[2021-06-01 21:54] danzel commented on #17656
Duplicate #14027 (not that it seems anyone cares about these issues 😢)

[2021-06-01 21:56] heaths commented on #21487
Timeline:

[code]

[2021-06-01 23:25] annelo-msft opened #21497 "Parallelize the ACR delete images sample"

[2021-06-02 01:08] bill-msft opened #21502 "Need details re: how to check event batch size is within limit"
"User should make sure the total serialized size of eventDataList should be under the size limit of one event data transmission"

How? What is the expected calling pattern here when sending a large number of events? Is the expectation that the caller will pass smaller and smaller EventData collections until the call succeeds?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-06-02 04:27] kinelski opened #21504 "[MetricsAdvisor] Tests: obtain valid endpoint for testing webhooks"
Enable ignored tests once a properly configured endpoint can be used for testing.

[2021-06-02 07:57] austeja-bentley commented on #21182
We are attempting to collect telemetry and we need to correlate blob storage logs with user identifier and other metadata. We use SAS hash as the common property that we get from both Azure storage logs and from our application side. This is why uniqueness is important - we do not want to have multiple users using identical tokens with the same SAS hash as then we cannot determine which storage lo

[2021-06-02 09:15] tudorsibiu90 opened #21507 "Missing text or unintelligible in some parts of the page"
This page has missing info about the default value. Looks like a problem with the encoding of the text. It's unintelligible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c1386a8-65b2-7678-0df6-c93f12831efe
* Version Independent ID: 741eef82-7dbe-2718-ef93-8cff721001d3
* Content: [Site.ScmSiteAlsoStopped Property (Mi

[2021-06-02 10:33] jez9999 commented on #21473
Yes, `BlobsModelFactory.BlobItem("abc")` and then `Page<BlobItem>.FromValues(new[] { blobItemValue }` seems to work, thanks.

[2021-06-02 11:44] kinelski opened #21509 "[MetricsAdvisor] Cannot overwrite serialization method in Patch models"
Method
[code]
cannot be overwritten. CodeGen still generates the original one, which prevent us from changing the default serialization behavior for patch models.

[2021-06-02 11:44] alexeymarkov opened #21510 "Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.x release date"
Hi,

when are you going to release Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.x?

Regards,
Alexey

[2021-06-02 12:35] jsquire commented on #21491
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-02 12:39] jsquire commented on #21502
//cc: @serkantkaraca, @JamesBirdsall

[2021-06-02 12:48] jsquire commented on #21502
Hi @bill-msft.  Thanks for reaching out and we regret that you're experiencing difficulties.   I've routed this over to the team members best able to assist with improving the doc comments.

In the meantime, to answer your underlying question, when you're publishing a set of events that you're concerned may be too large for the service limits, the [`EventDataBatch`](https://docs.microsoft.com/dotn

[2021-06-02 12:50] mauve opened #21511 "[BUG] Lease already present after upgrading to Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0-beta.3"
**Describe the bug**

[code]

**Expected behavior**

No warning

**Actual behavior (include Exception or Stack Trace)**

**To Reproduce**

1. update to 5.0.0-beta.3

**Environment:**
 - azure functions v3
 - dotnet core 3.1
 - Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0-beta.3

All project dependencies:

[code]

[2021-06-02 12:51] jsquire commented on #21507
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-02 12:52] jsquire commented on #21507
//fyi:  @allenjzhang,  @chamons.

This appears to be a case of HTML embedded in the swagger that is being encoded during codegen.

[2021-06-02 12:53] jsquire commented on #21510
Thank you for your question.  Tagging and routing to the team member best able to assist.

[2021-06-02 12:53] jsquire commented on #21510
//cc: @pakrym, @JoshLove-msft

[2021-06-02 13:01] mauve opened #21512 "[BUG] Missing method in Azure.Core.Amqp after upgrading to Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0-beta.3"
**Describe the bug**

`Method not found: 'Boolean Azure.Core.Amqp.AmqpMessageBody.TryGetValue(System.Object ByRef)'.`

**Expected behavior**

I expected the method to be found :)

**Actual behavior (include Exception or Stack Trace)**

[code]

**To Reproduce**

[code]

**Environment:**
 - Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0-beta.3
 - Azure function dotnet core 3.1

all dependencies

[2021-06-02 13:28] jsquire commented on #21512
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-02 14:16] christothes commented on #21472
Hi @isoindisystems - I can't reproduce the issue you are describing. Could you please include a short code snippet that demonstrates how you are constructing the client and executing the query?

[2021-06-02 15:27] pakrym opened #21515 "[Flaky test] Dispose_Blocks"
[code]

[2021-06-02 16:29] #21471 closed

[2021-06-02 16:29] #21230 closed

[2021-06-02 16:30] rorococo opened #21518 "[QUERY] How to get list of topics from ServiceBusAdministrationClient"
Query/Question
I want to get a list of all topics created during tests so that I can delete them. This is what I have tried so far but topics.MoveNextAsync() just silently fails. Is there any other way to get all the topics?

`
    var topics = _adminClient.GetTopicsAsync().GetAsyncEnumerator();

    try
    {
        while (await topics.MoveNextAsync())
        {
            var topic = topics.Cu

[2021-06-02 16:47] #21473 closed

[2021-06-02 17:05] #21433 closed

[2021-06-02 17:09] amnguye commented on #21182
Have you looked into User Delegation SAS?
https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-dotnet

It can secure and sign the SAS with the Azure AD credentials of the user. You can assign the AAD credentials access to the storage account, and then use those credentials t

[2021-06-02 17:24] #20747 closed

[2021-06-02 17:51] Identifier opened #21521 "TableClient(Uri) constructor passes forbidden null to TableClient(Uri, AzureSasCredential) constructor"
https://github.com/Azure/azure-sdk-for-net/blob/41beb1fe0f106ea80bff5127a3965631f61891a7/sdk/tables/Azure.Data.Tables/src/TableClient.cs#L84

When you pass just a single Uri to `new TableClient(endpoint)` that contains all of the connection information (endpoint, tablename, sas credentials, etc), it calls `: this(endpoint, null, ...)` passing `null` for `credential`, but that overload of the const

[2021-06-02 18:53] g2vinay opened #21523 "Add Anomaly Detector Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Anomaly Detector SDK.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-net/wiki/Writing-performance-tests-for-Client-libraries

[2021-06-02 19:02] issacnitin opened #21525 "[BUG] Sas token doesn't work when blob name has / (202106022025467114_Test_6/2/2021_8:25:14PM_valid.blob)"
**Describe the bug**
Please provide the description of issue you're seeing.
The sas token generated when the blob is in nested directory is not valid

**Expected behavior**
What is the expected behavior?
Sas token should work

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
Sas token gives "Authorization header missing"

**To Reproduce**
Steps to reproduce the b

[2021-06-02 19:13] kinelski commented on #21466
Bug fixed by the service.

[2021-06-02 19:13] #21466 closed

[2021-06-02 19:20] g2vinay opened #21527 "Add Digital Twins Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Digital Twins SDK.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-net/wiki/Writing-performance-tests-for-Client-libraries

[2021-06-02 19:45] clurdish opened #21529 "[BUG] AuthorizationCodeCredential does not allow Redirect URI to be defined"
**Describe the bug**
When utilizing `AuthorizationCodeCredential` to get an access token, an exception is thrown regarding the reply URL not being set.

The reply URL is set on the application registration to match the latter address. I was able to confirm that the portal is configured correctly by using a standard HTTP request on the oauth2 token endpoint - this worked correctly and I received an

[2021-06-02 19:57] g2vinay opened #21530 "Add Schema Registry Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Schema Registry SDK.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-net/wiki/Writing-performance-tests-for-Client-libraries

[2021-06-02 20:18] g2vinay opened #21532 "Add Communication SDKs Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Communication SDKs.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-net/wiki/Writing-performance-tests-for-Client-libraries

[2021-06-02 20:31] shawnnapora opened #21533 "[FEATURE REQ] Include CloudError.Message in CloudException.ToString()"
**Library or service name.**
`Microsoft.Rest.ClientRuntime.Azure`

**Is your feature request related to a problem? Please describe.**
The `Microsoft.Rest.Azure.CloudException` [exception](https://github.com/Azure/azure-sdk-for-net/blob/eb00937e0741a8dfe8c45c6365d5d8606a261dc3/sdk/mgmtcommon/ClientRuntime.Azure/ClientRuntime.Azure/CloudException.cs#L12) currently uses the default `.ToString()` inhe

[2021-06-02 21:03] #20057 closed

[2021-06-02 21:47] jsquire commented on #21518
Hi @rorococo.  Thank you for reaching out and we regret that you're experiencing difficulties.   The `AsyncPagable` returned by `GetTopicsAsync` is a standard async enumerable and can be iterated with the `await foreach` pattern.    More details can be found in this [MSDN article](https://docs.microsoft.com/archive/msdn-magazine/2019/november/csharp-iterating-with-async-enumerables-in-csharp-8)

F

[2021-06-02 21:48] jsquire commented on #21521
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-02 21:53] jsquire commented on #21529
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-02 21:54] jsquire commented on #21533
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-02 21:57] christothes commented on #21521
@Identifier - Thanks, I can see how this behavior can cause a problem. As a workaround, until this is fixed, you can pass the string value of the full connection string to this ctor:

https://github.com/Azure/azure-sdk-for-net/blob/d77cf20b959d18fff101b6d105994a29f8745640/sdk/tables/Azure.Data.Tables/src/TableClient.cs#L167

[2021-06-02 22:20] #21306 closed

[2021-06-02 22:57] taabdull commented on #18980
Hi @bizmonger, I am seeing the hanging you mention in the video. However when I change from Azure.Messaging.ServiceBus
 to Microsoft.Azure.ServiceBus (using the code provided above) it works without an issue.
![image](https://user-images.githubusercontent.com/82469669/120561693-da135c00-c3b9-11eb-95e2-b8c6b318b0ec.png)

Will loop in team working on Azure.Messaging.ServiceBus since there seems to b

[2021-06-02 22:58] maririos commented on #19364
Yes. After conversations, we learned that because there is an `other` property that adding a value is a breaking change so we need to be explicit about it and let the user know.
Because of that both service and SDK will leave as enum and not extensible enum

[2021-06-02 22:58] #19364 closed

[2021-06-02 23:49] #17866 closed

[2021-06-02 23:50] #20828 closed

[2021-06-02 23:52] JoshLove-msft commented on #21512
Hi @mauve,
Is this occurring locally? If so, can you try cleaning your solution? Based on your dependencies, it should be pulling in the correct version of Azure.Core.Amqp.

[2021-06-03 00:08] amishra-dev commented on #17110
@Henery309 the issue is outside of storage, the earlier library working was probably the result of it maintaining state. Please check https://github.com/Azure/azure-sdk-for-net/issues/17110#issuecomment-806986354 and the next comment on how to resolve.

[2021-06-03 00:08] #17110 closed

[2021-06-03 00:10] amishra-dev commented on #19620
@blueww can you please look at this one?

[2021-06-03 00:15] amishra-dev commented on #18774
@jaschrep-msft can you respond to this one?

[2021-06-03 00:16] amishra-dev commented on #18381
@amnguye can you update the code comment or this bug with the expected behavior

[2021-06-03 00:20] amishra-dev commented on #15478
@amnguye can you check now?

[2021-06-03 00:24] amishra-dev commented on #15787
@amnguye was this done? marking it a feature request as this is specific to .net 5

[2021-06-03 00:58] blueww commented on #19620
+ @SRP ***@***.***> as the error is reported from server.

Microsoft.Rest.Azure.CloudException: XML specified is not syntactically valid.
RequestId:cfad924b-401a-0011-3d03-1c9ff4000000
Time:2021-03-18T14:28:52.7368664Z

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Ashish Mishra ***@***.***>
发送时间: Thursday, June 3, 2021 8:10:54 AM
收件人: Azure/azure-sdk-for-net ***@

[2021-06-03 01:26] Jinnanms opened #21543 "[QUERY] KeyVault: Sharelink sample can not be built in vs code"
**Environment:**
Sharelink

I download sharelink.zip and extract it, but build in vs code, error is:
...\ShareLink\Properties\AssemblyInfo.cs(4,23): error CS0234: The type or namespace name 'CodeGenSuppressTypeAttributeAttribute' does not exist in the namespace 'Azure.Core' (are you missing an assembly reference?)

can anyone give me some idea? thanks

[2021-06-03 01:39] #20180 closed

[2021-06-03 01:44] #21359 closed

[2021-06-03 02:30] JoshLove-msft commented on #21148
https://apiview.dev/Assemblies/Review/98d0d26f3d5c484cbef9de9c2b4430c0?diffRevisionId=3ce09324d8a247e3b3053c8788131302&doc=False&diffOnly=True

[2021-06-03 07:10] mauve commented on #21512
@JoshLove-msft it is failing when deploying to Azure Functions (v3, dotnet core 3.1)

[2021-06-03 07:51] rorococo commented on #21518
Hi @jsquire
This is what I had tried originally but also silently failed as soon as it went into the foreach

[2021-06-03 10:05] adityabalaji-msft commented on #20575
@bruce31 Can you re-check if the link is working now?

[2021-06-03 10:21] ghelyar opened #21544 "[BUG] EventSourceException thrown on requests when using AddAzureClients"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
Requests complete without exceptions

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

This fails (logs above):
[code]

Adding `bu

[2021-06-03 12:30] TechWatching commented on #11057
@pakrym  Awesome, in which versin of the SDK can I find this ?

[2021-06-03 12:31] Identifier commented on #21521
@christothes - That constructor won't work for SASs, but this is the workaround I'm using (where `uri` is the full SAS): `new TableClient(new Uri($"{uri.Scheme}://{uri.Host}"), new AzureSasCredential(uri.Query))`

[2021-06-03 12:50] jsquire commented on #21518
Hi @rorococo.   Can you help me better understand the behavior that you're describing when you say "silently failed?"   Were you just not seeing any topics in the loop or were you seeing an exception at some point in the code.

//cc: @JoshLove-msft

[2021-06-03 13:01] jsquire commented on #21543
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-03 13:03] jsquire commented on #21544
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-03 13:04] jsquire commented on #21544
@pakrym:  I'm not sure if this is something in the Storage client library, Azure.Core, or the extensions.   Would you mind sharing your thoughts and looping in the storage team if needed?

[2021-06-03 13:52] christothes commented on #21521
Sorry, I for some reason read the initial problem description as using a full connection string (not a SAS). I have a PR out now with the fix.

[2021-06-03 14:04] #21521 closed

[2021-06-03 15:10] chamons commented on #21507
This appears to be a track 1 library:

[code]

so my guess is that the track 1 generator or docs website isn't doing the right thing?

[2021-06-03 16:16] pakrym commented on #11057
https://www.nuget.org/packages/Microsoft.Extensions.Azure/1.1.0-beta.3

[2021-06-03 16:18] pakrym commented on #21544
Thank you, Jesse, this looks like a bug in Microsoft.Extensions.Azure.

[2021-06-03 16:40] pakrym opened #21551 "Add support for MatchConditions for GetConfigurationSetting"

[2021-06-03 17:05] amnguye opened #21553 "[storage] Convert internal sets to internal ctor for storage models"
https://github.com/Azure/azure-sdk-for-net/pull/21550/files#r644960831
https://github.com/Azure/azure-sdk-for-net/pull/21032#discussion_r644902513

There are multiple places in the SDK where internal sets are being used over using an internal constructor.

This is prone to causing bugs such as https://github.com/Azure/azure-sdk-for-net/issues/21402 because it's not obvious when we miss a property

[2021-06-03 17:16] pakrym commented on #21544
@ghelyar are you able to try the https://www.nuget.org/packages/Microsoft.Extensions.Azure/1.1.0-beta.3 version of the package and see if the error still reproduces?

[2021-06-03 17:25] seankane-msft opened #21554 "[Container Registry] Validate delete 404s"
On delete operations that return a status code of 404, we should validate the body of the response contains the appropriate response of `NAME_UNKNOWN` for `delete_repository`, `TAG_UNKNOWN` for `delete_tag`, and `MANIFEST_UNKNOWN` for delete_manifest` operations

[2021-06-03 17:27] seankane-msft opened #21556 "[Container Registry] Set up weekly test pipeline for non-public clouds"
- [ ] Add option to set `AuthenticationScope` in `ContainerRegistryRecordedTestBase:CreateClient`
- [ ] Update test-resources.json to take parameterized endpoint values
- [ ] Enable setting `AuthorityHost` on credential in `ContainerRegistryTestEnvironment`
- [ ] Update `ImportImage` in code
- [x] Update `Clouds` list in tests.yaml

Further details at: https://github.com/Azure/azure-sdk-for-net/bl

[2021-06-03 17:38] shawnnapora commented on #21533
Oops, I just (re)discovered that the `CloudException.Body` `CloudError` may also have nested `CloudError`s under `CloudError.Details`. Ideally we'd walk these or otherwise expose all of them.

[2021-06-03 17:43] heaths commented on #21543
Did you run `dotnet restore` on the project?

[2021-06-03 17:46] heaths commented on #21543
And how did you build it in VSCode? You need to run `dotnet build` (which does restore automatically by default). I was able to download the ZIP from the Samples Browser, extract it, and build it with `dotnet build` per instructions in the README successfully.

Please include all commands and output.

[2021-06-03 17:53] dan5082 commented on #21458
I'm also seeing `System.NullReferenceException: Object reference not set to an instance of an object.
   at Azure.Data.Tables.TableClient.DeleteEntity(String partitionKey, String rowKey, ETag ifMatch, CancellationToken cancellationToken)
   at MyTimerTriggeredAzureFunction(TimerInfo timer, ILogger log)` when trying to delete

[2021-06-03 18:42] markcowl commented on #21533
Thanks for your feedback, unfortunately we aren't currently making enhancements to the the Rest ClientRuntime, as we are moving to an SDK based on the Azure.Core library.  We generally handle simple summaries of the exception by placing the most relevant bits from the response body (code, message) into the message property of the exception, which allows all exceptions to be processed uniformly.  I

[2021-06-03 18:42] #21533 closed

[2021-06-03 18:51] christothes commented on #21458
Thanks @dan5082 Could you provide a simple code snippet that reproduces the problem? This one is a bit odd because it works in our current tests.

[2021-06-03 19:24] shawnnapora commented on #21533
👍 I came to the same conclusion (enhancing Message) by the time I made a wrapper so that I can get more error detail for our service, but I have to wrap the exception everywhere we care about those details.

Thanks for your response!

[2021-06-03 20:07] pakrym commented on #21510
We are planning for Q3 2021

[2021-06-03 20:35] dan5082 commented on #21458
Windows 10 VS Code using:
Azure Functions Core Tools
Core Tools Version:       3.0.3160 Commit hash: 00aa7f43cc5c5f15241b5e6e5363256f19ceb990
Function Runtime Version: 3.0.14916.0

"Azure.Core" Version="1.14.0"

[FunctionName("ReproduceDeleteIssue")]
         public static async Task ReproduceDeleteIssue(
            [TimerTrigger("0 */12 * * *", RunOnStartup = true)] TimerInfo timer,

[2021-06-03 21:58] ellismg commented on #15466
Spoke with @JoshLove-msft who's been maintaining the EventGrid trigger.  We've made some progress here but we might have not done the first bullet so it may not be possible right now to set a function as a target for a subscription of cloud events.  He's going to take a look - but that's likely the only gap left.

[2021-06-03 22:17] maririos opened #21576 "Rename TranslateTo -> TranslatedTo"
`DocumentStatusResult.TranslateTo` -> `DocumentStatusResult.TranslatedTo`

[2021-06-03 22:18] kasobol-msft commented on #12102
I also found plenty of this in https://github.com/Azure/azure-sdk-for-net/pull/21424 where issue got discovered initially.

[2021-06-03 22:24] kasobol-msft commented on #12102
Given how tempting ToString() is and how easy it is to get it wrong I suggest to prioritize this work.

[2021-06-03 22:29] JoshLove-msft opened #21577 "Support AzureWebJobsServiceBus__fullyQualifiedNamespace"
This is supported for AzureWebJobsStorage, but for Service Bus, you need to enter a custom connection key in the trigger currently, e.g. MyConnection__fullyQualifiedNamespace.

[2021-06-03 22:57] christothes commented on #21458
Thanks for providing this info. Unfortunately I still can't reproduce with similar code.

Could you please try with the latest dev build which has the very latest version of the implementation?

https://dev.azure.com/azure-sdk/public/_packaging?_a=package&feed=azure-sdk-for-net&package=Azure.Data.Tables&protocolType=NuGet&version=12.0.0-alpha.20210603.1&view=overview

[2021-06-03 23:16] JoshLove-msft commented on #21512
I'm having trouble reproducing this. I used the exact same csproj and function signature, deployed to a Functions app, and did not see this error.

Can you clarify at what point you are seeing the error? Is this while the app is starting up?

[2021-06-03 23:34] JoshLove-msft commented on #21577
False alarm - this already works.

[2021-06-03 23:34] #21577 closed

[2021-06-03 23:37] JoshLove-msft commented on #21512
It seems like the WebJobs SDK is attempting to Ioad our string converter dynamically and failing.

[2021-06-03 23:39] JoshLove-msft commented on #21512
@mauve are any messages processed by your function or does this happen every time?

[2021-06-03 23:42] cloudtidings commented on #18782
I am facing the same issue with the difference that I need the credentials from the user.
Azure.Identity.DefaultAzureCredential.DefaultExceptionMessage
DefaultAzureCredential failed to retrieve a token from the included credentials. DefaultAzureCredential authentication failed due to an unhandled exception:
      var usercredential = new Azure.Identity.DefaultAzureCredential(new Azure.Identity.Def

[2021-06-04 00:38] maririos commented on #21576
Also rename `GetTranslations` to `GetTranslationsStatuses`

[2021-06-04 00:41] jsum04 opened #21581 "[QUERY] Trouble configuring the retry mechanism using exponential retry mode"
Trouble configuring the retry mechanism using exponential retry mode
This is the config I have for the client..

[code]

I am getting this error while configuring the retry mechanism. Want to correctly understand the exponential retry mode so that I can set it to the max value.

TimeSpan overflowed because the duration is too long.

[code]

Azure.Messaging.ServiceBus 7.2.0-beta.3
Azure app service

[2021-06-04 02:11] kinelski opened #21583 "[MetricsAdvisor] Update "Disposable" test types"
`Create` operations now return the created object, not only its ID. The "Disposable" types used in tests (such as `DisposableDataFeed`) can be updated to return the whole object as well. `DisposableDatasourceCredential` already follows this new pattern.

[2021-06-04 04:17] Jinnanms commented on #21543
I open the VS code from extracted folder；open terminal, run dotnet build:
PS C:\Users\jinnliu\ShareLink> dotnet build

Welcome to .NET Core 3.1!
---------------------
SDK Version: 3.1.409

Telemetry
---------
The .NET Core tools collect usage data in order to help us improve your experience. It is collected by Microsoft and shared with the community. You can opt-out of tlemetry by setting the DOTN

[2021-06-04 04:34] JoshLove-msft commented on #15466
Beyond the subscription validation handling, you currently cannot create a CloudEventSchema event subscription for an Azure Function.

[2021-06-04 05:31] Mohit-Chakraborty commented on #20276
I have created [an issue](https://github.com/Azure/autorest.csharp/issues/1296) to track the feature request to provide an `AddRange()` method on collection properties.
Since the other points are resolved, I am going to close this issue.

[2021-06-04 06:22] ghelyar commented on #21544
Seems to be fixed in Microsoft.Extensions.Azure 1.1.0-beta.3 or one of the updated dependencies it brings in.

I didn't realise Microsoft.Extensions.Azure 1.0.0 was so old. Will 1.1.0 be released any time soon? I can't use pre-release packages in production, and the only stable release has quite a severe bug in it, so the whole package is currently unusable for me.

Also, `Azure.Identity` does not

[2021-06-04 06:32] mauve commented on #21512
@JoshLove-msft I do not manage to process anything with this setup. The first message fails.

Unsure if it helps but here is my `host.json` file:

**host.json**
[code]

[2021-06-04 06:51] mauve commented on #21512
Is there anything I can supply to make debugging easier? I tried attaching the full `project.assets.json` but GitHub says no  :)

[2021-06-04 07:08] jaganpt commented on #21262
Hi,
I have alredy provided the required information. Please let me know what additional information is needed.

Function App version : v1
Description : Error when use "DefaultAzureCredential" in v1 Azure Function app.
Error:
Could not load file or assembly 'Azure.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=92742159e12e44c8' or one of its dependencies. The system cannot find the file spe

[2021-06-04 07:22] JoshLove-msft commented on #21512
One thing that would be interesting to see is if it repros after deploying to a new function app.

[2021-06-04 09:28] Expecho commented on #15466
@JoshLove-msft

Does that mean it will be available some time?

[2021-06-04 10:07] mauve commented on #21512
I will delete my app and redeploy to see what happens

[2021-06-04 10:13] mauve opened #21584 "[BUG] No distributed traces for Azure.Storage.Blobs and Azure.Messaging.ServiceBus when running in Azure Functions"
**Describe the bug**

I can find some traces for the following SDKs:

- Azure table (used by durable functions)
- Old cosmos SDK (3.19)

However I am heavy user of Azure.Storage.Blobs (12.8.4) but my code is running in Azure Function v3 so I guess the old SDK is in the dependency tree somewhere.

**Expected behavior**

I expect to see information about my blob traffic.

**Actual behavior (include

[2021-06-04 10:14] mauve commented on #21584
probably related: https://github.com/Azure/azure-functions-durable-extension/issues/1615#issuecomment-854524173

[2021-06-04 11:00] #18457 closed

[2021-06-04 11:30] kinelski opened #21586 "[MetricsAdvisor] Add code samples for Credential API"

[2021-06-04 13:08] jsquire commented on #21581
Hi @jsum04.  Thank you for reaching out and we regret that you're experiencing difficulty.  Your approach to configuring is correct;  this is a bug in the way that we're calculating the delay before clamping to the `MaxDelay` value.   I'll fix up the calculation.

One thing that is of note is that this scenario doesn't occur until the 38th retry attempt with your configured values.  By the time yo

[2021-06-04 13:12] jsquire commented on #21584
Hi @mauve.  Thank you for your feedback and we regret that you're experiencing difficulties.   Tagging and routing to the team member best able to assist.

[2021-06-04 13:14] jsquire commented on #21584
@pakrym:  This seems like it may be related to the Functions host rather than the SDKs but given your work around diagnostics and tracing, I wanted to ask your opinion before moving over to the Functions repository.

[2021-06-04 13:18] christothes commented on #21262
Hi @jaganpt - Did you try the suggestion in this comment? https://github.com/Azure/azure-sdk-for-net/issues/21262#issuecomment-848895760

[2021-06-04 14:13] christothes commented on #21075
Yes, I meant to say that IP address.

I think we may be missing one more step on the logging. Can you try adding the following?

[code]

[2021-06-04 15:01] christothes commented on #21263
hi @gmantri - Please try this sample to accomplish this:

https://gist.github.com/schaabs/edbce217621e5ce5aca1a8fa6f711952#authenticating-with-a-prefetched-access-token

[2021-06-04 15:04] #21461 closed

[2021-06-04 15:04] gmantri commented on #21263
@christothes - Many thanks! This is exactly how I ended up implementing.

[2021-06-04 15:04] #21263 closed

[2021-06-04 15:33] pakrym commented on #21544
Yes, the plan is this week.

[2021-06-04 15:57] jsquire commented on #21581
Fixed by #21591

[2021-06-04 16:34] TechWatching opened #21592 "[QUERY] To read and write blobs, what IAM role should a user have ?"
**Query/Question**
When using the new Azure.Storage.Blobs SDK with DefaultAzureCredentials, I encountered some 403 errors for my Azure Ad account connected to Visual Studio. My account was Contributor on the ressource when errors occur, but as soon as I gave him the Storage Blob Data Contributor it worked.
So my understanding is that Storage Blob Data Contributor is necessary to read and write blo

[2021-06-04 16:54] #21576 closed

[2021-06-04 17:13] RGKarthik opened #21593 "[BUG] Folder structure change for FarmBeats."
Can the folder structure for FarmBeats SDK be changed from 'azure-sdk-for-net/sdk/farmbeats' to 'azure-sdk-for-net/sdk/agrifood'.

FarmBeats is a product name and is susceptible to change. Hence, we prefer to use AgriFood.

[2021-06-04 17:14] RGKarthik commented on #21593
cc: @ramya-rao-a

[2021-06-04 17:50] JoshLove-msft commented on #21512
Before deleting the app, could you provide this information:
- does the issue reproduce locally?
- app name
- memory dump when error occurs (Using Collect Memory Dump from Diagnostic Tools in the Portal - which is available if your function app is an App Service function)
- body of the function

[2021-06-04 17:51] kasobol-msft opened #21594 "[BUG][Storage] Client side encryption causes high CPU."
On behalf of customer.

When client side encryption is used it wraps a stream here:
https://github.com/Azure/azure-sdk-for-net/blob/f8f89a8607ec59bdbc7f7776b8dde77d129c3645/sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs#L1072-L1084
The actual wrapping happens here:
https://github.com/Azure/azure-sdk-for-net/blob/f8f89a8607ec59bdbc7f7776b8dde77d129c3645/sdk/storage/Azure.Storage.Common/src/S

[2021-06-04 17:59] #21402 closed

[2021-06-04 18:10] gunnim commented on #17936
@DaleCam Use the NuGet package, it itself has a dependency on DiagnosticSource. You don't get automatic AI updates via the platform instrumentation but works well enough.

[2021-06-04 18:26] heaths commented on #21543
I see what happened. https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-net/share-link/ was just recently updated. The "Properties" folder wasn't even there before, but is now and shouldn't be. I'll fix the sample.

[2021-06-04 18:47] #19575 closed

[2021-06-04 19:06] jsum04 commented on #21581
Hi jsquire, Thanks for the response. I wanted to retry exponentially atleast 100 times incase of an connectivity issue with service bus. I could probably reduce the Delay to 2 secs and the retry count to 50 to avoid this scenario. Would that work?
You have raised an interesting point that it should have failed 37 times before it threw this exception. Does the call come to ServiceBusSessionProcesso

[2021-06-04 19:13] shalinirj commented on #21594
We are running into the same issue with latest Storage SDK. Production workloads are impacted during the peak hours. Having to scale up/out is incurring additional business costs.

[2021-06-04 19:13] #20758 closed

[2021-06-04 19:27] lilyjma opened #21599 "Convert DI code sample in Service Bus readme into a snippet"
For reference:

DI section in readme: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/servicebus/Azure.Messaging.ServiceBus#aspnet-core
PR that adds the DI content https://github.com/Azure/azure-sdk-for-net/pull/21410

[2021-06-04 20:04] maririos opened #21601 "Release Document Translator beta.3"

[2021-06-04 20:08] maririos commented on #19997
We decided to turn the 3.1.0-beta.5 release into the GA 3.1.0.
Package available https://www.nuget.org/packages/Azure.AI.FormRecognizer/3.1.0

[2021-06-04 20:08] #19997 closed

[2021-06-04 20:11] maririos commented on #21370
For the upcoming release, we have decided to hide the type in .NET and wait until other CS uses it to make sure the values are the correct ones in Azure.Core

[2021-06-04 20:12] maririos commented on #21367
We decided to make it internal for now to keep the discussion about moving the type to Azure Core

[2021-06-04 20:16] ramya-rao-a commented on #21593
@ellismg Please make the above change

[2021-06-04 20:20] annelo-msft opened #21603 "[ACR] [Pending service update] [Pre-GA] Finalize cloud configuration API"
The service will be making changes to how users can authenticate with it.  Given this, we'll want to revisit and potentially replace the `AuthorizationScope` property on `ContainerRegistryClientOptions` with an API that

(in order of preference)

- (if General ACR scope enables this) makes it unnecessary for customer to specify cloud
- Arch board guidance specifies how users can indicate which clo

[2021-06-04 20:38] #20872 closed

[2021-06-04 20:40] maririos opened #21605 "Refactor action input types so they don't inherit from Options"
![image.png](https://images.zenhubusercontent.com/583ddbb0b9dc3c622022b006/51015a96-7e90-4760-9b80-b5351aa8024b)

Another reason is that if a customer is using an `xxOptions` property, they can't turn it into an `xxAction` without creating a new `xxAction` type, which at that point, the inheritance is not very interesting.

Consider following the approach JS did of creating new types and then add

[2021-06-04 20:48] kinelski commented on #21177
All issues addressed in multiple PRs.

[2021-06-04 20:48] #21177 closed

[2021-06-04 20:50] kinelski commented on #16172
We'll only support the scenario of calling Get followed by Update. Update methods will take the whole object, with no ID parameter. Changes already implemented and merged to master.

[2021-06-04 20:50] #16172 closed

[2021-06-04 20:54] annelo-msft commented on #19486
We'll use the approach described in issue https://github.com/azure/azure-sdk-for-net/issues/21556, rather than the approach described here.

[2021-06-04 20:54] #19486 closed

[2021-06-04 20:55] #21482 closed

[2021-06-04 20:55] #20096 closed

[2021-06-04 21:02] annelo-msft opened #21607 "Update Changelog for ACR Beta3"

[2021-06-04 21:18] annelo-msft commented on #20199
No longer needed, per: https://github.com/Azure/azure-sdk-for-net/pull/21273/files

[2021-06-04 21:18] #20199 closed

[2021-06-04 21:51] jsquire commented on #21581
Any values that are accepted by validation will work, after the fix is released.   The decision lies in what you believe helps your application scenario best.

Retries are handled by the SDK implicitly when an error is deemed transient.   The error handler is invoked only if all configured retries for a single operation fail.   In this case, your processor was effectively frozen for nearly 3 hours

[2021-06-04 22:24] kinelski opened #21613 "[MetricsAdvisor] Improve tests for DataFeedSources and DatasourceCredentials"
In `DataFeedSourcesTests`, we should consider finding a way to unify `CreateDataSourceTestCases` and `UpdateDataSourceTestCases`. Also, we should copy the same pattern to `DatasourceCredential`s.

[2021-06-04 22:27] kinelski opened #21614 "[MetricsAdvisor] Tests: add live validation for updating data feed sources specific properties"
Currently only common properties and secrets are validated.

[2021-06-04 22:39] pakrym opened #21615 "[WebJobs/EventHubs] Re-enable single dispatch with a single thread per partition"

[2021-06-04 22:45] kinelski opened #21616 "[MetricsAdvisor] Revisit required parameters in Data Feed Sources"
Some properties are required in the constructor, but not by the service. Check which ones we can remove from construction.

[2021-06-04 23:27] #18317 closed

[2021-06-05 00:03] #21543 closed

[2021-06-05 00:05] heaths commented on #21543
Thank you for reporting this. I checked in a change that should fix this. I copied the files out as if they were downloaded from Samples Browser, so this should work. It may take a few days to upload to Samples Browser, though. If you'd like, you can clone this repo and either build the sample from within sdk/keyvault/samples/ShareLink or copy the source files for your own project needs (i.e. not

[2021-06-05 00:22] MSFTJesseLiu opened #21621 "[BUG] Azure.Identity.CredentialUnavailableException after upgrade Azure.Identity from 1.3.0 to 1.4.0"
**Describe the bug**
Please provide the description of issue you're seeing.

**Actual behavior (include Exception or Stack Trace)**
AggregateException: dev-customerprofile-kv.vault.azure.net:443ng:valuenizationLookup:9748fea8-4714-424d-aa5a-f8854e91835a:CdsUrlId(Process "c:\program files (x86)\microsoft visual studio\2017\enterprise\common7\ide\extensions\neoyltg4.bmz\TokenService\Microsoft.Asal.T

[2021-06-05 01:28] #21529 closed

[2021-06-05 01:42] kinelski commented on #19645
Issue was caused by connection issues and has not been happening anymore.

[2021-06-05 01:42] #19645 closed

[2021-06-05 01:46] #21593 closed

[2021-06-05 01:52] #21621 closed

[2021-06-05 01:52] MSFTJesseLiu commented on #21621
Found out why

[2021-06-05 02:24] kasobol-msft opened #21622 "[Storage] Add perf test coverage for client creation and hierarchy traversal."
Follow up on https://github.com/Azure/azure-sdk-for-net/issues/21247 and https://github.com/Azure/azure-sdk-for-net/pull/21424 .

We promise to customers that creating clients and traversing hierarchy is lightweight.
This matters to customers who keep centralized service client singletons or create clients from Uris directly in high throughput services.
We should add coverage in perf suite that ta

[2021-06-05 02:31] #21247 closed

[2021-06-05 02:48] kinelski opened #21623 "[MetricsAdvisor] Enable EventHubs data feed tests"
Currently EventHubs data feed tests are ignored because the service requires an actual EventHubs resource for creation.

Tests have been run locally, and they seem to work except for the IngestionStartTime property, which is always off.

[2021-06-05 03:02] kinelski opened #21625 "[MetricsAdvisor] Consider keeping the Azure prefix for Log Analytics data source"

[2021-06-05 04:22] JoshLove-msft opened #21627 "Add end-to-end test for EventGridSubscription validation"
We probably should but I don't want to block this fix on testing as it will be pretty involved. Creating an issue for it.

_Originally posted by @JoshLove-msft in https://github.com/Azure/azure-sdk-for-net/issues/21612#issuecomment-855180739_

[2021-06-05 04:24] JoshLove-msft commented on #15466
That is the goal, but we don't have a definite timeline yet.

[2021-06-05 04:26] JoshLove-msft commented on #15466
This turned out to not be the case. There is special handling in the service for the handshake when the subscription is using Azure Functions. In this case it uses the same HttpPostChallenge mechanism as for EventGridSchema since users wouldn't need to interact with this flow in general. However, there were issues in the format of how the CloudEvent HttpPostChallenge is delivered that required fix

[2021-06-05 04:33] mikeharder commented on #21622
We can start with .NET, but I think the test should eventually be ported to all languages (net, java, js, python, cpp).

[2021-06-05 04:53] heaths opened #21628 "Resolve architects' review feedback for Key Vault"
Feedback from our architects:

- [x] Delete methods on the `KeyVaultAccessControlClient` should return void and ignore HTTP 404s.
- [x] `KeyVault*Identifier` classes should hide `Equals(object)` and `GetHashCode()` methods.

Feel free to update this issue with idiomatic feedback.

[2021-06-05 08:29] Jinnanms commented on #21543
Thank you for supporting. I download the raw code of ShareLink.csproj, and replace it in my project, and build it again, success.

[2021-06-05 10:10] eddynaka opened #21629 "[BUG] Service Bus: Unknown error after calling GetNamespaceInfo"
**Describe the bug**
When I call `client.GetNamespaceInfoAsync` it is returning an exception. The message shows an "unknown error".

**Expected behavior**
Throw an error that is not unknown or successful.

**Actual behavior (include Exception or Stack Trace)**
Returning unknown error.

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional informati

[2021-06-05 13:14] ACHYUT001 commented on #7382
@jsquire ,

I've started out writing the mocks.
Here are a few for Publishing, requesting your thoughts : [PR21630](https://github.com/Azure/azure-sdk-for-net/pull/21630)
Should I cover all the scenarios as done in the [publishing sample](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishingEvents.md)?

I also needed your thoughts

[2021-06-05 15:43] jsquire commented on #21629
//cc: @shankarsama

[2021-06-05 15:43] jsquire commented on #21629
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-05 15:55] jsquire opened #21631 "Event Hubs Client Library for .NET - August Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments for .NET (July-December 2021) (#22171)](https://github.com/Azure/azure-sdk-for-net/issues/22171).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning fo

[2021-06-05 15:56] jsquire opened #21632 "Review and update documentation (August Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2021-06-05 16:06] #20094 closed

[2021-06-05 16:29] jsquire opened #21633 "Clients Sample: Extend with new ConnectionOptions"
# Summary

An additional set of configuration for the transport was added to the `ConnetionOptions` as part of the June milestone.  One of the settings introduced was the ability to define a custom delegate to participate in the validation of SSL certificates and potentially override trust decisions made by the runtime.   This option is often useful in environments using a proxy, when the proxy re

[2021-06-05 20:25] JoshLove-msft opened #21634 "Generate serialization methods for system events"
Currently, we only generate deserialization methods, but the new library will eventually be used by partner teams to send system events. It would be easier if they could serialize the system events directly using System.Text.Json via the custom converters that are generated.

To do this, I think we just need to add "input" to the swagger transform in autorest.md:

directive:
- from: swagger-docume

[2021-06-05 20:31] #15466 closed

[2021-06-05 21:32] joelverhagen opened #21635 "[BUG] Single quote in PartitionKey not serialized properly in PATCH entity"
**Describe the bug**
When the Table entity partition key contains single quotes, the PATCH operation (where the PK is part of the URL path, not query string) fails. The single quote is URL encoded as `%27`. The legacy SDK escapes it with two single quotes.

Found while trying to fix https://github.com/Azure/Azurite/issues/790.

**Expected behavior**
It should escape the single quote in a way that

[2021-06-06 04:30] #21148 closed

[2021-06-06 04:38] paul-cheung opened #21637 "Why are redundancy comment?"
https://github.com/Azure/azure-sdk-for-net/blob/012db171c60356aedae977e02c5c8951afd9f61b/sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/src/Generated/Models/AzureAsyncOperationResult.cs#L41

I mean why the comment has the comment someting like "**Possible values are**" and "**Possible values include**" meanwhile.

[2021-06-06 05:13] #21382 closed

[2021-06-06 08:58] makar-sasha commented on #21458
unfortunately the latest build has the same behavior for me. stack trace doesn't have any useful data (just at Azure.Data.Tables.TableClient.DeleteEntity(String partitionKey, String rowKey, ETag ifMatch, CancellationToken cancellationToken) and no inner exceptions).
 maybe I have to setup some symbols?

[2021-06-06 10:39] mauve commented on #21512
Wdym by the "body of the function"?

I will generate that dump on Monday.

[2021-06-06 18:38] christothes commented on #21458
Can you reproduce it outside of an Azure Function?

[2021-06-06 21:52] JoshLove-msft commented on #21512
The contents of the function. In the snippet, it has the method signature of the function, but there may be some code in the function that is causing the dependency issue.

[2021-06-06 21:54] yahorsi opened #21638 "Storage: Review the release strategy and consider minor releases for the critical issues."
Guys, please review the release strategy. It's been more than 3 months since this (https://github.com/Azure/azure-sdk-for-net/issues/18884) issue was reported and there is still no official release that is fixing it. We only have beta4 (https://www.nuget.org/packages/Azure.Storage.Blobs/12.9.0-beta.4) that we can't use cause it's officialy beta and we don't know what else is broken. And to remind

[2021-06-06 22:02] JoshLove-msft opened #21639 "Add custom converter for EventGridEvent"
CloudEvent has a custom System.Text.Json converter but users would need to rely on documentation to know this, and it doesn't support other serializers.

EventGridEvent doesn't have a custom converter so there is not an easy way to serialize to JSON (since the Data property is BinaryData which does not get serialized by JSON serializers).

Proposal:
Add Serialize/SerializeAsync methods to CloudEve

[2021-06-07 02:11] RetYn opened #21640 "[QUERY] [Storage] How to get SecondaryUri of a blob in v12 API?"
Query/Question
With the v11 API we could use CloudBlob.StorageUri.SecondaryUri to retrieve a blob's secondaryUri. The new BlobClient only has the Uri property, but not StorageUri.
How can  the SecondaryUri be retrieved from BlobClient ?

Environment:

Azure.Storage.Blobs 12.8.4
NET Core SDK 3.1.300, Windows 10 x64
Visual Studio 16.6.1

[2021-06-07 02:15] RetYn commented on #21640
same question as https://github.com/Azure/azure-sdk-for-net/issues/12413

[2021-06-07 05:49] n9839950 commented on #18091
Is this issue fixed? I am experiencing the same issue with python SDK

[2021-06-07 08:28] austeja-bentley commented on #21182
The correlation id parameter looks great, unfortunately with the current authentication infrastructure that we use we are not really able to leverage Azure AD capabilities. I will double check with other teams if we could somehow apply this solution but it is not likely

[2021-06-07 10:02] shawnxzq commented on #20351
@aodugga Thanks for confirm and good to know issue resolved, you can close the issue directly if no more help needed, thanks!

@jsquire I can't close this issue, could you please give me the permission or help on this? Thanks!

[2021-06-07 11:56] isoindisystems commented on #21472
Sure! I found another interesting thing:
I checked the request with fiddler and found out, that the SASString was encoded before the request.
With the encoded string the request failed.

[2021-06-07 12:11] deenairn commented on #21011
Can confirm the online documentation has not been updated.

[2021-06-07 13:19] #20351 closed

[2021-06-07 13:22] jsquire commented on #21635
Hi @joelverhagen.   Thanks for your continued help improving the Tables experience.  Tagging and routing to the team member best able to assist.

[2021-06-07 13:24] jsquire commented on #21637
Since this appears in a generated class, the comment is sourced from the service Swagger.

[2021-06-07 13:24] jsquire commented on #21637
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-07 13:29] yahorsi commented on #21638
@jsquire I think the title can remain original. This is related to all Azure SDK NuGet packages, not only storage.

[2021-06-07 13:29] tgpinq opened #21646 "Page lacks enough information to explain how methods work"
The method here and associated ones appear to be broken. None of the methods return more than 100 Applications and methods that should allow you to get more either can't be used as next-page-links are null or don't work as they simply return null.

Please provide documentation detailing how this method should be used, specifically how it can be used to list all applications in the tenant as this i

[2021-06-07 13:36] arahimee opened #21647 "Fetching topics having slashes raises an Argument exception"
**Describe the bug**
Having a topic endpoint with slashes in the name under a service bus namespace, while fetching it with IServiceBusNamespace.Topics it gives an ArgumentException with message `The specified ID is not a valid Azure resource ID.`

**Expected behavior**
I can fetch all the topics regardless of having slashes in their names.

**Actual behavior (include Exception or Stack Trace)**
a

[2021-06-07 13:37] jsquire commented on #21638
Hi @yahorsi.  The clients for each Azure service are managed independently with respect to release schedules and the decision of when a critical issue requires a hotfix.  While I understand the concern that you're raising,  this issue is focused on storage and we'll want to be sure that the right folks to assist are alerted to take ownership.

[2021-06-07 13:39] yahorsi commented on #21638
@jsquire Thank you

[2021-06-07 13:41] jsquire commented on #21646
Issue moved to [Azure/azure-libraries-for-net #1243](https://github.com/Azure/azure-libraries-for-net/issues/1243) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-07 13:41] #21646 closed

[2021-06-07 13:55] mikegoatly opened #21648 "[BUG] Synapse artifact resource serialization does not preserve artifact name"
**Describe the bug**
When serializing an artifact resource, e.g. a `LinkedServiceResource`, the name of the artifact is not emitted in the JSON. (This is likely to affect the other properties on `SubResource`, e.g. etag, id and type.)

**Expected behavior**
I would expect the name property to be emitted to the JSON, preserving the information that was deserialized.

**Actual behavior (include Exce

[2021-06-07 13:57] paul-cheung commented on #21637
yeah, I think so, it was from Azure service that generated the swagger the SDK team using.

[2021-06-07 15:10] christothes commented on #21635
Thanks @joelverhagen , nice find!

[2021-06-07 15:28] jsum04 commented on #21581
Hello jsquire, If one of the processor is having issues to connect to the service bus, wouldn't the remaining have the same issue as they would be using the service bus client connection? I did set my consumers to 3. I haven't seen any other exception getting logged in the error event handler. Could you please point to how to register an event source listener to get the errors. As I mentioned earl

[2021-06-07 15:47] jsquire commented on #21647
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-07 15:55] jsquire commented on #21648
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-07 15:58] kasobol-msft commented on #21594
Repro:
[code]

![image](https://user-images.githubusercontent.com/61715331/121051762-967c7180-c76e-11eb-9d4a-31a765c61ce4.png)

[2021-06-07 16:06] amnguye commented on #21592
How portal and storage explorer operate is that by default, it will grab the key information (if it has permissions) in order to access the storage account information and keys. It does this by calling the management plane API

The storage SDK does not call into the management plane API, only the data plane API, and will not grab your storage account information. So yes you would either have to gr

[2021-06-07 16:16] amnguye commented on #21638
For this bug, we did make a hotfix release for this back on April 27th in Azure.Storage.Blobs 12.8.3
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/CHANGELOG.md#1283-2021-04-27

Which raises another issue if you're currently depending 12.9.0-beta.4 (which contains the same fixes as 12.8.3) are you still experiencing this issue?

[2021-06-07 16:28] Mohit-Chakraborty commented on #20350
@ssghoda - this feedback is best addressed by the Search service team.
I see there has been engagement from the team on https://feedback.azure.com. That is the best forum for this request. I suggest you continue engaging there.

[2021-06-07 16:37] jsquire commented on #21581
If you're having connection issues that are transient, something closer to the default retry policy should overcome them.   If your processor is having connection issues that are persistent or that occur for long periods of time, I would suspect that you want to know about them and should let the operation fail and trigger the error handler.

The important bit that is that the processor does not h

[2021-06-07 16:40] yahorsi commented on #21638
@amnguye Thank you, we were just unaware this is fixed. The original issue was never updated with the release it was fixed in.

[2021-06-07 16:41] #21367 closed

[2021-06-07 16:42] yahorsi commented on #21638
I have explicitly asked for an update when it will be fixed:

![image](https://user-images.githubusercontent.com/9819679/121057876-6c579d80-c7c8-11eb-82b6-806a76a9311f.png)

[2021-06-07 16:51] amnguye commented on #21638
Apologies for not replying on a closed thread. We will look to better our notification system when issues are closed and there are replies. As a current mitigation, opening a new issue or reopening the issue would let us know that the issue is not resolved yet. For clarification our current process we close issues when they have been resolved in the main branch.

Are you suggesting that for every

[2021-06-07 16:54] amishra-dev commented on #21011
@deenairn can you please send a link. I see the following
![image](https://user-images.githubusercontent.com/12189888/121059420-4ef9e380-c776-11eb-9818-2c34c3546a72.png)

[2021-06-07 16:55] yahorsi commented on #21638
@amnguye Yes updating issues sounds logical for me because we are, customers, do not receive any notification when a new release is published so there is no other way other than a refreshing page every day and then looking into the release note to check if my particular issue was fixed in this release or no.

[2021-06-07 16:55] deenairn commented on #21011
Fixed the typo :)

[2021-06-07 17:00] #8704 closed

[2021-06-07 17:10] pakrym opened #21655 "[BUG] loganalytics batch returns double-encoded body"
[code]

[2021-06-07 17:12] pakrym opened #21656 "[BUG] loganalytics Internal Server Error for additional workspaces"
[code]

[2021-06-07 17:17] #21635 closed

[2021-06-07 17:20] pakrym opened #21657 "Re-enable QueryMetrics snippet test"

[2021-06-07 17:25] amnguye commented on #21638
Thanks for your input. We will look to bettering this in the future. I will close the issue now if there are no further actionable items to act on. Please reopen or open a new issue (if unrelated) if needed.

[2021-06-07 17:25] #21638 closed

[2021-06-07 17:41] JoshLove-msft commented on #21639
/cc @KrzysztofCwalina @tg-msft @pakrym

[2021-06-07 17:42] pakrym commented on #21639
Should we add it?

[2021-06-07 17:45] JoshLove-msft commented on #21639
Yeah, we may as well for consistency sake.

[2021-06-07 17:47] pakrym commented on #21639
If we have the converter do we still need the serialize method?

[2021-06-07 17:49] #18609 closed

[2021-06-07 17:49] JoshLove-msft commented on #21639
Technically, we don't _need_ any of this. The idea here is to make the serialization more discoverable (explicit method), and more flexible (ObjectSerializer support).

[2021-06-07 17:51] pakrym commented on #21639
We can already use `ObjectSerializer.Serialize(event)` for the `ObjectSerializer` support.

I slightly worry we would have a different set of serialize/deserialize methods on various classes across libraries. Might be a good time to think on some common names/patterns.

[2021-06-07 17:58] maririos commented on #9089
I believe that we are good for now. We have added performance tests. If we see a regression we will start looking here.
I will close this issue and will reopen when needed

[2021-06-07 17:58] #9089 closed

[2021-06-07 17:59] JoshLove-msft commented on #21639
Ah good point, I still think if we were to include a Serialize method, it should probably include the ObjectSerializer as a parameter for convenience. But this helps make narrow the scope to discoverability.

Yeah, that is fair, but I think Serialize is a pretty good name for this. 😆
Also it is possible that we just need a better way to document what converters exist for a given type.

[2021-06-07 18:07] tg-msft commented on #21639
It's not a bad name, but don't we have other cases where we call things `ToJson` as well?

[2021-06-07 18:16] JoshLove-msft commented on #21639
Looks like we do - https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/CopyAuthorization.cs#L56

[2021-06-07 18:18] JoshLove-msft commented on #21639
I think ToJson is probably better. We can leave off ObjectSerializer parameter as an advanced use case that requires doing ObjectSerializer.Serialize.

[2021-06-07 18:18] pakrym commented on #21639
We also have WriteTo(Utf8JsonWriter) that's why I want to stop adding more until we take stock

[2021-06-07 18:50] christothes commented on #21453
Hi @hitochan777 Are you able to acquire a token by running the following at the command line?

` az account get-access-token`

If so, does the following code return a token?

[code]

If both of these work, it seems that the credential is working properly. Could you provide a full stack from the error you are seeing and also enable logging for both the credential and the client you are using?
Detai

[2021-06-07 18:53] JoshLove-msft commented on #21639
WriteTo seems like a low level API, whereas ToJson is high level. They don't seem to conflict - but taking stock of all the existing patterns sounds good.

[2021-06-07 19:23] pakrym commented on #21639
True. But should CloudEvent maybe have WriteTo as well?

[2021-06-07 19:26] JoshLove-msft commented on #21639
We could always add it in the future, but I am more concerned about the basic scenario of getting the JSON for an event and adding it to the HttpRequestContent.

[2021-06-07 19:28] pakrym commented on #21639
Then we start by adding the converter.
That way

`content = RequestContent.Create(event); `

would just work

[2021-06-07 19:32] kinelski opened #21663 "[MetricsAdvisor] Update live anomaly/alert config tests to use newly created data feed"
Sharing the same data feed across multiple languages can be problematic because there's a limit of how many configs we can create. If we reach the limit (10), we get the following error back from the service:

We also need to decide what to do with our samples. It may not be a good idea to create mock entities for them, as we want to make sure users can run them with actual data. As part of this i

[2021-06-07 19:45] ramya-rao-a commented on #18980
This issue started off as a problem for Microsoft.Azure.ServiceBus and moved to Azure.Messaging.ServiceBus.
Can we have a new issue logged for Azure.Messaging.ServiceBus with relevant details copied over?

[2021-06-07 19:46] amnguye commented on #21640
Are you asking on how to set the secondary tenant? This would be located in `BlobClientOptions.GeoRedundantSecondaryUri` or change out `BlobClientOptions` for the according service you are looking to use.

If you're looking for the SDK to assist the construction of the secondary tenant url or to grab any endpoint information, I recommend using the storage management SDK instead of the regular stor

[2021-06-07 19:53] TechWatching commented on #21592
Okay thank you for the explanation. It's clear now. I don't know if this is explicitely explained in documentation but if not I think it should be to avoid potential confusion.

Indeed, when building an application (hosted on App Service or other Azure component) that queries an Azure Storage using Managed Identities, we often test the application locally using the account connected to Visual Stud

[2021-06-07 20:05] amnguye commented on #21511
What version of Microsoft.Azure.WebJobs.Extensions.Storage are you upgrading from?

Also what code snippet causes the `409 Lease already present` error?

[2021-06-07 20:23] #21592 closed

[2021-06-07 20:42] amnguye commented on #21182
The user delegation key is analogous to the account key used to sign a service SAS or an account SAS, except that it relies on your Azure AD credentials. So instead of signing the SAS with your account key, we sign it with the user delegation key. So in short, yes the token operates the same way, it grands access to the container and/or blobs.

[2021-06-07 21:24] Mohit-Chakraborty commented on #21457
@amitkub - can you provide more details on this -
1. How often are you hitting this issue?
1. Does the operation succeed on retry?

Also, please look at the discussion and workaround discussed in #9212. See if modifying the `Transport` and `Retry` properties on `SearchClientOptions` resolves the issue.

[2021-06-07 21:25] #20276 closed

[2021-06-07 22:04] kinelski opened #21670 "[MetricsAdvisor] Add new service properties to alert configuration"
- [x] AnomalyAlertConfiguration.SplitAlertsByDimensions
- [x] MetricBoundaryCondition.ValueType

[2021-06-07 22:05] kinelski commented on #18610
All items implemented/moved.

[2021-06-07 22:05] #18610 closed

[2021-06-07 22:19] taabdull opened #21672 "[BUG] ServiceBus: Closing SubscriptionClient Instance results in CanceledException [Mono] or Hanging [.NET Core]"
**Describe the bug**
Copied from https://github.com/Azure/azure-sdk-for-net/issues/18980
This issue is happening in both Azure.Messaging.ServiceBus and Microsoft.Azure.ServiceBus. However the .NET Core repro only happens for Azure.Messaging.ServiceBus. When closing the subscription client it throws an exception.

**Expected behavior**
What is the expected behavior?
No Exception

**Actual behavior

[2021-06-07 22:23] Kandhan-Sekar opened #21673 "Garbage collection for deletion is handled on the server side?"
[Enter feedback here]
When deleteasync is called on a file/ folder, the path is marked for deletion. But does this depend on the client for garbage collection? as in if the client crashes down the line will it end up not cleaning it up or is it done on the server side by adls on a separate thread?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-06-07 22:26] ramondeklein opened #21674 "The return-type is misleading, because it implies that the response contains the delete item (and it doesn't)."
This call returns an `ItemResponse<T>` object that holds a `Resource` property that contains the affected documented for all read and write operations. But for the `DeleteItemAsync<T>` this property is always set to `null`. It would make much more sense to either:

1. Fill the `Resource` property unless [`EnableContentResponseOnWrite `](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.c

[2021-06-07 22:32] Mohit-Chakraborty commented on #21515
@pakrym, I looked at the [30 day historical data](https://dev.azure.com/azure-sdk/public/_test/analytics?definitionId=509&contextType=build) for the 'net - search - ci' pipeline and don't see `Dispose_Blocks` as one of the failing tests.
Do you have the build link for the failure and a way to see the test result trend?

[2021-06-07 22:44] annelo-msft opened #21675 "[ACR] Delete Sample: delete tags before manifests"
Confirming with @mnltejaswini that this is the recommended best practice for the service.

[2021-06-07 22:46] ramondeklein commented on #21674
Based on my comment the blog has been updated: https://twitter.com/ealsur/status/1402033080521551873?s=21

[2021-06-07 22:55] pakrym commented on #21515
It failed as part of core PR runs (Core runs all the tests)

[2021-06-07 22:58] kasobol-msft commented on #21622
TODO: Queues.

[2021-06-07 23:00] annelo-msft commented on #21497
Closed in favor of: https://github.com/Azure/azure-sdk-for-net/issues/21675

[2021-06-07 23:00] #21497 closed

[2021-06-07 23:22] jkalweit commented on #21458
I get the same NullReferenceException in a server-side blazor app. Reverting to 12.0.0-beta.7 fixes it with no code changes.

[2021-06-07 23:54] annelo-msft opened #21679 "Update README with better description of steps needed to authenticate"

[2021-06-08 00:10] JandosHk commented on #21075
@christothes, I did it again and got the same log messages. The problem is I don't understand where that listener is referenced in the code? Just initializing it doesn't make a sense to me.

[2021-06-08 00:27] Mohit-Chakraborty commented on #21515
Thanks.
Looking at [the data](https://dev.azure.com/azure-sdk/public/_test/analytics?definitionId=297&contextType=build) in 'net - core - ci', `Dispose_Blocks` failed 1 out of 1668 runs with a pass rate of 99.94% in the past 30 days.

I am inclined to not investigate this at the moment. Will revisit if the test starts failing regularly.

[2021-06-08 00:51] Mohit-Chakraborty commented on #21228
@pakrym - I don't see any failures of `Champion_BasicCheckpointing` either in the Core or Search CI pipeline. Where I can get the link to a run with a failure of this test?

[2021-06-08 01:04] yufeih commented on #20609
Any update on this issue?

[2021-06-08 01:08] jsum04 commented on #21581
Thanks for all the info jsquire. Just one more thing to clarify. So the retry option is applicable to each individual operation. If the retry fails, it doesn't mean that the consumer will completely stop. Am I correct in saying that. Initially my understanding was a bit different as I thought it would completely stop and that's why I had set the max retry attempts to 100.

[2021-06-08 01:54] JoshLove-msft opened #21683 "Consider removing FilteringMessagesBeforePublishing data from ATOM XML payload"
I don't see this exposed in the public APIs of the Azure.Messaging.ServiceBus package though...
Neither in [CreateTopicOptions](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.administration.createtopicoptions?view=azure-dotnet), nor in [TopicProperties](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.administration.topicproperties?view=azure-dotnet)

[2021-06-08 02:40] RetYn commented on #21640
Does any documents or key words to search about how to do that in storage management SDK?

[2021-06-08 03:03] ramya-rao-a opened #21684 "[Event Grid] Update package description for older package to point to the new one"
Update the package description for the [Microsoft.Azure.EventGrid](https://www.nuget.org/packages/Microsoft.Azure.EventGrid) and the readme to point to the new Azure.Messaging.EventGrid. Once done, a patch update needs to be released.

Use https://github.com/Azure/azure-sdk-for-net/pull/20402 as a reference where we did the same for Service Bus

[2021-06-08 03:06] ramya-rao-a commented on #21684
cc @lmazuel

[2021-06-08 08:01] #20941 closed

[2021-06-08 08:55] koni123 opened #21687 "Azure function service bus queue trigger parameter "EnqueuedTimeUtc" [BUG]"
**Describe the bug**
Upgrading from extension version 4.3.0 to 5.0.0-beta.3 the DateTime EnqueuedTimeUtc param is in wrong string format.

**Expected behavior**
5.x to have the same string format as in 4.3.0.

**Actual behavior (include Exception or Stack Trace)**
In 4.3.0 string format is: EnqueuedTimeUtc: 2021-06-07T14:14:16.2230000Z
in 5.0.0-beta.3 string format is: EnqueuedTimeUtc: 2021-06-07T

[2021-06-08 11:18] petrformanek opened #21689 "[BUG] To property of ServiceBusMessage in Azure.Messaging.ServiceBus v7.1.2 cannot be null"
**Describe the bug**
Dear Azure SDK team,
`ServiceBusMessage.To` property cannot have null value. It is a breaking change against `Microsoft.Azure.ServiceBus` v5.1.2. This breaking change complicates our effort to migrate to the new SDK. We use `To` property in our SQL rules like this: `$"AND (sys.To IS NULL OR sys.To = '{subscriptionSettings.SubscriptionName}')";`.
Now I never get `NULL` in the `

[2021-06-08 12:10] ahzarkie opened #21690 "[FEATURE REQ] Make batchClient Mockable"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]
[Azure.Batch.BatchClient](https://github.com/Azure/azure-sdk-for-net/blob/850df4dc21246f6d216e8ed472313b741a8362b7/sdk/batch/Microsoft.Azure.Batch/src/BatchClient.cs#L56)

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What proble

[2021-06-08 12:44] ssghoda commented on #20350
@Mohit-Chakraborty Thanks for your response. I had already found that as a request https://feedback.azure.com/forums/263029-azure-search/suggestions/17760211-support-geo-distance-in-select-result and upvoted it but there was no recent development there so wanted to draw your attention here. :)

[2021-06-08 12:49] jsquire commented on #21672
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-08 12:53] jsquire commented on #21687
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-08 12:55] jsquire commented on #21689
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-08 12:59] jsquire commented on #21690
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-08 13:09] paulmey opened #21691 "[BUG] In fluent networking models, Direction and SecurityRuleDirection should be the same type"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1740197/121190172-12f47a80-c86b-11eb-8983-989a6d32e39f.png)
Both types define the same members and serve the same purpose.

**Expected behavior**
They should be the same type.

**Actual behavior (include Exception or Stack Trace)**
They are two different types, frustrating the users of the SDK.

**To Reproduce**
Try to code ad

[2021-06-08 13:52] jsquire commented on #21581
Correct.   In this case, an individual operation would be defined as "I'm trying to read messages from the service, but I was unable to do so."

Correct, in the case where a "consumer" is one of the processor types.   The processor will continue to try to recover and keep working.  If an operation fails across all retries, it will fault the task that owns that attempt, that fault will alert the er

[2021-06-08 13:54] jsquire commented on #21691
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-08 14:01] jsum04 commented on #21581
Thanks jsquire for all the info. This definitely helps a lot.

[2021-06-08 14:02] #21581 closed

[2021-06-08 14:09] jsquire commented on #16727
Closing;  this work was done.

[2021-06-08 14:09] #16727 closed

[2021-06-08 14:17] jsquire commented on #20618
Since tracking for this request has been shifted to the Azure Feedback site, marking as addressed.

[2021-06-08 14:23] #17807 closed

[2021-06-08 14:42] AlexandreArpin commented on #21656
@pakrym  sorry for the poke, since sunday, we have been getting the same type of errors from the Container Instances Api "List Logs"

https://docs.microsoft.com/en-us/rest/api/container-instances/containers/list-logs

[code]

Could this be related? We are about to open a ticket with Azure Support

[2021-06-08 15:11] pakrym commented on #21228
I'll make sure to add it next time.

[2021-06-08 15:16] pakrym commented on #21656
@AlexandreArpin my first guess would be no. The error format and the code name are standard in azure and the service and the message are different in you case.

[2021-06-08 15:26] pakrym commented on #21005
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=934951&view=ms.vss-test-web.build-test-results-tab&runId=20051536&resultId=101680&paneView=debug

[code]

[2021-06-08 15:36] #21607 closed

[2021-06-08 16:37] Mohit-Chakraborty commented on #21228
Closing for now. Will reopen if there are additional reports of this test failing.

[2021-06-08 16:39] Mohit-Chakraborty commented on #21515
Based on the run data, this test seems very stable. Closing the issue for now, will reopen if there are continuing failures.

[2021-06-08 16:49] pakrym commented on #21515
It's not. The failure is easily reproducible.

I'm not sure that closing flaky test issues because they are not annoying enough is the right thing to do. Even low-probability flaky tests add up when we have thousands of tests.

Core CI run is 30 minutes a single test failure requires a rerun it adds up./

[2021-06-08 16:57] pakrym commented on #21228
https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=1180&contextType=build

[2021-06-08 17:00] Mohit-Chakraborty commented on #20350
Understood. I just remembered that a better forum to engage with the Search service team would be on SO (issues tagged with 'azure-cognitive-search').
Please ask on https://stackoverflow.com/questions/tagged/azure-cognitive-search.

[2021-06-08 17:04] JoshLove-msft commented on #21689
Hi @petrformanek,
We're sorry you are running into this issue. As the library is already GA, changing the To property to return null in this situation could break some users. Is it possible for you to update your SQL filter to check for empty string rather than null?

[2021-06-08 17:06] JoshLove-msft commented on #21687
Hi @koni123,
In the new bindings you should be able to bind to these values using DateTimeOffset rather than DateTime. Can you give that a try?

[2021-06-08 17:21] Mohit-Chakraborty commented on #21228
Thanks, I favorited the Core and Search pipelines. I see there are public and internal pipelines.
Based on your comments in #21515, I am reopening this.

[2021-06-08 17:23] Mohit-Chakraborty commented on #21515
I was going by the test run results. What do you mean by this?

That is fair. I am reopening this issue.

[2021-06-08 17:24] maririos commented on #19970
Package is out: https://www.nuget.org/packages/Azure.AI.Translation.Document/1.0.0-beta.2

[2021-06-08 17:24] #19970 closed

[2021-06-08 17:25] pakrym commented on #21515
I mean it was very easy to reproduce the failure locally by wrapping the test body in

[code]

[2021-06-08 17:47] SeanFeldman commented on #20931
@amnguye ping

[2021-06-08 18:02] pakrym commented on #21687
SHould we expose DateTimeOffset with new names and keep DateTime for existing ones?

[2021-06-08 18:04] pakrym commented on #21687
In EH we kept DateTimes https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Triggers/EventHubTriggerBindingStrategy.cs#L95-L131

[2021-06-08 18:05] JoshLove-msft commented on #21687
The issue there is for customers who are entirely new to the bindings. The SDK types use DateTimeOffset, but the bindings would only support DateTime?

[2021-06-08 18:08] rorococo commented on #21518
No exceptions. It literally stops the project from running at that point

[2021-06-08 18:09] rorococo opened #21704 "[QUERY] Service Bus Transaction Difficulties"
**Query/Question**
Can transaction scopes be used with Azure Service bus?
Stack Overflow question: https://stackoverflow.com/questions/67892423/azure-service-bus-with-transaction-scope  _**(SEE BELOW)**_

**Environment:**
Azure.Messaging.ServiceBus 7.1.0
Hosting platform or OS and .NET runtime version: Windows 10.0.19042, .NET 5.0.103
IDE and version : Visual Studio 16.8.2

[2021-06-08 18:34] #21551 closed

[2021-06-08 18:37] pakrym commented on #21687
We can have an additional parameter name for `DateTimeOffset`. `enqueuedTimeUtcOffset` ?

[2021-06-08 18:43] AndyMcKenna opened #21706 "[BUG] DefaultAzureCredential doesn't work with IIS environment variables"
**Describe the bug**
`EnvironmentCredential` doesn't get the necessary values if they are stored in IIS environment variables.  It only works when we create OS level environment variables.  This is when using `DefaultAzureCredential` to authenticate against KeyVault.

**Expected behavior**
IIS environment variables and OS env vars would both work

**Actual behavior (include Exception or Stack Trac

[2021-06-08 18:52] annelo-msft commented on #21679
Closed with https://github.com/Azure/azure-sdk-for-net/pull/21698

[2021-06-08 18:52] #21679 closed

[2021-06-08 19:38] JoshLove-msft commented on #21687
Yeah we will certainly need to update our docs if we don't provide the backcompat binding.

[2021-06-08 20:11] #21628 closed

[2021-06-08 20:23] sadasant opened #21711 "[Identity] [Docs] Document that ManagedIdentityCredential supports client IDs when working with AKS pods"
Recently, a customer of the NodeJS Identity SDK had some doubts on whether they would be able to use the ManagedIdentityCredential to authenticate using an App Registration client ID. Turns out, it is in fact possible to authenticate with an App Registration client ID using the ManagedIdentityCredential, but only in AKS pods. To help clarify this, I’ve started updating the documentation to reflect

[2021-06-08 20:44] annelo-msft commented on #21554
@seankane-msft, can you share the scenario that requires this?

[2021-06-08 21:26] pakrym commented on #19987
These are the formats I found in recordings:
[code]

[2021-06-08 22:21] serkantkaraca commented on #21502
Document apparently needs clarification. Unfortunately there is no easy way today for developer to calculate the byte size of a message right before it is put on the wire.

[2021-06-09 01:23] kasobol-msft commented on #21594
Fix available in https://www.nuget.org/packages/Azure.Storage.Blobs/12.9.0

[2021-06-09 01:23] #21594 closed

[2021-06-09 03:02] yunair opened #21723 "[BUG]Microsoft.Azure.WebJobs.Extensions.EventHubs 5.0.0-beta.5 will make unit test start failed."
**Describe the bug**
If I add Microsoft.Azure.WebJobs.Extensions.EventHubs 5.0.0-beta.5 to project, I can't run unit test for my project.

**Expected behavior**
I can run unit test success.

**Actual behavior (include Exception or Stack Trace)**
I can't run the unit test, and in test outputs, it said:
![image](https://user-images.githubusercontent.com/4322540/121286072-e8a9c800-c911-11eb-9102-f361

[2021-06-09 04:29] JoshLove-msft commented on #21687
We could probably add EnqueuedTime as the binding for DateTimeOffset as this matches the pattern used in the new SDKs of not including Utc suffix for DateTimeOffset properties.

[2021-06-09 04:39] JoshLove-msft commented on #21687
Actually, this is just a bug - we still bind to DateTime in the contract but are using the DateTimeOffset. I'll get this fixed.

[2021-06-09 06:17] petrformanek commented on #21689
Hi @JoshLove-msft ,
yes I already change the filter to check for empty string. But we have many consumers across various teams. So this inability to set null makes new SDK adoption much complicated.
What about just being able to set null explicitly e.g. `message.To = null`?

[2021-06-09 06:23] JoshLove-msft commented on #21689
Do you mean that other teams would also have to do a similar filter update and that would be difficult to do?

[2021-06-09 06:24] JoshLove-msft commented on #21689
I think this may be possible for us to support. I will discuss with the team and see what they think.

[2021-06-09 06:48] petrformanek commented on #21689
We have our messaging SDK which wraps Service Bus SDK. The filter is a part of our SDK which is used by our teams to consume messages from service bus.
We have just two message producers which we cannot upgrade to the latest SDK until all consumers upgrade to our latest SDK (with fixed filters).
It just takes some weeks or months to force all the teams to upgrade.

[2021-06-09 07:44] ricksto1987 opened #21728 "Page 404 when clicking 'Explore Client API's' button"
Hi there,

After clicking the Explore The Client API's button on this page at the bottom I was receiving a 404 not found message

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3628e326-be45-e441-eb62-627b721d3e70
* Version Independent ID: e4e26910-eda8-a7f8-de42-150232c24a8b
* Content: [Azure Application Insights libra

[2021-06-09 07:48] Arithmomaniac opened #21729 "DataLake: incomplete documentation for CreateIfNotExistsAsync"
The XML documentation for `DataLakePathClient` and its overloads and child classes do not mention that `CreateIfNotExistsAsync` returns null if the path already exists (as opposed to the existing path).

https://github.com/Azure/azure-sdk-for-net/blob/3587f073502eb97bc6a9b6fc65d309614f1bd62b/sdk/storage/Azure.Storage.Files.DataLake/src/DataLakePathClient.cs#L1156-L1159

https://github.com/Azure/az

[2021-06-09 08:08] sonnyhcl commented on #4924
Raise this issue again. Since KeyVault has service limitation as 2000 transactions/10seconds for RSA2048, if SDK always call API twice for one client query, this will shrink service limit to 1000 transactions/10 seconds.

[2021-06-09 10:37] hebaelfadly commented on #20143
@jsquire any updates on this?
Same issue when deleting example
![image](https://user-images.githubusercontent.com/61690067/121340101-7d66f280-c91f-11eb-80a3-4336e7228239.png)

[2021-06-09 13:23] jsquire commented on #20143
Hi @hebaelfadly.  Unfortunately, I am only serving as first triage and have no insight into the Cognitive Services offerings nor their team process for triaging.   I'll need to defer to @cahann, @kayousef for updates.

[2021-06-09 13:27] jsquire commented on #21704
Reflecting the Stack Overflow question content:

---
**Namespace**: **Azure.Messaging.ServiceBus**

I am using a transaction scope around my ```ServiceBusSender.SendMessageAsync``` operation and getting "Local transactions are not supported with other resource managers/DTC."

Can transaction scopes be used with Azure Service Bus?

**Current scope**:
[code]

[2021-06-09 13:38] jsquire commented on #21704
Hi @rorococo.  Thank you for reaching out and we regret that you're experiencing difficulties.   Service Bus supports transactions involving a single Service Bus entity, such as reading/publishing to the same queue currently and is expected to receive support for cross-entity transactions at some point in the near-term future.  To my knowledge, Service Bus does not support participating in DTC (or

[2021-06-09 13:47] jsquire commented on #21706
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-09 13:49] jsquire commented on #21723
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-09 13:54] jsquire commented on #21728
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-09 15:08] pakrym commented on #21005
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=938660&view=ms.vss-test-web.build-test-results-tab&runId=20120642&resultId=100599&paneView=debug

[code]

[2021-06-09 15:09] pakrym commented on #21005
@christothes @schaabs can one of you disable the test please considering Alexander is out for a while?

[2021-06-09 15:10] christothes commented on #21005
I'll take over his PR and merge the fix.

[2021-06-09 15:18] #10592 closed

[2021-06-09 15:19] AlexGhiondea commented on #13319
This is done now.

[2021-06-09 15:19] #13319 closed

[2021-06-09 15:19] #9760 closed

[2021-06-09 15:19] #10437 closed

[2021-06-09 15:26] heaths commented on #4924
The bearer token is cached if you reuse client instances, which is better for performance anyway, and unauthenticated requests against the service do not count against the quota.

[2021-06-09 15:27] AlexGhiondea commented on #10593
Closing for now.

[2021-06-09 15:27] #10593 closed

[2021-06-09 15:27] AlexGhiondea commented on #10598
@Mohit-Chakraborty anything else left for us to do here?

[2021-06-09 15:28] AlexGhiondea commented on #10602
@tg-msft can this be closed now?

[2021-06-09 15:28] AlexGhiondea commented on #10612
Closing this for now.

[2021-06-09 15:28] #10612 closed

[2021-06-09 15:29] AlexGhiondea commented on #11478
This is done.

[2021-06-09 15:29] #11478 closed

[2021-06-09 15:29] AlexGhiondea commented on #12457
@Mohit-Chakraborty is this still an issue?

[2021-06-09 15:30] AlexGhiondea commented on #12303
Closing this for now.

[2021-06-09 15:30] #12303 closed

[2021-06-09 15:31] AlexGhiondea commented on #13150
@tg-msft can we close this now?

[2021-06-09 15:33] AlexGhiondea commented on #13502
@tg-msft @Mohit-Chakraborty is this still an issue? What would it take to move to the official data set?

[2021-06-09 15:37] AlexGhiondea commented on #14477
I think we should consider doing this. /cc @Mohit-Chakraborty @tg-msft

[2021-06-09 15:37] AlexGhiondea commented on #15135
Closing for now.

[2021-06-09 15:37] #15135 closed

[2021-06-09 15:39] Mohit-Chakraborty commented on #12457
I will take a look. Assigning to myself to investigate.

[2021-06-09 15:42] AlexGhiondea commented on #15432
Closing for now.

[2021-06-09 15:42] #15432 closed

[2021-06-09 15:43] AlexGhiondea commented on #15542
I think this is no longer needed since the GeoJSON types are in Core.

[2021-06-09 15:43] #15542 closed

[2021-06-09 15:44] AlexGhiondea commented on #15635
This is done.

[2021-06-09 15:44] #15635 closed

[2021-06-09 15:44] AlexGhiondea commented on #15637
Closing this for now.

[2021-06-09 15:45] #15637 closed

[2021-06-09 15:52] tg-msft commented on #10602
No, we've still got a bunch of commented out Track 1 tests that were never fixed after we started properly supporting ObjectSerializer.

[2021-06-09 15:52] tg-msft commented on #13150
No, this still hasn't been fixed.  Leave it assigned to me though because this took a ton of discussion to agree on a solution and I've got all the relevant context.

[2021-06-09 15:53] tg-msft commented on #13502
Yes, unfortunately.  To fix this correctly we'd want to snag the official dataset and pull it into an index (either manually or by setting up an indexer).

[2021-06-09 15:53] Mohit-Chakraborty commented on #10598
I see there has been a reformatting of code and we have removed the custom code in favor of using the common impl from `Azure.Core`.
The assert calling out the problem [does not exist](https://github.com/Azure/azure-sdk-for-net/blob/7aa2ff58616865a4431f2046a42e29eaf3448aeb/sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs#L45) in this version.

I thought we still need a way to agree on how to su

[2021-06-09 15:55] AlexGhiondea commented on #16824
@Mohit-Chakraborty this looks like a simple removal of a comment 🙂. Can you do it and close this issue?

[2021-06-09 16:01] AlexGhiondea commented on #17874
@Mohit-Chakraborty  could you take a look?

[2021-06-09 16:03] AlexGhiondea commented on #18060
@Mohit-Chakraborty can you take a look at this? Also /cc @brjohnstmsft in case this sounds familiar.

[2021-06-09 16:03] AlexGhiondea commented on #18111
@Mohit-Chakraborty could you take a look?

[2021-06-09 16:04] AlexGhiondea commented on #18169
@Mohit-Chakraborty could you take a look?

[2021-06-09 16:06] AlexGhiondea commented on #18427
@Mohit-Chakraborty can you take a look?

/cc @brjohnstmsft

[2021-06-09 16:08] AlexGhiondea commented on #18878
@Valdeminas do you have a small sample that we can run on our end?

[2021-06-09 16:10] AlexGhiondea commented on #19374
@AlexTorianyk you should specify those attributes on your models.

[2021-06-09 16:52] lilyjma opened #21733 "Migration guide link not pointing to the most updated guide"
The migration guide link needs to be updated:

current link: https://github.com/Azure/azure-sdk-for-net/blob/Azure.Messaging.ServiceBus_7.2.0-beta.3/sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md

correct link with most updated guide: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md
---
#### Document Details

⚠ *Do not

[2021-06-09 17:13] pakrym opened #21734 "Add support for dynamic column type"

[2021-06-09 17:13] pakrym opened #21735 "Add query escaping support"

[2021-06-09 17:14] lilyjma commented on #21733
(not sure why the font size is weird..)

[2021-06-09 17:49] #14842 closed

[2021-06-09 17:50] JoshLove-msft commented on #12194
Looks like this was added to the wrong repo.

[2021-06-09 17:54] #12194 closed

[2021-06-09 17:58] brjohnstmsft commented on #18427
@Mohit-Chakraborty This sounds like an issue deserializing the response on the client. Are you able to repro this with SDK tests?

[2021-06-09 17:59] JoshLove-msft commented on #15070
Issues are all addressed.

[2021-06-09 17:59] #15070 closed

[2021-06-09 18:00] brjohnstmsft commented on #18060
@AlexGhiondea @Mohit-Chakraborty For indexer-related issues, please engage @bleroy

[2021-06-09 19:22] #21369 closed

[2021-06-09 19:31] jsquire commented on #21518
Hi @rorococo.   I'm afraid that I still don't understand the behavior that you're describing.  When you say "stops the project from running" do you mean:

- Your application exits (terminates without error?)
- Your application hangs at some point in the code with the process still running but nothing executing?
- Your IDE hangs while running your project in debug/release mode?

I've been unable to

[2021-06-09 20:03] jsquire commented on #21733
This is normal and expected; the pre-release version of the README generates locked to the tag that it was released from.

[2021-06-09 20:03] #21733 closed

[2021-06-09 20:34] #21615 closed

[2021-06-09 21:12] pakrym commented on #21544
The package is out. https://www.nuget.org/packages/Microsoft.Extensions.Azure/1.1.0

[2021-06-09 21:12] #21544 closed

[2021-06-09 21:53] heaths commented on #21487
After discussions with the service teams, cancellation is a best-effort operation and for self-signed certificates may often complete before a final cancellation is checked. The service errs on the side of caution and retains a certificate rather than delete it if cancelled in these cases, since paid certificates do cost money.

[2021-06-09 21:53] #21487 closed

[2021-06-09 21:54] heaths commented on #21083
This has been completed in a previous PR.

[2021-06-09 21:54] #21083 closed

[2021-06-09 21:57] heaths commented on #21126
Adding @markcowl

[2021-06-09 21:58] heaths commented on #20934
There is no way to delete older versions apart from deleting the entire secret and recreating, or creating a new secret name. Can you describe why there are "too many"?

[2021-06-09 22:01] heaths commented on #19198
Re-evaluate now that we did recently update dependencies for System.Text.Encodings.Web.

[2021-06-09 22:04] heaths commented on #17858
This was completed.

[2021-06-09 22:04] #17858 closed

[2021-06-09 22:05] heaths commented on #18171
Each of the older packages has been deprecated (though, only in description for Maven) with a link to the new one.

[2021-06-09 22:05] #18171 closed

[2021-06-09 22:07] sescandell opened #21753 "BlobTrigger - User ManagedIdentity - "Unable to find matching constructor""
Hello,

I'm trying to deploy a .NetCore Azure Function where the trigger is a BlobTrigger using a User Managed Identity (thanks to the early preview feature).

Here is my code:
[code]

Here is the local.settings.json used:
[code]

Locally, connected through the Azure CLI: everything is working fine.

Matters comes once on Azure.
Here is the configuration used:

[code]

But on execution, I got the

[2021-06-09 22:12] jlichwa commented on #20934
It is correct you will need to create new secret with new name (copy few versions if needed). @heaths the issue is that i.e. backup works only for up to 500 versions, after that there is no way to backup a secret.

[2021-06-09 22:14] heaths commented on #16968
I believe this is done. Any specific ones? I believe they are all running. Please reopen with a list if not.

[2021-06-09 22:14] #16968 closed

[2021-06-09 22:14] heaths commented on #16792
Secure key release support was cut from the SDK. It is available only via the azure CLI and Az PowerShell cmdlets.

[2021-06-09 22:15] #16792 closed

[2021-06-09 22:22] #8011 closed

[2021-06-09 22:22] #7845 closed

[2021-06-09 22:22] #7219 closed

[2021-06-09 22:23] heaths commented on #4573
These packages are deprecated. Please update to Azure.Security.KeyVault.* packages, which have migration guides available next to our README.md files as MigrationGuide.md.

[2021-06-09 22:23] #4573 closed

[2021-06-09 22:23] heaths commented on #4474
These packages are deprecated. Please update to Azure.Security.KeyVault.* packages, which have migration guides available next to our README.md files as MigrationGuide.md.

[2021-06-09 22:23] #4474 closed

[2021-06-09 22:25] heaths commented on #16778
This work has been pushed out and this tracking issue is no longer necessary.

[2021-06-09 22:25] #16778 closed

[2021-06-09 22:26] heaths commented on #16512
This was completed.

[2021-06-09 22:26] #16512 closed

[2021-06-09 22:28] heaths commented on #16216
Already done: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Certificates/samples/Sample2_ImportCertificate.md

[2021-06-09 22:28] #16216 closed

[2021-06-09 22:29] heaths commented on #15416
Cut

[2021-06-09 22:29] #15416 closed

[2021-06-09 22:29] heaths commented on #14973
In a way, this is done. We decode the PEM files ourselves to support older targets consistently.

[2021-06-09 22:29] #14973 closed

[2021-06-09 22:32] heaths commented on #14734
This was completed with a pattern like so: https://github.com/Azure/azure-sdk-for-net/blob/dac0f7e6d518b16e5bded4c947dae3053baada72/sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/CryptographyClient.cs#L241-L260

[2021-06-09 22:32] #14734 closed

[2021-06-09 22:32] heaths commented on #14563
Not seeing this anymore.

[2021-06-09 22:32] #14563 closed

[2021-06-09 22:32] heaths commented on #14389
Already done.

[2021-06-09 22:32] #14389 closed

[2021-06-09 22:32] heaths commented on #13195
Haven't seen this in a very long time.

[2021-06-09 22:32] #13195 closed

[2021-06-09 22:45] heaths commented on #12613
We discussed as a v-team across languages and made changes accordingly. This was completed, in effect.

[2021-06-09 22:45] #12613 closed

[2021-06-09 22:49] heaths commented on #11634
I don't believe the pay-off here is worth the cost. This has been open a while and the live tests have been run many times since then. If you disagree on the resolution, we can discuss and re-evaluate.

[2021-06-09 22:49] #11634 closed

[2021-06-09 22:49] heaths commented on #10222
This work was pushed out and will be tracked as new feature work.

[2021-06-09 22:49] #10222 closed

[2021-06-09 22:52] heaths commented on #8992
All but the `CryptographyClient` have been updated to list required permission(s) for methods.

[2021-06-09 22:53] heaths commented on #8425
This was completed in #10677

[2021-06-09 22:53] #8425 closed

[2021-06-09 22:53] heaths commented on #8420
Track 1 packages were deprecated.

[2021-06-09 22:53] #8420 closed

[2021-06-09 23:36] mikeharder opened #21758 "[Identity] AADSTS9002313: Invalid request. Request is malformed or invalid."
I was getting the following exception when using `DefaultAzureCredential`:

It also repro'd using the following code:

[code]

Or when running CLI command `az account get-access-token`.

I was able to fix it by running `az login` again.  I have no idea what caused my az cli login to be corrupted (or whatever happened here).

[2021-06-10 00:25] JoshLove-msft commented on #21704
Yes, that is correct - the transaction support is limited to operations involving Service Bus - https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-transactions#operations-within-a-transaction-scope

[2021-06-10 00:36] kinelski opened #21760 "Release Metrics Advisor 1.0.0-beta.5"

[2021-06-10 01:02] #19371 closed

[2021-06-10 02:04] #21605 closed

[2021-06-10 06:24] JoshLove-msft commented on #5189
This is an issue in the new Azure.Messaging.EventGrid library as well.
I see two potential paths forward here:
 - Store these `object` values as JSON strings in the existing properties. You should be able to reparse to get it back as a JSON object.
 - Create new events with the correctly typed properties, and hide the old ones (to avoid breaking anyone).

[2021-06-10 09:37] v-yilinhu opened #21770 "[Form Recognizer] test failing in nightly runs"
Form Recognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=940824&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=937733&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=929007&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?b

[2021-06-10 09:39] v-yilinhu opened #21771 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=924918&view=results

[2021-06-10 10:31] kristofdegrave commented on #21458
I'm having the same issue when working with the 12.0.0 version. The 12.0.0-beta.7 works fine.

Delete of both Entity as Table give the same exception.

[2021-06-10 12:09] Valdeminas commented on #18878
I can send you the code related to our search service an deserializing the response. However, I don't think I would be able to replicate our index, against which we are running our searches.

Would that work?

[2021-06-10 13:12] christothes commented on #21458
@kristapratico Is your repro also in an Azure function? If so, can you reproduce outside of the function? If not, can you provide a snippet of sample code that demonstrates the exception?

[2021-06-10 13:28] christothes commented on #21458
Hi @jkalweit Could you provide a stack trace of the exception?

[2021-06-10 13:48] hitochan777 commented on #21453
@christothes
Getting access token in both ways worked.

I was only able to figure out how to enable logging for `DefaultAzureCredential` and here's the log.

[code]

By the way what I found is that the above program worked when I assign IoT Hub Data Contributor role to the principal and re-logged in on azure CLI.
But that is strange because the principal is global administrator of the tenant and i

[2021-06-10 13:50] OmerNassie opened #21772 "Searching a recommendation to which Azure Service bus package to install"
**Query/Question**
Hi there!
We're the infrastructure team in the company and we built our infrastructure using the Microsoft.Azure.ServiceBus package of yours which last maintained in April,
I see all your documentation examples for Azure service bus are using the Azure.Messaging.ServiceBus package
which also last maintained in April this year.

I wonder which package are you maintaining from the

[2021-06-10 13:58] christothes commented on #21458
Disregard the code requests, I have a repro now. Thanks!

[2021-06-10 14:06] jsquire commented on #21772
Hi @OmerNassie.   For new development, we would recommend using the `Azure.Messaging.ServiceBus` package and the `Azure.[[ AREA ]].[[ SERVICE ]]` packages for other services.

For a scenario like you describe with an existing investment in the `Microsoft.Azure.ServiceBus` package, there's no risk of abandonment or other forcing function that would require an immediate change.  The `Microsoft.Azure

[2021-06-10 14:10] OmerNassie commented on #21772
Thank you for the quick and informative reply! You helped me a lot

[2021-06-10 14:10] #21772 closed

[2021-06-10 14:35] christothes commented on #21458
I have a fix, but here is a workaround in the meantime. The issue only exists when the TableClient is created with the connectionString constructor. Here is how you can take a connection string and turn it into a TableSharedKeyCredential so that the other ctor can be used until a fix is available:

[code]

[2021-06-10 15:21] christothes commented on #21453
But that is strange because the principal is global administrator of the tenant and it should have right to do basically everything (if my understanding is correct). Why do I have to assign specific role?

In my experience, the explicit resource role or permission assignment is always necessary.

It sounds like your issue is resolved, so I'll close this out. Please re-open if you still feel this i

[2021-06-10 15:21] #21453 closed

[2021-06-10 15:44] tigertechdev opened #21774 "[QUERY] How to check if blob versioning is enabled for a storage account?"
**Query/Question**
We've been using Azure.Storage.Blobs to manage customers' data using connection string with account name and key.
Now we need to know if blob versioning is enabled. We've looked at the following options:

* BlobServiceClient.GetProperties() - unfortunately it has information about soft delete but not versioning.
* StorageManagementClient.StorageAccounts.GetProperties (from Micro

[2021-06-10 15:54] hitochan777 commented on #21453
I see. Thank you for your help!

[2021-06-10 16:01] #21458 closed

[2021-06-10 16:35] markmcgookin opened #21776 "[QUERY] Using DataProtection ProtectKeysWithAzureKeyVault with key directly or other credentials"
We have three AKS clusters (That I really don't want to have to rebuild) all of them have managed identity enabled, but not pod identity.

We have a number of web apps using the new data protection libraries

[code]

We use this for all our data encryption. But now we have background workers running in Azure Kubernetes Service (AKS) and we need to be able to decrypt the same data. However, using t

[2021-06-10 16:57] j055 commented on #18381
Some `UploadAsync` / `Upload` method overloads perform silent overwrite and some throw `RequestFailedException: The specified blob already exists` exception.

e.g.

`await blobClient.UploadAsync(stream);` throws `RequestFailedException`

`await blobClient.UploadAsync(stream, httpHeaders: httpHeaders);` silently overwrites existing blob

Worse still, if you want to use `httpHeaders` and receive `Bl

[2021-06-10 17:07] annelo-msft commented on #20531
Released 06/08

[2021-06-10 17:07] #20531 closed

[2021-06-10 17:18] 1RedOne opened #21780 "[QUERY] - For greenfield projects, which should Package should I use?"
**Query/Question**
I see a lot of overlap of capability between

* Azure .NET SDK
* Azure Fluent .NET SDK

For greenfield projects is there any guidance on which one I should use?  Migrating a legacy code base over and I'm seeing in some places we used `"Microsoft.Azure.Management.Fluent` but in others we used `Microsoft.Azure.Management.ResourceManager` to do largely the same thing.

Which one _s

[2021-06-10 17:33] #13029 closed

[2021-06-10 17:45] dpwatrous commented on #21690
This makes sense to me - I'll follow up with the team and see if we can add it to the upcoming SDK release (or a subsequent minor version if not).

[2021-06-10 17:50] maririos opened #21782 "Enable AAD tests and target westus2"

[2021-06-10 17:58] jsquire commented on #21780
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-10 17:59] jsquire commented on #21776
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-10 18:24] heaths opened #21785 "Key Vault for .NET (July 2021)"

[2021-06-10 18:27] pakrym commented on #21776
I'm slightly confused. I think most of your questions are about `.ProtectKeysWithAzureKeyVault(uri, new Azure.Identity.DefaultAzureCredential());` but the exception you've pasted is coming from `PersistKeysToAzureBlobStorage` I *think* it's complaining about accountName not being part of the connection string.

[2021-06-10 18:33] 1RedOne opened #21786 "[FEATURE REQ] - Ability to do a WhatIF deployment in the Fluent SDK?"
Hi, we are looking to use the Azure.Management.Fluent SDK and wondered if there is a supported method to do a WhatIf deployment using IAzure.   I know that WhatIf deployments only became GA back in December, so just checking to see if that's on the road map!

What library or service is this request related to? [Azure.Deployments]

**Is your feature request related to a problem? Please describe.**

[2021-06-10 20:07] markmcgookin commented on #21776
What you failed to take into account is... that I am an idiot who didn't read the stack trace properly.

[2021-06-10 20:53] amnguye commented on #20931
Sorry for the delay.

Also apologies if I'm repeating some of what I striked out before, but looks like when we go to do the `RetriableStream` it does at least 2 requests, the `Put Block` and `Put Block List`. As for the `MemoryStream` it goes and only does one `Put Blob`, that's why one stream is getting different results than the other.

The reason why the `RetriableStream` is not just only send

[2021-06-10 21:27] amnguye commented on #21525
1. You should be providing Permissions in your SAS token, you should use the constructor that requires parameters for a better idea on what a SAS requires. e.g.
[code]

2. Which API are you calling with the SAS token you generated? Please provide a code snippet with that as well.

3. Just to comment on the blob name you have in the title, those slashes would make the storage think that there's vir

[2021-06-10 21:28] jaylabell commented on #16122
Coming back as a New issue in Compute Review. Let's make sure there is a resolve.

@audunn -  Do you mind validating that this issue was fixed before we close it out?

[2021-06-10 21:37] jsquire commented on #21786
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-10 21:40] maririos opened #21795 "DetectLanguages returns 404 Resource not found in v3.1"

[2021-06-10 21:42] maririos opened #21796 "HealthcareEntityCategories are in uppercase in swagger and service returns Pascal case"
Input: "Baby not likely to have Meningitis. in case of fever in the mother, consider Penicillin for the baby too.",

Output:
"jobId": "28fe5c99-7cc7-4734-907b-285272bdab23",
    "lastUpdateDateTime": "2021-06-10T20:16:41Z",
    "createdDateTime": "2021-06-10T20:16:30Z",
    "expirationDateTime": "2021-06-11T20:16:30Z",
    "status": "succeeded",
    "errors": [],
    "results": {
        "document

[2021-06-10 21:44] maririos opened #21797 "entityLinkingTasks doesn't return TaskName in 3.1 which is required"
Input: A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsofts

Output:
{
    "jobId": "a6ccc008-5372-4d03-90f5-f7524fef85ca",
    "lastUpdateDateTime": "2021-06-10T21:16:57Z",
    "createdDateTime": "2021-06-10T21:16:43Z",
    "expirationDateTime": "2021-06-11T21:16:43Z",
    "status": "succeeded",
    "errors": [],
    "display

[2021-06-10 21:44] maririos opened #21798 "entityLinkingTasks doesn't return TaskName in 3.1 which is required"
Input: A developer with SSN 859-98-0987 whose phone number is 800-102-1100 is building tools with our APIs. They work at Microsofts

Output:
{
    "jobId": "a6ccc008-5372-4d03-90f5-f7524fef85ca",
    "lastUpdateDateTime": "2021-06-10T21:16:57Z",
    "createdDateTime": "2021-06-10T21:16:43Z",
    "expirationDateTime": "2021-06-11T21:16:43Z",
    "status": "succeeded",
    "errors": [],
    "display

[2021-06-10 21:46] maririos opened #21799 "Actions loggingOptOut is a string instead as bool as specified in the swagger in 3.1"
Input:
{
    "tasks": {
        "keyPhraseExtractionTasks": [
            {
                "parameters": {
                    "model-version": "latest",
                    "loggingOptOut": false
                }
            }
        ]
    },
    "analysisInput": {
        "documents": [
            {
                "id": "1",
                "text": "Microsoft was founded by Bill Gates and P

[2021-06-10 21:46] heaths opened #21800 "App Configuration, Key Vault sample for efficiently configuring applications with secrets"
We need a sample that shows how to set up an application e.g. ASP.NET and efficiently enumerates configuration settings. Enumerating secrets in Key Vault is not an efficient strategy given service limits, but enumerating App Configuration variables - some of which may be secrets - is.

[2021-06-10 21:47] maririos opened #21801 "sentimentAnalysisTasks opinion mining is string even though swagger specifies boolean in 3.1"
Input:
{
    "tasks": {
        "sentimentAnalysisTasks": [
            {
                "parameters": {
                    "opinionMining": true
                }
            }
        ]
    },
    "analysisInput": {
        "documents": [
            {
                "id": "1",
                "text": "The park was clean and pretty. The bathrooms and restaurant were not clean.",

[2021-06-10 21:48] heaths commented on #21800
I've got a start on this, but because of limitations with ARM - specifically generating a system identity, assigning it permission to a Key Vault, then using a CRM to encrypt the service that defined the system identity - I don't think I'm going to be able to write an ARM template. Instead, setting up the service using the Azure CLI in whole or in part (perhaps using 2 ARM templates) may be necess

[2021-06-10 21:54] maririos commented on #20984
This has been fixed

[2021-06-10 21:54] #20984 closed

[2021-06-10 21:55] maririos opened #21802 "Pii task with PHI doesn't return taskName"
Input:
{
    "analysisInput": {
        "documents": [
            {
                "id": "1",
                "text": "A patient with medical id 12345678 whose phone number is 800-102-1100 is going under heart surgery",
                "language": "en"
            }
        ]
    },
    "tasks": {
        "entityRecognitionPiiTasks": [
            {
                "parameters": {

[2021-06-10 22:17] maririos commented on #21796
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/10123708

[2021-06-10 22:17] maririos commented on #21798
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/10123722

[2021-06-10 22:17] maririos commented on #21801
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/10123726

[2021-06-10 22:18] maririos commented on #21799
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/10123735

[2021-06-10 22:18] maririos commented on #21802
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/10123739

[2021-06-10 22:42] maririos opened #21804 "Expose and test `TaskName` from v3.1"

[2021-06-10 22:55] xperiandri commented on #20934
Do you mean that it works like a stack? After reaching 500 versions each new version will push put the oldest version?

[2021-06-10 23:30] #21084 closed

[2021-06-10 23:38] jlichwa commented on #20934
@xperiandri it's not a stack, you will be able to see and access all versions, it's just after 500 versions the backup operation will time out.

[2021-06-10 23:46] xperiandri commented on #20934
So if I don't need a backup don't I need to worry about that?

[2021-06-10 23:53] jlichwa commented on #20934
You may notice degradation of performance over time and we don't recommend it. All operations besides backup will continue work though. Is there particular scenario that you need all versions?

[2021-06-10 23:54] xperiandri commented on #20934
I store refresh token to another system per user as Key Vault secret

[2021-06-10 23:56] xperiandri commented on #20934
So I need to create a Key Vault without a restore (like recycler bin) feature. Then I can delete a whole secret if I have more than 20 versions and create a new one in place?

[2021-06-11 00:00] jlichwa commented on #20934
The soft-delete (recycler bin) soon will enforced, so that will not work longer term, you will need to delete and purge and create new one.
Deleting old versions is valid feature request, we will move that request to service side (rest api).

[2021-06-11 01:04] #21583 closed

[2021-06-11 04:45] JoshLove-msft commented on #21723
Hi @yunair,
Can you include more information on what specific unit tests you are trying to run?

[2021-06-11 05:39] JoshLove-msft commented on #21512
Hi @mauve,
Have you had a chance to test this out again?

[2021-06-11 07:20] kristofdegrave commented on #21458
@christothes This solves the issue for me.

To awnser your question, for me it wasn't in an Azure Function context. I was using it to write my workflow data to tablestorage.

[2021-06-11 08:01] #21196 closed

[2021-06-11 08:57] v-yilinhu opened #21814 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=942792&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=942674&view=results

[2021-06-11 08:57] v-yilinhu opened #21815 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=942792&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=942874&view=results

[2021-06-11 08:57] v-yilinhu opened #21816 "[Text Analytics] test failing in nightly runs"
Text Analytics nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=942874&view=results

[2021-06-11 09:11] markmcgookin commented on #21776
Apologies, it was a long night last night, I copied and pasted the wrong stack trace. We currently get a log filled with warnings and then a final error.

[code]

[2021-06-11 09:20] audunn commented on #16122
@jaylabell Yes, this issue has been fixed.

[2021-06-11 12:50] onlywithlad commented on #21185
HI Team,

Any update on this.

[2021-06-11 12:56] #17839 closed

[2021-06-11 12:56] #16627 closed

[2021-06-11 13:04] Mortana89 commented on #9416
We upgraded to the latest Azure SDK and this still happens (Azure.Messaging.ServiceBus)

[2021-06-11 14:41] NeilMacMullen commented on #14691
Not sure why it's closed - just ran into this myself.  It's pretty reproducible, nothing to do with load though might be a race condition when multiple requests are being made in parallel.

[2021-06-11 15:05] pakrym commented on #21776
That looks like https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/issues/56 which was fixed a while ago. Can you try updating https://www.nuget.org/packages/Azure.Identity to the latest stable?

[2021-06-11 16:23] KrzysztofCwalina commented on #17254
The problem is that a huge majority (99.9%+) of Response<T> objects do not contain any resources that need to be disposed. If we made Response<T> IDisposable, it would push users to dispose these instances, for no good reason. We would prefer to solve the problem highlighted in this issue with analyzers that alert the users to these few cases where Response<T> streams need to be disposed. I think

[2021-06-11 16:24] #20808 closed

[2021-06-11 16:31] KrzysztofCwalina commented on #14940
+ @ellismg

I think it would be great to have a plan for how models would integrate with protocol method APIs. Today, to pass a model to a protocol methods, we are telling users to use RequestContent.Create(object). This is an OK solution, but an interface like IUtf8JsonSerializable would be more efficient as the implementation would use a writes and not a serializer. Similarly on the output side,

[2021-06-11 16:35] annelo-msft opened #21820 "[ACR] Link to .NET 6 Parallelization from Delete Sample"
We will leave the ACR delete sample as a sequential delete, but provide links to information on how to parallelize using the new Parallel.ForEachAsync capability in .NET 6.

[2021-06-11 16:35] annelo-msft commented on #21820
Replaces https://github.com/Azure/azure-sdk-for-net/issues/21497

[2021-06-11 16:36] KrzysztofCwalina commented on #14849
These are good suggestions. @AlexGhiondea, we should consider them for the next MQ.

[2021-06-11 16:39] KrzysztofCwalina commented on #7292
This is a feature request on the Xamarin team. I communicated the request to them.

[2021-06-11 16:39] #7292 closed

[2021-06-11 16:59] pakrym commented on #14940
We already have a way to opt into generating a converter for each model that calls into `IUtf8JsonSerializable` implementation.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventgrid/Azure.Messaging.EventGrid/src/Generated/Models/AcsChatMessageReceivedEventData.Serialization.cs#L15

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventgrid/Azure.Messaging.EventGrid/src/Ge

[2021-06-11 18:03] issacnitin commented on #21525
@amnguye Thanks for the response!
1. Yes we provide permissions, we're able to download the generated sas token along with blob URL if blob name doesn't have special characters
2. I tried directly downloading the blob by pointing browser to the generated SAS url
3. Yes I understand, I thought that was the issue as well! I tried converting %2F to / in filename in URL, that didn't work either with t

[2021-06-11 18:04] issacnitin commented on #21525
We need to allow as many characters for the blob Url as possible. forward slash in this case represents a date-time, which is a potential use case for our service

[2021-06-11 19:29] Mohit-Chakraborty commented on #21090
@njourdain, can you explain a bit more about your scenario. The type of the document needs to match with the index schema. Is there a relationship between the different types of documents being uploaded?
Also, take a look at [`SearchDocument`](https://docs.microsoft.com/dotnet/api/azure.search.documents.models.searchdocument?view=azure-dotnet). It allows for untyped free-form document representati

[2021-06-11 20:00] Mohit-Chakraborty commented on #18878
Like records with empty date tame values?

I would think that is the issue.

But then you say,

So, the same call to the service against the same dataset sometimes succeeds?

It would really help if you can reproduce the issue against a small index and dataset. That way we can understand the root cause.

[2021-06-11 20:25] njourdain commented on #21090
Sure. Let's say I have a people index, that can be represented with the following class :

[code]

So the schema would simply be four fields of type edm.string. In my real case, the schema is much more complex, with around 50 fields.

We have a CQRS architecture where the front-end application will send a command to update a specific section of the person. So we would have the PersonContactInfo pa

[2021-06-11 20:29] christothes commented on #21075
Could you run the following PowerShell command? It will reveal which process is listening on the ip address

[code]

[2021-06-11 20:36] christothes commented on #21706
Hi @AndyMcKenna From what I can tell from the IIS documentation, those variables should be passed to the worker process, which would make them available to `Azure.Identity`'s call to `Environment.GetEnvironmentVariable`

However, looking at your screen shot, I noticed that one of the variables has the wrong casing for the first letter. Does it work if you change that to "AZURE_TENANT_ID"?

![image

[2021-06-11 20:59] #21079 closed

[2021-06-11 21:02] JoshLove-msft commented on #21753
/cc @kasobol-msft @karshinlin

[2021-06-11 22:47] anpaz opened #21830 "[BUG] InteractiveBrowserCredential fails when using a personal/MSA account without passing tenant_id"
**Describe the bug**

When using InteractiveBrowserCredential with a personal/MSA account without passing the user's TenantId, the interactive authentication fails with message:

**To Reproduce**

Steps to reproduce the behavior:

1. Use the `InteractiveBrowserCredential` with any Azure SDK client that accepts it, without passing the tenant_id.
2. Attempt to login using a personal/MSA account
  Wh

[2021-06-12 02:53] Frankd4 commented on #12145
Any update on this ?

Microsoft.Azure.Services.AppAuthentication is no longer recommended to use with new Azure SDK. It is replaced with new Azure Identity client library available for .NET, Java, TypeScript and Python and should be used for all new development. Information about how to migrate to Azure Identitycan be found here: AppAuthentication to Azure.Identity Migration Guidance.

[2021-06-12 05:11] JoshLove-msft commented on #21127
I believe this behavior is not specific to any particular SDK but is at the service level. Also, this doesn't seem specific to Peek but occurs also with Receive. Note that if you set an explicit TimeToLive on the message, the ExpiresAt property is set as expected.

I will have to follow up with the service team to find out more about why this is happening.

[2021-06-12 18:07] shlomiassaf opened #21838 "[FEATURE REQ] - Service bus processing handler and error handler under the same logical thread"
**Service Bus**

**Is your feature request related to a problem? Please describe.**
When registering to the processor via `ProcessMessageAsync` and `ProcessErrorAsync` it appears that the library wrap the invocation of `ProcessMessageAsync` in a logical thread context which does not follow to fire `ProcessErrorAsync` when error occur. Instead the library internally catch and will move on to fire `

[2021-06-12 18:48] AndyMcKenna commented on #21706
I tried fixing the lowercase "a" and that didn't work and then I noticed it's spelled TEN**T**ANT there  🤦‍♂️.  Corrected that, reset the app pool and then everything starts up successfully.

[2021-06-12 18:48] #21706 closed

[2021-06-13 21:49] amishra-dev commented on #21774
@tigertechdev is the ask to add support to Azure.Storage.Blobs sdk's BlobServiceClient.GetProperties API to return versioning information?

[2021-06-14 05:16] SeanFeldman commented on #20931
Larger than what, @amnguye?

[2021-06-14 07:11] JandosHk commented on #21075
@christothes, somehow the error on my PC disappeared, but my coworker still facing the issue. On her computer, when she executed the command, the following error was thrown:

value of the property and retry.

Then, she started our web app in debug mode (from VS2019 pressed F5), and executed the command again. This time she got the following:

Do you see something wrong in here?

[2021-06-14 07:20] mauve commented on #21512
No sorry, haven't had the time. Also the body of the function is a bit larger and contains most of our real code :) any chance I can share it via a support ticket instead?

[2021-06-14 07:31] JandosHk commented on #21075
@christothes, BTW, in my PC, even after I started my web app, the command throws the error given above.

[2021-06-14 09:15] Valdeminas commented on #18878
Hi.

Yeah. So we notice from the logs, that one user gets this error.
Once we retry the query, the user was using, the error no longer appears.

However, these are not exactly the same datasets.
We have an indexer running on our azure account, so the index is constantly being updated.

However, since you think entries with empty DateTime values might be at fault here, maybe there are states in whi

[2021-06-14 09:30] malviyanshiv opened #21843 "How can I create a cosmosDB database account with Gremlin APIs enabled"
**Query/Question**
How can we help?
I was trying to create a database account with Gremlin APIs enabled using the **StartCreateOrUpdateAsync** function of DatabaseAccountsOperations. These are part of **Azure.ResourceManager.CosmosDB**. After going through some examples I got to know the I need to set the **Capabilities** parameter of **DatabaseAccountCreateUpdateParameters** something like

[code

[2021-06-14 09:32] tigertechdev commented on #21774
@amishra-dev It already returns soft delete information. It would be great if it can return information about versioning too.
If that's not possible, I'd like to know how to get it with account name and key.

[2021-06-14 09:50] issacnitin commented on #21525
Hi @amnguye I saw you renamed the heading, the SAS token does work when generated from portal when filename has /. When we use GetBlobSasReadUri  from .net core SDK, it doesn't work

[2021-06-14 10:15] NouraElarabi commented on #9294
is there a update on this? downgrading Microsoft.Azure.ServiceBus and Microsoft.Azure.Amqp does not seem to work

[2021-06-14 10:28] sarbohan opened #21844 "'List supported node agent SKUs' operation"
What is "'List supported node agent SKUs' operation" ? Shouldn't it be a link? If not, there is absolutely missing information about how to get the value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c2622a3-e643-ba97-cdaf-018dc70cf147
* Version Independent ID: 217b0272-aece-6a64-9268-a1e7817600fa
* Content: [Virtua

[2021-06-14 10:30] oscarjaergren commented on #9294
@NouraElarabi This will get automatically fixed in MAUI as the error is due to the fact the required nuget does not exist in .net standard.

[2021-06-14 13:15] jsquire commented on #21838
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-14 13:16] jsquire commented on #21843
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-14 13:18] jsquire commented on #21844
@allenjzhang:  This looks to be sourced from the service swagger, so I've routed it with that understanding.   If I'm mistaken, please feel free to adjust as needed.

[2021-06-14 13:19] jsquire commented on #21844
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-14 14:20] christothes commented on #21075
I'm not sure why iisexpress would be using 169.254.169.254, but this is definitely the source of the problem. As a workaround for local development, you could add the following `DefaultAzureCredentialOptions`

[code]

[2021-06-14 15:48] Mohit-Chakraborty commented on #18878
Thanks. Interested to hear what you find.

[2021-06-14 16:04] christothes commented on #21830
Hi @anpaz This is a known issue related to how personal/MSA accounts work. By default, the tenantId that MSAL will try when no hint is given results in this error. I believe the CLI actually goes out and pre-emptively fetches a token for each of your subscriptions so that they are pre-cached.

That said, we are working on a feature now that will enable tenant discovery based on challenges retrieve

[2021-06-14 16:46] amnguye commented on #21525
Regarding 2, you did not provide the API name you are calling along with the code snippet, please reply with that information. Without out I cannot further reproduce your issue and help you. Also please send the code snippet with how you are sending the permissions as well that you referred to in 1, because I did not see that in your original code snippet.

I tried to reproduce your issue with the

[2021-06-14 16:53] amnguye commented on #20931
Sorry I should have been more specific. In order to do a one shot upload the InitialTransferSize and MaximumTransferSize should be equal to or more than the size of the blob. Or else the blob will be uploaded in multiple blocks and this error will occur.

[2021-06-14 16:56] christothes commented on #21388
I noticed these additional docs issues recently
- Update [this DefaultAzureCredential](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet) doc to include PowerShellCredential
- VSCode is missing from the diagram both above and in the [main readme](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme)

@g2vinay We should validat

[2021-06-14 17:04] pakrym commented on #21228
https://dev.azure.com/azure-sdk/public/_build/results?buildId=945668&view=ms.vss-test-web.build-test-results-tab&runId=20253758&resultId=112091&paneView=debug

[code]

[2021-06-14 17:12] #19529 closed

[2021-06-14 17:12] #18982 closed

[2021-06-14 17:24] kasobol-msft opened #21850 "[FEATURE REQ] Improve Client Creation logging in Microsoft.Extensions.Azure."
**Library or service name.**
Microsoft.Extensions.Azure

**Is your feature request related to a problem? Please describe.**

When `Microsoft.Extensions.Azure.ClientFactory.CreateClient` can't find client ctor it should log more information.
I.e. which params has been provided and what was the client type, which configuration section was that.

Example failure that happened in https://github.com/Az

[2021-06-14 17:26] kasobol-msft commented on #21753
I was able to reproduce the issue with 5.0.0-beta.3 version (as posted). The stacktrace isn't related to `StorageAccountCS` connection but rather to `AzureWebJobsStorage`. It seems that it can't derive right configuration from `AzureWebJobsStorage__accountName`.

The relevant piece of logic seems to be [here](https://github.com/Azure/azure-sdk-for-net/blob/Microsoft.Azure.WebJobs.Extensions.Storag

[2021-06-14 17:57] JoshLove-msft commented on #21512
Sure, you can submit it via support ticket.

[2021-06-14 18:32] kasobol-msft commented on #21753
@sescandell Updating extension to `5.0.0-beta.4` seems to be solving this problem. (Even without updating configs...)

Please keep in mind that BlobTrigger depends on queues therefore recommended config is:
[code]
OR
[code]

Please let us know if this resolves the issue.

[2021-06-14 18:39] nhart12 commented on #19167
Agreed, to be able use/mount IDE azure credentials when local testing would be awesome. Azure CLI bloats images by almost a gig

[2021-06-14 18:44] JoshLove-msft commented on #5189
We fixed this by converting the JSON objects into strings and storing in the existing properties. We still want to add new Dictionary properties that would give you the JSON object. Reopening to track that work.

[2021-06-14 21:04] brettsam opened #27971 "Are there additional diagnostics for dead-lettering that we can log?"
We occasionally get customer-reported incidents that indicate that a message has been dead-lettered, yet we show no indication that the message was handled by Functions. We should work with the SB SDK team to see if there are additional diagnostic events we can listen for and log so we can better track these scenarios down.

[2021-06-14 21:21] ChadBurggraf opened #21854 "[BUG] WebSiteManagementClient.Certificates.CreateOrUpdateAsync fails with InternalServerError"
**Describe the bug**
`WebSiteManagementClient.Certificates.CreateOrUpdateAsync` fails with `Microsoft.Azure.Management.WebSites.Models.DefaultErrorResponseException : Operation returned an invalid status code 'InternalServerError'`.

**Expected behavior**
The operation should succeed or fail with a 4xx status code indicating what the client needs to correct.

**Actual behavior (include Exception o

[2021-06-14 21:23] jsquire commented on #21854
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-14 22:21] JoshLove-msft commented on #21838
Hi @shlomiassaf,
If I'm understanding this correctly, you are wondering why the exception handler is not being triggered as a descendant of the message handler invocation. The reason for this is that the exception handler is not triggered _only_ as a result of errors from the message handler. The exception handler can also be triggered due to errors that occur while the processor receives messages

[2021-06-14 22:25] kristapratico opened #21857 "Document Translation renames"
- `DocumentStatusResult.documentId` -> `DocumentStatusResult.Id`
- `TranslationStatusResult.documentId` -> `TranslationStatusResult.Id`
- Remove `DocumentStatusResult.HasCompleted`
- Remove `TranslationStatusResult.HasCompleted`
- `TranslationStatusResult` -> `TranslationStatus`
- `DocumentStatusResult` -> `DocumentStatus`
- `GetDocumentFormats` -> `GetSupportedDocumentFormats`
- `GetGlossaryForma

[2021-06-14 22:48] vhvb1989 opened #21860 "[KeyVault] sample 6 - wrap - unwrap creates an RSA key which is never used"
See: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Keys/tests/samples/Sample6_WrapUnwrapAsync.cs#L46

Wrap / unWrap uses `AesManaged.Create().Key;`.

Update the sample to remove the created RSA key, or use it to wrap and remove the AesManaged().Key to generate a key

[2021-06-14 22:49] t-dalderman opened #21861 "Typo in Query Documents Page"
In the example the parameter is passed in as "tests", it should be "test". There is no "tests" in scope of the tutorial/example.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daeba9b9-e030-811f-7864-f498d9ec9f08
* Version Independent ID: e8b56ad8-9021-3028-bc10-c8a8c7779b0f
* Content: [Container

[2021-06-14 22:52] vhvb1989 commented on #21860
nv

[2021-06-14 22:52] #21860 closed

[2021-06-15 00:03] JandosHk commented on #21075
@chamons, thank you for your time. Let's close this issue.

[2021-06-15 00:03] #21075 closed

[2021-06-15 03:57] JoshLove-msft commented on #21689
I talked this over with the team and since the library is already GA, unfortunately we can't change the behavior to return null when the property is not set. I think the best path forward would be to update the consumers to filter based on an empty string.

[2021-06-15 05:16] #21640 closed

[2021-06-15 05:48] gkarnik-gl opened #21866 "Need clarification on the scope"
The page mentions: "Enables authentication to Azure Active Directory using a client secret that was generated for an App Registration." Is the mention of "client secret generated for an App Registration" in Azure AD a bit misleading since this also supports service principal rbac credential as mentioned in https://docs.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme, section: Authent

[2021-06-15 05:55] RetYn opened #21867 "[QUERY] Any recommend way to handle Eventhub Checkpoint file change during migration to sdk v5？"
**Query/Question**
Eventhub Checkpoint saved style changes during migration to sdk v5. Checkpoint is stored in metadata in new SDK while the old one is stored just in file.
Does any code tools or client option I can use to help the migration process ?
Or I just need to create the checkpoint file manually myself if I do not want to redo the message?
https://github.com/Azure/azure-sdk-for-net/issues

[2021-06-15 06:57] petrformanek commented on #21689
Ok, thanks for your information.

[2021-06-15 08:00] stevendarby opened #21868 "Does DataFactoryManagementClient use a shared HttpClient?"
Does DataFactoryManagementClient use a shared HttpClient?

[This article](https://devblogs.microsoft.com/azure-sdk/lifetime-management-and-thread-safety-guarantees-of-azure-sdk-net-clients/#clients-are-not-disposable-shared-httpclient-as-default) suggests it does ("All Azure SDK clients, by default, use a single shared HttpClient instance"), however, looking at the source code it appears to instan

[2021-06-15 08:51] vbystricky21 opened #21869 "[BUG] Stopping ServiceBusProcessor causes some messages to be left locked"
**Describe the bug**
We use ServiceBusProcessor in PeekLock mode. Once processor is stopped/disposed it lefts often some messages locked in the queue. It seems caused by TaskCanceledException thrown in AmqpReceiver.ReceiveMessagesAsyncInternal. That gives us no chance to process already received message, but it is not abandoned either.
Changes introduced in Azure.Messaging.ServiceBus 7.2.0 beta by

[2021-06-15 11:34] issacnitin commented on #21525
Hi @amnguye We're internal Microsoft team, would it be possible to schedule a call to go over the issue? I feel it'd help us connect better and resolve the issue faster without lots of to-and-fro. Could you share your corp id? Alternatively you can ping me on teams, my corp id is nijoy (Will be redacted later)

[2021-06-15 11:36] issacnitin commented on #21525
Oops sorry, I should've mentioned GenerateSasUri in the header instead

[2021-06-15 12:46] jsquire commented on #21861
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-15 12:47] jsquire commented on #21866
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-15 12:49] jsquire commented on #21868
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-06-15 12:50] jsquire commented on #21869
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-15 13:03] jsquire commented on #21867
Hi @RetYn.   Thank you for reaching out and we regret that you're experiencing difficulties.  You'll need to perform the migration of checkpoints that you wish to preserve before running one of the `Azure.Messaging.EventHubs` event processors, unless you're using the [beta extension](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.EventHubs/5.0.0-beta.6) for Azure Functions, whic

[2021-06-15 13:43] aaronsarkissian opened #21871 "[Azure.Identity] Suddenly stopped working and can't connect to Azure Key-Vault Secrets"
**Describe the bug**
We have deployed our .Net microservices on AKS where the code should go get some credentials from Key-Vault Secrets.

So we have deployed successfully it worked about a week and now we are facing this issue that when a service restarts (doesn't need to be a new deployment, the same pod) it fails to connect to Key-Vault throwing the following error:

P.S. We didn't change any c

[2021-06-15 13:44] RetYn commented on #21867
@jsquire  Got it. And we also have situations in upgrading the extension you mentioned for Azure Function.
Do you mean if I use the beta extension, it will handle the legacy format for me?

[2021-06-15 13:47] stevendarby commented on #21868
Adding some more info / findings in case it's useful.

I confirmed with netstat that creating DataFactoryManagementClients without passing in my own HttpClient led to a lot of connections. e.g. I used one client to make 100 concurrent requests and this led to 100 connections: OK. Shortly after, repeated the requests with a new client: this opened another 100 connections, leading to 200 in total. R

[2021-06-15 13:53] christothes commented on #21866
Thanks @gkarnik-gl - Do you have a suggestion for how it could be re-worded to be more clear?

[2021-06-15 13:58] gkarnik-gl commented on #21866
@christothes - thanks for your reply! I was wondering if you could also mention that it supports service principal rbac?

[2021-06-15 13:58] jsquire commented on #21867
Correct;  Upgrading the extension package to the beta upgrades the Event Hubs SDK used by Functions to `Azure.Messaging.EventHubs` and has logic that will upgrade legacy checkpoints to the new format on the fly.   The major consideration to note is that this is a forward-only operation.   Should you decide to downgrade the extensions package,  you will not see the new checkpoints and your Function

[2021-06-15 14:02] RetYn commented on #21867
Thank you, addition question, do any planned time that the extension will be stable?
You can closed the issue.

[2021-06-15 14:05] jsquire commented on #21867
The current plan, though not final and subject to change, is that we'd like to GA the extension early next month.   It is still undergoing some final testing and approvals, however, which may potentially impact that plan.

[2021-06-15 14:06] jsquire commented on #21867
I'll go ahead and do that.    I'll apply the addressed tag again so that you've got the `\unresolved` command available should something come up and you wish to reopen.

[2021-06-15 14:45] jsquire commented on #21871
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-06-15 15:03] christothes commented on #21871
Hi @aaronsarkissian - From your log output, the error seems to be:

Is it possible that the service's user assigned identity configuration has changed?

[2021-06-15 15:16] rorococo commented on #21518
The application exits without error.
There are multiple topics, max will be about 10. Some topics may have messages on the subscriptions. Each topic will have one or two subscriptions.

The delete method is called in a Dispose method at the end of all tests being completed. So there may be multiple instances of my bus implementation at this time. Meaning there could be multiple processors running

[2021-06-15 16:00] #20815 closed

[2021-06-15 16:00] #20618 closed

[2021-06-15 16:33] JacksonHong opened #21874 "DataContractBinarySerializer equivalent in Azure.Messaging.ServiceBus"
When we previously migrated from WindowsAzure.ServiceBus to Microsoft.Azure.ServiceBus we had to use DataContractBinarySerializer provided in Microsoft.Azure.ServiceBus.InteropExtensions to make sure that messages are backward compatible during rollout.

It appears that there is no such serializer in Azure.Messaging.ServiceBus 7.1.2. I would like to confirm that just to make sure I did not miss an

[2021-06-15 16:53] seanmcc-msft opened #21875 "[Storage] Prepare Storage for STG 78 GA release"

[2021-06-15 17:05] Mohit-Chakraborty commented on #19148
The above failures were caused in `ExtractFailureContent()` which had an assertion to fail on nested errors.
I see that the code has been refactored and the assertion is no longer there.
So, we are not seeing failures due to this issue. There is a separate issue about handling nested errors.

[2021-06-15 17:05] #19148 closed

[2021-06-15 17:34] ramya-rao-a commented on #21316
Samples can be found in https://github.com/Azure/azure-event-hubs/tree/master/samples/DotNet/Microsoft.Azure.EventHubs

[2021-06-15 17:34] #21316 closed

[2021-06-15 17:54] JoshLove-msft commented on #21869
Hi @vbystricky21,
Any chance you can include the code snippet you are using? Calling StopProcessingAsync would actually just stop delivering messages to your message handler, but would not close the underlying link. Calling CloseAsync/DisposeAsync will actually close the underlying links which should cause the message to be immediately available for receiving by another receiver/processor.

[2021-06-15 17:55] #21684 closed

[2021-06-15 20:59] JoshLove-msft commented on #21874
Hi @JacksonHong,
There is no equivalent to DataContractBinarySerializer in Azure.Messaging.ServiceBus. Please let us know if we can help with anything else.

[2021-06-15 21:04] JoshLove-msft commented on #21127
The service team confirmed that this is the expected behavior. The TTL on the message does not take into account the entity-level TTL.

[2021-06-15 21:22] anthonychu opened #21884 "[FEATURE REQ] Azure Functions Service Bus output - support setting message metadata"
**Library or service name.**
Microsoft.Azure.WebJobs.Extensions.ServiceBus

**Is your feature request related to a problem? Please describe.**

For out of process languages, including the .NET isolated worker, it's not possible to set metadata on output messages such as correlation ID. Provide a way to optionally set [these properties](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.se

[2021-06-15 21:24] chidozieononiwu opened #21885 "[BUG]Fix broken link in Readme"
Fix broken link in https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/attestation/Azure.Security.Attestation/README.md
See https://dev.azure.com/azure-sdk/internal/_build/results?buildId=947218&view=logs&j=10327055-d4d6-50a6-a312-3d2cd4bd9cb9&t=ad46a22d-116f-52e4-392d-de8aa8f403d8

##[warning][404] broken link https://docs.microsoft.com/dotnet/api/azure.security.attestation.policyresult
##

[2021-06-15 21:28] Dave-Kiwi commented on #21884
Should the library you quote be Microsoft.Azure.Functions.Worker.Extensions.ServiceBus in the case of the .Net Isolated Worker?

[2021-06-15 21:31] anthonychu opened #21887 "[FEATURE REQ] Allow setting metadata on Storage queue output, such as Visibility Timeout"
**Library or service name.**
Microsoft.Azure.WebJobs.Extensions.Storage.Queue

**Is your feature request related to a problem? Please describe.**

For out of process languages, including the .NET isolated worker, it's not possible to set metadata on output messages such as visibility timeout. Provide a way to optionally set [these properties](https://docs.microsoft.com/en-us/dotnet/api/microsoft.a

[2021-06-15 22:07] JoshLove-msft commented on #21884
I think so. This is being tracked in https://github.com/Azure/azure-functions-dotnet-worker/issues/496

[2021-06-15 22:52] heaths opened #21890 "Training material for Key Vault SDK"
Tracking issue for writing training material for customer support on common Key Vault issues, including authentication, best practices for application configuration (especially when clustered), and more common issues.

[2021-06-15 23:00] ramaganesan-rg commented on #16546
I believe the response provided by our eng team helps with your ask. please feel free to reopen the issue if needed.

[2021-06-15 23:00] #16546 closed

[2021-06-15 23:11] #21874 closed

[2021-06-15 23:19] LittleLittleCloud opened #21891 "Are symbols publish to symweb | MSDL?"
**Query/Question**
Hi Azure SDK team, We are inserting a VS component into VS which has reference to `Azure.Storage.Common` and it fails at symbol check step. This usually indicates that the symbol is missing on symweb, but symbol check task will also fail if the symbol is the portable format.

If it is the first case, is it possible for your team to add symbols to symweb in the near future? This

[2021-06-16 00:12] anthonychu commented on #21884
No. This request is for the WebJobs extension to support metadata properties on output messages; this is language worker agnostic. Once this ability is there, each language can add support in a way that makes sense for their language.

[2021-06-16 00:16] JoshLove-msft commented on #21884
So this is asking for a way to set these properties outside of the strong model type (similar to how you can bind to string versions of the properties for the trigger)?

[2021-06-16 00:33] anthonychu commented on #21884
I think so. This a problem across several bindings and they should probably be addressed in a consistent manner. See also:
* Queues: #21887
* Event Hubs: https://github.com/Azure/azure-functions-python-worker/issues/654

For example, one possible solution would be to add a prop that indicates that the worker is returning a message envelope instead of just the data itself.

[code]

JavaScript:

[co

[2021-06-16 01:03] kinelski commented on #18480
We decided to keep the extra Get to avoid cloning the input model and to populate default properties originally set to null, what could impact Update operations if the same model was used.

[2021-06-16 01:03] #18480 closed

[2021-06-16 01:08] kinelski commented on #16325
We decided to keep the return type as strings. Checked with the service and they don’t intend to change them in the near future. Also, changing it in the swagger would be a breaking change.

[2021-06-16 01:08] #16325 closed

[2021-06-16 01:09] kinelski commented on #15911
`DimensionKey` won't be an `IEquatable` anymore in the new proposed design, so there's no reason to implement `GetHashCode`.

[2021-06-16 01:09] #15911 closed

[2021-06-16 03:13] JialinXin commented on #20854
Fixed with #21900 and will be release with 1.0.0-beta.2 soon.

[2021-06-16 03:32] mauricio-msft opened #21901 "Can't refer to columns by the name that is specified in the header row when using .NET Azure.Storage.Blobs v12.9.0"
**Describe the bug**
I have an CSV file with a header row, and after updating package .NET Azure.Storage.Blobs to latest version (v12.9.0), whether I set true or false to HasHeaders property in InputTextConfiguration, it will be ignored.

So, I can't refer to columns by the name that is specified in the header row without getting an Azure.RequestFailedException

string query = @"SELECT col1 FROM B

[2021-06-16 04:00] #20350 closed

[2021-06-16 04:10] ershadnozari opened #21902 "[QUERY] Proxy authentication with TableClient in the Azure.Data.Tables package"
Hello,

How do I set proxy credentials with the TableClient? I am using Azure.Data.Tables version12.0.1

Code sample is appreciated.

Many thanks.
Ershad

[2021-06-16 05:14] jongio opened #21903 "Allow developer to override QueueOptions.MaxPollingInterval during development"
**Library or service name.**
QueueOptions has MaxPollingInterval. It is hardcoded to 2 seconds in dev mode here: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/StorageQueuesWebJobsBuilderExtensions.cs#L60

The setting in host.json is ignored.

[code]

The local dev experience needs to be able to override this value.

**Is yo

[2021-06-16 10:28] aaronsarkissian commented on #21871
Hmm, we used system-managed identity. So the AKS Resource had access to KV.

And here are the setup that we had and have currently.

<img width="722" alt="Screen Shot 2021-06-16 at 2 22 41 PM" src="https://user-images.githubusercontent.com/6067357/122203093-bddde780-ceae-11eb-89d8-7079899dd21f.png">

<img width="1348" alt="Screen Shot 2021-06-16 at 2 26 57 PM" src="https://user-images.githubuserco

[2021-06-16 11:08] MehaKaushik commented on #21843
Hey @malviyanshiv Can you please follow the example here: https://github.com/markjbrown/cosmos-management-net/blob/master/cosmos-management-generated/Program.cs
This does what you want to do.

Let me know if this doesn't help.

[2021-06-16 11:16] shawnxzq commented on #21868
@stevendarby It depends on how you create the DataFactoryManagementClient instance, if you don't pass the HttpClient instance in, then it will create one, then each DataFactoryManagementClient instance will has a dedicate HttpClient instance. If you pass your HttpClient instance when creating DataFactoryManagementClient instance, you have the control whether have it disposed together with the Data

[2021-06-16 11:23] tomkerkhove commented on #8561
This is still a pain,any update on this?

[2021-06-16 11:58] malviyanshiv commented on #21843
Thanks @MehaKaushik ,
Can we achieve the same by using [Azure.ResourceManager.CosmosDB](https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Azure.ResourceManager.CosmosDB/1.0.0-preview.1/api/index.html) .
We are already using **Azure.ResourceManager.*** management client libraries for managing other resources. I was taking reference from here: https://github.com/Azure-Samples/cosmos-management-

[2021-06-16 12:41] aaronsarkissian commented on #21871
After so many trials and errors, it seems that I was able to fix the issue by enabling Identity on the "Virtual Machine Scale Set" of AKS and add them to the Access Policy of the KV. `aks-pool1-30278725-vmss` and `aks-agentpool-30278725-vmss` respectively.

I assume that something changed on your back that caused the issue suddenly. And I couldn't find any doc that specifies that in AKS the VMSS s

[2021-06-16 13:10] jsquire commented on #21891
@weshaggard:  This seems like something that may benefit from deeper knowledge of our build pipeline and publishing.   Do you mind offering your thoughts?

[2021-06-16 13:12] jsquire commented on #21902
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-16 13:17] jsquire commented on #21868
@shawnxzq:  Please be advised that my contribution here is simply first triage.   If it isn't apparent if there are customizations in a library that may have influenced core behavior, we'll route to the library owner for a more thorough triage.   Please feel free to re-tag and route if you believe there is another owner better suited to assist.

[2021-06-16 13:22] christothes commented on #21902
Hi @ershadnozari - Please see the following documentation: https://docs.microsoft.com/en-us/dotnet/azure/sdk/azure-sdk-configure-proxy?tabs=cmd

[2021-06-16 13:24] christothes commented on #21871
cc @heaths  in case he has any insight here.

[2021-06-16 13:34] vbystricky21 commented on #21869
Hi @JoshLove-msft  I see your point. We also expected message to be available, once we dispose everything, but our test suggest something else. Simple code snippet to reproduce described issue with Azure.Messaging.ServiceBus7.1.2 :

    private static volatile int _counter = 0;
    static async Task Main(string[] args)
    {
        var connectionString = "";
        var queueName = "";
        //

[2021-06-16 13:51] Identifier opened #21907 "ServiceBusClient.AcceptNextSessionAsync throws exception for topic subscriptions"
https://github.com/Azure/azure-sdk-for-net/blob/725428489b3c3d3b1407358c719d977b082eae30/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs#L393

When having a ServiceBusClient for a subscription **topic**, the EntityPath is a combination like "TopicName/Subscriptions/SubscriptionName".
When someone calls ServiceBusClient.AcceptNextSessionAsync("topicName", "subscriptionName"

[2021-06-16 15:07] jsquire commented on #21869
Hi @vbystricky21.   It doesn't look like you're stopping the processor by calling `StopProcessingAsync` which, as @JoshLove-msft mentioned, is what allows it to gracefully shut down.   Instead, you're just calling `DisposeAsync` which will abruptly close down connections, which does not allow the processor to clean up after itself.

If we alter your `ReceiveMessagesAsync` to request the processor

[2021-06-16 15:22] weshaggard commented on #21891
@LittleLittleCloud our packages should be archiving symbols on symweb. Can you point me at the version the package and the symchk command output you are getting for that version?

[2021-06-16 16:00] #17449 closed

[2021-06-16 16:34] jsquire commented on #21907
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-06-16 16:58] heaths commented on #21871
@jlichwa are you aware of any backend changes that might have lead to [this workaround](https://github.com/Azure/azure-sdk-for-net/issues/21871#issuecomment-862346621) being necessary?

[2021-06-16 18:14] LittleLittleCloud commented on #21891
Hi @weshaggard happy to do that

The version is 12.7.3 and symchk command is (you might need replace the path to symchk exe on your PC)
[code]

And the output is
[code]

However, the failure only indicates that symchk fails to find traditional windows-format pdb on symweb. So if the archived symbol format is portable (the second type), this check will fail as well.

[2021-06-16 18:15] christothes opened #21913 "Calling SetAccessPolicy service operation with TokenCredentials fails with 404"
Calls to set an access policy (PUT to the table endpoint with ?comp=acl​ ) seem to fail consistently with a 404 response. Response details below:

[code]

[2021-06-16 18:28] esbenbach commented on #18527
I need this feature as well and it used to be there in the Track 0 SDK (on MessageSession).
We already have Complete/Abandon on the ProcessSessionMessageEventArgs wouldnt it make sense to expose CloseSession here as well?

[2021-06-16 20:07] sescandell commented on #21753
Hi,

I tried version beta4... but I didn't put the queueServiceUri... I'll test again and let you know.

Thanks,

[2021-06-16 20:11] JoshLove-msft commented on #21907
ValidateEntityName validates that if an entity path was included in the connectionString, it matches the entity that you are attempting to create a receiver for. The connection string that you get in the portal for a topic would not include a subscription name in the entity path, hence why the validation is done only on the topic name.

Does your connection string include the subscription name as

[2021-06-16 20:19] JoshLove-msft commented on #21869
One thing to note - if calling processor.DisposeAsync it is not necessary to call processor.StopProcessingAsync.

[2021-06-16 20:21] JoshLove-msft commented on #21869
Thanks for the code snippet, I will try to repro.

[2021-06-16 20:44] jsquire commented on #21869
Really?   That's not my understanding; I'll follow-up offline.

[2021-06-16 20:49] Identifier commented on #21907
Yeah, our connection strings contain an EntityPath in the form of topic/subscriptions/subscription.  I thought this was the appropriate syntax for EntityPath for subscriptions?  Otherwise where should the connection string contain the subscription name?

(By the way, I forgot the `/subscriptions/` middle piece in my original report above, but I updated the report now).

[2021-06-16 20:54] JoshLove-msft commented on #21907
Subscriptions are not included as part of the connection string syntax. It should either be a topic or a queue - you can't specify a shared access policy at the subscription level. See https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#configuration-for-shared-access-signature-authentication

[2021-06-16 20:57] Identifier commented on #21907
It's true that the azure portal doesn't let you specify a shared access policy at the subscription level, but the scope of the access policy can be broader than the specific entity path in the connection string.

[2021-06-16 21:19] JoshLove-msft commented on #21907
The doc linked above mentions that this is not supported at the service level (not just a portal limitation). If you need to restrict access by subscription you can use rules to do this.

[2021-06-16 21:21] JoshLove-msft commented on #21907
If the scope of the access policy is meant to be broader than the specific entity path, what is the reason for including the entity path at all?

[2021-06-16 21:22] maririos commented on #21798
Need to add to samples whenever it is returned

[2021-06-16 21:22] Identifier commented on #21907
So that the code using the connection string has all of the information necessary to make the connection.

[2021-06-16 21:24] JoshLove-msft commented on #21907
With the new library, you need to create the receivers/senders using the CreateSender/Receiver methods. This is where you would specify the entity path. The entity path being in the connection string is only relevant if you are using an entity-level shared access policy. Since that is not the case here (because it includes a subscription), it should be fine to remove it from the connection string.

[2021-06-16 23:05] mikeharder opened #21923 "[Storage] ObjectDisposedException when cancelling BlobClient.DownloadTo() on net461"
When I run the DownloadBlob perf test on net461 through the test-proxy, and I cancel the token while the `DownloadToAsync()` API is running, it sometimes (but not always) fails with this exception:

[code]

I was only able to repro when using net461.  It doesn't repro when I run against the live service.  I also couldn't get it to repro using a simpler program with the test proxy.

## Repro Steps

[2021-06-16 23:16] asgoe opened #21924 "Query: Azure Storage failover with a RA-GRS account"
We are working on creating scripts to failover our storage accounts (RA-GRS configuration). The failover [documentation ](https://docs.microsoft.com/en-us/azure/storage/common/storage-initiate-account-failover?tabs=azure-portal#important-implications-of-account-failover) mentions that after failover the account is configured as LRS and needs to be re-enabled as RA-GRS. We use the Set-AzStorageAcco

[2021-06-17 00:28] asgoe commented on #21924
I think this is more applicable to the Azure-powershell, so closing this ticket

[2021-06-17 00:28] #21924 closed

[2021-06-17 02:55] Mohit-Chakraborty commented on #18427
@Valdeminas - this issue has been fixed a while back.
Please try any [release](https://www.nuget.org/packages/Azure.Search.Documents/) later than 11.2.0-beta.2, preferably the latest GA - 11.3.0 and let me know if the issue still occurs.