[2021-01-07 18:01] schaabs commented on #17432
@Pharring thanks for the feature request. The introduction of SNI authentication certainly makes automatic certificate rotation more desirable. Currently we have an unrelated feature request to enable the `ClientCertificateCredential` to fetch certificates from stores other than the local file system, and I think we might have a proposed solution which could satisfy both these feature requests.

W

[2021-01-07 18:08] amnguye commented on #17743
This is feedback for the REST API not the SDK. I've created a backlog item for this feature request please contact me offline for more detail.

[2021-01-07 18:08] #17743 closed

[2021-01-07 18:12] christothes commented on #16732
@ramya-rao-a

Both of these pages seem to be clearly marked as older or non-recommended versions. Would it still make sense to update these?

[2021-01-07 18:16] ramya-rao-a commented on #16732
Nah, we should be good.
I will follow up with Jon on whether they need to be updated or not

[2021-01-07 18:24] dondeetan commented on #17235
I'm having the same problem and here's the code I use using azure.identity:

Exception has occurred: CLR/Microsoft.Extensions.Configuration.AzureAppConfiguration.KeyVaultReferenceException
An unhandled exception of type 'Microsoft.Extensions.Configuration.AzureAppConfiguration.KeyVaultReferenceException' occurred in Microsoft.Extensions.Configuration.AzureAppConfiguration.dll
 Inner exceptions fou

[2021-01-07 18:38] amnguye commented on #17074
Can you provide a reproduceable snippet to show this error? We actually have tests surrounding custom endpoints and I altered the tests to try to accurately portray the issue you are running into but I was unable to see.

I see that you provided the code in question that is causing the problem. However it might be that we are parsing the endpoint correctly elsewhere (that's where a code snippet wo

[2021-01-07 18:44] YijunXieMS commented on #17298
I like the idea of `AsSystemData`. For naming, "SystemData" sounds a new term to the user. We already have the concept of "system events", so maybe `AsSystemEventData` or `GetSystemEventData` is a better name?

[2021-01-07 18:54] amnguye commented on #17703
I'm having a difficult time reproducing this issue. We have a test surrounding this case, where if we get a `404` or a `BlobNotFound` error and my fiddler trace shows we only sent this request once, and afterwards we did not send retries to the service.

Is the error code returning back `BlobNotFound`?

[2021-01-07 19:07] jaschrep-msft commented on #17527
@mikamins It's cut off from the top of your stack trace, but I assume your exception also reads `System.ObjectDisposedException: Cannot access a disposed object.  Object name: 'SslStream'.`? That's good to note, as the Queues package doesn't actually use Streams, only text that is passed down to Azure.Core (with the exception of `QueueRestClient.EnqueueAsync_CreateMessage()`, which is generated co

[2021-01-07 19:12] JoshLove-msft commented on #17298
I didn't like GetSystem... because it feels more like every event may actually have both system data and regular data.

[2021-01-07 19:13] christothes opened #17839 "[Administration] Implement RoleAssignment CRUD operations (update to 7.2 swagger)"

[2021-01-07 19:25] mikamins commented on #17527
Yes, the Exception.Message in the queue scenario is `Cannot access a disposed object.\r\nObject name: 'SslStream'.`  I am using Azure.Core 1.6.0 so it seems that downgrading would not fix the issue

[code]

[2021-01-07 20:16] TMPhoenix commented on #15856
I have taken another look at this. At first I thought the problem was still there, but since I couldn't quite figure out why it was happening I decided to go through all our projects and add the latest version of the Microsoft.Azure.EventGrid nuget package as an explicit dependency  (the project that does the deserialization already had the latest version as an explicit dependency). That seems to

[2021-01-07 20:22] jaschrep-msft commented on #17527
@tg-msft [this line in the generated client](https://github.com/Azure/azure-sdk-for-net/blob/46c977e408ee4f851833c5a7b1cc56c00631f748/sdk/storage/Azure.Storage.Queues/src/Generated/QueueRestClient.cs#L1881) is the only line in Queues for the code path @mikamins follows that touches `using` or `Dispose()`. The original reported issue in blobs has one more `Dispose()` call, but it is on a separately

[2021-01-07 20:22] #15913 closed

[2021-01-07 20:28] ErikMogensen commented on #15097
I am pretty sure [ReceiveAsync(Int64) in track 0](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.messagereceiver.receiveasync?view=azure-dotnet#Microsoft_ServiceBus_Messaging_MessageReceiver_ReceiveAsync_System_Int64_) only is able to receive deferred messages and the documentation should be updated. The ability to receive normal messages was something that I and others

[2021-01-07 20:28] jaschrep-msft commented on #17527
@coding-jesus would you be able to give more details about your multithreaded setup? Are you getting your various `BlockBlobClient`s all from the same `BlobServiceClient`, like you show in your code snippet? Or are you separately constructing a `BlobServiceClient` each time and working your way down to a `BlockBlobClient` from there?

[2021-01-07 20:35] JoshLove-msft commented on #17578
It seems like there is a bug in the documentation generation as the ServiceBusMessage.Body property does not have any remarks as of 7.0.0, yet the remarks are present in the docs - https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusmessage.body?view=azure-dotnet#remarks

@ramya-rao-a is there someone that can look into this?

[2021-01-07 20:38] JoshLove-msft commented on #17578
SetSessionState is using InheritDocs which there was an issue with that has been fixed.

[2021-01-07 21:05] #17578 closed

[2021-01-07 21:19] amnguye commented on #17732
@seanmcc-msft @kasobol-msft what do you think of this feature request? We will probably have to iron out the details if we go through with this. Looks like if we let the user set the `Encoding` then they are free to alter how the text gets returned. Maybe a concern I would have is if the `string` returned by the API is too large and so forth (however hopefully the user knows this and would limit o

[2021-01-07 21:23] amnguye commented on #17795
Closing this issue as the PR was merged.

[2021-01-07 21:23] #17795 closed

[2021-01-07 21:42] amnguye commented on #17834
Just for reference are you referring to
https://azure.microsoft.com/en-us/blog/azure-blob-storage-lifecycle-management-now-generally-available/
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal ?

Looks like creating management policies through the management plane storage SDK.
@blueww is there a feature like this in the management storage

[2021-01-07 22:21] mikeharder opened #17844 "[Perf] Include running average in per-second output"

[2021-01-07 22:29] coding-jesus commented on #17527
@jaschrep-msft I tried both and got the same results. I used a shared client object and initialized a new one for every call, and both resulted in the same error. I create multiple background jobs using Hangfire, and each is responsible for uploading a single file to Azure Blob Storage.

[2021-01-07 22:46] amnguye commented on #17690
Unfortunately this is the exact error message we receive from the service and not from the SDK. I can see why that would be the correct error message for 9 days since you can only specify the key to be valid for a period of up to seven days. I think it would be more clear if the message was along the lines of "The set expirey time is not a valid value" since it would go over the amount. If they sp

[2021-01-07 22:50] schaabs commented on #8544
Customers who have a need to make requests which utilize the `x-ms-authorization-auxiliary` header to do multi-tenant authorization of service calls before support is added to the Azure SDK directly can use a custom pipeline policy to add the auxiliary headers. Below is a simplified example of such a policy, but a robust solution would also need to handle token expiry.

[code]

The custom policy c

[2021-01-07 23:10] #15914 closed

[2021-01-07 23:33] maririos opened #17846 "Turn on opinion mining by default"
Consider renaming `IncludeOpinionMining` to `DisableOpinionMining`

[2021-01-08 00:03] AlexGhiondea commented on #17848
This seems to come from this line in the swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/CommonDefinitions.json#L1812

And the generated code seems to not handle the 'code' tags very well.

[2021-01-08 00:27] lilyjma commented on #7050
Closing for the reason Peter gave. But if this still presents a problem, please reopen.

[2021-01-08 00:27] #7050 closed

[2021-01-08 00:28] ellismg commented on #17298
FWIW, I think this `AsSystemEventData` idea is great.

[2021-01-08 00:48] gewarren commented on #17848
@rloutlaw How should the true/false values be formatted in the JSON?

[2021-01-08 00:55] calvinsID commented on #17848
@AlexGhiondea weird, that file was copied directly from the previous version 2020-06-01, which also has the <code></code> tags

[2021-01-08 01:49] blrchen commented on #17834
Correct i am looking for sample on how to use DotNet Storage SDK for storage lifecycle management

[2021-01-08 01:49] AlexGhiondea commented on #17848
@calvinsID yeah ... I don't think that ever showed up correctly 🙁.

[2021-01-08 02:52] scbedd opened #17850 "Investigate Docs CI Pipline - ServiceBus XML Not Updating"
Josh reached out with a question as to why a specific member of the servicebus library wasn't properly reflecting what the published package actually had. [This member specifically](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusmessage.body?view=azure-dotnet#remarks)

The .NET CI Job runs at least once daily.

That is easily visible [here](https://github.com/Azur

[2021-01-08 03:53] #17716 closed

[2021-01-08 05:28] XiangweiTang opened #17851 "[BUG] Error in using BlobClient.OpenRead, the file stream positions are not correct."
**Describe the bug**
Error in using BlobClient.OpenRead, the file stream positions are not correct.

**Expected behavior**
When we use FileStream.Read(byte[] buffer, int offset, int count), we expect the file stream position to move forward "count" bytes.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
In one certain file, the forward bytes were not correct.
Wh

[2021-01-08 08:00] #17588 closed

[2021-01-08 08:36] nakah opened #17852 "Example incorrect"
The first example on this page is incorrect, please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5102137-887d-0c3e-fe52-ff5c78f16121
* Version Independent ID: 02210ea2-4cd6-5ceb-7638-567d32a65a9e
* Content: [Scripts.GetStoredProcedureQueryIterator Method (Microsoft.Azure.Cosmos.Scripts) - Azure for .NET Deve

[2021-01-08 10:24] paolosalvatori commented on #15097
In the past, I submitted internal feedback several times and asked for the possibility to extend the possibility to receive messages from a queue or subscription by sequence number beyond deferred messages. In fact, this functionality is required to properly implement Message Repair and Resubmit pattern in the [Service Bus Explorer tool](https://github.com/paolosalvatori/ServiceBusExplorer) (Im' t

[2021-01-08 13:59] jsquire commented on #17851
Thank you for your feedback.  Tagging and routing to the team best able to assist.  Please be aware that due to the holidays, responses may be delayed.

[2021-01-08 14:01] jsquire commented on #17852
Thank you for your feedback.  Tagging and routing to the team best able to assist.  Please be aware that due to the holidays, responses may be delayed.

[2021-01-08 18:28] amnguye opened #17856 "[Test Coverage] Connection String parsing tests for Case Insensitivity"
https://github.com/Azure/azure-sdk-for-net/pull/17642

This PR needs more tests for the cases of parsing a storage connection string. Namely going down the code paths of parsing connection strings of AllRequired, Optional, AtLeastOne, None, MatchesAll.

[2021-01-08 18:35] heaths opened #17857 "Update Key Vault Keys samples to also show new algorithms for Managed HSM"
Should be enough to update the existing samples for encrypt/decrypt, sign/verify, and wrap/unwrap. Just add new ones for AES.

[2021-01-08 19:02] christothes opened #17858 "[Administration] Create samples for RoleAssignment CRUD operations"

[2021-01-08 19:19] #17641 closed

[2021-01-08 19:40] JonathanCrd commented on #17836
@jsquire after investigating, this seems to be a service issue, but when adding the Service Attention label the bot is not assigning someone from the service team. Can you help routing to the proper person in that team?

[2021-01-08 20:08] JoshLove-msft commented on #17298
I think this naming was actually suggested by @KrzysztofCwalina a while back. @KrzysztofCwalina, are you okay with the proposal described here:
- Update GetData to return BinaryData instead of object
- Add AsSystemEventData which will attempt to deserialize to one of the known system event types based on the EventType property. If not a system event, it will return null.
- `GetData<T>` will contin

[2021-01-08 20:18] kasobol-msft commented on #17732
I think we could explore adding this as an extension package to the main SDK.

[2021-01-08 20:20] Jazaret commented on #8544
@schaabs
I believe I found a similar way using the scenario described in the Java thread by adding the auxiliary token in the base http client passed into the SDK Client.

[code]

[2021-01-08 21:39] jsquire commented on #17833
Confirmed.  I did a few runs and the only consistent failures that I'm seeing are the expected T1 flaky tests.    There have been some relevant changes in master that help offset as well.   I don't see any action that needs to be taken prior to running on sovereign clouds.   We'll continue to monitor and address any flaky behavior as it presents.

The thing that I did note is responsiveness of US

[2021-01-08 21:52] jsquire commented on #17836
Sure thing.  I'm not entirely sure the proper path, but am hoping the Monitor team can offer guidance if needed.

[2021-01-08 22:41] KrzysztofCwalina commented on #17298
I like the plan.

[2021-01-08 23:08] heaths commented on #17829
This requires infrastructure changes which @benbp is working on.

[2021-01-08 23:09] sebansal commented on #16444
Resolved.

[2021-01-08 23:09] #16444 closed

[2021-01-08 23:09] benbp commented on #17833
@jsquire we do have the cloud environment available at the New-TestResources.ps1 level when it calls the template. We've been doing most value switching and changes (like for secrets) at the pipeline variable level. Though if we wanted to embed formatting or other logic changes into the arm template, you could key it off a parameter/env variable that we could pass down. It would be helpful for me

[2021-01-08 23:13] amnguye commented on #17851
Do you have an approximate file size that this issue keeps occurring to? Also is this only on WAV files?

[2021-01-08 23:30] markcowl commented on #15020
Closing as resolved.

[2021-01-08 23:30] #15020 closed

[2021-01-08 23:30] amnguye commented on #12414
Sorry for not updating this thread sooner. We released the ability to generate a SAS (https://github.com/Azure/azure-sdk-for-net/pull/15972) in the current version of the SDK and you should be able to generate a SAS from `BlobServiceClient` or any storage client if you initialize the client with a valid connection string. So you wouldn't have to parse the connection string for the account name and

[2021-01-08 23:33] markcowl commented on #16546
@rahuls-microsoft Service teams are responsible for releasing their .Net SDK.

[2021-01-08 23:36] zmarty commented on #9758
@amnguye Thank you, we are giving this a try

[2021-01-08 23:38] schaabs commented on #17235
@PunzunLtd Thanks for filing this issue. I'm sorry for the delayed response. The original issue you hit with the `DefaultAzureCredential` throwing `AuthenticationFailed`

[code]

This is caused by a known issue with MSA accounts and the `SharedTokenCacheCredential` described in issue https://github.com/Azure/azure-sdk-for-net/issues/16306 (although the title is a bit missleading because in this ca

[2021-01-09 00:21] JoshLove-msft commented on #17298
Using IsSystemEvent:

[code]

[2021-01-09 00:36] echomarat commented on #12414
@amnguye Thanks very much this seems much cleaner. Thanks again.

[2021-01-09 00:45] WillComply opened #17866 "[Storage Client] Clarify if an integrity check is done as part of the copy operation"
Please state in the remarks section whether or not an integrity check such as an MD5 comparison is performed, and if the result has an effect on the blob's [CopyStatus property.](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobproperties.copystatus?view=azure-dotnet#Azure_Storage_Blobs_Models_BlobProperties_CopyStatus)

This also applies to the following related pages:
h

[2021-01-09 01:08] JoshLove-msft opened #17868 "Consider exposing an optional Type parameter for EventGridEvent and CloudEvent constructors"
Currently we serialize based on object.GetType(). This could lead to situations where we serialize derived properties that are unintended. For deserialization, we have a `GetData<T>` method where the type can be specified.

[2021-01-09 01:11] JoshLove-msft opened #17869 "Expose System Event event types"
We should come up with a way to expose the event type strings as part of the SDK, e.g. StorageBlobCreatedEventData.EventType so that users don't have to hardcode "Microsoft.Storage.BlobCreated" when doing a switch statement on the Type property of an EventGridEvent, for example.

Currently these are internal within [EventTypes](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventgrid/A

[2021-01-09 01:22] JoshLove-msft commented on #17298
Another option using TryGet pattern:
[code]

[2021-01-09 02:11] heaths commented on #17235
@msfcolombo can you help us take a look at [this authentication error](https://github.com/Azure/azure-sdk-for-net/issues/17235#issuecomment-756294147 (above)) against the service,

[code]

We haven't seen this specific error from the service before.

/cc @RandalliLama @jlichwa

[2021-01-09 02:22] dondeetan commented on #17235
Update on this: I was able to resolve the issue by looking at this article:
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme

I had both VS Code and Enterprise installed on my windows machine and the problem was that defaultazurecredential chaining checks for VS Enterprise first, my azure sign-in there was my other azure account. After I logged in within VS Enterprise usi

[2021-01-09 06:34] msfcolombo commented on #17235
@heaths

When the error message says `Access denied to first party service`, it means that the token presented to Key Vault was obtained by a first party service (which is indeed the case given the tenant id is `f8cdef31-a31e-4b4a-93e4-5f571e91255a`), and the caller is not a trusted service (see [here](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints#trusted

[2021-01-09 14:44] TorbenPhilippsen commented on #8658
With inspiration from @xperiandri... what solved the issue for me was to configure  AZURE_USERNAME and AZURE_TENANT_ID in VS2019 enterprise.
In my case the issue was related to running an azure function locally. I added the above environment variables in (right click) [yourproject] --> properties --> debug - under section "Environment Variables".

Above there has been some discussions which versio

[2021-01-09 18:25] jsquire commented on #17866
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-09 18:38] jsquire commented on #17701
Fixed by #17816

[2021-01-09 18:38] #17701 closed

[2021-01-09 18:38] jsquire commented on #17616
Fixed by #17816

[2021-01-09 18:38] #17616 closed

[2021-01-10 08:48] kieronlanning opened #17872 "[Azure.Data.Tables] Maintianing Existing Timestamp on Add/ Upsert/ Batch"
Is there a means by which we can maintain an entities Timestamp when adding, upserting or when using batch?

[2021-01-10 09:51] dabenhamMic opened #17873 "create updated SDK and pwoerShell for Microsoft.OperationalInsights [FEATURE REQ]"
**Library or service name.** : **Microsoft.OperationalInsights**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
we recently released a new version: 2020-10-01 and require a new SDK and PowerShell update

[2021-01-10 21:45] snapfisher opened #17874 "Cognitive Search: How to field map complex types"
**Query/Question**
I am setting up an index/indexer with the C# SDK.  I have documents with images.  I am using the ImageAnalysisSkill to get image captions.  I want to then use the MergeSkill to merge the captions with the rest of the text.

I can merge simple fields, and I can see the captions in my index, but I cannot get the merge to work on the complex field.

The index is:
[code]

The mappin

[2021-01-11 01:43] jiasli commented on #13603
I have provided more details of this issue, as well as the Python SDK implementation in https://github.com/Azure/autorest.csharp/issues/972.

[2021-01-11 02:25] XiangweiTang commented on #17851
I don't know, because even 99% of the waves I processed are correct, For now there is only one wave got this problem. So it might be some special case. So it is hard to say if other files could have same problem.

[2021-01-11 02:27] XiangweiTang commented on #17851
For the file itself, it is around 8.7MB. The files larger or smaller doesn't show similar problem.

[2021-01-11 06:51] zzhxiaofeng commented on #17074
@amnguye  Well, I find this issue by this [test case](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs#L67) and you can use the test case as reproduceable snippet.

[2021-01-11 09:19] zzhxiaofeng commented on #17074
@amnguye Well, the problem still exists. I find the issue by this [test case](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/tests/ContainerClientTests.cs#L67). In this test case, the method `GetConnectionString` calls the method `ConstructUris` which is shown in my picture.  You can use the test case as reproduceable snippet.

[2021-01-11 11:13] goncalvesj commented on #12939
Hi guys,

I'm still running into this issue when developing locally in WSL2 (Ubuntu 20.04).

The current setup is:
NET 5 web app
Azure.Identity="1.3.0"
VS Code 1.52.1

If I use:
`var blobServiceClient = new BlobServiceClient(accountUri, new DefaultAzureCredential());`

I get:
`SharedTokenCacheCredential authentication failed: Persistence check failed. Inspect inner exception for details
      Azur

[2021-01-11 11:22] sipsorcery commented on #17235
I am also experiencing the `Access denied to first party service` exception message when attempting to access a Key Vault with a Visual Studio debug session and using `DefaultAzureCredential`.

Access to the Key Vault from my application works correctly with:
 - Azure VM's with Managed Identities.
 - Locally from dev machine with an Active Directory App Registration and Environment Variables (`AZU

[2021-01-11 11:45] PaulTzl opened #17876 "Links to samples don't work on this page"
Do you have the correct links please?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2b138b-2471-5e90-0a7d-07f8ba5e7ce3
* Version Independent ID: 695b4a2a-7975-075d-db2c-c16250098824
* Content: [Azure compute libraries for .NET - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/overview/

[2021-01-11 12:03] makhin commented on #17656
Hi

Do you have some news? Maybe you need help to repro it?

[2021-01-11 13:56] jsquire commented on #17872
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-11 13:56] jsquire commented on #17873
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-11 13:59] jsquire commented on #17874
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-11 14:01] jsquire commented on #17876
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-11 15:13] christothes commented on #17872
@kieronlanning Could add a bit more context on what it is you are trying to accomplish? If you are asking about how to obtain the Timestamp for entities that are modified as part of a batch operation, you should be able to obtain the ETag value for any of the responses in the header of the responses.

For example:

`response.GetResponseForEntity(entity.RowKey).Headers.ETag`

[2021-01-11 15:19] RobHudson72 commented on #17331
+1 for this request... Our environment is that we have an App Service based API that has high volume and performance requirements.  We need events from multiple requests to be batched together, similar to the behavior available in WindowsAzure.ServiceBus.  We need the message to send from a background thread in batches, flushing after a certain interval.  Sample code would be very helpful.

[2021-01-11 15:58] kieronlanning commented on #17872
@christothes No, I'm doing a migration between storage accounts - the entities stored use their timestamp in other areas. So when migrating we'd like to be able to maintain the original timestamp, rather than that of the current operation.

[2021-01-11 16:13] christothes commented on #17872
Ah - Unfortunately, the Timestamp property is only managed by the service and [cannot be modified](https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-the-table-service-data-model#system-properties).

[2021-01-11 16:17] pakrym opened #17877 "[Flaky Test] AutoFlushInterval_FullBatch"
[code]

cc @tg-msft

[2021-01-11 16:19] #17872 closed

[2021-01-11 16:30] pakrym commented on #14129
Another failure https://dev.azure.com/azure-sdk/internal/_build/results?buildId=681178&view=ms.vss-test-web.build-test-results-tab&runId=15900704&resultId=101293&paneView=debug

[2021-01-11 16:31] pakrym commented on #14129
cc @schaabs @AlexGhiondea

[2021-01-11 16:38] pakrym opened #17879 "[Flaky test] Flush_Blocks"
[code]
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=677639&view=ms.vss-test-web.build-test-results-tab&runId=15843588&resultId=109861&paneView=debug

[2021-01-11 17:33] AlexGhiondea commented on #17873
@dabenhamMic could you share a bit more information about this? What version did you release? And what would you need help with?

/cc @pakrym

[2021-01-11 17:47] pakrym opened #17882 "[WebJobs/EventHubs] Extension migration causes an invalid checkpoint message"
[code]

[2021-01-11 18:10] dabenhamMic commented on #17873
@AlexGhiondea
we have updated 2 main flows: the first is DedicattedClusters and the other is our Table api's.
we have extended the Table contract.
Cluster is a new feature that is becoming GA.

[2021-01-11 18:27] johnknoop opened #17884 "[Microsoft.Azure.ServiceBus] Spewing exceptions when internet connection lost, causing high CPU"
Hi

I use the `ExceptionReceivedHandler` on the `MessageHandlerOptions` that is passed into `IReceiverClient.RegisterMessageHandler`, so that I can log when there is an error happening.

When my internet connection drops, this callback is fired off continuously without any delay in between, causing my CPU to spike.

The exception in this case is `Microsoft.Azure.ServiceBus.ServiceBusCommunicationE

[2021-01-11 19:07] heaths commented on #17235
@sipsorcery there are some [known issues](https://github.com/Azure/azure-sdk-for-net/issues/17235#issuecomment-757049664) with MSA accounts, but does @dondeetan's [workaround](https://github.com/Azure/azure-sdk-for-net/issues/17235#issuecomment-757080112) resolve your issue as well (or even apply)?

@PunzunLtd could you also try @dondeetan's [workaround](https://github.com/Azure/azure-sdk-for-net/

[2021-01-11 19:08] amnguye commented on #12414
Okay sounds good! If there's any problems regarding the new API please feel free to open a new github issue. Other than that if the new API does not resolve the original issue, please let me know and tag me. Thanks!

[2021-01-11 19:08] #12414 closed

[2021-01-11 19:38] pakrym opened #17887 "[WebJobs/EventHubs] Add programmatic options configuration example"
Setting up a proxy is a good scenario.

[2021-01-11 19:39] pakrym commented on #17887
/cc @jsquire

[2021-01-11 19:41] pakrym opened #17888 "Add Microsoft.Extensions.Azure client registration sample for Azure Functions"
The sample should show how to register, configure, and resolve a client that doesn't have native Functions extensions.

[2021-01-11 20:08] jsquire commented on #17833
After discussing some options, I'm not going to make any further changes at this point; we'll continue to monitor for any flaky tests and/or environmental issues and address them as needed.

Please feel free to enable the sovereign clouds as desired for Event Hubs.

[2021-01-11 20:08] #17833 closed

[2021-01-11 20:10] jsquire commented on #17884
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-11 20:15] sipsorcery commented on #17235
@heaths I don't think that workaround applies to me. I only have Visual Studio 2019 Community Edition installed and I also only have a single Azure account. The known issue mentioned also doesn't seem to apply, or at least gets circumvented by using the `VisualStudioCredential` directly.

`var cred = new VisualStudioCredential(new VisualStudioCredentialOptions { TenantId = "d304cb51-c9ec-4c15-bfdd

[2021-01-11 20:23] AlexGhiondea commented on #17873
@dabenhamMic thanks for that additional information. Unfortunately I am still not sure what is it that you are asking for 🙁. Are you asking for help releasing a new version of the SDK as the service maintainer or are you asking for help figuring out who the service owner is so that they can release a new version of the SDK?

[2021-01-11 20:38] craigktreasure commented on #17715
Thanks @maririos for the info. I'm trying to determine the status of Azure Spatial Anchors for WestUS2. It was previously a pilot region, but there has been a desire to change it to a production region. I'm trying to determine what the status of that migration is currently. Is it possible to skip that region for now?

@vriveras for awareness.

[2021-01-11 20:47] craigktreasure commented on #17715
@benbp I just confirmed with the team that the westus2 region is not available for Azure Spatial Anchors. Can we skip that region for now for these tests?

[2021-01-11 20:49] #17298 closed

[2021-01-11 21:20] heaths commented on #17235
Have you configured [trusted endpoints](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-vnet-service-endpoints) by chance? It would also help if you enabled logging like the OP did and pasted the logs here so we can see which token credential is throwing or what they are all doing in general.

[2021-01-11 21:53] sipsorcery commented on #17235
Using:

[code]

Stack trace is:

[code]

The good news is the `VisualStudioCredential` credential has started automagically working for me.

`var cred = new VisualStudioCredential(new VisualStudioCredentialOptions { TenantId = "d304cb51-c9ec-4c15-bfdd-a8d6e80018ab" });`

I don't know why it's started working but the actions I took during the troubleshooting of this issue were:

 - Creating and usi

[2021-01-11 22:04] sipsorcery commented on #17235
@heaths and sorry forgot to say no I don't have a trusted endpoint on my Key Vault.

These steps are now working reliably for me:

- Close Visual Studio
- Delete `%LOCALAPPDATA%\.IdentityService`
- Re-open Visual Studio. No account should be signed in. Re-login with my MSA account,
- Use the `VisualStudioCredential` with the `TenantId` set:
`var cred = new VisualStudioCredential(new VisualStudioCr

[2021-01-11 22:31] heaths commented on #9453
This was completed some time ago.

[2021-01-11 22:31] #9453 closed

[2021-01-11 22:50] PunzunLtd commented on #17235
@heaths The article you referred me to is the one I went through before posting. So, no, it doesn't seem to apply.

@schaabs Setting `ExcludeSharedTokenCacheCredential = true` changed the error from the first condition (configuration issue) to the second condition (403 forbidden). I did notice something in the logs though:

[code]

Does it make a difference that the `tid=` shows a TID that is _not

[2021-01-11 23:01] kurtzeborn commented on #17798
This issue is tracking the fixing of spelling errors in the code, so flipping this back to "Client".  The EngSys team has added spell checking to our pipelines such that PR validation should start failing if spelling errors are introduced.  In order to do this we had to add all existing spelling failures to an exception list.  This issue is tracking fixing all of the exceptions.

[2021-01-11 23:27] AlexGhiondea commented on #17662
@nokternol thanks for providing a PR! Closing as the PR was merged!

[2021-01-11 23:27] #17662 closed

[2021-01-11 23:29] Marusyk commented on #17665
Actually, after disabling Application Insights it consumes less memory, but

App without sending to datalake after 2 weeks uptime: ~160Mb
App with sending to datalake after 2 weeks uptime: ~460Mb

can it be an issue in Azure.Storage.Files.DataLake package?

[2021-01-11 23:30] AlexGhiondea commented on #17449
@mathieuisabel @mskuratowski it seems like the sample has been updated to show how to do this with the v11 of the library. Are you still running into issues?

[2021-01-11 23:40] #17761 closed

[2021-01-12 00:16] #17882 closed

[2021-01-12 00:48] heaths commented on #17051
This bug is actually incorrect, as "export" and "release" are separate operations.

[2021-01-12 00:48] #17051 closed

[2021-01-12 01:48] heaths commented on #16792
This work has been punted out of 7.2 to 7.3-preview.

[2021-01-12 01:50] heaths opened #17901 "Remove secure key release"
Since secure key release was punted from 7.2 to 7.3-preview, remove it from the Key Vault SDK along with related operations like export and release, and any model properties.

Relates to #16792

[2021-01-12 07:19] logtosachin993 opened #17903 "ComputerVision 6.0.0 gives ComputerVisionErrorException "Operation returned an invalid status code 'NotFound'""
**ReadInStreamAsync** method in computer vision SDK(6.0.0) throws "**Operation returned an invalid status code 'NotFound**'" calling from container Cognitive Services Computer Vision API(**vision/v3.2-preview.1/read**).
Container have been configured with :
1)billing endpoint
2)eula -> accept
3)apikey
Cognitive container service Ready returns:
{"service":"computervisionread","ready":"ready","messa

[2021-01-12 08:36] dabenhamMic commented on #17873
@AlexGhiondea
I'm asking for help releasing a new version of the SDK :)

[2021-01-12 13:12] alex19497 commented on #16422
Any updates on this issue?

[2021-01-12 13:18] yviouswilliamous commented on #9828
Hi, I have the same problem with escaping a single quote in a filter expression.

I applied the solution you proposed on the [SO post](https://stackoverflow.com/questions/60066616/azure-cognitive-search-how-to-filter-by-fields-containing-special-characters). I doubled the single quote. But there is no values in the response.

I use the latest version of the API (2020-06-30).

Here is the request I

[2021-01-12 13:57] blrchen commented on #17834
I seems found it: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Microsoft.Azure.Management.Storage/src/Generated/Models/ManagementPolicyBaseBlob.cs

[2021-01-12 13:57] #17834 closed

[2021-01-12 14:50] jsquire commented on #17903
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-12 15:56] yviouswilliamous opened #17907 "[BUG] Azure Search - Still Cannot $filter by fields containing special characters, even when escaped"
Hi,

I still have the problem mentionned in the following [issue](https://github.com/Azure/azure-sdk-for-net/issues/9828)

I have the same problem with escaping a single quote in a filter expression.

I applied the solution you proposed on the SO post. I doubled the single quote. But there is no values in the response.

I use the latest version of the API (2020-06-30).

Here is the request I execu

[2021-01-12 16:58] coppercosmo commented on #17836
Any update on this?

[2021-01-12 17:07] kinelski commented on #17726
After investigation, it seems an issue about swagger inconsistency with the actual behavior of the service. [The swagger](https://github.com/Azure/azure-rest-api-specs/blob/3cbc984fcf0fab278b9c28175319f65db1b9162a/specification/cognitiveservices/data-plane/MetricsAdvisor/preview/v1.0/MetricsAdvisor.json#L5029-L5033) defines the following possible dataSourceTypes during an update: `AzureApplication

[2021-01-12 17:10] sima-zhu opened #17909 "Fixed failed aggregate-report link issue"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=682937&view=logs&j=10327055-d4d6-50a6-a312-3d2cd4bd9cb9&t=65f0e4aa-f456-5911-deca-bd807ca3354c&l=760

[2021-01-12 17:33] #15924 closed

[2021-01-12 17:34] #11945 closed

[2021-01-12 17:34] #13727 closed

[2021-01-12 17:52] AlexGhiondea commented on #17873
@dabenhamMic got it! Please reach out to me on teams! 🙂

[2021-01-12 17:52] amnguye commented on #17866
I'm under the impression that the service does not do an integrity check for the copy blob operation. I think the [original reference document](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) would need to be updated and the copy blob API can just reference this link. That way we don't have to end up updating all documents related to this operation, in the case that if there's

[2021-01-12 18:03] brjohnstmsft commented on #9828
@yviouswilliamous What is the tag value that you're expecting to match? Note that the default delimiters for `search.in` are comma and space, so your filter is effectively being executed as if it were written this way:

[code]

[2021-01-12 18:04] chidozieononiwu commented on #17569
auto-calculating parameter values does not work for yaml. Perhaps we could use add a comment indicating that it should be removed when used in a not template pipeline.

[2021-01-12 18:07] pakrym commented on #17569
Can we base [this](https://github.com/Azure/azure-sdk-for-net/blob/e88652129c13a5e0bd9384979070e2dba023e567/eng/pipelines/templates/jobs/archetype-sdk-client.yml#L38) condition on the artifact name?

[2021-01-12 18:08] amnguye commented on #17074
Hi,

I ran the test case with both `true` and `false` cases, and those both pass.

Could you provide a code snippet that would reproduce the error you are running into?

[2021-01-12 18:24] chidozieononiwu commented on #17569
Yes we can. But we also need it for [here](https://github.com/Azure/azure-sdk-for-net/blob/e88652129c13a5e0bd9384979070e2dba023e567/eng/pipelines/templates/stages/archetype-net-release.yml#L172)

[2021-01-12 18:43] WillComply commented on #17866
Thanks for the update, updating just the original reference document would be fine.

I agree that it's unnecessary to specify all aspects of the API, but I do think that it's important to communicate that the API makes no guarantees about the integrity of the copied blob. The fact that the API simply copies over the Content-MD5 property of the blob led to some confusion on my part about file integ

[2021-01-12 18:54] amnguye commented on #17866
Now that I looked over your original issue, you're using the StartCopyFromUri API and not the regular API that calls the regular Copy Blob operation.

So actually the [Copy Blob From Url](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url) does allow you to specify the `x-ms-source-content-md5` header so the storage service does the proper checks you are looking for betwe

[2021-01-12 18:55] amnguye commented on #17866
I will also look to update the StartCopyFromUri API to reference the correct document Copy Blob from URL , instead of the regular Copy Blob article.

[2021-01-12 18:55] yviouswilliamous commented on #9828
@brjohnstmsft , the tag value I'm expecting to match is **"services d'investissement"**

If I understand well, I should try changing the default delimiter and do something like this `$filter=tags/any(tag: search.in(tag/value,'services d''investissement', '|')) `?

[2021-01-12 19:11] #16928 closed

[2021-01-12 19:33] #17536 closed

[2021-01-12 19:45] brjohnstmsft commented on #9828
Yes, or if you really only want to match against one possible value instead of a list of values, just use `eq` instead of `search.in`:

[code]

[2021-01-12 19:57] WillComply commented on #17866
Thanks for clarifying, this is very helpful. Just to confirm, the SDK doesn't support this header yet right? I'm looking at the [BlobRequestConditions](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobrequestconditions?view=azure-dotnet) and seeing only a handful of these headers supported.

[2021-01-12 21:09] #17280 closed

[2021-01-12 21:22] kinelski commented on #15912
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/17594.

[2021-01-12 21:22] #15912 closed

[2021-01-12 21:31] daguito81 commented on #16079
Having the same problem.
Unexpected error occurred (ClientAuthenticationError('DefaultAzureCredential failed to retrieve a token from the included credentials.\nAttempted credentials:\n\tEnvironmentCredential: EnvironmentCredential authentication unavailable. Environment variables are not fully configured.\n\tManagedIdentityCredential: (None) An unexpected error occured while fetching the AAD Toke

[2021-01-12 21:35] kinelski opened #17918 "[MetricsAdvisor] .NET tests are using a JS resource"
Original discussion: https://github.com/Azure/azure-sdk-for-net/pull/17894#issuecomment-758830599

Currently, MA tests use a resource with a `js` prefix:
https://github.com/Azure/azure-sdk-for-net/blob/9877b91a4cb26270a9197b24e1943034fbd6f18c/sdk/metricsadvisor/tests.yml#L8

The service limits the amount of resources we can create per subscription, so all languages are using the same resource for

[2021-01-12 21:36] jsquire commented on #17907
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-12 21:36] AlexGhiondea commented on #17909
@jsquire could you take a look at this break?

[2021-01-12 21:47] jsquire commented on #17909
fixed by: #17919

[2021-01-12 21:49] JoshLove-msft commented on #17742
So here are the settings that can be configured
- EnableIdempotentPartitions
- PartitionOptions
- ConnectionOptions (also in ProcessorOptions)
- RetryOptions (also in ProcessorOptions)

EnableIdempotentPartitions requires that users set a partition key on outgoing events. To support this we would need a new output parameter.
PartitionOptions is used for advanced scenarios and is dependent on Enabl

[2021-01-12 23:03] heaths commented on #17235
The main issue appears to stem from different accounts logged into different providers when using MSAs. If you delete ~\.Identity and sign into Visual Studio and/or Azure CLI using the preferred account, does this work for you?

[2021-01-12 23:08] sipsorcery commented on #17235
- No for: `var cred = new DefaultAzureCredential();`
 - No for: `var cred = new DefaultAzureCredential(new DefaultAzureCredentialOptions { ExcludeSharedTokenCacheCredential = true });`
 - Yes for: `var cred = new VisualStudioCredential(new VisualStudioCredentialOptions { TenantId = "d304cb51-c9ec-4c15-bfdd-a8d6e80018ab" });`

In my case I am only using one MSA account.

[2021-01-12 23:56] #17909 closed

[2021-01-13 00:05] axisc commented on #17884
@johnknoop the default retry policy has an exponential back off, so it should not throw that many exceptions. Any chance you have retry policy override in place?

[2021-01-13 00:14] axisc commented on #17481
@Marusyk , can you try by changing the below
[code]

to

[code]

and try it?

[2021-01-13 00:17] Ofekw opened #17924 "[BUG] Azure FrontDoor Model does not contain its ResourceGroup, making some update paths impossible."
**Describe the bug**
If I fetch all FrontDoors for a given subscription `await frontDoorManagementClient.FrontDoors.ListAsync();` , there is no way to get from the AzureFrontDoor models in the response to the [update path without knowing the resource group](https://github.com/Azure/azure-sdk-for-net/blob/2b594335737a65cb8f36543ef817deaba5c43f4b/sdk/frontdoor/Microsoft.Azure.Management.FrontDoor/sr

[2021-01-13 00:18] m-nash commented on #17435
Can you give me more context into how you intend to mock the class?  In general given this is a response object you can mock the transport for the service client and define the response you want as json which will be deserialized into this object.

This reference here might be helpful https://devblogs.microsoft.com/azure-sdk/unit-testing-and-mocking/.

[2021-01-13 00:19] axisc commented on #17702
@craig-wagner can you confirm if it's the first 136 messages or the last 136 messages?

Peeking utilizes a checkpoint so that you don't peek the same messages again and again. I suspect that is what is happening here (especially if you are seeing the last 136 messages).

[2021-01-13 00:41] schaabs commented on #17235
The root issue here has to do with the fact you're using an MSA account. VS is legacy a first party application which uses something call the MSA pass-through tenant to authenticate MSA accounts when no tenant is specified. The MSA pass-through tenant is a precursor to the /common endpoint AAD later exposed. Unfortunately this has the side effect of issuing tokens to a bogus tenant id in the case

[2021-01-13 00:52] PunzunLtd commented on #17235
So it would make sense to inject the credentials if running in unit tests/VS2019? Or will the `VisualStudioCredential` work outside of VS2019?

[2021-01-13 01:03] schaabs commented on #17235
The `VisualStudioCredential` will work outside of VS2019 but only when VS2019 or 2017 is installed and the user has authenticated through them. I would suggest still using the `DefaultAzureCredential` if you're sharing these tests with other developers who might not be using VS as it gives them other options for logging in, such as the Azure CLI etc.  You can still specify the tenant id to VS thro

[2021-01-13 01:18] tg-msft commented on #17527
+@pakrym if this is only showing up with HttpWebRequestTransport in case he has any ideas what's going on

[2021-01-13 01:36] coppercosmo opened #17927 "[BUG] Microsoft.Web/sites/functions returns ResourceNotFound"
**Describe the bug**
Trying to create a new app service function using the Azure.ResourceManager library is not working.

**Expected behavior**
I expect to be able to create a new app service function by using the Microsoft.Web/sites/functions Resource Provider Namespace. This microsoft website says that it should be available. https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/f

[2021-01-13 04:15] maririos opened #17929 "Make necessary changes to comply with design presented in arch board"
Design for it: https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7?doc=False

[2021-01-13 05:27] nanan1993 opened #17932 "[QUERY] Where could I find code of Microsoft.Azure.WebJobs.Extensions.EventHubs v4.2.0?"
**Query/Question**
Where could I find code of Microsoft.Azure.WebJobs.Extensions.EventHubs v4.2.0? And when would the release of v5.0.0 released to the nuget?

[2021-01-13 05:43] ramya-rao-a opened #17933 "Add migration guide from WindowsAzure.ServiceBus to Azure.Messaging.ServiceBus"
We currently have a migration guide to move from Microsoft.Azure.ServiceBus to Azure.Messaging.ServiceBus. Since there are active users of the older WindowsAzure.ServiceBus package as well, we should have a migration guide from this package as well. We  need to decide whether we want to update the current migration guide or create a new one.

Related issue for Event Hubs: #17934

[2021-01-13 05:44] ramya-rao-a opened #17934 "Add migration guide from WindowsAzure.ServiceBus to Azure.Messaging.EventHubs"
We currently have a migration guide to move from Microsoft.Azure.EventHubs to Azure.Messaging.EventHubs. Since there are active users of the older WindowsAzure.ServiceBus package (used for Event Hubs) as well, we should have a migration guide from this package as well. We need to decide whether we want to update the current migration guide or create a new one.

Same goes for Microsoft.Azure.Servic

[2021-01-13 06:25] zzhxiaofeng commented on #17074
@amnguye Ok, I write a demo to reproduce the error. It needs to be placed under the `azure-sdk-for-net\sdk\storage\Azure.Storage.Blobs\tests` folder if you want to use it. The demo is shown as following:
[code]
Note: Please make sure the demo runs in Azurite server.

[2021-01-13 06:33] jongio opened #17935 "[BUG] Microsoft Azure SDK for .NET is available as download in Download Center"
I found this "Microsoft Azure SDK for .NET - 3.0" download in the download center.  We should either remove or add a message which links to the new libs.

https://www.microsoft.com/en-us/download/details.aspx?id=54917

azsdke2e
azsdke2e2

[2021-01-13 07:04] lwlwalker opened #17936 "[BUG] Codeless Application Insights is broken after adding Azure.Core.1.8.0 Nuget package to my solution"
*Describe the bug
We have a WebAPI in our team deployed a an Azure Web App. We had Application Insights configured (Codeless, using Azure UI, so no code). This was working perfectly fine.

As an improvement to the API, we moved our data from SQL Server to CosmosDB. So we need to add this package to our solution: Microsoft.Azure.Cosmos. This package adds Azure.Core.1.8.0 package as a dependency, an

[2021-01-13 07:04] allenjzhang commented on #14235
Thank you for the report. While the generated source code has been [updated](https://github.com/Azure/azure-sdk-for-net/blob/44425daf92f8d3e16c32763429f1925e9a825c0e/sdk/resources/Azure.ResourceManager.Resources/src/Generated/ResourceGroupsOperations.cs#L43), This change has not been released. We are currently working on an overall management plane API redesign and will release new preview librari

[2021-01-13 07:04] #14235 closed

[2021-01-13 07:25] yungezz commented on #5132
hi @xccc-msft could you pls help to have a look? thanks

[2021-01-13 07:26] yungezz commented on #5277
hi @xccc-msft could you pls help to have a look? thanks

[2021-01-13 07:26] yungezz commented on #12327
hi @xccc-msft is this updated already?

[2021-01-13 07:29] yungezz commented on #12645
@chnyda  the development focus shifted to the next generation of Azure SDKs. For .NET, the packages are currently in preview state and we are actively working on making it production ready. For packages that follow the new Azure SDK standard, you can visit this link : https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

We have also published a few blog posts on why we are doing thi

[2021-01-13 07:30] yungezz commented on #14121
hi @xccc-msft could you pls help on this? thanks

[2021-01-13 07:30] yungezz commented on #14169
add @xccc-msft to help on this

[2021-01-13 07:31] allenjzhang commented on #11646
@heaths, we are working on track 2 SDK. Track 1 large scale changes will be limited to security fixes.

[2021-01-13 07:31] #11646 closed

[2021-01-13 07:31] yungezz commented on #14265
hi @xccc-msft could you pls help on sample? thanks

[2021-01-13 07:31] yungezz commented on #14372
hi @xccc-msft could  you pls help on this? thanks

[2021-01-13 07:32] yungezz commented on #14527
hi @xccc-msft could you pls help?

[2021-01-13 07:32] yungezz commented on #14742
add @xccc-msft to help

[2021-01-13 07:33] yungezz commented on #14749
hi @xccc-msft could you pls check is this supported already? thanks

[2021-01-13 07:33] yungezz commented on #14828
hi @dejimarquis could you pls share resource id for investigation? thanks

[2021-01-13 07:34] yungezz commented on #14920
add @xccc-msft  to help

[2021-01-13 07:34] yungezz commented on #14936
add @xccc-msft to help

[2021-01-13 07:35] yungezz commented on #15649
@richadua  the development focus shifted to the next generation of Azure SDKs. For .NET, the packages are currently in preview state and we are actively working on making it production ready. For packages that follow the new Azure SDK standard, you can visit this link : https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

We have also published a few blog posts on why we are doing t

[2021-01-13 07:36] yungezz commented on #15717
hi @allenjzhang will reassign the issue to you since the ask is on new generate of .NET SDK. thanks. PIng me if any question

[2021-01-13 07:36] yungezz commented on #17876
add @xccc-msft to help

[2021-01-13 08:03] xccc-msft commented on #5132
This is the same issue as [Azure/azure-sdk-for-java#8860](https://github.com/Azure/azure-sdk-for-java/issues/8860) reported.
It's a known issue found in [Azure/azure-rest-api-specs#2856](https://github.com/Azure/azure-rest-api-specs/issues/2856).
Pending discussion post by [Azure/azure-rest-api-specs#8092](https://github.com/Azure/azure-rest-api-specs/issues/8092).

It's a service issue rather tha

[2021-01-13 08:08] johnknoop commented on #17884
@axisc

I use the exponential backoff retry policy, but with custom delays:

[code]

[2021-01-13 08:09] xccc-msft commented on #5277
@nickzhums It looks we can mark as `Track2` feature request here.

[2021-01-13 08:17] xccc-msft commented on #12327
@ndrwrbgs It looks #12897 was to relax upped bound. Are you still facing this issue? If so, we could ask help from ClientRuntime team to confirm. Thanks.

[2021-01-13 08:23] xccc-msft commented on #14121
@Emma0727 We do not have plan to update this part of code in our SDK now.  Add `Azure.Identity` so the identity team can help answer if any future plan to change it. Thanks.

[2021-01-13 08:42] xccc-msft commented on #14169
@davidobrien1985 For StorageAccount, the way you tried would not work. You need to try with below to update the property:
[code]

[2021-01-13 08:48] xccc-msft commented on #14265
@digeler You may use below entry points to create private endpoints and private link services:
[code]

[2021-01-13 08:50] xccc-msft commented on #14527
@pengfm Are you looking for `networkManager.VirtualNetworkGateways` or `networkManager.LocalNetworkGateways` in [Microsoft.Azure.Management.Network.Fluent]?

[2021-01-13 09:04] nickzhums commented on #5277
added to backlog, cc @markcowl @allenjzhang @m-nash for awareness

[2021-01-13 09:28] xccc-msft commented on #14742
@hund030 I'm unable to reproduce this. For me, the `listResourceUsage` works. Are you still facing the same issue? If so, can you please try to capture the request/response by tool like Fiddler.

[2021-01-13 09:31] xccc-msft commented on #14749
@hund030 It looks [Azure/azure-libraries-for-net#1163](https://github.com/Azure/azure-libraries-for-net/pull/1163) is what you are looking for. It's available since v1.36.0. Thanks.

[2021-01-13 09:44] xccc-msft commented on #14920
@plettb Thanks for opening this. You may use below instead:
[code]

cc: @nickzhums
We may consider to support async methods for this in new .NET SDK.

[2021-01-13 09:59] xccc-msft commented on #14936
@anktsrkr It looks this is the [line](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Network/NetworkPeeringImpl.cs#L312) we define a random remote peer name internally. If you want to have your own value for the name, you may want to consider taking the whole block code for resource creation now.

cc: @nickzhums
We may consider to improve this in new .NET SDK.

[2021-01-13 10:01] xccc-msft commented on #15649
@richadua We have updated Compute API version to `2020-06-01`. Can you please check if it solves your problem now? Thanks.

[2021-01-13 10:04] xccc-msft commented on #17876
@PaulTzl Can you please check if you could find desired sample from [here](https://github.com/Azure/azure-libraries-for-net#ready-to-run-code-samples-for-virtual-machines)? Thanks.

[2021-01-13 10:14] xccc-msft commented on #14372
@Rookian You may try with below:
[code]

[2021-01-13 11:22] audunn commented on #16122
Just to chime in here I believe this was fixed in 1.8.0

[2021-01-13 13:55] jsquire commented on #17924
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-13 14:03] jsquire commented on #17927
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-13 14:09] jsquire commented on #17932
Hi @nanan1993.  `Microsoft.Azure.WebJobs.Extensions.EventHubs` v4.2.0 can be found in the [Azure/azure-functions-eventhubs-extension](https://github.com/Azure/azure-functions-eventhubs-extension) repository.

Unfortunately, there are no committed dates for the v5 releases that I'm able to share at this time.

[2021-01-13 14:12] jsquire commented on #17936
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-13 15:32] fvalencia12 opened #17937 "Why is there no sample code?"
Sample code should be required for all documentation. Sample code is the best type of documentation and it is missing most of the time now a days. :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be36c1a-bf94-fd12-7010-4ca4dc38d419
* Version Independent ID: 1d043ff3-d5fa-1e6f-cf26-223f89155e5d
* Content: [DataLakeDir

[2021-01-13 16:18] #16723 closed

[2021-01-13 16:26] pakrym commented on #17936
cc @reyang

We need the `System.Diagnostics.DiagnosticSource` reference to be able to produce diagnostic tracing events that Application Insights is exporting. Can we relax the rule for code-less instrumentation?

[2021-01-13 16:32] pakrym commented on #17527
I'll take a look. Wonder if it's a side-effect of some of our timeout logic.

[2021-01-13 16:55] AlexGhiondea commented on #17937
@fvalencia12 thanks for reporting this -- are you looking for a specific sample for that API?

[2021-01-13 17:22] fvalencia12 commented on #17937
Yes, it is good to have documentation, but using that method is confusing to me and needed a sample of how to use it. It took me a bit to find some sample online in how to use it. It would help a lot if we can find samples so we know how to use the code. Something like this:

public override bool OnStart()
        {
            ServicePointManager.DefaultConnectionLimit = 12;

            var dbCo

[2021-01-13 17:32] DSTAlan opened #17940 "[QUERY] Application Insights dependency auto-collection support for Azure.Messaging.ServiceBus"
**Query/Question**
I am using Azure.Messaging.ServiceBus with a new Azure Function integrated with Application Insights.  Should the Service Bus be automatically detected as a dependency by Application Insights and show up in the Application Map?  It isn't listed as supported at [Dependency auto-collection](https://docs.microsoft.com/en-us/azure/azure-monitor/app/auto-collect-dependencies) so I'm

[2021-01-13 17:56] kinelski opened #17943 "[MetricsAdvisor] Investigate failing live tests authentication issue"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=685460&view=results

[2021-01-13 18:18] AlexGhiondea commented on #17937
@fvalencia12 thanks for the detailed response.

While we don't have samples directly in the reference documentation, we do have some samples [here](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storage.Files.DataLake). Would you be interested in contributing a sample there?

[2021-01-13 18:21] pakrym commented on #17742
And these are things configurable on the processor:

 - ConnectionOptions (also in ProducerOptions)
 - RetryOptions (also in ProducerOptions)
 - DefaultStartingPosition (we expose it via a different setting)
 - Identifier
 - LoadBalancingStrategy
 - LoadBalancingUpdateInterval
 - MaximumWaitTime
 - PartitionOwnershipExpirationInterval
 - PrefetchCount
 - PrefetchSizeInBytes
 - TrackLastEnqueuedEve

[2021-01-13 18:42] pranavq212 opened #17945 "[BUG] Blob Storage: blobBaseClient.DownloadToAsync is always returning partial content"
**Describe the bug**
blobBaseClient.DownloadToAsync is always returning partial content & HTTP 206 and destination stream is empty even when blob has data

**Expected behavior**
blobBaseClient.DownloadToAsync should return data in destination stream with HTTP 200
More details & code here
https://stackoverflow.com/questions/65700497/getting-fullcontent-from-blobbaseclient-downloadtoasync

**Actual

[2021-01-13 19:06] reyang commented on #17936
@pakrym depending on whether this is .NET Framework or .NET Core.
In .NET Core we don't have such restriction, it doesn't matter whether `System.Diagnostics.DiagnosticSource` is used by the application or not, and which version is being used.
In .NET Framework there is side-by-side issue and `AppContainsDiagnosticSourceAssembly` will be reported - the behavior has been existing since the ever begi

[2021-01-13 19:18] #17868 closed

[2021-01-13 19:26] JoshLove-msft commented on #16024
We ended up not changing the behavior here. IsClosed only represents whether the user has called CloseAsync or DisposeAsync.

[2021-01-13 19:26] #16024 closed

[2021-01-13 19:29] allenjzhang commented on #17924
@Ofekw, in general, resource definition does not expose ResourceGroup as a property. However, the resource id (FrontDoor.Id) contains the full path to the resource which contains all of the contextual information such as subscription and resource group etc. You can parse the resource group name out using a simple regex.

[2021-01-13 19:29] JoshLove-msft commented on #17010
@yaeldekel, thanks for the question - I'm going to close this out now. Please reopen if you have further questions.

[2021-01-13 19:29] #17010 closed

[2021-01-13 19:35] #17924 closed

[2021-01-13 19:54] sunilprabha opened #17947 "How can I set the metadata of each blob using the uploadasync method"
I am using this class to upload data to  Azure and when uploading the block blob i want to set the metadata of each blob.
Cannot find a method to set the metadata of the blob.
Regards
Sunil
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 025a85b9-4978-0540-b42e-5d2f516001f4
* Version Independent ID

[2021-01-13 20:22] Ofekw commented on #17924
Hey @allenjzhang, thank you for the prompt response.

This is indeed the path we went with - however I'd still urge you consider this feedback. Requiring regex to extract unstructured data from a model in order to satisfy the update path isn't user-friendly and is prone to errors.

For prosperity here's the full code snippet of the workaround:

[code]

[2021-01-13 20:49] jsquire commented on #17940
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-13 20:49] jsquire commented on #17940
@pakrym - If you have any thoughts here, would you be so kind as to share them?

[2021-01-13 20:51] jsquire commented on #17945
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-13 20:52] jsquire commented on #17947
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-13 21:14] lilyjma commented on #11932
Hi, this issue seems to be resolved, so I'm closing it now. If you have more questions, please reopen. Thanks!

[2021-01-13 21:14] #11932 closed

[2021-01-13 21:58] lilyjma commented on #10529
@woutervs Is this still a problem for you?

[2021-01-13 22:03] ShivangiReja commented on #16752
Track-2 SDK automation is enabled for c#. For more details check- https://github.com/Azure/azure-sdk-for-net/pull/17193

[2021-01-13 22:03] #16752 closed

[2021-01-13 22:05] gdryke opened #17952 "Link update for cloud-init on Linux VM?"
Link needs updating I think!
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-automate-vm-deployment
For the "how to use cloud-init" for a linux VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f86194-cf92-a56f-b47d-ac80de2ee313
* Version Independent ID: 648b3b5f-100c-2a52-2037-2113a046a441
*

[2021-01-13 22:12] ShivangiReja commented on #16751
Added a step in the pipeline to publish @autorest/csharp-v3 on npm as autorest expects an npm package. Here is the [PR](https://github.com/Azure/autorest.csharp/pull/957) and here is the [npm package](https://www.npmjs.com/package/@autorest/csharp).

[2021-01-13 22:17] woutervs commented on #10529
I haven't developed on this project anymore as we launched in production (the issue was only local during development) I think it was resolved, or we used a version locally where it worked. So no idea if it still occurs in the latest version.

If you want I can allocate some time to try it again during work hours tomorrow.

[2021-01-13 22:22] ShivangiReja commented on #16751
Now I'm able to generate code using `autorest --use:@autorest/csharp@v3.0.0-beta.20201217.3 --input-file:Inputfile --public-clients:true` command but when I set to `--clear-output-folder:true`, it removes all the customizations because all the customizations are inside the generated folder. I'm working on the fix.

[2021-01-13 22:26] ShivangiReja commented on #16752
[Here](https://github.com/Azure/azure-rest-api-specs/pull/12169/files) we have enabled track-2 sdk automation in `Azure/azure-rest-api-specs` repo.

[2021-01-13 22:28] ShivangiReja commented on #15585
Track-2 SDK automation is enabled for c#. For more details check- https://github.com/Azure/azure-sdk-for-net/pull/17193

[2021-01-13 22:29] ShivangiReja commented on #15585
[Here](https://github.com/Azure/azure-rest-api-specs/pull/12169/files) we have added automation configuration in `Azure/azure-rest-api-specs` repo.

[2021-01-13 22:29] #15585 closed

[2021-01-13 22:34] ShivangiReja commented on #16751
Now I'm able to generate code using `autorest --use:@autorest/csharp@v3.0.0-beta.20201217.3 --input-file:Inputfile --public-clients:true` command but when I set to `--clear-output-folder:true`, it removes all the customizations because currently we put all the customizations inside the generated folder. I'm working on the fix.

[2021-01-13 22:37] amnguye commented on #17937
@fvalencia12 The code snippet you provided uses the v11 library instead of the v12 library. The v11 library is deprecated, therefore we cannot create newer samples with this library.

If you're interested in using our v12 library we have many places with documentation and simpler samples as well.

[Azure.Storage.Blobs](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storag

[2021-01-13 22:47] pakrym commented on #17742
@jsquire what's your opinion on this?

[2021-01-13 22:58] amnguye commented on #17947
Hello! You can set the metadata when uploading a blob by passing the metadata through the `BlobUploadOptions`

Here's the API
[code]

Here's a tiny snippet of how to do so
[code]

[2021-01-13 23:17] weshaggard commented on #15585
@ShivangiReja have any serviced enabled the new generation in the specs repo? I'd like to make sure we have some documentation to point folks at that want to enable that automation and if we don't already we should have an issue (or set of issues) tracking enabling this for those servcies.

cc @AlexGhiondea

[2021-01-13 23:18] JoshLove-msft opened #17958 "[WebJobs/ServiceBus] Update to use sign.snk once we get private key"
The private key was not available in sign.snk that was used to sign the package. We will need to get the private key in order to sign the package now that we have moved to the sdk repo. Currently, we are using the standard SDK snk, but we should switch back to sign.snk to avoid breaking compatibility for upgrading customers.

[2021-01-13 23:22] JoshLove-msft opened #17959 "[WebJobs/ServiceBus] Restore RequiredTargetFrameworks to default for test project"
TestCommon package did not support net461 so I updated the RequiredTargetFrameworks for the test project to just be netcoreapp2.1. We should figure out how to get this package to work with all frameworks and then restore to the default target frameworks.

[2021-01-13 23:44] amnguye commented on #17945
The reason why you get a Partial Content Code 206 is due to the way we are attempting to download the blob. The first request we send to the service to download the blob, we send it with the largest range we can. When we get the result back, it will provide us back the content length, and if we were not able to download the entire blob in one shot, then we continue to download the blob in smaller

[2021-01-14 00:00] Marusyk commented on #17481
@axisc

I got compile time error

when change to
`SubscriptionClient.RegisterSessionHandler(async (message, ct) => await messageHandler(message), options);`

[2021-01-14 00:05] sima-zhu opened #17961 "Clean up the package show up in Github IO "Other" page"
Clean up the package show up in [Other page](https://azure.github.io/azure-sdk-for-net/other.html).

Either have the right service name or make hide=true in csv release page. [Link](https://github.com/Azure/azure-sdk/blob/master/_data/releases/latest/dotnet-packages.csv)
Change service name:
![image](https://user-images.githubusercontent.com/48036328/104527115-d1f88280-55b8-11eb-9615-a41a459eee18.

[2021-01-14 01:50] #17560 closed

[2021-01-14 01:57] hund030 commented on #14749
@xccc-msft It is! Thank you for updates!

[2021-01-14 01:57] #14749 closed

[2021-01-14 02:21] hund030 commented on #14742
@xccc-msft I update my `Microsoft.Azure.Management.Fluent` package from v1.34.0 to latest v1.36.1, then it works.
Thanks for updates!

[2021-01-14 02:21] #14742 closed

[2021-01-14 02:38] sunilprabha commented on #17947
Hello Amadna,
I see your snippet , however don't see in my object metadata property .  Any pointer is appreciated.

[cid:05b286d4-16c6-4fc1-88a4-27386b5056bf]
Regards
Sunil Prabha
404 542 5536
________________________________
From: Amanda Nguyen <notifications@github.com>
Sent: Wednesday, January 13, 2021 5:58 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: sunilprabha <s

[2021-01-14 04:22] nanan1993 commented on #17932
Thanks for your answer!  But, by the way, the versions of code sometimes confused me while working. Maybe you could do something to make it clearer : )

[2021-01-14 04:22] #17932 closed

[2021-01-14 04:31] zsybupt opened #17970 "[QUESTION] Microsoft.Azure.Management.Media: Best practice of AzureMediaServicesClient"
I am wondering why AzureMediaSerivcesClient is not thread-safe, I see HttpClient is used underlying, so I think it should be thread-safe of concurrent api calls to server.
If the design is not thread-safe, so the best practice is to manage HttpClient instances for reuse ourselves and create new AzureMediaServicesClient each time ?

Thanks.

[2021-01-14 06:08] pranavq212 commented on #17945
@amnguye As you suggested, I added condition for HTTP 200 or  HTTP 206 too, it is working now.

[2021-01-14 06:08] #17945 closed

[2021-01-14 07:16] ershadnozari opened #17971 "[QUESTION] Guidance on how to best register the EventGridClient with DI in a .NET 5.0 Worker Service"
I'm using the EventGridClient from the Microsoft.Azure.EventGrid NuGet package to publish events to an Azure Event Grid Topic. I understand that worker services are registered with singleton lifetime. I'm looking for guidance on how to best register the EventGridClient with the DI container in a worker service? I'm using a .NET 5.0 worker hosted in a windows services.

DI registration (not sure if

[2021-01-14 09:58] CarlosLanderas opened #17972 "[BUG] Missing relationships in Digital Twin API relationships pagination"
**Describe the bug**

Digital Twin data plane api is not creating pages for all twin relationships. This is not a SDK bug, is a problem coming directly from the digital api service itself

**Expected behavior**

I have more relationships created than the ones that appear throught the api

**Actual behavior (include Exception or Stack Trace)**

I am only offered some of the relationships, and then

[2021-01-14 14:39] jsquire commented on #17972
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-14 14:42] jsquire commented on #17971
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-14 14:44] jsquire commented on #17970
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-14 14:47] jsquire commented on #17952
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-14 15:15] jsquire commented on #17742
This requires a partition identifier.   Idempotent publishing can only happen directly to a partition.   You can't send to the gateway - so no automatic partition routing or partition keys.

[2021-01-14 15:19] jsquire commented on #17742
I don't think so.   The feature is limited in its scope - idempotency is only valid in the context of one operation.  When you call `SendAsync` it becomes idempotent across retries.  In the case where that call fails, including if it timed out across all retry attempts, the next send is treated as a new operation.

Given the rigid nature of the responsibilities placed on the caller and the minimal

[2021-01-14 15:40] jsquire commented on #17742
From the processor perspective, my thoughts are:

We probably want:

- _**Identifier**_
This can be helpful for debugging/logging use.  Not essential, but worth including.

- _**PrefetchCount**_, _**PrefetchSizeInBytes**_
These are two important knobs for tuning.  They can help improve throughput for cases where the eventing patterns are different.  For example, very frequent small events and less

[2021-01-14 15:47] jsquire commented on #17742
Across the clients, I think that the `ConnectionOptions` and `RetryOptions` are really the most important point.   The customer feedback that I've seen has been primarily focused around tuning timeout values and configuring the transport to use WebSockets or a proxy.

[2021-01-14 16:12] pakrym commented on #17569
Let's keep it open until we fix occurrences in the C# repo

[2021-01-14 17:49] pakrym commented on #14129
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=687386&view=ms.vss-test-web.build-test-results-tab&runId=15992488&resultId=101549&paneView=debug

[2021-01-14 18:07] ShivangiReja commented on #15585
I'm planning to enable track-2 sdk automation for all the services. If the service is new or the sdk doesn't exists in azure-sdk-for-net repo, it won't affect anything. It will only generate code for existing swagger updates.

[2021-01-14 18:40] coppercosmo commented on #17836
Bump

[2021-01-14 18:40] amnguye commented on #17947
Hi could you provide me the exact code snippet you are doing in order to upload the metadata. Also how are you checking for the metadata? Are you calling `GetProperties` ?

[2021-01-14 19:04] seanmcc-msft opened #17978 "[FEATURE REQ][Core] ClientDiagnostics.ExtractFailureContent() does not support generating message, ErrorCode, and additionalInfo from headers"
**Library or service name.**
What library or service is this request related to?
Azure.Core

**Is your feature request related to a problem? Please describe.**
[ClientDiagnostics.ExtractFailureContent()](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs#L43) does not provide the response or response headers to generate `message`, `errorCode`

[2021-01-14 19:04] seanmcc-msft opened #17979 "[FEATURE REQ][Core] ClientDiagnostics.ExtractFailureContent() does not allow generating message, errorCode, and additionalInfo from response headers."
**Library or service name.**
What library or service is this request related to?
Azure.Core

**Is your feature request related to a problem? Please describe.**
[ClientDiagnostics.ExtractFailureContent()](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs#L43) does not provide the response or response headers to generate `message`, `errorCode`

[2021-01-14 19:06] pakrym commented on #17936
Closing as by-design. Azure.Core requires System.Diagnostics.DiagnosticSource to produce events that are consumed by AppInsights, we can't drop a dependency and provide distributed tracing features at the same time.

[2021-01-14 19:06] #17936 closed

[2021-01-14 19:33] #17569 closed

[2021-01-14 20:34] allenjzhang commented on #17836
With `microsoft.insights` shows up as a registered provider in my sub, I was **unable** to repro this issue.

Here are some suggestions:
1. Verify the subscription id is correct
2. Reregister the provider. You can click on re-register while selecting the `microsoft.insights` in the portal.

If you still not having any luck, please let us know. I have updated the area to ARM.

[2021-01-14 20:44] ershadnozari commented on #17971
@jsquire Thanks for forwarding this to your team. Would appreciate a response highly as we are going to use this approach for a high scale messaging/eventing scenario.

[2021-01-14 21:09] alan0609 commented on #11767
I came across this looking for answers on a similar scenario with the Azuse.Messaging.ServiceBus SDK (7.0.1).  I also see a separate Message entity off from the main ServiceBusSender.Send entity as @sebader is seeing with Event hubs.

[2021-01-14 22:31] StannieV commented on #11590
Just tested it, problem solved in version 12.8.0!

[2021-01-14 22:49] pakrym opened #17986 "Re-enable Azure.Core HTTPS tests on MacOs"

[2021-01-14 22:50] chamons opened #17987 "Live Tests are inconsistent in name (*LiveTests.cs or *LiveTest.cs)"
Today we are inconsistent:
- The template is singular: ./template/Azure.Template/tests/MiniSecretClientLiveTest.cs
- However, only 4 non-template test files exist
- 78 non-synapse tests use LiveTests.cs

Discussions on Teams suggest we should fix the template to match practice.

[2021-01-14 22:55] pakrym commented on #17978
Closing as a dup of https://github.com/Azure/azure-sdk-for-net/issues/17979

[2021-01-14 22:55] #17978 closed

[2021-01-14 23:17] lilyjma commented on #10529
Thanks for the update @woutervs! I just wanted to make sure the issue has been resolved.
@mattosaurus, are you still experiencing the problem?

[2021-01-14 23:35] Mohit-Chakraborty opened #17990 "Add link to migration guide under sdk/search"
Add link to https://docs.microsoft.com/en-us/azure/search/search-dotnet-sdk-migration-version-11

[2021-01-14 23:48] seanmcc-msft commented on #17978
@pakrym sorry for the duplicate

[2021-01-15 00:01] yvgopal commented on #15399
We will not fix it in the service in the near future. So closing the issue.

[2021-01-15 00:01] #15399 closed

[2021-01-15 00:58] pakrym commented on #17527
This issue would be fixed in the next Azure.Core release in the beginning of February. You can use steps from https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/CHANGELOG.md#added-2 as a temporary work-around.

[2021-01-15 01:28] heaths opened #17992 "Resolve architect board feedback for Key Vault"
Here are a few things that came up during the [archboard review](https://github.com/Azure/azure-sdk/issues/2221). Note that there is a discussion about whether to expose a `LocalCryptographyClient` or make it a "mode" of `CryptographyClient`, but that should only apply to .NET and Java. That is not listed below as prototyping is necessary. But #18575 is tracking that work.

- [x] Add service versi

[2021-01-15 05:16] mikeharder opened #17994 "[Perf] Verify Storage Blob results did not change when tests were migrated"
Verify Storage Blob results did not change when tests were migrated from <https://github.com/mikeharder/azure-sdk-perf/tree/master/net/Azure.Storage.Blobs.PerfStress> to <https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storage.Blobs/perf/Azure.Storage.Blobs.Perf>.

[2021-01-15 05:20] ahamad-MS commented on #15856
Great.. Thanks @TMPhoenix  for confirming .. I am closing this issue now as resolved.

thanks

[2021-01-15 05:20] #15856 closed

[2021-01-15 05:33] PhoenixHe-msft commented on #15585
Basically, you need to add "azure-sdk-for-net-track2" under the swagger-to-sdk section for all the readme.md. Do you think you want to have an option in sdk automation to enable it for all the readme.md?

[2021-01-15 06:11] sunilprabha commented on #17947
Hi,
Here is the method, it is posting the files, however, the problem is i don't see a way to set the meta data without getting the reference to the blob .What am I missing.

using Microsoft.Azure.Storage.DataMovement;
using Microsoft.Azure.Storage;
using Microsoft.Azure.Storage.Blob;

public static async Task TransferLocalFileToAzureBlob(Microsoft.Azure.Storage.CloudStorageAccount account)

[2021-01-15 06:30] sunilprabha commented on #17947
Hi , found the solution , I was missing few lines of code to make it works.  Thanks for the help and support. You may close the ticket.

 blob.FetchAttributes();
                IDictionary<string, string> blobdetails = new Dictionary<string, string>();

                blobdetails.Add("Canbedeleted", "False");

            blobdetails.Add("testdate", DateTime.Now.ToShortDateString());

[2021-01-15 09:14] CarlosLanderas commented on #17972
Just to add more information, I'm using Azure.DigitalTwins.Core 1.2.0

[2021-01-15 09:51] mattosaurus commented on #10529
Hi, I changed my code to access Azure blob storage using a SAS key rather than MSI so I'm unsure if this has been resolved or not.

[2021-01-15 09:58] as-99 commented on #17449
We're currently using Azure.Search.Documents v11.1.1 (latest stable) and are having this issue, is it resolved in the latest beta (v11.2.0-beta.2)?

The documentation sample for this still doesn't seem to actually match what we're seeing, there are no overloads to receive customHeaders either.

We've implemented a custom pipeline policy and managed to get the search-id returning there, but that do

[2021-01-15 10:26] alan0609 commented on #17940
Just to add that I've found removing Microsoft.ApplicationInsights.WorkerService 2.16.0 from my project allowed the dependency auto-collection support to start working with Azure.Messaging.ServiceBus 7.0.1 so there seems to be an incompatibility of some kind there.

[2021-01-15 12:54] ssiltanen opened #17998 "[BUG] Azure.Data.Tables sas token does not allow access to table entity"
**Describe the bug**
Sas tokens created with Azure.Data.Tables do not work when used to access table entities. However using sas token created with Microsoft.Azure.Cosmos.Table works when used with this library and example code. Therefore it seems that the issue lies within the sas created with this library.

**Expected behavior**
1. Create Read permission sas token
2. Fetch table entity with abov

[2021-01-15 13:29] jsquire commented on #17998
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-15 14:32] feisler opened #18000 "[BUG] Azure.Storage.Blobs#CreateIfNotExistsAsync throws exception if the BLOB container already exists"
**Describe the bug**
The method Azure.Storage.Blobs.CreateIfNotExistsAsync() throws an exception with:
* Status: 409 (The specified blob already exists.)
* ErrorCode: BlobAlreadyExists
However, it is suppost to do nothing if the BLOB container already exists.

**Expected behavior**
Nothing.
Therer should just be no change.

**Actual behavior (include Exception or Stack Trace)**
An Exception is thr

[2021-01-15 14:49] feisler commented on #18000
Sorry, pasted the wrong exception in Actual Behavior. Here is the  correct one:
[code]

[2021-01-15 14:55] JoshKeegan opened #18001 "[FEATURE REQ] Microsoft.Azure.ServiceBus - Separate OperationTimeout to allow for consistent retries"
**Library or service name.**
Microsoft.Azure.ServiceBus

**Is your feature request related to a problem? Please describe.**
I am trying to use the `TopicClient` to send messages with a custom `RetryPolicy` to do something that I expected to be simple: I want to retry failures (at least ones that should be retried) 3 times, with a 3 second timeout for each attempt, and a 3 second delay between each

[2021-01-15 15:35] christothes commented on #17998
@ssiltanen I can reproduce this, but I'm not sure why this works for the Microsoft.Azure.Cosmos.Table client.

In my testing, the above example works if you either set the StartsOn value a couple seconds in the past, or sleep a couple seconds in the script before attempting to use the token. This seems to indicate that the service is being a bit conservative with enforcing the start time, but that

[2021-01-15 15:49] pakrym commented on #17742
Thank you, Jesse, for the context. After all the discussion, I'm leaning towards what Josh proposed and copying the applicable settings to the EventHubOptions class.

[2021-01-15 16:03] psiservices-dbrink opened #18002 "[QUERY] End to end tracing via Azure.Messaging.ServiceBus"
**Query/Question**
Should Azure.Messaging.ServiceBus support correlation between pub and sub?  Specifically, when viewing the end-to-end transaction details in Application Insights, should I be able to view the complete code path from sending the message to a topic continuing through processing the messages by subscribers?

I built a simple .NET 5 web application that sends and receives topic/subs

[2021-01-15 17:29] snapfisher commented on #17874
Ping.  I hope silence != "can't be done" :-)

[2021-01-15 17:32] kinelski opened #18004 "[MetricsAdvisor] Investigate flaky live tests"
- GetDataFeeds: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=688945&view=logs&j=9e4810bd-6c8e-5aff-29e0-d5fb4fb1935f&t=aebe1dc3-650d-52a7-62d2-615892e27a94&l=284
- GetHooksWithMinimumSetup: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=688945&view=logs&j=45781f16-5afd-5a21-8819-a80ba864d80d&t=c2d7e93d-4dab-5a67-f90b-60eafdbcd41c&l=491
- GetAlertConfigurations:

[2021-01-15 17:43] amnguye commented on #17947
Hi, I just wanted to point out that you're using the v11 library and not the v12 library. I would suggest using `Azure.Storage.Blobs` because the library version you are currently using is deprecated. The original snippet of code you provided does not include the snippet I included at all.

As a last minute suggestion, I would still go with the first suggestion of setting the metadata when you're

[2021-01-15 17:43] #17947 closed

[2021-01-15 18:05] Drewm3 commented on #15597
@jaylabell, could you please work with @bilaakpan-ms to determine if this request can be done by the compute .NET SDK team, or if this is something that needs support from the general Azure .NET SDK team to support. Also, please update the flag on this to clarify if this is a bug or if this is a feature request.

[2021-01-15 18:58] maririos commented on #17800
Also, proposing to have opinion mining always enabled. How does that affect our current, `IncludeOpinonMining` property?

[2021-01-15 18:58] ShivangiReja commented on #15585
Yes, we need to add "azure-sdk-for-net-track2" in all the readme.md files in order to enable track-2 SDK automation.

That would be great but how are you planning to provide that option?

[2021-01-15 19:14] weshaggard commented on #15585
@ShivangiReja do you have an issue tracking that work that I can reference? If not can you please create one and we can discuss that plan there?

Also before we start putting the name "azure-sdk-for-net-track2" in a bunch of readme's I'd like to explore a couple options for renaming that first. I left some a comment at https://github.com/Azure/azure-rest-api-specs/pull/12169/files#r558531220.

[2021-01-15 19:29] ShivangiReja opened #18012 "Enable track-2 SDK automation for all the SDKs in azure-rest-api-specs repo"
Enable track-2 sdk automation for all the services in the specs repo. If the service is new or the sdk doesn't exists in azure-sdk-for-net repo, it won't affect anything. It will only generate code for existing swagger updates.

For more details: https://github.com/Azure/azure-sdk-for-net/issues/15585

[2021-01-15 19:31] ShivangiReja commented on #18012
CC: @weshaggard @PhoenixHe-msft

[2021-01-15 19:32] ShivangiReja commented on #15585
@weshaggard Created an issue [here](https://github.com/Azure/azure-sdk-for-net/issues/18012) to track this.

[2021-01-15 19:41] #17990 closed

[2021-01-15 19:49] #12645 closed

[2021-01-15 20:30] #16732 closed

[2021-01-15 21:00] jsquire commented on #18001
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-15 21:28] kurtzeborn commented on #13458
This is an issue that library owners should be able to address by following the documentation we've created for these types of issues [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/283/Docs.MS-Primer?anchor=how-do-i-actually-update-the-toc%3F).  Please reach out to @danieljurek or @scbedd if you need assistance.

[2021-01-15 21:29] cgwrench opened #18017 "Availability of SQL management SDK"
I wanted to try out the SQL management SDK. The [README](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/sqlmanagement/Azure.ResourceManager.Sql/README.md) states that this is available on NuGet. However, this doesn't seem to be the case. Should this be available on NuGet? If not, when can we expect to see a preview release of this SDK?

[2021-01-15 21:31] jsquire commented on #18017
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-15 21:32] kurtzeborn commented on #17573
This is an issue that library owners should be able to address by following the documentation we've created for these types of issues [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/283/Docs.MS-Primer?anchor=how-do-i-actually-update-the-toc%3F).  Please reach out to @danieljurek or @scbedd if you need assistance.

[2021-01-15 21:34] suhas92 opened #18018 "[FEATURE REQ] Surface the property Length in textanalytics."
**Library or service name.**
What library or service is this request related to?

TextAnalytics
https://github.com/Azure/azure-sdk-for-net/pull/17968#pullrequestreview-569576227

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

@maririos

[2021-01-15 21:34] kurtzeborn commented on #17576
This is an issue that library owners should be able to address by following the documentation we've created for these types of issues [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/283/Docs.MS-Primer?anchor=how-do-i-actually-update-the-toc%3F).  Please reach out to @danieljurek or @scbedd if you need assistance.

[2021-01-15 22:13] psiservices-dbrink commented on #18002
Quick update based on some additional research.

If I start an activity in my ProcessMessage callback and set the parent id to the Diagnostic-Id I get end to end tracing.

`
            var activity = new Activity("ProcessMessage");
            if (arg.Message.ApplicationProperties.TryGetValue("Diagnostic-Id", out var parentId))
            {
                activity.SetParentId(parentId.ToString(

[2021-01-15 22:25] jsquire commented on #17474
## Notes for Implementation

It looks as if the [legacy blob prefix](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs.Shared/src/BlobCheckpointStore/BlobsCheckpointStore.cs#L52) is not a stable value.  `EventProcessorHost` allows it to be [customized](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Microsoft.Azure.EventHubs.Processor

[2021-01-15 22:27] jsquire commented on #17474
I had an initial discussion on this topic with @ramya-rao-a, who wanted to give this further consideration, discuss at the leads level, and circle-back.   I'm going to reassign to Ramya for now and ask that she assign back to me when a decision has been reached.

[2021-01-15 22:57] lilyjma commented on #10529
I see. Thanks for the updates! I'll close the issue for now. If there's more question regarding to the problems mentioned in the issue, please reopen.

[2021-01-15 22:57] #10529 closed

[2021-01-15 23:06] axisc commented on #17884
@johnknoop  can I ask you to open a support ticket? that would give us a chance to review your backend logs and identify if something needs to be triaged.

[2021-01-15 23:10] #16742 closed

[2021-01-16 02:12] TheOnlyWei opened #18024 "[BUG] Microsoft.Rest.ClientRuntime Dependency Loop"
**Describe the bug**
Please provide the description of issue you're seeing.

Installing the following package:
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/

NOTE: the command is wrong, the parameter -Version should be -RequiredVersion.

After entering the command, I get a dependency loop error:

[code]

**Expected behavior**
What is the expected behavior?

Should not have an error.

[2021-01-16 15:47] isaacabraham commented on #14369
Hi. Just checking with this - I'm seeing this as well but I'm not sure if I'm doing something wrong (trying to hand-craft an HTTP message to PUT a blob into the storage emulator). Does this mean that SAS tokens are currently broken on the storage emulator?

[2021-01-16 17:06] jsquire commented on #18024
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-16 18:13] JeffEmery opened #18025 "Markup mistake in Remarks section"
The Remarks section has a mistake where part of the sentence is inside a code block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47f3ba00-15b2-f56d-2420-dfd5dec94147
* Version Independent ID: 32340b9d-e5e0-052b-10c8-d4fc4d68f4df
* Content: [ServiceBusMessage.ScheduledEnqueueTime Property (Azure.Messaging.ServiceBus)

[2021-01-16 18:47] jsquire commented on #18025
Hi @JeffEmery.  Thank you for your feedback.   We'll get this patched up.

[2021-01-16 18:49] jsquire commented on #18025
@scbedd:  I'd appreciate your thoughts here.   The MS Docs content is definitely malformed, but the [code](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives/ServiceBusMessage.cs#L381) comments are valid.   The only difference that I can see from other areas is that the `<remarks>` tags are inline with a multi-line comment rather than be

[2021-01-16 21:02] johnknoop commented on #14038
Hi @axisc

I'm not sure I understand what you mean.

I have the following entities:

- Topic: `mytesttopic`, which has one subscription: `input_subscription`
- Topic: `output_1`
- Topic: `output_2`
- Queue: `transferqueue`

I'm trying to receive sessions from `input_subscription` and for each received message:
1. Send a new message to `output_1` (via `transferqueue`)
2. Send another message to `ou

[2021-01-16 21:06] johnknoop commented on #17884
@axisc Sure! You mean a support ticket with Azure, or do you mean here at GitHub?

[2021-01-17 09:33] sireza commented on #17734
Using `TryTimeout` of 15 seconds doesn't seems to have any major drawback so far. I hope this gets fixed in future version though, relying on a timeout doesn't seem like an elegant solution. Also, don't remember seeing this behaviour in previous iterations of the library?

[2021-01-17 16:33] #12555 closed

[2021-01-17 17:57] PunzunLtd commented on #17235
@schaabs Using the `DefaultCredentials` with `VisualStudioTenantId` and excluding the shared token cache solved the problem locally. I'll close this once I verify it works in the DevOps pipeline.

That, however, will have to wait until I figure out what has changed getting keys from Key Vault (as opposed to secrets).

[2021-01-17 18:42] aarondandy commented on #17734
I made a minimum reproduction of this assuming I had triggered some fringe corner case with my usage. After debugging for a bit and finding the cause I found this issue (wish I did a better search first 😅). Finding that this was expected behavior was a bit shocking and I hope you all change your view on this from being expected behavior to being a limitation.

Regarding the workaround of changing

[2021-01-17 19:22] harisubramaniam1 opened #18028 "[QUERY] Azure.Storage.Blobs and TokenCredential - Reuse of existing Access Tokens"
**Query/Question**
Currently I have a public client application. I am able to log the user in interactively through AAD tenant.
I also have a Azure blob storage configured and it is protected using AAD. To work with the Storage blob, I use **Azure.Storage.Blobs 12.8.0** and **BlobServiceClient**  I need to use the same access token and pass it to **BlobServiceClient** so that I can re use the Acce

[2021-01-17 20:03] pharring commented on #17432
@schaabs

Yes, that's exactly what I proposed. For simplicity sake, I would call it every time the certificate is used. We can then supply default policy classes (implementations of IX509Certificate2Provider) to add features like caching and refresh.

As I've mentioned, we should be clear about ownership of the X509Certificate2 object -- who calls Dispose?

[2021-01-17 23:05] mitchdenny opened #18030 "Azurite installation reliability"
We are seeing reliability issues installing Azurite from NPM. Example build failures:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=687931&view=logs&jobId=1e00682f-6081-5348-8da2-7d601664b2e3&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3

https://dev.azure.com/azure-sdk/public/_build/results?buildId=687906&view=logs&jobId=a29a9301-eb24-55e3-7f41-428a64e7d719&j=a29a9301-eb24-55e3-7f41-428

[2021-01-18 02:12] abatishchev opened #18031 "[BUG] EnvironmentCredential kicks is when environment variables are empty string?"
**Describe the bug**

Per [the doc](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet) for  `DefaultAzureCredential` the order of the underlying credentials is the following:

1. EnvironmentCredential
2. ManagedIdentityCredential

What means that if the former kicks-in but fails the the latter would never kick-in and be tried. And that's what appar

[2021-01-18 04:07] petro2050 opened #18033 "[BUG] CreateIfNotExistsAsync fails intermittently"
I keep getting the below exception intermittently. This is happening when I invoke `CreateIfNotExistsAsync` on `BlobContainerClient`. The container name has a random Guid in it, so it should be a unique name every time the code is executed. I have no idea why I'm getting an `InvalidHeaderValue` error code. I don't set this header anywhere in my code.

[code]

[2021-01-18 08:23] ssiltanen commented on #17998
@christothes

The format of the working sas made with Microsoft.Azure.Cosmos.Table:
`"sv=2017-07-29&tn=sastest&spk=123&epk=123&sig=<sig>&spr=https&st=2021-01-18T07%3A57%3A42Z&se=2021-02-17T07%3A57%3A42Z&sp=r"`

After reading your reply, I tried both removing the start time and setting it back in time 1 minute but I was unable to make either work. Here the setups.

[code]

Both sas tokens results t

[2021-01-18 12:15] EnricoMassone opened #18035 "Azure service bus .NET sdk raises OperationCanceledException from time to time"
Hi all,

I'm working with a .NET core **3.1** worker service application.  We are referencing the **Microsoft.Azure.ServiceBus** nuget package version **5.1.0**. The application is deployed as a pod inside a kubernetes cluster. We use Azure Kubernetes Service (AKS) to manage our cluster.

This application is meant to listen to messages published to an Azure Service Bus **topic** by another applica

[2021-01-18 15:30] jsquire commented on #18028
//cc: @schaabs, who may have some thoughts.

[2021-01-18 15:30] jsquire commented on #18028
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-18 15:33] jsquire commented on #18031
Thank you for your feedback, and for your contribution.  Tagging and routing to the team member best able to assist.

[2021-01-18 15:34] jsquire commented on #18033
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-18 15:36] jsquire commented on #18035
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-18 15:36] jsquire commented on #18035
//fyi:  @JoshLove-msft

[2021-01-18 15:38] jsquire commented on #18002
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-18 15:54] yviouswilliamous commented on #9828
Thank you, I know how to solve the problem now. I'll use this notation `$filter=tags/any(tag: tag/value eq 'services d''investissement')` or the moment. I'll try to implement `search.in` another time.

[2021-01-18 16:17] EnricoMassone commented on #18035
@jsquire many thanks. Let me know if you need any further detail to carry on the investigation.

[2021-01-18 18:58] kinelski commented on #17943
Fixed with the help of the EngSys team.

[2021-01-18 18:58] #17943 closed

[2021-01-18 20:34] paolamvhz commented on #17066
Hello Team,

We tried using the [ExcludeFromCodeCoverage] but this is not viable as we will need to do the rework on the generated files every time we regenarate the code or if there is a change in the server side. I see a comment from heath but not so sure what will be the best approach so we do not have to rework each time we regenerate the code.

[2021-01-18 21:52] JoshLove-msft commented on #17734
Yes, if your queues are often empty, this would mean that the processor would end up doing more 4x as many receive requests over a given period of time, which would impact the number of operations you are doing against your namespace and could subject you to throttling if you are doing more than 1000 operations per second (https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-th

[2021-01-19 00:56] PunzunLtd commented on #17235
Welp, it completely failed in the Azure DevOps Pipeline. The identity the Pipeline runs as has had access to the affected key vaults for a long time. So...thoughts? I'll have to debug this tomorrow.

[code]

[2021-01-19 03:18] reza-esfandyari opened #18038 "[BUG] [Servicebus|Azure.Messaging.ServiceBus] CreateMessageBatchAsync does not calculate the size correctly"
Here is the sample code:
I am not sure if the method is not calculating the size correctly or there is some mismatch between the way that CreateMessageBatchAsync and SendMessagesAsync validate the size

[code]
![image](https://user-images.githubusercontent.com/9850812/104983054-9e12c800-59d1-11eb-86c3-817a5e6a1020.png)

![image](https://user-images.githubusercontent.com/9850812/104983111-ba166980-

[2021-01-19 03:31] gheibia opened #18039 "[BUG] Upgrading "Azure.Core" breaks existing code using "IfModifiedSince" header"
**Describe the bug**
Setting `IfModifiedSince` through `BlobRequestConditions` when downloading a blob throws an exception after upgraded `Azure.Core` NuGet

**Expected behavior**
To download the blob fulfilling the condition without exception

**Actual behavior (include Exception or Stack Trace)**

Stack Trace:

[code]

**To Reproduce**

Here is the snippet:

[code]

**Environment:**
 - Name and

[2021-01-19 03:57] PunzunLtd commented on #17235
OK, I added the managed identity client ID of the service principal in the pipeline variables as AZURE_CLIENT_ID, and got the same result.

[2021-01-19 05:58] JoshLove-msft commented on #18038
@reza-esfandyari, thanks for submitting the issue. Any chance you can include the logic behind your GenerateMessage method? I haven't been able to repro the issue when setting a message body and application properties.

[2021-01-19 08:42] stmax82 opened #18040 "Documentation for apiVersion parameter"
Some methods require the "apiVersion" parameter. Could you please provide some more documentation on why this parameter is required and how to obtain a list of valid values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53d032ca-ee39-5b8f-444e-4a02281fb809
* Version Independent ID: bdf8d598-5ed1-f56b-0d4b-da61e41745ae

[2021-01-19 13:20] dancundy commented on #8658
This worked for me.

[2021-01-19 14:07] nazimkov opened #18041 "[BUG] LUIS Authoring adding example throws exception"
**Describe the bug**
The adding example operation  `Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.Examples.AddWithHttpMessagesAsync` method throws `Microsoft.Rest.SerializationException` exception. With message:
[code]

Seems like an issue with response deserialization to `LabelExampleResponse` class, caused by the type of [ExampleId](https://github.com/Azure/azure-sdk-for-net/blob/f3f

[2021-01-19 14:50] reza-esfandyari commented on #18038
Hi @JoshLove-msft, Thanks for getting back to me quickly, here is the content

[code]

[2021-01-19 14:54] jsquire commented on #18039
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-19 14:55] jsquire commented on #18040
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-19 14:57] jsquire commented on #18041
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-19 15:11] jsquire commented on #17066
Hi @paolamvhz.   So that we can be sure that the right folks see them and they don't get lost,  would you please be so kind as to file a separate issue to track your last comment?

I'm going to close this out again; this issue was intended to track the work needed to enable the code coverage filtering only.

[2021-01-19 15:11] #17066 closed

[2021-01-19 15:30] johnknoop commented on #14038
@shankarsama do you have any idea why this is happening? ⬆

[2021-01-19 16:00] pakrym commented on #18039
@kasobol-msft @seanmcc-msft you might want to add some coverage to storage for this as well.

[2021-01-19 16:02] pakrym commented on #18039
@gheibia, a fix for this would be included in the next Azure.Core release. Until then you can use a workaround from https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/CHANGELOG.md#added-2

[2021-01-19 16:19] shibayan opened #18044 "[FEATURE REQ] Better error handling of Data Lake Storage write errors"
**Library or service name.**

`Azure.Storage.Files.DataLake` v12.5.0

**Is your feature request related to a problem? Please describe.**

When writing a content using `OpenWriteAsync(false)`, if a 500 error occurs in the flush process, the optimistic concurrency control seems to fail with a 412 error returned as follows.

[code]

If flush is returning a 500 error, but the possibility exists that t

[2021-01-19 16:40] christothes commented on #17998
@ssiltanen Thank you - I see the problem now. We were generating the wrong query string argument names for the `srk` and `epk`. I'll have a fix out for this shortly.

[2021-01-19 16:56] coppercosmo commented on #17927
Any update on this?

[2021-01-19 17:08] coppercosmo commented on #17836
@allenjzhang Does re-registering a resource provider break existing resources that depend on that resource provider?

[2021-01-19 17:18] kasobol-msft commented on #18039
@pakrym we have this test https://github.com/Azure/azure-sdk-for-net/blob/e2fad94b95fa2a27a73af758e4e2c39b724c5949/sdk/storage/Azure.Storage.Blobs/tests/BlobBaseClientTests.cs#L866-L871 . Seems that it should hit problematic case. I'm wondering how did it pass. Do we use right transport in test runs?

[2021-01-19 17:28] jsquire commented on #18044
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-19 17:28] kasobol-msft commented on #18039
Looks like this is the reason why that test didn't catch it:
https://github.com/Azure/azure-sdk-for-net/blob/016c7e031e2728b6c83791c6c66a188f0df65cc5/sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs#L186-L192

[2021-01-19 17:29] pakrym commented on #18039
Yeah, just found that as well.

[2021-01-19 17:32] pakrym commented on #18039
I wonder if we should disable the default timeouts as we already handle it in the pipeline.

[2021-01-19 17:34] #18039 closed

[2021-01-19 17:34] kasobol-msft commented on #18039
https://github.com/Azure/azure-sdk-for-net/pull/9095#discussion_r357436104 @JoshLove-msft is this still a case ?

[2021-01-19 17:39] kasobol-msft opened #18046 "[Storage] Use correct http transport in storage tests."
Follow up on https://github.com/Azure/azure-sdk-for-net/issues/18039 .
We should be using `HttpWebRequestTransport` in storage tests on NET FX. Or potentially remove [this customization](https://github.com/Azure/azure-sdk-for-net/blob/016c7e031e2728b6c83791c6c66a188f0df65cc5/sdk/storage/Azure.Storage.Common/tests/Shared/StorageTestBase.cs#L186-L192) and use defaults (as now timeouts are handled by

[2021-01-19 17:40] pakrym opened #18047 "Consider disabling default timeouts in transports"
We handle most timeout in Azure.Core pipeline using the `NetworkTimeout` setting.

Transport timeouts are hard to change consistently and prevent us from testing using the default transport across the board.

[2021-01-19 17:40] pakrym commented on #18039
Filed https://github.com/Azure/azure-sdk-for-net/issues/18047

[2021-01-19 17:40] pakrym commented on #18046
Related https://github.com/Azure/azure-sdk-for-net/issues/18047

[2021-01-19 17:43] #17998 closed

[2021-01-19 17:58] #16758 closed

[2021-01-19 17:59] #16726 closed

[2021-01-19 18:06] pakrym opened #18049 "Avoid extra string.Joining in header enumeration"
It causes unneeded allocations.

[2021-01-19 18:22] amnguye commented on #18000
Hi,

I was not able to reproduce the issue you are running into. I was able to recreate the scenario where the `ContainerAlreadyExists` is thrown by the service, but the SDK was able to catch the exception.

Is your project running in like where the exception settings are set to stop at all exceptions thrown even if they're caught (e.g. ASP NET Core project). We had a customer run into a similar [

[2021-01-19 18:31] ssiltanen commented on #17998
@christothes  Wasn't that issue fixed already here https://github.com/Azure/azure-sdk-for-net/issues/17535

[2021-01-19 18:53] heaths commented on #17235
@schaabs looked like MSI didn't response, or an endpoint wasn't even created:

[code]

@PunzunLtd you should unset the environment variable. That should improve startup time since then, I would hope, none of the environment variables that `EnvironmentCredential` would require should obviate it trying to fetch a token.

[2021-01-19 18:55] christothes commented on #17998
That issue was that the values were transposed - but it turns out they were also totally the wrong strings :)

[2021-01-19 18:57] kinelski opened #18051 "[MetricsAdvisor] Add an AAD section to the README"

[2021-01-19 18:59] JoshLove-msft commented on #18038
It looks like the issue is that we are not reserving space for properties that go on the batch envelope, namely the messageId, sessionId, and partitionKey from the first message in the batch. Thanks @jsquire for pointing this out and thank you @reza-esfandyari for submitting the issue! We will get this patched up.

[2021-01-19 19:14] mikeharder commented on #17994
**scenario**|**size**|**parallel**|**azure-sdk-perf**|**azure-sdk-for-net**
-----|-----|-----|-----|-----
download|10240|32|6591|6645
upload|10240|32|5294|5438
getblobs|5|32|7760|7781

[2021-01-19 19:14] #17994 closed

[2021-01-19 19:28] schaabs commented on #17235
@PunzunLtd `ManagedIdentityCredential` only authenticates on azure hosts which have a managed identity endpoint. For this to be the case in Azure Dev Ops, I believe you would need to provide your own agents which are Azure VMs with a managed identity. So just because the pipeline can access the key vault, I don't think that this means that all agents have a managed identity endpoint. Perhaps my un

[2021-01-19 19:55] reza-esfandyari commented on #18038
Thanks, guys.
any estimate on when I can have the fix @JoshLove-msft? Are you going to update this issue ticket?

[2021-01-19 20:14] allenjzhang commented on #1846
This has been an old thread. From what I can gather, that API is EOL. I do see new APIs under [Consumption](https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet). You can try out the SDK [here](https://www.nuget.org/packages/Microsoft.Azure.Management.Consumption/).

[2021-01-19 20:14] #1846 closed

[2021-01-19 20:50] PunzunLtd commented on #17235
@schaabs Thanks for looking at this. I'm a little frustrated because all of this works just fine in `Microsoft.Azure.KeyVault` 3.0.5.

So is the best way to proceed to add an Azure client secret to the DevOps pipeline environment? A side effect of all of this is that development, CI, and production (_i.e._, on an Azure App Service) will all use different authentication methods, which has the poten

[2021-01-19 21:16] Mohit-Chakraborty opened #18055 "[BUG] Azure.Storage.Files.Shares.ShareFileClient fails when downloading a 1GiB file"
**Describe the bug**
Using a console app to download a 1GiB file by calling `Azure.Storage.Files.Shares.ShareFileClient.DownloadAsync()` results in the server returning an error after running for a while.
The same error occurs when calling `Azure.Storage.Files.Shares.ShareFileClient.Download()`.

**Expected behavior**
File is downloaded successfully

**Actual behavior (include Exception or Stack T

[2021-01-19 21:18] pakrym opened #18057 "[WebJobs/EventHubs] Verify that we have correct processing strategy default"
We use balanced right now. For a large partition count, sometimes, it takes a while to grab ownership of the partition with messages. It might be an expected behavior but we need to verify.

[2021-01-19 21:26] seanmcc-msft opened #18058 "[Storage][Blob Batch] SetBlobAccessTier_Basic_AccountSas() test won't record correctly for sync version"
Investigate and fix.  The test passes for both sync and async in live mode.

[2021-01-19 21:27] allenjzhang commented on #18017
New SQL Management SDK work started late in 2020 but has been put on hold as we are refining the new management API surfaces. Once that work is done, we will be refreshing the currently released preview Azure.ResourceManagment.* SDKs. SQL would be updated and released at that time. The anticipated timeline is in a few months. Please stay tuned.

[2021-01-19 21:27] #18017 closed

[2021-01-19 21:33] allenjzhang commented on #15717
Yes. many of the functionality will be incorporated into our new APIs. Stay tuned. Thx

[2021-01-19 21:34] PunzunLtd commented on #17235
I honestly don't know what these classes want from me.

I added a client ID, client secret, and tenant ID to the Azure DevOps Pipeline environment. I also added code to prove that the environment variables were present. I also looked at the actual source code for `Azure.Identity.EnvironmentCredential`. And I still get this:

[code]

I really want to stop using something marked as "deprecated," but

[2021-01-19 21:39] #17768 closed

[2021-01-19 21:50] snapfisher opened #18060 "[BUG] Cognitive Search Indexer Performance with Azure.Search.Documents"
**Describe the bug**
Using Azure.Search.Documents 11.2.0-beta.2, I can add 4 individual files to be indexed, and it takes about 10 seconds a file.  If I recreate the index and indexer against a storage account with all 4 files present, it takes over 7 minutes to complete indexing.  There are no errors given.

**Expected behavior**
I would expect the time to index to be roughly the same whether the

[2021-01-19 22:23] schaabs commented on #17235
@PunzunLtd I'm sorry for the frustration. It is very odd that `AZURE_CLIENT_ID`, `AZURE_CLIENT_SECRET`, `AZURE_TENANT_ID` seem to be set but for some reason the Azure.Identity library cannot read them. Are the first three lines of the above log and the lines below all written out by the same process. I know Azure DevOps pipeline does some work to not flow secret environment variables from one proc

[2021-01-19 22:25] JoshLove-msft commented on #18038
Yep, it should be available in our next release which is slated for the second week of Feb.

[2021-01-19 22:34] ahamad-MS commented on #10137
Hello @jsgoupil .. thanks for your feedback and we understand your concern.

FYI, Microsoft.Azure.Management.EventGrid is used for various CRUD management APIs through ARM for Event Grid. These are used for control plane only. Microsoft.Azure.EventGrid and Azure.Messaging.EventGrid are for the data plane operations only. The separation between management/control and data plane is the pattern obser

[2021-01-19 22:57] PunzunLtd commented on #17235
I'm digging into the code now.

The `DefaultAzureCredential` class (at 181) calls on the `DefaultAzureCredentialFactory` class (at 22) to instantiate the `EnvironmentCredential` class using the constructor that _should_ instantiate a `ClientSecretCredential` if the three environment variables are present. The unit test class can see these variables; under what circumstances would the Identity pack

[2021-01-19 23:02] heaths commented on #17235
You can still pass secrets via Azure Pipelines, [but they have to be via environment variables](https://docs.microsoft.com/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables). E.g.

[code]

[2021-01-19 23:04] #18047 closed

[2021-01-19 23:56] JoshLove-msft commented on #18002
@psiservices-dbrink thanks for creating this issue. There appears to be work that needs to happen within App Insights to get the end to end tracing to work with the new library. I've created an [issue](https://github.com/microsoft/ApplicationInsights-dotnet/issues/2151) in their repo that links back to this one -

[2021-01-20 00:28] axisc commented on #17884
support ticket with Azure 👍

[2021-01-20 00:29] axisc commented on #17702
@craig-wagner
closing the ticket. Please feel free to open a new ticket and reference this if there is still an issue.

[2021-01-20 00:29] #17702 closed

[2021-01-20 00:36] axisc commented on #17481
ah, my apologies. my recommendation was incorrect, the async method should include `session` as one of the parameters.

The specific error means that the application is trying to receive messages on a session which has no more messages on it. When such an error is seen, the session can be abandoned and the program should accept the next session.

[2021-01-20 01:42] axisc commented on #10705
@Sandeep321 at the moment, no. we may add audits eventually, but those still wouldn't capture data at the level you need. That must be through client side tracing.

[2021-01-20 01:42] #10705 closed

[2021-01-20 01:55] axisc commented on #18035
@EnricoMassone

This may be caused due to disruptions in the connection between the containers in Kubernetes and Azure Service Bus. This is expected behavior and the SDK is designed to retry to recover from this.

[2021-01-20 02:28] erich-wang commented on #16990
Azure PowerShell has applied this fix in Az.Accounts 2.2.3, thanks.

[2021-01-20 05:18] EnricoMassone commented on #18035
Hi and thanks for helping.

So basically we can assume that these errors are harmless, correct?

The main point for us is being sure that no messages will be lost from the worker service. What happens if a message is published during these periods of lost connectivity? Is the application able to get the message once the connectivity is recovered?

Is there anything that we can check or do at the A

[2021-01-20 05:27] gksarma96 opened #18070 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-01-20 05:38] #18038 closed

[2021-01-20 08:58] EnricoMassone commented on #18035
@axisc this morning I have checked the logs again and I have found another type of errors.

These errors come from a different pod of our kubernetes cluster. This component is a **.NET core 2.2 console application**.  Apart from the different .NET core version **everything else is the same as the aforementioned worker service application**: we reference the **same** version of the **Microsoft.Azur

[2021-01-20 13:31] jsquire commented on #18025
I think this should be fixed by #18063.     @scbedd:  Is there a way that we can regen and validate without waiting for a release?

[2021-01-20 13:42] rkbalu opened #28243 "EVenthub Trigger Extension: Query about the ReceiveTimeOut and maxBatchSize"
Hello Everyone,

We have been using the EVentHubTrigger Azure function to read the events from the EventHub. As part of this function, we are trying to implement some level of batching to the downstream by purely updating the host.json maxBatchSize property.

My understanding is that the EventHub Trigger function will wait to execute either each partition has more than the message count mentioned

[2021-01-20 14:01] jsquire commented on #18060
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-20 14:03] jsquire commented on #18070
Closing this out, as there is no content.   Please feel free to reopen with the context and detail of your feedback, if you'd like.

[2021-01-20 14:03] #18070 closed

[2021-01-20 15:51] shibayan opened #18076 "[FEATURE REQ] Data Lake: Please stop Flush from being executed twice when writing a stream"
**Library or service name.**

`Azure.Storage.Files.DataLake` v12.5.0

**Is your feature request related to a problem? Please describe.**

If you execute a write operation using a common stream like the following sample code, the same two flushes to the Storage API will be executed.

Since I am writing large amounts of data to multiple storage accounts, the overhead and error rate of this redundant

[2021-01-20 15:52] schil227 opened #18077 "Code section for this page is mangled"
The code example under the "remarks" section is mangled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618f5a97-362b-6c27-0f8d-6af860d0f8f0
* Version Independent ID: b27fae0e-33b6-b92a-b349-37eee7db35e9
* Content: [MessageReceiver Class (Microsoft.ServiceBus.Messaging) - Azure for .NET Developers](https://docs.microso

[2021-01-20 15:56] #17987 closed

[2021-01-20 16:28] mburumaxwell opened #18078 "[BUG] Blob Storage URI should not escape segment separator (/)"
**Describe the bug**
Azure Storage Blob names that are multi-segment (resembles virtual directories) generate absolute URIs that have escapes on the path separator (`/`). If pass the result to another service, the URL may be considered invalid.

**Expected behavior**
The URI escaping should be done as a URI and not a data segment.
Example https://contoso.blob.core.windows.net/backups/db1/20210101.

[2021-01-20 16:32] jsquire commented on #18076
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-20 16:34] jsquire commented on #18077
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-20 16:35] jsquire commented on #18077
@scbedd: I'd appreciate your thoughts.  It looks like the code and resulting XML is valid and this may be a problem with the Docs extraction/translation.

[2021-01-20 16:37] jsquire commented on #18078
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-20 16:53] bquantump commented on #18040
@stmax82 what methods in particular? These may mean different things depending on the API.

[2021-01-20 16:57] #15456 closed

[2021-01-20 16:58] stmax82 commented on #18040
@bquantump see link above or screenshot below. Some methods take an "apiVersion" parameter without explaining what it is.

![image](https://user-images.githubusercontent.com/6381927/105208525-13ed6f80-5b49-11eb-95a7-5bb5a0feadfd.png)

[2021-01-20 17:13] chamons opened #18079 "[Synapse] API issues found in writing tests"
A number of issues or difficulties were found after writing unit tests for Synapse.

They were marked with SYNAPSE_API_ISSUE, and should be reviewed in the future before API stability.

[2021-01-20 17:22] bquantump commented on #18040
@stmax82 in this case it is going to be the API version for the resource you want to delete. For example, if the resource is a VM then you need to give it one of the valid api-version for VM. The latest is "2019-07-01" for vm for example.

You can find api version in the docs https://docs.microsoft.com/en-us/rest/api/azure/

We can also update this docs in future releases

[2021-01-20 17:28] stmax82 commented on #18040
The link https://docs.microsoft.com/en-us/rest/api/azure/ doesn't really explain what the valid values for the apiVersion parameter are?
Not sure where you found "2019-07-01" for VMs? It's not in the provided link.

As you can see, it's quite hard for users to figure out the right value that should be passed to the apiVersion parameter.

I am for example trying to delete a Workbook resource. Where

[2021-01-20 17:33] chamons opened #18080 "[synapse] Some tests currently can not be automated due to test infrastructure"
A number of synapse tests originally had this attribute:

        [Ignore("This test case cannot be automated due to the inability to configure infrastructure to test against.")]

or

        [Ignore("This test case cannot pass due to backend limitations for service principals.")]

We should research this further, and determine if we can setup the required infrastructure in the arm template.

[2021-01-20 17:40] srnagar opened #18081 "Azure Monitor Exporter API changes based on arch board review"
Based on the [arch board feedback](https://github.com/Azure/azure-sdk/issues/1975) for Azure Monitor exporter, update the APIs to support the following:

- [ ] Include an option to configure the service API version when constructing the exporter instance
- [ ] Provide a convenience method on the exporter to get the `endpoint`
- [ ] Consider adding APIs for configuring `endpoint` and `instrumentati

[2021-01-20 18:10] bquantump commented on #18040
![image](https://user-images.githubusercontent.com/53361486/105216661-b8e75880-5b07-11eb-8e8a-76bec1bfc1f5.png)

[2021-01-20 18:12] bquantump commented on #18040
This will show the latest version that is RELEASED. You can find older version and all version here for compute as an example:

https://github.com/Azure/azure-rest-api-specs/tree/master/specification/compute/resource-manager/Microsoft.Compute/stable

[2021-01-20 18:17] maririos opened #18082 "Release Text Analytics 5.1-Beta.5"

[2021-01-20 18:18] #17844 closed

[2021-01-20 18:18] bquantump commented on #18040
Is it a Azure Monitor Workbook resource you are trying to delete?

[2021-01-20 18:27] maririos commented on #17815
Addressed in https://github.com/Azure/azure-sdk-for-net/pull/17968

[2021-01-20 18:27] #17815 closed

[2021-01-20 18:28] christothes opened #18083 "Re-enable SDK analyzers in Azure.Core"
SDK analyzers [are disabled](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Azure.Core.csproj#L12) in Azure.Core. They should be re-enabled and only the required violations should be excluded.

[2021-01-20 18:45] maririos opened #18084 "Release Form Recognizer 3.1.0-beta.3"

[2021-01-20 18:56] #16384 closed

[2021-01-20 18:56] maririos commented on #16384
After looking into this, the service can't guarantee there won't be changes into the content of the `FormType`. The property is meant to inform.
If the SDK considers parsing it, it will be subject to breaking changes.
Because of this, the SDK is deciding to leave as is and not do parsing

[2021-01-20 19:03] maririos commented on #17799
Other issue https://github.com/Azure/azure-sdk-for-net/issues/17813

[2021-01-20 19:08] pakrym commented on #18049
string.Join already has optimization like this.

[2021-01-20 19:08] #18049 closed

[2021-01-20 19:22] jaschrep-msft commented on #17673
Reopening as a feature request to loop current `Read()`/`ReadAsync()` implementation, rather than force the caller to do so.

[2021-01-20 19:32] kinelski opened #18087 "[MetricsAdvisor] Write performance tests for the Beta 4 release"
At least one champion scenario should be covered.

[2021-01-20 20:11] joshfree commented on #18081
/cc @pakrym @reyang

[2021-01-20 20:24] JoshLove-msft opened #18088 "[WebJobs/EventHubs] Flatten out options"
Rather than exposing the EventProcessorOptions and EventProducerClientOptions, we can elevate the options that we plan to support directly onto EventHubOptions.

[2021-01-20 20:24] JoshLove-msft commented on #18088
/cc @pakrym

[2021-01-20 20:37] amnguye commented on #18033
Hi, the issue you are running into is not related to `CreateIfNotExistsAsync`, it's something related to the service due to the error you are getting. We are working on a change to resolve the intermittent problem you are running into. I will update you when it should be or when it gets resolved.

Sorry for the inconvenience.

[2021-01-20 20:43] schaabs commented on #18031
@abatishchev sorry for the trouble here. The failure is in a very unfortunate place since it's being invoked by the type initializer. I'm glad you were able to root cause the issue, and I agree with your proposed fix to treat empty string the same as the variable being unset.  As we discussed offline you should be able to work around this issue by reading the environment before referencing the `De

[2021-01-20 20:52] reyang commented on #18081
The 1st item makes sense to me.
I have doubts on the 2nd and 3rd item, since the exporter instance could connect to more than one endpoints:
1. There are scenarios where the exporter might send live stream of telemetry to a different endpoint with a different protocol.
2. There will be redirection from the ingestion service, it is unclear why do we need to "get the endpoint" and what's the semanti

[2021-01-20 21:31] TimothyMothra commented on #18081
Thinking out loud...

1.
sounds fair. Just last week we were discussing a new version of the service API to support redirections.
However, I can't imagine what that API would look like. Or why a customer would want to choose versions. I assume most customers would expect this part to work without additional input.

2.
I think that's very trivial to include.
However, from my experience with the tes

[2021-01-20 21:32] craigktreasure commented on #17715
@benbp What do we do about this?

[2021-01-20 21:56] benbp commented on #17715
@craigktreasure you can change the test region by adding it as a parameter to tests.yml, for example in `sdk/mixedreality/tests.yml`:

[code]

[2021-01-20 21:58] MatthewSteeples opened #18090 "Specified section doesn't have an equivalent"
The middle and bottom `Service principal client certificate` which specifies a certificate based on `CertificateThumbprint` and `CertificateStoreLocation` doesn't have an equivalent in the new system. The options provided do not offer the same functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f95d1f9-f552-

[2021-01-20 22:04] MatthewSteeples commented on #18090
This may be better converted into a feature request to support this functionality. My scenario is that I have a certificate in the Store on a VM. Previously I could just specify the hash and the location of the certificate in an environment variable whereas now I need to investigate loading the certificate from the store myself and passing it into in instance of a `ClientCertificateCredential`

[2021-01-20 22:06] jsquire commented on #18090
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-20 22:10] MatthewSteeples commented on #18090
Thanks @jsquire

I'll also add that if you're happy accepting a contribution for this then I'm happy to try and put something together

[2021-01-20 22:16] #17979 closed

[2021-01-20 22:26] pyliakm opened #18091 "WebApp:[BUG] WebSiteManagementClient->ListGeoRegionsAsync returns DefaultErrorResponseException: Operation returned an invalid status code 'NotFound'"
**Describe the bug**
see part of code:
`using (WebSiteManagementClient wsmClient = new WebSiteManagementClient(new TokenCredentials(token)))
 {
                wsmClient.SubscriptionId = subscriptionId;
                return (await wsmClient.ListGeoRegionsAsync()).Select(p => p.Name).ToList();
 }`

**Expected behavior**
List of geoRegions

**Actual behavior (include Exception or Stack Trace)**
Mi

[2021-01-20 22:34] x9xu opened #18093 "[BUG] [App Configuration] 401 when retry on request"
**Describe the bug**
Our Runner hit 401 when retrying the request (for any retry scenario)

For our Runner test, runner will replace the uri host with the ip address and add a host header with configuration store endpoint before it sends the request to backend service, eg.

request final look will be:

request uri: {https://20.49.127.64/kv/TestKey-DataOperationsByHMAC?api-version=1.0}
request host

[2021-01-20 22:35] amnguye commented on #18028
Hi, Is there no derived class of `TokenCredential` that fits your criteria of passing the access token? The link below has all the derived options.
https://docs.microsoft.com/en-us/dotnet/api/azure.core.tokencredential?view=azure-dotnet

I think we might have trouble managing refreshing and the expirey of the key if all we have is the access token, and not the criteria to refresh the token.
@schaa

[2021-01-20 22:46] amnguye commented on #18055
Hi, So you always get a 503 error when attempting to Download with File Shares? Are there no other error codes that occur when attempting to Download or on your other attempts to Download?

The error code `ServerBusy` could mean that the service or your storage account is getting throttled or something is getting limited. Are you the only one who is attempting to access the storage account? are th

[2021-01-20 22:48] amnguye commented on #18078
Hi, I can reproduce your issue.

@seanmcc-msft What do you think about this? Would it be a breaking change to change the way we are encoding the slashings in the Uri. It is quite odd we are encoding the path but nothing past the container.

[2021-01-20 23:04] Mohit-Chakraborty commented on #18055
I am getting this error when repeatedly downloading a large (1GiB) file over a long period.
If I only run the scenario for say 1 minute, the code works fine.

Yes.

I have tried the scenario with no parallelization and with multi-core execution. Both give me this error.

Is there a way to diagnose the issue by looking at logs or other info in the Azure Portal? Is there flexibility in setting param

[2021-01-20 23:43] danieljurek commented on #17850
Investigation revealed that this is an issue in the internal processes. An appropriate bug has been filed. Will re-open if we should fix it ourselves.

[2021-01-20 23:43] #17850 closed

[2021-01-21 00:48] heaths opened #18099 "April Release of Key Vault for .NET"
## Tasks

- [x] Change api-version to "7.2"
- [x] Performance tests
- [ ] Archboard API review for upcoming GA

[2021-01-21 01:05] axisc commented on #10118
this is still on the backlog, and we're still weighing on when it can be developed. No ETA for now.

[2021-01-21 01:33] heaths commented on #17901
Pairs nicely with https://github.com/Azure/azure-rest-api-specs/pull/12320

[2021-01-21 07:18] PiotrPerak commented on #17449
@as-99 no it's not resolved in v11.2.0-beta.2.
@AlexGhiondea where is this sample?

[2021-01-21 07:42] SeanFeldman commented on #11986
Any updates on this, @JoshLove-msft?

[2021-01-21 09:24] gksarma96 opened #18105 "Access event data from a client application"
Query -
I have a class library which uses PartitionReceiver to receive data from Azure event hub. The event hub data is received and stored in a custom List/Dictionary defined in the class library. As soon as any new event data is received, it is stored in the List/Dictionary.
The question is how to extract this data to a client application which uses this class library as a reference(dll or nuget

[2021-01-21 11:41] #17726 closed

[2021-01-21 12:26] mattcowen opened #18108 "[BUG] Blob Storage: User delegation SAS is not authorized"
**Describe the bug**
When attempting to list blobs using User Delegation SAS with the identity of a Service Principal, i can't list blobs in a container due to a 403 and AuthenticationErrorDetail "The specified signed resource is not allowed for the this resource level".

**Expected behavior**
That the following would work

        Response<UserDelegationKey> userDelegationKey = await oauthService

[2021-01-21 13:24] sgarshol opened #18109 "Can we expose ProcessMessageEventArgs's Receiver a readonly property?"
Regarding Azure.Messaging.ServiceBus, ProcessMessageEventArgs

You can call the `CompleteMessageAsync` method on the `ProcessMessageEventArgs` class as described here:

https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.processmessageeventargs.completemessageasync?view=azure-dotnet

The caveat: "This operation can only be performed on a message that was received by this receive

[2021-01-21 16:19] nathanaelk commented on #18041
Hi! Any update on this?

[2021-01-21 16:47] jsquire commented on #18109
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-21 16:52] jsquire commented on #18105
Hi @gksarma96.   Thank you for reaching out and we regret that you're experiencing difficulties.  Unfortunately, I'm not quite sure what you're asking.   If I understand correctly, you are reading events from the `PartitionReceiver` into your application and holding them in a list.  From there, I'm not clear on what you're describing.   Can you help me understand what you're attempting to do?

[2021-01-21 16:54] jsquire commented on #18108
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-21 17:03] blushingpenguin opened #18111 "[BUG] Azure.Search throws when retreiving a SearchIndexer"
**Describe the bug**
Retrieving a SearchIndexer using Azure.Search.Documents.Indexes.SearchIndexerClient.GetIndexerAsync throws an exception

**Expected behavior**
No exception should be thrown

You can see the problem is
            "mappingFunction": {
                "name": "base64Encode",
                "parameters": null
            }
which has "parameters": null

and:
https://github.com/Az

[2021-01-21 18:24] #18031 closed

[2021-01-21 18:24] #17901 closed

[2021-01-21 18:45] AlexGhiondea commented on #17449
@PiotrPerak I was referring to the link you [shared](https://docs.microsoft.com/en-us/azure/search/search-traffic-analytics#step-2-request-a-search-id-for-correlation) - it now shows how to use the new SDK as well.

[2021-01-21 18:57] #17715 closed

[2021-01-21 19:21] maririos commented on #17802
Design looks like:
[code]

[2021-01-21 19:21] #17802 closed

[2021-01-21 19:21] #17801 closed

[2021-01-21 19:22] maririos commented on #17808
Same pattern as the one discussed in https://github.com/Azure/azure-sdk-for-net/issues/17802

[2021-01-21 19:22] #17808 closed

[2021-01-21 19:23] maririos commented on #17809
Design is here: https://github.com/Azure/azure-sdk-for-net/issues/17802

As for how to populate GetResults and GetResultAsync, look at https://github.com/Azure/azure-sdk-for-net/blob/f4cbb5c5659b949de1d3cb9d82e02220003848d2/sdk/search/Azure.Search.Documents/src/SearchClient.cs#L766 for ideas

[2021-01-21 19:25] abhaldar opened #18115 "Resetting position of RetriableStream not working"
Throwing out error
System.NotSupportedException: Specified method is not supported. at Azure.Core.Pipeline.RetriableStream.RetriableStreamImpl.set_Position(Int64 value)
While trying to discardBuffer and reset stream position back to 0.

How can we achieve the same here without creating a copy in memory stream?

Code snippet:

[code]

[2021-01-21 19:49] michfa opened #18118 "[BUG] AuthorizationManagementClient.ProviderOperationsMetadata returns non-English results for "Microsoft.Aad""
**Describe the bug**
I'm using Microsoft.Azure.Management.Authorization and AuthorizationManagementClient to retrieve ProviderOperationsMetadata for all available providers. For each ProviderOperationsMetadata I'm iterating over the Operations list in order to read the each operation property (e.g: description). The values should be in English, but I'm getting some values in Chinese or in Russian

[2021-01-21 20:53] JoshLove-msft commented on #11986
Yep, we are currently looking at a few ways to provide support for the plugin scenario. One idea that we are exploring is what it would look like to create a custom PluginReceiver/PluginProcessor/PluginSender that derive from the ServiceBusReceiver/ServiceBusProcessor/ServiceBusSender that would then execute plugins. This will require a few library updates to improve extensibility. Expect a PR soo

[2021-01-21 21:20] jsquire commented on #18115
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-21 21:21] jsquire commented on #18118
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-21 21:24] ShivangiReja commented on #16751
Moved customization code and csproj outside of generated folder - https://github.com/Azure/autorest.csharp/pull/981

[2021-01-21 21:26] jsquire commented on #18111
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-21 23:04] heaths commented on #16487
@christothes has already completed this for our next preview. Other changes are in flight, but those are tracked separately.

[2021-01-21 23:05] heaths commented on #16778
This has been moved out of service version 7.2.

[2021-01-21 23:08] heaths commented on #16487
@christothes was actually working toward this issue. I thought maybe this was a dup. Seems not. Assigning to him.

[2021-01-21 23:35] amnguye commented on #18108
Hello,

User Delegation SAS cannot grant access to certain operations:
- Containers cannot be created, deleted, or **listed**.
- Container metadata and properties cannot be read or written.
- Containers cannot be leased.

As for your case you are attempting to make a User Delegation Container SAS to list blobs, but that does not grant access to that operation.

https://docs.microsoft.com/en-us/res

[2021-01-21 23:35] #18108 closed

[2021-01-22 00:06] pakrym commented on #18115
What method do you use to get the stream?

[2021-01-22 00:32] JoshLove-msft commented on #17742
@jsquire what about DefaultStartingPosition?

[2021-01-22 00:42] #17884 closed

[2021-01-22 00:46] axisc commented on #18035
The first set of errors you saw were because of connection disruption. The messages are not "lost", because the service bus will not ack it and the client side SDK will retry the operation. The client will only proceed to the next message after the current message is successfully ACKed by Service Bus.

The second set of errors you saw are due to an idle connection. In Azure Service Bus, connection

[2021-01-22 02:37] JoshLove-msft commented on #18109
Hi @sgarshol, thanks for submitting the issue. Would you be able to use the ReceiveMode property that is on the processor? All receivers used by a processor would have the same ReceiveMode.

[2021-01-22 07:22] prashanthmadduri opened #18136 "Looking for example and more information on findBlobsByTags API available BlobServiceClient class"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0] `@azure/storage-blob@12.4.0`
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

1. We are looking for complet

[2021-01-22 08:07] SeanFeldman commented on #11986
Was there a discussion issue?

[2021-01-22 10:56] devax commented on #15693
Same here. Is there a workaround for this? I tried to instantiate like this:
[code]
But Version 12.8.0 returns: ```http://azurite-azure-storage-emulator.azurite:9100/devstoreaccount1/containername%2Fblobname```

[2021-01-22 11:42] sgarshol commented on #18109
@JoshLove-msft I indeed have a work-around where I reference the `ServiceBusProcessor` instance, and that solves the immediate issue.

I have a worry that the developers that are going to use this project may end up referencing the wrong instance and get things messed up, but that is pretty minor - they can just not do that and things will work fine! :)

It is just irksome that the Receiver is lyi

[2021-01-22 13:23] EnricoMassone commented on #18035
@axisc thanks for all the clarifications.

Based on what you said the .NET sdk has been designed to gracefully handle these errors (via retry policies). So **no changes are required at the application level** and we still have the guarantee that the application will have a canche to consume **all** the messages published to the topic, regardless these transient errors. Is my understanding correct

[2021-01-22 13:27] EnricoMassone commented on #11619
Hi all,

I have followed this issue for a while. Some of the errors reported here are the same that we are getting with our application. I have opened another github issue (#18035). Consider reading the discussion there if you are having similar errors.

[2021-01-22 14:23] jsquire commented on #17742
You're exposing this as your "initial offset provider" setting.    I think that it would be redundant to introduce a second way of setting that.

[2021-01-22 14:27] jsquire commented on #17742
Not in the same way;  the architecture was very different around the concept of "leasing" for load balancing.   They allowed you to plug in a class instance to control some of the lease data, but most of the logic was not configurable.   (see [ILeaseManager](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Microsoft.Azure.EventHubs.Processor/src/ILeaseManager.cs))

[2021-01-22 15:11] chanes-cds opened #27977 "replyToSessionId binding data"
Can this be added to ServiceBusTriggerBindingStrategy.cs?  </br>
I am currently doing

`const replyToSessionId = context.bindingData.userProperties.replyToSessionId;`

as a work around but would be happy to see official support for this attribute in the future.

[2021-01-22 15:53] davidallyoung commented on #7380
Hi, I wanted to bump this and see if the ASB team has had further consideration around exposing a Sessions metric, or exposing the ability to retrieve this a client? I think as more workloads move to picking up event driven scalers like KEDA, this is going to become a more prevalent need. For our case specifically, we utilize sessions in some scenarios for tenancy prioritization and workload distr

[2021-01-22 16:14] pakrym commented on #14129
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=698001&view=ms.vss-test-web.build-test-results-tab&runId=16141158&resultId=100807&paneView=debug

[2021-01-22 16:40] RicoBakels opened #18139 "Azure ServiceBus: Unregister and re-register a MessageHandlers results in System.ObjectDisposedException"
With the Azure ServiceBus I want to create a pause functionality to stop processing messages from a subscription for a while. To accomplish this pause mechanism, I want to unregister a MessageHandler from the ISubscriptionClient so that messages won't be processed from the subscripiton, and re-register the MessageHandler later in time.

When I do that, the problem is that the runningTaskCancellati

[2021-01-22 17:23] maririos commented on #17800
Take into consideration the suggestions on format and sample from Anne's PR here => https://github.com/Azure/azure-sdk-for-net/pull/16269

[2021-01-22 17:48] JoshLove-msft commented on #11986
I think we can use https://github.com/Azure/azure-sdk-for-net/issues/12943 to discuss. I will add a comment outlining the brainstorming we have been doing.

[2021-01-22 18:02] JoshLove-msft commented on #12943
We have been discussing internally how best to support this workflow. One idea that we want to explore is what it would take to extend our types so that a customer can create their own PluginReceiver/PluginSender/PluginProcessor. It appears that we would have to add a few protected ctors to make this possible:
[code]

A custom library could then define extension methods on the ServiceBusClient (Pl

[2021-01-22 18:43] jongio commented on #17736
Tagging @pakrym as he is our ASP.NET Guru

I don't have the answer myself, but I recommend putting ManagedIdentityCredential before AzureCliCredential so you don't try AzureCliCredential in prod env with MI.

[2021-01-22 18:47] jongio commented on #17730
Related: https://github.com/Azure/azure-sdk-for-net/issues/8948

See that issue for a workaround with AzureEventSourceListener

[2021-01-22 18:58] schaabs commented on #17736
@Rookian Thanks for reaching out to us with this issue, and I'm sorry your having this trouble.

Azure.Identity doesn't provide an mechanism to force issuing a new token because there is no way for the library to guarantee this as the token can be cached at many levels, including the STS. So any mechanism we would add to enable this would only be a best attempt, and unreliable.

Also I would secon

[2021-01-22 19:06] asgoe opened #18144 "[QUERY] Azure.Identity: Using ClientSecretCredential with Azure Storage SDK v12"
**Query/Question**
We are migrating from V11 to V12 of Azure Storage SDK. We are using the .NET SDK. In V11 we could provide a callback to TokenCredential which allowed clients to refresh their token. We were using this to refresh our AAD token in advance of the token expiry. This callback functionality allowed us to cache our client. I don't see anything like that in V12. The reference document o

[2021-01-22 19:07] amnguye commented on #18078
So this escaping of the '/' in the blob name in the URI is by design. Please see issue https://github.com/Azure/azure-sdk-for-net/issues/15064 and the other issues that are referenced to it.

[2021-01-22 19:07] #18078 closed

[2021-01-22 19:11] amnguye commented on #18055
Mitigated offline. Discussed ways to download the blob with exponential back off after hitting the storage account consecutively receiving the 500.

[2021-01-22 19:27] avirishuv commented on #17510
hi @jaaktammtpt would you mind sharing the steps you are using to update the VM size? Also, are you facing this issue in one particular region / subscription, or is this across multiple regions / subscriptions?

[2021-01-22 19:34] gheibia commented on #18039
@jsquire @pakrym Thanks for the update and the fix. If the release milestone visible publicly so that I know when this was released.

[2021-01-22 19:45] asgoe commented on #18028
I have a similar question that I posted here: https://github.com/Azure/azure-sdk-for-net/issues/18144
Will using ClientSecretCredential as the TokenCredential allow the storage SDK to be able manage the refresh and expiry of the token. https://docs.microsoft.com/en-us/dotnet/api/azure.identity.clientsecretcredential?view=azure-dotnet
From the description of the methods, it seems that the storage S

[2021-01-22 20:33] cahann commented on #18041
Issue detected and planned to be fixed in a couple of weeks, will update the issue with the exact ETA 1st week of Feb.

[2021-01-22 20:38] JoshLove-msft commented on #18109
Well this is actually by design, as we didn't want to expose all operations from the receiver within the callback and wanted to present a simple interface that exposed the operations that make sense within the context of the user event handler.

[2021-01-22 21:16] jongio commented on #6761
The Azure Search team requested that we move this to User Voice. They have also created an internal tracking work item for this.

https://feedback.azure.com/forums/263029-azure-search/suggestions/42514306-allow-for-metadata-that-disappeared-from-the-origi

[2021-01-22 21:16] #6761 closed

[2021-01-22 21:36] amnguye commented on #17690
Received request-id offline. Looks like after some investigation that there's a time skew, and it might be causing it by a second. Which is why the error is being thrown because it thinks we are handing it a value over the 7 day limit. We can either try to round down `DateTimeOffset` by a second, but it might mess with the already successful 7 day conversion. So we will have to see if there's a wa

[2021-01-22 21:44] jsquire commented on #18139
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-22 21:46] jsquire commented on #18144
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-22 21:54] axisc commented on #18035
@EnricoMassone

There is no cache, it is just that every data operation is committed to storage and log before you get an ACK. So no application changes are needed. Your business logic must wait for the ACK to make sure it went through.

You might need to pull some AKS experts for the AKS specific issues. My understanding is that if your containers move across the AKS cluster, then the stateful li

[2021-01-22 21:57] amnguye commented on #13880
Issue seems resolved. Please reply if the issue persists and we will reoopen.

[2021-01-22 21:57] #13880 closed

[2021-01-22 21:58] axisc commented on #18001
@JoshKeegan  not sure I fully follow. The retry policy is for the operation (Send), while the timeout applies to the operation and the retry.

The default retry policy utilizes an **exponential backoff** policy to avoid the situation that you are seeing.

[2021-01-22 22:06] nboettcher opened #18148 "[BUG] WebSiteManagementClient ListHybridConnectionsAsync returns a single object instead of a list of objects"
**Describe the bug**
WebSiteManagementClient ListHybridConnectionsAsync returns a single object instead of a list of objects

**Expected behavior**
Return a List<HybridConnection> that are associated to the web app.

**Actual behavior (include Exception or Stack Trace)**
Return a single HybridConnection object.

**To Reproduce**

[code]

**Environment:**
Microsoft.Azure.Management.Websites package

[2021-01-22 23:11] kasobol-msft opened #18152 "[Storage] Validate Uris in ShareUriBuilder/ShareXClient consturctors."
Follow up on https://github.com/Azure/azure-sdk-for-net/pull/18121 .

Scenario:
Create ShareClient using "file service uri" (i.e. without sharename)
Obtain directory client from shareclient

Outcome:
directory client has wrong URI and won't perform well. Fails with weird exceptions.

Ask:
Add validations in either ShareUirBuilders or ShareClients that URI has all necessary parts.

[2021-01-22 23:12] seanmcc-msft commented on #18152
We should probably also do this for the `BlobUriBuilder`, `DataLakeUriBuilder`, and `QueueUriBuilder`, too.

[2021-01-22 23:19] seanmcc-msft commented on #18152
We could validate the Uris in the `RestClientBuilder()` method, since we already have to create `UriBuilder`s and decompose the Uris there.

[2021-01-23 02:05] #16142 closed

[2021-01-23 07:33] mburumaxwell commented on #18078
Hi @amnguye ,

It makes sense to have the blob name to be escaped. However, unescaping (reverse) can cause other parts that need to remain escaped to be undone. For example: `https://constoso.blob.core.windows.net/backups/db%201%2F202010101.bacpac`
would become `https://constoso.blob.core.windows.net/backups/db 1/202010101.bacpac`.
However, if you use `Uri.EscapeUriString(...)` instead of `Uri.Esc

[2021-01-23 10:00] mattcowen commented on #18108
@amnguye thank you for clearing up my confusion

[2021-01-23 16:15] jsquire commented on #18148
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-23 16:57] sgarshol commented on #18109
You make a good point, and I agree that keeping  the receiver object wrapped away makes sense in this context, the handling of the received messages.  However, with my workaround I am nevertheless using the Processor object. This amounts to the same thing, just with extra steps.

But I don't really need to or want to deal with the Receiver or Processor at this point - I certainly do not want to ma

[2021-01-23 19:31] ericbeaudry opened #18157 "[QUESTION] Azure.Messaging.EventHubs.Producer.EventDataBatch.TryAdd Throws InvalidOperationException when EventDataBatch is in use"
**Describe the bug**
Calling TryAdd on Azure.Messaging.EventHubs.Producer.EventDataBatch throws InvalidOperationException when EventDataBatch is in use.

**Expected behavior**
Not throwing an InvalidOperationException. As the name suggests the caller is "trying" and expect true/false from the call. It is not Invalid to call TryAdd at any point. If the batch is locked, TryAdd should simply return f

[2021-01-24 00:29] petro2050 opened #18158 "[FEATURE REQ] Allow us to set restrictions on blob size when SAS tokens are created"
Please allow us to set restrictions on blob size at the time a SAS is generated. As of now, anyone who has a token can upload files of any size and we have to do server-side validation on our own to decide if the files are too big. This requires unnecessary chatter that could be eliminated. While I understand that ingress is free, we still end up paying for storage as long as the blob is present.

[2021-01-24 15:43] shibayan commented on #18076
Since the flush process is also subject to write transaction billing, there is a concern that unnecessary billing may have been unintentionally incurred when using the Write stream.

[2021-01-24 15:58] johnknoop opened #18160 "System.InvalidOperationException: 'Local transactions cannot span multiple entities or partitions."
I'm trying to use the "send via" feature to be able to send messages to more than one entity inside a transaction.

I have the following entities:

- Topic: `mytesttopic`, which has one subscription: `input_subscription`
- Topic: `output_1`
- Topic: `output_2`
- Queue: `transferqueue`

I'm trying to receive sessions from `input_subscription` and for each received message:
1. Send a new message to

[2021-01-24 16:01] johnknoop commented on #18160
The error doesn't seem related to the fact that I'm sending two messages. If I remove the sending to output2, I still get the same exception.

[2021-01-24 16:34] jsquire commented on #18158
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-24 16:36] jsquire commented on #18160
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-24 16:46] jsquire commented on #18157
Hi @ericbeaudry.  Thank you for your feedback.  This behavior is by design.  When `TryAdd` returns `false`, that indicates that either the batch is full or the requested event is too large to fit.  This state is deterministic and idempotent; if you continue to try the result will be the same.

We chose to surface an event when you attempt to manipulate a batch at the same time you've chosen to pub

[2021-01-24 17:02] ericbeaudry commented on #18157
Hi @jsquire Thanks for the clarification. Since this is by design and actually hard to reproduce, may I suggest the exception be added to the documentation of TryAdd so that other users don't learn the behavior only once they are running under heavy load? Something like what we can see here:
![image](https://user-images.githubusercontent.com/30331106/105637487-d126e280-5e3b-11eb-80f8-cdac4458bd78.

[2021-01-24 19:10] danielmarbach commented on #18160
My memory might be bad but I seem to remember it only works against a single entity from the receive perspective and only queues or topics

https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.ServiceBus.Messaging/AtomicTransactions#how-does-service-bus-support-transactions

[2021-01-24 20:20] johnknoop commented on #18160
@danielmarbach

It's true that you can only send messages to a single destination entity within the scope of a transaction. And as I've understood it, that's why the "send via" feature exists. So if you look at my example, I'm sending both messages to `transferqueue` to then be redirected to their respective destination topics.

[2021-01-24 20:40] danielmarbach commented on #18160
@johnknoop yeah I saw that. My point was I think the transfer queue needs to be the receiving entity. In your case, you receive from a subscription which is a "virtual queue" and I'm not certain if that supports what you want to achieve. But like I said I don't know for sure.

[2021-01-25 06:10] cvellan opened #18161 "[QUERY] Time Series Management Api"
**Query/Question**
Hi, just wondering if there are any plans to create a Management Api for Time Series anytime soon, or if I have missed any issues or development towards that end.

**Environment:**
 - Library - N/A
 - Runtime version - .Net Core 3
 - Visual studio 16.8.4

[2021-01-25 10:11] Rookian commented on #17736
@schaabs, @pakrym

Sry, my given code example did not show our production code. We have used `DefaultAzureCredential`.
[code]

I am a bit concerned and I fear that doing the refresh more frequently is unreliable. Don't we have the same problem (predict when we will get a new token) as you have?
Our background service has to guarantee that a valid token is always available. Imo this is not possible

[2021-01-25 10:23] #14372 closed

[2021-01-25 11:46] JoshKeegan commented on #18001
@axisc the issue is that there is no timeout on an individual retry attempt, without which you don't have full control over your retries (so in the second scenario there are no retries).

RE the default retry policy: the same issue occurs there, although it requires a slightly modified version of the `RetryExponential` class to add logging (and also remove internal dependencies), here's the code i

[2021-01-25 14:10] jsquire commented on #18161
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-25 15:40] jsquire commented on #18157
That's a good call-out and, honestly, something we should have thought to include.   I've added doc comments covering this in #18165.

[2021-01-25 16:29] chamons opened #18166 "[Synapse] Test Coverage Improvements"
This is a tracking issue to cover the test improvements in Synapse.

The goal is to provide basic coverage for each exposed client, and one test for each API.

Admittingly, this is primarily "happy path" coverage, but given the limited previous coverage, it's a good start.

It also let's us flush out some basic service issues.

## Punch List

- [x] Refactor shared code and build infrastructure

[2021-01-25 16:33] coppercosmo commented on #17927
Was there any more information on this?

[2021-01-25 16:38] coppercosmo commented on #17836
@allenjzhang ^

[2021-01-25 17:04] johnknoop commented on #18160
@danielmarbach I just tried replacing `input_subscription` with a queue instead, but the same exception occurs.

[2021-01-25 17:32] amnguye commented on #18078
As per the [issue](https://github.com/Azure/azure-sdk-for-net/issues/15064#issuecomment-691749986) I linked, the service considers `db1/20210101.bacpac` to be the same blob as `db1%2F20210101.bacpac`. As the [issue](https://github.com/Azure/azure-sdk-for-net/issues/15064#issuecomment-692131075) goes onto explain, if we did not do this, others regarding encoding blob names correctly and sending the

[2021-01-25 17:33] danielmarbach commented on #18160
You ar using the previous generation SDK right? I might be able to send a sample a bit later today

[2021-01-25 18:16] schaabs commented on #17736
@Rookian

There is current no configuration to control when new tokens would be requested, as this has the same problem I mentioned above, The library has no control over when the token endpoint is also caching the token, so exposing a configuration value for this would be misleading.  That being said, any layer of caching (both in our library, or on the STS side) will not cache a token until it i

[2021-01-25 18:23] amnguye commented on #18158
This seems like a huge feature ask that is non-trivial on the storage service that is not possible solely on the Storage SDK or client side. So I would have to close this issue due to the complexity and that the Storage SDK would be unable to support such a feature.

The only limits we have is limiting which users can have certain permissions or even have permissions to the blob/container/account

[2021-01-25 18:23] #18158 closed

[2021-01-25 18:31] cfauchere commented on #17435
Well I am not looking in testing the SDK by injecting a mock of the transport layer but mock the SDK itself so I can test my code. For example:
`ResourceGroupsOperations `as public virtual method `ListAsync`
[code]
I should be able to build a mock of `ResourceGroupsOperations` and inject it in my code. The problem is I can't do so because I cannot instantiate `ResourceGroup` objects.

[2021-01-25 18:32] johnknoop commented on #18160
No I'm using the nuget package Microsoft.Azure.ServiceBus version 5.1.1.

[2021-01-25 18:33] amnguye commented on #18028
I think this document was written in reference to the `Azure.Identity` package where this method lives. Not referencing the storage library at all. I think this sentence needs to be updated so customers don't assume every single Azure SDK Client library supports the feature of refreshing the token for the customer.

[2021-01-25 18:38] amnguye commented on #17596
Sorry this fell under the radar. Looks like `AzureSasCredential` got added in already as per PR https://github.com/Azure/azure-sdk-for-net/pull/17636
And added into storage here https://github.com/Azure/azure-sdk-for-net/pull/17646

[2021-01-25 18:42] schaabs commented on #18028
@asgoe as @amnguye mentioned the Azure SDK doesn't have a `TokenCredential` implementation which allows you to just pass a previously acquired access token. There are several reasons for this, one of which is the one you mentioned that the client libraries would have no way to refresh this token so the credential would be invalid once the original access token had expired. To your other questiuon,

[2021-01-25 19:06] asgoe commented on #18028
@schaabs Thanks for the quick response. Just so that I understand it correctly, when you say above "If you are using the ClientSecretCredential with any of the client libraries in the Azure SDK, including the storage client library, the **clients should handle the expiration and refresh of tokens**."

here "clients" refer to the Storage Client library that we are using. Our code which uses the Sto

[2021-01-25 19:06] amnguye commented on #18028
Sorry I was definitely thinking about a different type of token when I looked I saw the documentation about refreshing token.

@asgoe Is it currently refreshing for you while using the storage library? Or were you looking to manage the refreshing of the token yourself?

[2021-01-25 19:07] amnguye commented on #18028
Sorry I responded at the same time you did. So you answered my question about not refreshing. So over time are you receiving a 403 authentication error after the credential expires? Can you send the error exception that gets sent back?

[2021-01-25 19:13] asgoe commented on #18028
I am in the middle of testing this in our pre-production environment. However, its a bit difficult to test completely, since the token we receive has a 24hr validity and our application process usually gets moved around (due to load balancing) every few hours which results in a new token being acquired. In our production environment however this is not the case. Thus, I am trying to understand thi

[2021-01-25 19:21] amnguye commented on #18028
It's extremely difficult for us debug the issue with the refresh of the token without a stack trace or the exception response from the SDK. So to be clear you created a token that has an expirey of 24 hours after the token is created, but in your test environment you are actually manually acquiring a new token every few hours (so the you are unable to see when the token gets close to the expired t

[2021-01-25 19:35] asgoe commented on #18028
That is correct. I am running a test right now on a different application which hopefully will not acquire a new token every few hours. Will know the result by tomorrow morning. From the discussion, it seems that the expected behavior is that by using ClientSecretCredential, the Azure Storage Client library should be taking care of refreshing the token. Can you confirm if my understanding is corre

[2021-01-25 19:37] heaths opened #18169 "Null collections serialize as literal null when indexing documents, causing service to fail"
From https://stackoverflow.com/questions/65823922/, in track 2 when we serialize documents during upload, null (e.g. uninitialized) collections serialize an explicit `null`, which causes the service to respond with:

[code]

Consider simple models:

[code]

With our test infrastructure, the following would fail:

[code]

Because the JSON is serialized as:

[code]

A workaround that is similar to w

[2021-01-25 19:40] YalinLi0312 commented on #18148
@nboettcher Are you expecting an IEnumerable list contains more than one object for your given resource group and app name?

[2021-01-25 19:42] nboettcher commented on #18148
yes

[2021-01-25 19:43] YalinLi0312 commented on #18024
@jsquire It looks is Microsoft.Rest.ClientRuntime, why it is a question for management package?

[2021-01-25 19:51] YalinLi0312 commented on #18148
@nboettcher If you have Azure CLI installed, can you try [this command](https://docs.microsoft.com/en-us/cli/azure/webapp/hybrid-connection?view=azure-cli-latest#az_webapp_hybrid_connection_list) with the resource group and app name?  Do you see all HybridConnections returned for that resource group and app name?

[2021-01-25 19:55] nboettcher commented on #18148
@YalinLi0312  yes I do

[2021-01-25 19:55] danielmarbach commented on #18160
Work fine on my end

https://github.com/danielmarbach/AzureServiceBus.DeepDive/pull/2/files

[code]

[2021-01-25 20:18] elraikhm opened #18171 "[FEATURE REQ] Improve track 2 packages visibility at the package manager"
**Library or service name.**
This request is for the Key Vault and Search legacy libraries

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

Customers requested on multiple occasions to clearly distinguish track1 vs track2 libraries at Readme documentation and at the package manager. They also asked to surface

[2021-01-25 21:26] maririos commented on #17799
For Appearance, design is:
[code]

[2021-01-25 21:37] rahuls-microsoft commented on #16546
Please refer to the page for Azure SDK links-
https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotaapi#support-in-other-languages-and-interfaces

[2021-01-25 21:51] #17742 closed

[2021-01-25 21:59] #17959 closed

[2021-01-25 21:59] #17561 closed

[2021-01-25 21:59] #17562 closed

[2021-01-25 21:59] #18088 closed

[2021-01-25 22:02] maririos commented on #17813
Decision was to not expose it in the SDK as service is considering removing it from their swagger.

[2021-01-25 22:02] #17813 closed

[2021-01-25 22:03] maririos commented on #17799
Current proposal  for `Page range or pages` is to leave as is. `IEnumerable<string> Pages`

[2021-01-25 22:17] ramya-rao-a commented on #10821
Thanks for the participation everyone!

Closing this issue as it has served its purpose. We have moved the new Azure.Messaging.ServiceBus package out of previews and into a stable release (version 7.0.0) with two top level clients
- ServiceBusClient that can be used to create senders, receivers and processors
- ServiceBusAdministrationClient that can be used to manage Service Bus queues, topics, s

[2021-01-25 22:17] #10821 closed

[2021-01-25 22:43] kurtzeborn commented on #14764
Bumping this back to "client" label.  This is work that should be done by language devs.  As noted in the description, the prototype is done for JS and the smoke tests are now based on samples rather than purpose built smoke tests. Java devs are working on this now for Java smoke tests.  This issue it to track the conversion for .NET samples into smoke tests.

[2021-01-25 22:55] kurtzeborn commented on #17961
Bumping this back to the language team and I've updated the description with clearer instructions of what's needed.

[2021-01-25 23:07] #17869 closed

[2021-01-25 23:09] pakrym opened #18175 "Azure.Core playback tests are slow"
It now takes an hour to run all the tests in the repository which is a lot considering many of them are recorded.

[2021-01-25 23:12] JoshLove-msft commented on #18109
The part that I'm not fully understanding is why it would be cumbersome to get access to the processor when constructing your event handler. In order to set the event handler, you need access to the processor. So I imagine that you could have something like:
[code]

[2021-01-26 00:18] JoshLove-msft commented on #15476
We will update to move the `data` parameter right before the `dataVersion` parameter. This will also make things more consistent with the `CloudEvent` ctor.

[2021-01-26 01:13] heaths commented on #17038
After discussion, we will not add a warning message about using this in Microsoft products.

[2021-01-26 02:51] kasobol-msft commented on #17732
@amnguye This might be good candidate to add APIs/extensions that use https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/System.Memory.Data .
@tg-msft what do you think?

[2021-01-26 02:52] kasobol-msft commented on #9751
@amnguye We can think about adding overloads that accept https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/System.Memory.Data .
@tg-msft what do you think?

[2021-01-26 03:25] maririos opened #18180 "Engineering System Improvements for .NET"
This tracks the work the .NET team will do to improve the engineering system as well as follow best practices in the .NET repo.

[2021-01-26 05:46] nir-yurman opened #18181 "[BUG] no exception is thrown when trying to delete a non existent Disk object"
**Describe the bug**
Deleting a disk resource from Azure using IcomputeManagementClient.Disks.DeleteWithHttpMessagesAsync() does not fail when disk resource does not exist

**Expected behavior**
Either an HTTP exception with error code 404 (not found), or the AzureOperationResponse which is returned should indicate a bad request through 4XX status code

**Actual behavior (include Exception or Stac

[2021-01-26 07:05] v-xuto opened #18183 "Attestation Readme issues"
1.
Section [link](https://github.com/benbp/azure-sdk-for-net/tree/benbp/new-sov-rebase/sdk/attestation/Azure.Security.Attestation#create-the-thing):
![image](https://user-images.githubusercontent.com/57166602/105810726-71b90600-5fe6-11eb-8fd1-b274a99316a0.png)

Reason：No `create_thing` method .

Suggestion:  Delete the whole part about `Create the thing`.

2.
Section [link](https://github.com/benb

[2021-01-26 07:05] v-xuto opened #18184 "MixedReality.Authentication Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/mixedreality/Azure.MixedReality.Authentication#authenticating-a-user-using-device-code-authentication):
![image](https://user-images.githubusercontent.com/57166602/105811265-51d61200-5fe7-11eb-9f43-9e4c378fcf93.png)

Reason: The method `GetTokenAsync` does not require parameters.
Suggestion: Remove `accountId `.

@jongio

[2021-01-26 09:07] readefries commented on #14362
Why is this bug closed? This workaround breaks on Windows, it feels a bit crispy to add this to every project:

`var defaultAzureCredentialOptions = new DefaultAzureCredentialOptions();

            if (RuntimeInformation.IsOSPlatform(OSPlatform.OSX))
            {
                defaultAzureCredentialOptions = new DefaultAzureCredentialOptions
                    {
                        Exclud

[2021-01-26 09:43] Rookian commented on #17736
The request timings were collected in our productive environment in Azure with managed identity enabled.
- Location: West Europe
- Operating System: Linux
- Service Plan: B2, P1v2 (`AADTokenInjectorDbInterceptor` is shared among different kinds of applications)

I also want to point out that we get login errors from time to time (so far two times) with our current solution (`AADTokenInjectorDbInte

[2021-01-26 10:39] johnknoop commented on #18160
@danielmarbach Oh, you're using the INPUT queue as "sendvia". Is that the way to do it? Isn't there a chance that the message will get read again by the same process?

When I try using the input queue as transfer queue, I get past the last exception, but now I get this instead every time:

Not sure why, since I've set the lock duration to 2 minutes and the processing of the message only takes a fe

[2021-01-26 11:37] geedsen opened #18185 "Resource Manager Documentation is Missing Information"
And what does it return if the RG does not exist, exception? null?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f04c9c8-98db-4f04-0256-cd2986561c17
* Version Independent ID: 76d52b7f-5d45-8e1b-8f84-c2e5a7b7ad5b
* Content: [ISupportsGettingByName&lt;T&gt;.GetByName(String) Method (Microsoft.Azure.Management.ResourceM

[2021-01-26 12:43] stmax82 commented on #18040
@bquantump I think so, yes.. it was an Azure Monitor Workbook that was exported as ARM template and re-imported with workbookType = tsg (Techsupport Guide). But I'm not sure if this matters.. the apiVersion parameter needs better documentation that can be used to lookup the correct value for any resource type.

[2021-01-26 12:57] dimsedane opened #18186 "Azure.Identity migration guide does not demonstrate correct approach to specify the scope"
The last example on this page is just what I need, but the library has no such overload:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f95d1f9-f552-ab33-2cbb-f5bc09f6cf5f
* Version Independent ID: 76c243d5-0e9f-cb8d-8919-a06e75ad2cf5
* Content: [App Authentication to Azure Identity Migration Guidance - Azure

[2021-01-26 13:34] jsquire commented on #18181
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-26 13:37] jsquire commented on #18184
@AlexGhiondea:  Do you have a suggestion for a Mixed Reality contact to route this to?   There's none registered for `Service Attention`.

[2021-01-26 13:39] jsquire commented on #18185
Thank you for your feedback.  Tagging and routing to the team member  best able to assist.

[2021-01-26 13:45] jsquire commented on #18186
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-26 13:48] jsquire commented on #18024
@YalinLi0312: That's a mistake on may part.  Apologies for the confusion.

[2021-01-26 15:19] snapfisher commented on #17874
I made some progress and now think that this is an actual bug, or bugs: in both the ImageAnalysisSkill and the MergeSkill

I figured out how to flatten the data in the index, but the merge still fails when trying to use the image description text, but does work correctly if I use OCR text (from the OcrSkill).

I think that the issue is the number of outputs created.  The working ocr text has an en

[2021-01-26 15:22] jhancock4d opened #18187 "[BUG] MediaServices Assets.DeleteAsync "object reference not set""
**Describe the bug**
On client.Assets.DeleteAsync with Microsoft.Azure.Management.Media including a valid id for the asset in question it throws an object not set error.

**Expected behavior**
Should delete the asset.

**Actual behavior (include Exception or Stack Trace)**
Crash.

**To Reproduce**
1. Create a client
2. Create media services asset.
3. Delete the same asset.

**Environment:**
nuget:

[2021-01-26 16:07] jsquire commented on #18157
Closing this out as the associated PR has merged; documentation updates will be included in our next release.

[2021-01-26 16:07] #18157 closed

[2021-01-26 16:11] stymee opened #18188 "Example 2 should reference UserProperties type instead of ContainerProperties in GetUserQueryIterator"
I think the section 2 example using statement is referencing the wrong type.
[code]
should be
[code]

Original snippet:
[code]

Corrected snippet:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 154c3009-f311-227c-fb2b-da52df5984b3
* Version Independent ID: b8a681ea-f9d4-45cc-9c49-450aa43fead5
* Content: [Databas

[2021-01-26 16:41] jsquire commented on #18188
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-26 16:41] jsquire commented on #18187
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-01-26 16:44] RickWinter opened #18190 "Creating an ETag(null) results in ToString output the same as ETag("<null>")"
The ETag.ToString() method returns "<null>" if the ETag has no value.
RFC7232
[code]
This code creates an ETag `"<null>"`, which granted is not valid per RFC7232, however the sentinal of no string is not distinguishable from the invalid string `"<null>"`.

[code]
Outputs:
[code]

[2021-01-26 17:26] rakshith91 commented on #15476
@JoshLove-msft
It was discussed in the cross language consistency meeting to use this order -
[code]

[2021-01-26 17:26] LarryOsterman commented on #18183
Funny you should mention that - I just went through building a decent one for Java, let me see what I can do about transferring it.

[2021-01-26 17:28] jsquire commented on #17602
Fixed by #18191

[2021-01-26 18:42] heaths commented on #9062
This was completed some time ago by @pakrym as part of the Azure.Core.TestFramework shared source project.

[2021-01-26 18:42] #9062 closed

[2021-01-26 18:42] heaths commented on #9060
This now works given the new authentication model several of us worked on.

[2021-01-26 18:42] #9060 closed

[2021-01-26 18:43] heaths commented on #9061
@pakrym did this for Windows, but we don't yet do this for linux and should consider it.

[2021-01-26 19:00] JoshLove-msft commented on #15476
I think this was before @YijunXieMS pointed out the inconsistency between the CloudEvent and EventGridEvent ctors. Can we discuss again tomorrow?

[2021-01-26 19:01] rakshith91 commented on #15476
makes sense - agree with the inconsistency in both the Events - sure

[2021-01-26 19:05] heaths commented on #8139
Closing this one. I can't even find the script for which this was intended. If it ever comes up again, we can use this other assembly to avoid all the assembly resolution I had to do in-proc using System.Reflection.

[2021-01-26 19:05] #8139 closed

[2021-01-26 19:07] #16725 closed

[2021-01-26 19:20] JoshLove-msft commented on #16747
This was completed as part of MQ.

[2021-01-26 19:20] #16747 closed

[2021-01-26 19:40] JoshLove-msft commented on #10852
Thanks for the participation everyone!

Closing this issue as it has served its purpose. We have moved the new [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) package out of previews and into a stable release (version 7.0.0).

Message settlement is performed via the `ServiceBusReceiver` and `ServiceBusSessionReceiver`. When using the processor, the settleme

[2021-01-26 19:40] #10852 closed

[2021-01-26 19:43] allenjzhang commented on #18040
@Arm team. I think we can update the description of [API version](https://github.com/Azure/azure-rest-api-specs/blob/825cc5cfa5fc3581a7b405cb7063282e8651ea76/specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/resources.json#L6365) to include links to [Azure Rest API reference](https://docs.microsoft.com/en-us/rest/api/azure/) for user to locate the current version.

[2021-01-26 19:46] JoshLove-msft commented on #10842
Thanks for the participation everyone!

Closing this issue as it has served its purpose. We have moved the new [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) package out of previews and into a stable release (version 7.0.0).

It turned out that including both messaging and rule management operations as part of a single transaction is not supported. Being t

[2021-01-26 19:46] #10842 closed

[2021-01-26 19:49] allenjzhang commented on #18181
Per [rest api spec](https://github.com/Azure/azure-rest-api-specs/blob/44ec11c74634f1afa5bbe0d3f2678b7f819ebf8e/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/disk.json#L226)  Service will return 204 if disk already deleted as defined behavior.

[2021-01-26 19:49] JoshLove-msft commented on #10829
Thanks for the participation everyone!

Closing this issue as it has served its purpose. We have moved the new [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) package out of previews and into a stable release (version 7.0.0).

We ended up including a constructor overload on `ServiceBusMessage` that allows a new instance to be created by passing in a `Servic

[2021-01-26 19:49] #10829 closed

[2021-01-26 19:52] JoshLove-msft commented on #10933
Thanks for the participation everyone!

Closing this issue as it has served its purpose. We have moved the new [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) package out of previews and into a stable release (version 7.0.0).

See the [migration guide from Microsoft.Azure.ServiceBus to Azure.Messaging.ServiceBus](https://github.com/Azure/azure-sdk-for-net/b

[2021-01-26 19:52] #10933 closed

[2021-01-26 19:55] allenjzhang commented on #18187
@jhancock4d, is it possible to provide a call stack for the crash? Thanks

[2021-01-26 20:21] axisc commented on #18035
@EnricoMassone just checking in if you had any follow up questions. If not, I can proceed to close the issue.

[2021-01-26 20:25] axisc commented on #18001
I see. Yes, we don't have a way to define granular timeout for each retry attempt. It is meant to simplify the configuration.

I would instead recommend reducing the number of retries, which can be done by adjusting the retry policy.

hope this helps.

[2021-01-26 20:27] EnricoMassone commented on #18035
@axisc I'm going to investigate what happens at the AKS level, we have an open ticket with the Azure service desk.

Just a clarification request, above you mentioned the ack. The only ack I'm aware of, in the context of the Azure service bus messaging, is the ack done by the client when the message processing is complete, so that the Azure Service Bus can remove the message from the subscription.

[2021-01-26 20:54] snapfisher commented on #18060
I have a little more info on this.  I can get it to occur when adding incremental files also, not just on an indexer reset.  Using this code whenever a file is added to a blob storage account:

    public static class RunIndexer
    {
        [FunctionName("RunIndexer")]
        public static void Run([BlobTrigger("%BlobContainer%/{name}", Connection = "AzureBlobConnectionString")]Stream myBlob, s

[2021-01-26 21:00] zmarty commented on #9611
Folks, why don't we still have a name validator? Every big project needs to write their own, it's a waste of resources. Also, the old library had it, so it's not like this is a new ask. Please, just be at parity.

[2021-01-26 21:19] mikeharder opened #18198 "[Stress] NullReferenceException in ShareFileClient.DownloadAsync()"
I am able to consistently repro a `NullReferenceException` when running the `ShareFileClient.DownloadAsync()` perf test.  This appears to be a stress bug in either our code or the .NET Framework.

## Repro Steps
1. Create a storage account with `Performance: Premium` and `Account kind: FileStorage`.
2. Create an Azure VM with `Operating System: Linux (ubuntu 18.04)`, `Size: Standard DS3 v2 (4 vcpu

[2021-01-26 21:58] tg-msft opened #18199 "[BUG] Is ClientDiagnostics's DiagnosticListener leaking?"
An internal partner is seeing a leak caused by:
- [ClientDiagnostics derives from DiagnosticScopeFactory](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs#L20)
- [DiagnosticScopeFactory creates a DiagnosticListener](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/DiagnosticScopeFactory.cs#L25)
- [Diagno

[2021-01-26 22:03] martonx commented on #9823
Hello, I have lots of blobs uploaded into blob container with wrong content-type. I don't find edit option on Azure portal. Now, I wrote a small console app to modify content-type, but it seems it is impossible. Is it true?
I have to download all of the blobs, then delete all of them, then upload with the correct content-type?

Is this true, or only a bad joke? There is even no content-type settin

[2021-01-26 22:05] JoshLove-msft opened #18201 "[Service Bus] February Release"
This is a parent issue tracking the work planned for the February Service Bus release.

[2021-01-26 22:09] maririos commented on #16721
Looks like all work set for MQ for this epic has been done, so closing.
Feel free to open again if needed.

[2021-01-26 22:09] #16721 closed

[2021-01-26 22:12] JoshLove-msft opened #18202 "[Event Grid] February Release"
This is a parent issue tracking the work planned for the February Event Grid release.

[2021-01-26 22:15] #17421 closed

[2021-01-26 22:24] JoshLove-msft opened #18203 "Improve extensibility of client types"
The ServiceBusSender/ServiceBusReceiver/ServiceBusProcessor cannot currently be overriden wholesale (their methods can be overriden, but the types themselves cannot be) because we don't expose protected constructors that would enable hooking up the derived type with the underlying ServiceBusClient. We should expose such constructors to enable more flexibility when working with the library. This wa

[2021-01-26 22:28] pakrym commented on #18199
Related: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1867

[2021-01-26 22:31] pakrym commented on #18199
We can go about it in two ways:
1. Add a finalizer to the `DiagnosticScopeFactory`
2. Cache DiagnosticListener in a dictionary based on the namespace.

[2021-01-26 23:17] kinelski opened #18207 "[MetricsAdvisor] List main differences between User and Admin roles in README"

[2021-01-26 23:38] DaveSlinn opened #18209 "[QUERY] Azure.RequestFailedException thrown/logged in Debug window when Exists() method called on BlobClient"
**Query/Question**
Is it normal for the BlobClient Exists method to log a RequestFailedException which is displayed in the debug window of Visual Studio?

**Environment:**
 - Azure.Storage.Blobs version 12.8.0
 - Windows Forms .NET 5 app (running on Windows 10 Version 20H2 build 19042.782
 - Visual Studio Enterprise 2019 Version 16.8.4

Here is my code that is calling the .Exists() method to see i

[2021-01-27 03:08] maririos opened #18216 "Business Cards returns Appearance.Style.Name == print"
The Business Cards endpoint is returning `print` as an `Appearance.Style.Name` value. And although it is designed as an extensible enum and this doesn't brake the SDK it seems like a service bug.
Once fixed, respective tests need to be enabled.

->  https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/SessionRecords/FormRecognizerClientLiveTests/S

[2021-01-27 05:13] yungezz commented on #18185
hi @xccc-msft could you pls help? thanks

[2021-01-27 05:14] Rick-Anderson opened #18217 "Documentation is unclear about TokenValidationParameters.ValidateIssuerSigningKey"
Opened at   https://github.com/dotnet/core/issues/5877 by @marwalsch

I am setting up Basic AuthN for a JWT issued by the Windows STS. However, I am unsure about the correct way to do so and the Documentations are somewhat lacky about the correct way. These are my `AddJwtBearer `-options and the simplified Token:

[code]

[code]

Validation works as far as to deprecated Tokens or those lacking a s

[2021-01-27 08:00] #17745 closed

[2021-01-27 08:21] xccc-msft commented on #18185
@geedsen It will throw `CloudException` with message below:
[code]

[2021-01-27 08:57] jorjbotezat opened #18221 "[QUESTION] [Servicebus|Azure.Messaging.ServiceBus] Sender cannot be created with empty or null entityName?"
If the entity name is specified in the connection string and you pass null or empty to ValidateEntityName, that method will throw the ArgumentException. In the method is written that you should specify the entityName in only one place.

[2021-01-27 09:40] JoshKeegan commented on #18001
Hi @axisc,
I don't think reducing the number of retries would help. In the second scenario in my example code (hostname resolves but service bus port cannot be connected to) no retries occur. Whatever the number of retries is set to, this problem will happen as the library waits for `ITopicClient.OperationTimeout` to be reached before terminating the initial attempt.

Perhaps I didn't initially hi

[2021-01-27 11:35] Adam-Howarth opened #18223 "Spelling mistake"
Propeties of a Blob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aee2a111-1d68-f5a5-5e90-24c9567d74a3
* Version Independent ID: ee336e90-0a99-0068-1af3-3c44e75327d2
* Content: [BlobProperties Class (Azure.Storage.Blobs.Models) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blob

[2021-01-27 13:06] jsquire commented on #17602
These changes have been merged and will be included in the next release.   Closing this out.

[2021-01-27 13:06] #17602 closed

[2021-01-27 13:49] DMEvans opened #18224 "Cannot mock the BlobBaseClient.CanGenerateSasUri property for testing"
When trying to unit test a class that provides SAS token URI's for blob access I'm struggling to be able to assert all of the necessary invocations on the BlobClient.

The following code example shows what I'm trying to do:

[code]

In my tests I want to ensure that the correct exception is thrown when "CanGenerateSasUri" evaluates to "false", and that the correct values are passed to "GenerateSas

[2021-01-27 14:42] pwandrag opened #18226 "[BUG] This query parameter value is invalid when tag name is "Year" when calling FindBlobsByTags()"
**Describe the bug**
I have a blob tagged with a number of tags (8 different tags). Retrieving the blob with any tag keys work as expected except if I try with the tag named 'Year' or tag named 'Month'. We can debate whether this is a good choice of tag names (I need them for retention policies in future), but the SetTags operation did not deny my request, and if I list the blobs using Storage Exp

[2021-01-27 15:44] jsquire commented on #18209
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-27 15:54] jsquire commented on #18217
Hi folks,

This issue appears to be related to the `Microsoft.IdentityModel.Tokens` library, which isn't part of the Azure SDK.  From the [NuGet package](https://www.nuget.org/packages/Microsoft.IdentityModel.Tokens/) it appears to be owned by the Azure AD team.    I've moved it to [#1590](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1590) in the [Act

[2021-01-27 15:54] #18217 closed

[2021-01-27 15:57] jsquire commented on #18224
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-27 15:58] jsquire commented on #18226
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-27 16:09] jsquire commented on #18221
Hi @jorjbotezat.   Thank you for your feedback and we regret that you're experiencing difficulties.  The behavior that you're describing is by design;  when creating a sender, you must specify the entity name, regardless of whether it exists in the connection string or not.   _(see remarks in the [docs](https://docs.microsoft.com/dotnet/api/azure.messaging.servicebus.servicebusclient.-ctor?view=az

[2021-01-27 16:12] jsquire commented on #18223
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-01-27 16:41] amnguye commented on #18028
Yes the understanding is correct. Sorry I was under the impression that you ran into a bug where the token was not refreshing, that's why I was asking for the logs, stack trace and exception message.

[2021-01-27 16:44] jongio opened #18228 "[BUG] Wiki has old packages"
Please update https://github.com/Azure/azure-sdk-for-net/wiki with new info or just remove old.

[2021-01-27 17:57] JoshLove-msft commented on #18221
Thanks for the feedback @jorjbotezat. As @jsquire mentioned, this is indeed by design. The rationale behind this is that we wanted to optimize the API surface and behavior for the common scenario where the connection string was scoped to the namespace rather than a specific entity. We have exposed the [ServiceBusConnectionStringProperties](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk

[2021-01-27 18:24] #17038 closed

[2021-01-27 18:38] jongio commented on #18228
@nickzhums - Can you clean up this page when you get time?

[2021-01-27 19:08] maririos commented on #18216
Service identified this as a bug in `2.1-preview.2` version.
It only happens in BusinessCards when `IncludeFieldElements=true` and it has been fixed in `2.1-preview.3`.
The SDK will surface the value as is and when it moves to target 2.1-preview.3 bug will be fixed. -> enable commented validation again

[2021-01-27 19:23] #18051 closed

[2021-01-27 19:27] jorjbotezat commented on #18221
Thanks for answering, but looking at the code, I think you should change the comment. This is the reason why I opened this issue.

`// The entity name may only be specified in one of the possible forms, either as part of the
 // connection string or as a stand-alone parameter, but not both.  If specified in both to the same
 // value, then do not consider this a failure.`

[2021-01-27 19:32] ErikMogensen opened #18238 "ReceiveAsync(Int64) only works for deferred messages"
Unlike the other Receive methods on this page ReceiveAsync(Int64) only works with deferred messages. It should be mentioned in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d143c39-d0eb-b3ed-1ac3-6acd89beff8d
* Version Independent ID: 05b757af-1781-65c5-57a1-40a8f12a7511
* Content: [MessageReceiver

[2021-01-27 19:43] allenjzhang commented on #7754
@jsquire, this is not a `mgmt` plane related issue. I am removing the incorrect label. Thanks.

[2021-01-27 19:53] nitinkale commented on #12244
@ahamad-MS @JoshLove-msft   new library "Azure.Messaging.EventGrid" does support anonymous type , but it doesn't support JObject

[2021-01-27 19:56] allenjzhang commented on #4538
This is not mgmt specific.  HttpClient will raise a TaskCanceledException if the send times out. If this needs to be addressed, should be addressed in Azure.Core.