[2020-07-08 18:26] kinelski commented on #12562
Done (https://github.com/Azure/azure-sdk/pull/1513).

[2020-07-08 18:26] #12562 closed

[2020-07-08 18:28] kinelski commented on #12078
All related issues have been closed.

[2020-07-08 18:28] #12078 closed

[2020-07-08 18:52] maririos commented on #13238
dup of https://github.com/Azure/azure-sdk-for-net/issues/12563

[2020-07-08 18:52] #13238 closed

[2020-07-08 21:18] schaabs commented on #13309
@adiun Thanks for filing this issue. Based off your the code in your repro, I think the problem may be the the scope you are trying to obtain a token for. In your test, you're requesting a token with the scope "https://some/appiduri/.default", but this is not a valid scope.

[code]

This seems to be consistent with the error message your getting.

Scopes are per-registered with AAD by the azure re

[2020-07-08 21:34] 1RedOne opened #13318 "Should we be able to deploy the Azure Security Center ARM template to enroll in ASC?"
**Query/Question**
Hi!  I'm using IAzure.Deployments to deploy a lot of ARM Templates for something I'm working on using the AzureSDK.  I've got an ARM Template that should enroll me in Azure Security Center, but this is done **[at the subscription level](https://techcommunity.microsoft.com/t5/azure-security-center/managing-security-center-at-scale-using-arm-templates-and-azure/ba-p/327761)**.

Un

[2020-07-08 21:43] #11948 closed

[2020-07-08 21:46] AlexGhiondea opened #13319 "Enable spatial types support in Search"
Once the Azure Core change (#10592) is merged, we need to re-enabled the APIs in Search to support it.

[2020-07-08 21:50] AlexGhiondea opened #13320 "Move ObjectSerializer to Azure.Core"
Move the type from the Experimental package to Core.

[2020-07-08 21:50] AlexGhiondea opened #13321 "Move DynamicData to Azure.Core"
Move the type from the Experimental package to Core.

[2020-07-08 21:50] AlexGhiondea opened #13322 "Move BinaryData to Azure.Core"
Move the type from the Experimental package to Core.

[2020-07-08 21:53] AlexGhiondea opened #13323 "Release Azure Search 11.2-beta.1"
This tracks the work of releasing the 11.1-Beta2 package

### Features
- [ ] Batch support preview

[2020-07-08 21:59] #12899 closed

[2020-07-08 22:00] AlexGhiondea commented on #13150
Related to #10600

[2020-07-08 22:09] christothes opened #13324 "Implement Security Domain client functionality"
This would be an additional client in the Management package. Swagger spec can be found [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/securitydomain.json).

[2020-07-08 22:14] christothes opened #13326 "Implement samples for Backup Restore functionality"

[2020-07-08 22:25] schaabs commented on #13054
@shpathak-msft thanks for filing this issue. There was an issue in the `ManagedIdentityCredential` when authenticating against  App Service MSI endpoint when the application was using a culture other the en-us. This issue has been fixed in our latest preview 1.2.0-preview.5. Would it be possible to upgrade to this version to see if you still hit the error your describing above?

Also, with regard

[2020-07-08 22:36] christothes opened #13327 "Implement samples for RBAC functionality"

[2020-07-08 23:40] #13243 closed

[2020-07-08 23:45] #11928 closed

[2020-07-09 00:16] amnguye commented on #13278
Since we have multiple `Upload` and `UploadAsync` methods, it looks like when the user passes a `DataLakeRequestConditions` we do not default to not overwritting. Will follow up with what we decide to do for this.

[2020-07-09 00:44] davidOSUL opened #13330 "[BUG][Storage][DataLake] DataLakeDirectoryClient and DataLakeFileClient Exists()/ExistsAsync() give unexpected result"
**Describe the bug**
DataLakeDirectoryClient.Exists() and DataLakeFileClient.Exists() always return true when the path exists, regardless of the type of the path. I'm not sure if this is intended behavior, but if it is, it seems counterintuitive to what I would expect those methods to do.
**Expected behavior**
When a file of the same name exists, DataLakeDirectoryClient.Exists() should return fals

[2020-07-09 01:56] seanmcc-msft commented on #13236
@pakrym @tg-msft, do we have a plan for this one?  I'd like to revert https://github.com/Azure/azure-sdk-for-net/pull/13213 sometime in the next few weeks.

[2020-07-09 02:25] RandalliLama commented on #7746
Pulling in an appropriate owner.

[2020-07-09 02:42] RandalliLama commented on #6514
@pakrym is the issue that there is no way to determine when the purge has actually completed?

[2020-07-09 02:47] seanmcc-msft commented on #13232
Hi @blueww, I've put out a PR to resolve this issue: https://github.com/Azure/azure-sdk-for-net/pull/13332

[2020-07-09 03:01] adiun commented on #13309
Thanks @schaabs for the fast response. We want an MSI-enabled Azure App Service app "A" to call another AAD EasyAuth-enabled app "B" in the tenant. So I want to use the MSI in App "A" to get an access token that can be attached to the `Authorization` header of an HTTP request that calls into App "B".

My `some/appiduri/.default` was a bad example - I was trying to imply we're using [this pattern](

[2020-07-09 03:14] tg-msft commented on #13236
Yes, we need to stop recording Azure.Identity traffic and switch to using something like https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core.TestFramework/src/TestEnvironment.cs#L253 instead.

I asked @JoshLove-msft to take a look at it.  If he can't get it done this week, I'll fix it on Monday.

[2020-07-09 03:33] blueww commented on #13300
I get it's in AccountSasPermissions, but not in BlobContainerSasPermissions. And we should not use BlobContainerSasPermissions,  it's redundant in XSCL.

[2020-07-09 03:33] #13300 closed

[2020-07-09 04:33] seanmcc-msft commented on #13222
I have a PR out to fix this issue - https://github.com/Azure/azure-sdk-for-net/pull/13334

[2020-07-09 05:18] seanmcc-msft commented on #13312
@amnguye, don't we return true or false if the Blob or Container exists or doesn't exist?  Also, I think the purpose of these methods is to save the customer from having to catch an exception.  I'm not sure that this is a regression.

[2020-07-09 07:51] Vuharish opened #13339 "[QUERY] I am getting 404 Resource not found exception while I am using Form recognizer trainingClient.StartTrainingAsync() method."
**Query/Question**
I am getting 404 Resource not found exception while I am using Form recognizer trainingClient.StartTrainingAsync() method.

**Environment:**
 - visual stuido 2019
- .net core 3.1

public static async Task<string> TrainModel(FormTrainingClient trainingClient, string trainingDataUrl)
        {
            try
            {
                Uri uri = new Uri(trainingDataUrl);

[2020-07-09 15:31] mymatrixpixel opened #13342 "Azure.Data.AppConfiguration- AddSecretclient"
Hi Team,

How to read key vault information from Azure App Configuration.

Since we referred Key vault as a reference into Azure app configuration.( Have Lable).

I want to read this Secret key and value form Azure App configuretion. In a my C# Library.

Please refer following code.

Var configCient = new ConfigureClient(connectionstring);

configCient.AddSecretClient();// how to add secretclient.

[2020-07-09 15:45] seanmcc-msft commented on #13302
'f' is not a valid blob SAS permission.  'f' only applies to Account SAS.

[2020-07-09 15:45] #13302 closed

[2020-07-09 15:58] christothes commented on #13287
Confirmed with the service team that there is no "cancelled" status for backup and restore operations. Valid status values are `InProgress` | `Succeeded` | `Failed`

[2020-07-09 15:58] #13287 closed

[2020-07-09 16:16] xperiandri commented on #11595
Tried `1.2.0-preview.1`-`1.2.0-preview.5` works only with interactive auth and `AZURE_USERNAME` and `AZURE_TENANT_ID`
[code]
If `ExcludeVisualStudioCodeCredential = false` then exception.
If `ExcludeInteractiveBrowserCredential = true and ExcludeVisualStudioCodeCredential = true` then cannot find my Microsoft Account in cache.

[2020-07-09 16:21] xperiandri commented on #8658
Tried `1.2.0-preview.1`-`1.2.0-preview.5` works only with interactive auth and `AZURE_USERNAME` and `AZURE_TENANT_ID`
[code]
If `ExcludeVisualStudioCodeCredential = false` then exception.
If `ExcludeInteractiveBrowserCredential = true and ExcludeVisualStudioCodeCredential = true` then cannot find my Microsoft Account in cache.

[2020-07-09 16:25] jsquire commented on #13342
Hi @mymatrixpixel.  Thank you for reaching out and we regret that you're experiencing difficulties.

You may want to take a look at the [[samples]](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/appconfiguration/Azure.Data.AppConfiguration/samples) for the AppConfiguration client library.  The basic operations for creating and reading secrets are demonstrated in the the first sample, [

[2020-07-09 16:40] jongio commented on #12106
I don't think this issue should be closed given the PR referenced.  It would be prudent to close this issue when the Migration guide is complete, not when partially done.  I appreciate the start, but work still needs to be done to consider this closed.  Thanks

[2020-07-09 17:05] #11794 closed

[2020-07-09 17:06] heaths commented on #6514
He's OOF, but, yes, the issue is there is no way to know when the purge actually completed such that you could create a new one or restore an existing one from backup. Though, I suppose you could just try until either of those operations succeeds, but seems like a hacky workaround.

[2020-07-09 17:14] MiYanni commented on #13283
As per discussion offline, it seemed like we leaned toward doing this, despite it being against what EH has. The rationale was it is more consistent with a similar pattern in the rest of the SDKs.

[2020-07-09 17:16] shpathak-msft commented on #13054
@schaabs Thanks for the response. I checked the issue with authenticating when the application was using culture other than en-us. We are seeing this issue in some US as well as non-US regions, so I am unsure if it is the same issue. So I would first like to check the token and figure out what is invalid. I used your instructions and tried hitting kudu to hit the MSI endpoint. This time, I was abl

[2020-07-09 17:42] mymatrixpixel commented on #13342
@jsquire  I have already referred it also those samples are only about CRUD. My question is how to use Secretclient in ConfigureClient. AddSecretClient is a extension method. Please provide sample for that.

[2020-07-09 17:45] jsquire commented on #13342
On that, I'll have to defer to the team working on AppConfig.  I've tagged this up to bring it to their attention; someone better able to assist should be taking a look in the near future.

[2020-07-09 17:55] apclouds commented on #7304
@sujayvsarma to confirm, your feature request is for Export Template to work across distinct Resource Groups, and produce a single template with the specified resources from each of those?

[2020-07-09 17:57] #13232 closed

[2020-07-09 18:01] schaabs commented on #13054
@shpathak-msft Does the App Service in question have a system assigned identity or only a user assigned identity? If it is a system assigned identity you can omit the client id query parameter. However to get a user assigned identity this has to be passed, but this version of the App Service managed identity endpoint actually expects the parameter as clientid rather than client_id. Can you try alt

[2020-07-09 18:02] mymatrixpixel commented on #13342
@jsquire Thanks.Since  It's a blocker. Please expedite.

[2020-07-09 18:22] shpathak-msft commented on #13054
I got it working after using "clientid" instead of "client_id". I see this on the token "expires_on":"7/10/2020 6:04:48 PM +00:00". Is this the invalid format? Also, only some requests fail with this AuthenticationFailedException and not all. If it were the culture issue, shouldn't it affect all requests?

[2020-07-09 18:36] #13236 closed

[2020-07-09 18:36] JoshLove-msft commented on #13283
/cc @KrzysztofCwalina any thoughts on this?

[2020-07-09 18:43] maririos commented on #13342
@AlexanderSher could you please take a look?

[2020-07-09 18:55] seanmcc-msft commented on #13236
@tg-msft, @JoshLove-msft, did we also revert Ted's workaround from Thursday?

[2020-07-09 19:16] JoshLove-msft commented on #13236
Yep

[2020-07-09 19:26] mymatrixpixel commented on #13342
Do you have any update?

[2020-07-09 19:31] maririos commented on #13339
Thanks @Vuharish . Which version from the client library are you using?

[2020-07-09 19:38] jsquire commented on #13342
Respectfully, @mymatrixpixel, these issues are not intended to provide critical support.   We strive to assist the best that we're able and as quickly, but you may see some latency in response when the individuals with expertise for a given library are engaged elsewhere.

If this is a critical blocking issue for you, I'd recommend that you open a [support ticket](https://docs.microsoft.com/en-us/a

[2020-07-09 19:48] jongio commented on #12813
@ctstone - Any update on this?  Do we know who owns it?

[2020-07-09 19:51] jongio commented on #11645
@MarneeDear - Going to close this for now to clean up issues, but let me know if my workaround worked for you.

[2020-07-09 19:51] #11645 closed

[2020-07-09 19:56] jongio commented on #12290
@mariojsnunes - Did you get this working?

[2020-07-09 19:58] mymatrixpixel commented on #13342
Ok.i got your point will wait. No issues.

[2020-07-09 22:13] AlexanderSher commented on #13342
@mymatrixpixel , we don't provide support for KeyVault references out of the box. Here is the code you can use:

[code]
Any of the service calls can produce exceptions, `setting.Value` isn't guaranteed to have correct JSON object in it. `ConfigurationClient` and `SecretClient` can be cached for better performance.

[2020-07-09 22:48] #13278 closed

[2020-07-09 23:21] schaabs commented on #13054
Do you have both successful and unsuccessful authentication in the same process? If this is the case you're right that it's most likely not a problem with the culture. In that case it would probably be best to use logging to try and capture the responses which are responsible for the AuthenticationFailedExceptions.

[2020-07-09 23:27] meanjeekim opened #13350 "Sprint Review Demo"
[Presentation](https://microsoft-my.sharepoint.com/:w:/p/t-lilaw/Ee26_rK1XjpEvimcAsybx0cBMQBBgudeDRE1TEIRPhMqPQ?e=y5VeUG)

[2020-07-10 00:04] mymatrixpixel commented on #13342
@AlexanderSher Thanks much for the code snippets. I will try and let you know. Also , I just want to understand (how setting.Value will break) service inconsistency or Json parse may break ( if there is new version)? . Can you give some info.

[2020-07-10 00:15] JoshLove-msft opened #13352 "[Discussion] Service Bus - Track 2 - Management client model changes"
_The intent of this issue is to solicit feedback from the community in advance of the GA of the next major version of the Service Bus library (which will follow several Preview releases).
As a reference, the .NET Azure SDK guidelines can be found here: https://azure.github.io/azure-sdk/dotnet_introduction.html
Terminology:
Track 0 refers to the [WindowsAzure.ServiceBus library](https://www.nuget.o

[2020-07-10 00:16] JoshLove-msft opened #13353 "[Discussion] Service Bus - Track 2 - Management client - RuntimeProperties flattening"
_The intent of this issue is to solicit feedback from the community in advance of the GA of the next major version of the Service Bus library (which will follow several Preview releases).
As a reference, the .NET Azure SDK guidelines can be found here: https://azure.github.io/azure-sdk/dotnet_introduction.html
Terminology:
Track 0 refers to the [WindowsAzure.ServiceBus library](https://www.nuget.o

[2020-07-10 00:32] JoshLove-msft commented on #13352
/cc @SeanFeldman @Einarsson @brandondahler @broloaugh @ankrause @GrimGadget @ShaneCourtrille @Pucmaster @Bnjmn83 @tomkerkhove @clemensv

[2020-07-10 00:32] JoshLove-msft commented on #13353
/cc @SeanFeldman @Einarsson @brandondahler @broloaugh @ankrause @GrimGadget @ShaneCourtrille @Pucmaster @Bnjmn83 @tomkerkhove @clemensv

[2020-07-10 02:16] AlexanderSher commented on #13342
`setting.Value` isn't secured from being overridden. One of the things you can check is `ConfigurationSetting.ContentType`, which should be `application/vnd.microsoft.appconfig.keyvaultref+json`. Format for JSON today is simply `{"uri"="<secret uri>"}`, but AFAIK, there is no official document that describes it.

[2020-07-10 02:20] XuGuang-Yao opened #13354 "[Azure Search]Error occurs deploying test-resources.json in China and US Gov cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

In US Gov and China, deploy resource fails with error `'apiProperties {"statisticsEnabled": false} is invalid'`.Please refer to this [pipelie ](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=452585&view=results)for mor

[2020-07-10 02:44] maririos opened #13355 "Implement serialization for Opinion Mining"

[2020-07-10 02:44] maririos opened #13356 "Get .NET arch approval for OM"

[2020-07-10 02:45] maririos opened #13357 "Write tests for Opinion Mining"

[2020-07-10 02:45] maririos opened #13358 "Write samples for Opinion Mining and PII"

[2020-07-10 02:46] maririos opened #13359 "Address arch board feedback for Opinion Mining design"
- [x] Remove `[EditorBrowsable(EditorBrowsableState.Never)]` from single method `AnalyzeSentiment(string document, string language)` and `AnalyzeSentimentAsync(string document, string language)`
- [ ] Consider making IncludeOpinionMining an enum flag like https://apiview.dev/Assemblies/Review/a17b6175b93847db83a99c7fcfeca9ab#Azure.Storage.Blobs.Models.BlobStates.
- [x] Consider renaming `MinedOpin

[2020-07-10 02:49] maririos commented on #10711
Specific issues created for this have been added to epic #13253

[2020-07-10 02:49] #10711 closed

[2020-07-10 02:54] maririos opened #13360 "Define parameter name for opinion mining"
Options:
- IncludeOpinionMining
- IncludeAspectsMininig
- IncludeAspects

[2020-07-10 02:55] maririos opened #13361 "Decide name for Aspect property under SentenceSentiment"

[2020-07-10 02:57] maririos opened #13362 "Decide model name for Aspect"
Options:
- SentenceAspect (what currently the service has)
- SentimentAspect
- AspectSentiment
- Aspect

[2020-07-10 03:22] Luyunmt opened #13363 "[Storage]Error occurs deploying test-resources.json in China and US Gov cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

In US Gov and China, deploy resource fails with error `Versioning is not supported for the account`.Please refer to this [pipelie ](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=452419&view=results)for more details.

[2020-07-10 04:01] sujayvsarma commented on #7304
@apclouds  - Yes. I am also okay with the result being multiple json files. Consider something like this:

[code]

Also:

[code]

Stuff like that. you get the idea.

[2020-07-10 04:06] tzhanl commented on #13354
@jongio @danieljurek for notification.

[2020-07-10 05:14] danieljurek commented on #13354
One way we've dealt with this kind of situation in the past is to use an ARM template parameter to define how this property is constructed.

An example is here: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/test-resources.json#L53

The way we do this is:
1. Define a parameter (in the example case `enableMultipleRegions`)
2. Define possible values of an object as variables (`si

[2020-07-10 05:15] tzhanl commented on #13363
@jongio @danieljurek for notification.

[2020-07-10 05:36] #13242 closed

[2020-07-10 05:50] PureKrome commented on #13308
Thanks @tg-msft for the answer - that helps, big time!

I'll be subscribing to #8941 so I can see when the docs get updated. Great to see other people asking a similar question.

Also, thanks for the prompt reply too!

Keep fighting to the good fight, team MS! 🍰

[2020-07-10 06:08] blueww commented on #13302
@seanmcc-msft
Thanks for the reply!

Is there any function in track2 XSCL can convert the raw permission string to Blob/ContainerSasPermissions, like “SharedAccessBlobPolicy.PermissionsFromString()” Track1?

We need this since powershell cmdlet input permission as raw permission string (change it is breaking and not allowed until major release), so we need write code to convert it to Blob/Containe

[2020-07-10 06:24] SeanFeldman commented on #13353
From a consumer point of view, flattening `QueueRuntimeInfo` is not an issue.
`MessageCount` to `TotalMessageCount` renaming is good.
The `SizeInBytes` property, wish it was a value object where the size could be returned in KB, MB, or GB. When a normal queue load is measured in MB, the size in KB requires continuous math in user code rather than just have it in the unit of measure that makes more

[2020-07-10 06:49] SeanFeldman commented on #13352
1. For the get properties methods on the management client, e.g. `QueueProperties`, I would suggest to have a method that is less ambiguous than `GetQueueAsync(queueName)`. A `GetQueuePropertiesAsync(queueName)` would be a better for intent revealing.

1. While I see the rationale behind the naming chosen for `CreateQueueOptions` and `QueueProperties`, I find it confusing to have "options" and "pr

[2020-07-10 14:00] ctstone commented on #12813
@jongio, Cognitive Services Platform Team has opened an internal issue to track this.

[2020-07-10 14:19] davidobrien1985 opened #13378 "[BUG] VM Extension information not published by"
**Describe the bug**
SDK call is not returning all expected data when calling `virtualmachine.listasync()`.

**Expected behavior**
Info about extensions is retrieved as part of the `Inner` property.

**Actual behavior (include Exception or Stack Trace)**
`Inner.Resources` only has partial data (only the extension ID, no name, type, etc).
We are now instead using the `instanceView` to get some of t

[2020-07-10 15:38] lukasvosyka commented on #10242
I ran into the same issue. The fix was easy, but the fact that MS libs don't work out-of-the-box as they did with previous versions in conjunction with Azure is more than frustrating. Offloading problems to the customers of MS seems to be the solution to MS guys out there... 👎

[2020-07-10 16:24] seanmcc-msft commented on #13269
@blueww, could you post a code snippet showing how you generated the user delegation blob snapshot sas?

[2020-07-10 16:57] maririos commented on #9975
We will like to get more information about the usage of this feature to help shape the design.
Moving to backlog

[2020-07-10 16:58] maririos commented on #10537
Because this depends on design, we decided to close this issue and whenever the feature is implemented consider adding a sample

[2020-07-10 16:58] #10537 closed

[2020-07-10 17:21] heaths commented on #13354
@tg-msft, since this is just disabling statistics (off hand, not even sure what that means since we have tests for getting statistics), think we can just remove this property?

[2020-07-10 17:27] tg-msft commented on #13354
[Apparently it's for Bing Search only](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.cognitiveservices.models.cognitiveservicesaccountapiproperties.statisticsenabled?view=azure-dotnet#Microsoft_Azure_Management_CognitiveServices_Models_CognitiveServicesAccountApiProperties_StatisticsEnabled), which we're not using.  Let's just remove it.

[2020-07-10 17:44] JoshLove-msft commented on #13352
1. `GetQueuePropertiesAsync` seems reasonable on its own, but would it be strange that we would still have a `CreateQueueAsync` method that returns `QueueProperties`?

2. I can see your point about having two distinct but similar suffixes here potentially adding to the cognitive burden, but we do try to use the options pattern across track 2 for input property bags containing optional properties,

[2020-07-10 17:52] #13293 closed

[2020-07-10 17:57] JoshLove-msft opened #13381 "Investigate supporting custom data payloads for EventGrid/CloudEvent events"
In addressing https://github.com/Azure/azure-sdk-for-net/issues/13242, we added the ability to serialize custom schema events. We should use a similar pattern for EventGrid/CloudEvent events, where we wrap the Data field in this internal class in order to help with serialization. One thing to think about is how this will behave for users of the API - we are wrapping the Data object they provide, b

[2020-07-10 18:14] lommez opened #13382 "Custom CheckpointManager for EventProcessorClient"
Why is not possibile anymore to create custom CheckpointManager for eventhub processors?
In older sdk versions that was possible.

Is there any workaround to not use Blob storage?

Or that feature is going to be implemented in the future?

[2020-07-10 18:30] danieljurek commented on #13028
Repo: -pr
Branch: feature/communication

[2020-07-10 18:49] JoshLove-msft commented on #13353
Interesting, are you saying have some sort of struct that would contain properties for the size in each of the mentioned units? Size in bytes allows us to give full precision whereas if we were to introduce the other units as you mention, we would probably need to represent these as floats or doubles rather than long.

[2020-07-10 19:06] #13222 closed

[2020-07-10 19:14] JoshLove-msft commented on #13353
Yep, thanks for calling that out. This change will also apply to `SubscriptionRuntimeProperties`.

[2020-07-10 20:13] MiYanni opened #13388 "[Discussion] Service Bus - Track 2 - Management client - ETag support for updating"
_The intent of this issue is to solicit feedback from the community in advance of the GA of the next major version of the Service Bus library (which will follow several Preview releases).\
As a reference, the .NET Azure SDK guidelines can be found here: https://azure.github.io/azure-sdk/dotnet_introduction.html\
Terminology:\
Track 0 refers to the [WindowsAzure.ServiceBus library](https://www.nuge

[2020-07-10 20:13] MiYanni commented on #13388
/cc @SeanFeldman @Einarsson @brandondahler @broloaugh @ankrause @GrimGadget @ShaneCourtrille @Pucmaster @Bnjmn83 @tomkerkhove @clemensv

[2020-07-10 20:17] jsquire commented on #13382
Hi @lommez.   The functionality that you're looking for exists on the [`EventProcessor<TPartition>`](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.eventhubs.primitives.eventprocessor-1?view=azure-dotnet-preview&viewFallbackFrom=azure-dotnet) primitive.

Generally speaking, `EventProcessorClient` was designed to provide a familiar API to that of the `EventHubConsumerClient` and offer

[2020-07-10 20:39] #13354 closed

[2020-07-10 21:02] tg-msft commented on #12831
We should have separate suggestions for our `*Client` types that help make it easy to identity the resource we're pointing at.

For example, `[BlobClient Uri=http://acct1.blob.core.windows.net/container2/blob3]`.  I think the `Uri`/`Endpoint`/whatever we call it is a good starting point.  We could also compare with breaking it up like `[BlobClient Account=acct1, Container=container2, Blob=blob3]`.

[2020-07-10 21:21] SeanFeldman commented on #13388
The proposed change sounds like a good improvement to the management client.

I have the following questions:

1. When an attempt to update an entity is made with a stale ETag, I'm assuming the management client will throw an exception. What that exception/API will look like?
1. What consideration is made for the testing purposes if `[entity]Properties cannot be constructed by the user code?

[2020-07-10 21:25] schaabs commented on #13309
In our latest preview we have added the `VisualStudioCodeCredential` to the `DefaultAzureCredential` authentication flow so if no environment variables are specified and managed identity is not available it should fall back to authenticating with the identity signed into the VSCode Azure Account extension. The complete `DefaultAzureCredential` authentication flow in our latest preview is as follow

[2020-07-10 21:25] #13309 closed

[2020-07-10 21:26] amnguye opened #13391 "[BUG] Uri Escaped characters when grabbing DirectoryClient.Uri"
**Describe the bug**
When grabbing the `Uri` from a `ShareDirectoryClient` special characters remain encoded, when they should not be encoded (escaped). This also happens at `ShareDirectoryClient.Uri.ToString()` when this is supposed to give a value of unescaped characters.

This might be a regression due to our attempt to fix Uri Encoding issues elsewhere due to it not happening before Azure.Stor

[2020-07-10 21:26] #11574 closed

[2020-07-10 21:34] yahorsi opened #13392 "[FEATURE REQ] Storage: Better Stream support"
Hi Guys,

Using latest SDK: 12.4.4

We're migrating to the Azure and was a bit surprised the SDK does not have "full" Stream support.
Imagine we have following code that writes stream:

[code]

In the code above, CreateOutputStream, creates file based stream.
With current API we cannot migrate to the Azure blob storage without significant code changes, currently to upload the blow there is only on

[2020-07-10 21:40] maririos commented on #12813
@ctstone do you know if they've set a priority/estimated date for it's resolution?

[2020-07-10 21:55] maririos commented on #12831
As for Models, during today's meeting some of the ideas suggested where:
- Include all the properties that are required
- Identify the key (main) properties -> unless names like Id, or *Name, some manual work will need to happen
- Ignore default values that have not been changed by user

[2020-07-10 21:56] maririos commented on #12831
From @KrzysztofCwalina perspective, in general, it will be good to have ToString in each client/model but if it involves too much work, then don't do it

[2020-07-10 21:57] maririos commented on #12831
I will start by looking into ToString for our next set of TextAnalytics releases and will come back here with ideas/suggestions/questions ... etc

[2020-07-10 22:09] adiun commented on #13309
Hi @schaabs this issue is actually regarding the preview VisualStudioCodeCredential - it doesn't work even after signing out and signing in. Agreed that the VisualStudioCodeCredential is what we want! In theory it's a much better experience than env vars.

from original issue:

I can reopen a new issue but it'll be pretty much the same details/repro.

[2020-07-10 22:26] MiYanni commented on #13388
@SeanFeldman Here's what we got for ya:

1. We've had a bunch of discussion internally around this already. We are verifying with the service what information would be returned when this situation happens. If the message is not sufficient to be actionable by the developer, we'd likely catch and rethrow, adding sufficient information. We'd want to make sure the developer knows why it failed and wha

[2020-07-10 22:27] maririos commented on #9954
We are going to follow the guidelines here, so leaving the namespace with `Models`

[2020-07-10 22:27] #9954 closed

[2020-07-10 22:39] maririos commented on #12420
Because this SDK targets a new version of the service, we don't need to deprecate the old package.
We need to add a description on the old package to point users to this one though.
See as an example: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Language.TextAnalytics/src/README.md

[2020-07-10 22:40] maririos commented on #12492
I believe this already happens on the release process, but good to leave the issue just to double check

[2020-07-10 22:42] amnguye commented on #13298
Could you enable logging so we can see the requests and responses that are getting sent back? (with redacted private info)
https://docs.microsoft.com/en-us/dotnet/azure/logging

From your stack trace it doesn't look like parallel download is going either, so I'm trying to figure out with just one download request, why the client ids aren't matching.

What do you mean by this, does the download wor

[2020-07-10 23:13] mikeharder opened #13394 "[BUG] StorageTransferOptions.MaximumTransferLength when MaximumTransferSize > Int32.MaxValue"
If `StorageTransferOptions.MaximumTransferSize > Int32.MaxValue`, then `StorageTransferOptions.MaximumTransferLength` currently returns an overflow value:

[code]

Would it be better to instead return `Int32.MaxValue` if `MaximumTransferSize > Int32.MaxValue`?  Replace this:

https://github.com/Azure/azure-sdk-for-net/blob/4894d7525c2c30909ded889faf82152949104f5c/sdk/storage/Azure.Storage.Common/s

[2020-07-10 23:45] MiYanni commented on #12831
This might help. I did an automatic ToString implementation in the past for logging. I defined a format and used reflection to build a consistent string representation of any type. It was extremely useful in logging exceptions:
https://github.com/MiYanni/Keyboard-Mapper/blob/3fb69d7d78b9933fe2d2fa54659753d6a0f7f823/Common/Extensions/StringExtensions.cs#L80-L90

I even have tests for it! https://gi

[2020-07-11 00:11] yzheng-msft commented on #13363
Versioning is a preview feature. Please see this documentation link https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview for details on preview and how to opt-into it.

[2020-07-11 00:19] JoshLove-msft opened #13395 "Add TestRecordings for Management client tests"
Since the management client uses HTTP, we should try to integrate with the test framework to do test recordings. One issue is that we only have async methods for the management client, so we will need to mark the test class with the AsyncOnly attribute.

[2020-07-11 01:58] #12660 closed

[2020-07-11 04:21] guythetechie commented on #13114
Thank you. Any updates?

[2020-07-11 10:51] AnthonyDewhirst commented on #13298
Hi, so, after a few futile attempts and reading up on logging within BLAZOR WEBASSEMBLY I don't see how the link you sent does anything or where it goes?

The only place I currently see logging is in the browser console window and I have tried a few different things:

appsettings.json:
  "Logging": {
    "LogLevel": {
      "Default": "Trace"
    }
  }

with
            builder.Logging.AddConfigur

[2020-07-11 18:38] SeanFeldman commented on #13388
👍

That would be good to have in place along with the addition. May I suggest to add that to the issue description under the Changes section? Externals such as collaborators and community folks not always follow all SDK issues to know what can or cannot be done. Appreciated.

[2020-07-11 18:44] SeanFeldman commented on #13353
Correct, Josh.

I'm not convinced floats and doubles are not necessary IMO. The precision you're talking about for MB/GB units is not needed. When it comes to the size from the runtime information, it's usually **not** intended for monitoring and frequent calls with accurate information per second. It's intended for general/overview information and the size can be read in bytes, MB, and GB. I woul

[2020-07-11 18:53] SeanFeldman commented on #13352
`GetQueuePropertiesAsync` is a method to return queue properties. For the scenarios where a user wants to get queue properties, it will be natural to look for this method to invoke. `GetQueue` feels off as the name implies that you get a **queue** or a queue reference (see older Storage SDKs).

As for `CreateQueueAsync`, looking from a command-query separation perspective, yes, it's a bit odd. If

[2020-07-11 18:55] SeanFeldman commented on #13352
👍
You've got that in the issue description. Thank you.

[2020-07-11 19:25] JoshLove-msft commented on #13352
I would tend to agree that on its own `GetQueuePropertiesAsync` is preferable. The part I am less sure of is whether the tradeoff of changing this name is worth the slight inconsistency with the naming of and `CreateQueueAsync`.  As you mention though, the input type is already different for `CreateQueueAsync`, so maybe it wouldn't be that jarring for users.

The other piece that I hadn't thought

[2020-07-11 19:37] JoshLove-msft commented on #13353
So the service simply returns bytes. I understand your point about this not always being the desired unit, but I'm not sure I understand where the inconvenience would be with converting this to the desired units within applications.
If there is a particular unit that is much more commonly used than bytes, I would say we go with that one and leave the others off. I do worry about truncating data th

[2020-07-11 19:44] EntityAdam commented on #10242
Frustrated that there appears to be problems all across the Azure SDKs.  Followed the [Get Started with Queues](https://docs.microsoft.com/en-us/azure/storage/queues/storage-dotnet-how-to-use-queues?tabs=dotnet) and it didn't work. Wound up here.  I've had the same experience with Azure Storage Tables and those related packages as well.

[2020-07-12 05:29] amnguye opened #13399 "[BUG] [generator] when required is not specified on properties, assumes all properties is required"
**Describe the bug**
We have a bug in the generator where if you don't specify what properties are required, it assumes everything listed in the properties is required. So if all items in the properties is optional, it will marked them all as required.

**Expected behavior**
What is the expected behavior?
That if nothing is listed under required, that they will be all assumed as optional. Or at le

[2020-07-12 05:43] jongio commented on #10738
@Daniel-Krzyczkowski - Does it work with these suggestions?  All clear to close?

[2020-07-12 05:43] EntityAdam commented on #10242
I'm going to go out on a limb here, I don't believe this is a BUG with the Azure SDKs but an limitation imposed with the input binding of the `QueueTrigger` requiring a base64 encoded response.  [source](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp)

It would call this a feature request for a switch for `SendMessage()` encoding.  Worth

[2020-07-12 08:40] aelij opened #13400 "[FEATURE REQ] Add TableEndpoint to ICosmosDBAccount"
**Library or service name.**
Microsoft.Azure.Management.CosmosDB.Fluent

**Is your feature request related to a problem? Please describe.**
The above property is missing even though it appears when querying the account using az cli.

[2020-07-12 10:35] ronari2 commented on #12756
Thank you Mariana. We are working to fix it

[2020-07-13 02:06] gazabhi commented on #8169
Do we have a solution for this? I am also facing a similar issue. Despite the package reference for azure.storage.blobs is present, I am getting build errors saying it's not recognized.

[2020-07-13 03:59] SeanFeldman commented on #13352
Personally, I'd take `GetQueuesPropertiesAsync` over `GetQueuesAsync`.

[2020-07-13 04:02] SeanFeldman commented on #13353
Bytes is the most accurate unit. Customers that have hundreds of MBs or GBs of messages don't care about that aspect.

👍 talking to the PG.

To recap - Bytes is the value the broker provides. Providing the value in MB/GB would be nice.

[2020-07-13 04:35] Daniel-Krzyczkowski commented on #10738
@jongio Thank you, yes, this one can be closed.

[2020-07-13 04:44] amnguye commented on #13392
@seanmcc-msft  is this a duplicate?

[2020-07-13 04:50] sachin-laddha commented on #13151
Can you please help out with this issue. Why the API with error "The previous snapshot url must be a snapshot of the target blob".

[2020-07-13 05:24] blueww opened #13406 "[FEATURE REQ] Support convert raw permission string to XSCL defined permission object (e.g. Blob/ContainerSasPermissions)"
**Library or service name.**

Azure.Storage.Blobs 12.5.0-preview.5

**Is your feature request related to a problem? Please describe.**

suggest to add a function in track2 XSCL can convert the raw permission string to Blob/ContainerSasPermissions, like “SharedAccessBlobPolicy.PermissionsFromString()” Track1.
We need this since powershell cmdlet input permission as raw permission string (change it

[2020-07-13 05:32] Vuharish commented on #13339
I have downloaded the package through this command.

Azure.AI.FormRecognizer --version 1.0.0-preview.1.

I tried using the second key instead of first key . It was working fine. Not sure what was the issue.

Thanks for the help Maririos.

[2020-07-13 05:32] #13339 closed

[2020-07-13 05:34] Vuharish commented on #13339
After using the second key I was able to hit the StartTrainingAsync method. Thanks

[2020-07-13 05:43] Vuharish opened #13407 "[QUERY] How to Send Binary Data as parameter to FormRecognizerClient.StartRecognizeCustomFormsFromUri method?"
I have trained the model successfully using 5 forms placed in storage blob container. I have used the below method.
CustomFormModel model =
                    await trainingClient.StartTrainingAsync(new Uri(trainingDataUrl), useLabels: false).WaitForCompletionAsync();

After training, I want to send my test form document as binary data  as parameter to StartRecognizeCustomFormsFromUri.

At presen

[2020-07-13 05:44] sachin-laddha commented on #13151
getManagedDiskPageRangesDiff API fails if the previous snapshot is "full" and the current snapshot is "incremental"? Is this API supposed to return page difference between a full and incremental snapshot? if not, which API can be used to get the page difference between a full and incremental snapshot.

[2020-07-13 05:52] ramankumarlive commented on #13151
Differential capability works only for **incremental** snapshots. It does NOT work for full snapshots. Please note that the first incremental snapshot is full under the hood and subsequent incremental snapshot occupy delta changes. Please read about it here: https://azure.microsoft.com/en-us/blog/announcing-general-availability-of-incremental-snapshots-of-managed-disks/

[2020-07-13 06:09] sachin-laddha commented on #13151
ok.. thanks for confirming.
I thought that the API would return the page difference between a "full" and "incremental" snapshot.

[2020-07-13 06:27] jongio commented on #10738
Thanks Daniel.

[2020-07-13 06:27] #10738 closed

[2020-07-13 10:45] WhitWaldo opened #13410 "[BUG] Typo in property name on IVirtualMachineScaleSet"
**Describe the bug**
There's a typo on the property name on IVirtualMachineScaleSet. It's written as "UpgradeModel" and should instead be "UpgradeMode" to reflect enum type it's describing (called UpgradeMode).

**Expected behavior**
The property should be called "UpgradeMode".

**Actual behavior (include Exception or Stack Trace)**
The property shows as "UpgradeModel".

**Environment:**
Microsoft

[2020-07-13 12:12] lommez commented on #13382
Hi @jsquire
Thanks so much for your detailed reply!

[2020-07-13 12:53] mladedav commented on #9416
Hi, were you able to reproduce? Would it be possible to change the type?

[2020-07-13 13:11] jsquire commented on #13382
My pleasure.   If you decide to extend the `EventProcessor<TPartition>`,  we'd be very interested in your experience and feedback to help us refine any rough areas.

I'm going to close this out, but please feel free to reopen if there was something further that you wanted to discuss in the context of this issue.

[2020-07-13 13:11] #13382 closed

[2020-07-13 13:39] orhanmaden opened #13411 "[BUG] GetBlobsAsync fails with ErrorCode: InvalidUri when used with DefaultAzureCredential and succeeds when used with connection string"
**Describe the bug**
`GetBlobsAsync` fails with `ErrorCode: InvalidUri` when used with `DefaultAzureCredential` and succeeds when used with connection string.

**Expected behavior**
Return a list of blob when used with `DefaultAzureCredential`.

**Actual behavior (include Exception or Stack Trace)**
Returns an error:
[code]

**To Reproduce**
Steps to reproduce the behavior (include a code snippet,

[2020-07-13 15:19] yahorsi commented on #13392
Just FYI, in the V11 there is OpenWrite method that does exactly what we need.

[2020-07-13 15:51] #13327 closed

[2020-07-13 15:54] kinelski commented on #11668
Fixed by #13224.

[2020-07-13 15:54] #11668 closed

[2020-07-13 15:55] kinelski opened #13412 "[BUG] TrainingFileFilter does not have a public constructor"
We expect users to instantiate this class, but currently the constructor is marked as `internal`.

[2020-07-13 16:06] pakrym opened #13414 "[BUG] DownloadTo should throw when used with an ETag"
Consider the following track 1 code sample:

[code]

When ported to track 2:

[code]

# Expected

`DownloadToAsync` throwing an exception when condition is not met.

# Actual

`DownloadToAsync` silently returns without downloading any data forcing a pattern where some return codes are checked using exception handler and others using the response object.

It also created a hard to debug issues beca

[2020-07-13 16:18] pakrym commented on #6514
Especially considering purge is a long-running operation. LRO being completed should signify that the secret was fully purged.

[2020-07-13 16:23] seanmcc-msft commented on #13391
@amnguye, I'm not sure this is bug.

[2020-07-13 16:24] seanmcc-msft commented on #13392
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/9607.

We are actively working on this issue: https://github.com/Azure/azure-sdk-for-net/pull/12400, https://github.com/Azure/azure-sdk-for-net/pull/13344.

[2020-07-13 16:24] #13392 closed

[2020-07-13 16:46] amnguye commented on #13298
To enable logging, i.e. add this early in `main` method:
[code]
This will produce a log file in 'C:\log.txt`. Please provide us with this log file.

I did go through your repo and looked at how you were calling `DownloadAsync` however it wasn't anything special, so I took that snippet and attempted to reproduce your problem however I was unable to reproduce your problem. If you have a snippet of c

[2020-07-13 16:47] kinelski commented on #10547
There are no known scenarios in which the service returns empty ranges.

[2020-07-13 16:47] #10547 closed

[2020-07-13 16:51] pakrym opened #13415 "[Flaky test] Azure.Storage.Blobs.Test.BlobClientTests(True,V2019_12_12).UploadStreamAsync_SmallBlobs(30720)"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=455838&view=ms.vss-test-web.build-test-results-tab&runId=11938288&resultId=110864&paneView=debug

[code]

[2020-07-13 17:19] amnguye commented on #13399
My bad, not an issue, found the transform in the readme

[2020-07-13 17:19] #13399 closed

[2020-07-13 17:27] SeanFeldman commented on #12246
Potential customers are evaluating a product based on the samples they get to experiment with and the experience they go through. If the samples are A) outdated, B) require customers to spend time to get those to work, C) do not reflect/hide features available with the service and D) give an impression of stale/abandoned code; it's not a good first impression.

[2020-07-13 17:34] kinelski commented on #13407
Hello, @Vuharish. Thanks for reaching out.

I noticed you are using an old version of the Azure.AI.FormRecognizer package. This version is missing newest features and has known bugs that have already been fixed in our latest release, `1.0.0-preview.4`, so I suggest updating it. You can find more information about installing the newest version [here](https://github.com/Azure/azure-sdk-for-net/tree/

[2020-07-13 17:54] maririos opened #13418 "Design Opinion mining"

[2020-07-13 17:55] maririos commented on #13418
Current design proposal: https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7?diffRevisionId=b3605f7e99b744ba8175087b0c933fe2

Sample: https://github.com/maririos/azure-sdk-for-net/blob/opinionmining/sdk/textanalytics/Azure.AI.TextAnalytics/tests/samples/Sample2_AnalyzeSentimentWithAspects.cs

[2020-07-13 18:02] seanmcc-msft commented on #13411
Hi @orhanmaden

I believe I found the issue:
[code]
It looks like you are trying to use the containerUri as the Uri for the Blob Service.

I'd recommend trying this instead:
[code]

-Sean

[2020-07-13 18:11] seanmcc-msft opened #13419 "[BUG] Add tests for adding/removing ErrorHandler in BlobQueryOptions"
https://github.com/Azure/azure-sdk-for-net/pull/13105#discussion_r453137998

[2020-07-13 18:42] #13412 closed

[2020-07-13 18:48] WhitWaldo opened #13422 "[QUERY] Preview DNS package"
**Query/Question**
Presently, there's a preview available for [Azure.ResourceManager.Compute](https://github.com/Azure/azure-sdk-for-net/tree/Azure.ResourceManager.Compute_1.0.0-preview.1/sdk/compute) intended to be the next take on working with VM and VMSS resources. There isn't yet a new preview available for [Azure.ResourceManager.Dns](https://github.com/Azure/azure-sdk-for-net/tree/Azure.Resou

[2020-07-13 19:52] seanmcc-msft commented on #13151
I'm not able to repo in our unit tests:  https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs#L1375.

Here is the request from Fiddler:
[code]

Note that there is a single snapshot query parameter.

I believe issue was caused in the repo by manually adding the snapshot to the URI twice.

[2020-07-13 20:47] AnthonyDewhirst commented on #13298
Hi Amanda,

Appreciate you looking into this for me but this code doesn't work for me.

I have even put the following:

[code]

and the exception is never hit.

I do believe that this is because its blazor WebAssembly.
I mean, I can't imagine there is any way that a blazor component should
just be able to write to the local machine anyways.

But the exception not being hit should prove that this c

[2020-07-13 20:50] Crossbow78 commented on #13202
I forgot to mention that `AppAuthenticationTokenProvider` is a custom implementation of ITokenProvider:
[code]

I've already set the AZURE_TENANT_ID, but how exactly would I use `DefaultAzureCredential` with this `KeyVaultManagementClient`?

[2020-07-13 20:55] AnthonyDewhirst commented on #13298
Hi Amanda,

Appreciate you looking into this for me but this code doesn't work for me.

I have even put the following:

[code]

and the exception is never hit.

I do believe that this is because its blazor WebAssembly.
I mean, I can't imagine there is any way that a blazor component should
just be able to write to the local machine anyways.

But the exception not being hit should prove that this c

[2020-07-13 22:05] tg-msft commented on #13414
That's the pattern for all conditional responses.  3XXs have to be checked and 4XX/5XXs will throw.  [The General Guidelines say](https://azure.github.io/azure-sdk/general_design.html#conditional-requests):

Our `Response<T>` will throw if you access `.Value` with a 3XX without checking, but we only return a raw `Response` from `DownloadTo`.  Maybe we should be more aggressive about throwing from

[2020-07-13 22:16] tg-msft commented on #13415
This is a duplicate of https://github.com/Azure/azure-sdk-for-net/issues/13221.

[2020-07-13 22:16] #13415 closed

[2020-07-13 23:07] DorothySun216 commented on #9416
@mladedav Sorry about the delay in response. I have checked our code in the _receiver.ReceiveAsync path and confirmed that you should not receive InvalidOperationException if the connection is closing. I cannot repro what you are seeing with our SDK.

I am also a bit confused since you have shared 2 stack trace, one is the first one:
'''
System.InvalidOperationException: Can't create session when

[2020-07-13 23:19] pakrym commented on #13414
Unfortunately, I wasn't able to come up with anything good. I would wait and see if any more customers are hitting this issue.

[2020-07-14 00:12] #13350 closed

[2020-07-14 00:28] chidozieononiwu commented on #8931
Resolved by https://github.com/Azure/azure-sdk-for-net/pull/10515

[2020-07-14 00:28] #8931 closed

[2020-07-14 01:04] DorothySun216 commented on #9416
@mladedav Also just a follow up to the first stack trace:
'''
System.InvalidOperationException: Can't create session when the connection is closing.
at Microsoft.Azure.ServiceBus.Core.MessageReceiver.d__86.MoveNext()
...
at Microsoft.Azure.ServiceBus.MessageReceivePump.<b__11_0>d.MoveNext()
'''

I saw it is throwing from MessageReceivePump, are you by any chance using `OnMessageHandler` in your co

[2020-07-14 01:27] Petermarcu commented on #13422
Thanks for reporting the issue. I've added the right labels to route it to the right people.

[2020-07-14 02:27] seanmcc-msft commented on #13406
Should be fixed with  https://github.com/Azure/azure-sdk-for-net/pull/13433

[2020-07-14 02:37] nickzhums commented on #2022
@isra-fel could you take a look please, thanks

[2020-07-14 03:11] JoshLove-msft commented on #13352
Will talk this over with feature crew and PG. Here is my summary of the tradeoffs:

**GetQueueAsync/UpdateQueueAsync**
 - consistent with CreateQueueAsync which is nice considering the return types are all the same.
 - not quite as accurate/descriptive as GetQueuePropertiesAsync, though the return type should hopefully clear up any confusion

**GetQueuePropertiesAsync/UpdateQueuePropertiesAsync**

[2020-07-14 04:01] adescre opened #13437 "KeyVault Create Key API Fails on keyType "octet sequence""
**Describe the bug**
This code:
[code]

Fails with a 400, and the following payload:
[code]

Since `KeyType.Oct` is an enum, the value should be supported.

**Expected behavior**
The call should return a successful response with a KeyVaultKey object.
The value is also document on the [REST API documentation](https://docs.microsoft.com/en-us/rest/api/keyvault/createkey/createkey#jsonwebkeytype)

**

[2020-07-14 04:39] Vuharish commented on #13407
Thanks Kinelski.

I have updated my solution with the newest version. I have used var forms = await formClient.StartRecognizeCustomFormsAsync(modelId, byteData).WaitForCompletionAsync();  to send binary data as parameter and it is completely working fine.

Thanks for your reply.

[2020-07-14 04:39] #13407 closed

[2020-07-14 04:40] Vuharish commented on #13407
Working fine now after updating he version and using the overloaded method.

[2020-07-14 05:19] davidobrien1985 opened #13438 "[BUG] SQL extendedAuditingSettings not available"
**Describe the bug**
Unable to query a SQL server's `extendedAuditingSettings` to get info about this state here:
![image](https://user-images.githubusercontent.com/8554521/87387099-57d54a00-c5e5-11ea-907f-4a64271884b2.png)

**Expected behavior**
Via PowerShell I can do `Get-AzSqlServerAudit -resourcegroupname <> -servername <> -debug` and that shows me that it's querying `/subscriptions/{subscrip

[2020-07-14 05:26] Petermarcu commented on #6683
This looks like it was addressed and never closed. I'm going to close it now.

[2020-07-14 05:26] #6683 closed

[2020-07-14 05:28] Petermarcu commented on #6730
@schaabs is this addressed in Azure.Identity? Either way, can this be closed as it looks like a tracking issue was opened in the fluent repo?

[2020-07-14 06:20] orhanmaden commented on #13411
I see it now. I first created the code with the connection string and adjusted it to work with `DefaultAzureCredential`.  I guess I didn't see it because the connection string variant does accept URI with container name appended at the end.

It works now. Thanks @seanmcc-msft.

[2020-07-14 06:20] #13411 closed

[2020-07-14 06:21] Petermarcu commented on #9295
This is resolved in the new release of Search: https://www.nuget.org/packages/Azure.Search.Documents/11.0.0

[2020-07-14 06:21] #9295 closed

[2020-07-14 06:22] Petermarcu commented on #9295
BTW, @ylibrach if you migrate to the new version, we'd love your feedback both on the experience and any perf improvements you see now that its on the faster serializer!

[2020-07-14 06:47] JoshLove-msft opened #13440 "Avoid reparsing Json when integrating JsonObjectSerializer with generated layer"
The code generator doesn't support serializing any old `object` to Json. In order to build this support into the Event Grid SDK, we needed to wrap our payload in an internal class that implements `IUtf8JsonSerializable`. In our `Write` method we end up needing to serialize object to Json stream, and then parse back to JsonDocument. Ideally, we could avoid doing this duplicate work. Also, we should

[2020-07-14 07:37] blueww commented on #13151
@seanmcc-msft
Thanks for the reply!

I think the issue might cause:
I use a  PageBlobClient which created with snapshot Uri, and also added the parameter "snapshot" as the page blob snapshot time, so the “snapshot=” specify 2 times in the Uri.
Would you please confirm if this usage is the cause of the issue?
If so, we might should clarify it clearly in the [doc](https://docs.microsoft.com/en-us/do

[2020-07-14 08:14] blueww opened #13441 "[BUG] Run BlockBlobClient.QueryAsync() on a big csv file, then write the output stream to a file fail."
**Describe the bug**
Run BlockBlobClient.QueryAsync() on a big csv file (~230MB), then write the output stream to a file fail with  "Destination array was not long enough. Check the destination index, length, and the array's lower bounds."

And it seems the “ProgressHandler” won’t be called until the request finish, and start to read from output stream. I expect it will be invoke on download the r

[2020-07-14 08:20] AlexanderSher opened #13442 "Azure.Identity August 2020"

[2020-07-14 08:27] isra-fel commented on #2022
f1crazed `TokenCloudCredentials` is no longer supported. Please use [Microsoft.Rest.ClientRuntime](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime) to authenticate your client.

[code]

[2020-07-14 08:35] isra-fel commented on #13410
Hi @weidongxu-microsoft  could you take a look? Thanks

[2020-07-14 08:40] isra-fel commented on #13410
P.S. The property was spelled correctly in the swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json#L9106

[2020-07-14 08:41] isra-fel commented on #13400
@weidongxu-microsoft  could you help @aelij ? Thanks

[2020-07-14 08:45] isra-fel commented on #13378
Hi @davidobrien1985 thanks for reporting! Could you share the library versions you are using?

@weidongxu-microsoft could you help on this issue? Thanks

[2020-07-14 08:46] isra-fel commented on #13318
Hi @weidongxu-microsoft are you able to help? Thanks

[2020-07-14 08:51] isra-fel commented on #13235
Hi @rgreenMSFT will you be able to help @click2cloud-shailesh migrating data to Azure? Thanks

[2020-07-14 08:52] weidongxu-microsoft commented on #13400
new features will be in track2 SDKs https://azure.github.io/azure-sdk/releases/2020-07/dotnet.html#new-management-libraries

[2020-07-14 08:57] weidongxu-microsoft commented on #13410
We will add `UpgradeMode` property, but due to backward compatibility will only mark `UpgradeModel` as deprecated.

[2020-07-14 09:05] schaabs commented on #6730
Apologies, @qub1n I missed your reply to this issue. The Azure.Identity library which @Petermarcu mentioned is an authentication library designed to be used with the latest generation of the Azure SDK. Information about the Azure.Identity library can be found [here](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity). Also a list of libraries which can authenticate

[2020-07-14 09:05] #6730 closed

[2020-07-14 09:09] weidongxu-microsoft commented on #13318
@1RedOne This feature is not integrated with fluent interface. You would have to use the raw REST APIs.

Please try this:
`IAzure.Deployments.Inner.CreateOrUpdateAtSubscriptionScopeAsync`

[2020-07-14 10:25] davidobrien1985 commented on #13378
@isra-fel
We were using this
[code]

[2020-07-14 12:11] OlgaOkaralkina commented on #2366
@cormacpayne @Nking92 @naveedaz I got this error.
I used this package https://www.nuget.org/packages/Microsoft.Azure.Management.RecoveryServices (latest version)
[code]

[2020-07-14 14:37] mladedav commented on #9416
I haven't actually sent any stack traces, that must have been someone else. I must admit I cannot seem to find them anywhere and I can't reproduce the error with our older code. When I get home I will try to hack around a bit if I can break it again.

At this time I only remember that this was the exception with this message (by which I found this thread). I thought since there are already two I w

[2020-07-14 14:42] ramankumarlive commented on #13151
@blueww The issue should be closed as the function was incorrectly used for getting diffs between a full snapshot (a page blob under the hood) and an incremental snapshot (a page blob snapshot on a different blob).

Again the two times Snapshot issue can be caused when one of the parameters is set as empty string instead of null. I faced the same issue and fixed it a while ago. Please see the PR b

[2020-07-14 15:46] #13151 closed

[2020-07-14 15:57] SeanFeldman commented on #12246
This is [an example](https://stackoverflow.com/questions/62879395/how-to-publish-event-hub-events-to-event-grid-topic-with-azure-sdk/62881018) of what I've described above. See this comment specifically:

![image](https://user-images.githubusercontent.com/1309622/87447872-50e41280-c5b8-11ea-8aa2-ed429b469684.png)

[2020-07-14 17:03] #13318 closed

[2020-07-14 17:30] heaths commented on #13437
This does appear to be [declared](https://docs.microsoft.com/rest/api/keyvault/createkey/createkey#jsonwebkeytype) - and, thus, supported by the SDK - earlier than intended to be supported. We cannot remove it (breaking change) and it will be supported eventually with a new preview of the service. We will discuss what to do in the meantime.

[2020-07-14 17:32] amnguye commented on #13330
Hi,

I don't think this is a bug we can fix and could be a slight breaking change as well. We can have other people thinking the other way around, that they want to be able to see if that Path exists before creating anything there (e.g. Not wanting to creating a file with the same name as a directory and vice versa). Also if we change how this behaves, we will have customers coming back saying tha

[2020-07-14 17:32] #13330 closed

[2020-07-14 17:43] #12968 closed

[2020-07-14 17:50] apclouds commented on #7304
@sujayvsarma I will capture this feature request on my end. Can you also share the scenario for which you want this capability? Can you elaborate on why you want to export from different RGs into a single template?

[2020-07-14 18:08] ShivangiReja commented on #12976
Closed with https://github.com/Azure/azure-sdk-for-net/pull/13398

[2020-07-14 18:08] #12976 closed

[2020-07-14 18:28] DorothySun216 commented on #9416
@mladedav  Thanks for your reply. Are you by any chance using OnMessageHandler in your code? If so, can you share with me that piece of code, especially how you handle exception in the OnMessageHandler.

[2020-07-14 19:04] JoshLove-msft opened #13444 "Design and implement EventGridConsumer"
We can use the Track 1 surface as a base to work from. We will need to add support for deserializing cloud events and custom events. We should integrate with the `ObjectSerializer` abstraction as opposed to tying to any one particular JsonSerializer.

Other things to think about - what should the return type be for the Deserialize methods:
https://azure.github.io/azure-sdk/dotnet_introduction.html

[2020-07-14 19:06] chidozieononiwu commented on #12995
Fixed with https://github.com/Azure/azure-sdk-for-net/pull/13020

[2020-07-14 19:06] #12995 closed

[2020-07-14 19:51] rupeshtech commented on #6172
I encountered the same problem and fixed it by login into Visual Studio (by clicking in right top corner) with the account which has enough rights on Azure resource which you are trying to access.

![image](https://user-images.githubusercontent.com/24852402/87469781-18762000-c61c-11ea-9691-640ed73df4c7.png)

[2020-07-14 20:02] maririos opened #13448 "Implement ToString"
Implement ToString in the TA library as an exercise of [ToString guidelines](https://github.com/Azure/azure-sdk-for-net/issues/12831).

[2020-07-14 20:08] JoshLove-msft opened #13449 "Api View for Event Grid"
Now that we are moving on to the consumer side of things, it might be a good time to publish the initial API Review for Track 2 Event Grid.

[2020-07-14 20:33] #10629 closed

[2020-07-14 20:38] MiYanni opened #13451 "ServiceBus: Investigate Throughput performance test for Track 2"
Here is the throughput test tool: https://github.com/Azure-Samples/service-bus-dotnet-messaging-performance

This tool is used by the ServiceBus team to test throughput. Currently, it is written to use Track 1. We want to compare the performance of Track 1 to that of Track 2. So, we need to update this tool to work with Track 2 and compare the results.

[2020-07-14 20:40] amishra-dev commented on #12808
For storage libraries we have no planned retirement date. The service will not reject the requests. But we will not be adding any new features. Only data corruption and security bugs will be addressed. Here is the support statement: https://github.com/Azure/azure-storage-net#support-statement

[2020-07-14 20:40] amishra-dev commented on #12808
@tg-msft can you please take the questions for the non-storage services here?

[2020-07-14 20:46] adescre commented on #13437
Thanks for the update @heaths. Any ETA you can provide?

[2020-07-14 20:58] heaths commented on #13437
No ETA. It's not supported right now, and anything we might do would only be a documentation change.

[2020-07-14 21:17] #13381 closed

[2020-07-14 22:12] mladedav commented on #9416
No, we're using only the MessageReceiver directly to receive directly. Only other service-bus relevant information I can think of is we were failing to renew messages before locks expired when these issues happened but we fixed that at the same time we added some defensive retrying so I can't say whether it's relevant.

[2020-07-14 22:18] DorothySun216 commented on #9416
Got it, then the first log trace shows 'MessageReceivePump' in the trace which is only coming from receiving using a OnMessageHandler. So I am not sure how that error trace is thrown.

We will need a reliable error trace to continue investigating since we cannot repro. Can you repro it and send us the log and timestamp? thanks!

[2020-07-14 22:36] meanjeekim opened #13454 "Tables: Rename Query "top" parameter to "maxPerPage""
The `int? top` parameter was confusing because it seemed to indicate that only the `top` number of entities would be returned, but it would actually return the full list of tables or entities with a max of `top` tables/entities per page.

[2020-07-14 23:00] scbedd opened #13458 "Microsoft.Rest.Azure present in Search Client section of Docs.MS ToC"
[Location](https://review.docs.microsoft.com/en-us/dotnet/api/overview/azure/search.documents-readme?view=azure-dotnet&branch=smoke-test)

Screenshot:

![image](https://user-images.githubusercontent.com/45376673/87484461-13e54380-c5eb-11ea-9a18-b88124196049.png)

Find a better location and move this.

[2020-07-14 23:19] chris-skuvault opened #13459 "[QUERY] Close Message Session in the middle of processing messages for the session"
**Query/Question**
How can we help?

Currently I am using the new Service Bus library and am using message sessions. I am using the message sessions to separate out other clients data in a topic without multiple subscriptions and have run into an issue I'm not sure exactly how to solve. If one of the messages in the session doesn't get processed for a particular reason I need to close the session

[2020-07-14 23:38] axisc commented on #13080
@mikemarmar  Thanks for raising this issue. the Event Grid notification here is to behave as a shoulder tap indicating that messages are available.
Unfortunately, it's not straightforward to add the session id to the EG event. This is due to the fact that the entire queue (or subscription) would have to be scanned.

Could you elaborate the end to end scenario you are looking to enable ? Perhaps we

[2020-07-14 23:52] axisc commented on #13040
@alcidesfmelof
So the solution that Erik mentioned will work
[code]

The WebRequest.DefaultWebProxy is utilized in the Service Bus Connection [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusConnection.cs#L318)

[2020-07-14 23:52] #13040 closed

[2020-07-14 23:57] axisc commented on #12808
we haven't planned a retirement for the Windows.Azure.ServiceBus 5.0.0 SDK yet. Any plans will go through the official decommission channels with sufficient heads up for migration.

[2020-07-15 00:15] maririos commented on #12984
From our discussion with the service:

Forwards compatibility affects mostly the "list models" APIs, so we are working with the service team to clarify this usage.

We don't consider this as a blocking for our P5 release so closing the issue

[2020-07-15 00:15] #12984 closed

[2020-07-15 00:18] maririos commented on #13418
Updated sample with customer scenario: https://github.com/maririos/azure-sdk-for-net/blob/opinionmining/sdk/textanalytics/Azure.AI.TextAnalytics/samples/Sample2_AnalyzeSentimentOfHotelWithDetails.md

[2020-07-15 00:22] axisc commented on #12050
@davemanton  - Is this still an issue?
please reopen (or reference this issue in a new one) when you have the repro.

[2020-07-15 00:22] #12050 closed

[2020-07-15 00:30] axisc commented on #12012
@kenans curious as to how you are browsing deferred and scheduled messages together. Could you share the code snippet?

[2020-07-15 00:59] #9210 closed

[2020-07-15 00:59] chidozieononiwu commented on #9210
Fixed with https://github.com/Azure/azure-sdk-for-net/pull/13455

[2020-07-15 01:50] weidongxu-microsoft commented on #13378
@davidobrien1985

This is the current service behavior. `List` is to list all virtual machines, potentially hundreds of them. It is not economic to return every details on it. Hence the details in only returned when one get the `InstanceView` on a particular virtual machine.

[2020-07-15 01:58] #13410 closed

[2020-07-15 02:21] JoshLove-msft commented on #13459
Hi @chris-skuvault, thanks for trying out the new library!
If you want to avoid the overhead of going through all of the remaining messages to get back to the one that failed (as well as avoiding incrementing the delivery count for those), you can try using the `ServiceBusSessionReceiver` directly. The downside here is that you would have to set up the looping, ensure session lock auto-renewal, an

[2020-07-15 03:20] chris-skuvault commented on #13459
Hey @JoshLove-msft,
I thought that might be the case and I might have to implement using the SessionReceiver directly instead of using the processor. Yes I am using both session lock auto-renewal and concurrency of the processor I'm likely going to have 1000+ concurrent sessions so it would be nice to be able not have to implement that myself and I've take a look at the implementation in the libra

[2020-07-15 04:15] JoshLove-msft commented on #13459
Thanks @chris-skuvault. This is great and timely information 😄
Even when setting the MaxConcurrentCalls equal to the length of the SessionIds, and in fact even when not setting SessionIds at all, it is possible that you would get multiple threads processing the same session. I'm thinking this isn't necessarily intuitive behavior when dealing with sessions. I'm going to look into tweaking this beha

[2020-07-15 06:10] FrankieTF opened #13467 "[Azure.Search.Documents]SearchClient.search() not working in MVC"
**Describe the bug**
SDK call from MVC is not returning expected data when calling searchClient.Search<SearchDocument>(q, sp);.

**Expected behavior**
What is the expected behavior?
Search should get expected data.
I have tried calling searchClient.Search<SearchDocument>(q, sp); from Console App, get expect result.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior

[2020-07-15 06:21] amnguye commented on #12413
Hi, please reactivate if there's a follow up to this question.

[2020-07-15 06:21] #12413 closed

[2020-07-15 06:33] amnguye commented on #12237
Hi,

If there are no further questions please reactivate. If you do reactivate could you provide a snippet of what you're attempting to do from the old library and maybe I can better help you migrate to the new library with what you're doing.

I did answer your question on how to accomplish what you wanted from the article to see if you the secondary is available to failover.  Looking through this

[2020-07-15 06:33] #12237 closed

[2020-07-15 06:42] amnguye commented on #12511
Waiting on resolution from https://github.com/microsoft/ApplicationInsights-dotnet/issues/1915

Please reactivate if there's a bug on the sdk storage side.

[2020-07-15 06:42] #12511 closed

[2020-07-15 06:50] amnguye commented on #12986
Hi please reactivate if this is still an issue, or if there's an update to this bug. Thanks

[2020-07-15 06:50] #12986 closed

[2020-07-15 06:51] amishra-dev commented on #11158
@rishabpoh your PR for migration guide addresses most of these, can you please incorporate the questions being ask here?

[2020-07-15 06:54] ramya-rao-a opened #13471 "Onboard Schema Registry service"
Schema Registry is a new service that is currently in private preview.
This issue is to track work to onboard the SDK for this service.
This work is planned for the August milestone and does not involve shipping the package which will be done in the September milestone.

- decide package name
- auto generate the package using the latest code generator on the [swagger](https://github.com/Azure/azur

[2020-07-15 07:05] amnguye commented on #13298
Ah okay, I see so the problem you're having is more of an authentication issue alongside Download, however the error occurs in download and not when you authenticate and refreshing the auth token.

I apologize if there's not much more I can help with on the `Azure.Storage.Blobs` package, however if you're having trouble with token usage and using Blazor AD, I suggest you open an issue with Blazor,

[2020-07-15 08:22] VeryEarly opened #13472 "[BUG] Request sent from OperationalInsightsDataClient doesn't have header"
**Describe the bug**
Request sent from OperationalInsightsDataClient doesn't have header.

**Expected behavior**
What is the expected behavior?

OperationalInsightsDataClient.preferences.Wait should be in the header if passed in.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

Empty header in request

**To Reproduce**
Steps to reproduce the behavior (include a

[2020-07-15 08:55] #13467 closed

[2020-07-15 10:17] SONIA111111 opened #13473 "Getting lots of Task Canceled Exception when using Azure Search .Net SDK to merge or upload documents asynchronously"
We are using Azure Search .Net SDK(v3.0.4) to merge or upload documents to one of the azure search index.

We are using the below code for the same:

var batch = IndexBatch.MergeOrUpload(documentList);
await searchIndexClient.Documents.IndexAsync(batch);

We are indexing 2 types of subindexes using the same search client. When there is a high load, we are facing lots of task cancelled exceptions a

[2020-07-15 10:52] sujayvsarma commented on #7304
What do you mean why? This is how people use the clouds.

[2020-07-15 12:56] jsquire commented on #13471
@AlexGhiondea:  Would you be so kind as to help route?  I'm not sure if the final decision was to treat this as part of Core or consider it a separate service offering.

[2020-07-15 14:08] Frankwayne commented on #13307
I would very much like to use the Kusto queries in my client applications,  but I need the protection of  query parameterization.  If there is another dll that does that for me I'll be glad to switch.

[2020-07-15 14:51] pakrym opened #13474 "Prototype a JSON Patch document type."
Spec: http://jsonpatch.com/

[2020-07-15 16:05] rgreenMSFT commented on #13235
In the current preview release of the Oracle to PostgreSQL migration, configuration of the OCI driver is not supported via PowerShell.

[2020-07-15 17:00] pakrym opened #13476 "Add support for sync HttpClient transport on .NET Core 5"

[2020-07-15 17:00] pakrym opened #13477 "Add support for sync HttpWebRequest-based transport on .NET Framework"

[2020-07-15 17:08] anqyan commented on #11619
Hi @wiliambuzatto @yuhaii @slandsaw @marcelvwe how often do you/the customers encounter this exception recently?
Is it possible for you to sent the exception logs within the past month to anqyan@microsoft.com?

[2020-07-15 17:17] mymatrixpixel commented on #13342
@AlexanderSher  if we added a key as a Key  Vault reference in azure app Configuration. We can't able see the Key Vault secret Value in azure portal. Instead it showing as KeyVault Uri. Is there any additional permissons need to set in key vault or azure app configuration?

[2020-07-15 17:21] #13454 closed

[2020-07-15 17:37] jformacek opened #13478 "CreateBatchAsync failing with "'Put token failed. status-code: 500...""
Hello,
using Azure.Messaging.EventHubs v5.1.0 and randomly getting error from CreateBatchAsync():
Message: Put token failed. status-code: 500, status-description: The service was unable to process the request; please retry the operation.  ...
ProblemId: Azure.Messaging.EventHubs.EventHubsException at Azure.Messaging.EventHubs.Amqp.AmqpProducer+<CreateBatchAsync>d__29.MoveNext

Code snippet below;

[2020-07-15 17:50] #13312 closed

[2020-07-15 17:57] kinelski commented on #12321
From https://github.com/Azure/autorest.modelerfour/issues/288:

The discussion is being held off, so we have no actionable items on the Form Recognizer SDK side. Going through the integers we get back from the service, we are already doing the right thing:

Values handled as 64-bit integers in the SDK:
- **CopyAuthorizationResult.expirationDateTimeTicks:** marked as `int64` in the swagger.
- **Fie

[2020-07-15 17:57] #12321 closed

[2020-07-15 18:11] heaths commented on #9981
This has shipped.

[2020-07-15 18:11] #9981 closed

[2020-07-15 18:22] brjohnstmsft commented on #13473
@SONIA111111 Thanks for reporting this. This looks like a service issue rather than a client issue, so I'm going to close this and follow up with you through other channels.

[2020-07-15 18:22] #13473 closed

[2020-07-15 18:32] brandonwatts opened #13480 "[QUERY] How to add library to a DatabricksNotebookActivity Class in DataFactory?"
**Query/Question**
I am trying to add a library to my Databricks Notebook in Data Factory using the C# SDK and the [docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.datafactory.models.databricksnotebookactivity.libraries?view=azure-dotnet#Microsoft_Azure_Management_DataFactory_Models_DatabricksNotebookActivity_Libraries) say that the field is of type ```IList<IDictionar

[2020-07-15 18:46] seanmcc-msft commented on #13441
@blueww, unfortunately I am not able to repo.

[code]

[2020-07-15 18:53] seanmcc-msft commented on #13441
This is by design.  The ProgressHandler is used to report progress events in the data stream.

[2020-07-15 19:38] aelij opened #13481 "[BUG] ManagedIdentityCredential misleading error"
**Describe the bug**
When the IMDS endpoint returns a 400 response, `ManagedIdentityClient` wraps it with a misleading error:

And even worse, it sets the `MsiType` to `Unavailable` so subsequent requests give out this error (due to retries this is what I actually see, **without the error content**):

While in reality, the error in my case was:

**Expected behavior**
Always show the actual error.

[2020-07-15 20:40] amnguye commented on #13060
Thanks for the code snippet I was able to reproduce your issue.

For now, at least for this instance, a workaround is to use `UploadRangeAsync`

Here's a code snippet
[code]

[2020-07-15 21:38] chris-skuvault commented on #13459
Hi @JoshLove-msft

Thanks for the heads up! I see what you mean. In RunReceiveTaskAsync inside the ServiceBusProcessor if a session closes and the MessageHandlerSemaphore is released it might allow more session receivers to spin up and potentially they will be spun up for sessions that are currently being received depending on the order a session closes. This would definitely mess with being able

[2020-07-15 22:40] meanjeekim opened #13484 "Write wrapper class for dictionary entities"
The user should be able to access important or necessary properties of dictionary entities easily and get properly type-casted property values from the entity.

[2020-07-15 22:44] meanjeekim opened #13485 "Fix tests to run against Cosmos endpoint"
Using the new additional test fixture parameters, add the Cosmos resource and endpoint and update the test configuration to run against both Storage and Cosmos endpoints.

[2020-07-16 00:07] #13378 closed

[2020-07-16 02:39] joshfree opened #13491 "Update AppAuthentication Package to point people to Azure.Identity"
Tracking

**Problem**
It's not clear to customers searching nuget.org for Azure Identity if they should use AppAuthentication or Azure.Identity

**Details**
https://twitter.com/mderriey/status/1281708180225921024?s=20

The AppAuthentication nuget package points to https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication, which gives customers a warning

![image](h

[2020-07-16 05:48] aelij opened #13496 "[FEATURE REQ] Add ResourceId to Azure.ResourceManager.Resources"
**Library or service name.**
Azure.ResourceManager.Resources/1.0.0-preview.1

**Is your feature request related to a problem? Please describe.**
The previous SDK has a `ResourceId` class which can be used to parse hierarchical ARM IDs. There's no equivalent to this in the new SDK, and even though it may not be needed with the new client API, it's very convenient to have.

[2020-07-16 09:12] Tianyun-G opened #13501 "Azure.Identity Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity#contributing):
![image](https://user-images.githubusercontent.com/65581162/87652380-b8e85380-c786-11ea-9c2e-4c6b75b75333.png)

Suggestion:
Add hyperlink for `Code of Conduct FAQ`.
Link:  https://opensource.microsoft.com/codeofconduct/faq/

2.
Section [link](https://github.com/Azure/azure-sdk-for-ne

[2020-07-16 09:13] Tianyun-G opened #13502 "Azure.Search.Documents Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/search/Azure.Search.Documents#use-searchdocument-like-a-dictionary-for-search-results)
![image](https://user-images.githubusercontent.com/65581162/87650560-6a39ba00-c784-11ea-8944-f58d4e679bb7.png)

Reason:
System.Collection.Generic.KeyNotFoundException:
Could not find a member called 'hotelId' and 'hotelName' in the docu

[2020-07-16 09:14] Tianyun-G opened #13503 "Service Bus Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/servicebus/Azure.Messaging.ServiceBus#using-the-processor):
![image](https://user-images.githubusercontent.com/65581162/87649594-137fb080-c783-11ea-8a8a-f2bc1431ac9b.png)

Reason:
'ProcessMessageEventArgs' does not contain a definition for 'CompleteMessageAsync'.

Suggestion:
Update `CompleteMessageAsync`  to `CompleteAsy

[2020-07-16 09:15] Tianyun-G commented on #13503
@jongio for notification.

[2020-07-16 09:15] Tianyun-G commented on #13502
@jongio for notification.

[2020-07-16 09:16] Tianyun-G commented on #13501
@jongio for notification.

[2020-07-16 09:20] erich-wang opened #13504 "[Identity] xxxCredential.GetToken() should return token containing Account/TenantId"
**Library or service name.**
What library or service is this request related to?
**Azure.Identity**

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
Currently xxxCredential.GetToken() returns AccessToken that contains only token string and expiration time, which hides some useful properties of AuthenticationRe

[2020-07-16 10:50] blueww commented on #13441
@seankane-msft
Thanks for the explain!

For ProgressHandler, it's used to show progress to customer. So we might should use it on the item which will use most time.
In Query(), per my test, normally the time mostly be used on network request than write to local disk, so can we use ProgressHandler for progress of the network request instead of disk write, so customer can get the really progress of

[2020-07-16 12:20] radennis commented on #13307
Can you please explain what is declare query_parameters?

Kusto supports [functions ](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/functions/user-defined-functions)which get parameters, would that answer your needs?

[2020-07-16 13:59] jsquire commented on #13478
Hi @jformacek.  Thanks for moving this over to an issue.  Looking over the message, fragment of the stack trace, and code, there's a couple of thoughts that I've got and some additional information that I'd like to ask for to help.

The underlying error is occurring when the client attempts to authenticate to the Event Hubs service.  Because the service dictates the maximum size of a batch that it

[2020-07-16 15:39] jformacek commented on #13478
Hi Jesse,
thanks for taking this.
* How authentication is being done: Via DefaultAzureCredential - FunctionApp has assigned MSI a uses it to get token:
[code]
* Stack trace: see below (extracted from appInsights and anonymized a bit; hopefully OK for purpose)
[code]
* Reason for exception: which field is it in App Insights exceptions log?
* How often it occurs: it's pretty random: un Tue, it was e

[2020-07-16 15:50] daveoshinsky opened #13505 "(QUERY) What could be causing this MissingMethodException?"
We are seeing the MissingMethodException below, whether using an older version of Microsoft.Azure.Management.Compute (27.0) or the latest (38.0).  What could be causing the mismatch and error?

1340 678   07/16 21:09:34 ### CloudSDKWrapper DLL input System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a reqdAssembly System.Net.Http version 4.2.0.0
11340 678   07/16 21:0

[2020-07-16 15:54] pakrym opened #13506 "Remove all TemporaryUsePreviousGeneratorVersion usages"
After all projects are converted to a new generator remove all the property usages including from eng/CodeGeneration.targets

[2020-07-16 15:55] seanmcc-msft opened #13507 "[Storage] Re-enable batch unit tests for Snapshot and BlobVersion"
https://github.com/Azure/azure-sdk-for-net/pull/13479

[2020-07-16 15:55] kasobol-msft opened #13508 "[BUG] StartCopyFromUri doesn't let customize x-ms-requires-sync header"
.NET SDK hardcodes x-ms-requires-sync  to true in StartCopyFromUri  apis. Where Python SDK lets customize this. This seems to be a feature parity gap that should be fixed.

See also https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url

[2020-07-16 15:57] seanmcc-msft commented on #13441
The functionality of ProgressHandler is different for Query by design.  This was specifically specified by the Quick Query backend team.

[2020-07-16 16:14] seanmcc-msft opened #13510 "[BUG] Recording framework isn't correctly recording Content-Length of Head response"
In [this test](https://github.com/Azure/azure-sdk-for-net/pull/12400/files?file-filters%5B%5D=.cs#diff-7f7fefef0eb98fcf1b3e66bc27fd93faR1075), the 2nd to last call is GetProperties().  Its response is supposed to contain the header "Content-Length=1024" (this is what happens in live mode).  Unfortunately, it is being [recorded as 0](https://github.com/Azure/azure-sdk-for-net/pull/12400/files?file-

[2020-07-16 16:17] pakrym opened #13511 "Update generator version in all projects"
# Data-plane

- [x] `digitaltwins/Azure.DigitalTwins.Core/src/Azure.DigitalTwins.Core.csproj` - https://github.com/Azure/azure-sdk-for-net/pull/13517
- [x] `eventgrid/Azure.Messaging.EventGrid/src/Azure.Messaging.EventGrid.csproj` - https://github.com/Azure/azure-sdk-for-net/pull/13528
- [x] `formrecognizer/Azure.AI.FormRecognizer/src/Azure.AI.FormRecognizer.csproj` - https://github.com/Azure/azur

[2020-07-16 17:54] tg-msft commented on #13502
We need to switch to using the official data set.  Assigning to myself.

[2020-07-16 17:57] heaths commented on #13502
@tg-msft seems the sample method doesn't actually run, which is probably how this was missed:
[code]

[2020-07-16 17:59] heaths commented on #13502
@Tianyun-G are you using the official hotels example which uses PascalCase for fields? Our tests use our own set that use camelCase currently.

[2020-07-16 18:00] tg-msft commented on #13502
The test wouldn't have caught this.  They're using the public data set which has PascalCased field names.

[2020-07-16 18:02] StephenWeatherford commented on #4468
This has been fixed in Visual Studio.  If you have an Internet connection, you should see the fix after one or possibly two restarts of Visual Studio.

[2020-07-16 18:21] JoshLove-msft commented on #13503
ProcessMessageEventArgs does have a CompleteMessageAsync parameter - https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ProcessMessageEventArgs.cs#L67

[2020-07-16 18:27] MiYanni commented on #13503
@Tianyun-G The method was changed from `CompleteAsync` to `CompleteMessageAsync` in the latest preview package, 7.0.0-preview.4. The docs here represent the latest changes in the currently released preview package.
https://www.nuget.org/packages/Azure.Messaging.ServiceBus/

The information about this change is listed in our changelog for preview.4: https://github.com/Azure/azure-sdk-for-net/blob/A

[2020-07-16 18:52] rfabro opened #13518 "[FEATURE REQ] Add a CheckNameAvailability feature for Failover Group"
**Library or service name.**
Microsoft.Azure.Management.Sql.Fluent

**Is your feature request related to a problem? Please describe.**
The Azure SDK and Azure REST api does not have a feature that checks the name of a failovergroup if it is already taken, and it should have since failovergroup names are globally unique.

[2020-07-16 18:52] #7002 closed

[2020-07-16 18:54] seanmcc-msft commented on #7105
We've already implemented this one.

[2020-07-16 18:54] #7105 closed

[2020-07-16 18:54] seanmcc-msft commented on #7127
Client side encryption public preview has been released.

[2020-07-16 18:54] #7127 closed

[2020-07-16 19:12] seanmcc-msft commented on #8993
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/9607

[2020-07-16 19:12] #8993 closed

[2020-07-16 19:13] #9425 closed

[2020-07-16 19:14] #9192 closed

[2020-07-16 19:17] seanmcc-msft commented on #8444
This has been fixed.  https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/README.md

[2020-07-16 19:17] #8444 closed

[2020-07-16 19:18] seanmcc-msft commented on #8445
This has been fixed https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Queues/README.md

[2020-07-16 19:18] #8445 closed

[2020-07-16 19:19] seanmcc-msft commented on #9586
We chose to not release Blobs.Cryptography, and instead include crypto in the main Blobs package.

[2020-07-16 19:19] #9586 closed

[2020-07-16 19:22] JoshLove-msft opened #13520 "Split MaxConcurrentCalls into MaxConcurrentSessions/MaxConcurrentCallsPerSession"
See discussion in https://github.com/Azure/azure-sdk-for-net/issues/13459

Specifically, https://github.com/Azure/azure-sdk-for-net/issues/13459#issuecomment-658535336

[2020-07-16 19:24] seanmcc-msft commented on #9585
- [ApiCompat.csproj](https://github.com/Azure/azure-sdk-for-net/blob/master/eng/ApiCompat/ApiCompat.csproj) has changed since this issue was opened.
- https://github.com/Azure/azure-sdk-for-net/blob/master/eng/Packages.Data.props#L27
- EnableApiCompat is no longer present in [DataLake.csproj](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Files.DataLake/src/Azure.

[2020-07-16 19:24] #9585 closed

[2020-07-16 20:24] bits-develop opened #13523 "[BUG] Getting TlsVersionNotPermitted error code from blob storage when attempting batch delete."
**Describe the bug**
When using the latest version of the NuGet package Azure.Storage.Blob.Batch (version 12.2.1), when trying to perform a batch delete of files in a blob storage container, the call throws an exception with error code "TlsVersionNotPermitted". This error code is not documented here: https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes
The error is co

[2020-07-16 20:29] sunero4 opened #13524 "[BUG] Getting TlsVersionNotPermitted when trying to batch delete files in Azure Blob Storage using Azure.Storage.Blobs.Batch"
**Describe the bug**
When using the latest version of the NuGet package Azure.Storage.Blob.Batch (version 12.2.1), when trying to perform a batch delete of files in a blob storage container, the call throws an exception with error code "TlsVersionNotPermitted". This error code is not documented here: https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes
The error is co

[2020-07-16 20:30] #13523 closed

[2020-07-16 21:57] daveoshinsky commented on #13505
It appears that the System.Net.Http v4.2 DLL that is loaded here is not compatible with ANY version of Microsoft.Azure.Management.Compute (and other similar logic, e.g. Network and KeyVault).  I have seen reports of similar issues, where one writer reported that only System.Net.Http through v4.0 is compatible with the old non-fluent Azure Management DLL's.  Unfortunately, I have other logic in my

[2020-07-16 23:09] mderriey opened #13531 "[QUERY] XML docs for DefaultAzureCredential.GetTokenAsync"
**Query/Question**

Thanks for the super helpful library 🙇‍♂️

The [XML docs for `DefaultAzureCredential.GetTokenAsync`](https://github.com/Azure/azure-sdk-for-net/blob/96e4e5faced2005d880e4c1dc76d0705df240c7a/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L81-L84) mention the following:

While I understand the main use of `TokenCredential.GetTokenAsync` is for the various Azure SDK cli

[2020-07-16 23:53] axisc commented on #11798
@vanillajonathan Thanks for bringing this to our attention, I'll follow up with the team.

[2020-07-17 00:51] #13441 closed

[2020-07-17 00:54] seanmcc-msft commented on #9607
We have merged non-seekable OpenRead - https://github.com/Azure/azure-sdk-for-net/pull/12400.

Open Write and Seekable OpenRead will come later.

[2020-07-17 01:35] blueww commented on #13441
@seanmcc-msft
Thanks for the quick fix!
For the progress handler, as it can't show the real progress of the query, I will not use it to show the progress bar in PSH, to avoid misleading user.

[2020-07-17 01:39] blueww commented on #13269
@seanmcc-msft
I have tried again after modify the code structure of SAS generation in Powershell, the SAS works now.
There might be some issue on my code side, or the server has some temperate issue.

Anyway, I can't repro it now.
So close this issue.

[2020-07-17 01:39] #13269 closed

[2020-07-17 01:49] Tianyun-G commented on #13503
@MiYanni - Yes, the method has been changed to `CompleteMessageAsync`  in 7.0.0-preview.4. But I am testing the readme file against dev packages which are stored in https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-net/index.json. It seems that the dev package hasn't been updated to the newest one yet. The latest dev package is 7.0.0-dev.20200624.1 and method in this version is still c

[2020-07-17 03:15] Tianyun-G commented on #13502
@heaths - Yes, I do use the [official hotels](https://docs.microsoft.com/en-us/azure/search/search-create-service-portal) which's fields are named as PascalCase. This is why the code throw the System.Collection.Generic.KeyNotFoundException.

[2020-07-17 06:35] Petermarcu commented on #13531
Nice blog! :) Let me know when you publish it.

[2020-07-17 06:40] click2cloud-shailesh commented on #13235
Hi @rgreenMSFT, I forget to mention that, I am using **.net sdk**. So I am looking forward to do code on **c#** only.
Can you please let me know that, .net sdk support OCI driver Configuration. If supported, then how comes to do so?

[2020-07-17 08:00] #12339 closed

[2020-07-17 08:00] #12260 closed

[2020-07-17 08:04] mderriey commented on #13531
Thanks @Petermarcu, it's now published over at https://mderriey.com/2020/07/17/connect-to-azure-sql-with-aad-and-managed-identities/

[2020-07-17 14:00] mr-davidc commented on #9416
I too have been receiving this error intermittently for quite some time from our Azure function instances running in Kubernetes.

We have a functions pod running .NET Core 2.2.8 with functions v2 in our Production cluster and a separate functions pod running .NET Core 3.1.5 with functions v3 in our Sandbox cluster after recently upgrading and the exceptions are being received from both pods still.

[2020-07-17 14:18] jsquire commented on #13478
Thank you, Jiri.  The additional context is helpful.

Yup, this works just fine.  It confirms my initial suspicion; the error is returned by the service and isn't failing in a client path.

That, I do not know.  The field is `EventHubsException::Reason` on the object.   I don't recall whether AI walks the properties of the exception and breaks them down or just the message.   Given what we've now

[2020-07-17 15:51] SumantaKar opened #13542 "[QUERY] Event Hubs: Are diagnostic events being logged?"
**Query/Question**
How can we help?

In the older version of the EventHub SDK (Microsoft.Azure.EventHubs -Version 4.2.0) I see that it raises Diagnostics Events with name "Send.Start" and "Receive.Start" which one can subscribe to and perform some actions. However with the Azure.Messaging.EventHub version I do not see any such diagnostic events being raised. Are there any plans to implement someth

[2020-07-17 15:57] Vaibhav-Agar commented on #10263
Apologies for the delay here but just to update. We are currently working on a fix.

[2020-07-17 16:41] kasobol-msft opened #13544 "[FEATURE REQ][Storage] ReadAllBytes ReadAllText"
Add convinience methods on blob clients to read all bytes or all text.

[2020-07-17 16:59] jsquire commented on #13542
Hi @SumantaKar.  Thank you for reaching out and we regret that you're experiencing difficulties.

The good news is that all of the new wave of SDKs, including Event Hubs, are fully instrumented for EventSource-based logs as well as distributed tracing.  You can hook into these using any EventSourceListener that you’d like.  If you’re only interested in the Azure events, the Azure.Core package has

[2020-07-17 17:21] Frankwayne commented on #13307
Hey radennis   that is my kusto query, I'm using.  Here is more of the code I'm trying to use

userId
communityId
transactionType

are all input variables with a dataType of String

[code]

[2020-07-17 17:26] MiYanni commented on #13503
@Tianyun-G After some investigation, this is related to the engineering system. It seems every package feed in that container stopped as of June 24th (I checked 3 different SDKs). I'll assign it to them and they should be able to fix the feeds.

[2020-07-17 18:02] apclouds commented on #7304
@sujayvsarma sorry for the confusion. The ask was to see if there were any other details you wanted to share around why export from a single resource group was not enough. The feature request for export template across different RGs has been captured.

[2020-07-17 18:13] dspeidel opened #13545 "ShareFileClient UploadRangeAsync timeout or reset on large file"
**Query/Question**
Using `Azure.Storage.Files.Shares` v12.2.3. I'm attempting to upload json files. It appears that small files work without issue, but large files (~100MB) seem to "reset" after 90 seconds or so. I wired into the `IProgress<long>` progressUpdate and I'm logging every 5%. You can see it chugs along to 20% then it seems to reset.

Log excerpt:
[code]
Is there a way to set a higher t

[2020-07-17 18:15] kinelski commented on #11023
Increasing estimate since we'll need to add diagnostics scopes ourselves, including for LROs, and perform validation on them.

[2020-07-17 18:25] pakrym opened #13546 "Connections is being leaked when non-buffered response is retried on .NET Framework"
Because we don't dispose response stream in retry policy.

@kasobol-msft, FYI this affects blob download.

[2020-07-17 18:25] #7304 closed

[2020-07-17 19:49] MiYanni opened #13550 "ServiceBus: Remove line breaks in markdown"
Some of our markdown documents have line breaks. They are not necessary for markdown because of workwrap mechanics of markdown renderers. See comment here: https://github.com/Azure/azure-sdk-for-net/pull/13537/files/9aa47b23f7d3b41d7cdb8a46033d4360d5b4c8ba#diff-e36ac6529b4db622a88ab1e3cd8f8825

[2020-07-17 19:53] christothes opened #13552 "Discrepancy between storage and cosmos endpoint interpretation of odata annotations for double"
The service can infer the type for a double typed property [based on presence of a decimal point in the serialized value](https://docs.microsoft.com/en-us/rest/api/storageservices/payload-format-for-table-service-operations#property-types-in-a-json-feed). However, the serialization behavior for `System.Text.Json` [does not preserve the decimal when serializing double values with a trailing ](https

[2020-07-17 19:57] christothes opened #13553 "September Release of Tables for .NET"

[2020-07-17 20:00] jsquire commented on #13478
Hi @jformacek.

Would you say that a good time slice to use for investigation of the incident on Tuesday would be `07/14/2020 10pm -11pm UTC`?  That seems to reflect the log that you shared.   I'd also like to ask for the namespace of your Event Hubs namespace to help with the investigation of service-side logs.  If you're not comfortable sharing that here, please let me know and we'll work out a

[2020-07-17 20:00] jsquire commented on #13478
//cc: @serkantkaraca, for awareness.

[2020-07-17 20:02] christothes opened #13554 "Cosmos Table endpoints do not return retry-after header for 429 status responses"
When the service returns a 429 response (too many requests), the expected behavior for the client is to retry after some delay. In the case of the Cosmos SQL endpoint, the service adds a `x-ms-retry-after-ms` header which can be used as a delay hint. The Azure Core http pipeline retry policy already understands how to interpret this header and will delay retries appropriately.

The Cosmos Tables e

[2020-07-17 20:13] christothes opened #13555 "Cosmos Table endpoints diverge from Storage endpoint http behavior on merge operations"
The Merge operation (which is implemented as Patch) always fails with a `405 MethodNotAllowed` response against Cosmos table endpoints. Inspecting the traffic sent by the track 1 client reveals that they send Merge as `Post` with an additional header: `X-HTTP-Method: MERGE` . Adding this header and changing the method to Post results in a successful merge in my testing.

Ideally the Cosmos Table e

[2020-07-17 21:20] MladjoA commented on #10655
@jsquire Jesse, this issue doesn't seem to be related to SQL Managed Instance, but rather SQL DB.
Can you please review and update labels? Thanks!

[2020-07-17 21:30] #13546 closed

[2020-07-17 23:52] christothes opened #13559 "Some Cosmos Tables endpoints return 415 Unsupported Media Type without an explicit Accept header"
Examples:

- CreateTable: returns 415 without Accept: application/json
- DeleteTable: returns 415 without Accept: application/json
- InsertEntity: returns 415 without Accept: application/json
- QueryEntity: returns 415 without Accept: application/json
- QueryEntitiesWithPartitionAndRowKey: returns 415 without Accept: application/json
- QueryTable: returns 415 without Accept: application/json
- Set

[2020-07-18 00:49] seanmcc-msft opened #13563 "[Storage] Re-enabled StartCopyFromUriAsync_Source_IfTags tests"
https://github.com/Azure/azure-sdk-for-net/pull/13562

[2020-07-18 02:35] seanmcc-msft commented on #13545
Hi @dspeidel, it's possible there is a bug around the IProgress<long>, we had an issue with IProgress resetting on parallel and multi-part uploads for Blobs previously.

Are your larger uploads successfully completing?

[2020-07-18 04:08] TaranbirBhullar opened #13564 "DefaultAzureCredential authentication failed"
**Query/Question**
I am using [Microsoft.Identity.Web (MIW) version 0.2.0-preview](https://github.com/AzureAD/microsoft-identity-web/blob/84cdbef28ecf51dbff20a665ec8655fb9f09c7a6/src/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj#L85), that uses Azure.Identity 1.1.1 underneath.

Our deployed application wants to call Microsoft.Graph (as a on-behalf-of flow) and we are using user assigned MSI

[2020-07-18 05:01] dspeidel commented on #13545
Hi @seanmcc-msft, thanks for replying.
I just tried a couple uploads.  Nothing successful.  Here's my logging from one attempt.  Strangely, this one claims 100% within a second, then waits 90 seconds and tries again, going directly to 100%.  It does this 6 times.  I don't have any retry logic so I assume it's this library.
[code]

[2020-07-18 05:49] TaranbirBhullar commented on #13564
After having a look through some more related issues, I came across this. [Similiar-Report](https://github.com/Azure/azure-sdk-for-net/issues/11400#issuecomment-620179175)

Which mentions you need to set Environment Variable `AZURE_CLIENT_ID` to be the User assigned MSI's client ID

If you want to do this through the Azure portal.
You can head over to your Azure App Service -> Settings | Configura

[2020-07-18 05:49] #13564 closed

[2020-07-18 14:51] jsquire commented on #13503
//cc: @weshaggard

[2020-07-18 14:54] jsquire commented on #13478
@schaabs:  Do you mind offering thoughts about the following use of `DefaultAzureCredential` in an Azure Functions environment?   Is there anything that could potentially result in a malformed JWT or similar intermittently?

[code]

[2020-07-18 22:55] philipp-bananaware commented on #12287
It happend to me today. Any solution`?

[2020-07-18 23:01] pakrym opened #13567 "[DOCS] Remarks have strange formatting in API docs for keyclient.getkeyasync"
See https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.keys.keyclient.getkeyasync?view=azure-dotnet#remarks

Page source has it split into paragraphs:

![image](https://user-images.githubusercontent.com/1697911/87863446-dd236c00-c90f-11ea-98d9-c59a10c6b591.png)

cc @scbedd

[2020-07-19 06:58] JoshLove-msft commented on #13352
I updated the issue description to mention that actually only 4 of the queue properties cannot be modified on created queues - EnablePartitioning, RequiresSession, RequiresDuplicateDetection, and Name. This arguably makes this change less of a slam dunk, but I still think it is an improvement and makes for a more intuitive API. Splitting into two types and requiring a get before an update also all

[2020-07-19 16:55] tsafadi opened #13572 "[FEATURE REQ] Bulk upload / List of files upload"
**Library or service name.**
Azure.Storage.Blobs

**Is your feature request related to a problem? Please describe.**
Uploading multiple files at once/ bulk uploading.

I want to upload a list of files. Unfortunately this extremly slow if I do this in a loop. I would like to see a bulk upload operation where I can pass a list of files as a parameter.

**Current scenario:**
[code]
_This is extremly

[2020-07-19 22:25] sig9 commented on #12939
I am getting the same error on an Ubuntu 18.04 vm running in Azure.  I have azure.identity 1.2.0-preview.4.

[2020-07-20 03:25] erich-wang commented on #13496
This is feature request, cc @allenjzhang to take a look.

[2020-07-20 04:42] erich-wang commented on #13480
Could data bricks team take a look?

[2020-07-20 04:44] erich-wang commented on #13255
@FluxBoson , could you please provide the complete code for us to reproduce the issue?

[2020-07-20 04:50] camer314 opened #13573 "[QUERY] C# Application Insights Data Library?"
Am I missing something or has the C# Application Insights Data Library not been published for over 2 years?

Is it likely to become generally available or is there some alternative I should be using?

[2020-07-20 04:54] erich-wang commented on #13438
Could Sql team take a look whether the requested API exists in swagger api?

[2020-07-20 05:03] erich-wang commented on #13422
cc @nickzhums to evaluate the timeline for Azure.ResourceManager.Dns

[2020-07-20 05:06] nickzhums commented on #13422
@WhitWaldo Hi Whit, thanks for submitting the request. We will discuss this internally and let you know

[2020-07-20 05:10] erich-wang commented on #12283
Please try https://www.nuget.org/packages/Azure.ResourceManager.Compute/1.0.0-preview.1, thanks.

[2020-07-20 05:40] erich-wang commented on #13505
@daveoshinsky, could you please provide minimal code sample to reproduce the issue? IMO, Microsoft.Azure.Management.Compute v38.0 should be compatible with System.Net.Http >= 4.2

[2020-07-20 05:45] erich-wang commented on #12877
As we're moving to track 2 mgmt sdk, this feature request is related to generator for track 1 and there's workaround for this issue, so close this feature request, thanks.

[2020-07-20 05:45] #12877 closed

[2020-07-20 06:12] erich-wang commented on #13202
@Crossbow78, could you please try to specify tenantId in _tokenProvider.GetAccessTokenAsync(xxx) ?

[2020-07-20 06:46] Expecho opened #13575 "[QUERY] Event Grid Clients question, where do headers send using PublishEventsWithHttpMessagesAsync end up?"
**Query/Question**
In the `PublishEventsWithHttpMessagesAsync` of the `EventGridEvent` class there is the option to send custom headers along with the http request using the `customHeaders` argument ([docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventgrid.eventgridclient.publisheventswithhttpmessagesasync?view=azure-dotnet)). I was wondering where they end up.

I would expect

[2020-07-20 08:19] amishra-dev commented on #11254
Please reactivate when you have the logs. Thanks

[2020-07-20 08:19] #11254 closed

[2020-07-20 08:20] amishra-dev commented on #11519
Please reactivate if this is still open.

[2020-07-20 08:20] #11519 closed

[2020-07-20 08:48] Crossbow78 commented on #13202
Ah, yeah, that works.

But would you agree that we shouldn't include an explicit TenantId in configuration only because the local environment needs it?

[2020-07-20 13:06] mattschoutends commented on #9404
PR #13124 should fix this.  Is there anything I can do to help get that reviewed and merged?

[2020-07-20 15:07] christothes opened #13578 "Cosmos table operations authed with a table scoped SAS fail with version string greater than 2017-07-29"
Sending service version "2019-02-02" (the version set in the swagger) seems to always produce a 403 response for table SAS token authed requests in my testing. Sending "2017-07-29" as done in track 1 tests, results in a successful call.

The service should accept the latest valid service version.

#cosmosKnownIssue

[2020-07-20 16:12] #13190 closed

[2020-07-20 16:12] #13191 closed

[2020-07-20 16:19] 1RedOne opened #13579 "[FEATURE REQ] Need more expressive documentation for what param to use for GetById"
**Library or service name.**
Azure.Deployments

**Is your feature request related to a problem? Please describe.**
I am experimenting with an app to retrieve info on Azure Deployments using the Fluent API.  The API Docs are confusing me a bit, it looks like Deployments has `SupportsGettingById` but I can't determine which field to provide as the id.  If I provide the IDeployment.Inner.Id field, wh

[2020-07-20 16:35] seanmcc-msft commented on #9404
@mattschoutends, we’ll take a look at the PR

[2020-07-20 16:48] #13520 closed

[2020-07-20 17:02] JoshLove-msft commented on #13459
Hi @chris-skuvault,
I agree that relying on this behavior could be dangerous. In fact, I don't think the current behavior is ideal where we break out of the loop and close the receiver for any exception. In terms of offering a CloseSession option, one piece that makes me somewhat hesitant is how this will work when there are multiple concurrent calls for a single session. If we close the session w

[2020-07-20 17:09] amnguye commented on #13572
Hi! Thanks for your suggestion, we will look into this convenience method/overload. If we look to do something like this, we might have like a warning if they define something in the upload options that it will apply to all the upload calls.

[2020-07-20 17:42] #11516 closed

[2020-07-20 17:51] scbedd commented on #13567
Will get an issue filed with the docs team. Thanks @pakrym

[2020-07-20 18:40] AlexGhiondea commented on #13579
@1RedOne thanks for opening this issue. Could you share more about the package you are using to help better triage this issue?

Thank you!

[2020-07-20 19:14] weshaggard commented on #13503
We are no longer using that dev feed we have updated it to use an Azure DevOps feed see the updated instructions at https://github.com/Azure/azure-sdk-for-net/blob/master/CONTRIBUTING.md#dev-feed.

[2020-07-20 19:27] scbedd commented on #13567
It looks to me like the docs system is parsing a newline in the `remarks` xml comment as a "new" comment. Here's another example:

[Source](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClient.cs#L304)
[Rendered](https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.keys.keyclient.updatekeypropertiesasync?view=azure-dotnet)

H

[2020-07-20 19:52] weshaggard commented on #9194
I don't have a problem with this rule.

[2020-07-20 20:20] kinelski commented on #10358
Fixed by #13551.

[2020-07-20 20:20] #10358 closed

[2020-07-20 21:07] khilscher opened #13588 "[QUERY] Why does InteractiveBrowserCredential require Azure Service Management permissions?"
I have documented several code samples for authenticating and querying Azure Digital Twins v2 using Azure.Identity [here](https://github.com/khilscher/adtauthexamples). When using ```InteractiveBrowserCredential ``` it appears to require ***Azure Service Management \  user_impersonation***  API permissions in the AAD app registration (see screen shot below). Otherwise, the following error is encou

[2020-07-20 22:14] kasobol-msft commented on #9538
@HengzheLi Adding DiagnosticSource as debug events/logs destination would be a new feature request. There's no support for that now.
I can see that your upgrade to V12 was blocked by lack of client side encryption support. Recently we added encryption support and it's available in Azure.Strorage.Blobs 12.5.0-preview.5 .

[2020-07-20 22:16] #11023 closed

[2020-07-20 22:28] kasobol-msft commented on #12186
This might be related https://github.com/microsoft/ApplicationInsights-dotnet/issues/1406

[2020-07-20 22:45] DorothySun216 commented on #9416
Hi @mr-davidc, thanks for reaching out. Are you from the same team as @mladedav? If not, can you create another thread and share with us a piece of code that has the exceptions thrown? This thread is already really long and hard to navigate. We need to tailor for each repro to see what's the problem there since these kinds of problems are hard to debug.

[2020-07-21 00:04] gabser10 opened #13593 "[FEATURE REQ] Cognitive Speech: Azure Maps search results emprovement and Speech, to engage Api"
AzureMaps
**Predictive Query prediction is missing addresses**
Asking for some addresses the related address is missing some address
https://atlas.microsoft.com/search/address/json?subscription-key=XXXXXXXXX&api-version=1.0&query=via%20aurelia%20km%2013%20roma&countrySet=IT&&typeahead=true&language=%22it-IT%22
query | Result with maximum score  (FreeFormAddress property in address object obrained

[2020-07-21 01:04] tg-msft commented on #12808
Assigning to @fabiocav for an answer about the roadmap of `Microsoft.NET.Sdk.Functions` v1.0.13

[2020-07-21 01:07] HengzheLi commented on #9538
@kasobol-msft Thanks for the news. Has the estimated date to release a final offical version as it is in preview version and it will be used in our production envrionment?

[2020-07-21 02:28] ptrnecka commented on #13235
Yes, SDK supports OCI driver configuration. It takes 2 steps to deploy the driver. The first step is to upload OCI ZIP file from your share to DMS storage. And the second step is to install the uploaded OCI ZIP to your DMS instance. You can also run an optional third step to check installed OCI driver (which is useful for validation).
Please note that when DMS instance is stopped (either manually

[2020-07-21 02:47] Tianyun-G commented on #13503
Close as it is no problem in latest version.

[2020-07-21 02:47] #13503 closed

[2020-07-21 05:10] samruddhi-khairnar opened #13600 "[BUG] Uploading Azure blob using Customer Provided key failing with Status: 403 (This request is not authorized to perform this operation using this permission.) ErrorCode: AuthorizationPermissionMismatch"
**Describe the bug**
Referred Azure document - https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-customer-provided-key
I am using above link to upload blob into my storage account using CustomerProvidedKey. And its failing with :

This request is not authorized to perform this operation using this permission.
RequestId:ac6dd815-901e-0005-6919-5f3a89000000
Time:2020-07-21T04:42:46.7

[2020-07-21 06:29] aelij opened #13603 "[FEATURE REQ] Allow specifying the auth scope for management libraries"
**Library or service name.**
Azure.ResourceManager.Resources/1.0.0-preview.1 (and probably all management libraries)

**Is your feature request related to a problem? Please describe.**
In the previous SDK, we could use `AzureEnvironment` to set a different URI for the HTTP requests and the authentication audience. In the new SDK, you can only specify a single URI, which then derives the scope by c

[2020-07-21 07:53] aelij opened #13604 "[FEATURE REQ] Allow creating management clients without specifying the subscription in advance"
**Library or service name.**
Azure.ResourceManager.Resources/1.0.0-preview.1 (and others)

**Is your feature request related to a problem? Please describe.**
Currently the subscription ID must be specified when creating the client. This poses an issue when attempting to cache the client's instance. Since the client also holds the pipeline token cache, it is imperative not to create a new one every

[2020-07-21 08:00] #12286 closed

[2020-07-21 11:47] MaxCrank commented on #12749
We've been struggling to fight the same issue for more than a day already, recently updating to the preview-5 version of the Azure.Identity lib. `ExcludeVisualStudioCredential` helps locally, but not in the AKS cluster. Unfortunately, enrichment of our containers with libsecret-1-0 also didn't help.

[2020-07-21 12:16] jongio commented on #12749
@MaxCrank Apologies for the lost time. Please build your own credential chain with ChainedTokenCredential and only include the credential types you need.

Let me know if you want to pair on this. https://jong.io/contact

Jon

[2020-07-21 14:02] jsquire commented on #13542
As this was also opened for discussion via email, and I believe that thread resolved the question, I'm going to close this out.   Please feel free to reopen if you feel there is further discussion.

[2020-07-21 14:02] #13542 closed

[2020-07-21 14:09] jongio commented on #9262
@nickzhums - Please update this issue when Fluent supports Azure.Identity.

[2020-07-21 14:32] nickzhums commented on #9262
@jongio sure, quick note though - the Track 2 .NET SDK will NOT be fluent due to the SDK guidelines, however, it will support azure identity for sure (as it does now)

[2020-07-21 14:50] jsquire commented on #12388
@serkantkaraca:  Should this be closed out, or would you like to track it on the backlog as an open feature request?

[2020-07-21 15:14] serkantkaraca commented on #12388
@jsquire We already have a feature request tracking emulator ask. I believe there is no reason keep this open.

https://feedback.azure.com/forums/911458-event-hubs/suggestions/37028737-emulator

[2020-07-21 15:31] AnthonyDewhirst commented on #13298
I have now simplified the repo even more and added a console app the works with the SA setup as well as using the api directly within WA as well. This now feels like a bug between Blazor WA and the Storage client.

I created an [issue](https://github.com/dotnet/aspnetcore/issues/24093) with the blazor people around auth and I think this is now all ok.

So if someone could once again take a look at

[2020-07-21 15:39] pakrym opened #13608 "Enable ContinuousIntegrationBuild in CI builds"
NugetPackageExplorer reports our packages as non-deterministic:

![image](https://user-images.githubusercontent.com/1697911/88075219-56e47100-cb2d-11ea-9609-696bc130fd43.png)

Compare to System.Text.Json:

![image](https://user-images.githubusercontent.com/1697911/88075451-a9259200-cb2d-11ea-9475-2b4a79578492.png)

@weshaggard do we want to do something here?

[2020-07-21 15:40] kasobol-msft commented on #12186
@MegoCs Please open support ticket through Azure Portal to further investigate how Application Insights are impacting requests to Storage.

[2020-07-21 16:03] jsquire commented on #10007
//cc: @jfggdl

[2020-07-21 16:15] jsquire commented on #7754
@AlexGhiondea:  Would you be so kind as to help route to the right individual?

[2020-07-21 16:17] 1RedOne commented on #13579
I found my error, I was passing in my ARM Id as a string, escaping the `/` characters, which `GetById()` didn't like.

When I used unescaped front-slashes, get by Id worked as expected.

[2020-07-21 16:17] #13579 closed

[2020-07-21 16:21] 1RedOne opened #13609 "[QUERY] Example of how to do a subscription level ARM Deployment?"
**Query/Question**
Hi, I'm working on a project and need to deploy a Subscription level ARM Template.  This doesn't seem possible with `using Microsoft.Azure.Management.Fluent.IAzure.Deployments` but a promising method is available under [Microsoft.Azure.Management.ResourceManager.IDeploymentsOperations](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.ideploy

[2020-07-21 16:22] aelij commented on #13044
Hitting it too. I think this is a thread-safety issue.

https://github.com/Azure/azure-sdk-for-net/blob/96fdee48d86aee8f00613c9599d5631abe8fbe47/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L135-L137

And the method that calls it checks:

https://github.com/Azure/azure-sdk-for-net/blob/96fdee48d86aee8f00613c9599d5631abe8fbe47/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L

[2020-07-21 16:42] nickzhums commented on #9262
@Rookian if there are no further questions we'll close this issue

[2020-07-21 16:54] schaabs commented on #10529
@woutervs Thanks for including the full error and stack. It seems like what's going on here is that your falling back to authenticating with the `AzureCliCredential` which in the second error you posted is failing because the refresh token has expired and you would have to re-run `az login` to re-authenticate via the CLI.

However, this doesn't explain why we failed to authenticate via the account

[2020-07-21 16:55] oscholz commented on #13593
We've passed this on to the owner of our Italian model, and that person will be looking into this, and comment here.

[2020-07-21 16:56] jsquire commented on #12388
Closing this out, as the Event Hubs team is tracking it elsewhere.

[2020-07-21 16:56] #12388 closed

[2020-07-21 17:23] jsquire commented on #13188
Revising the estimate based on found work discovered through iteration, review, and discussion with various stakeholders.

**Original Estimate:**  3

[2020-07-21 17:27] kasobol-msft commented on #9538
@HengzheLi Some time in August.

[2020-07-21 17:27] aelij opened #13610 "[FEATURE REQ] Consider adding a lock in BearerTokenAuthenticationPolicy"
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
When a pipeline is called concurrently, `BearerTokenAuthenticationPolicy` unnecessarily attempts to fetch multiple tokens for the same scope, one of which will be saved in the policy's cache. Consider adding a lock (e.g. a `SemaphoreSlim`) which would allow only a single request to go th

[2020-07-21 17:52] kinelski opened #13611 "Double check ArgumentExceptions across the Form Recognizer SDK"
We were incorrectly passing the wrong argument to an `ArgumentException`:
https://github.com/Azure/azure-sdk-for-net/blob/5cb4b83b190cc6295d01ecc8796620fa07d73e80/sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs#L159

We should have wrapped `operationId` in `nameof()` so the error message contains the actual parameter name, and not its value:
[code]

We must double c

[2020-07-21 19:12] ranishan commented on #12274
@isra-fel Can we close this issue. We have released the documents:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.sqlvirtualmachine?view=azure-dotnet

[2020-07-21 19:13] kinelski commented on #10457
Fixed in Core (empty string check below). There are no changes needed on the Form Recognizer side.
https://github.com/Azure/azure-sdk-for-net/blob/e241ebec248e50b67521134ac747b18ef7914533/sdk/core/Azure.Core/src/Shared/AutoRest/PageableHelpers.cs#L81

[2020-07-21 19:13] #10457 closed

[2020-07-21 19:22] allenjzhang opened #13614 "[BUG] Test Test Please ignore"
[AB#3909](https://dev.azure.com/azure-mgmt-ex/4b92ce2a-39c0-4c42-816c-214829fe2a54/_workitems/edit/3909)

**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, scre

[2020-07-21 19:25] allenjzhang commented on #13614
Here are some updates. Test Test

[2020-07-21 19:26] allenjzhang commented on #13614
Fixes AB#3909

[2020-07-21 19:27] elliotchaim commented on #10242
I also encountered this issue. Having previously used the older SDKs, this is very confusing.

[2020-07-21 19:28] allenjzhang commented on #13614
AB#3910

[2020-07-21 19:34] #13614 closed

[2020-07-21 19:38] kinelski opened #13615 "Swagger follow-up: nullable notations"
Some inconsistencies between the swagger file and the actual service responses were spotted in recent Core changes. The ['Add nullable annotations' section](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md#add-nullable-annotations) and its transforms should be completely removed from `autorest.md` once corresponding `x-nullable` prop

[2020-07-21 19:40] ChadNedzlek opened #13616 "AzureBlobXmlRepository never updates the blob if the blob is empty"
**Describe the bug**
If you configure data protection with PersistKeysToAzureBlobStorage, and point it to a blob that isn't valid XML (for example, is empty, because you had to create the blob to make a valid SAS token for it), the data protection layer will throw a bunch of exceptions and never actually persist the keys.

https://github.com/Azure/azure-sdk-for-net/blob/a3b6a5ff0f73177571aeaf5670f

[2020-07-21 19:40] 1RedOne commented on #13609
I found that you can new up a `ResourceManagementClient` object like so:

[code]

[2020-07-21 20:14] weshaggard commented on #13608
This was recently done with PR https://github.com/Azure/azure-sdk-for-net/pull/13057. If you feel like we missed something let me know.

[2020-07-21 20:16] pakrym commented on #13608
Yes, this is from today's build:

![image](https://user-images.githubusercontent.com/1697911/88102382-51e6e800-cb54-11ea-8a53-76eeced9e50d.png)

[2020-07-21 20:16] #12204 closed

[2020-07-21 20:21] weshaggard commented on #13608
@chidozieononiwu can you please have a look?

[2020-07-21 20:37] pakrym commented on #8575
I would start by using RetryOptions directly. I know it has some extra members but considering the usage is fully internal it shouldn't be a problem.

`public static async ValueTask<Response<TResult>> WaitForCompletionAsync<TResult>(this Operation<TResult> operation, RetryOptions options, CancellationToken cancellationToken)`

We also need to make sure reties do not escalate to very large values t

[2020-07-21 20:47] ahamad-MS commented on #13575
Investigating.. will update thread once finalized.

[2020-07-21 20:47] Rookian commented on #9262
@nickzhums Do you have an example on how I can use Azure.Identity with Microsoft.Azure.Management.Fluent / Microsoft.Azure.Management.ResourceManager.Fluent.

I am a little bit confused and don't know what you mean by

[2020-07-21 21:07] danieljurek commented on #13110
Resources are copied to storage accounts for China and US Gov clouds:

China Cloud: https://portal.azure.cn/?whr=azure.com#@mcdevops.partner.onmschina.cn/resource/subscriptions/44b2f395-b47b-462a-9a40-6ec719b6b910/resourceGroups/TrainingData/providers/Microsoft.Storage/storageAccounts/azuresdktrainingdata/overview

US Gov: https://portal.azure.us/#@fairfaxdevops.onmicrosoft.com/resource/subscripti

[2020-07-21 21:08] seesharprun commented on #9262
My reading of the statement is that the new v2 SDK that supports MSAL tokens is not fluent. I read the guidelines and it’s not allowed under the current design/rules.

[2020-07-21 21:19] amnguye commented on #13600
Hi,

`AuthorizationPermissionMismatch` error usually pops up when it's not grabbing the Token correctly from the credentials you provided. Since you're using `DefaultAzureCredential` to grab your credentials using AAD auth, which kind of auth are you using (e.g. Environment variable, managed identity)
https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotn

[2020-07-21 21:41] JoshLove-msft commented on #13353
We landed on leaving it in bytes as that is what the service returns, and it gives the users flexibility to translate it however they see fit.

[2020-07-21 21:46] christothes opened #13620 "Implement GetEntity method on TableClient"
Should call through to QueryEntitiesWithPartitionAndRowKeyAsync

[2020-07-21 21:49] christothes opened #13621 "methods accepting a select argument should accept a IEnumerable<string>"
Handles comma escaping

[2020-07-21 22:12] christothes opened #13623 "Set minimal metadata by default"
Currently `TableClient` sets `_format = OdataMetadataFormat.ApplicationJsonOdataFullmetadata`

This should be `ApplicationJsonOdataMinimalmetadata`. We may need to handle etag serialization with this setting.

[2020-07-21 23:06] jviau opened #13625 "[FEATURE REQ] For the new SDKs, support serialization on Operation types."
**Library or service name.**
What library or service is this request related to? All new style SDKs.

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

When writing a service that kicks off and waits on Azure operations, it is often useful to not sit on a thread, or even an async state machine, and poll an Azur

[2020-07-21 23:09] nonik0 commented on #7578
@Alec321 What you're saying makes sense, but from what it sounds like that sort of support would need to also be on the platform-side, i.e. adding support for v1 tokens to the App Service managed identity endpoint or the Azure VM IMDS endpoint. In that case, it makes more sense for EasyAuth to support v2 tokens since that's what all platforms and SDKs are using now.

That being said, this could be

[2020-07-21 23:49] amnguye commented on #13616
I think this might have gotten mistriaged, this is not related to the `Azure.Storage.Blobs` library because we don't have any method related to AzureBlobXmlRepository.

I'm going to assign it to the ASP.NET extensions and see if they can help.

If it is an actually related to the `Azure.Storage.Blobs` library please reassign back with labels `storage` and `client`, along with a snippet of code tha

[2020-07-21 23:59] AlexGhiondea commented on #13610
@AlexanderSher could you take a look here?

[2020-07-22 00:08] axisc commented on #13080
@mikemarmar closing this issue for now. Please feel free to open a new issue if this is still an open question.

[2020-07-22 00:08] #13080 closed

[2020-07-22 00:12] tg-msft commented on #13625
[We have a guideline that around this that says:](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-lro-subclass)

You can see an example of this at https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/api/Azure.Storage.Blobs.netstandard2.0.cs#L932.  In this case, you could save the operation ID and blob's URI to recreate the `CopyFromUriOperation`

[2020-07-22 00:15] axisc commented on #12012
@kenans  closing this issue for now. Please feel free to open a new one if this is still an open question.

From the perspective of identifying deferred messages, the only way is to store the sequence numbers of the messages that were deferred and checking against that list.

[2020-07-22 00:15] #12012 closed

[2020-07-22 00:22] axisc commented on #11901
@pseabury thanks for opening this issue. We've tagged this as a feature request and will put it on the backlog. no ETA for now.

[2020-07-22 00:43] amishra-dev commented on #13524
We acknowledge that this is a bug on the service, we are working on fixing it. There are 2 workarounds available
1. Use Http for now while we fix the bug
2. Fire off the request one at a time while we fix the bug.

We do apologize for the inconvenience and will update here when the fix is rolled out on the service.

[2020-07-22 00:49] amishra-dev commented on #13524
@sunero4 can you send me your account name so that i can keep track?

[2020-07-22 00:50] heaths opened #13627 "Add support for .NET 5's System.Text.Json to JsonObjectSerializer"
Per offline discussion, I will simplify the code for now, open an issue for tracking support for STJ in .NET 5, and add a comment to the code referencing the issue / summary.

See https://github.com/dotnet/runtime/blob/dc8b6f90/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs#L147-L155 for implementation.

_Originally posted by @heaths in https://github.com/Azure/

[2020-07-22 01:00] ahamad-MS commented on #13575
Event Grid does not deliver these custom headers to destinations. We use some of them for validation purposes currently. For example, the content size header (which is optional too).

Hence, it is by design that these headers are not consumed at the receiving side.

Is there any specific scenario you have in mind where you need to use these custom headers? Why no include this info in the data payl

[2020-07-22 01:07] jviau commented on #13625
@tg-msft thanks - I see that will be useful for the operations that do implement that. Looking at the new Azure Management SDKs, I don't see a way to save them and construct them later. In fact, the constructors they do have are internal. For example: [VirtualMachinesCreateOrUpdateOperation](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/compute/Azure.ResourceManager.Compute/src/Genera

[2020-07-22 01:08] allenjzhang commented on #13614
AB#3923

[2020-07-22 01:30] tg-msft commented on #13625
The new management SDKs are in preview and still working on implementing all of the guidelines.  I agree they should support being rehydrated though.

+@pakrym - Can we have the generator add Operation .ctor rehydration overloads automagically by default?

[2020-07-22 02:11] isra-fel commented on #12274
Sure thing. Thanks!

[2020-07-22 02:12] #12274 closed

[2020-07-22 03:19] jviau commented on #13625
Thanks! One thing that would be nice to have, is if when it takes in a client, it takes in some common base class of the client. So we don't need to find the correct client to use per operation. This is possible with the current management SDKs. `AzureClientExtensions.GetLongRunningOperationResultAsync` is an extension method for an `IAzureClient`, allowing you to use anything that satisfies that

[2020-07-22 03:34] JoshLove-msft opened #13632 "Prototype API for Event Grid using BinaryData"
We defined a new Core type `BinaryData` that is used in Service Bus for scenarios where you want to encapsulate data that could be in a binary format. It also integrates with the `ObjectSerializer` abstraction to allow serializing and deserializing to strongly typed models using a preferred serializer. We should investigate what it would look like if we replace the `object` for all of the Event mo

[2020-07-22 03:35] JoshLove-msft commented on #13632
/cc @ellismg

[2020-07-22 06:13] Petermarcu commented on #7050
From my read of this, it looks like this was resolved by fixing the documentation to clarify that it doesn't support PUT. I'm going to close now.

[2020-07-22 06:16] isra-fel commented on #13609
Hi @weidongxu-microsoft  can you help? Can we just use the inner .NET SDK to do that?

Thanks

[2020-07-22 06:17] isra-fel commented on #13603
Thanks for the feedback. Loop in @erich-wang

[2020-07-22 06:18] isra-fel commented on #13604
Thanks for your feedback. Loop in @erich-wang

[2020-07-22 06:23] weidongxu-microsoft commented on #13609
@1RedOne

THe REST API can be accessed from `IAzure` as well, sample code:
`azure.Deployments.Inner.CreateOrUpdateAtSubscriptionScopeAsync`

[2020-07-22 06:33] allenjzhang commented on #13604
@aelij Thanks for submitting the feature request. Does you scenario mostly work across multiple Subscriptions?

We are looking at the API surfaces changes where there is desire to simplify the amount of data/parameter needed for each calls. But that would run opposite of your proposal where Subid needs to be specified before or on the calls. If we were to change to setting via a property, then it

[2020-07-22 06:35] Petermarcu commented on #10959
Thanks for all the feedback. At this point, we plan to continue with the pattern we've used for all other services and leverage the new NuGet feature that supports promotion in the search results across package renames of the same lineage. I'm going to close this issue now.

[2020-07-22 06:35] #10959 closed

[2020-07-22 06:37] aelij commented on #13604
Yes, I'm authoring an RP, so each request can come from a different subscription.

How about leaving the current parameter, but also adding the `WithSubscriptionId` method that allows mutating it (by creating a new instance with the same pipeline). This way I can just use any subid string for the shared instance.

[2020-07-22 06:44] Tianyun-G opened #13633 "Azure.Storage.Blobs.ChangeFeed Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storage.Blobs.ChangeFeed#azure-storage-blobs-change-feed-client-library-for-net)
![image](https://user-images.githubusercontent.com/65581162/88142644-6f858180-cc28-11ea-92b8-bca2640c0bc5.png)

Reason:
Link is not available.
Suggestion:
Change the hyperlink of `Source code` to https://github.com/Azure/azure-s

[2020-07-22 06:45] Tianyun-G opened #13634 "Azure.Storage.Files.DataLake Readme and Sample issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/blob/1c2ee747d1def9a6d5f270f97e76f292681dd366/sdk/storage/Azure.Storage.Files.DataLake/samples/Sample01a_HelloWorld.cs#L262)
![image](https://user-images.githubusercontent.com/65581162/88142235-baeb6000-cc27-11ea-8c5f-7e3a8eaa637f.png)

Reason:
'Azure.RequestFailedException : The specified path already exists ' was thrown in line 262.

S

[2020-07-22 06:46] Tianyun-G opened #13635 "Azure.Storage.Files.Shares Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storage.Files.Shares#troubleshooting)
![image](https://user-images.githubusercontent.com/65581162/88141425-29c7b980-cc26-11ea-8598-f2c10cbe5ced.png)

Reason:
There is a redundant space.
Suggestion:
Change it to `ErrorCodes`.

[2020-07-22 06:50] Tianyun-G opened #13636 "Add Azure.Storage.Blobs unit test to validate https://aka.ms/bloburl"
~~1.~~
~~Section [link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/storage/Azure.Storage.Blobs#troubleshooting)\
![image](https://user-images.githubusercontent.com/65581162/88141752-c9854780-cc26-11ea-912a-55c800345c83.png)~~

~~Reason:~~
~~There is a redundant space.~~
~~Suggestion:~~
~~Change it to `ErrorCodes`~~

2.
Section [link1](https://github.com/Azure/azure-sdk-for-net/blob

[2020-07-22 07:06] erich-wang commented on #13202
I agree. You may use preprocessor directive to include tenantId only in local environment.

[2020-07-22 07:31] AnthonyDewhirst commented on #13298
ok, is this an actual issue with the API?

In blazor, if I use the following code:

[code]

I get the following logs out
[code]
and then this using postman shows that the ids don't match up - looks like this isn't a blazor or client issue but maybe an API issue?
![image](https://user-images.githubusercontent.com/642569/88147810-a2fae880-cbf5-11ea-8e21-3753bed68d15.png)

[2020-07-22 07:48] mjaow commented on #12597
The issue doesn't happen recently (deployed for more than 1 week). But I think it's better to wait and keep an eye for longer.

[2020-07-22 08:18] Rookian commented on #9262
So is there a complete new nuget package for provisioning Azure resources?

[2020-07-22 08:19] sunero4 commented on #13524
Which account name are you thinking of? My Azure Account? :)

[2020-07-22 08:24] amishra-dev commented on #13524
@sunero4 i meant the storage account name :) If you can send me that, i can keep track of when the fix reaches that storage stamp and let you know that you could try again. Thanks

[2020-07-22 08:28] nickzhums commented on #9262
@seesharprun Yes your understanding is correct
@Rookian sorry for the confusion. We are in the process of designing a hand-written layer on top of the generated code for the new .NET SDK. However, if you are good with just raw code generated SDK and needs to use the Azure Identity, please find the package list in here (https://azure.github.io/azure-sdk/releases/latest/dotnet.html). These are the n

[2020-07-22 08:43] sunero4 commented on #13524
Oh, I created a storage account to go with the minimal example so I just deleted it after I was finished with testing this. But I'll stay subscribed to this issue :)

[2020-07-22 10:09] samruddhi-khairnar commented on #13600
Thanks @amnguye.
I tried using connection string it worked, the blob got uploaded using CMK.
But I tried using `ClientSecretCredential` by providing those 3 parameters, it again failed with the same error :
Status: 403 (This request is not authorized to perform this operation using this permission.)
ErrorCode: AuthorizationPermissionMismatch

Can you please help me in understanding why is this beh

[2020-07-22 10:15] v-xuto commented on #13636
@jongio for notification.

[2020-07-22 10:15] v-xuto commented on #13633
@jongio for notification.

[2020-07-22 10:15] v-xuto commented on #13634
@jongio for notification.

[2020-07-22 10:15] v-xuto commented on #13635
@jongio for notification.

[2020-07-22 10:45] mr-davidc opened #13637 "[BUG] Microsoft.Azure.ServiceBus - System.InvalidOperationException: Can't create session when the connection is closing"
This issue is related to #9416 however I was asked to open a fresh thread.

**Describe the bug**

Intermittently for quite some time our Azure function instances running in AKS have been receiving the below exceptions coming through into Sentry.

We have a pod running .NET Core 2.2.8 with Functions v2 in our Production Kubernetes cluster and a different pod running .NET Core 3.1.5 with Functions v

[2020-07-22 11:12] larini opened #13638 "[QUERY] Azure Storage Blobs: Extreme long time to upload"
Hi, using code bellow I got two cases this month that takes more than 70 seconds to respond:

    blockBlob.Properties.ContentType = 'application/pdf';
    await blockBlob.UploadFromStreamAsync(fileData);

These pdf files are very small, about 11KB.

99,9% of cases are good.

How can I inspect what is going on?

[2020-07-22 11:15] Expecho commented on #13575
I want to send correlation data with the request so Application Insights can pick it up on the receiving side and set the correct operation id and parent id based on the values in the request. Having this data in the payload means it is too late in the pipeline to be able to correlate the incoming request with the request sending the event.

[2020-07-22 12:31] Distil62 opened #13639 "[BUG] Can't upload a file through DPS SDK."
**Describe the bug**
Impossible to get SasUpload URI when using a IoT device throught the DPS SDK

**Expected behavior**
Conform to the new API for upload a file I should get a SasUri of the connected container of my IoT Hub connected to my DPS. For start my upload.

**Actual behavior (include Exception or Stack Trace)**
I get a NullReferenceException when a called the GetFileUploadSasUriAsync

**

[2020-07-22 13:45] christothes opened #13640 "Consider implementing BinaryData for dictionary helper class instead of byte[]"
[context here](https://github.com/Azure/azure-sdk-for-net/pull/13561/files/3735b0ffac817733662327c99df8efc1ced93a34#r458369441)

[2020-07-22 14:56] pakrym commented on #12597
I'm going to close the issue. Please reopen if the issue comes back.

[2020-07-22 14:56] #12597 closed

[2020-07-22 14:57] pakrym commented on #13625
Yes, https://github.com/Azure/autorest.csharp/issues/697

[2020-07-22 15:07] 1RedOne commented on #13609
Hi Wei, thanks for the reply!  Could you give me a minimal viable demo?  I am struggling with the syntax of making a deployment using `azure.Deployments.Inner.CreateOrUpdateAtSubscriptionScopeAsync`, but that seems to be perfect for my scenario!

[2020-07-22 15:44] christothes opened #13641 "Consider allowing type coercion for numeric types in the dictionary helper class property getters"
In our dictionary helper class, the strongly typed property getters enforce type consistency when getting or setting values for existing properties. Should we be permissive with implicit type conversions between compatible numeric types?

More context [here](https://github.com/Azure/azure-sdk-for-net/pull/13561#discussion_r458333102).

[2020-07-22 16:46] amnguye commented on #13600
Looks like there's an error with the credentials you're providing. It could be that the credentials you are providing are incorrect or you have not given your AAD application or identity access to the storage account you are trying to upload a blob to or your AAD identity does not have write permissions.

https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi

[2020-07-22 16:55] jongio commented on #9262
@Rookian - Please see this comment for instructions on how to use Azure.Identity with Fluent https://github.com/Azure/azure-sdk-for-net/issues/9262#issuecomment-580444940

[2020-07-22 17:02] amnguye commented on #13298
Hi,

I saw that you were able to simplify your application in the other issue for the blazor team. I was wondering if you could simplify your application down to only using the `Azure.Storage.Blobs` library to help us narrow down where the issue is since you are sure the error is not within Blazor.

Also another question I have is why are you creating a custom TokenCredential class when the `Azure

[2020-07-22 17:12] razvansalajan commented on #7379
Any update on this ?
The alternative that I am thinking of is to have a custom implementation of [ITokenProvider ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.rest.tokencredentials.-ctor?view=azure-dotnet#Microsoft_Rest_TokenCredentials__ctor_Microsoft_Rest_ITokenProvider_ ) that takes an AzureServiceTokenProvider.
Is there an alternative without a custom implementation ?
If no, is there

[2020-07-22 17:36] ramya-rao-a commented on #13471
Please wait until the swagger makes it to the https://github.com/Azure/azure-rest-api-specs/ repo. I'll post an update here when it does

[2020-07-22 17:47] kinelski commented on #13611
Double-checked. No issues found.

[2020-07-22 17:47] #13611 closed

[2020-07-22 17:56] kinelski opened #13645 "[Samples] Consider adding authentication sample"
.NET differs from other languages because it's missing a sample showing how to authenticate to Azure, using both key and AAD. However, we do have [a section in our README](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/README.md#authenticate-a-form-recognizer-client) that illustrates how authentication works.

We must decide whether we should incl

[2020-07-22 18:16] amnguye commented on #13638
Hi,

You can take advantage of using Azure Monitor on your storage dashboard to look at the odd requests that are taking too long.
https://azure.microsoft.com/en-us/services/monitor/

If you happen to catch the slow uploads within a day and you have the logs, you can open a support ticket with Azure. By providing the logs and request-ids, we can get to the bottom on the service side to see if the

[2020-07-22 18:34] ahamad-MS commented on #13575
Thanks @Expecho for the additional info. This helps a lot.

The good news is that we are adding distributed tracing and OpenTelemetry support for CloudEvent 1.0 in our Data plane SDKs which we are currently working on (No final ETA yet). We will follow the approach documented here for CloudEvent 1.0: https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md

We are still in

[2020-07-22 18:35] ahamad-MS commented on #13272
Copied the same answer from issue #13575

We are adding distributed tracing and OpenTelemetry support for CloudEvent 1.0 in our Data plane SDKs which we are currently working on (No final ETA yet). We will follow the approach documented here for CloudEvent 1.0: https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md

We are still in discussion on how to support that in th

[2020-07-22 18:35] ahamad-MS commented on #13272
@Expecho  Please feel free to close one of the two issues and keep the other one for tracking since both are about the same support/ask. thanks

[2020-07-22 19:19] AnthonyDewhirst commented on #13298
Hi, yes, this is what I get for doing multiple jobs at once and being very tired! So apologies :-)

![image](https://user-images.githubusercontent.com/642569/88215106-141cb900-cc53-11ea-861f-2d485693eb65.png)

Postman does indeed show that the two headers match as does calling the api directly from blazor, which the updated code shows an example of (see previous post) and did in my previous post I

[2020-07-22 19:58] #13484 closed

[2020-07-22 20:25] krispenner opened #13650 "Remove AspNetCore from Azure.Extensions.AspNetCore.Configuration.Secrets"
Microsoft.Extensions.* are used for all .NET platforms, not just ASP.NET Core.
There should be no dependencies on ASP.NET Core at all so why have the name in the package, assembly and namespace?
Before you launch this as a final product I recommend you fix the name.
There is nothing stopping anyone from using this package in a non ASP.NET Core project as it has nothing to do with ASP.NET Core. Ple

[2020-07-22 20:36] amnguye commented on #13298
It looks as if you're trying to create the token using the `PublicClientApplicationBuilder` from the `Microsoft.Identity.Client` library, and when passing that to the `TokenCredential` object which is in library Identity package in the `Azure.Identity` library. And maybe there's something that might be going there.

Since you're authenticating against AAD, I would suggest creating the Token using

[2020-07-22 20:40] krispenner commented on #13650
Interestingly I see the changelog shows it was originally named correctly as `Azure.Extensions.Configuration.Secrets` but on May 5th it was renamed to `Azure.Extensions.AspNetCore.Configuration.Secrets`. I'd be very interested in hearing your reasons for the rename and if there is any way you would re-consider. Again I think this will confuse developers who are not building ASP.NET Core applicatio

[2020-07-22 20:56] pakrym commented on #13650
Your argument is exactly what initially motivated the `Azure.Extensions.Configuration.Secrets` name. But then we realized that we are going to have Azure-specific extensions for things that are not in `Microsoft.Extensions` namespace, for example Azure.Functions bindings and we possibly would need to be consistent across languages too.

So the short answer is that `Azure.Extensions` part is the pa

[2020-07-22 21:14] krispenner commented on #13650
@pakrym Thanks for your response, a couple additional comments I'd like to say are:

1. The ASP.NET Core team is removing AspNetCore name from some packages/namespaces where they don't actually depend on ASP.NET Core or have become generic. They only used that namespace originally because it was the ASP.NET Core team that developed them. One example is [AspNetCore.Hosting to Extensions.Hosting](ht

[2020-07-22 21:14] #13650 closed

[2020-07-22 23:21] MiYanni commented on #13471
Missing descriptions for these properties:
![image](https://user-images.githubusercontent.com/17788297/88238761-65b74a80-cc37-11ea-8240-2fb707f92727.png)

[2020-07-22 23:41] meanjeekim opened #13654 "Write samples for champion scenarios"

[2020-07-22 23:53] MiYanni commented on #13471
Created WIP PR for this SDK. It is building, but no client surface is fleshed out. https://github.com/Azure/azure-sdk-for-net/pull/13657

[2020-07-23 00:00] meanjeekim opened #13658 "Refactor `DynamicTableEntity` on PR comments"
- In `TableEntity`, make `Timestamp` [nullable](https://github.com/Azure/azure-sdk-for-net/pull/13561#discussion_r458326477).
- In `DynamicTableEntity`, Refactor unlikely`IDictionary` members to be [explicit](https://github.com/Azure/azure-sdk-for-net/pull/13561#discussion_r458323491)
- In `DynamicTableEntity`, [check for null values](https://github.com/Azure/azure-sdk-for-net/pull/13561#discussio

[2020-07-23 01:31] JoshLove-msft opened #13661 "Default Id and Time in EventGridEvent/CloudEvent"
Based on discussions with the feature crew, we should default the Id using `Guid.NewGuid`, and the time to be `DateTimeOffset.UtcNow`. I would suggest omitting these from the ctor and the user can set the properties if they want to using the setters. Another options would be to make these parameters optional in the ctor.

[2020-07-23 03:11] HarveyLink commented on #13609
Hi @1RedOne , I think this test may do the demo's job:
https://github.com/Azure/azure-sdk-for-net/blob/eba3aca4a884fa072624e235811e3d835edba751/sdk/resources/Microsoft.Azure.Management.Resource/tests/ScenarioTests/DeploymentTests.ScenarioTests.cs#L548

[2020-07-23 04:02] weidongxu-microsoft commented on #13609
@1RedOne

Here is sample code to create resource group

[code]

Reference doc https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-subscription

[2020-07-23 07:34] AnthonyDewhirst commented on #13298
In the end, I am using Azure AD. Blazor is a client app and therefore no secrets can be safe, so going forward I won't be able to use clientSecret so that is off the table as a solution.
Have you tried running this code yourself?
The code I posted last night was as simple as it can be: 1 page, 1 nested class hard coded values that you provide:

[code]

On the first click, it worked, and then it st

[2020-07-23 07:41] Distil62 commented on #13639
You can easily reproduce my simulator by follow this Microsoft Learn
https://docs.microsoft.com/en-us/learn/modules/securely-provision-iot-devices-at-scale-with-device-provisioning-service/

[2020-07-23 09:13] XuGuang-Yao opened #13669 "[Form Recognizer] HardCoded region causes failure in other clouds"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

The [`StartCopyModelFailsWithWrongRegion` ](https://github.com/Azure/azure-sdk-for-net/blob/315ae970ad2523df4e241137095993d9620683a8/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormTrainingClient/FormTrainingClientLiveTests.cs#L26

[2020-07-23 09:29] tzhanl commented on #13669
@jongio @danieljurek for notification.

[2020-07-23 15:21] pakrym opened #13671 "[Flaky test] BearerTokenAuthenticationPolicy_SucceededFailedSucceeded"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=467483&view=ms.vss-test-web.build-test-results-tab&runId=12156290&resultId=100265&paneView=debug

[code]

[2020-07-23 15:45] annelo-msft commented on #13122
Some additional high-level issues/questions:
- [ ] Track 2 clients are immutable - should Speech clients be as well?
- [ ] Clients lack composability - e.g. TranslationRecognizer adds translation and synthesis functionality directly into a recognizer.  Is this the right pattern for Cognitive in general?
- [ ] Methods are async ... should there be sync methods as well?
- [ ] Factory patterns are us

[2020-07-23 15:56] jsquire opened #13672 "[Idempotent Producer Design] Initial Design"
# Summary

This is an issue for tracking incremental progress against a larger work item.  For the full context and criteria of the work being done, please refer to:
[Design Proposal for Idempotent Producer](https://github.com/Azure/azure-sdk-for-net/issues/13188) (#13188)

# Task Scope

Create the initial draft for the design, circulate to the team, and incorporate any feedback.

[2020-07-23 16:15] jsquire opened #13673 "[Idempotent Producer Design] Language Architect Review"
# Summary

This is an issue for tracking incremental progress against a larger work item.  For the full context and criteria of the work being done, please refer to:
[Design Proposal for Idempotent Producer](https://github.com/Azure/azure-sdk-for-net/issues/13188) (#13188)

# Task Scope

Review the design proposal with the .NET language architect, and incorporate any feedback.

[2020-07-23 16:17] jsquire opened #13674 "[Idempotent Producer Design] Service Team Review (Initial)"
# Summary

This is an issue for tracking incremental progress against a larger work item.  For the full context and criteria of the work being done, please refer to:
[Design Proposal for Idempotent Producer](https://github.com/Azure/azure-sdk-for-net/issues/13188) (#13188)

# Task Scope

Review the design proposal with the Event Hubs service team, and incorporate any feedback.

[2020-07-23 16:19] jsquire opened #13675 "[Idempotent Producer Design] Incorporate Service Team Scenario Revisions"
# Summary

This is an issue for tracking incremental progress against a larger work item.  For the full context and criteria of the work being done, please refer to:
[Design Proposal for Idempotent Producer](https://github.com/Azure/azure-sdk-for-net/issues/13188) (#13188)

# Task Scope

Review the usage scenarios documented by the Event Hubs service team, gather information for any open questions

[2020-07-23 16:22] jsquire opened #13676 "[Idempotent Producer Design] Service Team Review (Final)"
# Summary

This is an issue for tracking incremental progress against a larger work item.  For the full context and criteria of the work being done, please refer to:
[Design Proposal for Idempotent Producer](https://github.com/Azure/azure-sdk-for-net/issues/13188) (#13188)

# Task Scope

Review the design proposal with the Event Hubs service team, after extending for any additional scenarios, and

[2020-07-23 16:23] #13672 closed

[2020-07-23 16:23] #13673 closed

[2020-07-23 16:23] #13674 closed

[2020-07-23 16:57] maririos commented on #10298
@ChrisHMSFT could you help reroute to the appropriate team?

[2020-07-23 17:01] maririos commented on #10298
@a-noyass or @nourhanFarid do you have context here?

[2020-07-23 17:12] maririos commented on #13360
Other options are:
- IncludeDetails
- IncludeBreakdown
- IncludeOpinions

[2020-07-23 17:17] Frankwayne commented on #13307
please let me know if you need any more details.

[2020-07-23 17:18] jsquire commented on #13669
@tzhanl:  If you'd be so kind, please ensure the `needs-triage` label remains in place so that I can ensure that the right folks are looped in for awareness.

[2020-07-23 17:27] chidozieononiwu opened #13679 "[FEATURE REQ]Move Snippet Generator to Tools Repo"
Move [Snippet Generator](https://github.com/Azure/azure-sdk-for-net/tree/master/eng/SnippetGenerator) to [Azure/azure-sdk-tools](https://github.com/Azure/azure-sdk-tools) repo. Build and publish it as a tools package so it can be consumed via the azure-sdk-tools feed. Reason https://github.com/Azure/azure-sdk-for-net/pull/13420#discussion_r459140990

[2020-07-23 17:44] ChrisHMSFT commented on #10298
@kayousef  can you help take a look. thanks!

[2020-07-23 17:51] maririos commented on #11487
This doesn't affect our release so will remove the blocking-release tag and moving to backlog

[2020-07-23 17:53] maririos commented on #12563
Currently blocked as AAD in 2.0 is throwing 401.
Service is working on this

[2020-07-23 17:59] joshfree commented on #12417
@schaabs can you prioritize this for the August release?

[2020-07-23 18:05] amnguye commented on #13298
Even though providing the secret is "off the table as a solution" for your client application, have you tried doing it? I find it odd that you don't have to provide the secret in order to get a valid TokenCredential. Could you explain how Blazor generates the token? Does your application have a client certificate that it generates the token off of?

I've run your repo before and it doesn't work or

[2020-07-23 18:13] 1RedOne commented on #13609
That worked great, thank you.  If I may suggest, this would make a fine addition to the docs pages to show this sample.

[2020-07-23 18:13] #13609 closed

[2020-07-23 18:27] 1RedOne opened #13680 "[FEATURE REQ] IDeployment.GetById should work with subscription level deployments"
**Library or service name.**
Azure.FluentAPI.

What library or service is this request related to? ARM Deployments at Subscription Scope

**Is your feature request related to a problem? Please describe.**
I would like `IAzure.Deployments.GetById()` to work with a subscription level deployment, or for `IAzure.Deployments.Inner.GetBy*()` to return a richer output object.

### Background

Today, I am

[2020-07-23 18:56] chris-skuvault opened #13682 "[BUG] Azure.Messaging.ServiceBus Frequent SessionLockLost when SessionLockedUntil isn't timed out yet"
**Describe the bug**
Current setup:

Using a BackgroundService in .net core application host I'm currently spinning up a session processor per session id with a MaxConcurrentCalls of 1. I'm spinning up 1000 session processors and consuming 10 messages per session of 100 bytes in size. Pretty much every time I test this scenario I'm getting several hundred SessionLockLost exceptions.

**Expected be

[2020-07-23 19:01] mymatrixpixel commented on #13183
@lisaguthrie Search by Value should be in Azure portal. Browser search won't work. If we have huge appsettings.

Performance Issue in Azure portal. If we search for key and configuration page is loading too slow. Can we have grid paging based on lable filter to see.

Also, azure key vault as reference values are not showing.

Thanks.

[2020-07-23 19:19] Boaz101 commented on #3933
[https://developercommunity.visualstudio.com/content/problem/1061428/managed-service-identity-fails-in-visual-studio-20.html](https://developercommunity.visualstudio.com/content/problem/1061428/managed-service-identity-fails-in-visual-studio-20.html)

[2020-07-23 19:34] joshfree opened #13684 "Azure Identity Iron Semester for .NET"
The Azure Identity library provides Azure Active Directory token authentication support across the Azure SDK. It provides a set of TokenCredential implementations which can be used to construct Azure SDK clients which support AAD token authentication.

This issue tracks the new features, reliability improvements, and the release of minor updates to Azure.Identity for .NET during September - Decemb

[2020-07-23 19:35] joshfree commented on #11447
Moving this to the Iron semester

[2020-07-23 19:42] annelo-msft commented on #13669
@kinelski @maririos @AlexGhiondea @mayurid  FYI

[2020-07-23 19:53] chris-skuvault opened #13686 "[BUG] Azure.Messaging.ServiceBus Session processor exceptions while receiving multiple 1kb messages from sessions"
**Describe the bug**
Current setup:

Using a BackgroundService in .net core application host I'm currently spinning up a session processor per session id with a MaxConcurrentCalls of 1. I'm spinning up 1000 session processors and consuming 10 messages per session of 10240 bytes in size.

Pretty much every time I test this scenario I'm getting several hundred "The requested session '<sessionId>' ca

[2020-07-23 19:53] joshfree opened #13687 "Move to latest App Services MSI API version"
- Move Azure.Identity to the latest App Services MSI API version.
- Update /sdk/e2e Azure Functions date parsing tests

[2020-07-23 20:00] joshfree opened #13688 "Add ADFS / Azure Stack Support"
- On-prem active directory instance support
- Requested by CLI / PSH for .NET and Python

[2020-07-23 20:01] #13620 closed

[2020-07-23 20:14] maririos commented on #11990
From the service team, the ErrorCode might change to just text for a later bump release (like 3.x) but not for 2.x versions.
One option for us here is to rename `ErrorCode` to something like `ErrorCodeId` or similar and when the service makes the change, then use the name `ErrorCode` for that enum

[2020-07-23 20:19] joshfree opened #13689 "Add "Use Console" Option to DeviceCodeCredential"
Investigate adding a "Use Console" option for Device Code Credential

[2020-07-23 20:20] #11968 closed

[2020-07-23 20:23] christothes commented on #12426
dupe of #13552

[2020-07-23 20:23] #12426 closed

[2020-07-23 20:24] #13485 closed

[2020-07-23 20:26] daveoshinsky commented on #13505
It is part of a larger system, to which I cannot provide source code that would reproduce this problem.  I completely excised all of the calls to the non-fluent API's, and the problem is gone.

[2020-07-23 20:32] daveoshinsky commented on #13505
This looks to me like it may be the same issue as this:
https://github.com/Azure/azure-sdk-for-net/issues/3607

It appears to me that the non-fluent Azure Management SDK's are not compatible when used with newer SDK's like Azure Cosmos DB v3 SDK (https://github.com/Azure/azure-cosmos-dotnet-v3).  The problems only have begun like this issue describes when we started using Cosmos DB v3 SDK in the s

[2020-07-23 20:43] pakrym commented on #13221
Another related failure:

[code]

[2020-07-23 20:50] Manishd79 opened #13692 "Incorrect file versioning (2.3.18.0) for Microsoft.Rest.ClientRuntime (2.3.19) breaks patching of this binary in scenarios relying on MSP patching"
**Describe the bug**
Azure File Sync (AFS) team have an on-premise agent which does have Microsoft.Rest.ClientRuntime.dll and agent is serviced via msp/Microsoft Update which require **REINSTALLMODE=omus** option for patching/updating the old binaries. The **Microsoft.Rest.ClientRuntime (v2.3.19)** package has the **Microsoft.Rest.ClientRuntime.dll (v2.3.18.0)** which seems to be mismatching for t

[2020-07-23 21:08] AlexGhiondea commented on #13692
@pakrym @ShivangiReja I think we should look at this and see if we can publish a new version with the updated file versions.

[2020-07-23 21:16] AlexGhiondea commented on #3463
Given that it has been a long time I am going to close this issue for now.

If you are still running into issues please file a new issue and we will take a look.

[2020-07-23 21:16] #3463 closed

[2020-07-23 21:18] JoshLove-msft commented on #13686
Thanks for reporting the issue @chris-skuvault
Any chance you can include a code snippet?

[2020-07-23 21:32] pakrym commented on #10793
Don't think the use case is common enough to motivate adding this feature.

[2020-07-23 21:32] #10793 closed

[2020-07-23 21:33] AlexGhiondea commented on #11057
Given that we have an acceptable workaround I'll go ahead and close this. Please reactivate if this didn't address your issue.

[2020-07-23 21:35] AlexGhiondea commented on #10904
@AlexanderSher could you take a look here?

[2020-07-23 21:42] chris-skuvault commented on #13686
Hey @JoshLove-msft,

I'll exclude my sender code cause it doesn't matter how they get sent to service bus the issue is when receiving. Let me know if you'd like the sender code as well and I'll share though.

Sure I'll provide a sample the following is the main processing class

[code]

Then when I setup my .net core host it looks something like

[code]

[2020-07-23 21:42] #10998 closed

[2020-07-23 21:45] #11900 closed

[2020-07-23 21:47] TechWatching commented on #11057
Hum there is no workaround @AlexGhiondea . @pakrym sample was a suggestion of overload to implement that would solve the issue.

[2020-07-23 21:49] #12415 closed

[2020-07-23 21:51] timMSFT commented on #12754
@maririos - We have updated the portal with changes as requested ("Allow List"). Ongoing investigation and implementation to update our SDKs and associated documentation.

[2020-07-23 21:51] timMSFT commented on #12755
@maririos - We have updated the portal with changes as requested ("Allow List"). Ongoing investigation and implementation to update our SDKs and associated documentation.

[2020-07-23 21:51] timMSFT commented on #12757
@maririos - We have updated the portal with changes as requested ("Allow List"). Ongoing investigation and implementation to update our SDKs and associated documentation.

[2020-07-23 21:52] #12490 closed

[2020-07-23 21:55] ppatino commented on #10684
@ahamad-MS any updates here? Basic usage from [this sample](https://github.com/Azure-Samples/event-grid-dotnet-publish-consume-events/blob/master/EventGridPublisher/DomainPublisher/Program.cs) is failing and I'm not finding a workaround.

[2020-07-23 22:02] joshfree opened #13693 "Azure.Identity Support for Managed Identity for Azure Arc Applications"
Managed identities for Azure resources provide Azure services with an automatically managed identity in Azure Active Directory. Using a managed identity, you can authenticate to any service that supports Azure AD authentication without having credentials in your code.

https://azure.microsoft.com/en-us/services/azure-arc/

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-

[2020-07-23 22:17] AlexanderSher commented on #13221
Another failure
[code]

[2020-07-23 22:20] christothes commented on #13559
This is dependent on https://github.com/Azure/autorest.modelerfour/issues/324

[2020-07-23 23:00] #13563 closed

[2020-07-23 23:09] maririos commented on #12754
Thanks for the update!

[2020-07-23 23:09] maririos commented on #12755
Thanks for the update!

[2020-07-23 23:09] maririos commented on #12757
Thanks for the update!

[2020-07-23 23:12] joshfree opened #13695 "Azure.Identity Support for Managed Identity for Service Fabric Applications"
A common challenge when building cloud applications is how to securely manage the credentials in your code for authenticating to various services without saving them locally on a developer workstation or in source control. Managed identities for Azure solve this problem for all your resources in Azure Active Directory (Azure AD) by providing them with automatically managed identities within Azure

[2020-07-23 23:16] JoshLove-msft commented on #13682
Hi @chris-skuvault, thanks for bringing this to our attention. I think what is most likely happening here is that if the session receiver link connection drops intermittently, when using sessions we will not attempt to re-establish the link to that session as we can't be sure that the session hasn't already been locked by another receiver. So even though the SessionLockedUntil date is in the futur

[2020-07-23 23:17] KrzysztofCwalina commented on #10759
I agree we should move AuthenticationFailedException to Azure.Core.

[2020-07-23 23:31] JoshLove-msft commented on #13682
If you want to confirm that the connection is indeed being dropped, you can add an event source listener to your app:
[code]
The dropped connection exceptions wouldn't get propagated to your error handler as they would be retried automatically, and then translated to SessionLockedLost errors (which do get propagated).

[2020-07-23 23:38] maririos commented on #12813
ping @ctstone

[2020-07-23 23:38] #13187 closed

[2020-07-23 23:39] #13320 closed

[2020-07-23 23:42] heaths opened #13698 "JsonObjectSerialize should ignore any BOM when deserializing"
Follow up to the above comment https://github.com/Azure/azure-sdk-for-net/pull/13527#discussion_r456734973

The following code snippet won't work when the stream starts with a UTF-8 BOM.

https://github.com/Azure/azure-sdk-for-net/blob/61241787da85546516933d4321f1c9a963e63658/sdk/core/Azure.Core.Experimental/src/Serialization/JsonObjectSerializer.cs#L52-L54

The synchronous, `JsonSerializer.Deseri

[2020-07-23 23:43] chris-skuvault commented on #13682
Hey @JoshLove-msft,

Thanks for the heads up on connection dropping as a potential for what's happening. I am catching SessionLockLost inside my message handler currently and logging. It will propagate to the error handler though if I don't catch it in the message handler.

Thanks for the information about the event source logging I'll give it a try and confirm dropped connections.

[2020-07-23 23:47] maririos opened #13699 "Figure out package version"
Currently we are targeting 1.0.0, should it be 2.0.0 ?

[2020-07-23 23:47] maririos commented on #13699
FYI @AlexGhiondea

[2020-07-23 23:48] pakrym commented on #13692
I've checked the latest version and it doesn't have this problem.

![image](https://user-images.githubusercontent.com/1697911/88349118-096e2c80-cd04-11ea-8768-d7ab3ef5cbdb.png)

@Manishd79 what is your suggestion as to what we can do here?

[2020-07-23 23:55] HarshaNalluru opened #13700 "[Service Bus] ATOM API: Add `ScheduledMessageCount` to `TopicRuntimeProperties`"
Scheduled messages remain in the topic until their scheduled time, so the `ScheduledMessageCount` is not relevant for subscriptions.

TODO:
- [x] Remove `ScheduledMessageCount` from the `SubscriptionRuntimeProperties`.
- [x] Add `ScheduledMessageCount` to the `TopicRuntimeProperties`

[2020-07-23 23:55] maririos commented on #13362
decided on `AspectSentiment` to keep consistency with other analyze sentiment types like `DocumentSentiment` or `SentenceSentiment`

[2020-07-23 23:55] #13362 closed

[2020-07-23 23:59] maririos opened #13701 "Version number for TA package"

[2020-07-24 00:00] maririos commented on #13701
FYI @AlexGhiondea

[2020-07-24 00:01] maririos opened #13702 "Rename Type to ValueType in FieldValue"
After arch board meeting feedback

[2020-07-24 00:16] weshaggard commented on #13477
Can I ask what prompted this issue? Are we hitting issues with our normal HttpClient code paths?

[2020-07-24 00:52] JoshLove-msft commented on #13686
Quota issue seems to be same issue as mentioned in https://github.com/Azure/azure-service-bus-dotnet/issues/237
We need to clean up the session when the link fails to open.
As far as why the links are failing to open in the first place when you only have one processor per session, is it possible that another process is running that is holding onto locks for the sessions? Or are these session Ids b

[2020-07-24 00:56] Manishd79 commented on #13692
@pakrym that will help. Thanks much for the update.

[2020-07-24 00:56] #13692 closed

[2020-07-24 00:56] JoshLove-msft commented on #13686
/cc @jsquire as the missing session.SafeClose may also be a problem in AmqpConsumer.CreateConsumerLinkAsync for Event Hubs. We abort the session if we fail to create the session in AmqpConnectionScope.CreateReceivingLinkAsync, but we don't appear to close if the open fails.

[2020-07-24 01:11] chris-skuvault commented on #13686
@JoshLove-msft I'm using the same sessionIds (1 to 1000) each run for my test but I'm receiving all the messages before each time I run my test so there shouldn't be any open sessions between runs. The process is completely shutting down before each run. Its also not consistent in the sessions it says are locked between runs nor does this happen with the same test except instead of 1kb I send 500

[2020-07-24 01:29] larini commented on #13638
I will give it a try.

[2020-07-24 01:29] #13638 closed

[2020-07-24 02:06] AlexGhiondea commented on #11057
Heh -- that's right! I'll reopen this.

[2020-07-24 02:17] weidongxu-microsoft commented on #13680
`zure.Deployments.Inner.BeginCreateOrUpdateAtSubscriptionScopeAsync` and `ResourceManagementClient.BeginCreateOrUpdateAtSubscriptionScopeAsync` are exactly same method (only come from different chain of references). And hence the API referred from `Inner` is actually not Fluent API.

And hence you would have to stick with the non-Fluent API for deployment operations as well.
[code]

[2020-07-24 02:48] seanmcc-msft opened #13705 "[Storage] Re-enabled 3 identity sas tests in stg74 base branch"

[2020-07-24 03:17] pakrym commented on #13477
We were planning to add support for fully sync pipeline for a long time. Sync HttpClient is coming in 5.0 preview 8 and for .NET Framework it can be achieved using HttpWebRequest, in addition it avoids the overhead of wrapping HttpWebRequest into HttpClient.

[2020-07-24 05:32] fezuo commented on #13593
For Cognitive Speech recognition request, tested with those AzureMaps query samples + clear speech, and recognition accuracy looks good. Could you let us know if there are some bug samples related to "results are frequently wrong Using Cognitive Speech recognition to recognize italian address" ?

[2020-07-24 05:41] #13671 closed

[2020-07-24 07:05] kinelski commented on #12814
The Cognitive Services User role is now required. Strangely enough, it was not required before, but this recently changed (related: https://github.com/Azure/azure-sdk-for-net/issues/13126). We're investigating if this was a service-side fix, but we're closing this issue since this is the desired behavior and no updates to the documentation are required.

This is the error message we get when tryin

[2020-07-24 07:05] #12814 closed

[2020-07-24 07:08] tg-msft commented on #13625
Assigning to @allenjzhang to consider a base class/interface for management plane clients.  Data plane auth is too varied to support a meaningful base class at this point.  I think the best long term answer will be serializing URIs and using `DefaultAzureCredential` to rehydrate clients when AAD is fully supported everywhere.

[2020-07-24 08:27] AnthonyDewhirst commented on #13298
Hi Amanda,
Thanks for getting back to me .I feel as though because we can only communicate through chat some of the detail between us is getting missed and I would like to avoid that. I will attempt to lay out what I think is the issue here and apologies if I am going overboard and reiterating some of this again. :-)
I **don't** believe the issue is with the BlobClient
I **don't** believe the issu

[2020-07-24 09:32] gabser10 commented on #13593
All the query in table are wrong.
query | Result with maximum score  (FreeFormAddress property in address object obrained by maps)
-- | --
Via Aurelia chilometro/i /km 13 Roma | "Via Roma, 13, 17053 Laigueglia"
Via Antonio Marani 24 La   Spezia | "Via   Antonio Marani, 19123 La Spezia"(missing civic)
viale xxi aprile roma | "Via 25 Aprile, 22020 Pigra"
Viale 21 Aprile Roma | "Viale 21 Aprile, 21,

[2020-07-24 10:03] #13575 closed

[2020-07-24 10:49] fezuo commented on #13593
As we tested Cognitive Speech Recognition request on above samples, with clear it-IT speech input got correct speech to text recognition result. To investigate your issue, could you share one or two speech samples so we can reproduce this issue?

[2020-07-24 11:45] gabser10 commented on #13593
In the above examples are represented azure maps errors. In particular with the queries we obtain the right column result but is always wrong. I’ll attach Some audio with cognitive speech errors also.

[2020-07-24 11:55] fezuo commented on #13593
Thanks for clarification, please also let us know which one of AzureMaps Search error or Cognitive Speech Recognition errors is more critical to your usage.

[2020-07-24 12:38] gabser10 commented on #13593
Our customers need to query for pratically all addresses in Italy in predctive mode (wiht typehad parameter setted to true). All the examples present in table are needed.
The examples have in common Caesar's Numbers or Proper Name of people. The example "Via Antonio Marani 24 La Spezia" is particular also because we never obtain civic number in result.
With Google Maps we obtain radically better r

[2020-07-24 13:21] jsquire commented on #13686
@JoshLove-msft:  After looking things over, I don't believe that we have a gap.

In the case that the link fails to open, we explicitly abort the session in the [AmqpConnectionScope](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/Amqp/AmqpConnectionScope.cs#L564) and the AMQP library invokes `SafeClose` in its `OnLinkOpenFailed`(https://github.com

[2020-07-24 13:40] kr-santosh opened #13713 "Expose an API interface to retrieve Tenant ID given a KeyVault Key URI"
**Library or service name.**

Azure.Security.KeyVault

**Is your feature request related to a problem? Please describe.**

We had a request regarding this particular use case and we were wondering if an API can be exposed by Azure Key Vault SDK team wherein provided a Key Vault Key URI  we can retrieve the Tenant ID.
This would be extremely useful  in using Key Vault SDK in a multi-tenant model, n

[2020-07-24 13:58] jsquire commented on #13686
I just walked through the Service Bus AMQP layer and I don't see any structural changes from Event Hubs nor obvious differences with the approach used by Service Bus track one.

Given the above, I'm not sure that I agree with your assessment that not closing sessions is the root cause.   I definitely think there's value in setting up a local reproduction to test against.

[2020-07-24 14:19] rjregenold opened #13714 "[BUG] ListEdgeNodes on CdnProfiles throws an Exception"
**Describe the bug**

I am trying to use the SDK to get the list of IP addresses for CDN edge nodes. I created a service principal using the following Azure CLI command:

[code]

My code looks like this:

[code]

When I call this method, I get an `ErrorResponseException` with a message of `Operation returned an invalid status code 'Forbidden'`. I can call all the other methods on the `CdnProfiles`

[2020-07-24 14:44] jsquire commented on #13713
Tagging and routing to the team member best positioned to assist.

[2020-07-24 14:45] jsquire commented on #13714
Tagging and routing to the team best positioned to assist.

[2020-07-24 15:09] mfprz commented on #4645
@nonik0 The creation of an AzureServicesAuthConnectionString environment variable solved the problem for me, thank you

[2020-07-24 15:43] StefH opened #13716 "Azure.Storage.Queues/README.md has incorrect example for accessing Queues using AzureIdentity"
This example code is incorrect:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Queues/README.md#authenticating-with-azureidentity
[code]

It should be like:
[code]

[2020-07-24 16:27] jsquire commented on #13716
Tagging and routing to the team best positioned to assist.

[2020-07-24 16:57] neistow commented on #13524
I'm having the same issue

[2020-07-24 17:36] #13702 closed

[2020-07-24 17:37] #10390 closed

[2020-07-24 17:37] #12128 closed

[2020-07-24 18:24] heaths commented on #13713
@schaabs is this something that should be exposed more generally, perhaps as part of identity?

For Key Vault, a workaround exists to add a policy that processes the 401 challenge response to parse out the `authorization` value of the challenge response. There is no API for Key Vault that would otherwise get the tenant for a vault URI.

[2020-07-24 19:13] JoshLove-msft opened #13717 "Re-enable session partition peek tests after root cause is determined"
These tests started failing last night and appear to be either a service issue or an issue with AMQP library. I tested against earlier versions of the AMQP library and it still occurred, so service issue seems more likely. I've reached out to the service team to see if there are any recent deployments that could have caused this.
We should re-enable the tests once the root issue is fixed.
https://

[2020-07-24 19:34] pakrym commented on #10107
Closing, please reopen if you have more questions.

[2020-07-24 19:34] #10107 closed

[2020-07-24 19:52] pakrym commented on #13221
@kasobol-msft can we fix or disable this tests please, it's very flaky

[2020-07-24 20:04] 1RedOne commented on #13680
Thanks Wei, that was very quick!

[2020-07-24 20:04] #13680 closed

[2020-07-24 20:15] kasobol-msft commented on #13221
@jaschrep-msft

[2020-07-24 20:20] #13654 closed

[2020-07-24 21:01] weshaggard commented on #11008
Fixed with https://github.com/Azure/azure-sdk-for-net/pull/13656.

[2020-07-24 21:01] #11008 closed

[2020-07-24 22:14] kinelski opened #13723 "[Test] Add new test scenario for pageables"
Currently we do have a test for `GetCustomModels`, which returns a pageable (test is `FormTrainingClientLiveTests.TrainingOps`). We, however, are not properly checking all pageable scenarios (single-page, multi-page). We must:

- [ ] Figure out what's the current scenario being tested.
- [ ] Add deterministic test/tests to make sure we are not missing pageable scenarios.

[2020-07-24 22:20] #13477 closed

[2020-07-24 22:34] chpence commented on #8169
Here's a solution that may help. Add the `global::` qualifier to the namespaces which have the issue:

[code]

**Explanation**: From the error message, we can tell the `Azure.*` namespaces are being mistakenly resolved as `Microsoft.Azure.*` namespaces. This can happen if your own namespace looks like `Microsoft.*` and you have references to both Azure namespaces in your project.

So when you writ

[2020-07-24 22:58] jviau commented on #13625
Base class for just management plan will be excellent for our use case.

[2020-07-24 23:24] christothes opened #13727 "Implement TableUriBuilder"
...To interact with `TableAccountSasQueryParameters`.

[2020-07-24 23:27] christothes opened #13728 "Collapse all IDictionary<string, object> typed client methods into the generic strongly typed implementations"
Once `DynamicTableEntity` is fully tested.

[2020-07-24 23:29] christothes opened #13729 "Implement public TableClient ctor that takes Uri + Credentials"
Allows developers to start directly with a TableClient instance if we've got a URI to one.

[2020-07-24 23:55] #7442 closed

[2020-07-24 23:55] #13156 closed

[2020-07-24 23:59] garath opened #13731 "[BUG] Microsoft.Azure.Management.Fluent should allow retry after network failures"
**Describe the bug**

We use Microsoft.Azure.Management.Fluent to manage Azure resource deployments for our service. During a recent deployment, there was an apparent random, transient network issue while operations were underway. All operations happen
within Azure.

**Expected behavior**

SDK should provide for recovery and retry of failed network connections.

**Actual behavior (include Exceptio

[2020-07-25 13:48] jsquire commented on #13731
Tagging and routing to the team best able to assist.

[2020-07-25 15:26] danmgs commented on #11619
Hi

Same here
I let the console (suscribing to messages) running during some days and when i come back see same (transient ?) exception "ServiceBusCommunicationException" for me.

I use:
- Nuget Package Microsoft.Azure.ServiceBus 4.1.3
- Listen policy

Below:
2020-07-24T17:43:45.9505394+02:00 => OK receiving the message on the 24th July
2020-07-25T01:34:38.6155008+02:00 => ERROR on the 25 July.

L

[2020-07-26 02:22] kayousef commented on #10298
@fkuehnSAG the bug should be fixed in the latest SDK version. Can you update and confirm?

[2020-07-26 04:40] JoshLove-msft commented on #13686
@chris-skuvault - I've been able to reproduce the errors locally, and I have some thoughts on what may be happening. To give a bit of background, AMQP link creation is a somewhat expensive process. In the processor, we [limit](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs#L198) the amount of session links that

[2020-07-27 02:26] fezuo commented on #13593
I can help on Cognitive Service Speech to Text part. To improve entity name recognition, one suggestion is to use Custom Speech, it allows to upload batch of entity names such as street name, and improve recognition accuracy towards those names. Another ways is to improve the base model with specific common entity names, after the gap is identified. In addition, speech to text is enhancing it-IT e

[2020-07-27 07:32] gabser10 commented on #13593
Thank you @fezuo, we know Custom Speech and could be usefull but very wasteful if we needs to train the model with all italian addresses. December could be very late for un update because the customer needs. is there no way of joining  Cognitive Speech and Azure Maps models?

Could  be added The missing addresses in Azure Maps? And could this service enhance predictions in results?

[2020-07-27 08:57] isra-fel commented on #13731
@weidongxu-microsoft for help

[2020-07-27 09:02] isra-fel commented on #13714
@weidongxu-microsoft for help, thanks

[2020-07-27 09:23] weidongxu-microsoft commented on #13731
@xccc-msft Do we have ready-to-use retry code snippet?

[2020-07-27 10:29] xccc-msft commented on #13731
@garath You might want to set via [RetryPolicy](https://docs.microsoft.com/en-us/dotnet/api/microsoft.rest.transientfaulthandling.retrypolicy.-ctor?view=azure-dotnet#Microsoft_Rest_TransientFaultHandling_RetryPolicy__ctor_Microsoft_Rest_TransientFaultHandling_ITransientErrorDetectionStrategy_System_Int32_System_TimeSpan_System_TimeSpan_System_TimeSpan_).
[code]

[2020-07-27 11:36] vanillajonathan commented on #11798
@axisc Any follow up?

[2020-07-27 11:43] fkuehnSAG commented on #10298
@kayousef I tested again and it is working as expected 👍
Thank you!

[2020-07-27 12:08] kayousef commented on #10298
Thanks @fkuehnSAG for reporting back. Glad to help :)

[2020-07-27 12:08] #10298 closed

[2020-07-27 12:53] oscarjaergren commented on #9294
Just posting in this thread to get update about when this is fixed, got the same issue.

[2020-07-27 14:11] jongio commented on #12814
Okay, Thanks for checking @kinelski

[2020-07-27 15:19] fezuo commented on #13593
@gabser10 Thanks for the feedbacks. Our team can help to improve speech to text part. We need to verify and reproduce your issues in details. We only see special street name like "Via XX Settembre Roma" got issues in display format, that convert "XX" into 20 which seems wrong. We can correct this display format issue in short term. For other cases, please provide us expected speech recognition dis

[2020-07-27 15:39] gabser10 commented on #13593
Thank you @fezuo I'll retrieve soon the audio needed to evidence Speech Problems, but The examples in table are relative to AzureMaps searching/ranking problems.
query | Result with maximum score  (FreeFormAddress property in address object obrained by maps)
-- | --
Via Aurelia chilometro/i /km 13 Roma | "Via Roma, 13, 17053 Laigueglia" | WRONG CITY AND CIVIC
Via Antonio Marani 24 La   Spezia | "V

[2020-07-27 15:50] karthikperneti opened #13737 "[BUG] Exceptions in Event Processing and resulted in CPU 100%"
**Describe the bug**
We have a web job which uses "Microsoft.Azure.EventHubs.Processor". It started throwing below exceptions all of a sudden after continuously running without any issues more than 1 month. which resulted in CPU blockage. see the graph. We had to restart the web job to bring down the CPU.
System.Net.Sockets.SocketException : An operation on a socket could not be performed because

[2020-07-27 16:23] maririos opened #13739 "Implement ExtractFailureContent for FR errors"
This way the user can get useful information in `ErrorCode` and `Message` properties and not all the information in the `Content` property like we currently have.

See https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs#L42

[2020-07-27 16:24] chris-skuvault commented on #13682
@JoshLove-msft I tested it out with using the Event Source listener and found that it looks like the session locks were being created due to hitting a resource issue with service bus itself as shown in stack below

[code]
After this errors throws I get a bunch of the following session lock errors:

[code]

Then I implemented the delays on the processors as mentioned in [#13686](https://github.com/

[2020-07-27 16:25] maririos opened #13740 "Extend ExtractFailureContent"
Extend `ExtractFailureContent` so FR provides useful information for the user when there is a failure.

See: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ClientDiagnostics.cs#L42

[2020-07-27 16:25] maririos commented on #13740
dup of #13740 :|

[2020-07-27 16:25] #13740 closed

[2020-07-27 16:28] ahamad-MS commented on #10684
Hello @ppatino  ..  The only workaround here is using pure http APIs to send your events while getting cloud event support in SDK. The earlier ETA for .NET and JAVA SDKs is mid-end of Sep (provided no blocker issues). Python and Typescript support will hopefully be available earlier on mid-end of Aug (again, provided no blocker issues).

[2020-07-27 16:36] pakrym opened #13741 "CredRead has failed but error is unknown with Connect-AzAccount"
Repro:

[code]

Stack trace:

[code]

[2020-07-27 16:57] #13060 closed

[2020-07-27 17:01] joshfree commented on #13481
Moving to August milestone

[2020-07-27 17:03] joshfree commented on #12939
Moving to August milestone

[2020-07-27 17:03] joshfree commented on #12904
Moving to August milestone

[2020-07-27 17:04] joshfree commented on #9307
Closing epic

[2020-07-27 17:04] #9307 closed

[2020-07-27 17:04] joshfree commented on #9308
Closing epic

[2020-07-27 17:04] #9308 closed

[2020-07-27 17:04] joshfree commented on #9309
Closing epic

[2020-07-27 17:04] #9309 closed

[2020-07-27 17:47] JoshLove-msft commented on #13682
Sounds good, I will close out this issue. Feel free to reopen if you have additional questions!

[2020-07-27 17:47] #13682 closed

[2020-07-27 17:53] schaabs opened #13743 "Remove Application Authentication API from 1.2.0 GA release"
We have postponed the GA release of the Application Authentication feature. This means need to remove the public API surface of the feature in the August GA release. This removal will only be temporary as once we ship the 1.2.0 GA release, we will add the APIs back in our 1.3.0-preview releases.

The APIs specific to this feature are:
- EnablePersistentCache
- AllowUnencryptedCache
- DisableAutoma

[2020-07-27 18:01] heaths opened #13744 "Test failure: another null object not marked as x-nullable"
See https://dev.azure.com/azure-sdk/internal/_build/results?buildId=473089&view=ms.vss-test-web.build-test-results-tab&runId=12221914&resultId=100600&paneView=debug. Seems another property isn't marked `x-nullable: true`.

[2020-07-27 18:03] TarekAljabban opened #13745 "[BUG] EventProcessorClient - Can't create session when the connection is closing."
I'm using `EventProcessorClient` in my service to monitor multiple EventHubs. I register error handler with my client using `EventProcessorClient.ProcessErrorAsync += EventProcessor.ProcessErrorAsync;`
In ProcessErrorAsync method, I print the content of `ProcessErrorEventArgs errorEventArgs`.

Occasionally, `ProcessErrorAsync` is invoked for a specific EventHub (different one every time). With exc

[2020-07-27 18:27] #13658 closed

[2020-07-27 18:28] #11960 closed

[2020-07-27 19:06] StefH opened #13747 "Use Azure.Identity to connect a client via a service principal to Azure Queue"
The link below describes how to access Azure Blob / Queue using ClientSecretCredential from the service principal.
https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity#authenticating-a-service-principal-with-a-client-secret

However I want to use a different scenario:
1. Service Principal has Storage Queue Data Contributor role
`az ad sp create-for-rbac -n "MyApp" --r

[2020-07-27 20:37] chris-skuvault commented on #13686
@JoshLove-msft

Thanks for the tip about the delay for the Processors. That has resolved the current issues I was observing. I now understand the reasoning for throttling in the library with the `MaxConcurrentAcceptSessionsSemaphore` property as that's why the issue wasn't observed before I split into a processor per session.

Thanks for all your help working through the issues I've been seeing!

[2020-07-27 20:54] thoemmi opened #13751 "I cannot get DeviceCode credentials cached"
I'm implementing an internal tool for our administrative tasks on our Azure resources. Because it's a console app I want to use `DeviceCodeCredential` for authentication. However, even though I do set `EnablePersistentCache` to `true`, the tool asks for authentication on every start-up. I can see that the file _%LOCALAPPDATA$\.IdentityService\msal.cache_ is created nevertheless. Do I miss somethin

[2020-07-27 21:12] jsquire commented on #13737
Tagging and routing to the team best able to assist.

[2020-07-27 21:17] christothes opened #13753 "CodeGeneration.targets flags github PR links as GithubUrlsWithoutHash"
[example](https://dev.azure.com/azure-sdk/public/_build/results?buildId=473767&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=e75da802-0139-5977-bd1e-91175bec9059&l=38)

`D:\a\1\s\eng\CodeGeneration.targets(38,5): error : Following GitHub URLs do not contain commit hash: https://github.com/Azure/azure-rest-api-specs/pull/10262 please use permalinks for code generation inputs (see https://help.

[2020-07-27 21:17] jsquire commented on #13745
Hi @TarekAljabban.  Thanks for reaching out, and we regret that you're experiencing difficulties.  This is a known issue that was fixed for v5.1.0 of the library.   The newer version of the library is backwards compatible without breaking changes; if you're able to upgrade, I'd recommend doing so as we refined the `EventProcessorClient` quite a bit in that release.

The underlying issue that you'r

[2020-07-27 21:19] jsquire commented on #13747
Tagging and routing to the team best able to assist.

[2020-07-27 21:20] jsquire commented on #13751
Tagging and routing to the team member best able to assist.

[2020-07-27 22:07] #12952 closed

[2020-07-27 22:24] kinelski opened #13756 "[Design] Apply discussed design changes for consistency with other languages"
## Summary

Inconsistencies with other languages were found, and renames must be done to address them. Some items still need discussion.

## Updates

- [x] In `FormRecognizerClient.RecognizeCustomForms`, parameters `formFileUri` and `formFileStream` should be renamed to `formUri` and `form`, respectively.
- [x] In `TrainingDocumentInfo`, rename `DocumentName` to `Name`.
- [x] In `TrainingFileFilte

[2020-07-27 23:42] DorothySun216 commented on #9416
@mr-davidc, @mladedav any updates on the logs? If not, we will close this incident.

[2020-07-28 00:15] JoshLove-msft opened #13760 "Consider reconnecting session link on transient errors"
See https://github.com/Azure/azure-sdk-for-net/pull/13735

[2020-07-28 00:27] JoshLove-msft commented on #13459
@chris-skuvault if the message fails to process, how do you know that it will be successful if you receive it again? Would you keep trying to receive it again and then just keep closing if it fails?

[2020-07-28 00:39] chris-skuvault commented on #13459
Yep it would keep retrying until it succeeds in a certain use case. Basically it would be waiting to put the message into a inmemory queue based on a priority. It will try to enqueue to in-memory then wait for a period to see if it can based on priority and room available in the in-memory queue then will return something to indicate to try again which is when I would close the session and reopen a

[2020-07-28 00:40] JoshLove-msft commented on #13459
So would just continually waiting in the process message handler work? If you only have 1 concurrent call per session, you can effectively block the other session messages as long as you have the session lock.