[2014-02-11 16:41] rogerskk opened #458 "No HostNameSslStates returned"
I am using the following code to retrieve my Azure WebSite information:
  WebSiteManagementClient client = new WebSiteManagementClient(cred);
                var website = client.WebSites.Get(WebSpaceName, SiteName, new WebSiteGetParameters());
                var hostnamesssl = website.WebSite.HostNameSslStates;

The hostnamesssl variable returns 0 records, even though I have several Ssl bindings

[2014-02-20 14:56] niklaslundberg opened #472 "WebSiteUpdateParameters.WebSiteHostNameSslState is missing name property"
I cannot set SSL host name bindings in Azure Websites with the .NET SDK since there is no &quot;name&quot; property in class WebSiteUpdateParameters.WebSiteHostNameSslState.

A workaround is to manually make a PUT JSON request.<p><a href="https://github.com/Azure/azure-sdk-for-net/issues/472">https://github.com/Azure/azure-sdk-for-net/issues/472</a></p>

[2014-02-21 21:25] ahmetalpbalkan opened #480 "Documentation on retry policies"

[2014-02-21 22:03] ahmetalpbalkan opened #481 "[Suggestion] Document Service Configuration parameter is not base64"
To specify .cscfg contents, [REST API says](http://msdn.microsoft.com/en-us/library/windowsazure/ee460813.aspx):

&gt; **Configuration:** Required. Specifies the base-64 encoded service configuration file for the deployment.

However the library does conversion from string to base64 under the hood but this is not clear. This took me a while to figure it out. It is a good feature indeed but an expl

[2014-02-24 19:09] ahmetalpbalkan opened #487 "[Suggestion] Document difference of IHostedServiceOperations.Delete & .DeleteAll"
I guess one of them deletes deployments with disks (uses `comp=media` as documented in http://msdn.microsoft.com/en-us/library/windowsazure/gg441305.aspx) however both method signatures <nobr>(`Delete`, `DeleteAll`</nobr> &amp; their asyncs) have the same description on xmldocs:

[code]

[2014-02-25 17:56] ahmetalpbalkan opened #488 "Polling behavior is undocumented in asynchronous service operations"
I was expecting asynchronous (operation-id returning) calls like `IDeploymentOperations.CreateAsync` and `IStorageAccountOperations.CreateAsync` to return me the `OperationResponse` immediately after one call and allow me to call `GetOperationStatus(id)` to poll the service for completion.

However I just realized all those methods internally retry until service operation is no longer in `InProgre

[2014-04-30 20:25] pnewhook opened #610 "BeginSwapingSlots Typo"
Swapping should have two p's in [BeginSwapingSlots](https://github.com/Azure/azure-sdk-for-net/blob/2a427d6c73d2291114f20b5b44edf9679e0138b2/src/WebSiteManagement/Generated/WebSiteOperationsExtensions.cs#L70) and [BeginSwapingSlotsAsync](https://github.com/Azure/azure-sdk-for-net/blob/2a427d6c73d2291114f20b5b44edf9679e0138b2/src/WebSiteManagement/Generated/WebSiteOperationsExtensions.cs#L107) The

[2014-04-30 22:26] ahmetalpbalkan opened #611 "[Suggestion] Helper to create Virtual Network Configuration Schemas"
Users are supposed to pass XML data to the APIs like Create Virtual Network in [a certain format](http://msdn.microsoft.com/en-us/library/jj157100.aspx).

It could be helpful if we can prepare an object model to create such an XML. I know some of the objects required are already in the code under `VirtualNetworks.Models.NetworkListResponse` class but we are missing the list-wrapper members like:

[2014-05-03 23:19] pnewhook opened #624 "Error Swapping WebSite Using SwapSlot"
I've been unable to swap a website using `WebSiteManagementClient.WebSites.SwapSlots` It's unclear what the target slot it but using the string 'production' seems to get me the closest. I've followed these steps
1. Created a website called stage-test
2. Set it to standard to enable swaping
3. Created a second deployment slot named staging
4. Web Deployed to both slots
5. Execute the following code

[2014-05-05 07:41] vijayshinvabk opened #625 "Deployment Label should NOTbe Base64 Encoded"
BUG in VirtualMachineOperations.BeginCreatingDeploymentAsync

As per the REST documentation at http://msdn.microsoft.com/en-us/library/azure/jj157194.aspx while creating a new VirtualMachine Deployment we should pass the Deployment Label as plain string. The SDK function VirtualMachineOperations.BeginCreatingDeploymentAsync Base64 encodes the Deployment Label.

This causes the deployment label to

[2014-05-05 20:37] KiranDommaraju opened #627 "RoleInstance.InstanceStatus and RoleInstanceStatus"
The property InstanceStatus in Microsoft.WindowsAzure.Management.Compute.Models.RoleInstance class enumerated from the PropertyValues in Microsoft.WindowsAzure.Management.Compute.Models.RoleInstanceStatus class

One of the value for the RoleInstance.InstanceStatus is “Provisioning” which I do not find in RoleInstanceStatus class.<p><a href="https://github.com/Azure/azure-sdk-for-net/issues/627">ht

[2014-05-07 20:25] markrendle opened #639 "WebSiteUpdateConfigurationParameters should not create empty collections"
In the `WebSiteUpdateConfigurationParameters` [constructor](https://github.com/Azure/azure-sdk-for-net/blob/master/src/WebSiteManagement/Generated/Models/WebSiteUpdateConfigurationParameters.cs#L298-L305), the `AppSettings`, `ConnectionStrings`, `DefaultDocuments`, `HandlerMappings` and `Metadata` properties are set to empty collections instead of null. The REST API interprets an empty collection

[2014-05-08 14:50] BrandonBrowning opened #645 "Infinite loop in DeleteRoleInstanceByDeploymentSlotAsync"
Whenever I call this function, I'm getting a stackoverflow.  It seems to be caused by https://github.com/Azure/azure-sdk-for-net/blob/master/src/ComputeManagement/Generated/DeploymentOperations.cs#L4330<p><a href="https://github.com/Azure/azure-sdk-for-net/issues/645">https://github.com/Azure/azure-sdk-for-net/issues/645</a></p>

[2014-05-13 21:10] shashankshrivastava opened #648 "Issues with Websites.Create API"
&gt;&gt;Bug in WebSites.Create API allowing Invalid characters in website name. Only hyphens and alphanumeric characters should be allowed. As a result, the created Website is in unstable state in the system and always throws 500.
&gt;&gt;It also creates the website in &quot;free&quot; mode by default even if we set the compute mode as &quot;dedicated&quot;
&gt;&gt;SiteMode has only 2 options - Ba

[2014-05-13 21:56] ahmetalpbalkan opened #649 "Small documentation typo in DeploymentGetResponse"
In Microsoft.WindowsAzure.Management.Compute.Models.DeploymentGetResponse
[code]

'thedeployment' part above.<p><a href="https://github.com/Azure/azure-sdk-for-net/issues/649">https://github.com/Azure/azure-sdk-for-net/issues/649</a></p>

[2014-06-02 22:33] tdutch1 opened #662 "Azure Scheduler: Exception setting Days for JobRecurrenceFrequency.Week"
I'm setting Frequency to JobRecurrenceFrequency.Week and setting Days (for Schedule) to a List. I'm getting this exception message: &quot;BadRequest: Cannot set days of month with recurrence unit 'Week'.&quot;.  It's indicating that I'm setting &quot;days of month&quot; but am providing List as shown below. Please assist. Thanks, -Tim

                var result = _azureSchedulerClient.Jobs.Create

[2014-06-13 01:08] tdutch1 opened #683 "Azure Scheduler: Library does not allow for setting monthly recurrence with days of week and occurrences"
You're probably aware of this, but I found that in library Microsoft.WindowsAzure.Management.Scheduler, there is currently no way to create a recurring monthly job with days of the week specified and occurrences specified. The Azure Portal allows for this type of job.

Example of the type of job that cannot be set up:  &quot;Every 1 month on the first Monday, Wednesday and Friday of the month&quot

[2014-06-22 12:48] shubhangi-p opened #695 "Need a property named 'SecondaryReadEnabled' in StorageAccountProperties.cs"
We required a property named 'SecondaryReadEnabled' in StorageAccountProperties.cs  for our application.
Kindly provide this property as soon as possible.<p><a href="https://github.com/Azure/azure-sdk-for-net/issues/695">https://github.com/Azure/azure-sdk-for-net/issues/695</a></p>

[2014-06-25 21:06] jessey-git opened #701 "Rebuild Role Instance is not implemented for Compute's IDeploymentOperations"
We have a need to automate operations against role instances and Rebuild seems to be missing: http://msdn.microsoft.com/en-US/library/azure/dn627518.aspx<p><a href="https://github.com/Azure/azure-sdk-for-net/issues/701">https://github.com/Azure/azure-sdk-for-net/issues/701</a></p>

[2014-07-23 19:47] jturinetti opened #735 "NullReferenceException in Create method when specifying JobRecurrenceSchedule"
I'm getting a NullReferenceException when calling the Create method to create a new Scheduler job.

An unhandled exception of type 'System.NullReferenceException' occurred in Microsoft.Threading.Tasks.dll
Additional information: Object reference not set to an instance of an object.

This is occurring only when I specify one or more JobRecurrenceSchedule parameters.  Here is a code sample:

[code]

[2014-07-24 14:58] GarrettDavis opened #737 "NetworkListResponse.VirtualNetworkSite needs a Location property"
During TechEd (May 12-15) or before, the concept of Regional Virtual Networks was announced.  When a new Virtual Network is created in the Portal, we don't even have the option of specifying an Affinity Group for the location, only a Region.  Unfortunately, the INetworkOperations.ListAsync() method's response ([NetworkListResponse](https://github.com/Azure/azure-sdk-for-net/blob/master/src/Network

[2014-07-31 02:02] rboorgapally opened #742 "Provide functionality to stop all role instances for a cloud service"
Currently, I can reboot all role instances by slot using the SDK. Can we also have STOP?

One use case this will serve is that, I want to stop my staging which is on a old build. I will delete it after a few hours if I find my new build in production good enough. Other wise I will revert. I do not want staging to be running during this time.

This functionality is available on the portal but not i

[2014-08-08 10:58] shubhangi-p opened #755 "'SetConfiguration' functionality of 'NetworkManagementClient.Networks' has stopped working."
'SetConfiguration' functionality of 'NetworkManagementClient.Networks' (azure-sdk-for-net / src / NetworkManagement / Generated / NetworkOperations.cs) has stopped working.

SetConfiguration functionality was working perfect with 'Microsoft.WindowsAzure.Management.Network version 2.1.2'. New version of dll throwing the following exception.

Exception Occurred :  of type Microsoft.WindowsAzure.Clou

[2014-08-28 12:49] oliverw opened #771 "VM is reported running when it is clearly not"
[code]

The code above will exit the loop minutes before the portal reports the VM as running.

[2014-08-28 13:25] oliverw opened #772 "IVirtualMachineOperations.CreateDeploymentAsync should support deploying multiples roles at once"
Right now if the Roles property of VirtualMachineCreateDeploymentParameters used in a call to IVirtualMachineOperations.CreateDeploymentAsync contains more than one role (why is a collection in the first place?) the call will fail complaining the the collection should contain only one role.

Either support deploying multiple roles at once or convert the property to a scalar.

[2014-08-28 13:28] oliverw opened #773 "WebSiteUpdateConfigurationParameters is missing property AlwaysOn"
Class WebSiteUpdateConfigurationParameters is missing property AlwaysOn and therefore forces developers to fall back to HTTP requests to configure this option.

[2014-09-02 08:40] kobynet opened #777 "Add Create/CreateAsync/Update/UpdateAsync to INotificationHubOperations"
Currently the INotificationHubOperations supports Delete/Get/GetConnectionDetails operations, need to also add the ability to Create and Update Notification hubs.

[2014-09-18 03:53] GuardRex opened #785 "Is Nullable<DateTime> working properly in Storage Client Library 4.3?"
Nullable<DateTime> should be working ... what am I doing wrong here?
[code]
If there is a datetime in the property of an entity, then I expected this to work to null it:
[code]
It's NOT clearing the date to null in the Azure table. A datetime value in the property remains in the entity after executing the table operation. Otherwise, I am able to modify other properties of the entity just fine. Eve

[2014-09-30 05:54] abatishchev opened #792 "ServiceDefinition:NamedElementNameString doesn't allow ':' (colon) in name"
cscfg scheme doesn't allow a colon `:` inside settings name, e.g.:
[code]
Causing compiler error:

[2014-10-09 15:19] sporty81 opened #807 "Azure Insights Preview - Authentication failed. The 'Authorization' header is not present or provided in an invalid format."
Trying to use the new Azure Insights EventOperations and getting authorization failures.

            SubscriptionCloudCredentials credentials = new CertificateCloudCredentials(subscriptionID, cert);
            Microsoft.Azure.Insights.InsightsClient client = new InsightsClient(credentials);

            var test2 = client.EventOperations.GetCountSummaryAsync("");
            test2.Wait();

[2014-10-27 15:58] cmonney opened #823 "Microsoft.WindowsAzure.Management.Monitoring.Alerts CreateOrUpdateAsync Error"
I am trying to create an Azure alert using the AlertsClient

My resourceid looks like the following:

[code]

My create method is as follows:

 private static Task<OperationResponse> CreateAzureAlert(string resourceId, AlertsClient alertsClient)
        {
            var rule = new Rule
            {
                Name = "CPU Alert",
                Id = Guid.NewGuid().ToString(),

[2014-11-05 10:27] StefanCruysberghs opened #835 "400 exception when creating Topic in Service Bus"
Creating a Topic in a Service Bus namespace throws a 400 "invalid request body" exception but all properties are optional. The NameSpace exists. I'm using Microsoft.WindowsAzure.Management.ServiceBus version 0.15.0-preview. What should be changed or is this a bug?

[code]

This is the request body in the exception:

[code]

[2014-11-11 11:11] Robin2009 opened #838 "How can I create a VM in MS Azure along with Chef Client through Microsoft Azure Management Libraries?"
Hi all,
    My question is nothing about any issue but it's quite important to me. Right now I was asked to develop a client(WinForm or Mvc) to create virtual machines along with Chef client. In azure management portal page this stuff seems easy enough because we're able to choose to install VM agent and then choose to install Chef Client or other trustable extensions in the last step of "Create V

[2014-11-11 16:23] sporty81 opened #839 "Feature Request - Azure ServiceRuntime - Add Fields"
Please enhance the Azure ServiceRuntime so there is a way to get these fields from cloud services.

Slot - Staging/Production
Service Name - Can get the instance name, but we want to know the name of the deployment itself.
SubscriptionId

Thank you!!

[2014-11-25 03:59] drewid opened #851 "WebSiteUpdateParameters and WebSites.Update deprecated? have gone away to where? Replaced by what?"
Have WebSiteUpdateParameters and WebSites.Update deprecated / gone away without even the slightest bit of mention?

When things shifted to Microsoft.Azure.Management those items went away and I cannot figure out what their comparable commands now are - nothing seems to fit.

Trying to add a sub-domain binding to Azure WebSite Programmatically.

Per earlier sample code this "used" to work.  Now it

[2014-12-01 22:19] Rowdster opened #854 "SqlManagementClient authentication issue"
With API 2014-10-01 and code like below:

`_subscriptionCloudCredentials =  new CertificateCloudCredentials(subscriptionId, _azureCertificate);
SqlManagementClient smc = new SqlManagementClient(_subscriptionCloudCredentials);
smc.Servers.List("rgn");`

For "smc.Servers.List("rgn");" I am getting "AuthenticationFailed: Authentication failed. The 'Authorization' header is not present or provided in

[2014-12-16 22:56] grant-d opened #864 "Deployment.Get() fails if Script Extension outputs Unicode logs"
**Summary**
The output of the Azure Script Extension can break the parsing of the CloudService payload.
The specific break in this case was caused by a simple mis-spelling of a .msi installer.
MsiExec returns a Unicode error message which MAML is unable to handle.

**Impact**
High. The only workaround is to logon to the machine and delete the latest .status file.
This is not a contrived scenario -

[2014-12-18 11:54] mottagare opened #866 "Microsoft.WindowsAzure.Management.MediaServices.CreateAsync fails with error "The server encountered an internal error. Please retry the request.""
I am trying to create a media services account using the Media Services management library. Whilst calling CreateAsync I get an error back with the non helpful message "The server encountered an internal error. Please retry the request.".

I use Azure Active Directory for authentication. I can successfully get a list of media services account using the library and also calling the Get-method to ge

[2014-12-24 04:41] grant-d opened #873 "Creating a StorageService using ResourceManagementClient fails with "Accepted""
When creating a StorageService using the following code, it throws with CloudException.Message == "Accepted". The reason is likely due to line 404 of ResourceOperations.cs:

// ... Submit request...
if (statusCode != HttpStatusCode.OK && statusCode != HttpStatusCode.Created)
{ // ... throw... }

This line should probably include Accepted (202) as a valid result.

Repro code:
                    va

[2014-12-24 10:47] syedshahidali opened #874 "Could not load file or assembly 'Microsoft.Data.Edm' or one of its dependencies."
Hi i m getting this error from morning and not able to resolve it please help me to fix it.
i m using vs 2010

Could not load file or assembly 'Microsoft.Data.Edm' or one of its dependencies. The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for

[2014-12-25 04:13] liuhongbo opened #875 "ManagementClient.ManagementCertificates.Create throw an exception because of an http 201 response"
Here is the code:

[code]

ManagementCertificates.Create will throw an exception with the following stack information:

[code]

I used the fiddler to capture the http request and resonpse

The response looks like this:

[code]

So basically, the certificate is created successfully.  However,  the code in file azure-sdk-for-net/src/Management/Generated/ManagementCertificateOperations.cs

[code]

sh

[2014-12-30 12:20] riccardobecker opened #876 "How to obtain TokenCloudCredentials inside a webapi?"
I have a portal where a user logs in using WAAD. After logging he/she can call some webapi's (inside the same MVC project). Inside that webapi I need to call some functions from the Azure Management Libraries. The question is: how can I obtain TokenCloudCredentails inside that webapi for the current user? (who logged in with valid credentials).

Obviously, I don't want people to login again callin

[2015-01-06 00:12] singhkay commented on #792
@abatishchev This repo is actually for the MAML client libraries but I'll forward this thread to the Azure SDK team responsible for the cscfg schema internally.

[2015-01-06 18:22] cbroussa opened #879 "Creating a cloud service fails with "BadRequest: The condition specified by the ETag is not satisfied.""
Just installed this Git package and tried to create a CloudService. Using the provided example for creating a storage account I inferred what would be required for CloudService creation and wrote the following:

[code]

Unfortunately I get an error back stating that the etag is not satisfied. I have a few questions that hopefully someone can answer:
1) How does one determine what conditions are in

[2015-01-06 22:21] giyer opened #881 "HDInsight: IndexOutOfRangeException in the storage log analysis tool"
Stack trace is below:

Unhandled Exception: System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at AzureLogAnalysis.Program.ParseLogFile(String filename, DateTime startTime, DateTime endTime, List`1 records) in c:\depot\current\tools
\AzurePerf\AzureStorageLogAnalysis\Program.cs:line 379
  at AzureLogAnalysis.Program.Main(String[] args) in c:\depot\current\tools\AzurePer

[2015-01-07 07:51] Karamell opened #882 "Hadoop Avro Serializer uses CurrentCulture when (de)serializing decimal numbers"
I have a problem when serializing a class with a decmal property:

[code]

`roundTripped.D` is now `100m` and `theObject.D` is `10m`

I hope this is not a desired behaviour?

[2015-01-09 22:13] gucalder opened #892 "Re issuing this PR after making the changes suggested in the feedback"

[2015-01-10 00:10] FeodorFitsner opened #893 "Hyak.Generator missing?"
Hello,

While trying to build the latest I'm getting the following error:

[code]

Seems I can't find that package on nuget.org. Could you please direct me?

[2015-01-13 14:52] npickett opened #897 "Issue with Storage Management SDK in Local Emulator (under Full IIS)"
Hi All --

When using the Storage Management SDK with an Azure Web Role using IIS Web Server and Full Emulator, I get the following error:

[code]

I am using VS 2013 with the Azure 2.3 SDK and downloaded the latest code for the Azure Storage Management SDK from here:

https://github.com/Azure/azure-sdk-for-net/tree/master/src/StorageManagement

If I change to use IIS Express, request is authentic

[2015-01-14 22:01] #892 closed

[2015-01-14 22:05] markcowl commented on #879
Thank you for the report of this issue, assigning to the area owner

[2015-01-14 22:08] markcowl commented on #874
@syedshahidali Are you still seeing this issue?  If so, can you tell us which library you are trying to compile, and in what context?

[2015-01-15 05:56] #874 closed

[2015-01-15 19:00] AnneTheAgile commented on #893
+1 This seems like a blocker, right @FeodorFitsner ?
I see a SO question related; http://stackoverflow.com/questions/27048837/azure-sdk-for-netcompiling-source-code
Google shows no hits for Hyak.Generator.targets.

[2015-01-15 19:03] FeodorFitsner commented on #893
Exactly, looks like something internal ;)

[2015-01-15 19:19] AnneTheAgile commented on #893
@FeodorFitsner , yes, I hope one of the repo owners can fix it for us, since seeing the builds certainly is required for FOSS work.

I was scoping out how fast the azure projects are responding to PR's, that's what brought me here. I have gotten excited about the chef azure-knife idea so I'm research..

[2015-01-16 18:08] chuanboz opened #900 ""ArgumentException: Instance property 'Capacity' is not defined for type" error when serialize class with Collection<T> as Data Contract Known Types"
Today I find another issue with collection known types as below with repro type and Unit Test.
The issue here are happen on our production code, does that means we don’t support Collection<T> and any suggestion to make it work?

Test Name:                 Serializer_SerializeClassWithCollectionMembersUsingDataContractKnownTypes
Test FullName:                    Microsoft.Hadoop.Avro.Tests.AvroSeri

[2015-01-19 01:26] BillWagner opened #902 "Publish dialog for VS2015 dialog doesn't display errors"
The Publish dialog in VS 2015 doesn't provide hints when you create a new DB and the database password doesn't meet the requirements.

To repo:
Make a website project.
Publish to Azure
Select a new database
Enter a simple password ('test') for example.

You'll get an error message saying that you need to fix the errors in the dialog, but there is no indication as to what fields need to be correcte

[2015-01-19 17:24] bcrosnier commented on #893
The Azure SDK already uses a project-specific public feed, [MyGet/azure-sdk-internal](http://www.myget.org/F/azure-sdk-internal/), publicly available in [/libraries.msbuild#L508](https://github.com/Azure/azure-sdk-for-net/blob/master/libraries.msbuild#L508), as well as a private feed ([MyGet/hydra](https://www.myget.org/F/hydra/), pulled from the various [GenerateCode.props](https://github.com/Azu

[2015-01-19 21:28] matt-gibbs commented on #902
I have forwarded this issue on to the team that does VS tooling for Azure.

[2015-01-19 21:28] #902 closed

[2015-01-20 04:25] yugangw-msft commented on #893
Thanks for reporting this. The project file of "DataFactoryManagement" did miss some files which was addressed today through PR 903.
However, the whole solution is still not able to build error free without the internal nuget feed set up. We are actively working on it, and will update this with progress. At the same time, the workaround mentioned by "bcrosnier" can be tried out.
       Yugang

[2015-01-20 12:24] bcrosnier opened #904 "(Web sites mgmt.) GetUsageMetricsAsync throws FormatException on TZ > UTC+0000"
## Issue

While calling `GetUsageMetricsAsync` on a `WebSite` element when living in a timezone above UTC (here, CET = UTC+0100), an exception is thrown.

[code]
## Expected result

A `WebSiteGetUsageMetricsResponse` instance given with no exceptions.
## Steps to reproduce
1. Create a website on Windows Azure
2. Set your system to Romance Standard Time (or UTC+0100, CET, Europe/Paris, etc.)
3. In

[2015-01-21 10:17] pecke01 commented on #854
@markcowl Is there a reason that you cant use a certificate for working with ResourceManagementClient? Limits what you can automate a lot when you need to do some manual auth.

[2015-01-21 21:52] markcowl commented on #854
@pecke01 It shouldn't prevent automation.  As long as you have orgid or service credentials, youcan acquire a token for management without user interaction.
Not allowing certificate authentication is a service-side requirement.

[2015-01-21 21:52] #854 closed

[2015-01-22 08:51] riccardobecker opened #910 "ServiceBusManagement not working anymore?"
The latest drop of the ServiceBusManagement library seems to be broken?

            ServiceBusManagementClient sbClient = new ServiceBusManagementClient(credentials);

used to work before but now gives me a: "

The best overloaded method match for 'Microsoft.WindowsAzure.Management.ServiceBus.ServiceBusManagementClient.ServiceBusManagementClient(System.Net.Http.HttpClient)' has some invalid argum

[2015-01-22 09:30] riccardobecker commented on #910
Getting the latest drops of the Management libraries combined with preview version 0.14

Install-Package Microsoft.WindowsAzure.Management.ServiceBus -Version 0.14.0-preview -Pre

Seems to work.

[2015-01-27 23:20] matt-gibbs commented on #480
documentation plans in place to deliver via MSDN.

[2015-01-27 23:20] #480 closed

[2015-01-28 17:47] davihar opened #927 "CloudContext.Clients.CreateManagementClient(credentials) Not Found"
After upgrading to 2.0 calls like CloudContext.Clients.CreateManagementClient(credentials) are not compiling.  Did it move?  Thanks.

[2015-01-28 17:50] davihar opened #928 "StorageAccountCreateParameters GeoReplicationEnabled Missing"
After upgrading to 2.0 the GeoReplicationEnabled property is missing.  How is replication now specified for storage accounts?  Thanks

[2015-01-28 23:14] yugangw-msft commented on #893
We have submitted the changes which enables you to build in command line like the following sample:
         "C:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe" build.proj /t:build;package

If you would like build out a specific package, you can leverage the property such as  /p:scope="C:\SDK\azure-sdk-for-net\src\Authorization\Authorization.csproj"

Inside "build.proj", you can see all the impo

[2015-01-30 22:53] matt-gibbs commented on #927
This was removed in the major version update.
Please use the constructor of the specific management client, i.e. var client = new ManagementClient(credentials)...

[2015-01-30 22:53] #927 closed

[2015-02-03 18:22] yugangw-msft commented on #893
Building inside Visual Studio is also working now. Please give it a try and let me know if you have any questions

[2015-02-03 18:22] #893 closed

[2015-02-04 08:04] veena-udayabhanu opened #945 "Two missing properties from StorageAccountProperties"
[Moved from azure-storage-net]
According to the MS Wiki for List Storage Accounts - https://msdn.microsoft.com/en-us/library/azure/ee460787.aspx#bk_extendedproperties - there should be two properties, one for Account Type, and one for Custom Domains - these both appear to be missing from the WindowsAzure.Storage 4.3.2-preview package on nuget.

[2015-02-04 13:42] olaj opened #946 "CloudContext.Clients.CreateComputeManagementClient gone?"
I have some code based on this sample and after i made some nuget upgrades it doesn't work anymore. Is this a bug or some breaking changes that (seems to) not be documented somewhere?

The error is that CreateComputeManagementClient cannot be found.

var cloudServiceName = "MyCloudService";

using (ComputeManagementClient client =
    CloudContext.Clients.CreateComputeManagementClient(Credentials)

[2015-02-04 22:54] davihar commented on #946
See https://github.com/Azure/azure-sdk-for-net/issues/927

[2015-02-05 01:39] markcowl commented on #928
This is by design.  The new storage management API now has different levels of storage account redundancy for different account types.  See: https://msdn.microsoft.com/en-us/library/azure/dn727290.aspx

[2015-02-05 01:39] #928 closed

[2015-02-05 05:02] markcowl commented on #910
Closing as no repro.  Please reopen this issue if you see a recurrence.

[2015-02-05 05:02] #910 closed

[2015-02-06 21:51] markcowl commented on #946
This was removed in the major version update.
Please use the constructor of the specific management client, i.e. var client = new ManagementClient(credentials)...

[2015-02-06 21:51] #946 closed

[2015-02-06 21:54] markcowl commented on #945
These properties are in the latest storage manageemnt library.  Please download Microsoft.WindowsAzure.Storage.Manageent from nuget.

[2015-02-06 21:54] #945 closed

[2015-02-06 23:40] compsri opened #951 "'SetConfiguration' and 'SetPlatform' parameters missing from 'WorkerRoleReferences' itemgroup"
With version 2.5 of the Azure SDK, we identified in issue in our project where worker roles are failing to build with an ‘OutputPath not found’ error. This was happening because our worker roles are built for the x64 platform (because of dependencies that are x64 only) and not the AnyCPU platform like the task was expecting. However, web roles are building successfully, so upon investigation I fou

[2015-02-09 17:07] bradygaster commented on #876
Though I don't have a specific code example handy to demonstrate this functionality, I showed off how to do multi-tenant auth from within a web application for this specific purpose - knowing how to pull the token out and re-use it - during my MAML presentation at TechEd Europe last year.

The talk is recorded an available on Channel 9 here: http://channel9.msdn.com/Events/TechEd/Europe/2014/DEV-B

[2015-02-09 17:07] #876 closed

[2015-02-11 02:20] #662 closed

[2015-02-11 02:20] #683 closed

[2015-02-13 00:50] chuanboz opened #958 "Avro serializer bug: Array schema are incorrectly generated as known type of any collection member in that class."
We recently hit one bug when enabled avro serializer on our dogfood environment. After several days investigation I eventually trace it down to an issue related to avro serializer schema generation, when that class contains array and collection type together, further trace I figured out it might be 2 issues in Avro serializer library:

1. StripAvroNonCompatibleCharacters and its usage on ResolveTy

[2015-02-13 19:08] singhkay commented on #611
this should be owned by the networking team at this point. Adding Ed Munoz @dud5

[2015-02-13 19:12] singhkay commented on #838
@Robin2009 Are you trying to do this PowerShell? or the Azure Compute .NET Client library?

[2015-02-13 19:14] singhkay commented on #839
@sporty81 - Is this a feature request for the Compute client library or the REST API?

[2015-02-15 19:50] sporty81 commented on #839
@singhkay Would be nice if these fields were on the cloud service machine themselves in the registry, environment keys, or available from the ServiceRuntime.dll. Not talking about REST. Talking about just what you can get from the on the machine.

[2015-02-16 23:34] singhkay commented on #839
@sporty81 Got it, let me forward this feedback to the right team

[2015-02-19 21:38] chuanboz opened #963 "Avro serializer: The number of generic arguments provided doesn't equal the arity of the generic type definition."
Test Name:	GenericIsAssignableTest
Test FullName:	Microsoft.Hadoop.Avro.Tests.TypeExtensionsTest.GenericIsAssignableTest
Test Source:	e:\GitHub\azure-sdk-for-net\src\HDInsight\Microsoft.Hadoop.Avro.Tests\TypeExtensionsTest.cs : line 41
Test Outcome:	Failed
Test Duration:	0:00:00.1740236

Result Message:
Test method Microsoft.Hadoop.Avro.Tests.TypeExtensionsTest.GenericIsAssignableTest threw except

[2015-02-23 22:57] singhkay commented on #864
This was fixed by a recent code change. Closing

[2015-02-23 22:57] #864 closed

[2015-03-02 11:13] ivanfioravanti commented on #897
We are experiencing exactly the same error. Any news on this?

[2015-03-02 11:16] NTTLuke commented on #897
We have the same error with Scheduler Library with the last Management Library Update.

[2015-03-02 20:52] markcowl commented on #897
@npickett Can you please elaborate on the scenario?  The storage management SDK is only used for creating and managing storage ACCOUNTS.  There is a single, logical account in the emulator, so there is no scenario for using the storage management sdk with the emulator.  The storage sdk, which you use to manage tables, blobs and queues within a single storage account is not shipped from this reposi

[2015-03-05 00:49] sokhalsa opened #987 "Guid type causes KeyNotFoundException in calls to CreateDeserializerOnly<T> or CreateGenericDeserializerOnly"
When attempting to call AvroSerializer.CreateDeserializerOnly<T> or AvroSerializer.CreateGenericDeserializerOnly with a writer schema for a type that contains a Guid, a KeyNotFoundException ("The given key was not present in the dictionary.") error is thrown in JsonSchemaBuilder.CreatePrimitiveTypeSchema because "System.Guid" is not a key in the PrimitiveRuntimeType dictionary.

The stack trace is

[2015-03-05 16:00] npickett commented on #897
Hi Mark,

I have posted a test project that will replicate the issue we have been experiencing.

https://github.com/npickett/azure-sdk-for-net-storage-mgmt-repo

I experienced issues when using the azure run-time emulator locally on my machine pointed to external azure storage endpoints and when "Use IIS Web Server" is selected.  Below is a screenshot of the configuration setup that breaks and ret

[2015-03-05 17:46] sokhalsa commented on #987
It looks like it has to do with multiple Guid members in a class causing JsonSchemaBuilder to the schema incorrectly.

Given the following class:

    [System.Runtime.Serialization.DataContract]
        public class ClassOfGuid
        {
            [System.Runtime.Serialization.DataMember]
            public Guid PrimitiveGuid;

            [System.Runtime.Serialization.DataMember]
            pu

[2015-03-05 23:21] #958 closed

[2015-03-05 23:21] #963 closed

[2015-03-05 23:21] #900 closed

[2015-03-06 22:16] sokhalsa opened #989 "AvroSerializer.WriterSchema can include invalid unions when there are multiple known types that match a generic IEnumerable"
According to the Avro spec: "Unions may not contain more than one schema with the same type, except for the named types record, fixed and enum."

Given a class containing an IEnumerable:

[code]

If there are multiple known types specified that are a match for the IEnumerable, the writer schema that is generated will contain a union with multiple array schemas. Using the generated writer schema in

[2015-03-07 19:12] chuanboz commented on #989
proposed following fix for #989
https://github.com/chuanboz/HDInsight/commit/bea99186080ac0a3539fe2cd1b3d6bc4cec1a41d

[2015-03-09 12:35] tallesl opened #990 "DocumentDB as not a service"
*(probably not the best place to post this but here it goes)*

Dear Microsoft,

I have been a good boy all those years playing around with C#, SQL Server and all your goodies.

Yes, it's true that I only do that from 9 to 5 and I don't give much love for you in my spare time, but there's still some love there.

Specially nowadays that you are trying to be the cool kid on the block haging out with

[2015-03-09 12:37] diegovinicius commented on #990
:+1:

[2015-03-09 12:37] arthur-fernandes commented on #990
:+1:

[2015-03-09 12:37] hermsdorff commented on #990
:+1:

[2015-03-09 12:38] paulodamasceno commented on #990
+1:

[2015-03-09 12:39] mirandajeff commented on #990
:+1:

[2015-03-09 12:41] DouglasHenriquees commented on #990
:+1:

[2015-03-09 12:42] ValteirJr commented on #990
:+1:

[2015-03-09 12:43] paulodamasceno commented on #990
:+1:

[2015-03-09 13:42] tuliopimenta commented on #990
:+1:

[2015-03-09 14:58] kowsheek commented on #990
:+1:

[2015-03-09 14:58] cristianofran commented on #990
:+1:

[2015-03-09 14:58] TheSpiderPig commented on #990
Why use microsoft, you can save yourself and your client money by using a free/open source version. I'm not saying MongoDB is the way to go, but you have MANY more options for your database needs.

[2015-03-09 15:05] kowsheek commented on #990
True @TheSpiderPig, but off-topic. Having more options is better for the ecosystem.

Also, some of us host everything on Azure and use DocumentDb, but in case we wanted to have a in-house solution, we should have the option.

[2015-03-09 15:08] tallesl commented on #990
@TheSpiderPig

There's a whole culture shared by many companies to use only *Microsoft™ Stack™*, the one I currently work for included.

There are many possible reasons for it: fear of other *stacks*, disbelief of open source, making sure the whole tooling plays well with each other, having to interact to a single company for support, etc...

I dislike this attitude of *putting all your eggs in on

[2015-03-09 15:14] marck010 commented on #990
:+1:

[2015-03-09 16:17] ryancrawcour commented on #990
You are correct, this is not the best place for this - Instead go to http://feedback.azure.com/forums/263030-documentdb and vote for the feature there. That way the product team is more likely to see the request.

[2015-03-09 17:05] pikoslav commented on #990
:+1:

[2015-03-09 17:17] bradygaster commented on #990
Closing as @ryancrawcour's link above is the more appropriate place to file the issue.

[2015-03-09 17:17] #990 closed

[2015-03-09 19:36] brumano commented on #990
+1:

[2015-03-09 19:37] brumano commented on #990
:+1:

[2015-03-09 20:49] iamkoch commented on #990
I'm not sold on DDB as of yet. The preview seemed OK, but we had to rip it out of an app after being forced to apply too many hacks to get it to work how we wanted it.

It's a great idea, but nowhere near fully formed yet. That's just my opinion, of course :)

[2015-03-09 22:49] ryancrawcour commented on #990
@iamkoch it would be great to know what hacks you were forced in to applying. we obviously have some work to do in these areas to get rid of these. If you would like to provide this feedback directly to us (via email), that would be most valuable. Thanks!

[2015-03-13 06:57] chuanboz opened #996 "AvroSerializer not support Dictionary with object as value type with KnownType, typical scenario for OData Patch"
take below code as an example, the scenario here is very typical for OData Patch, where client side needs to send multiple properties of the entity to server side, so it model it as a dictionary of string to object, where the type of object is known since that's the property type of the entity.

however when trying to serialize/deserialize it via Avro, it will fail

[code]
here is the Unit Test to

[2015-03-13 16:17] chuanboz commented on #996
this is the very first exception message, even get over this one by using custom resolver, there are still multiple different errors to prevent this work from end to end.
[code]

[2015-03-13 21:34] markcowl commented on #987
@sokhalsa Thank you for the feedback.  Assigned to the appropriate team

[2015-03-13 22:04] markcowl commented on #996
@chuanboz Thank you for the feedback, assigning to the appropriate feature team

[2015-03-13 22:46] matt-gibbs commented on #873
This is expected at this time. Once Storage is generally available in ARM, this will light up.

[2015-03-13 22:46] #873 closed

[2015-03-13 23:09] shixiaoyu commented on #996
Hi Mark,
Do you have an ETA roughly when this change will be released?

[2015-03-13 23:53] chuanboz commented on #996
@djoelz, added pull request for the proposal fix of this issue, please help take a look.
https://github.com/hdinsight/azure-sdk-for-net/pull/75

[2015-03-14 04:38] matt-gibbs commented on #807
There are two types of client libraries. They are divided by namespace. The "WindowsAzure" libraries can user CertificateCloudCredentials. They access Azure through the original access points. They correspond to features configured via https://manage.windowsazure.com . The "Azure" libraries correspond to the new Azure Resource Manager controls, and https://portal.azure.com and use AAD.

[2015-03-14 04:38] #807 closed

[2015-03-14 04:43] matt-gibbs commented on #472
It is there now
https://github.com/Azure/azure-sdk-for-net/blob/master/src/WebSiteManagement/Generated/Models/WebSiteUpdateParameters.cs#L99

[2015-03-14 04:43] #472 closed

[2015-03-19 14:05] ellern opened #1006 "CloudConfigurationManager.GetSetting returns null after updating to 3.0.0"
CloudConfigurationManager.GetSetting("name") started to return null on worker roles after updating Microsoft.WindowsAzure.ConfigurationManager to version 3.0.0, which is the latest stable version available on NuGet.

[2015-03-19 14:09] mleyb commented on #1006
I have the exact same problem. The 3.0.0 nuget version does not give back config values when deployed in the emulator or Azure. The problem seems to be that the Microsoft.Azure.ServiceRuntime assembly cannot be loaded in Microsoft.Azure.ApplicationSettings.GetServiceRuntimeAssembly() for some reason.

[2015-03-19 17:31] awcab commented on #1006
I'm seeing this problem in web and worker roles.

[2015-03-19 19:24] awcab commented on #1006
It seems that this is because of the namespace name change.  The ServiceRuntime that the 2.5 SDK provides is named Microsoft.WindowsAzure, but the assembly that ApplicationSettings is searching for is Microsoft.Azure.ServiceRuntime.  I'm taking this to mean that a new SDK is imminent and/or maybe the nuget deployment was premature.

[2015-03-19 20:51] smithkl42 commented on #1006
(Same here, FWIW - see http://stackoverflow.com/questions/29152382/cloudconfigurationmanager-getsetting-returns-null-with-azure-configuration-man.)

[2015-03-19 22:24] ogail commented on #1006
Thanks folks, we are working on getting a fix for this

[2015-03-19 23:33] awcab commented on #1006
Thanks for the update @ogail !

[2015-03-19 23:46] ogail commented on #1006
@awcab here's the PR https://github.com/Azure/azure-sdk-for-net/pull/1008

[2015-03-20 00:22] artfulhacker commented on #1006
@ogail did this just get released to nuget?

https://www.nuget.org/packages/Microsoft.WindowsAzure.ConfigurationManager/3.1.0

[2015-03-20 00:28] awcab commented on #1006
@artfulhacker It did - I just pulled it down.

[2015-03-20 00:33] awcab commented on #1006
@ogail This fixed it for me.  Thanks so much for the quick turnaround.

[2015-03-20 00:36] artfulhacker commented on #1006
@awcab thanks for testing, @ogail also appreciate the quick turnaround

[2015-03-20 01:01] blumu opened #1009 "AdditionalUnattendContent missing from Models.ConfigurationSet"
The model ConfigurationSet is missing property AdditionalUnattendContent used to configure OOBE. So it's not possible to use Management.Compute to create an Azure VM with AutoLogon or FirstLogonCommands.
For reference see REST API doc at https://msdn.microsoft.com/en-us/library/azure/jj157186.aspx

[2015-03-20 01:01] ogail commented on #1006
Yes, it's released. Thanks for the testing! I will close this now, please create a new issue if you faced any issues.

[2015-03-20 13:11] archelan opened #1010 "Readme fix"
https://github.com/Azure/azure-sdk-for-net#visual-studio
Change "WindowsAzureCommonLibraries.sln" and "WindowsAzureManagementLibraries.sln" to "AzureCommonLibraries.sln" and "AzureManagementLibraries.sln"

[2015-03-20 14:55] StanislawSwierc opened #1011 "BeginCreatingDeploymentAsync fails with default setting of ProvisionGuestAgent"
I run into some issues with the BeginCreatingDeploymentAsync when I tried to create deployment using default setting for the ProvisionGuestAgent which is false. The following configuration fails with the error "*BadRequest: In order to use extension reference, ProvisionGuestAgent must be set during virtual machine provisioning.*"

    var deployment = new VirtualMachineCreateDeploymentParameters

[2015-03-20 18:47] philoushka opened #1013 "Azure Search: does it support deleting documents?"
I've searched but can't find any tests demonstrating that the .NET Azure SDK for Azure Search supports deleting documents in the search service index.

Using [Microsoft Azure Search Library 0.9.7-preview](http://www.nuget.org/packages/Microsoft.Azure.Search/) .

Intellisense in VS doesn't show any operation/method other than `Create`.

Was expecting `IndexBatch.Delete` to be able to state:

    aw

[2015-03-20 19:06] brjohnstmsft commented on #1013
Yes. You can use IndexActionType.Delete for this:

    var batch =
        IndexBatch.Create(
            new IndexAction(IndexActionType.Delete, new Document() { { "id", "123" } }),
            new IndexAction(IndexActionType.Delete, new Document() { { "id", "456" } }),
            new IndexAction(IndexActionType.Delete, new Document() { { "id", "789" } }));

    indexClient.Documents.Index(batch

[2015-03-20 19:06] #1013 closed

[2015-03-25 19:43] pjirsa commented on #927
using the constructor gives invalid parameter errors

[2015-03-27 00:04] markcowl commented on #1011
Thanks for the feedback.  Routing this issue to the appropriate team.

[2015-03-27 00:11] markcowl commented on #1011
testing.

[2015-03-27 00:38] markcowl commented on #1011
testing

[2015-03-30 16:24] markcowl commented on #737
Closing as obsolete.  Please reopen if this issue recurs

[2015-03-30 16:24] #737 closed

[2015-03-30 16:25] markcowl commented on #701
Closing as obsolete.  Please reopen if this issue recurs

[2015-03-30 16:25] #701 closed

[2015-03-30 16:26] #695 closed

[2015-03-30 16:29] markcowl commented on #649
Please reopen if you're still seeing this issue.

[2015-03-30 16:29] #649 closed

[2015-03-30 16:29] markcowl commented on #645
This should be fixed.  Please reopen or open a new issue if yoiu see a recurrence

[2015-03-30 16:29] #645 closed

[2015-03-30 16:31] markcowl commented on #627
Ths instance status enumeration is a guide and not an exhaustive list of values.  Please reopen if this is still an issue.

[2015-03-30 16:31] #627 closed

[2015-03-30 16:31] markcowl commented on #625
This iss ue should be fixed.  Please open a new issue if you see a recurrence

[2015-03-30 16:31] #625 closed

[2015-03-30 16:33] markcowl commented on #488
This is actually the function of the 'Begin.. functions.  The Create... functions will do polling

[2015-03-30 16:33] #488 closed

[2015-03-30 16:33] ahmetalpbalkan commented on #625
@markcowl are you just closing old issues or are you sure this is fixed?

[2015-03-30 16:33] markcowl commented on #487
Closing as obsolete.  Please open a new issue if this is still a problem.

[2015-03-30 16:33] #487 closed

[2015-03-30 16:34] markcowl commented on #481
Should be fixed in the latest update.  Please open a new issue if not.

[2015-03-30 16:34] #481 closed

[2015-03-30 16:35] ahmetalpbalkan commented on #488
@markcowl if so the comments on the method should be fixed. See my issue description above. Problem is with xmldocs.

[2015-03-30 16:35] ahmetalpbalkan commented on #487
@markcowl why am I opening a new issue if this is not fixed? Please reopen.

[2015-03-30 21:20] markcowl commented on #1010
@archelan Thanks for pointing this out.  Can you submit a PR with this change?

[2015-04-02 19:55] markcowl commented on #742
@rboorgapally Closing per the owner's request.  Please open a new issue if this behavior recurs.

[2015-04-02 19:55] #742 closed

[2015-04-02 20:03] markcowl commented on #735
@jturinetti closing as the issue is resolved.  Please reopen if you see a recurrence

[2015-04-02 20:03] #735 closed

[2015-04-03 21:12] matt-gibbs commented on #1010
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/1028

[2015-04-03 21:12] #1010 closed

[2015-04-17 15:40] aosgo opened #1053 "CloudConfigurationManager GetSetting using web.config even when in Azure"
Are there any known issues with Microsoft Azure Configuration Manager 3.1.0 ignoring the cscfg when in Azure? Our Cloud Service is getting its value from the web.config even when it's running in azure and not the value listed in the cscfg.

[2015-04-18 21:41] brigs opened #1057 "Servicebus - NamespaceOperations - CreateAsync failing after first invocation"
The class NamespaceOperations in Microsoft.WindowsAzure.Management.ServiceBus contains a method called CreateAsync.The comment for this method states that it is idempotent, however, a HyakException (Wraps a HTTP 403 it seems) is thrown on all subsequent calls when invoking the method with the same parameters.

[2015-04-20 10:36] aosgo commented on #1053
Is 3.1.0 incompatible with ServiceRuntime 2.4??

More information on issue - http://stackoverflow.com/questions/29703622/cloudconfigurationmanager-getsetting-not-getting-value-from-cscfg-when-running

[2015-04-20 13:04] aosgo commented on #1053
It seems the role environment itself is throwing an exception, but Configuration Manager is just falling back silently to the web.config rather highlighting that there has been an exception in role.

[2015-04-20 14:25] #1053 closed

[2015-04-20 19:03] divyakgupta opened #1059 "Resource Manager - ResourceOperations.List - paging/nextLink bug"
The response from the ResourceOperations.List method is supposed to include the nextLink to get the next page of results. This value is always null, because the code is looking at "$odata.NextLink" to get the nextLink string, but it's actually sent as "nextLink". Paging for resources is essentially broken in ResourceManagementClient due to this issue. (Probably applies to other List operations lik

[2015-04-21 12:02] dcinzona opened #1061 "WindowsAzure.Storage.Table expects OData 5.6.2 - error when using 5.6.3"
We have a project that requires OData 5.6.3 and azure table storage.  Whenever we try to call methods against ATS, we get the following error:
`Microsoft.WindowsAzure.Storage.StorageException: Could not load file or assembly 'Microsoft.Data.OData, Version=5.6.2.0, Culture=neutral`
Our project references 5.6.3 and the nuget package for Azure Storage states >= 5.6.2 (so we assume 5.6.3 should work).

[2015-04-21 14:55] abramz commented on #854
Sorry to comment on an old issue.

I am currently working with the Data Factory preview, and while I have been able to authorize a user, I have their credentials in plain text in a config file. While I have some ideas on how to secure the credentials, I was wondering if you guys have guidance on the best way to do it?

[2015-04-21 20:59] brjohnstmsft opened #1063 "Search - JsonSerializationException when using model class with non-nullable value types"
### Repro
Create a custom model class with a property of non-nullable value type. For example, add a public UnitCount property of type int instead of int?

If you index a document with the default value of that type (e.g. -- 0 for int), the field will be null in Azure Search. If you subsequently search for that document, the Search call will throw JsonSerializationException complaining that it can

[2015-04-22 17:01] chuanboz commented on #996
close the issue as fix being incorporated

[2015-04-22 17:01] #996 closed

[2015-04-26 02:40] Brad-Christie opened #1068 "CloudException vs HttpStatusCode.NotFound/etc."
Maybe I'm being daft here, but is there a reason why the library throws a CloudException and doesn't just return the associated StatusCode? It seems odd that I would have to encapsulate these calls in try/catch (which is arguably an expensive proposition) when a StatusCode result should be sufficient? Case in point:

[code]

REST APIs are supposed to return 404, 200, etc. codes. It looks like you

[2015-04-26 13:34] teslavitas opened #1069 "WebSiteOperationsExtensions.GetUsageMetrics error when using Basic service plan"
I am getting "Must specify valid information for parsing in the string." Error when I am trying to obtain usage metrics. If I change service plan to "Shared" I am getting another error that is described here: https://github.com/Azure/azure-sdk-for-net/issues/904
webSpaceName and webSiteName parameters that I specify correctly work with other API methods.

[2015-04-29 17:07] f-aa opened #1075 "Unable to add Microsoft.WindowsAzure.Management.Libraries to Windows Phone Universal App"
When I try to install the Libraries package it gives me an error saying Microsoft.WindowsAzure.Management.Compute is not compatible.

Here are the steps I took to reproduce in a blank project called AzureTestApp.

Create new blank Universal App project.

    Install-Package Microsoft.WindowsAzure.Management.Libraries -Prerelease

This installs it into the Windows 8.1 project just fine. I then run

[2015-05-01 00:45] davihar opened #1079 "NamespaceManagerSettings Missing ConnectionString"
Why doesn't azure-sdk-for-net/src/ServiceBusManagement/Generated/NamespaceOperations.cs parse and return the service bus connection string through the NamespaceManagerSettings class?  This page indicates that it should be part of the returned content:

https://msdn.microsoft.com/library/azure/jj873988.aspx

[2015-05-01 00:47] davihar commented on #1079
I looked in Fiddler and it appears the connection string is always null.  That is probably why it isn't returned.

[2015-05-01 00:47] #1079 closed

[2015-05-01 00:52] davihar opened #1080 "How to use ServiceBusManagementClient to get authenticated NamespaceManager"
NamespaceManager takes NamespaceManagerSettings as a parameter which has a TokenProvider to enable authentication.  I don't have the Service Bus connection string but I have the Azure management certificate.  How can I use ServiceBusManagementClient to obtain the connection string or token information so I can create a NamespaceManager capable of creating Service Bus Event Hubs, etc?

Thanks

[2015-05-02 00:29] OneOfSome commented on #1080
ServiceBusManagementClient client = new ServiceBusManagementClient(credentials);
Code to do it:
var response = await client.Namespaces.CreateAsync(namespaceName, region, cancellationToken);
// you can create one here using CreateAuthorizationRule – below is the default one
var sasRule = await client.Namespaces. GetAuthorizationRuleAsync(namespaceName, “RootManageSharedAccessKey”, cancellationToken

[2015-05-03 21:32] devigned commented on #1063
I don't think that we should force custom models to have nullable primitive types. Perhaps zero is a perfectly fine value for a document property. Perhaps zero should be persisted to the data store rather than null.

[2015-05-04 18:45] brjohnstmsft commented on #1063
To do what you propose would require adding the concept of a default value and non-nullability to document fields in Azure Search. While we could do this in indexing and lookup, we're not able to simulate non-null semantics in filters and faceted searches. This is a consequence of how we store data -- namely, in an inverted index. "Null" is simply how we represent that a document value never appea

[2015-05-04 18:52] devigned commented on #1063
I'm just suggesting you should store the value the user put into the document rather than nulling it out.

0 == 0 not 0 == null

[2015-05-04 18:55] brjohnstmsft commented on #1063
Agreed, but that's only going to work with primitive types if we allow them only for document upload, not for retrieval. That seems to defeat the purpose of using a strongly-typed model at all.

[2015-05-04 18:58] devigned commented on #1063
I might be missing something, but why doesn't it work for retrieval? Could retrieval not send back a 0 as well?

[2015-05-04 19:01] brjohnstmsft commented on #1063
For that one value, yes. But what about other documents? In general it is very difficult to guarantee that all values for a field will be non-null (e.g. -- you can add new fields to the schema without re-indexing, in which case all values will start out as null). The type system we expose through the Azure Search REST API does not help to enforce non-nullness, nor should it for the efficiency reas

[2015-05-04 19:04] devigned commented on #1063
Would you consider things with a unit count of zero to be bloat to the index? How would you search for things with zero units?

[2015-05-04 22:59] brjohnstmsft commented on #1063
By "unit count", do you mean something like "units in stock" in a retail scenario? In that case, zero is a semantically important value, so it makes sense to explicitly store it in the index, even if it uses more storage. Putting it in the index ensures that searching for it is fast. Conversely, there are cases like "rating" where an item without a rating is not necessarily better represented with

[2015-05-06 05:10] Sam7 opened #1088 "WebSites.CreateOrUpdateAsync with slotName other than null breaks"
Creating a new website doesn't work as soon as a slotName other than `null` is defined
This affects the method `CreateOrUpdateAsync` in class `Microsoft.Azure.Management.WebSites.WebSiteOperations.WebSites`

### Exception details: ###

-----------------------
    System.AggregateException: One or more errors occurred. ---> Hyak.Common.CloudException: MismatchingResourceName: The provided resource

[2015-05-11 12:54] djfr opened #1094 "v2.6 fails a debug session if no Local ServiceConfiguration is present"
We had an issue where after we migrated to 2.6 from 2.5 we were getting:
2>unable to get setting value
2>Parameter name: profileNameError: Cancelled

When starting a debug session. Our continuous deployment pipeline where we package through MSBuild with /t:Publish and deploy with PowerShell was working fine.

This was because we don't have neither a Local or Cloud profile in the project. We use a

[2015-05-11 15:46] kzehrer opened #1096 "TableBatchOperation should be Thread Safe"
In order to be able to utilize the TPL and/or PLINQ to efficiently setup large batch operations, the TableBatchOperation class should be thread safe for adding operations to the batch.

[2015-05-15 04:13] brondavies commented on #1061
:+1:

[2015-05-15 04:24] brondavies commented on #1061
The pre-release nuget package for WindowsAzure.Storage that supports OData > 5.6.2 also cannot install if 5.6.3 is referenced
[code]

[2015-05-15 15:32] paragneve opened #1111 "HDInsight: JobDetails have incorrect StatusCode values when getting job using JobClient"
Hi,

I am using HDInsight .NET SDK for submitting Hive jobs to the cluster and I noticed that the JobDetails object have incorrect values when we get a job using JobClient(jobId).

For instance, I noticed that JobDetails object of a job which was "Failed" will have StatusCode value as "Completed".
See code snippet below:

jobDetails = await jobClient.GetJobAsync(jobId);
Console.Writeline(jobDetail

[2015-05-21 09:49] djfr opened #1126 "Can't create web space with the WebSites management library"
Currently there is no way to create a web space.
Trying to create a web hosting plan on a geo region that there is no web space for returns an exception.

This forces web site creation to have a manual step, to create a dummy web site in the target geo region through the portal, so that the web space is created by the normal and then the automation steps against that geo region can be run.

[2015-05-26 17:02] d-popov commented on #1006
I just updated to 3.1.0 via the NuGet package, and have the same problem? Any ideas? It was a part of the update to Azure SDK 2.6

[2015-05-28 21:54] NaveenGoli commented on #1088
PowerShell fix will be coming in the next release..

[2015-05-28 21:55] NaveenGoli commented on #1088
try the following..

            string webSiteSlotName = webSiteName;
            if (string.IsNullOrEmpty(slotName) == false)
            {
                webSiteSlotName = string.Concat(webSiteName, "/", slotName);

            }

            var createdWebSite = WrappedWebsitesClient.WebSites.CreateOrUpdate(
                        resourceGroupName, webSiteName, slotName,

[2015-05-28 21:55] #1088 closed

[2015-05-29 00:35] Sam7 commented on #1088
Thanks that's a good workaround

[2015-05-29 05:00] Sam7 opened #1136 "Unable to activate website autoswap config to production"
I'm trying to define a deployment slot to autoswap with production.
Since the production deployment slot name is null
I have to set `WebSiteUpdateConfigurationDetails.AutoSwapSlotName` to `null`
Which doesn't activate autoswap. A new property is required to activate AutoSwap.

[2015-06-01 23:03] mj1856 opened #1144 "Document code generation process"
A large amount of code in this project is marked as "Generated", but there's nothing in the project readme that explains how the code is generated.

- What is it generated *from*?  Where are the templates?
- What tool is used to generate it?

If I find a bug in one of the generated files, clearly it's not appropriate to send a pull request for those directly.  Instead, one would expect to make the

[2015-06-02 01:18] matt-gibbs commented on #1144
@mj1856 Will do.
The "Generated" code was produced with an "old" version of our code generator that isn't public. It wasn't using templates.
We are just finishing some changes to finish open sourcing the new version of the generator at https://github.com/azure/autorest
Today, it only has the client runtime pieces. The generator itself will be added in a few weeks. Saw the Twitter conversation abou

[2015-06-04 20:50] rogerguess opened #1149 "Assembly version conflicts with NuGet?"
I installed via nuget, and the client is not matching:

1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1819,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed.
1>CSC : error CS1705: Assembly 'Microsof

[2015-06-09 17:40] shefaliv commented on #1149
Hi Roger,
I’m on the HDInsight team and saw the issue on Github. Can you please try removing the current NuGet packages and downloading the latest NuGet packages (version 1.5.9 of Microsoft.Hadoop.Client and 1.5.9 of Microsoft.WindowsAzure.Management.HDInsight). Please shoot me an email if this doesn't work!

[2015-06-09 17:40] shefaliv commented on #1149
Can you please try removing the current NuGet packages and downloading the latest NuGet packages (version 1.5.9 of Microsoft.Hadoop.Client and 1.5.9 of Microsoft.WindowsAzure.Management.HDInsight). Please shoot me an email if this doesn't work!

[2015-06-10 14:41] rogerguess commented on #1149
I should have a chance to try later today. Thank you.

On Tue, Jun 9, 2015 at 12:40 PM, shefaliv <notifications@github.com> wrote:

--
Thanks,
Roger

[2015-06-12 17:37] pjirsa opened #1157 "AuthN fails trying to call ComputeManagementClient.VirtualMachines.ListAllAsync"
Trying to call this method using a compute client that was created using token credentials from a service principal in my AAD and getting the following error. Where is client id coming from? That is not the clientID of my service principle.

An exception of type 'Hyak.Common.CloudException' occurred in mscorlib.dll but was not handled in user code

Additional information: AuthorizationFailed: The

[2015-06-12 19:36] rogerguess commented on #1149
Those newer versions 1.5.9 are not showing up in nuget.

[2015-06-12 20:12] grant-d opened #1159 "armClient.Resources.CreateOrUpdate() throws NullReferenceException"
The call below actually succeeds (it creates the DB) but throws a CloudException in Hyak.
Using Hyak 1.02

System.NullReferenceException occurred
Message: Exception thrown: 'System.NullReferenceException' in Hyak.Common.dll
Additional information: Object reference not set to an instance of an object.

Here's the error message from the CloudException:
{"operation":"CREATE DATABASE","startTime":"\/D

[2015-06-15 08:07] karldodd opened #1163 "Is Microsoft Avro a general purpose Avro library?"
Hi,

We are evaluating C# Avro libraries in order to serialize .net objects into avro format. Is Microsoft Avro library designed to be an Azure-Only/HDInsight-only? Or is it a general purpose lib for any Hadoop compatible systems? Thanks.

Btw, we can find little documentations about the lib except this one: https://azure.microsoft.com/en-gb/documentation/articles/hdinsight-dotnet-avro-serializati

[2015-06-15 17:30] shefaliv commented on #1149
Not sure why the cache isn't refreshing in the manager. Can you try the install command shown here to install it? https://www.nuget.org/packages/Microsoft.WindowsAzure.Management.HDInsight/

[2015-06-16 18:36] dtessier82 opened #1169 "CreateOrUpdateAsync in Microsoft.Azure.Management.ApiManagement.ApisOperations Deletes Operations when Updating API"
Operations associated to an API are deleted when updating via CreateOrUpdateAsync in Microsoft.Azure.Management.ApiManagement.ApisOperations.

[2015-06-16 20:23] ldemidov opened #1172 "Sql DacOperations.ImportAsync does not include ServiceObjective"
The ServiceObjective parameter is not available for the ImportAsync method.  The REST api does support it as written here:
https://msdn.microsoft.com/en-us/library/azure/dn781284.aspx?f=255&MSPPError=-2147217396

Would be easy enough to add it to the ServiceManagement/Sql/SqlManagement/Generated/DacOperations.cs file, but this looks like auto-generated code and I don't know the right process to up

[2015-06-17 04:33] matt-deboer commented on #755
Hi All,
It seems that this issue still exists in the current version of the API.

[2015-06-17 04:43] matt-deboer commented on #755
Nevermind; just realized that this particular operation wants 'text/plain' for the xml document.

[2015-06-17 15:36] configdude opened #1175 "Azure SDK v2.6 Install - Microsoft.WindowsAzure.ServiceRuntime Removed From GAC"
On multiple machines (Server 2008 R2 and Server 2012R2) had Azure SDK v2.3, 2.4 & 2.5 side by side.  When installing v2.6 with web platform installer Microsoft.WindowsAzure.ServiceRuntime v2.3 was removed from the GAC, causing VS projects still using v2.3 to no longer compile.

[2015-06-17 17:50] matt-gibbs commented on #1157
Hello @pjirsa . Did you put your service principal in a role with sufficient permissions? From the message, it looks like you are getting authenticated. There are a few guids in place (AD application and service principal). The guid displayed may be for the application object instead of the service principal. If the SP has permissions already and you are seeing this, you can PM me and we can get s

[2015-06-18 00:38] matt-gibbs commented on #1163
The codeplex site has additional documentation https://hadoopsdk.codeplex.com/wikipage?title=Avro%20Library
It is an implementation of the Apache avro definition. It does not include RPC support.
The codeplex site is probably the better place to post specific questions or report issues.

[2015-06-18 00:38] #1163 closed

[2015-06-18 01:05] matt-gibbs opened #1177 "NullReferenceException when trying to initialize an instance of ComputeManagementClient with an HttpClient"
C# issue filed in the Java repo
Copied over here.
https://github.com/Azure/azure-sdk-for-java/issues/479

using (var messageHandler =  new HttpClientHandler {ClientCertificateOptions = ClientCertificateOption.Automatic })
using (var httpClient = new HttpClient(messageHandler ))
{
    httpClient.DefaultRequestHeaders.Add("User-Agent", new []{"Microsoft.WindowsAzure.Management.Compute.ComputeManagem

[2015-06-19 17:06] matt-gibbs commented on #1144
Readme updated to direct generated code issues to the AutoRest project.  Code-generators being added to AutoRest project next week.

[2015-06-19 17:06] #1144 closed

[2015-06-20 21:27] mj1856 commented on #1144
Thanks!

[2015-06-20 21:30] mj1856 commented on #1144
Except the link to autorest is broken.  I think just a typo in the markdown.

[2015-06-22 17:31] davecader opened #1191 "Runbook parameters not returned."
The RunbookProperties.Parameters collection that is is included int the Runbooks returned by the RunbookOperationsExtensions.ListAsync method is invariable empty, even for runbooks that are known to have parameters.

[2015-06-23 13:12] riccardobecker opened #1197 "Hyak.Common.CloudException"
Hi there,

i've upgraded the Service Management Libraries to the latest versions. Creating a SB namespace used to work before by using CertificateCloudCredential but now it suddenly fails by throwing and
Hyak.Common.CloudException (ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription.).

I am running this piece

[2015-06-23 18:15] pjirsa commented on #1157
Hi @matt-gibbs I discovered that I was trying to authenticate with a management certificate key instead of using client credentials and token auth.
Thanks.

[2015-06-23 18:15] #1157 closed

[2015-06-23 18:18] pjirsa opened #1198 "ComputeManagementClient fails to find VM"
I have a VM in my azure subscription that is listed as ResourceType=Microsoft.ClassicCompute/virtualMachines. I can see this resource when calling ResourceManagementClient.ListAll. But, when I pass the ResourceGroupName and VM name to ComputeManagementClient.Get, it fails to find the VM. Is there a way to get the details for this VM without going back to the v1 SDK?

[2015-06-23 22:17] gregorypilar opened #1200 "Access DNS"
Hi, I'm trying to access the dns feature through the api  but im getting this error

An exception of type 'Hyak.Common.CloudException' occurred in Microsoft.Threading.Tasks.dll but was not handled in user code

Additional information: AuthorizationFailed: The client 'bc0524ef-7afc-4b78-9497-a266473de305' with object id 'bc0524ef-7afc-4b78-9497-a266473de305' does not have authorization to perform a

[2015-06-24 19:59] grant-d commented on #1159
I just found the same behavior when trying to resize an existing database. When making a similar call to above, but this time using a different 'maxSizeBytes' value, the call fails client-side with the following, even though it succeeds on Azure.

{"operation":"AlterDatabaseOperation","startTime":"\/Date(1435174974927+0000)\/"}

[2015-06-25 00:43] stankovski commented on #1159
@akromm please review

[2015-06-25 01:08] stankovski commented on #1177
@matt-gibbs this has been resolved in the latest version of Azure Client Runtime (https://github.com/Azure/autorest)

[2015-06-25 01:08] #1177 closed

[2015-06-25 06:30] amang2205 opened #1202 "Azure Search unit tests fail when using a different time zone"
When using a different time zone, 3 unit tests fail, namely:
- CanWriteLocalDateTime: as it turns out, the expected and actual values are different, more specifically rather than returning "2000-01-01R00:00:00-02:00", the test returns "2000-01-01T00:00:00+02:00". The fun though is that the actual value is correct and the different comes from the expected value being hardcoded to contain a negative

[2015-06-25 06:35] brjohnstmsft commented on #1202
The failures were observed when the tests were run in the UTC+02:00 time zone, making it likely that the tests are specific to UTC-08:00 (that's a 10 hour difference). I'll investigate.

[2015-06-28 00:23] johncrim opened #1206 "Avro JsonSchemaBuilder: "fixed" type references fail to resolve"
This Avro schema works with JsonSchemaBuilder:

[code]

However this one fails:

[code]

The reference to fixed type named `"System.Guid"` fails, with this call stack:

[code]

This prevents reading Avro streams which contain such schema elements using `AvroContainer.CreateGenericReader`.

[2015-06-28 00:53] johncrim commented on #1206
Note that this bug was fixed here:
https://github.com/hdinsight/azure-sdk-for-net/commit/27d1ba62479f7dc3bfcd2a61a63144918489a9a9

But the public nuget build of Microsoft.Hadoop.Avro (1.5.6) still exhibits the bug.  I'll contribute a test case.

[2015-06-28 15:01] johncrim commented on #1206
Pull request with a test for this issue:
https://github.com/Azure/azure-sdk-for-net/pull/1207

As noted in the PR, this issue has already been fixed in the hdinsight branch (in hdinsight@27d1ba6).

In the event that the hdinsight branch won't be merged for some time, the diff for the fix is here:
https://hadoopsdk.codeplex.com/SourceControl/network/forks/johncrim/bug76/changeset/92f1ca56a6be94f5a9

[2015-06-29 10:59] GarethBradshawMSFT commented on #1200
Does authenticationResult.AccessToken contain a value (it should be a long string of characters and numbers) and does authenticationResult.AccessTokenType contain the value "Bearer"?  You should also check the ExpiresOn field and the UserInfo to make sure that's correct.

Gareth

[2015-06-29 11:55] jack71 commented on #1206
:+1:

[2015-06-29 17:17] davecader opened #1208 "Create automation connection fails with bad request exception."
I have using the ConnectionOperationsExtensions.CreateAsync method to create a new connection in an Azure Automation account. I am supplying all of the required values for the ConnectionCreateParameters parameter including the dictionary of connection field values.

The method invariably fails with a BadRequest exception with the message "Argument 'ConnectionFieldDefinitionData.Value' cannot be em

[2015-06-29 22:23] markcowl commented on #1197
@riccardobecker Thank you for the report, we will take a look and get back to you.

Meanwhile, can you provide any information on the messages going back and forth between the client and server?  You can use one of the published libraries for tracing:
http://www.nuget.org/packages/Microsoft.WindowsAzure.Common.Tracing.Etw/
http://www.nuget.org/packages/Microsoft.WindowsAzure.Common.Tracing.Log4Net

[2015-06-29 22:38] markcowl commented on #1200
@gregorypilar There are several things that could be the issue - it could be that the credentials you are using have not been granted access to that resource group or resource (through RBAC), it could be that the token you have acquired is not for the tenant containing the subscription you are using.

Given this particular message, this seems like an actual authorization issue for that resource.

[2015-06-29 22:42] markcowl commented on #1198
@pjirsa Unfortunately, you will only be able to manage this VM right now using the old (RDFE) compute library.  Routing this to the appropriate folkjs so they see the feedback.

[2015-06-29 23:17] markcowl commented on #1206
@johncrim  Thanks for the report and contribution.  Assigning to the service team to review

[2015-06-29 23:57] markcowl commented on #1208
@davecader Thank you for the report, assigning to the automation team to investigate

[2015-06-30 01:35] markcowl commented on #1202
Assigning to the appropriate internal team

[2015-06-30 13:01] gregorypilar commented on #1200
Thanks @markcowl  that solve the problem :+1:

[2015-06-30 13:01] #1200 closed

[2015-07-01 22:14] jabeerni opened #1212 "Remove BCL Dependency"
Would it be possible to remove the dependency on BCL? The Azure SDK 2.4 has a bug in it which loses the web.configs if built with BCL. Since 4.5 apps don't need BCL, it would be great not to take this dependency.

[2015-07-02 01:02] azurecompliance4 commented on #1212
We are in the process of migrating to the [AutoRest](https://github.com/azure/autorest) generator. The BCL dependency will only be pulled in with the downlevel NuGet packages.

[2015-07-02 01:02] #1212 closed

[2015-07-02 18:45] veena-udayabhanu commented on #1061
Sorry for the late response. Azure Storage SDK has been moved to - https://github.com/Azure/azure-storage-net/ and we regularly monitor that repository for issues. Please report new issues on that repository going forward. Regarding this issue, how did you install the Storage SDK? If you installed it from Nuget, then Nuget should have already taken care of adding the required binding redirects. Ca

[2015-07-02 20:11] veena-udayabhanu commented on #785
Sorry for the late response. The Storage SDK has been moved to - https://github.com/Azure/azure-storage-net/ and we regularly monitor issues on that repository now. Regarding this issue, please see https://msdn.microsoft.com/en-us/library/azure/dd179392.aspx that explains Merge operation in detail. From that link - "Any properties with null values are ignored by the Merge Entity operation. All oth

[2015-07-02 21:53] GuardRex commented on #785
@veena-udayabhanu Thanks. I think you're correct: It's probably just that `Merge` doesn't update properties to `null`; therefore `Update` should work in that case.

[2015-07-02 21:53] #785 closed

[2015-07-06 01:26] ammaroff opened #1217 "Scale service bus"
Enable to scale service bus capacity
![image](https://cloud.githubusercontent.com/assets/4321246/8514378/cef696ea-23d1-11e5-98ee-d85e0e90a827.png)

[2015-07-06 15:32] akromm commented on #1159
@stankovski This is because the API we have is Async and returns 202 ACCEPTED with a location header set.  If I remember correctly we had a bug previously in our client where Null ref would get thrown but that was fixed in our specs.  Does the generic resource APIs handle the 202 async pattern?

[2015-07-06 17:33] veena-udayabhanu commented on #1096
Can you give us more information on your scenario? A batch operation can contain at most 100 operations. Adding them in parallel will probably not help you much because adding an operation is a very small operation.

[2015-07-07 01:09] matt-gibbs opened #1223 "use "normalized" name for location in ARM responses"
Azure locations can be specified without regard to case and with embedded spaces:
"West US" or "west us" or "westus"
Some of the REST APIs return the friendly version: "West US"
Others return the "normalized" version: "westus"

The result is that comparing locations of resources requires client-side code to normalize all location strings before comparing them.
Have all the Azure REST APIs use a si

[2015-07-07 11:40] mikeblakeuk opened #1224 "Please add Power BI to Microsoft.Azure.Management.StreamAnalytics.Models"
As the Streaming Analytics NuGet package is in Preview, please add PowerBI as an Output Source.
Thanks

[2015-07-07 13:48] levalencia opened #1225 "CryptographicException Additional information: The system cannot find the file specified"
I want to create a sql azure DB by code, when I tried I get this error.

http://stackoverflow.com/questions/31250132/cryptographicexception-additional-information-the-system-cannot-find-the-file-s

The code is based on this article
https://code.msdn.microsoft.com/windowsazure/How-to-create-a-Azure-SQL-5157ce03

[2015-07-07 14:37] dcinzona commented on #1061
This has been resolved for me.  Closing the issue

[2015-07-07 14:37] #1061 closed

[2015-07-09 08:33] FreekPaans opened #1234 "MetricsClient opens new socket on every request, starving ephemeral ports when doing lots of request to the API"
Hi all,

I use MetricsClient to fetch metrics about my cloud sevices (VMs and web/worker roles). When I'm doing a lot of calls, I've found that there are a lot of sockets open to management.core.windows.net. I've debugged this to the point where I found that every call to the API opens a new ConnectionGroup in the ServicePoint for management.core.windows.net, this causes the connections not being

[2015-07-09 17:05] kspearrin opened #1236 "Service Bus OnMessage Abandon - ObjectDisposedException"
I am using the following code:

    var options = new OnMessageOptions
    {
        AutoComplete = false,
        MaxConcurrentCalls = 1
    };

    m_client.OnMessage( async ( message ) =>
    {
        try
        {
            // await something

            message.Complete();
        }
        catch
        {
            message.Abandon();
        }
    }, options );

NOTE: `m_client` is a `

[2015-07-09 21:30] vivsriaus commented on #879
@cbroussa Apologize for the delay here. The MSDN article you linked in the comment above is for creating a hosted service (exposed as a cloud service in management portal) in Azure. The CloudServiceManagement client is used to create a "cloud service" that is only meant to be internally used by Azure Resource Providers, like Scheduler for instance. More info on this is here: https://msdn.microsoft

[2015-07-10 12:58] ganeshpande opened #1243 "Getting an error --The api-version query parameter (?api-version=) is required for all requests--while querying with NetworkManagementClient"
I am consuming the NetworkManagementClient class as shown below and getting the error:
  "The api-version query parameter (?api-version=) is required for all requests."
Am I missing anything here? Can someone please help?

var subscriptionCloudCredentials = new TokenCloudCredentials( mySubscriptionId, myAuthToken);
var networkManagementClient = new NetworkManagementClient(subscriptionCloudCredenti

[2015-07-12 20:11] astaykov opened #1251 "Folders with space in name are packed as %20 in the Cloud Service Package"
Using SDK 2.2, 2.5 or 2.6 (do not have other versions to confirm), with either Web or Worker roles, if I have a folder name that contains spaces, those are wrongly encoded into %20 when the cloud service package is created.
The problem is illustrated here:
![cloudservice_issue](https://cloud.githubusercontent.com/assets/1152756/8639738/ecb2fe9c-28e2-11e5-9cdc-a203b9cb1bfe.png)

[2015-07-13 14:13] kspearrin commented on #1236
It seems that switching to `OnMessageAsync()` solved the problems:

    var options = new OnMessageOptions
    {
        AutoComplete = false,
        MaxConcurrentCalls = 1
    };

    m_client.OnMessageAsync( async ( message ) =>
    {
        try
        {
            // await something

            message.CompleteAsync();
        }
        catch
        {
            message.Abandon();

[2015-07-14 06:41] ailn commented on #1169
Hello @dtessier82 . This is a known issue but anyway thanks for reporting it. It's actually not an SDK issue but REST API. I hope the fix will be ready in couple of weeks. As a workaround you can use PatchAsync method.

[2015-07-14 09:43] riccardobecker commented on #1197
Mark, I had some old assembly references flying around. Fixed it by now.

[2015-07-14 20:33] lkempf opened #1255 "Error when using VS 2015 as remote debugger"
Using WebsiteManagementClient.GetSiteWithCache() on a WebApp with remote debugging with VS 2015 causes an error. I had this problem with azure-powershell but since the azure-powershell team chose to ignore the bug (or didn't want to update it) I tracked it down to this lib myself. This is coming from https://github.com/Azure/azure-powershell/issues/462.
This can probably be fixed be regenerating t

[2015-07-16 14:21] #1243 closed

[2015-07-16 14:49] ganeshpande commented on #1243
This issue was opened in error. I was using different base URI which caused the error.

[2015-07-17 18:59] brjohnstmsft opened #1259 "Search SDK: Provide a custom "ignore" attribute to exclude properties from serialization"
From this issue on User Voice: http://feedback.azure.com/forums/263029-azure-search/suggestions/8905012-provide-azure-specific-json-ignore-attribute#comments

"I had a need to ignore properties from the search index (and not defining it as a field threw an error). The provided way to do that is a JsonIgnore attribute, but in this instance I also needed to serialize the object for something else wh

[2015-07-17 19:01] brjohnstmsft commented on #1259
This issue falls into the same bucket as this one: https://github.com/Azure/azure-sdk-for-net/issues/1063

We'll address them together before the first non-preview release of the SDK.

[2015-07-17 21:01] markcowl commented on #1236
@djrosanova Dan, can you take a look at this?  Closing because the isue seems to be resolved for this customer, and the servicebus dll source code is not in this repository.

[2015-07-17 21:01] #1236 closed

[2015-07-17 21:02] markcowl commented on #1234
@FreekPaans Thank you for the feedback.  Assigning to the service team to investigate.

[2015-07-17 21:18] markcowl commented on #1224
@mikeblakeuk Thank you for the feedback.  Assigning to the appropriate team for investigation.

[2015-07-18 08:10] FreekPaans commented on #1234
Thank you. I should add that this doesn't happen if you reuse the MetricsClient instance, only if you create a new one for every request. Either way, the connections are not cleaned up if you dispose the MetricsClient.

[2015-07-19 22:02] tonytang-microsoft-com opened #1264 "Discussion: runtime package dependency for autorest"
Hi,

I'm working on AutoRest branch, which currently have Microsoft.Rest.ClientRuntime.1.0.3 and Microsoft.Rest.ClientRuntime.Azure.1.0.12 hard coded in tools\references.net45.props.

I want my sdk to use a higher version (latest one)  runtime, however if I leverage Library.Settings.targets, the lower version shown above  will be added as a reference automatically.

My question is what is our stra

[2015-07-21 04:09] yugangw-msft commented on #1264
we will allow each sdk lib to sue different runtime package. Check out my PR

[2015-07-22 21:37] tsunami-kevin opened #1276 "CloudConfigurationManager.GetSetting returns null after updating to Azure Tools 2.7 and Microsoft Azure Configuration Manager 3.1.0"
I have a cloud service with a web role and some worker roles that was previously working fine using Azure Tools 2.5 and Microsoft Azure Configuration Manager 2.0.3. After updating to Azure Tools 2.7 and Microsoft Azure Configuration Manager 3.1.0 and updating the namespace change (Microsoft.WindowsAzure -> Microsoft.Azure) the CloudConfigurationManager.GetSetting always returns null.

[2015-07-24 00:42] bgold09 opened #1287 "preserve case of dictionary keys on serialization"
For Data Factory model types, any property type of IDictionary<string, T> should preserve the case of the string keys on serialization.

For instance, if the dictionary is initialized as
{
  "Key1" : "property1"
}

then it should be serialized as the same.

[2015-07-24 04:37] bgold09 commented on #1287
Does anyone know why the CI bot unassigned this issue? This was a useful tracking mechanism for me.

[2015-07-24 06:47] devigned commented on #1287
Hmm... Idk, but will look into it.

[2015-07-25 07:44] tonytang-microsoft-com opened #1293 "Scenario Tests fails randomly"
NullReferenceException and KeyNotFoundExceptoin is thrown randomly randomly when running multiple tests. It failed around HttpMockServer.records. If run one test at a time, then test passes. So looks like it's a timing issue when accessing the static member.

[code]

[code]

[2015-07-25 10:24] kzehrer commented on #1096
Sorry, this email got buried and I did not see it until now.  While 100 operations may not be a very large number, which it’s not, in a high-performance environment such as a cloud site, even 100 operations being set in a batch can benefit from using Parallel.ForEach as opposed to a serial foreach loop.

Currently, using a Parallel.ForEach to setup the operations in a TableBatchOperation will lead

[2015-07-26 06:09] omerlh opened #1294 "Issue with GetUsageMetricsAsync in WebSiteOperations"
Hey
I tried to use this instead of pulling the metrics with the metrics client. Look like it has some bug (or problem with our environment), because for all the sites and all the metrics it return SiteMode as null, which fails the parsing. For example:

[code]

Also, it look like this API return less data then the metrics client. I would like to know what is the different between this API and mMet

[2015-07-27 23:16] #1287 closed

[2015-07-31 00:50] #1264 closed

[2015-08-03 20:57] roy128 commented on #1206
:+1:

[2015-08-11 04:55] kiwidev opened #1357 "Calling WithHandlers using more than 2 handlers disposes handlers immediately"
Calling .WithHandlers(handlers) with more than 2 handlers (when using TokenCloudCredentials) causes them to be immediately disposed and then throw errors on use.

A workaround is to use .WithHandler multiple times (as the intermediate Clients are not disposed).

Test cases:

    public class HttpClientHandlerDisposingTests
    {
        [Fact]
        public void CreatingAClientShouldntDisposeHand

[2015-08-12 02:46] bvirkler opened #1362 "BaseUri is not initialized in some constructors of SubscriptionClient (ARM)"
Some of the ARM [SubscriptionClient](https://github.com/Azure/azure-sdk-for-net/blob/9154888d1ddbfe84cac0d86492f4bd6b99ed06ff/src/ResourceManagement/Resource/ResourceManagement/Generated/SubscriptionClient.cs) constructors leave the baseUri null while others set it to a default value of "https://management.azure.com/".

Shouldn't all constructors that don't accept baseUri as a parameter set it to

[2015-08-12 12:28] NickMoores opened #1363 "Search SDK: Allow additional methods to control serialization of custom types"
Hello,

I would be quite keen to see clients of the Search SDK allowed access to some of the JSON serialization settings, particularly the IContractResolver being used.

I am creating some extensions that, using the Search SDK, allow attributes to be defined on class properties, which can then be used to build an index definition dynamically and create it in Azure Search (similar to Entity Framewo

[2015-08-12 21:41] brjohnstmsft commented on #1363
Hi Nick,
I'm working on a fairly substantial update to the Search SDK right now, and many of the improvements should make working with model classes much easier. I'll make sure your scenario is covered.

Also, in the longer term I'd like to see us add the ability to create index definitions from model types as part of the SDK itself. That might be an area where we'd like to accept contributions fr

[2015-08-12 21:43] brjohnstmsft commented on #1363
Some related issues that I'm also looking to address in the big update I'm working on: https://github.com/Azure/azure-sdk-for-net/issues/1259
https://github.com/Azure/azure-sdk-for-net/issues/1063

[2015-08-13 12:32] NickMoores commented on #1363
Very cool - thanks!  I'll keep an eye on updates.

[2015-08-14 22:18] althomps opened #1370 "Memory allocations in BinaryEncoder"
Hello,

I'm memory profiling Avro serializer, and for types that contain a string, it's allocating memory in every call to Serialize() -- with a call to Encoding.UTF8.GetBytes() in Encode(string).  Is this something you would consider addressing?

Thanks

[2015-08-18 18:44] markcowl commented on #1251
@astaykov This repo is for azure management sdks - the visual studio tooling is managed elsewhere.  Can you please raise this issue in the appropriate forum?

[2015-08-18 18:44] #1251 closed

[2015-08-18 18:51] markcowl commented on #1255
@FuUuUuUoO Can you please provide more detail?  What is the error that you are getting?  Without more information, we cannot track this down.

[2015-08-18 19:05] markcowl commented on #1276
@tsunami-kevin Thank you for the report.  Assignign to the appropriate team for resolution.

[2015-08-18 19:16] markcowl commented on #1293
@tonytang-microsoft-com Currently, tests must be run in sequence, you can do this using attributes in xunit as in this example:https://github.com/Azure/autorest/blob/master/AutoRest/Generators/CSharp/CSharp.Tests/AcceptanceTests.cs

We have a separate issue tracking removal of the singleton from mocked tests which prevent simultaneous execution int he same process.  Closing this as a duplicate for

[2015-08-18 19:16] #1293 closed

[2015-08-18 19:16] markcowl commented on #1294
@omerlh Thank you for the report.  Assignign to the appropriate team for resolution.

[2015-08-18 19:52] markcowl commented on #1357
@kiwidev Thanks for the report.  We will take a look.

[2015-08-18 20:00] markcowl commented on #1362
@bvirkler The underlyingissue is that the constructors which do not take required parameters (credentials) should be protected.  This is fixed in the newly generated clients using autorest https://github.com/Azure/autorest, you should see new clients using the new generator in the coming months that will solve the issue.

[2015-08-18 20:00] #1362 closed

[2015-08-19 04:49] omerlh commented on #1294
Thank you!

From: Mark Cowlishaw [mailto:notifications@github.com]
Sent: Tuesday, August 18, 2015 10:17 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: Omer Levi Hevroni <omerl@SOLUTOLTD.onmicrosoft.com>
Subject: Re: [azure-sdk-for-net] Issue with GetUsageMetricsAsync in WebSiteOperations (#1294)

@omerlh<https://github.com/omerlh> Thank you for the report. Assignign to t

[2015-08-19 20:36] haltunbay opened #1382 "Avro Serializer does not support IEnumerable<string>"
I have a simple class that has a field type of IEnumerable<string>.  While trying to serialize it with reflection I got SerializationException with message "Could not find any matching known type for ..."

Class to serialize

[code]

The line causes exception

[code]

[2015-08-19 20:44] brjohnstmsft commented on #1202
This has now been fixed.

[2015-08-19 20:44] #1202 closed

[2015-08-20 07:23] ganeshpande opened #1385 "AuthenticationFailed: The JWT token does not contain expected audience uri 'https://management.core.windows.net/'."
I am getting the following error while trying to list Virtual Networks using client authenticated using Token creds. Shouldn't the NetworkManagementClient class be setting the base URI properly?
In the code I can see that, it is set to 'https://management.core.windows.net' and not 'https://management.core.windows.net/'

Is the '/' at the end causing the issue?

Microsoft.WindowsAzure.CloudExceptio

[2015-08-20 16:08] fabiomaulo opened #1387 "BlobContainer ListBlobsSegmentedAsync with searchPattern"
Useful to have
An overload of ListBlobsSegmentedAsync with a 'searchPattern'.
Similar to Directory.GetFiles()
Thanks.

[2015-08-20 16:55] fabiomaulo commented on #1387
A client side implementation using a Func as a match (the user can use anything including regex)
https://gist.github.com/fabiomaulo/29fec2240c0b6c4b842e

[2015-08-23 06:13] wiltodelta commented on #1276
+1

[2015-08-25 00:10] alexstoddard opened #1398 "Transient TaskCanceledException in management libraries."
We have been using the management libraries in the development of an IaaS automation solution. Through experience and documentation we have learned which exceptions are transient and which are fatal. In most cases, exceptions are specific enough. Some go so far as to indicate exactly when an operation can be retried. Recently in QA we observed an exception sourcing from the management libraries wh

[2015-08-27 08:25] wouterdb opened #1404 "Hive can not access additional storage accounts"
Hi,

I'm trying to hook up additional storage accounts to hive.
With a linux based HDinsight/Hive cluster, this is no problem.

However, via the SDK, to a normal HDinsight/Hive, it does not work.

The code I'm using is

[code]

The result is

[code]

I've been trying to get this to work, both via command shell and C# SDK, both nothing works.

Could you investigate,
Thanks,
Wouter

[2015-08-28 22:33] singhkay commented on #838
Closing as haven't heard back from OP in 6 months. Please reopen if still an issue

[2015-08-28 22:33] #838 closed

[2015-08-28 22:49] singhkay commented on #1011
From our dev @huangpf
By design, the field 'ResourceExtensionReferences' is designed to be 'LazyInitialized', which means, if this code is not referred or 'touched' anywhere (like in Debug mode), it would be null.

If it's accessed somewhere, it would be empty list, for example, the following line will make it an empty list:

Console.WriteLine(role.ResourceExtensionReferences);

[2015-08-28 22:50] #1011 closed

[2015-09-01 00:44] NNM11 opened #1413 "Azure SDK NuGet package not compatible with Universal App (win10 UWP)"
I try to create a C# Universal EventHub client app / an IoT Core Background App.   When I use the NuGet manager to install the Azure Service Bus package (version 3.1) to the project, the tool returned error Incompatible.

Is the Azure SDK supported Universal (Win 10 UWP) apps anytime soon?

Thx,

[2015-09-08 23:30] sergsalo opened #1422 "HybridConnection type does not have ListenerCount as a property"
Hi,
I have implemented limited set of functionality using hybrid connection REST API https://msdn.microsoft.com/en-us/library/azure/dn743830.aspx
I was looking through mgmt library and found that you guys added ability to pull HybridConnection using WebSiteManagementClient: client.WebSites.GetHybridConnectionAsync. I would be glad to update to your mgmt library, but HybridConnection object does no

[2015-09-10 13:14] fabiomaulo opened #1424 "Receiving WrappedStorageException and it is internal"
For tests scope I'm using this code
    public static async Task< bool > ExistFile(string storageConnectionString, Uri blobName)
    {
        var account = CloudStorageAccount.Parse(storageConnectionString);
        var blobclient = account.CreateCloudBlobClient();
        var fullUri = blobclient.BaseUri.CombineRelative(blobName);
        try
        {
         var bref = await blobclient.GetBlo

[2015-09-10 19:18] krist00fer opened #1426 "CreateOrUpdate(...) throws Hyak.Common.CloudException... most of the times"
Both the CreateOrUpdate(...) method and the CreateOrUpdateAsync(...) message throws CloudException . At least most of the times. I've managed to get it to work a couple of times while trying to debug, but most of the times the call throws an exception, while the resource is still created in Azure.

Sample Code:

[code]

Exception Details:

[code]

[2015-09-14 13:45] maartenba commented on #1276
Having the exact same issue with Azure Tools 2.7 and 3.1.0. Spent a few hours downgrading version by version and deploying, and found all versions down to 2.0.3 having a similar issue where they would not read the value from the role's settings and instead fall back to the Web/App.config value.

Works fine in the development emulator but not on Azure.

[2015-09-14 18:59] tsunami-kevin commented on #1276
I was able to get it to work by reverting back to my changeset prior to the upgrade and then upgrade each package one by one. It also involved editing the csproj and package files to make sure the version and reference hintpaths were correct.

[2015-09-15 20:21] akonyer opened #1432 "Azure KeyVault Active Directory AcquireTokenAsync timeout when called asynchronously"
AcquireTokenAsync does not work after the first active directory authentication token expires.

I'm trying to authenticate against Azure KeyVault using some code from the 'Hello Key Vault' sample application. I am able to authenticate and get a new token properly after the first 1 hour token expires using AcquireToken, but not AcquireTokenAsync.

[code]

I opened up a question on Stack Overflow ou

[2015-09-16 13:15] SylviaJ opened #1437 "SearchIndexClient.Documents.Index() method - properties set to default value are being saved as null instead of their actual value"
I am using the SDK to upload or merge documents but there seems to be a bug with the json serialization that sets properties with their default value to null instead of using the default value.

My Code:

    SearchIndexClient indexClient = SearchClient.Indexes.GetClient(index.IndexName);
    var actions = docsToUpload.Select(doc => IndexAction.Create(IndexActionType.MergeOrUpload, doc));
    var

[2015-09-16 17:53] GuCoder opened #1438 "The JsonConvert.Serialize/Deserialize uses the default JsonConvert settings in a few places within Azure Search"
Within Azure Search, the JsonConvert.SerializeObject/DeserializeObject method calls are not provided with JsonSerializerSettings, and use the default settings, that may have been modified by the user.

Because of this, when the user specifies the ContractResolver to be a CamelCasePropertyNamesContractResolver, internal deserialization of objects such as the IndexResult object (which has a field na

[2015-09-16 18:15] brjohnstmsft commented on #1437
This is a known issue, tracked here: https://github.com/Azure/azure-sdk-for-net/issues/1063

You'll need to use nullable types in your model class:

    public class MyClass {
        public string DocumentId { get; set; }
        public bool? IsArchived { get; set; }
        public int? OrderBy { get; set; }
    }

[2015-09-16 18:15] #1437 closed

[2015-09-16 18:16] brjohnstmsft commented on #1438
Thanks for reporting this. We'll fix it in the next release.

[2015-09-17 06:18] SylviaJ commented on #1063
I'm sorry, but I don't agree with this comment at all
"In the meantime, we can fix this scenario on the client by requiring primitive types to be nullable."

This is not a solution at all.
Instead for my solution I have had to NOT use this SDK for the uploading of my documents so I can get the correct values into the search index. Instead have had to use the REST API directly and do my own seriali

[2015-09-17 06:52] SylviaJ commented on #1063
Another scenario where the actual value should be in the index. Say your model has a nullable Boolean. You have 3 possible values, true, false, null. Say you want to filter by null. Because your json serializer is converting all falses to null you are going to get back all of the false matches as well as the null matches. And say that you actually then want to filter by false values. You are going

[2015-09-18 20:50] brjohnstmsft commented on #1063
I totally agree that the current behavior of serializing default values of non-nullable primitive types (e.g. -- `int`, `bool`) to null is incorrect, and I'm sorry that it has caused you trouble.

With the current release of the SDK, the only way to avoid this behavior is to use nullable primitive types in your model classes (e.g. -- `int?`, `bool?`). There have been several other customers that h

[2015-09-21 13:45] andreabeggiato-geekcups commented on #1276
Why every time I try to update to a newer Azure SDK/tool thing stop working? The only solution for the moment is to downgrade?

[2015-09-21 17:43] tonithenhausen opened #1442 "ComputeManagementClient Authentication with Certificate"
Hi, I am using the latest stable 9.0 release of the `ComputeManagementClient` with a management certificate from a publish-settings file.

I get a `CloudException` AuthenticationFailed: The 'Authorization' header is not present or provided in an invalid format. The same certificate works for the `StorageManagementClient`.

[code]

[2015-09-21 22:05] mayurid commented on #1442
@tonithenhausen : Only ASM client works with Certs. It looks like you are using this ARM client which uses AAD auth and hence it needs an Authorization header.

[2015-09-21 22:07] #1442 closed

[2015-09-21 22:10] devigned commented on #1432
I bet someone forgot a ConfigureAwait(false) and it never gets back to the right thread.

[2015-09-21 22:23] devigned commented on #1424
Thank you for reporting and we're sorry you ran into this. The Storage team has been alerted.

[2015-09-21 22:26] devigned commented on #1413
This is in our backlog and we are working towards this in an upcoming release.

[2015-09-21 22:29] devigned commented on #1398
Great catch, and excellent write up. We'll investigate and see if we can repro.

[2015-09-21 22:30] devigned commented on #1385
Yes, the / is causing the issue.

[2015-09-21 22:45] devigned commented on #1385
I don't think that is the issue. I think the issue is the token you are getting from Azure Active Directory. In the AcquireToken method, you are specifying an audience, which is not http...mangement...net/. You must specify that audience when acquiring a token to be used with the management libs.

[2015-09-21 22:46] devigned commented on #1385
Also see: http://www.dushyantgill.com/blog/2015/05/23/developers-guide-to-auth-with-azure-resource-manager-api/. It provides a great in-depth look at authentication using AAD and ADAL.

[2015-09-21 22:47] devigned commented on #1385
If you would like some guidance on how to get a token with the appropriate audience, please provide your code sample minus the sensitive parts.

[2015-09-21 22:47] #1385 closed

[2015-09-22 16:45] devigned commented on #1432
@akonyer please provide your authentication context code as well (minus all sensitive strings).

[2015-09-22 17:16] akonyer commented on #1432
public class AzureEncryptionProvider : IEncryptionProvider
       {
      public AzureEncryptionProvider()
      {
         _keyVaultClient = new KeyVaultClient(GetAccessToken);
         _keyBundle = _keyVaultClient.GetKeyAsync(_keyVaultUrl, _keyVaultEncryptionKeyName).GetAwaiter().GetResult();
      }

      private static readonly string _keyVaultAuthClientId = ConfigurationManager.AppSettings["

[2015-09-22 17:32] akonyer commented on #1432
I'm not sure if you have read through the StackOverflow question, but I'll add some more information here as well.

I have discovered that this does not seem to happen from within a console application, but is reproducible in a MVC web application. If I call the "EncryptString" method from within a controller context, the first call here works. The second time I hit the same web endpoint, the prog

[2015-09-23 16:37] trailmax opened #1449 "Namespecing problems: Microsoft.WindowsAzure.Common vs Microsoft.Azure.Common"
I'm not sure if you guys know about this, but I have not found an issue regarding this.

There is are 2 sets of nuget packages _Microsoft.**Windows**Azure.Common_ and another _Microsoft.Azure.Common_. And this is causing some issues with namespaces.

Packages to work with Scheduler, Sql, Storage depend on _Microsoft.Azure.Common_.
At the same time package _Microsoft.WindowsAzure.Management.WebSite

[2015-09-23 18:31] tonithenhausen commented on #1442
Is it possible to request an AAD OAUTH authorization token with a management certificate? Using AAD does not seem to be a solution for me as it requires a user to login with their organizational account or microsoft account.

[2015-09-24 02:32] brjohnstmsft commented on #1438
@GuCoder I'm working on this now. There is only one call I can find that doesn't already take `JsonSerializerSettings`: the call to `JsonConvert.DeserializeObject()` on line 147 of `DocumentOperations.Index.Customizations.cs`. This explains exactly the behavior you described. Did you find any others that I'm missing?

[2015-09-24 02:59] brjohnstmsft commented on #1438
Nevermind, I think the problem is deeper than not passing in `JsonSerializerSettings`. It looks like `JsonConvert` is merging default settings with whatever we pass in. It looks like the solution is to use `JsonSerializer` directly. I'll make that change.

[2015-09-25 10:21] BrianSakhai opened #1453 "Incorrect key vault name check?"
The resolver expects the key vault name to end in "vault.net". Is this correct? I have used the vault URI as the vault name which ends in ".vault.azure.net".

https://github.com/Azure/azure-sdk-for-net/blob/master/src/KeyVault/Microsoft.Azure.KeyVault.Extensions/KeyVaultKeyResolver.cs#L125-126

[2015-09-25 20:29] brjohnstmsft commented on #1438
The fix has been merged. I'll close this issue once we push a new version of the SDK to NuGet.

[2015-09-26 18:15] BrianVallelunga commented on #1413
Will this include .NET CoreCLR support as well?

[2015-09-29 19:09] maxg7 commented on #1276
+1

[2015-09-30 14:08] trailmax opened #1461 "Unable to add SSL Bindings to Websites"
I'm using nuget `Microsoft.WindowsAzure.Management.WebSites 4.4.2-prerelease` version to add new web-site SSL bindings.

Here is how the code looks:

[code]

But after adding the cert I can't see the cert added to the site in the portal:

![No SSL Binding added](http://i.stack.imgur.com/6hlw1.png)

And when I look on `updateResult.WebSite` values returned, I see the

[code]

No thumbprint, and ssl

[2015-09-30 21:17] dlurton commented on #1461
I am also experiencing the same issue.

				var wsup = new WebSiteUpdateParameters
				{
					HostNames = new List<string> { info.AzureFqdn, info.PublicFqdn },
					HostNameSslStates = new List<WebSiteUpdateParameters.WebSiteHostNameSslState>
					{
                        new WebSiteUpdateParameters.WebSiteHostNameSslState
						{
							Name = info.PublicFqdn,
							SslState = WebSiteSslState.S

[2015-10-02 19:14] klimSLG opened #1470 "Avro scheme bug with specific name of variable or field(HDInsight/Avro)"
if you have List as data member and it's variable name is items(which is exactly same with keyword)
ex)
[DataContract]
class foo
{
  [DataMember]
  List<int> items;
  [DataMember]
  int thisWillCauseProblem;
}

you save scheme from this object.
Then before you deserialize remove attribute of  int thisWillCauseProblem;.
And try to make deserialzer from file( read scheme )

It will throw exception a

[2015-10-02 19:31] brjohnstmsft commented on #1438
This has been fixed in the latest version of the Azure Search .NET SDK. You can find it on NuGet: http://www.nuget.org/packages/Microsoft.Azure.Search/0.13.0-preview

[2015-10-02 19:31] #1438 closed

[2015-10-06 20:45] #1470 closed

[2015-10-09 05:07] takekazuomi opened #1482 "FilterString.Generate doesn't support TimeSpan"
The TimeSpan In FilterString, which is as " '00:05:00'", which should become to be using the XML timeDuration "duration'PT5M'"".

Example:
[code]

output:
[code]

[2015-10-10 06:30] xerxesb85 commented on #1276
+1 when I upgraded from 2.3 to 2.7. It looks like my startup project was changed from my azure project to the webrole. Changing the startup project for the solution back to the Azure project fixed my CloudConfigurationManager issue. Hope this helps.

[2015-10-12 11:36] grahamehorner opened #1486 "build a azure .net for coreclr"
please provide a coreclr build of the azure sdk for .net to allow cross platform asp.net web application to use azure services with little or no code change; ideally a solution where dependency injection of the implementation of the appropriate clr/coreclr dll would be good.

[2015-10-12 14:30] YuvalItzchakov opened #1487 "Avro serializer fails to deserialize a Dictionary<TKey, TValue> with more then 1026 KeyValuePairs."
Here is a minimal, complete reproduce of the problem:

[code]

Basically, when the dictionary has more than 1024 values, we get a SerializationException with the error message:

"Invalid integer value in the input stream."

When trying to deserialize the stream. I'm assuming this has something to do with the memory optimization performed by the EnumerableSerializer.

[2015-10-13 11:45] khanhvuNOIS opened #1491 "Don't find URL for download Azure emulator 4.2"
http://download.microsoft.com/download/0/F/E/0FE64840-9806-4D3C-9C11-84B743162618/MicrosoftAzureStorageEmulator.msi
I tried with link from Microsoft but actually i just got 4.1 version. Can someone give me version 4.2?

[2015-10-14 13:11] ezwebs opened #1495 "ComputeManagementClient.VirtualMachines.GetWithInstanceViewAsync missing"
Upgraded to the 10.0.0.0 pre-release. Was using the GetWithInstanceViewAsync method in the previous version in order to get the powerstate of a vm, e.g. "vm running". This method has now disappeared. Are there plans to bring it back or is there now a different way of getting the vm powerstate?

[2015-10-20 16:15] musazaidi opened #1507 "Error in Setting up Hive and Oozie Metastore using _hdiManagementClient.Clusters.Create method"
When you pass in Hive and Oozie Metastore information to ClusterCreateParamters objects it always complain about not able to connect to the Azure SQL Server. I have verified the SQL Server credentials and the flag on the server to allow access to Azure services. I am able to create HdInsight server attaching it to Azure Sql Server for metastor using portal but not using the Azure SDK.

Are we stor

[2015-10-20 16:26] musazaidi commented on #1507
You will get the error below:

DeploymentDocument 'AmbariConfiguration_1_7' failed the validation. Error: 'Cannot connect to Hive metastore using user provided connection string'

[2015-10-22 00:01] devigned commented on #1413
Yes, this will include CoreCLR support.

@NNM11 I may have misspoke about the Azure Service Bus package as it's not one of the libraries in this repository. @djrosanova might be able to comment on ServiceBus specifically.

[2015-10-23 05:44] JamborGit opened #1517 "ConfigurationSets are null when I retrive the Azure VM password via Management Library API"
I try to use Azure Management Library API to read Virtual Machine information, the following is my code.
  var vmClient = CloudContext.Clients.CreateComputeManagementClient(cer);
  var mymachine=    vmClient.VirtualMachines.Get("javmtest", "javmtest", "javmtest");
We can find AdminPassword in ConfigurationSets: https://msdn.microsoft.com/en-us/library/microsoft.windowsazure.management.compute.mode

[2015-10-23 17:44] mayurid commented on #1486
@grahamehorner : We are already working on this. You can look at the following branch for the latest: https://github.com/Azure/azure-sdk-for-net/tree/AutoRest and watch this space for updates.

/cc : @jianghaolu @stankovski

[2015-10-23 17:45] #1486 closed

[2015-10-23 17:48] mayurid commented on #1482
@takekazuomi : Which specific SDK client are you running into this issue with?

/cc @jianghaolu

[2015-10-23 17:53] mayurid commented on #1449
@trailmax: There is a difference in the 2 nuget packages. The WindowsAzure namespace contains all the ServiceManagement packages while the Azure namespace contains the Resource Management packages. They may have classes of same name but are nor designed to work together.

/cc: @jianghaolu

[2015-10-23 18:24] mayurid commented on #1491
@khanhvuNOIS : the 4.2 download can be found at https://azure.microsoft.com/en-us/downloads/

/cc: @perrysk-msft

[2015-10-23 18:24] #1491 closed

[2015-10-23 21:58] MarkDaviesAP opened #1519 "CloudConfigurationManager - refresh appSettings on demand"
//ignore this - I misunderstood how this is working (returning a cached object).  I'll investigate why my settings are not reloading through GetValue first.

Is it possible to have an optional setting on the GetSetting methond to force a refresh of config settings?  (Is this needed?)

My scenario:
I have a couple of settings that I need to update at runtime.

The settings are in "appSettings" of W

[2015-10-24 10:45] takekazuomi commented on #1482
Only my code. not your sdk.

[2015-10-28 02:15] cindygross commented on #1507
Try adding a firewall exception rule for the metastore/SQL server (it's at the server level, not the database).

[2015-10-28 13:43] storafrid commented on #1255
The issue is probably that this line fails:
https://github.com/Azure/azure-sdk-for-net/blob/master/src/ServiceManagement/WebSite/WebSiteManagement/Generated/WebSiteOperations.cs#L3673

It does so due to the enum not containing a value for `VS2015` I believe (see https://github.com/Azure/azure-sdk-for-net/blob/21db6e5490e66af39a9c6dbf0ad10650d9ca037b/src/ResourceManagement/WebSite/WebSiteManagement

[2015-10-28 14:37] musazaidi commented on #1507
At the server level access from other Azure services is enabled.

[2015-11-03 08:18] sandercox opened #1539 "Retrieving subscriptions fails for some users"
I'm using the Azure SDK to retrieve subscriptions and access Azure DNS records in a GUI application. http://github.com/sandercox/AzureDNSManager for some users the retrieval process of the subscriptions seem to fail but to the best of my knowledge this code should have worked.

I setup an AzureContext class with empty credentials and use it to authenticate:
[code]

After my user is authenticated (

[2015-11-10 17:14] morandy opened #1553 "NamespaceOperations.UpdateAuthorizationRule not including SecondaryKey"
When trying to use `NamespaceOperations.UpdateAuthorizationRule` to update a `ServiceBusSharedAccessAuthorizationRule`, it does not handle the `SecondaryKey`.

The response then comes back with its `SecondaryKey` set to `NULL` -- and causes the secondary key to be lost, as can be seen on the management portal:

    manage.windowsazure.com/@USERNAME#Workspaces/ServiceBusExtension/Namespace/QUEUENAM

[2015-11-13 14:12] Hijdra commented on #1294
Hi,

Has this issue been addressed? I am probably getting the same issue.
Using: Microsoft.WindowsAzure.Management.Websites v4.4.2-prerelease

Piece of the exception:
[code]
Greetings,
Mark Hijdra

[2015-11-13 17:53] johnkattenhorn commented on #792
+1 for this, it's a major pain as Serilog uses colon, I've currently having to build a special addition to use another character.

Be good to know the reason or if there was a way to protect the colon.

[2015-11-15 14:25] TerribleDev opened #1573 "6.1.1-preview WindowsAzure.Storage Exception "A strongly-named assembly is required""
I am on beta 8 (of aspnet 5) and I keep getting the following exception with WindowsAzure.Storage whenever I try to load the assembly.

"A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)"

Repro project: https://github.com/tparnell8/AspNetCache-AzureTableStorage/tree/master/src/AzureTableStorageCacheSample

[2015-11-19 17:40] PilotBob opened #1594 "CloudConfigurationManager doesn't respect file attribute on appSettings"
A common method of hiding secrets from source control is to use the file= attribute of the appSettings element in web.config/app.config.

However, it seems the cloud configuration manager doesn't support this element or it is ignored.

Can this support be added, or if it's there, what am I doing wrong? I have the following file= in my app.config appsettings:

file="%APPDATA%\myappname\AppSettingsS

[2015-11-20 14:04] DaveVdE opened #1602 "Why does Microsoft.Azure.Common.Dependencies have a dependency on Microsoft.Bcl.Build for the .NET 4.5 target."
We're using the Microsoft.WindowsAzure.Management.Storage package to programmatically create storage accounts, and I'm finding that it needs to install Bcl.Build which is, with all due respect, an atrocious NuGet package that sits in the VS process until you quit VS.

If this package serves to allow older versions of .NET to target some of the newer types, then why is it a dependency for the .NET

[2015-11-20 14:28] DaveVdE commented on #1068
I agree, was looking to open this as issue as well today, but found it was already here.

[2015-11-20 15:23] markheath commented on #1602
we've run into the same issue with a dependency on Microsoft.Azure.KeyVault (which depends on Microsoft.Azure.Common), which then brings Microsoft.Bcl.Build which then results in endless error messages telling you to add it to every single project in your solution, and makes it impossible to run a command line build with Visual Studio open. Would love to get rid of this from our solution (we're ta

[2015-11-20 15:25] DaveVdE commented on #1068
It's as if it's generated like that, but I can't find any source for this Hyak generator that seems to be in use.

[2015-11-23 07:25] slavizh opened #1607 "Azure SDK should detect that I have AzureRM cmdlets installed and skip installing them"
Azure SDK should detect that I have AzureRM cmdlets installed and skip installing them.
Currently if you have AzureRM cmdlets installed from PowerShell Gallery the SDK 2.8 will fail to install. It is better to detect that I have those cmdlets and not fail. May be the SDK can install the latest cmdlets from the PowerShell gallery instead of having its own installation. Probably cmdlets in PowerShel

[2015-11-24 18:16] lennygran opened #1609 "AvroSerializer.Create should accept the Type"
Currently creating AvroSerializer does not accept the Type, but requires to define the type as T parameter. This limits usage of the serializer. Please add Create method to AvroSerializer class AvroSerializer.Create(Type type), and AvroSerializer.Create(Type type, AvroSerializerSettings settings).

[2015-11-25 01:57] brjohnstmsft commented on #1063
We have a fix ready for this issue. I'll send a PR soon.

After some discussion and investigation, we found a better solution than disallowing non-nullable primitive types, although it involves some small compromises. We're introducing a new `IContractResolver` that looks for non-nullable primitive types and ensures that they use `DefaultValueHandling.Include` instead of `DefaultValueHandling.Igno

[2015-11-25 06:25] omerlh commented on #1294
Nope

From: Mark Hijdra [mailto:notifications@github.com]
Sent: Friday, November 13, 2015 4:13 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: Omer Levi Hevroni <omerl@soluto.com>
Subject: Re: [azure-sdk-for-net] Issue with GetUsageMetricsAsync in WebSiteOperations (#1294)

Hi,

Has this issue been addressed? I am probably getting the same issue.
Using: Microsoft.WindowsA

[2015-11-25 07:28] DaveVdE opened #1616 "Why does SubscriptionClient.AcceptMessageSessionAsync throw a TimeoutException?"
I would expect a call to a method that allows me to specify the server wait time to return `null`, and not use exceptions to implement control flow.

[2015-11-25 17:38] tomleeson commented on #1602
We're running into the same issue as well. Targeting 4.5.1.

[2015-11-25 18:02] #1063 closed

[2015-11-27 22:44] cmatskas opened #1619 "Azure KeyVault is broken"
@anurse @cbilson @paulbatum @Porges @johndeu

Trying to run the Azure KeyVault sample app but it's currently broken. I forked the SDK in an effort to resolve the problem but as it turns out the whole KeyVault solution is broken. I've managed to get most of the projects to work but the main test one is still broken due to references to dlls and NuGet packages that don't exist anymore.

I would like

[2015-11-28 15:12] devigned commented on #1619
Azure Key Vault isn't going away. Key Vault is a core security component in Azure.

Per the Key Vault solution not building, @mayurid we need someone from the our or the Key Vault team to take a look at this. There's no reason solutions in the project shouldn't build.

[2015-11-28 15:18] devigned commented on #1619
@Azure/adx-sdk-team any ideas on why @cmatskas is experiencing this?

[2015-11-28 15:18] cmatskas commented on #1619
Hi @devigned,

Thanks for getting back to me. There were a lot of packages missing from the package configure and it took the best of 2 hours to figure out what to restore/add to get the solution to build.

In the end, the only thing failing to build is the KeyVault.Tests project and that's because it references Microsoft.Azure.Test.Framework which has since been pulled from NuGet. This missing li

[2015-11-28 15:58] billmcknight1953 opened #1620 "Significant changes to ComputeManagementClient constructor."
There seems to be significant changes to the constructor for **ComputeManagementClient** in constructor in the package **Microsoft.Azure.Management.Compute** between versions 9, 10, and even further changes in version 11.  Is there some documentation for the new constructor?  Also, can someone clarify the difference between **Microsoft.Azure.Management.Compute** and **Microsoft.WindowsAzure.Manage

[2015-11-30 01:18] hovsepm commented on #1519
Closed according to @MarkDaviesAP comment "Ignore this"....

[2015-11-30 01:18] #1519 closed

[2015-11-30 01:21] hovsepm commented on #1539
Could you provide traffic logs? I don't see any issue with the code

[2015-11-30 01:32] hovsepm commented on #1607
@slavizh, please reopen the issue in the [powershell repository](https://github.com/Azure/azure-powershell). This repository contains management libraries and is not directly related to PowerShell.

[2015-11-30 01:32] #1607 closed

[2015-11-30 01:44] hovsepm commented on #1620
@billmcknight1953, libraries with WindowsAzure in the namespace are RDFE based management libraries, whereas Azure are ARM based libraries.
Version 11 of Compute library is a preview and is DNX based (cross platform) and is generated from [swagger](www.swagger.io) service [specification file](https://github.com/hovsepm/azure-rest-api-specs/blob/master/arm-compute/2015-06-15/swagger/compute.json) w

[2015-11-30 01:44] #1620 closed

[2015-11-30 13:47] cmatskas commented on #1619
Morning  @Azure/adx-sdk-team Any news/progress on this?

[2015-11-30 20:22] herveyw commented on #1619
This was fine recently, I published an update to KeyVault.Extensions. We'll take a look to see what has broken.

[2015-11-30 20:26] cmatskas commented on #1619
Hi @herveyw, I did a pull and tried to built the solution in VS2015 Update 1 RC. The NuGet packages failed to download and there were many references missing from the package.json on each project under the solution.

I had to use NuGet Command Line to install the missing packages and in the end, I was able to built all projects apart from the KeyVault.Test project. This one relies on a NuGet packa

[2015-11-30 20:42] herveyw commented on #1619
@cmatskas: master branch seems to build cleanly for me from both command line and VS 2013, including after I have deleted all my local packages and had VS restore; it also built cleanly on the Jenkins build server when I last published. However, I still have to check the package sources on my development machine.

[2015-11-30 20:45] cmatskas commented on #1619
@herveyw Did you run the unit tests?

[2015-11-30 20:46] herveyw commented on #1453
This check could be more specific but would break for non-production test environments.

[2015-11-30 20:51] herveyw commented on #1619
I built and ran the crypto tests but not the main tests as I don't have that set up at present, one of my colleagues should have that working as we have some updates pending, I'll check with him.

[2015-11-30 21:00] herveyw commented on #1619
@cmatskas tests cases (except HSM, as I have a standard vault) are working for a colleague and for me from VS2013. We're continuing to investigate.

[2015-11-30 21:01] herveyw commented on #1453
@BrianSakhai: I take my last comment back, this check needs to be fixed.

[2015-11-30 21:01] sandercox commented on #1539
How do I turn on traffic logs?

[2015-12-01 00:26] singhkay commented on #1075
@f-aa Can you try this with the newer http://www.nuget.org/packages/Microsoft.Azure.Management.Compute/11.0.0-prerelease ARM stack based libraries?

[2015-12-01 00:27] singhkay commented on #771
@oliverw Can you check the roleinstancestatus property instead for the role status?

[2015-12-01 10:02] cmatskas commented on #1619
@herveyw I was able to do a fresh fork and build on VS2013 without changing anything. There's definitely an issue with VS2015 so maybe we could look into this as well?

[2015-12-02 15:55] PaulAchess opened #1633 "Wrong project to declare bug - please delete"
I'm sorry, I published this bug on the wrong project

[2015-12-02 16:22] #1633 closed

[2015-12-03 23:06] pksorensen opened #1642 "Microsoft Azure Rest Clients dont work with subscriptionId = null"
[code]

Abit wierd that one have to set it to empty string, or else it throws an exception.

Package: Microsoft.Azure.Management.Resources.3.1.1-preview

[2015-12-05 15:42] brunoshine opened #1650 "Search SDK: Search states that it has one record but the results are empty"
Hi all,

I've done a search that the Count states it has a record but the results are empty. I've run the same filter on the azure search explorer and it retuns a record.

Any thoughts?
Thanks.
![search](https://cloud.githubusercontent.com/assets/709567/11608632/c08bc956-9b66-11e5-81ac-703f33b239f7.png)

[2015-12-05 18:56] brjohnstmsft commented on #1650
Hi Bruno,
Could you share the values for `searchText` and all properties of the `SearchParameters` object for the SDK request, as well as the full URL for the REST API request?

[2015-12-07 18:25] pjirsa opened #1652 "AuthorizationManagementClient.RoleAssignments.CreateAsync fails with PrincipalNotFound"
Below is my fiddler trace. The application ID is valid and I have verified that both the Application and ServicePrincipal exist using the graph explorer.

PUT https://management.azure.com/subscriptions/{subscriptionid}/providers/Microsoft.Authorization/roleAssignments/61c0a8e1-0642-4569-b3d1-b5d8f1d094c5?api-version=2015-07-01 HTTP/1.1
Authorization: Bearer <token>
User-Agent: Microsoft.Azure.Mana

[2015-12-09 07:40] gongdo commented on #1573
Also rc1 too.

[2015-12-10 04:06] kumarbalriya commented on #1069
I came across the same issue. This method is working for website having app service plan as "H1 free" not in "S1 Standard app service plan".

Please suggest how to get rid of this issue in "S1 Standard service plan".

[2015-12-12 05:14] bspunie opened #1665 "ISqlManagementClient.Databases.Update() throws A service objective assignment on server 'xx' and database 'TestDB' is already in progress. Please wait until the service objective assignment state for the database is marked as 'Completed'"
When calling ISqlManagementClient.Databases.Update() first to change service objective from P2 to S1 and later calling same Update() method to rename the database throws A service objective assignment on server 'xx' and database 'TestDB' is already in progress. Please wait until the service objective assignment state for the database is marked as 'Completed'.

Is there any state we can check to kn

[2015-12-13 19:27] ielcoro commented on #1255
This is a huge annoying issue to us,

We need to remeber to disable remote debugging when using VS2015 (enabling first a known value like VS2013 and then disabling it all together) so we can publish our sites from powershell.

When using VSTS build, if a developer does a remote debugging session with VS2015, most of the time breaks the continuous integration build we have setup.

It's December now

[2015-12-14 08:37] bspunie commented on #1665
The database state can be checked using Database.ServiceObjectiveAssignmentState property before performing any database update action.

https://msdn.microsoft.com/en-us/library/microsoft.windowsazure.management.sql.models.database.serviceobjectiveassignmentstate(v=azure.11).aspx

[2015-12-14 08:37] #1665 closed

[2015-12-14 10:08] DaveVdE commented on #1602
Today I found out there's a series of pre-release packages out that use a different library. The package with id "Microsoft.Azure.Management.Storage" uses "Microsoft.Rest.ClientRuntime.Azure". The only issue I had installing it was a missing reference to System.Runtime.Serialization that was easily fixed.

Is this the way forward? IMHO, the packages are a mess, and someone should shed some light o

[2015-12-14 11:02] DaveVdE commented on #1602
This pre-release package seems to require a resource group for everything. I like the API better though (no naked http results to check for, no dependency on Bcl.Build) but some things are missing, like where do I pass the subscription Id? What if I don't have a resource group for the storage account I want to make?

[2015-12-14 11:09] DaveVdE commented on #1602
Also, where's the source for these preview packages?

[2015-12-15 01:04] GuardRex opened #1670 "Status of Key Vault client for .NET 5 Core CLR"
@herveyw

Was wondering if there is any status on getting https://github.com/Azure/azure-sdk-for-net/tree/master/src/KeyVault/Microsoft.Azure.KeyVault.Core for Core CLR (dnxcore50)?

[2015-12-16 10:31] matthieuklotz commented on #1507
Hi,
I have the same issue with Powershell (Latest release).
@musazaidi , since your last comment, have you resolved your issue ? And if its the case, how ?

[2015-12-21 19:05] herveyw commented on #1670
@GuardRex

Its planned but won't happen until early next year.

[2015-12-21 23:34] GuardRex commented on #1670
Thx

[2015-12-21 23:34] #1670 closed

[2015-12-30 22:42] brjohnstmsft commented on #1363
I've added support for custom `IContractResolvers`. It will ship with the next version of the SDK (1.0.0-preview), most likely in a few weeks.

[2015-12-30 22:42] #1363 closed

[2015-12-30 22:43] brjohnstmsft commented on #1259
Rather than introduce a new attribute, we decided to allow more general extensions to serialization behavior via well-known mechanisms in JSON.NET (`JsonConverters` and `IContractResolvers`). This kind of customization will be enabled in the next version of the SDK (1.0.0-preview), due to ship in a few weeks.

[2015-12-30 22:43] #1259 closed

[2015-12-31 07:07] BernieWhite opened #1704 "Create App Service Wizard hangs when a resource group does not exist in the subscription"
Running Azure SDK 2.8.1, when trying to create a new Web App the Create App Service Wizard on an ASP.NET 5 project the wizard hangs if a resource group does not already exist in the subscription.

Anybody else seeing this? Isolated case?

[2016-01-01 00:20] brjohnstmsft commented on #1650
Closing this since there was not enough info provided to repro.

[2016-01-01 00:20] #1650 closed

[2016-01-04 11:41] slavizh opened #1706 "Azure SDK installation fails if you have Azure PowerShell module installed from PowerShell Gallery"
Azure SDK installation fails if you have Azure PowerShell modules installed from PowerShell Gallery.
It will be good if Azure SDK does not rely on Azure PowerShell module msi. That way I cannot use the latest version of Azure PowerShell modules with the SDK.
Workaround is to remove the Azure PowerShell modules installed from the PowerShell Gallery, install the Azure SDK, remove the Azure PowerShel

[2016-01-04 14:22] cwchapma opened #1707 "DeploymentProperties.Parameters is an object in Microsoft.Azure.Management.Resources.3.3.1-preview"
Why are DeploymentProperties.Parameters and DeploymentProperties.Template of type object in the nuget package Microsoft.Azure.Management.Resources 3.3.1-preview but they are strings in the source since at least March 25, 2015.

https://github.com/Azure/azure-sdk-for-net/blame/21db6e5490e66af39a9c6dbf0ad10650d9ca037b/src/ResourceManagement/Resource/ResourceManagement/Generated/Models/DeploymentProp

[2016-01-05 01:19] MikeCer commented on #1704
Hi Bernie, yes, I confirm ... same behavior here!

[2016-01-06 02:09] bvirkler opened #1712 "PolicyAssignments.ListForScope fails because of API version"
Using Microsoft.Azure.Management.Resources 3.3.1-preview.

    string scope = string.Format("/subscriptions/{0}/", subscriptionId);
    ResourceManagementClient client = new ResourceManagementClient(new TokenCredentials(GetToken()));
    client.SubscriptionId = subscriptionId;
    var result = client.PolicyAssignments.ListForScope(scope);

throws this exception:

`ResourceManagementClient.ApiVersi

[2016-01-06 13:16] andybatescc commented on #1255
Also came across this for a site where I had dabbled with remote profiling from VS2015
https://azure.microsoft.com/en-gb/blog/remote-profiling-support-in-azure-app-service/

[2016-01-07 21:21] afdabro opened #1713 "ServiceBusManagementClient null reference exception when using HttpClient and creating Azure Namespace"
I'm currently attempting to use a Windows Azure Management Certificate for authenticating with Service Management API.

Steps:
1) Retrieve Azure Management Certificate -- Returns valid Management certificate
2) Create Service Bus Management Client
3) Create Azure Namespace -- Throws Null reference Exception

NuGet Package info:
Id Microsoft.WindowsAzure.Management.ServiceBus
Version: 0.17.1-previe

[2016-01-12 16:11] afdabro opened #1719 "ServiceBusManagementClient CreateNamespace returns 400 Bad Request with Guid as namespace name sometimes"
The following is a bug within the Service Bus REST resource provider API:

Based on the documentation it states that it is possible to create service bus namespaces using a Guid. However, the response _sometimes_ returns a 400 Bad request. I'm using the C# Service Bus Management Client and generating a new Guid service bus namespace name per a request using the following snippet. Since the snippet

[2016-01-13 13:53] UNdedss opened #1720 "InstanceView property of Virtual machine object is null (other props are initiated)"
var vm1 = _cmClient.VirtualMachines.Get(
                resourceGroupName: "ArmDeployment",
                vmName: "ArmVM"); // vm is acquired

var iv = vm1.InstanceView; // == null

[2016-01-13 23:56] cmatskas commented on #1619
@devigned @herveyw any progress on this issue?

[2016-01-16 22:34] hashtagchris opened #1725 "ManagementClient.ManagementCertificates.Create throws on HttpStatusCode.Created response"
Adding a management certificate to Azure returns 201 Created. ManagementCertificateOperations.CreateAsync throws an exception if the response is something other than 200 OK.

[2016-01-19 08:46] DaveVdE commented on #1442
IIRC you can set up an application in AAD to have permissions, and the application uses a key to authenticate requests. Cumbersome, but I guess it could work.

[2016-01-19 09:05] tonithenhausen commented on #1442
You can use OAuth with Azure AD Applications to authenticate against Azure Resource Manager, but you cannot use Azure Service Management (old APIs), because these APIs must be authenticated with  user's OAuth credentials (and not with application OAuth creds).

[2016-01-19 09:44] DaveVdE commented on #1442
I thought the issue was you couldn't use management certificates because you're using the ARM API?

[2016-01-19 09:47] tonithenhausen commented on #1442
Sorry for the confusion. Actually, I need to use both APIs (ARM and Service Management) with the same credentials. As far as I know, certificates can only be used with Service Management and Azure AD Application OAuth (as you suggested) only with ARM. But there is no credential for both APIs except user's credentials aquired through interactive sign in (like Powershell Azure Tools does it).

[2016-01-19 09:48] DaveVdE commented on #1442
Yeah, it's a mess.

On Tue, Jan 19, 2016 at 10:47 AM, tonithenhausen <notifications@github.com>
wrote:

[2016-01-21 00:02] singhkay commented on #1517
Admin password is not returned from the platform

[2016-01-21 00:02] #1517 closed

[2016-01-21 00:03] #1075 closed

[2016-01-21 00:04] #771 closed

[2016-01-21 22:57] ehuna commented on #1063
I'd like to add my 2 cents: I completely with SylviaJ - if my model has 0, I expect a 0 value to be stored and returned, not a null.  This is for sorting purposes, simplifying models and de-serialization, etc...

Since we can't modify fields in indexes, we have created a whole system where new indexes are created when changes are made - so the example above by brjohnstmsft does not apply, we will

[2016-01-22 01:06] brjohnstmsft commented on #1063
FYI, the fix is now available in the latest version of the SDK [on NuGet](http://www.nuget.org/packages/Microsoft.Azure.Search).

[2016-01-22 01:07] brjohnstmsft commented on #1363
FYI, the fix is now available in the latest version of the SDK [on NuGet](http://www.nuget.org/packages/Microsoft.Azure.Search).

[2016-01-22 01:07] brjohnstmsft commented on #1259
FYI, the new serialization functionality is now available in the latest version of the SDK [on NuGet](http://www.nuget.org/packages/Microsoft.Azure.Search).

[2016-01-22 10:57] andybatescc commented on #1255
As remote profiling is now being promoted more this increases the likelihood of this occurring. Really needs to be fixed.

[2016-01-22 13:06] Karamell opened #1738 "CloudConfigurationManager.GetSetting signature changed in version 3.2.0 and broke our code"
We passed on `GetSetting` as a Func, and in version 3.2.0 the signature changed. It would have been better if an overload was used so that old versions don't break.

Not just
[code]
but also keep the old function, thus not changing the signature
[code]

[2016-01-22 20:53] DovydasNavickas commented on #1255
Had this yesterday during a critical moment with our production app lagging behind, because in Dev environment we enabled Remote Debugging and didn't dare to promote it to production, while CI was failing.

Solution described [here](http://www.brandonmartinez.com/2015/07/14/resolve-a-requested-value-vs2015-was-not-found-get-azurewebsite-error-in-powershell/) helped, but it is even more outrageous.

[2016-01-23 04:59] ca-ta commented on #1738
:+1: Same here. We keep being tripped by `CloudConfigurationManager`. Funny, seeing  how it only has one public method.

This component has superfluously broken backwards compatibility before (e.g. by changing the namespace name). Yes, one can/should break compatibility *if necessary*. However, I feel it is bad practice to do so if easily avoidable.

[2016-01-25 09:34] omnoms opened #1740 "Could not load type 'Microsoft.WindowsAzure.CloudConfigurationManager' from assembly 'Microsoft.WindowsAzure.Configuration'"
Similar to #1006

The latest nuget package 3.2.0 (assembly 3.0.0 still) doesn't work well with latest AzureGraphClient package. That package tries to use Microsoft.WindowsAzure.CloudConfigurationManager whilst it's under Microsoft.Azure.CloudConfigurationManager.

Checking the Object Explorer I see that the namespace desired by the azure graph client is indeed empty.

![image](https://cloud.github

[2016-01-26 11:01] loekd opened #1743 "Microsoft.Azure.KeyVault.KeyVaultClient.GetSecretVersionsAsync GET's incorrect URL"
Calling 'GetSecretVersionsAsync' on Microsoft.Azure.KeyVault.KeyVaultClient throws an exception of type 'KeyVaultClientException'
At that time, the value of 'RequestUri' on the exception is:
https://mykeyvault.vault.azure.net/secrets//secrets/1/versions?api-version=2015-06-01
Notice that 'secrets' is duplicated in the URL, which causes a 404 Resource not found error.

The bug is in Microsoft.Azure

[2016-01-27 18:52] wgraham17 opened #1749 "Passing in an object to DeploymentProperties.Parameters fails to serialize and results in ARM deployment rejection"
Creating an Azure Resource Manager Deployment by specifying the parameters as an object in the request results in the parameters being dropped from serialization:

[code]

generates the following request:

[code]

which results in a 400 result in the status, as parameters are missing from the request.

[2016-01-27 22:36] wgraham17 commented on #1749
I also tried the following, attempting to mirror the actual params file:

[code]

Same result. Inspecting the request in Fiddler shows that parameters remains an empty object.

[2016-01-27 22:38] wgraham17 commented on #1749
I think something is wonky around line 700 of https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Resource/ResourceManagement/Generated/DeploymentOperations.cs

as I am not sure why it would attempt to JObject.Parse an object (not a string).

[2016-01-28 23:30] akrause32 commented on #1738
:+1: Same here, albeit with a different scenario.

We have an internal NuGet package which references CloudConfigurationManager.GetSetting(string) using Microsoft.WindowsAzure.Configuration 3.1.0. Projects which utilize this package could previously use assembly binding redirects to update the Configuration NuGet independently. This change has broken that ability. Projects which update to version

[2016-01-29 11:12] AndyCJ commented on #1738
We've also been tripped up by this.

If you aren't already aware of what causes binary incompatibilities SO has a good guide here: http://stackoverflow.com/questions/1456785/a-definitive-guide-to-api-breaking-changes-in-net

Kind of Break: Binary-level break

[2016-02-02 07:36] ahmettahasakar opened #1768 "stop listening to service bus queue messages"
Hello,
I'm listening to service bus queue messages like below.

[code]

when I close the connection like this, I get the following error
The server was unable to process the request; please retry the operation. If the problem persists, please contact your Service Bus administrator and provide the tracking id.

How do I close the connection gracefully. I'm trying to make sure that the connection is

[2016-02-02 19:26] ahmetb opened #1770 "Typo in AzureAsyncOperationResponse documentation"
![image](https://cloud.githubusercontent.com/assets/159209/12761418/c58f819c-c99f-11e5-9e80-e4a8d31af1d4.png)

[2016-02-04 00:33] hovsepm commented on #1738
@Karamell thank you for your contribution!

The package with the fix is released to nuget. Please reference Microsoft.WindowsAzure.ConfigurationManager version 3.2.1.

[2016-02-04 00:33] #1738 closed

[2016-02-04 02:34] abatishchev commented on #792
Any update on this, please?

[2016-02-04 06:30] brjohnstmsft opened #1776 "Search SDK: Make DocumentSearchResult and SearchResult properties public again"
Opening issue on behalf of jsgoupil:

[2016-02-04 06:44] brjohnstmsft commented on #1776
I have some questions for JS about the scenario:

- Do you experience regular downtime with Azure Search to the point where redirecting your searches to the database is actually necessary?
- How do you actually execute searches against your database? Are you using SQL full-text search?
- How would you execute offline searches? Do you use Lucene?
- Would you need `FacetResult` properties to be publ

[2016-02-04 19:05] hovsepm commented on #1553
Published. Please use Microsoft.WindowsAzure.Management.ServiceBus version 0.18.0-preview

[2016-02-04 19:05] #1553 closed

[2016-02-04 22:44] ravbhatnagar opened #1777 "ARM template deployment does not work when Parameter property is used"
An unhandled exception of type 'Microsoft.Rest.Azure.CloudException' occurred in mscorlib.dll

Additional information: The request content was invalid and could not be deserialized: 'Error converting value "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#" to type 'Microsoft.WindowsAzure.ResourceStack.Frontdoor.Data.Definitions.DeploymentParameterDefinition'. Path '

[2016-02-05 19:19] olmg-mike opened #1778 "Azure Storage Emulator not working with restoring snapshots when using DevelopmentStorageProxyUri"
I am not sure this is the best place for this issue.

I ran into an issue recently where I was trying to copy a snapshot back to its original blob.  In other words restoring the original blob from a snapshot.  I was using the following connection string:
UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://local.d.com;
where local.d.com is in my host file pointing to 127.0.0.1.  I did this

[2016-02-05 22:51] #1449 closed

[2016-02-05 23:03] hovsepm commented on #1539
@sandercox e.g. Fiddler tool can capture traffic logs.

[2016-02-05 23:14] hovsepm commented on #1594
@PilotBob Currently we only fix existing bugs and do not add new features to CloudConfigurationManager. However since this is a publicly available source code please feel free to create a PR with the functionality that will address your scenario and be useful for other customers. We will review it, help you get it merged and publish new package to Nuget.org.

[2016-02-05 23:14] #1594 closed

[2016-02-05 23:17] PilotBob commented on #1594
So, does that mean this class is deprecated?

[2016-02-05 23:38] hovsepm commented on #1712
@bvirkler the idea behind api version is that they are bound to a functionality. If we allow overriding this parameter in the SDK then there is no guarantee that other method calls will work,

[2016-02-05 23:38] #1712 closed

[2016-02-05 23:47] hovsepm commented on #1713
@afdabro to use a management certificate you will need to construct SubscriptionCloudCredentials manually. You can refer to a code that we have in Authetication library on how to handle custom authentication - https://github.com/Azure/azure-sdk-for-net/blob/master/src/Authentication/Common.Authentication/Authentication/AccessTokenCredential.cs

[2016-02-05 23:47] #1713 closed

[2016-02-05 23:47] bvirkler commented on #1712
That makes sense.  But I would have thought whoever generated the client classes for policyAssignments would have bumped the API version and tested.  Otherwise what's the point of having the classes?  Or am I missing something?

[2016-02-05 23:54] hovsepm commented on #1740
@omnoms please use latest version 3.2.1. It should be fixed there. Please reopen this issue if it is not fixed.

[2016-02-06 00:15] hovsepm commented on #1706
@slavizh I cannot repro it with the latest Azure PowerShell modules and Azure SDK installer 2.8.2. Please use latest installers and reopen this bug with more details if it still repro's.

[2016-02-06 00:15] #1706 closed

[2016-02-06 17:33] jsgoupil commented on #1776
Thank you for opening the issue.

1. I just started to use Azure Search, so I haven't experienced anything yet. However, I am a big fan of running my application in offline mode where I can work somewhere without internet and get a OK website while developing.
2. Basically, I provide a strip down version of Azure Search by running an ugly EntityFramework .Contains(..) on too many fields. Obviously

[2016-02-09 02:33] siganakis commented on #1069
I too am getting the same error, in a premium plan.

[2016-02-09 20:34] herveyw commented on #1743
@loekd Hi, a vault URL should just be the name of the vault and should not contain any path information as the SDK handles that automatically. For example, https://mykeyvault.vault.azure.net is a valid vault name, but https://mykeyvault.vault.azure.net/secrets is not. Would you check that you're not passing in the additional path segment?

[2016-02-09 21:44] brjohnstmsft commented on #1776
Thanks for the background info JS. I've made the result properties public again in the GA version.

[2016-02-09 21:44] #1776 closed

[2016-02-10 01:08] herveyw commented on #1619
@cmatskas Just getting back to this on a completely clean machine with VS2015 Update 1. What I see going on in VS2015 is that the Nuget package manager isn't restoring the packages to the expected location in the packages directory at the root of the SDK, instead it seems to be installing them to a packages folder next to the solution file. This causes all the assembly references in the key vault

[2016-02-10 10:50] cmatskas commented on #1619
@herveyw the problem is that the KeyVault.Extensions.Test was a temp NuGet package that was created to support the unit tests by simulating stuff (my assumption). It would be nice to be able to download the full suite and run the tests locally. That package has now been discontinued and is not available on the NuGet server

[2016-02-10 15:03] DixonD-git opened #1787 "Breaking change to public API in Microsoft.WindowsAzure.ConfigurationManager 3.2.0"
The signature of `CloudConfigurationManager.GetSetting` was changed by adding `bool outputResultsToTrace` argument. It was done in https://github.com/Azure/azure-sdk-for-net/pull/1693 . Now some compiled code throws `MissingMethodException`, the workaround is to rollback to the previous version of `Microsoft.WindowsAzure.ConfigurationManager`

[2016-02-10 19:57] herveyw commented on #1619
@cmatskas I doubt that KeyVault.Extensions.Test was ever published to NuGet, it's a unit test and doesn't build a NuGet package. During December and January, Extensions.Test grew some additional test cases that were not initially integrated with the Record/Playback model of the SDK but it was updated recently and can now run locally. I don't think this has anything to do with the build errors that

[2016-02-10 20:33] herveyw commented on #1619
@cmatskas @hovsepm @Azure/adx-sdk-team Build failures with VS 2015 do not seem to be KeyVault specific, the other projects in the SDK also fail to build with the same symptoms as KeyVault: $LibraryNugetPackageFolder is not getting resolved correctly _unless_ you have already done a command line build of the SDK.

[2016-02-11 19:30] ChristianRygg opened #1791 "DatabaseCreateOrUpdateProperties is missing RestorePointInTime property"
I'm trying to do a restore in time for an Azure Sql DB, but I get an error:

`BadRequest: The point in time was not specified for restoring live database 'xxxxxxx'.`

I would expect a RestorePointInType property in the DatabaseCreateOrUpdateProperties class, but there doesn't seem to be one. Am I doing it wrong, or is this something which isn't being generated properly from AutoRest?

[2016-02-12 07:39] northtyphoon opened #1793 "Microsoft.Azure.KeyVault.LRUCache<K, V>.Add throws System.ArgumentException"
When multiple threads try to add the same (k,v), the function will throw the exception.

System.ArgumentException: An item with the same key has already been added.

Looking at the implementation, after entering write lock, it should double check if the (k,v) exists before _cache.Add.

67                 _lock.EnterWriteLock();
68

69                 // Cache before List as the cache may throw an

[2016-02-12 14:51] andrewNestorenko opened #1794 "Can't change WebSite settings while creating"
Trying to remove or change php support/version on new sites that are created.
Using:

[code]

PhpVersion isn't changed. I also tried PhpVersion = "off" - doesn't work also

Tried to catch http request. Found that http request was sent with json data:

[code]

but PHP and Python versions has not been changed

[2016-02-12 20:07] ahmetalpbalkan commented on #1770
comes from https://github.com/Azure/azure-rest-api-specs/blob/b0d83f3ccf1e4e4615c395b9a15f2a5186f2cf7f/arm-network/2015-05-01-preview/swagger/network.json#L6540

[2016-02-15 19:48] pableess opened #1797 "Azure Key Vault Extensions - "CachingKeyResolver" is not thread safe"
CachingKeyResolver is not ThreadSafe.

The LRU cache uses locks for get and add, the problem is that the key resolver would need to lock around both the get and add.

Right now it is possible that two threads call get on the LRUCache, and no key is returned so both threads resolve the key and try to add it the cache.

This causes a "ArgumentException" - "An element with the same key already exists

[2016-02-16 14:07] isaacabraham commented on #1707
+1 - this is really confusing. The powershell version of this allows you to supply local template files but it appears that the .NET one forces you to upload to blob first which is a real pain.

[2016-02-16 14:09] isaacabraham commented on #1707
Links to #1777 and #1749

[2016-02-16 18:02] markcowl commented on #1255
@DovydasNavickas @lkempf @storafrid @ielcoro @andybatescc  Hi all, this is a very simple issue that should have been fixed long ago.  Unfortunately, since this impacts the RDFE (and not the ARM) client, it looks like it has been deprioritized by the feature team.  We'll work to get a fix out ASAP.

[2016-02-16 18:29] DovydasNavickas commented on #1255
Good to hear. We're the ones who already found out the issue and know the cure, so it's not that painful anymore. But for people who are still to find this out... It should be prioritized at the top, if it's a small and simplr issue :+1:

I guess there should be more involvement from RDFE team in this GitHub repository issues list.
Also, is there a separate place to report issues for RDFE specific

[2016-02-17 21:44] vivsriaus opened #1801 "ARM: Delete resource should implement polling (LongRunningOperationResponse)"
Add support to implement LongRunningOperationResponse for resource delete

[2016-02-17 22:49] changov commented on #1801
Please make sure to use the Azure-AsyncOperation header for polling whenever available. It's much more robust than the protocol with the Location header...

[2016-02-18 21:37] jsgoupil opened #1804 "Search SDK: Cannot merge null values using Index<T>/IndexAsync<T>"
After more investigation, I found that the client serializer is overriding my NullValueHandling variable by setting it to Ignore.
This is highly problematic as if I try to do "IndexAsync" with null values, they simply do not go to the index! This is for the case or MergeOrUpload.

Basically, an upload with property set to null not being sent is fine. But the merge is not. I need to send the null!

[2016-02-18 21:44] brjohnstmsft commented on #1804
One workaround would be to use `Document` instead of your own model type to merge changes. Not ideal, but if you're really stuck it is an alternative. In the meantime we'll think about how best to fix this.

[2016-02-18 22:18] jsgoupil commented on #1804
@brjohnstmsft I think using a Document will do the same.
It ends up calling `CreateSerializerSettings` which will override the NullValueHandling.

[2016-02-18 22:25] brjohnstmsft commented on #1804
It should work; we have test coverage for the `Document` case. See `CanMergeDynamicDocuments` in this file: https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/Search/Search.Tests/Tests/IndexingTests.cs

[2016-02-18 22:38] jsgoupil commented on #1804
@brjohnstmsft My apology, it is working yes. I thought Document was using a dynamic, but it is a Dictionary so it's treated a little different.

Here is some code for people who wants to convert their `<T>` into a Document

`
        private Document GetDocument(T obj)
        {
            var doc = new Document();
            foreach (var m in typeof(T).GetProperties(System.Reflection.BindingFla

[2016-02-20 13:13] Mike-EEE opened #1810 "Possible Issue? Checked-in Certificate Thumbprint"
I have noticed that there appears to be a thumbprint checked in for a certificate [here](https://github.com/Azure/azure-sdk-for-net/blob/master/src/KeyVault/Microsoft.Azure.KeyVault.Samples/samples/SampleAzureWebService/SampleKeyVaultClientService/ServiceConfiguration.Cloud.cscfg#L22) and [here](https://github.com/Azure/azure-sdk-for-net/blob/master/src/KeyVault/Microsoft.Azure.KeyVault.Samples/sa

[2016-02-22 22:15] ravbhatnagar commented on #1749
We should support strongly typed objects for parameter and template. For now, can you please try passing in the params like below and see if it works for you -
 string parameterJsonString = @"{
                                     'siteName': {
                                     'value': 'ravdotnetws2'
                                     },
                                     'hostingPlanName'

[2016-02-22 22:19] ravbhatnagar commented on #1707
We should support strongly typed objects for template and parameter. In the meantime, you can still use local file. But you will have to pass in the contents of the file to the Template and Parameter properties as below:
 string pathToTemplate = @"E:\Azure\ARM\Templates\Website\Web Site.json";
 string pathToParameter = @"E:\Azure\ARM\Templates\Website\WebSite.param.net.json";

JObject templateFile

[2016-02-23 01:04] blumu commented on #1707
There is a design issue with the API. This API is expecting a JObject from version 6.0 of JSon.net as input to the template parameter. If you program uses a more recent version of JSon.net (e.g. 8.0) the call will fail with the following error:

	'Error reading string. Unexpected token: StartArray. Path 'properties.template.$schema', line 4, position 19.'.

[2016-02-23 01:04] blumu commented on #1749
There is a design issue with the API. This API is expecting a JObject from version 6.0 of JSon.net as input to the template parameter. If you program uses a more recent version of JSon.net (e.g. 8.0) the call will fail with the following error:

	'Error reading string. Unexpected token: StartArray. Path 'properties.template.$schema', line 4, position 19.'.

[2016-02-23 01:04] blumu commented on #1777
There is a design issue with the API. This API is expecting a JObject from version 6.0 of JSon.net as input to the template parameter. If you program uses a more recent version of JSon.net (e.g. 8.0) the call will fail with the following error:

	'Error reading string. Unexpected token: StartArray. Path 'properties.template.$schema', line 4, position 19.'.

[2016-02-23 08:26] isaacabraham commented on #1707
@ravbhatnagar @blumu thanks for the tips - this helps.

I think that the simplest solution from an consuming API point of view (for the future) would be to be able to provide the string contents of the two files themselves, rather than having to convert it to a JObject or pass the filename (one could dynamically construct templates).

[2016-02-24 01:45] kamranayub opened #1819 "Azure KeyVault client should support SecureStrings"
Although it is unlikely an app inside of Azure would be compromised at the process memory level, it still would be nice if the Key Vault client supported returning a `SecureString` for the value of the secret.

[code]

[2016-02-24 03:45] alindgren opened #1822 "Search SDK: Why does Microsoft Azure Search Library 1.1.0 not work with Client Runtime for Microsoft Azure 3.0.2"
Client Runtime for Microsoft Azure 3.0.2  was released 2016-02-03, before Microsoft Azure Search Library 1.1.0 which was released on 2016-02-09 but the dependencies for Microsoft.Rest.ClientRuntime.Azure are >= 2.5.2 && < 3.0.0.

[2016-02-24 04:00] brjohnstmsft commented on #1822
The short answer is, because the ClientRuntime library has some breaking changes in 3.x. In the next few months we'll be releasing a new preview version of the Azure Search .NET SDK that will target the 3.x ClientRuntime.

The long answer is in this issue: https://github.com/Azure/autorest/issues/662

Are you having trouble with a conflict? Which other library are you using with Microsoft.Azure.Se

[2016-02-24 16:59] pomortaz commented on #1810
Thanks Michael!
I have addressed the issue in this pull request: https://github.com/Azure/azure-sdk-for-net/pull/1824

[2016-02-24 17:00] Michael-DST commented on #1810
Coooooool... I guess I could have done that, too. :angel: Thank you @pomortaz !

[2016-02-24 22:26] alindgren commented on #1822
That's not quite the conflict I'm having. I was just trying to trace the dependencies to resolve a problem in which my Umbraco CMS 7.3.8 site was getting upgraded to to 7.4.1 (which I'm not ready for) when I installed Microsoft.Azure.Search 1.1.0. I think this is because Umbraco 7.3.8 does not support newer version of Newtonsoft.Json (Umbraco 7.4.1 however does).

Somehow (I think by installing ol

[2016-02-24 23:09] herveyw commented on #1819
@kamranayub We have certainly considered this, however it might simply be theatre; the AKV SDK is built on a number of layers, including .NET HttpClient, the Hyak layer, JSON.NET and each of these "touch" requests and responses in one or more ways, as either byte[] or string, in the process' memory. As you note, today, you should consider the process to be the security boundary and secure it appro

[2016-02-24 23:23] brjohnstmsft commented on #1822
Hmm, it looks like maybe we are missing an explicit dependency on NewtonSoft.Json in the Microsoft.Azure.Search NuGet package. It depends on version 7. Fixing that will probably not fix your conflict by itself, but JSON.NET 6 and 7 should be compatible enough that an assembly binding redirect should fix it. I'm guessing NuGet might not have created the right binding redirect for you because of thi

[2016-02-25 02:16] markcowl commented on #1255
Fix was just checked in to master, released on nugget version 4.5.0 (https://www.nuget.org/packages/Microsoft.WindowsAzure.Management.WebSites/4.5.0-prerelease ) and checked into powershell (finally)

[2016-02-25 02:16] #1255 closed

[2016-02-26 22:34] hovsepm commented on #1787
@DixonD-git, please use version 3.2.1. This issue is already fixed there.

[2016-02-26 22:34] #1787 closed

[2016-02-26 22:42] #1819 closed

[2016-02-26 23:15] #1810 closed

[2016-03-07 21:57] johnbooze opened #1837 "RequestId is always null from ComputeManagementClient.VirtualMachines.CreateOrUpdateWithHttpMessagesAsync"
computeManagementClient.GenerateClientRequestId = true;
var vmResult = await this.computeManagementClient.VirtualMachines.CreateOrUpdateWithHttpMessagesAsync(resourceGroupName, vmName, vm);
Console.WriteLine("RequestID: " + vmResult.RequestId);  // RequestId is always null

[2016-03-08 16:00] JasonAlexander opened #1840 "WindowsAzure.ConfigurationManager Nuget error installing into Portable Library"
When installing Azure Service Bus 3.1.4 through Nuget into VS 2015 Portable Library, the SB package installs correctly but the ConfigurationManager package fails. The Portable Library targets Win 8, Win 8 Phone, iOS, & Android.

[2016-03-09 05:33] brjohnstmsft opened #1842 "Search SDK: Some analyzer names are missing"
`fa.lucene` (Farsi a.k.a. Persian) is missing from the Azure Search .NET SDK (`AnalyzerName` class). There are likely others missing as well. We need to do a pass and make sure all analyzers are listed.

Note that this is not fatal since customers can always do `AnalyzerName.Create("fa.lucene")`, but this is not very discoverable.

[2016-03-09 20:13] brjohnstmsft commented on #1822
After looking at other Azure client libraries and discussing with the owners of ClientRuntime, it looks like the Search library follows existing practice. A binding redirect should solve the issue. If it doesn't, please leave a comment and I'll re-open this issue.

[2016-03-09 20:13] #1822 closed

[2016-03-09 20:23] ericame opened #1846 "There is no client for the RateCard REST API"
While this project includes a client for the [Usage REST API](https://msdn.microsoft.com/library/azure/1ea5b323-54bb-423d-916f-190de96c6a3c), it does not include a client for the complimentary [RateCard REST API](https://msdn.microsoft.com/library/azure/1ea5b323-54bb-423d-916f-190de96c6a3c). This makes it impossible to use the usage client for cost analysis without manually implementing your own R

[2016-03-09 22:10] #1842 closed

[2016-03-10 00:49] brjohnstmsft commented on #1842
The fix is now available in version 1.1.1 of [Microsoft.Azure.Search](http://www.nuget.org/packages/Microsoft.Azure.Search)

[2016-03-11 20:54] alindgren commented on #1822
I couldn't get the binding redirect to work, but I ended up upgrading Umbraco to a version that works with a new enough version of NewtonSoft.Json.

Thanks!

[2016-03-12 00:19] pomortaz commented on #1797
Thanks for reporting the issue. This is addressed in the pull request: https://github.com/Azure/azure-sdk-for-net/pull/1849

[2016-03-12 00:20] pomortaz commented on #1793
Thanks for reporting the issue. This is addressed in the pull request: https://github.com/Azure/azure-sdk-for-net/pull/1849

[2016-03-12 14:27] am11 opened #1852 "Is ServiceRuntime available in any official nuget package?"
We are using kudu to auto deploy DNX application. In kudu environment, ServiceRuntime v2.8 is not available out of the box (GAC, Program Files etc.).

<kbd>https://www.nuget.org/profiles/azure-sdk</kbd> lists several packages for SDK assemblies. I could not find one for ServiceRuntime. Is it (or would it be) available?

Therefore, we have added a `wrap` project for the DNX app which [bin-wraps loc

[2016-03-14 18:44] #1793 closed

[2016-03-14 18:45] #1797 closed

[2016-03-14 18:45] #1743 closed

[2016-03-14 19:02] pomortaz commented on #1453
This issue is fixed in this commit: https://github.com/Azure/azure-sdk-for-net/commit/083412cf356ac9b9e0c38f257c4c464bb0f5bf3c

[2016-03-14 20:30] #1453 closed

[2016-03-16 03:34] a11smiles commented on #1006
After upgrading from 3.1.0 to 3.2.1, `CloudConfigurationManager.GetSetting()` now throws a `MissingMethodException`

[2016-03-17 09:22] estiller opened #1863 "SerializationException when trying to create an AAD application"
Hi,
I'm trying to use the Azure Graph RBAC SDK (Microsoft.Azure.Graph.RBAC) to create an application on AAD, however I get a serialization exception.
The full code to reproduce the issue can be found [here](https://github.com/estiller/GraphRBACException). The thing about this is that while an exception is thrown, the application is indeed created.

Below is the main piece of the code which demonst

[2016-03-18 19:41] BrianMcBrayer opened #1866 "AzureApplicationSettings has "internal" access modifier instead of "private" or "public""
I was wondering if someone on the team could explain the reasoning behind the `internal` access modifier on `AzureApplicationSettings`. Is this better than making it public or even private, since `CloudConfigurationManager` is the only class that uses it?

[2016-03-22 05:22] justsayno commented on #1006
I am also experiencing this problem . I cannot get any sort of app setting using CloudConfigurationManager... Any Ideas on a work around (other than just getting it as an environment variable)

[2016-03-23 16:55] mikeblakeuk opened #1877 "Which NuGet package should I use to upgrade from HDInsight 3.2 to 3.3?"
We are currently using
NuGet Microsoft.WindowsAzure.Management.HDInsight 1.5.12 but this only supports versions up to 3.2

It appears that Microsoft.Azure.Management.HDInsight is preview and has a mix of versions (2.0 vs 1.0.12)

 - Is there an upgrade path? (It looks like the security model has changed)
 - Should we use the preview versions?
 - Do we known when these will be release?

https://git

[2016-03-24 18:48] iouri-s opened #1879 "PatchAsync absent from IResourceOperations"
Patching is a required operations for ARM resource providers, especially useful for updating tags. It should be added to the SDK.

[2016-03-29 14:57] dls314 commented on #1413
@devigned and @djrosanova, I started looking for a WindowsAzure.ServiceBus project and got hopeful when I found this repository. Is there one somewhere?

[2016-04-01 01:29] ailn opened #1887 "HDinsight: cannot configure http settings - MethodNotAllowed"
Using latest SDK package and when trying to call
`hdinsightClient.Clusters.ConfigureHttpSettings(...)`
I get

[code]

This looks like service issue not client though...

[2016-04-05 09:54] kurtng opened #1894 "CloudException when creating Shared Access Key for queues"
The following results in CloudException 400. I tried every possible way to send in the parameters with no luck:

[code]

[2016-04-11 14:35] #1432 closed

[2016-04-15 23:01] markcowl commented on #1846
@Matt-Westphal Can you please assign this appropriately on the billing team

[2016-04-15 23:11] markcowl commented on #1866
@BrianMcBrayer It's not public for encapsulation purposes.  I'm guessing that it was made internal rather than private to lower the complexity of CloudConfigurationManager.  Making it an internal class opens up the possibility of targeting unit tests at the class directly, but this has not been done to date..

[2016-04-15 23:12] markcowl commented on #1863
@shuagarw  can you take  a look?

[2016-04-15 23:22] markcowl commented on #1740
@dreadeddev Apologies for the incompatibility, but unfortunately there is no fix here in ConfigurationManager.  All new development must use the Microsoft.Azure namespace.  Either the AzureGraphClient must update to use the new namespace, or you must use an earlier version of ConfigurationManager that is compatible with AzureGraphClient

[2016-04-15 23:22] #1740 closed

[2016-04-15 23:24] markcowl commented on #1852
@am11 Unfortunately, this repo does not contain the .net service runtime, so we cannot service this request.  Please place the request on the microsoft azure forums: https://azure.microsoft.com/en-us/support/forums/

[2016-04-15 23:24] #1852 closed

[2016-04-16 01:01] shuagarw commented on #1863
+ @stefmilmsft
Well... I tried to repro, but looks like I don't get back any 'appPermissions' section. Will follow up with the graph team on when is it returned back.

[2016-04-18 05:11] estiller commented on #1863
Hi, I reproduced the issue now with the same code in the linked GitHub repo. Could it be settings related to a specific Tenant or Subscription?

[2016-04-18 23:06] shuagarw commented on #1863
Hi, Can you please use package version 1.9.0-preview (https://www.nuget.org/packages/Microsoft.Azure.Graph.RBAC/1.9.0-preview).
1.9.0-preview is actually using the new graph version (1.6-internal). Try this and let me know if you see any issue.

[2016-04-19 01:33] pattipaka opened #1923 "Need support TestMockSupport in .Net SDK like in powershell"
Currently, we had to use Thread.Sleep in out APIs. We don't have API like TestMockSupport in .Net SDK to do sleep appropriately.

[2016-04-19 07:44] estiller commented on #1863
Well, I downgraded the NuGet package from 2.2 to 1.9 as you suggested and got the program to compile, but now when I try to create the application, a Cloud Exception is thrown ("Hyak.Common.CloudException") whose message is:
"{"odata.error":{"code":"Authentication_MissingOrMalformed","message":{"lang":"en","value":"Access Token missing or malformed."},"values":null}}"

Something is now wrong with

[2016-04-19 17:07] shuagarw commented on #1863
@rashidqureshi @stefmilmsft
Hi Eran, Earlier the sdk you were using had graph api version 1.42-previewInternal which could use the same token fetched for different resource (https://management.core.windows.net/).
Now, in new graph api versions, the resource while acquiring token should be the same in which token will be used. Please change code (https://github.com/estiller/GraphRBACException/blob/

[2016-04-20 05:59] estiller commented on #1863
Well, I changed the code as you suggested and not it works.
BUT - I opened up the HTTP response in Fiddler and the reason that it works is that there is no such property "appPermissions" returned now from this version of the API and so it is returned empty.
In the returned JSON object, there is now instead a property called "oauth2Permissions" which represents pretty much what "appPermissions" did

[2016-04-20 06:25] shuagarw commented on #1863
Yes, you are right. We are aware of that and will be fixed in next release. We have to make a bunch of modifications to graph rbac sdk and it will be a part of that.

[2016-04-20 22:14] brjohnstmsft commented on #1804
I did some testing and found a way to get the right merge semantics, at least on a per-field basis. The trick is to specify `[JsonProperty(NullValueHandling = NullValueHandling.Include)]` on any properties for which this should apply. See the referenced PR for examples.

We looked at more comprehensive ways of fixing this (e.g. -- introducing some type of `Delta<T>` class that knows when its prope

[2016-04-20 22:14] #1804 closed

[2016-04-20 22:31] jsgoupil commented on #1804
@brjohnstmsft Thanks for the update. This is exactly how I wanted to treat my null values, but back when I opened the bug, your serializer was somehow overriding my settings... maybe this changed, or I wasn't aware of this contract serializer.

[2016-04-20 22:35] brjohnstmsft commented on #1804
@jsgoupil Nothing changed in the implementation, I just found a way to override `NullValueHandling` on a per-property basis instead of globally. It does require changes to the model class to add the `[JsonProperty]` attribute though.

[2016-04-20 22:53] jsgoupil commented on #1804
@brjohnstmsft  I found it finally, I'm not familiar with your code structure on github (it seems that most of the code is generated), but I found this by decompiling the DLL.

// Microsoft.Azure.Search.DocumentsOperations
public Task<AzureOperationResponse<DocumentIndexResult>> IndexWithHttpMessagesAsync(IndexBatch batch, SearchRequestOptions searchRequestOptions = null, Dictionary<string, List<st

[2016-04-20 23:16] brjohnstmsft commented on #1804
Yes, the behavior of `CreateDocumentSerializerSettings` is intentional and we need it to be the default for a couple reasons:

1. For very wide indexes, we don't want to serialize many, many nulls. This would greatly increase the size of batches, consuming bandwidth and server resources.
2. For merges where you forget to set a nullable property, it is much safer for the default behavior to be "ign

[2016-04-21 00:24] jsgoupil commented on #1804
@brjohnstmsft I am not sure I see the scenario... Let me explain this scenario.

Imagine you have this saved in Azure Search

`class A {
    public int? Z
    public int? Y
    public string X
    public string V
}`

If I load a bunch of A from the search, do some manipulation on the properties, including setting some to NULL, my intent is definitely to propagate the correct data to the service. I

[2016-04-21 00:49] brjohnstmsft commented on #1804
@jsgoupil Your analysis is ignoring one important dimension: `Merge` versus `Upload`. If your intent is to set every single property to some value including possibly `null`, then you can do that today: Just use `Upload` instead of `Merge`.

The problem with `Merge` and `NullValueHandling.Include` would happen when somebody does this:

[code]

To recap, if you want to set *all* the properties, use

[2016-04-21 02:03] jsgoupil commented on #1804
@brjohnstmsft I appreciate your time. I will start using `Upload` starting from now then. In my case, I was mistakenly using `MergeOrUpload`... I didn't know that `MergeOrUpload` would behave like `Merge` and not `Upload` (since it has both word in it.) My thought was that `Upload` would fail if it's already in the index. Not true... This is why I was using `MergeOrUpload`.

In the example that yo

[2016-04-21 19:04] pomortaz opened #1934 "AutoRest generated Graph RBAC Management SDK is broken for Application.Create"
When creating an application using Graph RBAC management SDK 2.2.0-preview, the service response does not get serialized by the Graph SDK and this exception is thrown:

[code]

This is how the Graph SDK's Application API creates an application:

[code]

Graph RBAC service correctly respond to the request as follow:

[code]

However, the Application.Create API is the Graph SDK does not serialize th

[2016-04-22 20:30] ravbhatnagar opened #1944 "Sku Object is not modeled in the latest resources swagger spec"
We should be able to pass the SKU information when creating the ARM resource using the SDK.

[2016-04-27 21:37] lebowitz commented on #1704
Still a problem in 2.9!

[2016-04-28 18:36] 99abhilash99 commented on #792
This shouldn't be a blocking issue.  Just remove that colon from your setting, for eg.,<Setting name="testa" /> ,you can simply use yourConfigmanager.AppSettings["testa"]

[2016-04-28 18:39] abatishchev commented on #792
This is the blocking issue if I want to use `ns:test` and there is no reason me to be disallowed to do so, should be I?

[2016-04-30 09:36] amigup commented on #1413
Has the support of Azure Service Bus Relay released for UWP app?

[2016-04-30 23:20] xied75 commented on #1413
:+1: why is this issue not even assigned a Milestone?

[2016-05-06 22:00] markcowl opened #1975 "Allow opt out of version sync for AssemblyInfo and Package Version"
### Description
Right now publishing job runs Sync-NuspecDependencies.ps1 in the process of build and job overrides AssemblyInfo file. This brings to the issue that whatever source is in github is different from whatever was published to nuget. we need following functionality:

a. give a way for partners to opt out from that job and take full control of versioning.
b. if partner is opt in and publ

[2016-05-06 22:04] markcowl commented on #1725
@singhkay This is in the service management library, can you take a look?

[2016-05-06 22:08] markcowl opened #1976 "Update onboarding documentation"
### Description

Onboarding documentation should reflect the current branching structure, and the project setup for VS14/ CoreCLR Builds
### Cost: 2

[2016-05-06 22:14] #1866 closed

[2016-05-06 22:17] markcowl commented on #1840
### Cost: 4

[2016-05-06 22:18] markcowl commented on #1619
### Description
Verify the build of all packages in the latest VS2015, correct any errors

### Cost: 2

[2016-05-06 22:20] markcowl commented on #1413
@devigned Please assign to milestone appropriately for the priority of UWP 10

[2016-05-06 22:22] markcowl commented on #1398
@alexstoddard This was fixed in the latest version of Hyak Common - please repopen the issue if you see a recurrence.

[2016-05-06 22:22] #1398 closed

[2016-05-06 22:26] markcowl commented on #1357
@kwidev The new generated code no longer has this issue, please update to using the latest client.

[2016-05-06 22:26] #1357 closed

[2016-05-06 22:27] markcowl commented on #1276
### Cost: 2 (time boxed)

[2016-05-06 22:28] markcowl commented on #1006
Closing as duplicate of #1276

[2016-05-06 22:28] #1006 closed

[2016-05-07 01:54] markcowl opened #1980 "CoreCLR Updates for RC2"
### Description
Updates for RC2 version or CoreCLR

### Cost: 4

[2016-05-10 00:33] solankisamir opened #1981 "Fix OpenID Connect Cmdlets due to change in Resource Path"
Resource Path for OpenID Connect Cmdlets changed from

/opendIdconnect

to

/openIdconnectproviders.

[2016-05-10 00:55] adammodlin opened #1982 "When a field is an AvroUnion of Null and a Non-primitive type, incorrect code is generated"
I was working with a schema (attached in .zip) with a field defined like so:

[code]

When running `Microsoft.Hadoop.Avro.Tools codegen` incorrect code is generated. The field is given type `object` on the property as well as for the parameter in the constructor. In this example, the field should be type `Dictionary<string,IList<string>>`.

I am a Microsoft FTE (admodlin). I reached out to Maxim L

[2016-05-10 12:34] mikeblakeuk commented on #1877
Any news on this? ( @hovsepm )

[2016-05-10 17:19] pjganesh opened #1986 "calling CloudServiceManagementClient.Create on a pre-existing cloud service, an unexpected exception is thrown"
The following code works fine the first time through - a fresh cloud service name and the service returns with an expected HttpStatusCode and CloudServiceOperationStatus.

On the second run (leaving the names the same to see what happens on a subsequent create with the same details), I expected the following code to print out "failed."

Instead, I received a CloudException instance with the messag

[2016-05-11 03:53] stevef51 opened #1988 "NuGet Microsoft.Azure.Management.Resources confusion"
The docs at [https://msdn.microsoft.com/en-us/library/azure/mt418626.aspx] indicate that the constructor for _ResourceManagerClient_ [https://msdn.microsoft.com/en-us/library/azure/microsoft.azure.management.resources.resourcemanagementclient.aspx] can take a _SubscriptionCloudCredentials_ instance (which can be Token or Certificate based) - fine, I am using the _SqlManagementClient_ from _Microso

[2016-05-11 17:55] hovsepm commented on #1988
@stevef51 Sorry for the confusion. you should use https://www.nuget.org/packages/Microsoft.Azure.Management.Resources/2.20.0-preview.
@vivsriaus, could you take a look to the documentation issues above?

[2016-05-11 18:06] vivsriaus commented on #1988
@stevef51 Apologize for the confusion as well. The correct ARM package to use is actually Microsoft.Azure.Management.ResourceManager (1.1.1 preview on 20160-04-27).

We're also trying to update the documentation to reflect this as we speak. You can use this [link](https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/) as an example to create a auth

[2016-05-11 23:55] markcowl commented on #1986
@pjganesh Which version of the Schedule package are you using?

[2016-05-12 00:04] stevef51 commented on #1988
Thanks guys, much appreciated

[2016-05-12 00:04] #1988 closed

[2016-05-12 00:57] pjganesh commented on #1986
@markcowl : I'm using Microsoft.WindowsAzure.Management.Scheduler.dll v6.2.0.0

[2016-05-13 09:21] am11 commented on #1852
Thanks for the link @markcowl. I was busy working on other projects. I have opened a discussion topic over at Azure Forums. Here is the link (for back-reference purpose):
https://social.msdn.microsoft.com/Forums/azure/en-US/73e39964-a9c3-4fbd-974f-0d374bf23d40/need-the-official-nuget-package-for-serviceruntime.

[2016-05-13 21:46] kirthik opened #1995 "Create a self signed certificate at runtime for API management tests"

[2016-05-14 05:26] abatishchev commented on #792
Any response, please?

[2016-05-17 08:57] cannehag opened #2001 "ConnectionStrings support in CloudConfigurationManager"
We are using CloudConfigurationManager in our webjobs to access the hosting sites app settings. Is there any reason why the connectionstrings settings is not exposed in CloudConfigurationManager?

[2016-05-17 19:16] markcowl opened #2002 "[Spike]: Cost implementation of long-running post"
### Description
To be consistent with ARM, we should implement long-running operations in the runtime as follows:

(1) If AzureAsyncOperation Header exists
    (a) Check for Location Header and retain
    (b) Poll AzureAsyncOperation until a terminal state is reached
    (c) If the terminal state is success, poll the location header and deserialize per the return type
(2) If 202 or 201 and Locatio

[2016-05-18 09:22] mehulbhalala opened #2005 "How can i get list of Virtual machine image"
how can i get list of virtual machine image like same as portal

[
![4](https://cloud.githubusercontent.com/assets/14832554/15353714/ed91a47a-1d07-11e6-90bf-95e0663352c9.png)
](url)

[2016-05-18 17:38] #1877 closed

[2016-05-18 19:16] brjohnstmsft opened #2007 "Search SDK: There is no way to specify a tag boosting parameter that contains commas"
This issue was reported on [StackOverflow](http://stackoverflow.com/questions/36927392/tag-parameters-with-commas-in-azure-search-tag-boosting). We are fixing the bug in the Azure Search REST API by introducing a new syntax for scoring parameters, but we also need to fix the .NET SDK to use the new syntax.

[2016-05-23 22:23] MrMeemus opened #2018 "Creating Deployment against Germany region results in time out or internal server error"
We are able to delete the staging slot through the DeleteBySlotAsync, but when attempting to createdeployment against the same slot we receive the following error.

**05/23/2016 22:18:12 Info System.AggregateException: One or more errors occurred. ---> System
.Threading.Tasks.TaskCanceledException: A task was canceled.
   --- End of inner exception stack trace ---
   at System.Threading.Tasks.Task

[2016-05-23 22:30] markcowl commented on #2005
@singhkay interested to hear the response

[2016-05-23 22:42] JasonRShaver commented on #2005
Clarifying question.  The image shown as an example are Gallery items if I am not mistaken, which I believe do more than VM Images do.  Is the goal to get the VM Images or Gallery items?

[2016-05-23 23:26] devigned commented on #2005
@JasonRShaver, yes.

[2016-05-24 06:14] kamaljit commented on #2005
Yes, programmatically getting a list of VM images in the gallery will be a good feature.

[2016-05-24 12:13] ikolos-softheme opened #2020 "Hyak.Common.CloudException is not Serializable"
Despite of common practice of exception implementing this exception is not marked with SerializableAttribute and does not implement ISerializable. How should I pass it to a front-end part of my application through WCF or store in a database?

[2016-05-24 17:40] f1crazed opened #2022 "ComputeManagementClient creation signature"
I noticed that the signature for the ComputeManagementClient constructor has changed for version 13 and no longer includes a constructor for SubscriptionCloudCredentials. This would be highly valuable to leave in place unless there is another way to allow for TokenCloudCredentials to be used when initializing a new ComputerManagementClient. This would help in keeping the following authentication m

[2016-05-24 22:06] SaintGimp commented on #1602
I'm also running into this issue.  Microsoft.Bcl.Build is viral and is super-annoying when it infects my solution.  I'm targeting .Net Framework 4.5.2 and there should be no reason for Microsoft.Bcl.Build to be brought in, right?

[2016-05-25 20:09] kirthik commented on #1276
Closing it since this is an Azure Tools issue.

[2016-05-25 20:09] #1276 closed

[2016-05-26 00:11] stevef51 opened #2032 "Add custom Hostname with WebSiteManagementClient"
Developing a multi tenant site on Azure where we want to allow Support personnel to administer new tenants through a simple web interface, such that tenant A accesses their site through _tenanta.myblahblah.com_ and tenant B _tenantb.myblahblah.com_.  I have created our root domain (_myblahblah.com_ in this example) through the Azure portal and can add subdomains using the portal without an issue a

[2016-05-26 06:46] arthurspa commented on #1704
Same problem here.

[2016-05-26 09:32] stevef51 commented on #2032
As it turns out I managed to solve this myself - I was hoping the API calls would do the same operations that the Portal does however it appears not.  I used the new Azure DNS (preview) feature to manage the CNAME records once I had delegated to an Azure DNS Zone, I could then use the DNSManagementClient to add RecordSets (CNAME records), once this is done the calls to WebSiteManagementClient to a

[2016-05-26 09:32] #2032 closed

[2016-05-26 14:42] kirthik commented on #1840
Please update to later version 3.1.7. The CloudConfigurationManager package dependency has been removed.

[2016-05-26 14:42] #1840 closed

[2016-05-30 08:51] EmmaZhu commented on #1778
@olmg-mike
Could share the exact error code? The request should work with proxies.

[2016-05-30 08:51] EmmaZhu commented on #1778
@olmg-mike
Could you share the exact error info? The request should work with proxies.

[2016-05-31 23:43] singhkay commented on #2005
@mehulbhalala If you're looking for .NET SDK methods, look into the cmdlet source code https://github.com/Azure/azure-powershell/tree/dev/src/ResourceManager/Compute/Commands.Compute/Images

Here's how you use these PS cmdlets to find the images https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-cli-ps-findimage/#powershell

[2016-05-31 23:52] singhkay commented on #2018
@MrMeemus It looks like you're trying to create a PaaS deployment. It would be best to reach out to support team for guidance with PaaS issues. This repo is for the client libraries that are used by PowerShell cmdlets.

[2016-05-31 23:52] #2018 closed

[2016-05-31 23:54] MrMeemus commented on #2018
@singhkay I believe we are attempting a Iaas deployment. Fortunately this issue has been resolved, as it was a issue in the Mangement Service Rest API.

[2016-06-01 00:07] singhkay commented on #2018
@MrMeemus Glad to hear :+1:

[2016-06-02 20:45] #1975 closed

[2016-06-03 04:08] mmcc1 opened #2043 "DataLake.Store: High Number of Requests And Padding"
I used the following code to read back a 14KB file (bytes of UTF16 string) placed on the DataLake Store:

`try
            {
                MemoryStream ms = new MemoryStream();
                await (await azureDLConnection.dataLakeStoreFileSystemManagementClient.FileSystem.OpenAsync(azureDLConnection.dataLakeAccountName, remotePath)).CopyToAsync(ms);
                byte[] bytes = ms.GetBuffer(

[2016-06-03 16:40] markcowl opened #2046 "Prototype Operations class discovery in .Net clients"
### Description

.Net azure clients should have a central class (called AzureClient) that can bring together all the generated client operations in an app domain, and provide a single place where the http client is created, credentials and subscription are applied, and incorporating simple methods for login.

Create prototypes for a few options, including
- Simple, generic methods for creating cli

[2016-06-03 16:42] markcowl opened #2047 "Prototype progress reporting mechanism in .Net clients"
### Description

Prototype mechanism for providing progress in .Net clients for long-running operations.  This should use standard Task based async methods
### Cost: 4

[2016-06-03 16:46] markcowl opened #2048 "Prototype error reporting mechanism in .Net clients"
### Description
- Ensure That ClientRequestID is set (if  not previously set) and recorded for long-running operations
- Ensure that the original RequestId is kept throughout long-running operations
- Ensure that Client Request Id and Request Id are always returned with exceptions (lro and synchronous calls)
- Validate retrieval of service-side logs using client reqquest id and request id
### Cost

[2016-06-03 18:10] #2002 closed

[2016-06-04 01:19] brjohnstmsft commented on #2046
Is this for management clients only?

[2016-06-07 01:49] dadeside opened #2057 "Unable to send per-request properties to HttpClient handlers for telemetry, logging, and other purposes"
Currently there is no hook to send custom data/properties per request to the HttpClient (and delegating handlers). There is a need here to send through specific properties and data for the purpose of request logging, gathering telemetry, and instrumenting the individual requests automatically. Adding a hook to add a Key/Value properties collection through per request into the HttpRequestMessage.Pr

[2016-06-07 02:01] brjohnstmsft commented on #2057
@dadeside Requests are already logged. For example, see this code in `DocumentsOperations.DoIndexWithHttpMessagesAsync`:

[code]

Every operation method contains similar logic. The logging itself is the responsibility of the AutoRest ClientRuntime library for .NET.

Besides logging request data, what other sort of telemetry would you want to flow through to a `DelegatingHandler`?

[2016-06-07 08:48] andrewcope-ieg4 opened #2063 "Support for adding virtual directories"
Would be good to be able to create virtual directories/applications via WebSiteUpdateConfigurationParameters and UpdateConfiguration

[2016-06-07 18:05] paolorr opened #2065 "Azure Key Vault Client ImportKeyAsync passing PFX path and password"
Is there any extension method similar to Add-AzureKeyVaultKey cmdlet, where I pass the PFX file path and password? Or a method to convert PFX to keyBundle?

[2016-06-10 00:05] orlandow commented on #1069
Any updates or workarounds?

[2016-06-10 20:24] vandersmissenc commented on #1404
I am also experiencing this same issue with the same code setup. Has there been a resolution?

[2016-06-14 08:15] ppittle opened #2086 "Better documentation for WebKeyTypes"
Issue is based on Stack Overflow Post: [What are the valid list of WebKeyTypes for Azure Key Vault API](http://stackoverflow.com/q/37805535/1224069)

Documentation for [KeyVaultClient.CreateKeyAsync](https://msdn.microsoft.com/en-us/library/azure/dn891724.aspx) `keyType` Property should be improved to indicate values are stored in `JsonWebKeyType`.  (This is the only place I could find 'valid' val

[2016-06-14 19:01] brjohnstmsft commented on #2057
@dadeside Closing this issue per our offline discussion. I recommend re-opening it in the Azure/autorest repo.

[2016-06-14 19:01] #2057 closed

[2016-06-14 23:15] brjohnstmsft commented on #2007
This was fixed in Microsoft.Azure.Search version 1.1.2.

[2016-06-14 23:15] #2007 closed

[2016-06-15 09:46] harsh288 opened #2092 "Search SDK: Make sure to only use property names that are defined by the type"
Hello,

I have updated to latest azure sdk for .net taken from nutget, I managed to fix lot of bugs post upgrade however I 'm stuck at **IndexManager.IndexClient.Documents.Index(batch);**
which gives error "**The request is invalid. Details: parameters : The property 'indexEntityType' does not exist on type 'search.documentFields'. Make sure to only use property names that are defined by the type*

[2016-06-15 16:17] brjohnstmsft commented on #2092
@harsh288 Can you please share the code that you use to construct the batch (including the type you're using to represent your documents, if you're using Index<T>), as well as your index definition?

[2016-06-16 05:24] harsh288 commented on #2092
Well I commented the class which was been interfaced and it was working however I need to understand where I need to mention interface details in "search.documentfields"

public interface IIndexEntityBase
    {
        IndexEntityType IndexEntityType { get; set; }
    }

public class IndexEntityBase : IIndexEntityBase
    {
        public IndexEntityType IndexEntityType { get; set; }

        publ

[2016-06-16 09:39] bgever opened #2096 "ServiceRuntime dependency and 32/64-bit issues"
In our projects we depend on the `Microsoft.WindowsAzure.ServiceRuntime` assembly and in particular the `Microsoft.WindowsAzure.ServiceRuntime.RoleEnvironment` type for run-time diagnostics to tell us more about the role and instance information so that we know where our services are running and that we can include that in our application logs.

We can find and include a reference to the ServiceRu

[2016-06-16 18:32] brjohnstmsft commented on #2092
I'm not sure how this would have worked with the old SDK. In general you can't have properties on your model class that don't map to fields in your index. To exclude `IndexEntityType` from being sent to the index, mark it with the `[JsonIgnore]` attribute.

[2016-06-17 17:24] sixpi opened #2100 "CloudConfigurationManager documentation"
The documentation link in the nuget package points to https://msdn.microsoft.com/en-us/library/microsoft.windowsazure.cloudconfigurationmanager.aspx, which appears to be a dead link. While we could just look at the source code, it would be nice to have some documentation somewhere.

[2016-06-17 18:00] kirthik opened #2101 "[Documentation]: Explain current project structure"
Document the following

- Current project structure
- How to add new projects
- How to add new tests

[2016-06-17 18:03] kirthik opened #2102 "[Documentation]: Making changes to previous package version"
Here is the brief process partner teams should be following
- Find release for your package, create a branch for that release, make changes in the branch, run publish job and then release
- Update release versions every time publish happens

[2016-06-17 18:20] kirthik opened #2103 "[Documentation]: Pull request process"
- This should include documentation on the requirements for sending PR from partner teams
  - Build should be green
  - Already reviewed by their team member. Please mention the name of the team member who reviewed it
  - Clear and descriptive PR title and commit messages
  - Link to the test document
- Suggestions for cleaning up commits
  - When SDK team expects a single commit in a PR vs when m

[2016-06-17 18:21] kirthik opened #2104 "[Documentation]: CI information"
- For Partner team(s)
  - Teams should know we have automatic CI that guards every PR and release
  - Documentation in this section should mention the following
    - Mention the purpose of each CI job
    - Mention the CI jobs that partners can use for ondemand runs for change verification
    - Mention the CI jobs that can create packages for net sdk and msi for powershell gallery
    - For powe

[2016-06-17 18:43] kirthik opened #2105 "[Documentation]: Add SLA document"
- This should include Point of contact document for Partner teams to whom we can assign partner github issues. This should also include ETA for triaging the bug and process that SDK team should follow if the issue is not triaged by partner team within the time period
- PR process. ETA on when SDK team should respond
- Check in process
- Release process
  - Sign job runs on policheck and other tool

[2016-06-17 18:47] kirthik opened #2106 "[Documentation]: Update readme.md"
readme.md should have table to contents that links to various resources. Few are
- onboarding document
- How to release sdk document
- SDK team contact info
- Explanation about difference between `master` and `Autorest` branches

[2016-06-17 18:48] kirthik opened #2107 "[Documentation]: Add release document"
- This should mention the process for releasing
- Tasks are SDK team is responsible for and tasks that partner teams are responsible for a successful release

[2016-06-17 18:51] kirthik opened #2108 "[Documentation]: Add onboarding document"
- Instead of having one large overwhelming document in documentation private repo, this should have TOC which links  to separate pages for each topic
- This should include a link to test document
- DLs to join
- Include link to SLAs
- Contact Info for each partner team
- Slack channel(s) list for asking questions