[2021-08-23 06:28] kinosong commented on #18041
already using authoring sdk v3.2.0-preview.4

[2021-08-23 07:22] zedy-wj commented on #23123
The test passes for public cloud in pipeline, I cannot get the json response from the service in pipeline. So I run the test in local, it failed even in public. The data in recognizedForms.Fields as follow:
![image](https://user-images.githubusercontent.com/81678720/130406585-996a8b97-b87c-4d8d-814c-6283a16f2ae4.png)
May I need to set something?

[2021-08-23 08:49] EdiWang commented on #23466
I am using version 4.1.0 of Microsoft.Azure.Management.Billing

https://www.nuget.org/packages/Microsoft.Azure.Management.Billing/4.1.0

[2021-08-23 08:51] HarveyLink commented on #23466
To unblock this issue, @EdiWang, you can install `Microsoft.Rest.ClientRuntime.Azure.Authentication` package.
@yungezz This is a manual maintenance need doc repo, I have no idea about any auto pipeline which can monitor this.

[2021-08-23 08:52] EdiWang commented on #23466
Thanks @HarveyLink I will try that.

[2021-08-23 08:55] ChristianHehlBM commented on #23440
I don't see how i am passing in a DateTime object instead of a `DateTimeOffset`. I Use `DateTimeOffset.Now` which gives me a DateTimeOffset object, and then use `DateTimeOffset.ToUniversalTime()` which also returns a `DateTimeOffset` object. In fact when checking the ticks and utcTicks properties of both object **they refer to exactly the same point in time.**

I also compared `DateTimeOffset.Now.

[2021-08-23 08:58] HarveyLink commented on #23466
@EdiWang Further update, This should be the correct  sample code:
[code]

[2021-08-23 09:38] schuettecarsten opened #23473 "[BUG] ResourceManager - SubscriptionClient.Subscriptions.ListAsync() does not return Tag data"
**Describe the bug**
SubscriptionClient.Subscriptions.ListAsync() does not return Tag data, but according to docs page, it should. When requesting a single subscription, Tag values are returned as expected. I am not sure if this is an issue with the SDK or with the Azure API itself.

**Expected behavior**
Tag values should be returned.

**Actual behavior (include Exception or Stack Trace)**
Tag is

[2021-08-23 11:36] rjnfrazao commented on #23467
Hi,

Additional information, I used the same class in a Razor Pages project, where the pdf document is uploaded via a Razor Web Page using IFormFile object.  the same exception happened. Therefore, I don't believe the problem is within the way I receive the Stream.

[2021-08-23 13:12] rjnfrazao commented on #23467
Hi All,

I received an information, where an empty file needs to be created before the upload.

`                if (! await destFileCLient.ExistsAsync())//Check if the file already exists.
                {
                    await destFileCLient.CreateAsync(fileStream.Length);//Create an empty file if the file doesn't exist.
                }`

This soved my issue, however the error message was

[2021-08-23 13:12] #23467 closed

[2021-08-23 13:32] jsquire commented on #22635
Hi @Marusyk.   Yes;  @shankarsama's team owns the Service Bus service and the generation of the SDK that you're asking about.    Looping in a few of the other team members in case they're available to assist.

//cc: @DorothySun216, @bainian12345,  @vinaysurya, @yvgopal

[2021-08-23 13:44] jsquire commented on #23471
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-23 13:45] jsquire commented on #23473
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-23 14:28] shakednai1 opened #23474 "[BUG] 'Request url is invalid' exception when trying to use TableClient for cosmos with TokenCredential"
I tried to initialize the TableClient with:
1. (https://{account_name}.table.cosmos.azure.com/{table_name}, tableName, TokenCredential) and got:
        **Azure.RequestFailedException: 'Request url is invalid.**
        ActivityId: 2b031a99-d483-4475-ba1a-60d4d288f650, documentdb-dotnet-sdk/2.14.0 Host/64-bit MicrosoftWindowsNT/6.2.9200.0
        RequestID:2b031a99-d483-4475-ba1a-60d4d288f650

[2021-08-23 14:42] christothes commented on #23474
Sorry for the confusion - `TokenCredential` is currently only supported on Storage Tables endpoints.

#addressed

[2021-08-23 14:44] christothes commented on #23474
Will update the xml docs to clarify this.

[2021-08-23 15:34] christothes commented on #19782
This is implemented in the latest version of the client via the `[IgnoreDataMember]` attribute.

#addressed

[2021-08-23 16:39] maririos commented on #23123
The weird thing is that I don't see those fields in the file https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/Assets/multi1.pdf the test is using ....
When I ran it locally, everything works :(
If you run the test under the debugger and set a breakpoint [here ](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/formrecognizer/Azure.AI.Form

[2021-08-23 16:49] amnguye commented on #23440
Yes I agree the issue is with the offset. Because you're handing a DateTimeOffset that is not 0, you're getting an expirey time with this offset.

The SDK cannot alter the offset passed by the user, it will start giving users who are taking a dependency on that offset to create their expirey time, a different expirey time. This will break customers dependent on the offset to be taken in considerat

[2021-08-23 17:07] jingtaoren commented on #22664
@snaheth thx for response. I am taking this from @zep-uipath .

The issue only happens when we use .Net Azure ResourceManager SDK. But not able to repro thru Portal. So I doubt it is a ARM side issue. (When list thru Portal or cli, we can see the resource immediately)

[code]

Here is how we use this query in SDK
`var resources = await azureClient.Resources.ListAsync(filter: $"resourceType eq 'Mic

[2021-08-23 19:28] jsquire opened #23480 "EventHubBufferedProducerClient: Infrastructure and Functionality"
# Summary

Publishing events using the `EventHubProducerClient` is optimized for high and consistent throughput scenarios where an application would like to assert control over collecting events into batches and the decision of when those batches are sent to Event Hubs. Developers are expected to build and manage batches according to the needs of their application, while taking into account the co

[2021-08-23 19:34] jsquire opened #23481 "EventHubBufferedProducerClient: Partition Assignment"
# Summary

Publishing events using the `EventHubProducerClient` is optimized for high and consistent throughput scenarios where an application would like to assert control over collecting events into batches and the decision of when those batches are sent to Event Hubs. Developers are expected to build and manage batches according to the needs of their application, while taking into account the co

[2021-08-23 19:39] jsquire opened #23482 "EventHubBufferedProducerClient: Flush and Clear"
# Summary

Publishing events using the `EventHubProducerClient` is optimized for high and consistent throughput scenarios where an application would like to assert control over collecting events into batches and the decision of when those batches are sent to Event Hubs. Developers are expected to build and manage batches according to the needs of their application, while taking into account the co

[2021-08-23 19:47] jsquire opened #23483 "Create Publishing Samples for the EventHubBufferedProducerClient"
# Summary

Once the `EventHubBufferedProducerClient` has been implemented, the publishing samples should be extended to cover scenarios for its use.  Additionally, the Event Hubs client sample should be updated to detail the criteria and trade-offs for each producer client.

# Scope of Work

- Update the publishing samples to cover the basic buffered producer scenarios.

- Update the Event Hubs cl

[2021-08-23 19:58] jsquire opened #23484 "EventHubBufferedProducerClient: Builder Extensions"
# Summary

Once the `EventHubBufferedProducerClient` has been implemented, it will need to be integrated with the [EventHubClientBuilderExtensions](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Azure.Messaging.EventHubs/src/Compatibility/EventHubClientBuilderExtensions.cs) for use with ASP.NET and other integrations.

Because the configuration requires that event handler regist

[2021-08-23 20:07] jsquire opened #23485 "EventProducerClient: Update Summary Doc Comments"
# Summary

Once the `EventHubBufferedProducerClient` has been implemented and made `public` for release, the doc comments for the `EventHubProducerClient` should be updated to reflect similar content and structure to the content in the [EventHubBufferedProducerClient](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubBufferedProducerCl

[2021-08-23 20:08] #16630 closed

[2021-08-23 21:07] momoliu-msft commented on #23421
Here is our code for creation:
var dnsZone = await Azure.DnsZones.GetByResourceGroupAsync(TheResourceGroupName, OurDnsDomain);
await dnsZone
        .Update()
        .DefineARecordSet(dnsRecordName)
        .WithIPv4Address(frontend.GetPublicIPAddress().IPAddress)
        .WithMetadata(dnsVmIdMetadataKey, vmId)
        .WithMetadata(dnsEarliestDeleteMetadataKey, earliestDeleteTimeText)
        .A

[2021-08-23 21:09] momoliu-msft commented on #23421
Unfortunately, we do not have any logs that could be used to investigate this. We just started to see this recently and intermittently.

[2021-08-23 21:10] bradmoulder commented on #9616
Can we have some insights to the offline discussion that took place? We are currently encountering the same issue.

[2021-08-23 21:12] bradmoulder commented on #22846
Can we have some insights to the offline discussion that took place? We are currently encountering the same issue.

[2021-08-23 21:13] bradmoulder commented on #22846
Can we have some insights to the offline discussion that took place? We are currently encountering the same issue.

[2021-08-23 22:02] #23321 closed

[2021-08-23 22:52] christothes commented on #22846
The gist of it is that this is something happening with the managed identity endpoint and it would need to be diagnosed from that perspective.

[2021-08-24 00:27] ramya-rao-a commented on #21502
@DorothySun216 This issue is about updating the docs for the [EventHubClient.SendBatchAsync(IEnumerable<EventData>)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.eventhubclient.sendbatchasync?view=azure-dotnet) method in the older `WindowsAzure.ServiceBus` package

This method has the below remarks which should be removed as there is no way for the developer to calcul

[2021-08-24 01:09] ramya-rao-a commented on #18650
@JoshLove-msft

The default values are already documented at the docs for the [MessageHandlerOptions class](https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageHandlerOptions.cs#L19-L27)

Any idea why everything in the docs are blank?

cc @danieljurek

[2021-08-24 01:14] ramya-rao-a commented on #18786
@DorothySun216, Can you please update the docs for the `GetSubscriptions` method?

@glenthomas Please note that a newer package Azure.Messaging.ServiceBus,is available as of November 2020 for Azure Service Bus. While the older `WindowsAzure.ServiceBus` will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read https://aka.ms/azsdk/blog/msging/intro for more details.

[2021-08-24 02:43] chwarr commented on #18328
Can you expand on why the annotations shouldn't be on the public API surface? When I'm programming against an API, nullable annotations are a boon to me. They quickly let me know when an API admits a null value and when it doesn't. I have to look at documentation or guess otherwise.

[2021-08-24 04:31] kinelski commented on #17766
Hello @ibocon, and thank you for showing interest in contributing!

You're right. We changed these tests a lot after I created this issue, so the TODO comment was lost at some point.

The tests you mentioned were recently merged into a single `UpdateWithEveryMember` test, where we expect to validate the `DataFeed.Administrators` property:
https://github.com/Azure/azure-sdk-for-net/blob/dc6d5577ec3

[2021-08-24 06:14] XiangweiTang commented on #17851
Sorry for this late reply:
1. I tried this code on the specific wav file several times. And the problem could be reproduced.
2. There are also a few other files had the similar problem.
3. Most of the case this code works fine.

[2021-08-24 09:06] EnricoMassone opened #23493 "Clarify documentation around what is retried automatically"
Hi, I'm using the **Azure.Messaging.ServiceBus** package version **7.1.0** from an **ASP.NET core 3.1** application.

I'm trying to understand [this part of the library documentation](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/servicebus/Azure.Messaging.ServiceBus#exception-handling), related with exception handling. The point that is not totally clear to me is the one related with t

[2021-08-24 09:45] yungezz commented on #23473
thanks for the inquiry. For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are will be public preview soon around early September. cc @nickzhums

[2021-08-24 13:00] schuettecarsten commented on #23473
Ok - it's very, very difficult to find the latest Azure SDK libries in NuGet and in the documentation...

[2021-08-24 13:14] yungezz commented on #23473
feedback well received. We're working on docs improvment to make latest libraries more visibility, and easy to discover. cc @nickzhums .

[2021-08-24 14:11] rolsendk opened #23494 "Failure running Key Vault client on-premise behind firewall"
Hi, I'm developing to an environment where all outbound traffic is denied unless it goes through a web proxy which uses a whitelist of urls; if a outbound url is not whitelisted the proxy will deny the call.
I'm attempting to run a Key Vault client in this environment with a custom HttpClient configured to use a proxy.

**First problem**
 Tests show that library code will trigger requests not goin

[2021-08-24 14:50] andreyshihov commented on #11763
Here's a new PR #23495

[2021-08-24 14:52] petrformanek opened #23496 "[BUG] Azure.Messaging.ServiceBus.ServiceBusException at Azure.Messaging.ServiceBus.Amqp.AmqpReceiver+<RenewMessageLockInternalAsync>d__58.MoveNext"
**Describe the bug**
We have seen in logs an exception: `Azure.Messaging.ServiceBus.ServiceBusException at Azure.Messaging.ServiceBus.Amqp.AmqpReceiver+<RenewMessageLockInternalAsync>d__58.MoveNext`

Message: `The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue. Reference:1287b55c-c3fc-4bef-990d-0cc3cbe8e26b, TrackingId:d4212684-5308-4d51-b

[2021-08-24 15:11] ibocon commented on #17766
@kinelski I have a question.

According to comments on `SetOptionalMembers` and `ValidateUpdatedDataFeedWithOptionalMembersSet` in `DataFeedLiveTests.cs` and the issue description you recently updated, What I need to do is to check `dataFeed.Administrators` is not changed or changed correctly after call `adminClient.UpdateDataFeedAsync(dataFeedToUpdate)`. Do I understand correctly what is expected

[2021-08-24 15:42] Mohit-Chakraborty commented on #23493
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-24 15:42] vadimkhm commented on #21982
This is really strange, I want to save RecognizedFormCollection
as JSON and pars it back at a later point, and there is no option for deserialization of those data back. There is also a FormField class with internal constructor and so on. And how your `.AsList` will work on all the classes when all subclasses have internal constructors.

[2021-08-24 15:43] Mohit-Chakraborty commented on #23494
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-24 15:44] weidongxu-microsoft commented on #23421
This is probably a hard issue. From SDK's source code, if user code only calls `DefineARecordSet` (no `WithoutARecordSet`), SDK will never call DELETE to a record.

[2021-08-24 15:44] Mohit-Chakraborty commented on #23496
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-24 16:02] #23335 closed

[2021-08-24 16:10] momoliu-msft commented on #23421
Sorry for the confusion. The delete action is called by the following code, I just want to say it could be deleted even though we did not get explicit indication saying that it was created successfully:

var dnsZone = await Azure.DnsZones.GetByResourceGroupAsync(TheResourceGroupName, OurDnsDomain);
var recordSetsApi = dnsZone.Manager.Inner.RecordSets;
await recordSetsApi.DeleteAsync(

[2021-08-24 16:13] pakrym opened #23497 "File name should equal type name diagnostic doesn't work"
I tried to figure out the reason but couldn't. The SA1649 diagnostic seems to be enabled and it works in an isolated repro.

cc @christothes @heaths @nisha-bhatia

[2021-08-24 16:19] jongio opened #23498 "[BUG] DefaultAzureCredential AzurePowerShellCredential fails with AuthenticationFailedException when not logged in"
**Describe the bug**

Using DAC.

Fails with:
[code]

**Expected behavior**

If PSH fails I expect it to bubble up with the normal aggregated DAC exception.

I think we should make sure we have a test that covers "Has AzPSH installed, but not logged in"

**Actual behavior (include Exception or Stack Trace)**

Right now it fails and throws an exception.

**To Reproduce**
Steps to reproduce the beha

[2021-08-24 16:21] crodeheaver opened #23499 "[BUG] Azure ServiceBus The UTC time represented when the offset is applied must be between year 0 and 10,000. (Parameter 'offset')"
**Describe the bug**
When receiving a message from the service bus after updating from Azure.Messaging.ServiceBus 7.1.2 to 7.2.x, throws the exception:
`The UTC time represented when the offset is applied must be between year 0 and 10,000. (Parameter 'offset')`

**Expected behavior**
Message should be received and processed normally.

**Actual behavior (include Exception or Stack Trace)**
The Serv

[2021-08-24 16:58] momoliu-msft commented on #23421
Probably. what happened is that we failed to connect to it permanently. Any suggestions on how to monitor and investigate? currently, we still have this going on intermittently.

[2021-08-24 17:00] sasoripathos commented on #22846
@bradmoulder Just FYI, I have reached out to the service team but they haven't been able to find the root cause.

[2021-08-24 17:03] christothes opened #23500 "[BUG] Table entity property names and values should properly escape values with single quotes"
Table operations other than query do not properly escape single quote values (encoded as two single quotes).

[2021-08-24 17:14] bradmoulder commented on #22846
@sasoripathos I have notified our MS reps of this thread and asked for some additional insight. Do you have a current work around for this?

[2021-08-24 17:18] sasoripathos commented on #22846
@bradmoulder We was using connection strings for authentication before. We reverted back to this approach.

[2021-08-24 18:05] kinelski opened #23502 "[KeyVault] CredScan: handle false positives"
## Issue

We currently have 3 test secrets in Key Vault Track 2 libraries being detected by CredScan ([report](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1062613&view=logs&j=10327055-d4d6-50a6-a312-3d2cd4bd9cb9&t=f5631f7d-b32d-5870-f8fc-4da93924d5ce&l=232)).

These are the secrets being detected:

1. The string "test_secret":
https://github.com/Azure/azure-sdk-for-net/blob/303

[2021-08-24 18:11] amjads1 commented on #23359
@avirishuv Could you please look into the issue?

[2021-08-24 18:45] kinelski opened #23505 "[Core] CredScan: handle false positives"
## Issue

We currently have 2 test secrets in Core Track 2 library being detected by CredScan ([report](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1062613&view=logs&j=10327055-d4d6-50a6-a312-3d2cd4bd9cb9&t=f5631f7d-b32d-5870-f8fc-4da93924d5ce&l=177)).

These are the secrets being detected:
1.
https://github.com/Azure/azure-sdk-for-net/blob/303b75341ba17aecf239a3232d28ca76209a5

[2021-08-24 18:54] pakrym commented on #23505
@heaths, can you look at this, please?

[2021-08-24 18:58] heaths commented on #23471
Duplicate of #22685

[2021-08-24 18:58] #23471 closed

[2021-08-24 19:35] jackbond opened #23507 "[BUG] Scaleset naming convention"
It blows my mind that this wasn't resolved in the very first preview, but the naming convention for nodes in a scaleset should be

nodename_000 (or more)

and not

nodename_0

[2021-08-24 20:11] Mohit-Chakraborty commented on #23093
That is good to know. Thanks for sharing the workaround.

[2021-08-24 20:25] heaths commented on #23505
Can't we just add _azure-sdk-for-net/sdk/core/Azure.Core/tests/PemReaderTests.cs_ to the suppression list?

[2021-08-24 20:31] kinelski commented on #23505
I would advise against doing so because this would prevent us from identifying possible other leaks in this file in the future. I think actual leaks are only likely to happen in recording files, though. @weshaggard What do you think?

[2021-08-24 20:50] PPrabinKumarPatro commented on #23082
Hi, what information do you need here to debug? Also can you ping me over teams for quick fix. We are still having the issue but in different region. The issue auto resolves in some regions by itself.

[2021-08-24 20:53] ramya-rao-a commented on #11802
Thanks for the discussion here folks!

We will be closing this issue as there are no planned next steps from the SDK perspective regarding this. The issue https://github.com/Azure/azure-service-bus/issues/277 tracks the requested feature. Please continue the discussion there for further input from the Azure Service Bus team.

Furthermore, please note that a newer package [Azure.Messaging.ServiceBu

[2021-08-24 20:53] #11802 closed

[2021-08-24 20:54] PPrabinKumarPatro commented on #23082
below is the code and we use storage SDK (            BlobClient blobClient = containerClient.GetBlobClient("test").WithClientSideEncryptionOptions(clientSideOptions);)

//Create CryptographyClient using Key Vault Key
            CryptographyClient cryptographyClient = new CryptographyClient(clientSideKeyVaultKeyUri, credential);

            //Set up Client Side Encryption Options used for Client

[2021-08-24 20:57] ramya-rao-a commented on #18650
#11798 might be related

[2021-08-24 20:58] ramya-rao-a commented on #18650
Since the default values are already documented in the source code and we have #11798 to track the larger problem of the documentation not appearing in docs.microsoft.com for the Microsoft.Azure.ServiceBus package, we will close this issue and use #11798 to track the larger problem

Thanks for reporting!

[2021-08-24 20:58] #18650 closed

[2021-08-24 21:03] #11533 closed

[2021-08-24 21:17] ramya-rao-a commented on #10017
Thanks for reporting @Pucmaster

Like @nemakam mentioned there is no solution without a breaking change in behavior.

Furthermore, please note that a newer package [Azure.Messaging.ServiceBus](https://www.nuget.org/packages/Azure.Messaging.ServiceBus) is available as of November 2020. While the older package `Microsoft.Azure.ServiceBus` will continue to receive critical bug fixes, we strongly enco

[2021-08-24 21:17] #10017 closed

[2021-08-24 21:53] pakrym opened #23513 "Implement service timeout for batches"
We should pick the max timeout from all the queries and use that for the pipeline setting.

[2021-08-24 21:57] jmelkins commented on #19782
Is that the IgnoreDataMemberAttribute from System.Runtime.Serialization? - It's not exactly obvious that this should apply and not so discoverable since a) System.Runtime.Serialization will not typically be in scope as creators of classes derived from ITableEntity will not typically be doing binary or XML serialization (i.e. intellisense will not find this attribute), and b) while the library may

[2021-08-24 22:02] #21672 closed

[2021-08-24 22:16] maorleger opened #23515 "Dynamically deploy attestation service as part of test-resources deployment"
Now that we have a docker image for the attestation service we should migrate away from the statically deployed skrattestation service as per the [guidelines](https://azure.github.io/azure-sdk/general_implementation.html#general-testing-5)

To do so:

1. Take a look at the updated ARM template in this PR as a baseline https://github.com/Azure/azure-sdk-for-js/pull/16848/files#diff-4508ff3a068d9732

[2021-08-24 22:22] ramya-rao-a commented on #13637
Thanks for the updates @DorothySun216!

This issue has gone stale over time.

Since we havent heard back from the original set of issue reporters after @DorothySun216 released updates for the Microsoft.Azure.ServiceBus package, we are going to assume that the problem has been resolved. If not, please log a new issue

@keodime We see your comment after @DorothySun216 made her post on the fixes made

[2021-08-24 22:22] #13637 closed

[2021-08-24 22:27] ramya-rao-a commented on #14205
The message state feature is not available in the AMQP implementation for Service Bus.
The older `WindowsAzure.ServiceBus` used a different protocol and so was able to support this feature.

For the newer SDKs to support this, the service has to support this feature first.
https://github.com/Azure/azure-service-bus/issues is the repo where the service team takes in feature requests.

Related issue

[2021-08-24 22:27] #14205 closed

[2021-08-24 22:35] miso-ms commented on #12388
@jsquire @serkantkaraca: Where is this being tracked? The feedback.azure.com link above seems outdated and this is a valuable feature for our automatic test pipeline.

[2021-08-24 22:46] ramya-rao-a commented on #15325
Looks like there was a PR out to fix this, but was closed due to inactivity. See https://github.com/Azure/azure-sdk-for-net/pull/18503

@JoshLove-msft, Can you check if this is a problem in the newer Azure.Messaging.ServiceBus package as well?

[2021-08-24 22:48] christothes commented on #19782
yes.

Thanks for the feedback, however I don't think we'd ever create a custom attribute specific to SDK client libraries.

[2021-08-24 22:58] ramya-rao-a commented on #18980
@JoshLove-msft, @taabdull Does the conclusion in https://github.com/Azure/azure-sdk-for-net/issues/21672#issuecomment-900599381 apply to Microsoft.Azure.ServiceBus as well? If so, can we close this issue?

[2021-08-24 22:59] #19163 closed

[2021-08-24 23:13] ramya-rao-a commented on #19236
For samples around TokenProvider, you can checkout https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/RoleBasedAccessControl

The same approach can be applied to SubscriptionClient

The problem with missing docs is being tracked in https://github.com/Azure/azure-sdk-for-net/issues/11798

[2021-08-24 23:13] #19236 closed

[2021-08-24 23:17] jongio opened #23518 "[BUG] IsLoggingPIIEnabled property clarity needed"
**Describe the bug**

I enabled IsLoggingPIIEnabled on DAC and expected to not see REDACTED  in logs.  But I still see this:

[code]

I discussed with @christothes and it appears that this only applies to certain clients.  If that is the case, then I think we need to improve docs, or not have it at the TokenOptions level.

I would like to understand better what this setting applies to and how to v

[2021-08-24 23:20] jongio opened #23519 "[BUG] AllowMultiTenantAuthentication clarity needed"
**Describe the bug**

I couldn't figure out what AllowMultiTenantAuthentication did by reading the comments.

Here's the best I explanation I could come up with based on discussions with @christothes

-------
## Multi-Tenant and Tenant Fallback Setting

Sometimes your app needs to support multiple tenants and you don't want to hard-code a single Tenant Id. By default, if the user doesn't belong to

[2021-08-24 23:34] ramya-rao-a commented on #19283
@DorothySun216 Can you respond to the point on SessionHandler and the regular MessageHandler behaving differently when using TokenProvider?

@ColeSiegelTR Please note that a newer package Azure.Messaging.ServiceBus is available as of November 2020. While the older package Microsoft.Azure.ServiceBus will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the migratio

[2021-08-24 23:36] AlexGhiondea commented on #23507
@jackbond thanks for opening this issue.

Could you provide us more information about the package and service you are running into an issue with?

[2021-08-24 23:39] AlexGhiondea commented on #23499
@crodeheaver thanks for reporting this.

Would you be able to try and repro this on the latest version of the package?

[2021-08-24 23:41] danieljurek commented on #11798
This is an issue with the `.csproj` file. It is missing the `<DocumentationFile>` property. For example:

https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Microsoft.Azure.EventHubs.ServiceFabricProcessor/src/Microsoft.Azure.EventHubs.ServiceFabricProcessor.csproj#L7

For projects starting with `Azure.___` (i.e. "client" libraries as classified by the build) the `<DocumentationFile

[2021-08-25 00:17] ramya-rao-a commented on #20908
Hey @lindgrend

I am assuming that you are referring to the [SupportOrdering property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queuedescription.supportordering?view=azure-dotnet) in the older package.

We have this property on topics, but have intentionally removed it for queues.

Below is the justification we got from the Service Bus team

[2021-08-25 00:18] ramya-rao-a commented on #20908
Additionally, please note that a newer package Azure.Messaging.ServiceBus is available as of November 2020. While the older package Microsoft.Azure.ServiceBus will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the migration guide at https://aka.ms/azsdk/net/migrate/sb for more details.

[2021-08-25 00:18] #20908 closed

[2021-08-25 01:21] jackbond commented on #23507
I don't have a scaleset with more than 9 nodes (I have in the past), but since they can go to 999 the screen below becomes a total mess. This is literally a 10 second fix, wherever your code looks like this...

$"{nodename}_{nodeIndex}"

change it to this

$"nodename_{nodeIndex:D3}"

![image](https://user-images.githubusercontent.com/2799232/130709817-5fa1367c-f296-4c04-ac26-b6cb2d832c95.png)

[2021-08-25 01:29] ramya-rao-a commented on #22995
Hey @subhendu-de

Please note, a newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older package `Microsoft.Azure.ServiceBus` will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the migration guide at https://aka.ms/azsdk/net/migrate/sb for more details.

In the newer [Azure.Messaging.ServiceBus](https://www.nuget.org/package

[2021-08-25 01:33] ramya-rao-a commented on #23463
@martinjt, @NickCraver,

Can either of you share details around how you are hosting Service Bus locally?

[2021-08-25 01:48] ramya-rao-a commented on #10300
@JoshLove-msft Anything to add here from the perspective of the newer Azure.Messaging.ServiceBus or our new SDK guidelines?

[2021-08-25 01:51] ramya-rao-a commented on #10241
Thanks for reporting @GrimGadget
There is definitely interest in this feature as seen in another issue we got, see https://github.com/Azure/azure-sdk-for-net/issues/14205

The message state feature is not available in the AMQP implementation for Service Bus.
The older `WindowsAzure.ServiceBus` package used a different protocol and so was able to support this feature.

For the newer SDKs to support

[2021-08-25 01:51] #10241 closed

[2021-08-25 01:57] ramya-rao-a commented on #18001
@JoshKeegan Please note that a newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older package `Microsoft.Azure.ServiceBus` will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb)  for more details.

The [`ServiceBusClient` ](https://docs.microsoft.com/en-us/dotnet/api/az

[2021-08-25 01:58] ramya-rao-a commented on #15097
@shankarsama, This feature would first need to be implemented in the service side. Can you please transfer/move this issue to the https://github.com/Azure/azure-service-bus repo where you collect feature requests for the service?

[2021-08-25 02:04] ramya-rao-a commented on #10118
@shankarsama This would require an update to the ARM APIs first from the service side. Can you please transfer/move this issue to the https://github.com/Azure/azure-service-bus repo where you collect feature requests for the service?

@tpar In case you are also sending or receiving messages in the same application and are using the new Azure.Messaging.ServiceBus package for doing so, you can use t

[2021-08-25 02:07] ramya-rao-a commented on #10149
@tpar In the new Azure.Messaging.ServiceBus package, you can use the [ServiceBusAdministrationClient.RuleExists](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.administration.servicebusadministrationclient.ruleexistsasync?view=azure-dotnet) method for this purpose.

[2021-08-25 02:07] #10149 closed

[2021-08-25 02:11] ramya-rao-a commented on #10118
On second thoughts, it is not clear whether this feature request was for the package [Microsoft.Azure.Management.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceBus/) or for the class [ManagementClient](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.management.managementclient?view=azure-dotnet) in the package Microsoft.Azure.ServiceBus

@shanka

[2021-08-25 02:13] ramya-rao-a commented on #8785
Closing as the related PR #12256 is merged

[2021-08-25 02:13] #8785 closed

[2021-08-25 02:25] ramya-rao-a commented on #8561
Thanks for your patience everyone and apologies for the delay in response.

Please note that a newer package Azure.Messaging.ServiceBus is available as of November 2020. While the older `Microsoft.Azure.ServiceBus` package for which this issue was logged will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb

[2021-08-25 02:29] ramya-rao-a commented on #8440
Hello all,

The newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older package `Microsoft.Azure.ServiceBus` will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb)  for more details.

Closing this issue as there are no plans to add the feature discussed here to the older

[2021-08-25 02:29] #8440 closed

[2021-08-25 02:32] ramya-rao-a commented on #8291
@shankarsama Please consider moving this issue to https://github.com/Azure/azure-service-bus/issues where you track feature requests for the service

[2021-08-25 02:35] ramya-rao-a commented on #7690
Thanks for your patience @jub1482 and @Rayzbam

Please note that a newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older `Microsoft.Azure.ServiceBus` package for which this issue was logged will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb) for more details.

@Josh

[2021-08-25 02:37] ramya-rao-a commented on #7380
Hello all,

Thanks for your patience

Please note that a newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older `Microsoft.Azure.ServiceBus` package for which this issue was logged will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb) for more details.

https://github.

[2021-08-25 02:37] #7380 closed

[2021-08-25 02:39] ramya-rao-a commented on #7371
Please note that a newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older `Microsoft.Azure.ServiceBus` package for which this issue was logged will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb) for more details.

The new package has a new client hierarchy which shou

[2021-08-25 02:39] #7371 closed

[2021-08-25 02:43] ramya-rao-a commented on #6653
Hello all,

Thanks for your patience

Please note that a newer package `Azure.Messaging.ServiceBus` is available as of November 2020. While the older `Microsoft.Azure.ServiceBus` package for which this issue was logged will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb) for more details.

@JoshLove-msft,

[2021-08-25 04:02] JoshLove-msft commented on #7690
The equivalent to the Message.Clone method is the [constructor](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusmessage.-ctor?view=azure-dotnet#Azure_Messaging_ServiceBus_ServiceBusMessage__ctor_Azure_Messaging_ServiceBus_ServiceBusReceivedMessage_) for ServiceBusMessage that takes a ServiceBusReceivedMessage. This constructor will create a new ApplicationPropertie

[2021-08-25 04:10] JoshLove-msft commented on #23496
This error indicates that while trying to automatically renew the message lock, the lock was already lost. This typically happens when the connection is dropped for some reason (could be a network issue, or a service upgrade). It should be fine to ignore as the message will either be redelivered, or if the delivery count has met the dead-letter threshold, it will be delivered to the dead letter qu

[2021-08-25 04:26] JoshLove-msft commented on #23493
Hi @EnricoMassone,
If you get a ServiceBusException thrown that has IsTransient = true, it means that the exception was already retried up to the MaxTries limit.

[2021-08-25 05:33] EnricoMassone commented on #23493
/unresolved

Hi @JoshLove-msft thanks for replying.

To summarize: each time the library throws and error deemed to be transient, I have the guarantee that retries has already been applied by the library itself, regardless of the error `Reason` .

Correct ?

[2021-08-25 06:40] rafa-arcangel opened #23525 "[BUG] EventsResults Not show @odata:count when send parameter count: true"
**Describe the bug**
I'm using the library for Microsoft.Azure.ApplicationInsights.Query and when I made the request through the method client.Events.GetCustomEventsAsync, the response didn't contain the value for the global count.

**Expected behavior**
When make a call to the Application Insight REST API, it returns a json object with those properties:
[code]
The value for @odata.count didn't ex

[2021-08-25 07:41] weidongxu-microsoft commented on #23421
@momoliu-msft

I double checked, DELETE is success (status 204) even if the record is not there. So it is quite possible that the record is not created in the first place.

You may try 1.37.1, which could have some fix with response timeout.

Again, this SDK is in maintenance mode and probably getting deprecated soon. Please be prepared to migrate. @nickzhums

[2021-08-25 07:59] tomkerkhove commented on #8561
Thank you for the update!

I think we have enough examples mentioned above but the most obvious one is health probing to see if the message processor is still processing messages. If not, instance needs to be killed and recreated

[2021-08-25 08:20] nazimkov commented on #18041
+1 LabeledUtterance stil use int for Id
![image](https://user-images.githubusercontent.com/30904874/130754569-aad1bc7b-a44f-4e92-8688-225e3a27095b.png)

[2021-08-25 08:32] petrformanek commented on #23496
Thanks for an explanation. The issue happens sporadically.

[2021-08-25 08:52] KozakSergii commented on #18873
Hi we have the same problem with Microsoft.Azure.ServiceBus nuget, will be fix applied to it?

[2021-08-25 09:02] zedy-wj commented on #23123
@maririos - Thanks for your help! It seems that I uploaded the wrong blobs in container in my storage account.
When running in the pipeline, is there a fixed storage account, or can you tell me which blobs should I upload to my own container?

[2021-08-25 14:10] sikemullivan commented on #11533
/resolve

I don't see any solution here, not sure why it was resolved.

If I have a process that takes 2hrs to run, the client should be able to regain itself if the connection breaks. Also, if the client is creating new LockToken automatically upon renewal, shouldn't we have a way of accessing this new token so we can call CompleteAsync?

[2021-08-25 14:42] martinjt commented on #23463
It's something I'm working on, @shankarsama is aware of the usecase, it's just not something I want to share publicly yet.

Using `localhost` will be crucial to adoption though, and as it's not in the `Azure.Messaging.ServiceBus` library, this would bring the solution to parity.

[2021-08-25 14:44] alexanderomnix commented on #13481
any update on it?

[2021-08-25 15:48] Mohit-Chakraborty commented on #23525
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-25 15:53] Mohit-Chakraborty commented on #23518
@pakrym - can you give your opinion on this.
Is there some improvement that needs to be made or can the user objective be achieved with current support?

[2021-08-25 16:00] danieljurek opened #23529 "Set <DocumentationFile> tag in data plane .csproj files"
We need a way to set <DocumentationFile> consistently across track 1 csproj files if possible. This may require cleaning up manually specified instances of <DocumentationFile> in .csproj or other files.

Build pipelines should also warn in instances where xml documentation does not make it into the package.

For example, this csproj is missing a `<DocumentationFile>` entry and does not produce ref

[2021-08-25 16:34] ramya-rao-a commented on #11533
Hey @sikemullivan

The reply from the Service Bus team in https://github.com/Azure/azure-sdk-for-net/issues/11533#issuecomment-716899419 explains the potential reasons for losing locks. This is by design and there are no fixes that can be made to the SDK to work around this. Therefore, we closed the issue.

If the connection breaks in between these 2 hours, there is no way supported by the service

[2021-08-25 16:48] maririos commented on #23123
I sent you the files over email.

[2021-08-25 20:51] kinelski opened #23535 "[TextAnalytics] Generate code from v3.2-preview.2 swagger"

[2021-08-26 03:37] russcam opened #23545 "[BUG] Azure.Storage.Queues package 12.7.0 raises multiple activities with same Operation Name for one method"
**Describe the bug**

When calling `QueueClient.ReceiveMessageAsync()` on the `QueueClient` from Azure.Storage.Queues package 12.7.0, two activities with OperationName `QueueClient.ReceiveMessage` are raised for a single method call:

1. First one is started in internal method call `ReceiveMessagesInternal`
    https://github.com/Azure/azure-sdk-for-net/blob/b0403de6fff3cfc961deba543e3c657287fc062

[2021-08-26 08:40] YaliBar opened #23563 "Schema registry corrupt"
library: Azure.Data.SchemaRegistry.ApacheAvro(version 1.0.0-beta.2)

While using the schema registry avro extension, I noticed that SchemaRegistryAvroObjectSerializer(with auto-register-schema=True) accepts any schema groups and Event-Hub resource, which sometimes when users have misconfigured, it can register new version on a different resources from other product environments.

It's important to

[2021-08-26 14:05] raj4all opened #23568 "[BUG] AnalyzeActionsResult serialization does not preserve EntityCategory value"
**Describe the bug**
The AnalyzeActionResult response has _RecognizeEntitiesActions_ as a field. After serializing the content Azure.AI.TextAnalytics _EntityCategory_ is empty. When debugged, I can see the EntityCategory value as _Person, DateTime_ etc. However, after serializing those fields are rendered empty. like _"category": {},_

The reason could be:
 _EntityCategory_ has members defined as

[2021-08-26 14:23] ssghoda opened #23569 "[FEATURE REQ] Azure Search Working with Complex Collections"
Our data structure is similar to HotelId 1 example in the link https://docs.microsoft.com/en-us/azure/search/search-howto-complex-data-types

Our requirement is as follows:

Input: City = New York, StateProvince = NY, BaseRate = $100

Select fields: HotelId, HotelName, Description, Tags, Address, Rooms

Filter: Only rooms where BaseRate is less than or equal to Input rate and Address City and Stat

[2021-08-26 18:19] danieljurek opened #23576 "Docs should show preview packages under "Latest" in addition to "Preview" if there is no GA version"
Customers visiting a docs page for the first time may not know to go to the "Preview" moniker to see docs for a preview package. This can be especially confusing in situations where the package in question only has preview versions and no GA versions. If the user doesn't immediately see the package they are searching for under the "Latest" moniker they may incorrectly conclude that package documen

[2021-08-26 18:38] jaschrep-msft opened #23578 "Azure.Storage.Blobs add transactional CRC64 to Put Blob swagger"
BlockBlobRestClient.UploadAsync() does not support transactional crc-64 to be supplied but does support MD5. It should support both to match the REST API.

[2021-08-26 18:47] nisha-bhatia opened #23580 "Updates to Monitor.Query"
- [x] Add endpoint as a public property
- [x] Change filter parameter name in CreateQuery to query
- [x] Start ServiceVersion numbering at 1 in LogsQueryClientOptions
- [x] Start ServiceVersion numbering at 1 in MetricsQueryClientOptions
- [x] Change Top to Size in MetricsQueryOptions
- [x] Add partial failure plan to LogsQueryResult
- [x] GetResult in class LogsBatchQueryResult should return a Lo

[2021-08-26 19:36] dheerajawale-svg opened #23581 "Does ListBlobsSegmentedAsync returns blobs sequentially?"
[Enter feedback here]
Does ListBlobsSegmentedAsync returns blobs sequentially?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e6cc800-331f-7132-d9b7-e3ac59ba5d94
* Version Independent ID: 04716976-30f5-bf72-82d4-60ef68d76cb3
* Content: [CloudBlobClient.ListBlobsSegmentedAsync Method (Microsoft.Azure.Storage.Blob) - Az

[2021-08-26 19:43] jasonshave opened #23582 "Add EntityPath to ProcessMessageEventArgs and ProcessSessionMessageEventArgs"
Related to `Azure.Messaging.ServiceBus`

When receiving a `ProcessMessageEventArgs` or `ProcessSessionMessageEventArgs` objects it would be very helpful to know which entity path the message came from. While it's easy to stamp a sent message with the entity path from the `ServiceBusSender` in the `To` field, this is only helpful for queues since a sender doesn't specify a subscription; only a topi

[2021-08-26 20:42] steelysteve opened #23586 "It's unclear what your-vault-url is referencing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96152238-7f79-a387-c5e1-5c1573156961
* Version Independent ID: 9b9e811a-826e-94f7-2888-fd29f66d1bf0
* Content: [Azure Key Vault secret client library for .NET - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/secu

[2021-08-26 21:26] seanmcc-msft opened #23587 "[Core] Add ability for the DiagnosticScopeValidatingInterceptor to check for duplicate Activities for the same method"
This check would help catch issues like this - https://github.com/Azure/azure-sdk-for-net/issues/23545

[2021-08-27 08:18] dzendras opened #23600 "[BUG] TableClient.DeleteAsync returns while the table still can be queried"
**Describe the bug**
TableClient.DeleteAsync returns successfully while the table still can be queried shortly after.

**Expected behavior**
After successfully awaiting TableClient.DeleteAsync, any calls to QueryAsync are supposed to fail with ErrorCode == TableErrorCode.TableNotFound.

**Actual behavior (include Exception or Stack Trace)**
About to delete tables...
[aTable3] Success after 1 attem

[2021-08-27 08:41] v-yilinhu opened #23602 "[Container Registry] CanDeleteRepository failing in nightly runs"
Container Registry nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1063635&view=results

[2021-08-27 08:41] v-yilinhu opened #23603 "[Metrics Advisor] CanDeleteRepository failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1065146&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1067393&view=results

[2021-08-27 08:42] v-yilinhu opened #23605 "[Flaky Test] Event Hubs Function Bindings: `EventHub_PartitionKey`"
# Summary

This test has been observed to be intermittently failing in nightly runs;  failures are transient and a re-run usually resolves the issue.  Now that the bindings have reached a level of stability, we should investigate and stabilize.

# Details

[code]

**Example Run:**
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1064926&view=results

[2021-08-27 08:43] v-yilinhu opened #23606 "[Service Bus] AcceptNextSessionRespectsCancellation failing in nightly runs"
Service Bus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1067259&view=results

[2021-08-27 08:43] v-yilinhu opened #23607 "[Synapse] TestRenameLinkedService failing in nightly runs"
Synapse nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1063633&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1063633&view=results

[2021-08-27 13:32] juligu opened #23608 "Azure.Storage.Queues proxy config"
**Query/Question**
There was an option with the previous library version to implement a proxy https://stackoverflow.com/questions/55927663/connect-to-azure-storage-queue-behind-proxy but it doesn't seem to be possible with the latest one, is there any guidance on this?

**Environment:**
 - Azure.Storage.Queues, 12.7.0
 - dotnet 5
 - Visual Studio 16.11.2

[2021-08-27 14:39] devedse opened #23610 "[QUERY] Microsoft.Azure.WebJobs.Extensions.EventHubs AzureFunction works with EventData rather then PartitionEvent"
**Query/Question**
Hello, I just started converting some code from an EventHub listener which runs in my AppService to Azure Functions. In my app service I'm using the latest `Azure.Messaging.EventHubs` package. I read that to be able to use the same "EventData" object I need to use the beta version of `Microsoft.Azure.WebJobs.Extensions.EventHubs` (5.0.0 beta 7 is what I'm using).

This all works

[2021-08-27 14:45] ssghoda opened #23611 "[QUERY] Azure Search Index Soft Delete Detection"
I wanted to know a bit more about the Soft Delete Detection policy and how it works if you could help.

Currently, we have a lot of fields in our Cosmos document structure. We have introduced a new field “IsLogicalDelete” for soft delete purposes. I would like to know how it finds documents in Azure Search Index to mark for soft delete, whether it is just based on this soft delete field, or it als

[2021-08-27 20:00] JoshLove-msft opened #23617 "[Storage] Duplicated diagnostic scopes"
Several [instances](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1069507&view=ms.vss-test-web.build-test-results-tab&runId=23160222&resultId=121289&paneView=debug) of duplicated diagnostic scopes were found in Storage library while addressing https://github.com/Azure/azure-sdk-for-net/issues/23587

To repro, you can run the CI on this PR - https://github.com/Azure/azure-sdk-for-ne

[2021-08-27 20:06] JoshLove-msft opened #23618 "[Digital Twins] Duplicated diagnostic scope"
New validation is being added to the Test Framework to validate that a diagnostic scope isn't being opened multiple times for an operation in https://github.com/Azure/azure-sdk-for-net/pull/23601.

This uncovered several failures in Digital Twins tests related to the DigitalTwinsClient.UpdateComponent operation.
https://dev.azure.com/azure-sdk/public/_build/results?buildId=1069507&view=ms.vss-test

[2021-08-27 23:20] seanmcc-msft commented on #23587
Ok, I will branch off and make the storage fixes on Monday.

[2021-08-27 23:23] annelo-msft opened #23624 "[ACR] Add upload/download/delete operations for OCI manifests and blobs"
Provide library operations enabling push/pull for OCI artifacts, in order to replace https://github.com/Azure/bicep/blob/main/src/Bicep.Core.RegistryClient/BicepRegistryBlobClient.cs with the Azure SDK client.

Remaining work includes:

- [x] Obtain manifest mediaType from response
- [x] Set digest in DownloadManifest from response
- [x] Test that ArtifactBlobProperties is correctly populated by D

[2021-08-28 01:29] devedse commented on #23610
Thanks that should solve my issue. I could not find this in the documentation though. Is this described somewhere? Or is there another way to find all possible options?

[2021-08-28 06:53] ritishgoyal commented on #23261
I'm not sure why the access token is non-standard. I'm getting it from the AAD production endpoint.
Yes, I think eating the parsing exception is the right call. Can you follow up on this with your team and get a fix in soon.
I'm kind of blocked on this and currently using a custom compilation of the library to get around this. Thanks!

[2021-08-28 08:27] v-xuto commented on #14655
@AlexGhiondea for notification.

[2021-08-28 08:28] v-xuto commented on #14662
@AlexGhiondea for notification.

[2021-08-28 08:28] v-xuto commented on #14667
@AlexGhiondea for notification.

[2021-08-28 08:28] v-xuto commented on #14668
@AlexGhiondea for notification.

[2021-08-28 10:54] JandosHk opened #23629 "[QUERY] Azure FormRecognizer resource temporarily unavailable error on Azure VM"
**Query/Question**
I have the following console app (.net core 5.0):

[code]

I executed the above console app from my WIndows 10 PC, like below:

    dotnet FormRecognizerTest.dll

And it worked as expected; the line "Got Form Recognizer working" was printed on my console.

Now I executed the same app on my Azure VM (Ubuntu 20.04) like below:

    sudo dotnet FormRecognizerTest.dll

But, this tim

[2021-08-28 12:40] jsquire commented on #23629
Hi @JandosHk.   Thank you for your feedback and we regret that you're experiencing difficulties.  Your stack trace indicates that your VM is unable to reach the host at `my-formrecognizer.cognitiveservices.azure.com:443` which is causing the socket to fail when attempting to bind.

Unfortunately, this isn't something under control of the SDK.  Most likely, the root cause is related to the network

[2021-08-28 14:23] JandosHk commented on #23629
@jsquire, thank you for your prompt answer. It helped me where to search. Closing this issue.

[2021-08-28 14:23] #23629 closed

[2021-08-28 14:58] stevedown opened #23630 "Cannot control HttpClient disposal in KeyVaultClient"
The constructor at https://github.com/Azure/azure-sdk-for-net/blob/882eab0caa2d2503e4681955cdc611cf29bf017b/sdk/keyvault/Microsoft.Azure.KeyVault/src/Customized/KeyVaultClient.cs#L62

accepts a `KeyVaultCredential` (based on `ServiceClientCredentials`) and an `HttpClient`. For our use, this is valuable in that it allows us to manage the `HttpClient` externally as a singleton (and avoid the `HttpCl

[2021-08-28 14:58] stevedown opened #23631 "Cannot control HttpClient disposal in KeyVaultClient"
The constructor at https://github.com/Azure/azure-sdk-for-net/blob/882eab0caa2d2503e4681955cdc611cf29bf017b/sdk/keyvault/Microsoft.Azure.KeyVault/src/Customized/KeyVaultClient.cs#L62

accepts a `KeyVaultCredential` (based on `ServiceClientCredentials`) and an `HttpClient`. For our use, this is valuable in that it allows us to manage the `HttpClient` externally as a singleton (and avoid the `HttpCl

[2021-08-28 14:59] #23631 closed

[2021-08-28 14:59] stevedown commented on #23631
Page timed out, backing up resubmitted, closing duplicate.

[2021-08-28 20:22] JoshLove-msft commented on #23610
Yes, there is documentation for the possible binding types here - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=csharp#usage

[2021-08-29 07:34] YaliBar commented on #23563
@JoshLove-msft
Yes indeed.

[2021-08-29 17:40] lwanyintaung opened #23632 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-08-29 17:40] #23632 closed

[2021-08-30 00:24] shawnxzq commented on #22025
@LijuanZ We can track this as new requirement in our backlog, thanks!

[2021-08-30 00:51] amarkwong opened #23634 "[BUG]Cannot parse the blob URI with "#" correctly"
**Describe the bug**
Please provide the description of issue you're seeing.
We are trying to parse some blob file from EventGrid Trigger in Azure Function, like

[code]

and if the data.url, or to be specific, the blob name contains **#**, then the Stream is empty.

We try to handle the exception when the binding stream is empty, and we did something like
[code]
**Expected behavior**
For example,

[2021-08-30 01:28] AlexGhiondea commented on #14655
@tzhanl Could you explain what this issue is about? I am not sure who/what should support that env var...

[2021-08-30 03:01] ArcturusZhang commented on #23174
@danieljurek sorry for the delay of response.
Previously we are focusing to get the new version of track 2 compute SDK merged into main. And now it is merged.
I run the command
[code]
on my local repo after the new track 2 is merged. It does not give me any error. Therefore I suppose I just need to remove the ignore clause of compute RP in the `cspell.json` file. I will open a PR soon about this.

[2021-08-30 03:24] ArcturusZhang commented on #23174
I opened [this PR](https://github.com/Azure/azure-sdk-for-net/pull/23637) to remove compute from the ignore list

[2021-08-30 03:25] ArcturusZhang commented on #23184
Since we are still working on the new track 2 onboarding for this RP, we will do this after the release is done for network

[2021-08-30 03:30] ArcturusZhang commented on #23174
Also I opened [this PR](https://github.com/Azure/azure-sdk-for-net/pull/23638) to fix the spellcheck in new track 2 SDK of keyvault.
This issue does not exist when you check this, therefore it does not have a corresponding issue now

[2021-08-30 03:33] ArcturusZhang commented on #23181
Adding @HarveyLink for awareness since he is recently working on ML new track 2 SDK

[2021-08-30 04:01] #23267 closed

[2021-08-30 05:55] v-xuto commented on #20214
@tg-msft What are your plans to fix this issue? Can you find the right person to fix this issue?

[2021-08-30 06:43] dzendras commented on #23600
Thanks for your example. It puts out the same result on my machine, but I would really like you to run my repro due to 3 things:
1. It covers a sequence of delete/create/delete/create.
2. It deals with more than one table, which might be the game changer here.
3. My experience with the Tables SDK so far has shown that it behaves differently whether you create a Table Client directly or through Tab

[2021-08-30 06:58] dahmad515 opened #23639 "[Issue] Could not create BlobServiceClient to obtain the BlobContainerClient using Connection: Storage"
I created a .net function last year which was working perfectly fine using Microsoft.WindowsAzure.Storage, Microsoft.WindowsAzure.Storage.Auth and Microsoft.WindowsAzure.Storage.Blob.

_CloudStorageAccount SourcestorageAccount = CloudStorageAccount.Parse(SourceConnectionString);
CloudBlobClient SourceblobClient = SourcestorageAccount.CreateCloudBlobClient();_  This is how I am using the class.

No

[2021-08-30 10:02] Ralf1108 commented on #16268
To clarify the expectation and the implementation in Azure.

The expectation was with versioning + soft-delete enabled:

B -> Blob
V -> Version

inital creation: 		B1 - V0
overwriting/changing: 	B1 - V1
deleting: 				B1 - V2 (with deleted flag/info)

But it seems that the Azure implementation behaves like this:

inital creation: 		B1 - V0
overwriting/changing: 	B1 - V1
deleting: 				[not existing

[2021-08-30 11:12] tkachuk2222 opened #23641 "[BUG] Service Bus appears to be not closing connections"
**Describe the bug**
I have azure function dotnet-isolated that runs on App Service Plan and with some periodicity azure function throws error because of a lot of open outgoing connections

**Expected behavior**
Closed connections

**Actual behavior (include Exception or Stack Trace)**
[code]
**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional in

[2021-08-30 11:14] tkachuk2222 commented on #23641
Name and version of the Library package used:
Azure.Messaging.ServiceBus Version="7.2.1"
Azure.Security.KeyVault.Certificates Version="4.2.0"
Azure.Security.KeyVault.Keys Version="4.2.0"
Azure.Security.KeyVault.Secrets Version="4.2.0"
Microsoft.Azure.Functions.Worker.Extensions.Http Version="3.0.13"
Microsoft.Azure.Functions.Worker.Extensions.ServiceBus Version="4.2.1"
Microsoft.Azure.Functions.Wo

[2021-08-30 13:39] dzendras commented on #23600
Hi @christothes

I wish you ran my repro. It showed that subsequent calls to TableClient.QueryAsync may sequentially 1. throw and then 2. not throw, after having deleted the queried table.
I've modified yours to better display the issue with as little extra code as possible.
The output I get is as follows:

[code]

However I have managed to get an exception:
System.InvalidOperationException: '[Tab

[2021-08-30 13:54] jsquire commented on #23630
Hi @stevedown.   Thank you for reaching out and we regret that you're experiencing difficulties.  Please be aware that the `Microsoft.Azure.KeyVault` package is deprecated and no longer receiving enhancements.  We recommend using one of the following for working with KeyVault:

* [Azure.Security.KeyVault.Certificates](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/keyvault/Azure.Security

[2021-08-30 14:01] jsquire commented on #23641
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-30 14:49] christothes commented on #23600
Hi @dzendras -
Thanks for the repro code. One interesting thing to note is that the inconsistency exception in your example is also reproduceable with the older client if you compare the result of `CloudTable.Exists` with the successful result from `CloudTable.CreateQuery<DynamicTableEntity>().Execute()`.

I looked a bit further into the behavior of the older client's `Exists()` method and it is d

[2021-08-30 16:20] weshaggard commented on #23505
We have been trying to avoid adding entire source files to the suppression list unless the file is known to only contain test/fake secrets like a cert file or a fakes file but for any standard cs files we don't add them to the suppression list to avoid potential leaks.

[2021-08-30 16:27] #23535 closed

[2021-08-30 16:28] ulfkri opened #23645 "Is CloudTableClient thread safe?"
Is it thread safe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59855499-8cb1-9518-8e1a-0c98e862608c
* Version Independent ID: ca4a8579-0b37-c22b-de8a-1dc4f00cd0b5
* Content: [CloudTableClient Class (Microsoft.Azure.Cosmos.Table) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure

[2021-08-30 16:29] #23349 closed

[2021-08-30 16:31] #23351 closed

[2021-08-30 16:34] #11763 closed

[2021-08-30 16:38] #22416 closed

[2021-08-30 16:40] #23348 closed

[2021-08-30 17:19] JoshLove-msft commented on #5950
The perf tests and live tests dynamically create resources.

[2021-08-30 17:19] #5950 closed

[2021-08-30 17:22] JoshLove-msft commented on #9872
Closing out as this is now being tracked separately.

[2021-08-30 17:22] #9872 closed

[2021-08-30 17:22] JoshLove-msft commented on #9878
We decided not to do this.

[2021-08-30 17:22] #9878 closed

[2021-08-30 17:23] JoshLove-msft commented on #9956
Closing out as this is now being tracked separately.

[2021-08-30 17:23] #9956 closed

[2021-08-30 17:23] JoshLove-msft commented on #9957
Closing out as this is now being tracked separately.

[2021-08-30 17:23] #9957 closed

[2021-08-30 17:24] JoshLove-msft commented on #10788
We have a sample for this now - https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/samples/Sample08_Interop.md

[2021-08-30 17:24] #10788 closed

[2021-08-30 17:24] pakrym commented on #9872
Where?

[2021-08-30 17:24] FrederikVigen opened #23647 "Missing Mock constructor for Management Client"
Azure.Messaging.ServiceBus

I am trying to create unit tests for something that i have built on top of Azure.Messaing.ServiceBus package, but it seems that i cannot create any mock for the ManagementClient class, this seems to be impossible since all the constructors take parameters.
I have tried to give an empty string as connection string, but the issue seems to be, that the constructor is runni

[2021-08-30 17:25] JoshLove-msft commented on #10824
Thanks for all of the discussion, closing as there is no further action item here.

[2021-08-30 17:25] #10824 closed

[2021-08-30 17:25] seanmcc-msft commented on #23545
@tg-msft

[2021-08-30 17:26] JoshLove-msft commented on #11157
This is now done.

[2021-08-30 17:26] #11157 closed

[2021-08-30 17:28] JoshLove-msft commented on #11398
This is fixed via the SessionIdleTimeout option as part of https://github.com/Azure/azure-sdk-for-net/issues/16773

[2021-08-30 17:28] #11398 closed

[2021-08-30 17:29] JoshLove-msft commented on #11817
Closing as the ServiceBusAdministrationClient is now GA.

[2021-08-30 17:29] #11817 closed

[2021-08-30 17:31] g2vinay opened #23648 "Improve The Azure Identity Error messages and logging details"
Add verbose/debug level logs to Azure Identity that help to explain the code flow to day zero users and provide guidance on issues that the users may encounter.

PR to port: https://github.com/Azure/azure-sdk-for-java/pull/23502

[2021-08-30 17:33] JoshLove-msft commented on #12239
This would apply to all libraries. We can look into it for the December milestone to see if this is something that can/should be done across the board.

[2021-08-30 17:33] g2vinay opened #23649 "[FEATURE-REQ} Add Static API TokenCredential.Create to allow creating Token Credential from static tokens."
Add Static API TokenCredential.Create to allow creating TOken Credential from static tokens.
![image](https://user-images.githubusercontent.com/5430778/131380509-1681eb60-8d87-45e0-b679-c9a688f777da.png)

[2021-08-30 17:35] JoshLove-msft commented on #14897
Add links to the relevant classes.

[2021-08-30 17:37] JoshLove-msft commented on #16010
We have a section on the Administration client, but it does not talk about the other types or the reason for the rename.

[2021-08-30 17:39] pakrym commented on #23545
Helping customers understand what client call resulted in a particular HTTP request, grouping multiple HTTP requests that resulted from a single call (retries, multi request calls like stages uploads)

If you don't need to have logic based on a particular SDK method being called listening to "Azure.Core" events would give you the most coverage.

[2021-08-30 17:40] JoshLove-msft commented on #16393
The [quickstart](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues) uses the processor, and the README has a section for the processor.

[2021-08-30 17:40] #16393 closed

[2021-08-30 17:41] JoshLove-msft commented on #16450
Closing in favor of https://github.com/Azure/azure-sdk-for-net/issues/21451

[2021-08-30 17:41] #16450 closed

[2021-08-30 17:43] amishra-dev commented on #23608
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Configuration.md#configuring-a-proxy is what you are looking for

[2021-08-30 17:47] AlexGhiondea commented on #17935
@minhkhang1795 that is not a supported product. Please use NuGet to get the packages you need 🙂.

[2021-08-30 17:47] #17935 closed

[2021-08-30 17:49] JoshLove-msft commented on #18921
We can add a section to the migration guide to explain this.

[2021-08-30 17:53] JoshLove-msft commented on #19562
We should investigate what the perf improvement would be if we made this change, before investing the time into making this change.

[2021-08-30 17:56] JoshLove-msft commented on #19798
We can use the ARM package to invalidate the primary key and regenerate keys as needed.

[2021-08-30 17:58] JoshLove-msft commented on #20069
This is not worth the effort now that both EH and SB have done their own thing.

[2021-08-30 17:58] #20069 closed

[2021-08-30 18:01] JoshLove-msft commented on #9872
This will be tracked by the service team. /cc @ramya-rao-a

[2021-08-30 18:02] pakrym commented on #9872
Can we link to an issue? What do we do when tests keep failing?

[2021-08-30 18:08] ramya-rao-a commented on #9872
Hey @pakrym

I suggested @JoshLove-msft to close all the issues around flaky tests for the Microsoft.Azure.ServiceBus package. Most of these are over a year old and the tests that were flaky then may or may not be flaky now.

The service team prefers to use their internal workitem tracking system to track this work. So, we will not be having any GitHub issues to link to

I will be working with the

[2021-08-30 18:10] pakrym commented on #9872
To clarify my question a bit: When I see a flaky task in SB T1 library, where do I file it?

[2021-08-30 18:12] christothes commented on #23600
@dzendras BTW, what is your use case for the Exists() method? I only ask because if you are using it for client side logic that is timing dependent, this could create a race condition.

Ex.
| Time | Action | Result |
| --- | --- | --- |
| 0 | Client 1: Exists() | returns true |
| 0 | Client 2: Delete Table | success |
| 1 | Client 1: Do something assuming table exists | fails or unexpected behavio

[2021-08-30 18:44] ramya-rao-a commented on #9872
You wouldnt be filing it. It is the package owner's responsibility to track the flaky tests and have a plan to fix them. And it is my responsibility to ensure that they are aware of this. We currently have a team that are filing GH issues with the test-reliability label for test failures for the packages that the Azure SDK team owns. If the service team is interested in this model, we will have th

[2021-08-30 19:09] heaths commented on #23641
Microsoft.Azure.KeyVault is deprecated and we ask that customers move to Azure.Security.KeyVault.Secrets. We have a migration guide available at https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Secrets/MigrationGuide.md.

The older code does not make efficient / correct use of the default `HttpClient` while the newer code does (shares one by default). A wor

[2021-08-30 19:10] jsquire commented on #23647
Hi @FrederikVigen.   Thank you for your feedback and we regret that you're experiencing difficulties.   Would you be so kind as to clarify which Service Bus package that you're working with?

You've listed `Azure.Messaging.ServiceBus` which uses [`ServiceBusAdministrationClient`](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/Servi

[2021-08-30 19:12] heaths commented on #23630
We also have a migration guide available for each package, like for Secrets see https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Secrets/MigrationGuide.md.

While we highly recommend migrating because the older package is deprecated and will not receive further updates, as a short-term workaround several `KeyVaultClient` constructors take an `HttpClient` yo

[2021-08-30 19:13] #23586 closed

[2021-08-30 19:15] matthiasguentert commented on #21690
I am currently helping myself with a dummy client, that I have taken from the Azure SDK itself.

[code]

[2021-08-30 19:25] tg-msft commented on #20214
The Storage team will triage this and fix the break as appropriate.  The current tags will put this on their radar.  You can follow up with @seanmcc-msft for more if needed.

[2021-08-30 19:35] seanmcc-msft commented on #23639
Hi, it appears you are using an old version of the SDK.  I recommend you upgrade to [Azure.Storage.Blobs v12](https://www.nuget.org/packages/Azure.Storage.Blobs).

[2021-08-30 20:17] stevedown commented on #23630
Appreciate your input on this topic, @heaths. Migrating is difficult for us in short time due to fanout and regression considerations.

I see the KeyVaultClient constructor that exposes an HttpClient parameter, but it doesn't expose a disposeHttpClient parameter to control its lifecycle - following the constructor chain, it appears that any path to create a KeyVaultClient follows a path into Servi

[2021-08-30 20:28] heaths commented on #23630
`KeyVaultClient` sets the base classes `HttpClient` which is not disposed by default which you can see in the progression below:

1. https://github.com/Azure/azure-sdk-for-net/blob/544d1d53637aeef9cd83f5feba9fd59829fa3815/sdk/keyvault/Microsoft.Azure.KeyVault/src/Customized/KeyVaultClient.cs#L67
2. https://github.com/Azure/azure-sdk-for-net/blob/544d1d53637aeef9cd83f5feba9fd59829fa3815/sdk/mgmtcom

[2021-08-30 20:50] kurtzeborn commented on #23529
One point of context... this is only for track 1 .csproj files.  We set it globally for track 2 packages and it should not be set in individual .csproj files.

[2021-08-30 21:07] #22838 closed

[2021-08-30 21:17] ramya-rao-a commented on #23529
@kurtzeborn Not having the documentation show up in docs.microsoft.com should not be acceptable for any package regardless of Track 1 or Track 2. Can we have a list of the packages affected this way and log an issue for each? If there are docs errors on any of these packages, can they be surfaced in these issues so that the package owners can fix them?

cc @AlexGhiondea for any additional thoughts

[2021-08-30 21:21] scottaddie opened #23657 "Incorporate Monitor Query Beta 4 UX study feedback"
Tracking issue to update the next release to incorporate Beta 4 UX study feedback.

Action items:

- [ ] As discussed via Teams chat on 8/30, add a `GetMetricByName` method to the `MetricsQueryResult` class. This proposed method would be syntactic sugar. The idea came from one of the Java sessions as an alternative to fetching a metric by index:
  ![image](https://user-images.githubusercontent.com

[2021-08-30 21:46] joshfree opened #23659 "Fix Monitor Query tests"
Tracking issue for investigating and fixing the 26 unique consistently failing tests in net - monitor tests

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1072674&view=ms.vss-test-web.build-test-results-tab

https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=2545&contextType=build

[2021-08-30 21:46] AlexGhiondea commented on #23529
I thought an issue was logged to enable this in the common props file -- if there are issues in the libraries that are triggered by enabling this in the common file we will fix those.

[2021-08-30 22:20] #22347 closed

[2021-08-30 23:12] LijuanZ commented on #22025
@shawnxzq query by a collection of runIds are not supported today. I can add it to backlog but it will take time to add the support based on priority. @stevendarby you mentioned there are multiple tenants within the factory, are there any common info for the runs for a tenant? If the pipelineName is the same for tenant, you can consider query by pipeilne name.

[2021-08-30 23:20] stevedown commented on #23630
@heaths, thanks again for responding! You're right that the KeyVaultClient constructor in line 67 above sets `base.HttpClient`, but your initialization chain is missing the constructor chain triggered in the constructor declaration https://github.com/Azure/azure-sdk-for-net/blob/544d1d53637aeef9cd83f5feba9fd59829fa3815/sdk/keyvault/Microsoft.Azure.KeyVault/src/Customized/KeyVaultClient.cs#L65
whic

[2021-08-30 23:27] heaths commented on #23630
You're right: I missed that constructor. Still, if the lifetime of the `KeyVaultClient` is roughly equivalent to the lifetime of the `HttpClient` you pass in - i.e. the lifetime of the application, when it gets disposed is probably of little consequence. The clients - both old and new - are designed to be long-lived objects and work great as singletons in your application. In the case of Key Vault

[2021-08-30 23:32] #23350 closed

[2021-08-30 23:33] maririos opened #23664 "Add Changelog entries"
Information about all renames, and added types.

[2021-08-30 23:35] maririos opened #23665 "Test package before the release"
When it is time to release, I will queue the pipeline. It creates a package that we need to test against our samples and tests to make sure everything works.
Once it is tested and everything is green, I can go ahead and publish the package

[2021-08-31 00:06] pakrym commented on #21871
Getting the same error when using managed identity in AKS.

[code]

[2021-08-31 00:51] JoshLove-msft commented on #23418
Service Bus is mostly standard at this point. The one thing we still need to do is update to use the `ServiceBusAdministrationClient` rather than the ARM client for creating queues/topics/subscriptions.

[2021-08-31 00:51] JoshLove-msft commented on #23367
This is fixed in 2.5.3.

[2021-08-31 00:51] #23367 closed

[2021-08-31 03:09] Tianyun-G opened #23668 "Azure AI Language QuestionAnswering Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering#azure-cognitive-language-services-question-answering-client-library-for-net):

![image](https://user-images.githubusercontent.com/65581162/131431541-9b15f1e4-3b05-49af-aaea-15b2ca6dbbaf.png)

Suggestion:
Update link to https://docs.microsoft.com/en-us/azure/cognitive-ser

[2021-08-31 03:09] Tianyun-G opened #23669 "Azure WebJobs Web PubSub Readme and Sample issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub#prerequisites):

![image](https://user-images.githubusercontent.com/65581162/131432386-46884d4d-4ff2-4a57-8e65-4611273da911.png)

Suggestion:
Update link to https://review.docs.microsoft.com/azure/azure-web-pubsub/howto-develop-create-instance?branch=main

2.
Section [l

[2021-08-31 05:12] senthiljack2808 commented on #16079
I am getting this following error ..while trying to create vnet.
Max retries 3 times exceeded. Error Details: EnvironmentCredential authentication unavailable. Environment variables are not fully configured.
ManagedIdentityCredential authentication unavailable. Connection to IMDS endpoint cannot be established, connect timed out.
SharedTokenCacheCredential authentication unavailable. No accounts w

[2021-08-31 06:39] JialinXin commented on #23669
@Tianyun-G Thanks for the suggestions. The `ConnectionStringSetting` is an optional parameter which is provided in case customer need to use different connection strings for different functions. Generally we suggest customer to use global connection string `WebPubSubConnectionString` in function settings for easy management. And in the readme we have introduction on this: https://github.com/Azure/

[2021-08-31 11:32] levalencia opened #23675 "Azure Monitoring REST API - (The requested name is valid, but no data of the requested type was found.)"
I need to send a custom metric to Azure Monitoring REST API:

Documentation here:
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-custom-overview

And I found a sample code that I adapted here:

https://github.com/Azure/azure-sdk-for-net/issues/17687

My adapted code looks like this:
[code]

However I am getting this exception:

[code]

Any idea of what I am missing here? I

[2021-08-31 11:32] thiagorizzo commented on #23410
Thanks  for the answers. Now, i'm triggering it through fire-and-forget.

[2021-08-31 11:32] #23410 closed

[2021-08-31 11:38] stevedown commented on #23630
@heaths, scope control of the KeyVaultClient may be what I need in this case. I'd love to move to the new API, but redoing the interface on the package to move to new return types is something that will take much longer than I have time for (it's in a Nuget package consumed by 15 App Services). I knew the KeyVaultClient should have longer lifetime, but I obsessed over the HttpClient because, well,

[2021-08-31 11:54] FrederikVigen commented on #23647
Sorry yes i will change this to be the correct namespace you are right this is not in that namespace

[2021-08-31 12:21] levalencia commented on #17687
@cgwrench Can you check the issue  linked above, maybe you already implemented this and I would be very thankful if you can help me out.

I use some part of the code you put in this issue

[2021-08-31 13:07] vDiBo commented on #18279
Hi @shankarsama,
Imho updating Microsoft.Azure.ServiceBus dependencies gets more urgent, since it has a dependency on System.Text.RegularExpressions.4.3.0 which has this known vulnerability:
https://msrc.microsoft.com/update-guide/en-US/vulnerability/CVE-2019-0820

Microsoft.Azure.ServiceBus/5.1.3 » Microsoft.Azure.Services.AppAuthentication/1.0.3 » Microsoft.IdentityModel.Clients.ActiveDirectory/

[2021-08-31 13:16] jsquire commented on #23418
I'm going to descope Event Hubs from this issue in favor of the set of issues that we agreed on; that'll give me better context and detail so that the action needed is actionable.

I'll leave it to @JoshLove-msft's discretion whether he wants to continue tracking Service Bus tasks here.

[2021-08-31 13:21] jsquire commented on #23647
Thank you for clarifying, @FrederikVigen.  I've adjusted the tags and routed to the team best able to assist.

[2021-08-31 13:25] jsquire commented on #23675
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-31 13:28] jsquire commented on #23675
//cc: @AzMonEssential

[2021-08-31 14:40] MilivojeMishikj opened #23678 "ComputerVisionClient does not support 'readingOrder' parameter on ReadInStreamWithHttpMessagesAsync method"
**Library or service name.**
Library: Microsoft.Azure.CognitiveServices.Vision.ComputerVision, Version=7.0.0.0

When using the ReadInStreamWithHttpMessagesAsync method I would like to pass in the _readingOrder_ parameter so that I can take advantage of this ability that is already supported by the WebAPI.

As a workaround I would need to write a custom client.

[2021-08-31 14:54] dacspiir commented on #23319
Hello,
After spending quite a bit of time in investigating this issue and setting up your test framework to use live resources, I finally managed to get to what seemed to be the problem that made the test case difficult to reproduce.
It seems that the first ever batch delete operation will work, but all the successive ones on the same container will all fail.

Here is a test for you that reproduce

[2021-08-31 15:04] pakrym commented on #23418
It would be great if we can get to a point where we don't need ServiceBusTestEnvironment.Instance anymore

[2021-08-31 15:35] vkurpad opened #23679 "Form Recognizer: Forms with multiple tables on a page have no name property"
**Describe the bug**
The REST API returns a list of tables with the key for each table being the table name. The value is the table details. The SDK only contains a list of tables with no name property.

**Expected behavior**
Add an additional table name property for each

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the b

[2021-08-31 16:02] #18185 closed

[2021-08-31 16:29] christothes commented on #21940
#23680

[2021-08-31 17:09] KevinBlasko commented on #23675
You need to include the azure region in the request url.  See step 2 in [Emit the metric via the REST API](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-store-custom-rest-api#emit-the-metric-via-the-rest-api):

`curl -X POST https://<azureRegion>.monitoring.azure.com/<resourceId>/metrics -H "Content-Type: application/json" -H "Authorization: Bearer <AccessToken>" -d @cust

[2021-08-31 17:09] #23675 closed

[2021-08-31 17:12] levalencia commented on #23675
I tried to put westeurope and then I get a 404, I could not find the region codes in any documentation

[2021-08-31 17:41] heaths commented on #23668
/cc @annatisch

[2021-08-31 17:41] #23664 closed

[2021-08-31 18:42] ashf opened #23684 "[BUG] Azure ServiceBusReceiver maxWaitTime doesn't always work"
**Describe the bug**
Azure ServiceBusReceiver maxWaitTime isn't always respected.

**Expected behavior**
When the maxWaitTime is set, the receiver will return a result no matter what upon expiration of the wait time.

**Actual behavior (include Exception or Stack Trace)**
Occasionally the receiver goes past the wait time before returning a result.

**To Reproduce**
Steps to reproduce the behavior

[2021-08-31 19:10] nisha-bhatia opened #23687 "Fix CredScan Validation in Track 1 Recordings"
- [ ] Add a way to suppress headers from being stored into recordings
- [ ] Remove suppressed headers from existing recordings
- [ ] Add a way to sanitize values in requests/response bodies
- [ ] Clean up existing files

[2021-08-31 19:21] levalencia commented on #23675
Westeurope gives a 404, is this a valid Azure region code

[2021-08-31 19:47] sdandu21 opened #23689 "[QUERY] Access token to connect to Cosmos Tables"
**Query/Question**
Can you connect to Cosmos DB Tables using an access token? Is it possible to create a client that takes an access token to initialize and can interact with the tables in Cosmos? Are there any libraries that support this?

**Environment:**
 - Azure.Data.Tables v12 or Microsoft.Azure.Cosmos.Tables v 1.8

[2021-08-31 19:57] #10997 closed

[2021-08-31 21:36] jsquire commented on #23679
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-31 21:37] jsquire commented on #23684
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-31 21:42] sdandu21 commented on #23689
Follow up: I see an option for using SAS tokens to create a client for CosmosDb but there doesn't seem to be a way to get a SAS token for Cosmos account. I don't see one in the portal either. So how is this option supposed to be used?

[2021-08-31 22:49] nisha-bhatia commented on #18989
Track1 Issue: https://github.com/Azure/azure-sdk-for-net/issues/23687

[2021-09-01 00:35] #23587 closed

[2021-09-01 01:51] #22202 closed

[2021-09-01 03:07] JoshLove-msft commented on #23618
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/23601

[2021-09-01 03:07] #23618 closed

[2021-09-01 03:08] JoshLove-msft commented on #23617
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/23601

[2021-09-01 03:08] #23617 closed

[2021-09-01 04:01] #19782 closed

[2021-09-01 04:23] adminnz opened #23704 "[Feature Request] Enhance ServiceBusProcessor LockRenewal to better handle Prefetched messages"
**Describe the bug**
When using Azure.Messaging.ServiceBus.ServiceBusProcessor with a MaxAutoLockRenewalDuration > TimeSpan.Zero and a PrefetchCount higher than the MaxConcurrentCalls.
The ServiceBusProcessor (internally its actually the ReceiverManager) will only start renewal of a messages lock token when it actually starts handling that message (even though the message could be one that has bee

[2021-09-01 05:30] JoshLove-msft opened #23705 "[Flaky Test] Storage Function Bindings: CanExtendVisibilityTimeoutMultipleTimes"
**Error message**
Expected: True
But was:  False

**Stack trace**
   at Microsoft.Azure.WebJobs.Extensions.Storage.Queues.Tests.UpdateQueueMessageVisibilityCommandTests.CanExtendVisibilityTimeoutMultipleTimes() in /mnt/vss/_work/1/s/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/tests/UpdateQueueMessageVisibilityCommandTests.cs:line 51
   at NUnit.Framework.Internal.TaskAwaitAdapter

[2021-09-01 06:15] levalencia commented on #23675
@KevinBlasko

According to this page: https://azuretracks.com/2021/04/current-azure-region-names-reference/
westeurope is the region code

I tried it:
  var monitorClient = new MonitorClient(
                subscriptionId: "xx",
                endpoint: new Uri("https://westeurope.monitoring.azure.com/"),
                credential);

However now, I get a 404 error, please reopen this issue or l

[2021-09-01 06:18] zedy-wj commented on #23123
@maririos - Completed the updates in container, thanks for your help :)

[2021-09-01 06:18] zedy-wj commented on #23122
@maririos - Issue has been fixed, thanks for your help!

[2021-09-01 06:32] #23122 closed

[2021-09-01 06:32] v-xuto commented on #23123
This issue has been fixed, so we close this issue.

[2021-09-01 06:32] #23123 closed

[2021-09-01 06:57] levalencia opened #23708 "{StatusCode: 404, ReasonPhrase: 'Not Found', Version: 1.1, Content: <null>, Headers: { Server: Microsoft-HTTPAPI/2.0"
I need to send a custom metric to Azure Monitoring REST API:

Documentation here:
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-custom-overview

And I found a sample code that I adapted here:

https://github.com/Azure/azure-sdk-for-net/issues/17687

My adapted code looks like this:
[code]

However I am getting this exception:

[code]

Any idea of what I am missing here? I

[2021-09-01 07:24] tkachuk2222 commented on #23641
/unresolve

looks like migration to the new library haven't help
![image](https://user-images.githubusercontent.com/20381930/131629347-5a94ec6b-33f3-4b9f-917d-b641099c3558.png)

`public class Program
    {
        private static SecretClient _secretClient;

        public Program(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        private static st

[2021-09-01 08:01] dzendras commented on #23600
Hi @christothes,

Having the method Exists(Async) implemented would be great. If you could log an issue for this, that would be much appreciated.
As a side note, I was a bit underwhelmed about the lack of useful classes/methods that the old SDK has ( #19881 ). I was forced to write some ugly reflection code to get to the internal classes dealing with connection strings for the SAS token purposes.

[2021-09-01 08:25] archerzz opened #23709 "[FEATURE REQ] Support sanitizing or ignoring specific properties in returned JSON response when recording"
**Library or service name.**
What library or service is this request related to?
`Azure.Core.TestFramework`

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
Right now the sanitizer can only recognize some patterns of contents which need sanitized. In reality, each service could have specific contents in the re

[2021-09-01 08:58] agaucher opened #23710 "[BUG] Incompatibility between Microsoft.Spark and Azure.Messaging.EventHubs"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1. Create a new .NET 5 proj

[2021-09-01 11:13] christothes commented on #23600
We're still evaluating if this additional method is needed. It's a trade off between convenience and encouraging scenarios that introduce race conditions.

Thanks for the feedback. Could you talk more about the scenario that forced you to use reflection? Most of the items in the issue you linked have been addressed. If there are compelling scenarios that remain unaddressed we'd be happy to fix the

[2021-09-01 13:14] jsquire commented on #23704
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-01 13:17] jsquire commented on #23709
//cc: @pakrym

[2021-09-01 13:28] jsquire commented on #23710
Hi @agaucher.  Thank you for reaching out and we regret that you're experiencing difficulties.   In order to assist, we'll need to ask for some additional information:

- Is this just a stand-alone console application, or is it intended for a specific hosting platform?
- Where are you trying to publish to?
- What is the specific error being shown in the logs?

[2021-09-01 13:32] jeanbaptisteranson commented on #23225
Hello,
Microsoft.Azure.Batch in version 15.1.0 has still the same limitation:  No public BatchPoolIdentity constructor.
I can instantiate a BatchPoolIdentity using reflection API, but I assume there is a reason why the constructor is internal.
I noticed that Managed Pool Identities are now GA since 08.30.21: https://azure.microsoft.com/en-us/updates/azure-batch-updates-august2021/ so when will we

[2021-09-01 14:06] erikumhoefer opened #23713 "[BUG] Azure.Identity GetTokenAsync() sporadically timing out in Azure function"
**Describe the bug**
We have an Azure function that is using a system assigned managed identity. When we try to request a token to access our SQL database in the same resource group, occasionally the request will get "stuck" when making the request and is unable to return the token. I have logs around this request and I see the log for starting the token request, but the log after the token reques

[2021-09-01 14:18] jsquire commented on #23713
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-09-01 14:29] paterasMSFT commented on #23225
Hello, @jeanbaptisteranson. We are targeting this for our next release. Thank you for your patience and for bringing this to our attention.

[2021-09-01 14:44] christothes commented on #23713
Hi @erikumhoefer -
Would you mind providing the logging output after reproducing this with [logging enabled](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Diagnostics.md)?

I looked at the logs attached, but I'm not sure what those are from.

[2021-09-01 15:00] jesuissur commented on #10626
Hi there

We understand the recommended way is to use a single client though isn't still a bug having a memory leak because many clients are created?

In our specific case, we created a lot of clients for an hour or so at night and the memory is never release even days after.

We will use a single client in the future, so thanks to @speedy-ms

Thanks
Phil

[2021-09-01 16:04] sdandu21 opened #23716 "MSI for Cosmos Tables"
**Query/Question**
CosmosClient now supports MSI based authentication. Are there clients/libraries that interact with Cosmos Tables that have similar options? Why don't major libraries like Azure.Data.Tables and Microsoft.Azure.Cosmos.Tables support token based authentication to Cosmos Tables?

It seems odd that there doesn't seem to be an option to use MSI for Cosmos Tables but there is for stora

[2021-09-01 16:23] jsquire commented on #23716
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-01 16:44] kasobol-msft opened #23720 "[FEATURE REQ] Add BinaryData support to DataLake and Shares"
Support BinaryData in DataLake and Shares upload/download.

[2021-09-01 16:59] agaucher commented on #23710
Hi @jsquire,

* Is this just a stand-alone console application, or is it intended for a specific hosting platform?

It's just a stand-alone console application.
I just created a .NET 5 console application in C# then I added the two dependencies in the projet.
It's all !
The Publish operation fails whatever the target platform (linux-x64 or win-x64)

* Where are you trying to publish to?

In a fold

[2021-09-01 17:03] joshfree commented on #22191
@nisha-bhatia PTAL

[2021-09-01 17:10] pakrym commented on #22191
Related: https://github.com/Azure/azure-sdk-for-net/issues/23580

[2021-09-01 17:48] heaths commented on #23641
Could you explain what the table represents? Is that the number of active connections to the given IP address? I don't recognize the 8 bits. Which cloud for Key Vault do you connect to, i.e. what's the domain suffix?

Does `netstat -a` on the host also show all open sockets to the same Key Vault IP? I'm also wondering if this could be a managed identity issue, which does open inbound sockets but s

[2021-09-01 17:54] erikumhoefer commented on #23713
@christothes those logs are from azure app insights - sorry the format is pretty terrible.

Since Azure Functions use Microsoft.Extensions.Logging and write to Microsoft.Extensions.Logging.ILogger, I am unsure how to add the AzureEventSourceListener. I attempted to get the messages from the event source listener to go to the azure function logger, but was unsuccessful. See snippet

[code]

[2021-09-01 17:55] #20214 closed

[2021-09-01 18:01] bruckGT1 commented on #18592
I am also seeing this behavior. Any updates?

[2021-09-01 18:14] amnguye commented on #23634
I will look into reproducing this however, this does look extremely similar to this issue where I wasn't able to reproduce.

https://github.com/Azure/azure-sdk-for-net/issues/21349

So you're saying EventGrid SDK can't parse it or the Storage SDK can't.

[2021-09-01 18:15] jamdavi commented on #22125
@christothes These snippets are part of an in progress SDK is there a way to get an exception?

Instead of removing these snippets I could just put them in a blanket "placeholder.md" if that's an acceptable solution.

[2021-09-01 18:17] christothes opened #23724 "[BUG] SAS tokens cannot be generated when using the "UseDevelopmentStorage=true" connection string"

[2021-09-01 18:20] erikumhoefer commented on #23713
I have added the AzureEventSourceListener to my function and I see its logs in insights. I'm going to wait for another failure to occur and come back with those logs, thanks! 👍

[2021-09-01 18:20] loic-sharma opened #23726 "[QUERY] Improve Azure.Identity docs for in-memory token caching behavior"
The links to the API reference docs on the Azure.Identity README are broken here: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/README.md#authenticating-azure-hosted-applications

I would like to use `DefaultAzureCredential` and `ClientSecretCredential` in my client app to manually create AAD access tokens to authenticate to my own service. Both [`DefaultAzureCre

[2021-09-01 18:22] christothes commented on #22125
Why not just comment out the #region line until you are ready to incorporate them into a markdown file?

[2021-09-01 18:22] boris-tarasov-maersk opened #23727 "what algorithm used to generate return instanceId value from supplied instanceId in start new async?"
Dear support team

Can you please clarify how return value "instanceId" of type String is generated from supplied instanceId?

For the same supplied instanceId we get the same instanceId in response and wish to be able to generate it ourself to check for status.

Use case:
function uses singleton pattern for create/update of an object.  We know instanceId  upfront to query is existing function ins

[2021-09-01 19:26] yvesgoeleven opened #23729 "[QUERY] What is the replacement for ServiceBus' ExtractActivity?"
**Query/Question**

I'm in the process of upgrading code that has a dependency on Microsoft.Azure.ServiceBus (Track 1) to Azure.Messaging.ServiceBus (Track 2).

It seems that there is no equivalent for [MessageDiagnosticsExtensions.ExtractActivity](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Extensions/MessageDiagnosticsExtensions.cs#L64)

Wha

[2021-09-01 20:44] willyt150 opened #23731 "How to add ServiceBusClient to Dependency Injection with ServiceBusClientOptions different than default?"
**Query/Question**
Following the [Best Practices for performance improvements using Service Bus Messaging](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-standard-sdk-2#reusing-factories-and-clients) I'm now utilizing the [ServiceBusClientBuilderExtensions](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messagin

[2021-09-01 21:40] JoshLove-msft commented on #23731
Hi @willyt150,
There is a ConfigureOptions method on the IAzureClientBuilder that you can use to specify a delegate for configuring the ServiceBusClientOptions, e.g.:
[code]

[2021-09-01 21:41] JoshLove-msft commented on #23731
/cc @lilyjma we may want to consider adding options to the ASP.NET samples that you have been adding.

[2021-09-01 21:46] willyt150 commented on #23731
Thank you very much for your quick reply! That's what I was missing!

One more quick question.

If I happen to have something that's needing to communicate with 2 separate Service Bus resources, e.g. one to receive and one to send, am I correct in understanding that I would NOT use the extension methods provided and instead have to manage the singleton instances of the ServiceBusClient myself by w

[2021-09-01 21:59] JoshLove-msft commented on #23731
Ah, I see your point. I think you are right that you wouldn't be able to inject two instances of the same type.

@pakrym please keep me honest here.

[2021-09-01 22:01] willyt150 commented on #23731
Ok, thank you very much!

[2021-09-01 22:01] #23731 closed

[2021-09-01 22:02] #23496 closed

[2021-09-01 22:02] jsquire commented on #23726
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-09-01 22:03] pakrym commented on #23731
You actually can register multiple, you just need to name them and use a little bit more verbose resolution syntax:

[code]

Then inject `IAzureClientFactory<SecretClient> secretClientFactory` and call `secretClientFactory.CreateClient("namedSecretClient");`

[2021-09-01 22:05] jsquire commented on #23727
This issue has been transferred to the repository where `Microsoft.Azure.WebJobs.Extensions.DurableTask` is maintained as [#1942](https://github.com/Azure/azure-functions-durable-extension/issues/1942).

[2021-09-01 22:14] jsquire commented on #23729
Hi @yvesgoeleven.  Thank you for reaching out and we regret that you're experiencing difficulties.   To my knowledge, there is not yet an official replacement for extracting diagnostic activities.   Until one is available, the following approach can be used:

[code]

@pakrym or @JoshLove-msft may have additional insight to offer on the plan for a diagnostics extension replacement.

[2021-09-01 22:21] tg-msft commented on #19384
Discussed at the end of [Recording](https://msit.microsoftstream.com/video/b8920840-98dc-ae70-21f2-f1ec0b729db2)[MS INTERNAL ONLY] as well.

[2021-09-01 22:27] christothes commented on #23724
duplicate of #23404

[2021-09-01 22:27] #23724 closed

[2021-09-01 22:31] willyt150 commented on #23731
That's awesome! Thank you very much for the additional info @pakrym

[2021-09-01 22:45] christothes commented on #23726
Hi @loic-sharma -

I tried the 4 credential links in that section and they all seem to work. Which ones were you finding to be broken?

We don't provide specific guidance on token caching because it depends on your specific scenario. But, in general, whatever implementation you use to cache would check the cached token for expiration and use the cached token in your service request if it is not ex

[2021-09-01 22:55] pakrym opened #23739 "Installation check should do retries"
When multiple packages are released from the same pipeline and one depends on another Azure.Core.Experimental -> Azure.Core I tend to kick off both releases at the same time. This causes the `Installation Check` to fail for `Azure.Core.Experimental` because `Azure.Core` is just being published.

I think we should loop and try to restore for some time (30m?) before failing the step.

[2021-09-02 01:50] misterjunio opened #23744 "[QUERY] DefaultAzureCredential for Face API"
**Environment:**
 - `Microsoft.Azure.CognitiveServices.Vision.Face 2.8.0-preview.1`

**Query/Question**
Hi there. I was just wondering if there are any plans to support the use of token credentials rather than service client credentials with the `CognitiveServices.Vision.Face`'s `FaceApiClient`, similar for example to the latest `TextAnalyticsClient` of `AI.TextAnalytics`. I'm trying to standardis

[2021-09-02 06:34] v-yilinhu commented on #23669
@JialinXin I think adding `ConnectionStringSetting`is more convenient to understand, and of course the status quo will be fine.

[2021-09-02 06:44] adamcastle commented on #15064
HI,
Are you able to supply some sample code of what you mean? I just cannot get this to work.
Thanks and Regards,
Adam.

[2021-09-02 07:11] dzendras commented on #23600
Here are two pieces of reflection code I had to write.
1. In order to get the URI of the table. This is useful for logging purposes given that I have a bunch of storage accounts with tables named in the same way, belonging to all storage accounts. For example, Table01 in SA1 and Table01 in SA2:
[code]

2. This bit is required to generate a SAS token:
[code]
Here's the code that uses the snippet ab

[2021-09-02 10:08] amarkwong commented on #23634
Hi Amanda,

I think most likely it is the Storage SDK issue. I printed out the {data.url} and it has every bit of the filename. I would say it is the **UnescapePath()** in line 221 of BlobUriBuilder.cs cause the issue? Or the last bit of the uri is discarded when calling GetPath() at line 186.
![image](https://user-images.githubusercontent.com/6657590/131825458-494099e3-2f94-4c04-baac-64ead25e3032

[2021-09-02 11:32] tkachuk2222 commented on #23641
A domain suffix is `.net` (and it's azure)
I don't recognize the 8 bits - What do you mean?

[2021-09-02 11:39] EnricoMassone commented on #23493
Hello @JoshLove-msft I have another question related with the built in retry policy in **Azure.Messaging.ServiceBus**

Is there a way to turn-off / disable the built in retry policy ? I mean is there a way to **prevent** the application of the retry policy in case of transient failures ?

[2021-09-02 13:07] erikumhoefer commented on #23713
Looking at those new logs, I can see the token request is timing out after 100 seconds, and then failing with the exception
[code]
It will then retry the token request two more times, both timing out. After 5 minutes, the function times out.

[2021-09-02 13:47] christothes commented on #23600
I think adding Uri as a property on the TableClient and TableServiceClient makes sense. We'll add it shortly.

Could you explain why you'd need to recall the secret in your code if you're able to make authorized requests and generate SAS tokens?

I think CreateIfNotExists solves this problem (assuming we work out the TableBeingDeleted behavior mentioned below).

If there is a possibility that a ta

[2021-09-02 13:57] jsquire commented on #23710
Thanks for the additional context.   I'll attempt to repro today.    In the meantime, can you share the contents of the log file that your error message mentioned?

[2021-09-02 14:11] jsquire commented on #23710
Unfortunately, I don't seem to be able to reproduce this in Visual Studio 2019 v16.11.2.    Our best bet to help get you unblocked will be to understand the details in the log from your IDE.

Based on your context, I did the following:

- Create a new .NET 5 Console application
- Added a reference to `Azure.Messaing.EventHubs` v5.6.0  (latest GA)
- Added a reference to `Microsoft.Spark` v2.0 (late

[2021-09-02 14:43] christothes commented on #23600
You can accomplish this with the `GenerateSasUri` method. It allows you to generate a SaS given a `TableClient` or `TableServiceClient` constructed with a connection string or `TableSharedKeyCredential`. See the sample [here](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables/samples/Sample0Auth.md#shared-access-signature-sas)

It sounds like this health scenario doe

[2021-09-02 15:01] dzendras commented on #23600
Actually I don't need the entire URI, just the token, because the token is passed to AzCopy, like this:
`"/Source:https://$SourceStorage.table.core.windows.net/$SourceTable/", "/Dest:https://$TargetStorage.blob.core.windows.net/$TargetContainer", "/SourceSAS:$SourceStorageSASToken", "/DestSAS:$TargetStorageSASToken",`
The page you linked doesn't seem to cover this scenario.
The only way I know is

[2021-09-02 15:13] jsquire commented on #23710
Hi @agaucher.   I was able to reproduce this.    The root cause appears to be the difference in target platforms between the two references, which is causing a package downgrade for the `win-x64` and `linux-x64` publishing targets.   I've included details below, if you're interested.

The mitigation is to explicitly reference these packages in the application, which takes precedence over the refer

[2021-09-02 15:13] jsquire commented on #23710
I'm going to mark this as addressed.   Please feel free to use the "`/unresolve`" command if you'd like to continue the discussion.

[2021-09-02 15:25] agaucher commented on #23710
Thank your for your investigation !

It's not a blocking point for me: i will finally use the Confluent.Kafka library to publish and consume the EventHub notifications.

But it would be better to fix that for other potential users.

Best regards,

Alexis Gaucher

[2021-09-02 15:35] pakrym commented on #23709
We do support this already. see https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core.TestFramework/README.md#sanitizing in particular the section about AddJsonPathSanitizer

[2021-09-02 15:39] christothes commented on #23600
Any successful operation with the `TableServiceClient` against the account would validate that the service exists and is available.

[2021-09-02 15:56] stevendarby commented on #22025
The pipelines in the factory are shared by all tenants. The pipelines have a tenant parameter when running. So filtering by pipeline name is not an option. Filtering by parameter value would be an alternative to the main idea proposed here.

[2021-09-02 16:02] dzendras commented on #23600
I tried to use the `GenerateSasUri` method, but came across another inconsistency in the SDK related to using connection strings.
[code]
got me this:
System.ArgumentNullException
  HResult=0x80004003
  Message=Value cannot be null.
Parameter name: uri
  Source=Azure.Data.Tables
  StackTrace:
   at Azure.Data.Tables.TableUriBuilder..ctor(Uri uri)
   at Azure.Data.Tables.TableServiceClient.GenerateS

[2021-09-02 16:03] christothes commented on #23600
This was recently fixed and will be in next week's release.

[2021-09-02 16:05] dzendras commented on #23600
OK, cool. Thanks!

[2021-09-02 17:30] #23518 closed

[2021-09-02 17:39] weshaggard opened #23751 "API review improvements"
Problems:
- To many API reviews (several Rest API and Client Library reviews)
- Rest API spec reviews are pretty ad-hoc with no great tracking mechanism
- No a lot of preliminary tooling to catch issues early so that we don't even have to talk about them in the review
- A lot of manual work to on-board new services and create initial language specific SDK libraries

Potential Improvements:
- Use A

[2021-09-02 17:41] loic-sharma commented on #23726
Thank you for the detailed answer, much appreciated!

Weird, the links are working for me as well now. Yesterday these all 404ed for me:

* https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet
* https://docs.microsoft.com/en-us/dotnet/api/azure.identity.chainedtokencredential?view=azure-dotnet
* https://docs.microsoft.com/en-us/dotnet/api/azure.identi

[2021-09-02 18:10] #20609 closed

[2021-09-02 18:10] #20617 closed

[2021-09-02 18:10] #23028 closed

[2021-09-02 18:21] SeanFeldman commented on #23729
@jsquire, the diagnostics/AppInsights story seems very fractured among several Microsoft groups/teams. Is there an "umbrella" issue to track the efforts to bring this all to a state where no manual workarounds such as the suggested one are needed?

[2021-09-02 18:49] christothes commented on #9835
This should be mostly addressed in the latest client when `IsPiiLoggingEnabled` is set to true.

[2021-09-02 18:55] christothes commented on #20210
These logging changes took much longer than originally expected. They should be available in the next release (9/7).  We've also since added some additional error handling scenarios to AzureCliCredential. Please try your scenario again with this upcoming release.

[2021-09-02 19:47] lynshi opened #23753 "[Document changes] Update documentation of client creation for Azure Confidential Ledger"
**Library or service name.**
Azure.Security.ConfidentialLedger

**Is your feature request related to a problem? Please describe.**
The existing example for client creation has the following:
[code]

The ARM response for Confidential Ledger has a `identityServiceUri` field, which makes this example confusing for customers as that value in that field is _not_ what is expected for `identityServiceUri

[2021-09-02 19:54] #21843 closed

[2021-09-02 19:55] #23313 closed

[2021-09-02 20:24] lynshi opened #23756 "[BUG] Update-Snippets.ps1 doesn't set SnippetToolPath correctly"
**Describe the bug**
[Update-Snippets.ps1](https://github.com/Azure/azure-sdk-for-net/blob/main/eng/scripts/Update-Snippets.ps1) is used to update code snippets in README files. When [run locally](https://github.com/Azure/azure-sdk-for-net/blob/e1f6bc5ad44470265f7b1df697173b57b2c8692a/eng/scripts/Update-Snippets.ps1#L22), the script downloads `Azure.Sdk.Tools.SnippetGenerator` but does not set `Sn

[2021-09-02 20:26] #23668 closed

[2021-09-02 20:29] lynshi commented on #23756
By the way, if `PATH` contains `$HOME/.dotnet/tools`, then this bug is masked. Not sure if you would generally expected `PATH` to include the folder though.

[2021-09-02 21:01] JoshLove-msft commented on #23493
You can set the MaxRetries = 0 so that no retries will occur.

[2021-09-02 21:11] heaths commented on #23641
Not the TLD ".net", but the your Key Vault domain name sans host e.g., "vault.azure.net"? Different clouds have different domains. What I meant is that I don't recognize the first 8 bits of the IP address, i.e. 65. It's not one seemingly used by Key Vault in the public cloud, nor is there any reason we'd connect to remote port 5671.

What I can find for port 5671 is that it's used for AMQPS, which

[2021-09-02 21:23] jsquire commented on #23641
Port 5761 is likely used by Service Bus in this case. I notice that you're referencing both the legacy `Microsoft.Azure.ServiceBus` and `Azure.Messaging.ServiceBus` packages. Can you share more context around how you're using Service Bus and how you're managing the lifetime of the clients?

[2021-09-02 21:48] chidozieononiwu commented on #23756
What OS exactly are you using.
The install of snippet generator in that script is a global install which should automatically add it to the path.

[2021-09-02 22:03] tshaiman opened #23758 "VisualStudioCodeCredentials does not work on WSL2 [BUG]"
**Describe the bug**
when working against Cosmos Db with VisualStudioCodeCredentials  (after login to the Azure Subscription)
The following exception is thrown :
[code]
The same code with the same Azure Subscription after login is working on Windows.

**Expected behavior**
- VisualStudioCodeCredentials   should work in WSL2

**Actual behavior (include Exception or Stack Trace)**
Exception is throw

[2021-09-02 22:22] lynshi commented on #23756
I'm using Ubuntu 20.04 on WSL2. Incidentally, I just tried it out in PowerShell on Windows and it worked.

The [documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-install#description) for `dotnet tool install` just says the tool is installed into the default directory of `$HOME/.dotnet/tools` or `%USERPROFILE%\.dotnet\tools`, which doesn't imply anything is added to the

[2021-09-02 22:22] dereklegenzoff commented on #23611
Hi @ssghoda - You should be fine to delete all other fields in the document as long as the `softDeleteColumn` and the `id` field are preserved. You'd also need the `highWaterMarkColumn` to be preserved since we use that to find which documents have been updated but that shouldn't be an issue if you're using `_ts` for that

Essentially, what the indexer does is look for all documents in the databas

[2021-09-02 22:23] chidozieononiwu commented on #23756
Ok, I see. I will work to fix it for Ubuntu

[2021-09-02 22:30] dereklegenzoff commented on #23569
Thanks for the feedback @ssghoda. You're right that there's not a way currently to pull only the first room from the list. This is because the granularity of your index is at the `hotel` level rather than the `room` level.

One option you have is to change the granularity of your index. You could set it up so one document in the index represents a single room. For example, you could configure your

[2021-09-02 23:14] maririos commented on #23679
Hi @vkurpad

It looks like you are calling the `CustomForms` method, right?
I am assuming you are looking at the tables under `RecognizedForm.Pages[i].Tables` where you don't have the table name.

Please note that `RecognizedForm.Pages` contains information about the recognized form elements present in the input document. Here, no labels assigned by the customer are recognized.

In order to access

[2021-09-02 23:19] mtucker2112 opened #23760 "No registered resource provider found for type 'locations/deletedVaults'"
When running:

`var response = Subscription.GetDeletedVaults().GetIfExists(KeyVaultName);`

**Expected behavior**
To get a valid response, in this case I have a soft-deleted vault with KeyVaultName.

**Actual behavior**

No registered resource provider found for location '8968220f-66ac-4d06-a0dd-88eb77f6a833' and API version '2021-04-01-preview' for type 'locations/deletedVaults'. The supported ap

[2021-09-02 23:44] #23451 closed

[2021-09-03 00:03] benbp commented on #23739
@ckairen FYI this is related to the ordering you introduced for java. I think I like the eventual approach @pakrym is proposing here better, since it will make releases easier to kick off in the background.

I think we should see if we can find a way to determine whether there is a package we expect to be published before retrying, so we don't stall the release for no reason and make people wait.

[2021-09-03 00:05] benbp commented on #23739
@pakrym I'm marking this `needs-triage` just so it comes across for @kurtzeborn, @weshaggard and I in our weekly triage.

[2021-09-03 01:50] HarveyLink commented on #23067
Hi @shawnxzq, this issue is resloved. Could you please pull the lasted code and run
`dotnet msbuild eng/mgmt.proj /t:Util /p:UtilityName=InstallPsModules`
This will update the script and unblock you.

[2021-09-03 04:09] JialinXin commented on #23669
Thanks for clarify. I'll update the links.

[2021-09-03 06:55] abbgrade opened #23763 "Outdated Power BI Client Documentation"
This documentation is helpful, but outdated and hard to find.
Please update it for v3 and add a link on https://www.nuget.org/packages/Microsoft.PowerBI.Api/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f23ae7f-4493-e285-c093-6fa10e20cbcc
* Version Independent ID: f3a805d2-5c34-ab67-41a8-a8880917dae2
* Content: [Pow

[2021-09-03 07:57] v-yilinhu opened #23765 "[Servicebus] StopProcessingAllowsCallbackToComplete failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1071995&view=results

@jsquire for notification.

[2021-09-03 07:57] v-yilinhu opened #23766 "[Servicebus] TransactionalSendRollback(False,True) failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1071995&view=results

@jsquire for notification.

[2021-09-03 07:57] v-yilinhu opened #23767 "[Tables] CustomizeSerialization failing in nightly runs"
Tables nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1076476&view=results

@jsquire for notification.

[2021-09-03 08:18] rolsendk commented on #23494
@Mohit-Chakraborty  After some consideration I believe this needs to be re-submitted as a bug; the Key Vault client does not use the custom HttpClient for all outbound requests. This is a bug. Can you convert this question to a bug, or do I need to do submit a new issue?

[2021-09-03 09:00] ilya-git opened #23768 "[BUG] Microsoft.Azure.WebJobs.Extensions.ServiceBus used with managed identity produces errors during both build and development runtime"
**Describe the bug**
If I use the described method of connecting using `DefaultAzureCredential` / `ManagedIdentity` I get warnings both during the build and runtime.

**Expected behavior**
No warnings as this is the supported scenario described in the documentation.

**Actual behavior (include Exception or Stack Trace)**
Warning during the build:

Warning during runtime:

**To Reproduce**

1. Crea

[2021-09-03 09:10] ppekrol opened #23769 "[BUG] Connection was forcibly closed by the remote host when staging blocks"
**Describe the bug**
Unable to put blobs using staging block API no matter how many retries and how how network timeout is set.

**Expected behavior**
Should be able to put large blobs using staging API.

**Actual behavior (include Exception or Stack Trace)**
After ~2min (on my machine - depends on the upload speed - in repro app maybe the itemsToWriteInFile needs to be increased) retry is execute

[2021-09-03 09:27] ppekrol commented on #23769
Might be helpful. From Azure Logs:
[code]

[2021-09-03 09:42] ilya-git opened #23770 "[FEATURE REQ] Add support to `DefaultAzureCredential` authentication via `Azure.Identity` library"
**Library or service name.**
Microsoft.Azure.WebJobs.Extensions.ServiceBus

**Is your feature request related to a problem? Please describe.**
Right now the connection string supports Managed Identity via:

`MyConnectionString__fullyQualifiedNamespace`

This is very nice and useful, but the problem is that for local development I would still have to revert to SharedAccessKey and cannot use e.g. `A

[2021-09-03 10:12] tkachuk2222 commented on #23641
@jsquire yes, I'm using Service Bus (as a queue trigger and time trigger that calls dead letter queue), also, I'm using HttpClient that is configured in DI as a Singleton
in Program.cs:
`.ConfigureServices(collection =>
{
   collection.AddSingleton<HttpClientWrapper>();
}`
in HttpClientWrapper.cs:
`public class HttpClientWrapper
    {
        public readonly HttpClient HttpClient = new HttpClient(

[2021-09-03 10:16] tkachuk2222 commented on #23641
@heaths yes, it's 'vault.azure.net'. No, I'm using Service Bus, not Event Hub.
This  is all outbound TCP connections of azure functions:
<html>
<body>

Instance | RemoteAddress | Established | TimeWait
-- | -- | -- | --
[xxxxxxxxx] | 65.52.128.xxx:5671 | 1983 | 3
[xxxxxxxxx] | 40.91.199.xxx:443 | 15 | 0
[xxxxxxxxx] | 52.157.162.xxx:443 | 14 | 0
[xxxxxxxxx] | 13.95.155.xxx:443 | 9 | 2
[xxxxxxxxx] |

[2021-09-03 10:32] shawnxzq commented on #23067
Thanks for the update!

[2021-09-03 10:32] #23067 closed

[2021-09-03 10:35] shawnxzq commented on #22025
@LijuanZ Thanks for the update, please create backlog item to track and we can close the issue here.

@stevendarby As we will have internal backlog to track the requirement, we will close this issue later, thanks!

[2021-09-03 10:39] shawnxzq commented on #22425
@LijuanZ Please share the status here if it's done, we need to update the every month till the issue closed, thanks!

[2021-09-03 10:45] shawnxzq commented on #17655
Still working one.
@LijuanZ If we already created backlog items, let me know and we can close the issue here as well, otherwise we need to update the status here monthly, thanks!

[2021-09-03 13:16] ppekrol commented on #23769
After checking the sources it looks like the `StageBlock` method accepts stream of any length, but only streams of `BlockBlobMaxStageBlockLongBytes` are supported. Which makes sense, but handling is invalid IMO. Am I correct?

I think that either this method should throw if stream length is longer than 'BlockBlobMaxStageBlockLongBytes' or it should send up to 'BlockBlobMaxStageBlockLongBytes' byte

[2021-09-03 13:53] ssghoda commented on #23611
Thank you @dereklegenzoff for the information. Our upstream process is set up in a way that we were preserving the ID column,  SoftDeleteColumn with marker value, HighWaterMarkColumn which is _ts in our case, and deleting all other custom metadata fields but it was not working so I was concerned whether the Indexer process needs all the document fields.

[2021-09-03 14:00] ssghoda commented on #23569
Thanks for the information @dereklegenzoff. I am currently working with the second option only, which is getting all such hotels first and then filtering rooms at the Application level. I was wondering if it was possible, even in future, to change the way Azure Search works, like any other SQL or Cosmos Db searches, to filter rooms as well. This way it can also help pick accurate values for Facets

[2021-09-03 14:28] jsquire commented on #23729
@SeanFeldman:  If there is, I'm not aware of it.   @lmolkova may have more visibility and additional insights.

[2021-09-03 14:31] jsquire commented on #23739
Adjusting tags so that the reports don't yell at me.

[2021-09-03 14:33] jsquire commented on #23758
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-09-03 14:34] jsquire commented on #23760
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-03 14:35] christothes commented on #23767
This is a transient environment issue

[2021-09-03 14:35] #23767 closed

[2021-09-03 14:41] jsquire commented on #23763
@CamSoper: Would you mind taking a look or helping to route to the right contact?

[2021-09-03 14:42] jsquire commented on #23768
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-03 14:44] jsquire commented on #23770
//fyi: @pakrym

[2021-09-03 15:08] christothes commented on #8694
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/samples/DefiningCustomCredentialTypes.md#authenticating-with-msal-directly

[2021-09-03 15:08] #8694 closed

[2021-09-03 15:08] pakrym commented on #23451
Do we have one filed for EG?

[2021-09-03 15:16] jsquire commented on #23641
You are creating a new `MessageReceiver` for each invocation of the DeadLetterTimeTrigger function and not closing it.   This is going to cause a new AMQP connection to be created and then left open until it times out after ~90 seconds of inactivity or the service force-closes it.   Since your trigger is running every 40 seconds, you're accumulating connections more quickly than they are closing.

[2021-09-03 15:24] archerzz commented on #23709
Thanks @pakrym It's very helpful!

Closing

[2021-09-03 15:24] #23709 closed

[2021-09-03 15:27] dereklegenzoff commented on #23611
Sorry to hear it's not working for you. Please create a support request so we can look into the issue for you: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2021-09-03 15:35] jongio commented on #23770
Please see the beta version here which supports Azure Identity
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/5.0.0-beta.5

Blog here:
https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-function-extension-libraries-beta/

Working code here:
https://github.com/jongio/memealyzer/tree/main/src/net/Services/Functions

[2021-09-03 15:36] #23753 closed

[2021-09-03 15:37] sdandu21 commented on #23689
Got confirmation from Cosmos team that MSI authentication for Cosmos Tables is not supported at this time.

[2021-09-03 15:37] #23689 closed

[2021-09-03 15:37] sdandu21 commented on #23716
Got confirmation from Cosmos team that MSI authentication for Cosmos Tables is not supported at this time.

[2021-09-03 15:37] #23716 closed

[2021-09-03 15:37] jongio opened #23772 "[BUG] Update docs to include ClientCertificateCredential in EnvironmentCredential"
Here: https://github.com/Azure/azure-sdk-for-net/blob/f75a67b7ca8575dd1041b0bfdad6235f4b2c0413/sdk/identity/Azure.Identity/src/EnvironmentCredential.cs#L25

Doesn't include ClientCertificateCredential

Here: https://github.com/Azure/azure-sdk-for-net/blob/f75a67b7ca8575dd1041b0bfdad6235f4b2c0413/sdk/identity/Azure.Identity/src/EnvironmentCredential.cs#L78

Includes it.

azsdke2e
azsdke2e2

[2021-09-03 16:27] ilya-git commented on #23770
I have tried locally with MyConnectionString__fullyQualifiedNamespace and did not quite work for me locally with environment variables. It does work with Managed Identity in Azure.

I know that the environment variables are set correctly since I use them in other places that do work. Perhaps I did something else wrong. Is it enough to just specify this value in local.settings.json?

[2021-09-03 16:32] heaths opened #23773 "Typo in ClientCertificateOptions docs"
https://github.com/Azure/azure-sdk-for-net/blob/df05d84fdc1842df1b3ec9031d4e28aef1de7cfb/sdk/identity/Azure.Identity/src/ClientCertificateCredentialOptions.cs#L12

Should be "If *no* options are specified...".

[2021-09-03 16:35] CamSoper commented on #23763
@ali-hamud @MahirDiab @laurent-mic  Hello recent contributors to Microsoft/PowerBI-CSharp!

Would somebody be able to please help us update [this overview](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/powerbi-embedded?view=azure-dotnet)? Looks like it's pretty out of date.

[2021-09-03 16:49] pakrym commented on #23770
Do you by any chance have the MyConnectionString__credential set?

[2021-09-03 16:51] heaths opened #23774 "We should document proxy configuration"
We should document that we support these proxy environment variables:

https://github.com/Azure/azure-sdk-for-net/blob/df05d84fdc1842df1b3ec9031d4e28aef1de7cfb/sdk/core/Azure.Core/src/Pipeline/Internal/HttpEnvironmentProxy.cs#L16-L24

We [already have a section](https://github.com/Azure/azure-sdk-for-net/blob/df05d84fdc1842df1b3ec9031d4e28aef1de7cfb/sdk/core/Azure.Core/samples/Configuration.md#con

[2021-09-03 16:52] heaths commented on #23494
The `SecretClient` is calling into the credential provider which will authenticate against your AAD. To use the same transport, you can do the same to the credential provider:

[code]

Does that work for you? We also [support](https://github.com/Azure/azure-sdk-for-net/blob/df05d84fdc1842df1b3ec9031d4e28aef1de7cfb/sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs#L168-L192) various common [e

[2021-09-03 17:09] heaths commented on #23494
In Azure.Core [1.17 or newer](https://github.com/Azure/azure-sdk-for-net/blob/df05d84fdc1842df1b3ec9031d4e28aef1de7cfb/sdk/core/Azure.Core/CHANGELOG.md#1170-2021-08-10) there's also a `ClientOptions.Default` you can use to set a transport for any client e.g.,

[code]

[2021-09-03 17:19] JoshLove-msft commented on #23770
When you say it does not work locally, do you mean that you see the warning on startup that you referenced in the linked issue? This is a known issue with the core tools that will be updated.
Apart from that, does the function still work?

[2021-09-03 17:48] weshaggard commented on #23739
@benbp is a retry loop similar to what @ckairen did in python enough here, so retry in the install check and not the full job.

[2021-09-03 17:53] #23502 closed

[2021-09-03 17:53] #23505 closed

[2021-09-03 17:56] AJAnderhub opened #23779 "[BUG] Missing Slot Version of CreateOrUpdateSwiftVirtualNetworkConnectionWithCheck in Microsoft.Azure.Management.WebSites 3.1.1"
**Describe the bug**
There is no function corresponding to the API for "Web Apps - Create Or Update Swift Virtual Network Connection Slot"  https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/create-or-update-swift-virtual-network-connection-slot in the SDK Microsoft.Azure.Management.WebSites 3.1.1

The functions `DeleteSwiftVirtualNetworkSlotAsync` and `GetSwiftVirtualNetworkConnectionS

[2021-09-03 18:08] LijuanZ commented on #22025
@shawnxzq yes, I've created backlog item to track, thanks!

[2021-09-03 18:11] LijuanZ commented on #22425
@shawnxzq the work item is still in backlog, will update here when it's done, thanks!

[2021-09-03 18:14] LijuanZ commented on #17655
@shawnxzq this work item is done, swagger change has been checked in for a while: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json#L5820

[2021-09-03 19:42] #22855 closed

[2021-09-03 19:43] #22591 closed

[2021-09-03 19:43] #22485 closed

[2021-09-03 19:44] amishra-dev commented on #22456
closing it here in favor of email

[2021-09-03 19:44] #22456 closed

[2021-09-03 19:45] #22206 closed

[2021-09-03 19:47] #20007 closed

[2021-09-03 19:48] amishra-dev commented on #19620
please let us know if you are still blocked.

[2021-09-03 19:51] yvgopal commented on #21869
you can send a drain flow when you don't want to receive any messages. That is supported in the service.

[2021-09-03 19:53] JoshLove-msft commented on #21869
As discussed offline with @xinchen10, sending the drain flow would still lead to races where messages can be locked. In order to prevent this from occurring, we would need service support for unlocking messages on link close.

[2021-09-03 20:02] yvgopal commented on #21869
We can't do that. That would break backward compatibility for some customers. We know some customers who receive using AMQP but complete with the lock token using http.

[2021-09-03 20:04] JoshLove-msft commented on #21869
I see, but it could be an optional setting, right?

[2021-09-03 20:10] JoshLove-msft commented on #23768
@fabiocav - do you know if the Core Tools fix to relax this validation is available yet?

[2021-09-03 20:13] JoshLove-msft commented on #23729
@yvesgoeleven - can you clarify why you would need to extract the diagnostic Id? Are you correlating it with another activity that you are creating in your app?

[2021-09-03 20:24] ssghoda commented on #23611
Sorry, @dereklegenzoff I figured out the issue. We have a GeoLocation field in the document and while creating the data source, we are checking if the Location field is Valid using ST_ISVALID of Azure Cosmos Db. Upon retaining the Location field, it is working fine now.

[2021-09-03 20:55] dereklegenzoff commented on #23611
Awesome, glad you got it working!

[2021-09-03 20:56] heaths opened #23786 "Define `KeyClient.GetCryptographyClient` to return a `CryptographyClient` with shared pipeline"
Based on [recent guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-subclient-factory-methods), `KeyClient` should define a `GetCryptographyClient` that returns a `CryptographyClient` which shares the same pipeline (transport, diagnostics, policies, etc.) with the `KeyClient`. This is already being done for an `IKeyEncryptionKeyResolver`, so we can probably use the same

[2021-09-03 20:59] dereklegenzoff commented on #23569
Understood. I definitely hear the feedback. We don't have any immediate plans to change the way this works that I'm aware of but we're always looking to improve the product based on feedback from customers like yourself so we appreciate you sharing the feedback with us.

[2021-09-03 21:00] ilya-git commented on #23770
No, I got an error that I did not have enough rights to connect the service bus. I did not have `MyConnectionString__credential` set, only 3 env variables to represent a service principal. Maybe I did something wrong with the access, though I set it on the subscription. If you say that this feature is implemented I can try again on Monday to verify once again. I can report then exactly which error

[2021-09-03 21:03] jsquire commented on #23779
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-03 21:06] yvesgoeleven commented on #23729
@JoshLove-msft Something similar. I need to manually tie the activity representing the inbound message to the activity representing the outbound message, as the default propagation of activities is broken by a disruptor pattern that sits in the processing pipeline.

[2021-09-03 21:42] #23611 closed

[2021-09-03 21:45] ssghoda commented on #23569
Sure I understand. It would be great if the Azure team would look into this, like you are saying improving the product based on feedback, so that we can filter Rooms while querying itself and not at the Application level. :-)

[2021-09-04 00:04] #13679 closed

[2021-09-04 06:27] EnricoMassone commented on #23493
Simple enough, thanks!

[2021-09-04 13:36] #16264 closed

[2021-09-04 13:36] #21941 closed

[2021-09-05 00:11] Dave0412 opened #23798 "World"
Hello world

[2021-09-05 19:09] #23798 closed

[2021-09-06 02:18] amishra-dev commented on #23769
@ppekrol as a policy the SDK does not enforce service behavior as service limits might be raised in the future. But RequestBodyTooLarge error should have been surfaced. @kasobol-msft can you please look what happened here?

[2021-09-06 06:52] ilya-git commented on #23770
Thanks a lot for help!

It seems that it is working indeed as you described. I think I have made a rookie mistake and forgot to update the library, the last time I tried to test this. And then due to the fact that there was a warning and that documentation (unlike the referenced blogpost by @jongio) said it is only supported for Managed Identity I gave up and created this issue instead.

So far ev

[2021-09-06 07:03] felipepessoto commented on #19666
I was about to open an issue about the same behavior in EventHub SDK. Even sending a static message, I see my application consuming a lot of memory (100MB/s):

![image](https://user-images.githubusercontent.com/1336227/132173327-7edb9e0b-59b4-43fb-b2b1-aefdcc455e6e.png)

ReadStreamToArraySegment also called my attention, but in one of my traces I see a lot of memory is consumed in Amqp library:

!

[2021-09-06 09:56] wade-dp opened #23800 "[BUG] BlockBlobsClient.StageBlockAsync failing."
**Describe the bug**
We are using the BlockBlobClient to store WAV files.
The data for the WAV file is Staged in blocks of < 4MB using calls to 'StageBlockAsync'.
Once complete we stage another block containing the WAV header.
Finally we commit the blocks in the correct order with the header first using 'CommitBlockListAsync'.

When we come to commit the block list, it is failing due to an invalid

[2021-09-06 11:32] chialiyun commented on #19662
Hi @qsdfplkj, I just faced this issue too and found out which part went wrong.

If we would like to enable session for the queue and would like to set `autoComplete` to `false`, we have to set it to `sessionHandlerOptions` instead of `messageHandlerOptions`

in host json:
[code]

If you are still facing this issue, hope that helps!

Those are in reference to MS Docs in this [link](https://docs.mic

[2021-09-06 12:11] pawelpabich commented on #19620
@amishra-dev is this problem fixed? If so, in what version?

[2021-09-06 12:23] Rookian opened #23801 "[FEATURE REQ] App Service Support for Availability Zones"
As mentioned here https://azure.github.io/AppService/2021/08/25/App-service-support-for-availability-zones.html we can use Availability Zones for Azure App Services.

How can we activate this feature when using the old or/and new Azure SDK?

Old SDK:
"Microsoft.Azure.Management.Fluent" Version="1.37.0"
"Microsoft.Azure.Management.ResourceManager.Fluent" Version="1.37.0"

[2021-09-06 13:28] jsquire commented on #23801
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-06 13:52] rolsendk commented on #23494
@heaths Thanks for the reply. I already set a transport using ClientOptions, to no avail; Although the library will call my Key Vault at Azure using the transport proxy at least two unknown Azure ip range requests are not using the proxy and thus timeouts occur. I had to install a network sniffer to test this.
You can find my code for the tests at the top, it's practical identical to your example.

[2021-09-06 15:54] razorenov opened #23802 "[QUERY] Empty blob creation in BlockBlobClient.OpenWrite"
**Query/Question**
While migrating from v11 Storage SDK, we've noticed, that BlockBlobClient.OpenWrite method now makes an additional API request before creating the write stream. Looking at [the code](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs#L2622), it seems that this method creates an empty blob before returning the stream. At th

[2021-09-07 00:22] Sectaur opened #23805 "Pointless page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba0a1d89-3377-deef-faf6-8d73cba667e7
* Version Independent ID: 0d322b99-0aeb-8dcd-41be-0cadbd07d96b
* Content: [ClientApplicationBase.UserTokenCache Property (Microsoft.Identity.Client) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dot

[2021-09-07 01:32] LeonLamMS opened #23806 "Unclear what the format of the json string is supposed to be."
It is unclear what the format of the json string is supposed to be. Reading a json file into a string with File.ReadAllText(paramPath) does not work, and the documentation is not very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2024d768-b80d-f542-50bb-3ffb578d8ba7
* Version Independent ID: 680045a8-d336-255

[2021-09-07 02:05] archerzz commented on #23184
I checked some of those errors, and I think we'd better just choose to skip spell check for generated codes. Those nouns are not correctly spelled in swagger definition. For example, `D:\code\azure-sdk-for-net\sdk\network\Azure.ResourceManager.Network\api\Azure.ResourceManager.Network.netstandard2.0.cs:6974:23 - Unknown word (Ipconfiguration)` is because of the [swagger definition here](https://gi

[2021-09-07 02:08] archerzz commented on #23184
However, we could try to reduce the scope of ignored folders, so that we can still catch some spelling problems elsewhere (like tests, samples, and docs).

[2021-09-07 04:59] hamish-omny commented on #9265
The guidance from https://github.com/dotnet/runtime/issues/45328#issuecomment-735654691 suggests not using `WebUtility.UrlEncode`

We recently upgraded from the now deprecated version of the storage SDK to this version and have hit an issue with spaces being encoded as `+` in the content disposition. Our situation is likely a little unique, but our issue is that `+` isn't always treated as a chara

[2021-09-07 05:02] kisalay19 opened #23808 "ManagedIdentityCredential for Service Bus throwing error"
I am trying to implement, managed identity authentication using the Azure SDK .NET in my C# application to establish connectivity to Service Bus and Send a Message to it but getting the error as below

**Error Message**: **_ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found_**

Below is my code snippet.

[code]

I am using the packages with below version :
.NE

[2021-09-07 05:22] xfz11 opened #23809 "[BUG] Azure.Identity.CredentialUnavailableException: ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found."
**Describe the bug**

When we enable Managed Identity in AKS, some pods can't get auth token, the SDK throw exception

[code]

But the error not always occurs. Our AKS cluster have 3 nodes, when a new pod is created, it may have the error. If we delete the error pod, the newly created pod would not have the error. According to our test, it is not always happened on a specific node. And we check th

[2021-09-07 06:10] SahinOzdemir opened #23810 "Azure Messaging Eventgrid (4.6.0) issue with JObject in data property"
We have been using Microsoft.Azure.Eventgrid 3.2.x package for quite a while now in our function projects to publish messages.
When publishing, we use a JObject to fill the data property of the EventGridEvent, works like a charm as shown in the following example

`var data = new JObject
            {
                {"fileId", fileId},
                {"fileName", fileName}
            };`

and la

[2021-09-07 06:13] amishra-dev commented on #23128
@seanmcc-msft / @amnguye can you please look

[2021-09-07 06:14] amishra-dev commented on #19620
My apologies @pawelpabich, looks like we are waiting for a service fix

[2021-09-07 06:19] amishra-dev commented on #19422
Please reactivate if you have any further questions

[2021-09-07 06:19] #19422 closed

[2021-09-07 06:22] amishra-dev commented on #19620
@pawelpabich can you raise a support request? As service issues are not tracked here. I will try and help someone pick this up as well.

[2021-09-07 06:23] blueww commented on #21774
You can use  storageMgmtClient.BlobServices.GetServiceProperties()
See detail in test case: https://github.com/Azure/azure-sdk-for-net/blob/d38779fa437c2cdad251463f01039119439c2703/sdk/storage/Microsoft.Azure.Management.Storage/tests/Tests/BlobServiceTests.cs#L817

[2021-09-07 06:39] archerzz commented on #22930
Hi @1RedOne I guess the blog post you've read is [this one](https://devblogs.microsoft.com/azure-sdk/unit-testing-and-mocking/), right? It's for the track2 (e.g. new design) SDK. All SDK with name pattern `Azure.XXXX` is track2.

For track2 resources SDK, you may want to check [Azure.ResourceManager.Resources](https://www.nuget.org/packages/Azure.ResourceManager.Resources/1.0.0-beta.1)

As for tra

[2021-09-07 07:12] pawelpabich commented on #19620
Support request? Where can I do this?

[2021-09-07 07:26] blueww commented on #19620
@pawelpabich
You can raise a support request in Azure Portal as following picture:
![image](https://user-images.githubusercontent.com/6926193/132302260-f1fbee9a-6b1c-4176-b534-080fb3ac405d.png)

Besides that, as this is a server log, please give a request ID for the issue in the recent time (in 3 days), as server side might need look into server log to investigate it.

[2021-09-07 08:19] levalencia commented on #23708
any feedback?

[2021-09-07 08:20] levalencia commented on #23675
still waiting for feedback on the issue

[2021-09-07 09:29] avwolferen opened #23813 "Domain in example is not owned by Microsoft"
The given example mentions "myvault.azure.vaults.net", the domain vaults.net is not even owned by Microsoft and mistakes happen when people implement this. If you happen to implement this in your own code and not use the proper Vault URI then your or your managed identity token might get compromised if the receiving endpoint captures this.

Please update the example with at least the proper exampl

[2021-09-07 12:42] jsquire commented on #23802
Thanks for the feedback! We are routing this to the appropriate team for follow-up. cc @xgithubtriage.
<details>
<summary>Issue Details</summary>
<hr />

**Query/Question**
While migrating from v11 Storage SDK, we've noticed, that BlockBlobClient.OpenWrite method now makes an additional API request before creating the write stream. Looking at [the code](https://github.com/Azure/azure-sdk-for-net/b

[2021-09-07 12:43] jsquire commented on #23800
Thanks for the feedback! We are routing this to the appropriate team for follow-up. cc @xgithubtriage.
<details>
<summary>Issue Details</summary>
<hr />

**Describe the bug**
We are using the BlockBlobClient to store WAV files.
The data for the WAV file is Staged in blocks of < 4MB using calls to 'StageBlockAsync'.
Once complete we stage another block containing the WAV header.
Finally we commit t

[2021-09-07 12:44] jsquire commented on #23805
//cc: @nonik0, @anaismiller

[2021-09-07 12:44] jsquire commented on #23805
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-09-07 12:49] jsquire commented on #23806
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-07 12:51] jsquire commented on #23808
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-07 12:52] jsquire commented on #23809
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-07 12:54] jsquire commented on #23810
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-07 12:56] jsquire commented on #23813
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-09-07 14:17] jsquire opened #23816 "Event Hubs Client Library for .NET - November Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments for .NET (July-December 2021) (#22171)](https://github.com/Azure/azure-sdk-for-net/issues/22171).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning fo

[2021-09-07 14:19] jsquire opened #23817 "Review and update documentation (November Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2021-09-07 14:20] #22415 closed

[2021-09-07 14:47] christothes commented on #23809
Hi @xfz11
Would you mind providing the logging output after reproducing this with [logging enabled](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Diagnostics.md)?

[2021-09-07 15:33] jsquire opened #23819 "Event Hubs: Remove Test Infrastructure Scaffolding"
# Summary

The Event Hubs test infrastructure was created before the Test Resources pattern was added to the repository.   As a result, there is overlap between the systems, with the Event Hubs infrastructure containing functionality intended to manage top-level resources such as Event Hubs namespaces and Storage accounts.  This causes unnecessary duplication and drift; the Event Hubs test infrast

[2021-09-07 15:43] #23772 closed

[2021-09-07 15:43] #23813 closed

[2021-09-07 15:55] pakrym commented on #22930
The easiest might be to compy one of the existing page models that implement IPage and use it in tests:

https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/redis/Microsoft.Azure.Management.Redis/src/Generated/Models/Page.cs

[code]

[2021-09-07 16:10] AlexGhiondea opened #23820 "[BUG] Improve XML doc comments for KeyVault methods"
There is an expected difference between these two methods:

* Azure.Security.KeyVault.Certificates.CertificateClient.GetPropertiesOfCertificateVersions()
* Azure.Security.KeyVault.Secrets.SecretClient.GetPropertiesOfSecretVersions()

One returns only enabled certificates while the other only returns both enabled and disabled secrets.

We should consider improving the XML doc comments around this.

[2021-09-07 16:11] danielmarbach commented on #19666
@felipepessoto I did a bunch of little PRs to improve things I could in my spare freetime

https://github.com/Azure/azure-amqp/pulls?q=is%3Apr+is%3Aclosed+author%3Adanielmarbach

most notable, probably these

https://github.com/Azure/azure-amqp/pull/182
https://github.com/Azure/azure-amqp/pull/185

I stopped though due to lack of time in my hands nowadays as well as no real commitment where the jo

[2021-09-07 16:11] PPrabinKumarPatro commented on #23082
Any update here?

[2021-09-07 16:11] christothes commented on #23713
Hi @erikumhoefer -
Because this appears to be an issue with the Managed Identity service itself, I'd recommend opening a support ticket at https://support.microsoft.com to get assistance on troubleshooting this further.

[2021-09-07 16:17] annelo-msft opened #23821 "Azure Container Registry for .NET (September 2021)"

[2021-09-07 16:22] annelo-msft opened #23822 "[ACR] [BlobClient] Updates to ACR 1.1.0 API"
The API review for the proposed ACR v1.1.0-beta.1 API is here: https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c/31eae60547cc4c42a26a98a95cd310aa?doc=False

Items to address from this review include:
- [ ] Remove `AzureResourceManagerGermany` from `ContainerRegistryAudience` enum (will need to happen across languages)
- [ ] Consider naming of `ContainerRegistryBlobClient`, giv

[2021-09-07 16:31] jongio commented on #23772
Thank you @christothes!

[2021-09-07 16:49] nonik0 commented on #23805
@jsquire I took a look at this and looks like it's an MSAL page. I don't have a recent contact with them, can you cc that team please?

[2021-09-07 17:25] annelo-msft opened #23826 "[ACR] [BlobClient] Implement standard .NET download pattern in ContainerRegistryBlobClient"
Use Storage Blobs library as a model:

- [ ] Investigate the need to implement `RetriableStream` in `DownloadBlobResult`
- [ ] Implement `IDisposable` on `DownloadManifestResult` and `DownloadBlobResult`

[2021-09-07 17:37] annelo-msft opened #23827 "[ACR] [BlobClient] Upload manifest directly as stream"
There is a bug in the ACR service preventing us from exposing a method to allow users to uploading a manifest from a file stream directly.  The team is working on this.

https://msazure.visualstudio.com/AzureContainerRegistry/_workitems/edit/10780642

Once this is fixed, we can re-enable the `UploadManifest(stream)` overload.  It was previously written to deserialize/serialize to `OciManifest` to

[2021-09-07 17:44] jaschrep-msft commented on #23082
Taken offline. Will update here when conclusions are reached.

[2021-09-07 17:44] annelo-msft opened #23828 "[ACR] [BlobClient] Add support for non-OCI Manifests"
We don't currently support the Docker v1 and v2 manifest types in create/get manifest:

- v1: `application/vnd.docker.container.image.v1+json`
- v2: `application/vnd.docker.distribution.manifest.v2+json`

Support for these types will involve solving a polymorphic type deserialization problem, which will involve some swagger transforms.  Given that the [Azure REST API Guidelines](https://github.com

[2021-09-07 17:48] annelo-msft opened #23829 "[ACR] [BlobClient] Add support for Manifest List/Indexes"
We don't currently support create/get for the Docker manifest list  manifest type or the OCI index manifest type.

- Docker manifest list: `application/vnd.docker.distribution.manifest.list.v2+json`
- Oci manifest index: `application/vnd.oci.image.index.v1+json`

As part of this, we will need to design these types in relation to the other manifest types.

[2021-09-07 17:55] amishra-dev commented on #23800
@wade-dp there are 2 questions here
1. GetBlockList not showing all the staged blocks. For this can you paste the snippet that you used? You need to pass https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blocklisttypes?view=azure-dotnet (All<== in the enum) to see blocks that have not been committed
2. About invalidblocklist: The first parameter that you are passing in your co

[2021-09-07 18:17] amishra-dev commented on #20950
We have the PR out, we will get it merged soon.

[2021-09-07 18:19] amishra-dev commented on #15478
@amnguye Amanda can you please work with @pakrym to give him a small repro that shows this problem.

[2021-09-07 18:28] felipepessoto commented on #19666
Are these changes incorporated in latest releases?

[2021-09-07 18:34] annelo-msft opened #23831 "[ACR] [BlobClient] Enable manifest download by tag"
Since we currently only support manifest download by digest, users currently must take the following steps to download a manifest by its tag:

[code]

We should update `DownloadManifestAsync` to work with either a digest or a tag.

[2021-09-07 18:46] annelo-msft opened #23832 "[ACR] [BlobClient] Investigate whether support is needed for digest hash algo other than sha256"
We're currently [using only SHA256 hash](https://github.com/Azure/azure-sdk-for-net/blob/feature/containerregistry/oci-blob-api/sdk/containerregistry/Azure.Containers.ContainerRegistry/src/Blob/OciBlobDescriptor.cs#L31) for computing the digest of a blob or manifest.

Investigate whether there is a need to support any other digest calculation algorithms.

[2021-09-07 18:47] annelo-msft commented on #23832
Per: https://docs.docker.com/registry/spec/api/#content-digests,

We need to confirm this for OCI as well.

[2021-09-07 18:51] annelo-msft opened #23833 "[ACR] [BlobClient] Complete docstrings"
Some suggested items from various reviews:

- [x] Docstrings currently don't list the set of exceptions that can be thrown by a method.  Complete these.
- [x] Per [this comment](https://github.com/Azure/azure-sdk-for-net/pull/23688#discussion_r702110781), we could reuse the default instance of `UploadManifestOptions`
- [x] Per [this comment](https://github.com/Azure/azure-sdk-for-net/pull/23688#di

[2021-09-07 19:22] lwanyintaung opened #23834 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-09-07 19:31] JoshLove-msft commented on #23810
Hi @SahinOzdemir,
The Azure.Messaging.EventGrid library uses System.Text.Json by default for serializing objects to JSON. This is by design as the Azure.* libraries will not depend on NewtonSoft.Json. In order to use NewtonSoft types directly, you would need to use the constructor that accepts a `BinaryData` instance, and serialize the JObject to BinaryData by using the [Microsoft.Azure.Core.Newto

[2021-09-07 19:33] christothes opened #23837 "Improve documentation for TokenCachePersistenceOptions as it relates to AuthenticationRecord"
Documentation for `TokenCachePersistenceOptions` should go into more detail explaining how an `AuthenticationRecord` should be used to access entries in a shared cache.

What we need is an e2e example that pieces together the [token cache samples ](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/samples/TokenCache.md#persisting-credentials-by-configuring-tokencache

[2021-09-07 20:07] #23834 closed

[2021-09-07 20:14] matt-lethargic opened #23838 "[QUERY] Custom Vision Prediction Bounding Box what do the values represent and how can I use them?"
**Query/Question**
I have created and trained a model using Custom Vision. I would like to take the results from the prediction results and crop the image to use later on.

The bounding box values are all lower than zero, I was expecting them to be integers and represent pixels locations eg:

Starting point of box
Top: 200
Left: 300

Dimensions from starting point
Width: 100
Height: 50

this is ob

[2021-09-07 20:28] kasobol-msft commented on #23769
I have run the repro code but I'm getting the expected result which is the RequestBodyTooLarge propagated to the user. I.e.
[code]

@ppekrol I was looking your log, repro code and service side metrics and logs of your account. Here are some observations.
1. You have to chunk the stream before passing it to `StageBlock`. Have you considered [BlobClient.UploadAsync](https://docs.microsoft.com/en-us/

[2021-09-07 21:05] JoshLove-msft opened #23842 "Avro Schema Registry serializer requires group name"
It makes sense that group name is required for serialization, as it is required to look up the schema ID since there could be multiple, identical schemas in different schema groups.

When deserializing, you shouldn't need to specify a group name because the schema ID is unique across the endpoint.

[2021-09-07 21:09] lmolkova commented on #23729
@yvesgoeleven thanks for the context!  In addition to extracting Diagnostic-Id, make sure to create Activity and pass to ApplicationInsights `StartOperation` (or other API you're using).

@SeanFeldman I've generalized this issue here https://github.com/Azure/azure-sdk/issues/3319. If you know about any cases where it was needed/missed, please help us prioritize it.

[2021-09-07 21:09] JoshLove-msft opened #23843 "Schema Registry - Get by Schema still requires schema name"
It is somewhat redundant that you need to specify schemaName and schema content. The Schema name can be parsed from the schema content for Avro, but the SchemaRegistry SDK cannot depend on the Avro library. This is handled automatically when using the Avro Schema Registry serializer. We should see if there is something we can do here to improve the experience.

[2021-09-07 21:34] heaths commented on #23494
Did you set the default options for all Azure.* HTTP clients like in this [comment](https://github.com/Azure/azure-sdk-for-net/issues/23494#issuecomment-912685058)? Did you try the environment variables? Any non-Azure.* packages may use those standard variables as well.

The Key Vault SDK only connects to your vault. The IP may vary if reverse-proxied - I honestly don't know, but I doubt it. Those

[2021-09-07 21:35] jsquire commented on #23805
Thanks, @nonik0.   I appreciate the assist.

[2021-09-07 21:36] jsquire commented on #23805
This issue has been transferred to the MSAL repository as [#2872](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2872).   Closing this out.

[2021-09-07 21:36] #23805 closed

[2021-09-07 21:43] JoshLove-msft commented on #23810
@pakrym pointed out that in .NET 6.0 (which is still in preview), there is a JsonNode type being included in System.Text.Json which should have similar semantics to the JObject so swapping out those types would be a third option.

[2021-09-07 21:59] heaths commented on #23820
I was able to repro this in Postman and both return enabled and disabled resources and they should, by default. As a REST client, we generally don't want to hide such details from the users. Disabled resources can still be useful - like an old, expired certificate or key (certificate private keys are stored as secrets) to decrypt something that was encrypted before it was expired/disabled.

We cou

[2021-09-07 22:02] #23630 closed

[2021-09-07 22:02] #23610 closed

[2021-09-07 22:02] #23608 closed

[2021-09-07 22:02] #23499 closed

[2021-09-07 22:24] #22151 closed

[2021-09-07 23:29] JoshLove-msft commented on #23169
Waiting on design feedback from Functions folks.

[2021-09-07 23:40] maorleger opened #23852 "Key Vault for .NET (October 2021)"

[2021-09-07 23:42] JoshLove-msft opened #23853 "TestFramework - extend DeleteAfter tag expiration during live test run"
When live tests are running and the AZURE_RESOURCE_GROUP corresponds to a resource group that has the DeleteAfter tag, we should extend the expiration by 1 week.
If the resource has already been deleted, we could consider failing early and giving a helpful error message about what to do (delete the env file, and try again), or even prompt the user to delete the file on their behalf.

[2021-09-08 01:10] archerzz commented on #22930
Thanks @pakrym !

@1RedOne Does that resolve your question?

[2021-09-08 01:17] #23739 closed

[2021-09-08 01:25] nisha-bhatia commented on #23580
https://github.com/Azure/azure-sdk-for-net/pull/23858

[2021-09-08 06:08] gocha opened #23860 "[FEATURE REQ] Allow BlobClient.UploadAsync to use PUT Blob even when using client-side encryption"
**Library or service name.**
Azure.Storage.Blobs

**Is your feature request related to a problem? Please describe.**
I hope to perform small uploads using PUT Blobs, even when using client-side encryption.

As mentioned in #22593, `BlockBlobClient` internally chooses and calls PUT Blob or PUT Block depending on the input. It seems that PUT Blob is chosen if the input is seekable and the size does

[2021-09-08 06:30] SahinOzdemir commented on #23810
Hi,

Thanks for your quick responses! I'll check if the provided solution solves our issue.

[2021-09-08 07:31] vijayaz opened #23861 "[QUERY]KeyVault secrets caching- using keyvaultproxy"
**Query/Question**
I am trying cache the response from keyvault sdk. I understand keyvaultproxy in the samples provide an option to cache the response in  HttpPipelinePolicy.  Can I use keyvaultproxy reference for my production grade application. since the keyvault proxy reference says it is just an sample.

**Environment:**
 - Azure.Security.KeyVault.Secrets;[4.2.0] / AzureSamples.Security.KeyVau

[2021-09-08 07:31] dxynnez opened #23862 "[BUG] System.ObjectDisposedException with message "Cannot access a closed Stream." - when calling QueueClient#UpdateMessageAsync"
<pre>
 System.ObjectDisposedException : Cannot access a closed Stream.
     at System.IO.MemoryStream.Write(ReadOnlySpan`1 buffer)
     at System.IO.StreamWriter.Flush(Boolean flushStream, Boolean flushEncoder)
     at System.IO.StreamWriter.Dispose(Boolean disposing)
     at System.IO.TextWriter.Dispose()
     at System.Xml.XmlTextWriter.Close()
     at System.Xml.XmlWriter.Dispose(Boolean dispos

[2021-09-08 07:51] dxynnez commented on #23862
Note:

In normal case I didn't get this exception - I only got it in my UT where I added a HttpPipelinePolicy with Task.Delay to force the request to timeout (set in CancellationTokenSource#CancelAfter).  Looking at the stacktrace it seems like the ObjectDisposedException should always get thrown. Could someone also help me to understand this behavior?

[2021-09-08 08:02] #23290 closed

[2021-09-08 08:30] wade-dp commented on #23800
Thanks @amishra-dev.

1. I actually used two calls to 'GetBlockList' once for committed block and again for uncommitted blocks.

2. I have verified that the block id's all have the same length, and have reproduced the problem.
The exception dump is below:

The specified block list is invalid.
RequestId:ae141122-e01e-005b-1389-a4ded2000000
Time:2021-09-08T08:11:26.0440797Z
Status: 400 (The specifie

[2021-09-08 08:59] ppekrol commented on #23769
@kasobol-msft

It looks like you managed to upload everything before getting that exception:
[code]

I'm getting that consistently after 2 minutes, so I think (since your connection is far more superior) to increase the file size to 100GB in that application? I've on purpose cut down on my router the bandwidth to a very low one. Azure support managed to reproduce that issue (TrackingID#21090200500

[2021-09-08 12:25] SkNuwanTissera commented on #8561
I am using Java SDK 3.5.1.
I cannot use any property available out there to detect an open/closed connection.
`IsClosedOrClosing` is not accessible via QueueClient, TopicClient or SubscriptionClient.
It has a function `getIsClosedOrClosing`. But that method is protected. So cannot use outside the package.
Could you please help with this concern.

[2021-09-08 12:25] stevedown commented on #23630
That sounds good to me - we remediated by forcing (as best we could) KeyVaultClient to act as a singleton, so as to not inadvertently dispose our singleton HttpClient - this does seem to have put to rest our ObjectDisposedExceptions. Thanks for the assistance and perspective.

[2021-09-08 12:42] jonganej opened #23863 "[BUG] Memory leak when uploading large file (~500mb) to blob storage from Blazor WASM"
**Describe the bug**
Following the advice on the [ASP.NET Core Blazor file uploads](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-5.0&pivots=webassembly), passing a stream from `IBrowserFile.OpenReadStream` to `BlobClient.UploadAsync` results in the file being loaded into memory and remains even after upload process was completed.

**Expected behavior**
Memory us

[2021-09-08 13:10] jsquire commented on #23861
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-08 14:38] tkachuk2222 commented on #23641
@jsquire I've added to all places code with closing connections, but it didn't affect

`
                log.LogWarning($"Is connection closed - {dlqReceiver.IsClosedOrClosing}");

                log.LogWarning($"OwnsConnection - {dlqReceiver.OwnsConnection}");
  if (!dlqReceiver.IsClosedOrClosing)
                {
                    log.LogWarning($"Closing connection");
                    aw

[2021-09-08 14:41] schaabs opened #23866 "Refactor TenantIdResolver calls to avoid duplication of code."
All credentials which support multi-tenant authentication now have to call `TenantIdResolver.Resolve` before acquiring a token. We should investigate if we can refactor this logic into a shared place, possibly inside `MsalConfidentialClient` and `MsalPublicClient`

[2021-09-08 14:43] jsquire commented on #23641
@tkachuk2222:   Can you share the changes that you've made to your code?   Also, is there a reason that you're unable to treat the Service Bus clients as singletons in your application?

[2021-09-08 15:11] spygi opened #23868 "Reword docs for CosmosClientOptions.ApplicationRegion"
The [documentation for CosmosClientOptions.ApplicationRegion](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.cosmosclientoptions.applicationregion?view=azure-dotnet&source=docs) can be more explicit, especially in the fallback case. This will avoid confusion with the other setting, [ApplicationPreferredRegions that is listed as an *alternative*](https://docs.microsoft.com/en-us

[2021-09-08 15:18] kasobol-msft commented on #23769
@ppekrol
Thanks, I'll try with larger size.

I was talking about [`BlobClient.UploadAsync`](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobclient.uploadasync?view=azure-dotnet#Azure_Storage_Blobs_BlobClient_UploadAsync_System_IO_Stream_Azure_Storage_Blobs_Models_BlobUploadOptions_System_Threading_CancellationToken_) not [`BlockBlobClient.UploadAsync`](https://docs.microsoft.co

[2021-09-08 15:49] christothes commented on #21939
closed by #23775

[2021-09-08 15:49] #21939 closed

[2021-09-08 16:08] WraithNath opened #23874 "FormRecognizerClient - no way to get raw Read Results"
When using FormRecognizerClient.StartRecognizeContent is returns a PageColleciton Object - which is sufficient for document labelling, however, to train a model you need the doc.labels.json, doc.ocr.json and a fields.json file.

the page collection can be serialized to Json but it is not in the same format required by the form recognizer to train a model.

looking at the source code for the for th

[2021-09-08 16:30] #18549 closed

[2021-09-08 16:48] sasoripathos commented on #22846
@bradmoulder FYI, I have found the root cause of this issue with the help from service team, which may be useful to you.
The root cause is the way we use SDKs actually overloaded the local Token Service on each App Service workers/VMs. The local Token Service was in a bad status as a result.
The fix I made was: instead of using
`BlobContainerClient containerClient = new BlobContainerClient(new Uri

[2021-09-08 16:53] #23665 closed

[2021-09-08 16:53] maririos commented on #23087
Package has been released: https://www.nuget.org/packages/Azure.AI.Translation.Document/1.0.0-beta.5

[2021-09-08 16:53] #23087 closed

[2021-09-08 17:00] joshfree opened #23877 "net - identity - tests failing on Cache PS Modules - access denied"
Tracking issue to get the .NET Identity ubuntu_keyring_container_netcoreapp31_PublicPreviewCanaary smoke tests passing.  Currently they're 100% failing on

[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1085889&view=logs&j=a193ede0-9885-5d40-0426-f58fbbbff2c5&t=bac7d362-c235-5310-c9d9-3f0d2e3da2cb&l=23

[code]

[2021-09-08 17:03] joshfree commented on #22188
@nisha-bhatia can you make sure these final changes make it into this month's final beta release?

[2021-09-08 17:23] joshfree opened #23879 "Investigate 8 failing Monitor Query smoke tests"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1084654&view=ms.vss-test-web.build-test-results-tab

[2021-09-08 17:31] ppekrol commented on #23769
@kasobol-msft
That sounds interesting. Is this a recommended way to upload huge files up to few TB? What is max size there? How retry works? Starts from scratch? This is what we would like to avoid after sending GB or TB of data.

Attaching debug data:
[output.txt](https://github.com/Azure/azure-sdk-for-net/files/7130724/output.txt)

As you can notice it happens ęvery ~2min.

BTW, I've implemented

[2021-09-08 17:42] Mohit-Chakraborty opened #23882 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.ApplicationInsights.Query'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:43] #23529 closed

[2021-09-08 17:45] Mohit-Chakraborty opened #23883 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.AnomalyDetector'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:46] Mohit-Chakraborty opened #23884 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.Knowledge.QnAMaker'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:48] Mohit-Chakraborty opened #23885 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.Language.*'"
**Describe the bug**
Enabling ref documentation for these libraries gives errors on build.
- 'Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring'
- 'Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime'
- 'Microsoft.Azure.CognitiveServices.Language.SpellCheck'
- 'Microsoft.Azure.CognitiveServices.Language.TextAnalytics'

**Expected behavior**
We should be able to generated ref documentat

[2021-09-08 17:49] Mohit-Chakraborty opened #23886 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.Personalizer'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:51] Mohit-Chakraborty opened #23887 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.Search.*'"
**Describe the bug**
Enabling ref documentation for these libraries gives errors on build.
- 'Microsoft.Azure.CognitiveServices.Search.BingAutoSuggest'
- 'Microsoft.Azure.CognitiveServices.Search.BingCustomImageSearch'
- 'Microsoft.Azure.CognitiveServices.Search.BingCustomSearch'
- 'Microsoft.Azure.CognitiveServices.Search.BingEntitySearch'
- 'Microsoft.Azure.CognitiveServices.Search.BingImageSear

[2021-09-08 17:52] Mohit-Chakraborty opened #23889 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.Vision.*'"
**Describe the bug**
Enabling ref documentation for these libraries gives errors on build.
- 'Microsoft.Azure.CognitiveServices.Vision.ComputerVision'
- 'Microsoft.Azure.CognitiveServices.Vision.ContentModerator'
- 'Microsoft.Azure.CognitiveServices.Vision.CustomVision.Prediction'
- 'Microsoft.Azure.CognitiveServices.Vision.CustomVision.Training'
- 'Microsoft.Azure.CognitiveServices.Vision.Face'
-

[2021-09-08 17:53] Mohit-Chakraborty opened #23890 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.ContainerRegistry'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:54] Mohit-Chakraborty opened #23891 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.EventGrid'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:54] Mohit-Chakraborty opened #23892 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.HDInsight.Job'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:55] Mohit-Chakraborty opened #23893 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.Graph.RBAC'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 17:56] Mohit-Chakraborty opened #23894 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.KeyVault*'"
**Describe the bug**
Enabling ref documentation for these libraries gives errors on build.
- 'Microsoft.Azure.KeyVault'
- 'Microsoft.Azure.KeyVault.Core'
- 'Microsoft.Azure.KeyVault.Cryptography'
- 'Microsoft.Azure.KeyVault.Extensions'
- 'Microsoft.Azure.KeyVault.WebKey'

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of re

[2021-09-08 17:57] Mohit-Chakraborty opened #23895 "[BUG] Fix reference documentation issues in 'Microsoft.Azure.OperationalInsights'"
**Describe the bug**
Enabling ref documentation for the library gives errors on build.

**Expected behavior**
We should be able to generated ref documentation with build.

**To Reproduce**
1. Enable generation of ref docs by removing the exclusion of the library from 'eng\Directory.Build.Common.props'
2. Build the SDK directory.

[2021-09-08 18:00] bradmoulder commented on #22846
@sasoripathos  The fix for us was to upgrade our "Azure.Storage.Blobs" Version="12.10.0-beta.2" we were hitting a known bug in the 12.9.1 version that was throwing an error for us.

We also saw some issues around our local Token Service (or thats what i assume that Get /msi/token call is) We were getting 500 errors on that call. only known fix is to delete and re-deploy the function app for us.

[2021-09-08 18:05] ayeltsov opened #23896 "Azure.Identity: make it simpler to achieve silent authentication across app executions when using InteractiveBrowserCredentialOptions and TokenCachePersistenceOptions"
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
Currently, a lot of boilerplate code is required to achieve silent token acquisition.
Below is the code that achieves it:
[code]

As you can see, there's a lot happening around `File.Exists(AuthRecordPath)` check.
Ideally, I'd like this handled by the library itself. All I would need to

[2021-09-08 18:10] seanmcc-msft opened #23897 "[Storage] Re-enable Storage Management tests"

[2021-09-08 18:17] kasobol-msft commented on #23769
Yes the `BlobClient.UploadAsync` is recommended way to upload blobs of any size. One of overloads take `BlobUploadOptions` and [BlobUploadOptions.TransferOptions](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobuploadoptions.transferoptions?view=azure-dotnet#Azure_Storage_Blobs_Models_BlobUploadOptions_TransferOptions) can be used to customize how data is chunked (or if

[2021-09-08 18:19] nisha-bhatia opened #23900 "Throw on Partial Failures in Azure.Monitor"
- [ ] Add a LogQueryOption called ThrowOnPartialFailure
- [ ] Add throwing logic to all  client.query* methods
- [ ] Throwing RequestFailed exception with detailed error message explain partial error and how to fix it (disable or update something)
- [ ] Find test that has partial failures - CanQueryPartialSuccess()
- [ ] Add tests for all querying methods

[2021-09-08 18:38] kgbuddhima opened #23902 "SetSecretAsync gives error "Could not load file or assembly 'System.Text.Encodings.Web""
**Describe the bug**

When I call SetSecretAsync() method, I'm having above error.

**Expected behavior**
App should save the given secret to Azure vault.

**Actual behavior (include Exception or Stack Trace)**
SetSecretAsync fails with the above exception

Previously I had following error too and I solved after upgrading Azure.Security.KeyVault.Secrets to v 4.2.0

**To Reproduce**
[code]

**Envir

[2021-09-08 18:41] maririos commented on #23874
Hi @WraithNath ,

The best way to get your training data in the format you need is to use the Labeling tool provided by the Form Recognizer Service.
Here you can find more information about how to use it: https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/label-tool?tabs=v2-1

[2021-09-08 19:21] WraithNath commented on #23874
Hello,

Thanks for the reply, I have used the training tool and its very good. I'm using it and comparing the json files generated from it with the ones I am am generating from my own application. The fields.json and labels.json are now a perfect match, its just the ocr.json file that is a problem now (I have the page collection that is returned from StartRegognizeContent but this is not enough to

[2021-09-08 20:15] maririos commented on #23874
Thanks for the explanation. It def looks like the UI tool won't be enough.

What about getting the raw response from the service and parsing from there the information you need so you can use that as the `ocr.json` file?

Something like (but more stable for production environment):
[code]

[2021-09-08 20:25] kasobol-msft commented on #21923
Related https://github.com/Azure/azure-sdk-for-net/issues/23862

[2021-09-08 20:29] kasobol-msft commented on #23862
@dxynnez The issue was fixed here https://github.com/Azure/autorest.csharp/issues/1402 . However the Queues SDK hasn't been yet released with the fix. The fix should be part of 12.8.0 release which is coming very soon.

[2021-09-08 20:44] fabiocav commented on #23344
@anatoliB would you be able to triage/assign this item?

[2021-09-08 20:46] AnatoliB commented on #23344
Yes, thank you

[2021-09-08 21:03] JoshLove-msft opened #23906 "ArmClient GetSubscription method"
While using the GetSubscription method off of the ArmClient, I ran into some trouble.
I passed in the id of the subscription, which is what the docs indicated was the correct thing to. However I got an ArgumentException that said I was passing in an invalid resource Id. I noticed the method actually expects a `ResourceIdentifier` which has an implicit cast from `string`.  Digging into the code, I

[2021-09-08 21:09] heaths commented on #23861
@vijayaz that's really up to you and your team. It is only a sample, as you pointed out, but it straight forward enough for a simple, effective in-memory cache. It's main purpose was to demonstrate how you could cache results, though that could be to Redis, disk, or any storage medium. We've not done any stress testing on it, though.

I'm going to mark this issue as addressed because it's really a

[2021-09-08 21:21] jaschrep-msft commented on #23860
Hi, @gocha.

This is an understandable feature request and should be doable if the stream passed to the client was seekable to begin with. I have logged it for future development.

However, I cannot speak here to a general-case solution for #22593 where the initial stream was unseekable to begin with. That conversation will need to continue over there.

[2021-09-08 21:25] jsquire commented on #23896
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-09-08 21:26] jsquire commented on #23902
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-08 21:58] stewartadam commented on #10922
+1 it's not clear what the expected template for responses is, and if we can count on it always being in the format above. The SDK should be exposing these fields to callers to prevent ugly regex hacks that are prone to breaking.

[2021-09-08 23:08] JoshLove-msft opened #23912 "Schema Registry - Add Schema type and move Content out of SchemaProperties"
Rather than having SchemaContent in the SchemaProperties, we decided to introduce a new Schema type.

[2021-09-09 04:09] bowgong commented on #23883
+ @***@***.***> to help check and CC @***@***.***>.

From: msftbot[bot] ***@***.***>
Sent: Thursday, September 9, 2021 05:20
To: Azure/azure-sdk-for-net ***@***.***>
Cc: Bowen Gong ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-net] [BUG] Fix reference documentation issues in 'Microsoft.Azure.CognitiveServices.AnomalyDetector' (#23883)

Thanks for the feedback! We are routing

[2021-09-09 04:31] bowgong commented on #23883
There's something misleading, for anomaly detector, we have two SDK folders, one is
azure-sdk-for-net/sdk/anomalydetector at main * Azure/azure-sdk-for-net (github.com)<https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/anomalydetector> which should be the latest one.
The other is
azure-sdk-for-net/sdk/cognitiveservices/AnomalyDetector at main * Azure/azure-sdk-for-net (github.com)<https://g

[2021-09-09 04:33] conhua commented on #23883
Hi @Mohit-Chakraborty, we're working with SDK team to see why we have two SDK folders for Anomaly Detector. Actually this one https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/anomalydetector is the latest one.

[2021-09-09 04:34] kgbuddhima commented on #23902
Now I'm having "_Could not load file or assembly 'System.Text.Encodings.Web, Version=4.0.5.1, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified_". too while the System.Text.Encodings.Web.dll file is available in the bin folder

[2021-09-09 04:54] Mohit-Chakraborty commented on #23883
The issue is for the track1 SDK.
We are successfully generating ref docs for the track2 SDK that has the latest changes.

[2021-09-09 07:17] v-yilinhu opened #23918 "[Tables] TokenCredentialAuth failing in nightly runs"
Tables nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1080689&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1082748&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1083954&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId

[2021-09-09 07:39] vijayaz commented on #23861
Thank you for answering @heaths . It helps making some decision.

[2021-09-09 07:41] tkachuk2222 commented on #23641
`
using System;
using System.Net;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using Microsoft.Azure.Functions.Worker;
using Microsoft.Azure.ServiceBus;
using Microsoft.Azure.ServiceBus.Core;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.Logging;
using Newtonsoft.Json;

namespace [xxxxxxxxx].AzureFunctions

[2021-09-09 07:52] ppekrol commented on #23769
@kasobol-msft

Thank you for all the insightful feedback. I've simplified our Azure code to use just the BlobClient:
[code]

When it comes to ~2min connection reset. Can client stop retrying after receiving sth like that? You have the 'BlockBlobMaxStageBlockLongBytes' property which depends on the version of protocol, so in theory after receiving such a signal you could validate the size against t

[2021-09-09 07:59] WraithNath commented on #23874
Hi @maririos,

Thanks, Ill try that out later and see whether the original result in in the reponse or not.

fingers crossed!

[2021-09-09 08:46] WraithNath commented on #23874
@maririos ,

I think that is going to work! Ill need to create some models to convert the json to in order to return it but the output seems to match the ocr file that the training tool generates.

Thanks so much for your help, I have only been using the form recognizer for a couple of weeks and really impressed with it so far.

Kind regards,

Nathan

[2021-09-09 12:02] rolsendk commented on #23494
Both alternatives does the trick: Authentication requests are now routed via proxy, and secrets are fetched. Big thanks for the help! :heart:

So in the end only two urls had to be whitelisted in the proxy: _xyz.vault.azure.net_ and  _login.microsoftonline.com_

BTW: When testing the environment variable alternative I simply created a system variable named "HTTPS_PROXY" with the proxy url as the v

[2021-09-09 12:02] #23494 closed

[2021-09-09 13:11] dracan opened #23919 "Sign JWT token using Azure Key Vault"
Hi. Apologies if it's bad form to link straight to my StackOverflow question - I thought I'd save on the duplication. I'm happy to copy across the content if that's preferred.

Basically, I'm having trouble signing a JWT via Azure Key Vault. It works fine if I don't use Azure Key Vault. I put code example and full description in the Stackovlow question...

https://stackoverflow.com/questions/69117

[2021-09-09 13:21] jsquire commented on #23641
I don't see anything obvious in the snippet that you've shared.  If you're logging that `CloseAsync` is being called, as you've mentioned, and you're still seeing connections orphaned, then we should escalate to the team that owns that version of the Service Bus SDK.   I'm going to reassign this over for their investigation.

In the meantime, what I'd recommend is treating the `MessageReceiver` as

[2021-09-09 13:26] jsquire commented on #23641
@shankarsama:  This Functions app is using the `Microsoft.Azure.ServiceBus` package and it seems as though connections are being left open for a `MessageReceiver` despite `CloseAsync` being called.

Earlier in the thread, the following observation was made about open connections, with one of the AMQP ports having a high number of connections.

Instance | RemoteAddress | Established | TimeWait
-- |

[2021-09-09 13:31] jsquire commented on #23919
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-09 14:10] dracan commented on #23919
Great thanks. I'm sure it must be something stupid that I'm doing. But can't think what. Any help is greatly appreciated :)

[2021-09-09 14:15] kasobol-msft commented on #23769
Glad you were able to simplify the logic. We'll consider adding a client side logic to handle that error case better.

[2021-09-09 14:38] #23918 closed

[2021-09-09 16:02] #23710 closed

[2021-09-09 16:18] tkachuk2222 commented on #23641
it looks like fixed. I  forgot to close the connection here:
![image](https://user-images.githubusercontent.com/20381930/132723611-09387286-02c9-43a9-8092-e6522ee191a3.png)

I'll see in a day. if everything will be good I close the bug

[2021-09-09 16:41] amishra-dev commented on #23863
@kasobol-msft Kamil, could you kindly look at this?

[2021-09-09 17:43] avirishuv commented on #23359
hi @yungezz is this an issue in the SDK layer, would you mind investigating?

[2021-09-09 17:46] maririos commented on #23874
Yay!! I am so glad that is going to work.
Let me know if you have more questions or feedback.

[2021-09-09 19:43] Vin5 opened #23926 "Code sample is incorrect"
The code sample in the the document mentions PatchOperation that can be done in a transaction:
[code]

However the TransactionalBatch class doesn't contain PatchItem method. Besides that PatchOperation class is not part of the latest version of SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f6e924d-f60d-25f3-8864

[2021-09-09 21:05] kasobol-msft commented on #23863
@jonganej I've tried to reproduce the issue with the following code:
[code]

I tried uploading 508MB file. The memory in browser remained slightly elevated but the level was around 3MB, i.e. nowhere close to the file size.

![image](https://user-images.githubusercontent.com/61715331/132762249-60a5deab-e1a0-4e9b-8d6e-7e7cec57ddfe.png)

To triage this further. Could you please share the code that re

[2021-09-09 21:30] jsquire commented on #23482
Include tests for:

 - CloseAsync:  Should invoke `Flush` when param is set and an event was enqueued
 - CloseAsync:  Should invoke `Clear` when param is set and an event was enqueued
 - CloseAsync:  Should NOT invoke `Flush` when param is set and NO event was enqueued
 - CloseAsync:  Should NOT invoke `Clear` when param is set and NO event was enqueued

[2021-09-09 22:02] #23600 closed

[2021-09-09 22:26] kisalay19 commented on #23808
@christothes I am executing the code directly in my Visual Studio IDE as a class library. A Web API is consuming this library.

A note, if I replace ManagedIdentityCredential with ClientSecretCredential in that case message sending works but I am more interested in making this ManagedIdentityCredential work. Am I missing anything?

[2021-09-09 22:28] amishra-dev commented on #23800
I checked the logs for this blob. I think i understand what went wrong.
You are trying to commit 3 blocks in a blob.
But before your putblocklist started failing you issues a PutBlob that succeeded. PutBlob call blows away all the blocks, hence beyond this point none of the putblocklist succeeded as you were referencing blocks that has been removed. Let me know if this does not match your understa

[2021-09-09 22:54] christothes commented on #23808
Ah - if you are running this locally in Visual Studio, then what you are experiencing is expected. The Managed Identity credential only works inside an Azure environment. If you were to deploy that code to a Web App that has a system assigned Managed Identity, it should work.

This is one of the main reasons that `DefaultAzureCredential` is used. It falls back to other credentials when the MI cred

[2021-09-09 23:10] danieljurek opened #23930 "Tag CODEOWNERS in docs metadata"
The docs metadata currently lists a static collection of individuals as package owners, we may be able to provide ownership metadata by an automated means. We can use the CODEOWNERS for this.

[2021-09-10 00:50] heaths commented on #23919
I [replied](https://stackoverflow.com/a/69126059/462376). You were pretty close, though use either UTF8 or ASCII (better since it's already base64url-encoded and you avoid any BOM concerns) to encode the header and payload.

I wrestled with this myself quite a bit and had @schaabs look it over who worked on Key Vault. Ultimately, the problem I had was with https://jwt.io itself. Since you blurred

[2021-09-10 01:30] yungezz commented on #23359
hi @HarveyLink could you help to take a look? thanks

[2021-09-10 04:44] #23853 closed

[2021-09-10 06:39] shubhambothara commented on #14691
I just encountered the same problem too.

[2021-09-10 07:06] dracan commented on #23919
@heaths - that's amazing, it worked! :) It was literally just the changing from `Encoding.Unicode.` to `Encoding.ASCII.` that fixed it for me. Amazing how a single word can cause so many problems! The public keys that I pasted into jwt.io were all `-----BEGIN CERTIFICATE-----`, but I think that was fine. The tokens also weren't working against the endpoint I was trying to authenticate against eith

[2021-09-10 07:07] #23919 closed

[2021-09-10 07:27] #23641 closed

[2021-09-10 08:02] #21076 closed

[2021-09-10 08:44] HarveyLink commented on #23359
Hi @KalpeshChavan12 , this issue has been fixed in version 49.1.0, would you mind update to the latest version and try your code?

[2021-09-10 08:49] jonganej commented on #23863
@kasobol-msft Thanks for your prompt response! My code is similar to yours (see code snippet), except for the fact that I've also included additional options to monitor progress and handle cancellations of the upload for UX purposes.

[code]

I managed to reproduce the results with your code too. The JS Heap numbers on the performance profiler seem to be in the sane range. My observation is based

[2021-09-10 09:00] WraithNath commented on #23874
I have got this one working now, I save the raw analyze layout result Json as you suggested in a file, along with the labels and fields json files in the blob along with another 4 files labeleld with the FOTT and the model trained succesfully :).

thanks again for your help and great work on the SDK!

[2021-09-10 09:00] #23874 closed

[2021-09-10 12:07] dxynnez commented on #23862
Thanks @kasobol-msft . Do you have an ETA for that? We are removing ADAL dependencies in our code base but until the bug is fixed we can't really adapt the new storage SDK.

[2021-09-10 12:30] cmenzi opened #23937 "StackOverflow if reloadInterval is very small"
https://github.com/Azure/azure-sdk-for-net/blob/e10ed5d3c1a8fb51609f4d3f12de3b7c0404cf3c/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/AzureKeyVaultConfigurationProvider.cs#L128

This null check is not thread-safe and fails if the `reloadInterval` is like `TimeSpan.FromTicks(1)` and results in a StackOverflowException

[2021-09-10 13:06] jsquire commented on #23937
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-09-10 14:04] kasobol-msft commented on #23862
The [Azure.Storage.Queues 12.8.0](https://www.nuget.org/packages/Azure.Storage.Queues/12.8.0) shipped this week. Please give it a try and let us know if the issue is resolved.

[2021-09-10 14:23] dxynnez commented on #23862
wow that was quick! My tests are now passing. Thanks so much @kasobol-msft !

[2021-09-10 14:56] kasobol-msft commented on #23862
Great to hear that. I'm closing the issue.

[2021-09-10 14:56] #23862 closed

[2021-09-10 14:59] #21875 closed

[2021-09-10 15:09] Leonardo-Ferreira opened #23939 "Azure Event Hub - How to consume events parallelly using the official SDK?"
**Describe the bug**
I've setup the following test:

- Created a azure event hub with 10 partitions
- Created a single storage account
- Created a single consumer group
- Filled the hub with 10k messages
- Created 2 containers (on AKS) that would basically consume those events (using the same consumer group) and log them azure application insights.

**Expected behavior**
Running
[code]
I was expec