[2017-09-01 23:13] vnvaditya commented on #3521
I get the same error when upgrading to .NET 4.7.
Microsoft.IdentityModel.Clients.ActiveDirectory 3.16
Microsoft.Azure.KeyVault 2.0.6

[code]

**Data: 0 key/value pairs
Inner Exception:Key not valid for use in specified state.**

Exception type: CryptographicException
Additional Data:
Source: mscorlib
Stack Tracer.Trace:
   _at System.Security.Cryptography.CryptographicException.ThrowCryptographicE

[2017-09-02 22:11] opencloudcode opened #3650 "resourceGroup.Tags.Keys"
Hello,

Sorry to the newbie question. How do get the resourcegroup tags?
[code]

I'm kinder new to this.

[2017-09-03 01:21] kpanwar commented on #3521
We have a nightly DEV package out with the fix. Please try it out and let us know if it worked for you too. We will be cutting an official release following the feedback.
Install-Package Microsoft.IdentityModel.Clients.ActiveDirectory -Version 3.16.1-alpha24505 -Source https://www.myget.org/F/aad-clients-nightly/api/v3/index.json

[2017-09-03 10:01] #3650 closed

[2017-09-04 06:15] karataliu opened #3652 "Question on cyclic dependency in fluent packages"
To use any fluent package, it will get start with IAzure interface, which is in `Microsoft.Azure.Management.Fluent`
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.fluent.iazure?view=azure-dotnet

But `Microsoft.Azure.Management.Fluent` depends all other fluent component, that means if user only wants to operate with VM, he'll also need to install `Microsoft.Azure.Management

[2017-09-04 15:28] martinsawicki commented on #3652
You don't have to work with the entire Azure rollup package, if you just need a service-specific subset.
You'd authenticate via that service's specific Manager, e.g.
[code]

The corresponding `I*Manager` exposes only its own subset of resource collections - much less than `IAzure`.

If you want to pick and choose which manager you want to work with, you need to authenticate with each explicitly, l

[2017-09-05 02:41] karataliu commented on #3652
Yeah, that did the trick. Appreciate the help.

It would be nice to have a note in README, since most people will get start there. Current examples are all using IAzure.

[2017-09-05 02:41] #3652 closed

[2017-09-05 07:57] dvdgutzmann opened #3656 "Fluent 1.2.0: Autentication failed in AzureEnvironment.AzureGermanCloud: wrong audience or resource"
Hello *

I'm getting authentication failures when trying to access the AzureGermanCloud using the 1.2.0 fluent SDK.

Packages installed are Microsoft.Azure.Management.Fluent 1.2.0 and dependencies. Target framework is .NET 4.7.  I'm using Visual Studio 2017 Update 3.

[code]

The ServicePrincipal was created using PowerShell

[code]

Is there anything I should do differently in the AzureGermanClou

[2017-09-05 09:04] martijnkamphuis commented on #3656
Can confirm the issue. A temporary work around for me is to set the AzureEnvironment.AzureGermanCloud.ManagementEnpoint (the missing 'd' typo in Endpoint is on purpose, since it's in the SDK also) to "https://management.microsoftazure.de/".

[2017-09-05 09:18] dvdgutzmann commented on #3656
Hello @martijnkamphuis,

thank you for providing the workaround! It's working for me when setting the ManagementEnpoint (sic!) accordingly.

[code]

[2017-09-05 09:19] dvdgutzmann commented on #3656
Case id with MS support is 117090516284101

[2017-09-05 13:42] rquirante commented on #3511
Hi, I’m not sure if you are still looking for an answer, but I managed to do the following and it works for me with Microsoft.Azure.Management.Fluent v1.0.2.  I've first created a template database that will be used for creating a new database with a unique name.

See the following code for an example.

[code]

[2017-09-05 18:57] TimLovellSmith opened #3659 "Fluent: NullReferenceException in VirtualMachineScaleSetImpl.LoadCurrentPrimaryLoadBalancersIfAvailable"
I'm hitting an NRE in Fluent SDK 1.1.3. The scenario involves creating a VMSS with an internal load balancer only (no public facing load balancer), and then trying to update it with a custom script extension

                vmssWithLB = vmssWithVNet
                    .WithoutPrimaryInternetFacingLoadBalancer()
                    .WithExistingPrimaryInternalLoadBalancer(loadBalancer)

[2017-09-05 19:33] TimLovellSmith commented on #3659
I am not sure what exactly is null. I do wonder if perhaps GetById using NetworkManager is returning null...

[2017-09-05 20:33] rsmith54 opened #3660 "Nested directories are very slow to download from ADLS"
When downloading (smallish) nested directories recursively from an ADLS, downloads can be very, very slow.  Additionally, there is no verbosity flag to find out if *anything* is happening, which makes it very difficult to debug. I believe there might be some duplication of the index dictionary that is created, but it also would be great if this index creation could be multithreaded.  This could dr

[2017-09-05 21:26] olydis commented on #3648
@hvermis Just renamed this issue since the unit tests I added actually also uncovered that serialization doesn't work either (i.e. stuff in the additional properties dictionary does not make it on the wire).

@shahabhijeet FYI, polymorphic serialization never wrote out additional properties. It uses [this](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/ClientRuntime/Clien

[2017-09-06 14:30] MartinF commented on #3478
Just want to add that I have had the same need for apikey authentication support, and expected it to be included since it is a common scenario and supported by Swagger.

Considering that the "Add -> Rest API Client" Feature in Visual Studio uses this library, and thereby may be used to generate proxy client code that is not targeting Azure, I think it would make sense to include it, even though yo

[2017-09-06 15:22] Dona278 commented on #2935
@j055 To add a certificate binding to an existing web app i used:
[code]

[2017-09-06 15:27] Dona278 commented on #3190
@ajit-kolathur Have you tried add a certificate to an existing web app using:
[code]

[2017-09-06 15:34] nzthiago opened #3664 "Confusion on Microsoft.Rest.ClientRuntime.Azure.Authentication reference to ADAL library versions"
We created a new Azure Function using the latest Visual Studio 2017 15.3.3 update; the Azure Function project has a target framework of .NET Framework 4.6.1, which implements .NET Standard 1.4.
We added a reference to Microsoft.Azure.Management.Dns.Fluent to the function project.

According to the comments here #2616 for netStandard 1.4 we use ADAL 3.13.5; but for us it only worked when we lowered

[2017-09-06 18:35] hovsepm commented on #3664
This is by design. netstandards are only applicable to .Net Core. You cannot have a .Net 4.X project that targets .Net Standard 1.4.

[2017-09-06 18:35] #3664 closed

[2017-09-06 18:37] hovsepm commented on #3664
Please check here - https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

[2017-09-06 18:37] hovsepm commented on #3664
adal 3.x does not support interactive login
but can be executed on Linux and MacOS
while adal 2.28 does support interactive login (aka popup that asks for credentials)
but is only Windows targeted

[2017-09-06 18:38] hovsepm commented on #3664
you created a project that is targeting .Net 4.X
if you create a .Net core project (and all your nugets have .Net Core support)
then you will be able to use latest ADAL

[2017-09-06 21:43] hovsepm commented on #3656
Fixed. Will be shipped in release 1.3

[2017-09-06 21:43] #3656 closed

[2017-09-07 08:42] HenrikR-Reviso opened #3670 "Include Azure SDK in Visual Studio Build Tools 2017 installer"
Azure SDK cannot be installed from the Visual Studio Build Tools 2017 installer, https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=15#

This in effect means that you need to install VS 2017 to use Azure SDK on a build server.

Please get Azure SDK included in the Visual Studio Build Tools 2017 installer.

The MSBuild team has asked that this issue is reported to

[2017-09-07 18:53] shahabhijeet commented on #3592
This change is available in 3.3.10 version of Microsoft.Rest.ClientRuntime.Azure

[2017-09-07 18:53] #3592 closed

[2017-09-07 18:55] shahabhijeet opened #3671 "Make build task .NET Core compatible"
Currently we have two separate build process, especially all the build tasks that are being used.
Making all the task .net core will help reduce various scripts that are being used to accommodate unix build.

[2017-09-07 19:13] #3648 closed

[2017-09-07 19:26] ritwikbasu commented on #3536
This has been fixed by https://github.com/Azure/azure-sdk-for-net/pull/3662

[2017-09-07 19:26] #3536 closed

[2017-09-07 20:27] TimLovellSmith opened #3672 "Fluent: would like to create/referencing NetworkSecurityGroup in VMSS definition API"
With 1.1.3 I can't see any way to define the 'networkSecurityGroup' field for the VMSS network interface configuration part of the REST API!

From what I've seen of 1.2.0 release notes I am guessing that this functionality isn't yet added there either?

(This is what I'm talking about:

    "networkProfile": {
        "networkInterfaceConfigurations": [ {
          "name": "nicconfig1",

[2017-09-07 20:41] TimLovellSmith opened #3673 "Fluent SDK: GenericResources: Is it possible to define 'sku' if you use GenericResources.Define()?"
I tried to use the azureSub.GenericResources.Define(Name) API but I can't see what should be the way to define that it should have a _top-level_ property SKU like '
  "sku": {
    "name": "Standard_A1",
    "tier": "Standard",
    "capacity": 10
  },
' (as opposed to a property in its 'properties' bag? Or is this just a documentation issue that I am misunderstanding the usage of .WithProperties()?

[2017-09-07 21:26] TimLovellSmith opened #3674 "Fluent SDK: GenericResource: Create blows up with 'parentResourcePath' cannot be null"
I'm trying to use Fluent SDK 1.1.3 and GenericResource.Define.CreateAsync() to create a VMSS and it's not working. It looks like it is a client side validation error before the call to Azure (since I would never get to see a trace of the expected PUT request)

From the error message it seems like it is not working because it expects generic resource to only be used for child resources, not top-lev

[2017-09-07 23:28] hovsepm commented on #3673
@TimLovellSmith What is the Fluent flow? VMSS?

[2017-09-07 23:31] TimLovellSmith commented on #3673
Yes, I was trying to work around one of the earlier issues I filed by creating VMSS as a generic resource.

[2017-09-07 23:48] anuchandy commented on #3672
It seems that IPConfig::NSG for VMSS introduced in 2017-03-30, fluent is not based on this version. In the next release we will be upgrading to 2017-03-30. Let us keep this issue open.

[2017-09-08 00:00] anuchandy commented on #3673
`GenericResources` fluent flow does not expose `SKU` though inner has these properties.

@TimLovellSmith will discuss within the team and prioritize this.

[2017-09-08 00:02] anuchandy commented on #3674
@TimLovellSmith can you try with `.withParentResourcePath("")`

[2017-09-08 10:08] larsekman opened #3677 "IAzure does not contain a definition for ActiveDirectoryApplications"
I have code that references IAzure.ActiveDirectoryApplications to create applications in an Azure Active Directory.

After upgrading my NuGet packages it seems that the ActiveDirectoryApplications is gone or has moved. In which namespace/assembly can I find the ActiveDirectoryApplications functionality?

[2017-09-08 11:26] fbertilsson commented on #3384
Second that :)

[2017-09-08 15:28] anuchandy commented on #3677
`IActiveDirectoryApplications` is under `Azure.IAuthenticated`.

[code]

See this [sample](https://github.com/Azure/azure-sdk-for-net/blob/Fluent/Samples/GraphRbac/ManageServicePrincipal.cs) for more details.

[2017-09-08 17:14] #3677 closed

[2017-09-10 05:47] SeanFeldman commented on #3467
ping

[2017-09-10 05:55] SeanFeldman commented on #3358
And there's a way to manage rules with the new client as well based on the [PR](https://github.com/Azure/azure-service-bus-dotnet/pull/70) and confirmation [here](https://github.com/Azure/azure-service-bus-dotnet/issues/246#issuecomment-320057086).

Very disappointing to see that @shahabhijeet and @sazeesha from MSFT could not find the time two months to discuss this and update the issue 😞

[2017-09-10 05:55] #3358 closed

[2017-09-10 05:56] SeanFeldman commented on #3635
@anuchandy is this scheduled for an update?

[2017-09-11 16:32] anuchandy commented on #3635
@seanFeldman the management SDK is based on the swagger specification from service team, in the spec I don't see `UserMetadata` property in messaging entities. For example here is the description of Queue entity https://github.com/Azure/azure-rest-api-specs/blob/current/specification/servicebus/resource-manager/Microsoft.ServiceBus/2017-04-01/servicebus.json#L2574

tagging @jtaubensee from service

[2017-09-11 17:10] SeanFeldman commented on #3635
Tagging @djrosanova

[2017-09-12 11:24] martijnkamphuis opened #3684 "Fluent SDK: error copying SQL database within Elastic Pool"
First, let me sketch my situation (resource type - resource name). All resources are in one resource group:
- SQL server - sql_server_A
--- Elastic Pool - elastic_pool_1
----- database - template_db

- SQL server - sql_server_B (no elastic pools or existing databases)

- SQL server - sql_server_C
--- Elastic Pool - elastic_pool_2

- SQL server - sql_server_D
--- Elastic Pool - elastic_pool_1 (name

[2017-09-12 16:51] vnvaditya commented on #3521
Thank you. We have tested it and the issue isresolved.

[2017-09-12 20:52] matthchr commented on #3139
This is fixed now

[2017-09-12 20:52] #3139 closed

[2017-09-13 01:00] abhi1509 opened #3694 "Fluent SDK - Query deployment failure reason"
Currently resourceManager.Deployments.GetByResourceGroup(...)
returns IDeployment

In case a deployment fails, I don't see a way to find out failure reason to log it

[2017-09-13 08:36] martijnkamphuis commented on #3684
For completeness; I'm using SDK version 1.2.0

[2017-09-13 13:13] tomkerkhove commented on #3384
Is there an update on this @hovsepm?

[2017-09-13 13:46] thedancingfetus opened #3696 "Unable to Deploy Recovery Services Vault"
I've been trying to deploy a recovery services vault using Microsoft.Azure.Management.RecoveryService v4.2.0-preview.  I keep getting an error, and I'm not sure why.  In the Azure portal I'm getting the Bad HTTP Request:

"statusCode": "BadRequest",

"statusMessage": "{\"error\":{\"code\":\"InvalidRestApiParameter\",\"message\":\"properties parameter is invalid.\\r\\nPlease provide a valid propert

[2017-09-13 19:50] danielmarbach opened #3699 "Microsoft.WindowsAzure.targets in combination with PackageReference resolves ref target"
When Cloud Service Solution with `Microsoft.WindowsAzure.targets` is used in combination with `PackageReference` (old csproj format with package reference interop mode) in combination with a reference assembly like `System.ValueTuple` the reference assembly is copied into the output path instead of the implementation assembly for the target framework.

## Prerequisites

Azure SDK 2.9
VS2017 15.3.3

[2017-09-14 11:00] Kormyr opened #3701 "Fluent SDK: Issue with Azure Germany Environment"
Hi,

I wanted to get resources from the Azure Germany cloud.
Manual calls to the REST API endpoints worked succesfully, but I had troubles with the Microsoft.Azure.Management.ResourceManager.Fluent package.

I did not find code samples of this library for the German cloud, so I don't know if I'm doing something wrong.
The only way I could get it to work was to update 2 properties of the built-in c

[2017-09-14 15:17] DavidStrickland0 opened #3703 "Autorest PCL Support"
Reposted from https://github.com/Azure/autorest/issues/2584

The Microsoft.Rest.ClientRuntime. project appears to have dropped PCL support. The last version that supports PCL being 2.3.6. Unfortunately 2.3.6 also restricts the NewtonSoft Version >=9 but <10.

With Autorest relying on the ClientRuntime and the ClientRuntime PCL support deprecated and locked into a specific version of Newtonsoft. Au

[2017-09-14 17:32] hovsepm commented on #3701
@kormyr this issue has been recently fixed and will be shipped in v1.3. Please see here for a workaround - https://github.com/Azure/azure-sdk-for-net/issues/3656

[2017-09-14 17:32] #3701 closed

[2017-09-14 19:56] TimLovellSmith commented on #3659
Confirmed that this issue still exists in 1.2.0 too.

[2017-09-15 09:44] HenrikR-Reviso commented on #3670
Any comments / any plan to get the problem

[2017-09-15 16:28] sloveon opened #3707 "Microsoft.Azure.Management.Scheduler GetJob looses Authentication properties of derived type."
JobsOperationsExtensions/JobOperations classes has correspondent Get/GetWithHttpMessagesAsync methods that return JobDefinition object as a result. There is an **Authentication** property in object hierarchy(Properties.Request.Authentication) of **HttpAuthentication** type which is the base class for
ClientCertAuthentication, BasicAuthentication, OAuthAuthentication etc. types.
Assuming that the j

[2017-09-15 17:35] adibalsa opened #3709 "Avro decoder gets System.ArgumentOutOfRangeException when reading events from an empty queue"
Avro decoder gets the following exception when reading events from an empty queue. Much better to return an empty resultset rather than throwing an exception.

-	MESSAGE: An unhandled exception from user code has been reported when invoking the method 'Extract' on the user type 'Microsoft.Analytics.Samples.Formats.Avro.AvroExtractor'
-	DETAILS: ==== Caught exception System.ArgumentOutOfRangeExcept

[2017-09-15 17:55] adibalsa commented on #3709
I've found the problem in the following method of SequentialReader class:

        public bool MoveNext()
        {
            if (this.stream.Position == this.stream.Length)
            {
                return false;
            }

            int objectCount = this.decoder.DecodeInt();
            int blockSize = this.decoder.DecodeInt();
            this.current = new AvroBufferReaderBlock<T>

[2017-09-18 04:12] kiwidev opened #3712 "ServiceClient should dispose of root HttpClientHandler if it created it"
ServiceClient creates a new root HttpClientHandler (WebRequestHandler or HttpClientHandler) when it is not passed into the constructor. This handler is never disposed.

This leads to the following behaviors when multiple serviceClients are created:
 - A connection leaks and is not disposed until the 120second timeout.
 - A this is limited to 200 connections by default, this leads to socket starvat

[2017-09-18 21:15] TimLovellSmith opened #3713 "Fluent: LRO exception message gives little actionable information ..."
An unfortunate feature of Fluent SDK 1.2.0: long running operation failures come with a dearth of information which could actually be used to understand what failed. This exception could really use a description of what/why it failed. (In this example we are trying to do a manual upgrade on a VM scaleset using vmss.Manager.Inner.VirtualMachineScaleSets.UpdateInstancesAsync().

[code]

[2017-09-18 21:23] hovsepm commented on #3713
@TimLovellSmith  this is a known issue in ClientRuntime which was fixed after we released 1.2. We are planning to reference the latest ClientRuntime in v1.3.

[2017-09-18 22:30] TimLovellSmith commented on #3713
@hovsepm That is great news. I'm not 100% sure which version you mean it is fixed in but trying this to see if it fixes the problem:

Install-Package Microsoft.Rest.ClientRuntime.Azure -Version 3.3.10

[2017-09-18 22:30] #3713 closed

[2017-09-19 00:21] hovsepm commented on #3713
@TimLovellSmith , yes v.3.3.10 should have the fix.

[2017-09-19 03:27] Zoe-ms opened #3714 "SDK request will timeout if backend service of RP returns 5xx"
Here is the scenario:
a.	We have the backend service after RP, so the request will be called through “SDK => RP => Backend Service”.
b.	Backend service client and RP client are both based on Microsoft.Rest.ClientRuntime, generated by swagger through autorest.
c.	The ClientRuntime library will by default retry 3 times with ExponentialBackoffRetry on 5xx (RetryDelegatingHandler.cs), so we have casca

[2017-09-19 03:31] Zoe-ms opened #3715 "SDK behavior if AsyncOperation and Location header are both presents"
Will need use AsyncOperation header for async 202 pattern, so would like to confirm the behavior of AsyncOperation and Location behavior in SDK. Thanks.

[2017-09-19 07:08] alexeyzimarev commented on #3599
It would be great to hear something. Properties disappear and it would be great to know why and what to do.

[2017-09-19 07:15] alexeyzimarev commented on #3599
`EnableBatchedOperations` is missing too

[2017-09-19 07:17] alexeyzimarev commented on #3599
Some of these properties are clearly not supported in the new API versions, it would be nice to have some docs on this.

[code]

[2017-09-21 12:18] SeryioGonzalez commented on #2757
Also failing

az resource list --tag --resource-type "Microsoft.Compute/virtualMachines" --tag "role=master"
Invalid $filter 'resourceType eq 'Microsoft.Compute/virtualMachines' and tagname eq 'role' and tagvalue eq 'master'' specified in the query string.

[2017-09-21 16:15] yatesy commented on #2194
Hi @markcowl.  I get the same thing when trying to get a new sql server....

The message I get in powershell (which is totally useless) is...

[code]

When I go into the portal I get...

[code]

If the powershell task could present that back to me the detail which I can get out of the portal it would be much more useful.

[2017-09-21 21:35] nothingmn opened #3724 "Azure Search .NET Client API supporting gzip compression on response streams"
Just opening the discussion to enable end-to-end support for gzip compression for the .NET Client for Azure Search.

Sample calling code:

            var response = await _indexClient.Documents.GetWithHttpMessagesAsync<T>(id, new List<string>() { "*" }, new SearchRequestOptions(), new Dictionary<string, List<string>>()
            {
                {"Accept-Encoding", new List<string>(){ "gzip",

[2017-09-21 22:22] brjohnstmsft commented on #3451
This is most likely because the handler pipeline for the `SearchServiceClient` is not propagated to the `SearchIndexClient` that is returned from the `GetClient` method. Until we fix it, the workaround is to construct the `SearchIndexClient` directly.

[2017-09-22 00:58] lygasch opened #3726 "Re-record test using latest resource manager"
all ADF V2 tests needs to be recorded using latest version of resource manager 1.6.0

[2017-09-22 01:59] brjohnstmsft commented on #3724
The code you've pointed out is generated by the AutoRest tool. Any fix would need to originate there. I suggest opening an issue in the Azure/autorest repo.

[2017-09-22 16:18] shahabhijeet opened #3730 "[UserVote] Upgrade Microsoft.Rest.ClientRuntime.Azure.Authentication to ADAL 3.16+"
Upgrade ADAL to 3.16+ to both .NET 452 and .NET Standard
Opened up for votes from customers.
Helps to prioritize our work items for next release.

[2017-09-22 16:54] nothingmn commented on #3724
Thanks Bruce, I just posted it over here:

**https://github.com/Azure/autorest/issues/2604**

[2017-09-22 16:54] #3724 closed

[2017-09-22 23:19] shahabhijeet opened #3737 "Handle 429 status code for LRO with Retry-After"
In reference to
https://github.com/Azure/autorest/issues/2601

[2017-09-26 20:36] AprimoMarketing opened #3743 "OperationalInsightsManagementClient Workspaces GetSearchResultsAsync Paremater Start Issue"
Parameters.Start should give us data after the datetime. This is giving me data generated before the time. I can confirm Parameters.end works.
[code]

[2017-09-26 22:58] phil000 opened #3744 "private bool _disposeHttpClient Breaks Behaviour"
I notice in 2.3.10 there is a breaking change, at least behaviourally.

The HttpClient used to be disposed all the time. Now the `private bool _disposeHttpClient` variable controls this, **but** it defaults to false - changing the previous behaviour.

Secondly, we were using null HttpClient property to determine if a service client was disposed inadvertently\inappropriately from a factory. How wou

[2017-09-27 09:08] KoditkarVedant opened #3748 "System.Reflection.AmbiguousMatchException"
[code]

**StackTrace**:
[code]

I'm using Microsoft.Azure.Management.Sql.Fluent for do some operations on the database. My Code works just fine on my local evironment but when I deploy it on Azure it gives me above error..

[2017-09-27 17:30] hovsepm commented on #3748
@KoditkarVedant please reopen this issue [here](https://github.com/Azure/azure-libraries-for-net/issues). Fluent code has been moved to a dedicated repository. Thanks!

[2017-09-27 17:30] #3748 closed

[2017-09-27 17:47] milismsft commented on #3748
@KoditkarVedant could you pass in a sample of your code ? Also, could you provide me with a bit more details on what "deploying to Azure" means? Do you get the error above while running on an Azure virtual machine/ container and if yes what kind of environment you use?
Add all these to a new issue in the new repo to be opened [here](https://github.com/Azure/azure-libraries-for-net/issues)

[2017-09-29 00:24] msfcolombo commented on #3441
Any update on this?

I have a similar exception using `Microsoft.Azure.Management.Dns`. It appears related to version 10.0.2 of Newtonsoft.Json.

[code]

[2017-09-29 02:28] brjohnstmsft commented on #3441
@msfcolombo I can't speak for Azure DNS, but we haven't been able to ship an updated version of the Azure Search SDK yet. Have you tried using Microsoft.Rest.ClientRuntime.Azure 3.3.8 or higher with Newtonsoft.Json 10.0.2? That combination seems to work for others.

[2017-09-29 03:15] msfcolombo commented on #3441
Thanks. I upgraded to Microsoft.Rest.ClientRuntime.Azure 3.3.10 and that fixed the issue. This is covered at the already-closed #2552, so I think you can close this as well.

[2017-09-29 08:05] chrisxue815 commented on #3227
It's in the master branch: https://github.com/Azure/azure-sdk-for-net/tree/master/src/ServiceManagement/HDInsight/Microsoft.Hadoop.Avro

[2017-09-29 08:29] Kormyr commented on #3701
Any idea when it will be released?
I don't know how the issues are managed in this repository but I don't consider it closed until the fix is released, plus I don't see any change related to the ResourceManagerClient part in the pull request mentioned (https://github.com/Azure/azure-sdk-for-net/pull/3658). Will this also be fixed?
I talked about the ResourceManagementClient but SubscriptionClient,

[2017-09-29 08:39] Kormyr commented on #3701
Just got my answer: https://github.com/Azure/azure-libraries-for-net/blob/0e725531319775e348c21540c9a2c25000106c32/src/ResourceManagement/ResourceManager/Generated/ResourceManagementClient.cs

Nothing changed... Should we re-open this issue or should I create another one and wait for it to be fixed in the 1.4 version of the SDK?

[2017-09-29 21:38] peterjohnsonme commented on #3460
@martijnbrands1978 Confirmed that fix too.  Thanks!

[2017-10-02 10:04] j055 commented on #2935
@Dona278. Thanks. in v1.3 ```CreateOrUpdateHostNameBindingAsync``` changed to ```CreateOrUpdateHostNameBindingWithHttpMessagesAsync```

[code]

[2017-10-02 10:36] philwindsor commented on #3670
+1 for this.

[2017-10-02 21:19] deathly809 opened #3756 "Cannot build AzureStack Gallery Admin Client"
I am working on the AzureStack Gallery admin C# SDK and because of the way the ignore rules work anything with the word Gallery in it is ignored.

I suggest a whitelist.

[2017-10-03 19:12] shahbarkha commented on #3599
@dsouzaarun Is there any chance this is going to be fixed in 2.0 release?

[2017-10-04 08:29] rijs88 opened #3762 "CloudException: ForbiddenError using SubscriptionCredentialsAdapter in ExpressRouteManagementClient"
Im using Microsoft.Azure.Management.Fluent for retrieving VirtualMachines and have configured a client with clientsecret for authentication.
I want to retrieve express routes (which as far as i know are not yet available in the Fluent api), so Im using [Microsoft.WindowsAzure.Management.ExpressRoute](https://www.nuget.org/packages/Microsoft.WindowsAzure.Management.ExpressRoute/).
Im using [Subscri

[2017-10-04 15:35] ASchwenkerBM opened #3763 "Event Hubs Management API Version Mismatch"
The latest version of the Event Hubs Management SDK uses API Version 2017-04-01.  The Azure documentation lists version 2015-08-01 as the latest version for all operations on Event Hubs.

There appears to be an issue with the 2017-04-01 API in that the List By Subscription method for Namespaces (and potentially other methods but I have not tested them) return deleted Namespaces.

Below are example

[2017-10-04 17:53] hovsepm commented on #3762
"Verify that the certificate is valid and is associated with this subscription." does not seems that you have an issue with  SubscriptionCredentialsAdapter (if you use the same code that you pointed in your issue).
From the nuget package that you pointed for ExpressRoute it seems that you are trying to use ARM authenticated client to access ASM (aka RDFE) endpoints and this will not work by design

[2017-10-04 19:37] DheerendraRathor opened #3765 "[Feature Request] Provision for insertion of custom derived type in GetDerivedTypes in PolymorphicJsonConverter"
Issue:
Currently during deserialization of polymorphic classes, PolymorphicJsonConverter looks for derived types in SDK level assembly only. This hinders conversion to other derived classes implemented by customer outside SDK assembly.

Requirement:
In one of our cases, customers have liberty to create their own derived classes from a generic class (part of SDK assembly) with discriminator field a

[2017-10-05 21:10] zentby commented on #3670
+1

[2017-10-07 07:59] AMoghrabi opened #3769 "CloudException: Internal Server Error when Using ListMetricsAsync Method"
I'm using `Microsoft.Azure.Management.AppService.Fluent` to collect information about my App Service Plans. The method I'm using is [ListMetricsAsync.](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.appservice.fluent.appserviceplansoperationsextensions.listmetricsasync?view=azure-dotnet#Microsoft_Azure_Management_AppService_Fluent_AppServicePlansOperationsExtensions_ListMet

[2017-10-09 10:06] RudyCo opened #3770 "Azure Data Lake Store SDK : FileStatusProperties.ChildrenNum Property always null"
See on SOF : https://stackoverflow.com/questions/46608473/azure-data-lake-store-sdk-filestatusproperties-childrennum-property-always-nul/

[2017-10-09 18:22] bgold09 commented on #3726
The work here is more accurately to create the scenario tests altogether

[2017-10-10 00:22] #2740 closed

[2017-10-10 17:12] martinsawicki commented on #3694
@anuchandy is there a better answer to this than "by design"?

[2017-10-10 17:18] martinsawicki commented on #3639
fixed in v1.3

[2017-10-10 17:18] #3639 closed

[2017-10-10 17:23] martinsawicki commented on #3542
addressed in v1.3

[2017-10-10 17:23] #3542 closed

[2017-10-10 17:25] martinsawicki commented on #3541
addressed in v1.3

[2017-10-10 17:25] #3541 closed

[2017-10-10 17:27] martinsawicki commented on #3511
seems possible using the suggested workaround so closing.
(I don't think such functionality would be built-into the SDK though, if the service doesn't expose it.)

[2017-10-10 17:27] #3511 closed

[2017-10-10 17:28] martinsawicki commented on #3481
@anuchandy  wasn't this all done in v1.3?

[2017-10-10 17:30] martinsawicki commented on #3469
asp.net related deadlock issues should have been addressed in v1.2

[2017-10-10 17:30] #3469 closed

[2017-10-10 17:31] martinsawicki commented on #3448
should have been addressed in v1.2

[2017-10-10 17:31] #3448 closed

[2017-10-10 17:34] martinsawicki commented on #3444
the design calls for resource groups to be referenced by name throughout the SDK, not the ID.

(The error is not very useful admittedly but that's what the SDK gets from Azure and it's much broader than this specific case).

[2017-10-10 17:34] #3444 closed

[2017-10-10 17:35] martinsawicki commented on #3443
PR taken for v1.2

[2017-10-10 17:35] #3443 closed

[2017-10-10 20:44] hovsepm commented on #3694
This issue was moved to Azure/azure-libraries-for-net#39

[2017-10-10 20:44] #3694 closed

[2017-10-11 20:11] martinsawicki commented on #3412
@milismsft related to the long discussion we've had (for over a year) regarding direct access to children without going through the parent...

[2017-10-11 20:13] martinsawicki commented on #3411
@anuchandy another one related to the begin* pattern

[2017-10-11 20:14] martinsawicki commented on #3398
looks like the fix made it into v1.2

[2017-10-11 20:14] #3398 closed

[2017-10-11 20:16] martinsawicki commented on #3384
something we've been investigating..

[2017-10-11 20:17] martinsawicki commented on #3371
closing due to no reproducible steps. If there is a repro case, pls reopen.

[2017-10-11 20:17] #3371 closed

[2017-10-11 20:17] martinsawicki commented on #3365
support for Search in the fluent API was released in v1.2

[2017-10-11 20:17] #3365 closed

[2017-10-11 20:28] martinsawicki commented on #3211
ok, closing as by design then, given the workaround

[2017-10-11 20:28] #3211 closed

[2017-10-11 20:31] martinsawicki commented on #3200
there was a significant fix for multi-threaded ASP.NET scenarios done in v1.2 (fixing a bunch of hang situations), so pls see if this is still reproducible in the latest and reopen the issue as needed. Thanks!

[2017-10-11 20:31] #3200 closed

[2017-10-11 20:32] martinsawicki commented on #3199
@jianghaolu sounds similar to an issue we discussed recently on the java side - is there an opportunity to load some of these things more lazily...

[2017-10-11 20:33] martinsawicki commented on #3197
probably an ASP.nET issue actually - there was a big fix that may have addressed this in v1.2 - pls reopen this issue if it still reproduces in the latest SDK.

[2017-10-11 20:33] #3197 closed

[2017-10-11 20:37] martinsawicki commented on #3046
fair point, actually this is already possible in Java, we didn't completely port it to .NET

[2017-10-11 20:38] martinsawicki commented on #3026
sounds reasonable

[2017-10-11 20:40] milismsft commented on #3296
@jaredmoo I did a quick check and this particular setting is not captured in the version 2014-04-01 version of the Swagger specs (see firewallRules.json). Any ideas where I might find it?

[2017-10-11 20:41] martinsawicki commented on #3017
not sure there is still something noteworthy to improve here after the work we did a while back, so parking for now..

[2017-10-11 20:42] martinsawicki commented on #2938
WebDeploy support added in v1.3 achieves this.

[2017-10-11 20:42] #2938 closed

[2017-10-11 20:50] martinsawicki commented on #2811
has it been verified that all 3 VMs are in the same subscription?  (note this is a different question from "how many subscriptions you have", it is about "how many subscriptions do you have access to". If your login credentials have access to multiple subscriptions and the VMs are spread across them, then only the VMs in the subscription the Azure client is authenticated for would be returned.

Al

[2017-10-11 21:17] jaredmoo commented on #3296
See documentation at https://docs.microsoft.com/en-us/rest/api/sql/FirewallRules/CreateOrUpdate#firewallrules_createorupdate_request_body :)

[2017-10-11 21:29] milismsft commented on #3296
I see now, you have to pass in the "magic" ip address "0.0.0.0" to get the Azure Portal setting ;-)

@DimitriBerman, can you please try adding another Firewall Rule in your ISqlServer create sequence with the IP set to "0.0.0.0" and see if that resolves your issue?

[2017-10-11 21:34] hovsepm commented on #3684
This issue was moved to Azure/azure-libraries-for-net#41

[2017-10-11 21:34] #3684 closed

[2017-10-11 21:34] hovsepm commented on #3674
This issue was moved to Azure/azure-libraries-for-net#42

[2017-10-11 21:34] #3674 closed

[2017-10-11 21:35] hovsepm commented on #3673
This issue was moved to Azure/azure-libraries-for-net#43

[2017-10-11 21:35] #3673 closed

[2017-10-11 21:35] hovsepm commented on #3672
This issue was moved to Azure/azure-libraries-for-java#1

[2017-10-11 21:35] #3672 closed

[2017-10-11 21:36] hovsepm commented on #3659
This issue was moved to Azure/azure-libraries-for-net#44

[2017-10-11 21:36] #3659 closed

[2017-10-11 21:37] hovsepm commented on #3643
This issue was moved to Azure/azure-libraries-for-net#45

[2017-10-11 21:37] #3643 closed

[2017-10-11 21:38] hovsepm commented on #3642
This issue was moved to Azure/azure-libraries-for-java#2

[2017-10-11 21:38] #3642 closed

[2017-10-11 21:38] hovsepm commented on #3635
This issue was moved to Azure/azure-libraries-for-java#3

[2017-10-11 21:38] #3635 closed

[2017-10-11 21:38] hovsepm commented on #3628
This issue was moved to Azure/azure-libraries-for-net#46

[2017-10-11 21:38] #3628 closed

[2017-10-11 21:39] hovsepm commented on #3570
This issue was moved to Azure/azure-libraries-for-java#4

[2017-10-11 21:39] #3570 closed

[2017-10-11 21:39] hovsepm commented on #3568
This issue was moved to Azure/azure-libraries-for-net#47

[2017-10-11 21:39] #3568 closed

[2017-10-11 21:40] hovsepm commented on #3561
This issue was moved to Azure/azure-libraries-for-net#48

[2017-10-11 21:40] #3561 closed

[2017-10-11 21:40] hovsepm commented on #3552
This issue was moved to Azure/azure-libraries-for-java#5

[2017-10-11 21:40] #3552 closed

[2017-10-11 21:41] hovsepm commented on #3509
This issue was moved to Azure/azure-libraries-for-net#49

[2017-10-11 21:41] #3509 closed

[2017-10-11 21:41] hovsepm commented on #3481
This issue was moved to Azure/azure-libraries-for-net#50

[2017-10-11 21:41] #3481 closed

[2017-10-11 21:42] hovsepm commented on #3474
This issue was moved to Azure/azure-libraries-for-net#51

[2017-10-11 21:42] #3474 closed

[2017-10-11 21:42] hovsepm commented on #3417
This issue was moved to Azure/azure-libraries-for-net#52

[2017-10-11 21:42] #3417 closed

[2017-10-11 21:43] hovsepm commented on #3415
This issue was moved to Azure/azure-libraries-for-java#6

[2017-10-11 21:43] #3415 closed

[2017-10-11 21:43] hovsepm commented on #3412
This issue was moved to Azure/azure-libraries-for-java#7

[2017-10-11 21:43] #3412 closed

[2017-10-11 21:43] hovsepm commented on #3411
This issue was moved to Azure/azure-libraries-for-java#8

[2017-10-11 21:43] #3411 closed

[2017-10-11 21:44] hovsepm commented on #3386
This issue was moved to Azure/azure-libraries-for-java#9

[2017-10-11 21:44] #3386 closed

[2017-10-11 21:44] hovsepm commented on #3384
This issue was moved to Azure/azure-libraries-for-java#10

[2017-10-11 21:44] #3384 closed

[2017-10-11 21:45] hovsepm commented on #3338
This issue was moved to Azure/azure-libraries-for-java#11

[2017-10-11 21:45] #3338 closed

[2017-10-11 21:45] hovsepm commented on #3331
This issue was moved to Azure/azure-libraries-for-net#53

[2017-10-11 21:45] #3331 closed

[2017-10-11 21:46] hovsepm commented on #3318
This issue was moved to Azure/azure-libraries-for-net#54

[2017-10-11 21:46] #3318 closed

[2017-10-11 21:46] hovsepm commented on #3296
This issue was moved to Azure/azure-libraries-for-java#12

[2017-10-11 21:46] #3296 closed

[2017-10-11 21:47] hovsepm commented on #3277
This issue was moved to Azure/azure-libraries-for-java#13

[2017-10-11 21:47] #3277 closed

[2017-10-11 21:47] hovsepm commented on #3239
This issue was moved to Azure/azure-libraries-for-net#55

[2017-10-11 21:47] #3239 closed

[2017-10-11 21:47] hovsepm commented on #3199
This issue was moved to Azure/azure-libraries-for-java#14

[2017-10-11 21:47] #3199 closed

[2017-10-11 21:48] hovsepm commented on #3190
This issue was moved to Azure/azure-libraries-for-net#56

[2017-10-11 21:48] #3190 closed

[2017-10-11 21:50] hovsepm commented on #3066
This issue was moved to Azure/azure-libraries-for-java#15

[2017-10-11 21:50] #3066 closed

[2017-10-11 21:50] hovsepm commented on #3046
This issue was moved to Azure/azure-libraries-for-net#58

[2017-10-11 21:50] #3046 closed

[2017-10-11 21:51] hovsepm commented on #3026
This issue was moved to Azure/azure-libraries-for-net#59

[2017-10-11 21:51] #3026 closed

[2017-10-11 21:51] hovsepm commented on #3017
This issue was moved to Azure/azure-libraries-for-net#60

[2017-10-11 21:51] #3017 closed

[2017-10-11 21:51] hovsepm commented on #2935
This issue was moved to Azure/azure-libraries-for-net#61

[2017-10-11 21:51] #2935 closed

[2017-10-11 21:52] hovsepm commented on #2811
This issue was moved to Azure/azure-libraries-for-net#62

[2017-10-11 21:52] #2811 closed

[2017-10-11 22:22] SeanFeldman commented on #3635
@hovsepm https://github.com/Azure/azure-libraries-for-java/issues/3 is resulting in 404.

[2017-10-12 04:17] olegburov commented on #3386
@hovsepm the above link leads to 404 or a private repo. And initially I need this feature for .NET lib rather than Java.

Could you please reopen it or provide more details why you closed it?

[2017-10-12 04:20] olegburov commented on #3384
@hovsepm It's unclear if you're going to add this feature only to Java lib or both Java and .NET libs. I need it in .NET first.

[2017-10-12 04:22] olegburov commented on #3412
@hovsepm What's about .NET lib?

[2017-10-12 14:38] tomkerkhove commented on #3384
Wow that was quick. I'm with @olegburov here and doesn't really make sense if it would only be supported in the Java SDK..

[2017-10-13 07:01] ChadNedzlek commented on #2616
Why is the version locked to a specific version? It makes it basically impossible to use these libraries without immediate and unresolvable package dependency problems.

[2017-10-15 20:08] keschner opened #3786 "GeneratevpnclientpackageWithHttpMessagesAsync returns Operation returned an invalid status code 'Accepted'"
Hello together,

I'm using the Nuget-Package Microsoft.Azure.Management.Network in preview version 15.

If I call BeginGeneratevpnclientpackageWithHttpMessagesAsync or GeneratevpnclientpackageWithHttpMessagesAsync I get a invalid status code error, because of the status code is 202 and only 200 is valid.

To get around this I've changed the code to accept 202 by adding 202 to this if statement: ht

[2017-10-16 04:06] robrich opened #3787 "Upgrade Microsoft.Rest.ClientRuntime.Azure.Authentication to >= 3.14.1"
Can't reference Azure SDK in ASP.NET Core 2.0 projects because of version conflict:

Steps to repro:
1. File -> New -> ASP.NET Core 2.0 MVC site
2. Manage NuGet Packages
3. Add Microsoft.Azure.Management.ResourceManager.Fluent 1.3.0

Actual behavior: Receive error

    Version conflict detected for Microsoft.IdentityModel.Clients.ActiveDirectory. Reference the package directly from the project to

[2017-10-16 12:38] jensdotbruggeman commented on #3670
Any news on this?  Visual Studio Build Tools 2017 works for nicely  , but I'm missing out on the Azure Tools / SDK part..

[2017-10-16 17:28] hovsepm commented on #3787
@robrich did you try [assembly redirect](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions)?

[2017-10-16 18:43] robrich commented on #3787
I have tried binding redirects using the technique from http://blog.rytmis.net/2016/03/29/asp-net-core-and-assembly-binding-redirects/ but package restore still fails.

[2017-10-17 23:50] shahabhijeet commented on #3786
@ritwikbasu can you take a look at this particular API that you have introduced in network package.
This might need your input as to what needs to be called.

[2017-10-18 00:10] ritwikbasu commented on #3786
We have introduced new APIs to extend the functionality of the VpnClientPackage operations.

There are two options you can use with the latest SDK:
1. GenerateGatewayVpnProfile(resourceGroupName, virtualNetworkGatewayName, vpnClientParameters);
This operation does all the async handling and returns a SAS URL to the generated VpnProfile - this is similar to the older operation you are trying to use

[2017-10-18 00:35] shahabhijeet commented on #3770
@ro-joowan can you take a look at this issue.

[2017-10-18 00:46] shahabhijeet commented on #3765
@DheerendraRathor just so that I understand what you are proposing.
Are you saying, get list of all loaded assemblies, regardless of managed/native and then load each assembly and check for types that are in list?
Or is there a way to filter out assemblies before start fishing for custom types?

[2017-10-18 00:54] shahabhijeet commented on #3763
@arundsouza can you comment on this one, seems there are two issues:
1) Documentation
2) seems like a product bug while returning event hub namespace.

[2017-10-18 00:55] shahabhijeet commented on #3756
@deathly809 I will have a fix out for this soon. Sorry for the delay in triaging this issue.

[2017-10-18 01:45] shahabhijeet commented on #3715
We have seen multiple RPs requesting for this change.
This change will be done in Nov. milestone

[2017-10-18 01:49] shahabhijeet commented on #3714
@Zoe-ms as we talked over skype. This is not a blocker for your team at this point.
The ask is, you want the CR to return 5xx status code and not retry it.
If we decide to support this, this will have to a rolled out where RPs can participate and opt for status code that would like not to be retried but returned back.

[2017-10-18 01:56] shahabhijeet commented on #3712
@kiwidev the behavior you are suggesting occurs when you call Dispose() on the client? or some other scenario?
Also are you suggesting rather than setting HttpClientHandler = null in the client dispose, call HttpClientHandler.Dispose()?

[2017-10-18 01:58] shahabhijeet commented on #3709
@adibalsa can you clarify this issue you are reporting is for which Azure SDK.
Provide full name of the nuget package you are reporting this issue on.

[2017-10-18 02:03] shahabhijeet commented on #3707
Waiting to get the GitHub id for the right person this needs to be assigned.

[2017-10-18 02:12] shahabhijeet commented on #3699
@danielmarbach I am not sure for what product you are reporting this bug.
This repo is for azure service SDK (management plane and data plane .NET SDK for azure resource providers)
Can you clarify.

[2017-10-18 02:14] shahabhijeet commented on #3696
@DheerendraRathor are you the right person to look at this issue?

[2017-10-18 02:15] shahabhijeet commented on #3670
@HenrikR-Reviso this repo is for reporting issues related .NET SDK for azure services/resource providers.
I will find out the right location where this issue needs to be reported.
Thanks for your patience.

[2017-10-18 02:16] shahabhijeet commented on #3644
@thebothead can you clarify what SDK you are referring to. It's quite possible you are hitting the wrong repo.

[2017-10-18 02:19] shahabhijeet commented on #3637
@thebothead see #3644 and provide some more details

[2017-10-18 02:23] shahabhijeet commented on #3631
@stefmilmsft can you help answer this question.

[2017-10-18 02:47] kiwidev commented on #3712
Apologies, I hadn't found time to issue a PR yet.

The scenario is when `Dispose()` is called on ServiceClient. This particularly comes up when customers are creating a large number of service clients (> 100 / minute).

None of the handlers are disposed by ServiceClient (`HttpClient` is constructed with `disposeHandler: false`). I think this is the correct behavior for user provided handlers as of

[2017-10-18 04:25] DavidStrickland0 commented on #3703
What more information did you want? You've dropped PCL support. I need PCL support. Not sure what else to say.

[2017-10-18 05:06] jaakhter commented on #3707
This is by-design. The authentication details are not returned by the service as part of job definition.

[2017-10-18 05:50] #3707 closed

[2017-10-18 09:47] DheerendraRathor commented on #3696
Adding @sonathan from RecoveryServices.
@thedancingfetus Can you print requestId (x-ms-request-id) or x-ms-client-request-id from request/response headers? RequestId is also a property of returned AzureOperationResponse or thrown exception.

[2017-10-18 10:41] sonathan commented on #3696
Hi @thedancingfetus,

As the error message suggests: please provide a valid "properties" field.

You need to declare Properties in the request you are sending.

[2017-10-18 11:45] adibalsa commented on #3709
@shahabhijeet  the issue is affecting Hyak based SDK.  I've also provided a fix for that SDK (see #3710). I need my change to be merged in Hyak main stream.  Moreover I ask to verify if the new Auto REST SDK has the same problem reported here. If it does, the fix has to be ported also on the new Auto Rest SDK.

[2017-10-18 11:50] adibalsa commented on #3709
I closed it by mistake, sorry. Issue is still valid.

[2017-10-18 14:44] roostedglory opened #3797 "CloudBlobContainers.Exists returns false when it is initialized using a SAS Uri"

[2017-10-18 15:30] danielmarbach commented on #3699
I think the issue is related to `Microsoft.WindowsAzure.targets` and since this seems to be part of the SDK I raised the issue here. If you can tell me where the issue should be raised instead I'd be more than happy to move it over.

https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/tools/legacy/Microsoft.WindowsAzure.Build.Tasks

[2017-10-18 16:51] shahabhijeet commented on #3631
@mdsajidfaizan
The RBAC model for role assignments expects the ObjectId of an AAD directory object (could be user, group or serviceprincipal). Thus, one cannot use an e-mail/upn for the PrincipalId property directly
https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Authorization/Management.Authorization/Generated/Models/RoleAssignmentProperties.cs

The proper way to use the API i

[2017-10-18 16:51] #3631 closed

[2017-10-18 20:38] thedancingfetus commented on #3696
@sonathan , you nailed it.  I read the error message as my SKU Property was invalid.  I added this:

VaultProperties properties = new VaultProperties();
Vault thisVault = new Vault { Location = "eastus", Sku = new Microsoft.Azure.Management.RecoveryServices.Models.Sku { Name = "Standard" } , Properties = properties};

Deploys now without issue.  Thanks for your help.

[2017-10-18 20:39] #3696 closed

[2017-10-19 07:04] bartroozendaal commented on #3309
I am running into this too. Is there any way to tell FieldBuilder to ignore fields? If not, I'll do a post-processing, removing fields that I do not want.

[2017-10-19 12:55] brjohnstmsft commented on #3309
@bartroozendaal As a workaround, you can create the index fields directly by using the various Field class constructors.

We have confirmed that this is an issue with the `FieldBuilder` class. There's a fix on the way, but no ETA yet.

[2017-10-20 08:21] veturi opened #3808 "MSI AppAuthentication error `Token response is not in the expected format`"
There is an issue with AppAuthentication library when running code on a local development environment. The AppAuthentication library executes `az account get-access-token` directly and if the default output format is changed to something else than JSON the call will fail and result in `AzureServiceTokenProviderException`.

Changing the Azure CLI default output format back to JSON fixes this but th

[2017-10-20 20:37] FabienLavocat commented on #3787
If you manually install the package 'Microsoft.IdentityModel.Clients.ActiveDirectory' version 3.17.0 you will get the following error:

[code]

I am currently trying to test if, adding the NuGet package to an external class library and add the reference to this library in the main ASP.NET Core 2.0 project would work.

[2017-10-23 09:11] HenrikR-Reviso commented on #3670
@shahabhijeet Any news on where this issues should be reported?

[2017-10-24 13:59] jacobmohl commented on #3478
Following this issue as well.

Cant get the TokenCredentials to work with Azure API Management where we need either a header with name "Ocp-Apim-Subscription-Key" or a query parameter named "subscription-key". Do anyone have code samples for this?

[2017-10-24 17:38] keschner commented on #3786
@ritwikbasu sorry for the late reply and thanks for your answer.
I've tried CreateOrUpdateVnetConnectionWithHttpMessagesAsync first but if I use the returned uri to create a new VnetConnectionGateway I get a 502 Error from the scm endpoint of my web app (https://WEBAPPNAME.scm.azurewebsites.net). Therefore I cannot use the kudu console or deploy a new version.

My thought was, its a problem with t

[2017-10-24 23:39] hovsepm commented on #3769
@shahabhijeet this is not Fluent specific. @AMoghrabi was using Inner to make a call which means that it was auto generated code. This needs to be investigated with the AppService team.

[2017-10-24 23:40] AMoghrabi commented on #3769
Is there a different way to access that method without using inner?

[2017-10-24 23:41] hovsepm commented on #3638
@simon-michaud please reopen this bug in https://github.com/Azure/azure-libraries-for-net repo if you still cannot find a good sample.

[2017-10-24 23:41] #3638 closed

[2017-10-25 02:41] AMoghrabi commented on #3769
Also, should I open my issue on a different repository?

[2017-10-27 02:50] jake22599 commented on #3410
@mj1856, I have the same issue while trying to use Azure Service Bus library on Mono on Linux.
How did you do the workaround?
How to add the fake entries in Mono's emulated registry?

[2017-10-27 11:15] 4c74356b41 commented on #2194
just ran into this, this is a bit sad.

[2017-10-27 17:21] mj1856 commented on #3410
@jake22599  - see the comment above yours for how to create them programatically.  Or, if desired, you can create the files manually.  They sit in `/etc/mono/registry`.  I don't want to write a tutorial here, but I'm sure you can find some examples on the web.

[2017-10-28 13:27] jrsurya opened #3821 "authContext.AcquireTokenAsync throwing exceptions : Object reference not set to an instance of an object."
I am working on **Azure KeyValut Authenticate with a Certificate using (Framework .net core 2.0)** and
below line throwing exceptions

AssertionCert = new ClientAssertionCertificate(clientId, clientAssertionCertPfx);

public static async void GetConnectionString(string clientId, string thumbprint, string ContentRootPath)
		{

			// Configure Key Vault client
			var kvClient = new KeyVaultClient(ne

[2017-10-30 08:00] davemcuk commented on #3670
+1

[2017-10-30 12:46] niemyjski commented on #3635
@Sean is this missing in the .net client still?

[2017-10-30 15:15] SeanFeldman commented on #3635
@niemyjski the NETStandard client never had it as that client doesn't have `Description` object for entities.

[2017-10-30 15:39] austvik opened #3826 "Feature Request: RoleEnvironment.DeploymentLabel"
RoleEnvironment already has a method to get DeploymentId.
Please add another method to get DeploymentLabel.

UseCase: We put source code version in deployment label and would like to log/put it into performance counters to see which version were running where and when.

[2017-10-31 20:11] joelhulen commented on #1507
Ambari requires the fully qualified SQL Server name, including `.database.windows.net`. Just make sure `.database.windows.net` is appended to the end of the `AzureSqlServerName` value.

[2017-10-31 21:59] #3726 closed

[2017-11-01 00:53] ro-joowan commented on #3660
@rsmith54 Thanks for noting this.  Is trying out a new version of the .NET ADLS SDK an option for you?

Github: https://github.com/azure/azure-data-lake-store-net
Nuget: https://www.nuget.org/packages/Microsoft.Azure.DataLake.Store/

[2017-11-01 01:54] ro-joowan commented on #3770
@RudyCo Thanks for noting this.

1.  A member of my team noted that "GetContentSummary will give you the count for the whole recursive tree, not just the current directory."

2.  Did you try something like this?

// List all the contents in the folder
var listFolderResponse = commonData.DataLakeStoreFileSystemClient.FileSystem.ListFileStatus(
                                          commonData.Da

[2017-11-01 15:05] alex-zyl commented on #3224
Our team had also faced with this issue on our non-prod environments during load testing
Stacktrace:
[code]

[2017-11-01 19:02] rsmith54 commented on #3660
@ro-joowan Sure, is there was there any work on this specific issue? Thanks for your reply.

[2017-11-01 20:11] ro-joowan commented on #3660
@rsmith54 The hope is that the download speed will no longer be unbearable after the switch, since it's a completely new SDK.  Please report back here on what you find :)

If it's still slow, we can move forward from there.

[2017-11-01 21:28] rsmith54 commented on #3660
Okay great, thanks for your help.

[2017-11-02 07:15] brijeshb commented on #3787
When is this update planned? I just went through a lot of work recently to upgrade ADAL in our product, only to realize, i'm held back by the hard dependency here.
Are there any pre-release branches atleast that have this?

[2017-11-02 07:18] brijeshb commented on #3730
It's frustrating when a SDK that's supposed to be the vnext / modern forces you to use the last major version of ADAL, please prioritize this work.

[2017-11-02 11:42] RichardAnderson commented on #3438
Hi,

Any update on this?

The azure-service-bus-dotnet package was updated 21 days ago, however the management package still does not support 2.0.

Many thanks.

[2017-11-02 17:56] FabienLavocat commented on #3787
@brijeshb Hey, in the meantime, you can use the fork I've created https://github.com/FabienLavocat/azure-sdk-for-net

[2017-11-03 11:40] dshpak-iq commented on #3508
@kierenj Did you ever find a solution to this? I have exactly the same question and have been having difficulty finding answers.

[2017-11-03 11:54] kierenj commented on #3508
Nope - I'm disappointed in two ways... slightly because I don't have a solution, and massively because no-one responded to give me a way forward.

I mean, I thought Azure and .NET Core were a big deal.  I figured someone would be triaging issues?  @hovsepm any official word?  In terms of getting a response, not necessarily implementing anything, though that would be a bonus..

[2017-11-03 12:00] dshpak-iq commented on #3508
I actually just found [this thread](https://github.com/Azure/azure-service-bus-dotnet/issues/65) discussing a couple of semi-related issues, with this among them. The latest update from the developers is 10 days ago. Most of the conversation has been focusing on what the management library can/cannot do, but ASB management via connection string has been part of the conversation.

[2017-11-03 22:58] deathly809 opened #3840 "Can no longer build AzureStack admin modules located under the AzureStack directory."
I used to be able to build using the command:

msbuild build.proj /t:Build /p:Scope=AzureStack

I can no longer do this.  Was this removed on purpose?

[2017-11-05 12:34] benjzh opened #3841 "Azure Batch: How I can define VM extensions for a pool?"
Hello,

I am creating Azure Batch pools with Ubuntu via passing **VirtualMachineConfiguration** to  _client.**PoolOperations.CreatePool** API. However I seem to be unable to define VM extensions for the pool? I need **ManagedIdentityExtensionForLinux** extension for secrets management.

- Thanks

[2017-11-06 06:42] nprieto95 commented on #3309
A more elegant workaround could be to call the overload of `BuildForType` that takes an `IContractResolver` and provide it with a contract resolver that inherits (in this case) from `CamelCasePropertyNamesContractResolver` and which removes unsupported properties from the result before returning it in the `CreateProperties` override. In my case, I have a "products" index with an unsupported proper

[2017-11-06 06:45] nprieto95 commented on #3309
Note also that this solution makes it pointless to have the model class annotated as `SerializePropertyNamesAsCamelCase`.

[2017-11-06 12:59] IanLin419 opened #3842 "Azure SDK operated limitation"
We encountered a problem about Azure SDK.
No matter what operations(iot, keyvault, AAD, etc.) we attempt to though Azure SDK within program, we got a certain failed rate (30% successful).
However we used in localhost environment, there is no any problem.
We wonder know whether there a limitation for using Azure SDK to reach operation within Azure resource.

The workaround is that we conduct those

[2017-11-06 16:11] tomaszgawlik opened #3843 "Be able to obtain current swap status"
Currently, it's possible to use sdk to perform website swap.
Using `Microsoft.Azure.Management.WebSites.WebSiteManagementClient client`:

[code]
But after starting the swap it's impossible (or at least unclear for me) to know exectly when swap is completed.

One can query the website:
[code]
and there's `application.SlotSwapStatus` field. But it only contains slot names and timestamp.

Ideally, it

[2017-11-06 23:45] AbhiMadav commented on #1507
Running into this when using the ARM deployment. Is there any change in the connection string that needs to be done?

[2017-11-07 00:42] Nking92 opened #3844 "WebSites SDK is missing tests for a large number of features"
The WebSites SDK is currently not very well-tested. Azure Web Apps has a large team and exposes a very large API surface that would take an enormous amount of work and research for one engineer to test thoroughly. We will divide up the testing between feature owners on our team to develop an acceptable test suite. The feature owners have the background knowledge necessary to create tests and debug

[2017-11-07 00:55] joelhulen commented on #1507
@AbhiMadav Did you set the SQL server and database database as a dependency for your cluster in the ARM template? This ensures the database has been provisioned and is ready before the cluster has been created. Also, did you use the fully qualified SQL Server name?

For example:

[code]

Also, what do your `hive-site` and `hive-env` parameters look like? Should be something similar to this:

[code

[2017-11-07 01:51] AbhiMadav commented on #1507
Hey @joelhulen,

Thanks for the reply. I am trying to setup the new cluster using an existing metastore SQL server db and therefore skipped the 'dependsOn' property in the template.

My `hive-site` & `hive-env` configurations look similar to the one specified by you. The connection URL specified is fully qualified.

`"hive-site": {
              "javax.jdo.option.ConnectionPassword": "[parameters(

[2017-11-07 02:03] AbhiMadav commented on #1507
Got it working. I was trying with the same deployment name and the cluster name for multiple times and changing those worked. I am guessing there is some king of caching for the deployments which couldn't reflect the latest state.

[2017-11-08 21:59] TimLovellSmith opened #3848 "What? 429 is a valid status code..."
`Message d197e0bf-1c37-4483-bfb1-5a19d04615fd Workflow 'Create' had exception Microsoft.Rest.Azure.CloudException: Operation returned an invalid status code '429'
   at Microsoft.Azure.Management.ResourceManager.Fluent.ResourceGroupsOperations.<CheckExistenceWithHttpMessagesAsync>d__6.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.Compi

[2017-11-08 22:07] hovsepm commented on #3848
This looks like a bug in swagger spec for resource manager - https://github.com/Azure/azure-rest-api-specs/blob/current/specification/resources/resource-manager/Microsoft.Resources/2017-05-10/resources.json#L664
429 is not modeled there so it by design that it throws `invalid status code` in client runtime

[2017-11-08 22:09] hovsepm commented on #3848
On another thought 429 should be handled in ClientRuntime for all the requests IMHO

[2017-11-08 23:46] TimLovellSmith opened #3850 "Feature: easy insertion of If-Match/If-None-Match headers in create/update requests"
Note, not all RPs properly support ETAGS etc, but, I think it would be awesome if for those that do you could write e.g.

resourceGroup = await azureSub.ResourceGroups.Define(Name)
                    .WithRegion(AzureRegion.Create(Region))
                    .WithRedisOwnerTag(OwnerName)
                    .IfNoneMatch("*")
                    .CreateAsync(token);

or

resourceGroup = await azu

[2017-11-08 23:50] TimLovellSmith commented on #3850
Oh, apparently you have something like this already in 1.3, I just didn't know!

[2017-11-08 23:50] #3850 closed

[2017-11-10 07:57] brutaldev opened #3855 "MaxSizeInMegabytes is ignored and always sets the queue to 16GB"
It seems that no matter what value to provide to the `MaxSizeInMegabytes` property, the queue is always created with the max size of 16GB, is this expected?

The following simple code to create a queue highlights this problem.

[code]

The documentation claims the default it 1GB, but the queue is always created as a 16GB queue.

[2017-11-11 10:03] HenrikRxn commented on #3670
@rainersigwald Reporting to the SDK teams does not result in any progress. There ust be someone at Microsoft responsible for coordinating this kind of cross team issues....

[2017-11-11 10:28] HenrikR-Reviso commented on #3670
@rainersigwald Reporting to the SDK teams does not result in any progress.

Surely there must be someone at Microsoft responsible for coordinating this kind of cross team issues?

[2017-11-11 10:39] HenrikR-Reviso commented on #3670
Created a Uservoice issue for this

https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/32217496-add-azure-sdk-component-to-vs-build-tools-2017

[2017-11-13 12:02] keschner commented on #3786
Hey @ritwikbasu,
I don't want to annoy you, but I hang on this issue and want to solve it correctly (not with an ugly workaround). So, could you please point me in an direction in which I can do further research?
Thanks in advance.

[2017-11-13 20:02] MV10 opened #3860 "[docs] Blob CreateOrReplace should better explain the blob-exists exception"
Azure's Blob Storage classes have [CreateOrReplace](https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.blob.cloudappendblob.createorreplace?view=azure-dotnet) methods which include this same statement:

I suggest the word "exception" should reference [StorageException](https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.storageexception?view=azure-dot

[2017-11-15 01:00] ttugates commented on #3843
I am looking for how to do this as well without polling.

[2017-11-15 18:01] ManishKatoch opened #3865 "Blob container is not accessible and there is an error "409" while trying to access it via code"
I am working on a solution where I need to display information in blobs (text) on a website.
These blobs are actually log files and are being written (may be) when I try to access them. So the problem is specific to one of the blob containers. I am not able to access it or any files it contains and I am encountering a 409 error whenever I am trying to access that particular blob container.

I am n

[2017-11-15 18:07] #3865 closed

[2017-11-16 18:20] reecezimm commented on #1069
Bumping this. Any updates, this is an important call for website metrics?

[2017-11-16 18:52] reecezimm opened #3868 "Get Website File Utilization"
I am looking for particular .net azure package that will allow me to get disk/file utilization of a webapp. Is there a package that does this, if so which one is it? Many thanks

Will Microsoft.Azure.Management.WebSites WebApps.ListUsagesAsync return the applications disk size?

[2017-11-16 22:20] #3868 closed

[2017-11-18 07:19] abatishchev commented on #2779
@markcowl hi, you said this is fixed but I don't see HttpClient at https://github.com/Azure/autorest.csharp/blob/master/src/vanilla/Templates/Rest/Client/ServiceClientBodyTemplate.cshtml
How can I reuse an instance of HttpClient now days?

[2017-11-18 21:15] vhe1 commented on #2762
Found it: For some reason the ResourceManagementClient doesn't use the Environment settings of the AzureEnvironment from the AzureCredentials object it gets in the constructor.
Therefore it accesses the wrong management endpoint and doesn't find anything of course.

[2017-11-19 00:41] vhe1 opened #3873 "Spelling error in CheckAvailabilityResult"
In https://github.com/Azure/azure-sdk-for-net/blob/3f736b5af3851ab99bbaa98483ae537de0d48cfb/src/SDKs/NotificationHubs/Management.NotificationHubs/Generated/Models/CheckAvailabilityResult.cs

The IsAvailiable property has one i too many.

[2017-11-20 09:56] RoelantStegmann commented on #1887
Same error (with Azure CLI on linux) but when trying to delete the cluster

[2017-11-21 01:33] varunsh-msft commented on #3808
Thanks for reporting this! This has been fixed in the latest version of the library.

[2017-11-21 19:41] montgomp opened #3877 "Repo-Tasks not functional"
### PowerShell Version
5.1.16299.64
### OS Version
10.0.16399.64
### Description
The Repo-Tasks.psd1 fails to load and therefore none of its commands are functional.
### Script/Steps for Reproduction
Double-Click PS-VSPrompt
Type: Import-Module .\Repo-Tasks.psd1
Hit Enter. Receive error "Loading skipped. 'psuserpreferences' environment variable was not set to load user preferences.".
Type: Start-B

[2017-11-21 21:52] abatishchev commented on #2779
@markcowl so was this done, and was then where the source code was changed?

[2017-11-24 16:58] darrelmiller commented on #3848
@hovsepm An OpenAPI specification is not supposed to be an exhaustive list of status codes and can never be due to the existence of HTTP intermediaries that are unknown to the API provider.  Throwing an invalid status code error because a status code is not defined in the OpenAPI definition is a fundamentally broken approach.  The HTTP specification is very clear in how clients should interpret st

[2017-11-24 22:58] pgmolloy commented on #3787
I have this same issue trying to incorporate the rest authentication for data lake with the active directory library in .net core 2.0

[2017-11-26 08:08] AlicewD commented on #1887
Same exception but a "InternalServerError", while creating HDinsight cluster. Has anyone found the solution?

[2017-11-29 07:43] LilanMadusankaSilva opened #3898 "Can we create topic subscription problematically using .net core 2"
Can we do that using .net core 2 or standard 2 ?

[2017-11-29 09:59] awbmansour commented on #3787
I have the same issue trying to get Data Lake Store functionality to work:

[2017-11-30 07:09] LilanMadusankaSilva opened #3904 "Topic subscriptions pragmatically creation fail (.net core 2 / standard 2)"
- I used Microsoft.Azure.Management.ServiceBus (https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/ResourceManagement/ServiceBus)
- Token authentication work but subscription creation fail

`var token = await GetToken();
var creds = new TokenCredentials(token);
var sbClient = new ServiceBusManagementClient(creds)
				{
					SubscriptionId = subscriptionId,
				};
var subscriptionParams =

[2017-11-30 09:28] #3898 closed

[2017-11-30 17:29] aggieben commented on #3664
@hovsepm

Firstly, this doesn't make sense - if a project is targeting net4x, then naturally that targeting profile can't also target netstardard1.4 _or any other target_.  That's what it means to target.

But if I read between the lines a little bit to try and understand what you meant, I _think_ you meant to say that net4x projects can't utilize packages that target netstardard1.4, and that's in

[2017-11-30 17:36] aggieben commented on #2616
I think it's time to do this again.  The hard dependency on ADAL 2.28.3 is causing me problems in a project I'm working on.  Also, is there any reason why this library wouldn't target netstandard2.0?

[2017-12-04 05:56] jimt4593 opened #3915 "Unable to read key vault secret with AzureKeyVault configbuilder without Get and List permission"
I am using the AzureKeyVault configbuilder (Microsoft.Configuration.ConfigurationBuilders.Azure 1.0.0-preview) to retrieve an app setting from key vault.    The web.config contains:

[code]
Unfortunately, I was unable to retrieve the secret when the principal (associated with the clientId) had only the Get Secret permission.

I had to give the prinicipal the List Secret permission.

[2017-12-04 22:34] abatishchev commented on #2779
hi @markcowl, please take a look

[2017-12-05 05:49] vejuhust opened #3919 "[Feature Request] Upload/Manage Application Packages for Azure Batch via SDK"
As per the [spec/doc](https://docs.microsoft.com/en-us/azure/batch/batch-application-packages), currently users can only use Azure Portal to upload application package. Can you please provide API/SDK to manage applications?

[2017-12-05 09:15] #3919 closed

[2017-12-05 09:16] vejuhust commented on #3919
Found it: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.batch.fluent.applicationpackageoperationsextensions.create?view=azure-dotnet

[2017-12-05 15:18] LjungqvistK opened #3920 "Error when trying to create function-app from within another functionapp"
The following code produces the error below:
[code]

Other types of resources work fine to create (even when in a function-app), such as ServiceBus+Namespace and StorageAccounts.

Running the above code also works fine when running in a console-application.

I suspect it has to do with the specific NewtonSoft.Json version required by Microsoft.NET.Sdk.Functions (9.0.8), but I could ofcourse be wro

[2017-12-05 18:43] hovsepm commented on #3848
@darrelmiller That should again be handled in ClientRuntime. My point is that it is not a Fluent SDK specific issue but an issue in common client runtime and should be fixed across the libraries.

[2017-12-05 18:49] hovsepm commented on #3920
@LjungqvistK please reopen this issue in Fluent SDK repo. https://github.com/Azure/azure-libraries-for-net/issues

[2017-12-05 18:49] #3920 closed

[2017-12-05 18:52] darrelmiller commented on #3848
@hovsepm Sorry, I got hung up on your first comment about the client runtime throwing exceptions by design.  I missed your later comment about 429 being handled for all requests.

[2017-12-06 01:03] jabberwik commented on #3787
Can this package at least be revised to reference `>= 3.13.9` instead of `= 3.13.9`? This hard constraint on a minor version makes it impossible fr it to coexist with `Microsoft.AspNetCore.All`, which requires `>= 3.14.1`

[2017-12-07 01:22] rick111111 commented on #3787
I hit the issue when tried to use Microsoft.Azure.Services.AppAuthentication (https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.1.0-preview), please move to 3.x.x.

[2017-12-07 03:20] abatishchev commented on #3366
Any update on this, please?

[2017-12-07 07:31] OneCyrus opened #3927 "Microsoft.Azure.Management.OperationalInsights new query language"
It looks like the currently published OperationalInsights package (0.18.0-preview) doesn't support the new log analytics query language. At least i can't use something like ```search * | where(Type == "Perf")``` with GetSearchResultsAsync.

is this correct and is the new query language on the near roadmap for this package?

[2017-12-07 07:48] Gansted commented on #3309
To make your workaround slightly more generic you could change
[code]
to
[code]
That way all properties marked with the JsonIgnore attribute will be ignored when building your fields.

[2017-12-07 11:47] IvAlex1986 commented on #2871
Microsoft Team, please upgrade Newtonsoft.Json version for [Microsoft.Azure.Insights](https://www.nuget.org/packages/Microsoft.Azure.Insights/0.15.0-preview).
There are more than 200 nuget packages in our solution and restriction Newtonsoft.Json < 7.0.0 kills the Microsoft.Azure.Insights package for our solution.
Moreover, no one package uses Newtonsoft.Json version less than 7.0.0

[2017-12-11 09:48] nphmuller opened #3933 "AppAuthentication 1.1.0-preview: No Connection string specified"
We're currently using this library to access an Azure KeyVault in an ASP.NET Core 2.x app. For now only in development mode. So the access token is obtained through Azure CLI, behind the scenes.

This seems to work fine most of the time, but at least a couple of times a week it throws the following exception:
[code]

The last part seems to describe the problem: Azure CLI seems to have taken too lo

[2017-12-11 11:22] nphmuller commented on #3933
Additionally I noticed that `GetToken()` in the `New` sample is called twice. Shouldn't AzureServiceTokenProvider call it once, and cache the result?

[2017-12-12 14:09] mattfrear opened #3939 "Azure search - Inheritance security rules violated by type: 'System.Net.Http.WebRequestHandler'"
When I try to use Azure Search on .NET Framework > 4.5.2, it blows up, throwing the above exception:
[code]

[code]

This code is in a class library compiled with .NET Framework 4.5.2. When the executable which includes the class library is also 4.5.2, the above code works. But if I upgrade the executable to 4.6 (or 4.6.1, 4.6.2, 4.7.1) then the code starts throwing the exception.

[2017-12-12 14:32] mattfrear commented on #3939
I've spent the last couple of hours on this before raising the issue here - and I just figured out a workaround. I've added the NuGet package for System.Net.Http 4.3.3 to my class library which contains the above code - and now it works.

[2017-12-12 15:38] BohdanZhmud opened #3940 "KeyVaultClient disposes HttpClient if it is passed through constructor"
KeyVaultClient should use protected ServiceClient(HttpClient httpClient, bool disposeHttpClient = true) ctor if pass HttpClient to not dispose HttpClient instance.

This issue prevents from sharing HttpClient instance between instances of ServiceClient

[2017-12-12 21:26] brjohnstmsft commented on #3939
@mattfrear Thanks for reporting this and sharing your workaround. This looks like a broader compatibility issue that might affect other Azure .NET libraries too. Have you had this problem with any other libraries, or just Azure Search? Also, which version of the Microsoft.Azure.Search package did you use?

[2017-12-13 13:04] mattfrear commented on #3939
We are using the latest Microsoft.Azure.Search package - 3.0.4.

We haven't had this problem with other Azure libraries on .NET 4.6. We are using Microsoft.Azure.DocumentDB, WindowsAzure.ServiceBus, and WindowsAzure.Storage. And in fact, we're using Microsoft.Azure.Search in another project on 4.6 fine. The one that works uses `ISearchIndexClient`, the one that fails uses `SearchServiceClient`.

S

[2017-12-14 02:28] brjohnstmsft commented on #3939
Thanks for the info. We'll investigate.

[2017-12-14 15:17] Gorgoras opened #3950 "Data Factory not listed in the list of .NET SDK packages"
The readme.md file of this project links to this list: https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/Documentation/sdk-for-net-packages.md which are the supported packages, but in this list there is no mention of Data Factory.

[2017-12-15 19:59] lincolnu opened #3956 "Root branch name should be master"
Please stick to naming conventions and rename psSdkJson6 to master

[2017-12-17 08:33] brutaldev commented on #3855
I've figured out that this only happens when you have `EnablePartitioning` switched on. Setting that to false honors the max size setting. Would certainly help having the documentation highlight this to avoid confusion.

[2017-12-18 20:07] abatishchev commented on #2779
hi @markcowl, please take a look

[2017-12-19 09:57] mouliraji commented on #785
This should work;
Change your code like below.

entity.DT = DBNull.Value;

[2017-12-20 19:25] JohnSchmeichel opened #3965 "CloudException is not deserializable via ISerializable"
CloudException doesn't include ctor(SerializationInfo info, StreamingContext context) which prevents deserialization via ISerializable.

Newtonsoft.Json.JsonSerializationException: ISerializable type 'Microsoft.Rest.Azure.CloudException' does not have a valid constructor. To correctly implement ISerializable a constructor that takes SerializationInfo and StreamingContext parameters should be prese

[2017-12-20 19:55] aajmot commented on #3003
One of my existing project using NewronSoft 4.5 and I cannot update the version but needs to implement the key vault encryption in file upload which version of key vault nuget to use?
it's not throwing the error at compile time but failed at runtime, what to do?

[2017-12-22 00:44] aggieben opened #3967 "EventHubsClient handles connection string inconsistently; throws InvalidSignature exception"
While trying to diagnose an unrelated issue, I was setting up very a very simplistic sender and receiver in LinqPad.  Here's my sender:

[code]

The connection string dumped by this LinqPad script is exactly what one might expect:
`Endpoint=sb://hostname/;EntityPath=path-name;SharedAccessKeyname=KEY_NAME;SharedAccessKey=KEY_VALUE;`

Note the semicolon at the end of the connection string.  This scr

[2017-12-28 08:52] jeroenwo opened #3968 "Unable to use Moq to unit test the IOperationalInsightsDataClient"
I would like to use Moq as a mocking framework for unit testing code that uses the `IOperationalInsightsDataClient`. However, since the `QueryAsync` method on the `OperationalInsightsDataClient` implementation is not part of the interface but an extension method in `OperationalInsightsDataClientExtensions`, I cannot fake a certain result with which I can test my code.

How do you test code which i

[2017-12-28 08:54] jeroenwo opened #3969 "Microsoft.Azure.OperationalInsights.Models.QueryResults is not null but throws NullReferenceException"
Hi,

I have created a unit test for my functionality. As it is not possible to Moq the `IOperationalInsightsDataClient` (see #3968), I have made a wrapper. I create an instance of `QueryResults` and provide that as the result in the unit test:
[code]

When checking the `QueryResults`:
[code]
`data.Results` is not null:
![image](https://user-images.githubusercontent.com/13014081/34405156-00f0ea74-e

[2018-01-02 19:51] shahabhijeet commented on #3956
@lincolnu we had some legacy assets that were part of "master' branch.
We are actively trying to get rid of that code and port it, so that we can resume the normal branching naming conventions.
I hear you and we are working on this.
Thanks for your reminder.

[2018-01-02 19:51] #3956 closed

[2018-01-02 19:54] shahabhijeet commented on #3877
@montgomp please do not use this module as it's not being actively fixed/supported.
Please use regular msbuild.exe to build the .NET SDK repo.

[2018-01-02 19:54] #3877 closed

[2018-01-02 19:58] kluhman commented on #3787
Any updates on this? Seems like pretty small effort for large gain to just allow `[3.13.9, 4.0)` so .NET Core 2.0 users can use this package. This is preventing us from using in our project as well.

[2018-01-02 20:04] shahabhijeet commented on #3848
@hovsepm CR will deal with status codes if it's a LRO, I don't see RG CheckExistence being an LRO operation.
Can you clarify what scenarios should CR handle when dealing with status codes.

[2018-01-02 20:06] shahabhijeet commented on #3844
@Nking92 Please plan this work before the next PR for websites.

[2018-01-02 20:08] shahabhijeet commented on #3840
@deathly809 build tools have been removed from the SDK repo.
In order to make sure you have the latest build tools, you will need to do the following:
1) Pull .NET SDK from upstream (get latest)
2) execute msbuild build.proj (this will update the build tools in your local repo)
3) msbuild build.proj /t:Build /p:Scope=AzureStack

Let me know if you still see an issue, please provide me the output o

[2018-01-02 21:53] kluhman commented on #3787
There seems to be another case of this package using a specific version that should be ranged as well.

[code]

Can it be updated to `[5.1.2, 6)`?

[2018-01-02 22:36] TimLovellSmith commented on #3848
@hovsepm I don't think the runtime needs additional behavior in the form of autoretry etc. It's just that having an error message that it is an 'invalid status code' is a really confusing thing to do! There's nothing invalid about it, it's defined by standard.

[2018-01-02 23:06] markcowl opened #3970 "src/SDKs/Resources/Generated has classes for IDeploymentOperations and IDeploymentsOperations"
The IDeploymentOperations looks like it returns operation info, while IDeploymentOperatiosn managemenes deployments.  Thezse should be either combined, or renamed so that the distinction is clear.

[2018-01-04 22:45] austinarban opened #3979 "Create Azure service bus namespace from .Net"
We are using .Net framework 4.6.x and looking for a way to create an azure service bus namespace from the azure.management sdk. Having trouble implementing programmatically, Any reference or direct documentation would be helpful.

[2018-01-05 04:04] tishion opened #3980 "Upgrade the reference of Microsoft.IdentityModel.Clients.ActiveDirectory"
Currently the package Microsoft.Rest.ClientRuntime.Azure.Authentication depends on the package  Microsoft.IdentityModel.Clients.ActiveDirectory (**= 2.28.3**)

This reference is fixed version thus it prevents the using of this package in most updated projects.
For example in our solution we got this error:
Paket may still find a valid resolution, but this might take a while.
  Conflict detected:

[2018-01-05 18:11] leftler opened #3981 "Microsoft.Azure.Management.ApiManagement on NuGet has totally different class members."
Using https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/3.4.0-preview (which has a publish date earlier than the inititial check in of https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/ApiManagement) and looking in to `Microsoft.Azure.Management.ApiManagement.IUserOperations` I see methods like `CreateAsync` and `DeleteAsync`.

If I look at https://github.co

[2018-01-05 19:04] gnieboer opened #3982 "Azure batch authentication failed when using other Azure resources"
When attempting to programmatically create Batch Pools with custom images, shared key authentication fails (by design).  So Active Directory authentication must be used.  However, attempts to use an AD application service principal have failed.

issue #1668 in the python SDK appears identical, and references the need to change the resource to "https://batch.core.windows.net"  when building the Ser

[2018-01-05 21:28] gnieboer commented on #3982
Disregard, found the answers in updated documentation here:

https://docs.microsoft.com/en-us/azure/batch/batch-aad-auth

Authenticating with token credentials and adding Azure Batch API as a required permission for the application (SEPARATE from granting rights to the batch account itself for the application) was I believe the missing step.

[2018-01-05 21:28] #3982 closed

[2018-01-08 18:34] Nazgaul opened #3985 "bing CustomSearch customConfig issue"
Hi.
the customConfig parameter is declared as int? -
it should be a uint.
according to custom search api document the custom config is uint value.

[2018-01-10 07:21] jstensved opened #3991 "[Azure Search] NullReferenceException when checking if index exists"
(This issue is based on [my question on Stack Overflow](https://stackoverflow.com/questions/47753559/nullreferenceexception-when-checking-if-index-exists-with-azure-search-for-net/47756744#47756744))

When trying to see if an index exists for a non-existing index with the .NET SDK (both 3.0.4 and 4.0.0-preview) the `ExistsAsync` (as well as `Exists`, and `ExistsWithHttpMessagesAsync`) throws the f

[2018-01-10 18:38] abatishchev commented on #2779
hi @markcowl, please take a look

[2018-01-10 20:32] brjohnstmsft commented on #3991
@jstensved Thanks for reporting this. We'll investigate.

[2018-01-11 01:40] abatishchev commented on #3950
Feel fee to submit a pull request ;)

[2018-01-11 07:23] jeroenwo opened #3994 "Unable to use Moq to unit test IMonitorClient"
I would like to use Moq as a mocking framework for unit testing code that uses the `IMonitorClient`. However, since the `ListAsync` method on the `IMetricsOperations` property is not part of the interface but an extension method in `MetricsOperationsExtensions`, I cannot fake a certain result with which I can test my code.

How do you test code which implements the `ListAsync` method?

Example tes

[2018-01-11 18:24] chuanboz commented on #2663
quote from [Serialize data in Hadoop with the Microsoft Avro Library](https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-dotnet-avro-serialization)

Note

The Avro SDK is no longer supported by Microsoft. The library is open source community supported. The sources for the library are located in [GitHub](https://github.com/Azure/azure-sdk-for-net/tree/master/src/ServiceManagement

[2018-01-14 08:49] q3blend commented on #3985
That is correct, we opened an item in our backlog to fix it.

[2018-01-17 00:10] ttugates commented on #3769
I am experiencing the same issue.  Any update?

[2018-01-17 00:27] AMoghrabi commented on #3769
Hey

Check out my SO post about this -- someone replied with a decent solution:

https://stackoverflow.com/questions/46639014/azure-fluent-api-appserviceplanoperations-listmetricswithhttpmessagesasync-ret

[2018-01-17 00:31] ttugates commented on #3769
@AMoghrabi  - Thank you!

[2018-01-17 00:34] AMoghrabi commented on #3769
You're welcome! Good luck. ☺️

[2018-01-18 16:26] shawns1 commented on #3153
This should be all documented in the team OneNote.  If there is anything missing, we can add it there.

[2018-01-18 16:26] #3153 closed

[2018-01-18 21:22] RandalliLama commented on #2911
@antonydeepak I am closing this issue for now since we haven't heard from you.  Feel free to reopen it if you are still seeing an issue.

[2018-01-18 21:22] #2911 closed

[2018-01-18 21:51] dsgouda opened #4005 "Incorrect LRO tests"
The tests `TestLROAsynOperationFailureWith200()`, `TestLROWithLocationHeaderFailureWith200()` and `TestLROPUTWithCanceledState()` in `LongRunningOperationsTest` have catch statements that are never executed thereby falsely passing since no exception is thrown.
We need `Assert.Throws<>` as well as investigation to verify why exceptions are not being thrown.

P.S.: Also need to fix a minor typo: `LR

[2018-01-19 08:12] samneirinck opened #7174 "Determine EventData message size"
## Actual Behavior
Unable to determine the message size of a serialized `EventData` instance. I noticed this missing property while looking at [the following StackOverflow question](https://stackoverflow.com/questions/27263189/how-can-the-serialized-size-of-eventdata-be-determined-for-batching). There was a change related to batch sizes on Azure/azure-event-hubs-dotnet#79, but this issue is about

[2018-01-20 00:35] lowerpuppet commented on #2762
@vhe1 How did you work around that issue?  I'm running into that myself.

[2018-01-22 22:05] hovsepm commented on #3787
The workaround for now would be - please add dependency to [Microsoft.Rest.ClientRuntime.Azure.Authentication v.2.3.2](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure.Authentication/2.3.2) in your project,

[2018-01-22 23:01] TimLovellSmith commented on #3552
I'm trying out 1.4.1 and looks like there is an overload which fixed this issue now. Hooray and thanks!

                        .WithExistingSubnet(vnet.Id, subnetName)

[2018-01-23 19:03] JoyceLiang opened #4010 "Unable to load DLL 'fusion.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
_From @nefcanto on December 23, 2017 15:1_

Environment:
VS 2017 Community edition 15.5.2
dotnet --version => 2.1.2
Windows 10 Enterprise

Steps to reproduce this bug:

1. Create a simple console application using default template
2. Add these Nuget packages:
[code]
3. Write these lines of codes to get a container:
[code]
4. Run the application

_Copied from original issue: Azure/azure-storage-net

[2018-01-23 19:03] JoyceLiang commented on #4010
_From @sameedaris on January 3, 2018 18:45_

I was facing same issue . CloudConfigurationManager.GetSetting(accessKey)  method looks into configuration files and it takes AppSetting key name only  as  parameter. but ironically i was passing whole connection string in place of Key so it was giving error . i think they need to correct exception message

[2018-01-23 19:03] JoyceLiang commented on #4010
_From @user3301 on January 5, 2018 3:16_

I had this issue before, when I try to load the configuration information using `CloudConfigurationManager.GetSettings(key)` this exception showed up, one workaround is put your exact value of you settings in `Parse(settings)` method.

[2018-01-23 19:03] JoyceLiang commented on #4010
I see the same issue when I try to use Microsoft.WindowsAzure.ConfigurationManager in ASP.NET Core Web Application. ASP.NET Web Application(.NET Framework) do not have this problem.

[2018-01-23 19:03] JoyceLiang commented on #4010
_From @erezvani1529 on January 23, 2018 1:20_

Thanks for reporting this issue. However, this issue should be opened on [Azure Sdk repo](https://github.com/Azure/azure-sdk-for-net) as it is related to Microsoft.WindowsAzure.ConfigurationManager package.

Thanks!

[2018-01-24 01:46] matthchr opened #4012 "CodeGenerator generates "Operation returned an invalid status code 'XYZ'""
We've had a number of customers complain or get confused about the fact that the generated text in the exception is an _invalid_ status code (even though the status code is listed in string form afterwards).

I personally actually see where they are coming from - "Invalid" makes me thing of an HTTP status code which is not a valid status code (i.e. returning -1 or something).

It would be clearer

[2018-01-24 11:21] dweggemans opened #4016 "Deadlock getting authentication header from TokenProvider"
Using Microsoft.Rest.ClientRuntime 2.3.10

We're experiencing deadlocks when using the `TokenCredentials`. We've tracked this down to

https://github.com/Azure/azure-sdk-for-net/blob/52c7902eb62391b7e37794bc8a491dbad73116a1/src/SdkCommon/ClientRuntime/ClientRuntime/TokenCredentials.cs#L115

Solution: add `.ConfigureAwait(false)` fixes the deadlock.

[2018-01-24 22:54] jaredmoo opened #4020 "Microsoft.Resources tests fail after regen from latest swagger"
If you regen from latest Swagger there are a large number of changes and then the test failures show up like this:

[code]

When I regen from swagger here is the relevant diff in generated code:

src/SDKs/Resource/Management.ResourceManager/Generated/PolicyDefinitionsOperations.cs

[code]

This change was made by @Vivek : https://github.com/Azure/azure-rest-api-specs/commit/9f0f02ad4a2986423d0ee60

[2018-01-24 22:57] jaredmoo commented on #4020
Blocks https://github.com/Azure/azure-sdk-for-net/pull/3951

[2018-01-25 08:28] tishion commented on #3980
It seems the latest version Microsoft.Rest.ClientRuntime.Azure.Authentication has updated.
.NETFramework 4.5.2
Microsoft.IdentityModel.Clients.ActiveDirectory (>= 2.28.3 && < 4.0.0)
Microsoft.Rest.ClientRuntime (>= 2.3.9 && < 3.0.0)
Newtonsoft.Json (>= 6.0.8)

Thanks!

[2018-01-25 08:28] #3980 closed

[2018-01-25 13:53] davemcuk commented on #3670
50 votes ...

[2018-01-25 15:53] nicolastakashi commented on #3670
Any news?

[2018-01-25 23:18] MiYanni opened #4022 "Generated code should have GeneratedCodeAttribute on the generated classes"
Using [GeneratedCodeAttribute](https://msdn.microsoft.com/en-us/library/system.codedom.compiler.generatedcodeattribute(v=vs.110).aspx) is the accepted way to allow C# tools (aka Visual Studio) know to handle that code differently. Currently, there is only the `<auto-generated/>` comment at the top of the file. But, this comment isn't recognized by most tooling.

Please add `GeneratedCodeAttribute`

[2018-01-30 10:25] DeluxZ commented on #2188
Also doesn't support .NETCoreApp,Version=v2.0

[2018-01-30 19:18] #3660 closed

[2018-01-31 02:29] brjohnstmsft commented on #3991
@jstensved Looking at the code, I see that the `FirstMessageHandler`, `HttpClient`, and `HttpClientHandler` properties are all defined in the [ServiceClient base class](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/ClientRuntime/ClientRuntime/ServiceClient.cs). By tracing through the constructor logic in the base class and in `SearchServiceClient`, I can see that some su

[2018-01-31 02:33] brjohnstmsft commented on #3939
Possibly related: https://github.com/dotnet/corefx/issues/11100

[2018-01-31 09:11] mattfrear commented on #3939
Yes, I came across that issue too, I think I may have read the workaround on that page.

[2018-01-31 17:07] MurrayFoxcroft commented on #3366
Any update on this again - I have the same issue.

[2018-01-31 20:05] brjohnstmsft commented on #3939
@mattfrear Thanks for confirming; I just found that issue yesterday. I'm hoping that fixing this will be a simple matter of ensuring that `Microsoft.Azure.Search` refers to the correct version of whatever dependency refers to `System.Net.Http`. First I have to repro the issue though. I'm working on that today.

[2018-01-31 22:16] brjohnstmsft commented on #3939
@mattfrear So far I'm unable to repro this issue. I suspect it's because I can't even compile my test projects without adding an explicit reference to `System.Net.Http`, and this is presumably picking up the correct version of that assembly.

I'm trying to create a .NET 4.6 executable that references a .NET 4.52 class library which attempts to create a `SearchServiceClient`. I'm using the new `.cs

[2018-02-01 03:09] zefferadmin commented on #4010
I had the same issue with .net core console app. I couldn't make CloudConfigurationManager work so I used this approach instead

`

| var storageCredentials = new StorageCredentials("myAccountName", "myAccountKey");
var cloudStorageAccount = new CloudStorageAccount(storageCredentials, true);
var cloudBlobClient = cloudStorageAccount.CreateCloudBlobClient();
-- | --

Once you have your cloud storag

[2018-02-01 03:13] SaadMarwan commented on #4010
I had the same issue with .net core console app. I couldn't make CloudConfigurationManager work so I used this approach instead

`var storageCredentials = new StorageCredentials("myAccountName", "myAccountKey");
var cloudStorageAccount = new CloudStorageAccount(storageCredentials, true);
var cloudBlobClient = cloudStorageAccount.CreateCloudBlobClient();`

Once you have your cloud storage account r

[2018-02-01 06:41] natemcmaster commented on #3333
Ping. Any updates to your plans?

[2018-02-01 10:40] mattfrear commented on #3939
@brjohnstmsft OK, I've tried, but I can't repro the issue now in a standalone solution now. Happy for you to close it.

[2018-02-01 15:42] jstensved commented on #3991
Thank you for looking into it. I'm currently not working on the affected client project but might be able to confirm.

We're using standard Microsoft .NET Core MVC DI so perhaps you're able to test it quickly on a fresh solution with that?

Otherwise please ping me and I'll setup a test.

[2018-02-01 19:04] hovsepm commented on #3787
This issue is fixed in Fluent v1.6. In case of failures in Fluent SDK please create a new issue in https://github.com/Azure/azure-libraries-for-net/issues repo.

[2018-02-01 19:04] #3787 closed

[2018-02-01 23:08] brjohnstmsft commented on #3939
@mattfrear Thanks for checking. I'll close it.

[2018-02-01 23:08] #3939 closed

[2018-02-02 05:04] yoshimasak opened #4030 "WebSiteManagementClient.WebApps.SyncFunctionTriggers method throws an Exception even if the StatusCode is 200 OK"
I’m using Microsoft.Azure.Management.Websites.WebSiteManagementClient class, WebApps.SyncFunctionTriggers method to sync triggers.
I understand that this method does a REST call internally, and it seems that the REST call is working well, receives HTTP 200 OK and the sync process completes successfully, but the method throws an exception.

It seems that this issue happens because SyncFuntionTrigge

[2018-02-02 21:11] mdomashchenko opened #4034 "Need access to status updates while awaiting the completion of a long running request"
https://github.com/Azure/azure-sdk-for-net/blob/382f6a568d67f1995f4db1e998ed3dd1ab2d9eb0/src/SdkCommon/ClientRuntime.Azure/ClientRuntime.Azure/AzureClientExtensions.cs#L71

This method `GetLongRunningOperationResultAsync()` abstracts away all the gory details of handling long running requests. That's a great idea!

Unfortunately, it also abstracts away any possibility of watching the progress of t

[2018-02-02 23:34] brjohnstmsft commented on #3991
@jstensved I'm unable to repro the issue. Here's what I did:
  1. I created a new ASP.NET Core project using the Web Application MVC template.
  2. I added this reference to the .csproj file to work around [this known issue](https://github.com/Azure/azure-sdk-for-net/issues/3441), for which I will ship a fix very soon:

    <PackageReference Include="Newtonsoft.Json" Version="10.0.3" />

  3. I ad

[2018-02-03 12:57] shaggygi opened #4042 "Clean up milestones"
It seems like some of the milestones/issues are outdated and could be cleaned up and closed. For example, Milestones September/October/ November 2017 Sprints.  It might be better to move open issues to Backlog or review and add to next sprint.

Thx

[2018-02-05 20:55] ro-joowan commented on #3770
This has been addressed in this PR: https://github.com/Azure/azure-sdk-for-net/pull/4046

[2018-02-05 20:55] #3770 closed

[2018-02-06 02:28] brjohnstmsft commented on #3451
The fix for this issue shipped with version 3.0.5 to [NuGet](https://aka.ms/search-sdk).

[2018-02-06 02:28] #3451 closed

[2018-02-06 02:28] brjohnstmsft commented on #3441
The fix for this issue shipped with version 3.0.5 to [NuGet](https://aka.ms/search-sdk).

[2018-02-06 02:28] brjohnstmsft commented on #3309
The fix for this issue shipped with version 3.0.5 to [NuGet](https://aka.ms/search-sdk).

[2018-02-06 02:29] #3309 closed

[2018-02-06 04:39] thuansoldier opened #4047 "CloudConfigurationManager.GetSetting in 3.2.3 returns null"
I'm not sure if I'm missing something when using CloudConfigurationManager to load my setting from app.config for my .NET client.

[code]
And use the following:

`string subscription = CloudConfigurationManager.GetSetting("AzureSubscriptionId");`

But in Debug mode, it returns null.

The directive is using Microsoft.Azure;

Version of **Microsoft.WindowsAzure.ConfigurationManage**r Nuget package i

[2018-02-06 22:34] jianghaolu opened #4051 "Add a delegate to support resources without a trailing slash"
In https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/ClientRuntime.Azure.Authentication/ApplicationTokenProvider.cs, there are a few places we are calling `settings.TokenAudience.ToString()`.

In case of Key Vault, the resource must be "https://vault.azure.net" without a trailing slash. This doesn't work with Key Vault since `.ToString()` always adds a trailing slash.

[2018-02-07 17:54] jaredmoo opened #4055 "Rename SQL database is inconvenient"
Originally posted at https://github.com/Azure/azure-powershell/issues/3571#issuecomment-363826604:

I have it working using the Microsoft.Azure.Management.Sql 1.11.0-preview NuGet package, but it is kinda difficult to call, why isn't it simply a parameter with newName?

This is my code what I have to write now with the new function.
It seems to require a ResourceMoveDefinition.

[code]

[2018-02-09 00:00] vbl11987 commented on #3460
@martijnbrands1978 Confirmed, that fix the error, I couldn't create or make any write operations on containers or blobs. Thanks!!

[2018-02-09 12:22] MarkusGeigerITD commented on #2593
We suffer from the same problem.
From what I've seen in some memory dumps our team got back from production servers, the leak is not in the **RetryDelegatingHandler.Retrying** event (b/c the finally block quoted by @Sanchia in the original post seems to work), but in the **RetryPolicy.Retrying** event.

An anonymous handler to this event is (again, as @Sanchia already noted) added with each roundt

[2018-02-09 23:02] FeiboChen opened #4064 "Unnecessary byte array is allocated when trying to decode a string"
Hi,

I noticed that when decoding a string, Avro always tries to read the data into a temp byte array, then decode from the byte array to the dest string. This is not efficient and may increase the working set of the process if too many deserialations happens in a short time. Can we try to remove the temp byte array to improve the perf?

Here's the source code:
        /// <summary>
        /// De

[2018-02-10 16:22] isaacabraham commented on #3441
@brjohnstmsft Something isn't quite right. I've just upgraded to 3.0.5, with Newtonsoft.Json  Newtonsoft.Json (10.0.3) and Microsoft.Rest.ClientRuntime.Azure (3.3.10) but am still seeing this exception.

[2018-02-10 17:35] isaacabraham commented on #3441
OK I think you can ignore me - this is due (I think) to an old version of Newtonsoft.Json being picked up in my script!

[2018-02-10 17:46] isaacabraham commented on #3441
OK, I might need some pointers here: I'm seeing the following stack trace when my script goes pop:

[code]

I've looked at the old version of the Azure Search SDK and indeed there was a method called `Microsoft.Azure.Search.JsonUtility.CopySettings` which copied across `Binder`. If this code no longer exists, it suggests that I'm somehow picking up the wrong version of the Search SDK - yet I have

[2018-02-10 19:27] brjohnstmsft commented on #3441
@isaacabraham Thanks for reporting this. I’m not sure what’s going on. We’ll investigate. Re-opening this issue.

[2018-02-12 14:22] melpcollins opened #4068 "Cannot update table storage but can do select."
I cannot update table objects using Microsoft.Azure.Storage; and get the following exception.  "Message: The requested resource is no longer available at the server." Code: Gone
I can run selects without issue.

ActivityId: ***, Request URI: /apps/a4aa8554-8016-432b-95ca-69b0e3a3a03a/services/91bd83d4-fa4a-4952-a447-08b07829413c/partitions/56c0438b-a36d-4f48-8810-f8bf6f8d0ca2/replicas/131625579096

[2018-02-12 21:34] brjohnstmsft commented on #3991
I haven't heard back from @jstensved so I'm closing this since I can't reproduce it.

[2018-02-12 21:34] #3991 closed

[2018-02-13 02:12] brjohnstmsft commented on #3441
@isaacabraham I was able to repro the error you're seeing, but only if I explicitly reference Newtonsoft.Json 11.0.1-beta3 from my test project. It appears that in version 11, JSON.NET is deprecating the `Binder` property in favor of the `SerializationBinder` property. I'm not sure why your project is picking up a beta version of JSON.NET, but if you're able to use 10.0.3, it should work.

In the

[2018-02-13 02:18] brjohnstmsft commented on #3441
Just confirmed that we can't use `SerializationBinder` yet because Azure .NET SDKs still need to support JSON.NET versions prior to 10. Closing this issue since there's nothing we can do in the Azure Search SDK for now.

[2018-02-13 09:05] isaacabraham commented on #3441
Thanks for checking this out, I'll see if I can repro this. It might be worth changing the max version of Newtonsoft in the Search package to 10.x if it isn't already to prevent dependency issues.

[2018-02-13 17:05] mynkow commented on #3607
I get exactly the same error. I am trying to run the code in net461. I am using version 1.0.3

[2018-02-13 23:41] brjohnstmsft commented on #3441
@isaacabraham Good point.

FYI @shahabhijeet @markcowl We found an incompatibility between JSON.NET 11 beta and `Microsoft.Azure.Search`. Specifically, the `JsonSerializerSettings.Binder` property, which `Microsoft.Azure.Search` currently references, has been deleted (it was marked as deprecated in JSON.NET 10). I don't know if this change will affect `ClientRuntime` or not, but I thought I should

[2018-02-14 01:28] brjohnstmsft opened #4073 "Need a way to pass custom parameters to AutoRest from tools/generate.cmd"
For the Azure Search data plane, we have two Swagger specs: `searchservice.json` and `searchindex.json`. However, this is the opposite of the "break one big API into multiple Swaggers" scenario: Instead of generating code into one folder from multiple specs, we generate code for each spec into separate folders and "glue" them together with custom code (this is intentional because of the way we wan

[2018-02-14 11:53] #4068 closed

[2018-02-14 13:37] andriysavin commented on #3521
Team, are you going to update the package to reference the version of Microsoft.IdentityModel.Clients.ActiveDirectory package where the bug was fixed? In some scenarios when you don't control the host application (e.g. Azure Functions compiled library) adding different version of the Microsoft.IdentityModel.Clients.ActiveDirectory is not possible because no binding redirects are generated, so the

[2018-02-14 23:57] kbrekke opened #4078 "MAC signature problem with Azure Storage authentication"
Working code stopped working today. Azure Storage, West Europe. Tried upgrading the WindowsAzure.Storage nuget package to 9.0. Same error.

Request:
[code]

Response:
[code]

Code:
[code]

[2018-02-15 12:35] #4078 closed

[2018-02-16 03:09] MarkSiedle opened #4080 "Management Certificate support for WebSiteManagementClient"
Hi,

At Octopus, we currently support both Azure Management Certificates and Service Principals as connection options for querying and deploying Azure web apps.

We're trying to upgrade our libraries to use your latest Azure SDK, but can't find a way to connect with a Management Certificate.

If we use the older SDK @ `Microsoft.WindowsAzure.Management.WebSites`, we can create a [WebSiteManagement

[2018-02-17 01:33] brjohnstmsft commented on #4073
It turns out we won't need this capability after all, and nobody else seems to have a passion for it. Closing the issue.

[2018-02-17 01:33] #4073 closed

[2018-02-17 02:56] shahabhijeet commented on #3441
@NhanNTWPV I assume you are fine when you use newtonsoft 10.0.3 with Search SDK.

@brjohnstmsft an alternative to fix this problem is to not to initialize deprecated properties in your CopySettings function (leave out TypeNameAssemblyFormat, ReferenceResolver, Binder)
or
update Binder property to baseSetting.SerializationBinder

[2018-02-19 10:40] isaacabraham commented on #3441
@brjohnstmsft also - is there a reason why the Net452 and NetStandard14 versions have different minimum versions of Newtonsoft JSON (i.e. >= 6.0.8 vs >= 9.0.1) ?

[2018-02-19 14:23] isaacabraham commented on #3441
@brjohnstmsft I think I've traced the cause of my particular issue - it's because my script is (for some as-yet unknown reason) implicitly picking up the Newtonsoft.Json assembly inside `C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9\bin\plugins\Diagnostics`. This contains an old version of the assembly (6.0.8.18111).

6.0.8 does seem to actually contain a `Binder` property on the `Newtonsoft

[2018-02-20 13:33] dumonjorne opened #4083 "OcrResult variable Language of the wrong type."
Hi,

In `Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models.OcrResult,` variable Language  is of the wrong type, resulting in a failing json deserialization. It should be of type OcrLanguage instead of OcrResult.

[2018-02-22 00:39] EricDahlvang opened #4086 "ServiceClient UserAgent and ProductInfoHeaderValue issues"
Allowing consumers to provide an HttpClient was a great addition to the ServiceClient library.  Thanks for that!

1)
While using the ServiceClient and providing a static HttpClient, I noticed https://github.com/Azure/azure-sdk-for-net/blob/81d6e36f25213143cf4b509ffb4926b610f7e946/src/SdkCommon/ClientRuntime/ClientRuntime/ServiceClient.cs#L476 adds the ProductInfoHeaderValue even if it is already p

[2018-02-22 01:52] shahabhijeet commented on #3441
@NhanNTWPV currently Azure PowerShell need newtonsoft 6.x.x for .NET 452 target Fx, but all .NET Core Azure SDK are supporting 9.x.x, hence you see two separate minimum versions.

[2018-02-22 05:41] #4055 closed

[2018-02-22 06:37] abishekreddy opened #4087 "Search SDK: [SerializePropertyNamesAsCamelCase] not converting property names to camel case while indexing documents."
Hi,

While indexing an upload batch using the `SearchIndexClient`, I am getting the following exception:
```The request is invalid. Details: parameters : The property '**Keywords**' does not exist on type 'search.documentFields'. Make sure to only use property names that are defined by the type.```

The problem is that its looking for "**K**eywords" when it should be looking for "**k**eywords".

N

[2018-02-22 09:24] isaacabraham commented on #3441
@shahabhijeet I don't understand - what does Powershell have to do with the minimum version of the Newtonsoft JSON. Are you suggesting that there's actually the possibility of different behaviour between 452 and Core simply because of PowerShell?

[2018-02-22 10:22] savioz opened #4089 "Microsoft.Azure.Management.DataFactory : ctor method not found"
I have this error using VS 2017 and the package Microsoft.Azure.Management.DataFactory  v 0.5.0 Preview

Void Microsoft.Azure.Management.DataFactory.DataFactoryManagementClient..ctor(Microsoft.Rest.ServiceClientCredentials, System.Net.Http.DelegatingHandler[]

[2018-02-22 20:40] brjohnstmsft commented on #3441
@shahabhijeet FYI, @isaacabraham is the one you should be talking to, not @NhanNTWPV  :)

@isaacabraham Wow, I didn't realize JSON.NET 6.0.8 doesn't even have the `Binder` property. What a mess. I'm going to take a deeper look at it and see if it would be safe to just remove the usage of `Binder` from the `CopySettings` method altogether. That method is copying everything out of an abundance of ca

[2018-02-22 20:44] brjohnstmsft commented on #4087
@abishekreddy Thanks for reporting this; we'll investigate. In the meantime, would it be possible for you to share a minimal repro of the issue?

[2018-02-23 01:16] brjohnstmsft commented on #4087
@abishekreddy It might also be relevant to know what version of `Newtonsoft.Json` your application is using.

[2018-02-23 11:14] isaacabraham commented on #3441
@brjohnstmsft Well, it has "a" Binder property - but a different one :-)

Regarding the different versions of Newtonsoft across different TFMs - this strikes me at first glance as as a disaster waiting to happen. Picture situations like: you build some code and run it on the net452 TFM. You then change over to the netstandard TFM, and suddenly you've now *silently* upgraded to a different version

[2018-02-23 11:30] Geertvdc opened #4090 "Exception: The access token has been obtained from wrong audience or resource ’https://management.core.windows.net'. It should exactly match (including forward slash) with one of the allowed audiences ‘https://management.core.windows.net/’,’https://management.azure.com/’."
first posted this question on Stackoverflow and someone told me it's probably a SDK issue:
SA post: https://stackoverflow.com/questions/48929661/creating-resource-groups-from-azure-web-app-managed-service-identity

Issue:

I'm trying to build a Bot using MS Bot framework and this bot is hosted as an Azure Web App. I've added code to create resource groups using the Microsoft.Azure.Management.Fluen

[2018-02-23 13:44] MV10 opened #4091 "Misleading (outdated?) exception message when VS re-authentication needed"
Not sure if this belongs here or somewhere in an Azure VS extensions repo, but after upgrading to VS 15.5.7 my project started throwing the exception shown at the end, indicating I needed to re-auth my Azure credentials.

This is the main problem:
[code]

There is no "Azure Services Authentication" in the "Tools" menu (or anywhere in VS2017, if VS search is to be trusted). Instead I had to open Cl

[2018-02-23 20:18] brjohnstmsft commented on #3441
@isaacabraham I agree this is a terrible state of affairs. @shahabhijeet and I are having an offline discussion about possible solutions.

[2018-02-23 22:59] jianghaolu commented on #4090
Wow good catch - will be fixed in the release coming up next week

[2018-02-26 13:13] SayusiAndo opened #4093 "Feature Request: deploy application refers netstandard2.0 - e.g. deploying Durable Functions"
Hi all,

I wanted to deploy my Durable Function Application with Deployment Project using Visual Studio. When I try to build Deployment project which has a reference to my Durable Function project (it uses netstandard2.0 as class library) throws the following error:

Did I make an error here or it is not possible to use Deployment project to deploy Durable Function project?

Thanks for any help in

[2018-02-26 15:56] sajints commented on #3460
@martijnbrands1978 , thank you so much. That fixed the error, I was getting 403 exception while calling blob storage :)

[2018-02-26 20:35] tyjen opened #4094 "AppAuthentication 1.1.0-preview: Could not load file or assembly (ActiveDirectory)"
I'm trying to acquire a token from the new AppAuthentication package. Ideally the AzureServiceTokenProvider would use the Windows Integrated Identity, however it's throwing an exception in GetAccessTokenAsync:

`{"Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory.Platform, Version=3.19.1.3001, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependenci

[2018-02-27 00:58] #4090 closed

[2018-02-27 00:59] hovsepm commented on #4090
Fixed in release 1.7

[2018-02-27 03:47] Porges commented on #3712
This is a pretty bad problem. Is anything being done about it?

[2018-02-27 08:14] kuacci opened #4096 "AmbiguousMatchException inside of get_FrameworkVersion()"
Hi guys,

My customer got System.Reflection.AmbiguousMatchException when when using latest version (2.3.10) of Microsoft.Rest.ClientRuntime:
[https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/](url)

I captured dump against above above exception and it tells us the exception raised up when thread calling Microsoft.Rest.ServiceClient`1.get_FrameworkVersion()

  Child-SP          RetAddr

[2018-02-27 12:48] stpriyanka commented on #3441
I had same issue with .Net core. It solved just after degrading newtonsoft.Json to version 10.2. I guess with any of 10 versions it should work

[2018-02-27 23:13] brjohnstmsft commented on #4087
@abishekreddy I'm unable to reproduce this issue. Can you please let me know what version of `Newtonsoft.Json` you're using, or even better, provide a minimal amount of code to demonstrate the issue?

[2018-03-02 06:06] bankzitter01 opened #4099 "validation hostnames"
I am trying to add a hostname from a non azure created domain using this code:
[code]
The command executes without error and the hostname is not created. In the azure activity log I see a succesfull update. When trying to add the hostname via the blade in azure it gives me an error vith the validation.

I could not find functionallity to validate if a hostname can be added,

Next I changed the dom

[2018-03-02 23:52] tyjen opened #4103 "Microsoft.Azure.Management.Storage CloudException: The 'Authorization' header is missing"
I'm trying to create storage accounts programatically using the Microsoft.Azure.Management.Storage package along with a subscription management certificate, however I'm getting strange issues with authentication that leads me to believe the package is broken.

Here's how I'm trying to create the account:
[code]

I get the following error: **Hyak.Common.CloudException: AuthenticationFailed: Authent

[2018-03-03 01:23] brjohnstmsft commented on #3441
@isaacabraham I have a PR out that includes the fix for this issue. First we'll fix it in the preview SDK (5.x-preview), then in the stable version of that (5.x, which I'm working on and should release in the coming weeks). I wasn't planning to hotfix it in 3.0. Please let me know if that's a blocker for you.

[2018-03-06 19:57] bganapa opened #4112 "Tag published nuget modules with the api-version supported"
Also add the api-versions part of the release notes if  possible.

This would be  helpful for azurestack and other sovereign clouds

[2018-03-06 22:20] brjohnstmsft commented on #4087
@abishekreddy Since I can't reproduce this and I haven't heard from you in over a week, I'm closing this issue.

[2018-03-07 11:16] abishekreddy commented on #4087
**Code Snippet:**
[code]
**Newtonsoft nuget version:** 10.0.3

[2018-03-07 22:18] brjohnstmsft commented on #4087
Thanks @abishekreddy. Re-opening the issue.

[2018-03-08 10:44] bankzitter01 commented on #4099
Is there documentation I have missed discussing how to attach a Third Party domain?

[2018-03-08 22:41] hovsepm commented on #4096
@kuacci this seems to be a known issue which has a fix steps in the comments - https://github.com/Azure/autorest/issues/1542

[2018-03-09 06:35] MarkWhybird commented on #4096
Hi @hovsepm - my workplace is the client. As @kuacci noted, both the workaround and the correct way of coding it (looking in the registsry instead of using reflection) are known. is there any reason the code snippet above can't be changed to look up the registry?

[2018-03-09 23:02] SeanFeldman opened #4121 "MSI AppAuthentication versioning"
Would it be possible to follow SemVer convention with pre-released versions rather than introducing a new minor? [From semver.org](https://semver.org/#spec-item-9)

When referncing this package ([Microsoft.Azure.Services.AppAuthentication](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication)), it would be easier to do it with proper version semantics (`1.1.0-*`). Thank you.

[2018-03-09 23:05] SeanFeldman commented on #4121
As `1.0.0` is burned, this would be `1.1.0-preview2`, `1.1.0-preview3`, etc.

[2018-03-10 12:40] abishekreddy commented on #4087
The issue was that the [SerializePropertyNamesAsCamelCase] attribute wasn't on the AzureSearchDocument class whereas the method that had the batch index and upload calls was expecting an IEnumerable<AzureSearchDocument>.

[2018-03-12 15:39] brjohnstmsft commented on #4087
@abishekreddy Ah, that makes sense. Thanks for following up. Closing this issue.

[2018-03-12 15:39] #4087 closed

[2018-03-12 18:08] hovsepm commented on #4096
@MarkWhybird I believe this particular exception indicates a broken environment on the worker that can cause other issues and that is why the suggested direction is to fix the working environment instead of making this particular call "exceptionless". But I'll ask @SergeyKanzhelev and @wiktork to add more details if my explanation is not very precise.

[2018-03-12 18:20] SergeyKanzhelev commented on #4096
If it's server app - follow the instructions in abovementined issue. Just update Application Insights extension or StatusMonitor in your environment.

If it's UWP app mentioned [here](https://github.com/Azure/autorest/issues/1542#issuecomment-283894601) I don't know the status.

[2018-03-12 23:12] TimLovellSmith opened #4124 "Authentication library 2.3.2 isn't really compatible with ADAL up to 4.0"
We just tried out Microsoft.Rest.ClientRuntime.Azure.Authentication 2.3.2 with ADAL 3.19.2 on desktop .net and we get MissingMethodException

[2018-03-13 03:41] SeanFeldman opened #4126 "Stable release of Microsoft.Azure.Services.AppAuthentication"
What's the timeline for releasing a stable version of this package?
Currently, anything referencing it is technically pre-release as well.
Thank you.

[2018-03-14 23:54] shahabhijeet commented on #3441
@isaacabraham Azure PowerShell consumes Azure SDKs that are targeting .NET 4.5.2 and there are quite few other modules that are still stuck at newtonsoft json 6.0.8, so we are steadily upgrading each of those dependencies to newtonsoftjson 10.x.x until then all SDKs that are targeted .NET 4.5.2 have their minimum version dependency to newtonsoft json 6.x.x

[2018-03-15 07:46] isaacabraham commented on #3441
@shahabhijeet understood. It's just not a good place to be - essentially this breaks the contract for the Search service between different TFMs (and therefore for *all* .NET developers) for the same of PowerShell. I'm still not sure where the dependency is because this is a decision for Azure Search to make - are you suggesting that there's a huge number of devs using Azure Search from PowerShell

[2018-03-15 16:01] brjohnstmsft commented on #3441
@isaacabraham All (or nearly all) Azure .NET SDKs, including Azure Search, rely on the `Microsoft.Rest.ClientRuntime` package. This package in turn takes the dependency on JSON.NET. So the issue exists because the Azure PowerShell Cmdlets and the Azure Search SDK both take a dependency on `ClientRuntime`.

[2018-03-15 16:25] isaacabraham commented on #3441
@brjohnstmsft ah, that makes more sense - thanks for explaining. So theoretically a new version of ClientRuntime could be made to "fix" this. At any rate the fix you've done should solve this issue anyway :)

[2018-03-15 20:30] shahabhijeet commented on #458
@rogerskk please reopen if this is an issue.

[2018-03-15 20:30] #458 closed

[2018-03-15 20:30] shahabhijeet commented on #610
please reopen if this is an issue.

[2018-03-15 20:30] #610 closed

[2018-03-15 20:31] shahabhijeet commented on #624
please reopen if this is an issue.

[2018-03-15 20:31] #624 closed

[2018-03-15 20:33] shahabhijeet commented on #648
please reopen if this is still an issue.

[2018-03-15 20:33] #648 closed

[2018-03-15 20:33] shahabhijeet commented on #835
please reopen if this is still an issue.

[2018-03-15 20:33] #835 closed

[2018-03-15 20:33] shahabhijeet commented on #851
please reopen if this is still an issue.

[2018-03-15 20:33] #851 closed

[2018-03-15 20:33] shahabhijeet commented on #823
please reopen if this is still an issue.

[2018-03-15 20:33] #823 closed

[2018-03-15 20:34] shahabhijeet commented on #777
please reopen if this is still an issue.

[2018-03-15 20:34] #777 closed

[2018-03-15 20:34] shahabhijeet commented on #772
please reopen if this is still an issue.

[2018-03-15 20:34] #772 closed

[2018-03-15 20:34] shahabhijeet commented on #773
please reopen if this is still an issue.

[2018-03-15 20:34] #773 closed

[2018-03-15 20:35] shahabhijeet commented on #755
please reopen if this is still an issue.

[2018-03-15 20:35] #755 closed

[2018-03-15 20:35] shahabhijeet commented on #639
please reopen if this is still an issue.

[2018-03-15 20:35] #639 closed

[2018-03-15 20:37] shahabhijeet commented on #875
please reopen if this is still an issue.

[2018-03-15 20:37] #875 closed

[2018-03-15 20:38] shahabhijeet commented on #866
please reopen if this is still an issue.

[2018-03-15 20:38] #866 closed

[2018-03-15 20:39] shahabhijeet commented on #882
please reopen if this is still an issue.

[2018-03-15 20:39] #882 closed

[2018-03-15 20:39] shahabhijeet commented on #879
please reopen if this is still an issue.

[2018-03-15 20:39] #879 closed

[2018-03-15 20:40] shahabhijeet commented on #839
please reopen if this is still an issue.

[2018-03-15 20:40] #839 closed

[2018-03-15 20:40] shahabhijeet commented on #897
please reopen if this is still an issue.

[2018-03-15 20:40] #897 closed

[2018-03-15 20:41] shahabhijeet commented on #904
please reopen if this is still an issue.

[2018-03-15 20:41] #904 closed

[2018-03-15 20:41] shahabhijeet commented on #951
please reopen if this is still an issue.

[2018-03-15 20:41] #951 closed

[2018-03-15 20:41] shahabhijeet commented on #987
please reopen if this is still an issue.

[2018-03-15 20:41] #987 closed

[2018-03-15 20:42] shahabhijeet commented on #881
please reopen if this is still an issue.

[2018-03-15 20:42] #881 closed

[2018-03-16 07:17] Karamell commented on #882
This is still a problem!
I made a demonstration here:
https://github.com/Karamell/hadooptrip

[2018-03-16 17:59] #1422 closed

[2018-03-19 11:29] davecader opened #4143 "Runbook OuptutTypes property does not contain output types names when it should."
Created and published a new Graphical runbook in Azure Automation and specified an output type. When the runbook asset is retrieved we expected the Runbook.OutputTypes property to contain the type names that were specified when we created the runbook but instead the list was empty.

[2018-03-19 15:26] rokobasilisk commented on #2194
I get the same error when submitting with Microsoft.Azure.Management.Fluent Deploy C# library to a web service.
Funnily enough it was working before the weekend, then got to work and no longer working.

I also get a equally vague error in the Activity Log in the portal.

[2018-03-19 16:33] mkosieradzki opened #4144 "Unable to set includePending=true for GetCertificatesAsync in KeyVaultClient"
Is there any good reason I am unable to pass includePending=true fot GetCertificatesAsync? How am I supposed to query for pending certificate?

I am trying to implement a utility that scans for pending (or expiring) certificate requests and fullfill them using the Let's Encrypt CA.

[2018-03-22 18:17] rahuldutta90 commented on #3468
@ro-joowan This should be fixed in the new SDK.

[2018-03-22 18:28] ro-joowan commented on #3468
@rahuldutta90 Thanks. Closing

[2018-03-22 18:28] #3468 closed

[2018-03-23 13:59] DebolaA opened #4158 "How to remote debug Azure Web app running more than one instance"
i need help to remote debugging my azure web application. i also read this article

https://azure.microsoft.com/en-us/blog/introduction-to-remote-debugging-on-azure-web-sites-part-3-multi-instance-environment-and-git/

but it has not helped.

i need to debug my code to confirm that redis-cache scale out implementation works. i tried to debug with one instance and it worked fine but when i scaled u

[2018-03-26 15:42] josh-endries opened #28245 ".NET Core v2 Azure Function EventHub PartitionKey doesn't seem to work"
I'm unable to effectively set the PartitionKey property when using an Azure Function v2 (.NET Core).

Firstly, I am unsure *how* I am correctly supposed to set the PartitionKey property. I initially used the new Microsoft.Azure.WebJobs.Extensions.EventHubs package and its Microsoft.Azure.EventHubs.EventData class, however there is no PartitionKey property on that class. There is a PartitionKey pro

[2018-03-26 17:30] hovsepm commented on #4096
@shahabhijeet could you take a look to the issue? it seems to be another hit for the parked fix in PR https://github.com/Azure/azure-sdk-for-net/pull/3752

[2018-03-26 21:27] shahabhijeet commented on #3840
Please re-open this issue if you are still not able to build AzureStack

[2018-03-26 21:27] #3840 closed

[2018-03-27 11:19] arunkathroju opened #4164 "Azure Search Service - Facing an error while creating an Azure search indexer using Active directory password authentication connection string"
I was trying to create an azure search indexer using active directory password authentication connection string but i was not able to create as there was an error saying "unable to load adalsql.dll (below screenshot)". Am I missing any thing here? Below is the connection string i was using.

Server=tcp:.database.windows.net,;Database=;Authentication=Active Directory Password;User ID=;Password=;Tru

[2018-03-27 17:46] shahabhijeet commented on #4005
Fixed with #4142

[2018-03-27 17:46] #4005 closed

[2018-03-27 18:08] brjohnstmsft commented on #4164
@arunkathroju We don't support Active Directory authentication for SQL indexer at this time. Please vote on this [User Voice](https://feedback.azure.com/forums/263029-azure-search/suggestions/33595465-support-azure-active-directory-password-authentica) item to help us prioritize.

The error message is misleading and we are improving it to make the true cause of the error clear.

Closing this issue

[2018-03-27 18:08] #4164 closed

[2018-03-27 18:21] AbhiMadav commented on #1887
I run into this when there are multiple delete requests (for different clusters) in different threads.

[2018-03-27 20:25] dsgouda opened #4165 "After build tasks to verify downloaded tools and generated .props file"
As of today, we do not have a reliable way to log/inform if the build steps
`msbuild build.proj /t:build`
downloaded all the proper tools required
AND
`msbuild build.proj /t:build /p:Scope=SDKs\<RP>`
generated/added the proper metadata in the .props file for given RP

There should be some `<BeforeTargets>` tasks added that perform this validation (existence of required files in tools dir and metad

[2018-03-27 20:40] dsgouda opened #4166 "Copy Recorded tests to appropriate directories"
Tests recorded are copied to bin/**/SessionRecords/* directory, there should be a way to copy over the generated files to the appropriate test directories in the local repo.
Ideas:
- set an env flag?
- pass an arg while running the xunit tests?

[2018-03-27 23:07] shahabhijeet commented on #3965
@dsgouda can you take this.
We need to make sure we have test coverage once you add the appropriate constructor for full desktop.

[2018-03-27 23:11] shahabhijeet commented on #4012
@matthchr yes we are open to such changes.
Can you give me a precise repro so we know which code path is causing such error strings.

[2018-03-28 14:38] johanclasson opened #4169 "AppAuthentication 1.1.0-preview: TenantId is mandatory in connection string with RunAs=App"
The `ClientCertificateAzureServiceTokenProvider` seams to only use the tenant id in its method `GetTokenAsync` if the `authority` parameter is null or white space. But some clients, for example the `KeyVaultClient` of `Microsoft.Azure.KeyVault`, provides a `authority` parameter. This makes the `TenantId`-part of the connection string possibly redundant.

For example, the following code works just

[2018-03-28 17:08] nboettcher opened #4170 "Microsoft.Azure.Management.AppService - ListHybridConnection methods in WebAppsOperations return single object but should return Page<> for the list"
I am attempting to use the ListHybridConnectionsWithHttpMessagesAsync in the WebAppsOperations class in Microsoft.Azure.Management.AppService.Fluent library. The method returns a single HybridConnectionInner object, however since this is a List method, the REST API call returns a list of objects that should be returned in a Page<HybridConnectionInner> object.

[2018-03-30 05:28] mchenx commented on #4010
any updates on this issue? it seems Microsoft.WindowsAzure.ConfigurationManager v3.2.3 was released  in Oct, 2016 and had not been updated since then

[2018-04-02 22:39] dsgouda commented on #4012
@matthchr Improving the messaging in auto generated exceptions is something we have worked on in the CSharp generator but it hasn't been released yet. We should probably be able to take this change in the generator repo. Will reopen this issue there.

[2018-04-03 06:38] SeanFeldman commented on #4121
Ping

[2018-04-03 06:38] SeanFeldman commented on #4126
Ping

[2018-04-03 13:38] taroyutao opened #4185 "client.Resources.UpdateByIdAsync Exception"
when i use method to update tag on notification hub：
client.Resources.UpdateByIdAsync("/subscriptions/e0fbea86-6cf2-4b2d-81e2-9c59f4f96bcb/resourceGroups/yuvmtest/providers/Microsoft.NotificationHubs/namespaces/yueast/notificationHubs/yueast", "2016-03-01", para).GetAwaiter().GetResult();

**it works well and no exception throw out.**

but when i use method to update tag on notification hub's name

[2018-04-04 23:28] shahabhijeet commented on #4010
@JoyceLiang we will have a release out soon for VS 2017.
Stay tuned for specific dates.
Apologies for the delay in responding.

[2018-04-05 00:39] mathewc opened #28668 "Listener Stop Handling improvements"
In the listener [here](https://github.com/Azure/azure-functions-eventgrid-extension/blob/332f71b9104b3eefbe1131c877800011d925418a/src/EventGridExtension/EventGridListener.cs#L27), Stop/Cancel/Dispose are noops and there is a TODO in the code.

When the listener is stopped, shouldn't the listener be removed from the listener store?

Also thinking of this in the context of https://github.com/Azure/a

[2018-04-05 12:50] torhovland opened #4190 "Getting "KeyVaultErrorException: Access denied" in Azure web app"
Hi!

I'm successfully retrieving a Key Vault secret in an ASP.NET Core 2 web app when running locally, but when deployed to an Azure web app, I get this:

[code]

In Startup.cs, I'm doing this:

[code]

I have more or less followed this:
https://jeremylindsayni.wordpress.com/2018/03/19/simplifying-azure-key-vault-and-net-core-web-app-includes-nuget-package/

To be precise, I have enabled "Managed

[2018-04-05 14:26] torhovland commented on #4190
I think I found the problem: When adding the access policy, there's a field for "Select principal" and another for "Authorized application". In both cases the app name can be selected, but the trick is to leave the second one blank!

This could certainly be improved with some extra guidance, and a more helpful error message.

[2018-04-05 18:41] shahabhijeet commented on #4022
@MiYanni really good suggestion.

[2018-04-05 18:41] shahabhijeet commented on #4020
Assigning to @vivsriaus

[2018-04-05 18:42] shahabhijeet commented on #4016
@dweggemans can you provide me a repro for the deadlock you are experiencing.
This helps in knowing the scenario and making sure such regression is never introduced in this code base.

[2018-04-05 18:44] shahabhijeet commented on #3985
@q3blend if this is fixed, please add a comment that this has been fixed so that we can close this issue.

[2018-04-05 20:39] dsgouda commented on #4030
@yoshimasak Could you please provide the call stack and exception details here.

[2018-04-06 08:38] dragonfly91 opened #4193 "Unable to authenticate Compute SM SDK using AAD Token"
Hi,

I’m trying to authenticate the Compute Service Management SDK (to access Classic Cloud Services) using AAD token but this fails with forbidden error. I’m able to authenticate the Compute Service Management SDK successfully with certificate. Also, when I tried to authenticate Compute Resource Manager SDK with the same AAD token, it work fine again.

  | AAD Token | Cert
-- | -- | --
Compute Se

[2018-04-06 21:13] SeanFeldman commented on #4126
Thank you @varunsh-msft
Not sure what do you mean by "key scenario for this library". Hope it's not to stay in preview indefinitely.
I'll close the case and follow up on #4121 which is more pressing.

Thank you.

[2018-04-06 21:13] #4126 closed

[2018-04-06 21:43] SeanFeldman commented on #4121
@varunsh-msft TL;DR: You don't bump the minor unless there's a released version.

This library was never RTMed, so according to SemVer you could use `0.X.Y-*` versioning until you're ready to release `1.0.0`. Once `1.0.0` is released, you'd be working towards `2.0.0-preview` (or `-alpha`, `-beta`, `-rc`). In case you need to backport a feature, to and **already released final `1.0.0`**, you'd do `

[2018-04-06 22:31] dsgouda commented on #3981
@leftler The package version published from the psSdkJson6 codebase ([here](https://github.com/Azure/azure-sdk-for-net/blob/3bd40fa47229b3a9163ffefc05cbc5f591c85f51/src/SDKs/ApiManagement/Management.ApiManagement/Generated/IUserOperations.cs)) is 4.0.0-preview which, as expected has the `CreateOrUpdateWithHttpMessagesAsync` or `DeleteWithHttpMessagesAsync` methods in `Microsoft.Azure.Management.Ap

[2018-04-06 22:33] dsgouda commented on #3981
If you have any further issues while using the package, kindly reopen the issue and provide detailed repro steps.

[2018-04-06 22:33] #3981 closed

[2018-04-06 22:43] dsgouda commented on #3970
The `IDeploymentsOperations` and `IDeploymentOperations` are auto-generated by AutoRest based on the config file [here](https://github.com/Azure/azure-rest-api-specs/blob/e759c7386ca8c76cdbc5d4277ead9c17b006c7f9/specification/resources/resource-manager/readme.md) The REST spec must be updated to either modify the operationId [here](https://github.com/Azure/azure-rest-api-specs/blob/e759c7386ca8c76

[2018-04-06 22:52] dsgouda commented on #3994
@jeroenwo The `ListAsync` method is basically a wrapper around the `ListWithHttpMessagesAsync` method [here](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Monitor/Management.Monitor/Generated/IMetricsOperations.cs#L83). You can wrap the function call just like the extension method does [here](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Monitor/Manageme

[2018-04-06 22:52] #3994 closed

[2018-04-09 04:51] gplwhite opened #4199 "Cannot send anonymous objects using EventGridClient"
Hello,

I am attempting to use the EventGridClient class to send some events to EventGrid. I was unsuccessful when it came to sending custom data in the data property of the EventGridEvent. EventGrid would just receive a null value. If I set the data property to a string value, it was received by EventGrid correctly, however using a complex object, the object was not serialized to JSON.

I've trac

[2018-04-09 17:57] shahabhijeet commented on #3756
This does not repros. You shuold be able to build without any issues.
If you still see the issue, reopen this issue and can you provide me a repro.

[2018-04-09 17:57] #3756 closed

[2018-04-09 17:58] shahabhijeet commented on #3715
This has been checked in and now SDKs will process both headers.

[2018-04-09 17:58] #3715 closed

[2018-04-09 17:59] shahabhijeet commented on #3645
Fixed this

[2018-04-09 17:59] #3645 closed

[2018-04-09 18:16] shahabhijeet commented on #4193
@hyonholee can you confirm if Service Management SDK supports AAD token auth.

[2018-04-09 18:32] shahabhijeet commented on #4185
@taroyutao can you open an issue in
https://github.com/Azure/azure-libraries-for-net for fluent related issues.

[2018-04-09 18:32] #4185 closed

[2018-04-09 18:33] shahabhijeet commented on #4170
@nboettcher can you open an issue in the below repo
https://github.com/Azure/azure-libraries-for-net for fluent related issues.

[2018-04-09 18:33] #4170 closed

[2018-04-09 19:12] MisinformedDNA opened #4200 "Description link goes to an image"
The repo description links to https://www.visualstudio.com/features/azure-tools-vs, which redirects to https://www.visualstudio.com/wp-content/uploads/2016/06/azure.png.

It doesn't make any sense so I assume there was a copy/paste error somewhere.

[2018-04-09 21:17] dsgouda commented on #3965
@shahabhijeet I have added a couple of test cases trying to deserialize the CloudException object on FullDesktop framework [here](https://github.com/Azure/azure-sdk-for-net/pull/4189/) but was not able to replicate this issue.
@JohnSchmeichel Could you please provide more details about your project so we can take a look.

[2018-04-12 01:29] AaronFixer opened #4210 "CheckExistenceByIdWithHttpMessagesAsync returning 405 Method Not Allowed"
I have a task running against several resources in my system and I am checking if they exist. I am calling the following async method. This call uses service principal credentials in the `ResourceManagement Client`.

    var resourceExists = await resourceClient.Resources.CheckExistenceByIdWithHttpMessagesAsync(resource.Id, resourceTypeGroup.ApiVersions[0]);

This makes the following API call:

ht

[2018-04-12 02:47] AaronFixer commented on #4210
This actually seems to be a problem with the endpoints. Not the library, using a HEAD method returns the same error for me with the REST API.

[2018-04-12 05:09] #4210 closed

[2018-04-12 18:12] dsgouda commented on #4165
Feature is Merged.

[2018-04-12 18:12] #4165 closed

[2018-04-12 18:28] varunsh-msft commented on #4121
As per semver, a version of a NuGet package corresponds to a public API.
1.0.0 is supposed to meet a public API 1.0.0. Its associated preview version 1.0.0-preview is an attempt to meet the public API, but may not meet it, and so it is in preview.
1.1.0 is supposed to meet a public API 1.1.0, which is backwards compatible addition to public API 1.0.0. Its associated version 1.1.0-preview is an att

[2018-04-12 23:35] bording commented on #4121
@varunsh-msft If I understand what you're saying correctly, there will be a 1.0.0 stable package coming at some point, even though you've already released a 1.1.0 preview package? That is what is confusing about the current package release strategy.

The 1.0.0 preview to 1.1.0 preview package release makes it seem like you've skipped releasing 1.0.0 stable altogether, which I think is what @SeanFe

[2018-04-13 20:24] bospoort commented on #3967
I can't really tell from the code above which EventHubClient is used in either situation (there are two: one in Microsoft.Azure.EventHubs namespace, the other in Microsoft.ServiceBus.Messaging). The ConnectionString builders in those two assemblies result in a slightly different format, one containing a trailing semicolon. If you use the wrong ConnectionStringBuilder, you get the error.

It would

[2018-04-13 20:50] dsgouda opened #4222 "Add options for SdkGenerationDirectory, tags and Namespace in generateTool.ps1"
In order to enable mutli api versions, we should enable options like
- `SdkGenerationDirectory`, the exact output directory where the generated code should go
- `SdkRootDirectory` which should replace `SdkDirectory` which is the root directory in `csharp-sdks-folder`
- `Namespace` which should override the namespace provided in config file
- `Tag` which should enable picking any specific tag in th

[2018-04-13 21:16] dsgouda commented on #4222
Also add a check for private repos and throw an error since autorest cannot generate code from a private repo spec

[2018-04-13 22:09] dsgouda commented on #4166
PR merged.

[2018-04-13 22:09] #4166 closed

[2018-04-16 05:36] cdfwork opened #4225 "Broken link on Azure github landing page"
The link at the top of this github page (/Azure/azure-sdk-for-net) is broken.  Link is "https://www.visualstudio.com/features/azure-tools-vs" and is a 404.

[2018-04-16 17:07] varunsh-msft commented on #4169
Thanks for the feedback. I agree, the TenantId should not be mandatory if it will not be used in some scenarios. We will make a change in a future release to make it optional in the connection string, and throw in GetTokenAsync, if it is needed for that scenario.

[2018-04-16 17:11] varunsh-msft commented on #4121
1.0.0 will be released. I cannot comment on the timelines as of now. After thinking some more, I can see the value of @SeanFeldman's suggestion. Let me spend more time to decide how to name future preview packages, and get back to you.

[2018-04-16 17:13] varunsh-msft commented on #4091
Thanks for reporting! This will be fixed in a future release.

[2018-04-16 18:07] dsgouda opened #4227 "Jenkins not picking private repo PRs"
Jenkins is not running builds against private repo PRs. Needs to be investigated and fixed.

[2018-04-16 21:36] shahabhijeet opened #4231 "Generate SDK script improvements"
- Allow a way to get rid of relative path to master generate.ps1
- Allow to generate meta data into .cs file into the sdk directory rather inside _metadata directory
- For incorrect meta data, it should fail build.

Fields needed in SDK_*.cs
AutoRestVersion =
AutoRestbootStrapversion
AutoRestCmdUsed
GithubForkname
GithubBranchName
GithubCommidId
GenerationErrorDetected

Cost: 3

[2018-04-16 21:48] shahabhijeet opened #4232 "Generate project files"
This task should be integrated into generator or it has to be a post generation or pre-built step

- Ability to generate .csproj for new RPs
- Ability to check if .csproj has the right data and fix it after every generation
- Ability to check if all .csproj are available for existing RPs, if not create a new one.

6 days

[2018-04-16 22:00] shahabhijeet opened #4233 "Generate SDK and compare with generated SDK"
Currently there is no easy way to make sure the generated SDK in PR is actually generated from the spec repo.
Have a way to generate SDK as part of the CI and compare it with the PR generated SDK.
Work for breaking change tool

[2018-04-17 00:38] hovsepm opened #4234 "EnumMemeber containing comma in the value field is not deserialized correctly but is serialized correctly"
Checked with following runtimes:
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure/3.3.12
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/2.3.11

The enum is generated like [this](https://github.com/Azure/azure-libraries-for-net/blob/Fluent-v1.8/src/ResourceManagement/Compute/Generated/Models/ResourceIdentityType.cs#L20):
[code]
if the value SystemAssignedUserAssigned o

[2018-04-17 17:39] shahabhijeet commented on #4193
@dragonfly91 the link below suggested by @hyonholee  if the below link helps let us know and we can close the issue
https://msdn.microsoft.com/en-us/library/azure/ee460782.aspx

[2018-04-17 19:46] CamSoper opened #4235 "Ref docs /// issue: KeyVaultClientExtensions.GetSecretAsync Method (Microsoft.Azure.KeyVault) Does not document exceptions thrown"
@paulhickman-a365 commented on [Fri Apr 06 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/573)

Can you add documentation on the exceptions thrown by extension methods. This is present for the normal methods of the KeyVaultClient but not the extensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac49d6

[2018-04-17 20:02] CamSoper opened #4236 "Ref docs /// issue: DeploymentPropertiesExtended.ProvisioningState Property (Microsoft.Azure.Management.ResourceManager.Models) ProvisioningState Documentation Needs Improvement"
@thepenguinmaster commented on [Wed Apr 04 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/568)

Because provisioning state is a string which is ambiguous, it would be important to list the possible values, or provide an enumeration for this field. At the very least, possible values for deployment states should be listed.
"Provisioning State (Get) - Gets the state of provisioning" is n

[2018-04-17 20:04] CamSoper opened #4237 "Ref docs /// issue: CloudJob Class (Microsoft.Azure.Batch) Missing information about Bound/Unbound state of CloudJob"
@marcelvb commented on [Wed Apr 04 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/567)

Hi,

I have run into some issues with creating CloudJobs and CloudTasks from C#. I got errors such as:

[code]
[code]

[code]

I'm confused when and when not I can read/write properties in relation to calls to:

- `JobOperations.ListJobs()`
- `JobOperations.GetJob()`
- `JobOperations.CreateJob()`
-

[2018-04-17 20:15] CamSoper opened #4238 "Inline ref-doc (///) issue: VirtualMachineExtension.ForceUpdateTag Property (Microsoft.Azure.Management.Compute.Models) Valid Values for ForceUpdateTag"
@timomta commented on [Mon Apr 02 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/563)

The property says it is a string, but it is not clear what the valid values for it are? What do you set it do? How do you use the property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d21c75a-6859-0f6b-d1e6-670474faa

[2018-04-17 20:16] CamSoper opened #4239 "Inline ref doc /// issue: Microsoft.Azure.Management.DataFactory Better error handling and documentation for deleting elements of an ADF"
@Goldensunboy commented on [Mon Apr 02 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/561)

When using Microsoft.Azure.Management.DataFactory operations extensions functions from TriggersOperationsExtensions, PipelinesOperationsExtensions, DatasetsOperationsExtensions or LinkedServicesOperationsExtensions to respectively delete elements of an ADF (using the Delete function), if there

[2018-04-17 21:50] dsgouda commented on #4227
We need to change authentication type to https instead of ssh in Jenkins to enable this. Resolved now on worker machines.

[2018-04-17 21:50] #4227 closed

[2018-04-17 21:51] dsgouda commented on #4222
Moving forward, we need to make the generateDotNetSdkCode.psm1 commandlet self contained and get rid of generate.ps1

[2018-04-18 00:29] TonyHenrique commented on #4190
I am also unable to sucessfully access my Key Vault Secret from my Azure Function (v2)
<br>
I am getting Access Denied
<br>
See https://stackoverflow.com/questions/49836145/how-to-use-azure-key-vault-from-azure-functions-v2

[2018-04-18 09:16] dragonfly91 commented on #4193
Hi, I've tried this and it didn't work. I've sent the details in mail.

[2018-04-18 16:51] shahabhijeet commented on #4234
Would you mind trying by editing the code and adding the [DataMember] attribute on the ResourceIdentityType and let me know if that makes it deserialize it appropriately.

[2018-04-18 17:27] hovsepm commented on #4234
Does not help.
[code]

Same issue. BTW `[DataMember] ` is not applicable to the class or enum definition. Only to it's properties/members.

[2018-04-19 12:29] rewilson opened #4248 "AzureRegions enumeration in TextAnalytics is missing at least one value"
In `Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models`, there are five enum values:

[code]

However, `australiaeast` is also a supported endpoint for the TextAnalytics API, and so should be included in this enum.

[2018-04-19 15:36] dipinbehl opened #4249 "Swagger validation fails for a parameter already defined in the endpoint definition"
While updating an already existing API in the APIM via a powershell script, an error was thrown as '_Parsing error(s): All parameters in path template MUST be defined in path parameters collection. Not matched parameters names: Par1._'.

The scenario being that there exists two endpoints in my swagger definition as
[code]

 and

[code]

The swagger definition was generated with the help of swashbu

[2018-04-20 01:04] brjohnstmsft commented on #3441
It took longer than I thought, but we finally shipped a new SDK version with a hopefully comprehensive fix for the JSON.NET compatibility issues. It's now [available on NuGet](http://aka.ms/search-sdk). Closing this issue, hopefully for the last time. Thanks for your patience.

[2018-04-20 17:35] stevenke commented on #1243
@ganeshpande can you please elaborate on your answer.  I'm running into a similar situation now (trying to work with Azure Gov) so I need to specify a different base URI.  Is something else require when doing this?

[2018-04-24 21:25] shahabhijeet opened #4263 "IfDef FullDesktop directive to work on non-windows"
Find a proper way to IfDeg FullDesktop so that it works on non-windows environment.
Currently FullDesktop assumes two things:
1. That it is full desktop .net
2. That it is running on Windows

#2 should not be assumed and if needed guard with appropriate ifDef if required.

The code in question is the following code block
https://github.com/Azure/azure-sdk-for-net/blob/d6c9636ef100346afee80619beb19

[2018-04-24 21:28] shahabhijeet commented on #3965
Please open a new issue with repro code if you are still experiencing this issue.

[2018-04-24 21:28] #3965 closed

[2018-04-24 21:28] #4012 closed

[2018-04-26 08:11] FirePho opened #4269 "ContinuousWebJobStatus does not have Disabled status"
Microsoft.Rest.SerializationException: Unable to deserialize the response. ---> Newtonsoft.Json.JsonSerializationException: Error converting value "Disabling" to type 'System.Nullable`1[Microsoft.Azure.Management.WebSites.Models.ContinuousWebJobStatus]'. Path 'properties.status', line 1, position 389. ---> System.ArgumentException: Requested value 'Disabling' was not found.

[2018-05-01 07:01] peheje opened #4272 "Returning 201 from POST gives error "Operation returned an invalid status code 'Created'""
Related SO:
https://stackoverflow.com/q/42634122/2781524

Calling a POST that:
`return Created($"api/Value/{id}, id)`
Which is a status code 201 will give caller exception:

Exception: Exception caught: 'Microsoft.Rest.HttpOperationException' in Program.exe ("Operation returned an invalid status code 'Created'"). Exception caught: 'Microsoft.Rest.HttpOperationException' in Program.exe ("Operation

[2018-05-01 18:12] hovsepm opened #4273 "Unable to create AuthenticationException with just a message string."
https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/ClientRuntime.Azure.Authentication/AuthenticationException.cs#L37

this call will be redirected to internal override
[code]
passing `null` for innerException parameter. And will obviously throw null reference exception just in the
` base(string.Format(CultureInfo.CurrentCulture, message, innerException.Message)` line.

[2018-05-02 06:29] pppchris opened #4275 "Intermittent System.NullReferenceException PrimaryIPConfiguration.ListAssociatedLoadBalancerInboundNatRules();"
Hey,

Task.Run(() => networkInterface.PrimaryIPConfiguration.ListAssociatedLoadBalancerBackends()); will intermittantly throw exceptions and then re-running will suddenly work.

Exception attached.
[ExceptionC#.txt](https://github.com/Azure/azure-sdk-for-net/files/1966125/ExceptionC.txt)

[2018-05-02 19:06] joepeavey opened #4277 "When"
![certrequestpolicy x509certificateproperties](https://user-images.githubusercontent.com/8247176/39543883-37d32a6e-4e01-11e8-8e8a-5976d722f045.png)
![certrequestpolicy secretproperties](https://user-images.githubusercontent.com/8247176/39543884-37e77492-4e01-11e8-8bae-8b81b5c5ede9.png)
![certrequestpolicy keyproperties](https://user-images.githubusercontent.com/8247176/39543885-37fa5062-4e01-11e8-

[2018-05-02 19:29] antoinne85 commented on #4199
I've also hit a snag regarding the `ReadOnlyJsonContractResolver`.

In my case, I was attempting to send an event whose `Data` was an object with a constructor and get-only properties (e.g. `public Guid AccountId {get; }`).

What I discovered was that when these events went across the wire, the `Data` property on the `EventGridEvent` had any get-only properties omitted.

In researching the issue,

[2018-05-02 19:58] mjsabin01 opened #4278 "Get TaskCanceledException when calling Azure APIs"
I have noticed that in my App we have started to receive a large number of TaskCanceledException when using the managed APIs to call Azure endpoints.  From my logging I see about a 90 secs goes by and I get the exception.  Here is the stack trace:

`
System.Threading.Tasks.TaskCanceledException: A task was canceled.
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)

[2018-05-02 22:58] shahabhijeet opened #4279 "Rearrange all admin project and management projects for AzureStack"
Currently AzureStack Admin projects are all under src\AzureStack directory.
Since management projects are beginning to light up under AzureStack, it's time to rearrange all projects like below
- src\AzureStack\Admin\AzureBridgeAdmin, BackupAdmin etc
- src\AzureStack\Management\Subscription etc

[2018-05-03 05:18] daggmano commented on #4248
While I am particularly after AustraliaEast as well, it looks like TextAnalytics is available across a large swathe of regions now: https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c7

[2018-05-04 06:28] HenrikR-Reviso commented on #3670
@shahabhijeet Please remove me as assigned as I have no way of fixing the issue or in any way moving this along

[2018-05-04 14:05] vithal-wadje commented on #4278
Same exception I am getting while getting the list of linked IoT hubs to the DPS  using package  Microsoft.Azure.Management.DeviceProvisioningServices in IotDpsClient get method.

[2018-05-04 14:35] deathly809 commented on #4278
@mjsabin01 @vithal-wadje  Have you watched the network to see if the error is coming from Azure vs. an SDK issue?  Or are you saying that the SDK should output a better error?

[2018-05-04 15:09] mjsabin01 commented on #4278
My errors are coming from a deployed Service Fabric cluster in Azure.    I only see it about a 10 times a day in my service. I guess the question what is the underlying root cause.  Does azure perform some throttling that would cause this to happen?

[2018-05-04 15:37] deathly809 commented on #4278
@mjsabin01 The throttling error message you get is very specific, you would know.  Sounds like some type of exception on the service side of things.

[2018-05-04 15:41] vithal-wadje opened #4287 "Operation returned an invalid status code 'InternalServerError' while getting IoT hub list using Microsoft.Azure.Management.DeviceProvisioningServices"
I am using **Microsoft.Azure.Management.DeviceProvisioningServices** and **Microsoft.Azure.Management.ResourceManager.Fluent** to get the list of linked IoT hubs to the DPS , but while calling the IotDpsClient GetAsync & Get method its throwing **Operation returned an invalid status code 'InternalServerError'** after 20 to 30 seconds of wait . I have increased task timeout and all but still has th

[2018-05-04 16:31] preshi commented on #4190
@torhovland  A very big thanks .You made my day. Definitely need guidance here

[2018-05-07 07:06] vithal-wadje commented on #4278
@deathly809 Its coming from SDK itself , I have raised the issue in detail , if you get time please check & let me know if you have any solution on it [https://github.com/Azure/azure-sdk-for-net/issues/4287](url)

[2018-05-07 12:51] komaflash commented on #3333
Ping. Any updates to your plans?

[2018-05-07 14:08] christian-vorhemus opened #4291 "Azure Search: MaxAgeInSeconds not set in code causes "null" value in portal"
I create an index with the Azure Search .NET SDK like so

[code]
Everything runs fine. When I open the Azure Portal and go to the Azure Search Index CORS settings, I see this:

<img src="https://user-images.githubusercontent.com/3229424/39705922-13829d4e-5210-11e8-811e-d350c05f8025.png" width="340" />

On the one hand, this makes sense because I didn't set "MaxAgeInSeconds" in the code, on the oth

[2018-05-07 17:12] deathly809 commented on #4287
[code]

So you are saying that for an older version you don't get this error?

So it looks like you are getting an error from the Resource Provider.  Have you contacted support with the error above?  Without knowing exactly what is happening on the RP side makes it hard to determine if it is because the SDK is wrong or the RP is wrong.

[2018-05-07 17:13] deathly809 commented on #4278
I looked at the link.  Your error is coming from the RP, I am still not sure why you think this is on the SDK side.  Unless you are saying that the SDK has been created incorrectly?

[2018-05-08 06:54] vithal-wadje commented on #4287
Thanks @deathly809  for your response , yes when downgrade Microsoft.Rest.ClientRuntime.Azure.Authentication its work but if Newtonsoft.Json & System.Net.Http  are already installed in solution which requires to run other module of projects & later on we install Microsoft.Azure.Management.DeviceProvisioningServices and Microsoft.Azure.Management.ResourceManager.Fluent its give error . one thing I

[2018-05-08 09:46] Bubeee commented on #3933
@nphmuller  Hi, have you've resolved this issue?

[2018-05-08 15:41] deathly809 commented on #4287
@vithal-wadje The only thing I can think of is that the new NewtonSoft library serializes differently than what is expected on the other end.  Good luck!

[2018-05-08 19:53] Comma8 opened #4296 "StreamingEndpoints.Get returns null"
When trying to Get a StreamingEndpoint by name, I get back null.  The following code will result in endpoint being null but exists being true.

[code]

[2018-05-09 01:26] varunsh-msft commented on #4121
Stable version 1.0.0 and a bug fix 1.0.1 were released few days back. In the future, for this library, we will follow your recommendation for preview release versioning. Thanks!

[2018-05-09 01:29] brjohnstmsft commented on #4291
@christian-vorhemus Thanks for reporting this. Without having investigated further, I speculate that the REST API does not return the `maxAgeInSeconds` property if it has never been set, and the Azure portal interprets the missing property as "null". This doesn't make for a smooth portal experience. I'll discuss with the team what the best solution is and get back to you.

[2018-05-09 04:12] SeanFeldman commented on #4121
Fantastic, thank you so much.

@varunsh-msft it would be nice to have releases accompanied with what has changed, similar to [1.0.1 release notes](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.0.1) . For example, [1.1.0-preview](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.1.0-preview) has no notes at all.

[2018-05-09 05:01] brjohnstmsft opened #4300 "[Azure Search] It is easy to misuse IndexBatch"
There are two intended usages of `IndexBatch`: to index instances of the `Document` class, or to index instances of a customer model class in the form of a DTO (data transfer object). However, sometimes developers use the wrong type with `IndexBatch`, such as `string`. In the case of `string`, the intent is to treat raw JSON strings as documents, but this runs counter to how the .NET SDK works. Th

[2018-05-09 13:35] #4287 closed

[2018-05-09 13:39] vithal-wadje commented on #4287
@deathly809 thanks you so much for your response , after some trouble shooting I removed application insight packages from my solution then issue is resolved . Its surprise what is the relation between application insight &  Microsoft.Azure.Management.DeviceProvisioningServices , Please reproduce this issue & check , if need any details , Please let me know .

[2018-05-09 16:48] shahabhijeet opened #4301 "Update Azure Gov Cloud URLs"
The Azure AD authority for Azure Government is changing from
https://login-us.microsoftonline.com
to
https://login.microsoftonline.us

This is currently hard coded in Authentication library.

[2018-05-11 05:55] gppanayotov opened #4310 "Package "Microsoft.Rest.ClientRuntime" fails to install from nuget.org"
When you try to install "Microsoft.Rest.ClientRuntime" from nuget.org it fails with error that it can't find one or more of the dependent packages "System.Reflection.Emit.Lightweight"

Looking at https://www.nuget.org/packages/System.Reflection.Emit.Lightweight/4.0.0 , this package has been unlisted.

in order to reproduce run "install-Package -Source "http://www.nuget.org/api/v2/"  Microsoft.Rest

[2018-05-11 14:17] abishekreddy opened #4311 "LUIS sdk nugets missing"
The RuntimeAPI nuget `Microsoft.Azure.CognitiveServices.Language.LUIS (2.0.0) `and the ProgrammaticAPI nuget `Microsoft.Azure.CognitiveServices.Language.LUIS.Programmatic (2.0.0)` are missing from the public nuget repository.

[2018-05-12 21:31] Cloudmersive commented on #3478
This is so crappy that you don't have this.  Why is this not added yet??

[2018-05-13 01:31] shahabhijeet opened #4314 "Move all build assets out main branch"
- Let's start copying the following files from build tools branch
1. build.proj
2. Directory.Build.props
3. Directory.Build.targets
4. test.props
5. AzSdk.props

- Ignore above files in .gitignore
- Update bootstrapper binary in this branch.

[2018-05-14 16:42] qamessenger opened #4316 "When Are you going to fix the Method not found exception"
This issue has not been resolved

System.MissingMethodException : Method not found: 'System.Threading.Tasks.Task`1 Microsoft.Rest.Azure.Authentication.UserTokenProvider.LoginSilentAsync(System.String, System.String, System.String, System.String, Microsoft.Rest.Azure.Authentication.ActiveDirectoryServiceSettings, Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache)'.

This occurs when using

[2018-05-14 20:50] adwhiteMS opened #4317 "Getting AzureServicesAuthConnectionString to work with CertificateThumbprint"
I'm trying to get access to my Keyvault in an Azure Functon using Managed Service Identity's when debugging locally.  I followed the instructions found here:

https://docs.microsoft.com/en-us/azure/app-service/app-service-managed-service-identity

and here

https://github.com/Azure-Samples/app-service-msi-keyvault-dotnet

 I have configured AzureServicesAuthConnectionString in my functions local.s

[2018-05-15 08:56] seanoflynn-tie opened #4319 "Updating a function app deletes all the functions"
I'm trying to update the application settings for a function app. I can't seem to do any updates to a function app without it wiping all the functions and then I have to redeploy to the function app again. It seems to update the WEBSITE_CONTENTSHARE setting of the function app on every update - I can't seem to overwrite this using the sdk.

Is that the intended behavior or is there another way to

[2018-05-15 16:40] dsgouda commented on #4301
Addressed here https://github.com/Azure/azure-sdk-for-net/pull/4303

[2018-05-15 16:40] #4301 closed

[2018-05-15 17:57] adwhiteMS commented on #4317
Hello Varun,

I’m using Microsoft.Azure.Services.AppAuthentication 1.1.0-preview.  Is that the latest version?  Or are you asking about a different library?

I don’t have a good reason why my team went down the service principal route.  I agree managing the cert is a pain, but before I start reworking stuff I would like to try and get this working.

On a side note, I have another nuget package tha

[2018-05-15 18:48] aaronla-ms opened #4323 "Support for IMDS (AppAuthentication)"
Could you add support for IMDS to AzureServiceTokenProvider (AppAuthentication)? The MSI extension on localhost:50342 is slated for deprecation, and we can't get it running on some of our VMs anyway. Would prefer to use the IMDS service as described [here](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview) instead.

Pardon if this is already supported throug

[2018-05-15 20:40] adwhiteMS commented on #4317
@varunsh-msft,   We are already targeting .NET 4.6.2, due to an issue we are having.  What is interesting after reading issue [752](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/752), the cert we are trying to use has its private key marked as not exportable, but according to issue 752 this problem should only be in 4.7.X   Any other ideas?

Right now I'm using version

[2018-05-16 00:19] dsgouda opened #4325 "Investigate and Restrict projects/jobs running on signing machines"
Looks like a bunch of jobs are running on our CI signing machines (like nightly builds and other jobs not related to signing or publishing) we need to figure out a way to secure the CI machines so they run jobs only related to signing and publishing

[2018-05-16 05:28] yaprigal opened #4326 "VideoAnalyzerPreset - Error while using video without Audio"
Hi,
I was successfully executed this tutorial for the new v3 api
https://github.com/Azure-Samples/media-services-v3-dotnet-tutorials
but when I am trying to upload a video without an audio the Media Services job is failing with exception saying "No audio stream can be extracted from the source.
Is there a preset that need to be pass in order to avoid this failure?

Thanks

[2018-05-17 02:10] msfcolombo opened #4331 "Key Vault credentials object not using supplied client or handlers to obtain challenge"
When I create a `KeyVaultClient` using one of the constructors that accept a `KeyVaultClient.AuthenticationCallback` parameter and either an array of `DelegatingHandler` or an explicit `HttpClient`, I can see that my handlers/client are used in every request, **except** in the pre-authorization code. This prevents customization of certain requests.

It's particularly bad for logging, because if we

[2018-05-17 13:25] jfshark commented on #3699
Hello!
@danielmarbach is there a workaround? I have exactly the same issue, and no idea ATM how to fix it.

[2018-05-17 13:31] danielmarbach commented on #3699
Not sure because the library I was trying to use did drop the reference to the value tuple in the end.

[2018-05-17 15:08] deckertron9000 opened #4334 "ServiceBusManagementClient CreateIfNotExists"
In the Microsoft.ServiceBus.Messaging library there used to be a method to create a queue or topic if it did not already exist. In the Microsoft.Azure.Management.ServiceBus library there is only a CreateOrUpdate method.

Does this new CreateOrUpdate overwrite all existing settings of a queue or topic if it already exists? If so, are there any plans to add in the old CreateIfNotExists functionality

[2018-05-17 23:10] dsgouda commented on #4263
@shahabhijeet investigated a little here and looks like the only way we can detect the operating system is in the csproj files, which means we can compile code in only 2 modes, one is for the current operating system on which the code is being compiled on or cross plat (AnyCPU)

[2018-05-19 11:56] Bubeee commented on #3933
@nphmuller hi,

Do you run in this issue in visual studio? If yes, be sure, that you authenticated in it with appropriate account.
If no, I've managed to resolve that (adding Functions which consumed KeyVault to MSI https://docs.microsoft.com/en-us/azure/app-service/app-service-managed-service-identity and then - provision access to KeyVault in its Access Policies).

Also, there is issue which I'v

[2018-05-21 12:43] greenallparagonuk opened #4344 "AutoCorrect not working as detailed: TextModeration"
TextModeration: ScreenText

I was running some testing to find out if this service could help my project, but found that the examples are not what really happens. I used the text from "https://docs.microsoft.com/en-gb/azure/cognitive-services/content-moderator/text-moderation-api#auto-correction" which is "The qu!ck brown f0x jumps over the lzay dog."

and when I test the auto-correct with this te

[2018-05-21 15:28] ronak25 commented on #4311
I added Kirthi and David Li to the thread. My team doesn't own Luis.

Ronak.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shaswat Rungta <notifications@github.com>
Sent: Monday, May 21, 2018 3:24:44 AM
To: Azure/azure-sdk-for-net
Cc: Ronak Shah; Mention
Subject: Re: [Azure/azure-sdk-for-net] LUIS sdk nugets missing (#4311)

hi @ronak25<https://na01.safeli

[2018-05-21 21:50] cahann commented on #4311
we are working on exposing this in the coming couple of months

[2018-05-21 21:57] dsgouda commented on #4222
Addressed in PRs

[2018-05-21 21:57] #4222 closed

[2018-05-22 11:37] nphmuller commented on #3933
@Bubeee Yes, I'm debugging through Visual Studio, but I use Azure CLI for the authentication. For now we only load the secrets during development time with the `AzureServiceTokenProvider` class. Staging and Production values we populate in our CI/CD environment for now.

So this issue is only during development time, which means MSI is not applicable.

Thanks for the help though. Appreciate it! :)

[2018-05-22 18:01] shahabhijeet commented on #989
@sokhalsa if this is still an issue, please open a new issue to track it.

[2018-05-22 18:01] #989 closed

[2018-05-22 18:02] shahabhijeet commented on #1009
@blumu if this is still an issue, can you open a new issue in order to track it.

[2018-05-22 18:02] #1009 closed

[2018-05-22 18:03] shahabhijeet commented on #1057
@brigs ServiceBus has moved on from Hyak to a new code generator.
Let us know if you see any issue, if yes please open a new issue to track it.

[2018-05-22 18:04] shahabhijeet commented on #1068
@Brad-Christie please open a new issue, if the problem still exists.

[2018-05-22 18:04] #1068 closed

[2018-05-22 19:55] shahabhijeet commented on #1069
@teslavitas can you open a new issue if this problem still persists.

[2018-05-22 19:55] #1069 closed

[2018-05-22 19:55] #1080 closed

[2018-05-22 19:56] shahabhijeet commented on #1094
@djfr please open a new issue if the problem still exists/repros.

[2018-05-22 19:56] #1094 closed

[2018-05-22 19:57] shahabhijeet commented on #1096
@kzehrer please open a new issue if the problem still exists/repros.

[2018-05-22 19:57] #1096 closed

[2018-05-22 19:57] shahabhijeet commented on #1111
@paragneve please open a new issue if the problem still exists/repros.

[2018-05-22 19:57] #1111 closed

[2018-05-22 19:57] shahabhijeet commented on #1126
@djfr please open a new issue if the problem still exists/repros.

[2018-05-22 19:57] #1126 closed

[2018-05-22 19:57] shahabhijeet commented on #1136
@Sam7 please open a new issue if the problem still exists/repros.

[2018-05-22 19:57] #1136 closed

[2018-05-22 19:58] shahabhijeet commented on #1149
@rogerguess please open a new issue if the problem still exists/repros.

[2018-05-22 19:58] #1149 closed

[2018-05-22 19:59] shahabhijeet commented on #1169
@dtessier82 please open a new issue if the problem still exists/repros.

[2018-05-22 19:59] #1169 closed

[2018-05-22 20:01] shahabhijeet commented on #1175
@configdude please open a new issue if the problem still exists/repros.

[2018-05-22 20:01] #1175 closed

[2018-05-22 20:01] shahabhijeet commented on #1191
@davecader please open a new issue if the problem still exists/repros.

[2018-05-22 20:01] #1191 closed

[2018-05-22 20:01] #1197 closed

[2018-05-22 20:02] shahabhijeet commented on #1198
@pjirsa please open a new issue if the problem still exists/repros.

[2018-05-22 20:02] #1198 closed

[2018-05-22 20:03] shahabhijeet commented on #1208
@davecader please open a new issue if the problem still exists/repros.

[2018-05-22 20:03] #1208 closed

[2018-05-22 20:03] shahabhijeet commented on #1217
@ammaroff please open a new issue if the problem still exists/repros.

[2018-05-22 20:03] #1217 closed

[2018-05-22 20:03] shahabhijeet commented on #1225
@levalencia please open a new issue if the problem still exists/repros.

[2018-05-22 20:03] #1225 closed

[2018-05-22 20:03] shahabhijeet commented on #1234
@FreekPaans please open a new issue if the problem still exists/repros.

[2018-05-22 20:03] #1234 closed

[2018-05-22 20:04] shahabhijeet commented on #1206
@johncrim please open a new issue if the problem still exists/repros.

[2018-05-22 20:04] #1206 closed

[2018-05-22 20:04] shahabhijeet commented on #1294
@omerlh please open a new issue if the problem still exists/repros.

[2018-05-22 20:04] #1294 closed

[2018-05-22 20:06] shahabhijeet commented on #1370
@althomps please open a new issue if the problem still exists/repros.

[2018-05-22 20:06] #1370 closed

[2018-05-22 20:07] shahabhijeet commented on #1382
@haltunbay please open a new issue if the problem still exists/repros.

[2018-05-22 20:07] #1382 closed

[2018-05-22 20:07] shahabhijeet commented on #1404
@wouterdb please open a new issue if the problem still exists/repros.

[2018-05-22 20:07] #1404 closed

[2018-05-22 20:07] shahabhijeet commented on #1426
@krist00fer please open a new issue if the problem still exists/repros.

[2018-05-22 20:07] #1426 closed

[2018-05-22 20:07] shahabhijeet commented on #1461
@trailmax please open a new issue if the problem still exists/repros.

[2018-05-22 20:07] #1461 closed

[2018-05-22 20:08] shahabhijeet commented on #1487
@YuvalItzchakov please open a new issue if the problem still exists/repros.

[2018-05-22 20:08] #1487 closed

[2018-05-22 20:10] shahabhijeet commented on #1495
@ezwebs please open a new issue if the problem still exists/repros.

[2018-05-22 20:10] #1495 closed

[2018-05-22 20:10] #1507 closed

[2018-05-22 20:21] dsgouda opened #4353 "Onboard Databox RP"
Details in the offline email thread.
Task may include
- Providing guidelines to generate and publish sdk
- Creating feature branches and reviewing sdk

[2018-05-22 21:54] shahabhijeet opened #4354 "Costing: Ability to test multi-api SDKs"
Cost:
Can we create a Fx that allows us to do the following:
1) Quickly verify generated SDK shape
2) Ability to at least test GET operations

[2018-05-22 21:58] dsgouda commented on #3979
@austinarban closing this since we haven't received any further details regarding the issue. Please reopen the issue with further details if it persists.

[2018-05-22 21:58] #3979 closed

[2018-05-22 22:04] shahabhijeet opened #4355 "Enable Dataplane SignalR packages to be published outside our repo"
Create Scoped API key
Create Keyvault, apply security and share with partners.

[2018-05-22 22:08] shahabhijeet opened #4357 "Create Documentation for Code generation using generate.ps1"
Document
1) How to generate code using generate.ps1
2) Document various modes, local repo vs remote master repo (spec repo)

[2018-05-22 22:44] shahabhijeet opened #4358 "Update existing RP specific generate.ps1"
Once #4324 is merged
Please update existing individual RP generate.ps1 to start using new cmdlets.

[2018-05-22 23:11] shahabhijeet commented on #4279
@deathly809 can you finish this by EO month?

[2018-05-22 23:35] shahabhijeet opened #4359 "Publish Multi-api sdk packages for Azure Stack"
This task will have to push to the next milestone.
Did not get confirmation from AzureStack team to release the SDK packages.

Cost: 1 day

[2018-05-23 06:48] peheje commented on #4272
I tried to run: Install-Package Microsoft.Rest.ClientRuntime.Azure -Version 3.3.12 on the client. But the error still persists.

I was not using Microsoft.Rest.ClientRuntime.Azure but Microsoft.Rest.ClientRuntime. I think I posted the error in the wrong github repo. Moving to https://github.com/Azure/autorest

[2018-05-23 06:48] #4272 closed

[2018-05-23 15:01] deathly809 commented on #4279
@shahabhijeet Yeah.

[2018-05-23 17:38] shahabhijeet commented on #1609
@lennygran if you still encounter issue, please open a new issue.

[2018-05-23 17:38] #1609 closed

[2018-05-23 17:45] shahabhijeet commented on #3637
@thebothead if you still encounter issue, please open a new issue.

[2018-05-23 17:45] #3637 closed

[2018-05-23 17:47] shahabhijeet commented on #3670
@HenrikR-Reviso I see you have created an entry in the uservoice, so closing this.

[2018-05-23 17:47] #3670 closed

[2018-05-23 17:53] shahabhijeet commented on #3797
@roostedglory can you give us more information as to what .NET SDK version you are experiencing this problem.
We will need a repro to investigate this issue.
Please open a new issue when you have all the information in order for us to repro/investigate.

[2018-05-23 17:53] #3797 closed

[2018-05-23 18:01] shahabhijeet commented on #3848
@TimLovellSmith if you still encounter issue, please open a new issue.

[2018-05-23 18:08] hovsepm commented on #3762
@shahabhijeet this has nothing to do with Fluent. @rijs88 was trying to do RDFE call from ARM client. I think this issue can be closed.

[2018-05-23 18:08] #3762 closed

[2018-05-23 23:27] dsgouda commented on #4355
Created scoped nuget api key and corresponding keyvault entry

[2018-05-23 23:27] #4355 closed

[2018-05-24 02:16] blueww commented on #3626
@rshirani

Not sure if you have file a new issue for https://github.com/Azure/azure-storage-net, since the issue is for the SDK of that repo.

[2018-05-24 02:17] blueww commented on #3626
@shahabhijeet , would you please help to close the issue as it's not for Azure Management SDK, but for the Azure Storage SDK. And customer has not responds for a long time.

[2018-05-24 04:57] shahabhijeet commented on #4316
@qamessenger with 2.3.3 we made few fundamental changes
1) User Token provider is no longer supported beyond 2.28.x of ADAL. We decided to support User token provider for .NET 4.5.2 ONLY
2) If you want to target .NET > 4.5.2 and beyond (e.g. .NET 4.6.1) we will support ADAL >= 3.14.x and anything >= ADAL 3.14.x does not support user token provider.

So in your case if you would like to use UserTok

[2018-05-24 04:57] #4316 closed

[2018-05-24 04:57] #4311 closed

[2018-05-24 05:04] shahabhijeet commented on #4310
@gppanayotov what OS and what versoin of VS (if any) installed on your machine.
Also list .NET Core version installed on your machine.
I tried reproducing this error but could not.
Below is the output from
1) Console App targeting 4.6.1

Attempting to gather dependency information for package 'Microsoft.Rest.ClientRuntime.2.3.11' with respect to project 'ConsoleApp5', targeting '.NETFramework,Vers

[2018-05-24 05:29] shahabhijeet commented on #4278
@mjsabin01 can you check and let me know #4287 helps in resolving your issue.
If not please provide repro code for us to investigate this further.

[2018-05-24 05:33] shahabhijeet commented on #4269
@FirePho can you describe in detail what you are trying to do what is the issue here.
can you also provide code snippet that allows us to reproduce this error that you are trying to report.

[2018-05-24 05:35] shahabhijeet commented on #4249
@dipinbehl I am not sure I understand what the issue is here.
Is this related to Azure .NET SDK? If yes I will need more information than what you have mentioned above.
Also a repro code snippet

[2018-05-24 05:50] shahabhijeet commented on #4225
Dupe of #4200

[2018-05-24 05:50] #4225 closed

[2018-05-24 05:59] shahabhijeet commented on #4124
@TimLovellSmith can you please provide me the details.
How can I repro this issue.

[2018-05-24 06:07] shahabhijeet commented on #4112
@bganapa release notes is something that is currently manually added.
We have no plans to add API version in the release notes.
Can you suggest why API version needs to be in release notes, primarily when there can be composite nuget packages that might have multiple API versions, this will also mess up the format for the release notes, hence we do not want to auto update release notes with API ve

[2018-05-24 06:15] shahabhijeet commented on #4096
@kuacci I am going to investigate this and have a resolution on this one soon.
My hunch is, some SDK has included FileVersion attribtue multiple times.
This could as simple as scanning for duplicate File version attributes.

[2018-05-24 16:49] TimLovellSmith commented on #4124
I think basically what I wanted out of this issue was the ability to use latest and greatest ADAL library with latest Microsoft.Rest.ClientRuntime.Azure.Authentcation, as a way out of compatibility issues.

At the time of filing, I think 2.3.2 was the most recent version?
If this also affects 2.3.3, then probably just by updating your nuget dependency from the Microsoft.Rest.ClientRuntime.Azure.Au

[2018-05-24 18:01] hovsepm commented on #4099
@bankzitter01 please reopen this issue in https://github.com/Azure/azure-libraries-for-net/ repo since Fluent SDK has been moved to a different place.

[2018-05-24 18:01] #4099 closed

[2018-05-24 18:45] shahabhijeet commented on #4158
@DebolaA this is a repo for reporting issue for Azure .NET SDKs.
You can report this issue for VS/Azure VS tools over at this location
https://developercommunity.visualstudio.com/

[2018-05-24 18:45] #4158 closed

[2018-05-24 21:33] brminnick commented on #4083
Here's my workaround for anyone else who is struggling with this error.

I created my own OcrResultModel that uses the correct type, `OcrLanguages`. I then create a new `OcrResult`, assigning `Language = default(OcrResult)`

[code]

[2018-05-24 21:37] brminnick commented on #4083
To fix this bug, change this line of code in the SDK: https://github.com/Azure/azure-sdk-for-net/blob/c95d9ea0f880886c185dd1f9d1d6b2ccb1f7383e/src/SDKs/CognitiveServices/dataPlane/Vision/ComputerVision/ComputerVision/Generated/Models/OcrResult.cs#L66

Change
`public OcrResult Language { get; set; }`
To
`public OcrLanguages Language { get; set; }`

[2018-05-25 02:41] blueww commented on #4103
@tyjen

Which version of SDK do you use?

Do you might to upgrade toe the latest version of SDK and try again? https://www.nuget.org/packages/Microsoft.Azure.Management.Storage/7.2.0-preview

[2018-05-25 18:57] lbsong commented on #4316
@shahabhijeet I am using Microsoft.Azure.Management.Fluent to create VM, which apparently relies on this method UserTokenProvider.LoginSilentAsync. If User Token Provider is no longer supported, which NuGet package of Microsoft.Azure.Management.Fluent is updated for this change?

[2018-05-25 19:44] lbsong opened #4369 "NuGet package Microsoft.Azure.Management.Fluent doesn't work by missing method UserTokenProvider.LoginSilentlyAsync"
I am trying to use the Nuget package Microsoft.Azure.Management.Fluent create virtual machine, but got the error:

System.MissingMethodException
  HResult=0x80131513
  Message=Method not found: 'System.Threading.Tasks.Task`1<Microsoft.Rest.ServiceClientCredentials> Microsoft.Rest.Azure.Authentication.UserTokenProvider.LoginSilentAsync(System.String, System.String, System.String, System.String, Mic

[2018-05-25 19:51] leniency opened #4370 "AzureServiceTokenProviderException not marked Serializable"
I get an error when doing a full publish build of an ASP.Net MVC 5 application. It occurs during the step that compiles and merges views (aspnet_compiler.exe)

`Error ASPRUNTIME: Type 'Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException' in assembly 'Microsoft.Azure.Services.AppAuthentication, Version=1.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marke

[2018-05-25 20:47] dsgouda opened #4371 "Create feature branch in private repo for new RP"
- DevSpaces repository needs to be created in private repo.

[2018-05-25 22:14] #4112 closed

[2018-05-25 22:19] shahabhijeet commented on #4093
@SayusiAndo please send this as a feedback at this location.
This issues seems likely for VS Tools for Azure.
This repo is for Azure .NET SDKs
 https://developercommunity.visualstudio.com/

[2018-05-25 22:19] #4093 closed

[2018-05-25 22:26] shahabhijeet commented on #4047
@thuansoldier can you try the recently released package and let us know if this resolves your issue, if not please let us know.
https://www.nuget.org/packages/Microsoft.Azure.ConfigurationManager/

[2018-05-25 22:27] shahabhijeet commented on #4042
@shaggygi thank you for reporting. We took care of this.

[2018-05-25 22:27] #4042 closed

[2018-05-25 22:31] shahabhijeet commented on #3970
@vivsriaus can you take a look at this as this needs update to the spec.

[2018-05-25 22:39] shahabhijeet commented on #3915
@jimt4593 please open an issue over here
https://github.com/aspnet/MicrosoftConfigurationBuilders/issues

[2018-05-25 22:39] #3915 closed

[2018-05-25 22:42] shahabhijeet commented on #3873
https://github.com/Azure/azure-sdk-for-net/blob/3f736b5af3851ab99bbaa98483ae537de0d48cfb/src/SDKs/NotificationHubs/Management.NotificationHubs/Generated/Models/CheckAvailabilityResult.cs#L60

[2018-05-25 22:47] shahabhijeet commented on #3843
The operation is currently being polled during the long running operation.
It currently does not returns interim polling status to the client.
It only returns the final result of the operation.
We are thinking of providing a way to serialize polling state, and at that point you will be able to poll and also get polling status.

[2018-05-27 00:33] 0xced commented on #3410
I also stumbled on this problem when creating a `ServiceBusManagementClient` instance (from the [Microsoft.Azure.Management.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceBus/) package).

Here is what I did to workaround the problem on macOS.

1. Create the fake registry directory structure:
[code]
2. Check my actual system values:
[code]
[code]
Create a `values.xml`

[2018-05-28 03:33] blueww commented on #3860
@MV10

The api in your issue is not from this repo, but from https://github.com/Azure/azure-storage-net
Please open a issue in https://github.com/Azure/azure-storage-net, and close this one.

Thanks!

[2018-05-28 07:20] gppanayotov commented on #4310
@shahabhijeet

I tried this on both win7 and win 10.
I don't have VS installed and not using the VSs Package Manager Console just the Powershell's Package Management module.

My use case is to get PSSwagger module up ( https://github.com/PowerShell/PSSwagger)
which has a dependency on Microsoft.Rest.ClientRuntime.

PS H:\> dotnet --info
.NET Command Line Tools (2.1.200)

Product Information:
 Vers

[2018-05-28 12:30] vovanb opened #4373 "LUIS nuget"
What nuget I should use for LUIS c# API?
Below path does not added to any nuget:
azure-sdk-for-net/src/SDKs/CognitiveServices/dataPlane/Language/LUIS/Runtime/Generated/

[2018-05-28 12:58] Aleksanderis opened #4374 "Azure Batch File Conventions library doesn't work for scheduled jobs"
I have quite hard time to make persisted output to work with Azure Batch jobs. Documentation is really confusing and doesn't cover all the cases. It's completely trial and error experience. (Perhaps it's applied to Azure Batch in general, not just persisted output).

I managed to make it work after all with single jobs, but at the end I got stuck with making it to work with jobs created by Jobs Sc

[2018-05-28 14:13] Aleksanderis commented on #4374
Found a "very nice" workaround to avoid "colon" in scheduled job storage..
Name your scheduled job like `JobScheduler01-JustFiller-JustFiller-JustFiller-JustFiller` (59 chars length), and woohoo - it works (because too-long jobs names are replaced with some hash algorithm).
However would be good to avoid such "nice" workarounds and have proper solution.:)

[2018-05-28 15:58] dimitertodorov commented on #4331
Just ran into this too.
This is especially tricky when using Managed Service Identity.
I should be able to pass in a Root Handler and have that handler respect it.

Would like a suggestion on how to handle this.
[code]

If I just copy the KeyVaultCredential Implementation will that be sufficient?

[2018-05-29 06:47] perbergland opened #4375 "Implement support for expiring MSI tokens"
The expires_on value in the MSI token payload does not make it to GetAccessTokenAsyncImpl from to the Msi implementation so the support for expiration date in the cache isn't activated.

Here's some sample data from an App Service Console:

curl -s "%MSI_ENDPOINT%?api-version=2017-09-01&resource=https://vault.azure.net" -H "Secret: %MSI_SECRET%"
D:\home\site\wwwroot
{"access_token":"ey_REDACTED_15

[2018-05-29 07:01] perbergland commented on #4375
Nevermind, I realized after stepping through the code that the expiry timestamp is embedded in the token itself

[2018-05-29 07:01] #4375 closed

[2018-05-29 12:59] dipinbehl commented on #4249
@shahabhijeet The above stated are the two snippets from a swagger definition for an API defined in an instance of APIM. While updating the same on the APIM instance, an error message was thrown as '_Parsing error(s): All parameters in path template MUST be defined in path parameters collection. Not matched parameters names: par1._'
Now, the swagger definition defines the 'par1' parameter but the

[2018-05-29 19:10] hovsepm commented on #4369
@lbsong please reopen this issue in https://github.com/Azure/azure-libraries-for-net/issues repo.

[2018-05-29 19:10] #4369 closed

[2018-05-29 20:57] varunsh-msft commented on #4370
We are working on a fix. Should be out in a week at most.

[2018-05-29 23:08] RSuter commented on #3441
@brjohnstmsft how did you fix this problem?

[2018-05-29 23:12] dsgouda commented on #4371
branch is created with appropriate permissions

[2018-05-29 23:12] #4371 closed

[2018-05-29 23:12] dsgouda commented on #4353
Branch created with merge permissions

[2018-05-29 23:12] #4353 closed

[2018-05-29 23:18] msfcolombo commented on #4331
@dimitertodorov, Yes you can copy `KeyVaultCredential` implementation and change to use your own `HttpClient`. I did that for now.

[2018-05-30 00:00] brjohnstmsft commented on #3441
@RSuter The later manifestation of the issue was specific to custom code in the Azure Search SDK that copies properties between `JsonSerializerSettings` instances. I solved it by using reflection and dynamic compilation to copy the properties, so that it doesn't matter what version of JSON.NET is present. Feel free to take a look at the code here: https://github.com/Azure/azure-sdk-for-net/blob/68

[2018-05-30 05:12] ImageQC opened #4379 "Async SdkContext.AzureCredentialsFactory.FromServicePrincipal()"
A call to SdkContext.AzureCredentialsFactory.FromServicePrincipal() can take 5 seconds or more to return. Is there an async version or other way to invoke it that would free the thread whilst it waits for the Azure service to do its stuff?

[2018-05-30 06:15] zvrba opened #4380 "Replace Newtonsoft.Json with System.Runtime.Serialization.Json"
No library has caused me as much deployment grievances as Newtonsoft.JSON. It's a known problem, package A wants 6.x, package B wants 10.x and I want to use both A and B in my project. Usually, it's fine to include assembly redirects (unless you want to develop Powershell cmdlets, but that's another story), but this raises the question: **IF 10.x is upwards-compatible with 6.x, why has the MAJOR v

[2018-05-30 06:15] zvrba commented on #2871
The proper solution is to abandon Newtonsoft.Json and use System.Runtime.Serialization.Json. No library has given me as much deployment troubles as Newtonsoft.Json. I've created a new ticket #4380 where I've added other links describing the situation.

[2018-05-30 06:43] kuacci commented on #4096
Thank you @shahabhijeet

[2018-05-30 09:52] RSuter commented on #3441
@brjohnstmsft Thanks for the link, we have the exact same problem: https://github.com/RSuter/NSwag/blob/master/src/NSwag.AspNet.WebApi/JsonExceptionFilterAttribute.cs#L106

[2018-05-30 13:44] #3860 closed

[2018-05-30 16:02] danwkennedy commented on #4323
Will the update also include support for passing the new client id parameter as well?

[2018-05-30 16:07] danwkennedy opened #4383 "MSI return the entire token"
Our service would like to use the expiration metadata from the MSI endpoint so that we can know when to retrieve a new access token instead of pinging the endpoint repeatedly. Right now, the SDK assumes that all we want is the access token and short circuits that. The use case for us is we're using the access token to authenticate with SQL Azure so the extra request latency for MSI adds up over ti

[2018-05-30 17:02] shahabhijeet opened #4384 "Update git version on CI machines"
Update git version to [2.17.1](https://github.com/git-for-windows/git/releases/download/v2.17.1.windows.2/Git-2.17.1.2-64-bit.exe)
on CI machines

[2018-05-30 17:56] shahabhijeet opened #4385 "Signing machines updates due to change in interactive login"
Signing requirements changes taking into effect next sprint
Interactive login policy updates

Cost: 1 day

[2018-05-30 21:51] shahabhijeet commented on #4314
#4387

[2018-05-30 21:51] #4314 closed

[2018-05-30 21:55] shahabhijeet commented on #3262
Currently we cannot create a queue strategy because we don't have a build service running on publishing machine.
Unless we have build component running as a service on CI machines, this cannot be enabled the way it was mentioned below.
The entire purpose of this task is not to go ahead and create a tag if for some reason any of the pieces in the entire pipeline fails.
Lately with the addition of n

[2018-05-30 22:02] shahabhijeet commented on #4279
@deathly809 thank you for doing this.

[2018-05-30 22:02] #4279 closed

[2018-05-30 22:48] dsgouda opened #4391 "Update remaining generate.ps1 scripts to use powershell cmdlets"
Most of the powershell scripts are updated [here](https://github.com/Azure/azure-sdk-for-net/issues/4358) to use the new powershell cmdlets for autorest code generation. Some scripts however end up generating code into incorrect directories and we may have to use appropriate flags to correct for `csharp-output-folder` flags set in the corresponding config files or tweak the code generation scripts

[2018-05-31 00:06] varunsh-msft commented on #4323
Not in this update. We are considering adding a new connection string option for user assigned identity. That way you use a connection string to use the explicit identity. The current connection string options are [here](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#connection-string-support). You can pass the connection string in the constructor. Do you have f

[2018-05-31 18:28] jwettstrom commented on #4249
I see the exact same issue, but going through the Azure Portal APIM site (not using PowerShell). The error shows up right away and you can't import the Open API (swagger) file. The format of the file looks perfectly right according to Open API spec and still complains about 'Not matched parameters names: xxx'.
 I am also using swashbuckle to generate the file.

[2018-05-31 18:56] shahabhijeet opened #4397 "Enable ability to save binary data in test recording"
- allow a way to detect binary data in the request/response payload
- Serialize the payload into recording files
https://github.com/Azure/azure-sdk-for-net/pull/4378

Cost: 2 days