[2018-05-31 20:19] MortenMeisler opened #4399 "How to retrieve runbook job"
Should be as simple as this right?

[code]

I'm getting error:
1/2:
JsonSerializationException: Error converting value "Succeeded" to type 'Microsoft.Azure.Management.Automation.Models.JobProvisioningStateProperty'. Path 'properties.provisioningState', line 1, position 427

2/2:
ArgumentException: Could not cast or convert from System.String to Microsoft.Azure.Management.Automation.Models.JobProvi

[2018-05-31 22:57] jj09 commented on #4291
In REST API we treat null as default value. In this case default value is 300.
We do not handle this use case in Portal correctly. We do not convert null to 300.
We are going to fix this on the Portal side.

[2018-05-31 23:10] shahabhijeet opened #4402 "Improve message for TaskCanceled exception"
- Handle retries for timeout.
- explore the possibility to add default retry policy across clients.
- Improve TaskCanceled exception that results due to timeout

Cost: 4 days (stretch)

[2018-05-31 23:43] dsgouda opened #4403 "Test ClientRuntime changes on mono for Linux"
Breaking off of https://github.com/Azure/azure-sdk-for-net/pull/4364 we need to test these changes on a mono installation on a Linux distro before releasing the Clientruntime

Cost: 4 days

[2018-05-31 23:57] #4357 closed

[2018-05-31 23:57] dsgouda commented on #4357
Addressed in PR

[2018-06-01 00:40] brjohnstmsft commented on #4291
@christian-vorhemus Since this is an issue with our Azure portal extension and not with the SDK per se, I'm going to close this issue.

[2018-06-01 00:40] #4291 closed

[2018-06-01 14:43] marty2bell commented on #2911
@herveyw

We are seeing the same behaviour talking to KeyVault.......we haven't went to the network level as far as @antonydeepak went, but we are definitely seeing outliers on our soak tests where decrypt calls to keyvault to taking over a minute to come back.

I was going to raise a ticket against the service, but could piggy back onto this issue ??

Cheers

Marty

[2018-06-01 16:07] RandalliLama commented on #2911
@marty2bell Please raise a ticket against the service.  That will get it tracked by the correct people for a server side issue.

[2018-06-01 17:37] dsgouda commented on #4263
Fix merged, some testing is pending on non windows machine, tracked here https://github.com/Azure/azure-sdk-for-net/issues/4403

[2018-06-01 17:37] #4263 closed

[2018-06-01 17:49] dsgouda commented on #4358
PR has been created and awaiting approval from one of the SDK owners.

[2018-06-01 17:49] #4358 closed

[2018-06-01 18:49] bg2132332 opened #4404 "Unable to use KeyVaultClient with a proxy"
I don't have a complete clean example that I can share, but my code looks something like this...

    public class MyProxy : IWebProxy
    {
        private readonly Uri proxyUri;

        public MyProxy(string proxyUri)
            : this(new Uri(proxyUri))
        {
        }

        public MyProxy(string ip, int port)
            : this(new Uri($"http://{ip}:{port}"))
        {
        }

[2018-06-02 01:29] CrazyTuna commented on #4323
Do you have an estimated release date for this feature please ?

[2018-06-03 03:19] ghost opened #8089 "Question: Using Microsoft.Azure.Services.AppAuthentication library with SDK"
Hi guys,

If we look at the Managed Service Identity documentation [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-managed-service-identity?context=azure/active-directory/context/msi-context#asal), it recommends to use the Microsoft.Azure.Services.AppAuthentication library to get an access token. I know then I can create a `TokenCredential` with the access token string and pa

[2018-06-04 01:43] shahabhijeet commented on #3262
Experimenting with Octokit library for automating github tasks.
Found out the library is unsigned and will have to rethink how can we use this without relaxing SN verification.
This task is done as we sync'd the release using the Jenkins job instead of msbuild task.
This task will be revisited once the library issues are resolved that we want to use for interacting with github.
Current work is bei

[2018-06-04 01:43] #3262 closed

[2018-06-04 01:44] shahabhijeet commented on #4354
This task will be continued in the next sprint

[2018-06-04 01:53] shahabhijeet opened #4406 "Upgrade all projects to 15.7"
Currently we are targeting VS 15.2
Upgrade to target VS 15.7
- Test all projects can be built
- All test are running and passing in VS and on commandline
- All nuget pakcages can be created

Cost: 5 days

[2018-06-04 02:33] shahabhijeet commented on #3261
Migration Guide:
https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/Documentation/AuthConflictsBetweenSDKs.md

We are no longer advocating users use RepoTask.psd1 (we have deprecated this module), we will be eventually in our next build tools updates.

https://github.com/Azure/azure-sdk-for-net/pull/4407

[2018-06-04 02:33] #3261 closed

[2018-06-04 03:58] cvellan opened #4408 "Cloud Service project uses incorrect .Net Standard package references"
I have been attempting to implement a cloud service project with dependencies targeting .Net Standard. At the moment, the project only contains a .Net Standard library and a worker role, which has been configured to use the PackageReference style of Nuget package restoration as described [here](https://www.hanselman.com/blog/ReferencingNETStandardAssembliesFromBothNETCoreAndNETFramework.aspx) in o

[2018-06-04 05:26] venkatesh-bhupathi opened #4409 "ApplicationPublishObject missing subscription-key"
Hi,
We are able to associate the Subscription Key from Azure Portal with LUIS app through Publish Settings in Luis.ai portal,

We see that API is accepting the following JSON, {
  "endpointUrl": "DummyUrl",
  "subscription-key": "DummyEndpointKey",
  "endpointRegion": "westus",
  "isStaging": false
}

However programmatic client code does not have the subscription-key property. Can you please let

[2018-06-04 11:20] veikkoeeva commented on #3384
This does not appear to be in the .NET fluent library. Is this an oversight? @hovsepm, do you know?

[2018-06-04 18:38] dsgouda commented on #4403
As a future task we could investigate whether we can build and run tests in the repo using a mono msbuild installation on a non windows OS.

[2018-06-04 20:52] drizzlelabs commented on #4399
I'm getting the same error when using Job.Create and Job.CreateAsync:

Newtonsoft.Json.JsonSerializationException: Error converting value "Processing" to type 'Microsoft.Azure.Management.Automation.Models.JobProvisioningStateProperty'. Path 'properties.provisioningState', line 1, position 431.

Looking through the code, I see that those status' are missing in 'Models/ProvisioningState.cs'. I'll cl

[2018-06-04 21:17] dsgouda commented on #4384
Git updated on all worker machines.

[2018-06-04 23:29] dsgouda commented on #4399
Closing this in favor of https://github.com/Azure/azure-rest-api-specs/issues/3181

[2018-06-04 23:29] #4399 closed

[2018-06-05 08:30] christian-vorhemus commented on #4291
Alright, thanks for your help!

[2018-06-05 08:59] johnemmanuelm opened #4413 "\"

[2018-06-05 09:01] chrisalexander opened #4414 "Microsoft.Azure.Batch.Conventions.Files depends on Azure.Batch (not Microsoft.Azure.Batch)"
See https://www.nuget.org/packages/Microsoft.Azure.Batch.Conventions.Files/3.1.0

If you want to switch to the non-deprecated Microsoft.Azure.Batch from Azure.Batch, you can't do it if you are using Conventions.Files as its dependency is on the old one. Haven't checked but there may be other packages that are susceptible to this.

[2018-06-05 17:22] #4083 closed

[2018-06-05 22:20] MickH3 opened #4415 "ARM Question RE: Channel Registration via Microsoft.Azure.Management.BotService SDK"
I’m using the 0.9.1 preview to add the Teams Channel programmatically and while I get a 500 error, it still technically adds the channel.  Unfortunately, I get the same error when trying to add DirectLine but it does not add the Direct Line channel.  I have tried both using the NuGet package classes and the direct PATCH call to …/providers/Microsoft.BotService/botServices/…

The error I get is alw

[2018-06-06 17:01] matthchr commented on #4237
@CamSoper - Sorry for the slow response on this.

The short answer is that this is somewhat a limitation of the design of the "Object model" layer of the Azure Batch SDK. Because we re-use the same object (for example `CloudJob`) to control multiple REST API calls, it isn't necessarily immediately clear what mutations to the `CloudJob` will/won't be allowed to propagate to the server. That's the r

[2018-06-06 21:01] dsgouda commented on #4403
Tested on MacOS and Ubuntu machines, ClientRuntime fix works as expected

[2018-06-06 21:01] #4403 closed

[2018-06-06 22:08] dsgouda commented on #4385
Restarted services using different user accounts and was able to successfully run builds.

[2018-06-06 22:08] #4385 closed

[2018-06-06 22:34] CalvinDale commented on #4190
I experienced the same issue with a similar exception message. The issue was resolved by choosing the other of two identically named Principal entries.

![image](https://user-images.githubusercontent.com/2473501/41068554-d79446d8-699e-11e8-9975-50b36885b450.png)

[2018-06-07 02:01] varunsh-msft commented on #4323
By 6/15 for IMDS.

[2018-06-07 07:20] navalev opened #4422 "Exepction while detaching a network interface from a VM"
Trying to remove a network interface from a VM resulted in "Cannot parse the request" exception:

         try
                {
               Utilities.Log("deallocate vm");
                vm.Deallocate();

                // add secondery interface
                Utilities.Log("adding nic2");
                vm.Update().WithExistingSecondaryNetworkInterface(networkInterface2).Apply();

[2018-06-07 07:40] jbpoulsen opened #4423 "Getting IVirtualMachine public IP address"
Hello.

Im having lots of issues with getting the public IP Address of an already created Azure Virtual Machine.

I can request everything i want about the VM (Power state, power off, power on), but getting the public ip address of the machine seems to never work.

To get the IP Address i simply call: vm.GetPrimaryPublicIPAddress(), but that method keeps returning null for me. I've tried using man

[2018-06-07 08:57] ahilis commented on #2232
Hot to make it work? "default" property doesn't appear in avro scheme.
Im trying to make schema from object: `AvroSerializer.Create<Object>().WriterSchema.ToString().`
Property declaration:
[code]

[2018-06-08 11:47] ahilis opened #4429 "Avro Scheme "default" and "doc" are missing"
I've spent a lot of time trying to figure out how to add "default" or "doc" properties for any field from C# class into scheme. I do it like that:

`AvroSerializer.Create<Class>().WriterSchema.ToString()`

I found that it's impossible. And that's why:
ReflectionSchemaBuilder always pass null inside the RecordField instead of default value (line 466)
Doc property is always sets to empty string insi

[2018-06-08 17:18] xqrzd commented on #2232
It requires a lot of changes to the library. It might be better to open an issue [here](https://github.com/dougmsft/microsoft-avro), as this library isn't maintained anymore.

[2018-06-08 21:12] hovsepm commented on #3384
@veikkoeeva it seems so. Please add the request for App Insights for Fluent in https://github.com/Azure/azure-libraries-for-net repo since we moved there long time ago.

[2018-06-08 22:09] CamSoper commented on #4237
@matthchr I appreciate you taking a look!  I know it wasn't clear from the post, but this was actually a moved issue from my repo (I maintain the reference docs for all things .NET API for Azure).  Updating the `///` comments to at least notify the users of the capabilities would be appreciated!

[2018-06-08 22:42] tobiasb opened #4432 "EventGrid Management SDK Samples"
Are there samples somewhere on how to properly use the EventGrid Management SDK? Especially the authentication doesn't seem to be as straight forward as the EventGrid data plane SDK.

[2018-06-09 03:40] ahilis commented on #2232
Ok, I'll do it. Thanks!

[2018-06-09 11:16] FirePho commented on #4269
I just stop web job (IWebSiteManagementClient.WebApps.StartContinuousWebJob)
and get it status (IWebSiteManagementClient.WebApps.GetContinuousWebJob)

After a request to stop, the web job for a few seconds is in the status of Disabling

![image](https://user-images.githubusercontent.com/1927599/41190822-1fecf6d6-6bee-11e8-9780-42f2fcafda9a.png)

[2018-06-09 11:28] FirePho commented on #4269
There is also no 'Stopping' status, although web jobs can be in it

Microsoft.Rest.SerializationException: Unable to deserialize the response. ---> Newtonsoft.Json.JsonSerializationException: Error converting value "Stopping" to type 'System.Nullable`1[Microsoft.Azure.Management.WebSites.Models.ContinuousWebJobStatus]'. Path 'properties.status', line 1, position 388. ---> System.ArgumentException:

[2018-06-09 17:52] tomkerkhove commented on #3384
Looks like @veikkoeeva beat me to it, thanks!

[2018-06-11 12:31] navalev commented on #4422
moved issue to fluent SDK repo

[2018-06-11 12:31] #4422 closed

[2018-06-11 23:12] TimLovellSmith commented on #4124
So I hit this again.
Here is the repro:

use
```  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.2" targetFramework="net461" />```

```  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.6" targetFramework="net461" />```

And

[code]

And it blows up with

"Method not found: 'System.Threading.Tasks.Task`1<Microsoft.IdentityModel.Clients.Activ

[2018-06-12 17:43] brjohnstmsft commented on #2225
Note for posterity: The `TargetDifferentIndex` method has been deprecated in favor of a settable `IndexName` property.

[2018-06-12 19:57] Comma8 commented on #4296
Note that I ended up cutting a ticket for this. Turns out it was very unique to my specific endpoint. Long story short there was some "upgrade" process that happened in bulk to move endpoints to V3 and something in that process hiccuped for some unknown number of people. I was one of the lucky ones. Once Dev reran said process on my endpoint, I was good to go.

[2018-06-12 19:57] #4296 closed

[2018-06-12 21:19] dsgouda commented on #4391
PR has been merged.

[2018-06-12 21:19] #4391 closed

[2018-06-13 00:33] dsgouda opened #4440 "Add tests for tasks to load powershell modules"
This includes the functionality that finds root of the repo and other such scenarios.

4 days

[2018-06-13 19:38] nonik0 commented on #4323
Version 1.0.3 of the AppAuthentication library has just been published to NuGet. This release includes support for calling the new IDMS endpoint for MSI authentication.

[2018-06-13 19:40] nonik0 commented on #4370
@leniency We have just published version 1.0.3 of AppAuthentication to NuGet, which includes the fix to mark AzureServiceTokenProviderException as serializable. Thanks for your input!

[2018-06-14 17:02] dsgouda opened #4447 "Add --multiapi switch to code generation cmdlet"
Add a `--multiapi` flag to the AutoRest code generation cmdlet
2 days

[2018-06-14 20:40] GitHubSachin opened #4448 "Application crash due to ServiceBusClientWebSocket.ConnectAsync"
Under high load our app which uses servicebus eventhubs to send telemetry data from background thread crashed with exception stack below. This is .net 4.5.2 desktop version and using 4.1.6 version of WindowsAzure.ServiceBus package.
The crash happens when application is under load. which is about 600 app instances running on a server, one of them will crash with below error

Unhandled Exception: S

[2018-06-14 21:40] olegburov commented on #3386
As far as I can see it, in `v1.11.1` (package `Microsoft.Azure.Management.Fluent`) I can do it like this:

[code]

[2018-06-14 21:50] olegburov commented on #3412
As far as I can see it, in `v1.11.1` (package `Microsoft.Azure.Management.Fluent`) I can do it like this:

[code]

OR

[code]

[2018-06-14 23:14] dsgouda opened #4450 "Improved metadata logging"
We should mute some of the logging in the metadata files especially all the information related to autorest code generation steps which log some system information too.

1 day

[2018-06-14 23:31] mikeblakeuk commented on #4402
+1

[2018-06-15 14:03] paulalexleeds commented on #4404
I've come across this same issue, and you are correct that the KeyVaultCredential.ProcessHttpRequestAsync method is where the problem lies.

We have a proof of concept that sub-classes the KeyVaultCredential class to override ProcessHttpRequestAsync so that we can use a proxy with the HttpClient. We then use the KeyVaultClient(KeyVaultCredential credential, HttpClient httpClient) constructor passi

[2018-06-15 20:38] shahabhijeet commented on #4359
Generated the SDK that was planned to be delivered for sprint ending June 15.
Their is discussion still open about the shape of the SDK, but whatever was decided to be delivered for the current sprint has been done.
Closing.

[2018-06-15 20:38] #4359 closed

[2018-06-15 20:39] shahabhijeet commented on #4406
Could not finish this task as their were issues debugging tests in VS 2017.
Pushing to next sprint

[2018-06-15 20:39] shahabhijeet commented on #4402
Unable to accomodate this feature in this sprint. Pushing to next sprint

[2018-06-15 23:25] shahabhijeet opened #4455 "Ability to publish multiple nuget packages from scope"
Fluent team has a requirement to publish multiple nuget packages from a given scope.

Get Fluent branch structure for test purpose
Add ability to specify Wild Card
Restrict publishing to authorized users (AD users)

Days: 3

[2018-06-18 08:19] Molotch opened #4457 "When will the LUIS Authoring API be released on nuget"
The LUIS Authoring (and Runtime) API (Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring) isn't published on nuget for some reason. Is there an ETA for when this will be done?

1 day

[2018-06-18 14:15] solankisamir opened #4458 "ApiManagement - Adding Api to Product fails, if the product has space"
Customer is using Add-AzureRmApiManagementApiToProduct.

When their ProductId has a space, this command will failed at this error:
[error]Unable to configure Azure ApiManagement. 'productId' does not match expected pattern '(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)'.

This is a bug in the Swagger spec. The service side does not have any such limitation.

[2018-06-18 14:37] JonKragh commented on #4448
Same issue here under high load.

- Approximately 100 concurrent C# tasks in a windows service
- Pumping order updates to azure service bus
- .NET 4.6.2 - I could upgrade if needed
- I upgraded to WindowsAzure.ServiceBus 4.1.10 and it did not resolve the issue

I ended up adding a lock to work around this for now.

Removing the lock here reproduces the issue.

        static object _servicebusorde

[2018-06-18 20:11] dsgouda commented on #4458
@solankisamir Please open this issue against the REST spec repo

[2018-06-18 20:11] #4458 closed

[2018-06-18 20:33] shahabhijeet opened #4460 "Create branch for DF"
Setup development branch for DF.

1 Day

[2018-06-18 22:00] shahabhijeet commented on #4408
@cvellan this is azure .NET SDK repo.
Before I redirect you to file this issue with different team, I just want to make sure I understand your scenario.
So can you describe your scenario that I repo.
Please provide with your repro steps.

[2018-06-18 23:15] dsgouda commented on #4460
Created branch and assigned push permissions

[2018-06-18 23:15] #4460 closed

[2018-06-18 23:29] shahabhijeet commented on #4406
Update cost: 3 days

[2018-06-19 15:51] marcelvb commented on #4237
Thank you @matthchr for the explanation. That helps.
It would be nice if it was somehow in the docs. Maybe the C# docs can refer to the REST docs. It might not be obvious to everyone that the C# API mirrors the REST API, unless you dig into the code (which usually you don't want to do as an API consumer).

[2018-06-19 20:26] mrashid-sci opened #4465 "Using MSI in Service Fabric"
Is there a guide on how to use the MSI in a Service Fabric Application?

[2018-06-20 15:14] abeckDev opened #4468 "ARM IntelliSense Bug: Use of deployment().name in uniqueString occures Error"
Hi there,

I discovered some strange behaviour while I wrote an Azure Resource Manager (ARM) Template with a uniqueString.

The [Documentation](https://docs.microsoft.com/de-de/azure/azure-resource-manager/resource-group-template-functions-string?toc=%2fazure%2ftemplates%2ftoc.json&bc=%2Fazure%2Ftemplates%2Fbreadcrumb%2Ftoc.json#remarks-2) said that I can create a unique string with calling the un

[2018-06-21 00:49] CamSoper opened #4474 "KeyVault: Reference documentation for SecretBundle.Id Property unclear"
Hi there! I'm the docs author at the [Azure .NET SDK docs site](https://docs.microsoft.com/dotnet/azure), and a customer submitted the following issue with documentation generated from the `///` comments in your API. Please be sure to @ them in your response. Thanks!

@lukos commented on [Thu Jun 07 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/669)

Is this referring to the "version

[2018-06-21 00:54] CamSoper opened #4475 "Batch: CloudServiceConfiguration.OsFamily property ref doc remarks needs formatting"
Hi there! I'm the docs author at the [Azure .NET SDK docs site](https://docs.microsoft.com/dotnet/azure), and a customer submitted the following issue with documentation generated from the `///` comments in your API. Please be sure to @ them in your response. Thanks!

@Mikhail-Pranovich commented on [Thu Jun 07 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/673)

It's great that in Re

[2018-06-21 00:56] CamSoper opened #4476 "Data Factory: PipelineResource.Annotations property reference documentation unclear"
Hi there! I'm the docs author at the [Azure .NET SDK docs site](https://docs.microsoft.com/dotnet/azure), and a customer submitted the following issue with documentation generated from the `///` comments in your API. Please be sure to @ them in your response. Thanks!

@don4of4 commented on [Tue Jun 05 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/665)

Is this a list of strings?

---

[2018-06-21 01:01] CamSoper opened #4478 "Automation: Reference documentation unclear"
Hi there! I'm the docs author at the [Azure .NET SDK docs site](https://docs.microsoft.com/dotnet/azure), and a customer submitted the following issue with documentation generated from the `///` comments in your API. Please be sure to @ them in your response. Thanks!

@MortenMeisler commented on [Thu May 31 2018](https://github.com/Azure/azure-docs-sdk-dotnet/issues/659)

Should be as simple as th

[2018-06-21 02:45] varunsh-msft commented on #4465
What sample are you following now? It will help to know so we can modify that sample to use MSI.

[2018-06-21 02:46] varunsh-msft commented on #4383
Is this request for AzureServiceTokenProvider? What code are you using right now?

[2018-06-21 04:19] DarthVella commented on #4408
Hi, and thanks in advance! I couldn't find a more appropriate Github repository for this issue, but I'd much appreciate being redirected if there is one.

The steps for a minimal reproduction are as follows; and a project created following these steps is attached to this comment. I am using Visual Studio 2017 Enterprise Edition and the .Net Framework 4.6.1.

1. Create a new Azure Cloud Service Pro

[2018-06-21 17:15] mrashid-sci commented on #4465
Initially I followed the document provided here.

https://docs.microsoft.com/en-us/azure/app-service/app-service-managed-service-identity

I couldn't find anything specific to Service Fabric, so I tried using the same Microsoft.Azure.Services.AppAuthentication. When I tried to run it, I get the following error on my development machine.

Parameters: Connection String: [No connection string specifi

[2018-06-21 19:56] DheerendraRathor opened #4482 "ResourceManager doesn't have SDK for latest version viz 2018-02-01, 2018-05-01"
ResourceManager has swagger spec present for both API versions (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable) but current version of SDK and nuget package doesn't contain methods for these API versions.

[2018-06-21 21:46] brminnick opened #4483 "TextAnalytics SDK v1.0.1-preview Missing ServiceClientCredentials Implementations"
The [TextAnalytics SDK v1.0.1-preview](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.TextAnalytics) is missing `ServiceClientCredentials` implementations.

The constructor for `TextAnalyticsAPI` requires a `ServiceClientCredentials` object, but `ServiceClientCredentials` is `abstract`.

Below is the work-around I added to my project. I am using `ApiKeyServiceClientCrede

[2018-06-21 22:37] blumu commented on #1009
This bug was filed before ARM went GA. I confirm that the `AdditionalUnattendContent` field is now exposed in the ARM SDK under `WindowsConfiguration`:

https://github.com/Azure/azure-sdk-for-net/blob/4e2ab34f565507f4dcf2b6f0fa57407fb0fa5c61/src/SDKs/Compute/Management.Compute/Generated/Models/AdditionalUnattendContent.cs

https://github.com/Azure/azure-sdk-for-net/blob/4e2ab34f565507f4dcf2b6f0fa5

[2018-06-22 07:56] paulalexleeds commented on #4404
Just looking through other issues and I think this has been fixed by https://github.com/Azure/azure-sdk-for-net/pull/4416

Looks like it's targeted for a 3.0.1-preview release.

[2018-06-22 22:00] masters3d commented on #1846
@markcowl any updates on this? Is there an alternative that API that we should be using?

[2018-06-25 16:19] joepeavey commented on #4277
This is resolved

[2018-06-25 16:19] #4277 closed

[2018-06-25 21:40] dsgouda commented on #4447
PR is merged

[2018-06-25 21:40] #4447 closed

[2018-06-25 21:44] dsgouda commented on #4450
PR is merged

[2018-06-25 21:44] #4450 closed

[2018-06-25 21:47] shahabhijeet opened #4493 "Create Profile Packages for Azure Stack"
- Create SDK Profile packages for Azure Stack
- This task will create individual packages for each RP with the right namespace

Cost: 3 days

[2018-06-25 21:57] yangyuan commented on #4457
Both have been published :)

https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime
https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring

[2018-06-25 22:07] dsgouda commented on #4457
Thanks @yangyuan

[2018-06-25 22:07] #4457 closed

[2018-06-25 22:08] shahabhijeet commented on #4397
https://github.com/Azure/azure-sdk-for-net/pull/4467

[2018-06-25 22:08] #4397 closed

[2018-06-25 22:31] dsgouda opened #4494 "Merge code gen PS cmdlet test scripts into a single one"
The PS cmdlet test scripts are split into test1, test2...etc. Merge this into a single script for brevity.

[2018-06-25 23:54] #4413 closed

[2018-06-25 23:58] shahabhijeet commented on #4408
@cvellan thanks for the repro steps. I just wanted to make sure this is related to VS tools for Azure, which it is from your repro steps.

Can you send this via VS feedback.
VS --> Help --> Send Feedback -->Report a problem
Please provide the similar repro. This will get routed to Visual Tools for Azure team.

Closing this issue.

[2018-06-25 23:58] #4408 closed

[2018-06-26 00:02] shahabhijeet commented on #4379
@ImageQC can you please help us understand this scenario better.
Please provide the name of the sdk nuget package that you are using.
Also any code that will help us to repro this issues helps.

[2018-06-26 00:07] shahabhijeet commented on #4373
@DavidLiCIG is this the right package?
https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime/0.9.0-preview

@vovanb you don't have to add any paths, simply search for LUIS package in the Visual Studio
1. Right click on your project in VS where you want to consume the package
2. Search for LUIS
3. Install the pakcage (after selecting the version you want)

[2018-06-26 05:41] DavidLiCIG commented on #4373
Yes, this is the right package that was just published last week.

Thanks!

[2018-06-26 06:09] ImageQC commented on #4379
<ItemGroup>
    <PackageReference Include="Microsoft.Azure.Management.Fluent" Version="1.11.1" />
    <PackageReference Include="Microsoft.Azure.WebJobs" Version="3.0.0-beta5" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions" Version="3.0.0-beta5" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="1.4.1" />
    <PackageReference Include="

[2018-06-26 23:08] dsgouda commented on #4354
Breaking down this task
For the initial iteration we will focus on static testing for the shape of the client
0. Generate the multi-API tasks to test (Should be accomplished here )
1. Create a manual mapping between multiAPI SDK -> REST api version -> nuget package id -> nuget package version
Cost: 2 days
2. Write a generic parser for the mapping and download corresponding nuget
Cost: 5 days
3. Wr

[2018-06-28 20:21] shahabhijeet commented on #4406
The following PR #4506
And all changes in the following fork is all we need to upgrade
https://github.com/shahabhijeet/azure-sdk-for-net/tree/includeProjs
We will roll out these changes on July 12-13.

[2018-06-28 20:21] #4406 closed

[2018-06-29 09:14] fernanev commented on #3438
Hi,

Any update on this? Is there any work planned for fixing this issue?

Many thanks.

[2018-06-29 18:13] val-janeiko opened #4510 "Management.ServiceFabric always retrieves empty Application/Service lists"
Using the following code results in both `appList` and `serviceList` containing an empty list.
[code]

The client uses `{ResourceURI}?api-version=2017-07-01-preview` to make requests. Which returns the following (empty) response:  `{ "value": [] }`.

Overriding API version to **2016-09-01** (the one Azure Portal uses), correctly returns the list, but parsing fails (all properties in the parsed obj

[2018-06-30 05:44] huangpf commented on #4193
@hyonholee FYI.

[2018-06-30 05:44] huangpf commented on #4193
@huangpf

[2018-06-30 05:44] huangpf commented on #4193
Service API ask/issue.

[2018-06-30 05:48] huangpf commented on #4423
It's about the usage of VM-Network cross-RP APIs. Not just a Compute bounded problem. Also related to NRP somehow.

But it belongs to the service API ask boundary. @hyonholee @huangpf

[2018-06-30 05:49] huangpf commented on #4238
@hyonholee @huangpf

As triaged, it's likely a doc issue, and Swagger spec issue.

[2018-06-30 05:50] huangpf commented on #1720
This is by design. For you to get the instance view, you need to call the GetInstanceView API.

[2018-06-30 05:50] #1720 closed

[2018-06-30 19:33] AndyP2 opened #18648 "How is it used?"
It would be really great to have links here to associated extension methods like UseSampling and UseAdaptiveSampling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02d4e4b-acd4-807f-0533-843b6d6626bd
* Version Independent ID: 854dc341-dbc9-22db-7f16-ae3d2c3fd080
* Content: [TelemetryProcessorChainBuilder Class (Micro

[2018-07-02 05:11] Porges commented on #4103
I also got this error. I then updated to the latest SDK (8.0-preview) and got a very similar error:

[code]

[2018-07-02 10:53] EvgenyAgafonchikov commented on #3452
It looks like it was addressed by https://github.com/Azure/azure-sdk-for-net/pull/3457
Also, tests are not required for SDK now.
@cormacpayne, @DeepakRajendranMsft, could we close this? I have no permissions to close issues in this repo.

[2018-07-02 10:55] EvgenyAgafonchikov commented on #3456
Requirement to add SDK tests was dropped. @vinayada1, @DeepakRajendranMsft, could we close this?

[2018-07-02 11:08] EvgenyAgafonchikov commented on #3382
@vinayada1, could you please check if this need to be closed?
AFAIK requirement to add SDK tests was removed some time ago

[2018-07-02 11:14] EvgenyAgafonchikov commented on #3407
@vinayada1, @dihan0604, could you please check if this still up to date?

[2018-07-02 18:30] dsgouda commented on #4493
Created and successfully compiled a solution for Compute hybrid profile.
Some issues with getting the solution to compile via msbuild using a scope parameter. Once that is fixed, a nuget package can be generated for the same.

[2018-07-02 18:30] #4493 closed

[2018-07-02 18:31] dsgouda commented on #4440
Tests merged here https://github.com/Azure/azure-sdk-for-net/pull/4473

[2018-07-02 18:31] #4440 closed

[2018-07-02 18:32] shahabhijeet commented on #3553
This has been already been done.
Currently all Common Clientruntime components target 10.0.3 for .NET Core

[2018-07-02 18:32] #3553 closed

[2018-07-02 18:35] shahabhijeet commented on #4379
@ImageQC this seems like a .NET Fluent SDK issue.
Can you open an issue in this repo for all .NET Fluent related stuff
https://github.com/Azure/azure-libraries-for-net/issues
Closing this issue. Let me know if you think otherwise.

[2018-07-02 18:35] #4379 closed

[2018-07-02 18:42] shahabhijeet commented on #4310
@gppanayotov at this point please provide clear repro steps.
I will need exact steps to reproduce this issue.
The issue you have reported (unbale to restore a nuget package) is so fundamental that I would like to reproduce it but I am unable to.

[2018-07-02 18:44] shahabhijeet opened #4519 "Create VSTS workers for CI"
Create workers/jobs to start using VSTS for .NET SDK CI needs
- Investigation
- Need to make sure we use minimum VS 15.7 image for our workers

Investigate Cost: 4
Task Cost: 4

[2018-07-02 18:53] shahabhijeet commented on #4200
this has been fixed.

[2018-07-02 18:53] #4200 closed

[2018-07-02 19:52] CamSoper commented on #4238
@huangpf - Correct, it's probably propagated all the way from the Swagger spec.  I'm sorry, I should have put more in the description.  I'm the maintainer of the Azure SDK docs, and customer @timomta created this issue on my repo, so I cloned it over here.

[2018-07-02 21:33] MisinformedDNA commented on #4200
You're welcome.

[2018-07-02 21:34] shahabhijeet commented on #4124
@TimLovellSmith if you want to use username/password, you will have to use .NET 4.5.2 version of this library and use the one that it is bound to and you cannot upgrade to latest.
Because latest ADAL has breaking changes and you cannot use username/password with latest ADAL.

[2018-07-02 21:34] #4124 closed

[2018-07-02 21:48] dsgouda commented on #4231
1. Is already implemented
2. Inject metadata into class members
3. Incorrect metadata failure is for a future step

If code generation fails, push the data to cs file and fail the build.

[2018-07-02 22:20] dsgouda commented on #4519
Steps:
1. Can we get a dry run to build and test on a VSTS machine
2. Hook up the github repo with VSTS and test the following PR scenarios
    - PR opened from user fork to the repo
    - PR opened by a user outside the org

[2018-07-02 22:38] shahabhijeet opened #4523 "Create Jenkins workders after upgrading"
Create 3 Jenkins worker for CI
Create 2 Jenkins worker for sign/publish
Make sure we install latest VS on all the workers.

Cost: 5

[2018-07-02 22:58] dsgouda commented on #4089
@savioz are you still running into this issue? Please provide a detailed stack trace if possible.

[2018-07-03 04:00] savioz commented on #4089
no i solved that a few weeks ago

[2018-07-03 16:07] dsgouda commented on #4089
Thanks @savioz closing the issue.

[2018-07-03 16:07] #4089 closed

[2018-07-03 23:46] dsgouda commented on #4519
Results of investigation
- VSTS does not support running CI builds against PRs opened from user forks
- VSTS also does not expose build logs to anonymous users and requires a bunch of authentications

This is a blocker to migrate to VSTS

[2018-07-03 23:46] #4519 closed

[2018-07-03 23:47] dsgouda commented on #4523
Based on investigation here https://github.com/Azure/azure-sdk-for-net/issues/4519
This needs has a higher priority now

[2018-07-04 00:09] Porges commented on #4103
Turns out this isn't meant to work. The error message could be greatly improved...

[2018-07-05 05:02] #1770 closed

[2018-07-05 17:37] vinayada1 commented on #3456
These were legacy issues that we found with our Hydra SDK. However, since that is frozen for any further development, I think these can be closed.

[2018-07-05 17:38] vinayada1 commented on #3407
https://github.com/Azure/azure-sdk-for-net/issues/3407

[2018-07-05 17:38] vinayada1 commented on #3382
https://github.com/Azure/azure-sdk-for-net/issues/3382

[2018-07-05 17:38] vinayada1 commented on #3382
These were legacy issues that we found with our Hydra SDK. However, since that is frozen for any further development, I think these can be closed.

[2018-07-05 17:38] vinayada1 commented on #3407
These were legacy issues that we found with our Hydra SDK. However, since that is frozen for any further development, I think these can be closed.

[2018-07-06 16:27] KK911 opened #4528 "Remove-AzureRmApiManagementUser does not work after updating AzureRM.ApiManagement from 4.3.1"
We use Azure Automation Runbook to clean up Azure resources on certain actions from our product. The cleanup script recently stopped working with the message `'uid' does not match expected pattern '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'.` This happens when API management user is being deleted.

The command we use is
`Remove-AzureRmApiManagementUser -Context $ApiMgmtContext -UserId $apiUser.UserId -DeleteS

[2018-07-07 15:46] ccic opened #4531 "Randomly fail to create PublicIPAddress in batch mode"
My SDK version is 1.11.1, Newtownsoft.Json version is 11.0.2:

"Microsoft.Azure.Management.Compute.Fluent" Version="1.11.1"
"Microsoft.Azure.Management.Fluent" Version="1.11.1"
"Microsoft.Azure.Management.ResourceManager.Fluent" Version="1.11.1"
"Newtonsoft.Json" Version="11.0.2"

I want to create some PublicIPAddress in batch mode, so I write the following code:

            // create vms

[2018-07-08 20:17] alexmaie opened #4532 "KeyVaultClient - Threadsafe"
Hello Azure team,

can somebody confirm me that the KeyVaultClient's Get,Set ... async methods are thread safe?

Thanks

[2018-07-09 16:59] dsgouda commented on #3456
Thanks @vinayada1

[2018-07-09 16:59] #3456 closed

[2018-07-09 17:00] dsgouda commented on #3407
Thanks @vinayada1

[2018-07-09 17:00] #3407 closed

[2018-07-09 17:00] dsgouda commented on #3382
Thanks @vinayada1

[2018-07-09 17:00] #3382 closed

[2018-07-10 00:44] brminnick opened #4534 "FaceClient throws APIErrorException 'NotFound' in v2.0.0-preview"
The following code, using [`Microsoft.Azure.CognitiveServices.Vision.Face ` v2.0.0-preview](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Vision.Face/2.0.0-preview), throws `Microsoft.Azure.CognitiveServices.Vision.Face.Models.APIErrorException`

[code]

[2018-07-10 00:51] brminnick commented on #4534
# Workaround
Update the `BaseUri` to use the `Uri` containing the specific Azure Region of the Cognitive Service instance as [noted in the API docs](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236), .e.g `https://[location].api.cognitive.microsoft.com/face/v1.0`

# Example
In this example, I am using the westus region for the lo

[2018-07-10 01:10] brminnick commented on #4534
Link to sample Xamarin app: https://github.com/brminnick/FaceOff/blob/master/Source/FaceOff/Services/EmotionService.cs#L70

[2018-07-11 15:45] istvanko commented on #1794
I've just removed the PHP version setting because it seems the "off" is the default one. phpVersion setting was working a half year ago anyway so something had to change recently.

[2018-07-11 21:46] MikhailTryakhov commented on #3452
@dsgouda  need to be closed as outdated

[2018-07-11 21:48] dsgouda commented on #3452
Closing

[2018-07-11 21:48] #3452 closed

[2018-07-12 09:46] hales8181 commented on #4402
+1

[2018-07-12 11:53] grahambunce commented on #3224
Still happening - any idea if this will be fixed?

Azure Search SDK which uses this throws NullReferenceException

`at Microsoft.Rest.RetryDelegatingHandler.<>c__DisplayClass11_0.<<SendAsync>b__1>d.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwa

[2018-07-12 20:56] zacg opened #4538 "Propagate Meaningful Network Related Exceptions"
Recently the "management.azure.com" API endpoint experienced degradation in service for an extended period of time which resulted in TCP connections being closed/reset at random.

This resulted in the SDK throwing generic "Task Was Canceled" exceptions on the async API calls.

It would be helpful if the SDK library could emit a "Network Error" exception so business logic can attempt to recover fro

[2018-07-12 21:14] zacg opened #4539 "Make Managment Endpoint Host Configurable"
Recently the "management.azure.com" API endpoint experienced degradation in service for an extended period of time which resulted in TCP connections being closed/reset at random.

This resulted in the Azure critical response team to advise us to redirect our traffic from "management.azure.com" to an alternate unaffected region (e.g.  westus.mangement.azure.com).

If the "management.azure.com" endp

[2018-07-12 22:35] MikhailTryakhov commented on #2410
outdated

[2018-07-12 22:35] MikhailTryakhov commented on #2410
@dsgouda  please close

[2018-07-12 22:38] dsgouda commented on #2410
@MikhailTryakhov please provide details about the issue or link if it has been discussed elsewhere

[2018-07-13 11:23] macpak opened #4542 "Azure Hybrid Benefits for Azure Sql Database"
Can I check if an Azure Sql Database has Azure Hybrid Benefits enabled/available ?

[2018-07-13 17:21] avijitgupta commented on #2410
This is the general model for all resource references in Microsoft.Network. If you get a nic, only the ID of public IP address is given out. You can get the public IP address using Get-AzureRmPublicIPAddress to get the IP address. This is by design

[2018-07-13 18:02] dsgouda commented on #2410
Thanks @avijitgupta
please make sure this is fixed in the rest spec moving forward

[2018-07-13 18:02] #2410 closed

[2018-07-14 18:34] SeanFeldman commented on #4199
Same here. Anonymous objects should be supported.

[2018-07-14 18:37] SeanFeldman opened #4544 "EventGrid events sent to storage queue subscriptions have TTL of 7 days"
With storage queues supporting infinite TTL, messages should be sent with infinite TTL rather than limited to 7 days.

[2018-07-15 18:42] brminnick opened #4545 "TextAnalyticsClient throws APIErrorException 'NotFound' in v2.0.0-preview"
**Note**: This is the same Issue affecting the FaceAPI as reported in #4534

**Note**: v2.0.0-preview does not include an implementation of `ServiceClientCredentials`, as noted as #4483, which is why I've included `class ApiKeyServiceClientCredentials : ServiceClientCredentials` in the sample code, below.

The following code, using [`Microsoft.Azure.CognitiveServices.Language.TextAnalytics ` v2.0.

[2018-07-15 18:44] brminnick commented on #4545
# Workaround
Update the `BaseUri` to use the `Uri` containing the specific Azure Region of the Cognitive Service instance as [noted in the API docs](https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c7), .e.g `https://[location].api.cognitive.microsoft.com/text/analytics/v2.0/`

# Example
In this example, I am using the westus region for t

[2018-07-15 18:50] brminnick commented on #4483
v2.0.0-preview is also missing `ApiKeyServiceClientCredentials`

[2018-07-16 01:52] mehtanilay10 opened #4546 "How to create Bot Service using dynamic MSA App Id/Password"
I want to create a new Bot Service dynamically.
For this, I am using Microsoft.Azure.Management.BotService
Here I need to pass MSA App Id & Password when using Create() of BotsOperationsExtensions.
How can I create dynamically MSA app id/pass?

When trying to use BotsOperationsExtensions.CreateWebAppBot() It gives an error of

[code]

[2018-07-18 16:01] jimbobbennett opened #4556 "CustomVision.Prediction SDK gives NotFound when no default iteration is set"
**To reproduce**
Create and train a custom vision project through the portal.
Access the project to perform a prediction from a C# app using the Microsoft.Azure.CognitiveServices.Vision.CustomVision.Prediction NuGet package.

*Expected*
The prediction results should come back successfully.

*Actual*
A 404 error is returned.

**Details**

The reason for the error is that one iteration needs to be s

[2018-07-18 16:16] SeanFeldman opened #20306 "Provide Management code sample(s) similar to publish"
Right now it has no code samples at all for management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55878a93-a9a9-5f79-5f2e-f0336ebb0cdb
* Version Independent ID: 30b42d14-0117-392c-fd5b-c4219d8a6c71
* Content: [Azure Event Grid libraries for .NET](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/eventgrid

[2018-07-18 18:15] shahabhijeet commented on #4523
Closing

[2018-07-18 18:15] #4523 closed

[2018-07-18 18:19] shahabhijeet opened #4557 "Generate Profile SDK"
- Finish investigating website generation issue
- add second profile and generate multi profile SDK for each RP
- Make sure these can be build/signed.

Cost: 2 days

[2018-07-18 18:22] shahabhijeet commented on #4325
We will revisit this if we see these issue happening again. Right now pushing it to next milestone.

[2018-07-18 21:35] dsgouda commented on #4557
Breaking this down into 2 different pieces
- Getting the Websites profile SDK to build. Initial investigation suggests that `WebsitesManagementClient` must have some operations that then get referenced in `WebsitesManagementClientExtension`, looks like there might be some overlap which is rewriting the `WebsitesManagementClient`. Need to discuss with AutoRest owners regarding this

Add a second pr

[2018-07-19 01:51] shahabhijeet commented on #4539
@zacg we have created extensibility into every management SDKs.
If you have a need to overwrite any of the public properties, in this case BaseUri, you can do that by implementing CustomInitialize and overriding BaseUri property.
Does that answer your question?

[2018-07-19 19:25] shahabhijeet opened #4563 "Clean Nuget cache during clean target"
Add a clean nuget target that will clean local nuget cache as well as default VS cache

Cost: 2

[2018-07-20 08:05] thegreatdane6 opened #4571 "Unable to get list of reservationOrder or reservationOrder details"
Hello all,

- On requesting a list containing all my reservation orders, i get an empty list.
- On requesting details about a specific reservation order, the sdk throws an forbidden exception.
- But on requesting a list containing all the reservations in the specific reservation order the expected data is returned.

At first i thought this is a problem with the SDK, so i tried to call the Api with

[2018-07-20 12:03] phatcher opened #4572 "AppAuthentication for Azure B2C"
As Azure B2C now supports client credential flow, is using AppAuthentication a supported scenario for obtaining a token.

Also, I'd like to use KeyVault to rotate client secrets for Azure B2C applications, should I roll my own or is this on your roadmap?

[2018-07-20 13:43] samsil opened #4573 "System.MissingMethodException: Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback, System.Net.Http.HttpClient)'."
**Context**
-I am trying to create KeyVaultClient instance from my "Web performance and Load Test project"
-.NET Framework 4.7
-using the latest KeyVault and KeyVault.WebKey (tried with 2.3.2 keyvault and 2.07 webkey as well)

The interesting thing is the same code with exactly the same dependencies works from other application.  The test project uses an old format csproj though, not sure whether

[2018-07-20 14:55] samsil commented on #4573
I Just found out, If I downgrade the System.Net.Http to 4.0.0.0 from 4.3.3 Then this issue seems resolved for the repro project. But I need to use 4.3.3 for some of my other libraries. So I think not working with 4.3.3 should still be considered as an issue?

[2018-07-20 17:27] healthycola opened #4574 "Nuget Package requires 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version>=3.14.2.11, but fails if a higher version is there"
In the nuget package requirements, it says it requires Microsoft.IdentityModel.Clients.ActiveDirectory **>=** 3.14.2, and we have 3.19.8 (current latest), and it fails to use that (and looks for 3.14.2 instead).

We're seeing this exception:
Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=3.14.2.11, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one

[2018-07-20 19:06] MaxVL opened #4575 "Microsoft.Azure.EventGrid - Event Grid Client, PublishEventsAsync exception - "A task was canceled" during parallel execution."
Visual Studio 2017 Enterprize
Framework Net 4.5.1

Tried both debug and running .exe.

I am running Parallel.For loop sending 5 000 events with the degree of parallelism 8.

At some point half way I am noticing slow down, and later on getting an exception, that "Task was cancelled".

Not sure why is this happening.

System.Threading.Tasks.TaskCanceledException

◢ | Task | Id = 70169, Status = Canc

[2018-07-23 18:13] dsgouda commented on #4557
SDK generated, awaiting feedback to be addressed in future tasks

[2018-07-23 18:13] #4557 closed

[2018-07-23 21:42] dsgouda opened #4578 "Make scope parameter in build case insensitive"
As suggested by an NRP partner, it would be user friendly to make the `Scope` parameter in our build case insensitive.

[2018-07-25 13:39] dagavriliu commented on #3003
how exactly was the ver cap removed in https://github.com/Azure/azure-sdk-for-net/pull/3146
?

[2018-07-25 13:47] HardToChoose opened #4584 "Long running operation result is empty"
Trying to execute a PowerShell script on Azure VM using Management.Fluent library:
[code]
_result_ object properties are initialized with nulls, despite that correct JSON was obtained from server (REST requests are logged via attached IServiceClientTracingInterceptor).

Package versions:
Microsoft.Azure.Management.Fluent.1.13.0
Microsoft.Rest.ClientRuntime.2.3.12
Microsoft.Rest.ClientRuntime.Azure

[2018-07-26 07:19] cwe1ss commented on #4323
Any update on passing a specific user assigned identity? Should we create a separate issue for this?

[2018-07-26 07:47] HardToChoose commented on #4584
I haven't observed similar behavior with other VM operations.
Considering that RunCommand**WithHttpMessages**Async method returns a non-empty `HttpOperationResponse ` with valid JSON content, seems like there's a bug somewhere in deserialization logic.

[2018-07-26 10:17] fabsenet commented on #1749
this issue is over two years old and I still struggle with it today. I found no other sources on the web and I have no idea how others are doing this. There should be a .Net-way of providing parameters but there isn't.

I created the working json parameters string from objects in this way to mirror the json parameters template file:

[code]

[2018-07-26 11:12] mevansdev commented on #4575
May be related https://github.com/Azure/azure-functions-host/issues/3160

[2018-07-26 14:18] deathly809 commented on #4584
@HardToChoose Apparently this is a known issue.  https://github.com/Azure/azure-powershell/issues/5982

[2018-07-27 02:38] vludax opened #4590 "AppAuthentication Can't retrieve tokens via Azure CLI or VS when debugging a web app in IIS"
When we debug a web app configured to run in IIS in Visual Studio, the AppAuthentication library fails to retrieve tokens, as it seems to resolve the user profile directory as "C:\WINDOWS\system32\config\systemprofile" instead of the user running Visual Studio or the user that IIS app pool is running as. Would there be anything that can be done to alleviate this issue? Thanks!

[2018-07-27 08:05] loongdefect opened #4591 "problem display datetime of Azure cosmosDB SQL"
Hi all,
I have problem display format of datetime.
View in portal is format "2018-07-01T15:19:10.0000000Z". When I using asp.net core get document, date time format is "07/01/2018 15:19:10".
How to date time format like when view in portal.

![azure](https://user-images.githubusercontent.com/8251888/43309235-6b417e0a-91ae-11e8-9e31-c07a45c6a80f.PNG)
![code](https://user-images.githubusercontent.co

[2018-07-28 07:36] lordcheeto opened #4594 "Cognitive Services Face API - FaceList Create Method Signature"
Using the Microsoft.Azure.CognitiveServices.Vision.Face 2.0.0-preview nuget package, there is an error in the `FaceListOperationsExtensions.CreateAsync` and corresponding `IFaceListOperations.CreateWithHttpMessagesAsync` method signatures:

[code]

In both cases, the method signature indicates that `name` is optional, when [the API specification indicates it's required](https://westus.dev.cognitiv

[2018-07-29 06:47] MisinformedDNA opened #4595 "Unauthorized access when trying to connect to cognitive services"
This is the code I was using and getting an "Unauthorized" response:

[code]

Per https://github.com/Microsoft/vs-tools-for-ai/issues/15#issuecomment-391549075, I need to set the `AzureRegion`.

This code works:

[code]

It seems like `AzureRegion` is required to make a successful call, so why is it not in the `ComputerVisionAPI` constructors?

[2018-07-29 21:11] shahabhijeet commented on #3213
https://github.com/Azure/azure-sdk-for-net/pull/4597

[2018-07-29 21:11] #3213 closed

[2018-07-29 22:01] shahabhijeet commented on #4096
@kuacci there isn't anything in the clientruntime we can do to workaround this issue.
We do not want to swallow the ambiguous exception as it affects basic clientruntime info in the request header for each SDK request. Not swallowing the exception made the real issue getting discovered in this case.

The following comment clarifies what was causing the issues in the first place.
https://github.com

[2018-07-29 22:01] #4096 closed

[2018-07-30 02:20] shahabhijeet commented on #4234
@hovsepm this bug is fixed in newtonsoft 10.0.3
So at this point .NET SDK targeting .NET 4.5.2 will not be fixed, but all SDKs that are targeting .NET Core can upgrade to newtonsoft 10.0.3 or above and this will not be an issue.

.Net SDK targeting .NET 4.5.2 cannot be upgraded due to powershell restriction and hence will have to wait until later part of year 2018

[2018-07-30 02:20] #4234 closed

[2018-07-30 05:42] lebronJ opened #4600 "CognitiveService-Vision-Face test project failed to build for missing XUnit"
I am using the latest VS 2017 (Microsoft VS Enterprise 2017 Version 15.7.5) but failed to build [`psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Vision/Face/Face.Tests`](https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/CognitiveServices/dataPlane/Vision/Face/Face.Tests) with below error message:

`
2>FaceVerificationTests.cs(7,7,7,12): error CS0246: The type or namespace name '

[2018-07-30 09:38] ChristianSauer opened #4602 "Azure Batch: DeleteJob(async) fails"
Hi,
I am currently using Docker Linux Containers ( microsoft/dotnet:2.1.1-aspnetcore-runtime) aund Azure Batch 8.1.2 and I am trying to delete an job like this:

[code]

The job exists, but I just get an BatchException which contains this message:
"Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:fc2efe54

[2018-07-30 16:56] shahabhijeet opened #4604 "Generate serviceclient generator for HttpClient overload"
Currently ServiceClient has a protected constructor that takes HttpClient.
Generate public constructors in SDKs that takes advantage of this new constructor.

[2018-07-30 17:02] shahabhijeet opened #4606 "Setup jenkins to build master branch"
Currently master branch is supporting hydra SDK
We need to either review machines that can still build hydra
If not create new ones.
Make sure we can build/sign and publish sdks

Cost: 3

[2018-07-30 17:11] shahabhijeet commented on #4591
@loongdefect this repo is for reporting issue related to .NET SDK.
Are you having this issue with the cosmosDB sdk, if yes can you provide the name/version of the SDK that you are using.

[2018-07-30 17:14] shahabhijeet commented on #4584
@HardToChoose if this is happening in Fluent libraries, then it should be reported at this location.
This repo is for non-fluent .NET SDKs
https://github.com/Azure/azure-libraries-for-net/issues

[2018-07-30 17:39] shahabhijeet commented on #2750
@markcowl this was fixed around Dec 2017 timeframe.
Closing this issue.

[2018-07-30 17:39] #2750 closed

[2018-07-30 17:41] shahabhijeet commented on #3020
@jaredmoo this was fixed starting ClientRuntime.Azure version 3.3.12.
Please open a new issue if your issue has not be solved yet.

[2018-07-30 17:41] #3020 closed

[2018-07-30 17:44] shahabhijeet commented on #2403
@matthchr is this still an issue? I am cleaning up old issues. Will close this if I don't hear back in a week.

[2018-07-30 17:49] matthchr commented on #2403
@shahabhijeet - yes, I don't see this fixed in the latest drops of the SDKs, so it's still a problem.

[2018-07-30 19:02] shahabhijeet commented on #3224
@chrisvanderpennen @grahambunce Extreamly sorry for not addressing this issue earlier.
We are in process of taking a look at our current code base and are prioritizing things that needs to be either revisited or re-written.
This particular error is around our policies and the extensibility provided to apply policies (especially retry policies) to RPs for individual needs.
I will be tackling that e

[2018-07-30 20:17] varunsh-msft commented on #4590
I tried this out, and if the app pool in IIS for the web app is configured to run as your current user account, it worked fine for me. I tried both Visual Studio and Azure CLI and was able to get token using both. I tired using a .NET Framework Web application.

Are you sure you configured app pool to run under the correct account? It should be the account you are logged into the machine as and ru

[2018-07-30 20:26] varunsh-msft commented on #4323
We have been working on some updates to the library for SQL Azure and Storage, and after that will take up the work to pick a user assigned identity. It would be better to track it as separate issue though. thanks!

[2018-07-30 20:26] varunsh-msft commented on #4370
@leniency , can you please close this issue? Thanks!

[2018-07-30 21:13] shahabhijeet commented on #4325
We do not see any value in pursuing this option at this stage as the effort is not worth the reward, plus we will be soon moving to VSTS.

[2018-07-30 21:13] #4325 closed

[2018-07-30 21:15] shahabhijeet commented on #2905
Please reactivate this issue or open a new issue if this is still a problem
Closing.

[2018-07-30 21:15] #2905 closed

[2018-07-30 21:58] dsgouda opened #4607 "Investigate and expose a $RootRepo parameter in code generation cmdlet"
As of today, we expect `Start-AutoRestCodeGeneration` cmdlet to be called in a ps1 under the sdk repo.
We need to investigate:
- Why do we need the repo root directory (other than finding a file path for the log file and sdk generation directory)
- What happens if the script can't find the repo root dir
- Can we parameterize this repo root

[2018-07-30 21:58] dsgouda commented on #4494
Looks like we need to expose a `$RepoRoot` parameter in our cmdlets in order to enable this.
Related issue here.
https://github.com/Azure/azure-sdk-for-net/issues/4607

[2018-07-30 22:09] shahabhijeet opened #4608 "Validate mult-profile sdks"
- make sure we can build, sign the new multi-profile SDKs
- convert multi-api SDK test to multi-profile test

Cost: 3

[2018-07-30 23:48] hovsepm commented on #4584
just FYI, This issue should be fixed in our next release. But please do open it in https://github.com/Azure/azure-libraries-for-net/issues in order to track the progress.

[2018-07-31 03:28] vludax commented on #4590
Hi @varunsh-msft ,

Thank you for getting back to us.

It is the fact that we run VS as admin that resolves "LOCALAPPDATA" as "C:\WINDOWS\system32\config\systemprofile". Azure CLI seems to be retrieving the same value, based on the inner errors it produces.
In order to run web application in IIS, we need to run Visual Studio as admin, otherwise the following message is displayed when we attempt to

[2018-07-31 05:52] lebronJ commented on #4594
Thanks @lordcheeto for your feedback, yes this is an error since name is actually required. Let me track this and fix it ASAP.

[2018-07-31 06:30] varunsh-msft commented on #4590
You can please set "LoadUserProfile" property to True in the app pool identity advanced settings? That should fix it.

[2018-07-31 08:48] phatcher commented on #4572
@varunsh-msft Looks like the second one has already been asked on SO - https://stackoverflow.com/questions/44822092/how-to-secure-azure-client-id-and-secret-without-using-app-settings-of-app-servi

[2018-07-31 09:36] loongdefect commented on #4591
Hi @shahabhijeet
I think this problem of  .NET SDK.
On Portal is view correct.
This issue is close, because I don't working with CosmosDB.

Thank,

[2018-07-31 09:36] #4591 closed

[2018-07-31 10:56] stijnherreman commented on #3521
Is there anything blocking progress on this issue? If I understand correctly, `Microsoft.Azure.Services.AppAuthentication` must reference a newer version of `Microsoft.IdentityModel.Clients.ActiveDirectory` and `Microsoft.Extensions.Configuration.AzureKeyVault` must reference the new version of `Microsoft.Azure.Services.AppAuthentication`?

[2018-07-31 14:10] markusschaber commented on #4380
Alternatively, they could maintain their own build (and NuGet Packate) as a parallel fork, with sane naming and versioning policy.
We had similar problems with another library some time ago, and our solution was to build ourself, using our own snk file, so we get our own "strong name". That way, we can make sure we have unique version numbers, and the framework cannot load wrong assemblies because

[2018-07-31 17:52] joymon commented on #4103
@Porges ,@tyjen
You may try obtaining a token based cloud credentials from the certificate. We are using AD App to do operations which has certificate associated. Below goes the code for HDInsightManagementClient. It may work for your scenario too.
`        internal static async Task<HDInsightManagementClient> Get(string subscriptionGuid)
        {
            string token = await TokenFactory.Get

[2018-08-01 05:25] vludax commented on #4590
I've check that setting, and it was already enabled (it's running on the default app pool). See screenshot below.

The following message is included in the thrown exception when we call `GetAccessTokenAsync`:

Restarting the application in IIS Express while running VS as admin solves the problem.

![App pool settings](https://user-images.githubusercontent.com/5164413/43502191-e40b92fc-959c-11e8-90

[2018-08-02 08:09] seahawksq opened #4620 "TrafficManagerProfile.WithoutEndpoint removes the incorrect endpoints"
With package version 1.13.0, the TrafficManagerProfile.WithoutEndpoint only "keeps" the endpoint from input parameter other than "removes" it, for example:
In the profile there are three endpoints - endpoint1, endpoint2 and endpoint3.
profile.Update().WithoutEndpoint("endpoint2").Apply() removes endpoint1 and endpoint3 but the expected behavior should remove endpoint2 only.
When debugging into the

[2018-08-02 18:13] dsgouda commented on #4606
CI jobs are now running against master

[2018-08-02 18:13] #4606 closed

[2018-08-02 22:02] matthchr commented on #4602
Hi @ChristianSauer - we're aware of this issue. It's due to how we implemented shared key auth and [this](https://github.com/dotnet/corefx/issues/31172) issue in netcoreapp2.1

For now we're recommending folks target netcoreapp2.0. We will release a fix to this in the upcoming 9.0 release in the next few weeks.

[2018-08-02 22:12] matthchr commented on #3841
hi @benjzh - Unfortunately Azure Batch doesn't support VM extensions for pools at this time.

I've filed this as a feature request [here](https://github.com/Azure/Batch/issues/16).

Since this is a service limitation and not an SDK specific limitation, @shahabhijeet can we close this issue?

[2018-08-02 22:14] matthchr commented on #3097
@svick - This was implemented on 5/25/2017, but I missed closing this issue at that time.

@shahabhijeet can we close this issue? This package supports netstandard1.4 now.

[2018-08-03 15:09] xclayl opened #4626 "Missing UKSouth"
AzureRegions enum is missing UKSouth.

We'd like to use "KeyPhrasesAsync()" with our Cognitive Service located in UK South.

[2018-08-03 15:10] xclayl commented on #4626
enum is:
Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models.AzureRegions

[2018-08-03 22:05] shahabhijeet opened #4628 "Align Constructors for SDK clients"
Currently all the ServiceClient constructors are not being generated when SDKs are generated.
Generate SDK that takes httpClient as a parameter.

[2018-08-04 00:58] brminnick opened #4631 "Add `Endpoint` to `FaceClient` Constructors"
[Microsoft.Azure.CognitiveServices.Vision.Face v2.2.0-preview](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Vision.Face/2.2.0-preview) requires `FaceClient .Endpoint` to be set.

If `EndPoint` is not set, the SDK will throw the following `ValidationException`:

Because the SDK requires the developer to set `Endpoint`, add it to both constructors to ensure it is always added.

W

[2018-08-04 00:58] brminnick commented on #4631
Adding @noellelacharite for visibility

[2018-08-04 01:22] easyj2j opened #4632 "ComputerVision 3.2.0 gives ComputerVisionErrorException"
Every method using ComputerVision 3.2.0 gives: "ComputerVisionErrorException: Operation returned an invalid status code 'NotFound'".

[2018-08-04 01:27] brminnick opened #4633 "Inconsistent Nomenclature Between Azure Portal and SDKs: Endpoint"
# Issue
The Azure Portal uses the term `Endpoint` to refer to the API Endpoint:
![picture1](https://user-images.githubusercontent.com/13558917/43671124-35bcc654-9749-11e8-85ef-1c5e169c9e8a.png)

[Microsoft.Azure.CognitiveServices.Vision.Face v2.2.0-preview](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Vision.Face/2.2.0-preview) also also uses the term `Endpoint`, but is referri

[2018-08-04 01:27] brminnick commented on #4633
Adding @noellelacharite for visibility

[2018-08-04 14:58] easyj2j commented on #4632
This is due to the change in setting the endpoint:

3.2: computerVision.Endpoint = "https://westcentralus.api.cognitive.microsoft.com";
2.1: computerVision.AzureRegion = AzureRegions.Westcentralus;
ProjectOxford: computerVision.ServiceHost = "https://westcentralus.api.cognitive.microsoft.com/vision/v1.0";

Would like to see:
 - On the NuGet page: an emphasis on the change in specifying the URL
 -

[2018-08-06 18:20] shahabhijeet opened #4636 "DeviceAuthentication should work with .NET Core"
fix for https://github.com/Azure/azure-libraries-for-net/issues/282

[2018-08-06 19:17] shahabhijeet commented on #4628
https://github.com/Azure/autorest.csharp/pull/100

[2018-08-06 19:17] #4628 closed

[2018-08-06 20:25] shahabhijeet commented on #2519
@markcowl can you clarify what is missing in our test framework that needs to be enabled.
Currently our TestFramework provides a way to select TestEnvironment using the key-vaule pair Environment={EnvName} as documented here
https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/Documentation/Using-Azure-TestFramework.md#71-supported-keyvalue-pairs-in-connectionstring

[2018-08-06 21:12] shahabhijeet commented on #2487
@JanEggers first of all sorry for getting to this issue so late.
Please help me understand this issue and let me know if this is still an issue.
What is missing in this the following information:
1) Name of SDK and version
2) Also a scenario that you can describe so that I can repro at my end.

[2018-08-06 23:30] dsgouda commented on #4608
Bumping cost by 2.
We needed to add tests per RP

[2018-08-07 00:15] thegreatdane6 commented on #4571
Anyone?

[2018-08-07 05:58] JanEggers commented on #2487
@shahabhijeet this was aspnetcore 1.0 on core runtime and net461 and I didnt encounter the issue since. so ill close this one and open a new issue if I see anything similar.

[2018-08-07 05:58] #2487 closed

[2018-08-07 19:52] shahabhijeet commented on #2519
Closing this issue, as the latest framework does have support for custom environments.

[2018-08-07 19:52] #2519 closed

[2018-08-07 20:06] shahabhijeet commented on #2403
@matthchr ok I looked at this and what I am not very clear is the following:
1. are you suggesting that the base interface should have IDisposable (from a good design point of view)
or
2. You have a scenario where you will be using the base Interface IHttpOperationResponse and not the concrete class HttpOperationResponse? If yes can you provide me a scenario in your SDK where you are using the Int

[2018-08-07 21:09] jzabroski commented on #4380
@markusschaber  Maybe we should take a step back and ask why Newtonsoft is on release 10+: are these features or bugs.

[2018-08-07 23:43] matthchr commented on #2403
@shahabhijeet - I guess most just 1?

Since `IHttpOperationResponse` has two properties whose types implement disposable, it (from a good design point of view) should probably implement `IDisposable` itself.

We do use the interfaces to set up generic constraints, for example:
[code]

Right now it doesn't really matter that `IAzureOperationResponse` doesn't implement `IDisposable` because of the w

[2018-08-08 11:52] markusschaber commented on #4380
@jzabroski The other question is whether the other serializers have all the features which come with Json.Net - in our current project, the auto-mapping of property names between camelCase and PascalCase comes in handy, as we need to talk with code with other naming conventions.

[2018-08-08 20:43] dsgouda commented on #4608
Added working tests for:
- Compute
- Resource
- Storage
- Websites
Need connection strings to record tests for:
- KeyVault
- Authorization
Need specific tests to record:
- Subscription
Will fix the tests in a new task

[2018-08-08 20:43] #4608 closed

[2018-08-09 03:15] kuacci commented on #4096
I have to say that my issue has nothing to do with App Insights extension. As I said before, the issue was resolved after removed **SCOM** (System Center Configuration Manager) **Application Monitor Agent** which is another Microsoft product.

Maybe I should check with SCOM team, but I believe the change from your side would be the permanent solution for this kind of issue.

[2018-08-09 14:20] thdotnet opened #4645 "reading secrets from KeyVault with Microsoft.Azure.Services.AppAuthentication"
Hi,

I've just did a console app to read a secret from key vault and it took 24 seconds to retrieve the value. Is it normal? Here's the code:

[code]
and here's the packages.config

[code]

[2018-08-09 17:01] bgklein commented on #2538
@matthchr it looks like this didn't make it through. Do we want to make this change?

[2018-08-09 20:58] shahabhijeet opened #4647 "Opt-out of sending data via userAgents"
There are scenarios where Generated clients are not sending data to Azure.
We should provide a way to opt-out of setting useragent data.
Let's first come up with a design as part of this task and let's have a prototype.
The purpose of this task is to figure out how feasible is it to turn on/off and yet provide flexibility for our SDKs to individuall turn on/off.

Cost: 4

[2018-08-10 12:08] maikvandergaag opened #4649 "Could not load file or assembly, when using the Azure Fluent SDK and the Microsoft.Azure.Services.AppAuthentication (MSI) library"
At the moment we are building an Azure Function within Visual Studio 2017 that retrieves information from a Azure Key Vault.

The information retrieved from the key vault is used to authenticate the Fluent API. When we try this we get the below exception. it seems there is a hard dependency to this dll.

"Microsoft.Azure.WebJobs.Host.FunctionInvocationException : Exception while executing function

[2018-08-10 13:43] DavidBetteridge opened #4650 "Example of using RelayManagementClient"
Is there an example or any documentation for using the RelayManagementClient from the Microsoft.Azure.Management.Relay nuget package.

I am unsure how to initially authenticate,  I've tried passing an instance of Microsoft.Rest.BasicAuthenticationCredentials to the ctor but I only seem to get an 401 response code.

thanks

David

[2018-08-10 16:26] dsgouda opened #4651 "ServiceClient.cs is broken on Visual studio for using mono"
Per the comment [here](https://github.com/Azure/azure-sdk-for-net/commit/a2e6ec3b3afe5c0d07148b1282c598403fa910aa#commitcomment-30029492), the CLientRuntime improvements to enable mac on mono still seems to be breaking ServiceClient.cs. This needs an investigation and possibly a fix.

Cost: 3

[2018-08-10 17:02] tpaulshippy commented on #4651
Thank you. I think the fix may be as simple as skipping the two lines in the DefaultUserAgentInfoList property that reference OSNAME and OSVERSION. Because the exception appears to be parsing the empty string or the single period in the ProductInfoHeaderValue.

[2018-08-10 17:17] varunsh-msft commented on #4645
This is not normal. This may be because you are using Azure CLI for local development, and that has telemetry enabled. I have seen cases where Azure CLI is slow/ hangs if telemetry is enabled.

Can you please disable telemetry and try? Details are [here](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-values-and-environment-variables). I b

[2018-08-10 18:20] shahabhijeet opened #4654 "Ability to shorten test recorded file names"
Find a way if we can shorten the recorded file name without asking test authors to change anything.
Should be a httprecorder/testframework solution.

[2018-08-10 21:26] DavidBetteridge commented on #4650
I've got it working by creating an Application Registration in  Azure AD and then using that to create a token via the authenticationContext.AcquireTokenAsync method.

I then pass the token into the ctor of Microsoft.Rest.TokenCredential

Is this the correct way of working?

[2018-08-10 22:10] dsgouda commented on #4607
WIll be merged here https://github.com/Azure/azure-sdk-for-net/pull/4648

[2018-08-10 22:10] #4607 closed

[2018-08-10 22:10] dsgouda commented on #4231
Will be merged here https://github.com/Azure/azure-sdk-for-net/pull/4648

[2018-08-10 22:10] #4231 closed

[2018-08-12 07:14] bgklein commented on #2538
Discussed with Matt in person and he informed me that these changes were made locally and should be in the next release.

[2018-08-13 01:26] shahabhijeet commented on #4563
https://github.com/Azure/azure-sdk-for-net/pull/4656

[2018-08-13 01:26] #4563 closed

[2018-08-13 01:32] shahabhijeet commented on #2403
@matthchr thank you for pointing this out.
At this point, we are not thinking of changing anything in our base interfaces. We will revisit this when we will be redesigning our base class probably after Titanium.
Plus the referenced issue is good confirmation that this will be good to have and not a must.
Closing.

[2018-08-13 01:32] #2403 closed

[2018-08-13 12:28] thdotnet commented on #4645
Hi,

I did another test, but this time disabling the log collection and it took 9 seconds.

![image](https://user-images.githubusercontent.com/1413082/44031699-2bfd46ea-9edb-11e8-836d-470f1dac8f72.png)

![image](https://user-images.githubusercontent.com/1413082/44031724-45a415a6-9edb-11e8-838a-57a4c565e140.png)

[2018-08-13 12:30] thdotnet commented on #4645
Also, my VS is 2017 version 15.7.2. Do you think it can be related to the datacenter I've chose? It's running in Brazil South. Please let me know if you need more details, maybe more users are facing the same problems.

[2018-08-13 16:45] tpaulshippy commented on #4651
@dsgouda Absolutely.
* mono --version returns "Mono JIT compiler version 5.10.1.57 (2017-12/ea8a24b1bbf Tue Apr 24 14:53:01 EDT 2018)
* Visual Studio version is 7.5.4 (build 3)
* Stack trace:
[code]

Code sample I used to reproduce:
[code]

[2018-08-13 16:50] tpaulshippy commented on #4651
Exception comes from this line I believe: https://github.com/mono/mono/blob/d36902effdcb02d93b14943ce3ceaf1bcf11619a/mcs/class/System.Net.Http/System.Net.Http.Headers/Parser.cs#L57

[2018-08-13 16:52] dsgouda commented on #4651
Perfect, we will take a look into this. Appreciate the feedback!

[2018-08-13 22:28] shahabhijeet commented on #4232
https://github.com/Azure/azure-sdk-for-net/pull/4658

[2018-08-13 23:56] shahabhijeet opened #4659 "ability to publish multiple packages"
- Provide a way to publish multiple packages
- Provide a way that only authenticated users can publish multiple packages.

[2018-08-14 00:25] #4232 closed

[2018-08-14 12:46] JonasJes commented on #4590
Any update on this? I have same problem exact and need my website running on my Local IIS when debugging in Visual Studio 2017

[2018-08-14 13:21] KeishaW opened #4661 "Able to create service bus with the same name with the Fluent SDK"
I'm using this to create a service bus using the Fluent SDK:

[code]
If I run this code for two different resource groups using the same serviceBusName, I get a service bus created in both resources groups without error. However when I go to the Azure portal the first service bus opens fine, but I get an error saying 'Not Found' when trying to open the second.

I understand that servicebus names m

[2018-08-14 17:38] #4370 closed

[2018-08-14 18:45] dsgouda opened #4662 "Enable creation of Nuget packages per RP for multiple profiles"
As of today, we generate mutli-profile Nuget packages per RP per profile. To enhance user experience we need to figure out a way to combine Nuget packages per RP for multiple profiles.
Involves creation of per PR csproj files that reference other csproj files

[2018-08-14 18:50] dsgouda opened #4663 "Commit multi-profile changes to azure-rest-api-specs master"
The changes made to readme.csharp.md files to enable multi profile sdk generation are currently in dsgouda fork. Open a PR against the azure fork master branch and merge the changes.
Things to consider
- Do the changes work independent of the `--multi-api` flag
- What flags are required to generate the code for multi profile now
- Fix all the generate.ps1 files in the multi api repo

[2018-08-15 22:17] matthchr commented on #4414
We will fix this with the next release

[2018-08-15 23:44] #3841 closed

[2018-08-15 23:47] #3097 closed

[2018-08-16 11:15] ruant commented on #2929
@shahabhijeet Why isn't `/` in the list of special chars?

[2018-08-16 11:28] ruant commented on #2929
After a bit more digging the problem I have isn't 100% matching this one. But really similar.
It's not the OS failing, it's the version of my application that crashes it.

Perhaps `CleanUserAgentInfoEntry` should be run on on `_clientVersion` before returning it.
And add support for `/`

[2018-08-16 11:44] ruant commented on #2929
https://github.com/Azure/azure-sdk-for-net/pull/4669

[2018-08-16 16:04] SeanFeldman commented on #4661
@KeishaW are you running the snippet above concurrently when running into this issue?

[2018-08-16 16:55] dsgouda commented on #2259
There are certain warnings that come from the generated/customized SDKs. Fixing these now may cause breaking changes to these SDKs, hence skipping them for now.
Focusing on the test projects, most warnings are related to incorrect/inefficient use of the xUnit functionalities. Fixed these warnings [here](https://github.com/Azure/azure-sdk-for-net/pull/4664)
This PR also enables reporting warnings a

[2018-08-16 17:10] dsgouda commented on #2259
Update: I haven't fixed 1591 (comments for public members) for the Test projects. Not sure if we would want to do it for the test projects.
Will talk to @shahabhijeet and make necessary fixes.

[2018-08-16 17:13] matthchr commented on #2259
Shouldn't we have 1591 enabled on our actual SDKs? (I don't really care about tests, just SDKs).

And if the code-generator isn't generating code with comments, fix the generator so it does?

It seems a pretty reasonable requirement that all public methods have comments in the public SDKs, right?

[2018-08-16 17:27] dsgouda commented on #2259
Agreed, we should, and we will investigate if there are any other warnings being reported in the generated SDKs which probably need an AutoRest fix. This was an initial effort to reduce number of warnings reported in the build and we will tackle the rest moving forward.

[2018-08-16 17:50] dsgouda opened #4670 "Enabling Warnings as errors for test projects"
Breaking off of [here](https://github.com/Azure/azure-sdk-for-net/issues/2259), as a first iteration let's fix all the warnings in test projects.
Future tasks would be to fix ClientRuntime SDK and then report and fix warnings in the customized SDKs and lastly fix the AutoRest code generator to actually generate SDKs without warnings.

[2018-08-16 17:54] dsgouda opened #4671 "Generate a log file with details regarding powershell modules installed on machine"
Dump a verbose log of the powershell modules copied on user machine which will help us better diagnose and fix issues with powershell commands not being found

[2018-08-16 18:41] dsgouda opened #4672 "Update build tools dlls in multi api profile and private sdks"
Needs some minor testing of the code generation cmdlets too

[2018-08-16 19:33] v-Ajnava commented on #3526
@dsgouda  URL is fixed , can you please close the issue

[2018-08-16 19:39] dsgouda commented on #3526
Closing per @v-Ajnava 's feedback

[2018-08-16 19:39] #3526 closed

[2018-08-16 23:12] dsgouda commented on #4651
@tpaulshippy
Tried repro-ing this issue on a Mac.
This was my program
[code]
which produces the following output
[code]
The mono version installed is
[code]
Lastly, Visual Studio version is 15.7
Also, I used the latest ClientRuntime Nuget packages
[code]

I am not able to repro this exact issue. Could you provide some additional information that can help us repro the issue (target framework, nuget

[2018-08-17 07:39] bibliothek opened #18650 "What is the default value for MaxAutoRenewDuration?"
What is the default value MaxAutoRenewDuration?

This information should be included in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cde8a2d5-889d-9746-cdae-49e8036ac504
* Version Independent ID: f4b244d8-2d2a-c276-76b7-0b2bd7179a2e
* Content: [MessageHandlerOptions.MaxAutoRenewDuration Property (M

[2018-08-17 17:07] dsgouda commented on #4670
Changes will be merged [here](https://github.com/Azure/azure-sdk-for-net/pull/4664)

[2018-08-17 17:55] dsgouda opened #4676 "Add AutoRest modules/Node versions info to SdkInfo_*.cs"
We could do with knowing all the AutoRest module versions used to generate code (eg.: modeler, csharp generator, etc) so that we can diagnose problems with code generation quicker

[2018-08-17 21:56] shahabhijeet commented on #4636
https://github.com/Azure/azure-sdk-for-net/pull/4677

[2018-08-19 06:59] takekazuomi commented on #4602
Workaround. It's works for me.

https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-2-1#sockets-improvements

[2018-08-20 10:52] jonasbutt opened #4678 "Microsoft.Azure.Search 5.0.2 high memory usage"
We're seeing high web server memory usage when using version _5.0.2_ of the Microsoft.Azure.Search package. Reverting back to _5.0.1_ seems to resolve the issue.  The app in question is deployed to an Azure web app running in an ASEv2.

Anyone else experiencing this issue?

[2018-08-20 11:19] borgdylan opened #4679 "Creation of Storage Account yields an invalid JSON error"
I am trying to make a new stoeage account using the Fluent API for Azure. This used to work in the past, but today it has failed:

[code]

The code sequence used was:
[code]

Assue that the ```azure``` object represents an full logged in client.

[2018-08-20 15:11] deathly809 commented on #4679
https://jsonlint.com/ reports as valid JSON, VSCode reports as valid JSON.

I assume the period at the end was not part of the JSON.  Are there special characters?

[2018-08-20 17:00] borgdylan commented on #4679
This was an issue withing the West Europe data centre itself. A simialr failure had occurred when using the portal UI. Closing this since teh Azure engineers fixed it from their end.

[2018-08-20 17:01] #4679 closed

[2018-08-20 19:25] ankushbindlish2 opened #4681 "SDK Generation for Microsoft.StorageSync RP created files in Storage folder instead of StorageSync folder"
1. Classes were created in H:\csharpsdk\azure-sdk-for-net\src\SDKs\Storage\Management.StorageSync
2. Log file is empty : H:\csharpsdk\azure-sdk-for-net\src\SDKs\_metadata\storagesync_resource-manager.txt
2. StorageSyncService class was inherited from TrackedResource class in swagger spec but in generation it was derived from IResource., and hence failed compiling.
Actual : public partial class Sto

[2018-08-20 19:54] brjohnstmsft commented on #4678
@jonasbutt There were no code changes in version 5.0.2, just documentation changes. The only material change is that the minimum required versions of `Microsoft.Rest.ClientRuntime` and `Microsoft.Rest.ClientRuntime.Azure` went up (from 2.3.11 to 2.3.12 and from 3.3.12 to 3.3.13, respectively). Are you observing similar issues with other Azure .NET SDKs with the same dependencies?

@shahabhijeet Is

[2018-08-21 07:06] welcomedurga commented on #3939
Thanks @brjohnstmsft, your suggestion worked for me.

"I've added the NuGet package for System.Net.Http 4.3.3 to my class library which contains the above code - and now it works."

[2018-08-21 08:13] jonasbutt commented on #4678
This was the first time we experienced such an issue. This was the diff to fix our issue:

![image](https://user-images.githubusercontent.com/11428168/44389316-ce1cbf00-a52a-11e8-84c2-9a0f4d533188.png)

[2018-08-21 08:14] jonasbutt commented on #4678
This was the first time we experienced this type of memory issue with the Azure SDK.
This was the diff to fix our issue:

![image](https://user-images.githubusercontent.com/11428168/44389316-ce1cbf00-a52a-11e8-84c2-9a0f4d533188.png)

[2018-08-21 09:57] mopede80 commented on #4649
Having the same problem. After searching a bit on the net this problem already was an issue last year with older releases of fluent. Apparently it was fixed back then, but guess not. Will there be a fix for this?

[2018-08-21 17:47] shahabhijeet commented on #4678
@jonasbutt without knowing what your scenario is, it's hard to even recommend/suggest you any workaround.
Can you let me know how can I repro this issue, but in the mean time, can you upgrade your ClientRuntime reference to the latest package version and see if that resolves the issue.

[2018-08-21 18:04] dsgouda commented on #4651
Thanks @tpaulshippy I am now able to repro the issue, will update when we are ready with a fix.

[2018-08-21 18:13] shahabhijeet commented on #4681
@ankushbindlish2 regarding the compiler error you are seeing in the generated code, please model the TrackedResource using the common model definition from this location
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v1/types.json#L45
Here is one such example of it's usage
https://github.com/Azure/azure-rest-api-specs/blob/ac8857e5386be4f11

[2018-08-21 19:42] ankushbindlish2 commented on #4681
Sure, Will try.

1. What's the problem with underlying swagger spec. I have seen similar spec with other RP.
2. Did we find out why we are generating it in wrong location. storage instead of storagesync

[2018-08-21 22:09] varunsh-msft commented on #4590
I looked into this, and you can fix the issue by setting "setProfileEnvironment" to true.
https://docs.microsoft.com/en-us/iis/configuration/system.applicationhost/applicationpools/add/processmodel
_"When setProfileEnvironment is set to True, WAS creates an environment block to pass to CreateProcessAsUser when creating a worker process. This ensures that the environment is set based on the user pr

[2018-08-22 00:13] vludax commented on #4590
Hi @varunsh-msft, thank you for investigating the issue and suggesting the solution! We've tested it, and it worked as expected. We consider this issue to be resolved in our case.

[2018-08-22 01:11] #3441 closed

[2018-08-22 13:09] asears commented on #4380
This (or similar) issue just bit us with Azure Automation.  AA uses JSON.NET v6 and Powershell AzureRM.profile library uses v6 and v10.    Have seen a number of these issues related to Powershell / AzureRM and Newtonsoft JSON.

Running Get-AzureRmDataFactoryV2Pipeline  on Hybrid Worker:
[code]
This method was introduced in JSON.NET v7.
https://github.com/JamesNK/Newtonsoft.Json/commits/master/Src/

[2018-08-22 14:30] BadgerCode commented on #4532
Seems to be
https://msdn.microsoft.com/en-us/library/microsoft.azure.keyvault.keyvaultclient.aspx#Anchor_5
https://stackoverflow.com/questions/6675905/which-features-make-a-class-to-be-thread-safe

[2018-08-22 15:34] alexmaie commented on #4532
would be nice to also add it here :)
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.keyvault.keyvaultclient?view=azure-dotnet

[2018-08-22 17:30] naveenkumarmca opened #4690 "Azure VMAccessExtension ApplyAsync() is not working using Fluent SDK C#"
Hello Team,

I am facing a strange issue that I am not able to add an extension when using ApplyAsync(). But the same code works for Apply(). Am I missing anything or is this an SDK issue?

[code]
Thanks in advance.

[2018-08-22 18:30] hovsepm commented on #4636
@shahabhijeet the library looks good. .NetCore and .Net 461 has DeviceAuthentication now. Please publish the new versions of both Auth 2.3.4 and TestFramework 1.7.3 packages.

[2018-08-22 19:02] dsgouda opened #4692 "Building the repo with msbuild on non-windows OS fails"
When building the repo on a non windows machine using msbuild (mono implementation), the following error is reported
[code]

[2018-08-23 04:53] yellowsix commented on #3170
I am encountering this exact same issue with version 8.1.2 of the Azure.Batch running on .net core 2.1.

I was able to create a pool and start a job no problem, but can't delete it. Is it possible this bug is back? Anything I can do to get around it?

[2018-08-23 14:36] matthchr commented on #3170
It is back, and is being tracked by #4602 - A fix is in PR here #4689 and will be released as 9.0 shortly.

[2018-08-23 15:01] KeishaW commented on #4661
@SeanFeldman no I am not. I run the snippet the first time, to the get the first service bus. And after it is created and I see it in the Azure portal, I run it again without error.

[2018-08-23 15:53] SeanFeldman commented on #4661
Sounds like a bug.
If only issues were triaged here in a timely mannor...

[2018-08-23 15:55] SeanFeldman commented on #4661
Maybe @shahabhijeet @hovsepm @cormacpayne can help here.

[2018-08-23 19:53] #4602 closed

[2018-08-23 20:15] matthchr commented on #4475
@shahabhijeet - This is fixed now

[2018-08-23 20:50] hovsepm commented on #4661
@KeishaW please reopen the issue in the Fluent SDK repo here https://github.com/Azure/azure-libraries-for-net/

[2018-08-23 20:50] #4661 closed

[2018-08-23 21:03] CamSoper commented on #4475
Thanks for the assist, @matthchr, and thanks for logging the issue, @Mikhail-Pranovich !

[2018-08-23 21:03] #4475 closed

[2018-08-23 21:32] DanCaveman commented on #4278
I am having this issue as well.  The following code I am running in a unit test and it starts out good for a hundred messages or so, then, it slows significantly as the threading errors roll in.  Any ideas what I am doing wrong?

`            var drainReceiver = new MessageReceiver(ProdIntegrationTestCnString, ProdTestQueue);
            drainReceiver.PrefetchCount = 100;
            var messageHa

[2018-08-24 18:47] nikhilboreddy opened #4700 "Microsoft.Azure.Services.AppAuthentication not able to get tokens using SubjectName + Issuer certificate authentication"
We usually use this library to get AAD tokens using MSI but there are some cases where we use connection string approach using certificates.

Connection string: “RunAs=App;AppId={AppId};TenantId={TenantId};CertificateSubjectName={Subject};CertificateStoreLocation= LocalMachine”

It seems like ADAL has introduced a new AcquireTokenAsync overload which takes in a sendX5c flag which allows apps to au

[2018-08-24 22:57] g-hamers opened #4702 "Microsoft.Azure.Management.DataLake.Store FileStatusProperties.PathSuffix Empty On File"
[code]
![image](https://user-images.githubusercontent.com/42684912/44611432-efdda680-a7b5-11e8-8937-51214c953b15.png)

Within directoryInfo, I can see the file / directory names within the directory using the .PathSuffix field.  This isn't working when I get the FileStatusProperties of a file diectly.  The PathSuffix is empty for the file.

`var fileInfo= adlsClient.FileSystem.GetFileStatus(_adlsA

[2018-08-25 02:14] mehtanilay10 opened #4703 "Unable to creating Bot Channels Registration for BotService"
Hi, I am trying to create Bot Channel Registration using Azure SDK for .Net.
For this, I have used **Microsoft.Azure.Management.BotService** package with below method.

[code]

**This method currently creating Web App Bot instead of Bot Channel Registration.**

### Issue-2
As well as In this package 2 external packages used but Its version was written as exactly equal (=), It should be greater tha

[2018-08-25 03:03] mehtanilay10 commented on #4703
I have also tried with API Version: **2018-07-12**, but this time got
[code]
Here request URL is
[code]
Looks like **/** in Resource type name creates an issue. Here Resource type is **Microsoft.BotService/botServices**

[2018-08-27 15:24] ohawari opened #4704 "Integration Account SKU name enumeration does not accept Basic SKU"
Hi all,
I've been trying to create an Integration Account with Basic Tier, but it is always returning a deserialization error.
Reviewing the code I've detected a bug related to the SKU name enumeration.
This is the class enum:

[JsonConverter(typeof(StringEnumConverter))]
    public enum IntegrationAccountSkuName
    {
        [EnumMember(Value = "NotSpecified")]
        NotSpecified,
        [Enu

[2018-08-27 20:13] kusanagi2k2 opened #4705 "Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback, System.Net.Http.DelegatingHandler[])"
Hello I am using Azure Keyvault with ASP.NET Webapi with VS2017
I got this error when I deploy to my App Service in Release Mode.

**Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback, System.Net.Http.DelegatingHandler[])'.**

I can use without problems in Debug Mode and Local for testing using Azure CLI 2.0

here is the nuget packages I am using for my pr

[2018-08-28 01:44] KimihikoSaito commented on #4678
In my Web App with Search SDK, Microsoft.Rest.ClientRuntime 2.3.12 or above shows memory usage increasing constantly, and Private Memory never released.
![2018-08-27_09h56_25](https://user-images.githubusercontent.com/22209921/44695682-4fd29680-aaaf-11e8-98d2-490faeaa26e5.png)

[2018-08-28 02:48] RikardoPons commented on #4705
I solved the issue.
 the problem is Azure Keyvault 3.0 nuget package has a dependency of Sytem.Net.Http  4.0.0.0

Some nuget packages are using this library but with higher version 4.2.0.0  and Azure Keyvault has throw the Exception "Missing Method" is  becuase is using a missing method in the higher version of System.Net.Http

Solution.

Check all the nuget packages and make sure all of them are

[2018-08-28 04:52] brjohnstmsft commented on #4678
@KimihikoSaito -- Thanks for the data. @shahabhijeet -- Can you please investigate?

[2018-08-28 08:39] fplaten opened #4707 "Dynamically create LUIS dialogues"
Hey guys,

I'm using the LUIS SDK to create dialogs for a chatbot and everything is working fine so far.

I now thought about creating form dialogues dynamically from json, but as far as I unterstood, I'll always need to rebuild the application? Additionally I need to create some references in code (the actual class referencing the dialog.json and a method to call that class).

Are those assumptio

[2018-08-28 15:14] #4636 closed

[2018-08-28 15:22] shahabhijeet opened #4708 "Signed Packages"
Verify signed packages
Cost 2

[2018-08-28 15:22] shahabhijeet opened #4709 "Create MSI and ADAL auth package"

[2018-08-28 17:59] dsgouda commented on #4651
PR is out for the fix. Closing this.

[2018-08-28 18:01] dsgouda commented on #4670
Reopening this since we need to make incremental commits here

[2018-08-28 18:26] matthewrwilliams opened #4711 "Azure Search failing when updating from Microsoft.Rest.ClientRuntime v2.3.12 to v2.3.13"
Please see this:
https://stackoverflow.com/questions/52012266/azure-search-failing-with-latest-update-of-microsoft-rest-clientruntime

[2018-08-28 21:16] brjohnstmsft commented on #4711
@matthewrwilliams Can you please confirm which version of the Azure Search NuGet packages you're using?

@mhko Please investigate.

[2018-08-28 21:52] matthewrwilliams commented on #4711
Latest stable through NuGet 5.0.2.

[2018-08-29 00:13] dsgouda commented on #4681
@ankushbindlish2 Are you planning to create a new directory under src/SDKs/StorageSync or do you wish to generate the code alongside src/SDKs/Storage/Microsoft.Storage?
For case 1, please modify the config file [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storagesync/resource-manager/readme.md) and modify the output-folder under C# section (replace SDKs/Storage wi

[2018-08-29 00:16] ankushbindlish2 commented on #4681
Abhijeet Shah <Abhijeet.Shah@microsoft.com> has all context on this issue.

yes. StorageSync, Will look at case 1

[2018-08-29 00:17] ankushbindlish2 commented on #4681
will fix read me.  output-folder: $(csharp-sdks-folder)/Storage/Management.StorageSync/Generated

[2018-08-29 00:28] ankushbindlish2 commented on #4681
thanks !

[2018-08-29 00:28] dsgouda commented on #4681
@ankushbindlish2 merged the REST spec PR. Please try regenerating and close the issue if you're unblocked

[2018-08-29 00:29] ankushbindlish2 commented on #4681
Sure. Will try first thing tomorrow morning.

[2018-08-29 00:49] ankushbindlish2 commented on #4681
It solved issue 1 , but not 2 and 3

[2018-08-29 08:33] ravicini commented on #3366
When I update `Microsoft.Rest.ClientRuntime.Azure.Authentication` from 2.3.2 to 2.3.3 or 2.3.4 I run in a similar error.

We use `Microsoft.Azure.Management.Fluent.Azure.Configure().Authenticate(azureCredentials);` to authenticate on azure.

[code]

On 2.3.1 we successful authenticate.

Any newer version results in the following exception:
[code]

[2018-08-29 15:35] paulhickman-a365 commented on #4590
I have the same issue and the same fix worked, but I'm confused as to why this is. The [documentation](https://docs.microsoft.com/en-us/iis/configuration/system.applicationhost/applicationpools/add/processmodel) for the applicationHost.config file states that setProfileEnvironment defaults to true when not specified.

[2018-08-29 16:14] dsgouda commented on #4681
@ankushbindlish2 could you explain what the problem is now? Feel free to ping offline

[2018-08-29 22:28] dsgouda commented on #4647
Per investigation:
- Default user agent information is calculated within the constructor of `ServiceClient`. Conditionally enabling/disabling calculation or sending this data along with request headers is therefore a very sensitive change
- While most of the user agent properties can be populated, there have been reports of `AmbiguousMatchException` being thrown from [here](https://github.com/Azur

[2018-08-29 22:28] #4647 closed

[2018-08-30 00:45] Ofekw opened #4720 "Getting the FQDN (or public ip) of a load balancer is not fluent"
To get the public facing ip of a load balancer, we can get the IP id in a fluent manner, but then we have to call the base azure object to get the corresponding IP for the IP id provided.

`var ipList = azure.VirtualMachineScaleSets.GetByResourceGroup("xxxxx","xxxxx").GetPrimaryInternetFacingLoadBalancer().PublicIPAddressIds `

`azure.PublicIPAddresses.GetById(ipList.First()).Dump()`

This isn't t

[2018-08-30 16:29] MCKRUZ opened #4722 "BingVisualSearch parameters missing"
Here https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bingvisualsearch/images/visualsearch

It indicates that there are three uri parameters that can be attached to the visual search API string
Mkt, safeSearch, setLang.

Right now there is no way with this DLL to put those parameters in.  Will you be creating a way?

[2018-08-30 18:10] shahabhijeet commented on #4678
@jonasbutt @KimihikoSaito I am going to add this to our backlog and will get this investigated and fixed in our next release.
Next release will happen within a month. Will update once I know the exact date.

[2018-08-30 18:49] zh454771942 commented on #4124
@shahabhijeet We have a similar issue here. I am trying to call
`public static Task<ServiceClientCredentials> LoginSilentWithCertificateAsync(string domain, ClientAssertionCertificate certificate, ActiveDirectoryServiceSettings settings);`, using the latest ADAL, but got the error

System.MissingMethodException: Method not found: 'System.Threading.Tasks.Task`1<Microsoft.IdentityModel.Clients.Activ

[2018-08-30 22:18] TimLovellSmith commented on #4124
Really cannot use username and password at all? Or just have to use it a different way, as some suggest?
https://stackoverflow.com/questions/37465949/adal-net-v3-does-not-support-acquiretoken-with-usercredential

[2018-08-30 23:13] dsgouda commented on #4708
Verified signed package, we are good.

[2018-08-30 23:13] #4708 closed

[2018-08-30 23:16] shahabhijeet commented on #4720
@Ofekw can you give us more details, what version of SDK you are referencing to.
Also is this .NET Fluent library?

[2018-08-30 23:18] shahabhijeet commented on #4704
@ohawari what version of SDK are you referencing?
Give the full name of the SDK and it's version you are using.

[2018-08-30 23:28] shahabhijeet commented on #4574
@healthycola can you provide a detailed repro steps that I can use to reproduce this error.
Give me the exact version you are using and also the target framework your app is targeting.

[2018-08-30 23:30] shahabhijeet commented on #4571
@thegreatdane6 seems like an issue with Fluent library. If yes I have opened an issue in the right repo
https://github.com/Azure/azure-libraries-for-net/issues/454

[2018-08-30 23:32] shahabhijeet commented on #4538
Similar to https://github.com/Azure/azure-sdk-for-net/issues/4402

[2018-08-30 23:33] shahabhijeet commented on #4531
@ccic opened in the right repo
https://github.com/Azure/azure-libraries-for-net/issues/455

[2018-08-30 23:33] #4531 closed

[2018-08-30 23:34] shahabhijeet commented on #4528
@KK911 please open the issue in the Azure PS repo, this is a repo for tracking Azure .NET SDK issues and not Azure Powershell.
https://github.com/Azure/azure-powershell/issues/new

[2018-08-30 23:34] #4528 closed

[2018-08-31 06:24] vetrivelmp opened #4727 "Microsoft.Azure.Management.ApiManagement - Create authorization token programatically"
Hello All,

I am trying to implement Azure API Management APIs using Microsoft.Azure.Management.ApiManagement 4.0.4-preview.

No where I see documentation for implementation. I tried below code. but I am getting authentication error. i want to know how to create authorization token programatically.

Microsoft.Rest.Azure.CloudException: 'Authentication failed. The 'Authorization' header is provided

[2018-08-31 16:01] shakao commented on #4722
Yes, these parameters will be exposed in the next version of the SDK, and you will be able to pass values into your call to VisualSearchMethodAsync, similar to how URI parameters are currently set in the [Web Search SDK](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/master/BingSearchv7/BingWebSearch/WebSearchSamples.cs#L203).

[2018-08-31 17:55] dsgouda commented on #4681
@ankushbindlish2 dp you still have any issues here

[2018-08-31 18:07] ankushbindlish2 commented on #4681
no. I will continue prepare a c# sdk pull request.

[2018-08-31 18:08] dsgouda commented on #4681
Perfect, feel free to open a new issue if anything is off

[2018-08-31 18:08] #4681 closed

[2018-08-31 21:31] dsgouda commented on #4233
Breaking down this tasks into some deliverables I can think of:

- Figure out APIs including Auth methods to query github for metadata related to an open PR
  - Also to make commits on behalf of a user or azuresdkci in automated workflow moving forward
- Once we figure out the files modified in a PR, we need to scope the builds, This should be our iteration 1
- Next step would be figuring out affe

[2018-08-31 22:49] #3967 closed

[2018-09-01 09:17] mehtanilay10 opened #4731 "Unable to update Bot Channel Property using SDK"
Hey guys,
I need to Create/Update/Delete Channel connections dynamically, for this, I am using `Microsoft.Azure.Management.BotService` package.
I have faced some **issues while updating any channel configurations**, however, Create/Delete operation working proper.

[code]
I have checked for Facebook/Skype/Slack/Telegram. Then I have downloaded Its source code and debugged it. And found that its **

[2018-09-03 04:44] vetrivelmp commented on #4727
No reply for this comment ?

[2018-09-03 05:09] ohawari commented on #4704
Hi, good morning.
I'm using Microsoft Azure Libraries for .NET version 2.9.
It's not working event in the Host VS2017 generic build agent in VSTS online.
In my first post of this thread, is the specific lines that are not correct because no EnumMember Basic is supported in the enumeration.
Many thanks,
Best regards.

[2018-09-03 13:51] dradoicic commented on #4705
Hello,
I have very same problem. One project is ASP.NET MVC Framework 4.7.1 and another project is a lib also on 4.7.1. Both projects has dependencies on Microsoft.Azure.KeyVault 3.0 and when MVC try to get something from the KeyVault exception occurs:

**Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback, System.Net.Http.DelegatingHandler[])'.**

Both pro

[2018-09-04 14:18] Sergey1209 opened #4732 "EventGrid: The attempt to validate the provided endpoint failed"
I'm trying to create EventGridSubscription for Azure Function that uses _EventGridTrigger_. When running _New-AzureRmEventGridSubscription_ cmdlet i see the following error:

Here is my azure function code:

public static async Task Run([EventGridTrigger]JObject blobEvent,
    [Queue("blob-created-queue", Connection = Strings.StorageAccountConnection)] CloudQueue blobCreatedQueue,
    [Inject(type

[2018-09-04 18:52] shahabhijeet commented on #4727
Here is one way you achieve this.
When you have to pass in the credentials to your management client constructor, new up the below class.
[code]

[2018-09-04 19:12] david-jarman opened #4733 "Adding app settings to existing Function App creates a new storage account"
Creating a new storage account is an unintended consequence of calling

[code]
This also causes the currently deployed functions to be lost since the function app is now pointing at a new storage account.

The offending code is in [FunctionAppImpl.cs](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/AppService/FunctionAppImpl.cs) Line 163-166

[2018-09-04 20:11] hovsepm commented on #4733
@david-jarman please open this issue in the Fluent SDK repo here - https://github.com/Azure/azure-libraries-for-net/

[2018-09-04 20:11] #4733 closed

[2018-09-04 20:13] hovsepm commented on #4319
@seanoflynn-tie please reopen the issue in the Fluent SDK repo - https://github.com/Azure/azure-libraries-for-net/

[2018-09-04 20:13] #4319 closed

[2018-09-04 20:46] david-jarman commented on #4733
Done

https://github.com/Azure/azure-libraries-for-net/issues/457

[2018-09-05 00:00] shahabhijeet opened #4739 "Publish Symbols to symweb"
Push Azure .NET SDK to symweb in addition to nuget.org symbol server.

[2018-09-05 13:17] ravicini commented on #3366
Today I updated the libraries
- `Microsoft.Rest.ClientRuntime.Azure.Authentication` to 2.3.4
- `Microsoft.Rest.ClientRuntime.Azure.Authentication` to 1.15.1

My case seems to be resolved.

[2018-09-05 19:17] nonik0 commented on #4645
I tried a few ways to try to repro the long access token retrieval times you are seeing and was not able to. I tried accessing key vaults in several different regions, changing various Azure CLI options (including disabling logging and telemetry), as well as signing out and back into Azure CLI. In all of these, I was getting a token in around 2-4 seconds. Can you provide more details for your envi

[2018-09-05 21:00] shahabhijeet opened #4742 "Update AppService.ApiApps.Service meta data"
A request has been raised to update the license information from OSS compliance point of view for the following nuget package.

https://www.nuget.org/packages/Microsoft.Azure.AppService.ApiApps.Service/0.9.64

[2018-09-06 00:30] chrimc62 opened #4744 "HttpRecorder uses obsolete Newtsonsoft features"
HttpRecorder uses TypeNameAssemblyFormat which is obsolete as of Newtonsoft v11.0.  This means that clients are forced to use either Newtonsoft 9 or 10 and cannot use the latest.

[ObsoleteAttribute("TypeNameAssemblyFormat is obsolete. Use TypeNameAssemblyFormatHandling instead.")]
public FormatterAssemblyStyle TypeNameAssemblyFormat { get; set; }

[2018-09-06 20:46] matthchr commented on #4414
This is fixed in the 3.2 drop of Microsoft.Azure.Batch.Conventions.Files - @shahabhijeet can you close?

[2018-09-06 20:46] matthchr commented on #4374
This is fixed in the 3.2 drop of Microsoft.Azure.Batch.Conventions.Files - @shahabhijeet can you close?

[2018-09-06 20:46] matthchr commented on #2538
This is fixed in the 3.2 drop of Microsoft.Azure.Batch.Conventions.Files - @shahabhijeet can you close?

[2018-09-07 09:28] vetrivelmp commented on #4727
This helps to find anwser. thank you so much.
https://stackoverflow.com/questions/52108663/microsoft-azure-management-apimanagement-implementation/52219492#52219492

[2018-09-09 19:05] jeevaeastpoint commented on #4047
Hi Guys,

I have the same issue. I am using the latest version of the CloudConfigurationManager [Microsoft.Azure.ConfigurationManager] and the application could not get the app settings.

Error I get is "System.DllNotFoundException: 'Unable to load DLL 'fusion.dll' or one of its dependencies: The specified module could not be found. "
I am using .net core 2.1 and it is a console app.

Below is the

[2018-09-10 20:37] shahabhijeet commented on #4711
We will release the fix some time mid next week (week ending 9/21/2018)
https://github.com/Azure/azure-sdk-for-net/pull/4752

[2018-09-10 21:49] brjohnstmsft commented on #4711
@matthewrwilliams The issue is in the `Microsoft.Rest.ClientRuntime` package used by all Azure .NET SDKs. Once the fixed version of ClientRuntime is published, it should be possible to work around the issue by explicitly specifying the new package version in your project settings. Shortly after that we'll publish a new version of the Azure Search SDK that uses the fixed ClientRuntime version.

@sh

[2018-09-11 04:13] RikardoPons commented on #4705
hello @dradoicic  I did a downgrade of some Nuget Packages to match with the required version Sytem.Net.Http 4.0.0

[2018-09-12 04:28] SeanFeldman opened #6031 "MessageSender abstraction is broken for Path when Send-Via is used"
## Actual Behavior

`MessageSender` supports [Send-Via feature](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-transactions#transfers-and-send-via). Send-Via is using a transfer queue to route message to their final destination when using transactional processing. The abstraction is represented by a public overload of `MessageSender` that takes in two paths
1. `entitytPat

[2018-09-12 07:07] kolauy opened #4759 "Event notification for KeyVault secret change"
My project has a requirement to apply new secret automatically when it's changed in KeyVault. Is there a way to receive a notification from KeyVaultClient object when the KeyVault secret is changed?

[2018-09-12 18:58] tullo-x86 commented on #4408
...and so, the trail went cold.

[2018-09-12 23:00] cvellan commented on #4408
Ah, sorry mate. The issue was posted [here](https://developercommunity.visualstudio.com/content/problem/280697/cloud-service-project-uses-incorrect-net-standard.html), which directed me to post a UserVoice issue [here](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/34742794-support-the-packagereference-nuget-restoration-opt). Nothing has come of it so far, unfortuna

[2018-09-13 18:35] dsgouda opened #4761 "Fix github releases"
Fix scripts to push github releases to repo

[2018-09-13 22:17] shahabhijeet opened #4762 "Removing min/max check for Retry-After"
Currently in ClientRuntime, ARM dictates to have min/max for Retry-After to be 10 sec and 10 mins.
We want to remove that check on insistence of ARM.

[2018-09-13 23:02] tullo-x86 commented on #4408
It's not your fault. Azure Cloud Services are now a "classic" offering, which appears to be the Microsoft terminology for "we aren't deprecating this, but we aren't maintaining it either; have fun".

I got around this by simply removing the binding redirect for the assembly it was complaining about (`System.Runtime` in my case), then repeating this for each new assembly the error popped up for, un

[2018-09-14 02:29] barborico opened #4764 "Packages failing BinSkim analysis"
Hi,

I am working on a Microsoft service and our deployment pipeline (CDPx) runs [BinSkim](https://github.com/Microsoft/binskim) analysis as part of official builds. I have had to create an exception because our dependency on Azure Key Vault and Azure app authentication libraries is causing this analysis to break the build. Specifically, the following packages yield BadSigningAlgorithm (BA2022) er

[2018-09-14 04:08] nileshsawant80 commented on #3933
Hi
Even I am facing same problem... Not able to rectify the problem
-$exception	{Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: Parameters: Connectionstring: [No connection string specified], Resource: https://vault.azure.net, Authority: https://login.windows.net/. Exception Message: Tried the following 3 methods to get an access token, but none of them worked.
Para

[2018-09-14 16:11] dradoicic commented on #4705
Thanks @RikardoPons
I think I solved the problem meanwhile. I didn't downgrade anything. I just included all nugets into all solution projects which are connected and everything is fine now.
In some similar cases I used forced binding and it can solve problems too.

[2018-09-17 08:49] WellorZhang opened #4767 "New-AzureRmVmss : Object reference not set to an instance of an object."
Hi All,
I encountered the "Object reference not set to an instance of an object." failure when using the command "New-AzureRmVmss", any idea on this?
•	New-AzureRmVmss -ResourceGroupName $rgname -VMScaleSetName $vmssname -VirtualMachineScaleSet $vmssConfig

New-AzureRmVmss : Object reference not set to an instance of an object.
At **.ps1:138 char:1
+ New-AzureRmVmss -ResourceGroupName $rgname -VMS

[2018-09-17 16:24] mcphersonwhite opened #4769 "Microsoft.Threading.Tasks Version=1.0.12.0 is required at runtime for Microsoft.Azure.Management.ApiManagement nuget package"
We have run into an issue at runtime, the absolute best time to have an issue, where it seems that the Microsoft.Azure.Management.ApiManagement.UsersOperations.ListAsync(String resourceGroupName, String serviceName, QueryParameters query, CancellationToken cancellationToken) operation requires the presence of Microsoft.Threading.Tasks.

Closer inspection of the Microsoft.Azure.Management.ApiManage

[2018-09-17 20:04] mcphersonwhite commented on #4769
Seems that this is fixed in the pre-release version of the nuget package.
What is the expected eta on the next stable version release for the Microsoft.Azure.Management.ApiManagement nuget package?

[2018-09-17 23:20] nonik0 commented on #4645
Hi dhdotnet, I am an MS employee. I can email you directly at your GitHib-listed email address, if that works for you?

[2018-09-18 15:07] thdotnet commented on #4645
Yes, please

On Mon, 17 Sep 2018 at 20:20 Nick Brown <notifications@github.com> wrote:

[2018-09-19 13:53] andersjoh commented on #4711
@brjohnstmsft  When will the updated ClientRuntime be published?

[2018-09-19 16:43] brjohnstmsft commented on #4711
@andersjoh Per @shahabhijeet's update above, it should be published later this week.

[2018-09-19 20:33] dotsad commented on #4705
@dradoicic Maybe you should share how you soled this in more details without downgrading?

[2018-09-19 22:20] MSAppsDev opened #4778 ".net core 2.2 in Azure"
Hi,

When can we expect .net core 2.2 in Azure?

[2018-09-20 05:38] CBaud opened #4780 "Provide MsiAccessTokenProvider implemenation without ADAL dependency"
We'd like to use the MsiAccessTokenProvider implemenation in order to address AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1023. Unfortunately, consuming the current AppAuthentication library creates an implicit dependency on Microsoft.IdentityModel.Clients.ActiveDirectory that @brentschmaltz would like to avoid. Are there any options available, other than creating a private f

[2018-09-20 08:39] tgradu opened #18784 "IClientAssertionCertificate Thumbprint"
Hello,
As per the MS Documentation, the Thumbprint property of the IClientAssertionCertificate should contain the Thumbprint of the Certificate.

However in order to get it to work you need to set the Thumbprint to Convert.ToBase64String(Certificate.GetCertHash());

Can you please update the documentation as this is not that straight forward and it took quite a while to figure it out.

Thanks
---

[2018-09-20 11:40] austvik commented on #4190
Thanks for the info, @torhovland. We struggled days before we found out this one. We totally agree  that this should be fixed. In our opinion both with a better error message and by not erring when that field is set correctly. (We used powershell to set the access policies.)

[2018-09-20 14:18] kawazoe commented on #4678
I have noticed a similar issue in our code.

We dived in using JetBrains dotMemory and noticed that the default `RetryDelegatingHandler` in the client appears to keep a hold of every request and response that goes through the client; quickly inflating the memory usage of the client. From what I saw by decompiling the code, the bug appears to be that inside `RetryDelegatingHandler.SendAsync`, an ev

[2018-09-20 15:48] brentschmaltz commented on #4780
@CBaud we should be able to sort this out in a couple of days to sort this out.
Possibilities are
1. to layer on top, pull the KeyVault extensions into m.im.tokens, put this code into m.im.tokens.extensions.
2. add internal 'GetToken' code to m.im.tokens.

[2018-09-20 18:25] shahabhijeet opened #4782 "Provide cert autorotation support in the auth library"
Currently Auth library has no support for the newly added cert auto rotation.
Redis team needs this to unblock their scenario.

[2018-09-20 18:30] brjohnstmsft commented on #4678
@kawazoe Thanks for this analysis!

@shahabhijeet Does this help? Any ETA on a fix?

[2018-09-20 21:01] beaubgosse opened #18785 "What is the definition of idle?"
What is considered idle? Does the idle only reset if a message is placed in the queue/subscription? Or does it stay non-idle if there is a service bus running listening to this queue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9113c501-b9ba-0e4e-c497-2c5735dee396
* Version Independent ID: 705669ed-ced6-654b-6f75-72

[2018-09-21 04:04] prashanthyv commented on #4190
Thanks @austvik , @torhovland for reporting this. We will get to a better error message.

[2018-09-21 04:05] prashanthyv commented on #4190
@schaabs, for fyi

[2018-09-21 13:01] dbrink opened #4784 "Microsoft.Rest.Clientruntime RetryAfterDelegatingHandler.SendAsync() is missing ConfigureAwait(false)"
I'm not entirely sure this is the correct repo for the Autorest C# client runtime.  Please point me in the right direction as it doesn't appear the source in this repo is up to date.   Version 2.3.13 adds RetryAfterDelegatingHandler, but the SendAsync method is missing ConfigureAwait(false) on both async calls it makes.  Version 2.3.12 fixed this in other places so it's unfortunate it was missed i

[2018-09-21 13:09] gambrose opened #7173 "EventHubsDiagnosticSource does not follow corefx DiagnosticSource recommendations"
`EventHubsDiagnosticSource` exposes events named like `Microsoft.Azure.EventHubs.Receive.Stop` which goes against [recommendations](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md#event-names) to not include the Listener name in the event name.

[2018-09-21 19:13] alfredmyers opened #4785 "Recommend path for pulling Application Insights data"
[Global Service Monitor](https://docs.microsoft.com/en-us/system-center/scom/gsm/how-to-configure-web-application-availability-monitoring-in-gsm?view=sc-om-1807) has been used to ping against a couple dozen URLs for a couple of years now.
The resulting data is extracted and summarized by a custom application to show periods of unavailability (start, finish, timespan) of each URL.
Now, GSM monitori

[2018-09-23 21:34] shraboin commented on #2593
@shahabhijeet I have a support case  where a customer believes they are still facing this issue. I tried looking you up on skype. Could you please reach out to me through Teams/Skype? Thanks,
Shane

[2018-09-24 16:12] glenthomas opened #18786 "startswith in filter expression returns bad request"
The example filter shown causes the service bus to return "(400) Bad Request. Invalid Filter. StartsWith is not allowed in the filter expression"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3dc0f0b-ef56-7ffd-a0a4-70ec75ac8c30
* Version Independent ID: 125cff6f-a5ec-b488-3b82-907e0aff1834
* Content: [NamespaceManage

[2018-09-24 19:13] AmudhaPalani opened #4789 "Exception while executing function: CreateRedboxResourcegroup. Microsoft.Rest.ClientRuntime.Azure.Authentication: Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=3.14.0.8, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified."
The library Microsoft.Azure.Services.AppAuthentication has a dependency on Microsoft.IdentityModel.Clients.ActiveDirectory, Version>=3.14.2. But the SDK library Microsoft.Azure.Management.Graph.RBAC.Fluent has a dependency on same library for version=3.14.0.8

Please let me know how to resolve this dependency?

[2018-09-24 22:52] alexeldeib commented on #4785
Hi! I've been working towards a 1.0.0 (stable) release for the Microsoft.Azure.ApplicationInsights package. We plan to continue supporting the C# SDK as a way to retrieve, metrics, events, and logs. Prior to stable release, we may rename the package along the lines of Microsoft.Azure.ApplicationInsights.Query to reduce ambiguity with Microsoft.ApplicationInsights (for sending telemetry to App Insi

[2018-09-24 23:59] CBaud opened #4791 "Add support for Azure resource with multiple managed identities"
When the AppAuthentication library requests a token using the Azure Instance Metadata Service (IMDS) endpoint, it currently does not specify any values for the optional object_id or client_id query string parameters. In order for applications to request a token on a VM with multiple user-assigned managed identities, exactly one of those two parameters needs to be specified. It would be great for t

[2018-09-25 20:31] ChrisRobbers commented on #4784
I am getting a lot of random hangs after upgrading to this version, so that makes sense!

[2018-09-25 20:42] #4709 closed

[2018-09-25 20:42] #4455 closed

[2018-09-25 20:44] shahabhijeet opened #4792 "Investigate Icm issue for PAAS service using Configuration manager"
One of the challenge is to understand the actual error that was opened from one of the support engineer from Japan.

[2018-09-25 20:44] #4792 closed

[2018-09-25 20:45] shahabhijeet opened #4793 "SDK Generation investigation for StorageSync"
Investigated Storage Sync (first time RP) SDK generation issue for a tracked resource.

[2018-09-25 20:45] #4793 closed

[2018-09-25 20:49] shahabhijeet opened #4794 "SDK generation for Dns"
Dns team SDK generation had issues.
Spent multiple iteration reviewing the PR, but everytime their PR was pulling in massive amount of files due to mergePulls.
Walked every step over skype how to go about cleaning up commits, but ultimately figured out I doing a commit for Dns will be a better option that spending time teaching them git.

[2018-09-25 20:49] #4794 closed

[2018-09-25 20:50] shahabhijeet opened #4795 "Client Runtime Memory leak"
Investigated and fixed customer reported memory leak in ClientRuntime.

[2018-09-25 20:50] #4795 closed

[2018-09-25 20:54] shahabhijeet commented on #4784
@dbrink we have identified this issue and have already fixed it. The current bits are under test and would be released end of this week.

[2018-09-26 08:35] Ian1971 commented on #2644
Any movement on this issue yet? MS is keen to get everyone on to Core and .Net standard but here is yet another blocker that stops us.

[2018-09-26 20:52] matthewrwilliams commented on #4711
Updating to the latest Microsoft.Rest.ClientRuntime 3.3.16 resolves the issue that v2.3.13 was causing with hanging.

[2018-09-27 15:07] Technolink commented on #4236
👍 it would be nice when writing my code if I could know what to expect here, rather than just trial and error. Just now I found out that when I create an AADDS, the state is "Succeeded", but a few minutes later the state returns "Creating". This caused some automation to fail.

[2018-09-27 17:53] TimLovellSmith opened #4804 "NullReferenceException in ExpandableStringEnum.Value setter"
[code]

[2018-09-27 17:54] TimLovellSmith commented on #4804
Sorry admins, I put this in the wrong repo didn't I! - could someone please move this to Azure-libraries-for-net? Or I can reopen it if you can't move it.

[2018-09-27 18:07] TimLovellSmith commented on #4804
Looks like either there needs to be a null check for value in 'value.ToLower()' here, or further up the stack..

[code]

[2018-09-27 19:08] thepenguinmaster opened #4806 "BackupProtectionContainers.List results in Exception"
Running the following code to list vault containers results in an exception.
`

        public async Task deleteTest(string resourceGroupName)
        {
            try
            {
                var creds = new ResourceManagerCredential(subDetails);
                RecoveryServicesBackupClient _recoveryBackupClient = new RecoveryServicesBackupClient(creds)
                {

[2018-09-27 19:33] dsgouda commented on #4761
Github releases are now being posted to the repo

[2018-09-27 19:33] #4761 closed

[2018-09-27 19:39] dsgouda opened #4807 "Parameterize Prerelease tag for github releases"
Following up from [here](https://github.com/Azure/azure-sdk-for-net/issues/4761), we need to parameterize a prerelease tag flag so that the github releases are posted correctly.

[2018-09-28 16:13] ChrisRobbers commented on #4784
@shahabhijeet is this fixed with the 2.3.14 release?

[2018-09-28 16:37] cwe1ss commented on #4323
https://github.com/Azure/azure-sdk-for-net/issues/4791 covers that, right?!

[2018-09-28 17:46] dsgouda commented on #4662
@shahabhijeet is there an ask for this today? If yes, we can keep this open

[2018-09-28 17:47] dsgouda commented on #4030
Closing the issue, please open a new one if this persists

[2018-09-28 17:47] #4030 closed

[2018-09-28 20:12] dsgouda commented on #4672
PR merged

[2018-09-28 20:12] #4672 closed

[2018-09-28 20:18] dsgouda commented on #4671
Canbe done by running the msbuild command like so
[code]

[2018-09-28 20:18] #4671 closed

[2018-09-28 20:31] dsgouda commented on #4064
Assigning it to @wawon-msft since they made the last commits to HDInsight SDK, feel free to reassign it to the appropriate personnel

[2018-10-01 12:53] AlkisFortuneFish opened #4817 "[Azure Search] .NET SDK 5.0.2 returns Int64 when retrieving Int32 index fields via DocumentSearchResult with the non-generic SearchAsync overload."
Our index has some Int32 fields. We perform our searches using the non-generic version of SearchAsync. When retrieving each Document, the Int32 fields are returned as boxed Int64s. As a result, they need to be cast to Int64 and then Int32, rather than directly to Int32.

[2018-10-01 17:39] shahabhijeet commented on #2593
This has been [fixed](https://github.com/Azure/azure-sdk-for-net/pull/4775) and released, you will need the following version to get the fix
- https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/2.3.14
- https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure/3.3.16

[2018-10-01 17:39] #2593 closed

[2018-10-01 17:40] shahabhijeet commented on #4784
Yes this is fixed in
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/2.3.14

[2018-10-01 17:40] #4784 closed

[2018-10-01 17:40] shahabhijeet commented on #4762
[Fixed](https://github.com/Azure/azure-sdk-for-net/pull/4775)

[2018-10-01 17:40] #4762 closed

[2018-10-01 20:57] brjohnstmsft commented on #4711
@matthewrwilliams I think you mean Microsoft.Rest.ClientRuntime.Azure. There is no 3.3.16 of Microsoft.Rest.ClientRuntime.

Version 2.3.14 of Microsoft.Rest.ClientRuntime is now available. I'll close this issue once the Azure Search SDK has been updated to use it.

[2018-10-01 21:40] matthewrwilliams commented on #4711
Bruce, thanks for the catch!

[2018-10-01 23:37] shahabhijeet commented on #4678
@brjohnstmsft the fix has been published on nuget.org, you will need the following components
- https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/2.3.14
- https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure/3.3.16

[2018-10-01 23:42] brjohnstmsft commented on #4678
@kawazoe @jonasbutt @KimihikoSaito Can you try upgrading to the latest versions of Microsoft.Rest.ClientRuntime and Microsoft.Rest.ClientRuntime.Azure and let us know if that helps?

[2018-10-02 00:18] brjohnstmsft commented on #4817
@AlkisFortuneFish This is a known issue with the non-generic Search/Suggest/Get methods. It is documented in the remarks [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.search.idocumentsoperations.getwithhttpmessagesasync?view=azure-dotnet#Microsoft_Azure_Search_IDocumentsOperations_GetWithHttpMessagesAsync_System_String_System_Collections_Generic_IEnumerable_System_String__Micr

[2018-10-02 12:11] worldbeater opened #4820 "JSON Templates support in .NET Azure Batch SDK"
Hi folks.

Today I've realized that there is no way to use Azure Batch C# SDK with <a href="https://github.com/Azure/BatchExplorer-data/blob/master/ncj/3dsmax/standard/job.template.json">JSON templates</a>. You know, JSON format is an extremely convenient way to store and manage configuration files. So it would be nice if .NET SDK could support such templates, providing a flexible way to serialize

[2018-10-02 22:28] jackbond commented on #3933
We have just started receiving the AzureServiceTokenProviderException when debugging a service fabric application.

If we run the code within a unit test, it works just fine. We're pretty sure absolutely nothing has changed to cause this problem. Any suggestions?

[2018-10-03 01:12] brjohnstmsft commented on #4817
@AlkisFortuneFish I don't recall offhand. We're working in this area of the SDK for other reasons and will revisit this constraint to see whether it's necessary.

Since I've answered your original question, is it alright with you if I close this issue?

[2018-10-03 08:07] AlkisFortuneFish commented on #4817
Yes, absolutely, thank you.

[2018-10-03 11:00] tjrobinson opened #4826 "Consider delisting Microsoft.Azure.Services.AppAuthentication 1.1.0-preview"
Since the [nuget package for Microsoft.Azure.Services.AppAuthentication 1.1.0-preview](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.1.0-preview) is much older than `1.0.0`, `1.0.2` and `1.0.3` and appears to offer no functionality that isn't available in the `1.0.x` versions, should it be de-listed from the NuGet Gallery to avoid confusion?

It can cause problems (as

[2018-10-03 18:04] dsgouda opened #4827 "Enable WarningsAsErrors globally for all tests"
Coming from https://github.com/Azure/azure-sdk-for-net/issues/4670 , we have enable WarningsAsErrors for most RPs. However some RPs have tests that need some additional fixes when enabling this flag.
Below is the list of RPs:
[code]

We need to get these individual RPs to fix the warnings in their tests

[2018-10-03 18:05] dsgouda commented on #4670
Incremental commits are merged.
There are a few RPs tests that need specific fixes that need to come from the RPs themselves before we can enable this globally for all tests,
Tracking the effort here https://github.com/Azure/azure-sdk-for-net/issues/4827

[2018-10-03 18:05] #4670 closed

[2018-10-03 18:17] #4817 closed

[2018-10-03 23:42] MaxWilson commented on #4465
I followed the directions at varun's link, and enabled MSI on the scale set for my cluster's node types, but I get an error about "MSI ResponseCode: BadRequest" and "Identity not found".

[code]

[2018-10-04 00:11] MisterReally commented on #4645
Did you find a way to make it more responsive after all?

[2018-10-04 16:05] gogittossjx opened #4829 "Congnitive Services Newtonsoft.Json assembly error"
So i'm trying to use the cognitive services library in azure to do some image processing. The problem is that on run time, I get an error that states
"Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESUL

[2018-10-04 17:12] lucasmaj opened #4830 "Storage Account Count for subscription"
azure.StorageAccounts.Manager.Usages.List().First().CurrentValue appears to be counting only classic storage accounts. Is there a better way to get just count of all storage account in a subscription without listing them (zure.StorageAccounts.List().Count()) ?

[2018-10-04 17:22] vmmorris opened #18789 "Detail Request"
Is it possible to set the expiry time to Never?  Or do you even have to declare this when creating a schedule with the restfulapi?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d76acc6a-53f0-08e5-bb40-5c187cc153a9
* Version Independent ID: 5d65e862-a586-ad10-f7fb-bef007fc3a3b
* Content: [ScheduleProperties.ExpiryTime

[2018-10-04 17:48] sebasijan commented on #4534
Did anyone find a solution to this?

I am getting the same error, but I definitely instantiated the `FaceClient` with the same endpoint specified in my MS account

[2018-10-04 18:21] brminnick commented on #4534
@sebasjian Use the Base URL of the endpoint instead of the full endpoint url.

E.g., use  https://westus.api.cognitive.microsoft.com instead of of https://westus.api.cognitive.microsoft.com/v2/face

[2018-10-05 00:02] alexeldeib commented on #4785
@alfredmyers BTW -- [New package is live](https://www.nuget.org/packages/Microsoft.Azure.ApplicationInsights.Query/). I'm still working on reference info + docs for this. If you prototyped, it looks fairly similar to the existing client. Key changes:
- Metrics, Events, and Query are distinguished into their own interfaces, with method names slightly renamed to reflect this.
    - e.g. `client.GetM

[2018-10-05 03:39] shahabhijeet commented on #4830
@lucasmaj can you provide the full name of the package you are using, also provide the version number you are using.
Any information to reproduce this error will be helpful.

[2018-10-05 03:41] shahabhijeet commented on #4829
@gogittossjx can you provide the following information
1. TargetFramework of your app
2. Full name and the version of the nuget SDK package
3. Any code that will help to reproduce this error.

[2018-10-05 03:42] shahabhijeet commented on #4827
@dsgouda let's start monitoring PRs from the above RPs and start asking them to fix their warnings.

[2018-10-05 03:46] shahabhijeet commented on #4804
@TimLovellSmith please open in the right repo.
Closing.

[2018-10-05 03:46] #4804 closed

[2018-10-05 03:51] shahabhijeet commented on #4789
@AmudhaPalani please open the same issue in the below repo
https://github.com/Azure/azure-libraries-for-net/

Closing

[2018-10-05 03:51] #4789 closed

[2018-10-05 03:53] shahabhijeet commented on #4778
@MSAppsDev we are in process of understanding the scenarios that needs .NET Core 2.2 support.
Could you list few scenarios that require .NET Core 2.2

[2018-10-05 03:54] shahabhijeet commented on #4720
@Ofekw can you open an issue in the Fluent repo
https://github.com/Azure/azure-libraries-for-net/

Closing...

[2018-10-05 03:54] #4720 closed

[2018-10-05 03:57] shahabhijeet commented on #4782
This feature has been delayed due to customer requirement.
The work has been checked into a separate branch
https://github.com/shahabhijeet/azure-sdk-for-net/commit/cde8a1f3f93b5ad71e1ec29bbd34ef1014696f9e

[2018-10-05 03:57] #4782 closed

[2018-10-05 04:04] shahabhijeet opened #4834 "BuildTools Copy task depends on user provided source path"
BuildTools Task currently is fragile and relies on userprovided/local repo clone path to copy the tools path
We need a way to self discover root path and start the copying process.
Also fix copying tools during development onto submodule paths

[2018-10-05 04:09] shahabhijeet opened #4835 "Investigate Bots to monitor swagger PR events"
Investigate what are the Bot capabilities
1. Find out the notification mechanism for bots on PR

[2018-10-05 04:11] shahabhijeet opened #4836 "Investigate existing bots on .NET SDK repo"
Investigate if existing bots on .NET SDK repo
How can we use them to trigger on-demand jobs much more robustly.

[2018-10-05 04:13] shahabhijeet opened #4837 "Create github users to manage automated tasks"
1. Apply security
2. Create tokens and save in keyvault

[2018-10-05 04:16] shahabhijeet opened #4838 "Investigate Biztalk server to orchestrate the entire workflow"
1. Investigate if Rules engine can be used from Biztalk serer
2. Investigate if new Rules can be added or existing rules removed
3. Investigate if adding exceptions can be done at runtime.
4. Create a prototype of a sample workflow.

[2018-10-05 04:17] shahabhijeet opened #4839 "Static-Analysis: Add CredScanner task"
Ability to invoke Cred Scanner

[2018-10-05 04:18] shahabhijeet opened #4840 "Static-Analysis: Policheck"
Ability to invoke Policheck and figure out a way to not have false positives

[2018-10-05 04:19] shahabhijeet opened #4841 "Static-Analysis: Breaking change"
Ability to detect binary breaking change
Ability to detect preview/stable breaking change

[2018-10-05 04:20] shahabhijeet opened #4842 "Github: Repository tasks"
1. Able to clone repository
2. Able to create/delete a branch
3. Able to make commits

[2018-10-05 04:21] shahabhijeet opened #4843 "Github: Maintain parity between swagger PR and .NET SDK PR"
Ability to detect and create a mapping between Swagger PR and .NET SDK PR
Ability to update both PR with the mapping
 - Swagger PR should have .NET SDK PR info and vice versa.

[2018-10-05 04:47] lucasmaj commented on #4830
using Microsoft.Azure.Management.Fluent;
using Microsoft.Azure.Management.ResourceManager.Fluent;

Microsoft.Azure.Management.Fluent 1.16.0
Microsoft.Azure.Management.Storage.Fluent 1.16.0

[2018-10-05 21:14] dsgouda opened #4844 "Add remaining resources to profile configs"
There are a few resources for which we need to create profile tags in the spec repo

Resouce | Spec path | 2018-03-01-hybrid   spec version | 2017-03-09-profile   spec version
-- | -- | -- | --
dnsZones | dns/resourcemanager | 2016-04-01 | 2016-04-01
locks | resources/resourcemanager | 2016-09-01 | 2015-01-01
policyAssignments | resources/resourcemanager | 2016-12-01 | 2015-10-01-preview
policyDef

[2018-10-05 23:29] BrainSlugs83 opened #4845 "Microsoft.Rest.ClientRuntime.Azure.Authentication added a breaking change in a minor version increment."
In the jump between version 2.3.2 and 2.3.3 of this package an EXACT version constraint was placed on
"Microsoft.IdentityModel.Clients.ActiveDirectory" that it MUST equal 2.28.3 (which is a pretty old version).

"Microsoft.Rest.ClientRuntime.Azure.Authentication" version 2.3.2 of this package works with the latest stable "Microsoft.IdentityModel.Clients.ActiveDirectory" (version 3.19.8), but versi

[2018-10-08 06:31] blueww commented on #4103
@tyjen , @Porges
Is your problem resolved? Do you still need any assistance from our team?

[2018-10-08 16:02] lucasmaj commented on #4830
Thank you for explaining. I see now. That is because the limit for storage accounts is per Subscription-Location?

[2018-10-08 16:47] lucasmaj commented on #4830
It appears that to get ListByLocation method we need to use Microsoft.Azure.Management.Storage package 9.0.0-preview?
Also what is the simplest way of getting ServiceClientCredentials from service principal creds? Currently getting exception:
Microsoft.Rest.Azure.CloudException: Response from service 'Microsoft.Storage' does not contain sufficient information to enforce access control policy.

[2018-10-08 19:42] Porges commented on #4103
Yes, I believe the library should error-out early with an informative message. Passing `CertificateCredentials` to the `StorageManagementClient` simply can't work.

[2018-10-09 01:54] blueww commented on #4103
@Porges
Thanks for the reply!
Would you please confirm if your problem is resolved by "obtaining a token based cloud credentials from the certificate" ?

And since the code is auto generated by autorest from swagger, I will contact autorest team to see if they have any idea on this kind of issue, after the root cause if confirmed.

[2018-10-09 22:50] CamSoper opened #20307 "Data Box landing page required"
Need landing page for Data Box.  As described here: https://github.com/Azure/azure-docs-sdk-dotnet/pull/820

[2018-10-10 09:31] ajaygit158-zz opened #4853 "Monitor.Models.LogToMetricAction not available in nuget Package Microsoft.Azure.Management.Monitor 0.20.1-preview"
The issue is related to the Swagger spec for ScheduledQueryRules API
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/microsoft.insights/stable/2018-04-16/scheduledQueryRule_API.json

One of the class "LogToMetricAction" does not exist in the 0.20.1-preview version of Nuget package Microsoft.Azure.Management.Monitor. The LogToMetricAction.cs should h

[2018-10-10 15:38] MSAppsDev commented on #4778
Hi,

we need for Azure MSI functionality.

[2018-10-10 15:49] kawazoe commented on #4678
I just tried the latest version of both packages and it seems to fix our problem. Memory is now GCed as expected.

[2018-10-12 03:40] aatobaa commented on #4651
@dsgouda this hasn't been fixed - see the issue referenced by @sighillrob. Can this be reopened? Are there any workarounds? Do we need to downgrade our version?

Before this "fix" was made, we had a successful workaround using fake registry values (from https://github.com/Azure/azure-sdk-for-net/issues/3410 ) but now that doesn't work either.

[2018-10-15 19:47] brjohnstmsft commented on #4678
@kawazoe Thanks for the confirming. We'll release a new version of the Azure Search SDK that references the new ClientRuntime libraries soon.

[2018-10-16 10:31] saguiitay opened #4876 "RetryDelegatingHandler breaking change between Microsoft.Rest.ClientRuntime.2.3.12 and Microsoft.Rest.ClientRuntime.2.3.15"
In Microsoft.Rest.ClientRuntime.2.3.12, when you create a new RetryDelegatingHandler using the default CTOR, everything worked fine, and you could then assign the InnerHandler (which is of type `HttpMessageHandler`):

    var handler = new RetryDelegatingHandler();
    handler.RetryPolicy = retryPolicy;
    handler.InnerHandler = new WebRequestHandler();

In Microsoft.Rest.ClientRuntime.2.3.15, th

[2018-10-16 16:45] r-delgadillo opened #4877 "Setting default values for model properties are not being set"
I have the following model defined in my swagger file but the generated C# SDK does not reflect setting the default value for this model when calling the constructor. Shouldn't the default value bet se to `IoTApps` as defined in the swagger file.

### Swagger Model
![image](https://user-images.githubusercontent.com/35089121/47032591-947dc400-d127-11e8-98a7-4321d108e6b2.png)

### Generated C# SDK
!

[2018-10-16 20:45] rozele opened #4879 "Azure Search soft delete from Azure Storage IsDeleted flag"
Azure Storage Blob service supports it's own soft-delete feature. Would it be possible to use the `IsDeleted` state from the Azure Storage blob to detect soft-delete in Azure Search, rather than a custom metadata field on a blob?

Sorry if this is not the right place to file this issue.

[2018-10-16 20:49] shahabhijeet opened #4880 "Azure.Batch address existing alerts"
Alert:
https://github.com/azure/azure-sdk-for-net/network/alert/src/SDKs/Batch/Support/FileConventions/Tests/AzureBatchFileConventions.IntegrationTests/packages.config/Microsoft.Data.OData/open

Microsoft.Data.OData
Open
GitHub opened this alert 9 minutes ago
1 Microsoft.Data.OData vulnerability found in …/AzureBatchFileConventions.IntegrationTests/packages.config 9 minutes ago
Remediation

Upgrad

[2018-10-16 23:28] dsgouda opened #4882 "Enable mono builds for ClientRuntime projects"

[2018-10-17 00:41] brjohnstmsft commented on #4879
@rozele Feel free to ask your question either on [Stack Overflow](stackoverflow.com) and tag it with "azure-search", or on the [MSDN forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureSearch). We monitor those two sites, so if you ask your question there, an engineer will be assigned to answer it.

Since this is a product question and not an issue related to the .NET SDK,

[2018-10-17 00:41] #4879 closed

[2018-10-17 13:42] boylec opened #18790 "What does autocomplete actually do"
I can't find documentation anywhere as to what autocomplete actually does for a session.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bffeab-d9c9-3db1-02a0-f155e13cc343
* Version Independent ID: a65b7ee1-ec70-bba7-a569-4a645925cc0a
* Content: [SessionHandlerOptions.AutoComplete Property (Microsoft.ServiceBus.Messag

[2018-10-17 16:30] scottrangerio commented on #3478
I've just ran into this issue when trying to generate a client for an Azure Function app. By default, Azure Functions use API keys which need to be passed either in the header or the query string. With that, this would be a nice to have to make generating clients for function apps more seamless.

In the mean time, I was able to work around the issue using the solution above

[code]

[2018-10-17 21:43] simonbourdeau commented on #3933
This seems to be a credential issue. Your MSI setup depends on your AAD credentials. Make sure you can audit what user exactly is used to request the token via the Azure CLI.

[2018-10-18 23:42] chwarr opened #18824 "Bootstrapping ListBlobsSegmentedAsync's currentToken argument"
All of the `CloudBlobDirectory.ListBlobsSegmentedAsync` overloads take a `BlobContinuationToken currentToken` argument. This is documented as "A continuation token returned by a previous listing operation.". Can this documentation be updated to address how to start listing when I don't yet have a continuation token? E.g., should I pass `null`? `new BlobContinuationToken()`? something else?

---
##

[2018-10-19 13:12] LukeDearden commented on #3521
I doubt anything will happen with this. In light of the new AZ powershell module
[](https://azure.microsoft.com/en-gb/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/)

[2018-10-19 13:51] wahyuen opened #4905 "ComputerVisionClient: Inconsistent exception handling (v3.2.0)"
Currently, for some endpoints in the ComputerVisionClient, it appears to throw the following exception, ComputerVisionErrorException. eg. ListModelsWithHttpMessagesAsync, AnalyzeImageWithHttpMessagesAsync

However, it then appears that for some other endpoints, the client returns HttpOperationException. eg GenerateThumbnailWithHttpMessagesAsync

It would be great to make the exception handling con

[2018-10-22 09:39] tebeco commented on #4404
If like me you are looking for the #4500 and you see it closed ... it has been moved #4501

[2018-10-22 12:57] rohan3usturge opened #4908 "Microsoft.Azure.Services.AppAuthentication: Using AppKey/ ClientSecret in Authentication requires escaping "=" and ";" parameters"
Hi Team,

When using the connection string for client secret. The library does not accept if client secret has any of the following characters. We need an ability to escape these characters while sending the client secret.

Both AAD1 and AAD2 versions are creating secrets containing either "=" or ";".

`RunAs=App;AppId={appId};TenantId={tenantId};AppKey=asdasdsd;asdasdasd`

The following code brea

[2018-10-22 15:03] tebeco commented on #4404
@bsiegel  @RandalliLama  @shahabhijeet

Any idea for the release of the `3.0.1` as our company cannot move to Azure before we can resolve Azure Key Vault.

I understand this is a huge SDK be each package could be release one by one as part of a mono repo right ?
**Hope we are not doing the same error as `.net framework` as the release was slow because "we are part of a HUGE BIG THING THAT NEED VAL

[2018-10-23 10:22] njangir2 opened #4914 "Azure Key Vault intermittent 401 dependency errors"
I am fetching secret values from key vault for my azure stateless service fabric application and getting intermittent 401 dependency errors (if I check via connected application insight) for only 2 key vault secrets out of 100s key vault secrets.
Below given is the screenshot of dependency error shown via application insight for one of the key vault secret.

![image](https://user-images.githubuser

[2018-10-23 17:13] dsgouda commented on #4882
Checked in https://github.com/Azure/azure-sdk-for-net/pull/4881 which should enable builds for ClientRuntime using mono on travis
We still need some feedback regarding enabling test runs for .NET framework on mono

[2018-10-23 18:02] dsgouda commented on #4663
This is merged

[2018-10-23 18:02] #4663 closed

[2018-10-23 18:03] dsgouda commented on #4662
Doesn't look like there is a need for this today. Can we close this @shahabhijeet ?

[2018-10-23 19:06] shahabhijeet commented on #4877
@r-delgadillo there are two way we can solve this problem:
1) have a default value generated and send it over wire
or
2) Let the service handle default values, this way no data is sent over wire.

We chose not to send default values over wire and increase the payload, currently services should be able to handle default values.
One good thing that comes out of this is, if there are any changes in t

[2018-10-23 22:39] mvvsubbu opened #4915 ".Net SDK Samples for Querying Azure RGs Which are not in use"
How can I query azure resource groups which are not in use for last 24 hours using .net SDK?

[2018-10-23 23:41] josher565 opened #4917 "NotFound Error"
Hi Folks, I'm daring to be wrong here. I suspect I'm about to make a fool of myself however..

I'm using 3.2.0 of Microsoft.Azure.CognitiveServices.Vision.ComputerVision which I believe is the latest version hosted on Nuget.

This error was thrown from this [sample]( https://github.com/Microsoft/Cognitive-Vision-Windows.git )

[code]

I have my own tester code that throws the [same error with the

[2018-10-24 00:18] shahabhijeet opened #4918 "Setting up Mono builds on travis"

[2018-10-24 00:19] #4918 closed

[2018-10-24 00:20] shahabhijeet opened #4919 "Fixing ClientRuntime NullReference issue"
Fixing client runtime for a customer reported bug
https://github.com/Azure/azure-sdk-for-net/issues/4876

[2018-10-24 00:20] #4919 closed

[2018-10-24 00:20] shahabhijeet opened #4920 "Publishing new ClientRuntime"

[2018-10-24 07:20] njangir2 opened #4924 "Exception while fetching value of first key vault secret for the application"
Hi,

In my application I am getting exception when my application fetches value of first key vault secret.

The exception I am only getting when I turn on "Common Language Run-time Exceptions" from exception settings.

Exception that I am getting is-
`Microsoft.Rest.TransientFaultHandling.HttpRequestWithStatusException: 'Response status code indicates server error: 401 (Unauthorized).'`
StackTrace

[2018-10-25 12:45] learnersm opened #4927 "I am wondering if you support .NET Standard 2.0"

[2018-10-25 14:09] bachoang opened #4928 "supportability for this library"
can you document how this library is supported?  Is this strictly on the forum or something else?  A lot of customer is using this library and having issues with it?

[2018-10-26 07:20] jrodenburg commented on #4651
Experiencing the same validation error, although on a different value -- OSVersion.
MacOS High Sierra v10.13.16

The value of OSVersion: Darwin17.7.0DarwinKernelVersion17.7.0ThuJun21225314PDT2018rootxnu-4570.71.21/RELEASE_X86_64

Stepping through code in debugger, removing the "/" and "." characters allows the client to function.

[2018-10-26 09:51] Zenuka opened #4933 "Get access token using Microsoft.Azure.Services.AppAuthentication in a container"
I've got a docker container using the `AzureServiceTokenProvider` to get an access token to access key vault but it's not working. I'm getting the following exception message:
[code]
I'm not sure if the nuget package should be working inside a docker container I start up using Visual Studio (docker-compose).

[2018-10-26 14:59] alex-zyl commented on #3224
@shahabhijeet
Is there any progress regarding this issue? NRE still occur in the latest package version

[2018-10-26 15:02] sixpi commented on #2100
Looks like this package has been renamed to https://www.nuget.org/packages/Microsoft.Azure.ConfigurationManager/.

[2018-10-26 15:02] #2100 closed

[2018-10-26 18:56] MaxWilson opened #4935 "AzureServiceTokenProvider not respecting az login identity"
[Also filed here: https://github.com/Azure/azure-libraries-for-net/issues/510]

**Issue:** Domain-joined identity appears to override logged in identity. AzureServiceTokenProvider.<GetAccessTokenAsyncImpl>d__14.MoveNext() incorrectly throws exception (only) when run from domain-joined machine.

**Known workarounds:** none except using a non-domain-joined dev machine.

**Version:** Microsoft.Azure.

[2018-10-28 11:34] ebashmakov opened #4960 "AppServices: allow to set MinTlsVersion in the Fluent API"
Please allow specifying `MinTlsVersion` during creation or update of `AppServices`.

Example:

[code]

[code]

Azure CLI supports it as well:

[code]

[2018-10-30 12:53] paulhickman-a365 commented on #4645
I'm also having these slow connection times with CLI authentication. My INI file just contains:

[code]

Could it be due to the app authentication library always trying the other 3 methods first, and one of those  timing out. My laptop is joined to a domain but is connected to a different network with no access to domain controllers when I'm running this code, so maybe the AD authentication attemp

[2018-10-30 14:40] LockTar opened #4968 "How to authenticate via MSI locally"
I want to login with MSI when I develop locally.
The [documentation](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth) isn't update because I see nothing about the method:
[code]

How can I develop locally with MSI so it will use the user selected from the Visual Studio 2017 (latest version) option "Azure Service Authentication".

You can use

[2018-10-30 21:56] brjohnstmsft commented on #4651
@dsgouda Customers are still having trouble with this. Please investigate.

[2018-10-30 23:45] shahabhijeet commented on #4927
@learnersm not yet.
Can you give us more information as to what is that you need from .NET Standard 2.0
this information will help us to prioritize.

[2018-10-30 23:51] shahabhijeet commented on #4651
@jrodenburg can you provide the version of ClientRuntime you are using.
Are you using the latest version 2.3.17?

[2018-10-31 09:54] srini1978 commented on #4927
@shahabhijeet  - what is the .net standard that you support as of now.

[2018-10-31 17:53] MaxWilson commented on #4968
MSIs aren't supported locally, but there's something just as good: AzureServiceTokenProvider from the Microsoft.Azure.Services.AppAuthentication Nuget package will auto-detect if MSIs are available (if you're running in the cloud) and will log in as the MSI if it's available, and it will log in using your personal credentials otherwise (i.e. if you're running on your dev machine)--as long as both

[2018-10-31 19:39] LockTar commented on #4968
Hi @MaxWilson,

This:

is exactly the behavior that I want. The first part (MSI) works with this package in Azure. But when I develop locally from Visual Studio I can't get the fallback to the `domain identity`.
I think you mean with the domain idenity the identity selected in the settings right?
![image](https://user-images.githubusercontent.com/1568453/47813553-be500100-dd4b-11e8-8e30-55199de31a

[2018-10-31 20:49] MaxWilson commented on #4968
[Disclaimer for clarity's sake: I'm a consumer of MSIs and AppAuthentication, not a representative of the respective dev teams.]

I do NOT mean the Azure Service Authentication dropdown--I mean the actual domain account your user identity is running under. If I'm logged into my computer as maxw@microsoft.com, but I set the VS dropdown to wilson.max@gmail.com, AFAICT AppAuthentication ignores the V

[2018-10-31 21:07] LockTar commented on #4968
I agree.

Hmmm I need to test this. If this is the case, than I agree with you that it is a bug...

[2018-10-31 21:15] #4845 closed

[2018-10-31 22:34] shahabhijeet commented on #4651
@jrodenburg can you describe what is your environment that you are using that made you error on "/" and '."
I was not able to reproduce this issue. What version of Mono are you using?

[2018-10-31 22:57] BryanLa opened #4987 "Question/Suggestion for Windows/VS providers"
1. The `WindowsAuthenticationAzureServiceTokenProvider` type uses a hard-coded app/client ID of `d7813711-9094-4ad3-a062-cac3ec74ebe8`. Is this a multi-tenant app registration for Windows clients?

2. For the `VisualStudioAccessTokenProvider` type, could we get the last sentence of the following exception changed in Microsoft.Asal.Token.Service.exe ?

   "Exception for Visual Studio token provider

[2018-11-01 12:55] paulhickman-a365 opened #4992 "Allow AppAuthentication to use all accounts connected to Visual Studio"
I have three accounts added to my profile in Visual Studio, and cloud explorer allows me to use all three when connecting to Azure Resources. However, Microsoft.Azure.Services.AppAuthentication only uses the one shown as the "Personalization Account" in the account settings page.

There should either be a means to indicate which account is the active one for App Authentication within visual studio

[2018-11-01 16:54] LukeKolodziej commented on #4992
Paul,
You can set the account globally within Visual Studio: Tools -> Options -> Azure Service Authentication -> Account Selection

[2018-11-01 17:32] paulhickman-a365 commented on #4992
Thanks, that helps a lot.

It would still be useful to be able to set it per-solution though.

[2018-11-01 17:46] matthchr commented on #4880
We will look at this for our next release (ETA before December)

[2018-11-01 19:47] jonmill opened #7172 "EventHub Emulator"
## Actual Behavior
1. EventHub has a locally-installable emulator for local testing

## Expected Behavior
1. No emulator exists

## Versions
- OS platform and version: All
- .NET Version: All
- NuGet package version or commit ID: N/A

It's painful (and requires money) to require a connection to an EventHub in order to develop locally. Please follow in the steps of the Storage team and provide an e

[2018-11-01 21:00] TomasPajurek commented on #4645
Hello guys,

I am also having this issue.

I have traced the outgoing HTTP requests from the app that is using AzureServiceTokenProvider with Fiddler and found out where is the delay.

There is a outgoing request

`GET /metadata/identity/oauth2/token?resource=https://vault.azure.net&api-version=2018-02-01 HTTP/1.1`

to

`Host: 169.254.169.254`

This is most probably the trial for obtaining MSI met

[2018-11-01 21:05] jrodenburg commented on #4651
@shahabhijeet I updated to the latest version of Microsoft.Rest.ClientRuntime, 2.3.17.

Same result:

[code]

[2018-11-01 21:09] jrodenburg commented on #4651
@shahabhijeet you'll have to help me with the request for Mono version. Here's `dotnet info`:

[code]

[2018-11-01 21:44] caitchison opened #4994 "FormatException when initialising HttpClient on MacOs Mojave"
Hello,

I am getting an exception when my application starts up using a KeyVault to retrieve some configuration values. The exception is inside the ServiceClient InitializeHttpClient function. It is attempting to create a UserAgent value and so interrogating the underlying OS to try and get the OsVersion. On my Mac Mojave that is returning the below string as a headerValue.

`Darwin18.2.0DarwinKer

[2018-11-02 00:10] pielegacy opened #4997 "`Pipelines.ListByFactoryAsync` throws Microsoft.Rest.SerializationException when working with "Copy Data" Template."
Using `Microsoft.Azure.Management.DataFactory` version `2.3.1` I am unable to call `Pipelines.ListByFactoryAsync` on certain Data Factories. I have confirmed this as the same code works fine for a factory I created a few weeks ago but does not work for a factory created a few days ago.

I am able to list the available factories, resources and subscriptions as expected with the delegations given to

[2018-11-02 00:35] MaxWilson commented on #4935
This turns out to have been user error, nothing to do with domain joining or az login after all. The machine which was erring had an environment variable set (AzureServicesAuthConnectionString) unbeknownst to me, perhaps left over from a tutorial in the past. Deleting this environment variable resolved my issue.

[2018-11-02 00:35] #4935 closed

[2018-11-02 00:57] pielegacy commented on #4997
Update, this doesn't seem to be due to a the created pipeline but instead the contents of it. Investigating the possibility of it being a JSON array in parameters

[2018-11-02 01:08] pielegacy commented on #4997
After removing the created Pipeline that comes with the standard "Copy Data" template it works as expected. This is probably going to be a major problem for users of the SDK as it is on of the standard ways of getting Started with ADF.

[2018-11-02 21:02] jrodenburg commented on #4651
@shahabhijeet https://github.com/Azure/azure-sdk-for-net/pull/4669

It appears you've actually seen and commented on this error previously. Fix looks fairly simple too.

[2018-11-02 21:41] nonik0 commented on #4383
Hi Dan, in the next release of AppAuth which we are working on releasing now, there will be a new method for AzureServiceTokenProvider called GetAuthenticationResultAsync that will return the new AppAuthenticationResult object. This object will contain both the raw access token string as well as the expiration time of the access token.

I believe this will cover your ask, but let me know if you ha

[2018-11-02 21:42] nonik0 commented on #4700
Hi Nikhil, this functionality will be covered in the next release of AppAuth which we are working on releasing now.

[2018-11-02 21:44] nonik0 commented on #4791
Hi Chris, we will have this functionality in the next release of AppAuth that we are working on releasing now. We will also update our existing samples that will show how to use this new functionality shortly after.

[2018-11-03 00:19] ksauce commented on #4574
This is a repro for me as well.  The visual studio build environment locally is using the latest version.  Will there be an update for this nuget otherwise I can't use this with a certificate authentication?

[2018-11-03 00:36] matthchr opened #4999 "AutoRest generates code without key constructors when Swagger specification has x-ms-parameterized-host"
Without x-ms-parameterized-host in our Swagger specification, we get a bunch of constructors on the `BatchServiceClient.cs` which take a `System.Uri baseUri`:
[code]

Adding x-ms-parameterized-host, we lose all of those constructors (and the BaseUri) and a single new property shows up (the property we defined in our x-ms-parameterize-host):
[code]

But shouldn't this property be specifiable in a c

[2018-11-03 00:36] matthchr commented on #4999
@shahabhijeet

[2018-11-03 00:44] shahabhijeet commented on #4999
@matthchr can you point your swagger where you are seeing this behavior.

[2018-11-04 00:40] brjohnstmsft commented on #4711
An updated version of [Microsoft.Azure.Search](https://www.nuget.org/packages/Microsoft.Azure.Search) is now available that uses the updated `ClientRuntime` packages.

[2018-11-04 00:40] #4711 closed

[2018-11-04 00:41] brjohnstmsft commented on #4678
The new version of [Microsoft.Azure.Search](https://www.nuget.org/packages/Microsoft.Azure.Search) that points to the updated `ClientRuntime` packages is now available on NuGet.

[2018-11-04 00:41] #4678 closed

[2018-11-04 01:52] dance2die commented on #4534
This worked wonderfully.

[2018-11-04 02:38] nikhilboreddy commented on #4700
Thanks Nick. Can you please let me know the package number?

[2018-11-04 18:35] TomasPajurek commented on #4645
Quick fix to mitigate the issue on dev machine is to assign the private IP (169.254.169.254) to the loopback interface and setup a empty website in local IIS binded to 169.254.169.254:80 (http):

cmd: `netsh int ip add address "Loopback" 169.254.169.254`

then

![msimetadatablocker](https://user-images.githubusercontent.com/34166562/47968278-f915aa00-e067-11e8-8e62-2286e68f7315.png)

This way, the

[2018-11-05 10:48] tebeco commented on #4404
TL;TD ;) => Still Broken

no new since : https://github.com/Azure/azure-sdk-for-net/pull/4416#issuecomment-434084958

[2018-11-05 17:10] schaabs commented on #4404
@tebeco Thanks for the detailed repro. Could you also please provide the exception that you're seeing? Type, message and callstack?

[2018-11-05 17:21] matthchr commented on #4999
An example Swagger that reproduces this is [here](https://github.com/matthchr/azure-rest-api-specs/blob/feature/test-swagger/specification/batch/data-plane/Microsoft.Batch/stable/2018-08-01.7.0/BatchService.json) - note that it's in a branch and not master because we haven't checked the changes in officially yet.

[2018-11-05 17:32] tebeco commented on #4404
and while we are speaking proxy
it seems that the DocumentDb api (we tried to use it for Cosmosdb) does not expose the httpclient and does not accept a proxy either

should we create a global issue so that someone review every single use of httpclient inside Azure Sdk ?

i mean .... netcoreapp will NEVER again read IE proxy settings and we cannot use HTTP_PROXY (we have multiple proxy set with a P

[2018-11-05 18:04] tebeco commented on #4404
There are 3 nest exception, top one crash on :
`var result = await context.AcquireTokenAsync(resource, assertionCert).ConfigureAwait(false);`
StackTrace :
[code]

innerException :
 Response status code does not indicate success: 407 (ProxyAuthenticationRequired).
   at Microsoft.IdentityModel.Clients.ActiveDirectory.HttpClientWrapper.GetResponseAsync()

there is a third (and last) inner exception

[2018-11-05 21:41] tebeco commented on #4404
I don’t think it helps no ;)
The repro linked has simple httpclient working without the need of WinHttpRequestHandler

so yes the basis has been fixed on a dummy scenario
but not it does not help because this require to have the same API design (allow an custom injected httpClient or httprequesthandler)
this is the  scenario inside AzureAD link i provided that is being used by this Sdk

so ...

1.

[2018-11-05 21:44] schaabs commented on #4404
@tebeco based off the callstack from the inner most exception, it looks like the issue is actually in the adal client:

at Microsoft.IdentityModel.Clients.ActiveDirectory.__AdalHttpClient__.GetResponseAsync[T](Boolean respondToDeviceAuthChallenge)

The key vault client has nothing to do with instantiating this client.  This call originates from your authentication callback.

        private static

[2018-11-05 21:56] bg2132332 commented on #4404
Please take a look at the KeyVaultCredential code and how it's used.  See ProcessHttpRequestAsync.  There is a naked "new HttpClient()" that doesn't use any HTTP handlers and your proxy that you are sending in with the KeyVaultClient constructor.  The only solution I see is to override this class and provide a custom implementation to this method that uses a proxy.

Here is a direct link to the MS

[2018-11-05 22:06] tebeco commented on #4404
thx for both answer i understand a bit better now
as said have to wait until Wednesday to fully test it

yet i would love to point out this is probably the fourth repo beeing hurt by the decision not to provide a clean alternative for “default proxy”
thx again

[2018-11-05 22:07] schaabs commented on #4404
@bg2132332  A new HttpClient is only created in the case that the HttpClient for the underlying KeyVaultClient  ( _client.HttpClient ) is not specified.  This will not be the case if the user passed an HttpClient to the KeyVaultClient constructor.

                // if this credential is tied to a specific KeyVaultClient reuse it's HttpClient to send the
                // initial unauthed reques

[2018-11-06 00:43] matthewrwilliams opened #5003 "v5.0.3. Could not load file or assembly 'Microsoft.Azure.Search.Service'..."
I am upgrading the following from 5.0.2 to 5.0.3 using NuGet and getting into the error mentioned in the title.  Backing out the update resolves the issue.  All dll's are appearing in the bin directory, and this will error in Debug or Release, both local and deployed.

- Microsoft.Azure.Search
- Microsoft.Azure.Search.Common
- Microsoft.Azure.Search.Data
- Microsoft.Azure.Search.Service

For clari

[2018-11-06 14:19] mattleibow commented on #4574
There is also another issue here. The same one, but manifests in another way.

The version of AD (3.14.2.11) is broken on iOS - there is a type missing in the platform dll. The fix appears to be to upgrade AD to 4.3.0. But, then this issue rears it's ugly head.

[2018-11-06 21:19] garfbradaz commented on #4927
So we can build ASP.NET Core 2.0 Apps. .NET Standard 1.4 only allows 1.x Apps

https://github.com/dotnet/standard/blob/master/docs/versions.md

[2018-11-06 21:20] garfbradaz commented on #3438
Any news on this?

[2018-11-06 22:19] garfbradaz commented on #3333
Any news?

[2018-11-06 23:16] caitchison commented on #4994
I found that if I downgrade the Microsoft.Rest.ClientRuntime Nuget package to 2.3.12 (It may work with a later version still, but not the latest) then this issue does not occur. Hence I am closing this issue here as this means it is not a KeyVault problem.

[2018-11-06 23:16] #4994 closed

[2018-11-07 00:54] brjohnstmsft commented on #5003
@matthewrwilliams Does this error happening when updating via NuGet, or does it happen at run-time after you've deployed your application? I've tried updating some of our samples locally via NuGet and it works fine for me.

[2018-11-07 01:54] josher565 commented on #4917
So, I changed direction with my test code and created a new Computer Vision account on eastus. Now, if I call it with keys valid to that service, I don't get "Not Found". However, if I loop until I get a reply, it never finishes. The API test page says that I should wait up to a minute for a result. Its much longer than a minute for a result. https://eastus.dev.cognitive.microsoft.com/docs/service

[2018-11-07 21:32] matthewrwilliams commented on #5003
@brjohnstmsft The error occurs during runtime.  I spent some more time on this today... I cleaned the solution, restarted VS, and a handful of other things to only get the same response.  As a last straw, I restarted and that cleared the issue.  I am not sure how this would fix the issue, but I can replicate it by backing out the change and reinstalling it.  I'm past the issue as of this minute, s

[2018-11-08 04:25] davidrevoledo opened #7171 "InitialOffsetProvider Ingored if Host did Checkpoint"
A guy in slack was having this issue, I looked in a related issue that if you return Task.FromResult(0) and you don't checkpoint the stream you can start again to re process event, however the host cannot track where and what it has been processed.

It'd be good no matter if the host did checkpoint with some mechanism reset the record `Streaming` to start at some point.

Is that possible currently

[2018-11-08 09:50] BennyM commented on #4651
I experience the same error, token validation fails. Occurs after adding and configuring Azure Keyvault to a web application.

[code]

Exception:
[code]

Installed Packages:
[code]

[2018-11-08 11:50] iamnarendhar opened #5004 "How to set StoredProcedureParameter value to be as treated as Null using C#"
There is an option "Treat as Null" for StoredProcedureParameter in ADF
How do we set it using C# ?

![image](https://user-images.githubusercontent.com/24953203/48197063-7b5ce180-e37a-11e8-8787-ca95e220b6f2.png)

Even If we send the value as null to the StoredProcedureParameter constructor, it is taking as empty string in the deployed pipeline

[https://docs.microsoft.com/en-us/dotnet/api/microsoft

[2018-11-08 14:47] tebeco commented on #4404
any news here ^^ ?

[2018-11-08 20:58] shahabhijeet commented on #4651
@jrodenburg @BennyM Extremely sorry the delay in getting this fix out.
Yes the fix is trivial, but I wanted to make sure I address all scenarios that were reported.
In this issue, @jrodenburg reported that having "." also create exception, so wanted to make sure under what platform he is seeing this issue as I was not able to reproduce it for the "." character on Ubuntu and Mac Sierra.
Will make s

[2018-11-09 00:06] g-hamers commented on #4702
Have you started looking in this issue yet?  I am still waiting for this problem to be fixed.

[2018-11-09 02:31] Ofekw opened #5006 "WindowsAuthenticationAzureServiceTokenProvider.GetTokenAsync thows when using Microsoft.IdentityModel.Clients.ActiveDirectory 4+"
Original Issue: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1283

All our machines are domain joined and corpnet user/group identities are replicated to Azure AD under onmicrosoft.com directory.

We've been using this code:
[code]
 to access KeyVault no problem with these packages:
[code]

However we recently had to update to "Microsoft.IdentityModel.Clients.ActiveDi

[2018-11-09 10:34] LockTar commented on #4968
Is there someone of the team that has a good suggestion (to test)?

[2018-11-09 20:51] Petermarcu commented on #4997
@pielegacy Where is the "Copy Data" template you referred to?

[2018-11-09 20:55] pielegacy commented on #4997
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/copy-data-tool.md

This one

[2018-11-09 20:58] Petermarcu commented on #4997
@pielegacy Thanks!

[2018-11-12 10:07] maartenoosterhoff commented on #4678
@brjohnstmsft
I'm a colleague of @jonasbutt, and we have tried the lastest version of both packages, and indeed, I can confirm the fixes seems to be fixed.

[2018-11-12 17:03] PhilipDaniels opened #5010 "OutOfMemoryException with Microsoft.Azure.Search"
I am using the package `<PackageReference Include="Microsoft.Azure.Search" Version="5.0.2" />`

I have written a small program to generate a large number of documents with random properties and upload them to Azure Search using `IndexClient.Documents.Index(batch);`. When run for a long time, the program will eventually fail with an `OutOfMemoryException`. I attach a screenshot from the VS diagnost

[2018-11-12 20:29] varunsh-msft opened #5012 "Implement retry logic in App Authentication library"
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#retry-guidance

[2018-11-12 23:44] nonik0 commented on #4826
Delisting the package could cause a lot of builds to break for customers who already have that package in their solutions. We will be releasing 1.2.0-preview soon which should resolve this concern, as it will be the most recent release and well as highest version of AppAuth.

[2018-11-12 23:53] nonik0 commented on #4780
Feel free use your own private fork to make these changes. We can't remove the ADAL dependency without losing half of our token providers that depend on ADAL. For instance, anyone developing on Service Fabric will need to use cert-based auth for their local development scenarios. It should be simple enough to remove the ADAL dependencies, but feel free to ping me if you need assistance if you choo

[2018-11-13 00:15] nonik0 commented on #4645
Hi all, thanks for reporting your concerns.

If you would like a quicker token retrieval when developing, you have the option of providing a connection string through the AzureServiceTokenProvider’s constructor, or also by setting an environment variable named AzureServicesAuthConnectionString. Using the connection string, you can choose to authenticate with Azure CLI, Visual Studio, Windows Integ

[2018-11-13 00:26] nonik0 commented on #4317
Hi Adam, were you able to resolve this issue?

[2018-11-13 00:32] nonik0 commented on #4094
It's been a while, are you still having this issue? Let us know if you were able to use assembly redirect to fix it.

[2018-11-13 00:35] nonik0 commented on #4091
From VS 15.6 onwards, the Azure Services Authentication settings page is located at Tools->Options->Azure Services Authentication. We will correct this error message to reflect the correct location.

[2018-11-13 07:35] brjohnstmsft commented on #5010
This issue is fixed in Microsoft.Azure.Search 5.0.3.

Closing this since it's a duplicate of https://github.com/Azure/azure-sdk-for-net/issues/4678

[2018-11-13 07:35] #5010 closed

[2018-11-13 13:43] tjrobinson commented on #4826
@nonik0 Thanks for getting back to me on this. Good to hear that 1.2.0-preview will be available soon.

Regarding unlisting the package, it shouldn't cause anyone using that package any problems:

[2018-11-13 20:18] brjohnstmsft commented on #5003
Given that we can't repro the problem and other folks seem to be able to upgrade to 5.0.3 just fine, it looks like the problem is specific to your environment. I would suggest using [Fuslogvw](https://docs.microsoft.com/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer) to debug the assembly loading process to find out what's missing.

[2018-11-14 11:23] AlexKeySmith commented on #5012
Thanks @varunsh-msft for raising the ticket, for others reading we began the discussions from a stackoverflow post: https://stackoverflow.com/questions/53259254/transient-error-handling-for-azure-msi-authentication

It would be handy, if rather than the retry logic purely being embedded into the App Authentication Library if it can expose it for external implementation in e.g. Polly. Perhaps somet

[2018-11-14 15:37] TomasPajurek commented on #4645
I can confirm the execution times for a network without DCs.

[2018-11-15 11:10] bunceg opened #5019 "Azure Search SDK: Cannot select search text against columns"
The Lucene query syntax allows something like this:

`search=contributors:jk rowling AND title:potter&$select=title,contributors&searchmode=all&querytype=full&api-version=2017-11-11`

i.e. I only want to search for terms that match "jk", "rowling" in the contributors column and "potter" in the title column.

The SDK does not enable this; it only allows us to select the search fields (Title, contri

[2018-11-15 15:42] chrisalexander opened #5022 "Batch Management SDK should support authentication like Batch SDK"
The batch SDK supports an authentication callback:

    var client = await BatchClient.OpenAsync(new BatchTokenCredentials(batchUri, authCallback));

However the batch management SDK only supports an ITokenProvider or a token:

    var batchManagementClient = new BatchManagementClient(new TokenCredentials(accessToken))

This means if you have a batchManagementClient that lasts > 1 hr (the default

[2018-11-15 15:54] matthewrwilliams commented on #5003
No worries Bruce.  Incidentally, I tried the upgrade again today and it worked.  The difference was the "Microsoft.Rest.ClientRuntime" also updated from v2.3.17 to v2.3.18.  I am no longer having issues.

[2018-11-15 17:48] brjohnstmsft commented on #5003
@matthewrwilliams Thanks for confirming. Closing this issue.

[2018-11-15 17:48] #5003 closed

[2018-11-15 17:59] brjohnstmsft commented on #5019
@bunceg While the SDK doesn't provide any kind of functionality for building full Lucene queries, you can pass such queries as a string to the SDK. Just make sure to set `QueryType` to `Full`:

[code]

Note the parentheses around "jk rowling", which ensures that the term "rowling" is also scoped to the "contributors" field.

[2018-11-15 17:59] #5019 closed

[2018-11-15 18:14] bunceg commented on #5019
@brjohnstmsft Two things:

1) Thanks for replying so quickly
2) This "feature" isn't explained anywhere that I can see (and I've asked before in various Microsoft blogs about this). If it isn't explained, it really should be as it's not obvious that you can do this

[2018-11-15 20:54] mmulhearn opened #5025 "CloudEvent schema only accepts JObject; nuget uses JArray"
This stackoverflow topic is still relevant [https://stackoverflow.com/questions/52233053/posting-custom-message-to-event-grid-via-logicapps](https://stackoverflow.com/questions/52233053/posting-custom-message-to-event-grid-via-logicapps)

If you are using the CloudEvent schema, you get a JSON error about sending an array.  The nuget does not handle that schema.  It should.  It does not allow you t

[2018-11-15 21:31] brjohnstmsft commented on #5019
@bunceg Thanks for the feedback. I agree that this should be more easily discoverable. I can think of two changes we could make to improve this; Please let me know if these would have helped you find this, or if there's something else we can do:

  1. Add an example to [this article](https://docs.microsoft.com/azure/search/search-query-lucene-examples) showing how to pass a Lucene query to the `Se

[2018-11-16 04:20] davidobrien1985 opened #5026 "Misleading output for AAD app ARM authentication"
Hello,

I just had to troubleshoot a customer's C# app that authenticates to ARM via a service principal (AAD app).
Problem was the log output from the SDK is not very helpful:

[code]

It turns out that the application in question was the AAD app with ApplicationId as can be seen in this attachment.
![2018-11-16_15-14-21](https://user-images.githubusercontent.com/8554521/48597551-76b7af00-e9b2-11

[2018-11-16 09:41] rtaum opened #5027 "KeyVaultKeyResolver DI"
Could you use IKeyVaultClient instead of KeyVaultClient in KeyVaultKeyResolver constructor?

[2018-11-16 10:35] rtaum commented on #5027
Actually I've created a PR to resolve the problem.
Here is the link https://github.com/Azure/azure-sdk-for-net/pull/5028.
So, if the PR is accepted the issue could be closed.

[2018-11-16 11:45] danutzplusplus commented on #1819
I don't mean to revive this thread from the grave, but I'm just wondering about the provided answer.
I'm no security expert, which is why I'm asking, but shouldn't security be built in layers, in depth? Meaning you need measures in place if the security boundary of the process is breached.

In the scenario where the client that calls into AKV is hosted on a server, I guess those risks are better m

[2018-11-16 12:36] danutzplusplus commented on #1819
Also, would you see any strong reason not to wrap the in-the-clear string in a SecureString on the abstraction that I'm writing over the AKV API? Even with all the caveats mentioned above, I still particularly like the deterministic garbage collection you can trigger with .Dispose on SecureString.

[2018-11-16 13:05] danutzplusplus commented on #1819
Also, what's even more interesting is that the DocumentClient constructor accepts the masterKey as a SecureString. Is there a different way of getting the masterKey as a SecureString that I'm missing?

[2018-11-16 20:30] allan-xiazhan opened #5030 "Microsoft.Azure.Management.ContainerInstance.Models.ContainerGroupIdentity parses "SystemAssigned, UserAssgined" enum string mistakenly."
If the string is "SystemAssigned, UserAssigned", it will be passed as "UserAssigned".  I used powershell to check the identity property on virtual machine.  It also have the same issue.  I believe that the same issue exists on .Net sdk for VM too.

Looks like this is a Json serialization behavior. Use the below simple code, I can reproduce this issue. Not sure how it worked before.

The Newtonsoft

[2018-11-16 20:36] brjohnstmsft commented on #5019
@bunceg These are great suggestions, thanks! I'll make sure our documentation is updated as you've recommended.

[2018-11-16 23:39] shahabhijeet commented on #5030
At this point .NET SDK repo has been upgraded so that all SDKs are targeting newtonsoft 10.x
Have you tried the same scenario using SDK that is targeting .NET Standard 1.3?
That is another way to verify if the issue repros

[2018-11-17 13:34] padillah opened #5034 "Cannot provision AppInsights using API 2015-05-01"
I am trying to provision an Application Insights resource but if I use the 2015-05-01 api the instance I end up with always reports "Error reading data" in the Search pane.
{
"$schema" : "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
"contentVersion" : "1.0.0.0",
"parameters" : {
"appInsights-name" : {
"type" : "String"
}
},
"resources" : [
{
"name" : "[paramete

[2018-11-19 20:17] allan-xiazhan commented on #5030
The newtonsoft  is still 6.X for the .Net SDK for .Net framework which is being used by AzureRM module.

[2018-11-19 21:10] nonik0 commented on #4826
@tjrobinson Thanks for that information; we were not aware. We will take a look and consider delisting the package. We have also released AppAuth 1.2.0-preview, which you can find here:
https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.0-preview

[2018-11-19 21:13] pielegacy commented on #4997
Any update on this @Petermarcu

[2018-11-19 21:14] nonik0 commented on #4791
Hi Chris, we have released AppAuth 1.2.0-preview, which contains the support for user-assigned identities. You can find the new release [here](https://github.com/Azure/azure-sdk-for-net/issues/4826).

As for how to use multiple managed identities, we have published minor updates for the following AppAuth VM samples that include instructions for how to specific a managed identity:
https://github.co

[2018-11-19 21:17] nonik0 commented on #4700
We have now released AppAuth 1.2.0-preview, which includes setting the new sendX5c flag/argument when using certificate-based authentication. You can find the new release here:
https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.0-preview

[2018-11-19 21:19] nonik0 commented on #4383
@danwkennedy

We have receently released AppAuth 1.2.0-preview, which contains the changes I detailed about just above. You can find the new release here:
https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.0-preview

Let us know if you have any feedback!

[2018-11-20 01:18] mirsaeedi opened #5036 "LuisRuntimeAPI is not accesible"
I've downloaded the latest version of[ Luis.Runtime v2](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime/2.0.0) into my UWP project targeting Windows 10 v1809. But I cannot instantiate the _LuisRuntimeAPI_  class because compiler complains that the class does not exist.
Could you please help me with that?

![image](https://user-images.githubusercontent.com/234

[2018-11-20 01:29] mirsaeedi commented on #5036
I found that I should use LUISRuntimeClient instead.

This sample should get updated although.

https://github.com/Azure-Samples/Cognitive-Services-LUIS-Console-Application

[2018-11-20 06:29] rohan3usturge commented on #4908
Hi Team,

Is anyone looking into this repo ?

[2018-11-20 09:00] GitHubAre opened #5037 "Performance improvement for fetching VM data"
Hello,
I am using Fluent SDK for fetching VM data from Azure to build inventory file for Ansible.
It takes about 1 minute to generate it using synchronous approach.
I have tried to rewrite it into asynchronous and now it takes 30 seconds more (my initial expectation was that it will perform faster).

Can someone please help me understand why I couldnt achieve performance boost?
Here are some code

[2018-11-20 12:28] oflipman opened #5038 "Strong name validation failed"
Hi,
I followed the instructions in the documentation.
I used this command in admin Developer prompt: "Sn.exe -Vr *,31bf3856ad364e35".
And i got this response: "Verification entry added for assembly '*,31bf3856ad364e35'"
I still get this error when I try to rebuild the project:

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "PostBuildTask" task failed unexpectedly.

[2018-11-20 21:54] brentschmaltz commented on #4780
@nonik0 when we added support in IdentityModel for MSI, we ended up creating two assemblies.
The one with the ADAL dependency layers on top of the other.

This should simplify MSI usage and remove the dependency on ADAL.

[2018-11-21 03:33] unruledboy commented on #3412
I have similar issue, while I want to get a Sync Group, I need to do like this:

1. Auth
2. Get a SQL Server
3. Get a SQL Database
4. Get a Sync Group

I reckon it is cumbersome as it will issue multiple calls, and the whole process takes 3-7 seconds, technically speaking we can straightaway get a Sync Group, right? So it would be way faster.

[2018-11-21 14:20] chrisdunne opened #5045 "Storage Emulator SQL Server Authentication"
Does the Storage emulator not support connections via SQL Server Authentication, if not how come?

[2018-11-21 18:15] amir734jj opened #5046 "The format of value xxx is invalid"
I get the following exception when I run the code (I use Mac):

Code that throws an exception
[code]
[code]

**Update 1**
I think `TextAnalyticsClient` tries to set a header key/value and header value is not valid.

**Update 2**
I see the source of the problem. Its setting OsVersion on header of `HttpClient` and it's not url friendly or something and `HttpClient` is throwing an exception:

[code]

[2018-11-21 23:57] shahabhijeet commented on #5046
@amir734jj @bastisk can you tell me what version of ClientRuntime are you using in your app?
If you upgrade your app to the latest ClientRuntime, you should not see this issue.
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime/2.3.18

[2018-11-22 00:37] amir734jj commented on #5046
@shahabhijeet Thanks for the help. I just installed the latest version of `Microsoft.Rest.ClientRuntime` and it solved the problem.

[2018-11-23 07:59] abkhan5 commented on #3607
I am using the latest version with .net471 and class libraries. and still get this issue.

[2018-11-23 09:35] shahabhijeet commented on #5046
@amir734jj closing the issue as well as the PR.

[2018-11-23 09:35] #5046 closed

[2018-11-25 03:31] shahabhijeet commented on #5038
@oflipman can you point me to your fork/branch where I can reproduce this error.

[2018-11-25 03:39] shahabhijeet commented on #4927
@srini1978 we currently support .NET 4.5.2 and .NET Standard 1.4 for all management plane SDKs
@garfbradaz I am sorry, I still don't follow. Can you help me understand your scenario:
1. are you saying you cannot load azure .NET SDKs inside ASP.NET Core 2.0 apps? If yes, can you describe your app setup, because I would like to reproduce this scenario and understand what is not working for you.

[2018-11-25 04:40] fabiomaulo commented on #4678
We are using the 5.0.3 with restclient 2.3.17 and RestClientAzure 3.3.18 but the memory leak is still there
Last 24hs
![image](https://user-images.githubusercontent.com/125039/48975604-192afe80-f053-11e8-8362-5991b183ba37.png)

[2018-11-25 08:03] oflipman commented on #5038
We managed to make it work.
It was a problem on our side, I did not build the project correctly

[2018-11-25 08:03] #5038 closed

[2018-11-25 12:07] brijesh1ec commented on #4678
AZ 200 Certificate? any suggestion on this

[2018-11-25 17:17] thecorrado opened #5050 "Marking API as "Current" through ApiManagementClient.Api.CreateOrUpdateAsync"
When I'm adding the new revision of API through `ApiManagementClient.Api.CreateOrUpdateAsync(...)` method I cannot marks those API as current.

Class `ApiCreateOrUpdateParameter` (which is a param for above method) takes in constructor: `bool? isCurrent`, but setting this value as `true` do literally nothing.

Reproduction:
[code]
NOTE: `revisionId` is a new ID (incremented).

Calling APIM client:

[2018-11-25 20:06] shareonline commented on #3927
Please fix this.. We can't add saved searches because of this.. So now i have to write my own rest calls, which is working. But this is not really great when we are supposed to have an SDK for the job?

[2018-11-26 14:13] thecorrado commented on #5050
Ok, figure it out by reading this article ["Managing Versions and Revisions using the HTTP API"](https://blogs.msdn.microsoft.com/apimanagement/2017/09/29/managing-versions-and-revisions-using-the-http-api/) and when I started using `ApiRelease.CreateAsync(...)`.

Essentially if we want to make new revision `current` we have to create `ApiRelease`.

`ApiCreateOrUpdateParameter` contract is mislead

[2018-11-26 14:13] #5050 closed

[2018-11-26 16:10] vanillajonathan opened #5052 "Constant for Ocp-Apim-Subscription-Key"
For the `Microsoft.Azure.Management.ApiManagement` namespace.

Consider adding a constant for `Ocp-Apim-Subscription-Key`.

Or an `AddOcpApimSubscriptionKey` extension method.

[2018-11-27 02:49] fabiomaulo commented on #4678
Ok Bruce, I'll try before with 5.0.1 and then 5.0.3 overriding the version of clientRuntime.
Just give me a few days to organize the "_Fire in the hole_" version of that API.
P.D. For the vNext of the SDK, please, use netstandard2.0 instead of 1.4 (there is a known issue with System.Net.Http when you mix with fullFW).

[2018-11-27 02:57] brjohnstmsft commented on #4678
@fabiomaulo The target framework for all Azure .NET SDKs is managed centrally, so the Search SDK will support netstandard2.0 when the rest of the Azure SDKs do. There's a discussion about this [here](https://github.com/Azure/azure-sdk-for-net/issues/4927).

[2018-11-27 10:14] #5045 closed

[2018-11-27 13:30] jsweiler opened #5055 "Unable to create Bot Channel Registration"
I am using the following nuget package: https://www.nuget.org/packages/Microsoft.Azure.Management.BotService/0.9.1-preview and I would like to create a bot channel registration when I already have the MsaAppId and the MsaPassword.
My code looks like this:
[code]
However I get a bad request exception. When looking at fiddler I see the following result:
[code]

Is there any documentation on what Run

[2018-11-27 19:09] rtaum commented on #5027
Solved with the PR.

[2018-11-27 19:09] #5027 closed

[2018-11-27 22:16] #4331 closed

[2018-11-27 22:50] matthchr commented on #4999
Any update on this?

[2018-12-03 18:53] mgottein opened #5060 "Azure Search SDK: Missing CosmosDb data source creation methods"
See https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Search/DataPlane/Microsoft.Azure.Search.Service/Customizations/DataSources/Models/DataSource.Customization.cs

We are missing a  cosmos db method to match document db

[2018-12-05 13:31] guylando opened #5063 "SecurityRule constructor change compiles old code but throws exception"
Improvement suggestion:
The change done here: https://github.com/Azure/azure-sdk-for-net/commit/9b550954c993911cf8ff4a5fde26502658efe34f#diff-975f9d2547d427bf78308e7693661ac8L89 to the SecurityRule class constructor makes all old code compile as usual but throw error in runtime because of the parameters order change.
Caused to lose precious time so if there is a way to cause a warning\error for co

[2018-12-05 22:06] BryanLa commented on #4987
Label: AppAuthentication

[2018-12-06 03:37] pielegacy opened #5067 "Azure Batch Operations hang when invalid credentials provided"
Trying to validate Azure Batch SDK credentials in an application and the way I'm doing this is by creating a Client and then trying to list entities like Pools, for example:

[code]

This method works fine when the provided credentials are valid, however testing for invalid credentials results in the method never completing its executions or throwing an exception.

[2018-12-06 20:46] matthchr commented on #4880
This was actually only because of a rouge packages.config that I failed to delete. We don't actually depend on this version of OData anymore (I'm pretty sure we don't depend on OData at all anymore since storage dropped it).

@shahabhijeet can we close this given the above?

[2018-12-07 19:39] dft616 commented on #4317
I was having this issue on a console app running locally that we run as a webjob in Azure. I was only getting the error running locally authenticating to keyvault with a cert. Switching my app back to 4.6.2 fixed the problem. My package config looked like this:

  <package id="Microsoft.Azure.KeyVault" version="3.0.2" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" versio

[2018-12-08 10:02] djpirra opened #5070 "Weird exception api-version"
While trying to execute a pipeline I am getting this weird exception:

Message: Assert.Fail failed.
Microsoft.Rest.Azure.CloudException: The received request specifies api-version '2018-06-01' but the requested Data Factory 'adfdf' is from version '2018-06-01'. Please use a client that specifies the API version of the Data Factory, or change the 'api-version' query parameter if you are using REST

[2018-12-09 06:35] djpirra commented on #5070
Ok I have found that the issue was while using a private preview of the ADF.
Please do not consider this bug.

[2018-12-09 06:35] #5070 closed

[2018-12-10 09:56] MHHenriksen commented on #4927
You've misunderstood. A package that targets .NET Standard 1.4 works in .NET Core apps version 1.0 **and up**, including .NET Core 2.0 and 2.1. We're using it in an Azure Functions 2.0 app, and our projects target netstandard2.0 and netcoreapp2.0. We use the Microsoft.Azure.Search.Data version 5.0.1 package without issues.

[2018-12-10 16:22] josher565 commented on #4917
yup.. I'm learning things. The issue is on my side rather than yours. But you guys know that right ;)

thanks for letting me bump into things

[2018-12-10 16:22] #4917 closed