[2016-06-17 18:52] kirthik opened #2109 "[Documentation]: end to end workflow documentation"
Move end to end workflow documentation from private repo to this one.

[2016-06-17 19:35] johncrim commented on #1206
Any update on this? This is a significant bug, and I provided a test case. Shouldn't the version where it is fixed be marked?

[2016-06-20 12:32] harsh288 commented on #2092
Sorry for replying late, thanks a lot that helped.

[2016-06-20 12:32] #2092 closed

[2016-06-21 18:26] pjganesh opened #2124 "Azure web jobs not picking up transaction timeout from machine.config"
Hi,
Below are the steps I followed to test this scenario.
- Our web app uses EF 6 with TransactionScope.
- Deployed web app with web jobs in Azure portal.
- When we tested the TransactionManager.MaxTimeout property via Web jobs, it often shows as 00:10:00 (10 mins) and it timesout exactly on it.
- Our requirement is to increase it and we followed some blogs and tried setting it using applicationHo

[2016-06-21 23:54] abatishchev commented on #2124
Let me reiterate on Ganesh's point. We need to modify machine.config and tried out all known to us techniques:

- Web.config of the web host
- App.config of the console app
- applicationHost.xdt

None of them affected machine.config. TransactionManager.*Timeout properties still return default values of 00:10:00 what is the real roadblocker for us.

Please advise.
Thanks,
Alex
MPSIT Engineering

[2016-06-23 06:18] murali-a-pds opened #2131 "AvroUnion serialization does not work for properties with explicit type"
eg. When attempting to serialize an object of following type

[code]

it fails, with the error message "_No coercion operator is defined between types 'System.String' and 'Microsoft.Hadoop.Avro.AvroNull'_"

Excerpt of serialization code :

[code]

If the TestProp is of type object, then the serialization works fine.

Another problem noticed in the same area,

When trying to serialize the following

[2016-06-24 00:16] markcowl opened #2133 "Fix Compatibility issues with authentication library and new runtimes"
### Description
The current nestandard compatible packages do not have a microsoft.rest.clientruntime.azure.authentoication library that is compatible with the runtime they depend on.

We either need to:
* Republish the management libraries to depend on ClientRuntime.Azure 3.3.0 and publish an authentication library with the same dependency.
* Publish the authentication library with a dependency o

[2016-06-24 00:20] markcowl opened #2134 "[Documentation] What are the best practices for mixing Management.ResourceManager client with Hyak clients?"
### Description

Need to decide the right story for mixing client types.  We can

* Undeprecate the older version of the ResourceManager client so that there is a compatible, supported, undeprecated version
* Publish a version of Microsoft.Azure.Common.Authentication that can work with new ADAL and rest clientruntime versions.
* Document how to use ClientRuntime.Azure.Authentication with older cli

[2016-06-24 12:28] Karamell opened #2135 "Avro Serializer looses offset from DatetimeOffset if useEpochTime is set"
When roundtripping a `DateTimeOffset` property with an offset different to 0 the serializer will chop off the offset.

To reproduce:
1. make a class with a `DateTimeOffset` property
2. assign a date with offset.
3. set `UsePosixTime=true`
4. serialize/deserialize.

Maybe the DateTimeOffset serializer should not use posixtime.

[2016-06-24 13:23] xied75 commented on #1980
Are we going to get a release in one weeks time? :)

[2016-06-24 15:05] niemyjski opened #2136 "Support for netstandard"
When is support for netstandard coming?

[2016-06-24 22:32] hovsepm commented on #2020
@ikolos-softheme thank you (and all people from Softheme ;)) for bringing this up. 2 things here:
1. We will not add any new features/functionality to the Hyak libraries since it is in the support mode. We a transitioning to AutoRest generators.
2. Use Newtonsoft.Json nuget package to serialize this type into a json file.

[2016-06-24 22:33] #2020 closed

[2016-06-24 23:03] hovsepm commented on #2096
@bgever Sorry for the confusion but this repo contains Azure Management SDK sources only and has nothing to do with Azure .Net SDK sources you mention. Please file an issue through azure portal.

[2016-06-24 23:03] #2096 closed

[2016-06-24 23:07] pomortaz commented on #2065
No @paolorr, but you can implement the PFX converter similar to [how Add-AzureKeyVaultKey does the conversion](https://github.com/pomortaz/azure-powershell/blob/master/src/ResourceManager/KeyVault/Commands.KeyVault/Models/PfxWebKeyConverter.cs).

[2016-06-24 23:08] hovsepm commented on #2136
@niemyjski for which library? We have some libraries already converted to .NetCore RC2.

[2016-06-25 00:11] niemyjski commented on #2136
All of them that I checked were not updated for storage, servicebus and queues

[2016-06-26 05:39] eralston opened #2137 "UpdateSiteSourceControlAsync & CreateOrUpdateSiteSourceControlAsync fail with "Parameter x-ms-client-principal-name is null or empty.""
Using the Azure SDK in C#, I am attempting to programmatically setup a site that uses a VSTS git repository for source control. I am able to connect to the repo from the portal easily enough and I simply wish to recreate the process of creating the site then attaching the repo.

I am able to create a site with no issue; however, when I try to attach source control to it, for instance using the fol

[2016-06-26 20:10] pjganesh commented on #2124
Can anyone please help in this issue ?

[2016-06-28 11:18] anilyela opened #2142 "Build fails while getting NuGet Package 'xunit.runner.console'"
I'm trying to run "msbuild build.proj /t:build;package /p:scope=ResourceManagement\Sql" to generate nuget package, but build fails to find the nuget package 'xunit.runner.console'.

![image](https://cloud.githubusercontent.com/assets/19861675/16413455/61b7d56e-3d32-11e6-8666-830b1bf39f7f.png)

I tried to install the package separately and this is what I got.
![image](https://cloud.githubuserconten

[2016-06-28 18:12] begoldsm commented on #2043
@mmcc1 this is not expected behavior. I am investigating this now and think this might be an issue with the "grab all the bytes" option for this method when you don't specify length/offset. To work around this in your code, you can specify the length and offset (of 0 in this case) of the data you want back.

[2016-06-28 22:55] begoldsm commented on #2043
@mmcc1 I think I figured out why you are getting the padding, although I am unable to reproduce the 100 requests for a simple file. I tried create the same file you created with the contents of "testing" and then used the exact same code that you have. The problem lies in how you are using the memory buffer and getting content out of the memory buffer.

The buffer capacity is increased to 256 when

[2016-06-29 21:29] ahmetalpbalkan commented on #611
apparently there is no interest + this was ASM so closing.

[2016-06-29 21:29] #611 closed

[2016-06-29 21:54] ahmetalpbalkan commented on #1770
hopefully gets fixed someday...

[2016-06-30 08:48] anilyela commented on #2142
Nuget.org package source was disabled in my default Nuget config file https://docs.nuget.org/consume/nuget-config-file

 Enabling that package source solved the problem.

[2016-06-30 08:48] #2142 closed

[2016-06-30 17:04] abatishchev commented on #2124
@davidebbo hi, please assist in escalation. this critically blocks PI Payment Request (MPSIT/UST) to go live. thanks!

[2016-06-30 18:01] davidebbo commented on #2124
Please use the [forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazurewebsitespreview) for general Azure Web App issues. This does not seem related to the .NET SDK.

[2016-06-30 18:09] abatishchev commented on #2124
The issue only with WebJobs console host. Web App itself can see the changes in applicationHost.config/xdt.

[2016-06-30 18:43] davidebbo commented on #2124
That's normal, as `applicationHost.config` is an IIS file, and generally does not apply to Console apps.

Why doesn't it work in app.config? Is this specific to WebJob/Azure, or does this section generally not work from app.config?

[2016-06-30 18:52] abatishchev commented on #2124
Right, applicationHost.xdt modifies applicationHost.config, IIS-specific config.

But we need to modify machine.config itself or anything intermediate between console's app.config and machine.config. Because `system.transactions/machineSettings` section is marked with `allowDefinition="MachineOnly"`

[2016-06-30 19:05] davidebbo commented on #2124
There is no way to modify machine.config in Azure Web Apps today. Are you sure that it would work even if you removed the `allowDefinition="MachineOnly"`? Some settings are intrinsically only effective at machine level.

[2016-06-30 23:06] abatishchev commented on #2124
Yes, removing allowDefinition and setting it in app.config works. Also setting in machine.config directly.

We've moved to WebJobs from Web API where were facing load balancer timeout 230 seconds and now facing 15 minutes timeout of TransactionScope itself. Yes, this is not right to hit the timeout, we're planning to move to Service Fabric but for now this is a serious blocker for us.

[2016-07-01 00:29] davidebbo commented on #2124
I suggest requesting feature to internal Web App alias. The issue is totally unrelated to this repo.

[2016-07-01 00:41] markcowl opened #2155 "Prototype Breaking Change Detection Automation"
### Description

Prototype breaking change detection in pull requests using assembly difference tools.  Steps for this would include:

1. Build (or acquire) the target assembly from the target branch without the change
2. Build the target assembly from the PR branch
3. Perform the diff  using existing tools
4. Output required updates to major and minor versions
5. Fail if the assembly version and

[2016-07-01 06:33] fayyazpoonawala opened #2157 "latest preview fails to install via Nuget"
Hello, i was trying to install the 1.1.3-preview version of Microsoft.Azure.ResourceManager
and while restoring the package, i get this exception:

PM> Install-Package Microsoft.Azure.Management.ResourceManager –Pre
Attempting to resolve dependency 'Microsoft.Rest.ClientRuntime.Azure (≥ 3.1.0 && < 4.0.0)'.
Attempting to resolve dependency 'Microsoft.Rest.ClientRuntime (≥ 2.1.0 && < 3.0.0)'.
Attemp

[2016-07-01 23:50] abatishchev commented on #2124
@davidebbo oh, right, I'm sorry, we've opened this issue not in the right repo indeed. would be https://github.com/Azure/azure-webjobs-sdk/issues the right place? should I copy it over?

[2016-07-02 05:28] markcowl opened #2164 "Prototype mixing RP-level and ResourceType level builds"
### Description

Resource providers are versioning resource types independently. In the future, some resource providers may have separate nuget packages for resource types.

For example, Compute might ship only a Compute client, but ResourceManager might ship a client for featues, a client for resources, and a client for subscriptions.

Prototype changes to the build infrastructure for building on

[2016-07-02 05:31] markcowl commented on #2046
@brjohnstmsft To start with.  The design shoudl allow discovering any AutoRest client library added to the AppDomain

[2016-07-02 05:41] markcowl opened #2165 "Prototype and evaluate Profile branches"
### Description

Prototype having one branch per profile, with the contents of RP directories coming from git submodules.  Once the infrastructure is set up we should evaluate the follwoing common tasks using this setup, including tools needed for each scenario:
- Updating and releasing a single RP library
- Adding a new SDK library
- Creating a new profile branch/tag
- Updating the client runtime

[2016-07-02 21:10] krish-gh opened #2166 "Feature Request - Batch Encrypt/Decrypt operation in keyvault"
We have a requirement for a customer where in course of a data processing flow, we need to encrypt/decrypt a list of items (let's say 100 in a batch) individually. Now if we do that from client side sending multiple requests to keyvault, there is a throttling from keyvault and also network latency. So, we need something for bulk operation at one shot. Let's say if the API can accept and array of k

[2016-07-03 17:12] brjohnstmsft commented on #2046
I ask because many of the requirements above do not apply to a data plane SDK. Credentials may work differently, there is no inherent notion of subscription ID, etc.

[2016-07-06 01:09] smoothdeveloper commented on #1432
I'm facing same issue, I don't think this should be closed.

@devigned you said:

Did you mean something in the SDK or in client code we are supposed to write?

Any chance to also have a *sync* version of the calls which at least saves one from trying to understand why the call would lock for eternity / help troubleshooting AD stuff (which doesn't provide very helpful messages).

For the AD part i

[2016-07-06 02:02] akonyer commented on #1432
The problem for me was that I was not using "async all the way down".

There were places I was using async/await, and then other places I was forcing it to be synchronous by calling .Result, which was causing a deadlock. I'm not 100% sure why the deadlock was happening, but using async all the day down did solve the issue.

It is good practice in general when you are working with async code.

Hope

[2016-07-06 02:51] smoothdeveloper commented on #1432
@akonyer thanks for feedback.

Then as I say the issue is that we don't have any alternative to the async method, and a Task exposed as a public API shouldn't deadlock client code, this seems totally backward.

There is probably lots to say about how `async`/`await`/`task` is done in C#, in F# running `async` workflow has never led me to such outcome of deadlocking calling thread.

I've tried to r

[2016-07-06 02:59] akonyer commented on #1432
I agree that it should not deadlock, and that there should be alternatives to having to use async/await.

Since the GetAccessToken method absolutely has to be async, I have simply labelled it as such in the method signature, but used no await within the method.

`      private static async Task<string> GetAccessToken(string authority, string resource, string scope)
      {
         ILogger logger

[2016-07-06 03:35] smoothdeveloper commented on #1432
@akonyer somehow I don't have `AcquireToken` available this is the version of the assembly I'm using:

Am I using wrong version?

My code, I'm not using vault but the end result is the same as you had initially (deadlocking on .Result):

[code]

[2016-07-06 03:45] akonyer commented on #1432
Hmm, actually you are using a newer version than I am. I am using 2.25.305061457

I just updated to 3.10 to check, and sure enough, they have removed the non-async method.

I guess I am going to have to look into updating my code myself then. Seems likely that if I update I will run into the same problem as you.

[2016-07-07 13:32] alistairwhite commented on #2157
Hi,

I had the same issue in VS2013 and updating the Nuget Package Manger as mentioned in the answer for http://stackoverflow.com/questions/25725545/nuget-x-already-has-a-dependency-defined-for-y solved the problem for me.

Link to the package manager for VS2013: https://visualstudiogallery.msdn.microsoft.com/4ec1526c-4a8c-4a84-b702-b21a8f5293ca

Version of package manager I installed was 2.12.0.8

[2016-07-07 14:33] grahamehorner opened #2167 "sdk for CoreCLR/AspnetCore"
Please consider as priority creating/porting to core clr so azure services can be used with in aspnet core projects that target core clr and are hosted on no windows operating systems

[2016-07-07 20:39] hovsepm commented on #2157
Please update VS 2013 to the latest update 5 and update nuget package manager from VS 2013->Tools->Extensions and updates

[2016-07-07 20:39] #2157 closed

[2016-07-07 20:43] hovsepm commented on #2136
@niemyjski ServiceBus will not be ported. Storage ARM was ported - https://github.com/Azure/azure-sdk-for-net/tree/AutoRest/src/ResourceManagement/Storage . You should check AutoRest branch.

[2016-07-07 20:43] #2136 closed

[2016-07-07 20:48] hovsepm commented on #2167
@grahamehorner
here is the full list of CoreCLR libraries with the version that were published on nuget on June:
[code]
we work on the rest of the SDKs.

[2016-07-07 20:53] #2167 closed

[2016-07-08 00:52] pomortaz commented on #2166
@krish-gh batch operations are not supported by Key Vault service as of now. To bypass the issue, you can send the requests at the same time to key vault and if throttled, you need to back off and wait for few seconds. Here is the [throttling limit for Key Vault](https://azure.microsoft.com/en-us/documentation/articles/key-vault-service-limits/). Does it work for you?

[2016-07-08 10:37] harsh288 opened #2168 "Azure Search Ranking"
Hi,

My application is in MVC and I have a search text box based on azure index, its working fine however I have a scenario where in if I enter "chres Harris" instead of "chris Harris" it should return result "chris Harris" but it returns different result like "bob Harris" and then "chris harris", I want the results to be nearabout the same even if there is a spell mistake, please help will any in

[2016-07-08 10:56] herecydev commented on #2136
Can I ask why? That seems a really terse decision.

[2016-07-08 15:17] moswald commented on #2136
If `ServiceBus` is not going to be ported, what's the alternative?

[2016-07-08 19:13] brjohnstmsft commented on #2168
Hi @harsh288,

This issue is not specific to the .NET SDK, so I'm going to close it. Please start a new thread on the Azure Search MSDN forum and I'll make sure the right person on our team helps you out:

https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azuresearch

Thanks,

-Bruce

[2016-07-08 19:13] #2168 closed

[2016-07-11 08:08] harsh288 commented on #2168
Sure thanks !!

[2016-07-12 11:29] rajeshkdev opened #2172 "Proxy with HttpClientHandler to WebSiteManagementClient - gives object reference exception from the Azure SDK"
Proxy with HttpClientHandler to WebSiteManagementClient - gives object reference exception from the Azure SDK.

[code]

When we pass this "new HttpClient(clientHandler)" to WebSiteManagementClient, getting object reference exception from the Azure SDK.

How to handle this? or Any Hot fix available?

Is this issue from Azure SDK?

[2016-07-13 10:57] shaulbehr opened #2174 "Using SDK for Elastic Db Pool operations?"
Hi,
I just found this library, and I've cloned it locally.
I'm trying to find how to do operations on Elastic Db pools, specifically how to create a pool, and how to create a database within that pool.
I couldn't find any documentation or sample code for this, and the package version I'm using in my project (Microsoft.WindowsAzure.Management.Libraries 2.0.0, which is the latest according to NuGet)

[2016-07-13 16:28] ronaldnsabiyera commented on #1704
I can confirm as well on VS2015 Update 3

[2016-07-14 03:29] #1619 closed

[2016-07-14 03:30] #1980 closed

[2016-07-14 18:03] hovsepm opened #2178 "Convert AutoRest projects to CoreCLR"
List of Projects that could be converted:
[code]

Need to notify partners that we will convert their libraries and publish to nuget.org new version with patch version bump.

Ask partner teams to convert during this release first.

[2016-07-14 18:48] rohmano opened #2180 "HttpMockServer.Initialize results in null reference exception"
public static void Initialize(string callerIdentity, string testIdentity)
results in "Object reference not set to an instance of an object." at
   at Microsoft.Azure.Test.HttpRecorder.HttpMockServer.Initialize(String callerIdentity, String testIdentity, HttpRecorderMode mode)
   at Microsoft.Azure.Test.HttpRecorder.HttpMockServer.Initialize(String callerIdentity, String testIdentity)

FileSystemUt

[2016-07-14 20:22] #2133 closed

[2016-07-15 06:57] abatishchev commented on #792
Any update on this, please?

[2016-07-16 10:23] himadrinath opened #2188 "The dependency WindowsAzure.ServiceBus 3.3.1 does not support framework .NETCoreApp,Version=v1.0."
how can i fixed it

[2016-07-17 15:05] herecydev commented on #2136
@hovsepm any update on this. You've closed the issue and, by the reactions posted here, confused most people and left us no alternative option.

[2016-07-18 23:32] rshirani opened #2190 "Unable to deploy using ARM template by passing the content of the json file."
Hi folks,

I am trying to do a deployment but rather than passing the TemplateLink and ParametersLink, I'd rather passing the content. When I do so however I get an error as follows. What I do right now is simply loading the content of my template file

[code]

and then in my main:

[code]

I'd like to mention that my tmplt.json and params.json are exactly the file that I used to in my deployment

[2016-07-19 17:01] devigned commented on #2190
Check out this sample: https://azure.microsoft.com/en-us/documentation/samples/resource-manager-dotnet-template-deployment/.

I believe you need something like below:

[code]

[2016-07-19 18:44] rshirani commented on #2190
Thanks @devigned , it seems a bit tricky as we can pass string for template but not the parameter. I modified to this and now passes the json issue. Thanks for the link. That said I get a new exception (Long running operation failed with status 'Failed'). Should I just retry or you have any other recommendations?

public static async Task<DeploymentExtended> CreateTemplateDeploymentAsync(
   Token

[2016-07-19 18:44] rshirani commented on #2190
Here is the full exception:

Creating the resource group...
Succeeded
Creating the template deployment...
Error: System.AggregateException: One or more errors occurred. ---> Microsoft.Rest.Azure.CloudException: Long running operation failed with status 'Failed'.
   at Microsoft.Rest.Azure.AzureClientExtensions.<GetPutOrPatchOperationResultAsync>d__1`2.MoveNext()
--- End of stack trace from previou

[2016-07-19 19:04] rshirani opened #2194 "Long running operation failed with status 'Failed' when trying to create a resource using ARM templates"
I am trying to create a deployment based on https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-csharp-template/.

[code]

I ran this multiple times and each time I get this exception. Is there anything that I am missing here?

Error: System.AggregateException: One or more errors occurred. ---> Microsoft.Rest.Azure.CloudException: Long running operation failed with st

[2016-07-19 19:05] rshirani commented on #2190
Created a new issue to track this: https://github.com/Azure/azure-sdk-for-net/issues/2194.

[2016-07-19 20:37] rkmanda opened #2195 "[Documentation]: What is the testing flow?"
Describe the whole process of
- Recommended way to author tests
- Setting appropriate environment variables
- How authentication is handled in different modes
- How record and replay works

[2016-07-19 21:44] hovsepm opened #2196 "PowerBIEmbedded solution does not have license header in the generated files."
e.g. https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/PowerBIEmbedded/Microsoft.Azure.Management.PowerBIEmbedded/Generated/IPowerBIEmbeddedManagementClient.cs

This needs to be fixed in all the genereated files.

[2016-07-20 18:20] devigned commented on #2190
I think this code will work better with the http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json format.

[code]

[2016-07-20 18:30] devigned commented on #2190
I agree that it's a bit tricky. We need to have better typing on this.

@markcowl, @sphibbs, @kirthik, @vivsriaus and @tbombach could we improve: https://github.com/Azure/azure-rest-api-specs/blob/master/arm-resources/resources/2016-02-01/swagger/resources.json#L1778-L1789 ? It would be great to have a stronger typed representation of Template and Parameter on DeploymentPropertiesExtended to ensur

[2016-07-20 18:40] devigned commented on #2194
@kirthik and @hovsepm we really should provide all HTTP first principles in exceptions. They should include the request / response headers, body, uri, etc., so that a consumer of the lib could reproduce the request using PS or curl. Beyond that, "Failed" is completely inadequate and should contain the information for why the deployment failed.

[2016-07-21 02:34] shuagarw opened #2201 "TenantId and userName not present in the Powershell test framework"
It was present in hydra test framework. Used to be available in environment.AuthResult.

[2016-07-21 02:39] shuagarw commented on #2201
Mark suggested a workaround to have userName and tenantId set as environment variables for now to unblock but needs to be fixed.

[2016-07-21 19:11] DrEsteban opened #2205 "Must set (Microsoft.Azure.Management.Compute.Models.VirtualMachine).Extensions to null before calling (Microsoft.Azure.Management.Compute.ComputeManagementClient).CreateOrUpdate()"
I'm writing a simple app that transfers ownership of a DataDisk from one VM to another programmatically.  So, my pseudo-code looks like:

`ComputeManagementClient client = new ComputeManagementClient(creds);`
`var vm1 = client.VirtualMachines.Get(ConfigurationManager.AppSettings["ResourceGroup"], ConfigurationManager.AppSettings["VM1ResourceName"]).VirtualMachine;`
`var vm2 = client.VirtualMachine

[2016-07-22 02:08] brjohnstmsft opened #2208 "DataLakeStoreUploader.Tests is causing intermittent CI build failures"
See this build log: http://azuresdkci.cloudapp.net/job/sdk-for-net/3003/console

Here is the failure:

[code]

Also, these tests take a long time to run. Perhaps they are not using mocks? We should keep our tests fast and reliable for the CI build.

CC @hovsepm

[2016-07-22 18:30] begoldsm commented on #2208
These are pure unit tests that do data manipulation on the local machine. The download tests are tricky since they don't fake the actual download, meaning they put temporary filesin the temp folder where they are run. If that folder gets cleaned up or doesn't allow the files to be created, then we will see these types of errors. Also, unfortunately, they require ~50mb of data to be created, which

[2016-07-22 18:30] begoldsm commented on #2208
I am investigating the test flakiness now, though.

[2016-07-23 01:02] hovsepm commented on #2201
Fixed in AutoRest branch. Added to PS with https://github.com/Azure/azure-powershell/pull/2616 PR

[2016-07-23 01:02] #2201 closed

[2016-07-23 01:08] hovsepm commented on #2208
@begoldsm please take a look to in-mermory data store instead of real file system. That should stabilize tests and speed up execution time.

[2016-07-25 22:51] kirthik commented on #2134
Added documentation - https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/Documentation/AuthConflictsBetweenSDKs.md

[2016-07-25 22:51] #2134 closed

[2016-07-25 23:21] cormacpayne commented on #2101
Updated documentation: https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/README.md

[2016-07-25 23:21] #2101 closed

[2016-07-25 23:36] cormacpayne commented on #2109
Updated documentation: https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/README.md

[2016-07-25 23:36] #2109 closed

[2016-07-27 12:45] poveilleux opened #2225 "Search SDK: Port exhaustion while under heavy load"
Hi,

When using the SearchIndexClient to update my indexes under load, I am getting SocketException:
**An error occurred while sending the request. Unable to connect to the remote serverOnly one usage of each socket address (protocol/network address/port) is normally permitted 000.000.000.000:443.**

My application is taking the messages accumulated in a service bus and is processing them. At one

[2016-07-27 21:12] brjohnstmsft commented on #2225
@poveilleux Thanks for reporting this issue, and sorry you're having trouble.

There are a few workarounds you can try to avoid exhausting sockets:

1. Increase `System.Net.ServicePointManager.DefaultConnectionLimit` (which defaults to 2) to something like `12 * Environment.ProcessorCount` so that you have enough connections to service your workload. You can find more documentation on the default

[2016-07-28 02:19] kirthik opened #2230 "Update breaking change detection tool to iterate over multiple RPs"
Breaking change detection script looks at first 3 files in a pull request to determine the Resource Provider(RP) and it builds only the projects under the discovered RP.  If a change spans across multiple RPs then breaking change tool does not run. This works for most of the scenarios. There are times where common code changes happen and that could cause breaking changes across multiple RPs. To ad

[2016-07-28 16:19] paulgmiller opened #2231 "Dependency on .net 2.0.5.0"
Seems like the management dlls have refernces to .net 2.0. Any reason why? This makes it harder to deploy as we have to ensure 2.0.5.0 is installed on all machines (or maybe I am wrong about that?)

ilspy lib\net40\Microsoft.WindowsAzure.Management.Compute.dll

// mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089
// Microsoft.WindowsAzure.Common, Version=1.0.0.0, Culture=

[2016-07-28 17:04] paulgmiller commented on #2231
Hmm trying to to see if this is only an issue when we reference the portable libraries instead of net40 in the nugget package. The net40 have refeences to both 4.0 and 2.0.5.0 while portable only has 2.0.5.0. Guidance on how to deploy 2.0.5.0 with the app rather than with a machine install would also be useful if that's possible.

[2016-07-28 17:55] xqrzd opened #2232 "Default values for avro"
Is there a way to provide a default value for a property/field using the reflection API? Basically, I want to use

`AvroSerializer.Create<MyClass>();`

and have it include a default value

`{ "name": "something", "type": "string", "default": "" }`

From what I've read, default values are a key part of schema evolution. If there isn't already functionality to do this (I couldn't find anything), I'd

[2016-07-29 01:44] brjohnstmsft commented on #2225
I've added a `TargetDifferentIndex` method to `SearchIndexClient`. It will be available in the next preview version of the SDK (ETA some time in the next month or two).

[2016-08-01 09:54] treziac commented on #2232
Same thing here. Doc and Alias would be nice too.
Actually there are two issues for me:

- no way to add doc, default values or aliases from reflection (and maybe more, but those are the ones I've seen so far)
Like xqrzd proposed, adding attributes [Doc], [Aliases] and [DefaultValue] would be fine

Note for DefaultValue : even if we add a default value with attribute (for Schema class to know it w

[2016-08-01 12:53] poveilleux commented on #2225
Thanks for the follow up @brjohnstmsft. I'll be trying your workarounds this week and I'll let you know what worked for me.

[2016-08-01 18:58] cormacpayne commented on #2178
Logic conversion in PR https://github.com/Azure/azure-sdk-for-net/pull/2200
Scheduler conversion in PR https://github.com/Azure/azure-sdk-for-net/pull/2236
ServerManagement conversion in PR https://github.com/Azure/azure-sdk-for-net/pull/2238

[2016-08-02 01:17] asheniam commented on #1234
Apologies for the delayed response.  We are planning a broad set of changes in the metrics area to greatly improve the consumption of metrics data.  These changes will go live in the next few months

[2016-08-03 14:46] anilyela opened #2250 "Adding test setup in scenario tests for Azure SQL Advisors and Recommended Actions APIs"
In Sql scenario tests, we are adding session records without any test setup. This will make it difficult for next developer to generate session records with similar responses for new versions of APIs.

See Mark's comment in pull request: https://github.com/Azure/azure-sdk-for-net/pull/2203
"You have json files, which indicate that you ran these tests against live azure. It looks like youi set up a

[2016-08-03 16:59] markcowl commented on #2231
@paulgmiller What is the issue you are seeing?  The 2.0 framework is generally included in the 4.0 Gramework, so there should be no deployment issue.  If you're seeing a particular depoloyment issue, please let us know what it is.

[2016-08-03 17:00] markcowl commented on #2232
@shefaliv Can you take a look?

[2016-08-03 19:56] markcowl opened #2253 "Tag existing packages for consistent profile version"
### Description
Determine which packages need to be tagged for the consistent profile version, tag the packages in Nuget WebAPI.  Use the tag Profile: 2015-05-01

### Cost: 1

[2016-08-03 19:57] markcowl opened #2254 "[Investigate]: How to represent and update profile versions in package metadata"
### Description
Can the package manager be used by this, what will the process be for adding a Profile to a package

[2016-08-03 20:00] markcowl opened #2255 "Add additional telemetry for os, .net version in UA string"
### Description
- Prototype the code to add OS, version, and .Net version to the UA string
- Add the code to the .Net generator

### Cost: 4

[2016-08-03 22:33] paulgmiller commented on #2231
We were seeing this crash.
7/26/2016 5:53:59 PM,FatalError,Request#2329947 failed: System.IO.FileNotFoundException: Could not load file or assembly 'System, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e, Retargetable=Yes' or one of its dependencies. The system cannot find the file specified.
File name: 'System, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e,

[2016-08-05 16:33] matthchr opened #2259 "Re-enable warnings which are currently disabled in the build"
Currently there are some warnings disabled in the build (mostly related to `///` comments). #2258 removes some of them, but even after that is merged there will be these remaining: `<NoWarn>1591;1573</NoWarn>`. Note that these warnings are disabled in [this file](https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/tools/Library.Settings.targets).

[1591](https://msdn.microsoft.com/en-us/libra

[2016-08-05 19:43] poveilleux commented on #2225
Hi again @brjohnstmsft ,

After doing some research, I found old posts of yours talking about having only one SearchIndexClient for all the calls made to Azure search service ([Stack Overflow](http://stackoverflow.com/questions/37469740/only-one-usage-of-each-socket-address-protocol-network-address-port-is-normall) and [Microsoft Forum](https://social.msdn.microsoft.com/Forums/Lync/en-US/9b87085f-

[2016-08-05 19:45] brjohnstmsft commented on #2225
@poveilleux Cool, glad to hear it worked for you!

[2016-08-08 04:51] kirthik commented on #1934
cc @shuagarw. Could you please take a look?

[2016-08-08 04:56] kirthik commented on #1482
This issue is fixed - https://github.com/Azure/autorest/pull/495

[2016-08-08 04:56] #1482 closed

[2016-08-08 04:58] kirthik commented on #1539
Closing this since there hasn't been a response for 6 months now and we could not repro the issue. If you are still seeing this problem, please open a new issue with traffic logs.

[2016-08-08 04:58] #1539 closed

[2016-08-08 22:10] markcowl commented on #2155
Complete

[2016-08-08 22:10] #2155 closed

[2016-08-08 22:13] #2178 closed

[2016-08-08 22:19] markcowl commented on #2100
### Description

search for offical documentation.  If found, update the link in the package.  If not, remove the documentation link.

[2016-08-08 22:22] markcowl commented on #2001
This is outside the scope of cloud configuration manager.  Please see the azure websites documentation for information on hpw to access application settings.

[2016-08-08 22:22] #2001 closed

[2016-08-08 23:31] kirthik opened #2262 "Move data plane libraries out of ResourceManagement folder"
We want to move to a structure that has management plane libraries under `ResourceManagement` folder. Data plane libraries will exist at the same level as `ResourceManagement` folder. The following should be moved out
- DataLake.Store
- DataLake.StoreUploader
- Graph.RBAC

[2016-08-09 00:33] shahabhijeet commented on #2255
PR https://github.com/Azure/autorest/pull/1333

[2016-08-09 12:56] Grin606 opened #2264 "client.CreateDocumentAsync stop working"
Hi,
in my application all settings were without changes & all getting data (CreateDocumentQuery) works fine, but suddenly all writing methods (CreateDocumentAsync) stop working. Don't you know how to fix it and to avoid it in future?

[2016-08-09 19:25] solvingj opened #2265 "MetricsInMemoryTests Not Finished / Not Working"
In trying to debug another issue, I found that the tests for Insights were apparently set to Ignore 455 days ago by yugangw-msft and nobody followed back up on it.  I recommend someone please take a look at these tests and get them working.

Reference:

[code]

If anyone can speak to the situation below, it would be helpful.  The actual problem class I need to debug the tests for is as follows:

h

[2016-08-10 07:46] Grin606 commented on #2264
Thanks for fixing it

[https://twitter.com/DocumentDB/status/763062847706247169](url)

[2016-08-10 07:46] #2264 closed

[2016-08-11 22:43] markcowl commented on #2265
@asheniam Can you take  a look?

[2016-08-13 01:03] eqr opened #2275 "Null properties in Avro"
I have issues serializing this class

[code]

with the next code:

[code]

Stack trace is:

Adding tc.Test = "" makes thing working.

Is it legal to have null property strings? What's wrong with this code?

Thanks in advance.

[2016-08-14 01:22] prajaybasu commented on #2167
I think this issue should not be closed until we have clients for services like KeyVault, or at least an ETA, because KeyVault is currently blocking WindowsAzure.Storage for .NET Core to have client side encryption.

[2016-08-14 16:20] yamamoWorks opened #2276 "invalid api-version"
An error occurred when use this method.
`ComputeManagementClient.VirtualMachines.GetAsync()`

Version 13.0.4-prerelease

[2016-08-16 03:27] Inverness commented on #2275
@eqr It's not legal to have null for strings in Avro. Null is considered its own type.

When using reflection, you must allow it by adding the NullableSchema attribute to the property.

[2016-08-16 11:33] cannehag commented on #2001
I don't really agree on the answer. Connectionstrings and AppSettings are the same kind of configuration that you would expect to be accessible via the CloudConfigurationManager class. I know how to access them, but I would rather see the same approach for them.
Why are they outside the scope ?

[2016-08-17 02:02] xqrzd commented on #2232
Just got back to this, I'm going to close this issue as it seems like the reflection API works fine without explicitly setting default values in the schema; it seems to just use the default value for a type if the schema changes, which works great for me.

[2016-08-17 02:02] #2232 closed

[2016-08-17 17:39] Inverness commented on #2131
If you want strong typing for properties you need to use NullableSchemaAttribute instead of AvroUnionAttribute.

This will tell the reflection schema builder to use an union type with the first type being null and the second being your property's type.

[2016-08-17 21:51] erichexter opened #2278 "How can I get a list of Virtual Machines in the Service Management API?"
https://github.com/Azure/azure-sdk-for-net/blame/master/src/ServiceManagement/Compute/ComputeManagement/Generated/VirtualMachineOperations.cs

Here is the current service management Virtual Machine operations and there is no GetAll  or any way to search for VMs as far as I can tell. Is this just a bug that this operation is missing from the API ?

cc @hyonholee @stankovski @jeffwilcox ???

[2016-08-17 23:45] #2065 closed

[2016-08-19 01:57] markcowl opened #2280 "Fix Graph ToenAudience for built-in environments and allow setting in connectionstring"
### Description

Change the GraphTokenAudience to match the graph endpoint for all built-in environments.  The graph endpoitn in test clusters has changed so that it no longer accepts https://graph.windows.net

Also, use the graph token audience setting when constructing the TestEnvironemtn here:  https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/TestFramework/Microsoft.Rest.ClientRunti

[2016-08-19 03:58] boblautenbach commented on #1413
Any new updates on support for IoT Core ?

[2016-08-19 08:45] prajaybasu opened #2281 "Azure KeyVault 2.0.0 preview libraries on NuGet ?"
Is there any specific ETA on when Azure KeyVault libraries for .NET Core in the AutoRest branch  will get published on NuGet ?

[2016-08-22 17:58] sphibbs opened #2285 "Move to .Net 4.5.2."
support for 4, 4.5 and 4.5.1 is going away. We will need to move to a more recent version of .Net.

Plan is to target the lowest supported version which is currently 4.5.2

[2016-08-22 18:48] erezvani1529 commented on #2285
Thanks @sphibbs! Do we have an ETA for this change? (any specific Azure SDK version?)

[2016-08-22 19:16] sphibbs commented on #2285
Not yet. We'll tag the milestone here and communicate on slack once it's scheduled.

[2016-08-25 17:46] bvirkler commented on #1642
Seems like this is no longer an issue, using Microsoft.Azure.Management.ResourceManager 1.1.5-preview.

[2016-08-29 00:54] pomortaz opened #2300 "[Jenkins] Publish job will publish all the packages under a directory"
When trying to publish one package in Key Vault project using this [job](http://azuresdkci.cloudapp.net/view/2-.NET%20SDK/job/sdk-for-net-publish), all packages gets published.

Key Vault has multiple NuGet packages and we tried to only publish one package using [these parameters](http://azuresdkci.cloudapp.net/view/2-.NET%20SDK/job/sdk-for-net-publish/887/parameters/). However, the job published

[2016-08-29 21:00] briansteiner opened #2303 "Microsoft.Azure.Management.Authorization AuthorizationManagementClient exception"
I get this exception when calling RoleAssignments.Create:

The api-version '2015-07-01' is invalid. The supported versions are '2016-07-01,2016-06-01,2016-02-01,2015-11-01,2015-01-01,2014-04-01-preview,2014-04-01,2014-01-01,2013-03-01,2014-02-26,2014-04'

I am using version v2.4.2-preview of the package.

[2016-08-30 17:25] pomortaz commented on #2281
@prajaybasu how about now: https://www.nuget.org/packages/Microsoft.Azure.KeyVault/2.0.1-preview

[2016-08-30 17:25] #2281 closed

[2016-08-30 17:31] pomortaz commented on #2086
@ppittle we added more [documentations](https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/KeyVault/Microsoft.Azure.KeyVault/Generated/KeyVaultClientExtensions.cs#L39-L41). However, we kept the keyType's type as string instead of enum to allow setting new key types when they are introduced without code change and avoid unnecessary breaking changes.

[2016-08-30 17:34] #2086 closed

[2016-08-30 20:30] pomortaz commented on #2166
We are adding your request to the requested features to review. :) There is no plan to support it yet.

[2016-08-30 20:30] #2166 closed

[2016-08-31 09:56] dreadeddev commented on #1013
Urm...... not with the latest version of the .sdk you can't!!! Might need to update the code snippet above to something like
IndexBatch.Delete(
new Document() { { "id", "123" } },
new Document() { { "id", "456" } },
 new Document() { { "id", "789" } });

[2016-09-01 19:50] JoeBrockhaus commented on #2157
I'm currently getting this same error attempting to create a nuget package that depends on Microsoft.Rest.ClientRuntime 2.3.2. Using the latest version of NuGet & VS Updates, and the same error occurs in VSO during the NuGet Packager step. The nuspec for the MS.Rest.CR has somewhat goofy syntax for Versions .. not sure if that could be causing issues (version="[1.0.0.0, )").

Any insight into the

[2016-09-01 21:29] brjohnstmsft commented on #1013
The answer was valid for the SDK version mentioned in the original issue. Then we changed the SDK to make things easier. :-)

Here is how you would delete a batch with version 1.0 or later:

    var batch = IndexBatch.Delete("id", new[] { "123", "456", "789" });
    indexClient.Documents.Index(batch);

Or, if you want to mix different operations in the same batch, you can do this:

    var batch =

[2016-09-02 22:56] corinajacobson commented on #2280
May I check in to see if anyone is currently working on this? Unfortunately I'm partially blocked on my current project being unable to run tests on daily tests endpoint.

[2016-09-06 02:52] welly87 opened #2321 "Microsoft Hadoop Avro Source code"
Hi all,

I can't find the source code of the microsoft hadoop avro here. It's said that it has been move here.

Any help would be really appreciated

[2016-09-06 02:54] welly87 opened #2322 "Microsoft Hadoop Avro .NET Core"
I have been porting avro to .NET core.

https://github.com/welly87/Microsoft-Avro-Core

However a couple of test is failing.

![image](https://cloud.githubusercontent.com/assets/242694/18260427/f06adfd8-7417-11e6-90f7-326f331d0544.png)

Any pull request would be really appreciated.

[2016-09-06 07:03] sudsy opened #2323 "How to scale server farm under Microsoft.Azure.Management.WebSites"
I have been exploring this api and can't seem to find a way to adjust the scaling settings for an App Service. I need to be able to change the number of instances for the App Service that my website is connected to.

I can see a way to do this with Microsoft.WindowsAzure.Management.WebSites but this is not the recommended sdk package to use.

Should I continue to use the old sdk or is it supported

[2016-09-06 23:05] sudsy commented on #2323
My apologies. The code under the new api adjusts the scaling.

[code]

[2016-09-06 23:05] #2323 closed

[2016-09-07 16:59] markcowl commented on #2321
@shefaliv can you take a look?

[2016-09-07 16:59] markcowl commented on #2322
@shefaliv Please take a look

[2016-09-07 17:02] markcowl commented on #2303
@briansteiner Is this call being made against Azure or against a national cloud?  Can you provide the request/response in this case ( the logging modules here https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Etw/2.1.1-preview
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Log4Net/2.1.1-preview
 should help with getting logs)

[2016-09-07 17:11] markcowl commented on #2303
@shuagarw can you take a look?

[2016-09-07 17:13] markcowl commented on #2278
@erichexter This is the RDFE API for compute.  Any new APIs would be in the ARM library for compute

[2016-09-07 17:16] shuagarw commented on #2303
@rbacAsk @rashidqureshi for FYI
@briansteiner Please provide the command you are using to create role assignment. This error can be misleading. I have seen cases where this error is thrown on Powershell if its a permission issue.
Also, check the user creating RoleAssignment has write permissions on Microsoft.Authorization (i.e. either the user is a classicAdmin or has roleAssignment to some role w

[2016-09-07 17:39] erichexter commented on #2278
Im sorry i don't know what this is: RDFE  ?

[2016-09-07 17:42] briansteiner commented on #2303
Here is the method I use to make the call:

`public void CreateResourceRoleAssignment(string subscriptionId, string resource, string role, string principalId, string Transaction)
        {
            Log(MethodBase.GetCurrentMethod(), "Creating the role assignment...", Transaction);

            var credential = GetAzureManagementCredential();

            var handler = new HttpClientHandler()

[2016-09-07 17:46] briansteiner commented on #2303
The call is being made against an Azure subscription with a client that has owner level permissions at the subscription level.

[2016-09-07 17:51] shuagarw commented on #2303
The scope to which you are creating the roleAssignment looks wrong. It should be in following pattern- /subscriptions/<subId>/resourceGroups/<RGName>/providers/<RPName>/<resourceName>

For e.g.
This will assign role to the particular resource.
/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourceGroups/Shubham_TestRG/providers/Microsof.Storage/storageAccounts/shubhamstorage12345

If you wan

[2016-09-07 21:07] briansteiner commented on #2303
Thanks I seem to be getting farther now.  What value should be used for RoleAssignmentName in the Create method?  The method is now asking for a role definition ID in the form of a GUID.  How is that obtained say for the Owner role?

[2016-09-07 21:16] shuagarw commented on #2303
If it is asking for a Role *Assignment* Id , then it will be a new guid, as you are creating a new role assignment. When it asks for a Role Id, then it will the Guid of the role, which you can get by fetching the role by name.

Please refer to the code used by powershell cmdlets. The api contract might be a bit different as the version used is different but the data passed should be in the same fo

[2016-09-08 17:35] solvingJ commented on #2265
Bump?

[2016-09-08 17:45] solvingj opened #2329 "Insights - Web App - /metricDefinitions and /metrics don't match"
For azure web apps /metricDefinitions endpoint output is incomplete.  It only return the following 15 metrics, while the /metrics endpoint returns 23.  This problem does not appear to affect other resource types.

Note: This is a problem with the API and not the SDK.

Metric Definitions
    CpuTime
    Requests
    BytesReceived
    BytesSent
    Http2xx
    Http3xx
    Http401
    Http403
    Htt

[2016-09-08 18:27] solvingj opened #2330 "Insights - /metrics endpoint - timeGrain - inconsistently required parameter"
When querying the /metrics endpoint for a database (and some other resource types), timeGrain is not a required parameter.

When querying the /metrics endpoint of a web app, if one omits "timeGrain" in the query, Azure returns the following:

It would be preferable for many use cases if the timeGrain parameter was made optional across the board.  This would reduce the number of API calls necessary

[2016-09-08 19:08] solvingJ opened #2331 "Insights - Metrics - /providers/microsoft.insights/components - Always Empty"
A listing from the  /resources API endpoint reveals one of these provider instances for each web app resource that exists.  Querying the provider for /metricDefinitions shows a nice listing of potentially valuable metrics.  However, when following it up with a /metrics query, the result is always empty.

It seems like either an old feature that's being sunset, or a new feature that's not finished

[2016-09-08 19:14] solvingJ commented on #2331
I just discovered this is from Application insights which is created for every web app, but not turned on by default.   One must go to the AppInsights instance that is created in the portal and tell it to "Start Monitoring" Then it can collect these metrics.

[2016-09-08 19:14] #2331 closed

[2016-09-08 20:52] solvingJ commented on #2330
It seems that DocumentDB suffers the same required parameter, however provides a bit more detailed error message (although it still doesn't tell you what's missing... I think the storage API queries tell you whats missing specifically):

Once I added the timegrain to the query, I got a successful result.

[2016-09-08 21:38] solvingJ opened #2333 "Insights - Web App - /metrics Behavior Different depending on Service Plan"
I just want to bring this up for possible confirmation, and posterity.  If someone can confirm that it is true, then perhaps the information could make it into the documentation for web app plans.

It appears that the if a web app is using a free subscription (F1 or D1), then the /metrics endpoint always returns an empty array of values.   I can understand if the policy is that the free plans don'

[2016-09-09 00:53] solvingJ commented on #2333
I just performed a test again. Taking a free plan and upgrading it did cause the metrics to adjust accordingly after some time (I'm not sure how long).  With another app, I had to stop and start the APP for the new metrics to appear.  There were a number of variables in previous tests, perhaps I missed one.

I'm closing ticket because the metrics do appear for apps that are upgraded.  However, hop

[2016-09-09 00:53] #2333 closed

[2016-09-09 00:58] jcurlier opened #2335 "kind attribute missing from generated Site.cs"
I am getting the SiteCollection using:
**SiteCollection sites = await webSiteClient.Sites.GetSitesAsync("MyResourceGroup");**

It seems that the Site data object is missing the _kind_ attribute.
[/MyResourceGroup/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/Site.cs](https://github.com/Azure/azure-sdk-for-net/blob/6fb0342e898a9f0e5df2c3c9aa84328881414da7/src/MyResourceGroup/WebSite/

[2016-09-09 04:17] demali commented on #2335
It would be great it if this attribute gets added as it would help filter out _Mobile Apps_ from other _Web Apps._

[2016-09-09 06:15] solvingj opened #2336 "Insights - /metrics - DocumentDb - Metric Filter Parameter Issues"
The "Consistency Level" metric only has two availabilities "PT1H" and "PT1D".  All other DocumentDB metrics have one additional availability: "PT5M".  This shouldn't be an issue, but it is.

Currently,  one must specify both a "timeGrain" and one or more "field names" (name.value eq ... ) in the $filter of an API call to get metric values.  If not for Consistency Level, I suspect this would not be

[2016-09-09 21:50] johnrsierra opened #2339 "VirtualMachineExtension with CustomScriptExtension Api 13.0.4"
**Using API 'Microsoft.Azure.Management.Compute' 13.0.4-prerelease**

When I am creating a virtual machine with custom script extensions I am getting the following error:

## **When the code is:**

In Virtual Machine the logs are:

**C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.7\RuntimeSettings\0.settings**

`{
  "runtimeSettings": [
    {
      "handlerSettings": {
        "publ

[2016-09-10 23:24] solvingj opened #2340 "Insights - /metrics - DocumentDb - One Metric Name Crashes Query"
Some change occurred last night and now a query to the DocumentDB metrics returns an error.  My tests ran successfully yesterday, but they are failing.  I've isolated it down to the following:

If the filter parameter:  "name.value eq Service Availability"  is present, the query will crash.  If I remove it, the query is successful.

Here is a filter string which crashes the request:

Here is the t

[2016-09-13 01:09] paulgmiller commented on #2231
This seems to be related to targeting the portable class libraries (PCL).
For example in ilspy they’ll have
[assembly: TargetFramework(".NETPortable,Version=v4.0,Profile=Profile102", FrameworkDisplayName = ".NET Portable Subset")]
Rather than something like : TargetFramework(".NETFramework,Version=v4.0

Thus you get these references.
// mscorlib, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7c

[2016-09-13 15:39] shahabhijeet opened #2344 "Datalake Uploader Tests are failing on CI server"
PR - https://github.com/Azure/azure-sdk-for-net/pull/2342
PR - https://github.com/Azure/azure-sdk-for-net/pull/2328

Please fix these failing tests as it is impacting integration.

[2016-09-13 17:16] begoldsm commented on #2344
@shahabhijeet I am disabling the failing tests now.

[2016-09-13 18:01] begoldsm commented on #2344
@shahabhijeet I will make the full fix as soon as time permits (probably next week). In the meantime, please do what is in PR #2328 and skip the offending tests.

[2016-09-14 00:13] #1981 closed

[2016-09-14 01:15] StephenCleary opened #2346 "Azure search fails when using empty string for replacement value of PatternReplaceCharFilter"
Creating an index fails when using `PatternReplaceCharFilter` with `Replacement = ""` with error:

    Microsoft.Rest.Azure.CloudException: The request is invalid. Details: index.charFilters[1].replacement : The replacement field is required.

This can be duplicated by attempting to create the following index definition:

    new Index()
    {
        Name = "bob",
        Fields = new[]
        {

[2016-09-14 03:34] solvingj opened #2347 "Providers / SKUS API - Which resources provide costs, capacity, and capabilities fields?"
This is the documentation:   https://msdn.microsoft.com/en-us/library/azure/mt748085.aspx

Says: "Currently, the sku operation is not supported by all resource providers."
And:  "Many of the values are optional and may not be in your response."

I've tested four core resource types on 5 of the latest API versions, none of them provide anything other than the 6 fields in the Microsoft.Compute examp

[2016-09-14 17:26] akromm commented on #2174
@shaulbehr I just noticed this!  I need to update my email filters.

The [Microsoft.WindowsAzure.Management.Sql library ](https://www.nuget.org/packages/Microsoft.WindowsAzure.Management.Sql/) contains the older set of APIs.  The [Microsoft.Azure.Managment.Sql library](https://www.nuget.org/packages/Microsoft.Azure.Management.Sql/) contains the new APIs.  You need to use the newer API to get acces

[2016-09-14 17:26] #2174 closed

[2016-09-14 17:29] akromm commented on #1791
The library has been updated to include the RestorePointInTime property: https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Sql/SqlManagement/Generated/Models/DatabaseCreateOrUpdateProperties.cs

[2016-09-14 17:29] #1791 closed

[2016-09-14 17:33] akromm commented on #1172
Issue with loading/using certificates, not with SQL.

[2016-09-14 17:33] akromm commented on #1225
Issue with loading/using certificates not with SQL.

[2016-09-14 17:40] akromm commented on #1172
The [ImportRequestParameters](https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Sql/SqlManagement/Generated/Models/ImportRequestParameters.cs)now has the serviceObjectiveName parameter.

[2016-09-14 17:40] #1172 closed

[2016-09-16 04:07] jraadt opened #2360 "Convert Batch lib to .NET Core"
Are there plans to convert Batch lib (nuget: Azure.Batch) to .NET Core?  Many libs have a dependency now for .NETStandard, but Batch is only .NETFramework 4.5.

[2016-09-16 11:10] jmthornton opened #2362 "Method Not Found Exception When Using File Staging"
Using Azure.Batch 5.1.1 and WindowsAzure.Storage 7.2.0

The following exception occurs when staging a file:
e.g.
FileToStage ff = new FileToStage("test.txt", stagingStorageAccount);
...
task.FilesToStage = new List<IFileStagingProvider>() { ff };
client.JobOperations.AddTask("job", task);

Method not found: 'System.Threading.Tasks.Task Microsoft.WindowsAzure.Storage.Blob.ICloudBlob.UploadFromFileA

[2016-09-16 14:39] DixonDs opened #2363 "Wrong System.Runtime version is published for .NET 4.6.2"
I have System.Runtime 4.1.0 Nuget package used in the Web and Worker role projects targeting .Net 4.6.2. When I package it for publishing or publish it, the target package contains System.Runtime version from .Net installation instead of Nuget package which causes exception "Could not load file or assembly 'System.Runtime, Version=4.1.0.0" in the cloud VM.

[2016-09-17 10:13] xied75 commented on #1413
Hi, Team,

I can see that we now support .net standard 1.5, which is exactly one level up from supporting UWP according to the matrix here:
https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md

Is there any specific reason for doing this? Or is that we are going to have a new UWP version coming soon?

[2016-09-17 15:31] devigned commented on #1413
@xied75 many of the projects support .net standard 1.1 and 1.5. This is no indication of any future product release or change.

[2016-09-18 16:16] SankarGopalan opened #2366 "CheckNameAvailability on Microsoft.Web/Sites errors with {"The resource type could not be found in the namespace 'Microsoft.Web' for api version '2015-08-01'."}"
Hi All,

Package id="Microsoft.Azure.Management.Websites" version="1.3.2-preview"

The following code always fails with "{"The resource type could not be found in the namespace 'Microsoft.Web' for api version '2015-08-01'."}" on CheckNameAvailabilityAsync call.

var cred = new TokenCredentials(token);
var client = new Microsoft.Azure.Management.WebSites.WebSiteManagementClient(new Uri("https://man

[2016-09-18 16:35] abatishchev commented on #792
Any update on this, please?

[2016-09-18 18:10] cwe1ss opened #2367 "Target lower netstandard version in Key Vault preview library"
Hi, I've seen that there is now a preview package of Azure Key Vault on nuget.org - that's great news! However IMO targeting netstandard1.5 is pretty high.

It would be great if you could go down to at least netstandard1.3 to also support Universal Windows Platform and to make it easier for other libraries to depend on this library.

Also, I think you should upgrade to Newtonsoft.Json 9.0.1 - this

[2016-09-19 05:34] mmcc1 commented on #2043
I'll give that a shot and see how I get on.  I don't feel that my code is making 100 requests, but rather it is something to do with how Azure handles it.  I'll dig a little deeper on this and let you know.

[2016-09-19 11:43] xied75 commented on #1413
Hi @devigned

That's not what I mean. On the home page https://github.com/Azure/azure-sdk-for-net, you have words saying

So I thought everything here are now supporting netstandard 1.5, which is 0.1 bigger than what is needed for UWP, given the support for netstandard is new, I was wondering why you deliberately chosen 1.5 other than 1.4, and I thought you must have a good reason to do so, theref

[2016-09-19 16:40] singhkays commented on #792
@abatishchev Please file a support ticket for resolution on this. This repo is not manned by folks implementing the cscfg schema.

[2016-09-19 16:40] #792 closed

[2016-09-19 16:42] abatishchev commented on #792
@singhkays hi Kay, is there a repo where this issue can be discussed, and maybe addressed?

[2016-09-19 17:03] singhkays commented on #792
@abatishchev Don't think the PaaS SDK is open sourced so there currently isn't a repo. Other than support, uservoice is probable a better venue for this feedback so that folks can vote on it and it gives the team a prioritization signal. https://feedback.azure.com/forums/169386-cloud-services-web-and-worker-role

[2016-09-19 18:21] herveyw commented on #2367
@cwe1ss We are targeting the same version of NetStandard as the rest of the SDK and currently have no plans to support a lower version. We do also build for .NET 4.5.x as well.

[2016-09-20 16:40] hershize opened #2371 "Scheduler v2.1.1 - CloudException: 'Authorization' header is missing"
I am creating a connection to the Azure Scheduler using Microsoft.Azure.Management.Scheduler v2.1.1 SDK. With Microsoft.WindowsAzure.Management.Scheduler I was able to authenticate just fine using the subscription ID and management certificate. However, with this new SDK, I'm not able to. I keep getting CloudException of "'Authorization' header is missing". Not sure where to go from here since the

[2016-09-20 21:00] cwe1ss commented on #2367
Ok, thx for the info!

[2016-09-20 21:00] #2367 closed

[2016-09-21 23:48] begoldsm opened #2378 "Test Recording: TenantId=<tenantId> is not recognized in the environment variable string"
The AADTenant key/value pair does not properly parse a string that uses TenantId=<tenantId>. In order for me to get it to work I needed to be explicit in the format:
AADTenant=<tenantId>.

We should allow the user to put in the key name that we use everywhere else, which is TenantId.

[2016-09-22 01:00] centur opened #2380 "Azure SDK 2.9.5 Release notes"
Hi,
There is Azure SDK 2.9.5 in the pipeline for about a month (VS update says it's available since 30 Aug).
Is there any place where we can read what's changes are in  - Release notes are missing from Github, ms pages and can't be found with Google.

Upd: Also see discussion in comments here - seems that there is some issues with installer
https://azure.microsoft.com/en-us/documentation/articles/

[2016-09-23 02:15] #1642 closed

[2016-09-26 23:20] begoldsm commented on #2043
@mmcc1 were you able to dig deeper in this and discover if that resolved the issue?

[2016-09-27 07:25] mmcc1 commented on #2043
Unfortunately not, this is part of a migration strategy that has been placed on hold for now.  But it looks about right.  I will come back to this in due course and it is still an issue, we can address it then.

[2016-09-29 16:58] matthchr opened #2403 "IHttpOperationResponse should inherit from IDisposable"
The interface defines two properties of types `HttpRequestMessage` and `HttpResponseMessage` (which are both `IDisposable`, but it doesn't define a way to dispose of them. The class `HttpOperationResponse` does.

We should move the `IDisposable` bit up to the interface so that those using the interface have access to the full set of functionality required to correctly manage the life cycle of one

[2016-09-29 16:58] matthchr commented on #2403
@fearthecowboy @markcowl -- Moved this here from the AutoRest repo, since the C# client runtime is apparently moving to here.

[2016-09-30 07:39] tanmayshete opened #2410 "Members in PublicIPAddress of NetworkInterfaceIPConfiguration are 'null'"
I'm trying to fetch PublicIPAddress of an Azure Network Interface. But, all the members are shown as 'null' except 'id' in the object of NetworkInterfaceIPConfiguration.

I'm interested in member PublicIPAddress.IpAddress.

Note that the Azure Portal shows Public IP address of the same network interface. Hence, public IP address is assigned to this interface.

Package Details:
Microsoft.Azure.Mana

[2016-09-30 18:49] tynorton opened #2414 "Where is Microsoft.Azure.Management.Sql code hosted?"
This NuGet (https://www.nuget.org/packages/Microsoft.Azure.Management.Sql) doesn't seem to be hosted here, unless I'm missing something?

I found an issue with `SqlManagementClient.Databases.CreateOrUpdate` as it pertains to database name casing, and I'd like to submit a pull request to fix it.

[2016-09-30 18:55] tynorton commented on #2414
Nevermind, I guess it just didn't exist in the `AutoRest` branch. Found it on `master`.

[2016-09-30 18:55] #2414 closed

[2016-10-03 15:24] #2371 closed

[2016-10-03 21:08] paulgmiller commented on #2231
So there are versions the management sdk's that do not target portable. However there is no version of hyak that doesn't. Nor does it appear there ever will be since more recent versions have moved onto autorest. If you need to use manangement packages that still use hyak you have to bundle up the portable dll's along with your app. This is hard since there is no nuget for the portable libraries.

[2016-10-03 21:08] #2231 closed

[2016-10-04 11:33] idg10 opened #2427 "Search SDK: add reflection-based index definition"
This is a feature request. Currently, the Azure Search SDK effectively requires you to define your schema twice, and to ensure that those definitions are in sync. When creating an index, you need to construct an `Index` object and populate it with a collection of `Field` objects describing the name and type of each field. Additionally you supply a type representing the index entries when adding or

[2016-10-04 20:09] cormacpayne commented on #2410
@DeepakRajendranMsft Hey Deepak, would you mind taking a look at this issue?

[2016-10-04 20:09] brjohnstmsft commented on #2346
@StephenCleary This is a bug in the REST API. We're working on a fix now. ETA for the fix to be deployed is a few weeks. We'll follow up once the fix is deployed and leave this issue open in the meantime.

[2016-10-04 20:18] cormacpayne commented on #2366
@Nking92 Hey Nicholas, would you mind taking a look at this issue?

[2016-10-04 20:37] cormacpayne commented on #2360
@matthchr Hey Matt, would you mind looking at this issue?

[2016-10-04 21:51] Nking92 commented on #2366
Thanks for pinging me. We're looking into it.

[2016-10-05 18:38] naveedaz commented on #2366
@cormacpayne This should now be fixed. Please try again and let us know if you still run into issues.

[2016-10-05 19:36] darylmsft commented on #2360
We do plan to convert the .net assembly to .NET Core.  We do not yet have a date certain for this conversion, however.  We are actively tracking our blocking issues and when they are resolved we will proceed with the conversion.

[2016-10-05 20:25] SankarGopalan commented on #2366
Verified - its working now.

Thanks,
Sankaranarayanan MG

Date: Wed, 5 Oct 2016 11:38:39 -0700
From: notifications@github.com
To: azure-sdk-for-net@noreply.github.com
CC: sankar.gopalan@live.com; author@noreply.github.com
Subject: Re: [Azure/azure-sdk-for-net] CheckNameAvailability on Microsoft.Web/Sites errors with {"The resource type could not be found in the namespace 'Microsoft.Web' for api ve

[2016-10-05 20:44] markcowl commented on #2255
Fixed

[2016-10-05 20:44] #2255 closed

[2016-10-05 20:46] markcowl commented on #1413
@aaronroney We need a PM assessment of how important UWP10 is and what we need to do to support it beyong having a netstandard 1.1 library

[2016-10-05 20:47] markcowl commented on #2280
This is fixed in the AutoRest branch, just need to update the test library

[2016-10-05 21:14] brjohnstmsft opened #2434 "Search SDK: Deserializing response fails if it contains an ISO DateTime in a JSON array"
(This issue was originally reported via [User Voice](https://feedback.azure.com/forums/263029-azure-search/suggestions/16488787-confusing-error-message-in-azure-net-sdk-object); Copying it here since it's a bug report, not a feature request.)

Confusing error message in azure .net SDK (Object must implement `IConvertible`)

When we search with the page size 1000+ and the response content length ex

[2016-10-05 21:16] brjohnstmsft commented on #2434
Some questions for the person who reported this bug:

  - How do you know that the response is larger than 16 MB? How are you measuring this?
  - What HTTP status code is returned with the "Object must implement IConvertible"? Is it 400?

[2016-10-05 21:40] cbaski commented on #2434
Thank you for your response. It's not 400 , it's  a 200 response. We used fiddler and get all the raw data and saved the content to a file.  It seems like this is not 16MB limitation issue. it seems like serialization issue... here is the inner exception details . Please let us know if you need more information from us.

   at System.Convert.ChangeType(Object value, Type conversionType, IFormatPro

[2016-10-05 21:42] aaronroney commented on #1413
Will do, though I could run some tests to see how well generating a 1.4 netstandard library would work.

[2016-10-05 21:45] cormacpayne commented on #2100
@markcowl it looks like the only docs remaining for `CloudConfigurationManager` are the following:

https://msdn.microsoft.com/en-us/library/azure/mt634650.aspx

https://msdn.microsoft.com/en-us/library/azure/mt634649.aspx

[2016-10-05 21:49] cbaski commented on #2434
When we set the page size to 1000 and retrieve all the retrievable fields we get this exception. On the other hand if we reduce the number of fields return to 3 or 4 basic fields ,we get a perfect response with no exception.

[2016-10-06 01:58] brjohnstmsft commented on #2434
Thanks for the details. We'll investigate.

[2016-10-06 05:09] tokiwoousaka opened #2438 "How to edit Azure WebRole Diagnostics in VS2013 with GUI"
When I create Azure WebRole Project with VS2013(Microsoft Azure Tools 2.9), then I can not edit azure diagnostics setting in WebRole Project Property.

![screenshot](https://cloud.githubusercontent.com/assets/2379085/19141181/fc55a7f6-8bcd-11e6-97ac-f951a2394cb7.png)

Showing `To edit the diagnostics configuration for the role, fix the schema validation errors for the diagnostic configuration file

[2016-10-06 21:59] brjohnstmsft commented on #2434
@cbaski I have a few follow-up questions.

What is the smallest response payload size for which you can reproduce this issue?

Would you be able to share the Fiddler trace for such a repro? You can email it to me (bruce dot johnston at the usual domain).

Thanks!

[2016-10-07 09:01] mbauerdev commented on #2321
Any news on that?

[2016-10-07 20:25] cbaski commented on #2434
Fiddler response content is emailed to your usual domain email. Please let me know , if you need anything else from me.

[2016-10-08 01:35] hovsepm opened #2452 "ClientRuntime Serialization extensions swallow JsonException and developers are unable to understand what is wrong with the payload"
TransformationJsonConverter.cs#L103
PolymorphicDeserializeJsonConverter#L71

[2016-10-10 13:24] MichaelCommo opened #2454 "CloudConfigurationManager ALLOWS application to fall back to local appSettings"
We'd like to optionally block this functionality entirely.  Instead of falling back to local configuration, I'd like to create an overload of GetSetting() that throws if the setting is not found in cloud configuration.  (Currently, all it does is tracewrite the fact that it "fell back" on app.config/web.config configuration.)

However, I cannot find the source to create a pull request. Can somebod

[2016-10-10 17:13] hovsepm commented on #2454
@MichaelCommo it is in the master branch. here is the link - https://github.com/Azure/azure-sdk-for-net/tree/master/src/Common/Configuration

[2016-10-10 17:20] MichaelCommo commented on #2454
@hovsepm: Thanks for the link!  Any tips you can give me W.R.T. pulling/committing changes and getting a new package version published?  This'll be the first time I've contributed to a MS project.

[2016-10-10 17:44] ravbhatnagar commented on #1777
This should be fixed.

[2016-10-10 17:44] #1777 closed

[2016-10-10 17:45] ravbhatnagar commented on #1059
Please let us know if this is still an issue. This should already be fixed.

[2016-10-10 17:45] #1059 closed

[2016-10-10 17:46] ravbhatnagar commented on #1159
Please let us know if this is still an issue.

[2016-10-10 17:46] #1159 closed

[2016-10-10 17:46] ravbhatnagar commented on #1223
Should already be addressed. PLease let us know if this still is an issue.

[2016-10-10 17:46] #1223 closed

[2016-10-10 17:47] ravbhatnagar commented on #1616
Please let us know if this is still an issue.

[2016-10-10 17:47] #1616 closed

[2016-10-10 17:58] blumu commented on #1777
@ravbhatnagar In which version of the Nuget is this fixed?

[2016-10-11 00:14] #1944 closed

[2016-10-11 06:08] TianoMS commented on #1777
@blumu you can get the fix with version>=1.1.5-preview.

With the fix, you don't need to parse the Template and Parameters to JObject now. You can just pass in them as string, and it should just work. Like this:

                var deployment = new Deployment
                {
                    Properties = new DeploymentProperties()
                    {
                        Template = File

[2016-10-11 07:52] blumu commented on #1777
@TianoMS I'm guessing you are referring to nuget [Microsoft.Azure.Management.ResourceManager](https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager/) which I am guessing is now replacing  [Microsoft.Azure.Management.Resources](https://www.nuget.org/packages/Microsoft.Azure.Management.Resources/)? I actually tried the latest version of this package (1.3.1) and got a weird error:

[2016-10-11 17:47] MichaelCommo commented on #2454
@hovsepm: I have the changes ready to commit; however, I do not have permission to contribute to the master branch.  Is there another branch I should be committing to?  Otherwise, how would I go about contributing?  Thanks in advance!

[code]

[2016-10-11 18:07] TianoMS commented on #1777
@blumu Yes, Microsoft.Azure.Management.ResourceManager is the right one. As for the error, it looks like your template/parameters file doesn't have the right format. Check this repo for examples: https://github.com/Azure/azure-quickstart-templates.

[2016-10-11 22:49] blumu commented on #1777
@TianoMS  The template parameter files on azure-quickstart have a different format from the one documented by the Azure REST API on MSDN. In particular they contain the extra `$schema` headers and have the parameters listed under a `parameters` subnode:
[code]
This format does not seem right either given that the Azure frontend attempts to deserialize the input to a `Dictionary<string,DeploymentPa

[2016-10-12 01:02] brjohnstmsft commented on #2434
The fix is now available in the [latest preview SDK on NuGet](https://www.nuget.org/packages/Microsoft.Azure.Search/2.0.5-preview). I'm still working on backporting it to the GA SDK.

[2016-10-12 14:48] MichaelCommo commented on #2454
@hovsepm: I'm following the guidelines here: https://azure.github.io/guidelines/
I'll submit a pull request against my fork once I've checked everything off the list. Thanks!

[2016-10-12 17:39] MichaelCommo commented on #2454
Pull request created. Thank you!
https://github.com/Azure/azure-sdk-for-net/pull/2459

[2016-10-12 18:56] kasunkv opened #2460 "Unable to cast COM object of type 'System.__ComObject' to interface type 'EnvDTE.Project'"
am in the process of creating Azure Resource Manager deployment templates for my project using the Azure Resource Group Project in Visual Studio 2015 project templates. I successfully managed to create the projects before. But today, I updated the Azure SDK to v2.9.5 and suddenly the project creation failed. It failed with the following error message.

This exception happens when i select starting

[2016-10-12 22:23] pomortaz commented on #2300
@markcowl any update?

[2016-10-12 22:45] naveedaz commented on #2366
Thanks I will close the issue now.

[2016-10-12 22:45] #2366 closed

[2016-10-12 22:59] brjohnstmsft commented on #2434
The fix is now available in the [latest stable SDK on NuGet](https://www.nuget.org/packages/Microsoft.Azure.Search/1.1.3). Closing this issue.

[2016-10-12 22:59] #2434 closed

[2016-10-13 07:07] gorillapower opened #2463 "Complex Schedule not executing correctly"
I Have a job that i want to run every hour. Using the C# Scheduler SDK I created a schedule that looks like the following

[code]

According the documentation this schedule should run every hour on the hour ([see {minutes:[0]}](https://azure.microsoft.com/en-us/documentation/articles/scheduler-advanced-complexity/#examples-recurrence-schedules))

But in Azure, the schedule is actually only executi

[2016-10-13 09:59] sickboy commented on #2136
There is hope? https://github.com/Azure/azure-sdk-for-net/commit/4cf74b3ebafc0ebea9d220d63fe7535326614854

[2016-10-13 23:43] hovsepm opened #2465 "Test framework now requires AADTenant to be set through env. variables for User Authentication"
This is a regression. Previous versions did require AADTenant only for SPN login.

[2016-10-14 15:24] collinsauve commented on #1602
I've been watching Bcl infect our solution for the past 6 months.  Finally get fed up with it and traced the infection back to Microsoft.Azure.Common.

Please remove this silliness.

[2016-10-14 20:58] hovsepm commented on #2454
@MichaelCommo you should be able to pull the new version. Thanks for contribution!

[2016-10-17 18:45] markcowl commented on #2330
@asheniam can you take a look at this API request?

[2016-10-17 18:46] markcowl commented on #2335
@naveedaz Can you take a look?

[2016-10-17 18:47] markcowl commented on #2336
@asheniam can you take  alook?

[2016-10-17 18:48] markcowl commented on #2339
@sighkays can you take a look

[2016-10-17 18:49] markcowl commented on #2340
@asheniam can you take a look?

[2016-10-17 18:52] markcowl commented on #2347
@ravbhatnagar Can you take a look at this API query?

[2016-10-17 19:07] markcowl commented on #2362
@matthchr Can you take a look? Please feel free to assign this elsewhere on the Batch team.

[2016-10-17 19:08] markcowl commented on #2363
@DixonDs This repository is for the azure management libraries, and not the SDK that contains System.Runtime.  Please send this question through the Azure forums for a response.

[2016-10-17 19:08] #2363 closed

[2016-10-17 19:08] markcowl commented on #2380
@centur This repository is for the azure management libraries, and not the Azure SDK webpi feed.  Please submit this report to the Azure forum.

[2016-10-17 19:08] #2380 closed

[2016-10-17 19:09] markcowl commented on #2460
@kasunkv This repository is for the azure management libraries.  Please raise this question through the Azure forum or other Azure support channels.

[2016-10-17 19:09] #2460 closed

[2016-10-17 19:13] markcowl commented on #2463
@aaronroney Please identify an appropriate assigneee for this issue

[2016-10-17 19:50] matthchr commented on #2362
@jmthornton Sorry it took so long to get to this issue. Yes -- the `UploadFromFileAsync` method has changed between 6.* and 7.* versions of the Azure Storage library.

I see a few options:

1. Move back to use Azure Storage 6.* (to match the Batch dll).
2. Stop using the FilesToStage feature and manage the storage files yourself (using the Azure Storage 7.* dll). You can see how we do this in some

[2016-10-17 20:03] aaronroney commented on #2463
Adding @kithrik for visibility.

[2016-10-17 20:44] singhkays commented on #2339
@hyonholee can you take a look at this?

[2016-10-17 22:17] markcowl commented on #2280
Closing as fixed

[2016-10-17 22:17] #2280 closed

[2016-10-17 22:20] markcowl commented on #2046
@brjohnstmsft The design is loosely coupled and opt-in, so clients need not include the extension required for discovery.  See: https://github.com/Azure/azure-sdk-for-net/pull/2472 for the latest design

[2016-10-17 22:21] markcowl commented on #2164
Complete, see https://github.com/Azure/azure-sdk-for-net/pull/2472

[2016-10-17 22:21] #2164 closed

[2016-10-17 22:40] hovsepm commented on #2452
fixed in PR: https://github.com/Azure/azure-sdk-for-net/pull/2475

[2016-10-17 22:55] #2254 closed

[2016-10-18 01:32] markcowl commented on #2253
Used tag: Profile-2015-05-01

Tagged the following packages:
https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/2.0.1-preview
https://www.nuget.org/packages/Microsoft.Azure.Management.Automation/2.0.0
https://www.nuget.org/packages/Microsoft.Azure.Management.BackupServices/1.0.5-preview (latest)
https://www.nuget.org/packages/Microsoft.Azure.Management.Batch/1.5.0
https://www.

[2016-10-18 01:32] #2253 closed

[2016-10-18 20:59] #2452 closed

[2016-10-18 22:25] blumu commented on #1777
OK, so that was it. The new Nuget (named `Microsoft.Azure.Management.ResourceManager`) introduces a breaking change: you now need to specify the entire template parameter file content including the `$schema` and `contentVersion` field, as opposed to just the `"paramters" : { }` node like in previous version of the nuget (`Microsoft.Azure.Management.Resources`).

[2016-10-19 06:51] jeffsaremi commented on #2194
Do we have this now? Because I just got this error myself.

[2016-10-19 16:23] blumu opened #2479 "Breaking change in AzureAsyncOperation and GetLongRunningOperationResultAsync"
How do you check for status of long running operation in the latest Azure Management NuGets based on `Microsoft.Rest.ClientRuntime.Azure 3.3.1`, such as when deleting a VM?
* The static method extension `GetLongRunningOperationResultAsync` (replacing [`GetLongRunningOperationStatusAsync`](https://msdn.microsoft.com/en-us/library/azure/microsoft.azure.management.resources.iresourcemanagementclient.

[2016-10-20 07:00] JanEggers opened #2483 "[Microsoft.Rest.ClientRuntime] argument null exception for each request"
hi

i generated a api client with autorest. In the visual studio diagnostic tools i get an argument null exception for each request i send. the exception is catched somewhere internally but i dont know why it is thrown.

here is the stack:

Exception Exception caught: 'System.ArgumentNullException' in System.Net.Http.dll ("SafeHandle cannot be null.") System.ArgumentNullException
System.Net.Http.d

[2016-10-20 18:13] markcowl opened #2485 "Implement manual polling mechanism in the runtime for ARM long-running operations"
### Description

Refactor the runtime to allow manual polling using our state machine.  The Polling state should be easily serializable, and polls should be asynchronous and non-blocking.  This allows for polling in workflow scenarios where the state may need to be serialized and re-hydrated.

Optionally refactor generated code to use the manual polling mechanism.
### Cost: 8

[2016-10-21 06:44] JanEggers opened #2487 "[Microsoft.Rest.ClientRuntime] requests are malformed after another request times out"
hi

first i thought this was an error with kestrel so i created an issue there:

https://github.com/aspnet/KestrelHttpServer/issues/1174

after one request times out the next request "get" is malformed

![](https://cloud.githubusercontent.com/assets/6747376/19588950/65095314-9769-11e6-800d-1cd5b32f5368.png)

[2016-10-21 07:51] JanEggers commented on #2487
update: i added proxy settings to the client and now was able to capture a session with fiddler
there are several errors in it:

1. chunked encoding sometimes has fancy values (fiddler lines yellow)
2. looks like parts of the response go in the request stream

really confusing stuff please help

[brokenrequests.zip](https://github.com/Azure/azure-sdk-for-net/files/543777/brokenrequests.zip)

[2016-10-21 12:20] JanEggers commented on #2487
yet another update: i guess its a parallel processing issue

i have code like:

await Task.Whenall( parents.Select( async p =>
{
        p.childs = await m_api.GetChildForParentAsync(p.Id);
} ) );

and in the parent list there are currently 900 entries

[2016-10-24 13:48] MichaelCommo commented on #2454
@hovsepm: I'm getting the error below when trying to use the new features.  Looks like an issue retrieving the error message text from the embedded resource Resources.resx.  I'm looking into it now.

`[MissingManifestResourceException: Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "Microsoft.WindowsAzure.Resources.resources" was correctly emb

[2016-10-24 17:13] hovsepm commented on #2485
Please consider a fix for this one as well https://github.com/Azure/azure-sdk-for-net/issues/2479

[2016-10-24 17:43] MichaelCommo commented on #2454
@hovsepm: Was a namespacing issue in the resources designer file.  Bug predates my last pull-request.  I have a new pull request that resolves this issue, as well as new unit tests added to ensure this doesn't happen again.

Pull Request: https://github.com/Azure/azure-sdk-for-net/pull/2495

[2016-10-24 19:20] markcowl commented on #2479
@blumu You are comparing apples to oranges.  The ARM based API has asynchronous creation methods that do polling for you.  operationStatusLink is an artifact of the RDFE API.

To do manuyal polling with the current library, you would:

(1) Call Begin*WithHttpMessageAsync
(2) Use the response proeprty to get the AzureAsyncOperation header value
(3) Poll on the resulting Uri until you reach a termin

[2016-10-24 19:20] #2479 closed

[2016-10-24 19:23] markcowl commented on #2483
@JanEggers Can you include the swagger spec you generated from, the code that you are calling,  and the request/response that are failing on the wire?

[2016-10-24 19:29] markcowl commented on #2487
@JanEggers Can you include the generated code for the method?  There shouldn't be any asynchronous issue with the code itself.

[2016-10-24 19:30] JanEggers commented on #2483
there is nothing failing, its all working. But i still see exceptions in diagnostic tools. i will post the swagger tomorrow when im back at work

[2016-10-24 19:30] markcowl commented on #2438
@tokiwoousaka This repo is just for azure management sdk, please ask this question in the VS or Azure support forums

[2016-10-24 19:30] #2438 closed

[2016-10-24 19:49] blumu commented on #2479
@markcowl I'm comparing two versions of the **same** SDK. For Microsoft.Azure.Management.Compute, for instance, that's 9.1.0 versus 13.0. How is that "comparing apples to oranges"?

[2016-10-25 07:02] JanEggers commented on #2483
i was able to nail it a bit further:

it just happens with netcoreapp1.0 framework, if i choose framework net452 the exception is gone.

System.Private.CoreLib.ni.dll!System.StubHelpers.StubHelpers.SafeHandleAddRef(pHandle, success)	Unknown
 	System.Net.Http.dll!System.Net.Http.WinHttpHandler.StartRequest(obj)	Unknown
 	System.Private.CoreLib.ni.dll!System.Threading.ExecutionContext.Run(executionC

[2016-10-25 07:13] JanEggers commented on #2487
[Generated.zip](https://github.com/Azure/azure-sdk-for-net/files/549846/Generated.zip)

GetCounterDefinitionOfMachineTypeAsync of the extenssion file is what im using.

i call it for every minute for every machinetype i get.

it must be related to many parallel requests, because when i reduced the number of machine type objects to 30 there are no issues anymore.  if i recreate more than 800 machin

[2016-10-25 07:52] naeemsarfraz commented on #2460
@kasunkv did you find a solution to this? I'm facing the same issue.

There's not an obvious Azure forum to post this in.

[2016-10-25 07:56] kasunkv commented on #2460
@naeemsarfraz Actually no. the issue still exists. What i did was manually create the missing project files and continued from there. For me project was partially created and template and parameter json files were missing while Powershell deployment script was created.

[2016-10-25 10:30] kasunkv commented on #2460
@naeemsarfraz  Also, got a reply to my stackoverflow question here. Seems like they know about the issue and they are working on a fix. Good news.. :)
[](http://stackoverflow.com/questions/40006255/unable-to-cast-com-object-of-type-system-comobject-to-interface-type-envdte/40226793#40226793)

[2016-10-25 10:45] naeemsarfraz commented on #2460
@kasunkv fanstatic, thanks!

[2016-10-25 16:52] markcowl commented on #2483
@JanEggers Which version of AutoRest and ClientRuntime are you using?

[2016-10-25 16:55] markcowl commented on #2487
@JanEggers is this .net 4.5.2, .netcore, or both?

[2016-10-25 16:56] markcowl commented on #2465
Note that the path here was narrow - it would always choose the default tenant.

[2016-10-25 19:10] JanEggers commented on #2487
both

[2016-10-26 00:38] Nking92 opened #2501 "[Microsoft.Rest.ClientRuntime] Exception thrown when deserializing JSON with null values"
While re-recording tests for the Websites SDK, exceptions are being thrown when deserializing JSON in responses from the server. I poked around the ClientRuntime code a bit and issue seems to be happening in TransformationJsonConverter at this line:

https://github.com/Azure/azure-sdk-for-net/blob/87cc2693e61b95f3345c663caf98ddec94418afd/src/ClientRuntime/Microsoft.Rest.ClientRuntime/Serialization

[2016-10-26 06:11] JanEggers commented on #2483
Autorest 0.16 installed via chocolatey
ClientRuntime 2.3.2

[2016-10-26 13:08] aaron-comyn opened #2504 "Microsoft.Hadoop.Avro.Tools code generation not converting Avro doc strings to XML comments"
Avro schemas can be documented with "doc" fields in their schema definitions.

The Apache.Avro code generator uses these "doc" fields as the XML comments on generated properties, but they are ignored by the Microsoft.Hadoop.Avro.Utils.CodeGenerator.

Example:

[code]

Current output:

[code]

Expected output:

[code]

[2016-10-27 16:55] markcowl opened #2508 "Update DataLake tests to select location based on provider location"
### Description

Update the tests to move away from hard-coded location values and get the location from querying for provider locations.

[2016-10-27 18:08] #2454 closed

[2016-10-27 18:15] MichaelCommo commented on #2454
Feature is available as part of ConfigurationManager v3.2.3

[2016-10-27 18:38] borysl commented on #1704
I have created the group, but it looks even if you have a group, but doesn't have a service app and service plan VS2015 Update 3 (I use community edition) still hangs

[2016-10-28 07:07] herveyw commented on #2300
@markcowl @pomortaz We could do with a fix here, our last publish job published our private test framework to the public NuGet servers...

[2016-10-29 00:23] brjohnstmsft commented on #2346
@StephenCleary The fix has been deployed. Closing this issue.

[2016-10-29 00:23] #2346 closed

[2016-11-01 01:03] ahmettaha opened #2516 "AmbiguousMatchException at SearchServiceClient"
On the latest search preview, I'm trying to create a new SearchServiceClient like below

`new SearchServiceClient(searchServiceName, new SearchCredentials(apiKey));`

then I get the following error. However, this is only on the server. What is the problem?

[code]

[2016-11-01 01:21] brjohnstmsft commented on #2516
@ahmettaha This looks like an issue with the Microsoft.Rest.ClientRuntime library. Are you able to reproduce the problem with any other Azure SDKs that take a dependency on the same version of Microsoft.Rest.ClientRuntime that the Search SDK does?

@shahabhijeet Digging through the history, I see that you're the author of `ServiceClient.FrameworkVersion`. Any idea what the problem could be?

[2016-11-01 01:23] ahmettaha commented on #2516
I dont use ClientRuntime for anything else. Also, this error does not happen on my local compute simulator. It happens on azure cloud service deploy. I'm not sure if it means anything.

[2016-11-01 01:36] ahmettaha commented on #2516
ok. BotFramework is also using it apperantly, and I got the same error when using it.

[2016-11-01 02:07] ahmettaha commented on #2516
ok. got it fixed. I downgraded Microsoft.Rest.ClientRuntime from 2.3.3 to 2.3.2.

[2016-11-01 22:23] markcowl commented on #2403
Note: HttpOperationResponse implements IDisposable, so ensure that we won't need to generate new code to support this.

[2016-11-01 22:23] markcowl commented on #2378
won't fix.  Use AADTenant

[2016-11-01 22:23] #2378 closed

[2016-11-01 22:28] markcowl opened #2519 "Add capability to set all TestEnvironment endpoints through environment variables"
### Description
AzureStack requires custom endppints, enable setting all endpoints and token audiences.

### Cost: 2

[2016-11-01 22:51] markcowl commented on #1976
Onboarding documentation in adx-documentation-pr

[2016-11-01 22:57] markcowl opened #2520 "Create Changelog / Readme per product"
### Description

Add readme and changelog for each library, test framework, and tools

### Cost: 4

[2016-11-01 23:32] bvirkler opened #2521 "ARM permissions ListForResource does not accommodate resources outside of resource groups"
When calling the REST API directly, it's possible to query the current user's permissions on a resource that is not in a resource group, like a role definition:

`GET https://management.azure.com/subscriptions/xxx/providers/Microsoft.Authorization/roleDefinitions/yyy/providers/Microsoft.Authorization/permissions?api-version=2015-07-01`

This is not possible with the generated [ListForResource ](ht

[2016-11-03 18:09] shahabhijeet opened #2525 "Project Templates should be able to build on demand"
Currently we have two templates in sdk branch that are checked in as zip files.
Have a way to build these templates during build or on demand.

[2016-11-06 20:45] JanEggers commented on #2483
i found this while googling

https://github.com/dotnet/wcf/issues/99

[2016-11-07 15:55] Epstone commented on #996
@djoelz, @chuanboz
In which library release should this fix be included? The pull request link above is broken.
I'm seeing this with version 1.5.6  from here https://www.nuget.org/packages/Microsoft.Hadoop.Avro/

[2016-11-07 23:15] chuanboz commented on #996
@Epstone, we're using version 1.5.6 and that is working for me.
if you're still seeing it repro, maybe you shall report an issue with specific repro steps.

[2016-11-10 06:36] galvesribeiro opened #2535 "Task-based APIs"
Hello!

First of all, GREAT work on the new libraries. Its about time to have a clear way to have management APIs well defined and easy to use.

Two questions:

1. I don’t see Azure SQL on that GH pages, will it be available soon?
2. Those operations usually takes time to provision resources… Can we have it return a Task so we can await it? The way it is today blocks the thread until the whole ope

[2016-11-11 13:59] couellet opened #2537 "Add a way to get replication links for a SQL Azure database"
It would be handy to be able to retrieve the replication role of a SQL Azure database with the client.

Looks like the [replication links](https://msdn.microsoft.com/en-us/library/azure/mt600929.aspx) are available through the SDK yet.

[2016-11-12 00:57] markcowl commented on #2525
Fixed

[2016-11-12 00:57] #2525 closed

[2016-11-14 21:28] peter172sp opened #2538 "misleading error message: must not be a relative path"
Regarding
https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/Batch/FileConventions/Src/AzureBatchFileConventions/StoragePath.cs#L64

`            if (Path.IsPathRooted(relativePath))
            {
                throw new ArgumentException($"{nameof(relativePath)} must not be a relative path", nameof(relativePath));
            }`

Shouldn't this say "must be a relative path"?

[2016-11-14 21:34] brjohnstmsft commented on #2427
This feature is now merged. Big thanks to @idg10 for contributing this!

[2016-11-14 21:34] #2427 closed

[2016-11-15 15:32] peter172sp opened #2539 "Microsoft.Azure.Batch.Conventions.Files 0.9.5-preview is incompatible with WindowsAzure.Storage 7.2.1"
It would be nice if the latest azure batch package was compatible with the latest azure storage package. When trying to use this combination, calling TaskOutputStorage.SaveAsync, I get this error

[code]

[2016-11-15 16:17] peter172sp commented on #2538
see PR #2540

[2016-11-15 16:17] peter172sp commented on #2539
see PR #2540

[2016-11-15 21:42] hovsepm opened #2541 "Fluent management library does not work as expected in ASP.NET projects"
We were using the following code from an ASP.NET API method (which is sync call) and the call never returns. I think somewhere in the code, it is using as async and wait. Can you please check?
[code]

The same code when invoked from a console app works. So I thought this is a sync/async mismatch in the SDK code.
Since we already had non-fluent sdk working, we did a fall back completely to non-flue

[2016-11-15 22:28] v-xiaze opened #2542 "keyvault lock can't set"
Hi,
I tried to set a lock at resource level for a keyvault. However it failed. Details shows below:
Error:
"InvalidRequestContent: The request content was invalid and could not be deserialized: 'Could not find member 'level' on object of type 'ManagementLockDefinition'. Path 'level', line 2, position 11.'."

Error caused by function:
CreateOrUpdateAtResourceLevelAsync**("testKeyVaultGroupName", id

[2016-11-16 01:54] atrauzzi opened #2544 "How do I get keys from a vault in the fluent API?"
If I have a key in a vault, I need to be able to retrieve it for use while configuring my virtual machines...

[2016-11-16 01:54] matthchr commented on #2538
@peter172sp Yes, I believe that it should.

[2016-11-16 02:43] atrauzzi opened #2546 "Any way to specify "Computer Name" with the fluent API?"
As seen here in the Azure portal:

![image](https://cloud.githubusercontent.com/assets/115199/20332810/23f34f1e-ab74-11e6-9d3d-6c7292141b16.png)

[2016-11-16 19:21] anuchandy commented on #2546
Option to set the computerName will be available in the next release (in ~2.5 weeks)

[2016-11-16 19:22] jianghaolu commented on #2544
Hi @atrauzzi

The fluent API only helps you deploy a vault resource. To access the keys and secrets stored in a vault, you will need to use the key vault data plan library: https://www.nuget.org/packages/Microsoft.Azure.KeyVault/2.0.4-preview.

[2016-11-16 19:29] #2544 closed

[2016-11-16 19:30] #2546 closed

[2016-11-16 23:49] olydis commented on #2501
So the actual problem seems to be that `JObject.Load(JsonReader reader)` does not return `null` if the `reader` has a `JsonToken.Null` as next token (see stack trace, that's where stuff finally blows up).
Your proposed check absolutely works in this scenario as it prevents `ReadJson` to be called recursively on the property that will cause this bug (here: `siteConfig`).

I suggest the right way to

[2016-11-17 00:12] shahabhijeet opened #2549 "Specifying Scope for publishing fails to publish scope specific projects/nugets"
Specifying Scope during publish or build fails to publish particular scope project if the scope specified has multiple projects.
Investigation:
1) We search for .sln files during build and hence once we find the sln file we move forward to start the build.
2) Nest projects in a scope is simply ignored.

[2016-11-17 00:38] olydis opened #2550 "Some JsonConverters throw if they encounter null tokens"
Some of our `JsonConverters` (`PolymorphicDeserializeJsonConverter`, `TransformationJsonConverter`, `CloudErrorJsonConverter` and `ResourceJsonConverter`) used in the `ClientRuntime` use `JObject.Load` to read the next object from the JSON stream. However, this stream may (legally) contain a `null` token, which let's `JObject.Load` throw an exception.
Three of the above converters are affected by

[2016-11-17 00:53] fuocor opened #2552 "Using Azure .NET SDK with NewtonSoft.Json 9.0.2-beta results in SerializationBinder error"
I am getting a TargetInvocationException on an index with the innerExcpetion of "Cannot get SerializationBinder because an ISerializationBinder was previously set." from Newtonsoft.Json.

The code is pretty straight forward:

            try
            {
                if(await SearchClient.Indexes.ExistsAsync(INDEX))
                {
                    Logger.LogInformation("{0}", "Deleting i

[2016-11-17 01:12] fuocor commented on #2552
It appears that downgrading to 9.0.1 from 9.0.2-beta resolves the issue

[2016-11-17 01:35] matthchr commented on #2539
Duplicating my comment on your PR here for the record:
Unfortunately, we have a bit of a dependency problem:

Powershell depends on our C# library. Our C# library depends on Azure Storage 6.2. All of the other Azure Powershell modules depend on storage 6.2 as well (and since Azure ships Powershell as a single unit all of them must match). This means we cannot update our C# library from 6.2...
But

[2016-11-17 02:08] brjohnstmsft commented on #2552
@fuocor We're aware of this issue. It seems like a compatibility issue with the latest beta of JSON.NET, but we haven't been able to track it down yet.

[2016-11-17 03:26] atrauzzi commented on #2544
Thanks!

[2016-11-17 09:26] cvs79 opened #2554 "Fluent management library Authenticate does not throw on removed SPN"
When we do an
[code]
it does not throw an exception when the SPN is not valid or doenst exist anymore.

The actual creation of the VM

`var windowsVM = azure.VirtualMachines.Define ....`

does throw an exception {Microsoft.IdentityModel.Clients.ActiveDirectory.AdalServiceException: AADSTS70001: Application with identifier XYZ.

I would expect that the Authenticate would allready fail when the SPN

[2016-11-17 13:53] fuocor commented on #2552
thanks

[2016-11-17 21:57] jhclark opened #2556 "Avro uses an outdated Newtonsoft.Json package"
https://github.com/Azure/azure-sdk-for-net/blob/master/src/ServiceManagement/HDInsight/Microsoft.Hadoop.Avro/packages.config points to Newtonsoft.Json 6.0 while the current version is 9.0.

For our team, this means we end up writing a lot of assembly binding redirects due to this conflicting version.

[2016-11-17 21:58] brjohnstmsft commented on #2552
@fuocor I'm having trouble getting a minimum repro of this problem. Would you be willing to share your code, or whatever minimal subset of it triggers the issue? Just calling `ExistsAsync` in a console app doesn't seem to be enough.

[2016-11-17 21:58] jhclark opened #2557 "DataContractResolver should throw a more specific error message for unsupported types"
Currently, the DataContractResolver throws if type.IsUnsupported() but the error message is opaque. For example, if it's unsupported because it doesn't have a parameterless constructor, then it should say so.

The work is then to return a specific error code (enum?) from TypeExtensions.IsUnsupported and add this to the exception.

[2016-11-17 22:11] jhclark opened #2559 "Null in unexpected places should throw a specific actionable error"
Currently, a null value on a reference type not marked with [NullableSchema] throws an error message with very little clue about where in the object hierarchy the issue occured and what to do about it.

I believe this error is coming from https://github.com/Azure/azure-sdk-for-net/blob/master/src/ServiceManagement/HDInsight/Microsoft.Hadoop.Avro/Serializers/NullableSerializer.cs:

     var excepti

[2016-11-20 23:14] laultman commented on #2552
I am getting the same error. Following this example:
https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-windows-csharp-template?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json
Console app .NET Core 1.1.0
My project.json file content:
{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.Azure.Management.Resource

[2016-11-21 00:16] fuocor commented on #2552
Just downgrade to 9.1 of NewtonSoft to work around it
Rich

Sent from my Windows 10 phone

From: Larry Aultman<mailto:notifications@github.com>
Sent: Sunday, November 20, 2016 6:14 PM
To: Azure/azure-sdk-for-net<mailto:azure-sdk-for-net@noreply.github.com>
Cc: Richard Fuoco<mailto:richf@whact.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-net] Search SDK: Indexe

[2016-11-21 23:24] twitchax commented on #2403
I recommend we punt until we have a release with required breaking changes.  Any public interface changes require a breaking change notification, and this fix is not worth pegging the major version number.

Recommend punt to next major version.

[2016-11-22 01:51] brjohnstmsft commented on #2552
Thanks @laultman. This confirms that it is a more general issue not specific to the Azure Search SDK. I'll update the title of this issue accordingly and try to get the right people looking into it.

In the meantime, the workaround is to downgrade as @fuocor suggested.

[2016-11-22 01:57] brjohnstmsft commented on #2552
FYI @hovsepm @markcowl

[2016-11-22 17:36] #2501 closed

[2016-11-22 17:36] #2550 closed

[2016-11-22 18:14] cormacpayne commented on #2501
@Nking92 we have published ClientRuntime with the changes in the PR by @olydis

https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure/3.3.4

[2016-11-24 18:00] jimt4593 opened #2587 "Add->REST API Client... command fails in VS2015"
After installing Azure App Service Tools v2.9.6. 14.0.21111.0, I get the following error when clicking OK in the Add REST API Client dialog is:

I worked around the error by copying Newtonsoft.Json.dll (file version 7.0.1.18622) into the C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE directory.

[2016-11-29 11:49] peterno commented on #1432
I have had the same deadlock problem with version 3.13.7 and a web api using Entity Framework/SQL Always Encrypted.

I added ConfigureAwait(false) to the AcquireTokenAsync call and then it worked without any problems.

One way to test is to set the TokenCache to null in the AuthenticationContext constructor. Without ConfigureAwait(false) it deadlocks immediately but with ConfigureAwait(false) it w

[2016-11-29 12:07] Sanchia opened #2593 "Memory Leak in RetryDelegatingHandler.cs"
Hi,

I have a Windows service app that throws an OutOfMemoryException. After some debugging I found the issue to be an ever growing array of objects, which is RetryingPolicy.Retrying._invocationList as shown in the screen grabs:

![image2016-11-28 17-33-59](https://cloud.githubusercontent.com/assets/24245343/20708665/ba81e10a-b639-11e6-9f1a-42dfe67dcd6b.png)
![image2016-11-28 17-35-13](https://clo

[2016-11-30 19:28] hovsepm opened #2601 "Published SDK packages does not work in UWP/Xamarin/Mobile apps"
following error is reported when Fluent API Nuget Packages is referenced in Xamarin.Forms application. Happens while blank new app is created then updated the already installed packages, build the app and then tried to add these packages.

**Could not install package 'Microsoft.Azure.Management.Fluent 1.0.0-beta3'. You are trying to install this package into a project that targets '.NETPortable,Ve

[2016-12-01 12:22] viktor-morin opened #2604 "Search SDK: Not possible to set HttpClient.Timeout on new Azure.Search SDK (3.0.1)"
We updated to latest version now, since we want to run to the lastest Azure.Search API version.
However, following error occured:

[code]

The second line is no longer possible. I could however change the timeout for _searchConnection (SearchServiceClient) but that timeout dosnt follow when creating a client. Will you fix this or how is your suggestion? To have 1min and 30s timeout is not acceptab

[2016-12-01 16:34] brjohnstmsft commented on #2516
Possibly related: https://github.com/Azure/autorest/issues/1542

[2016-12-01 16:43] brjohnstmsft commented on #2604
@viktor-morin I'll investigate and get back to you.

Related issue: https://github.com/Azure/autorest/issues/1445

[2016-12-01 17:03] brjohnstmsft commented on #2604
@viktor-morin There are actually two issues here:

1. `Indexes.GetClient` doesn't propagate the `SearchServiceClient` timeout. We can fix this and release a new version maybe some time next week.
1. `Indexes.GetClient` now returns `ISearchIndexClient` instead of `SearchIndexClient`, *and* `ISearchIndexClient` does not expose the `HttpClient` property. The good news is that you can work around this

[2016-12-01 21:42] brjohnstmsft commented on #2604
@viktor-morin Thinking about this some more, I don't think we can add to the `ISearchIndexClient` interface without bumping the major version of the SDK. We just did that, so we'll wait until the next time we have a bunch of breaking changes before making that change. However, we can make `Indexes.GetClient` propagate the timeout value. I'll update this issue when that change is ready.

[2016-12-02 00:03] dotdot2 opened #2607 "Rest ClientRuntime does not retry on WebException/SocketException"
Socket exception like these should be retried. Looks like the  RetryDelegatingHandler does not handle this case.

Exception Type: System.Net.WebException
Status: ReceiveFailure
Ex
ception Type: System.Net.Sockets.SocketException
ErrorCode: 10054
SocketErrorCode: ConnectionReset
NativeErrorCode: 10054

Type: System.Net.Http.HttpRequestException
Message: An error occurred while sending the request.

[2016-12-02 18:18] markcowl commented on #2535
@hovsepm @jianghaolu  Please assign this issue to a milestone so that customers can track the fix timeline

[2016-12-02 18:19] markcowl commented on #2541
@hovsepm Please assign to a sprint

[2016-12-02 18:23] markcowl commented on #2549
Closing as duplicate of #2300

[2016-12-02 18:23] #2549 closed

[2016-12-02 18:26] markcowl commented on #2552
### Description
Get a minimal repro of the issue and determine the root cause.  File issues for fix.

### Cost: 2

[2016-12-02 18:29] markcowl commented on #2556
@jhclark This is the service management (RDFE) version of the software.  While supported, it is unikely to get updates to the latest versions.  I would suggest updating to the resource manager version if you need to use later dependency versions

[2016-12-02 18:31] markcowl commented on #2587
@jimt4593 This is the repository for Azure management libraries, not VS tooling.  Please redirect this issue at the VS team.

[2016-12-02 18:31] #2587 closed

[2016-12-02 18:33] markcowl commented on #2593
### Description
- [ ] Reproduce issue and add test to catch
- [ ] Determine P0 stress scenarios to cover for client runtime
- [ ] File issues for fix and for additional stress scenarios

### Cost: 4

[2016-12-02 18:40] pomortaz commented on #2542
@markcowl and @hovsepm, the issue seems to be caused by ARM SDK. Key Vault is a resource within ARM. Please assign this to ARM lock operation owner.

@vivsriaus can you please take a look?

[2016-12-03 05:06] JasonYang-MSFT opened #2611 "Compile failed in a unicode windows 10."
## Build Error:
An error shows as following info while trying to compile by "msbuild".
`D:\work\azure-sdk-for-net\src\TestFramework\Microsoft.Azure.Test.HttpRecorder\Properties\AssemblyInfo.cs(26,30): erro
r CS1010: Newline in constant [D:\work\azure-sdk-for-net\build.proj]`

## Direct Cause:
After open src\TestFramework\Microsoft.Azure.Test.HttpRecorder\Properties\AssemblyInfo.cs in VS, there is

[2016-12-03 22:44] nzthiago opened #2612 "Visual Studio for Mac Portable Library: Microsoft.Azure.Management.Compute.Fluent not compatible with netstandard1.5"
I created a Portable Library in Visual Studio for Mac, and am trying to add the Microsoft.Azure.Management.Compute.Fluent package. But I'm getting the following error, seems `Microsoft.IdentityModel.Clients.ActiveDirectory` is incompatible. Is this right?

[code]

[2016-12-05 23:03] csmengwan opened #2615 "Long running operation sometimes throws TaskConceledException"
When using SDK to make long running operation calls it sometimes throw TaskCanceledException.

This is the stackTrace:

threw exception. System.Threading.Tasks.TaskCanceledException: System.Threading.Tasks.TaskCanceledException: A task was canceled..

Error Stack Trace:
System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
System.Runtime.CompilerServices.TaskAwaiter.HandleNonSu

[2016-12-06 16:56] nzthiago commented on #2612
Similarly, if I create a .NET Core app in Visual Studio for Mac, and make it a .NET Core 1.1 project by following [this](http://stackoverflow.com/questions/40650987/visual-studio-for-mac-couldnt-create-net-core-app), I still get the following. Seems the ActiveDirectory package is always in the way...

[code]

[2016-12-06 18:57] hovsepm commented on #2612
@nzthiago Thanks for reporting this! We will consider upgrade to the latest version of ADAL (aka ActiveDirectory package) in the near future, but unfortunately this upgrade cannot be isolated in the Fluent libraries. We have to upgrade all our dependencies in SDK (Fluent/Non Fluent) and other dependent projects (such as Azure PowerShell cmdlets).

For now can you try following?
In your project.jso

[2016-12-06 19:00] hovsepm commented on #2615
@csmengwan we will need network payload as well (could be captured with Fiddler for example).

[2016-12-06 19:09] hovsepm opened #2616 "Upgrade Microsoft.Rest.ClientRuntime.Azure.Authentication reference to the latest stable ADAL library for all the target frameworks"
Microsoft.IdentityModel.Clients.ActiveDirectory should be upgraded to version 3.13 or higher for all the frameworks that we support. After upgrade:
1. Preview tag should be removed from the Microsoft.Rest.ClientRuntime.Azure.Authentication package.
2. After publishing new Authentication library TestFramewrok should also be upgraded and republished.
3. Then Azure PowerShell projects should also upg

[2016-12-06 19:10] hovsepm commented on #2612
FYI, https://github.com/Azure/azure-sdk-for-net/issues/2616

[2016-12-06 21:28] shahabhijeet commented on #2611
@JasonYang-MSFT is this compile error happening in VS or on commandline?
Also can you give me your VS settings:
1) If this is only happening during compilation in VS, what save options are selected for your VS under File --> Advanced Save Options
2) Also provide steps to repro this issue?

[2016-12-06 22:05] twitchax commented on #2607
Application code should decide which errors are amenable to a retry: closing as won't fix.

[2016-12-06 22:05] #2607 closed

[2016-12-06 22:10] twitchax commented on #2463
@gorillapower, this does not appear to be a bug.  Have you tried specifying frequency as a string (source: https://docs.microsoft.com/en-us/azure/scheduler/scheduler-advanced-complexity#how-to-use-json-and-rest-api-for-creating-schedules)?

[code]

[2016-12-06 23:11] twitchax commented on #2100
@sixpi, from where are you getting this link?

[2016-12-07 00:34] jeradrose commented on #2516
I was not able to downgrade Microsoft.Rest.ClientRuntime from 2.3.4 to 2.3.2 due to Microsoft.Azure.Search 3.0.1 having a dependency on 2.3.4. So I had to downgrade Microsoft.Azure.Search to 1.1.3.

[2016-12-07 01:39] dotdot2 commented on #2607
This is not good design. Client runtime library must retry transport exceptions. moreover it must wrap lower level exceptions into client runtime e exceptions.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Aaron Roney <notifications@github.com>
Sent: Tuesday, December 6, 2016 2:05:28 PM
To: Azure/azure-sdk-for-net
Cc: Rajiv D.; Author
Subject: Re: [Azure/a

[2016-12-07 01:52] twitchax commented on #2607
We make a point of _not_ wrapping lower level exceptions so as to not introduce unnecessary exception obfuscation.

A client runtime library may choose which transport exceptions make sense to retry by default.  As a low-level management API, we do note plan on adding retry logic for transport exceptions encountered due to possible network failures.

@selvasingh, might this retry logic be a good c

[2016-12-07 06:38] gorillapower commented on #2463
@twitchax thanks for the feedback. Yes apologies, that json was a serialization of the scheduler C# object as i was using the Scheduler SDK Library. I have since managed to get the json of the actual http request.

What im trying to replicate is the behaviour described in the documentation
![image](https://cloud.githubusercontent.com/assets/8879065/20957205/050f6e36-bc57-11e6-9c76-9ceb3bf8548c.png

[2016-12-07 06:46] twitchax commented on #2463
You can specify the start time to XX:15, and change "recur every" to "1 Hours".

![image](https://cloud.githubusercontent.com/assets/549523/20957633/d3510fa4-bc05-11e6-99b4-5fc10a0f4b52.png)

[2016-12-07 06:50] gorillapower commented on #2463
Ok so the only way is to remove the advanced schedule and run it on a frequency of an hour?

Is it possible to have schedule that runs 15 and 30 minutes past every hour?

I think the documentation is misleading as this cant be done how it is described. Instead you either have to implement your solution above or include every hour 0,1,2,3...23 and run the schedule daily.

[2016-12-07 09:12] laxman577 opened #2622 "Azure SDK not working in vs2013 professional"
Azure SDK not working in vs2013 prof
![azure sdk error](https://cloud.githubusercontent.com/assets/13295654/20961532/6f29c864-bc8b-11e6-9ddc-c7f6d8d6730a.PNG)
essional

[2016-12-07 09:58] twitchax commented on #2463
Unfortunately, I think you have to enter every hour.  However, this issue would be better suited to the Scheduler team, so I can pass it along to them.

[2016-12-07 14:41] sixpi commented on #2100
This was a while ago so I can't be sure, but I think I got that link from the Azure Configuration Manager nuget page (https://www.nuget.org/packages/Microsoft.WindowsAzure.ConfigurationManager/3.2.3). If you click on the "Project Site" link on the left side, it takes you to the link I originally posted.

[2016-12-07 20:02] twitchax commented on #1413
@fearthecowboy is doing some preliminary investigation into targeting the lowest feasible netstandard version.  At present, 1.4 is the likeliest candidate.

[2016-12-07 20:06] twitchax commented on #2100
Ahhh, yes, thanks for the information!

[2016-12-08 02:07] brjohnstmsft commented on #2516
@jeradrose Are you also using Application Insights by any chance?

[2016-12-08 02:18] shahabhijeet opened #2625 "Unable to build non NetCore leaf nuget package as part of CI"
Currently there are quite few non Net Core projects that are outside ResourceManager directory.
Recently one of our partner brought to our attention that Batch RP nuget is not being build as part of CI.

[2016-12-08 02:19] shahabhijeet commented on #2625
It turns out due to recent restructure of Batch projects, the appropriate targets file was not updated accordingly
Fix: https://github.com/Azure/azure-sdk-for-net/pull/2624

[2016-12-08 02:19] #2625 closed

[2016-12-08 02:34] jeradrose commented on #2516
On Azure, and client-side, yes. But not server-side (SDK).

[2016-12-08 11:39] rarobe commented on #2516
Also receiving AmbiguousMatchException when initializing SearchServiceClient after upgrading to Microsoft.Azure.Search 3.0.1.

Application Insights is configured on my WebRole properties to send diagnostic data to App Insights - and I can confirm that when I disabled Application Insights on my web role properties I no longer receive the AmbiguousMatchException (App Insights SDK is still installed

[2016-12-08 12:38] javierholguera commented on #2321
I'm interested on this as well

[2016-12-08 12:57] javierholguera opened #2626 "Avro library: what version does it support?"
Hi,

The library to ser/deser using Avro, what version of the standard implements?

Also, it was difficult to find the actual source code, is there any reason why it lives in master but by default src/ points to a branch called AutoRest where the code doesn't exist anymore?

Thanks!

[2016-12-08 18:01] markcowl commented on #2300
as part of this, we should ensure that Batch and DataLake packages (including StoreUploader) can be individually signed and published

[2016-12-08 19:16] begoldsm opened #2627 "spnClientId is now required for user/pass login for tests"
In the latest TestFramework (1.5.0-preview) There is a bug at this line in TestEnvironment.cs:
https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/TestFramework/Microsoft.Rest.ClientRuntime.Azure.TestFramework/TestEnvironment.cs#L259

This requires the user to pass in the spnClientId for user/pass authentication. The problem with this is that the spnClientId is meant to be used with servi

[2016-12-08 19:17] brjohnstmsft commented on #2516
@jeradrose

And you observe the `AmbiguousMatchException` in all three cases...?

[2016-12-08 21:08] brjohnstmsft commented on #2516
The Application Insights team [are working on a fix](https://github.com/Azure/autorest/issues/1542#issuecomment-265832668):

[2016-12-12 18:28] utahkay commented on #2556
What is the "resource manager version" of Microsoft.Hadoop.Avro, and how do I find it?

[2016-12-12 23:10] nzthiago commented on #2612
Thanks @hovsepm! Adding the imports worked.

[2016-12-12 23:11] #2612 closed

[2016-12-13 17:10] JasonYang-MSFT commented on #2611
Hi @shahabhijeet ,

It happend in both VS and commandline.

To answer your questions:
1. Saved as UTF-8.
2. using Win10 and VS with Chinese version, open ResourceManagement\Storage\Storage.sln. Or just call "msbuild /t:build" on commandline.
2. PATH env.

D:\work\azure-sdk-for-net\src\ResourceManagement\Storage>echo %PATH%
C:\ProgramData\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDO

[2016-12-13 17:20] chadwackerman commented on #2360
@darylmsft I was forced to rewrite the functions I needed in two hours -- most of which was spent dealing with the incorrect 'how to generate a signature' documentation on MSDN and the absurdly redundant date header. Why this simple library hasn't been ported to .NET Core baffles me. It's not something you can ask the community to do because the code is mostly generated and frankly, total garbage.

[2016-12-13 18:32] johnsoaa opened #2633 "Cannot merge null values"
As stated in the Azure Search REST API documentation [here](https://docs.microsoft.com/en-us/rest/api/searchservice/addupdate-or-delete-documents), "If you want to remove an individual field from a document, use merge instead and simply set the field explicitly to null." So I did that:

    // subset of my index's fields
    private class SyncFields
    {
        public string Id { get; set; }

[2016-12-13 19:54] brjohnstmsft commented on #2633
@johnsoaa This is a known limitation of the typed overloads of the `Index` family of methods. The issue is described in detail here: https://github.com/Azure/azure-sdk-for-net/issues/1804

Some workarounds:

1. Use the untyped version of `Index` instead for merge scenarios.
1. Use `Upload` instead of merge.
1. Put `[JsonProperty(NullValueHandling = NullValueHandling.Include)]` on the properties of

[2016-12-13 19:54] #2633 closed

[2016-12-13 23:41] begoldsm commented on #2043
@mmcc1 sounds good. Until then I am going to consider this issue closed since we have been unable to reproduce it on our side during this time. If you end up being able to reproduce it when you come back, please re-open the issue. Thanks!

[2016-12-13 23:41] #2043 closed

[2016-12-14 20:27] justinhomes opened #2641 "Search SDK: SDK 3.0.1 not setting suggesterName"
i have my index and suggester defined as below when creating the index, index is correctly created, suggester is also created by name is left out empty when you look at the azure portal. i am using azure search 3.0.1 sdk
[code]

[2016-12-14 22:27] moraleslos opened #2644 "Make Always Encrypted Azure Key Vault Provider .NET Core Compatible"
I'm trying to use the Always Encrypted feature of SQL Server 2016 with .NET Core and seems like it can not be used (yet). When trying to import the `Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider` from Nuget, I get an error stating it is not compatible:

`Package Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider 1.0.201501028 is not compatible with netstand

[2016-12-15 12:03] takekazuomi commented on #1846
It has already been over 9 months.
When is RATE AIP client planned for implementation?

[2016-12-15 14:54] justinhomes commented on #2641
found out that i had to delete the entire search service and recreate it for it to work

[2016-12-15 16:17] brjohnstmsft commented on #2641
@justinhomes I'm unable to reproduce this problem. Can you please clarify a few things?

- When you created the index above with the suggester, did you try retrieving it using the SDK? If so, was the suggester name set in the `Index` object returned by `Indexes.Get`?
- Are you still able to reproduce this problem? If so, please post a screenshot of what you observe in the Azure portal.
- Besides d

[2016-12-20 15:47] josemaia opened #2662 "No support for Virtual Directories in SDK despite JSON receiving them"
http://stackoverflow.com/questions/29000178/using-the-azure-api-how-do-i-list-and-add-virtual-directories-to-a-website

This StackOverflow issue has an example where the user manually compiled the code to expose the VirtualDirectories object so he could create the application he needed. It should not be necessary to do so. See issue https://github.com/Azure/azure-sdk-for-net/issues/2063 for anothe

[2016-12-20 16:03] javierholguera opened #2663 "Microsoft Avro library getting deprecated?"
It looks like all code for Azure Service Management is getting deprecated in in favour of Azure Resource Management alternatives.

However, I haven't found any for the Avro library inside ASM group. Any plans to have something like that in ARM? What would be the state for Avro support in that case?

Thanks!

[2016-12-20 19:53] aaneja opened #2664 "HDInsightManagementClient constructor does not check if the passed SubscriptionCloudCredentials has a non empty SubscriptionId"
Since all operations would need a non empty SubscriptionId for any ClusterOperation a string.isNullOrEmpty check should be performed on credentials.SunbscrptionId

[2016-12-22 00:10] johnbirdau opened #2671 "VirtualMachineScaleSetImpl bug"
public VirtualMachineScaleSetImpl WithOverProvision(bool enabled)
        {
            this.Inner
                    .OverProvision = enabled;
            return this;
        }

        public VirtualMachineScaleSetImpl WithoutOverProvisioning()
        {
            return this.WithOverProvision(true); // **should be false**
        }

        public VirtualMachineScaleSetImpl WithOverProvisio

[2016-12-22 14:27] martinsawicki commented on #2671
oops. I'll take this. (it looks like it's correct on the Java side, so typos introduced during the conversion)

[2016-12-22 14:28] martinsawicki commented on #2671
fix submitted (https://github.com/Azure/azure-sdk-for-net/pull/2669/commits/d119f6742aa56759c0f70c2d29153024eb2329b9)

[2016-12-23 05:52] bianliu1013 opened #2674 "got "Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor ""
After updgrade "Microsoft.Azure.KeyVault":  from "**2.0.2-preview**" to "**2.0.6**".
I got below exception:
**System.MissingMethodException: Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback)'.
   at Microsoft.Extensions.Configuration.AzureKeyVaultConfigurationExtensions.AddAzureKeyVault(IConfigurationBuilder configurationBuilder, String vault, String cli

[2016-12-23 06:06] bianliu1013 commented on #2674
duplicated with https://github.com/aspnet/Configuration/issues/569.
closed.

[2016-12-23 06:06] #2674 closed

[2016-12-27 12:26] Turochamp opened #2675 "Publish to App Service freezes when using parallell build"
Publish to Azure App Service freezes during the build when using parallel builds.

**Recreate:**
1. Publish to MS Azure App Service in Visual Studio.
2. Web Publish Activity will freeze
3. Cancel button in panel is ignored, instead cancel with "Ctril+Break".

**Workaround:**
Avoid project freeze by either:
1) Disable parallel building by setting "Maximum number of parallel builds" to 1
or
2) Enabl

[2016-12-29 17:52] markti commented on #2587
@jim4593 how exactly would we do that?

[2016-12-29 17:53] markti commented on #2587
@markcowl isn't the "Add REST Client" a visual studio extension that is included in the Azure SDK?

[2016-12-30 19:49] mirobers commented on #1573
This issue has been resolved long ago, but missed closing it because it's not in the azure-storage-net repo. Feel free to report further issues with the storage client in azure-storage-net. Thanks!

[2016-12-30 19:49] #1573 closed

[2016-12-30 20:10] mirobers commented on #1778
Hi, for questions about the storage emulator and the storage .NET client, please use the azure-storage-net repo.

For your question, the storage emulator isn't able to resolve your hostname when contacting the source of the copy. You can write a simple helper to convert local.d.com to 127.0.0.1 in the source URL; you will still see the requests your code is making through fiddler and the emulator

[2016-12-30 20:10] #1778 closed

[2016-12-30 20:31] mirobers commented on #1387
Hi, for questions about the storage .NET client, please use the azure-storage-net repo.

We provide result lists that can be filtered in any number of ways using LINQ. By the way, I see that your implementation calls ListBlobSegmentedAsync and waits synchronously; consider using the ListBlobs() API instead which provides the lazy enumeration already. (Unless you're using the netstandard library, i

[2016-12-30 20:31] #1387 closed

[2016-12-30 20:39] mirobers commented on #1424
This issue has been resolved long ago, but missed closing it because it's not in the azure-storage-net repo. Feel free to report further issues with the storage client in azure-storage-net. Thanks!

[2016-12-30 20:39] #1424 closed

[2016-12-31 02:51] jhclark commented on #2556
Bump. I'm also unclear on what the distinction and purposes of the two versions are.

Get Outlook for Android

On Mon, Dec 12, 2016 at 10:28 AM -0800, "utahkay" <notifications@github.com> wrote:

What is the "resource manager version" of Microsoft.Hadoop.Avro, and how do I find it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the th

[2017-01-03 18:51] hovsepm commented on #2671
Fixed in Fluent branch. Will be shipped with beta4.1 this week.

[2017-01-03 18:51] #2671 closed

[2017-01-04 10:43] davidbending opened #2681 "NuGet package for Microsoft.Azure.KeyVault.Cryptography won't install in standard project"
NuGet Package for `Microsoft.Azure.KeyVault.Cryptography` won't install in a .Net Framework 4.5.2 standard class library because of the following error:

[code]

[2017-01-04 18:38] bdparrish commented on #2322
trying to include Avro in a .NET Core app.  any timeline on this being solved?

[2017-01-04 22:28] cormacpayne commented on #2520
PR checklist has been merged in PR https://github.com/Azure/azure-sdk-for-net/pull/2648

[2017-01-05 19:07] hovsepm commented on #2681
@davidbending we do not support .Net 4.5.2. As you can see [here](https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/KeyVault/Microsoft.Azure.KeyVault.Cryptography/project.json#L26) we only support net45 and Core CLR Netstandard1.5.

[2017-01-05 20:55] pomortaz commented on #2681
@davidbending  thanks for reporting the issue. I created a PR with the fix: https://github.com/Azure/azure-sdk-for-net/pull/2687

The dependency is not needed and is causing the GAC issue.

[2017-01-05 21:51] pomortaz commented on #2681
@davidbending the issue is resolved in package version 2.0.5

[2017-01-05 21:51] #2681 closed

[2017-01-06 00:55] hovsepm opened #2690 "Add factory in the product code to handle test execution via playback and record mode"

[2017-01-08 22:17] flytzen opened #2700 "AzureCredentials.FromServicePrincipal does not support certificate authentication"
ServicePrincipals *can* use keys - but it's often a bad idea.
A better idea is to use a certificate to authenticate a service principal - see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authenticate-service-principal.

Alas, AzureCredentials.FromServicePrincipal only works with keys, making it unsuitable for a number of scenarios.

[2017-01-09 21:39] akromm commented on #2537
@couellet You can find the replication link operations here: https://github.com/Azure/azure-sdk-for-net/blob/master/src/ResourceManagement/Sql/SqlManagement/Generated/ReplicationLinkOperationsExtensions.cs

[2017-01-09 21:39] #2537 closed

[2017-01-10 00:47] shahabhijeet commented on #2675
@Turochamp can you provide us some more specific information.
Can you provide the name of the SDK (dll name that you are using, this helps in routing to the right team)
Can you also provide more granular steps for reproducing this issue (e.g. what project type in Visual Studio, anything specific to Azure settings that we might want to know before publishing to Azure)

[2017-01-11 21:33] #2604 closed

[2017-01-11 22:46] brjohnstmsft commented on #2604
@hovsepm Thanks!

[2017-01-11 23:08] mjrousos opened #2716 "Fluent VMSS API losing protected settings when adding nodes"
I'm running into issues using the fluent compute API to scale out a VMSS with protected settings in its template.

A complete repro is available [here](https://github.com/mjrousos/VMSSRepro), but I walk through the relevant details below.

I have a virtual machine scale set that includes a custom script extension so that a script will be executed on every new VM instance as it's provisioned. The c

[2017-01-14 01:41] Jehoel opened #2729 "How do I manage Cloud Services with the new REST client / AutoRest SDK?"
The `AutoRest` branch in this repo no-longer includes the `ServiceManagement` client and types, only the `ResourceManagement` REST client, while it still exists in the `master` branch.

I appreciate that Cloud Services (`HostedServices`) are almost-deprecated and only accessible through the older ServiceManagement API, but there doesn't seem to be any maintained client for that API - NuGet has `Mi

[2017-01-18 06:49] schnitty opened #2732 "Can't add various Microsoft.Azure nuget packages in VS2017RC"
Visual Studio Version: version: VisualStudio/public.d15rel/15.0.26020.0
When I try to add the nuget package to an empty .NET Core Console application I get the following error:

[code]

If I do this from VS2015 with .NET Core Console app with .NET Core 1.1 it works ok.

[2017-01-18 16:31] brjohnstmsft commented on #2732
To clarify, the issue appears to affect Microsoft.Spatial when imported in isolation. Microsoft.Spatial is a dependency of Microsoft.Azure.Search.

[2017-01-18 16:43] brjohnstmsft commented on #2732
@schnitty I'm borrowing your notes from StackOverflow that characterize the scope of the issue; Hope you don't mind.

I'm not sure what the underlying cause is. In the case of Microsoft.Azure.Search specifically, one of its dependencies, Microsoft.Spatial, also fails. Issue tracking that is here: https://github.com/OData/odata.net/issues/751

[2017-01-18 18:58] hovsepm commented on #2729
@Jehoel Azure PowerShell has 2 modules as well. RDFE aka ServiceManagement cmdlets and ARM aka ResourceManagement cmdlets. You can browse them here - https://github.com/Azure/azure-powershell/tree/dev/src

[2017-01-18 19:00] hovsepm commented on #2729
@Jehoel your usage depends on your scenarios, but we strongly suggest considering ARM (which is ResourceManager and has [verb]-*AzureRM*[cmdlet] syntax in Powershell) and AutoRest generated SDKs

[2017-01-18 19:01] #2729 closed

[2017-01-18 19:11] shahabhijeet commented on #2627
Ver. 1.5.1 has fixed this issue, will add pr info soon and close it myself.

[2017-01-19 19:28] hovsepm opened #2740 "Usage of WithRegion method is confusing"
It is not obvious what is the object that we want to specify region for. Consider following examples:

[code]
and
[code]

in both places WithRegion is in the parent resource definition stages but for WebApp it defines Region of the AppServicePan, but for SQL it defines location of RG AND SQL server. Plus we should think about standardization of Region definition so it would be obvious. As a sugges

[2017-01-20 00:08] Jehoel commented on #2729
But how do I use the AutoRest-generated clients to manipulate Cloud Services then? There's no `HostedServicesOperations` type available in that library.

[2017-01-20 05:19] daronyondem opened #2744 "AutoRest.ClientRuntime Install fails for UWP"
Getting the error below trying to add the AutoRest.ClientRuntime v.2.3.4 package into a UWP app targeting Build 14393. I have been told dotnet rest runtime client is owned sdk-for-net project.  https://github.com/Azure/autorest/issues/1737#issuecomment-273825921

Restoring packages for C:\path\project.json...
System.Reflection.Emit.ILGeneration 4.0.1 provides a compile-time reference assembly for

[2017-01-20 18:49] markcowl commented on #2516
@brjohnstmsft Assignign to you to resolve when the root issue is resolved.  Please reassign if appropriate.

[2017-01-20 18:51] markcowl commented on #2622
@laxman577 Those webpi feeds are not shipped from this repository, please file this issue with the VS team

[2017-01-20 18:51] #2622 closed

[2017-01-20 18:55] markcowl commented on #2675
Closing for lack of clarification.  Also, the VS tools are not shipped from this repository

[2017-01-20 18:55] #2675 closed

[2017-01-20 21:43] #1976 closed

[2017-01-20 21:59] markcowl commented on #2615
Closing for lack of response.  Please reopen with a repro if this is still an issue.

[2017-01-20 21:59] #2615 closed

[2017-01-23 16:42] wagsousa commented on #2516
Updating the App Service - Application Insights extension to the latest version solves the issue.
Azure Portal > App Service > Extensions > click on Application Insights > click on Update

[2017-01-23 17:59] andrerav opened #2749 "Using Service Principal to update service bus yields "ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription.""
Hi,

I am using the Azure SDK and the management API in C# to update a service bus namespace. The API is accessed using a service principal and an Azure AD application that has been granted access to the Azure Service Management API. However, as soon as I try the following:

`nsClient.Namespaces.List(); // nsClient is a ServiceBusManagementClient instance`

I receive the following error:

Does the

[2017-01-23 19:25] markcowl opened #2750 "Tag nuget packages with service/api-version"
### Description
To support AzureStack, add tags to nuget definition to include latest service and api-version.  Include automation to build a map (service, api-version) => package .This includes the following tasks:

- [ ]  Figure out how to extract service and api-version metadata from generated code for a library
- [ ] Automatically update the tag in the library to match the correct service/api

[2017-01-23 19:39] markcowl commented on #2749
@andrerav No.  co-admin is a concept for RDFE, the old management APIs corresponding to the old portal.     If you are using this library:   https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceBus/0.0.1-preview   you are using the new ARM management APIs and you can use ServicePrincipal credentials, you just need to make sure the servicePrincipal is granted the appropriate RBAC role t

[2017-01-23 19:40] markcowl commented on #2749
@andrerav BTW, I would highly suggest you use the ARM APIs, if that is an option for you.

[2017-01-24 23:07] brunoklein99 opened #2755 "Unable to install Microsoft.Rest.Azure.Authentication"
I was following [this tutorial](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal) and followed up with [this example](https://github.com/Azure-Samples/resource-manager-dotnet-resources-and-groups). The example required the use of `Microsoft.Rest.Azure.Authentication.ApplicationTokenProvider`. But I am unable to install `Microsoft.Rest.Azu

[2017-01-25 02:33] TarasRoshko commented on #1707
Any updates? This API is just wow

[2017-01-25 12:09] TWolverson opened #2756 "Supplying a client certificate to a KeyVaultClient authentication callback throws System.Security.Cryptography.CryptographicException: Invalid provider type specified."
I have a WCF endpoint behaviour that injects a TokenProvider into a service bus client channel. This TokenProvider is meant to be supplied a secret that is retrieved from Key Vault using KeyVaultClient. I supply an authenticationCallback method like so:

[code]

This throws CryptographicException when the channel tries to connect:

[code]

Doing some research it appears that this may be to do with

[2017-01-25 12:14] TWolverson commented on #2756
As an addendum; yes you may notice that the bottom of my stack trace references the BizTalk adapter runtime. That's because the code I've written is running in a BizTalk context - and yes I do realise that the adapter code for BizTalk is compiled against the .net framework v3.5. I don't _think_ this should be a problem, as the following article: https://blogs.msdn.microsoft.com/alejacma/2009/12/22

[2017-01-25 20:02] TarasRoshko commented on #2194
Hit same error. Quick mitigation would be to open portal and look for the real error under <resource group> - deployments - <your deployment>

But the error is pretty ridiculous, it should include the proper amount of detail and honestly it's rather critical SDK bug, how come it's not fixed in half a year?

[2017-01-25 20:43] brunoklein99 commented on #2755
My bad. I didn't realize there were preview versions of the package.

[2017-01-26 01:09] JoeBrockhaus opened #2757 "Unable to query Resources by Resource Type and Tag Name/Value"
Using ResourceManagementClient 1.4.0-preview, but afaik this has been broken for years(!!).

for instance, I'm getting:

I've tried passing the filter string created manually, as well as by using the lamda syntax ctor for `ODataQuery<GenericResourceFilter>(..)` but both return the same error.

---

I'm also curious if common odata operators like `tolower()` are supported, to overcome case sensitiv

[2017-01-26 02:43] JoeBrockhaus commented on #2757
In the Azure-Powershell repo, this has been noted in the past, and the fix seems to be escaping the `$filter` querystring parameter.

https://github.com/Azure/azure-powershell/issues/1920#issuecomment-275282417

[2017-01-27 12:59] mkstephenson commented on #2556
I would also like to know where to get the resource manager version of the avro package.

[2017-01-27 15:11] mikeblakeuk opened #2761 "Make the default BaseUri https (SSL)"
https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/PowerBIEmbedded/Microsoft.Azure.Management.PowerBIEmbedded/Generated/PowerBIEmbeddedManagementClient.cs#L285

Please regenerate all clients to use https, not http

[2017-01-27 17:06] andrerav opened #2762 "Azure Germany/Management API: The subscription '[…]' could not be found"
I have created a subscription with Azure Germany, and now I am attempting to deploy my application topology there using the Azure Management API and a service principal.

Deployment works fine towards the regular Azure cloud, however when I attempt to deploy towards my subscription in Azure Germany, I get the following error message: **The subscription '[...]' could not be found**.

I am able to s

[2017-01-30 00:52] martinsawicki commented on #2740
WebApp is the only place I've seen where it's unusual like this and should be revisited.
SQL follows the pattern we have everywhere else.

[2017-01-30 03:12] twitchax commented on #2601
The .NET client libraries for Azure will be transitioning to .NET Standard 1.3 by mid-February.

[.NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/) 1.3 will support UWP 10.0+, so support for these application types should be implicit in our coming transition.

Closing in favor of #1413.

[2017-01-30 03:12] #2601 closed

[2017-01-30 03:12] twitchax commented on #1413
The .NET client libraries for Azure will be transitioning to .NET Standard 1.3 by mid-February.

[.NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/) 1.3 will support UWP 10.0+, so support for these application types should be implicit in our coming transition.

This transition is already underway, so this fix is approved for the current milestone.

[2017-01-30 03:13] twitchax commented on #1413
Assigned to @fearthecowboy for follow up and closing.

[2017-01-30 03:14] twitchax commented on #2463
Clearing assignees so the Scheduler team can pick this up.

[2017-01-30 20:04] Nking92 opened #2766 "[WebSites] BackupSchedule needs default values for FrequencyInterval and KeepAtLeastOneBackup properties"
The FrequencyInterval and KeepAtLeastOneBackup properties were nullable in previous versions of the WebSItes SDK, but null values are actually invalid. We need to add default values in the Swagger spec and SDK code.

[2017-01-30 21:38] Nking92 commented on #2766
Opened a pull request for the Swagger update: https://github.com/Azure/azure-rest-api-specs/pull/888

[2017-01-31 09:54] twitchax opened #2772 "Authentication runtime should include KeyVault endpoint"
## Description
Please see [azure-powershell#2777](https://github.com/Azure/azure-powershell/issues/2777): this issue was filed in response to realizing the Azure PowerShell issue was root caused by an SDK issue due to repro confusion.

This issue concerns the fact that "there is no entry in the AAD management panel for a Key Vault scope, which means you need to use the 'Powershell workaround' to a

[2017-01-31 19:17] coonmoo opened #2773 "Correct way to support tokens which need a frequent refresh in a fault tolerant way"
Hello,

I'm currently implementing a client for our REST API based on Microsoft.Rest.ClientRuntime, to support AutoRest generation.
Our API requires the client to refresh the initial acquired token every 30 minutes.

The process of refreshing the token should be transient. So the client should a) refresh when 30min passed b) refresh when the service returns an error "token expired"

My initial ide

[2017-01-31 22:28] hovsepm commented on #2755
@brunoklein99 sorry we do not support ClientRuntime < 2.0.0 anymore.

[2017-01-31 22:28] #2755 closed

[2017-01-31 22:40] hovsepm commented on #2766
Fixed in Master branch.

[2017-01-31 22:40] #2766 closed

[2017-01-31 23:08] hovsepm commented on #2761
@mikeblakeuk thanks for reporting. The issue comes from swagger and should be fixed there first. https://github.com/Azure/azure-rest-api-specs/blob/master/arm-powerbiembedded/2016-01-29/swagger/powerbiembedded.json#L11

[2017-02-02 01:23] colemickens opened #2776 "Run Recorded Tests against Azure?"
What are the explicit goals of the recorded tests? Are they to ensure that the SDK makes the exact same HTTP traffic, or is it to test some sort of functionality of the deployed services?

If it's the former, I guess we can stop reading and close this out.

If it's the latter, then I feel like there is a slight gap here. The tests that are run automatically are not validating that the Swagger is r

[2017-02-02 11:43] Estebanhuerta11 commented on #1507
Hi,
I have the same problem in azure templates.
@musazaidi Have you resolved your issue?

[2017-02-02 14:39] musazaidi commented on #1507
nope

From: Estebanhuerta11 [mailto:notifications@github.com]
Sent: Thursday, February 2, 2017 6:44 AM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: musazaidi <syedmusazaidi@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-net] Error in Setting up Hive and Oozie Metastore using _hdiManagementClient.Clusters.Create method (#1507)

Hi,
I h

[2017-02-02 19:00] markcowl opened #2779 "Add first class support for sharing HttpClients in AutoRest-generated client"
### Description
Since HttpClient is a fairly heavyweight artifact, many customers will want to create an HttpClient once and share it across their AutoRest and other clients.

Provide a new constructor that allows passing in an HttpClient and the corresponding pointers into the delegating handler stack.  Ensure that no changes are made to the HttpClient after this is done.

This will likely mean a

[2017-02-03 16:28] gustavo-armenta opened #2783 "AppServiceEnvironment Template issues"
I found two issues while authoring RM template, hope you can route them to the right team.

Failed to use the best practice "[resourceGroup().location]" because it returns "southcentralus" and the template expects one of the values below.
        "aseLocation": {
            "type": "string",
            "allowedValues": [
                "Central US",
                "East US",
                "E

[2017-02-06 19:33] brjohnstmsft opened #2791 "Search SDK: Cannot round trip Infinity or -Infinity"
It is possible to upload `Double.PositiveInfinity` or `Double.NegativeInfinity` to an Azure Search index, but attempting to read these values back (e.g. via `Documents.Get`) results in an exception during deserialization.

The root cause is that OData uses `INF` and `-INF` to represent infinities, but JSON.NET does not understand these values. Instead, JSON.NET emits and accepts `Infinity` and `-I

[2017-02-07 07:22] pwen090 commented on #2587
@markcowl this is still an issue - could you please help us at least get in touch with the right MS people to get some support? Thank you much.

[2017-02-07 08:51] ElD4n1 commented on #2587
Same problem here, REST API Client generation was working fine before installing newest Azure SDK, so it has to have something to do with it.
Here is a workaround that worked for me: http://stackoverflow.com/questions/41373912/add-rest-api-client-command-fails-in-vs2015
Just download the NuGet package and copy the .dll into the stated folder and it should work again.

[2017-02-07 13:31] olivierdagenais commented on #1707
For the record, I encountered the same result as @TarasRoshko when I tried to provide a `JObject` to the `Template` property, but a `string` representing the JSON worked.

[2017-02-07 19:39] begoldsm commented on #2208
This is resolved with my latest PR: https://github.com/Azure/azure-sdk-for-net/pull/2758

[2017-02-07 19:39] #2208 closed

[2017-02-07 19:40] begoldsm commented on #2344
This is resolved as part of: https://github.com/Azure/azure-sdk-for-net/pull/2758

[2017-02-07 19:40] #2344 closed

[2017-02-08 08:30] viktor-morin opened #2797 "Search SDK: SearchParameters.ToString() reverse?"
Hi,

Thanks for all support.
I was wondering if its possible to reverse SeachParameters.ToString() and use that query again?

**I have been trying following:**
``
var query = SeachParameters.ToString();
``

``
var results = await indexClient.Documents.SearchAsync(query);
``
``
var results = await indexClient.Documents.SearchAsync(query, new SearchParameters { QueryType = QueryType.Full });
``
``
v

[2017-02-08 15:28] efeurich commented on #2552
Thanks guys you save me a lot of time.

[2017-02-08 19:23] brjohnstmsft commented on #2797
@viktor-morin `SearchParameters.ToString` isn't meant to be used directly. It is implemented so that a `SearchParameters` instance can be converted to a URL query string, but that is only used when the `SearchAsync` method is configured to use HTTP GET instead of POST (it uses POST by default, which we recommend).

The first parameter to `SearchAsync` is the same as the `search` parameter you woul

[2017-02-08 19:29] brjohnstmsft commented on #2641
Closing this as we were unable to repro.

[2017-02-08 19:29] #2641 closed

[2017-02-08 19:30] brjohnstmsft commented on #2516
The root issue has been resolved. See [the related issue](https://github.com/Azure/autorest/issues/1542) for details on how to deploy the fix.

[2017-02-08 19:30] #2516 closed

[2017-02-08 21:39] hovsepm commented on #2732
@schnitty, @brjohnstmsft
FYI, Fluent libraries starting from beta50 has been fixed (i.e. Microsoft.Azure.Management.Storage.Fluent) and published to nuget.

[2017-02-09 08:50] viktor-morin commented on #2797
Okay, understand!
So in my case I guess the best way is to save it as a JSON string and deserialize it back to a `SearchParameters` object since we set alot of properties. There isn't a "smart" way to convert `SearchParameters.ToString()` back to `SearchParameters` by try figure out which part of the string should be used as the query string and rest as parameters for `SearchParameters` object

[2017-02-09 15:56] pbolduc commented on #2700
The could be extended simply. Add class CertificateLoginInformation,

    using System.Security.Cryptography.X509Certificates;

    public class CertificateLoginInformation
    {
        public CertificateLoginInformation()
        {
        }

        public CertificateLoginInformation(string clientId, X509Certificate2 certificate)
        {
            ClientId = clientId;
            Certificat

[2017-02-09 22:29] brjohnstmsft commented on #2797
There's something about your scenario that I'm not understanding. Are you just looking for a way to safely persist `SearchParameters` instances? If so, why?

[2017-02-10 05:35] cannehag commented on #2001
@markcowl Any update on my last reply ?

[2017-02-10 14:43] viktor-morin commented on #2797
@brjohnstmsft I worked wound it so it isnt longer an issue. However to explain the situation. We build up a `SearchParameters` object depending on user interactions and our own selections and then using that to get our results from Azure Search. Since many of these search are the same, we would like to save the complete query as a key, the results as value and store it in our cache. Thats how we a

[2017-02-10 15:16] Xavina commented on #2587
Same Issue here. Had to generate the REST API Client in Visual Studio 2013.

[2017-02-10 18:11] brjohnstmsft commented on #2797
@viktor-morin Thanks for the details. It's always interesting to learn how people are building solutions with the SDK. :)

You didn't mention whether the cache in your scenario is in-memory or out-of-process. If in-memory, you could always cache the `SearchParameters` object alongside the results so you could use it again later. If it's a remote cache, I'd recommend defining your own persistence f

[2017-02-10 18:11] #2797 closed

[2017-02-11 07:03] mxcolin opened #2811 "Cannot get full list of Virtual Machines"
When I try to get a list of Virtual Machines it just returns the first VM and then nothing after that.

[code]

Additionally `azure.ResourceGroups.List()` never returns.

[2017-02-12 10:59] ElD4n1 commented on #2587
For a permanent workaround consider to download the AutoRest NuGet package manually and use the included AutoRest.exe via command line (e.g. NuGet Package Manager Console) to always have the newest version in use.

[2017-02-13 12:22] ArslanAli7 opened #2812 "Avro Serializer Null values issue."
Hello there i am new to Avro format, i am using data factory to copy azure sql database data to data lake but i am facing issues when i try to extract the data from an avro file with the column which contains null values inside it, for a while  i searched on the internet and tried AvroSampleOverview sample provided and i tried to change Location data member to accept null values i.e int? with valu

[2017-02-13 19:06] markcowl commented on #2776
So, what youre describing would seem like a P0 service issue.  The API-Version is a contract, if the pattern  of calls change without a change in API-Version, that is a P0 service bug.

If the API-Version does change, then tests need to be re-recorded, and the playback system is explicitly designed to require forcing re-recording of tests when the api-version changes.

[2017-02-13 19:09] colemickens commented on #2776
Okay, thanks.

[2017-02-13 19:09] #2776 closed

[2017-02-13 19:15] markcowl commented on #2762
You need to make sure that the subscription is in the same directory as the application you are using for authentication, that the application is authorized to use resource manager APIs, and that the application has been assigned a role that provides it access to the subscription (at leasr reader, but you probably want it to have Contributor or Owner access).

If you think that all this is the cas

[2017-02-13 19:24] markcowl opened #2814 "Update AutoRest-generated ARM libraries to be VS2017 compatible"
### Description
VS2017 requires using the new 'NetStandard.Library' package, at least version 1.6.1.

- [x] Update management packages to use this library
- [x] Verify Test pass
- [x] Republish libraries for new runtime

- Cost: 6

[2017-02-13 19:30] markcowl opened #2815 "Change build system to use VS2017 tools"
### Description

VS2017 tools require a change back to csproj files.  Prototype updating the build system to use the newest tools.  At the same time retarget build at only two targets:  .Net 4.5.2 and .NetStandard 1.3

This will mean updating the build tools, CI automation, setup documentation, and onboarding documentation to match; and to set aside a CI machine to publish packages for servicing u

[2017-02-13 19:33] markcowl opened #2816 "[Investigate]: Republish Hyak ClientRuntime and tools to target .Net Core (NetStandardLibrary 1.6.1)"
### Description

Locally rebuild and republish runtime packages and one Hyak library (HDInsight) to support .NetCore build.

Verify that these packages can be consumed in a NetCore VS2017 app.

If this works, publish the libraries and update the netcore libraries to match

### Cost: 4

[2017-02-13 23:11] troshko111 opened #2819 "Poor error reporting by ResourceManagementClient"
[code]

Gives

*What exactly* was invalid in that filter? Saying "invalid filter" and dumping entire filter in this case is like throwing an Exception saying "error"

[2017-02-13 23:19] TarasRoshko opened #2820 "Poor List API design in ResourceManagementClient"
`List(Async)` returns a page but does not accept a page hence can not be used by itself to fetch all the pages, requires to use `List(Async) `+ separate while loop with `ListNext(Async)`

1) `List` should be single API accepting a page, `Page.Start/First` (preferably) or `null` for first page, previous result allows to loop
2) Should provide an overload returning `IEnumerable` fetching page by pag

[2017-02-13 23:29] TarasRoshko commented on #2757
I also want to stress on the error message #2819

I tried to get resources by name, always get 0 results. Can you confirm this ever worked? I can't quite understand how this is even possible

[2017-02-14 01:38] hovsepm commented on #2820
@TarasRoshko This is by design. Please re-open this issue in https://github.com/Azure/autorest since it is a part of auto generated logic and is common for all the SDK packages.

[2017-02-14 01:38] #2820 closed

[2017-02-14 01:47] hovsepm commented on #2811
@mxcolin please make sure you have all the 3 VMs under the same Service Principal Subscription that you use in the List method. A good way to double-check it is to run Azure PS or Xplat CLI cmdlets and make check the output. e.g.
[code]

[2017-02-14 21:01] matthchr commented on #2539
Hi @peter172sp, sorry for the delay. We're in the process of updating our client to more gracefully handle this situation ([in PR here](https://github.com/Azure/azure-sdk-for-net/pull/2822)).

What we are doing is this:
1. We split out the stuff in Azure.Batch that used storage to a separate assembly which will be called Azure.Batch.FileStaging. (Note this isn't published on NuGet yet but it will

[2017-02-16 20:13] rosshinkley commented on #2205
+1, I'm also having this problem.  For v14.0.0-prerelease, the `Resources` field needs to be set to null, and is unfortunately a protected set.  To set it to `null`, you'll need to use reflection:

[code]

[2017-02-16 20:32] naveedaz commented on #2335
This is fixed now in the latest SDK version.  [https://www.nuget.org/packages/Microsoft.Azure.Management.Websites/1.5.0-preview](url).

[https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/WebSites/Microsoft.Azure.Management.Websites/Generated/Models/Site.cs#L38](url)

[https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/WebSites/Microsoft.Az

[2017-02-16 20:32] #2335 closed

[2017-02-17 03:31] solvingJ opened #2833 "Is it possible to get at the raw JSON from client operations, or easily serialize the objects?"
For example:

NetworkInterface myInterface = await client.NetworkInterfaces.GetAsync(resourceGroup, integrationTestInterface)

I would like to be able to print/save the raw text output from this operation to a text file.

Alternatively,  I would like to know the best way to get a serialized version of myInterface if possible. I've searched through the repo and tried some things, and haven't found

[2017-02-17 10:51] solvingJ commented on #2833
Based on this:

https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/Network/Microsoft.Azure.Management.Network/Generated/NetworkInterfacesOperations.cs

Microsoft.Rest.Serialization.SafeJsonConvert.SerializeObject(testInt, new JsonSerializerSettings())

There must be something with the JsonTransformer annotations and serializer settings, but I can't figure it out.

[cod

[2017-02-17 18:56] markcowl commented on #2833
You can get the raw response from the operation using client.NetworkInterfaces.GetAsync(resourceGroup, integrationTestInterface)   This returns a structure that copntaisn the raw request, respoinse, and the deserialized NIC.

[2017-02-17 18:56] #2833 closed

[2017-02-17 19:05] solvingJ commented on #2833
Thats literally the operation I started with, and what I get is a strongly typed object: NetworkInterface.

I'm asking HOW do I get the raw request out of it?

[2017-02-17 19:12] markcowl commented on #2749
Closing for lack of response.  Please file a new issue if you see this error in an ARM client

[2017-02-17 19:12] #2749 closed

[2017-02-17 19:18] markcowl commented on #2465
Fixed.  Please open a new bug if you see this again.

[2017-02-17 19:18] #2465 closed

[2017-02-17 19:20] markcowl commented on #2262
@twitchax Please decide how we should do this

[2017-02-17 19:30] markcowl commented on #2194
CloudException already contains the entire request and response @devigned what is the actual ask here?

[2017-02-17 19:59] devigned commented on #2194
to actually show it in the exception output :)

[2017-02-17 22:14] shahabhijeet opened #2835 "TestFx is not working for Sql tests"
Investigate why Hydra framework is not working for SQL tests.
Plus they are planning to migrate to Autorest in next sprint.
Keeping this on our side if we need to fix the hydra framework.

[2017-02-18 03:25] solvingJ commented on #2833
For posterity and future enthusiasts, here is how :

            var SerializationSettings = new JsonSerializerSettings
            {
                Formatting = Formatting.Indented,
                DateFormatHandling = DateFormatHandling.IsoDateFormat,
                DateTimeZoneHandling = DateTimeZoneHandling.Utc,
                NullValueHandling = NullValueHandling.Ignore,
                Re

[2017-02-20 05:01] mxcolin commented on #2811
I have 1 single subscription. The method I am using "FromServicePrincipal" asks for 3 ID's which I get from the subscription and the Application I have registered. I have 3 VM's of which 1 is in WestUS and 2 are in WestUS2. It only lists the one in WestUS and NOT the ones in WestUS2.

Your suggested PowerShell script fails with

Get-AzureRmVM : Run Login-AzureRmAccount to login.
At line:3 char:1
+

[2017-02-20 05:07] mxcolin commented on #2811
I have no clue how to associate a Virtual Machine with a service principal. I created an Enterprise Application in the Active Directory section so I could use the 3 ID's for this method, but there is no mention of service principals there or in any properties for a Virtual Machine.

[2017-02-20 17:17] GerFVersteegGitHub opened #2840 "cloudtable does not contain a definition for.ExecuteQuery"
Have a nice day,

Cloudtable.ExecuteQuery(Query, .. is in error.
'Cloudtable' does not contain a definition for 'ExecuteQuery' ...

This is in Visual Studio 2017 Asp.Net Core
Nuget: WindowsAzure.Storage v8.10

Can any one give a tip what to do with this problem.

Thanks in advence Ger Versteeg
![executequery](https://cloud.githubusercontent.com/assets/13047756/23135400/c26943f4-f798-11e6-86f9-f68a

[2017-02-21 09:01] treziac commented on #2812
Your schema must be an union of null and int

If you use ReflectionSchemaBuilder to de/serialize, you have to mark your int? as [NullableSchema], it should look like

[code]

(and optionally [DefaultValue(null)])

which will give the schema
`{"name":"Value","type":["null","int"],"default":null}`

[2017-02-21 23:42] matthchr commented on #2539
@peter172sp This is all published now:
[Azure.Batch which doesn't rely on storage at all](https://www.nuget.org/packages/Azure.Batch/)
[Microsoft.Azure.Batch.Conventions.Files which targets the latest storage library (8.0.1)](https://www.nuget.org/packages/Microsoft.Azure.Batch.Conventions.Files)
[Azure.Batch.FileStaging which contains the logic which used to be in Azure.Batch and requires storage

[2017-02-21 23:42] #2539 closed

[2017-02-22 23:42] cormacpayne commented on #2816
List of services to update:
- Automation
- HDInsight
- SiteRecovery
- Sql**
- StreamAnalytics

** - maybe

[2017-02-22 23:57] cormacpayne commented on #2816
Packages to update:

- Hyak.Common
    - [Azure/hyak-common](https://github.com/Azure/hyak-common)
    - Latest version: [1.1.0](https://www.nuget.org/packages/Hyak.Common/)
- Microsoft.Azure.Common
    -[Azure/azure-sdk-for-net (master)](https://github.com/Azure/azure-sdk-for-net/tree/master)
    - Latest version: [2.1.0](https://www.nuget.org/packages/Microsoft.Azure.Common/)

[2017-02-23 08:57] sopelt opened #2852 "AutomationManagementClient parameter marshalling differs from Azure portal"
We are issuing Azure Automation **Jobs** (runbook execution requests) via **AutomationManagementClient**. There **Parameters** are provided via a `Dictionary<string, string>` as [described in the documentation](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-input-parameters#assign-values-to-input-parameters-in-runbooks). We noticed, that some of our parameter strings that hap

[2017-02-23 17:46] tlangreh opened #2853 "Search SDK: Highlights == null when it shouldn't."
I'm having an issue with the SDK where Highlights is null in in the results in some cases and I can't figure out why. The Highlight field names and pre/post tags are being specified and I'm getting a valid array of Highlights on the index with most results, but even though the content contains the text and the field containing the search term is requested via the Highlighted fields property on the

[2017-02-23 18:45] tlangreh commented on #2853
So, on the "comm" search it actually seems to be when the content has the word "communication" in it, not "comment".  Another example of content causing this issue:

"Southside Electrical is going to meet Cory at the farm Tuesday, December 13 at 9:00. Corey and I have been in communication about this. "

[2017-02-23 20:09] brjohnstmsft commented on #2853
@tlangreh Can you provide some code showing how you're setting up your Search request?

[2017-02-23 21:00] tlangreh commented on #2853
Hi Bruce,

Here is a code sample that I hope will be useful for reproducing the problem. Our code is actually quite different because we are using inheritance for several aspects of this, but in the end, this is basically what it comes down to. I also want to mention that we weren't seeing this issue when we were on the free version, but only since we moved to the S1 level and uploaded nearly 7 mi

[2017-02-23 23:32] brjohnstmsft commented on #2853
@tlangreh Thanks for the code. I shared this with Nate and based on the parameters in the request, we agree this is an instance of the highlighting issue that he described in [this MSDN thread](https://social.msdn.microsoft.com/Forums/azure/en-US/f56c5a84-369c-4c2c-ad6f-81698c55cca8/highlights-null-in-search-results?forum=azuresearch). Since that issue is in the REST API and not our .NET SDK, I'm

[2017-02-23 23:32] #2853 closed

[2017-02-24 00:17] brjohnstmsft commented on #2791
Fixed in this PR: https://github.com/Azure/azure-sdk-for-net/pull/2849

This will ship in the next release of the Azure Search .NET SDK. I'll close the issue at that time.

[2017-02-24 19:28] markcowl commented on #2840
@GerFVersteegGitHub Despite the title of the repo, WindowsAzure.Storage does not reside here.  Can you post this question to the forums, or the github repo for windowsazure.storage: https://github.com/Azure/azure-storage-net

[2017-02-24 19:28] #2840 closed

[2017-02-24 19:31] markcowl commented on #2852
@safeermohammed @eamonoreilly Looks like an API modeling issue, can you take a look?

[2017-03-01 09:14] UMW360 opened #2871 "Newtonsoft old reference is being used in Insights project"
It looks like Azure Insights plugin still uses the older version of newtonsoft(6.0.8) which is not consistent with other plugins which are using newtonsoft (9.0.1). Is it possible to consolidate the newtonsoft reference across the Azure plugins

[2017-03-01 18:43] exzachtly1 opened #2873 "ListGeoRegionsAsync() fails due to using wrong HTTP verb (POST when it should be GET)"
When calling extension method ListGeoRegionsAsync using WebsiteManagementClient, I am receiving an error that the method does not exist on the API. This is because it attempts to call the API method using POST instead of GET. It should issue a GET request at the following resource:

https://management.azure.com/subscriptions/[subid]/providers/Microsoft.Web/geoRegions?api-version=2015-08-01

The ge

[2017-03-02 18:39] matthchr commented on #2362
@jmthornton We recently split the FileStaging part out into a separate nuget package: [Azure.Batch.FileStaging](https://www.nuget.org/packages/Azure.Batch.FileStaging/6.0.0) -- you should now be able to use the latest version of storage (8.0.1) with the assembly.

If you want to use an older version (7.* for example) you can try an app.config remapping.

[2017-03-02 18:39] #2362 closed

[2017-03-03 04:36] ArslanAli7 commented on #2812
i dont know what schema does Azure Data factory uses for Avro format, but my data is a union of null and int,please let me know if you need some code to have an overview and maybe you can point me out my mistake.

[2017-03-03 19:27] shahabhijeet commented on #2773
@coonmoo we provide Microsoft.Rest.ClientRuntime.Azure.Authentication to address the same scenario you just mentioned.
http://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure.Authentication/

Please let us know if this does not address your requirement. Please open a new issue and let us know the scenario under which the current package does not work.

[2017-03-03 19:27] #2773 closed

[2017-03-03 19:28] shahabhijeet commented on #2762
@andrerav hope our suggestion resolved your issue. Closing this issue.

[2017-03-03 19:28] #2762 closed

[2017-03-03 21:54] matthchr commented on #2360
This has been ported to netcore now:
https://www.nuget.org/packages/Azure.Batch/

Closing this issue.
-Matt

[2017-03-03 21:54] #2360 closed

[2017-03-06 01:51] cormacpayne commented on #2816
Changes merged into `HyakNETCore` branch and published to NuGet.

[2017-03-06 01:51] #2816 closed

[2017-03-06 20:35] #2814 closed

[2017-03-07 08:17] christophwille opened #2904 "Non-Public Members only on IPublishingProfile (via GetPublishingProfile)"
With Microsoft.Azure.Management.AppService.Fluent version 1.0.0-beta50

https://github.com/Azure/azure-sdk-for-net/blob/Fluent/src/ResourceManagement/AppService/Microsoft.Azure.Management.AppService.Fluent/Domain/IPublishingProfile.cs

I can access those via Reflection, yes, but aren't those intended to be public?

Further observations:

Why is WebDeploy information the publishing profile missing?

[2017-03-07 10:15] petermzg opened #2905 "Problem with security in Microsoft.Azure.Management.DataLake.Store"
When I try to use Microsoft.Azure.Management.DataLake.Store from AppDomain, I get error:

For AppDomain I have next permissions:
[code]

[2017-03-07 19:18] nathandavidson commented on #2871
If I'm understanding this issue correctly, my team is currently blocked by the same problem. The latest 0.15.0-preview version of the [Microsoft.Azure.Insights NuGet package](https://www.nuget.org/packages/Microsoft.Azure.Insights/) has a dependency on Newtonsoft.Json with a maximum version of 7.0.0, which means it cannot be installed along with other libraries in our project which depend on Newto

[2017-03-08 01:14] #2196 closed

[2017-03-08 01:16] hovsepm opened #2910 "Integrate license header checker into build process"
We should fail a PR if any of the cs files miss License header.

[2017-03-08 18:31] antonydeepak opened #2911 "Performance Impact due to HttpClient Socket Closure on `SignAsync`"
We notice that our calls to `SignAsync` KeyVault operation averages around 800ms with some requests taking as long as 1.5s. We profiled your code focusing and found that the HTTP send request is the biggest bottleneck. In other words, this line:
`_httpResponse = await HttpClient.SendAsync(_httpRequest, cancellationToken).ConfigureAwait(false);`

Digging through Wireshark logs, we find that the `HT

[2017-03-08 21:13] jianghaolu commented on #2904
Hi @christophwille, thanks for reporting this. This is a mistake. We will fix them in this month's release.

Which WebDeploy support are you looking for? The file upload in Kudu?

[2017-03-09 12:47] herveyw commented on #2911
Adding @pomortaz.

@antonydeepak: The client code for this is all generated from Swagger and calls to SignAsync should not, I believe, be materially different than any other call in the client. Service processing of Sign is different than, say, GetKeyAsync or GetSecretAsync, if the target key is HSM based as the request has to be handled on the HSM machines. Are you using an HSM key? Is the delay

[2017-03-09 18:28] antonydeepak commented on #2911
It is not a HSM based key, so that option can be ruled out.
The delay for `SignAsync` is reproducible every time. I was able to reproduce this by looping through `SignAsync` call with a preset delay(2s) between subsequent calls. However, if I loop continuously without the 2s delay, it returns much faster, ~90ms, although sporadically it shoots up to 400ms. I use different `digest` for every loop r

[2017-03-09 19:14] pomortaz commented on #2911
@antonydeepak which version of the Key Vault SDK do you use?

[2017-03-09 19:19] antonydeepak commented on #2911
@pomortaz We use v1.0 in production, but I ran the tests by compiling the latest(v2.0?) form github.

[2017-03-09 22:55] antonydeepak commented on #2911
@herveyw I have misspoken on the HSM. I was digging through our deployment scripts today and found that we actually use HSM. I will try a `Software` key and see the performance changes and will comment back on this thread.
In the meantime, why would HSM be such an expensive operation?

[2017-03-10 01:17] RandalliLama opened #2917 "Change the KeyVault swagger operationId to follow Noun_Verb pattern"
The KeyVault swagger files do not follow the current Azure convention of naming operationIds with a Noun_Verb pattern.  If it's possible to make them adhere to that pattern without breaking current clients, then they should be changed to do so.

[2017-03-10 19:25] cormacpayne commented on #2103
Fixed.

[2017-03-10 19:25] #2103 closed

[2017-03-10 19:25] cormacpayne commented on #2104
This is part of the on-boarding documentation that needs to be worked on.

[2017-03-10 19:25] #2104 closed

[2017-03-10 19:26] cormacpayne commented on #2107
This will be part of the on-boarding documentation.

[2017-03-10 19:26] #2107 closed

[2017-03-10 20:38] jaredmoo opened #2922 "Microsoft.DotNet.Props was not found."
After installing VS2017, I always got build errors like this:

[code]

The solution (after installing VS2015 build tools preview 2 as mentioned in [README](https://github.com/Azure/azure-sdk-for-net#prerequisites)) is to edit `globals.json` files to specify sdk version `1.0.0-preview2-003121`, e.g.

[code]

[2017-03-10 20:40] jaredmoo commented on #2922
See related:
https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md#how-do-i-work-with-projectjson-and-csproj-on-the-same-machine

This will be fixed by #2815, but it took me a while to find this solution.

[2017-03-11 02:46] markcowl commented on #2819
@ravbhatnagar please take a look

[2017-03-11 02:48] markcowl commented on #2905
@begoldsm please take a look

[2017-03-11 02:49] markcowl commented on #2922
Closing as duplicate of #2815 this is scheduled for the current sprint.

[2017-03-11 02:49] #2922 closed

[2017-03-11 19:11] schuettecarsten opened #2926 "CertificateCloudCredentials lost in Microsoft.Azure.Common v2.1.1"
Type CertificateCloudCredentials is lost in Microsoft.Azure.Common v2.1.1 without any information?

[2017-03-13 15:58] johnwc opened #2928 "RecoveryServicesClient methods are internal."
The constructors for [RecoveryServicesClient](https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/RecoveryServices/Microsoft.Azure.Management.RecoveryServices/Generated/RecoveryServicesClient.cs) are all marked as internal, so they can't be used at all.  Is this on purpose?

[2017-03-13 16:40] matthchr opened #2929 "Azure client runtime UserAgent header initialization casues exception on Windows Server 2008"
A customer of ours has hit the following exception when initializing our client:

[code]

The issue seems to be the value retrieved from `ReadHKLMRegistry(@"SOFTWARE\Microsoft\Windows NT\CurrentVersion", "ProductName")` -- it is: `Windows Server (R) 2008 Enterprise`

I traced this to this code in the client runtime:
[code]

It looks like .NET forbids `(` and `)` in the HTTP headers (see [here](htt

[2017-03-13 17:12] markcowl opened #2931 "Fixes to Hyak-based Azure Common libraries"
- [ ] Verify and fix the net45 target
- [ ] Assess Microsoft.Azure.Common.NetFramework library and decide whether classes are necessary,, and for necessary classes, wheether they can be moved into the Microsoft.Azure.Common library

### Cost: 4

[2017-03-13 17:16] markcowl opened #2932 "Verify runtime fixes for protected model property setters in autoirest-generated clients"
The PR here: https://github.com/Azure/azure-sdk-for-net/pull/2915 fixes the issue

- [x] Verify the fix with an end-to-end test using get -> put for VMs in the latest compute library - add this as a test to existing compute tests
- [x] Once verified, merge the changes (along with these changes:https://github.com/Azure/azure-sdk-for-net/pull/2855 ) and publish the library

[2017-03-13 19:10] cormacpayne commented on #2926
@schuettecarsten Hey Carsten, we are tracking the status of this problem in issue https://github.com/Azure/azure-sdk-for-net/issues/2931

I'm going to close this issue in favor of the one we have opened. Please let me know if you have any other questions or concerns.

[2017-03-13 19:10] #2926 closed

[2017-03-13 19:13] cormacpayne commented on #2928
@johnwc Hey John, this is a known issue that is currently being worked on by the RecoveryServices team.

I will assign this to @dragonfly91 for future updates.

[2017-03-13 19:49] TheTrench commented on #2931
Can the 2.1.1 release be removed from NuGet since the loss of CertificateCloudCredentials breaks working code?

[2017-03-14 00:05] johnwc commented on #2871
There is also a issue with Microsoft.Rest.ClientRuntime referencing v6 for net45 but not the other two frameworks, they reference v9.  I created a [issue log](https://github.com/Azure/autorest/issues/2007) on their repo for this.

[2017-03-14 21:05] j055 opened #2935 "How do I create an SSL binding when the certificate is already installed?"
I have a wildcard certificate installed in the webapp. How do I create an SSL Binding to a certificate which is already installed? I was expecting to specify the thumbprint but it looks like I have to upload the cert every time I create a binding.

[code]

Thanks
Andrew

[2017-03-14 21:37] scout208 opened #2936 "Visual Studio 2017 Azure Mobile Apps Table Controller Scaffold Error"
I have created a .NET Mobile App Backend by following the guide as shown [here](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk#a-namedefine-table-controllera-how-to-define-a-table-controller). This worked wihout a problem in Visual Studio 2015, but once I loaded the project in Visual Studio 2017, I had the following issue:

1. Righ

[2017-03-15 13:10] leocgpe opened #2938 "Deploy site from a non-public source"
How can I copy a source code from a private storage like storage blob to a web site?
In the Fluent API I only found the option to do this with a public source control git.

[2017-03-15 15:03] andreygoran commented on #2541
Got the same problem when running azure.SqlServers.GetById() in ASP.NET.
Here is the workaround:

Thread thread = new Thread(() => { /* azure fluent code here */ });
thread.Start();
thread.Join();

[2017-03-15 18:09] johnwc opened #2939 "Microsoft.Rest.ClientRuntime net45 is referencing Newtonsoft 6"
The two .NetStandard's reference Newtonsoft v9, but net45 references v6. Was this overlooked or on purpose? It is causing reference issues with Azure SDKs that reference this along with Netwonsoft v9.

[2017-03-15 18:11] herveyw commented on #2911
@antonydeepak Apologies for the delay, I was out on vacation for a few days.

HSM keys require a double network hop, one to the AKV front-end and another to the AKV HSM backend machines. This generally shouldn't be noticeable; indeed it should usually be faster than a software key.

Can you tell us which Azure Region you're using for your testing?

[2017-03-15 21:27] abergs opened #2940 "WebApps.ListByGroup crashing/never returning"
Hi,

I'm trying to use ` azure.WebApps.ListByGroup(resourceGroup);` but it never returns or crashes.
Fetching individual websites work however.

What more information would you need in order to investigate?

[2017-03-16 07:07] antonydeepak commented on #2911
@herveyw I tested with `Software` key and it is faster than HSM; I see responses in ~200ms range. Currently, we have our Azure services hosted in `southcentralus`.

[2017-03-16 16:25] shahabhijeet commented on #2939
@johnwc we have taken dependency on v6 for .net 45.
We are looking to updating to v9 in future release.

[2017-03-16 16:25] #2939 closed

[2017-03-16 16:30] shahabhijeet commented on #2936
@scout208 this feature is not hosted on this particular repo (azure sdk repo)
Please go to the below website and ask question
https://azure.microsoft.com/en-us/support/forums/

[2017-03-16 16:30] #2936 closed

[2017-03-16 17:44] johnwc commented on #2939
Why is it closed, it is causing a reference issue with the rest of the Azure SDKs.  Shouldn't this be left open and marked closed once the issue is resolved?

In the work that I am doing, I have no control of the assembly redirection in the .config files. So we can not simply redirect the assembly. ( Orchestrator )

[2017-03-17 00:17] mredison opened #2947 "Exception: Could not load file or assembly 'Newtonsoft.Json' adding a REST API Client"
Hello, I am working a support case with a customer.

- Customer is trying to accomplish the following article: https://docs.microsoft.com/en-us/azure/app-service-api/app-service-api-dotnet-get-started

- I was able to add a REST API Client without issues using Visual Studio 2015 and Azure SDK v2.9.1.

- My customer is using v2.9.6 and she is receiving the following error:
Exception: Could not load

[2017-03-17 00:44] mredison commented on #2947
Hello, the action plan that worked for me was:

- Uninstall Azure SDK 2.9.6 or 3.0 and install the 2.9.1.

- I chose just the installer WebToolsAzure2015.exe from version 2.9.1 on this page: https://azure.microsoft.com/en-gb/downloads/archive-net-downloads

And that solved the issue.

Can you please review the lastest Azure SDK why there are not finding Newtonsoft.Json and cant generate the client

[2017-03-17 18:14] sphibbs commented on #2947
https://azure.microsoft.com/en-us/support/forums/ is the place for *that* .net sdk. I will reach out internally and help you find the right contacts.

[2017-03-17 18:14] #2947 closed

[2017-03-17 19:19] shahabhijeet commented on #2300
This has been fixed a while back (see issue# 2549). Please let me know or reopen this issue if you still see any problem.

[2017-03-17 19:19] #2300 closed

[2017-03-17 19:22] shahabhijeet commented on #2611
@JasonYang-MSFT please provide your OS and VS locale details.
Please provide steps to repro this issue.

[2017-03-17 19:24] shahabhijeet commented on #2627
@begoldsm this has been fixed in TestFramework version 1.5.2

[2017-03-17 19:24] #2627 closed

[2017-03-17 19:25] shahabhijeet commented on #2932
PR# https://github.com/Azure/azure-sdk-for-net/pull/2945
Waiting for the PR to be merged. But consider this done.

[2017-03-17 19:25] #2932 closed

[2017-03-17 19:27] shahabhijeet commented on #2835
This has been resolved and talked to the partner and suggested a workaround.

[2017-03-17 19:27] #2835 closed

[2017-03-20 23:19] markcowl commented on #2779
Fixed.

[2017-03-20 23:19] #2779 closed

[2017-03-20 23:27] markcowl opened #2954 "Update repo structure to support Multiple Profile side-by-side for sdk packages in the default branch"
Restructure the repository to allow building multiple profiles of modules side-by-side
- [ ] Update folder structure in the src directory and build components as follows:
   - ClientRuntime
  - (Service)
    - Common
      - library (src files included in packages projects)
      - Tests (src files included in tests)
    - Api-Version[s]
      - (Package-Name)
      - Tests

- [ ] Create a profile

[2017-03-20 23:38] markcowl opened #2955 "Update all project.json files for packages in AutoRest and HyakNetCore to enable xml documentation"

[2017-03-21 17:32] ChrisSfanos commented on #2947
We've identified the proper team for this and created a bug for a future Azure SDK for .NET release

[2017-03-22 05:40] v-xiaze opened #2977 "Regenerate Key for documentDb account"
Hi,

I found that there are functions for Redis and storageaccount to RegenerateKey(primary or secondary) since they both have .net management library, but I didn't find any function in Microsoft.Azure.Management.Resources to do the same thing for documentdb account. Can you please point me to the correct function in this library? I need to used .net api not rest api.

[2017-03-22 07:35] ArvindRSingh opened #2978 "SearchClient throws "Process is terminated due to StackOverflowException." on uploading a document"
Trying to upload a document using AzureSearch, index is already created.

[code]

Fails with "Process is terminated due to StackOverflowException." and it does not have stacktrace or any other detail.

Using Azure.Search package version 3.0.2, .NET framework ver 4.6.1

[2017-03-22 10:42] ArvindRSingh commented on #2978
My mistake, the complex object InterviewAnswerAudio has circular references through other objects and lists, so basically the serialized document is endless.
**Action**: fixed it by creating new model which does not contain endless references.

[2017-03-22 10:42] #2978 closed

[2017-03-22 11:35] danielok1993 opened #2979 "The request content is not valid and could not be deserialized: 'Could not find member 'variables' on object of type 'FlowTemplate'"
Hello,

I am getting an error when trying to update the Logic App. The initial deployment which creates the logic app with the connector works fine. However, when I change one of the parameters and call Deployments.CreateOrUpdate I am getting Microsoft.Rest.Azure.CloudException: Long running operation failed with status 'Failed'. Then, in the deployment within Azure Portal I can see the connector

[2017-03-22 14:05] vtherry opened #2980 "ClientRuntime - Microsoft.Rest.ServiceClient : Add support for in-memory client handler Microsoft.Owin.Testing.OwinClientHandler"
Hi,

as of today, we are forced to use an HttpClientHandler as the root handler in the class Microsoft.Rest.ServiceClient<T>.

Since we have a webapi selfhosted in OWIN, we would like to run our integration tests against an in-memory webapi so that our tests run faster. This can be achieve using the package Microsoft.Owin.Testing and using the OwinClientHandler.

We generated our client with AutoR

[2017-03-22 20:41] herveyw commented on #2917
@RandalliLama Known issue; changing it will break existing API.

[2017-03-22 20:43] herveyw commented on #2911
@antonydeepak Antony, we want to investigate this further and compare your client experience with the data that we have on the service, and the logs that you can enable for your key vault. Would you reach out over email to us using our feedback alias azurekeyvault at microsoft dot com so that the team can engage?

[2017-03-23 09:13] Umamaheswaran1990 commented on #2871
@shahabhijeet Is there any other information you guys are looking for. I would be happy to provide any information that would help resolve this. As @nathandavidson pointed out it would be really helpful if we could relax the constraint

[2017-03-23 15:25] AzureBinkie commented on #2871
This problem is only getting worse as Newtonsoft.Json is now at version 10 and now no frameworks support the latest.

[2017-03-23 15:26] AzureBinkie commented on #2939
This issue is only getting worse as Newtonsoft.Json is now at version 10 and now no frameworks support the latest.

[2017-03-23 19:12] YunLi1988 opened #2983 "NuGet Package restore failed for project: Unable to find version '1.0.1' of package 'Microsoft.Azure.Common.Dependencies'"
Error message:

Severity	Code	Description	Project	File	Line	Suppression State
Error		NuGet Package restore failed for project: Unable to find version '1.0.1' of package 'Microsoft.Azure.Common.Dependencies'.
  C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\: Package 'Microsoft.Azure.Common.Dependencies.1.0.1' is not found on source 'C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\'.
  C:\

[2017-03-23 20:38] svarcoe commented on #2871
I agree with @AzureBinkie, the problem is getting worse. Seems like every Azure Management nuget package relies on a different version of Newtonsoft.Json.

[2017-03-23 21:02] cleverguy25 commented on #2871
Can you change the package references to be a range, or accept all newtonsoft > 6?

[2017-03-23 21:04] cleverguy25 commented on #2939
Agree this should not be closed.  This is blocking install of latest SDK.

[2017-03-24 00:15] martinsawicki opened #2985 "Mark .NET fluent APIs with "beta" of some sort"

[2017-03-24 00:44] markcowl commented on #2931
This is fixed in 2.1.2

[2017-03-24 00:44] #2931 closed

[2017-03-24 00:54] markcowl commented on #2980
@vtherry ServiceClient provides constructor overloads, which allows clients that extend ServiceClient to use any rHttpClient they choose, which should serve the testing needs.

The problem is that the Owin Handler extends HttpMessageHandler, which does not allow setting important Http authentication, proxy, and other properties.  This being the case, using the HttpClient constructor overload seems

[2017-03-24 00:59] markcowl commented on #2983
All of the checked-in references to Microsoft.Azure.Common.Dependencies are referring to 1.0.0, which is available here: https://www.nuget.org/packages/Microsoft.Azure.Common.Dependencies/1.0.0

[2017-03-24 00:59] #2983 closed

[2017-03-24 01:02] markcowl commented on #2979
@pankajsn can you take a look?

[2017-03-24 01:11] pankajsn commented on #2979
Can you please assign this to @Tony Tang<mailto:tonytang@microsoft.com> ?

From: Mark Cowlishaw [mailto:notifications@github.com]
Sent: Thursday, March 23, 2017 6:03 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: Pankaj Singh Negi <Pankaj.Negi@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-net] The request content is not valid and

[2017-03-24 01:14] pankajsn commented on #2979
@Mark Cowlishaw<mailto:Mark.Cowlishaw@microsoft.com> , Can you please assign this to @Tony Tang<mailto:tonytang@microsoft.com> ?

From: Mark Cowlishaw [mailto:notifications@github.com]
Sent: Thursday, March 23, 2017 6:03 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: Pankaj Singh Negi <Pankaj.Negi@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/a

[2017-03-24 17:57] begoldsm commented on #2905
@petermzg Just to make sure I understand correctly, the error is when attempting to load that type:
`'Microsoft.Azure.Management.DataLake.Store.Models.AdlsErrorException`, correct?
If this is the case, I will need some help from @markcowl, since this is a class generated by AutoRest which has the following attribute at the top layer:
`[System.Serializable]`

[2017-03-24 18:29] cleverguy25 commented on #2871
This is still tagged as MoreInfoFromCustomer, what extra info do you need?  This is blocking upgrade to newer azure client packages.

[2017-03-24 18:43] abatishchev commented on #1602
+1

[2017-03-24 18:46] abatishchev opened #2987 "Can't update Microsoft.Azure.Common: The package tried to add a framework reference to 'System.Threading' which was not found in the GAC."
When I try to update Microsoft.Azure.Common from 2.1.1 to 2.1.2 I'm getting the following error:

[2017-03-24 19:20] dallancarr commented on #1602
Just upgraded to Microsoft Azure Common Library 2.1.2. Highest minor will do though.

[2017-03-24 19:25] michaelaird commented on #1602
Also, Microsoft.Azure.KeyVault no longer depends on Microsoft.Azure.Common

[2017-03-24 19:53] petermzg commented on #2905
@begoldsm Yes! Problem with security attribute [SecurityPermission] on method GetObjectData (Microsoft.Azure.Management.DataLake.Store.Models.AdlsErrorException).  And several other classes also contain this attribute.

[2017-03-25 00:11] markcowl commented on #2905
Yes, looks like the ```GetObjectData``` override needs a ```SecurityCritical``` attribute, and the corresponding serialization constructor may slso need a ```SecuritySafeCritical``` attribute.  Of course this means the method will not be usable under partial trust.

[2017-03-26 06:04] johnwc commented on #2939
@shahabhijeet can you please change this back to open, this is a real issue and it is not resolved.

[2017-03-27 17:49] shahabhijeet opened #2993 "Enable username/password login scenario in Testframework"
https://github.com/Azure/azure-sdk-for-net/commit/c456f0b0bf1fb5239873ee7fb924ea234d328e5a
The above commit disabled username/password scenario for .net core.
This was always enabled for .net core. Only interactive login is supported in .NET 45.
Login using username/password should be enable for .net core scenarios.

[2017-03-27 17:59] hovsepm commented on #2993
this is by design. http://stackoverflow.com/questions/39407952/adal-net-core-nuget-package-does-not-support-userpasswordcredential

[2017-03-27 17:59] #2993 closed

[2017-03-28 08:46] danielok1993 commented on #2979
Hello,

I believe you can close the ticket, it seems that the smallest variation from the correct template will break the deployment. e.g. if you add variables object in the wrong path. I believe this should be ignored or the error should be more meaningful pointing to the mistake.

Thank you,

Daniel

[2017-03-29 07:57] AlexGevorkyan commented on #1988
Hi guys! I have read the previous posts and still have to write my question.
In accordance with the article
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-get-started-csharp
I try to add the package Microsoft.Azure.Management.ResourceManager to my solution.

I used both variants to install it:
Install-Package Microsoft.Azure.Management.ResourceManager -Pre
and
Install-Package Mic

[2017-03-29 08:02] AlexGevorkyan opened #3001 "NuGet Microsoft.Azure.Management.Resources error"
Hi guys! I have read the closed issue
https://github.com/Azure/azure-sdk-for-net/issues/1988
and still have to write my question.

In accordance with the article
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-get-started-csharp
I try to add the package Microsoft.Azure.Management.ResourceManager to my solution.

I used both variants to install it:
Install-Package Microsoft.Azure.M

[2017-03-29 12:54] JohnGalt1717 opened #3002 "Latest Version (1.1.2) restricts to Newtonsoft.Json < 7.0.0"
Hyak.Common should be working with Newtonsoft.Json 10.0.1 by now and was compatible with version 9 in 1.1.1 but now the new 1.1.2 is even worse and restricted to < 7.

Please fix this so that it's marked as compatible with 10. (it shouldn't have any restriction at all because there are no breaking changes in newtonsoft.json)

[2017-03-29 17:26] cleverguy25 commented on #2871
@shahabhijeet no response?

[2017-03-29 18:48] markcowl commented on #3002
@JohnGalt1717 There actually are breaking changes, later versions of Newtonsoft.Json remove the json schema validation functionality that was available in 6.x.

The .NetCore versions depend on Newtonsoft.json 9, the net45 versions do not yet, though we will likely update this for all the runtimes in a near term sprint.

[2017-03-29 19:22] JunTaoLuo opened #3003 "Update Newtonsoft.Json version in Microsoft.Azure.KeyVault.WebKey"
Not sure if this would be considered as a duplicate of #3002 but we are running into an issue with the Microsoft.Azure.KeyVault package. The dependency Microsoft.Azure.KeyVault.WebKey dependency has restricted the Newtonsoft.Json dependency to be < 10.0.0 and we have updated our stack in ASP.NET Core to 10.0.1. We consume this package so I'm wondering if the dependency will be updated soon?

cc @E

[2017-03-29 20:52] JohnGalt1717 commented on #3002
The issue is that we're now blocked from getting the latest version of both your package and newtonsoft.json which the longer you wait to fix this the more things that depend on the new functionality in newtonsoft.json are going to be out of our reach.  Given that you went backwards and no longer even support 8 and  9.x which everyone has been on for over a year this should be an incredibly high p

[2017-03-29 21:00] markcowl commented on #3003
@JunTaoLuo This would be a separate, but related issue.

[2017-03-30 06:07] cleverguy25 commented on #3002
This is the same as https://github.com/Azure/azure-sdk-for-net/issues/2871

[2017-03-30 06:25] geekcubed commented on #3002
Chip in my 2 cents here:

The JsonSchema functionality was marked as obsolete as of version 7 - almost two years ago.  That has given you ample time to prepare for it's removal (which has finally occurred as of v10).

You've version locked to 6 and 7 in order to provide a band-aid approach to the issue - this is a seriously smelly fix.  Your decision has in turn has made you package a problem for