[2020-04-15 09:18] CSM91 commented on #4645
Hi, I've set in the terminal: export AzureServicesAuthConnectionString="RunAs=Developer;DeveloperTool=VisualStudio" and export AZURE_COLLECT_TELEMETRY="false" and it still took 1 min and 20 seconds

[2020-04-15 09:20] wantedfast opened #11331 "[Azure Core] Readme content and sample code of Azure Core is incorrect"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Azure.Core#consuming-service-methods-returning-asyncpageablet)
![image](https://user-images.githubusercontent.com/25993729/79320369-5049ca80-7f3c-11ea-8d28-bba5e179d5ac.png)

Comments: Variable name not suitable, change it to `allSecrets` might be good for here.

2.
Section [Link ](https://github.com/Azure/azure-sdk-

[2020-04-15 09:54] xccc-msft commented on #10011
@chrisalexander We are still waiting for updates from service end. If they decide to revise the swagger, then we could regenerate the code based on updated swagger.

[2020-04-15 10:02] amnguye commented on #10529
Sorry about this, could you re run this and get the request id again?

[2020-04-15 10:28] woutervs commented on #10529
Definitely: 4e0a9657-d01e-0007-6510-139d10000000

[2020-04-15 10:35] chrisalexander commented on #10011
OK thanks, will see if I can get hold of them

[2020-04-15 11:29] Puiu commented on #4010
I managed to get the settings using another approach:

`public Settings GetConfigurationSettings()
        {
            var config = new ConfigurationBuilder()
                    .AddJsonFile("local.settings.json", optional: true, reloadOnChange: true)
                    .AddEnvironmentVariables()
                    .Build();

            var settings = new Settings();
            config.Bind(

[2020-04-15 12:07] DavidStrickland0 opened #11332 "[FEATURE REQ] TryGetConfigurationSetting in Azure.Data.AppConfiguration.ConfigurationClient"
**Library or service name.**
Azure.Data.AppConfiguration

**Is your feature request related to a problem? Please describe.**
Currently when you request a Setting from Azure Configuration service that doesn't exist the Api returns a 404.
at https://github.com/Azure/azure-sdk-for-net/blob/94fdb6ba5719daa4d8d63b226c61064b2f52c085/sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationClien

[2020-04-15 12:23] jsquire commented on #11300
Reopening;  the PR that Serkant put out was for another issue and unintentionally commented here.   I haven't put out a fix for this yet.

[2020-04-15 13:40] csharpfritz commented on #4010
Friends, this is broken... and we should move on with a work-around.

[The documentation now recommends that you fetch configuration settings as EnvironmentVariables](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#environment-variables):

[code]

Let's close this issue and mark it as abandoned with this as the recommended work-around.

[2020-04-15 13:53] AlexGhiondea commented on #11332
@DavidStrickland0 thanks for filing this issue. We have discussed this in the past at length. /cc @annelo-msft.

We have decided against returning null on a 404 as that has the potential of ending up with a `NullReferenceException` somewhere in the code that is further away from where the call to the service happens, which would make this more difficult to diagnose.

We also considered adding a Tr

[2020-04-15 13:59] EmmaZhu opened #11333 "[QUERY]How to set server timeout for request to Azure Storage Server"
**Query/Question**
I've read the code and see that in each generated request interface, timeout can be set. For example:
`public static async System.Threading.Tasks.ValueTask<Azure.Response> SetPropertiesAsync(
                Azure.Core.Pipeline.ClientDiagnostics clientDiagnostics,
                Azure.Core.Pipeline.HttpPipeline pipeline,
                System.Uri resourceUri,
                A

[2020-04-15 14:56] DavidStrickland0 commented on #11332
I have an Api that is exposed by multiple clients for use by their customers. We have our default settings in appsettings. If a client wants to change any of those settings we setup Azure configuration and we add whatever they want changed up into Azure Con.

Then when one of their customers makes a call to our Api via the Clients website the Api goes to AzureCon and gets any unique settings that

[2020-04-15 15:50] jsquire commented on #10404
Hi Seffen.  We're sorry to hear that you're disappointed.  As mentioned, the `EventProcessorClieent` is intended to be a drop-in replacement for the legacy `Microsoft.Azure.EventHubs.Processor` package while offering an experience familiar to that of the `EventHubConsumerClient`.   We believe this provides a natural step-up experience that addresses the production needs of a large segment of Event

[2020-04-15 16:04] #11300 closed

[2020-04-15 16:05] kylewilt-conf opened #11336 "[QUERY] What is the best way to upload a blob when you don't want to have to buffer the data ahead of time?"
**Query/Question**
How would I go about uploading a blob without inversion of control (having to pass a live stream into the existing Upload methods). Not all scenarios/apis/designs allow for this to work smoothly. Often times you want to write to the stream directly and retain control of the flow. I would expect the underlying implementation to buffer as appropriate and send over the network as i

[2020-04-15 16:15] jsquire commented on #8592
Fixed by #9431

[2020-04-15 16:15] #8592 closed

[2020-04-15 16:28] annelo-msft commented on #10379
Addressed in new design.

[2020-04-15 16:28] #10379 closed

[2020-04-15 16:33] #11277 closed

[2020-04-15 17:30] henrik-me commented on #5930
Disclaimer: Functionality like this should be used with careful consideration to protect from calling the STS too frequently. Ideally the optimal user experience should be taken into account but measures should also be taken to not make calls that are not needed (telemetry on application usage should be able to find the optimal balance).

@chrisamert : I'm assuming we are talking Confidential Clie

[2020-04-15 17:58] schaabs commented on #8957
Thank you all for you're contributions to this issue. As @a99cl208 and @brandonh-msft pointed out the MSAL APIs don't expose guest tenant information when we list accounts, so at this time the `SharedTokenCacheCredential` is limited in it's functionality because of this. We are working on broader changes to address this, which should be coming in our next preview release in May.

Also, in our last

[2020-04-15 18:11] Petermarcu commented on #5930
Thanks @henrik-me . Lets use your issue to track progress on this. I'll close this issue here...

[2020-04-15 18:11] #5930 closed

[2020-04-15 18:16] kylewilt-conf commented on #11336
I have thought of an approach to implement a custom stream using a channel (albeit with some extra overhead) that would more or less work properly assuming the upload operation uses the tpl properly.

[2020-04-15 18:38] schaabs commented on #10738
@pakrym can you comment on the different approaches to Key Vault integration with ASP.NET Core.

[2020-04-15 18:39] maririos commented on #10490
Ensure we do this through the API

[2020-04-15 18:39] mayank1495 commented on #8169
@seanmcc-msft
Probably the issue persists or may be am missing something out.
If I install **Azure.Storage.Blobs**  along with **Microsoft.Azure.KeyVault** or **Microsoft.Azure.Services.AppAuthentication** , it gives the same namespace error as originally mentioned in this thread.
Please help.

[2020-04-15 18:44] henrik-me commented on #5930
@Petermarcu : more than likely there will be work on consumers for this and this has to be exposed in the Azure SDK's as well. I think those items goes hand in hand. Also ATM, this is not something we are prioritizing, however there are workarounds if using MSAL directly, not sure if it makes sense for Azure SDK's to expose some of that functionality.

[2020-04-15 18:48] operationslazlo326 opened #11340 "Microsoft.Azure.EventHubs and CancellationTokens"
Has the team responsible for the Microsoft.Azure.EventHubs NuGet package ever heard of CancellationTokens?

Pretty much unforgivable in 2020 for async methods not to support them.

[2020-04-15 18:48] AlexGhiondea commented on #11332
Thanks for describing your scenario and thanks for offering a potential fix.

We have generally veered away from interfaces as they don't have a versioning story. That is to say that there is no good way to add a new member on an existing interface without breaking backward compatibility.

We have also been consistently in the Track2 libraries (the new libraries that we are building) throwing an e

[2020-04-15 18:51] #11233 closed

[2020-04-15 18:52] schaabs commented on #10259
@CKHere in our last preview release, [1.2.0-preview.2](https://www.nuget.org/packages/Azure.Identity/1.2.0-preview.2), we added the `VisualStudioCredential` to the `DefaultAzureCredential` authentication flow, which I believe should fix this scenario of signing into a guest tenant when authenticating in VS. If you log into VS with the desired account, and then specify the tenant you wish to authen

[2020-04-15 18:52] #10259 closed

[2020-04-15 18:55] annelo-msft commented on #10625
@ctstone , @bojunehsu , @maririos

[2020-04-15 19:02] schaabs commented on #9835
/cc: @catalinaperalta we should make sure to add this to the logging work you're driving so that it gets implemented in all languages.

[2020-04-15 19:04] serkantkaraca commented on #11340
Microsoft.Azure.EventHubs is the legacy SDK and we are not making any API changes recently.

Please feel free to provide your feedback for https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs

[2020-04-15 19:04] #11340 closed

[2020-04-15 19:31] jsquire opened #11347 "[Design Discussion] Should Event/Message Batches be Scoped to a Single Send or Reusable?"
# Summary

The current design of the `EventDataBatch` in the Event Hubs client and `ServiceBusMessageBatch` considers them scoped to a single send operation; once a batch is full and has been published, it is intended to be disposed and a new batch created for any subsequent send operations.  As a result, batches are read-only entities into which events/messages may be added and then are held by t

[2020-04-15 19:32] jsquire commented on #11347
//cc: @richardpark-msft, @chradek, @conniey, @hemanttanwar, @srnagar, @KieranBrantnerMagee, @yunhaoling, @YijunXieMS, @JoshLove-msft, @ShivangiReja

[2020-04-15 19:42] pakrym commented on #10738
The https://github.com/Azure/azure-sdk-for-net/blob/31efa80ce402e5f97ef3e474a43d97f58f33d64f/sdk/extensions/Azure.Extensions.Configuration.Secrets/README.md is a correct one but the title of the page is wrong and I'll fix it.

Currently there are two ways to consume KV Secrets in ASP.NET Core:
1. Using Microsoft.Extensions.Azure to register SecretClient with DI, resolving it and calling SecretClie

[2020-04-15 19:43] JoshLove-msft commented on #11347
I can see why wanting to hold onto and re-send a batch might be useful independent of whether a Clear operation is exposed. For instance, if an app needs to send the same set of messages periodically on the same link. What are the benefits of having a Clear method? Is it just that we think this is something users will expect?

[2020-04-15 19:44] JoshLove-msft commented on #11347
Another issue with exposing the messages in a batch is that users could change the message properties which would invalidate our size calculations.

[2020-04-15 19:54] jsquire commented on #11347
We've received feedback that, in some cases, creating a batch is awkward due to the asynchonous nature of the call, and developers would prefer to have a flow something like:

[code]

Once a batch is created and messages/events have been added, it can be sent multiple times, though events/messages are typically transient in nature and intended to be published once.   I don't know of any scenarios

[2020-04-15 20:00] JoshLove-msft commented on #11347
Hmm but publishing the batch is still asynchronous. And I guess creating the batch is only asynchronous on the first call - subsequent calls should complete synchronously.

[2020-04-15 20:05] JoshLove-msft opened #11349 "Consider exposing a SessionCompleted event in Processor"
This would allow users to specify an event handler that will be called when the processor finishes processing each session (i.e. when a receive call times out for a particular session), which would offer more fine grained control in terms of doing other operations with a session that the processor doesn't expose. For instance, if they want to receive deferred messages from a given session, they co

[2020-04-15 20:22] JoshLove-msft commented on #10933
Proposal to expose SessionCompleted event - https://github.com/Azure/azure-sdk-for-net/issues/11349

[2020-04-15 20:27] maririos opened #11350 "[Documentantion] Add changelog"

[2020-04-15 20:39] nemakam commented on #11213
@ankit57 , are you running this on Azure? One thing that could affect this is a skew in clocks. If the service and the client are having a skew (tens of seconds), this may happen. Other than that there is no direct reason I can think of.
We will probably have to look at it closely by monitoring the operations on service.

@gereyhe, could you work with @ankit57 (offline) and take a look at investig

[2020-04-15 21:20] gereyhe commented on #11213
@nemakam that we already did and that's why we opened this thread. However I cannot post the backend information into a public forum but I do have all the details. Please let me know how I can share this with you. Thanks!

[2020-04-15 21:22] JoshLove-msft opened #11351 "Consider hiding lock renewal operations from Processor args"
In the ServiceBusProcessor/ServiceBusSessionProcessor, we supply the user event handler with args that provide access to settlement and lock renewal methods for the underlying receiver. Since the processor already supports auto-lock renewal, we should consider removing these methods from the event args.
[ProcessMessageEventArgs](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus

[2020-04-15 21:26] JoshLove-msft opened #11352 "Consider exposing a List of session Ids parameter in CreateSessionProcessor"
Currently, the [CreateSessionProcessor ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs#L522) method, has an optional parameter to specify a sessionId. If a sessionId is specified, we will only process that particular session. We should consider changing this to accept a list of session Ids, so that users can specify

[2020-04-15 21:32] serkantkaraca commented on #11347
I have never seen a customer for asking that however I don't think it will hurt to support Clear API on the batch. Does CreateBatchAsync cause I/O at all calls or only for the first call? I assume once link is established, max-message-size will available for the next calls w/o a need to go on the wire again.

[2020-04-15 21:40] nemakam commented on #11213
@gereyhe , why not do it the usual way of creating an ICM ticket internally and assigning it to ServiceBus team? For now, send me a mail to "nemakam at microsoft.com" and we can continue discussing there.

[2020-04-15 21:43] MiYanni commented on #10922
You get something like this in Message. Would be nice to have the information as separate properties (Content and Headers) for easy parsing/identification of the issue.
[code]

[2020-04-15 22:11] srnagar commented on #11347
@serkantkaraca It's only the first call that goes over the wire to get the max batch size.

[2020-04-15 22:19] JoshLove-msft opened #11354 "Consider removing "name" suffix from Create* method parameters on ServiceBusClient"
For our methods, CreateProcessor, CreateSender, CreateReceiver, etc, we have parameters like "queueName", "queueOrTopicName", etc. We should consider removing the "Name" suffix as it is debatable as to whether this adds any clarification to the usage, and may just be increasing the parameter name length with no added benefit.

Example:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/ser

[2020-04-15 22:30] JoshLove-msft commented on #11250
Sure, there were discussions on the Event Hubs side for implementing a form of "intelligent batching" where the SDK would batch up the events automatically. A lot options were proposed but each one had significant drawbacks. The final result, which isn't totally reflected in the document I am linking (I believe there is another one coming soon that will have more of a summary), is that we will add

[2020-04-15 22:40] jongio commented on #11330
Please PR.  Thanks

[2020-04-15 22:42] jongio commented on #11331
1. allSecretProperties

Please PR.

[2020-04-15 22:48] SeanFeldman commented on #11250
Safe batching is great when sending a large number of messages and need to be able to ensure the batch doesn't fail the size limit.

Quick batch sending is about having N number of messages that is not necessarily large, but needs to be sent out with as low setup overhead is possible. And that's where passing an `IEnumerable<ServiceBusMessage>` is handy.

That's why I'm 👍 for bringing back that ov

[2020-04-16 00:08] heaths commented on #11164
Apart from potentially separating this out into a separate client, this is a pretty straight forward model supporting CRUD+ methods and probably not much more we can or should do initially.

[2020-04-16 00:08] #11164 closed

[2020-04-16 00:10] heaths commented on #11163
Apart from potentially separating this out into a separate client, this is a pretty straight forward model supporting CRUD methods. We do have some renaming and refactoring for `DataSource`, however, captured in #11243.

[2020-04-16 00:10] #11163 closed

[2020-04-16 01:30] joerage commented on #7379
@sandeepiiit, sorry for the late response. You have probably figure things out since you asked, but here is a solution for anyone stumbling on this question.

Here is some code that shows how to only get a new token when necessary.

[code]

[2020-04-16 01:33] #11226 closed

[2020-04-16 01:34] #11193 closed

[2020-04-16 01:34] #11225 closed

[2020-04-16 02:09] speedy-ms opened #11358 "[BUG] Special Character Causes Queue Message to Fail"
**Describe the bug**
When you try to place a message on a queue with a "�" character it causes an exception with the message " XML specified is not syntactically valid."

**Expected behavior**
The character would be escaped and therefore queued and dequeued successfully.

**Actual behavior (include Exception or Stack Trace)**
The call to place the message onto the queue causes a `RequestFailedExce

[2020-04-16 04:06] maririos opened #11362 "Add recordings to FR Live tests"

[2020-04-16 04:06] maririos commented on #10413
Created separate issue fro recordings https://github.com/Azure/azure-sdk-for-net/issues/11362

[2020-04-16 04:33] Daniel-Krzyczkowski commented on #10738
@schaabs, @pakrym Thank you so much for explanation, all clear now.

[2020-04-16 06:21] gregmus opened #11367 "Migrating from Event Hubs library v4 to v5 ignores old checkpoints"
**Describe the bug**
New Azure.Messaging.EventHubs nuget package is using a different way of storing checkpoints in a storage account. In Microsoft.Azure.EventHubs (v4) checkpoints (offset/sequence number) were stored as blob files in JSON format. In Azure.Messaging.EventHubs (v5) checkpoints are stored as blob files metadata, and blobs are stored in a different location.

**Expected behavior**
As

[2020-04-16 06:22] davidjnet opened #11368 "[BUG] Storage Blobs - can't copy from URL with non-ASCII characters"
**Describe the bug**
StageBlockFromUri, StartCopyFromUri, etc. fail when the source URI contains non-ASCII characters

**Expected behavior**
They should work with source URIs with non-ASCII characters.

According to https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-from-url the `x-ms-copy-source` header "should be URL-encoded as it would appear in a request URI".

The previous SD

[2020-04-16 06:58] bojunehsu commented on #10625
When users analyzes a multi-page PDF, it is possible that only 1 page failed.  In such case, I believe the current behavior is to return the results for the remaining pages and add an error message for the page that failed.  If we throw, the user loses the ability to examine the rest of the processed results.  Since I believe we currently bill customers in this case, it would be even more frustrat

[2020-04-16 12:30] jsquire commented on #11347
The request comes up from time-to-time, but its not something that I've heard a large outcry for.   I remember seeing a mention or two elsewhere, but here's a recent discussion that I was involved in:

https://github.com/Azure/azure-sdk-for-net/issues/9217

[2020-04-16 12:48] yukfang opened #11371 "[BUG] AzureConfigurationBuilder fails to build connection strings when deployed to App Service"
**Describe the bug**
in https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs

private AccessToken Deserialize(JsonElement json) throws exceptions if the Application culture is not "en-US".

            if (_msiType == MsiType.AppService)
            {
                if (!DateTimeOffset.TryParse(expiresOnProp.Value.GetString(), out expires

[2020-04-16 12:51] yukfang commented on #11371
The 'e.g.' get lost, so I paste it here again:

  <connectionStrings configBuilders="AzureKeyVault01">
    <clear />
    <add name="conn-x" connectionString="db:user@passwod" />
    <add name="conn-y" connectionString="placeholder" />
  </connectionStrings>

    <globalization culture="en-AU" uiCulture="en-AU" />

        protected void Application_Start()
        {
            var culture = Syste

[2020-04-16 12:54] fairwater opened #11372 "[BUG] Use of Azure.Identity.ManagedIdentityCredential fails when the thread culture is not en-US"
**Describe the bug**
The issue reported [here](https://github.com/Azure/azure-sdk-for-net/issues/5976) also applies to the use of the Azure.Identity.ManagedIdentityCredential.

Using Azure.Identity NuGet package v1.1.1

I have an Azure App Service (.Net Framework 4.7.2) with the following in the web.config:
`<globalization culture="en-GB" uiCulture="en-GB"/>`

When I use the ManagedIdentityCredent

[2020-04-16 12:59] jsquire opened #11373 "Create a utility to demonstrate migration of legacy checkpoints for use with the EventProcessorClient"
# Summary

In order to align with the goal of supporting cross-language checkpoints and a more efficient means of tracking partition ownership, the `EventProcessorClient` does not consider or apply checkpoints created with the legacy `Microsoft.Azure.EventHubs.Processor` family of types.   This is a potential area of confusion and an opportunity to provide a migration utility to improve the migrat

[2020-04-16 13:00] jsquire opened #11374 "Update the migration guide to document that processor checkpoints from legacy versions are not applied"
# Summary

In order to align with the goal of supporting cross-language checkpoints and a more efficient means of tracking partition ownership, the `EventProcessorClient` does not consider or apply checkpoints created with the legacy `Microsoft.Azure.EventHubs.Processor` family of types.   This is a potential area of confusion and should be highlighted for consideration within the migration guide.

[2020-04-16 13:10] jsquire commented on #11367
Hi @gregmus.  We're sorry that you're experiencing difficulties and appreciate you reaching out to let us know.  It was an unfortunate, though intentional, decision to not support legacy checkpoint data in the new client.  In order for us to meet the goals set for unifying checkpoint data across languages for the new set of Event Hubs libraries and to make improvements to the algorithm used for ma

[2020-04-16 13:16] jsquire commented on #11367
The best work-around in the short term would be to handle the `EventProcessorClient.PartitionInitializingAsync` event and set the `PartitionInitializingEventArgs.DefaultStartingPosition` value in the arguments received to the position that was recorded in the legacy checkpoint.  This would be necessary only for the first run, until a new checkpoint was recorded using the `EventProcessorClient` but

[2020-04-16 13:32] festivus opened #11377 "Azure.Security.KeyVault for storage accounts"
The Microsoft.Azure.KeyVault library has support for interacting with managed storage accounts. When I go to use this package I see that it says it's been replaced by new Azure SDKs but I don't see a new SDK that deals with storage accounts in KeyVault. What am I supposed to use to deal with managed storage accounts in keyvault?

[2020-04-16 14:04] gregmus commented on #11367
Hi @jsquire.

It's fine... of course I verified that first in development environment so it's not a big deal.
Thanks for the hint with PartitionInitializingAsync event, that simplifies a bit.

[2020-04-16 14:04] #11367 closed

[2020-04-16 14:08] joerage commented on #3201
The Azure Lab Services team is tracking this work internally. We will be adding scenario tests along with our new SDK version once we publish it.

[2020-04-16 15:12] DavidStrickland0 commented on #11332
We likely will have to rewrite this then eventually and make the Rest call directly but having this library was a nice time saver for our POC. Thanks for throwing it out here.

[2020-04-16 15:12] #11332 closed

[2020-04-16 16:26] maririos commented on #10625
FYI @kristapratico

[2020-04-16 16:28] pakrym opened #11380 "Add management plane support to test framework"
The main goal is to figure out the way to get credentials consistently across a large set of libraries.

[2020-04-16 16:34] #10839 closed

[2020-04-16 16:44] kurtzeborn commented on #11316
We already have APICompat checks running in the .NET repo today ([added in January](https://github.com/Azure/azure-sdk-for-net/pull/9568)).  We also have https://github.com/Azure/azure-sdk/issues/180 opened already tracking doing this in a more consistent way across all languages (instead of each langauge doing their own thing).

[2020-04-16 16:44] #11316 closed

[2020-04-16 17:00] ankit57 commented on #11213
@gereyhe Thanks for taking it forward. Please keep me informed about findings and resolution

[2020-04-16 17:28] richardpark-msft commented on #11347
If I'm voting (and this is only because it's already been _released_) I don't think `Clear()` is good change now.

If I've designed my app, that `EventDataBatch` was previously a "append only" thing. So if I'm passing it around I had a guarantee that it could only be added to.

Now it's possible somebody might call `Clear` on it. Ie, I've broadened the interface in a way that breaks a prior constr

[2020-04-16 17:54] AlexGhiondea commented on #11332
@DavidStrickland0 glad to hear this was helpful for a POC. I would like to understand more about the need to go all the way to the REST layer in order to bypass the fact that we throw for a 404.

Are the concerns around performance, code style or something else that are pushing you away from the library? There are quite a few advantages that the library offers over raw requests to the REST endpoin

[2020-04-16 18:11] jsquire commented on #11347
You're certainly not wrong, and this is an important point of consideration.   The follow-up question that I'd ask is how many application authors are exposing Event Batches in a manner where a caller outside of their control would be able to interact with it.   If we're discussing changes internally to a single application, I think that weakens the concern a bit.

[2020-04-16 18:18] conniey commented on #11347
Good question. I'm not sure how to answer. I guess we'll have to start crawling through GitHub source code to see what's all out there being used. :D

[2020-04-16 18:23] launchpad15 opened #11382 "Exception responses with Azure.Management.ContainerRegistry-5.0.0-Preview changed"
With the 4.0.0 version of the ContainerRegistry, the CancelAsync API used to return the following message when querying an invalid buildId
          **Resource with id '{acrBuildId}' is not found"**

But with with 5.0.0-Preview it is throwing
           **Operation returned an invalid status code 'NotFound"**

Can this be looked at? the "NotFound" is a very generic message and a more detailed mess

[2020-04-16 18:31] annelo-msft opened #11383 "Add argument validation to public methods and constructors on FormRecognizerClient and FormTrainingClient"

[2020-04-16 18:36] annelo-msft commented on #10386
CodeGen handles this for us.

[2020-04-16 18:36] #10386 closed

[2020-04-16 18:38] annelo-msft commented on #10413
Live tests have been added.

[2020-04-16 18:38] #10413 closed

[2020-04-16 18:41] maririos commented on #11383
FormTrainingClient validation => https://github.com/Azure/azure-sdk-for-net/pull/11363/

[2020-04-16 19:11] seanmcc-msft opened #11384 "[Storage][Blobs] BlobBaseClient appears to be missing CopyFromUri()"
StartCopyFromUrl() is present, but there doesn't appear to currently be a way to do a sync copy with the SDK.

[2020-04-16 20:05] KshitijAgrawal commented on #10011
Hi, the parent source/ falleryosdiskimage etc themselves are optional. so can we fix this on SDK side?

[2020-04-16 20:21] heaths opened #11385 "Search: Work around ETag bug in autorest.csharp"
Until https://github.com/Azure/autorest.csharp/issues/668 is fixed, privatize the string ETag and expose as `Azure.ETag` instead:

[code]

[2020-04-16 20:24] heaths commented on #11385
Note: be sure to find and replace all `ETag` properties. @KrzysztofCwalina commented on a number of them in APIView, but many more exist (not necessary to catch them all, of course - the goal was well understood).

[2020-04-16 20:56] lmy269 commented on #5004
@iamnarednhar, can you share your code? Does **new StoredProcedureParameter(null, "String")** not work for you?

[2020-04-16 21:20] DavidStrickland0 commented on #11332
There seems to be a trend in a lot of code bases where exceptions are being accepted as the norm. They are being used to communicate information on the happy path. Its  a trend I try to stay away from at all cost. I don't want our code base becoming apathetic toward exceptions. I fear that treating exceptions as commonplace will eventually lead to fragility so I just avoid it any time I can.
When

[2020-04-16 21:34] AlexGhiondea commented on #11332
Thanks for your reply. I agree that exceptions should not be used for control flow. In this case though, I am not sure if that can be considered control flow or not -- that I think is fairly dependent on the application.

In the new libraries we have treated status codes such as 404 as an exceptional case and so we are throwing an exception in that case.

That being said, if you believe there is a

[2020-04-16 22:10] nonik0 commented on #4645
@CSM91 Hmm, that is odd. I'd like to make absolutely sure that the AzureServiceTokenProvider is picking up that connection string because VS should not be taking that long--so could you either pass that connection string directly to ASTP constructor, or put some typo/garbage in your connection string environment variable and validate you get a connection string error from AppAuth?

[2020-04-16 23:57] heaths opened #11393 "Search: Handle selected properties for List operations"
Many of our List operations for `SearchServiceClient` accept an optional list of property names, but for .NET this isn't as intuitive since model property names like `Name` won't actually work (server error): `name` is required. Additionally, while `etag` is also not recognized, `@odata.etag` (theunderlying property name) causes a different server error: that `@odata.etag` is not allowed in `$sele

[2020-04-17 00:11] DavidStrickland0 commented on #11332
If we take the Azure API as the whole then I can certainly see 404 as an Exception >80% of the time.
I was not considering the consistency of the API as a whole with the original proposal.

But looking over ConfigurationClient.cs I see a number of variations some calls treat only
200 as acceptable and everything else throws a exception
some allow 200 and 201
some allow 200 and 304
It appears that

[2020-04-17 02:06] amishra-dev commented on #11254
Hi @ParthiKarnan,
Can you please share the logs from the crash?

[2020-04-17 02:08] amishra-dev commented on #11333
@seanmcc-msft can you please answer Emma's question.

[2020-04-17 02:11] amishra-dev commented on #11336
@kasobol-msft this is a broader architectural question, can you please respond.

[2020-04-17 02:13] amishra-dev commented on #11368
@amnguye can you please look at this.

[2020-04-17 02:18] amishra-dev commented on #11329
Hi @wahyuen
Thanks for the report, we would like to gather further feedback before enabling this back. Meanwhile have you considered [Azurite](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite)?

[2020-04-17 02:27] kristapratico commented on #10625
@bojunehsu could we possibly get a sample form like you described that would generate a page-based error and return the successfully processed results? This would really help us design how to expose errors for the SDKs.

[2020-04-17 02:28] amishra-dev commented on #11358
Hi @speedy-ms ,
This is by design. We expect the message to be a valid xml body message. A quick workaround for you would be to base64 encode the string. Please ack if this works for you.

Thanks

[2020-04-17 02:45] bojunehsu commented on #10625
[ErrorPdf.pdf](https://github.com/Azure/azure-sdk-for-net/files/4490639/ErrorPdf.pdf)
Untested, but this file should trigger the error conditions described above.  Specifically, the first page is okay, but the second page has dimension outside the supported range.  Even if it doesn't trigger errors today, we may modify the implementation to behave that way in the future.

[2020-04-17 02:49] wahyuen commented on #11329
Not at this stage, we are still assessing the viability to upgrade to v12 of the Storage SDK and how this affects our currently development environment and release pipelines.

[2020-04-17 03:12] hungyiloo commented on #9607
If a download payload is larger than both the available memory and the available disk space, the previous OpenRead() method allowed us to gradually stream the file down and process it without ever having to hold the entire file anywhere.

Is there an equivalent `Download` method with the new APIs that lets us put some kind of 'backpressure' on the incoming payload so we don't get overwhelmed?

[2020-04-17 04:10] amishra-dev commented on #11329
Ok, let me check with the team and get back to you tomorrow.

[2020-04-17 04:18] speedy-ms commented on #10242
What I am experiencing is that _sometimes_ the message is enqueued as Base64 and _sometimes_ it is not. It makes handling queue messages in Azure Functions triggers impossible as @MFurn has mentioned, and processing queue messages in a more manual way (via `QueueClient.ReceiveMessagesAsync`) much more difficult as you have to work out whether you need to Base64 decode the response or not before yo

[2020-04-17 04:22] allenjzhang commented on #10343
Assign to AMS team.

[2020-04-17 04:56] JoshLove-msft opened #11398 "Consider adding a Wait Timeout to CreateSessionReceiver method"
Currently, we use the TryTimeout from the RetryPolicy, but this may be a place where we want to expose a separate timeout similar to how we offer a wait timeout for receiving messages. In Track 1 .NET, this is available in the AcceptMessageSessionAsync method.

This is particularly relevant when no session Id is specified, because in this case if there are no messages available, we would end up wa

[2020-04-17 07:59] gregmus opened #11399 "[Investigate] Increasing memory usage by EventProcessorClient (Azure.Messaging.EventHubs) when no new messages from EventHub"
**Describe the bug**
Memory usage is increasing when there are no messages to process from EventHub.
I have a service running in Kubernetes that use new SDKv5 (Azure.Messaging.EventHubs.Processor v. 5.0.1). Over the night when there are no new messages in EventHub, memory usage of this service looks like this:

![image](https://user-images.githubusercontent.com/12693010/79543765-446e1d80-808e-11ea

[2020-04-17 08:20] yar-shukan opened #11400 "[BUG] DefaultAzureCredential doesn't determine default single User Assigned Managed Identity in Azure App Service"
**DefaultAzureCredential doesn't work in Azure App Service with default single User Assigned Managed Identity**

**TLDR**: Web app is deployed as Azure App Service, targets full .NET Framework 4.7.2 and uses [MicrosoftConfigurationBuilders](https://github.com/aspnet/MicrosoftConfigurationBuilders) package to get config values/secrets from Azure App Configuration. This package does [this](https://g

[2020-04-17 09:30] wantedfast opened #11401 "[Text Analytics] Link inaccuarate of 'create above' under Examples section in readme"
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/textanalytics/Azure.AI.TextAnalytics#examples)
![image](https://user-images.githubusercontent.com/25993729/79554664-f595a780-80d0-11ea-83cb-ffdc14245852.png)

Comments: Link not work. Correct it to [this link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/textanalytics/Azure.AI.TextAnalytics#create-textanalytics

[2020-04-17 09:48] jbrezina opened #11402 "[BUG]Microsoft.Azure.ServiceBus.RunOperation has unused collection of exceptions"
In Microsoft.Azure.ServiceBus.RunOperation there is defined a list of exceptions which is never used.
https://github.com/Azure/azure-sdk-for-net/blob/599133b04a9f62b776beda43413a450fa3884296/sdk/servicebus/Microsoft.Azure.ServiceBus/src/RetryPolicy.cs#L62

[2020-04-17 10:54] jrsurya commented on #8658
I solved this problem by just setting the environment variable named "AZURE_USERNAME" = [your azure account email id] that you want to use for the authentication in development mode.

How to Setup Environment Variable? for (Window 10)
 Window Key >> Search >> ENV >>open environment variable editor

[2020-04-17 12:57] jsquire commented on #11399
Hi @gregmus.   Thanks for reaching out to help us understand the issue that you're running into, and for the detailed report.  This isn't something that we've seen as a pattern across our stress clients during sustained runs an is something that I want to spend some time digging into a bit.

Can you clarify for me whether the behavior that you're seeing was limited to container-based scenarios or

[2020-04-17 13:55] gregmus commented on #11399
Hi @jsquire.

To be honest I haven't seen that as well before when my services were running with SDKv4. Lately I started working with SDKv5 and migrated couple of services running in k8s in development and test environments. When there is no messages flow in the system I can see a regular restarts pattern, caused by memory usage limits, on pods running with SDKv5.

Today there was a small performa

[2020-04-17 14:47] Boaz101 commented on #9607
For the download stream check out BlobClient.DownloadAsync() which returns a Response<BlobDownloadInfo>. Inside the BlobDownloadInfo is a Stream Content property which you can use to stream the download.

However, I don't see a similar way to open a Stream for upload. The only way that might work is to wrap a Stream which reads from a resource in chunks and writes the raw bytes to a byte array.  H

[2020-04-17 15:36] wahyuen commented on #9607
There appears to be differences in the v11 `OpenRead()` stream and the v12 `Response.Content` stream.

The v11 version seems to not actually stream the whole contents of the file upon request, and only incrementally fetches data. However, our observations thus far with v12 stream, is that upon request of data from the stream, it seems to attempt to download all the data from the source file, resul

[2020-04-17 16:19] jongio opened #11406 "[BUG] VisualStudioCredential: Could not find a part of the path .IdentityService\AzureServiceAuth\tokenprovider.json"
In VS Code, running the console app in this project: https://github.com/jongio/mvpsdkdemo

I have VS19 installed, but am not signed in.

When I sign into VS19, this error goes away.

This code
[code]

Causes this exception:

[code]

[2020-04-17 16:26] mattmsft opened #11407 "[BUG] Storage SDK 11 - The specified block list is invalid"
**Describe the bug**
Intermittently, writing blobs to blob storage with "The specified block list is invalid."

We found other reports claiming this happened when they had concurrent writes to the same blob. Indeed,we were able to confirm the last two times we saw this, we were concurrently writing.

**Expected behavior**
The same behavior as the previous storage SDK we were on (WindowsAzure.Stora

[2020-04-17 16:45] #11406 closed

[2020-04-17 16:53] #10329 closed

[2020-04-17 16:53] #11313 closed

[2020-04-17 16:58] #11331 closed

[2020-04-17 16:59] Petermarcu commented on #8506
Is this one fixed?

[2020-04-17 17:01] Petermarcu commented on #8941
Removing Storage label because we need this for all clients. I'm going to mark it as Core because of that.

[2020-04-17 17:03] #10455 closed

[2020-04-17 17:05] Petermarcu commented on #10626
We're tracking getting this documented for all clients in this issue. https://github.com/Azure/azure-sdk-for-net/issues/8941.

[2020-04-17 17:15] kasobol-msft commented on #11407
V11 uses "Latest" when committing block list so that means it's not related to https://github.com/Azure/azure-sdk-for-net/issues/10621 .
@mattmsft Please provide a sample program that reproduces/illustrates "Write to any BlockBlob at the same time more than once using the Microsoft.Azure.Storage.Blob 11 SDK".

[2020-04-17 17:22] #10725 closed

[2020-04-17 17:29] heaths commented on #11377
That functionality was added to Key Vault before Storage supported AAD / RBAC protection, which the Storage team recommends. As such, we have no plans to bring that functionality to the new Azure.Security.KeyVault packages. If you cannot use AAD / RBAC for Storage, you can use the older Microsoft.Azure.KeyVault package but do not there are some limitations to managing Storage accounts this way, it

[2020-04-17 17:29] #11377 closed

[2020-04-17 17:35] maririos commented on #10409
working on remaining test

[2020-04-17 17:57] seanmcc-msft commented on #8506
@Petermarcu, IIRC we have progress reporting for all upload APIs now, but not downloads.

[2020-04-17 17:58] seanmcc-msft commented on #9607
@wahyuen, your analysis is correct.  We're looking into adding OpenRead() and OpenWrite() to v12 in the future.

[2020-04-17 18:00] seanmcc-msft commented on #11336
Related https://github.com/Azure/azure-sdk-for-net/issues/9607

[2020-04-17 18:12] annelo-msft commented on #10483
@mayurid @czubair

[2020-04-17 18:13] annelo-msft opened #11411 "[Documentation] Form Recognizer: Per-Sprint README Updates"
- [ ] Update package installation version number
- [ ] Change the heading formatting from h3 to h4 for section Create a Form Recognizer resource

[2020-04-17 18:14] annelo-msft commented on #11411
@mayurid @czubair

[2020-04-17 18:37] mattmsft commented on #11407
This is specific to us, closing

[2020-04-17 18:37] #11407 closed

[2020-04-17 18:47] seanmcc-msft commented on #11333
Here is an example of how to set the server-side timeout:

[code]

[2020-04-17 19:04] kylewilt-conf commented on #11336
Ah great thanks, I didn't find that one in my initial search for this issue. Any ETA on the OpenWrite functionality? We'll have to work around with an arguably inefficient custom stream in the meantime...

[2020-04-17 19:20] seanmcc-msft commented on #11336
ETA is to be determined, our team is currently working on adding new features for the next Storage service version.

I'm going to close this issue, but please feel free to follow the discussion on https://github.com/Azure/azure-sdk-for-net/issues/9607.

[2020-04-17 19:20] #11336 closed

[2020-04-17 19:20] kasobol-msft commented on #11336
@kylewilt-conf One option to consider or workaround is Pipes. I got a working example.:
[code]

References:
https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-use-anonymous-pipes-for-local-interprocess-communication
https://codingcanvas.com/using-anonymous-pipes-for-inter-and-intra-process-communication/

[2020-04-17 19:30] kylewilt-conf commented on #11336
Thanks for the suggestion. I want to avoid explicitly having two threads running at once for a blob upload (this is intended to be running in a service context and every thread/CPU counts). Presumably with TPL I can achieve that for the most part but I'd have to look at the guts of those classes to see if it would make sense rather than using the channel approach I was originally thinking of using

[2020-04-17 20:11] kieronlanning commented on #10176
@mayurid Is there a timeline on the new package? Thanks!

[2020-04-17 20:56] heaths commented on #11165
Barring any other changes we want to make across languages, these are done as of PR #11394.

[2020-04-17 20:56] #11165 closed

[2020-04-17 21:23] yvgopal commented on #10535
This is service bug. Just fixed. It will be rolled out to production over the next month. We have reduced the frequency of deployments during this COVID-19 lockdown.

[2020-04-17 21:23] #10535 closed

[2020-04-17 21:26] #11142 closed

[2020-04-17 21:28] annelo-msft opened #11417 "[CodeGen] Move to .NET Code Gen LROs"
## Summary

Per @pakrym, the C# code generator creates `Operation<T>` subclasses automatically from swagger files.  We'll want to understand the output and whether it can be used for the LROs in the FormRecognizer library.

## Goals

- Understand the LRO output from code generator
- Determine whether existing FR LRO functionality can be implemented with only small changes to this output
- If code

[2020-04-17 21:32] annelo-msft opened #11418 "Release Form Recognizer Preview 2"
This tracks the work for Form Recognizer for Preview 2.

[2020-04-17 21:37] nemakam commented on #11402
@jbrezina , Thanks for reporting this.
Yes, looks like it is indeed unused. Is this causing any issues right now?

[2020-04-17 21:54] annelo-msft opened #11419 "Release Form Recognizer Preview 3"
This tracks the work for Form Recognizer for Preview 3.

[2020-04-17 22:13] #11324 closed

[2020-04-17 23:08] maririos opened #11422 "Add ability to pass options to GetTrainingClient"
An example: https://github.com/Azure/azure-sdk-for-net/blob/ffb35459d9b96beb4f9622a9000008c651631766/sdk/eventhub/Azure.Messaging.EventHubs/src/Producer/EventHubProducerClientOptions.cs#L82-L93

[2020-04-17 23:57] annelo-msft commented on #10625
For Preview 1, we will throw an exception when LRO.Status == failed, and if LRO.Status == succeeded, return AnalyzeResult equivalent with no errors on it.  Per discussions with the service team, we are not currently aware of any cases when the LRO.Status is succeeded and AnalyzeResult.Errors is populated with values.

Thanks to everyone who contributed to this investigation!  @kristapratico, @ctst

[2020-04-17 23:59] annelo-msft opened #11424 "Align designs across languages to expose AnalyzeResult.Errors"
See internal Teams thread: https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1586796047400?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1586796047400&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=1586796047400

[2020-04-18 00:03] yungezz commented on #9848
hi @xccc-msft could you pls help to confirm there's no constraint at fluent layer? thanks.

[2020-04-18 02:17] speedy-ms commented on #11358
Hi @amishra-dev,

I will base64 encode our messages going forward, I think that is one issue that we have faced when changing from `Microsoft.Azure.Storage.Queue` to `Azure.Storage.Queues` - that, in the former, all messages are automatically encoded to and decoded from base64 whereas the latter it does not appear to happen.

[2020-04-18 02:17] #11358 closed

[2020-04-18 09:11] erich-wang commented on #9615
I'm not owner of mgmt sdk any more, sorry for missing this issue.
Transfter to right repo since it is fluent related issue.

[2020-04-18 12:02] festivus commented on #11377
@heaths Storage does NOT support AAD/RBAC for Table storage, which is what managed storage accounts deals with.

[2020-04-18 21:51] annelo-msft opened #11429 "Resolve design issue of labels meaning two things."
See comment here: https://github.com/Azure/azure-sdk-for-python/pull/10815#discussion_r410526863

[2020-04-19 08:51] MohammedTawfik opened #11432 "Handling Blob MetaData"
**Query/Question**
i have two questions regarding blob metadata :
1. How i can set the blob metadata when i upload it using blobclient.upload
2. How i can delete certain entry from blob metdata

**Environment:**
 - Name and version of the Library package used:  Azure.Storage.Blobs 12.2.0
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): .NET Core S

[2020-04-19 15:18] danielmarbach commented on #10821
I'm 👍 on what is outlined in the reasoning in the description of this issue. The only thing I was opposed to was to prefix the factory methods with `Get` and I would have proposed a `Create` prefix but I see this has already been addressed in the code but hasn't been updated/reflected in the issue description.

[2020-04-19 15:25] danielmarbach commented on #10824
From my perspective what has been outlined here resonates very well with me in general. I do agree that the connection string is in the authority of the service and the client SDK should only support a connection string as it is known to the service. That also simplifies cross language support in the SDK. If customers want to have a client specific extended connection string it is trivial to build

[2020-04-19 15:37] danielmarbach commented on #10829
This is a difficult topic because it seems it comes down to a matter of almost "taste".

I tend to agree with that but also don't have strong objections for what Sean proposed.

Just to make things worse I'm going to throw in a third approach without implying any preference.

It would also be possible to turn things around and have an extension method on `ServiceBusReceivedMessage` that allows to

[2020-04-19 15:57] danielmarbach commented on #10829
Unfortunately @KrzysztofCwalina post is no longer available but somehow copied the gist of it into a stack overflow post

https://stackoverflow.com/questions/2959871/factory-vs-instance-constructors

Based on the above and the principle of evolvability I'm leaning more towards the method based than the constructor based approach. It also allows more elaborate manipulation of the data should that e

[2020-04-19 16:14] danielmarbach commented on #11399
@jsquire Could this be related to the fact that in the good case the linked token source created in

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor%7BTPartition%7D.cs#L1333

is never disposed and thus cannot be GCed even though you are explicitly setting it to null?

[2020-04-19 16:19] danielmarbach commented on #11399
Ah after looking multiple times I found it deep down in the processor dispose implementation. Never mind then my comment

[2020-04-19 16:44] heaths commented on #11377
/cc @tg-msft

[2020-04-19 20:27] OperatorOverload opened #11434 "EventHubProducerClient (Azure.Messaging.EventHubs) doesn't correctly protect against oversized batches"
**Describe the bug**
I was working on upgrading from the legacy (V4) version of the library to the new Azure.Messaging.EventHubs v5 library, and noticed that the documentation here (https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md) claims that the new design of the library means that the TryAdd will automatically fail if the batch size

[2020-04-19 20:28] OperatorOverload commented on #11434
Believe this one will likely start with @jsquire

[2020-04-19 20:30] xantari opened #11435 "Add NativeBlobSoftDeleteDeletionDetectionPolicy to Microsoft.Azure.Search library"
**Library or service name.**

Microsoft.Auzre.Search

**Is your feature request related to a problem? Please describe.**

It appears that since the 09/2019 release you have had a public preview of "NativeBlobSoftDeleteDeletionDetectionPolicy" delete policy.

However the Microsoft.Azure.Search does not have an ability to define that deletion policy.

Information about Native blob soft delete is her

[2020-04-19 20:31] OperatorOverload commented on #11399
I've got a related question on this.  The patterns in the documentation are all short-lived, essentially processing a batch in its entirety and then disposing of the Client class after completion.

Is that the required pattern based on internal implementation for cleanup (and could not following it lead to a memory leak like what's outlined here), or is that just a matter of convenience for short

[2020-04-19 20:43] OperatorOverload commented on #11434
Actually, after further testing, I need to expand the scope of this report.  I changed my testing Event Hub tier to Standard, and queued up a few MB of events to be transferred.  At first run, I got the following:

`The message (id:20974680, size:1111395 bytes) is larger than is currently allowed (1046528 bytes). (client) | Azure.Messaging.EventHubs.EventHubsException`

So in this case it looks li

[2020-04-20 03:56] JoshLove-msft opened #11438 "Include a Transaction sample that involves setting the session state"
See https://github.com/Azure/azure-service-bus/issues/267

[2020-04-20 04:00] JoshLove-msft opened #11439 "Consider supporting list sessions feature"
https://github.com/Azure/azure-service-bus/issues/275

[2020-04-20 05:28] SeanFeldman commented on #11354
Queue, topic, or subscription refers to the entities with multiple properties. Name is just one of the properties.

[2020-04-20 05:30] SeanFeldman commented on #11351
Makes sense. Still, would rather see a `client` property on the `ProcessMessageEventArgs`.

[2020-04-20 05:32] SeanFeldman commented on #11349
Technically, a session that timed out does not necessarily end and messages for that session ID can arrive much later. Therefore, would the name `SessionCompleted` accurately the intent?

[2020-04-20 06:28] gregmus commented on #11399
I also have a related question. In Processor examples there is one about sending heartbeat message for "ensuring that the handler for processing events is invoked on a fixed interval when no events are available":

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample08_EventProcessingHeartbeat.cs

Is that a recommended approach to k

[2020-04-20 08:17] jbrezina commented on #11402
If the exception list was not meant for anything I don't think it causes any problems. I was just looking for exceptions which are thrown in functions using this code and noticed it.

[2020-04-20 09:59] alongafni commented on #7506
Hi @AndreMantas ,
Sorry for the late response.
I checked and I am able to provide URL-encoded ranges in the timespan parameter, see [this query](https://api.int.loganalytics.io/v1/workspaces/DEMO_WORKSPACE/query?csl=union%20*%20|%20limit%201&api_key=DEMO_KEY&timespan=2020-03-01T13%3A00%3A00Z%2F2020-03-03T15%3A30%3A00Z) for example.

I didn't use the ApplicationInsightsDataClient class, but seems l

[2020-04-20 11:15] kylewilt-conf commented on #11336
I looked at the anonymous pipe streams and they are an interesting piece of functionality however I'd rather avoid OS involvement since this doesn't need to cross process boundaries. Also, they don't appear to support using proper async I/O (they effectively block a thread pool thread on a ReadFile or WriteFile call) however the NamedPipeClientStream and NamedPipeServerStream classes do appear to

[2020-04-20 11:55] PawelCiucias commented on #9076
Any movement on this? I'm banging my head against it too; trying to get a token for a keyvault and an api
api://00000000-0000-0000-0000-000000000000/.default https://vault.azure.net/.default seporatly they work great, but I can't get a token for both

AADSTS70011: The provided request must include a 'scope' input parameter. The provided value for the input parameter 'scope' is not valid. The scope

[2020-04-20 12:55] PawelCiucias commented on #9076
after i removed the .default scope and specified them explicitly I got the following error

Message: AADSTS28000: Provided value for the input parameter scope is not valid **because it contains more than one resource**. Scope https://vault.azure.net/user_impersonation api://00000000-0000-0000-0000-000000000000/Candidates openid profile is not valid.

which leads me to the conclusions that you cann

[2020-04-20 13:42] mwikstrom commented on #11055
Thank you @amishra-dev! Will you post the update here in this github issue, and can you share an approximate date when this might be available?

[2020-04-20 16:10] tg-msft commented on #11038
The [Range header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range) supports these syntax forms:

[code]

Our [HttpRange](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/HttpRange.cs#L15) allows two fixed unit syntax forms today for the Range header:

[code]

The [Content-Range header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-

[2020-04-20 16:25] chrisalexander commented on #10011
@xccc-msft Hello, please see reply above from product team. If you drop me an e-mail I can link you up if required.

[2020-04-20 17:06] JonathanHopeDMRC commented on #10242
We are also seeing the behavior that speedy-ms is describing. Sometimes our messages are base64 encoded and sometime they are not. If there is a pattern as to what is getting encoded and not getting encoded it not obvious to me. I agree that this feels like a bug.

[2020-04-20 17:15] maririos opened #11446 "Run codegen on FR again to get newest changes from their swagger file"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/FormRecognizer.json

[2020-04-20 17:18] maririos commented on #11446
BTW, when the swagger got merged, our CI started failing: https://dev.azure.com/azure-sdk/public/_build/results?buildId=363199&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=e75da802-0139-5977-bd1e-91175bec9059

[2020-04-20 17:19] schaabs opened #11447 "Support SubjectName/Issuer (SNI) certificate authentication for Service Principals"

[2020-04-20 17:29] jongio opened #11448 "[FEATURE REQ] Add support for AZURE_CLIENT_ID environment variable to ManagedIdentityCredential"
**Library or service name.**
Azure Identity

**Is your feature request related to a problem? Please describe.**
Developers need to be able to specify which AZURE_CLIENT_ID Managed Identity Credential with an environment variable.

#8692
#8309
#9309

[2020-04-20 17:33] mikeblakeuk opened #11449 "Should BeginCreateOrUpdate be removed from the SQL Databases Operations?"
Should **BeginCreateOrUpdate** / **BeginCreateOrUpdateAsync**be removed from the SQL Databases Operations?
`var operationResponse = await client.Databases.BeginCreateOrUpdate(resourceGroupName, sqlServerName, sqlDatabaseName, createOrUpdateParameters);`

https://github.com/Azure/azure-sdk-for-net/blob/dc23a39caf37d07f02512540d20c29866ff83759/sdk/sqlmanagement/Microsoft.Azure.Management.SqlManageme

[2020-04-20 17:54] JoshLove-msft commented on #11349
Yeah I suppose `SessionLockReleased` would be more technically accurate, but it doesn't convey the "why" of why the session lock is being released. Maybe `ProcessSessionCompleted` or `ProcessSessionEnd`?

[2020-04-20 18:01] nemakam commented on #11402
@jbrezina, got it. Thanks. Initially, the plan was to return all the exceptions that happened back to the customer. But then it doesn't make sense to pass the exception if ultimately retry did fix it. So instead, the exceptions are just logged right now. We will just have to clean up this variable. I'm not sure if when will we end up prioritizing on this task given the impact being too low. Feel f

[2020-04-20 18:02] #11446 closed

[2020-04-20 18:30] #11422 closed

[2020-04-20 18:56] #11121 closed

[2020-04-20 19:03] annelo-msft opened #11452 "[Design] Consider taking Guid for modelId instead of string"
A concern was raised by @pakrym that we enforce a guid format without requiring a Guid type in RecognizeCustomForm methods.

In the SDK, we prefer Uri to string, and Timespan to int timeInSeconds, etc.

Keeping it as a string provides some flexibility to support additional modelId formats in the future.  Consider whether this flexibility could be provided as additive changes in future library vers

[2020-04-20 19:03] annelo-msft commented on #11452
@kinelski

[2020-04-20 19:59] annelo-msft commented on #11117
Per discussion with @mayurid, addressed for Preview 1 with https://github.com/Azure/azure-sdk-for-net/pull/11444 and moving to Preview 3 to do final implementation.

[2020-04-20 20:35] nemakam commented on #9416
@Mortana89 , sorry I think I didnt get few things. What support are you exactly looking at in 7.0?

Also, would you be able to provide numbers?
How many queueClients did you have earlier?
How many sessions do you have on avg at any time?
What are the sessionHandlerOptions that you used to use, and the values that you use now?

[2020-04-20 20:36] nemakam commented on #9416
And you did mention "constant" in your description, but I wanted to confirm that again. Do you see these exceptions constantly at the same rate or do you see a burst of exceptions at sometime, and then remaining times you don't see any?

[2020-04-20 20:37] annelo-msft commented on #10363
This was resolved with the addition of regular expressions to ResolveTextReferences.

[2020-04-20 20:37] #10363 closed

[2020-04-20 20:47] #11383 closed

[2020-04-20 20:53] brjohnstmsft commented on #11114
The workaround for this issue is to mark the property of recursive type with `[FieldBuilderIgnore]`. Since there is a workaround and this is going to be fixed in the next major version, we won't be hotfixing this in the older libraries.

Closing this since the issue is tracked elsewhere already.

[2020-04-20 20:53] #11114 closed

[2020-04-20 21:07] Mortana89 commented on #9416
Hi Nekam,

Constant yes, see following screenshot from AI before applying the change;
![Screenshot_20200420-230003](https://user-images.githubusercontent.com/45714001/79799509-d5791900-835a-11ea-9b61-ebddd848eb82.jpg)

We had two seperate queueclients per queue, one for sending, one for receiving. Some microservices consume multiple queues and thus have more queueclients than others. We have rough

[2020-04-20 21:08] Mortana89 commented on #9416
Also, the screenshot is with 50% ingestion sampling enabled!

[2020-04-20 21:11] heaths opened #11457 "Search: Improve swagger documentation"
Since we generate most of the code, there are a lot of descriptions in swagger that need to be improved. They either aren't clear (e.g. almost all enum value description), or just wrong (e.g. PatternAnalyzer.Pattern description says it defaults to whitespace when, actually, it's non-whitespace, i.e. \w+).

This will positively improve all languages' SDKs and means we don't have to override all mod

[2020-04-20 21:31] heaths commented on #11457
We'll track indivudual items in Azure/azure-rest-api-specs, though I think at some point a top-down review would help to improve docs not only for REST APIs, but the client SDK doc comments as well.

[2020-04-20 21:31] #11457 closed

[2020-04-20 21:32] nemakam commented on #9416
Could you expand the first column "overall" and send a screenshot / maybe just copy-paste?

[2020-04-20 21:38] nemakam commented on #9416
Its very surprising that switching from two queueClients to one reduces the exceptions. The pipelines are very independent. Do you think you could provide a sample snippet?
And also, you mentioned queue clients were created using connection string and not the connection object. That would mean even the connections are independent..
And, are you sure the exception you are seeing is from the queueCl

[2020-04-20 21:51] brjohnstmsft commented on #9686
@heaths Is there some way we can address both the deserialization-of-unknown-types issue and the usability issue created by having non-abstract base classes? For example, instead of deserializing unknown properties to a dictionary on the base class, perhaps each hierarchy gets its own `UnknownResponse` derived type or something similar?

[2020-04-20 22:28] maririos commented on #10409
Methods related to ExtractCustomLabeledModel have been added.
Will work on the remaining tomorrow

[2020-04-20 22:30] speedy-ms commented on #10242
Hi @JonathanHopeDMRC - I raised the following issue https://github.com/Azure/azure-sdk-for-net/issues/11358 and the advice from Microsoft was: "A quick workaround for you would be to base64 encode the string".

I have proactively Base64 encoded the string (and obviously always look to decode the message on the other end) and I am yet to see an instance where it is "double encoded".

So if you are

[2020-04-20 22:37] amishra-dev commented on #10242
@JonathanHopeDMRC the client library never encodes, if you are getting encoded messages, you are encoding it in your code.

[2020-04-20 22:41] speedy-ms commented on #10242
@amishra-dev or perhaps sometimes using the older library (Microsoft.Azure.Storage.Queue) to queue messages and the newer one to dequeue? I think in hindsight that must have been why I was under the impression that we "sometimes did" and "sometimes didn't" see base64 encoded messages - the ones with encoding were coming from older apps that hadn't updated yet.

[2020-04-20 23:20] AlexGhiondea commented on #11435
/cc @tg-msft for our Track 2 library.

@xantari we have started work on a new version of the Search library -- we are going to consider including this for our upcoming library.

[2020-04-20 23:27] amnguye commented on #11368
Hi, Thanks for bringing this issue to our attention. I was able to reproduce your issue and you are correct, the URI provided should be able to take in non-ASCII characters.

Here's my stack trace:
[code]
We should be encoding uri before the request. Sorry for the inconvenience. The mitigation is to URL encode the string before sending the request.

We will look to add this fix soon.

[2020-04-20 23:28] heaths commented on #9686
That's a pretty good idea. @pakrym, that could be done generically, right? Maybe an Unknown{Type} model gets generated for each would-be abstract model, and that would have a property bag?

[2020-04-20 23:32] johanste commented on #9686
Incidentally, this is one of the recommended patterns for service teams that knew that they had a polymorphic type that they intended to add new child types to.

[2020-04-20 23:35] pakrym commented on #9686
It's possible but not very clean. We would need to generate an Unknown{Type} for every polymorphic type that being returned by model or client method.

Would these types be public?

[2020-04-20 23:49] maririos commented on #10409
add delete model after creation

[2020-04-20 23:52] heaths commented on #9686
We'd only need one for the base class that you'd otherwise mark abstract. And, yes, I imagine they should be publish. People could dig into the property bag at least. They wouldn't have to be, though. I've seen in some implementations the property bag for unhandled properties are often private just so one can roundtrip.

[2020-04-20 23:56] maririos opened #11462 "[Errors] Make sure that GetModelIdAsync returns a sensible error in the event that an account limit is exceeded"
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/FormRecognizerClient/FormRecognizerClientLiveTests.cs#L297

[2020-04-20 23:57] bachoang opened #11463 "[FEATURE REQ] AuthorizationManagementClient sample"
**Query/Question**
How can we help?
There is documentation for this class here:  https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.graph.rbac.fluent.authorizationmanagementclient?view=azure-dotnet
Please provide a sample for how to use this class

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .

[2020-04-20 23:58] pakrym commented on #9686
Not really, imagine you have A -> B -> C hierarchy.

And 3 client methods:

A GetA();
B GetB();
C GetC()

You can't just generate 1 UknownA class and use it as a return value in GetB and GetC you also need UnknownB and UnknownC. Same things with models, if any subclass is directly returned it would need and Unknown{Type}

[2020-04-21 00:02] brjohnstmsft commented on #11393
An alternative to exposing this parameter on the client would be to have `Get[Resource]Names` APIs instead. That's the original purpose behind adding `$select` to those REST APIs in the first place. Those APIs actually run much faster with `$select=name` because we use a different code path in the service that doesn't retrieve all the metadata, only enumerates the names.

[2020-04-21 00:06] heaths commented on #11393
/cc @tg-msft @sima-zhu @xirzec @xiangyan99 @bryevdv

I like that idea. I noticed several properties couldn't even be specified in `$select` like etags. Anyone have any concerns with just providing `Get{Resource}Names` methods instead, especially if we split up the clients anyway?

[2020-04-21 00:45] seanmcc-msft commented on #11093
I'll fix this issue in the near feature.

[2020-04-21 00:46] seanmcc-msft commented on #11384
I'll fix this issues in the near future.

[2020-04-21 00:47] heaths commented on #9686
Fair enough, but how many times is there more than one base class? We have to do something. We're told not to ship "empty classes" and it's confusing for customers if they try to instantiate the base class and pass it along. Have a "few" extra Unknown{Type} classes seems a better option.

/cc @KrzysztofCwalina

[2020-04-21 00:50] seanmcc-msft commented on #11306
I'll fix this in the near future.

[2020-04-21 02:05] #11250 closed

[2020-04-21 02:14] blueww commented on #11432
@AlexGhiondea
Please add "Client" tag besides "Storage" tag.
This is a dataplane issue.
We use "Storage"+"Client" to identify Storage dataplane issue.
We use "Storage" tag only to identify Storage management plane issue.

[2020-04-21 02:40] xccc-msft commented on #10011
@chrisalexander @KshitijAgrawal The generated code is from swagger. I understand the parameters might be optional in server's behavior, but the root cause here is that the service team set them mandatory in [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/gallery.json#L2226-L2228). I don't thin

[2020-04-21 03:16] annelo-msft opened #11466 "Consider throwing from LRO's .Value when OperationStatus.Failed."
Discussed in this comment: https://github.com/Azure/azure-sdk-for-net/pull/11460/files#r411837227

Investigate what precedent has been set previously in the SDK.

[2020-04-21 03:16] annelo-msft commented on #11466
@kinelski

[2020-04-21 03:44] xccc-msft commented on #9848
@ealsur The length restriction was defined by service team in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/storage.json#L2343-L2344).

This could also be found via [storage .NET SDK](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Microsoft.Azure.Management.Storage/src/Generated

[2020-04-21 04:04] OperatorOverload commented on #11434
Ok, some additional feedback here, it looks like this was ultimately a race condition in my own code where I missed awaiting an Async task and thus the TryAdd and SendBatch were being called many times over in certain cases.  However, that would seem to still point to an issue with the thread safety around TryAdd, the code in there seems to imply that it's thread safe, but my experience indicates

[2020-04-21 04:23] jabbera commented on #8957
@bradrich-msft  where can I follow progress on using an interactive login from a devcontainer?

[2020-04-21 04:37] SeanFeldman commented on #11349
`ProcessSessionCompleted ` and `ProcessSessionEnd` both sound as if the session was done.

What is really happening? Session processing timeouts as there are no new messages for a given session, right? So perhaps that should be the event name foundation. Not the "processor" or "completion/ending". Justin thinking out loud.

[2020-04-21 04:38] SeanFeldman commented on #11349
`SessionTimedOut`?

[2020-04-21 04:47] danieljurek opened #11468 "Smoke Tests need to pick up latest versions of core packages"
We've seen failures when the transitive closure of package dependencies includes a released core package instead of most recently available core packages. Smoke tests should be running against the most recently published dev packages, including core packages.

[2020-04-21 04:49] amishra-dev commented on #11432
No worries @AlexGhiondea, i will take this. Thanks @blueww

[2020-04-21 07:37] EmmaZhu commented on #11333
Thanks Sean for the example.

[2020-04-21 07:37] #11333 closed

[2020-04-21 07:47] isra-fel commented on #10518
This issue was introduced by #9804 . We should have used autorest v2 to generate SDK but we used the latest v3, which generated something different.
cc @ramoka178 @hamidtirmizi I have updated all modules' `generate.ps1` to force autorest v2; how about we generate it again to roll back the change?
Thanks

[2020-04-21 13:09] jsquire commented on #11434
Hi @OperatorOverload.   We're sorry that you're having difficulties and appreciate you reaching out to let us know.  You're correct in that the `EventDataBatch` in v5.0.1 was intentionally not thread-safe, leaving any synchronization to callers but not explicitly documenting that.

The good news is that this was something that we had recently revisited and made the decision to hold the responsibil

[2020-04-21 15:04] bradrich-msft commented on #8957
I think you may have the wrong person.  I have no idea what you are referring to.

[2020-04-21 15:14] pakrym opened #11471 "Add azure environments detection methods to Microsoft.Extensions.Azure"
Something like:

[code]

To be used in the following way:
[code]

[2020-04-21 16:35] pakrym commented on #9686
This is something we would have to figure out. There are at least 3 in storage management.

I agree that we need to figure it out. I think internal classes might be a reasonable solution here.

[2020-04-21 16:36] jabbera commented on #8957
@bradrich-msft sorry. you are right:

@brandonh-msft where can I follow progress on using an interactive login from a devcontainer?

[2020-04-21 16:57] jsquire commented on #11399
Thanks for helping to debug, @danielmarbach.   As you alluded to, ownership of the linked cancellation source is passed off to the partition processor created on the following line and then disposed when partition processing stops during disposal of the partition processor ([line 1417](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/Even

[2020-04-21 17:34] #10802 closed

[2020-04-21 17:35] tg-msft commented on #11435
/cc @heaths as this would be on our data source APIs

[2020-04-21 17:39] jsquire commented on #11399
Thank you for the additional context, @gregmus.   While I definitely want to poke at things more to be sure that we don't have a leak, one of the things that I notice in the snippet that you were kind enough to share is that you're using a wait time of 100ms and the memory snapshot seems to surface an `OperationCanceledException` pretty high in the list.   Effectively, what that value says is "ple

[2020-04-21 17:51] #10490 closed

[2020-04-21 17:51] heaths commented on #11393
I was thinking about this last night and got to thinking about a compromise between the difficulty in properly maintaining allowed property names, discoverability and understanding of using that, and performance. Instead of `Get{Resource}Names` and a separate `Get{Resource}s`, what about `Get{Resource}s(bool onlyName = true, ...)`? Either should work well for other languages.

I think we should st

[2020-04-21 17:52] jsquire commented on #11399
Apologies for the confusion.  The patterns in the samples and snippets are short-lived only in order to illustrate good practices in cleaning up resources.   Because they're intentionally constrained to small scopes and scenarios of a single focus, they don't illustrate a real-world application.   Quick starts and more involved examples that better demonstrate real-world application use are someth

[2020-04-21 17:57] jsquire commented on #11399
There is no need to keep a handler alive.  The handlers are registered until you unregister them and remain active so long as the processor is running.

The scenarios around heartbeating are largely related to health monitoring, such as emitting telemetry every 5 minutes to answer the questions of "did my processor die or are no events flowing through my system."   It also is often used for advanc

[2020-04-21 18:01] brjohnstmsft commented on #11393
@heaths A parameter like `onlyName` would work, although the response would be less convenient to consume than having a dedicated Get...Names API. Choosing between them might come down to which is most discoverable.

[2020-04-21 18:02] heaths commented on #11393
Good point. With `Get{Resource}Names` we could just return a collection of strings. We'll stick with that suggestion as the recommendation then.

[2020-04-21 18:10] kinelski opened #11473 "[Design] [FormRecognizer] Handle operation failed status consistently across Recognize and Train LROs"
## Summary

When a training operation fails, no exception is thrown. The developer needs to manually check their model status and errors to assert it has succeeded before actually making use of the model.

[code]

Getting no exceptions could be misinterpreted as a sign that the training operation has succeeded.

However, throwing an exception in case of failure could be risky as well. It could giv

[2020-04-21 18:30] heaths commented on #11435
Thanks for bringing this to my attention. The new packages do support it, but perhaps not in a very intuitive way. @brjohnstmsft, right now these are exposed as models that just need to exist in the JSON payload. I suggest we make them boolean properties like `Data(Change|Deletion)DetectionPolicyEnabled`. Perhaps we could drop "Policy" to shorten it, but I do like the symmetry with the documentati

[2020-04-21 18:35] #10498 closed

[2020-04-21 18:49] heaths commented on #11435
Sorry, I see those classes should actually be `abstract` (see #9686) and I see that swagger does not actually define @odata.type "#Microsoft.Azure.Search.NativeBlobSoftDeleteDeletionDetectionPolicy". We can define one manually, but this should be in the Preview swagger as well if it's still supported.

[2020-04-21 18:51] kinelski opened #11474 "[FormRecognizer] Consider handling failed status for receipts and content operations"
## Summary

When starting or polling results from a RecognizeCustomForms Operation, it's known that the service may return a successful HTTP status code even when the operation itself has failed. This is already being handled and a `RequestFailedException` is being thrown in these scenarios.

https://github.com/Azure/azure-sdk-for-net/blob/8f5c50cb3b65bfa0544c76867464252b2bd02d1a/sdk/formrecognize

[2020-04-21 18:53] #10334 closed

[2020-04-21 19:02] JoshLove-msft commented on #10473
https://github.com/Azure/azure-sdk-for-net/issues/6440

[2020-04-21 19:17] brjohnstmsft commented on #11435
@heaths I defer to @bleroy or @arv100kri for API design opinions in this area.

[2020-04-21 19:36] #10748 closed

[2020-04-21 19:51] heaths commented on #9686
Could you clarify what you mean? You're agreeing (as an option) that the generator should emit all those classes as needed, but make those classes internal? So we'd just return the base class for roundtripping purposes only.

If that's what you meant, I think that's fine. It won't overload the namespace with a bunch of new types.

[2020-04-21 20:20] brjohnstmsft commented on #10874
@heaths The Swaggers are pretty big to begin with. Keeping them separate makes maintenance easier.

Also, something to consider is that we may want to have different resources use different API versions at some point (something I believe some other Azure services do). I'm not sure how that fits into the single-file versus multi-file choice, but it's something to keep in mind.

[2020-04-21 20:25] annelo-msft opened #11475 "[Samples] Add info differentiating sync and async methods in FR README"
See https://github.com/Azure/azure-sdk-for-net/pull/11389#discussion_r412375249

[2020-04-21 20:33] AlexGhiondea commented on #11332
@DavidStrickland0 sorry for the late reply.

As we started the work on the new libraries, we spent a significant amount of time defining a [set of general guidelines](https://azure.github.io/azure-sdk/general_introduction.html) that apply to all new libraries (we call them 'Track 2 libraries') as well as a set of [language specific guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.

[2020-04-21 20:36] heaths commented on #10874
Thanks for the heads up. @tg-msft had brought it up, but if there's no desire to combine them we can close this.

[2020-04-21 20:41] brandonh-msft commented on #8957
@jabbera honestly this is the best place I've found. Have you tried the prerelease nupkg @schaabs highlighted?

[2020-04-21 20:51] AlexGhiondea commented on #10593
Do we know if this is supported by the service already (ie. is there already an expectation that the documents will come out in the same order?)

[2020-04-21 20:54] Mortana89 commented on #9416
Hi Nekam,

It looks as if it's for receiving where the exceptions are thrown as they all come from the messagepump;
Microsoft.Azure.ServiceBus.ServiceBusException:
   at Microsoft.Azure.ServiceBus.SessionClient+<AcceptMessageSessionAsync>d__37.MoveNext (Microsoft.Azure.ServiceBus, Version=4.1.1.0, Culture=neutral, PublicKeyToken=7e34167dcc6d6d8c)
   at System.Runtime.ExceptionServices.ExceptionDis

[2020-04-21 21:02] AlexGhiondea commented on #10874
Closing this for now.

[2020-04-21 21:02] #10874 closed

[2020-04-21 21:15] brjohnstmsft commented on #10593
@AlexGhiondea It may work by accident, but it's not part of our public contract so there's no guarantee.

[2020-04-21 21:18] DavidStrickland0 commented on #11332
Thanks Alex,
Typically when I want to share rules across multiple libraries I put those rules into a consumable that all the libraries use. This prevents having to rewrite the same code again and again. Once the standard is establish then a mechanism is encoded to allow for variance from that standard.  Then each call can just use the default implementation and then if needed use the to code, filt

[2020-04-21 21:21] tg-msft commented on #10874
Then we'll need to either see if AutoRest allows multiple remote swaggers now or update https://github.com/Azure/azure-sdk-for-net/blob/master/eng/CodeGeneration.targets to allow multiple AutoRest literate READMEs in one library.  We need to remove https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/generate.ps1 at some point.

[2020-04-21 21:22] tg-msft opened #11478 "Remove Search code generation script"
We need to remove https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/generate.ps1.

We should see if AutoRest allows multiple remote swaggers now or update https://github.com/Azure/azure-sdk-for-net/blob/master/eng/CodeGeneration.targets to allow multiple AutoRest literate READMEs in one library.

[2020-04-21 21:23] tg-msft commented on #10874
(Filed https://github.com/Azure/azure-sdk-for-net/issues/11478 to track.)

[2020-04-21 21:27] AlexGhiondea commented on #11332
@DavidStrickland0 the way we are going to enforce most of those is by autogenerating a large portion of the low-level, close to the wire code.

I understand your concern with the common use case for your application.

The library has been adopted by the AppConfiguration .NET provider and has gone through extensive testing to ensure that it can be used in a production environment.

[2020-04-21 21:30] #7142 closed

[2020-04-21 21:30] MikePennington commented on #8658
I'm running in Visual Studio Code and am just authenticated via the command line using `az login`. When I run `az account list` is it lists multiple accounts, but one account is set to `"isDefault": true`. So this seems to be broken whether you are using Visual Studio or not.

Please fix! This unnecessarily complicates the local development environment! :)

[2020-04-21 21:34] cravecode commented on #9175
I have been getting this error as well.
In my situation (perhaps others' as well?) I believe it is caused by too large of a payload in the POST to the EventGrid API (`https://******.****.eventgrid.azure.net/api/events?api-version=2018-01-01`).
When I change the call to a synchronous call so that i can actually see the process run to completion, I get a `413` response code.
[code]
<img width="813"

[2020-04-21 21:42] heaths commented on #11243
Waiting on @brjohnstmsft and team for a counter proposal to some of the naming proposals.

[2020-04-21 21:44] maririos opened #11480 "Refactor RecognizeCustomForm tests"
Create individual classes for test with forms and with forms and labels where we have a `setup` and `teardown` mechanism instead of what we do today which is more manual.

[2020-04-21 21:46] heaths commented on #11435
Blocked on Azure/azure-rest-api-specs#9160. This could be done without but requires taking over de/serialization completely instead of using generated code, which continues to evolve. At least, we can wait until time no longer allows for getting a change to swagger.

[2020-04-21 21:46] danieljurek opened #11482 "Smoke Tests: Onboard Azure Stack"

[2020-04-21 21:48] maririos commented on #10409
PR https://github.com/Azure/azure-sdk-for-net/pull/11481

[2020-04-21 22:03] maririos opened #11484 "[CodeGen] Remove LRO transform"
See https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/autorest.md#hide-lros

[2020-04-21 22:08] kurtzeborn commented on #7613
The release happened.

[2020-04-21 22:17] heaths commented on #11053
@brjohnstmsft might some of these methods ever become pageable, such that we should make the return types pageable now so these aren't breaking changes later (well, we wouldn't break the API, but would have to add overloads which isn't ideal).

[2020-04-21 22:22] AlexGhiondea opened #11485 "Storage backlog"

[2020-04-21 22:25] #7613 closed

[2020-04-21 22:25] #8002 closed

[2020-04-21 22:29] jabbera commented on #8957
@brandonh-msft selfishly I’m looking for the python sdk but considering this required a collaboration with the remote dev team I was hoping the solution would be the same. 🤷‍♂️

[2020-04-21 22:53] amnguye commented on #11432
Hello I've provided some example snippets below.

1) Setting metadata through upload
[code]

2) How i can delete certain entry from blob metdata
There's not a way to do this through the REST API call without providing all the other metadata headers that you don't want to remove.
https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-metadata#request-headers
See: x-ms-meta-name:value

[2020-04-21 22:54] #10483 closed

[2020-04-21 23:13] maririos opened #11486 "Trigger a release build to test the package"
Don't release it

[2020-04-22 00:05] JoshLove-msft commented on #10829
I do think this would be more discoverable than the static factory method on ServiceBusMessage. I think the main downside is that it isn't clear that you aren't mutating the receivedMessage itself.

[2020-04-22 00:08] DavidStrickland0 commented on #11332
Actually sounds similar to our approach with our api. We gen'd the data tier with Roslyn. Each data tier call has an optional Func parameter. If the Func is set it handles any "error" condition. If the func isnt set or returns false it falls to the default handler that throws an exception.

[2020-04-22 00:28] brjohnstmsft commented on #11053
@heaths Probably not. The limits for these resources are documented [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/search/search-limits-quotas-capacity.md), and the numbers aren't high enough to justify paging.

[2020-04-22 01:29] maririos opened #11487 "[Pending service change] Undo our own deserialization method in DataTableCell"
When the service start sending a value for `confidence` we should undo the changes related to `DataTableCell` from this PR https://github.com/Azure/azure-sdk-for-net/pull/11481

[2020-04-22 03:29] annelo-msft commented on #10409
Excited to see all those boxes checked - awesome work, @maririos!!

[2020-04-22 03:29] #10409 closed

[2020-04-22 03:49] tg-msft commented on #11393
Is there any way to check how customers are actually using this from telemetry?  I think it's fine to offer `Get*Names` for convenience, but we might still want to support `$select` if there are scenarios.  I'm fine making it less usable though (i.e., not getting fancy with name translation if we're supporting `Get*Names` for the common case).

[2020-04-22 03:52] tg-msft commented on #9686
I'd personally like an `interface IExtraProperties { Dictionary<string, object> Properties { get; } }` that everything implements explicitly per the discussion in https://github.com/Azure/autorest.csharp/issues/650.

[2020-04-22 03:59] kinelski commented on #10625
Fixed by #11460.

[2020-04-22 03:59] #10625 closed

[2020-04-22 04:01] tg-msft opened #11492 "Storage: Add `Authenticate the Client` to all Storage READMEs"
We have a new requirement to add an `Authenticate the Client` subsection under our `Getting Started` heading that gives users the a super quick copy/paste snippet they can use as a jumping off point.  We need to add these to the following Storage READMEs:

/sdk/storage/Azure.Storage.Blobs/README.md
/sdk/storage/Azure.Storage.Blobs.Batch/README.md
/sdk/storage/Azure.Storage.Blobs.Cryptography/READM

[2020-04-22 04:04] tg-msft commented on #11377
Correct, Storage doesn't support AAD for either Tables or Files.

[2020-04-22 04:44] maririos opened #11493 "Make sure sample test run and pass in our nightly builds"
Currently they are not.
Samples are located at https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/formrecognizer/Azure.AI.FormRecognizer/tests/samples

[2020-04-22 06:31] isra-fel commented on #9175
@ahamad-MS hello, could you confirm what @cravecode posted about size limitation? Thank you both 😄

(And just to clarify some misunderstanding: as the label suggests, this is data-plane SDK.)

[2020-04-22 06:39] isra-fel commented on #11463
@weidongxu-microsoft  Hi Weidong, could you help on this issue? Thanks

[2020-04-22 06:46] weidongxu-microsoft commented on #11463
@bachoang

This class is not intended to be used directly (well, you can, but it could be a bit complicated).

The class that actually send the REST API is its properties, e.g. [RoleAssignments](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.graph.rbac.fluent.iroleassignmentsoperations?view=azure-dotnet), [RoleDefinitions](https://docs.microsoft.com/en-us/dotnet/api/microso

[2020-04-22 07:30] AlexanderSher commented on #8658
Hi @MikePennington ,

When client is authenticated using Azure CLI, its account is extracted using Azure CLI `az account get-access-token` command as well, and that command should` respect that flag: https://github.com/Azure/azure-cli/blob/b38e150c5d41f80859b329612f8cd70c9d1efc2a/src/azure-cli-core/azure/cli/core/_profile.py#L506

Do you have an issue that `DefaultAzureCredential` authenticates yo

[2020-04-22 07:48] isra-fel commented on #10194
Hi Alex or Filiz, could you add more context about why `versions` is not in the response by default and your thoughts on making it there. Thanks!

[2020-04-22 09:48] isra-fel commented on #9770
Hello Kirk. Sorry for late response.

I tried a few times with v3.0.0-preview but didn't meet any exceptions. Also SDK has been updated to [3.7.1](https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager/3.7.1-preview) could you try that?

Besides, I am not sure about what you meant by "The call actually succeeds with no error, but if you watch for this exception, it hits 3-4 time

[2020-04-22 15:53] BenKoth opened #11503 "[BUG] .Net Framework hanging on BlobClient.DownloadAsync"
**Describe the bug**
I am trying to download large blobs in chunks. I have the same exact code in a .Net 4.7.2 Framework console app and an .Net Core 3.1 console app. The .Net Core app works fine, the .Net Framework app ends up hanging on one of the download calls and eventually throws an error after it is retried 6 times.

This looks similar to Issue # 10027. The comments there try to imply that

[2020-04-22 15:54] zakkra commented on #10629
I also just discovered that having a pound character "£" in blob metadata causes this error. It must be expecting basic ascii set, Ouch!

[2020-04-22 16:41] jongio commented on #10580
@heaths - Can you have a look and determine if this is something we want to add to docs?

[2020-04-22 17:00] YijunXieMS commented on #11347
@jsquire do the users want to pass an EventDataBatch from one function to another? The .clear() method will be helpful in this scenario. If adding and publishing events are in one function, the clear method doesn't help.

[2020-04-22 17:00] kinelski opened #11505 "[FormRecognizer] Parse operation IDs with regex"
## Summary

The implementation of the Operation constructors uses some magic numbers when parsing the operation ID.

### Operations to address
- [ ] `CopyModelOperation`
- [ ] `RecognizeContentOperation`
- [ ] `RecognizeCustomFormsOperation`
- [ ] `RecognizeReceiptsOperation`
- [ ] `RecognizeIdDocumentsOperation`
- [ ] `TrainingOperation`
- [ ] `AnalyzeDocumentOperation`
- [ ] `ClassifyDocumentOpe

[2020-04-22 17:22] maririos opened #11508 "Consider using from file Stream snippets in samples"
See comment: https://github.com/Azure/azure-sdk-for-net/pull/11491/files#r413015866

[2020-04-22 17:24] maririos commented on #11493
See how some samples are disabled.
mode info: https://github.com/Azure/azure-sdk-for-net/pull/11491/files#r413125483

[2020-04-22 17:30] vanillajonathan commented on #10629
It seems strange if metadata is sent as "request headers" (I understand that as HTTP request headers) instead of being sent in the request body.

Can you guys fix it so that it sends the metadata in the request body instead of as HTTP headers (if that is what it is currently doing)?

Or what is the recommended way to deal with this? To URL encode it? Or to Base64 encode it?
But wouldn't that store

[2020-04-22 17:31] jongio commented on #9076
@schaabs - It would be great to get the error messages to include the "because it contains more than one resource" text even if the scope doesn't include .default.  Pawel had to remove .default to see that error.

[2020-04-22 17:31] heaths commented on #10580
We can add examples, yes. Some of our samples show the collection initialization pattern below.

Ideally, you can use collection initialization that calls `Add` for you in a syntax you were using originally - just don't instantiate the object.

[code]

In general, collection / dictionary properties aren't settable, following .NET guidelines. Settable often implies they can be null vs. just empty,

[2020-04-22 17:33] heaths commented on #10580
As for where to put this, maybe call it out better in the samples. This applies to *all* our collection properties.

[2020-04-22 19:11] #11350 closed

[2020-04-22 19:12] brandonh-msft opened #11509 "[BUG] Unable to use interactive login from VSCode Dev Container"
x-post from [this stackoverflow question](https://stackoverflow.com/questions/61093766/interactive-login-with-azure-sdks-from-w-in-vscode-devcontainer)

**Describe the bug**

When using devcontainers on a project where we are relying on MSIs for app-to-app communication, we are utilizing `DefaultAzureCredential` as the class to load either from the local developer's machine or, on Azure, the MSI o

[2020-04-22 19:15] brandonh-msft commented on #8957
Created https://github.com/Azure/azure-sdk-for-net/issues/11509

[2020-04-22 19:22] heaths opened #11510 "Search: Rename RegexFlags to RegexFlag since to follow .NET Guidelines"
Should the type name be `RegexFlags` if it's being collected in a list?  I feel like a bunch of flags would be represented by `List<RegexFlag>`.  All the other type names in the APIs changed here are singular.

_Originally posted by @tg-msft in https://github.com/Azure/azure-sdk-for-net/pull/11461_

[2020-04-22 19:29] heaths commented on #11053
@brjohnstmsft Index and Indexer limits for S3 were pretty high. If there's any chance the service would return a nextLink or something in the future, we should make it pageable now.

/cc @pakrym

[2020-04-22 19:31] #8624 closed

[2020-04-22 20:08] MikePennington commented on #8658
@AlexanderSher, `DefaultAzureCredential` is not authenticating me at all. I am getting a similar error to the one provided by the OP:

[code]

[2020-04-22 20:28] schaabs commented on #8658
@MikePennington what version of Azure.Identity are you currently using? Support for authentication through the Azure CLI was only recently added in [1.2.0-preview.1](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/CHANGELOG.md#120-preview1) and we have yet to GA this feature. Based off the error message you shared it seems that you're using an older version which

[2020-04-22 20:36] brjohnstmsft commented on #11053
@heaths The max indexer count is 200; that's not high. Indexes can get up to 3000 in case of S3HD. So far that hasn't been enough to motivate us to introduce paging. We're looking at allowing more fields per index, which would increase the response size for this API, so maybe we can consider nextLink in the future. If you want to be maximally defensive against breaking changes, maybe make listing

[2020-04-22 20:43] heaths commented on #11053
No, 200 isn't that high but if properties increase that still gets pretty big. Key Vault, in comparison, has pretty small pages. Making only GetIndexes pageable carries the concern about inconsistency, since enumerating a pageable method uses different code.

[2020-04-22 20:43] anuchandy opened #11511 "[QUERY] Stack trace logging"
**Query/Question**

As per the [logging](https://github.com/Azure/azure-sdk/blob/master/docs/general/implementation.md#logging) design guideline, logging of stack trace should be done only for  specific log levels, verbose as per general guideline but languages may have different name for this level.

Opening this issue as a question to confirm that we're not logging sensitive stack trace unless u

[2020-04-22 20:57] pakrym commented on #11511
We are not logging stack trace explicitly in .NET at any level. EventSource has it's own infrastructure to provide stack trace information to consumers that require it.

[2020-04-22 21:00] AlexGhiondea commented on #5226
@RLoris is this still an issue?

[2020-04-22 21:02] AlexGhiondea commented on #7506
@AndreMantas could you take a look at @alongafni's reply?

[2020-04-22 21:20] jsquire commented on #11347
That was the scenario that made sense to me.

[2020-04-22 21:23] jsquire commented on #11347
The other potential win, at least in .NET, is that there's a connotation that people make with "async means IO calls" and therefore equate each call to create batch with "this slows down my code."

Though the reality is that only the first call pays the network tax and subsequent calls complete synchronously, it may be appealing from an optics perspective to `Clear` rather than await an async call

[2020-04-22 21:27] SeanFeldman commented on #11347
Potentially that has been already discussed internally - differences in batch usage between EventHubs and Service Bus customers. EventHubs is more telemetry focused, where re-using the batch would be very logical. Service Bus is more associated with business applications where events are discrete and a batch sending is taking place under certain conditions rather than continuously. Therefore a bat

[2020-04-22 21:39] #10486 closed

[2020-04-22 21:40] anuchandy commented on #11511
Thanks, @pakrym so SDK don't deal with it, but delegate to EventSource and ES take care of /controls any security aspect of trace, I assume that's the idiomatic model in the .NET world. Feel free to close this if there is no further action needed in the SDK side.

[2020-04-22 21:51] #11511 closed

[2020-04-22 22:07] brjohnstmsft opened #11514 "[Azure Cognitive Search] [FEATURE REQ] Add DI helpers for Search library"
Opening this on behalf of @xantari. See related issue: https://github.com/Azure-Samples/search-dotnet-getting-started/issues/43

**Library or service name.**
Azure.Search.Documents (new replacement for Microsoft.Azure.Search, a.k.a. Azure Cognitive Search).

**Is your feature request related to a problem? Please describe.**
The `Microsoft.Azure.Extensions` library provides handy extension methods

[2020-04-22 23:08] pakrym commented on #9501
Backlogging until we have a service that asks for them

[2020-04-22 23:09] pakrym commented on #9519
Moving to backlog for now.

[2020-04-22 23:18] schaabs commented on #11509
@brandonh-msft Thanks for filing this issue. I'll need to investigate if there is another way we could launch the browser process in this case.

However, since you mentioned you're able to run az login in the dev container, you could try the latest Azure.Identity preview [1.2.0-preview.2](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/CHANGELOG.md#120-preview2).

[2020-04-22 23:51] annelo-msft opened #11516 "[Documentation] Move aka.ms links to new azsdk scheme"
Guidance provided by @jongio in internal [Teams post](https://teams.microsoft.com/l/message/19:f6d52ac6465c40ea80dc86b8be3825aa@thread.skype/1587665449274?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1575426306557&teamName=Azure%20SDK&channelName=General&createdTime=1587665449274)

These will be updated to the pattern: "azsdk/{lang}/doc

[2020-04-23 00:02] heaths commented on #11514
Adding @pakrym who owns Extensions.

[2020-04-23 00:05] clairernovotny opened #11518 "[BUG] "Operation decrypt is not permitted on this key" using the new SDK"
**Describe the bug**
In the new Key Vault SDK, I'm getting a "Operation decrypt is not permitted on this key." error when I call Decrypt on a certificate in key vault using a Service Principal. The same service principal using the older SDK works and can perform the decrypt operation.

**Expected behavior**
What is the expected behavior?
Decrypt should work.

**Actual behavior (include Exception o

[2020-04-23 00:22] tg-msft commented on #11514
Yes - this is a duplicate of https://github.com/Azure/azure-sdk-for-net/issues/10848.

[2020-04-23 00:22] #11514 closed

[2020-04-23 00:35] MikePennington commented on #8658
@schaabs, thanks for the info, I was using the latest non-preview release, 1.1.1.

I tried the 1.2.0-preview.2, and it failed with the following error:
[code]

So then I reverted to 1.2.0-preview.1, and it worked! So it seems like something seems to have gone sideways between 1.2.0-preview.1 and 1.2.0-preview.2.

[2020-04-23 00:53] clairernovotny commented on #11518
Found the issue - in the tests, it was using a key-only in master and a certificate and key in the branch.

[2020-04-23 00:53] #11518 closed

[2020-04-23 00:58] arde0708 opened #11519 ".NET SDKs to access file share with File Service SAS Token"
**Query/Question**
I am reaching out in regards to few doubts about accessing File Share using SAS Token via the .NET SDK's. I have a **File Service SAS Token**(not the Connection String of the Storage Account). Using that, I am trying to do the following using .NET SDK's
1.	Fetch the properties of storage account. I see there is a REST API( Ref #1 )  endpoint for that which uses only the storage

[2020-04-23 01:03] #10484 closed

[2020-04-23 01:04] heaths commented on #11518
To note, by default keys created with certifications only have Key Encipherment and Digital Signature usage flags. You can add Data Encipherment to add encrypt and decrypt permissions to the managed key.

[2020-04-23 01:20] brjohnstmsft commented on #11243
Here are my counter-proposals for some of the names. A lot of these are born of the fact that prefixing everything with "Search" will often confuse more than it will help. This is because Search, like Index, is sometimes a noun and sometimes a verb.

Model | Property | Proposal | Counter-proposal
--- | --- | --- | ---
Analyzer | | SearchAnalyzer | LexicalAnalyzer
AnalyzerName | | SearchAnalyzerNam

[2020-04-23 01:51] JoshLove-msft opened #11521 "Improve error message when user attempts to settle a peeked message"
The current message:
The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue, or was received by a different receiver instance.

This goes along with a ServiceBusException with a FailureReason of MessageLockLost.

This isn't really accurate, because the user never had the lock to begin with. We can probably do the validation on the client and p

[2020-04-23 01:57] isra-fel commented on #9350
Sorry for late response. @AzmonActionG could you please share some insights? Thank you

[2020-04-23 01:58] isra-fel commented on #8806
Sorry for late response. @sffamily, @chenkennt could you please share some insights? Thank you

[2020-04-23 02:10] isra-fel commented on #7898
Sorry for late response. @weidongxu-microsoft could you please share some insights? Thank you.

[2020-04-23 02:10] isra-fel commented on #8314
Sorry for late response. @weidongxu-microsoft could you please share some insights? Thank you.

[2020-04-23 02:13] isra-fel commented on #7714
Sorry for late response. @weidongxu-microsoft could you please share some insights? Thank you.

[2020-04-23 02:14] isra-fel commented on #7478
Sorry for late response. @AzureAppServiceCLI, @antcp could you please share some insights? Thank you.

[2020-04-23 02:19] isra-fel commented on #7304
Sorry for late response. @armleads-azure could you please share some insights? Thank you.

[2020-04-23 02:25] weidongxu-microsoft commented on #8314
@nakhanha
Could you provide a sample of the json string?

[2020-04-23 02:58] maririos opened #11525 "Write release notes"

[2020-04-23 03:07] weidongxu-microsoft commented on #7714
@sabvente

Could you try later versions?

I've tried 1.33.0 and cannot reproduce. Sample json
[code]

There is an upgrade on container service as 1.27.0, which might have fixed the issue.
https://github.com/Azure/azure-libraries-for-net/releases/tag/Fluent-v1.27.0

[2020-04-23 03:18] #11401 closed

[2020-04-23 03:21] weidongxu-microsoft commented on #7898
@Mishu

Would please upgrade to 1.30.0 or later? Latest is 1.33.0.
Related PR https://github.com/Azure/azure-libraries-for-net/pull/926
Related doc https://docs.microsoft.com/en-us/azure/virtual-machines/windows/winrm

It would have an additional API `WithVaultSecret` to set up keyvault setting.

[2020-04-23 03:31] maririos opened #11526 "Update links for Microsoft.Azure.CognitiveServices.Language.TextAnalytics"
And documentation

[2020-04-23 03:54] chenkennt commented on #8806
@juniwang please help take a look.

[2020-04-23 05:00] annelo-msft commented on #11424
For Preview 1, the approach was https://github.com/Azure/azure-sdk-for-net/issues/10625

[2020-04-23 05:25] annelo-msft opened #11528 "Remove protected constructors from LROs"
Guidelines are unclear regarding whether protected constructors are required for non-client types like subclasses of Operation<T>: https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking

Confirm that this guideline refers only to client classes, and if so, remove them from LROs:

✅ DO provide protected parameterless constructor for mocking.

[2020-04-23 05:30] juniwang commented on #8806
Sorry for late response. We have a [PR](https://github.com/Azure/azure-rest-api-specs/pull/8540) under reviewing, a preview of the .net SDK change can be found at https://github.com/AzureSDKAutomation/azure-sdk-for-net/pull/585/files#diff-32198cbb0ddba3a6b70e55a0eff49202L42. After this PR merged, it will be fixed in the new version of .NET SDK.

In older versions of SDK, since `ServiceMode` is the

[2020-04-23 05:30] annelo-msft opened #11529 "[Test] Provide Model Factory per .NET Mocking Guidelines"
https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking

✅ DO provide factory or builder for constructing model graphs returned from virtual service methods.

Model types shouldn’t have public constructors. Instances of the model are typically returned from the client library, and are not constructed by the consumer of the library. Mock implementations need to create instances of

[2020-04-23 06:07] isra-fel commented on #7468
Sorry for late response Mike. I practiced the guide and it worked perfectly.

The idea of this guide is to get your Azure token from visual studio, and use it to get your secret from key vault, so guessing from these lines, I believe the error was caused by API mismatch between the authentication library and visual studio. Updating them might solve the problem.

Here's my configuration:
|item|vers

[2020-04-23 06:27] heaths opened #11531 "Rename RegexFlags to RegexFlag following .NET Guidelines"
Now that #11510 is resolved, we need to rename `RegexFlags` to `RegexFlag` since it technically represents a single value.

[2020-04-23 06:33] heaths opened #11532 "SearchServiceClient needs to send odata.metadata in Accept request header"
Based on https://github.com/Azure/azure-sdk-for-net/pull/11420#discussion_r413371972, we should be setting the Accept header for `SearchServiceClient` to "application/json;odata.metadata=minimal". I also see in track 1 that document operations for `SearchIndexClient` set Accept to "application/json;odata.metadata=none". Track 2 code is currently doing neither, but the service seems to default to r

[2020-04-23 06:40] isra-fel commented on #10837
Hi Jesse , you might already knew Yaohai left Microsoft. Could you ping @weidongxu-microsoft instead? Thanks.

Weidong, could you share some insights about this issue? Thank you!

[2020-04-23 06:55] isra-fel commented on #10295
Hi @sergiosolorzano if my understanding is right, you are trying to install dotnet core 3.0 on cloud shell.
I'm not sure if there's a way to do that... looping in the cloud shell team

[2020-04-23 06:58] isra-fel commented on #10263
Sorry for late response. Compute team might have some insights to share. Thank you.

[2020-04-23 06:59] isra-fel commented on #9767
Sorry for late response. SQL team might have some insights to share. Thanks.

[2020-04-23 07:00] isra-fel commented on #9337
Sorry for late response. SQL team might have some insights to share. Thanks.

[2020-04-23 07:02] isra-fel commented on #7735
Sorry for late response. App service team could you share some insights? Thanks

[2020-04-23 07:12] isra-fel commented on #10057
This issue is about Azure PowerShell rather than .net SDK. Transfering it into the powershell repo.

[2020-04-23 07:24] nianton opened #11533 "[BUG] Service Bus .NET SDK randomly fails to complete messages for long running process"
**Describe the bug**
When a Service Bus topic message requires a long time to be processed (in my case between 15 and 20 minutes) and the respective MessageHandlerOptions was initialized as:
[code]
when the processing has finished (always sooner than the TimeSpan set for MaxAutoRenewDuration, in my case processing took 18 mins and the MaxAutoRenewDuration  was set to 30 mins) and attempting to com

[2020-04-23 07:31] isra-fel commented on #11382
Steve or Yugang, could you share your insights on this issue? Thanks
cc @northtyphoon @ankurkhemani

[2020-04-23 08:51] gregmus commented on #11399
Hi @jsquire

Thanks a lot for details.

I've set quite high memory limit in k8s. Without messages flow service is restarting every 30 minutes, I suspect that GC would be triggered within that time.

SDKv5 doesn't have a built-in support for batch processing. I had to implement batch processing support based on your sample:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.M

[2020-04-23 08:54] mleneveut commented on #8761
Same problem here in NorthEurope.

```Can't create session when the connection is closing at Microsoft.Azure.ServiceBus.Core.MessageReceiver.<OnReceiveAsync>d__86.MoveNext()```

on 13th April between 22h15 and 22h50 CET
on 23rd April between 05h20 and 07h25 CET

Microsoft.Azure.ServiceBus 3.3.0
Microsoft.Azure.Management.ServiceBus 2.0.1

[2020-04-23 09:05] weidongxu-microsoft commented on #10837
Setting `IAzureClient.LongRunningOperationRetryTimeou` is likely not related to the issue. It is the default retry-after value for LRO (long running operation). Usually service will have a value which override it.

Setting `IAzureClient.HttpClient.Timeout` might help a bit. However I think ARM itself got a timeout about 1 or 2 minutes (https://github.com/Azure/azure-resource-manager-rpc/blob/maste

[2020-04-23 09:13] sabvente commented on #7714
@weidongxu-microsoft
Hi,

Sorry, but I'm unable to test this right now. If 1.33.0 works for you, than I'm sure this will be ok.
Close this issue if you want.

[2020-04-23 09:18] weidongxu-microsoft commented on #7714
OK. You can reopen it if you see it again.

[2020-04-23 09:18] #7714 closed

[2020-04-23 09:19] komalkungwani commented on #4190
Hi, I faced the same issue and gave the access policy to my app manually using azure portal. Then I tried to give access policy through PowerShell using "Set-AzureRmKeyVaultAccessPolicy -VaultName -Keyvaultname ObjectId xxxxxx -PermissionsToKeys Create,Get,Decrypt,UnwrapKey,WrapKey,List,Verify,Encrypt" and it worked out.

[2020-04-23 09:50] JoshKeegan commented on #10837
Thanks for that @weidongxu-microsoft. We're not having the problem any more, presumably because the azure resource manager is working as intended.

We have logging of the exceptions back from when they were happenning though, is there anything I could look for to help identify what coul,d help (e.g. `RetryPolicy` as you suggest)? Or perhaps just additional conditions we could be logging on so that

[2020-04-23 12:04] RLoris commented on #5226
It's been a year, I can't tell, haven't used the service since then

[2020-04-23 15:00] AlexanderSher commented on #8658
@MikePennington , can you please add a call stack from the bug that you have on `1.2.0-preview.2`?

[2020-04-23 15:50] maririos commented on #10410
Closing as https://github.com/Azure/azure-sdk-for-net/issues/11529 got created and has more info on it.
besides that, a dup

[2020-04-23 15:50] #10410 closed

[2020-04-23 16:48] jaredmoo commented on #9767
Thank you for reporting this feedback!

The current behaviour is correct according to ARM RPC.

https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#delete-resource

If deleting dns record set throws when it doesn't exist, then that's a bug in the DNS API ;)

[2020-04-23 16:48] #9767 closed

[2020-04-23 17:03] maririos commented on #11526
As part of this process, the package description needs to be updated to point to the new Azure.AI.TextAnalytics and its documentation

[2020-04-23 17:09] maririos commented on #10506
Tracking issue for eng services is here =>https://github.com/Azure/azure-sdk-pr/issues/36
so closing this one

[2020-04-23 17:09] #10506 closed

[2020-04-23 17:21] kinelski commented on #11486
Triggered and tested!

[2020-04-23 17:21] #11486 closed

[2020-04-23 17:52] maririos commented on #11526
Also, updating docs.msft.com to primarily show docs for the new library, changing the moniker on reference docs on docs.msft.com for the old library as "legacy"

[2020-04-23 18:32] annelo-msft commented on #11516
@kristapratico, @jeremymeng, @samvaity

[2020-04-23 18:38] mark-szabo commented on #10580
@heaths I'd add it to the XML comments, that's where I search for usage info. Or that can be only me, I don't know. 🤷‍♂️🙂

[2020-04-23 18:55] AlexGhiondea commented on #5226
Thanks @RLoris. I will close the issue then. If you still run into this or another issue, please let us know.

[2020-04-23 18:55] #5226 closed

[2020-04-23 19:21] MikePennington commented on #8658
@AlexanderSher

[code]

[2020-04-23 19:37] ryanerdmann commented on #10629
You are correct; application metadata is sent to the service via HTTP request headers.

As Azure Blob Storage is fundamentally exposed as an HTTP service, the HTTP body content is used to represent the contents of a blob while HTTP headers are used to expose the properties and metadata of a blob.  Using the HTTP headers in this way to carry properties/metadata is by design, and enables the followi

[2020-04-23 20:09] kinelski commented on #11174
Done [here](https://github.com/Azure/azure-sdk/pull/1263).

[2020-04-23 20:09] #11174 closed

[2020-04-23 20:41] brandonh-msft commented on #11509
I'll give this a try ASAP

[2020-04-23 21:14] #11284 closed

[2020-04-23 22:00] brandonh-msft commented on #11509
No dice. Using the sample I linked here's the error I get w/ the new nupkg:

[2020-04-23 22:09] brandonh-msft commented on #11509
I then added `libsecret-1-0` to my devcontainer's dockerfile and tried again:

[2020-04-23 22:12] #11053 closed

[2020-04-23 22:14] pakrym opened #11544 "Change test framework to be a project reference instead of shared source"
Would simplify consumption and would lead to eventually shipping a package that other teams can use for testing Azure.Core based clients.

[2020-04-23 22:18] jeremymeng commented on #11516
I suppose this would be for all our libraries, not just cognitive service ones.

[2020-04-23 22:22] brandonh-msft commented on #11509
I pushed this work to [a new branch on my sample](https://github.com/brandonh-msft/functions-storage-managed-identity/tree/identity-prerelease-nupkg)

[2020-04-23 22:32] heaths commented on #11531
Dup of #11510

[2020-04-23 22:32] #11531 closed

[2020-04-23 22:53] heaths commented on #11052
After much discussion, we've decided to instead define a boolean parameter named `onlyIfUnchanged` for CreateOrUpdate and Delete operations. For delete, we'll have an overload that takes a string and *no* ETag-related parameters or options, and a version that takes a resource with an ETag (e.g. `SearchIndex`) in whole and uses its `ETag` property, plus the `onlyIfUnchanged` parameter.

[2020-04-23 22:57] weshaggard opened #11546 "Simplify version update script"
Currently it takes a lot of parameters to successfully call https://github.com/Azure/azure-sdk-for-net/blob/master/eng/scripts/Update-PkgVersion.ps1 and even when you get them all correct it doesn't always do what you want. For example I was trying to update the version for a couple libraries where the version was already set in the project but they didn't have change log entries so calling the up

[2020-04-23 23:20] kinelski commented on #10002
Hello, @miflamashood. The new package that targets the v2.0-preview API had its first preview released today. Our [README](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/README.md) contains detailed information on how to get started in case you feel interested.

Let us know if you have any concerns.

[2020-04-23 23:20] #10002 closed

[2020-04-23 23:26] kinelski commented on #10275
Preview 1 has been released and all related issues have been either closed or moved to other epics.

[2020-04-23 23:26] #10275 closed

[2020-04-23 23:31] kirk-marple commented on #9770
I'll try again with latest and see if I still get it.

In terms of the exception, I was in the debugger, and watching for NullRerferenceExceptions to be thrown (in my own code), and noticed these exceptions were thrown internally by the Azure SDK (and caught internally, it appeared).  I never saw my call fail... just that the debugger noticed these exceptions were getting thrown.

[2020-04-23 23:48] bleroy commented on #11243
And here's our counter-proposal for the indexer/enrichments part:

Ideally, we'd prefer to capture context in the namespace rather than prefixing type names. With that option, we'd have a `Azure.Search.Indexers` namespace with the classes `Indexer`, `Skillset`, `Skill` and `DataSource`.

If that's not the option that's selected, our second choice is to prefix with `SearchIndexer` to reflect the re

[2020-04-23 23:51] heaths commented on #11243
Some languages can't have parent "namespaces" in the same package, so we are left with class prefixes as a fall back. Do either of you or anyone else on your team have any more counter proposals for classes here? If not, I'll update the table here and in the other languages' repos where I opened copies.

[2020-04-24 00:20] heaths commented on #11243
@brjohnstmsft @bleroy could you have a look over the updated issue description and make sure I captured everything correctly? I did make one change. With `SearchIndexerDataSource`, I also similarly renamed `SearchIndexerDataSourceContainer`. It's long, but groupable.

[2020-04-24 00:25] bleroy commented on #11243
LGTM

[2020-04-24 01:34] JoshLove-msft opened #11550 "Improve documentation for ReceiveBatchAsync"
Need to emphasize that the maxMessages specified will not be guaranteed to be returned, even if there are that many messages available in the queue.

[2020-04-24 01:36] JoshLove-msft opened #11551 "Include what the default ReceiveMode is in more places in documentation"
In the enum, we have it in the remarks, which doesn't show up in Intellisense.
We could also make sure to call out the default in the Receive methods in addition to the CreateReceiver methods.

[2020-04-24 01:41] JoshLove-msft opened #11552 "Improve subscription creation methods"
Currently, we can create a sender from one method that has a queueOrTopicName parameter.
CreateSender(string queueOrTopicName).

We then have CreateReceiver/Processor methods that expect either a queue, or a combination of topic and subscription names. In UX studies, most users ended up supplying a topicName in the queueName overload, and not including the subscription. This is probably at least i

[2020-04-24 01:41] JoshLove-msft commented on #11552
/cc @richardpark-msft @hemanttanwar @KieranBrantnerMagee

[2020-04-24 01:47] JoshLove-msft opened #11553 "Emphasize that a ServiceBusSender can be used to send to both session and non-session entities"
In UX studies, when users were asked to send session messages, they would often be drawn to the CreateSessionProcessor method since this has Session in the name, and it isn't obvious what a Processor would do. We can alleviate this somewhat by making it clear in the ServiceBusSender docs that it can be used for session entities. We can also try to emphasize in the Processor docs that this is used

[2020-04-24 01:55] JoshLove-msft commented on #10829
Based on data we have gathered in some UX studies, I'm leaning towards a constructor overload for creating a new message from a received message. Participants didn't have much success in finding the static factory method.

[2020-04-24 02:12] SeanFeldman commented on #10829
I can retire now 😂
Thanks for confirming @JoshLove-msft.

[2020-04-24 02:33] JoshLove-msft opened #11554 "Investigate ways to avoid autocompleting when a user settles a message in handler"
If a user leaves AutoComplete = true in the ServiceBusProcessorOptions, we will attempt to autocomplete assuming the handler doesn't trigger an exception. But what if the user settles the message themselves in some way - for instance Defering or DeadLettering the message? Currently, this would trigger a MessageLockLost exception that would bubble up to the user error handler. We should try to avoi

[2020-04-24 02:39] weidongxu-microsoft commented on #10837
For logging, one can enable it via
[code]
with additional instructions (following prints to console)
[code]

It could be used with modifications, e.g. only output 4xx and 5xx responses.

Be aware that bearer token is also printed out, and better to be redacted.

For RetryPolicy, it might not be very helpful for logging. If you uses it, general suggestion is only enable it for GET method, and 408,

[2020-04-24 05:01] SilverBkk opened #11557 "Event hub sometimes stops delivering messages without error"
**Describe the bug**
We noticed that after some time the app simply stops reading messages (even though devices are still connected and sending messages and we can still send messages to devices). In the logs of the WebApp BackgroundWorker, we can see that after a while, some partitions stop receiving messages without error but some partitions continue receiving. Restarting the app causes messages

[2020-04-24 06:11] felickz opened #11559 "[BUG] Azure.Identity - SharedTokenCacheCredential AKV10032 - Key Vault in different tenant than credential home tenant"
**Describe the bug**
Connecting to get Key Vault Secret from tenant that is different from the home tenant of my credential for localhost development (using Visual Studio cached credential store via "[Azure Service Authentication](https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication)") throws 401 response with **AKV10032: Invalid issuer.**

**Expected behavior

[2020-04-24 06:20] danielmarbach commented on #11552
Why not introduce a dedicated value type struct for a queue and a topic to get rid of this ambiguity?

[2020-04-24 06:22] danielmarbach commented on #11354
I think even here a dedicated value type struct that represents a queue or a topic could be helpful. It also addresses the ambiguity of queueOrTopic overloads

[2020-04-24 06:27] SeanFeldman commented on #11354
Do you want to sketch what would it look like?

[2020-04-24 06:43] JoshLove-msft commented on #11554
Since we only expose settlement methods from the event args. We could just track whether the settlement methods were called in the args instance, and if so, don't do any autocompletion.

[2020-04-24 07:20] isra-fel commented on #6567
Fixed

[2020-04-24 07:20] #6567 closed

[2020-04-24 07:21] isra-fel commented on #6566
Fixed: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/monitor/Microsoft.Azure.Management.Monitor/tests/Microsoft.Azure.Management.Monitor.Tests.csproj#L12

[2020-04-24 07:21] #6566 closed

[2020-04-24 09:00] 5-k commented on #3933
I cannot Believe this worked.!
Tried Relogin and logout, but didnt work. Clicking on the arrow couple of times worked!!!
So stupid lol

[2020-04-24 09:43] JoshKeegan commented on #10837
Thanks, I'll add additional logging following that example.

RE the `RetryPolicy`: it sounds like a good idea for me to configure that too. Is there any reason not to or anything to be cautious of (apart from limiting status codes & only to `GET` requests)?
I would assume if it was always a good idea the SDK would have it enabled by default?

[2020-04-24 10:25] #6570 closed

[2020-04-24 10:25] #6571 closed

[2020-04-24 10:25] #6572 closed

[2020-04-24 12:29] SamratAlamgir opened #11564 "[BUG] Getting error for FormRecognizerClient StartRecognizeCustomFormsFromUri for Azure SAS Uri"
**Describe the bug**
I was trying to FormRecognizerClient.StartRecognizeCustomFormsFromUri() using a valid model id and SAS Uri, But getting BadRequest. But the same uri can be processed by form recognizer api.

Note that, Uri is valid and if I download data using WebClient and pass it as stream content to StartRecognizeCustomForms() then it works.

**Expected behavior**
It should return the proce

[2020-04-24 13:35] clairernovotny opened #11565 "[BUG] ArgumentNullException within Key Vault Certificate SDK"
**Describe the bug**
Getting an ArgumentNullException when trying to delete an old CSR in Key Vault

**Expected behavior**
No exceptions

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1. Have a key vault with an old CSR pendin

[2020-04-24 13:35] clairernovotny commented on #11565
/cc @heaths

[2020-04-24 13:48] pascalnaber commented on #10237
Any update on this bug?
We would like a reliable way of appending to a file

[2020-04-24 14:16] jsquire opened #11566 "[Design Discussion] Should the Event Processor Client Support Creating Checkpoints for Arbitrary Events?"
# Summary

The current design of the `EventProcessorClient` invokes an event handler to process data read from the Event Hubs service.  Part of the arguments associated with that event handler is a method for creating/updating a checkpoint based on the `EventData` instance associated with the event arguments.  This method takes no parameters and relies on the implicit context when called.   It us

[2020-04-24 14:32] jsquire commented on #11347
We  have come to a point where the consensus opinion is that we don't feel this is enough of a pain point for those using the client libraries to prioritize it over other features.   As a result, closing this out.  When the time comes to revisit, a new discussion should be opened.

[2020-04-24 14:32] #11347 closed

[2020-04-24 14:56] INNVTV commented on #11566
In your proposed solution above. How would I get the offsets? Would the burden be on the developer to track this? Why not store the array of partitions and the current offsets of each within the processor so that I can make a call based on latest offset for each partition.

[code]

Even better would be a single call that runs through the array of partitions and checkpoints on the latest offset for

[2020-04-24 15:05] jsquire commented on #11566
That's an interesting thought.  That would also give us a query point to answer the question "what partitions are owned by the processor?"    I wonder if we would want to track the event or just the offset.   Something like:

[code]

[code]

[2020-04-24 15:13] INNVTV commented on #11566
Both are nice options. Does EventData store offset? I don't see it in the current library. Maybe something like this:

[code]
Still thinking this would be a nice addition:

`await processor.UpdateCheckpoints()`

...Or on client options:

`var clientOptions = new EventProcessorClientOptions { CheckpointFrequency= TimeSpan.FromMinutes(5) };`

[2020-04-24 15:14] INNVTV commented on #11566
EventProcessorClientOptions.CheckpointFrequency would also ensure that developers don't/can't overdo the check pointing

[2020-04-24 15:16] felickz commented on #11559
Also, assuming this is unsupported at the moment - as there is no documentation for [SharedTokenCacheCredential](https://stackoverflow.com/questions/60059505/what-is-shared-token-cache-credential-authentication-method) ?

[2020-04-24 15:20] maririos opened #11567 "/entities/recognition/general returning 0 for entities in Spanish"
Text = "Microsoft fue fundado por Bill Gates y Paul Allen."

v3.0-preview.1
[code]

3.0
[code]

Note that it works for `/entities/linking`

[2020-04-24 15:25] maririos opened #11568 "Approval from Arch Board to ship next release"

[2020-04-24 15:31] christothes opened #11569 "[BUG] Recorded tests that include header values with a semicolon delimited string are not matched properly"
**Describe the bug**
Recorded tests that include header values with a semicolon delimited string are not matched properly.

ex: `request.Headers.Add("Content-Type", "application/json;odata=nometadata");`

**Expected behavior**
Recorded header values match as expected.

**Actual behavior (include Exception or Stack Trace)**

System.InvalidOperationException : Unable to find a record for the request

[2020-04-24 15:35] maririos opened #11571 "Recognize entities difference on versions"
When calling endpoint `/entities/recognition/general` with the text: `Bill Gates | Microsoft | salesperson | Microsoft Surface laptop | Coding`

Before:
[code]

Now:
[code]

[2020-04-24 15:36] jsquire commented on #11566
To me, this feels a bit too implicit to be intuitive.  The strong association between the partition context and updating a checkpoint has the intention of keeping the concept of a checkpoint and the event that it represents local to one another.  I'm not sure that I see enough value in the convenience of calling this method rather than writing a loop that would justify the added complexity and pot

[2020-04-24 15:37] maririos commented on #11571
FYI @assafi

[2020-04-24 15:37] jsquire commented on #11566
Yup, its [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/EventData.cs#L107) and guaranteed to be set for an event read from the service.

[2020-04-24 15:37] maririos commented on #11567
FYI @assafi

[2020-04-24 16:46] pakrym opened #11574 "KeyResolver requires extra "get" permissions"
It seems that IKeyEncryptionKeyResolver.Resolve can be implemented in a way that avoids requiring "get" permission on key.

[code]

cc @heaths @schaabs

[2020-04-24 16:47] INNVTV commented on #11566
Nice. Thank you. This is slightly off topic and may justify a new discussion: Is there an option (or one in the pipeline) to allows for a check pointing mechanism outside of Azure Blobs? For example a scenario where I only want a dependency on Azure for EventHubs but not for Storage. If I have processors running on prem and will be check pointing offsets to a local text file for example?

[2020-04-24 16:57] schaabs commented on #11574
https://github.com/Azure/azure-sdk-for-net/blob/648e09c90ea30c200697c12a6de5756188dabc00/sdk/keyvault/Azure.Security.KeyVault.Keys/src/Cryptography/KeyResolver.cs#L112-L127

Looks like `Resolve` and `ResolveAsync` expect `GetKey` and `GetKeyAsync` to return null when they fail rather than raising an exception. We should be able to wrap `GetKey` and `GetKeyAsync` in a try/catch to handle failures a

[2020-04-24 16:58] AlexanderSher commented on #8658
https://github.com/Azure/azure-sdk-for-net/pull/11575

[2020-04-24 17:16] brjohnstmsft commented on #11243
@bleroy Just to clarify, should it be `SearchIndexerDataSourceContainer`, or just `SearchIndexerDataContainer`?

[2020-04-24 17:17] brjohnstmsft commented on #11243
@heaths I think @shmed mentioned this elsewhere -- `SearchIndexEncryptionKey` is misleading because these keys can be used to secure other resources besides indexes (synonym maps for now, possibly others to follow). I would propose either `SearchEncryptionKey` or maybe `SearchResourceEncryptionKey`.

[2020-04-24 17:23] JoshLove-msft commented on #11552
Interesting idea. Do you mean something like this:
[code]

We would then be able to get rid of our overloads and have single method for CreateReceiver/Processor:

[code]

We would call it like:
[code]

This would allow us to perform validation so that if a user sets a TopicName without a SubscriptionName we could throw an ArgumentException.

[2020-04-24 18:34] JoshLove-msft opened #11581 "Update Samples for P2"
- Figure out whether we should include code snippets involving the receiver or just skip those in favor of only having processor.
- Make sure we don't show code snippets involving sessions.
- Update samples to cover new features from P2.
- Update changelog + breaking changes

[2020-04-24 19:04] shmed commented on #11243
Yes, thank you @brjohnstmsft from bringing this to attention in this thread. SearchEncryptionKey or SearchResourceEncryptionKey both sounds good to me. Do we use the term "Resource" elsewhere in the API? Also, as you mentioned, @arv100kri is bringing encryption keys to skillsets, indexers and data sources, so we should definitely keep the name generic.

[2020-04-24 20:05] mhintzke opened #11584 "FieldBuilder.BuildForType<T>() is returning a fixed size collection"
The [changes made here](https://github.com/Azure/azure-sdk-for-net/pull/6833/files) 9 month ago introduced a change whereby the collection of `Field` objects used to be an actual `List<Field>` that was returned and projected as an `IList<Field>` to what is now an Array.

The line below shows that `.ToArray()` was used when returning the collection of `Field` objects which doesn't allow modifying t

[2020-04-24 20:06] kinelski commented on #11564
Hello, @SamratAlamgir. Thanks for bringing this issue to our attention.

I have a SAS URI that points to an image stored in a blob container, but I couldn't reproduce the behavior. There could be something very particular to yours that's making it fail. What's the format of the URI you are using? Mine is something like:

[code]

Also, is your model trained with labels or with forms only?

Addition

[2020-04-24 20:25] mhintzke commented on #11584
Fixed this in PR #11585

[2020-04-24 20:50] ImrePyhvel commented on #10272
This can be reproduced.

Enumeration provides actual blob names, but `GetBlobClient(blobName)` gets confused when blob name happens to look like it already is urlencoded. It has no way of knowing whether it actually is or not, Unfortunately it tries to guess, leading to unpredictable behavior.

See repro code:

	//create test file:
	container.GetAppendBlobClient("%2525.txt").Create(); // creates "

[2020-04-24 21:13] serkantkaraca commented on #11557
Are you logging from both errors handlers?

[EventProcessorOptions.SetExceptionHandler](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.processor.eventprocessoroptions.setexceptionhandler?view=azure-dotnet-legacy#Microsoft_Azure_EventHubs_Processor_EventProcessorOptions_SetExceptionHandler_System_Action_Microsoft_Azure_EventHubs_Processor_ExceptionReceivedEventArgs__)

[IEven

[2020-04-24 21:40] brjohnstmsft commented on #11584
FYI @heaths  -- Per this feedback, we should ensure that the list returned by `SearchFieldBuilder` should be mutable. Assigning this issue to you. The aforementioned PR is for the Track 1 SDK, which we are no longer releasing.

[2020-04-24 21:50] JoshLove-msft opened #11589 "Decide whether we should make all Create* methods async"
Currently, only the CreateSessionReceiverAsync method is async. This is async as we establish the session link in this method. Without establishing this session link, we are not able to establish a session lock up front, leaving several properties of the receiver in an uninitalized state. If we established the link lazily (by doing it on first service operation) we might be unable to actually lock

[2020-04-24 21:51] yar-shukan commented on #11400
@jsquire , @schaabs  could you provide any update on this issue please?
I think having steps above this should be easy to reproduce.
Thanks!

[2020-04-24 21:54] JoshLove-msft commented on #10821
Updated!

[2020-04-24 22:02] vladkol opened #11590 "[FEATURE REQ] Make ConnectionString class public"
**Azure.Core**

**Make [ConnectionString](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/ConnectionString.cs) class public** so developers can leverage it broadly, as "Key=Value;" format is widely adopted in Azure.

For example, Storage SDK used to have [CloudStorageAccount.Parse](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.cloudstorag

[2020-04-24 22:24] maririos commented on #11568
Upload new API version to our APIview tool

[2020-04-24 22:44] MattHartz commented on #9175
Turns out for us a lot of the issue was just OOM exceptions that trickled task cancelled. Not 100% sure why it ultimately would happen roughly at the same spot, but heh.

[2020-04-24 23:03] AlexGhiondea commented on #3349
@KK911 we realize it's been a long time since you opened this issue. If you still require help, please reply to this issue.

[2020-04-24 23:04] #3366 closed

[2020-04-24 23:05] AlexGhiondea commented on #3395
@begoldsm we realize it's been a long time since you opened this issue. If you still require help, please reply to this issue.

[2020-04-24 23:08] AlexGhiondea commented on #3494
@phatcher we realize it's been a long time since you opened this issue. If you still require help, please reply to this issue.

[2020-04-24 23:12] #3551 closed

[2020-04-24 23:14] AlexGhiondea commented on #3714
Closing for now. Please reactivate if this continues to be an issue.

[2020-04-24 23:14] #3714 closed

[2020-04-24 23:14] #3730 closed

[2020-04-24 23:15] #3737 closed

[2020-04-24 23:15] #3769 closed

[2020-04-24 23:16] AlexGhiondea commented on #3821
@jrsurya we realize it's been a long time since you opened this issue. If you still require help, please reply to this issue.

[2020-04-24 23:17] AlexGhiondea commented on #3842
@IanLin419 please file a new issue if you are still experiencing issues.

[2020-04-24 23:17] #3842 closed

[2020-04-24 23:21] AlexGhiondea commented on #3844
Closing this for now. Please reactivate if still relevant.

[2020-04-24 23:21] #3844 closed

[2020-04-24 23:23] SeanFeldman commented on #10821
@JoshLove-msft I'm somewhat confused. The methods where already prefixed with `Create`. Also, the preview package had the right prefixes on the factory method names. So other than the wording, what else has changed?

[2020-04-24 23:24] AlexGhiondea commented on #5122
@Fraaankes please let us know if this is still an issue.

[2020-04-24 23:24] JoshLove-msft commented on #10821
I meant that I updated the code snippets in this issue to match what we are already using.

[2020-04-24 23:25] heaths commented on #8738
Tracked as part of #11166

[2020-04-24 23:25] #8738 closed

[2020-04-24 23:25] heaths commented on #11584
Sounds reasonable. Tracked as part of #11166

[2020-04-24 23:25] #11584 closed

[2020-04-24 23:29] AlexGhiondea commented on #4034
Closing this as this is supported in our Track 2 library.

[2020-04-24 23:29] #4034 closed

[2020-04-24 23:36] SeanFeldman commented on #11589
@JoshLove-msft  `CreateSessionReceiverAsync` is not the only async method from the Create family. There's also `CreateBatchAsync`. Both are async for the reason elaborated above - a link to the broker is required. Contrasted with JS SDK user request, did you see the same request from the .NET SDK users?

[2020-04-24 23:39] heaths commented on #11565
Duplicate of #11258. This will go out in our next preview (targeting June) with a workaround available that we recommend anyway: enable soft delete for your Key Vault. This is very helpful if you or someone else accidentally deletes a resource or even the entire vault. Eventually they are purged, but by default you have 90 days to recover or can purge them manually.

If you need this before then a

[2020-04-24 23:42] heaths commented on #11574
Rather than use exceptions for control flow, might be better to handle these in a manner I did for certificate LROs (non-throwing, delegating whether to throw to code further down the stack).

[2020-04-24 23:51] heaths commented on #11243
I think either is fine. `SearchResourceEncryptionKey` is more descriptive, albeit long. Sorry I missed that.

As for "container", it's only used in a `DataSource` but I'd be fine with leaving it just `SearchIndexerDataContainer`. It fits with the original name. I'll make the change.

[2020-04-25 00:00] JoshLove-msft commented on #11589
We were limiting the Create family to methods on the ServiceBusClient, but it is a good point about CreateBatchAsync. No we haven't heard any requests from users yet. We are trying to determine whether this inconsistency will throw users off.

[2020-04-25 00:04] SeanFeldman commented on #11589
I can provide feedback on how we use the client and we have a mixed usage, creating clients in constructors/non-async paths as well as on async paths. Personally, I would not want to see a method sufficed `Async` if it's not async in its nature.

As for the drawback of the initial performance hit on the first usage of the clients - it depends. For systems where continuous message processing is tak

[2020-04-25 00:11] ellismg commented on #11566
We do have `EventProcessor<T>`, which we've released in preview, which allows you to control checkpointing/what partitions are assigned to which processors).  You can see the [design document](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/design/event-processor%7BT%7D-proposal.md) or [the implementation](https://github.com/Azure/azure-sdk-for-net/blo

[2020-04-25 00:39] JoshLove-msft commented on #11589
Thanks for the feedback. I am inclined to agree that we shouldn't attempt to coerce what should be a sync method into async just for the sake of consistency.

[2020-04-25 00:45] heaths opened #11593 "Search: Rename/customize IndexBatch rather than completely rewrite it"
With the [recent changes](https://github.com/Azure/azure-sdk-for-net/pull/11562) I've made to add the Accept header, they did not affect the batch operations because it created an `HttpMessage` outside the generated operations, i.e. it duplicated code to which the generator was not privy.

Rather than do that and for long-term maintainability, we should see if we can rename and customize the exist

[2020-04-25 03:30] heaths commented on #11565
I'm assuming the +1 meant the workaround was suitable 😉, so I'm closing the bug as a dup. If you need a fix earlier, please comment and/or reopen.

[2020-04-25 03:30] #11565 closed

[2020-04-25 07:43] SamratAlamgir commented on #11564
Hello @kinelski , Thanks for your prompt response.
- I can assure you that the URI I use is correct since I could use the same URI to download the image file using WebClient and the same URI works when I use direct API call via Postman.
- Here is my sample file URI after where I just replaced the storage account portion. I hope this might help you. https://{{storageaccount}}.blob.core.windows.net/

[2020-04-25 08:28] SamratAlamgir commented on #11564
I think I found a particular reason when it is not working. If the filename contains white space then it is not working. For example, id 3.jpg, id test.jpg not works but id_3.jpg and id_test.jpg works.
As this problem is occurring only for the StartRecognizeCustomFormsFromUri I hope we will get a fix for that.

[2020-04-25 11:30] KK911 commented on #3349
@AlexGhiondea Yeah it's been a long time and I don't remember all the details. From this description and the code snippet posted in linked [SO post](https://stackoverflow.com/questions/44408671/updating-trigger-frequency-of-azure-logic-app-using-api/44428084), it seems I was trying to update recurrence schedule within the workflow definition using the Update API and it was failing with the said er

[2020-04-25 12:20] Jawvig opened #11595 "[BUG] Azure.Identity DefaultAzureCredential in Visual Studio fails when MFA required"
**Describe the bug**
From within Visual Studio, running code that uses `DefaultAzureCredential` with an account that requires MFA results in an exception. The credential was used with a `BlobContainerClient` from the v12 Azure Storage client library. The problem can be reproduced in a Console app running in Debug in Visual Studio but also occurs when using MS Test or ReSharper test runners.
Visual

[2020-04-25 12:30] Jawvig commented on #11595
I should also note that using `new DefaultAzureCredential(true)`, to attempt to open an interactive browser, does not result in any different behaviour.

[2020-04-25 12:51] jsquire commented on #11566
Matt beat me to it, but I echo his recommendation.  The `EventProcessor<TPartition>` fills a similar role as the `EventProcessorClient`, with cooperative load balancing and resiliency as its core features but offering native batch processing, extension points for using different storage providers, and with a less opinionated API.   The caveat is that this comes in the form of an abstract base, whi

[2020-04-25 14:24] cineas commented on #8658
Thanks, using Azure.Identity 1.2.0-preview.1, and it worked

[2020-04-25 15:45] INNVTV commented on #11566
Thanks @jsquire and @ellismg - I'll look into the `EventProcessor<TPartition>` preview and see if it gives me that added control I was looking for!

[2020-04-25 15:57] AlexanderSher commented on #11595
Hi @Jawvig ,
Inner stack trace shows failing `VisualStudioCodeCredential`. Do you have your account in both VS in VSC?

[2020-04-25 16:11] seanmcc-msft opened #11597 "[Storage][DataLake] Add ability to set permission and umask parameters in DataLakeFileClient.Upload()"
Reported by @blueww

[2020-04-25 16:11] seanmcc-msft commented on #11597
We will get to this feature request soon.

[2020-04-25 16:16] seanmcc-msft commented on #11432
Hi @MohammedTawfik,

To remove a metadata entry from a blob, call ```BlobClient.GetPropertiesAsync()```.  The blob's metadata will be ```Response.Value.Metadata```.  Remove the metadata entry in question, and call ```BlobClient.SetMetadataAsync()``` with the metadata.

-Sean

[2020-04-25 16:16] #11432 closed

[2020-04-25 16:17] Jawvig commented on #11595
Ah, I had missed the "Code" part of the `VisualStudioCodeCredential`. I probably did register that account in VS Code before the MFA requirement was added. After going into VS Code, opening "Azure Storage" in the explorer and signing in, the code above works.

So, I'm sorted out. However, should it have fallen back on some other mechanism when that one failed? Visual Studio or Azure CLI?

[2020-04-25 16:24] AlexanderSher commented on #11595
Visual Studio and Azure CLI are checked first, so they have failed for some reason. However, `VisualStudioCodeCredential` must handle `MsalUiRequiredException`, so that's a bug by itself.

[2020-04-25 16:28] Jawvig commented on #11595
Is the `VisualStudioCodeCredential` the last in the chain, hence why its failure is the one getting bubbled up? Not quite sure where to take this from here. Re-name this bug to "`VisualStudioCodeCredential` must handle `MsalUiRequiredException`" or dig further into why the Visual Studio and Azure CLI failed?

[2020-04-25 16:34] AlexanderSher commented on #11595
Both. Can I ask you to sign out from Visual Studio Code Azure Account and try to reproduce this bug again?

[2020-04-25 16:44] Jawvig commented on #11595
Sure. I ran the "Azure: Sign Out" command in VS Code and re-ran the sample in debug from Visual Studio. I got the following exception. I closed both and reopened Visual Studio to run it again but with the same result.
[code]

[2020-04-25 17:05] AlexanderSher commented on #11595
Ok, let's try to disable `VisualStudioCodeCredential` explicitly. In your sample, can you change the line that creates `blobContainerClient` to
[code]

[2020-04-25 17:11] pakrym commented on #11590
I'm not sure I understand the use case for storage.

For SAS Url there is a ctor that doesn't take a credential https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobclient.-ctor?view=azure-dotnet#Azure_Storage_Blobs_BlobClient__ctor_System_Uri_Azure_Storage_Blobs_BlobClientOptions_ but I think I'm missing something because SAS is not a connection string.

In general our goal was to

[2020-04-25 17:55] vladkol commented on #11590
BlobClient itself is not as issue. The problem I faced is when I want to create an SAS-token myself, StorageSharedKeyCredential requires AccountName and AccountKey separately.
2 more examples on top of my head are:
* Configuring Blob Storage on IoT Edge (they want those values separately again)
* Creating a custom SAS for Service Bus
In both cases I need to deal with keys, so if initially my servi

[2020-04-25 17:58] phatcher commented on #3494
@AlexGhiondea Had a quick look and it now seems possible to scale via storage queue or ServiceBus queues so I think this is resolved.

Idea of using custom metrics would still be a good idea though

[2020-04-25 19:03] Jawvig commented on #11595
I've done that and this time it works without error.
This bug title seems off the mark at this point. 😀

[2020-04-25 20:52] matt40k commented on #9758
Same, thousands of errors, sure the Azure team should want to fix this? Looks like it needs to use the List Containers first to check if it exists:
https://docs.microsoft.com/en-us/rest/api/storageservices/list-containers2

[2020-04-25 21:38] AlexanderSher commented on #11595
Ok, then we have two bugs related to `VisualStudioCodeCredential`. Thank you for your help :)

[2020-04-25 21:46] maririos opened #11598 "Undo passing endpoint and api key as static in our pipelines"
This was done while we target a static PPE endpoint.
Once it is available for us to consume, we should remove this static references.

See changes in PR => https://github.com/Azure/azure-sdk-for-net/pull/11573

[2020-04-26 05:23] #5976 closed

[2020-04-26 05:39] isra-fel commented on #5925
Sorry for late response; Thejaswini could you share some insights on this, thanks?

[2020-04-26 05:44] isra-fel commented on #5827
Sorry for late response! The latest compute SDK is using `2019-11-01` for snapshot operations. Could you try it? Thank you!

[2020-04-26 05:56] isra-fel commented on #5821
Hi Feiyu, we are sorry for late response. As for the autorest issue, please add `-SdkGenerationDirectory "$PSScriptRoot\Generated"` in your generate.ps1; or equivently, specify a `--csharp.output-folder=C:\sdk` option to autorest.cmd.

If you have other questions concerning C# management plane SDK, please contact azdevxdotnet "at" microsoft.com . Thank you :)

[2020-04-26 05:57] isra-fel commented on #5765
Sorry for late response. Billing team could you help share some insights, thank you!

[2020-04-26 06:05] anand-rengasamy commented on #5765
Usage is owned by cost management team. Looping the right owners.

[2020-04-26 06:37] isra-fel commented on #5686
Hi @mankyyou sorry for late response, Could you provide us more info about your issue? Thank you.

### Used libraries and versions
### Sample code

[2020-04-26 06:39] isra-fel commented on #5592
0.9.3-preview was published on 5/22/2019

[2020-04-26 06:39] #5592 closed

[2020-04-26 06:40] kganjam opened #11602 "[BUG] Azure Storage BlobClient doesn't properly escape filenames with certain characters"
**Describe the bug**
BlobClient doesn't properly escape filenames with certain characters such as '#'. This results in a time-consuming-to-debug exception.

**Expected behavior**
BlobClient constructor should automatically handle proper escaping of filenames. It took me a while to figure out a workaround. Simple Uri.EscapeUriString is insufficient, though Uri.EscapeDataString appears to work.

If

[2020-04-26 06:48] isra-fel commented on #5765
Thank you @anand-rengasamy :)

[2020-04-26 06:58] isra-fel commented on #5468
Sorry for late response. Hi Michael could you share some insights on this? Thanks

[2020-04-26 07:02] isra-fel commented on #5321
Sorry for late response. Could you share some insights, Scott? Thanks

[2020-04-26 07:14] isra-fel commented on #5285
This issue was also assigned to the wrong person.  @solankisamir could you help loop in the correct people? Thanks.

[2020-04-26 07:24] isra-fel commented on #5255
Hi @Rossco88 sorry for late response. This looks like valid JSON to me. Could you share the whole template, or the upper level? Thanks

[2020-04-26 07:52] isra-fel commented on #6409
Sorry for late response. @weidongxu-microsoft could you help with this issue? Thank you!

[2020-04-26 07:52] isra-fel commented on #5277
Sorry for late response. @weidongxu-microsoft could you help with this issue? Thank you!

[2020-04-26 07:52] isra-fel commented on #5263
Sorry for late response. @weidongxu-microsoft could you help with this issue? Thank you!

[2020-04-26 07:54] isra-fel commented on #3843
@MiYanni Hello Yanni, could this issue be resolved when we upgrade to v3 generator?

[2020-04-26 08:24] kganjam commented on #10629
I hit this issue also in the context of updating blob metadata for Azure Cognitive Search. It was a headache to debug and find a fix, but `metadataDictionary.Add("myKey", Uri.EscapeDataString(metadata_value))` followed by `blobClient.SetMetadata(metadataDictionary) ` seems to work for pretty much all Unicode content. The encoding gets removed when finally stored in the metadata and the content loo

[2020-04-26 09:08] isra-fel commented on #10518
Kindly ping @ramoka178 @hamidtirmizi 😀

[2020-04-26 09:40] isra-fel commented on #5929
Sorry for late response.
Hi @nickzhums Nick, could you evaluate this feature request? Thanks.

[2020-04-26 09:41] isra-fel commented on #10020
Sorry for late response. @collinstevens Hi Collin could you share your code sample, the expected hehavior, and the actual behavior with us? Thanks

[2020-04-26 12:30] nickzhums commented on #5929
@isra-fel is this related to our SDK or is it a service related issue?

[2020-04-26 14:27] solankisamir commented on #5468
This looks like a server side issue. @richardjharding is this still reproducible? We don’t have logs going back 1 year.
- Can you provide the correlationid / api management service name + datetime with the most recent repro?

[2020-04-26 14:44] ms-premp commented on #5765
@indumathymk  please check these links

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.consumption?view=azure-dotnet

https://github.com/Azure-Samples/billing-dotnet-ratecard-api/tree/master/ConsoleApp-Billing-RateCard

https://github.com/Azure-Samples/billing-dotnet-usage-api/tree/master/ConsoleApp-Billing-Usage

[2020-04-26 15:25] StingyJack opened #30371 "The `static IQueueClient QueueClient` in the Microsoft.Azure.ServiceBus/BasicSendReceiveUsingQueueClient example is creating bugs and other usage questions"
From [here](https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/GettingStarted/Microsoft.Azure.ServiceBus/BasicSendReceiveUsingQueueClient/Program.cs).

I recently saw this in an ASP.net web api controller, copied pretty much verbatim from this example. This not only led to some nasty bugs WRT connection orphaning and premature closures , but also to a few questions. The most imp

[2020-04-26 17:43] ramoka178 commented on #10518
@isra-fel
I've added a workitem to track this on our board at
https://msazure.visualstudio.com/One/_sprints/backlog/Azure-ARM-Organizing-Resources/One/Azure-ARM/Manganese/Apr-2020?workitem=7085964

[2020-04-26 18:24] DavidParks8 commented on #7603
Since the AzureServiceTokenProvider now has virtual/mockable methods, an interface is no longer needed

[2020-04-26 18:25] #7603 closed

[2020-04-26 20:01] maririos opened #11607 "Add new Category `Address`"
In EntityCategory

[2020-04-26 20:01] feiyushi commented on #5821
thank you! it worked.

[2020-04-26 20:01] #5821 closed

[2020-04-26 20:03] maririos commented on #8898
Conversation on Teams Channel: https://teams.microsoft.com/l/message/19:7b87fb348f224b37b6206fa9d89a105b@thread.skype/1587764652237?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1587764652237&teamName=Azure%20SDK&channelName=Language%20-%20DotNet&createdTime=1587764652237

Python and JS are more inclined to follow option 3.
From conversa

[2020-04-26 20:05] maririos opened #11608 "Update Readme"
- [x] Update version for sdk
- [x] Check that if we mention the service version, that we have the correct one. -> update to GA
- [x] Update changelog with service version

[2020-04-26 20:26] maririos commented on #10707
email to the service team asking for clarification, sent

[2020-04-26 20:27] maririos commented on #11568
We will handle this over email. Will be good to first have .net architect take a look so when the email is sent, there are no surprises

[2020-04-26 20:29] maririos commented on #11607
I tried a few combinations but couldn't get this category. We might need to ask the service team for an example

[2020-04-26 23:31] AlexGhiondea commented on #3494
Thanks @phatcher! I'm going to close this issue for now. The idea of custom metrics does sound nice. Is that something you would like to file a new issue for with additional details?

[2020-04-26 23:31] #3494 closed

[2020-04-27 02:02] isra-fel commented on #5929
It's related to SDK. [Microsoft.Azure.Services.AppAuthentication](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication) is an overlay on the authentication library (ADAL).

[2020-04-27 02:52] weidongxu-microsoft commented on #5263
1.0.24 is a too early SDK version.

Please refer to doc or spec for details of properties. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json#L4518

If it not included in doc or spec, it probably not meanful.

[2020-04-27 02:56] yukfang commented on #11371
@schaabs do we have any plans on the fix?Thanks!

[2020-04-27 02:58] weidongxu-microsoft commented on #5277
@ChenTanyi

It appears to be a feature request. Please double confirm.

[2020-04-27 03:10] yugangw-msft commented on #11382
@northtyphoon, please take a look. This is on tasks

[2020-04-27 03:13] weidongxu-microsoft commented on #10837
`RetryPolicy` is pretty complicated and hard to predict for different use cases, and hence only retry for 429 (too many requests) is included by default.

And whether it is helpful or not could depend on the nature of the failure. E.g. if the response of a PUT does not get back to you, a `RetryPolicy` probably not going to help much.

You can configure it, but do be careful (and you might want to

[2020-04-27 03:31] SilverBkk commented on #11557
Ok, I will implement those exceptions errors to log it and I will let you know. Thanks.

[2020-04-27 04:18] weidongxu-microsoft commented on #6409
@Patafoin
@jamesholwell

The bug was fixed a few versions before (now it try find the Thumbprint from all app certificates across resource groups). Please try latest 1.33.0

[2020-04-27 04:18] #6409 closed

[2020-04-27 05:12] Daniel-Krzyczkowski opened #11611 "How to use client libraries in the ASP .NET Core project?"
**Could you please provide more details about how to use client libraries in the ASP .NET Core project?**
There is a little bit confusion about how to properly register types in the ASP .NET Core IoC container.
There are clinets like ServiceBusClient, EventHubProducerClient or EventHubConsumerClient and they implement IAsyncDisposable. How should they be properly disposed on the application shutdo

[2020-04-27 05:34] clericc commented on #5277
it is. But i'd say it should have been possible from the start or at least not year later

[2020-04-27 05:46] northtyphoon commented on #11382
@launchpad15 as we talked offline, Task API has switched to ErrorResponseException. Please use ErrorResponseException.Body.Error.Message to get the error.

https://www.nuget.org/packages/Microsoft.Azure.Management.ContainerRegistry/5.0.0-preview

[2020-04-27 05:46] #11382 closed

[2020-04-27 06:04] ChenTanyi commented on #5277
@clericc You can use the Inner object as workaround if it is not provided in fluent API.
[code]

Or even use the inner create function
[code]

[2020-04-27 06:15] clericc commented on #5277
uuh nice, thanks, didnt know that. I moved on from this project like 10 monts ago, so i didnt try to figure it out in other ways.

So its a plain feature request then ;)

[2020-04-27 06:23] bartoszropski opened #11614 "[FEATURE REQ] BlobClient is not possible to be mocked"
**Library or service name.**
Azure.Storage.Blobs

**Is your feature request related to a problem? Please describe.**
Guys in era where ASP.Net Core ships testing packages with in memory server, where you can run and validate your service in memory, where unit and integration testing has been commonly adopted principles of high product quality, I was hoping new Azure.Core SDKs would be bringing the

[2020-04-27 06:46] bleroy commented on #11243
@brjohnstmsft `SearchIndexerDataContainer`

[2020-04-27 06:52] bartoszropski commented on #11614
I found https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobsmodelfactory.blobdownloadinfo?view=azure-dotnet

[2020-04-27 06:52] #11614 closed

[2020-04-27 07:39] richardjharding commented on #5468
I don't think this is still reproducible - we are call the API without errors now

[2020-04-27 07:39] #5468 closed

[2020-04-27 07:58] phatcher commented on #3494
@AlexGhiondea Will do

[2020-04-27 10:10] JoshKeegan commented on #10837
Thanks for the info!

[2020-04-27 10:10] #10837 closed

[2020-04-27 10:55] older opened #11617 "Microsoft.Rest.ClientRuntime.Azure.Authentication prevents updating to the latest version of Microsoft.IdentityModel.Tokens"
The IdentityModel Team has bumped version number to 6.5.0: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#note-about-650

But Microsoft.Rest.ClientRuntime.Azure.Authentication has dependency on Microsoft.IdentityModel.Tokens < 6.0.0: https://github.com/Azure/azure-sdk-for-net/blob/45cdad6bc3f20b36220d303a44f99895bdba28b7/sdk/mgmtcommon/Auth/Az.Auth/Az.Authenti

[2020-04-27 13:05] jsquire commented on #11611
/cc: @JoshLove-msft, @ShivangiReja

[2020-04-27 13:12] danielmarbach commented on #11552
I wish we had discriminated union in CSharp but yes something like that:

[code]

[2020-04-27 13:17] danielmarbach commented on #11589
What if you look at it from the perspective of the evolvability? From an async method implementation perspective it is totally valid to be purely sync while for a sync version you can't really call async stuff underneath without getting into huge troubles. So under that light I can see how you take a stance at aligning the creation methods to be async and then for the currently sync implemente one

[2020-04-27 13:22] tstepanski opened #11619 "[QUERY] Receiving Unauthorized Access Error on RenewToken Periodically with Azure Service Bus Queue Listener"
I am receiving a Microsoft.Azure.ServiceBus.ServiceBusException (message below with sensitive information removed) periodically in my queue receiver. The SAS key has send/listen access and the error seems inconsequential as processing continues as normal. However, the message is creating a signal to noise problem in my dashboards (receiving 10-70 errors per day). Any ideas on why this is happening

[2020-04-27 13:33] danielmarbach commented on #11015
This can be closed right?

[2020-04-27 13:39] danielmarbach commented on #10852
I'm also aligned with the reasonings presented here. Also 👍 for leaving the message as much as possible a data transfer object.

[2020-04-27 14:21] serge2112 commented on #3933
@jmurphy35 Man you saved me a lot of frustration, thanks!

[2020-04-27 14:30] woutervs commented on #10529
Can I get a status update for this one? :)

[2020-04-27 16:25] #11015 closed

[2020-04-27 17:23] #11569 closed

[2020-04-27 17:27] pakrym commented on #11051
Closing this as I think it was resolved by rebasing on the newer generator version.

[2020-04-27 17:27] #11051 closed

[2020-04-27 17:31] schaabs commented on #3478
@johanste We're discussing how to best to consume the swagger security scheme to properly generate clients with the proper authentication scheme. For API key authentication this would be sufficient.

[2020-04-27 17:48] ShivangiReja commented on #11553
Closed with https://github.com/Azure/azure-sdk-for-net/pull/11592

[2020-04-27 17:48] #11553 closed

[2020-04-27 17:49] ShivangiReja commented on #11551
Closed with https://github.com/Azure/azure-sdk-for-net/pull/11592

[2020-04-27 17:49] #11551 closed

[2020-04-27 17:49] ShivangiReja commented on #9913
Closed with https://github.com/Azure/azure-sdk-for-net/pull/11592

[2020-04-27 17:49] #9913 closed

[2020-04-27 17:52] ShivangiReja commented on #11141
Closed with https://github.com/Azure/azure-sdk-for-net/pull/11428

[2020-04-27 17:52] #11141 closed

[2020-04-27 17:54] jaschrep-msft commented on #11038
@tg-msft I updated the description to say that Storage needs the full `<unit> <range-start>-<range-end>/<size>`. I have not observed the service to ever return a unit other than bytes, but I do not see this guarantee in the REST API documentation.

[2020-04-27 17:54] schaabs commented on #4080
I believe the `ClientCloudCredentials` class mentioned here is for authenticating "classic" deployment requests. Currently our management plane libraries only support ARM, not the "classic" ASM/RDFE deployments which are in the process of being deprecated. So there are no plans to support this authentication mechanism in Azure.Identity or Azure.Core.

The closest analog to this in Azure.Identity w

[2020-04-27 18:40] sgellock commented on #5321
@isra-fel, adding @swagatmishra2007 who is the engineer who can help you

[2020-04-27 18:42] schaabs commented on #4080
I'm closing this issue as we are not planning support. @MarkSiedle If you disagree please feel free to reopen.

[2020-04-27 18:42] #4080 closed

[2020-04-27 18:44] schaabs commented on #11371
@yukfang We are planning on fixing this. Most likely we will fix in two stages. First by fixing the default culture parsing issue for the short term, then later we will move to the new API version. I'll update this once we have a better idea of a release date for the fix.

[2020-04-27 19:14] schaabs commented on #11400
@yar-shukan Thanks for filing this issue. In order to use a user assigned identity with the `DefaultAzureCredential` you must specify the client id of the user assigned identity. You can do this either by passing it in code via `DefaultAzureCredentialOptions.ManagedIdentityClientId` like so:

[code]

Alternatively you can also specify the client id to be used via the `AZURE_CLIENT_ID` environment

[2020-04-27 19:14] #11400 closed

[2020-04-27 19:16] solankisamir commented on #5285
The `Id` property of the response contains the `ResourceGroup`

[2020-04-27 19:18] schaabs commented on #11372
@fairwater thank you for filling this issue. We are currently working on a fix for this issue. I'll add more information once we have an better idea when a release with the fix will be available.

[2020-04-27 19:25] schaabs commented on #11509
It looks like you're running into an issue where the `VisualStudioCodeCredential` is failing in a way which is failing authentication where it should be raising a `CredentialUnavailableException` so that the `DefaultAzureCredential` authentication flow can continue to the `AzureCliCredential`. @AlexanderSher can we file an issue to raise `CredentialUnavailableException` in the case that libsecret

[2020-04-27 19:33] schaabs commented on #11509
@brandohn-msft I don't see anyway we can actually launch a browser in this scenario as the container doesn't have a browser installed, or a UI stack for that matter. It's possible that VS Code could add a different mechanism for authenticating in a Dev Container as it is able to communicate with the container via SSH. However, unfortunately it seems the `InteractiveBrowserCredential` is not suppor

[2020-04-27 19:33] #11509 closed

[2020-04-27 20:37] schaabs commented on #11559
@felickz Thanks for reporting this issue. Currently this is a known issue we're tracking in https://github.com/Azure/azure-sdk-for-net/issues/8957. Unfortunately this is a current limitation of the `SharedTokenCacheCredential`. However, in Azure.Identity 1.2.0-preview we added the VisualStudioCredential to the DefaultAzureCredential authentication flow, which I believe will unblock this scenario o

[2020-04-27 21:04] felickz commented on #11559
@schaabs thanks for looking into my ticket, i had upgraded to preview nuget but did not take notice of any new properties until you mentioned it...

Indeed **VisualStudioTenantId** = "{GUID of tenant where keyvault lives}" this did resolve the issue as long as i **_also_** specified SharedTokenCacheTenantId = "{GUID of tenant where keyvault lives}":

`		DefaultAzureCredentialOptions options = new

[2020-04-27 21:35] MiYanni commented on #3843
@isra-fel If you're asking about polling serialization, we do not have polling state serialization. I've created an issue here: https://github.com/Azure/autorest.csharp/issues/697
Here is our Operation class: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Operation%7BT%7D.cs
You can call `UpdateStatus/Async` to manually poll the status. This response is raw, and wou

[2020-04-27 21:45] JoshLove-msft opened #11623 "Make Rule Manager and filters internal"
Since we are still determining whether transactions can work with rule operations, we should leave rule manager and the filters internal for Preview 2.

[2020-04-27 21:52] JoshLove-msft commented on #11589
I'm not sure how likely it is that something would change to force our hand so that we can't give you back a receiver/sender without doing some IO operation. I would think this could happen if new features from the service necessitated it. @nemakam thoughts?

[2020-04-27 22:03] JoshLove-msft commented on #11552
If we expose the ctor params, then I would expect to still see the same sort of behavior where a user puts the topic name into the queueName parameter. By leaving as settable through properties only, we force them to be explicit. On the other hand, we would be introducing a new type for what should hopefully be an easily diagnosable mistake.

[2020-04-27 22:37] brandonh-msft commented on #11509
@schaabs :

Thanks I'll try this in the linked sample and report back.

Yeah this is why I suggested having it use Device Code flow as its "interactive" implementation instead of trying to pop a browser.

Not sure what you mean by this - I did do `az login` in the course of testing the new Preview SDK....

[2020-04-27 22:44] JoshLove-msft commented on #11349
Well, we do want to have a start event to go along with the end one. So using SessionTimedOut would be a bit awkward there, as it isn't obvious what the start event would be named.

[2020-04-27 22:49] brandonh-msft commented on #11509
in case anybody else comes across this item, the code is:

[code]

[2020-04-27 22:56] schaabs commented on #11509
@brandonh-msft

This is an interesting suggestion that I missed this on the first read-through of this issue.

The only problem I forsee with this is that currently the `DeviceCodeCredential` doesn't do any interaction on it's own, and relies on the developer to provide a callback which will display the device code to the user. It's possible that if we were to add this to the end of the `DefaultAz

[2020-04-27 23:04] brandonh-msft commented on #11509
Good news! I added the `ExcludeVisualStudioCodeCredential = true` option to the `DefaultAzureCredential` ctor and it worked perfectly. I event hit a resource in a different tenant than my default one without issue. So it seems adding that exception will solve the issue we're having and fall back to the creds pulled by `az login` - should we keep this issue open to cover that work?

Regarding the o

[2020-04-27 23:09] SeanFeldman commented on #11349
That was just a name candidate. As long as the event conveys what happened rather than give a wrong impression, it's good. The challenge I had with `SessionCompleted` is that a session is never completed if yet another message with the same session ID arrives.

[2020-04-27 23:13] mkArtakMSFT opened #11626 "Blob upload fails when run in Blazor WebAssembly"
**Describe the bug**
The `UploadAsync` call fails when run in Blazor WebAssembly. Here is my sample code:

[code]

**Expected behavior**
The call succeeds

**Actual behavior (include Exception or Stack Trace)**
I get the following error:
`System.Threading.SynchronizationLockException: Cannot wait on monitors on this runtime.`

**To Reproduce**
- Using latest VS 2019 preview (16.6 Preview 4)
- Inst

[2020-04-28 00:38] #11532 closed

[2020-04-28 02:31] pakrym opened #11632 "Re-enable body comparison in StorageRecordMatcher"
Test framework now supports request content verification, a few tests might need to be re-recorded to enable it.

cc @seanmcc-msft

[2020-04-28 02:31] JoshLove-msft opened #11633 "Change from static factory method to constructor for copying received message"
Currently we have the ServiceBusMessage.CreateFrom method that can be used to create a new sendable message from a ServiceBusReceivedMessage. From our UX studies, we found that no users were able to discover this on their own. Most looked for a constructor, and then a few also looked for methods on the received message instance. We should consider using a constructor instead for discoverability.
T

[2020-04-28 02:34] pakrym opened #11634 "Investigate enabling request body matching in CertificateTests"
Currently there is a part of request that changes every time:
[code]

[2020-04-28 02:34] pakrym commented on #11634
cc @heaths

[2020-04-28 02:56] #11554 closed

[2020-04-28 02:57] #11349 closed

[2020-04-28 02:58] #11351 closed

[2020-04-28 03:06] seanmcc-msft commented on #11632
Acknowledged.

[2020-04-28 03:31] collinstevens commented on #10020
@isra-fel I don't have an issue with the usage of the API; I'm asking for documentation as to why the ServiceClient performs this operation and preferably a way to opt out of it.

[2020-04-28 05:31] JoshLove-msft opened #11639 "Avoid rethrowing exception with throw ex syntax when exception unchanged"
In our RetryPolicy exception handling, and other exception handling in AmqpSender/AmqpReceiver, we attempt to translate the exception that was thrown using AmqpExceptionHelper.TranslateException. If the exception we are translating is not in the our list of expected exceptions, we don't end up doing anything to it, but we return it as is to the caller. In such cases, we should rethrow the exceptio

[2020-04-28 06:42] isra-fel opened #11640 "Mangement plane PR triggers data-plane CI"
## What I see

Mgmt-plane-only PR triggers data-plane CI, for example #11625 , so if there's error in data-plane, the pr is blocked (check-enforcer demands all CI to pass).

## Question

I think in general the failure of data-plane CI should not block mgmt-plane PRs, but I want to here your voice.

## Proposed solution

1. The reviewer tells check enforcer it's OK to ignore the failed data-plane c

[2020-04-28 08:00] #11067 closed

[2020-04-28 08:34] danielmarbach commented on #11633
I gave this a stab. See https://github.com/Azure/azure-sdk-for-net/pull/11641

[2020-04-28 10:07] henriksen opened #11642 "[BUG] Azure.Identity: DefaultAzureCredential does not work with Azure CLI in 1.2.0-preview-2"
**Describe the bug**
When using Azure.Identity 1.2.0-preview.2 and DefaultAzureCredential it does not pick up the credentials from logging in with Azure CLI (`az login`)

Downgrading to Azure.Identity 1.2.0-preview.1 works fine.

**Expected behavior**
That preview 2 works the same way as preview 1

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**
Steps to reproduce t

[2020-04-28 14:34] yar-shukan commented on #11400
@schaabs thank you for the hint with `AZURE_CLIENT_ID` environment variable: it fixes the issue.

[2020-04-28 14:52] danielmarbach commented on #10852
@JoshLove-msft @ShivangiReja I stumbled now over `ProcessSessionMessageEventArgs` which is an event args but still has session related settlement operations. What do you think should to outcome of this discussion mean for the event args? Shouldn't then the event args also be "just a DTO type" and not have any additional behavior or is this a reasonable exception due to the fact that the event args

[2020-04-28 14:59] danielmarbach commented on #11639
To me it looks like the code is written under the assumption that the translation helper always returns an specific translated exception, an aggregate exception or the actual exception in case it wasn't translated. The upper layers rely on that so maybe it is best to leave the translation helper as is but then introduce something like

[code]

at the call site?

[2020-04-28 15:00] MarneeDear opened #11645 "[BUG] Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: Exception Message: Access token could not be acquired. AADSTS7000215: Invalid client secret is provided."
**Describe the bug**
I get this error when I try to get an access token using  AzureServiceTokenProvider.

[code]

I am using the Azure Maps AD Samples found here:
https://github.com/Azure-Samples/Azure-Maps-AzureAD-Samples/tree/master/src/ClientGrant/AzureMapsWebApiToken

I followed the directions to setup an AD App registration and give it access to the Maps. I created a client secret for this a

[2020-04-28 15:05] danielmarbach commented on #11639
It seems that we have to usages:

[code]

and

[code]

and

[code]

[2020-04-28 15:52] weshaggard commented on #11640
cc @allenjzhang

This is being triggered because we don't limit the path filtering to just the data-plane library at https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/containerregistry/ci.yml#L22.

We have a couple options here:
1) We could update our script https://github.com/Azure/azure-sdk-for-net/blob/master/eng/scripts/Update-Mgmt-Yml.ps1 which correctly sets up the mgmt path filters

[2020-04-28 16:48] vinagesh commented on #6905
We recently started using the test framework and see that if there are multiple tests within a class, we cannot run the tests with the Parallelizable attribute. But we would like to run the live tests in parallel. Voting to have this feature.

[2020-04-28 16:53] JoshLove-msft commented on #11639
I like the TranslateOrRethrow idea. This should be the simplest way to do what we want without needing to modify all of the call sites.

[2020-04-28 17:02] JoshLove-msft commented on #10852
That is an interesting point. Since messages need to be settled on the link that they were received on, if we didn't expose the settlement methods in the event args, and instead just put these methods directly on the processor, we would have to keep a synchronized internal map of message to receive link and settle on the correct link. It would be possible to do, but it seemed more transparent to i

[2020-04-28 17:13] jsquire commented on #11143
This is a statement that I very strongly disagree with.   Service Bus happens to make use of AMQP as one of its protocols .   You can, for example, use a [REST interface](https://docs.microsoft.com/en-us/rest/api/servicebus/) to perform operations over HTTP, such as [Sending a message](https://docs.microsoft.com/en-us/rest/api/servicebus/send-message-to-queue).  In addition, the Azure Messaging se

[2020-04-28 17:15] danielmarbach commented on #10852
I share the conclusion. I do agree the current design makes sense. The only other option apart from the one you mentioned I see would be to expose a behavior component as a property on the event args which then users have to transitively navigate into. That though wouldn't allow to set the property on the args and in general I'm not a huge fan of transitive dependency train wrecks

[2020-04-28 17:19] JoshLove-msft commented on #11143
Yeah, I hedged a bit on this statement after what you mentioned yesterday:

[2020-04-28 17:22] #11633 closed

[2020-04-28 17:23] jsquire commented on #11143
I think this discussion is premature, given that there are efforts underway to include a pluggable and customizable serializer as part of the pipeline of services.  Given that this is a core effort driven by the Messaging team in collaboration with the ADP team, I would expect that Service Bus would be one of the services to adopt the serialization as part of the messaging pipeline.

The goal woul

[2020-04-28 17:25] jsquire commented on #11143
I'd be very interested in the concrete, real-world scenarios that this would enable;  Assuming the customizable serializer being in place, I'm not sure that I understand where this would fill gaps that allowing centralized control over the serialization to an opaque block of bytes would not.

[2020-04-28 17:27] JoshLove-msft commented on #11143
The main scenario I can think of involves compatibility with other SDKs. If a message was sent using an AmqpSequence, would the custom serializer allow me to get back the body as a list of objects?

[2020-04-28 17:32] TJH-AIZ commented on #9607
@seanmcc-msft, is there an estimated timeline on this?

I'm using a PDF library that only has a Save(stream) option to save the output, so I came here trying to find out how to get an upload stream.

Is this something that I can expect "soon™" or do I need to rewrite what I've done so far to use v11, intead?

[2020-04-28 17:33] heaths commented on #11634
At first glance of the [PR](https://github.com/Azure/azure-sdk-for-net/pull/11624), we'll need to ignore certain content which means understanding structure. I wonder if that's something we could instead put into the base matcher as optional behavior. It will probably be common enough.

[2020-04-28 17:35] jsquire commented on #11143
Sure.   I can take a list of objects, serialize it to a number of formats (JSON, XML, Avro, BOND, ProtoBuf, etc) and represent that as bytes.   This also ensures that the same payload can be sent via other protocols.

[2020-04-28 17:43] jsquire commented on #11143
Quick call-out to the official Service Bus [serialization guidance](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messages-payloads#payload-serialization):

[2020-04-28 18:02] heaths opened #11646 "Hostname check in KeyVaultClient for AppAuthentication does not scale"
The hostname check below does not scale as new Azure regions are created:

https://github.com/Azure/azure-sdk-for-net/blob/f5afa9aa8840f2a14ef47a9dbfe569247d3ffa93/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/Clients/KeyVault/KeyVaultClient.cs#L131-L132

The check shouldn't be necessary as long as HTTPS is enforced, for which the .NET HttpClient will correctly validate. A cust

[2020-04-28 18:05] seanmcc-msft commented on #9607
@TJH-AIZ, I can't promise a firm timeline, but this is the top item in our backlog after we finish the new back-end service features we are currently working on.  We understand this issue is blocking a lot of customers from moving to V12.

[2020-04-28 18:06] #11026 closed

[2020-04-28 18:16] SeanFeldman commented on #10852
That's the direction I was hoping the team will take as well. That's also the direction Track 1 was heading into.

Just to point out - this issue is now discussing two topics, settlement on Message vs client and Message settlement when using the processor. For future discussions, it would be better to split those and cross-link if needed.

[2020-04-28 18:17] giakas commented on #10343
SDK returns this data from the services.
Spoke to the ARM team regarding this, and the only requirement they have is that, all services should take any casing(with/without spaces) in the request body, and no requirement on which casing should be in the response body.

[https://github.com/Azure/azure-resource-manager-rpc/blob/d8e13741d0ff55b776f33dc8471c71a2944a8096/v1.0/common-api-contracts.md#sys

[2020-04-28 18:17] #10343 closed

[2020-04-28 18:50] jerryc3 commented on #10011
Hi @xccc-msft, The service team will fix this in the swagger definition. In the meantime, can you please fix this on your side in parallel? This is affecting customers and we want to unblock them in a timely fashion.

[2020-04-28 18:51] KshitijAgrawal commented on #10011
Hey,

I meant to say the source.id is required, but "source" itself if optional in the swagger. I am not talking about service side. The problem is if someone provides source we expect them to provide id because that is the only property in the source. But the source itself is marked optional in swagger, so why is that not getting skipped?

Is it because we are source, but not id in GET?

Thanks!

[2020-04-28 18:52] JoshLove-msft commented on #11143
Yes, but we can't interoperate with messages that were sent not using the custom serializer by relying on the AMQP spec. This may not be something that we want to support, but just calling it out.

[2020-04-28 20:52] ShivangiReja opened #11650 "Update Azure.Messaging.ServiceBus readme"
* Change `Authenticating the client` to `Authenticate the client`.
* Add API docs link for different types.
* Add table of contents for Examples. Also, add [samples readme](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/samples/README.md) link after this table.
* Add some details before each example.
* Include `Sample README` as hyperlink in the `N

[2020-04-28 22:05] swagatmishra2007 commented on #5321
botservice has been GA for over 1.5 years now. My guess is that the reason the generated SDK's are showing up as in preview is because the swagger files in https://github.com/microsoft/azure-rest-api-specs/tree/master/specification/botservice/resource-manager are under a preview folder. Is that correct? If so, we should start an issue on the swagger repo side to mark the files as GA and that shoul

[2020-04-28 22:40] pakrym commented on #11626
Confirmed fixed with a latest Azure.Core build.

[2020-04-28 22:40] #11626 closed

[2020-04-28 23:25] #11385 closed

[2020-04-28 23:40] mkArtakMSFT commented on #11626
Thank you so much for handling this so fast, @pakrym!
Any hints regarding when should I expect this fix to be released?

[2020-04-28 23:44] pakrym commented on #11626
This Friday the Azure.Core would ship so customers would have a workaround of updating it. I'm not sure if storage would also ship with updated Azure.Core dependency but the probability is high.

@mkArtakMSFT is there an easy way to run our tests in blazor runtime?

[2020-04-29 00:04] shankarsama commented on #11619
@3437CasaVerde Please take a look at this issue.

[2020-04-29 00:11] nemakam commented on #11533
@nianton, we will take a look at this and respond. Can you check if the issue is similar to https://github.com/Azure/azure-sdk-for-net/issues/11213#issuecomment-613165933

[2020-04-29 00:23] 3437CasaVerde commented on #11619
Hi @tstepanski , is it possible to share us the detail of
`Resource: 'sb://xxx.servicebus.windows.net/xxx'.. TrackingId:xxx`
you noted in the error message? Basically resource and tracking id. Thanks.

[2020-04-29 00:43] seanmcc-msft commented on #11602
I've put out a PR to resolves this issue.

[2020-04-29 01:07] yungezz commented on #11646
hi @xccc-msft could you pls have a look? thanks

[2020-04-29 01:13] #11384 closed

[2020-04-29 01:40] chidozieononiwu opened #11658 "[BUG] Revert PackageReleaseNotes to CHANGELOG.md link"
**Describe the bug**
Build extracts release notes from the CHANGELOG.md file and set it as `<PackageReleaseNotes>` property which then displays on Nuget. The display is in markdown and does not look good since Nuget.com does not render it.

**Expected behavior**
Revert to using only a link to the CHANGELOG.md using the release tag for the released package version.
e.g. https://github.com/Azure/azu

[2020-04-29 02:53] kinelski opened #11660 "[Design] [FormRecognizer] Whitelist redacted header for logging"
## Goals

- Expose the `apim-request-id` request header in `RequestFailedException` messages for easy logging.
- Make sure existing tests still pass consistently.

[2020-04-29 02:56] xccc-msft commented on #10011
@KshitijAgrawal For your question, it is because the code generator will create empty source without id inside, which can be found in [.NET SDK](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/compute/Microsoft.Azure.Management.Compute/src/Generated/Models/GalleryImageVersionStorageProfile.cs#L37) and [Fluent .NET SDK]( https://github.com/Azure/azure-libraries-for-net/blob/master/src/Re

[2020-04-29 03:17] xccc-msft commented on #11646
@yungezz This is not the dependency used in our library.

[2020-04-29 03:18] kinelski commented on #11564
@SamratAlamgir
Thanks once again for your feedback and for finding what's triggering the problem. I can confirm I'm able to reproduce it and it's in fact a bug.

I have labeled it as a `bug` and added it to one of our milestones. I'll post an update here and let you know once it's fixed.

[2020-04-29 03:47] danieljurek opened #11661 "Propagate changes to work around DNS resolution issue in Linux"
See: https://github.com/Azure/azure-sdk-for-java/pull/10576/files

We've seen issues where DNS resolution fails in Ubuntu 18. This workaround fixes that problem. This only needs to run on Ubuntu 18 instances.

[2020-04-29 03:49] mkArtak commented on #11626
Unfortunately there is no easy way at the moment. We currently handle this manually, but the Mono team is working with the infrastructure team to spin up an internal hardware lab, where we will eventually be able to run automated tests against Mono WebAssembly runtime.

[2020-04-29 04:09] aresowj commented on #11533
@nianton Hi I will take a look and will keep you posted.

[2020-04-29 05:43] danieljurek opened #11665 "Add ServiceDirectory parameter to uses of remove-test-resources.yml"
When this PR merges resource de-provisioning will likely result in erros. Make sure that we provide a ServiceDirectory parameter here.

https://github.com/Azure/azure-sdk-tools/pull/549

[2020-04-29 06:02] SeanFeldman commented on #11552
What about scenarios when the source (or the destination) is just a string rather than a type?
E.g., receiving from an entity that is either a queue or a subscription. Forcing users to create a strongly typed `ServiceBusEntity` will complicate this use case.

[2020-04-29 06:04] yukfang commented on #11371
thanks Scott for your information!

[2020-04-29 06:07] SeanFeldman commented on #11552
Just to point out, `CreateTopicReceiver` or `CreateTopicProcessor` would not be possible, @JoshLove-msft

That's peculiar given that messages simply cannot be received from a topic. Which raises questions about the specific study.

[2020-04-29 06:12] SeanFeldman commented on #11550
When the name discussion was taking place, one of the reasons I was questioning the use of "batch" is due to the fact that it has a connotation of a known size. Track1 had `ReceiveAsync(n)` that would return a collection of **up-to N items**. Aside from emphasizing that it's the best effort to bring up-to-the requested number of item, what else could improve the API documentation?

[2020-04-29 06:13] JoshLove-msft commented on #11552
Yes, CreateTopicReceiver would still expect both a subscription and topic name. The idea was to include topic in the name to draw the user's attention there. In the study, when the participants put the topic in the queueName parameter, they got an exception that the messaging entity didn't exist, as the method they were using was expecting a queueName.

[2020-04-29 06:19] SeanFeldman commented on #11552
I strongly recommend not to go this route. Messages **cannot be received from a topic**. Having the SDK suggesting this in a method name is going to be very misleading.

[2020-04-29 06:26] JoshLove-msft commented on #11552
Another name being considered would be CreateSubscriptionReceiver.

[2020-04-29 06:37] SeanFeldman commented on #11552
At that point `var receiver = client.CreateReceiver(entity);` where `entity` is a `ServiceBusEntity` value type is becoming more appealing. While it's not an entity path expressed with a string, at least it's a single receive method that can take a variety of entities that are constructed in what's supposed to be a more clear way (referring to https://github.com/Azure/azure-sdk-for-net/issues/1155

[2020-04-29 09:10] kieronlanning commented on #10176
@mayurid Hey, is there a timeline for this work?

[2020-04-29 09:30] wantedfast opened #11668 "[Samples] [Azure.AI.FormRecognizer] Suggest change sample code method to async."
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/formrecognizer/Azure.AI.FormRecognizer#recognize-receipts)

Details:
![image](https://user-images.githubusercontent.com/25993729/80580808-bb1bfb00-8a3e-11ea-9879-57e22cefc65a.png)

Comments: Use async method might be good there.
[code]

[2020-04-29 09:31] tzhanl commented on #11668
@jongio Please review.

[2020-04-29 10:32] xiaoyang-connyun opened #11669 "[BUG] Cannot import certificate to Keyvault with customized policy"
**Describe the bug**
I am trying to import a certificate to Keyvault with a customized policy.
The certificate is self-signed with method `CertificateRequest.CreateSelfSigned`, and the key policy I need here is `exportable = false`.

**Expected behavior**
The certificate should be successfully imported and Keyvault should response `201`.

**Actual behavior (include Exception or Stack Trace)**
The

[2020-04-29 12:43] tstepanski commented on #11619
@3437CasaVerde For security purposes, would I be able to PM those details to you?

[2020-04-29 12:46] JohnGalt1717 opened #11671 "[FEATURE REQ] - Azure Keyvault AddAzureKeyVault.ReloadInterval needs to raise an Event"
**Library or service name.**
Microsoft.Extensions.Configuration.AzureKeyVault

**Is your feature request related to a problem? Please describe.**
Recently the ReloadInterval property was added which is great, but it doesn't go far enough because we have no way of knowing that it occured and respond and update the strongly bound configuration singletons etc in our DI.

What feature would you like t

[2020-04-29 14:28] #11075 closed

[2020-04-29 15:08] jsquire commented on #11434
Discussion seems to have concluded, so I'm going to close this out.   Please feel free to reopen if the is additional feedback that you'd like to discuss for this topic.

[2020-04-29 15:08] #11434 closed

[2020-04-29 15:26] pakrym commented on #11671
Secret configuration provider already fires configuration system reload token: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/src/AzureKeyVaultConfigurationProvider.cs#L141

You can use https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.iconfiguration.getreloadtoken?view=dotnet-plat-ext-3.1#Microso

[2020-04-29 15:34] jsquire commented on #11399
Apologies for the slow reply.  Before I share updates, I wanted to touch on something that you had mentioned:

You’re correct that 5.0.1 doesn’t include types that support batching;  unfortunately, we needed to defer these a short while.  Our forthcoming v5.1.0 release (currently in preview) contains two new primitive types which are intended for use with more specialized and demanding scenarios.

[2020-04-29 15:34] jsquire commented on #11399
### A short update on my investigation:
We're at a good point of stability within the changes for this month's milestone, so I've begun doing some sustained runs through our stress harness.   I've enhanced our normal metrics to do some additional memory sampling as well, to see if there are any patterns that I notice.   Thus far, I'm seeing memory use in a constant range over 3 and 5 day runs with

[2020-04-29 16:13] gandhirajan commented on #10237
@TheGynome  Hi, We faced the exact same issue and the issue was with the file names. It so happened that during our performance runs files are created with same names even when we prefixed milliseconds to the filename resulted in this error. We have corrected this issue now to generate unique filenames using UUID and the issue does not occur anymore. You can also try appending UUID to the filename