[2021-07-30 23:40] pakrym commented on #23023
I think the latter is the result of the test passing.

[2021-07-31 00:43] kdonthineni commented on #22905
@nainesh72
From your sample payloads, it appears to be messages are unique since they were having different enqueued timestamps, if I understand correctly you have an event grid subscription enabled for your IoT hub with azure function as the hook and you are seeing these 2 events in your azure function. Can you please clarify what you meant by a trigger from Azure Event Hub?

[2021-07-31 07:10] zhiweiv opened #23028 "[BUG][Azure.Identity] ManagedIdentityClient cache issue"
**Describe the bug**
Each ManagedIdentityClient object caches a ManagedIdentitySource instance, when initialized ImdsManagedIdentitySource try to probe the imds endpoint.

We uses [pod identity](https://github.com/Azure/aad-pod-identity) to work with Managed Identity. We found sometimes ImdsManagedIdentitySource failed to probe imds endpoint due to temporary network issue.

When this happen, Manag

[2021-07-31 10:12] StevenLiekens commented on #22949
Thanks for the suggestions. IME storing entire connection strings in Vault leads to unnecessary friction.

1. Access to Vault is limited to senior organization members in our setup. Not being able to see the Service Bus name you're connecting to leads to confusion for developers with limited access. Besides the address isn't a big secret.
2. For key rotation, I'm not a big fan of replacing the add

[2021-07-31 15:19] jsquire commented on #22995
//cc: @shankarsama

[2021-07-31 15:19] jsquire commented on #22995
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-07-31 15:21] jsquire commented on #22996
@weshaggard:  Since you were involved in the efforts around source link, would you mind offering your thoughts on this?

[2021-07-31 15:21] jsquire commented on #22996
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-31 15:36] jsquire commented on #22997
Hi @ajsaclayan.  The maximum for the batch size and prefetch counts are not bounded by the client; they are constrained only be the limits of its type declaration.   In this case,  [int](https://docs.microsoft.com/dotnet/csharp/language-reference/builtin-types/integral-numeric-types#characteristics-of-the-integral-types) which has a maximum of 2,147,483,647.

An important call-out, however, is tha

[2021-07-31 15:37] jsquire commented on #23016
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-07-31 15:38] jsquire commented on #23028
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-07-31 18:11] Rype69 opened #23030 "[FEATURE REQ] Creation and deletion of Azure container registries from .NET projects"
**Library or service name.**
azure-sdk-for-net/sdk/containerregistry/Azure.Containers.ContainerRegistry

**Is your feature request related to a problem? Please describe.**
Please can we have the ability to create and delete Azure container registries from .NET projects?

[2021-07-31 18:30] Rype69 commented on #23030
(I've found deletion is possible via Microsoft.Azure.Management.Fluent.Azure.ContainerRegistries.DeleteById(id).)

[2021-08-01 04:29] jfggdl commented on #4544
We have implemented this feature: https://docs.microsoft.com/en-us/azure/event-grid/delivery-properties#configure-time-to-live-on-outgoing-events-to-azure-storage-queues. Closing issue. Thanks!

[2021-08-01 04:29] #4544 closed

[2021-08-01 04:39] SeanFeldman commented on #4544
Thank you.

[2021-08-01 05:55] amishra-dev commented on #22856
Yes it should

[2021-08-01 09:43] Yutolivo opened #23031 "[BUG] Failed to use AzurePageBlob.UploadPagesFromUriAsync with data from managed disk incremental snapshot"
**Describe the bug**
Use API AzurePageBlob.UploadPagesFromUriAsync to upload a page into target page blob while the source Uri is the SAS Uri from a incremental managed disk snapshot.

**Expected behavior**
Upload pages successfully.

**Actual behavior (include Exception or Stack Trace)**
Source blob of a copy operation cannot be non-snapshot incremental copy blob.
RequestId:04d2b21f-201e-00c3-1eb

[2021-08-01 14:17] jsquire commented on #23030
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-01 16:32] #23005 closed

[2021-08-02 02:05] v-xuto commented on #22984
@jsquire - I'm sorry, thanks for your reminder.

[2021-08-02 02:05] v-xuto commented on #22990
@jsquire - I'm sorry, thanks for your reminder.

[2021-08-02 02:39] Tianyun-G opened #23034 "[Synapse] test failing in nightly runs"
Synapse nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=977894&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=982106&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=983758&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=9

[2021-08-02 02:39] Tianyun-G opened #23035 "[Synapse] test failing in nightly runs"
Synapse nightly test runs are failing with:

For more details check here:
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=977894&view=results

@jsquire for notification.

[2021-08-02 02:39] Tianyun-G opened #23036 "[Search] test failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=993201&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1008259&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1015475&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=

[2021-08-02 02:39] Tianyun-G opened #23037 "[Search] test failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1013755&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1015475&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1020804&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId

[2021-08-02 02:39] Tianyun-G opened #23038 "[Search] AddsDelay test failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1023087&view=results

@jsquire for notification.

[2021-08-02 02:39] Tianyun-G opened #23039 "[Search] test failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1026525&view=results

@jsquire for notification.

[2021-08-02 02:39] Tianyun-G opened #23040 "[Search] test failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1026525&view=results

@jsquire for notification.

[2021-08-02 03:03] Tianyun-G commented on #22324
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/22340

[2021-08-02 03:03] #22324 closed

[2021-08-02 03:21] Jich2018 opened #23041 "Cannot create cosmos db document item correctly with PartitionKey parameter"
[Enter feedback here]

The sample cannot run successfully with the latest .net library Microsoft.Azure.Cosmos 3.20.1.

[code]
The exception message is "Response status code does not indicate success: BadRequest (400); Substatus: 1001; ActivityId: ; Reason: ();"

The diagnostics is as follows:
![image](https://user-images.githubusercontent.com/40649144/127800052-1197fac8-2b75-4af6-bc86-c88c39fefc36

[2021-08-02 05:48] mataness opened #23044 "[Azure.Identity] Explicitly selecting the managed identity source"
In Azure.Identity NuGet, the implementation of ManagedIdentityCredential implicitly selecting the ManagedIdentitySource (e.g. IMDS, ServiceFabric).

In my scenario, we have both IMDS and ServiceFabric managed identities available for the process.
However, in some cases I want that my application will use ServiceFabricManagedIdentitySource and in some other cases I want to use the IMDS source.

Is

[2021-08-02 05:53] Tianyun-G opened #23045 "[Eventhub] test failing in nightly runs"
Eventhub nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=981586&view=results

[2021-08-02 06:16] v-xuto commented on #21462
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-net/pull/22459 merged.

[2021-08-02 06:16] #21462 closed

[2021-08-02 06:17] Yutolivo commented on #23031
I tested with Azure.Storage.Blobs 120.10.0-beta.2, still got the error.

[2021-08-02 07:28] amishra-dev commented on #23031
@kasobol-msft can you take a quick look at this tomorrow.

[2021-08-02 13:07] jsquire commented on #23045
Hi @Tianyun-G: and @v-xuto:  Thank you for filing this, but there is no need to monitor Event Hubs and we'd appreciate if you did not file issues for this service going forward.  This version of the library is not owned by our team, and we're actively monitoring runs for those versions that are.

//cc: @maririos

[2021-08-02 13:09] jsquire commented on #23045
Closing this as a duplicate of several internally tracked test issues that we've opened with the team that owns `Microsoft.Azure.EventHubs`.

[2021-08-02 13:15] jsquire commented on #23044
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-02 15:42] serkantkaraca commented on #22997
As @jsquire pointed there is no boundary for those settings other than the INT type. I would also like to add that most clients won't see any meaningful improvements after around 5000 on both settings.

[2021-08-02 16:38] amnguye commented on #22994
Not sure if this is a fix we should do because if we attempt to read a stream that actually is empty (length = 0) then we would run into a null exception for attempting to read at a position we can't make the request.

What's the scenario where `UploadAsync` has to take in a no-length stream? (this is seems like the Stream itself has a problem) Maybe we can find another solution for this. For now

[2021-08-02 17:02] blrchen opened #23051 "[BUG] Can not set PrefixMatch on ManagementPolicyFilter"
**Describe the bug**
Can not set PrefixMatch on ManagementPolicyFilter

**Expected behavior**
Able to set PrefixMatch on ManagementPolicyFilter, either via construction or public property

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
Not able to set PrefixMatch on ManagementPolicyFilter, either via construction or public property. Please refer to following so

[2021-08-02 17:25] amnguye commented on #23011
This is intentional. We would prefer that you would use `BinaryData Body` instead of `string MessageText` in order to ensure the contents of the message do not get altered in some sort of way when being converted to a string.

[2021-08-02 17:45] kasobol-msft commented on #23031
@Yutolivo Thank you for reporting. I was able to reproduce this problem using [the sample](https://github.com/Azure-Samples/managed-disks-dotnet-backup-with-incremental-snapshots).
The problem seems to be introduced on the service side starting with version `2020-06-12` of the REST API.

While this is investigated further the workaround is to downgrade service version used by `PageBlobClient` when

[2021-08-02 18:04] jsquire commented on #23051
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-02 18:08] jsquire commented on #22949
Thank you for the additional context, @StevenLiekens.   Since it appears that the credential-based approach fits your scenario, I'm going to mark this as addressed.   If you feel that there is a gap after evaluating the credential-based approach, please feel free to "`/unresolve'" and let us know.

[2021-08-02 18:11] heaths commented on #23016
Thank you for helping us troubleshoot the issue. I had a couple follow-up questions:

1. What key algorithm did you use to create the key?
2. If you feel comfortable doing so, could you share the public key so I could examine the ASN.1-encoded headers?

[2021-08-02 18:14] osobeso commented on #23011
@amnguye Thanks for clearing that out and for the quick response!

Just to point out that the [docs](https://docs.microsoft.com/en-us/azure/storage/queues/storage-dotnet-how-to-use-queues?tabs=dotnet) on using Queues seem to be deprecated as they use MessageText on their samples.
That's where my confusion came from in the first place.

Regards,
Oscar.

[2021-08-02 18:21] kdonthineni commented on #22905
I think you meant trigger from Azure IoTHub in your initial question instead of Azure EventHub. I am highly confident that these are unique messages but if you need more details along with logs, please feel free to initiate a customer support request with the IoTHub service.

[2021-08-02 18:24] AlexGhiondea opened #23054 "Azure Translator Commitments for .NET(July-December 2021)"

[2021-08-02 18:26] amnguye commented on #23011
Thanks for pointing those docs out, I will contact the docs owner to make sure those samples get updated that way they use the recommended way of accessing the body of the queue message.

[2021-08-02 18:56] nainesh72 commented on #22905
Hi David R. Williamson
Have an idea, when I go too deep into this problem I found that when edgeHub problem please give any view because my edge module send one message to edgeHub but how the same message send two times to the cloud because when i check that message receive  DateTime(IOT  Hub equetime)on cloud hub is different

[2021-08-02 20:19] chidozieononiwu commented on #22996
I am able to get the symbols loaded for Azure.Storage.Blobs.dll. And it looks like you have them also, Please make sure you did the following.
1. Ensure you checked the symbols servers in **Tools &rarr; Options &rarr; Debugging &rarr; Symbols &rarr; Microsoft Symbols Server**
2. Ensure that Just My Code is not checked **Tools &rarr; Options &rarr; Debugging &rarr; General &rarr; Enable Just My Cod

[2021-08-02 20:57] heaths commented on #22511
This was completed for .NET: https://docs.microsoft.com/dotnet/api/azure.ai.language.questionanswering.models.queryknowledgebaseoptions.-ctor?view=azure-dotnet-preview

[2021-08-02 20:57] #22511 closed

[2021-08-02 20:58] drwill-ms commented on #22905
@nainesh72 I'm not sure I understand what you said.

Are you setting a unique `MessageId` property? Do you have local logging enabled? That could help you determine if a message you send is being sent twice.

[2021-08-02 21:21] #22330 closed

[2021-08-02 21:41] billti commented on #22996
I did all that. The last part of my post shows the symbol load information and details of them being fetch from the symbol servers - complete with URL and file UUID.

[2021-08-02 21:43] pakrym commented on #22838
Would it result in having to wait until packages are indexed by Nuget to be able to release the next one?

[2021-08-02 21:44] annelo-msft commented on #18579
The work on this library is currently tracked with other issues.

@AlexGhiondea FYI

[2021-08-02 21:44] #18579 closed

[2021-08-02 21:53] annelo-msft commented on #23030
@m-nash Could you help us identify the recommended approach to this using the management plane libraries?

[2021-08-02 22:43] amnguye commented on #23011
The change has been made https://github.com/Azure-Samples/AzureStorageSnippets/pull/149.

[2021-08-02 22:43] #23011 closed

[2021-08-03 03:04] joshfree commented on #22186
@pakrym is this still active by accident?

[2021-08-03 03:50] joshfree commented on #18759
Closing as https://github.com/Azure/azure-sdk/issues/3087 is epic being used to track this in Nickel

[2021-08-03 03:50] #18759 closed

[2021-08-03 06:16] v-xuto commented on #21463
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-net/pull/22460 merged.

[2021-08-03 06:16] #21463 closed

[2021-08-03 06:21] NiklasArbin commented on #22534
HI, sorry for the delay, been away on vacation. We have our apm hooked into message start and end of message processing. This would have triggered an incident if processing times went up. We saw no instances of messages having extreme processing duration. End would have been logged when the cancellation token expired.

[2021-08-03 06:27] DhivyaG19 opened #23064 "Requesting the updated link info on the MicrosoftIdentityOptions.ClientCertificates Property document. There are 2 links having the same content updated on different dates."
This MicrosoftIdentityOptions.ClientCertificates Property [Document](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.microsoftidentityoptions.clientcertificates?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.Identity.Web.MicrosoftIdentityOptions.ClientCertificates);k(DevLang-csharp)%26rd%3Dtrue&view=azure-dotnet-preview) provides this "[Using Certificate](https://gith

[2021-08-03 06:29] #20746 closed

[2021-08-03 06:38] EranGon opened #23065 "[BUG] ServiceBusSessionProcessor reporting millions of SessionLockLost exceptions over time"
Our service consumes messages from Service Bus queues using message sessions.
We are running in Azure using multiple deployments (and multiple instances) reading from the same queue.
We've noticed that from time to time, our service gets TONS of SessionLockLost exceptions while trying to read from the queue.  TONS being over a million exceptions at a time in 10-20 minutes periods.

Trying to dig a

[2021-08-03 07:24] subhendu-de commented on #22995
Hi Team,

Please let me know if you have any updates on this. I'm looking for help on how to debug the code locally while using user-assigned managed identity to connect to service bus queue.

Any help is really appreciated.

Thanks
Subhendu

[2021-08-03 09:06] ivancavlek commented on #22929
If I understand correctly, to create a Service SAS I would have to present the storage account key?
If true, unfortunately that won't do for security reasons. For Blazor WASM that would mean that I have to store the key in app's config file and then the app is distributed across the Internet. It has no service backend like ASP.NET MVC or similar technologies. Storage Account key would be exposed.

[2021-08-03 09:28] shawnxzq opened #23067 "[BUG] SDK generate PS still use swagger from the "master" branch, while swagger already changed to use "main" branch"
**Describe the bug**
Please provide the description of issue you're seeing.
SDK generation tool still uses swagger from master branch to generate SDK.

**Expected behavior**
What is the expected behavior?
SDK generation tool should use the latest swagger from main branch since swagger repo already changed to use it instead of the original master branch.

**Actual behavior (include Exception or Sta

[2021-08-03 13:39] nainesh72 commented on #22905
Hi
Sir I check on the local log messages where my edge module send message to edgeHub in message routing and in the log I check that it sends only one message but edge hub send this message twice to cloude and it will be not continuously, after one or two-hour break edge hub send a duplicate message not fix time interval or regularly, so

[2021-08-03 13:42] nainesh72 commented on #22905
I send a Screen short of Duplicate message in my database
![image](https://user-images.githubusercontent.com/50742468/128025750-69fad065-f7a7-443c-9c2d-5649ce2f5bac.png)

[2021-08-03 13:45] jsquire commented on #23064
This issue has been transferred to the repository where the `Microsoft.Identity.Web` package is maintained as [#1368](https://github.com/AzureAD/microsoft-identity-web/issues/1368).

[2021-08-03 13:45] #23064 closed

[2021-08-03 13:47] jsquire commented on #23065
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-03 13:48] jsquire commented on #23067
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-03 13:54] nainesh72 commented on #22905
I already set unique message-id and unit DateTime with each message, when messages are generate

[2021-08-03 14:14] mohamedshabanofficial opened #23070 "[BUG] Doc Translator generated client is outdated causing tests to fail - needs regeneration"

[2021-08-03 15:38] kasobol-msft commented on #23031
@Yutolivo Yes, we'll be working on the fix and will post update here when this is addressed.

[2021-08-03 15:43] snapfisher opened #23073 "[BUG] BasicDigitalTwin is not always populated"
**Describe the bug**
If I make two calls:

AsyncPageable<BasicDigitalTwin> playerCardTwinList = dtclient.QueryAsync<BasicDigitalTwin>($"SELECT * FROM DIGITALTWINS WHERE Value = '{pcard.Value}' and Suite = '{pcard.Suite}

and

AsyncPageable<BasicDigitalTwin> playerCardTwinList = dtclient.QueryAsync<BasicDigitalTwin>($"SELECT D FROM DIGITALTWINS D WHERE D.Value = '{pcard.Value}' and D.Suite = '{pcar

[2021-08-03 16:19] jsquire commented on #23070
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-03 16:26] amnguye commented on #22929
There are no plans for this because it's required that we computer the SHA256 when signing the User Delegation SAS.

[2021-08-03 16:47] #22645 closed

[2021-08-03 16:55] pakrym commented on #22186
Adding the last scenario in an open PR.

[2021-08-03 17:06] #23004 closed

[2021-08-03 17:43] nainesh72 commented on #22905
Sir
In my message property and message are following
 string dataBuffer = JsonConvert.SerializeObject(tempData);
                var eventMessage = new Message(Encoding.UTF8.GetBytes(dataBuffer));
                eventMessage.Properties.Add("sequenceNumber", count.ToString());
                eventMessage.CreationTimeUtc = DateTime.UtcNow;
                Console.WriteLine($"\t{DateTime.Now.ToLoca

[2021-08-03 19:07] jasonjoh opened #23079 "[FEATURE REQ] AuthorizationCodeCredential should support a client certifcate as an alternative to client secret"
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
Currently AuthorizationCodeCredential only supports using a client secret. Auth code redemption can also be done [using a client certificate](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token-with-a-certificate-credential), which i

[2021-08-03 19:22] jsquire commented on #23079
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-03 20:16] snehitgajjar commented on #22720
@christothes Any update on this?

[2021-08-03 20:30] azabbasi commented on #23073
@snapfisher Can you please share the code snippet where you iterate through the pages? (preferably a snippet of all the code that manifests the issue you are describing) I don't see any difference between the two calls you mentioned, can you elaborate on how they are different?

[2021-08-03 20:32] #22905 closed

[2021-08-03 20:33] nainesh72 commented on #22905
Hi
Thanks to All Now my problem is solved, it some login problem
Thanks to all for your support, I some changes in my edge module send message logic then the problem solved

[2021-08-03 20:51] pakrym opened #23080 "UseProjectReference build configuration didn't catch a build error"
The change at https://github.com/Azure/azure-sdk-for-net/commit/c60c872828c71c6b4baeaac69ff7b27caa709021 added the `ClientOptions.Default` member that conflicts with `TableClientOptions.Default`.

But the original build passed:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1026038&view=logs&j=3dc8fd7e-4368-5a92-293e-d53cefc8c4b3

And only failed in the PackageReference update PR:

[2021-08-03 21:12] pakrym commented on #23080
it looks like AdditionalTestArguments from matrix doesn't flow into the test job

cc @benbp

[2021-08-03 21:21] chidozieononiwu commented on #22996
Can you check to make sure sourcelink is checked.
**Tools &rarr; Options &rarr; Debugging &rarr; General &rarr; Enable Source Link Support**
<img width="350" alt="SourceLink" src="https://user-images.githubusercontent.com/31145988/128087678-7b0e0140-357d-4efd-a61a-14c915bd1f84.PNG">

[2021-08-03 21:43] PPrabinKumarPatro opened #23082 "[BUG] Padding is invalid and cannot be removed while doing client side encryption for storage blob data using keyvault key"
**Describe the bug**
We are doing client side encryption for storage blob data using keyvault key.  This is the bug "https://github.com/Azure/azure-sdk-for-net/issues/16298" i intially filled for SNI. We were able to get it done but we are getting "Padding is invalid and cannot be removed" error now

**Expected behavior**
Should successfully decrypt and encrypt the data

**Actual behavior (include

[2021-08-03 21:45] PPrabinKumarPatro commented on #23082
@jsquire @schaabs can you help here ? Thanks.

[2021-08-03 21:58] kinelski commented on #22800
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/23078.

[2021-08-03 21:58] #22800 closed

[2021-08-03 21:58] kinelski commented on #22771
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/23078.

[2021-08-03 21:58] #22771 closed

[2021-08-03 22:05] #22186 closed

[2021-08-03 22:23] JoshLove-msft commented on #23065
Hi @EranGon,
The session lock being lost is not an expected scenario in most cases. It may be that the connection is being dropped intermittently by the service and causing this. Can you tell us how many concurrent sessions you are attempting to read from? In general, you should only get 1 exception per session where the lock is lost.

[2021-08-03 22:34] maririos commented on #22658
Feedback:
Rename:
	GetAllTranslationStatuses -> GetTranslationStatuses (async too)
	GetAllDocumentStatuses -> GetDocumentStatuses (async too)

Consider renaming:
	DocumentStatus.TranslatedTo -> DocumentStatus.TranslatedToLanguageCode
	FileFormat -> DocumentTranslationFileFormat

Desing:
	Document of Documents in the namespace
	Make DocumentFilter.CreatedAfter and DocumentFilter.CreatedBefore prope

[2021-08-03 22:41] maririos opened #23084 "Check if StorageInputType needs to be in TranslationSource or in DocumentTranslationInput"
The reason why it is in `DocumentTranslationInput` is that both `source` and `target` had to have the same `storageInput`. I believe the service updated their behavior and this is no longer required, but need to double-check.

If it is no longer needed for a target too, we should move the `DocumentTranslationInput.Storagetype` property to the `TranslationSource` type

[2021-08-03 22:47] maririos opened #23085 "Consider renaming StorageInputType"
According to the outcome of #23084 consider renaming type `StorageInputType` to `TranslationSourceUriKind`

[2021-08-03 22:49] annelo-msft opened #23086 "[Synapse] Support multiple service versions in Artifacts and ManagedPrivateEndpoints libraries"

[2021-08-03 23:06] maririos opened #23087 "Release Document Translator beta.5"

[2021-08-03 23:07] maririos opened #23088 "Address architects feedback"
Feedback:
- Rename:
  - GetAllTranslationStatuses -> GetTranslationStatuses (async too)
  - GetAllDocumentStatuses -> GetDocumentStatuses (async too)
  - (.NET) TranslationFilter -> GetTranslationStatusesOptions, this applies too for DocumentFilter
  - Cancelled -> Cancel, for methods and types. Avoid CancellationToken as it is a .NET type
- Consider renaming (maybe for Python):
  - (.NET) Documen

[2021-08-03 23:08] maririos commented on #22658
Issue to address feedback: https://github.com/Azure/azure-sdk-for-net/issues/23088

[2021-08-03 23:08] #22658 closed

[2021-08-03 23:09] maririos commented on #22689
Haven't seen this error again so closing issue. Feel free to reopen if you see it again

[2021-08-03 23:09] #22689 closed

[2021-08-03 23:35] maririos commented on #23070
Talked offline. This is no longer needed as the CI error was in a dev branch

[2021-08-03 23:35] #23070 closed

[2021-08-04 00:01] Mohit-Chakraborty commented on #22285
https://github.com/Azure/azure-sdk-for-net/pull/22455

[2021-08-04 00:06] ChadNedzlek commented on #19782
I use this feature very often to wrap PartitionKey and RowKey with more meaningful named properties, so that I don't have to repeat data in the table, but I can do something like:
[code]

That way my code isn't filled with a bunch of code having to have comments like
CallAThing(int.Parse(entity.RowKey) /* this is the Build id */)

[2021-08-04 00:32] snapfisher commented on #23073
The broken one is "Select D..." and the one that works is " Select *".

I can send you the working code later tonight or tomorrow.

On Aug 3, 2021 4:30 PM, Azad Abbasi ***@***.***> wrote:

@snapfisher<https://github.com/snapfisher> Can you please share the code snippet where you iterate through the pages? (preferably a snippet of all the code that manifests the issue you are describing) I don't se

[2021-08-04 02:38] snapfisher commented on #23073
Code snippet:

        public static async Task<BasicDigitalTwin> GetOneTwin(DigitalTwinsClient dtclient, string query)
        {
            AsyncPageable<BasicDigitalTwin> twinList = dtclient.QueryAsync<BasicDigitalTwin>(query);
            BasicDigitalTwin twin = null;
            await foreach (var d in twinList)
            {
                twin = d;
            }

            return twin;

[2021-08-04 02:39] snapfisher commented on #23073
Yes, the aliasing is what is causing the problem

[2021-08-04 05:30] #22286 closed

[2021-08-04 06:33] JoshLove-msft commented on #23065
The exception is caught but it is also logged as an error.

[2021-08-04 06:55] EranGon commented on #23065
@JoshLove-msft we are reading from 12 concurrent sessions.
To be clear on what we experience

1. The session lock lost issue is no infrequent - we're getting a few thousands of those every week (running in a massive scale service with dozens of nodes)
2. When we do encounter it, we get over a million errors at a time (all reported through the ProcessErrorAsync event in ServiceBusSessionProcessor)

[2021-08-04 07:03] JoshLove-msft commented on #23065
Thanks for the clarification. I assumed that this was coming from the SDK logs and not actually hitting the user error handler. It does seem like there is a bug here.
Would you be able to provide the ServiceBusSessionProcessorOptions that you are using to help track down the issue?

[2021-08-04 07:23] karataliu commented on #20651
ping

[2021-08-04 07:25] JoshLove-msft commented on #23065
It would also be helpful if you have the ErrorSource from the ProcessErrorEventArgs.

[2021-08-04 07:35] sksk571 commented on #18035
We are also seeing this error from time to time. It happens in both AKS cluster and in on-prem data center connected to Azure via Express route. If this error is meant to be automatically retried by client, then why it shows up in the error log?

We use 5.1.0 version of the SDK.

[code]

[2021-08-04 07:54] EranGon commented on #23065
So:
Yes - the stack trace is the full stack trace
ErrorSource == Receive
[code]

[2021-08-04 08:05] EnricoMassone commented on #18035
@sksk571 hi, we have solved the issue by adoting the new [Azure.Messaging.ServiceBus SDK](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/servicebus/Azure.Messaging.ServiceBus) as a replacement for **Microsoft.Azure.ServiceBus version 5.1.0**.

By adopting the [Azure.Messaging.ServiceBus package](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) we get rid of all the errors.

[2021-08-04 08:20] blrchen commented on #23051
Hello, is there any update?

[2021-08-04 12:37] mark-micallef opened #23093 "Azure.Search.Documents Unable to Parse Documents containing DateTime.MaxValue"
We have been migrating to Azure.Search.Documents from the deprecated Microsoft.Azure.Search.

Our documents contain date fields which could have been populated with .Net's **DateTime.MaxValue**.

Whilst this was not a problem in Microsoft.Azure.Search, Azure.Search.Documents results in the following error:
[code]

[code]

Is this intentional?  If so, what is the appropriate maximum date value to u

[2021-08-04 13:08] bdschaap opened #23094 "[QUERY] Azure.Identity Multi-tenancy Support?"
**Query/Question**
Does Azure.Identity support multi-tenancy and if not is there a timeline for when it will support it?

I'm trying to use one app registration associated with two service principals.  The service principals are in two different AAD tenants.  I'm also using AAD Pod Identity on Kubernetes to support Managed Identity credentials.  When I try to use this configuration I'm running int

[2021-08-04 13:22] Mohit-Chakraborty commented on #23093
Thanks for reporting the issue. I will take a look and get back to you.

[2021-08-04 13:34] jsquire commented on #23082
Hi @PPrabinKumarPatro.  Thank you for your feedback and we regret that you're experiencing difficulties.   I'm not sure the source of your error - specifically if you're seeing this when acquiring the token as you were with #16298 or if this is being surfaced by the KeyVault or Storage libraries.   If you're able to share a stack trace and any other context that you have, it would be helpful in fi

[2021-08-04 13:35] jsquire commented on #23094
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-04 13:36] dokikunjambul opened #23095 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-08-04 15:11] januszj opened #23096 "[BUG] Using FileStreamResult with client side encrypted blobs, results in never ending download"
**Describe the bug**
When using FileStreamResult with encrypted blob stream reported Length of stream is of the encrypted blob and not decrypted one. This results browser waiting for missing bytes reported by FileStreamResult and download fails.

**Expected behavior**
Client side encrypted blob stream should report decrypted size.

**Actual behavior**
When trying to download in browser it will fir

[2021-08-04 15:19] PPrabinKumarPatro commented on #23082
updated with call stack

[2021-08-04 15:22] jsquire commented on #23082
Thank you!   The call stack appears to imply that this is occurring in the Storage SDK.   Rerouting to the storage team for assistance.

[2021-08-04 16:09] kinelski opened #23098 "[TextAnalytics] Update sample links when feature branch is merged"
In `samples\Sample8_ExtractSummary.md`:
[code]

In `README.md`:
[code]

[2021-08-04 16:43] kasobol-msft opened #23100 "[Storage] Create ability to test managed disks."
This is to address inability to test managed disk accounts.

https://github.com/Azure/azure-sdk-for-net/blob/123fb2c51fcd4ebb42ee53452be617e04d1039ed/sdk/storage/Azure.Storage.Blobs/tests/PageBlobClientTests.cs#L1624

Also follow up for https://github.com/Azure/azure-sdk-for-net/issues/23031 to be able to catch regressions earlier.

[2021-08-04 17:18] erwinkramer opened #23102 "[BUG] Infinite ServiceBus retry loop in Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0-beta.5"
**Describe the bug**
When using Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0-beta.5 messages will keep retrying indefinitely .

**Expected behavior**
Messages going to the deadletter queue.

**Actual behavior (include Exception or Stack Trace)**
Let's see the host config when the Azure Function boots, there is a maxRetryCount of 2:
[code]
...and the servicebus retries, that's 2 as well:
[co

[2021-08-04 18:04] amnguye commented on #9489
We're currently looking into resolving this offline and seeing if the service can produce a more helpful error.

[2021-08-04 18:35] azabbasi commented on #23073
@snapfisher
Yes, the reason the response is not getting deserialized correctly into `BasicDigitalTwin` is that the response has a slightly different json hierarchy than regular `SELECT *` version.
Here is the difference:

When you do `SELECT *` , the response has a format like this:
[code]

But when you alias your collection, the response has a slightly different format namely, each twin is coming

[2021-08-04 18:58] kinelski opened #23105 "[Text Analytics] Update samples text"
The text used is too long and don't fit in the boxes in GitHub:
[code]

[2021-08-04 19:18] jsquire commented on #23102
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-04 19:18] jsquire commented on #23102
//fyi:  @pakrym

[2021-08-04 19:21] JoshLove-msft commented on #23102
Hi @erwinkramer,
So are you essentially throwing an exception after that if block in your function? This would cause the message to be abandoned and redelivered to your function. So it isn't that the retry policy is retrying your function, it is the fact that the message has not been completed, so it is available to be redelivered over and over again until it is deadlettered.

[2021-08-04 19:32] snapfisher commented on #23073
This is extremely useful.  I understand.  I think I have two comments:

  1.  Wherever this is in our documentation, I could not find it.  We should change something, somewhere to include this.  Before I undertook this, I went through all 3(?) tutorials that we have on docs.microsoft.com (all the room->floor solutions, including the one with the event hub), and this was not even mentioned.  I know

[2021-08-04 19:39] erwinkramer commented on #23102
@JoshLove-msft

Yes I'm throwing an exception after checking the delivery count.

The behavior is different from the stable version. There, when you throw exceptions, it would eventually go into the dead letter queue. I only refactored my code in a minimal way to work with the beta version.

Are you telling me I have to complete the message somehow, even though the whole deal is not being able to

[2021-08-04 19:39] erwinkramer commented on #23102
/unresolve

[2021-08-04 19:53] JoshLove-msft commented on #23102
Moving a message to the deadletter queue is done by the service, once the delivery count exceeds the threshold you've set for your queue (by default it is 10). Can you confirm what the threshold is for your queue?

[2021-08-04 20:27] erwinkramer commented on #23102
That must be part of the problem I will let you know tomorrow.

Does that mean the retry functionality in Functions have no use in this scenario? (SB to SB) Because once service bus thinks it's over and sends it to the deadletter queued, there isn't much to retry in a Function. I would have thought there is retrying based on Functions logic first, and when that's over it should see it as a failed

[2021-08-04 20:30] JoshLove-msft commented on #23102
The Service Bus SDK has retries internally for transient errors. The functions retry policy is more for retrying errors that may be retriable within your function. So if there is some other transient error that is not related to the Service Bus SDK, it can still be useful.

[2021-08-04 20:39] JoshLove-msft commented on #23102
Yes, in this case, but I was speaking in general about when the Functions retry functionality can be useful.

[2021-08-04 20:45] erwinkramer commented on #23102
I guess that clears it up. Feels like some missed opportunities to merge retry behaviors from these 2 products IMO.

[2021-08-04 20:46] JoshLove-msft commented on #23102
We are planning to make the retry behavior smarter so that function retry doesn't happen if the error is not retriable - https://github.com/Azure/azure-sdk-for-net/issues/20177

[2021-08-04 20:57] annatisch commented on #22887
Looking at how this is handled in the TextAnalytics in the Python SDK - the default is set [at the client level](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/textanalytics/azure-ai-textanalytics/azure/ai/textanalytics/_text_analytics_client.py#L122-L124), and can be [overridden per operation](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/textanalytics/azure-ai-textanal

[2021-08-04 20:59] erwinkramer commented on #23102
Looks like some nice progress.

Looking further into the locking issues, it seems like the functions retry can actually cause some harm right now with SB. So it's best to remove it all together? And that would mean I cannot enable it on a global state in the host.json as well?  (In the retry root element)

[2021-08-04 21:00] JoshLove-msft commented on #23102
Right now, the way it interacts with the SB SDK is not ideal, so I would agree it would be best to not use it for SB functions until we address the linked issue.

That is my understanding - you would have to enable it in each function that you want it in instead.

[2021-08-04 21:01] kinelski opened #23112 "[TextAnalytics] Reduce size of the Analyze Operation sample"
There's no need to illustrate every single action and make the sample too long. Reduce it to two actions only.

[2021-08-04 21:04] maririos commented on #22887
For more context on TA, the default for the service is also `TextElements_v8` so someone that uses REST can decide which encoding according to the environment they are using.

Each library sets the value that aligns with its language. .NET, JS, and Java use `Utf16CodeUnit` and Python `UnicodeCodePoint` so the output the service sends makes sense for that language

[2021-08-04 21:06] annatisch commented on #22887
Ah thanks for that context @maririos! That helps :)

[2021-08-04 21:06] erwinkramer commented on #23102
Gotcha.

Right now, this doc part doesn't make any sense anymore then ; https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#using-retry-support-on-top-of-trigger-resilience . It explicitly states that there are function retries before SB delivery increments.

[2021-08-04 21:25] annatisch commented on #22887
In that case we might need to move the clientside per-language default into a directive in the autorest readme to update the model. Otherwise we'd need to hand-wrap the generated models which I'd rather avoid...
Or we remove this from the generated model entirely, and like TA, have this as a client parameter that we apply to the outgoing model on request.

[2021-08-04 21:40] kinelski commented on #22941
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/23097.

[2021-08-04 21:40] #22941 closed

[2021-08-04 21:57] JoshLove-msft commented on #23102
I may have not been clear in my previous explanation. The function does retry on top of the SB retries. The delivery count corresponds to how many times a message has been received from the queue - the function retrying will not cause the delivery count to be incremented. The delivery count is only incremented after the function retry is finished and the trigger attempts to receive the message aga

[2021-08-04 22:02] #23098 closed

[2021-08-04 22:03] pakrym opened #23116 "Identity tests fail in MacOS PR runs"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=1032912&view=logs&j=d5009941-483f-5738-7bd7-036d0daf999f

[2021-08-04 22:06] JoshLove-msft commented on #23065
You are using 7.2.0 or 7.2.1? Has this just started happening recently?

[2021-08-04 22:40] amnguye commented on #10314
100% this is Track1 but the Track1 Tables SDK

Table support has moved to the CosmosDB NuGet package. Please follow up there.

https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table

[2021-08-04 22:40] #10314 closed

[2021-08-04 22:43] amnguye commented on #17851
Have you attempted to call OpenRead on this particular file again and were you able to run into the same exact problem? Maybe there's something that can only be reproduced with this particular WAV file. If so we might have to take this to email.

[2021-08-04 22:52] #23112 closed

[2021-08-04 23:14] azabbasi commented on #23073
I will take a stab at updating the samples and the documentation to highlight the fact that `BasicDigitalTwin` is just a helper model and will not satisfy all customer scenarios as each payload and response varies based on the use case of each twin and how they are structured. The same goes for query results, you can format your query in many different ways and as a result, you will get many diffe

[2021-08-04 23:14] #23073 closed

[2021-08-04 23:19] #23080 closed

[2021-08-05 00:13] maririos commented on #23009
Generated code in the empty project is here: https://github.com/maririos/azure-sdk-for-net/tree/newfr/sdk/formrecognizer/Azure.AI.FormRecognizer3

Errors/suggestions for service team have been added to our [OneNote](https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/OneNote.aspx?id=%2Fteams%2FAzureDeveloperExperience%2FShared%20Documents%2FService%20-%20Form%20Recognizer%2FAz

[2021-08-05 00:13] #23012 closed

[2021-08-05 00:13] maririos commented on #23012
Part of #23012

[2021-08-05 00:15] maririos opened #23119 "Generate code targeting v3.0 in top of existing 3.1 SDK"
- Generate code
- Try running some endpoints and see what we get

[2021-08-05 00:16] #22874 closed

[2021-08-05 00:16] maririos commented on #22874
PR https://github.com/Azure/azure-sdk-for-net/pull/22906

[2021-08-05 00:16] maririos commented on #22875
Pr https://github.com/Azure/azure-sdk-for-net/pull/23072

[2021-08-05 00:16] #22875 closed

[2021-08-05 00:43] annelo-msft commented on #21603
Proposed APIView here: https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c/b7bc17cdde3d4cce9d746014f58e91d7?diffRevisionId=d901b2eecfc1401ca50a1118fcf7d8b8&doc=False&diffOnly=False

With samples: https://github.com/Azure/azure-sdk-for-net/compare/main...annelo-msft:acr-audience-exp1#diff-4c97342c11eae10a5f275e0e8bea9b5bb07c74040e3f7c9fbabd0e8b0ab52223R28

[2021-08-05 00:53] JoshLove-msft commented on #23065
The session lock has expired on the MessageSession. Accept a new MessageSession. TrackingId:1ad509100000000f000d5da761051853_G0_B29, SystemTracker:XXXXXXX, Timestamp:2021-07-31T09:32:59 (SessionLockLost)

Are you able to log the SessionId here from the EventArgs? Is it logging the same session over and over or is different each time?

Do you mean this is happening for thousands of sessions, and th

[2021-08-05 01:04] Jich2018 commented on #23041
any updates on this?

[2021-08-05 01:40] zedy-wj opened #23122 "[Form Recognizer] No valid blobs found in the specified Azure blob container."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

### Error Description:

Task `StartTrainingSucceedsWithValidPrefix` failed in [pipeline weekly-test](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1018418&view=logs&j=c7de73c1-1fa3-5f12-91c3-9e3a0d31061f&t=33bf5cdb-a7

[2021-08-05 03:15] zedy-wj opened #23123 "[Form Recognizer] The given key 'Contact' was not present in the dictionary."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

### Error Description:
Task `StartRecognizeCustomFormsWithLabelsCanParseMultipageForm` failed in [pipeline weekly-test](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1018418&view=logs&j=c7de73c1-1fa3-5f12-91c3-9e3a0d3

[2021-08-05 03:20] shawnxzq commented on #17655
@tangdi we are still working on this, and we will have a backlog item to track this, could you mind we can close the issue here? Thanks!

[2021-08-05 03:25] shawnxzq commented on #22425
@LijuanZ Please check whether we can add this in the swagger, currently, rest API document is generated from swagger.

[2021-08-05 03:34] shawnxzq commented on #22408
@shannonlowder Git repository is managed by our own, you can use the git restful API to save changes to the repository or try to find some git client lib if necessary. Data factory client only works with factory metadata store, thanks!

[2021-08-05 03:35] shawnxzq commented on #21868
@stevendarby  Any more issues on this? If not, we will try to close this issue later, thanks!

[2021-08-05 04:20] SeanFeldman commented on #22970
This would not be necessary if pipelines (#11986, #12943) would be implemented.

[2021-08-05 04:24] SeanFeldman commented on #17380
This needs to be in the documentation. Ideally, in the following order of preference:
1. SB how-to guide at [docs.microsoft.com](https://docs.microsoft.com/en-us/azure/service-bus-messaging/)
2. [readme.md](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/README.md)

[2021-08-05 05:30] EranGon commented on #23065
We are using 7.2.0. This has just started happening recently, but we've just recently upgraded from version 4.1.3 so it might be related

We don't log the SessionId specifically, but all of these errors arrive with the exact SystemTracer if that helps

This is happening for thousands of sessions, and then for each session we are getting **over a million** of logs

[2021-08-05 05:34] v-xuto commented on #20213
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-net/pull/21133 merged.

[2021-08-05 05:34] #20213 closed

[2021-08-05 09:09] PPrabinKumarPatro commented on #23082
HI Storage team, can you help here as we are having issues in most of prod regions including EUS, It would be challenging before it became bigger issue. Thanks.

[2021-08-05 10:30] gokhanald opened #23127 "Azure Cognitive Services ContentModerator DeleteTerm method does not work"
Hello,

I am using content moderator on my api but one method does not work. Every other method will work correctly but delete term method does not work. Can you help me for this method?

Packages and tools are;
**-Visual Studio 2019 Community
-.net core 5.0 web api
-Microsoft.Azure.CognitiveServices.ContentModerator 2.0 nuget version
-PC W10 last version**

My method:
**await _contentModeratorCli

[2021-08-05 12:20] erwinkramer commented on #23102
@JoshLove-msft thanks for all your comments. I've checked by DeliveryCount on the queue itself and it was way too high, I've set it to 10 and it works as expected. Not an issue caused by the beta package after all.

Since we talked about so many different types of retries, I went ahead and made a table to breakdown the different configurations and their effect on Service Bus behavior. Does it make

[2021-08-05 12:54] jsquire commented on #23127
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-05 13:13] erwinkramer commented on #11400
@NickDarvey I've experienced something similar. My issue was the app settings, which swapped slots in my case. I put the `AZURE_CLIENT_ID` setting only in the production slot as part if my ARM tempalte, but that doesn't guarantee it will stay in that slot when you swap it of course.

[2021-08-05 13:26] yotkoKanchev opened #23128 "[BUG] BlobBaseClient.OpenReadAsync and BlobBaseClient.OpenRead producing IOE: Response Content-Length mismatch: too few bytes written (3692 of 3696)."
**Describe the bug**
Recently replaced BlobBaseClient.DownloadToAsync with OpenReadAsync as I needed to, and after I'm getting the stream I'm trying to create a File from it

**Expected behavior**
to pass the full content

**To Reproduce**

var blobStream = await blob.OpenReadAsync();
/same thing with var blobStream = await blob.OpenReadAsync(0, 1024); and when used OpenRead();/
return File(blobSt

[2021-08-05 13:54] littlecharva commented on #17216
I also have this issue, and I think the suggestions above are a work-around, not a solution.  I get the following error when deploying using msbuild:

`ASPNETCOMPILER : error ASPRUNTIME: Type is not resolved for member 'Azure.Identity.CredentialUnavailableException,Azure.Identity, Version=1.4.0.0, Culture=neutral, PublicKeyToken=92742159e1
2e44c8`

Which is being caused by the references to AzureK

[2021-08-05 16:55] lukepuplett commented on #22903
Hello, today I have another issue which might be related.

https://stackoverflow.com/questions/68670514/cosmos-db-emulator-hangs-when-pumping-continuation-token-segmented-query

The related part is the lack of error from `CreateIfNotExist()` when creating the 6th unlimited table against a Cosmos DB Emulator. The documentation says that (before I upped the default PartitionCount) I should have expe

[2021-08-05 16:59] Rodrick45 opened #23134 "[BUG] Extracted numbers too large for 'float' type"
**Describe the bug**
In FieldValue_internal I see that ‘ValueNumber’ is of type ‘float?’. This datatype is inadequate for the data being returned. For example. if you attempt to parse "52091725" into a float you will end up with "52091724". In other words, the data returned from the form recognizer engine will be changed by the SDK.

**Expected behavior**
Preserve the value of larger numbers.

**A

[2021-08-05 17:05] schaabs opened #23135 "Add configurable process timeout for dev-time credentials"
We still have reports of credentials which spawn subprocesses, specifically `AzurePowerShellCredential` and `AzureCliCredential`, still timing out in some environments despite having increased the timeouts. From a user account of debugging such an issue.

In order to make these credentials more resilient in various environments we should make this timeout configurable and possibly consider extendi

[2021-08-05 17:06] amnguye commented on #23082
Can you provide a more detailed code snippet where the key is being passed to the `BlobBaseClient`, I can tell you're doing a `DownloadToAsync` but the error "Padding is invalid.." is not included in the stack trace, but you said that this is the error that appears for you.

I wonder what's wrong with the key being passed to the `BlobBaseClient` to be causing this error with the `Cryptography` lib

[2021-08-05 17:27] amishra-dev commented on #23096
@jaschrep-msft can you please look at this?

[2021-08-05 17:38] #23100 closed

[2021-08-05 17:40] amnguye commented on #22100
Will work to update all the upload methods with better documentation to provide more clarity about overwriting or no overwriting.

[2021-08-05 17:47] amnguye commented on #21901
Mitigated offline.

[2021-08-05 17:47] #21901 closed

[2021-08-05 17:48] amnguye commented on #18381
Will be taking all into consideration as we update all the Upload Docs to provide more details on the overwrite behavior

[2021-08-05 17:51] amnguye commented on #19094
Since this is a service bug and not an SDK bug we have to close this issue.

[2021-08-05 17:51] #19094 closed

[2021-08-05 17:54] #22435 closed

[2021-08-05 17:54] #22123 closed

[2021-08-05 17:59] LijuanZ commented on #22425
Sure, will do. Thanks!

[2021-08-05 19:39] jaschrep-msft commented on #23082
"Padding is invalid" is the hardest issue to track down. It essentially means that the last 16 byte encryption block was an unexpected value according to the AES specification and so there was some sort of error. Something could have gone wrong during encryption, decryption, key wrapping, key unwrapping, upload, download, or even blob metadata management; some piece of data is incorrect in the who

[2021-08-05 19:59] jaschrep-msft commented on #23096
In general, unless you need to seek through your stream at will or a known `Length` is critical, `DownloadStreaming()` is likely a far better option for you than `OpenRead()`. Code that is dependent on a stream's Length parameter will have a tough time with `OpenRead()` as the returned stream is designed to resize its length to accommodate blobs that are updating underneath you (assuming you've di

[2021-08-05 20:00] KingStudBoi opened #23138 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-08-05 20:16] amnguye commented on #21774
I believe this is a management plane API ask not an SDK ask. We can only implement what the service provides.

@blueww Do you know if this is something the service has thought of returning when doing get storage properties
https://docs.microsoft.com/en-us/rest/api/storagerp/srp_json_get_storage_account_properties

[2021-08-05 20:16] amnguye commented on #21525
Closing issue as this was resolved offline.

[2021-08-05 20:16] #21525 closed

[2021-08-05 20:18] amnguye commented on #21511
Relabeling as bug

[2021-08-05 21:27] amnguye commented on #13545
Currently working on this, we're hashing out Downloads right now and upload will come next.

[2021-08-05 21:55] v-moush opened #23143 "[BUG] : Not able to insert messages in a Service bus queue after reading message from the same queue using ServiceBusClient defined methods"
**Describe the bug**
We have use cases like read the messages from the service bus queue and then insert different messages into the same queue
But unfortunately, we were not able to insert messages in a Service bus queue after reading a message from the same queue using  ServiceBusClient defined methods

**Expected behavior**
ServiceBusClient should insert messages into the queue once we execute

[2021-08-05 22:01] #22927 closed

[2021-08-05 22:02] #22846 closed

[2021-08-05 22:05] amnguye commented on #19422
For 1 & 2 these both moved to the Azure.Core package. You would have to inject your `HttpMessage` to the `HttpPipelinePolicy`, there's a sample here, but let me know if you need a more detailed sample.
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Pipeline.md

As for 3, are you referring to the timeout in the retry policy? https://github.com/Azure/azure-sdk-for-n

[2021-08-05 22:10] amnguye commented on #18951
Not sure how to move forward with this issue because if the stream later becomes unseekable and/or non length down the line, the upload method cannot perform like that.

I'm not sure what this means. I don't think the upload method can make assumptions on what other APis to retrieve the length and seekability.

When I went to repro, it does show me the results you were mentioning, however we can't

[2021-08-05 22:12] jaschrep-msft commented on #18774
Currently, there is no way to do this for that API, as that API splits your upload into multipart uploads, where each individual UploadRange call needs its own hash. For now, you have to split the upload yourself into 4MB chunks and then compute and set the `transactionalContentHash` for each one.

We are in the process of developing a better solution to this which will allow the SDK to handle thi

[2021-08-05 22:17] amnguye commented on #17268
I wonder if this has something to do with the stream being nonseekable and nonlength. Have you tried using OpenWrite, because that seems like the purpose of your stream to fill up the blocks slowly.

[2021-08-05 22:24] amnguye commented on #20196
Changed to feature request.

[2021-08-05 22:46] #23138 closed

[2021-08-06 00:18] jimmyca15 opened #23146 "[FEATURE REQ] KeyVaultKeyIdentifier.TryParse"
**Library or service name.**
Azure.Security.KeyVault.Keys

**Is your feature request related to a problem? Please describe.**
If I develop an application that takes user input that should be a key vault key URI I have to write the following code to validate it is a Key Vault URI.

[code]

Ideally I would like to write

[code]

[2021-08-06 01:58] DanialK commented on #22077
Thanks @jsquire and @reyang
Have you had the chance to publish the latest version? I can still only see  1.0.0-beta.2
![image](https://user-images.githubusercontent.com/2878450/128444308-ef5b484b-0883-461f-8291-962c90e9cc71.png)

[2021-08-06 05:09] JoshLove-msft commented on #20569
This feature would be useful when tuning the concurrency of a ServiceBusSessionProcessor.

[2021-08-06 05:09] JoshLove-msft commented on #20569
/cc @mathewc

[2021-08-06 05:55] JoshLove-msft commented on #23102
I think there are really only two categories of retry - Function level, and Service Bus SDK level. You can kind of think of the incremented delivery count as the service retrying, but let's treat that separately.

The function level retry is configured by adding the retry attribute or in the function settings as you mention. The function retry kicks in when your function has an unhandled exception

[2021-08-06 05:59] reyang commented on #22077
Next version is expected to come around late Oct. this year.

[2021-08-06 06:50] kinelski commented on #22871
This has already been clarified by the service team:

The rank score is currently being normalized on each document to the interval [0,1] for all sentences returned from the model, and this value to be document relative and not necessarily comparable across multiple documents.

No changes are needed.

[2021-08-06 06:50] #22871 closed

[2021-08-06 07:31] v-yilinhu opened #23152 "[Servicebus] test failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1034081&view=results

[2021-08-06 07:31] v-yilinhu opened #23153 "[Servicebus] test failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1032137&view=results

[2021-08-06 09:22] Mortana89 commented on #22991
Hi, is there any ETA for this?
It's blocking our production release as it causes our instances to max process 5 unique sessions in total per second, while we have 20+ instances processing easily 100 sessions each in parallel. As a result, most of the messages will go to the deadletter with a max delivery count of 10.
As a last resort we could revert to using a connection string authentication, but

[2021-08-06 12:03] cvakarna opened #23156 "MaxAutoLockRenewalDuration is not working for Azure Service Bus"
MaxAutoLockRenewalDuration is not working on the ServiceBusProcessor.
I have a queue which is configured as lock duration 5 min, and running two concurrent listeners for the queue,
Message processing will take more than 5min(assume that it takes 8min),then lock renewal should happen automatically but message is available for the other consumer/listener after 5 min.

code sample to configure Servic

[2021-08-06 13:07] jsquire commented on #23143
Hi @v-moush.  Thank you for reaching out and we regret that you're experiencing difficulties.  Can you help us understand the behavior that you're seeing a bit better?   When you say that you "can't insert messages into a queue", do you mean that the "SendAsync" call is throwing an exception or is there something else that you're observing?

[2021-08-06 13:09] jsquire commented on #23146
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-06 13:09] jsquire commented on #23156
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-06 13:25] jsquire commented on #22991
Hi @Mortana89.   We've got an approach that we're comfortable with and the changes are in-progress.   Because this impacts a critical path of the SDK, we'll need to do a full validation pass of long-running stress tests before releasing.

This won't be complete in time for our August release cycle.  For Service Bus, I'll defer to @JoshLove-msft on potential release timing.  For Event Hubs, these c

[2021-08-06 14:29] sadasant opened #23157 "[Azure.Identity] Document the package can be used for more than the Azure SDKs"
Recently, the Azure SDK for TS/JS received requests from customers to improve our introductory paragraph in our Identity README to also mention that the Identity package could be used from applications not using the Azure SDK. We made the changes in our README here: https://github.com/Azure/azure-sdk-for-js/pull/16800. If you agree, we should do a similar change in the Identity README for .NET

[2021-08-06 15:11] v-moush commented on #23143
Hi @jsquire,

We didn't get any sort of exception when executing the provided code.

can't insert messages into a queue: What I mean here is, When we execute this piece of code
await sender.SendMessagesAsync(messages, default).ContinueWith(_ =>
			 {
			 });

I am excepting that, It should immediately(without any delay)  insert the list of messages into the provided queue. I verified the count of

[2021-08-06 15:37] tpajurek-dtml opened #23158 "[BUG] AzureCliCredential with specified tenant Id does not work"
There is bug in the generating command line arguments for Azure CLI in `AzureCliCredential`:

https://github.com/Azure/azure-sdk-for-net/blob/f07fd00dc3fb6311f4a85a9e02e05b162b4f2976/sdk/identity/Azure.Identity/src/AzureCliCredential.cs#L182

Instead of `--tenant` there is `-tenant` argument which leads to following error:

`unrecognized arguments: xxx`

PR: https://github.com/Azure/azure-sdk-for-

[2021-08-06 16:36] januszj commented on #23096
Thanks, after changing to:
[code]
download works fine in browser. It does not report size so it just downloads util finished, but it works perfectly.

One more question. Is the download from blob this way limited in speed ? I always got max of 500 kB/s...

[2021-08-06 17:13] JoshLove-msft commented on #22991
I think we will do the same for Service Bus.

[2021-08-06 17:18] heaths commented on #23146
@KrzysztofCwalina customers here are asking for my original design. Do you see any problem adding this? The `KeyVault*Identifier` structs across languages were only ever meant for parsing anyway - merely exposing what we were all already doing internally anyway.

[2021-08-06 17:25] JoshLove-msft commented on #23156
Hi @cvakarna,
We have several tests that exercise this functionality and they all appear to be working as expected. Can you clarify how you are detecting that the same message is being received by your other listener - do they have the same SequenceNumber? Does the initial listener eventually attempt to complete the message? Does it throw an exception when it does?

[2021-08-06 17:29] kinelski opened #23161 "[TextAnalytics] Add null input validation to Analyze Operation tests"
Currently it's missing tests for null ID and null text in input, like we do for other endpoints. Examples: `DetectLanguageBatchWithNullIdTest` and `DetectLanguageBatchWithNullTextTest`.

[2021-08-06 17:48] #22839 closed

[2021-08-06 18:12] JoshLove-msft commented on #23152
All of the failures were in Canary and all related to the service shutting down the connection. Nothing to do here.

[2021-08-06 18:12] #23152 closed

[2021-08-06 18:32] jsquire commented on #23158
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-06 18:40] jmerkow opened #23940 "How to view raw request uri and content before sending (for debuging)"
I am debugging a few endpoints and I would like to view the request content (json).  For the life of me, I cannot seem to figure out how to do this.  I am most interested in looking at the Request content.

Sorry I meant to post this to autorest.csharp,  This is for a C# generated client.

[2021-08-06 18:57] JoshLove-msft commented on #23143
@v-moush I think I see what is happening here. Your initial receive call times out after putting a request for 10 credits (messages) on the receive link. After your messages are sent, they are immediately delivered to your still open link, that you are no longer actively listening to. Since you are receiving in ReceiveAndDelete mode, the messages do not show up in the portal. In order to get the b

[2021-08-06 19:25] #23158 closed

[2021-08-06 19:27] #23102 closed

[2021-08-06 19:40] #21633 closed

[2021-08-06 20:02] #22721 closed

[2021-08-06 21:10] JoshLove-msft opened #23169 "Add AAD support for Event Grid functions extensions"
Now that the service and the SDK support it, we can add it to the extension as well.

[2021-08-06 21:52] jaschrep-msft commented on #23096
It should not be limited unless the account you are downloading from is being throttled due to excessive traffic. If anything, I'd expect this method to be faster than OpenRead, as open read downloads a single section (4MB default), buffers it, then lets you read from that buffer, fetching a new buffer when you attempt to read from a stream position that is not buffered. This API just makes a sing

[2021-08-06 22:45] amnguye commented on #23128
Have you tried converting the stream to something like a `MemoryStream` in order to mitigate the issue?

Also I'm having trouble with your repro, I'm confused how you got to return a static type like File, since it's meant to just provide static methods.
https://docs.microsoft.com/en-us/dotnet/api/system.io.file?view=net-5.0

[2021-08-06 22:52] danieljurek opened #23172 "agrifood - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23173 "communication - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23174 "compute - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23175 "containerregistry - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23176 "cosmosdb - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23177 "digitaltwins - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23178 "dns - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23179 "eventgrid - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23180 "insights - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23181 "machinelearningservices - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23182 "modelsrepository - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23183 "monitor - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23184 "network - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23185 "purview - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23186 "objectanchors - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23187 "remoterendering - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23188 "sqlmanagement - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23189 "videoanalyzer - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 22:52] danieljurek opened #23190 "synapse - cspell found spelling errors in public API surface"
Investigation for this PR: https://github.com/Azure/azure-sdk-for-net/pull/23150 found spelling errors. When the linked PR merges this service will be opted out of public API surface spell checking to keep other PRs unblocked. This issue describes how to opt back in.

If the above linked PR has not merged this service is still opted out and not blocked by the detection of spelling errors in the pu

[2021-08-06 23:03] danieljurek commented on #23000
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/23175

[2021-08-06 23:03] #23000 closed

[2021-08-06 23:05] danieljurek commented on #23003
Spelling errors have been corrected. Analyze found no errors https://dev.azure.com/azure-sdk/public/_build/results?buildId=1037131&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=a880e989-7d1a-5c96-a41f-d540b383cc43&l=306

[2021-08-06 23:05] #23003 closed

[2021-08-06 23:09] danieljurek commented on #23006
This can be closed... cspell found no errors -- https://dev.azure.com/azure-sdk/public/_build/results?buildId=1037157&view=logs&j=b70e5e73-bbb6-5567-0939-8415943fadb9&t=a880e989-7d1a-5c96-a41f-d540b383cc43&l=191

[2021-08-06 23:09] #23006 closed

[2021-08-06 23:10] danieljurek commented on #17798
Updated table with current status from https://github.com/Azure/azure-sdk-for-net/pull/23150

[2021-08-06 23:19] januszj commented on #23096
Thanks a lot James, I will check the reasons for low speed in environment. Reported issue is resolved.

[2021-08-06 23:19] #23096 closed

[2021-08-06 23:20] danieljurek commented on #23002
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/23179

[2021-08-06 23:20] #23002 closed

[2021-08-06 23:21] danieljurek commented on #23007
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/23190

[2021-08-06 23:21] #23007 closed

[2021-08-07 08:15] juna-gupta commented on #23016
@heaths I think X509KeyStorageFlags should be set to EphemeralKeySet | MachineKeySet in the SDK as these certificates are not persisted on disk.

Identity.Web library does that :

 [LoadFromKeyVault](https://github.com/AzureAD/microsoft-identity-web/blob/210645a5ccc0a9b888a05f0bde8222ccc95dff72/src/Microsoft.Identity.Web/CertificateManagement/DefaultCertificateLoader.cs#L105)
[Setting default flag

[2021-08-07 11:07] Dave0412 opened #23194 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-08-07 12:21] jsquire commented on #23194
Hi @Dave0412.  I'm going to close this out as there are no details available for what you would like to discuss. If you're still in need of assistance, please feel free to open a new issue.

[2021-08-07 12:21] #23194 closed

[2021-08-07 12:59] BrianVallelunga commented on #23016
I did not create the key, but it was given to me to communicate with Azure AD in order to get a token for SQL Azure. From what I've seen, I think this is just an issue on Azure Functions. I had a similar issue trying to load the certificate from blob storage and ended up needing the EphemeralKeySet | MachineKeySet settings @juna-gupta suggested as well.

 Right now I'm working around this by uploa

[2021-08-07 15:46] jakerquinney opened #23195 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-08-08 10:01] #22870 closed

[2021-08-08 10:01] #22856 closed

[2021-08-08 10:53] Alilux commented on #22856
Bug contacting me

[2021-08-08 18:11] ZulaMostafa commented on #23084
It's true now that `source` and `target` can have different `storageInput`. But I don't get why should we move the property to `TranslationSource`, shouldn't the target have a `StorageType` too?

[2021-08-08 19:12] jsquire commented on #23195
Hi @jakerquinney.  I'm going to close this out as there are no details available for what you would like to discuss. If you're still in need of assistance, please feel free to open a new issue.

[2021-08-08 19:12] #23195 closed

[2021-08-09 01:38] amir4zh opened #23196 "[FEATURE REQ]"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

[2021-08-09 04:38] cvakarna commented on #23156
Hi @JoshLove-msft
Thanks for the response,
**Can you clarify how you are detecting that the same message is being received by your other listener?**
  As i mentioned in the above code , MaxConcurrentCalls = 2, and set lock max duration 5 min, Assuming processing takes 7 mins.

        async Task MessageHandler(ProcessMessageEventArgs args)
        {
            try
            {

[2021-08-09 05:51] adityabalaji-msft commented on #20576
Closing the issue as the PR is merged

[2021-08-09 05:51] #20576 closed

[2021-08-09 06:32] bharrison44 opened #23197 "[BUG] Azure Monitor Open Telemetry exporter - call status always true if 'otel.status_description' tag set"
**Describe the bug**
Setting the `otel.status_description` tag on an `Activity` always results in a call status of `true` in Application Insights.

**Expected behavior**
Call status is `true` or `false` based on `otel.status_code` tag, regardless of other tags or properties.

**Actual behavior (include Exception or Stack Trace)**
Setting `otel.status_description` tag results in a call status of `t

[2021-08-09 07:49] fengzhou-msft commented on #23067
Currently, swagger repo has a daily sync from main branch to master branch, so you're likely to get the latest SDK if you wait for one day. But the sync will stop at the end of August, @AlexanderSher can plan to solve this issue before that?

[2021-08-09 13:27] #23196 closed

[2021-08-09 13:28] jsquire commented on #23197
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-09 14:28] #21632 closed

[2021-08-09 14:29] jsquire opened #23200 "Event Hubs Client Library for .NET - October Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments for .NET (July-December 2021) (#22171)](https://github.com/Azure/azure-sdk-for-net/issues/22171).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning fo

[2021-08-09 14:30] jsquire opened #23201 "Review and update documentation (October Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2021-08-09 14:33] #21631 closed

[2021-08-09 16:01] #22997 closed

[2021-08-09 16:16] jongio commented on #17935
@alexghi - Can you have a look?

[2021-08-09 17:11] joshfree commented on #20364
@schaabs could you update this issue please?

[2021-08-09 17:17] kasobol-msft opened #23203 "[BUG] IndexOutOfRangeException in EventSource"
**Describe the bug**
[code]
[code]

**Expected behavior**
No exception

**Actual behavior (include Exception or Stack Trace)**
Exception being thrown.

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

This seems to be intermittent error that was hit in storage live tests.

**Environment:**
h

[2021-08-09 17:19] joshfree commented on #21939
Related PR https://github.com/Azure/azure-sdk-for-python/pull/19902

[2021-08-09 17:46] maririos commented on #23084
Ohh interesting. So looking at the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TranslatorText/stable/v1.0/TranslatorBatch.json#L1076), StorageType seems to be independent of source or target (which is how we have it in the library).
How will a request work in order to say source is folder, and target is file? or the opposite, sourc

[2021-08-09 17:55] heaths commented on #23016
Thanks @juna-gupta and @BrianVallelunga for the info. I'll give that a try. It's odd the issue didn't repro in the various tests I have but perhaps the environment into which these encoded certificates matters. I don't persist to disk, as you noted, but my tests are running under a test runner and no in Azure Functions.

I can try to repro with Azure Functions, but since you already have an enviro

[2021-08-09 17:57] heaths commented on #23016
As for where to fix this, can you wait until the next beta release (early September) or do you require a servicing event to existing GA'd libraries?

[2021-08-09 18:26] #21213 closed

[2021-08-09 18:29] coppercosmo commented on #22248
@allenjzhang Is there an update you can provide since June 28 on the key RPs that have been completed?

[2021-08-09 18:46] #13970 closed

[2021-08-09 18:46] #13221 closed

[2021-08-09 19:58] #21556 closed

[2021-08-09 19:58] #21603 closed

[2021-08-09 20:12] stoff3l opened #23207 "Azure OpenTelemetry Exporter for logs availability"
Hi,

I've been looking for a way to export logs to Azure AppInsights / Monitor. Currently it looks like OpenTelemetry provides only a ConsoleExporter for this purpose and I couldn't find one in the Azure.Monitor.OpenTelemetry.Exporter package.

The following configuration of logging on the IHost builder works for logging to the Console, I am however unable to find a way to configure the same for l

[2021-08-09 21:09] MehaKaushik commented on #22099
Thomas is a member of CosmosDB Service team. I believe what is asked here is proper docs for customers. @allenjzhang if there is any support needed from CosmosDB team, we will be happy to provide. Please let us know.

For now I am closing this issue and I would follow up offline with Allen and team, who developed the module.

[2021-08-09 21:09] #22099 closed

[2021-08-09 21:19] Alilux opened #23212 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-08-09 21:23] MehaKaushik commented on #21843
Hey @malviyanshiv, I was looking at the tests, you can also do like this:

https://github.com/Azure/azure-sdk-for-net/blob/1911ff236e2c539c142405e02e3199ab7a9a986d/sdk/cosmosdb/Azure.ResourceManager.CosmosDB/tests/ScenarioTests/CassandraResourcesOperationsTests.cs#L66

Let me know if this doesn't work.

[2021-08-09 21:33] jsquire commented on #23212
Hi @Alilux.  I'm going to close this out as there are no details available for what you would like to discuss. If you're still in need of assistance, please feel free to open a new issue.

[2021-08-09 21:33] #23212 closed

[2021-08-09 21:34] jsquire commented on #23207
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-09 23:30] BrianVallelunga commented on #23016
I can certainly wait since I'm loading the certificate from the app service right now and that is working fine for us.

I haven't tested this to be entirely sure, but I think the issue is probably present in both Azure Functions and general app service instances. I needed to add a configuration key of WEBSITE_LOAD_CERTIFICATES to make loading the uploaded certificates work. In theory you set the v

[2021-08-09 23:54] #17403 closed

[2021-08-10 01:11] christothes commented on #22720
I should have a PR out in the next couple days for this.

[2021-08-10 01:24] Alilux opened #23219 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-08-10 01:53] Alilux opened #23220 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-08-10 01:54] Alilux commented on #23220
aHR0cHM6Ly9jcy5hbmRyb2lkLmNvbS9hbmRyb2lkL18vYW5kcm9pZC9wbGF0Zm9ybS9hcnQvKy9t
YXN0ZXI6LmNsYW5nLWZvcm1hdA==

[2021-08-10 04:22] flcdrg opened #23221 "[FEATURE REQ] Add AddTableServiceClient(Uri) extension method"
**Library or service name.**
Azure.Data.Tables

**Is your feature request related to a problem? Please describe.**
All the other extension methods for Blob and Queue include an extension that just takes a Uri. For some reason when https://github.com/Azure/azure-sdk-for-net/issues/20392 was resolved, this overload was overlooked.

eg.

[code]

[2021-08-10 05:02] Alilux commented on #23221
@msftbot
aHR0cHM6Ly9kYXRhdHJhY2tlci5pZXRmLm9yZy9kb2MvaHRtbC9yZmM4MjUy

[2021-08-10 05:04] Alilux commented on #23221
aHR0cHM6Ly93d3cuZ29vZ2xlYWRzZXJ2aWNlcy5jb20vcGFnZWFkL2FjbGs/ZmJzX2FlaWQ9LTY5
MjMyNTcyNzM0NTI4NDMwMDgmc2E9TCZhaT1DN3Btd0p3Z1NZZS1nRmRIUGJwN1JrTGdGeXYyb3Ay
VHF6X3VSMHd5Tmh0XzRzd3NRQVNDVDdmRjdZTW1HNUlxMHBOZ1BvQUhFOXI3ZkE4Z0JDYWdEQWNn
RGlnU1lCQWlxQk9ZQlQ5Q0VEUkJ2UFh4aEtkMFlmM1BER3UwRXNTbkJ4aTU3bXp1bEIwQlpJclNT
QzBrX2JQUy04Q0JWNlp5QVJiSExjVFpIYXVYNktpa2poMURnRTRtV3RndlI5LTZuVkhGWnBzZXdj
UDQtb29MM0lhNHo

[2021-08-10 05:30] JoshLove-msft commented on #23156
I haven't been able to reproduce this using the provided code. One thing I did notice is that the provided code is using sync over async, so I wonder if there could be thread starvation happening. Could you try making your code fully async and adding SDK logging to further troubleshoot:
[code]

[2021-08-10 06:27] cvakarna commented on #23156
@JoshLove-msft
can you please check with this repo, still i am facing same issue after changing as per your suggestion also

https://github.com/cvakarna/servicebus_issue/blob/main/ServicebusSample/Program.cs

[2021-08-10 06:33] JoshLove-msft commented on #23156
Can you include the SDK logs?

[2021-08-10 07:07] cvakarna commented on #23156
![image](https://user-images.githubusercontent.com/34210823/128823389-e30930d1-d8a3-4419-93ad-b58a22d69c34.png)

please find the sdk logs

[2021-08-10 07:14] JoshLove-msft commented on #23156
Looks like the lock is already being lost before the first renew lock call.
Would you mind including the lockedUntilTime like you have in the snippet from this issue:
            Console.WriteLine($"SequenceNumber:{args.Message.SequenceNumber}, Lock Until:{args.Message.LockedUntil}, Received DateTime Utc:{DateTime.UtcNow},DeliveryCount:{args.Message.DeliveryCount}");

[2021-08-10 07:17] #20554 closed

[2021-08-10 07:49] jeanbaptisteranson opened #23225 "No public BatchPoolIdentity constructor"
Hi,
It looks like that in the latest SDK for Azure Batch (Microsoft.Azure.Batch in version 15.0), the constructor for BatchPoolIdentity is internal.
Did I miss something? I can we assign the newly added property cloudPool.Identity?

Regards,
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e94ed49-

[2021-08-10 08:14] cvakarna commented on #23156
Observed that My system time is 1 min slower than actual , i have reset to 1 min faster then its working as expected

[2021-08-10 12:53] jsquire commented on #23221
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-10 12:53] jsquire commented on #23221
//cc: @christothes

[2021-08-10 12:54] jsquire commented on #23225
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-10 13:40] SiobhanBaynes commented on #16460
I **can** get the name by using `blobClient.Name` but then I have to do some string manipulation to get the full URI.  If the service considers them the same, then it should be consistent in the way in which it returns them.

[2021-08-10 14:10] vanillajonathan commented on #17936
@gunnim Could you please elaborate? Use which package?

@reyang @pakrym as @DaleCam asked, are there any workarounds for .NET Framework 4.7 / 4.8?

[2021-08-10 16:07] mattchenderson opened #23229 "Service 403s should log with additional context and guide devs to success"
**Library or service name.**
I'm primarily concerned with WebJobs extensions (Microsoft.Azure.WebJobs.Extensions.*). However, I think the more suitable place would be in the underlying service SDKs, with some more centralized standardization/enforcement in Azure.Identity or maybe Microsoft.Extensions.Azure.

**Is your feature request related to a problem? Please describe.**
Implicit use of Default

[2021-08-10 16:39] pakrym commented on #23229
Related https://github.com/Azure/azure-sdk-for-net/issues/22424

[2021-08-10 16:46] maririos commented on #22544
Released thanks to @kinelski !! :) https://www.nuget.org/packages/Azure.AI.TextAnalytics/5.2.0-beta.1

[2021-08-10 16:47] maririos opened #23230 "Release Text Analytics 5.2-Beta.2"

[2021-08-10 16:49] #22544 closed

[2021-08-10 17:06] #20140 closed

[2021-08-10 17:58] pakrym commented on #23207
cc @reyang

[2021-08-10 18:30] maririos commented on #22503
Package released https://www.nuget.org/packages/Azure.AI.Translation.Document/1.0.0-beta.4

[2021-08-10 18:30] #22503 closed

[2021-08-10 18:37] #22989 closed

[2021-08-10 18:43] schaabs opened #23239 "Investigate sanitizing secret headers from ManagedIdentityCredential live tests"
There are instances in tests recordings of `ManagedIdentityCredential` where the recordings have captured the secret header, such as [this example](https://github.com/Azure/azure-sdk-for-net/blob/4810906df4e0bb0e8b37b57b59c9343aba77524a/sdk/identity/Azure.Identity/tests/SessionRecords/ManagedIdentityCredentialSFLiveTests/ValidateSystemAssignedIdentity.json#L46). These secrets are no longer sensiti

[2021-08-10 18:47] ZulaMostafa commented on #23084
Let's have a look into the interesting results, I've tested all the combinations using both Postman and the actual SDK.

Case 1:
Source: Folder
Target: Folder
Status: Succeeds

Case 2:
Source: File
Target: Folder
Status: Succeeds only if the `StorageType` is specified as `File`.

Case 3:
Source: File
Target: File
Status: Succeeds only if the `StorageType` is specified as `File`.
There is one more

[2021-08-10 19:08] christothes commented on #22720
I looked at this some more today and I am not able to reproduce the problem. Here is the full code snippet I am using, taking the SAS generation code from above and fixing it for the Table* types. Does this same code reproduce for you?

[code]

[2021-08-10 19:17] christothes opened #23242 "Investigate addition of environment credential configuration for AzureApplicationCredential"
If the goal of the options bag is to allow users to setup the credential via code should they be able to set the client id, tenant id, and secret or certificate? I'm not sure what the best way to set these would be because they are somewhat mutually exclusive. Perhaps different constructor overloads?

[2021-08-10 19:50] seanmcc-msft commented on #16268
Hi everyone,

I can repo the issue on a storage account with Blob Soft Delete and Blob Versioning both enabled, and I have reached out to our backend teams to further explore this issue.  I'll post an update here when I hear back.

-Sean

[2021-08-10 20:00] #20364 closed

[2021-08-10 20:08] seanmcc-msft commented on #16268
When soft delete and versioning are enabled together, soft delete protects only deleted versions.
So if you want to list soft deleted entities, you must include versions as well (include=deleted,versions)

-Sean

[2021-08-10 21:58] mattmccleary commented on #23207
Hi @stoff3l, thank you for reaching out! Yes logging is definitely on the roadmap, though I cannot say exactly when. It did not make the cut for 2021, and we'll of course consider it as a high priority item in 2022. Keep in mind that we have a dependency on the OpenTelemetry community. We release features as they stabilize in OpenTelemetry, and logging is still experimental. Please don't hesitate

[2021-08-10 22:39] m-nash opened #23251 "[BUG] Response stream getting disposed for HttpWebRequestTransport.cs"
When you run .net461 the HttpWebRequestTransport will dispose of the response stream even when it is a memory stream.

A temporary fix for this was added in this PR, but we will need to identify why our current unit tests did not catch this and potentially share this logic between this class and Response.cs

https://github.com/Azure/azure-sdk-for-net/pull/23249

[2021-08-11 00:02] JoshLove-msft commented on #23156
I see - good find! I can't really speak to what the system timing would be when using Azure Kubernetes. I found a somewhat related issue in the repo there - https://github.com/Azure/AKS/issues/1994

[2021-08-11 00:19] cvakarna commented on #23156
Thanks @JoshLove-msft  for your assistance. We will check that.

[2021-08-11 00:20] tyh77 opened #23256 "[BUG] ManagedIdentityCredential authentication failed. "No connection could be made""
**Describe the bug**
Exception encountered:

**Expected behavior**
Managed Identity Credential SHOULD fail BUT fall back to Visual Studio Credential for local development purposes.

**Actual behavior (include Exception or Stack Trace)**
Managed Identity Credential fails but DOES NOT fall back to Visual Studio Credential because a `AuthenticationFailedException` is thrown, instead of `CredentialUna

[2021-08-11 00:21] tyh77 commented on #23256
### Full Stack Trace Below:
[code]

[2021-08-11 00:29] tyh77 commented on #23256
For now, the only workaround I have come up with is to use preprocessor directives to manually exclude MI when debugging locally. But I feel that this defeats the purpose of using DefaultAzureCredential in the first place.

[code]

[2021-08-11 00:59] zedy-wj commented on #17830
@jongio - the properties `containerDeleteRetentionPolicy` and `lastAccessTimeTrackingPolicy` still are not allowed on account kind storageV2 on `UsGov` and `China` clouds. I updated the template file `test-resource.json`, and tests seems good as so far. Should we close this issue?

[2021-08-11 07:07] Lann094 opened #23260 "[QUERY] Unable to copy to ShareFileClient from BlockBlobClient with URI"
**Query**
I'm attempting to make (what I think should be) a rudimentary copy: An existing block blob to a new share file. My understanding is the API should be capable of performing this purely on the storage account. But I cannot for the life of me work this out.

My simplified code:
[code]

This occurs after the block blob is committed, and confirmed it exists. The same connection string are use

[2021-08-11 07:54] ritishgoyal opened #23261 "[BUG] Access token parsing failed"
**Describe the bug**
When I try to get an access token for an external resource using Client certificate token provider by using AzureServiceTokenProvider.GetAccessTokenAsync(), I receive an error saying the access token couldn't be parsed.

**Expected behavior**
We should not try to parse the access token since it is not in the format expected.

**Actual behavior (include Exception or Stack Trace

[2021-08-11 11:59] Reisclef opened #23262 "SendDirectNotificationAsync doc does not specify that List<string> is only available in Basic tier or higher"
The SendDirectNotificationAsync() method which utilises a string parameter works successfully.

However, if passing in a list of string tokens (using the IList<string> parameter), and your Notification Hub is on the Free tier, Azure will throw an error: "Microsoft.Azure.NotificationHubs.Messaging.QuotaExceededException:  This operation is not available for your tier".

I appreciate that this is mo

[2021-08-11 13:23] NtgTNabet commented on #22598
Same issue with BlobDownloadStreamingAsync.
Any news on when this will get release. Current state make use of cache control quite useless.

[2021-08-11 14:16] jsquire commented on #23256
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-11 14:20] jsquire commented on #23261
//cc: @nonik0, @anaismiller

[2021-08-11 14:51] jsquire commented on #23262
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-11 14:55] jsquire commented on #23262
This issue has been transferred to the Azure Notification Hubs repository as [#200](https://github.com/Azure/azure-notificationhubs-dotnet/issues/200).

[2021-08-11 14:55] #23262 closed

[2021-08-11 14:56] seanmcc-msft commented on #22928
This is by design.  `AllowModifications=true` means that the underlying blob could be growing, therefore it is not possible to seek to the guaranteed end of the blob.

[2021-08-11 15:34] SebastianStehle opened #23266 "[BUG] Operation names empty and activities shows child activities as external services"
**Query/Question**
Hi, I try to migrate my application to OpenTelemetry to support more providers. It is kine of working, but I am not sure if I understand everything.

In my application startup I have the following code to configure Open Telemetry:

[code]

Then I have a global ActivitySource:

[code]

And a few calls:

[code]

What I do not understand:

1. Why are my sub-activities marked as ext

[2021-08-11 15:41] christothes commented on #23256
Hi @yh77 -
Would you mind providing the logging output after reproducing this with [logging enabled](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Diagnostics.md)? That should provide some more context about how DefaultAzureCredential selected the credential.

[2021-08-11 16:19] SebastianStehle commented on #23266
My conclusions so far:

1. Operation name is not set. There is a context variable called `ai.operation.name` but it is not set. Should be set to display name.
2. The default telemetry type is `Dependency`, I don't know why, because it seems that the "normal" SDK also supports "Trace", which should be the default: https://github.com/microsoft/ApplicationInsights-dotnet/blob/3822ab1c591298b4c0c00eb6

[2021-08-11 16:23] seanmcc-msft commented on #23260
Hi @Lann094,

I believe this is by-design with how the Storage Service works in terms of source authentication for copies.  I recommend creating a SAS URL for the source blob and passing it to `ShareFileClient.StartCopyAsync()`.  The other option would be to set the Public Access Policy of the source Container to public.

-Sean

[2021-08-11 16:25] seanmcc-msft commented on #22709
Please reopen if you have further questions.

[2021-08-11 16:25] #22709 closed

[2021-08-11 16:30] maririos commented on #23084
This is great @ZulaMostafa . I agree with you that it seems like we can move the `SotrageType` property into `TranslationSource`.
There is a concern and is that the service could decide to change this in the future and we will have to add extra logic to see how we reconcile.
Let's ask the service team and get their opinion.

[2021-08-11 17:17] coppercosmo opened #23267 "[QUERY] Is there a way to get Sql Database connection strings with the SDK?"
**Query/Question**
Is there a way to get Sql Database connection strings with the SDK? I see that I can get SQL Server Keys with the SDK, but I'm not seeing any properties or methods that would get me the SQL DB connection string. Is this only available through the portal?

**Environment:**
 - Name and version of the Library package used: [Microsoft.Azure.Management.Fluent 1.37.0]
 - Hosting platf

[2021-08-11 17:18] kinelski opened #23268 "[MetricsAdvisor] AAD tests are failing"
All AAD tests have started consistently failing out of nowhere:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1042726&view=logs&j=6bc677fc-eaaa-5aa2-d61c-5bfd25cc27a2&t=3856db8e-a7e7-52ca-f9f7-3b5d40e2b249&l=5249

Seems to be a service-side issue since other languages are seeing the same. Tests need to be re-enabled when the issue is solved.

[2021-08-11 18:05] amnguye commented on #22598
This should be in our 12.10.0-beta.10 release. Please upgrade accordingly.

Closing this issue as this issue should have been resolved due to the PR merged.

[2021-08-11 18:05] #22598 closed

[2021-08-11 18:08] christothes commented on #22978
resolved by #21829

[2021-08-11 18:08] #22978 closed

[2021-08-11 18:10] christothes commented on #22988
resolved by #21909

[2021-08-11 18:10] #22988 closed

[2021-08-11 18:11] christothes commented on #22980
transient issue

[2021-08-11 18:11] #22980 closed

[2021-08-11 18:11] christothes commented on #22981
transient issue

[2021-08-11 18:11] #22981 closed

[2021-08-11 18:19] christothes commented on #21405
@sakash279, Do we have an internal tracking bug for this?

[2021-08-11 19:11] jsquire commented on #23266
k you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-11 19:12] jsquire commented on #23267
k you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-11 19:30] stoff3l commented on #23207
Hi @mattmccleary, thank you for the feedback, it is appreciated.

[2021-08-11 19:30] #23207 closed

[2021-08-11 20:26] kinelski commented on #18320
According to the service team, stored series data starts to get discarded as it gets old, so it's natural that this data will stop being returned after some time. There's nothing to fix here.

[2021-08-11 20:26] #18320 closed

[2021-08-11 20:36] MartinDemberger commented on #22928
Sorry, this isn't the behavior of other stream. As you can see in the example below `FileStream` jumps to the current end of the file when `Seek(0, SeekOrigin.End)` is called. And like in the example the size of the file is changed at any time.

The description of [`Stream.Seek`](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.seek?view=net-5.0#remarks) also indicates this behavior

[

[2021-08-11 22:18] tyh77 commented on #23256
@christothes I redacted the Key Vault URI for security, otherwise the rest is verbatim from the console log
[code]

[2021-08-11 22:38] #22967 closed

[2021-08-11 22:54] christothes commented on #23256
Do you have any of these environment variables set?

MSI_ENDPOINT
IMDS_ENDPOINT
AZURE_POD_IDENTITY_AUTHORITY_HOST

[2021-08-12 01:13] tyh77 commented on #23256
I don't believe so.

This is a nearly brand new repo created from scratch not too long ago. There are virtually no configurations defined in either the launchSettings.json, .csproj, or appsettings.json (assuming these are all the possible places that Azure SDK can possible pick up from)

![image](https://user-images.githubusercontent.com/25734254/129123144-49636b91-148a-42c7-9415-35ef7d8f702b.png)

[2021-08-12 02:48] #18669 closed

[2021-08-12 02:49] maririos commented on #23119
Generated code done here: https://github.com/maririos/azure-sdk-for-net/tree/fr2and3/sdk/formrecognizer/Azure.AI.FormRecognizer/src

[2021-08-12 02:50] maririos commented on #23119
This has been done

[2021-08-12 05:57] shawnxzq commented on #20137
Close it as it's feature related and suggest customer to go through support channel.

[2021-08-12 05:57] #20137 closed

[2021-08-12 05:59] shawnxzq commented on #21868
Answered question and close the issue.

[2021-08-12 05:59] #21868 closed

[2021-08-12 10:47] dzendras commented on #19881
There is one more thing that's inconsistent in version 12.1.0. When creating TableServiceClient or TableClient using a connection string "UseDevelopmentStorage=true" for local development, then an attempt to access AccountName throws the following exception:

System.ArgumentNullException
  HResult=0x80004003
  Message=Value cannot be null.
Parameter name: uri
  Source=Azure.Data.Tables
  StackTrac

[2021-08-12 11:47] gunnim commented on #17936
@vanillajonathan yes, workaround is to install the ApplicationInsights NuGet packages alongside Azure.Core, forgoing the automatic Azure instrumentation.
I configured an ApplicationInsights.config with instrumentation key to get it working correctly.

[2021-08-12 13:00] jsquire opened #23285 "[Service Bus] Administration Client Comments refer to `ServiceBusConnection` type."
# Summary

In the `ServiceBusAdministrationClient`, the doc comments for some `<exception>` members make reference to the `ServiceBusConnection` type that no longer exists.  It appears that these should instead mention the `ServiceBusAdministrationClientOptions`.

[Example](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Administration/ServiceBusA

[2021-08-12 13:01] jsquire commented on #23285
//cc: @JoshLove-msft

[2021-08-12 14:51] ColKrumpler opened #23288 "Add Retry Policy Support to AddAzureKeyVault"
AddAzureKeyVault does not currently accommodate an exponential backoff retry policy as described in the Azure Key Vault throttling guidance here:

https://docs.microsoft.com/en-us/azure/key-vault/general/overview-throttling

Could the AddAzureKeyVault method be altered to accept a SecretClientOptions parameter or a similar mechanism to handle 429 errors more gracefully?

[2021-08-12 15:06] seanmcc-msft commented on #22928
Unfortunately, changing this behavior may be considered a breaking change, which we are not allowed to make.  Other users may have taken a dependency on this behavior.

[2021-08-12 15:11] jasond-s opened #23289 "Migration to `UpsertEntityAsync` from `TableOperation.InsertOrReplace` does not support ETag"
The following code in the `Microsoft.Azure.Cosmos.Table` will obey the provided ETag value, and throw an exception if you attempt to update the entity.

[code]

Using the new `Azure.Data.Tables` package the ETag on the provided entity is not obeyed, and there is no overload to specify it, which there is for the `UpdateAsync` method.

[code]

Some code has been removed for brevity of the example.

[2021-08-12 15:14] jsquire commented on #23289
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-12 15:23] jsquire commented on #23288
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-12 15:30] ekersale opened #23290 "[BUG] Not able to retrieve aks pod identity, identity not found"
**Describe the bug**
When the .Net core app try to get the token on an aks pod we get the following exception:

<pre><code>Headers:
Server: IMDS/150.870.65.512
Date: Wed, 11 Aug 2021 22:05:29 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 68

   at Azure.Identity.ImdsManagedIdentitySource.CreateRequest(String[] scopes)
   at Azure.Identity.ManagedIdentitySource.AuthenticateAsync

[2021-08-12 15:51] christothes commented on #23289
Yes, this is a conscious design. Is there a specific scenario you have where this is a blocker?

[2021-08-12 16:19] jackbond opened #23291 "Azure.ResourceManager.EventHubs release schedule"
What's going on with this library? It was last updated June of last year.

Microsoft.Azure.Management.EventHub is getting rather stale.

[2021-08-12 16:34] jasond-s commented on #23289
It's just really useful for playing fast and loose with optimistic concurrency. Sometimes we might have processors that are racing each other, and post processors, it's nice to just throw data at the table and not have to worry if something else has beaten you to it.

Appreciate we could just use a `409` for the insert and then use the ETag for updates. Still. ETag for both was a nice feature.

[2021-08-12 17:34] christothes commented on #19881
This should be fixed in the latest version.

[2021-08-12 17:37] syhamza opened #23292 "[Document changes] Update documentation of Ranged Queries for Azure Confidential Ledger"
**Library or service name.**
Azure.Security.ConfidentialLedger

**Is your feature request related to a problem? Please describe.**
Need to update the documentation for [ranged queries](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/confidentialledger/Azure.Security.ConfidentialLedger/README.md#ranged-queries) to show that **fromTransactionId** and **toTransactionId** arguments are option

[2021-08-12 18:11] amnguye commented on #22929
Closing this issue if there are no further questions.

[2021-08-12 18:11] #22929 closed

[2021-08-12 19:08] kinelski opened #23295 "[TextAnalytics] Extractive Summarization UX Studies"
Issue to allocate time for the UX Studies. Addressing feedback from the studies is part of another issue.

[2021-08-12 19:09] #23285 closed

[2021-08-12 19:09] kinelski opened #23296 "[TextAnalytics] Address feedback from UX Studies"

[2021-08-12 19:11] kinelski opened #23297 "[TextAnalytics] Address feedback from Extractive Summarization board review"
Link to the board review issue: https://github.com/Azure/azure-sdk/issues/3167

[2021-08-12 19:14] christothes commented on #23256
You would inherit them from the general environment. Could you confirm they are not set for either system or user environment variables? #feedback

[2021-08-12 19:15] kinelski opened #23298 "[TextAnalytics] Implement new features"
This is a placeholder for the implementation of new futures. It takes into consideration implementation, tests, and samples, if applicable.

[2021-08-12 20:00] jsquire opened #23302 "Binary Data: Debugger Visualizer"
# Summary

During a recent UX study, it was observed that participants would have benefited from being able to see the contents of `BinaryData`.   It would be helpful to consider creating a visualizer to accompany the type to aid in debugging.

# Scope

- Design a visualization experience for debugging `BinaryData`, showing its contents, ideally showing the contents in byte-form as well as string-

[2021-08-12 20:27] kinelski opened #23304 "[TextAnalytics] Adding Extract Summary service methods"
Currently the Extract Summary API is hidden inside the Analyze Actions service method, which compromises discoverability. This is a pattern we are probably going to see more frequently going forward.

Consider adding convenience service methods in the SDK to expose this feature as a separate API. Take into consideration:
- The feedback we get from the UX Studies.
- Feedback from architects.

[2021-08-12 21:32] jsquire commented on #23290
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-12 21:35] snaheth commented on #5132
Most Resource Providers (RPs) do not support the HEAD response when it is sent to ARM. As of the date this comment was published, only 4 RPs support this operation, which means it's not suitable to viably assess whether a resource exists.

At a 1:1 comparison of something that effectively works across all Resource Providers, you're better off using the [GET /resource operation](https://docs.micros

[2021-08-12 21:35] #5132 closed

[2021-08-12 21:52] christothes commented on #23290
Hi @ekersale - does this work after the pod has been up for a minute or so? The IMDS endpoint is usually not available immediately, and can cause behavior like this.

[2021-08-12 22:51] abatishchev commented on #5132
+ @ifeoluwaokunoren

Hi @snaheth,
I don't think the fact that out of a hundred or two RPs only 4 support HEAD is a good argument not to support it. More practically speaking - make them to support it.

Also your words directly contradict the public documentation at https://docs.microsoft.com/en-us/rest/api/resources/resources/check-existence

However, it's not you. It's the documentation that must

[2021-08-12 22:52] sakash279 commented on #21405
Hi @christothes - this was supposed to be a documentation update on our end. @ThomasWeiss for documentation. I will follow up and update here.

[2021-08-12 23:03] sakash279 commented on #21405
Here's the doc update PR for cosmosdb table API : https://github.com/MicrosoftDocs/azure-docs-pr/pull/168966

Please close the issue once the docs are updated.

[2021-08-13 04:25] sachin-agarwal-by opened #23313 "CosmosDB: do we have any API to do bulk update"
[Do we have any api like ReplaceItemStreamAsync where I can pass list of object and can update in document db]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ea7e89f-fd6a-f414-aa63-15147f73c54b
* Version Independent ID: 7cb94820-e98a-ddf2-ad16-4c9a4f6ad03e
* Content: [Container.ReplaceItemStreamAsync(Stream, String, P

[2021-08-13 04:37] JoshLove-msft commented on #22932
This is fixed in 4.6.0 - https://www.nuget.org/packages/Azure.Messaging.EventGrid/4.6.0

[2021-08-13 04:37] #22932 closed

[2021-08-13 07:19] v-yilinhu opened #23314 "[Container Registry] CanGetTagsStartingMidCollection(True) failing in nightly runs"
Container Registry nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1043166&view=results

@jsquire for notification.

[2021-08-13 07:19] v-yilinhu opened #23315 "[Core] AddPerCallPolicyViaClient failing in nightly runs"
Core nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1044912&view=results

@jsquire for notification.

[2021-08-13 07:19] v-yilinhu opened #23316 "[Metrics Advisor] test failing in nightly runs"
Metrics Advisor nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1038469&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1040565&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1042726&view=results

@jsquire for notification.

[2021-08-13 07:19] v-yilinhu opened #23317 "[Tables] GetPropertiesReturnsProperties failing in nightly runs"
Tables nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1044718&view=results

@jsquire for notification.

[2021-08-13 07:19] v-yilinhu opened #23318 "[Synapse] QuerySessions failing in nightly runs"
Synapse nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1036635&view=results

@jsquire for notification.

[2021-08-13 07:41] shawnxzq commented on #22408
Answered the question.

[2021-08-13 07:41] #22408 closed

[2021-08-13 07:44] jikspiir opened #23319 "[BUG] Batch blob deletion fails with HTTP code 412 when ETag checking is enabled and storage has blob versioning enabled"
Posting on behalf of @dacspiir and @adzspiir.
We have been asked to open the issue here as the follow-up to the support ticket: **TrackingID#2107270050001045**

**Technical area and API documentation in question**
Azure SDK and Azure Blob Storage
[BlobBatch.DeleteBlob](https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/blobbatch?view=azure-node-latest#deleteBlob_BlobClient__BlobDe

[2021-08-13 08:02] #21932 closed

[2021-08-13 08:11] idg10 opened #23320 "[BUG] two copies of PiiDetectionSkillMaskingMode.cs varying only by case are present"
**Describe the bug**
As of https://github.com/Azure/azure-sdk-for-net/commit/2789b52daa4f16d0ad97235cad18d644d74f7c8c the repo contains both this:

`sdk/search/Azure.Search.Documents/src/Generated/Models/PIIDetectionSkillMaskingMode.cs`

and this:

`sdk/search/Azure.Search.Documents/src/Generated/Models/PiiDetectionSkillMaskingMode.cs`

Note that the first three letters of the file vary only by ca

[2021-08-13 08:18] AtOMiCNebula commented on #22932
Thanks, #23208 / v4.6.0 works!

[2021-08-13 08:27] kinelski commented on #23316
Thank you for reporting it. This has been identified as a service-side issue, and tests have been disabled (https://github.com/Azure/azure-sdk-for-net/pull/23269). We'll enable it once again when the service has fixed the problem. I'll close this as a duplicate of https://github.com/Azure/azure-sdk-for-net/issues/23268.

[2021-08-13 08:27] #23316 closed

[2021-08-13 11:03] vanillajonathan commented on #17936
This might solve by adding a binding redirect to the web.config file.

[code]

[2021-08-13 11:19] MartinDemberger commented on #22928
You anyone is expect a exception to be thrown when he calls a method which says "you are not allowed to do this". I understand your point of backward compatibility but think it's only academical in this case because you remove a "fobiden" sign. Every one who expect the exception won't call this method.

[2021-08-13 12:35] ekersale commented on #23290
Hi @christothes, thank's for the reply but the code has been on our environment during a few days. So it can't come from that.

[2021-08-13 13:06] jsquire commented on #23320
//fyi:  @christothes

[2021-08-13 13:06] jsquire commented on #23320
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-13 13:26] mark-micallef commented on #23093
We managed to work around this by using `DateTimeOffset` in the document model instead of `DateTime` when it comes to date.

[2021-08-13 15:20] vijayanand-m opened #23321 "[QUERY]KeyVault Certificate/Secret Client- Response for expired certificate"
**Query/Question**
What will be the response from Certificate /Secret client when a request is issued for expired certificate?
Consider the certificate in keyvault is expired already and request is made for the certificate.

**Environment:**
 - Azure.security.keyvault.certificate 4.2.0
 -  Azure AppService  .NET Framework 4.8]
 - Visual Studio 2019

[2021-08-13 15:57] christothes commented on #23290
There must be something in your environment configured for Managed Identity or a process listening on the same endpoint - the ManagedIdentityCredential only attempts to connect to an endpoint if one of those environment variables is set, or the local only IMDS endpoint ip address (169.254. 169.254) has something listening on it.

[2021-08-13 16:23] Jarlotee opened #23322 "[BUG] ServiceBusSender.SendMessageAsync erratic performance"
**Describe the bug**
Application Insights is reporting large swings in 95th percentile timing for ServiceBusSender.Send

**Expected behavior**
Consistent sub-second timing for publishing a message

**Actual behavior (include Exception or Stack Trace)**
95th percentile is reporting peaks at or above 1.5 seconds

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, o

[2021-08-13 16:54] hanhsia opened #23324 "[BUG] GetToken failed with AADSTS50196 error"
**Describe the bug**
I call graph api using UsernamePasswordCredential in my web app. It reports error when I call graph API frequently (about 6 times in my function).  The log shows that GetToken are called everytime I call the graph api.
**Expected behavior**
The exception should not occurs. It's reasonable that I call multiple graph APIs in my function.

**Actual behavior (include Exception or

[2021-08-13 17:02] Jarlotee commented on #23322
![image](https://user-images.githubusercontent.com/9733444/129394350-0b2111cf-d1c9-4bd3-9ba0-a70f13cfad78.png)
CPU (Max) and Memory (Max)

[2021-08-13 20:56] jsquire commented on #23321
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-13 20:58] jsquire commented on #23324
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-13 21:03] #23320 closed

[2021-08-13 21:05] jsquire commented on #23322
Hi @Jarlotee.   Thank you for reaching out and we regret that you're experiencing difficulties.  Would you be willing to share how frequently you're publishing messages from your application?  I'm wondering if the variance that we're seeing is due to needing to reconnect, potentially from idle timeouts.

It may also be helpful if you're able to capture the SDK logs so that we can see whether there

[2021-08-13 22:01] #23143 closed

[2021-08-13 22:16] tyh77 commented on #23256
Ah yes. By system/user environment variables, you mean the Windows env vars?

I found MSI_ENDPOINT in my user variables and removed it - now it works.

That being said though, have no idea how my user environment variables were ever configured like so - this was the case on both my machines but I never touch those.

[2021-08-14 06:38] sachin-agarwal-by commented on #23313
@ealsur I have raised my question here and closed another thread , can you please help.

[2021-08-14 10:23] ealsur commented on #23313
The answer is no, Replace operations are for 1 document. This is a documentation for the ReplaceItem API.

[2021-08-14 10:54] sachin-agarwal-by commented on #23313
thanks.. but just wanted to know the difference if I can use ReplaceItem opeartion in multiple threaded way like Task.Add(ReplaceItem) like this and anther is using BulkMode as u suggested so what is the difference

[2021-08-14 17:42] KevinPoorDeveloper opened #23331 "[BUG] ComplexType field with Facets throwing Azure.Core.dll errors during Document.Search"
With this (partial) index in Azure Cognitive Search:
[code]
And a varchar(2000, null) field in SQL Server that contains the following (along with some null rows):
{"tagdata":[{"tagid":200,"tag":"text1"},{"tagid":84,"tag":"text2"},{"tagid":1785,"tag":"text3"}

We are getting random errors with this code:
`SearchResults<SearchDocument> response = client.Search<SearchDocument>("test", null);`

We can

[2021-08-15 20:12] amishra-dev commented on #23319
Thanks for reporting this to us @jikspiir (Jiri), I will track down the support ticket.

[2021-08-15 20:13] amishra-dev commented on #23319
@seanmcc-msft can you please try this sample out on Monday. Looks like an interaction issue between versioning and batch delete with etag check.

[2021-08-16 02:09] Mohit-Chakraborty commented on #23331
Thank you for your reporting the issue.  I will take a look.

[2021-08-16 05:33] JoshLove-msft opened #23333 "Migrate to use CancellationToken based APIs"
version 2.5.1 of Microsot.Azure.Amqp has cancellation token support. Opening link has been updated to use this in https://github.com/Azure/azure-sdk-for-net/pull/23282.

Also need to update and tests for sending/receiving/management operations.

[2021-08-16 05:39] yotkoKanchev commented on #23128
Sorry closed it by mistake :(

[2021-08-16 10:37] akshita31 commented on #21281
+1 on this. Facing this issue when trying to use NetworkManagementClient for Dogfood environment. I am able to set the authority host and i think based on that the audience is being inferred which is incorrect

[2021-08-16 12:18] dxynnez opened #23335 "Lacking of interface for SecretClient"
**Query/Question**
Hi team,

We are migrating from the legacy KeyVault client to the new SecretClient and found out that, unlike the IKeyVaultClient, the new SecretClient doesn't have any abstraction which makes it pretty hard to unit-test our components that depends on it. Is there any plan to add an interface in the future? If not, what would be the right approach to unit-test the components tha

[2021-08-16 13:29] jsquire commented on #23335
Hi @dxynnez.  Thank you for your feedback.   Support for mocking and unit testing is one of the core goals of the new Azure SDKs, and the details of the approach that we use are discussed in the [Azure SDK Design Guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking).

All of the public members of the client types are `virtual` or settable, the class is not sealed,

[2021-08-16 14:25] #21405 closed

[2021-08-16 14:33] christothes commented on #23256
Glad that resolved it!

[2021-08-16 14:33] #23256 closed

[2021-08-16 15:24] pakrym commented on #23288
The AddAzureKeyVault uses the SecretClient that should implement the feature in question.

`AddAzureKeyVault` already has an overload that takes the `SecretClient`:

[code]

cc @heaths

[2021-08-16 15:24] annelo-msft opened #23337 "[BUG] RedirectPolicy does not support relative paths in the Location header"
Repro:

The value of locationString is "/v2/blobs/uploads/", and this error is thrown

System.UriFormatException
HResult=0x80131537
Message=Invalid URI: The format of the URI could not be determined.
Source=System
StackTrace:
at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
at System.Uri..ctor(String uriString)
at Azure.Core.Pipeline.RedirectPolicy.GetUriForRedirect(Reques

[2021-08-16 15:57] mario-guerra opened #23338 "Azure Tables client library for .NET doc needs track 2 update"
The following doc is currently returned as the top search result when googling "Azure Tables SDK":

https://docs.microsoft.com/en-us/dotnet/api/overview/azure/data.tables-readme-pre

The doc is referring to the prerelease version of the library, which could confuse customers into believing that the libraries are not yet GA.

At minimum, the doc needs to be updated to include a big bold call out at

[2021-08-16 15:58] Jarlotee commented on #23322
Hmm, informational diagnostics are pretty useless, ill deploy with verbose logs turned on.

[2021-08-16 16:51] jsquire commented on #23338
@danieljurek:   This looks to be another case of the main navigation node still referencing the `-pre`  README.   Would you be so kind as to assist?

![image](https://user-images.githubusercontent.com/913445/129600210-118ced91-d49e-4604-a817-5df690d86512.png)
![image](https://user-images.githubusercontent.com/913445/129600236-840f4efc-ebc7-4567-8eb5-924d75452fa4.png)

[2021-08-16 16:58] jsquire commented on #23322
Your send rate would seem to rule out the idle connection theory.    @JoshLove-msft would be the authority on which logs would be most helpful, but it looks to me like we'd  want to look for the pattern:

- SendMessageStart (id: 1)
- RunOperationException (id: 43)
- SendMessageException (id: 2)   _(may not be present if retries were successful)_
- SendMessageComplete (id: 3)

Josh - do you have an

[2021-08-16 17:10] KevinPoorDeveloper commented on #23331
I wanted to also mention that switching to the Newtonsoft JSON serializer as described [here](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/microsoft.core.newtonsoftjson-readme) also "fixed" the problem.

[2021-08-16 17:22] Jarlotee commented on #23322
Hmm even with Verbos I am still seeing only two traces:

[code]

![image](https://user-images.githubusercontent.com/9733444/129603997-0520f4cb-a419-4597-898a-3af0d09b3667.png)

![image](https://user-images.githubusercontent.com/9733444/129604033-36321aca-526d-4de6-a2d2-e32a0a2cef82.png)

[2021-08-16 17:28] ealsur commented on #23313
You can use ReplaceItem in concurrent tasks with or without Bulk. When Buk is off, each Task will be an independent network request. When Bulk is on, then the SDK will optimize it and group related network requests. It's explained here https://devblogs.microsoft.com/cosmosdb/introducing-bulk-support-in-the-net-sdk/#wait-what-is-happening-with-those-tasks

[2021-08-16 17:39] #23337 closed

[2021-08-16 17:46] Jarlotee commented on #23322
Here are the other related events not part of that transaction:

|customDimensions_message|timestamp [UTC]|
|---|---|
|Beginning refresh of AMQP link authorization for Identifier: com.redacted.conditions (Service Endpoint: 'amqps://redacted-events-prod-bus.servicebus.windows.net/com.redacted.conditions').|8/16/2021, 5:18:00.792 PM|
|com.redacted.conditions-5e482da2-f6c6-4cdb-b6a2-55b82079cbd3: Req

[2021-08-16 17:59] Mohit-Chakraborty commented on #23331
That is good to know. Glad you are unblocked and thanks for sharing a solution.

[2021-08-16 18:04] Jarlotee commented on #23322
Not much to go on :-(

[2021-08-16 18:12] pakrym commented on #23266
cc @reyang

[2021-08-16 18:18] JoshLove-msft commented on #23322
I think we would want to also capture CreateSendLinkStart(id: 80) and CreateSendLinkComplete(id: 81) to fully rule out the link reconnection theory.

@Jarlotee - is this on a standard or premium namespace? If it is standard, I believe the workloads are shared by other namespaces on the tenant, so that could impact perf.

[2021-08-16 18:38] heaths commented on #23321
When creating a certificate, the expiration date is automatically set for the `ExpiresOn` property of the SDKs for both the certificate, public key, and secret (private key). When fetching any of these resources from Key Vault, there is no error response. If you try to use the certificate or key - say, by creating an `X509Certificate2` - it will likely fail because it's expired. The same is true i

[2021-08-16 18:54] heaths commented on #23288
Additionally, if you're getting throttled on application start up, please see a sample we just made available last week that shows how to use App Configuration to store non-secrets with a link to Key Vault for secrets. Key Vault does have low rate limits due to backend hardware, and the configuration providers - especially when using lots of configuration key/value pairs - can cause a lot of press

[2021-08-16 19:20] jsquire commented on #22991
Closing this out;  the fix has been merged in and will be included in the next release cycle.

[2021-08-16 19:20] #22991 closed

[2021-08-16 20:29] cachai2 opened #23344 "Telemetry for when using Event Grid Blob Trigger vs Blob Trigger"
Currently, it is difficult for customers to determine when they are using the Event Grid Blob Trigger vs the standard Blob Trigger. We should add some additional telemetry specifying to customers which trigger is executing.

[2021-08-16 21:41] ColKrumpler commented on #23288
Thank you @pakrym.  After updating to 1.2.1 I was able to apply a retry policy.

@heaths I was able to apply the retry policy to the SecretClient within the App Configuration as well.

[2021-08-16 22:45] JoshLove-msft commented on #23322
Also, are you sure that this is the entire set of logs being produced? Ideally we would see a SendStart and a SendComplete event for each message that is sent.

[2021-08-16 23:04] maririos commented on #23119
running V2.1 and v3 side by side works. clossing issue

[2021-08-16 23:04] #23119 closed

[2021-08-16 23:07] maririos opened #23348 "Write the code for tests GetDocumentStatusesFilterByCreatedBefore and GetDocumentStatusesFilterByCreatedAfter"
The idea is to remove the `Ignore` from both tests.
Here is more information on the conversation we had about these tests: https://github.com/Azure/azure-sdk-for-net/pull/22699#discussion_r679520162

[2021-08-16 23:34] maririos opened #23349 "Rename DocumentStatus and TranslationStatus to add Result suffix"
- DocumentStatus  => DocumentStatusResult
- TranslationStatus => TranslationStatusResult

[2021-08-16 23:35] maririos opened #23350 "Rename DocumentStatus.TranslatedTo to DocumentStatus.TranslatedToLanguageCode"

[2021-08-16 23:37] maririos opened #23351 "Rename FileFormat to DocumentTranslationFileFormat"

[2021-08-16 23:38] joshfree commented on #22188
@pakrym could you update this issue?

[2021-08-16 23:38] joshfree commented on #22189
@pakrym could you follow up on this issue?

[2021-08-16 23:39] joshfree commented on #22189
Related https://github.com/Azure/azure-sdk-for-python/pull/19941 and https://github.com/Azure/azure-sdk-for-java/pull/23280

[2021-08-16 23:48] maririos opened #23352 "Make DocumentFilter.CreatedAfter and DocumentFilter.CreatedBefore properties nullable"
Properties should look like this

![image](https://user-images.githubusercontent.com/9868623/129642589-2e7be1a4-64c0-4e4d-be43-0ee0cc81fee1.png)

This allows us to set the property to `null` instead of always providing a value for it.

See how (by mistake and luck?) `TranslationFilter` already has it https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/translation/Azure.AI.Translation.Document

[2021-08-16 23:56] maririos opened #23353 "Design the DocumentFilterProperties type"
Currently, the usage looks like this:
[code]

The architects are asking if it will be worth just removing the `asc` parameters and instead modify the `TranslationFilterProperty` to have `CreatedOn`, and `CreatedOnDescending`, so the user will do:
[code]

Making the change means that every time a value is added to the `TranslationFilterProperty`, we will need to add 2 properties to the type. Also,

[2021-08-16 23:56] maririos commented on #23088
Individual issues have been created for each of these tasks

[2021-08-16 23:56] #23088 closed

[2021-08-17 04:02] jongio commented on #21479
@joshfree - Not sure if this would fall under Azure Identity or the Functions extensions work.  Also tagging @JoshLove-msft

[2021-08-17 04:22] shahriak opened #23357 "[QUERY] Azure.Identity.CredentialDiagnosticScope.FailWrapAndThrow exception after migrating to Azure.Identity"
**Query/Question**
How can we help?
We are in the process of doing ADAL to MSAL migration for Managed Identity (MSI) and followed both of these docs in order to accomplish this:
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/app-auth-migration
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Certificates/MigrationGuide.md

We are seeing the foll

[2021-08-17 04:37] amir4zh opened #23358 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-08-17 06:07] dxynnez commented on #23335
Thanks @jsquire ! It was my bad didn't look into the code carefully, now that makes sense as all the public APIs are virtual.

Just out of curiosity - what do you mean by 'the use of an interface makes evolving over time difficult; any change to the public API surface becomes a breaking change, including adding new members'? My take is now all the virtual APIs become the contract and any change to

[2021-08-17 06:57] KalpeshChavan12 opened #23359 "[BUG] Not able to create VirtualMachineScaleSetVM instance for unit test. Ambiguous constructor call for Azure compute SDK > 47.0"
**Describe the bug**
Compilation error while creating instance of VirtualMachineScaleSetVM class instance for unit test.

**Expected behavior**
Following should compile
[code]
**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?
Compilation error, ambiguous call
[code]

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any addit

[2021-08-17 08:02] #22802 closed

[2021-08-17 12:44] heaths commented on #23335
We will not change method signatures. As needed, we will add overloads or new members.

You can't add members to an interface. That's a breaking change for anyone who implemented it, which they might've done for mocking. Creating derivative or completely new interfaces becomes burdensome for mocking as well, and of unnecessary when using virtual methods like we do now.

[2021-08-17 12:46] heaths commented on #23288
Glad that worked for you! Can this issue be resolved then?

[2021-08-17 13:13] #23292 closed

[2021-08-17 13:20] jsquire commented on #23322
From the one Send Start/Complete that you listed above, it appears that the send operation took two seconds.  If we're not seeing any RunOperationException, SendMessageException, or CreateSendLink Start/Complete that falls into the time period between those two Send events, then we're likely looking at the service operation taking the majority of that 2 second window.

The token refresh logs appea

[2021-08-17 13:28] #23358 closed

[2021-08-17 13:32] jsquire commented on #23357
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-08-17 13:34] jsquire commented on #23359
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-17 14:11] Jarlotee commented on #23322
@jsquire I will open a support ticket, we are using standard sku currently. Is premium required for required performance?

[2021-08-17 14:15] jsquire commented on #23322
Generally speaking, yes.   Standard tier instances are shared and can be subject to throttling and latencies as a result.   [This article](https://docs.microsoft.com/azure/service-bus-messaging/service-bus-performance-improvements) details some of the standard/premium performance differences and [this one](https://docs.microsoft.com/azure/service-bus-messaging/service-bus-throttling) goes into mor

[2021-08-17 14:24] ColKrumpler commented on #23288
Yes, please resolve this issue.  Thanks.

[2021-08-17 14:24] #23288 closed

[2021-08-17 15:27] anaismiller commented on #23261
@ritishgoyal  What are you trying to use the certificate for? Is is a supported scenario?

[2021-08-17 15:53] pakrym commented on #22189
Not done yet. Reassigned to @nisha-bhatia

[2021-08-17 15:57] pakrym commented on #22188
Done, only model hierarchy is left.

[2021-08-17 15:57] seanmcc-msft commented on #23319
Hi,

Unfortunately, I am unable to re-produce on the main branch.  I am running again a storage account with Blob Versioning enabled:
[code]

In Fiddler:
[code]

-Sean

[2021-08-17 16:02] #22673 closed

[2021-08-17 16:16] sauravbhattacharya001 opened #23363 "[BUG] MSI AuthenticationFailedException when deploying to Azure"
I am getting the following AuthenticationFailedExceptionerror for an MSI based app when deployed to Azure.

[code]

This is the init code:

        CosmosClient client = new CosmosClient(AppSettings.Get.CosmosDB_Endpoint.Value, new DefaultAzureCredential(), GetCosmosClientOptions());

**Environment summary**
SDK Version: 1.3.0 (with Azure Cosmos 3.20.1)
OS Version Windows
IDE Visual Studio 16.9

[2021-08-17 16:40] sauravbhattacharya001 commented on #23363
Needed to set the `AZURE_CLIENT_ID` environment variable.

[2021-08-17 16:40] #23363 closed

[2021-08-17 19:31] heaths opened #23365 "Track 1 packages for Key Vault no longer build without error"
Starting in [yesterday's build](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1050079) (internal link), several track 1 packages are yielding an MSBuild error but still packing successfully:

[code]

Looking at changes between the last good and first bad build:

[code]
...and because the same command the pipeline is running completes successfully on my machine, I wonder if this i

[2021-08-17 19:36] JoshLove-msft opened #23367 "Address link level timeout issue"
With the latest changes in Microsoft.Azure.Amqp 2.5.1, there is a link level timeout that can be used instead of per operation timeouts. This lets us use cancellation token for the individual operations, while still having the fallback of the link level timeout. The problem is that this link level timeout doesn't apply to opening a link, which is important when accepting sessions. We will need to

[2021-08-17 19:44] ckairen commented on #23365
No, I can't think of any possible reason why it's producing those errors...

[2021-08-17 20:08] seanmcc-msft commented on #21875
Delete `HttpAuthorization` from Azure.Storage.Common before releasing.

[2021-08-17 20:09] seanmcc-msft opened #23369 "[Storage] Prepare for STG 79 Beta"

[2021-08-17 20:09] seanmcc-msft commented on #23369
Make sure Changelogs are up to date.

[2021-08-17 20:14] JoshLove-msft commented on #21672
This was discussed offline and the issue was a deadlock in the code stemming from awaiting the StopProcessing call from the user message handler.

[2021-08-17 20:16] danieljurek opened #23370 "Generate and publish daily docs"

[2021-08-17 20:17] plaramee1 opened #23371 "[BUG] ConsumptionManagementClient is using outdated apiVersion making request to fail"
**Describe the bug**
ConsumptionManagementClient is using outdated apiVersion (2018-01-31)for your latest release making request failing with message : Subscription scope usage is not supported for current api version. Please use api version after 2019-10-01

**Expected behavior**
using newer api version so request will work

**Environment:**
 - Name and version of the Library package used: Micros

[2021-08-17 20:21] christothes commented on #23357
Hi @shahriak - Perhaps I'm missing it, but I don't see the details of the exception you received from FailWrapAndThrow. Was there a specific exception message? At a high level from the details provided, it appears that we are failing to get a token from the Managed Identity credential.

One thing you could do to get a bit more detail is to enable logging.
Details on how to enable logging can be fo

[2021-08-17 20:21] snaheth commented on #22664
Hey @zep-uipath - Thanks for checking in and bumping this issue.

The delay to see your resources with an updated status could be due to multiple causes, such as:

1. Long resource deletion latency from the Resource Provider (e.g. Compute)
2. Backend updates within ARM
3. Other reliability or perf issues with the Resource Provider that affect what ARM can return to you

The causes mentioned above

[2021-08-17 20:21] #22664 closed

[2021-08-17 20:25] annelo-msft opened #23372 "[LLC] [Synapse] Enable cast from Response to a hand-written model"
**Problem**

As we add high-level methods to the Synapse Access Control low-level client, we need to make it possible to pass a `CancellationToken` to any HLC method by calling the LLC version.

**LLC Considerations**
Per @KrzysztofCwalina, we would like the models to be designed such that even if they are in the main package, they can be used with the protocol methods, i.e. given the following pr

[2021-08-17 20:32] seanmcc-msft commented on #21875
Address commons in Azure.Storage.Common.csproj before shipping.

[2021-08-17 20:49] jsquire commented on #23371
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-17 20:54] danieljurek opened #23374 "Spell Check Public API"

[2021-08-17 22:30] #21850 closed

[2021-08-17 23:32] maorleger commented on #22891
I recommend pinning to commit https://github.com/Azure/azure-rest-api-specs/commit/7a42f16c75e5005c59b75fe7f0888c1103294d43 as this is what we used in JS.

[2021-08-18 01:56] shahriak opened #23381 "[QUERY] Exception when migrating from ADAL to MSAL for Managed Identity resources (Azure.Identity library)"
**Query/Question**
Hello,

I am seeing the following exception after migrating to Azure.Identity as part of ADAl to MSAL migration. Here's the error message I am seeing:

[code]

Here's my code changes:
[code]

This is the link that mentioned about the Managed Identity changes for Azure resources:
https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-5.0#use

[2021-08-18 02:00] shahriak commented on #23357
@christothes Thank you so much for replying to this thread. The above code was actually unused and therefore, we decided to remove it from our repository. However, I am running into another similar issue, I have added the description here: https://github.com/Azure/azure-sdk-for-net/issues/23381. I appreciate your help!

Does this work locally when DefaultAzureCredential falls back to one of the ot

[2021-08-18 02:00] #23357 closed

[2021-08-18 03:24] #22891 closed

[2021-08-18 04:02] #23156 closed

[2021-08-18 04:35] bkancharla opened #23382 "azure identity dependency issues and causing no main class found error"
**Describe the bug**
After adding azure-security-keyvault-certificates:4.2.1 and azure-identity:1.3.2 causing dependency  issues and getting no main class found error
**Expected behavior**
App should run

+--- org.eclipse.jetty:jetty-server:9.4.18.v20190429
|    +--- javax.servlet:javax.servlet-api:3.1.0 -> 4.0.1
|    +--- org.eclipse.jetty:jetty-http:9.4.18.v20190429
|    |    +--- org.eclipse.je

[2021-08-18 05:51] jikspiir commented on #23319
Hey Sean,

Thank you for your reply and code example, we will definitely look into it! @dacspiir could you take look at the provided sample share your findings as well?

[2021-08-18 06:06] ritishgoyal commented on #23261
@anaismiller I am trying to get a token for an external azure resource using s2s App ID based auth with an App ID and certificate.
It should be a valid scenario since the token fetched succeeds in authorization for my s2s calls, only if I removing the parsing logic which is throwing an error.

[2021-08-18 06:40] stepro71 opened #23383 "[QUERY]: Azure Storage needed for azure logic apps"
Hi, I was referred to this from the dapr team. I want to use azure logic apps locally without the requirement for azure storage to store the workflows. Is this possible? How do I get started with this?

[2021-08-18 06:55] andreyshihov commented on #11763
Hi @jsquire,
If I could, I'd like to try to help with this one.
I looked at #15971 and see it's unfinished. Perhaps I could continue its progress?
I also looked at [https://github.com/Azure/azure-sdk-for-net/tree/main/samples/iothub-connect-to-eventhubs](How to request the IoT Hub built-in Event Hubs-compatible endpoint connection string) as an example. Is this how it should be structured when rea

[2021-08-18 07:39] dingmeng-xue opened #23384 "unwrapkey support in Azure.Security.KeyVault.Keys"
**Library or service name.**
Azure.Security.KeyVault.Keys

**Is your feature request related to a problem? Please describe.**
User is asking unwrapkey support in PowerShell
https://github.com/Azure/azure-rest-api-specs/blob/5b604aa492a2590ec6d0b028379becdd47b6ee80/specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.2/keys.json#L753

https://github.com/Azure/azure-powershell/issues/15679

[2021-08-18 08:02] #19239 closed

[2021-08-18 10:06] arnoldpistorius commented on #17653
FYI https://github.com/Azure/Azurite/issues/946

[2021-08-18 10:51] dxynnez opened #23387 "[Question] Is there any way to override the HttpMessage#CancellationToken?"
**Question**
I am trying to add a custom timeout HttpPipelinePolicy by leveraging Polly's Policy.TimeoutAsync policy but found out that there is no way to override the Cancellation token in the HttpMessage nor have the delegate (ProcessNextAsync) to honor the cancellation token generated by the Timeout policy, hence there is no way to use the [Optimistic timeout strategy](https://github.com/App-vN

[2021-08-18 13:29] jsquire commented on #23383
Hi @stepro71.  Thank you for reaching out and we regret that you're experiencing difficulties.  Unfortunately, your inquiry is focused on Logic Apps which isn't something that we're able to assist with.   To ensure that the right folks are able to help, I've transferred this to the Logic Apps repository as [#356](https://github.com/Azure/logicapps/issues/356).

[2021-08-18 13:29] #23383 closed

[2021-08-18 13:30] jsquire commented on #23384
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-18 13:31] jsquire commented on #23387
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-18 13:33] christothes commented on #23381
Hi @shahriak - For the reference to `KeyVaultSecretManager` - do you have a reference to the following NuGet package? https://www.nuget.org/packages/Azure.Extensions.AspNetCore.Configuration.Secrets/

#feedback

[2021-08-18 14:08] christothes commented on #23317
transient service issue

[2021-08-18 14:08] #23317 closed

[2021-08-18 14:11] audunn opened #23389 "[QUERY] Code generation script, GithubBranchName after main branch rename"
**Query/Question**
Hi, I am looking for but cannot find information on where Start-AutoRestCodeGeneration (generate.ps1) gets the branch name from. We are having issues since the branch name change. Running generate.ps1 to generate a new version our SDK and we seem to be targeting master rather than main  `GithubBranchName = "master";`.

Is there some config we need to update to pull from main rat

[2021-08-18 14:27] krisrajzlive opened #23391 "Incorrect description GetBlockContainers"
Check the description of GetBlobContainers and GetBlobContainersAsync, both have the same! Please update!!

[2021-08-18 15:03] pakrym commented on #23387
There is existing support for timeouts. The https://docs.microsoft.com/en-us/dotnet/api/azure.core.retryoptions.networktimeout?view=azure-dotnet#Azure_Core_RetryOptions_NetworkTimeout is what used as a timeout for network operations. It's applied to request sending, response buffering or unbuffered response reads.

[2021-08-18 15:21] kinelski opened #23393 "Improve Metrics Advisor Tests"

[2021-08-18 15:24] #22573 closed

[2021-08-18 15:42] jsquire commented on #22331
Closing out;  all associated issues are closed.

[2021-08-18 15:42] #22331 closed

[2021-08-18 15:42] jsquire commented on #22180
Closing out;  all associated issues are closed.

[2021-08-18 15:42] #22180 closed

[2021-08-18 15:44] jsquire commented on #22014
Closing out;  all associated issues are closed.

[2021-08-18 15:44] #22014 closed

[2021-08-18 16:39] #23251 closed

[2021-08-18 17:00] drdamour commented on #12388
love that we closed stuff cause it was on feedback.azure.com and now that site is dead...wait i do NOT love that

[2021-08-18 17:10] shahriak commented on #23381
@christothes Yes, I am using version 1.2.1:
	  <PackageReference Include="Azure.Extensions.AspNetCore.Configuration.Secrets" Version="1.2.1" />

[2021-08-18 17:16] christothes commented on #23381
Thanks - you mentioned that you were unable to compile if you tried to use `KeyVaultSecretManager` - what error do you get?

[2021-08-18 17:26] shahriak commented on #23381
Ok, here's the documentation I am following https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-5.0#use-managed-identities-for-azure-resources

Here's what my looks like now:
[code]

The problem I am running into now is not being able to pass the keyVaultClient inside the AddAzureKeyVault method.
I get this error when I try the following: CS1503: Argument

[2021-08-18 17:39] snehitgajjar commented on #22720
@christothes It is good to know that this works. Does that mean the sasTokens get created differently for different storage offerings? The issue arose when let's say if we create a token using `New-AzStorageAccountSASToken` and pass it to this C# snippet and use it to construct `connectionString`.

[2021-08-18 17:42] christothes commented on #22720
Yes, all the services are slightly different - see [this ](https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas) for reference.

#addressed

[2021-08-18 17:46] #22662 closed

[2021-08-18 17:47] ShivangiReja commented on #23389
@pakrym do you have any information on where `generate.ps1` script gets the branch name from?

[2021-08-18 17:48] ShivangiReja commented on #23389
CC: @chidozieononiwu

[2021-08-18 18:26] heaths commented on #23384
This is already supported in the `Azure.Security.KeyVault.Keys.Cryptography.CryptographyClient` within the _Azure.Security.KeyVault.Keys_ package already. The [issue](Azure/azure-powershell#15679) you opened would be the place to track a request for support from the Az PowerShell module.

I'm going to mark this issue as addressed, but please feel free to use the `/unresolve` command should you wis

[2021-08-18 18:37] heaths commented on #23381
Are you using the [Microsoft.Extensions.Azure](https://nuget.org/packages/Microsoft.Extensions.Azure) extensions? There should be an `AddSecretClient` as [described here](https://docs.microsoft.com/samples/azure/azure-sdk-for-net/app-secrets-configuration/?tabs=visualstudio#:~:text=caching%20clients).

These are new extensions to correspond to our new Azure.* packages.

[2021-08-18 19:00] Jarlotee commented on #23322
I will upgrade to premium and retest.

[2021-08-18 19:32] shahriak commented on #23381
@christothes Cleaning the project and doing a rebuild fixed the compilation issue and testing the changes locally also works , but I am running into another issue after deploying the changes:

An error occurred while starting the application.
RequestFailedException: Service request failed.
Status: 400 (Bad Request)

Headers:
Date: Wed, 18 Aug 2021 19:19:01 GMT
Content-Length: 133
Azure.Identity.Ma

[2021-08-18 19:34] shahriak commented on #23381
@heaths No, I could not find any documentation with the changes you mentioned above. Is this required for Managed Identity for Azure App Services?

[2021-08-18 19:58] pakrym commented on #23389
https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/Mgmt.CI.BuildTools/NugetToolsPackage/CI.Tools.Package/build/psModules/CodeGenerationModules/AutoRestCodeGenerationModule/AutoRestCodeGenerationModule.psm1#L307

master seems to be the default:

https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/Mgmt.CI.BuildTools/NugetToolsPackage/CI.Tools.Package/build/psModules/CodeGenerati

[2021-08-18 20:00] ZulaMostafa commented on #23353
I like the approach we currently have too. However, If we will modify it to have `CreateOn` and `CreatedOnDescending`. I believe it's better to rename `CreateOn` to `CreatedOnAscending` to be more clear.

[2021-08-18 20:01] heaths commented on #23381
Based on your image:

![image](https://user-images.githubusercontent.com/1532486/129964145-ff233a10-a8b3-4b25-b85c-264162bc1307.png)

It seems you're calling the old extension methods to add a `SecretClient`. You need to use the newer extension methods. But it would also help to look at the method signature. I assume it takes an `IKeyVaultClient` or something like that, which is the old Microsoft.

[2021-08-18 20:20] maririos commented on #23353
You don't have to make the change if you don't agree with it :) .We can definitely leave it as is in terms of design.
The only ask for a PR will be to rename the parameter `asc` to `ascending` in the `TranslationFilterOrder` constructor

[2021-08-18 20:41] ZulaMostafa commented on #23353
It's just my opinion, I can change it if it's for the better.

[2021-08-18 21:56] weshaggard commented on #18012
@ShivangiReja do you know what the current status of this work is? Have we configured any of the track 2 sdk's to use this automation?

[2021-08-18 21:57] JoshLove-msft commented on #10472
/cc @jsquire @KrzysztofCwalina @pakrym here is the issue where this was discussed for Service Bus.

[2021-08-18 22:04] weshaggard commented on #23365
Closed with https://github.com/Azure/azure-sdk-for-net/pull/23377

[2021-08-18 22:04] #23365 closed

[2021-08-18 23:11] GoradeAarti opened #23404 "[BUG] GenerateSasUri fails when TableClient is created with ConnectionString"
I am trying to GenerateSasUri by creating TableClient directly with ConnectionString and it says - SharedkeyCredential is Null.
looks like a hard dependency on SharedkeyCredential to generate SasUri.

I am able to generate SasUri only when I create TableClient with constructor where tableSharedKeyCredential is input e.g. (endpoint, tableName, tableSharedKeyCredential) and tableSharedKeyCredential

[2021-08-19 00:20] shahriak commented on #23381
I found a similar issue on the above error message I posted: https://github.com/Azure/azure-sdk-for-net/issues/13564. Adding an env variable AZURE_CLIENT_ID and setting it to the Managed Identity client id solved the issue. Thank you for your help! @christothes @heaths

[2021-08-19 00:20] #23381 closed

[2021-08-19 00:30] YevgenBorodkin opened #23405 "Typo on the page"
Typo:
 Note that the**]** lease may be renewed even

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53c6ebb5-1552-33ca-64d6-eb10a8497da4
* Version Independent ID: 1726ebae-6c9a-8347-4bcd-e15a404e0fac
* Content: [DataLakeLeaseClient.Renew(RequestConditions, CancellationToken) Method (Azure.Storage.Files.DataLake) - Azure

[2021-08-19 01:14] avanigupta commented on #23146
Hi @heaths, any update on whether this API will be added to the next stable release?

[2021-08-19 02:08] abatishchev commented on #22031
+1.

`DefaultAzureCredentialOptions` already exposed a bunch of underlying credentials specific properties.
Basically one the most important for each of them. But it doesn't expose anything for certificate based auth, and `SendCertificateChain` is exactly one.

I'm willing to work on a pull request if it'll be considered.

Otherwise I'll file a pull request to remove all custom properties, because

[2021-08-19 02:08] abatishchev commented on #22031
@yangyud-cn please reopen the issue.

[2021-08-19 03:26] JoshLove-msft commented on #23153
This was a transient issue.

[2021-08-19 03:26] #23153 closed

[2021-08-19 05:18] dxynnez commented on #23387
Thanks @jsquire and @pakrym ! Does this timeout apply to the first request (not the retry)? Also is there any way to also configure the PerCall timeout (per pipeline invocation)?

[2021-08-19 06:05] #22101 closed

[2021-08-19 07:46] BethanyZhou commented on #23384
Thank you @heaths for the information. Found the feature in the `Azure.Security.KeyVault.Keys.Cryptography.CryptographyClient`. Please feel free to close this issue.

[2021-08-19 09:36] audunn commented on #23389
Indeed that works thank you very much.

Perhaps the readme could include this bit of info to make it easier to find, that is if it does not already but at least U did not find it?

My generate.ps1 that now works on main is:
`Start-AutoRestCodeGeneration -ResourceProvider "netapp/resource-manager" -AutoRestVersion "v2" -SpecsRepoBranch "main" -AutoRestCodeGenerationFlags "--use:@microsoft.azure/aut

[2021-08-19 11:44] thiagorizzo opened #23410 "[BUG] ServiceBusProcessorProcessor StopProcessingAsync freezes"
Hi,

Im trying to stop processor in some processing conditions, but it freezes for some reason and never comeback to continuation. I just made a small sample and simple code to reproduce this behaviour, its not my actual application (Added  comment   // ####   IT FREEZES HERE   ####).

[code]

I runned it on debug with sdk code included in my project and noticed it freezes here:

[code]

 - Tried

[2021-08-19 13:26] jsquire commented on #23404
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-19 14:08] jsquire commented on #23410
Hi @thiagorizzo.   Thank you for reaching out and we regret that you're experiencing difficulties.   The root cause of this is awaiting the stop call inside your message handler.   That creates a deadlock situation, as the processor waits for outstanding handlers to finish when stopping, but the handler is waiting for stop to complete before it returns, so the handler never finishes.

Generally we

[2021-08-19 14:21] SebastianStehle commented on #23266
I think this is actually a bug.

[2021-08-19 14:53] jsquire commented on #23322
Thank you for the update @Jarlotee.   I'm going to mark this as addressed for now.  If something comes up on your testing, please feel free to "`/unresolve`" and continue the discussion.

#addressed

[2021-08-19 14:59] thiagorizzo commented on #23410
Hi @jsquire,

Thanks for answering

So, there is no way to ensure that handlers have been stopped? Im wondering because Task.Delay waits for requesting cancellation but I will never know if It already stopped handlers.

[2021-08-19 15:09] KrzysztofCwalina commented on #23146
I am not totally opposed to digging deeper here and possibly solving a problem, but:

It's not really parsing. The URI is already parsed when it's passed to the ctor. The issue seems to be that some users (e.g. @jimmyca15) do not like exceptions for invalid arguments. I totally understand issues with C# exception handling, and I talked to the C# team many times about it), but don't think TryParse

[2021-08-19 15:28] pakrym commented on #23389
@weshaggard, is that module something we want to update as part of M2M migration?

[2021-08-19 15:46] pakrym commented on #23387
It applies to every request individually.

Yes:

[code]

[2021-08-19 15:50] weshaggard commented on #23389
This was owned by @allenjzhang but I think @yungezz's team now owns this so I will leave it up to them if they want to update it.

[2021-08-19 16:57] heaths commented on #23146
The URI is not parsed. It is a URI, yes, but not necessarily a valid Key Vault URI. That's why I had `KeyVaultSecretIdentifier.TryParse` originally. As @tg-msft pointed out from the .NET Framework Guidelines,

The point of this struct was to parse a URI as a valid Key Vault (or Managed HSM) URI. I agree that we need a `TryParse`.

[2021-08-19 17:09] #23384 closed

[2021-08-19 17:16] #22467 closed

[2021-08-19 18:17] #23352 closed

[2021-08-19 19:51] amishra-dev commented on #23391
Thanks for reporting the issue @krisrajzlive (Raj)
We have started a PR to address this.

[2021-08-19 19:54] JoshLove-msft commented on #23410
Calling StopProcessingAsync from outside of your handler will ensure that all handlers have finished.

[2021-08-19 20:31] #23353 closed

[2021-08-19 20:39] maririos commented on #23010
All information has been aggregated here: https://gist.github.com/maririos/cea7c0cb72313c7853a6a125d074e7f0

[2021-08-19 20:39] #23010 closed

[2021-08-19 20:58] danielmarbach opened #23417 "[QUERY] Azure Service Bus Sender Throttling"
**Query/Question**

I'm in the process of upgrading some client code from MS.Azure.ServiceBus to Azure.Messaging.ServiceBus. The code surrounding the previous SDK added a throttling behaviour of 5000 msg/s for all tiers. It has been claimed they have seen effects in the past on the premium tier even with 8 mu to be throttled when they surpassed that rate despite CPU and memory being fairly stable

[2021-08-19 21:01] danielmarbach commented on #23410
Or if more control is needed maybe manually fetching with a receiver is better suited for the scenario. But difficult to say without knowing more. And yes the beauty of the processor is that it waits until handlers are done

[2021-08-19 21:12] #23374 closed

[2021-08-19 21:49] heaths commented on #23146
We will add a `TryCreate` in the next preview (and stable) release. We feel this will better coincide with the existing ability to create (via the constructor) a `KeyVaultKeyIdentifier` and be less confusing since the URI is already parsed into a `System.Uri`.

[2021-08-19 22:21] JoshLove-msft opened #23418 "Standardize test infrastructure used in Service Bus to match the rest of T2 libraries"
Event Hubs and Service Bus have *Scope classes that are able to create namespaces and storage accounts on the fly. This allows users to run tests from VS without having to run the New-TestResources script. But... we already have the New-TestResources script and test-resources.json files that allow resource creation for a reason (ease of maintenance, consistency across libraries), so we should figu

[2021-08-19 23:03] pakrym commented on #16709
Should we auto-reference the framework based on the project name suffix? E.g. everything that matches `Azure.***.Stress `gets a reference to ` <ProjectReference Include="..\..\..\..\common\Stress\Azure.Test.Stress\Azure.Test.Stress.csproj" />` added by default?

[2021-08-19 23:39] momoliu-msft opened #23421 "[QUERY] If the creation record is not in the dnsZone/activity logs, does it mean it failed?"
**Query/Question**
I do not see the creation record in the activity logs on Portal, but I see it was deleted successfully. How does that work? Is there any other way to check whether the creation succeeded or encountered any kind of issue?

The operation id of the delete is: b9bd814f-b344-4e42-abda-952591d07528

[2021-08-19 23:46] #20215 closed

[2021-08-19 23:48] heaths commented on #23016
I'm talking with cryptography experts in both .NET and Windows about why this is happening and whether we can safely pass these flags unconditionally - thinking about cross-platform cryptography (Mac [will fail](https://docs.microsoft.com/dotnet/standard/security/cross-platform-cryptography#:~:text=macos%20can't%20load%20certificate%20private%20keys%20without%20a%20keychain%20object) with `Ephemer

[2021-08-19 23:54] momoliu-msft commented on #23421
What would be suggested if the creation goes silently? It looks like there is no exception at all.

[2021-08-20 01:04] JoshLove-msft opened #23422 "LiveOnly tests should run in Live mode locally even if AZURE_TEST_MODE is not live"
Or there should at least be a way to enable this behavior for a given test class. If a test can only be run live, that doesn't necessarily mean that you don't want to run it when you are running all your other tests in Playback, it just means that the test cannot run in Playback. In other words, you should be able to run all your tests, and have the ones that support playback run in playback, and

[2021-08-20 01:06] #23146 closed

[2021-08-20 02:24] yungezz commented on #23389
hi @HarveyLink could you help on this? thanks.

[2021-08-20 03:15] v-xuto commented on #19895
Close this issue, due to it has been fixed.

[2021-08-20 03:15] #19895 closed

[2021-08-20 03:21] amishra-dev commented on #23391
Fixed, it will get updated when we release the next time.

[2021-08-20 03:21] #23391 closed

[2021-08-20 04:00] hyoshioka0128 opened #23428 "Typo "&gt;"→">""
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.search.models.synonymtokenfilter?view=azure-dotnet
![microsoft_azure_search_models_synonymtokenfilter_e](https://user-images.githubusercontent.com/40815708/130177058-bbaa232a-e4de-4aba-b9db-89387bdf1509.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-08-20 04:02] hyoshioka0128 opened #23429 "Typo "&gt;"→">""
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.linuxpatchsettings?view=azure-dotnet
![microsoft_azure_management_compute_models_linuxpatchsettings_e](https://user-images.githubusercontent.com/40815708/130177234-f96986b4-6599-43d9-8124-d84cd2354377.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-08-20 04:04] hyoshioka0128 opened #23430 "Typo "&gt;"→">""
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.sql.models.recommendedactionstateinfo?view=azure-dotnet
![microsoft_azure_management_sql_models_recommendedactionstateinfo_e](https://user-images.githubusercontent.com/40815708/130177347-db37e061-3a5d-4933-8357-27b40934ae5b.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-08-20 04:07] hyoshioka0128 opened #23431 "Typo "&gt;"→">""
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.sql.models.recommendedactionstateinfo.currentvalue?view=azure-dotnet
![microsoft_azure_management_sql_models_recommendedactionstateinfo_currentvalue](https://user-images.githubusercontent.com/40815708/130177552-d873ae09-c6c2-43e2-bee9-ceef5c230c94.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-08-20 04:34] fengzhou-msft commented on #23067
A fix PR is submitted: https://github.com/Azure/azure-sdk-tools/pull/1928

[2021-08-20 05:14] Neil-T opened #23432 "Documentation of exception types appears incomplete for Azure TableServiceClient constructor"
I am using the Azure.Data.Tables NuGet package to connect to Azure Table Storage from a C# application. Specifically, I'm using the following overload of the TableServiceClient constructor:

`public TableServiceClient (string connectionString);`

I am trying to implement exception handling. The Microsoft documentation page (linked below) states, under the 'Exceptions' heading, that this constructo

[2021-08-20 05:44] HarveyLink commented on #23389
Quick fix https://github.com/Azure/azure-sdk-tools/pull/1928

[2021-08-20 06:20] reynoldspravindev opened #23433 "[Synapse] [Spark] Feature To Specify The Spark Config Attributes In SparkSessionOptions"
Currently the SparkSessionOptions does not have the feature to pass Spark config attributes when creating the Spark Session. But actual Synapse REST API allows that. Is this a feature that is already available in the SDK. The "Configuration" attribute in SparkSessionOptions is read -only.

[2021-08-20 07:17] v-yilinhu opened #23434 "[Search] CreateIndexerAsync failing in nightly runs"
Search nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1056768&view=results

@jsquire for notification.

[2021-08-20 07:17] v-yilinhu opened #23435 "[Servicebus] PeekWithZeroTimeout failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1046940&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1051802&view=results

[2021-08-20 07:17] v-yilinhu opened #23436 "[Servicebus] Microsoft.Azure.WebJobs.Host.EndToEndTests.ServiceBusSessionsEndToEndTests.ServiceBusSessionQueue_SessionLocks failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1051802&view=results

@jsquire for notification.

[2021-08-20 07:17] v-yilinhu opened #23437 "[Servicebus] CanUpdateSessionConcurrency failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1051802&view=results

@jsquire for notification.

[2021-08-20 07:17] v-yilinhu opened #23438 "[Servicebus] StopProcessingDoesNotCloseLink failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1051802&view=results

@jsquire for notification.

[2021-08-20 07:17] v-yilinhu opened #23439 "[Servicebus] UserCallbackThrowingCausesMessageToBeAbandonedIfNotSettled("DeadletterOverload") failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1051802&view=results

[2021-08-20 07:21] JoshLove-msft commented on #23435
This test was fixed in https://github.com/Azure/azure-sdk-for-net/pull/23356/files

[2021-08-20 07:21] #23435 closed

[2021-08-20 07:22] JoshLove-msft commented on #23439
This is a transient failure with the ARM client and is not related to the SDK.

[2021-08-20 07:22] #23439 closed

[2021-08-20 08:02] #22492 closed

[2021-08-20 08:24] ChristianHehlBM opened #23440 "[BUG] BlobClient.GenerateSasUri(BlobSasPermissions, DateTimeOffset) ignores timezone for expiration time"
**Describe the bug**
BlobClient.GenerateSasUri(BlobSasPermissions.Read, DateTimeOffset.Now) returns a URI with a different expiration time than
BlobClient.GenerateSasUri(BlobSasPermissions.Read, DateTimeOffset.Now.ToUniversalTime()) when in a non UTC timezone.

**Expected behavior**
The expiration time should be the same since the point in time of both values is the same.

**Actual behavior (inclu

[2021-08-20 08:44] dxynnez commented on #23387
Thanks @pakrym ! I will put the client call into the Timeout policy callback then! This is a bit different than the original HttpMessageHandler pipeline which kinda defeat the purpose of HttpClientFactory and the ecosystem around it (e.g. Polly resiliency extension) - Is it recommended to use the new Azure SDK as singleton and have the SDK to manage the connection pooling instead? What would be th

[2021-08-20 11:01] billy-brown opened #23443 "[BUG] Azure Digital Twin C# SDK and Instance allow duplicate telemetry fields a model definition, but ModelParser does not"
**Describe the bug**
Creating an Azure Digital Twin model with DTDL that contains duplicate telemetry fields (same type, same name, same schema) is accepted by the C# SDK and by the ADT Instance, but the `ModelParser` throws a `ParsingException` when parsing that same DTDL (retrieved from the ADT Instance).

**Expected behavior**
The C# SDK and the ADT Instance should both raise an error if the DT

[2021-08-20 12:00] ibocon commented on #17765
I make a sample console application to reproduce the bug.

[code]

### Output

[code]

[2021-08-20 12:52] ibocon commented on #17766
Hi, I am interested in contributing this issue.

I cannot find `TODO: add administrator update validation` in **Azure.AI.MetricsAdvisor** solution.

I found similar existing tests in **DataFeedLiveTests**. (`Update...DataFeedWithEveryMemberAnd...`)

https://github.com/Azure/azure-sdk-for-net/blob/a4f6ce0975f8e8c467b1521f5a39fdcfcfec56c8/sdk/metricsadvisor/Azure.AI.MetricsAdvisor/tests/MetricsAdvis

[2021-08-20 13:10] jsquire commented on #23418
I don't believe this is a reasonable goal at present, due to the differences in the messaging libraries as compared to the HTTP-based.  Ignoring that our current test infrastructure is heavily biased towards HTTP scenarios, there are still gaps that we cannot address.

For example:

- The lack of ability to record/playback tests lead to the need for each Live test run to use actual resources.

- T

[2021-08-20 13:11] andreyshihov commented on #11763
Hi @jsquire

I have added a new snippet in #23445. Is it going in the right direction?

[2021-08-20 13:45] jsquire commented on #23418
To clarify,  I'm not opposed to removing the dynamic creation of namespaces and storage accounts in favor of Test-Resources, so long as there's a way to specify that the RG created is permanent and doesn't get tagged for automatic cleanup.

That would unify the non-ephemeral resource creation without having a negative impact to the dev-test loop.   The ephemeral resource management through the sco

[2021-08-20 13:51] jsquire commented on #23417
//cc: @shankarsama

[2021-08-20 13:53] jsquire commented on #23417
Hi @danielmarbach.   Unless I'm misunderstanding, I believe that you're discussing service-throttling.   Assuming that I'm correct, I believe that Service Bus service team would be best able to assist.

If I am misunderstanding, please let me know and I'll make the necessary corrections.

[2021-08-20 13:57] jsquire commented on #23421
Hi @momoliu-msft.   Thank you for reaching out and we regret that you're experiencing difficulties.    Unfortunately, I'm not able to determine which of the Azure SDKs you're asking about  from the context of your question.   Would you be so kind as to let us know which SDK you're using and provide more context for your scenario so that we can identify the right team members to assist?

#feedback

[2021-08-20 14:01] jsquire commented on #23429
//cc @allenjzhang.   I believe these docs are generated directly from the Swagger;  I've routed to the service team, but please feel free to retarget if necessary.

[2021-08-20 14:02] jsquire commented on #23430
//cc @allenjzhang.   I believe these docs are generated directly from the Swagger;  I've routed to the service team, but please feel free to retarget if necessary.

[2021-08-20 14:03] jsquire commented on #23431
//cc @allenjzhang.   I believe these docs are generated directly from the Swagger;  I've routed to the service team, but please feel free to retarget if necessary.

[2021-08-20 14:06] jsquire commented on #23433
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-20 14:33] #23404 closed

[2021-08-20 14:33] #23432 closed

[2021-08-20 14:45] jsquire commented on #23418
**Self Notes:**

If we end up removing the ephemeral namesapce and storage account, also remember to:

- Adjust the contributing guide
- Adjust the live test setup script.   _(execute test resources script, capture outputs, capture RG name for RBAC assignment)_
- Update performance test entry point

[2021-08-20 15:13] pakrym commented on #23418
The same is true for any other resources we use for HTTP-based tests, blobs, configuration settings need to be created and deleted per test.

The current workflow for all the services is:

1. Run `New-TestResources <service name>`
2. Do development from VS.

Reading https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md#running-tests to develop

[2021-08-20 15:15] danielmarbach commented on #23417
@jsquire correct. I raised it here as well because maybe there is something in the SDK that I'm missing that could help too.

[2021-08-20 15:17] pakrym commented on #23387
Yes. Our goal is for an Azure SDK on its own to be efficient and reliable and solve all the common pitfalls people hit with HTTP client (pooling, limits, timeouts, connection recycling, etc.).

Not many. Advanced scenarios like setting a proxy, configuring custom limits, overriding cert validation.

[2021-08-20 15:49] jsquire commented on #23418
I believe the difference here is that those assets can be managed from within the client library;  that is not the case for Event Hubs.   That was not the case for Service Bus at the time the infrastructure was written  (though it could be adapted now that there is an admin client).

Because the live tests are an integral part of the development loop and having an RG that disappears periodically i

[2021-08-20 16:00] jsquire commented on #23417
There's nothing in the SDK itself that attempts to throttle or shape traffic.  Other than respecting the recommended back-off period when the service signals a throttle response, each `SendAsync` call translates to a service operation.

@JoshLove-msft:  Please keep me honest here;  am I overlooking any SB-specific logic?

[2021-08-20 16:17] jsquire commented on #11763
Hi @andreyshihov.   Apologies for the slow reply and thanks very much for your interest in helping to improve the Azure SDK experience; I'll take a look at the PR now.

[2021-08-20 16:37] momoliu-msft commented on #23421
Hi Jesse, the version of "Microsoft.Azure.Management.Fluent" we are using is 1.25.0

[2021-08-20 16:52] momoliu-msft commented on #23421
Hi, Jesse, the version of the package "Microsoft.Azure.Management.Fluent" we are using is 1.25.0

[2021-08-20 17:00] jsquire commented on #23418
Self correction;  I just was made aware that Test-Resources has been enhanced to create the service principal now.    _(that's new from the last I looked)_

I would agree that this obviates the EH-specific script.

[2021-08-20 17:14] pakrym commented on #23418
It is a one-time setup for all other libraries as well.

It is an integral part of any library development. There is a very limited set of changes you can make without having to run live even in HTTP libraries.

I'm in agreement that some resources would need to be created per test/test run it is true for other services and definitely true for eventhubs. What I'm trying to say is let's have as few

[2021-08-20 19:04] #19305 closed

[2021-08-20 19:44] benbp opened #23449 "Packages should be installed as a sanity check after release"
Currently this is only done for packages that exist in smoke-tests, but it would be better to do it for every package release.

[2021-08-20 20:43] pakrym opened #23451 "ServiceBusTrigger with BinaryData parameter fails to bind"
[code]

[code]

[2021-08-20 21:42] JoshLove-msft commented on #23451
Also should check Event Grid extension.

[2021-08-20 21:48] amnguye commented on #23440
There's a problem with the value you're passing. You're passing a `DateTime` object now instead of a `DateTimeOffset` object. So when your code goes to convert from `DateTime` to `DateTimeOffset`, it will do the UTC offset based on the local time offset.

Please see the documentation about `DateTime.ToUniversalTime`.
https://docs.microsoft.com/en-us/dotnet/api/system.datetime.touniversaltime?view=

[2021-08-20 22:47] sjuarezgx opened #23455 "Azure functions proxies not working"
TargetFramework : net5.0
AzureFunctions Version : v3
Microsoft.Azure.Functions.Worker.Extensions.Http Version="3.0.13"
Consumption plan
VS 2019

Hi

I have a mobile app and need to pulish all the backend services as serverles Http functions in Azure. This app is configured with the Route prefix "rest" in the host.json file.

The app security is implemented using Oauth 2.0 and the Identity Provider

[2021-08-20 23:01] #22970 closed

[2021-08-20 23:27] SeanFeldman commented on #22970
Thank you, @JoshLove-msft.
Too bad pipelines are not there. All the code would not need to be written :)

[2021-08-20 23:51] maririos commented on #23134
We should consider adding `AsDouble`  so the user can decide accordingly

[2021-08-20 23:54] maririos commented on #23123
@chidozieononiwu we  need to keep in sync what we have in public azure storage container `trainingdata` with other souvereign clouds. Someone from eng service team helped us a while back, but I imagine the files got out of sync again.
Could you help us look into this? And also, is there a process to keep the storage containers in sync? I expected with the work we are doing in upcoming releases tha

[2021-08-20 23:55] maririos commented on #23122
@chidozieononiwu we  need to keep in sync what we have in public azure storage container `trainingdata` with other souvereign clouds. Someone from eng service team helped us a while back, but I imagine the files got out of sync again.
Could you help us look into this? And also, is there a process to keep the storage containers in sync? I expected with the work we are doing in upcoming releases tha

[2021-08-20 23:59] maririos commented on #23123
Interesting. If this test passes for public cloud, it means the field `Contact` is present in the document and/or the custom model.
Is there any way you can share what the json response from the service is when the test is running targeting `UsGov`?
looking at what the service returns might help us understand a little more about what is happening

[2021-08-21 06:34] JoshLove-msft commented on #23417
Nope, that all sounds correct to me.

[2021-08-21 14:34] jsquire commented on #23455
Hi @sjuarezgx.  The package that you're inquiring about is managed in another repository.  I've transferred this over as [#590](https://github.com/Azure/azure-functions-dotnet-worker/issues/590) to ensure that the team best able to assist can see it.

[2021-08-21 14:34] #23455 closed

[2021-08-21 22:06] ChroBOB opened #23460 "[BUG]"
[Microsoft ](www.microsoft.com)
![B2C15B4D-A5A5-4615-ADCF-B99945316C82](https://user-images.githubusercontent.com/85457627/130335957-35568180-8229-4359-8993-61f24eac91e5.png)
#**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Rep

[2021-08-21 22:06] ChroBOB commented on #23460
LinkedIn []()

[2021-08-21 22:08] ChroBOB opened #23461 "[FEATURE REQ]"
[Google](www.google.com)
![EB7F343F-1CBD-41F9-804D-F00AD76E9BF4](https://user-images.githubusercontent.com/85457627/130335988-9fdd8161-bc16-4905-b9c3-63b69154192f.png)
  @@#**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What prob

[2021-08-21 22:09] ChroBOB opened #23462 "[QUERY]"
[Facebook ](www.facebook.com) **Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-08-21 22:10] ChroBOB commented on #23462
[Youtube](www.youtube.com) #23223

[2021-08-21 22:10] ChroBOB commented on #23462
[Facebook ](www.facebook.com) @ChroBOB

[2021-08-21 22:11] ChroBOB commented on #23462
**skype**

[2021-08-21 22:11] ChroBOB commented on #23462
[Skype](www.skype.com)

- [ ]

[2021-08-21 22:13] ChroBOB commented on #23462
[Viber](www.viber.com)

- [ ]
![7DC8BC7A-24ED-41C8-9AB5-C427B91023C9](https://user-images.githubusercontent.com/85457627/130336076-e266c8ca-8fb0-4068-9d6f-efe78f2f336e.jpeg)
#23459

[2021-08-21 22:13] martinjt opened #23463 "[BUG] Microsoft.Azure.ServiceBus is restricted to namespaces with a fully quantified domain."
**Describe the bug**
This is part way between a bug and a feature, so feel free to choose which.

Currently, the Microsoft.Azure.ServiceBus client mandates that the namespace endpoint includes a `.` in it.  Therefore ensuring that only "real" domains can be used.  This precludes using something that is hosted on `localhost`.  This seems like something that shouldn't be there as locally contacting

[2021-08-21 22:14] ChroBOB commented on #23462
[WhatsApp ](www.whatsapp.com)

- [ ]
![Uploading 249A808E-0970-4D2B-918E-95B77146FD9F.jpeg…]()

[2021-08-21 22:15] ChroBOB commented on #23462
[]()

1.

-

[2021-08-21 22:15] ChroBOB commented on #23462
##23131

[2021-08-21 22:15] ChroBOB commented on #23462
1.

- `[Firefox](www.firefox.com) #`

[2021-08-21 22:18] NickCraver commented on #23463
One more thing I think worth noting here is that since generally you'll want to be testing with TLS locally, so while `localhost.` would appear to be a domain-based workaround until this is changed, that's much more difficult to get working end-to-end than face value due to none of the local certificate management handling that directly or as a SAN on the certificate (unless we're missing somethin

[2021-08-21 22:28] ChroBOB opened #23464 "[BUG]"
**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduce the issue)

1.
2.

**Environment:**
 -

[2021-08-21 22:30] ChroBOB commented on #23464
-
[code]

[2021-08-21 23:58] jmelkins commented on #19782
I use [IgnoreProperty] both to have convenience properties and to allow custom storing of enum values, and would also like to have this attribute available, not least so I can move code from depending on Microsoft.Azure.Cosmos.Table without major refactoring.

[2021-08-22 02:37] ChroBOB opened #23465 "[FEATURE REQ]"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

[2021-08-22 05:17] EdiWang opened #23466 "Content is outdated"
Follow the steps in https://docs.microsoft.com/en-us/dotnet/api/overview/azure/billing

It doesn't work. The latest `Microsoft.Azure.Management.Billing` nuget package is not having the .NET types needed for the code.

![image](https://user-images.githubusercontent.com/3304703/130343322-5932cecd-0ac4-45aa-bd2a-e3b84f916eed.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-08-22 11:45] rjnfrazao opened #23467 "[BUG] ShareFileClient.UploadAsync() - Specified resource does not exist"
**Describe the bug**
Web API receives a pdf document, afterwards it should store the pdf document in the Azure File Share (Storage). However when the method ShareFileClient.UploadAsync(stream) is executed, the following exception is raised : "ResourceNotFound - The specified resource does not exist".

I am uploading the pdf document into the file share, it's a new file so the resource does not exi

[2021-08-22 15:13] #23460 closed

[2021-08-22 15:13] #23461 closed

[2021-08-22 15:13] #23462 closed

[2021-08-22 15:13] #23465 closed

[2021-08-22 15:13] #23464 closed

[2021-08-22 15:15] jsquire commented on #23463
//cc: @shankarsama

[2021-08-22 15:15] jsquire commented on #23463
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2021-08-22 15:17] jsquire commented on #23466
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-08-22 21:40] Marusyk commented on #22635
Can anyone answer me? Please

[2021-08-22 22:02] #23260 closed

[2021-08-23 01:40] yungezz commented on #23466
HI @EdiWang Could you pls share the SDK version you're using?
hi @HarveyLink do you have idea of what's .NET SDK documentation process? Is it auto build and public after SDK published?

[2021-08-23 01:41] yungezz commented on #23421
add @weidongxu-microsoft to help look at it.

[2021-08-23 01:42] yungezz commented on #23371
route to service team to see if need a new version SDK on latest API version

[2021-08-23 01:44] yungezz commented on #23359
route to service team to have a look

[2021-08-23 01:47] yungezz commented on #23291
thanks for the inquiry. For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk

[2021-08-23 01:48] yungezz commented on #23267
add @weidongxu-microsoft to help on this

[2021-08-23 01:51] yungezz commented on #23188
Azure.ResourceManager.Sql pacakge or Azure.ResourceManager.* is old Track2 pacakges. They'll not be updated, and will be deprecated. While we can see if the issue is in new Track2 SDK. add @ArcturusZhang to help confirm on this.

[2021-08-23 01:51] yungezz commented on #23184
duplicate with https://github.com/Azure/azure-sdk-for-net/issues/23188

[2021-08-23 01:52] yungezz commented on #23181
same issue with #23188

[2021-08-23 01:52] yungezz commented on #23180
same issue with #23188

[2021-08-23 01:52] yungezz commented on #23178
same issue with #23188

[2021-08-23 01:52] yungezz commented on #23176
same issue with #23188

[2021-08-23 01:53] yungezz commented on #23174
same issue with #23188

[2021-08-23 01:54] yungezz commented on #23051
thanks for the inquiry. For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk

[2021-08-23 01:55] yungezz commented on #22930
hi @archerzz could you help on this? thanks

[2021-08-23 01:56] yungezz commented on #22769
thanks for the inquiry. For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk

[2021-08-23 02:06] jackbond commented on #23291
The last non preview package for managing event hubs is

Microsoft.Azure.Management.EventHub

The release notes for that basically state it's a dead end, and to use

Azure.ResourceManager.EventHubs

And that hasn't been updated for over a year. Bottom line, the only packages that support Azure.Core.TokenCredential are still in preview. You've now linked me two articles that are a year old. Are you

[2021-08-23 02:38] weidongxu-microsoft commented on #23267
@coppercosmo
There is no connection string from SDK. You had to make your connection string, based on server endpoint, authentication info etc., and for the application that consumes it.

[2021-08-23 02:42] weidongxu-microsoft commented on #23421
@momoliu-msft

What is your code, and whether it throws exception when fails to create the record? Any logging (https://github.com/Azure/azure-libraries-for-net#logging)?

PS: this SDK is going to be replaced by new SDKs that will appear here https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

[2021-08-23 06:24] dingmeng-xue opened #23471 "[FEATURE REQ] Keyvault - Support key rotate and rotation policy"
**Library or service name.**
`Azure.Security.KeyVault.Keys`

**Is your feature request related to a problem? Please describe.**
Feature request from service team. The Swagger is updated. https://github.com/Azure/azure-rest-api-specs/pull/11965/files

[2021-08-23 06:26] kinosong commented on #18041
List examples have the same issue too.

var examples = await _client.Examples.ListAsync(appId, version);

Newtonsoft.Json.JsonReaderException
  HResult=0x80131500
  Message=JSON integer 4100645187 is too large or small for an Int32. Path '[0].id', line 1, position 17.
  Source=Newtonsoft.Json
  StackTrace:
   at Newtonsoft.Json.JsonTextReader.ParseReadNumber(ReadType readType, Char firstChar, Int3