[2022-02-16 07:27] JoshLove-msft commented on #26837
I was able to repro the issue - it looks like it is related to the call that you pointed out @superwalnut. Since we use the receiver overload for creating the message receiver, we end up validating that the subscription name is the same as the topic name from the entityPath section of the connection string, which of course it isn't. As a workaround, you can remove the entityName from your connecti

[2022-02-16 08:02] #26552 closed

[2022-02-16 08:28] docohe commented on #12203
Those files are auto generated, we cannot change the description AFAIK. @orhasban FYI.

[2022-02-16 08:41] liurunliang commented on #25611
Hi @keynode, This issue is reproducible at my end. We will check this internally.

[2022-02-16 09:25] william-li-nintex opened #27039 "Encoding issue with the documentation paragraph"
[Enter feedback here]
Seems to have an encoding issue per below
![image](https://user-images.githubusercontent.com/89058536/154234409-7f72e38f-3ebf-4afb-8570-e83c8a76f960.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c89f7c02-ca6c-3a95-b967-b8ca3e80e269
* Version Independent ID: d1c50b62-bbc7-304f-1313-65266458bd

[2022-02-16 09:34] peter-bertok opened #27040 "[FEATURE REQ] DefaultAzureCredential should use "Try" methods instead of relying on Exceptions"
### Library name

Azure.Identity

### Please describe the feature.

This is related to the block of code here: https://github.com/Azure/azure-sdk-for-net/blob/4b2579556b7271587d2fb122163e23090a043597/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L167-L181

The `GetTokenFromSourcesAsync()` and related functions sequentially try to acquire credentials from a list of `TokenCredential` sou

[2022-02-16 09:38] cmendible commented on #26744
That's great! Searching for `Azure SignalR + ClientEndpoint` I just found this post: https://techcommunity.microsoft.com/t5/apps-on-azure-blog/protect-your-signalr-service-based-real-time-application-with/ba-p/2589650 with a complete sample for this scenario.

Is there a reference in **docs** to `ClientEndpoint` in the connection string?

[2022-02-16 09:43] superwalnut commented on #26837
Thank you Josh for fixing it up. At the mean time we will be using the single message trigger, till you guys address this issue. The connection string is from terraform directly obtained from azure key vault, so for the best  not to fiddle with the connection string manually.

[2022-02-16 09:45] navba-MSFT commented on #15705
@j-rewerts Apologies for the late reply. We will update this thread once we have more details on this.

@TravisCragg-MSFT Could you please provide an update on this issue ? Awaiting your reply.

[2022-02-16 10:11] hachiang-msft commented on #26526
Hi @Yao725

Please refer to following log

[code]

[2022-02-16 10:16] kinelski opened #27042 "[FormRecognizer] Figure out a way of testing Neural build mode"
We currently have a `StartBuildModelWithNeuralBuildMode` test, but it can take too long to run (up to 1 hour), and it seems to be related with multiple failures in our live test pipeline. We are currently ignoring the test if running live.

We should consider re-enabling the test or figuring out some other way of testing this build mode live.

[2022-02-16 10:28] ramonsmits commented on #26402
@dionoid Renewing just in time just 10 seconds before the lock times out is not recommended. It that renew attempt fails there will be no time to renew again. This can especially happen when the system is very busy.

A better approach is to renew at a certain renewal interval which is 1/5th, 1/4th, 1/3th, or 1/2 of the lock duration.  This way you get a much more fine grained sliding renewal which

[2022-02-16 10:33] maQus123 commented on #21511
Our log is flooded as well, any news on this?

[2022-02-16 11:01] TwoPatient commented on #27024
Thank you 👍

[2022-02-16 11:01] #27024 closed

[2022-02-16 12:59] ghost opened #27044 "[BUG] GetGenericResourcesAsync wrong deserialization for Microsoft.ContainerService/managedClusters"
### Library name and version

Azure.ResourceManager 1.0.0-beta.8

### Describe the bug

When querying GetGenericResourcesAsync, for some resources in Microsoft.ContainerService/managedClusters it returns wrong data for Identity property which causes the deserialize to behave in a strange way.

You can see in the summary that principalId and tenantId should only be present when the type is SystemAs

[2022-02-16 13:51] jsquire commented on #27039
//fyi CXP:  Routing this to `Service`, as the adjustment needs to be made in the swagger for the REST endpoint.

[2022-02-16 13:52] jsquire commented on #27040
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-02-16 13:53] jsquire commented on #27044
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-16 14:45] scottaddie commented on #26638
@AtOMiCNebula Thank you for the feature request. It's been added to the product backlog. I'm working with the Azure Monitor service team to prioritize the necessary changes on their end. Work is expected to begin as soon as April.

[2022-02-16 15:17] fazal60 commented on #26755
@MughundhanRaveendran-MSFT what are the implications if the timeout is less than 1 min. Is this problem caused due to this?

[2022-02-16 15:20] jzi96 opened #27046 "There is no working overload for SAS Token, at least never got it woring."
When using the TableClient with SAS Token, der is no suitable overload.
Used the (string, string, option) overload and the (uri, AzureSasCredential, opt), both fail. the later, because Table cannot be passed.

Maybe you can add a sample that is acutally using SAS Token.

Thx
Jan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-16 15:21] h0las-dev opened #27047 "[QUERY] Azure Communication Service .Net SDK: what does AddTextAnalyticsClient() in Call.cs do?"
### Library name and version

Azure.Communication.Calling 1.0.0-beta.29

### Query/Question

Hi! I found this method in Call.cs class and I try to realize what it does. I expext there is feature to analyze text transcript during video call, it is correct? Can anyone share some code examples or just explain ho to use it? I add my analysis client and what next? How I will get response with analysis

[2022-02-16 15:23] h0las-dev opened #27048 "[QUERY] Azure Communication Service .Net SDK: does SDK have any opportunity to get text transcript of speech during video(or audio) call?"
### Library name and version

Azure.Communication.Calling 1.0.0-beta.29

### Query/Question

Hi! So, my question in the title: does .Net SDK have any opportunity to get text transcript of speech during video(or audio) call? I want to get text of participant's speech during video call and analyze it with TextAnalyticsClient from Azure.AI.TextAnalytics SDK. Is it possible? Thank you.

### Environmen

[2022-02-16 15:38] scottaddie commented on #26972
@shuoshen2014 We're currently working on a design spec for managed identity token caching in the Azure Identity client libraries. Development on this feature is expected to kick off in the next semester (tentatively, the April to May timeframe).

[2022-02-16 15:39] christothes commented on #27040
Hi @peter-bertok - Thanks for the feedback.

Regarding usage of exceptions to indicate error scenarios, this is consistent with both the .NET and Azure SDK design guidelines. See the below links for reference.
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/exception-throwing
https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-errors

In addition, out parameters ar

[2022-02-16 15:46] h0las-dev opened #27049 "[QUERY] Azure Communication Service .Net SDK: Is it possible to get participant's audiostream during video call?"
### Library name and version

Azure.Communication.Calling 1.0.0-beta.29

### Query/Question

I've started to investigate this SDK recently and I've stucked with a problem: I want to get audio stream from remote participant during video call and pass this stream to another service, make some analysis (convert audio to text and show like dynamic speech transcript for example. I want to use Azure Spe

[2022-02-16 15:46] azure-sdk commented on #27049
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Communication:0.17592221,Service Bus:0.10670944,Event Hubs:0.09841772'

[2022-02-16 15:48] christothes commented on #27046
Hi @jzi96 Do either of the following examples work for you?

Using just the URI:
[code]

Using the AzureSasCredential
[code]

[2022-02-16 15:58] christothes opened #27050 "[Flaky Test] Azure.Search.Documents.Tests.ManualRetryDelayTests.AddsMoreDelay()"
### Library name

Azure.Search.Documents

### Please describe the feature.

Expected a delay between 148ms and 500ms, not 821
Expected: True
But was:  False

[code]
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1371453&view=ms.vss-test-web.build-test-results-tab&runId=28754284&resultId=116651&paneView=debug

[2022-02-16 16:22] yowl commented on #19858
Can we reopen this?  I have the same problem with "05.10.2022".  `AsDate`  throws an exception, but its easy to parse to date if you know the locale.  Can we have `TryAsDate` so we don't have to rely on exceptions?

[2022-02-16 17:06] jzi96 commented on #27046
Hi @christothes,

thanks for getting back to me so quickly.
My use case is to have a SAS Token (e. g. from azure portal).

Both blocks do sas generation on their own. If I use the ctor overloads from TableClient, they fail. I did not see how to make the code snippets above working with azure portal SAS token.

My hack atm is to use the internal ctor that accepts both table name and SAS credentials

[2022-02-16 18:22] christothes commented on #27046
You should be able to do the same as in the 2nd example using the SAS token from the portal. Are you creating an account level SAS or a table specific SAS? If it is an account SAS, you must do the following:

[code]

[2022-02-16 18:29] AtOMiCNebula commented on #26638
Thanks!  For now, we're working around this limitation by specifying our own `HttpClientTransport` that rewrites workspace query URLs to target resources instead, but it'll be nice to have proper SDK support. :smile:

[2022-02-16 18:52] cachai2 opened #27056 "[BUG] Listeners may be Disposed before StopAsync() is called"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.EventHubs 5.0.0

### Describe the bug

In Track1 of the Event Hubs extension, the check for `_started` in `FunctionListner` is not synchronized across `StartAsync()` and `StopAsync()` calls (https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Host/Listeners/FunctionListener.cs#L139). This may need to be re

[2022-02-16 18:58] dean-dot-git opened #27057 "[BUG] Service Bus: Received messages do not have a valid Lock Until property when sessions are enabled"
### Library name and version

Azure.Messaging.ServiceBus v7.6.0

### Describe the bug

When used in conjunction with Azure Functions v4.0.1 and creating a version 2.0 **session enabled** service bus trigger, the ServiceBusReceivedMessage object, "LockUntil" property does not have a valid date.  In a Azure Function service bus trigger, it is potentially not possible to determine what the session lo

[2022-02-16 19:52] DOMZE opened #27058 "[BUG] Nuget official package of Microsoft.Azure.Management.Consumption is not in sync with GitHub code"
### Library name and version

Microsoft.Azure.Management.Consumption 3.0.2

### Describe the bug

The code on the repository (https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/consumption/Microsoft.Azure.Management.Consumption/src/Generated/UsageDetailsOperationsExtensions.cs) contains the scope parameter but the nuget package officially release does not:

Code in GitHub
[code]

SDK:

![ima

[2022-02-16 19:54] azure-sdk commented on #27058
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.17360184,Azure.Identity:0.070762835,Extensions:0.044373292'

[2022-02-16 19:57] jzi96 commented on #27046
I'll give it a try tomorrow. Thank you for pointing it out.

[2022-02-16 21:35] jsquire commented on #27056
@JoshLove-msft:  I assigned this over based on the assumption that if you slotted into this milestone you were planning on picking it up.   Feel free to reslot if that's not the case.

[2022-02-16 21:37] jsquire commented on #27058
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-16 21:40] jsquire commented on #27057
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-16 21:58] JoshLove-msft commented on #27056
Yep, I hadn't self assigned it yet because I was actually going to check with you to see if you were interested in fixing it 😄

[2022-02-16 22:02] #26695 closed

[2022-02-16 22:54] SatishBoddu-MSFT commented on #27049
Related: Q&A: [Azure Communication Service - Access to audio stream and pass it into Speech-To-Text service in real time](https://docs.microsoft.com/en-us/answers/questions/736185/azure-communication-service-access-to-audio-stream.html )

[2022-02-16 23:17] angiurgiu commented on #24974
Thank you for your feedback. We've logged this feature request into our backlog and will consider it in the future.

[2022-02-16 23:28] deyaaeldeen opened #27065 "[Schema Registry] Add tests for error codes"
### Library name

Azure.SchemaRegistry

### Please describe the feature.

Error codes have been updated to match REST design guidelines. Since they are part of the customer client experience, we should add tests for them.

[JS PR](https://github.com/Azure/azure-sdk-for-js/pull/19723)

[2022-02-16 23:50] SaurabhSharma-MSFT commented on #27047
@h0las-dev Which `call.cs` you are referring to? Can you please share the file path ?

[2022-02-17 03:26] arunprakashn opened #27067 "[BUG] Invalid operation exception while sending batched messages to Service Bus Standard tier"
### Library name and version

Azure.Messaging.Servicebus 7.5.1

### Describe the bug

I was sending batched messages to Azure Service Standard and encountered the following exception. Note that this exception is not reproducible consistently. My observation is that when the load on the ASB Standard is close to getting it throttled, this happens.

[code]

### Expected behavior

There should not be

[2022-02-17 04:22] Yao725 commented on #26526
Hi @hachiang-msft , I believe that your cognitive service account should has been updated with this request. However there is something wrong with the long running operation status update which coming from the last request in your log. You can see that the last response is empty.

Can your upgrade the version  of Azure.ResourceManager to 1.0.0-beta.8, in which we have an optimization for the long

[2022-02-17 06:49] jzi96 commented on #27046
Good morning christothes,

your proposal/code snippet is working fine and was able to removed all my hacks to create the instance.

Maybe you can advice me as well, how to distinguish between SAS connection string and Account connection string?
Shall I close this thread, or will you take care?

Thank you very much
Jan

[2022-02-17 07:17] srivathsanvlb commented on #27067
I am from the same team as the author of this thread. We have throttled requests. According to the documentation we have not received the message "The request was terminated because the entity is being throttled. Error code: 50009. Please wait 2 seconds and try again". We are checking on that.

Also, MessagingErrorSubCode  should have some value as said in the metrics documentation, but no value i

[2022-02-17 07:46] dvbb commented on #26002
Microsoft.Azure.Management.Sql.Fluent provide a class [ExtendedServerBlobAuditingPoliciesOperations.cs](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Sql/Generated/ExtendedServerBlobAuditingPoliciesOperations.cs) to operating Audit logs in server.

[code]

#### Get server audit log infomation:
[code]

#### Update server audit log, let it link to a storage acco

[2022-02-17 07:59] rajdhandus commented on #26765
thanks for the response. is Delete exposed? How do I delete a Public IP Address given its name via the DotNet SDK ?

[2022-02-17 08:02] #26621 closed

[2022-02-17 08:13] ArthurMa1978 commented on #26765
First [get the public ip adress by the name](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/resourcemanager/Azure.ResourceManager#managing-existing-resources-by-id), then call the Delete method to remove it.

[2022-02-17 09:51] ArthurMa1978 commented on #26641
@archerzz  please help to check this issue

[2022-02-17 10:01] navba-MSFT commented on #14483
@bradygaster Apologies for the late reply. Thanks for reaching out to us. We are looking in this and we will provide an update once we have more details on this.

@adrianhall Could you please look into this ask and provide an update on this ?

[2022-02-17 10:22] ArthurMa1978 commented on #26589
Thank you for reaching us, @HarveyLink  please help on this issue.

[2022-02-17 10:24] ArthurMa1978 commented on #27058
The consumption service owns it, that can help to solve this issue

[2022-02-17 10:27] ArthurMa1978 commented on #27025
This issue might have been fixed, @fengzhou-msft  please help to confirm it

[2022-02-17 10:31] ArthurMa1978 commented on #26987
Thank you for reaching us, @archerzz  please check if this is the mgmt issue.

[2022-02-17 10:32] ArthurMa1978 commented on #26982
@archerzz  please help to check this issue

[2022-02-17 10:33] ArthurMa1978 commented on #26979
Thank you for reaching us, @Yao725  please take a look of this issue

[2022-02-17 10:36] ArthurMa1978 commented on #26953
we didn't refresh the sql sdk to support beta.8 ResourceManager lib, will refresh all libs include sql soon.

[2022-02-17 10:37] ArthurMa1978 commented on #26937
The docs team need to fix it, will check with docs team later.

[2022-02-17 10:39] ArthurMa1978 commented on #26925
Thanks for reaching us, @Yao725  please help to check.

[2022-02-17 10:43] ArthurMa1978 commented on #26884
Unfortunate the ClientRuntime is in maintenance mode , we will not do any changes except security issue.
So I encourage to use our new track 2 sdk which the namespace starts from 'Azure.ResourceManager' which is a brand new design and much [better](https://devblogs.microsoft.com/azure-sdk/introducing-the-new-azure-sdk-resource-management-libraries-for-net/) than the old track 1 sdk .  Currently it

[2022-02-17 10:45] hachiang-msft commented on #26526
No more exception from Azure.ResourceManager 1.0.0-beta.8 when updating resource successfully.

Thanks for your help!

[2022-02-17 10:47] h0las-dev commented on #27047
@SaurabhSharma-MSFT yes, it's Call.cs from Azure.Communication.Calling namespace in Azure.Communication.Calling SDK

[2022-02-17 10:51] h0las-dev commented on #27048
I've already got answer here: https://docs.microsoft.com/en-us/answers/questions/738122/azure-communication-service-does-net-sdk-have-any.html Thank you!

[2022-02-17 10:51] #27048 closed

[2022-02-17 10:55] lukos opened #27075 "[QUERY] Why is key auth authentication slow in Azure?"
### Library name and version

Azure.Identity 1.5.0.0

### Query/Question

We are running microservices in AKS and these services need to connect to Azure Key Vault to retrieve secrets. However, I am seeing excessive latency around the AD calls to make this work.

I setup the `SecretClient` like this:

[code]

but when calling a method which access the key vault, I see times like these:

![image](h

[2022-02-17 10:55] ArthurMa1978 commented on #26818
@vbossica a running should be [canceled](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.logic.iworkflowsoperations.deletewithhttpmessagesasync?view=azure-dotnet) first then [delete](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.logic.iworkflowsoperations.deletewithhttpmessagesasync?view=azure-dotnet).

[2022-02-17 11:10] MughundhanRaveendran-MSFT commented on #26152
@juanmalm , I am able to reproduce the issue by using your latest code. The issue only occurs when a user who has joined from Mac client is already present in the Teams call. I will have a discussion internally and get back to you.

Appreciate your patience on this issue.

[2022-02-17 11:12] ArthurMa1978 commented on #26708
@itai  this method is move back to [compute](https://docs.microsoft.com/en-us/dotnet/api/azure.resourcemanager.compute.virtualmachinescaleset.getasync?view=azure-dotnet-preview) now.

[2022-02-17 11:16] ArthurMa1978 commented on #26646
@Yao725 please help on it

[2022-02-17 11:17] ArthurMa1978 commented on #26647
yes, this will be supported soon

[2022-02-17 11:44] Yao725 commented on #26526
Thanks for your feedback, I will close this issue. Feel free to open a new one when you meet other issue.

[2022-02-17 11:44] #26526 closed

[2022-02-17 13:38] jsquire commented on #27067
@EldertGrootenboer:  Based on the message, stack trace, and source of an inner exception, this appears to be generated by the service.   Would you be so kind as to raise this for investigation?

[2022-02-17 13:38] jsquire commented on #27067
@arunprakashn: Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2022-02-17 13:49] PingPongSet opened #27077 "More Clarity needed: How to set up the Managed Identity so a developer can connect local Azure Func app to CosmosDB on Azure"
Great post below. But I need more information on how to set up the Managed Identity so a developer can connect a local Azure Func app to a CosmosDB on Azure

https://docs.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme?view=azure-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f73df56-2312-5851-7b5

[2022-02-17 14:36] dmfedorchuk commented on #24821
I faced the same issue for 12.7.0 and 12.8.0.  (Azure.Storage.Files.DataLake)
Storage account = "somename"

Expected to see smth like "somename.dfs.core.windows.net"
**Working fine for "12.6.2" and below.**

[code]

[2022-02-17 15:15] andyhammar commented on #26292
Hi @SaurabhSharma-MSFT. Don't think it happened before Nov 7th, or that's just the AppInsights retention cutoff :)
But, we've upgraded lib and also started scaling the event hub out, and not seen for a while - so I'm fine with closing this issue now. I'll raise a support ticket if we start seeing it again.
Thanks!

[2022-02-17 15:15] #26292 closed

[2022-02-17 16:04] #26918 closed

[2022-02-17 16:41] christothes commented on #27075
Hi @lukos  - What you are seeing is most likely delay from AAD itself, rather than something the client is doing. However, the token should be cached for all subsequent requests. Please let us know if that is not the case.

[2022-02-17 16:51] adrianhall commented on #14483
Hey Brady,  We can currently take a file or URL.  We are internally investigating if we can take a stream; if we can, it will be in the next major release of our SDK.  Since that will take longer than 6 months, I'm going to close this issue and track it in our internal backlog.

Thanks for the idea!

#close

[2022-02-17 17:03] christothes commented on #27077
Hi @PingPongSet -  Unfortunately, we don't have a new WebJob extension library in this repository that integrates with Azure.Identity. However, does the following documentation help at all? https://docs.microsoft.com/en-us/azure/cosmos-db/managed-identity-based-authentication#assign-a-system-assigned-managed-identity-to-a-function-app

[2022-02-17 17:25] cveld opened #27081 "Is it possible to instantiate an ArmClient instance with only an access token?"
I am looking for an example how we can instantiate an ArmClient instance with only an access token on the bearer header.
We see many ways to create a TokenCredential instance, but no option to instantiate one based on an access token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08c655e7-2704-ae65-5566-66e81f8325cc
*

[2022-02-17 17:26] azure-sdk commented on #27081
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.5321622,ARM:0.2787456,Docs:0.023764832'

[2022-02-17 17:46] #25634 closed

[2022-02-17 18:23] jsiegmund commented on #19858
@yowl i've reopened it for you. I'm not using FormRecognizer any more but feel free to hijack :).

[2022-02-17 19:43] kinelski opened #27083 "[FormRecognizer] Re-enable StartAnalyzeDocumentPopulatesExtractedReceiptJpg live test"
After investigation, these are the service changes that are making the test fail:
- The `ReceiptType` field is missing.
- The `Tax` field is missing.
- The `Name` field is missing for both receipt items.

[2022-02-17 20:05] #26837 closed

[2022-02-17 21:32] jsquire commented on #27081
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-17 22:25] SaurabhSharma-MSFT commented on #26727
@Qythyx Here is the idea behind deprecating the Tags from Templates -
In the registration model, each template is separate and has its own set of tags. One control’s which template is targeted by setting tags appropriately.
In the Installation model, the idea is that the Installation itself owns the set of tags. The template is a child resource that inherits all of the tags from the installation.

[2022-02-17 22:53] TechWatching opened #27085 "[FEATURE REQ] Be able to configure in AddAzureClients method some initialization for Azure service clients."
### Library name

Microsoft.Extensions.Azure

### Please describe the feature.

When using `Microsoft.Extensions.Azure` package to register a ****ServiceClient it would be grate to be able to have some overrides on the methods that register the clients to provide a lambda that gets executed once a client is first instantiated.

For instance let's say I am using `AddAzureClients` to register a Tabl

[2022-02-17 23:33] mmacy commented on #27039
@jsquire This might actually be AutoRest: https://github.com/Azure/autorest.csharp/issues/208

[2022-02-18 00:51] Qythyx commented on #26727
@SaurabhSharma-MSFT , thanks for the explanation. I think this makes sense, but I could not find any documentation that explained it clearly.

[2022-02-18 00:51] #26727 closed

[2022-02-18 01:19] HarveyLink commented on #26589
Hi @unruledboy , there is no Flunt SDK support for APIManagement.
However, we do have a APIManagement SDK, just not in flunt way : https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/8.0.0-preview
If possible, you could use it as the replacement.
Feel free to reach us if you have any questions.

[2022-02-18 02:22] blueww commented on #26602
@norton287

So I get what you mean is to update the sample in the doc: https://azure.microsoft.com/da-dk/resources/samples/storage-dotnet-resource-provider-getting-started/

@tamram
Would you please help to look at the doc update request?

[2022-02-18 03:36] Yao725 commented on #26979
Hi @JayDZimmerman , we have provide the method `WhatIf` in this new package.

You can use it to test the deployment at the different scope, here is the sample code of the resource group:
[code]

In the above code snippet, I set the second parameter `location` of method `WhatIfAsync` to be `string.Empty` because this property is not allowed at resource group scope, but in other scopes like tenant i

[2022-02-18 03:44] #14483 closed

[2022-02-18 04:29] Yao725 opened #27092 "Improve Azure.ResourceManager.Resources"
1. In Azure.ResourceManager.Resources, we have a method `WhatIf` to return changes that will be made by the deployment if executed at different scope like tenant, subscription, resource group, etc.

    Currently the unify of the different scope in to one method `WhatIf` brings up an issue when checking if the `location` parameter is null or not. This property is required at tenant and management

[2022-02-18 07:17] srivathsanvlb commented on #27067
Thank you @jsquire. Appreciate your work.

[2022-02-18 07:21] liurunliang commented on #25744
Hi @fscavo ,I am not able to reproduce this issue. It might be a temporary service issue and already recovered. Please provide more information if this issue still affects you.

[2022-02-18 08:02] #26532 closed

[2022-02-18 08:02] #26470 closed

[2022-02-18 08:02] #23760 closed

[2022-02-18 08:46] unruledboy commented on #26589
Thanks Harvey!

[2022-02-18 08:46] #26589 closed

[2022-02-18 08:51] v-yilinhu opened #27098 "[EventHub] Deploy test resources failing in nightly runs"
EventHub nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1374880&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1371624&view=results

@jsquire for notification.

[2022-02-18 08:51] v-yilinhu opened #27099 "[Translation] Windows2019_netcoreapp31_Coverage_Record failing in nightly runs"
Translation nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1375267&view=results

@jsquire for notification.

[2022-02-18 08:51] azure-sdk commented on #27099
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.34010407,Cognitive Services:0.13459358,Data Factory:0.11034894'

[2022-02-18 09:00] v-yilinhu opened #27101 "[Run Java SDK CI Script] Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=278265&view=results

@danieljurek for notification.

[2022-02-18 09:13] Yao725 opened #27102 "Bug of SslOption and SslPredefinedPolicy in Azure.ResourceManager.Network"
- Request path of `SslOption` is `/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default`, but the returned Id is `/subscriptions/subId/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default`.
- Request path of `SslPredefinedPolicy` is `/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewa

[2022-02-18 09:14] azure-sdk commented on #27102
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5870873,Service Bus:0.067569755,Tables:0.025441263'

[2022-02-18 09:36] dvbb commented on #24837
In the shared access policy, the [RegistryWrite] right includes the [RegistryRead] right by default
as shown in fiddler:

[code]

The current version of the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/iothub/resource-manager/Microsoft.Devices/preview/2021-07-01-preview/iothub.json#L2144) file is wrong

This issue will add the [Service Attention] label

[2022-02-18 09:43] dpmragu commented on #26289
Hi,  I tried with Azure.Security.KeyVault.Secrets with version 4.3.0-beta.5 and working fine as expected but not worked when we tried with 4.3.0-beta.2

Thanks.

[2022-02-18 14:17] jsquire commented on #27098
There is a service deployment issue in the Canary environment.   This is not under our control; we can only wait for a new deployment from the service team.  Closing this out.

[2022-02-18 14:17] #27098 closed

[2022-02-18 17:10] RyanHill-MSFT commented on #27047
@h0las-dev I responded over on https://docs.microsoft.com/en-us/answers/questions/737970/index.html.

TL;DR AddTextAnalyticsClient() I found as an extension method in Azure.AI.Analytics and it didn't match any signatures on the Call object. If your code is GitHub, we can take a closer look.

[2022-02-18 19:02] annelo-msft opened #27104 "Change param to ResponseClassifier in HttpPipeline.CreateMessage"
We need to develop an internal "ChainedClassifier". i.e. we would take `ResponseClassifier`, dynamically check if it's `CoreResponseClassifier`. If it is, we would clone. If it's not, we would wrap the `ResponseClassifier` and all `RequestContext` data in the `ChainedClassifier`.

See https://github.com/Azure/azure-sdk-for-net/pull/26547#discussion_r810264511

[2022-02-18 21:02] #26378 closed

[2022-02-18 21:03] #26377 closed

[2022-02-18 21:06] #22204 closed

[2022-02-18 21:06] #22203 closed

[2022-02-18 21:06] #23054 closed

[2022-02-18 21:06] #24389 closed

[2022-02-18 21:07] jsquire commented on #7048
@AlexGhiondea:  Is this still needed or can we close it out?

[2022-02-18 21:07] #5653 closed

[2022-02-18 21:36] heaths opened #27108 "Conversation Analysis for .NET (March 2022)"

[2022-02-18 21:36] heaths opened #27109 "Question Answering for .NET (March 2022)"

[2022-02-18 21:36] azure-sdk commented on #27108
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.36296195,Cognitive - Text Analytics:0.041410107,Storage:0.026522372'

[2022-02-18 21:37] azure-sdk commented on #27109
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.34735173,Storage:0.1871969,Cognitive - Form Recognizer:0.01304058'

[2022-02-18 21:57] billwert opened #27112 "Unify behavior of clientId and resourceId"
Recently we added the ability to set both a `clientId` and `resourceId` for user assigned managed identity lookups. This exposes the problem that if an environment sets `AZURE_CLIENT_ID` while the deployed code sets `resourceId` we'll hit an exception.

The work item here is two parts:
- [ ] decide what the correct behavior is when the environment variable is set. Do we throw? Do we always prefer

[2022-02-18 23:02] h0las-dev commented on #27047
Oh, I'm really sorry, it was my fault, I didn't check it's just extension. Thank you!

[2022-02-18 23:02] #27047 closed

[2022-02-18 23:05] h0las-dev commented on #27049
Got answer here: https://docs.microsoft.com/en-us/answers/questions/736185/azure-communication-service-access-to-audio-stream.html
Thank you!

[2022-02-18 23:05] #27049 closed

[2022-02-19 00:10] BitBender1 opened #27114 "Please explain what a query string for this method can look like"
this documentation page should maybe explain what the query-string can actually be, or point to another page that explains the possible query syntax. I am new to this function I have no idea what a query against a datalake-file could actually be or what syntax it could have. there is no chance I will randomly guess a working query, so there should be more information about the query string beyond

[2022-02-19 01:24] #26940 closed

[2022-02-19 07:30] Jinming-Hu commented on #15969
What exactly is the problem with metadata in this API? I'm working on this feature in C++ SDK, and it looks good to me.

[2022-02-19 08:02] #17284 closed

[2022-02-19 10:02] #26616 closed

[2022-02-19 12:22] preardon opened #27118 "[FEATURE REQ] Push message to the back of the queue"
### Library name

Azure,Messaging.ServiceBus

### Please describe the feature.

When using the ServiceBusReceiver Peak Message there are the follow options

- Abandon (release lock and put back up for processing)
- Complete (Ack off the Queue)
- Dead Letter (Send to the Dead letter sub queue)
- Defer (defer for processing later and don't re appear on the queue)

Ideally when I have a transient fai

[2022-02-19 14:56] jsquire commented on #27118
Hi @preardon.   Thank you for your feedback.   Unfortunately, this feature is something that would require service support to accomplish.   In a purely client-side implementation, the client would need to take the same steps that you describe above and require the same permissions to do so.

I've transferred this to the [Azure\azure-service-bus](https://github.com/Azure/azure-service-bus) reposito

[2022-02-19 14:56] #27118 closed

[2022-02-19 14:59] preardon commented on #27118
@jsquire thanks for pointing me in the right direction

[2022-02-19 14:59] #26228 closed

[2022-02-19 18:56] mmacy commented on #27039
While avoiding HTML in _new_ Swagger files might be the most expedient for new specs, it's certainly not the _best_ resolution. Both OpenAPI 2.0 and 3.0 support HTML and Markdown  in their description fields, so the right thing to do would be to support that in our code generator.

I've updated the original bug on this with additional information and a proposed solution in https://github.com/Azure

[2022-02-19 23:04] davidjenkins commented on #26381
I won't get a chance to test the beta before the 14 day window closes. But I trust you. :)

[2022-02-19 23:04] #26381 closed

[2022-02-20 00:47] EnenDaveyBoy opened #27119 "cani use DefaultAzureCredential() to getthe credentials of an azure function http trigger without using a key vault?"
### Library name and version

Azure.Identity

### Query/Question

I am trying to call an azure http trigger function which is configured to authorization level function from another azure http trigger funtion which has permission from a managed identity, but I can't a way to use DefaultAzureCredential without using a keyvault.

I want to remove the keyvault and makeit alot cleaning.

Any suggestio

[2022-02-20 03:57] JayDZimmerman commented on #26979
@Yao725 On line #11 of your example, does the deployment get executed?  Or is it merely creating the deployment, which can be executed at a later time?  That may be the root of my confusion:  my assumption was that calling "CreateOrUpdateAsync" on a deployment would initiate the deployment (which I didn't want since I was simply looking to generate the "WhatIf" scenario information).

[2022-02-20 10:39] PingPongSet commented on #27077
Hi @christothes
The content in that link is not working.
As part of this document, it should have provided at least a link to show how to set up the relevant Managed Identity.
Out of curiosity, why did you need a WebJob extension library to add a link to this document if that document is already available?

[2022-02-20 14:10] olitomlinson opened #27120 "[FEATURE REQ] Support binding to a specific 'SessionId' property in ServiceBusTrigger"
### Library name

Microsoft.Azure.Webjobs

### Please describe the feature.

My use case is I'm using Azure Functions runtime as part of an ACI deployment.

Each tenant in my multi-tenant system gets their own ACI instance. I want to use Session affinity to route & queue work to the correct ACI instance for each tenant.

To achieve this I want to use `ServiceBusTrigger` with a binding to a **speci

[2022-02-21 00:22] #23800 closed

[2022-02-21 00:25] amishra-dev commented on #25082
@amnguye can you follow up again on this?

[2022-02-21 00:28] amishra-dev commented on #25119
Please let us know if you need further assistance.

[2022-02-21 00:28] #25119 closed

[2022-02-21 00:39] amishra-dev commented on #25165
Hi Markus,
Apologies for missing this issue, are you still facing this problem?

[2022-02-21 00:41] amishra-dev commented on #25164
@marcduiker do you still need help?

[2022-02-21 00:42] amishra-dev commented on #25207
Identity folks, can you help?

[2022-02-21 00:42] wahyuen opened #27123 "[FEATURE REQ] DocumentAnalysisClient - Support extensions Dependency Injection"
### Library name

Azure.AI.FormRecognizer

### Please describe the feature.

Many of the new Azure SDKs add extension method support for ease of dependency injection registration. This actually already exists in this library but only for [`AddFormRecognizerClient`](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormRecognizerClientBuilderExtensi

[2022-02-21 00:44] #25246 closed

[2022-02-21 00:57] amishra-dev commented on #25316
Hi @Fisher-Joe,
You can get the blocklist (https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.specialized.blockblobclient.getblocklist?view=azure-dotnet)
And then use the offsets to download the data in parallel threads. @amnguye if we have an existing sample can you please link it here.

[2022-02-21 01:05] amishra-dev commented on #25868
@YuriyMS i am assuming you got helped with the ticket.
George, closing this as i have not heard back from you.

[2022-02-21 01:05] #25868 closed

[2022-02-21 01:06] amishra-dev commented on #25920
@kasobol-msft do we even support F#?

[2022-02-21 01:07] #26026 closed

[2022-02-21 01:12] amishra-dev commented on #26151
Hi @sppatel82 SP,
This API was removed from V12, we are working on adding it back. Meanwhile you can write a custom HTTP pipeline to set this user agent. Going forward we would like to add an api allowing you to append your user agent string to ours, but that work is yet to start. @jaschrep-msft fyi

[2022-02-21 01:15] amishra-dev commented on #9489
@amnguye any updates?

[2022-02-21 01:17] amishra-dev commented on #15478
I am assuming this is fixed now @amnguye?

[2022-02-21 01:22] amishra-dev commented on #23082
@jaschrep-msft any progress on this?

[2022-02-21 01:22] amishra-dev commented on #23128
@amnguye ?

[2022-02-21 01:24] amishra-dev commented on #24420
@kasobol-msft / @amnguye was this addressed?

[2022-02-21 01:25] #23634 closed

[2022-02-21 01:26] amishra-dev commented on #23319
@seanmcc-msft any update?

[2022-02-21 02:14] Yao725 commented on #26979
@JayDZimmerman Yes, on line 11 the deployment will get executed, I use this because I want to get the `WhatIf` info which comparing to an existing deployment. For you scenario, I think you can take following code in which no deployments get executed as example:
[code]

[2022-02-21 02:22] amishra-dev commented on #26839
thanks for reporting this @hossam-nasr Hossam, we will look into this.

[2022-02-21 03:05] liupeirong opened #27126 "[BUG] BlobServiceClient can't parse connection string with custom domain and not port 11002"
### Library name and version

Azure.Storage.Blobs 12.10.0

### Describe the bug

When using a custom domain in the blob connection string, for example, https://www.mydomain.com/myaccount, BlobServiceClient(connectionstring) or BlobServiceClient(serviceUri, credential) can't parse the account name correctly. Account name in BlobServiceClient appears empty after the constructor runs.

### Expected b

[2022-02-21 05:38] PramodValavala-MSFT commented on #26634
@ShriGrover Turned out this was coming from older source code of the same class. This has since been removed. Closing.

[2022-02-21 05:38] #26634 closed

[2022-02-21 06:12] a30006441 opened #27128 "Setting Timestamp does not publish custom metric at datetime set in Timestamp property"
Setting Timestamp does not publish custom metric at datetime set in Timestamp property

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15654394-9de6-0024-2e9b-727f09ff03a0
* Version Independent ID: a2554ff1-4e4a-c042-3072-f4b1a75fd47b
* Content: [MetricTelemetry.Timestamp Property (Microsoft.ApplicationInsights.DataCont

[2022-02-21 06:12] fengzhou-msft commented on #27025
Route to service team as the service should not return an empty string for principalId and tenantId.

[2022-02-21 06:22] fengzhou-msft commented on #26496
The issue shoud be fixed in [Azure.ResourceManager 1.0.0-beta.8](https://www.nuget.org/packages/Azure.ResourceManager/1.0.0-beta.8). Please try it and file new issues if you meet any.

[2022-02-21 06:22] #26496 closed

[2022-02-21 06:24] fengzhou-msft commented on #26489
The fix is released. Please try them and let us know if you still meet issues.

[2022-02-21 06:24] #26489 closed

[2022-02-21 08:15] serge-portima opened #27130 "[BUG] ReceiveDeferredMessageAsync with PeekLock doesn't renew lock"
### Library name and version

Azure.Messaging.ServiceBus 7.6.0

### Describe the bug

When calling DeferMessageAsync on a ServiceBusReceiver, the lock of the message you retrieve isn't renewed.
Meaning if the lock duration is expired one will not be able to acknowledge the message has been "Completed".

### Expected behavior

The lock was renewed and one can Complete the message.

### Actual behav

[2022-02-21 08:44] liurunliang commented on #25903
Hi @krelf I am not able to reproduce this issue. Please provide more information if it still affect you.

[2022-02-21 09:04] fengzhou-msft commented on #26843
According to the [example value](https://github.com/Azure/azure-powershell/blob/main/src/Network/Network/help/Get-AzVirtualNetworkGatewayBGPPeerStatus.md#example-1) in Azure Powershell, it is not a duration TimeSpan value.

[2022-02-21 11:17] #27092 closed

[2022-02-21 11:32] ChristianEder opened #27132 "[FEATURE REQ] Bring back the TableEntityAdapter for Azure.Data.Tables"
### Library name

Azure.Data.Tables

### Please describe the feature.

In the "old" SDKs such as `Microsoft.WindowsAzure.Storage.Table`, there was a class called `TableEntityAdapter` which implemented the `ITableEntity` interface and allowed to write and read any POCO (given some restrictions on property types are met) without having the POCO implement `ITableEntity` itself. See https://github.com

[2022-02-21 15:08] jsquire commented on #27120
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-21 15:10] jsquire commented on #27123
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-21 15:13] jsquire commented on #27132
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-21 15:14] jsquire commented on #27119
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-02-21 15:19] dujiulun opened #27133 "Reference page for "EnvironmentCredential Class" showing new beta feature and old package version"
Hi,

[The reference page for "`EnvironmentCredential` Class"](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.environmentcredential?view=azure-dotnet#feedback) is showing a new environment variable `AZURE_CLIENT_SEND_CERTIFICATE_CHAIN`, which is added in `1.6.0-beta1` and [not present in `1.5.0`](https://github.com/Azure/azure-sdk-for-net/blob/Azure.Identity_1.5.0/sdk/identity/Azure.Ide

[2022-02-21 15:41] jsquire commented on #27133
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-02-21 16:10] henrybeen opened #27135 "Variable name inconsistent"
All examples use a variable named cosmosClient to instantiate the CosmosClient, but the next line expects a variable called client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518ce5b7-5bf3-c3f7-8706-f02de23a1477
* Version Independent ID: 0e97660f-aceb-2e01-cbbc-9f69cd0f3bbf
* Content: [CosmosClient Class (Microsoft

[2022-02-21 18:43] JoshLove-msft commented on #27120
Hi @olitomlinson,
Can you clarify what version of the Service Bus extension you are using?

[2022-02-21 18:46] JoshLove-msft commented on #27130
@serge-portima can you clarify how long your processing is taking? The messages received using the ServiceBusReceiver (whether active or deferred) won't have their locks renewed automatically, so if your processing is taking longer than the queue's lock duration, the lock will be lost.

[2022-02-21 18:55] olitomlinson commented on #27120
@JoshLove-msft

[code]

[2022-02-21 20:43] d-m4m4n opened #27136 "[QUERY] CredentialUnavailableException handling when using DefaultAzureCredential and AzureSDKs"
### Library name and version

Azure.Identity 1.4.1

### Query/Question

We have infrastructure that is deployed to AKS. In order to connect our managed identity in this current subscription we assign the ManagedIdentity in our resource group to the AAD-PodIdentity system assigned managed identity. For the most part this is working well. Our service is an EventHubProcessor client that is started us

[2022-02-21 21:44] jsquire commented on #27136
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-02-22 01:50] kweebtronic opened #27137 "[BUG] Fatal parse error analysing document using invoice model - "not recognized as a valid DateTime""
### Library name and version

Azure.AI.FormRecognizer 4.0.0-beta.3

### Describe the bug

Send a document to the analyser for 'invoice' processing.
Service responds without error but SDK throws exception due to parsing issue.

### Expected behavior

SDK should return the analysed document information, with best efforts at recognising data types
This should be a TRY parse, not fail everything becau

[2022-02-22 02:45] caiyiJu opened #27138 "[QUERY]How to replace IMessageSession.ReceiveAsync() in new Azure.Messaging.ServiceBus?"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.2.0

### Query/Question

Hi,
When trying to update code that use Microsoft.Azure.WebJobs.Extensions.ServiceBus" Version="4.1.1" to new 5.2.0. There are some differences.

code when using version 4.1.1
[code]

code when using version 5.2.0

[code]

How to call: messageSession.ReceiveAsync() now?

### Environment

Net core

[2022-02-22 05:29] PramodValavala-MSFT commented on #27126
@liupeirong Thanks for the feedback! We will look into this and get back.

[2022-02-22 06:28] navba-MSFT commented on #27114
@BitBender1 Apologies for the late reply. Thanks for the feedback. We have created a PR Azure/azure-docs-sdk-dotnet#2141 to address this issue. It is currently pending on review.

[2022-02-22 06:47] dvbb commented on #25072
The `ActionTaken` property of  `Microsoft.Azure.Management.Security.Models.Alert` has been removed in the [latest version](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/alerts.json#L599).

This question will be routed to the service team.

[2022-02-22 07:51] serge-portima commented on #27130
Not long, the processing time doesn't matter, one could retrieve a message and try to complete is as next operation it will fail as the lock of a deferred message you retrieve is not acquired/renewed.

The step to reproduce the bug is:

Imagine your topic lock duration is set to 5 seconds:

- Send a message
- Receive it
- Defer it
- Wait for 6 (5 + 1) seconds
- Receive the deferred message (lock n

[2022-02-22 08:02] #26721 closed

[2022-02-22 11:00] MughundhanRaveendran-MSFT commented on #26755
@fazal60 , Apologies for the delay in response. 1 minute is the default timeout and I am not sure if the issue is caused due to setting the value to 30 seconds. You can try to set the MessageWaitTimeout value to 1 minute to see if the frequency of the issue is decreased. Also I would like to know the answer for the below query
Are you getting the lock expired exception even after renewing the sess

[2022-02-22 11:54] serge-portima commented on #27130
Here a complete example on how to reproduce the issue.

`using Azure.Identity;
using Azure.Messaging.ServiceBus;

const string ToDefer = nameof(ToDefer);
const string UnDefer = nameof(UnDefer);

const string TopicName = "demo-deferred-sj";
const string ServiceBusNamespace = "#######";
const string SubscriptionName = "all";

var oneSecondMoreThanLockDuration = TimeSpan.FromSeconds(6);

var userName

[2022-02-22 13:40] jsquire commented on #27138
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-22 13:47] jsquire commented on #27137
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-22 13:54] JayDZimmerman commented on #26979
@Yao725 That took care of it.  The secret sauce was the "CreateResourceIdentifier" method, which solved my primary issue of not knowing how to create a deployment (without executing it as well).  Thanks for your help.

[2022-02-22 13:54] #26979 closed

[2022-02-22 15:01] Joseandresc opened #27143 "Custom endpoint for connection establishment"
### Library name

Azure.Messaging.ServiceBus

### Please describe the feature.

Currently there is no way to specify an endpoint other than the FQDN of the namespace, specificying a custom endpoint is useful in scenarios where customers might not to connect through a custom domain that points to a Firewall, proxy, waf, etc.
This feature was implemented in the Event Hubs SDK https://github.com/Azur

[2022-02-22 15:21] christothes commented on #27119
Hi @EnenDaveyBoy - Could you provide an example of how you are currently configuring your trigger? If you are using ManagedIdentityCredential, there should be no need for KeyVault or any local secret configuration (unless you are configuring the ClientId of a user defined managed identity).

[2022-02-22 15:34] christothes commented on #27077
Could you clarify what specifically did not work? What problem or error did you run into?

[2022-02-22 16:02] #27019 closed

[2022-02-22 16:22] jsquire commented on #27143
//fyi:  @ramya-rao-a

[2022-02-22 16:22] jsquire commented on #27143
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-22 17:15] christothes commented on #27136
Hi @d-m4m4n In version 1.5.0 of Azure.Identity, we made some changes to how the managed identity endpoint is discovered (and determined to be unavailable). The newer version tries for much longer, which avoids false negatives when the endpoint doesn't appear immediately. Are you able to reproduces this with that version?

[2022-02-22 17:36] #7048 closed

[2022-02-22 17:42] d-m4m4n commented on #27136
Hey thanks for the reply! That was going to be my next step. I will give that a shot and see if that helps. I didn't see anything in the release notes so wasn't sure if there were any changes related. Will confirm in a few hours!

[2022-02-22 17:55] jaschrep-msft commented on #23082
Closing this issue. Feel free to reopen if the problem persists after eliminating this race condition.

[2022-02-22 17:55] #23082 closed

[2022-02-22 18:58] kasobol-msft commented on #25920
@amishra-dev yes, end of the day F# and C# share runtime, so one can use .NET libraries in F# app.

@atsapura The Retry is indeed read-only see https://docs.microsoft.com/en-us/dotnet/api/azure.core.clientoptions.retry?view=azure-dotnet#azure-core-clientoptions-retry (the `BlobClientOptions` derive from `ClientOptions`). If you want to modify retry you'd need to change them after `BlobClientOption

[2022-02-22 19:10] kinelski commented on #24994
4.0.0-beta.3 has been released.

[2022-02-22 19:10] #24994 closed

[2022-02-22 20:50] d-m4m4n commented on #27136
So I have updated and not seeing the CredentialUnavailableException. I am wondering if the above code seems correct? Or is there a better way to handle retries especially when these exceptions are thrown.

[2022-02-22 21:10] christothes commented on #27136
In version 1.5.0, the retries are handled automatically by `DefaultAzureCredential` so you shouldn't need to retry in your own code. Previously we just tried to make a TCP connection to the endpoint and failed if it did not connect on the first try after less than a second. The new code uses a default Retry policy.

[2022-02-22 21:30] kinelski commented on #27137
Hello @kweebtronic.

Thank you for bringing this matter to our attention. This issue has been reported by other customers in the past, and we are currently considering the possibility of adding `Try` methods as you suggested (here's the GitHub issue tracking this work: https://github.com/Azure/azure-sdk-for-net/issues/24596).

For the time being, have you tried accessing the `DocumentField.Content

[2022-02-22 22:16] sima-zhu opened #27267 "Cleanup .NET credscan baseline errors"

[2022-02-22 22:37] annelo-msft commented on #27007
Implemented in #26547

[2022-02-22 22:37] #27007 closed

[2022-02-22 23:01] #24621 closed

[2022-02-22 23:01] #24633 closed

[2022-02-22 23:02] #26879 closed

[2022-02-22 23:08] kweebtronic commented on #27137
To access DocumentField.Content I need to navigate sub-properties of the response class (response.Value.Documents[*].Fields[*])

Am I supposed to write some sort of try-catch logic for resolving the API response classes?
Doesn't seem like a robust API if that's the case

Still fails:
[code]

[2022-02-22 23:46] SaurabhSharma-MSFT commented on #25432
@Sti2nd No, it is not a default sorting order.  Here, the query calls the `OrderBy` method on in ascending order according to the passed key (i.e. `Created`) and also it is going to spend time do the sorting.

[2022-02-23 00:23] SaurabhSharma-MSFT commented on #27128
@a30006441 I am not able to reproduce the issue and I could see `timestamp` being sent to Cutom Metric.  See below
![image](https://user-images.githubusercontent.com/38112130/155242303-5df5da9c-8537-42c2-bb64-b466fb01a15c.png)

[2022-02-23 00:36] norton287 commented on #26602
@blueww Could this possibly utilize Authentication methods that work on Mobile Platforms?  My app is a cross-platform mobile app and the newer Azure.Identity methods of authentication do not work on mobile platforms at all.  Not sure why they coded them that way but it is sad.

If it is possible an authentication method that utilizes a service principle would be great!

John

[2022-02-23 00:51] jonlave opened #27151 "Not All Valid String Values are Listed For ContentType"
The page shows an example value of "text/plain" for a password, but certificates are also used in the parent class KeyvaultSecret, and through debugging, I found that the content type can be "application/x-pem-file" or "application/x-pkcs12". These should be listed in the documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-02-23 02:06] blueww commented on #26602
@norton287
For Mobile Platforms, this looks a new request, would you please open a new issue for this?
Besides that, the authentication way is aligned for all .net SDK, not only for Storage. So the new issue should not be a storage only issue.

[2022-02-23 03:01] nikhila-kudikala commented on #26711
Hi @SaurabhSharma-MSFT I am facing same issue and this occurs intermittently and I am unable to find root cause for it. And I checked StorageBlob logs regarding the same I found some errors around same time of this error with 404 "Resource not found " for same copyUri and operation is "GetBlob". Do you think this is related to Could not verify copy source errors? Could you please assist on this!

[2022-02-23 04:10] norton287 opened #27155 "Can this be updated to the latest packages and updated with the new method signatures"
[Enter feedback here]
The provided example for using this has out of date SDK packages.  Can they be updated?  Also if you can use mobile friendly authentication would be nice as Azure.Identity has most methods excluded from mobile.

Refer to this for background

Isuue #26602

[https://azure.microsoft.com/da-dk/resources/samples/storage-dotnet-resource-provider-getting-started/](url)
---
#### Docu

[2022-02-23 04:12] norton287 commented on #26602
@blueww Done

[2022-02-23 04:15] blueww commented on #26602
@norton287
I see you open an issue to following up both doc update and mobile.
This might need be follow up by different teams.
Please use one issue to follow one item.
So the issue https://github.com/Azure/azure-sdk-for-net/issues/27155 is mainly for doc update, would you please update it only for doc, then open a new issue for mobile?

[2022-02-23 04:35] norton287 opened #27156 "Mobile authenIcarian is limited when authenticating using the Azure.Identity methods"
[Enter feedback here]

---
#### Document Details
Can more mobile friendly authentication methods be provided in the documentation?

A majority of the Azure.Identity methods used in the docs are restricted from use on mobile.

A goodvexample is ClientSecretCredential method which should be allowed on mobile platform development.

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-02-23 05:45] kinelski commented on #27137
@kweebtronic Now I see I misunderstood the issue, so please disregard my previous reply. The behavior you're describing seems to be a bug.

From my understanding, the service is returning a document field with `"type": "Date"` and `"valueDate": "yyyy-08-21"`. Is that correct?

[2022-02-23 07:13] krispenner commented on #17425
@jvano I am now testing with on a Windows container within an ASE**v3**. The web app settings require `VNET_ROUTE_ALL=1` to be enabled, which I find a bit odd considering the web app is deployed within my VNet so it really can't not route through it. If I set it to `0` or try to delete the setting it just always reappears with a value of `1`. The problem now, is that Managed Identities don't work

[2022-02-23 08:02] #26447 closed

[2022-02-23 08:58] Sti2nd commented on #25432
@SaurabhSharma-MSFT There must be a default sort order since `GetItemLinqQueryable` returns `IOrderedQueryable`.

If data is not stored sorted in db it doesn't matter what the default sort is, though.

[2022-02-23 09:33] jvano commented on #17425
Hi

Recently we fixed VNET_ROUTE_ALL behavior for Windows Containers on Azure App Service and as you mentioned ASEv3 is always in a VNet context, so please open a support ticket and we will assist you:

How to create an Azure support request:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-02-23 11:11] navba-MSFT commented on #27135
@henrybeen Apologies for the late reply. the above PR Azure/azure-cosmos-dotnet-v3#3046 has been filed to address this issue. It is currently pending under review. In the meantime, if you have any questions, please feel free to ask.

[2022-02-23 11:54] konidev20 opened #27159 "[FEATURE REQ] Support for Azure Workload Identity Federation"
### Library name

Azure.Identity

### Please describe the feature.

Request to add support for environment variables supported by Azure Workload Identity Federation for Kubernetes service accounts and other providers.

My Use case:
Using the federated token to authenticate with Azure services from Azure Kubernetes Service. This I believe is possible through [Ref.1].

The environment variables I me

[2022-02-23 13:33] jsquire commented on #27151
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-23 13:36] jsquire commented on #27159
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-02-23 13:37] Yao725 commented on #26030
Any update?

[2022-02-23 13:55] Shivam60 opened #27161 "[QUERY] Why is `using Azure.Messaging.ServiceBus;` not working inside a namespace?"
### Library name and version

Azure.Messaging.ServiceBus 7.6.0

### Query/Question

I have a .net core project where I am trying to use using Azure.Messaging.ServiceBus;.

I have realized that if i import this outside the namespace then it dotnet is able to recognize the library however if i import it inside it then dotnet is not able to recognize it.

working
<img width="431" alt="image" src="htt

[2022-02-23 14:26] jsquire commented on #27161
Hi @Shivam60.  Thank you for reaching out and we regret that you're experiencing difficulties.  The issue that you're encountering is due to how namespaces are resolved; because you're using a top-level namespace that begins with `Microsoft` and have dependencies with namespaces using the `Microsoft.Azure.*` pattern, when the `using` clause is contained in your namespace, it is interpreted as `Mic

[2022-02-23 14:52] EnenDaveyBoy commented on #27119
hi

I understand if I want to use an output binding i wouldn't have a problem, however the issue i have is:

I have validation service, which needs to validate the information from another micro service, which means either a call to another function to validate the information, or a call to the function to get the information to allow this service to validate it,so either way there is a call to an

[2022-02-23 15:40] wimeling opened #27162 "[QUERY] What is the difference between BeginUpdateAsync and UpdateAsync for update Mysql Flexible server configurations"
### Library name and version

Microsoft.Azure.Management.MySQL  1.0.0

### Query/Question

What is the difference between calling Configurations.BeginUpdateAsync and Configurations.UpdateAsync. I am confused at to what is the difference when using this for updating configurations on the MySql flexible server

### Environment

_No response_

[2022-02-23 15:53] fazal60 commented on #26755
"Are you getting the lock expired exception even after renewing the session lock?"

Yes @MughundhanRaveendran-MSFT from the logs thats what seems to happen

[2022-02-23 16:55] m-carter1 opened #27163 "[BUG] Service Bus Message receiver removes message from queue but message is not received"
### Library name and version

Azure.Messaging.ServiceBus 7.6.0

### Describe the bug

If there is already a message in the queue **before the app starts** the message is removed from the queue when ReceiveMessageAsync is called but the message is not returned so it is lost!

Subsequent messages are received.

This happens with all versions. It works fine locally.

Using Microsoft.Azure.ServiceBus

[2022-02-23 17:01] jsquire commented on #27163
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-23 17:02] jsquire commented on #27162
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-23 17:24] ksstott opened #27164 "[BUG] System.ArgumentNullException: Value cannot be null. (Parameter 'queueName') when running in node functions app"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.Storage.Queues 5.0.0

### Describe the bug

We are writing a node based function app importing Microsoft.Azure.WebJobs.Extensions.Storage.Queues 5.0.0 via the Microsoft.Azure.Functions.ExtensionBundle extension bundle in our host.json however we cannot get our functions app to run successfully with a queue trigger function

### Expec

[2022-02-23 17:45] annelo-msft opened #27166 "[BUG] Disabling cookies causes DPG tests to fail"
### Library name and version

Azure.Core 1.23.0-20220121.1

### Describe the bug

When cookies are disabled, the following tests fail in the autorest.csharp `AutoRest.TestServerLowLevel.Tests` project:

![image](https://user-images.githubusercontent.com/21269347/155375941-7b425d31-f577-4e0b-98d4-6e065cc5565d.png)

#### HttpInfrastructureTests
![image](https://user-images.githubusercontent.com/2126

[2022-02-23 17:45] azure-sdk commented on #27166
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.12768671,Cognitive Services:0.09674578,KeyVault:0.06577825'

[2022-02-23 17:47] annelo-msft commented on #27166
It would be ideal if we could add relevant tests to the Azure.Core project to detect this kind of break earlier as part of the fix.

[2022-02-23 17:53] marcwittke commented on #2812
if someone stumbles on this, the `AvroPublicMemberContractResolver` has an overload to enable the expected nullable behavior

[code]

[2022-02-23 18:58] krispenner commented on #17425
Thanks @jvano. I have created a support request. Will close this.

[2022-02-23 18:58] #17425 closed

[2022-02-23 19:02] SaurabhSharma-MSFT commented on #25432
@Sti2nd Ok. Get it. I check internally and get back to you. Thanks.

[2022-02-23 19:13] SaurabhSharma-MSFT commented on #27155
@norton287 We are routing this to services team to look into.

[2022-02-23 19:14] SaurabhSharma-MSFT commented on #27156
@norton287 Redirecting this to relevant team to update the documentation accordingly.

[2022-02-23 19:40] bh3605 opened #27170 "[QUERY] Who is creating the Queue Message | servicebus dependency metric?"
### Library name and version

Azure.Messaging.Servicebus 7.4.0

### Query/Question

I'm investigating dependency metrics in our AI instance for the purpose of identifying and filtering out dependencies that provide us no value. One of the dependencies I'm seeing I believe is from the Azure.Messaging.Servicebus package. It's this "Queue Message | servicebus" dependency type. Who is sending this and

[2022-02-23 21:00] christothes commented on #27166
I discovered the cause of this issue and it is related to the autorest.testserver npm package that is used for these DPG tests.

The test server internally uses cookies to track state for retries and LRO status check iterations:
https://github.com/Azure/autorest.testserver/blob/8f0c493a1bb7b99ba19df65226f15734940179a6/legacy/routes/httpResponses.js#L190-L198

The implementation for tests in the au

[2022-02-23 21:17] d-m4m4n commented on #27136
Awesome. Well that solves this issue. Thanks so much for your help!

[2022-02-23 21:17] #27136 closed

[2022-02-23 22:09] annelo-msft commented on #27166
Thanks so much, @christothes for this investigation!!

[2022-02-23 22:11] m-nash commented on #27166
Is the implication here @christothes that if a customer is using cookies they will also be broken by design and must explicitly turn the setting on?

[2022-02-23 22:13] heaths commented on #27151
"text/plain" is typical for most secrets. If you choose to store a certificate yourself using secrets instead of the Azure.Security.KeyVault.Certificates SDK to manage certificates, you can choose whatever content type you like. As the documentation states, "text/plain" is only an example.

[2022-02-23 22:13] #27151 closed

[2022-02-23 22:16] christothes commented on #27166
More likely, this would be an issue if an Azure service required cookies. As far as we know this shouldn't be required by any service.

[2022-02-23 22:16] jsquire commented on #27170
Hi @bh3605.   Thank you for reaching out and we regret that you're experiencing difficulties.  Unfortunately, I'm not sure what it is that you're referencing.  In order to make sure that we can get this to the right folks to assist, can you help me understand where you're looking in AI and what you're seeing?   If possible, a screenshot or exact message text would be the most helpful.

[2022-02-23 22:17] m-nash commented on #27166
Are we relying on live test runs to validate this assumption?

[2022-02-23 22:18] m-nash commented on #27166
BTW can someone at Github please add the ability to reply directly to a top level comment instead of random quote replies all over the place?

[2022-02-23 22:19] christothes commented on #27166
That and the fact that cookies have always been disabled for framework. It just so happens that autorest.csharp only builds and tests against netcoreapp3.1.

[2022-02-23 23:02] kinelski commented on #26928
Duplicate of https://github.com/azure/azure-sdk-for-net/issues/24487.

[2022-02-23 23:02] #26928 closed

[2022-02-23 23:04] kinelski commented on #27083
This was closed by accident in place of https://github.com/azure/azure-sdk-for-net/issues/26605.

[2022-02-23 23:05] kinelski commented on #26605
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/27084.

[2022-02-23 23:05] #26605 closed

[2022-02-24 00:18] chlowell commented on #26714
In offline discussion we decided to raise this with the arch board and in the meantime align on consistent behavior. When configured for a user assigned identity on a platform that doesn't support them (Arc, Cloud Shell, Service Fabric), ManagedIdentityCredential should:
1. log a warning that user assigned managed identities aren't supported in this environment
2. add a query parameter to the toke

[2022-02-24 00:30] SaurabhSharma-MSFT commented on #27164
@ksstott I have tried this in my local environment, and it is working fine.
![image](https://user-images.githubusercontent.com/38112130/155434034-e1821f97-8209-43dd-b49b-3ddba7d4b875.png)

Can you please check what all extensions version you have in your local environment?
![image](https://user-images.githubusercontent.com/38112130/155433872-f6bb6e55-4e0c-46df-a375-8707f98b0084.png)

[2022-02-24 00:48] kweebtronic commented on #27137
@kinelski yes, traced the HTTP response and yes for some reason the API has returned that as a date value.
The SDK should be robust enough to still provide me a value response without falling over on this one dubious item though

[code]

[2022-02-24 00:52] #27135 closed

[2022-02-24 01:03] clement911 opened #27176 "Retrieve the expiry date of the client secret"
### Library name and version

Azure.Identity

### Query/Question

We use `ClientSecretCredential` to use the `ArmClient`, which works well so far.

However, we are concerned that the client secret has an expiry date. We'd like to generate some sort of warning if the client secret expires soon.
How can we use the SDK to fetch the expiry date of our app client secret?

![image](https://user-images.g

[2022-02-24 01:04] azure-sdk commented on #27176
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.39083818,Storage:0.08502188,AutoRest Runtime:0.0557232'

[2022-02-24 01:27] #26878 closed

[2022-02-24 03:39] zhiweiv commented on #18873
The new SDK Azure.Messaging.ServiceBus has got fixed, the Microsoft.Azure.ServiceBus is marked as deprecated and will only receive critical bug fixes, I guess this fix will not ported to Microsoft.Azure.ServiceBus.

[2022-02-24 03:39] #18873 closed

[2022-02-24 03:43] zhiweiv commented on #26953
@ArthurMa1978
Any timeline to share? We have used this sdk in some workloads, it is quite a problem for us now.

[2022-02-24 04:09] danielmarbach commented on #27030
Cool will think about it and once I have sufficient time I'll send a PR

[2022-02-24 04:57] #26994 closed

[2022-02-24 04:59] PramodValavala-MSFT commented on #26994
@EfimenkoAndrew We have listed this sample as part of [the samples page in the official docs](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-dotnet-v3sdk-samples) to make it more discoverable. It should reflect in a couple of hours. Closing.

[2022-02-24 05:53] #27114 closed

[2022-02-24 06:41] JoshLove-msft commented on #27057
Hi @dean-dot-git,
As you mentioned, the lock is managed at the session level rather than the message level when using sessions. Can you clarify what you wish to use the SessionLockedUntil value for?

[2022-02-24 06:58] peter-bertok commented on #27040
High-level rules for user-facing API surfaces do not necessarily apply to internal framework logic. These calls are _expected_ to fail, which by definition makes them _non-exceptional_. A standard optimization is to use "Try" methods, or some other method of detecting failure without throwing an exception. This is common practice throughout the .NET standard library.

Sure, but it's possible to re

[2022-02-24 07:10] ZejiaJiang opened #27180 "[BUG] Receive message with Uri type in application properties cast failed."
### Library name and version

Azure.Messaging.ServiceBus 7.6.0

### Describe the bug

Send message with `Uri` in application properties. Then receive this message and get Uri from application properties cast failed.

### Expected behavior

cast success.

### Actual behavior

The `Uri` become a String and cast failed.

### Reproduction Steps

code snippet:
[code]

### Environment

vs 2022

.net 6.0

[2022-02-24 07:41] #27180 closed

[2022-02-24 11:01] m-carter1 commented on #27163
Update

The deprecated library  Microsoft.Azure.ServiceBus started having the same issue.

Going back to Azure.Messaging.ServiceBus, regenerating new access keys gets it working again (i.e. will pick up the 1st message on startup) and after more testing it appears that the issue starts to happen if ServiceBusClient isn't disposed of

Exiting the app and deleting the pod doesn't appear to be enough

[2022-02-24 13:00] #26207 closed

[2022-02-24 13:00] deivyd321 commented on #26207
@LeszekKalibrate thank you

[2022-02-24 13:26] jsquire commented on #27176
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-02-24 15:41] christothes commented on #27176
Hi @clement911  - This information is not possible to retrieve with the Azure.Identiy client, however I believe this information can be queried with the [Graph API](https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0).

[2022-02-24 16:03] christothes commented on #27040
To clarify - we definitely value performance in the SDKs. However, I'd be quite surprised if the the exceptions being thrown is the significant factor in startup times you are experiencing.

We are aware of a recent performance regression in 1.5.0 related to the ManagedIdentity endpoint discovery in DefaultAzureCredential (see #24767), so I'm curious if this is what you are experiencing. Setting t

[2022-02-24 17:01] #24452 closed

[2022-02-24 17:15] bh3605 commented on #27170
Certainly! In fact here's a screenshot from an error this morning. It shows a POST action, the ServiceBusSender.Send metric which comes from Azure.Messaging.Servicebus and this Queue Message | servicebus metric whose origin I hope you can figure out.
![Message Metric AI Screenshot](https://user-images.githubusercontent.com/3073436/155573649-bda0530c-938d-44d5-abd4-b02d7882c129.PNG)

[2022-02-24 17:44] jsquire commented on #27170
Thank you for the additional context.  This is not something that the Service Bus client library directly controls.   We'll need to route this over to the Azure Montor team for their insights.

[2022-02-24 17:45] jsquire commented on #27170
@lmolkova: Do you have any thoughts?

[2022-02-24 18:38] tamram commented on #27155
@norton287 - I've updated the sample with the latest packages.

[2022-02-24 18:39] tamram commented on #27155
@norton287 - Per @blueww comment on https://github.com/Azure/azure-sdk-for-net/issues/26602, please open another issue for mobile.

#please-close

[2022-02-24 19:22] shahriak opened #27187 "[QUERY] The issuer certificate does not have an appropriate value for the Basic Constraints extensions"
### Library name and version

Azure.Security.KeyVault.Certificates 4.2.0

### Query/Question

Hello,
I created the following self-signed certificate directly in the Azure KeyVault. I am trying to mint an intermediate certificate from this using the code shown below, however, I have been hitting this error "Encountered an unhandled exception
      System.ArgumentException: The issuer certificate do

[2022-02-24 19:22] azure-sdk commented on #27187
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.16087878,KeyVault:0.10161822,Azure.Identity:0.0721485'

[2022-02-24 19:35] mikequ-taggysoft opened #27188 "[QUERY]When using DI to create clients (via Microsoft.Extensions.Azure), should we try to use .NET's IHttpClientFactory for the underlying HttpClient?"
### Library name and version

Azure.Storage..., Azure.Messaging...

### Query/Question

The recommended pattern to obtain various kinds of Azure service clients (`QueueServiceClient`,  `EventHubProducerClient` etc) in modern .NET applications is to use DI registered via helper methods provided by `Microsoft.Extensions.Azure` such as:

[code]
Looking through the documentation, it seems the SDKs int

[2022-02-24 19:35] azure-sdk commented on #27188
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Extensions:0.4999616,Storage:0.15416396,Search:0.042073775'

[2022-02-24 20:17] vbossica commented on #26818
@ArthurMa1978 correct.

But the delete method you're listing are for workflows, not for a workflow _runs_.

[2022-02-24 20:57] clement911 commented on #27176
That worked thanks.
[code]

[2022-02-24 20:57] #27176 closed

[2022-02-24 21:09] norton287 commented on #27155
This issue still viable I have already created another issue

From: Tamra Myers ***@***.******@***.***)
Reply: Azure/azure-sdk-for-net ***@***.******@***.***)
Date: February 24, 2022 at 12:39:50 PM
To: Azure/azure-sdk-for-net ***@***.******@***.***)
CC: John Norton ***@***.******@***.***), Mention ***@***.******@***.***)
Subject: Re: [Azure/azure-sdk-for-net] Can this be updated to the latest pack

[2022-02-24 21:18] annelo-msft commented on #27104
Per @ShivangiReja, we also need the ChainedClassifier as an approach to unblock generation of classifiers for HEAD requests.

[2022-02-24 21:55] sadasant opened #27194 "[Identity] Add `AllowLoggingAccountIdentifiers` to the credential options"
This is a copy of the same issue in JS: https://github.com/Azure/azure-sdk-for-js/issues/20502

Draft PR in JS: https://github.com/Azure/azure-sdk-for-js/pull/20516

---

While investigating what sensitive logging to add to our credentials, we have determined that the most useful information we could log are the account identifiers after retrieving a token. This issue describes a flexible approach

[2022-02-24 21:57] jsquire commented on #27187
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-24 22:01] heaths commented on #27187
Duplicate of Azure/azure-rest-api-specs#11962

The service needs to support this before we can in the SDK. I will also ping the service team internally about the referenced issue, but recommend subscribing to that one.

[2022-02-24 22:01] #27187 closed

[2022-02-24 22:03] jsquire commented on #27188
Hi @mikequ-taggysoft.  Thank you for your feedback.   There has been a lot of focus on ensuring that the `Azure.Core` pipeline works efficiently and performantly across a variety of scenarios.   Generally, we'd recommend registering the clients and allowing the clients to manage their `HttpClient` instances unless there is a scenario in your application that requires you to explicitly mange it.

[2022-02-24 22:04] #27188 closed

[2022-02-24 22:36] #26999 closed

[2022-02-24 22:36] norton287 commented on #27155
@tamram  Do not close this as this still needs to be done and is an issue.  I have already opened all the issues @blueww requested.  Do NOT CLOSE THIS AS IT IS NEEDED TO BE DONE!

[2022-02-24 22:38] tamram commented on #27155
@norton287 - I'm sorry, what still needs to be done here? I've updated the packages in the sample application. What else are you looking for?

[2022-02-24 22:42] norton287 commented on #27155
Update the method signatures for the updated packages

From: Tamra Myers ***@***.******@***.***)
Reply: Azure/azure-sdk-for-net ***@***.******@***.***)
Date: February 24, 2022 at 4:38:13 PM
To: Azure/azure-sdk-for-net ***@***.******@***.***)
CC: John Norton ***@***.******@***.***), Mention ***@***.******@***.***)
Subject: Re: [Azure/azure-sdk-for-net] Can this be updated to the latest packages and

[2022-02-24 22:45] tamram commented on #27155
The project compiles as is. Which method signatures need to be updated?

[2022-02-24 22:56] norton287 commented on #27155
Ok if it compiles fine go ahead and close. I was confused,. Wei wei has me opening so many issues I'm not sure which is which.

From: Tamra Myers ***@***.******@***.***)
Reply: Azure/azure-sdk-for-net ***@***.******@***.***)
Date: February 24, 2022 at 4:45:36 PM
To: Azure/azure-sdk-for-net ***@***.******@***.***)
CC: John Norton ***@***.******@***.***), Mention ***@***.******@***.***)
Subject: Re:

[2022-02-24 23:07] kinelski commented on #27123
Hello @wahyuen.

In response to your feedback, we have added the requested `AddDocumentAnalysisClient` extension methods to our library (PR is here: https://github.com/Azure/azure-sdk-for-net/pull/27168). It will become available in our next beta release, but we don't have a release date yet. I'll keep this issue open and let you know once we have the package out.

If this is blocking you, you can

[2022-02-24 23:10] tamram commented on #27155
#please-close

[2022-02-25 01:42] blueww commented on #27155
Close this issue as the doc is updated to the latest package.

[2022-02-25 01:42] #27155 closed

[2022-02-25 01:46] blueww commented on #26602
@norton287
I will close this issue, as the original issue (example for set legalhold) is already resolved.
For doc update, I see https://github.com/Azure/azure-sdk-for-net/issues/27155 is already fixed.
For the Mobile Platforms, I see https://github.com/Azure/azure-sdk-for-net/issues/27156 is opened.

Feel free to contact us is need any further support on .net SDK.

[2022-02-25 01:46] #26602 closed

[2022-02-25 02:29] norton287 commented on #26602
The only issue I have found after updating my local packages was the following statement in the sample was obsolete.

var result = await context.AcquireTokenAsync(“https://managment.azure.com/“,, cc).ConfigureAwait(false);

I had to use the [Obsolete] attribute to work around it.

I’m still processing the updates but that’s it so far.

John

From: Tamra Myers ***@***.******@***.***)
Reply: Azure/a

[2022-02-25 02:35] caiyiJu commented on #27138
Hello team, could we have an update for this?

[2022-02-25 02:48] wahyuen opened #27202 "[FEATURE REQ] FormRecognizer - Ability to deserialize AnalyzeResult"
### Library name and version

Azure.AI.FormRecognizer 4.0.0-beta,3

### Describe the bug

Currently whilst performing the new `Read` operation, the resultant response can be serialized but cannot be deserialized due to contructors being marked as `internal`.

This should be removed such that customers are able to utilize the object as they wish. Currently, a common pattern that is used is that res

[2022-02-25 02:48] azure-sdk commented on #27202
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.17622244,Cognitive - Form Recognizer:0.17102526,Azure.Identity:0.06626798'

[2022-02-25 03:11] blueww commented on #26602
@norton287
To avoid confuse, it's better to use the doc issue https://github.com/Azure/azure-sdk-for-net/issues/27155 to follow up the doc problem.

[2022-02-25 03:14] norton287 commented on #26602
Cannot that issue is closed now.

From: Wei Wei ***@***.******@***.***)
Reply: Azure/azure-sdk-for-net ***@***.******@***.***)
Date: February 24, 2022 at 9:11:59 PM
To: Azure/azure-sdk-for-net ***@***.******@***.***)
CC: John Norton ***@***.******@***.***), Mention ***@***.******@***.***)
Subject: Re: [Azure/azure-sdk-for-net] Need an example for how to implement this (Issue #26602)

[2022-02-25 03:14] blueww commented on #26602
@tamram , @ norton287

Just a kind remind.
Please use the doc issue https://github.com/Azure/azure-sdk-for-net/issues/27155 to track the doc package update, for a better tracking.

[2022-02-25 03:16] norton287 commented on #26602
reopen it so I can move the comment then please @bluww

From: Wei Wei ***@***.******@***.***)
Reply: Azure/azure-sdk-for-net ***@***.******@***.***)
Date: February 24, 2022 at 9:14:54 PM
To: Azure/azure-sdk-for-net ***@***.******@***.***)
CC: John Norton ***@***.******@***.***), Mention ***@***.******@***.***)
Subject: Re: [Azure/azure-sdk-for-net] Need an example for how to implement this (Issue

[2022-02-25 03:17] blueww commented on #26602
@norton287
This is also closed.
If you think that issue should be reopen, you can reopen it.

[2022-02-25 03:18] norton287 commented on #26602
ok

From: Wei Wei ***@***.******@***.***)
Reply: Azure/azure-sdk-for-net ***@***.******@***.***)
Date: February 24, 2022 at 9:17:37 PM
To: Azure/azure-sdk-for-net ***@***.******@***.***)
CC: John Norton ***@***.******@***.***), Mention ***@***.******@***.***)
Subject: Re: [Azure/azure-sdk-for-net] Need an example for how to implement this (Issue #26602)

[2022-02-25 03:36] SaurabhSharma-MSFT commented on #26519
@mrzr1024 Sorry my bad :( .  I checked for ADLS Gen2.  I will check on your ask and get back to you.

[2022-02-25 06:03] navba-MSFT commented on #17848
@gewarren Apologies for the late reply. We will update this thread once we have more details.

@calvinsID Could you please update this github thread once you get a chance ? Awaiting your reply.

[2022-02-25 06:40] navba-MSFT commented on #9489
@Tornhoof Apologies for the late reply. We will update this thread once we have more details.

@amnguye @seanmcc-msft Could you please provide an update on this github thread once you get a chance ? Awaiting your reply.

[2022-02-25 06:46] navba-MSFT commented on #9490
@fariskarcic Apologies for the late reply. I just wanted to check if you had a chance to look at the above comment provided by @schaabs. Please let us know if you have any pending questions. We would be happy to address.

[2022-02-25 06:51] navba-MSFT commented on #9608
@DouglasIsaksson Apologies for the late reply.

@seanmcc-msft Could you please update this github thread once you get a chance ? Awaiting your reply.

[2022-02-25 08:02] #24841 closed

[2022-02-25 08:11] #27102 closed

[2022-02-25 08:37] krishnad1982 opened #27205 "Azure.Messaging.ServiceBus.ServiceBusException: System.Net.Sockets.SocketException (110): Operation timed out"
Hi,
I use the below code to schedule the messages in Azure Web Job ServiceBusTrigger. However I am getting the below error immediately after starting the AKS containers
Azure.Messaging.ServiceBus" Version="7.5.0"
[code]

Azure.Messaging.ServiceBus.ServiceBusException: Operation timed out ErrorCode: TimedOut (ServiceCommunicationProblem)
 ---> System.Net.Sockets.SocketException (110): Operation tim

[2022-02-25 09:09] LZorglub opened #27207 "ServiceBus RenewLockAsync occurs too late"
### Library name and version

Azure.Messaging.ServiceBus 7.5.1

### Describe the bug

We use the library Azure.Messaging.serviceBus inside a webjob project (.net core 3.1) to process long running operation raised by event message. We use the ServiceBusTrigger attribute on function and let the library renew the locktoken when needed. The service bus queue has a LongDuration set to 5 minutes and the

[2022-02-25 09:11] v-yilinhu opened #27208 "[FormRecognizer] AdminOps(False) failing in nightly runs"
FormRecognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1393005&view=results

@jsquire for notification.

[2022-02-25 09:55] Tianyun-G opened #27209 "Azure Resource Manager Compute Readme and sample issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/compute/Azure.ResourceManager.Compute#authenticate-the-client),[link2](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/compute/Azure.ResourceManager.Compute/tests/Samples/Readme.cs#L5):
![image](https://user-images.githubusercontent.com/65581162/155690850-1065afce-5683-4428-bf12-e54d316a587c.png)
Suggestion: Sort

[2022-02-25 09:55] Tianyun-G opened #27210 "Azure Resource Manager Cosmos DB Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/cosmosdb/Azure.ResourceManager.CosmosDB#install-the-package):

![image](https://user-images.githubusercontent.com/65581162/155691340-abc0fca0-c564-4a0b-8ec3-858202d5d6c2.png)
Suggestion:
Update package version to [1.0.0-beta.3](https://www.nuget.org/packages/Azure.ResourceManager.CosmosDB/1.0.0-beta.3)

2.
Section [link](ht

[2022-02-25 09:55] Tianyun-G opened #27211 "Azure Resource Manager Cdn Readme issues"
1.
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/cdn/Azure.ResourceManager.Cdn#getting-started):
![image](https://user-images.githubusercontent.com/65581162/155692114-83c698c0-98fe-4860-aa00-a78c9a45a639.png)
Suggestion:
Update package version to [1.0.0-beta.3](https://www.nuget.org/packages/Azure.ResourceManager.Cdn/1.0.0-beta.3)

2.
Section [link](https://github.com/Azu

[2022-02-25 09:55] Tianyun-G opened #27212 "Microsoft Azure WebJobs Extensions Tables Readme and sample issues"
1.
Section [link1](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables#creating-a-single-entity),[link2](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables#binding-to-sdk-tableclient-type),[link3](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Microsoft.Azure.WebJobs.Extens

[2022-02-25 09:55] azure-sdk commented on #27211
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.19361311,Compute:0.15207437,Azure.Identity:0.12355808'

[2022-02-25 10:45] sa1nt commented on #20485
We ran into this using `com.azure:azure-messaging-servicebus:7.6.0` library in Java on a new Service Bus namespace in West Europe.

In our case we tried to use a _single_ `ServiceBusAdministrationAsyncClient` to create-if-missing _several_ ASB Topics, and started getting `HTTP 401 "claim is empty or token is invalid"` errors somewhere in the middle.

Workaround for us was to create a new `ServiceB

[2022-02-25 11:12] lukos commented on #27075
I'm seeing quite a lot of variation but still getting 100ms response times from the key vault, which isn't amazing (I am fetching secrets, not keys). In comparison, calls to an Azure database are between 2 and 12ms.

Due to the level of traffic, I think I might just re-architect it to store the secrets in the DB and forgo the key vault completely. I might also try some short-term caching but since

[2022-02-25 11:18] PramodValavala-MSFT commented on #27126
@liupeirong the custom domain is already mapped to a particular account. You don't need the account name in the URL.

So, a connection string like this should do (which I confirmed to work)

[code]

[2022-02-25 13:08] csiakgyula commented on #8561
+1 vote! We would also need this feature to check connection status without Exception to be raised or Message to sent over.

[2022-02-25 13:56] jsquire commented on #27207
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-25 15:08] jsquire commented on #27205
Hi @krishnad1982.  Thank you for reaching out and we regret that you're experiencing difficulties.  The stack trace and error message indicate that the Service Bus clients are unable to establish a connection to Service Bus.

When this occurs, it is normally due to the host environment blocking the AMQP ports (5671, 5672).    Specifying the web sockets transport can often help.   I've included an

[2022-02-25 15:37] christothes commented on #27075
Hi @lukos That makes sense. According to the [Key Vault documentation](https://docs.microsoft.com/en-us/azure/key-vault/general/overview-throttling), caching is recommended rather than using it as a real-time database.

[2022-02-25 16:02] #26289 closed

[2022-02-25 16:16] jsquire commented on #27202
Hi @wahyuen.  Thank you for your feedback.

Currently we intentionally do not support serialization for our model types since we can't guarantee compatibility across SDK versions.  Unfortunately, for now, the only supported way to instantiate models for data returned by the service is using the [FormRecognizerModelFactory](https://docs.microsoft.com/dotnet/api/azure.ai.formrecognizer.models.formre

[2022-02-25 16:36] calvinsID commented on #17848
Let me find the code owners in the backend repo that generates this, and tag them

[2022-02-25 17:00] KrzysztofCwalina commented on #27202
Let me clarify. We do support strong compatibility across SDK versions for public Azure SDK APIs on par with the high compatibility of .NET/CLR APIs. Serialization compatibility is a separate problem though, and a much harder problem, if I may add. Because of that, we probably don't want to say that we guarantee serialization compatibility of arbitrary models, but I think it's totally reasonable t

[2022-02-25 17:48] kvigor commented on #27164
I have the same issue.
Azure.Data.Tables 12.4.3
Microsoft.Azure.Functions.Extensions 1.1.0
And these 2 from a legacy package reference: Microsoft.Azure.Search (10.1.0) | WinfowsAzure.Storage 9.3.3

[2022-02-25 18:14] simratsatia opened #27216 ""Deploy an SSH-enabled VM with a Template with .NET" gives 404 Error"
Clicking on the provided 2 links in the page: [Deploy an SSH-enabled VM with a Template with .NET](https://azure.microsoft.com/resources/samples/resource-manager-dotnet-template-deployment/) and [Create and manage virtual machines](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-virtual-machine-samples) point to a page that doesn't exist.

![image](https://user-images.githubusercont

[2022-02-25 18:14] azure-sdk commented on #27216
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute - VM:0.5850377,Docs:0.08234425,Azure.Core:0.04424131'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.5475797,Client:0.2897419,Service:0.158352'

[2022-02-25 18:37] jsquire commented on #27216
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-25 18:45] #27212 closed

[2022-02-25 20:12] jsquire commented on #26889
[This fix](https://github.com/Azure/azure-webjobs-sdk/pull/2831) will be in version 3.0.33 of [Microsoft.Azure.WebJobs](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/).

[2022-02-25 20:19] jsquire opened #27223 "[TEST] Event Hubs is being Event Hubs"
### Library name and version

Azure.Messaging.EventHubs

### Describe the bug

Event Hubs gonna Event Hubs

### Expected behavior

Event Hubs should Event Hubs

### Actual behavior

Event Hubs is Event Hubs

### Reproduction Steps

Event Hubs

### Environment

_No response_

[2022-02-25 20:29] jsquire commented on #27223
test

[2022-02-25 20:45] jasmcc opened #27225 "Claim values are truncated at first comma"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.SignalRService 1.6.0

### Describe the bug

It appears that claim values when populated into InvocationContext are incorrectly truncated if they contain a comma.  We noticed this looking at the name claim for a user; one had like so:
FirstName LastName (Company, Inc.)

What actually gets into the name claim is:
FirstName LastName (Co

[2022-02-25 20:46] azure-sdk commented on #27225
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.20174699,Extensions:0.0898339,Functions:0.08797858'

[2022-02-25 20:51] wahyuen commented on #27202
@jsquire I may have missed something here, but I don't quite understand the thought process behind not guaranteeing 'compatibility' across SDK versions for serialization.

In the case where a model would change (as it can/should over the lifetime of a service), whether or not you support serialization or not still results in a customer/consumer having to update their code.

Whether its the SDKs mo

[2022-02-25 21:12] #27223 closed

[2022-02-25 21:13] jsquire opened #27227 "[TEST] Testing Service Bus Multiple Assignments"
### Library name and version

Azure.Messaging.ServiceBus

### Describe the bug

Azure.Messaging.ServiceBus

### Expected behavior

Azure.Messaging.ServiceBus

### Actual behavior

Azure.Messaging.ServiceBus

### Reproduction Steps

Azure.Messaging.ServiceBus

### Environment

Azure.Messaging.ServiceBus

[2022-02-25 21:15] jsquire commented on #27227
@JoshLove-msft:  Please ignore.  This is me testing rule sets

[2022-02-25 21:15] #27227 closed

[2022-02-25 21:16] jsquire opened #27228 "[TEST] Test of CXP Forward for Unknown Owners"
### Library name and version

Azure.Identity

### Describe the bug

Azure.Identity

### Expected behavior

Azure.Identity

### Actual behavior

Azure.Identity

### Reproduction Steps

Azure.Identity

### Environment

Azure.Identity

[2022-02-25 21:18] #27228 closed

[2022-02-25 21:21] jsquire opened #27229 "[SQUIRE TEST] Testing of CXP Forward for Unassigned Issues"
### Library name and version

Azure.Identity

### Describe the bug

Azure.Identity

### Expected behavior

Azure.Identity

### Actual behavior

Azure.Identity

### Reproduction Steps

Azure.Identity

### Environment

Azure.Identity

[2022-02-25 21:33] #27229 closed

[2022-02-25 21:44] krishnad1982 commented on #27205
Using the normal service bus trigger to receive the messages and scheduling messages for 2 hour(pushing messages back to the same Topic). After the schedule expiry, we use the same trigger to receive and process the messages.

Below mentioned trigger was working without any issues. It started failing after the scheduling part was introduced into the codebase.
Current settings
[code]
[code]

[2022-02-25 22:03] kinelski commented on #27208
Duplicate of https://github.com/azure/azure-sdk-for-net/issues/26956. Closing this.

[2022-02-25 22:03] #27208 closed

[2022-02-25 22:21] jsquire commented on #27205
Hi @krishnad1982.   Thank you for the additional context.   I notice that you're creating a new `ServiceBusClient`  and `ServiceBusSender` each time the `else` condition is triggered, and that they're not being closed or disposed.   This will cause the network resources to be orphaned without being cleaned up.   _(it is also going to perform poorly because the connection and link have to be create

[2022-02-25 22:29] jsquire opened #27232 "[SQUIRE TEST] Assign without CC Test"
### Library name and version

Azure.Messaging.EventHubs

### Describe the bug

Azure.Messaging.EventHubs

### Expected behavior

Azure.Messaging.EventHubs

### Actual behavior

Azure.Messaging.EventHubs

### Reproduction Steps

Azure.Messaging.EventHubs

### Environment

Azure.Messaging.EventHubs

[2022-02-25 22:34] jsquire commented on #27232
/squire

[2022-02-25 22:40] #27232 closed

[2022-02-26 01:41] SaurabhSharma-MSFT commented on #27225
@jasmcc Thanks for sharing details.  We are looking into it and get back to you for any questions.

[2022-02-26 04:22] krishnad1982 commented on #27205
Hey @jsquire
Thanks for the swift reply. I could not bind the ServiceBusSender directly "**_Cannot bind parameter 'sender' to type ServiceBusSender_**". However, I managed to use it with ServiceBus Trigger as mentioned below.
I will update once done with my testing.
[code]

[2022-02-26 08:02] #26409 closed

[2022-02-26 08:02] #25483 closed

[2022-02-27 02:35] liupeirong commented on #27126
@PramodValavala-MSFT, can you paste your code please? It doesn't work for me using the exact string you pasted. See screenshot below:
![image](https://user-images.githubusercontent.com/1184120/155865908-4ecc9d56-36cf-48bd-af89-aa1189ec4c2d.png)

[2022-02-27 19:17] mjkent commented on #24851
If someone else stumbles upon this, we found a few ways to fix this:
1. Switch to Windows App Service
2. Switch to NAT Gateway
3. Upgrade to Net 6.0

🤷

[2022-02-28 00:00] nisha-bhatia commented on #23687
CredScan step is now active in pipelines.

[2022-02-28 00:00] #23687 closed

[2022-02-28 04:02] #25579 closed

[2022-02-28 04:02] #25164 closed

[2022-02-28 04:03] peter-bertok commented on #21958
Performance should always be a goal, even at development time.

I'm seeing a full second added to every dependency call, which would otherwise take single-digit milliseconds to complete.

This is slowing down dev-test cycles unacceptably. It makes it impossible to determine the performance of code while in Visual Studio. This generally makes Azure.Identity an absolute no-go for our purposes.

[2022-02-28 06:00] dean-dot-git commented on #27057
Hi @JoshLove-msft ,
I am using it to validate when the Session is locked until.  When we have code that executes on the trigger, maybe it fails, it would be nice to know how much time is left on the lock to determine what actions we can take when we have a retry configured to fire.  It just needs to be an accurate date time so business decisions can be made.

[2022-02-28 07:18] navba-MSFT commented on #10014
@srivathsanvlb Apologies for the late reply. Thanks for reaching out to us. We are looking into this ask. We will update this thread once we have more details on this.

cc @kasun04

[2022-02-28 08:04] JoshLove-msft commented on #27207
@LZorglub are you sure that the expiry time is in the past when the lock renewal is attempted? It's possible that the connection dropped temporarily which would also result in this behavior. I think we can at least improve the logging so that the current expiry time is included for RenewLockAsync start.

[2022-02-28 08:05] JoshLove-msft commented on #27163
Hi @m-carter1,
Are you able to include a full repro? I have not seen the issue using the code provided.

[2022-02-28 08:07] JoshLove-msft commented on #27138
@caiyiJu, can you explain why you want to receive another message from your function? The function already executes whenever a message is received.

[2022-02-28 08:38] navba-MSFT commented on #13272
@Expecho @UsmanMohammad Apologies for the late reply. We are looking into this and we will provide an update once we have more details on this.

@JoshLove-msft @jfggdl Could you please provide an update on this github thread ? Awaiting your reply.

[2022-02-28 08:44] navba-MSFT commented on #17255
@xagon Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you still need any assistance on this issue ? Awaiting your reply.

[2022-02-28 09:34] egraff opened #27242 "[BUG] BlobContainerClient.GetPropertiesAsync() returns BlobContainerProperties with PublicAccess null instead of PublicAccessType.None"
### Library name and version

Azure.Storage.Blobs 12.10.0

### Describe the bug

Using the `BlobContainerClient` to send a [Get Container Properties](https://docs.microsoft.com/en-us/rest/api/storageservices/get-container-properties) request using the `GetPropertiesAsync()` method, i.e.

[code]

if the container is configured for _no public access_, the returned `PublicAccess` of the `BlobContaine

[2022-02-28 09:47] JsAndDotNet opened #27243 "Cannot Add Immutability Policy With Active Directory"
### Library name and version

Azure.Storage.Blobs version 12.10.0

### Describe the bug

When I run code using a SAS token, I am able to upload a blob to storage with an Immutability Policy.

However, when I try to run the same code, but using Azure Active Directory (AAD), the following is noted:
1. OK - I CAN upload a document WITHOUT an Immutability Policy (so AAD must be working?)
2. ERROR - I

[2022-02-28 09:52] dvbb commented on #25382
Based on my understanding, I think you want to implement the Dependency Inject of `Microsoft.Azure.Management.Fluent.Azure` in ASP.NET Core, here is an example for that.

If my understanding is wrong, please feel free to give me feedback.

#### Startip.cs
[code]

#### Controller
[code]

[2022-02-28 10:05] navba-MSFT commented on #23507
@jackbond Apologies for the late reply. Thanks for the feedback. We are looking into this issue. We will update this thread once we have more details on this.

 @QingChenmsft, @vaishnavk, @juhacket Could you please provide an update on this ? Awaiting your reply.

[2022-02-28 10:20] mathiasi opened #27244 "[QUERY] Azure Table Storage: Use existing properties as PartitionKey and RowKey"
### Library name and version

Azure.Data.Tables 12.4.0

### Query/Question

I have a model where existing fields already fits quite nicely for RowKey and PartitionKey but I don't know how to assign them and not have duplicate data. Consider this example:
[code]
This works but we get duplicate data as expected. Then I tried to add [IgnoreDataMember] to Id, Receiver and Received but then I cannot qu

[2022-02-28 10:21] azure-sdk commented on #27244
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.40153337,Search:0.13353458,Storage:0.12794055'

[2022-02-28 11:40] LZorglub commented on #27207
Yes the expiry time is well in the past, the **ServiceBusEventSource.Log.ProcessorRenewMessageLockStart** occurs well after the last renew token, we suppose that the **CalculateRenewDelay(message.LockedUntil)** is well calculate (5min - 10seconds) ike others renew task.

[code]
The first renew is correct, the second (although the RenewMessageLock occurs at 02:10:19) send the RenewLockAsync 5min an

[2022-02-28 13:28] jsquire commented on #27244
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-02-28 14:01] devwheel opened #27245 "Examples.ListAsync yields JsonReaderException: JSON integer 9563023914 is too large or small for an Int32."
` var ex2 = await client.Examples.ListAsync(appId, "0.1", 0, 1, false);`

Payload from fiddler:

[{"id":9563023914,"text":"did you like the movie jumanji","intentLabel":"Movie.GetSynopis","tokenizedText":["did","you","like","the","movie","jumanji"],"entityLabels":[{"entityName":"Movie Name","startTokenIndex":5,"endTokenIndex":5,"role":null,"roleId":null,"children":[]}],"intentPredictions":[{"name"

[2022-02-28 14:42] jsquire commented on #27245
Hi @devwheel.  Thank you for reaching out and we regret that you're experiencing difficulties.   Unfortunately, I'm not able to infer from context how to best refer you for assistance.   Would you be so kind as to let us know which SDK package you're using and help us understand more about the scenario that you're discussing?

[2022-02-28 15:00] PramodValavala-MSFT commented on #27126
@liupeirong I didn't check for the `AccountName` value but ran the code you mentioned didn't work. The following to be exact

[code]

I did not get an error on the 3rd line like you've mentioned but I do see that 'AccountName` is null. @seanmcc-msft Could you share insights on this?

[2022-02-28 15:36] jsquire opened #27246 "[SQUIRE TEST] Event Hubs"
Azure.Messaging.EventHubs should be labeled as Client and Event Hubs

[2022-02-28 15:42] #27246 closed

[2022-02-28 15:42] jsquire opened #27247 "[SQUIRE TEST] Azure.Identity"
### Library name and version

Azure.Identity

### Describe the bug

Azure.Identity

### Expected behavior

Azure.Identity

### Actual behavior

Azure.Identity

### Reproduction Steps

Azure.Identity

### Environment

Azure.Identity

[2022-02-28 15:43] #27247 closed

[2022-02-28 15:43] jsquire commented on #27247
/squire

[2022-02-28 16:07] christothes commented on #27244
Hi @mathiasi
You can rename fields for serialization using the `[DataMember(Name = "renamed_property")]` attribute, however I don't think this is helpful for your specific scenario. Since `PartitionKey` and `RowKey` are required properties, you can't avoid having them be part of the entity. Also, in order to query by a field name, it must be present in the service side column list of the entity.

[2022-02-28 16:12] jsquire opened #27249 "[SQUIRE TEST] Azure.Messaging.EventHubs"
### Library name and version

Azure.Messaging.EventHubs

### Describe the bug

Azure.Messaging.EventHubs

### Expected behavior

Azure.Messaging.EventHubs

### Actual behavior

Azure.Messaging.EventHubs

### Reproduction Steps

Azure.Messaging.EventHubs

### Environment

Azure.Messaging.EventHubs

[2022-02-28 16:17] jsquire commented on #27249
/squire

[2022-02-28 16:30] #27249 closed

[2022-02-28 17:19] tamram commented on #26602
@norton287 - you can continue to post on a closed issue. we will still get the notifications.

[2022-02-28 18:21] JoshLove-msft commented on #27207
If you experiencing thread exhaustion, then I don't see how changing the buffer time is going to help. Are you using "sync over async" anywhere in your application? This could lead to thread exhaustion.

[2022-02-28 18:23] JoshLove-msft commented on #27207
The expected time would be 2:12:49, because we use the minimum of half the remaining time and the 10 second buffer, so the delay would end up being 2.5 minutes here.

[2022-02-28 19:28] bh3605 commented on #27170
We use NServicBus which doesn't utilize any batch api that may exist in the SDK. It utilizes transactions, but you can be selectively on whether you want to send a message right this instant (using `Send(msg).ConfigureAwait(false);`) or remove the `ConfigureAwait()` to have it send when it gets a chance. Which is kind of like batching.

- We don't use any batching
- Visual noise is the main driver

[2022-02-28 19:46] jaschrep-msft opened #27253 "[FEATURE REQ] Automated Transfer Validation API"
### Library name

Azure.Storage

### Please describe the feature.

API for library-calculated checksums on individual transfer requests.

[2022-02-28 20:33] dlebee commented on #18002
It works out of the box, one issue I noticed is that the library makes use of the old System.Diagnostic.DiagnostiSources and if any projects references the new diagnostic versions it breaks down see.

https://github.com/dlebee/corrolation-function-servicebus

[2022-02-28 20:39] lmolkova commented on #18002
@dlebee Unfortunately Azure Functions doesn't allow to use DiagnosticSource version that's ahead of the host version, Azure SDK are compatible with Function runtime v2+ and can't update DiagnosticSource.

[2022-02-28 20:52] SaurabhSharma-MSFT commented on #27164
Hi @ksstott, @kvigor
1. Is it time triggered, or direct Queue triggered?
2. the error says the queue name is null, cam u makes sure you are passing the queue name
3. Can u run the function app in local dev machine as part of local debug and check?

Thanks
Saurabh

[2022-02-28 20:58] #24167 closed

[2022-02-28 21:21] #25452 closed

[2022-02-28 22:31] JoshLove-msft commented on #27130
I've only been able to repro the issue when I put a breakpoint and intentionally wait for the lock duration to expire. When receiving the deferred messages using the receiver, there is no automatic lock renewal happening, so you would need to complete the message within 5 seconds. If I let the application run without breaking, it completes the deferred message without throwing an exception. Can yo

[2022-02-28 23:26] amishra-dev commented on #26140
Tagged the wrong person @jsquire Jesse :)

@asgoe, lets sort it out over email and we can put the summary here. I do apologize for the delay

[2022-02-28 23:57] wahyuen opened #27260 "[QUERY] FormRecognizer - Error Handling"
### Library name and version

Azure.AI.FormRecognizer 4.0.0-beta,3

### Query/Question

What is the expectations for consumers of the SDK in respect to processing and pulling out information when the service throws an Exception?

Currently, the SDK appears to throw a `RequestFailedException` but does not contain any `InnerException`. The meaningful part of the exception is currently buried under t

[2022-02-28 23:57] azure-sdk commented on #27260
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.2236037,Storage:0.19320105,Service Bus:0.076246895'

[2022-03-01 00:01] dlebee commented on #18002
I actually found a way to fix Activity Tags and have a potential hotfix to support it if you are interested using OperationLinks just cleaning it up a bit.

It involves activating the experimental flag of supporting Activity of the library ServiceBus Messaging and a bit of Telemetry Initializers.

[2022-03-01 00:46] amishra-dev commented on #26640
@billti Bill, have you looked at https://docs.microsoft.com/en-us/rest/api/storageservices/specifying-the-range-header-for-blob-service-operations
This should help explain the REST API behavior, we will look into improving the docs

[2022-03-01 00:50] amishra-dev commented on #24959
please file a new issue if you are still hitting this, ideally the rollout should have taken care of this.

[2022-03-01 00:50] #24959 closed

[2022-03-01 00:51] amishra-dev commented on #24955
@Luaancz from your last message its not clear if you still need help. could you kindly confirm

[2022-03-01 00:53] amishra-dev commented on #23802
This was fixed. Please reactivate if you disagree.

[2022-03-01 00:53] #23802 closed

[2022-03-01 00:53] amishra-dev commented on #23031
The service fix has rolled out for this.

[2022-03-01 00:53] #23031 closed

[2022-03-01 00:57] amishra-dev commented on #18592
@tg-msft Ted any update on this? @jaschrep-msft can you please track this from our side?

[2022-03-01 00:57] amishra-dev commented on #18401
@amnguye did you get a chance to check?

[2022-03-01 00:59] amishra-dev commented on #25317
@kasobol-msft could you work with @jaschrep-msft to see what it will take to fix in upload?

[2022-03-01 01:00] amishra-dev commented on #20931
@amnguye any updates?

[2022-03-01 01:02] annelo-msft commented on #27104
Completed with: https://github.com/Azure/azure-sdk-for-net/pull/27193

[2022-03-01 01:02] #27104 closed

[2022-03-01 01:02] JoshLove-msft opened #27261 "[Functions] Add migration guides for each function extension"
- [ ] Service Bus
- [ ] Event Hubs
- [ ] Event Grid
- [ ] Tables

[2022-03-01 01:36] SaurabhSharma-MSFT commented on #27242
@egraff I could see the same behavior in my environment and routing this to services team to look into.

![image](https://user-images.githubusercontent.com/38112130/156088103-e5946f85-7a9d-4c17-91dd-2139bfdb010b.png)

[2022-03-01 01:52] SaurabhSharma-MSFT commented on #27243
@JsAndDotNet I am able to reproduce this issue and getting the same error as yours while uploading blob with an immutable policy.
![image](https://user-images.githubusercontent.com/38112130/156089584-04c65d35-2d17-491a-8c0b-0ee02ad6200d.png)
I am redirecting this to services team to look into.

Thanks
Saurabh

[2022-03-01 02:52] caiyiJu commented on #27138
@JoshLove-msft As batch and concurrent session cannot be used together per [the documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus). Will it be more efficient if we receive another message at the same time? By the way, could you explain why the method is removed if there is no such method in the new version? This will also be helpful to understand

[2022-03-01 03:13] liupeirong commented on #27126
@PramodValavala-MSFT, if the URL is invalid, you will not see an exception, but it will hang on the third line. If the URL is valid, you will see an exception.

[2022-03-01 03:55] krelf commented on #25903
Hi @liurunliang, this issue still persists.  Further instances occurred within the last week.  What additional information do you require?

[2022-03-01 04:57] JoshLove-msft commented on #27138
I think using the function in that way to receive additional messages is a workaround for what you would really want - session concurrency when using batch receive, right? If that's the case, I'd rather attempt to address this by extending maxConcurrentSessions to work for functions that take an array of messages.

[2022-03-01 07:05] serge-portima commented on #27130
Did you adapt the value of "oneSecondMoreThanLockDuration" to match your topic's subscription settings? You wouldn't need to set a breakpoint if you did. At least that's how it behave on my side.

[2022-03-01 07:07] JoshLove-msft commented on #27130
Yes, I actually updated the lock duration to be 5 seconds to match your description.

[2022-03-01 07:15] Yao725 commented on #27211
- We released the 1.0.0-beta.3 from this [feature branch](https://github.com/Azure/azure-sdk-for-net/tree/feature/mgmt-cdn-2021-06), so 1.0.0-beta.2 is still used here because the code in main branch belongs to beta.2. In next release from the main branch, this version number here will be updated to 1.0.0-beta.4.
- We missed this part and will add the link to the places that you mentioned.

Thanks

[2022-03-01 07:28] serge-portima commented on #27130
Here's my configuration, maybe there something in there which leads to this undesirable behavior.
![Topic](https://i.ibb.co/5j2yKFF/topic.png)
![subscription](https://i.ibb.co/86bwFGR/Subscription.png)

And with that I always get the same result
![console](https://i.ibb.co/xCGqcBZ/Console.png)

[2022-03-01 07:45] Luaancz commented on #24955
@amishra-dev  Yes, this is still a problem. No matter how they were created, we have blobs with trailing slashes, and they cannot be easily accessed in v12 SDK.

[2022-03-01 09:06] KarishmaGhiya opened #27263 "[Identity] Getting a token via VisualStudioCodeCredential using v0.10.0 of the Azure Account Extension results in an error"
Name of the cache where the token is stored has [changed from version 0.9.11 to 0.10.0 for Azure Account extension for VS Code](https://github.com/microsoft/vscode-azure-account/issues/443#issuecomment-1048018144). As a result of this the Visual Studio Code Credential throws an error/ exception in JS with the following message because the cache with that name is not found
![image](https://user-ima

[2022-03-01 09:14] LZorglub commented on #27207
[code]

As the renewAfter is (remainingTime - buffer) it's more like remainingTime = 5 minutes and buffer = Min(2.5min, 10seconds) = 10seconds
So the renewAfter will be 5minutes - 10 seconds = 4min50

We will check all ours Task call.

[2022-03-01 11:34] peterboba commented on #26646
Thank you @Yao725 . Do you have any idea when will `GetVirtualMachineScaleSetPublicIPAddresses` be released?

[2022-03-01 12:00] JulianSarkinovic opened #27264 "[BUG] BlobClient.UploadAsync throws BlobAlreadyExists, whilst the blob does not already exist."
### Library name and version

Azure.Storage.Blobs 12.10.0

### Describe the bug

[BlobClient.UploadAsync(Stream, Boolean, CancellationToken)](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobclient.uploadasync?view=azure-dotnet#azure-storage-blobs-blobclient-uploadasync(system-io-stream-system-boolean-system-threading-cancellationtoken)) is throwing _Azure.RequestFailedException

[2022-03-01 13:57] jsquire commented on #26140
Apologies; that's my mistake.

[2022-03-01 14:46] UtkarshShrivastava16 opened #27266 "[BUG]"
### Library name and version

Azure.Storage.Blob 12.9.0

### Describe the bug

I was trying to connect with the [local blob storage for IOT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2018-06) using python SDK.
This is my code:

[code]

I created the local connection string as follows:
`DefaultEndpointsProtocol=https;BlobEndpoint=<myBlobEndpoint

[2022-03-01 15:06] mathiasi commented on #27244
Thanks, I tried DataMember and you are completely right: it does solve my data duplication issue however I cannot query them. I don't mind having the properties on my object, it was more a matter of saving the data twice.
But I have made a custom implementation on top of this that handles it and it seems to work OK in my use-case, so I think we can close this issue :)

[2022-03-01 15:42] kvigor commented on #27164
Timer Trigger.

I've resolved the...

"Value cannot be null. (Parameter 'queueName') error as tied to dev settings being added to staging settings. I don't ever swap those slots and the Azure activity logs don't even show the settings in staging being updated which is fishy. But, I still have an issue with the second part of that issue going on.

When our Messaging API published messages to the qu

[2022-03-01 15:58] kvigor commented on #27164
Sorry I had to delete the previous message I thought is was a correspondence our support ticket we have open with MS on this issue.

1) Yes this is a timer trigger
2) This queue name was erroneous, and this queue error is fixed.
3) I can no longer run locally, however, sometimes the Azure function runs fine and other times it just errors out. This makes it hard to debug especially when I'm not cha

[2022-03-01 17:14] azure-sdk commented on #27267
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.08376375,Azure.Core:0.06252322,Event Hubs:0.024389489'

[2022-03-01 17:43] schaabs opened #27268 "Make TROUBLESHOOTING.md image link absolute"
Once https://github.com/Azure/azure-sdk-for-net/pull/26716 has been merged. The link to ./images/AuthFailedErrorMessageExample.png needs to be updated to be an absolute link rather than relative.

[2022-03-01 17:43] azure-sdk commented on #27268
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.17878038,Azure.Identity:0.0981761,EngSys:0.04823875'

[2022-03-01 17:44] tg-msft commented on #18592
Yes, the basic Azure.Core features are now in (but not shipped yet) and the generator has been updated to produce LLC protocol methods with a flag.  That means you could start enabling this with a package reference, though it won't fully light up until a fix for https://github.com/azure/autorest.csharp/issues/2006 is committed and deployed.

[2022-03-01 18:01] SaurabhSharma-MSFT commented on #27264
@JulianSarkinovic Routing this to services team to provide you suggestions on this.

[2022-03-01 18:05] JoshLove-msft commented on #27207
Yep, you're right about that - my mistake. Thanks, please let us know what you find.

[2022-03-01 19:49] lilyjma commented on #26789
Thank you for your interest in the experience survey. The survey has been closed.

[2022-03-01 19:49] #26789 closed

[2022-03-01 20:13] baseballbrad3 opened #27269 "[FEATURE REQ] OpenTelemetry exporter is not reporting the Application Version"
### Library name and version

Azure.Monitor.OpenTelemetry.Exporter 1.0.0-beta.3

### Describe the bug

The OpenTelemetry property [`service.version`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/README.md#service) is not being displayed as "[Application Version](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-mode

[2022-03-01 20:36] #27056 closed

[2022-03-01 21:41] annelo-msft opened #27272 "ClientModel: Add constructor to PipelineMessageClassifier that takes status code ranges"
This is required for https://github.com/Azure/autorest.csharp/issues/2018

Added further details of what's needed for implementation here: https://github.com/Azure/azure-sdk-for-net/issues/27272#issuecomment-2019017873

[2022-03-01 22:02] philipwolfe commented on #19167
@et1975 @jdthorpe @jongio @christothes  I am running into this too.  Here is what I came up with.  We too need ways for a container running on a QA engineer machine to authenticate to Azure without checking credentials into SCC in a YAML file.  Would love some feedback.  My goal is to take the access token from the engineer and use it for this session...doesn't need to be long term like the Enviro

[2022-03-01 22:18] annelo-msft opened #27274 "Azure.Core April Release"
| Milestone  | Date (planned) | Date (actual) |
| ------------- | :-------------: | :-------------: |
| Code Complete  | 3/29  |  4/4 |
| Release  | 3/31  |  4/4 |

[2022-03-01 22:19] annelo-msft commented on #27274
@christothes @JoshLove-msft  FYI

[2022-03-01 22:22] brennfoster commented on #26663
Just leaving this here for anyone else experiencing this and not able to see in their logs where the exception is coming from. It requires a special app setting to enable these logs

[code]

Scale Controller is definitely the problem.

[code]

[2022-03-01 22:22] jdthorpe commented on #19167
@philipwolfe [this solution](https://github.com/jongio/azureclicredentialcontainer/issues/2#issue-1128909238) may work for you for now.  It essentially requires installing a previous version of the Azure CLI onto both the host machine and in the container, logging into Azure (`az login`) on the host machine, mapping the `~/.azrue` directory into the container.

[2022-03-01 23:09] loic-sharma commented on #17432
It seems subject name / issuer (SNI) auth is now supported if you set [`ClientCertificateCredentialOptions.SendCertificateChain`](https://docs.microsoft.com/dotnet/api/azure.identity.clientcertificatecredentialoptions.sendcertificatechain?view=azure-dotnet#azure-identity-clientcertificatecredentialoptions-sendcertificatechain) to `true`:

[code]

Perhaps this issue can be closed :)

[2022-03-01 23:40] tommymarkmamake opened #27281 "[FEATURE REQ]RESILIENCY: GA Support ESTS-R in Azure.Identity SDK"
### Library name

Azure.Identity SDK

### Please describe the feature.

Library or service name.
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

Azure.Identity SDK

Is your feature request related to a problem? Please describe.
What feature would you like to get added? What problem is it solving?

Our 1st party app Dev is blocked for using Azure. Identity SDK to ado

[2022-03-02 00:48] seijimorimoto opened #27286 "[BUG] Azure Monitor Query Visualization not working"
### Library name and version

Azure.Monitor.Query 1.1.0

### Describe the bug

I'm running locally an Azure Function App that uses the Azure.Monitor.Query package for querying logs. One of the queries the App executes has a `render timechart with (ymax = 2500)` statement at the end, because I want the output of that query to be visualized as a chart. From looking at the [Query API](https://docs.mi

[2022-03-02 01:28] SaurabhSharma-MSFT commented on #25432
@Sti2nd We are proceeding with the closure with the issue.

[2022-03-02 01:28] #25432 closed

[2022-03-02 02:42] stowen-msft opened #27290 "With Azure Monitor Query, how do we query classic Resource Mode AppInsights?"
hi!

I want to integrate querying my app's AppInsight's directly into a monitoring service that watches my app.  I saw the code samples for how to query using the LogsQueryClient exposed in Azure.Monitor.Query and was able to setup a credential and get that working.

However our org hasn't migrated to the newer Resource Model, and still see this in our Application Insight's Properties tab.

![imag

[2022-03-02 03:45] caiyiJu commented on #27138
@JoshLove-msft  Thanks for your update. If session concurrency when using batch receives is possible, it would be great. If not, please help to explain how to receive additional messages in the new sdk version. Or why it is removed from the new sdk version.

[2022-03-02 05:25] fengzhou-msft commented on #26843
In summary, we're seeing two formats from the list of duration properties in this issue:
1. [ISO 8601 duration format](https://www.digi.com/resources/documentation/digidocs/90001437-13/reference/r_iso_8601_duration_format.htm) (e.g. `P3Y6M4DT12H30M5S`), which is the only format supported by the .NET SDK serializer now.
2. [The TimeSpan Constant format](https://docs.microsoft.com/en-us/dotnet/stand

[2022-03-02 05:49] fengzhou-msft commented on #25297
We had a discussion before about this scenario and ended up with the decision to provide a more convenient `CreateResourceIdentifier` method for each resource. Now you can get the resource in this way:

[code]

[2022-03-02 06:47] gjjtip0926 opened #27295 "[QUERY] How to detect or sync the real-time Event Hub partition length from receiver SDK code"
### Library name and version

Azure.Messaging.EventHubs 5.6.2

### Query/Question

In some certain circumstances while receiving events data from Event Hub partition, I will get following error which indicates
 the mismatching of offset between supplied value (in the checkpointing file) and system value(current real length of EH partition)

**The supplied offset '10000' is invalid. The last offset

[2022-03-02 06:47] aelij commented on #25297
@fengzhou-msft Nice. But how would this work for child resources (e.g. `Microsoft.Storage/storageAccounts/blobServices/containers`) and extension resources (e.g. `Microsoft.Insights/diagnosticSettings`)?

[2022-03-02 06:52] hqibec opened #27296 "[QUERY] Maintenance deadline for this library"
### Library name and version

Microsoft.Azure.ServiceBus 5.2.0

### Query/Question

The NuGet package `Microsoft.Azure.ServiceBus` was deprecated and needs to be migrated to `Azure.Messaging.ServiceBus`.

I've looked at the relevant documents, for `Microsoft.Azure.ServiceBus`
(1) what is the planned last maintenance deadline?
(2) will there be ongoing maintenance for security issues?

Thank you!

[2022-03-02 07:00] fengzhou-msft opened #27297 "Renaming any properties that use the name “Type” as this conflicts with the dotnet concept of a Type"
There are a lot of properties simply named `Type`. We should rename them based on the type of the property if the type is not string. For instance, `public RuleType Type` can renamed to `public RuleType RuleType`.

[2022-03-02 07:01] azure-sdk commented on #27297
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.14208166,Tables:0.084067136,Service Bus:0.05991393'

[2022-03-02 07:53] franklixuefei opened #27298 "[FEATURE REQ] Writable Model class properties, or move Model classes into a new package"
### Library name

Azure.ResourceManager

### Please describe the feature.

We are currently implementing a new resource provider for Azure, and were looking into existing ARM model classes for constructing our response models. However, for some model classes, like `ErrorDetail`, their properties are marked as `{get;}`, without the `{set;}`, and the constructors that could take parameters are maked

[2022-03-02 08:03] #17952 closed

[2022-03-02 08:26] dvbb commented on #25723
`Microsoft.Azure.Management.Subscription` is able to create new subscriptions, you can refer to the following example.

[code]

More information: [source code test sample](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/subscription/Microsoft.Azure.Management.Subscription/tests/FullDesktop/SubscriptionCreationTests.ScenarioTests.cs#L53)

[2022-03-02 10:02] #17354 closed

[2022-03-02 12:40] hiaga opened #27300 "[QUERY] [AzureResourceManager] [ARM-Template] [Az.Resources] SDK function for ARM template deployments"
### Library name and version

Azure Resource Manager (need help here)

### Query/Question

We have a requirement to create Arm Template Deployments using .Net SDK. I need help on which .Net SDK and version to use for this. Please Help !

### Environment

_No response_

[2022-03-02 12:41] azure-sdk commented on #27300
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.29075167,Functions:0.22984156,Compute:0.048083704'

[2022-03-02 13:08] jsquire commented on #27281
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-02 13:10] jsquire commented on #27298
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-02 13:11] jsquire commented on #27300
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-02 13:49] martinmine opened #27301 "[BUG] Disabled ServiceBus queue causes fixed retry after 300ms"
### Library name and version

Azure.Messaging.ServiceBus 7.6.0

### Describe the bug

Disabled ServiceBus queue causes the ServiceBus client to retry consuming messages after a fixed retry inverval of ~300ms. If `MaxConcurrentCalls` is set in a `ServiceBusProcessorOptions`, it will try connect (and fail) that many times in parallel. This happens regardless of what the retry policy is configured to

[2022-03-02 14:25] jsquire commented on #27295
Hi @gjjtip0926.  Thank you for reaching out.  The offset is not an index into the event stream, it's the physical location of it.  It is a stable value that should not change as events age out of the retention period.   If the event that the offset corresponds to ages out, that offset is no longer valid, causing the event processor to begin with the next available event in the stream.

If you're n

[2022-03-02 14:28] Dale-Burmeister opened #27302 "[BUG] Communication Network Traversal: Example references unsupported version"
### Library name and version

Azure.Communication.NetworkTraversal -Version 1.0.0

### Describe the bug

in the example here https://www.nuget.org/packages/Azure.Communication.NetworkTraversal/
They are calling Response<CommunicationRelayConfiguration> turnTokenResponse = await relayClient.GetRelayConfigurationAsync(identity);
that is throwing this error
+		$exception	{"The HTTP resource that matc

[2022-03-02 14:28] azure-sdk commented on #27302
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Extensions:0.23749998,Storage:0.18549308,Media Services:0.17968073'

[2022-03-02 14:29] Dale-Burmeister commented on #27302
This looks verify similar https://github.com/Azure/azure-sdk-for-js/issues/20542

[2022-03-02 15:24] christothes opened #27303 "[Flaky Timeout Test] Microsoft.Azure.WebJobs.Extensions.Tables.Tests.TableTests(True,False).Table_IfBoundToCustomTableBindingExtension_BindsCorrectly"
### Library name

Microsoft.Azure.WebJobs.Extensions.Tables

### Please describe the feature.

  Failed Table_IfBoundToCustomTableBindingExtension_BindsCorrectly [13 s]
Test Run Failed.
  Error Message:
   Test exceeded global time limit of 10 seconds. Duration: 00:00:13.0864561

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1402205&view=logs&j=2f5a55df-2d12-5a56-190d-cabcf94b4eae&

[2022-03-02 15:40] jsquire commented on #27301
Hi @martinmine.   Thank you for reaching out and we regret that you're experiencing difficulties.

If I understand correctly, what you're seeing is that, due to the configured concurrency, there are 100 independent read operations being attempting against the queue; each is failing because the queue is disabled and honoring the retry policy.  Because retries are scoped to an operation, you're seei

[2022-03-02 16:02] #27161 closed

[2022-03-02 17:55] jujinfu commented on #25723
Hi @dvbb

thanks for the comment, however, I need to create them into a specific tenant.

that is only available via that private preview API.

[2022-03-02 18:33] amnguye commented on #26640
Looks like this comment in the ContentRange code you found is more relating to the format that RFC defines Content Range to come back as in the Response.

For Content Range you can expect to receive a start, end and blobsize as the value. The service does not utilize passing back a * in the content range.

We will look to specify in the XML documentation that the Content Range can come back as
[co

[2022-03-02 18:35] JoshLove-msft commented on #27301
I don't think the issue would be with the retry policy here, because a queue being disabled is not considered a retriable error from the perspective of the retry policy. The issue is that since we are using a processor we just keep doing separate independent operations that are tried once each time.

[2022-03-02 18:36] JoshLove-msft commented on #27301
You should be able to detect the exception being raised in your error handler, and you can add a Task.Delay to help space out the attempts in your error handler.

[2022-03-02 18:42] benbp opened #27304 "Detect and run project ref dependencies for both root and leaf pipelines"
Currently, when a leaf project has any sort of "hidden" dependency on a root project, the build/test pipeline dependencies are manually maintained, not exhaustive, and sometimes duplicated. For example, if a root project pipeline definition includes a path trigger for any leaf projects, then pull request CI jobs will trigger both the root and leaf project pipelines, running duplicate tests. This h

[2022-03-02 18:43] shuoshen2014 commented on #26972
@anaismiller after upgrading to AppAuthentication 1.6.2, the crash stopped happening in our PROD environment, so I think we don't need to take an action on this now. I can close this issue unless there is anything else you need.

[2022-03-02 18:50] benbp commented on #27304
Brainstorming: we could dynamically generate a new parent matrix.json like so, which would multiply the inner matrix by the outer project set:

[code]

Then we could have some sort of `generateMatrixConfigPathScript` parameter that can be passed to the matrix generator pipeline, whereas right now the json config is just a hardcoded path

[2022-03-02 18:52] m-nash commented on #27304
This might go without saying, but can we make sure that this wouldn't result in duplicate runs of the same dependency?

If 2 projects A and B both depend on C, C should only run once.

It would also be nice to make sure that these don't run as one big uber step so that if a failure occurs in C we only need to rerun C and NOT A or B.  This becomes particularly important when there are dozens of dep

[2022-03-02 18:59] billti commented on #26640
Thanks @amnguye  . So to clarify, as of today, the content-range header returned is always of the format "bytes x-y/z", where x, y, and z are integers? The code comment you included in your post still states `Either side of the "/" can be an asterisk`, but your wording also states `The service does not utilize passing back a * in the content range`, which seems contradictory.

[2022-03-02 19:06] mushu999 opened #27305 "Any breaking dependencies when upgrading from v1.0.0 to latest 3.0.5 via nuget in VS2017?"
### Library name and version

Microsoft Azure Key Vault Core Class Library

### Query/Question

There are vulnerabilities in the version 1.0.0 of Microsoft Azure Key Vault Core Class Library so want to upgrade my project. Need to know if there are any code changes needed if I just use nuget to update to v3.0.5 or not?

### Environment

Visual Studio 2017, Windows 10 Pro, large C# MVC web project.

[2022-03-02 19:08] ranul-pallemulle opened #27306 "[FEATURE REQ] bicep files as an alternative to ARM templates"
### Library name

Azure.ResourceManager.Resources

### Please describe the feature.

At the moment it seems I have the option to create a deployment by specifying a JSON template like this:
`
new DeploymentProperties(DeploymentMode.Incremental)
{
    Template = "{}" // well-formatted JSON here
}
`

Would it be possible to add bicep support? I know it's possible to convert from bicep to ARM but I w

[2022-03-02 19:08] azure-sdk commented on #27306
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.4659157,Service Bus:0.062263936,Compute:0.04583235'

[2022-03-02 19:25] jsquire commented on #27301
That is an excellent point that I overlooked.

[2022-03-02 20:05] benbp commented on #27304
@m-nash my idea is that for the scope of pull request CI checks, there are no duplicate runs. Scheduled nightly builds will have duplicate tests for the same dependency, one in the dependent pipeline and one in the dependencies pipeline. If we want to avoid that case as well, then I think we'll need some higher level validation.

Re: the uber step, I plan to make a separate issue as this is going

[2022-03-02 20:16] m-nash commented on #27304
@benbp yes we are the same page for deduping in PRs but not necessarily in nightly or weekly runs.

I think the deduping might be inextricably linked to the "uber step".  If I have a PR that touches service A and service B and service A depends on service B if I understand you correctly this will result in the build / test for B happening twice.  Once in the new "uber step" inside of the pipeline

[2022-03-02 20:33] #26845 closed

[2022-03-02 20:35] JoshLove-msft opened #27307 "Add a flag to RecordedTestBase to enable Fiddler usage with Test Proxy"
Fiddler doesn't track localhost traffic. The workaround is to make the host "fiddler.localhost". We should add a flag that users can set to RecordedTestBase to make this easy when debugging locally.

[2022-03-02 20:36] JoshLove-msft commented on #27307
/cc @seanmcc-msft

[2022-03-02 20:46] jsquire commented on #27306
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-02 20:47] jsquire commented on #27305
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-02 20:47] jrockfl commented on #26987
Yes, I added Azure.Core. It was in the nuget package.
Loading Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=4.0.4.1 is something different.

I was able to get this to work with a console app but not Azure Function.

-----Original Message-----
From: "Mingzhe Huang" ***@***.***>
Sent: Wednesday, March 2, 2022 2:25am
To: "Azure/azure-sdk-for-net" ***@***.***>
Cc: "j

[2022-03-02 21:19] amnguye commented on #26640
Hi, sorry about that, I think I was quick editting it and missed that part.

The following documentation won't exactly look this but should look something similar like this. This might change depending on feedback during code review.
[code]
I might have to update this further once I gather more information and feedback.

[2022-03-02 21:19] tracker1 opened #27309 "[QUERY] How to get the TraceRecords from a query to ApiManagementGatewayLogs"
### Library name and version

Azure.Monitor.Query 1.1.0

### Query/Question

I'm using `LogsQueryClient` to query `ApiManagementGatewayLogs`, I am seeing most row data without issue... however I'm unable to figure out how to get data out of the `TraceRecords` column in the rows... when serializing to JSON output for viewing in logs, it prints `{}` for the TraceRecords field.

Can someone provide a

[2022-03-02 21:20] azure-sdk commented on #27309
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.118406326,Storage:0.09132867,Extensions:0.0751525'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.49946123,Client:0.49561077,Service:0.0042919503'

[2022-03-02 21:24] SatishBoddu-MSFT commented on #27302
Hello @Dale-Burmeister thanks for the feedback!
Routing this to the service team's attention!

[2022-03-02 21:36] SatishBoddu-MSFT commented on #27290
Hello @stowen-msft thanks for the feedback! wanted to understand the actual issue over here...

Are you trying to migrate and not able to use REST API?
![image](https://user-images.githubusercontent.com/62923178/156453229-9bf191f2-fdcf-408e-b931-2e78f392a94e.png)

Are you trying to use the REST API before migration and trying to do a log search?

Please add more details to the issue, such as any e

[2022-03-02 21:38] heaths opened #27310 "We add from JsonPathSanitizers twice"
https://github.com/Azure/azure-sdk-for-net/blob/ba2b9848a17932b70ae9ee50d4ead303cf33b824/sdk/core/Azure.Core.TestFramework/src/TestRecording.cs#L102-L147

In TestRecording.cs we loop over `_recordedTestBase.JsonPathSanitizers` twice.

[2022-03-02 21:41] azure-sdk commented on #27309
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.118406326,Storage:0.09132867,Extensions:0.0751525'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.49946123,Client:0.49561077,Service:0.0042919503'

[2022-03-02 21:41] azure-sdk commented on #27309
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.118406326,Storage:0.09132867,Extensions:0.0751525'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.49946123,Client:0.49561077,Service:0.0042919503'

[2022-03-02 22:53] tracker1 commented on #27309
Apparently `row["TraceRecords"].ToString()` will give me the `TraceRecords` as a string containing a JSON array of entries.  Was able to get/parse the message data from there... still, feels like a really sloppy interface.

Should probably provide an example in both the API documentation as well as the library documentation.

Not sure if other BinaryData perform the same, or if there are issues wi

[2022-03-02 22:56] heaths commented on #27305
Very likely, but Microsoft.Azure.KeyVault is deprecated in favor of:

* Azure.Security.KeyVault.Secrets
* Azure.Security.KeyVault.Keys
* Azure.Security.KeyVault.Certificates

One goal with these new packages - all our Azure.* packages - is no breaking changes. So not only is development, bug fixes, etc., active on those packages, but if you make the move now (see our migration guides e.g., https:/

[2022-03-02 23:56] lmazuel opened #27313 "Azure Schema Registry GA"

[2022-03-02 23:57] #27310 closed

[2022-03-03 01:20] schaabs opened #27315 "[FEATURE REQ] ClientCertificateCredential should support certificate store"
### Library name

Azure.Identity

### Please describe the feature.

This is a feature request on behalf of @abatishchev.

In track 1 the AppAuthentication library supported loading authentication certificates from the certificate store directly by specifying either the thumbprint or subject name and issuer via its connection string. It also supported refreshing the certificate from the store in th

[2022-03-03 01:21] peter-bertok commented on #21958
This is the specific scenario that we need to "just work", so alternatives aren't helpful.

In the meantime I did more research and discovered that Azure.Identity has essentially no caching at all. Downstream consumers may opt to do caching, but this is inconsistent and unreliable.

If I can make a recommendation: avoid the use of the words "you" or "your" when thinking about or communicating with

[2022-03-03 01:52] seanmcc-msft opened #27316 "[BUG] New .NET test framework does not run tests in Record or Playback mode with Fiddler running."
### Library name and version

Azure.Core.TestFramework

### Describe the bug

New .NET test framework does run tests in Record or Playback mode with Fiddler running.

Work around:

https://github.com/Azure/azure-sdk-for-net/blob/edee9bbff84e4cf09091e3e0537d72b10e2bee88/sdk/core/Azure.Core.TestFramework/src/ProxyTransport.cs#L163
Updated to `request.Uri.Host = "localhost.fiddler"; `
https://github.

[2022-03-03 01:52] azure-sdk commented on #27316
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.4914379,Azure.Identity:0.060035627,Cognitive - Form Recognizer:0.044297893'

[2022-03-03 01:59] kurtzeborn commented on #27316
Possibly related to: https://github.com/Azure/azure-sdk-for-net/issues/27307

[2022-03-03 02:30] dvbb commented on #25723
Hi @jujinfu

The API `api-version=2021-01-01-privatepreview` is not available in the current and historical versions of the SDK `Microsoft.Azure.Management.Subscription`.

This issue will route to the service team.

[2022-03-03 02:51] kinelski opened #27318 "[FormRecognizer] Swagger does not define `x-ms-client-default` properties"
Three properties in the `DocumentTableCell` are expected to have default values: `rowSpan`, `columnSpan`, and `kind`. Currently, the service defines these values using the `default` property in the swagger:
[code]

The `default` property, however, is used for documentation purposes only. The actual property the defines the default value of a property is `x-ms-client-default`. This is the autorest

[2022-03-03 02:59] kinelski opened #27319 "[FormRecognizer] Remove DocumentTableCell private properties workaround when `x-ms-client-default` is supported"
We added a workaround in code in order to set default values for three properties in `DocumentTableCell` (PR: https://github.com/Azure/azure-sdk-for-net/pull/27317). These default values should actually be defined in the swagger by the `x-ms-client-default` properties, but they seem to make generated code that fails when building.

This possible bug was reported in https://github.com/Azure/autores

[2022-03-03 03:51] abatishchev commented on #27315
Thanks, @schaabs ! I couldn't phase it better.

Just for the reference, here's another feature request, for support of connection string exactly: #17652. I think it'd be better to implement this feature though.

[2022-03-03 04:33] christothes commented on #21958
Although the documentation indicates that caching is the callers responsibility, this is not entirely true. Some credentials do cache because of the underlying implementation provided by MSAL. We also allow for some configuration of token cache for scenarios where sharing cache across credential instances is needed. See [this sample](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identit

[2022-03-03 04:45] Mossharbor commented on #18921
for anybody that comes here this sample:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/Program.cs
around line 168 shows what to do to get to the dead letter queue

[2022-03-03 06:06] JoshLove-msft commented on #27057
I've added SessionLockedUntil property to ServiceBusSessionMessageActions. Please let us know if there are any issues with that approach.

[2022-03-03 06:06] #27057 closed

[2022-03-03 06:08] #26402 closed

[2022-03-03 06:16] JoshLove-msft commented on #25652
Hi @XavierGeerinck,
Any chance you can provide us with the full stack trace related to the exception? Or the relevant functions logs would also be helpful.

From looking at the code that you've referenced, the `_batches` dictionary already ensures exclusive access by virtue of the `_batchSemaphore`.

[2022-03-03 07:56] fengzhou-msft opened #27325 "Improve ResponseError"
Remove ResponseError model if it's never used.
Otherwise, we want to see once more if we can make the deserialization work with the Azure.Core type.
At minimums we want to manually modify this type so that we don't have the extra layer with one property inside it.

[2022-03-03 07:57] azure-sdk commented on #27325
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.303913,Extensions:0.062036585,Cognitive Services:0.04985071'

[2022-03-03 08:02] #25126 closed

[2022-03-03 08:17] martinmine commented on #27301
The reason I have set the `MaxConcurrentCalls` is that it makes the problem significantly more visible in my case. If this is not set, the application still continues to retry consuming the messages and throwing errors. I think that if the retry policy does not apply across threads/workers, and that should be _ok_ as long as the retry policy has an impact on each thread.

When I configure a RetryO

[2022-03-03 08:34] navba-MSFT commented on #16877
@daveoshinsky Apologies for the late reply. Could you please try the sample mentioned [here](https://stackoverflow.com/a/58945678/17951893) which uses the Microsoft.Azure.Management.ResourceManager dotnet SDK to list the Azure resources and let us know if you still face this issue ?

Assembly: Microsoft.Azure.Management.ResourceManager.Fluent.dll
Package: Microsoft.Azure.Management.ResourceManager

[2022-03-03 08:48] navba-MSFT commented on #18616
@kamil-mrzyglod Apologies for the late reply. Could you please let me know if you had a chance to try the above suggestion? Awaiting your reply.

[2022-03-03 09:21] gjjtip0926 commented on #27295
Hello Jess Squire,

Thank you so much for your prompt reply.

You have the option of passing isInclusive. Setting this to false will opt you into the "read the next event in the stream after this offset" behavior.
Does that mean the EP SDK will set the isInclusive as false? If the retention causes the event been removed and offset invalid, it will read next event automatically even the specified o

[2022-03-03 13:47] artsherwood opened #27331 "BackupShortTermRetentionPolicy.UpdateAsync fails"
When trying to update a BackupShortTermRetentionPolicy using UpdateAsync, the operation fails with the following exception even though the system managed identity performing the action has contributor role on the resource group.

The client 'b06ee84f-f3db-4cae-8273-807f05416254' with object id 'b06ee84f-f3db-4cae-8273-807f05416254' does not have authorization to perform action 'Microsoft.Sql/locat

[2022-03-03 13:48] azure-sdk commented on #27331
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.30545008,Storage:0.07708654,Cognitive - Form Recognizer:0.066651516'

[2022-03-03 14:35] jsquire commented on #27301
In this case, as Josh mentioned, `MessagingEntityDisabled` is not a retriable exception - which I had initially overlooked.   When the service operation encounters the error, it does not implicitly retry and fails.  This failure is observed by one of the processor tasks which intercepts the exception and surfaces it to your error handler.

The processor is built to be highly resilient in the face

[2022-03-03 15:07] jsquire commented on #27295
This depends on the client type that we're talking about.   In the case of an event processor, yes.

Yes, that is the expected behavior when setting `isInclusive` to `false` or when using an event processor.

Offsets do not change by a predictable pattern and only the Event Hubs service can correctly interpret them.  Generally, if an offset is larger, then it was enqueued later than an event with

[2022-03-03 15:11] jsquire commented on #27030
As always, thank you, @danielmarbach.    I'm going to mark this one as addressed, but feel free to reach out if there's any additional context that I can help with.

[2022-03-03 17:26] scottaddie opened #27332 "Document stats and visualizations support in Azure Monitor Query"
### Library name

Azure.Monitor.Query

### Please describe the feature.

CXP recently asked for docs on stats and visualizations with regards to the Azure Monitor Query client library. Add the following details to a new section in the README:

- How to opt in to stats and/or visualizations data in a logs query request
- Explain the unstructured nature of the response

[2022-03-03 17:43] #26640 closed

[2022-03-03 17:44] #18401 closed

[2022-03-03 17:52] amnguye commented on #27264
This does not seem like an SDK issue rather it seems like a service issue. The SDK returns back the error BlobAlreadyExists from the service, which means if you say that the blob did not already exist prior to the upload call to create the blob, then we need assistance from the Service.

Please submit an Azure Support Request to seek assistance for support on the service.
https://docs.microsoft.co

[2022-03-03 18:00] alexkarcher-msft commented on #26402
🎉🎊🥳🎉🍾🎉🎊

[2022-03-03 19:30] #24502 closed

[2022-03-03 19:30] #24465 closed

[2022-03-03 20:27] krishnad1982 commented on #27205
Hi @jsquire ,
All sorted. I have tested and confirmed that the issue is no longer exists. Thanks.

[2022-03-03 20:29] jsquire commented on #27205
Glad to hear that things worked out.

[2022-03-03 20:30] #27205 closed

[2022-03-03 20:39] christothes commented on #26809
closed via #27283

[2022-03-03 20:39] #26809 closed

[2022-03-03 20:51] christothes opened #27337 "Shared source consumed by both Azure.Core and autorest.csharp creates a circular dependency"
### Library name

Azure.Core

### Please describe the feature.

Currently autorest.csharp and Azure.Core participate in a circular dependency for [certain shared source files](https://github.com/Azure/autorest.csharp/blob/301f41b04d8f21267cfcc88a4c99f6821f38a497/eng/DownloadSharedSource.ps1#L17). If a breaking change is required to these internal types, the process to propagate them through Azure.

[2022-03-03 20:58] #27244 closed

[2022-03-03 22:12] JoshLove-msft commented on #26618
It looks like delivery count works a bit differently when using sessions:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions#impact-of-delivery-count

In terms of the FIFO ordering, are you expecting that no messages are returned to you until 5 is settled? This wouldn't work because applications may want to receive multiple messages at a time, so the service does not enf

[2022-03-03 22:23] SaurabhSharma-MSFT commented on #27269
@baseballbrad3 I am redirecting this to services team to investigate and provide a fix as required.

[2022-03-03 22:30] shankarsama commented on #25381
#1 Batching is not supported when payload is larger than 1 MB.
#2 Payloads larger than 1 MB requires higher operation timeouts configured at the client.
Please refer to the following documentation for limitations on the large messages:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-premium-messaging#large-messages-support

[2022-03-03 22:49] GilbertLittle opened #27339 "Page provides link to Microsoft.Azure.WebJobs.Host.Scale.ConcurrencyOptions.DynamicConcurrencyEnabled that doesn't work."
There is no documentation anywhere for Microsoft.Azure.WebJobs.Host.Scale.ConcurrencyOptions.DynamicConcurrencyEnabled despite the batchsize section referring to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42ce1380-ad8b-b823-736a-41449276cf90
* Version Independent ID: 7e8aa6aa-2ed5-3ea0-9820-54544bc2224f
* Conte

[2022-03-03 22:49] azure-sdk commented on #27339
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Functions:0.35589698,Managed Identity:0.16856736,Docs:0.0808981'

[2022-03-03 23:28] SaurabhSharma-MSFT commented on #27286
@seijimorimoto I am able to reproduce this issue and redirecting this to services team to look into.
![image](https://user-images.githubusercontent.com/38112130/156670316-e685e218-8fcf-49af-a0b0-8340c2f78888.png)

Thanks
Saurabh

[2022-03-04 00:06] amnguye commented on #26140
Also regarding this issue, it's expected behavior that the service won't return back a `ObjectReplicationSourceProperties` in `BlobDownloadInfo` when you go to download the destination blob. If you go to download the source blob, the `BlobDownloadInfo.ObjectReplicationSourceProperties` will be populated, and the `BlobDownloadInfo.ObjectReplicationDestinationPolicyId` will be null.

[2022-03-04 00:07] shankarsama commented on #27067
This error "_Cannot open log for source 'Microsoft.ServiceBus'. You may not have write access._" is not originated from Service Bus service. It's purely local exception. It looks like it fails to write an event into event source called 'Microsoft.ServiceBus' when Service Bus service returns an error. So actual Service Bus exception is hidden by this local exception.

The reason why it happens inte

[2022-03-04 00:20] EldertGrootenboer commented on #27296
@hqibec We don't have a maintenance deadline yet, however we do suggest moving to the new SDK as soon as possible. As it mentions, because this is a deprecated package, we only provide critical security and maintenance fixes. All the new features will be implemented on the latest SDK. Once we have an official deadline, this will be published ahead of time in the regular communication channels.

[2022-03-04 01:25] amishra-dev commented on #26140
Fixed in 12.11 (https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Blobs/CHANGELOG.md#12110-beta1-2021-11-03)

[2022-03-04 01:25] #26140 closed

[2022-03-04 01:37] seijimorimoto commented on #27286
Thank you @SaurabhSharma-MSFT, hopefully this issue can be fixed soon

[2022-03-04 04:28] JoshLove-msft opened #27347 "Consider wrapping Avro Exceptions"

[2022-03-04 04:29] srivathsanvlb commented on #27067
@shankarsama Thanks for your reply.

But according to Microsoft documentation, when throttling happens we are supposed to get the error message ""The request was terminated because the entity is being throttled. Error code: 50009. Please wait 2 seconds and try again".  (**Reference** : https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-throttling#how-will-i-know-that-im-being

[2022-03-04 04:29] azure-sdk commented on #27347
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.29486963,Event Hubs:0.0332129,App Services:0.032014765'

[2022-03-04 05:19] arunprakashn commented on #27067
Hi @jsquire : @shankarsama  is of the opinion that this exception is purely a local exception but you observed that it had originated from Azure service. Could you please check with @shankarsama  and confirm ?

@shankarsama : we already have enabled write access to the events. If other events are getting written then how does all of a sudden it loses write privileges. It is unlikely.
It seems ther

[2022-03-04 06:29] hqibec commented on #27296
@EldertGrootenboer, Thank you!

Best wishes to the team

[2022-03-04 06:29] #27296 closed

[2022-03-04 08:26] navba-MSFT commented on #18347
@Kellybnd Apologies for the late reply. Thanks for the feedback. The above PR has been created and it is currently under review. In the meantime, if you have any questions on this, please let us know.

[2022-03-04 09:43] v-yilinhu opened #27352 "[Servicebus] MessageDraining_QueueWithSessions_Batch failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1406774&view=results

@jsquire for notification.

[2022-03-04 09:43] v-yilinhu opened #27353 "[Servicebus] MessageDraining_QueueWithSessions_Batch failing in nightly runs"
Servicebus nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1406774&view=results

@jsquire for notification.

[2022-03-04 09:43] v-yilinhu opened #27354 "[Tables] CanSaveJObjectAndLoadJObject(ExtensionT1,Extension) failing in nightly runs"
Tables nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1406527&view=results

@jsquire for notification.

[2022-03-04 09:49] kamil-mrzyglod commented on #18616
@navba-MSFT I don't have that codebase anymore so no chance of verifying that on my side unfortunately.

[2022-03-04 09:52] navba-MSFT commented on #18616
@kamil-mrzyglod Thanks for your getting back. I am sorry to hear about that. If you happen to work on this again, please do get back to us on this github thread. We would be happy to work with you again on this.

[2022-03-04 10:07] zedy-wj opened #27355 "[Form Recognizer] Timeout on China cloud."
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
We have updated TimeoutInMinutes from 180 minutes to 400 minutes, but all tests on China cloud are running slowly causing timeout.
The pipeline result is at [here](https://dev.azure.com/azure-sdk/internal/_build/

[2022-03-04 10:07] azure-sdk commented on #27355
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.10228411,Azure.Core:0.08072604,Data Factory:0.07756953'

[2022-03-04 14:02] jsquire commented on #27352
Duplicate of #27352

[2022-03-04 14:02] #27352 closed

[2022-03-04 14:13] jsquire commented on #27339
This issue has been transferred to the repository where the `Microsoft.Azure.WebJobs` package is maintained as [#2837](https://github.com/Azure/azure-webjobs-sdk/issues/2837).

[2022-03-04 14:13] #27339 closed

[2022-03-04 15:18] jsquire commented on #27067
@arunprakashn:  Apologies for the confusion.   I do not believe this is a local exception in your application or in the SDK.   I'll follow-up with @shankarsama offline for discussion.

[2022-03-04 16:31] xwellingtonx opened #27356 "[BUG] CertificateClient.DownloadCertificate leads to SSL Authentication exception when server requires certificate and private key"
### Library name and version

Azure.Security.KeyVault.Certificates 4.2.0

### Describe the bug

I've been facing the exception below into my web job deployed in Azure App Service for a while, it was really a strange exception that just happened a few times. It took me a while to track down the root cause, which I'll be describing here.

`Could not establish trust relationship for the SSL/TLS secur

[2022-03-04 16:41] jsquire commented on #27356
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-04 16:58] #18347 closed

[2022-03-04 17:00] annelo-msft opened #27357 "Address Arch Board feedback on DPG/ResponseClassifier APIs"
Arch board issue is here: https://github.com/Azure/azure-sdk/issues/3979
API View is here: [Azure.Core 1.23.0 APIView](https://apiview.dev/Assemblies/Review/77bdbcef49a3465fa96fac3fb745bf57/cddb04d604aa42bab6bfe9e2ac8f1677?diffRevisionId=bf47f1ad7e134e81a1fefe7570186f0f&doc=False&diffOnly=True)

- [x] Determine whether we can avoid allocating CTS if we only have one CT (Yes, see https://github.com

[2022-03-04 17:08] annelo-msft commented on #27357
Yes, we can: https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken.none?view=net-6.0#remarks
- "Two empty cancellation tokens are always equal."

Therefore we can compare CTs passed into HLC methods to CT.None to determine whether we have two CTs we need to link.

[2022-03-04 17:10] aeaov opened #27358 "[BUG] Azure Storage Blob Copy across containers, doesn't work with M.I."
### Library name and version

Azure.Storage.Blobs 12.10.0

### Describe the bug

Using the following method to copy blobs from one location to another. The method works when I copy blobs within the same account, but when I attempt to copy to another account I receive a 401 error with the following

[code]

I am a storage account contributor and Storage Blob Data Owner on both accounts. The followi

[2022-03-04 17:36] heaths commented on #27356
Thanks for bringing this to our attention. The method was intended to throw if it couldn't download the secret, which `SendRequest` would do for any non-2xx response. That this didn't throw is peculiar. I'll set up a repro, but it would help to know what secret permissions you do have to try to repro this accurately.

[2022-03-04 17:57] xwellingtonx commented on #27356
@heaths Sure, the permissions I have set up for my app service is this.

Secret: GET and LIST
Certificates: GET and LIST

Just reminding that it seems that is not all the time that the private key is failing to be downloaded so might be a little tricky to simulate, I hope all the information I gave is enough if not let me know.

I need to implement a quick workaround and I was thinking to override

[2022-03-04 18:23] xwellingtonx commented on #27356
Just one thing more, my theory is that it's related to this part of `PemReader.LoadCertificate` method.

https://github.com/Azure/azure-sdk-for-net/blob/10461aa95a53bcb6dbcb695f494c7a62c0e399d8/sdk/core/Azure.Core/src/Shared/PemReader.cs#L76-L84

[2022-03-04 19:29] heaths commented on #27356
I'm unable to repro this with https://github.com/heaths/Issue27356. I get error:

[code]

`allowCertificateOnly: true` was passed unconditionally because it is expected - and I can repro without "get" permissions for secrets - that fetching the private key will fail so we'd never get that far. I'm not opposed to adding a property to `DownloadCertificateOptions` but I'd like to better understand th

[2022-03-04 20:20] xwellingtonx commented on #27356
@heaths I can reproduce this issue every day, I just need to increase the amount of request to the same service. I have the network trace log for the failure handshake but how can I share with you, since I cannot post here due to have internally information.

[2022-03-04 20:51] heaths commented on #27356
It would be best if you just redacted vault URIs or whatever you need to. I only need a failure line, and we redact any PII or secrets by default in headers and query params (bodies aren't logged by default either). If that's not acceptable, my Microsoft email alias is the same as my GitHub alias and you can email it.

If this happens under load, I'll loop in the service team but I'm hesitant to a

[2022-03-04 21:00] xwellingtonx commented on #27356
@heaths I think the loga I have is not what you're looking for, I just checked our app now and the Azure monitor is not enabled so I'll have to enable it and collect the data. Right now I only have the CAP file captured with the Collect Network Trace tool in Diagnose and solve problems section of the App Servicez if is this what you're looking I can try to edit it.

Regards to the cache I was not

[2022-03-04 21:36] heaths commented on #27356
I updated my sample projects to make many concurrent requests and still can't repro this. Anything particularly interesting about your Azure networking configuration?

FWIW, you can also trace events via ETW if on Windows, which I could do with my project like so. All HTTP 200 responses from Key Vault (so everything besides the initial 401 challenge responses) had the right payload.

[code]

I've

[2022-03-04 21:43] xwellingtonx commented on #27356
@heaths The unice particular things it's I use a VNET connect with my app service to allow the access with KeyVault, basically the subnet is added to both KeyVault and AppService, but I don't thinking this is causing any issue.

I noted you're using the `DownloadCertificateAsync` method, could you use the other one since it's the one in my code right now.

I'm right now trying to extract the logs

[2022-03-04 22:02] #27075 closed

[2022-03-04 22:06] heaths commented on #27356
Sync vs. async code shouldn't matter since it doesn't affect the service call itself - just how we make it client-side (and async is generally better, especially for app services) - but I can try to change it.

However, can you repro this for a single given certificate, or do you have a mix of certificates. Did you pass `Exportable = true` in your `CertificatePolicy`? If not, the secret will only

[2022-03-04 22:10] xwellingtonx commented on #27356
@heaths I'm sorry I cannot get the logs. It seems the command is not authorized when running in Kudos tool.

I also try to activate the diagnostic settings into my app service but I'm not seeing any trace logs at all been saved. If you have any documentation about how to extractwhat you need from the App Service please send me, because I'm doing something wrong.

[2022-03-04 22:16] xwellingtonx commented on #27356
@heaths, this is the exactly code I'm using to download.

Just reminding you I'm using the nuget package version 4.2 (latest in nuget), it doesn't have DownloadCertificateOptions as a parameter

[code]

[2022-03-04 22:27] #27353 closed

[2022-03-04 22:28] JoshLove-msft opened #27366 "Submit blog post describing new Tables extension"

[2022-03-04 22:29] heaths commented on #27356
Take a look at the link posted above for how to enable different logging: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Diagnostics.md#logging

For example, you could use a console logger and just write to stdout. Depending on how your service is hosted, that might even be done automatically (collecting stdout, that is).

Could you confirm all your certificates y

[2022-03-04 22:49] xwellingtonx commented on #27356
I cannot implement right now the code for the logs, since the unique place we have a validate certificate to use is the Prod environment, I'll work over the weekend to use your sample project to connect to the service locally in my machine so I can extract the logs you need.

I use only one certificate to the service I'm communicating with and I can confirm that contains the private key since like

[2022-03-04 22:58] heaths commented on #27356
I'm having trouble finding the specific thread, but there was one about getting different hosts in App Services that might not allow the private key to be exported. It does so by temporarily saving to disk when constructing an `X509Certificate2` instance. There's this one that is related: https://stackoverflow.com/questions/63884019/import-private-key-certificate-as-exportable-in-azure-app-service

[2022-03-04 23:04] xwellingtonx commented on #27356
Thank you so much so far, I'll be differently applying the cache for the requests. I'll be doing a sample project with the cache and logs enabled and deploy to some app service so I can extract everything you need to confirm if it needs or not some fix into the library.

[2022-03-04 23:04] heaths opened #27367 "Refactor Key Vault tests to use common base class"
The Key Vault live tests' base classes are mostly the same, so it'd be worth maintaining a single base class extending `RecordedTestBase` that had all the clean-up logic in it with a few abstract methods to delete/purge a key/secret/cert and create a client. When changes are necessary like they were recently in PR #27311 they would only need to be done in one place, typically.

[2022-03-04 23:13] ravarnamsft commented on #12597
We are seeing a similar situation and it feels like this should be addressed directly in the SDK rather than asking folks to have a workaround, especially when the userAgent added also has a typeName to it, if different types happen to use it, we still have the same issue. If it is a breaking change, why not provide a way to skip adding the userAgent while keeping the default behavior to add them?

[2022-03-04 23:51] amnguye commented on #27358
Hi this scenario is not supported by the storage service.

`A source blob in the same storage account can be authorized via Shared Key. However, if the source is a blob in another account, the source blob must either be public or must be authorized via a shared access signature. If the source blob is public, no authorization is required to perform the copy operation.`
From: https://docs.microsoft.

[2022-03-05 00:16] jaschrep-msft commented on #25317
Judging from the referenced issue and PR, it looks like adding a BufferedStream between the provided Stream to upload and CryptoStream and validating the fix is the path forwards. I can take on that work as well as investigation should that not be the solution.

[2022-03-05 04:30] Shivam60 commented on #27161
Thanks @jsquire for quickly explaining the issue and providing a solution to it.

[2022-03-05 12:32] xwellingtonx commented on #27356
Hi @heaths just reporting back with the logs I managed to extract from a sample I created that has the same architecture and settings as our real environment, I hope it's what you need.

**Logs with the failed request to the service that requires the certificate:**
[code]

**Logs with the successful request to the service that requires the certificate:**
[code]

Also, I just want to highlight the

[2022-03-05 13:58] xwellingtonx commented on #27356
I've applied the cache following your [sample](https://docs.microsoft.com/en-gb/samples/azure/azure-sdk-for-net/azure-key-vault-proxy/) and it didn't work, I can see frequently the exception showing up. I'm not sure if it's because I use dependency injection to call the class instance where I open the request to the key vault and the soap service.

The certificate size still shows less than when I

[2022-03-05 20:43] dev-corbett commented on #25629
Hey folks, any update on this one?

[2022-03-06 17:31] adriancuadrado opened #27369 "The "Methods" table is too wide"
The "Methods" table is too wide and is awkward. This is because there is a row that has a word that is extremely large and without spaces. It is the row of the "StartCopyFromUriAsync" method. This is the word that is too large and without spaces:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21c7de47-139d-9d7e-

[2022-03-07 02:52] chenkennt commented on #27225
@Y-Sindo please take a look

[2022-03-07 05:30] ArthurMa1978 opened #27371 "Rename all Sku and Plan to <RP name>Sku and <RP name>Plan"
This should be auto prepend by the codegen, but for the first batch 1 GA lib, will use config to rename it

[2022-03-07 05:30] ArthurMa1978 commented on #27371
Relate to https://github.com/Azure/autorest.csharp/issues/2033

[2022-03-07 08:32] LZorglub commented on #27207
Replacing **Task.WaitAll(tasks, ctts)** by **await Task.WhenAll(tasks)** in our main function do the job. After 6 days no RenewLock exception.
Thanks for the hint.

[2022-03-07 08:32] #27207 closed

[2022-03-07 09:14] navba-MSFT commented on #18644
@cjjohansen Apologies for the late reply. The sample code for this API is available here [event-grid-dotnet-publish-consume-events/Program.cs at master · Azure-Samples/event-grid-dotnet-publish-consume-events (github.com) ](PublishEventsWithHttpMessagesAsync ).

However, please be advised that we are stopping support for this nuget/API and is being replaced with a new one under  Azure.Messaging.Ev

[2022-03-07 09:15] XavierGeerinck commented on #25652
Hi @JoshLove-msft,

How would we be able to get a full stack trace of the Azure Function?

[2022-03-07 09:22] navba-MSFT commented on #24136
@saurabh18213 Apologies for the late reply. Dictionary Keys can’t be modified, by design. To answer your question, 'No' this function would not update the TValue of a supplied key. As this function is for adding a new key,value pair to a dictionary.

You would use a different function, [AddOrUpdateAsync: IReliableDictionary<TKey,TValue>.AddOrUpdateAsync Method (Microsoft.ServiceFabric.Data.Collect

[2022-03-07 09:53] liurunliang commented on #25903
Hi @krelf Does this issue affects `DeleteSiteExtensionSlotAsync` only or others as well?

[2022-03-07 11:00] m-carter1 commented on #27163
@JoshLove-msft  please see repo here: https://github.com/m-carter1/MessageReceiverTest

It's a basic console app that waits (default time) for a message then stops.

Once it starts, if you send a message with contents "1" (for example) then straight after send another message "2" you will see 1 appear in the logs of the app but message 2 is de-queued **and not processed**.

Be sure to set the cont

[2022-03-07 11:52] Omii27 opened #27374 "Failed to add reference. The package 'AppForSharePointOnlineWebToolkit' tried to add a framework reference to 'Microsoft.IdentityModel' which was not found in the GAC. this is possibly a bug in the package. Please contact package owners for assistance."
### Library name and version

AppForSharePointOnlineWebToolkit v3.1.5

### Query/Question

I wanted to authenticate to SharePoint from .NET application with help of CSOM but failed to add "AppForSharePointOnlineWebToolkit" package

### Environment

.NET 4.5
IDE Visual Studio 19

[2022-03-07 12:57] ArthurMa1978 opened #27375 "Solve APIView comments for all batch 1 APIViews"
- ResourceManager
    - [x] Ln13 Rename to `GetResourceClient`
    - [x] Ln27 Rename `Provider` to `ResourceProvider`
    - [x] Ln73 Remove the namespace `Azure.ResourceManager.Core`
    - [x] Ln80,92 `DiagnosticOptions` to `DiagnosticsOptions`
    - [x] Ln95 Confirm if can fix
    - [x] Ln116 LRO change `waitFormComplete` to `enum` `WaitUntil`
    - [x] Ln117,132,134,138 Manually pack parameters

[2022-03-07 14:10] jsquire commented on #27374
This issue has been transferred to the repository where issues for the Sharepoint Framework are tracked as [#7786](https://github.com/SharePoint/sp-dev-docs/issues/7786).

[2022-03-07 14:10] #27374 closed

[2022-03-07 14:13] Auto72 opened #27377 "[ISSUE]"
### Library name and version

Microsoft.Azure.CognitiveServices.Vision.Face 2.8.0-preview.2

### Describe the bug

I have a Xamarin Android (Target Android 12) project that uses the following two NUGet packages:

Microsoft.Azure.CognitiveServices.Vision.Face 2.8.0-preview.2
Microsoft.Azure.CognitiveServices.Vision.Face.Models 2.8.0-preview.2

And I get the following warnings in Visual Studio 2022

[2022-03-07 15:44] SaurabhSharma-MSFT commented on #27369
@adriancuadrado We will check what can be done to fix the formatting and let you know.

[2022-03-07 16:54] jsquire opened #27380 "Event Hubs Client Library for .NET - May Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments (April 2022 - September 2022) [#3990]](https://github.com/Azure/azure-sdk/issues/3990).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning for the next

[2022-03-07 19:21] JoshLove-msft commented on #25652
You should be able to see this in Functions monitoring from the Portal:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring

[2022-03-07 19:56] #26957 closed

[2022-03-07 20:01] kinelski commented on #26523
Error seems to have stopped happening. Will reopen this if it comes back.

[2022-03-07 20:01] #26523 closed

[2022-03-07 20:04] kinelski commented on #26958
Error still happening (2022/Feb/28): https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1399446&view=logs&j=75bb6cb8-85fe-5b08-10aa-320cf6c5cc8f&t=b18a6ae3-fe77-5f49-ecb4-5d3125e0bf5e&l=86713

[2022-03-07 20:30] JoshLove-msft opened #27387 "Follow guidelines for ToString hiding"
The guidelines state the [following](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-service-editor-browsable-state):
YOU SHOULD apply the [EditorBrowsable(EditorBrowsableState.Never)] attribute to methods on the model type that the user isn’t meant to call.

Adding this attribute will hide the methods from being shown with IntelliSense. A user will almost never call GetHashCode(

[2022-03-07 20:33] JoshLove-msft commented on #27387
Should this apply only to model types, or client types as well?

/cc @KrzysztofCwalina @tg-msft

[2022-03-07 21:05] annelo-msft commented on #27387
https://github.com/Azure/azure-sdk-for-net/issues/12831

It would be good to land the guidelines on ToString() before doing an overhaul of the SDK on it.

[2022-03-07 22:03] jongio opened #27389 "Create Pre-Release Test Plan"

[2022-03-07 22:03] azure-sdk commented on #27389
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.11066009,Search:0.030918026,Azure.Identity:0.025726885'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5356351,Mgmt:0.44847322,Service:0.012177533'

[2022-03-07 22:23] JoshLove-msft commented on #27354
Seems to have been a transient failure - passing now.

[2022-03-07 22:27] heaths commented on #27356
In both traces, I see the secret is returned with Content-Length 9186 so it's coming back with the same content both times, seemingly. Are you able to log somehow host information (OS, version, anything else - maybe `dotnet --info`) to see if there's a different in the host configuration? Different versions of Windows or of openssl for non-Windows machines could be affecting the parsing somehow, b

[2022-03-07 22:43] xwellingtonx commented on #27356
Sorry if I give the wrong impression, the cache you suggested was indeed a good thing for us! We didn't have any reason to fetch the certificate every time, when I mentioned that didn't work I wanted to say that although the certificate is been cached properly the exception still happens in the same frequency as when fetching all the time. I set up the cache for 2 hours and I can see requests comp

[2022-03-07 22:49] heaths commented on #27356
Is that for the machine your running your app service on or your dev machine? I wouldn't expect SDKs on the app service host machines, nor Windows 10 (though, maybe). There have been differences in certificate creation - though usually issues repro 100% of the time. I'm trying to ascertain if there's a pattern of different hosts when certificate parsing works and when it doesn't. Key Vault is givi

[2022-03-07 22:53] xwellingtonx commented on #27356
It's from our app service, yes I can simulate and dump the data after calling the method, I'll do it and email you so.

This one is from my local environment
[code]

[2022-03-07 22:59] SaurabhSharma-MSFT commented on #27128
@a30006441 We are proceeding with the closure of this issue as we haven't received any response. Please feel free to open a new issue for any other issues.

[2022-03-07 22:59] #27128 closed

[2022-03-07 23:41] xwellingtonx commented on #27356
I've sent the files to you, regards to the file format we've been using PFX.

[2022-03-07 23:43] christothes opened #27393 "[Flaky Timeout Test] CertificateOperationTests.UpdateStatusEventuallyCompleted"
### Library name

Azure.Security.KeyVault.Certificates

### Please describe the feature.

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1415076&view=ms.vss-test-web.build-test-results-tab&runId=29434626&resultId=111242&paneView=historyD

This test always hovers right at the timeout limit.
![image](https://user-images.githubusercontent.com/1279263/157137095-884b0c58-19bd-4f59-9cda-5

[2022-03-08 00:42] heaths commented on #27393
Actually, it didn't *always*:

<img width="227" alt="image" src="https://user-images.githubusercontent.com/1532486/157142136-432b2f32-cd8a-4dde-9ead-a3edb5be370f.png">

This is caused by the new operation helper changes introduced around then, and the poller that gets created has a minimum 1s delay with no direct way to override. The default poller uses the retry header, but even if I pass the sta

[2022-03-08 00:43] annelo-msft opened #27395 "Update the DPG Quickstart Guide"
In order to set partner teams up for success, the DPG Quickstart Guide should describe a process that prepares the service team for the first arch board meeting.  This issue will track the work to improve the documentation in ways we discover by working with service teams on creating DPG libraries

- [x] Add a section on uploading to APIView
- [x] Remove the dependency on Azure.Core.Experimental f

[2022-03-08 00:43] azure-sdk commented on #27395
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.21160462,Service Bus:0.16848555,Cognitive Services:0.114822246'

[2022-03-08 00:59] jongio commented on #27389
Wrong repo. Closing

[2022-03-08 00:59] #27389 closed

[2022-03-08 01:00] jongio opened #27396 "Create Pre-Release Test Plan"

[2022-03-08 01:00] azure-sdk commented on #27396
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.11066009,Search:0.030918026,Azure.Identity:0.025726885'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5356351,Mgmt:0.44847322,Service:0.012177533'

[2022-03-08 01:01] jongio commented on #27396
Wrong repo. Closing

[2022-03-08 01:01] #27396 closed

[2022-03-08 01:02] annelo-msft opened #27397 "Implement the ability to keep DPG Generation template up to date"
I generated this API today: https://apiview.dev/Assemblies/Review/fe482cb7d6b549ee83b36915d9fcd417

It should not have a dependency on Azure.Core.Experimental.

Ideally, every time we made generator changes in the repo, they would update the template as well.

[2022-03-08 01:11] chunyu3 commented on #27397
@annelo-msft I will check and remove dependency of 'Azure.Core.Experimental' if it is not needed.
And I think the changes of DPG will not affect the template.

[2022-03-08 01:13] annelo-msft commented on #27397
It would be ideal if we could automate it.

[2022-03-08 01:27] #27316 closed

[2022-03-08 01:27] #27307 closed

[2022-03-08 02:20] caiyiJu commented on #27138
@JoshLove-msft Hello, is there any update?

[2022-03-08 03:30] Y-Sindo commented on #27225
Currently we use commas as a separator for different claims in the HTTP request header (see [serverless protocol](https://docs.microsoft.com/en-us/azure/azure-signalr/concept-upstream#request-header) for more details), which seems problematic. We plan to add a new HTTP header which contains the base64 encoded claims to solve the problem.  Before that fix is released, you could try to encode your c

[2022-03-08 03:32] mikekistler opened #27402 "[Core] Add JSON Merge Patch support to JsonData"
### Library name

core

### Please describe the feature.

To support JSON Merge Patch methods, .NET should implement a PatchBuilder.
- PatchBuilder will be implemented in core.
- PatchBuilder will accept name / values and "build" a RequestContent.
- Names can be "dotted" to set nested fields arbitrarily deep
- Builder methods will allow fields to be "added" or "removed" (set to null)
- "build" mig

[2022-03-08 03:32] azure-sdk commented on #27402
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.17217015,Extensions:0.10761291,Service Bus:0.101956904'

[2022-03-08 04:02] #26174 closed

[2022-03-08 04:02] #25656 closed

[2022-03-08 04:09] #26922 closed

[2022-03-08 04:43] Y-Sindo opened #27404 "SignalR Trigger supports base64 encoded claims"
### Library name

Microsoft.Azure.WebJobs.Extensions.SignalRService

### Please describe the feature.

Currently SignalR [serverless protocol](https://docs.microsoft.com/azure/azure-signalr/concept-upstream#request-header) uses a format like "a: v, b: v" to represent users' claims, which causes some problems including but not limited to:
1. #27225
2. Azure/azure-functions-signalrservice-extension#

[2022-03-08 06:13] JoshLove-msft commented on #27138
Hi @caiyiJu,
We are investigating how best to implement this feature. We will either add the concurrency support for batch receiving or expose the receive method. We are planning to work on this in March and hope to ship an update in April.

[2022-03-08 07:19] SatishBoddu-MSFT commented on #27290
Hello @stowen-msft ,
Thanks for the response!
Please have a look at the below code snippet, might be helpful with your initial query!
using Microsoft.Azure.ApplicationInsights.Query;

[code]

You need not make any changes to your application . Sending your Application Insights telemetry to a common Log Analytics workspace brings full access to all the features of Log Analytics while keeping applic

[2022-03-08 08:02] #21328 closed

[2022-03-08 08:42] ranul-pallemulle opened #27409 "[QUERY] How to access existing long running operation later"
### Library name and version

Azure.ResourceManager.Resources

### Query/Question

I am using the latest available beta version of the library at this time (1.0.0-beta.6).
I am creating a new resource group as follows:
[code]

According to the guidelines here:
https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-longrunning
'Client libraries need to inherit from Operation<T> not only

[2022-03-08 11:22] starkpl opened #27411 "[QUERY] Service Bus client - implicit batching"
### Library name and version

Azure.Messaging.ServiceBus 7.5.0

### Query/Question

Is there an implicit batching mechanism built into Service Bus SDK? What I mean by implicit batching is that I'm calling `ServiceBusSender.SendMessageAsync` method multiple times in a short interval and they are being somehow batched together before being sent to the Service Bus.

[The documentation](https://docs.m

[2022-03-08 11:29] thegrahamking opened #27412 "[QUERY] How to call unsupported APIs"
### Library name and version

Microsoft.Azure.Management.Websites 3.1.2

### Query/Question

There are now ARM APIs for managing Azure Function keys (function, master and system).

I don't believe the official docs include them yet but it's documented in https://github.com/Azure/azure-functions-host/issues/3994#issuecomment-507693624 and my colleague blogged about them [here](https://www.markheath

[2022-03-08 11:29] azure-sdk commented on #27412
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Functions:0.4026575,Websites:0.11240166,Azure.Core:0.08666754'

[2022-03-08 11:36] george-zubrienko opened #27413 "[BUG] Azure.Data.Tables doesn't support custom type ser/deser"
### Library name and version

Azure.Data.Tables 12.4.0

### Describe the bug

Given a class:

[code]

and a converter:

[code]

Calling
[code]

throws `Not supported type System.Uri` if any of the URI fields are not null.

### Expected behavior

Entity is merged successfully. In the old library I'd do the following:

[code]

and everything works.

### Actual behavior

Error is thrown.

### Reprodu

[2022-03-08 11:36] azure-sdk commented on #27413
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.26034132,Tables:0.13125624,Storage:0.11642512'

[2022-03-08 11:54] george-zubrienko commented on #27413
I can also see from exception stack trace that it uses Utf8JsonWriter, but w/o any options. At least we should be able to plug in serialization options?

[code]

[2022-03-08 11:57] ilya-git opened #27414 "[BUG] Newtonsoft.Json default settings (JsonSerializerSettings) are ignored since version 1.7.0"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.SignalRService 1.7.0

### Describe the bug

I have the following code to configure the json output for the signalr messages:

[code]

In version 1.7.0-beta.1 this code worked properly and I got camel case and enum conversion. After upgrade to 1.7.0 it stopped working.

This looks like an undocumented breaking change that prevents us

[2022-03-08 11:58] azure-sdk commented on #27414
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.35469952,App Configuration:0.13504198,KeyVault:0.049870968'

[2022-03-08 12:29] kszicsillag commented on #26110
@archerzz looks like the tests you linked are about [policy definitions](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure), but the OP asked about [RBAC role assignments](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview#role-assignments).
Is there any successor to the [Microsoft.Azure.Management.Authorization library](https://www.nuget

[2022-03-08 13:16] gs9824 commented on #25652
@JoshLove-msft
I have been working with Xavier on this issue.

From the documentation it is not clear how to get a full stack trace. Can you please be more specific ? Most detailed information we were able to get is the following :

![issue](https://user-images.githubusercontent.com/36197920/157245341-2b165eb2-8e14-4d88-9e9d-39d63de9ce1f.png)

[2022-03-08 14:02] jsquire commented on #27409
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-08 14:05] jsquire commented on #27411
Hi @starkpl.   Thank you for reaching out; if I understand correctly, what you're asking about is the implicit batching behavior that the Service Bus service applies when persisting messages to its durable storage.   I've routed this over to the Service Bus team, who is best positioned to assist with those answers.

[2022-03-08 14:06] jsquire commented on #27412
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-08 14:07] jsquire commented on #27413
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-03-08 14:26] fengzhou-msft commented on #26843
Resolved with https://github.com/Azure/autorest.csharp/pull/2003

[2022-03-08 14:50] AlexPiksel opened #27416 "[BUG] Frequent Azure.RequestFailedException messages from Functions when trying to access Azure Storage Blobs and Queues due to expired authentication tokens"
### Library name and version

Azure.Storage.Blobs 12.10.0, Azure.Storage.Queues 12.8.0, Azure.Identity 1.5.0

### Describe the bug

This has already been raised with Azure Support as ticket 2201190050001832. Despite the fact that this looks environmental, only affecting a single Azure region, they have insisted that this must be raised with the development team, as they cannot see what is causing

[2022-03-08 15:59] iBrotNano opened #27417 "UTC and local time"
I am working with UTC time as default. The class seems to need `DateTime`s in local system time. It might be helpful to mention this. It was irritating for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39c05e19-5b09-e25e-e49c-9e4486ccb3e1
* Version Independent ID: 63fae4bc-69ee-e638-478e-2fa231431cf9
* Content: [J

[2022-03-08 16:13] christothes commented on #27413
Hi @george-zubrienko - Azure.Data.Tables entitites do not support serialization customization via `JsonConverter`. Only property renames and ignoring properties are supported via the `[IgnoreDataMember]` and `[DataMember(Name = "some_new_name")]` attributes.

One possible approach to make this work for your scenario would be to add string properties for the Uri properties which are renamed to the

[2022-03-08 16:20] AnnejanBarelds commented on #26618
Thanks @JoshLove-msft. That accounts for the behavior regarding the delivery count.

As for the FIFO ordering: I'm not sure what you're getting at with your comment that "applications may want to receive multiple messages at a time". In case you're referring to a competing consumer scenario: the whole point of sessions is that only a single consumer can receive messages in a given session at any o

[2022-03-08 16:52] george-zubrienko commented on #27413
@christothes thank you for this workaround. If I can provide some feedback here, this is a significant developer experience downgrade from a previous SDK for Cosmos/ATS. Are there any plans to brink back EntityConverters or maybe expand `ITableEntity` interface, so we can define converters ourselves?

Also I don't think this API currently covers "supports custom entities" category, when it only su

[2022-03-08 17:22] #27417 closed

[2022-03-08 17:28] jsquire commented on #27067
Hi @arunprakashn.  We've discussed internally and agree that this appears to be an error triggered by the service.  It is currently under investigation.