[2019-06-26 05:18] SeanFeldman commented on #6653
@praries880 the issue you've linked to seems to refer to something completely different than this issue is about. Was this a typo?

[2019-06-26 07:33] federicobarera commented on #6450
Hi @SeanFeldman ,

This is a problem that has been haunting us in production for a long time, on different entities and namespaces. The only hints of this occurring were, high volumes + high volume of failures = receiver locked up not processing messages.

We finally managed to reproduce (code provided) and the constant that is always coming back is this magic number: 5000.
A quick google: "azure

[2019-06-26 11:35] aheintz opened #6709 "[BUG] Cannot connect to KeyVault on Mac OS X"
**Describe the bug**
I'm running a .NET Framework project on Mac under mono and trying to use KeyVault but cannot get get access token due to Windows CLI command is used instead of Bash command. According to the output, "cmd.exe" is used, although the source for tag "1.2.0" indicates the Bash command should be used is OS is not Windows.

***Exception or Stack Trace***
[code]

**To Reproduce**
Run

[2019-06-26 16:28] tylerfox commented on #1887
ClusterOperationsExtensions.ConfigureHttpSettings is now deprecated and has been replaced by ClusterOperationsExtensions.UpdateGatewaySettings. Please see our documentation for more information: [Migrate to granular role-based access for cluster configurations](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-migrate-granular-access-cluster-configurations)

[2019-06-26 16:39] schaabs opened #6711 "Add ManagedIdentityClient options class to Azure.Identity"
ManagedIdentityClient should have it's own ClientOptions type now that it is a separate client from AadIdentityClient.  ManagedIdentityClientOptions could possibly expose:

- ImdsAvailableTimeoutMs
- ImdsEndpoint
- ImdsApiVersion
- AppServiceMsiApiVersion

Also the ClientOptions classes should be configured use ResponseClassifier to handle retry behavior and failure conditions by default.

[2019-06-26 16:53] schaabs opened #6712 "Add AuthenticationException exception type to Azure.Identity"
Failures resulting from failed requests to AAD or MSI as RequestFailedException can be misleading as it's unclear that the authentication call failed, not the client call which the user originated.  Such as in the case if a user called secretClient.SetSecret(...);  and received a RequestFailedException it's not readily obvious if the call to AAD failed or the call to Azure Key Vault failed. To fix

[2019-06-26 17:07] tylerfox commented on #1982
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:07] tylerfox commented on #2131
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:07] tylerfox commented on #2135
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:08] tylerfox commented on #2321
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:08] tylerfox commented on #2322
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:08] tylerfox commented on #2504
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:08] tylerfox commented on #2556
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 17:15] #6072 closed

[2019-06-26 17:19] maririos commented on #6052
All work for keys is done. The release of the package is managed by epic #5813

[2019-06-26 17:19] #6052 closed

[2019-06-26 17:39] brjohnstmsft commented on #6707
@nminhduc Can you please share the code you're using to initialize the `SearchServiceClient` or `SearchIndexClient` (whichever is throwing the exception)?

[2019-06-26 18:02] axisc commented on #3599
@shahbarkha

The below operations are still supported
- ForwardTo
- ForwardDeadLetteredMessagesTo
- EnableDeadLetteringOnFilterEvaluationExceptions

The below operations have been deprecated because they are no longer applicable
- IsAnonymousAccessible
- UserMetadata
- EnableFilteringMessagesBeforePublishing

Please let us know if you still have questions on the same.

[2019-06-26 18:02] #3599 closed

[2019-06-26 18:08] axisc commented on #3607
@sakher-sawan

Thanks for raising this issue. We've introduced management client functionality to the [Service Bus .NET Data plane SDK](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/)

Could you give that a try and reopen this issue if you see the same errors.

I'm closing this for now.

[2019-06-26 18:08] #3607 closed

[2019-06-26 18:40] samuthrakumar commented on #4574
I am hitting the same problem if I use >3.14.2.11.. I am getting below exception when I build Azure Key vault using certificate authentication. It is trying to load Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll which is missing in the package > 3.14

   Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory.Platform, Version=3.14.2.11, Culture=neutral, Publ

[2019-06-26 18:52] axisc commented on #6252
@SHuygh

Thanks for raising this issue.

AMQP is the preferred way to connect to the Service Bus namespace. However, AMQP is intensive for setting up the connection and is recommended when you have relatively uninterrupted connectivity to the cloud.

I recommend that you don't connect from the mobile device to the namespace directly and utilize a service to enqueue requests.

Please remember that

[2019-06-26 18:58] langsweirdt commented on #6252
@axisc can you please elaborate on "utilize a service to enqueue requests"? Do you allude to using a regular API and a polling-based mechanism from mobile?

[2019-06-26 19:15] tg-msft opened #6716 "Resolve auto-sync testing instrumentation issue with service hierarchies"
We're hitting an issue with the auto-generated proxy member variables as we navigate down the hierarchy.  We might need to make properties like `Uri` and `Pipeline` virtual, we might need to intercept `Get***Client()` methods, etc.

[2019-06-26 19:17] OlegAnaniev-MSFT commented on #3743
This issue was fixed long time ago, once we moved to the new KQL-based backend

[2019-06-26 20:00] tylerfox commented on #2559
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 20:00] tylerfox commented on #2626
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 20:00] tylerfox commented on #2663
That's correct. The Avro SDK is no longer supported by Microsoft.

[2019-06-26 20:18] tylerfox commented on #2812
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 20:21] tylerfox commented on #4064
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 20:21] tylerfox commented on #4429
The Avro SDK is no longer supported by Microsoft.

[2019-06-26 20:43] jeffhollan opened #28667 "Use an intermediary queue between host receive and process"
Customers today are unable to use event grid directly for executions that last longer than 30 seconds as Event Grid only waits 30 seconds for a response.  In addition, retries are only handled by the Event Grid service

We've discussed adding event grid messages to an intermediary queue (similar to how we do blobs) so they can be retried or processed async.  The host would return a 202 to Event Gr

[2019-06-26 22:28] #3743 closed

[2019-06-26 22:28] morgangrobin commented on #5034
I believe this was fixed in https://github.com/Azure/azure-rest-api-specs/pull/5505

[2019-06-26 22:28] #5034 closed

[2019-06-26 23:25] danieljurek opened #6722 "Release version requirements for services that use Core"
We need to use binary composition for packages that depend on Core and lock to a specific future release version.

Procedure:
- [x] Open a PR to update the targeted version of Core (PR: https://github.com/Azure/azure-sdk-for-net/pull/6720)
- [ ] Release the updated version of Core
- [ ] Verify CI pipelines and live tests succeed for affected packages

[2019-06-26 23:57] stewartadam opened #6723 "[BUG] Renewal of messages is executed even if the message has been completed"
**Describe the bug**
Re-opening an issue for continued discussion of https://github.com/Azure/azure-service-bus-dotnet/issues/591, where @havarnov did a great job describing current and expected behavior for long-running message handlers that explicitly ACK a message early on.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup message handler (QueueC

[2019-06-27 02:35] #1887 closed

[2019-06-27 02:38] #1982 closed

[2019-06-27 02:38] #2131 closed

[2019-06-27 02:38] #2135 closed

[2019-06-27 02:39] #2321 closed

[2019-06-27 02:40] #2322 closed

[2019-06-27 02:40] #2504 closed

[2019-06-27 02:40] #2556 closed

[2019-06-27 02:41] #2559 closed

[2019-06-27 02:42] #2626 closed

[2019-06-27 02:42] #2663 closed

[2019-06-27 02:46] idear1203 commented on #2664
We now do not pass `subscriptionId` through `SubscriptionCloudCredentials`. Please check the [Azure HDInsight SDK for .NET](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/hdinsight?view=azure-dotnet) for usage details

[2019-06-27 02:46] #2664 closed

[2019-06-27 02:46] #2812 closed

[2019-06-27 02:48] #4064 closed

[2019-06-27 02:48] #4429 closed

[2019-06-27 03:00] idear1203 commented on #2557
We don't use `DataContractResolver` in SDK code now.

[2019-06-27 03:00] #2557 closed

[2019-06-27 03:18] idear1203 commented on #3293
It is not a SDK related issue

[2019-06-27 03:18] #3293 closed

[2019-06-27 07:05] SeanFeldman commented on #6450
Perhaps. Note that additional connections would not just lock up your receiver, but you'd get an exception. And, as I mentioned earlier, with a single receiver it's a single connection, not 5000. You can take a memory dump when it happens and see how many connections were created. Or, look at the TCP connections and how many you have established from your machine.

[2019-06-27 08:52] gatsbys commented on #4645
Hi all, the preview versions improves the token time acquirment.

Before : ~15-20s
Now: 4s

🥇 Thanks!

[2019-06-27 09:58] bobvandevijver commented on #4199
I just ran into this issue, but I've found a workaround which seems to be working exactly as I would like. Just make sure to not set your object directly in the `Data` property, but wrap it with `JObject.FromObject`. This way, the properties should be converted using your object configuration, while made available for the `ReadOnlyJsonContractResolver`.

Example:
[code]

[2019-06-27 10:43] VaclavK commented on #3224
@shahabhijeet I am seeing following stracktrace with KeyVaultClient (3.0.3)->RestClientRuntime (2.3.19)
under **.net core 2.2**

seems this could be same issue - do you prefer new issue?

at Microsoft.Rest.RetryDelegatingHandler.SendAsync(HttpRequestMessage request, CancellationToken cancellationToken)
   at System.Net.Http.HttpClient.FinishSendAsyncBuffered(Task`1 sendTask, HttpRequestMessage req

[2019-06-27 12:24] jsquire commented on #6723
//cc: @nemakam, @binzywu, @AlexGhiondea

[2019-06-27 14:55] qub1n opened #6730 "[FEATURE REQ] Decoupling AzureCredentials from Authenticated by IAzureCredentials"
**Is your feature request related to a problem? Please describe.**

We have an application that accesses Azure in parallel, but Azure SDK is not threadsafe. We cannot change it to the single-threaded application, because of

1.  performance, it would be too slow.
2. Moving the locks to the business logic would be difficult to maintain.
3.  in some cases some regions and environments need to be ind

[2019-06-27 15:07] pakrym commented on #6555
No, unfortunately I don't

cc @maririos

[2019-06-27 16:15] maririos commented on #6555
Is this related to KeyVault? This was done already thanks to @danieljurek change.
KV is running nightly live tests

[2019-06-27 16:20] dkmiller commented on #5225
@shibayan have you found any resolution to this?

[2019-06-27 16:26] shibayan commented on #5225
@dkmiller It worked with the combination of VS2019 (16.1.4) and AppAuthentication (1.2.0).
I do not know the cause but it works, so I close this issue.

[2019-06-27 16:26] #5225 closed

[2019-06-27 16:42] KrzysztofCwalina opened #6732 "Document Errors"
We do a very poor job documenting errors/exception that can propagate from track 2 APIs. We should fix before GA.

[2019-06-27 18:00] loarabia commented on #6709
Thank you for the issue. I think there may be two things here. One is the root issue that may have caused the fallback logic to kick in and the other is that in one fallback path the logic was trying to run cmd.exe on a MacOS device.

Management team, can you take a look?

[2019-06-27 18:23] cthrash commented on #5560
FWIW - The older SDK had this [feature](https://github.com/microsoft/Cognitive-Common-Windows/blob/master/ClientLibrary/Contract/EmotionScores.cs#L86), but this namespace and types have deviated.  Could be used as a starting point if the team is interested.

[2019-06-27 18:44] andreluizsecco commented on #5560
Yes @cthrash, for now I have already sent a PR: #5561

[2019-06-27 18:50] maggiepint commented on #6730
Hi,

Thank you - this is good feedback. We are currently working on a revamp of our client library [design guidelines](/Azure/Azure-sdk). This issue is definitely something we could look at incorporating into those.

What service's library are you using here? It would help me to be able to have a look at the exact code in question.

Thanks,
Maggie

cc @KrzysztofCwalina

[2019-06-27 19:09] pakrym commented on #6555
Live tests runs are still failing https://dev.azure.com/azure-sdk/internal/_build?definitionId=234&_a=summary

[2019-06-27 19:28] pakrym commented on #5618
Not with the new telemetry guideline.

[2019-06-27 19:28] #5618 closed

[2019-06-27 19:34] MattSFT commented on #5788
New PR: https://github.com/Azure/azure-sdk-for-net/pull/6734

[2019-06-27 20:22] maririos commented on #6555
Track1 are yes. They've always failed. We have a thread on email about it.
Looks like @schaabs is going to disable those tests for now

[2019-06-27 20:22] maririos commented on #6555
For what this issue addresses, everything was done, so we should close it

[2019-06-27 20:43] tg-msft opened #6735 "Use HashCodeBuilder for Storage clients"
Use the `HashCodeBuilder` in `Azure.Core` for all the Storage client libraries.

[2019-06-27 21:22] stewartadam commented on #6723
Here is a simple min viable repro: https://github.com/stewartadam/aspnet-servicebus-hostedservice

Simply `POST https://localhost:5001/api/bus` and then observe the log.

The controller pushes a message on the bus, the IHostedService implementation will read the message on a background thread and complete it immediately, then wait 25 seconds. The long-running message handler completes as expected

[2019-06-27 21:56] KrzysztofCwalina opened #6738 "ConfigurationClientModelFactory should be called ConfigurationModelFactory"
per design guidelines

[2019-06-27 22:47] #6738 closed

[2019-06-28 00:55] romanpolunin opened #6742 "Upgrade reference Microsoft.IdentityModel.Clients.ActiveDirectory to 5.xx"
We need ServiceBus package to support Microsoft.IdentityModel.Clients.ActiveDirectory of versions 5.xx. Current version (3.4) locks the reference between 3.17.2 and < 5.0.0

[2019-06-28 04:14] davidlsharp1 commented on #3933
I am having the same error but I am confused because when I run the web app locally I am able to access the key vault, retrieve my connection string and connect to my database.  Then I'll publish to azure and the same code gives that whole "Tried the following 3 methods to get an access token, but none of them worked." error message.  What could make it work locally but not azure?  Any ideas?

[2019-06-28 08:21] SHuygh commented on #6252
@AlexGhiondea @axisc Would it be possible to further elaborate on this.
As I feel that the suggested workaround significantly reduces the efficiency and bypasses the complete use case of the service bus connection.

In general we do not have problems with the connection, and switching between different cell towers or wifi. However, it occurs at some points and persists for a long a period of time.

[2019-06-28 09:16] OwenDF opened #6744 "[BUG] Management Service Bus Solution file has incorrect project references"
The solution file at sdk\servicebus\Microsoft.Azure.Management.ServiceBus/Microsoft.Azure.Management.ServiceBus.sln has references to projects that do not exist (they appear to have had their names simplified at some point.

To reproduce: open the solution file in Visual Studio and observe that the projects fail to load.

[2019-06-28 13:06] msvijayn commented on #4853
Thank you for reporting the issue. Azure Monitor Alerts team is investigating the report and we'll revert back to you shortly.

[2019-06-28 17:59] sanjaysingh opened #6748 "Do not copy the TTL when forwarding messages"
I have following setup of my Topics and Susbcriptions to implement a server side retry of messages.
**Topic1** (all default settings)
   **Subscription1** (all default settings)

**Topic1.Retry**
    **Subscription1** (Enable Deadletterring on Message expiration, Forward dead lettered messages to: Topic1)

I published the failed messages from code to the Retry topic above. The message has some TTL

[2019-06-28 19:20] #6555 closed

[2019-06-28 20:47] jsquire opened #6752 "Release Event Hubs Track 2 Library Preview 2 for .NET"
# Summary

Azure Event Hubs is a publish-subscribe service that can ingest millions of events per second and stream them into multiple applications.  To ensure that developers around the world have a first-class experience leveraging Azure Event Hubs in their applications, our goal is to create a client library that is developer-friendly, idiomatic to the .NET ecosystem, and as consistent across d

[2019-06-28 21:11] maririos commented on #6694
Secrets: https://www.nuget.org/packages/Azure.Security.KeyVault.Secrets/4.0.0-preview.1

[2019-06-28 21:26] maririos commented on #6694
Keys: https://www.nuget.org/packages/Azure.Security.KeyVault.Keys/4.0.0-preview.1

[2019-06-28 21:26] #6694 closed

[2019-06-28 21:26] maririos commented on #6695
PR https://github.com/Azure/azure-sdk-for-net/pull/6755

[2019-06-28 22:18] loarabia commented on #6742
Thanks @romanpolunin  I've tagged this so the Service Bus team should take a look.

/cc @axisc

[2019-06-28 22:23] #6695 closed

[2019-06-28 22:30] loarabia commented on #6744
Hi @OwenDF thanks for reporting this issue. I've tagged it to have the team take a look.

/cc @shahabhijeet

[2019-06-28 22:37] loarabia commented on #6748
@sanjaysingh Thanks for reporting this. I've tagged this for the team to take a look

/cc @ShubhaVijayasarathy

[2019-06-30 17:25] mitchdenny opened #6756 "ManagedIdentityClient (via ManagedIdentityToken) fails to parse token."
ManagedIdentityClient fails to parse the response from the IdMS endpoint on an Azure VM because the expires_on attribute is encoded as a JSON string, but the parsing logic expects a JSON number.

Here is the code that triggers the situation:

[code]

It looks like the parsing logic is here:

https://github.com/Azure/azure-sdk-for-net/blob/fce515ed2f32f7873fb04d42dff7d7b5cc46ff07/sdk/identity/Azure

[2019-06-30 17:36] mitchdenny opened #6757 "SecretClient appears to set incorrect scope when ManagedIdentityCredential is used"
**Describe the bug**
When I use the following code to print out all of the secrets in a key vault I get an error when authenticating via ManagedIdentityCredential.

[code]

***Exception or Stack Trace***
Add the exception log and stack trace if available

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Take the code above and insert the UAMI client ID.
2. Run it on an Azure VM with a

[2019-06-30 17:50] mitchdenny opened #6758 "Calling GetSecrets on KeyVault with no secrets should not throw an exception."
**Describe the bug**
Using the ```SecretClient.GetSecrets(...)``` from the ```Azure.Security.KeyVault.Secrets@4.0.0-preview.1``` library throws an exception when trying to list the secrets in an empty vault. This should be a bug since an empty vault is a completely valid state. It should instead return an empty enumeration.

***Exception or Stack Trace***
Add the exception log and stack trace if a

[2019-07-01 00:19] tg-msft opened #6759 "Test sync-over-async code in more environments"
.NET is currently providing sync APIs that eventually call into an async transport layer.  We should do a lot of stress testing in different environments.  The Storage team has suggested ASP.NET, desktop, WPF, WinForms, WebForms, and anything that might play with SynchronizationContext.

[2019-07-01 02:11] tg-msft opened #6760 "Storage: Move all exception construction to Errors class"
Move all exception creation (outside of the `*RestClient` generated code) to the `Errors` class.  Ctrl+F `throw new ` to find all the open issues.

[2019-07-01 08:49] NickDarvey commented on #6752
Wait, is the Event Hub client library being rewritten _again_? Is there anywhere I can read more about this?

Can unit testing be one of these target scenarios? The previous library required wrapping a bunch of classes. (See [the discussion](https://github.com/Azure/azure-event-hubs-dotnet/issues/24) in previous library's issues, and what I [had](https://github.com/NickDarvey/ServiceFabric.EventHu

[2019-07-01 08:49] Choc13 opened #6761 "[Azure Search] Remove field value from index when not present in data source"
**Query/Question**
We are using Azure Search to index blobs and their metadata. Some of the blob metadata is optional and occasionally users of our application would like to remove these metadata values. However, even though the blob is re-indexed the value is not removed from the corresponding search index document. I understand that by default the indexer works in a create of update mode, whereb

[2019-07-01 12:15] #6744 closed

[2019-07-01 15:48] pakrym opened #6763 "Consider re-enabling FxCop rules"
As part of enabling FxCop for Track 2 SDKs I had to disable some rules that were harder to fix or ones that I'm not sure we want to follow.

- [ ] CA1716 - avoid using method names that are reserved in other languages
- [ ] CA1308 - prefer ToUpperInvariant
- [ ] CA1819 - Properties should not return arrays
- [ ] CA1710 - Use Collection sufix
- [ ] CA1028 - Enum backing type should be int
- [ ] CA1

[2019-07-01 16:11] NikitaG commented on #6455
I set [concurrency level](https://github.com/NikitaG/ServiceBusReproBug/blob/8ea1f36d48baede657eb9e24b8f55a6c533e3f41/ServiceBusReproBug/Program.cs#L61) to 20 and [prefetch count](https://github.com/NikitaG/ServiceBusReproBug/blob/8ea1f36d48baede657eb9e24b8f55a6c533e3f41/ServiceBusReproBug/Program.cs#L39) 10.

I put Task.Delay for 15 seconds to emulate long-running task.

I am using `ManagementCli

[2019-07-01 17:42] jfggdl commented on #6742
@romanpolunin , thanks for raising this request. Would you please provide us more information as to the specific requirements that you have for which you need Microsoft Identity's 5.xx?

[2019-07-01 18:26] jsquire commented on #6752
Hi Nick,

Thank you for taking the time to share your thoughts.  I can't speak to the development history of the Event Hubs client, but we are in the process of building a new Event Hubs client library.  The new client library will exist in a new package and namespace; our goal is that there is no disruption to existing library users, allowing the choice of whether to adopt the new library or not

[2019-07-01 19:06] DAllanCarr commented on #6455
I would randomize the delay over a period of 15 seconds for example. Fixing the delay to 15 seconds on the task is immediately offloading 10 tasks immediately. Upping the pre fetch may help but you still will be constrained as you can never really keep up with demand. Have multiple message will increase throughput obviously but even then your test scenario needs more consideration.

[2019-07-01 19:40] maririos opened #6768 "Fix / disable KeyVault track1 test that are failing"
Only happens on Live tests. Example [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fazure-sdk%2Finternal%2F_build%2Fresults%3FbuildId%3D52280&data=02%7C01%7Cmariari%40microsoft.com%7C21ab3732e82548fc7d8708d6fde3568f%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636975550190033056&sdata=Z%2B2pAsUWX6X90x1U5nEDkei8u6QpGfZ78fodoa3RCRg%3D&reserved=0).

Full error

[2019-07-02 01:02] #6553 closed

[2019-07-02 01:08] bsiegel opened #6771 "Resolve inconsistencies indicated in the dependency report"
We have a few places in our project where we use ProjectReferences instead of PackageReferences. This can cause us to be inconsistent when both types of references are used. There are also some dependencies that need added to the lockfile. We should resolve these and then change the tool to emit a non-zero exit code when any inconsistency is found.

[2019-07-02 03:41] countchivas opened #6772 "[FEATURE REQ] CreateOrUpdate method for Custom Roles"
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-rest

[2019-07-02 08:04] SeanFeldman commented on #6455
Prefetch should be greater than the concurrency level. If you have it the other way around, you're constantly forcing the client to fetch messages.

[2019-07-02 09:42] #6459 closed

[2019-07-02 12:39] jan-ai opened #6774 "[BUG] WebSeachAPI: Microsoft.Azure.CognitiveServices.Search.WebSearch.Models.SearchResult "entities" results are missing"
**Describe the bug**
While documentation (https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-web-api-v7-reference#searchresponse) and online demo (https://azure.microsoft.com/en-us/services/cognitive-services/bing-web-search-api/) showing an "entities" property in the search response of the webserach REST-API, the SDK does not have an "entities" Property.

**Expected behav

[2019-07-02 15:59] jsquire opened #6777 "Analyze the features scoped for the second preview"
# Summary

The scope for the Event Hubs client library second preview has been determined; the target scenarios need to be defined and the analysis done in advance of preparing a design proposal.

# Scope of Work

- Review the scope for preview two of the Event Hubs client library, identifying target scenarios and areas of analysis.

- Capture notes from analysis to feed design efforts.

# Out of

[2019-07-02 16:24] jsquire opened #6778 "Create the second preview design proposal"
# Summary

Documented the proposed design for the features in scope for the second preview of the Event Hubs client.

# Scope of Work

- Prepare the design proposal, following the format used for the first preview.

- Capture any areas of feedback and incorporate them into the design.

# Out of Scope

- Capturing features or scenarios outside the scope of the second preview.

# Success Criteria

-

[2019-07-02 16:31] jsquire opened #6779 "Ensure partition properties for Offset are numeric"
# Summary

There is some inconsistency in the implementation currently, in which some of the offset attributes related to partition properties are string-based.  These should all be numeric, other than the internal representation of Event Position.

# Scope of Work

- Review and update all partition properties, ensuring that the offset attributes are integer-based.

- Review and ensure that tests

[2019-07-02 16:55] jsquire opened #6780 "Convert DateTime to DatetimeOffset"
# Summary

The current  implementation makes use of the `DateTime` type for date members, employing a suffix of `Utc` to indicate that the values are in UTC time.  The type `DateTimeOffset` is intended to represent UTC date/time and is more appropriate, removing any ambiguity about the base timezone.

# Scope of Work

- Review and update all `DateTime` instances within the implementation to instea

[2019-07-02 17:00] tg-msft opened #6781 "Add hooks for Recorded test Request/Response Body manipulation"
Most of the Storage tests upload random data and we don't want to add 1GB of noise in the recordings that everyone has to sync.  It would be great if we could selectively exclude/generate/etc. the request/response bodies of those recordings.

[2019-07-02 17:22] jsquire opened #6782 "Create an exception hierarchy"
# Summary

The current  implementation from the first preview does not address exceptions, allowing the exceptions from the internal track one client to be exposed publically.  There needs to be a dedicated exception hierarchy within the track two API.

# Scope of Work

- Create an exception hierarchy, allowing common and uncommon exceptions within Event Hubs to be expressed by the track two API.

[2019-07-02 17:22] #6756 closed

[2019-07-02 17:22] #6757 closed

[2019-07-02 17:37] jsquire opened #6784 "Refactor retry policy implementation and remove operation timeouts"
# Summary

The current implementation from the first preview mirrored the approach to retry exposed by the track one client.  After discussion, a new approach was recommended by the architecture board, which separates out the options to define a retry from the policy that implements it.  Since the majority case can be served by specifying options for retries, there is no need to require the actual

[2019-07-02 17:43] jsquire opened #6785 "Implement new retry types in Event Hub client"
# Summary

The current implementation from the first preview mirrored the approach to retry exposed by the track one client.  After discussion, a new approach was recommended by the architecture board, which separates out the options to define a retry from the policy that implements it.  Since the majority case can be served by specifying options for retries, there is no need to require the actual

[2019-07-02 17:45] jsquire opened #6786 "Implement new retry types in the Event Hub producer"
# Summary

The current implementation from the first preview mirrored the approach to retry exposed by the track one client.  After discussion, a new approach was recommended by the architecture board, which separates out the options to define a retry from the policy that implements it.  Since the majority case can be served by specifying options for retries, there is no need to require the actual

[2019-07-02 17:46] jsquire opened #6787 "Implement the new retry types in the Event Hub consumer"
# Summary

The current implementation from the first preview mirrored the approach to retry exposed by the track one client.  After discussion, a new approach was recommended by the architecture board, which separates out the options to define a retry from the policy that implements it.  Since the majority case can be served by specifying options for retries, there is no need to require the actual

[2019-07-02 17:57] jsquire opened #6788 "Implement streaming receive feature in Event Hub consumer"
# Summary

The model for receiving events within Event Hubs is currently exposed only in the form of the batch receive.  The existing Event Hub clients from other languages and the .NET client from track one have offered a second model, often known as the "streaming receive" that offers a second means of consuming events.  This takes different forms, typically either as an iterator for the partiti

[2019-07-02 18:07] jsquire opened #6791 "Create the EventBatch infrastructure"
# Summary

Historically, Event Hubs has allowed a batch of events with specified size limit to be prepared using a `TryAdd`-style interface.  Because the size depends on the format of an event and event batch container as it would be transmitted, it is subject to change with the underlying transport and depends on the format used by that transport.  Preview two will reintroduce this concept for th

[2019-07-02 18:15] jsquire opened #6792 "Support publishing an EventBatch"
# Summary

Historically, Event Hubs has allowed a batch of events with specified size limit to be prepared using a `TryAdd`-style interface.  Because the size depends on the format of an event and event batch container as it would be transmitted, it is subject to change with the underlying transport and depends on the format used by that transport.  Preview two will reintroduce this concept for th

[2019-07-02 18:26] jsquire opened #6793 "Live test coverage for diagnostics and logging"
# Summary

The Event Hubs client has a rich set of logging and diagnostics information that it makes available, exposing via ETW events and the `System.Activities` constructs.  Though the current implementation for track two is relying on an internal track one client, that client is producing the diagnostics information, which will be ported to the new API in the near future.

# Scope of Work

- U

[2019-07-02 18:32] jsquire opened #6795 "Review and update documentation"
# Summary

In preparation for the second preview release of the track two Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The README content is up to d

[2019-07-02 18:43] pakrym opened #6796 "Prototype tracing implementation"

[2019-07-02 18:47] jsquire opened #6797 "Create samples"
# Summary

In preparation for the second preview release of the track two Event Hubs client, the samples which accompany it should be extended to include the new features.

# Scope of Work

- A new sample should be created to illustrate the "streaming receive" API.  This should be grouped in the same area as other event consumer scenarios.

- A new sample should be created for publishing with the

[2019-07-02 18:57] nemakam commented on #6540
This was a service side issue which has now been fixed. The code is yet to be rolled out. Thanks for opening this issue.

[2019-07-02 19:03] tg-msft opened #6799 "Storage: Lift magic numbers into constants"
Lift any magic numbers into the `Constants` class.

[2019-07-02 19:06] jsquire opened #6800 "Analysis of diagnostics and logging for track two adoption"
# Summary

The Event Hubs client has a rich set of logging and diagnostics information that it makes available, exposing via ETW events and the `System.Activities` constructs.  The current implementation for track two is relying on its internal track one client to produce the diagnostics information.

# Scope of Work

- Analyze the set of telemetry, both diagnostics and logging, produced by the tr

[2019-07-02 19:09] tg-msft opened #6801 "Add helpers in Azure.Core to map between ServiceVersion enums and REST API versions"
Investigate if there's anything we can do to mitigate pain of keeping version numbers in sync with our ServiceVersion enums.

[2019-07-02 20:45] nemakam commented on #6440
@alrod, I've added the Feature-Request tag on this issue. However, we don't have any planned timeline for this feature.
I believe this is not a blocking issue since `MessageReceiver` does allow you to receive messages in batches. `RegisterMessageHandler` currently doesn't support batching and adding support to that has its own challenges like those that are mentioned in Azure/azure-service-bus-dot

[2019-07-02 20:50] rajdhandus opened #6803 "[BUG] The KeyVault dotnet SDK's Unwrap method doesn't complement the REST Wrap method"
**Describe the bug**
I get a BadRequest error when trying to call the UnwrapKeyAsync method in .net SDK.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap using REST Service (https://$keyVaultName.vault.azure.net/keys/$keyName/$keyVersion/wrapkey?api-version=7.0)

2. Unwrap using the SDK.

***Code Snippet**

[2019-07-02 22:04] maririos commented on #6758
After looking at the issue, the problem only happens when the vault is new and it has never had a secret stored on it. If the vault had secrets and now they are all deleted, we don't fail.

The  problem is caused when we are deserializing the json payload in [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Secrets/src/Page.cs#L40) as we are expecti

[2019-07-02 22:28] maggiepint commented on #6772
Thanks for sending this feedback. We are routing to the appropriate team for follow-up.

[2019-07-02 22:38] maggiepint commented on #6774
Thanks for the feedback. We have routed this to the appropriate team for follow-up.

[2019-07-02 22:43] maggiepint commented on #6803
Thanks for the feedback. We are routing to the appropriate team for follow-up. cc: @schaabs

[2019-07-02 22:55] weshaggard commented on #6771
Can you list which set of dependencies are hitting this currently?

[2019-07-02 22:57] schaabs commented on #6758
The deserialization should handle the value being null and treat it the same as empty.  And it is also possible that  null or empty list is returned and a next link is specified.  This must be handled as well.

[2019-07-02 23:17] tg-msft opened #6806 "Storage - Minimize XML formatting"
Tweak the XML serializer to output minimal markup to save bandwidth.

[2019-07-02 23:40] maririos commented on #6758
Sure, we can always do that. For preview 2 right?

Do you know who from the service team I can contact about this too? I want to see their thoughts on the subject.

[2019-07-02 23:58] bsiegel commented on #6771
The report is published here: https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-net/dependencies/dependencies.html

As of right now, the following issues are reported.

Azure.Core.Extensions has a project reference on Azure.Core, whereas other libraries use package references.

Similarly, Microsoft.Azure.KeyVault.Cryptography and Microsoft.Azure.KeyVault.Extensions
have project referen

[2019-07-03 00:07] tg-msft opened #6807 "Move AsyncCollection into Azure.Core"
We should refine and move the `AsyncCollection<T>` definition into Azure.Core

[2019-07-03 00:12] tg-msft opened #6808 "Storage models should implement IEquatable"

[2019-07-03 08:11] erich-wang opened #6812 "[BUG] Most of links in package.md are broken after folder refactoring"
[BUG] Most of links  in [package.md](https://github.com/Azure/azure-sdk-for-net/blob/master/packages.md) are broken after folder refactoring

[2019-07-03 08:27] Mortana89 opened #6813 "7000 Failed AcceptMessageSession dependencies in AppInsight per hour"
Crossposting original bug from [https://github.com/Azure/azure-service-bus-dotnet/issues/588](url)

- Credits to @oletolshave, changed a bit to reflect our situation

We're facing the same issue for a while now, and it's generating roughly 7k (!) false exceptions in application insights PER hour. This not only makes it difficult to find relevant exceptions in AI, it also consumes a lot of storage

[2019-07-03 14:09] ohadschn opened #6814 "[FEATURE REQ] AzureSqlDatabaseLinkedService - support client certificate authentication against service principal"
**Is your feature request related to a problem? Please describe.**
I can't use client certificates to authenticate against my AAD app's service principal for SQL authentication in Data Factory. This makes my auto-rotation story harder.

**Describe the solution you'd like**
Add a property such as `ServicePrincipalCertificate` which you'd then use for AAD authentication against the specified `Servic

[2019-07-03 18:05] tg-msft opened #6817 "Azure.Core should wrap all transport layer exceptions"
If your network connection drops during the middle of a request, we should throw a `RequestFailedException` rather than an `HttpRequestException` that [`HttpClient` throws.](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.sendasync?view=netframework-4.8)

Ideally customers won't have to know or care about which transport layer they're using.

[2019-07-03 19:57] smitshah91 opened #6818 "Keyvault client fails to get secret after migrating keyvault to another tenant"
We recently migrated our subscription and all resources including keyvault to another tenant. We did setup all necessary permissions but keyvault fails to get secret with below exception.

Operation execution on the AcisRuntime failed.

Error while retrieving key vault certificate. Identifier:MetadataServiceClientAdminCertificate. Path:https://dummyPath/secrets/Dummycert. Error: System.AggregateEx

[2019-07-03 20:40] #6277 closed

[2019-07-03 20:42] #6284 closed

[2019-07-03 20:42] #6279 closed

[2019-07-03 20:42] #6281 closed

[2019-07-03 20:51] tg-msft commented on #6280
Fixed with #6767

[2019-07-03 20:51] #6280 closed

[2019-07-03 20:52] tg-msft commented on #6282
Fixed with #6718

[2019-07-03 20:52] #6282 closed

[2019-07-03 20:52] tg-msft commented on #6278
Fixed with #6718

[2019-07-03 20:52] #6278 closed

[2019-07-03 20:54] nonik0 commented on #6651
@omerlh Can you elaborate more on your repro steps/scenario? You said you are running locally, but MSI is only possible when deployed to an Azure VM or App Service with MSI enabled.

Can you confirm you are seeing this issue on a local machine? If that's the case, the cause of the delay is not the MSI token retrieval logic, but possibly another of AppAuth's authentication methods (Azure CLI, Visua

[2019-07-03 20:59] nonik0 commented on #6611
@UMANGAWASTHY You are trying to use a user-assigned managed identity, correct? Could you try setting an AppAuth connection string to specify using the user-assigned managed identity, as below:

`RunAs=App;AppId={ClientId of user-assigned identity}`

[2019-07-03 21:02] nonik0 commented on #6611
@UMANGAWASTHY You are trying to use a user-assigned managed identity, correct? Could you try using an [AppAuth connection string](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#connection-string-support) to tell AppAuth to specifically use the user-assigned managed identity? You can do this by passing the following connection string directly to the ASTP construc

[2019-07-03 21:21] nonik0 commented on #6138
@Kurtaclan This issue is fixed in the latest GA release, [AppAuth 1.2.0](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.0).

[2019-07-03 21:32] nonik0 commented on #5338
@MarcoK80 Hi Marco, in the latest AppAuth release we've added the suggested MSI retry logic described [here](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#retry-guidance), which should hopefully help to alleviate sporadic token request failures.

Please continue to let us know any feedback you may have!

[2019-07-03 22:04] nonik0 commented on #6683
@markgould Thank you very much for bringing this to our attention! We will be fixing this ASAP, targeting early next week.

[2019-07-03 23:46] maggiepint commented on #6813
Thanks for bringing this issue to our attention. I have routed to the appropriate team for follow-up.

[2019-07-03 23:58] maggiepint commented on #6814
Thanks for this feedback. I have routed to the appropriate team for follow-up.

[2019-07-04 00:02] maggiepint commented on #6818
Thanks for this feedback. I have routed your request to the appropriate team for follow-up.

/cc: @schaabs

[2019-07-04 00:06] moralt commented on #6814
May I suggest to also apply the "Data Factory" lable? The ask is actually on their team.

[2019-07-04 00:08] maggiepint commented on #6814
Thanks! Sometimes I can't quite tell.

[2019-07-04 05:45] omerlh commented on #6651
Yes, this is when running locally. I guess it's trying to use Azure CLI credentials.

[2019-07-04 07:13] jnyrup commented on #6651
Have you tried providing a `connectionString` to `AzureServiceTokenProvider`?
[code]

We experienced long delays as well when running locally.
If I remember correct `AzureServiceTokenProvider` will first try authenticating using `AzureCLI` and `MSI` before trying `VisualStudio`.

[2019-07-04 07:35] omerlh commented on #6651
I don't think this will work on Mac:
[code]
Do you know what is the connection string for Azure CLI?

[2019-07-04 07:42] jnyrup commented on #6651
`"RunAs=Developer; DeveloperTool=AzureCli"`
https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#connection-string-support

[2019-07-04 07:58] omerlh commented on #6651
Thank you, this indeed solved the issue - may be worth documenting it?

[2019-07-04 10:20] aniruthg opened #7157 "Multiple EventProcessorHost cause: Ignoring out of date checkpoint with offset"
**Use case and implementation:**
We process 20,000-2,00,000 messages (sometimes more) on daily basis. We run multiple processors to consume the events. We are currently checkpointing after every batch of message.

Now we often get into"ArgumentOutOfRangeException: Ignoring out of date checkpoint with offset" (checkpoint having higher sequence exception - Around 2500 times).

**Our Current understa

[2019-07-04 15:22] SeanFeldman commented on #6540
Thank you, @nemakam.
Would suggest to keep it opened until it's deployed and rolled out globally. Thanks 🙂

[2019-07-04 16:44] rythos42 commented on #6742
I can't speak for the OP, but in my office people keep trying to blindly update to the latest packages in a shared project. This will end up working fine in whatever solution they're working on, but breaks another solution they hadn't thought to check.

[2019-07-04 19:13] rythos42 opened #6827 "[BUG] AppAuthentication + EF Update-Database -- The type initializer for 'System.Data.SqlClient.SqlAuthenticationProviderManager' threw an exception."
**Describe the bug**
We just started using the version 1.2.0 of AppAuthentication, as written about [here](https://azure.microsoft.com/en-ca/blog/securing-azure-sql-databases-with-managed-identities-just-got-easier/). We were previously using 1.0.3, without using the access token method. Our QA/Prod database is in Azure, but our development environments use local SQL.

When using a connection stri

[2019-07-05 06:09] romanpolunin commented on #6742
There's another project (referenced from the same assembly) which uses Azure KeyVault. The code is new, so it's using most recent Microsoft.IdentityModel.Clients.ActiveDirectory (5.xx). Also, we noticed them somehow this version conflict does not affect us at run time, so it's only a build warning for now.

[2019-07-05 15:37] brjohnstmsft commented on #6380
@Rene-Sackers I'm adding test coverage for `ICollection` to the `FieldBuilder` tests, and so far I'm unable to reproduce any problems. Can you describe the issue you encountered in more detail?

[2019-07-05 19:24] pakrym opened #6831 "Adjust type names and namespaces"
✔️ | Name | New Name | Current Namespace | Usage | New Namespace
-- | -- | -- | -- | -- | --
✔️ | RequestFailedException | N/A | Azure | SDK User | Azure
✔️ | Response | N/A | Azure | SDK User | Azure
✔️ | Response<T> | N/A | Azure | SDK User | Azure
✔️ | Operation<T> | N/A | Azure | SDK User | Azure
✔️ | AzureExtensions | N/A | Azure | SDK User | Azure
❌ | ETag | N/A | Azure | SDK API | Azure.Cor

[2019-07-05 21:03] #6503 closed

[2019-07-05 21:33] weshaggard commented on #6503
Updated with https://github.com/Azure/azure-sdk-for-net/pull/6368.

[2019-07-06 03:50] brjohnstmsft commented on #6380
Please see the description of this PR for details on where we landed in addressing each of the issues mentioned in this thread: https://github.com/Azure/azure-sdk-for-net/pull/6833

I'll close this issue once the new version of the SDK is released. There are some other fixes we're working on, so the ETA is at least a few weeks.

[2019-07-06 17:00] schaabs commented on #6803
Hi @rajdhandus, thanks for reporting the issue.  In you example code where you're calling the REST API directly what is the value you're passing in for $plaintext?

[code]

This should be a base64url encoded value.  This is what the service expects.  Unfortunately the REST API docs [here](https://docs.microsoft.com/en-us/rest/api/keyvault/unwrapkey/unwrapkey), and [here](https://docs.microsoft.com

[2019-07-06 17:22] schaabs commented on #6818
@smitshah91 Thank you for the detailed report.  This is a  known issue https://github.com/Azure/azure-sdk-for-net/issues/5702, and unfortunately there is no way to force the KeyVaultClient to refresh the Authority.  In fact the authority for each vault is cached staticly so restarting the process is the only way to clear the cache.

This issue should be fixed in the next release of the SDK, but un

[2019-07-06 18:41] fabiomilheiro commented on #6462
@ShubhaVijayasarathy, thank you for letting us know that the fix for this was coming but I'm still hitting this error now with the latest version of Microsoft.Azure.ServiceBus (v3.4.0).

Could you confirm if there was a delay? And also a rough estimate please?

Thanks

[2019-07-06 22:32] jan-ai commented on #6774
Also it looks like several properties of Microsoft.Azure.CognitiveServices.Search.VideoSearch.Models are missing. See the following list

- creator
- datePublished
- **duration**
- encodingFormat
- hostPageDisplayUrl
- isAccessibleForFree
- mainEntity
- publisher

Should I open a new bug report for those as well or does the appropriate team care about all missing properties in the several ...Searc

[2019-07-07 17:06] v-jaswel opened #6834 "[BUG][LUIS] Authoring client uses LUIS version 2.0; Runtime client uses LUIS version 3.0-preview"
**Describe the bug**
In the Azure SDK for .NET, the LUIS runtime client is set to use version 3.0-preview of the service instead of 2.0.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Language.LUIS.Runtime/src/Generated/LUISRuntimeClient.cs line 183:
[code]

This is different from the Azure SDKs for all other languages (Python, Go, Java) except JS. See issue 4189 (ht

[2019-07-08 00:06] engenb commented on #6462
I hope this issue doesn't go unnoticed because it was closed.  I am also seeing this same issue with Microsoft.Azure.ServiceBus 3.4.0

if this is helpful, here is a request I captured from ManagementClient.TopicExistsAsync

[code]

It looks like ManagementClient is getting a good token, using my Azure Service Authentication account set in Visual Studio.  However, ServiceBus seems to be expecting a

[2019-07-08 00:22] brjohnstmsft commented on #6707
@nminhduc Are you still experiencing this issue? Can you share the code to reproduce it?

[2019-07-08 01:20] MikeNicholls commented on #6602
Hi @sharathppss, are you passing `fileParamBytes` directly into `SignData`?  The documentation isn't very clear, but you actually need to hash the data yourself and pass the _digest_ into the `SignAsync` function.

If you're not already, try something like this:
[code]

[2019-07-08 06:59] msvijayn commented on #4853
@snehithm - can you please assign this to @abver

[2019-07-08 12:34] markgould commented on #6462
@kurtzeborn @jfggdl can this issue be re-opened or can we get some clarification please?

[2019-07-08 13:26] JohnPenney commented on #6543
Do you have an ETA on when I might get a response please?

[2019-07-08 15:51] maririos commented on #5410
This was done by @pakrym

[2019-07-08 15:51] #5410 closed

[2019-07-08 15:54] pakrym commented on #5410
This would have to be redone with new AsyncCollection pattern.

[2019-07-08 16:00] maririos commented on #6677
@kurtzeborn this isn't related to App Configuration service.
I removed the tags and added the triage one back as couldn't find the project/owner of the referenced service in the repo.

[2019-07-08 17:08] #6712 closed

[2019-07-08 17:44] rajdhandus commented on #6803
hi @schaabs - we tried using both base64 encoded string and planText string as input for the Wrap Method.. both time the Unwrap method failed with Bad Request..

Given below is the powershell function that Wraps..

[code]

Should Wrapkey REST method's output/response be base64 encoded before calling Unwrap via the SDK?

Are you suggesting that the Wrapkey's request be base64 encoded? If that is th

[2019-07-08 19:28] arv100kri commented on #6761
**"mergeOrUpload"** is the current behavior that indexers operate by, which is also something that you've already highlighted previously. We currently do not have a mechanism for indexers to change that mode and I wouldn't be able to provide a reasonable alternative at this time.

Unfortunately, that's the only possible work around at this current moment - if you are able to identify the documents

[2019-07-08 20:39] nonik0 commented on #5976
@SaltyDH @adibraniste This looks like an issue with App Service MSI endpoint and well as the AppAuth library (as the library is not accounting for the current behavior of the API). I was also able to repro this issue, and we will be releasing a fix with the next release of AppAuth (slated for this week).

I will also talk with the App Service MSI team regarding updating their API to use a more app

[2019-07-08 20:59] ocengiz0 commented on #6097
Hello, any update?
@nemakam, @binzywu, @kurtzeborn @jsquire and @AlexGhiondea

[2019-07-08 21:05] nemakam commented on #6097
I started a long running instance which captures the state when we run into this issue. Waiting for the bug to reproduce..

[2019-07-08 21:36] jfggdl commented on #6742
Thanks for the clarity. We are looking into the activities that would require Service Bus to support Microsoft.IdentityModel.Clients.ActiveDirectory  version 5.XX.

[2019-07-08 21:38] pakrym opened #6841 "Figure out Response disposal"
HttpResponseMessage needs to be disposed before the connection is returned to the connection pool.

Can we make Azure.Core more resilient to customers not disposing responses?

[2019-07-08 21:42] jfggdl commented on #6813
@Mortana89, thank you for bringing this issue to our attention...again. An engineer from our team should be looking at this issue soon.

[2019-07-08 22:03] pakrym commented on #6831
Conflicts with ASP.NET Core HttpRequest. I know they are not supposed to be used in the same place but still something to think about.

[2019-07-08 23:39] maggiepint commented on #6827
Thanks for this feedback. I have routed to the appropriate team for follow-up.

[2019-07-08 23:51] maggiepint commented on #6834
Thanks for the feedback. I have routed to the appropriate team for follow up.

[2019-07-09 14:18] #6777 closed

[2019-07-09 15:55] maririos commented on #6758
Changed merged.

[2019-07-09 15:55] #6758 closed

[2019-07-09 16:19] v-jaswel opened #6853 "[BUG][LUIS] Apps.AddCustomPrebuiltDomainAsync throws because of missing tokenizerVersion"
**Describe the bug**
Calling Apps.addCustomPrebuiltDomain gets a 400 response from the server because no tokenizer version is specified.

***Exception or Stack Trace***
($exception).InnerException.Message:
[code]

((Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.Models.ErrorResponseException)($exception).InnerException).Request.RequestUri
[code]

((Microsoft.Azure.CognitiveServices.Lang

[2019-07-09 17:05] #6030 closed

[2019-07-09 17:06] #6779 closed

[2019-07-09 18:28] jsquire commented on #6030
### First Preview Release Information

- NuGet Package: [Azure.Messaging.EventHubs](https://www.nuget.org/packages/Azure.Messaging.EventHubs/)
- Release Notes:  [https://aka.ms/azure-sdk-preview1-net](https://aka.ms/azure-sdk-preview1-net)

[2019-07-09 18:54] #6780 closed

[2019-07-09 19:17] UMANGAWASTHY commented on #6611
@nonik0
RunAs=App;AppId={ClientId of user-assigned identity}

Thanks it's working.

[2019-07-09 19:17] #6611 closed

[2019-07-09 21:10] chidozieononiwu opened #6856 "[BUG]Azure-Sdk-for-Net Github.io Docs"
This issue tracks bugs to be fixed / refinement that need to be carried out on the GitHub.io doc for Azure-SDK-for-Net

[2019-07-09 22:34] SeanFeldman opened #6858 "[QUERY] dependencies versions"
**Query/Question**

When client libraries are released they indicate what version of dependencies should be used. Those dependencies and their versions have been clearly tested and verified.
Looking at the Azure Service Bus client, it appears version ranges for dependency libraries have been removed, removing information what version of the dependencies was verified.

For example, ASB client takes

[2019-07-10 01:17] maggiepint commented on #6853
Thanks for the bug report. I have routed to the appropriate team for follow-up.

[2019-07-10 01:30] maggiepint commented on #6858
Hi Sean!

As always, thanks for the feedback. Perhaps @AlexGhiondea or @jfggdl can chip in?

[2019-07-10 01:35] AlexGhiondea commented on #6858
@jsquire do you recall anything around this from when we moved the code over?

[2019-07-10 01:47] SeanFeldman commented on #6858
@AlexGhiondea this is what the original code contained: [Microsoft.Azure.ServiceBus.csproj](https://github.com/Azure/azure-service-bus-dotnet/blob/1607601d3d3c6cf7e0c2a757ccb398d803482e7c/src/Microsoft.Azure.ServiceBus/Microsoft.Azure.ServiceBus.csproj#L30-L34).

[2019-07-10 10:07] LeroyK opened #6859 "[FEATURE REQ] Make BatchFlushInterval configurable in ServiceBus SDK"
**Is your feature request related to a problem? Please describe.**
The Service Bus SDK uses a [static readonly value of 20ms](https://github.com/Azure/azure-sdk-for-net/blob/52f9222058b5ae6716c8b088af20485dc0d4d1bc/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs#L46) for batch flush interval when receiving messages. This could delay message processing speed.

**Describe the s

[2019-07-10 13:14] jsquire commented on #6858
This isn't quite what it seems on the surface; each package reference is still locked to an approved version or range of versions, they are just not defined inline in the project file.

This was a recent effort by our engineering team to centralize dependency versions across all libraries in the repository.   Each project contains only a reference to the package that it would like and the versions

[2019-07-10 14:30] tjrobinson opened #6860 "[QUERY] Preview 1 - Will there be a Azure.Storage.Tables? What should we use instead?"
**Query/Question**
Will there be a `Azure.Storage.Tables` package for table storage? What should we use instead if not?

***Why is this not a Bug or a feature Request?***
It is a question, though it may lead to a feature request.

**Setup (please complete the following information if applicable):**
 - OS: N/A
 - IDE : N/A
 - 12.0 Preview 1

 **Information Checklist**
 Kindly make sure that you hav

[2019-07-10 15:30] maggiepint commented on #6858
I would start with @bsiegel

[2019-07-10 16:56] AlexGhiondea commented on #6858
Adding @weshaggard as well

[2019-07-10 17:36] mitchdenny commented on #6677
Hey @csharpfritz I noticed that this was still sitting in triage. I had a quick look at our repo and I couldn't find the code for this - even though the package clearly points back to our repo for this. Anyway - it turns out it was developed on a branch that appears not have been merged in.

Here it is:

https://github.com/Azure/azure-sdk-for-net/tree/AzureConfigMgr/src/SdkCommon/ConfigManager/Con

[2019-07-10 17:44] bsiegel commented on #6858
The vast majority of the dependency version ranges were consistent across packages, those were just copied directly into the Packages.Data.props file.

The next set of dependencies differed by only a patch or minor version. Each time I aligned these dependencies I read the full release notes of the dependency and often looked at the source changes to make sure that the update was in fact compatibl

[2019-07-10 17:54] csharpfritz commented on #6677
I don't understand the comments.

My sample project was built with the default templates that ship with Visual Studio and uses the documentation provided for working with configuration in Functions 2.0

[2019-07-10 18:27] weshaggard commented on #6858
Looking at the Azure Service Bus client, it appears version ranges for dependency libraries have been removed, removing information what version of the dependencies was verified.

@SeanFeldman I think there are some incorrect assumptions here. Even if a library has a package dependency range it doesn't necessary imply it was tested\verified with all the packages in that range. Setting up a testing

[2019-07-10 18:59] AlexGhiondea opened #6863 "Release Storage Track 2 Library Preview 2 for .NET"

[2019-07-10 19:25] weshaggard commented on #6239
@tmat Do we still need to reference the SourceLink package or is the support if we are using the .NET Core 3 SDK? Has support been added to the SDK?

[2019-07-10 19:36] tmat commented on #6239
Yes, there is no plan to include SourceLink in the SDK.

[2019-07-10 19:43] weshaggard commented on #6239
@chidozieononiwu looks like there are some projects that already reference SourceLink (https://github.com/Azure/azure-sdk-for-net/search?q=sourcelink&unscoped_q=sourcelink) which is why @mitchdenny said it worked for some he tried already. Please move that package reference to the common targets file and update the version to the latest published on nuget.org.

[2019-07-10 20:48] SeanFeldman commented on #6858
@weshaggard correct. It's not possible. This is why the range indicates "lowest version resolved by nuget which stands for the version tested, till next major, assuming the component is following SemVer".

Thank you for the details. I can see the reason behind centralization. At the same time, having a single file to "rule them all" with overrides feels counter to the idea of (quote) [it should fe

[2019-07-10 20:55] weshaggard opened #6866 "For release builds that we intend to publish we should build in Release configuration"
Currently we default Configuration to Debug but for our official builds we need to set it to Release.

[2019-07-10 21:03] jsquire commented on #6858
@SeanFeldman: I'll let Brandon and Wes continue to drive the larger discussion, but I can offer a bit of context on that last bit.  Each individual project has the ability to override the central versioning for its dependencies, if there is a need to do so - such as isolating a breaking change.   Obviously, if this is something that gets used often, it weakens the value of having centralized coord

[2019-07-10 21:07] Petermarcu commented on #6858
We've had lots of issues where people couldn't use multiple services in the same application because there was "no right answer" when NuGet tried to resolve dependencies across a breaking change. One side of the breaking change has to win because you can't load these assemblies SxS in applications. Even if the projects were isolated and free to move across the breaking change boundary, once it got

[2019-07-10 21:18] v-kydela opened #6868 "[BUG] ExamplesMethodWithHttpMessagesAsync calls nonexistent API"
**Describe the bug**

A [customer on Stack Overflow](https://stackoverflow.com/questions/56958876/luis-api-call-to-get-list-of-utterances-for-an-intent-is-failing-with-404-error) tried to use [`ExamplesMethodWithHttpMessagesAsync`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Language.LUIS.Authoring/src/Generated/Model.cs#L2579) in sdk/cognitiveservices/Language.LUI

[2019-07-10 21:49] maririos commented on #6150
This needs a deeper conversation and agreement with other libraries on what to do. Currently they all do what App Config does which is have samples that run as tests

[2019-07-10 21:49] #6150 closed

[2019-07-10 21:52] maririos commented on #5220
This didn't happen for Preview2. I am going to move it to Vnext so we don't forget to do it for future releases

[2019-07-10 22:37] weshaggard opened #6870 "Fix xml doc comments in Azure.Core"
As part of https://github.com/Azure/azure-sdk-for-net/pull/6869 I had to disable warning 1591 because there are a bunch of missing doc comments. This issue is to track fixing those warnings and removing that suppression.

[2019-07-10 22:38] weshaggard opened #6871 "Fix xml doc comments in Storage"
As part of https://github.com/Azure/azure-sdk-for-net/pull/6869 I had to disable a bunch of warnings caused by invalid doc comments in the storage projects. This issue is to track removing those nowarn suppression and fixing the doc comment issues.

[2019-07-10 22:51] weshaggard opened #6872 "Fix xml doc comments in keyvault"
As part of https://github.com/Azure/azure-sdk-for-net/pull/6869 I had to disable warning 1591 because there are a bunch of missing doc comments. This issue is to track fixing those warnings and removing that suppression.

[2019-07-10 22:54] weshaggard opened #6873 "Fix xml doc comments for ApplicationModel Configuration"
As part of https://github.com/Azure/azure-sdk-for-net/pull/6869 I had to disable warning 1591 because there are a bunch of missing doc comments. This issue is to track fixing those warnings and removing that suppression.

[2019-07-10 23:01] Petermarcu commented on #6730
@schaabs for his thoughts on this. In our new wave of libraries we are doing auth/identity differently.

[2019-07-10 23:26] maririos commented on #5707
For now we have docs at https://azure.github.io/azure-sdk-for-net/api/ApplicationModel.Configuration/Azure.ApplicationModel.Configuration.html

[2019-07-10 23:26] #5707 closed

[2019-07-10 23:26] #5706 closed

[2019-07-10 23:32] weshaggard commented on #6870
Note that this also include Azure.Core.Extensions which has also disabled 1591.

[2019-07-10 23:44] v-kydela commented on #6868
I've spoken to the LUIS team and it seems like this API was implemented but never exposed. It sounds like they're going to fix it on their end. I'll leave the issue open a little longer for visibility.

[2019-07-11 00:11] praries880 commented on #6859
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-07-11 00:12] praries880 commented on #6860
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-07-11 00:27] praries880 commented on #6868
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-07-11 01:16] schaabs commented on #6730
@qub1n I believe this issue is referencing the [AzureCredentials](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCredentials.cs) class from the c# fluent library https://github.com/Azure/azure-libraries-for-net.  If that's the case this issue should probably be moved to that repo.

[2019-07-11 01:36] nemakam commented on #6251
The fix has been released in the `Azure.Amqp` library version `2.4.3`. Please use the latest library and see if it works out for you.

[2019-07-11 01:36] #6251 closed

[2019-07-11 04:20] AlexGhiondea commented on #5813
The docs are available on the github.io site.

[2019-07-11 04:20] #5813 closed

[2019-07-11 04:30] AlexGhiondea commented on #6264
I believe we have tests now for this library. Is there a way to check that this is no longer an issue?

[2019-07-11 07:23] countchivas commented on #6611
Thanks @nonik0 !

[2019-07-11 07:28] SHuygh commented on #6251
Thank you for the update. Wil try updating and come back to it when this is thoroughly tested.

[2019-07-11 08:47] yufeih commented on #6172
@kurtzeborn , any updates on this issue?

[2019-07-11 11:03] oliverbean commented on #6814
This feature requeset is accepted by Azure Data Factory team, and would be included into next two months' plan. Customers store their client certificate in Azure Key Vault, and refer it inside AzureSQL linked service, to authenticate and access AzureSQL database.

[2019-07-11 14:24] JonathanHuss commented on #6003
Hi @AlexGhiondea, @schaabs and team,

It appears as though this may still be an issue.  I'm running v3.0.3 of the KeyVault library, which I believe is the latest GA version, and can repro this issue.  I'm also a Microsoft FTE, so happy to share my environment and such if that's helpful for troubleshooting.  My scenario is a fair bit simpler than @basvanmeer's, too, so maybe that could be useful.

[2019-07-11 14:35] #6778 closed

[2019-07-11 16:01] weshaggard commented on #6264
The latest test runs on the pipeline https://dev.azure.com/azure-sdk/internal/_build?definitionId=237 no longer show this warning so we can close this.

[2019-07-11 16:01] #6264 closed

[2019-07-11 16:12] v-kydela commented on #6868
@praries880 - The LUIS team said they would deploy this API and it should be working in a couple of weeks. I don't think there's anything to do on your end.

[2019-07-11 16:12] #6868 closed

[2019-07-11 16:31] matthchr commented on #4237
Closing this as there hasn't been much action on it lately.

[2019-07-11 16:31] #4237 closed

[2019-07-11 16:39] JonathanHuss commented on #6003
An update:

Is seems as though maybe the problem actually resides in the underlying AzureServiceTokenProvider.KeyVaultTokenCallback functionality.  Updating my code to do something like this.

[code]
instead of like this:
[code]
seems to have resolved my issue.

[2019-07-11 16:44] matthchr commented on #4820
JSON template support is a feature specific to the CLIs currently precisely because complex configuration via a commandline is difficult - people often ended up writing scripts around the command lines to accomplish their job. The same problems aren't as true with code (C#, Java, etc).

There are some underlying technical reasons why it's difficult to replicate the same support in every language,

[2019-07-11 16:44] #4820 closed

[2019-07-11 17:34] matthchr commented on #6501
@dterziev thanks for the report and the fix. This has been closed via #6487

[2019-07-11 17:34] #6501 closed

[2019-07-11 17:51] maririos commented on #6873
PR #6880 added most of the missing xmldocs.
Remaining metods are for the [AppConfigurationAzureClientBuilderExtensions](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/appconfiguration/Azure.ApplicationModel.Configuration/src/AppConfigurationAzureClientBuilderExtensions.cs#L11).

[2019-07-11 18:10] tiwari-abhishek commented on #4404
I tried passing in an HTTP Client like below:
[code]
still when I check the KeyVaultClient it does not have the proxy set. Its ignored and when I try to get credentials I get:
`System.Net.Http.HttpRequestException: "No such host is known"`

The HttpClient created from this httpHandler can make proxy calls to other endpoints though.

[2019-07-11 18:16] sahildesai308 opened #7156 "EventHubProcessorHost does not support specifying an ITokenProvider, an ICheckpointManger, and an ILeaseManager in one constructor"
## Actual Behavior
1. EventProcessorHost has a constructor that takes an ITokenProvider and a CloudStorageAccount, and a constructor that takes an ICheckpointManager and an ILeaseManager but uses a connection string.

## Expected Behavior
1. EventProcessorHost should have a constructor that takes an ITokenProvider and an ICheckPointManager and ILeaseManager so that MSI can be used while still bein

[2019-07-11 18:52] chidozieononiwu commented on #5776
Fixed by #6842

[2019-07-11 18:52] #5776 closed

[2019-07-11 20:06] NickDrouin commented on #5189
The following code repro's the bug:

`        string resourceWriteSuccessDataString = "{\r\n  \"authorization\": {\r\n    \"scope\": \"/subscriptions/00000000-1111-2222-3333-000000000002\",\r\n    \"action\": \"Microsoft.Resources/deployments/write\",\r\n    \"evidence\": {\r\n      \"role\": \"Subscription Admin\"\r\n    }\r\n  },\r\n  \"claims\": {\r\n    \"aud\": \"https://management.core.windo

[2019-07-11 21:23] #6662 closed

[2019-07-11 21:26] tg-msft commented on #6716
This was fixed and we're running automatic sync tests.

[2019-07-11 21:26] #6716 closed

[2019-07-11 21:33] tg-msft opened #6884 "Expose Id property on Operation<T>"
Storage is currently exposing `CopyFromUriOperation` from `BlobBaseClient.StartCopyFromUri` because `Operation<T>` doesn't expose an `Id` property.  This was an oversight and is essential to `Operation<T>` functioning correctly because you can't get an existing `Operation<T>` without the `Id`.

We should add the `Id` property and then make `CopyFromUriOperation` an `internal` type.

[2019-07-11 21:38] tg-msft commented on #6696
Resolved with last release.

[2019-07-11 21:38] #6696 closed

[2019-07-11 21:43] #6474 closed

[2019-07-11 21:43] tg-msft opened #6885 "Storage: Make UriBuilders public"
The various `*UriBuilder` types for constructing URIs that move up and down the Storage service hierarchy are very useful.  We should expose them publicly for users who might need them as well.

[2019-07-11 21:46] tg-msft opened #6886 "[Up For Grabs] Storage: Support StorageSharedKeyCredential rolling"
We should make the `AccountKey` writable so customers can roll their keys without tearing everything down.

[2019-07-11 21:46] AlexGhiondea commented on #6476
Does this make sense to be in the Json package?

[2019-07-11 22:05] tg-msft opened #6887 "[Up For Grabs] Storage: Remove snapshot from most APIs"
Rather than take a `snapshot` parameter on most of our APIs, we'll expect users to call `WithSnapshot` to get a `BlobClient` that make requests for a particular snapshot.

[2019-07-11 22:06] tg-msft opened #6888 "Storage: Add PublicAccessType.None"
Add `None` to `PublicAccessType` rather than having users pass a null value.

[2019-07-11 22:18] tg-msft opened #6889 "Have RetriableStream take an HttpPipeline instead of a ResponseClassifier"
Our clients typically only hang on to the `HttpPipeline` after building it from our `ClientOptions` as it's all we need to make requests.  Unfortunately `RetriableStream` only takes a `ResponseClassifier` and the number of retries.

This means we'll need to pull certain values off the `ClientOptions` and thread them through the service hierarchy to use `RetriableStream` correctly (i.e., calling `n

[2019-07-11 22:22] tg-msft opened #6890 "Storage: Add a RetryPolicy that reads from a secondary region if the account supports it"
See https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy-grs for more details

[2019-07-11 22:25] tg-msft opened #6891 "Storage: Fix response buffering for downloads"

[2019-07-11 22:31] tg-msft opened #6893 "Storage: Add convenience for File Upload"
Add a convenience method to automatically upload an entire as a series of ranges

[2019-07-11 22:37] tg-msft opened #6894 "Storage: API feedback - change small IEnumerable<T>s to T[]s"
Update the Queue response types to return arrays instead of `IEnumerable<T>`s

We should do this for QueueClient's PeekMessages and DequeueMessages

[2019-07-11 22:38] tg-msft opened #6895 "Storage: Make the CORS rules nullable"
In our (Blob/Queue/File)ServiceClient.SetPropertiesAsync method, we need to allow the list of Cors rules to be null to indicate they should be ignored instead of cleared (per https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties).

[2019-07-11 22:40] tg-msft opened #6896 "Storage: Minimize cancellation checks"
We have one `cancellationToken.ThrowIfCancellationRequested();` cancellation check per request in the `*RestClient.cs` generated code.  It happens after we get a response but before we parse it.

Investigate whether that's really needed or if we can remove it.  We'll specifically want to make sure a cancelled request throws and exits before our parsing code ever picks it up.

[2019-07-11 22:43] tg-msft opened #6897 "[P0] Storage: Use structs for our model types where appropriate"
Change the code generation to use structs for model types identified in the API review

[2019-07-11 22:58] brjohnstmsft commented on #6707
Closing this issue since we don't have enough information to reproduce it. @nminhduc, feel free to re-open it if you're still experiencing the issue and can provide more details on how to reproduce it.

[2019-07-11 22:58] #6707 closed

[2019-07-11 23:03] tg-msft opened #6898 "Storage: Support memory mapped files for uploads"

[2019-07-11 23:06] tg-msft opened #6899 "Storage: Validate client IDs"
Update the generator

[2019-07-11 23:06] tg-msft opened #6900 "Storage: Unify swagger files"

[2019-07-11 23:07] #6782 closed

[2019-07-11 23:07] tg-msft opened #6901 "Storage: Change how unit tests work when credentials aren't found"

[2019-07-11 23:12] #6871 closed

[2019-07-11 23:18] tg-msft opened #6902 "[P1] Storage: Use flags enums for various options types"
A lot of our options types should be Flags enums instead of structs full of bools.  We can just add `To***`/`Parse` extension methods on `BlobExtensions` to serialize/deserialize as appropriate.  We'll probably need to wait for the API review to get the full list of types we should convert into enums.

Look at [`BlobSasPermissions` as an example](https://github.com/Azure/azure-sdk-for-net/blob/mas

[2019-07-11 23:22] tg-msft opened #6903 "Add "content hydration hooks" to recorded tests"
Storage has a couple of tests where we'd like to upload large (>=1GB) files without bloating the size of the recordings that everyone has to sync in their repo.  We should devise a system where we can simply store a seed/size in the content on disk and have the recording turn back into that same random series of bytes when we play back the recording.

[2019-07-11 23:24] tg-msft opened #6904 "[Up For Grabs] Storage: Verify that we have ALL the Blob/Queue/FileErrorCode values"

[2019-07-11 23:30] tg-msft opened #6905 "Testing: Add a `LiveParallelizable` that runs Live tests in parallel"
We need to run tests sequentially when `AZURE_TEST_MODE` is `Record` or `Playback`.  It would be nice to run tests in parallel when `AZURE_TEST_MODE` is `Live` but nUnit doesn't allow that kind of flexibility out of the box.  We should investigate adding a custom `LiveParallelizable` attribute at the assembly level.

[2019-07-11 23:47] tg-msft opened #6906 "Testing Proposal: Simplify test recording serialization"
It would be great to either:

1. Add customizable `ExcludedRequestHeaders`/`ExcludedResponseHeaders` that we skip on comparison/serialization.
2. Check whether an existing recording matches the current recording before we serialize and skip it if they're the same.

Either option allows us to just xcopy the recordings back into our src directory to see what's been updated.  Option 1 has the benefit

[2019-07-11 23:49] pakrym commented on #6906
What's the goal here?

[2019-07-11 23:58] tg-msft commented on #6906
I have about one thousand Storage tests and it's kind of a pain to update recordings when I make a change.  I generally:

- implement the feature,
- see which tests fail during playback,
- turn on recording,
- tell nUnit to run just the failed tests from the previous run,
- then copy only the test recordings with recently updated timestamps (across `n` different directories)

The nUnit test runner

[2019-07-12 00:01] pakrym commented on #6906
I see, so the goal is to avoid re-recodings. Last time I thought about it response content was a hard thing to handle as it often contains things like creation timestamps.

[2019-07-12 00:05] tg-msft commented on #6906
I'd be perfectly happy to opt into this by authoring a custom `RecordingComparer` or similar that handled Storage specific content parsing.

[2019-07-12 00:07] tg-msft commented on #6906
\+ @maririos @schaabs @AlexGhiondea for their thoughts here too

_(Anyone else spend a lot of time recording tests?)_

[2019-07-12 01:27] joshuataylor commented on #6540
Any ETA for when this will be rolled out? Been seeing this for 7 months, so would be glad to see this resolved.

[2019-07-12 01:36] nemakam commented on #6540
@joshuataylor - Hard to give a precise timeframe, but I would say 1 month.

[2019-07-12 02:15] erich-wang opened #6908 "[Test Issue] Test cases failure for resources RP on Linux platform."
Test cases failure for resources RP on Linux platform.

[2019-07-12 02:47] NickDrouin commented on #5189
@ahamad-MS, here are some xunit tests, which can be added to:

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventgrid/Microsoft.Azure.EventGrid/tests/Tests/ConsumeEventTests.cs#L853

Once the bug is resolved.

[code]

Note that I can't actually repro a ResourceWriteFailure event, but I'd wager the Authorization and Claims are similarly complex, and will fail in the same way.

To repr

[2019-07-12 03:01] pakrym commented on #6906
Sounds good, I'll prototype something.

[2019-07-12 04:50] brandondahler commented on #6440
I believe that it is feasible to implement, but I'd like to get some agreement on approach.  I have a few details that I'd like to get answered before I get too far down the road on making a PR for this issue.

Here's how I'm conceptualizing this feature at the moment:

### Why implement a batched version of RegisterMessageHandler?
Batching can provide two main benefits:
1. Increased throughput by

[2019-07-12 05:49] joshuataylor commented on #6540
Okay, thanks.

Also, seeing this error under "User errors" in Azure, when in fact this is a server error, if Azure needs to fix it? We've removed a lot of our code base to not rely on ASB as a result of this.
![Screenshot_2019-07-12_13-48-21](https://user-images.githubusercontent.com/225131/61105221-cdc34480-a4ab-11e9-91dd-ba67def40378.png)

[2019-07-12 08:16] cwi3310 opened #6910 "[BUG] Azure search - ObjectDisposedException thrown instead of IndexBatchException when merging index batch"
**Describe the bug**
Using Net Framework 4.7.1, when merging documents with key not present in azure search index, a ObjectDisposedException is thrown instead of IndexBatchException.

***Exception or Stack Trace***
Cannot access a disposed object. Object name: 'System.Net.Http.StringContent'
  at System.Net.Http.HttpContent.CheckDisposed()
   at System.Net.Http.HttpContent.ReadAsStringAsync()
   a

[2019-07-12 09:25] YakunJin opened #6911 "[QUERY] How to wait for Azure Search to finish indexing document?"
**Query/Question**
Currently, we encountered an issue that when update a index document, we have to wait a few seconds before we could search out the updated result correctly (the IndexAsync api is asynchronously).

This will introduce a concurrent issue when update the same index document frequently. **Is there any way to help us ensure the update process successfully or no?**

Below is the simla

[2019-07-12 10:18] lultimouomo opened #6912 "ServiceBus trigger has null body"
**Describe the bug**
The body of a ServiceBus message sent from vert.x AMQP client is always null. Things worked fine with the functions 1.x trigger.

**To Reproduce**
Implement a 2.x azure function using Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.0.6
Send a message from vert.x AMQP client (io.vertx:vertx-amqp-bridge:3.6.3).
Observe that body is null.

***Code Snippet***
I have tried the foll

[2019-07-12 11:11] lultimouomo commented on #6912
I have managed to find a workaround: sending the AMQP message as Data instead than Amqp Value makes it work (at least for the `string myQueueItem, DateTime enqueuedTimeUtc` signature).
Still I would expect the 2.x functions to preserve compatibility with the 1.x version and work with Amqp Value messages.

[2019-07-12 17:08] #6239 closed

[2019-07-12 18:45] nemakam commented on #6540
@joshuataylor - "transactionID was not found" is actually considered user error.
For analogy, It is exactly same as MessageLockLostException. If you try to complete a message after the lock timeout, we would end up throwing lock lost exception. It is classified as user error. But lets say load balancing got triggered and the container hosting your entity is moved. The lock itself is not persisted

[2019-07-12 18:47] nemakam commented on #6540
If you find any error which you think wasn't caused by the client and if its happening more often than it should (assuming that you cannot completely get rid of non internal-server-errors), you could raise a support ticket on the azure portal and the support staff can help you identify the reason.

[2019-07-12 19:41] peterpogorski commented on #6572
@praries880 This does not look to be a Service Fabric issue can you please update the label on this issue?

[2019-07-12 20:25] mitchdenny commented on #6677
@csharpfritz I understand what you are saying. I'm just trying to help find the owner of this code as an initial step so that they can decide what they want to do about supporting .NET Core.

[2019-07-12 20:36] nemakam commented on #6742
The latest code doesn't take dependency on `Microsoft.IdentityModel.Clients.ActiveDirectory` anymore. The next release should resolve this.

[2019-07-12 20:36] #6742 closed

[2019-07-12 21:37] AlexGhiondea opened #6917 "Release Azure.Identity Library Preview 2 for .NET"
This tracks the work for Azure.Identity preview 2

- [ ] Gap Analysis of MSAL
- [x] Provide Feedback to MSAL Team and schedule updates
- [x] Finalize Azure.Identity footprint for SDK Preview
- [x] Investigate other authentication schemes we need to support (user auth, auth from shared token cache)
    - [x] User/password Authentication
    - [x] Interactive Authentication
    - [x] Device Code Aut

[2019-07-12 21:42] joshfree commented on #6043
Closing Preview 1 (July Preview) Epic

[2019-07-12 21:42] #6043 closed

[2019-07-12 23:34] danieljurek opened #6921 "Smoke Test Concurrency"
Today if two instances of this smoke test run simultaneously it's possible for the test runs to interfere with each other and create false negative results.

To fix this we should scope/namespace the objects being operated upon. One way to do this is to add a runtime-generated random string to each object's name.

[2019-07-12 23:57] btardif commented on #6622
@praries880 this is not an app service issue, this is an issue with azure pipelines, please triage this issue to that team.

CC: @pulkitaggarwl

[2019-07-13 00:18] corneliutusnea opened #6922 "[BUG] ServiceBus Session Closes if no messages after MessageWaitTimeout even if it was Renewed"
**Describe the bug**
The ServiceBus session automatically closes if there are no messages received in the MessageWaitTimeout time even if I continuously triggered the RenewSessionLockAsync.

***Code***
The issue seems to be this line:
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/SessionReceivePump.cs#L214
It assumes that if MessageWaitTimeout

[2019-07-13 01:00] axisc commented on #6252
apologies for the delay in my response.

we synced on this internally, and agree that the fact that AMQP connection doesn't recover is a bug and we will investigate that internally. Given that the repro is on a mobile app, is there a way for you to share the actual mobile app?

Alternatively, you can send over the trace and memory dump for us to investigate.

Now about the architecture pattern - e

[2019-07-13 02:13] jonmill commented on #6458
@kurtzeborn - any update here?

[2019-07-13 02:25] brandondahler commented on #6440
Thinking through my personal opinions for answers to these questions:

1.  This will necessarily be complex because of the required complexity around the cases.  With this in mind, I believe that we should follow these
    * Completing them individually if AutoComplete = true doesn't need to be supported (or can otherwise be undefined behavior).  If you were to do this today with RegisterMessageHa

[2019-07-13 13:00] coffeeslayer commented on #3933
Why did this just work for me? I'm happy it did, but I didn't change any settings so I don't understand why it worked lol.

[2019-07-13 14:52] travismartinjones commented on #6252
@axisc I have a different reproduce-able example that doesn't require a mobile application, but instead uses a .net web api project. I'm not 100% certain that these two bugs are caused by the same AMQP issue, but it looks quite probable due to the nature of the errors originating from the same file in the AMQP source code (AmqpLinkCreator). You may find the attached reproduce-able case on the bug

[2019-07-14 18:27] brjohnstmsft commented on #6911
Hi @YakunJin,

Please refer to [this thread on StackOverflow](https://stackoverflow.com/questions/40108369/how-to-wait-for-azure-search-to-finish-indexing-document-for-integration-testin), and feel free to post any follow-up questions or comments there.

Since this is not related to the .NET SDK, I'm closing this issue.

[2019-07-14 18:27] #6911 closed

[2019-07-14 18:29] brjohnstmsft commented on #6910
@cwi3310 Thanks for reporting this. We'll investigate.

[2019-07-15 05:23] axisc commented on #6252
@travismartinjones thanks for the details. we will investigate.

[2019-07-15 05:42] erich-wang commented on #6458
@romitsyr , do you mean some sdk libraries reference the version of Microsoft.IdentityModel.Clients.ActiveDirectory < 4.0? If yes, could you share the names of sdk libraries?

[2019-07-15 17:01] jonmill commented on #6458
@erich-wang - the `Microsoft.Azure.Management.Fluent` package **requires** a `Microsoft.IdentityModel.Clients.ActiveDirectory` package that is < v4....this is a big blocker since `Microsoft.IdentityModel.Clients.ActiveDirectory` is now at v5

[2019-07-15 17:07] #6495 closed

[2019-07-15 17:21] joshfree opened #6928 "Identity: Implement Interactive Authentication Support"
Gets the token through an interactive process that prompts the user for credentials through a browser or pop-up window

[2019-07-15 17:22] joshfree opened #6929 "Identity: Implement Username/password Authentication"
Allows an application to sign in the user by directly handling their password.

[2019-07-15 17:23] joshfree opened #6930 "Identity: Implement Device code Authentication"
Allows users to sign in to input-constrained devices such as a smart TV, IoT device, or printer.

[2019-07-15 17:58] qub1n commented on #6730
@schaabs What is "a new  wave of libraries"? Is there any other recommended library I should used instead?

[2019-07-15 18:27] #6380 closed

[2019-07-15 18:29] maririos opened #6932 "UpdateKey should receive KeyOps as optional"
Currently it is mandatory. Change it to optional and if not provide it do: `key.KeyMaterial.KeyOps`

[2019-07-15 18:50] #6906 closed

[2019-07-15 19:45] joshfree opened #6933 "Release Distributed Tracing Track 2 Plugin Preview 2 for .NET"
- [x] Spec for Distributed Tracing Produced @johanste
- [x] Distributed Tracing Plugin / Context updated for Open Telemetry for .NET @pakrym
- [x] Tracing Context propagated through each Track 2 HTTP-based Library @pakrym
   - [x] AppConfiguration
   - [x] Azure.Core
   - [x] Azure.Identity
   - [x] KeyVault
   - [x] Storage
- [x] OpenTelemetry preview package pushed to NuGet.org 8/2 @lmolkova
- [

[2019-07-15 21:12] #6872 closed

[2019-07-15 21:43] pakrym opened #6936 "Add ASP.NET Core integration extension methods to all libraries"
And possibly add a simple Analyzer.

- [x] AppConfig
- [x] Storage
- [x] EventHubs
- [x] KeyVault

[2019-07-15 22:44] kurtzeborn commented on #6922
Thanks for opening this issue and even suggesting the fix!  I've routed this to the appropriate team for follow up.

[2019-07-15 22:46] pakrym opened #6938 "Prototype nullable reference types feature usage"

[2019-07-15 23:14] pakrym commented on #6363
Done

[2019-07-15 23:14] #6363 closed

[2019-07-16 02:26] nemakam commented on #6723
The background renewal doesn't know about the `CompleteAsync()` done by the client handler. If you are completing the message early on, then why do you need auto-renewal?
I'm closing this issue as it is by-design and there's no non-intrusive way of fixing this. The message renewal would stop renewing for that message once it receives `LockLostException` for that message.

[2019-07-16 02:26] #6723 closed

[2019-07-16 04:21] stewartadam commented on #6723
I'm completing it early on just to show what happens in the min viable repro - but as noted above the real-world scenario has a long-running task as the message handler so lock renewals are necessary.

[2019-07-16 04:46] erich-wang commented on #6458
@yaohaizh, could you take a look?

[2019-07-16 04:52] stewartadam commented on #6723
and, for clarity - if this is by design, we should document this so that users are aware this exception is expected when auto-renew is enabled.

[2019-07-16 08:39] erich-wang commented on #6521
New an issue for service team: https://github.com/Azure/azure-rest-api-specs/issues/6637

[2019-07-16 09:11] erich-wang commented on #6543
@davidlicig @felixwa @yangyuan, could you take a look?

[2019-07-16 09:45] nrandell commented on #6616
If you look at the rest api definition there is a start container api but the library does not reference it. I think it's a simple case of just regenerating this library against the complete api definition. (From memory as it was a few weeks ago I raised this)

[2019-07-16 09:52] erich-wang commented on #6651
@omerlh , is the issue resolved? If yes I'll close it, thanks.

[2019-07-16 10:03] erich-wang commented on #6664
@aghilimc , Azure function doesn't support native dll currently, please refer to https://github.com/Azure/Azure-Functions/issues/622. Close the issue since https://github.com/Azure/Azure-Functions is better place to track the issue.

[2019-07-16 10:03] #6664 closed

[2019-07-16 10:05] erich-wang commented on #6683
@nonik0, any update for the issue?

[2019-07-16 10:05] #6651 closed

[2019-07-16 10:05] omerlh commented on #6651
Yes please.

[2019-07-16 10:09] erich-wang commented on #6709
I'm looking into it.

[2019-07-16 10:15] TheReaLee opened #6943 "Is it intended that if a Subscription does not exist a ServiceBusCommunicationEx is thrown instead of a MessagingEntityNotFoundEx?"
**Query/Question**
Is it intended that if a Subscription does not exist a ServiceBusCommunicationEx is thrown rather than a MessagingEntityNotFoundException?

***Why is this not a Bug or a feature Request?***
Our team is currently building a wrapper around the Microsoft.Azure.ServiceBus project and have noticed that when a Topic or Queue does not exist a **MessagingEntityNotFoundException** is thr

[2019-07-16 12:36] erich-wang commented on #6616
@samkreter,  please regenerate source code from swagger spec for containerinstance since StartWithHttpMessagesAsync was missed in nuget package 2.0.0? The process is available at https://github.com/Azure/adx-documentation-pr/blob/master/engineering/adx_netsdk_process.md#sdk-generation-from-updated-spec

[2019-07-16 14:26] erich-wang commented on #6512
@leagallino , somehow I got well format json when using postman. Could you share your code snippet to repro the error? Please also provide package info, thanks.

[2019-07-16 14:52] leagallino commented on #6512
Hello, I lost what I've done, but doing something like this I get into the catch because the json came malformed with the extra quotes at the beginning and the end. (I was using the last version of the package)

[code]

Let me know if this is useful.

[2019-07-16 17:21] #6796 closed

[2019-07-16 17:31] nonik0 commented on #6683
@markgould Thank you for providing the repro steps. [AppAuth 1.2.1](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.1) was just released that has the fix for this issue.

@erich-wang FYI.

[2019-07-16 17:43] nonik0 commented on #5976
@SaltyDH @adibraniste [AppAuth 1.2.1](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.1) was just released that should fix this culture issue (on the client side). Please try out the new release and let me know if you have any issues.

[2019-07-16 17:43] pakrym opened #6944 "Fix ServiceVersion enum for AppConfiguration"
Right now it has only a Default value that's not being used.

/cc @maririos

[2019-07-16 18:00] nonik0 commented on #5275
@sirlukecoop Is that the full error you were seeing from the AzureServiceTokenProvider? There should also be a message after the connection string.

To briefly explain the behavior you were seeing, at AzureServiceTokenProvider in the AppAuth library ([MsiAccessTokenProvider ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/To

[2019-07-16 18:52] sajayantony commented on #5964
@estebanreyl could you please update this issue with the pointer to your PR which would enable this in the SDK.

[2019-07-16 19:00] estebanreyl commented on #5964
We are currently working to get through all of those issues and have an ongoing PR in the Azure rest api spec repository from where the acr sdk is autogenerated. You can find that here: https://github.com/Azure/azure-rest-api-specs/pull/6629 . Once that PR goes through we can generate the a new fully functioning api that supports tag and manifest acquisition among other things.

[2019-07-16 19:18] tg-msft opened #6947 "Storage: enable SDK client analyzers"

[2019-07-16 21:51] yangyuan commented on #6543
The SDK/Documents are auto generated and the issue is not specific to Face SDKs. (All the SDKs in this repo have the same issue)

One possible solution is let `AutoRest` provide a central place to explain the usage, or let `AutoRest` to include the documents in the auto-generated code.

`ABCWithHttpMessagesAsync` are original interfaces of Client, while `ABCAync` are extension functions for easy u

[2019-07-16 21:54] yangyuan commented on #6543
Created a suggestion in AutoRest: https://github.com/Azure/autorest/issues/3282

[2019-07-16 22:10] kurtzeborn commented on #6943
Thanks for opening this issue.  I've attempted to route this to the appropriate team who should be able to get you an answer on what's going on here.

[2019-07-16 22:48] nemakam commented on #6922
@corneliutusnea , Its a good ask, I understand the current implementation isn't really geared at your use-case. But I worry it would become a breaking change for most of the users of SessionPump as this isn't a bug, but a completly different design itself.
This is something that cannot be changed as of now. If needed, new pump options / new pump needs to be created.
Alternatively, do you think som

[2019-07-16 22:56] nemakam commented on #6912
@lultimouomo , your workaround is right.. And that is exactly how it has been implemented. The new ASB SDK sends message as Data instead of AmqpValue. So Message.Body is going to only retrieve the AmqpData (by design). Use `Microsoft.Azure.ServiceBus.InteropExtensionsMessageInteropExtensions.GetBody<>()` to retrieve non-data bodies (which has been added just for this back-compat purpose).
2.x func

[2019-07-16 22:56] #6912 closed

[2019-07-16 23:42] jfggdl commented on #6187
@kurtzeborn we bumped into this one, but it was not visible to us on the dashboard because it did not have the Service Bus label. I have added it.

[2019-07-16 23:43] #6027 closed

[2019-07-16 23:57] #6097 closed

[2019-07-16 23:57] kurtzeborn opened #6952 "Release Storage Track 2 Library Preview 3 For .Net"
*=Work owned by _xstore_ team

#### New Service Features
- [x] * CPK #6999 (must-have for preview 3)
- [x] * File SMB properties REST parity #7001 (must-have for preview 3)
- [x] * Rehydrate Priority #6998
- [x] * Set Tier

#### Feature work
- [x] * Parallel upload and download #6274
- [x] Make UriBuilders public #6885
- [x] Add convenience for File Upload #6893
- [x] Unified Swagger #6900

#### F

[2019-07-17 00:24] nemakam commented on #6440
My thoughts -
1. The current behavior is already such that calling complete() on a message manually can lead to MessageLockLostExcpetion from the auto-renewLock periodic task that's running. So that need not change and continue working.
2. I'm all in favor of adding additional context to the ExceptionHandler so that user has more control.
3. New operation names seems like a good approach to me
4.

[2019-07-17 00:39] corneliutusnea commented on #6922
@nemakam I'm not sure if that other design will work. We are using the normal `RegisterSessionHandler` to pickup any new session available but once we pick it up we want to control how long it stays alive.
I understand now wanting to change the behavior of `MessageWaitTimeout` as it might break existing code expecting the pump to timeout.
My guess is that people that manually renew via `RenewSessi

[2019-07-17 00:40] nemakam commented on #6031
Closed in #6941

[2019-07-17 00:40] #6031 closed

[2019-07-17 00:50] nemakam commented on #6922
There is no way to distinguish between user calling `RenewSessionLockAsync` and the pump itself calling it. The pump already ensures using a background task that the session is always renewed till renew timeout. If we go ahead with this change, then it would mean that no matter how many messages exist, the session pump will not close a given session till it has reached the auto-renew-lock timeout

[2019-07-17 01:13] nemakam commented on #6187
@travismartinjones - Are you also sending messages to the queue during your repro?
I am unable to get the repro that you are mentioning. My `GET` call to `https://localhost:44320/api/test` succeeds everytime

[2019-07-17 01:36] nemakam commented on #6187
@travismartinjones - Could you enable ETL traces and share it with us so that we can see which part is causing issues?

[2019-07-17 01:36] nemakam commented on #6252
@SHuygh  - Is there a way to enable ETL traces and share it with us so that we can see which part is causing issues? Or like axisc responded, a memory dump

[2019-07-17 01:57] travismartinjones commented on #6187
@nemakam No messages are being sent in the reproduction test case. Only the calls to CreateQueueAsync and RegisterSessionHandler. I just downloaded the Repro.zip test case, ran the solution, waited two minutes, refreshed the web api endpoint at https://localhost:44320/api/test and it was not responsive.

I'll work on enabling ETL traces and get that information added to this issue.

[2019-07-17 02:01] nemakam commented on #6187
Interesting.. It works pretty well on my machine. My guess would be that it has to do with mixing sync and async calls.

[2019-07-17 05:42] SeanFeldman commented on #6031
Needs to be a minor with the change made in PR.
https://github.com/Azure/azure-sdk-for-net/pull/6941#issuecomment-512110678

[2019-07-17 08:40] SHuygh commented on #6252
@nemakam I am currently starting to work on a demo application which will provide an easy way to be able to reproduce the scenario and to be able to investigate the problem. Once available I will attach it to the issue.

[2019-07-17 08:47] erich-wang commented on #6512
With version 19.12.0-preview of Management.Network, CloudError is deserialized properly as below:
![image](https://user-images.githubusercontent.com/20198527/61360935-08651c80-a8b2-11e9-9c35-727aeaf01651.png)

Please let  me know if any other concern, thanks.

[2019-07-17 13:09] abver commented on #4853
SDK is automatically generated from swagger spec. This needs to be investigated from SDK team. @msvijayn please assign accordingly.

[2019-07-17 15:13] msvijayn commented on #4853
@snehithm - can you please reassign this to Azure SDK team based on comment from @abver .
I believe owners for Azure .NET SDK are @shahabhijeet and @kurtzeborn

[2019-07-17 15:37] msvijayn commented on #4853
@shahabhijeet - assigning the issue to you as indicated by @abver the issue is apparently emanating by SDK team.

[2019-07-17 17:15] matthchr commented on #6542
Hey @jeffw-wherethebitsroam - when we initially wrote the file conventions library our goal was to abstract away the actual mechanics behind where the files were going. Basically the idea being that the file conventions library would implement the [file conventions](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/batch/Microsoft.Azure.Batch.Conventions.Files/README.md) which would then

[2019-07-17 17:59] pakrym opened #6958 "Add an exception for incomplete credentials in configuration object"
Right now we just won't load them, we should do something more useful otherwise.

[2019-07-17 22:02] AlexGhiondea commented on #6506
https://github.com/Azure/azure-sdk-for-net/pull/6961

/cc @pakrym

[2019-07-17 22:12] #6784 closed

[2019-07-17 22:12] #6785 closed

[2019-07-17 22:12] #6787 closed

[2019-07-17 22:12] #6786 closed

[2019-07-17 22:14] #6858 closed

[2019-07-18 05:47] jonmill commented on #6458
@yaohaizh - any update? This is problematic and seems like it would be a super helpful, quick fix :smile:

[2019-07-18 08:00] yaohaizh commented on #6458
@jonmill You can track the issue on fluent lib here which should be a similar issue, thanks.
https://github.com/Azure/azure-libraries-for-net/issues/736.

[2019-07-18 08:31] JohnPenney commented on #6543
Thanks @yangyuan.  As far as I'm concerned, this issue can be closed now that the AutoRest issue has been raised.

[2019-07-18 09:00] tomgallard opened #6967 "[FEATURE REQ] Allow clearing of AppAuthResultCache from AzureServiceTokenProvider"
**Is your feature request related to a problem? Please describe.**
Access Tokens are persisted by the [AppAutheResultCache](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/Cache/AppAuthResultCache.cs) until near expiry.

The access tokens can contain information on the active directory group membership of the user/service pri

[2019-07-18 10:05] saran94 opened #6968 "Add a new key credential to an existing Service principal and an existing key credential"
I want to rotate a key credential in the AAD service principal by adding a new one and deleting the current one.

I created an AAD application and used Graph API to add a key credential to its Service principal. The current service principal is

        {
            "objectType": "ServicePrincipal",
            "objectId": "c9d79a76-700c-4ee8-9c89-e9c201dc487c",
            "appId": "f02f2636-9ca

[2019-07-18 18:21] #6793 closed

[2019-07-18 18:56] kinelski opened #6970 "[EventHubs] Refactor Diagnostics Live Tests"
The current implementation of the Diagnostics Live Tests was directly extracted from Track One and properly adapted into Track Two.

However, the tests we have now are too long and they don't follow the "test one and only one thing" principle, making it harder to accurately pinpoint future failures.

It's necessary to refactor these into small unit tests that test only one thing each.

[2019-07-18 19:45] imaculate commented on #2194
Hitting the same issue intermittently when using .NET SDK to create Network Security Group.

doing something like this
`networkingClient.NetworkInterfaces.CreateOrUpdateAsync(...`

[2019-07-19 01:03] weshaggard opened #6974 "Support only netstandard2.0 for new client libraries"
As part of the guidelines we are trying to limit support to netstandard2.0, see https://azuresdkspecs.z5.web.core.windows.net/DotNetSpec.html#dotnet-packaging-ns so we should remove the net461 target framework for client libraries.

However we should continue to test on both netcoreapp2.1 and net461.

[2019-07-19 09:34] #6968 closed

[2019-07-19 16:43] yaohaizh commented on #6458
We can upgrade the source code correctly but the test part depends on
https://github.com/Azure/azure-sdk-for-net/tree/45cdad6bc3f20b36220d303a44f99895bdba28b7/sdk/mgmtcommon/TestFramework/ClientRuntime.Azure.TestFramework, thus the CI failed.

@erich-wang  do you know who maintain this part. The testframework need upgrade.

[2019-07-19 17:12] rythos42 commented on #6827
Any word on this?

[2019-07-19 18:15] jfggdl commented on #6520
@danielmarbach, Thank you Daniel. Let wait for @jwisener to test your suggestion.

[2019-07-19 18:33] jfggdl commented on #6653
@axisc, would you please create an internal work item in our backlog to address Sean's concerns/feature request?

[2019-07-19 19:38] corygehr commented on #6172
Hi folks, just ran into this issue myself in Visual Studio 2019.

Try going to Tools > Options > Azure Service Authentication. Ensure the correct Microsoft Account is listed and that you don't see "Reenter your credentials". This was the issue in my case - I needed to re-authenticate before it would work.

I expect these steps would also work in Visual Studio 2017.

[2019-07-19 20:00] nemakam commented on #6629
@rajrao - Yes. `Timespan` is currently not supported by `ManagementClient` and `SqlFilter.Parameters` is not supported by `SubscriptionClient`.

[2019-07-19 20:26] jwisener commented on #6520
Is there a possibility of a leaked port if the clienttopic does not close before the shutdown complete?

[2019-07-19 20:40] scale-tone commented on #6172
@corygehr , are you saying you're now able to obtain a token for **any arbitrary custom resource** (not only for e.g. KeyVault) on your devbox?

[2019-07-19 20:46] #6470 closed

[2019-07-19 21:28] #6469 closed

[2019-07-19 21:28] pakrym opened #6983 "Support loading of custom credential types from configuration in ASP.NET Core integration"
For storage.

[2019-07-19 22:57] tg-msft commented on #6904
We need to check for SAS error codes in particular.

[2019-07-19 23:14] #6806 closed

[2019-07-19 23:14] #6901 closed

[2019-07-20 08:17] yaohaizh opened #6987 "Upgrade the references Microsoft.Rest.ClientRuntime.Azure.TestFramework"
Need update ActiveDirectory here:
https://github.com/Azure/azure-sdk-for-net/blob/f4c8a9e67d3fd323fcc72270b92871128ae5c288/sdk/mgmtcommon/TestFramework/ClientRuntime.Azure.TestFramework/Microsoft.Rest.ClientRuntime.Azure.TestFramework.csproj#L43

https://github.com/Azure/azure-sdk-for-net/issues/6458 depends on this fix. Thanks.

[2019-07-22 08:33] jamesharling opened #6990 "Make Event Hubs library mockable"
**Is your feature request related to a problem? Please describe.**
Bringing over an outstanding feature request from an archived repository: https://github.com/Azure/azure-event-hubs-dotnet/issues/24

**Describe the solution you'd like**
Please review issue as linked above.

**Describe alternatives you've considered**
Please review issue as linked above.

**Additional context**
Please review issue

[2019-07-22 08:34] jamesharling commented on #6990
Original issue body:

[2019-07-22 14:17] #6856 closed

[2019-07-22 17:10] #6974 closed

[2019-07-22 17:28] #6983 closed

[2019-07-22 17:47] #6302 closed

[2019-07-22 17:51] AlexGhiondea opened #6993 "Release Service Bus Track 2 Library Preview 1 for .NET"
This is a parent issue tracking the work planned for Service Bus to release the first preview in March following the [C# .Net Azure SDK guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html)
Code complete date: March 6th, 2020

API design
- [x] Revisit the client structure i.e the various entry points in the package based on the .Net guidelines

Features
- [x] Support Azure Identi

[2019-07-22 18:01] SeanFeldman commented on #6302
Would be nice to provide a reason not give a wrong impression to subscribers 🙂

[2019-07-22 18:23] seanmcc-msft opened #6995 "CRC"

[2019-07-22 18:26] seanmcc-msft opened #6996 "Batch Delete / Set Tier"

[2019-07-22 18:27] seanmcc-msft opened #6997 "Echo Client Request ID"

[2019-07-22 18:29] seanmcc-msft opened #6998 "Rehydrate Priority"

[2019-07-22 18:30] seanmcc-msft opened #6999 "CPK"

[2019-07-22 18:32] seanmcc-msft opened #7000 "File Put Range From URL"

[2019-07-22 18:33] seanmcc-msft opened #7001 "File SMB Rest Parity"

[2019-07-22 18:34] seanmcc-msft opened #7002 "ADLS Gen 2 Phase 1"

[2019-07-22 18:37] SeanFeldman commented on #6520
@jfggdl @AlexGhiondea this can be closed. Thank you.

[2019-07-22 18:41] AlexGhiondea commented on #6302
There was not more work associated with this epic, so I closed it. Thanks for the feedback -- I'll make sure to add more context on issues when they are closed.

[2019-07-22 18:50] #6520 closed

[2019-07-22 20:55] sbhuttan opened #7003 "Gettting TypeLoadException while using AppAuthentication library"
Getting TypeLoadException while trying to use AppAuthentication for accessing SQL Database using Managed Identities.

Link with details on what I am trying to achieve -
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

***Exception or Stack Trace***
**Exception**: System.TypeInitializationException: 'The type initializer for 'System.Data.SqlClient.SqlAuthenti

[2019-07-23 00:16] peterpogorski commented on #4510
@val-janeiko are you still having issues with querying? This issue has been resolved in the runtime.

[2019-07-23 06:35] Mortana89 commented on #6813
Thanks for fixing this! When will this be available in a new package @nemakam ?

[2019-07-23 08:29] chinadragon0515 opened #7006 "[FEATURE REQ] Can we update nuget package to make it refer to newer version Microsoft.IdentityModel.Clients.ActiveDirectory (>= 3.17.2 && < 5.0.0)"
Now the version of package in nuget is 3.4, it requires Microsoft.IdentityModel.Clients.ActiveDirectory (>= 3.17.2 && < 5.0.0)， but we have other project which require newer version of Microsoft.IdentityModel.Clients.ActiveDirectory, this causes a conflict, can we update the required version of Microsoft.IdentityModel.Clients.ActiveDirectory and publish a new nuget.

[2019-07-23 10:29] CrazyTuna commented on #6172
@scale-tone, I can still reproduce the issue with VS2017 and VS2019.  It does not work for custom applications. See this SO post also:
[Can't get access token for custom AD Application
](https://stackoverflow.com/questions/53673516/cant-get-access-token-for-custom-ad-application)

[2019-07-23 11:13] val-janeiko commented on #4510
@peterpogorski  Yes.
I just checked with the latest package from NuGet: v1.1.0. By default requests are made with api-version=2017-07-01-preview. The response for list of services contain a single service but .NET library fails to parse upgradeReplicaSetCheckTimeout property, returned one is a TimeSpan but it expects an Int. List of Services is still the same - empty.

I have also checked with api

[2019-07-23 15:00] eriksteinebach commented on #7006
I am running into a similar issue with Microsoft.Azure.Management.EventGrid. I would like to update Microsoft.Rest.ClientRuntime, but Microsoft.Azure.Management.EventGrid has the requirement Microsoft.Rest.ClientRuntime (>= 2.3.19 && < 3.0.0). So I cannot update to the latest 3.0.3.

Do these packages really need a limit of a highest version? I understand that theoretically packages might not alwa

[2019-07-23 15:52] danielkboyer opened #7007 "InitializeServiceClient ServiceClient<T> mismatch exception when adding to list"
**Describe the bug**
I am using Azure Data Factory management client and trying to connect to it through an azure functions app. It seems like when initializing the service client I get an invalid type when it tries to add to the array.

***Exception or Stack Trace***
"Exception while executing function: ScheduleNotifications -> Attempted to access an element as a type incompatible with the array.

[2019-07-23 16:49] xuzhangvnera opened #7008 "[BUG]When azure MSI_ENDPOINT is not responding (deadlock), token provider would hang"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2019-07-23 16:50] #7008 closed

[2019-07-23 17:54] brjohnstmsft commented on #6910
@arv100kri is investigating

[2019-07-23 18:30] james-jw commented on #6450
Was this every resolved or figured out? I am seeing the exact same issue. I use the SubscriptionClient to gain access to a topic and register an event handler using the RegisterMessageHandler method.

The topic in question has currently around 10k messages but on the 5000th message it simply stops processing them with no exception.

I am using the default Peak setting and not abandoning or complet

[2019-07-23 18:47] NickDrouin commented on #5189
Looks like httpRequest is also a JObject now.

[2019-07-23 18:55] federicobarera commented on #6450
Hi @james-jw , no i fear we did not get to the bottom of it.
The only reasonable explanation is that not "completing" or "abandoning" the messages keeps them "in transit" which eventually brings amqp to a lock when 5000 messages have been engaged.

On another note, I opened the ticket since this strategy of not abandoning failing messages is something that we intentionally wanted to use to automat

[2019-07-23 18:58] jfggdl commented on #6440
@brandondahler, Thanks for volunteering and try to contribute to implement a batched receive feature. Please let us know if you have additional design questions.

[2019-07-23 19:01] jfggdl commented on #6629
@axisc, would you please add this feature to our Service Bus backlog?

[2019-07-23 19:15] danielkboyer commented on #7007
I fixed this by lowering the version of the azure data factory .net sdk. I think it's a dependency issue associated with azure functions and not with the ServiceClient.

[2019-07-23 19:15] #7007 closed

[2019-07-23 19:29] nemakam commented on #6813
I don't have an ETA right now, but will try to get it out in a week or two. There are a couple of more things that needs to get in for the next release.

[2019-07-23 20:13] travismartinjones commented on #6187
@nemakam I've generated an ETL trace, but unable to attach due to the size. Is there something particular in the TL that you'd like me to pull via PerfView?

Also, I'm working on creating a new reproduce-able case that uses the AMQP source instead of the nuget package in order to provide more verbose logging.

[2019-07-23 20:50] JamberFX commented on #6172
I am having the same issue with VS2017 and a VB Web Forms App.  I have tried what @corygehar suggested (actually several times now) and it did not work for me.

[2019-07-23 22:03] schaabs commented on #5702
This issue has been addressed and this fix has been published in v3.0.4 (https://www.nuget.org/packages/Microsoft.Azure.KeyVault/3.0.4).  This fix updates the challenge class whenever it receives a 401 response with the WWW-Authenticate header.  The resulting behavior when a vault is migrated from one tenant to another is that the first call to the KeyVaultClient after the migration will still cal

[2019-07-23 22:03] #5702 closed

[2019-07-23 22:39] a-santamaria commented on #4510
@val-janeiko thanks for reporting. We have made the fix for version 2019-03-01. We will publish the sdk with this new version shortly. I'll update this issue once it is done.

[2019-07-23 22:41] a-santamaria commented on #6405
Duplicate of #4510. Thanks for reporting. We have made the fix for version 2019-03-01. We will publish the sdk with this new version shortly.

[2019-07-23 22:41] #6405 closed

[2019-07-23 23:07] kurtzeborn commented on #6094
@scbedd, I think your work to generate packages.md makes this obsolete.  If I'm right, we can just delete this readme.

[2019-07-23 23:30] kurtzeborn commented on #6812
@scbedd, I'm pretty sure this just means we need to run the generation tool again if it's not already running automatically.

[2019-07-23 23:31] scbedd commented on #6812
Happy to say I already pre-empted this!

#6848

[2019-07-23 23:31] scbedd commented on #6812
Closing as it's already taken care of.

[2019-07-23 23:31] #6812 closed

[2019-07-24 00:06] Petermarcu commented on #7006
Thanks for logging this. I believe the challenge here is that there were major breaking changes in Microsoft.IdentityModel.Clients.ActiveDirectory in 5.0.0. @shahabhijeet can you confirm thats the case? If we move everything up to v5, then we will hit the reverse problem right? People that need to reference things that depend on v3-v4.X will be broken?

[2019-07-24 00:07] Petermarcu commented on #7006
Here is another bug like this. https://github.com/Azure/azure-sdk-for-net/issues/5788 with a PR. @shahabhijeet can you take a look at that one too and the PR?

[2019-07-24 00:17] Petermarcu commented on #6993
@AlexGhiondea is this one closable?

[2019-07-24 09:34] mllab-nl opened #7013 "Asp .net app hangs(deadlocks) when using SqlAppAuthenticationProvider. Microsoft.Azure.Services.AppAuthentication 1.3.0"
**Describe the bug**
Asp .net app hangs(deadlocks) when using SqlAppAuthenticationProvider

**To Reproduce**
1. Have an application running using LegacyAspNetSynchronizationContext ( Asp.net apps )
2. Register SqlAppAuthenticationProvider
SqlAuthenticationProvider.SetProvider(SqlAuthenticationMethod.ActiveDirectoryInteractive, new SqlAppAuthenticationProvider());
3. When web requests comes open SQ

[2019-07-24 09:46] mllab-nl commented on #7013
https://github.com/Azure/azure-sdk-for-net/pull/7014

[2019-07-24 10:04] ashishkaushik123 opened #7015 "[How to add custom authorization ]"
**Query/Question**
A clear and concise ask/query.
i have generated a C# client using autorest using swagger.yaml , but now i  need to add a custom authorization to my request .
***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?
N/A
**Setup (please complete the following information if applicable):**
 - OS: [e.g.windows]
 - IDE : [e.

[2019-07-24 13:03] Darkmace commented on #7003
I am experiencing the same issue when trying to run in an Azure App Service using managed identity.
It is working fine when running locally using Active Directory account tied to my development environment.
Have also tried with the newest version 1.3.0 but still experiencing same issue.

[2019-07-24 13:31] SHuygh commented on #6252
We have uploaded a repo which allows to reproduce the scenario.
https://github.com/ricksecretin/ServiceBusCommunicationBug

In the readme the explanation of what is needed for the setup is explained, together with how to reproduce the scenario.

[2019-07-24 14:37] travismartinjones commented on #6187
@nemakam The ETL I've generated doesn't have the Event Source traces that I would expect. What are the appropriate settings needed to capture service bus & amqp trace information from PerfView?

[2019-07-24 16:11] deenairn opened #7018 "Synchronous CloudBlockBlob UploadFrom... ASP.NET Regression 9.3.3 → 9.4.0+ for files ≥ 256MB"
**Describe the bug**
There is a defect or undocumented regression when migrating from 9.3.3 (NuGet package Microsoft.WindowsAzure.Storage) to 9.4.0+ (NuGet package Microsoft.Azure.Storage.Blob and Microsoft.Azure.Storage.Common).

This involves all of the synchronous upload endpoints as below:

* UploadFromStream
* UploadFromByteArray
* UploadFromFile
* UploadFromText

Previously this worked as ex

[2019-07-24 17:00] weshaggard opened #7020 "net - mgmt build pipelines should switch to unified pipelines"
Currently there are instructions for publishing mgmt libraries at https://github.com/Azure/adx-documentation-pr/blob/master/engineering/adx_netsdk_process.md#signing-and-publishing-nuget-packges, that process currently has a build pipeline and a release pipeline that gets auto triggered. However with the new unified pipelines we can put those into the same pipeline which will make finding the arti

[2019-07-24 17:46] nonik0 commented on #5788
Hi all, we have just released the newest [version 1.3.0 of AppAuth](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication) that updates its ADAL dependency to 4.3. Please let us know if you have any issues

[2019-07-24 17:48] nonik0 commented on #5006
@Ofekw @Zenuka Wanted to let you know that we just released the newest [version 1.3.0 of AppAuth](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication), where the ADAL dependency has been updated to 4.3.

[2019-07-24 20:03] jbaek080 commented on #5788
I have basically the same issue as @Matt:
Also stuck on this problem, anyone taking a look?

In my case I'm trying to use Microsoft.Cloud.Metrics.Client.Metrics.MetricReader (v 2.2018.1214.1056) in a Bot Framework v4 project. The MetricReader requires Microsoft.IdentityModel.Clients.ActiveDirectory.Platform; BFv4 requires Microsoft.IdentityModel.Clients.ActiveDirectory >= v 4.5.0. But the .Platfor

[2019-07-24 22:01] #6792 closed

[2019-07-24 22:02] #6791 closed

[2019-07-24 22:56] arv100kri commented on #6910
@cwi3310 - Thanks for reporting the bug, I've checked in a pull request that will fix this.
I'll update this thread, sometime next week once we make a release of a new nuget package.

[2019-07-24 23:44] IdeaHunter opened #7022 "[BUG] Microsoft.Azure.Services.AppAuthentication gives unusable access token"
**Describe the bug**

Unable to use MSI on net core 2.2 azure windows app service when using Microsoft.Azure.Services.AppAuthentication , whenever with the same configuration if i use bare MSI_ENDPOIND and MSI_SECRET in my code to get access token , the code starts working. Also if i omit setting access token completely the error message is changes(so library is doing something)
The code giving me

[2019-07-25 00:53] hvermis commented on #4239
We have improved most of our error handling and are returning better messages.
We  continue to improve this as an ongoing effort.
The documentation however is autogenerated, and it doesn't include the exceptions. The message shown to the user will be clear enough and we are adding troubleshooting docs for ADF that will cover these scenarios.

[2019-07-25 00:53] #4239 closed

[2019-07-25 10:41] VidyaSalimath opened #7023 "500 - The request timed out. The web server failed to respond within the specified time.[BUG]"
Hello Team,

Am getting the 500 request timeout issue while hosting SharePoint Provider hosted app.Is there a way to increase the timeout settings of App service plan?

Regards,
Vidya

[2019-07-25 12:11] aveuud commented on #6709
I have the same problem trying to login in to Azure with managed identity in Visual Studio Code.
Error message:
Parameters: Connection String: [No connection string specified], Resource: https://management.azure.com, Authority: . Exception Message: Tried the following 3 methods to get an access token, but none of them worked.
Parameters: Connection String: [No connection string specified], Resourc

[2019-07-25 15:46] motmot80 opened #7027 "[FEATURE REQ] Support for AMQP v1.0.0 standard: "ContentEncoding" (OASIS + RFC 2616)"
The `Microsoft.Azure.ServiceBus.Message` class does not provide the AMQP v1 property "**content-encoding**" which is described in the official standard (field 7):

http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-messaging-v1.0-os.html#type-properties

On the other hand the `Microsoft.Azure.Amqp.AmqpMessage` does provide the property and f.e. other libraries like **amqpnetlite** are offering

[2019-07-25 20:18] jfggdl commented on #6462
@markgould, Yes. I could reopen it, but I will do something better. I want to make sure that you are able to reopen it without a problem. Please confirm to me you are not able to reopen it. By asking me to reopen it, it seems that you cannot re-open the issue.

[2019-07-25 20:45] markgould commented on #6462
I'm pretty sure on github if someone else closes an issue, I can't reopen it. I don't see any option to reopen the issue anywhere.

[2019-07-25 21:25] jfggdl commented on #6462
@markgould, thank you for that feedback. We were under the impression that the community, especially the user who created the issue could reopen it once it was closed. I am working to understand how we can fix this.

[2019-07-26 08:45] chinadragon0515 commented on #7006
@shahabhijeet  can I know whether we can update this in near future? thanks

[2019-07-26 10:06] erich-wang commented on #7020
I'll address it when I have time

[2019-07-26 10:17] erich-wang commented on #6458
@Azure/azure-sdk-eng, are you the right team to upgrade https://github.com/Azure/azure-sdk-for-net/tree/45cdad6bc3f20b36220d303a44f99895bdba28b7/sdk/mgmtcommon/TestFramework/ClientRuntime.Azure.TestFramework?

[2019-07-26 11:29] erich-wang commented on #6512
@leagallino , the issue could not be reproduced and don't get response for 10 days, so close it. Please feel free to reopen it if you could reproduce it, thanks.

[2019-07-26 11:29] #6512 closed

[2019-07-26 11:30] erich-wang commented on #6908
Add to backlog

[2019-07-26 11:35] erich-wang commented on #6521
@johncrim, I'm closing this issue since we use https://github.com/Azure/azure-rest-api-specs/issues/6637 to track it, any update will be posted on that thread.

[2019-07-26 11:35] #6521 closed

[2019-07-26 11:36] erich-wang commented on #6616
@samkreter, any update?

[2019-07-26 17:28] Dirtmigurt opened #7155 "Incorrect use of SemaphoreSlim in AsyncLock.cs"
## Actual Behavior
1. Calling LockAsync twice on the same AsyncLock object follows the non-contention code path both times

## Expected Behavior
1. The second call to LockAsync should not enter the if statement at AsyncLock.cs:46

You are using the wrong SemaphoreSlim constructor, new SemaphoreSlim(1) creates a semaphore that allows unlimited concurrency. new SemaphoreSlim(1,1) limits max concurre

[2019-07-26 18:28] MattSFT commented on #5006
Awesome!

[2019-07-26 18:35] swmal commented on #3933
@jmurphy35 Thanks, it did the trick for me too!

[2019-07-26 18:35] jfggdl commented on #6990
@ramya-rao-a, please consider this feature as part of your coming track 2 Event Hubs SDK.  Thanks.

[2019-07-26 19:08] keggster101020 opened #7154 "Competing Consumers Causing High Number of Epoch Errors"
## Actual Behavior
When creating a named consumer as such:
[code]
And deploying that consumer to different webjobs in different regions, the consumers will consistently throw epoch exceptions multiple times (2-10x) an hour per machine

## Expected Behavior
Each named consumer will coordinate with the others attaching to 1 or more partitions and coordinating.

## Versions
- OS platform and version:

[2019-07-26 22:21] loarabia commented on #7003
Thanks for reporting the issue. I've tagged this so that the feature team should find it and take a look.

[2019-07-26 23:10] maggiepint commented on #7013
Thanks so much for this. I have routed to the appropriate team for follow-up.

[2019-07-26 23:12] #7015 closed

[2019-07-26 23:12] maggiepint commented on #7015
Issue moved to [Azure/autorest #3291](https://github.com/Azure/autorest/issues/3291) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-26 23:13] maggiepint commented on #7015
Hi,

I think what you are asking is how to add custom authentication in an autorest generated client. I am moving this to the AutoRest repo as the appropriate location.

[2019-07-26 23:18] loarabia commented on #7023
Thanks for reporting this. I've tagged it to route to the right team.

[2019-07-26 23:26] loarabia commented on #7022
Hi @IdeaHunter thanks for sending us the details about this issue. I've tagged this to try and get it routed to the right team.

[2019-07-29 16:14] #6930 closed

[2019-07-29 16:51] #6504 closed

[2019-07-29 19:34] #6613 closed

[2019-07-29 20:27] pakrym opened #7039 "Consider adding a SyncCollection - sync alternative to AsyncCollection"
https://github.com/Azure/azure-sdk-for-net/pull/7038#discussion_r308371075

[2019-07-29 21:09] annelo-msft opened #7040 "[BUG] Azure.Storage *ClientOptions classes have ServiceVersion specified but not used."
**Describe the bug**
In Azure.Storage.sln, StorageClientOptions.cs, BlobClientOptions.cs, and QueueClientOptions.cs all specify the service version, establishing the pattern to do so for the .NET design guidelines.  These values are not used in the project, though -- the versions used to communicate with the backend services appear to be hard-coded, as shown in [BlobRestClient.cs](https://github.c

[2019-07-29 21:11] arv100kri commented on #6380
We have a new nuget package released (v 9.1.0) that should contain the fixes from the aforementioned PR: https://www.nuget.org/packages/Microsoft.Azure.Search/

[2019-07-29 21:11] arv100kri commented on #6910
We have a new nuget package released (v 9.1.0) that should contain the fixes from the aforementioned PR: https://www.nuget.org/packages/Microsoft.Azure.Search/

[2019-07-29 21:11] #6910 closed

[2019-07-29 21:50] annelo-msft opened #7041 "[FEATURE REQ] Consider adding Azure.Security.KeyVault.Common project to Azure.Security.KeyVault"
**Is your feature request related to a problem? Please describe.**
Common functionality was duplicated across projects when adding version-to-string logic in [PR 6915](https://github.com/Azure/azure-sdk-for-net/pull/6915), specifically the GetVersionString method in [KeyClientOptions.cs](sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeyClientOptions.cs) and [SecretClientOptions.cs](sdk/keyvault/Az

[2019-07-29 21:57] annelo-msft opened #7042 "[BUG] AppConfig Service is not versioned."
**Describe the bug**
The .NET guidelines require a default version to be specified for a client library.  We don't believe we can do this for the AppConfig client library because the service itself is not versioned.

Our workaround has been to create a "Default" value in the ServiceVersion enum in ConfigurationClientOptions.cs.  Ideally, this would come from the service itself if they are able to

[2019-07-29 22:50] #6807 closed

[2019-07-29 23:48] Petermarcu commented on #1704
Since @naveedaz hasn't gotten a response, I'm going to close this for now. If someone does hit this issue again, please open a new issue with exact versions of everything you are trying to use.

[2019-07-29 23:48] #1704 closed

[2019-07-29 23:52] nemakam commented on #6187
@travismartinjones
Download PerfView
Run PerfView.exe /OnlyProviders=*Microsoft-Azure-ServiceBus Collect
Stop the collection of traces once you have successful repro.

This however, doesn't collect the AMQP level info. I'll have to check the AMQP library for its tracing

[2019-07-29 23:53] chidozieononiwu commented on #6866
Fixed with #6965

[2019-07-29 23:53] #6866 closed

[2019-07-30 00:04] Petermarcu commented on #4380
The Azure SDK is planning to remove references to JSON.NET in upcoming releases to avoid pinning dependencies like this. It will take time to get through all the different places where this dependency exists but over time, the pain should go away. We want people to be able to use whatever JSON.NET version they want without the Azure SDK causing problems.

You can get a glimpse of the first wave of

[2019-07-30 00:04] #4380 closed

[2019-07-30 00:05] Petermarcu commented on #2871
The Azure SDK is planning to remove references to JSON.NET in upcoming releases to avoid pinning dependencies like this. It will take time to get through all the different places where this dependency exists but over time, the pain should go away. We want people to be able to use whatever JSON.NET version they want without the Azure SDK causing problems.

You can get a glimpse of the first wave of

[2019-07-30 00:05] #2871 closed

[2019-07-30 00:11] Petermarcu commented on #3080
At this point I understand there are no plans to update Hyak, the recommendation is to move forward to new versions of these libraries. Moving forward, the Azure SDK is planning to remove references to JSON.NET to avoid pinning dependencies like this. It will take time to get through all the different places where this dependency exists but over time, the pain should go away. We want people to be

[2019-07-30 00:11] #3080 closed

[2019-07-30 00:12] Petermarcu commented on #4829
Closing because we need more info. Let us know if you are still hitting this by opening a new issue.

[2019-07-30 00:12] #4829 closed

[2019-07-30 00:14] Petermarcu commented on #5205
The Azure SDK is planning to remove references to JSON.NET in upcoming releases to avoid pinning dependencies like this. It will take time to get through all the different places where this dependency exists but over time, the pain should go away. We want people to be able to use whatever JSON.NET version they want without the Azure SDK causing problems.

You can get a glimpse of the first wave of

[2019-07-30 00:14] #5205 closed

[2019-07-30 00:16] Petermarcu commented on #5226
@shahabhijeet is this a swagger authoring issue or an autorest generation issue?

[2019-07-30 00:17] tg-msft commented on #7040
This is blocked on #6283 and will be fixed automatically as part of that change.

[2019-07-30 00:23] Petermarcu commented on #6040
I propose that we just don't do anything here. In our next wave of updates there will be no JSON.NET dependency and this code will just go away. Agree?

[2019-07-30 00:26] Petermarcu commented on #3572
Not sure if this is still an issue for you but its been a long time. We're removing our dependency on JSON.NET in future releases so we expect this problem to go away over time. Let us know if there still issues you are hitting by opening up a new issue. Thanks!

[2019-07-30 00:26] #3572 closed

[2019-07-30 00:44] Petermarcu commented on #3703
Hi @DavidStrickland0, I'm really sorry you didn't get a meaningful response here. Lots of time has passed since you opened this and PCL's in .NET have gotten more and more deprecated in many tools. Is this still an issue for you or have you been able to move to .NET Standard in general? I saw your other comments in the original bug and it sounded like you were moving to .NET Standard. I'm going to

[2019-07-30 00:44] #3703 closed

[2019-07-30 04:24] #6040 closed

[2019-07-30 04:48] chidozieononiwu commented on #5497
# EditorConfig for Code Style Enforcement
We have settled on using EditorConfig for code style enforcement. There are two versions of .editor config currently in the repo. One in the storage service and another in Azure Core and AppConiguration. I have merged the rules from both versions into one to be able to drive consensus for use repo wide. I have highlighted places where the rules differ betw

[2019-07-30 05:00] AlexGhiondea commented on #5293
@sujayvsarma can you tell me more about what you were trying to build?

[2019-07-30 07:38] kallam9 commented on #7003
I am experiencing the same error "Could not load type 'Microsoft.Azure.Services.AppAuthentication.SqlAppAuthenticationProvider' from assembly 'Microsoft.Azure.Services.AppAuthentication'." Not sure what needs to be changed. It is failing locally as well.

[2019-07-30 09:10] DavidStrickland0 commented on #3703
In the end we just dropped Auto Rest entirely. Between the Json.Net issue coupled with the size of the class files Autorest created and the lack of the configurability we needed. We just used Roslyn and wrote our own generator. Thanks for the reply though.

[2019-07-30 15:07] pakrym commented on #5497
Can we unify on what was decided in https://github.com/Azure/azure-sdk-for-net/pull/5528 ? We've spent a considerable amount of time arguing and trying to get everyone to agree it would be unfortunate to open this can of worms again.

The title of the issues says "enforcement", are there any plans on how we are going to enforce these rules?

[2019-07-30 16:12] AlexGhiondea commented on #5348
@kurtzeborn now that we have changed the structure of the repo we should make sure the docs are calling out the new structure.

[2019-07-30 16:15] AlexGhiondea commented on #5293
@kurtzeborn @weshaggard with a clean repo, running `msbuild build.proj` at the root of the repo does not work:

[code]

Can one of you take a look?

[2019-07-30 16:16] AlexGhiondea commented on #5347
@kurtzeborn can you take a look at this?

[2019-07-30 16:21] AlexGhiondea commented on #6309
@kurtzeborn it looks like the folder structure broke some of the scripts in this repo.

[2019-07-30 16:30] AlexGhiondea commented on #6622
@Joseluismantilla I am not sure if the issue you are seeing is related to an SDK. If it is, please let me know.

[2019-07-30 16:42] AlexGhiondea commented on #6579
It looks like the latest version of KV does have the updated version.

[2019-07-30 16:50] chidozieononiwu commented on #5497
- Since the rules in used in the storage service .editorconfig was different I thought it will be best to provide a chance to incorporate or discard those differences rather that just changing what they have without notice.
- You are right enforcement might not be the right word here, since the rules will only updated when work is done on the code specific file.

[2019-07-30 16:56] AlexGhiondea commented on #6312
/cc @binzywu

[2019-07-30 16:58] AlexGhiondea commented on #6563
@chidozieononiwu do you happen to know if this was working before the repo structure change?

[2019-07-30 17:00] AlexGhiondea opened #7048 "[General] Address build breaks and test failures in the repo"
There are multiple folders that currently don't build in the repo.

This epic will track those issues.

[2019-07-30 17:23] chidozieononiwu commented on #6563
Yes. At some point before the repo restructure it built without problems.

[2019-07-30 17:31] AlexGhiondea commented on #6563
Ok. So we need to figure out what exactly broke with the move. I suspect some newer dependencies got pulled in which caused these projects to no longer build.

[2019-07-30 18:03] SergeBerwert opened #7050 "FrontDoor FrontendEndpoint update did report MetodNotAllowed"
We are working on a new platform. We wane use FrontDoor but for that, we need to automate the Certification Replace Process. I Downloaded the Preview SDK and try to implement that. Because it's all-new there is now Documentation or Examples available at the moment. I am not sure if I di something wrong or if it’s a bug or not implemented yet. I Would Really appreciate some help.
The following code

[2019-07-30 18:19] jfggdl commented on #6312
@jasonholloway, Thank you. We are already looking at the suggested approach in the link provided.

[2019-07-30 18:33] tg-msft opened #7051 "Storage: Move Auth policy to PerRetryPolicies so users could theoretically use their own retry policy"
There's not a _good_ way for users to implement their own retry policy, but it should at least be _possible_.   We need to change the code in StorageClientOptions that builds the pipeline to move the auth policy from the params "client policies" into the PerRetryPolicies collection.  Then users could at least change the RetryOptions to 0 retries and use their own.

[2019-07-30 18:45] Petermarcu commented on #2259
@weshaggard @shahabhijeet do you think we will complete this work or should we just close?

[2019-07-30 18:46] Petermarcu commented on #2046
This is addressed in Azure.Core

[2019-07-30 18:46] #2046 closed

[2019-07-30 18:48] Petermarcu commented on #2047
@KrzysztofCwalina is covered in the guidelines and Azure Core? If so, we can close this.

[2019-07-30 18:49] Petermarcu commented on #2048
@KrzysztofCwalina lets close this if its already covered in Azure.Core.

[2019-07-30 19:05] Petermarcu commented on #3058
This is done.

[2019-07-30 19:05] #3058 closed

[2019-07-30 19:14] Petermarcu commented on #2205
Sorry there was no response on this. At this point the issue is quite old and the library is up to version 28 with completely different implementation so it's unclear whether this issue will still happen. If you move to the newest version and still hit this, please open a new issue with all the details.
https://www.nuget.org/packages/Microsoft.Azure.Management.Compute/

[2019-07-30 19:14] #2205 closed

[2019-07-30 20:03] AlexGhiondea commented on #6993
@petermarcu this is to track the upcoming work.

[2019-07-30 21:21] schaabs commented on #6818
This issue has been fixed in This issue has been addressed and this fix has been published in v3.0.4 (https://www.nuget.org/packages/Microsoft.Azure.KeyVault/3.0.4). This fix updates the challenge class whenever it receives a 401 response with the WWW-Authenticate header. The resulting behavior when a vault is migrated from one tenant to another is that the first call to the KeyVaultClient after t

[2019-07-30 21:21] #6818 closed

[2019-07-30 23:14] kurtzeborn commented on #7050
Thanks for asking this question.  I'm adding some labels to help route it to someone who can  provide you with a good answer.

[2019-07-31 02:57] yaohaizh opened #7056 "[FEATURE REQ] SQL composite v1 update"

[2019-07-31 10:31] TheReaLee commented on #6943
@kurtzeborn any news about this?

[2019-07-31 13:47] SergeBerwert commented on #7050
Hi @kurtzeborn
Thanks for your help, but I think it should bee FrontDoor not KeyVault

[2019-07-31 15:51] goenning opened #7057 "[BUG] Higher number of Outgoing Messages when using Batch Receive"
**Describe the bug**
When using Batch ReceiveAsync, I'm seeing a higher number of outgoing messages on Azure Service Bus compared to when ReceiveAsync(1) is used.

***Exception or Stack Trace***
N/A

**To Reproduce**
- Create a console app that sends a message every 100~300 ms
- Create a console app that consumes 10 messages every second using MessageReceiver

***Code Snippet***
https://gist.githu

[2019-07-31 19:16] #6312 closed

[2019-07-31 21:11] AlexGhiondea opened #7062 "Enforce KeyOps for local crypto operations."

[2019-07-31 21:15] AlexGhiondea opened #7063 "Return from decrypt/verify/unwrap operations a structure instead of raw bytes"

[2019-07-31 22:13] seanmcc-msft opened #7064 "[Storage] Cannot build .NET Storage SDK with default installation of Visual Studio 2019"
**Describe the bug**
I cannot build the .NET Azure Storage SDK with the default installation of Visual Studio 2019 (Community and Enterprise)

***Exception or Stack Trace***
None.

**To Reproduce**
Steps to reproduce the behavior:

* Create a new Azure VM
  * [https://ms.portal.azure.com/](https://ms.portal.azure.com/)
  * Virtual Machines tab on the left
  * "+ Add"
  * On the "Create a virtual m

[2019-07-31 22:30] tg-msft commented on #7064
Someone on the Engineering Systems side should run through this, capture all of our implicit requirements, and update CONTRIBUTING.md to enable new folks getting started with our project.

[2019-07-31 22:32] joshfree opened #7065 "Release Azure.Identity Library Preview 3 for .NET"
**API Design**
- [ ] **Preview 3** Arch Board review of Preview 2 Credential Types
   - [ ] Proposal Ready
   - [ ] Design approved
- [ ] **Preview 3** SharedTokenCacheCredential APIs reviewed and approved by Azure SDK Core Arch Board
   - [ ] Proposal Ready
   - [ ] Design approved
- [ ] **Preview 3** Finalize MSAL dependency strategy with Arch Board
   - [ ] Proposal Ready
   - [ ] Design approv

[2019-07-31 22:32] tg-msft commented on #7064
/cc @weshaggard @pakrym - after fixing the initial problem with a missing .NET Core, it will repro the Source Link ` error MSB4018: The "Microsoft.Build.Tasks.Git.LocateRepository" task failed unexpectedly.` bug we've been seeing.

[2019-07-31 23:41] nemakam commented on #7057
@goenning, thanks for the detailed description, but this looks like a support investigation and opening this issue through "support ticket" on the Azure portal would be the better route for this. They can take a look a service side logs for your namespace and guide further.

[2019-07-31 23:41] #7057 closed

[2019-08-01 00:41] joshfree opened #7069 "Release Distributed Tracing Track 2 Plugin Preview 3 for .NET"
**API Design**
- [x] **Preview 2** (HTTP) Spec for Distributed Tracing Produced @johanste
   - [x] Spec Ready
   - [x] Spec approved by Azure SDK Arch Board
- [x] **Preview 3** (AMQP) Spec for Distributed Tracing Produced @johanste @lmolkova
   - [x] Spec Ready - https://gist.github.com/lmolkova/e4215c0f44a49ef824983382762e6b92#file-minimal_instrumentation-md
   - [ ] Spec approved by Azure SDK Ar

[2019-08-01 00:44] joshfree opened #7070 "Release Distributed Tracing Track 2 Plugin Preview 4 for .NET"
**API Design**
- N/A for Preview 4

**Feature Work**
- [x] **Undone from Preview 3** Tracing Context propagated through each Track 2 Library
   - [x] KeyVault (Certificates)
   - [x] EPH (amqp)
- [x] **OpenTelemetry**
   - [x]  add Links support
   - [x] ship a package

**Documentation**
- N/A for Preview 4

**CUT**
- [ ] **Preview 4** Before the UX study, audit to make sure tracing is consistent

[2019-08-01 02:33] mjparinas commented on #6774
This seems to be a fairly significant omission in the Node.js SDK. I'm currently using this library and it is NOT feature complete at all. I'm commenting to add visibility to this bug.

[2019-08-01 02:42] AlexGhiondea opened #7071 "Validate tool"

[2019-08-01 02:43] #7071 closed

[2019-08-01 02:43] AlexGhiondea opened #7072 "Validate tool"

[2019-08-01 02:44] #7072 closed

[2019-08-01 02:45] AlexGhiondea opened #7073 "Validate tool"

[2019-08-01 12:03] mvancamp commented on #7003
I am experiencing the same error "Could not load type 'Microsoft.Azure.Services.AppAuthentication.SqlAppAuthenticationProvider' from assembly 'Microsoft.Azure.Services.AppAuthentication'."

[2019-08-01 15:12] tg-msft opened #7077 "Storage: Investigate "UnreliableConnection" test flakiness"
UploadRangeAsync_WithUnreliableConnection

[2019-08-01 15:23] #6886 closed

[2019-08-01 15:23] #6947 closed

[2019-08-01 15:37] #6884 closed

[2019-08-01 16:03] Yves57 opened #7078 "AddBlobServiceClient() with multiple clients"
Imagine an application that copies some data to a main blob storage and to a second backup storage as well.

When using `AddBlobServiceClient()`, it seems that only one `BlobServiceClient` can be instancied.

Maybe new additional signatures like
[code]
would allow the developer to just create an empty derived class to fix the problem:

[code]

@pakrym

[2019-08-01 16:40] pakrym commented on #7078
Integration layer supports naming the client registrations so it's

[code]

[2019-08-01 16:47] #6873 closed

[2019-08-01 17:33] pakrym commented on #5381
Moved to Azure.Core label and this should be done in a central way.

[2019-08-01 17:34] pakrym commented on #5381
Moved to Azure.Core label and this should be done in a central way.

[2019-08-01 17:35] pakrym commented on #5385
Closing configuration watcher related issues as it's not shipping.

[2019-08-01 17:35] #5385 closed

[2019-08-01 17:36] pakrym commented on #5388
Closing this in favor of https://github.com/Azure/azure-sdk-for-net/issues/6944

[2019-08-01 17:36] #5388 closed

[2019-08-01 17:38] pakrym commented on #5390
Configuration watcher is not shipping.

[2019-08-01 17:38] #5390 closed

[2019-08-01 17:38] pakrym commented on #5391
Configuration watcher is not shipping.

[2019-08-01 17:38] #5391 closed

[2019-08-01 17:38] pakrym commented on #5392
Configuration watcher is not shipping.

[2019-08-01 17:38] #5392 closed

[2019-08-01 17:41] pakrym commented on #5394
ConfigurationWatcher is not shipping.

[2019-08-01 17:41] #5394 closed

[2019-08-01 17:51] pakrym commented on #5734
Not worth it.

[2019-08-01 17:51] #5734 closed

[2019-08-01 20:33] j82w opened #7082 "Azure.Core README.md Response sample does not dispose the response objects"
**Describe the bug**
None of the Disposable objects are disposed of in the Azure.Core [README.md](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Azure.Core#accessing-http-response-details-using-responset). Both the `Response` [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Response.cs), `Response<T>` [here](https://github.com/Azure/azure-sdk-f

[2019-08-01 22:28] annelo-msft opened #7084 "Delist Azure.ApplicationModel.Configuration package from nuget after renamed to Azure.Data.AppConfiguration"

[2019-08-01 23:31] schaabs opened #7086 "Azure.Identity update InteractiveBrowserCredential to enable use of alternative ports"
InteractiveBrowserCredential currently defaults to listening on port 80 for the authentication code redirect.  This should be updated to be configurable, and pick a random available port by default.

[2019-08-01 23:56] #6928 closed

[2019-08-02 03:08] AlexGhiondea opened #7089 "Release AzConfig Track 2 Library Preview 3"
This is to track the work for Preview 3

### API Design ###
- [ ] Design approved

### Features ###

### Docs ###
- [ ] Samples
- [ ] Read Me

[2019-08-02 03:10] #5376 closed

[2019-08-02 03:57] alrod commented on #6440
Same request https://github.com/Azure/azure-service-bus-dotnet/issues/582

[2019-08-02 07:40] JiriKovar commented on #6709
Same here. Trying to run Selenium UI tests on hosted Azure DevOps MacOs agents. First we run an "az login" for service principal & set the subscription with the KeyVault, then we run UI tests which are reading from the KeyVault and are depending on the AZ CLI authentication.

On Windows, it works fine, but on MacOs, we are running into that issue.

What is the ETA for this issue?

Thanks.

[2019-08-02 09:22] danielmarbach opened #7092 "Why does the SDK guideline define the necessity for sync methods?"
**Query/Question**

![image](https://user-images.githubusercontent.com/174258/62359529-451e4e00-b517-11e9-889a-152517b308aa.png)

https://azuresdkspecs.z5.web.core.windows.net/DotNetSpec.html

Why does the SDK guideline define the necessity of providing sync method overloads? How are you planning to implement those? I hope you are not going to use `GetAwaiter().GetResult()` but have a clear dedica

[2019-08-02 11:44] danielmarbach opened #7093 "[Query] Service Bus - Does AmqpTransactionManager tx management need to be atomic?"
**Query/Question**

Currently `AmqpTransactionManager` [acquires a lock around a simple dictionary](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Amqp/AmqpTransactionManager.cs#L30-L42). If the operations in the [case a current enlistment is not present](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.Serv

[2019-08-02 12:05] brandondahler commented on #6440
@jfggdl, I’m good for now, I have a WIP implementation that at is minimally functioning. It’ll still be a bit before it’ll be buttoned up.

@nemakman, you’re definitely right on #4, I’ve found that in order for us to actually gain some benefit from batching, we do have to work through that complexity directly through trying the batched operation first and falling back if/when it fails. I don’t nee

[2019-08-02 12:28] glennsills commented on #5450
Anyone? Anyone?

[2019-08-02 13:02] jsquire opened #7094 "Revisit Async Iterator Loop"
# Summary

The `ChannelEnumerableSubscription`'s `EnumerateChannel` method contains a loop to process events as they are received in an active channel and is responsible for understanding when events are available, if a default needs to be emitted due to exceeding the maximum wait time, and detecting when a channel has been finalized.  This takes the form of a loop that attempts to balance respons

[2019-08-02 13:14] jsquire opened #7095 "Review Test Parallelism Decorators"
# Summary

Currently, metadata regarding the parallel approach for tests is applied at the class level of each test suite, either allowing tests to run in parallel or opting out.  This was initially done to allow fine grained control during iterations to better understand the behavior of NUnit's test runner and different components of the Event Hubs client library.

As both of these are better und

[2019-08-02 13:28] jsquire opened #7096 "Rename `EventHubPath` to `EventHubName`"
# Summary

For the first preview, when referring to a given Event Hub instance in a public property value, the term `EventHubPath` was used for consistency with the previous version of the client library.  Going forward, the nomenclature has been revised to `EventHubName` to reflect that its use in the track two library represents the name of the Event Hub and not an actual path expression.  Curre

[2019-08-02 15:48] #5489 closed

[2019-08-02 15:48] #6047 closed

[2019-08-02 15:48] #5922 closed

[2019-08-02 15:53] loarabia commented on #6709
@erich-wang Have you had a chance to look into the issue any deeper?

[2019-08-02 16:47] #6342 closed

[2019-08-02 16:47] #6159 closed

[2019-08-02 16:49] #5931 closed

[2019-08-02 16:50] KrzysztofCwalina opened #7097 "Unify Azure.Core Response<T> and Cosmos Response<T>"
Cosmos sources: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Response.cs

We should not ship Response\<T\> in Cosmos. We should either unify to one Response\<T\>, or ship two "response" types in Azure.Core.

The reasons Cosmos has a separate response type are:
1. It supports faster (supposedly) headers lookup (avoids dictionary access). We should

[2019-08-02 16:52] j82w commented on #7097
Another big difference is Cosmos.Response is not disposable and has no access to the stream. This prevents users from needing to wrap every response in a using statement.

[2019-08-02 16:54] #6676 closed

[2019-08-02 16:54] christopheranderson commented on #7092
Agree that this seems like an aggressive requirement for the initial releases. Is it common for our existing SDKs to have Sync and Async? Is this a big blocker that we need to prioritize? I'd hope that the scope of Track 2 is focused mostly on alignment and P0 gaps.

[2019-08-02 16:57] pakrym commented on #7097
Related https://github.com/Azure/azure-sdk-for-net/issues/6841

[2019-08-02 17:08] j82w commented on #7097
In Cosmos we found that there was 2 types of users. One that wants performance and only wants to deal with streams. The other wants a simple typed world and doesn't want to deal with memory leaks from missing using statements. We originally tried doing a merged response like Azure.Core.Response<T>, and found that it was a bad experience for both users. The solution we arrived at was having 2 diffe

[2019-08-02 17:11] KrzysztofCwalina opened #7099 "Unify AzyncCollection and Cosmos FeedIterator<T>"
Cosmos sources:https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/QueryResponses/FeedIterator.cs

We should try to unify AsyncCollection and FeedIterator<T>.

The reasons Cosmos has a separate type is that they were not aware that we support paging in our collection primitives.
There might be other reasons and we should dig into this deeper.

[2019-08-02 17:50] j82w commented on #7099
The biggest blocker is IAsyncEnumerable is not supported in .NET standard 2.0.

[2019-08-02 17:52] pakrym commented on #7099
It is, see https://www.nuget.org/packages/Microsoft.Bcl.AsyncInterfaces/

[2019-08-02 18:02] j82w commented on #7099
Interesting I was looking at [this](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.iasyncenumerable-1?view=netstandard-2.1). In that case I think the biggest blocker I see is the [issue](https://github.com/Azure/azure-sdk-for-net/issues/7097) about the different response types.

The other issue I see is that the [PageSizeHint](https://github.com/Azure/azure-sdk-for-net/blob

[2019-08-02 18:06] pakrym commented on #7099
Sorry, I didn't understand this part

[2019-08-02 18:22] KrzysztofCwalina opened #7103 "Create plan for CosmosDB Utf8String support"
The BCL team is working on support for UTF8 strings.
It would be ideal if Cosmos could use the BCL features instead of creating own UTF8 APIs.

[2019-08-02 18:27] jfggdl commented on #6629
@rajrao, we have added this feature to our backlog. However, due to current priorities, we do not have a date for this feature to be released. If you would like to contribute with support for TimeSpan, we would welcome that and help you with reviewing and releasing your change. Thanks.

[2019-08-02 18:35] j82w commented on #7099
The Cosmos SDK supports buffering pages to reduce latency. The SDK doesn't support a way of updating the continuation token to allow it to take a partial page that has already been buffered. What user scenario requires a different page size for each GetPage?

[2019-08-02 18:37] jfggdl commented on #6859
@LeroyK, we are adding this feature request to our backlog. That said, there is no defined date on which we will start working on this feature yet. We invite you to contribute by implementing this issue. We will work with you reviewing your PR and releasing it.  Please let us know.

[2019-08-02 18:39] pakrym commented on #7099
Let me clarify a couple of things.

1. PageSizeHint is not required to be supported
2. PageSizeHint is used for all pages you get after calling ByPage, you aren't supposed to be changing it per page.

[2019-08-02 18:40] axisc commented on #6748
@sanjaysingh

not copying the TTL will break the contract that the sender is setting for the receivers who consume the message.

As a solution, you may have to adapt the contract that the sender and receiver are maintaining.
I recommend either keeping a larger TTL value, or relying on the dead letter queue to recover from the situation where your messages are expiring.

hope this helps.
please let

[2019-08-02 18:40] #6748 closed

[2019-08-02 18:43] j82w commented on #7099
In Cosmos SDK we take the max page size as part of creating the iterator/asyncollection. What scenario did the user need to change the page size between page loads?

[2019-08-02 18:50] pakrym commented on #7099
We don't support this scenario, ByPage returns IAsyncEnumerable of pages and page size hint is passed in only once and applied to all of them.

[code]

So we are also only taking page size when creating a page iterator. There is no way to change it in between iterations.

[2019-08-02 18:55] jfggdl commented on #7027
@motmot80, We are adding this feature request to our backlog. Please note that do not have a date on when this feature might hgbe implemented as there is some investigation that has to happen on the implications to support this feature across all SDKs (languages).

[2019-08-02 19:35] #6788 closed

[2019-08-02 20:18] jsquire commented on #7093
/cc: @pakrym, @binzywu, @bainian12345

[2019-08-02 20:23] jsquire commented on #7093
Thank you for reaching out, Daniel, and your willingness to submit a pull request.  Those are always appreciated.

In this case, I don't have enough familiarity with some of the transaction context to be an authoritative source.  I'll need to defer to @binzywu and @nemakam as the experts in this area, if they'd be kind enough to offer their thoughts.

[2019-08-02 21:08] adetayorabiu commented on #5847
@AlphaCreativeDev Did you figure this out? I'm currently having the same issue in my app. I retrieving the secret using IConfiguration.GetConnectionString and it returns the raw key vault secret url instead of the secret value

[2019-08-02 21:40] tg-msft opened #7105 "Storage: Use nameof for operation IDs instead of constant strings"
Per the discussion in #7102, let's switch to expressions like `$"{nameof(Azure)}.{nameof(Storage)}.{nameof(Blobs)}.{nameof(Specialized)}.{nameof(LeaseClient)}.{nameof(Acquire)}"` for our operation IDs instead of constant strings.

[2019-08-02 21:44] #7096 closed

[2019-08-02 21:50] j82w commented on #5138
@laultman try using the new [v3 sdk](https://github.com/Azure/azure-cosmos-dotnet-v3).

[2019-08-02 21:57] nemakam commented on #7093
@danielmarbach, we can definitely consider improving the performance in that area. If only one thread is trying to enlist, then keeping it atomic is easier. But if things are happening concurrently, one thing we need to make sure is that the enlistment should go through, and if it doesn't, we should throw exception.
If you have a good implementation, we'd love to have the PR.

[2019-08-02 22:13] loarabia commented on #7092
Assigning to Krzysztof and Adrian to take a look from the guidelines POV.

[2019-08-02 22:29] KrzysztofCwalina opened #7108 "Remove dependency from Cosmos to Json.NET"
The team indicated that it's something they want to do but over time.

cc @mayurid, @kirankumarkolli

[2019-08-02 22:48] nemakam commented on #6440
I'm trying to understand this. What is the difference between receiving 100 individual messages in parallel vs receiving 1 batch of 100 messages. If there is a downstream process to which the message is passed on to which performs better through batching, it makes sense. But if all you are doing is say `await Task.Delay(30 seconds)` within your handler, then both of them should provide similar thr

[2019-08-02 23:05] brandondahler commented on #6440
The short of it is that you do get a meaningful amount of performance by assuming that you can do your complete, renew, and abandon calls as a single batch transaction instead of n individual message transactions. What I was alluding to earlier is that the testing also showed that there was effectively little throughput increase (if not a decrease overall) when I just for-each’d the message renew,

[2019-08-02 23:14] axisc commented on #6859
Added this to our internal team backlog.
https://msazure.visualstudio.com/One/_workitems/edit/5038154

[2019-08-02 23:14] #6859 closed

[2019-08-02 23:16] axisc commented on #6653
added this to the internal team backlog
https://msazure.visualstudio.com/One/_workitems/edit/5038388

[2019-08-02 23:36] #6929 closed

[2019-08-02 23:55] axisc commented on #6252
@SHuygh thanks for setting up the repo.

In our local testing environment, the AMQP connection is able to recover, so we believe that we need to drill deeper with a subject matter expert in the mobile networking space to better understand the network stack.

Having said that, I'm still not convinced this pattern is the right setup given that network switching is common in mobile phones and the pre

[2019-08-03 00:32] rajrao commented on #6629
@jfggdl I would love to help out. Can you point me to where I should start looking?

[2019-08-03 00:33] erich-wang commented on #6709
I'm asking AppAuthentication team to look deeper

[2019-08-03 00:46] erich-wang opened #7109 "net-mgmt pipeline should not allow Scope be empty"
Otherwise, partners may leave the Scope as empty and build/publish all mgmt services

[2019-08-03 07:27] SeanFeldman commented on #6629
`ManagementClient` would be the client-side, but there might be needed some work on the broker side, which is not available on GitHub. @nemakam could you please confirm?

[2019-08-03 07:31] SeanFeldman commented on #6653
@axisc closing public issues in favour of an internal backlog is not a good idea.
Please keep public issues open and close when the internal issues are completed.

![image](https://user-images.githubusercontent.com/1309622/62409012-d9e98000-b5d9-11e9-9674-fc9293f88dee.png)

[2019-08-03 07:31] SeanFeldman commented on #6859
@axisc closing public issues in favour of an internal backlog is not a good idea.
Please keep public issues open and close when the internal issues are completed.

![image](https://user-images.githubusercontent.com/1309622/62409012-d9e98000-b5d9-11e9-9674-fc9293f88dee.png)

[2019-08-05 15:32] #6936 closed

[2019-08-05 15:57] #5616 closed

[2019-08-05 16:32] delradie commented on #7050
Just to add my experience, I would back up @SergeBerwert view that the problem is at the FrontDoor level.
We're currently sandboxing use of the Microsoft.Azure.Management.FrontDoor nuget to programmatically work with FD as part of some new infrastructure. Our sandbox test is a lot simpler, trying to simply add a FrontEndEndpoint at this stage. When the following code is run the ErrorResponse body

[2019-08-05 18:05] #6799 closed

[2019-08-05 18:06] tg-msft commented on #6275
Duplicate of #6996

[2019-08-05 18:06] #6275 closed

[2019-08-05 18:11] tg-msft commented on #6276
Duplicate of #7002

[2019-08-05 18:11] #6276 closed

[2019-08-05 18:19] sagarkul opened #7115 "Sample for adls gen2"
Any Sample or documentation to How to access ADLS Gen2 Files.

[2019-08-05 18:27] axisc commented on #7027
@motmot80
Thanks for reporting this, I've added this to the internal engineering backlog. Closing it here.

https://msazure.visualstudio.com/One/_workitems/edit/5044415

[2019-08-05 18:27] #7027 closed

[2019-08-05 19:20] #6795 closed

[2019-08-05 20:01] nemakam commented on #6629
@rajrao,
Try to set up filter that uses `DateTime` property using some other client (the older .net full framework client maybe). And then try to do `ManagementClient.GetRuleAsync()` for that particular rule. Place a debug breakpoint here: https://github.com/Azure/azure-sdk-for-net/blob/495cd969f225c80d6637fddc2bb2c5b99c9fb48c/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Filters/SqlFilterExtensio

[2019-08-05 20:15] danielmarbach commented on #7093
So I was chewing on this a bit and I have mixed feelings. I compared [slightly twisted current AMQP TX Manager](https://github.com/danielmarbach/Benchmark.TxManager/blob/master/Program.cs#L138) towards [one that uses `ConcurrentDictionary`](https://github.com/danielmarbach/Benchmark.TxManager/blob/master/Program.cs#L183). It definitely improves the lock contention overhead by almost a third though

[2019-08-05 20:16] danielmarbach commented on #7093
I have some micro benchmark results I could publish tomorrow but the problem is the micro benchmarks seem to be even less meaningful

[2019-08-05 20:25] nemakam commented on #7093
@danielmarbach , I took a quick look on the code that was present in the screenshot. It doesn't take care of the whole thing. If two operations are concurrently trying to call this, and one of them throws after adding and removing from dictionary, but the other operation does a successful `dictionary.get` (due to race condition), how do you make sure that that operation fails?
The more I think of

[2019-08-05 20:32] danielmarbach commented on #7093
Yeah hence my initial question whether the operation needs to be atomic. Based on the conversation above I understood it doesn't have to be but it seem I misunderstood. Yeah then there is no way around the lock to have atomicity around the dictionary modifications. Maybe this should be documented as an inline comment in the code?

[2019-08-05 20:33] #7093 closed

[2019-08-05 20:43] axisc commented on #6922
@corneliutusnea, thanks for raising this issue. I was curious about your use-case and wanted to check if there was another pattern you could utilize. Controlling a session lifecycle from the receiver side feels like an anti-pattern.

Ideally, the receiver should know only about where the messages should be received from and what can/should be done once those are available.

Having the receiver act

[2019-08-05 21:41] annelo-msft opened #7124 "Allow user to set ClientRequestId and CorrelationId per operation"
This is a requirement from the AppConfiguration service team.

[Provider](Azure/Azconfig-DotnetProvider) allows callers to set a ClientRequestId for every operation, and if user doesn't specify one, they default to a GUID value.  This is required for every request by default (see IRequestOptions).

Their [Runner](https://msazure.visualstudio.com/Azure%20AppConfig/_git/Runner?path=%2Fsrc%2FMicrosof

[2019-08-05 23:03] nemakam commented on #7093
Sorry this didn't work out. Thanks for the effort! (y)

[2019-08-06 00:03] kurtzeborn opened #7125 "Encryption: IKey and IKeyResolver"
This code already exists in KeyVault.Core so taking a dependency on that or migrating the code to a shared location solves this.

[2019-08-06 01:27] tg-msft commented on #7125
/cc @schaabs

[2019-08-06 01:28] tg-msft opened #7127 "Storage: Client-side encryption"

[2019-08-06 02:26] tg-msft commented on #6898
As discussed today, this has more drawbacks then benefits.

[2019-08-06 02:26] #6898 closed

[2019-08-06 02:27] corneliutusnea commented on #6922
@axics You already give me control over the session lifecycle as the receiver. That's the whole point of being the receiver and accepting a session, I get full control over that session while I have it don't I?
The only issue I have is that control seems to be oddly limited to "you have control _while_ you receive messages or for how long _you don't get_ messages".  There is no in between. If I ha

[2019-08-06 14:14] erich-wang commented on #7056
@yaohaizh , could you provide more context for this request?

[2019-08-06 14:20] erich-wang commented on #6987
it is similar to https://github.com/Azure/azure-sdk-for-net/issues/7006.

[2019-08-06 14:24] yaohaizh commented on #7056
Sorry, input the wrong repo.

[2019-08-06 14:24] #7056 closed

[2019-08-06 14:50] jsquire opened #7129 "Integrate Logging"
# Summary

Currently, the responsibility for logging is delegated to the track one client code serving as the basis for communication with the Event Hubs service.  As a prerequisite to the efforts to assume responsibility for service communication, ownership of logging needs to transfer to the track two client code.

As part of earlier work, an event source for track two was implemented and has be

[2019-08-06 14:52] #5989 closed

[2019-08-06 15:37] annelo-msft opened #7130 "Consistency in ConfigurationClient.cs"
- [x] Delete is missing ConfigurationSetting overload the other CRUD operations have. ConfigurationClient.cs: 419
- [ ] In AddAsync method, add AddAttribute to be consistent with other non-collection methods.
- [x] Line 782 - AcceptedDateTimeFormat is hard-coded to "R" - use constant here.
- [x] Per guideline "**DO validate client parameters**," check for null in AddAsync(ConfigSetting) (see #7732

[2019-08-06 15:41] adrianhall commented on #7092
The short version is that, during user studies, developers were confused by the async methods.  As much as we would love for the entire world of developers to be "async aware", we aren't there yet, and may never get there.  Adding synchronous methods provides for an easier introduction to the SDK.

[2019-08-06 16:01] SeanFeldman commented on #7092
@adrianhall thank you for clarifying the reason behind the guideline.

Would you mind to share the technical expectation of how the synchronous overloads will be implemented? @danielmarbach has brought a concern that would be good to address. Thank you.

[2019-08-06 16:15] SeanFeldman commented on #6540
@jfggdl any updates on this? Thank you.

[2019-08-06 16:42] wjchristenson2 opened #7133 "[BUG] Microsoft.Azure.Services.AppAuthentication + Visual Studio 16.2 Doesn't Work"
Upgrading Visual Studio 2019 to 16.2.0 breaks Microsoft.Azure.Services.AppAuthentication regardless of AppAuthentication version. Tested on a couple of different machines and different developer logins. Developers are no longer able to use their VS credentials to authenticate to AKV after the upgrade. We've tried logging out of VS and back in, restarting VS, restarting machines to no avail. We wer

[2019-08-06 17:13] annelo-msft opened #7137 "Update .NET Guidelines for Sample file naming"
The [.NET Guidelines for Samples](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-samples) specify naming files with a **S\<number\>_**
 prefix.  The AppConfiguration, KeyVault, and Storage libraries have named sample files with a **Sample\<number\>_** prefix instead.  We'll use the **Sample\<number\>_** prefix, and update the guidelines to reflect this.  It would be good to also

[2019-08-06 17:16] annelo-msft opened #7138 "Update Samples"
- [ ] Samples are missing numbers 3 and 5.

![image](https://user-images.githubusercontent.com/21269347/62560132-3e524c80-b831-11e9-9dd1-99c953534506.png)

Renumber them in order.

- [ ] "I would say one sample for the 4 main crud operations. One sample for each CRUD operation is probably too granular.  The main point is that if code shows in readme, the same code should be somewhere in the sample

[2019-08-06 17:39] KrzysztofCwalina commented on #7092
I will try to add a justification to the guidelines, but quickly: we are getting feedback that many developers want to start using Azure SDK in existing apps with deep synchronous callstacks. Rewriting the callstack to async is not an option. In such case, the developers are forced to do sync over async. Today the pipeline is doing sync over async also, but in the future we will provide first clas

[2019-08-06 17:46] chidozieononiwu commented on #7064
I have updated contributing guidelines for this. I still cannot repro the source link error. It might be best to file a separate issue to track that, and include more details about the system and environment where it occurs.

[2019-08-06 17:54] KrzysztofCwalina commented on #7137
@kaerm, what convention do we want to use? Let's agree on something and I will update the guidelines.

[2019-08-06 17:59] kaerm commented on #7137
I think sample does sound clearer but wouldn't that make the names of all the samples become long and therefore unreadable?

[2019-08-06 18:14] annelo-msft commented on #7137
Are there guidelines regarding file name length for client SDK files?

[2019-08-06 18:15] #6468 closed

[2019-08-06 18:26] chidozieononiwu opened #7140 "[BUG]Microsoft.Build.Tasks.Git.LocateRepository Task fail"
**Describe the bug**
Source Link causes build failure for all projects in the repo.

***Exception or Stack Trace***
The "Microsoft.Build.Tasks.Git.LocateRepository" task failed unexpectedly.

[2019-08-06 18:32] seanmcc-msft commented on #6893
@amnguye, It might be good to ask @tg-msft what he has in mind for this.

I'm thinking maybe we add overloads for the following methods, swapping Stream content for File file:
- BlobClient.Upload(Stream content)
- BlobClient.UploadAsync(Stream content)
- FileClient.UploadRange()
- FileClient.UploadRangeAsync()

I'm thinking users using AppendBlobClient and PageBlobClient will know how to convert a

[2019-08-06 18:33] amnguye commented on #7140
Bug Description:
![git-locaterepo-error-dotnet](https://user-images.githubusercontent.com/48961492/62566382-af97fc80-b83d-11e9-941e-838988f5ec39.png)

For reference this was the errors I was getting
The "Microsoft.Build.Tasks.Git.LocateRepository" task failed unexpectedly.
For each project I was attempting to build(e.g. Azure.Core, Azure.Storage.Common, Azure.Identity..)
This is the error that pop

[2019-08-06 18:39] ramya-rao-a opened #7141 "Release Event Hubs Track 2 Library Preview 3 for .Net"
For general summary & goal, please see: [Release Event Hub Track 2 Library (#442)](https://github.com/Azure/azure-sdk/issues/442)

The work items linked to this issue herein represent the tasks needed to produce the 3rd preview for the "track two" Event Hubs client library.

### API Design Review with the Board for Create using batch & Consume using Event Processor
- [ ] 🏃‍♀Proposal Ready
- [ ] 🏃‍

[2019-08-06 18:43] kurtzeborn opened #7142 "Release Storage Track 2 Library Preview 4 for .Net"
*=Work owned by _xstore_ team

#### New Service Features
- [x] * Batch #6996 (at risk, blocked on core atm)
  - [x] Azure.Core support for content type multi-part/mixed #7425
- [x] * Echo Client Request ID #6997 #6899
- [x] * Put Range from URL #7000
- [ ] * Client-side encryption #7127
  - [x] Encryption: IKey and IKeyResolver #7125

### Fit and Finish
- [x] Take CPK details in BlobClientOptions

[2019-08-06 18:51] #6917 closed

[2019-08-06 18:52] mayurid opened #7143 "Release CosmosDB Track 2 Library Preview 3 for Net"
### API Design
### Features
### Docs
### Ux Study

[2019-08-06 18:55] amnguye commented on #7140
Repro steps:
If git is installed with this option (as I can see how you select the other options does not matter)
![image](https://user-images.githubusercontent.com/48961492/62567365-e66f1200-b83f-11e9-8e96-a12e1145f989.png)

If you choose 'Use Git from Git Bash only' it will reproduce the problem and break the build. Choosing 'Git from command line and also 3rd-party software' or 'Use Git and opt

[2019-08-06 19:00] mayurid opened #7144 "Release CosmosDB Track 2 Library Preview 3 for Net"
### API Design
### Features
### Docs
### Ux Study

[2019-08-06 19:01] #7144 closed

[2019-08-06 19:03] #7143 closed

[2019-08-06 19:12] j82w commented on #7092
If the only reason to support synchronous call stacks is to support older existing application would it be better to try to build a library or some other solution as an additional package to convert asynchronous SDK to synchronous? This seems like unnecessary bloat for most users since modern applications are asynchronous. Also by supporting synchronous APIs directly in the SDK users might start b

[2019-08-06 19:16] kfarmer-msft commented on #7018
Thanks, @deenairn.  We'll look into adding a section in the v11 library's readme regarding async deadlocks.

The internal code problem is a sync-over-async situation imposed by the HttpClient.  We've recently uncovered and addressed one class of issues with the recent v11 release (there were some awaits that didn't also use ConfigureAwait(false)).

[2019-08-06 19:16] #7018 closed

[2019-08-06 19:38] wjchristenson2 commented on #7133
For others, we used Azure CLI to login from the command prompt as a work around.

Download: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest
Sign In (note you may have to select your subscription if you have access to more than 1 after you sign in): https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest

[2019-08-06 20:00] tg-msft commented on #6893
@seanmcc-msft - I think you're looking at a different type of convenience method that we don't currently have a work item (or plan) for yet.

This bug is specifically about making it possible to upload a 1GB file to File Storage without having to manually split it into 4mb chunks that you individually pass to `UploadRangeAsync`.  We did this for the simple `BlobClient` at https://github.com/Azure/

[2019-08-06 20:00] #6797 closed

[2019-08-06 20:00] #6752 closed

[2019-08-06 20:16] joshfree commented on #6933
Closing Epic tracking Distributed Tracing Preview 2 feature work

[2019-08-06 20:16] #6933 closed

[2019-08-06 20:46] seanmcc-msft commented on #6893
Oh never mind, I didn't understand what this issue was.  Please disregard.

[2019-08-06 21:45] scbedd opened #7150 "Update public preview feed to push to Devops Feed rather than blob storage endpoint"
Wes put together a pipeline that pushes to a blobfeed. We need to adjust to pull from a devops public feed.

[2019-08-06 21:46] pakrym opened #7151 "EventHubs fails to build with 3.0 preview7 SDK"
[code]

[code]

[2019-08-06 22:07] pakrym opened #7153 "Disable HTTP activity based on DiagnosticOptions.IsLoggingAvailible"
We disable client level activity based on it.

[2019-08-06 23:07] serkantkaraca commented on #7171
I am closing the feature request which didn't gain a traction. Besides Track 2 client development is picking up. This can be discussed under Track 2 if needed.

[2019-08-06 23:07] #7171 closed

[2019-08-06 23:20] AlexGhiondea commented on #7133
@wjchristenson2 are you saying that logging in via the CLI addressed the issue? Or that logging in via the CLI is a workaround for people that can't connect to AKV using their VS credentials?

[2019-08-06 23:21] serkantkaraca commented on #7165
SendAsync(batch.ToEnumerable(), partitionKey) with a key different than the one used during batching would be an implementation error. Please reactivate the issue if you have a different repro.

[2019-08-06 23:21] #7165 closed

[2019-08-06 23:21] serkantkaraca commented on #7175
We are moving ITOHub support to Track 2 SDK therefore closing the feature request here.

[2019-08-06 23:21] #7175 closed

[2019-08-06 23:26] serkantkaraca commented on #7174
Please reconsider creating a feature request for Track 2 SDK - https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs

[2019-08-06 23:26] #7174 closed

[2019-08-07 06:17] tzhanl opened #7178 "[Track One Event Hubs Tests] Randomize partition picked"
sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/DataBatchTests.cs.
thinking of Randomize partition picked in Test SendingPartitionKeyBatchOnPartitionSenderShouldFail.
 replace "0" with random Partition key for follow code:
var partitionSender = ehClient.CreatePartitionSender("0");

[2019-08-07 06:23] yaohaizh commented on #7006
@shahabhijeet We are blocking by this issue for fluent .net SDK. So just wondering when this issue will be resolved?

[2019-08-07 06:57] martinoss commented on #4645
Having the same issue, but updating Microsoft.Azure.Services.AppAuthentication didn't change anything for me. Tried v1.2 and 1.3, still have wait times up to 45s.
But setting the environment variable like @navzam described worked for me.

[2019-08-07 12:43] wjchristenson2 commented on #7133
@AlexGhiondea logging in via the CLI is a workaround for people that can't connect to AKV using their VS credentials after upgrading to 16.2.0.

[2019-08-07 13:33] jsquire opened #7179 "Revisit Event Data System Properties Type"
# Summary

The `EventData` type has an embedded `SystemProperties` type which has historically been used to represent a combination of well-known and dynamic properties owned and populated by the Event Hubs service for events that are received.  During the first preview, we were unable to determine scenarios where it would be desirable for event consumers to reference or rely on these dynamic prop

[2019-08-07 13:46] jsquire opened #7180 "Convert to Event Data from AMQP Message"
# Summary

For the second preview, a track two implementation for conversion of `EventData` instances to the corresponding AMQP message format was created.  Due to time constraints, work to perform the inverse conversion, from AMQP message to `EventData` instance was deferred.

# Scope of Work

- Implement the conversion for AMQP Message to `EventData`, taking advantage of the infrastructure prese

[2019-08-07 14:32] crmann1 commented on #7133
In 16.2 can you try going to  Tools->options->Azure Service Authentication  and ensure the correct account is listed in the dialog, then click OK and try again.

[2019-08-07 15:09] jsquire opened #7181 "Stabilize Live Tests for Nightly Runs"
# Summary

The set of Live tests has been tested and tuned locally, and has proven to be reliable and consistent.  However, due to the nature of environmental differences and the non-determinism inherent to the messaging space, some tests have been unstable - both consistently and intermittently - in the nightly runs across different target platforms.

The runs, and resulting test results, can be

[2019-08-07 15:37] adrianhall commented on #4539
We will assume this has answered your question on September 7th, 2019.  If you feel this issue is answered, feel free to close it.  If not, please let us know how we can be of assistance.

[2019-08-07 15:39] adrianhall commented on #4415
Hi Mick,
My apologies for this sitting for so long.  Is this still a problem for you?

[2019-08-07 15:40] jsquire opened #7182 "Event Processor Tests"
# Summary

Due to time constraints and the desire to release a preview of `EventProcessor` to gather feedback, the associated test suite for both unit and live tests were not a priority for the second preview.  In order to ensure that we maintain a high quality bar and are able to validate enhancements, bug fixes, and changes to the implementation, a comprehensive suite of tests is needed.

# Scop

[2019-08-07 15:44] adrianhall commented on #4269
Hi @FirePho - my apologies for this being dropped for so long.  Is this still an issue?

[2019-08-07 15:44] jsquire opened #7183 "Review and update documentation"
# Summary

In preparation for the third preview release of the track two Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The README content is up to da

[2019-08-07 15:45] KSchlobohm opened #7184 "[BUG] the NuGet project URL for Azure.Security.KeyVault.Secrets points to an invalid URL"
**Describe the bug**
The project url on https://www.nuget.org/packages/Azure.Security.KeyVault.Secrets/ points to [Page not found](https://github.com/Azure/azure-sdk-for-net/blob/6756d9a222b93698c410b2efa0f915709a1a14b6/sdk/keyvault/Azure.Security.KeyVault.Secrets/README.md).

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Follow the link from t

[2019-08-07 15:45] adrianhall commented on #4249
Hello, My apologies for this being dropped.  Is this still an issue?

[2019-08-07 15:48] jsquire opened #7185 "Create samples"
# Summary

In preparation for the third preview release of the track two Event Hubs client, the samples which accompany it should be extended to include the new features.

# Scope of Work

- A new sample should be created to illustrate the new features of the `EventProcessor`.  This should be grouped in the same area as other event consumer scenarios.

- The existing samples have been updated to r

[2019-08-07 15:50] kaerm commented on #7137
I do not think so @KrzysztofCwalina ?

[2019-08-07 16:14] serkantkaraca commented on #7173
PR - https://github.com/Azure/azure-sdk-for-net/pull/7186

[2019-08-07 16:17] serkantkaraca commented on #7172
There is no progress on this yet. I will keep this open to track the request.

[2019-08-07 16:22] jonmill commented on #7172
@evgenisokolov - we couldn't wait on this any longer and switched over to [Redis Stream](https://redis.io/topics/streams-intro) inside our Kubernetes Cluster instead. It made local development super east

[2019-08-07 16:24] serkantkaraca commented on #7170
Closing the issue since Track 2 SDK is removing storage dependency from Processor Host.

[2019-08-07 16:24] #7170 closed

[2019-08-07 16:30] serkantkaraca commented on #7167
Non-default consumer groups should work just fine as default consumer groups do.  Are you still hitting this issue?

[2019-08-07 16:32] #6542 closed

[2019-08-07 16:32] serkantkaraca commented on #7166
No activity for while on this thread. Please reactivate the issue if you need to continue discussion.

[2019-08-07 16:32] #7166 closed

[2019-08-07 16:33] dmytro-gokun commented on #7170
@serkantkaraca What is "Track 2 SDK"? Where can I read about it? Is it available for download?

[2019-08-07 16:38] serkantkaraca commented on #7170
https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/eventhub/Azure.Messaging.EventHubs

[2019-08-07 16:40] dmytro-gokun commented on #7170
Thanks

[2019-08-07 16:46] jsquire opened #7187 "AMQP Foundation (Connection, Session, Common Infrastructure)"
# Summary

The current track two implementation delegates to an embedded copy of the track one library as its transport layer.  This approach was chosen as a temporary measure to speed development and allow the track two API surface to be modeled and released for feedback more quickly.  It requires translation between types in the track two context and those in track one, resulting in more allocat

[2019-08-07 16:46] adrianhall commented on #4051
Hello, my apologies for this taking so long.  Is this still an issue?

[2019-08-07 16:49] adrianhall commented on #1707
My apologies for this taking so long.  Is this still an issue?

[2019-08-07 16:50] adrianhall commented on #1749
My apologies for this taking so long.  Is this still an issue?

[2019-08-07 16:51] jsquire opened #7188 "AMQP Foundation (Links)"
# Summary

The current track two implementation delegates to an embedded copy of the track one library as its transport layer.  This approach was chosen as a temporary measure to speed development and allow the track two API surface to be modeled and released for feedback more quickly.  It requires translation between types in the track two context and those in track one, resulting in more allocat

[2019-08-07 16:51] adrianhall commented on #1801
Is this still an issue?

[2019-08-07 16:52] KSchlobohm opened #7189 "[BUG] Azure.Security.KeyVault.Secrets preview2 doesn't support update"
**Describe the bug**
Following along with the [documentation](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Secrets/Readme.md) the process for updating a secret is [shown](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Secrets/Readme.md#update-an-existing-secret). This process does not compile (the Secret co

[2019-08-07 16:54] serkantkaraca commented on #7164
EH receivers are not 100% failover compliant yet. Have you considered running a monitor job to identify failover? It can basically check the created date-time of underlying entity and take an action when it identifies a difference.

[2019-08-07 16:57] adrianhall commented on #1863
It looks like the new version came out (and this is just old and needs to be closed).  Can you confirm your issue is corrected in later versions?

[2019-08-07 16:57] jsquire opened #7190 "AmqpEventHubClient"
# Summary

The current track two implementation delegates to an embedded copy of the track one library as its transport layer.  This approach was chosen as a temporary measure to speed development and allow the track two API surface to be modeled and released for feedback more quickly.  It requires translation between types in the track two context and those in track one, resulting in more allocat

[2019-08-07 16:58] adrianhall commented on #1879
This is an old issue, so my apologies for the lack of action.  Is this still an issue?

[2019-08-07 16:59] adrianhall commented on #1934
There have been several releases of the `Microsoft.Graph.RBAC` package since this was opened.  Can you confirm this is still an issue with the latest libraries?

[2019-08-07 17:00] MickH3 commented on #4415
Hi Adrian, I was able to work around it but it's been a while.  Something to the effect of DirectLine being a channel that already exists in a new Azure Bot Registration and not needing to be added like the Teams channel.  I think once I queried for the default key it would 'enable' it.  We aren't using this anymore, so I cannot remember the specifics.

Thanks again for getting back to me!

Mick

[2019-08-07 17:01] jsquire opened #7191 "AmqpEventHubProducer"
# Summary

The current track two implementation delegates to an embedded copy of the track one library as its transport layer.  This approach was chosen as a temporary measure to speed development and allow the track two API surface to be modeled and released for feedback more quickly.  It requires translation between types in the track two context and those in track one, resulting in more allocat

[2019-08-07 17:01] adrianhall commented on #1986
My apologies for taking so long.  I do note that the Scheduler package you are using is still the current one.  Is this still an issue?

[2019-08-07 17:02] adrianhall commented on #1995
Is this still an issue?

[2019-08-07 17:03] jsquire opened #7192 "AmqpEventHubConsumer"
# Summary

The current track two implementation delegates to an embedded copy of the track one library as its transport layer.  This approach was chosen as a temporary measure to speed development and allow the track two API surface to be modeled and released for feedback more quickly.  It requires translation between types in the track two context and those in track one, resulting in more allocat

[2019-08-07 17:09] adrianhall commented on #2063
Is this still an isuse? Websites has been replaced by App Services.  I don't think this is an issue any more as a result.

[2019-08-07 17:19] #4415 closed

[2019-08-07 17:20] adrianhall commented on #4415
I appreciate the confirmation.  We're trying to get better at responding.  Unfortunately, there is a large backlog of "old issues" that fell through the cracks.  Let us know (by opening a new issue) if you bump into anything new.

[2019-08-07 17:22] #2124 closed

[2019-08-07 17:23] adrianhall commented on #2124
Seems to be closed as resolved.  If this is not resolved and needs further action, please re-open

[2019-08-07 17:24] adrianhall commented on #2137
Is this still an issue?

[2019-08-07 17:25] adrianhall commented on #2190
This is an old issue.  Is it still relevant?

[2019-08-07 17:27] adrianhall commented on #2230
Is this still an issue?

[2019-08-07 17:30] adrianhall commented on #2262
Is this still an issue?

[2019-08-07 17:31] KSchlobohm opened #7193 "[BUG] Azure.Security.KeyVault.Secrets preview2 - GetSecrets() should return type Secret instead of SecretBase"
**Describe the bug**
In the documentation to enumerate secrets the list of returned secrets is of type Secret. The actual type returned in preview2 of Azure.Security.KeyVault.Secrets is SecretBase which does not include the property "Value".

***Exception or Stack Trace***
- System.InvalidCastException: 'Unable to cast object of type 'Azure.Security.KeyVault.Secrets.SecretBase' to type 'Azure.Secu

[2019-08-07 17:32] adrianhall commented on #2276
This is an old issue (and my apologies for not getting to it sooner - we're getting better at this, but there is a large backlog to process).  Is this within Microsoft.WindowsAzure.Management.Compute?  Is it still a problem in the latest version of the library?

[2019-08-07 17:33] adrianhall commented on #2265
Checking in to older bugs.  Is this still an issue?

[2019-08-07 17:40] #2278 closed

[2019-08-07 17:40] adrianhall commented on #2278
Hi Erich,

Did you find what you need?  If not, here is the direct link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute?view=azure-dotnet and here is a link to a stack overflow question for the same: https://stackoverflow.com/questions/21738152/how-to-get-list-of-virtual-machines-in-windows-azure-programatically

If this does not answer your question, please re-open

[2019-08-07 17:41] adrianhall commented on #2303
This looks to be resolved, but was never closed.  Can you confirm this is no longer an issue?

[2019-08-07 17:42] adrianhall commented on #2329
This is an old issue (so my apologies for the long period of inattention).  Is this still an issue?  If so, can you provide more details on the current state of the problem, including any .NET libraries in use?

[2019-08-07 17:44] adrianhall commented on #2330
Can you please confirm this is still an issue?  If it is, please can you provide more information on the current state, including any .NET libraries (and their version) in use?

[2019-08-07 17:45] adrianhall commented on #2336
Given that DocumentDb has been removed in favor of Cosmos, and the SDK has moved forward, can you please confirm this is still an issue?  If so, please provide more details on the problem, including all .NET libraries and their versions.

[2019-08-07 17:46] adrianhall commented on #2339
Is this still an issue with the latest version of the library?

[2019-08-07 17:48] adrianhall commented on #2340
Given the age of this issue, I suspect it is no longer an issue.  Could you confirm that this is the case?  If not, please provide the current state of the issue, along with all .NET libraries (and versions) in use?

[2019-08-07 17:49] SeanFeldman commented on #6540
@jfggdl I've tested again and the behaviour is still broken, indicating the fix might not have been deployed yet. Could you please validate if that's the case or not?

I'm assuming my comment can be considered `customer-response-expected`. If not, what the label stands for? Thank you.

[2019-08-07 17:50] adrianhall commented on #2347
This does not reference current documentation, so we can't go back, and Azure APIs have moved on significantly.  If this is still a problem, please open a new issue with a reference to your current state.  Thanks!

[2019-08-07 17:50] #2347 closed

[2019-08-07 17:52] adrianhall commented on #2463
My apologies for the drop on this one.  Is this still an issue?

[2019-08-07 17:55] adrianhall commented on #2508
Assigning to stale - closure in 30 days if no update.

[2019-08-07 17:59] adrianhall commented on #2520
I think this is now the norm.  Is this required to be open any more?  (Closing in 30 days unless there is something more articulated)

[2019-08-07 18:00] adrianhall commented on #2521
Going through old issues that have had no attention.  Is this still an issue?

[2019-08-07 18:01] adrianhall commented on #2542
Going through older issues - is this still an issue?

[2019-08-07 18:05] cormacpayne commented on #2520
Closing as fixed.

[2019-08-07 18:05] #2520 closed

[2019-08-07 18:05] adrianhall commented on #2662
Is this still an issue in Azure App Service?  (I don't think app service supports virtual directories, so I don't think so)

[2019-08-07 18:06] serkantkaraca commented on #7163
PR out. #7194

[2019-08-07 18:06] #7163 closed

[2019-08-07 18:07] adrianhall commented on #2757
Is this still an issue?

[2019-08-07 18:10] adrianhall commented on #2761
This has been fixed (even though the issue was never updated).  See https://github.com/Azure/azure-rest-api-specs/blob/master/specification/powerbiembedded/resource-manager/Microsoft.PowerBI/stable/2016-01-29/powerbiembedded.json#L9

If this is not the case, please re-open.