[2020-05-20 18:48] #9902 closed

[2020-05-20 18:50] heaths commented on #9771
Closing this since it's stale and the new configuration providers have shipped. Please let us know if you are still having problems and we can reopen this issue for further investigation.

[2020-05-20 18:50] #9771 closed

[2020-05-20 18:53] heaths commented on #8846
We have internal conversations about changes to make going forward, but given the low rate limit for Key Vault we believe the performance impact is negligible in this particular case.

[2020-05-20 18:53] #8846 closed

[2020-05-20 18:56] heaths commented on #7725
This was completed.

[2020-05-20 18:56] #7725 closed

[2020-05-20 18:58] heaths commented on #6064
This was completed, more or less. Coverage is about the same, though new tests were written against the new APIs.

[2020-05-20 18:58] #6064 closed

[2020-05-20 19:00] Iscgx commented on #3933
Worked for me!

[2020-05-20 19:01] heaths commented on #11669
We're moving this to our July milestone, which represents the work we're doing during June and releasing in early July (typically the first week). Let me know if this is too late.

[2020-05-20 19:26] jsquire opened #12208 "[BUG] Management library for Event Hubs should use the correct name of the service"
# Summary

The track two management library for the Event Hubs is currently using an incorrect naming scheme for its assets.  This does not reflect the name of the associated service, `Azure Event Hubs`, which is a branding concern for the product.   This also leaves it inconsistent when compared to the naming of the client libraries for Event Hubs for both tracks [one](https://www.nuget.org/packa

[2020-05-20 19:41] #12151 closed

[2020-05-20 19:56] allenjzhang opened #12209 "[Track 2 SDK] Reconcile and consolidate test framework"
Based on feedback, we should come back revisit the test framework and see if any consolidation and refactoring is needed.

Backlog:
1. move test helper projects from sdk/testcommon to common/
2. Rename common/Azure.Graph.Rbac

[2020-05-20 20:05] heaths opened #12211 "Azure.Management.KeyVault tests are failing"
The recent check-in with https://github.com/Azure/azure-sdk-for-net/pull/12039 broke live test runs. See https://dev.azure.com/azure-sdk/internal/_build/results?buildId=398184 - mostly `NullReferenceException`s on linux and mac.

[2020-05-20 20:59] heaths commented on #10592
Thanks. I left a few comments.

[2020-05-20 21:20] #11595 closed

[2020-05-20 21:37] heaths opened #12217 "More Search renames"
Based on UX studies, please make the following changes as well:

Old name | New name | Notes
--- | --- | ---
SearchIndexDataSource | SearchIndexDataSourceConnection
SearchField.SynonymMaps | SearchField.SynonymMapNames | For dynamic languages with union support, you could instead accept either a string or object and, if an object that is a SynonymMap, extract it's name. But it's not always practic

[2020-05-20 21:53] richardpark-msft commented on #12093
@SeanFeldman - allright, you convinced us :)

This is one of those areas where changing the name (regardless of what it is) isn't going to be enough (and thus, probably isn't the best solution).

What we've decided to go with instead:
- Make sure that in areas where a user might mistakenly take a peek'd message and settle it, we'll throw an error indicating that you need to use peekLock mode messa

[2020-05-20 21:55] JoshLove-msft commented on #12093
I do think we can slightly improve our [error message](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Resources.resx#L292) to instead say: "This operation is not supported for peeked messages. Only messages received in PeekLock mode can be settled."

[2020-05-20 22:05] amnguye commented on #11853
Hi,

I was able to reproduce your issue.

Looks like the only way to work around this is to call the regular Download method and use the copyTo Stream

[code]
--

Looks like we give it a range when attempting to staged download. The service does not seem to like this that much because it throws a 416, when providing a range on trying to download an empty blob. I will update this issue once more in

[2020-05-20 22:43] schaabs opened #12219 "Azure.Identity add support for windows integrated authentication."
Currently Azure.Services.AppAuthentication has support for authenticating Azure SQL clients through the [WindowsAuthenticationAccessTokenProvider](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/WindowsAuthenticationAccessTokenProvider.cs). Azure Identity needs to provide a similar credential to maintain featur

[2020-05-20 22:48] tlenig commented on #9607
In addition to Open read/write asks being tracked in this thread, please provide ability to allow us to pool smaller writes to a file into one buffer to be written at one time. In addition to supporting the stream itself, we also require additional functionality that provides a buffered pool implementation of these streams. This allows us to reuse the same buffer for multiple streams without needi

[2020-05-20 22:55] schaabs commented on #5121
I believe this might be an issue in AppAuthentication with user assigned identities rather than in the KeyVault library. @nonik0 are you aware of any known issues here?

@Bunzab @tauqirghani or @UmairSyed can you verify that you're user assigned identity has the desired access to the vault? If you have the Azure CLI on the VM you can authenticate with your user assigned identity with the command

[2020-05-20 22:59] schaabs commented on #11642
This fix for this has been merged in #11716 and will be released in 1.2.0-preview.4 in our June release. I'm closing this issue for now, please reopen if you are still having issues with this package once released.

[2020-05-20 22:59] #11642 closed

[2020-05-20 23:12] schaabs commented on #12016
@csadam Thanks for your question. Azure.Identity is a newer authentication library meant to simplify authentication in a new wave of Azure SDK libraries we are currently in the process of creating and releasing. A full list of libraries which support authenticating directly through Azure.Identity can be found [here](https://azure.github.io/azure-sdk/releases/latest/dotnet.html), although this list

[2020-05-20 23:12] #12016 closed

[2020-05-20 23:25] pakrym opened #12221 "Verify docs.microsoft.com docs for Azure.Core are generated successfully"
Recently we've added ability to inject snippets into XML doc comments we need to verify that the format is right, pipeline is able to handle it and result looks good.

[2020-05-21 00:19] scbedd commented on #12221
[Documentation](https://review.docs.microsoft.com/en-us/help/onboard/dotnet-requirements?branch=master#dlls-and-xml) seems to claim that it's supported.

Working through DLL/commentXML Sourced pipeline [here.](https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=140473&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=ce91d5d6-0c55-50f5-8ab9-6695c03ab102)

[2020-05-21 02:35] MegoCs commented on #12186
now I have even removed the metadata section and just used the uploadasync still got

[code]
 and this doesn't happen all the time it happens **occasionally** and logged to application insights .
some people mentioned that u need to check dependencies tracking in application insights config and I did. and found that the storage is already under the untracked hosts.

[code]

[2020-05-21 02:37] MegoCs commented on #12186
@pakrym @jsquire issue [12127](https://github.com/Azure/azure-sdk-for-net/issues/12127) still related !

[2020-05-21 02:39] #11779 closed

[2020-05-21 04:34] SeanFeldman commented on #12093
"Only received message can be settled." is poorly phrased. A message received in `ReceiveAndDelete` mode is also a received message, but cannot be settled. The suggestion to improve the error message is a good suggestion, @JoshLove-msft.

[2020-05-21 04:39] SeanFeldman commented on #11986
Wouldn't those be getters/get methods more than anything else? Custom plugins usually require broker information to act but not change what only the broker can assign. At least in my experience.

As for the proposal, somewhat awkward as it will be the limitation of `internal`s worked around by using a base class that has access to those members. But that would be a possibility, yes.

[2020-05-21 04:42] SeanFeldman commented on #12092
What does the PG say? Are there any immediate or near future plans to add/expand on the session receiver options?

[2020-05-21 04:49] JoshLove-msft commented on #11986
Yes we would only expose as settable the properties that should be settable by the user. Broker properties would not be settable.

[2020-05-21 04:52] JoshLove-msft commented on #12092
I'm unaware of any immediate or near future plans from the service, but this would protect us at very little cost. One piece of configuration that we may put there is the ability to configure the accept session timeout. As of Preview 2, this setting isn't exposed and we aren't planning on adding it for Preview 3. Having the options bag would give us a place to put it, and any other future options.

[2020-05-21 05:30] clouddna-au opened #12226 "MessageReceiver PeekAsync(maxMessages) - How to retrieve a lot of messages efficiently"
**Query/Question**
I have been trying to find a way to download all my messages from the deadletter queue, so they can be interrogated client side.
1. Make use of  PeekAsync providing a maxMessage count. This works ok but suddenly when the count of messages increased over for example 100 of so, it is not returning all the messages anymore. It is really fast to retrieve, sub seconds
[code]
2. Try a

[2020-05-21 06:36] axisc commented on #12010
@Sandeep321

@SeanFeldman  is right and that is a good solution. hope that answers your question.

Closing this issue for now, please feel free to reopen if required.

[2020-05-21 06:36] #12010 closed

[2020-05-21 09:11] isra-fel commented on #12203
Thanks for you feedback!
Hello Ravit could you give us some insights? Thank you!

[2020-05-21 09:20] radennis commented on #12203
Please try to use this code to create the database:
`var database = managementClient.Databases.CreateOrUpdate(resourceGroup, clusterName, databaseName, new ReadWriteDatabase(location, softDeletePeriod: softDeletePeriod, hotCachePeriod: hotCachePeriod)) as ReadWriteDatabase;`

see more information here: https://docs.microsoft.com/en-us/azure/data-explorer/create-cluster-database-csharp#create-the-d

[2020-05-21 11:58] subbartt opened #12234 "[QUERY] Option for sending public certificate while generating the AD token for easy certificates roll-over ..."
Hi Team,
We are currently using nuget microsoft.azure.keyvault\2.3.2 to interact with keyvault. As microsoft recommends to move to azure.security.keyvault.secrets\4.0.3 we are using the keyvault.secrets/4.0.3 . However we are finding feature gap in the following scenario which is preventing us to move to the azure.security.keyvault.secrets\4.0.3.

1) Using microsoft.azure.keyvault\2.3.2 as part of

[2020-05-21 14:11] jsquire commented on #11330
Fixed by #11360.     The PR is currently in an approved state and waiting for merge.

[2020-05-21 15:59] rtrainer opened #12237 "[QUERY] Blob Geo-Redundant Failover"
**Query/Question**
The previous version (v11) of the storage SDK had an OperationContext that allowed the developer to determine if the primary region had failed and switch read requests to the secondary region. How is this handled in the new SDK (v12)? I see the use of pipelines for things but I can't find anything that would allow me to detect a failover

**Environment:**
 - Name and version of

[2020-05-21 16:34] jsquire commented on #11986
Because Josh alluded to it earlier, in the larger context, I think we're looking at two different features with distinct responsibilities.  To sketch out my thoughts in a rough manner:

**Plugin**
- Would come in two flavors:  those interested in outgoing messages and those interested in incoming messages

- Would exist in an ordered set; for an operation, the first plugin in the sequence is given

[2020-05-21 17:18] mbialecka commented on #9404
Azure Blob Storage on IoT Edge is also affected by this. Clients should refer to storage by its container name and right now this is not working as expected.

[code]

container1.Uri is correct: `http://modulename:11002/myaccount/containername`
container2.Uri is **not** correct: `http://modulename:11002/containername`

If we use an IP address instead of “modulename” both URIs are formed correctly.

[2020-05-21 17:56] #11821 closed

[2020-05-21 18:10] SeanFeldman commented on #11986
@jsquire, looks good with a few points:

Plugins can also be interested in both. For example, the attachment plugin intercepts both, incoming and outgoing messages to achieve what it needs to accomplish. A plugin is a logical unit. Which can opt into registering for incoming and/or outgoing message pipelines.

Plugins in the incoming pipeline should be able to mutate the body and custom properties

[2020-05-21 18:25] heaths commented on #12234
Are you using the Azure.Identity package as well? There is a ClientCertificateCredential that allows you to pass a certificate for authentication. Does that solve your problem? Azure.Identity contains a lot of different credential types that should account for almost all scenarios from the older libraries (though, you do have to know your tenant ID up front).

/cc @schaabs

[2020-05-21 18:29] JoshLove-msft opened #12239 "Investigate adding more details to user agent string"
We should look into adding specific details to help learn more about customer usage patterns.
Processor vs. Receiver
sessions vs non-sessions
named sessions

Currently the User agent string is computed statically, so we would need to change this to attempt to compute it as needed when the connection is opened. Some limitations are that we would likely only be able to get configuration for the firs

[2020-05-21 18:40] AlexGhiondea commented on #11073
This has been addressed.

[2020-05-21 18:40] #11073 closed

[2020-05-21 19:29] jsquire commented on #11986
Fair enough; it wasn't my intent to limit them to one-or-the-other exclusively, just to highlight the separate cases.

Agreed, and apologies.  I overlooked `ServiceBusReceivedMessage` being fully immutable when making that statement.  As you and Josh have been discussing, we'll have to figure a direction that allows for things not explicitly broker-owned `System Properties` to be mutable for the p

[2020-05-21 20:06] SeanFeldman commented on #11986
Great, so we are aligned in general.

@JoshLove-msft had an [idea](https://github.com/Azure/azure-sdk-for-net/issues/11986#issuecomment-631649920) of exposing `ServiceBusReceivedMessage` immutable properties for mutation via plugin methods. That way `WritableServiceBusReceivedMessage` or any other publicly visible types for the workaround don't have to be created/exposed.

[code]

That could elimi

[2020-05-21 20:09] drwill-ms opened #12242 "Add doc comment examples for Azure.Core types to improve online documentation"
Azure.Core

Could we get doc comment examples for Azure.Core types, for instance how to use the ClientOptions properly?

e.g. for HttpPipelineTransport https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/ClientOptions.cs#L29, put in https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Configuration.md#user-provided-httpclient-instance

 Onli

[2020-05-21 20:11] JoshLove-msft commented on #11986
Would we still need to expose other properties as settable, such as MessageId, Label, etc. These are settable on the ServiceBusMessage. I was thinking we could even have something like:
[code]
Otherwise, we could just expose Set methods for each of the other properties.

[2020-05-21 20:25] rbedger opened #27979 "[Service Bus Trigger] Make configuration options work for batch functions"
when using the batch functionality of the ServiceBusTrigger, the function only executes one at a time.  we'd like to be able to pull multiple batches off of a service bus queue and process them concurrently.

disabling the batch mode for the ServiceBusTrigger causes the function to execute in parallel, but we'd like to operate on batches of messages simultaneously instead of individual messages si

[2020-05-21 20:30] jsquire commented on #11986
I'm not opposed to Josh's suggestion - it's a good option.   It feels a bit less natural to me than manipulating an object directly, but that may not be a bad thing, as it will make clear that you're about to modify an otherwise immutable instance.

I'm not a fan or the generalized `SetProperty` method for a couple of reasons:
-  You'd have to implement via reflection to do it directly, which woul

[2020-05-21 20:41] #12217 closed

[2020-05-21 21:14] SeanFeldman commented on #4544
@jfggdl please reopen the issue. Storage Queue subscriber still exhibits this problem where TTL is set to 7 days only.

[2020-05-21 21:18] SeanFeldman opened #12244 "[BUG] EventGridEvent data set to anonymous object is not serialized properly"
**Describe the bug**

When sending a message created using the following code:

[code]

The message arriving to the subscribers has empty data property (` data: {}`).

**Expected behavior**

 The message's data property should contain serialized data.

**Environment:**
 - Name and version of the Library package used: Microsoft.Azure.EventGrid 3.2.0

[2020-05-21 21:23] SeanFeldman commented on #10684
@ahamad-MS is there a service issue associated with this issue?
If not, would it be possible not to close it until the problem is addressed?

[2020-05-21 21:25] SeanFeldman commented on #10849
@ahamad-MS @jfggdl, could you please leave the customer reported issue opened until it's resolved or point to the service-specific public issue to subscribe to and track the progress? Thank you.

[2020-05-21 21:31] SeanFeldman commented on #4544
@ahamad-MS it's been a year since the issue was raised. Any updates?

[2020-05-21 21:52] maririos commented on #11913
Note that what the values represent is:

According to that, we are going to do the following renamings:
- `CreatedOn` -> `RequestedOn`
- `LastModified` -> `CompletedOn`

[2020-05-21 22:03] #11954 closed

[2020-05-21 22:06] SeanFeldman opened #12246 "[QUERY] EventGrid manage samples are outdates"
**Query/Question**

The [samples for EventGrid](https://github.com/Azure-Samples/event-grid-dotnet-publish-consume-events) are outdated, using Microsoft.Azure.Management.EventGrid version 2.0.0-preview (current version is 5.0.0).

Would it be possible to update the sample or point to the up-to-date documentation/samples?

[2020-05-21 22:42] SeanFeldman commented on #11986
Second that. And I'll add also this - Service Bus message properties are a small set and do not change that often, if at all. Avoiding reflection and having explicit methods would be my preference as well.

[2020-05-21 22:47] tg-msft commented on #12186
How are you authenticating?  Does your connection string use a shared key, AAD, or SAS?  We might need folks on the service side to weigh in here.

[2020-05-21 22:49] MegoCs commented on #12186
@tg-msft no I am not using SAS I am using the storage account connection directly

[2020-05-21 22:55] MegoCs commented on #12186
@tg-msft also I think this issue might be related to how azure application insights handles the requests to the storage. despite the storage host,

 is already under the ExcludeComponentCorrelationHttpHeadersOnDomains

[2020-05-21 23:02] maririos commented on #11956
https://github.com/Azure/autorest.csharp

[2020-05-21 23:03] maririos commented on #11956
`dotnet build /t:GenerateCode sdk\tables\Azure.Data.Tables\src`

[2020-05-21 23:07] christothes opened #12249 "Tables: Add more unit test coverage for TableClient.Bind"
# Summary
Add unit tests to exercise the filter expression locally without requiring a service call.

[2020-05-21 23:21] #12109 closed

[2020-05-22 00:27] #9686 closed

[2020-05-22 05:02] SeanFeldman opened #12252 "[QUERY] Microsoft.Azure.Management.EventGrid - no stable version package?"
**Query/Question**

All versions of the Microsoft.Azure.Management.EventGrid packages are published as previews.
That's an indication of a pre-released package. Is that so?

[2020-05-22 05:02] SeanFeldman commented on #12252
adding @jfggdl

[2020-05-22 05:06] SeanFeldman commented on #4432
@ahamad-MS, I've looked into the https://github.com/Azure-Samples/event-grid-dotnet-publish-consume-events and it appears to be outdated (both the client and the management packages). Is it no longer maintained?

Raised an issue about it, https://github.com/Azure/azure-sdk-for-net/issues/12246

[2020-05-22 07:08] subbartt commented on #12234
Hi heaths,
1) Yes , we are using ClientCertificateCredential while initializing secretclient

                        secretClient = new SecretClient(
                            new Uri(settings.KeyVaultUri),
                            new ClientCertificateCredential(
                                settings.AuthenticationSettings.TenantId,
                                settings.Authentication

[2020-05-22 07:23] xiaoyang-connyun commented on #11669
Thanks for the update.
Early July is acceptable to me.

[2020-05-22 07:24] eichbaum commented on #9294
I'm facing the same problem with Xamarin.iOS. Is there any solution for this issue on iOS?
Disabling linking is not an option for iOS, as the linker needs to remove unused deprecated stuff which otherwise blocks submitting the app to the App Store when using with Xamarin.Forms.

[2020-05-22 08:22] #11920 closed

[2020-05-22 08:28] MaStr11 commented on #12203
@radennis Thanks. It works like a charm. While it is documented how to do it right, I would suggest making the Database class abstract and/or improve the XmlDocs for `CreateOrUpdateAsync`.

https://github.com/Azure/azure-sdk-for-net/blob/f3ae7f10ee0d16364713cb1500c74e175cb25570/sdk/kusto/Microsoft.Azure.Management.Kusto/src/Generated/DatabasesOperationsExtensions.cs#L173-L175

[code]

[2020-05-22 10:14] aL3891 commented on #9607
We're also blocked by this :/
we're uploading backups that are compressed on the fly (Ionic.Zip.ZipFile.Save > blob stream)

[2020-05-22 12:25] rarpal commented on #8942
Using AppendBlock with a MemoryStream proved to be extremely slow when compared with the previous versions CloudBlobStream over a StreamWriter

[2020-05-22 13:12] profesor79 opened #12266 "[BUG] 'authority' should be in Uri format when running in Docker container"
**Describe the bug**
When running below snippet in 3.1 .net core SDK container:
               `  creds = await ApplicationTokenProvider.LoginSilentAsync(_domain, _clientId, _clientSecret, adSettings);`

When running on the host - no issues.
Container has access to network with no limits.

***Exception or Stack Trace***
"ClassName": "System.ArgumentException",
  "Message": "'authority' should be i

[2020-05-22 13:56] gjmoyer opened #12257 "[QUERY] Can you show a sample connecting to blob storage with RBAC and certificate?"
**Query/Question**
With Microsoft.Azure.EventHubs namespace, there is an EventHubClient.CreateWithTokenProvider method for instantiating the client with TokenProvider.  I am using this successfully in production to connect from on premises to Azure Event Hub with role based security.  Now I wish to do the same with storage, and to my surprise there is no BlobClient.CreateWithTokenProvider so that

[2020-05-22 14:17] jsquire commented on #12244
//fyi: @ellismg

[2020-05-22 14:46] jsquire commented on #12257
Hi @gjmoyer.  We're sorry that you're experiencing difficulties and appreciate you brining it to our attention.  If I understand correctly, you're using the legacy Event Hubs package (`Microsoft.Azure.EventHubs`) and the current Storage package (`Azure.Storage.Blobs`).   Because those packages are from different generations of the SDK, they use a different means of authentication.

The current ver

[2020-05-22 14:50] pakrym commented on #10592
Types are merged to a new Azure.Core.Experimental project.

[2020-05-22 15:49] pakrym commented on #12211
Not only live, recorded runs fail as well:
![image](https://user-images.githubusercontent.com/1697911/82685435-0de56e80-9c09-11ea-96e2-49e140d6f672.png)

[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=400667&view=ms.vss-test-web.build-test-results-tab&runId=11100994&resultId=104307&paneView=debug

This needs to be fixed ASAP.

[2020-05-22 16:09] zmarty commented on #9758
We are also still getting this periodically in the logs.

@amnguye I looked in our logs when this happens and I see that we call CreateIfNotExistsAsync, which results in the null exception.

Internally what happens is that there is an HTTP PUT request to https://SOMETHING.blob.core.windows.net/some-name-2020-05-22?restype=container and the storage API returns **HTTP 409 Conflict** Hopefully that g

[2020-05-22 22:17] Kees8 opened #12260 "[QUERY] MFA Exception when accessing AzureKeyVault"
**Query/Question**
I’m using Microsoft.Azure.KeyVault to get secrets in a LOB native application. A security group has been given permission to access secrets, and the application has not had a problem getting secrets until recently. Since this is a native application, this ensures only members of our relatively small team can access secrets, and there is no sensitive information in source.

A sub

[2020-05-22 23:36] dil-bpecor commented on #4370
Any update seeing the same issue with  /p:PrecompileBeforePublish=true

Error:
##[error]ASPNETCOMPILER(0,0): Error ASPRUNTIME: Type 'Azure.Identity.CredentialUnavailableException' in assembly 'Azure.Identity, Version=1.1.1.0, Culture=neutral, PublicKeyToken=XXX' is not marked as serializable.

Build parameters:
 msbuildArgs: '/p:SolutionDir="$(System.DefaultWorkingDirectory)" /p:DeployOnBuild=true

[2020-05-23 02:41] nonik0 commented on #5121
@Bunzab Sorry for the delay. Have you created an access policy on that key vault for the user-assigned managed identity? If I remember correctly, you need to specifically create an access policy because just the role assignment doesn't give the needed access for the secret.

If that fails, can you take a look at the token you are getting from AppAuth (crack it open with jwt.io) and see if the toke

[2020-05-23 02:41] rightincode commented on #8658
I was experiencing the same issues. Moved to Azure.Identity 1.2.0-preview.3 and everything works fine debugging from Visual Studio with multiple accounts and an account selected in Azure Service Authentication

[2020-05-23 06:34] ahamad-MS commented on #12244
Thanks @SeanFeldman  for reporting this issue. I am working on investigating/repro'ing the issue. We added this issue as a backlog item for current semester for proper prioritization and handling.

thanks

[2020-05-23 07:12] ahamad-MS commented on #10684
@SeanFeldman  sure. issue reopened.

[2020-05-23 08:00] #3940 closed

[2020-05-23 11:50] vscodewinodws commented on #7556
can you provide the example for it https://docs.microsoft.com/en-us/dotnet/azure/sdk/logging using this page info with below code as shown in docs  with createconsolelogger does not print anything

   using AzureEventSourceListener listener = AzureEventSourceListener.CreateConsoleLogger();

as well as i wan to know where it should be placed , i am facing issue with sdk and not able to get any exce

[2020-05-24 02:31] brobinson88 commented on #5004
I've found the same problem setting the value to None in the python SDK. I've tried StoredProcedureParammeter(None, 'String') and it doesn't set the treat as null checkbox. Is there an update on this issue??

[2020-05-24 10:51] radennis commented on #12203
@docohe to consider this change to make customer's lives easier.

[2020-05-25 02:04] yungezz commented on #12266
This is an issue in Track1 runtime auth lib. transfer it here.

[2020-05-25 04:55] lmy269 commented on #5004
@shawnxzq , can you take a look?

[2020-05-25 05:39] isra-fel commented on #12246
Hi Javier would you consider the request? Thanks

[2020-05-25 10:02] isra-fel opened #12274 "[BUG] No reference document published for Microsoft.Azure.Management.SqlVirtualMachine"
**Describe the bug**
`Microsoft.Azure.Management.SqlVirtualMachine` [has GAed](https://www.nuget.org/packages/Microsoft.Azure.Management.SqlVirtualMachine/) for months but the reference doc hasn't been published.
Please follow the instruction here to publish it: https://github.com/Azure/adx-documentation-pr/blob/master/engineering/adx_netsdk_process.md#documentation

Thank you

[2020-05-25 10:04] isra-fel commented on #11920
Thanks for pointing that out Vinicio! I've opened #12274 to our SQL VM team about the missing doc. You can track the progress there if interested. 😁

[2020-05-25 23:19] #11220 closed

[2020-05-25 23:40] #11564 closed

[2020-05-26 07:30] vscodewinodws opened #12283 "write azure sdk logs to console , events log or any other way to get sdk logs"
**Query/Question**
i want to log everything sdk is doing behind the method call.

i know this functionality exist, it has pr and issue as well and it has documentation for it

https://github.com/Azure/azure-sdk-for-net/issues/7556

https://docs.microsoft.com/en-us/dotnet/azure/sdk/logging

but using console or event logs i tried but sdk is not showing me any log in console or events (one  more que

[2020-05-26 08:00] #4269 closed

[2020-05-26 08:00] #7802 closed

[2020-05-26 08:00] #3843 closed

[2020-05-26 08:00] #3613 closed

[2020-05-26 08:00] #2194 closed

[2020-05-26 10:46] cpunella commented on #11619
Hi all, we have the same issue, but in our case we cannot use the RootManageSharedAccessKey for security purpose! What we can do?

It seems a breaking changes between old client (.net full) and the new one. We are getting this error after the upgrading.

@anqyan can I send you the TrackingID to verify that also on you side you see the same error of this topic?

Thanks

[2020-05-26 10:50] cpunella commented on #8884
Hi, We are experiencing the same error if we use a SAS token generated instead of the RootManageSharedAccessKey one. Do you have any update on this?

Seems like a breaking changes between the old client (.net full) and new one. We are getting this error after the migration.

Thanks,
Carmine

[2020-05-26 12:19] asrosent opened #12286 "[BUG]EventProcessorClient Reads the same partition from 2 active nodes. (double processing)"
**Describe the bug**
my team got a notification that we have duplicate output events from our production pipeline.
upon researching we discovered that some of our EventHub partitions were opened simultaneously on 2 different nodes processing events from this partitions twice.

We solved the issue by restarting nodes.

**Expected behavior**
Once a EventProcessorClient is opening a partition on a ce

[2020-05-26 14:00] jsquire commented on #12283
Hi @vscodewinodws.  We're sorry that you're encountering difficulties and appreciate you reaching out to let us know.  Unfortunately, without more information, there's not much help that we can offer.

The Azure SDK libraries use the Event Tracing for Windows (ETW) framework for logging, which is intended to be used with a trace listener to collect the logs and act on them.   For example, a tool s

[2020-05-26 14:11] TomMalow commented on #8658
I am experiencing authentication issues with multiple accounts even when using 1.2.0-preview.3
`{"error":{"code":"Unauthorized","message":"AKV10032: Invalid issuer. Expected one of https://sts.windows.net/<TenantId1>/, https://sts.windows.net/<TenantId2>/, https://sts.windows.net/<TenantId3>/, found https://sts.windows.net/<TenantId4>/."}}
`

I have two different accounts added to Visual Studio, b

[2020-05-26 14:18] pakrym commented on #12283
We also have information at https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Diagnostics.md but I'm not sure if it would add to what you already know.

You have to put
`using AzureEventSourceListener listener = AzureEventSourceListener.CreateConsoleLogger();` before making client calls and not dispose the listener during the entire application lifetime, `Program.M

[2020-05-26 14:35] jsquire commented on #12286
Hi @asrosent. We're sorry that you're encountering difficulties and appreciate you reaching out to let us know.  In order to help, I'd like to start by trying to better understand a bit more context on your scenario:

- How many processor instances are in use, and how many partitions are present for the Event Hub?

- Can you confirm that all of the processors that you're observing are configured t

[2020-05-26 14:39] Rapol opened #12287 "[BUG] Error when CORS is set with multiple methods in the storage account"
This is a duplicate of https://github.com/Azure/azure-storage-net/issues/916. Decided to open a new issue since that repo was abandoned

**Describe the bug**

The storage sdk cannot handle a CORS policy with a rule that has multiple methods. To make this work we would need to create one rule for each method that we want CORS to be enabled

**Expected behavior**
SDK should allow a CORS policy with

[2020-05-26 16:12] vscodewinodws commented on #12283
i tried but not working can you provide small app ?

[2020-05-26 16:21] iscai-msft commented on #11785
Rename `models` property of `CustomFormModels` to `submodels`

[2020-05-26 16:37] anqyan commented on #11619
Hi, @cpunella yes please send me related client side logs to anqyan@microsoft.com thanks.

[2020-05-26 17:00] pakrym commented on #12283
[code]

[2020-05-26 17:13] jay1891 opened #12289 "[BUG] Azure Service Bus not accepting messages for +-5 seconds and this every 5 minutes"
**Describe the bug**
Exact every 5 minutes Service bus topics are not accepting our messages, at 1 of our service bus namespaces and this for 5 seconds. We can stop our servers and applications, and start them again, but the 5 minute interval remains at the same time. Which is an indication for us that the service bus server is blocking at a fixed interval. We see the messages being passed to the

[2020-05-26 17:19] heaths commented on #10592
What's the expected timeframe for types to move from Core.Experimental to Core? Search is nearing GA, so before then?

[2020-05-26 17:21] pakrym commented on #10592
Yes, but we should validate if it fits all search/cosmos scenarios first.

[2020-05-26 17:42] schaabs commented on #12234
@subbartt thanks for the feedback. We do plan on supporting Subject Name / Issuer certificate authentication for service principals (which is what the `WithSendX5C` method is enabling in MSAL). We currently have an issue on our backlog to add support for this, https://github.com/Azure/azure-sdk-for-net/issues/11447. While this didn't make it into the previews we're currently flighting, we'll most

[2020-05-26 17:42] #12234 closed

[2020-05-26 17:46] #11913 closed

[2020-05-26 17:49] amishra-dev commented on #12189
Hi @ProjectWest, are you still able to reproduce this problem? If yes, can you send me the "RequestId" from one of the later attempts, the logs pointed to by you have rolled over in the service.

[2020-05-26 17:52] mariojsnunes opened #12290 "[QUERY] How to authenticate to management.azure.com with DefaultAzureCredential()"
**Query/Question**
What's the best way to authenticate to the azure management api? I'm trying to add custom domains via code.

Before it worked well with
[code]

But now, I'm migrating to the new API and I'm getting "The access token is invalid." error message.

[code]

Also tried with the tenantId instead of .default, but it returns
 Unable to get access token.  'AADSTS500011: The resource princ

[2020-05-26 21:09] heaths commented on #12211
When this is fixed, delete the file added by https://github.com/Azure/azure-sdk-for-net/pull/12291 (assuming no other changes).

[2020-05-26 21:27] amnguye commented on #10539
Hi,

I was able to reproduce your issue. Looks like we were not able to parse the string properly. We will look to get in a fix soon.

----

Error Stack Trace
[code]

[2020-05-26 22:24] heaths commented on #11435
@bleroy, @arv100kri do you have any timeframe for defining this type in swagger?

[2020-05-26 22:33] JoshLove-msft commented on #11817
Here is the proposed Track 2 API. It is very similar to Track 1, with the main differences being renaming and supporting the Track 2 Azure.Identity TokenCredential.

Notable renames:
(Queue|Topic|Subscription|Rule|Namespace)Description ->(Queue|Topic|Subscription|Rule|Namespace)Properties

(Queue|Topic|Subscription)RuntimeInfo->(Queue|Topic|Subscription)Metrics

[code]

[2020-05-26 22:50] alex-frankel commented on #3970
@markcowl - we took a look at this issue. Is there something that is broken because of this or is it more of a style problem? We are thinking about closing it as it would mean a swagger change and could potentially be a breaking change.

cc @filizt

[2020-05-26 23:34] nemakam commented on #8884
@cpunella , could you share the exact error you are facing?

[2020-05-26 23:41] nemakam commented on #8884
@anqyan , this exception looks similar to the other issue. Could you please take a look?

[code]

[2020-05-26 23:59] nemakam commented on #9900
@CaroleneP ,
are you particular on using .net core? Or does full .net framework work for you? `Microsoft.ServiceBus.Messaging.dll` is the only library which supports HTTPs and newer libraries will not support it going forward.

[2020-05-27 00:02] nemakam commented on #12226
@clouddna-au
Could you explain your scenario?
1. RegisterMessageHandler keeps getting messages from the queue. If you know how many messages you are expecting from the queue, you can cancel the handler after processing them. There is no "end" for a queue as new messages can be added anytime. The common way of how this is tackled is using time-gap. If you didn't receive any message for say 1 minute

[2020-05-27 00:03] anqyan commented on #8884
@nemakam Yes will take a look.
@cpunella Hi is this the same issue you mentioned in https://github.com/Azure/azure-sdk-for-net/issues/11619 ? If so, let's track it here. Please feel free to send related logs to anqyan@microsoft.com Thanks.

[2020-05-27 00:04] nemakam commented on #12226
If you want to use PeekAsync(100), the "100" here is "maxCount".. i.e., upto 100 msgs can be received. If you did not receive 100 msgs, it is expected that you call PeekAsync() again with the remaining count. i.e., lets say after the first call you retrieved 65 msgs, you will end up calling PeekAsync(35) again till you retrieve all the 100 msgs.

[2020-05-27 00:05] nemakam commented on #12226
I'm going to close this. Let me know if your question is not answered.

[2020-05-27 00:05] #12226 closed

[2020-05-27 00:19] amnguye commented on #12237
Hi,

Just to clarify, what you're looking for is a way to look at the logging requests? You can enable some logging by creating a source listener

https://docs.microsoft.com/en-us/dotnet/azure/sdk/logging

Please let me know if I missed the mark on your query.

[2020-05-27 00:33] heaths opened #12303 "Find a way to avoid merging some Search models"
While the purpose of https://github.com/Azure/azure-sdk-for-net/pull/12302 was to get the public APIs set, we should find a way to implement #12150 to instead not merge types using the generator, which does not support this feature and has no plans to. The public API cannot change, but the implementation may.

At first thought, wrapping types and taking over serialization like I do for `KeywordTok

[2020-05-27 01:29] rtrainer commented on #12237
I am looking for something like this article that shows how to determine when there is a failure of the primary and how to switch to the secondary region.

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-create-geo-redundant-storage?tabs=dotnet#understand-the-sample-code

[2020-05-27 04:06] SeanFeldman commented on #11817
A few items:

1. The one potential change I'd look into is removing `MessageCountDetails` from `TopicMetrics`.
A topic should be a _send-only_ entity and conceptually should route messages to the subscriptions. Unfortunately, both tracks 1 and 2 have leaked broker internal implementation details and exposed `TopicRuntimeInfo.MessageCountDetails`.

1. It would be nice to have helper methods such as

[2020-05-27 04:08] SeanFeldman commented on #12093
@JoshLove-msft should the title of the issue reflect the decision made in the thread?

[2020-05-27 04:58] maririos commented on #11682
This was already the case in .NET https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/FormPageRange.cs so closing issue

[2020-05-27 04:58] #11682 closed

[2020-05-27 05:09] seanmcc-msft opened #12312 "[Storage] Figure out what to do with long-running tests"
Long running unit tests timeout in Pipelines, and take too long to run every time locally.  We should find a solution for managing these tests.

[2020-05-27 07:05] mzrks opened #12315 "[Storage] How to get all directories in the container in the latest v12 .NET SDK?"
How to get all directories in the container in the latest v12 storage SDK?

I have the following structure in my blob storage:
- container1
    - directory1
          - file1
    - directory2
          - file1
          - file2
- container2

I`m interested to get all directories(without files) that exist in the container1. If something were found I would like to process this directory deeper. How

[2020-05-27 10:02] chrisalexander commented on #10011
Thanks all!

[2020-05-27 10:48] vscodewinodws commented on #12283
your example is perfectly working and showing the expected output , but in my case i am doing various vm operations ( nuget are already updated and have latest libs) but when i put the same code it does not shows the log info , i am doing various operations e.g start  , restart , stop , deallocate etc .

so any guess what is wrong here , even i tried to place the code inside the restart (restart a

[2020-05-27 11:10] vlardn commented on #7754
Again the same issue when upgrading from VS 2019 16.5.5 to 16.6.0 :(
And again I need to manually fix the new extension folder name in tokenprovider.json.
Microsoft guys! When you will fix this annoying issue occurring every second VS update??

[2020-05-27 13:15] jsquire commented on #12283
Hi @vscodewinodws.   There's not much that we're able to tell you about what may be wrong in your code without seeing your code.  If you'd like to put together a short snippet that you can share as part of this discussion, that would help us to better understand what issues you may be running into.

[2020-05-27 13:23] #11660 closed

[2020-05-27 13:23] vscodewinodws commented on #12283
yes sure will share example soon

[2020-05-27 14:26] kinelski opened #12319 "[Pending service change] [FormRecognizer] Tests: enable ignored tests once service-side issues are fixed"
Service-side issues are preventing us from enabling some of the Form Recognizer tests. This work item keeps track of those so we can re-enable them once the corresponding issues are fixed.

**Service issues:**
**1.** Service returns "Unsupported media type" error when multipage form is sent via GitHub URI.
**2. (SOLVED)** Custom form recognition without labels does not return information about bla

[2020-05-27 14:51] vscodewinodws commented on #12283
please find my below code that does not logs to console

using System;
using Azure.Core.Diagnostics;
using System.Diagnostics.Tracing;
using Azure.Storage.Blobs;
using Microsoft.Azure.Management.ResourceManager.Fluent;
using Microsoft.Azure.Management.ResourceManager.Fluent.Authentication;
using Microsoft.Azure.Management.ResourceManager.Fluent.Core;
using System.Diagnostics.CodeAnalysis;
using Mi

[2020-05-27 14:58] Sandido commented on #10263
I investigated this, and determined that the issue is not with the SDK, and is instead an issue with the CRP itself. Sridhar Varma came forward as the API owner and would take this issue up going forward.

[2020-05-27 15:14] kinelski opened #12321 "[FormRecognizer] Update Integer properties in generated code if default changes to Int64"
## Summary

Blocked by: Azure/autorest.csharp#744

Currently there's an open discussion about defaulting swagger `Integer` types to `long` in generated code (linked above).

## Required changes

In case `int` types are maintained as default, no action is required.

In case the default changes to `long`, changes will be needed in the Form Recognizer SDK in order to [keep them as int](https://github

[2020-05-27 15:18] kinelski commented on #12021
Getting this closed by #12320 since it's not blocked by the CodeGen discussion. I have opened a new issue to keep track of that (#12321) and added it to our backlog.

[2020-05-27 15:37] eics-ips opened #12322 "[BUG] NullReferenceException from StartRecognizeCustomForms"
**Describe the bug**
Running a console app based on sample code. Getting a stack dump on some PDF files, but not on others. Error occurs when calling StartRecognizeCustomForms. I've attached a cutdown project and two PDFs. One that works (good.pdf) and one that doesn't (bad.pdf).

**Expected behavior**
Expect to return forms and fields. Does on some PDF forms, but not others

**Actual behavior (in

[2020-05-27 15:45] #11598 closed

[2020-05-27 15:45] #11608 closed

[2020-05-27 15:45] #12081 closed

[2020-05-27 15:48] #11867 closed

[2020-05-27 16:24] maririos commented on #11834
You mean against the latest swagger?

[2020-05-27 17:01] #11686 closed

[2020-05-27 17:01] #11785 closed

[2020-05-27 17:01] #12185 closed

[2020-05-27 17:16] #12150 closed

[2020-05-27 17:18] ramoka178 commented on #10518
Fixes are published by using autorest v2 now.
New SDK at https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager/3.7.2-preview

[2020-05-27 18:42] #12021 closed

[2020-05-27 18:52] kinelski opened #12325 "[Documentation] Form Recognizer: Include known bugs in release notes"
Make sure to include information about known bugs in our release notes prior to the preview 3 release. Up to now, only unsolved issues pointed by #12319 need to be mentioned.

This issue must be updated as needed so no known bugs are left out.

[2020-05-27 19:35] ndrwrbgs opened #12327 "[BUG] Outdated net452 imports"
**Describe the bug**
https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure.Authentication/2.4.0
.NETFramework 4.5.2
Microsoft.IdentityModel.Clients.ActiveDirectory (= 2.28.3)

.NETFramework 4.6.1
Microsoft.IdentityModel.Clients.ActiveDirectory (>= 4.3.0 && < 6.0.0)

**Expected behavior**
This looks _very_ fishy. On 452 we rquire EXACTLY version 2.28.3, but on 461 we don't even ALLOW ve

[2020-05-27 19:59] jsquire commented on #12283
Hi @vscodewinodws.   Thank you for sharing the snippet.  I think that clarifies the scenario and the disconnect.  You're using the management libraries, which are not yet conformant to the new Azure SDK guidelines and approach.  As a result, the diagnostics and logging that Pavel and I have been discussing would not work with them.  Apologies for the confusion.

Unfortunately, there isn't much ins

[2020-05-27 21:37] #11865 closed

[2020-05-27 22:12] amnguye commented on #12287
Hi,

Could you provide an example how you are trying to set multiple CORS policies from the SDK? I can acknowledge that the Windows Function App you are using is using an older version of our SDK (v11 or below), however I would like to better help you by understanding your needs. If you can provide a reproducable code snippet of what you are trying to achieve and what you are expecting that would

[2020-05-27 22:24] Rapol commented on #12287
The function app is set up with a blob trigger to a storage account. We enable CORS in that storage account for other reasons unrelated to the function app. Once we enabled CORS, the function app stopped working out of nowhere. After looking in the Kudu logs, we found the problem to be the underlying function host failing to connect the storage account because the SDK doesnt expect a CORS headers

[2020-05-27 22:59] amnguye commented on #12315
Hello,

Thanks for your question!

Was there a convenience method(s) or class(es) you were referring to from the v11 library that you were looking for in the v12 library? If so what is the name of the convenience method(s) or class(es)?

To only list the directories in a blob container here's a snippet of code I think that you could take some inspiration from.

The REST API does not allow us an op

[2020-05-27 23:09] amnguye commented on #12287
Hi,

Hm. Looks like this got slightly mislabeled, since this is specific to the Storage Management SDK. Let me relabel this and see if someone from that team can better help you. The Storage Client library does not manage the CORS policies.

[2020-05-27 23:11] scbedd commented on #12221
Reached out to Tianqi last night about the [generated bits](https://github.com/dotnet/dotnet-api-docs/tree/scbedd/core-test/xml) I'm seeing.

Another user is seeing the methodology [successfully work](https://review.docs.microsoft.com/en-us/dotnet/api/azure.digitaltwins.core.digitaltwinsclient.queryasync?view=digitaltwin-preview&branch=smoke-test), but there is an additional issue that crops up fr

[2020-05-27 23:32] heaths commented on #11435
Blocked on the service team, so punting to preview 5 since this is only additive.

[2020-05-28 00:07] heaths commented on #12211
/cc @allenjzhang

This is also failing recorded tests, which prevents the generator from being able to successfully test and merge changes into our repo.

[2020-05-28 00:08] amnguye commented on #12237
Hi,

Ah I see, sorry for the earlier miscommunication.

You can find the Blob Geo Redundant Replication Status in the 'BlobServiceStatistics.BlobGeoReplicationStatus' after you calling GetStatistics on a ServiceClient.

[code]

Sorry if any of this is unclear. Please try something like this out and let me know if there's any other information you may need.

[2020-05-28 00:21] heaths opened #12332 "Azure.Management.KeyVault.KeyVaultManagementClientOptions does not follow guidelines"
ClientOptions classes should have a `ServiceVersion`, according to https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-versioning. This appears to be some of the reason that tests are failing, as noted in #12211

/cc @allenjzhang @pakrym @MiYanni @KrzysztofCwalina

[2020-05-28 00:31] amnguye commented on #12095
Hi,

Sorry for the delay. What are the regions you are sending the request to and from?

Looks like this is not a service bug.

And from what you said about the network delay

The SDK and storage service cannot perform consistently with network delays between ip addresses, so this might be as expected with the re-tranmission between ip addresses.

[2020-05-28 01:16] vnguyenau commented on #12095
I am sending request from AU to SG,CA,US,BR. They all have same issue. The Azure networking and Blob Storage team said it is an expected behaviour and advise to use private endpoint.
Thanks for your help. I think we an close the ticket here :)

[2020-05-28 01:29] rtrainer commented on #12237
The model changed from using events and this call would be done before each upload or in the case of a retry after an exception is thrown.

[2020-05-28 01:44] ranishan commented on #12274
Created item to publish reference docs
 https://ceapex.visualstudio.com/Onboarding/_workitems/edit/227529

[2020-05-28 02:12] isra-fel commented on #10518
Closing as fixed. Thank you @ramoka178 😁

[2020-05-28 02:12] #10518 closed

[2020-05-28 02:26] wantedfast commented on #11330
Close this issue since PR merged

[2020-05-28 02:26] #11330 closed

[2020-05-28 03:42] #12095 closed

[2020-05-28 03:52] amnguye commented on #12237
Hi,

I was wondering what the question is here.

Did you want more help on your scenario on how to detect failover?

[2020-05-28 04:24] JoshLove-msft opened #12337 "BinaryData - Consider wrapping MemoryStream in private stream implementation"
https://github.com/Azure/azure-sdk-for-net/pull/12333#discussion_r431531046

[2020-05-28 05:33] erich-wang commented on #12252
un-assign myself as it is question to service team

[2020-05-28 06:08] jackj93 opened #12339 "[QUERY] Decoupling Authentication / Clients"
**Query/Question**
Hi guys, I'm trying to use the new `SecretClient` instead of the older `KeyVaultClient` but found out my use case is not yet supported.
To authenticate against KeyVault I used to pass in an access token into the constructor using the older [TokenCredential](https://docs.microsoft.com/en-us/dotnet/api/microsoft.rest.tokencredentials.-ctor?view=azure-dotnet#Microsoft_Rest_TokenCre

[2020-05-28 06:10] erich-wang commented on #12332
@heaths , having no ServiceVesrion is known issue for mgmt plane as the different entity clients may use different API versions within same RP, current workaround is to disable the warning AZC0008 in project, we plan to address it after public preview.

I doubt it has something to do with #12211, will discuss detail in #12211.

[2020-05-28 07:30] erich-wang commented on #12211
I'm investigating the issue. It is weird that the log shows record with api-version 2019-10-01 but I could not any record with api-version `2019-10-01` in record files.
[code]

[2020-05-28 08:00] #11852 closed

[2020-05-28 11:37] rtrainer commented on #12237
Is what I stated correct?

[2020-05-28 11:49] aL3891 opened #12343 "[QUERY] Create ipv6 public ip adress"
I'm trying to create a public ipv6 ip address but i can't find a way to specify the ip version, this is what i have

            var publicIPAddress = azure.PublicIPAddresses
                .Define(basename + "ip")
                .WithRegion(region)
                .WithExistingResourceGroup(resourceGroupName)
                .WithSku(PublicIPSkuType.Standard).WithLeafDomainLabel("test").

[2020-05-28 13:23] FaizulHussain commented on #7003
I am also getting the same error, environment is mvc 5, asp.net with .net fx 4.8, and Microsoft.Azure.Services.AppAuthentication ver 1.5.0

[2020-05-28 13:47] ProjectWest commented on #12189
@amishra-dev  - this issue seems to be resolved - Staging blocks no longer results in an error

[2020-05-28 17:01] amnguye commented on #9758
Hi @pakrym @tg-msft ,

Could you help me out with this? Some customers are seeing an NullReferenceException being thrown in Azure.Core. This happens more frequently for the customers. I am not able to reproduce it even with multiple retries to see if it happens intermittently.

I confirmed with the customer was able to confirm that the service gives them a 409 - ContainerAlreadyExists response. Ho

[2020-05-28 17:52] tg-msft commented on #9758
A quick skim here makes me think it's happening because [CreateIfNotExists returns null for ContainerAlreadyExists](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs#L857) and then [`Response<T>`'s implicit cast to `T` fails to unwrap a null response](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Respo

[2020-05-28 18:55] scbedd commented on #12221
Had a chat with Robert this morning. comment XMLs are **absolutely supported. Currently attempting to get access to docs that list out the recipe for what SHOULD be happening.

[2020-05-28 18:58] JoshLove-msft commented on #12093
Yeah I will close this issue out and address the error message in a different PR that I have going.
Updated -
https://github.com/Azure/azure-sdk-for-net/pull/12276/commits/0b190ea92433175d3a895a7b83be8059c51a2b2c

[2020-05-28 18:58] #12093 closed

[2020-05-28 20:08] seanmcc-msft commented on #12315
@amnguye , you might be able to filter directories by using deliminator="/" in the `container.GetBlobsAsync()` call.  To get the next level, we could use both prefix and delimitor.

[2020-05-28 20:51] jeremymeng commented on #12079
Per discussion in internal Teams channel we will make `useTrainingLabels` parameter required for preview.3

[2020-05-28 21:04] maririos commented on #12079
Thanks for the update Jeremy!

[2020-05-28 21:42] kinelski commented on #11930
Conclusion after discussing with other languages: the `TrainingFileFilter` name will be kept, but the `filter` parameter in `StartTraining` will be renamed to `trainingFileFilter`.

[2020-05-28 21:53] amnguye commented on #12315
Thanks @seanmcc-msft ! I just updated the sample I posted yesterday to use a delimiter, and also to recursively keep looking for subdirectories as needed.

[2020-05-28 23:03] heaths commented on #11712
Output of the following:
[code]

...yields the following results:

ReflectedType | Name
--- | ---
Azure.Search.Documents.Models.SearchResult`1[T] | Highlights
Azure.Search.Documents.Models.SearchResults`1[T] | Facets
Azure.Search.Documents.Models.SuggestResults`1[T] | Results
Azure.Search.Documents.Indexes.Models.AnalyzeRequest | CharFilters
Azure.Search.Documents.Indexes.Models.AnalyzeRequest | T

[2020-05-28 23:33] heaths opened #12350 "Rename SearchIndexerDataSource to SearchIndexerDataSourceConnection"
Missed this for #12217 and needs to be done now.

Also rename `SearchIndexerClient` methods from "DataSource" to "DataSourceConnection".

[2020-05-29 02:42] erich-wang commented on #12208
@jsquire , thanks for reporting the issue. Is there any general guideline for the service name used in namespace? For example, Event Hubs is brand/service name while Microsoft.EventHub is the resource provider name, does it mean service name is preferred in namespace?

[2020-05-29 08:00] #7468 closed

[2020-05-29 09:15] maciej-sielski commented on #6172
I have the same error as @drakeforte5. Cleaning Visual Studio cache does not change anything.

[2020-05-29 13:00] jsquire commented on #12208
I would, personally, think that it should align with the name of the product/service and associated data plane libraries.   I know, in this case, that is the preference of the Event Hubs service team as well.   @AlexGhiondea and @KrzysztofCwalina would be the authoritative voices for generalized guidance.

[2020-05-29 16:23] maririos commented on #11525
Release notes PR https://github.com/Azure/azure-sdk/pull/1370

[2020-05-29 17:21] #11930 closed

[2020-05-29 18:28] #11525 closed

[2020-05-29 18:28] maririos commented on #10897
Package released: https://www.nuget.org/packages/Azure.AI.TextAnalytics

[2020-05-29 18:28] #10897 closed

[2020-05-29 19:00] amnguye commented on #9758
@tg-msft Just tried that out, yeah I was able to get the NullReferenceException, I'm not sure what would we would replace default with though. I'm open to suggestions.

[code]

[2020-05-29 19:27] #11955 closed

[2020-05-29 20:33] #10614 closed

[2020-05-29 20:34] tg-msft commented on #6896
We've not seen any problems here - closing the issue.

[2020-05-29 20:34] #6896 closed

[2020-05-29 20:34] #6283 closed

[2020-05-29 20:35] #6735 closed

[2020-05-29 20:35] #8459 closed

[2020-05-29 20:38] #10605 closed

[2020-05-29 20:38] tg-msft commented on #10605
(This work will be progressing from the Azure.Core side)

[2020-05-29 20:51] AlexGhiondea opened #12372 "Release Azure Cognitive Search 11.1-preview1"
### Features
- [ ] FieldBuilder
- [ ] Spatial types

#### Skillsets

- [ ] Add constructor overloads/initializers/builders to better identify required and optional input and output fields in addition to the model types and their parameters (inputs and outputs).
- [ ] Discuss builders for common skillsets if we can identify them (e.g. automatically generate and hook up output fields of one skill as

[2020-05-29 21:28] #12350 closed

[2020-05-29 22:16] heaths opened #12374 "Implement/generate IndexingParameters model changes"
This is primarily a tracking issue for Azure/azure-rest-api-specs#9644.

Putting this in preview 5 for now, but may move out depending on timelines.

/cc @AlexGhiondea

[2020-05-29 22:43] scbedd commented on #12221
[Generates Successfully](https://review.docs.microsoft.com/en-us/dotnet/api/azure.asyncpageable-1?branch=scbedd%2Fcore-test)

Barring the [issue](https://ceapex.visualstudio.com/Engineering/_workitems/edit/227459). Robert doesn't think the value within the <code> declaration should actually affect this.

[2020-05-29 22:43] scbedd commented on #12221
Closing this item. We have an example + an issue filed for follow-up.

[2020-05-30 16:50] mpderbec commented on #8934
FWIW this is still not fixed in Python azure-identity PyPI package v1.3.1

[2020-05-31 18:59] #11809 closed

[2020-05-31 19:00] #9881 closed

[2020-05-31 19:04] JoshLove-msft commented on #11817
1. We've confirmed with the PG that this is okay to remove.
2. The concern with the CreateIfNotExists methods is that the creation calls are expensive so the PG would rather encourage using the Exists pattern, even with the inherent race condition.
3. Yes, this can be removed.
4. This should use the extensible enums pattern - https://azure.github.io/azure-sdk/dotnet_implementation.html#dotnet-enum

[2020-05-31 19:07] JoshLove-msft commented on #12092
There is the potential for there to be upcoming options that may apply only to non-session use case.

[2020-05-31 19:15] JoshLove-msft opened #12384 "Release Service Bus Track 2 Library Preview 4 for .NET"
This is a parent issue tracking the work planned for Service Bus to release the fourth preview in July following the C# .Net Azure SDK guidelines

Code complete date: July 3rd, 2020

🏃 Design and implementation for supporting various AMQP data types for message body
- [x] Settle on serialization plan
- [x] Add batch scheduling
- [x] Implement plugin support
- [x] Finalize API changes
- [ ] Stress

[2020-05-31 19:18] JoshLove-msft commented on #9886
Closing this out as we have https://github.com/Azure/azure-sdk-for-net/issues/10241 regarding exposing State property.

[2020-05-31 19:18] #9886 closed

[2020-05-31 19:24] JoshLove-msft commented on #10073
The model in Track 1 and currently in Track 2 is that if the user callback throws, we will raise the exception to the user error handler. We also won't automatically complete the message but instead we will abandon it. I'm not sure if this addresses the concern about not handling the user exception explicitly. Since the event handler is on a background thread, if we didn't catch the exception, the

[2020-06-01 00:14] SeanFeldman commented on #9729
Azurite v3.7.0 [supports HTTPS](https://github.com/Azure/Azurite/issues/38#issuecomment-619072057). And @jongio has a [blog post](https://blog.jongallant.com/2020/04/local-azure-storage-development-with-azurite-azuresdks-storage-explorer/) about it. Close?

[2020-06-01 02:22] UmairSyed commented on #5121
creating an access policy fixed my issue thanks

[2020-06-01 03:20] SeanFeldman commented on #11817
@JoshLove-msft, you did not answer #4. Implementation is detail. My comment was that for anything that is not a known value should throw an exception and `Others` should not be an acceptable enumeration value.

[2020-06-01 03:53] JoshLove-msft commented on #11817
The idea behind using extensible enums is that if the service adds support for a new value, we can handle it to the best of our ability without requiring an SDK update.

[2020-06-01 05:49] GeeWee opened #12388 "[FEATURE REQ] EventHub Emulator"
**Library or service name.**
Azure EventHubs

**Is your feature request related to a problem? Please describe.**
To run the development locally, it would be wonderful to have the ability to run EventHubs on the developer machine. This request is the same as #7172 which was seemingly closed by accident.

[2020-06-01 08:00] #10008 closed

[2020-06-01 15:27] pakrym commented on #12221
Is excessive indentation covered by that issue?

![image](https://user-images.githubusercontent.com/1697911/83424741-b05bd980-a3e1-11ea-8b76-72df5af9a51d.png)

[2020-06-01 16:30] iscai-msft opened #12394 "[text analytics] Upgrade to v3.1-preview.1"
- [ ] Add `aspects` and `opinions` to `SentenceSentiment` if `opinionMining` is True and passed to `analyzeSentiment`

[2020-06-01 16:42] maririos opened #12395 "Write release notes"

[2020-06-01 17:00] serkantkaraca commented on #12388
Feel free to provide your support and feedback at https://feedback.azure.com/forums/911458-event-hubs/suggestions/37028737-emulator

[2020-06-01 17:03] #12079 closed

[2020-06-01 17:14] maririos commented on #12394
Thanks Isa! Dup of https://github.com/Azure/azure-sdk-for-net/issues/10711

[2020-06-01 17:14] #12394 closed

[2020-06-01 17:16] maririos opened #12396 "Add support for v3.1-preview.1"
Make sure we test 3.0 and 3.1-preview.1

[2020-06-01 17:24] SeanFeldman commented on #11817
I think I'm failing to explain myself here. Let me try in a different way.

`EntityStatus`, `MessagingSku`, and `NamespaceType` all have an entry `Others` for a value (99) that does not represent anything concrete. Should this entry be even listed in the enum/extensible enum given this entry/value represents an abnormal state? _How_ the enumeration is implemented is not a question.

For example, `

[2020-06-01 17:25] scbedd commented on #12221
I don't think so.

1. I filed a new issue [here](https://ceapex.visualstudio.com/Engineering/_workitems/edit/230024) will discuss with Robert tomorrow AM
2. The original item I link above hasn't been triaged, though I did discuss it with Robert/get it it verbally acked as a bug. I will follow up on that.

Just be aware that the indentation issue is probably going to end up triaged super low on the

[2020-06-01 17:35] JoshLove-msft commented on #11817
`Others` would not be listed in the extensible enum.

[2020-06-01 18:35] kinelski commented on #12322
Thank you for reporting this issue, @eics-ips.

I could not perfectly reproduce your environment because I don't have the files that were used for training your model, so our models are different.

However, even with a different model, I could get the same error message, so it's probably the same bug. If that's the case, it has already been fixed here: #12233, so we're not expecting it to fail any

[2020-06-01 18:48] kinelski commented on #11564
@SamratAlamgir Thanks once again for reporting this issue. Preview 3 will be released soon and will contain the fix (#12192).

[2020-06-01 18:55] SamratAlamgir commented on #11564
You are welcome and thanks for letting me know about the update.

[2020-06-01 19:22] #12221 closed

[2020-06-01 19:31] seanmcc-msft commented on #9607
I have a PR out for `OpenRead()` for Blobs, Files, and Data Lake.

[2020-06-01 19:37] kinelski opened #12401 "[FormRecognizer] Consider adding parameterless protected constructors to Operation types"
Regarding our mocking guidelines: https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking

[code]

The last point suggests that we create a factory for models because "model types shouldn’t have public constructors". This doesn't apply to Operation types, since they have a public constructor to access an existing LRO.

We're wondering whether we should include a parameterless pro

[2020-06-01 19:39] kinelski commented on #11528
We decided on removing the protected constructors for Preview 3. Opened #12401 to keep track of the issue.

[2020-06-01 20:31] #10588 closed

[2020-06-01 20:32] #11907 closed

[2020-06-01 20:32] #11069 closed

[2020-06-01 20:32] #11070 closed

[2020-06-01 21:20] pakrym commented on #9607
It doesn't seem that DownloadAsync is eagerly loading the blob content.
By running the following sample you'll see that process memory would never grow higher than some initial value (~50mb on my machine).

[code]

[2020-06-01 21:26] seanmcc-msft commented on #9607
What about Upload()?

[2020-06-01 21:27] pakrym commented on #9607
I didn't try Upload.

[2020-06-01 21:30] seanmcc-msft commented on #9607
If streaming uploads already function correctly, we may not have to do anything for this issue.

[2020-06-01 22:20] #11956 closed

[2020-06-01 23:34] stotlyakov commented on #8934
Hi team,
1.2.0-preview.3 broke the Az login authorization again.
1.2.0-preview.1 works.
Also, you would expect that if your Visual Studio 2019 dev account fail to authorize. It will pick as next option - the az CLI. But this is not the case. It fails if the tenant/subscription is incorrect with hard error: "The access token is from the wrong issuer..." and so on.
So, know if I want to use the CLI

[2020-06-02 01:21] Michael-D-Pine commented on #6172
Wow, yeah that was the issue for me, that sad thing is Visual Studio said I was signed in, so everything looked ok, until you go into that option and see "Reenter credentials" in which case I didn't need to it just took the re-authenticated credentials and everything worked fine after that, was a bit frustrating.

[2020-06-02 01:26] corygehr commented on #6172
It happens randomly for me. I usually do the steps as @Michael-D-Pine suggested, but even if my account shows in the list I occasionally need to say 'Add an account...' and use the same creds as my account which is already showing.

[2020-06-02 01:41] isra-fel commented on #12343
@weidongxu-microsoft could you help answer this question? Thanks

[2020-06-02 02:12] ahamad-MS commented on #12244
@SeanFeldman  can you please confirm what is the type of destination you are using here ? storage queue? Function? etc?

[2020-06-02 03:11] SeanFeldman commented on #12244
@ahamad-MS Queue Storage was my events handler/destination.

[2020-06-02 07:12] weidongxu-microsoft commented on #12343
@aL3891

Workaround

[code]

[2020-06-02 09:08] larskn opened #12413 "[QUERY] [Storage] How to get SecondaryUri of a blob in v12 API?"
**Query/Question**
With the v11 API we could use `CloudBlob.StorageUri.SecondaryUr`i to retrieve a blob's secondaryUri. The new BlobClient only has the `Uri `property, but not `StorageUri`. How can the SecondaryUri be retrieved?

**Environment:**
 - Azure.Storage.Blobs 12.4.2
 - NET Core SDK 3.1.300, Windows 10 x64
 - Visual Studio 16.6.1

[2020-06-02 09:37] eics-ips commented on #12322
Training Data Attached.
[Training Data.zip](https://github.com/Azure/azure-sdk-for-net/files/4716206/Training.Data.zip)

[2020-06-02 10:46] oatsoda opened #12414 "Blob SaS URL generation using existing connection string "UseDevelopmentStorage=true""
**Query/Question**
Is there any way to create a SaS URL for a Blob using the existing Connection String mechanism?

**Environment:**
 - Azure.Storage.Blobs 12.4.1

**Details**
I am currently wiring all my storage stuff up using a single Connection String passed in to the `BlobServiceClient`.  This is very convenient as I can use the "UseDevelopmentStorage=true" in my development appSettings.json w

[2020-06-02 11:53] TJH-AIZ commented on #9607
Don't forget #7558 (https://github.com/Azure/azure-sdk-for-js/issues/7558) which was closed because it's supposed to be addressed here.

[2020-06-02 12:13] #11374 closed

[2020-06-02 12:49] jaaant opened #12415 "Transient error in key storage refresh at Azure blob every 24h"
**Describe the bug**
I'm trying to set up data protection using Azure blobs for key storage. After encountering an issue with the Microsoft.AspNetCore.DataProtection.AzureStorage package (https://github.com/dotnet/aspnetcore/issues/21569), I was directed here to try the Azure.AspNetCore.DataProtection.Blobs and Azure.AspNetCore.DataProtection.Keys packages. They mostly work.

However, every 24 hou

[2020-06-02 13:27] gjmoyer commented on #12257
Hi @jsquire and thank you for the prompt response.  I didn't realize that was I using the legacy Event Hubs package, and comparing to the new generation storage SDK.  Thank you for the link, that is what I was looking for.  Appreciate your time!  I look forward to all Azure services supporting role based authentication (especially function triggers).

[2020-06-02 13:28] #12257 closed

[2020-06-02 14:00] Boaz101 commented on #9607
@seanmcc-msft There is no way that I can see to get access to a writable blob stream similar to the previous OpenWriteAsync method.

[2020-06-02 14:20] CaroleneP commented on #9900
@nemakam Our application is developed using .NET framework. So what do the newer libraries support and why?

[2020-06-02 15:35] Console32 opened #12417 "[BUG] DefaultAzureCredentials do not work on OS X"
**Describe the bug**
DefaultAzureCredentials cause Error on MacOSX works on

**Expected behavior**
The DefaultAzureCredentials create temporary security credentials that allow access for the BlobContainerClient.

**Actual behavior (include Exception or Stack Trace)**
Causes a Error:

[code]

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional inf

[2020-06-02 16:57] #11528 closed

[2020-06-02 17:19] kasobol-msft commented on #11503
We're going to release it this week.

[2020-06-02 17:27] aL3891 commented on #12343
i see thanks, i guess fluent methods for this are planned? i've ran into some other places where i've needed to fall back on the "inner" versions in the process of setting up a ipv4/ipv6 network, are you taking contributions for fluent configuration methods like this?

[2020-06-02 17:28] xiaomi7732 commented on #11503
@kasobol-msft Thanks for the quick turn-around. Looking forward to try on the new version.

[2020-06-02 17:36] maririos opened #12420 "After FR client library goes GA, deprecate older package"

[2020-06-02 17:36] alex-frankel commented on #3970
closing. Let us know if this should be re-opened

[2020-06-02 17:36] #3970 closed

[2020-06-02 17:45] #11894 closed

[2020-06-02 18:06] nemakam commented on #9900
Going forward the newer libraries will support Amqp over TCP (port 5671) and Amqp over Websockets (port 443).  AMQP is the protocol we want to adhere to going forward as a messaging service.
At the same time, there is a significant cost to developing & maintaining features geared towards supporting old systems. And given that we do have another library which does support this, we would not be able

[2020-06-02 19:11] ahamad-MS commented on #12244
@SeanFeldman Thanks.. We suspect that this issue from storage queue itself. Will you be able to use another destination type to confirm?

[2020-06-02 19:31] SeanFeldman commented on #12244
@ahamad-MS, same happens with Service Bus handler.
I am not convinced this is a downstream service issue. They get what they are passed. So whatever is being sent is wrong.

[2020-06-02 19:35] kasobol-msft commented on #11503
Fixed in 12.4.3

[2020-06-02 19:44] jaschrep-msft commented on #12414
Hi @oatsoda. We are currently exploring ways of building a SAS based on an existing client. However, pulling the shared key out of the client is not part of the current design, as there is no guarantee a client has a shared key loaded in. Your feedback on this scenario will be looped into the discussion.

I notice you describe one of your current options as `Change everything to use Account Name a

[2020-06-02 19:55] jaschrep-msft commented on #12413
Hi @larskn. There is currently no mechanism to check the secondary URI of a client once created. What are you attempting to do? Perhaps the library offers another solution to your initial problem.

[2020-06-02 19:57] christothes opened #12426 "Tables: Cosmos Tables / Storage Tables protocol discrepancies"
# Summary
This is a running list of discovered undocumented differences between the storage and cosmos table REST API implementations.

### Formatting of double typed entity properties
Given a double value with no decimal, such as 1, storage sends the value as "1.0" whereas Cosmos sends it as "1". The storage response format ensures that the type can always be implicitly determined but the Cosmos

[2020-06-02 20:15] annelo-msft commented on #11912
We will remove the strong types for Receipts until we understand the customer scenarios better.

Implementation proposal in: https://github.com/Azure/azure-sdk-for-net/pull/12399

[2020-06-02 20:15] #11912 closed

[2020-06-02 20:19] annelo-msft opened #12427 "Remove USReceipt and related types"
Based on the outcome of the design discussion around receipts (per https://github.com/azure/azure-sdk-for-net/issues/11912), we will remove strong types from the Receipts feature.

Draft proposal is here: https://github.com/Azure/azure-sdk-for-net/pull/12399

[2020-06-02 20:29] pakrym commented on #12426
+ Different query languages

[2020-06-02 20:50] #11764 closed

[2020-06-02 21:15] seanmcc-msft commented on #9607
@Boaz101, I think OpenWrite is still an issue, but it appears we have an existing solution for Open Read.

[2020-06-02 21:19] Boaz101 commented on #3933
That fixed it for me too.

[2020-06-02 21:21] christothes opened #12431 "Tables: Fix the GetAccessPoliciesReturnsPolicies test and related methods"
# Summary
`TableClientLiveTests.GetAccessPoliciesReturnsPolicies` is currently set to be ignored because at the time of creation there was a swagger generation issue that caused all requests to `SetAccessPolicyAsync` to fail. This has since been resolved allowing the test to be re-enabled.

To successfully run the test, some minor changes are required to both the test and the `TableClient`

# Scop

[2020-06-02 21:29] #12249 closed

[2020-06-02 21:37] bruckGT commented on #11503
Hi @kasobol-msft  I think you meant 12.4.2?

[2020-06-02 21:39] kasobol-msft commented on #11503
https://www.nuget.org/packages/Azure.Storage.Blobs/12.4.3

[2020-06-02 21:42] bruckGT commented on #11503
@kasobol-msft Got it thanks!

[2020-06-02 21:46] pakrym commented on #11503
@kasobol-msft updated version of Azure.Core haven't shipped yet and Storage dependency wasn't updated so the fix won't be in Azure.Storage.Blobs/12.4.3

[2020-06-02 21:51] kasobol-msft commented on #11503
@pakrym  We take that one through `Shared` model https://github.com/Azure/azure-sdk-for-net/blob/96f785824258b6b9a5c734f0e5e1cddc58f2bf6e/sdk/storage/Azure.Storage.Blobs/src/Azure.Storage.Blobs.csproj#L25 . Wouldn't that compile in latest from master ?

[2020-06-02 21:54] pakrym commented on #11503
Fix is in two places: shared code you linked and more important part in sdk/core/Azure.Core/src/Pipeline/Internal/ReadTimeoutStream.cs that ships with Azure.Core

[2020-06-02 21:58] kasobol-msft commented on #11503
Gotcha. I'll leave it open until Azure.Core ships then.

[2020-06-02 21:59] jsquire commented on #11061
This appears to have been resolved; the forthcoming `Azure.Messaging.ServiceBus` library now includes the requested event and discussion here seems to have concluded.    I'm going to close this out; @pvreddy37, please feel free to reopen if you believe there is further discussion needed.

[2020-06-02 21:59] #11061 closed

[2020-06-02 22:19] bruckGT commented on #11503
@pakrym @kasobol-msft Do we know a timeline of when Azure.Core will ship?

[2020-06-02 22:29] pakrym commented on #11503
@bruckGT End of this week.

[2020-06-02 22:46] annelo-msft commented on #11834
There are two purposes here:
1. Make sure we're up to date with the latest swagger from the service (or the latest whose feature set we support in the client library)
2. Make sure we're using code generated by the latest version of the C# generator

We should already understand features we get from the latest swagger - if not, development of those features should be handled as separate issues.

We

[2020-06-02 22:55] annelo-msft commented on #10385
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/11505

[2020-06-02 22:55] #10385 closed

[2020-06-02 22:55] annelo-msft commented on #11505
Closed https://github.com/Azure/azure-sdk-for-net/issues/10385 and added full list of operations to this issue.

[2020-06-02 22:58] annelo-msft commented on #12193
@maririos, could you update this issue with a description of why we need this for FR?

[2020-06-02 23:13] pakrym commented on #11417
I think this is not valid anymore, when we moved to only generate rest clients for data-plane we stopped generating operations as well.

[2020-06-02 23:15] annelo-msft commented on #10538
The Preview 3 design does not expose an `ElementReference` class.  `FormWord` and `FormLine` both have `PageNumber` properties.

[2020-06-02 23:15] #10538 closed

[2020-06-02 23:18] maririos commented on #11834
Any time the version of code generator increases, the team makes sure to update each library with the changes. If it involves a lot of changes, they create an issue in our repo. We could link the issues they create in this issue, or just marked them as blocked-release so we know we have to address them before releasing

[2020-06-02 23:25] AlexGhiondea opened #12434 "Release Form Recognizer 3.0.0-preview.1"

[2020-06-02 23:28] MegoCs commented on #12186
any update regarding this BUG this is weird !!
for now, i am using workaround to try make the same request again till success using retry policy.

[code]
this workaround makes it obvious, that it`s related to application insights

[2020-06-02 23:29] annelo-msft commented on #10360
Closed by @pakrym's fix

[2020-06-02 23:29] #10360 closed

[2020-06-02 23:34] stotlyakov commented on #8934
Ok, I found workaround. If you set ExcludeSharedTokenCacheCredential = true, this will skip your VS credentials and will go to CLI.
However, we still need to figure out why we cant change the default tenant in VS Account Settings. There is "Apply filter" setting, after selecting the correct tenant, still get the "The access token is from the wrong issuer.."

[2020-06-02 23:35] #10445 closed

[2020-06-02 23:37] annelo-msft commented on #11424
Already completed

[2020-06-02 23:37] #11424 closed

[2020-06-02 23:39] #11783 closed

[2020-06-02 23:45] AlexGhiondea opened #12436 "Cross Cognitive Backlog"
This issue track the cross-cognitive backlog of work that we are aware of.

[2020-06-02 23:45] nemakam commented on #12289
@jay1891, I am not sure I understand the problem completely. Are you saying every 5 minutes the SendAsync() operation takes over 5 seconds?
This doesn't look like any SDK side issue and we may have to investigate your scenario separately. Could you please open a support ticket through the Azure portal with the appropriate repro so that this can be investigated further?

[2020-06-02 23:45] #12289 closed

[2020-06-02 23:50] annelo-msft opened #12437 "Release FR Preview 3 Package"
Work through Release Checklist

[2020-06-02 23:52] nemakam commented on #10071
@NiklasArbin, feel free to raise a PR for this.
Instead of a cancellation token, you could also consider exposing a new method called "PauseHandler" that can pause the pump when needed

[2020-06-02 23:53] annelo-msft opened #12438 "[Test] Implement tests to achieve test parity"
Implement specific tests we don't have, which were identified as part of https://github.com/azure/azure-sdk-for-net/issues/11882

[2020-06-02 23:55] annelo-msft opened #12439 "[Release] Release FR Preview 4 Package"
Work through Release Checklist

[2020-06-03 00:17] nemakam commented on #12050
@davemanton - Is there a repro that you could provide that has DBContext? How does DBContext and MessageSender relate to each other?

[2020-06-03 00:24] #11417 closed

[2020-06-03 00:24] mpderbec commented on #8934
I just tried with Python azure-identity preview package 1.4.0b2 and things ALMOST work the way you would expect, but there's still a bug. The VSCodeCredential and AzureCliCredential picks up credentials from those locations if logged in there.

But if I log out of VSCode and az cli, and then do:
[code]

I expect that, if the credential chain fails that it will eventually use the InteractiveBrowser

[2020-06-03 00:29] mpderbec commented on #8934
Following up: AzureCliCredential is indeed doing the wrong thing. When the CLI is not logged in, it is incorrectly raising `ClientAuthenticationError` when it should be raising `CredentialUnavailableError`.  That causes the chain to stop instead of continuing on to the next. (At least, that's what it's doing in the Python 1.4.0b3 version.)

[2020-06-03 00:55] heaths commented on #12211
General guidelines require that API versions are specified, if not by the user, we need to hardcode them for first versions of clients (typically not done in .NET, though; see our data-plane clients for examples). I'm not sure why a new version was picked up, but it could also be caused by updates in Azure/azure-rest-api-specs to the service readme.md file. You may need to re-record, but I'd check

[2020-06-03 00:59] AFDevMike commented on #9602
I am getting this error
`"The request is invalid. Details: index : Requested value 'ScoringFunction' was not found.\r\n"`

 using `Microsoft.Azure.Search` Version 10.1.0 specifically after adding Scoring Profiles(functionality / property) to our `Index`.  I am using strongly typed classes and no `json` literals.  Would this be the same issue or shall I make another?

[2020-06-03 01:07] maririos commented on #12193
updated

[2020-06-03 01:36] smithago opened #12445 "[FEATURE REQUEST] Add StorageTransferOptions overload to BlobClient.Upload"
**Describe the bug**
Is there are option to specify DefaultRequestOptions.ParallelOperationThreadCount or
blobClient.DefaultRequestOptions.ServerTimeout in the new 12XX SDK?

I am assuming this is automatically handled but wanted to confirm. Is there a documentation to help migrate from the older to newer SDK?

Also, NameValidator.ValidateBlobName could not be found in the new SDK.

**Environment:

[2020-06-03 01:56] weidongxu-microsoft commented on #12343
Yes. We do take contributions.

You can try it. It is a bit complicated. If you having trouble, let us know.

Interface (you can do similar to `WithStaticIP`)
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Network/Domain/PublicIpAddress/Definition/IDefinition.cs#L66-L101

Implementation
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceMa

[2020-06-03 02:11] ScottMetzel commented on #11257
I'm running into the same issue while running Az.Blueprint module version 0.2.13. I didn't try every older version of the module/cmdlet, but I did install these older versions and ran into the same problem with each attempt:

- 0.2.10
- 0.2.6
- 0.2.0

The cmdlet doesn't exist in versions 0.1.1 nor 0.1.0, so, no point in trying them ☹️

[2020-06-03 02:21] AIRyndon commented on #10814
Have the same issue - about an hour saved. Thank you for this!

[2020-06-03 03:07] brjohnstmsft commented on #9602
@AFDevMike That sounds like a different problem. Please create a new issue and include a minimal repro if possible.

[2020-06-03 05:15] alex-frankel commented on #11257
This is an issue with our APIs, not with the SDK. With the planned changes to move blueprint definitions to [template specs](https://youtu.be/UaVCNpD3pvg?t=718), this is not likely something we are going to fix. We just announced templateSpecs at build, so details are a bit scarce, but we should have more info to share in 1-2 months.

[2020-06-03 06:12] ChrisFulstow commented on #11400
Agree with @davidallyoung it'd be great to highlight this in the documentation. Here is the only reference I found to using `AZURE_CLIENT_ID` for user-assigned managed identity, I also assumed it'd pick up the client ID from my Azure Function's identity configuration.

[2020-06-03 07:15] heaths commented on #11712
A better query is:

[code]

This removes internal setters, which after the upcoming PR shows none remain. Showing the custom attributes on all of them also shows that all have `EmptyAsUndefined = true, Initialize = true`, which should be accurate for Search. @brjohnstmsft and @bleroy for confirmation.

[2020-06-03 07:19] oatsoda commented on #12414
Hi @jaschrep-msft thanks for the reply.

I don't have any security worries regarding splitting out the connection string into name and key.  But I have built everything to work with Connection Strings - I have it in my `connectionStrings` section in `appSettings.json` and `appSettings.Development.json`.  I then have it set up in my App Service ARM Template to pull the connection string for the Sto

[2020-06-03 07:30] marcelvwe commented on #11619
Hi, we are receiving the same error. I've sent related logs per mail.

We are not using the `RootManageSharedAccessKey` itself, but instead an alternative generated access key with `Manage, Send, Listen` claims.

[2020-06-03 07:58] heaths opened #12455 "Change in recorded responses makes diff'ing session records extremely difficult"
The fix for bug #12158 in PR #12190 ends up putting response bodies all on one line, which makes diff'ing session records for expected changes practically impossible. Wouldn't a better approach be to fix the `RecordMatcher` to handle newlines correctly? What makes DigitalTwins different? In neither Key Vault or Search I've seen this problem, so maybe something specific with DigitalTwins they need

[2020-06-03 08:20] mzrks commented on #12315
@amnguye thanks for the example! This is what I was looking for!

[2020-06-03 08:20] #12315 closed

[2020-06-03 08:24] heaths opened #12457 "SearchResources do not clean up indexers or data source connections"
Need to extend the clean up mechanics of SearchResources to also delete indexers and data source connections, but in a deterministic and consistent order (so don't `Task.WhenAll` everything). One idea would be similar to what Key Vault does and register not resources (like Key Vault), but delegates that capture the client and resource to clean up in a fixed stack order. Create the resource, regist

[2020-06-03 09:16] jay1891 commented on #12289
@nemakam Last week a support ticket was created and the MS engineering team identified the problem. In the following weeks they will deploy a fix.

[2020-06-03 09:25] heaths commented on #11166
Because of planned changes for de/serialization, we're punting this till all that's finalized enough to start this work.

[2020-06-03 09:28] heaths opened #12460 "Remove FieldBuilder for preview 4"
Since we're punting #11166 we need to pull out the `FieldBuilder` stub and attributes. While the attributes won't likely change, this gives us flexibility to change them while implementing `FieldBuilder` if we need to later.

/cc @tg-msft @brjohnstmsft

[2020-06-03 09:30] dazinator opened #12461 "ServiceBusQueueClient the cancellation token is not signalled when processing exceeds MaxAutoRenewDuration"
**Describe the bug**

When using `ServiceBusQueueClient` to listen / process messages from a queue,

[code]

The message handler delegate is invoked to process the incoming message and it is supplied with a cancellation token `token` in the above sample.

This cancellation token should be signalled when processing of the message needs to be cancelled. It is particularly useful to long running proc

[2020-06-03 10:59] ahamad-MS commented on #12252
Hello @SeanFeldman  .. According to the link provided, not all packages are previews. The latest "Stable" package is version 5.0.0 which corresponds to 2019-06-01 API version

--> Link: https://www.nuget.org/packages/Microsoft.Azure.Management.EventGrid/5.0.0

--> Release Notes
This corresponds to the 2019-06-01 API version which includes the following new functionalities: Domains, pagination and

[2020-06-03 11:02] alhardy commented on #8658
Experience similar issues authenticating to azure app configuration using `DefaultAzureCredential`.

"MsalServiceException: A configuration issue is preventing authentication - check the error message from the server for details.You can modify the configuration in the application registration portal. See https://aka.ms/msal-net-invalid-client for details.  Original exception: AADSTS70002: The clie

[2020-06-03 11:24] jay1891 commented on #12289
@nemakam, if it could be helpful, the support ticket has id 120051422001928

[2020-06-03 12:25] petrformanek opened #12466 "[BUG] System.InvalidOperationException at Azure.Messaging.EventHubs.EventProcessorClient+<OnInitializingPartitionAsync>d__60.MoveNext"
**Description of the bug**
Thread concurrency issue found in logs.

**Expected behavior**
No exceptions thrown.

**Actual behavior (include Exception or Stack Trace)**
[code]

**To Reproduce**
Hard to reproduce.

**Environment:**
 - Azure.Messaging.EventHubs.Processor v 5.1.0
 - Linux docker container running in AKS with .NET Core 3.1

[2020-06-03 13:08] jsquire commented on #12461
//cc: @JoshLove-msft, @MiYanni

[2020-06-03 13:20] jsquire commented on #12466
Hi @petrformanek.  We're sorry that you're experiencing difficulties and appreciate you reaching out to let us know.  This isn't one that we've seen before, but seems like a race condition at first glance.  The good news is that this would trigger retry and recovery paths and should not have an impact on the overall heath of the processor.  In the worst case,  I would expect to see a small delay i

[2020-06-03 13:33] AFDevMike opened #12467 "[BUG] Creating an Index with Scoring Profile throws Requested value 'ScoringFunction' was not found. error."
**Describe the bug**
Creating an Index with Scoring Profile throws Requested value 'ScoringFunction' was not found. error.

**Expected behavior**
New Index with Scoring Profile Created

**Actual behavior (include Exception or Stack Trace)**
`"Message": "The request is invalid. Details: index : Requested value 'ScoringFunction' was not found.\r\n"`
`"StackTrace": "   at Microsoft.Azure.Search.Index

[2020-06-03 15:28] pakrym commented on #12455
We switched to only storing formatted body JSON if we can read it back into the exactly the same value as the original body.

Otherwise the test framework would end up modifying the body value that has all sorts of consequences that are impossible to fix with a RecordMatcher change only.

[2020-06-03 16:22] aL3891 commented on #12343
thanks, i'll check it out :)

[2020-06-03 16:22] #12343 closed

[2020-06-03 16:29] heaths commented on #12455
Since Search's responses were stringified now, why were they working otherwise? Is this just about newlines within the body causing issues? Could those be encoded specifically to avoid the original issue while maintaining diff'ability?

[2020-06-03 16:32] ig-sinicyn commented on #11802
up again:)

[2020-06-03 16:54] ScottMetzel commented on #11257
Thanks for the information @alex-frankel; I caught that announcement and look forward to template specs!

As a workaround, I simply shortened some parameter names to get the string value of the function at or below 90 characters in length.. works fine otherwise.

[2020-06-03 17:50] schaabs commented on #8934
@mpderbec have you filed an issue against our python SDK? If could you open an issue [here](https://github.com/Azure/azure-sdk-for-python/issues/new?assignees=&labels=&template=bug_report.md&title=).

[2020-06-03 17:50] #8934 closed

[2020-06-03 18:10] nemakam commented on #12461
@dazinator , that is an interesting expectation, but that is not designed that way. The cancellation token is cancelled only when the queueClient is closed.
But to think of it, I don't know if its perfect to have that design. Think of this scenario:
AutoComplete = false.
Handler =
[code]
In this case, though auto renew stopped after 2 mins, it should be fine as you do not plan to complete the mess

[2020-06-03 18:11] nemakam commented on #12461
Going to close this issue as by-design

[2020-06-03 18:17] brjohnstmsft commented on #12467
@AFDevMike This is a known usability issue with the `Microsoft.Azure.Search` library. The `ScoringFunction` class should be abstract, but isn't. Instead, you should instantiate one of its derived classes, listed [here](https://docs.microsoft.com/dotnet/api/microsoft.azure.search.models.scoringfunction?view=azure-dotnet).

We're working on a new generation of client libraries for Azure Cognitive Se

[2020-06-03 18:30] #10621 closed

[2020-06-03 19:09] heaths commented on #12455
Discussing this offline, we found that in *RecordEntry.cs* in or around line 194 where `memoryStream.ToArray()` is compared byte-for-byte with `requestBody`, the etag is encoded differently, as shown below:

![image](https://user-images.githubusercontent.com/1532486/83678705-015eff80-a593-11ea-9ea7-04b22e1d2429.png)

This falls through to encoding the whole thing as a string and writing as-is.

[2020-06-03 19:09] #11712 closed

[2020-06-03 19:25] iscai-msft opened #12472 "[text analytics] update readme"
- [ ] Consider adding a key concept on DocumentErrorHandling (python's is [here](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/README.md#document-error-handling), but .net's would tell the user to check the .errors of batch)
- [x] Make sample links in readme absolute, not relative. This is potentially causing problems when being uploaded to docs

[2020-06-03 19:51] dazinator commented on #12461
@nemakam
Thanks for response.
I am surprised that its acceptable to you, to allow processing to continue even when there is no chance of lock renewal and you know there will eventually be an error on CompleteAsync() of the message. Why let processing reach that point if you could signal that fact earlier? It just seems wasteful no? Is it by design to be wasteful?

In the example you responded with

[2020-06-03 20:03] nemakam commented on #12461
Wow, lets take it slowly.
In "your" use-case it makes sense. But doesn't mean it applies to every use-case.
Let's say a machine wants to shut down. That's the only time we expect that queueClient.Close() is called. If you want to do a clean shut down and want to stop the handler, that's when the cancellation token is used. You may have completed the message on the broker, but doesn't mean you are

[2020-06-03 20:07] maririos commented on #12472
Thank you so much Izzy!

[2020-06-03 20:09] maririos opened #12473 "write release notes"

[2020-06-03 20:43] annelo-msft opened #12476 "[Design] Address Arch Board Feedback from .NET/Python Reviews"
- [ ] follow up if there could be something labeled that is not text when thinking of naming for `FieldText`. Should this be `FieldData` or alternate naming? Otherwise property/model naming difference between languages is okay => https://github.com/Azure/azure-sdk-for-net/issues/13036
- [ ] `RequestedOn` and `CompletedOn` should be renamed to `TrainingStartedOn` and `TrainingCompletedOn` => https:

[2020-06-03 20:46] annelo-msft opened #12477 "[Design] Address Feedback from JS/Java User Studies"
- [ ] In unsupervised recognize sample, show how to search for a certain field name in the dict => https://github.com/Azure/azure-sdk-for-net/issues/12960
- [x] Add to documentation description about what SAS Url is – link to service docs about training (we might already do this) => https://github.com/Azure/azure-sdk-for-net/pull/13078
- [x] Add readme code snippet pointers for statements in key c

[2020-06-03 20:55] annelo-msft opened #12478 "[Errors] Improve error messages where service message is unclear"
Case | Error Message | Suggested Improvement
-- | -- | --
Pass   useTrainingLabels=true when no labels are in blob storage | {                   code:   '2100',                   message:   "Can't find any OCR files for training."               } | [Teams Discussion](https://teams.microsoft.com/dl/launcher/launcher.html?url=%2f_%23%2fl%2fmessage%2f19%3a88f2d9dea2344075b5d4bc34d82a3d1c%40thread.sky

[2020-06-03 21:27] AlexanderSher commented on #8658
@alhardy, can you please post a full call stack?

[2020-06-03 22:37] #12460 closed

[2020-06-03 23:35] SeanFeldman commented on #12252
That makes sense. One challenge I'm having is the gap between NuGet package description and identifying what it refers to. For example:

[5.3.2-preview](https://www.nuget.org/packages/Microsoft.Azure.Management.EventGrid/5.3.2-preview) says

[5.3.1-preview](https://www.nuget.org/packages/Microsoft.Azure.Management.EventGrid/5.3.1-preview) says

[5.3.0-preview](https://www.nuget.org/packages/Micros

[2020-06-03 23:35] #12455 closed

[2020-06-03 23:37] amnguye commented on #12415
Hi, Just read through the issue. This look like it's related to the Storage Client SDK libraries, I'm going to tag ASPNET Extensions and see what they think.

If this is related to the Storage Client Libraries, please add the Client and Storage tags back. Also please include the customer's version of the Azure.Storage.Blobs package and Azure.Core package that are being used. Thanks in advance.

[2020-06-04 00:07] dazinator commented on #12461
I'm not daft, I promise. I'm not advocating this. I'm advocating a more widley applicable feaure. I'll elaborate further below on the scenario.

Doing what precisely? Whether its a breaking change depends on how its implemented. I made some suggestions above, one of which wasn't really breaking as it would be adding a new property to message to allow the handler to opt in to detecting when the loc

[2020-06-04 00:24] kinelski commented on #12322
Thanks for the training files, @eics-ips.

Would you mind sending an email to `caio [dot] maia [@] microsoft [dot] com` so we can discuss this issue?

[2020-06-04 00:29] amishra-dev commented on #12415
@kurtzeborn do you know how this should be redirected. The bug is in the Microsoft.AspNetCore.DataProtection.AzureStorage package

[2020-06-04 00:33] heaths opened #12486 "Resolve issues found during API unification review"
From https://apiview.dev/Assemblies/Review/d40a51d26cf2444a85d302758ca3a2d1:

- [x] Rename `AnalyzeRequest` to `AnalyzeTextRequest` to fit method name.
- [x] Mention in documentation for that model that one of `Analyzer` or `Tokenizer` is required (but do not validate, per guidelines about avoid tight coupling between client and server behaviors - let the server validate).
- [x] Remove `SynonymMap

[2020-06-04 02:04] heaths commented on #12486
Based on findings when writing tests, I'm recommending a change of the model name but no other changes to the API. The request is already required and `Text` is required, so it's not `*Options` and we shouldn't include one of the non-swagger-required analyzer or tokenizer since that falls under client-side validation to avoid.

[2020-06-04 02:58] annelo-msft commented on #11237
ReceiptType has been removed from Receipt, so closing this work item.

[2020-06-04 02:58] #11237 closed

[2020-06-04 03:06] annelo-msft commented on #11475
Let's do this if there's a precedent for it in other .NET READMEs, if not, let's close this issue.

[2020-06-04 03:07] annelo-msft commented on #11487
Let's check on whether the service team has made this fix, and if not, remove the blocking-release label and move to P5.

[2020-06-04 03:19] kevinoid opened #12490 "[BUG] JsonConverterAttribute is ignored on polymorphic base class properties"
**Describe the bug**
A class serialized with [`PolymorphicSerializeJsonConverter`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.rest.serialization.polymorphicserializejsonconverter-1) does not apply [`JsonConverterAttribute`](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_JsonConverterAttribute.htm) declared on instance properties during serialization.

**Expected behavior**

[2020-06-04 03:30] kevinoid commented on #12490
Scratch that.  Using [`JsonProperty.Converter`](https://www.newtonsoft.com/json/help/html/P_Newtonsoft_Json_Serialization_JsonProperty_Converter.htm) should be easy.  It won't fix the other potential current and future divergence from [`JsonSerializerInternalWriter`](https://github.com/JamesNK/Newtonsoft.Json/blob/12.0.3/Src/Newtonsoft.Json/Serialization/JsonSerializerInternalWriter.cs), but it wo

[2020-06-04 03:34] annelo-msft commented on #11834
@pakrym, can we rely on the code-gen team to keep the the generated code up to date for all .NET libraries?

[2020-06-04 03:36] ahamad-MS commented on #12252
I understand the challenge. however, we need to follow the standard enforced by .net SDK team in versioning these packages. These packages are for the same preview API version (hence, the version includes -preview suffix). There is no new features added after 5.3.0-preview, and only few bug fixes and modifications to the existing features (hence we only increment the minor number). The text here i

[2020-06-04 03:37] annelo-msft commented on #12138
Can this be addressed as part of this https://github.com/azure/azure-sdk-for-net/issues/11882 and this  https://github.com/azure/azure-sdk-for-net/issues/12438?

[2020-06-04 03:37] annelo-msft commented on #12139
@kinelski, do we have the forms we need to do this now?

[2020-06-04 03:43] annelo-msft commented on #12321
@kinelski , I believe we made the fix for this already, but can you confirm what action is needed and if we can put this back on the backlog?

[2020-06-04 03:45] annelo-msft commented on #12181
@maririos, do we know if they will fix this before code complete for this preview?  If not, we need to decide if this is a release-blocker.

@mayurid

[2020-06-04 03:58] annelo-msft opened #12492 "Include Form Recognizer in APICompat.csproj once it has GA'ed"
https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/126/API-Compatibility-Verification-.NET

Steps to include FormRecognizer:

Update eng/ApiCompat/ApiCompat.csproj to include package references for the FormRecognizer library.
Update eng/Packages.Data.props to include the current versions of the packages.
Remove EnableApiCompat param (or set to true) from FormRecognizer csproj file.

[2020-06-04 04:18] SeanFeldman commented on #12252
@ahamad-MS, one of the things that Azure SDK team is doing is having a [changelog file](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/CHANGELOG.md) which gets mentioned in the released packages which shows up in the [NuGet package description](https://www.nuget.org/packages/Azure.Storage.Blobs) for each version. That will be a good compromise. Can you do th

[2020-06-04 05:42] SeanFeldman commented on #11986
Any updates on this front?

[2020-06-04 05:50] jaaant commented on #12415
Azure package versions in the service are as follows:

Azure.AspNetCore.DataProtection.Blobs: 1.0.0-preview.1
Azure.AspNetCore.DataProtection.Keys: 1.0.0-preview.1
Azure.Core: 1.0.2
Azure.Identity: 1.1.1
Azure.Security.KeyVault.Keys: 4.0.1
Azure.Storage.Blobs: 12.0.0
Azure.Storage.Common: 12.0.0

[2020-06-04 06:42] petrformanek commented on #12466
Hi @jsquire. Thank you for a quick response.

As you wrote the processor health was ok, it was able to process events on other partitions, because they were already initialized and were processing events for some time.
When the processor tried to take ownership of partition 0 then it got stuck with the `InvalidOperationException` and it was calling my `PartitionInitializing` handler each 10 second

[2020-06-04 08:00] #7506 closed

[2020-06-04 08:10] alan0609 commented on #8934
Just to reiterate that while this worked in preview 1, 1.2.0-preview.3 broke the Az login authorization again.

[2020-06-04 11:25] masterjs commented on #12415
I've also been struggling with this error for a few weeks that I see in my logs that makes a request fail, but only once in a while.

[2020-06-04 12:33] jsquire commented on #11986
No updates at present.  The current milestone closes out this week and planning for the next isn't final yet, but plugins seem to be tentatively on the schedule.  _(ref:  #12384)_

[2020-06-04 13:14] jsquire commented on #12490
Fixed by #12943

[2020-06-04 13:47] jsquire commented on #12490
Thanks to the kindness of @kevinoid, this comes with an associated PR (#12493).   Assigning this over to @pakrym for bookkeeping, as he's likely to be the final approval for the associated PR.

//cc: @AlexGhiondea

[2020-06-04 13:50] jsquire commented on #12415
//cc: @tg-msft, @pakrym.    Any assistance with helping route to the appropriate owner would be appreciated.

[2020-06-04 13:51] jsquire commented on #12466
Thanks, @petrformanek.   I appreciate the additional context.   We'll start investigating.

[2020-06-04 13:52] mpderbec commented on #8934
Done: https://github.com/Azure/azure-sdk-for-python/issues/11819

Thank you for the pointer @schaabs!

[2020-06-04 14:01] EasySlepian opened #12503 "[QUERY] Storage: DeleteIfExistsAsync behavior"
**Describe the bug**
BlobContainerClient.DeleteIfExistsAsync returns true- result whether the target container existed or not.

**Expected behavior**
Returns true- value when the target container existed and has been deleted
Returns false- value when the target container does not exist and thus is not deleted

**Actual behavior (include Exception or Stack Trace)**
Returns true- value always

**To

[2020-06-04 15:53] idear1203 opened #12504 "[FEATURE REQ][Synapse] - Add event source and retire SynapseTestEventListener"
This request is related to libraries: Azure.Analytics.Synapse.*

Details see comment [here](https://github.com/Azure/azure-sdk-for-net/pull/12275#discussion_r435332139).

Event source examples:
- [KeysEventSource](https://github.com/Azure/azure-sdk-for-net/blob/d00ac4a8f174e7605903c3e0bb80bc74b8f65f77/sdk/keyvault/Azure.Security.KeyVault.Keys/src/KeysEventSource.cs)
- [ServiceBusEventSource](https

[2020-06-04 16:47] #11834 closed

[2020-06-04 17:19] annelo-msft opened #12508 "[Tests] Enable test recordings for Copy feature"
These need to be reenabled after https://github.com/azure/azure-sdk-for-net/issues/12193 is completed.

[2020-06-04 17:56] Yiming-Jia opened #12510 "[BUG] Host header being reset after retry for AppConfiguration SDK"
**Describe the bug**
https://icm.ad.msft.net/imp/v3/incidents/details/190642405/home
We have our automated test against the AppConfiguration sdk. We require the host header in our backend service to identify the tenant. From the log linked under that icm, the first request's header is properly set, and the service returned 503 to ask client to retry. And in the second attempts, the hot header was

[2020-06-04 18:00] asrosent commented on #12286
hey @jsquire thank you for your kind response

`How many processor instances are in use, and how many partitions are present for the Event Hub?`
4 processor instances on 32 eventhub partitions

`Can you confirm that all of the processors that you're observing are configured to use the same Consumer Group?`
yes

`With respect to seeing duplicate events, can you help me understand how you're determi

[2020-06-04 18:04] jegour opened #12511 "[BUG]Application Insights Dependency Logging setting incorrect parentId for Blob storage calls from Storage SDK"
**Describe the bug**
Using Azure.Storage.Blobs v12.4.3, Application Insights Distributed Tracing functionality doesn't seem to be working correctly. The operation_ParentId value for the dependency log statements for each blob call is not populated correctly. It does not correlate to the id value for the Request it's being called from. In fact, multiple calls from the same parent Request don't even

[2020-06-04 18:08] bryanrcarlson opened #12512 "[FEATURE REQ] Consider a method for moving files that change ACL to match default values of parent directory"
**Library or service name.**
Azure.Storage.Files.DataLake

I would like to move a file between directories or file systems that automatically sets ACL to that of the values specified by the default ACL of the destination.

Current options seem to be:

1. Use ```DataLakeFileClient.RenameAsync``` then use ```DataLakeDirectoryClient.GetAccessControlAsync``` to get parent's ACL then use ```DataLakeFil

[2020-06-04 18:12] iscai-msft opened #12513 "[text analytics] review docs.microsoft.com of latest release"
Sorry I can't add this to an epic, zenhub is not loading any epics for me since the new SSO changes

[2020-06-04 18:51] heaths commented on #8877
Closing due to lack of response. If you are still having issues, please reopen this issue with more details and we can investigate.

[2020-06-04 18:51] #8877 closed

[2020-06-04 18:55] #5146 closed

[2020-06-04 19:04] jongio opened #12514 "[FEATURE REQ] Run Cosmos .NET v4 Library Tests against Cosmos Emulator"
When we bring Cosmos to the mono-repo and our CI, let's make sure the tests are run against the cosmos emulator, which is currently in place for Java, JS, and Python.

azsdke2e

[2020-06-04 19:09] heaths commented on #6551
This is "now" (a few months ago, but I missed this bug) done in our sdk\keyvault\test-resources.json and we have some tests using it.

[2020-06-04 19:09] #6551 closed

[2020-06-04 19:15] heaths commented on #8142
Note: based on [guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/exceptions-and-performance#try-parse-pattern), we should also provide a throwing variant of the `TryParse` method.

[2020-06-04 19:16] heaths commented on #7663
This has been resolved with our new test-resources.json solution where live test resources are created and destroyed for each live run.

[2020-06-04 19:16] #7663 closed

[2020-06-04 20:51] AlexGhiondea opened #12517 "Readme unification"

[2020-06-04 20:53] AlexGhiondea opened #12518 "Additional end-to-end tests"
We want to have at least one good end-to-end example of creating skillsets attached to an indexer to populate an index, and query it for that enrichment information.

For skillsets, I propose common examples like one or more of the following:
- ~Sentiment analysis on reviews (perhaps a movie example like some languages used for their UX studies, though paired with a user rating it's not clear how

[2020-06-04 20:54] AlexGhiondea opened #12519 "Additional indexer tests"
- [x] `SearchIndexClient`
  - [x] `SynonymMap` CRUD
- [x] `SearchIndexerClient`
  - [x] `DataSource` CRUD
  - [x] `Indexer` CRUD (much of this is already covered, but more of an E2E test)
  - [x] `Skillset` CRUD

[2020-06-04 20:56] AlexGhiondea opened #12521 "Update the Search package version to the right one"

[2020-06-04 21:03] weshaggard opened #12522 "Organize Generated Artifacts Into Per-Package folders"
Part of Azure/azure-sdk#799.

The more steps we have in our release process the more error prone it is to find the correct set of artifacts for each step. To help organize and ensure we don't make errors we should group the build artifacts into folders in the packages artifact. One folder per-package.

[2020-06-04 21:21] seanmcc-msft commented on #12503
Hi @EasySlepian, the reason you are seeing this behavior is because it takes some time (~30 seconds-1 minute) for a container to be deleted.  The Rest API returns the same response for calling Delete on a Container that exists and one that is being deleted, so we match this behavior in the SDK.

If you wait a bit before calling `DeleteIfNotExists()` again, it should return false.

[2020-06-04 21:21] #12503 closed

[2020-06-04 21:35] nemakam commented on #12461
Thanks for the detailed response and I appreciate it. I do agree with the use-case.

The dismissal earlier was not about the use-case but for the change going forward since I was hoping that it is an easy change that can be done by the SDK user.

But given the current situation (and future plans for the service), I think it might be in good interest to have this support on the SDK itself. I will r

[2020-06-04 21:38] nemakam commented on #12461
If the token is strictly based on `MaxAutoRenewDuration`, then I'm still not very sure it is worth it. But things might get more interesting if we can trigger the cancellationToken if the link is closed and we will never be able to complete the message even though auto-renew duration isn't reached. Essentially, if the SDK knows that this message can never be completed, then we could trigger the ca

[2020-06-04 22:53] amnguye commented on #12445
Hi,

To specify the thread count like in v11 (e.g. `DefaultRequestOptions.ParallelOperationThreadCount`), when calling `DownloadToAsync` make a `StorageTransferOptions` and pass it to the method `DownloadToAsync`. You can specify the `ParallelOperationThreadCount` by specifying in `StroageTransferOptions.MaximumConcurrency`

For Example:
[code]

@seanmcc-msft  Do you know where or if we still allo

[2020-06-04 22:56] Yiming-Jia commented on #12510
The has been identified in our automated test.

[2020-06-04 22:56] #12510 closed

[2020-06-04 23:40] SeanFeldman commented on #12384
@JoshLove-msft, it probably should de "Implement support for plugins" or "Implement incoming and outgoing plugins pipeline". That comes before plugins are created, right? 🙂

[2020-06-04 23:41] JoshLove-msft commented on #12384
Updated!

[2020-06-04 23:43] JoshLove-msft commented on #11986
Yes, we definitely want to get this in for Preview 4.

[2020-06-04 23:52] maririos commented on #12513
@iscai-msft you mean to verify P5 information was published? and follow up with Scott? or what do u mean

[2020-06-05 00:09] kasobol-msft commented on #11503
Please update to
https://www.nuget.org/packages/Azure.Storage.Blobs/12.4.4
https://www.nuget.org/packages/Azure.Storage.Common/12.4.3

[2020-06-05 00:09] #11503 closed

[2020-06-05 00:14] heaths opened #12530 "Rename AnalyzeRequest to AnalyzeTextOptions, and add constructor overloads / helpers for required fields"
Per discussion,

- [x] Rename `AnalyzeRequest` to `AnalyzeTextOptions`. `SearchIndexClient.AnalyzeText` should look like: `AnalyzeText(string indexName, AnalyzeTextOptions options, ...)`.
- [x] Add constructor overloads or other initialization helpers to require `text`, and either `analyer` or `tokenizer` (or, if you want, `analyzerName`, and `tokenizerName`, though I'll open up a separate issue f

[2020-06-05 00:17] pradeepjaladi opened #12531 "[BUG] App Service KeyVault Integration With VNet Integration- Exception Database lookup error"
### Describe the bug
Getting System.Net.Http.HttpRequestException: A non-recoverable error occurred during a database lookup exception when starting the App Service with VNET Integration.

### To Reproduce

- Create a VNet with 2 subnets.

- One subnet for creating KeyVault ( Service Endpoints are Microsoft.KeyVault, Microsoft.Storage)

- One subnet for creating App Service (Service Endpoints are

[2020-06-05 00:21] maririos commented on #11568
Issue https://github.com/Azure/azure-sdk/issues/1395

[2020-06-05 00:21] #11568 closed

[2020-06-05 00:28] maririos commented on #12472
Because errors work different if it is a single vs batch method, we included the error information in the later. https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/textanalytics/Azure.AI.TextAnalytics#return-value-collection

[2020-06-05 02:02] xccc-msft commented on #12065
As discussed with Alex, they will not make any changes on ClientRuntime at this point. They would plan to support this in new Azure.Core library.

For now, the workaround could be:
[code]
The value of `retryCount` would determine how many times to retry when getting invalid response like 504. In another word, the polling could be resumed once the `retryCount` is large enough.

[2020-06-05 02:06] heaths opened #12536 "Rename properties and parameters for analyzer, tokenizer, and synonymMaps to *Name(s)"
To be consistent with past renames for SearchField, SearchIndex, et. al, please make sure that all properties and parameters of type `LexicalAnalyzerName` or `LexicalTokenizerName`, and any string or string[] parameters for synonym map name(s) end in "Name" or "Names", as appropriate.

The following list was generated from .NET. Some renames have already been done, but please check in your code al

[2020-06-05 03:54] #12486 closed

[2020-06-05 03:54] #12530 closed

[2020-06-05 03:54] #12536 closed

[2020-06-05 06:34] MathewsNyirongo commented on #3821
Could this issue be reopened please. I'm facing the same problem. The exception is thrown when I use a self-signed certificate generated in keyvault. But when I use a certificate generated on my local machine the problem goes away. I, however want to use the keyvault-generated certificate because it offers me the auto-renew option which is very handy.

[2020-06-05 09:34] shawnxzq commented on #5004
This is a known issue, we already have work item to track this.

[2020-06-05 12:29] watermelonpizza opened #12545 "[BUG] DownloadAsync on a Blob with HttpRange of 0- doesn't forward header to azure which causes the client to download the whole file"
**Describe the bug**
When calling `DownloadAsync` on a `BlobClient` passing through a `HttpRange` of `0` offset and `null` length (the default request a browser will make on initial contact) causes the range or `x-ms-range` header to be ignored and will cause the consumer of the DownloadAsync call to download the entire file with a response of 200 OK instead of 206 Partial Content.

**Expected beh

[2020-06-05 13:27] kinelski commented on #11882
Missing tests have already been identified and will be added as part of #12438. Closing this issue.

[2020-06-05 13:27] #11882 closed

[2020-06-05 13:35] kinelski commented on #12138
Just closed #11882 since we already have a list of scenarios that languages can contribute to.

#12438 requires us to add new test scenarios, and maybe update a few of them to align with other languages.

#12138 implies changes to our testing infrastructure, and updates in existing tests (probably making them simpler and uniform).

I prefer keeping them separate since they have different goals.

[2020-06-05 13:38] kinelski commented on #12321
We have closed a similar issue: #12021.

This one depends on the outcome of CodeGen's discussion (linked in the description). If they decide to keep `int` as the default integer type, it can be closed with no action.

[2020-06-05 16:07] #12322 closed

[2020-06-05 16:28] pakrym opened #12546 "Add an auto updated list of latest package versions for ApiCompat"
Currently we run ApiCompat against packages listed in https://github.com/Azure/azure-sdk-for-net/blob/master/eng/Packages.Data.props

Because this list is also used for dependency version management in the repo it forces us to lift dependencies of shipping package just to be able to run ApiCompat against them.

It's also very easy to forget that this version needs updating after shipping.

This sh

[2020-06-05 16:33] weshaggard commented on #12546
I'll take a look at adding this as part of our package index updating.

[2020-06-05 17:51] jsquire opened #12548 "Event Hubs Client Library for .NET - August Milestone"
For general summary and goals, please see: [Release Event Hubs Track 2 Updates (#1393)](https://github.com/Azure/azure-sdk/issues/1393).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning for the next milestone
- [x] Design

[2020-06-05 17:58] jsquire opened #12549 "Review and update documentation (August Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2020-06-05 18:01] jsquire opened #12551 "Create and revise samples (August Milestone)"
# Summary

In preparation for the current milestone release of the Event Hubs client libraries, the samples which accompany them should be extended to include new features, maintain accuracy in the face of changes, and cover relevant scenarios.

# Scope of Work

- All samples should be reviewed and updated to reflect the current design.

- All samples should be reviewed and updated to reflect the

[2020-06-05 18:55] jsquire opened #12555 "Custom Endpoint Address Support"
# Summary

When using an Express Route circuit, there are some configurations which are not able to open the initial connection to the Event Hubs service using the fully qualified namespace as the connection endpoint.  In these cases, a custom endpoint address is needed to ensure the correct routing for the connection, but should only be used when first establishing the connection; after that poin

[2020-06-05 19:07] smithago commented on #12445
thanks @amnguye. @seanmcc-msft   any updates on the other 2 questions?

[2020-06-05 19:17] #11071 closed

[2020-06-05 19:56] danieljurek opened #12557 "Smoke Test found error with Storage tests on Azure Stack"
Error creating a blob:

[code]

Work with @danieljurek to set up repro credentials once this is assigned. Updated smoke test code in: https://github.com/Azure/azure-sdk-for-net/tree/djurek/smoke-stack

[2020-06-05 19:56] danieljurek opened #12558 "Smoke Tests found error with Key Vault tests on Azure Stack"
Error creating a secret (might be related to Identity because we're using AAD auth):

[code]

Work with @danieljurek to set up repro credentials once this is assigned. Updated smoke test code in: https://github.com/Azure/azure-sdk-for-net/tree/djurek/smoke-stack

[2020-06-05 20:02] JoshLove-msft opened #12559 "Add CI validation to ensure sample links use absolute links"
Sample readme pages defined in the repo get uploaded to the docs sample site. However the corresponding sample md files are not uploaded to the docs site. Thus using relative links results in broken links on the docs site:
https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-net/azuresecuritykeyvaultkeys-samples/
https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-net/azurestorage

[2020-06-05 21:10] maririos commented on #12473
PR https://github.com/Azure/azure-sdk/pull/1401

[2020-06-05 21:13] maririos commented on #12438
Is there a list for the missing tests?

[2020-06-05 21:23] maririos opened #12561 "Update readme"
- [ ] Change package version
- [x] Any other necessary updates -> covered by changes after UX study

[2020-06-05 21:25] maririos opened #12562 "Write release notes"

[2020-06-05 21:26] maririos opened #12563 "Update service version"
When the service releases their GA version, and we consume it, we need to update our docs/samples to match service version

[2020-06-05 21:28] #12427 closed

[2020-06-05 21:40] jsquire opened #12564 "Design for a ConnectionStringBuilder Abstraction"
# Summary

In past versions of the Event Hubs client library, an abstraction existed to allow connection strings to be constructed from their individual elements.  When planning for track two, it was determined that there was little need for a builder; support was needed for connection strings returned from the portal and CLI clients only.

Now that SAS token support is being reintroduced, there s

[2020-06-05 21:50] #12472 closed

[2020-06-05 21:50] #12513 closed

[2020-06-05 21:54] #11473 closed

[2020-06-05 21:56] #11411 closed

[2020-06-05 21:57] maririos opened #12565 "Release package"

[2020-06-05 21:58] jsquire opened #12566 "Extend logging for better correlation and retry visibility"
# Summary

Each of the core Event Hub client and primitive types are instrumented to perform operation-level logging using the [`EventHubsEventSource`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/src/Diagnostics/EventHubsEventSource.cs), and following the pattern of capturing Start, Stop, and Exception flow, as well as important context for the spe

[2020-06-05 22:32] #12473 closed

[2020-06-05 23:43] pakrym commented on #8503
What's the plan here?

[2020-06-06 04:12] ahamad-MS commented on #12252
Thanks for the suggestion @SeanFeldman  .. I took care of that as part of this PR for adding the new GA for management SDK. https://github.com/Azure/azure-sdk-for-net/pull/12576

HTH
thanks
Ashraf

[2020-06-06 05:53] cosin2008 opened #12580 "NullReferenceException in Overlapped.Free in BlobRestClient"
**Query/Question**

We are running some Blob R/W operation (v12.4.2) in Azure function app (v3). However, we found it will throw exception timely like below. The error is not just related  BlobLeaseClient but also in BlobClient. Since there is no special logic of our usage, we want to understand if this is bug within Azure Blob SDK and will this issue lead az func app crush or stuck?

Microsoft.Az

[2020-06-06 08:00] #11463 closed

[2020-06-06 09:14] bjorn-ali-goransson opened #12582 "[FEATURE REQ] Expose the corresponding <Url> on BlobItem"
**Library or service name.**
Azure.Storage.Blobs

**Is your feature request related to a problem? Please describe.**
When enumerating blobs in a container, the XML response actually contains the blob URI [from what I gather](https://docs.microsoft.com/en-us/rest/api/storageservices/enumerating-blob-resources). But the BlobItem does not contain that property.

So, the only way (?) to generate the b

[2020-06-06 09:56] verbedr commented on #12287
This problem existed in v11 of the library and was solved with a PR request from me but totaly ignored.  https://github.com/Azure/azure-storage-net/pull/917

[2020-06-06 16:31] henriblMSFT opened #12584 "[QUERY] unit testing GetBlobLeaseClient().AcquireAsync"
**Query/Question**
How are we expected to test BlobLeaseClient.AcquireAsync given that GetBlobLeaseClient is an extension method.

[code]

While it is possible to pass in a mock of BlobBaseClient the method GetBlobLeaseClient() is an extension method and cannot be mocked. it builds a concrete   lease client:
[code]
attempting to call AcquireAsync on a BlobLeaseClient built from a mocked BlobBaseCl

[2020-06-06 16:50] henriblMSFT opened #12585 "[FEATURE REQ] Provide default values for BlobsModelFactory.BlobsProperties"
**Library or service name.**
What library or service is this request related to? Azure.Storage.Blobs

The current implementation of BlobsModelFactory.BlobsProperties does not provide any default implementation so every single parameter need to be specified even if only  a subset of properties are relevant for the test.

[code]

providing defaults would allow writing more concise tests:
[code]

[2020-06-06 16:53] henriblMSFT opened #12586 "[FEATURE REQ] provide defaults for BlobsModelFactory.BlobItemProperties accessTierInfered"
**Library or service name.**
What library or service is this request related to? Azure.Storage.Blobs

**Is your feature request related to a problem? Please describe.**
accessTierInfered doesn't have a default value and always need to be specified in unit tests
What feature would you like to get added? What problem is it solving?
provide default values to make unit tests cleaner.

[code]
would bec

[2020-06-07 04:19] warnov commented on #9823
That solution is a little bit obscure. It would be great having an intuitive option like in the last version.

[2020-06-07 05:36] heaths opened #12588 "Broken link in Configuration README"
In https://github.com/Azure/azure-sdk-for-net/blob/Azure.Extensions.AspNetCore.Configuration.Secrets_1.0.0/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/README.md, the link under "Next Steps" to https://github.com/Azure/azure-sdk-for-net/blob/Azure.Extensions.AspNetCore.Configuration.Secrets_1.0.0/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/aspnetcore_config

[2020-06-07 05:37] heaths commented on #12531
Are you able to switch to our newer package, Azure.Extensions.AspNetCore.Configuration.Secrets? Besides the benefits at https://aka.ms/azsdkvalueprop, it has a more robust HTTP pipeline. We're making only critical fixes to the older code base.

It's usage is similar. See its [README](https://github.com/Azure/azure-sdk-for-net/tree/Azure.Extensions.AspNetCore.Configuration.Secrets_1.0.0/sdk/extensi

[2020-06-07 13:33] Oredna opened #12589 "[BUG] Azure.Storage.File.Shares: ClearRange may be causing issues with Word files"
**Describe the bug**
When using the  Azure.Storage.Files.Shares i try to get file from cloud, then ClearRange(), and UploadRange(). After that the file won't open in Microsoft Word. But when I use Create() first, then use ClearRange() and UploadRange(), the file functions normaly. So the bug is only for files uploaded to the Azure Storage manualy. If i do it tru the library it works fine. I have t

[2020-06-08 05:49] Marimoiro opened #12595 "[QUERY] BlobServiceClient.GetUserDelegationKeyAsync throw "The value for one of the XML nodes is not in the correct format." error"
**Query/Question**

Our below code throw "The value for one of the XML nodes is not in the correct format." error

[code]

![image](https://user-images.githubusercontent.com/5342721/83995638-e3c7d680-a994-11ea-8adf-21fa600966f2.png)

I can understand an authentication error, but I can't imagine any reason for an XML error.
What could it be?

I think I'm done configuring the application and setting

[2020-06-08 08:28] maciej-sielski commented on #6172
@corygehr you are right. I had to remove the account from VS (not sign out). I've also cleaned files in %userprofile%\AppData\Local\.IdentityService folder

[2020-06-08 14:10] slandsaw commented on #11619
Some of our devs are experiencing the same issue. I would be very interested in any updates on this issue.

[2020-06-08 14:28] mjaow opened #12597 "[BUG] Thread not safe when SetDefaultAgentInfo in Microsoft.Rest.ServiceClient"
**Describe the bug**

I was using a singleton http client to create ContainerInstanceManagementClient instance and then get container group from azure container instance server.But sometimes, it throw out ArgumentNullException like this
[code]
here is my source code

![image](https://user-images.githubusercontent.com/8275883/84040478-45a83080-a9d5-11ea-8475-ad47b1ee1d4c.png)

![image](https://user

[2020-06-08 15:53] danielmarbach commented on #11399
@jsquire I think I found the culprit, see

https://github.com/Azure/azure-amqp/issues/158

Maybe that helps

[2020-06-08 15:56] danielmarbach commented on #11399
maybe the above comment is also of interest for you @nemakam @JoshLove-msft @ShivangiReja

[2020-06-08 16:19] pakrym opened #12599 "Synapse - failing tests"
[code]

https://dev.azure.com/azure-sdk/public/_build/results?buildId=416133&view=logs&j=9cfc3b0b-53b1-524f-85ed-0ef4880bef82&t=277ae693-9b68-5ef5-d666-bb5a558e8cc2

[2020-06-08 16:33] pakrym opened #12600 "Skip.Test pipeline setting doesn't work correctly"
If `Skip.Test` is set on the pipeline test run would only be skipped for that individual PR CI run but tests would still try to run as part of `core - CI` runs.

If there are breaking tests they would fail in `core - CI` runs and not in individual service runs.

[2020-06-08 16:46] maririos commented on #12395
PR https://github.com/Azure/azure-sdk/pull/1408

[2020-06-08 17:05] weshaggard commented on #12600
@chidozieononiwu why did you set Skip.Test in https://dev.azure.com/azure-sdk/public/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=1578&view=Tab_History? That should never be used to disable tests, it is only used for testing pipeline changes.

[2020-06-08 17:08] jsquire commented on #12286
Thank you, @asrosent.   I appreciate the thorough additional context; it's definitely helpful.  I'm not quite sure yet whether there's an underlying issue or we're seeing some normal behavior.   I'd like to offer a bit more detail into some of what my thought process is and what behaviors should be expected.   Because that's likely to be a bit long,  I'll first ask for a bit of help, if you're wil

[2020-06-08 17:26] pakrym opened #12601 "Document lifetime and thread safety best practices for Track 2 clients."

[2020-06-08 17:30] chidozieononiwu commented on #12600
I added that to unblock a preview release of the synapse library. The build was failing because they did not have any tests and their service was purely code generated. It was supposed to be temporary. I will go ahead and undo that.

[2020-06-08 17:49] #12431 closed

[2020-06-08 18:25] jsquire commented on #11399
Wow.  That is a solid catch!  I've been making the assumption that it was in the client library level and haven't yet found anything that would fit the cause.  This sure does seem to explain why the behavior is only observed during periods without events flowing through the system.  This is fantastic, @danielmarbach.  I can't tell you how much we appreciate the assist here!

//fyi: @serkantkaraca,

[2020-06-08 19:53] AlexGhiondea commented on #12065
Thanks @xccc-msft for the workaround! Closing the issue for now.

[2020-06-08 19:53] #12065 closed

[2020-06-08 20:07] jsquire commented on #9322
Closing this out, since the fix has been merged.

[2020-06-08 20:07] #9322 closed

[2020-06-08 20:16] Jandev commented on #10242
I just stumbled across this issue after researching the issue I had. I'm using the `Azure.Storage.Queues` v12.3.2 packages.
My Azure Function is running on the `Microsoft.Azure.WebJobs.Extensions.Storage` v4.0.1 package and indeed see this message.

The message is also thrown in Visual Studio using the Cloud Explorer and navigate to a queue which holds messages sent via the `Azure.Storage.Queues`

[2020-06-08 20:31] maririos commented on #11462
Included as part of https://github.com/Azure/azure-sdk-for-net/issues/12478

[2020-06-08 20:31] #11462 closed

[2020-06-08 20:46] christothes opened #12613 "RBAC - Consider simplifying construction of RoleAssignmentProperties"
Can we combine these and make them easier to construct? If Scope is null, then there's no scope. For construction, can they pass in a `RoleDefinition` instead? How do they get the `principalId`?

[2020-06-08 21:08] pakrym commented on #12033
Copying my answer from another thread:

[2020-06-08 21:38] #12395 closed

[2020-06-08 21:45] tg-msft commented on #8699
For `Azure.Search.Documents`, we're keeping everything as `object[]` until you ask for it as another type of array.  It's the same as keeping `"NaN"` a string until you ask for it as a `double`.  Once we have proper `dynamic` support in `Azure.Core.Experimental`, you should be able to cast to whatever you want and it'll "just work."  Moving this to the backlog for now and we'll close it out once w

[2020-06-08 23:06] marcre opened #12623 "[BUG] Azure.Storage.Blobs.Models.AccountKind missing BlockBlobStorage"
**Describe the bug**

The AccountKind enum is missing BlockBlobStorage.  If you do GetAccountInfo with a block blob account it throws an exception

**Expected behavior**

Return the correct account type

**Actual behavior (include Exception or Stack Trace)**

Throws an exception rather than report correct account kind

**To Reproduce**

 var blobServiceClient = new BlobServiceClient(<connection st

[2020-06-08 23:19] JoshLove-msft opened #12624 "Update dependency to latest version of AMQP"
Particularly after the fix to https://github.com/Azure/azure-sdk-for-net/issues/11399 is released, but even aside from that we should try to update to the [current](https://www.nuget.org/packages/Microsoft.Azure.Amqp/) version.

[2020-06-08 23:44] amnguye commented on #12511
Hi,

Just to clarify Parent id of Application Insights is the equivalent to the request id(x-ms-request-id) of the request to storage? Also another clarification when you mean multiple requests from the same parent id, do you mean when you do a large Upload or Download, and there's multiple requests that need to go to storage, you're saying that they should all have the same parent id?

Does this

[2020-06-08 23:50] amnguye commented on #12557
Hi,

I'm a little confused. The stack trace you attached looks like its related to the Java SDK, but your smoke test code is in .NET

Could you provide more into how to reproduce your issue? I visited your forked repository and skimmed your contributed commits, however I could not find an easy way to reproduce your issue.

From the error code you are getting back from the service is that one your

[2020-06-08 23:53] jegour commented on #12511
The Parent Id is not equivalent to the request to storage. That is would be the id of the "dependency" log. The parent id is equivalent to the request id of the request from which the request to storage was made. To help clarify, if I have controller that makes a call to the blob storage using the blob client SDK, the parent id would be the request id of the request to the controller.

In terms of

[2020-06-08 23:59] amnguye commented on #12511
Hi,

I can see why you think the Azure Blob Storage Client SDK would be the cause to this problem, due to upgrading from v11 to v12 not having the same results in Application Insights. However in the Azure Storage Client libraries, **we don't have any control over setting the parent id in Application Insights.** This is starting to sound more and more like Application Insights has not adapted to t

[2020-06-09 00:06] jegour commented on #12511
Ok so who would I submit the bug too then?

[2020-06-09 00:06] amnguye commented on #12511
Hi,

Sorry I deleted my previous message when I should have just editted it.

I can see why this looks like a regression bug against v12, when v11 was giving you the parent id you were expecting. However Azure Blob Storage Client SDK does not set the parent id in Application Insights. It also does not have access to the controller that makes the call to Blob Storage.

So when making multiple reque

[2020-06-09 00:08] jegour commented on #12511
The confusion for me is it rooted specifically in the new SDK. So clearly something changed that would need to be communicated from storage SDK to the Application Insights team. I worry if I just file a bug to Application Insights they're goin to tell me that I need to talk to storage SDK since updating the SDK caused it.

[2020-06-09 02:07] tg-msft commented on #10593
Moving to the backlog because we don't have enough information today to determine the "key" column of a document.  We _might_ at some point in the future when we add FieldBuilder.  Until then folks will have to map `string Key` to their documents by hand if they want to be paranoid about response ordering.

[2020-06-09 02:28] JoshLove-msft commented on #11879
Marking as 10 initially as there is a good deal of ambiguity as to what needs to be done here and how long it will take. From EH experience, this ended up taking a good chunk of time.

[2020-06-09 02:31] JoshLove-msft opened #12632 "Settle on naming and location of the management client"
Currently, we are using ServiceBusManagementClient. This conflicts with the ARM Track 1 client. One idea that had some traction is ServiceBusNamespaceManager that would be created off of the ServiceBusClient. Another idea is ServiceBusNamespaceManagerClient that would be a top level client.

[2020-06-09 02:48] yungezz commented on #12266
this is an issue in Track1 runtime auth lib, hi @danielmarbach do  you know whos' right owner of Track1 Authlib now?

[2020-06-09 03:22] maririos commented on #11529
FYI https://github.com/Azure/azure-sdk-for-net/pull/12626

[2020-06-09 03:27] #11162 closed

[2020-06-09 03:45] #10613 closed

[2020-06-09 04:33] mjaow commented on #12597
If user keep and reuse http client, the SetDefaultAgentInfo method is safe only if the ContainerInstanceManagementClient(sub class of ServiceClient) is reused.

But ContainerInstanceManagementClient should be create with token and subscription id.It seems impossible to keep ContainerInstanceManagementClient  if your service server different subscriptions

From this view,the SetDefaultAgentInfo see

[2020-06-09 05:00] GeeWee commented on #12388
I've upvoted at the link - and if that's the only place where you take this kind of feedback, I guess this can be closed.

[2020-06-09 06:41] #12189 closed

[2020-06-09 06:56] danielmarbach commented on #12266
@yungezz not sure why I got pinged here, maybe because I contributed to the code? sorry I have not context other than being some rando from time to time contributing some code 👯‍♂️

[2020-06-09 07:00] yungezz commented on #12266
sorry for ping.  Yes I found your contribution from history. 😊

[2020-06-09 07:36] pintse opened #12643 "[BUG] foreach Azure.Pageable<BlobItem> then throw System.FormatException"
**Describe the bug**
Please provide the description of issue you're seeing.

I refer to the [tutorial ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet#list-the-blobs-in-a-container) to write the code to upload blob to iot edge mcr.microsoft.com/azure-blob-storage:latest module and to list the blob in the container.
[code]

It throws the "Unhandled exception. S

[2020-06-09 08:39] chnyda opened #12645 "[FEATURE REQ] How can I check valid azure credentials"
I have following code which I am getting virtual machines.

[code]

I have also checker method which I would like check when creating azure credentials for my db, is it good credentials or not. I have to use only tenantId, subscriptionId, clientId, clientSecret (or one of them), no url or something else. In above case if I try bad credentials (for ex: test for every field) it will success anyway,

[2020-06-09 09:24] Tianyun-G opened #12646 "[Azure.Extensions.AspNetCore.DataProtection.Blobs] Readme content and sample code of Azure.Extensions.AspNetCore.DataProtection.Blobs is incorrect"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Blobs#next-steps)
![image](https://user-images.githubusercontent.com/65581162/84124486-dfbbb780-aa6d-11ea-8ea9-e81f3beab8f3.png)

Reason:  Link is useless.

[2020-06-09 09:24] Tianyun-G opened #12647 "[Azure.Extensions.AspNetCore.DataProtection.Keys ] Readme content and sample code of Azure.Extensions.AspNetCore.DataProtection.Keys is incorrect"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/extensions/Azure.Extensions.AspNetCore.DataProtection.Keys#install-the-package)
![image](https://user-images.githubusercontent.com/65581162/84125005-886a1700-aa6e-11ea-8371-c415773f39a2.png)

Reason:  Link is useless.

Suggestion: We should change it to https://www.nuget.org/packages/Azure.Extensions.AspNetCore.DataProtec

[2020-06-09 09:25] Tianyun-G opened #12648 "[Azure.Extensions.AspNetCore.Configuration.Secrets] Readme content and sample code of Azure.Extensions.AspNetCore.Configuration.Secrets is incorrect"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets#install-the-package)
![image](https://user-images.githubusercontent.com/65581162/84121430-bef16300-aa69-11ea-83d8-79d49dc279f7.png)

Reason: Link is useless.

Suggestion:We should change it to https://www.nuget.org/packages/Azure.Extensions.AspNetCore.Configurat

[2020-06-09 09:25] Tianyun-G opened #12649 "[Azure.Core] Readme content and sample code of Azure.Core is incorrect"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/Azure.Core_1.2.2/sdk/core/Azure.Core#reporting-errors-requestfailedexception)
![image](https://user-images.githubusercontent.com/65581162/84121849-39ba7e00-aa6a-11ea-87b7-a8f038491724.png)

  Suggestion: We should change it to 'and'

2.
Section [Link](https://github.com/Azure/azure-sdk-for-net/tree/Azure.Core_1.2.2/sdk/core/Azure.Co

[2020-06-09 10:48] arolshan commented on #6814
is there a link to documentation or sdk on how to achieve this?

[2020-06-09 10:58] arolshan commented on #6814
@oliverbean i was trying to search this everywher, REST, .NET SDK, and it doesn't exist in any reference. can you provide a link?

[2020-06-09 11:56] pintse commented on #12643
I also post the issue in the [StackOverflow](https://stackoverflow.com/questions/62282020/foreach-azure-pageableblobitem-then-throw-system-formatexception)

[2020-06-09 14:30] MetzenAsh opened #12651 "[BUG] queues string storing sometimes malformed with SendMessage / SendMessageAsync"
![queues-issue](https://user-images.githubusercontent.com/10828662/84157084-30c5ae80-aa62-11ea-8a9a-6c0eddf76252.png)
Some strings end up malformed in the queue. See the screenshot for a set of strings in my sqlite table (left) and how they end up in my emulator's queue.
- the same behaviour with both azure storage emulator and actual azure cloud account
- the same behaviour with both SendMessage

[2020-06-09 14:45] annelo-msft opened #12653 "Update Receipt Design"
- Remove RecognizedReceipt class
- Return RecognizedForm collection from StartRecognizeReceipts

Let's also:

- Add back FormField\<T\>
- Provide a sample that shows how to create a strong type for Receipts (similar to the old USReceipt class, but probably call it Receipt for now) and convert RecognizedForm through wrapper methods, highlighting this as the recommended approach for third-party exte

[2020-06-09 14:49] annelo-msft opened #12654 "Review FormRecognizer API Updates for .NET with Arch Board"
APIs that changed between P2 and P3 can be seen here:

https://apiview.dev/Assemblies/Review/cf2c57b3d4c44ef08c2e8284f7441a2d?diffRevisionId=7b88eaab713441088064a69b39977518#Azure.AI.FormRecognizer.Models.RecognizeReceiptsOperation

Arch board issue is here:
https://github.com/Azure/azure-sdk/issues/1409

[2020-06-09 14:51] annelo-msft opened #12655 "Move Receipt snippet to end of README"
We originally put the [Recognize Receipts](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/formrecognizer/Azure.AI.FormRecognizer#recognize-receipts) snippet as the first snippet in the README because it was short and simple and easy to get started with.  Now that it's more complex, let's put it between Recognize Custom Forms and Train a Model.

[2020-06-09 14:54] #10594 closed

[2020-06-09 15:37] Rolorob commented on #8658
I'm having exactly the same issue as alhardy. Not sure what is going wrong.
But I do have the full calls tack:

`Azure.Identity.AuthenticationFailedException
  HResult=0x80131500
  Message=DefaultAzureCredential authentication failed.
  Source=Azure.Identity
  StackTrace:
   at Azure.Identity.DefaultAzureCredential.<GetTokenImplAsync>d__11.MoveNext()
   at System.Runtime.ExceptionServices.Exceptio

[2020-06-09 15:47] #10610 closed

[2020-06-09 16:11] annelo-msft commented on #12438
@kinelski, could you link to the list of tests you identified as part of #11882?

[2020-06-09 16:32] pakrym commented on #12599
Fixed by #12625

[2020-06-09 16:32] #12599 closed

[2020-06-09 16:33] #11484 closed

[2020-06-09 16:42] #10848 closed

[2020-06-09 17:08] ctrlaltdan opened #12657 "[QUERY] Unable to connect to EventHub using Managed Identity"
The `Microsoft.Azure.EventHubs` (old) package accepts the connection string `Endpoint=sb://mynamespace.servicebus.windows.net/;Authentication=Managed Identity` whereas the `Azure.Messaging.EventHubs` (recommended) package seems to not support this feature.

`Azure.Messaging.EventHubs` returns the error:

We can see the error being raised when parsing the connection string here:

https://github.com

[2020-06-09 17:23] pakrym commented on #12646
Disagree with the uselessness of the link, it gives some context on the system this package integrates with.

[2020-06-09 17:23] #12646 closed

[2020-06-09 17:36] seanmcc-msft opened #12660 "Allow ignoring volatile query parameters in test framework"
I'm attempting to generate random(ish) block ids to address https://github.com/Azure/azure-sdk-for-net/issues/8162

When add add blockid to https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Common/tests/Shared/StorageRecordMatcher.cs#L42, it is ignored, and the test framework continues to check blockid in the test recordings.

[2020-06-09 17:37] tg-msft commented on #12660
We'd need a change in the [Azure.Core Test Framework's RecordMatcher](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core.TestFramework/src/RecordMatcher.cs#L83) to get this working.

[2020-06-09 18:28] seanmcc-msft commented on #12623
Hi @marcre, I can repo the issue, and we'll work on getting a fix out soon.

[2020-06-09 18:40] heaths commented on #12083
Leaving unassigned till we can schedule this work.

[2020-06-09 18:54] seanmcc-msft commented on #12586
Hi @henriblMSFT, we'll work on getting a fix out soon.

[2020-06-09 18:55] amnguye commented on #12545
@kasobol-msft Could you take a look at this?

[2020-06-09 18:56] amnguye commented on #12580
@kasobol-msft Could you take a look at this? This could be related to the issue that was fixed in Core a while ago.

[2020-06-09 19:07] amnguye commented on #12582
Hi,

Yes, there isn't a way to get the `Uri` from a `BlobItem`. Can I ask what you are trying to achieve from this? Are you trying to easily make a `BlobClient` after making a `GetBlobs(...)` call on a Container? Is the `container.GetBlobClient(blobName)` insufficient? What is needed by getting the Uri?

Maybe a current mitigation for this can be
[code]

[2020-06-09 19:07] pakrym commented on #12580
https://github.com/dotnet/runtime/issues/1218

[2020-06-09 19:14] amnguye commented on #12584
@seanmcc-msft Could you take a look at this? Looks like they're trying to make Mock Unit tests. This might be a feature request or bug. But at the same time there might not much we can do with changing what object we return for the `GetBlobLeaseClient`.

[2020-06-09 19:19] amnguye commented on #12585
Hi,

I think it wasn't our initial intention to allow users to create `BlobProperties`. We intended the `BlobProperties` model to require all those parameters because those properties are required when returning from a `GetProperties` call. However I can see how this can be useful for unit tests and verifying information.

@seanmcc-msft @kasobol-msft What do you think about this?

[2020-06-09 19:24] seanmcc-msft commented on #12585
@amnguye I think this is for unit testing

@henriblMSFT I'll look into fixing this.

Related https://github.com/Azure/azure-sdk-for-net/issues/12586

[2020-06-09 19:31] seanmcc-msft commented on #12584
@amnguye, sure.

[2020-06-09 19:45] seanmcc-msft commented on #12586
This may require a generator change, making accessTierInfered in the swagger readme switches the type from a bool to a bool?, which I believe is breaking.

[2020-06-09 19:50] #12092 closed

[2020-06-09 19:50] seanmcc-msft commented on #12584
I believe the solution would be to return a mock BlobLeaseClient from the mock BlobBaseClient, and setup the mocked BlobLeaseClient with the parameters you expect to be passed it.

[2020-06-09 19:51] #11724 closed

[2020-06-09 19:53] seanmcc-msft commented on #12585
This may require a code generator change, which would make this a non-trivial change.

[2020-06-09 19:53] JoshLove-msft commented on #12624
/cc @jsquire in case we want to do this for EH as well.

[2020-06-09 20:00] SeanFeldman commented on #12092
@JoshLove-msft may I suggest adding an indication that the issue was not closed as 'withdrawn' but rather implemented? This can be done either by leaving a comment such as

or by having PR description saying

And when PR is merged, the corresponding work issue will be automatically closed with a reference to the PR. Thank you 🙂

[2020-06-09 20:01] SeanFeldman commented on #11724
Given that " Design for supporting various AMQP data types for message body" and "Finalize API changes", are those tracked separately or elsewhere? Thank you.

[2020-06-09 20:02] JoshLove-msft commented on #12092
Sorry about that. Thanks for adding the link @SeanFeldman!

[2020-06-09 20:03] SeanFeldman commented on #11878
`ServiceBusManagementClient` was implemented, no?

Similar comment to https://github.com/Azure/azure-sdk-for-net/issues/12092#issuecomment-641538461. It's a public repository. Having some context helps. 🙂

[2020-06-09 20:04] JoshLove-msft commented on #11878
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/12484

[2020-06-09 20:04] #11878 closed

[2020-06-09 20:06] JoshLove-msft commented on #11724
Yep, outstanding items have been moved to new Epic - https://github.com/Azure/azure-sdk-for-net/issues/12384

[2020-06-09 20:07] SeanFeldman commented on #11724
Now it's crystal clear 😃
Merci!

[2020-06-09 20:35] bjorn-ali-goransson commented on #12582
It's not insufficient per se, it just feels like the long way around something that is indeed returned in a single request. Right now, generating the URLs for 20 or so blobs takes more than a second 😱

The purpose for me doing this is to do an image selector like this for my CMS. It's working, it just feels way too slow.

![image](https://user-images.githubusercontent.com/668160/84197025-80779a80-

[2020-06-09 20:37] bjorn-ali-goransson commented on #12582
Wait! scratch the time aspect of my message. I was confusing it with getting the content length of a blob. Sorry!

[2020-06-09 20:43] #10944 closed

[2020-06-09 20:43] #10591 closed

[2020-06-09 20:43] #10596 closed

[2020-06-09 20:43] #10601 closed

[2020-06-09 20:43] #10606 closed

[2020-06-09 20:43] #10609 closed

[2020-06-09 20:57] #12647 closed

[2020-06-09 20:57] #12648 closed

[2020-06-09 21:17] henriblMSFT commented on #12584
@seanmcc-msft  this is exactly my issue.
I'm attempting to return a mock BlobLeaseClient but I'm not sure how to do that without creating a BlobLeaseClientFactory and bypassing the call to GetBlobLeaseClient() altogether.
[code]

According to the SDK guideline found here the library should support mocking:
https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking

It seems that the

[2020-06-09 21:23] maririos commented on #12565
Released https://www.nuget.org/packages/Azure.AI.TextAnalytics

[2020-06-09 21:23] #12565 closed

[2020-06-09 21:23] maririos commented on #11947
Text Analytics 1.0.0 released https://www.nuget.org/packages/Azure.AI.TextAnalytics

[2020-06-09 21:23] #11947 closed

[2020-06-09 21:25] kasobol-msft commented on #12545
@watermelonpizza I'm not sure what you're trying to achieve by sending `0-` range as it by definition means "send me all bytes from position 0 to the end of the blob" (that's the reason we treat this equally with range not being specified at all).

Consider the following samples with and without `0-` range:

![image](https://user-images.githubusercontent.com/61715331/84201687-e7269500-aa5c-11ea-96

[2020-06-09 22:19] amishra-dev commented on #12580
@pakrym is there a workaround?

[2020-06-09 22:20] pakrym commented on #12580
No sure, just an issue that seemed related.

[2020-06-09 22:44] JoshLove-msft opened #12672 "Update Release notes and samples for Preview 4"
This work item covers the work needed to update the release notes for the P4 release in addition to ensuring our samples cover all new functionality added as part of P4.

[2020-06-09 22:50] ritwik8119 commented on #9350
Yes, the specified approach should work. Calling update method with the modified action group will succeed, as long as the newly added receiver (the webhook receiver in the above example) matches the data contract for that receiver.

[2020-06-09 22:54] tg-msft commented on #10592
We've shipped this in Search so I'm removing it from our epic.  Feel free to close the issue unless you want it for tracking.

[2020-06-10 00:06] kasobol-msft commented on #12580
Looks like Azure Functions v3 (what customer is using) run on .NET Core 3.X https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions .
The stack trace is consistent with https://github.com/dotnet/runtime/issues/1218#issuecomment-569933805 .

[2020-06-10 00:14] nemakam commented on #7433
@Homulvas, this is by design. The token is cancelled only when the client is closed.
There's another issue which is tracking the same feature request - https://github.com/Azure/azure-sdk-for-net/issues/12461.
Kindly use that for tracking purposes.

[2020-06-10 00:14] #7433 closed

[2020-06-10 00:22] nemakam commented on #11192
@Sandeep321 , Since this is the same ask as the #9473, we can track this feature request in the other issue.
For now, you could also consider completing the message and sending a scheduled message within a transaction.

[2020-06-10 00:22] #11192 closed

[2020-06-10 01:07] #12211 closed

[2020-06-10 01:09] erich-wang commented on #12208
@jsquire, close the issue as the name was updated to EventHubs and change has been merged into master.

[2020-06-10 01:09] #12208 closed

[2020-06-10 01:11] erich-wang commented on #11041
namespace was registered

[2020-06-10 01:11] #11041 closed

[2020-06-10 01:16] tzhanl commented on #12646
@pakrym we meant the link is not available.

[2020-06-10 01:17] axisc commented on #11802
@ig-sinicyn thanks, noted! No timelines to share yet but it's on our backlog.

[2020-06-10 01:18] axisc commented on #11798
Our documentation pipelines had an issue at the time and have been fixed. Can you check and let us know if you still see the issue?

Thanks

[2020-06-10 02:01] pintse commented on #12643
This an XML from GetBlobs() caught through fiddler. The "Creation-Time" is null.

[code]

[2020-06-10 02:07] yungezz commented on #12645
hi @xccc-msft could you pls have a look? thanks.

[2020-06-10 02:16] isra-fel commented on #10014
@jfggdl Hi, this is a feature request to the management plane SDK of Event Hub to expose this[ REST API ](https://docs.microsoft.com/en-us/rest/api/eventhub/get-partition-runtime-metadata). Could you consider and prioritize  it? Thank you.

[2020-06-10 03:26] krispenner commented on #8794
Similarly I would like to create service principal app role assignments. This is nearly identical to the user flow requested, please add this at the same time. [New-AzureADServiceAppRoleAssignment](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadserviceapproleassignment?view=azureadps-2.0)

For completeness, you could also support groups as well, but this is not required for

[2020-06-10 03:47] #9350 closed

[2020-06-10 05:44] pintse commented on #12643
I had tried Azure.Storage.Blobs 12.4.2. It also gots the exception. If the storage is in the cloud(storage account) not on the edge(module), the SDKs both run well.

[2020-06-10 07:12] xinase opened #12684 "[BUG] fix code error in Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromUri.cs"
**Describe the bug**
try to compile the code Azure.AI.FormRecognizer/tests/samples/Sample3_RecognizeCustomFormsFromUri.cs to run.

**Expected behavior**
compiler error

**suggestion **

change these 2 lines:
RecognizedFormCollection forms = await client.StartRecognizeCustomFormsFromUri(modelId, new Uri(formUri)).WaitForCompletionAsync();
foreach (RecognizedForm form in forms)

to:

var forms = awa

[2020-06-10 08:00] #12180 closed

[2020-06-10 09:07] mjaow commented on #12597
@erich-wang can you help review this issue?

[2020-06-10 09:46] vanillajonathan commented on #11798
@axisc I can confirm the issue is still present on the online documentation. [Take a look yourself](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/servicebus/client) and you see the documentation is still missing.

The issue is present in version [Microsoft.Azure.ServiceBus 4.1.3](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/4.1.3) released 2 months ago. Since there have b

[2020-06-10 13:06] tony6636 opened #12686 "[Question] How to create a dynamic alert rule ?"
Hi guys, I need to create a Dynamic Threshold Alert Rule for my Application Insisghts instance. Recently I was creating a static rule:
[code]

but now I need to create a dynamic rule - looking at the json payload for creating a Dynamic Alert Rule for Single Resource https://docs.microsoft.com/pl-pl/rest/api/monitor/metricalerts/createorupdate#create-or-update-a-dynamic-alert-rule-for-single-resour

[2020-06-10 15:00] christothes opened #12688 "[KeyVault] Support Backup and Restore"
Latest swagger is [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json).

[2020-06-10 16:11] AlexGhiondea opened #12694 "Update the tag list for the package"
We need to update the list of tags for the AppConfig package to include:

Data and AppConfig

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/appconfiguration/Azure.Data.AppConfiguration/src/Azure.Data.AppConfiguration.csproj#L7

[2020-06-10 18:48] kzu opened #28659 "Support for returning HTTP status code from EventGrid-triggered function"
According to the [docs on delivery and retries](https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#failure-codes)
for EventGrid, the returned HTTP status code can have a significant (and useful!) effect on the retry policy. It would be quite useful
for a function using the EventGrid binding to be able to report such status codes, yet the documentation only showcases `void`
return

[2020-06-10 22:30] kinelski opened #12701 "[Design] Consider a new options design"
## Summary

[Java's guidelines](https://azure.github.io/azure-sdk/java_design.html#service-method-parameters) contain the following item, which is not present in .NET's:

In case we decide to incorporate it into .NET's, we may need to update the `FormRecognizerClient` service methods:
https://github.com/Azure/azure-sdk-for-net/blob/7505a33db8e32d8eb2756782be327c352509fc6e/sdk/formrecognizer/Azure.

[2020-06-10 22:37] christothes opened #12702 "[KeyVault] Make RBAC models mutable to support full CRUD for RoleDefinitions"
This may be automatically resolved if the service decides to implement full CRUD - the generator will make the types mutable once the change makes it to the swagger.

If not we may do this proactively in anticipation of that change and to support generalization of RBAC.

update: Upcoming generator changes may address this also.

[2020-06-10 22:58] kinelski commented on #12437
Preview 3 has been released: https://www.nuget.org/packages/Azure.AI.FormRecognizer/1.0.0-preview.3

[2020-06-10 22:58] #12437 closed

[2020-06-10 23:24] ahamad-MS commented on #12252
thanks @SeanFeldman  .. I will take care of the V10 typo.. thanks for letting me know.

[2020-06-11 02:38] xccc-msft commented on #12645
@chnyda According to your code snippet, I think you are using [Fluent .NET SDK](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) as you are using `Azure.configure()`.

Please check below for setting up a working client.
[code]
For more details, please check the [AUTH.md](https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md).

[2020-06-11 03:26] weshaggard commented on #12600
Skip.Test has been removed from the synapse pipelines and we should not use that variable for disabling tests as @pakrym states that will just cause issues in other places like the core pipeline. We should disable the tests in the projects themselves not in the pipeline.

[2020-06-11 03:26] #12600 closed

[2020-06-11 03:28] maririos commented on #11680
@kinelski could you provide more information about what from the request body we will need to sanitize?

[2020-06-11 04:16] xinase commented on #12684
i was using preview2.  Today I updated to preview 3 and the errors was gone.

[2020-06-11 04:16] #12684 closed

[2020-06-11 04:19] heaths opened #12708 "Implement full vault backup and restore"
Implement full vault backup and restore based on https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json. Note that restore should probably be implemented as an LRO, which would poll the "pending" endpoint instead of exposing it outright. I have Azure/azure-rest-api-specs#9806 opened to track.

[2020-06-11 06:00] gmantri commented on #12643
Copying my answer from [StackOverflow](https://stackoverflow.com/questions/62282020/foreach-azure-pageableblobitem-then-throw-system-formatexception/62296957#62296957).

---

Reading the documentation about it [`here`][1], basically the issue is that IoT edge uses blob storage modules that are consistent with REST API version 2017-04-17.

Considering this, you will need to use a SDK version that t

[2020-06-11 06:20] watermelonpizza commented on #12545
@kasobol-msft Hmm I guess the upstream server being the azure blobs response difference between the 200 OK and 206 Partial Content would be one of the differences I was expecting.
For example, I was using the azure store response code as the code I would return back to the client `Response.StatusCode = response.GetRawResponse().Status`
(upstream and client being `browser (client) <-> my app <-> az

[2020-06-11 06:55] harelbr commented on #12686
Hi @tony6636, thanks for reaching out.
When using the `IGenericResource` interface, can you please try specifying "global" for the region variable: `.WithRegion("global")`

This should resolve the region issue you're facing.
We will also look into exposing dynamic threshold-related properties in the Fluent API.

[2020-06-11 07:51] steeve49 commented on #6409
@weidongxu-microsoft I tried with the last version (1.33.0) but it doesn't work.
Can you please check my code in my first post please ?
I would like to know if I missed one step.

Context : I already have a resourcegroup (lets say I named it "MyCertRg") with my wildcard ssl certificate

1. I create a new resourcegroup (I name it "MyNewEnvRg")
2. I create an App Plan
3. I create a webApp
4. I try t

[2020-06-11 08:32] weidongxu-microsoft commented on #6409
Let's track it in azure-libraries-for-net https://github.com/Azure/azure-libraries-for-net/issues/961

[2020-06-11 08:35] kibernetik542 commented on #12645
@xccc-msft actually with getting vm-s we have no issue, I would just check is credentials are true or not, not get vm-s (above is just example for getting vms). With new created account it is possible null or empty vms as well, we would like to show users is there credentials are good or not. Regards Arzu.

[2020-06-11 09:08] xccc-msft commented on #12645
@kibernetik542 Okay I got the query. I don't think we have such API to just render a credential validation task for now.

cc: @nickzhums for further investigation/discussion on this.

[2020-06-11 11:51] zodapoplinsky opened #12715 "[QUERY] EnableAmqpLinkRedirect not supported in connection string?"
I'm using a Connection string to connect with the Azure Event Hub.

In order to avoid the usage of TCP ports 104XX Microsoft has [documented](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-bus-messaging/service-bus-amqp-protocol-guide.md) to turn the **[EnableAmqpLinkRedirect](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.amqp.amqptransportset

[2020-06-11 12:40] jsquire commented on #12597
Unfortunately, I'm just the first line triage in this case, helping to tag so that the appropriate folks are able to help.  I've no insight into this area directly.   If @erich-wang isn't able to assist, perhaps @isra-fel or @pakrym would be able to provide an alternate suggestion for routing.

[2020-06-11 13:24] jsquire commented on #12715
Hi @zodapoplinsky.  We're sorry that you're experiencing difficulties and appreciate you reaching out to let us know.

If I understand the context of your question, it looks as if you're using the `Microsoft.Azure.EventHubs` library, and are looking to disable the `EnableAmqpLinkRedirect` feature that the  `Microsoft.ServiceBus.Messaging` provided.  My understanding is that feature was not include

[2020-06-11 14:31] zodapoplinsky commented on #12715
Hi, please review the following [documentation](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/service-bus-messaging/service-bus-amqp-protocol-guide.md#amqp-outbound-port-requirements)

I would like to limit the number of ports used for the EventHub and from what I can read, this feature should exists for the eventhub.

In my code example I'm testing both the  **ServiceBusConnect

[2020-06-11 14:49] jsquire commented on #12715
Thank you for the additional context.

To clarify, the feature exists within the Event Hubs service, but a client must opt-in.  It works by establishing a connection to the Event Hubs gateway using the standard AMQP ports (5671, 5672) and requesting that the service provide discovery for partition nodes to directly connect, which is where the 104xx port range would be used.

The client must take a

[2020-06-11 14:50] christothes commented on #12688
duplicate of #12708

[2020-06-11 14:50] #12688 closed

[2020-06-11 14:57] jamie-lord commented on #9823
The lack of documentation for this common use case is pretty poor.

[2020-06-11 15:23] annelo-msft commented on #11419
Released!

https://www.nuget.org/packages/Azure.AI.FormRecognizer

[2020-06-11 15:23] #11419 closed

[2020-06-11 15:24] pakrym commented on #10592
Keeping this for tracking, will close when types ship in Azure.Core.

[2020-06-11 15:52] maririos commented on #11953
Sprint 1 ended so closing this epic.
All remaining issues have been moved to #11962

[2020-06-11 15:52] #11953 closed

[2020-06-11 18:40] kdr213 commented on #10153
@ShivangiReja  it seems this missed release 4.1.3. When is the next release scheduled for Service Bus sdk? Is there a preview version we can use?

[2020-06-11 18:42] JoshLove-msft commented on #10153
This work item was for the new Track 2 library - https://www.nuget.org/packages/Azure.Messaging.ServiceBus/7.0.0-preview.3

[2020-06-11 20:39] mj1856 commented on #4764
FYI - I was able to reproduce this on older versions of these dlls.

To resolve ensure you have
- `Microsoft.Azure.Services.AppAuthentication` >= 1.2.1
- `Microsoft.Azure.KeyVault` >= 3.0.1

If, like me, you were getting these as dependencies of some other package, you can add them directly to the project to override the ones specified by the dependency.  (Ex. `Microsoft.Extensions.Configuration.A

[2020-06-11 20:43] maririos opened #12721 "Bounding boxes values are not present when serializing the object to a json format."
Using Form Recognizer Preview.3 , when calling, for example, `StartRecognizeCustomForms` although the returned object `RecognizedFormCollection` contains values in the `BoundingBox` property, when serializing it, it returns `{}`.

![image](https://user-images.githubusercontent.com/9868623/84437008-339edb80-abe9-11ea-97b5-e9eda58f2609.png)

Json string:
[code]

[2020-06-11 22:22] meanjeekim opened #12726 "Fill out all sections of Tables Readme"
As referenced by Chris [here](https://github.com/Azure/azure-sdk-for-net/pull/12664#discussion_r438841202), the beginning sections of the main Tables readme should be filled out.

[2020-06-12 00:17] #12546 closed

[2020-06-12 03:13] aim-for-better commented on #9219
The  ETA is the end of July.

[2020-06-12 03:13] #9219 closed

[2020-06-12 07:34] tony6636 commented on #12686
@harelbr thanks for the reply. I tried the approach you suggest, but without success.

In Azure Web App, I can see that the API version `2018-03-01` is being used when a new dynamic metric alert is created. Here's my properties payload (I'm using the same API version and the `WithRegion("global")` method)

[code]

and I receive the following error
`No registered resource provider found for locatio

[2020-06-12 09:03] zodapoplinsky commented on #12715
According to this part of the documentation. The Client can control this behaviour by the usage of the **EnableAmqpLinkRedirect** property.

If this is not a bug, then at least it's a feature request to get the same functionality for the client in the Microsoft.Azure.EventHubs  as for Microsoft.ServiceBus.Messaging

![image](https://user-images.githubusercontent.com/22202696/84485210-19720580-ac9c

[2020-06-12 09:37] yuhaii commented on #11619
Our customer send Schedule Message in Azure function app and met similar issue " Unauthorized access. 'Send' claim(s) are required to perform this operation ".

But after reboot the function app, the issue mitigated.

Hello @anqyan , could you please help advise? is it SDK issue? thanks.

[2020-06-12 10:40] pintse commented on #12643
Copying my comment from StackOverflow.
-----------------------------------------------

Thanks @gmantri  for your answer! I use "WindowsAzure.Storage" v8.2.0 or v9.3.3 and rewrite the code for using the SDK. It can add a blob and list blobs inside the container well.

[2020-06-12 10:40] #12643 closed

[2020-06-12 10:49] harelbr commented on #12686
Hi @tony6636 - The 'No registered resource provider...' error indicates the resource type being used is Microsoft.Insights/components, while it needs to be  Microsoft.Insights/metricAlerts.

Can you please double check that the correct resource type is specified: .WithResourceType("metricAlerts")

If that's not the case, can you please share the full command you're trying to run?

Thanks!

[2020-06-12 13:11] tony6636 commented on #12686
Hi @harelbr, I used your suggestion to use `.WithResourceType("metricAlerts")`, and now I get the error:
`Required property 'threshold' not found in JSON. Path '', line 13, position 9.`

but that property is not being used in https://docs.microsoft.com/pl-pl/rest/api/monitor/metricalerts/createorupdate#create-or-update-a-dynamic-alert-rule-for-single-resource

[2020-06-12 13:12] jsquire commented on #12715
Forgive me, but I'm a bit confused as to your request.  As I understand it, you were asking to opt-out of the redirect behavior and ensure that traffic uses only the standard AMQP ports.   As mentioned, that is the behavior for the `Microsoft.Azure.EventHubs` library.   To be clear: `Microsoft.Azure.EventHubs` will NOT make use of the 104XX port range.

I'm not sure if I misunderstood your intent,

[2020-06-12 14:09] b10-dslappendel commented on #8957
@schaabs what's the progress on this?
I see that there have been some updates, and testing the latest changes in preview 5 I am able to authenticate with `VisualStudioCredential` as long as I specify `TenantId`. If I use `DefaultAzureCredential` with `VisualStudioTenantId` however, it gives me a 401. And using it without specifying any tenant id results in the same 401.

While I can make it workin

[2020-06-12 14:43] Smurfa opened #12738 "Azure Blob Storage: BlobClient name causing issues when generating SAS token"
Trying to generate SAS tokens for blobs that are stored in Azure Blob Storage, using the Azure.Storage.Blobs.BlobClient and Azure.Storage.Sas.BlobSasBuilder. Provided the BlobClient's Name property to BlobSasBuilder's BlobName property. This only works as long as there is no character that will be URL-encoded in the blob name, e.g. a blankspace.

I would expect the BlobClient.Name to return the bl

[2020-06-12 14:58] harelbr commented on #12686
Hi @tony6636 - Can you please try changing the "targetResourceType" to the following:
`"targetResourceType": "microsoft.insights/components"`

[2020-06-12 15:55] tg-msft commented on #11038
Given the latest direction, is this still needed in Azure.Core or can we close the issue?

[2020-06-12 17:10] iscai-msft opened #12741 "[text analytics] add support for optional string-index-type query param"
support will be added for this on the service's v3.0 API

[2020-06-12 18:57] chidozieononiwu commented on #8503
DocFx does not yet have full support for InheritDoc. I will investigate further to see if some of these can be taking care of by updating docfx to the latest version.

[2020-06-12 19:17] heaths opened #12742 "Add sample for getting private key if exportable"
Add a sample to get the private key in a secret, based on https://github.com/heaths/azsdk-sample-getcert.

* Link to it from the readme, e.g. https://docs.microsoft.com/dotnet/api/overview/azure/security.keyvault.certificates-readme?view=azure-dotnet#retrieve-a-certificate
* A link to it from the `KeyVaultCertificate.Cer` property

[2020-06-12 22:55] meanjeekim commented on #11959
Finished samples for broad functionality, but didn't do different query filter/top/etc.

Going to leave the readmes for later after the arch board meeting due to possible changes to current design.

[2020-06-13 00:47] smithago commented on #12445
StorageTransferOptions is not allowed has an input for UploadAsync() internally it is setting it to default before calling the ParallelUploaded. Can we expose this param to the called in UploadAync() also.

[2020-06-13 02:34] nickzhums commented on #9262
@Rookian
The .NET Fluent library depends on an older version of Azure Core library which is now only in maintenance mode (Only critical security and bug fixes)
A newer version of .NET SDK will be released and in public preview late June this month. The new version will have Azure.Identity support. Please monitor this repo and [https://azure.github.io/azure-sdk/](https://azure.github.io/azure-sdk/)

[2020-06-13 08:39] estensen opened #12745 "Improve formatting for code examples"
Looking at code in GitHub it's sometimes hard to read the code and the comments, because the lines are longer than GitHub displays. Is it possible to enforce, or at least encourage, shorter lines?

This is from  [Azure.Messaging.EventHubs/samples/Sample09_ReadOnlyNewEvents.cs](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample09_ReadOnlyNew

[2020-06-13 14:36] tony6636 commented on #12686
hi @harelbr, I tried - that also gives me the error `Required property 'threshold' not found in JSON. Path '', line 13, position 9.`

[2020-06-13 14:41] jsquire commented on #12745
Hi @estensen.   Thank you for sharing your feedback.

During the initial wave of new SDKs, our approach to samples was focused on presenting things in a way that developers could clone and then explore by running/debugging locally in an IDE.  We learned during this time that isn't the approach that is ideal for some who use the samples as a point of quick reference in a read/only manner.

We've si

[2020-06-13 20:07] #12193 closed

[2020-06-13 20:08] maririos opened #12746 "Consider using JsonPathSanitizers for sanitizing secrets in request/response body"
Consider changing the logic from https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search.Documents/tests/Utilities/SearchRecordedTestSanitizer.cs
to use `JsonPathSanitizers`.
More information: https://github.com/Azure/azure-sdk-for-net/blob/master/doc/dev/Track2TestFramework.md#sanitizing

[2020-06-13 20:08] maririos commented on #12746
FYI @tg-msft  and @heaths

[2020-06-13 20:08] maririos opened #12747 "Consider using JsonPathSanitizers for sanitizing secrets in request/response body"
Consider changing the logic from https://github.com/Azure/azure-sdk-for-net/blob/b9bd85cb2591f7c3f3c054f33f158e758056f1d3/sdk/storage/Azure.Storage.Common/tests/Shared/StorageRecordedTestSanitizer.cs#L59
to use `JsonPathSanitizers`.
More information: https://github.com/Azure/azure-sdk-for-net/blob/master/doc/dev/Track2TestFramework.md#sanitizing

[2020-06-13 20:08] maririos commented on #12747
FYI @tg-msft

[2020-06-13 22:57] maririos commented on #12721
I took a look at this issue and `JsonSerializer` only parses public properties. Looking at BoundingBox:
[code]

We provide the user a way to access the data, but not a property per se that JsonSerializer can understand.

@annelo-msft could you help me understand this type more with the following questions?
- How are we expecting the user to consume the BoundingBox type?
  - Why we are hiding the `

[2020-06-14 05:29] jongio opened #12749 "[BUG] DefaultAzureCredential throws exceptions when run in container"
Create a console app.

New up a DAC
[code]

Call a client, like blob client.

Create Dockerfile
[code]

Run with docker-compose up
[code]

You will get this error:

[code]

Based on the exception it looks like we are not gracefully handling the case where shared token cache is not found.

If I exclude SharedTokenCacheCred I get this
[code]

I don't see an option to Exclude Visual Studio Credential

[2020-06-14 20:35] Rookian commented on #9262
Nice information, thank you!

[2020-06-14 21:03] maririos opened #12752 "Rename blacklist to blocklist in Vision.ContentModerator"
References have been found in:
- https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Vision.ContentModerator/src/Generated/ITextModeration.cs
- https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Vision.ContentModerator/src/Generated/TextModeration.cs
- https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Vision.ContentModer

[2020-06-14 21:09] maririos opened #12753 "Rename `Whitelist subscription` to `AllowList subscription` in DigitalTwins test prerequisites"
See https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/digitaltwins/Azure.DigitalTwins.Core/tests/prerequisites/prerequisite%20readme.md#3-whitelist-subscription

[2020-06-14 21:19] maririos opened #12754 "Rename whitelist to allowList in Azure.ResourceManager.Network"
References in:
- UpgradeLog.htm
- api\Azure.ResourceManager.Network.netstandard2.0.cs
- src\Generated\Models\FirewallPolicy.cs
- src\Generated\Models\FirewallPolicy.Serialization.cs
- src\Generated\Models\FirewallPolicyThreatIntelWhitelist.cs
- src\Generated\Models\FirewallPolicyThreatIntelWhitelist.Serialization.cs
- src\Generated\Models\FirewallPolicy.cs

[2020-06-14 21:44] maririos opened #12755 "Rename whitelist to allowList in Microsoft.Azure.Management.Network"
Files:
- src\Generated\Models\FirewallPolicy.cs
- src\Generated\Models\FirewallPolicyThreatIntelWhitelist.cs

[2020-06-14 21:52] maririos opened #12756 "Rename whitelist to allowList in Microsoft.Azure.Management.SecurityCenter"
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/AdaptiveApplicationControlsOperations.cs
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/securitycenter/Microsoft.Azure.Management.SecurityCenter/src/Generated/AdaptiveApplicationControlsOperationsExtensions.cs
- https://github.com/Azure/azure-sdk-for-net

[2020-06-14 21:55] maririos opened #12757 "Rename whitelist to allowList in testcommon/Azure.Management.Network.2020_04"
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/testcommon/Azure.Management.Network.2020_04/api/Azure.Management.Network.netstandard2.0.cs
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/testcommon/Azure.Management.Network.2020_04/src/Generated/Models/FirewallPolicy.cs
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/testcommon/Azure.Management.Network.2020_04

[2020-06-14 22:01] maririos opened #12758 "Rename whitelist to allowList in Microsoft.Azure.Management.WebSites"
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/AppServiceEnvironment.cs
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/AppServiceEnvironmentPatchResource.cs
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/websites/Microsoft.Azu

[2020-06-14 22:04] maririos opened #12759 "Rename whitelist to allowlist in Microsoft.Azure.ServiceBus"
- https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/servicebus/Microsoft.Azure.ServiceBus/tests/API/APIApprovals.cs

[2020-06-15 07:08] isra-fel commented on #12756
Not sure if "Security" is the right tag here... also + @taklei just in case. Thanks

[2020-06-15 07:12] isra-fel commented on #12758
+ @shubDhond Hi, could you take this work item or assign it to someone else? Thanks

[2020-06-15 07:57] zodapoplinsky commented on #12715
Ok, thanks for the clarifications

[2020-06-15 07:57] #12715 closed

[2020-06-15 08:17] mjaow commented on #12597
any response? @erich-wang @isra-fel @pakrym

[2020-06-15 09:39] PaulVrugt commented on #9607
@pakrym
@seanmcc-msft
I'm confused. What exactly is the solution for openread, if you need a seekable stream? The example that @pakrym provided https://github.com/Azure/azure-sdk-for-net/issues/9607#issuecomment-637108205) doesn't result in a seekable stream.

Similar to @DouglasIsaksson we have a generic storage implementation for different types of storage, based on streams. We need to be able t

[2020-06-15 13:16] jsquire commented on #12759
@maririos:  Please be aware that this may not be possible in this instance, as the API in question belongs to a third party dependency.   I'll defer to @nemakam and team for the final call, as I'm not familiar with its usage here.

[2020-06-15 14:20] fabiomaulo commented on #11962
Guys you are wonderful!! please put something on nuget about this package... I can't live we the brothel generated by the abandonment of tables from storage-team and from cosmos-team. I'm happy to see you working on tables again and I hope to see table-storage as first-class-citizen again.

[2020-06-15 14:26] AlexanderSher commented on #12749
1. `AuthenticationFailedException` is a wrapper for any exception (except `OperationCanceledException`), so when it happens, it basically means that something unexpected has happened. Swallowing these exceptions in  `DefaultAzureCredential.GetTokenFromSourcesAsync` will hide some real issues that users may experience and require fix from our side
2. We would probably need a separate CI for contain

[2020-06-15 15:29] maririos commented on #12508
The remaining of the tests were enabled in PR https://github.com/Azure/azure-sdk-for-net/pull/12707

[2020-06-15 15:42] seanmcc-msft commented on #9607
@pakrym, what do you think on the seekablility issue?  Seems like the most straightforward path would be to re-open https://github.com/Azure/azure-sdk-for-net/pull/12400, address the PR comments, and add the functionality to make the stream seekable.

[2020-06-15 15:47] maririos commented on #11962
Thank you so much @fabiomaulo . We are working on the first preview of the Azure.Tables library. Once we have a package ready, we will post it in nuget :)
We welcome all the feedback you have from this work.

[2020-06-15 15:55] pakrym commented on #9607
I think adding the seekability to `RetryableStream` would be the way to go here.

[2020-06-15 15:57] maririos commented on #12741
dup of https://github.com/Azure/azure-sdk-for-net/issues/10710

[2020-06-15 15:57] #12741 closed

[2020-06-15 16:00] seanmcc-msft commented on #9607
`RetriableStream` is in Azure.Core, so that will probably need to be addressed by the One SDK team.

[2020-06-15 16:00] PaulVrugt commented on #9607
I'm no expert on this library, but I must say I agree with @seanmcc-msft about the #12400. Having ready-to-use openread and openwrite methods is much more intuitive. If they aren't added, anyone that used to use these methods needs to write the same "wrapper" code to get about the same effect.

[2020-06-15 16:01] maririos opened #12771 "Rename blacklist to disallow list in Microsoft.Azure.Batch"
See as an example: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/batch/Microsoft.Azure.Batch/src/Common/RetryPolicyCommon.cs#L39

[2020-06-15 16:04] pakrym commented on #9607
We are happy to take a pull request. The change shouldn't be too complicated.

#12400 does way more than adding seekability. It also adds another layer of buffering/indirection that would affect performance.

[2020-06-15 16:16] felickz opened #12773 "[BUG] - AAD Guest account with DeveloperTool=VisualStudio - Login failed for user '<token-identified principal>' (Microsoft.Azure.Services.AppAuthentication using AzureServiceTokenProvider )"
**Describe the bug**
When using AAD Guest Account (home tenant different then azure subscription tenant) to authenticate to SQL Server using the default constructor **AzureServiceTokenProvider()** or  **AzureServiceTokenProvider("RunAs=Developer; DeveloperTool=VisualStudio")** getting error:
`Login failed for user '<token-identified principal>'.`

When overriding AzureServiceTokenProvider connecti

[2020-06-15 16:27] annelo-msft commented on #12721
**How are we expecting the user to consume the BoundingBox type?**

The idea is that they would be able to write something like:

[code]

**Why we are hiding the `Points` property from the user?**

We had originally exposed it, but Krzysztof suggested it was more idiomatic to add an indexer to the class.  Having both would be redundant.

**Will over writing the `ToString()` method makes sense?**

[2020-06-15 16:30] fabiomaulo commented on #11962
@maririos if you guys need two hands, and another brain, to work on this package in this phase, let me know, I will be happy to help during the quarantine.

[2020-06-15 16:33] kinelski commented on #12325
We decided to not include known bugs in the release notes, given that it's not mentioned in [our guidelines](https://azure.github.io/azure-sdk/policies_releasenotes.html#whats-a-developer-impacting-change).

[2020-06-15 16:33] #12325 closed

[2020-06-15 16:39] kinelski commented on #11680
@maririos I have updated the description. Left it empty because I intended to work on that ASAP, but other work took precedence.

[2020-06-15 16:51] maririos commented on #11680
ohh cool thank you!
`JsonPathSanitizers` should help us here. https://github.com/Azure/azure-sdk-for-net/blob/master/doc/dev/Track2TestFramework.md#sanitizing

Let me know if you have questions or if I can help with it

[2020-06-15 17:05] PaulVrugt commented on #9607
Well that doesn't sound very promising now does it? I'm not getting involved in an ethical debate about where the functionality should be implemented. My case is simple: I was able to use streams and seek within them in v11. You want us to upgrade to V12, and I also want to stay up to date, but I can't if we get stuck in this debate on how to add the code, instead of adding it.

[2020-06-15 17:18] #12655 closed

[2020-06-15 17:25] #11526 closed

[2020-06-15 17:25] #12181 closed

[2020-06-15 17:25] #12508 closed

[2020-06-15 17:46] maririos commented on #11962
FYI @meanjeekim  and @christothes

[2020-06-15 17:59] jongio commented on #12749
1. Let's ensure that we aren't failing incorrectly.
2. Ok, looks like I had an old metadata cached.

[2020-06-15 18:28] #12753 closed

[2020-06-15 18:30] #11959 closed

[2020-06-15 18:39] jongio opened #12777 "[BUG] FormRecognizer and TextAnalytics clients don't work TokenCredential"
1. Install Azure CLI
2. Run Azure CLI login: `az login`
3. Get current user object id `az ad signed-in-user show --query objectId --output tsv`
4. Assign current user to `Cognitive Services User` role
[code]
5. New up AzureCliCredential
[code]
6. New up FormRecognizerClient
[code]

7. Call any method
[code]

8. You will get this error:
[code]

According to docs, this should work.
https://azuresdkd

[2020-06-15 19:38] wjchristenson2 commented on #8949
We also ran into this migration issue. Our architecture has queue calls running through a QueueHelper. We were able to "auto-detect" if the message was base64 encoded and decode if so. Our function returns an IEnumerable of QueueMessage which presented a new problem. The QueueMessage object does not have a setter for the MessageText property. As a result, we used reflection to set the .MessageText

[2020-06-15 20:06] wiliambuzatto commented on #11619
Hi, i am having the same issue, but it happens between some days (1 to 2). When it happens, it show more then 20 lines on application Insights. (screen below).

Another curiosity, I have seven queues in this ServiceBus, but only two of them are logging the issue.

![image](https://user-images.githubusercontent.com/8428078/84700684-9eba1c00-af21-11ea-800c-56c58d887f7c.png)

[2020-06-15 20:29] maririos opened #12782 "Add sample on how to consume bounding box"
See: https://github.com/Azure/azure-sdk-for-net/issues/12721#issuecomment-644237746

[2020-06-15 20:29] annelo-msft commented on #12777
@maririos per TA as well.

[2020-06-15 20:31] maririos commented on #12721
Thanks Anne.
- Consumption: Looks like we need to show in a sample how to consume a BoundingBox (created issue https://github.com/Azure/azure-sdk-for-net/issues/12782)
- Count: thanks to your explanation, and to help the user navigate the indexer, we should add the `Count` property

As to answer the original request of being able to see the values of BoundingBox when serializing a response, seems

[2020-06-15 21:44] nemakam commented on #12759
@maririos, thanks for the suggestion. Its a good idea, but unfortunately that API is not owned by Microsoft. We might have to remove the entire dependency if this needs to be done, which might lead to other issues (because of which this dependency was introduced in the first place).
Given the scenario, let me know if you have any alternate ideas

[2020-06-15 21:54] jegour opened #12785 "[QUERY] Plans to include LocationMode options in v12 Storage.Blob SDK"
**Query/Question**
How can we help?

Are there plans to include the LocationMode option in the Storage.Blob SDK v12, including all options that are currently supported in v11. I know there is currently the GeoRedundantSecondaryUri property on BlobClientOptions. However, this is both cumbersome to use (you now have to provide a Uri that the client used to be able to download directly from the stora

[2020-06-15 22:21] maririos commented on #12759
Thanks @nemakam . Looking at MS documentation:

I will differ to the service team to make the call.

[2020-06-15 22:37] MarkAtAgilliance commented on #8658
Worth a check it isn't this issue when using AZURE_USERNAME.  The upper/lower case of the email account has to match the account that was registered in VS.  [https://github.com/Azure/azure-sdk-for-net/issues/10816](https://github.com/Azure/azure-sdk-for-net/issues/10816).  @schaabs has put a fix in.

[2020-06-15 23:04] brentschmaltz commented on #11617
@jsquire this is causing users issues, is there anything you can do?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1369

[2020-06-15 23:10] tg-msft commented on #9607
Let's discuss this at our next sync and figure out the best path forward.  We'll update this issue when there's a plan here.

[2020-06-15 23:36] jongio commented on #12777
My cog services resource created with Terraform has this endpoint: https://westus.api.cognitive.microsoft.com/

[code]

I created a new resource with the portal and it has this endpoint: https://jongfrtest.cognitiveservices.azure.com/

TokenCred works with https://jongfrtest.cognitiveservices.azure.com/ but not https://westus.api.cognitive.microsoft.com/

[2020-06-15 23:41] jongio opened #12789 "[DOC] Add Cognitive Services requires custom subdomain for TokenCred to docs"
TokenCredential requires that the cognitive service be created with a subdomain.

This should be added to docs and readmes.

https://docs.microsoft.com/en-us/azure/cognitive-services/authentication#create-a-resource-with-a-custom-subdomain

See #12777

azsdke2e

[2020-06-15 23:44] jongio commented on #12789
Looks like already there, but I missed it.

https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Azure.AI.FormRecognizer/1.0.0-preview.3/api/index.html#create-formrecognizerclient-with-azure-active-directory-credential

[2020-06-16 00:06] jongio commented on #12789
Reopening with this suggestion:

    I think part of it is that I didn't know there were two models.
    Maybe a section in readme to talk about the two models or a link to a doc that does

[2020-06-16 00:15] yasufs opened #12790 "[QUERY] Azure.Storage.Blobs: How to generate SAS URL for a blob when using storage emulator"
**Query/Question**
How do I generate a SAS URL for a blob when using the storage emulator (UseDevelopmentStorage=true)?
When using a real storage account, I can use `BlobSasBuilder` + `StorageSharedKeyCredential`, but I couldn't find a good way to get a `StorageSharedKeyCredential` to use with the storage emulator.
I know there is a well-known account name & key for the emulator, but it would be r

[2020-06-16 01:37] bruckGT commented on #11503
Hi @kasobol-msft , @pakrym
We updated to the latest Azure.Storage.Blobs sdk (12.4.4). However we are still seeing the same issue as before (calls to storage hangs and throws exception after 6 tries). We were able to reproduced this issue locally as well. We slightly modified the above code example by @BenKoth  to mimick what our app does. So we have concurrent calls to check if blob exists as well