[2020-07-28 00:48] chris-skuvault commented on #13459
I think with the concurrency being 1 per session it would be ok to sit inside the handler and rely on the retry from the lock lost. That should work nicely I believe and be more performant than the previous close session each time approach. I'll test tomorrow to confirm. Thanks so much!

[2020-07-28 01:09] TarekAljabban commented on #13745
Thank you @jsquire. I will make the upgrade to 5.1.0.

[2020-07-28 01:09] #13745 closed

[2020-07-28 02:10] maririos commented on #13701
Package with version 5.0.0 released: https://www.nuget.org/packages/Azure.AI.TextAnalytics

[2020-07-28 02:10] #13701 closed

[2020-07-28 03:36] weidongxu-microsoft commented on #13714
@rjregenold Thanks for reporting. This seems a pretty crazy bug.

[2020-07-28 03:54] mr-davidc commented on #9416
Hi @DorothySun216, mladedav and I are from separate teams so I can't speak for them but from my end I created a separate issue for the problems I am getting here: #13637

Thanks

[2020-07-28 06:21] Luyunmt opened #13775 "Blob index tag is not support on china cloud and US GOV"
There are at least 168 tests about blob index tag failed in china cloud and US GOV. The error message is as follow:

Azure.RequestFailedException : A required feature for this operation is not enabled on the account. RequestId:d6579f5a-801e-0039-55f6-6086de000000 Time:2020-07-23T13:37:43.6929933Z Status: 400 (A required feature for this operation is not enabled on the account.) ErrorCode: FeatureN

[2020-07-28 06:28] XuGuang-Yao opened #13776 "[Azure Search]SearchIndexerClient.RunIndexerAsync() not robust in China cloud"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

Below exception will be thrown when running test [CreateAzureBlobIndexer](https://github.com/Azure/azure-sdk-for-net/blob/81bb56a44cd68669e838c64581ac35e0a3093318/sdk/search/Azure.Search.Documents/tests/SearchIndexerClientTests.cs#L99)

[2020-07-28 06:29] #13714 closed

[2020-07-28 06:53] Luyunmt commented on #13775
@jongio  @danieljurek

[2020-07-28 08:00] #13037 closed

[2020-07-28 08:00] #12531 closed

[2020-07-28 15:21] #10904 closed

[2020-07-28 16:01] abeckDev commented on #4468
Thank you @StephenWeatherford for taking care of this one!

[2020-07-28 16:01] #4468 closed

[2020-07-28 18:41] heaths commented on #13776
With the connection to local host, it almost seems as if it's trying to use MSI. @schaabs what do you think?

It really shouldn't be trying, though. Environment credentials - what the test harness sets - should be used first: https://github.com/Azure/azure-sdk-for-net/blob/a0c71310257bf563f850b3ad5b982da0a1491539/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L168-L176. Can you share vi

[2020-07-28 18:59] heaths opened #13781 "sdk/search/README.md lists track 2 as "preview", fully documents track 1"
I'm not sure how much we rely on README.md in the service client roots, but I see that sdk/search/README.md currently reads,

[code]

Note track 2 reads "a preview experience". We should at least update that, if not downplay track 1.

[2020-07-28 19:15] meanjeekim opened #13784 "`TableClient`: Change `Delete` to `DeleteEntity` and add `Delete` for deleting the table"

[2020-07-28 19:27] schaabs commented on #13776
It's possible that the call to `127.0.0.1:9998` is coming from the `ManagedIdentityCredential`. The `DefaultAzureCredential` would have only used the `ManagedIdentityCredential` if the `EnvironmentCredential` did not have a full set of environment variables set (i.e. `AZURE_CLIENT_ID`, `AZURE_TENANT_ID` and `AZURE_CLIENT_SECRET` or `AZURE_CLIENT_CERTIFICATE_PATH`.  @XuGuang-Yao can you provide the

[2020-07-28 20:09] chris-skuvault commented on #13459
@JoshLove-msft  Yep this will work for us. Thanks for your help. Going to close this.

[2020-07-28 20:09] #13459 closed

[2020-07-28 20:30] #7092 closed

[2020-07-28 20:40] jaschrep-msft commented on #13221
Had trouble reproducing the failure, but the above merge appears to avoid the race condition that caused this failure. We should watch for this failure a bit longer before closing.

[2020-07-28 20:46] chris-skuvault opened #13787 "[QUERY] Azure.Messaging.ServiceBus connection limits and session receiving/processing question"
**Query/Question**
How can we help?

From the documentation https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quotas it says the "Number of concurrent connections on a namespace" is 5000. In looking through the implementation in Azure.Messaging.ServiceBus codebase it seems like a single `ServiceBusClient` will reuse a single connection but I'm not entirely sure.

Does `Servi

[2020-07-28 21:26] JoshLove-msft commented on #13787
Hi @chris-skuvault, thanks for raising this question. Any receivers/senders created off a single `ServiceBusClient` will indeed [share ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs#L16)the same connection.

[2020-07-28 21:51] chris-skuvault commented on #13787
Hi @JoshLove-msft,

Thanks for the quick response. That clears up my misunderstanding. I appreciate it!

[2020-07-28 21:51] #13787 closed

[2020-07-28 21:54] #13784 closed

[2020-07-28 21:55] meanjeekim opened #13789 "Change `TableEntity` into an interface `ITableEntity`"

[2020-07-28 22:11] DorothySun216 commented on #13637
@mr-davidc Thanks for reaching out. You mentioned you have two environments and they use  Microsoft.Azure.ServiceBus v3.4.0 and Microsoft.Azure.ServiceBus v4.1.3 respectively. We had a fix to convert this `System.InvalidOperationException` into ServiceBusCommunicationException  in  Microsoft.Azure.ServiceBus v4.1.0, so Microsoft.Azure.ServiceBus v4.1.3  should not see this error but Microsoft.Azur

[2020-07-28 22:15] AlexGhiondea commented on #13550
@MiYanni can you take this one?

[2020-07-28 22:30] chidozieononiwu commented on #10998
Please see updated contributing docs for how to use these settings https://github.com/Azure/azure-sdk-for-net/blob/master/CONTRIBUTING.md#updating-source-on-build

[2020-07-28 22:32] chidozieononiwu commented on #10997
Please see updated contributing docs for how to UpdateSourceOnBuild https://github.com/Azure/azure-sdk-for-net/blob/master/CONTRIBUTING.md#updating-source-on-build

[2020-07-28 22:52] garath commented on #13731
Somehow... we missed this method. I'll take this back to the team, update our service, and reopen if it reoccurs.

Thanks for your help!

[2020-07-28 22:52] #13731 closed

[2020-07-28 23:03] ramya-rao-a commented on #13471
https://github.com/Azure/azure-rest-api-specs/pull/10220 is the link to the PR adding the swagger to the rest-api-specs repo. Please update the WIP PR to see if there are any issues

[2020-07-29 00:11] pharring commented on #12864
Dupe of #12130 ?

[2020-07-29 00:58] AlexGhiondea commented on #12864
@asranja, @yungezz can you share more information about this? Which auth library are you referring to?

[2020-07-29 03:40] #13739 closed

[2020-07-29 04:45] kasobol-msft commented on #10997
great. thank you!

[2020-07-29 06:06] JoshLove-msft commented on #13353
Closing as this has been merged in https://github.com/Azure/azure-sdk-for-net/pull/13590

[2020-07-29 06:06] #13353 closed

[2020-07-29 06:06] JoshLove-msft commented on #13352
Closing as this has been merged in https://github.com/Azure/azure-sdk-for-net/pull/13590

[2020-07-29 06:06] #13352 closed

[2020-07-29 08:00] nazimkov opened #13798 "[BUG] LUIS Authoring application version settings update throws exception"
**Describe the bug**
The application version settings update operation `Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.SettingsExtensions.UpdateAsync` method throws `ErrorResponseException` exception.

Seems like an issue with handling response HTTP code, the [endpoint ](https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/versions-update-applicat

[2020-07-29 08:39] mrwatts opened #13799 "[FEATURE REQ] Add support for receiving message by sequence number"
The Microsoft.Azure.ServiceBus.Core MessageReceiver class does not support receiving a message by it's sequence number. In the old library (WindowsAzure.ServiceBus / Microsoft.ServiceBus.Messaging) it did. [docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.messagereceiver.receive?view=azure-dotnet)

What I want to do, is Peek at the messages as they come by, and take

[2020-07-29 08:42] schaabs commented on #13751
@thoemmi Thanks for filing this issue. Sorry your experiencing this trouble. In this case the caching is happening, which is why you see the `msal.cache` file being created. However there are a couple of small tweaks needed to avoid prompting the user.

First, the persistent cache can contain tokens from many authentications of different accounts so the `DeviceCodeCredential` needs more informatio

[2020-07-29 09:25] XuGuang-Yao commented on #13776
@schaabs Updated the callstack. Here is the link of pipeline.
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=476203&view=ms.vss-test-web.build-test-results-tab&runId=12285440&resultId=100536&paneView=debug

[2020-07-29 11:31] erich-wang opened #13801 "[BUG][Azure.Identity] Fail to get token if using MSA account"
**Describe the bug**
It fails to get token if calling DeviceCodeCredential.Authenticate() first and then DeviceCodeCredential.GetToken() using **MSA** account, it has no issue if using corp account.

**Expected behavior**
What is the expected behavior?
Get token successfully. Actually GetToken method should allow to specify authority containing tenant id

**Actual behavior (include Exception or St

[2020-07-29 13:00] jsquire commented on #13798
Tagging and routing to the team best able to assist.

[2020-07-29 13:02] jsquire commented on #13801
Tagging and routing to the team members best able to assist.

[2020-07-29 13:04] jsquire commented on #13799
Tagging and routing to the team best able to assist.

[2020-07-29 13:04] jsquire commented on #13799
//fyi:  @JoshLove-msft, @MiYanni, @richardpark-msft, @ramya-rao-a

[2020-07-29 13:38] jsquire commented on #13737
//cc: @serkantkaraca, as he began to assist with this on Stack Overflow.

[2020-07-29 13:41] thoemmi commented on #13751
@schaabs Thanks for your answer. I've implemented the authentication like in your example, and it works.

I'm aware that I'm living on the edge and that the API may still be subject of change. :wink:

Before using _Azure.Identity_ I have used _Microsoft.Identity.Client.Extensions.Msal_ directly. My understanding of `StorageCreationPropertiesBuilder` was that it just works, with file-based cache on

[2020-07-29 14:48] christothes opened #13804 "Consider implementing DynamicData version of TableEntity"
see https://github.com/Azure/azure-sdk-for-net/blob/e95f06fbaf015fb7ca41633b5032c37f5e73cfee/sdk/search/Azure.Search.Documents/src/SearchDocument/DynamicData.cs

[2020-07-29 16:48] #13789 closed

[2020-07-29 16:59] #13760 closed

[2020-07-29 17:25] hhermas commented on #9607
Glad to hear that OpenRead/OpenWrite are now committed. Do you happen to know when will they become available?

[2020-07-29 17:26] AlexGhiondea commented on #13193
This is a dupe of #8976

[2020-07-29 17:26] #13193 closed

[2020-07-29 17:26] AlexGhiondea opened #13806 "September release of Azure.Core"
This tracks the work that will go in the Azure.Core release in September.

[2020-07-29 17:28] seanmcc-msft commented on #9607
Open Write has not been committed yet - https://github.com/Azure/azure-sdk-for-net/pull/13344.  We are hoping to release Open Read and Open Write with the next GA release in a few weeks.

[2020-07-29 18:08] manums opened #13808 "[BUG] Forbidden from Keyvault for reading secrets when using User Assigned Managed identity (along with system assigned identity)"
An user assigned identity is assigned to azure function . This identity has access to keyvault with read and list permissions to secrets. This user assigned identity is used *only* to get access to some shared resources like this Keyvault

- Azure function also has system assigned identity which provides access to other resources.
- If I provide access to system assigned identity to keyvault with

[2020-07-29 18:14] heaths commented on #13776
Thanks. From the diagnostic log, I see:
[code]
Given the stack trace, this doesn't appear to be anything related to Identity.

The full stack trace from the TRX shows this is just trying to get status, so it is indeed Search having a transient error trying to communicate with Blob Storage:
[code]
@brjohnstmsft is this something the service team should look at?

[2020-07-29 18:28] maririos commented on #11990
Decision is to leave the type as string. Enum vs extensible enum was in conversation but landed on string following what other libraries in .NET are doing and with [`RequestFailedException`](https://github.com/Azure/azure-sdk-for-net/blob/3edb484a64afc93d6dc9be9d0947bbaad49f9763/sdk/core/Azure.Core/src/RequestFailedException.cs#L25) which has `ErrorCode` as string.

[2020-07-29 18:28] #11990 closed

[2020-07-29 18:30] maririos commented on #13756
The reason why TA went with `ErrorCode` is also because of [`RequestFailedException`](https://github.com/Azure/azure-sdk-for-net/blob/3edb484a64afc93d6dc9be9d0947bbaad49f9763/sdk/core/Azure.Core/src/RequestFailedException.cs#L25).

[2020-07-29 18:35] brjohnstmsft commented on #13776
This error is part of the indexer flow, so I defer to @bleroy on this.

It is very strange that an indexer would be trying to reach Blob storage via 127.0.0.1:9998 though.

[2020-07-29 18:57] ramya-rao-a commented on #13799
@axisc, Is receiving message by sequence number when the message is not a deferred message supported by Service Bus?

[2020-07-29 19:46] bleroy commented on #13776
It doesn't seem to me like this has anything to do with the SDK. Looks like you;d have a better change by opening an IcM.

[2020-07-29 20:05] brjohnstmsft commented on #13776
I disagree that this merits opening a live-site incident. More likely it's a configuration issue with the live tests. @heaths @tg-msft Who wrote the test code above and might know where the value of `resources.StorageAccountConnectionString` comes from?

[2020-07-29 20:41] heaths commented on #13776
I did. It's hardcoded, which I did before we started actually running in other clouds: https://github.com/Azure/azure-sdk-for-net/blob/5079b87d141889e3dbe6e9f7dfb7d25900b74a91/sdk/search/Azure.Search.Documents/tests/Utilities/SearchResources.cs#L59. Odd that it only happens "around 5 times in 10", and why localhost?

I can change that in conjunction with the work @jsquire is doing now when it's re

[2020-07-29 20:44] #13621 closed

[2020-07-29 20:59] kinelski opened #13813 "[Bug] GetCustomModel throws NullReferenceException when model is being created"
## Summary

Steps to reproduce the issue:
1. Start the creation of a model (tested with copying, but training may fail as well).
2. Do **NOT** wait for the operation completion. Call `GetCustomModel` with the id of the model being created.

[code]

Exception:
[code]

## Goals
- [x] Fix the issue.
- [x] Create a test to assert the correct behavior.
- [x] Make sure existing tests still pass.

[2020-07-29 21:20] #13717 closed

[2020-07-29 21:34] AlexGhiondea commented on #13808
@heaths @christothes could one of you take a look?

[2020-07-29 21:41] heaths commented on #13808
Are you able to upgrade to Azure.Security.KeyVault.Secrets (V4)? Support for Managed Identity - authentication in general - is much easier, boiling down to:

[code]

`DefaultAzureCredential` also has the advantage of supporting developer workflows, so you don't have to change your code from testing locally or debugging, to production.

Otherwise, if you must keep using Microsoft.Azure.KeyVault, se

[2020-07-29 21:54] moabba commented on #13798
This should be fixed in the 3.2.0-preview.**X** SDK. Can you please update and confirm?

[2020-07-29 23:01] maririos commented on #13361
See design: https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7?diffRevisionId=b3605f7e99b744ba8175087b0c933fe2

[2020-07-29 23:01] #13361 closed

[2020-07-29 23:02] maririos commented on #13418
Design updated: https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7?diffRevisionId=b3605f7e99b744ba8175087b0c933fe2

[2020-07-29 23:02] #13418 closed

[2020-07-29 23:02] maririos commented on #13360
Decided on `MineOpinions`
See design: https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7?diffRevisionId=b3605f7e99b744ba8175087b0c933fe2

[2020-07-29 23:02] #13360 closed

[2020-07-29 23:26] brjohnstmsft commented on #13776
I pattern matched this to indexer status messages I've seen in the past:

5bc751d3-2125-421d-a558-2c22d5e998d3

But now I'm not sure if this was part of the response payload, or from somewhere else. I'll engage the indexer on-call to investigate.

[2020-07-29 23:48] #13550 closed

[2020-07-29 23:52] #9416 closed

[2020-07-30 00:01] amnguye commented on #13716
Looks like a typo, thanks for letting us know!

[2020-07-30 00:43] eosfor opened #13818 "Adding a hybrid connection object to a web app or a function app"
**Query/Question**

Hello colleagues, I was trying to find a way to add a hybrid connection object, created for an Azure Relay to an existing Web App or Function app, but did not find a way for doing it through SDK. Could you kindly point me out to sample code or an existing class within SDK that is able to do it?

Thanks

[2020-07-30 02:50] JoshLove-msft commented on #13686
Closing this out. Please reopen if you have other questions!

[2020-07-30 02:50] #13686 closed

[2020-07-30 03:17] #11961 closed

[2020-07-30 03:19] meanjeekim commented on #11961
[APIView](https://apiview.dev/Assemblies/Review/5eec924756264faab7ce2eb54d630fb3#Azure.Data.Tables.Sas.TableSasIPRange)

[Arch Board Issue](https://github.com/Azure/azure-sdk/issues/1589)

[2020-07-30 09:04] erich-wang opened #13828 "[FEATURE REQ][Azure.Identity] AuthenticationRecord should expose its constructor as public"
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
AuthenticationRecord should expose its constructor below as public:
[code]
In current Azure PowerShell, some properties in AuthenticationRecord is already persisted in context file with its own structure, so Azure.Identity should allow partners to chose their own way import/export Authen

[2020-07-30 10:30] nazimkov commented on #13798
Yes, it is working on 3.2.0-preview.3

[2020-07-30 10:31] esbenbach opened #13830 "[FEATURE REQ] Make it possible to use sharedaccesssignature without providing a connection string"
**Azure.Messaging.ServiceBus (Track2)**

**Is your feature request related to a problem? Please describe.**
I have some code that uses the old (Track 0) service bus SDK and in the process of trying to replace it with Track2 I have found no way to create a SharedAccessSignatureToken because all the stuff is internal. I can presumable provide all the details as a connection string, but since I have

[2020-07-30 10:32] #13798 closed

[2020-07-30 11:39] gurufordy commented on #9549
Hi, I just ran into an issue where a SAS Token created against a container works in the new API, but creating a SAS Token against a policy which is against a container doesn't work (403).

Does that mean that this feature is still not working or is it something else?

Thanks.

[2020-07-30 12:03] yirkha commented on #3699
@dejanberic Not really, sorry. Maybe there is some other predefined property to use for that. But all I learned about how this works was from running MS Build with verbose logs, reading those, inspecting the default build target definitions bundled with VS etc. – and I'll gladly leave that to someone who needs it. Good luck!

[2020-07-30 12:44] ctstone commented on #12813
hi @maririos, sorry for the late reply. This change is complete. If it's not rolled out to all regions, it should be soon.

The new response body is:

[code]

[2020-07-30 13:12] jsquire commented on #13818
Tagging and routing to the team member best able to assist.

[2020-07-30 13:28] jsquire commented on #13830
Hi @esbenbach.   Thank you for reaching out and sharing your feedback.  Support for SAS tokens is something that we're still considering designs for across the Azure Messaging clients.

If you're willing to share some further detail, we'd be very interested in better understanding your scenario.  Outside of the efficiency consideration, are there any other factors that would lead you to prefer the

[2020-07-30 17:02] #13729 closed

[2020-07-30 17:38] allenjzhang commented on #13625
Thank you for your feedback. We will be considering this and get back to you in few weeks. Thanks.

AB#3998

[2020-07-30 18:01] #13813 closed

[2020-07-30 18:31] amnguye commented on #9549
Hi @gurufordy, could you make a new issue with what you're attempting to do the creation of your SAS token and what you're trying to achieve? When you say a policy, do you mean a container that already has a Access Policy applied to it? Also a code snippet would be very helpful as well. Thanks!

[2020-07-30 18:53] kinelski opened #13857 "[Design] Consider exposing CopyAuthorization internal members"
In `CopyAuthorization`, members `AccessToken`, `ResourceId` and `ResourceRegion` are internal, but in Java they're public. Java is considering hiding them as well.

- If Java hides them, we can close this issue with no actions.
- If Java keeps them public, consider exposing them for API consistency. .NET is inclined to keep them internal.

[2020-07-30 19:09] amnguye commented on #13747
Hi,

I tried to reproduce your issue with sending a message with a QueueClient authenticated with a `ClientSecretCredential` with a Service Principal that has Storage Queue Data Contributor role applied to it, but I wasn't able to get the 403 `AuthorizationPermissionMismatch` error.

The way to authenticate with a Service Principal with Storage Queue Data Contributor role should not be different w

[2020-07-30 19:32] jsquire commented on #13776
The changes to the Test Resources script and Azure Core were both merged this morning.  I'm not sure whether the tools repository sync has been completed.

[2020-07-30 19:36] esbenbach commented on #13830
Well it is mostly the efficiency and the cosmetic, i really dont get the need for a connectingstring unless it actually allows some underlying protocolhandler to do the work. It seems to me like a remnant, sort of like "ohh well this is how we used to do it with sql, lets do it here as well" (this is probably ignorance on my part on how thing actually work).

The other thing is that there is alrea

[2020-07-30 21:01] JoshLove-msft opened #13860 "BinaryData - offer ability to wrap a stream instead of copying"
In libraries that don't want to take the hit of marshalling a stream into bytes as part of their API, it would be nice to offer a way of creating a `BinaryData` instance from a stream that simply wraps the stream.

If we had such a method/ctor, for customers that care about not reading the whole stream up front, they could use the ToStream method to get back their stream. ToStream already exists a

[2020-07-30 21:07] srisrutim opened #13861 "Need code review approval"
**Query/Question**
I have a pull request that I need to merge soon for a feature - https://github.com/Azure/azure-sdk-for-net/pull/13759. According to the PR policies, I won't be able to merge it unless a reviewer with admin or write permissions approves it.

How can I find someone with admin/write permissions to get my PR approved? The SLA is 48 hours and its been 3 days since I submitted the PR.

[2020-07-30 21:39] crmann1 commented on #7754
What is likely happening is that the tokenprovider.json file is not being correctly updated after an upgrade.  The file is updated when you go to Tools->options->Azure Services Authentication and click OK. Or load a project which has a dependency on the App.Authentication nuget package.  This is supposed to run a target which causes the json file to be uploaded.

This was done because we only want

[2020-07-30 21:47] #13743 closed

[2020-07-30 22:13] meanjeekim opened #13865 "Write readmes for samples"

[2020-07-30 22:18] JoshLove-msft commented on #10473
In Track 2, we are not currently exposing a way to settle messages in a batch. This would probably be a prerequisite to adding a batch processing feature.

[2020-07-30 22:33] #13756 closed

[2020-07-30 23:03] kinelski opened #13867 "[CodeGen] Remove explicit declaration of the OperationStatus enum"
## Summary

[OperationStatus](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/OperationStatus.cs) is an `internal` enum generated based on the service's response, and we're explicitly declaring it even though we are not renaming any of its auto-generated members. The explicit declaration was originally added to overwrite its access modifier, si

[2020-07-31 00:12] heaths commented on #13776
Using the right cloud endpoint is definitely a good idea, so I want to keep this issue open to track that work; however, @XuGuang-Yao, have you had any recent failures? We believe we identified a service configuration issue that should now be fixed.

[2020-07-31 02:51] #13700 closed

[2020-07-31 07:12] isra-fel commented on #13818
@allenjzhang  could you take this issue? Thanks

[2020-07-31 07:51] StefH commented on #13747
@amnguye
Thank you for replying. Let me explain it...

## Scenario 1:
- A Service Principal with Storage Queue Data Contributor role can indeed send messages --> this is correct.

---
However I've a different scenario:

## Scenario 2:
- I want to configure the "Service Principal with Storage Queue Data Contributor role" and **Expose this as an API app registration**
- Then I create a new **client

[2020-07-31 07:54] rosponda57 opened #13875 "[BUG] SearchOptions.Select is readonly"
The property Select  in SearchOptions is readonly , so we cant set the fields we want to retrieve

I was expecting that this property would let us to set the list of fields we want to retrieve:

                 SearchOptions parameters =
                new SearchOptions()
                {
                    Select = new List<string>() { "field1", "field2" },
                     ............

[2020-07-31 09:07] XuGuang-Yao commented on #13776
@heaths Here is the newest result. The error still persists.
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=476203&view=ms.vss-test-web.build-test-results-tab&runId=12338448&resultId=100227&paneView=debug

[2020-07-31 11:13] gurufordy commented on #9549
Hi @amnguye,

Thanks for getting back to me so quickly! Below is what I was running, where the policy and SAS creation go fine:

[code]

And then using in DNC with Azure.Storage.Blobs Nuget package:

[code]

The client created then can't upload a new blob into the container and gives a 403 HTTP code. Doing the same thing by hand yields the same rejection. Doing the same thing with no policy works

[2020-07-31 13:19] jsquire commented on #13875
Tagging and routing to the team member best able to assist.

[2020-07-31 13:25] jsquire commented on #13861
Hi @srisrutim.  Thank you for your contribution and apologies that it hasn't been picked up.  I was curious as to why and when I looked, I noticed that it does not reference any of the Azure SDK libraries and was submitted to our cross-service sample area; because of that, the system was not able to apply tags that would have alerted the folks who should review.

This looks to be a gap in our GitH

[2020-07-31 13:25] #13861 closed

[2020-07-31 14:18] 1RedOne opened #13876 "[QUERY] Example of the right way to get an IResourceManagementClient using non-fluent API."
**Query/Question**
I see there is an `IResourceManagementClient` which I would like to use because passing this in with DI will be much easier to test than trying to mock `ResourceManagementClient` itself.  I can't find a lot of examples on using `Microsoft.Azure.Management.ResourceManager` so I'm asking here.

What's the proper way to get this interface to use instead of the concrete class?

Here

[2020-07-31 15:02] jsquire commented on #13876
Tagging and routing to the team member best able to assist.

[2020-07-31 15:09] tg-msft commented on #13875
[We have a guideline to not provide settable collection properties.](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections#collection-properties-and-return-values)  You can use C#'s list initializer syntax to achieve the same thing:

[code]

[2020-07-31 15:35] andre-ss6 opened #13877 "[BUG] Azure.Storage.Blobs.BlobClient.UploadAsync times out when the stream is at a position different than 0"
**Describe the bug**
Apparently similar to #9212 (see [comment](https://github.com/Azure/azure-sdk-for-net/issues/9212#issuecomment-628022052) - I'm opening another issue as that one has already been closed).

If you call `BlobContainerClient.UploadBlobAsync(string, Stream)` or `BlockBlobClient.UploadAsync(Stream, ...)`  and pass a `MemoryStream` (didn't test with any other type of `Stream`) with

[2020-07-31 16:34] ShreyasRmsft opened #13879 "[BUG]"
**Describe the bug**
There are times when a [azure vm linux run command](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest) execution gets hung and remains in this state indefinitely and we are unable to queue new run commands on that VM. The 90 minute timeout mentioned in the docs does not kick in. Stopping and starting the VM also does not allow queueing a new run c

[2020-07-31 16:37] m-russ opened #13880 "[BUG] Inconsistency between BlobServiceClient and BlobContainerClient Connection String Parsing"
**Describe the bug**
Using the Azurite Storage emulator Docker Image  with connection string: ```DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage-emulator:10000/devstoreaccount1;```

This works fine with the BlobServiceClient, but drops the account name wh

[2020-07-31 17:14] luisgizirian opened #13882 "Show other than "null" for SecretString parameters when listing Graphs for LiveVideoAnalytics.Edge"
**Describe the bug**
When getting data from `GraphInstanceList`, show other legend than "null" for those parameters that are defined as SecretString at the topology level.

As a dev, if I see `null` somewhere unexpected, my sweating begins :)

**Expected behavior**
<secure/hidden-string> or whatever.

**Actual behavior (include Exception or Stack Trace)**
[code]

[2020-07-31 17:33] luisgizirian opened #13883 "Inconsistencies with TimeSpan and "PT" nomenclature within LiveVideoAnalytics.Edge"
**Describe the bug**
Most properties (from `MediaGraph*` classes), expect the nomenclature (i.e "PT30S", for 30 seconds) as a string. Found that `MediaGraphAssetSink.SegmentLength` expects a TimeSpan instead. It does work, but feels like an inconsistency.

[2020-07-31 18:14] manums commented on #13808
Function is able to access keyvault secret with `AzureServicesAuthConnectionString` environment variable set to `RunAs=App;AppId={ClientId of user-assigned identity}`.

Thanks @heaths  for pointing me to that.

Can you confirm if azure function has:

- Multiple user assigned managed identities assigned?

- Both System assigned identity and user assigned identity assigned.

[2020-07-31 18:20] jvanitallie commented on #12145
Is there any update to this?  Not having an MSAL (Azure.Identity) provider for SqlAppAuthenticationProvider is gating our ability to move completely away from ADAL which has now been officially announced as end of life.

[2020-07-31 19:10] bganapa opened #13884 "[FEATURE REQ] Support Multiple API Versions in a Single SDK"
**Library or service name.**
AzureStack

**Is your feature request related to a problem? Please describe.**
In Azure Stack Hub, we try to have a consistent developer experience similar to Azure. This includes having Profile support on each of the SDKs so that they can enable the hybrid solution. A Profile is used to represent a set of Namespaces and their API versions. It is a representation of us

[2020-07-31 19:27] schaabs commented on #13531
@mderriey Thanks for reaching out with this question, and thanks for the great blog post! Your use of the `GetTokenAsync` method here is perfectly valid. The statement from the XML docs you mentioned above, was meant to discourage people from calling `GetTokenAsync` directly in the most common case that they are using a client from our SDK which supports authenticating using a `TokenCredential`. H

[2020-07-31 19:36] #9729 closed

[2020-07-31 19:40] schaabs commented on #12558
@danieljurek do you consistently get this error? Based off the specific error it looks like it could have possibly been a transient service interuption `Status: 503 (Service Unavailable)`

[2020-07-31 19:53] schaabs commented on #13588
@khilscher Thanks for reaching out with with this question. Since the `InteractiveBrowserCredential` authenticates a user to authorize azure service calls, the application registration you're using requires the user_impersonation for all services you need to access. If you omit the `clientId` parameter when constructing the `InteractiveBrowserCredential` it will use a first party application id wh

[2020-07-31 19:57] amnguye commented on #9549
@gurufordy Could you make a new issue with this information and the other information that is asked in the form? Thanks

[2020-07-31 20:16] allenjzhang commented on #13496
Thank you for the feedback. We are looking into supporting this.

[2020-07-31 20:47] schaabs commented on #13751
Setting `EnablePersistentCache` to true will cause the cache to be stored automatically, in the same manner as using `MsalCacheHelper` from *Microsoft.Identity.Client.Extensions.Msal* directly. In fact *Azure.Identity* is using this library for cache persistence.

The `AuthenticationRecord` essentially identifies the correct account in the cache. Just as when using MSAL directly you would need thi

[2020-07-31 20:51] jsquire commented on #13877
Tagging and routing to the team best able to assist.

[2020-07-31 20:53] schaabs commented on #12417
@Console32 Thanks for filling this issue, sorry you're experiencing this trouble. Looking at the call stack it doesn't appear that the `DefaultAzureCredential` is failing to authenticate, but rather that the call to storage failed because it was not authorized. Are you sure the account you are using has the appropriate RBAC permissions assigned to it? Also, if you're still experiencing this issue

[2020-07-31 20:54] kinelski commented on #13857
Java cannot hide their properties due to constraints imposed by their access modifiers.

In .NET, we decided to keep them hidden because they're not very useful to the user. If we get future feature requests to expose these properties, we can always include them as additive changes, which won't break the API.

[2020-07-31 20:54] #13857 closed

[2020-07-31 20:58] jsquire commented on #13879
Hi @ShreyasRmsft.   Unless I misunderstand the context, it appears that your feedback is related to the Azure CLI and not one of the .NET Azure client libraries.  The CLI is not part of this repository;  you may want to consider opening an issue in the [CLI repository](https://github.com/Azure/azure-cli/issues) to ensure that the right folks are able to assist.

I'm going to close this out, but pl

[2020-07-31 20:58] #13879 closed

[2020-07-31 21:00] jsquire commented on #13880
Tagging and routing to the team best able to assist.

[2020-07-31 21:02] jsquire commented on #13882
Tagging and routing to the team best able to assist.

[2020-07-31 21:03] jsquire commented on #13883
Tagging and routing to the team best able to assist.

[2020-07-31 21:25] heaths commented on #13808
Yes, Functions should support both. See https://docs.microsoft.com/azure/app-service/overview-managed-identity?tabs=dotnet for more information. If you have Functions questions beyond that, you may find better support contacting the Functions team. I can help with Key Vault issues, but don't know a lot about Functions beyond the public documentation.

[2020-07-31 21:25] #13808 closed

[2020-07-31 22:14] luisgizirian commented on #13883
Closing as it doesn't belong here. My apologies.

[2020-07-31 22:14] #13883 closed

[2020-07-31 22:19] luisgizirian commented on #13882
Closing as it doesn't belong here. Sorry about the confusion.

[2020-07-31 22:19] #13882 closed

[2020-07-31 23:59] pharring opened #13893 "[BUG] System.Xml.XmlException: ''"' is an unexpected token using preview Azure.Core on net472"
**Describe the bug**
Ran into this bug when upgrading our service to the dev feed of Azure.Core to test fixes for credential and storage issues.
Blob storage stopped working due to an XmlException. Note that this repros on .NET Framework, but not on .NET Core.

**Expected behavior**
Program should exit cleanly.

**Actual behavior (include Exception or Stack Trace)**
System.Xml.XmlException: ''"' i

[2020-08-01 00:21] kinelski opened #13894 "[FormRecognizer] Make FormField.ValueData null if no properties are returned by the service"
In receipt recognition, the `FieldValue` definition (described in the [form recognizer swagger file](https://github.com/Azure/azure-rest-api-specs/blob/cfd53fbb24ddb3551abddf6f1096983378e9e1e2/specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/FormRecognizer.json#L1549)) is used to build field-related objects, such as the `ValueData` present in our `FormField` type.

https://gi

[2020-08-01 01:10] kinelski opened #13896 "[Design] Consider making FormElement.PageNumber nullable"
`FormElement.PageNumber` is nullable in Java, but it's non-nullable in .NET.

In most scenarios, it's possible to accurately determine the page number of a recognized element. However, in `FieldValue` (the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/cfd53fbb24ddb3551abddf6f1096983378e9e1e2/specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/FormRecogn

[2020-08-01 02:30] JoshLove-msft commented on #12632
We have settled on the location. The only thing outstanding is the name.

[2020-08-01 02:30] #12632 closed

[2020-08-01 03:47] #13395 closed

[2020-08-01 04:59] #13632 closed

[2020-08-01 06:24] mderriey commented on #13531
Hey @schaabs, thanks for getting back to me on this!

Right now, the docs read:

Here are a few suggestions:

- This method is called by Azure SDK clients. It isn't intended for use in application code when using them.
- When using Azure SDK clients, this method is automatically called through `TokenCredential` and doesn't need to be used in application code.
- Application code shouldn't use this

[2020-08-01 11:13] gurufordy opened #13897 "[BUG] Container Policy created SAS not working when uploading blobs to container (HTTP 403)"
**Describe the bug**
Trying to create a container policy and then a SAS URI so that I can upload blobs into a container. I am running a script, but doing the same thing by hand yields the same rejection. Doing the same thing with no policy works fine.

_Originally posted by @gurufordy in https://github.com/Azure/azure-sdk-for-net/issues/9549#issuecomment-667068872_

**Expected behavior**
The SAS t

[2020-08-01 16:31] #12964 closed

[2020-08-01 16:37] jsquire commented on #13897
Tagging and routing to the team best able to assist.

[2020-08-01 19:32] steven1152 opened #13899 "[BUG] Azure Service Bus Queue (RegisterMessageHandler) not working on .NET 5.0 Preview 7"
**Describe the bug**
An exception is thrown repeatedly on exceptionReceivedHandler after calling queueClient.RegisterMessageHandler when running .Net 5.0.
The exact same project runs fine on .Net Core 3.1.

**Expected behavior**
No exception thrown

**Actual behavior (include Exception or Stack Trace)**
Following exception is thrown repeatedly
[code]

**To Reproduce**
Steps to reproduce the behavi

[2020-08-01 22:28] maririos opened #13900 "Codegen for DetectLanguage"

[2020-08-01 22:29] maririos commented on #13358
Because of codegen, we've moved this to September

[2020-08-01 22:29] maririos commented on #13357
Because of codegen, we've moved this to September

[2020-08-01 22:31] maririos opened #13901 "CodeGen for KeyPhrases"

[2020-08-01 22:31] maririos opened #13902 "CodeGen for RecognizeEntities"

[2020-08-01 22:33] maririos opened #13903 "CodeGen for RecognizeLinkEntities"

[2020-08-01 22:33] maririos opened #13904 "Codegen for AnalyzeSentiment"

[2020-08-01 22:41] maririos opened #13905 "Revert multi API testing for TA"
Because of the swagger structure, we can't support different versions of the API when using codegen.
Because we want to move Ta to codegen, we need to disable multi API testing. So reverting PR https://github.com/Azure/azure-sdk-for-net/pull/13252

[2020-08-01 23:30] JoshLove-msft commented on #13510
I just tested this locally and the recording didn't include the HEAD request with the Content-Length of 0. Playback worked fine after re-recording. Is it possible there was a server issue? Can you try to re-record?

[2020-08-02 15:32] jsquire commented on #13899
Tagging and routing to the team best able to assist.

[2020-08-02 15:33] jsquire commented on #13899
//cc: @JoshLove-msft, @MiYanni

[2020-08-02 16:36] paragagrawal11 opened #13910 "[FEATURE REQ] ScoringStatistics and Features Mode"
Support for ScoringStatistics=Global and Features Score released in the new API in C# SDK
https://docs.microsoft.com/en-us/azure/search/index-similarity-and-scoring#:~:text=see%20Scoring%20Profiles.-,Scoring%20statistics%20and%20sticky%20sessions,the%20data%20within%20a%20shard.

[2020-08-02 18:02] jsquire commented on #13910
Tagging and routing to the team members best able to assist.

[2020-08-02 20:41] thoemmi commented on #13751
Many thanks for the clarification 👍

I'm afraid I have to wait for 1.3.0-preview to continue with `DeviceCodeCredential` or stick with 1.2.0-preview.6 😉

[2020-08-02 20:41] #13751 closed

[2020-08-03 04:56] mr-davidc commented on #13637
Hi @DorothySun216, I just double checked and yes I can confirm the exceptions I am currently seeing are being thrown from within v4.1.3 of Microsoft.Azure.ServiceBus in our Sandbox environment.

The most recent set of exceptions recorded by Sentry was 4 days ago on 30-07. I have attached a screenshot of the Sentry page showing the version of the ServiceBus package and a screenshot of the number of

[2020-08-03 05:08] isra-fel commented on #13876
@1RedOne Hi, we generate an interface `I*ManagementClient` and a concreate class `*ManagementClient` which implements the interface for every SDK. The only way to use the interface is to instanciate the concreate class -- you are doing the right thing.

As of mocking, all I can think of is to write your own `Mock*Client implements I*Client` . Never saw anyone did that before :(

[2020-08-03 06:19] Console32 commented on #12417
@schaabs
I was using Azure CLI and I sure had permissions assigned to it (created the blob storage using terraform). Maybe it is working with the new preview. I will give it a look.

[2020-08-03 06:21] erich-wang commented on #13505
It sounds more like environment issue, I would suggest you to capture the loaded assemblies info right before and after exceptions in US hosts and India hosts and compare their difference.

[2020-08-03 07:51] rosponda57 commented on #13875
Ok, thank's for the solution.

How about runtime, and adding a dynamic list of fields to Select?  (e.g. user chooses fileds to select)
What would be the best solution?

[2020-08-03 08:30] woutervs commented on #10529
I'll see if I can find some time to squeeze in another test. At some point I did manage to get it to work and from there I deployed to production as this is not a customer critical component, but an internal tool.

[2020-08-03 10:35] danielmarbach commented on #13388
What is the model that you are planning to go for? Will it be a general-purpose exception with just the message indicating what went wrong or will the exception contain specific codes that indicate the type of failure that occurred? Will the exception also tell what has changed between the last update? Are you considering adding retry policy support first win scenarios or will that be something th

[2020-08-03 10:46] Console32 commented on #12417
@schaabs works as expected now.

[2020-08-03 10:54] imranveliyev commented on #10008
Hi. **var key = await functionApp.GetMasterKeyAsync()** trying to get maskter key. it works intermittently.
What can be the problem?
![bug](https://user-images.githubusercontent.com/46125297/89175622-c5dfb200-d590-11ea-8a01-f358202fb1c0.PNG)

[2020-08-03 14:03] 1RedOne commented on #13876
Closed!  I wrote the tests using this approach, Mock*Client implements
I*Client and it worked perfectly.

On Mon, Aug 3, 2020 at 1:08 AM Yeming Liu <notifications@github.com> wrote:

[2020-08-03 16:08] heesunlee9 commented on #13910
Which support do you need? What is your specific question? Do you want updated documentation?

[2020-08-03 16:55] MiYanni commented on #13388
@danielmarbach We've actually decided to not implement ETag support from this proposal. So, the information from this discussion will no longer apply. ETags only only work for Topics/Queues and do not function for Rules/Subscriptions. However, we will make the SDK so that we could add ETag support in the future as an opt-in kind of mechanism, such as a method overload, if they are implemented for

[2020-08-03 16:55] #13388 closed

[2020-08-03 17:30] mjaow opened #13918 "How to check the detail of status of container instance after creating"
**Query/Question**

Recently I found many container instances were not accessible after creating it.  It last for 30min and than we stop the task

However , we have no idea what's going on? How can I get the container instance status ( or event, or debug information) for it?

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-get-logs#get-diagnostic-events
the docs says

[2020-08-03 17:36] seanmcc-msft commented on #13510
https://github.com/Azure/azure-sdk-for-net/pull/13917

[2020-08-03 17:48] SeanFeldman commented on #13388
@MiYanni, track 2 `ServiceBusException` didn't expose `FailureReason` as a type. This is a good addition to avoid reliance on exceptions message content.

[2020-08-03 19:45] #13661 closed

[2020-08-03 19:57] #13893 closed

[2020-08-03 20:19] chris-skuvault opened #13920 "[QUERY] Azure.Messaging.ServiceBus Processing speed of messages question"
**Query/Question**
How can we help?

I have been testing using Azure.Messaging.ServiceBus recently and have noticed slow processing speeds when using session message processor or any of the Session Receiver ReceiveMessagesAsync overloads and just looping through all my messages. So far in my testing I have only been able to make a single receiver process between 5 and 8 messages a second when rece

[2020-08-03 20:34] meanjeekim opened #13921 "Expose pagination of results through `Pageable.AsPages`"
C# typically exposes `maxPerPage` through `.AsPages(int? pageSizeHint)`, so[ look into pagination in other SDKs](https://github.com/Azure/azure-sdk-for-net/pull/13824#discussion_r463718291) to see the best way to implement that.

## Resources
- https://docs.microsoft.com/en-us/dotnet/api/azure.pageable-1?view=azure-dotnet
- https://github.com/meanjeekim/azure-sdk-for-net/blob/master/sdk/search/Azu

[2020-08-03 21:19] amnguye commented on #13877
Hi,

I believe this is something @seanmcc-msft is working on with OpenRead and OpenWrite. So this might be a duplicate of https://github.com/Azure/azure-sdk-for-net/issues/9607 ?

[2020-08-03 21:38] AlexGhiondea commented on #13920
@JoshLove-msft can you take a look?

[2020-08-03 22:00] andre-ss6 commented on #13877
Hmm, I'm sorry if I'm misunderstanding, but isn't that issue about creating two new APIs? This issue is about a bug with current APIs. Note that I'm not requesting any new features, rather for a correction in current behavior. Again, sorry if I'm misunderstanding.

[2020-08-03 22:05] seanmcc-msft commented on #13877
Hi @andre-ss6, I think you are right, this is might be a bug in the current API.  We'll take a look and investigate!

[2020-08-03 23:13] amnguye commented on #13880
This looks like a bug, and I think might be a duplicate. I will mark this as a bug for now and we will look to get this fixed soon thanks!

[2020-08-03 23:48] #13058 closed

[2020-08-04 02:09] #13283 closed

[2020-08-04 02:18] maririos commented on #11946
We can do this now as service is now returning:
[code]

[2020-08-04 02:28] #12749 closed

[2020-08-04 02:28] #13741 closed

[2020-08-04 02:33] maririos opened #13928 "Understand filtering capability for entities returned from TA"
For example, `domain` in PII. See [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.1/TextAnalytics.json#L122).

Also, will this filtering be in other endpoints? could we have (PII,PHI) as a filter?

[2020-08-04 03:02] #13876 closed

[2020-08-04 03:45] nickzhums commented on #13422
@WhitWaldo we decided to add DNS to our next wave of package list, which is probably going to be public previewed in Sep/Oct timeframe.

[2020-08-04 04:21] KarishmaGhiya opened #13931 "Cleanup Readme content of management plane libraries"
The following libraries have the content of the Readme.md with the actual guidelines of the readme and these should be cleaned up with relevant introduction for the particular libraies -

![image](https://user-images.githubusercontent.com/8968058/89252634-2a216680-d5cf-11ea-90e8-6cdba0a42348.png)

This is the content that is pulled from the template readme and should be replaced with relevant cont

[2020-08-04 06:00] mr-davidc commented on #13637
@DorothySun216

Just 13 hours ago, the functions project experienced more of these types of exceptions. However, as an interesting point to add, I also have another completely different functions project (running the same Functions and ServiceBus DLL versions) deployed in the same cluster but a separate Kubernetes Pod which ALSO experienced the same exceptions at that time...

Any ideas?

[2020-08-04 14:27] jsquire opened #13937 "Event Hubs Client Library for .NET - October Milestone"
For general summary and goals, please see: [Release Event Hubs Track 2 Updates (#1393)](https://github.com/Azure/azure-sdk/issues/1393).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning for the next milestone

# Implementa

[2020-08-04 14:34] jsquire opened #13938 "Review and update documentation (October Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2020-08-04 14:36] jsquire opened #13939 "Create and revise samples (October Milestone)"
# Summary

In preparation for the current milestone release of the Event Hubs client libraries, the samples which accompany them should be extended to include new features, maintain accuracy in the face of changes, and cover relevant scenarios.

# Scope of Work

- All samples should be reviewed and updated to reflect the current design.

- All samples should be reviewed and updated to reflect the

[2020-08-04 14:46] pakrym commented on #10659
@lmolkova do you have any recommended patterns for cases like this?

[2020-08-04 14:54] #12551 closed

[2020-08-04 14:57] erich-wang opened #13940 "[BUG][Azure.Identity] Fail to authenticate when using InteractiveBrowserCredential"
**Describe the bug**
Get the following exception when using InteractiveBrowserCredential:

MsalClientException: Only loopback redirect uri is supported, but urn:ietf:wg:oauth:2.0:oob was found. Configure http://localhost or http://localhost:port both during app registration and when you create the PublicClientApplication object. See https://aka.ms/msal-net-os-browser for details

**To Reproduce**

[2020-08-04 15:02] jsquire opened #13941 "Idempotent Publishing Support: Client Infrastructure"
# Summary

When publishing events to Event Hubs, timeouts or other transient failures may introduce ambiguity into the understanding of whether a batch of events was received by the service. Because Event Hubs has an at-least-once guarantee for delivery and consumers are strongly encouraged to be idempotent in their processing, the common approach is to resend any batch where the status of receipt

[2020-08-04 17:11] DorothySun216 commented on #13637
@mr-davidc thanks for confirming on the version. Can you share with us a snippet of your code when you run into this error and we will see if we can repro it? Are you using ReceiveAsync or RegisterMessageHandler? We could try to translate this exception into communication exception if we can repro so the retry logic of SDK will auto retry if it's communication exception.

[2020-08-04 17:24] amnguye commented on #13897
Hi,

Just for clarification, is your container named "mysubfolder" ? and is this the same container name you have in your SAS Uri (e.g. https://$StorageResourceName.blob.core.windows.net/$($**ContainerName**)?$sasToken)

If you only want the `BlobContainerClient` at the end of the day, may I suggest handing the Uri to the `BlobContainerClient(SasUri)`, instead of handing it to the `BlobServiceClie

[2020-08-04 17:40] ramya-rao-a opened #13946 "[Schema Registry] Add convenience layer for SchemaRegistryClient"
This issue is a follow up for #13471

Using the [Java SchemaRegistryClient](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/schemaregistry/azure-data-schemaregistry) as a reference, add a convenience layer to the generated client in `@azure/schema-registry` package applying [.Net SDK guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html).

The corresponding package in

[2020-08-04 17:51] amnguye commented on #13918
To view container logs, you have to use the storage management plane SDK instead
https://www.nuget.org/packages/Microsoft.Azure.Management.ContainerInstance/

I will relabel this issue with Mgmt, so it gets routed and gets the proper attention. Please relabel with client and storage if this is a Azure.Storage.Blobs issue.

[2020-08-04 18:07] maririos opened #13947 "Fix broken build"
See failures: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=481999&view=results

[2020-08-04 18:40] tg-msft commented on #13635
Closing as by design.  `ErrorCode` is a property name/type suffix and we want that `formatted as code` without the 's'.

[2020-08-04 18:40] #13635 closed

[2020-08-04 18:41] tg-msft commented on #13634
Editing out the error code feedback.  `ErrorCode` is a property name/type suffix and we want that `formatted as code` without the 's'.

[2020-08-04 18:42] tg-msft commented on #13633
Editing out the error code feedback.  `ErrorCode` is a property name/type suffix and we want that `formatted as code` without the 's'.

[2020-08-04 18:44] tg-msft commented on #13636
Editing out the error code feedback.  `ErrorCode` is a property name/type suffix and we want that `formatted as code` without the 's'.

I'll restore `https://aka.ms/bloburl`.  The `CreateTempPath` part should be fine because we overwrite the file.

[2020-08-04 18:59] #9404 closed

[2020-08-04 19:18] mitchdenny opened #13950 "AddAzureAppConfiguration(...) with TokenCredential"
**AppConfiguration**

**Is your feature request related to a problem? Please describe.**
The ```AddConfigurationClient``` method on ```ConfigurationClientBuilderExtensions``` doesn't take a TokenCredential. This might have been an oversight based on when we added MSI/AAD auth support to AppConfiguration.

[2020-08-04 19:48] allenjzhang commented on #13884
@bganapa , thank you for your feedback. One thing to keep in mind is languages like C# and Java are static type langauges.  Unlike Python, it is much harder to maintain different schemas and yet maintain a single model types without having to hand craft the types and API surfaces. Having said that, we are looking into the multi-api support for C# to see how we can best support it. Issues linked to

[2020-08-04 19:53] #13884 closed

[2020-08-04 19:56] allenjzhang commented on #13931
This work is in progress.

AB#3997

[2020-08-04 20:06] JoshLove-msft commented on #13920
@chris-skuvault when operating on a single session you are constrained to a single session link as that link will lock the session. Adding concurrent processing of an individual session (available in upcoming preview), would help if your bottleneck is the time it takes to perform processing within your application. It won't, however, increase the throughput of messages that can travel over the lin

[2020-08-04 20:54] #13451 closed

[2020-08-04 21:10] #13900 closed

[2020-08-04 21:24] tg-msft commented on #13636
I've restored https://aka.ms/bloburl and worked with EngSys to make sure it's never deleted again.  Leaving the bug open to either make sure our sample tests run live or we add a unit test that specifically tries downloading `https://aka.ms/bloburl` to ensure it doesn't disappear again.  Removing blocking-release labels.

[2020-08-04 21:25] kinelski opened #13954 "[Documentation] Update Form Recognizer README after Doc Review"
We must rename `Authenticate a Form Recognizer client` header to `Authenticate the client`.

[2020-08-04 21:48] #12959 closed

[2020-08-04 22:13] chris-skuvault commented on #13920
@JoshLove-msft The concurrent processing of an individual session in the next preview will definitely help performance in that regard. I don't think I will have issues in that sense as I will only ever be able to have a session call concurrency of 1 so things process in order.

I'm trying to get an understanding on how fast a single session can be processed from a queue with a call concurrency of

[2020-08-04 23:24] maririos commented on #13356
Email sent. Arch board scheduled for 8/13

[2020-08-04 23:27] maririos commented on #12925
It is a breaking change so we will leave it as is

[2020-08-04 23:27] #12925 closed

[2020-08-04 23:29] #12813 closed

[2020-08-04 23:35] jongio commented on #12813
Very cool!  Thanks @ctstone for getting this done and thanks @maririos for all the follow ups!

[2020-08-05 00:01] #13954 closed

[2020-08-05 00:03] maririos opened #13960 "Fix Build Failures"
Nightly builds are broken with => https://dev.azure.com/azure-sdk/internal/_build/results?buildId=483591&view=logs&j=ad07b744-5a1a-5d54-7693-fcb02e666633&t=88540a4e-0b51-541f-e623-7b2636eab300

Even though we haven't changed those tests. So before we update, we need to figure out what changed.

[2020-08-05 00:04] maririos commented on #13699
Version decided is 3.0
We need to make sure to update our docs and package with this information

[2020-08-05 00:05] amnguye commented on #13298
Hi sorry for the late response. Sorry if I don't address everything from your most recent message, if you want me to address something I didn't respond to please reply with it.

The reason why Fiddler does not work is because your App makes the call to storage from the Web Application, so it does not pass through Fiddler. So Fiddler is working as intended.

When I said that I

I meant this code sn

[2020-08-05 00:17] manums commented on #13808
@heaths is there a way to use more than one user assigned managed identity in one azure function app. What should appid to set for environment variable `AzureServicesAuthConnectionString` - RunAs=App;AppId={ClientId of user-assigned identity}?

[2020-08-05 00:30] kristapratico commented on #12789
It looks like the error message has been updated to be more clear when AAD auth is attempted without a custom subdomain name:
`(BadRequest) Please provide a custom subdomain for token authentication, otherwise API key is required. (Please see https://aka.ms/cogsvc-authenticatewithtoken)`

[2020-08-05 02:44] mjaow commented on #13918
no need, already done

[2020-08-05 02:44] #13918 closed

[2020-08-05 05:28] serkantkaraca commented on #11987
Fix under review https://github.com/Azure/azure-sdk-for-net/pull/13966

[2020-08-05 05:49] brenwebber commented on #13899
Experiencing the exact same issue. Switching project from 3.1 to 5 (with no other changes) starts generating this error. All our services use Service Bus, so this is a blocker to us trying 5 atm.

Subscribed.

[2020-08-05 08:01] #2022 closed

[2020-08-05 08:32] mr-davidc commented on #13637
So that's the thing @DorothySun216, I'm not actually directly using `ReceiveAsync` or `RegisterMessageHandler` explicitly anywhere in my code. It's only in the function definition where I reference anything service bus related in the `ServiceBusTrigger` like so:

Queue trigger example:
`public async Task Run([ServiceBusTrigger("update-account-balances", Connection = "ServiceBus")] OrganisationMess

[2020-08-05 09:11] lenniebriscoe opened #13968 "Add Abstractions to FormRecognizer to allow for easier Mocking"
**Library or service name.**
What library or service is this request related to?
Azure.AI.FormRecognizer

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

I am writing a service that consumes the FormRecognizer. In order to test my class that consumes the FormRecognizerClient I am attempting to Mock the depend

[2020-08-05 10:55] focusonmx commented on #8292
Can I  start  this issue?

[2020-08-05 11:06] mehalick commented on #13899
I'm having the same issue trying to send a message with `MessageSender.SendAsync(message)`, also using Microsoft.Azure.ServiceBus 4.1.3 and .NET SDK 5.0.100-preview.7.20366.6.

The same code works as expected in .NET Core 3.1.

[2020-08-05 13:47] jsquire commented on #13968
Hi @lenniebriscoe.   Thank you for sharing your feedback and we regret that you're experiencing difficulties.   The ability to mock the Azure SDK libraries is a core priority for us.  Typically, mocking for model types would be done using a dedicated model factory, which our [guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-mocking) describe.

Because the Form Recogniz

[2020-08-05 15:43] #13675 closed

[2020-08-05 16:11] lmolkova commented on #10659
@sebader as a short-term mitigation strategy, filter out the dependency using [TelemetryProcessor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#filtering).

Can you also share what would be the best option for you:
- never trace  EnvironmentCredential .GetToken call
- trace it but do not consider it an error
- something else?

In the long term, from the instrumen

[2020-08-05 16:17] sebader commented on #10659
@lmolkova I would opt for the second one, "trace it but do not consider it an error". It might be helpful for the developer to understand whats happening when using DefaultCredentials - vs. for instance ManagedIdentityCredential directly. So showing all the calls in the order as they are attempted, makes sense to me.

[2020-08-05 16:19] pakrym commented on #10659
I think "report it without indicating error status" is the right way to go too. Client invocation would throw if auth fails anyway and we can register error there.

[2020-08-05 16:21] pharring commented on #12864
I presume this is about Azure.Identity. Here's what I came up with for our product:
[code]

It's derived from `TokenCredential`, so it can be used in place of `ClientCertificateTokenCredential` -- it's not quite a drop-in replacement since it doesn't use `TokenCredentialOptions` to get the authority, but it should be obvious how to adapt it.

[2020-08-05 16:51] maririos commented on #13968
Thanks @jsquire .
That is correct. We are working on adding a model factory that will facilitate your work @lenniebriscoe .
Please follow issue https://github.com/Azure/azure-sdk-for-net/issues/11529 for status updates.

I will close this one as a dup of https://github.com/Azure/azure-sdk-for-net/issues/11529

[2020-08-05 16:51] #13968 closed

[2020-08-05 16:54] pakrym opened #13970 "[Flaky test] UploadAsync_WithUnreliableConnection"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=484399&view=ms.vss-test-web.build-test-results-tab&runId=12427772&resultId=108838&paneView=debug
[code]

[2020-08-05 17:02] #11946 closed

[2020-08-05 17:02] #13947 closed

[2020-08-05 17:35] tg-msft commented on #13781
Also need to change the links in the Azure.Search.Documents readme per https://github.com/Azure/azure-sdk-for-python/pull/12894

[2020-08-05 17:41] kinelski opened #13971 "[BUG] Make default BoundingBox have an empty array of Points"
Currently, when we do:
[code]
or
[code]

`BoundingBox.Points` is initialized to null. This has two implications:
- Calling `box[]` with any index will throw a `NullReferenceException` instead of an `IndexOutOfRangeException`.
- `ToString` will throw a `NullReferenceException` as well, so it won't return useful information for debugging.

We must make `Points` an empty array by default, following t

[2020-08-05 18:13] heaths commented on #13808
The client ID is the GUID assigned to your managed identity, which you can find in the Azure Portal for your managed identity as "Client ID".

You can get this in the Azure CLI if you know your identity name and resource group, e.g.:
[code]

Where `myid` is your managed identity name, and `rg-mygroup` is your resource group name.

[2020-08-05 18:13] pakrym commented on #8941
We have a blog post on this topic https://devblogs.microsoft.com/azure-sdk/lifetime-management-and-thread-safety-guarantees-of-azure-sdk-net-clients/

[2020-08-05 19:30] maririos commented on #13960
This is all because although we are targeting service `v2.0` the service is returning information for `v2.1`.
As part of the work on #12563 we will move to service `v2.0` and another more stable region

[2020-08-05 19:33] maririos commented on #12563
Will use region `westus2` and update the swagger reference, codegen, and disable AAD test for now

[2020-08-05 19:34] maririos opened #13975 "Enable AAD test in 2.0"
Currently disabled until the service releases a fix for them

[2020-08-05 20:04] serkantkaraca commented on #11557
No comm for a while. Please reactivate if needed.

[2020-08-05 20:04] #11557 closed

[2020-08-05 20:20] manums commented on #13808
My question is more about which app to set (in case of multiple user assigned managed identities) as AppId for `AzureServicesAuthConnectionString` environment variable.

I have both clientIds for both user assigned managed identities that are assigned to the function app where one provides access one shared keyvault and other provides access to some other keyvault owned by some other team(in diffe

[2020-08-05 20:42] serkantkaraca commented on #9798
PR for fix submitted.

[2020-08-05 20:42] #9798 closed

[2020-08-05 20:58] kieronlanning commented on #13553
Is this for the replacement to https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table/2.0.0-preview?

Falling inline with the Azure.Storage.XXX packages?

[2020-08-05 21:03] #13699 closed

[2020-08-05 21:36] serkantkaraca commented on #11289
Fix merged.

[2020-08-05 21:36] serkantkaraca commented on #11289
Fix merged.

[2020-08-05 21:36] #11289 closed

[2020-08-05 21:38] jongio commented on #12789
@maririos - I suggest that we call this out better in docs.  It's there, but would be good to explain the difference and what each one looks like.

[2020-08-05 21:47] maririos commented on #12789
Fair point

[2020-08-05 21:58] maririos commented on #13960
There is a blocking issue in #12563  so to unblock our nightly build I am changing the region to `westus2`

[2020-08-05 22:03] maririos commented on #12563
Docs we need to modify too: https://github.com/Azure/azure-sdk/issues/1620

[2020-08-05 22:13] #13960 closed

[2020-08-05 22:44] #13728 closed

[2020-08-05 23:26] amnguye commented on #13747
Sorry for the late reply. Also Sorry if I'm not too familiar with exposing APIs through the app registration but I have two theories.

1. This "Expose an API" is for exposing Web APIs. Which will make it think you already created a web API that has the functionality to message Queues (which means that its trying to point to an existing created API). I don't think it's pointing to the right place,

[2020-08-05 23:42] PureKrome commented on #8941
@pakrym Great post! Will it be 'linked' to any documentation in the official docs website (so in the future, it might be easy to find)

[2020-08-05 23:44] meanjeekim opened #13981 "Make SetAccessPolicyAsync() consistent with sync version"
Make the `tableAcl` not default in parameters.

[2020-08-05 23:48] meanjeekim opened #13982 "Make TableEntity default constructor without Partition and Row Key"
Common case would be unique key(?)

[2020-08-05 23:52] meanjeekim opened #13983 "Remove ETag setter in ITableEntity"
User shouldn't have to set ETag themselves, so setter is unnecessary. The problem was how to set the entity's ETag when deserializing.

Using the constructor to set the ETag could bypass that, so the users making a strongly-typed entity class would have to define the constructor themselves.

[2020-08-05 23:53] meanjeekim opened #13984 "Consider implementing DeleteTableIfExists"
Might require a discussion!

[2020-08-05 23:55] pakrym commented on #8941
Yes, I think we still need to turn into an official doc somewhere.

[2020-08-05 23:56] tg-msft commented on #8941
@pakrym - would you mind copying that blog post to https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Azure.Core/samples as a start?  We should also get a version of that blog post included in the conceptual docs and I want to update our [implementation guidelines](https://azure.github.io/azure-sdk/dotnet_implementation.html) to suggest standard blurbs about thread-safety, lifetime, e

[2020-08-05 23:56] meanjeekim opened #13985 "Make samples reliable"
- change label to something else; make other changes needed
- keep in mind, customers might copy paste samples, so make it reliable

-Both  C# sample files and snippets in Readme should both be reliable and able to copy/paste.

[2020-08-05 23:57] pakrym commented on #8941
FYI there are a few thread safety guidelines in https://azure.github.io/azure-sdk/dotnet_introduction.html#general-azure-sdk-library-design

[2020-08-06 00:03] meanjeekim opened #13986 "Renames to match .NET guidelines"
- `CreateEntity` -> `AddEntity`
- `Get/SetAccessPolicy` : strange that singular method name returns a collection
- `UpsertEntity` : Upsert might not be a .NET word
- `GetTables`: `select` parameter not necessary(?)
- `SetProperties`: `TableServiceProperties tableServiceProperties` -> `properties` due to type giving context
- `TablestModelFactory` -> `TableModelFactory`?

More on generic naming in

[2020-08-06 00:04] tg-msft commented on #8941
I mean standard doc comment blurbs.  :smile:  I want something easily copy/pasted (and maybe eventually verified) so we have consistent looking ref docs that cover all these details new developers wonder about but we don't necessarily consider when writing our n-th client library.

[2020-08-06 00:22] heaths commented on #13808
That's probably best answered by the Azure Functions team. Perhaps an environment variable can't be used, but I can't tell you for sure. I recommend contacting them internally since I see you're part of the Microsoft org.

[2020-08-06 00:24] heaths commented on #13910
Thank you for the suggestion. We'll consider this for a future release.

[2020-08-06 00:43] DorothySun216 commented on #13637
@mr-davidc  Thanks for the info. I will reach out to the Azure Functions team to see how they are calling our API internally since we don't have access to that code. Are you blocked on this issue?

[2020-08-06 00:46] tg-msft commented on #13910
Once https://github.com/Azure/azure-rest-api-specs/pull/10350 is merged, we should be able to add these to our client library.

[2020-08-06 02:11] LukeBolly opened #13990 "[FEATURE REQ] Support Batch Read/Write for Azure.Storage.Blobs.Batch"
**Library or service name.**
Azure.Storage.Blobs.Batch

**Is your feature request related to a problem? Please describe.**
Batch support for read and write operations would reduce network load for applications which service multiple files at once. Currently the API only supports one file per request, which can cause needlessly chatty applications.

[2020-08-06 02:16] mr-davidc commented on #13637
@DorothySun216 No, not blocked as such but ideally I would like to get to a point where these exceptions no longer occur as they are essentially false positives at the moment.

Looking forward to seeing what you come back with after discussing with the Azure Functions team.

Thanks for your help.

[2020-08-06 02:29] 1RedOne opened #13991 "[QUERY] Method to retrieve DeploymentOperations info for a Subscription scope deployment?"
**Query/Question**
Hi!  I am looking for a sample or pointer to reretrieving a DeploymentOperation (list of the deployed resources) for a SubscriptionScope deployment.  I'm doing a deployment using the

[code]

The deployment works but I can't find how to retrieve the list of deployed resources using the SDK (I need to not use preview bits).

Thanks for any pointers.

**Environment:**
* Microsoft.

[2020-08-06 04:11] jongio opened #13993 "Update F# on Azure Docs"
The following F# docs need to be updated to the new SDKs https://aka.ms/azsdk/releases

- [ ] Blob Storage https://docs.microsoft.com/en-us/dotnet/fsharp/using-fsharp-on-azure/blob-storage

- [ ] Queue Storage https://docs.microsoft.com/en-us/dotnet/fsharp/using-fsharp-on-azure/queue-storage

- [ ] File Storage https://docs.microsoft.com/en-us/dotnet/fsharp/using-fsharp-on-azure/file-storage

- [

[2020-08-06 04:18] manums commented on #13808
**This bug needs to be reopened. Issue mentioned is still present**. To explain in detail:

a. Function app is assigned with system assigned identity (appId = firstGuid) that gives access to KV - A to read secrets
b. Function app also has user assigned managed identity (appId =secondGuid) that gives access to KV - B to read secrets.
c. Function configuration is updated with new environment variabl

[2020-08-06 06:19] TonyMalandain opened #13995 "[BUG] Requests executed via Azure Search .Net SDK can be abnormally long"
**Describe the bug**
When executing Azure Search API calls via the SDK, I get a significant overhead compared to running the same calls from postman. Anywhere from 300ms to 16s.
If I use Fiddler to monitor the network traffic, I see that the majority of the delay is spent when the client submit the request to the server.
Here is a captured request in fiddler. Note the big delay between ClientBegin

[2020-08-06 07:34] blueww opened #13996 "[BUG] DataLakeFileSystemClient.GetDirectoryClient(string.Empty).Path is "" on "12.3.0-preview.1", and "/" on other version"
**Describe the bug**
Run following code , the 'rootDirPath' value will change on different "Azure.Storage.Files.DataLake" version:
[code]
- 12.0.0, 12.2.2: "/"
- 12.3.0-preview.1: ""
- 12.3.0-preview.2: "/"

It seems a regression on "12.3.0-preview.1" , and fixed on "12.3.0-preview.2".

As PSH depends on this value to decide if a DataLakeDirectoryClient object is root directory, the regression on

[2020-08-06 11:43] mattosaurus opened #13997 "[FEATURE REQ] Get topicHostname from BaseUri in EventGridClient"
**Library or service name.**
Microsoft.Azure.EventGrid

**Is your feature request related to a problem? Please describe.**
When publishing events using EventGridClient the PublishEventsAsync method requires topicHostname to be provided, however it's possible to determine this from the internal BaseUri attribute which is set at initialization so providing this argument is unecessary.

Would it be p

[2020-08-06 13:11] jsquire commented on #13990
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-06 13:12] jsquire commented on #13991
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-06 13:13] jsquire commented on #13995
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-06 13:19] jsquire commented on #13996
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-06 13:20] jsquire commented on #13997
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-06 13:20] jsquire commented on #13997
//fyi - @ellismg, @JoshLove-msft

[2020-08-06 13:38] mattosaurus commented on #13997
Thanks.

This would essentially involve adding the following overload to EventGridClient and updating IEventGridClient and EventGridClientExtensions accordingly.

[code]

[2020-08-06 13:46] StefH commented on #13747
Correct ; I did some investigation and it seems my scenario is not supported.

[2020-08-06 13:46] #13747 closed

[2020-08-06 13:55] gurufordy commented on #13897
Yes that's all correct @amnguye

[2020-08-06 14:59] Frankwayne commented on #13307
any hope on this issue, or will I need to look at other methods to solve my issue ?

[2020-08-06 15:03] annelo-msft opened #13998 "Update Analyzers for .NET projects"
I added a namespace to the list of allowed namespaces, for projects that participants of the Azure SDK Training series will create.

See: https://github.com/Azure/azure-sdk-tools/pull/729

We'll need to apply these to all .NET projects in the repo (Azure.Template at a minimum) so that they take effect on training projects.

[2020-08-06 15:07] radennis commented on #13307
@pdrayton @alongafni can you guys help?

[2020-08-06 16:06] divyajay commented on #13307
@Frankwayne can you provide the ActivityId for your query, so I can see what happened in our logs?
Unfortunately, a clusterUri of the format 'https://ade.applicationinsights.io/subscriptions/....' is not supproted in the KustoConnectionStringBuilder class, I'd have expected it to fail much earlier. I am actually surprised this is the error you see

[2020-08-06 16:27] jsquire opened #14000 "Stress and Stability Testing"
# Summary

In order to ensure that the Event Hubs client libraries perform consistently within customer expectations and standards established by the general availability release, periodic runs through the sustained exiting stress test harness should be performed.  Data gathered as part of the previews should be used to adapt or extend scenarios and ensure that the sustained runs are focused on th

[2020-08-06 17:15] heaths commented on #13808
Because you configured the environment variable to use the user assigned managed identity. It's working as designed. You are trying to use two different identities simultaneously, but the environment variable can only contain a reference to one. If that's even possible to run as two different identities, you'll need to work with the Azure Functions team for how that should be specified. It's not a

[2020-08-06 17:58] heaths commented on #13995
Most of the unexpected delay is all client-side, so we'll need to perftrace what's going on. There is overhead for `HttpClient`, which we use internally, but I wouldn't expect that to take 10 seconds, nor have I seen that. Could this be a binding / assembly load issue, especially since the code in question is running against Framework?

/cc @pakrym

[2020-08-06 18:04] TonyMalandain commented on #13995
@heaths : if you give me the instructions on the perftrace, I'm happy to run it. I thought about binding / assembly, but then it would happen most likely once the first time the app is loaded. Here, it seems to happen randomly, even after the app has been loaded.

[2020-08-06 18:24] maririos commented on #12563
Looks like AAD test will work now. Still blocked by no swagger with 2.0 version

[2020-08-06 18:24] maririos commented on #13975
Looks like this is fixed in the service, so closing issue

[2020-08-06 18:24] #13975 closed

[2020-08-06 18:29] meanjeekim opened #14002 "Implement GetDateTimeOffset in TableEntity"

[2020-08-06 18:39] xyh1 commented on #13775
This feature is still currently in preview so it is not supported in US Gov and China yet.

All regions will be supported shortly after the Blob Index feature become generally available. The supported regions will be updated in the documentation and/or blog post.

[2020-08-06 18:56] jsquire opened #14004 "Update package description for Microsoft.Azure.ServiceBus library"
# Summary

The current package description for `Microsoft.Azure.ServiceBus` on [NuGet](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/) begins with the text "This is the next generation Azure Service Bus .NET Standard client library..." which helped to differentiate it from its predecessor.

Once the `Azure.Messaging.ServiceBus` library is released for GA, it will be the recommended ver

[2020-08-06 19:00] Vaibhav-Agar commented on #10263
Hi @joerage,
The requirement to provide the hyperVGeneration property is enforced when an image is created from a blob or a disk resource (where we can’t determine the hyperVGeneration). This enforcement was done using a new api-version that started supporting Gen2 VMs. So, in this case you can specify the hyperVGeneration property when creating the image or update DiskRP resource with the hyperVG

[2020-08-06 19:00] #10263 closed

[2020-08-06 19:14] Frankwayne commented on #13307
@divyajay   I'm following the instructions here to turn on the  ADX preview

how to set up preview for ADX and app insights
https://docs.microsoft.com/en-us/azure/data-explorer/query-monitor-data

once that is set up you can being to use your dll to query  to the service.

My current activityId is "003189b0-b09f-4bf0-aea1-a999fa8379d1"     I have  change some things about my query such as paramete

[2020-08-06 19:19] JoshLove-msft opened #14005 "Release Service Bus Track 2 Library Preview 6"
This is a parent issue tracking the work planned for Service Bus to release Preview 6 in Septemeber following the C# .Net Azure SDK guidelines

Code complete date: September 4th, 2020

[2020-08-06 19:22] JoshLove-msft opened #14006 "Update Release notes and samples for GA"
This work item covers the work needed to update the release notes for the GA release.

[2020-08-06 19:24] heaths commented on #13995
Thanks! It would help since I've not seen times like this, and it may be limited to IIS or something else about the hosting environment.

1. Download [perfview](https://github.com/microsoft/perfview).
2. Open it and click **Collect** -> **Collect**.
3. Make sure ".NET" is checked (default).
4. Click **Start Collection**.
5. Run your scenario. Maybe do it a couple times as you suggested above in th

[2020-08-06 19:30] JoshLove-msft opened #14008 "Consider removing EntityNameFormatter"
FormatTransferDeadletterQueue can be built into the CreateDeadLetterReceiver method by adding an optional param.

[2020-08-06 20:00] JoshLove-msft opened #14010 "Consistency review"
Review the .NET APIs alongside the other languages and rationalize any differences.

[2020-08-06 20:06] rishabhjaisw opened #14011 "[BUG]"

[2020-08-06 20:11] #14011 closed

[2020-08-06 20:12] maririos commented on #12563
PR for the service update created: https://github.com/Azure/azure-rest-api-specs/pull/10367

[2020-08-06 21:14] heaths commented on #13567
Should we remove the Client label then? Seems there's nothing for me to fix since it's a docs publishing issue. I mean, I could stop using new lines, but that's merely a work around. I know @tg-msft likes to keep lines in Search (and probably Storage) to under 80 chars because...emacs (or just limited GitHub PR widths, but I still blame emacs).

[2020-08-06 21:14] heaths commented on #13324
We will not be implementing Security Domains in the SDKs, according to the services team. This will be done in the Azure CLI only.

[2020-08-06 21:14] #13324 closed

[2020-08-06 21:15] heaths commented on #12950
We will not be implementing Security Domains in the SDKs, according to the services team. This will be done in the Azure CLI only.

[2020-08-06 21:15] #12950 closed

[2020-08-06 21:17] heaths opened #14013 "Create top-level sample for Key Vault SAS support"
While we encourage customers to use RBAC for storage, some customers still need SAS token support for Storage. Rather than develop and support a SAS client library for Key Vault, we will add a sample to the top-level /samples directory of the repo. We should also have a corresponding README that recommends customers use RBAC and how.

[2020-08-06 21:28] JoshLove-msft opened #14014 "Blog post for Event Grid CloudEvent support"

[2020-08-06 21:30] #13676 closed

[2020-08-06 21:30] #13188 closed

[2020-08-06 22:17] #13744 closed

[2020-08-06 22:54] schaabs opened #14020 "ChainedTokenCredential should skip credentials throwing CredentialUnavailableException."
Currently the `DefaultAzureCredential` handles the `CredentialUnavailableException` to continue on in the credential chain. `ChainedTokenCredential` needs the same behavior.

[2020-08-06 22:56] #13894 closed

[2020-08-06 22:56] #13896 closed

[2020-08-06 22:56] #13971 closed

[2020-08-06 23:03] joshfree opened #14022 "Create Identity e2e tests for running in Azure Functions"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Functions hosted environment.

1. Add new /sdk/e2e tests for Azure Functions
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/899 with instructions for Test team

/cc @danieljurek

[2020-08-07 00:01] ellismg commented on #13997
Hi @mattosaurus!

You're correct that this is an unfortunate pattern we have in the existing SDK, however, I'm not certain that your proposed change will behave the way we want.  While you are correct that `BaseUri` is initialized when the client is created, it's initialized to a fixed value, which is the string: [`"https://{topicHostname}"`](https://github.com/Azure/azure-sdk-for-net/blob/9702b7e

[2020-08-07 00:01] #13997 closed

[2020-08-07 00:18] manums commented on #13808
I got answer from azure functions team that we need to explicit while new'ing AzureServiceTokenProvider with connection string of identity that we want to use to read secret or access keyvault.

Thanks for your answers, Heath.

[2020-08-07 03:42] danzel opened #14027 "[BUG] Cognitive.Vision.Face Identify MaxNumberOfCandidatesReturned doesn't match docs"
**Describe the bug**
You cannot call Identify with maxNumberOfCandidatesReturned > 5

**Expected behavior**
The documentation says this value can be 1-100 with a default of 10.
https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395239

**Actual behavior (include Exception or Stack Trace)**
`Microsoft.Rest.ValidationException: 'maxNumOfCan

[2020-08-07 04:42] serkantkaraca commented on #8761
PR under review. Please reactivate if you still hit the issue with 4.3.0 release. https://github.com/Azure/azure-sdk-for-net/pull/14030

[2020-08-07 04:42] #8761 closed

[2020-08-07 04:45] serkantkaraca commented on #11987
Fix merged. This will be available by 4.3.0 release.

[2020-08-07 04:45] #11987 closed

[2020-08-07 04:49] serkantkaraca commented on #8701
Fix is merged. This will be available by 4.3.0 release.

[2020-08-07 04:49] #8701 closed

[2020-08-07 06:18] allenjzhang commented on #13604
Thanks for your input. Backlog added

AB#3926

[2020-08-07 06:23] allenjzhang commented on #13603
Thank you for your input. Backlog added.

AB#4034

[2020-08-07 06:32] allenjzhang commented on #12332
Added to backlog AB#4034

[2020-08-07 06:35] allenjzhang commented on #12041
AB#4035

[2020-08-07 07:02] #9990 closed

[2020-08-07 11:30] filipCristian opened #14037 "Azure Storage: ContentHash not calculated after UploadAsync"
Hello all,

I will start by saying: Not sure if its a bug but at this point I'm afraid to ask. To moderators, please feel free to edit the issue type accordingly.

My project was running v9 of WindowsAzure.Storage which is deprecated and I decided to upgrade it to this sdk, but I have run into the following problem.
After uploading a blob, the content hash was not calculated, nor the _BlobContentI

[2020-08-07 11:41] mars-boy commented on #13524
Any update on this one. I am still having the issue.

[2020-08-07 12:19] johnknoop opened #14038 "ServiceBusException: 'Transaction hasn't been declared yet, or has already been discharged'"
This happens when I send messages to more than one queue within the same TransactionScope:

[code]

The exception is thrown from the line `await queueClient2.SendAsync(message2);`.

The problem seems to be related to using more than one instance of `QueueClient`, rather than the fact that I'm sending messages to two different queues, because I've tried creating two instances of `QueueClient` for t

[2020-08-07 13:58] jsquire commented on #14027
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-07 13:59] jsquire commented on #14037
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-07 14:01] jsquire commented on #14038
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-07 14:01] jsquire commented on #14038
//fyi:  @JoshLove-msft, @MiYanni

[2020-08-07 14:22] pakrym opened #14041 "Changelog entry check fail very late"
Instead of failing during build the check fails during package publish.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=486378&view=logs&j=9ad38fe2-79d5-526b-2a81-c8fed88974e0&t=546b959d-e62a-5ea3-552a-1e5f62f3e99d

cc @chidozieononiwu @weshaggard
![image](https://user-images.githubusercontent.com/1697911/89655287-bc02cb00-d87e-11ea-98ff-f731b014fd24.png)

[2020-08-07 14:44] #12417 closed

[2020-08-07 14:55] brandonwatts commented on #13480
Any update on this?

[2020-08-07 15:01] pakrym commented on #14041
After thinking about this it can't be done earlier.

[2020-08-07 15:01] #14041 closed

[2020-08-07 15:22] 1RedOne opened #14043 "[BUG] - Providing DeploymentParameters as an object leads to error"
**Describe the bug**

This seems related to the behavior in [issue: 1749.  ](https://github.com/Azure/azure-sdk-for-net/issues/1749)

We are using the Fluent API to create a new deployment.  When I provide the deployment params as a UTF-8 string and also using object notation (like this:)

**Template.json**
[code]

**Params.json**
[code]

We get deserialization errors.  This same sort of template

[2020-08-07 15:26] 1RedOne commented on #14043
We found the issue!

We had to provide our parameters as a JObject, and furthermore the object needs to be in this format.  Importantly, we could not provide the rest of the values, like `$schema` or `contentVersion`.

### Params.json
[code]

### Template.json
[code]

With this done, I could now deploy the deployment completely with this code:

[code]

[2020-08-07 15:26] #14043 closed

[2020-08-07 15:31] #13192 closed

[2020-08-07 16:44] weshaggard commented on #14041
Exactly because we don't know which set of packages we plan to release.

[2020-08-07 16:49] serkantkaraca commented on #8653
Sent PR for feature request - https://github.com/Azure/azure-sdk-for-net/pull/14047

[2020-08-07 16:50] serkantkaraca commented on #8479
This should have already fixed with 4.2.0 release.

[2020-08-07 16:50] #8479 closed

[2020-08-07 17:49] serkantkaraca commented on #7783
I don't see any way to fix this w/o breaking existing clients. Enforcing lowercase on consumer group names will surely break existing  implementations. The only guidance for today is to stick with initial casing processors started with from day one. Closing the issue since there is no action we can take to address this.

[2020-08-07 17:49] #7783 closed

[2020-08-07 18:18] #12563 closed

[2020-08-07 18:25] maririos opened #14049 "Decide enum for category in PII"
See comment in : https://github.com/Azure/azure-sdk-for-java/pull/13687#discussion_r464761878

When in PII we set domain... are those protected health information entities different than the ones in HealthCareEntity?
Does HealthCare has categories and different types?

[2020-08-07 18:33] maririos commented on #14049
https://github.com/Azure/azure-rest-api-specs-pr/pull/1728

[2020-08-07 18:37] helgeu commented on #7783
There is a fix obviously if needed/wanted, and that is to introduce some type of flagging for AlwaysLowerCase = true. But yes you are right enforcing any casing post priori will of course break stuff.

Another obvious fix is to document this possible problem extensively!

[2020-08-07 19:37] divyajay commented on #13307
Looks like the request did get sent along fine, but the Application Insights Query API does not support query parameters - so you ended up with a Semantic error because of that. There's no way to do this from an external client today.
Kql Magic for Jupyter gives you a way to do parameterize your queries - https://mybinder.org/v2/gh/Microsoft/jupyter-Kqlmagic/master?filepath=notebooks%2FParametrize

[2020-08-07 19:46] #13044 closed

[2020-08-07 20:18] Frankwayne commented on #13307
Perhaps I'm forming the documentation wrong.  This page details the possibility to query parameters

https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/netfx/request-properties

The page even has an example, The only thing it doesn't show is how to form the query itself.

[2020-08-07 20:21] Frankwayne commented on #13307
perhaps it has to be formed in this way.  I know the first bit of the second line of code looks like  python, but the query itself may give me some clues.  I'm going to give it a shot

p_dict = {'p_limit':5,'p_not_state':'OHIO'}

%%kql Samples@help
    -displayid='True'
    -params_dict p_dict
    let _limit_ = p_limit;
    let _not_val_ = p_not_state;
    StormEvents
    | where State != _not_val

[2020-08-07 20:24] amnguye commented on #13990
Right now the Blobs Batch REST API is limited to SetBlobTier and DeleteBlob
https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch#:~:text=The%20Blob%20Batch%20operation%20allows,each%20subrequest%20in%20the%20batch.

I will add on the feature request tag, and we will look to routing this feature request to the correc team.

[2020-08-07 20:28] #12549 closed

[2020-08-07 20:29] #12548 closed

[2020-08-07 20:36] divyajay commented on #13307
You are using a Proxy to query the Application Insights API using Kusto SDK. The Proxy does not add capabilities to the query experience, and today these are the only request properties the Application Insights API supports - https://dev.applicationinsights.io/documentation/Using-the-API/RequestOptions

[2020-08-07 20:39] #12384 closed

[2020-08-07 20:42] Frankwayne commented on #13307
sounds like I will be stuck regex the input to my queries then.  Thanks for your help and clarifying the issue at hand.

[2020-08-07 20:42] #13307 closed

[2020-08-07 20:55] JoshLove-msft opened #14052 "Binary Data UX Study"
Tracks the work that goes into preparing for UX study.

[2020-08-07 20:58] JoshLove-msft commented on #11879
The service team mentioned that we didn't need to integrate with their stress harness. We should just do simple console apps that will run over several days to verify correctness.

[2020-08-07 21:23] serkantkaraca commented on #8060
Fix under review at https://github.com/Azure/azure-sdk-for-net/pull/14053

[2020-08-07 21:23] #8060 closed

[2020-08-07 21:26] heaths opened #14054 "Remove $select from logged query parameters for Search"
The Search service treats column names as PII, so the .NET SDK should remove the `$select` query parameter in case the logs are shared with third parties.

[2020-08-07 21:33] MiYanni commented on #13471
Initial generation and investigation complete. After discussion with Pavel, package(s) and names will be figured out after we have initial implementation complete.

[2020-08-07 21:33] #13471 closed

[2020-08-07 21:38] pschaeflein opened #14055 "[QUERY] Is Azure.Data.AppConfiguration supposed to replace Microsoft.Azure.AppConfiguration.AspNetCore?"
**Query/Question**
I see that Azure.Data.AppConfiguration contains a ConfigurationClient that can read/write entries in AppConfiguration. However, it does not have the IConfiguration provider class/methods I would expect to plug into an ASPNET Core application.

**Environment:**
 - Azure.Data.AppConfiguration 1.0.1
 - DotNet 3.1 / AzureAppService
 - Visual Studio 16.6.5

[2020-08-07 21:44] #10659 closed

[2020-08-07 21:46] joebeernink opened #14056 "Documentation for QueueServiceClient needs to have an example using SAS Uris"
The documentation for QueueServiceClient needs to have an example using SAS Uris. Older methods used to take the SAS token as a separate parameter. It's not intuitively obvious to devs migrating from old versions to new versions that the SAS token needs to be appended to the Uri passed in to the constructor now.

[2020-08-07 21:58] #13905 closed

[2020-08-07 22:12] jongio commented on #14056
The Uri example here: https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueserviceclient.-ctor?view=azure-dotnet#Azure_Storage_Queues_QueueServiceClient__ctor_System_Uri_Azure_Storage_Queues_QueueClientOptions_

Only have the service uri. Let's add a Sas example and maybe update the description to be super clear that you can pass a Uri with sas.

[2020-08-07 22:17] jsquire commented on #14056
Hi @joebeernink.  Thank you for your feedback and sorry to hear that you're running into difficulties.  I'm tagging this up and routing to the team best able to assist.

[2020-08-07 22:18] jsquire commented on #14055
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-07 22:19] MiYanni opened #14057 "Initial work for Schema Registry Track 2 Library for .NET"
This is a parent issue tracking the initial work planned for Schema Registry.

[2020-08-07 22:26] pakrym commented on #14055
No, the Azure.Data.AppConfiguration is a pure service client and the Microsoft.Azure.AppConfiguration.AspNetCore is an ASP.NET Core integration layer that builds on top of Azure.Data.AppConfiguration library. They both would exist.

[2020-08-07 23:24] serkantkaraca commented on #8653
Merged

[2020-08-07 23:24] #8653 closed

[2020-08-07 23:50] heaths opened #14058 "Create documentation for aka.ms/azsdk/net/search/fieldbuilder"
Create a help topic for https://aka.ms/azsdk/net/search/fieldbuilder and update the aka link to point to it. Make this a sample in the Azure/azure-sdk-for-net repo so it's built and tested nightly.

This should document how to define fields for currently unsupported types, like `decimal` or an `enum` property type.

Relates to #11166.

[2020-08-08 04:02] heaths opened #14060 "Update Sample04_FieldBuilder.md link in README.md"
After #14023 is merged, update the link in the sdk/search/Azure.Search.Documents/samples/README.md file to use a fully-qualified URL to Sample04_FieldBuilder.md.

[2020-08-08 07:12] JoshLove-msft commented on #13920
So I have tested this out and I am seeing roughly the same numbers that you reported (around 5-10 msgs/sec) using the same code. We have a `ReceiveMessagesAsync` overload that takes a `maxMessageCount` parameter. This allows you to receive a set of messages at a time. However, even when using this overload I didn't see much change. The next thing I tried was commenting out the message completion.

[2020-08-08 07:16] Petermarcu commented on #13553
@kieronlanning yes, this is the replacement for that one and the one that was in the Microsoft.WindowsAzure.Storage package. It will have the option of being backed by Storage or Cosmos and should unify a lot of the fracturing in this space that has occurred.

[2020-08-08 11:08] brianleemoore commented on #13899
Debugging the issue using symbols from Microsoft Symbol Server and attempting to send a message using a .net 5.0 console application and Microsoft.Azure

[2020-08-08 14:20] NickDarvey commented on #11400
I've been using the method described by @schaabs with my user-assigned identity.

with this in my startup code:
[code]

However, after two-in-every-forty deploys, when the app restarts, I have started getting:
[code]
and then it won't work again until a few more restarts.

I'm currently digging through the Azure.Identity code and trying a few things, will open a new issue if I find anything useful

[2020-08-08 15:18] #12904 closed

[2020-08-08 15:18] #13501 closed

[2020-08-08 15:32] kieronlanning commented on #13553
@Petermarcu Awesome, thanks for the speedy response.

[2020-08-08 17:14] schaabs commented on #14020
This is already the current behavior. Perhaps it should be updated to only iterate the list once like `DefaultAzureCredential` does, but this can be addressed with a different issue. Closing.

[2020-08-08 17:14] #14020 closed

[2020-08-09 00:00] DerAlbertCom commented on #7239
This is still a problem, is it not possible to use a ServicePrincipal with a Certificate in ASP.NET Core 3.1. Only Managed Identity (which is not Available in AzureGermany) and ClientSecret is possible.

[2020-08-09 08:00] #13478 closed

[2020-08-09 12:47] joergbattermann opened #14067 "[BUG] ErrorResponseException / InsufficientAuthorization when specifying more than one 'responseFilter' value for Microsoft.Azure.CognitiveServices.Search.WebSearch Search"
**Describe the bug**
When using the `Microsoft.Azure.CognitiveServices.Search.WebSearch.WebSearchClient` of the [Microsoft.Azure.CognitiveServices.Search.WebSearch v2.0 NuGet package](https://www.nuget.org/packages/Microsoft.Azure.CognitiveServices.Search.WebSearch/2.0.0)  I can either specify _no_ or _one_ _responseFilter_ value, however - since it is a `List<string>` [parameter type](https://doc

[2020-08-09 13:43] rupeshtech opened #14068 "[QUERY] Error : "Operation is not valid due to the current state of the object." while connecting to Eventhub using Azure.Messaging.EventHubs"
**Query/Question**
Getting error while connecting to Eventhub using "Azure.Messaging.EventHubs"
ErrorMessage: **Operation is not valid due to the current state of the object**

**Code**
[code]
**Stacktrace**
[code]

[2020-08-09 15:06] StefH commented on #13531
I'm also considering to use the chaining logic from **ManagedIdentityCredential** + **ClientSecretCredential** from this library instead of **ConfidentialClientApplication** (from `Microsoft.Identity.Client`) to get a token for connecting to a Azure AD protected WebApi.

However does the **ManagedIdentityCredential** and **ConfidentialClientApplication** also cache the token?

[2020-08-09 22:33] KPixel commented on #13865
Quick question:

Why does the synchronous API exist?
I had assumed that all the new libraries would be async-only, as that is the recommended way to use them.

[2020-08-09 23:37] JoshLove-msft opened #14069 "TestResources tenantId requirement"
The [README](https://github.com/Azure/azure-sdk-for-net/blob/master/eng/common/TestResources/README.md) for TestResources has this snippet:
[code]
Running this snippet will not work as is since the user will be prompted to enter the `tenantId`, since the test-resources.json requires it (it appears that all test-resources.json files require tenantId even if they are not using it). If the user tries

[2020-08-10 02:10] erich-wang commented on #13202
Close the issue since no further action needed, thanks.

[2020-08-10 02:10] #13202 closed

[2020-08-10 03:34] SeanFeldman commented on #14052
Could you please provide the details of the customer segments? I.e. what percentage are .NET existing Track 0/1 users, how many are novice users w/o previous ASB experience, etc. Thank you.

[2020-08-10 03:39] SeanFeldman commented on #14010
Is comparison going to be documented/publicized?

[2020-08-10 03:40] SeanFeldman commented on #14008
Transactional dead-letter queue name should be considered as well.

[2020-08-10 03:44] SeanFeldman commented on #13799
@mrwatts the method you're looking for provided by `ServiceBusReceiver` and is named `ReceiveDeferredMessageAsync(long)`.

[2020-08-10 04:14] JoshLove-msft commented on #14008
Do you mean the transfer dead letter queue? That's what I was referring to when mentioning the `FormatTransferDeadletterQueue` method in the issue description.

[2020-08-10 04:22] SeanFeldman commented on #14008
Yes, indeed.

[2020-08-10 09:16] ahofman opened #14071 "[QUERY] Sample for client side encryption?"
**Query/Question**
Hi there,
I am trying to use the new client side encryption for blob storage. A working code sample would be very helpful in getting started. Is there a working code sample you can point me toward?

I'm mostly interested in some examples of configuring a `ClientSideEncryptionOptions`  :

[code]

Thanks in advance!

**Environment:**
 - Name and version of the Library package used

[2020-08-10 09:56] tharidu commented on #13637
We are also experiencing the same exceptions (`System.InvalidOperationException` and `System.ObjectDisposedException`) in our Kubernetes cluster in AKS running .net Core 3.1. (Stack traces below)

It has started occurring from May this year and happens intermittently. We are using `Microsoft.Azure.ServiceBus 4.1.1`

`{"assembly":"Microsoft.Azure.ServiceBus, Version=4.1.1.0, Culture=neutral, Public

[2020-08-10 12:39] #14055 closed

[2020-08-10 13:18] jsquire commented on #13899
//cc:  @xinchen10  for expertise on the `Microsoft.Azure.Amqp` library,  and @sjkwak for awareness.

[2020-08-10 13:34] ChimneyCake opened #14073 "BlobClient.upload fails when using CustomerProvidedKey"
Hi,
I have tried uploading blob to azure storage BlobClient and BlobServiceClient using Azure SDK 12 for Java . I'd like to set CustomerProvidedKey, but when I build BlobServiceClient as `new BlobServiceClientBuilder().connectionString(connectionString).customerProvidedKey(customerProvidedKey).buildClient();` and then I try to upload blob as `blobClient.upload(new ByteArrayInputStream(content), co

[2020-08-10 13:37] jsquire commented on #14067
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-10 13:38] joergbattermann commented on #14067
👍

[2020-08-10 13:39] jsquire commented on #14071
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-10 13:43] jsquire commented on #14073
Hi @ChimneyCake.  Thank you for reaching out with your feedback and we regret that you're experiencing difficulties.  Unfortunately, this repository is specific to the Azure SDK for .NET and we're not the best path for help with the Java libraries.

I'd recommend reporting your issue in the [Azure SDK for Java repository ](https://github.com/Azure/azure-sdk-for-java), where you'll find the folks b

[2020-08-10 13:43] #14073 closed

[2020-08-10 13:49] jsquire commented on #14068
Hi @rupeshtech.  Thank you for reaching out with your feedback and we regret that you're experiencing difficulties.   Would you be so kind as to confirm the runtime environment that you're using?   I suspect that it may be one of the .NET 5 preview builds, as this stack trace looks very similar to one reported in #13899.

Assuming that I'm correct in the host environment, would you be so kind as t

[2020-08-10 13:49] jsquire commented on #14068
//cc: @xinchen10 for expertise with `Microsoft.Azure.Amqp` and @sjkwak for awareness.

[2020-08-10 14:03] jsquire commented on #13899
#14068 seems like it may be the same underlying cause.

[2020-08-10 15:25] annelo-msft commented on #9896
When this is addressed, update Paging tutorial in the Azure SDK Development Training program repo:

common-patterns/paging.md

https://github.com/Azure/azure-sdk-pr/pull/267/files

[2020-08-10 16:04] joebeernink opened #14075 "QueueServiceClient SetPropertiesAsync or SetProperties throwing XML specified is not syntactically valid"
**Describe the bug**
When calling QueueServiceClient SetPropertiesAsync or SetProperties with a value that was previously retrieved from GetProperties, the API throws an exception.

Have tried async and sync version, not setting the retention policy and setting the retention policy, and LoggingVersion = 1.0 and 2.0

Code:
 var queueClient = GetQueueClient(storageAccountOptions.Name, storageAccount

[2020-08-10 16:17] kasobol-msft commented on #10997
@chidozieononiwu
So I tried that with https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.sln and it isn't working well.

1. There are some errors from Azure.Core (?)
2. It seems that somehow the script got into infinite recursion.

See screenshots:

![image](https://user-images.githubusercontent.com/61715331/89805238-35522600-daea-11ea-882a-345c893c2cce.png)

![image]

[2020-08-10 16:28] stankovski commented on #5218
Moved to the appropriate repository...

[2020-08-10 16:28] #5218 closed

[2020-08-10 16:31] DorothySun216 opened #14077 "[FEATURE REQ] Enable a way to Unregister Message Handler"
**Library or service name.**
What library or service is this request related to?
First we need it in Microsoft.Azure.ServiceBus, then we hope to apply to all service bus SDKs.

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
Azure function team requested this feature.

We hope to gather more opinions on whethe

[2020-08-10 16:45] pakrym opened #14079 "[Flaky test] AsyncLockWithValue_GetLockOrValueAsync_FirstFailedSecondSucceeded"
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=489177&view=ms.vss-test-web.build-test-results-tab&runId=12508522&resultId=104934&paneView=debug

cc @AlexanderSher

[2020-08-10 16:48] cheenamalhotra commented on #8789
Hi!

**Microsoft.Data.SqlClient** will soon be supporting "Active Directory Managed Identity" authentication mode (WIP https://github.com/dotnet/SqlClient/issues/616) that'll apply to .NET Framework, .NET Core and .NET Standard without any customization/override needed.

Also **System.Data.SqlClient (.NET Core)** does not support AD authentication modes - making the override impossible, so transit

[2020-08-10 16:56] luckerby opened #14080 "[BUG] BlobClient.UploadAsync(Stream content, bool overwrite) deadlocks if the stream is not rewinded"
Consider the following code, where `stream` is valid and previously created, and `pos` is a number larger than 0 and less than or equal to the stream's size:
[code]

If this is run, the code will deadlock while awaiting. The `Tasks` view in Visual Studio shows multiple tasks running:
![image](https://user-images.githubusercontent.com/31319583/89808002-1b443200-db42-11ea-8c39-13eb165e18db.png)

Upo

[2020-08-10 17:04] assafi commented on #13111
Sorry for the late response. China clusters should become online very soon. China East 2 is ready but China North 2 is still pending.
I sent the platform team a note and should have an ETA soon.
USGov clusters are already available.

[2020-08-10 17:21] maririos opened #14083 "Figure out domain parameter in PPI"
PII brought a new parameter called [`domain`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.1/TextAnalytics.json#L122). The main question is
- how will the filter work?
- what is the format?
- will filters apply to other endpoints as well?
- ...

[2020-08-10 17:56] JoshLove-msft commented on #14077
This feature is available in Track 2 in the ServiceBusProcessor with the [StopProcessingAsync](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs#L555) method.

[2020-08-10 18:03] DorothySun216 commented on #14077
@JoshLove-msft Thanks for this info but I think we want to also enable it in our SDKs since current customers who haven't used Track 2 need this feature as well.

[2020-08-10 18:05] JoshLove-msft commented on #14077
Sure, just wanted to provide that info 😃

[2020-08-10 18:12] DorothySun216 commented on #13637
@tharidu thanks so much for reporting this. We already created an work item to track this. But due to our bandwidth and the fact that this is not a blocking error, it might take some time for investigation since we need to focus on high pri issues for now. I would recommend treat this as transient error for now and add retry mechanisms to deal with this. And I will update as soon as we figure out

[2020-08-10 18:39] iscai-msft opened #14090 "[text analytics] add redaction text property to PII entities"

[2020-08-10 18:39] iscai-msft opened #14091 "[text analytics] add bing ID property for LinkedEntity"

[2020-08-10 18:48] maririos commented on #14091
Blocked until service adds property to swagger

[2020-08-10 18:50] iscai-msft commented on #14090
Blocked until service adds property to swagger

[2020-08-10 18:53] heaths commented on #14069
I use this snippet all the time for Key Vault and Search. Never once prompted for tenant ID. test-resources.json can hardcode a default, which is what I did for Key Vault and Search both. Ideally, we want customers to have to pass fewer arguments.

[2020-08-10 18:58] brjohnstmsft commented on #14067
@jsquire This issue is regarding the Cognitive Services web search API, not Azure Cognitive Search (unfortunate that their names are so similar, I know...). I've updated the tags accordingly.

[2020-08-10 18:59] jsquire commented on #14067
Thanks, @brjohnstmsft.   I appreciate the assist and apologize for the inconvenience.

[2020-08-10 19:01] jsquire commented on #14075
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-10 19:01] jsquire commented on #14080
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-10 19:09] JoshLove-msft commented on #14069
What default value would you hard-code? My understanding is that the New-TestResources script will always have access to the tenantId from the context, so I don't see a need to hardcode a default if we can update the script to use the context.Tenant.Id.

[2020-08-10 19:18] JoshLove-msft commented on #14069
Moving to tools repo - https://github.com/Azure/azure-sdk-tools/issues/861

[2020-08-10 19:18] #14069 closed

[2020-08-10 20:24] #14054 closed

[2020-08-10 20:24] #13865 closed

[2020-08-10 20:26] #13239 closed

[2020-08-10 20:40] NIXC opened #14095 "[QUERY] Potential bug in Azure.Messaging.EventHubs Sample04"
**Query/Question**
Hello, I was reading over the [PublishMultipleEventBatches](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/samples/Sample04_PublishMultipleEventBatches.cs) sample for Azure Messaging EventHubs, and noticed what I believe to be a bug. On line 84 when an event is dequeue'd if it fails to add to the batch (eg when the batch is full) it

[2020-08-10 20:50] heaths opened #14096 "Remove Search conditions we no longer need"
I think we could nuke these since it's no longer an experimental feature, but let's leave them in for now to avoid churn.

_Originally posted by @tg-msft in https://github.com/Azure/azure-sdk-for-net/pull/14023_

[2020-08-10 20:57] maririos opened #14097 "Add `Options` objects to each endpoint"

[2020-08-10 20:59] christothes opened #14098 "Update readme for KeyVault.Administratiion"
Flesh out any missing sections and ensure pre-reqs are accurate.

[2020-08-10 21:00] christothes opened #14099 "Create samples for KeyVault.Administratiion Backup"

[2020-08-10 21:47] mrwatts commented on #13799
No, that only receives deferred messages. If you attempt to fetch a message that is not deferred, it will throw an exception.

[2020-08-10 21:52] BenKoth opened #14103 "[FEATURE REQ] Allow Tagging Azure Batch Resources"
**Library or service name.**
Microsoft.Azure.Batch

**Is your feature request related to a problem? Please describe.**
The azure batch creation methods should allow you to tag the azure resources you are creating. So allow adding tags to Pools/Jobs/etc. Right now I've been told that the this could possibly be done with the Microsoft.Azure.Management.ResourceManager, but that SDK is still in previe

[2020-08-10 22:35] #14097 closed

[2020-08-10 22:55] eosfor commented on #13818
Any updates on the topic, please?

[2020-08-11 00:25] sebansal commented on #7746
The documentation doesn't mention recover-delete to be returning actual secret value.

[2020-08-11 00:39] slav commented on #13920
Hi @JoshLove-msft. Unfortunately completing messages in batch is not acceptable in our scenario. We process one message at a time and need to complete it as soon as it processed. Batching up would make it very difficult for us to maintain certain gurantees about message processing consistency in the face of application failures and crashes. It would require a lot of work and testing on our part. D

[2020-08-11 01:37] #14079 closed

[2020-08-11 02:03] JoshLove-msft commented on #13920
@slav - agreed that message settlement is the bottleneck - I'm seeing times of between 100-150 ms per `CompleteMessageAsync` call. I tested this out using the Track 1 library and am seeing roughly the same results. Is there a particular benchmark that you are trying to hit?

[2020-08-11 02:08] JoshLove-msft opened #14111 "[Flaky Test] Microsoft.Azure.ServiceBus.UnitTests.Management.ManagementClientTests.GetSubscriptionRuntimeInfoTest"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=490068&view=ms.vss-test-web.build-test-results-tab&runId=12522192&resultId=100548&paneView=debug

[2020-08-11 02:09] JoshLove-msft opened #14112 "[Flaky Test] Microsoft.Azure.ServiceBus.UnitTests.TransactionTests.TransactionalCompleteCommitTest"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=490068&view=ms.vss-test-web.build-test-results-tab&runId=12522142&resultId=100635&paneView=debug

[2020-08-11 02:11] JoshLove-msft opened #14113 "[Flaky Test] Microsoft.Azure.ServiceBus.UnitTests.QueueSessionTests.AcceptSessionThrowsSessionCannotBeLockedException"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=490068&view=ms.vss-test-web.build-test-results-tab&runId=12522322&resultId=100486&paneView=debug

[2020-08-11 02:15] ramya-rao-a opened #14114 "[BUG] Reference docs for preview packages appearing under the "latest" moniker"
Below is a screenshot from https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus?view=azure-dotnet is the link to the reference docs for the Track 1 Service Bus package.

<img width="320" alt="Screen Shot 2020-08-10 at 7 14 00 PM" src="https://user-images.githubusercontent.com/16890566/89849585-ab33ad00-db3d-11ea-9125-c205d0ded623.png">

In this TOC, you can see `Azure.Messaging.S

[2020-08-11 03:46] mr-davidc commented on #13637
@tharidu Do you mind if I ask what version of Kubernetes your AKS cluster is running?

[2020-08-11 04:10] amnguye commented on #14071
Thanks for the feedback! We will definitely look to add a sample for Client Side Encryption for Queues.

To upload, you would only need the `options.KeyEncryptionKey` and `options.Algorithms`. Sorry there's no "out of the box solution" that I know of for this. The Key you would have to retrieve from Key Vault and the algorithm you decide on depends on the data you are trying to encrypt.  I would f

[2020-08-11 04:20] ahofman commented on #14071
Thanks @amnguye ! I'm specifically interested in Blobs rather than Queue storage. It's my understanding I need the `KeyResolver` to be set to be able to download encrypted content - can you provide any quick guidance for that please? Much appreciated!

[2020-08-11 05:31] JoshLove-msft opened #14118 "BinaryData - Add constructor that serializes"
Add a constructor that takes a `Type` parameter and does synchronous serialization. This should not expose `ObjectSerializer` parameter as that would mean we would need to support async, which we can't do in the constructor. Using this constructor would use `JsonObjectSerializer`.

[2020-08-11 06:45] tharidu commented on #13637
@DorothySun216 Thanks for the reply (y)
@mr-davidc We are using K8s version 1.15.10 at the moment in two clusters and experiencing these exceptions in both.

[2020-08-11 06:50] Emma0727 opened #14121 "[QUERY] use arm token to genarate IAzure"
**Query/Question**
How can we help?
Recently our scenario is that we got an arm token(on hehalf of user token), and we use the following code to generate IAzure.
[code]

We use this IAzure to do role assignment like following code:
[code]

My code can be work now. But we have a concern about the code as we only used arm token to generate IAzure without graph token here. Not sure if this is a bug i

[2020-08-11 07:07] PaulVrugt opened #14122 "DefaultAzureCredential, AppAuthentication and user defined managed identity"
**Query/Question**
We're using a user defined managed identity to authenticate different azure services from our app service. We are using the `AppAuthentication` package to support `Active directory interactive` authentication to Azure SQL. After a long time of fiddling, we found out we need to use the `AzureServicesAuthConnectionString` environment variable to let the `AppAuthentication` package

[2020-08-11 07:33] phlexss opened #14124 "Windows Service, CreateBlobContainer: Retry failed after 6 tries"
**Describe the bug**
When I run the CreateBlobContainer function to create a container the container is correctly created but the code does not continue after the function. After some time the following error is reported: Retry failed after 6 tries.

This ONLY happens when running the function in a "Windows Service" aplication (I'm using .Net framework 4.8 but the problem also exists in 4.7.2).

W

[2020-08-11 08:00] #12283 closed

[2020-08-11 08:23] SteppingRazor opened #14126 "Query ApplicationInisights - proper library"
**Query/Question**
Hello, I'm a little bit confused about Azure libraries. I want to query the application insights (using kusto) from .net application.

Right now I'm using Microsoft.Azure.ApplicationInsights library. This works fine, but what bothers me is this library latest version is 0.9.0-preview and it is from April 2018.

Is there a newer version of this library? Did they migrate somewhere

[2020-08-11 09:25] Emma0727 opened #14127 "[QUERY]how to get role assignment with scope "/""
**Query/Question**
How can we help?
how to get role assignment with scope "/".
It seems .RoleAssignments.ListByScopeAsyncor other method are not support scope “/”.
[code]

now I can only get that from api:
https://management.azure.com/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01&$filter=principalId eq '***'

**Environment:**
 - Name and version of the Library package us

[2020-08-11 10:09] filipCristian commented on #14037
So the code looks like this:

`var stream = HttpContext.Current.Request.GetBufferlessInputStream(disableMaxRequestLength: true)

var container = _blobServiceClient.GetBlobContainerClient(containerName);

// get blob reference
var blob = container.GetBlockBlobClient(blobPath);

BlobHttpHeaders blobHttpHeaders = null;
if (!string.IsNullOrWhiteSpace(fileContentType))
{
     blobHttpHeaders = new Blob

[2020-08-11 10:15] sirimantraore commented on #13437
I have the same error on the sdk java. Have you a fix for this error please ?

[2020-08-11 10:43] blueww commented on #13996
Would you please help to confirm:

- What's the value of DataLakeDirectoryClient.Path on a root directory (Or what's the best way to decide if a DataLakeDirectoryClient object point to root directory)

[2020-08-11 11:52] soo-toance commented on #7178
hello does it look good?
i found that in ReceiverTests - CreateReceiverWithEndOfStream use like this : ) ([source code](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Microsoft.Azure.EventHubs/tests/Client/ReceiverTests.cs#L62))

before :
[code]

after:
[code]

[2020-08-11 13:46] jsquire commented on #14103
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-11 13:51] jsquire commented on #14122
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-11 13:53] jsquire commented on #14124
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-11 13:54] jsquire commented on #14126
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-11 13:55] jsquire commented on #14127
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-11 14:16] jsquire commented on #14095
Hi @NIXC.   Thank you for reaching out with your feedback.   This is a nice find on your part; it definitely looks like we've got an oversight for the error case, as you're describing.   We should switch over to doing a `TryPeek` and only dequeue on successful `TryAdd` call.

[2020-08-11 14:31] jsquire commented on #14121
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-11 14:51] christothes opened #14128 "Fix nightly test failures due to 429 on CreateTable"

[2020-08-11 15:06] slav commented on #13920
I would expect no more than 10ms to complete message, preferably under 5ms.

[2020-08-11 15:29] pakrym opened #14129 "[Flaky test] BearerTokenAuthenticationPolicy_TokenExpiredThenFailed"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=490828&view=ms.vss-test-web.build-test-results-tab&runId=12546438&resultId=100428&paneView=debug

[code]

[2020-08-11 16:00] maririos opened #14130 "Compare exception handling for detected language before and after codegen -> DetectLanguage"

[2020-08-11 16:12] isaacabraham commented on #13993
@jongio I'm just reading through this. To be honest, I think a better way to approach this today would be to find whatever Azure Storage docs you have for the *new* SDK and add an "F#" tab to each of them. Potentially a few new pages e.g. working with "Azure Storage from F# Scripts" or something but putting all the docs together might be the way forward.

I know the reasoning why these separate ar

[2020-08-11 16:20] isaacabraham commented on #13993
For example, I'd be inclined to update [these docs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet#set-up-the-app-framework) to support C# and F# as separate articles (and simultaneously let's rename the ".NET SDK" examples to "C# SDK").

[2020-08-11 16:40] tg-msft commented on #10600
We've decided to solve continuation tokens differently and won't be making this change.

[2020-08-11 16:40] #10600 closed

[2020-08-11 17:06] tg-msft commented on #13502
I fixed the text in the README, but I'm leaving this open to properly fix so we're actually running against the same data as a new search index created with the portal.

[2020-08-11 17:23] #11166 closed

[2020-08-11 17:36] heaths opened #14134 "Link checker blocks PRs that add content and link to where they would be"
Recently, when trying to merge PR #14023, the link checker blocked me because my sample README.md contained a fully-qualified link (as guidelines state to use) to a sample file I was adding. Of course the file won't exist yet in master, but seems the link checker should maybe take into account the target of a PR and do some "magic" to verify the link will exist (e.g. get the relative link, and che

[2020-08-11 17:47] heaths commented on #14058
This has been redirected to <https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search.Documents/samples/Sample04_FieldBuilderIgnore.md>

[2020-08-11 17:47] #14058 closed

[2020-08-11 18:10] weshaggard commented on #14134
No matter what strategy we take you will require 2 changes to accomplish this scenario. In our recent guidance update at https://github.com/Azure/azure-sdk/pull/1587/files I suggest we provide no link the first time and then follow-up with the link in another PR once the change is in master. That way we don't end up with broken links between those 2 changes.

[2020-08-11 18:13] weshaggard commented on #14134
After reading your feedback a little closer it might also be possible to do some magic of ignoring links to files that are included in the PR that is targeting master but that isn't super straight forward and will also be difficult if you are targeting branches outside of master. It something we can consider but for now I still like starting with a commented out link and then following up to uncom

[2020-08-11 18:22] SeanFeldman commented on #13799
Track 1 had `MessageReceiver.PeekBySequenceNumberAsync()`. There was no option to receive using a sequence number.
Track 0 supported receiving by sequence number but I only used it with deferred messages. Was it working with non-deferred messages as well?

[2020-08-11 18:24] weshaggard commented on #14134
@sima-zhu as part of the link work is is definitely worth exploring options to see if for PR's that are targeting master we could consider replacing master with the sha for the PR to see if the links resolve correctly and if they do then we can consider the link valid.

[2020-08-11 18:27] #13781 closed

[2020-08-11 18:47] JoshLove-msft commented on #13920
@axisc are there any published benchmarks on message settlement response times?

[2020-08-11 19:09] amnguye commented on #14071
Definitely my bad! Sorry I somehow misread Query as Queue.

Yes, you do need a KeyResolver to download encrypted content. The KeyResolver you pass will depend on how you encrypted the content in the first place. So depending on the Key you chose in Key Vault to encrypt your data with, you will need to provide a key resolver that resolves to the right key (the key you encrypted with) or the key its

[2020-08-11 19:55] dsyme commented on #13993
cc @cartermp

[2020-08-11 20:00] #14060 closed

[2020-08-11 21:06] KrzysztofCwalina opened #14142 "Expose public APIs to create ResponseFailedException"
Today, to create ResponseFailedException that follows our guidelines requires shared source, i.e. for all practical purposes requires being in the mono repo. This makes it's impractical to use Azure.Core outside of our repo and the exception creation guidelines are very complex.

We should design and expose public APIs to format the exception.

[2020-08-11 21:37] amnguye commented on #14037
When providing `ContentHash` alongside `Upload`, This hash is used to verify the integrity of the blob during transport.  When this header (`BlobHttpHeaders.ContentHash`) is specified, the storage service checks the hash that has arrived with the one that was sent. The service sends a  400 (Bad Request) if they do not match.

That's strange behavior that depending on the stream the ContentHash val

[2020-08-11 21:51] amnguye opened #14147 "[Tests] QueueServiceClient needs tests for every API under it except for GetQueues"
We need tests for QueueServiceClient. Currently we only have tests for `QueueServiceClient.GetQueues` but not the rest of the APIs regarding this client.

[2020-08-11 22:03] #6528 closed

[2020-08-11 22:14] amnguye commented on #14075
Hi,

I was able to reproduce your issue and looks like a bug. We will look to fixing this soon. Thanks for bringing this issue to our attention.

[2020-08-11 22:20] amnguye opened #14149 "[BUG] ChangeFeed, change GUID to string type"
On the service, clientRequestId and other values are typed string and not GUID even though they should be in a GUID format. Changing to string will match the service type and have less restriction (side note clientRequestId should be optional)

[2020-08-11 22:40] amnguye commented on #14080
Hi,

I was able to reproduce your issue. I was able to put a Fiddler trace on it too, looks like the packet will take a while to upload before it realizes that it's missing the bytes from where the position is moved. So we send the Content-Length to be the size of the stream but unfortunately we hand it the bytes minus the position moved. So then we get a 408 (Request Body Incomplete) and we attem

[2020-08-11 22:47] ahofman commented on #14071
Thanks @amnguye - is there any out-of-the-box implementation of a key resolver that I can use to talk directly to key vault? I am guessing the answer for now is no, I just want to be sure before I go ahead and try to roll my own.

[2020-08-11 22:58] amnguye commented on #14071
Sorry I don't think there is. Let me know on this thread if you need any help.

[2020-08-11 23:01] amnguye commented on #14124
Sorry I was not able to reproduce your issue. I created a Window Service Application using the one provided by Visual Studios without anything added on aside from creating a Blob Container.

Is there anything else you can provide that would help us figure out your issue? Like what you have configured in your windows service, a stack trace or anything you're doing before hand?

[2020-08-11 23:31] christothes opened #14155 "Add methods to HttpHeaders.Common for IfMatch and IfNoneMatch header creation"
IfMatch and IfNoneMatch should have methods that accept an `ETag` parameter for creation of these header types.

[2020-08-11 23:41] mr-davidc commented on #13637
Ok thanks @tharidu. I was wondering if upgrading our cluster version might help in resolving the issue but I guess not.

[2020-08-11 23:53] axisc commented on #14077
This issue is unnecessary - closing it because this discussion will be managed on the PR where the feature ask is coded.

[2020-08-11 23:53] #14077 closed

[2020-08-12 00:12] axisc commented on #14038
@johnknoop thanks for raising this issue.
Within a transaction scope, all operations must be on a single QueueClient instance.

[2020-08-12 00:12] scbedd commented on #14114
Yeah. Technically not a "bug". It's a factor of how the repo is built. I filed an [issue](https://ceapex.visualstudio.com/Engineering/_queries/edit/267447/?triage=true) a couple weeks ago to get some help getting the `JoinToCPlugin` configured.

If it were a simple ToC rework I'd absolutely resolve this immediately.

[2020-08-12 00:20] JoshLove-msft commented on #14111
@axisc I marked this as service attention because this is a Track 1 test.

[2020-08-12 00:48] tg-msft opened #14158 "Search: Change README to smooth ref doc generation"
We saw a couple of small errors in [the translation of our README into the ref docs.](https://github.com/Azure/azure-docs-sdk-dotnet/pull/1267)  In particular we should:
- Use an absolute URI for the samples
- Remove the markdown link to installing the package

[2020-08-12 00:52] tg-msft commented on #12372
We've released and everything in the milestone is closed.

[2020-08-12 00:52] #12372 closed

[2020-08-12 01:03] axisc commented on #13799
@mrwatts Thanks for sharing the details on the issue.

While the earlier library supported it, I feel that the scenario violates the concept of server/sender side cursor (and also the FIFO concept of a queue). Peek and Receive should always give you the first message on the queue which is not locked by competing consumers.

The way to sidestep this is with deferred messages, which essentially hand

[2020-08-12 02:00] XuGuang-Yao commented on #13776
@heaths - The test passed in latest pipeline run.
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=490107&view=results

[2020-08-12 02:15] guythetechie commented on #13114
Sorry, I accidentally closed this - reopening.

[2020-08-12 02:50] Emma0727 commented on #14127
any update?

[2020-08-12 02:51] Emma0727 commented on #14121
any update?

[2020-08-12 03:08] heaths commented on #7746
@sebansal the [Responses](https://docs.microsoft.com/rest/api/keyvault/recoverdeletedsecret/recoverdeletedsecret#response) section says a `SecretBundle` is returned with ID, value, etc., and the JSON schema in the swagger includes the value as well since it reuses the `SecretBundle` model type.

[2020-08-12 03:27] #13776 closed

[2020-08-12 03:30] heaths commented on #14122
The `DefaultAzureCredential` tries a series of different authentication methods in [order](https://github.com/Azure/azure-sdk-for-net/blob/3b184d4574b9d7759861fe9628ff04d8692b5727/sdk/identity/Azure.Identity/src/DefaultAzureCredential.cs#L18-L24). @schaabs would they have to write their own credential to use the connection string, or is there some easier way?

[2020-08-12 03:33] cartermp commented on #13993
Completely agree with @isaacabraham's suggestion.

[2020-08-12 05:41] LeaShallev opened #14167 "What is the difference between DataLakeFileClient.Delete and DataLakeFileClient.DeleteIfExists"
Hi,
I'm using Azure.Storage.Files.DataLake .NET SDK (V12.2.2) with Visual Studio 2019.
I don't understand the diffference between the Delete and the DeleteIfExists methods for DataLakeFileClient except to the different return values for each of them.
I expect DeleteIfExists to delete the file if it exists and return true, and when the file doesn't exist to return false. Rather, both methods raise

[2020-08-12 06:15] PaulVrugt commented on #14122
If I'm required to write my own credential to accomplish the same, it would be a significant step back from the old package. I think the better solution would be to make the new `Azure.Security.KeyVault.Secrets` package play nice with `AppAuthentication` to restore compatibility.

Even better would be to make setting a user defined managed identity an an app service similar to enabling a system as

[2020-08-12 06:55] davidobrien1985 opened #14169 "[BUG] setting Storage Account Network DefaultAction not working"
**Describe the bug**
Trying to set the Storage Account Firewall
![image](https://user-images.githubusercontent.com/8554521/89984181-4c487200-dcbc-11ea-8e37-6f5350f3c502.png)

From "all networks" to "selected networks".
Equivalent `az` command would be

[code]

**Expected behavior**
should change the value

**Actual behavior (include Exception or Stack Trace)**
nothing happens

**To Reproduce**
Ste

[2020-08-12 07:12] XuGuang-Yao opened #14170 "[Azure Tables]Run tests against other clouds failed in Playback mode"
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

Currently, the test mode is set to `Playback` in [sdk/tables/Azure.Data.Tables/tests/TableClientQueryableLiveTests.cs](https://github.com/Azure/azure-sdk-for-net/blob/c3392eb75c1c95972aa87c312c9b895502f7e0c5/sdk/tables/Azure.Data.Table

[2020-08-12 07:15] phlexss commented on #14124
I now created a new clean windows service application myself and this indeed seems to work fine.

I get the problem with an existing windows service app. I now put the Azure code as the first code to be executed when the service starts and it fails with the  "Retry failed after 6 retries." error.

Here is the stacktrace:

   at Azure.Core.Pipeline.RetryPolicy.<ProcessAsync>d__11.MoveNext()
--- End

[2020-08-12 07:41] filipCristian commented on #14037
No, I do NOT get 400. The response code returned by `UploadAsync` is always 201.
And in both cases, I do NOT specify the header `BlobHttpHeaders.ContentHash`.

[2020-08-12 08:00] #12186 closed

[2020-08-12 08:00] #10007 closed

[2020-08-12 08:00] #9669 closed

[2020-08-12 08:00] #7333 closed

[2020-08-12 08:00] #6471 closed

[2020-08-12 08:00] #6381 closed

[2020-08-12 08:07] phlexss commented on #14124
I think I'm getting closer to the problem. The inner stacktrace shows:

INNER EXCEPTION:
Could not load file or assembly 'System.Buffers, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)
INNER EXCEPTION STACKTRACE:
   at Azure.Core.Pip

[2020-08-12 08:12] johnknoop commented on #14038
@axisc yes I can tell :) But is this a bug or by design?

[2020-08-12 08:50] ahofman commented on #14071
No problem! I have fallen back to using the old blob client library for now because it has the tight integration with KeyVault out of the box that I'm looking for. Thanks for your help :)

[2020-08-12 10:04] phlexss commented on #14124
I may have solved the problem.

The problem seems to have been inconsistencies in assemblies.....probably caused by the fact that at some point I downgraded to an earlier version of Azure.Storage .Blobs but the binding redirects were not removed from app.config.

I'm now cleaning the app.config and doing a complete re-install of the nuget packages.....

I'll report back if this has worked or not.

[2020-08-12 10:57] mrwatts commented on #13799
@axisc My use case is multiple, unconnected processes handling the same queue, where every message can only be handled by one specific process. Your suggestion is to defer the message (I assume I would have a separate process that handles all the messages as they come in and does nothing but defer them) and then have another process pick up that deferred message.

I don't see how that could work r

[2020-08-12 11:38] dsyme commented on #13993
I'm not totally sure.   On the one hand it would be great if the Azure SDK team took the view that the SDK was a multi-language SDK and designed and documented each experience with that in mind, making best use of the full range of facilities each language provides.

However, in reality, the SDK is designed and documented as a C# SDK.  The SDK is still very good to use from F#, but it neither capt

[2020-08-12 11:46] isaacabraham commented on #13993
Maybe there's room for both? I would like to get F# docs "into the box" on the standard Azure docs as it's probably going to get better SEO for people searching for help on the Azure Storage SDK, but already there are some evident differences in how the docs might be structured - for example, in the linked docs above, it talks about using a console application and setting up environment variables

[2020-08-12 11:55] dsyme commented on #13993
Yes, part of what I'd like about a community collaboration on this specific topic is it gives us a chance to revise the community technologies as well (including simplifying and deprecating them)

[2020-08-12 12:56] Emma0727 commented on #14127
I try to use another method to get role assginment:
var roleAssignments = await authenticated.RoleAssignments.GetByIdAsync(roledefinition.Id);
But it failed like ther viersion api version used 2018-09-01-preview, is not suitable.
Any one can help?

[2020_08_12_08_52_30.968] [LogException], AzureResourceService, GetAzureClientAynsc, 13be6b52-e8b1-4622-afd3-e8bcc5f3709e, exception:Microsoft.Rest.Azu

[2020-08-12 13:16] ParthPurani commented on #3933
Worked! Thanks help

[2020-08-12 13:58] jongio commented on #14170
@christothes

[2020-08-12 14:16] christothes commented on #14170
This will be resolved when https://github.com/Azure/azure-sdk-for-net/pull/14105 merges.

[2020-08-12 14:23] jsquire commented on #14167
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-12 14:24] jsquire commented on #14169
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-12 14:25] jsquire commented on #14170
Fixed by #14105

[2020-08-12 14:39] phlexss commented on #14124
The mismatch between dll versions has been resolved and everything now works fine.

I close this problem.

[2020-08-12 14:39] #14124 closed

[2020-08-12 15:25] pakrym opened #14175 "Consider adding a check that would verify content length value being equal to the amount written into the stream"
To prevent issues like https://github.com/Azure/azure-sdk-for-net/issues/10814

[2020-08-12 15:40] pakrym opened #14176 "Can we make recording test mode switching easier"
Environment variable requires a restart
Changing the source is cumbersome and leads to people checking in the test mode.

What about allowing a `testmode.txt` file in the test project directory that would control test mode and not require VS restart?

cc @JoshLove-msft @christothes

[2020-08-12 16:10] #11944 closed

[2020-08-12 16:10] #13986 closed

[2020-08-12 16:10] #13981 closed

[2020-08-12 16:23] #5925 closed

[2020-08-12 16:23] stankovski commented on #5925
Closing due to no repro

[2020-08-12 16:36] christothes commented on #14176
I'd suggest we make it something like `testconfig.json` to allow for expansion of configuration options. But perhaps it's not good thing to encourage more general use cases.

[2020-08-12 16:37] pakrym commented on #14176
That's exactly what I was thinking too, we have test environment for other stuff.

[2020-08-12 16:48] amnguye commented on #14071
Hi. If you could be so kind, could you link me the "tight integration with KeyVault out of the box" you are looking for? I under the impression when you said "out of the box" you meant that I provide you a sample Key Vault Key, Resolver just to see if it works. I just want to be on the same page that way I can provide you the information you need in case I did not provide it for you to switch to t

[2020-08-12 17:03] seanmcc-msft commented on #13897
@gurufordy, what permissions did you grant for the SAS when it was created?

[2020-08-12 17:04] JoshLove-msft commented on #14176
And I assume we just add this to the gitignore?

[2020-08-12 17:05] pakrym commented on #14176
Yup

[2020-08-12 17:05] pakrym commented on #14176
cc @drwill-ms, you might be interested

[2020-08-12 17:07] JoshLove-msft commented on #14176
Makes sense to me. Would we remove the ctor overloads that take a RecordedTestMode? What about AZURE_TEST_MODE variable?

[2020-08-12 17:09] seanmcc-msft commented on #12894
You can also call `BlobSasBuilder.SetPermissions(string rawPermissions, bool normalize)` if you don't want to deal with the enum.  I'd recommend the overload with normalize, because the permission order matters, and this overload will put the permissions in the correct order for you.

[2020-08-12 17:09] #12894 closed

[2020-08-12 17:09] pakrym commented on #14176
I think they would be worth removing.

Keep it, it overrides the file, same as with test resources.

[2020-08-12 17:12] drwill-ms commented on #14176
We made something like this for Azure.DigitalTwins.Core tests. Having it supported natively would be great.

I'd suggest considering leaving the ctor option in, and adding an enum value of Default or EnvironmentDecides. When I'm coding, I like to stay in code, but once I have code set up for everyone to use, and I've recorded output, then I want the code to indicate that.

[2020-08-12 17:18] seanmcc-msft commented on #13572
Hi @tsafadi, this feature request would require rest API changes.  If we were to implement these convenience methods today, it won't be any faster, since we'd be doing the same implementation with a loop under the covers.  It is unlikely the rest APIs will be updated to include this feature in the near future.

[2020-08-12 17:24] #13572 closed

[2020-08-12 17:44] seanmcc-msft commented on #13545
Ya, it looks like the uploads are timing out.  @jaschrep-msft, could we look into adding `ShareFileClient.Upload()` overloads with `StorageTransferOptions`, so customers can specify `MaximumTransferSize` and `MaximumConcurrency`?

[2020-08-12 17:55] gurufordy commented on #13897
So I'm going to retest this as I think it's actually all fine and just the fact that the CreateIfNotExists failed. Obviously this is because a container SAS doesn't have Service level permissions.

[2020-08-12 18:04] amnguye commented on #13990
Since this is a request on the service and not on the SDK, we will close this for now and if the service adds on this feature onto Blob Batch we will look to add it to the SDK.

[2020-08-12 18:04] #13990 closed

[2020-08-12 18:12] schaabs commented on #14122
@PaulVrugt Thanks for reporting this issue, and sorry for the inconvenience here. We are currently in a state of transition with the Azure SDK. The `AppAuthentication` library is being deprecated and replaced with the `Azure.Identity` library, but we're in the process of transitioning all the SDK libraries. We have plans to support Azure SQL AAD authentication via `Azure.Identity` later this year,

[2020-08-12 18:28] chris5287 opened #14180 "[QUERY] Querying Log Analytics Workspaces"
Is there a NuGet package for querying Log Analytics workspaces

[2020-08-12 18:28] schaabs commented on #13531
@StefH this is good question. As of our 1.2.0 release the `ClientSecretCredential` does cache acquired tokens, but the `ManagedidentityCredential` does not. We do have plans to update the `ManagedIdentityCredential` so that it also caches acquired tokens, but this requires some changes from `Microsoft.Identity.Client` so it probably won't happen until the end of this year, early next year.

In gen

[2020-08-12 18:39] AlexanderSher commented on #13998
Currently analyzers package is newer than required.

[2020-08-12 18:39] #13998 closed

[2020-08-12 18:44] christothes opened #14181 "Consider implementing a "RecordIfNoMatch" RecordedTestMode behavior"
# Overview
Often times when re-recording tests, only a subset need to be re-recorded. Currently the options are to re-record all tests, or to cherry pick only the failing tests and manually re-record just the subset.

# Proposal
Implement a new `RecordedTestMode` behavior which acts like Playback until it encounters a record match failure with a fallback to retry in Record mode.

[2020-08-12 18:46] christothes commented on #14181
cc @pakrym

[2020-08-12 18:47] jsquire commented on #14180
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-12 19:00] StefH commented on #13531
@schaabs Thanks for explaining. In that case I'll cache the tokens using `IMemoryCache`.

My code looks like:
[code]

[2020-08-12 19:04] JoshLove-msft opened #14182 "TestFramework - Better integration for connection string sanitization"
Many libraries have connection strings and will need to follow the same pattern of creating a custom sanitizer, parsing the connection string, replacing the secret with some base64 encoded text. Since this is a mainline scenario, we should offer better integration. One idea is to build this into the GetRecordedVariable method so that a user has a way to indicate that the variable they are recordin

[2020-08-12 19:13] youn123 opened #14183 "Can't install Azure.Security.KeyVault.Secrets for NET Framework 4.6"
**Query/Question**
Trying to install package `Azure.Security.KeyVault.Secrets 4.1.0`. Getting the following error:

[code]

**Environment:**
 - `Azure.Security.KeyVault.Secrets 4.1.0`
 - Windows 10 .NET Framework 4.6
 - Visual Studio 16.8.0 Preview

[2020-08-12 19:34] timurka-xalien opened #14184 "[BUG] BlobContainerClient.GetBlobs().ToArray() throws InvalidOperationException when called by STA thread"
I am using Azure.Storage.Blobs nuget package version 12.4.4 on .NET Framework 4.6.2.

When I call `BlobContainerClient.GetBlobs().ToArray()` it throws `InvalidOperationException `with the following message 'Synchronously waiting on non-completed task isn't allowed.' Note the call is made by STA thread.

I have just upgraded from 11.1.7. Everything worked fine before upgrade.

The call stack is the

[2020-08-12 19:38] #13716 closed

[2020-08-12 19:50] jsquire commented on #14184
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-12 19:51] jsquire commented on #14183
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-12 21:19] jsquire commented on #11399
The new build of the AMQP library (v2.4.5) was recently released, containing the timer disposal fixes from Daniel.  This was included in our v5.2.0-preview.2 release, which I've been running through our stress harness.  I'm no longer seeing the same evidence of timers awaiting finalization and I'm seeing a fairly flat memory use, where I'm reasonably sure that the small bit of growth that I'm seei

[2020-08-12 21:19] #11399 closed

[2020-08-12 21:29] seanmcc-msft commented on #9607
Open write has merged! - https://github.com/Azure/azure-sdk-for-net/pull/13344

[2020-08-12 21:59] chidozieononiwu commented on #6513
PR https://github.com/Azure/azure-sdk-for-net/pull/14185 is out for this, with sample publish [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=493604&view=codecoverage-tab)
A side not is that the [html site](https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-net/Code%20Coverage/index.html) looks better that when its embedder in the code coverage tab.

[2020-08-12 22:05] maririos commented on #12434
Package released https://www.nuget.org/packages/Azure.AI.FormRecognizer

[2020-08-12 22:05] #12434 closed

[2020-08-12 22:06] maririos opened #14188 "Release Form Recognizer 3.0.0-preview.2"

[2020-08-12 22:12] maririos commented on #13356
Comments in API view: https://apiview.dev/Assemblies/Review/b196a5e53fa2441f92e3b1accefa35e7#Azure.AI.TextAnalytics.TextAnalyticsClient.AnalyzeSentiment(System.String,+System.String)

[2020-08-12 22:12] #13356 closed

[2020-08-12 23:09] maririos commented on #14130
So far, what I see is that before codegen if the service didn't return `name` or `iso6391Name` the SDK was assigning `null` to the value.
With codegen, if these values are not present, the SDK will throw `ArgumentNullException`

[2020-08-12 23:37] heaths commented on #14183
Azure.* packages target `netstandard2.0`, which is (mostly) equivalent to .NET Framework 4.6.1, or the TFM `net461`. See <https://docs.microsoft.com/dotnet/standard/net-standard#net-implementation-support> for more information.

You might consider upgrading your project to a newer version of .NET Framework. See <https://dotnet.microsoft.com/platform/support/policy/dotnet-framework> for the support

[2020-08-12 23:37] #14183 closed

[2020-08-13 02:30] maririos commented on #14130
As for the exceptions, we can customize the constructors for `DetectedLanguage_internal` and `DetectLanguageInput` to remove the parameter validations.
At the same time, I see this happening across other endpoints so I'm looking into a way to disable it for all input parameters in codegen at the same time.

[2020-08-13 07:04] JadeCoding commented on #13940
I got this same issue when following steps in this doc: https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-code

[2020-08-13 07:42] sebader opened #14201 "[QUERY] Distributed Tracing in EventHub - example?"
**Query/Question**
Now that EventHub supports distributed tracing and submits the Diagnostics-id in a similar way to what Service Bus already did, do you have a corresponding example how to use that ID in the processor? This show it for Service Bus messages: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-end-to-end-tracing#trace-message-processing
[code]

**Environment:**

[2020-08-13 07:43] PaulVrugt commented on #14122
@schaabs

For authentication with sql server we used the [this doc](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi).

so we added a `SqlAuthenticationProviders` section to the web.config, and our connection string uses `active directory interactive` authentication.

To configure what user defined managed principal is used, we used the `AzureServicesAuthConn

[2020-08-13 07:44] PaulVrugt commented on #9607
Great! two down, one to go. Now all we need is seekable read streams from `OpenRead`, and we can start using this new package.

[2020-08-13 07:53] mrwatts opened #14202 "[FEATURE REQ] Add support for filters when receiving messages"
The AMPQ protocol supports filtering of messages of interest when receiving messages. I would like to be able to use filters too when using the Microsoft.Azure.ServiceBus API.

This request originates from another request here: [Issue 13799](https://github.com/Azure/azure-sdk-for-net/issues/13799).

I have no idea if this is just something that needs to be implemented in the client or that support

[2020-08-13 08:00] #7379 closed

[2020-08-13 09:43] Hwcverweij opened #14205 "[FEATURE REQ]Add message state to Microsoft.Azure.ServiceBus.Message"
**Library or service name.**
Library: Microsoft.Azure.ServiceBus
Class: Message

**Ability to get the message state (Active, Deferred or Schedules).**
The track 0 `Microsoft.Servicebus.Messaging.BrokeredMessage` has a `MessageState`. When moving to `Microsoft.Azure.ServiceBus.Message` it is not possible anymore to get the state.

I don't know the rationale behind this decision or wherever this was

[2020-08-13 09:51] sebader commented on #14201
After some trial-and-error I came up with this. Seems to work when looking at AppInsights but is this really the best way?

[code]

[2020-08-13 12:47] tpajurek-dtml opened #14207 "[BUG] AzureCliCredential and VisualStudioCredential sometimes times-out, depending on the requested scope"
When using `AzureCliCredential` or `VisualStudioCredential`, I am not able to obtain tokens (the `GetTokenAsync` call times out) for some resources/scopes while other resources/scopes works well.

For the very same problematic resources/scopes, I am able to use `az account get-access-token --resource xxx` from PowerShell Core without any problems.

Also, the `VisualStudioCodeCredential`  and the o

[2020-08-13 13:14] jsquire commented on #14202
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-13 13:14] jsquire commented on #14202
//cc: @ramya-rao-a, @JoshLove-msft, @MiYanni

[2020-08-13 13:16] jsquire commented on #14205
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2020-08-13 13:16] jsquire commented on #14205
//cc: @ramya-rao-a, @richardpark-msft

[2020-08-13 13:21] jsquire commented on #14207
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-13 13:30] jsquire commented on #14201
Hi @sebader.   To be transparent, I'm not sure what the past path would be to help get you an authoritative answer to this.  We may need to ask a couple of folks for help before finding the right person.  Please bear with us.

Diagnostics for the new generation of Azure SDKs are intended to be a consistent and drive from a common initiative around OpenTelemetry.   Since a good deal of the efforts

[2020-08-13 13:43] rupeshtech commented on #14068
Thanks @jsquire. yes u r right.
I have .NET 5.0 installed on system and when I create a project in Visual Studio it is taking .NET 5.0 as target framework

Solution: Changing it back to .NET core 3.1 worked. So closing the issue..
Thanks for ur effort.

![image](https://user-images.githubusercontent.com/24852402/90141470-72811700-dd7b-11ea-9eb1-6e53b0f277ca.png)

[2020-08-13 13:43] #14068 closed

[2020-08-13 13:50] jsquire commented on #14068
Hi @rupeshtech.   Thank you for confirming, this is definitely something that we should investigate.  I'll open an issue for the team that owns the AMQP library.

[2020-08-13 14:06] christothes commented on #14170
@XuGuang-Yao please validate that the current master branch resolves this issue.

[2020-08-13 14:19] christothes commented on #14128
Missed some retry wrappers on CreateTable.

[2020-08-13 14:29] rupeshtech commented on #14068
@jsquire  I dont know whether it is related or not but had opened other issue as well for .NET 5.0

https://github.com/Azure/azure-functions-vs-build-sdk/issues/451

[2020-08-13 15:43] #14128 closed

[2020-08-13 16:43] pakrym commented on #13970
cc @kasobol-msft

this test often fails in core nightly runs. Can it be disabled?

[2020-08-13 16:50] kasobol-msft commented on #13970
@seanmcc-msft  @jaschrep-msft

[2020-08-13 16:51] pakrym commented on #14201
You are right that we are missing `ExtractActivity` from Track 2 APIs. The workaround you've found looks right but I think we should still have something like ExtractActivity helper.

[2020-08-13 17:05] kurtzeborn commented on #10997
@chidozieononiwu, looks like this may be something not quite right with the fix for #10998.

[2020-08-13 17:48] SeanFeldman commented on #14202
To be able to request messages with a filter, wouldn't that need to be a broker side feature first?

[2020-08-13 18:05] ramya-rao-a commented on #14202
Pasting what I believe is the relevant section from AMQP spec here:

<img width="643" alt="Screen Shot 2020-08-13 at 11 03 06 AM" src="https://user-images.githubusercontent.com/16890566/90170248-98df8c00-dd54-11ea-9418-dc2ee8e542ec.png">

[2020-08-13 18:06] SeanFeldman commented on #14202
@ramya-rao-a just to make sure, spec 1.0 (no link is provided)

[2020-08-13 18:12] ramya-rao-a commented on #14202
Thanks @SeanFeldman, updated my comment above with the link to the spec that I have been using as a reference

[2020-08-13 18:34] sima-zhu commented on #14134
Thanks @heaths to report this!

We can do one more check in Verify-Link.ps1 script.
When we read github link, we replace the master repository with development repository link and check whether it is broken. If it is broken, we failed the pipeline. If not, then we make it pass.
@weshaggard I will try on this approach first. Let me know if you have other suggestions.

[2020-08-13 19:29] axisc commented on #13799
@mrwatts Topic-Subscription could help simplify if your receivers know exactly what messages it needs to process (and you can draw out a criteria for a filter from that).

If you really need a way of querying a durable data store then Service Bus is not the best solution. The flow is somewhat possible with deferred messages, but it is an add-on feature for an incremental workflow and not the defau

[2020-08-13 19:31] axisc commented on #14202
Wrote this on #13799 , but adding it here for completeness

Filtering when receiving messages (if implemented) is going to give bad performance because you have to scan the whole queue to identify the first message that satisfies the condition. Topic-Subscription with filters is a much better idea here.

This is allowed in Java Message Service (JMS) API, but admittedly it is less preferred than si

[2020-08-13 19:47] kasobol-msft opened #14211 "[FEATURE REQ][Storage] Ability to receive ONE message from Queue"
**Library or service name.**
Azure.Storage.Queues

**Is your feature request related to a problem? Please describe.**

I'm working with codebase written against V11 storage SDK, migrating to V12. There's a lot of code that tries to peek or receive just one message from the queue. The APIs available on `QueueClient` make this task kind of cumbersome, i.e. a lot of :
`(await _queue.ReceiveMessagesAs

[2020-08-13 19:48] kasobol-msft commented on #14211
@tg-msft Do you think it's a reasonable ask?

[2020-08-13 19:58] annelo-msft commented on #13998
@AlexanderSher I'm still seeing this error:

![image](https://user-images.githubusercontent.com/21269347/90180992-9b49e200-dd64-11ea-88c1-704868b8ab3a.png)

Even though I updated the analyzer in this PR: https://github.com/Azure/azure-sdk-tools/pull/729

What makes you think the current analyzers package is up to date?

[2020-08-13 20:08] heesunlee9 commented on #14095
Let me try fixing this potential bug

[2020-08-13 20:09] tg-msft commented on #14211
I think that makes a lot of sense.  We originally didn't for the sake of simplicity, but I've seen more and more folks having a bad time with this.  Let's just make sure we're aligned with what ServiceBus is doing too.  @JoshLove-msft - is SB adding an overload to return single messages?

[2020-08-13 20:10] JoshLove-msft commented on #14211
Yes, SB has methods to receive a single message, a list of messages, or an IAsyncEnumerable of messages.

[2020-08-13 20:11] jsquire commented on #14095
That would be very much appreciated, @heesunlee9.  Please let us know if you run into any difficulties getting your environment setup to build and run tests; we're happy to help get you onboarded.

The Event Hubs [contributing guide](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/CONTRIBUTING.md) should be helpful, as well.

[2020-08-13 21:02] schaabs opened #14214 "[BUG] InteractiveBrowserCredential fails to pass options to underlying constructor"
When constructing the `InteractiveBrowserCredential` using `InteractiveBrowserCredentialOptions` the options are not properly passed to the implementation constructor, so not all options are honored. Currently this impacts the 1.2.0-preview.3+, but does not impact the 1.2.0 stable release as this constructor is not available in that release. However it is being added back in 1.3.0-preview.1 so it

[2020-08-13 22:09] kinelski opened #14216 "[Test] Fix FormRecognizer test failures"
Behavior changes with the new service version have triggered issues in our tests: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=494211&view=results

[2020-08-13 23:44] kasobol-msft commented on #13970
https://github.com/Azure/azure-sdk-for-net/pull/14213

[2020-08-13 23:55] axisc commented on #14038
ha, yes, that is by design :)

Please let me know if there are any other questions, otherwise I can proceed to close this issue.

[2020-08-14 00:21] #13015 closed

[2020-08-14 00:23] axisc commented on #9473
I think @nemakam's recommendation of completing the message and sending a scheduled message is a better approach.

Service Bus (or any message/command broker) is a server/sender side cursor. When a receiver/client wants to control when the message is visible again (i.e. custom delay/retry) it must take over the cursor from the sender. This can be achieved with the below options -
  * Completing th

[2020-08-14 00:38] axisc commented on #11798
@vanillajonathan  published v4.1.4 now. Can you try again?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus?view=azure-dotnet is currently showing the docs (unless I'm missing something).

[2020-08-14 02:47] HengzheLi commented on #9538
Hi @kasobol-msft, I found 12.5.0 was released. But it seems it was not included the Client-Side encryption in this version. https://github.com/Azure/azure-sdk-for-net/blob/Azure.Storage.Blobs_12.5.0/sdk/storage/Azure.Storage.Blobs/CHANGELOG.md

So does the Client-Side encryption feature still need to be waited for another release?

[2020-08-14 03:28] shivan19 commented on #10576
I'm sending incorrect credentials as part of the connection string and using EventProcessorClient to start and stop processing. Apparently, it doesn't throw an exception stating 401 or Invalid credentials. How should I test the event hub connection and report bad credentials, in case?

[2020-08-14 04:39] #11734 closed

[2020-08-14 05:20] erich-wang opened #14230 "[FEATURE REQ] AzureEventSourceListener should provide DisableAllEventSources to unsubscribe all EventSource"
`**Library` or service name.**
What library or service is this request related to?
Azure.Core

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?
AzureEventSourceListener enables some EventSources internally but does not expose these subscribed EventSources instances, so I have no way to pass in EventSource insta

[2020-08-14 06:02] allenjzhang commented on #14103
Look in at the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/409fc85092469bfc21153bed5b33deaeaeef3b42/specification/batch/resource-manager/Microsoft.Batch/stable/2020-05-01/BatchManagement.json#L2860) that Pool and other entities are based on ProxyResource which does NOT have tags.

Route to Batch team to support that in the rest api definition.

[2020-08-14 06:53] yungezz commented on #14127
duplicate with https://github.com/Azure/azure-libraries-for-net/issues/1122

[2020-08-14 06:54] #14127 closed

[2020-08-14 06:57] yungezz commented on #13991
hi @xccc-msft could you pls help on this? thanks

[2020-08-14 08:00] vanillajonathan commented on #11798
@asics, No the documentation website still only includes the classes, methods and such but without the description for each member. Compare the English docs website to the Chinese docs website and you will see that the Chinese is much more comprehensive and includes documentation for each member.

[2020-08-14 08:00] #13054 closed

[2020-08-14 08:00] #12290 closed

[2020-08-14 08:10] johnknoop commented on #14038
@axisc

I see. Is this documented somewhere, so that one might read up on the reasons behind this limitation?

[2020-08-14 08:44] AtOMiCNebula opened #14235 "[BUG] ResourceGroupsOperations.CheckExistence returns Response instead of Response<bool>"
**Describe the bug**
While taking a look at what it'd take to port from `Microsoft.Azure.Management.ResourceManager.Fluent` to `Azure.ResourceManager.Resources`, I noticed that the `ResourceGroupsOperations.CheckExistence`/`.CheckExistenceAsync` functions return `Response`, unlike the old SDK's version of the functions, which [returned `Response<bool>`](https://docs.microsoft.com/en-us/dotnet/api/

[2020-08-14 08:57] rmourato commented on #14184
Similar to this, I'm getting the exception when calling `BlobContainerClient.CreateIfNotExists` - which is surprising behaviour, I'm not calling the async overload of the method!

On my case I'm calling the API from the .ctor of an xUnit test suite (hence not async).

Message:
`System.InvalidOperationException: 'Synchronously waiting on non-completed task isn't allowed.'`

Stack trace:

[code]

En

[2020-08-14 13:34] jsquire commented on #10576
@shivan19: You should be observing this case with your error handler.  The service has responsibility for validating your credentials and making a decision on authorization.  The client will respond with an `UnauthorizedAccessException` if the service rejects a connection/link as unauthorized.   If your credentials are malformed,  it is possible that you'll to see a more generic exception because

[2020-08-14 13:49] jsquire commented on #14235
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-14 14:48] tree1370 opened #14241 "azure speech recognition crash the console-app on linux IOT with KeywordRecognizer"
hi

i use KeywordRecognizer for recognize word .

i have a console app that uses azure for speech recognition offline from microphone (by KeywordRecognitionModel table) on linux IOT(raspberry pi).

when i run it, at first time it works correctly and can recognize my word, but after 3 or more recognition , it crashes the app, even try-catch cant handle it.

Note : the following code works good on w

[2020-08-14 15:07] #13442 closed

[2020-08-14 15:12] jsquire commented on #13200
Closing, as the associated PR has been merged.

[2020-08-14 15:12] #13200 closed

[2020-08-14 15:28] tg-msft commented on #14211
And it looks like ServiceBus is also calling it `ReceiveMessage` and `ReceiveMessages` per https://apiview.dev/Assemblies/Review/b5d7e3304000449c859c2016f718db52#Azure.Messaging.ServiceBus.ServiceBusReceiver.

This plan sounds good to me.

[2020-08-14 15:32] kasobol-msft opened #14243 "[BUG][Storage] QueueClient.UpdateMessageAsync erases message content."
**Describe the bug**
in V12 `_queue.UpdateMessageAsync` erases message content when MessageText is omitted. For comparison the `queue.UpdateMessageAsync` from V11 didn't erase message content and there was an option to only update visibility timeout.

**Expected behavior**
When message content is left unset then `_queue.UpdateMessageAsync` should only update visiblity timeout.

**Actual behavior (

[2020-08-14 15:40] shivan19 opened #14244 "Unable to validate credentials using EventProcessorClient 5.1.0"
**Describe the bug**
I'm sending incorrect (tested with both malformed and credentials for a different event hub to retain the validity) credentials as part of the connection string and using EventProcessorClient to start and stop processing. Apparently, it doesn't throw an exception stating 401 or ```UnauthorizedAccessException```. How should I test the event hub connection and report bad credent

[2020-08-14 15:42] shivan19 commented on #10576
@jsquire : Opened a new issue #14244.

[2020-08-14 16:05] pakrym commented on #14230
AzureEventSourceListener is disposable, disposing it would unsubscribe from all the listeners.

[2020-08-14 16:29] danieljurek commented on #13028
PR open: https://github.com/Azure/azure-sdk-for-net-pr/pull/1214/files

[2020-08-14 16:39] #14243 closed

[2020-08-14 17:09] jsquire commented on #14244
Hi @shivan19.   Thank you for moving this discussion to a new issue.  As mentioned in #10576, the service has responsibility for validating your credentials and making a decision on authorization.  The client will respond with an `UnauthorizedAccessException` if the service rejects a connection/link as unauthorized.   If your credentials are malformed,  it is possible that you'll to see a more gen

[2020-08-14 17:11] jsquire commented on #14241
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-14 19:25] jsquire commented on #14244
I've tested with a well-formed connection string using tokens not valid for the specified namespace.  I'm seeing the error handler invoked as expected.  The Event Hubs service rejects the first operation run (querying properties of the Event Hub), considering the signature generated from the shared key information as invalid.

This presents as an `EventHubsException` with the reason `ServiceCommun

[2020-08-14 19:56] shivan19 commented on #14244
Thanks for following up. Interestingly I don't see my error handler get invoked once I call StartProcessingAsync. Are you referring to the same code that I've put up? I probably might be missing something but for me it doesn't call  ```ProcessErrorHandler``` in case token's invalid. Assuming you're not referring to EventHubClient but EventProcessorClient?

[2020-08-14 19:58] pakrym opened #14249 "Limit test session record size"
Currently, we have some recordings as large as 25mb per file like `AbortCopyFromUriAsync*` in storage they are also full of random data and are uncompressible growing the repo size considerably with every re-recording.

We might want to have an upper limit on recording size that would prevent us from checking in very large files.

cc @weshaggard @tg-msft @JoshLove-msft @kasobol-msft

Related: http

[2020-08-14 20:02] adrianhall opened #14250 "Remove azsdk-net- from User-Agent when the namespace is not in Azure.*"
**Library or service name.**
What library or service is this request related to? **Azure.Core**

**Is your feature request related to a problem? Please describe.**

When using the Azure.Core library for a non-track-2 library (e.g. Microsoft.Zumo - the rewrite of the Azure Mobile Apps library), the User-Agent is set up as something like "azsdk-net-Microsoft.Zumo.MobileData/5.0.0-preview.1".  The az

[2020-08-14 20:05] jsquire commented on #14244
I'm running a slightly simplified version where I start the processor with a cancellation token set to expire in 60 seconds and wait indefinitely until it is cancelled, bypassing your while loop.  I'm also no checking cancellation in the error handler and my event handler is just logging.  Otherwise, the structure is equivalent.

[2020-08-14 20:50] kasobol-msft commented on #14249
Before limit is enforced we'd like to see alternative like one mentioned in https://github.com/Azure/azure-sdk-for-net/issues/6903 in place.
Also, are there any plans to do this for other languages? We have similar situation there I believe.
FYI @amishra-dev

[2020-08-14 21:11] memontic-ms opened #14253 "[FEATURE REQ] Support nullable for ManagementRecordedTestBase"
**Azure.ResourceManager.TestFramework**

**Is your feature request related to a problem? Please describe.**
ManagementRecordedTestBase cannot be used from a project with nullable enabled.

24  Error	CS8618	Non-nullable property 'CleanupPolicy' is uninitialized. Consider declaring the property as nullable.
28  Error	CS8618	Non-nullable property 'CleanupPolicy' is uninitialized. Consider declaring t

[2020-08-14 21:47] attrib75 commented on #12287
I think I'm getting this too

[2020-08-14 22:08] #13506 closed

[2020-08-14 23:26] weshaggard commented on #14249
FYI @JimSuplizio

[2020-08-14 23:36] glecaros commented on #14241
Hi @tree1370, can you try using a "using" block for the recognizer (or manually disposing)?

[2020-08-14 23:58] #14216 closed

[2020-08-15 08:33] tree1370 commented on #14241
hi

i use using but doesn't work correctly we get corrupted size vs. prev_size Aborted error.

and i try stop and dispose manually but the console app sometime get error corrupted size vs. prev_size Aborted and usually crashed my app !

[2020-08-15 15:35] jsquire commented on #14253
//cc: @pakrym, for awareness.

[2020-08-15 18:51] heesunlee9 commented on #14095
Hello,

As @jsquire said, my suggestion is below.

On line 84:
while (TryPeek(eventsToPublish, out EventData currentEvent) && (eventBatch.TryAdd(currentEvent)))
{
TryDequeue(eventsToPublish, out EventData currentEvent);
}

I did not do below on line 86:
if (TryDequeue(eventsToPublish, out EventData currentEvent))
{
...
}
It is because even if some events remain in 'eventsToPublish' due to the fals

[2020-08-15 18:57] heesunlee9 commented on #14095
I did not open a pull request. It is because I have a question on testing.
I reviewed materials in 'CONTRIBUTING.md'.
I discovered that there is no test code of Sample04 and other SampleXX.
Do I have to write a new test code? Or Can I open a pull request without test code?

[2020-08-16 00:49] InteXX opened #14257 "[BUG] The value for one of the HTTP headers is not in the correct format"
**Describe the bug**
An error occurs when attempting an operation while connected to local storage

**Expected behavior**
The requested operation should succeed

**Actual behavior**
Error message:

[code]

**To Reproduce**

1. Using v12.4.4, connect to local storage
2. Perform an operation (e.g. `oClient.GetBlobsAsync.GetAsyncEnumerator.MoveNextAsync`)
3. Note that the operation succeeds
4. Repeat

[2020-08-16 20:36] mrwatts commented on #14202
@axisc my assumption was creating a subscription at runtime would be quite an expensive operation. I would be creating the subscription for one message only, and removing it once I have received that message (or after a timeout). Is my assumption wrong?

[2020-08-16 20:43] mrwatts commented on #13799
@axisc I replied to your suggestion on #14202 . Will close this thread, as there is no need to discuss the same solution on two threads.

[2020-08-16 20:43] #13799 closed

[2020-08-17 02:15] kdcllc opened #14258 "[BUG] Azure.Identity 1.2.0 in xUnit tests Throws System.InvalidOperationException : Synchronously waiting on non-completed task isn't allowed."
**Describe the bug**
After upgrade `Azure.Identity` 1.1.1 version to 1.2.0. The library is getting exception thrown in the xUnit tests that are STA threads I believe.

**Expected behavior**
The library should get credentials without exceptions.

**Actual behavior (include Exception or Stack Trace)**
Message:
    System.InvalidOperationException : Synchronously waiting on non-completed task isn't a

[2020-08-17 02:43] erichillah opened #14259 "[QUERY] `Azure.Security.KeyVault.Keys CryptographyModelFactory seems to be in a wrong namespace"
**Query/Question**
CryptographyModelFactory is under `Azure.Security.KeyVault.Keys` namespace while being in the `Azure.Security.KeyVault.Keys/src/Cryptography/` folder. Shouldn't the correct namespace be `Azure.Security.KeyVault.Keys.Cryptography` ?  Seems like it is also the only class using that namespace in the  Cryptography folder.

[code]
**Environment:**
 - Name and version of the Library p

[2020-08-17 06:57] ahofman commented on #14071
I'm referring to the out of the box `KeyVaultKeyResolver` that I can use with the old library. Details on this can be found here:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-encrypt-decrypt-blobs-key-vault

[2020-08-17 07:12] shemers commented on #14180
Hi @chris5287
is [this](https://www.nuget.org/packages/Microsoft.Azure.OperationalInsights/) what you are looking for?

[2020-08-17 07:39] PaulVrugt commented on #9607
@seanmcc-msft
Will the seekable read stream issue also be addressed here, or is there a different issue for that?

[2020-08-17 10:47] digeler opened #14265 "[QUERY] looking for a sample on how to create private endpoint"
**Query/Question**
How can we help?
am looking for a sample to implement private endpoint  :
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.network.fluent.iprivateendpointsoperations?view=azure-dotnet
https://docs.microsoft.com/en-us/azure/event-hubs/private-link-service

can you share a sample on how to create it using code.

[2020-08-17 14:17] jsquire commented on #14257
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-17 14:18] jsquire commented on #14258
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-17 14:19] jsquire commented on #14259
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-17 14:20] jsquire commented on #14265
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-17 16:14] seanmcc-msft commented on #9607
I think we will leave this issue open.  We still need to add seekability to `Open Read()`, and `PageBlobClient.OpenWrite()` and `ShareFileClient.OpenWrite()`.  Seekable writes are not possible on Append Blob, Block Blobs, and Data Lake Files.

[2020-08-17 16:56] shivan19 commented on #14244
Would you mind posting your sample code, just so that I can compare it directly with my example?
Just to piggy back on the the existing question:
1. Is there a Rest API to test event hub connection directly? The ask is to avoid importing NuGet packages.
2. Are SaS signatures supported by the current event hub client SDK?

[2020-08-17 17:19] #14130 closed

[2020-08-17 17:24] seanmcc-msft commented on #14257
Hi @InteXX, what parameters did you provide `BlobContainerClient.GetBlobs()`?

[2020-08-17 17:28] seanmcc-msft commented on #14080
@pakrym, what would you think if we attempted to mitigate this with:
[code]

[2020-08-17 17:30] pakrym commented on #14080
I don't think that this mitigation would work. `stream.Position >= stream.Length` would always be `true` for a `MemoryStream`.

[2020-08-17 17:40] seanmcc-msft commented on #14080
Are you sure?  What about if a `MemoryStream` was just created, or it's position was set to less than `stream.Length`?

[code]

[2020-08-17 17:40] weslyin opened #14269 "[BUG]: Unable to connect using OAuth 2 from a console app with connection string and LoginPrompt=never using XRMTooling api when running from console app which is task scheduled."
**Describe the bug**
Unable to connect to D365 CE online using XRMCrmSvcClient with OAuth Authentication type where the loginPrompt= Never. The connection to dynamics 365 CE online is part of the console app which is task scheduled to run.

**Expected behavior**
The console app when task scheduled should automatically connect and the xrm tooling api  CrmSvcClient.IsReady should return true, i get

[2020-08-17 17:43] pakrym commented on #14080
Sorry, it will always be `false`

[2020-08-17 17:47] seanmcc-msft commented on #14080
I think `stream.Position == stream.Length` after the stream as been fully read:

[code]

[2020-08-17 17:48] pakrym commented on #14080
Can you please explain how your proposal fixes the issue customers are seeing?

[2020-08-17 17:48] heaths commented on #14259
Thank you for finding this issue. It is an unfortunate mistake but moving it would be a breaking change and we feel copying it is not worth the increased assembly size or possible UX issues in the future.

[2020-08-17 17:48] #14259 closed

[2020-08-17 17:55] seanmcc-msft commented on #14080
It solves a common edge of this issue, when `stream.Position == stream.Length`.  We could make the error message more detailed, asking the customer to rewind the stream.

I think its possible the deadlock when `0 < Stream.Position < Stream.Length` might be in Azure Core.  It repos on our simple upload methods, where we are mostly calling the generated code:

[code]

The other possibilities are it

[2020-08-17 17:57] pakrym commented on #14080
@kasobol-msft had found the source of the issue already, it's because https://github.com/Azure/azure-sdk-for-net/blob/9118e1d66bee5db546c93a01669c9d66e57a69f9/sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs#L723 doesn't take Position into account when setting a Content-Lenght header value. Fixing math there and in similar spots would fix the issue.

[2020-08-17 17:58] joshfree commented on #11447
Related: https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/60

[2020-08-17 17:59] seanmcc-msft commented on #14080
Understood, I will create a PR to address this throughout the Storage SDK.  I still think it would be valuable to add the `stream.Position < stream.Length` check, this is a common case that customers run into.

[2020-08-17 18:48] sribs commented on #4573
Do we have any update with regards to this ? The issue is still in 4.3.4 as well.

[2020-08-17 18:49] christothes opened #14272 "Cosmos produces malformed response to batch requests"
Returned headers differ as to content length format.

- Note the content length at the top of the `--batchresponse` boundary is complete for the whole response in the storage example, and is `400` for the Cosmos example and is repeated at each boundary. In addition the `400` sometimes bifurcates other response content.
- Content-ID headers are placed in the multi-part response body headers as oppo

[2020-08-17 19:58] InteXX commented on #14257
None at all.

Here's my code:

    Public Shared Async Function GetSyncManagerAsync(Client As BlobContainerClient) As Task(Of SyncManager)
      Dim oBlobber As IAsyncEnumerator(Of BlobItem)
      Dim oManager As SyncManager
      Dim oClient As BlobContainerClient
      Dim oItem As SyncItem

      oClient = If(Client, ContainerClient)
      oBlobber = oClient.GetBlobsAsync.GetAsyncEnumerator

[2020-08-17 20:45] serkantkaraca commented on #7783
Doc update is tracked at https://github.com/MicrosoftDocs/azure-docs/issues/60813

[2020-08-17 20:46] jsquire commented on #14269
Hi @weslyin.  Thank you for your feedback and we regret that you're experiencing difficulties.  Unfortunately, the Dynamics library is not part of the Azure SDK, so we're not able to assist.   To my knowledge, the Dynamics library is not open source so there is not repository to report an issue.  Your best route would likely be to context support via the [Dynamics product page](https://dynamics.mi

[2020-08-17 20:46] #14269 closed

[2020-08-17 21:48] #11529 closed

[2020-08-17 22:16] maririos opened #14283 "Look at possible breaking changes for ErrorCode and WarningCode after moving to codegen"

[2020-08-17 22:26] maririos commented on #14049
PHI entities are unique to PII.
We decided to merge PHI and PII into the existing [EntityCategory](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityCategory.cs) class as there are shared entities.

[2020-08-17 22:26] #14049 closed

[2020-08-17 23:07] maririos commented on #14090
how should we surface this in our libraries? will it be a problem to log it? or what else?

[2020-08-17 23:24] maririos commented on #14091
https://github.com/Azure/azure-rest-api-specs/pull/10440.
Why have a separate property and not use `LinkedEntity.Id`?

[2020-08-17 23:41] maririos commented on #14083
Very likely for NER. Other domains will be added in the future like i.e. finance

[2020-08-18 00:01] nraghava123 opened #14285 "[BUG] Cannot Use AppAuthentication with Local database"
when I am using AppId = "RunAs=Developer; DeveloperTool=VisualStudio" to connect to my local SQL DB I am getting error Login failed for User''.

I should be able to run SQL queries loally using app

Can not login to SQL server.Login failed for User''.

I am using below code to get token.

                 AppidToToken = AzureServiceTokenProvider(AppId);
                AppidToToken.GetAccessTokenA

[2020-08-18 00:04] nraghava123 commented on #14285
Version we are using <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net472" />

[2020-08-18 00:04] nraghava123 commented on #14285
Microsoft.Azure.Services.AppAuthentication" version="1.0.3

[2020-08-18 02:25] maririos commented on #14283
We are good.

[2020-08-18 02:25] #14283 closed

[2020-08-18 07:09] pellea commented on #14258
We have the same issue with our projects.

Authentication is working fine in docker or when running it normally but fails within unit tests.

[code]

[2020-08-18 09:07] nesterenko-kv commented on #9607
@seanmcc-msft thanks. Could you please add overload to `OpenWrite/Async` which also takes `BlobHttpHeaders`?

[2020-08-18 09:07] PaulVrugt commented on #9607
@seanmcc-msft Great! We're only looking for seekability in OpenRead for block blobs. Is there any ETA on this functionalitity?

We're looking to start to migrate some of our customers to Azure later this year, and the V12 version of this component is needed for thread safety (as you mentioned in https://github.com/Azure/azure-storage-net/issues/732#issuecomment-559277954)

Having seekable openread

[2020-08-18 11:47] jirikanda opened #14297 "[BUG] BlobClient.Exist and other non-async methods throws "InvalidOperationException: Synchronously waiting on non-completed task isn't allowed." when used in ASP.NET application"
**Describe the bug**
Using non-async methods in ASP.NET application (ie. WebForms) causes the exception is thrown:

[code]

**To Reproduce**
* Run the Visual Studio, Create new project.
* Choose ASP.NET Web Application (.NET Framework)
* Use "Empty" template, uncheck "Configure for HTTPS" (to keep the solution simple)
* Add nuget package Azure.Storage.Blobs **version 12.5.0** to the project
* Add

[2020-08-18 14:01] sribs opened #14299 "[BUG]Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(Microsoft.Rest.ServiceClientCredentials, System.Net.Http.DelegatingHandler[])'"
**Describe the bug**
[code]
This happens only when the following assembly is added to web.config and this is happening with the latest version ``` Microsoft.Azure.Keyvault```
[code]

If this is removed from web.config, then constructor along with params is recognized and this is

**Expected behavior**
Regardless of the xml if added or not added, it needs to recognize the constructor

**Actual beha

[2020-08-18 14:41] jsquire commented on #14285
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-18 14:42] jsquire commented on #14297
Thank you for your feedback.  Tagging and routing to the team best able to assist.

[2020-08-18 14:45] jsquire commented on #14299
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2020-08-18 14:46] jsquire commented on #14299
//cc: @schaabs

[2020-08-18 14:56] pakrym commented on #14297
cc @AlexanderSher

[2020-08-18 14:59] jsquire commented on #14244
1) I did not keep the code that I used, but I lightly modified the test [`EventsCanBeReadByOneProcessorClient`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Processor/EventProcessorClientLiveTests.cs#L42) from our live test suite when validating,  changing the error handler to a local function and inspecting via breakpoint.

2) They

[2020-08-18 15:53] seanmcc-msft commented on #9607
We are currently working on another batch of new service features, I can pivot back to Open Read after that.  Tentatively, I'm thinking I can have Open Read done by end of October.

[2020-08-18 15:59] annelo-msft opened #14303 "[Trainings] Unsuppress AZC0012"
See https://github.com/Azure/azure-sdk-for-net/pull/14247#discussion_r470808514

[2020-08-18 16:06] pakrym opened #14304 "TaskExtensions fix re-release"
## core

✔️ - Shipped
✔️ - Merged - https://github.com/Azure/azure-sdk-for-net/pull/14323

- [x] Azure.Core.csproj - https://github.com/Azure/azure-sdk-for-net/pull/14308 - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=500219&view=results
- [x] Azure.Core.Experimental.csproj - https://github.com/Azure/azure-sdk-for-net/pull/14308 - https://dev.azure.com/azure-sdk/internal/_build/

[2020-08-18 16:06] annelo-msft opened #14305 "[Trainings] Address PR comments in tutorial project"
See all comments in https://github.com/Azure/azure-sdk-for-net/pull/14247

[2020-08-18 16:13] PaulVrugt commented on #9607
That would be great. Thanks for the openness!

[2020-08-18 16:38] ohadschn commented on #13545
If I understand correctly, another workaround would be increasing the HTTP client's default timeout (which is 100 seconds): https://github.com/Azure/azure-sdk-for-net/issues/9212#issuecomment-575310337

[2020-08-18 17:15] jongio commented on #8941
@pakrym - It would be great to try to close this one out as it is 264 days old as of today.  Thanks, Jon

[2020-08-18 17:50] maririos opened #14312 "Rename xx_internal types to xxInternal"

[2020-08-18 18:11] heaths commented on #14299
Redirecting the binding of System.Net.Http would not remove a method from our assembly. More likely the type definition of `DelegatingHandler` doesn't match. Could you provide the full exception message including stack trace?

[2020-08-18 18:23] #13904 closed

[2020-08-18 19:00] #12702 closed

[2020-08-18 19:57] #14312 closed

[2020-08-18 20:37] AlexanderSher commented on #14258
Issue is fixed, please update to the package to 1.2.1: https://www.nuget.org/packages/Azure.Identity/1.2.1

[2020-08-18 20:37] #14258 closed

[2020-08-18 20:40] Nullstr1ng commented on #9294
Any updates? My .apk file way is way too big without linker.

[2020-08-18 21:46] EdwinStraver commented on #9490
@nadirbad @fariskarcic I have the exact same issue; were you able to resolve this?

[2020-08-18 21:51] JoshLove-msft opened #14346 "BinaryData - Add static serializer property to avoid unnecessary allocations"
We should have something like:
``` private static JsonObjectSerializer DefaultSerializer {get;} = new JsonObjectSerializer(); ```
to avoid unnecessary allocations when using the default set up.

[2020-08-18 22:18] pakrym opened #14349 "Unlist packages with a TaskExtension bug"
- [x] https://www.nuget.org/packages/Azure.Core/1.4.0
- [x] https://www.nuget.org/packages/Azure.Core.Experimental/0.1.0-preview.3
- [x] https://www.nuget.org/packages/Azure.Identity/1.2.0
- [x] https://www.nuget.org/packages/Azure.AI.FormRecognizer/3.0.0-preview.1
- [x] https://www.nuget.org/packages/Azure.Analytics.Synapse.Artifacts/1.0.0-preview.2
- [x] https://www.nuget.org/packages/Azure.Sear

[2020-08-18 22:25] AlexanderSher commented on #14184
Issue is fixed. Please update Azure.Storage.Blobs to 12.5.1: https://www.nuget.org/packages/Azure.Storage.Blobs/12.5.1

[2020-08-18 22:25] AlexanderSher commented on #14297
Issue is fixed. Please update Azure.Storage.Blobs to 12.5.1: https://www.nuget.org/packages/Azure.Storage.Blobs/12.5.1

[2020-08-18 22:26] christothes commented on #13326
duplicate of #14099

[2020-08-18 22:26] #13326 closed

[2020-08-18 23:50] davidobrien1985 commented on #14169
@allenjzhang do you already have an idea what is happening here?

[2020-08-19 00:29] axisc commented on #14202
@mrwatts yes that pattern is not going to scale.

Based on your use-case, I believe you need a persisted data store and the queue doesn't fit well because you have to adhere to first in first out as opposed to querying the queue.

I'd recommend rethinking either the way the receivers process the information, or replacing the queue with an alternate data store.

[2020-08-19 00:29] #14202 closed

[2020-08-19 00:38] clawrenceks commented on #14257
I am seeing the exact same issue here. Works fine in version 12.4.4 - I have reverted the package for now.

[2020-08-19 02:46] bawoodruff opened #14362 "[BUG] Enabling VisualStudioCodeCredential on macOS crashes dotnet"
**Describe the bug**
Since 1.2.0-preview2 (introduction of VIsualStudioCodeCredential), dotnet will crash when attempting to access a keyvault secret.

Microsoft.Identity.Client.Extensions.TraceSource Error: 0 : [MSAL.Extension][2020-08-19T02:32:50.9087760Z] SecKeychainFindGenericPassword, for serviceName Microsoft.Developer.IdentityService and accountName MSALCache
Status: '-25300'
Failed, item n

[2020-08-19 03:28] isra-fel opened #14365 "[QUERY] KeyOperations not settable when creating a key"
**Query/Question**
When using track 2 key vault SDK, I found that `KeyOperations` was not settable ([source code](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Keys/src/CreateKeyOptions.cs#L24)) when creating a key. This is different behavior from track 1 ([source code](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Microsoft.Azure

[2020-08-19 04:11] jongio commented on #9490
@nadirbad - If you want to use a token that you already have from user auth, you have to implement your own credential type that derives from TokenCredential.  If you do so, you should also implement the caching and refresh of the token.

@schaabs - Do you have a .NET version of this that we can share?

[2020-08-19 06:54] XuGuang-Yao opened #14367 "[Azure Tables]Can't pick up correct value from environment variable"
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

Add `TABLES_STORAGE_ENDPOINT_SUFFIX` with appropriate value into tests.yml then the test cases can acquire it from environment for different clouds live tests.
![image](https://user-images.githubusercontent.com/53599438/90599339-406230

[2020-08-19 07:33] LeaShallev commented on #14167
Hi @jsquire ,
Any update about it?

[2020-08-19 07:34] tzhanl commented on #14367
@danieljurek can you review this issue?

[2020-08-19 08:29] erich-wang commented on #14230
I thought Dispose(), but I have concern whether it would cause ObjectDisposedException.

[2020-08-19 08:52] Luyunmt opened #14368 "[Storage] Querying Blob Tests failed against china cloud and US GOV"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.
Some tests about querying blob failed in china cloud and US GOV. The error message is as follow:
Azure.RequestFailedException : Service request failed.
Status: 400 (A required feature for this operation is not enabled on the account.)
E

[2020-08-19 09:17] sanjaykulkarni04 opened #14369 "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature"
Hi,

I am getting below error while accessing blob container by using SAS token with storage emulator -

**Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature

System.AggregateException: One or more errors occurred. (Server failed to authenticate the request. Make sure the value of Authorization header is formed correct