[2022-01-10 21:18] jaschrep-msft commented on #12198
https://github.com/Azure/azure-sdk-for-net/pull/23056

[2022-01-10 21:18] #12198 closed

[2022-01-10 22:02] #26107 closed

[2022-01-10 22:02] #25946 closed

[2022-01-10 22:38] jsquire commented on #26240
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-10 23:44] JoshLove-msft commented on #26209
2.5.10 has been published which fixes the issue - https://www.nuget.org/packages/Microsoft.Azure.Amqp/2.5.10

[2022-01-11 00:12] isaacrlevin commented on #24754
@ArthurMa1978 any update on this issue. It is currently blocking me as the tool that I am writing has a dependency on the Azure CLI because of this bug.

[2022-01-11 02:07] iouri-s opened #26247 "[FEATURE REQ] Support server timeout parameter in GetMessagesXXX APIs"
### Library name

Azure.Storage.Queues

### Please describe the feature.

https://docs.microsoft.com/en-us/rest/api/storageservices/get-messages#uri-parameters mentions a `timeout` parameter that is not present in the .NET SDK.
Please update the SDK to reflect the service functionality.

[2022-01-11 02:52] archerzz commented on #24807
After discussion, we decided to add a directive in `autorest.csharp` to omit inheritance type replacement, so that `BgpServiceCommunity` can skip inheriting `Resource`.

[2022-01-11 04:01] #26065 closed

[2022-01-11 06:14] JoshLove-msft commented on #26207
Reached out to the owner of the AMQP library, and it sounds like we should be retrying on this error.

[2022-01-11 06:21] deivyd321 commented on #26207
Thanks. I have added verbose logging but it will take a few days to see the logs.

[2022-01-11 06:41] ArthurMa1978 commented on #24318
fixed

[2022-01-11 06:41] #24318 closed

[2022-01-11 07:02] ArthurMa1978 commented on #26226
@davidobrien1985 this should be fixed in the new lib https://www.nuget.org/packages/Azure.ResourceManager.Sql/1.0.0-beta.2

[2022-01-11 07:12] ArthurMa1978 commented on #26210
@Kolky the Microsoft.Azure.Management.Fluent is going to retired soon, would you like to try it by using the new sdk https://www.nuget.org/packages/Azure.ResourceManager.Compute/1.0.0-beta.5
@weidongxu-microsoft please take look this fluent issue and check if this is sdk issue or service issue

[2022-01-11 07:14] weidongxu-microsoft commented on #26210
Fluent SDK is in maintenance mode and will not add new feature. Please check the new SDK refed by Arthur in above comment.

[2022-01-11 07:14] ArthurMa1978 commented on #26182
We made big changes after the preview sdk, but @HarveyLink please help to check how will it be in new sdk.

[2022-01-11 08:29] castasint commented on #26233
Hello @kinelski ...thanks for the prompt response. Below is the code that we've. I've stripped off the non-relevant code for this issue. The idea is to have a very generic routine that can work for any type of document and store the form recognizer service response in a  dictionary.

Also, I found a work around to this thanks to the test cases written inside the SDK . Refer to the following files

[2022-01-11 08:46] otwebti opened #26253 "Could you please clarify the definition of "idle" in this context. Is it based purely on the number of messages or does it consider active subscribers ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 062a52c6-84d8-669d-45e2-9d493a95b13b
* Version Independent ID: 009db33f-e59f-c19e-a767-5c2ca71bf85d
* Content: [TopicDescription.AutoDeleteOnIdle Property (Microsoft.ServiceBus.Messaging) - Azure for .NET Developers](https://docs.microsoft.com/en-us/d

[2022-01-11 09:21] HarveyLink commented on #26182
@jamesstanleystewart The issue is fixed in new sdk, it will release to support.

[2022-01-11 11:12] asleire opened #26254 "[BUG] Missing property `categoryGroup` in `Insights.Models.LogSettings`"
### Library name and version

Azure.ResourceManager.Insights 1.0.0-preview.1

### Describe the bug

Inspecting the API request for creating a DiagnosticSetting in the Azure Portal I see the following request body:
![image](https://user-images.githubusercontent.com/631907/148932341-c4282232-9182-4b3e-ba7c-aaa89dd1dcc4.png)

It is currently not possible to reproduce this request using the POCO model

[2022-01-11 12:28] Mike-E-angelo opened #26255 "Troubleshooting `VisualStudioCredential`"
### Library name and version

Azure.Identity

### Query/Question

I am reading this page:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/troubleshooting.md

(Which btw [has broken links in this section](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/troubleshooting.md#troubleshooting-default-azure-credential-authentication-issues)

[2022-01-11 12:51] Shivam60 opened #26256 "[QUERY] Storage: Exception while copying blob"
### Library name and version

Azure.Storage.Blobs 12.10.0

### Query/Question

I have the requirement to copy the file from an URI to my azure storage account. The file can be in another azure storage account or can be anywhere, i just have the link to it and no other information.

I am trying to use `StartCopyFromUriAsync` function from `BlobClient` object to upload a file to my azure storage acc

[2022-01-11 13:25] jsquire commented on #26254
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-11 13:26] jsquire commented on #26255
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-01-11 15:13] spncrgr opened #26257 "Service Bus: Erratic Behavior from SendMessageAsync()"
I've created an Azure Function App to regularly poll the Dead Letter Queues and re-post the message back to the main topic (using [this sample](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/samples/DeadLetterQueue/Program.cs#L250) as a guide)

The behavior I've noticed is that sometimes the message gets posted to the topic and sometimes it doesn't;

[2022-01-11 15:45] danieljurek opened #26258 "Generate ToC from onboarded packages"
Using onboarded packages generate a ToC

Structure:

[code]

Things to do:
* [ ] Clean up metadata CSV
  * [ ] Ensure packages that are currently onboarded are in the metadata and not excluded
  * [ ] Add packages in ToC but not onboarded to CSV metadata
  * [ ] Clean up service names
* [ ] Adjust naming of package overview files to fit generated names (use `name.Replace(' ', '-')`)
* [ ] Ensure t

[2022-01-11 16:08] danieljurek commented on #25978
Duplicate of #26258

[2022-01-11 16:08] #25978 closed

[2022-01-11 16:41] jsquire commented on #26257
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-11 16:42] kasun04 commented on #22327
We have released SDK to remove validation on 20 TU. You can find the generated code [here](https://github.com/Azure/azure-sdk-for-net/blob/5b74f611c7cc6d3a2d19dfb9d6109ac129b5633a/sdk/eventhub/Microsoft.Azure.Management.EventHub/src/Generated/Models/EHNamespace.cs#L228 ).

[2022-01-11 16:53] JDZelenak commented on #17380
I have been able to mock ServiceBusSender, but I seem to be having an issue mocking ServiceBusReceiver.  I get the following error using Autofac and Moq
`Message:
Autofac.Core.DependencyResolutionException : An exception was thrown while activating λ:System.Object.
---- System.ArgumentException : Type to mock must be an interface or an abstract or non-sealed class.
-------- System.TypeLoadExceptio

[2022-01-11 17:00] christothes commented on #26240
Hi @microsoftruisu -
Could you describe a bit more about your scenario? When updating the certificate, would this typically be done without a deployment? If so, how would you update the certificate configuration dynamically?

[2022-01-11 17:11] pallavichede opened #26259 "EnvironmentCredential not supporting certificate Authentication based on Thumbprint"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f9e9027-71c3-4071-fc06-fa0814c73a18
* Version Independent ID: 8adc947f-c7c6-55bf-2d2d-6c342b376848
* Content: [DefaultAzureCredential Constructor (Azure.Identity) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/azure.identity

[2022-01-11 17:15] alexanikiev commented on #25536
@JoshLove-msft I was looking into Jan 2022 milestone to see if this bug has been fixed, looks like it is not yet, do you have any updates on it? Thanks in advance

[2022-01-11 17:23] christothes commented on #26255
Hi @Mike-E-angelo -
Could you provide some additional detail about how you are attempting to use the `VisualStudioCredential` and what specific error(s) or exception you are hitting?

[2022-01-11 17:42] microsoftruisu commented on #26240
@christothes
the cert is like an authentication cert, so it is kind of needs SNI validation.

The current situation is that, we create ClientCertificateCredential with cert 1, then, we use that credential to create service bus namespaces and hundreds of topics. And when we have a cert 2, we have to recreate/rebuild all those connections/topics.

The goal/feature request is to avoid doing that. if

[2022-01-11 17:55] christothes opened #26260 "Sub-types of TokenCredentialOptions should clone base type properties consistently"
### Library name

Azure.Identity

### Please describe the feature.

Currently, when constructing sub-types of `TokenCredentialOptions` we don't always properly clone property values from an existing `TokenCredentialOptions`, when available.

We should be properly transferring these properties to the sub-options. However, rather than doing it explicitly in each credential, I think we should central

[2022-01-11 17:55] festivus opened #26261 "Token Expire Time"
The documentation says "The default value is 50% of the token expire time."

How do I find out what the token expire time is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 035209e3-59a8-c20e-b1df-757a5cb27516
* Version Independent ID: 5c239551-1b1e-e732-e364-289dffad73c0
* Content: [CosmosClientOptions.TokenCredential

[2022-01-11 17:58] jsquire commented on #22327
Thanks, @kasun04.   I'm going to mark this as addressed; @RoncoCo, please feel free to unresolve if you'd like to continue the discussion.

[2022-01-11 17:59] jsquire commented on #26259
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-11 18:12] antiphon0 commented on #26229
Just wanted to throw in - it looks like the code referenced in the portal when using the Confidential Ledger (AAD Users tab) is also referencing the Azure.Storage.ConfidentialLedger (and the code appears to be outdated, which might confuse a lot of people). I'm not sure if this is tied to a git page somewhere.

[2022-01-11 18:19] Mike-E-angelo commented on #26255
Hi @christothes thank you for your assistance.  In my troubleshooting of Azure App Services, I am publishing the same contents locally to a folder, where the exe is generated.  I then run the locally-published exe and encounter the error.  The resulting exception is extensive, and the aggregate sum of all the possible errors listed in the aforementioned document.  Again this goes away if I use the

[2022-01-11 18:38] christothes commented on #26255
The error in the exception seems to be explaining what is occurring here. Is the live.com account you are signing in with a member of the tenant containing the resource?

 ---> System.InvalidOperationException: TS003: Error, TS004: Unable to get access token.  'AADSTS50020: User account '{EmailHidden}' from identity provider 'live.com' does not exist in tenant 'Microsoft Services' and cannot acces

[2022-01-11 18:43] christothes commented on #26259
Hi @pallavichede  - Could you clarify what error exists in the docs you are referencing above? Or is this a feature request to add support for configuring the `EnvironmentCredential` based on thumbprint?

[2022-01-11 18:53] kinelski commented on #26233
Hello @castasint and thank you for the extra information. This is the expected behavior of the SDK. In our [Recognize Identity Documents sample](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/formrecognizer/Azure.AI.FormRecognizer/samples/V3.1/Sample11_RecognizeIdentityDocuments.md#recognize-identity-documents-from-a-uri), you can see that using `<field>.Value.AsString()` as you suggeste

[2022-01-11 19:10] jsquire opened #26263 "Text Analytics Client Library for .NET - March Milestone"
For general summary and goals, please see: [Language Pillar Commitments for Text Analytics 3.2 (July 2021-March 2022) [#3080]](https://github.com/Azure/azure-sdk/issues/3080).  The work items linked to this issue herein represent the tasks needed to produce the .NET Text Analytics client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource pl

[2022-01-11 19:14] jsquire opened #26264 "Form Recognizer Client Library for .NET - February Milestone"
For general summary and goals, please see: [Azure Form Recognizer Commitments (July 2021-March 2022) [#3067]](https://github.com/Azure/azure-sdk/issues/3067).  The work items linked to this issue herein represent the tasks needed to produce the .NET Form Recognizer client library for the current milestone.

# Design, Review, and Planning

- [ ] Create issues and perform resource planning for the n

[2022-01-11 19:17] jsquire opened #26265 "Event Hubs Client Library for .NET - March Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments (July 2021-March 2022) [#3078]](https://github.com/Azure/azure-sdk/issues/3078).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [ ] Create issues and perform resource planning for the next milest

[2022-01-11 19:19] Mike-E-angelo commented on #26255
It does indeed seem to explain what is wrong @christothes, but what is wrong does not match up with what I am seeing in the tenant.  I could of course be completely misunderstanding something here so your patience is appreciated while we figure this out.

When I look in my Azure Active Directory, I see my account with an `Identity Issuer` of `MicrosoftAccount`.  It has an UPN of `<email>.<suffix>#

[2022-01-11 19:21] jamesstanleystewart commented on #26182
Thanks all, @HarveyLink when will the next version release?

[2022-01-11 19:36] jsquire opened #26266 "Form Recognizer Client Library for .NET - March Milestone"
For general summary and goals, please see: [Azure Form Recognizer Commitments (July 2021-March 2022) [#3067]](https://github.com/Azure/azure-sdk/issues/3067).  The work items linked to this issue herein represent the tasks needed to produce the .NET Form Recognizer client library for the current milestone.

# Design, Review, and Planning

- [ ] Create issues and perform resource planning for the n

[2022-01-11 20:39] JaredShaver commented on #25360
Is this feature planned or would you be willing to accept a community contribution?

[2022-01-11 20:45] kasun04 commented on #10014
We are evaluating the feasibility of adding this feature to the management plane SDK. Will get back to you once we have an update.

[2022-01-11 21:43] christothes commented on #25360
There are currently no plans for it - the main reason being that this is tricky to implement cross platform. Given that it is fairly trivial to write the certificate loading code for Windows, we felt that the value add is minimal when weighed against the work to make it solid on MacOS and Linux.

[2022-01-11 22:02] kinelski commented on #24469
Closing this since https://github.com/azure/azure-sdk-for-net/issues/24469 already tracks the model factory work.

[2022-01-11 22:02] #24469 closed

[2022-01-11 22:19] jaschrep-msft commented on #26174
@dolenox Do you have a sample that can produce this failure case? Does it produce only one or the other? If not, can you produce HTTP logs of the failed request/response pairs, identifying which pairs result in which exception surfacing? (Please be careful to redact sensitive information in web traces)

`SendMessageAsync()` does very little aside from translating requests down to a code-generated

[2022-01-11 22:23] Kolky commented on #26210
Ok, too bad. I liked they way it looked in code. But I guess it was not very flexible as the new one which allows Linq e.d.

Tried the library @ArthurMa1978 suggested, that works! Thanks!

[2022-01-11 22:23] #26210 closed

[2022-01-11 23:31] dolenox commented on #26174
Ack, please give me some time and I will regenerate the http logs for this scenario

From: James ***@***.***>
Sent: Tuesday, January 11, 2022 2:19 PM
To: Azure/azure-sdk-for-net ***@***.***>
Cc: Doug Lenox ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-net] Queue SDK 12.8.0 Returns Multiple Error Patterns for Enqueue to Deleted Storage Account - AggregateException Inner Reque

[2022-01-12 00:43] jaschrep-msft commented on #15422
@pharring apologies for losing this feature request. We had intended to address this after refactoring the public transactional hashing API with https://github.com/Azure/azure-sdk-for-net/pull/23056, but that PR was met with delays. I will be investigating this as a feature request.

[2022-01-12 01:08] SaurabhSharma-MSFT commented on #26247
@iouri-s I have checked this and yes [ReceiveMessages](https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Azure.Storage.Queues/12.8.0/api/Azure.Storage.Queues/Azure.Storage.Queues.QueueClient.html#Azure_Storage_Queues_QueueClient_ReceiveMessage_System_Nullable_System_TimeSpan__System_Threading_CancellationToken_) does not have this property currently.

[2022-01-12 01:19] JoshLove-msft commented on #26257
Hi @spncrgr,
It looks like the deadletter path you are using is not specific to to each subscription, but you appear to be using topics. Can you confirm whether you are

Can you clarify whether you are reading from a queue or a topic subscription?

[2022-01-12 01:27] JoshLove-msft commented on #26257
Also, from looking at the logs, it looks like the message is sent successfully in both cases. When you say the message isn't posted to the topic, how are you determining this? Are you looking in the portal? If there are no active subscriptions for the topic when the message is sent, then the message won't be delivered anywhere.

[2022-01-12 03:32] seanmcc-msft commented on #26045
@itaibh, we could probably make the XML comment clearer, indicating that the container has been marked for deletion, and it can take up to 30 seconds for the container deletion to occur.

-Sean

[2022-01-12 05:05] cgillum commented on #25570
Correct, the Durable Functions settings are independent of the Storage extension settings. Durable Functions doesn't expose any setting to control the encoding - the encoding we use is an implementation detail of our storage provider that shouldn't impact your application.

[2022-01-12 05:16] ascott18 opened #26281 "[BUG] Read streams incorrectly refetch data for internal buffer, resulting in multiple redundant HTTP requests."
### Library name and version

Azure.Storage.Files.Shares 12.8.0

### Describe the bug

When opening a stream and feeding it into an API that will perform a few different reads of the stream, a new HTTP GET request is made for each read of the stream. Providing an explicit `bufferSize` parameter to `OpenReadAsync` has no effect.

### Expected behavior

I'd expect that only a single GET is performed

[2022-01-12 06:53] xboxeer opened #26285 "[Article] Manage Azure Data Lake Analytics using Python"
[Docs Link](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-manage-use-python-sdk)
[ADO Workitem link](https://dev.azure.com/docindex/azure-sdk/_workitems/edit/343732/)

This article describes how to use Python to manage Data Lake Analytics accounts, data sources, users, & jobs.

Azure resource, mgmt resource SDK (py t1)

Azure storage , mgmt files data lake sdk (py

[2022-01-12 08:08] MughundhanRaveendran-MSFT commented on #25613
@arunprakashn , Following up to check if you had a chance to try the suggestions mentioned in my previous comment. Please let me know.

[2022-01-12 11:21] dpmragu opened #26289 "AKV10032: Invalid issuer when we try to fetch key-vault information using DefaultCredential()"
### Library name and version

Azure.Identity 1.5.0 & Azure.Security.KeyVault.Secrets 4.20

### Query/Question

In the Azure portal, a user is added as a Guest in the Tenant where the key-vault resource resides. In addition, the user has associated with default account tenants.

As per the new Identity Framework, the  DefaultCredentials() is used to fetch the secret info from Azure Key-Vault. I got

[2022-01-12 12:57] fengzhou-msft commented on #26234
This could be related to https://github.com/Azure/azure-sdk-for-net/issues/25411 and a fix is in  progress.

[2022-01-12 13:40] jsquire commented on #26289
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-01-12 14:05] AhmedLeithy opened #26291 "[QnA Authoring] Activate tests for null argument validation once bug is fixed"
There is a bug in the LLC generator that causes certain validations to not be generated with the client. I have implemented a fix for this https://github.com/Azure/autorest.csharp/pull/1741 , but it is not yet included as part of the AutoRest.Csharp package.

Activate (Uncomment) tests for these validations when the bug fix has propagated. The tests can be [found here](https://github.com/Azure/azu

[2022-01-12 15:09] andyhammar opened #26292 "[BUG] Occasional UnauthorizedAccessException from AmqpServiceClient.GetRuntimeInformationAsync"
### Library name and version

Microsoft.Azure.EventHubs (via Functions extension v4)

### Describe the bug

Hi,

Since a few months back we're getting quite a lot, but not solely, exceptions in our function apps. (Started on November 7th, been running fine for a long time before that)
The functions are starting up and functioning, so probably a retry mechanism eventually succeeds - but what is thi

[2022-01-12 15:45] spncrgr commented on #26257
@JoshLove-msft Thanks for your replies. Here are the answers to your questions.

We're using topic subscriptions. To get the DLQ path for the subscription we're currently using the `Microsoft.Azure.ServiceBus.EntityNameHelper.FormatDeadLetterPath()` method, like this:
[code]
I just discovered the `ServiceBusReceiverOptions.SubQueue` property yesterday, so I'll switch to using that instead.

As for

[2022-01-12 17:21] christothes commented on #26289
Hi @dpmragu -
Can you confirm that the account you are logging into Visual Studio with is the correct account? Just in case it is helpful, the [troubleshooting guide ](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/troubleshooting.md#troubleshooting-visual-studio-authentication-issues)outlines how to confirm.

Also, does authenticate work as expected if you allow

[2022-01-12 17:23] ascott18 opened #26295 "[FEATURE REQ] Add methods to navigate upwards in a directory hierarchy."
### Library name

Azure.Storage.Files.Shares 12.8.0

### Please describe the feature.

`ShareDirectoryClient` has a method `GetSubdirectoryClient` that can be used to navigate downwards into a directory hierarchy.

However, there are no methods on either `ShareDirectoryClient` nor on `ShareFileClient` that can produce a `ShareDirectoryClient` representing the item's parent. Additionally, it is not

[2022-01-12 18:00] christothes commented on #26255
Could you validate by signing out and back in of Visual Studio using the steps outlined in this [troubleshooting guide](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/troubleshooting.md#troubleshooting-visual-studio-authentication-issues)?

[2022-01-12 18:01] jsquire commented on #23484
After discussing with Pavel, there's no currently supported way to influence arbitrary host configuration, such as the timeout for shutting down.   There would also be challenges around finding the right pattern to register the success and failure handlers for the producer.

We agreed that it would be better to start with samples of manually registering the buffered producer and configuring the en

[2022-01-12 18:18] christothes commented on #25458
Hi @dxynnez Sorry for the delay on this one. Things slow down significantly over the holidays.  This would most likely make it into the next release, which would be early Feb.

[2022-01-12 18:22] jsquire opened #26298 "Sample: Using the `EventHubBufferedProducerClient` with ASP.NET"
# Summary

A common usage scenario for publishing events is doing so from within an ASP.NET application.  A sample should be available demonstrating how to create and configure the `EventHubBufferedProducerClient` in an ASP.NET context.

# Scope of Work

- A stand-alone sample that demonstrates creating and configuring an `EventHubBufferedProducerClient` in an ASP.NET application, illustrating a r

[2022-01-12 18:26] christothes commented on #25458
One thing we need to consider though is if this would be a breaking change. I think it may be since we'd be changing the exception type being thrown so any existing code that handles this would potentially throw if we change it.

[2022-01-12 18:28] jsquire opened #26299 "Sample: Using the `EventProcessorClient` with an ASP.NET hosted service"
# Summary

A common usage scenario for processing events is doing so from within an ASP.NET application as a persistent host.  A sample should be available demonstrating how to create and configure the `EventProcessorClient` in an ASP.NET context as an `IHostedService` implementation.

# Scope of Work

- A stand-alone sample that demonstrates creating and configuring an `EventProcessorClient` in a

[2022-01-12 18:31] maorleger opened #26300 "Key Vault for .NET (March 2022)"

[2022-01-12 18:31] maorleger opened #26301 "Key Vault for .NET (April 2022)"

[2022-01-12 18:48] Mike-E-angelo commented on #26255
Thank you for the suggestion, @christothes.  Apologies if  I wasn't clear about this in my previous reply, but I did attempt a sign in/out already, along with clearing out the identity folder/cache and having it rebuild.  I am definitely open to any further suggestions so please let me know what other considerations there are in determining the issue here.

[2022-01-12 18:58] timpclip opened #26303 "[QUERY] How to access Subscriptions from multiple tenants"
### Library name and version

Azure.ResourceManager 1.0.0-beta.7

### Query/Question

I am an Azure user with access to multiple tenants.  My primary tenant is my organization and I was invited into another tenant.  In Azure portal I can toggle between tenants by using the Switch Directory feature.
When I use DefaultAzureCredential to create the ArmClient I'm seeing this behavior:
calling armClien

[2022-01-12 18:59] azure-sdk commented on #26303
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.3610366,Azure.Identity:0.24901916,KeyVault:0.029521642'

[2022-01-12 19:09] jsquire commented on #26303
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-12 19:34] SatishBoddu-MSFT commented on #26256
Thank you @Shivam60 ,We are checking on this error if this is intermittent or not, we will keep you posted.

[2022-01-12 19:44] christothes commented on #26255
Sorry for that - I thought you were looking to confirm which account was actually being used.

Does this work if you are using an AAD account from the tenant where the resource is located?

[2022-01-12 20:12] dereklegenzoff commented on #26197
Awesome, glad you were able to find a workaround!

[2022-01-12 20:45] amishra-dev commented on #26281
@jaschrep-msft can you please help here.
Hi @ascott18 Andrew,
The earlier versions of storage sdk were stateful and would cache a lot of state and data. The current one is not, this enables a easier programming model and better concurrency but will not cache the data for you. Having said that, once James get a chance to look at it, we will let you know if you are missing a knob (different api) or

[2022-01-12 20:57] JaredShaver commented on #25360
It is actually not trivial because the AzureKeyVaultConfigBuilder does not have an extension point that allows the user to override the credential.  It is hard coded to use DefaultAzureCredential().  How does a user use AzureKeyVaultConfigBuilder with a certificate from the Windows certificate store?

[2022-01-12 21:13] Mike-E-angelo commented on #26255
No worries @christothes there are clearly a lot of moving pieces here. 😁  When you say AAD account, are you saying a new one created specifically in the Azure Active Directory?  To be sure the account that I am using is an AAD account and exists in my Azure Active Directory, with the UPN described above.  I could possibly try creating a new account and trying that if that is what you mean?

[2022-01-12 21:18] ascott18 commented on #26281
It looks to me like the logic in LazyLoadingReadOnlyStream.Seek is incorrect.

The predicate in [this conditional](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/storage/Azure.Storage.Common/src/Shared/LazyLoadingReadOnlyStream.cs#L390-L395) should be `newPosition < _position && newPosition >= beginningOfBuffer`.

Right now, if seeking to the start of the stream when the whole file is bu

[2022-01-12 21:37] ascott18 commented on #26281
I was going to PR this, but there may be something else as well. Debugging through the Seek method and tweaking some local variables to get past the condition didn't make the redundant HTTP requests go away.

I suspect there's a similar off-by-1 error in some other code.

[2022-01-12 22:02] #24663 closed

[2022-01-12 22:03] christothes commented on #26255
Correct - a native AAD account rather than a guested one.

[2022-01-12 22:10] kinelski commented on #25358
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/26239.

[2022-01-12 22:10] #25358 closed

[2022-01-12 22:21] Mike-E-angelo commented on #26255
OK @christothes, thank you for the confirmation.

I created a basic user in my directory and as a result I now have two accounts in the `Tools --> Options --> Azure Service Authentication` control, and can set identity between the previous `MicrosoftAccount` and the new directory account.  When using the `MicrosoftAccount` I get the error as reported here, but when using the new directory account

[2022-01-12 22:41] SatishBoddu-MSFT commented on #26256
As per the offline conversation the below error looks like related to access issue.

_**Error: Azure.RequestFailedException: Forbidden RequestId: Time:2022-01-12T19:00:05.1483054Z Status: 403 (Forbidden) ErrorCode: CannotVerifyCopySource**_

I was able to reproduce the issue due to public access not being enabled on the source container.

[2022-01-12T19:42:26.131Z] Executed 'Function1' (Failed, Id

[2022-01-12 22:53] #24277 closed

[2022-01-12 22:54] #22829 closed

[2022-01-12 22:54] #22830 closed

[2022-01-12 22:55] pakrym commented on #16375
Now it's done.

[2022-01-12 22:55] #16375 closed

[2022-01-12 22:56] pakrym commented on #14142
We have a ctor that takes `Response` now.

[2022-01-12 22:56] #14142 closed

[2022-01-12 22:58] pakrym commented on #17504
Hasn't been failing for a while

[2022-01-12 23:12] pakrym opened #26311 "[FEATURE REQ] Retry playback test timeouts once"
### Library name

Azure.Core.TestFramework

### Please describe the feature.

Sometimes a test will get unlucky and timeout. There is nothing we can do to "fix" it. So to reduce the flakiness we should retry the timeout once.

/cc @JoshLove-msft @christothes

[2022-01-12 23:31] christothes commented on #25360
If you are using `Azure.Extensions.AspNetCore.Configuration.Secrets` there is an example here: https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-6.0

[2022-01-13 00:32] juliusl opened #26313 "Documentation is misleading for ResourceGroupCollection.GetAllAsync's filter parameter"
In the doc comments it shows:

https://github.com/Azure/azure-sdk-for-net/blob/1ea640a1ccda6aae3d42fde7b7bb2589621363f9/sdk/resourcemanager/Azure.ResourceManager/src/Resources/PseudoGenerated/ResourceGroupCollection.cs#L284

`use $filter=tagName eq &apos;tag1&apos; and tagValue eq &apos;Value1&apos`

However, the usage should actually be:

`tagName eq 'tagname' and tagValue eq 'value'`

We found t

[2022-01-13 01:37] kinelski opened #26318 "[FormRecognizer] Implement 2022-01-30-preview features"
## Additions

Names are not final:
- [x] Regenerate code from the new swagger ([located here](https://github.com/Azure/azure-rest-api-specs-pr/pull/5832/files)).
- [x] Add the `DocumentBuildMode` extensible enum.
  - [x] Add the `BuildMode` properties to `BuildDocumentModelRequest` and `DocTypeInfo`.
- [x] Add the new `CurrencyValue` type (should it be modeled as a struct or as a class?).
  - [x]

[2022-01-13 01:51] dpmragu commented on #26289
Hi @christothes -  I followed the troubleshooting guide but got the same error. Here are the few steps that I have done

1. Tools > Options > logout and login again with the same account
2.  Navigate to the Visual studio profile icon > Remove all the accounts under "All Accounts" and add again.
3. Deleted the folder from the path %AppData%/Local/.identityService and restarted the VS and login with

[2022-01-13 01:55] xtianus79 opened #26321 "[BUG] 401 Access denied due to invalid subscription key or wrong API endpoint: thinking AnalyzeConversation is affecting it"
### Library name and version

Azure.Cognitive.Language SDK

### Describe the bug

When trying to set Azure credentials for cognitive language NLU service the sdk doesn't work per the instructions for setting up the credentials.

here is the error message

[code]

Here is the code

[code]

### Expected behavior

For it to work. Documentation to be more accurate

### Actual behavior

401

### Reprod

[2022-01-13 05:52] davidobrien1985 commented on #26226
@ArthurMa1978 I might be dumb. Currently we can do something like

[code]

where `azure` is of type `Microsoft.Azure.Management.Fluent.IAzure`.
I tried finding a way to list all the SQL Servers in our Subscription to then access the MinimalTlsVersion, but couldn't find a way to do it.
Any chance you have an example?

[2022-01-13 05:55] Swing0601 commented on #12657
I got the same error message, and looked into the source code, finally figured it out. Hope it will be helpful.

here is the source code, there is condition whether get the connection with Identity or Shared Access
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Microsoft.Azure.WebJobs.Extensions.EventHubs/src/Config/EventHubClientFactory.cs
![image](https://user-images.githubuse

[2022-01-13 07:59] MughundhanRaveendran-MSFT commented on #25745
@gabidabet , following up to check if the above answer was helpful or not, please let me know

[2022-01-13 09:26] YuriyMS commented on #25868
Hi @SaurabhSharma-MSFT and @amishra-dev
We currently experience the same issue. Ticket "Re: Slow response from azure blob storage up to... - TrackingID#2201120010003223"
Any suggestion how to address it?
![image](https://user-images.githubusercontent.com/97552677/149302437-04019ec8-fcc6-4d5b-a126-a89323b6e0ae.png)

YuriyPolishchuk-MSFT
Thanks.

[2022-01-13 09:48] marktayl1 opened #26325 "Purview dotnet client: Wrong Uri: Doc bug with bad params: Doc bug with undocumented param"
### Library name and version

"Azure.Analytics.Purview.Catalog" Version="1.0.0-beta.2"

### Describe the bug

Tried the example here : https://docs.microsoft.com/en-us/dotnet/api/overview/azure/analytics.purview.catalog-readme-pre
- The Url parameter should be Uri
- The GetAllTypeDefinitionsAsync call takes a new param called Azure.RequestOptions that seems to be an undocumented type
- The call fa

[2022-01-13 09:48] azure-sdk commented on #26325
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.27800396,Data Lake Storage Gen2:0.062368814,Cognitive Services:0.04022919'

[2022-01-13 10:15] DannyvanderKraan opened #26326 "IndexOutOfRangeException in Azure.Data.Tables 12.3"
We upgraded Azure.Data.Tables from 12.2.1 to 12.3 and we got an issue running it with CosmosDb (Table API) Emulator. A CosmosDb instance on Azure works fine. The stacktrace we got:

_Message: 
System.IndexOutOfRangeException : Index was outside the bounds of the array.

Stack Trace: 
TableConnectionString.GetAccountNameFromUri(Uri uri)
TableUriBuilder.ctor(Uri uri)
TableServiceClient.ctor(String c

[2022-01-13 10:17] andhallberg opened #26327 "[BUG] Warnings on func.exe startup and elsewhere on non-success Azure Blob Storage responses."
### Library name and version

Microsoft.Azure.WebJobs.Extensions.EventHubs (5.0.0)

### Describe the bug

When creating a vanilla Azure Function application with a reference to `Microsoft.Azure.WebJobs.Extensions.EventHubs.5.0.0`, three warnings about `ContainerAlreadyExists/BlobNotFound` are reported on startup.

It seems a warning logging has been added somewhere when Azure Blob Storage return a

[2022-01-13 13:05] JaredShaver commented on #25360
We are using https://github.com/aspnet/MicrosoftConfigurationBuilders because it is .NET Framework applications, not .NET Core/5/6.  If there was a way to provide an environment variable that gave a user provided class that was derived from TokenCredential and use that so end users can provide their own logic for looking up certificates, that would be a platform independent option.

[2022-01-13 13:27] jsquire commented on #26313
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-13 13:30] jsquire commented on #26321
//cc: @heaths

[2022-01-13 13:50] jsquire commented on #26327
Hi @andhallberg.  Thank you for reaching out and we regret that you're experiencing difficulties.  The warnings that you're seeing are, unfortunately, expected.  Because the service responses for those operations are using HTTP status codes in the 4xx range, they're treated as errors by the Azure SDK diagnostics, despite being expected and treated as normal code paths by the client library.   This

[2022-01-13 14:16] AhmedLeithy commented on #26321
Hey @xtianus79, thanks for your feedback. I would be glad to enhance the documentation to be easier to use, but I'm having trouble understanding what the current issue is.

The error message states that API Endpoint or the subscription key is invalid. Were you able to find the endpoint and key for your language resource using either [the portal](https://portal.azure.com/) or Azure CLI? It looks li

[2022-01-13 14:36] jsquire commented on #26321
Hi @xtianus79.  Thank you for reaching out and we regret that you're experiencing difficulties.   In your snippet, you mention that you're creating the `AzureKeyCredential` using this pattern:

[code]

I would not expect the key to have curly braces, based on the pattern of keys normally generated by the Cognitive Services offerings, and should look similar to:

[code]

Would you be so kind as to

[2022-01-13 14:45] mobenn commented on #9283
Any news about Mocking BlobServiceClient?
Thanks

[2022-01-13 16:04] andyhammar commented on #26292
Adding more info to this, we have 4 environments - and it's only one of them that has this shown this Exception - very weird.
Any insight on what's throwing this exception would be great, and if it's been seen in Azure Functions with binding triggers before.

[2022-01-13 16:12] christothes commented on #26326
Thanks for reporting this issue. This will be fixed in the next release, however in the meantime you can work around this by adding "localhost" to the end of TableEndpoint.

[2022-01-13 17:01] boylec opened #26331 "What does "for the current environment" mean"
This method creates a cookie with properties that have no setters.

The comment about CreateNew says it creates a cookie "for the current environment". The meaning of this is non-obvious.

The Append method's comment states: "To create a cookie, you can use the Microsoft.Azure.Functions.Worker.Http.HttpCookies.CreateNew method." This appears to be false because creating a cookie using this method

[2022-01-13 17:01] azure-sdk commented on #26331
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Functions:0.15431267,Managed Identity:0.06788853,Docs:0.04231583'

[2022-01-13 17:58] jsquire commented on #26331
This issue has been transferred to the repository where the `Microsoft.Azure.Functions.Worker` package is maintained as [#775](https://github.com/Azure/azure-functions-dotnet-worker/issues/775).

[2022-01-13 17:58] #26331 closed

[2022-01-13 18:00] SaurabhSharma-MSFT commented on #26295
@ascott18 This looks like a feature request so redirecting this to respective team.

[2022-01-13 18:15] #26326 closed

[2022-01-13 19:25] ascott18 commented on #10529
@danielmackay I ended up with the same "Issuer does not match" error. I came across this issue via Google search for that error message. I was able to solve this by specifying the tenantId to the options of DefaultAzureCredential:

[code]

There are similar options for TenantId for other auth mechanisms. Unfortunately, there's no overarching generic TenantId option, so it must be specified for eac

[2022-01-13 20:09] dolenox commented on #26174
I have a consistent repro with this console app:

static void Main(string[] args)
{
    string connectionString = "TODO";
    var serviceClient = new QueueServiceClient(
        connectionString,
        new QueueClientOptions());
    var queue = (serviceClient.CreateQueue("somequeue")).Value;
    queue.CreateIfNotExists();
    for (int i = 0; i < 100; i++)
    {
        try
        {

[2022-01-13 20:57] AhmedLeithy opened #26334 "[LLC/Data Plane Client] Tests slow down in playback mode beyond timeout limit"
Hey all,
The tests with issues are
@christothes, @pakrym, @heaths have worked with me on debugging this issue. Our findings are as follows:

- The [following test](https://github.com/AhmedLeithy/azure-sdk-for-net/blob/c68c6fa530e71d93ee56858e82685f4009bc5ce7/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/tests/QuestionAnsweringProjectsClientLiveTests.cs#L134) is severely slowed down if

[2022-01-13 21:16] ascott18 commented on #26295
@SaurabhSharma-MSFT yes, I filed it with the "Feature request" template. Perhaps the tags for that template are wrong (that it put "question" on it).

[2022-01-13 21:21] microsoftruisu commented on #26240
friendly ping, any updates

[2022-01-13 21:33] jaschrep-msft commented on #26281
I can investigate the seek logic. Renaming this issue to reflect that this method does buffer and appears to incorrectly determine when it needs to refetch data for that buffer.

[2022-01-13 23:48] annelo-msft opened #26345 "Consolidate smoke tests and best practices with DPG partner tools"
### Summary

As part of the DPG effort, we are providing tools and guidance to our service team partners:
- To enable them to create a new SDK in the repo for their service, that builds and passes CIs in 10 minutes
- That has all the information they need to follow Azure SDK best practices to create tests, samples, and other customer-facing documents in a matter of days

In order for our partners

[2022-01-14 04:02] #25612 closed

[2022-01-14 07:43] v-yilinhu opened #26352 "[Translation] GetTranslationStatusesFilterByCreatedAfterTest failing in nightly runs"
Translation nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1293666&view=results

@jsquire for notification.

[2022-01-14 07:43] v-yilinhu opened #26353 "[FormRecognizer] StartCreateComposedModel(True) failing intermittently in nightly runs"
FormRecognizer nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1295630&view=results

@jsquire for notification.

[2022-01-14 07:43] v-yilinhu opened #26354 "[Identity] Sparse checkout repositories failing intermittently in nightly runs"
Identity nightly test runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1295826&view=results

@jsquire for notification.

[2022-01-14 07:43] azure-sdk commented on #26352
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Front Door:0.23510368,Service Bus:0.19681612,Cognitive - Translator:0.10339473'

[2022-01-14 07:43] azure-sdk commented on #26353
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.5184324,Cognitive - Form Recognizer:0.19652098,Azure.Identity:0.11714499'

[2022-01-14 07:43] azure-sdk commented on #26354
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.1938082,Service Bus:0.08497025,Event Hubs:0.041995846'

[2022-01-14 07:54] danielmackay commented on #10529
Good to know we can lock in the tenant that way. Thanks for the info!

On Fri, 14 Jan 2022, 5:26 am Andrew Scott, ***@***.***> wrote:

[2022-01-14 10:55] xbaha commented on #10017
hi, i am getting this error on the new Azure.Messaging.ServiceBus:

System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() in /_/src/libraries/System.Private.CoreLib/src/System/Runtime/ExceptionServices/ExceptionDispatchInfo.cs:line 56\r\n
at Azure.Messaging.ServiceBus.Amqp.AmqpConnectionScope.<CreateReceivingLinkAsync>d__74.MoveNext() in /_/sdk/servicebus/Azure.Messaging.ServiceBus/src/Am

[2022-01-14 10:58] xbaha commented on #10017
@ramya-rao-a My application stops, and this error usually happens when I put a breakpoint somewhere in my app, then continue. It's still unclear to me on what conditions this error pops up, but it's there and happened multiple times already.

[2022-01-14 11:03] hyoshioka0128 commented on #23429
/unresolve
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.linuxpatchsettings?view=azure-dotnet
![](https://user-images.githubusercontent.com/40815708/130177234-f96986b4-6599-43d9-8124-d84cd2354377.png)

[2022-01-14 11:05] hyoshioka0128 commented on #23430
/unresolve
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.sql.models.recommendedactionstateinfo?view=azure-dotnet
![](https://user-images.githubusercontent.com/40815708/130177347-db37e061-3a5d-4933-8357-27b40934ae5b.png)

[2022-01-14 11:07] hyoshioka0128 commented on #23428
/unresolve
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.search.models.synonymtokenfilter?view=azure-dotnet
![](https://user-images.githubusercontent.com/40815708/130177058-bbaa232a-e4de-4aba-b9db-89387bdf1509.png)

[2022-01-14 11:08] hyoshioka0128 commented on #23431
/unresolve
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.sql.models.recommendedactionstateinfo.currentvalue?view=azure-dotnet
![](https://user-images.githubusercontent.com/40815708/130177552-d873ae09-c6c2-43e2-bee9-ceef5c230c94.png)

[2022-01-14 13:12] PramodValavala-MSFT commented on #26046
@tkachuk2222 Just following up here... Hope my previous comment helps

[2022-01-14 13:42] jsquire commented on #26353
@v-xuto:  Please assign items that you would normally assign to Mariana to me for the time being.

[2022-01-14 14:22] #26046 closed

[2022-01-14 15:26] christothes commented on #26334
I think more likely that this is a problem with how we proxy Operations. We currently transform the return value by instrumenting the returned operation. However, in the case of `waitForCompletion: true`, the operation is waited prior to it being returned by the method.

I think we should explore a different approach to how we instrument operations to handle this case.

[2022-01-14 16:48] tegrit-joe-trupiano commented on #25360
Second your comment! @JaredShaver
Just found this issue and would very much like a way to allow the use of certificate for the .NET framework.

[2022-01-14 16:57] christothes commented on #25360
Could you describe how such an environment variable would work? Why not just initialize your custom class in your app startup and have it place the certificate in a well known path which is set on the AZURE_CLIENT_CERTIFICATE_PATH environment variable?

[2022-01-14 17:06] pakrym commented on #25342
https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Tables/1.0.0-beta.1

[2022-01-14 19:30] heaths commented on #26334
Agreed. Perhaps there is something deeper down the stack we can do that would work for both this new LLC `waitForCompletion` pattern as well as existing `Operation`/`Operation<T>` classes.

[2022-01-14 19:31] ssa3512 opened #26363 "[BUG] Explicit ITableEntity implementation does not work"
### Library name and version

Azure.Data.Tables 12.4.0

### Describe the bug

I have a model that implements ITableEntity as such:
[code]

When I query items from the table, Category/PartitionKey and Name/RowKey are null, despite being populated in the table. Using auto properties for PartitionKey/RowKey works, but I do not want to expose these as named on the model (hence the explicit interface i

[2022-01-14 19:35] heaths opened #26364 "Add Immutable property"
Now with https://github.com/Azure/azure-rest-api-specs/pull/17270 merged, be sure to add the `Immutable` property where needed.

[2022-01-14 19:37] ramya-rao-a commented on #10017
@xbaha, Please open a new GitHub issue for the problems you are seeing along with a code snippet showing how you are using the Service Bus package and the version of the package being used

[2022-01-14 19:51] jsquire commented on #26363
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-14 19:53] jsquire commented on #26364
Stop confusing the bot, @heaths!

[2022-01-14 20:03] christothes commented on #26334
I haven't investigated the feasibility of this yet - but one idea I had was to somehow instrument all constructors of types based on Operation<T>

[2022-01-14 20:18] JoshLove-msft opened #26367 "Make CloudEvent derive from MessageWithMetadata"
This will allow CloudEvent to be used with Avro Schema Registry Encoder.

[2022-01-14 20:23] jaschrep-msft commented on #26174
@dolenox Thanks for the repro code! I'll investigate this.

[2022-01-14 20:55] ngcdev opened #26368 "GetWindowsVersionStringInternal Object reference not set to an instance of an object"
Hello,

I was following the instructions here https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/README.md to use Azure Key Vault in my program, particularly using the "Service Principal with Secret". I got everything setup (registered the app, got a secret, granted access in key vault to the app, setup the environment variables), but when I run my code:
[code]
I get

[2022-01-14 21:06] jsquire commented on #26368
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-14 21:20] christothes commented on #26368
Hi @ngcdev
What versions of `Azure.Identity` and `Azure.Security.KeyVault.Secrets` are you using? Does it reproduce with the latest versions if you are not already using them?

[2022-01-14 21:57] lmazuel opened #26373 "Support for Partner Channel Name"

[2022-01-14 21:57] lmazuel opened #26374 "Support for Partner Channel Name"

[2022-01-14 21:57] lmazuel opened #26375 "Support for Partner Channel Name"

[2022-01-14 21:57] lmazuel opened #26376 "Support for Partner Channel Name"

[2022-01-14 21:58] #26373 closed

[2022-01-14 21:58] #26374 closed

[2022-01-14 21:58] #26375 closed

[2022-01-14 22:12] heaths commented on #26364
But, but...that's the only defense we have left!

[2022-01-14 22:18] heaths opened #26377 "Conversation Analysis for .NET (February 2022)"

[2022-01-14 22:18] azure-sdk commented on #26377
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'IoT:0.07437525,Cognitive - Text Analytics:0.057791986,Storage:0.03947495'

[2022-01-14 22:18] heaths opened #26378 "Question Answering for .NET (February 2022)"

[2022-01-14 22:18] azure-sdk commented on #26378
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.26219416,IoT:0.06624058,Cognitive - Form Recognizer:0.018620584'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Client:0.5896776,Mgmt:0.39632162,Service:0.009266768'

[2022-01-14 22:20] heaths opened #26379 "Re-enable AnalyzeConversationWithLanguage tests when language vs. locale issue is resolves"
The functional and sample tests named `AnalyzeConversationWithLanguage` and `AnalyzeConversationWithLanguageAsync` stopped working live with a rather vague 400 BadRequest. After some experimentation I found that BCP-47 language identifiers like "es" no longer work and a full locale identifier like "es-ES" is required. This is an unexpected changes and I want to clarify with the service team this i

[2022-01-15 00:12] SaurabhSharma-MSFT commented on #26325
@marktayl1 I have checked this, and I see the same behavior.  I am checking internally and get back to you.

[2022-01-15 01:49] xbaha opened #26380 "SocketException: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond."
### Library name and version

Azure.Messaging.ServiceBus 7.4.0

### Describe the bug

Sometimes if my connection goes off, i receive this error.I

Output:
Exception thrown: 'System.Net.Sockets.SocketException' in Microsoft.Azure.Amqp.dll
Exception thrown: 'System.Net.Sockets.SocketException' in System.Private.CoreLib.dll
Exception thrown: 'System.IO.IOException' in System.Net.Security.dll
Exceptio

[2022-01-15 02:05] davidjenkins opened #26381 "[BUG] Passing BinaryData to BlobClient.UploadAsync() results in NullReferenceException when also using ClientSideEncryptionOptions"
### Library name and version

Azure.Storage.Blobs 12.10.0.0

### Describe the bug

**FAILS:** Uploading with string content wrapped in BinaryData.

[code]

**Stack trace:**
[code]

**WORKAROUND:** Convert BinaryData to Stream.

[code]

**OTHER:** When not using ClientSideEncryptionOptions this issue does not occur.

### Expected behavior

Result of passing BinaryData is equal to result of passing

[2022-01-15 06:45] #17934 closed

[2022-01-15 13:23] firephantomassasin commented on #8561
+1! Please develop this feature for azure service bus SDK C# library as well. We badly need this for health monitoring like alerting us if the connection is not connected (due to failed internet connection)

[2022-01-15 18:43] jsquire commented on #26380
Hi @xbaha.   Thank you for reaching out and we regret that you're experiencing difficulties.   From the `Output` section, it seems that your network issues are manifesting in either a `SocketException` or `IOException` - both of which would be retried according to the retry options that you've set.   If your code is observing these exceptions, that would indicate that all of the configured retries

[2022-01-15 20:19] Shishkovskiy commented on #17940
@lmolkova Hi there, any updates ? 🙂

[2022-01-16 04:14] #25600 closed

[2022-01-16 04:16] #24233 closed

[2022-01-16 05:29] ArthurMa1978 opened #26385 "Release Azure.ResourceManager.ExtendedLocations"

[2022-01-16 05:31] ArthurMa1978 opened #26386 "Release Azure.ResourceManager.StoragePool"

[2022-01-16 05:53] ArthurMa1978 opened #26387 "Release stable version Track 2 .Net Management SDKs"
- [x] Azure.ResourceManager
- [x] Azure.ResourceManager.Resources
- [ ] Azure.ResrouceManager.KeyVault
- [ ] Azure.ResrouceManager.Compute
- [ ] Azure.ResrouceManager.Network
- [ ] Azure.ResrouceManager.Cdn
- [ ] Azure.ResrouceManager.Sql
- [ ] Azure.ResrouceManager.CosmosDB
- [ ] Azure.ResrouceManager.EventHubs
- [ ] Azure.ResrouceManager.ServiceBus
- [ ] Azure.ResrouceManager.Monitor
- [ ] Azure

[2022-01-16 06:05] ArthurMa1978 opened #26388 "Release stable version Azure.ResourceManager SDK"

[2022-01-16 06:06] ArthurMa1978 opened #26389 "Release stable version Azure.ResourceManager.Resources SDK"

[2022-01-16 06:07] ArthurMa1978 opened #26390 "Release stable version Azure.ResourceManager.KeyVault SDK"

[2022-01-16 06:09] ArthurMa1978 opened #26391 "Release stable version Azure.ResourceManager.Compute SDK"

[2022-01-16 06:11] ArthurMa1978 opened #26392 "Release stable version Azure.ResourceManager.Network SDK"

[2022-01-16 06:12] ArthurMa1978 opened #26393 "Release stable version Azure.ResourceManager.Cdn SDK"

[2022-01-16 06:13] ArthurMa1978 opened #26394 "Release stable version Azure.ResourceManager.Sql SDK"

[2022-01-16 06:14] ArthurMa1978 opened #26395 "Release stable version Azure.ResourceManager.CosmosDB SDK"

[2022-01-16 06:15] ArthurMa1978 opened #26396 "Release stable version Azure.ResourceManager.EventHubs SDK"

[2022-01-16 06:16] ArthurMa1978 opened #26397 "Release stable version Azure.ResourceManager.ServiceBus SDK"

[2022-01-16 06:18] ArthurMa1978 opened #26398 "Release Azure.ResourceManager.AppConfiguration"

[2022-01-16 06:18] ArthurMa1978 opened #26399 "Release stable version Azure.ResourceManager.Communication SDK"

[2022-01-16 06:26] ArthurMa1978 opened #26400 "Release stable version Azure.ResourceManager.WebPubSub SDK"

[2022-01-16 06:47] ArthurMa1978 commented on #24246
Need service team to provide the list of acceptable values for the `forceUpdateTag` property.

[2022-01-16 06:57] ArthurMa1978 commented on #24383
Reference doc, will contact docs team

[2022-01-16 07:10] ArthurMa1978 commented on #24435
@MauRiEEZZZ will check with service team if the sdk can upgrade to 2021-04-01 or wait for the new version

[2022-01-16 07:29] ArthurMa1978 commented on #24641
it has been fixed by docs team

[2022-01-16 07:29] #24641 closed

[2022-01-16 07:32] ArthurMa1978 commented on #24735
The reference doc is autogenerated , will check docs team if they can improve it

[2022-01-16 07:45] ArthurMa1978 commented on #24754
@archerzz  please help to check this issue

[2022-01-16 07:48] ArthurMa1978 commented on #24756
@diwudd here is the new track 2 sdk for resource manager https://www.nuget.org/packages/Azure.ResourceManager/, and will have the stable release soon, you can try this lib instead of old management sdk

[2022-01-16 08:29] ArthurMa1978 commented on #24887
@GoMADAO This is a common pattern in mgmt. sdk, the `InstanceIDs` is unassignable that the SDK will initialize it with a built-in List type, and the fact of no-setter could ensure you cannot change the list to another instance. And the usage is add element to it, you can check out more information here: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/object-and

[2022-01-16 09:10] ArthurMa1978 commented on #24905
Will contact docs team

[2022-01-16 09:14] ArthurMa1978 commented on #24937
Microsoft.Azure.Management.* is track 1 that not support Azure.Identity, and only the new Azure.ResourceManager.* track 2 support.
To Synapse, we will upgrade it to track 2 soon

[2022-01-16 09:18] ArthurMa1978 commented on #25018
@fengzhou-msft  please make sure we need to exclude private region in GA

[2022-01-16 09:31] ArthurMa1978 commented on #25344
@dingmeng-xue please help to check this issue

[2022-01-16 09:39] ArthurMa1978 commented on #25582
@jbaumbach thank you for reaching us, we're continues on improving the dev-exp which include the docs, and yes sill not good, sorry.
To your specific ask, we will work out a sample for it.

[2022-01-16 09:51] ArthurMa1978 commented on #26013
@thebernardlim , this is a common pattern in mgmt. sdk, the `RunCommandInputParameter` is unassignable that the SDK will initialize this property with a built-in List type, and the fact of no-setter could ensure you cannot change the list to another instance. And the usage is add element to it, you can check out more information here: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guid

[2022-01-16 09:55] #26032 closed

[2022-01-16 09:57] ArthurMa1978 commented on #26059
@fengzhou-msft  please help on it

[2022-01-16 10:01] ArthurMa1978 commented on #26125
Will check with docs team as this is a reference doc which auto-generated from lib

[2022-01-16 10:03] ArthurMa1978 commented on #26178
@jamesstanleystewart  this lib will be deprecated soon, but we will check it in new release

[2022-01-16 10:05] ArthurMa1978 commented on #26254
Thanks @asleire for reporting this issue, this lib will be deprecated soon, but we will check it in new release

[2022-01-16 10:07] ArthurMa1978 commented on #26313
Thanks @juliusl for reporting this issue, @fengzhou-msft  please check if it's still existing in the new code

[2022-01-16 10:33] asleire commented on #26254
Will a new library replace this one? As I understand from the readme file, libraries starting with `Azure.ResourceManager` are already the "new" management libraries

[2022-01-16 12:16] AhmedLeithy opened #26401 "[QuestionAnsweringAuthoring] Re-enable tests for deployment methods"
Since there are pending conversations on the fixing of the deployment methods in the question answering authoring SDK, I have temporarily disabled those tests so we can merge [this PR](https://github.com/Azure/azure-sdk-for-net/pull/25409).

We need to re-enable those tests once the issue is resolved.

[2022-01-16 22:31] jkmbowachas commented on #17284
Avro serializer is still very slow I'm running a simple integration test where deserializing takes 12 seconds.

[2022-01-16 22:56] StannieV opened #26402 "[FEATURE REQ] Please add method RenewMessageLockAsync to ServiceBusMessageActions"
### Library name

Microsoft.Azure.WebJobs.Extensions.ServiceBus

### Please describe the feature.

Greetings,

I'm looking into the code to switch my application from 'Microsoft.Azure.ServiceBus' to 'Azure.Messaging.ServiceBus' by updating the package 'Microsoft.Azure.WebJobs.Extensions.ServiceBus' to version 5.2.0.

In my Azure functions, we use the 'MessageReceiver' from the binding and use the

[2022-01-17 01:23] weidongxu-microsoft commented on #24385
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk/october-2020-management

[2022-01-17 01:23] weidongxu-microsoft commented on #25248
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk/october-2020-management

[2022-01-17 01:33] weidongxu-microsoft commented on #24385
Local test is good

[code]

[2022-01-17 02:16] v-xuto commented on #26353
@jsquire Got it.

[2022-01-17 02:33] JoshLove-msft commented on #17284
Hi @jkmbowachas,
Can you let us know what version you are using?

@LarryF813,
The version that you were using did not have caching of schema Ids, so each serialize call would need to talk to the service to look up the schema ID. The current [beta](https://www.nuget.org/packages/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/1.0.0-beta.5), has caching along with some fundamental changes to the API.

[2022-01-17 02:37] JoshLove-msft commented on #26402
Hi @StannieV,
Does your function receive a single message at a time? If so, can you use the maxAutoLockRenewalDuration setting - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#additional-settings-for-version-5x

[2022-01-17 03:17] ArthurMa1978 commented on #24922
https://github.com/Azure/azure-sdk-for-net/pull/25986

[2022-01-17 03:17] #24922 closed

[2022-01-17 03:26] ArcturusZhang commented on #26254
Hi @asleire the new version is WIP here if you are interested: https://github.com/Azure/azure-sdk-for-net/pull/26023

And in the new generated library, I also did not see the categoryGroup in DiagnosticSettings model.

I believe the root cause of this is that it is not defined in the swagger we are using to generate this package: https://github.com/Azure/azure-rest-api-specs/blob/e7f37ea54a638425c

[2022-01-17 03:41] ArthurMa1978 commented on #24830
169 open issues (include mgmt. and llc)
33 service issues closed

[2022-01-17 03:41] #24830 closed

[2022-01-17 03:56] ArcturusZhang commented on #26178
HI @jamesstanleystewart sorry for the inconvenience, but the SDK you are using was made from an old api-version of monitor. In that api-version, the AnyOfOrLeafCondition was not yet supported therefore you cannot set it.

We are making a new version of monitor RP in this PR, along with the API redesign, we also update the api-version we are using, therefore the AnyOf will be supported there. Check

[2022-01-17 05:17] PramodValavala-MSFT commented on #26381
@davidjenkins I believe this has been fixed here - #26019

In the meantime, you can use the workaround mentioned in [this comment](https://github.com/Azure/azure-sdk-for-net/issues/26012#issuecomment-998220270).

@jaschrep-msft Could you share insights on when the next release of the SDK will be?

[2022-01-17 05:20] PramodValavala-MSFT commented on #25570
@dxynnez Just following up here... Hope this clears things up

[2022-01-17 05:58] MughundhanRaveendran-MSFT commented on #25613
@arunprakashn , I am closing this issue. Feel free to reopen if required

[2022-01-17 05:58] #25613 closed

[2022-01-17 07:00] dxynnez commented on #25570
Sorry for the delayed response! Yes it does! Thanks for the help!

[2022-01-17 07:11] #25570 closed

[2022-01-17 07:31] weidongxu-microsoft commented on #25248
Also we do not explicit support combine use of new Azure.Identity with old Fluent SDK.

Please do use the new SDK here https://aka.ms/azsdk/dotnet/mgmt

[2022-01-17 07:35] HarveyLink commented on #26182
Will release before end of this week.

[2022-01-17 07:45] StannieV commented on #26402
Hello @JoshLove-msft,

Thanks for your input, but in my scenario I still need/want to renew the lock.

Our AzureServiceBus queues are configured with a lock duration of 5min (max value). When a ServiceBus triggered Azure Function throws an exception, we renew the lock. This way the message will not be handled for another 5 min before it's retried.
Without this, the message will be moved back right

[2022-01-17 07:47] xbaha commented on #26380
Hello,
The SDK is running on a backend application that registers with Azure Messaging ServiceBus, and just waits to receive messages from the WebApp. It doesn't send anything. I am creating 10 processors.

I know for a fact that this error happens due to network problems from my end, like packet loss or DNS failure, but in no way it lasted 24 hours because sometimes it takes a few minutes after r

[2022-01-17 07:51] archerzz commented on #26110
@andrei-faber We don't have any sample yet. For now you can refer to the scenario test for details:

- Policy Definition: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/PolicyDefinitionCollectionTests.cs
- Policy Assignment: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/resourcemanager/Azure.ResourceManager/tests/Scenario/Po

[2022-01-17 08:57] archerzz opened #26406 "[BUG] Cannot set `User-Agent` header in track2 SDK"
### Library name and version

Azure.ResourceManager

### Describe the bug

## Description

The following code snippet (copied from https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/Pipeline.md#implementing-a-synchronous-policy) doesn't work.

[code]

The root cause is that we have an internal override https://github.com/Azure/azure-sdk-for-net/blob/d269eede20a23edec1

[2022-01-17 09:03] archerzz commented on #26406
I think we need to make a decision: shall we allow users to modify `User-Agent`? We could change the logic in `MgmtTelemetryPolicy.cs` to add (v.s. set) the value passed by `UserAgentOverride`, which will make sure the `User-Agent` set by each SDK will be passed to back-end.

[2022-01-17 09:14] archerzz commented on #26406
Or, if we allow users to set the value (e.g. `Headers.Set()`), then we can:

1. remove the `MgmtTelemetryPolicy.cs`
2. change `autorest.csharp` to generate code to simply `request.Headers.Add("User-Agent", _userAgent);`, instead of
https://github.com/Azure/azure-sdk-for-net/blob/d269eede20a23edec101477601a2b90bee54e690/sdk/compute/Azure.ResourceManager.Compute/src/Generated/RestOperations/CloudSer

[2022-01-17 10:02] #25971 closed

[2022-01-17 10:42] ArthurMa1978 commented on #26406
I think user can the `set` but can `add`

[2022-01-17 11:48] jkmbowachas opened #26409 "Avro schema registry not fully compatible with azure function event hub trigger"
The Avro schema serializer "SchemaRegistryAvroObjectSerializer" is not fully compatible with Azure function event hub trigger, when an Avro payload contains a type long it fails to deserialize the long value and ends up returning random a value.

Unit Test
`
        [Fact(Skip = "WIP")]
        public async Task ProcesslongEventAsync()
        {
            await _eventProcessorEndpoint.Run(new []

[2022-01-17 11:48] azure-sdk commented on #26409
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Event Hubs:0.36808842,Service Bus:0.13885465,Storage:0.09473283'

[2022-01-17 13:56] jkmbowachas commented on #17284
I'm using version Microsoft.Azure.Data.SchemaRegistry.ApacheAvro 1.0.0-beta.4

[2022-01-17 19:27] asmithgt opened #26415 "[BUG] GetGenericResource Method of Azure.ResrouceManager.ArmClient returns 'invalid resource id was given' for valid resource"
### Library name and version

Azure.ResourceManager 1.0.0-beta.7

### Describe the bug

On instance of Azure.ResourceManager.ArmClient attempting to execute method GetGenericResource using a ResourceIdentifier object as input a return object of GenericResource is expected, yet am given the error:
`System.Private.CoreLib: Exception while executing function: ActivityTagging. Azure.ResourceManager: A

[2022-01-17 19:42] jsquire commented on #26415
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-17 19:56] vmello-esw commented on #26395
Hi there, any idea when this library will be released ?

[2022-01-17 20:14] andrei-faber opened #26416 "[BUG] "Source blob block list XML is corrupted""
### Library name and version

Azure.Storage.Blobs 12.10.0

### Describe the bug

I'm randomly getting the following error in my application:

[code]

### Expected behavior

not fail

### Actual behavior

fails

### Reproduction Steps

[code]

### Environment

.NET 5

[2022-01-17 21:04] kinelski commented on #26081
Thank you for bringing this issue to our attention, @vijumane. I could reproduce the issue on my end, and it seems to be service-related. Could you check if the following workaround works? It solved the problem for me.
[code]

@ctstone Could you confirm if this behavior is intended or a bug? When building a model, it seems users need to append a slash `/` to the end of the `Prefix` property if the

[2022-01-17 21:11] JoshLove-msft commented on #17284
Can you provide a code snippet? The first deserialization is expected to take longer as it would need to go to the service to look up the schema.

[2022-01-17 21:14] JoshLove-msft commented on #26409
Hi @jkmbowachas,
The issue here is that since you are binding to a string, the payload is assumed to be UTF-8 bytes, which is not the case when dealing with an Avro payload. You can instead bind directly to the EventData instead of a string.

You might also want to try using the latest [beta](https://www.nuget.org/packages/Microsoft.Azure.Data.SchemaRegistry.ApacheAvro/1.0.0-beta.5), which simplif

[2022-01-17 21:16] DOMZE opened #26417 "[QUESTION] How to create objects / mocks for Azure.ResourceManager.Resources (preview)"
### Library name and version

Azure.ResourceManager.Resources 1.0.0-beta.5

### Query/Question

In the article you guys provided, that is https://devblogs.microsoft.com/azure-sdk/unit-testing-and-mocking/, you said that the libraries include Factory classes to create objects to be used in unit testing. I am looking for a way to create ResourceGroups (ResourceGroupData even).

There doesn't seem to

[2022-01-17 21:19] JoshLove-msft commented on #26402
Thanks for that additional information. We can look into exposing this method.

[2022-01-17 21:21] jsquire commented on #26417
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-17 21:31] kinelski commented on #25898
JS and Python PRs for the same issue:
JS: https://github.com/Azure/azure-sdk-for-js/pull/19087
Python: https://github.com/Azure/azure-sdk-for-python/pull/22132

[2022-01-18 02:54] archerzz opened #26420 "[FEATURE REQ] Compare JSON Content By Key/Value, Not Text Diff"
### Library name

Azure.Core.TestFramework

### Please describe the feature.

## Description

Looks like in the playback mode, the test framework is comparing JSON content by text diff, which will cause false alerts when only the sequence of some properties has been changed.

### Example

We see repetitive alerts below after the SDK codes are refreshed.
[code]

But actually the content is not chan

[2022-01-18 02:54] azure-sdk commented on #26420
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Search:0.11814453,Storage:0.101195894,Azure.Core:0.100758575'

[2022-01-18 03:12] BethanyZhou commented on #26406
``` message.SetProperty("UserAgentOverride", _userAgent)``` will override the user-agent information about azsdk-net-ResourceManager.KeyVault/1.0.0-beta.5
![image](https://user-images.githubusercontent.com/19869716/149864369-9d3c7209-430d-4823-bf4c-9461a44226ea.png)
**After:**
![image](https://user-images.githubusercontent.com/19869716/149864150-efdf4924-b67d-450f-b895-10d191b3c2db.png)

[2022-01-18 03:55] ArthurMa1978 commented on #26068
Will release it in GA, https://github.com/azure/azure-sdk-for-net/issues/25889

[2022-01-18 03:55] #26068 closed

[2022-01-18 04:02] #26209 closed

[2022-01-18 05:49] xboxeer opened #26423 "Update Sample Code that are currently using fluent SDK to T2 SDK- CosmosDB"
Azure-Samples/cosmosdb-dotnet-create-cosmosdb-and-configure-for-high-availability
Azure-Samples/cosmosdb-dotnet-create-cosmosdb-and-configure-for-eventual-consistency
Azure-Samples/cosmosdb-dotnet-create-cosmosdb-and-configure-firewall
Azure-Samples/cosmosdb-dotnet-create-table-with-virtual-network-rule
Azure-Samples/cosmosdb-dotnet-create-cosmosdb-and-get-mongodb-connection-string

[2022-01-18 05:54] xboxeer opened #26424 "Update Sample Code that are currently using fluent SDK to T2 SDK- Compute"
Azure-Samples/compute-dotnet-create-virtual-machines-across-regions-in-parallel
Azure-Samples/compute-dotnet-create-virtual-machines-from-generalized-image-or-specialized-vhd
Azure-Samples/compute-dotnet-list-compute-skus
Azure-Samples/compute-dotnet-list-vm-extension-images
Azure-Samples/compute-dotnet-list-vm-images
Azure-Samples/compute-dotnet-manage-availability-sets
Azure-Samples/compute-dotn

[2022-01-18 05:54] azure-sdk commented on #26424
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute:0.49169976,Compute - VM:0.20526104,Cognitive - Computer Vision:0.06948484'

[2022-01-18 05:56] xboxeer opened #26425 "Update Sample Code that are currently using fluent SDK to T2 SDK- ACR"
Azure-Samples/acr-dotnet-manage-azure-container-registry
Azure-Samples/acr-dotnet-manage-azure-container-registry-with-webhooks

[2022-01-18 05:59] xboxeer opened #26426 "Update Sample Code that are currently using fluent SDK to T2 SDK- AKS"
Azure-Samples/aks-dotnet-manage-kubernetes-cluster

[2022-01-18 05:59] azure-sdk commented on #26426
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.4075168,IoT:0.0352294,Tables:0.021360356'

[2022-01-18 06:02] xboxeer opened #26427 "Update Sample Code that are currently using fluent SDK to T2 SDK- Application Gateway"
Azure-Samples/application-gateway-dotnet-manage-application-gateways
Azure-Samples/application-gateway-dotnet-manage-simple-application-gateways

[2022-01-18 06:32] JoshLove-msft commented on #26257
Is it possible that another consumer is grabbing the message? If there are no exceptions thrown when sending to the topic, then the message should have been successfully sent.

[2022-01-18 07:34] xboxeer opened #26430 "Update Sample Code that are currently using fluent SDK to T2 SDK- Locks"
Azure-Samples/locks-dotnet-manage-locks

[2022-01-18 07:34] azure-sdk commented on #26430
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.42961398,IoT:0.034292668,Tables:0.020900477'

[2022-01-18 07:34] xboxeer opened #26431 "Update Sample Code that are currently using fluent SDK to T2 SDK- Managed Disk"
Azure-Samples/managed-disk-dotnet-convert-existing-virtual-machines-to-use-managed-disks
Azure-Samples/managed-disk-dotnet-create-virtual-machine-using-custom-image
Azure-Samples/managed-disk-dotnet-create-virtual-machine-using-custom-image-from-VHD
Azure-Samples/managed-disk-dotnet-create-virtual-machine-using-specialized-disk-from-snapshot
Azure-Samples/managed-disk-dotnet-create-virtual-machine

[2022-01-18 07:34] azure-sdk commented on #26431
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Compute - VM:0.22955383,Azure.Identity:0.14637518,IoT:0.027525038'

[2022-01-18 07:35] xboxeer commented on #26431
close this one, raised to wrong repo

[2022-01-18 07:35] #26431 closed

[2022-01-18 08:45] emrekara37 opened #26434 "Error : Event Hub Trigger The response ended prematurely, with at least 156 additional bytes expected."
### Library name and version

Microsoft.Azure.WebJobs.Extensions.EventHubs 4.3.0

### Query/Question

Hi,
i created basic event hub trigger function but i am getting this error.

Event hub namespace tier is basic and have 2 event hub

![image](https://user-images.githubusercontent.com/17519791/149901211-df345bef-658a-4348-a5af-a18bfc3a3131.png)

![image](https://user-images.githubusercontent.com/1

[2022-01-18 08:46] azure-sdk commented on #26434
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Functions:0.55578077,Event Hubs:0.37721992,Event Grid:0.022500707'

[2022-01-18 08:48] bsumter commented on #25656
@jaschrep-msft

Thank you for taking the time to look into this and sharing your knowledge.

Are you then also saying this code should be failing when using a similar setup with the deprecated package `Microsoft.Azure.Storage.Blob`? I've tried this, and that code runs perfectly fine. Meaning there's a fundamental difference between the two packages in terms of behavior.

We are working with blobs

[2022-01-18 12:32] onlywithlad commented on #26097
HI @SaurabhSharma-MSFT
also is there  a way we can check if connection is idle or not? and in case of idle or sender closed issue how can we make it active again?

[2022-01-18 13:40] jsquire commented on #26430
@jongio:  Are you already tracking management sample conversion?

[2022-01-18 13:53] jsquire commented on #26434
This issue has been transferred to the repository where the `Microsoft.Azure.WebJobs.Extensions.EventHubs` package is maintained for versions earlier than 5 as [#103](https://github.com/Azure/azure-functions-eventhubs-extension/issues/103).

[2022-01-18 13:53] #26434 closed

[2022-01-18 14:01] ngcdev commented on #26368
Hello @christothes
I'm using version 4.2.0 (I believe that's the latest at this time)
Thanks

[2022-01-18 14:07] #26352 closed

[2022-01-18 15:01] jsquire commented on #26380
Thanks for the additional information.   You mention that you're "creating 10 processors" - which I'm assuming means either a `ServiceBusProcessor` or `ServiceBusSessionProcessor`.    If that is the case, processor types are built to be highly resilient and will continue to retry forever in this case until explicitly stopped or disposed.   During this time, it will continue to inform you of connec

[2022-01-18 15:39] xbaha commented on #26380
Hello,
I apologize for not being clear, by processors I meant Queues, like this one:

        public ServiceBusProcessor Sellersprocessor;

                Sellersprocessor = client.CreateProcessor(AzureSB.Sellers, messageHandlerOptions);
                Sellersprocessor.ProcessMessageAsync += SellersMessageHandler;
                Sellersprocessor.ProcessErrorAsync += SellersErrorHandler;

[2022-01-18 16:07] jaschrep-msft commented on #25656
@bsumter  Your code sample, specifically `await Task.WhenAll(UploadAsync(), DownloadAsync(), UploadAsync());`, is creating a race condition. Given the entirely different internals of Microsoft.Azure.Storage.Blob vs Azure.Storage.Blobs, I can imagine race conditions might be more likely to play out one way vs another in a given implementation. I could not tell you exactly why you are seeing the dif

[2022-01-18 16:55] SaurabhSharma-MSFT commented on #26325
@marktayl1 You need to use `https://{Account Name}.purview.azure.com` endpoint to get the results back.  I have tried this and it worked fine.
![image](https://user-images.githubusercontent.com/38112130/149982362-d458000c-5ed4-4099-bd50-98e43e09ab0c.png)
I will work internally on the documentation update, meanwhile, you can try and let me know in case you see any issues.

Thanks
Saurabh

[2022-01-18 17:20] marktayl1 commented on #26325
I was doing it with our account name.

var client = new PurviewCatalogClient(new Uri(https:/redacted_my_account_name.catalog.purview.azure.com<https://purview-to-adb-purview.catalog.purview.azure.com>), credential);

That is not the issue.  Someone already repoed this, I am confused by this response.

Thanks,

Mark
From: SaurabhSharma-MSFT ***@***.***>
Sent: Tuesday, January 18, 2022 8:56 AM
To: A

[2022-01-18 17:27] christothes opened #26437 "Environment variable evaluation should be standardized in Azure.Core"
### Library name

Azure.Core

### Please describe the feature.

This would enable consistent logging, and possibly API change evaluation.

[2022-01-18 18:11] SaurabhSharma-MSFT commented on #26325
@marktayl1  When calling Purview account url you need to pass -  `https:/redacted_my_account_name.purview.azure.com` instead of using `https:/redacted_my_account_name.catalog.purview.azure.com`.

[2022-01-18 18:28] SteveCurran commented on #21433
I am not seeing this fix in 12.4 release of Azure.Data.Tables. Any ETA?

[2022-01-18 18:36] christothes commented on #21433
Are you saying it is not in the changelog, or that you can still reproduce the error?

[2022-01-18 18:37] JoshLove-msft commented on #26420
Hi @archerzz,
Is there a reason that the order changed? Was there a code change that went along with this? Assuming that is the case, we'd normally recommend just re-recording for situations like this. While it may be possible to do what you suggest here, the serialization format is expected to be stable and unexpected changes should be flagged.

[2022-01-18 18:38] JoshLove-msft commented on #26420
To make re-recording easier, you can use attribute your tests with the `RecordedTest` attribute, which will automatically re-record for you on playback failure.

[2022-01-18 18:43] SteveCurran commented on #21433
@christothes both

[2022-01-18 19:19] #22169 closed

[2022-01-18 19:19] #22168 closed

[2022-01-18 19:19] #22167 closed

[2022-01-18 19:19] #22166 closed

[2022-01-18 19:19] #22165 closed

[2022-01-18 19:21] annelo-msft opened #26444 "Consolidate guidance on samples"
We have slightly different guidance on how to create samples in the azure-sdk-for-net repo in the following areas:

- https://github.com/Azure/azure-sdk-for-net/blob/main/samples/README.MD

This one doesn't really go into details about how to have runnable samples, and then starts listing an early list of samples we had in the repo.  It would be good to update this.

- https://azure.github.io/azur

[2022-01-18 19:21] annelo-msft commented on #26444
@heaths FYI

[2022-01-18 19:21] #22172 closed

[2022-01-18 19:21] #22164 closed

[2022-01-18 19:21] #22163 closed

[2022-01-18 19:22] #22162 closed

[2022-01-18 19:22] #22161 closed

[2022-01-18 19:22] #22160 closed

[2022-01-18 19:22] #22159 closed

[2022-01-18 19:22] #22158 closed

[2022-01-18 19:22] #22157 closed

[2022-01-18 19:23] #24088 closed

[2022-01-18 19:23] #25138 closed

[2022-01-18 19:23] #25139 closed

[2022-01-18 19:23] #25902 closed

[2022-01-18 20:13] afink-osi opened #26446 "[QUERY] Clarification on Snapshot propery in BlobItem"
### Library name and version

Azure.Storage.Blobs 12.10.0

### Query/Question

**Background**
We are currently working on migrating a Service Fabric application from Azure Storage SDK 11.x to make use of the updated Azure Storage SDK 12.x.  This application is responsible for various tasks including copying blob snapshots to different storage accounts, as well as being able to select a specific sn

[2022-01-18 20:59] upton2805 opened #26447 "[QUERY] - Guidance on generating models to interact with Purview API"
### Library name and version

Azure Purview Catalog client library for .NET

### Query/Question

Is there any guidance on how to generate request and response models to interact with Purview API? Current documentation contains json schema but that is not very helpful.

### Environment

_No response_

[2022-01-18 20:59] azure-sdk commented on #26447
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Core:0.081589855,ARM:0.060261764,Synapse:0.0407179'

[2022-01-18 21:06] christothes commented on #21433
Ah - I think you may be referring to this feature https://github.com/Azure/azure-sdk-for-net/issues/25710

The fix associated with this issue was actually a parsing bug.

[2022-01-18 22:02] #22327 closed

[2022-01-18 22:13] annelo-msft opened #26449 "Add documentation on how to write an autorest.md file for LLC"
This should cover:
- What to do for LLC
- What options are available as configuration to the generator
- A mention of swagger transforms we add to these files

[2022-01-18 22:13] azure-sdk commented on #26449
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'App Configuration:0.16089298,Storage:0.14988275,Extensions:0.09261193'

[2022-01-18 22:14] annelo-msft commented on #26449
@AlexanderSher, @ShivangiReja, @m-nash, do any of you know if we already have this?

[2022-01-18 23:08] annelo-msft commented on #25555
@pakrym can you confirm that this work is complete based on your recent PRs?

[2022-01-18 23:13] pakrym commented on #25555
What properties did you include in this issue?

[2022-01-18 23:24] annelo-msft commented on #25555
I updated the description - it's `Response.IsError` and `Response.Sanitizer`

[2022-01-18 23:29] annelo-msft opened #26453 "Rename LLC to Data Plane Generated Client"
See details in https://github.com/azure/autorest.csharp/issues/1699.  We will do the same for the azure-sdk-for-net repo

[2022-01-18 23:38] pakrym commented on #25555
Then no, I only did IsError.

[2022-01-18 23:44] annelo-msft opened #26454 "Update LLC documents in the azure-sdk-for-net repo"
- https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/samples/ProtocolMethods.md - is this up to date with recommended best practices?
- Contributing.md - point to Data Plane Code Generation getting started docs
- https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/core/Azure.Core#key-concepts: Add RequestContext

[2022-01-18 23:49] heaths commented on #26444
I think it's fair to just let sdk/template be an example of whatever is documented, but as for a document location: which URL do you prefer? IMO, if people are already in the repo, samples/README.md (or maybe CONTRIBUTING.md to actually *write* them) makes more sense, but it's not a huge preference for me.

[2022-01-19 00:02] heaths commented on #26334
When instrumenting the client, could we use Castle (what Moq uses) to generate/cache a proxy and override any such method wrap/whatever we need to do?

[2022-01-19 00:13] chunyu3 opened #26455 "[LLC]GA requirements of DeviceUpdate"
When release DeviceUpdate GA version, we need to address this:
1. change endpoint to be a Uri instead of a string.
2. use the standard format for samples in this repo. A good example is shown here: https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/search/Azure.Search.Documents/samples, and the official guidance is written out here: https://azure.github.io/azure-sdk/dotnet_introduction.html#

[2022-01-19 00:13] azure-sdk commented on #26455
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.23994838,Service Bus:0.13964787,Azure.Core:0.12798887'

[2022-01-19 02:49] marktayl1 commented on #26325
Okay, thanks.  Sorry, misunderstood.  That worked.

From: Mark Taylor (PIHV)
Sent: Tuesday, January 18, 2022 9:20 AM
To: Azure/azure-sdk-for-net ***@***.***>; Azure/azure-sdk-for-net ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [Azure/azure-sdk-for-net] Purview dotnet client: Wrong Uri: Doc bug with bad params: Doc bug with undocumented param (Issue #26325)

I was doing it with our account n

[2022-01-19 03:21] ChrisGroupScape opened #26458 "The page doesn't indicate what is returned if the container name passed to GetBlobContainerClient doesn't exist."
The page doesn't indicate what is returned if the container name passed to GetBlobContainerClient doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61828c00-0a3f-d3a5-9fbb-8a02d866dcf4
* Version Independent ID: dbedd4e1-1596-050b-56d0-694f785ae6d6
* Content: [BlobServiceClient.GetBlobContainerClient(String)

[2022-01-19 03:39] archerzz commented on #26420
Hi @JoshLove-msft I think some code change in the `autorest.csharp` caused the order change.

Re-recording should fix the issue. The only pain point is that some recording will take hours. So I filed this issue as feature request, which can reduce the chances to do a re-recording.

[2022-01-19 03:42] ArthurMa1978 opened #26460 "Naming dictionary for .Net SDK"
Naming is always a good question in our day to day work.
In this repo we have around 130 RPs coming for both data plane and mgmt. plane SDKs, so it's important to us and for customer on have all name consistently.

[2022-01-19 03:42] azure-sdk commented on #26460
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.15307365,Storage:0.14910667,Extensions:0.10861092'

[2022-01-19 03:42] azure-sdk commented on #26460
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Service Bus:0.15307365,Storage:0.14910667,Extensions:0.10861092'

[2022-01-19 03:45] ArthurMa1978 opened #26461 "Upgrade corresponding SDKs with new JsonConverterHelper for performance matter"
According to https://github.com/Azure/azure-sdk-for-net/pull/26448, there have a perf issue in the underlining JsonCoverterHelper.
The issue has been fixed, but need to update corresponding SDKs

[2022-01-19 03:45] azure-sdk commented on #26461
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5374061,Container Registry:0.10148903,Azure.Core:0.028075356'

[2022-01-19 05:11] Yao725 commented on #25183
We are going to support directly passing string to the Template or Parameters in next release of Azure.ResourceManager.Resources. For now you can use this as a work around:
[code]

[2022-01-19 05:14] Yao725 commented on #26030
Hi @cjbhaines , this problem should has been fixed in the `Azure.ResourceManager 1.0.0-beta.7`, please have a try.

[2022-01-19 05:17] Yao725 commented on #26034
Had a offline sync with @archerzz , so close this issue.

[2022-01-19 05:17] #26034 closed

[2022-01-19 06:07] Yao725 commented on #24785
Hi @andrei-faber , you can use `Azure.ResourceManager` to list all the resources.
Here is the code sample which can list all the resources in current subscription.
[code]
You can also use the method `GetByResourceGroupAsync` to get resources in the specific resource group.
[code]

[2022-01-19 07:20] Yao725 commented on #26303
Hi @timpclip , you are right about the two methods' behavior. The reason is that armClient only contains one tenant and we construct the tenant based on your credential. So for your need, I'd like to suggest you to construct a new armClient with different credential.

[2022-01-19 07:48] archerzz commented on #26120
@TobiasLaving `Azure.ResourceManager.Storage` is a management plane SDK, e.g. it is responsible for managing service instances.
What you want to do is in the scope of data plane SDK. Check this [example](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/storage/Azure.Storage.Blobs#enumerating-blobs) in `Azure.Storage.Blob` SDK. Hope that can help. Thanks.

[2022-01-19 07:54] Yao725 commented on #24586
For track 2 .Net mgmt. plane SDK which the package name begins with the prefix `Azure.ResourceManager`, the ResourceIdentifier definition has been moved to Azure.Core and shared by all the RP, so we just support to extract common information like `subscription` `resource group` from the Id.

[2022-01-19 08:07] Yao725 commented on #24979
The SDK is generated based on the rest API, so in the generic resource list we only supports to use filter, otherwise you need to use each RP's own package to list the specific resource.

[2022-01-19 08:56] MauRiEEZZZ commented on #24586
Ok thank you for clarifying.

If no further actions will be made feel free to close this issue

[2022-01-19 10:24] TobiasLaving commented on #26120
Ok, thanks

Will there be any convenience functionality that will allow us to get the dataplane from control plane?

Lite
[code]

[2022-01-19 10:42] FabianLueke opened #26468 "[BUG] Message Output ReceiveBatchAsync start. LogLevel Trace - ServiceBusTrigger"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.ServiceBus >=5.0.0

### Describe the bug

I use ServiceBusTrigger with queues and topics and i updated the package from 4.3.0 to greater than or equal 5.0.0.
After the update my console is full (over 20 messages) of (queueName/Subscriptname)-(Guid): ReceiveBatchAsync start. MessageCount = 1.
I use the setting     "AzureFunctionsJobHo

[2022-01-19 11:04] FabianLueke opened #26469 "d[BUG]"
### Library name and version

d

### Describe the bug

d

### Expected behavior

d

### Actual behavior

d

### Reproduction Steps

d

### Environment

_No response_

[2022-01-19 11:04] #26469 closed

[2022-01-19 11:04] azure-sdk commented on #26469
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Tables:0.037475422,Compute:0.035704058,ARM:0.023750642'

[2022-01-19 12:42] MughundhanRaveendran-MSFT commented on #25745
@gabidabet , I havent got a response from you yet. I will close this issue. Feel free to reopen if required

[2022-01-19 12:42] #25745 closed

[2022-01-19 13:10] dingmeng-xue opened #26470 "[QUERY] intermittent timeout when login with managedidentity"
### Library name and version

Azure.Identity 1.4.0

### Query/Question

When we use Azure PowerShell in automation environment and login with managed identity, client reports timeout intermittently. Below is one error.

Is it a known issue? How to look into problem further?
[code]

### Environment

azsdk-net-Identity/1.4.0,(.NET Framework 4.7.3163.0; Microsoft Windows 10.0.9200

[2022-01-19 13:33] jsquire commented on #26468
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-19 14:11] jsquire commented on #26380
That's an interesting statement.   That would seem to imply that you're running in Visual Studio with a debugger attached.   That results in the debugger observing all exceptions - not just those that would surface to your application - and acting on them based on your debugging configuration in Visual Studio.   _(more information can be found in the [docs](https://docs.microsoft.com/en-us/visuals

[2022-01-19 14:46] christothes commented on #26470
Unfortunately, the timeout would be an issue with the Azure Managed Identity endpoint, rather than the client. However, the latest version of Azure.Identity does handle retries and timeouts slightly differently. Can you try that?

[2022-01-19 17:26] SteveCurran commented on #21433
@christothes Sorry, its an issue with azurite parsing uri for storage account https://github.com/Azure/Azurite/issues/1263

[2022-01-19 18:46] xbaha commented on #26380
@jsquire Yes, but this should not be the normal behavior, I am unable to continue my application, why does this exception cause the application to stop?
First of all, I have no idea why this error happens to begin with, my RetryOptions should make it retry for a whole day, but this is not what is happening.
And second, these errors are random and could happen any minute even if there are no connec

[2022-01-19 18:57] kinelski opened #26476 "[FormRecognizer] Consider setting default values for confidences"
The service will not return the `confidence` field in some scenarios. We need to confirm with the service team what "not returning a confidence" means.
- If there's an alignment from the service side, we could consider setting a default confidence in the SDK. For example, if not returning a confidence means "we are sure", we could default to 1, like we did in v2.
- If there's no alignment from the

[2022-01-19 19:22] jsquire commented on #26380
@xbaha:  I'm sorry that we haven't been able to address your concerns.  I'm still not clear if you're seeing the same behavior when running the application normally or only when you're running in Visual Studio and/or under a debugger.

If you are seeing the processor fail and crash your application, I'd very much like to understand how to reproduce so that we can troubleshoot.   Thus far, we have

[2022-01-19 19:45] spncrgr commented on #26257
Nope. In these cases there's only one consumer and I have it stopped during these tests so that the message will stay in the subscription. Plus, I have a test subscription that should get a copy as well and it isn't. Hopefully that makes sense 😄

[2022-01-19 19:50] JoshLove-msft commented on #26257
Based on the logs, the message appears to have been successfully sent. If you have a specific message Id of a message that should have been sent, but was not sent, can you submit an [Azure support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with this information along with your namespace so that the service team can investigate further?

[2022-01-19 19:58] JoshLove-msft commented on #26468
These logs are coming in from the underlying SDK logging. You can filter the logs that originate from Azure.Messaging.ServiceBus as demonstrated in https://docs.microsoft.com/en-us/dotnet/azure/sdk/logging#map-to-aspnet-core-logging.

Related issue - https://github.com/Azure/azure-sdk-for-net/issues/25945

[2022-01-19 19:59] JoshLove-msft commented on #26468
In terms of receiving only 1 message at a time, this can be tuned in your host.json setting - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#additional-settings-for-version-5x by setting the `maxConcurrentCalls` property.

[2022-01-19 20:00] kurtzeborn commented on #25814
One concern raised is that that might significantly increase the amount of data we're storing and therefore the cost.  That's worth understanding before we just do this one.

[2022-01-19 21:16] andrei-faber commented on #24785
@Yao725 I see. I was looking for it in the resource group.
But it doesn't have ToEnumerableAsync(), only GetAsyncEnumerator(). Do I need to import some extra packages for this functionality?

[2022-01-19 21:28] xtianus79 commented on #26121
Yes, this is odd to not be in the actual sdk but in the documentation

[2022-01-19 21:31] xtianus79 commented on #26321
hi @jsquire that is how it is in the documentation { } and thought that was a little odd. I think perhaps it could be a combination of both comments to get the right URL with the right key. I will review and comment back.

[2022-01-19 21:36] xtianus79 commented on #26321
@jsquire  I have change to this and it is still giving 404

[code]

[code]

[2022-01-19 22:00] heaths commented on #26121
We have no date yet to share for the next release but it should be soon. Please watch https://azure.github.io/azure-sdk/releases/latest/ for updates.

Closing this issue in lieu of the aforementioned releases page.

[2022-01-19 22:00] #26121 closed

[2022-01-19 22:04] spncrgr commented on #26257
I sure will...thanks @JoshLove-msft

[2022-01-19 22:04] #26257 closed

[2022-01-19 22:15] heaths commented on #26321
You should only pass the service host, not the entire endpoint as you're doing here:

[code]

Instead, this should simply be:

[code]

See [our README](https://github.com/Azure/azure-sdk-for-net/blob/Azure.AI.Language.Conversations_1.0.0-beta.1/sdk/cognitivelanguage/Azure.AI.Language.Conversations/README.md#create-a-conversationanalysisclient) for an example, and a link to more samples.

[2022-01-19 22:43] ksaye opened #26481 "[QUERY] how to use FindBlobsByTags correctly in CSharp"
### Library name and version

Azure.Storage.Blobs 12.10.0

### Query/Question

I am trying to query Block Blobs that are newer than a date.  I thought the FindBlobsByTags() using the Property LastModified would work, but it does not seem to work.  Is there an example somewhere?

My attempt:
[code]

Clearly this will work, but it must iterate through the blocks client side:
[code]

### Environment

[2022-01-19 23:05] annelo-msft opened #26482 "Prevent build breaks from source shared from non-Core libraries"
From this PR (https://github.com/Azure/azure-sdk-for-net/pull/26480) we learned that we should run pipelines for any libraries that use shared source from a given library.

We should update CIs to run pipelines for any libraries that depend on shared source from a given library across the repo, to prevent this class of build breaks.

[2022-01-19 23:50] christothes commented on #26482
FYI - I created a script a while back that builds up a solution containing all the projects referencing changes to shared source from core. Perhaps it would be useful for however we decide to solve this problem.

https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/generate_shared_ref_solution.ps1

[2022-01-20 00:21] ramya-rao-a commented on #11373
Given that we have the code required to do the migration documented in our Migration Guide at [Migrating EventProcessorHost checkpoints](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md#migrating-eventprocessorhost-checkpoints), we no longer need the utility tool requested in this issue

[2022-01-20 00:21] #11373 closed

[2022-01-20 00:22] ramya-rao-a commented on #17474
In the year that has passed since this issue was logged, we have not seen any customer requests for this feature. Therefore, closing.

[2022-01-20 00:22] #17474 closed

[2022-01-20 02:57] arjunbalgovind opened #26489 "[BUG] Serialization bug in ResourceIdentity model"
### Library name and version

Azure.ResourceManager 1.0.0-beta.7, Azure.ResourceManager.Compute 1.0.0-beta.5

### Describe the bug

The ResourceIdentity model has a serialization bug which results in BadRequest errors if a VM Update operation is executed which involves a change in its **Identity** member. I came across this bug while migrating some code that was written in the Compute.Fluent libra

[2022-01-20 02:58] Yao725 commented on #24785
@andrei-faber Sorry, my bad. `ToEnumerableAsync()` is implemented in `Azure.Core.TestFramework`, so if you want to use this, you need to add the project reference.
BTW, I also list the source code here, you can implement this by yourself.
[code]

[2022-01-20 03:05] archerzz opened #26491 "[feature] add back `GetGenericResources`"
## Description

In #26490 we removed 4 overloaded versions of `GetGenericResources` to resolve overload conflicts. Those versions are convenient API to convert IDs to `GenericResource`. If the demand is strong, we should add them back (probably with different name).

[2022-01-20 03:49] shahriak opened #26492 "[BUG] Importing certificates into Azure KeyVault fails due to no private key even when private key exists (C#)"
### Library name and version

Azure.Security.KeyVault.Certificates 4.2.0

### Describe the bug

I'm trying to import a self-signed certificate into KeyVault. When I do, it fails with a 400 BadRequest error and the message:       "Azure.RequestFailedException: No certificate with private key found in the specified X.509 certificate content. Please specify X.509 certificate content with only one cer

[2022-01-20 03:49] azure-sdk commented on #26492
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'KeyVault:0.49216068,Azure.Identity:0.1606171,Storage:0.10138692'

[2022-01-20 04:02] #22860 closed

[2022-01-20 06:35] #24586 closed

[2022-01-20 06:43] hachiang-msft opened #26496 "[BUG] Unable to modify resource identity by GenericResource.Update"
### Library name and version

Azure.ResourceManager 1.0.0-beta.7

### Describe the bug

We are trying to enable/disable system assigned identity for our resource. But got response:
[code]

I checked the request content. It looks like:
[code]

I'm wondering it's caused by duplicated identity object layer.
SDK write identity property twice.
[GenericResourceData.Write](https://github.com/Azure/azure-

[2022-01-20 07:20] navba-MSFT commented on #26198
@RDavis3000 Thanks for your question. We sincerely apologize for the delay in getting back to you. Please find below my answers inline to your question:

1. What are the possible values of "deadLetterReason"?
2. What are the causes of these values? (Is this documented anywhere?)

The System defined deadletter reasons and its descriptions are explained in [this](https://docs.microsoft.com/en-us/azu

[2022-01-20 09:36] matsunordinal opened #26499 "Typo in Definition"
[Enter feedback here]
Typo in the Definition part of the documentation.

Current: "The function that gets the URL of the build source upload ashnchronously."

The word above "asynchronously" is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f517cfa-4e6c-a7e3-4f8f-206fa334e8d2
* Version Independent ID: 10f6

[2022-01-20 09:52] navba-MSFT commented on #22100
@KarlZ  Thanks for your question. The same issue was reported in #18381 too and @amnguye has confirmed that this issue is now fixed in this PR #24984.

Please let me know if you are still facing this issue. Awaiting your reply and confirmation.

[2022-01-20 13:38] jsquire commented on #26496
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-20 13:40] jsquire commented on #26499
#
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-20 13:49] jsquire commented on #26492
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-20 14:17] BaherAbdullah opened #26501 "[BUG] Text Analytics: Feature Availability"
### Library name and version

Azure.AI.TextAnalytics 5.1.X

### Describe the bug

I am trying to use this library with custom NER and classification, but its not working, only version 5.2.0-beta.2 is working. If this is the case, please call it out in the file to guide the users.

### Expected behavior

It should work

### Actual behavior

Its now working with 5.1.X version

### Reproduction Steps

[2022-01-20 14:18] azure-sdk commented on #26501
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.29185733,Cognitive - Text Analytics:0.102650195,Service Bus:0.07138674'

[2022-01-20 14:23] #26220 closed

[2022-01-20 14:25] agause commented on #26220
@jsquire FYI, had to press pause on the migration, as I found myself in [this camp](https://github.com/Azure/azure-sdk-for-net/issues/25275) upon employing the `Task.WhenAll` approach.

[2022-01-20 14:32] xtianus79 commented on #26321
/unresolve

This does not work either way @heaths I have tried that link and a 1000 variations thereafter it doesn't work, i continue to get the 404/401 error. As stated in my first sentence, which includes the link you have provided in your post... it doesn't work.

This is the error per this response:

[code]

error

[code]

[2022-01-20 14:56] jsquire commented on #26501
Hi @BaherAbdullah.   Thank you for reaching out and we regret that you're experiencing difficulties.  I'm afraid that I'm not able to follow the scenario that you're describing.    Can you help me to understand how you're using the Text Analytics client library and which documentation you believe has a gap?    Would you also please clarify your statement in the "Actual behavior" section?   The tex

[2022-01-20 15:03] PramodValavala-MSFT commented on #26458
@ChrisGroupScape This method just creates a new `BlobContainerClient` object and no connection is made until you perform an operation. In the case where the container doesn't exist and you perform some operation (apart from [`CreateAsync`](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.createasync?view=azure-dotnet#azure-storage-blobs-blobcontainerclient-create

[2022-01-20 16:17] BaherAbdullah commented on #26501
Hello @Jesse ***@***.***>,

So I want trying to use the Text Analytics client library, but I noticed that for Custom Text classification and Custom Text Extraction, I need version 5.2.0-beta 2, but this is not clear in the documentation. So can we kindly add this part to helps the users know which version they should use?

Best,
Baher

From: Jesse Squire ***@***.***>
Sent: Thursday, January 20, 20

[2022-01-20 16:34] Mike-E-angelo commented on #26255
I wanted to check in on this issue.  Is there any timeline for a fix, by chance?  I am using environmental variables as the workaround for the time being but it would sure be nice to take advantage of the built-in UI and features.

Please do let me know if there is any further information that I can provide to further diagnose.

[2022-01-20 16:37] jsquire commented on #26501
Hi @BaherAbdullah.   Can you share a pointer to the documentation that you're referencing?

[2022-01-20 16:44] BaherAbdullah commented on #26501
HYG, azure-sdk-for-net/README.md at main * Azure/azure-sdk-for-net (github.com)<https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/textanalytics/Azure.AI.TextAnalytics/README.md>

From: Jesse Squire ***@***.***>
Sent: Thursday, January 20, 2022 6:37 PM
To: Azure/azure-sdk-for-net ***@***.***>
Cc: Baher Abdullah (IBS) ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-net] [

[2022-01-20 16:54] amnguye commented on #26458
In order to check if a container exists, please use [ExistsAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.existsasync?view=azure-dotnet), [DeleteIfExistsAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.deleteifexistsasync?view=azure-dotnet) or [CreateIfNotExists](https://docs.microsoft.com/en-us/dotnet/api/azure.

[2022-01-20 17:24] #26042 closed

[2022-01-20 17:25] coppercosmo opened #26503 "[QUERY] Front Door RulesEngine Rule creation: @odata.type InvalidResource"
### Library name and version

Microsoft.Azure.Management.FrontDoor 4.0.0

### Query/Question

When trying to create a RulesEngine Rule Action, and I use this json block:
`
"rulesEngineRules": [
                {
                  "name": "rulesEngine1",
                  "priority": 1,
                  "matchProcessingBehavior": "Continue",
                  "action": {
                    "route

[2022-01-20 17:25] azure-sdk commented on #26503
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Network - Front Door:0.16641246,ARM:0.12657084,Storage:0.05712317'

[2022-01-20 17:28] christothes opened #26504 "Implement better error messaging when ulong values are used in TableEntity custom models"
### Library name

Azure.Tables

### Please describe the feature.

Table does not support ulong. However, in the SDK source code, we have several places trying to treat ulong as long, which is misleading and may cause overflow problem and get rejected by the Azure Storage Table without meaningful error message.

e.g.:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/tables/Azure.Data.Tables

[2022-01-20 17:29] #25968 closed

[2022-01-20 17:34] annelo-msft commented on #26482
@JoshLove-msft, could you help us understand why we're doing this for Storage/EG?

[2022-01-20 17:36] LeszekKalibrate commented on #26207
Apology for interrupting, but I would suggest to add (in your factory) check for sender.IsCLosed() before returning it. If closed then create a new one.

Apology again, but as this is about sender and factory I would ask dear Coders about that missing factory in ASB ServiceClient?
The built in DI method for adding an AzureServiceBus client factory doesn't internally track senders. It seems an over

[2022-01-20 17:40] minimonsters opened #26505 "No information on valid values for domainValidationMethod proeprty"
Trying to find information on creating ARM templates for service managed certificates, there is no indication about what valid values for this string value are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d46863db-c48c-b7e1-acae-b2bdf98ae880
* Version Independent ID: 72b4791b-0735-3c98-bc95-ab5927df4d86
* Content: [

[2022-01-20 17:42] jsquire commented on #26501
Hi @BaherAbdullah.  Thank you for the additional context, and apologies for the confusion.  Generally speaking, we'd recommend referencing documentation via the MS Docs site.  This will always refer to the latest GA package and the "Overview" section reflects the content from that README.   For example, the [Text Analytics Overview](https://docs.microsoft.com/dotnet/api/overview/azure/ai.textanaly

[2022-01-20 17:44] jsquire commented on #26503
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-20 17:44] jsquire commented on #26505
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-20 18:20] JoshLove-msft commented on #26482
The Storage functions extensions leverage event grid for their trigger. The code that is shared shouldn't be public as customers wouldn't need to use it. I'd agree that this is an unusual scenario, but I don't think we need to disallow it. If we are able to figure out how to fail the pipeline when cross-service shared code is encountered, that means we could just take one more step and run the pip

[2022-01-20 18:22] jsquire commented on #26482
Couldn't we elevate it to part of Core/Shared?   I would imagine that the "uses Event Grid for trigger" scenario won't be unique to Storage?

[2022-01-20 18:22] JoshLove-msft commented on #26482
Technically, this could apply to regular package dependencies between libraries as well. Although we already have validation to prevent API breaks, there could be a behavior change that would break a dependent library, which wouldn't be caught until that library's pipeline is run.

[2022-01-20 18:22] JoshLove-msft commented on #26482
It has a bunch of Event Grid dependencies in it, so not really.

[2022-01-20 18:29] christothes commented on #26482
Are there other EventGrid extension types that are commonly shared? Perhaps as a convention we should place these types in /Shared/ folder just to be explicit that it is intended to be shared.

[2022-01-20 18:30] JoshLove-msft commented on #26482
I suppose we can just remove the shared files from being built in Azure.Core, but it still seems odd to have a random file like this in there.

[2022-01-20 18:32] JoshLove-msft commented on #26482
It is just these, but that is a good point, we can at least move them into a Shared folder. That might be an easy convention to enforce in the pipeline as well - only using files from other libraries if they are in a Shared folder.

[2022-01-20 18:37] jsquire commented on #26482
The folder convention is a good start.  At least that acts as a signal that the author of shared files is aware that there may be external dependencies that rely on them.   I still find the concept concerning, and I think we need a good way to answer the question "who is using this file that I shared."

[2022-01-20 18:42] heaths commented on #14176
Likely wouldn't be enough. VS starts a lot of subprocesses - even for language and build services - and all those would have to be restarted, and restarting some of those would likely crash VS. Much the same for VSCode. Just best to avoid environment variables.

[2022-01-20 19:02] TravisCragg-MSFT commented on #15705
I am following up with this now

[2022-01-20 19:18] heaths commented on #26321
Your original post did include just the host name also used the wrong key format which is likely why you got the 401. It wasn't clear from your subsequent messages that you tried with the right host name and the right key format.

Using a slight change of your code above to use environment variables:

[code]

I was able to repro the 401 if I was using the wrong `projectName` or `deploymentName`. I

[2022-01-20 19:25] heaths commented on #26492
The output from `X509Certificate2.RawData` does not include the private key. Instead, you'll want to use `X509Certificate2.Export(X509CertificateType.Pkcs12)`.

I can update the docs for `Import` with an example if you think that would help.

[2022-01-20 19:34] trevorlacey-msft commented on #25822
Feature completed with PR.

[2022-01-20 19:34] #25822 closed

[2022-01-20 20:18] #26492 closed

[2022-01-20 20:56] #26458 closed

[2022-01-20 21:00] amishra-dev commented on #26446
@jaschrep-msft can you please look into this?

[2022-01-20 21:13] pakrym commented on #26345
cc @chidozieononiwu @weshaggard we use the `sdk/template` to test the engsys changes.

[2022-01-20 21:22] JoshLove-msft commented on #17986
Fixed in https://github.com/Azure/azure-sdk-for-net/pull/26477

[2022-01-20 21:23] weshaggard commented on #26345
I would like to combine these that is why @annelo-msft opened this issue but when we do combine, we should ensure we can continue to use it for testing out engsys stuff.

[2022-01-20 21:31] jaschrep-msft commented on #26446
The snapshot property reflects the snapshot ID as defined by the service. [The service assigns snapshot IDs as a datetime](https://docs.microsoft.com/en-us/rest/api/storageservices/creating-a-snapshot-of-a-blob). I would consider it safe to interpret this string as such.

[2022-01-20 21:48] annelo-msft commented on #26345
Great, thanks @weshaggard!  When we have time to focus on this, it will be great to work with you on how `sdk/template` is used for that and make sure we maintain this ability.

[2022-01-20 21:50] jkmbowachas commented on #26409
/unresolve I have updated the library and this has got my tests working. However when trying to pull the message from event hubs this message is returned by the azure function. The producer also uses the same library as the consumer
"System.Private.CoreLib: Exception while executing function: Functions.EventProcessorEndpoint. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'eventsData'.

[2022-01-20 22:01] christothes commented on #26011
Closing as this is a limitation outside the control of the SDK.

[2022-01-20 22:01] #26011 closed

[2022-01-20 22:02] #26327 closed

[2022-01-20 22:03] JoshLove-msft commented on #26409
Can you please let us know what versions you are using of the extension package? Also, can you include the updated function?

[2022-01-20 22:17] christothes commented on #26368
Are you able to reproduce this consistently in a stand-alone simple application? The sample code in the description is a common scenario, and we've never seen this specific issue before.

[2022-01-20 22:22] Mohit-Chakraborty opened #26510 "[BUG][ACR] Some constructor overloads of ContainerRegistryClient are invalid"
### Library name and version

Azure.Containers.ContainerRegistry

### Describe the bug

If we create a [`ContainerRegistryClient`](https://github.com/Azure/azure-sdk-for-net/blob/dcac296df717dbb75fcc50648c2132d47cd413f2/sdk/containerregistry/Azure.Containers.ContainerRegistry/src/ContainerRegistryClient.cs#L13) with a ctor overload that does not take in a [`ContainerRegistryClientOptions`](https:/

[2022-01-20 22:28] annelo-msft commented on #25411
Moving to the LLC backlog since the original issue in the QnA library was addressed by a change to the service.

[2022-01-20 22:37] annelo-msft opened #26511 "Add quickstart on manual creation of model library for LLC clients"
We will need:
- [ ] Finalized approach to serialization
- [ ] Finalized recommendation on conversion from Response/to RequestContent

[2022-01-20 22:43] ngcdev commented on #26368
Thanks @christothes  for responding. Yes, I can replicate it in a simple application. I'm pasting the exact code that I'm using below.

Notice: I'm running under Ubuntu, using Mono and .Net Framework 4.8. It seems like the problem happens when this method:
`Microsoft.Identity.Client.Platforms.net45.NetDesktopPlatformProxy.InternalGetOperatingSystem` is trying to figure out the OS (Since I'm runnin

[2022-01-20 22:45] chrisAlio opened #26513 "[communication service ] : Identity sdk call failed to run in a custom .net framework 4.6.1appDomain aside with .net framework 4.5.2 asp.net app."
**Library name and version**
Azure.Communication.Identity 1.0.1

**Describe the bug**
Environment: .net framework 4.5.2 asp.net application calls sdk api, CreateUserAsync(), which wrapped in a custom .net framework 4.6.1 appDomain object, the side-by-side approach.  The api execution in the sandbox appDomin failed with error:  ` ---> Azure.RequestFailedException: The underlying connection was clos

[2022-01-20 22:45] azure-sdk commented on #26513
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.3931299,Storage:0.12306064,Event Hubs:0.121029206'

[2022-01-20 23:03] christothes commented on #26368
OK, thanks. This seems like it could be an issue with the underlying MSAL library. I'll do some investigation and update the issue when I have some more information.

[2022-01-20 23:18] amnguye commented on #23976
We will triage this bug soon and look to resolve the issue in the coming version.

[2022-01-20 23:24] christothes opened #26514 "Enable implementors of TypeBinder<TExchange> to serialize properties from explicitly implemented interfaces"
### Library name

Azure.Core

### Please describe the feature.

Currently `TypeBinder<TExchange>` doesn't support serialization of properties that are explicitly implemented from an interface.

Ideas for this change include:
- addition of method `protected virtual bool ShouldSerialize(MemberInfo info)`
  - Allows for implementors to have find grained control over how the TExchange type's propertie

[2022-01-20 23:26] #17986 closed

[2022-01-20 23:27] christothes commented on #26363
This is currently a limitation of the implementation we use for serialization of entity types in Azure.Data.Tables. I've created feature https://github.com/Azure/azure-sdk-for-net/issues/26514 to track this.

[2022-01-20 23:27] #26363 closed

[2022-01-20 23:54] heaths commented on #25411
Cross-linking Azure/azure-sdk#3809 since we may want to pull this back in depending on how that discussion turns out.

[2022-01-21 00:25] JoshLove-msft commented on #17284
@LarryF813, @jkmbowachas, out of curiosity are you integrating the Avro serializer with Event Hubs?

[2022-01-21 00:47] SaurabhSharma-MSFT commented on #26325
@marktayl1 Great. Thanks for the confirmation.  We will proceed with the closure of this issue.

Thanks
Saurabh

[2022-01-21 00:47] #26325 closed

[2022-01-21 02:10] #17564 closed

[2022-01-21 03:06] mrzr1024 opened #26519 "Cannot get the creation time of a stream by azure-data-lake-store-net"
Hi, anybody could tell me how to get the creation time of a stream by this SDK, I haven't found this property yet.

[DirectoryEntry](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.datalake.store.directoryentry?view=azure-dotnet)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3cbd16-1895-b8cb-916e-c55873a

[2022-01-21 03:06] azure-sdk commented on #26519
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Data Lake Storage Gen2:0.36103934,Storage:0.12264548,Managed Identity:0.08426343'

[2022-01-21 03:08] archerzz commented on #26120
@TobiasLaving No. Because if we did that, the control plane will depend on data plane, and the library size will increase.

[2022-01-21 03:08] mrzr1024 commented on #26519
Not Data Lake Storage Gen2, but the data-lake-store Gen1

[azure-data-lake-store-net](https://github.com/Azure/azure-data-lake-store-net)
[azure.datalake.store reference](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.datalake.store?view=azure-dotnet)

[2022-01-21 04:19] Lann094 opened #26520 "[QUERY] Deleting read-only files"
### Library name and version

Azure.Storage.Files.Shares 12.8.0

### Query/Question

Our application needs to perform operations on files within Azure File Shares, but also allows SMB access to users. Thus, some files within the storage account are marked as read-only in normal operation.

Once this is done however, our application appears to be completely unable to delete these files. The latest

[2022-01-21 05:22] JoshLove-msft commented on #14593
Is this fixed?

[2022-01-21 05:30] MughundhanRaveendran-MSFT commented on #26152
@juanmalm , Apologies for the delay in response. I followed the steps and I am able to leave the meeting without any issues. The await call_.HangUpAsync(new HangUpOptions()) works properly. Only difference is that I am using Visual Studio 2019.

How frequently are you getting this issue?

In the meantime, I will try to reproduce the issue in Visual Studio 2022 as well

[2022-01-21 06:06] Lann094 commented on #26520
To answer my own question: Finally managed to track down the `SetHttpHeaders` method. Very confusingly name, but worked for modifying file attributes to remove read-only.

[2022-01-21 06:06] #26520 closed

[2022-01-21 06:36] JoshLove-msft commented on #14593
/cc @jsquire

[2022-01-21 06:45] v-yilinhu opened #26521 "[TextAnalytics] AnalyzeOperationConvenienceAsync failing in nightly runs"
TextAnalytics runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1314633&view=results

@jsquire for notification.

[2022-01-21 06:45] v-yilinhu opened #26522 "[TextAnalytics] AnalyzeHealthcareEntities_Cancellation failing in nightly runs"
TextAnalytics runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1314633&view=results

@jsquire for notification.

[2022-01-21 06:45] v-yilinhu opened #26523 "[Form Recognizer] StartAnalyzeDocumentWithCustomModel(True) failing in nightly runs"
Form Recognizer runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1317623&view=results

@jsquire for notification.

[2022-01-21 06:45] v-yilinhu opened #26524 "[Form Recognizer] CopyModel(False) failing in nightly runs"
Form Recognizer runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1317623&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1314894&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1312168&view=results

@jsquire for notification.

[2022-01-21 06:45] v-yilinhu opened #26525 "[Form Recognizer] CopyModel(False) failing in nightly runs"
Form Recognizer runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1312168&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1317623&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1314894&view=results
- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=131

[2022-01-21 06:50] hachiang-msft opened #26526 "[BUG] VaultCollection.CreateOrUpdate got JSON exception"
### Library name and version

Azure.ResourceManager.KeyVault 1.0.0-beta.5

### Describe the bug

Get json parsing exception when send CreateOrUpdate to a existed vault.
Exception message:
[code]
StackTrace
[code]

### Expected behavior

Should be success or other clear error message

### Actual behavior

Failed when getting operation state

### Reproduction Steps

[code]

### Environment

_No resp

[2022-01-21 06:50] azure-sdk commented on #26526
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.20875746,KeyVault:0.11502193,Search:0.08282207'

[2022-01-21 06:54] jkmbowachas commented on #26409
The library used are
* Microsoft.Azure.Functions.Worker.Extensions.EventHubs 5.0.0-beta.6
* Microsoft.Azure.Functions.Worker 1.6.0
* Microsoft.Azure.Functions.Worker.Sdk 1.3.0

Please see the function below
[code]

[2022-01-21 06:54] kinelski opened #26528 "[Text Analytics] Re-enable RecognizeHealthcareEntitiesBatchWithCancellation test"
The `RecognizeHealthcareEntitiesBatchWithCancellation` test works as follows:
1. Firstly, it sends a request to the service to start a long-running operation.
2. It immediately tries to cancel the operation that has just started.
3. It repeats the process above a few times until cancellation succeeds (pass), or until we exhaust the maximum number of attempts (fail).

We recently moved to a static

[2022-01-21 07:03] v-yilinhu opened #26529 "[Run .Net CI Script] Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=273202&view=results
- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=272936&view=results

@danieljurek for notification.

[2022-01-21 07:04] azure-sdk commented on #26529
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.4452057,Search:0.19571058,Azure.Core:0.10595554'

[2022-01-21 09:55] bgavrilMS commented on #26368
Oh, MONO is a bit of a pain :(. Is it possible to run via .NET Core which natively supports Mac and Linux?

[2022-01-21 10:07] plamber opened #26530 "Possibility to extend the IQueueProcessorFactory"
### Library name

Microsoft.Azure.WebJobs.Extensions.Storage.Queues

### Please describe the feature.

Based on the original conversation in this [repository](https://github.com/Azure/azure-webjobs-sdk/issues/2810#issue-1082890667)

Hi there!
I recently upgraded from Azure Functions v3 to Azure Functions v4. During this upgrade, I had to update Microsoft.Azure.WebJobs.Extensions.Storage.Queues ass

[2022-01-21 10:08] azure-sdk commented on #26530
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.5491413,Event Hubs:0.1965001,Functions:0.068448216'

[2022-01-21 10:42] jkmbowachas commented on #17284
@JoshLove-msft this is one of the solutions I am testing. Is this recommended? Also I was wondering the thought process behind attaching schema registry to event hubs if you don't mind me asking?

[2022-01-21 13:19] tkachuk2222 opened #26532 "How I can manage count of Outbound connections in azure function? [QUERY]"
### Library name and version

Microsoft.Azure.ServiceBus 5.1.3 Azure.Messaging.ServiceBus 7.2.1

### Query/Question

I have an azure function service bus trigger. With some periodicity, I have a lot of incoming messages into the service bus queue. Azure Function triggers by each new message. And because of a lot of messages I have troubles with Outbound connections -> other azure functions (f.e. t

[2022-01-21 14:11] jsquire commented on #26526
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-21 14:17] jsquire commented on #26524
Closing as a duplicate of #26523;  I've added the additional test run examples to the existing issue for this test.

[2022-01-21 14:17] #26524 closed

[2022-01-21 14:19] jsquire commented on #26532
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-21 14:20] #25196 closed

[2022-01-21 14:22] jsquire commented on #18656
This part of the process is covered by the work that @ckairen is doing to parse available packages and versions for consumption by the smoke tests.    Reassigning.

//cc: @benbp

[2022-01-21 14:33] ngcdev commented on #26368
Ah that's a good idea. I only need the integration tests to be executed under Linux, and I know I can use the .Net Framework 4.8 libraries from core. I can give that a try. I will just make sure that the current efforts do work in Windows (I'm almost 99.9% certain they will)
Yes, regarding Mono. In the past, I had to re-implement some deep down properties or methods that were missing in Mono (rela

[2022-01-21 15:02] kristjanjogi-msft opened #26533 "[BUG] Azure.ResourceManager.Dns.DnsManagementClient throws AggregateExceptions when retries are enabled"
### Library name and version

Azure.ResourceManager.Dns 1.0.0-preview.1

### Describe the bug

`Azure.ResourceManager.Dns.DnsManagementClient` throws `AggregateException`s when a network error occurs while querying DNS zones or record sets and retries are enabled (default).

For example, when restricting Internet connectivity (e.g. via ipconfig /release) `DnsManagementClient` will perform 4 retrie

[2022-01-21 15:02] azure-sdk commented on #26533
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.1969838,Azure.Identity:0.08161443,Azure.Core:0.07141813'

[2022-01-21 15:14] christothes commented on #26368
@ngcdev would you mind creating an issue for this over in the MSAL repo here?:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues

[2022-01-21 15:15] ngcdev commented on #26368
Will do!

[2022-01-21 15:18] christothes commented on #26368
Thanks - please reference this issue when you do so that they will be linked. I'm going to close this issue for now, since there appears to be nothing more we can do from the Azure.Identity perspective.

[2022-01-21 15:18] #26368 closed

[2022-01-21 15:27] jsquire commented on #26533
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-21 16:42] xtianus79 commented on #26321
@heaths Hey thanks, so that worked.. the <production> parameter was it. What's confusing in the docs is that it's the project name but not the deployed name. do you see what i mean? or vice versus for us because i used the same name but point is its one or the other not both.

[2022-01-21 17:47] ngcdev commented on #26368
Final comment: Did the integration test in .Net Core (5.0) and everything worked fine from an Ubuntu machine. Thanks for the quick responses!

[2022-01-21 17:48] pakrym opened #26534 "[FEATURE REQ] Merge RawRequestUriBuilder into RequestUriBuilder"
### Library name

Azure.Core

### Please describe the feature.

The RawRequestUriBuilder shared code hasn't changed for a long time and the feature it brings is pretty uncontroversial.

[2022-01-21 17:49] azure-sdk commented on #26534
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.2871134,Azure.Core:0.043691494,Azure.Identity:0.037565306'

[2022-01-21 17:57] pakrym commented on #26437
Consider banning Environment.GetEnvironemtVariable and forcing everyone through a common helper.

[2022-01-21 17:58] pakrym commented on #7864
Included in #25619

[2022-01-21 17:58] #7864 closed

[2022-01-21 19:28] pakrym commented on #8215
I'm not sure whether it's worth exposing at all as the only two properties it has are already on the exception itself.

[2022-01-21 19:28] #8215 closed

[2022-01-21 19:55] #25528 closed

[2022-01-21 20:04] jaschrep-msft commented on #26174
@dolenox Thank you for your patience.

While I'm not actually seeing the aggregate exception itself, I am seeing the rest of the behavior you describe. When the Storage account gets deleted from under the program, it shifts from successful message sending to failure state 1 for a few dozen requests to failure state 2.

In failure state 1, the client is receiving 404 responses with code "ResourceNo

[2022-01-21 20:30] pakrym commented on #18656
I think this is already covered by the installation check added by @ckairen. I'll let him close.

[2022-01-21 22:03] heaths commented on #26321
Sorry, not sure what you mean. Could you clarify? The parameters are named `projectName` and `deploymentName` and we have XML doc comments for both, or are you saying something in the Portal or Language Studio is confusing? I'd like to clear up any confusion, but not quite sure what that might be.

[2022-01-21 22:07] pakrym opened #26538 "Document the checkpoint migration support in EventHubs WebJobs extension"

[2022-01-21 22:57] jimt4593 opened #26542 "Incorrect description for the permissions parameter."
[Enter feedback here]
The permissions parameter description incorrectly repeats the description of the expiresOn parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af699d50-6ad8-f434-c93b-86e350520d7c
* Version Independent ID: 030b007d-8a0f-70f3-0d65-144e06eee25a
* Content: [BlobSasBuilder Constructor (Azure.Sto

[2022-01-21 23:03] ahsonkhan commented on #24671
You are absolutely correct, @KrzysztofCwalina. Doing a UTF-16 string to UTF-8 transcoding within the reader loop is relatively expensive, and caching that is a good optimization. In cases like these, where the results are surprising, it is helpful to re-evaluate how the code being measured is written, and if there is a side effect from the benchmark slowing things down.

[2022-01-21 23:13] christothes commented on #26255
Hi @Mike-E-angelo - sorry for the delay on this. We're working on finding the correct contact to help troubleshoot this, as it is more of an AAD configuration issue. I should have more information soon.

[2022-01-21 23:18] jimt4593 opened #26543 "The permissions parameter description is wrong."
[Enter feedback here]
The permissions parameter description incorrectly duplicates the expiresOn parameter description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d49f9c-4722-9d8e-0cbc-9f7dd7f7a7d2
* Version Independent ID: 4a433799-1586-9819-9496-9de9d23001db
* Content: [QueueSasBuilder Constructor (Azure.Storag

[2022-01-22 04:54] chrisAlio commented on #26513
Tested a bit more, it seems that if I wrapped these function calls in a Class Library/.dll for other layer of application to consume, then I got this connection closed error when call the functions in the dll, here is bit more information:
   at Azure.Core.Pipeline.RetryPolicy.<ProcessAsync>d__11.MoveNext()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at Syste

[2022-01-22 04:54] #26513 closed

[2022-01-22 05:48] chrisAlio commented on #26513
A bit more info.

  at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
   at System.Threading.Tasks.Task`1.get_Result()
   at InsideAllphase.ACS.CallClient.ACSCallClient.CreateUserIdentity()
   at InsideAllphase.Util.ACSClientNS.ACSCaller.CreateUserCallId() in ....\Util\ACSCl

[2022-01-22 09:57] xbaha commented on #26380
Hello, so I was able to reproduce the error easily, so here is what I did:
1. I removed all my code from the program and just left just AMSB code and ran it with the debugger.
2. after running the program and establishing the connection with azure, I disabled the internet from the router, waited 15-20 seconds, and enabled it again, I repeated this enable/disable for 3 times with 5 -10 seconds span

[2022-01-22 10:51] gabidabet commented on #25745
@MughundhanRaveendran-MSFT thank you for time and your solution. I will share the solution that we found, what we did is to add a policy that custum header to the AzureRequest that contains the retry number for that message, that policy will run for every retry, and we update the value of that header every time. Thank you again for great support and help.

[2022-01-22 14:02] Mike-E-angelo commented on #26255
Hey no worries @christothes, I wanted to make sure this is on the radar and it sounds like it is.  Thank you for the update and your efforts out there. 👍

[2022-01-22 20:19] ctstone commented on #26081
@kinelski , the behavior is intended. Form Recognizer relies on Azure Storage Blob which has the same prefix semantics.

[2022-01-23 07:29] HugoMatte opened #26551 "[BUG] Singleton queue processing"
### Library name and version

Microsoft.Azure.Webjobs.Extensions.Storage 5.0.0

### Describe the bug

I wish to run Blob Trigger Function to run one after another (not in parallel). I edit the host.json file to set "batchSize": 1. Work correclty in Microsoft.Azure.Webjobs.Extensions.Storage 4.0.5 but not on 5.0.0.  I also tried to add NewBatchThreshold=0 and I observe no differences.

See an old d

[2022-01-23 12:23] adriancuadrado opened #26552 "[BUG] InteractiveBrowserCredential authentication failed: Persistence check failed. Data was written but it could not be read."
### Library name and version

Azure.Identity 1.5.0

### Describe the bug

When I use `InteractiveBrowserCredential`, a browser opens as expected. But when I use `DefaultAzureCredential` with `includeInteractiveCredentials: true` I get this error:
[code]

### Expected behavior

The browser should open and ask for my credentials.

### Actual behavior

I get this error:
[code]

### Reproduction Steps

[2022-01-23 12:42] adriancuadrado opened #26553 "[BUG] System.InvalidOperationException: No subscriptions found for the given credentials"
### Library name and version

Azure.ResourceManager.Resources 1.0.0-beta.5

### Describe the bug

My program reports an error saying that I don't have subscriptions, but I do have a subscription.

### Expected behavior

My program should print the Id of my subscription.

### Actual behavior

It reports an error saying that I don't have subscriptions, but I do have a subscription.
[code]

### Repro

[2022-01-23 16:05] jsquire commented on #26552
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2022-01-23 16:06] jsquire commented on #26553
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-23 17:39] braddwalker commented on #21511
This bug is a spam cannon for my logs

[2022-01-23 22:03] vijumane commented on #26081
Thank you @kinelski and @ctstone for investigating. I confirm that it worked with '/' prefix. Unfortunately i couldnt find single online example of using "prefix" attribute anywhere, for sdk version 4.x, and in previous version it worked without such prefix. That is why reported as bug. Thanks !!

[2022-01-23 22:03] #26081 closed

[2022-01-23 23:32] unruledboy opened #26555 "[QUERY] add ip to SQL Server firewall"
### Library name and version

Microsoft.Azure.Management.Network.Fluent 1.38

### Query/Question

Hi,

I noticed the documentation of Microsoft.Azure.Management.Network.Fluent (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.network.fluent.iazurefirewallsoperations?view=azure-dotnet) has mentioned ip firewall rule, but it does not tell us exactly how to use it to add a serve

[2022-01-24 00:00] jsquire commented on #26555
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-24 00:33] unruledboy commented on #26555
Turned out we can use SqlManagementClient.FirewallRules.CreateOrUpdate to achieve it.

Thanks.

[2022-01-24 00:33] #26555 closed

[2022-01-24 02:26] archerzz commented on #26406
`Message.SetProperty("UserAgentOverride", _userAgent)` is an internal method, which:
- better not be used outside of Azure .Net SDK
- will override any other `user-agent` values including `user-agent` of SDK, which is not good for telemetry

However, after discussion, it seems not good to allow multiple `user-agent` as well, because back-end analytics might not be able to correctly handle the case

[2022-01-24 05:11] archerzz commented on #26406
I checked with Powershell team. And it looks like the backend analytics can support long strings. So appending custom `user-agent` headers seems the best option, e.g. the final header value will look like:

[2022-01-24 05:24] archerzz commented on #26406
Besides, in Powsershell + track1 SDK, the `User-Agent` is like below:

Note:
- In track1, we support `AddHeader`
- In track1, the custom header is appended, instead of generating an array

[2022-01-24 05:54] amit-batra opened #26557 "Default value of ServiceBusProcessor.PrefetchCount?"
[Enter feedback here]
Can you specify the **default value** of this property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67eef76a-11a2-81c8-b598-492e195b2839
* Version Independent ID: 6279f681-15a5-d1fc-1374-39c9644c54a0
* Content: [ServiceBusProcessor.PrefetchCount Property (Azure.Messaging.ServiceBus) - Azure for

[2022-01-24 05:55] amit-batra opened #26558 "Default value of ServiceBusProcessor.MaxConcurrentCalls"
[Enter feedback here]
Can you specify the **default value** of this property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5782cbd-730a-e055-8578-721ced8911f8
* Version Independent ID: 494e3f67-3931-f134-3d00-1352e63654fd
* Content: [ServiceBusProcessor.MaxConcurrentCalls Property (Azure.Messaging.ServiceBus) - Azur

[2022-01-24 06:03] ArthurMa1978 commented on #26553
@adriancuadrado did you get browser popup and say 'Authentication complete. You can return to the application. Feel free to close this browser tab.' ?
I can't repo this issue in my machine which I also have multiple subscriptions.

[2022-01-24 06:08] archerzz commented on #26415
@asmithgt I could not reproduce the error. However, it seems that there is an issue in the resource id: /subscriptions/<redacted-guid>/resourceGroups/AZNCPOCMTC_POC01/providers/**MICROSOFT.COMPUTE/VIRTUALMACHINES**/TESTVM

See the corresponding API definition: https://github.com/Azure/azure-rest-api-specs/blob/ac0ab10f7605f63dfb8854fede1dbf6daa9df825/specification/compute/resource-manager/Microsof

[2022-01-24 06:16] navba-MSFT commented on #26543
@jimt4593 Thanks for reporting this issue. I have created a [PR](https://github.com/Azure/azure-docs-sdk-dotnet/pull/2118) for the same and updated content owners to look into this. We will keep you posted about the progress.

[2022-01-24 06:24] navba-MSFT commented on #26542
@jimt4593 Thanks for reporting this issue. I have created a [PR](https://github.com/Azure/azure-docs-sdk-dotnet/pull/2119) for the same and updated content owners to look into this. We will keep you posted about the progress.

[2022-01-24 07:20] fengzhou-msft commented on #26496
The issue is caused by the current serialization bug and will be resolved in https://github.com/Azure/azure-sdk-for-net/pull/26497

[2022-01-24 07:44] amishra-dev commented on #26416
Hi @andrei-faber (Andrei)
Would it be possible to get me a fresh repo of this, something preferable in the last 48 hours?

[2022-01-24 07:56] fengzhou-msft commented on #26059
@marvinbuss with generic resource, you need to operate with a ResourceIdentifier of the child resource even with CreateOtUpdate. With your example, if you have a DataFactory with id `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}`, then a managed private endpoint child resource id should look like `/subscriptions/{subscrip

[2022-01-24 07:59] #25819 closed

[2022-01-24 08:01] marvinbuss commented on #26059
Thanks @fengzhou-msft. Let me give this a try and get back if I run into any issues with this approach.

[2022-01-24 08:07] navba-MSFT commented on #26198
@RDavis3000 This is a quick follow-up to check if you had a chance to look at my above comment. If you need further assistance, please feel free to get back to us on this thread.

[2022-01-24 08:25] navba-MSFT commented on #22100
@KarlZ This is a quick follow-up to check if you need any further assistance on this issue. Awaiting you reply.

[2022-01-24 09:14] navba-MSFT commented on #15693
@wcabus Apologies for the delay in fixing this issue. @amnguye Could you please let us know if you have any update on the fix for this issue ?

[2022-01-24 10:35] MughundhanRaveendran-MSFT commented on #26551
@HugoMatte , Thanks for reporting this issue. I will look into this issue and get back to you. In the meantime, could you please try deploying the function to Azure Functions runtime directly and see if the issue is seen there as well?

[2022-01-24 12:00] asmithgt commented on #26415
Thank you @archerzz - This is curious as the example value that I'm using is actually pulled directly from Azure Activity Logs.  I'm writing an event driven Azure Function to assist in managing our Azure environment so it ingests logs via EventHub.  See the screenshot below with two different versions of the Resource ID that I found from the EventHub Message Data:
![image](https://user-images.gith

[2022-01-24 13:49] arpja opened #26562 "[BUG] generate.ps1 is behaving unexpectedly"
### Library name and version

https://www.nuget.org/packages/Microsoft.Azure.Management.RecoveryServices.Backup/4.3.0-preview

### Describe the bug

We are seeing unexpcted behavior from the generate.ps1 in our recoveryservice.backup repo.
For multi-api packages the generate.ps1 is generating same clients for both packages which is leads to an compilation failure.

![image](https://user-images.git

[2022-01-24 13:50] arpja commented on #26562
tagging @pratimaupadhyay02 for FYI

[2022-01-24 14:00] jsquire commented on #26558
Hi @amit-batra.   Thank you for reaching out and we regret that you're experiencing difficulties.   The prefetch count defaults to 0.   Setting the value is done using the `ServiceBusProcessorOptions`, and its default value is documented as part of the [ServiceBusProcessorOptions.PrefetchCount](https://docs.microsoft.com/dotnet/api/azure.messaging.servicebus.servicebusprocessor.prefetchcount?view=

[2022-01-24 14:00] jsquire commented on #26557
Hi @amit-batra.   Thank you for reaching out and we regret that you're experiencing difficulties.   The prefetch count defaults to 0.   Setting the value is done using the `ServiceBusProcessorOptions`, and its default value is documented as part of the [ServiceBusProcessorOptions.PrefetchCount](https://docs.microsoft.com/dotnet/api/azure.messaging.servicebus.servicebusprocessor.prefetchcount?view=

[2022-01-24 14:37] jsquire commented on #26380
Hi @xbaha.  Thank you for confirming.   Given your statement in #3, it would seem that what you're describing is correct behavior; the loss of network connectivity is causing errors when attempting service operations which are handled by the SDK and retried until connectivity is restored or the application requests that the processor stop.

When the debugger is attached, it injects itself into the

[2022-01-24 14:41] MughundhanRaveendran-MSFT commented on #26152
@juanmalm , Following up to check if you got the chance to look into my previous comment. Please let me know

[2022-01-24 14:55] Prinsn opened #26564 "The migration document for ServiceBus lacks information on Dead Letter handling"
Very simply, the documentation (https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/MigrationGuide.md) is incomplete for performing migrations

[code]

There's no indication of how to migrate away from this.  SeviceBusMessage does not contain the same constant values, and ServiceBusReceiver.DeadLetterMessageAsync has a completely different signature from

[2022-01-24 15:05] juanmalm commented on #26152
Hi @MughundhanRaveendran-MSFT. My issue is reproducible 100%. It happened previously with VS2019 (I already uninstalled it) and right now it is happening with VS2022. I forgot to mention in repro steps that I'm joining to a meeting which currently has a Teams user connected with a Teams client in a MacBook Pro. I will try to reproduce it connecting with a user on a Windows client.

Later I will at

[2022-01-24 15:09] xbaha commented on #26380
Hello @jsquire
Thank you for your clarifications, I would like to mention first that this was not the default behavior of the previous Azure ServiceBus, as the connection can be rested off without any exception.
I also tried to continue on this exception, but it did not work, could you have a look at what happened?

![image](https://user-images.githubusercontent.com/10267198/150808845-09347be9-dad

[2022-01-24 15:11] PhilipLipnitskiNipo opened #26565 "[QUERY] Register an original ServiceBusReceiver to a DI Container for a ServiceBus-triggered WebJob"
### Library name and version

Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.2.0.0

### Query/Question

I have a WebJob with a ServiceBusTrigger.

In Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.*.*.* package it was possible to get a `MessagingProvider` and retrieve an original `MessageReceiver` which received a message to register it to DI Container.
[code]

With a package update `MessagingPr

[2022-01-24 15:26] Prinsn commented on #18886
Just want to really highlight this comment, as of now, this is an irrelevant statement with .NET 6, which expects you to use Azure.Messaging.ServiceBus

[2022-01-24 15:39] jsquire commented on #26565
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-24 15:39] jsquire commented on #26564
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-24 15:53] andrei-faber commented on #26416
@amishra-dev Hi. It happens completely randomly. If it happens again, I'll post it here.

[2022-01-24 16:03] andrei-faber commented on #24785
@Yao725 thanks.
By the way, is there any reliable way to identify the kind of the resource? I see that Data.Kind can be used for this, but it uses a string rather than enum and some resource types don't have this info at all.

[2022-01-24 16:04] juanmalm commented on #26152
Here you have the code I'm using. I can share with you the project and a video showing the issue if you provide me an email address.

**MainPage.xaml.cs**

[code]

**Authenticator.cs**

[code]

[2022-01-24 16:42] asgoe commented on #26140
@jsquire, @xgithubtriage, its been more than 2 weeks without any action on this. Can this please be assigned to the correct team? This is a blocker for us.

[2022-01-24 16:49] jackbond commented on #23291
/unresolve

Seriously, is Azure strapped for cash??? There is NO WAY it should take this long to get out an EventHub Management SDK that supports Azure.Core.TokenCredential.

[2022-01-24 16:51] jsquire commented on #26140
Hi @asgoe.   I'm sorry to hear that there hasn't been further engagement.  Unfortunately, this has already been triaged to the correct team and I have no insight into its current state.    @amishra:  Is there any insight that you're able to provide?

[2022-01-24 17:29] kinelski commented on #26521
Fixed by https://github.com/Azure/azure-sdk-for-net/pull/26418.

[2022-01-24 17:29] #26521 closed

[2022-01-24 17:32] navba-MSFT commented on #26543
PR #26571

[2022-01-24 18:35] schaabs opened #26574 "[Identity] fix casing of troublshooting.md to match other top level md files"
The file name casing of https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/troubleshooting.md doesn't match the convention of using all uppercase for top level md files, such as README.md and CHANGELOG.md.
- [ ] Rename troubleshooting.md to TROUBLESHOOTING.md
- [ ] Update all references in the readme or other docs, as well as any aka.ms links.

[2022-01-24 18:47] christothes commented on #26552
Hi @adriancuadrado
This occurs because internally `DefaultAzureCredential` configures the persistent token cache, which requires LibSecret to be configured. As a workaround, you could construct your own credential using `ChainedTokenCredential`. https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/identity/Azure.Identity#define-a-custom-authentication-flow-with-the-chainedtokencredential

[2022-01-24 18:54] christothes opened #26575 "DefaultAzureCredential should not throw if InteractiveBrowserCredential fails due to LibSecret errors"
### Library name

Azure.Identity

### Please describe the feature.

When running on Linux with DefaultAzureCredential when `includeInteractiveCredentials` is set to true, we throw if LibSecret is not configured rather than treating the credential as unavailable. This scenario should be handled and the next credential in the chain should be tried.

#26552

[2022-01-24 19:11] danieljurek commented on #26229
Update here: This should be fixed and live before the end of the week.

I'm testing a redirect which will fix this problem by redirecting browsers that land on the [storage.confidentialledger](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage.confidentialledger-readme-pre) page to [security.confidentialledger](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/security.con

[2022-01-24 19:15] pakrym opened #26576 "Test that Tables extension supports StorageAccountAttribute"

[2022-01-24 20:12] karshinlin opened #26578 "Switch to using the newest API version for Managed Identity tokens on App Service platform"
https://github.com/Azure/azure-sdk-for-net/blob/0909c641d6066094b524028cb14eadc50f8a6df2/sdk/identity/Azure.Identity/src/ManagedIdentityClient.cs#L45

Current ManagedIdentityClient uses the 2017 API, but the 2019 API is in this class: https://github.com/Azure/azure-sdk-for-net/blob/0909c641d6066094b524028cb14eadc50f8a6df2/sdk/identity/Azure.Identity/src/AppServiceV2019ManagedIdentitySource.cs#L12

[2022-01-24 20:12] azure-sdk commented on #26578
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Service:0.51554537,Client:0.2726074,Mgmt:0.19229685'

[2022-01-24 20:52] #26574 closed

[2022-01-24 21:38] pakrym commented on #23774
We can reference/copy https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.defaultproxy?view=net-6.0#remarks

[2022-01-24 21:38] #23315 closed

[2022-01-24 21:44] adriancuadrado commented on #26553
@ArthurMa1978 Yes I got that from the web browser. Is there a way to securely provide temporal access to someone in your team to see if the error can be reproduced with my account?

[2022-01-24 21:49] pakrym commented on #14250
We haven't had more requests for this feature.

[2022-01-24 21:49] #14250 closed

[2022-01-24 22:17] SaurabhSharma-MSFT commented on #26530
@plamber We are looking this and get back to you for any questions.

[2022-01-24 22:30] heaths commented on #23774
Did we replicate that functionality to support < netcoreapp3.0 (based on the "applies to" section)? Copying seems appropriate to me. A reference might update when we don't.

[2022-01-24 22:35] marvinbuss commented on #26059
Hi @fengzhou-msft,
When I do the following:

[code]

The following method fails: Azure.ResourceManager.Resources.GenericResource+<GetApiVersionAsync>d__27.MoveNext
Is there any option to set the api version?

[2022-01-24 23:10] SaurabhSharma-MSFT commented on #26447
@upton2805 Can you please share the documentation which you are talking about. Also, could you please check [this](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/analytics.purview.catalog-readme-pre) document for using Azure Purview Catalog client.

[2022-01-24 23:24] pakrym commented on #23774
Yep: https://github.com/Azure/azure-sdk-for-net/blob/4162f6fa2445b2127468b9cfd080f01c9da88eba/sdk/core/Azure.Core/src/Pipeline/Internal/HttpEnvironmentProxy.cs

[2022-01-24 23:45] jsquire opened #26582 "[DEMO] InteractiveBrowserCredential authentication failed: Persistence check failed. Data was written but it could not be read."
### Library name and version

Azure.Identity 1.5.0

### Describe the bug

When I use `InteractiveBrowserCredential`, a browser opens as expected. But when I use `DefaultAzureCredential` with `includeInteractiveCredentials: true` I get this error:
[code]

### Expected behavior

The browser should open and ask for my credentials.

### Actual behavior

I get this error:
[code]

### Reproduction Steps

[2022-01-24 23:47] jsquire commented on #26582
This issue was used for demoing bot functionality; closing.

[2022-01-24 23:47] #26582 closed

[2022-01-24 23:47] adriancuadrado commented on #26553
I did some research capturing the requests and responses of my program using the Postman "Capturing requests via proxy" feature, but only some POST requests to https://vortex.data.microsoft.com/collect/v1 and a POST request to https://clients4.google.com/chrome-sync/command/?client=Google+Chrome&client_id=... were captured. The clients4.google.com request had some unintelligible data in the POST b

[2022-01-24 23:53] adriancuadrado commented on #26552
Dumb question: How do I configure LibSecret?

[2022-01-25 00:26] SaurabhSharma-MSFT commented on #26292
@andyhammar Do you have any vnet integration enabled in your Azure Function.  If yes, I suspect vnet integration was not completed successfully hence you are getting these errors.
Also, can you please check for any info / exceptions by going to your function app > Diagnose and solve problems > Availability and Performance > Function App Down or Reporting Errors to look for any specific errors.

[2022-01-25 00:56] SaurabhSharma-MSFT commented on #26519
@mrzr1024 What do you mean by stream. Do you mean creation time of adls output or the actual data being written to adls through output stream?.

[2022-01-25 01:47] avanigupta opened #26584 "[BUG] DefaultAzureCredential takes a long time to authenticate"
### Library name and version

Azure.Identity 1.5.0

### Describe the bug

Using `DefaultAzureCredential` for authentication takes a very long time in package version 1.5.0.
The following code snippet takes ~3.5 seconds to run with Azure.Identity v1.4.0, and ~12.5 seconds with Azure.Identity v1.5.0.

[code]

### Expected behavior

DefaultAzureCredential should not take >12 seconds to load credentia

[2022-01-25 02:00] RDavis3000 commented on #26198
@navba-MSFT
Thanks there is a lot of good information here and I now understand what was going on with my code. It turns out it was because I was shutting the function app down (in DEV) and assumed that EG would just wait indefinitely! So wasn't a problem with my code but with my understanding of the loose coupling between EG and subscriber state. Now that I've read everything you sent the behavio

[2022-01-25 02:08] Yao725 commented on #24785
@andrei-faber You can use `resource.Id.ResourceType` to get the type of the resource.

[2022-01-25 03:00] unruledboy opened #26586 "[QUERY] bad request while creating Active Directory application"
### Library name and version

Microsoft.Azure.Management.Fluent 1.0.0.70

### Query/Question

We try to create an Azure AD app registration with the sample code in https://stackoverflow.com/questions/45392618/how-can-i-create-an-azure-ad-application-using-the-fluent-api   with some minor change due to API changes:

[code]

It gave the following error:

I tried quite a few other combinations, like

[2022-01-25 03:00] azure-sdk commented on #26586
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Azure.Identity:0.4721407,Monitor - ApplicationInsights:0.1610577,ARM:0.063880235'

[2022-01-25 03:51] JoshLove-msft commented on #26565
Hi @PhilipLipnitskiNipo,
Can you tell us a bit more about what you need the receiver for? Also, as a workaround, you could subclass the MessagingProvider and thereby have access to the receiver.

[2022-01-25 04:40] pratimaupadhyay02 commented on #26562
Hi @ArthurMa1978 can you please help with the issue

[2022-01-25 05:54] tg-msft commented on #25626
Yes @pakrym, this was meant to track everything blocked on `RequestOptions`, but I just split it into three lists to make it clearer which would expose `RequestOptions`, which would merely make use of it, and which we could do either way.

[2022-01-25 06:48] navba-MSFT commented on #26198
@RDavis3000  Thanks for getting back. I did some research around this and sharing you the below details if it helps.

As per [this](https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#dead-letter-events) article:

Also Probation just means the EG subscription endpoint is repeatedly unreachable or returning errors. This will cause EG to skip the typical retry. Meaning, 'probation'

[2022-01-25 06:50] unruledboy opened #26589 "[QUERY] Support API Management Services (APIM)"
### Library name and version

Microsoft.Azure.Management.Fluent 1.0.0.70

### Query/Question

I could not find the support of API Management Services. Currently I need to use `IAzure.GenericResources` to workaroud it, just to obtain the generic object. But it would be great if we have native support of the Azure API Management services.

### Environment

Hosting platform or OS and .NET runtime ver

[2022-01-25 07:34] chunyu3 opened #26590 "Add 'Automation tempate checkness' in CI pipeline"
add a step in azure-sdk-for-net pipeline to generate a sample sdk to validate the correctness of the automation template and the scipts.

[2022-01-25 08:29] v-yilinhu opened #26592 "Azure WebJobs Tables Readme issue"
Section [link](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/tables/Microsoft.Azure.WebJobs.Extensions.Tables#examples):
![image](https://user-images.githubusercontent.com/76771069/150939315-0b8d2a01-b088-4190-a4e7-44598fff1183.png)
Suggestion:
Update ' [https://docs.microsoft.com/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp]  ' to ' (https://docs.microsoft.

[2022-01-25 08:38] RetYn opened #26593 "[QUERY]Will UploadAsync operation failed when other instance are acquiring Lease"
### Library name and version

Azure.Storage.Blobs

### Query/Question

Consider that situation:
If Instance A is doing UploadAysnc without lease named RequestA, while at the same time Instance B is using BlobLeaseClient - AcquireAsync  to get lease named RequestB.
Will any of these two request failed when blob is serving RequestA while RequestB arrived at the same time?

### Environment

_No respo

[2022-01-25 08:49] navba-MSFT commented on #19554
@shankarsama Could you please look into the typo in [this](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.acceptmessagesession?view=azure-dotnet) docs and update it once you get a chance ? cc: @ramya-rao-a

[2022-01-25 11:27] arpja commented on #26562
Turns out this was due to a typo in the path that we added for our passive stamp package.
Correcting the name help resolve the issue, closing this bug.

[2022-01-25 11:27] #26562 closed

[2022-01-25 13:49] scottaddie commented on #24156
Microsoft.Azure.OperationalInsights was deprecated on Jan. 6th.

[2022-01-25 13:50] scottaddie commented on #25299
@nisha-bhatia Can this issue be closed now?

[2022-01-25 13:54] scottaddie commented on #25763
This is a problem for all .NET client libraries. Issue https://github.com/Azure/azure-sdk-tools/issues/2438 will be used to track this feature request.

[2022-01-25 13:54] #25763 closed

[2022-01-25 14:34] jsquire commented on #26586
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-25 14:36] jsquire commented on #26589
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-25 14:55] DOMZE commented on #26417
Any updates on this or guidance?

[2022-01-25 15:22] andrei-faber commented on #24785
@Yao725 I see. Thanks.

[2022-01-25 15:22] #24785 closed

[2022-01-25 16:54] tegrit-joe-trupiano commented on #17216
Did you get any updates I just ran into the same issue using devops/msbuild?

ASPNETCOMPILER(0,0): Error ASPRUNTIME: Type is not resolved for member 'Azure.Identity.CredentialUnavailableException,Azure.Identity, Version=1.5.0.0, Culture=neutral, PublicKeyToken=92742159e12e44c8'.
Process 'msbuild.exe' exited with code '1'.

[2022-01-25 18:16] cstfr opened #26596 "[BUG]"
### Library name and version

Cognitive - Form Recognizer V2 and V3

### Describe the bug

This happens with the preview version as well as the stable version.
Last line  with one cell in a table is missing

### Expected behavior

The last row of the table contains only one cell. nevertheless it should belong to the table detected by FormReconizer.

### Actual behavior

Last line  with one cell in

[2022-01-25 18:22] brianjscho commented on #25501
Any update on this?  We're about 3+ months away from .Net 5 no longer being supported and would like to migrate to .Net 6 without having to code around this issue.

[2022-01-25 19:16] annelo-msft commented on #25626
@pakrym, we are exploring how to address this without exposing `RequestOptions` in HLC public APIs.

[2022-01-25 19:43] christothes commented on #26552
I couldn't tell you 😄 I've never configured it myself. My guess is that you have to setup D-Bus though based on the error message.  Does `ChainedTokenCredential` work for you though?

[2022-01-25 20:01] coppercosmo commented on #26503
@Yao725 Any update on this?

[2022-01-25 20:19] adriancuadrado commented on #26552
According to [this documentation](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet) _DefaultAzureCredential_ attempts these credential types in order:
* EnvironmentCredential
* ManagedIdentityCredential
* SharedTokenCacheCredential
* VisualStudioCredential
* VisualStudioCodeCredential
* AzureCliCredential
* AzurePowerShellCredential
* InteractiveB

[2022-01-25 20:25] adriancuadrado commented on #26552
If it **is** a requirement for the _DefaultAzureCredential_ to work to have LibSecret configured, shouldn't this be mentioned in the documentation? It wouldn't make sense however, because what does _DefaultAzureCredential_ have that my _ChainedTokenCredential_ in the previous comment doesn't to have it asking for LibSecret to be configured? If my _ChainedTokenCredential_ didn't ask for it, _Defaul

[2022-01-25 20:46] christothes commented on #26552
The difference is that `DefaultAzureCredential` configures the token cache by default, which requires LibSecret to protect the cache on disk.

I agree that there is a bug here, and I created and linked #26575 to track this. I'll go ahead and close this issue if the only remaining issue is represented in #26553 .

[2022-01-25 20:48] christothes commented on #26553
I can't reproduce this on Windows - is it specific to WSL?

[2022-01-25 21:07] jsquire commented on #26596
Hi @cstfr.  Thank you for reaching out and we regret that you're experiencing difficulties.   Unfortunately, this repository is only able to assist with packages for the Azure SDK for .NET.   Form Recognizer Studio is not something that we have insight into.   I'd recommend opening an [Azure Support Ticket](https://docs.microsoft.com/azure/active-directory/fundamentals/active-directory-troubleshoo

[2022-01-25 21:07] #26596 closed

[2022-01-25 21:20] norton287 opened #26602 "Need an example for how to implement this"
[Enter feedback here]

Is there an example of using this somewhere?  Or can one be provided?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 918d059f-8e92-166e-e98d-f89a097c67f8
* Version Independent ID: 2a956f03-1dbe-086a-9b07-0ae1217c50fb
* Content: [BlobContainersOperationsExtensions.SetLegalHold(IBlobContain

[2022-01-25 21:20] SatishBoddu-MSFT commented on #26530
Hello @plamber Thanks for submitting this feature request as per the previous conversation on [Link](https://github.com/Azure/azure-webjobs-sdk/issues/2810#issuecomment-1018356532)

We are routing this to the Service team to further review.

[2022-01-25 21:47] nisha-bhatia commented on #25299
This issue has been resolved with release 1.1.0.

[2022-01-25 21:47] #25299 closed

[2022-01-25 22:09] adriancuadrado commented on #26553
I just checked now and apparently this also happens in Windows, not only inside WSL.

[2022-01-25 22:16] kinelski opened #26605 "[FormRecognizer] Investigate test failures in 2022-01-30.preview version"
Investigate and fix test failures, and re-enable the following tests:
- [x] `StartAnalyzeDocumentCanParseMultipageReceipt`
- [x] `StartAnalyzeDocumentPopulatesDocumentPageJpg`
- [x] `StartAnalyzeDocumentPopulatesExtractedInvoiceJpg`
- [x] ~`StartAnalyzeDocumentPopulatesExtractedReceiptJpg`~ Moved to https://github.com/Azure/azure-sdk-for-net/issues/27083

[2022-01-25 22:16] christothes commented on #26584
This sounds like a duplicate of https://github.com/Azure/azure-sdk-for-net/issues/24767

[2022-01-25 22:22] #22328 closed

[2022-01-25 22:23] #26592 closed

[2022-01-25 22:26] #10450 closed

[2022-01-25 22:28] christothes commented on #24717
Does this problem still exist in the latest version of the package?

[2022-01-25 22:30] #24766 closed

[2022-01-25 22:36] christothes commented on #25458
Unfortunately, we have to live with the bad behavior to avoid breaking existing code that may not handle the new exception properly.

`AggregateException` is only thrown when there is more than one exception thrown as part of the retry loops. This is expected.

[2022-01-25 22:36] #25458 closed

[2022-01-25 22:56] christothes commented on #26289
Can you reproduce this with a version of Azure.Security.KeyVault.Secrets v [4.3.0-beta.2](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Secrets/CHANGELOG.md#430-beta2-2021-10-14) or later?

That version added a new feature that will "discover" the correct tenant Id based on the challenge coming back from the service. Assuming the current account is a mem

[2022-01-25 23:07] #22176 closed

[2022-01-25 23:12] #20807 closed

[2022-01-25 23:19] pakrym commented on #19316
https://github.com/Azure/azure-sdk-tools/issues/1950 should handle this.

[2022-01-25 23:44] jamesosb-msft commented on #24717
IIRC, the issue I was facing had more to do with access policies on the storage account itself.  My false assumption was that 'owner' role would provide table write access.  It does not; I had to add Storage Table Data Contributor access as well.

[2022-01-26 00:55] SaurabhSharma-MSFT commented on #26253
@otwebti The idleness is based on the topic and this property set the duration for which topic must be idle before it is deleted automatically.  Please refer to the [documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-expiration#idleness) to understand the idleness of different entities (Queue, Topics,Subscriptions).

Thanks
Saurabh

[2022-01-26 02:09] kinelski opened #26612 "[FormRecognizer] Migrate to test-proxy"
We needed to revert part of the changes introduced in https://github.com/Azure/azure-sdk-for-net/pull/25879 because tests using the `DisableRequestBodyRecording` scope would fail in Record mode (even though they work just fine when running Live).

Now we need to understand what exactly is causing the problem, fix it, and remove the `useLegacyTransport: true` argument we pass in the `DocumentAnalys

[2022-01-26 02:17] JoshLove-msft commented on #19691
I'm hitting this as well when trying to migrate management recordings to use Test Proxy

[2022-01-26 02:19] JoshLove-msft commented on #19691
It's unclear to me whether this is an issue in Azure.Core or in the service response.

[2022-01-26 02:47] archerzz commented on #24273
`Microsoft.Azure.Management.Maps` hasn't been updated for 3 years. We need to ping service team to update the SDK. Otherwise , it will take quite some time to wait for `Azure.ResourceManager.Maps`.

[2022-01-26 03:11] #26406 closed

[2022-01-26 03:50] archerzz commented on #26016
@GFernandesS We need to wait for the service team to update SDK, because `FailActivity` was added on Jan 6, 2022: https://github.com/Azure/azure-rest-api-specs/pull/17189

[2022-01-26 05:03] HaoK commented on #25501
Sorry I missed this, we'll try to take a look at this in triage this week

[2022-01-26 06:12] JoshLove-msft commented on #26612
I can re-migrate once https://github.com/Azure/azure-sdk-tools/issues/2434 is addressed in Test Proxy.

[2022-01-26 06:14] archerzz commented on #25385
@LeonB87 This is a tricky part in track2 mgmt SDK that we follow the .Net guidelines. Especially, for collection properties, we follow [this one](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections#collection-properties-and-return-values):

For your case, you could add `80` and `443` by:

[code]

[2022-01-26 06:20] archerzz commented on #24662
This is about authorization requirement for CSP, better to let service team to answer.

But, @mesgar have you met all the prerequisites mentioned [here](https://docs.microsoft.com/en-us/rest/api/support/#prerequisites)?

[2022-01-26 06:24] fengzhou-msft commented on #26059
The issue is caused by the way GenericResource gets the api version for the resource type:
`string version = await ClientOptions.ApiVersions.TryGetApiVersionAsync(Id.ResourceType, cancellationToken).ConfigureAwait(false);`
It relies on you to pass in the api version for the resource type when you create the Client with ClientOptions.

In latest code, it's fixed with an API call:
`string version =

[2022-01-26 06:55] archerzz commented on #26415
@asmithgt I think it would be better to honor the standard. URL case is a hot problem, see https://webmasters.stackexchange.com/questions/90339/why-are-urls-case-sensitive:

The `recordId` property returned from Azure Activity Logs are not correctly formatted. It makes every letter upper case. That looks like a bug to me.

[2022-01-26 07:04] ArcturusZhang commented on #25312
Hi @aelij we recently did a little bit refactor on the ResourceIdentifier class. We moved it to `Azure.Core`.
In the latest version of Azure.Core (1.22.0), you could find this class, and your code is working as expected. Therefore I believe the bug should be fixed.
[code]
Result of this program:
![image](https://user-images.githubusercontent.com/10554446/151118004-91fe19be-184b-4ea4-8d06-9e0c3b239

[2022-01-26 07:05] ArcturusZhang commented on #26489
We are changing the implementation of this in the resourcemanager now. cc @fengzhou-msft

[2022-01-26 07:09] ArcturusZhang commented on #24625
We have already done that in the latest api-version of storage (2021-08-01). Could you please confirm that when you are available @AlexanderSher ?
But unfortunately we did not change it in all the previous api-versions.

[2022-01-26 07:53] aelij commented on #25312
Thanks, looks like it's fixed

[2022-01-26 07:53] #25312 closed

[2022-01-26 08:12] Frey-Wang commented on #26016
Hi @GFernandesS , the next update will be early Feb. We'll notice you then once completed.

[2022-01-26 08:54] liurunliang commented on #26062
Hi @qcnguyen, please use SubResource with ARM resource id for creating frontdoor. Here is an example.
[code]

[2022-01-26 09:53] Hossam-Hazem opened #26616 "[QUERY] Do Storage.Blobs clients auto refresh ClientCertificateCredential token on expiry?"
### Library name and version

Azure.Storage.Blobs 12.10.0, Azure.Data.Tables 12.3.0

### Query/Question

I didn't find this info mentioned explicitly any where in the docs so I wanted to double check if we need to handle the token renewer and refresh mechanism ourselves like in SDK V11 or is it provided by default by the storage SDKs?

### Environment

_No response_

[2022-01-26 10:19] mesgar commented on #24662
Hi @archerzz

Well, I was already gave up.
Since the prerequisites says we have to buy extra support for each CSP tenant.
We do need to buy extra support when we use web system for SR but we need extra support for each tenant when using API.
Is this a bug or something?
Since we already bought "Microsoft Premier Support for Enterprise" the API should be usable without extra fee for support just lik

[2022-01-26 12:04] AnnejanBarelds opened #26618 "ServiceBusSessionProcessor seems to be able to get session messages out of FIFO order. Is this intentional?"
### Library name and version

Azure.Messaging.ServiceBus 7.5.1

### Query/Question

Hi. I'm currently playing around with Service Bus sessions to get to the bottom of how the FIFO behavior is working. And I'm observing behavior that I wouldn't have expected, so I'm curious if this is intentional.

The setup is quite basic.
- I have a session-enabled queue, and a sender that sends 10 messages to it

[2022-01-26 13:38] brianjscho commented on #25501
In case it matters, we've been downloading and installing the Windows _Hosting Bundle_ from the official .Net Download site on our VMs.  We've been doing this for all versions of .Net Core.

[2022-01-26 13:51] jsquire commented on #26618
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-26 17:04] #24717 closed

[2022-01-26 17:50] Petermarcu opened #26621 "[BUG] Multiple subscriptions lead to "Invalid Issuer" when attempting to authenticate to KeyVault"
Opening on behalf of a customer who reported this through VS.

### Library name and version

Azure.Security.KeyVault.Secrets

### Describe the bug

I’m attempting to use KeyVault for configuration. It was previously working. Now, however, it’s giving me a 401 exception with “Invalid issuer. Expected one of https://sts.windows.net/{id1}/, https://sts.windows.net/{id2}/, https://sts.windows.net/{id3

[2022-01-26 17:54] jsquire commented on #26621
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2022-01-26 17:59] Petermarcu commented on #26621
When I have hit this before, it was caused by something higher in the order of resolution being logged in with a different account.

https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet

To confirm that was the case, I removed DefaultAzureCredential and used the specific credential type I expected to work. In this case, it looks like you want the CLI

[2022-01-26 18:48] Prinsn opened #26622 "[QUERY] Blocked on SocketException when migrating from .NET Core 3.1 to .NET 6, seeking next steps"
### Library name and version

Azure.Messaging.ServiceBus 7.5.1, Microsoft.Azure.Functions.Extensions 1.1.0, Microsoft.Azure.KeyVault 3.05, Microsoft.Azure.AppAuthentication 1.6.2, Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.2.0, Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0, Microsoft.Azure.WebJobs.Host.Storage 4.0.4, Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider 1.2.0, Mic

[2022-01-26 18:55] heaths commented on #26621
What Peter indicated is most often the case. Could the original issue author make sure they are logged into the right tenant? Note that the DefaultAzureCredential checks for credentials in the order displayed here: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/README.md#defaultazurecredential. So, for example, Visual Studio credentials are checked (and used, if p

[2022-01-26 19:16] will-bartlett commented on #26255
I looked into this a little - I work on the web service. For this particular request

Trace ID: fe4ffa10-d2aa-4f06-a13f-382d2deb3002
Correlation ID: 83523e02-7be3-41e8-ab73-4dafc271a8dd
Timestamp: 2022-01-11 18:02:56Z

It looks like MSAL is using an authority of https://login.microsoftonline.com/f8cdef31-a31e-4b4a-93e4-5f571e91255a. This is almost certainly NOT the authority MSAL wants to be using

[2022-01-26 19:31] Prinsn commented on #26622
Also, this might be red herring, but it comes off as very strange and suspect to me, as part of the startup there appears to be an amount of spam of a single log message about 20 times per function (when the topic queues are empty so that there shouldn't even be messages to be receiving other than basic subscription)

[2022-01-26T19:24:59.620Z] A ServiceBusReceiver has been created (Identifier '<t

[2022-01-26 20:00] avanigupta commented on #26584
Looks like the delay comes from ManagedIdentityCredential, as discussed in the other issue you linked. But this is still a significant delay compared to 1.4.0. Is there any plan to refactor DefaultAzureCredential to reduce the extra time taken by ManagedIdentityCredential?

[2022-01-26 20:21] jsquire commented on #26622
Hi @Prinsn.  Thank you for reaching out and we regret that you're experiencing difficulties.   That exception indicates an issue with network connectivity; unfortunately, it originates within the .NET runtime stack, so it is out of control of the SDK.   From the stack trace, it appears that there may be an issue during the SSL handshake.

For next steps, it would be helpful to know:

- Are you abl

[2022-01-26 20:22] jsquire commented on #26622
With respect to your concern over the log entry:

[code]

This indicates that the function trigger was attempting to read a single message from Service Bus, not that a message was present.

[2022-01-26 20:39] #23338 closed

[2022-01-26 21:12] Prinsn commented on #26622
Is there any concern that it is being logged 127 times?

Regarding the first one, is this at all ruled out for that these functions already exist and function in 3.1?  I am uncertain of how to initiate a stand alone function to test this, as it's been approximately two years since having to "stand up" about 20 different topics in Azure.

The follow up for converting to websockets, and the example,

[2022-01-26 21:46] adityamandaleeka commented on #25501
Triage: we don't believe this is ANCM-related based on the info in this issue so far.

It might be related to this: https://github.com/dotnet/runtime/issues/61798

Concurrent HttpHeader access isn't safe, and a change in .NET 6 revealed a bunch of these types of issues: https://github.com/dotnet/runtime/pull/54130

Can someone from the Azure SDK team reassign this bug to fix the concurrent access?

[2022-01-26 22:02] #26468 closed

[2022-01-26 22:13] jsquire commented on #26622
Service Bus is pull-based, so the trigger needs to poll.   The SDK emits verbose logs for all service operations.   If I'm reading between the lines, I believe what you're asking is "does the function need to push verbose logs to AppInsights?"    That is something that can be configured:

[code]

There's a bit more context in the discussion on #25865, if you're interested.    @JoshLove-msft may ha

[2022-01-26 22:23] jsquire commented on #26622
I do not believe that it is.   Our nightly test runs validate the SDK itself and the Functions extension package against .NET Core 3.1, .NET 5, and .NET 6 nightly.  Because of that, I don't believe that we can clearly say "the move to .NET 6 broke things."    More likely, it would be a combination of the functions host version + platform interacting in some unexpected way with the network.

It wou

[2022-01-26 22:25] jsquire commented on #26622
One other thing that would be helpful - is there any chance that you're able to package a small repro?   If you're seeing this consistently, we'd be very interested in attempting to repro locally.   If we're able to do so with the same app code and our Azure resources, that would then point the finger at something within the application code or its dependencies and rule out the local network or co

[2022-01-26 22:38] alexkarcher-msft opened #26629 "[FEATURE REQ] Restore metadata in track 2 PartitionData Class"
### Library name

Azure.Messaging.EventHubs.Consumer

### Please describe the feature.

In the track 2 version of the PartitionData class there is no longer any of the metadata present in the track 1 version of that same class. Specifically, we are in need of access to the event hub path, which has been removed.

[Track 1 Partition Data](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.

[2022-01-26 22:45] davidwoodward opened #26630 "[QUERY] ServiceBus Request-Response pattern resulting in exception "Operation is not valid due to the current state of the object.""
### Library name and version

Azure.Messaging.ServiceBus 7.5.1

### Query/Question

This is a 2 fold question and/or issue.  I have a request response pattern implementation that is behaving odd.  The processor receive mode is PeekLock.  And the response queue is a session enabled queue.

When run through without calling CompleteMessageAsync, the messages are removed from the queue.  If I call Com

[2022-01-26 23:20] Prinsn commented on #26622
It doesn't appear that we have this set.  It wasn't an issue of wanting to log errors, my concern is that it is producing 127 different logs, which doesn't seem like there'd be any reason to do anything 127 times in under a second, especially if it's not a recurring polling behavior.  I brought it up merely as a "maybe this is indicative of something configured poorly somewhere else"

Understood.

[2022-01-26 23:33] karshinlin commented on #26578
It looks like this is just docs needing an update. The Linux consumption platform pieces have been deployed for a while with the new API version. Azure.Identity package should be able to move to 2019 API with the appropriate versioning requirements.

[2022-01-26 23:37] Prinsn commented on #26622
Confirming that the 3.1 version connectivity to the Azure hosted functions is seamless.

[2022-01-26 23:50] heaths opened #26632 "Spelling errors in Azure.Identity Troubleshooting Guide"
There are spelling errors in the sdk/identity/Azure.Identity/TROUBLESHOOTING.md file, like "Mananged" and "Authenticaiton". Headers and links will need to be adjusted.

The Microsoft Docs pack is also reporting duplicate headers, which can generate ambiguous bookmarks.

Given that generated header stubs would change and you'd have to add a `<a name="{old header stub}"></a>` to retain them, now mig

[2022-01-27 00:27] m-nash opened #26633 "Make test recorder more efficient when recording LROs"
### Library name

Azure.Core.TestFramework

### Please describe the feature.

Right now when an LRO is recorded in the worst case where the service doesn't send back a Retry-After header the default will be to query for status every second.  In management plane quite a few of our test cases take 15-60 minutes to record which results in an extremely large file which adds to test playback execution

[2022-01-27 00:27] azure-sdk commented on #26633
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Cognitive - Form Recognizer:0.26791137,Service Bus:0.17913784,Storage:0.07234221'

[2022-01-27 00:34] dingmeng-xue commented on #26470
Keep it warm. We are creating environment with the latest Az.Account which is using Azure.Identity 1.5.0

[2022-01-27 00:42] ShriGrover opened #26634 "Examples section is not formatted or valid."
![image](https://user-images.githubusercontent.com/25351278/151270533-a7d89109-6b6a-493c-ab49-fb8a075a360e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f818233-3780-fec6-3d5b-e0f69d35bf6f
* Version Independent ID: 1c3c2e48-d050-05a9-c7a1-8f3292f9c62a
* Content: [UniqueKeyPolicy Class (Microsoft.Azure.Cosmos) -

[2022-01-27 01:01] schaabs opened #26635 "ArmClientOptions should be updated to take Audience rather than Scope"
The Azure SDK has a pattern for how to configure the authentication for services using distinct scopes for sovereign clouds. This entails including an `Audience` property in the client options, exposing an extensible enum which defines the audience for all well-known clouds, then finally using the configured audience to construct the scope inside the client. Taking only the audience rather than th

[2022-01-27 01:11] SaurabhSharma-MSFT commented on #26616
@Hossam-Hazem When you say refresh ClientCertificateCredential, do you mean to get token while certificates are getting rotated during process execution? If that's the case, then certification rotation is not supported, and you need to implement your own logic to get the refreshed certificate.  Please refer to [documentation](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.

[2022-01-27 01:37] heaths commented on #24841
Apologies, but this seems to have slipped through the cracks. Are you still having problems? I would expect an HTTP 429 as well, but would need to see how you are initializing your `CryptographyClient` for use with client-side encryption. Please use fake input for the Key Vault endpoint and other personally-identifiable information.

[2022-01-27 01:56] gocha commented on #24841
I guess this problem is still occurring in our production environment, but unfortunately I cannot confirm it right away.
Assuming that this problem continues to occur in our production environment, is there a way to log it that would be useful for debugging? (In a way that does not degrade performance as much as possible)

Also, some time ago, I tried to reproduce this problem by using Fiddler to

[2022-01-27 02:12] scottaddie commented on #26632
Thanks for reporting this, @heaths! I'll take care of it.

[2022-01-27 03:13] JoshLove-msft commented on #25672
@mikeharder reproed this from the Portal and the response that comes back has a body consisting of "null" (without the quotes). The Test Framework is storing this as a JSON null in the session record. We will need to update the Test Proxy (new Test Framework) to correctly store this as "null".

[2022-01-27 03:42] JoshLove-msft commented on #26630
Are you awaiting the call to CompleteAsync? If not, then my guess is we are exiting your handler and attempting to autocomplete the message while your complete call is still in-flight, which may be causing this error.

[2022-01-27 03:49] JoshLove-msft commented on #26622
@Prinsn can you share your connection settings (redacting any sensitive information)? You mentioned this is occurring locally, so it would be good to see your local.settings.json in addition to your host.json. Can you also include your function?

[2022-01-27 03:53] JoshLove-msft commented on #26409
I see - you are using the Isolated Worker model so binding to EventData is not supported. Can you try binding to a byte array?

[2022-01-27 03:59] JoshLove-msft commented on #26532
Can you clarify how you are using the Service Bus SDK here. It looks like you are referencing two different SB libraries:
Microsoft.Azure.ServiceBus 5.1.3
Azure.Messaging.ServiceBus 7.2.1

The worker extension you are using corresponds to the Microsoft.Azure.ServiceBus library.

[2022-01-27 04:19] AtOMiCNebula opened #26638 "[BUG] Azure.Monitor.Query doesn't allow log queries against resources, only workspaces"
### Library name

Azure.Monitor.Query

### Please describe the feature.

It looks like `Azure.Monitor.Query`'s `LogsQueryClient` can only query workspaces, but not resources (https://docs.microsoft.com/en-us/azure/azure-monitor/logs/api/azure-resource-queries).  I want to set up some API calls to query Key Vault resources, and it looks like if I perform all my own stunts this is possible, but it'd

[2022-01-27 04:19] azure-sdk commented on #26638
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'ARM:0.12535079,KeyVault:0.08972482,Monitor - Exporter:0.06807664'
Label prediction was below confidence level `0.6` for Model:`CategoryLabels`: 'Mgmt:0.58093184,Client:0.37477067,Service:0.043131437'

[2022-01-27 05:02] navba-MSFT commented on #19554
@DorothySun216 Could you please look into this Docs update request once you get a chance ?

[2022-01-27 06:22] JoshLove-msft opened #26639 "If-Match header inconsistency between frameworks"
In .NET Core 3.1, empty If-Match headers are propagated through in the request.
In .NET Framework and .NET 6.0, they are removed.
We should evaluate what the correct behavior is here and standardize on it.

[2022-01-27 06:22] azure-sdk commented on #26639
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Storage:0.20483035,Azure.Core:0.12141646,Service Bus:0.07229351'

[2022-01-27 06:24] billti opened #26640 "What are the format/contents of the ContentRange string"
It would be helpful if this page described the format for this string. Just saying it's a string isn't that valuable.

Looking at the code in `sdk\storage\Azure.Storage.Blobs\src\Models\ContentRange.cs` I see the below comments, so I assume this is the format.

To be extra helpful, it would also be good to know if Azure Blob Storage ever does return `*` for the blob size, of if you can reliably ge

[2022-01-27 06:24] BethanyZhou opened #26641 "[BUG] [Azure.ResourceManager] Method 'AsPages' in type 'FuncAsyncPageable`1' does not have an implementation on pwsh 7.2.1"
### Library name and version

Azure.ResourceManager 1.0.0-beta.7/Azure.ResourceManager.KeyVault 1.0.0-beta.5

### Describe the bug

I'm writing a cmdlet by c# code. When I get return objects from armClient and convert Pageable<Vault> as IEnumerable<Vault>. it said that Azure.ResourceManager  does not have an implementation about method 'AsPages' in type 'FuncAsyncPageable. This issue appears on pw

[2022-01-27 06:24] azure-sdk commented on #26641
Label prediction was below confidence level `0.6` for Model:`ServiceLabels`: 'Extensions:0.35663444,ARM:0.23034814,Storage:0.0360581'

[2022-01-27 07:53] torbennehmer opened #26643 "Unclear, if this has to be set manually"
Please clarify the documentation regarding this property, it is not clear if and how it has to be set.

Use Case: You're implementing an Integration in an app, where you have to do the integration manually (for whatever reasons) based on the information in https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics.

However, it is unclear to me if I have to add a sequence n

[2022-01-27 08:36] archerzz commented on #26635
@schaabs To get the scope, shall we always append `/.default` to the given audience? I found this [article](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#trailing-slash-and-default), and it seems like the scope should be `https://management.azure.com//.default` which contains two continuous `/`.