[2019-11-21 17:59] jsquire commented on #7634
Closing this as a duplicate of #8618.  Both appear to reference the same issue with same suspected root cause.

[2019-11-21 17:59] #7634 closed

[2019-11-21 18:01] jsquire commented on #8618
Closed #7634 as a duplicate, as both are believe to be referring to the same issue and same suspected root cause.    Will evaluate this once the implementation of the recent changes have been completed.

[2019-11-21 18:07] mathavanmani commented on #8849
Hi @serkantkaraca , We have tested the EventHub using nuget library Azure.Messaging.EventHubs and Azure.Messaging.EventHubs.CheckpointStore.Blobs. It works as fine if we set the proxy in EventHubProducerClientOptions/EventProcessorClientOptions.

This library is in preview at the moment , is this the library we should be using ? Other library Microsoft.Azure.EventHubs and Microsoft.Azure.EventHubs

[2019-11-21 18:17] pakrym opened #8866 "docs.ms has obsolete types from old preview libraries"
For Azure.Core and maybe other track 2 libraries:

For example https://docs.microsoft.com/en-us/dotnet/api/azure.core.retriablestream?view=azure-dotnet doesn't exist in GA package.

And all types miss xml docs.

[2019-11-21 18:17] pakrym commented on #8866
cc @scbedd @kaerm

[2019-11-21 18:18] heaths opened #8867 "Key Vault live tests are being throttled"
Our nightly test runs end up with one or a few tests that get rate limited. One way to avoid this is to increase the LRO polling interval, at least in tests. For release code at a later date, we may instead rely on #8575.

[2019-11-21 18:24] kaerm commented on #8866
@pakrym you mean that this class was a part of the previews but not of the release?

For xml docs: can you show me an example of the page where it doesn't exist and link to where it is described in the library

[2019-11-21 18:24] heaths commented on #8846
What is currently the impact to your application? While throwing may not be the best course of action in all cases, we are consistent throughout the newer libraries and we'd have to throw a lot of exceptions to make a significant impact to performance. We can prioritize this accordingly.

[2019-11-21 18:25] pakrym commented on #8866
Yep

https://docs.microsoft.com/en-us/dotnet/api/azure.core.pipeline.clientoptions?view=azure-dotnet vs https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/ClientOptions.cs

[2019-11-21 18:27] heaths opened #8869 "Make changes based on Certificate API review"
- [x] Uplift all properties of `IssuerProperties` into `CertificateIssuer`
- [x] "Value" on `ImportCertificateOptions` should be "Certificate" (going to diverge with Python and TS/JS since a type suffix is atypical and redundant)
- [x] Remove `ContentType` from `KeyVaultCertificate`
- [x] `CertificateOperationProperties.CertificateSigningRequest` should be `Csr`
- [x] `Csr` should be a `byte[]`
-

[2019-11-21 18:43] kaerm commented on #8866
@scbedd can you make sure GA versions get pulled in the docs system and not preview?

I will file an issue on the XML

[2019-11-21 18:44] scbedd commented on #8866
I didn't actually update the source of these GA docs, just the location in ToC. I will check the CI definition of this.

[2019-11-21 19:03] fabiomaulo commented on #8699
Thanks.
I really appreciate your attitude: the real point behind an issue is to recognize and fix the problem and not close the ticket.

[2019-11-21 19:44] #7227 closed

[2019-11-21 19:44] #8473 closed

[2019-11-21 19:44] #8651 closed

[2019-11-21 19:48] #8502 closed

[2019-11-21 21:01] tg-msft commented on #8396
Ah, so this was us changing the swagger and now the model type is effectively a string?  That makes sense for the first bullet.

I think the second and third bullets are still valid.

[2019-11-21 21:21] xiadu94 commented on #5964
@PejmanNik, just check in. Seems @estebanreyl 's PR is merged, can you verify has your issue been resolved yet?

[2019-11-21 21:30] weshaggard commented on #8856
#8872 should help make this a little clearer from the error it gives.

[2019-11-21 23:39] amnguye commented on #8859
Hello @slipdef !

Thank you for bringing this issue to our attention.

This is definitely a bug, we will definitely look into it and hope to have a fix for it in the January Release.

[2019-11-21 23:41] amnguye commented on #8859
Looks like when the url is constructed, it looks like we parse the SAS connection string fine, but when we go to construct it and make any request, it doesn't append on the SAS token to the url. That's what causes the authentication to fail, because it doesn't have the proper SAS token appended.

[2019-11-22 08:52] lukos commented on #8846
It is not a significant impact for us currently since we are using it for an email service. The service attempts to lookup a DKIM private key for the domain, which might or might not be present to sign the message. This is only done once per batch so possibly a few times per minute. The exception won't bring the system down, it would just be nice to have an option of a no-exception method.

I coul

[2019-11-22 09:40] schaabs commented on #8810
I've added an explicit check for this in `BearerTokenAuthenticationPolicy` in PR https://github.com/Azure/azure-sdk-for-net/pull/8874

[2019-11-22 09:42] schaabs commented on #8810
Reopening this issue as you might also add an initial check when constructing storage clients so the user immediately gets an exception.

[2019-11-22 12:02] lukas-gmuer opened #8877 "[BUG] AzureServiceTokenProvider does not support UserAssignedIdentities"
User Assigned Identities are not supported for AzureServiceTokenProvider as documented. https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/service-to-service-authentication.md
https://docs.microsoft.com/de-ch/azure/key-vault/service-to-service-authentication

From the documentation the AzureServiceTokenProvider should be called with connection string: RunAs=App;AppId={AppId

[2019-11-22 14:17] PejmanNik commented on #5964
Yes, @xiadu94 . Thank you

[2019-11-22 14:17] #5964 closed

[2019-11-22 14:36] #8573 closed

[2019-11-22 18:44] heaths commented on #8846
Thank you again for suggesting this. After discussing internally with the other Key Vault library languages and performance experts, we will add this to the backlog but see no practical reason to add more methods to the clients at this time. While throwing and catching exceptions does reduce the operations/second, it wasn't a significant amount compared to the current rate limit enforced by Azure

[2019-11-22 19:21] axisc commented on #7990
@sanjaysingh

Thanks for opening this query. Hope the recommendations helped unblock you. Please feel free to reopen the issue if you have follow up questions.

[2019-11-22 19:21] #7990 closed

[2019-11-22 19:27] KPixel opened #8880 "Enable nullable reference types in the new Track 2 libraries"
**Feature request:**
With the release of C# 8, [nullable reference types are now live](https://devblogs.microsoft.com/dotnet/try-out-nullable-reference-types/).

I think that it would be great for all Track 2 libraries to take advantage of it and provide a clearer API regarding where null is expected.

Doing this now seems ideal to avoid potential "breaking" changes in the API surface. (Although,

[2019-11-22 19:55] pakrym opened #8881 "Write a dev documentation about UseProjectReferenceToAzureClients switch"
cc @weshaggard

[2019-11-22 20:21] weshaggard commented on #8881
@chidozieononiwu could you please add a section in the contributing docs about how to use this switch and what it's purpose is.

[2019-11-22 22:35] dandenton opened #8884 "[BUG] Long running message bus receivers have intermittent errors"
**Describe the bug**
Occasionally while using long running code listening to subscriptions on service bus topics we get the errors shown below sent to the registered `exceptionReceivedHandler`.  We have 3 services all running against the same message bus but sometimes only 1 or 2 will get the errors at the same time.  Error 1 was received last night by 2 of the services for different subscriptions

[2019-11-22 23:45] scbedd commented on #8754
Onboarded, but wrinkle here. I don't see a CI job for either preview or legacy.

[2019-11-23 00:21] heaths opened #8885 "Links to source files broken in Key Vault package READMEs"
Re: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Keys#next-steps

After converting to markdowns under /samples, the links in the package READMEs are broken (probably for keys and certifications as well). Rather than simply fixing the links, point to the markdown files which, in turn, reference the source. Might also be worth adding a README.md to each

[2019-11-23 00:34] #8255 closed

[2019-11-23 00:46] heaths commented on #8877
Our newer libraries like Azure.Identity can actually alleviate a lot of this hassle. Using `DefaultAzureCredential` chains multiple authentication models in a way that is optimized for services but allows for development work that should work in your case. Are you able to upgrade to those newer libraries?

[2019-11-23 00:51] maggiepint commented on #8880
@AlexGhiondea @KrzysztofCwalina plans here?

[2019-11-23 06:09] AlexGhiondea commented on #8880
@KPixel thanks for bringing this up. We did discuss this in the team and we do plan to add support for this in our libraries.

[2019-11-24 22:33] jongio opened #8888 "Packages.html 404s"
All links here (except the package link) 404
https://azure.github.io/azure-sdk-for-net/packages.html

![image](https://user-images.githubusercontent.com/2163001/69502716-49f07e80-0ec7-11ea-9564-2fb226954e7b.png)

[2019-11-24 22:39] jongio opened #8889 "Client Libraries Azure Pipeline failed 20 days ago and still in failed state"
https://github.com/Azure/azure-sdk-for-net/blob/master/CONTRIBUTING.md

![image](https://user-images.githubusercontent.com/2163001/69502791-08ac9e80-0ec8-11ea-982b-7e5daae8ee8b.png)

![image](https://user-images.githubusercontent.com/2163001/69502794-0ea27f80-0ec8-11ea-9d09-17d14b9309d7.png)

https://dev.azure.com/azure-sdk/public/_build/results?buildId=180842&view=results

[2019-11-24 23:36] jongio opened #8891 "GitHub Pages 404s"
GitHub Pages have the following 404s:
https://azure.github.io/azure-sdk-for-net/

[code]

[2019-11-25 05:23] #8810 closed

[2019-11-25 07:47] corykroll commented on #8700
Anything I can try?  NuGet packages I can take a look at?
I've tried preview builds for ComputerVision (v6.0.0-dev.20190919.3) and Xamarin.Forms (v4.4.0.991210-pre2) but the error continues to occur.

[2019-11-25 10:42] danielmarbach commented on #6653
@jfggdl @axisc Given the popularity of https://github.com/Azure/azure-service-bus-dotnet/issues/439#issuecomment-423770087 why isn't this reopened?

// cc @nemakam

[2019-11-25 12:28] craigeddy commented on #6774
Could really use the `datePublished` property here, please! Thanks.

[2019-11-25 12:53] Yomodo commented on #3933
It's magic!

[2019-11-25 15:06] jsquire opened #8892 "[Track One] Tests for runtime metrics on the client are consistently failing nightly runs"
# Summary

A recent change appears to have caused two of the client tests for runtime metrics to begin failing consistently during nightly runs.   The behavior seems to have begun starting with the nightly run for Monday, November 18th, where the following two tests have been failing:

- Microsoft.Azure.EventHubs.Tests.Client.ReceiverRuntimeMetricsTests.DisableWithReceiverOptions
- Microsoft.Azure

[2019-11-25 15:07] jsquire commented on #8892
@serkantkaraca, @JamesBirdsall:  If you would be so kind as to offer your thoughts, it would be greatly appreciated.

[2019-11-25 16:43] serkantkaraca commented on #8892
Let me check. It is probably due to a recent change I merged.

[2019-11-25 17:17] annelo-msft opened #8894 "Consider naming for NamedEntity, LinkedEntity, and KeyPhrases"
The names NamedEntity, LinkedEntity, and KeyPhrases relate more to the algorithms that identify them than what they actually represent.

Ideally, these would be more descriptive names, that indicate to users when to use which.

Key phrases are just the strings deemed important in the input text.  It can be a noun or a verb, unlike entities in other cases.  Given the algorithm, we may not be able t

[2019-11-25 17:27] annelo-msft opened #8895 "Decide how to name method for PII entities"
This is currently a method on TextAnalyticsClient that takes the same input type and returns the same output type as GetEntities.  We don't like that Pii is abbrevated in the name.

One proposal was to have just GetEntities and take an enum to specify which entities to return - General, Pii, Healthcare, etc.

Healthcare entities will have a different shape, so the return type will be different, wh

[2019-11-25 17:29] annelo-msft opened #8896 "Consider renaming verbs for consistency"
We currently have a different verb for each endpoint.  Would it be better to use the same verb across endpoints?  Possibly "infer" ?

Consider this in the context of potentially breaking the client into multiple clients/packages, per https://github.com/Azure/azure-sdk-for-net/issues/8895

[2019-11-25 17:33] annelo-msft opened #8897 "Consider ways to hide Id from user unless they want to set them to values that correlate to ids in their own system."
Possibly default these in batch methods that take TextDocumentInput.

[2019-11-25 17:38] annelo-msft opened #8898 "Design warning representation for DocumentSentiment"
Warnings currently exist only on SentenceSentiment.  If a sentence has a warning, though, then the document containing the sentence should have a warning as well.  Consider the design of TextSentiment to accomodate warnings at both levels.

[2019-11-25 17:39] annelo-msft opened #8899 "Consider null sentiment"
Currently, in SentimentClass, Neutral is the same as Unspecified.  However a neutral sentiment in a sentence is different from no sentiment being able to be identified.  Consider how to design this.

[2019-11-25 17:41] annelo-msft opened #8900 "Consider naming around "Documents" and "Text""
In some places we have "inputText" and in others we have "document".

Get clarity on what is which, when to use which one, and how document potentially relates to other documents in the Cognitive Services set of services.

Note:
The text analytics service seems to refer to a "document" as the object which holds the "text" along with other metadata like id and language/countryHint. Many of the v3 d

[2019-11-25 17:45] annelo-msft opened #8901 "Decide on library version numbers and how/whether these correspond to service versions"
There are considerations with Track 1 packages already having version numbers we may not want to change.

- Python is 0.2.0
- JS is 4.0.0: https://www.npmjs.com/package/@azure/cognitiveservices-textanalytics
- Java is 1.0.2-beta https://mvnrepository.com/artifact/com.microsoft.azure.cognitiveservices/azure-cognitiveservices-textanalytics
- .NET, the Track 1 library is Microsoft.Azure.CognitiveServ

[2019-11-25 17:49] pakrym opened #8902 "Customer retry policies should go before client-provided policies."
Or the auth policy can't react to changes in request.

[2019-11-25 18:59] annelo-msft commented on #8717
Discussed with service team and this needs to be a string to support GUIDs, etc.

[2019-11-25 18:59] #8717 closed

[2019-11-25 19:13] jfggdl commented on #8849
@mathavanmani, Are you referring to https://www.nuget.org/packages/Azure.Messaging.EventHubs/?

If so, that should be released early next year. If it is working for you, then that should be the package that you should use. Please just test all your scenarios (it is a preview) and if you have any feedback, please create another GitHub issue specific to the issue.

[2019-11-25 19:25] jfggdl commented on #8788
@krishnasingh1818, I am going to close this issue for now, but please share the support request number here so that we make sure that your problem is addressed.

Thanks!

[2019-11-25 19:25] #8788 closed

[2019-11-25 19:28] #8869 closed

[2019-11-25 19:35] nemakam commented on #8884
@dandenton ,
`ServiceBusCommunicationException` is an exception that happens when there is some network issue. It could be that connection dropped and had to be restarted. It can happen for multiple reasons, including some node in between (front-end/ backend) had to restart and or load-balancer had to move containers around, or service upgrade happened.

`ServiceBusTimeoutException` and `ServiceBu

[2019-11-25 19:35] #8884 closed

[2019-11-25 20:03] krishnasingh1818 commented on #8788
support request 119112221002824

[2019-11-25 20:58] assafi commented on #8901
Please note that if we change the namespace it will be the second time we do so. In that since we have never heard customers complain about the SDK versions before, is that something you're hearing on your side?

[2019-11-25 21:25] annelo-msft commented on #8901
The updated namespace is required by our guidelines:  https://azure.github.io/azure-sdk/general_design.html#namespaces

To my knowledge, we don't have prescriptive guidelines about versioning, which is why this is open to discussion.

[2019-11-25 21:37] #8581 closed

[2019-11-25 22:31] schaabs commented on #8432
Fixed via https://github.com/Azure/azure-sdk-for-net/pull/8887

[2019-11-25 22:31] #8432 closed

[2019-11-25 22:58] chidozieononiwu commented on #8889
Removing badge with https://github.com/Azure/azure-sdk-for-net/pull/8910

[2019-11-26 01:15] kaerm opened #8914 "Onboard december releases on docs.microsoft.com"
- [ ] Onboard the following packages on docs.microsoft.com
**Latest:**
Azure.Core 1.0.1
Azure.Identity 1.1.0
Azure.Storage.Files.Shares 12.0.0
Azure.Storage.Common 12.0.0
Azure.Storage.Blobs.Batch 12.0.0
Azure.Storage.Blobs 12.0.0
Azure.Storage.Queues 12.0.0
Azure.Security.KeyVault.Keys 4.0.0
Azure.Security.KeyVault.Secrets 4.0.0
**Preview:**
Azure.Security.KeyVault.Certificates P 4.0.0-preview.7

[2019-11-26 10:13] FilippoPolo opened #8917 "Using Batch management API on .NET Core"
**Query/Question**
I want to make a .NET Core application that manages Application Packages for a Batch account.

I was able to do this for .NET Framework using the information found here: https://docs.microsoft.com/en-us/azure/batch/batch-aad-auth-management

Unfortunately, the above will not work on .NET Core, because there's no way to create a prompt (the right constructor for PlatformParameter

[2019-11-26 13:40] stefando commented on #8723
I closed it before by mistake. It's just for tracking purposes.

[2019-11-26 14:01] kemmis commented on #8859
does this work in previous versions of the sdk? I'm having the same issue as well.

[2019-11-26 16:33] annelo-msft opened #8920 "Ensure client request id and other headers are added only once on retries."
Per Partner request:

Can you please confirm that the client request id won’t be repeated on retry too? Because client request id is not involved in HMAC signing, I am not sure if it’s fixed as part of the signing issue.

This is the real log of the response that the customer reported.

![clientReqId](https://user-images.githubusercontent.com/21269347/69653124-8dfa9500-1027-11ea-9472-c4f0bb94fe3e.

[2019-11-26 16:38] annelo-msft opened #8923 "Correct appconfig user agent string"
User agent string from preview.3 library or before is showing up in logs as:

`azsdk-net-config/1.0.0.0 (.NET Core 4.6.28008.02; Linux 4.15.0-1059-azure #64-Ubuntu SMP Fri Sep 13 17:02:44 UTC 2019)`

The user agent string should include the SemVer version of the release (i.e. 1.0.0-preview.3) as well as a more descriptive name like the library name, unless this is what the engineering team intends

[2019-11-26 18:19] jfggdl commented on #6653
Thanks for your feedback. We will keep this issue open and will update it once we have any news about the candidate feature to implement token cancellation support.

[2019-11-26 18:20] jongio commented on #8891
@chidozieononiwu

[2019-11-26 19:59] lukas-gmuer commented on #8877
Thanks for the quick reply. Azure Identity does seem to support user managed identity.

I will report back once i tried to integrate it with the configuration provider

[2019-11-26 20:07] nirnaymsft opened #18793 "[WebSites] SiteLoadBalancing enum members need detailed descriptions"
In web app's SiteConfig.loadBalancing enum
Please explain internal working implementation of all Possible values include: 'WeightedRoundRobin', 'LeastRequests', 'LeastResponseTime', 'WeightedTotalTraffic', 'RequestHash'

and how this could change behaviour of Azure internal Routing to Instance.

As user has no way to route request to Instances, this property is very important to understand.

[2019-11-26 20:25] jongio commented on #8859
@slipdef and @kemmis

I wasn't able to repro with the following code.  Can you please tell me how your code differs from this code, so I can get a repro?  Thanks, Jon

[code]

[2019-11-26 21:09] Azkel commented on #7484
Hey guys,
I wanted to take that task, but while going through EventHub solution I didn't find any instances of `DateTime.Parse` neither in client or related tests. `DateTimeOffset.Parse` didn't return any results as well.

Should this be done within sdk\eventhub\Microsoft.Azure.EventHubs.sln solution? Because I'm not sure at this point ;)

[2019-11-26 22:41] slipdef commented on #8859
Reproduced with the sample code below:

[code]
Connection string:

![image](https://user-images.githubusercontent.com/4365327/69678555-7b8c6400-10d8-11ea-9cc9-0bc083c99d9a.png)

[2019-11-26 22:46] kemmis commented on #8859
@jongio, I think I might be a bit off with my approach to access the blob storage. I've been trying to utilize the Managed Identity of our App Services, and so I was trying the following, hoping that this would magically happen as long as the current execution context is running with an Azure Identity that has permission to access the storage account with read/write access. Is this approach feasib

[2019-11-27 00:51] pakrym opened #8931 "Ignore some attributes when generating API listing"
@heaths

[2019-11-27 02:49] jongio commented on #8859
@slipdef

I'm not sure why that connection string doesn't work, but at least now we have code that @amnguye can use to debug it.

In the meantime, you can use the SAS that is generated by [Azure Storage Explorer](https://azure.microsoft.com/en-us/features/storage-explorer/)

![image](https://user-images.githubusercontent.com/2163001/69689168-0fc8dd80-107d-11ea-8226-24422d6777ad.png)

![image](http

[2019-11-27 03:02] jongio commented on #8859
@kemmis - This article should help you with Managed Identities and blob storage.  The magic is in DefaultAzureCredential(), which will check for service principal environment variables locally (for your local dev expereince) and if not found it will instantiate use ManagedIdentities under the covers.  It's great for having the same code in dev as you do in prod and you don't have to manage the sp

[2019-11-27 03:19] jongio commented on #8859
@slipdef - Here's how you'd implement this with dynamic Sas based on your account name and key.  Please put those values in env vars not code (of course)

[code]

[2019-11-27 03:50] kemmis commented on #8859
Thanks @jongio. I found that guide and was still getting the same issues. Everything I tried basically caused the dev environment fail to find my visual studio signed in azure account. Turns out one of the azure sdk packages wasn't playing nice with my version of VS (I was probably 4 months behind). After updating visual studio, it was able to pick up my identity, and now I only have a permissions

[2019-11-27 07:20] WildeApps commented on #3933
Unbelievable, worked for me too \0/ using VS2019 .NET Core 2.2

[2019-11-27 09:06] slipdef commented on #8859
@jongio thanks for the workaround. I would prefer to use connection string based on SAS token tho to don't refactor external code to make it working with URI based approach. Any ETA how soon the fix can go live? Like do we need to wait next Azure SDK release or you provide a hotfix version?

[2019-11-27 13:08] flytzen opened #8934 "DefaultAzureCredential does not use az cli login"
In the old APIs we had `AzureServiceTokenProvider` to log in with Managed Identity. If you were running locally and had logged in with the az cli,  `AzureServiceTokenProvider` would simply use your az session.
This code worked locally, as long as you were logged in with az cli in the old APIs:

[code]

However, this does not work with the new APIs. For example, this code:
[code]
throws this except

[2019-11-27 14:42] jongio commented on #8859
@slipdef - I will follow up on that and get back to you.

@amnguye - I was able to repro with the following code:

[code]
[code]
and verified that this works in the python SDK
[code]

[2019-11-27 17:46] seanmcc-msft commented on #8859
@jongio, in your example above, is "testsas1" the name of the container you are trying to create, or your SAS string?  Our BlobContainerClient constructors that take a connection string have the container name as the second parameter, not a sas string.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/BlobContainerClient.cs#L141

https://github.com/Azure/a

[2019-11-27 18:03] seanmcc-msft commented on #8859
For now, I'd recommend using the following work-around:

[code]

This is working correctly for me with a container SAS URL from the Storage Explorer.

[2019-11-27 18:44] jongio commented on #8859
@seanmcc-msft - testsas1 and testsas2 are containers.

I recommended that workaround as well (above), but they want to use the connection string, not the container sas url.

[2019-11-27 18:47] #8574 closed

[2019-11-27 19:15] EricDahlvang commented on #5271
I think this can be closed.  It appears to have been addressed with https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure.TestFramework/1.7.7

[2019-11-27 19:35] #8583 closed

[2019-11-27 19:43] jongio opened #8936 "DefaultAzureCredential exception issues"
I get this exception without any creds set.

Overall there is way too much information returned and duplicated in this error message.

Suggestion: Only display exception messages once and clean them up as indicated below.

`ManagedIdentityCredential is unavailable No managed identity endpoint found..`
 - It is missing a period after unavailable
 - It ends with two periods

`SharedTokenCacheCredent

[2019-11-27 19:45] ifeoluwaokunoren commented on #3826
Hello,
This is not a Resource Manager related issue. However, if this is still an issue, kindly raise a uservoice request [here](https://feedback.azure.com/forums/169386-cloud-services-web-and-worker-role)

[2019-11-27 19:45] #3826 closed

[2019-11-27 20:04] JoshLove-msft commented on #8859
In the conn string constructor, we have:
`var builder = new BlobUriBuilder(conn.BlobEndpoint) { BlobContainerName = blobContainerName };`

BlobEndPoint property does not have the sas token included. We should probably update the StorageConnectionString parsing code to include sas token if present in the Endpoint properties.

[2019-11-27 20:28] v-kydela opened #8937 "[BUG] Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring.LUISAuthoringClient.Apps.DownloadQueryLogsAsync does not provide an includeResponse parameter even though the API does."
**Describe the bug**
[`DownloadQueryLogsAsync`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/cognitiveservices/Language.LUIS.Authoring/src/Generated/AppsExtensions.cs#L167-L184) does not provide an `includeResponse` parameter even though the [API](https://westus2.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/5890b47c39e2bb052c5b9c36) does ([

[2019-11-28 05:57] fschmied opened #8941 "Document suggested lifetime patterns for clients"
This is the same issue as https://github.com/Azure/azure-storage-net/issues/732, but for the new SDK.

The docs (e.g., https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/README.md, https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobserviceclient?view=azure-dotnet, https://docs.microsoft.com/en-US/azure/storage/blobs/storage-quickstart-blobs-dotn

[2019-11-28 05:59] fschmied commented on #8941
Here's a very good writeup of the problem on the other issue by Andrew Brown: https://github.com/Azure/azure-storage-net/issues/732#issuecomment-554336356

[2019-11-28 06:01] fschmied commented on #8941
This is a very good writeup of the problem on the other issue by @AGBrown: https://github.com/Azure/azure-storage-net/issues/732#issuecomment-554336356

[2019-11-28 06:13] oliverbean commented on #6814
@ohadschn, this feature is supported now in ADF. Feel free to try and share feedback.

[2019-11-28 08:49] jcvandan commented on #7172
@jfggdl I really think this should be a priority for the team, most modern dev teams need to be able to be able to run their application infrastructure on their machines so they can have a fast feedback loop, write local integration tests, and work from anywhere. A lack of an emulator means teams have to start provisioning dev environments for every developer, which is a time consuming headache a

[2019-11-28 11:05] christophwille opened #8942 "OpenWriteAsync equivalent in v12 Azure.Storage.Blobs?"
**Query/Question**
We used https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.cloudappendblob.openwriteasync?view=azure-dotnet-legacy#Microsoft_Azure_Storage_Blob_CloudAppendBlob_OpenWriteAsync_System_Boolean_System_Threading_CancellationToken_ with the "old" SDK. Is there an equivalent in the new SDK?

***Why is this not a Bug or a feature Request?***
We are migrating an exi

[2019-11-28 11:45] j055 commented on #8498
@nemakam Just a quick update: I have installed PerfView on 2 servers, one with ```4.1.1``` and one with ```4.1.0``` Unfortunately I missed an opportunity to start a trace the other day where the same behaviour occurred.

I couldn't find anything about changes in ```4.1.1```. Can you point me in the right direction?
Thanks

[2019-11-28 14:30] arolshan commented on #6814
@oliverbean can you please share a link to relevant documentation\sdk reference?

[2019-11-28 18:52] corykroll commented on #8700
[code]

[2019-11-28 18:53] corykroll commented on #8700
Got a little more debug info on this one.  Anything that can be done here?

[2019-11-28 19:26] czitelli opened #8943 "[BUG] BatchReadFileAsync Deserialization Error"
Hi guys, I am testing Cognitive Services TextAnalytics and found a deserialize error (RecognitionResult = null) using BatchReadFileWithHttpMessagesAsync and GetTextOperationResultWithHttpMessagesAsync, the cause of this is that the object TextOperationResult has an invalidad json property (PropertyName = "recognitionResult") but the response is "recognitionResults". To fix it, I need deserialize t

[2019-11-28 23:27] mitchdenny opened #8944 "Move sdk/cognitiveservices/textanalytics to sdk/textanalytics"
I noticed the new ```Azure.AI.TextAnalytics``` library was sitting in ```sdk/cognitiveservices/textanalytics```. This may end up violating some of the assumptions we make in our engineering system about the level in source tree where our libraries sit.

Should we consider breaking our a seperate ```sdk/textanalytics``` directory and setting up seperate pipelines for this. This is especially true a

[2019-11-28 23:53] zhenlan opened #8945 "[BUG] DefaultAzureCredential does not fall back to other credential types unless ManagedIdentityCredential is disabled"
**Describe the bug**
The `DefaultAzureCredential` is supposed to fall back to other credential types when ManagedIdentityCredential is failed, but it doesn't.

**To Reproduce**
This code fails with the exception (see call stack in the later section).
[code]
However, it will *succeed* if I disable the `ManagedIdentityCredential`.
[code]

***Exception or Stack Trace***
[code]

**Setup (please comple

[2019-11-29 00:02] zhenlan commented on #7248
Varied order should be allowed as long as all required elements are present.

[2019-11-29 02:31] corykroll commented on #8700
This issue no longer occurs in Visual Studio Community 16.4.0 Preview 6 (it came up in 16.3.10).  This also doesn't come up in Visual Studio for Mac 8.3.10).  Same code.  Best I can come up with is the issue is in Visual Studio itself.

[2019-11-29 02:31] #8700 closed

[2019-11-29 04:18] jongio opened #8948 "Expose Credential type for DefaultAzureCredential and ChainedTokenCredential"
When using DefaultAzureCredential or ChainedTokenCredential I find it useful to know which credential type is being used.  Right now I have to resort to reflection or EventSource:

[code]

I would rather do something like this:

[code]
I understand that GetToken isn't called until a network call is needed, but a user could call GetToken() first if they really need to know the Credential type.

[2019-11-29 08:29] christophwille opened #8949 "Interoperability with Microsoft.WindowsAzure.Storage.Queue"
**Is your feature request related to a problem? Please describe.**
We are migrating an existing application from WindowsAzure.Storage.Queue to Azure.Storage.Queues. We will have existing messages in our queues - and this is the problem. The old client writes base64-encoded messages, the new client doesn't. Thus we have two differently encoded messages and we cannot discern them (Azure Storage Expl

[2019-11-29 08:54] christophwille opened #8950 "QueueClient: Support CreateIfNotExistsAsync + DeleteIfExistsAsync"
**Is your feature request related to a problem? Please describe.**
We were migrating old code - Microsoft.WindowsAzure.Storage.Queue had those two methods (and as an aside, Azure.Storage.Blobs does have the equivalents for containers, so here is an API difference)

**Describe the solution you'd like**
Implement those two methods on QueueClient.

**Describe alternatives you've considered**
We imple

[2019-11-29 17:30] j055 commented on #8498
Hi @nemakam, Another serious degradation in performance today. I have managed to obtain a dump. Can you give me a private address to send it because it contains the service bus URI?

The perf drop seems to be related to numbers of messages in the queue. The more messages in the queue, the slower the service gets at receiving them. There was a gradual increase of messages to around 60,000. We kept

[2019-11-29 18:56] j055 commented on #8498
![sb2](https://user-images.githubusercontent.com/6011428/69886460-f1abe900-12d9-11ea-9fe9-24ecc3c99ea0.png)

[2019-11-30 09:44] NickBosworth opened #8952 "[FEATURE] [storage] Implement a low performance cost Exists() method on the blobclient class"
There is a very common use case to test if a blob exists before attempting to download it. This feature was supported in previous official Dotnet client libraries.

e.g. CloudBlobClient.GetContainerReference(containerName).GetBlockBlobReference(key).Exists();

It is currently frustrating that the only solution is to drive logic flow with a try-catch which is bad practise and doesn't explicitly ans

[2019-11-30 15:13] j055 commented on #8498
# This chart shows expected behaviour.
![sb-2019-11-22](https://user-images.githubusercontent.com/6011428/69902273-7141c280-1383-11ea-8a66-e15e5c39c57c.png)

# This is a week later at the same time of day handling the same number of messages.
![sb-2019-11-29](https://user-images.githubusercontent.com/6011428/69902274-7141c280-1383-11ea-952e-918d73ff38d0.png)

[2019-11-30 23:24] jongio commented on #8948
Related: https://github.com/Azure/azure-sdk-for-java/issues/6591

[2019-12-01 18:58] annelo-msft opened #8954 "Design approach for setting Id to default in TextDocumentInput"
The business need here is to allow users to set the ID field when they have a need to do this, and hide it from them in all other cases, so we don't expose this complexity to them unless they want to opt-in to this feature.

Roughly speaking, we'll need to default the ID the same way we do in the batch string overloads.
Some questions around the design are:
- Should we have ID on TextDocumentInput

[2019-12-01 21:32] albertodenatale commented on #8592
Hello @jsquire
Hope you enjoyed a nice break and I wish you a happy start of the week.

I tried to give a look at this task and I wonder what would be your thoughts about this solution?

[code]

Thank you, look forward to reading your thoughts on this

[2019-12-02 00:43] jongio commented on #8859
@kemmis - You need to assign the ["Storage Blob Data Contributor"](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-blob-data-contributor) role to the service principal and you MUST provide a scope.  I'm not sure of the depth of the scope yet, but here's what worked for me.

[code]

[2019-12-02 03:53] angelwen1396 opened #8955 "[BUG]MissingMethodException is thrown when invoking Azure search SDK"
An exception is thrown when invoking Azure search SDK.
MissingMethodException: Method not found: 'Newtonsoft.Json.SerializationBinder Newtonsoft.Json.JsonSerializerSettings.get_Binder()'.

Steps to reproduce the behavior:
var client = new SearchIndexClient("service name", "index name", new SearchCredentials("service key name"));
 var response = await client.Documents.SearchWithHttpMessagesAsync<T>

[2019-12-02 05:59] kemmis commented on #8859
Yep. Thanks Jon. That’s what I figured out last week. It’s funny... I first
got the code up and running writing to blobs via linqpad in all but 30
minutes. But when I went to complete the feature in my app, I realized I
needed to scrap that code and make it use managed identity credentials as
to not have to pass connection strings with keys in them all over the
place. Took me about 2 days to final

[2019-12-02 09:47] b10-dslappendel opened #8957 "[BUG] Only the home tenant is considered for multi-tenant users when using SharedTokenCacheCredential"
**Describe the bug**
As reported in Azure/AppConfiguration#201, it seems that using `SharedTokenCacheCredential` (which extends to `DefaultAzureCredential`) doesn't work when the user is part of multiple tenants.

Last week AzureAppConfiguration was updated to version 3, and it started using Azure.Identity. Version 2 seems to have used a self-implemented way of connecting with `.ConnectWithManaged

[2019-12-02 11:04] mathavanmani commented on #8849
Hi @jfggdl. Yes, I'm referring to https://www.nuget.org/packages/Azure.Messaging.EventHubs/.

May I know the difference between the packages https://www.nuget.org/packages/Azure.Messaging.EventHubs/ and https://www.nuget.org/packages/Microsoft.Azure.EventHubs/.

And also Whats the plan for future in terms of which one is going to be upgraded frequently ?

[2019-12-02 13:11] msioen commented on #6252
@axisc @jfggdl
Can you please let us know the actions we need to take or how we can collect the requested etl traces or memory dump in the format you require?

[2019-12-02 16:05] BrettBailey opened #8958 "Can you Defer Messages to be retried later?"
**Query/Question**
When using the QueueClient RegisterMessageHandler pattern is there anyway to defer processing of a message to a later time.  The functionality does exist on the MessageReceiver class but It doesn't seem to be accessible.

***Why is this not a Bug or a feature Request?***
I think it might be  just a case of confusing documentation.

**Setup (please complete the following informat

[2019-12-02 19:05] #2852 closed

[2019-12-02 19:06] andyw248 commented on #2852
Closing as this doesn't appear to be a high priority issue, and according to the description can be worked around.

[2019-12-02 19:37] jongio commented on #8889
@chidozieononiwu - FYI the badge is still here: https://azure.github.io/azure-sdk-for-net/

[2019-12-02 20:01] nemakam commented on #8498
@j055 ,
Given that you are on standard namespace, we cannot provide any guarantees on performance. It is a shared resource across namespaces and it is not unexpected to have period of time when the latency is high. If performance and latency is a concern, then you'd have to go to premium messaging which provides resource isolation.
If things are slow, I probably cannot help you much with it.
If me

[2019-12-02 21:24] #8580 closed

[2019-12-02 21:57] weshaggard commented on #8944
I'd be fine with that. @annelo-msft any thoughts on this?

[2019-12-02 22:04] jsquire commented on #7484
Hi @Azkel.   Thanks for reaching out and your willingness to contribute.   I hope that you'll forgive the slow turn-around, but we're just finishing out a push to our next milestone.  We're just about through that and should be more responsive in a day or so.

The intended scope for this is the `Azure.Messaging.EventHubs` library tests project.   We're currently ussing `DateTimeOffset.Parse` in qu

[2019-12-02 22:07] annelo-msft commented on #8944
Would the principle here be that Track 2 cognitive services libraries sit at the `sdk/` level, and Track 1 sit under `sdk/cognitiveservices/`?

I'm not sure I understand enough about what assumptions could be violated and how pipelines are set up to make a call.  Can you help me understand this better?

[2019-12-02 23:10] pakrym opened #8961 "Consider adding Proxy options to ClientOptions"
Might be an easier place for customers to find the setting.

[2019-12-03 00:56] #8577 closed

[2019-12-03 02:29] mitchdenny commented on #8944
Our repos largely follow the pattern of sdk/[service]/[module]. So when it comes to writing automation keeping to that pattern makes things easier (e.g. finding and processing READMEs etc). I'm not sure if anything will break right now, haven't tested, but I'm trying to cut off the variance before it becomes "another pattern" :)

In terms of the track 1 to track 2 progression, we might end up spli

[2019-12-03 06:35] jaredmoo commented on #8789
Thank you for filing this issue and all the work you have done! I'm in SQL DB team, please bear with me while I who has more expertise in SqlAppAuthenticationProvider so that we can make progress here.

[2019-12-03 09:42] chidozieononiwu commented on #8889
@jongio Yes I see that. Unfortunately I can't update that right now without breaking some of the doc links. I am still working on integrating the doc index with the unified pipelines so that this updates automatically. I will see about pushing a single file update to the ghpages (which will be a lot different from the current process)

[2019-12-03 09:58] chidozieononiwu commented on #8944
@mitchdenny You are right the DocIndex and DocWarden process is broken on that right now

[2019-12-03 12:54] annelo-msft commented on #8944
Cool, thanks for clarifying!

Given the way they were structured before, as a collection of services under `cognitiveservices`, I had understood the pattern incorrectly -- it looked like `sdk/[collection-name]/[service]` to me.  Since the pattern is `sdk/[service]/[module]`, for TextAnalytics, this would be `sdk/textanalytics/Azure.AI.TextAnalytics`.  Are there any concerns of separating the cogni

[2019-12-03 17:03] pakrym opened #8964 "[Flaky test] ReadLastEnqueuedEventPropertiesDelegatesToTheConsumer"
[code]
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=201225&view=logs&j=9cfc3b0b-53b1-524f-85ed-0ef4880bef82&t=277ae693-9b68-5ef5-d666-bb5a558e8cc2&l=680

[2019-12-03 17:07] pakrym commented on #8957
cc @schaabs

[2019-12-03 17:37] #8867 closed

[2019-12-03 18:07] megburnett opened #8965 "[BUG] UsernamePasswordCredentials constructors swapping tenantid, clientid params"
_One of the UsernamePasswordCredentials constructors is swapping the tenantId/clientId parameters._

**Code example:**

UsernamePasswordCredentials cred = new UsernamePasswordCredentials(userName, password, tenantId, clientId);

In the class code, this constructor calls a second constructor, but sends the clientId into the tenantId parameter and the tenantId in as the clientId parameter.

The code

[2019-12-03 18:38] weshaggard commented on #8944
I don't think so in fact given that they are mostly disjoint it is probably better to separate them because in our current structure our main assumption is that everything under a service folder generally ships together.

[2019-12-03 18:38] weshaggard commented on #8944
Also for completeness here is a link to our repo structure docs https://github.com/Azure/azure-sdk/blob/master/docs/policies/repostructure.md.

[2019-12-03 18:50] weshaggard commented on #8944
Looks like we probably should agree on the general pattern across the languages as @mssfang is adding this for Java with PR https://github.com/Azure/azure-sdk-for-java/pull/6161 and we should use the same service folder naming pattern there as well.

[2019-12-03 18:52] annelo-msft commented on #8944
Thanks!  I spoke with @AlexGhiondea about this as well, and he also prefers to stick with the `sdk/[service]/[module]` i.e. `sdk/textanalytics/Azure.AI.TextAnalytics` naming convention.  I'll create an issue for this, and add @mssfang to it for visibility.

[2019-12-03 18:55] heaths commented on #8885
FWIW, The secrets README.md was correct. Seems the other two READMEs were forgotten. Quick fix.

[2019-12-03 18:56] weshaggard commented on #8944
Just for clarity the other option would be to do `sdk/cognitiveservices/Azure.AI.TextAnalytics`. Looks like we did that in JS, https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cognitiveservices/cognitiveservices-textanalytics and python https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics.

So whatever we chose I be

[2019-12-03 19:01] annelo-msft commented on #8944
Given your point about things under a service folder shipping together, I think it makes sense to use `sdk/textanalytics/Azure.AI.TextAnalytics` -- I don't think it makes sense for the cognitive services to ship on the same cadence.

@kristapratico @mayurid @xirzec @samvaity

[2019-12-03 19:08] annelo-msft commented on #8901
@kaerm @mayurid

[2019-12-03 19:10] annelo-msft commented on #8897
Possbly dupe of https://github.com/Azure/azure-sdk-for-net/issues/8954

[2019-12-03 19:15] mssfang commented on #8944
So we will remove the collection folder? If doing so, java folder will change to "sdk/textanalytics/azure-ai-textanalytics"

[2019-12-03 19:19] xirzec commented on #8944
I'm not sure if service folder == shipping cadence makes sense or not, since I can imagine shipping an update to a particular package (e.g. storage-blob or core-http) without shipping new versions of every sibling.

/cc @ramya-rao-a

[2019-12-03 19:27] annelo-msft commented on #8718
Currently only returns a single result.

[2019-12-03 19:27] #8718 closed

[2019-12-03 19:27] #8885 closed

[2019-12-03 19:27] weshaggard commented on #8944
@xirzec we have the flexibility to ship only a subset but that is generally the exceptional case as our workflows are optimized for shipping together. If shipping the subset is the norm, like I expect in the cognitive services case we should consider splitting them up. We can split them up by having multiple pipelines but it is probably easier to split them up at service folder level. On top of sh

[2019-12-03 20:07] schaabs opened #8969 "KeyVaultErrorException incorrectly reports a http status code of 500"
A customer reported an issue of a `KeyVaultErrorException` being raised from `KeyVaultClient.PurgeSecret` with the following details pulled from their logging.

[code]

However from looking at the logs it appears that the service returned a 409 in this case not a 500.

This issue was first encounted in Microsoft.Azure.KeyVault v2.3.2.

This issue was originally raised as an internal IcM issue, htt

[2019-12-03 21:39] xirzec commented on #8944
Yeah, to be fair, I think it's not unreasonable to pull Text Analytics out as Cognitive Services is a bit massive, though it would be unfortunate to not have the path match the package name anymore.

Core is an interesting edge case for us, since they are interdependent but also it's pretty common that we don't need to touch certain ones for a long time (e.g. core-paging)

[2019-12-03 23:37] AlexGhiondea opened #8976 "Azure.Core backlog"
This epic will track the backlog work items for Azure.Core.

Issues will be moved from this backlog when they are assigned to an active Epic.

[2019-12-03 23:39] AlexGhiondea commented on #8958
/cc @binzywu

[2019-12-03 23:40] AlexGhiondea commented on #8955
@brjohnstmsft could you take a look at this? Have you seen this before?

[2019-12-03 23:51] AlexGhiondea commented on #8950
/cc @tg-msft

[2019-12-03 23:51] AlexGhiondea commented on #8949
/cc @tg-msft

[2019-12-03 23:54] AlexGhiondea commented on #8943
/cc @annelo-msft

[2019-12-03 23:54] AlexGhiondea commented on #8942
/cc @tg-msft

[2019-12-03 23:55] AlexGhiondea commented on #8941
/cc @tg-msft

[2019-12-04 00:30] tg-msft commented on #8950
Thanks for reporting this!  We've got #7879 filed to address this in a future release _(and #7878 for Files.Shares)_ so I'm going to close this bug as a duplicate.

[2019-12-04 00:30] #8950 closed

[2019-12-04 00:31] tg-msft commented on #8949
The encoding isn't a service level concept we can provide info about and the old libraries were often doing it unnecessarily.  We decided to drop that overhead in the Azure.Storage.Queues client library, but this will definitely be a bit of pain in the short term if you're manipulating queues with both versions.

I think the easiest workaround will be to check if [`Convert.TryFromBase64String`](ht

[2019-12-04 00:32] tg-msft commented on #8942
We don't have an equivalent of `CloudBlobStream` in Azure.Storage.Blobs.  The preferred approach will be calling [`AppendBlobClient.AppendBlockAsync`](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.specialized.appendblobclient.appendblockasync?view=azure-dotnet#Azure_Storage_Blobs_Specialized_AppendBlobClient_AppendBlockAsync_System_IO_Stream_System_Byte___Azure_Storage_Blobs_Mode

[2019-12-04 00:33] tg-msft commented on #8941
We have [a guideline that all client methods must be thread-safe](https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-service-methods-thread-safety):

The only exceptions are stateful model objects (including tricky models like `BlobBatch` that look a lot like clients but never make service requests themselves).  We didn't want to synchronize all model mutations so users should handl

[2019-12-04 00:48] schaabs commented on #8965
@megburnett Thanks for tracking this issue down! We should have a fix out for this shortly which will be included in the next release of the Azure.Identity library.

[2019-12-04 01:00] #8728 closed

[2019-12-04 01:00] kurtzeborn commented on #8728
It was decided to remove the meta package for .Net instead of keeping it around and constantly updating it.

[2019-12-04 04:32] annelo-msft commented on #8923
This was fixed in preview.5.

[2019-12-04 04:32] #8923 closed

[2019-12-04 06:36] rido-min opened #8979 "Microsoft.Azure.Management.IotHub should respect "IoT" casing"
Although the [Capitalization convention](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions?redirectedfrom=MSDN)  suggest to use `Iot`, in this case the package Id, assembly name and namespace should respect the product name casing: `IoTHub`.

[2019-12-04 06:47] christophwille commented on #8942
Thanks. We opted to go with the following approach: temp file on disk, then upload in one operation instead of the previous approach of "streaming" the file to blob storage (two stage instead of one).

[2019-12-04 06:48] #8942 closed

[2019-12-04 06:53] christophwille commented on #8949
The FromBase64String approach will throw every time once only new, non-encoded messages are in the queue. So one exception per message isn't exactly a good thing to have.

Our ad-hoc approach was to base64-encode before posting with the new client so all messages (old and new ones) are encoded. But as this is inefficient, we will look into TryFromBase64String.

[2019-12-04 06:53] #8949 closed

[2019-12-04 09:05] Liversage commented on #7754
I just installed Visual Studio 2019 16.4.0 and as far as I can tell this problem has been fixed.

[2019-12-04 11:15] j055 commented on #8498
@nemakam, thank you for your detailed explanation. I agree with your assessment. I think there may be a third-party component waiting indefinitely for a task to complete in certain situations. I will add a counter to the handler as you suggest and update when I have something.

[2019-12-04 15:13] #8553 closed

[2019-12-04 15:17] jsquire commented on #8723
The preview 6 package of [Azure.Messaging.EventHubs](https://www.nuget.org/packages/Azure.Messaging.EventHubs/5.0.0-preview.6) has been published.  The fix that I spoke of is included there, and I've verified that our identity-based tests for inspecting the Event Hub, publishing events, and reading events are consistently passing.

Closing this out as resolved.  Please let us know if you experienc

[2019-12-04 15:17] #8723 closed

[2019-12-04 15:20] jsquire commented on #8964
I've not seen this fail locally, during CI, nor during the nightly runs.   Is there any additional information or context for consistent repro?

Was this a single failure or are you seeing this consistently?

[2019-12-04 16:04] pakrym commented on #8964
That's the only failure I've seen.

[2019-12-04 16:06] jsquire commented on #8964
Fair enough.   I'll give it a look in the next couple of days with other test stability work.

[2019-12-04 16:57] AlexanderSher opened #8984 "Create testing infrastructure to simulate retry requests."

[2019-12-04 16:59] AlexanderSher opened #8985 "Add tests for per call / retry policies"

[2019-12-04 17:22] annelo-msft commented on #7225
@kaerm

Closing as this belongs to PM team.

[2019-12-04 17:24] annelo-msft commented on #8920
Action here is to add test to verify this doesn't happen in the current release.

[2019-12-04 17:52] jsquire commented on #8592
I like the general approach; it's pretty close to the initial design that was in my head when I wrote the issue up.   Not sure that I understand what benefit having a `SendAndTrackEvent` method would give us over having it just act as a memory cache with sliding expiration.   I definitely would prefer to not route sending through a resource pool.

I was thinking that [`System.Runtime.Caching.Memor

[2019-12-04 18:25] matthchr commented on #8917
@kiwidev who might just know

This question is I believe not actually specific to Batch, as the Batch management SDK makes use of the same AAD auth patterns as all other Azure management SDKs. I'm not an AAD expert so I'm not sure of the answer here right now but wondering if @AlexGhiondea knows somebody on the client SDK team which has familiarity with the ARM AAD stuff and could advise?

[2019-12-04 19:48] nonik0 commented on #8789
@syndicatedshannon Thank you for your suggestion, but unfortunately it is currently not possible for SqlAppAuthenticationProvider to support NetCore due to critical dependencies that NetCore is missing, as you have pointed out. More specifically, SqlAppAuthenticationProvider has strong dependencies on the new SqlAuthenticationProvider functionality in System.Data.SqlClient that was introduced in [

[2019-12-04 19:51] hytao opened #8987 "[QUERY]How to update document on docs.microsoft.com"
**Query/Question**
Hi sdk team, we have published a new version of .net sdk and we want to update api document on
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/cdn?view=azure-dotnet. What is the standard process to generate this help document from existing sdk?

***Why is this not a Bug or a feature Request?***

**Setup (please complete the following information if applicable):**

 **

[2019-12-04 20:12] maxk1219 opened #8990 "Event Processor groups multiple events into single EventData object"
I'm seeing unexpected grouping of events into single EventData object in ProcessEventsAsync(PartitionContext context, IEnumerable<EventData> messages) callback. I expect to receive a collection of EventData messages based on policy specified in EventProcessorOptions.MaxBatchSize which is 30 in my case. Instead I'm getting single EventData object in entire collection which contains ~ 1Mb of event d

[2019-12-04 20:40] heaths opened #8992 "Improve documentation for permissions on various credential types"
Based on feedback, we should improve the documentation cross-language about the different credential types that can be configured for Key Vault and how permissions need to be configured for, say, enumerating or using keys, getting secrets, etc.

[2019-12-04 21:16] tg-msft opened #8993 "Consider an AppendBlobStream that takes an AppendBlobClient"
We should look into creating a higher level `AppendBlobStream` that takes an `AppendBlobClient` and periodically writes data using `AppendBlockClient.AppendBlock/Async`.  It would be helpful for users who just want to use `StreamWriter.WriteLine` and have that append blocks as needed without implementing all that logic themselves.

Customers could [previously use CloudBlobStream](https://github.co

[2019-12-04 21:17] tg-msft commented on #8942
Would a `MemoryStream` that you periodically flush to `AppendBlockAsync` do the job without writing to disk?  Ideally you shouldn't have to touch the file system because that can end up being tricky if you're deploying to varied environments.

While we don't have anything like this today, I think it's a good idea as a higher level convenience and filed #8993.  Thanks for bringing this up @christop

[2019-12-04 21:23] schaabs commented on #8026
@OBSchoolQ Thanks for filing this issue, sorry you're running into trouble here. From looking at the error message it seems like you're missing a '/' in the scope you're specifying. Can you try adding another '/' to your scope in the first line of your snippet like this:

[code]

Or if that still doesn't solve the problem could you also try the following scope:

[code]

[2019-12-04 21:36] tg-msft opened #8994 "[MQ] Parameterize ClientOptions for testing"
We've got a number of dimensions that we want to parameterize our tests against including:

- validating the SDK against all supported service versions
- validating the SDK against federated clouds
- injecting certain classes of faults to verify the tests work in both the happy path

This would ideally include the infrastructure to:

- mark individual tests as ignored for certain combinations of p

[2019-12-04 22:06] brjohnstmsft commented on #8955
@angelwen1396 This is a [known issue](https://github.com/Azure/azure-sdk-for-net/issues/3441) that was fixed in version 5.0.0 back in April 2018. You will need to upgrade to at least that version, but I strongly recommend you upgrade to the latest version.

We have provided a [comprehensive set of guides](https://docs.microsoft.com/azure/search/search-dotnet-sdk-migration-version-10) to upgrading

[2019-12-04 22:29] nemakam commented on #8958
@BrettBailey ,
Once you defer a message, the way to get that message back is to use `MessageReceiver.ReceiveDeferredMessage` API. By design, `QueueClient` doesn't have this method, and there is no plan to support receiving a single message using QueueClient. Hence there is no need to support deferral of messages using QueueClient.

If you need advanced functionality like message deferral, we sugge

[2019-12-04 22:29] #8958 closed

[2019-12-04 22:30] KrzysztofCwalina opened #8996 "Add debugger viewer to PipelineContentAdapter"
When debugging pipeline code, it would be often useful to see what content flows through the pipeline. But as of today, you see "PipelineContentAdapter" in the debugger because PipelineContentAdapter does not override ToString nor provide a debugger proxy.

[2019-12-04 22:45] annelo-msft opened #8998 "Follow .NET guidelines for ServiceVersion enum"
Don't use 0 as the first enum value.

Official guidelines: https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-versioning

[Use 1](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-sdk-for-net%2Fblob%2Fmaster%2Fsdk%2Fstorage%2FAzure.Storage.Blobs%2Fsrc%2FBlobClientOptions.cs%23L34&data=04%7C01%7Cannelo%40microsoft.com%7C1a1489a9c41e4552004a0

[2019-12-04 23:46] axisc commented on #8958
@BrettBailey

Thanks for raising this issue. When you defer a message, you need to store the sequence number on the receiver side so that you can selectively receive that message at a later time.

Due to this, it is a method on the MessageReceiver and not on each individual message.

Please let us know if there are any follow up questions.

[2019-12-05 00:51] pakrym commented on #8941
Clients are supposed to be created once per application, currently there is no reason to create more of them.

As @tg-msft pointed out we cache the default HttpClient instance we use so creating multiple client instances would just result in allocations but not in any HttpClient related problems.

[2019-12-05 02:47] maxk1219 commented on #8990
It appears that this behavior is by design and grouping occurs due to batch API that is used to upload events. Events sent in non-batch fashion work as expected and honor MaxBatchSize properly.

[2019-12-05 02:47] #8990 closed

[2019-12-05 08:03] fschmied commented on #8941
Thank you for the very clear answer. It would be great if you could add these two sentences to the docs, ideally both on the concept pages and on the API docs for each of the affected clients.

[2019-12-05 11:19] vlardn commented on #7754
For me, the problem appeared after upgrading to Visual Studio 2019 16.4.0 from the previous version. I've found that this was caused by invalid TokenProvider path, so I was forced to change content of "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\servicehub.config.json" file:

`{
  "TokenProviders": [
    {
      "Path": "c:\\program files (x86)\\microsoft visual studio\\

[2019-12-05 11:52] Liversage commented on #7754
@vlardn The "good" (version 16.4) extension is in folder `ys2aolp3.2rs`. The "bad" (version 16.3) was in folder `qglq5p5b.btx`. Apparently, your service hub configuration was incorrect after the upgrade and your information is useful in case others have the same problem (and really is a new issue in itself). However, I still believe that Visual Studio 16.4 fixes the token provider problem that was

[2019-12-05 15:35] thdotnet opened #9006 "Missing Download Methods for large Blobs"
Hi,

the previous WindowsAzure.Storage had multiple ways to download a large file:

CloudBlockBlob.DownloadRangeToByteArrayAsync
CloudBlockBlob.DownloadRangeToStreamAsync
CloudBlockBlob.DownloadToByteArrayAsync
CloudBlockBlob.DownloadToStreamAsync

What are the options to read a large blob in chunks using Microsoft.Azure.Storage.Blob?

[2019-12-05 15:42] #9006 closed

[2019-12-05 15:50] msioen commented on #6252
I've attached two traces here. Both are created with following command: PerfView.exe /OnlyProviders=*Microsoft-Azure-ServiceBus Collect

Note that I changed the replication sample somewhat to be a WPF sample instead of an Android sample, I don't think the trace would be helfpul otherwise as perfview doesn't run on the Android device. The same issue happens in console. The computer where I'm reprod

[2019-12-05 15:51] bgklein commented on #8917
Adding ARM Core as the management SDK makes use of shared standard management auth and therefore they might have an idea

[2019-12-05 16:49] tg-msft commented on #8941
I think this is a good suggestion and we should create a standard blurb for the `<remarks>` section of our client documentation.

We should also probably have a Best Practices sample that talks about these things in more detail _(for both Core and Storage)_ that can grow over time.  There are additional subtleties worth calling out like starting with a `BlobServiceClient` and navigating down the h

[2019-12-05 16:58] jlian commented on #8979
This is true, but the namespace that was chosen was `Microsft.Devices/IotHubs` unfortunately. .NET SDKs are generated off of the swagger based on that namespace, but maybe we could override it? @iluican thoughts?

[2019-12-05 17:54] OBSchoolQ commented on #8026
Thank you. Both these scopes work.

The reason I used the string without the extra '/' is because I have been able to use scopes for storage and graph successfully without having to put the extra '/'. Including adding containers, making resources,... But when I moved to Batch the same approach didn't work.

string[] storageScopes = new string[] { "https://storage.azure.com/user_impersonation" };

[2019-12-05 18:07] tomkerkhove commented on #8561
This is a great feature request - We'd like to use this as well so that we can use it as part of our health probe approach.

THis is important as Kubernetes requires this to kill dead pods and recreate them.

[2019-12-05 18:39] pvones opened #9009 "[BUG] Multiline CloudBlockBlob.Properties.ContentDisposition causes HTTP 403 error on blob write"
WindowsAzure.Storage package version 9.3.3
.NET Framework 4.8

Typically the *System.Net.Mime.ContentDisposition* class is used to build the content disposition string to assign to the *CloudBlockBlob.Properties.ContentDisposition* property.

If the *ContentDisposition.FileName* property contains **non-english** characters, the content disposition string is UTF-8 and Base64 encoded. When the filen

[2019-12-05 18:44] varunsh-msft commented on #8877
While it is good to move to the new Azure.Identity libraries, this is supported in App authentication, so do want to close on the original question. @nonik0 , can you please look into this? thanks!

[2019-12-05 19:15] ChrisHMSFT commented on #8944
Are we proposing that we make this change now for all services or just for the new track2 ones? Seems like it would be confusing to have text analytics libraries show up in 2 spots but updating the existing sdks will likely break reference links in docs & on the package manager pages (last time everything went to a 404)

[2019-12-05 19:48] annelo-msft commented on #8944
The proposal is to do it just for track 2 libraries.

[2019-12-05 20:26] scbedd commented on #8914
Latest
- [x] Updated latest packages. For latest versions, I leveraged this [site.](https://azure.github.io/azure-sdk/releases/latest/dotnet.html) as the current stuff wasn't up to date.

Preview
- [x] Updated for current previews
- [x] I did NOT remove `Azure.Storage.Files` from the preview moniker as it is still preview.

Legacy
- [x] Added Microsoft.Azure.Storage.File 11.1.1

[Associated PR](ht

[2019-12-05 20:53] iluican commented on #8979
@jlian It would also be a breaking change. Pretty sure it's not worth the trouble.

[2019-12-05 21:24] weshaggard commented on #8944
The link problem is a much larger issue which we have filed an issue at https://github.com/Azure/azure-sdk/issues/818 to track getting into a better place. While moving might cause some existing links to break the links are likely already broken in a number of cases because they aren't linking to the correct places. Hopefully we well get into a more stable place where moving things in the repo cau

[2019-12-05 21:29] ramya-rao-a commented on #8944
One thing to keep in mind that while we do this is whether the Track 2 library is going to use the same package name or create a new one.

If we are re-using the package name, then @ChrisMSFT's point is doubly valid. We cannot have the same package live in 2 different places. @xirzec's point on the package name not matching the folder name is also valid.

[2019-12-05 22:01] AlexanderSher commented on #8920
Closed by #8986

[2019-12-05 22:01] #8920 closed

[2019-12-05 22:12] nonik0 commented on #8877
@lukas-gmuer could you provide more information about your scenario, including the specifics of your environment, the error you are seeing, etc.? Using the connection string "RunAs=App;AppId={AppId}" with AzureServiceTokenProvider will enable you to use a user-assigned managed identity. This specifically will use the [MsiAccessTokenProvider](https://github.com/Azure/azure-sdk-for-net/blob/master/s

[2019-12-05 22:30] yangyuan commented on #8944
I would vote for `sdk/cognitiveservices/Azure.AI.TextAnalytics` and strongly against to `sdk/textanalytics/Azure.AI.TextAnalytics`

- I agree that `sdk/[service]/[module]` is preferred. But the logic between `Text Analytics` and `Cognitive Services` is a little similar to `Azure Table` and `Azure Storage`. I prefer to consider `TextAnalytics` as `module` instead of an individual `service`
  - But

[2019-12-05 22:32] #8754 closed

[2019-12-05 22:42] #8630 closed

[2019-12-05 23:03] pakrym commented on #8866
https://docs.microsoft.com/en-us/dotnet/api/azure.core.retriablestream?view=azure-dotnet still there.

[2019-12-05 23:06] chidozieononiwu commented on #8654
DocWarden currently indexes all packages during which it also pulls out the current versions. We could easily check during the iteration to make sure the versions are correct and break the build if its a release build. @scbedd  what do you think about including this feature in DocWarden.

[2019-12-05 23:31] giggio commented on #8561
@tomkerkhove This is exactly what I need to do and the reason I opened this issue.

[2019-12-05 23:56] annelo-msft commented on #8944
One counterpoint to that is that Cognitive Services is moving toward separating out the individual services, or at least one has to do this to enable AAD support.

It's also worth noting that we are having discussions with our architects around library naming - our [guidelines](https://azure.github.io/azure-sdk/general_design.html) state that we shouldn't use Cognitive in a namespace.  If we want

[2019-12-06 00:22] mitchdenny commented on #8944
When we think about the ```sdk/[something]``` folder we should generally be thinking about things that ship together. So its unlikely that we would ship computer vision and text analytics at the same time. But we are more likely to to ship all of the text analytics components (if there were multiple packages) at the same time.

One caveat there is that we have management plane and data plane co-mi

[2019-12-06 00:38] kaerm commented on #8914
Also here Files have also been replaced by files.shares

[2019-12-06 01:40] ramya-rao-a commented on #8944
I would very much prefer not to make the decision on folder structure based on what ships together. Once we are out of the phase of shipping previews and go GA, it is very unlikely that the packages in a folder get shipped together.

Among what we have shipped as part of Track 2, not just storage, but keyvault also falls under the same counterpoint bucket. We have shipped 3 different packages keys

[2019-12-06 02:08] mitchdenny commented on #8944
It is hard to come up with a model that suits everyone. The most flexible option is to have a pipeline per output package. So for KeyVault we'd have three or so per mono-repo.

For storage we would have a bunch more. But then you get into this situation where some libraries (like storage) have a common library and you really want to build the common library and the other libraries together. And if

[2019-12-06 04:19] jongio commented on #8934
FYI - We are discussing this internally and should have news in January.

[2019-12-06 08:45] rkmasternet opened #9020 "How to retrieve latest record from Azure table storage using C#?"
Hello All,
             I'm Facing an issue with azure table storage. I have lac's of data into the storage table. I need to query the data as per the Requirement.
1.First approach is to retrieve all the data and then queried as per the requirement but its taking too much time.
2. Second approach is what if i get filtered data from table storage directly using query

So as per my understanding sec

[2019-12-06 09:11] lukas-gmuer commented on #8877
When executing this:
`var azureServiceTokenProvider = new AzureServiceTokenProvider("RunAs=App;AppId=XXXXXX-XXXX-XXXX-XXXX-XXXXXXX");`

It trhows
System.ArgumentException
  HResult=0x80070057
  Message=Connection string RunAs=App;AppId=XXXXXX-XXXX-XXXX-XXXX-XXXXXXX is not valid. Must contain 'TenantId' attribute and it must not be empty.
  Source=Microsoft.Azure.Services.AppAuthentication
  StackT

[2019-12-06 09:37] #8965 closed

[2019-12-06 09:42] schaabs commented on #8965
@megburnett This issue has been fixed with PR https://github.com/Azure/azure-sdk-for-net/pull/8997. The next release of Azure.Identity will contain this fix. In the meantime you should be able to work around this issue by using the `UsernamePasswordCredential` constructor which also takes `TokenCredentialOptions`.

[code]

Please let me know if you run into trouble with the work around or the fix.

[2019-12-06 10:10] schaabs commented on #8945
@zhenlan Thanks for filing this issue. Sorry you're running into this trouble. We're currently looking into this issue, but unfortunately the exception details thrown from the `DefaultAzureCredential` are less than optimal and don't have the information we need to diagnose the issue you're encountering. We're working on reproducing your issue, but if you have a reliable repro you could debug it wo

[2019-12-06 15:13] #8552 closed

[2019-12-06 15:15] #8554 closed

[2019-12-06 15:21] albertodenatale commented on #8592
Thank you a lot for your answer.

Hope you won't mind me fiddling you a little bit on this point by including some more details to our picture:

[code]

Please, allow me to add more details to ```ProducersCleanerHandler```

[code]

In a nutshell, I put the ```SendAndTrackEvent``` in order to allow tracking the sending tasks and waiting for their end before closing their respective producer (I am n

[2019-12-06 16:23] KrzysztofCwalina opened #9022 "Bad comparison in azure.core"
https://github.com/Azure/azure-sdk-for-net/blame/master/sdk/core/Azure.Core/src/Internal/AzureBaseBuffersExtensions.cs#L30

[code]

[2019-12-06 16:28] KrzysztofCwalina opened #9023 "Race condition in ClientOptionsMonitor"
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Microsoft.Extensions.Azure/src/Internal/ClientOptionsMonitor.cs#L42

[code]

[2019-12-06 17:06] jeroenterheerdt commented on #7003
closing this isse. @sbhuttan do not hesitate to reach out if you need more help.

[2019-12-06 17:07] jeroenterheerdt commented on #7003
@loarabia please go ahead and close this issue

[2019-12-06 17:15] jeroenterheerdt commented on #2644
closing this issue as other tracking issue has been resolved.

[2019-12-06 17:16] jeroenterheerdt commented on #2644
@jaredmoo please go ahead an close this.

[2019-12-06 19:11] annelo-msft commented on #7225
Reassigning per conversation with @kaerm

[2019-12-06 19:52] kaerm commented on #8901
and @ChrisHMSFT

[2019-12-06 19:56] annelo-msft commented on #8707
Closed with https://github.com/Azure/azure-sdk-for-net/pull/9007

[2019-12-06 19:56] #8707 closed

[2019-12-06 20:56] jsquire commented on #6618
Closing, as the associated PR has been merged.   Thanks to @albertodenatale for contributing this feature!

[2019-12-06 20:56] #6618 closed

[2019-12-06 21:48] jsquire commented on #8592
Of course not.   We can't refine things if we don't bounce them around.  :smile:

The `lock` on every call concerns me.  Though I don't expect a partition-bound producer to be the norm, having it that way removes any benefit from the concurrent dictionary.   When I had mentioned something two-phase, I was thinking along the lines of something like:

[code]

Obviously, that is just a rough sketch o

[2019-12-06 21:50] jsquire commented on #8289
This was addressed as part of the resent Event Processor overhaul.   Closing out.

[2019-12-06 21:50] #8289 closed

[2019-12-06 22:46] syndicatedshannon commented on #8789
@nonik0 I'm sure you are correct and I'm overlooking something, but I expected you to cite a different obstacle, and don't understand the one did you cite.

I understood that the SqlClient track was being moved out to Microsoft.Data.SqlClient to permit more frequent updates, independent of System assembly releases. This specific functionality does currently have parity in that new track. EF Core 3

[2019-12-07 00:53] dgliwa commented on #4590
@wjchristenson2 did you get this figured out?

[2019-12-07 01:31] wjchristenson2 commented on #4590
@dgliwa no we did not. I believe it has to do with the fact that our machines are not joined to a domain (classic) - we are logging into azure AD/hybrid. As a result, the IIS/app pool process is not running under the AD credentials needed to authenticate to AKV.

[2019-12-07 02:45] dgliwa commented on #4370
@varunsh-msft and @nonik0, not sure if this is related, but i'm trying to publish an app with this package, and I'm getting the following error:

[2019-12-07 03:35] dgliwa commented on #4370
I should note that I only get that error when trying to publish and my web.config is set up to use managed identity (`connectionString="RunAs=App"`)

[2019-12-07 03:38] dgliwa commented on #4370
Never mind - it has to do with us precompiling as part of the publish.  Sorry for the notifications!

[2019-12-08 01:56] gyuwon commented on #8701
The following code calculates the size of the event data but also generates AMQP message.

https://github.com/Azure/azure-sdk-for-net/blob/1264615ef858e1c368e1ba2b89771fdb1be69428/sdk/eventhub/Microsoft.Azure.EventHubs/src/EventDataBatch.cs#L84-L86

And `BeforeEventSend` method of `EventHubsPlugin` allows us to modify `EventData`.

https://github.com/Azure/azure-sdk-for-net/blob/1264615ef858e1c368

[2019-12-08 18:37] serkantkaraca commented on #8701
Thanks for reporting this. Let me check the code and provide you my findings.

[2019-12-08 21:01] JonathanGiles commented on #8944
I do worry a little about choosing what is best from a build / release point of view, instead of what is most intuitive for visitors to our repository. Our tooling can be made better and more flexible, but users can't be expected to arrive with any such domain knowledge.

Ignoring the existence of the 'cognitiveservices' directory for track one client libraries, I would imagine that most visitors

[2019-12-08 22:37] mitchdenny commented on #8944
I don't think that ```/sdk/cognitiveservices/textanalytics``` will work due to path length issues (we already hit it with just ```/sdk/congnitiveservices```. We've taken the position that we don't want people to have to enable long path support in Windows (since its a bit spotty anyway).

[2019-12-09 01:18] jongio commented on #8936
@tzhanl - Please do a PR to fix these issues.

[2019-12-09 02:23] JoshLove-msft opened #9031 "Improve HttpClient timeout handling in Azure Core"
HttpClient throws a TaskCanceledException for timeouts. See https://github.com/dotnet/corefx/issues/20296 for additional context. This makes it so we won't actually retry in the Azure SDK, in general, for things like IOExceptions and TimeoutExceptions, because they would be wrapped in TaskCanceledExceptions. We should consider adding an HttpClientHandler as described [here](https://thomaslevesque.

[2019-12-09 08:41] tzhanl commented on #8936
@jongio, PR[https://github.com/Azure/azure-sdk-for-net/pull/9038](https://github.com/Azure/azure-sdk-for-net/pull/9038)

[2019-12-09 16:18] jsquire opened #9040 "Event Hubs Client Library for .NET - January Milestone"
For general summary and goals, please see: [Release Event Hubs Track 2 Library (#442)](https://github.com/Azure/azure-sdk/issues/442).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Review the final API skeleton with the .NET feature team and architect; determine

[2019-12-09 16:33] annelo-msft commented on #8944
I think @JonathanGiles makes a good point.  That was the way I had thought about this originally, and why I checked in TextAnalytics where I did.  I don't know the right answer here, but if path length is the only concern, what if we changed the name of the "cognitiveservices" folder to "ai" (in keeping with the Azure SDK guidelines around namespaces - not required, but for consistency).  That wou

[2019-12-09 16:38] jsquire opened #9041 "Review and update documentation"
# Summary

In preparation for the third preview release of the track two Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to

[2019-12-09 16:50] jsquire opened #9042 "Create and revise samples"
# Summary

In preparation for the release of the Event Hubs client libraries, the samples which accompany them should be extended to include new features, maintain accuracy in the face of changes, and cover relevant scenarios.

# Scope of Work

- All samples should be reviewed and updated to reflect the current design, including the client hierarchy and event processor.

- All samples should be re

[2019-12-09 17:05] josh-endries opened #9043 "Unable to serialize message for legacy SB client when using modern SB client"
Hello,

I have several services in production that use the "old" WindowsAzure.ServiceBus package and send/receive messages to/from queues. I would like to use the "new" Microsoft.Azure.ServiceBus package in new projects, such as the one I'm working on currently, but I haven't been able to coerce the new package to serialize and send messages in a format that the old package expects (the Base64 WCF

[2019-12-09 17:23] jsquire opened #9044 "Stress and Stability Testing"
# Summary

In order to ensure that the Event Hubs client libraries are reliable and performant for real-world use, a stress harness was created with the ability to perform local runs and monitor the library.  With a large refactoring now released, the stress harness should be revisited and adjusted to ensure that it is consuming the Event Hubs client consistent with best practices and, once adjust

[2019-12-09 17:56] jsquire opened #9045 "Design Proposal for the Partition Receiver"
# Summary

In order to meet the needs of developers with special needs for reading events, such as a high degree of control over network communication or the ability to control interactions with the Event Hubs service directly, a client is needed that does not provide higher-level abstractions over the raw receive mechanics exposed by the service.

Because this is an advanced scenario with trade-o

[2019-12-09 18:13] chidozieononiwu commented on #8888
packages.md has been removed in https://github.com/Azure/azure-sdk-for-net/pull/9015

[2019-12-09 18:13] #8888 closed

[2019-12-09 18:16] chidozieononiwu commented on #8889
Badge Removed

[2019-12-09 18:16] #8889 closed

[2019-12-09 18:47] #7003 closed

[2019-12-09 18:48] #2644 closed

[2019-12-09 19:06] jongio commented on #8936
More:

Please fix the spacing around these brackets and put a comma in between variable names

`Currently set variables [  AZURE_TENANT_ID AZURE_CLIENT_SECRET ].`

Also, put in an invalid tenant id and you get this:

Please ensure the fix includes this as well.  For example, we say 'unhandled exception' 4 times in the first sentence.

[code]

@tzhanl

[2019-12-09 19:08] jsquire opened #9046 "Update Service Stress Client for new API"
# Summary

To ensure that the track two client library performs consistently within expectations established by the track one client library, the exiting stress test harness for the track one library was adapted to allow the track two client to be used by the existing scenarios.  The execution environment for stress testing as well as the source code repository is owned by the Azure Messaging serv

[2019-12-09 19:09] scbedd commented on #8914
Everything looks good that I can tell between Latest, Legacy, Preview. Submitted PR to merge to master.

[2019-12-09 19:24] jsquire opened #9047 "Test Stabilization"
# Summary

Many of the Event Hubs client library tests have timing components to them, as a way of dealing with the non-determinism of messaging.  With the large churn in the API surface for recent releases, many of the tests have been adapted to the new API.  There are some tests that exhibit sensitivity to timing that should be revisited and considered for adjustment or, preferably, a more deter

[2019-12-09 19:47] jsquire opened #9048 "Revisit `EventHubsSharedKeyCredential`"
# Summary

Within the Event Hubs client library, there exists a credential type intended to allow the shared key for an Event Hubs namespace or an Event Hub to be used with the client library without the need to provide a connection string.   This type was removed from the `preview.6` release in order to allow time to align across languages and ensure that it was consistent with the `Azure.Identit

[2019-12-09 19:55] jsquire opened #9050 "Review project file configuration and overrides"
# Summary

The project file configuration and structure for the Event Hubs client library family of solutions were created when the shared engineering system was still under heavy development, with a non-trivial amount of moving parts.  In the intervening time, the engineering system baseline has been formalized and is now in a more mature and stable state.

The Event Hubs projects do not reflect

[2019-12-09 20:02] josh-endries commented on #9043
I think I figured out where I went wrong.

The service I am sending to is a webjob with a ServiceBusTrigger:

    public static async Task foo([ServiceBusTrigger(queueName)] BrokeredMessage message)

`ServiceBusTrigger` is from Microsoft.Azure.WebJobs.ServiceBus, 2.2 and `BrokeredMessage` is from Microsoft.ServiceBus 3.0. I'm not sure how it got set up this way but that's what it is.

The exceptio

[2019-12-09 20:13] jsquire opened #9051 "Extract Load Balancing from the Event Processor"
# Summary

The current design for the `EventProcessorClient` introduced a new paradigm in which an `EventProcessorClient` is strongly bound to a given storage dependency and exposed in a separate package to ensure dependencies are isolated.  As a result, each storage offering will need to expose its own processor client and provide a set of functionality consistent across each of the Event Process

[2019-12-09 20:20] jsquire opened #9052 "Fix potential null dereference in the `AmqpMessageConverter`"
# Summary

A recent static analysis performed identified a potential null dereferencing within the `AmqpMessageConverter` class around line 650.  While this path would only be triggered during an exception path, it should be accounted for and fixed.

In this snippet, the `default` case contains the flaw:

[code]

# Scope of Work

- Fix the default case at approximately line 650 of the `AmqpMessage

[2019-12-09 21:22] #8347 closed

[2019-12-10 01:43] tzhanl opened #9053 "Test"

[2019-12-10 01:46] kurtzeborn opened #9054 "Remove Storage Swagger Readme Transforms"
During the push to GA track 2, several transforms were added to the readme which need to be migrated to the swagger in azure-rest-api-specs.  This should be coordinated across all of the langauge swaggers.
- Apply any bugfixes (ie. batch return code)
- For client side renames, we should try to use `x-ms-client-name`
- (.Net specific) Move `x-az-` values directly into the swagger, since these won't

[2019-12-10 01:46] #9053 closed

[2019-12-10 01:48] mitchdenny commented on #8944
Sounds like a plan. For future us, I think that there are a few aspects of this conversation to consider (in no particular order):

- Potential path length issues
- Taxonomy: Brand, Service Grouping, Service
- Release cadence of the grouping we choose

[2019-12-10 04:19] annelo-msft commented on #8944
To clarify (since I  made two different points in my last comment), @mitchdenny is saying "sounds like a plan" to staying with `sdk/textanalytics` and thinking about the listed considerations if/when we revisit this issue down the road.

With regard to the issue of splitting the Track1 and Track2 libraries, @mayurid suggested we move the TextAnalytics Track1 library to the same folder as the Track

[2019-12-10 04:59] zhenlan commented on #8945
Thanks for looking into this, @schaabs.

I enabled all CLR exceptions and disabled just-my-code debugging.

I got `Azure.RequestFailedException` first. Here are the detailed [exception and call stack](https://github.com/Azure/azure-sdk-for-net/files/3943076/req-ex.txt).

After pressing F5 (continue), I then got `Azure.Identity.AuthenticationFailedException`. Here are the detailed [exception and ca

[2019-12-10 07:10] albertodenatale commented on #8592
Tracking and refreshing those producers that are about to expire is a great improvement, especially if a typical partition producer usage would see most of them invoked within the first 5 minutes since creation.

[code]

I wonder if you have any clue on how to unit test or to make integration tests with these two points?

- Ensure that removing the existing transport producer is an atomic operatio

[2019-12-10 08:22] #8026 closed

[2019-12-10 08:23] bgklein commented on #8026
@OBSchoolQ I am closing the issue as it seems your issue is mitgated. Feel free to reach out if you experience other issues!

[2019-12-10 09:40] schaabs commented on #8945
Looking at the error message I'm seeing a response back from the Managed Identity endpoint:

[code]

Given this error and the fact that we got a response from the managed identity endpoint it seems like your running in an  Azure hosted environment which supports Managed Identity. Are you sure that the host your running on has managed identity enabled?

[2019-12-10 09:51] schaabs commented on #8945
Or perhaps you're using an AzureVM as a dev machine? If this is the case, the `DefaultAzureCredential` doesn't currently support falling back to other credential types in this scenario without explicitly excluding the `ManagedIdentityCredential`

[2019-12-10 12:00] #8568 closed

[2019-12-10 15:51] pakrym opened #9057 "[Flaky build] OSX "Use .NET Core sdk 3.0.100" fails"
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=207600&view=logs&j=e44bd064-d8d9-5feb-6343-09b8c49ab1a8&t=dd9426be-7617-5dce-9eaf-97862ae512e5

[2019-12-10 15:57] jsquire commented on #8592
Absolutely;  that would be the trick.   What just occurred to me is that we could potentially flip the paradigm and save ourselves a headache.   What if we did something like:

[code]

We'd still have to do a bit of guarding with `TryGet` and `TryUpdate` but that may have some merit.    We should probably not put too much thought into things unless we prove the memory cache is a bad option.

[2019-12-10 16:14] ChrisHMSFT commented on #8944
if we do move the Track1 Libraries we'll need to check with the docs team. There are several links that would break. I can't remember if this type of move was what broke the ref doc generation in js earlier this year as well

[2019-12-10 17:29] heaths opened #9058 "Write scripts to optionally authenticate and set up ARM template resources"
To help gather parameters for authentication and other information needed for ARM templates, we will use a set of scripts across Java, JS, and .NET (first implementing in .NET) that both the CI and users onboarding to track 2 libraries (possibly track 1) will use.

For users, currently the minimum input is credentials for a service principal under which the tests are run. We are erring on the side

[2019-12-10 17:29] heaths opened #9059 "Convert Key Vault to use new ARM template test resource guidance"
Be the first in the .NET repo to fully utilize the new scripts. This includes writing the test-resources.json file, updating CONTRIBUTING.md, etc.

[2019-12-10 17:30] heaths opened #9060 "Update test resource scripts to use SSO when Az cmdlets properly support it"
When the Az PowerShell module property persists credentials that `DefaultAzureCredential` can use cross-language, update the scripts to use that for authentication so that we don't necessarily have to rely on users setting up service principals.

[2019-12-10 17:30] heaths opened #9061 "Persist tokens and other outputs securely for test execution"
Output tokens from test-sources.json need to be stored securely so we can remember them across sessions. We're opting to use this instead of environment variables, since changing environment variables requires restarting IDEs like VS (which spawns many child processes, most of which don't respond to broadcast messages asking them to update their environment variables).

* On Windows, we'll use DPA

[2019-12-10 17:31] heaths opened #9062 "Write test fixture to use ARM templates and get information from persisted test info"
Write a test fixture that can be used in assemblies, classes, or tests to basically do what the scripts for #9058 do using the same test-resources.json files. Ideally, these aren't using the scripts to control dependencies, but will have to be kept in sync conceptually.

[2019-12-10 17:41] zhenlan commented on #8945
I’m using a VM from DevTest Lab, so this probably explained it. Thanks.

Should this be considered a bug? It's not uncommon for customers using VMs from Azure.

Do we know why it worked In debug mode sometimes? This made it even worse as it becomes indeterministic.

[2019-12-10 17:45] bgklein commented on #8917
Ping @AlexGhiondea  , @armleads-azure

[2019-12-10 18:15] tg-msft opened #9063 "Investigate Storage small blob download perf"
Compare throughput for 10K blob downloads between Track 1 and Track 2 and investigate any meaningful deltas.  Reach out to @mikeharder or @tg-msft if you want info on the perf analysis tools we've been using thus far.

[2019-12-10 18:33] kurtzeborn commented on #9057
@chidozieononiwu, we'll have to look at how often this is happening.  There may be an issue here that the .Net team is aware of already, so it's worth following up with them if this is happening more often than we'd like.

[2019-12-10 18:43] scbedd commented on #8914
Blocking issue discovered on last validation. Latest updates for `Azure.Storage.Files` is causing a conflict when determining what assembly owns the type `ShareSasPermissions.xml`. At least one of these succeeded (given that we can see Files.Shares in the ToC), but the interplay of the new Azure.Storage.* are building are causing artifacts that are not recognized by the build system.

[2019-12-10 18:50] kaerm commented on #8914
Wait - let me understand it better - Azure.Storage.Files should not be used at this point. The GA package is Azure.Storage.Files.Shares. Is that causing the problem or other Storage packages?

[2019-12-10 18:53] scbedd commented on #8914
I edited the comment, but I believe it's all of them in general. Why? I tried _completely removing_ Azure.Storage.Files.Shares and the problem still occurred. I'm writing a mail to Robert now.

[2019-12-10 20:08] jsquire opened #9064 "Design Proposal for a Generic Event Processor Base"
# Summary

In order to meet the needs of developers with special needs for reading events, such as very high volume or the ability to control persistent storage interactions directly, a base class is desirable to enable making use of the load balancing and other core functionality of the Event Processor client without the need to adopt its full set of abstractions and API.

Because this is an adva

[2019-12-10 20:12] scbedd commented on #8914
Heard back from Robert.

[code]

Short term: I am removing the preview version of `Azure.Storage.Files` to mitigate and unblock doc publishing.

[2019-12-10 20:41] amnguye commented on #9009
Hi,

What version of the SDK are you using? I see that you're using CloudBlockBlob which is a object used in version 11 of the SDK but is no longer used in 12 (the current version).

I would try the current version of the SDK to see if this problem gets resolved.

[2019-12-10 20:50] jsquire opened #9065 "Create a Migration Guide"
# Summary

In order to assist developers in migrating their code from the legacy Event Hubs client library to the new version, it would be helpful to present a migration guide that focuses on our core scenarios and illustrates, in code, the differences between using the two different libraries.

# Scope of Work

- Review the migration guide samples for [TypeScript](https://github.com/richardpark-m

[2019-12-10 20:52] amnguye commented on #8952
Hi,

Thanks for your input. We will definitely look into making a helper method for Exists for blobs.

I've added the feature request label onto this.

[2019-12-10 21:04] heaths commented on #8375
This has been resolved.

[2019-12-10 21:04] #8375 closed

[2019-12-10 21:05] heaths commented on #8012
Preview 6 was released.

[2019-12-10 21:05] #8012 closed

[2019-12-10 21:11] heaths commented on #8831
We'd be happy to look into this but will need more information. If you could supply the requested information and reopen the bug, we will take a look.

[2019-12-10 21:11] #8831 closed

[2019-12-10 21:23] jsquire commented on #9051
Picking up the assignment on behalf of @christothes, as he had expressed interest but I'm unable to directly assign.

[2019-12-10 21:31] heaths commented on #3940
You're right: we should be calling the base constructor taking an `HttpClient` and would also need to plumb through whether it should be disposed or not, mimicking that constructor (as an overload, to avoid breaking changes).

But have you taken a look at our new libraries like <https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.keys?view=azure-dotnet>? They have much improved per

[2019-12-10 21:41] kurtzeborn commented on #8984
Hey @AlexanderSher, can you be more specific on what you're looking for here?  Was this something you're investigating, or asking that someone else investigate?  Can you provide an example scenario you'd like to see covered with this?

[2019-12-10 21:43] kurtzeborn commented on #8987
@hytao, which .Net SDK was published that needs documentation updates?

[2019-12-10 21:43] wiazur opened #9068 "[BUG] Unexpected Result for AnalyzeImageByDomainAsync"
Computer Vision API v5.0.0 and v6.0.0-dev.20190919.3.

Testing through Visual Studio, Windows 10.

## Issue Description
The `AnalyzeImageByDomainAsync()` function returns a `DomainModelResults.Results`, but it is raw JSON response, meaning the user does not know what it can get from this response, until they print the whole response as a JSON dump. SDKs are supposed to prevent having to dig throug

[2019-12-11 00:32] jlian commented on #8979
Don't think we will be able to accommodate this request, sorry

[2019-12-11 00:32] #8979 closed

[2019-12-11 00:34] lmolkova opened #9071 "Distributed tracing: Use short span names"
**Describe the bug**
.NET SDKs set Activity names (for public api surface spans) to fully qualified name: 'namespace.class.method'.  Namespace presence makes span names too long and is not very informative. 'Class.method' provides enough granularity and context for users.

Java, Python and JS SDKs use class.method (or method only)

***Exception or Stack Trace***
N/A

**To Reproduce**
Follow [distr

[2019-12-11 00:34] jlian commented on #7449
@iluican can you assign someone to look at this?

[2019-12-11 01:25] JoshLove-msft commented on #9031
Another idea that @tg-msft mentioned would be to have ResponseClassifier.IsRetriableException inspect the InnerException and retry if the inner exception is a Timeout or IOException.

[2019-12-11 01:46] lmolkova opened #9073 "Distributed tracing: Add links on Send"
**Is your feature request related to a problem? Please describe.**

EventHubs Track2 SDK creates
- span per each message (when message is added to batch or sent).
- span for sending message/batch.

We assume that users, knowing their code, in most cases can figure out relationships between messages/send operations (they are most likely siblings).

The problem happens when we try to use automated t

[2019-12-11 01:53] hytao commented on #8987
Hi Scott,
We want to update the documentation for cdn service.

Scott Kurtzeborn <notifications@github.com> 于2019年12月10日周二 下午1:43写道：

--
*Hanyun Tao  陶涵韵*
Computer Science&Engineering, M.S.E. 2017
College of Engineering, University of Michigan
Computer Engineering, B.S.E. 2015
College of Engineering, University of Michigan
Electrical and Computer Engineering, B.S.E. 2015
UM-SJTU Joint Institute, S

[2019-12-11 02:07] lmolkova opened #9075 "Distributed tracing: Stamp EventHubs info on processing and message spans"
**Is your feature request related to a problem? Please describe.**
When EventHub processor receives messages, the only telemetry it generates is the processing span.  This span is not attributed with any event-hub specific info (endpoint, entity).

I.e. there is no way of knowing which EventHub certain app communicates with and processes messages from. Users may know it, but tools/visualizations d

[2019-12-11 03:23] jongio opened #9076 "[BUG] GetToken fails when providing multiple scopes"
This code uses two scopes:

`new DefaultAzureCredential().GetToken(new TokenRequestContext(new string[]{"https://management.azure.com/.default", "https://storage.azure.com/.default"}));`

Throws this exception for EnvironmentCredential
[code]

Throws this exception for Managed Identity enabled VM
[code]

This exception for SharedTokenCacheCredential:
[code]
They work individually:
[code]

[2019-12-11 03:30] jongio opened #9077 "[BUG] GetToken(string[] scopes) in docs, not in code."
Docs has string[] scopes overrides:
![image](https://user-images.githubusercontent.com/2163001/70588947-33168100-1b83-11ea-8763-2605e3b4d120.png)

https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet

Code does not:

![image](https://user-images.githubusercontent.com/2163001/70589020-707b0e80-1b83-11ea-9ff0-2413fcc0c917.png)

[2019-12-11 04:08] annelo-msft opened #9078 "Rename TextAnalysis* to TextAnalytics*"
Per JS change to this effect - otherwise it looks a bit like a typo.

Include other naming changes discussed in this as well.
https://microsoft-my.sharepoint.com/:x:/p/annelo/EVJZmHl62dRLtGmNTx0xSpYBgWn-FyAzjpCmXkEB7tPikg

[2019-12-11 04:12] annelo-msft opened #9079 "Consider breaking TextAnalyticsClient into multiple clients."
Do UX research on what functionality is used together and if/whether it would make sense to break different clients into different packages, such as Pii or other entity endpoints.

Related to this: https://github.com/Azure/azure-sdk-for-net/issues/8895

[2019-12-11 04:38] anilkumar1998 commented on #4574
I was using 5.04 version of Microsoft.IdentityModel.Clients.ActiveDirectory and faced the same issue. I downgraded to 3.19.8 and packages depending on Microsoft.IdentityModel.Clients.ActiveDirectory to appropriate version and it worked for me.

[2019-12-11 16:43] albertodenatale commented on #8592
👏 👏 👏

That was a truth masterpiece really loved it. Making the ```PooledProducer``` as ```IAsyncDisposable``` was a real touch.

Not sure I understand completely plan A though.

I think to understand we want to use [System.Runtime.Caching.MemoryCache](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.caching.memorycache?view=netframework-4.8&viewFallbackFrom=netcore-3.0) in place of ```T

[2019-12-11 16:59] annelo-msft commented on #8944
I worry about moving the Track 1 library as well, because a new user coming to the repo might then never identify Text Analytics as one of the cognitive services -- this seems like a potentially negative thing for Text Analytics and any of the other services we move out.  What if we kept Track 1 libraries under `cognitiveservices/`, moved Track 2 libraries to `sdk/servicename/packagename` and adde

[2019-12-11 19:01] schaabs commented on #8945
I agree that this should be an scenario we support. I'm currently investigating the best solution for this and we'll try to include support for this as part of our planning for our next release.

As to why this worked in debug mode in some cases this is probably because the detection of IMDS (VM MSI) availability is timing sensitive. We try to connect to the endpoint but set a very short timeout f

[2019-12-11 19:37] nemakam commented on #9043
@josh-endries
Copied from this - https://github.com/Azure/azure-service-bus-dotnet/issues/239#issuecomment-320820562

1. send via full .net client and receive via .netstd client

type sent via .netfull | receive via .netstd
-- | --
stream | bytes (which is literally bytes from stream)
object (including string, bytes[]), the object is serialized with DataContract | GetBody<T> (the extension method

[2019-12-11 19:37] nemakam commented on #9043
@josh-endries , Let me know if the above explanation doesn't answer your question.

[2019-12-11 19:37] #9043 closed

[2019-12-11 19:45] nemakam commented on #8434
The plan was to separate runtime properties like `MessageCount` which might have to be aggregated over multiple partitions and nodes at runtime before returning it, and the static content which are part of `QueueDescription` which can be fetched easily from anywhere. Initially they were bundled together as one giant method. The aim was to separate them out so that we optimize resource usage.
Addin

[2019-12-11 19:46] nemakam commented on #8434
@tmasternak , sorry, but this needs further discussion internally and I'd like you to hold off on a new PR creation for this for now.

[2019-12-11 20:46] JoshLove-msft opened #9085 "Re-enable UploadRangeFromUriAsync"
Fix and re-enable this test. It is being disabled temporarily as it causes live test failures.

[2019-12-11 21:36] annelo-msft commented on #8777
Complete.

[2019-12-11 21:36] #8777 closed

[2019-12-11 22:05] JoshLove-msft opened #9087 "Respect ServicePointManager.DefaultConnectionLimit for .NET Framework in parallel operations"
For parallel upload and download, we use a default of 5 connections. For .NET Framework, the default value is 2.
We should consider whether we should use Min(5, DefaultConnectionLimit) for .NET Framework. For .NET core there is no maximum - https://blogs.msdn.microsoft.com/timomta/2017/10/23/controlling-the-number-of-outgoing-connections-from-httpclient-net-core-or-full-framework/

Note that we up

[2019-12-11 22:10] annelo-msft commented on #8944
Per our discussion in stand-up this morning, we will move TextAnalytics to `sdk/textanalytics/[module]`

For consistency across repos, other languages should follow this convention as well.  @kristapratico, @xirzec, @samvaity, @mssfang, @mayurid

Thanks, all!

[2019-12-11 22:12] xirzec commented on #8944
Already updated my PR: https://github.com/Azure/azure-sdk-for-js/pull/6433

[2019-12-11 22:26] annelo-msft opened #9089 "Investigate: Improve the performance of success and error responses"
Per Heath's comment: https://github.com/Azure/azure-sdk-for-net/pull/9080#discussion_r356843416

- work with service team to document result sort order, if possible
- reimplement merge algorithm

[2019-12-11 22:39] allegradomel commented on #8064
#please-close

[2019-12-11 22:43] annelo-msft opened #9091 "Improve test coverage of TA library"
Consider for mock types:
https://github.com/Azure/azure-sdk-for-net/pull/9080#discussion_r356744102

[2019-12-11 22:48] mssfang commented on #8944
Java already has this change in the PR as well: https://github.com/Azure/azure-sdk-for-java/pull/6161

[2019-12-11 22:48] #8064 closed

[2019-12-11 22:49] KarenHammons commented on #8064
Closed.

From: Allegra Domel <notifications@github.com>
Sent: Wednesday, December 11, 2019 4:39 PM
To: Azure/azure-sdk-for-net <azure-sdk-for-net@noreply.github.com>
Cc: Karen Hammons <karenha@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-for-net] [BUG] Getting token with VNET (#8064)
Importance: High

#please-close

—
You are receiving this because you were me

[2019-12-11 23:01] lmolkova opened #9092 "Distributed tracing: Span kinds changes"
**Describe the bug**
EventHub spans(activities) kinds were not correct in the previous guidance. They should be changed to
- Message: 'producer' kind (was 'internal')
- Send: 'client' kind (was 'producer')
- Processing: 'consumer' kind (was 'server')

This complies with [OpenTelemetry semantics](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#

[2019-12-11 23:14] #8702 closed

[2019-12-11 23:14] #8705 closed

[2019-12-11 23:31] amnguye opened #9093 "[BUG] [storage] [files] UploadRangeAsync takes in a stream when set to Clear Range"
**Describe the bug**
To clear ranges for a Azure File the mehtod UploadRange needs to be called, using the parameter writeType to be set to "ShareFileRangeWriteType.Clear". However when calling this method, with this parameter it still requires to pass a stream object for the content parameter. This is unnecessary for the user to have to create a stream that's not used.

Currently the SDK uses tha

[2019-12-12 01:52] andyw248 commented on #6127
Please file feature request at: https://feedback.azure.com/forums/246290-automation?filter=top&page=1.

[2019-12-12 01:52] #6127 closed

[2019-12-12 02:06] andyw248 commented on #6428
Closing as per the above comment.

[2019-12-12 02:06] #6428 closed

[2019-12-12 04:08] iscai-msft opened #9102 "Certificates consistency fixes"
- [x] Make provider required for the CertificateIssuer model
- [x] x509certificates parameter -> x509Certificates in MergeCertificateOperations
- [x] Get rid of required policy parameter in ImportCertificateOptions constructor
- [x] Update docts to mention that updateStatus requires get permissions to poll
- [x] What should you do about potentially not having get permissions in a poller? (will dis

[2019-12-12 04:33] serkantkaraca commented on #7781
Please reactivate the thread if needed.

[2019-12-12 04:33] #7781 closed

[2019-12-12 04:34] serkantkaraca commented on #8743
No comm for a while. Please reactivate the issue if needed.

[2019-12-12 04:34] #8743 closed

[2019-12-12 04:38] serkantkaraca commented on #8761
So sorry that I missed to notice this issue. Is it still happening? If so, how often are you seeing the failures? Can you also check your code that you are not unregistering host at some place. Receivers are only closed during unregister call.

[2019-12-12 04:43] serkantkaraca commented on #8892
Fixed by https://github.com/Azure/azure-sdk-for-net/commit/74764e44ea817b9de73eea3a637ccf295c01da6c#diff-1e0ecb0f40c280481e60fafad9e32799

[2019-12-12 04:43] #8892 closed

[2019-12-12 04:44] serkantkaraca commented on #7435
This is fixed now.

[2019-12-12 04:44] #7435 closed

[2019-12-12 04:48] serkantkaraca commented on #8612
Assuming this is fixed by https://github.com/Azure/azure-sdk-for-net/pull/7014. Please reactivate if this is not the case.

[2019-12-12 04:48] #8612 closed

[2019-12-12 11:14] tmasternak commented on #8434
@nemakam thank you for sharing the context. I think that splitting configuration and runtime data at the API level makes perfect sense.

That said, it would be great if there was a way to get runtime data without 1+n access pattern. This obviously assumes that ASB internals enables to gathering data about multiple entities in one request. Otherwise, I would question exposing paged runtime data at

[2019-12-12 14:21] ChrisHMSFT commented on #8944
@annelo-msft just wanted to confirm would this be just for track 2 or are we moving the track1 libraries?

[2019-12-12 14:55] qudiransari commented on #3933
I can't believe it even worked for me in VS 2019

[2019-12-12 15:55] jsquire commented on #8592
No worries;  I don't have a clear picture in my head, so its quite likely that I'm not expressing myself so well.    My thought would be to replace the `ConcurrentDictionary` as the storage and delegate that to `MemoryCache` if we can.   That would make `TransportProducerPool` just a lightweight manager for putting items into the cache, fetching them from the cache, and doing any synchronization n

[2019-12-12 16:10] bilalmalik777 commented on #8743
my apologies for not commenting regarding issue status. Actually the issue was in something else not in   EventProcessor. :)

[2019-12-12 16:47] annelo-msft commented on #8944
@ChrisHMSFT yes this is just for track 2 at this time.  We may revisit the location of track 1 before the library GA's but we know this would cause breaking changes we would have to address, and so are not doing this at this time.

[2019-12-12 17:15] jsquire commented on #8592
I'd like to spin some further thoughts that I think could simplify things further and help to unify the "what happens with a MemoryCache" and "What happens with a ConcurrentDictionary" scenarios.

Here's the gist:

- When the `TransportProducerPool` returns an producer, the caller provides a key that is logged as an active user of the item, and the "last used" time would be updated.
- When the poo

[2019-12-12 17:49] jongio opened #9110 "[BUG] System.FormatException: 'No valid combination of account information found.' when using SAS Connection String"
This code, which uses the SAS connection string from the Azure Portal
![image](https://user-images.githubusercontent.com/2163001/70736188-a1af2800-1cc4-11ea-8a6c-cac35feaffe7.png)

[code]

Now throws this exception:
[code]

[2019-12-12 17:49] jongio commented on #8859
Reactivating due to #9110

[2019-12-12 18:18] thdotnet opened #9112 "return cloudblockblob size"
using the following:

`CloudBlockBlob blob = container.GetBlockBlobReference(blobName);
`
blob.Properties and blob.Properties.Length are not being populated. Why is this happening? What is the approach to get cloudblockblob size?

[2019-12-12 18:42] jlian commented on #7449
Looks like it's an issue with the IoT hub client C# SDK. @SalmaMamdouhSalem can you please open your issue at https://github.com/Azure/azure-iot-sdk-csharp?

[2019-12-12 18:42] #7449 closed

[2019-12-12 18:57] tg-msft commented on #9092
/fyi @jsquire and @pakrym

[2019-12-12 19:16] #8944 closed

[2019-12-12 19:25] JoshLove-msft commented on #9110
The issue is that our SDK doesn't support table storage. We can make it so we don't fail validation if table storage endpoint and SAS permissions are included in connection string.

[2019-12-12 19:26] JoshLove-msft commented on #9110
The workaround is to remove the table endpoint from the connection string.

[2019-12-12 19:46] seanmcc-msft commented on #9093
I think we should split UploadRangeAsync into
[code]
@tg-msft, what do you think?

[2019-12-12 19:50] #8839 closed

[2019-12-12 19:50] #8865 closed

[2019-12-12 19:51] annelo-msft commented on #8715
Samples are currently useful even if not in the correct format - moving to February milestone.

[2019-12-12 20:32] jongio commented on #9110
Thanks Josh.

I have confirmed that workaround works, here are more detaills.

The TableEndpoint URL cannot exist in the connection string, so remove it.

![image](https://user-images.githubusercontent.com/2163001/70746441-ab438a80-1cda-11ea-9e33-016113b15535.png)

Do not check the Table checkbox in the Portal
![image](https://user-images.githubusercontent.com/2163001/70746817-69ffaa80-1cdb-11ea-8

[2019-12-12 20:40] tg-msft commented on #9093
I think that's a good idea.  We just need to leave the original overload for compat (hidden behind `[EditorBrowsable(...)]`, etc., is fine though).

[2019-12-12 20:41] jsquire opened #9117 "Model Factory Design and Implementation"
# Summary

One of the core tenants of our client libraries is to support mocking of our types for testability.  An open question during early development of the Event Hubs client library was how to allow for creation of support types that were not intended to be constructed outside of the core library without making those semantics unclear by exposing public constructors.

The approach decided upo

[2019-12-12 20:45] jsquire commented on #8724
These were recently enabled as part of the recent efforts to revisit the project configuration and remove legacy overrides that are no longer needed.

[2019-12-12 20:45] #8724 closed

[2019-12-12 22:14] the-m4a opened #9119 "[BUG] Documentation Bug: GetCertificatesAsync does not specify behavior when includePending is null"
**Describe the bug**
Documentation Bug: GetCertificatesAsync does not specify behavior when includePending is null.

The comment for that parameter is currently:
_Specifies whether to include certificates which are not completely provisioned._

This is visible on this page:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.keyvault.keyvaultclientextensions.getcertificatesasync?view=azure

[2019-12-12 22:15] heaths commented on #9102
We're going to add a public constructor to `CertificateOperation` to make this possible.

[2019-12-12 22:47] jongio commented on #8859
Please see workaround description here: https://github.com/Azure/azure-sdk-for-net/issues/9110#issuecomment-565174631

[2019-12-12 23:31] heaths commented on #9102
HTTP 403 can signal that a resource exists, but you can't access it. For example, you could poll for 200 or 403 to signal "is completed", but 403 will prevent you from getting the value (e.g. certificate). Whether you can separate those really depends on the architecture of your poller. .NET and JS handle it this way currently.

[2019-12-12 23:43] JoshLove-msft opened #9120 "Re-enable parallel upload/download live tests after fixing memory issues and timeouts"
The UploadFileAsync_LargeBlobs and UploadStreamAsync_LargeBlobs blob tests, and the UploadAsync_LargeBlobs file tests fail intermittently due to out of memory or timeouts. We can fix memory issues by using random stream data instead of allocating memory for the entire size we are testing.

[2019-12-13 00:33] serkantkaraca commented on #8743
Glad to hear issue is solved.

[2019-12-13 00:36] #8784 closed

[2019-12-13 00:36] #9078 closed

[2019-12-13 01:26] #9058 closed

[2019-12-13 04:22] heaths opened #9130 "Bootstrap Az module (and possibly PowerShell Core)"
We need to bootstrap install of the Az module based on, for example, https://gist.github.com/heaths/77fbe0b44496960fab25c2eb0b9e8475#file-unregister-missingmsis-ps1-L128-L138, instead of requiring it via `#Require`.

We should also explore bootstrapper pwsh, though that requires some system changes people may not want. Perhaps we can have them opt in explicitly via a switch.

[2019-12-13 09:04] stefankip commented on #8761
I had the same error last night happening in multiple microservices running in k8s.
Two errors to be precise:

[code]

And:
[code]

They happened from 5:00 AM to 7:30 AM.
Been working with the service bus for a few days, so I can't tell if this is happening all of a sudden or will happen every week for example.

[2019-12-13 10:07] #8663 closed

[2019-12-13 12:41] nathanblair opened #9134 "[BUG] No option to pass Timeout.InfiniteTimeSpan to operations that have a timeout"
**Describe the bug**
A timespan value of 0 or negative values cannot be passed to methods like MessageReceiver.ReceiveAsync, or similarly set as the OperationTimeout of the MessageReceiver. There needs to be some way to denote that an indefinite amount of time should be awaited for MessageReceiver and similar class operations. I've read in some of the documentation and previous bugs that this was

[2019-12-13 15:14] albertodenatale commented on #8592
I think I got that, thank you for taking the time to explain in such a great detail your thinking.

You said that this race is benign. I can't understand though.

Let's say there was a context switch exactly where you put your comment.

Let's say a ```CloseAsync()``` was called on the same producer returned by ```Pool.GetOrAdd(partitionId,id => new PoolItem(new TransportProducer()));```

Wouldn't

[2019-12-13 17:03] ChrisHMSFT commented on #4633
Hi All,

Closing this ticket since the Azure portal now displays the same structure that is required for the SDKs

Thanks,
Chris

[2019-12-13 17:03] #4633 closed

[2019-12-13 17:11] ChrisHMSFT commented on #4534
Hi All,

Closing this ticket as the Azure portal now displays and endpoint consistent with the input for the SDK. Please re-open if this issue still persists

Thanks,
Chris

[2019-12-13 17:51] Muthukumar230195 commented on #4574
@anilkumar1998  thanks for the  reply. i have fixed this bug

[2019-12-13 18:22] tg-msft commented on #9119
/fyi @heaths and @schaabs

[2019-12-13 19:47] #6853 closed

[2019-12-13 20:01] SiobhanBaynes opened #9139 "[BUG] Trying to use generated SAS token in SDK v12"
**Describe the bug**
A SAS token created for a blob appears to generate successfully but fails validation on download

***Exception or Stack Trace***
When trying to hit the URL in the browser the following message is given:
`<Error>
<Code>AuthenticationFailed</Code>
<Message>
Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the si

[2019-12-13 20:08] #9110 closed

[2019-12-13 20:52] shuk opened #9142 "BlockBlobClient throws System.IO.IOException when it is used for uploading a large file."
BlockBlobClient throws the exception when it is used for uploading a large file (1.2Gb) to Azure Gov Blob Storage. The issue is actual for large files only. It is interesting that BlobClient uploads the same file successfully. The details are below.

**Library:** 12.1.0 (https://www.nuget.org/packages/Azure.Storage.Blobs/12.1.0)

**App**: .NET Core 2.2, Console application

**Exception:**
"System.

[2019-12-13 21:36] tg-msft commented on #9139
/cc @JoshLove-msft

[2019-12-13 21:53] JoshLove-msft commented on #9139
It looks like in the snippet, we are setting the BlobSasBuilder.BlobName = BlobUrl rather than the BlobName itself.

I believe it should work if we set BlobName to the actual blob name, and set BlobContainerName to the container name in the BlobSasBuilder.

[2019-12-13 22:04] mikeharder opened #9143 "[storage] Decrease live test timeout"
The storage live test timeout should be decreased once the tests are passing reliably and the typical runtime is known.

[2019-12-13 22:05] mikeharder opened #9144 "[storage] Run live test assemblies in parallel"
The storage live tests should re-enable running assemblies in parallel once the tests are passing reliably with parallel disabled.

[2019-12-13 23:05] kaerm opened #9146 "Onboard January releases on docs.microsoft.com"
- [ ] Onboard the following packages on docs.microsoft.com
**Latest:**
Azure.Messaging.EventHubs 5.0.0
Azure.Messaging.EventHubs.Processor 5.0.0
Azure.Messaging.EventHubs.CheckpointStore.Blobs 1.0.0
Azure.Data.AppConfiguration 1.0.0
Azure.Security.KeyVault.Certificates 4.0.0
Azure.Storage.Files.DataLake 12.0.0
**Preview:**
Azure.AI.TextAnalytics 1.0.0-preview1
Azure.Cosmos 4.0.0
**Legacy:**
Micros

[2019-12-14 00:12] scbedd commented on #8914
`Azure.Storage.Files` and `Azure.Storage.Files.Shares` previews will be excluded until the `latest` packages and `preview` packages will have the same BaseType.

Limitation of the docs pipeline.

Review documentation is available here: https://review.docs.microsoft.com/en-us/dotnet/api/overview/azure/?view=azure-dotnet&branch=master

[2019-12-14 00:14] kaerm commented on #8914
let's share that with the .net team for review

[2019-12-14 00:45] kaerm commented on #8987
hey @hytao you need to go to https://aka.ms/publish-on-docs/reference and create a request

[2019-12-14 02:24] heaths commented on #9119
I can update the documentation, but I'm afraid it won't clarify much. After much discussion, we left it as a nullable boolean to accept the server default since the [query parameter](https://docs.microsoft.com/en-us/rest/api/keyvault/getcertificates/getcertificates#uri-parameters) is optional. In general, we have tried to avoid hard-coding behaviors in the client that are not explicitly documented

[2019-12-14 02:32] #9119 closed

[2019-12-14 04:29] christothes commented on #9051
@jsquire I've created https://github.com/christothes/azure-sdk-for-net/pull/1 for discussion of the approach.

[2019-12-14 07:25] #9102 closed

[2019-12-16 11:55] oleksabor opened #9152 "[QUERY] how to use AzureServiceTokenProvider.GetAccessTokenAsync locally ?"
**Query/Question**
Please help me to get AzureServiceTokenProvider.GetAccessTokenAsync() working

The AzureConnection configuration value looks like:

[code]

It fails with the `Access token could not be acquired. A socket operation was attempted to an unreachable network.)` error

I've checked the http query that is executed and it looks like
[code]
I've found that 169.254.169.254 is a special IP

[2019-12-16 14:02] SiobhanBaynes commented on #9139
Awesome thanks!..I tried a bunch of parameters in there but didn't spot the BlobContainerName property.  Are there any docs for this?  If not, do you have a stub I can contribute to?

[2019-12-16 14:02] #9139 closed

[2019-12-16 15:22] gregmus commented on #8761
No I'm not unregistering a host in any place of the code.
It's happeing very rarely, I haven't seen this error since I reported this issue.

[2019-12-16 15:32] oleksabor commented on #9152
I've used wrong connection string, it must be
RunAs=App;AppId={guid};TenantId={guid};AppKey={secret}

the proble was I've used **Secret** (wrong) instead of **AppKey**

[2019-12-16 15:33] #9152 closed

[2019-12-16 16:33] tg-msft commented on #9139
We're still working on getting more comprehensive [samples](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs#L125) out that will walk through a number of these scenarios in more depth.  Please check back soon.

We also generate [reference docs](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.sas.blobsasbuilder?view=azure-dotn

[2019-12-16 17:28] arman-g opened #9154 "[BUG] Run pipeline fails for targeting .net core 3.1"
**Describe the bug**
 Run pipeline fails for targeting .net core 3.1.

***Exception or Stack Trace***

[code]

**To Reproduce**
1. Setpup azure pipeline for a project targeting .net core 3.1
2. Run pipeline.

**Expected behavior**
Should run the pipeline and build the application without errors.

**Setup (please complete the following information):**
- Azure DevOps Pipeline
 - .net core 3.1

[2019-12-16 17:35] Peperud opened #9155 "KeyVault configuration extension failure"
Application uses ***AzureKeyVaultConfigurationExtensions*** and runs in a containers with user assigned identity. The identity is granted access to the key vault.
On startup, about ***half*** the time the application fails when creating the configuration.

From the container logs:
[code]

***Code Snippet***
[code]

**Expected behavior**
Building the configuration should work reliably

[2019-12-16 17:45] #7248 closed

[2019-12-16 19:00] AlexGhiondea commented on #8957
@b10-dslappendel thanks for reporting this. We are aware of this issue and are working on a fix for it and we will release it early next year.

[2019-12-16 19:21] seanmcc-msft commented on #9142
@tg-msft, could you take a look?

[2019-12-16 19:26] jsquire commented on #9134
/cc: @makam, @binzywu

[2019-12-16 19:46] #9050 closed

[2019-12-16 19:46] #9052 closed

[2019-12-16 19:59] seanmcc-msft commented on #9142
It looks like BlockBlobClient.UploadInteral() doesn't support parallel and multi-part uploads:

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/BlockBlobClient.cs#L492

But BlobClient.StagedUploadAsync() does:

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/BlobClient.cs#L966

This is also a problem in AppendBlo

[2019-12-16 20:56] JoshLove-msft opened #9157 "Give clients access to exceptions/failed responses from retries"
If a request is retried and the final retry results in an exception, an AggregateException is thrown which includes the previous exceptions. However, if the final retry results in a failure response, clients have no way to access the previous exceptions or previous failure responses. This information is very useful in debugging failures. For instance, the default ResponseClassifier will retry on I

[2019-12-16 21:22] jfggdl commented on #8498
@j055, do you have an update on the suggested next step?>

[2019-12-16 21:37] pakrym commented on #9154
Hello, thank you for your report but this repository contains Azure Client SDK libraries. Azure DevOps issues should be filed using developercommunity.visualstudio.com.

Please take a look at https://developercommunity.visualstudio.com/content/problem/844809/azure-pipelines-wapproj-build-fails-using-windows.html

[2019-12-16 21:37] #9154 closed

[2019-12-16 22:02] jsquire commented on #9051
Much appreciated.   I left a few thoughts there; in a nutshell, I like the approach and think there are just a few details that we'll want to kick around to lock down.

[2019-12-16 22:15] nemakam commented on #9134
@nathanblair,
Thanks for the request.
Going into the details, this library is built on top of AMQP protocol and in AMQP terms, we issue a `credit` on the `AmqpLink` when you do a `ReceiveAsync()`.
Behind the scenes, there are other things that are happening within `MessageReceiver.ReceiveAsync()`, one of the important one being - creation of the link itself (if its not already created).
Now when y

[2019-12-16 22:17] #9134 closed

[2019-12-16 23:16] #8779 closed

[2019-12-16 23:21] ellismg opened #9158 "[EventHub Track 2] Checkpoint should use exclusive not inclusive offset"
**Describe the bug**
When interpreting the `Offset` field in a partition's checkpoint metadata, we use `EventPosition.FromOffset()` to build a position from the given offset. However, `EventPosition.FromOffset(long)` returns an **inclusive** offset, so we end up reprocessing the last checkpointed event each time the processor restarts.

**To Reproduce**
1. Push a bunch of events into EventHub, and

[2019-12-17 02:09] Peperud commented on #9155
It doesn't seem to make a difference if I use a connection string [like shown here](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#connection-string-support) either.
[code]

[2019-12-17 06:44] mzrks commented on #8761
We experienced the same issue from time to time.

Microsoft.Azure.EventHubs.ServiceFabricProcessor, Version=0.5.4.0, Microsoft.Azure.EventHubs.ServiceFabricProcessor.ServiceFabricProcessor+<InnerRunAsync>d__32.MoveNext - Can't create session when the connection is closing.

Microsoft.Azure.Amqp, Version=2.4.0.0, Microsoft.Azure.Amqp.AmqpConnection.AddSession - Can't create session when the connect

[2019-12-17 11:03] tomkerkhove commented on #8561
Any feedback/timeline on this one @axisc?

[2019-12-17 11:10] tomkerkhove commented on #8561
While we're asking, would be good if there's a built-in .NET Core Health Check that works with this feature

[2019-12-17 14:22] jsquire commented on #9158
The use of inclusive offset is by design, and was the result of some... lively... discussions during board reviews.  That said, the processor should be smart enough to account for that and shift the checkpoint offset value by 1 to force movement to the next offset.   We'll get that fixed up.

//cc: @kinelski

[2019-12-17 14:24] jsquire commented on #9158
@kinelski - We should also ensure that we have a test validating the behavior, post-fix.

[2019-12-17 14:56] giggio commented on #8561
Everyone interested in this issue, please add your 👍 up there so they can prioritize it.

[2019-12-17 15:20] jsquire commented on #8592
It wouldn't be good.  That said, I *think* we covered that fairly well.   We remove it from the pool before checking to see if there are any active instances, which is a synchronized check.  We'd have to have a scenario where the pool was returned just before the item was removed and the check was performed just before the other holder marked themselves as active.   It is possible, but I would cal

[2019-12-17 16:01] danwkennedy opened #9165 "[BUG] BlobClient.DownloadAsync() doesn't return ContentHash even though docs suggest it should"
**Describe the bug**
Calls to `BlobClient.DownloadAsync()` and `BlobClient.DownloadAsnyc(CancellationToken)` don't return the `BlobDownloadInfo.ContentHash` field.

**To Reproduce**
- Set up a blob with the content hash set
- Download using either `DownloadAsync()` or `DownloadAsync(CancellationToken)`
- Look at the contents of the `ContentHash` property

***Code Snippet***

[code]

**Expected beh

[2019-12-17 18:19] jsquire commented on #9165
//cc: @tg-msft

[2019-12-17 18:20] #9046 closed

[2019-12-17 18:30] seanmcc-msft commented on #9165
I can repo the issue, DownloadReponse.ContentHash is null, but DownloadResponse.Details.BlobContentHash is populated.

This may be by design, since BlobClient.Download() may have to preform multiple get requests to download the entire blob.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/src/BlobBaseClient.cs#L601

[2019-12-17 19:54] heaths commented on #9155
Does this same behavior reproduce if you use the new Azure.Security.KeyVault.* libraries? These are a complete rewrite to be consistent across languages, faster with less memory allocation, and easier to configure. Is it possible to switch to those, which are under active development?

[2019-12-17 20:05] heaths opened #9170 "Remove Key Vault test secrets for .NET repo"
Once these changes go through can you please file a follow-up item to remove these secrets in keyvault and clean-up the associated resources in our test sub.

_Originally posted by @weshaggard in https://github.com/Azure/azure-sdk-for-net/pull/9127_

[2019-12-17 20:06] zezha-msft commented on #9112
Hi @thdotnet, you probably need to invoke the get properties call before looking at the length.

[2019-12-17 20:13] seanmcc-msft commented on #9112
Response<BlobProperties> response = await blob.GetPropertiesAsync();
long length = response.Value.ContentLength;

[2019-12-17 21:01] JoshLove-msft opened #9173 "[FEATURE REQ] Exists/CreateIfNotExists/DeleteIfExists for DataLake"
Is your feature request related to a problem? Please describe.
Related to issue #7211
BlobContainerClient has CreateIfNotExists/DeleteIfExists methods. We should add similar methods for DataLakeFileSystemClient

Describe the solution you'd like
Helper methods (like CreateIfNotExists/DeleteIfExists) for DataLakeFileSystemClient and possibly other DataLake clients where it makes sense.

Describe alt

[2019-12-17 21:22] MattHartz commented on #4575
@kalyanaj Do you know how to consistently replicate this issue? I am experiencing this in a production environment, but cannot replicate. I have a wrapper class that has a local EventGridClient in a container with Unity. So it shouldn't be creating HttpClients per event.

Or if anyone has some ideas that would be great! :)

[2019-12-17 21:29] MattHartz opened #9175 "[BUG] TaskCanceledException with PublishEventsAsync function"
**Describe the bug**
Occasionally in production, receiving Task Cancelled at the "PublishEventsAsync" function.
Once this happens, i have to redeploy my application for it to stop breaking particular functions.

I have a wrapper class that contains an EventGridClient, and this class is stored in a DI container using Unity, so if there are any HttpClients that EventGridClient is creating, it should

[2019-12-17 21:29] thdotnet commented on #9112
Thanks, but I was expecting this to be automatically populated because I do need the blob and it's properties, don't want to do two calls for it.

[2019-12-17 21:32] thdotnet commented on #9112
@seanmcc-msft there's no such method on assembly Microsoft.Azure.Storage.Blob (11.1.0.0).

[2019-12-17 21:38] nonik0 commented on #8877
@lukas-gmuer What version of AppAuthentication are you using? Support for user-assigned identities was first added in [1.2.0-preview](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/1.2.0-preview). Based off the error message shown, it looks like you are using an older version of AppAuthentication.

[2019-12-17 21:42] #8914 closed

[2019-12-17 22:12] Peperud commented on #9155
I suppose I can give it a try (though "_under active development_" is not what I'm looking for). On first glance I didn't see an accompanying configuration extension. Is this correct?

[2019-12-17 22:19] fpnewton commented on #7509
I'm having this same issue.

[2019-12-17 22:36] zezha-msft commented on #9112
@thdotnet `GetBlockBlobReference` is not making any actual HTTP call, it's just giving you a reference (pointer) to the blob.

[2019-12-17 23:09] heaths commented on #9155
It's in the same package. See https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Azure.Security.KeyVault.Certificates/4.0.0-preview.7/api/Microsoft.Extensions.Azure/Microsoft.Extensions.Azure.CertificateClientBuilderExtensions.html for our latest preview documentation. We are close to GA'ing Certificates. Keys and Secrets have already GA'd and are up on https://docs.microsoft.com/en-us/dotnet/

[2019-12-17 23:40] Peperud commented on #9155
@heaths Are we talking about the same thing? What I meant was - is there an equivalent for this
[code]
that uses the new Azure.Security.KeyVault.* libraries?

[2019-12-18 01:02] chidozieononiwu opened #9179 "Use appropriate release note entry in PackageReleaseNotes"
Pull out release notes for the appropriate version in CHANGELOG.md and use it in `<PackageReleaseNotes>` tag.

[2019-12-18 01:11] gdignard opened #9180 "[BUG] BlobClient.UploadAsync doesn't report progress correctly on large files"
**Describe the bug**
For large files (not sure what the cutoff is, but certainly for 400G+ files) the IProgress<long> returns a value which appears to be the upload progress of one upload thread rather than a global value.

***Exception or Stack Trace***
Not applicable

**To Reproduce**
Use the public virtual Task<Response<BlobContentInfo>> UploadAsync(string path, BlobHttpHeaders httpHeaders = nu

[2019-12-18 01:50] Peperud commented on #9155
It seems like a reliability issue. Tried with ```Azure.Security.KeyVault.Secrets.SecretClient``` like this
[code]
...and getting errors with it too.
[code]
It appears to be a service reliability or timing issue (or both).

In my case this is a worker that periodically polls for work (uses a token stored in the vault to call the work assigner app).
In my limited testing, if the container is left ru

[2019-12-18 03:37] nemakam commented on #6252
@msioen @SHuygh
I tried the sample on my machine and it worked as expected. The messages started flowing even after switching from 2g->4g->ethernet->4g.
I am using @msioen's sample code and 4.1.1 service bus sdk (along with latest amqp library).
I am running on visual studio 16.4.2 (latest) and on windows 10.
When I switch from one network to another, it takes 60 seconds for the connection to go i

[2019-12-18 03:40] nemakam commented on #6252
To keep the uncertainty minimum, waiting for 2 mins is more ideal.
Also, check if you really need azure functions and eventhub to be present in the setup? Why not just send the message directly to service bus topic instead?

[2019-12-18 05:32] JoshLove-msft opened #9182 "[BUG] DataLake - logging resource/recursive query parameters"
The Resource/Recursive query parameters are not included in DataLakeClientOptions.Diagnostics.LoggedQueryParameters. Instead, they are included in LoggedHeaderNames, though they don't appear to ever be sent as headers. They are sent as query parameters and currently the values are redacted.

[2019-12-18 05:57] EdiWang commented on #8952
I have the same issue when upgrading my old code to the new SDK. Now I have to use low-performance try-catch code to check 404 blobs. I would like the ```Exists()``` method for ```BlobClient```
to be implemented.

[code]

[2019-12-18 09:13] takaz-ams opened #9183 "Cannot delete a message after dequeue"
I am using azure storage queues to push messages then i ma running an aspnet core worker app to process the queue. After successfully getting a message and logging it to the db, i can delete the message. The app then hangs at that line and never returns. This like is the main issue:

 await _queueViews.DeleteMessageAsync(msgClick);
here is the rest of the code

  CloudQueueClient queueClient = sto

[2019-12-18 15:11] thdotnet commented on #9112
@zezha-msft anyway, there's no GetPropertiesAsync on CloudBlockBlob / CloudBlob classes

[2019-12-18 15:28] #7545 closed

[2019-12-18 15:28] #8844 closed

[2019-12-18 15:37] danwkennedy commented on #9165
Yeah, I found a workaround with the following code:

[code]

It doesn't change the fact that the docs and returned object are confusing. At least I can do what I need to in a single request instead of two 😄

[2019-12-18 15:45] albertodenatale commented on #8592
Thank you a lot for your answers,

I may have lost you here, why do you think there would be a good chance that we may try to add the same GUID twice?

**Odd scenario**

I was thinking about the following scenario.

A. The producer expires. However it still has active instances. Consequently, it is removed and delegates the invokation of the ```CloseAsync()``` to the cleanup function.

[code]

B.

[2019-12-18 15:48] gdignard commented on #9180
Additional context; this was also a Xamarin situation and the upload was taking place on an iOS device.

[2019-12-18 16:06] jsquire commented on #8592
Oh, I don't.   Definitely a fringe case, but we should respect it.   It may be worth extending with `&& (!item.Producer.IsClosed)` - just to further add defense in depth.

[2019-12-18 16:25] ivanvaliente opened #9185 "Long running task throws Microsoft.Azure.ServiceBus.MessageLockLostException"
We are getting the following exception when executing a long-running task in our service bus subscriber.

The long-running task does several things including reading 4.5M records from the database, building an Excel document _(using OpenXml)_ with multiple sheets _(~1M records per sheet)_, updating a few entities in the database, etc. It's all wrapped inside one method of a service, and that's the

[2019-12-18 16:26] jsquire commented on #8592
Truth.   In this case, the producer would hang around and potentially have an active link for 60 seconds until the AMQP session expires.   The instance itself would live until garbage collected, since it is presumably an orphan now.   If GC happens to kick in before the timeout, it'll force-close the resources.    So, worst case, we see an orphan hold AMQP resources for 60 seconds and consume loca

[2019-12-18 17:55] sebader commented on #8571
will this also include instrumentation for Application Insights? It seems to me the preview library is lacking that so far. Or did I miss something? thanks

[2019-12-18 18:40] weshaggard commented on #7437
@chidozieononiwu can you try and tackle this issue.

[2019-12-18 18:42] kemmis opened #9186 "[BUG] ShareClient.GetStatistics(); can't handle more bytes than can be stored in an Int."
**Describe the bug**
ShareClient.GetStatistics(); throws exception when ShareUsageBytes value coming back from the API is too large.

***Exception or Stack Trace***
System.OverflowException
  HResult=0x80131516
  Message=Value was either too large or too small for an Int32.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Number.ThrowOverflowOrFormatException(ParsingStatus status, TypeCo

[2019-12-18 18:53] kurtzeborn commented on #6167
@weshaggard and I believe we have this covered already with our service.proj files.  Closing this.  Please reopen if you feel like there's more to do here.

[2019-12-18 18:53] #6167 closed

[2019-12-18 19:09] jsquire commented on #9158
This should be fixed by #9166, which as merged.

[2019-12-18 19:09] #9158 closed

[2019-12-18 19:25] jfggdl commented on #9175
Thanks for creating this issue. Would you please share, if possible without sharing any sensitive information, the code snippet that you are using?

[2019-12-18 19:27] MattHartz commented on #9175
[code]

[2019-12-18 20:02] kemmis commented on #9186
I looked into this a bit more, and it seems like the model we need to modify is generated by swagger. So somewhere in the project needs a config tweaked so that it generates that property as int64.

[2019-12-18 21:35] #9065 closed

[2019-12-18 21:57] zezha-msft commented on #9180
@tg-msft I see that you removed the Service Attention label, are you handling this one?

[2019-12-18 22:05] tg-msft commented on #9180
@zezha-msft I added it as an oversight and immediately removed it _(we're only using Service Attention for Track 1 libraries, per my understanding)_.  I'm not planning on investigating this bug -- but I'll be sure to assign things to myself when I am to help make that clear.

[2019-12-18 22:10] MattHartz commented on #9175
Potentially more information...

"Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an application request" inner exception.

[2019-12-18 22:14] seanmcc-msft commented on #9112
Microsoft.Azure.Storage.Blob 11.x is the old Azure Storage SDK.

To get the properties of a blob using the old SDK:
[code]

Azure.Storage.Blobs 12.x is the new SDK.

To get blob properties using the new SDK:
[code]

[2019-12-18 22:14] #9112 closed

[2019-12-18 22:16] brjohnstmsft commented on #8955
Closing this issue since we do not plan to backport this fix to old SDK versions. @angelwen1396 If you have trouble upgrading to the new version, feel free to ask questions on [Stack Overflow](https://stackoverflow.com) and tag them with `azure-cognitive-search`. Engineers from our team are automatically assigned to answer such questions.

[2019-12-18 22:16] #8955 closed

[2019-12-18 22:42] amnguye commented on #9183
Hi @takaz-ams

What version of the SDK are you using?

Also when you say the app hangs, do you mean the aspnet app or the .NET sdk hangs?

[2019-12-18 22:45] seanmcc-msft commented on #9186
We already have generator support for longs.

https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.FileStorage/preview/2019-02-02/file.json#L3925

We just need to add "format": "int64":

[code]

@tg-msft, could we make an exception to our backwards compatibility rules to make this change?

[2019-12-18 22:56] takaz-ams commented on #9183
Hi
I am using 2.9

By hanging i mean that when i debug the app, and step through the lines, when i get to that particular line it does not go beyond that line. The call to .DeleteMessageAsync(msg); never returns.

If i comment out that line, it goes through and reads the next message.
I did notice that when the queue only have one message, it seems to works fine. It reads the message, logs to db t

[2019-12-18 22:59] thdotnet commented on #9112
Can you flash in the description that Microsoft.Azure.Storage.Blob is the old sdk? there's a confusion about it. There are WindowsAzure.Storage, Microsoft.Azure.Storage, Azure.Storage.Blobs and maybe more. Please also update docs.microsoft.com saying which one is the official / most recent SDK

[2019-12-18 23:39] kemmis commented on #9186
You might consider an unsigned type since the value will never be negative.

On Wed, Dec 18, 2019 at 5:45 PM Sean McCullough <notifications@github.com>
wrote:

[2019-12-18 23:40] kemmis commented on #9186
Uint64

https://docs.microsoft.com/en-us/dotnet/api/system.uint64?view=netframework-4.8

On Wed, Dec 18, 2019 at 6:39 PM Rafe Kemmis <rafe@kemmis.info> wrote:

[2019-12-19 00:32] ahamad-MS commented on #9175
Thanks @MattHartz  for reporting this issue. EventGridClient is autogenerated for us using AutoRest. It is not clear to me from your description what might cause this. I did not spot anything wrong from your code snippet too. It is not EventGrid service related issue but I will try to loop more teams to take a closer look into this issue. thanks.

[2019-12-19 00:33] ahamad-MS commented on #9175
Hello @isra-fel .. Any idea who might be able to help investigating this issue from auto-rest generated code perspective?

I added AutoRest Runtime tag but not sure if they will be the right team to help.

kindly advise.

thanks

[2019-12-19 00:50] seanmcc-msft opened #9192 "[Storage][STG71] Rename BlobContainerProperties.DenyEncryptionScopeOverride"
https://github.com/Azure/azure-sdk-for-net/pull/9190

Pending email discussion.

[2019-12-19 01:24] wiazur opened #9193 "[BUG] Computer Vision: DomainModelResults.results is raw response"
**Describe the bug**
The DomainModelResults.results from the `AnalyzeImageByDomain()` API call returns raw results instead of object properties. The issue has been spelled out[ here](https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/issues/133). This is confusing for users who expect an SDK, not a REST model.

Suggestion: create a model for [DomainModelResults](https://docs.mi

[2019-12-19 01:27] JoshLove-msft opened #9194 "Add editorconfig or stylecop rule to disallow multiple blank lines"
We shouldn't have multiple blank lines between methods.

It would also be great if we can avoid having any blank lines between consecutive braces of the same direction (open or close), e.g., this shouldn't be allowed:
[code]

[2019-12-19 01:31] heaths commented on #9155
If you leave the defaults for the credential, do you still see this delay? @schaabs could you take a look at the Identity issue?

[2019-12-19 02:02] Peperud commented on #9155
@heaths Yes, I was getting errors with ```DefaultAzureCredential``` too. Then tried ```ManagedIdentityCredential``` in an effort to potentially eliminate probing (in case that matters).

[2019-12-19 02:17] blueww commented on #9192
@seanmcc-msft
Please add "Client" label for dataplane SDK. (As agreement before, we use "Client" label to differ dataplane SDK issue and SRP SDK issue)
We have a system to collect SRP SDK issues, the issues without "Client" label will be collect as SRP SDK issues.
Thanks!

[2019-12-19 03:55] JoshLove-msft opened #9199 "Add Blobs.ErrorCodes, Queues.ErrorCodes, DataLake.ErrorCodes, File.ErrorCodes to Constants.cs"
We have Constants.ErrorCodes that contains cross-library error codes like InternalError/OperationTimedOut. We should look into standardizing this pattern so that we have Constants.Blobs.ErrorCodes/Constants.DataLake.ErrorCodes/etc.
Then we can go through and update any uses of hardcoded strings to use the constants, such as
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.S

[2019-12-19 04:51] masonyc opened #9200 "Performance on Service Bus"
**Query/Question**
Hi, we are using Premium Service bus with 1 message unit and 80Gb data.

In our logs, we found out Topic client’s SendAsync method takes about 1-2seconds to send out the message and Session Client’s ReceiveAsync method also takes about 1-2seconds to pull it down from Topic subscriber.

My question is, are there any way to reduce the time in these calls to milliseconds? The proje

[2019-12-19 05:26] sam-piper commented on #9180
Just to add, I'm seeing exactly the same issue with 12.1 in a standard .NET Core 3.1 Console app.

[2019-12-19 06:31] lxf310 opened #9203 "Add Application permission support for user_impersonation in Azure Service Management"
**Question**
To take use of Azure SDK via Azure App Registrations, only delegated permissions for user_impersonation is supported which means that a sign-in user is needed when taking use of those APIs and it reduces the capabilities to build up an automation application on it.

**Requirement**
It is obviously that the Application permission can provide the possibility to make related actions more

[2019-12-19 06:47] haresh93 opened #9204 "[BUG] BlobServiceClient with Blob level SAS Token Not Working"
**Describe the bug**
I am generating a Blob Level SAS token using user delegation with Azure Service Principal Credentials, and trying to upload a blob using SAS Token generated. I have followed exactly this code sample - https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs/samples/Sample02_Auth.cs#L137 to generate the SAS Token.

The SAS Token is created and the

[2019-12-19 07:09] seanmcc-msft commented on #9192
@blueww, sorry about that!

[2019-12-19 12:57] msioen commented on #6252
@nemakam
We just retested with the latest version of this library. We can confirm that with 4.1.1 this issue indeed seems to be fixed. We weren't aware that this fix was planned or taken up.
Thank you for the update.

With regards to the setup question, this was done to match our actual live setup which is a lot more complex.

[2019-12-19 15:59] tg-msft commented on #9199
We should just remove the duplicate values in Constants.cs and rely on the public *ErrorCode classes.  Those get autogenerated with the latest values automatically and we won't have to patch up Constants.cs all the time by hand.

[2019-12-19 16:06] #7040 closed

[2019-12-19 16:06] #6801 closed

[2019-12-19 16:36] tg-msft commented on #9204
That shouldn't work by design because you're creating a SAS scoped to a single blob (by setting `ContainerName`/`BlobName` of the `BlobSasBuilder`) and then trying to perform a service level operation.

Could you try creating a `new BlobClient` and call `GetPropertiesAsync` on that instead of the `BlobServiceClient` to see if you're able to successfully authenticate?

[2019-12-19 16:43] jsquire commented on #9185
@nemakam and @binzywu : If one of you would be kind enough to offer your thoughts, it would be appreciated.

[2019-12-19 17:05] MattHartz commented on #9175
@ahamad-MS Thanks for attempting to aggregate the teams around this. I will be grabbing the EventGridClient's version shortly.

[2019-12-19 17:15] albertodenatale commented on #8592
Thank you a lot for sharing your thoughts,

I tried to give a look at this point and I created the following test:

[code]

It looks to me like the events go through fine.

![image](https://user-images.githubusercontent.com/11591862/71193709-dace3600-228a-11ea-9779-005d6ccd6f7d.png)

Would say this test could be conclusive?

[2019-12-19 17:28] jsquire commented on #8571
Hi Sebastian.  Thank you for your feedback.

I'm happy to say that the Event Hubs client is instrumented for tracing and supports both Application Insights and Open Telemetry.  Because of the compatibility with Open Telemetry, you may need to upgrade to the most recent Application Insights library, as there was a fairly recent contribution for an adapter to enable that support.

[2019-12-19 17:29] #8571 closed

[2019-12-19 17:34] MattHartz commented on #9175
EventGridClient "1.4.0"

[2019-12-19 17:36] sebader commented on #8571
Hi Jesse,
I just double checked and I'm on the latest version of the SDKs. I have a producer (ASP.NET Core 3.1) that uses the `EventHubProducerClient` to send messages. This part seems to be instrumented, as it shows up just fine in my AppInsights application map - without me adding anything extra.

However, the consumer part is a .NET Core 3.1 `BackgroundService` that uses the Azure.Messaging.Eve

[2019-12-19 17:41] scbedd commented on #8866
@pakrym This is a doc rendering issue, not any issue with the configuration.

I have completely removed the `Azure.Core` folder from the `smoke-test` branch, and re-run the CI to ensure that we're not keeping around any old files. I got the _exact same_ file set generated.

(Screenshot of CI Config for Azure.Core):
![image](https://user-images.githubusercontent.com/45376673/71195855-9c615880-2243-

[2019-12-19 17:46] jsquire commented on #8571
I can confirm that we're creating a diagnostic scope within the processor for two scenarios:

- When a checkpoint is written
- When an event is read during partition processing and dispatched to the event handler provided

Beyond that, unfortunately, I'll have plead ignorance as I'm not familiar with the specifics around how our diagnostic scope abstraction interacts with the larger telemetry ecos

[2019-12-19 17:58] jsquire commented on #8849
Hi @mathavanmani.  Thank you for your feedback.

I'm glad to hear that the new version of the library is supporting your proxy scenario.  Unfortunately, I am not able to offer more insight around the potential release date for the new library but we do feel that the current version, preview.6, is in a good and stable place.   That said, it is still a preview, so I would caution against using it fo

[2019-12-19 17:59] jsquire commented on #8849
With respect to your question around ongoing support and future enhancements for the `Microsoft.Azure.EventHubs` packages, I'll need to defer to @jfggdl.

[2019-12-19 18:16] bdares commented on #3933
In VS 2019, I had to sign in with a second account, select it under Tools > Options > Azure Service Authentication, then select my real account before Visual Studio fixed its behavior.

[2019-12-19 18:17] sebader opened #9208 "[Event Hubs] Telemetry instrumentation on EH processor does not seem to properly work"
**Describe the bug**
As discussed [here](https://github.com/Azure/azure-sdk-for-net/issues/8571#issuecomment-567591694) with @jsquire
I have a producer (ASP.NET Core 3.1) that uses the EventHubProducerClient to send messages. This part seems to be instrumented, as it shows up just fine in my AppInsights application map - without me adding anything extra.

However, the consumer part is a .NET Core

[2019-12-19 18:23] annelo-msft commented on #8706
Adding async samples in https://github.com/Azure/azure-sdk-for-net/pull/9172

[2019-12-19 18:23] #8706 closed

[2019-12-19 18:35] jsquire commented on #9208
@pakrym : If you'd be so kind, I'd appreciate your thoughts here.   I'm a bit outside of my knowledge of how our diagnostics scope interacts with the larger telemetry ecosystem.

From the previous discussion:

//cc: @kinelski

[2019-12-19 18:39] kartikshah9 commented on #7800
@pgmolly can you provide inputs to the above? Else can we  go ahead and close the issue

[2019-12-19 18:47] pakrym commented on #9208
@lmolkova, is this caused by one of the things you've mentioned we are doing wrong?

[2019-12-19 18:47] kartikshah9 commented on #9009
@pvones can you provide inputs to the above query?

[2019-12-19 18:56] kartikshah9 commented on #9183
@amnguye can you provide an update on the above

[2019-12-19 18:58] haresh93 commented on #9204
Yes on `BlobClient` it worked, then the example shown in sample is wrong it may misguide many people, it has to be changed.

And another thing can a SAS token be made on a folder so that files can be uploaded to the folder using the SAS token???

[2019-12-19 19:06] tg-msft commented on #9204
The sample you linked creates an account level SAS so it can perform service level operations like `BlobServiceClient.GetPropertiesAsync`.  You changed it to a single blob SAS and that's why the rest of the sample code was no longer relevant.  We'll work on adding more examples that walk through different SAS combinations and scenarios.

It depends what you mean by folders.  You can create a Conta

[2019-12-19 19:13] jsquire commented on #8592
Oh yeah, I'd definitely call that conclusive; you went right down to the metal and grabbed the transport producer directly.  That's about as low-level as we functionally can get.

[2019-12-19 19:39] nemakam commented on #9185
@ivanvaliente
Two things,
1. Use `MessageHandlerOptions.MaxAutoRenewDuration`. The message pump is already designed to renew the messages automatically for you in a background thread. The default value for this is 5 minutes. But if you say set it to 1 hour, it will keep renewing the message for upto an hour automatically. You wouldn't have to do it yourself.
2. You will still have to worry about `

[2019-12-19 19:39] #9185 closed

[2019-12-19 20:36] lmolkova commented on #9208
@sebader can you give a bit more info?

From ApplicationInsights UX side, changes to support batched message processing are not fully finalized and app map is not expected to connect frontend and backend yet (but should show both nodes) just yet, [transaction viewer](https://docs.microsoft.com/en-us/azure/azure-monitor/app/transaction-diagnostics#transaction-diagnostics-experience)  should work fi

[2019-12-19 20:53] zezha-msft commented on #7875
@zhusijia26 could you please help refer this issue to the corresponding PM?

[2019-12-19 21:11] jfggdl commented on #8849
Thanks for the question. The standard policy from Microsoft with respect to the period of support and deprecation of products/services is 3 years. This means that once the new Azure.Messaging.EventHubs SDK/package is released for General Availability (GA), we will still support Azure.Microsoft.EventHubs (v4) for 3 more years. However, priority for new features will be given to the new version.
Ple

[2019-12-19 21:11] pvones commented on #9009
The latest version of the package I can update to is **9.3.3**. Versions 9.4.0 and above have **completely different interface** that would require to refactor all code with no added value provided. The backward compatibility is still imporant to consider when you actualy use the code (not just playing with it).

[2019-12-19 21:13] jfggdl commented on #8849
By the way, we are planning to close this issue. It looks like you have a viable path forward with the proxy support of Azure.Messaging.EventHubs albeit you will need to wait for its GA for production use.

[2019-12-19 21:59] #8586 closed

[2019-12-19 22:14] chidozieononiwu opened #9210 "Run Relative Link Replace tool on repo before producing packages"
Run `eng/pipelines/templates/scripts/replace-relative-links.yml@azure-sdk-tools` before we produce the packages so that the links in the README.md and CHANGELOG.md are stable when added to the package. Also extend tool to work on CHANGELOGS.md

[2019-12-19 22:40] beckettk opened #9212 "Azure.Storage.Blobs.BlobClient.UploadAsync throws System.Net.Sockets.SocketException"
Appears to be related to, but not exactly the same as #9142

Azure.Storage.Blobs.BlobClient.UploadAsync(Stream, Boolean, CancellationToken) is intermittently throwing the following exception with file sizes 36.9 MB and 37.5 MB

**Exception**
[code]

**Code Snippet**
[code]

**Setup**
 - OS: Windows 10 Version 1803 (OS Build 17134.1184)
 - IDE : Visual Studio 2019 v16.4.2
 - Azure.Storage.Blobs 12.

[2019-12-19 22:45] ellismg opened #9213 "[BUG] [Event Hubs Track 2] Exception when resuming processing from a checkpoint"
**Describe the bug**
With https://github.com/Azure/azure-sdk-for-net/pull/9166 we changed how we constructed the EventPosition when using data from a checkpoint.  Because `EventPosition.FromOffset()` returns an inclusive range, and we don't want to reprocess the last event, we add one to the offset.

However, in cases where you are resuming processing on a partition that has had no events sent to

[2019-12-19 23:54] gdignard commented on #9180
I had a quick look around; I would say the prime suspect is

azure-sdk-for-net/sdk/storage/Azure.Storage.Blobs/src/PartitionedUploader.cs

Where, at line 212 in the lastest revision there's an
private async Task<Response<BlobContentInfo>> UploadInParallelAsync (
            Stream content,
            int blockSize,
            BlobHttpHeaders blobHttpHeaders,
            IDictionary<string, strin

[2019-12-20 02:36] christothes opened #9215 "Eliminate unnecessary EventProcessorClientLiveTests related to load balancing"
# Summary
After the implementation of #9051 it should be possible to eliminate notoriously unstable tests related to load balancing. These tests can now be confidently unit tested.

# Scope of Work
- Evaluate which live tests in `EventProcessorClientLiveTests` can safely be eliminated now that `PartitionLoadBalancer` unit tests exist.

# Out of Scope
- Functional changes to `PartitionLoadBalancer`

[2019-12-20 05:26] sam-piper opened #9216 "[FEATURE REQ] Support progress handler for BlobClient.DownloadTo API"
**Is your feature request related to a problem? Please describe.**
BlobClient supports specifying a progress handler when uploading, although this is currently unusable for multi-part uploads on large blobs because the progress value is not normalized for the entire blob (see #9180). However, there is currently no progress handler support for downloading at all.

**Describe the solution you'd like

[2019-12-20 06:47] wantedfast commented on #9183
@takaz-ams
We note that you get message from **ClicksQueue**, but try to delete this message in **ItemViewQueue**. This is wired.
The De-queue operation required get message and delete message from same queue.
Why do you de-queue in this way ?

[2019-12-20 06:47] wantedfast commented on #9183
@jongio

[2019-12-20 07:31] takaz-ams commented on #9183
@wantedfast you were right. Even though i have both queues, the first delete was attempting to delete from a different queue from which the message was read.

I wish it throw an exception or some sort of message when that happens

Thanks

[2019-12-20 07:31] #9183 closed

[2019-12-20 08:01] zaozaoniao opened #9217 "Add Clear() method for EventDataBatch class"
hi, I  use  the EventhubClient and EventDatabatch as  a singletion.

but  I found the eventdatabatch have no clear method。

---

when i have send the batch data using the EventDataBatch, the EventDataBatch  internal  list is not
clear automatic,  add  a clear method is simple.

[2019-12-20 08:47] haresh93 commented on #9204
Basically we are using Azure data lake Storage Gen 2, our use case is to generate temporary credentials which grants access only to a folder as ADLS Gen 2 has manage access of a folder, we thought we could generate SAS token for it.

Pl confirm if it is possible to do with SAS or can you suggest something to serve this use case??

[2019-12-20 13:51] jsquire commented on #8964
Timings were adjusted with #9188, and I'd expect this to be stable.   Please reopen if you see flaky behavior continue.

[2019-12-20 13:51] #8964 closed

[2019-12-20 14:21] mikeblakeuk opened #9219 "When will the HDInsight 3.0 be released?"
**Query/Question**
When will latest Microsoft Azure HDInsight Job Library be on NuGet?

***Why is this not a Bug or a feature Request?***
I assume someone need to publish the NuGet package. Preview is fine.

**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE : Visual Studio 2019
 - Version of the Library used
We are currently looking to remove our **Hyak.Com

[2019-12-20 14:28] jsquire commented on #9213
Well... that was unexpected.  My notes from conversations with the service team are either incorrect or the service is doing something unexpected.    I'll follow-up with the service team to confirm the behavior and make any necessary adjustments.

[2019-12-20 15:50] tg-msft commented on #9216
Thanks for reporting this!  It's a known issue being tracked by #8506.

[2019-12-20 15:50] #9216 closed

[2019-12-20 15:51] tg-msft commented on #8506
Adding `customer-reported` tag here since I closed #9216 as a duplicate.

[2019-12-20 15:52] tg-msft commented on #9217
/cc @jsquire

[2019-12-20 15:55] tg-msft commented on #9204
+@seanmcc-msft for questions about DataLake

[2019-12-20 16:00] haresh93 commented on #9204
@tg-msft Can you confirm if i can generate a short lived service principal like for a fixed time which expires after that time ??

[2019-12-20 18:00] tg-msft commented on #9186
We can't break compat, but we could change the property type, rename it to `ShareUsageInBytes` or similar, and add a hidden redirect from the old property in a partial class like `[EditorBrowsable(Never)] public int ShareUsageBytes => (int)ShareUsageInBytes;` that will still throw an overflow exception.  This will prevent anything from breaking if they're automatically upgraded to a newer version.

[2019-12-20 18:18] haresh93 commented on #9204
HI @seanmcc-msft, can you help me in this??

[2019-12-20 18:37] carsontwilson opened #9222 "[BUG] Web App Service Logs Retention Days not set for Application Logging"
**Describe the bug**
When setting the Application Logging Retention days, the value is not set (note that this is not a problem for the Web Server Logging)

***Exception or Stack Trace***
There are no errors return, the operation completes, the value is just never set

**To Reproduce**
Use the SDK to update the Retention Days (code below)

***Code Snippet***
`webApp.Update().UpdateDiagnosticLogsCo

[2019-12-20 19:09] jfggdl commented on #9200
Thanks for your question. Would you please share the code snippet you are using for sending and receiving?

[2019-12-20 19:23] #9182 closed

[2019-12-20 19:40] chidozieononiwu opened #9223 "Prevent net - mgmt- ci from running during client related PR and Ci"
`net -mgmt` and `net - mgmt -ci` should not run for client plane related changes.
We should add script that gets all the client package directories and added them as a set of exclude paths in the `mgmt.yml` file.

[2019-12-20 20:23] nemakam commented on #9200
@masonyc,
To start with, take a look at - https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements

On the service side it should not take 1-2 seconds for a message. It generally is in the order of tens of ms. If you are facing long time, its either client-network round trip time, or time for other operations that are happening behind the scenes. The very f

[2019-12-20 20:35] kinelski opened #9225 "[EventHubs] Event Processor Diagnostics test is not completing scope"
## Issue

The following Event Processor Diagnostics test consistently fails on every run:

https://github.com/Azure/azure-sdk-for-net/blob/ab31f911f0e02003256048d3a20db554473e9b60/sdk/eventhub/Azure.Messaging.EventHubs.Processor/tests/Diagnostics/DiagnosticsTests.cs#L75-L77

Error message:

[code]

Stack trace:
[code]

All assertions pass, but an exception is thrown when disposing of the `ClientDi

[2019-12-20 20:58] carsontwilson opened #9226 "[QUERY] Not clear on how to create Application Insights using the SDK"
**Query/Question**
I have many web applications I need to enable app insights for and am trying to script it out. I see examples for this on az / powershell but not for the SDK. I'm assuming this is possible but it's still not clear.

When I access the Azure interface I don't see any references to application insights that I can use. Is this possible, and if so how?

***Why is this not a Bug or a

[2019-12-20 21:42] jsquire commented on #9213
I've reintroduced the concept of inclusive/exclusive for offsets and we're now using that instead of the "shift-by-one" technique.   This should be resolved, though we're pending a live test for the scenario due to some conflicting work.   We'll get that in as part of the ongoing processor test overhaul.

[2019-12-20 21:42] #9213 closed

[2019-12-20 21:43] ellismg commented on #9213
Thanks, Jessie!

[2019-12-20 22:30] kinelski opened #9227 "Address gaps in Event Processor test coverage"
## Issue

The `Azure.Messaging.EventHubs.Processor` package is lacking in test coverage. There are already multiple tests, but they are not enough to ensure proper behavior.

## Goal

Tests for the following scenarios need to be added:
- [x] A `CancellationToken` that has already been cancelled makes `StartProcessingAsync` and `StopProcessingAsync` throw a `TaskCanceledException` (include tests fo

[2019-12-20 23:00] kinelski opened #9228 "[EventHubs] Event Processor Client should surface exceptions thrown by the Process Event handler"
## Summary

By design, the `EventProcessorClient` expects code provided by the user to not throw. In case this situation arises, the thrown exception should not be captured by the processor and should be bubbled up to the user, completely stopping the client.

User code is present in 4 handlers: `PartitionInitializingAsync`, `PartitionClosingAsync`, `ProcessEventAsync` and `ProcessErrorAsync`, whi

[2019-12-20 23:30] klogan12 opened #9229 "ConnectWithManagedIdentity is not working after upgrading to 3.0"
**Describe the bug**
ConnectWithManagedIdentity is not working after upgrading to 3.0

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Follow below doc , but looks like ConnectWithManagedIdentity  got removed.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity

***Code Snippet***
Add the

[2019-12-20 23:36] amnguye commented on #9204
If you are trying to access an Azure DataLake Directory(folder), shouldn't you be using a DataLakeDirectoryClient instead of a BlobClient?

[2019-12-21 00:49] kemmis commented on #9186
Excellent solution. I’m happy to help put together a patch and pull
request. Let me know if you would like my contribution. Thanks.

On Fri, Dec 20, 2019 at 1:00 PM tg-msft <notifications@github.com> wrote:

[2019-12-21 01:13] tg-msft commented on #9186
If you want to try it, that'd be really awesome.  Here's a rough guide to get you started:
- Take a look at the [code gen section](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/CONTRIBUTING.md#code-generation) of Contributing.md
- Add a transform in the [Files.Shares README](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Files.Shares/swagger/r

[2019-12-21 01:17] kemmis commented on #9186
That all makes sense. Thanks for the guide!

On Fri, Dec 20, 2019 at 8:13 PM tg-msft <notifications@github.com> wrote:

[2019-12-21 10:11] haresh93 commented on #9204
@amnguye Actually BlobClient is also creating folders automatically if there is a  `/` in the name of the blob, that is not a problem. Are you saying that If i use DataLakeDirectoryClient then can i grant access only to that directory somehow???

[2019-12-22 18:25] #9059 closed

[2019-12-22 21:47] masonyc commented on #9200
@nemakam Thanks for the reply. The server side does not have much latency. I think the latency we are facing is getting the response from SendAsync Call. The first send call normally takes like 2 second, the followed calls are taking 1 second. We switched to session client for receiving message and now Receive Call is taking like 500ms.
![image](https://user-images.githubusercontent.com/18006944/7

[2019-12-23 00:19] masonyc commented on #9200
Hi all, sorry it is me again. I have a .net core web API project that is calling Service Bus SDK to send messages in the middle of the API call.  I have a static class that initialize a Topic client at Startup. In my Integration Tests, first SendAsync call is a bit slow (1-2 seconds) but followed call are fast(within 100ms). This is ok as you mentioned above. But when I call the API manually via P

[2019-12-23 13:51] albertodenatale commented on #8592
😉

(could not find any dabbing man in the GitHub's emoji list)

**Retry logic**

I tried to trigger an ```AmqpProducer::CloseAsync(CancellationToken.None)``` while breaking on the following line:

[code]

I then let the code run and I got the following exception:

![image](https://user-images.githubusercontent.com/11591862/71361312-e83d3600-2592-11ea-931b-efef8ff09ccc.png)

[code]

The retry logic

[2019-12-23 17:05] tg-msft commented on #9204
There's a [`DataLakeSasBuilder.Path`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Files.DataLake/src/Sas/DataLakeSasBuilder.cs#L84) property that looks like it would, but I'll let @seanmcc-msft and @amnguye give you advice on the correct pattern to use here.

[2019-12-23 17:58] #8714 closed

[2019-12-23 17:58] #8776 closed

[2019-12-23 18:41] seanmcc-msft commented on #8396
@tg-msft, can you point me to a specific instance of KeyVault or AppConfig avoiding using the Deserialize/Serialize methods?  I'm not familiar with the structure of those SDKs, so I'm not sure where to look.

[2019-12-23 18:46] haresh93 commented on #9204
@tg-msft I have created a SAS token for a directory with path as `folder1/` and tried to upload a file to it using `az storage blob upload -f <fileName> -c <containerName> -n folder1/file1.png --account-name <accountName> --sas-token <sasToken>`, it is giving the following error `You do not have the required permissions needed to perform this operation.`. Same thing is working if it is a blob.

[2019-12-23 19:01] tg-msft commented on #8396
Here's an example from AppConfig: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationServiceSerializer.cs

[2019-12-23 20:21] stap123 commented on #8952
Something similar on a container would be useful as well

[2019-12-23 23:36] assafi opened #9240 "[Text Analytics] Inconsistent Input Error Handling (v1.0.0-preview.1)"
It's possible this issue will be addressed in #8864 which is rather generic, so opening a dedicated issue for this.

Seems some invalid inputs are inconsistent in their error handling.

For example:

[code]

however,

[code]

This can be problematic if inputs are coming from an external source for example, requiring different error handling.

[2019-12-23 23:37] assafi commented on #9240
@annelo-msft

[2019-12-23 23:46] assafi opened #9241 "[Text Analytics] TextSentiment contains Offset and Length (v1.0.0-preview.1)"
`TextSentiment` type contains Offset and Length properties that are not being used and are not supported by the service API. These properties are relevant only for `SentenceSentiment` scope, but not for the document scope.

![image](https://user-images.githubusercontent.com/1440860/71385285-5ab21400-259b-11ea-9767-a6507e5b5da3.png)

[2019-12-23 23:46] assafi commented on #9241
@annelo-msft

[2019-12-23 23:57] seanmcc-msft commented on #9204
Hi @haresh93,  I don't think SAS authentication understands the concept of hierarchical namespace, so generating as SAS token for ```folder1/``` won't allow you to create files within it.

I recommend you remove the ```BlobName``` property from your BlobSasBuilder, and generate a SAS for the entire container.

[2019-12-24 00:04] assafi opened #9242 "[Text Analytics] RequestFailedException makes AnalyzeSentimentResult.ErrorMessage obsolete"
Might be addressed in #8864

In the case of a single input an input error results in a `RequestFailedException` so the `AnalyzeSentimentResult.ErrorMessage` is never actually used.

[code]

[2019-12-24 00:04] assafi commented on #9242
@annelo-msft

[2019-12-24 00:23] assafi opened #9243 "[Text Analytics] Singular response types missing request level property ModelVersion (v1.0.0-preview.1)"
The singular (i.e. non-batch) response types appear to be missing the request level property `ModelVersion`.

For example, `AnalyzeSentimentResult` returned by `TextAnalyticsClient.AnalyzeSentiment(string inputText, string language = null, CancellationToken cancellationToken = default)` does not contain a `ModelVersion` property. This is true for other singular response types like `DetectLanguageR

[2019-12-24 00:23] assafi commented on #9243
@annelo-msft

[2019-12-24 06:40] haresh93 commented on #9204
@seanmcc-msft If not SAS, is there any other method available in Azure which gives folder level access and can expire in 24 Hrs or something, the usecase is that we would be giving the credentials to the user hence giving a container level access doesn't work.

The point here is the credentials that we are giving to the user should be temporary (for 24 hrs) and scope should be only for a particula

[2019-12-24 10:50] erenes commented on #6616
I am currently running into this issue and thought maybe I could follow the process myself, since it does not seem complicated. Unfortunately it appears that the link is either dead or I do not have access.

@erich-wang is there a public url where I can see the process so that I may submit a pull request?

[2019-12-24 17:12] jsquire commented on #9227
Added an additional scenario for resuming from a checkpoint that corresponds to the last event in a stream.

[2019-12-24 17:16] jsquire commented on #9217
Hi @zaozaoniao.  Thank you for your feedback.

At present this is a conscious design choice; it is intended that the batch not be reused after being sent due to the unmanaged resources managed by the batch.  Reusing a batch is something that we are tracking and may consider in the future, but is not currently planned.

Closing this out as "by design" for the time being.

[2019-12-24 17:16] #9217 closed

[2019-12-25 02:35] yuhaii opened #9247 "[BUG] EventProcessorHost will read the offset from InitialOffsetProvider if can't get the offset from CheckPoint"
**Describe the bug**
Our customer client is Azure function app. The function app will use the EventProcessorHost to receive message from event hub.

We find that during function app restart, the request to CheckPoint lease file been blocked due to a network issue. The EventProcessorHost  can' read the offset from CheckPoint , so it get the offset from InitialOffsetProvider.

Can you please help co

[2019-12-26 17:20] tg-msft commented on #9247
/cc @jsquire

[2019-12-26 19:06] assafi opened #9251 "[Text Analytics] RecognizeEntities SubType property is missing (v1.0.0-preview.1)"
`RecognizeEntitiesResult.SubType` is always `null`.

Repro:

[code]

Will produce:

[code]

While the actual JSON response is:

[code]

[2019-12-26 19:33] lmolkova opened #9252 "[FEATURE REQ] Distributed tracing: set az.namespace attribute"
OpenCensus/OpenTelemetry exporters (such as Azure Monitor exporter) may need to reliably know which that call is made against certain Azure service.

Azure Monitor exporter will use this information to navigate to corresponding Azure resource from AzMon UX and show proper icons.

**Describe the solution you'd like**
Add 'az.namespace' attribute on all spans (convenience and http/physical), with va

[2019-12-26 19:50] pakrym opened #9253 "Mark recordings as generated in git"
To improve PR experience.
See https://github.com/Azure/azure-sdk-for-js/pull/6701/files

[2019-12-26 19:51] nemakam commented on #9200
@masonyc , unfortunately, there isn't a way in the client to do that. The first send() is when we create a connection and then create an AMQP link and then send the message. And these things take its time.
You can hack and try and see if you can per-create the connection itself by reusing the connection for a different client and maybe calling a faux method which talks to service, but doesn't real

[2019-12-26 19:51] #9200 closed

[2019-12-26 21:39] #8498 closed

[2019-12-26 21:51] nemakam commented on #8308
The latest public version of that library is 5.6.0.
https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/

[2019-12-26 21:51] #8308 closed

[2019-12-26 21:59] tg-msft commented on #9252
/cc @pakrym to get this started with Azure.Core before adopting in our other client libraries

[2019-12-26 22:00] tg-msft commented on #9251
/cc @annelo-msft

[2019-12-26 22:30] #5824 closed

[2019-12-27 09:29] wantedfast commented on #9229
According the [release notes,](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md#300-preview-010550001-251---november-22-2019) **ConnectWithManagedIdentity()** method was removed in 3.0.0 to connect the App Configuration store using system-assigned managed identity currently. And it replaced as **Connect()** method.

Before:

[2019-12-27 09:30] wantedfast commented on #9229
@jongio

[2019-12-27 17:07] #9180 closed

[2019-12-27 18:07] ctufts opened #9258 "[BUG]"
**Describe the bug**
sample_analyze_sentiment.py prints a repeated score (the output at the beginning of the file is incorrect and the code between 103 and 114 (handles printing of the results).

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
[code]
This causes an output that is incorrect:
[co

[2019-12-27 21:08] seanmcc-msft commented on #9204
@haresh93, one option would be to set the the ACLs on directory to allow a user's access, and then remove the user's access after 24 hours.  You can programmatically set a directory's ACL using the [.NET DataLake SDK](https://www.nuget.org/packages/Azure.Storage.Files.DataLake/12.0.0-preview.7) that we have in preview.  DataLakeDirectoryClient or DataLakePathClient.SetAccessControlList().

[2019-12-27 21:35] tg-msft commented on #9258
Adding a guess at a title and moving to the python repo

[2019-12-28 01:36] #8952 closed

[2019-12-28 02:07] Peperud commented on #9155
Very often getting this too. And it doesn't seem to ever recover.
[code]

[2019-12-28 02:22] ishepherd opened #9262 "[QUERY] Example using AzureServiceTokenProvider with Microsoft.Azure.Management.Fluent?"
I saw @kamiyn's example here https://github.com/Azure/azure-docs-sdk-dotnet/issues/961#issue-429108506

Is there any smoother way to do it?

I expected these libraries would fit seamlessly, for example:

[code]

[2019-12-30 14:02] jsquire commented on #9247
@serkantkaraca, @JamesBirdsall:  Would you be so kind as to offer your thoughts?

[2019-12-30 14:56] jsquire commented on #8592
That's what I'd expect.  That will surface as an `EventHubsException` with the `Reason` set for the client being closed.   We would want to specifically handle that exception (which is normally fatal) in this one very specific scenario.    Definitely not a general case thing nor something that is implemented today.

Yup.  Completely plausible;  I'd say that strengthens the case for your approach,

[2019-12-30 17:08] klogan12 commented on #9229
worked!

[2019-12-30 17:08] #9229 closed

[2019-12-30 17:21] shuk opened #9265 "[BUG] BlobSasBuilder.ToString() doesn't apply URL encoding to ContentDisposition value."
**Description**
BlobSasBuilder.ToString() doesn't apply URL encoding to ContentDisposition value.

**Context Details**
 - OS: Windows 10
 - IDE : Visual Studio 2017
 - Platform: .Net Core 2.2
 - Library version: https://www.nuget.org/packages/Azure.Storage.Blobs/12.1.0

**Code Snippet**
The following unit test completely describes this bug:

[code]

**Expected behavior**
BlobSasBuilder.ToString()

[2019-12-30 18:02] JamesBirdsall commented on #9247
The expected behavior is that EPH falls back to the InitialOffsetProvider if and only if there is no checkpoint for the partition, and determining that requires downloading the blob and checking fields within it. If there is an error trying to retrieve the blob, that should result in some sort of retry behavior.

[2019-12-30 19:20] JoshLove-msft opened #9267 "[BUG] Storage live test - ExistsAsync_Error failure"
This test is failing when run [live](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=221233&view=logs&j=ad07b744-5a1a-5d54-7693-fcb02e666633&t=24c7afb3-2fe1-5e71-64cc-9945982a3981).
  X ExistsAsync_Error [785ms]
  Error Message:
     Expected string length 27 but was 16. Strings differ at index 0.
  Expected: "NoAuthenticationInformation"
  But was:  "ResourceNotFound"

The expecte

[2019-12-30 22:42] JoshLove-msft opened #9274 "Either update or remove use of LoggingExtensions"
Throughout the Storage API, we call logging extensions such as LogMethodEnter, LogMethodExit, LogException, etc. Currently these extensions, don't do anything as they are behind a Conditional compilation attribute that isn't enabled, e.g.:
[code]
If we want this logging, we should define EnableLoggingHelpers and do any other updates that are needed. If we don't need this, we can delete this file a

[2019-12-30 23:50] amnguye opened #9275 "[storage] [blobs] Update CreateIfNotExists/DeleteIfExists to log exception thrown"
Currently the CreateIfNotExists/DeleteIfExists does not log the exception when it is thrown like how it is done for Exists for blobs.

Before:
[code]
After:
[code]

[2019-12-31 00:33] JoshLove-msft commented on #9120
Also, UploadAsync_ProgressReporting has the same issue.

[2019-12-31 01:21] JoshLove-msft opened #9277 "singleUploadThreshold parameter not publicly exposed"
Internal method BlobClient.StagedUploadAsync has a parameter called singleUploadThreshold that can be set to determine the max size stream that can be uploaded as a single block. This parameter is currently only used by test code that calls directly into StagedUploadAsync.

If we want to expose this option, we should add it to the relevant public APIs. If not, we should consider whether it is wort

[2019-12-31 01:43] serkantkaraca commented on #9247
I really don't see any place in the repo where InitialOffsetProvider is set. As James said, storage failures won't cause any kind of 'fallback to initial offset' behavior. Can you elaborate what type of issue you are observing?

[2019-12-31 10:52] danielcirket opened #9279 "[BUG] Service Bus - ManagementClient GetRulesAsync not returning expected rules"
**Describe the bug**
Service Bus Mangement Client. `GetRulesAsync(topicName, subscriptionName, count: pageSize);` does not return more than 25 items, despite supplying a count of 50 or the default of 100.

***Exception or Stack Trace***
N/A

**To Reproduce**
1. Create a topic
2. Add a subscription
3. In a loop, add 50 rules to the subscription
4. Call `GetRulesAsync`, only 25 are returned.

***Cod

[2019-12-31 11:42] bengimblett opened #9280 "[QUERY] Missing App Insights dependency Telemetry with netcore3 console app plus Microsoft.Azure.EventHubs client"
**Query/Question**
Why when using a netcore console app (netcoreapp3.0) to send events to eventhub
"Microsoft.Azure.EventHubs" Version="4.1.0"  using instance of EventHubClient->SendAsync()
And using App Insights to track the event
"Microsoft.ApplicationInsights.DependencyCollector" Version="2.11.2"  initialised in code on console app start
Do i not see AEH dependency item generated for the event

[2019-12-31 11:44] bengimblett commented on #9280
The exception event from perfview was stripped
Event MSec=  "2381.5616" PID="14516" PName="egconsole" TID="11260" EventName="EventWriteString" ProviderName="Microsoft-Azure-EventHubs" FormattedMessage="ERROR: Exception in Command Processing for EventSource Microsoft-Azure-EventHubs: Unsupported type Exception in event source." message="ERROR: Exception in Command Processing for EventSource Microso

[2019-12-31 18:55] #9267 closed

[2019-12-31 20:03] JoshLove-msft opened #9282 "[BUG] StageBlockAsync_ProgressReporting live test failure"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=221925&view=ms.vss-test-web.build-test-results-tab&runId=7623588&resultId=100565&paneView=debug

Looking at the attachments tab that shows the request/response logging, the issue appears to be that in the case of a retry, the progress will be reset, which makes the test assertion that each progress update is greater or equal to the pr

[2019-12-31 20:28] JoshLove-msft commented on #9282
FYI @seanmcc-msft @tg-msft

[2019-12-31 20:30] JoshLove-msft commented on #9277
/cc @tg-msft @seanmcc-msft

[2019-12-31 21:10] JoshLove-msft commented on #9282
There seem to be cases where this happens without a Retry:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=221950&view=ms.vss-test-web.build-test-results-tab&runId=7627288&resultId=100130&paneView=attachments

[2019-12-31 21:50] EricDahlvang commented on #7457
Can we get an update on this?

[2020-01-01 00:17] yuhaii commented on #9247
Hello @serkantkaraca , customer EventProcessorHost in function app recorded the offset in storage container. And it also set the InitialOffsetProvider as below.

namespace EventHubOffsetTest
{
    public class Startup : FunctionsStartup
    {
        public override void Configure(IFunctionsHostBuilder builder)
        {
            builder.Services.PostConfigure<EventHubOptions>(o => o.EventProce

[2020-01-01 16:56] Jericho opened #9283 "How to mock value returned by BlobClient.UploadAsync"
**Query/Question**
I wrote as class that is injected a `BlobClient` dependency and I am writing unit tests to ensure my class behaves as it should. In one instance, my class invokes the `UploadAsync` and therefore I want to mock the invocation of this method in order to test several scenarios (such as: upload successful, upload failed due to missing blob, etc.).

The `UploadAsync` method returns a

[2020-01-01 18:37] mkowalskigps commented on #7022
I'm also having the same issue as @TechWatching e.g. when running from an App Service, authentication via a token issued for the managed identity works, but anything that I'm doing locally fails with `Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'`. I've verified the JWT issued looks good e.g. proper tenant and groups.

[2020-01-01 19:20] serkantkaraca commented on #9247
None of the EH SDKs overrides offsets with initial-offset values on a checkpoint store failure. I need to check Azure Functions' host implementation. I wonder if they do something different while handling failures. I will let you know about my findings.

[2020-01-01 22:37] ericsampson commented on #8440
@axisc since @SeanFeldman had a WIP PR in the old repo, would it be possible to resurrect that code to get this feature request moving forward? It's really unfortunate that there's no way to do safe batching with the SDK. Thanks!
https://github.com/Azure/azure-service-bus-dotnet/pull/539/files

[2020-01-02 03:25] SeanFeldman commented on #9279
This is a server-side issue and was already raised earlier [here](https://github.com/Azure/azure-service-bus-dotnet/issues/581).

Raised an issue with the server-side repo: https://github.com/Azure/azure-service-bus/issues/330

[2020-01-02 13:15] bengimblett commented on #9280
I am getting confused with exactly the mechanisms used here
AI Dependency module doc (https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies) says 3 methods are used
(1) the instrumentation profiler
(2) tracesource
(3) diagnosticsource. (For sharing rich events in context)

And it's the last I should be looking at

I can see EventHubs SDK does write out events through a diag

[2020-01-02 15:52] pakrym commented on #9283
There is a factory method available for mocking purposes: https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.models.blobsmodelfactory.blobcontentinfo?view=azure-dotnet

[2020-01-02 15:57] Jericho commented on #9283
Exactly what I needed! Thanks for the tip.

[2020-01-02 16:11] #9283 closed

[2020-01-02 17:41] joelwetzel commented on #4370
@dgliwa could you provide more info on your fix?  Since adding keyvault support to our application, we're seeing the same "Type is not resolved for member AzureServiceTokenProviderException" when building in an AzureDevops pipeline.

Our MSBuild parameters are:
/p:DeployOnBuild=True /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:PublishProfile=$(DeploymentConfiguration) /p:TransformCon

[2020-01-02 18:00] dgliwa commented on #4370
@joelwetzel in our publishing profile we had the parameter `PrecompileBeforePublish` set to true.  By setting it to false the error went away.

[2020-01-02 18:23] joelwetzel commented on #4370
@dgliwa Thanks!  Yes, it looks like we have that in our publishing profile too.  Disabling it made the error go away.  This seems like a bug in this nuget package, if it can't be precompiled.

[2020-01-02 18:30] dgliwa commented on #4370
@joelwetzel Yeah seems like a bit of a chicken/egg situation, where to precompile it may need to load some secrets, but the secrets can't be loaded with the connection string provided in your config until the code is running on the instance you've granted access to.

[2020-01-02 18:56] lmolkova commented on #9280
I believe you've hit https://github.com/microsoft/ApplicationInsights-dotnet/issues/1317. Please try updating ApplicationInsigths packages to 2.12 everywhere except Function apps.

[2020-01-02 19:13] jsquire commented on #9280
//cc: @serkantkaraca, @JamesBirdsall

[2020-01-02 20:14] JoshLove-msft opened #9289 "Make client timeout configurable via ClientOptions"
**Is your feature request related to a problem? Please describe.**
Currently, in order for the client timeout to be changed, customers need to set the Transport Options with their own Transport containing their own HttpClient. This seems like a heavy-handed approach to simply change the timeout. Also, it is possible that by doing this, customers would not benefit from all of the features of the Co

[2020-01-02 21:18] seanmcc-msft commented on #9289
Should we also make the service timeout configurable via ClientOptions?

[2020-01-02 21:34] jsquire commented on #8618
I believe that the recent redesign and refactoring will have resolved this, if it was a code problem.  I have not seen it manifest in the last 30-60 days and we've reviewed and ensured that all tests are using a timed cancellation token to guard against hangs.

Closing this out; please reopen if you see the issue occur again.

[2020-01-02 21:34] #8618 closed

[2020-01-03 01:32] serkantkaraca commented on #9280
AI 2.12 SDK handles shorted activity names as @lmolkova pointed. Let us know if you still hit the issue.

[2020-01-03 10:05] bengimblett commented on #9280
perfect v latest solved issue.

[2020-01-03 10:05] #9280 closed

[2020-01-03 13:54] #9044 closed

[2020-01-03 13:54] #9042 closed

[2020-01-03 13:59] #9047 closed

[2020-01-03 14:04] msioen opened #9294 "[BUG] Xamarin linking issues when using this library"
**Describe the bug**
After updating the Microsoft.Azure.ServiceBus package from 3.4.0 to 4.1.1 our release builds don't work properly anymore. This is in a Xamarin.Android application.
Linking is necessary to keep our application size small, in previous versions of the library this worked without problem.

I've linked two separate stacktraces here. One for normal usage where only sdk assemblies ar

[2020-01-03 17:07] ylibrach opened #9295 "[FEATURE REQ] Cognitive Search SDK should switch to System.Text.Json, or allow using it instead of Newtonsoft.Json"
**Is your feature request related to a problem? Please describe.**
Currently, `ISearchIndexClient` and `ISearchServiceClient`, along with their respective implementations, are hardcoded to accept a `Newtonsoft.Json.JsonSerializerSettings`. With .NET Core now at 3.1 and System.Text.Json having added the final few pieces for widespread use (such as converters), the SDK should be updated to either sw

[2020-01-03 19:03] #9282 closed

[2020-01-03 19:44] JoshLove-msft commented on #9265
/cc @alzimmermsft @rakshith91 @jeremymeng
in case this is an issue in other languages as well.

[2020-01-03 19:48] #9265 closed

[2020-01-03 20:12] jsquire opened #9298 "Event Hubs Client Library for .NET - February Milestone"
For general summary and goals, please see: [Release Event Hubs Track 2 Library (#442)](https://github.com/Azure/azure-sdk/issues/442).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Design Proposal for a Generic Event Processor Base ([#9064](https://github.com/Azu

[2020-01-03 20:16] JoshLove-msft opened #9299 "[BUG] Request date not updated on retries when using Shared Key authentication"
**Describe the bug**
In the StorageSharedKeyPipelinePolicy, we have this code that is responsible for setting the current date in the request header:
[code]
Since we are only setting the date if header doesn't already contain the date, the date won't get updated for retries.
The affect of not updating the date is that it is possible that the auth can be expired since the [service will reject](http

[2020-01-03 20:23] JoshLove-msft opened #9300 "[BUG] Request date not updated on retries when using Bearer token authentication"
**Describe the bug**
When using bearer token authentication, requests do not get an updated request date for retries.
I'm not sure if this causes any functional issues, as the expiration is in the token itself. For shared key auth, this does cause a functional issue - https://github.com/Azure/azure-sdk-for-net/issues/9299.
It seems that we would want to update the date here for consistency and acc