[2020-03-04 17:57] amishra-dev commented on #10299
Thanks Ted, Jesse.
@jaschrep-msft lets sync about this at standup and followup

[2020-03-04 18:00] Asier-Villanueva commented on #10299
No, no change.

[2020-03-04 18:02] AlexGhiondea commented on #10295
@erich-wang is this something you can help with?

[2020-03-04 18:34] AlexGhiondea commented on #9898
Which libraries are you working with?

[2020-03-04 18:37] Asier-Villanueva commented on #10299
Sorry, an error in my code.
A change caused the parameter _queueName_ to be _null_ when creating the _QueueClient_
`_queueClient = queueServiceClient.GetQueueClient(null);`

Returned error has confused me.

Sorry and thanks for all.

[2020-03-04 18:37] #10299 closed

[2020-03-04 19:30] #8758 closed

[2020-03-04 19:52] dbeavon opened #10300 "Change task scheduler used by "MessageReceivePump""
Is there a way to get a message receiver's message pump to use a custom TaskScheduler?

**Environment:**
 - Microsoft.Azure.ServiceBus 4.1.1.0
 - Microsoft Framework 4.7.1
 - Visual Studio 2019

I'm assuming I would have to write my own pump for that?

I investigated the code and it looks like the message pump relies on the current TaskScheduler via Microsoft.Azure.ServiceBus.Primitives.TaskExtens

[2020-03-04 20:24] jublair commented on #10248
Okay, I found out why the odd `Internal Server Error` response was being received - I hadn't updated `GetSecretAsync` from the old interface of `(string vaultBaseUrl, string secretName)` to `(string name, string version)`. Perhaps there was a parsing error with the inputs here - some user validation might make sense here on the client end to make code upgrades from the old library to the new one s

[2020-03-04 20:37] mzilberman opened #10302 "[Azure Cognitive Search] Consider additional constructor options for Field"
**Azure Cognitive Search**
This feature is specifically related to the Models in the Azure Search.  It seems logical to support the following construct:

var f = new Field ("PhoneNumbers", DataType.Collection(DataType.Complex));

@brjohnstmsft let me know what you think

[2020-03-04 20:51] brjohnstmsft commented on #10302
@mzilberman The issue with that constructor is that it allows you to create a complex field without sub-fields. [This constructor](https://github.com/Azure/azure-sdk-for-net/blob/fea83738df4ccb85eeffc1fd143fc67a96510bc0/sdk/search/Microsoft.Azure.Search.Service/src/Customizations/Indexes/Models/Field.Customization.cs#L72) requires providing sub-fields at the time of defining the parent field, whic

[2020-03-04 21:04] #8782 closed

[2020-03-04 21:32] jsquire commented on #10300
//cc: @nemakam
//fyi:  @JoshLove-msft , @ShivangiReja

[2020-03-04 21:51] pakrym commented on #9891
Closing this as there is currently no plan to increase the Azure.Core default timeout.

[2020-03-04 21:51] #9891 closed

[2020-03-05 00:44] JoshLove-msft opened #10304 "Re-enable large parallel upload tests"
Once https://github.com/Azure/azure-sdk-for-net/issues/9340 is released, we expect the parallel upload tests in BlobClientTests to pass consistently for the enabled test cases. We should also remove the Explicit versions of the tests that we added, and add the relevant test cases back to the main version.
- remove UploadStreamAsync_LargeBlobs_Explicit and add test cases back to UploadStreamAsync_L

[2020-03-05 01:16] ahamad-MS commented on #10137
Deliverying to Service bus queue does not support batching of events since service bus queue itself does not support that. You can try event hub for that matter.

Are you getting specific error when trying to EventGridSubscriber.DeserializeEventGridEvents() ?

[2020-03-05 01:57] wantedfast commented on #9982
Hi @chidozieononiwu ,

Can we update the project GUID according this PR[#6536](https://github.com/Azure/azure-sdk-for-net/pull/6536)

[2020-03-05 02:18] chidozieononiwu commented on #9982
I guess you can if that makes it build. But PR#6536 did not update that. It just moved the files from the directory `src` to the directory `sdk`. The test project for Labservices has used `ToolsVersion="15.0"` and that GUID before the PR. See [here](https://github.com/chidozieononiwu/azure-sdk-for-net/blob/69f3e5ed36f93e9887d9715ba811512a361f7058/src/SDKs/LabServices/LabServices.sln#L8). @isra-fel

[2020-03-05 02:30] yaohaizh commented on #10010
@xccc-msft  could you help take a look at this issue? Thanks.

[2020-03-05 02:37] yaohaizh commented on #10010
@chrisalexander  could provide more information for your assemblies list?

[2020-03-05 02:39] jublair opened #10306 "[BUG] DefaultAzureCredential throws exception in Azure Key Vault (File Not Found)"
**Describe the bug**
`DefaultAzureCredential` appears to be throwing exceptions when invoking an Azure Key Vault method (in this case, getting a secret from AKV).

**Expected behavior**
Getting secret from AKV should not throw an exception if the key is available.

**Actual behavior (include Exception or Stack Trace)**
Exceptions:
[code]

Stack trace:
[code]

**To Reproduce**
[code]

**Environment

[2020-03-05 02:41] yaohaizh commented on #10289
@xccc-msft  could you help follow with this item? Thanks.

[2020-03-05 03:18] xccc-msft commented on #10289
@matthewaturner We didn't cover all update operations in AzureFirewall yet.
For now, there is a workaround for you as below:
[code]

[2020-03-05 03:53] #9354 closed

[2020-03-05 04:20] maririos commented on #9243
Currently our single document method looks like this:
`RecognizeLinkedEntities(string inputText, string language = default)`

If we add model version, it will be another `default` parameter:
`RecognizeLinkedEntities(string inputText, string language = default, string modelVersion)`
Although it will work in .NET, for Java it implies that we need to create a method overload:
[code]

[2020-03-05 04:51] BenHagueLucidity opened #10310 "[BUG] EventHubProducerClient.CreateBatchAsync() never returns if offline when called"
If I attempt to create an EventDataBatch via
[code]
Then if the PC is offline when this is called then the call to CreateBatchAsync never returns. Using the debugger I can see it reach this point but it never trips the breakpoint on the next line. Even if the PC goes online again it does not continue.

I would have expected it to retry based on the retry options.

This is using Azure.Messaging.Eve

[2020-03-05 05:19] srivathsanvlb commented on #10014
Hi @serkantkaraca

Thanks for your reply. But I don't see the properties that I am looking for.

To re-iterate, I am specifically looking for the following properties that are available in .NET Framework. Methods like GetEventHub and GetEventHubPartition are used for getting the below property values. I am looking for the equivalent in .NET Standard. Kindly let me know about the same.

  | .NET Fr

[2020-03-05 05:34] serkantkaraca commented on #10014
Unfortunately, those are not available from .Net Standard client.

[2020-03-05 07:05] fkuehnSAG commented on #10298
@maririos i am using version 3.1.0 of Microsoft.Azure.CognitiveServices.Language.LUIS.Authoring

[2020-03-05 07:44] varunsh-msft commented on #10248
@jublair , I tried this using Microsoft.Azure.KeyVault v 3.0.5, Microsoft.Azure.Services.AppAuthentication v 1.4.0, Visual Studio 16.4.5 and it worked fine for me.

Could it be a transient issue? Can you try again?

This is the code I used:
var azureServiceTokenProvider1 = new AzureServiceTokenProvider("RunAs=Developer; DeveloperTool=VisualStudio");
            var kv = new KeyVaultClient(new KeyV

[2020-03-05 08:22] mishal153 opened #10312 "[BUG] Queue message shows special characters"
I am trying to use the Azure.Storage.Queues library to insert text message into storage queue.
When I develop an azure function using the example in https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Queues/README.md

My queue message seems to getting its coding changed or something due to which it shows up as special characters.
The code is pretty simple:

[code]

Th

[2020-03-05 09:22] srivathsanvlb commented on #10014
@serkantkaraca oh ok

We are currently working to upgrade .NET framework projects to .NET Standard/.NET Core.
We are facing some blockers similar to the above. What is the right way to ask Microsoft to consider our request for enabling .NET Core/Standard to expose properties/methods that we use in .NET Framework?

[2020-03-05 11:29] xccc-msft commented on #10010
@chrisalexander For now, you can have workaround as below to get ReplicationStatus:
[code]

[2020-03-05 11:45] xccc-msft commented on #10011
@chrisalexander For this, we will need service team to explain if any changes required from their side.
The current behavior can be found in the [example with response](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/examples/CreateOrUpdateASimpleGalleryImageVersion.json) after resource creation, which ids are not

[2020-03-05 12:24] chrisalexander commented on #10010
I have nuget package Microsoft.Azure.Management.ResourceManager.Fluent.Core and Microsoft.Azure.Management.Fluent v1.30.0, can you drop me an email if you need more than that and I can provide a project.

[2020-03-05 12:26] chrisalexander commented on #10011
Thanks for providing the workaround, I will try that but would rather not go to production until we have the standard calls working correctly

[2020-03-05 14:14] jsquire commented on #10310
Hi @BenHagueLucidity.   We're sorry that you're experiencing difficulties and appreciate you reaching out to let us know.

You're correct in that batch creation should fail when the Event Hubs service is unreachable and that the retry policy should be respected.   At a glance, the code snippet that you've shared looks correct to me.   We'll start investigating and update this issue with our findin

[2020-03-05 14:16] jsquire commented on #10306
//cc: @heaths

[2020-03-05 14:22] jsquire opened #10313 "Event Hubs Client Library for .NET - May Milestone"
For general summary and goals, please see: [Release Event Hubs Track 2 Library (#442)](https://github.com/Azure/azure-sdk/issues/442).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Design and planning for the receiver link redirect feature
- [x] Create issues and

[2020-03-05 15:29] jsquire commented on #10310
Hi @BenHagueLucidity.   I've been unable to reproduce thus far using a test bed based on the code that you shared and the assumptions that I had mentioned above.   The snippet that was using can be found below.

The behavior that I'm seeing in my attempts is what I would expect:

- When the producer is created and no operation is performed before creating the batch, the host is unable to be resolv

[2020-03-05 16:14] jsgoupil commented on #10137
I understand that you might only support delivering only 1 event to the service bus, but then your API EventGridSubscriber does not work properly. It expects an array.

Here is the callstack.

[code]

[2020-03-05 16:54] heaths commented on #10306
It's listed as a package dependency: https://www.nuget.org/packages/Azure.Identity/

Did you do a `dotnet restore` (default when building). How did you deploy your application?

[2020-03-05 16:58] heaths commented on #10248
You might track it through https://github.com/Azure/azure-sdk-for-net/issues/8934; otherwise, @schaabs, do you have an epic tracking this?

[2020-03-05 17:03] pakrym commented on #10015
PartitionClosingAsyncIsCalledWithOwnershipLostReasonWhenStoppingTheFailedProcessor failed in todays nightly run again.

[2020-03-05 17:23] jepetty opened #10314 "[BUG] Error Code not present on failed InsertBatchAsync"
**Bug description**
We're seeing some calls to `InsertBatchAsync` fail with exception

The problem is that we can't filter on that exception, because the ErrorCode is empty in the RequestInformation:

RequestID:dab463cd-3002-0025-5d8a-f22ce5000000
RequestDate:Thu, 05 Mar 2020 01:04:57 GMT
StatusMessage:The server is busy.
ErrorCode:
ErrorMessage:The server is busy.
RequestId:dab463cd-3002-0025-5d8

[2020-03-05 17:46] varunsh-msft commented on #9917
@Max9252 , did you get a chance to check this out?

[2020-03-05 17:48] jublair commented on #10248
Thanks for the help folks! Turns out this was a transient issue with (perhaps) AAD issuing bad tokens. Either way, the issue appears to have subsided, so I'll close out this issue and monitor the provided issue to track when Azure CLI will be available on the new package.

[2020-03-05 17:48] #10248 closed

[2020-03-05 18:08] Drewm3 commented on #10011
@axayjo, could you take a look at this issue?

[2020-03-05 18:16] magole opened #10316 "All exceptions should be serializable"
**Azure.Storage.Blobs**

Exceptions that are not serializable throw this type of exception in frameworks like **Microsoft Orleans**:

`System.Runtime.Serialization.SerializationException: Type 'Azure.RequestFailedException' in Assembly 'Azure.Core, Version=1.0.1.0, Culture=neutral, PublicKeyToken=92742159e12e44c8' is not marked as serializable.`

Due to this, Orleans storage providers cannot be up

[2020-03-05 18:59] BenHagueLucidity commented on #10310
Hi,
I may be misunderstanding how it's supposed to work, but what I'm doing to test, using your test code is (with the GetEventHubPropertiesAsync commented out):
1) Start program with network disconnected.
2) Connect network during the CreateBatchAsync line
What I'd expect is that CreateBatchAsync could then recover and continue but it doesn't appear to.

If instead I do:
1) Start program with net

[2020-03-05 19:13] kinelski commented on #10015
We'll use #10067 to track Track Two flaky tests, so I'll be closing this issue. `PartitionClosingAsyncIsCalledWithOwnershipLostReasonWhenStoppingTheFailedProcessor` has been added to the list.

[2020-03-05 19:13] #10015 closed

[2020-03-05 19:18] chidozieononiwu opened #10318 "Move .Net Release Config to public Repo"
Move `archetype-net-release.yml` and relevant associated files to public repos `Azure/azure-sdk-for-net` and `Azure/azure-sdk-tools`

[2020-03-05 19:35] pakrym commented on #10015
Can we disable it? It has been failing fairly consistently.

[2020-03-05 19:43] jsquire commented on #10310
Thank you for the clarification.   We definitely overlooked applying the retry policy to that operation, #10320 addresses that oversight.   Thank you for calling that out.

We also confirmed that the per-try timeout is being respected, so your statement about the call never returning concerns me.  We should see a task cancellation exception occur around the one second mark, which I am seeing consi

[2020-03-05 19:45] jsquire commented on #10015
Looks like that disable was included in #10320

[2020-03-05 19:50] serkantkaraca commented on #10014
You should consider upgrading to https://www.nuget.org/packages/Azure.Messaging.EventHubs/ instead. We are not adding any new features to Microsoft.Azure.EventHubs.

For any missing feature, create a new issue so SDK Team can track them.

[2020-03-05 20:18] jublair commented on #10306
Seems like it's an issue with our project settings - not sure what it is, but after further discussions with @heaths it seems to be out of schope of the Azure SDKs. Will close this issue for now and re-open if I have any new information. Thanks!

[2020-03-05 20:18] #10306 closed

[2020-03-05 22:01] Dmitry-Matveev opened #10324 "[BUG] EH SDK: Enqueued Time on root activity, not on the links"
**Describe the bug**
[This recent PR](https://github.com/Azure/azure-sdk-for-net/pull/10227/files) has added attribute "x-opt-enqueued-time" to the Diagnostic Scope activity.
While debugging this new behavior with new version of Application Insights SDK that reads this attribute, I noticed that there is disconnect between the two SDKs on the expected attribute location:
- AI SDK [looks through the

[2020-03-05 22:04] Dmitry-Matveev commented on #10324
@kinelski , not sure what's the right approach here, I touched base with @lmolkova and her expectation was to have enqueued time on links rather than main activity. I do lack context of the feature, though, I simply debugged the behavior to help one of the internal teams who tried this new feature out - let me know what you think.

[2020-03-05 22:31] #9179 closed

[2020-03-05 22:41] ShivangiReja opened #10325 "[Service Bus] Add unit tests for AmqpMessageBatch and ServiceBusMessageBatch"
Add unit tests for AmqpMessageBatch and ServiceBusMessageBatch.

[2020-03-05 22:48] #10286 closed

[2020-03-05 22:48] #10287 closed

[2020-03-05 22:49] maririos commented on #10269
Done in PR https://github.com/Azure/azure-sdk-for-net/pull/10308

[2020-03-05 22:49] #10269 closed

[2020-03-05 23:46] danieljurek opened #10328 "Smoke tests: enable failure notifications"
* move smoke test yml file into smoke test folder
* set CODEOWNERS for smoke test folder (service owners)
* update pipeline configuration to use smoke tests folder

[2020-03-05 23:52] annelo-msft opened #10329 "Auto-detect content-type in streams"
StartExtractForm, ExtractReceipt, and StartExtractLayout all require a FormContentType to be passed in to indicate whether the stream contains a JPG, PNG, etc.  We should auto-detect this and possibly allow clients to override (although decide based on our implementation whether they need to do this at all).

The python team is looking at putting this autodetection into their code generator.  We s

[2020-03-05 23:56] danieljurek opened #10330 "Gov Cloud: Get Smoke Tests working"
Identity advice: https://blog.jongallant.com/2020/02/azure-identity-other-clouds/

[2020-03-06 00:00] annelo-msft opened #10331 "Check in form recognizer code for initial prototype"
- Need to integrate into CI pipeline
- Need PR Review

[2020-03-06 00:01] annelo-msft opened #10332 "Design approach to exposing supervised field types in common field"

[2020-03-06 00:05] annelo-msft opened #10333 "Design approach to exposing supervised field types in common ExtractedField type"
For fields under DocumentResult, we'll want to expose both the field's text (directly from the form) and the strongly typed value (like DateTime, int, float, etc).  How can we do that without making the fields under ExtractedPage too complicated?

We might consider designing different, more advanced APIs for this.  We should work to deeply understand the customer scenario for this if we choose to

[2020-03-06 00:06] annelo-msft commented on #10332
Accidental duplicate

[2020-03-06 00:06] #10332 closed

[2020-03-06 00:09] annelo-msft opened #10334 "[HTTP Status Codes:] Correctly handle 200/failure messages from LROs"
For details, see : https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1583178875486?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1583178875486&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=1583178875486

[2020-03-06 00:14] annelo-msft commented on #9968
Per [this teams discussion](https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1582844422948?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1582844422948&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=1582844422948), we will use LROs, because any train or analyze request ca

[2020-03-06 00:14] #9968 closed

[2020-03-06 00:32] christothes commented on #10015
How do the nightly runs differ from CI? `PartitionClosingAsyncIsCalledWithOwnershipLostReasonWhenStoppingTheFailedProcessor` still seemed to be passing consistently there and locally.

(I'm not sure if this is expected, but I don't seem to have access to any of the nightly build results)

[2020-03-06 01:27] lmolkova commented on #10324
Here is the spec https://gist.github.com/lmolkova/e4215c0f44a49ef824983382762e6b92#processing-messages

I confirm that each linked activity should have enqueued time in case there is more than one message in the batch.

[2020-03-06 01:37] amnguye commented on #10272
Hi,

Could you should provide a code snippet? I just tried to reproduce your issue by calling `container.GetBlobClient(blob.Name)' where the blobname had percent signs in it and we properly encoded the blob name. I ran it with a Fiddler trace and it sent the correct encoded url.

If you can could you also run it with a trace and show us the raw requests?

[2020-03-06 02:04] tzhanl commented on #9999
We are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-03-06 02:04] #9999 closed

[2020-03-06 02:58] ahamad-MS commented on #10137
Thanks for the additional info. it is helpful. We are adding this to our backlog and will triage appropriately. thanks.

[2020-03-06 04:00] maririos commented on #9796
Currently we don't have enough information that will tell is if the current model is a problem or not. For now I'm going to leave as it is. If users report there is an issue with discoverability, will revisit

[2020-03-06 04:00] #9796 closed

[2020-03-06 04:16] maririos commented on #10270
https://github.com/Azure/azure-sdk/pull/1074

[2020-03-06 06:42] amishra-dev commented on #10312
@jaschrep-msft could you try this tomorrow and respond. Thanks.

[2020-03-06 08:04] wantedfast commented on #10237
Hi @TheGynome ,
Here is a [sample ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Files.DataLake/samples/Sample01a_HelloWorld.cs)of using DataLakeServiceClient.
Sample code snippet:

[code]

Please feel free to reach us with more detailed information if the error still persists by using the sample.

@jongio

[2020-03-06 08:28] wantedfast commented on #10176
Hi @dansiegel
How is this issue going? Feel free to let us know if further help is needed.

[2020-03-06 09:08] DiegoFaFe commented on #10268
Thanks @maririos I'll give it a go, I'm closing this issue as its resolved on the preview package

[2020-03-06 09:08] #10268 closed

[2020-03-06 10:12] dhvik opened #10343 "[BUG] Different casing/value on Location property in different packages"
**Description**
When retrieving resources using Management API:s and checking the Location property, the result is different between packages which makes comparison difficult.

For example, if I retrieve a storage account using Microsoft.Azure.Management.Storage v14.5.0

[code]
the location is "**westeurope**"

If I then use Microsoft.Azure.Management.Media v2.0.4...
[code]
the location is "**West

[2020-03-06 14:41] jsquire commented on #10015
In theory, no... the CI and nightly runs are the same for unit tests.  The nightly runs include the live tests as well and, as a result, have a much higher potential for intermittent delays due to longer-running operations , availability in the thread pool, and general wonkiness around ARM calls.

Consequently, we seem to find tests with timing sensitivity during nightly runs moreso than CI or loc

[2020-03-06 14:49] jsquire commented on #10343
//cc: @erich-wang

[2020-03-06 16:00] tuanle07 commented on #8658
Had exactly the same issue as well when I logged into VS with 2 accounts (though I selected only 1 account for Azure default credentials). Please fix it!

[2020-03-06 16:08] arkiaconsulting commented on #8658
@tuanle07 Please make sure that the only remaining account has not been invited in another tenant(s). If this is the case, in the VS Account UI, untick all tenants except the one that you're interested in.

[2020-03-06 17:11] annelo-msft opened #10358 "Assess performance of BoundingBox implementation"
Currently using System.Linq to cast collection to an array to be able to index into it.  If we can pass in an IList<float> we can index directly.  Ideally, we should remove calls to System.Linq.

[2020-03-06 17:17] annelo-msft opened #10359 "Set default value of "" on TrainingFileFilter.Prefix"
In CustomFormClient.StartTraining(), we check whether filter has been passed in, and if so, we add it to the trainRequest.

Once we are able to set a default value on TrainingFileFilter with code gen (https://github.com/Azure/autorest.csharp/issues/467), we can send this always.

We will want to decide whether it's better to send TrainingFileFilter on every request, or leave it unset on the TrainR

[2020-03-06 17:21] annelo-msft opened #10360 "Remove conversions from ICollection to IList"
Once we get back IList from autogenerated code instead of ICollection (https://github.com/Azure/autorest.csharp/issues/471), we will need to go through and take out conversions.  The compiler will probably remind us this also :)

[2020-03-06 17:26] loic-sharma commented on #10176
Will there be an `Azure.Storage.Tables` package, similar to `Azure.Storage.Blobs` and `Azure.Storage.Queues`

[2020-03-06 17:35] annelo-msft opened #10361 "Decide whether we want to make optional reference types nullable"
For example, in ExtractedField, [LabelOutline ](https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs#L49) is an optional parameter.  However, since it is a reference type, we can't mark it as nullable.

It sounds like the .NET team has considered this and decided to postpone using nullable referenc

[2020-03-06 17:46] #10316 closed

[2020-03-06 17:48] mymatrixpixel commented on #10021
@jongio we have registered client secrets into key vault. But when I read getaccount is always coming as null. Can you share sample of how to read keyvault by using MSAL . My doubt is redirect uri. I followed msdn docs snippets already but no luck.

[2020-03-06 17:58] annelo-msft opened #10363 "[Validations:] Add validations to ExtractedField.ResolveTextReferences"
In [ResolveTextReferences](https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs#L74), we're currently doing a string.Split('/') and pulling the segments from a returned array to retrieve the line and word segments.

We should understand what the set of possible values is here, including error value

[2020-03-06 18:19] joecullinan commented on #3933
@jmurphy35 You're my hero

[2020-03-06 18:24] maririos commented on #10285
Still looking for a better name for `DocumentInput`, but design will look like this:
[code]

[2020-03-06 18:40] jongio commented on #10021
You'll find a lot of KeyVault secret samples here: https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/keyvault/Azure.Security.KeyVault.Secrets - that should get you what you need.

[2020-03-06 18:46] annelo-msft opened #10364 "Add support for Lines to ResolveTextReference"
ExtractedField.ResolveTextReference() currently [only returns RawExtractedWord](https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs#L86) objects.  It should determine from the reference whether it's gotten a line or a word and return the correct type.

[2020-03-06 18:53] annelo-msft opened #10365 "Set PageRange on ExtractedForm for unsupervised models"
PageRange doesn't come back in AnalyzeResult.PageResults from unsupervised forms explicitly, but we can obtain it from getting the pages in PageResults and setting PageRange.FirstPage and PageRange.LastPage from these.

See: https://github.com/Azure/azure-sdk-for-net/issues/10365

[2020-03-06 18:57] annelo-msft opened #10366 "Add validation that pageResults.Count and readResults.Count match in ExtractedForm.SetPages()"
We currently have a Debug.Assert for this, but we're not handling the case where they don't match.  This should throw an appropriate exception.

See:
https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedForm.cs#L40

[2020-03-06 19:11] annelo-msft opened #10369 "[Validation] Handle case where DocumentResult.Fields.Value.Page == null"
Right now we're setting pageNumber to 0 if this is the case.

We need to understand:
- Is this expected or possible?
- Is 0 the right thing to set, or should it be something else?

See: https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedForm.cs#L72

[2020-03-06 19:15] kinelski commented on #10324
Hello, @Dmitry-Matveev. That was definitely a mistake on my part. Thanks for pointing it out!

I have just opened a PR that will allow us to add attributes to linked activities (#10368). Once that's merged, I'll get the Event Hubs SDK fixed.

[2020-03-06 19:22] mymatrixpixel commented on #10021
@jongio first we need to get access token(OAUTH2) to authenticate KeyVault right. And then only we will retrieve the key. I just tried it with postman and it's working fine. When I try with MSAL.Net am facing an issue.

[2020-03-06 19:25] ShivangiReja commented on #10153
Closed with https://github.com/Azure/azure-sdk-for-net/pull/10305

[2020-03-06 19:25] #10153 closed

[2020-03-06 19:34] nemakam commented on #6450
@federicobarera
Sorry for extremely late response. Somehow lost the visibility of this thread.
This is the behavior on our implementation of AMQP.
AMQP is a stateful link and keeps the state of all the messages received in its cache. So it is always advisable to abandon/complete the message when you are done processing it. If you don't the state reaches its limit of 5000. This is unfortunately by

[2020-03-06 19:35] jongio commented on #10021
What's the issue?

[2020-03-06 19:36] SeanFeldman commented on #6450
Given this is a client issue, I'd think it's better for the client to log/throw.

[2020-03-06 19:42] nemakam commented on #6450
This is a client bug which impacts the server as well. Think about customers using native AMQP library instead of our library which sets the value to 5000. If they set the value to int.MaxValue and forget to acknowledge the message, the service will also end up keeping the whole state in memory (as is required by AMQP). I don't want to propose final solution right now as it needs some discussion a

[2020-03-06 19:45] pakrym opened #10370 "Azure.Core 1.1.0 API review"
Diff: https://apiview.dev/Assemblies/Review/3f640270a7de4d8e99a5543bf4257e4f?diffRevisionId=3f83e37a476d4edabaab987a2c3d2a21

Changes were approved offline but following the process.

[2020-03-06 20:08] mymatrixpixel commented on #10021
@jongio  IpublicClientApplication am following this snippet . Here app.GetaccountAsync() is coming as null.

[2020-03-06 20:15] jongio commented on #10021
Can you please provide more of your code than that?  I need more context.  How you are constructing the Credential class, what APIs you are calling, etc.

[2020-03-06 21:01] mymatrixpixel commented on #10021
Please refer this. Am using this mehod only
https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.clientapplicationbase.acquiretokensilentasync?view=azure-dotnet#Microsoft_Identity_Client_ClientApplicationBase_AcquireTokenSilentAsync_System_Collections_Generic_IEnumerable_System_String__Microsoft_Identity_Client_IAccount_

[2020-03-06 21:10] jongio commented on #10021
Those APIs are marked as obsolete:

![image](https://user-images.githubusercontent.com/2163001/76122732-9e69c680-5fab-11ea-91e2-d77cffcc0708.png)

The comment says to use AquireTokenSilent instead.    Try that.

For more assistance, we're going to need more context, for example, what is the exact code that you are running before you call this? What is the host? console, webapp, etc. and also what

[2020-03-06 21:26] jfggdl commented on #6329
@cortex93 , as Sean mentioned, Service Bus for Windows is out of support and it is not open sourced.
By the way, I am part of the messaging team in Azure that is responsible for Service Bus, Event Hubs, Event Grid, and Relay. I see that this issue was created last year, but if you are still interested, I can have a phone/Teams conversation with you on potential options and to understand your on-pr

[2020-03-06 22:00] annelo-msft opened #10376 "Specify IFormatProvider when casting to string."
See:
- https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedForm.cs#L125
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedField.cs#L82
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87be

[2020-03-06 22:05] annelo-msft opened #10377 "[Validations:] Add validation when setting FormType on Form"
See: https://github.com/Azure/azure-sdk-for-net/blob/5111925a4021ef5ee498bcf5fddf4a16c4e2da62/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedForm.cs#L133

We will need to understand whether it is possible that multiple pages in a page result could have different clusterIds.  If so, we will need to handle this correctly in SetLearnedFormType().

Get service team input on whether this is po

[2020-03-06 22:06] annelo-msft commented on #10377
@ctstone  Could you help us answer this from the service side?

[2020-03-06 22:15] annelo-msft opened #10378 "Design approach to merging Confidence across supervised and unsupervised fields"
Confidence is a required field for unsupervised KeyValuePair, but is an optional field for supervised FieldValue.

Confidence also comes back for the full unsupervised KeyValue pair, but for supervised it comes back on the FieldValue itself (not the label).

What is the best approach to merging Confidence in ExtractedForm's fields?

See:
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f1

[2020-03-06 22:15] annelo-msft commented on #10378
@kristapratico Please add anything I missed here.  Thanks!

[2020-03-06 22:21] ctstone commented on #10377
Each item in the `pageResult` array is a separate page with a unique page number. Is that what you are referring to?

[2020-03-06 22:29] amishra-dev commented on #10314
@jepetty I am assuming that you are using V11 .NET library? That is the track 1 library, would you consider moving to our latest library?
Here is the blob library https://www.nuget.org/packages/Azure.Storage.Blobs/
Here is the batch library https://www.nuget.org/packages/Azure.Storage.Blobs.Batch/

Feel free to use this thread to discuss migration.
Meanwhile @seanmcc-msft can you please look at wh

[2020-03-06 22:29] annelo-msft opened #10379 "Support Items from ExtractedFields on ExtractedReceipt"
See: https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractedReceipt.cs#L41

Items curently get set to null, given we're not currently handling nested FieldValues in FieldValue values.  Correct this such that Items are populated with their values, including bounding box and confidence.

[2020-03-06 22:38] federicobarera commented on #6450
Hi @nemakam , thanks for coming back on this one. Late is better than ever :)

As explained in this thread, we initially intentionally avoided releasing the messages to leverage the peak lock timeout before the message becoming visible again. That was a crude way to time retries over transient errors, using the oob delivery count increase and the automatic deadlettering after n retries.

We then m

[2020-03-06 22:47] nemakam commented on #6450
@federicobarera ,
Don't get me wrong. Its clear that the experience needs to get better and client needs to get an exception somehow, and just keeping it blocked without having an understanding of what's happening within is unintended.
It was never "chosen" to get blocked like this. Its not even a decision of our client that this is happening. This is how AMQP as a protocol works. Protocol itself

[2020-03-06 22:58] kinelski commented on #10324
@Dmitry-Matveev Issue should be fixed now. I moved the attribute to the links and renamed it to `enqueuedTime`. Let us know if you find any more issues. Thank you again!

[2020-03-06 23:14] shankarsama commented on #6381
This issue should be assigned to DurableTask framework (https://github.com/Azure/durabletask)

[2020-03-06 23:34] maririos opened #10382 "Offset and Length future plans"
This tracks the work to figure out what we are going to do around correctly exposing the offset and length returned from the service.

The length and the offset depends on the encoding of the service.

[2020-03-06 23:47] brjohnstmsft commented on #10302
We had an offline discussion and explored the context behind this feedback, and some of the discoverability issues around the `Field` class in general. Here are my notes from the part of this conversation related to `Field`:

@mzilberman I'm closing this issue only because it's more of a broad conversation rather than a specific ask. We'll definitely take your feedback into account when re-designi

[2020-03-06 23:47] #10302 closed

[2020-03-06 23:55] ctstone commented on #10378
1. I suspect the reason that confidence is not required on FieldValue is b/c FieldValue may hold collections of other fields (array, object)
2. I believe the confidence refers to the pairing itself (this key goes with that value), but I will try to get some more precise language for you

[2020-03-06 23:55] annelo-msft commented on #10378
See: https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1583537987876?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1583537987876&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=1583537987876

[2020-03-07 00:22] annelo-msft commented on #10377
I misstated my question.  I meant could different pages in the same form have different clusterIds?

[2020-03-07 00:24] annelo-msft opened #10385 "[Validations:] Add input validation for operationLocation field in ExtractFormOperation"
Also ExtractLayoutOperation.

See:
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractFormOperation.cs#L53
- ExtractLayoutOperation
- TrainingOperation
- TrainingWithLabelsOperation

Also add appropriate exceptions.

[2020-03-07 00:26] annelo-msft opened #10386 "[HTTP Status Codes:] Handle failure status codes in Long Running Operations"
See: https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractFormOperation.cs#L73

Also:
- [ ] ExtractLayoutOperation
- [ ] ExtractReceiptOperation

[2020-03-07 00:27] annelo-msft opened #10387 "Add support for multiple documents in DocumentResult"
The service team plans to add this in the future.  Design this then.

See: https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractFormOperation.cs#L89

[2020-03-07 00:40] annelo-msft opened #10389 "Add support for multiple receipts returned from ExtractReceipt"
The service team plans to add this in the future.  Design this then.

See: https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ExtractReceiptOperation.cs#L70

[2020-03-07 00:42] annelo-msft opened #10390 "[Code Gen] Remove and reduce wrapper methods as code generator adds features"
Determine whether these are still needed, and if so create specific work items for the specific issues.

See:
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/Language_internal.cs#L14
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormReco

[2020-03-07 00:44] TimothyMothra commented on #10324
@kinelski I see that this fix is assigned to an April deliverable.
Will you have a beta build between now and then that we could use to test with?
No rush :)

[2020-03-07 00:48] annelo-msft opened #10391 "If we decide to call an LRO from within an async method, find the right way to do this."
We will probably not do this in this version.  This async method is here just to test usability in the UX study.

See:
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/ReceiptClient.cs#L61
- https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.For

[2020-03-07 00:54] annelo-msft opened #10392 "Design how to expose Value in TrainingOperation if training fails."
See: https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs#L43

- [ ] Address in TrainingWithLabelsOperation as well

[2020-03-07 00:55] #10063 closed

[2020-03-07 00:55] #10046 closed

[2020-03-07 00:58] annelo-msft opened #10393 "Design handling includeKeys=true for StartTraining"
See: https://github.com/Azure/azure-sdk-for-net/blob/ce046949f17fc4ceeab5c87beb4750047b983565/sdk/formrecognizer/Azure.AI.FormRecognizer/src/TrainingOperation.cs#L88

This design should work across labeled and unsupervised training.

Discussion in this Teams thread:
https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1583350844335?tenantId=72f988bf-86f1-41af-91ab

[2020-03-07 01:05] annelo-msft commented on #9700
Design prototyped.  We can reopen this issue or create new ones from UX feedback.  @mayurid

[2020-03-07 01:05] #9700 closed

[2020-03-07 01:05] annelo-msft commented on #9701
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:05] #9701 closed

[2020-03-07 01:07] annelo-msft commented on #9704
See discussion in Teams thread: https://teams.microsoft.com/l/message/19:d6ff4003f5c848a2a2d6dcdfc0ebd497@thread.skype/1583178108611?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1583178108611&teamName=Azure%20SDK&channelName=Service%20-%20Text%20Analytics&createdTime=1583178108611

[2020-03-07 01:07] annelo-msft commented on #9704
We'll pass these as strings in our SDKs

[2020-03-07 01:07] #9704 closed

[2020-03-07 01:08] annelo-msft commented on #9705
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

See also: https://github.com/Azure/azure-sdk-for-net/issues/9704

[2020-03-07 01:08] #9705 closed

[2020-03-07 01:09] annelo-msft commented on #9707
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

https://github.com/Azure/azure-sdk-for-net/issues/10333 replaces this.

[2020-03-07 01:09] #9707 closed

[2020-03-07 01:10] annelo-msft commented on #9708
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:10] #9708 closed

[2020-03-07 01:10] annelo-msft commented on #9709
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:10] #9709 closed

[2020-03-07 01:10] annelo-msft commented on #9712
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:10] #9712 closed

[2020-03-07 01:11] annelo-msft commented on #9713
Addressed.

[2020-03-07 01:11] #9713 closed

[2020-03-07 01:11] annelo-msft commented on #9714
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:11] #9714 closed

[2020-03-07 01:12] annelo-msft commented on #9715
Design prototyped for FormRecognizer.  Still need to check whether this will work for all the Vision services.

[2020-03-07 01:12] annelo-msft commented on #9969
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:12] #9969 closed

[2020-03-07 01:13] annelo-msft commented on #9970
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:13] #9970 closed

[2020-03-07 01:13] annelo-msft commented on #9971
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:13] #9971 closed

[2020-03-07 01:17] annelo-msft commented on #9973
Now tracked by: https://github.com/Azure/azure-sdk-for-net/issues/10333

[2020-03-07 01:17] #9973 closed

[2020-03-07 01:17] annelo-msft commented on #9974
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:17] #9974 closed

[2020-03-07 01:19] annelo-msft commented on #9976
Design prototyped. We can reopen this issue or create new ones from UX feedback. @mayurid

[2020-03-07 01:19] #9976 closed

[2020-03-07 01:20] annelo-msft commented on #9977
Finalized guidance with Krzysztof -- it's in prototype design.

[2020-03-07 01:20] #9977 closed

[2020-03-07 01:21] annelo-msft commented on #9978
Changed to CustomModel.

[2020-03-07 01:21] #9978 closed

[2020-03-07 01:23] annelo-msft commented on #10143
Complete.

[2020-03-07 01:23] #10143 closed

[2020-03-07 05:38] tuanle07 commented on #8658
Where do you see the list of tenants in the VS Account Settings UI? I can only see a list of logged in accounts and ability to remove them. 🤔

[2020-03-07 05:58] arkiaconsulting commented on #8658
In the account window, click on the `Apply filter` next to the account you're interested in.

![image](https://user-images.githubusercontent.com/39853204/76137775-f1418d80-6040-11ea-8ab1-be9919b9bba0.png)

If you don't have this option, your account may not be invited in other tenants, and as such, my solution does not apply to your case...

[2020-03-07 06:09] tuanle07 commented on #8658
I’m using VS Professional version so not sure if that matters but I don’t see the `Apply Filter` button next to the account. 😞

[2020-03-07 08:49] mymatrixpixel commented on #10021
@jongio  I want to get access token to authenticate Azure Key vault. Please refer below code.
1. Once i get the access token i want to retrive secret keys. and then i want to get accesstoken to authenticate Datafactory. I'm trying to use MSAL.NET instead of ADAL as per microsoft recommendations. Can you revamp the code and provide a better snippets.
class Program{
public IPublicClientApplication P

[2020-03-07 08:50] mymatrixpixel commented on #10021
I wrongly sent .

[2020-03-07 09:01] mymatrixpixel commented on #10021
I tried to create .env file , but VS2019 isn't able to recognize the file type.

[2020-03-07 09:26] cortex93 commented on #6329
@jfggdl My on-prem scenario also involved Biztalk with the SB-Messaging Adapter which is based on this now unsupported library while Biztalk and its adapter are still supported...
Unfortunately, Azure is not an option. If it has ever been, we would never have chosen the on-prem solution. And if Microsoft has been clearer about SB for Windows roadmap, we would have chosen an other product from the

[2020-03-07 09:26] #6329 closed

[2020-03-07 17:25] jsquire commented on #10324
@TimothyMothra:  There won't be an official preview build released between now and April, but you're welcome to use a nightly development feed package for testing.   Feel free to ping @kinelski or myself if you'd like a hand setting that up.

[2020-03-08 01:39] SteffenMangold opened #10404 "[QUERY] Replacement for Microsoft.Azure.EventHubs.Processor?"
**Query/Question**
Is **Azure.Messaging.EventHubs.Processor** a replacement for **Microsoft.Azure.EventHubs.Processor**?
Do we need to switch?
Is there an update stop on **Azure.Messaging.EventHubs.Processor**?
Is this library in conflict with **Microsoft.Azure.Storage.Common**?

Now there are 3 versions, this is really confusing and not written somewhere.
**Microsoft.Azure.ServiceBus.EventProcess

[2020-03-08 19:25] annelo-msft commented on #10379
See related comment on Python design review: https://github.com/Azure/azure-sdk-for-python/pull/9963#discussion_r388249261

[2020-03-08 19:58] annelo-msft opened #10406 "Add Price to ExtractedReceipt"
See: https://github.com/Azure/azure-sdk-for-python/pull/9963#discussion_r388243248

[2020-03-08 19:59] annelo-msft opened #10407 "[Add methods:] Add a method to get any receipt field by name"
See: https://github.com/Azure/azure-sdk-for-python/pull/9963#discussion_r388247091

[2020-03-08 20:07] annelo-msft opened #10408 "[Add methods:] Add method to retrieve results of completed train/analyze LROs"
Per .NET guidelines: https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-longrunning

Outstanding design issues here: https://github.com/Azure/azure-sdk-for-python/pull/9963#discussion_r388289970

[2020-03-08 20:25] annelo-msft opened #10409 "[Tests:] Add test project/coverage to FormRecognizer solution"
Add test coverage for main scenarios:

- [x] ExtractReceipt
- [x] ExtractReceiptUri
- [x] ExtractLayout
- [x] ExtractLayoutUri
- [x] GetCustomModelsSummary
- [x] GetCustomModels
- [x] TrainCustomModel
- [x] ExtractCustomModelStream
- [x] ExtractCustomModelUri
- [x] ExtractCustomModelPlusOcrData
- [x] TrainCustomLabeledModel
- [x] ExtractCustomLabeledModel
- [x] ExtractCustomLabeledModelUri
- [x] E

[2020-03-08 20:27] annelo-msft opened #10410 "Implement FormRecognizerModelFactory"
See: https://github.com/Azure/azure-sdk-for-net/issues/8710

[2020-03-08 20:28] annelo-msft opened #10411 "Add Performance project to FormRecognizer solution"

[2020-03-08 20:29] annelo-msft opened #10412 "[Tests:] Create and delete Form Recognizer resources on demand for tests"
See: https://github.com/Azure/azure-sdk-for-net/issues/9384

[2020-03-08 20:31] annelo-msft opened #10413 "[Tests:] Add Live tests to FormRecognizer project"

[2020-03-09 00:36] BenHagueLucidity commented on #10310
Thanks for the fix.
I was wrong about the call not returning, I was looking in the wrong place, when I looked in the right place it was throwing an exception.

[2020-03-09 03:16] MarcoScabbiolo opened #10416 "Expose StorageConnectionString"
**Library or service name: `Azure.Storage.Common`**

**Is your feature request related to a problem? Please describe.**
When creating a SAS (without Active Directory) for a blob the account key is needed to create a `StorageSharedKeyCredential`. Most likely the account key will be retrieved from a connection string, and the SDK already has the means to parse this connections string and retrieve th

[2020-03-09 04:47] irwang commented on #7202
what is the conclustion,have same problem.

[2020-03-09 05:45] blueww commented on #10343
For storage SDK we just report what returns from server, so this looks like the server return from storage and Media are different.

[2020-03-09 09:08] TheGynome commented on #10237
Hi @wantedfast.

i have read the sample, but in my case i use the DataLakeServiceClient in a azure function triggered by a incomming service bus message. The service bus messages includes a message body in type of a byte array.

I take the byte array to create a MemoryStream to call file.Append. i dont create a temporary file to call this function.

[2020-03-09 12:28] srivathsanvlb opened #10421 "Event Hub Partition - Properties of .NET Framework required in .NET Standard/Core"
**Library or service name.**
Azure.Messaging.EventHubs

**Is your feature request related to a problem? Please describe.**
As described in the issue https://github.com/Azure/azure-sdk-for-net/issues/10014, we need the following properties in .NET Standard/Core

  | .NET Framework |   | .NET Standard
-- | -- | -- | --
  |   |   |  
Class Name | Property Name |   |  
PartitionDescription | SizeInByt

[2020-03-09 13:29] jsquire commented on #10421
Hi @srivathsanvlb; thank you for your feedback.  For this to make its way into the library, there are two key things that we'll need to lock down.  The first is to determine whether or not the service is exposing this information for us to consume, which I'll follow up on.

The second would be building a proposal for changes to the public AP, and passing through a review process.  In order for me

[2020-03-09 13:46] jsquire commented on #10404
Hi @SteffenMangold.   To answer your questions in order:

- Yes,  `Azure.Messaging.EventHubs.Processor` is intended as a replacement for the `Microsoft.Azure.EventHubs.Processor` package as part of the efforts to offer a more consistent, cohesive, and idiomatic developer experience across the Azure SDKs as a whole.

- There is no immediate need to switch; the `Microsoft.Azure.EventHubs` family of

[2020-03-09 14:22] KSchlobohm commented on #7202
@irwang, if you're looking for an implementation of the ICustomWebUi for Wpf applications it can be found at https://github.com/runceel/dotnet-core-wpf-adal-sample/blob/d92f4c1e647f8bad9ee59e190af9b9bacce6a45d/AdalForDotnetWpfSample/MainWindow.xaml.cs

There are two other auth flows that may be useful to know depending on your scenario.
1. [InteractiveBrowserCredential](https://docs.microsoft.com/

[2020-03-09 14:30] jsquire commented on #10310
Thank you for the additional context; that alleviates my concern.  The fix will be included in our next release, expected in April.   I'm going to close this out as resolved, but please feel free to reopen if there's anything that I overlooked.

[2020-03-09 14:30] #10310 closed

[2020-03-09 14:36] Max9252 commented on #9917
@varunsh-msft yes I was able to test your hypothesis and you're right the DLL had an older version of the library. I'll close this issue since it's done, thank you for your help!

[2020-03-09 14:36] #9917 closed

[2020-03-09 14:51] irwang commented on #7202
I just with a Console application and change the target to .net core, so wondering why there is no default ICustomerWebUi implementation i can use, instead of create customized customer web ui instance.

[2020-03-09 14:52] seanmcc-msft opened #10425 "[BUG][Storage][DataLake] Renaming directory where destination exists and has a file fails."
{"error":{"code":"DirectoryNotEmpty","message":"The recursive query parameter value must be true to delete a non-empty directory.\nRequestId:27edf887-201f-007f-5522-f6b0c4000000\nTime:2020-03-09T14:51:42.5358162Z"}}

Repo:
[code]

[2020-03-09 15:04] jsquire opened #10426 "Service Bus Backlog"
The backlog for the `Azure.Messaging.ServiceBus` client library.

[2020-03-09 15:40] KSchlobohm commented on #7202
Hi @irwang,

The [CustomWebUI](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/CustomWebUi) is an extensibility point specifically created for developers to provide their own UI.

For .Net Core there are other options to build an app that leverages built-in authentication prompts such as the **InteractiveBrowserCredential**. For more reading, please see this doc about [

[2020-03-09 16:04] #9656 closed

[2020-03-09 16:09] simonporter commented on #6381
Microsoft.Azure.DurableTask.ServiceBus prior to version 2.1.3 did not support DotNetCore. Version 2.0.10 of Microsoft.Azure.DurableTask.ServiceBus has Microsoft.Azure.DurableTask.Core version 2.0.10 as a dependency, the project it set to reference a newer version explictly.
Recommend using Microsoft.Azure.DurableTask.ServiceBus 2.1.3 and not explicitly calling in a different version of Microsoft.A

[2020-03-09 16:25] #5381 closed

[2020-03-09 17:08] #10270 closed

[2020-03-09 17:16] #9984 closed

[2020-03-09 17:16] #9554 closed

[2020-03-09 17:33] heaths opened #10432 "ProjectReferences may break recorded tests when clients upgrade to new ServiceVersions"
Based on [guidance from the arch board](https://github.com/Azure/azure-sdk/issues/1043), clients should default to the latest service version - even for service previews in preview package versions. However, when we convert PackageReferences to ProjectReferences, [this can cause test recordings to fail if](https://github.com/Azure/azure-sdk-for-net/pull/10395) clients and/or tests using other clie

[2020-03-09 17:52] weshaggard commented on #10432
While this might show its head with ProjectReferences and recordings right now as we chatted this is a larger potential issue were we need to be able to configure our client libraries and/or test environments align on the service version they are testing. We also end to determine if we want to or should be testing multiple service versions.

[2020-03-09 17:52] TimothyMothra commented on #10324
Thanks!
@OsvaldoRosado, please see above. :)

[2020-03-09 18:01] heaths commented on #10432
We may need to parameterize the api-version for recordings somehow - a mapping of sorts that works with the record look-up.

/cc @pakrym

[2020-03-09 18:51] annelo-msft commented on #10407
Required for preview 2.

[2020-03-09 18:56] Dmitry-Matveev commented on #10324
@kinelski /@jsquire , thanks a lot! Super-quick turn-around, you're awesome! @OsvaldoRosado will give it a shot and we'll let you know if anything strange is afoot :)

[2020-03-09 18:59] annelo-msft commented on #10379
This will take some investigation with the service team to understand what JSON comes back for this.

[2020-03-09 19:04] annelo-msft commented on #10369
@ctstone, would you be able to let us know whether this is possible (per question 1 above)

[2020-03-09 19:06] annelo-msft commented on #10364
@ctstone Would you share a JSON document with us that has lines instead of words in the element references?

[2020-03-09 19:07] annelo-msft commented on #10361
@tg-msft Does storage handle this?

[2020-03-09 19:09] annelo-msft commented on #10358
Related to https://github.com/Azure/azure-sdk-for-net/issues/10360

[2020-03-09 19:18] annelo-msft commented on #9979
Let's user test what we have now, and see if that works for people.

[2020-03-09 19:20] ctstone commented on #10369
I think field page is not a required property on `FieldValue` only because `FieldValue` may be used a "wrapper" field when the `type` is "array" or "object". In those cases, page would not be set, but the page would be set on the fields inside the wrapper (wherever there is a "text" property). Since "array" and "object" fields would already get mapped to native types, I don't you would need to acc

[2020-03-09 19:21] annelo-msft commented on #9954
Will discuss this with arch board

[2020-03-09 19:26] ctstone commented on #10364
I have not come across one in the wild. For unsupervised we use only Word.

[2020-03-09 19:53] Dmitry-Matveev commented on #10324
@kinelski , our team tried the fix out - the value is propagated successfully now.
However, we noticed that there is one more subtle difference from the spec - EH SDK uses `ToUnixTimeSeconds()` but should be using `ToUnixTimeMilliseconds()` as per [this spec](https://gist.github.com/lmolkova/e4215c0f44a49ef824983382762e6b92#processing-messages). Therefore, our current numbers are off by ~ 50 years

[2020-03-09 20:26] maririos opened #10434 "Implement Common Credential Type"
According to the outcome of issue: https://github.com/Azure/azure-sdk-for-net/issues/9711

[2020-03-09 20:30] annelo-msft opened #10435 "Extract common logic from FR Operations"

[2020-03-09 20:38] maririos commented on #8709
@pakrym could you explain to me the work needed here? I see the document Alex shared, but it isn't clear where I need to make the changes.
All we need to do is to register the client? or what else? Also, how do we test this?
What else am I missing?

[2020-03-09 20:44] maririos commented on #8710
An example: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationModelFactory.cs

[2020-03-09 20:57] ShivangiReja commented on #9877
Closed with https://github.com/Azure/azure-sdk-for-net/pull/10418

[2020-03-09 20:57] #9877 closed

[2020-03-09 21:17] heaths opened #10437 "Enable live tests for Azure Search track 1"
While [adding live tests for Azure Search](https://github.com/Azure/azure-sdk-for-net/pull/10375), we prevented track 1 (data plane) code from building to prevent it from running when running our nightly tests. The authentication mechanism required to run these needs work to keep it working like the service team does now manually as needed, but also in our automated test runs.

[2020-03-09 21:39] mikeharder opened #10438 "[Core] BlobClient.DownloadToAsync() fails to retry if server sends partial body"
When using `Azure.Core@1.1.0` and `Azure.Storage.Blobs@12.3.0`, `BlobClient.DownloadToAsync()` fails to retry if the server sends a partial body, but it **does** retry if the server:

* Sends no response
* Sends headers only
* Aborts the connection

## Repro Steps
1. Start a server which can inject HTTP faults, like https://github.com/mikeharder/HttpFaultInjector.

2. Create a BlobClient with the

[2020-03-09 21:48] weshaggard commented on #10432
FYI @JimSuplizio a scenario that you may need to support with the recording framework.

[2020-03-09 21:52] annelo-msft opened #10439 "[Quality] Standardize on pattern for initializing wrapper objects"
https://github.com/Azure/azure-sdk-for-net/pull/10319#discussion_r389943199

[2020-03-09 21:57] maririos opened #10441 "Hide JsonConverter from EntityCategory"
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/textanalytics/Azure.AI.TextAnalytics/src/EntityCategory.cs#L16

[2020-03-09 22:04] jaschrep-msft commented on #10312
Hi @mishal153. Thank you for reporting this issue.

I'm currently looking into this behavior. Could you please specify where/how you are viewing the unexpected enqueued message text? I do not see a code sample or description of the process in your issue.

[2020-03-09 22:05] MaxThom commented on #10237
Exact same issue here. Testing with this code and I have the same result as @TheGynome.

[code]

[2020-03-09 22:14] maririos opened #10443 "Update TextAnalyticsServiceVersion when service GA"
Currently, service is still under preview and using version V3_0_preview_1("v3.0-preview.1").

When service GA, this required to be updated.

[2020-03-09 22:18] maririos opened #10444 "Create a sample that shows how to use moq"
i.e.: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/appconfiguration/Azure.Data.AppConfiguration/samples/Sample7_MockClient.md

[2020-03-09 22:24] annelo-msft opened #10445 "Refactor ServiceClient and ServiceRestClient to remove duplication"
This is to clean-up the code to improve quality and maintainability.

[2020-03-09 22:25] annelo-msft opened #10446 "Refactor ExtractedField"
This is to clean-up the code to improve quality and maintainability.

[2020-03-09 22:36] pakrym opened #10447 "Make ArmOperationHelpers conditionally included"
Not all generated projects needs them

[2020-03-09 22:37] annelo-msft opened #10448 "Determine whether defaults for optional ExtractedTableCell properties are correct"
https://github.com/Azure/azure-sdk-for-net/pull/10319#discussion_r389945930

[2020-03-09 22:38] tg-msft commented on #10361
Mainly via documentation in Storage and Search.  Some validation occasionally.  We're not using nullable references yet.

[2020-03-09 22:40] mikeharder commented on #10438
Verified fixed in `Azure.Storage.Blobs@12.4.0-dev.20200306.1`.

[2020-03-09 22:40] #10438 closed

[2020-03-09 22:48] mikeharder opened #10449 "[Storage] Retries exceed MaxRetries if server sends partial response"
When using `Azure.Core@1.1.0` and `Azure.Storage.Blobs@12.4.0-dev.20200306.1`, `BlobClient.DownloadToAsync()` appears to retry indefinitely if the server sends a partial body, even though `MaxRetries = 1`.

## Repro Steps
1. Start a server which can inject HTTP faults, like https://github.com/mikeharder/HttpFaultInjector.

2. Create a BlobClient with the following options:

[code]

3. Run the clie

[2020-03-09 23:01] pakrym opened #10450 "Storage Management Track 2 prototype issues"
- [ ] Add readme.md

[2020-03-09 23:25] chidozieononiwu opened #10451 "Publish GA Packages to the Dev Feed"
Update CI so that GA Packages are also published to the Dev Feed

[2020-03-09 23:28] annelo-msft commented on #10361
Can you explain the choice not to use nullable refernces?  I just want to understand so I can explain it to others if it comes up.

[2020-03-09 23:43] tg-msft commented on #10361
No good reason, unfortunately.  It would have been a nontrivial amount of work and we had a tight schedule.  At this point, I'd consider the recommendation to be "wait until the new generator does most of it for you and then light the rest of your client up."

[2020-03-09 23:45] kasobol-msft opened #10452 "Remove redundant DirectoryClient and FileClient method signatures"
Some methods in DirectoryClient and FileClient replicate signatures from base class 1:1. The redundancy should be removed. Example: SetAccessControlList

[2020-03-09 23:50] annelo-msft commented on #10361
@pakrym is this on the timeline for codegen at all?

[2020-03-09 23:52] annelo-msft opened #10453 "Add client constructors for AAD auth"
- [x] FormRecognizerClient
- [x] FormTrainingClient

[2020-03-09 23:53] annelo-msft commented on #10453
@mayurid let me know if it's important to have this before sprint 2

[2020-03-09 23:54] pakrym commented on #10361
Pretty far down the line considering we didn't even do it for hand-written libraries.

[2020-03-09 23:55] annelo-msft opened #10454 "Convert ExtractReceipt async methods to LROs"
We have these methods on ReceiptClient as async methods for the user study, to look at how hard it is for users to use LROs vs. basic async methods.

Given data provided by the service team on endpoint response times, this should be an LRO -- shift it to this after the user study.

[2020-03-10 00:00] annelo-msft opened #10455 "[Pre-Release:] Remove warning suppressions from Azure.AI.FormRecognizer.csproj"

[2020-03-10 00:11] annelo-msft opened #10457 "[CodeGen] Incorporate CodeGen fix for Pageables"
https://github.com/Azure/autorest.csharp/issues/474

Specifically in CustomFormClient.GetModels()

[2020-03-10 00:13] annelo-msft opened #10458 "Rename GetModelSubscriptionProperties to GetSubscriptionProperties"

[2020-03-10 00:16] annelo-msft opened #10459 "Add CustomFormClient.StartExtractForm URI overload"

[2020-03-10 00:24] #10331 closed

[2020-03-10 00:26] annelo-msft opened #10461 "Add client methods to resume LROs from operation id"
For all the training and analyze methods

[2020-03-10 00:27] annelo-msft commented on #10461
Self-assigning to get done before UX study.

[2020-03-10 00:30] annelo-msft opened #10462 "Rename AverageLabelAccuracy to AveragePredictionAccuracy"
On CustomLabeledModel

[2020-03-10 00:31] annelo-msft commented on #10462
Self assigning to complete before UX study

[2020-03-10 00:41] annelo-msft opened #10463 "Merge ModelInfo and CustomModelTrainingStatus"
These are both versions of the ModelInfo_internal class.  Consolidate them.

[2020-03-10 00:41] annelo-msft commented on #10463
Self-assigning for UX test.

[2020-03-10 00:44] annelo-msft opened #10464 "[Pre-Release:] Update Azure.AI.FormRecognizer.csproj version to 1.0.0-preview.1"
https://github.com/Azure/azure-sdk-for-net/pull/10319#discussion_r390024777

[2020-03-10 00:47] annelo-msft opened #10465 "Address design concerns on CustomModel.TrainingStatus"
**For CustomModel.TrainingStatus:**

All of the other XyzStatus types are enums, but this one is an object. I mistakenly thought I could .ToString() this to see the actual model status.

It also leads to some unfortunate redundant property chains:

resp.Value.TrainingStatus.TrainingStatus

ctstone13 hours ago
Also, it's not clear how to differentiate "info" from "status". Isn't status information?

[2020-03-10 00:48] jongio commented on #10259
@schaabs - Can you please review this one?  Thanks, Jon

[2020-03-10 00:52] annelo-msft opened #10466 "Make CustomModels internal"

[2020-03-10 00:52] annelo-msft commented on #10466
Self-assigned to address before UX study

[2020-03-10 00:56] annelo-msft opened #10467 "Rename Pages to PageCount on TrainingDocumentInfo"

[2020-03-10 00:57] annelo-msft commented on #10467
Self-assign for UX test.

[2020-03-10 01:07] annelo-msft opened #10468 "Make fields nullable on ExtractReceipt"

[2020-03-10 01:08] annelo-msft commented on #10468
self-assigning for UX study

[2020-03-10 01:09] annelo-msft opened #10469 "Make ExtractedReceipt.TransactionTime a time field"

[2020-03-10 03:22] JoshLove-msft opened #10472 "Clients should not implement IAsyncDisposable"
We expect the clients to be long-lived and we want to avoid having VS encourage users to create them in Using blocks.
We should still leave in the DisposeAsync method in case we change our mind in the future. We can remove the CloseAsync methods.

[2020-03-10 03:33] JoshLove-msft opened #10473 "Batch message processing"
Add ability to process messages in batch in the Track 2 SB library client - ServiceBusProcessor.
See https://github.com/Azure/azure-sdk-for-net/pull/7110 for Track 1 WIP.

[2020-03-10 04:31] pakrym commented on #10472
This would make them not play nicely with things like dependency injection containers.

[2020-03-10 05:22] mishal153 commented on #10312
Hi @jaschrep-msft  , I am using the storage explorer to view the queued message. I also tried deserializing from queue but that did not work correctly either

[2020-03-10 05:55] assafi commented on #9243
@maririos we expect very few customers will use modelVersion. In addition, most likely this will be a client-wide setting and not something that will change for each call.
I think it's safe to move it to the requests options and/or client options type.

[2020-03-10 06:07] drwill-ms opened #10476 "[BUG] Azure.Storage throws InvalidOperationException creating a container with error "Response was not set, make sure SendAsync was called""
**Describe the bug**

I'm using the .NET Azure.Storage.Blobs SDK v12.3.0 to create a container and then do some other stuff. It works when I debug, but fails if I just let the test run.

**Expected behavior**

Does not fail or error is actionable. This sounds like an internal error, though.

**Actual behavior (include Exception or Stack Trace)**

Message:
    Test method Microsoft.Azure.Devices.E2

[2020-03-10 06:40] mymatrixpixel commented on #10021
@jongio Do you have any update on this?

[2020-03-10 06:47] srivathsanvlb commented on #10421
@jsquire

Thanks for your support

Long story short, we are exposing in-depth details of the specified event hub to an external party. They probably use it for displaying it to the end user as status of the event hub, kind of monitoring stuff.

For that we do the below in .NET Framework

` NamespaceManager namespaceManager = NamespaceManager.CreateFromConnectionString(eventHubPartitionRequest.Conn

[2020-03-10 07:35] TheGynome commented on #10237
@MaxThom
I have tried the part "After- Working" - Even with an while loop with 10 tries. Some files work with this solution, but some files not.

[2020-03-10 08:38] TheGynome commented on #10237
Additional here my minified process:

DataLakeServiceClient service = new DataLakeServiceClient(
                   new Uri("https://lakeurl/"),
                   credential);

            DataLakeFileSystemClient filesystemClient = service.GetFileSystemClient("rawdata");

            // Create directory
            DataLakeDirectoryClient directoryClient = filesystemClient.GetDirectoryClient("Di

[2020-03-10 10:38] balukantu commented on #8945
Hi @schaabs .
 I am usning the latest Idenityt (1.1.1) but facing the same issue. can you please provide whether the fix is available in the mentioned version.

[2020-03-10 11:43] ctstone commented on #10377
Unsupervised clusters each page of a file independently. The reason we decided to go with page-level clustering is that most of the documents we received from customers were either single-page files or multi-page files where each page was a new form instance. We only had a handful of cases where an invoice was spanning more than a page.

In the future we may allow user to specify the per-page or p

[2020-03-10 13:24] MaxThom commented on #10237
This is my entire code, I dont like the sdk so much as of right now. Lack of documentation and I have no idea how to check if a file exist or not in a proper way.

[code]

For append and flush :
 - Append : you set the cursor in the file from where to append. If you want to append at the end, set the offset at fileInfo.Value.ContentLength
 - Cursor : you flush the steam so it is written to the fil

[2020-03-10 14:09] TheGynome commented on #10237
I tried to flush the file multiple times, because the file can be flushed with the second or third try. I do not why?!

But some files could not be flushed. In my case about 500 of multiple million files could not by flushed after 10 tries.

The function i build has about 50 / 60 calls per second.

[2020-03-10 15:23] pakrym commented on #10476
Is there anything special about your enviroment? It seems that diagnostic source event source is on judging by the stack trace.

[2020-03-10 15:25] kasobol-msft commented on #10452
That would break telemetry. Closing it.

[2020-03-10 15:25] #10452 closed

[2020-03-10 15:58] drwill-ms commented on #10476
When running tests, we have an EventListener running with a filter on for the following types:

- DotNetty-Default*
- Microsoft-Azure-*

[2020-03-10 16:00] AlexandreArpin commented on #8819
@pakrym

Currently reviewing our dispose patterns and `using` in our applications since we _sometimes_ have DisposedExceptions.

We have a pretty big throughput of blobs in our applications, does your comment means the Client ensure the response's stream are correctly disposed?

Currently, we're doing the following

[code]

Is this not advised?

[2020-03-10 16:01] pakrym commented on #8819
@AlexandreArpin, you are doing the right thing here. `DownloadAsync` is one of the few client methods that return "live" network stream that has to be either read to the end or disposed.

[2020-03-10 16:07] pakrym commented on #10476
I think you end up enabling the https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceEventSource.cs#L148

And DiagnosticSourceEventSource is pulling on the Response property of HttpMessage that doesn't have a valid value at that moment and the getter throws.

[2020-03-10 16:13] jsquire commented on #10014
My understanding after looking at #10421 and speaking with @serkant is that the requested properties are only available within the [management REST API](https://docs.microsoft.com/en-us/rest/api/eventhub/get-partition-runtime-metadata) and not currently exposed on the data plane.   I'll ask Serkant to please correct me if I misunderstood that conversation.

For the client libraries, we'll continue

[2020-03-10 16:22] annelo-msft opened #10483 "[Documentation:] Complete FormRecognizer README"
Updated Description:
- [ ] Check that links are working
- [x] Add section header for Package Installation
- [x] Add Troubleshooting section
- [x] Add Next Steps Section
- [ ] Complete list of links at the top
- [x] Reduce to one training sample
--

Was:

Fill out remaining required sections.

Add concepts for:
- OCR Results/TextElements
- Confidence
- Bounding Box

Update receipt sample such that

[2020-03-10 16:22] annelo-msft opened #10484 "[Samples:] Create FormRecognizer Samples and Snippets"

[2020-03-10 16:23] annelo-msft commented on #10483
Priority: initial draft before UX study

[2020-03-10 16:24] jsquire commented on #10421
Hi @srivathsanvlb.  Thank you for the additional context.

I've spoken with @serkantkaraca, and it appears that the the information requested is only available via the [management REST API](https://docs.microsoft.com/en-us/rest/api/eventhub/get-partition-runtime-metadata).  Serkant, please correct me if I misunderstood that conversation.

I've commented on #10014 to ask that the team owning the ma

[2020-03-10 16:53] annelo-msft opened #10486 "[Documentation:] Add docstrings to FR Library"

[2020-03-10 16:54] annelo-msft commented on #10486
Prioritize for UX test.

[2020-03-10 16:57] JoshLove-msft commented on #10472
Thanks, that is a great point. @nemakam @KrzysztofCwalina I wonder if this concern is enough to cause us to rethink this approach. Also, curious if there is BCL guidance around whether IDisposable should be avoided for types that are singletons?

[2020-03-10 17:00] AlexandreArpin opened #10487 "[BUG] RetriableStreamImpl NotSupportedException() when attempting to Flush it"
**Describe the bug**
When calling `.Flush()` on a `Stream` returned by [RetriableStream.Create](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/RetriableStream.cs), a `NotSupportedException` is thrown.

Since the implementation is a ReadOnly Stream (`public override bool CanWrite => false;`) and no data is buffered, I believe it should implement an empty `Flus

[2020-03-10 17:10] robeving opened #10488 "[FEATURE REQ] Add ReImage to IVirtualMachine"
**Is your feature request related to a problem? Please describe.**
Implement ReImage in the IVirtualMachine interface in a similar way to Redeploy.
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/reimage

**Describe the solution you'd like**
I want to call ReImage without lots of REST code in my codebase. It shouldn't be missing from IVirtualMachine.

**Describe alternatives you'

[2020-03-10 17:10] #10488 closed

[2020-03-10 17:15] AlexandreArpin commented on #10487
I took a look and there's a couple of classes that are affected potentially by this issue.

- [ ] `Azure.Core.Pipeline.RetriableStream.RetriableStreamImpl` ([Source](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Shared/RetriableStream.cs))
- [ ] ` Azure.Core.Http.Multipart.MultipartReaderStream` ([Source](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/s

[2020-03-10 17:23] annelo-msft opened #10489 "Move enums only used in Custom namespace into Custom namespace"
The code generator should support this now.  Enums to move are:

- ModelStatus
- TrainStatus
- Consider FieldValueType

[2020-03-10 17:36] annelo-msft opened #10490 "Set Confidence to 1.0 when the service does not return it."
From the APIView:

ctstone1 day ago
Getting 0 confidence on table cells, but this should be null since it is not returned by Layout.

[2020-03-10 17:36] annelo-msft commented on #10490
Prioritize for UX study

[2020-03-10 17:44] #10468 closed

[2020-03-10 17:53] annelo-msft commented on #10467
Closed with: https://github.com/Azure/azure-sdk-for-net/pull/10482

[2020-03-10 17:53] #10467 closed

[2020-03-10 17:53] annelo-msft commented on #10466
Closed with https://github.com/Azure/azure-sdk-for-net/pull/10482

[2020-03-10 17:53] #10466 closed

[2020-03-10 17:53] annelo-msft commented on #10462
Closed with: https://github.com/Azure/azure-sdk-for-net/pull/10482

[2020-03-10 17:53] #10462 closed

[2020-03-10 17:54] annelo-msft commented on #10458
Closed with: https://github.com/Azure/azure-sdk-for-net/pull/10482

[2020-03-10 17:54] #10458 closed

[2020-03-10 17:54] annelo-msft commented on #10406
Closed with: https://github.com/Azure/azure-sdk-for-net/pull/10482

[2020-03-10 17:54] #10406 closed

[2020-03-10 17:56] kurtzeborn commented on #10451
@chidozieononiwu, can you also confirm that the other langauges are releasing GA packages to their respective dev feeds.  If not, please open issues so we are standard across langauges on this.

[2020-03-10 18:13] annelo-msft opened #10492 "Remove PageRange class."
Move StartPageNumber and EndPageNumber onto ExtractedForm and ExtractedReceipt directly.

[2020-03-10 18:13] annelo-msft commented on #10492
Prioritize for UX study.

[2020-03-10 18:19] drwill-ms commented on #10476
When I disable our EventListener, the bug does not reproduce, so that is good as a temporary work around.

I'm not clear if this is a bug in storage or in System.Diagnostics. What do you think is the long-term solution?

[2020-03-10 18:25] maririos opened #10493 "Consider including/moving ModelVersion to clientOptions"
Currently it lives in the Request Options. Most likely this will be a client-wide setting and not something that will change for each call.

[2020-03-10 18:26] maririos commented on #9243
We currently have it in the request options, which is only available for the batch methods for .NET and Java.

Interesting! I wonder what/if it was decided to leave it in the request options instead of client options. I created issue https://github.com/Azure/azure-sdk-for-net/issues/10493 to follow up on that

[2020-03-10 18:30] pakrym commented on #10476
What event listener does is pulling on random properties of objects it finds in diagnostic source parameters, I don't think it's generally safe.

I'm not sure if DiagnosticSourceEventSource has a way to opt out some DiagnosticSources or object properties but that may be a more long-term solution.

[2020-03-10 18:31] annelo-msft commented on #9243
Is it possible different model versions would be specified for different models? (i.e. one version for language detection, one for entity extraction, etc.)  IIRC, this is why we allowed it to be specified per call, and not on client options.  I agree it probably only needs to be set once per client instantiation (I defer to @assafi on the business requirement from customers).  If it was on client

[2020-03-10 18:33] maririos commented on #9901
Package released https://www.nuget.org/packages/Azure.AI.TextAnalytics

[2020-03-10 18:33] #9901 closed

[2020-03-10 18:37] jsquire commented on #10324
I just made the change locally and will let it ride along with my next PR, expected in the next day or so.    Once that gets merged in, I'll ping this issue to let folks know it can be tested.

[2020-03-10 18:38] maririos commented on #9243
Thanks for the context Anne!

[2020-03-10 18:44] jaschrep-msft commented on #10312
I am seeing this behavior from storage explorer, but I don't quite understand what you mean by "deserializing from queue." Does this mean you are using the 12.2.0 to download the message as well? Because I do not see that behavior.

[2020-03-10 18:53] heaths opened #10496 "Possible concurrent test issue with nightly live tests"
Nightlies failed with the error:

[code]

The stack was:

[code]

Since these are samples running, they may be running concurrently with other live tests since they don't share a common fixture.

[2020-03-10 19:13] serkantkaraca commented on #10421
@srivathsanvlb  you should implement an HTTP wrapper to provide such functionality. We currently don't have any plans to expose those metrics on our data-plane endpoints.

[2020-03-10 19:22] JoshLove-msft opened #10498 "[BUG] ServiceBus - Prevent message batch from being modified once send begins"
Currently, in both the EH and SB implementations for message batching, we don't prevent the user from modifying the batch once the send is already in progress. We should prevent the batch from being modified once the send is initiated.

[2020-03-10 19:23] JoshLove-msft opened #10499 "[BUG] Event Hubs - Prevent Event batch from being modified once send begins"
Currently, in both the EH and SB implementations for message batching, we don't prevent the user from modifying the batch once the send is already in progress. We should prevent the batch from being modified once the send is initiated.

[2020-03-10 19:49] #10228 closed

[2020-03-10 21:27] schaabs commented on #8945
@balukantu the fix for this issue is in 1.1.1. Can you provide me with the exception details for the issue you're hitting?

[2020-03-10 21:29] jongio commented on #10021
Just coded with @mymatrixpixel for the last 4.5 hours and got what he needed with this: https://gist.github.com/jongio/d3682511f715ada6681363a0fe7ad8ee

(Minus the upsert functionality, which he will refer to this: https://www.taygan.co/blog/2018/04/20/upsert-to-azure-sql-db-with-azure-data-factory)

[2020-03-10 21:34] annelo-msft commented on #10490
@ctstone, it looks like table cell confidence is a required field in the swagger file, so it wouldn't make sense that it would be nullable.  Can you help me understand this better?

[2020-03-10 21:46] jaschrep-msft commented on #10312
Azure Storage Explorer currently has an [issue](https://github.com/microsoft/AzureStorageExplorer/issues/1338) that appears to be the same root cause, and it has to do with base64 encoding.

Many users opt to base64 encode their messages, as this guarantees they will not interfere in the [XML structure of the REST layer](https://docs.microsoft.com/en-us/rest/api/storageservices/put-message#request

[2020-03-10 22:08] maririos opened #10506 "Library usage"
Make sure that we set the right information for our telemetry pipeline.

- [x] Make sure that we send the correct User-Agent string to ensure that the service can distinguish this SDK traffic.

[2020-03-10 22:10] KrzysztofCwalina commented on #10472
@pakrym, can you elaborate? Which containers support this interface? When do they call it? What happens if they don't dispose?

Also, does static analysis in VS flags all IAsyncDisposalbes that are not wrapped transitively, just like it does for IDisposable?

[2020-03-10 22:14] pakrym commented on #10472
ASP.NET Core DI supports both IDisposable and IAsyncDisposable, it disposes instances created by the container when container itself is being disposed or the child scope is disposed for scoped services.

I've never seen a rule like this even for IDisposable if you are not using StyleCop/FxCop.

[2020-03-10 22:17] jongio commented on #10228
Thank you @schaabs

[2020-03-10 22:18] schaabs commented on #8934
@flytzen Today we released a [Azure.Identity 1.2.0-preview.1](https://www.nuget.org/packages/Azure.Identity/1.2.0-preview.1) which contains updates to the `DefaultAzureCredential` to use the Azure CLI logged in account when available. Please try out this new functionality and let us know if you have any questions or feedback.

Keep in mind that this feature is in preview, so some of the details li

[2020-03-10 22:40] serkantkaraca opened #10509 "Microsoft.Azure.Management.EventHub to support Data Lake capture description"
Library: Microsoft.Azure.Management.EventHub

Current Event Hubs management library supports Azure Storage only as capture destination. Please consider to support for Azure Data Lake as well.

See ARM template here - https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-resource-manager-namespace-event-hub-enable-capture#resources-to-deploy-for-azure-data-lake-store-as-destination

[2020-03-10 22:56] assafi commented on #9243
Good suggestion. Safe answer is "we don't know". I think it's always possible for customers to instantiate a new client for these advance scenarios.
If I had to choose, I would opt for simplicity (e.g having it as a single setting in client/request options) and wait to hear users feedback before making the change.

[2020-03-10 23:20] KrzysztofCwalina commented on #10472
@pakrym, in this case I think we should implement the interface on clients. @JoshLove-msft, do you remember who raised this concern originally?

[2020-03-10 23:22] pakrym commented on #10472
I don't care as much about http-based clients because they mostly reuse the same underlying HttpClient, but in case of SB every client creates a bunch of it's own resources.

[2020-03-10 23:23] JoshLove-msft commented on #10472
Yes, I believe it was @nemakam that raised the concern.

[2020-03-10 23:56] nemakam commented on #10472
This could be stylecCopy/FxCop + Resharper issue. But it might still have some impact.
But if this causes issues with DI containers, then I'd agree the lesser of the two evils would be to add the interface back.

Do we know if there's any other way to work with DI containers to mitigate this problem?

[2020-03-11 00:04] vamathan commented on #10509
Hi Azure EventHub Management Team,

Please let know the ETA on this, if possible.

Found Related Issues in Github, raised by others :
1.	https://github.com/Azure/azure-rest-api-specs/issues/2255 on azure rest api eventhub
2.	https://github.com/Azure/azure-sdk-for-python/issues/7231 on azure sdk for python

[2020-03-11 00:11] mikeharder commented on #10449
Might also repro if service sends headers but no body (compared to 50% of body).

[2020-03-11 01:47] mishal153 commented on #10312
@jaschrep-msft Thanks ! that helps. Yes 'text' seems to be getting caught in the mix. I tried using a more real string and it does show up fine in the storage explorer. Sorry for ambiguity around "deserializing from queue" . I am trying to invoke a [queue triggered function](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp#encoding) via th

[2020-03-11 03:04] wahyuen opened #10518 "[BUG] ResourceManager.ResourcesOperationsExtensions breaking changes in 3.4.0"
**Describe the bug**
Please provide the description of issue you're seeing.
The latest 3.4.0 public package of `Microsoft.Azure.Management.ResourceManager` appears to contains breaking public API changes from 3.3.0.

Referencing from `Microsoft.Azure.AppConfiguration` now throws a Method Not Found exception as the API now expects to return a `GenericResourceExpanded` as opposed to `GenericResource

[2020-03-11 05:02] balukantu commented on #8945
Here is the exception it is throwing

**Azure.Identity.CredentialUnavailableException: 'No managed identity endpoint found.'**

**Code**
`string azureAppConfigEndPoint = "https://balukantuconfig.azconfig.io";
builder.AddAzureAppConfiguration(opt => opt.Connect(new Uri(azureAppConfigEndPoint), new ManagedIdentityCredential()));`

**FYI...**

- The issue is coming when I try to debug in my local env

[2020-03-11 05:33] amishra-dev commented on #10312
Thanks for confirming @mishal153.
Thanks for seeing this to closure @jaschrep-msft

[2020-03-11 05:33] #10312 closed

[2020-03-11 06:17] srivathsanvlb commented on #10421
@serkantkaraca  @jsquire

I will use the REST API as of now. Thanks for the quick turn around. You may have this thread open or close it. I will leave it to your discretion.

[2020-03-11 06:17] srivathsanvlb commented on #10014
@serkantkaraca  @jsquire

I will use the REST API as of now. Thanks for the quick turn around. You may have this thread open or close it. I will leave it to your discretion.

[2020-03-11 09:01] woutervs opened #10529 "Issuer validation failed. Issuer did not match."
**Describe the bug**
When trying retrieve blob data from the azure storage I get an error

**Expected behavior**
Being authenticated and retrieving data

**Actual behavior (include Exception or Stack Trace)**
Status: 403 (Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.)
ErrorCode: AuthenticationFailed

In fiddler I

[2020-03-11 09:13] nickzhums commented on #10509
@vamathan Looks like the properties are not present in the swagger, please use this issue to track the swagger change:
https://github.com/Azure/azure-rest-api-specs/issues/2255

[2020-03-11 11:54] rmja opened #10532 "[FEATURE REQ] Single-staged uplads for non-seekable content streams"
**Library or service name.**
Azure.Storage.Blobs

**Is your feature request related to a problem? Please describe.**
The current overloads of `UploadAsync` on `BlobClient` does not allow to specify a specific length of the content stream resulting in multi-staged uploads for non-seekable streams:

https://github.com/Azure/azure-sdk-for-net/blob/1326260cf35a15f6152f5977f18e8aa3bf8c0ce1/sdk/storage/

[2020-03-11 12:20] ctstone commented on #10490
Yep, you're right. Confidence is a required field. I'll try to find out why this isn't being returned from Layout.

[2020-03-11 12:54] sebader opened #10535 "[BUG] Cannot send to ServiceBus Queue in state ReceiveDisabled"
**Describe the bug**
From this [SO ](https://stackoverflow.com/questions/60634913/microsoft-azure-servicebus-messagingentitydisabledexception-receivedisabled)question.

When you set a ServiceBus queue to `ReceiveDisabled` you cannot send messages to it using the .NET SDK. You get the error

If you put it to `SendDisabled` you get the correct error:

**Expected behavior**
In state `ReceiveDisabled`

[2020-03-11 13:06] jsquire commented on #10421
I'll go ahead and close this one out and we'll continue to use #10014 to advocate for having this added to the management library.

[2020-03-11 13:06] #10421 closed

[2020-03-11 13:23] jsquire commented on #10518
@erich-wang: Would you be so kind as to help route this?

[2020-03-11 14:15] annelo-msft commented on #9699
Is it ok to not have a FormRecognizerClient in the root namespace.  We’ll UX test this and look at feedback on preview 1, but both Python and .NET will keep the client structure they currently have for preview 1.

[2020-03-11 14:18] annelo-msft opened #10537 "[Samples] Provide samples for using table cells in a common UI framework"
## Summary

Given the design of a table indexer (for https://github.com/azure/azure-sdk-for-net/issues/9975), we'll want to provide a sample showing how it should be used, which illustrates any semantics that are not intuitive.

[2020-03-11 14:22] annelo-msft commented on #10448
@ctstone , @kristapratico , @jeremymeng , @samvaity , @mayurid
Per discussion with service team, defaulting these values in the client is correct.

[2020-03-11 14:22] #10448 closed

[2020-03-11 14:24] tg-msft commented on #10237
Have you seen anything like this @seanmcc-msft?

[2020-03-11 14:25] annelo-msft opened #10538 "Add methods to element reference classes"
Description TBD

[2020-03-11 14:26] annelo-msft commented on #10538
@kristapratico, can you help share the description for this one?

/cc: @mayurid @ctstone

[2020-03-11 14:28] annelo-msft commented on #10393
Resolution is that we will remove includeKeys and always default this to true.

@kristapratico, @ctstone , @jeremymeng , @samvaity , @mayurid

[2020-03-11 14:38] rmja opened #10539 "[BUG] Connection strings with explicit hostname endpoint does not resolve correctly"
**Describe the bug**
The connection string from [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator#connect-to-the-emulator-account-using-the-well-known-account-name-and-key) does not parse correctly if the endpoints are replaced with custom hostnames.

An example is the connection string

[code]
This previously worked in M.A.S.B v. 11. This is used to let docker cont

[2020-03-11 14:39] annelo-msft opened #10540 "Rename Outline to BoundingBox"
Specifically in ExtractedField

[2020-03-11 14:40] annelo-msft commented on #10540
Prioritize for UX study

[2020-03-11 14:41] annelo-msft opened #10541 "Return a collection of forms from ExtractForm and variants"
Consider whether this should be pageable

[2020-03-11 14:43] annelo-msft commented on #10541
@ctstone , @kristapratico , @samvaity, @jeremymeng , @mayurid, @bojunehsu

[2020-03-11 14:44] annelo-msft commented on #10378
@ctstone @bojunehsu

[2020-03-11 14:46] annelo-msft commented on #10389
@ctstone, @bojunehsu will provide sample forms and JSON

/cc: @mayurid @kristapratico @jeremymeng @samvaity

[2020-03-11 14:46] annelo-msft commented on #10387
@ctstone, @bojunehsu will provide sample forms and JSON

/cc: @mayurid @kristapratico @jeremymeng @samvaity

[2020-03-11 14:51] annelo-msft commented on #8624
Short answer: 204 is a success code.

Longer answer: There are considerations around concurrency here.  It's possible one client will delete the key and get a 200, and then another will try to delete it, but since it's already deleted, get a 204. This is a success condition, since the intention was that the key would be deleted and it already is.  The same could happen with a single client due to

[2020-03-11 14:55] AlexanderSher commented on #8624
Ok, so then I just need to change the tests so that they validate the code. No product change needed.

[2020-03-11 15:45] seanmcc-msft commented on #10237
Hi everyone,

A couple of clarifications.
- If you call Create() on a file that already exists, the file will be overwritten, and any existing data will be deleted.
- To see if a file already exists, create a new FileClient for its URL, and call GetProperties().  The call will fail with a 404 if the file doesn't exist.  In the next release, we are adding an Exists() method to FileSystemClient, Dir

[2020-03-11 16:21] pakrym commented on #10472
We've never got a request to support duck typing Disposable-like types when working on Microsoft.Extensions.DependencyInjection but I think it would take very long time to get covered in popular DI containers.

[2020-03-11 16:23] annelo-msft opened #10542 "[Add methods:] Add GetCustomModel and GetCustomLabeledModel methods to CustomFormClient"
These will call the endpoint: https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/GetCustomModel

[2020-03-11 17:16] mymatrixpixel opened #10543 "[BUG]DefaultAzureCredentials is not working"
Hi Team,

I ave environment variables updated in my Azure VM and have it in .env file along with project.

if i try to access Azure key vault by using below code and keep getting invalid request.

var secretclient = new SecretClient(
new Uri("keyvaulturl"),
new DefaultAzureCredentials()
};

var clientid = await secretclient.GetSecretAsync("someid); //here am keep getting unauthorized- 401 error.

[2020-03-11 17:24] mymatrixpixel commented on #10543
@jongio Can you help?

[2020-03-11 17:32] jongio commented on #10543
Did you give the SP perms to keyvault?

https://docs.microsoft.com/en-us/azure/key-vault/key-vault-manage-with-cli2#authorizing-an-application-to-use-a-key-or-secret

[2020-03-11 17:35] mymatrixpixel commented on #10543
Yes, I have access.  One more point- i have logged in with different mail id in VS2019. But i whever if i access #ADF i use different mail id and password. So here is my uestion DefaultAzureCredentials will take it from environment system variables or .env file?

[2020-03-11 17:46] #10487 closed

[2020-03-11 18:03] #9951 closed

[2020-03-11 18:07] heaths commented on #9832
Keys and Secrets 4.0.2, Certificates 4.0.1, and preview releases for all version 4.1.0-preview.1 have shipped.

[2020-03-11 18:07] #9832 closed

[2020-03-11 18:10] seanmcc-msft commented on #7878
Resolved with https://github.com/Azure/azure-sdk-for-net/pull/10074

[2020-03-11 18:10] #7878 closed

[2020-03-11 18:23] jongio commented on #10543
In order to use .env values you have to load the file with DotNetEnv or similar package.

DAC will use env vars, then managed identity, then VS.

If you have multiple accounts then you can set the AZURE_USERNAME env var to the desired account.

[2020-03-11 18:26] mymatrixpixel commented on #10543
I already set the username and password in my VM system variables, but still am facing issue.

[2020-03-11 18:31] #10370 closed

[2020-03-11 19:11] mymatrixpixel commented on #10543
service request failed.
status :401 (unauthorized)
message : AKV10032 : invalid issuer.

[2020-03-11 19:56] annelo-msft opened #10547 "[Validations:] Handle case where PageRange is empty"
https://github.com/Azure/azure-sdk-for-net/pull/10504

[2020-03-11 20:03] seanmcc-msft commented on #9667
Please re-open if this continues to be an issue.

[2020-03-11 20:03] #9667 closed

[2020-03-11 20:27] #10393 closed

[2020-03-11 20:27] #10459 closed

[2020-03-11 20:27] #10463 closed

[2020-03-11 20:27] #10492 closed

[2020-03-11 20:27] #10540 closed

[2020-03-11 20:39] kristapratico commented on #10538
Checked the meeting recording, discussion on this one starts at the 1:03:00 mark. My understanding here is that we want to ensure that our users understand the page that an extracted line or word is found on. Page number is not explicitly returned by the service, but can be inferred from the elements reference pointer index for the readResult.

Action item for preview 1 should be to add a `page_nu

[2020-03-11 22:05] mayurid commented on #10176
We are working on a new Tables offering which will align to the same guidelines and principles that the mentioned Blobs library. The work is in progress and we can provide a more concrete timeline in a few weeks.

[2020-03-11 22:13] jongio commented on #10021
Closing as we have unblocked this specific request and the original submitter will file a new GH issue for new problems he encounters.

[2020-03-11 22:13] #10021 closed

[2020-03-12 00:30] TaffarelJr opened #10550 "[Question] EventProcessorClient is very slow to initialize each partition"
**Describe the bug**
When starting an `EventProcessorClient`, it takes approximately 10 seconds to connect to each partition in the EventHub. In our case, we have 30 partitions, which means it takes ~300 seconds for the client to start up.

**Expected behavior**
In the v4 version of the client, it connected to all 30 partitions in under a second. The v5 version seems to be a huge step down in term

[2020-03-12 01:28] #9879 closed

[2020-03-12 01:34] #10158 closed

[2020-03-12 01:41] bryanhunwardsen commented on #10107
We are experiencing this as a security issue, how far down in the queue is this?

[2020-03-12 02:36] AlexGhiondea commented on #10107
@bryanhunwardsen apologies for the delay. @pakrym can you please take a look at this first thing in the morning?

[2020-03-12 03:29] annelo-msft opened #10561 "Split ExtractForm into supervised and unsupervised variants"
Largely to consider the design this way for user tests.

[2020-03-12 03:30] annelo-msft commented on #10561
Prioritize for UX tests.

[2020-03-12 03:39] bojunehsu commented on #10538
Below is code from one of the earlier SDK drafts for helping developers work with element references.

[code]

[2020-03-12 06:25] bojunehsu commented on #10541
Not quite sure how we can make this pageable if the API returns the full set of results at the same time.

[2020-03-12 06:56] bojunehsu commented on #10378
Chris's suspicion is correct.  We do not currently return a confidence value for the "items" FieldValue because it is not well defined for arrays.  Since this corresponding confidence value is not directly exposed right now, we may be able to make this required in the SDK.

Note, we are currently releasing business card (v2.1-preview.1), which introduces a "fullName" FieldValue of type ObjectValue

[2020-03-12 07:18] ArunPrabhuM commented on #10014
@jsquire , Is there a similar API available for managing the Relays using Shared access signature. I don't find it in the documentation.

[2020-03-12 07:53] TheGynome commented on #10237
Hi,

@seanmcc-msft

to your point:

-  Every file name is an unique filename given by the actual datetime including the milliseconds and the given servicebusmessage id

- See point 1

- I only append the whole file content starting at position 0

- The files i upload are about 10 KB and max 30 KB

So all this given answers do not resolve my problem

[2020-03-12 10:10] stofte commented on #9758
issue #109 has existed for 8 years (!) and seems to be the exact same thing.

As mentioned by @hallgeirl all sorts of methods that should not throw are throwing exceptions.

[2020-03-12 10:20] #9873 closed

[2020-03-12 12:43] MaxThom commented on #10237
hummm, I feel that one file for every message is a too small granularity.
Have you tried to create one file per minute and append all new messages in the same minute to that file ? I think i've read they recommended at least 100mb per file.

In my scenario, we have millions of datapoint from sensors coming in every hour, I was thinking of making one hour file per sensorId, and appending new data i

[2020-03-12 13:15] jsquire commented on #10014
On that, I'll have to defer to @serkantkaraca, as beyond the [documentation](https://docs.microsoft.com/en-us/rest/api/relay/), I don't have any insight to offer.

[2020-03-12 13:19] jsquire commented on #10014
#10421 has been closed after confirming that the requested information is available only within the management plane.  The properties under discussion are currently not exposed within the management library and require calling the REST API directly to retrieve.   I believe that we should consider added them to the management library.

[2020-03-12 13:58] jsquire commented on #10550
Hi @TaffarelJr, thank you for reaching out with feedback.   The current load balancing implementation for the processor is tuned for helping multiple processors share the load without a high degree of contention for each partition, which results in partitions "bouncing" between processors as they are added/removed, causing processing for those partitions to slow down.

We recognize that there are

[2020-03-12 14:03] chrisalexander commented on #10011
We have our other fix in this area checked in, is it possible to get an update on where this one is please?

[2020-03-12 14:58] alex-zyl commented on #8658
Also getting the error while having multiple accounts in VS:
[code]

[2020-03-12 15:54] nrandell commented on #9503
I think I've seen the same thing. Using a connection string to create a blob service client, everything works ok. However using a ClientSecretCredential and giving the client ownership over the storage account I get a 404 trying to read or write the access policy.

[2020-03-12 16:30] #9742 closed

[2020-03-12 16:30] tg-msft commented on #9743
Fixed by #10568

[2020-03-12 16:30] #9743 closed

[2020-03-12 16:30] tg-msft commented on #9744
Fixed by #10568

[2020-03-12 16:30] #9744 closed

[2020-03-12 16:30] tg-msft commented on #9746
Fixed by #10568

[2020-03-12 16:30] #9746 closed

[2020-03-12 16:30] tg-msft commented on #9747
Fixed by #10568

[2020-03-12 16:30] #9747 closed

[2020-03-12 16:30] tg-msft commented on #9748
Fixed by #10568

[2020-03-12 16:30] #9748 closed

[2020-03-12 16:32] tg-msft commented on #9749
Fixed by #10568

[2020-03-12 16:32] #9749 closed

[2020-03-12 16:32] tg-msft commented on #9750
Fixed by #10568

[2020-03-12 16:32] #9750 closed

[2020-03-12 17:41] danieljurek opened #10571 "Windows agents failing at Install Azure PowerShell module"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=290303&view=logs&j=dee5cf60-23b1-58ae-1dd6-c9b1743bddf3&t=ca238ceb-9177-54af-b83c-e0a6f7c6b0bd

[2020-03-12 20:28] fsharpn00b opened #10574 "[BUG][BingLocalSearch] Search method URL is malformed"
**Describe the bug**
https://github.com/Azure/azure-sdk-for-net/blob/6944bd8761b5d89e28d3e57f8261ae49971b7459/sdk/cognitiveservices/Search.BingLocalSearch/src/Generated/LocalSearch/Local.cs#L302
This appends "localbusinesses/v7.0/search" to the base URL. Per the [docs](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-local-business-search/local-search-reference), it should instead ap

[2020-03-12 20:52] SeanFeldman commented on #10535
Isn't this a broker issue, i.e. https://github.com/Azure/azure-service-bus/

[2020-03-12 20:58] sebader commented on #10535
I haven’t tried any other SDK, but since plain http is working correctly, it might be, yes.
Is there an easy way to move an issue to a different repo?

[2020-03-12 21:24] joebeernink opened #10576 "EventProcessorClient failing to Start when Fully Qualified Namespace is malformed; Error Handler not invoked."
Have the following method for Starting the EventClientProcessor. The Client never gets to running state, no matter how long we wait. Must be missing something simple, but there are no errors thrown. Any ideas?

[code]

[2020-03-12 21:41] jsquire commented on #10324
This change is included in #10575.   I'll drop an update when that merges.   Apologies for the delay.

[2020-03-12 21:51] nemakam commented on #10535
Yeah we will have to evaluate if its a client side issue or backend. Thanks for reporting this. We will investigate and get back to you..

[2020-03-12 21:53] AlexGhiondea commented on #10576
@joebeernink could you provide us with more information? Below is bug issue template:

**Describe the bug**
Please provide the description of issue you're seeing.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any addi

[2020-03-12 22:16] jsquire commented on #10576
Hi @joebeernink.  We're sorry that you're running into trouble and appreciate you reaching out to let us know.   I don't see anything obvious in your code at a glance.  That said, I'd like confirm that when you say that you don't see it "get into a running state" you mean that you don't see the `IsRunning` property set and are spending time in this loop:

[code]

If there's a problem during start,

[2020-03-12 22:42] serkantkaraca commented on #10014
You mean REST API? If so, you can find them here - https://docs.microsoft.com/en-us/rest/api/relay/

[2020-03-12 23:24] mark-szabo opened #10580 "[BUG] Tags can't be set on ImportCertificateOptions"
**Describe the bug**
The Tags property is read-only on ImportCertificateOptions, although it should not be.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Certificates/src/ImportCertificateOptions.cs

**Expected behavior**
Tags can be set.

**Actual behavior (include Exception or Stack Trace)**
Tags can't be set.
`Property or indexer 'ImportCertificate

[2020-03-12 23:36] 3437CasaVerde commented on #9279
@danielcirket Hi Dan, we rolled out a deployment to fix this issue recently. Could you verify if it's fixed on your end? Default count should be 100.

[2020-03-13 01:25] wantedfast commented on #9982
Since PR [#10656](https://github.com/Azure/azure-sdk-for-net/pull/10565) merged, would close this one.

[2020-03-13 01:28] #9982 closed

[2020-03-13 01:29] jongio commented on #10543
Please try setting the tenant id in AZURE_TENANT_ID that the keyvault is in versus the tenant Id that the SP is in.

[2020-03-13 05:06] xccc-msft commented on #10011
@axayjo Can you please share any update from your end?

[2020-03-13 07:24] axayjo commented on #10011
@xccc-msft, The service itself doesn't require users to pass any of the source IDs (StorageProfile.OsDiskImage.Source.id, StorageProfile.DataDiskImages[i].Source.id, StorageProfile.source.id) in their Update Image Version calls. This must be an SDK issue. Adding @hyonholee here to take a look.

[2020-03-13 09:14] daviesro commented on #9758
Agreed. Our Azure logs have 3,000 + entires of 409's because of this.

[2020-03-13 09:31] danielcirket commented on #9279
Appears to be fixed @3437CasaVerde, thanks

[2020-03-13 09:45] adam-resdiary commented on #9615
@AlexGhiondea just wondering is there any update on this?

[2020-03-13 10:12] wantedfast commented on #10580
Hi @mark-szabo ,
,
Yes, Tags is a read only properly. But it can be changed in this way:
[code]

Please feel free to reach us if if you need more than this.
@jongio

[2020-03-13 12:17] StevenDevooght commented on #10007
We managed to get a stacktrace of the hanging process.

`System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()    Microsoft.Azure.Amqp.AsyncResult.End[[System.__Canon, mscorlib]](System.IAsyncResult)    Microsoft.Azure.Amqp.AmqpObject+OpenAsyncResult.End(System.IAsyncResult)    Microsoft.Azure.Amqp.AmqpObject.EndOpen(System.IAsyncResult)    System.Threading.Tasks.TaskFactory`1[[System.Thr

[2020-03-13 14:10] srivathsanvlb commented on #10014
@serkantkaraca

These REST APIs must be authenticated using a bearer token ie oauth authentication. I think @ArunPrabhuM  is looking for something similar to https://docs.microsoft.com/en-us/rest/api/eventhub/get-partition-runtime-metadata where the REST API can be authenticated using a Shared Access Signature instead of Bearer OAuth tokens.

[2020-03-13 15:35] AlexGhiondea commented on #10107
@bryanhunwardsen I wanted to drop a quick note letting you know that we are still looking into this issue. Appreciate the patience!

[2020-03-13 15:58] joebeernink commented on #10576
Thanks @jsquire for the quick response. A couple of notes:

Yes, the IsRunning state never goes to tru, but also, the event handlers never fire, even though I'm pushing messages onto the event Hub.

I wasn't aware that auth issues wouldn't bubble up here. I had assumed that creation of the client would throw if there were problems authenticating. Here's the code I am using to get the token. I am u

[2020-03-13 17:08] brettcoburn commented on #10416
Also need this, for the exact same reason. The AzureWebJobsStorage environment variable provides a connection string, but no account name or key.

As a workaround, it is possible to create an instance of CloudStorageAccount (from v11) to extract the connection string. The "Credentials" property contains a StorageCredentials object which has both an AccountName and an ExportKey() method.

[2020-03-13 17:59] chradek opened #10588 "Design for receiver redirect support"
## Background
The Event Hubs service supports redirects for amqp receiver links. When the client creates an amqp receiver link with redirects enabled, the service will respond with an `amqp:link:redirect` error if it also supports redirects. The error contains the information needed to create a new connection to the service.

The main benefit of receiver redirect is it allows a more direct connect

[2020-03-13 18:14] amnguye commented on #10529
Hi,

Your AAD identity might not have the rights to read the blobs. So you may be able to authenticate to sqlconnections but if your ad account might not have access to storage account or read rights. Please recheck if you've given the rights to the storage account to the aad user.

[2020-03-13 18:22] #9279 closed

[2020-03-13 18:24] jsquire commented on #10588
Ad-hoc task breakdown with back-of-the-envelope estimation:

- Write up a (very) short proposal for the changes to the public API to facilitate :  **1**
- Drive consensus across the feature team and with the .NET architect, including time for revisions : **1.5**
- Prototype against the service to capture redirect flow in a simple context: **1**
- Implementation and tests: **3**

[2020-03-13 18:59] annelo-msft commented on #10541
@bojunehsu Would you ever support processing so many forms/pages in a single input document at once that you would want to send back the results in difference pages?

[2020-03-13 19:00] tg-msft opened #10589 "Azure.Search: Investigate a more efficient way of injecting properties into user models with System.Text.Json"
We need to add things like `@search.action` to a user's serialized model type.  The current workaround with System.Text.Json involves serializing to bytes, deserializing those, and then writing the property values into our stream.

[2020-03-13 19:02] tg-msft opened #10590 "Azure.Search: Add durable continuation tokens"
Need to come up with a design for durable continuation tokens that work with both Search's preferred approach to paging and what we normally do in Track 2.  I believe Track 1 just used the URI for this which isn't a sure defualt for Track 2 given that we're POSTing everything.  It's also important to consider potential versioning implications of this token.

[2020-03-13 19:04] tg-msft opened #10591 "Azure.Search: Investigate more robust conversions for dynamic objects"
We're currently using a `try { Convert.ChangeType }` and we might want something more robust/extensible.

[2020-03-13 19:07] tg-msft opened #10592 "Unify on Azure.Core spatial types"
We need a set of common spatial types in Azure.Core.  Cosmos has started adding its own for Track 2.  Search and Tables Track 1 used https://www.nuget.org/packages/Microsoft.Spatial/.

I'd advocate for lifting what Cosmos has into the next release of Azure.Core if everyone agrees.

[2020-03-13 19:08] tg-msft commented on #10592
FYI:
- @mayurid and @KrzysztofCwalina for Cosmos
- @pakrym for Tables
- @heaths and @brjohnstmsft for Search on .NET
- @sima-zhu for Search on Java

[2020-03-13 19:10] tg-msft opened #10593 "Azure.Search: Ensure input and output document order is in sync while batching"
We need to add (performant) checks that the document order is maintained so customers can just index into the results safely.

[2020-03-13 19:12] tg-msft opened #10594 "Azure.Search: Align on our batching story"
There are a number of open questions around batching.
- ~~Should `ThrowOnAnyError` be true?~~
- ~~Should we add our own exception and invert that workflow?~~
- Do we want to aggregate failure exceptions?

[2020-03-13 19:15] tg-msft opened #10596 "Azure.Search: Clean up JSON parsing"
Ahson left a lot of super valuable feedback on https://github.com/Azure/azure-sdk-for-net/pull/10568 about the best patterns for using System.Text.Json including:
- Avoid allocating so many extra strings for property name checks
- Don't assert on token types when calling Get* methods
- Whether or not we can use converters for SearchDocument
- Encoding our constant values
- Using a JsonConverter fo

[2020-03-13 19:16] tg-msft opened #10598 "Azure.Search: Determine the correct approach for nested SearchErrors"
The swagger includes nested errors as details and we should determine how we want to expose them.

[2020-03-13 19:18] tg-msft opened #10600 "Azure.Search: Verify escaping when splitting OData $select, etc."
We turn comma separated strings of OData values into collections and need to verify that we don't accidentally split a value that should be escaped.

[2020-03-13 19:19] tg-msft opened #10601 "Azure.Search: Verify switching from "NaN" to NaN in dynamic scenarios"
It looks like we're more aggressive than Track 1 here and we should double check that won't cause problems.

[2020-03-13 19:21] tg-msft opened #10602 "Azure.Search: Fix IndexDocuments merge with static documents test from Track 1"
This is the only disabled test from the Track 1 suite relative to Preview 1 features.

[2020-03-13 19:22] tg-msft opened #10603 "Azure.Search: Fix UseSyncMethodInterceptor setting sync exceptions"
I left that broken at the moment because you can always debug the Async test when it pops up.

[2020-03-13 19:23] tg-msft opened #10604 "Azure.Search: Fix ClientRequestId tests when supported by the generator"
The generator currently sets the header and it gets stomped by the policy.  We're going to have a broader discussion about ClientRequestId support.

[2020-03-13 19:25] tg-msft opened #10605 "Azure.Search: Move SearchDocument into Azure.Core"
Once we've made it sufficiently general, we should try to share this type.

[2020-03-13 19:27] tg-msft opened #10606 "Azure.Search: Expose JsonSerializerOptions"
We need to figure out the correct way to expose JsonSerializerOptions and ensure things like naming policies are available for users

[2020-03-13 19:28] tg-msft opened #10609 "Azure.Search: Add `Get` accessors to SearchDocument"
Revisit whether we want strongly typed `GetFoo()` accessors in addition to the dictionary indexer.

[2020-03-13 19:29] tg-msft opened #10610 "Azure.Search: Add model factories for Search"
Once the generator supports them, we'll need to update them for all of our customized models.

[2020-03-13 19:29] tg-msft opened #10611 "Azure.Search: Remove ForwardsClientCalls on generated operations"
Once the generator supports setting the proper operation names, we'll need to remove our ForwardsClientCalls uses

[2020-03-13 19:30] tg-msft opened #10612 "Azure.Search: Consistent ref docs best practices"
A couple of things came up during https://github.com/Azure/azure-sdk-for-net/pull/10568:
- Follow the "gets or sets" pattern
- Add JsonException and other exceptions everywhere they can be thrown

[2020-03-13 19:32] tg-msft opened #10613 "Azure.Search: Add strongly typed FacetResult helpers"
We need to expose richer FacetResult helpers in Track 2.  We currently return everything as a dictionary rather than ValueFacetResult and RangeFacetResult.  We should decide if we want the `As*Facet()` approach from Track 1 or if we want to have a class hierarchy here with some best guess duck typed polymorphic deserialization.

[2020-03-13 19:33] tg-msft opened #10614 "Azure.Search: Decide on Size vs. Top for OData $top"
While `Size` is the general Track 2 preference, `Top` makes a lot of sense in the domain terminology for Search.

[2020-03-13 19:38] joebeernink commented on #10576
I've found part of the issue (or rather your debugging steps found the issue).

I was passing in sb://<namespacename>.servicebus.windows.net instead of just <namespacename>.servicebus.windows.net.

System.UriFormatException: Invalid URI: The hostname could not be parsed.
   at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
   at System.Uri..ctor(String uriString)
   at Syst

[2020-03-13 20:48] nemakam commented on #10007
How many connections do you have to ServiceBus from this machine?
Based on stack trace it looks like it is not able to create a connection.
Is this on Azure? What kind of service is this? Lot of different services have upper bound on how many outbound connections are allowed. Could you check that for your service

[2020-03-13 20:52] jsquire commented on #10576
Hi Joe.    Thank you for the additional context.   The error seems appropriate given the input, but I'm concerned that the error handler didn't fire.   We'll definitely be poking at that.

The latest error also seems to make sense.   I'd speculate that we're at the point where we are trying to query the Event Hub partitions and unable to resolve the service address.

[2020-03-13 20:53] ShivangiReja commented on #10325
Closed with https://github.com/Azure/azure-sdk-for-net/pull/10584

[2020-03-13 20:53] #10325 closed

[2020-03-13 20:53] ShivangiReja commented on #10156
Closed with https://github.com/Azure/azure-sdk-for-net/pull/10584

[2020-03-13 20:53] #10156 closed

[2020-03-13 21:27] jsquire commented on #10576
Confirming that there is a bug in the processor initialization; we'll get that patched up for the next release.    Apologies for the difficulties.

[2020-03-13 21:57] jsquire commented on #10576
To bring this up to date,  Joe and I spoke offline and we managed to unblock his work.

The initial issue that Joe reported is a previously unknown bug in the processor initialization in which a failure to create the `EventHubConnection` used when the processor is starting up is not in a fault-tolerant block and causes the processor background task to fail without being logged or surfaced to the e

[2020-03-13 22:23] nemakam commented on #10300
@dbeavon
We do not plan to have that feature in the existing Microsoft.Azure.ServiceBus library. However, there's a new library in pipeline, and @JoshLove-msft / @ShivangiReja could weigh in on this for the new library.
Meanwhile, you could write your pump based off our pump if that helps.

For our understanding, what are you looking for with the custom scheduler?

[2020-03-13 22:31] Tiano2017 commented on #8917
@isra-fel This issue seems to be about the common auth functionality in SDK. It's not specifically on Azure Batch or ARM. can you please triage this issue in the SDK team?

[2020-03-13 22:32] jsquire commented on #10324
#10575 has been merged and the requested change should appear in the dev package feed starting tomorrow.  I'm going to close this out to mark the change complete.   Please feel free to re-open if it isn't working as expected.

[2020-03-13 22:32] #10324 closed

[2020-03-14 00:17] serkantkaraca commented on #10014
Yes, both Wcf Relays and HybridConnections support management over HTTP with SAS. What APIs are you looking for?

[2020-03-14 03:09] srivathsanvlb commented on #10014
https://docs.microsoft.com/en-us/rest/api/relay/wcfrelays/get
@serkantkaraca
We are trying to use the above REST API endpoint with SAS authentication

[2020-03-14 06:54] xccc-msft commented on #10011
@axayjo Thanks for explaining the behavior of service.
@hyonholee Please help check the swagger and revise the conflicts between the service definition and implementation. Thanks.

[2020-03-14 09:12] mark-szabo commented on #10580
Hi @wantedfast, ahh, I see.

Can you please add something like this to the documentation of the `ImportCertificateOptions` class?

[code]

[2020-03-14 16:07] kevinskii opened #10621 "[BUG] BlockBlobClient.CommitBlockList(): “The specified block list is invalid” when committing previously committed blocks"
Using the Azure.Storage.Blob .NET SDK v12, I'm trying to append to a block blob. When I try to commit a block ID that has already been committed, I get a "400: The specified block list is invalid" error. Per [discussion on Stack Overflow](https://stackoverflow.com/questions/60678140/azure-block-blob-the-specified-block-list-is-invalid-when-committing-previous), this is supported on the REST API. M

[2020-03-14 20:20] rahulpnath commented on #8658
I am getting the same error. Tried clearing the '%LOCALAPPDATA%/.IdentityService' cache and logged back into VS with just one account. Below is what I see

`
   at Microsoft.Identity.Client.ApiConfig.Executors.ClientApplicationBaseExecutor.ExecuteAsync(AcquireTokenCommonParameters commonParameters, AcquireTokenSilentParameters silentParameters, CancellationToken cancellationToken)
   at Azure.Iden

[2020-03-14 20:55] annelo-msft opened #10623 "[Renames:] Rename raw extracted items to TextElements"

[2020-03-14 20:58] annelo-msft commented on #10378
Moving to May as we won't unify models for preview 1

[2020-03-14 20:59] annelo-msft commented on #10365
Moving to May since we won't support unified models for preview 1.

[2020-03-15 01:53] amishra-dev commented on #10621
Thanks for reporting this issue @kevinskii
While we investigate this issue, could you paste a sample of what you tried and the log message that was output?

[2020-03-15 09:34] amirxnz opened #10624 "[BUG] Azure Storage Blobs client library for .NET causing memory leak on Linux"
**Describe the bug**
We have a service that generates messages and writes them to an append blob, this works fine on windows machine, but the same code published and running on a linux machine will cause a memory leak on the process even though the actual memory consumed is very small (by printing     GC.GetTotalMemory). I have created a small console app that mimics what our service is supposed t

[2020-03-15 18:29] annelo-msft opened #10625 "Expose AnalyzeResult Errors"
Per [internal Teams discussion](https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1586796047400?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1586796047400&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=1586796047400), we'll throw RequestFailedException when errors come b

[2020-03-15 19:19] dbeavon commented on #10300
@nemakam
Thanks for the confirmation.  I'm not overly familiar with this library yet and I appreciate your feedback and pointers.  (... you are saving me from many hours of googling and research... I already wasted a bit of time by starting off with the wrong version of the service bus client... WindowsAzure.ServiceBus vs Microsoft.Azure.ServiceBus.  That forced me to do some minor refactoring, wh

[2020-03-16 01:35] speedy-ms opened #10626 "[BUG] Memory Leaking When SDK Combined With Application Insights"
**Describe the bug**
When using the **Azure.Storage.Queues** (v 12.3.0) NuGet package in combination with **Microsoft.ApplicationInsights.AspNetCore** (v 2.13.1) in a .Net core 3.1 application that is constantly polling queues for new messages, we find that the number of objects built up in memory is steadily increasing, specifically:

`Microsoft.ApplicationInsights.DependencyCollector.Implementat

[2020-03-16 02:55] bojunehsu commented on #10541
We recently bumped up the PDF page limit to 2000.  I agree that it will be really nice to support streaming processing for such situations in the future.  This would require significant changes to the REST API that APIM cannot easily support today.

That said, at the SDK interface level, it would be great if ExtractForm returns IEnumerable<> or equivalent instead of IList<> even if the underlying

[2020-03-16 08:47] StevenDevooght commented on #10007
The system we have in place is a windows service using Quartz.net jobs for processing work. We only have 8 jobs that process ServiceBus queues. So the maxmium number of concurrent connections to ServiceBus is only 8. Every 5 seconds a job runs opens up a connection to the queue (using MessageReceiver) and processes the messages. If processing is done, we close the MessageReceiver. The windows serv

[2020-03-16 12:26] vanillajonathan opened #10629 "[Question] Cannot use non-ASCII chars in metadata?"
**Describe the bug**
It is not possible to write blob metadata containing non-ASCII characters.

Also affects Microsoft Azure Storage SDK for .NET (11.0.0).
https://github.com/Azure/azure-storage-net/issues/975

**Expected behavior**
You should be able to save blob metadata containing non-ASCII characters.

**Actual behavior (include Exception or Stack Trace)**
System.AggregateException: 'Retry fa

[2020-03-16 12:30] jpsaikia opened #10630 "[QUERY] Getting the error "The type or namespace name 'Identity' does not exist in the namespace 'Microsoft.Azure' (are you missing an assembly reference?)""
**Query/Question**
Getting the error "The type or namespace name 'Identity' does not exist in the namespace 'Microsoft.Azure' (are you missing an assembly reference?)".

**Environment:**
 - Azure.Identity [1.1.1]
 - Azure.Messaging.EventHubs [5.0.1]
 - Azure.Security.KeyVault.Secrets [4.0.2]
 - Project TargetFramework - netstandard2.1
 - IDE VS2019 (16.4.6)

**Other notes**
If I remove the package

[2020-03-16 12:58] VaclavK commented on #10266
managed to repro locally (once so far).. .collected additional details

in this case the reader was trying to read messages of dead letter queue
not sure if relevant but it looks as if there were multiple attempts as per try policy
exception callstack

   at Microsoft.Azure.ServiceBus.Core.MessageReceiver.<OnReceiveAsync>d__86.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo

[2020-03-16 13:57] woutervs commented on #10529
Hi,

Sorry took a while to get back here.
The AAD identity definitely has rights since I can do this:
![image](https://user-images.githubusercontent.com/5603059/76765293-755ce900-6796-11ea-8909-3ae8e4ff44af.png)

[2020-03-16 14:17] jsquire commented on #10630
Hi @jpsaikia.  We're sorry that you're experiencing difficulties and appreciate you reaching out to let us know.  Unfortunately, I'm not able to reproduce the behavior that you're describing.   I've tried skeleton projects for a class library (netstandard2.1), a command line application (netcoreapp2.1), and an ASP.NET core application (netcoreapp2.1) with references to the Azure client libraries t

[2020-03-16 14:38] jsquire commented on #10630
I've Incorporated the non-SDK dependencies that appear in the screenshot, absent the `Validation` item, and was able to compile the class library and console application projects without issue.

[code]

The ASP.NET Core application has two version conflicts with the `Microsoft.Extension.Options` package:

[code]
[code]

Once I added the recommended packages, I was able to compile, albeit with depe

[2020-03-16 15:32] jpsaikia commented on #10630
I tried with a skeleton solution\project and strangely it worked. I suppose something to do with VS. or cache.

[2020-03-16 17:10] #8603 closed

[2020-03-16 17:41] AlexGhiondea opened #10634 "Update package name and namespace"
`Azure.Search` -> `Azure.Search.Documents`

[2020-03-16 17:43] jpsaikia commented on #10630
Alright. Looks like found the issue. This was for a MS LOB application.
Repro step -
Include nuget - Microsoft.Azure.Amqp
Edit the namespace as Microsoft.xxxx.xxxx [Microsoft as the namespace first part]

[2020-03-16 17:56] nemakam commented on #10007
How often do you see this?
Do you see any other patterns emerge? for example, after x minutes/messages you run into this. Or are there any other exceptions around this time?
When one connection is stuck, why are other connections also stuck?

[2020-03-16 18:02] pakrym commented on #10449
I'm not sure how to best approach this without making customer code less reliable.

It's true that we're applying MaxRetries only to the attempt to re-establish connection when it fails but if connection resumed succesfully we "reset" the retry counter.

But looking at our current default of 3 retries it's insufficient to be able to successfully download a reasonably large file.

I'm tempted to ba

[2020-03-16 18:02] maririos opened #10635 "Detect language rename from Score to Confidence Score"
changes from v2 and v3. What can we do?

[2020-03-16 18:04] maririos opened #10636 "Add sentimentText to result for AnalyzeSentiment"

[2020-03-16 18:28] heaths commented on #10630
What do you mean, "Edit the namespace as ..."? Can you clarify?

But it sounds like perhaps a dependency wasn't declared in a package and should've been, hence missing an assembly that declares a particular namespace (or perhaps more than 1 assembly).

[2020-03-16 18:42] weshaggard opened #10638 "Need to update version of NETFramework references assemblies"
https://github.com/Azure/azure-sdk-for-net/search?q=ReferenceAssemblies&unscoped_q=ReferenceAssemblies

You should update the version to 1.0.0 to fix the errors like:

[code]

Example failing build https://dev.azure.com/azure-sdk/internal/_build/results?buildId=299596&view=logs&j=f4a2bb40-7e70-5f50-d570-7d7c5c8ca123&t=5f2c46ea-2ba4-5250-6248-51f1edb0a119

[2020-03-16 18:51] ahamad-MS commented on #10638
@isra-fel  .. This is blocking publishing any new nuget. Please treat this issue with highest priority

[2020-03-16 19:24] MehaKaushik opened #10639 "[BUG] Long Running operation fails in CosmosDB"
**Describe the bug**
When target framework is .NET Framework then creating/updating/deleting CosmosDB Resources fails with: Long Running operation fails with "code": "Unauthorized" and "message":"Unable to authenticate the request. The request requires valid user authentication."

The resource is created but it is reported as Failing.
**Expected behavior**
The operation should not fail and the cre

[2020-03-16 19:47] jsquire commented on #10630
I'm not sure that I'm following your repro steps properly.   I've removed the Event Hubs package, which has a dependency on the `Microsoft.Azure.Amqp` package and changed it out for a direct reference to `Microsoft.Azure.Amqp` and am still able to browse the namespace of `Azure.Identity` and `Azure.Security.Keyvault` without issue in Intellisense as well as compile.

May I ask what your `using` di

[2020-03-16 20:08] rhan1161 commented on #9175
@MiYanni @lilyjma @erich-wang @ahamad-MS Any updates on this issue?  We are seeing this issue in our Prod environment.  Is there another channel where I can escalate this issue up the chain?

[2020-03-16 20:57] kevinskii commented on #10621
Hello,
Simple code to reproduce plus details of the error are at this Stack Overflow question here:
https://stackoverflow.com/questions/60678140/azure-block-blob-the-specified-block-list-is-invalid-when-committing-previous
Thanks!

[2020-03-16 21:01] #8434 closed

[2020-03-16 21:12] #9624 closed

[2020-03-16 21:29] #10472 closed

[2020-03-16 21:31] #9875 closed

[2020-03-16 21:42] joebeernink opened #10641 "Why does Azure.Storage.Queues.QueueClient not have a CreateIfNotExists?"
**Query/Question**
Why does Azure.Storage.Queues.QueueClient not have a CreateIfNotExists? This is a really common scenario on app startup and is useful to have a non-exception pattern for handling this scenario.

**Environment:**
 - Azure.Storage.Queues.QueueClient not have a CreateIfNotExists? (12.3.0)
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core proje

[2020-03-16 21:59] TheMonnster commented on #5132
Any updates on this issue? I am also facing this. For me a resource that does not exist is properly resolving as false, but for resources that are in place I consistently get 400 Bad Request as well. :(

[2020-03-16 22:12] annelo-msft opened #10643 "Make source parameter to StartTraining methods a URI instead of a string"
This should take a SAS URI to storage container holding training files.

Also: find a more descriptive name than `source`

Consider an overload that handles local filepaths for Docker containers.

[2020-03-16 22:15] annelo-msft opened #10644 "Make Extract methods URI parameter take a local filepath"
It currently only supports remote URIs.  We should be able to take a local filepath and convert it to a filestream to call that endpoint variant.

Or decide with Python - if we don't, make sure we return sensible errors here.

[2020-03-16 22:35] JoshLove-msft opened #10646 "Add prefetch tests"
We should add live tests that use different values for prefetch.

[2020-03-16 22:43] heaths opened #10647 "Update list of allowed headers and parameters for Search"
We need to update our list of headers and parameters we log. Note that `$select` is being discussed. We'll keep it for now.

**Allowed headers posted in Team channel:**
Accept
Access-Control-Allow-Credentials
Access-Control-Allow-Headers
Access-Control-Allow-Methods
Access-Control-Allow-Origin
Access-Control-Expose-Headers
Access-Control-Max-Age
Access-Control-Request-Headers
Access-Control-Reques

[2020-03-16 23:25] seanmcc-msft commented on #10641
It does.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Queues/src/QueueClient.cs#L443

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Queues/src/QueueClient.cs#L473

I also verified that QueueClient.CreateIfNotExists() and QueueClient.CreateIfNotExistsAsync() are present in the Azure.Storage.Queues v12.3.0 NuGet package.

-Sean

[2020-03-16 23:29] joebeernink commented on #10641
Ah... Then the docs at https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues?view=azure-dotnet are out of date as they do not show this method in the References section.

[2020-03-17 00:00] kasobol-msft commented on #10621
Thank you for reporting this bug @kevinskii . We acknowledge this is a missing functionality. We will fix this in one of our future releases.

[2020-03-17 00:29] annelo-msft opened #10650 "Event Hub tests preventing net-core-ci pipeline from succeeding"
https://github.com/Azure/azure-sdk-for-net/pull/10562/checks?check_run_id=512203761

![image](https://user-images.githubusercontent.com/21269347/76810599-e064ea80-67ab-11ea-9082-ae0d893ad40e.png)

[2020-03-17 00:31] annelo-msft commented on #10650
@jsquire @AlexGhiondea

[2020-03-17 01:35] tg-msft commented on #10449
I agree with @pakrym for our current design.  Otherwise we'll have to add more configurable knobs allowing users to explicitly control this scenario if and when we hear customer feedback.  I would also welcome input from @JeffreyRichter as he probably knows of any serious flaws with this approach in practice.

[2020-03-17 04:13] jpsaikia commented on #10630
Here is the project configuration to repro -

![image](https://user-images.githubusercontent.com/3803609/76821170-2618c600-6833-11ea-97e5-fbb26170a032.png)

This works fine with namespace "TestProject" -
![image](https://user-images.githubusercontent.com/3803609/76821233-56606480-6833-11ea-96e2-b67704ac44c3.png)

If I change the namespace to "Microsoft.TestProject", types under Azure are not recog

[2020-03-17 04:45] balukantu commented on #8945
Hi @schaabs , Do you have any update on this?

[2020-03-17 05:41] isra-fel commented on #10638
Thanks for the suggestion Wes! I'll submit a PR later

[2020-03-17 08:00] geukhan opened #10655 "[BUG] CloudException is thrown with status code 200 when using SqlManagementClient.Databases.CreateOrUpdateAsync(...)"
**Description/To Reproduce**
1. Get database properties from azure, keep it in memory as a backup.
2. Move the database out of standard elastic pool to premium standalone within same database server.
3. Try to copy the database to another server, but stop it because it took too long.
4. Revert database to original settings using ``SqlManagementClient.Databases.CreateOrUpdateAsync(...)`` and passin

[2020-03-17 11:21] maldago opened #10657 "[QUERY] DefaultAzureCredential authentication failed"
**Query/Question**
I am not sure if this is a bug or not or even belongs here? The reason I am posting here is the stack trace from the kudu console. We are using key vault, secrets with config builders to update our web.config during pre-application start initialisation.

**Environment:**
 - Name: Version used in current Azure AppService, KeyVault
 - Azure AppService, targeting net472

We have fo

[2020-03-17 12:18] mjiderhamn commented on #10018
To anyone finding this issue looking for a workaround: the pipeline policy must not set the `x-ms-client-request-id` header directly, but instead set `message.Request.ClientRequestId` and let `Azure.Core.Pipeline.ClientRequestIdPolicy` (by default part of the pipeline) use it for setting the header. Then the request will also be properly signed.

[2020-03-17 13:28] jsquire commented on #10650
Well.... that's new.   Looking into it.

[2020-03-17 13:45] jsquire commented on #10630
Thank you for the additional context, @jpsaikia.  With that, I think the mystery is solved.  Because you're using `Microsoft` as a root to your namespace, it would appear that Visual Studio is scoping the intellisense lookup to that.  Since including `Microsoft.Azure.Amqp` into the mix defines an `Azure` namespace under your `Microsoft` root, VS is making the assumption that your references to `Az

[2020-03-17 13:53] jsquire commented on #10657
//cc: @schaabs

[2020-03-17 14:01] jsquire commented on #10650
FYI:  https://github.com/Azure/azure-sdk-for-net/pull/10658

That'll quiet things down while I investigate.   Apologies for the inconvenience.

[2020-03-17 14:11] jsquire commented on #10650
PR has merged;  these tests are now ignored pending some tuning.

[2020-03-17 14:11] #10650 closed

[2020-03-17 14:19] annelo-msft commented on #10650
Thanks, Jesse!

[2020-03-17 14:32] sebader opened #10659 "[BUG] DefaultAzureCredential cluttering log with errors"
**Describe the bug**
I'm using this to access a blob container
`_blobContainerClient = new BlobContainerClient(new Uri(containerUrl), new DefaultAzureCredential());`

This is running in a container on AKS with Pod Identity - so ManagedIdentityCredential should be the one that is used.

However, since this is only [second in the list,](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defa

[2020-03-17 14:33] jpsaikia commented on #10630
Right. Most likely tools issue. Will check with the team.

[2020-03-17 14:33] #10630 closed

[2020-03-17 15:07] StevenDevooght commented on #10007
There is no real pattern for the issue. Sometimes we don't have it for weeks. Sometimes we have it multiple times per week. We have 8 jobs that process Azure service bus queue messages. Every 5 seconds we check if there are messages on the queue using the peek functionality. This means we open & close 96  `MessageReceivers` per minute.

We noticed that we have 100+ TIME_WAIT connections to azure
`

[2020-03-17 17:15] jsquire commented on #10550
It looks like the discussion here has tapered off.   I'm going to close this out to reflect that.  Please feel free to reopen if there's additional insight that we can provide.

[2020-03-17 17:15] #10550 closed

[2020-03-17 17:25] JeffreyRichter commented on #10449
I'm not familiar with your exact implementation but why would you reset the retry counter if something is successful? My mental model (and what I've implemented in the past) was that each operation (XxxClient method) starts out with the customer's configured max retry count and then this decrements with each try and nothing resets this. This works great for everything.

Now, blob download has an a

[2020-03-17 17:29] pakrym commented on #10449
We have very similar implementation but our `ReliableStream` currently doesn't limit retry count.

[2020-03-17 17:39] #10639 closed

[2020-03-17 17:57] weshaggard commented on #8808
@danieljurek is the goal here to enable running the samples with the live test runs and against live services?

[2020-03-17 17:57] tg-msft commented on #10449
So my understanding of this issue is that we'll do the following:

1. Start downloading with the customer's `MaxRetries` via the pipeline
2. Wrap in a `RetriableStream`
3. If downloading the stream fails after we've left the pipeline
    a. Try to start downloading from where we left off with the customer's `MaxRetries` via the pipeline
    b. If that succeeds, go back to step 2
    c. If that fai

[2020-03-17 18:03] nemakam commented on #10007
96 connections per minute doesn't sound healthy to me. I'd really recommend you to see if you are able to reuse your MessageReceiver objects. Even if the link is closed, the link is automatically re-established within the SDK.
Given that you have 96 connections per minute. 100+ TIME_WAIT does sound in-line to expectations.
Are you able to consistently repro using this repro code?
Also, I still thi

[2020-03-17 18:10] sebader commented on #10535
Any update on this? Thanks!

[2020-03-17 18:19] heaths commented on #10657
`DefaultAzureCredential` and from what I can make out in your stack (can you re-paste that into ``` code blocks for readability?) show you're using at least the Azure.Identity package, but those links you supplied use the older Microsoft.Azure.KeyVault packages for their samples. Can you confirm if you're only using Azure.* packages for build configuration builder and identity? Do you have some sa

[2020-03-17 18:49] amnguye commented on #10529
Thanks for the confirmation.

Could you rerun this this again and provide the x-ms-request-id? I would use the request id that you originally screenshotted but unfortunately the backend logs for these are flushed every 2 days.

[2020-03-17 19:27] lilyjma commented on #9175
@nickzhums do you know who might be able to help with this?

[2020-03-17 19:54] schaabs commented on #8945
@balukantu, to authenticate when debugging in your local environment you should be using the `DefaultAzureCredential`. This allows authenticating with managed idententy when available, and other mechanisms when running in a local environment. In the code sample you provided you are using `new ManagedIdentityCredential()` which will only authenticate when running in an azure hosted environment whic

[2020-03-17 19:58] StevenDevooght commented on #10007
It is only one connection which is stuck. If a connection is stuck that specific job keeps hanging, but the other jobs keep doing their work. So only 1 queue is not processed anymore. The other queues are processed normally...

[2020-03-17 20:20] nemakam commented on #10007
Oh. Okay

This sentence made me assume the whole process hangs and nothing proceeds ahead.

[2020-03-17 20:23] maldago commented on #10657
Thanks for looking at it, looks like pakrym beat me to formatting the stack.

We don't have any code blocks. It is the ConfigBuilder that makes calls to the KeyVault to retrieve the secrets using the system assigned managed identity.

Azure.Identity, Version 1.1.1.0
Azure.Security.KeyVault.Secrets, Version 4.0.2.0
*for the configuration builders see in config below

An extract of the web.config is

[2020-03-17 20:25] maldago commented on #10657
Thanks for looking at it, looks like pakrym beat me to formatting the stack.

We don't have any code blocks. It is the ConfigBuilder that makes calls to the KeyVault to retrieve the secrets using the system assigned managed identity.

Azure.Identity, Version 1.1.1.0
Azure.Security.KeyVault.Secrets, Version 4.0.2.0
*for the configuration builders see in config below

An extract of the web.config is

[2020-03-17 20:49] zhenlan opened #10662 "&lt;Ask&gt; Need help to mock GetConfigurationSettings"
@swasun99 commented on [Wed Mar 04 2020](https://github.com/Azure/AppConfiguration/issues/290)

Am trying to mock ConfigurationClient GetConfigurationSettings method using Moq. I see the sample has mocks for GetConfigurationSetting and SetConfigurationSetting but the GetConfigurationSettings method returns a Pageable<ConfigurationSetting> which is an abstract class. Is there any way to mock it usi

[2020-03-17 21:09] heaths commented on #10657
Based on [their source](https://github.com/aspnet/MicrosoftConfigurationBuilders/blob/afc364b8c984080e032a29f9c1a9dbb315abecb5/src/Azure/AzureKeyVaultConfigBuilder.cs#L132-L147), this is probably the same as #9737. As a temporary workaround - and if you only have 2 values (assuming that matches your use case) - can you disable greedy mode? From what I'm seeing in their implementation, it might all

[2020-03-17 21:38] jsquire commented on #9908
@lmolkova:  I'm not quite sure what next steps would be here; there does not seem to be action that the Event Hubs client library can directly take to influence the behavior, and there are legitimate considerations raised to the proposal in #9934.

Should we open an issue somewhere for consideration or is this something that is considered by-design and that we aren't able to influence?

[2020-03-17 21:40] jsquire commented on #10404
I looks like discussion has tapered off, so I'm going to close this out.  Please feel free to reopen if there are additional questions or further discussion needed.

[2020-03-17 21:40] #10404 closed

[2020-03-17 21:56] chidozieononiwu opened #10666 "Clean up archetype-language-release.yml"
- [x] Move generated package artifacts into there own directories and eliminate the need to stage artifacts. [see here](https://github.com/Azure/azure-sdk-for-net/pull/10396#discussion_r393972000) and [here](https://github.com/Azure/azure-sdk-for-net/pull/10396#discussion_r393973434)
- [x] Update VM Images [see here](https://github.com/Azure/azure-sdk-for-net/pull/10396#discussion_r393972257)
- [x

[2020-03-17 21:56] jsquire commented on #10576
The root of this was addressed in #10622 where validation was included for well-formedness of the Event Hubs namespace.   #9324 will cover ensuring that the main processing loop does not perform any actions outside of a try/catch block so that any issues are surfaced via the error handler.

[2020-03-17 21:56] #10576 closed

[2020-03-17 21:58] schaabs commented on #10659
@sebader Thanks for filing this issue. I'm looking into it now. I agree that the `DefaultAzureCredential` should not be logging errors for its normal operation, and I'm investigating how we can best fix this. It should be the case that this error will only be logged the first time the credential is used to authenticate. All subsequent calls to authenticate with the credential should only log outpu

[2020-03-17 22:16] sebader commented on #10659
That’s for looking into it!
Even for the first call I would argue it shouldn’t log an error - a warning at best I’d say because technically it still wouldn’t be an error. All is working as expected when using the DefaultCredential.
Or what would be your reason to treat the first call as an error?

[2020-03-17 22:56] AlexGhiondea commented on #10107
@bryanhunwardsen thank you for your patience.

Depending on how your application is setup and its requirements, you might be able to clear the cache to avoid running into this problem.
The cache is accessible [here](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/af10dd15cdb082bc3dbe14b0c2c6d81f6ca5b541/src/Microsoft.IdentityModel.Clients.ActiveDirectory/TokenCache.cs#L105

[2020-03-17 23:18] seanmcc-msft commented on #10626
For step 3, why not have the worker re-use the same QueueClient?  The clients are thread-safe.

[2020-03-17 23:38] speedy-ms commented on #10626
That has proven to be the workaround we have gone with - storing any queue clients that we have created in a static dictionary that remains for the lifetime of the app (we have a web app that uses this shared code and would be newing up the clients pretty heavily to create queue messages).

I will leave it open and for others to decide if this is a bug that needs fixing or if it was simply of a ca

[2020-03-17 23:46] pakrym opened #10669 "[Flaky test] CreatePartitionProcessorProcessingTaskWrapsAnOperationCanceledExceptionAndConsidersItFatal"
[code]

[2020-03-17 23:48] lilyjma commented on #9381
Hi @batrived, hopefully your problem was addressed. I was wondering if you'd be willing to share with us your experience working with this library so far. We're committed to improving our SDK, GitHub support process, and documentation. Your feedback is extremely helpful to us, so please let us know if we can hop on a quick call to discuss it. Thanks!

[2020-03-17 23:55] tg-msft commented on #10647
I think we've got all of these between https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search/src/SearchClientOptions.cs#L97 and https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/DiagnosticsOptions.cs#L24.

[2020-03-18 02:31] nickzhums commented on #9175
@dingmeng-xue could you let someone have a look to see if this is indeed AutoRest issue or something can be done on the SDK side ? This is generated mgmt SDK and the customer is having issues.

[2020-03-18 03:45] #10330 closed

[2020-03-18 03:49] #10571 closed

[2020-03-18 03:54] danieljurek opened #10671 "Smoke Tests should use dynamic resource allocation"

[2020-03-18 04:10] maririos opened #10672 "Namespace for AzureKeyCredential"
See https://github.com/Azure/azure-sdk-for-net/pull/10668#discussion_r394033864

[2020-03-18 05:09] heaths commented on #10647
Yeah - most of them we have. There were a couple we didn't, including 1 or 2 that are coming soon but may as well add now. I just figured I'd post the whole list, sans "api-key" that shouldn't have been in the original list.

[2020-03-18 07:43] maldago commented on #10657
@heaths

Thanks for looking into this, we will try disabling Greedy. Will let you know how we get on.

[2020-03-18 08:23] ArnoMyOnlinePresence opened #10676 "[BUG] Azure.Storage.Files.Shares hangs on upload"
**Bug Description**
It seems to do everything correct, including creating the file but as soon as it actually tries to upload the file content it just hangs indefinitely.
![image](https://user-images.githubusercontent.com/30623106/76939427-08b22d80-6901-11ea-976f-ada2bd51d81a.png)
I Followed the code provided by your hello world example to a T but still getting this issue.
I can see the file is cr

[2020-03-18 08:36] ArnoMyOnlinePresence commented on #10676
Seems to have being a bug on my side where it was creating a memory stream within a memory stream

[2020-03-18 08:36] #10676 closed

[2020-03-18 10:53] willdean commented on #8993
Can I put in a +1 for this, please.  We have a an application which adds groups of lines to an append block via a streamwriter, fed with data coming from a network stream.  It's a significant bit of work to try move this to the V12 api because one can't get a writeable stream.

[2020-03-18 10:59] ab-cognassist commented on #8993
+1, we can't move to V12 (Azure.Storage.Blobs) and are still using V11 (Microsoft.Azure.Storage.Blob) as there isn't a relevant endpoint for us to use.

[2020-03-18 13:39] jsquire commented on #10669
Opened #10679 to ignore the offender, pending investigation and a fix.

[2020-03-18 13:49] jsquire commented on #10669
[CI Failure Example](https://dev.azure.com/azure-sdk/public/_build/results?buildId=310082&view=ms.vss-test-web.build-test-results-tab&runId=9629198&resultId=102855&paneView=debug)

[2020-03-18 16:14] KrzysztofCwalina commented on #10672
I would put it in the Azure root namespace. I think it's a very general and useful type.

[2020-03-18 16:21] maririos commented on #9711
PR: https://github.com/Azure/azure-sdk-for-net/pull/10668

[2020-03-18 16:21] maririos commented on #10434
PR: https://github.com/Azure/azure-sdk-for-net/pull/10668

[2020-03-18 16:22] maririos commented on #10144
Policy has been moved to Azure.Core with PR https://github.com/Azure/azure-sdk-for-net/pull/10668

[2020-03-18 16:40] jsquire commented on #10669
#10679 has merged and this test is now disabled.

[2020-03-18 16:40] #10669 closed

[2020-03-18 16:45] heaths opened #10680 "Hide the ODataType property"
Until Azure/autorest.csharp#552 is fixed, we should hide the ODataType property.

[2020-03-18 16:49] #10638 closed

[2020-03-18 16:50] heaths commented on #10657
I also have a fix prepared and will get a servicing update out soon.

[2020-03-18 18:42] heaths opened #10682 "Key Vault's GetSecretAsync live test occasionally fails with 404"
Every so often we get a 404 error with the `GetSecretAsync` live test on different platforms but with the same basic error:

[code]

This may be a test parallelization issue since there are some tests that sample/test purging, like for samples and README.

[2020-03-18 19:47] susosuso opened #10684 "Microsoft.Azure.EventGrid - Can not send CloudEvent using EventGridClient"
We have a EventGrid Topic setup with CloudEvent as input schema. When trying to send a CloudEvent using EventGridClient, we get the below error.

`Microsoft.Rest.Azure.CloudException: The Content-Type header is either missing or it doesn't have a valid value. The content type header must either be application/cloudevents+json; charset=utf-8 or application/cloudevents-batch+json; charset=UTF-8.
`
L

[2020-03-18 20:38] maldago commented on #10657
Thanks very much for the fix.

Just to note we tried changing Greedy to Strict but we still observed the same behaviour.

[2020-03-18 20:56] mattaman opened #10687 "[BUG] BlobClient.Upload never returns if a lease exists on the blob but no leaseId is passed in"
**Describe the bug**
Please provide the description of issue you're seeing.

Set a lease on a blob
Call BlobClient.UploadAsync or BlobClient.Upload with a stream, metadata, but without a BlobRequestConditions object passed into the method.

**Expected behavior**
A response with error code 409

**Actual behavior (include Exception or Stack Trace)**
Hangs indefintely.

**To Reproduce**
Steps to repr

[2020-03-18 21:07] mattaman commented on #10687
Disregard - stream issue. Sorry all

[2020-03-18 21:07] #10687 closed

[2020-03-18 21:58] heaths commented on #9737
I believe I have a fix and was hoping you could try it to verify before we release it, given the nature of this problem is impacted by machine and scenario differences.

1. Register our dev feed in your nuget configuration. Typically, you'd run the following in your solution or project root (can also be machine wide, but any CI/CD will also need it):
[code]
2. Install the dev package into your pro

[2020-03-18 21:58] heaths commented on #10657
I believe I have a fix and was hoping you could try it to verify before we release it, given the nature of this problem is impacted by machine and scenario differences.

1. Register our dev feed in your nuget configuration. Typically, you'd run the following in your solution or project root (can also be machine wide, but any CI/CD will also need it):
[code]
2. Install the dev package into your pro

[2020-03-18 22:33] UmairSyed commented on #5121
same here...any resolutions yet?

[2020-03-18 23:30] heaths opened #10691 "Write mock tests for concurrency issue in ChallengeBasedAuthenticationPolicy"
We should use `MockTransport`s to mock various concurrency scenarios for the fix made in PR #10673. We'll need to synchronize certain responses to simulate lag in concurrent calls.

Scenarios include, but are not limited to:

1. Single-threaded call
1. Simultaneous multi-threaded calls like in https://gist.github.com/heaths/87b6a2da1b9cdd5c88fe6c3dedb28216#file-program-cs
1. Offset multi-threaded

[2020-03-18 23:33] #10634 closed

[2020-03-19 03:48] JoshLove-msft opened #10699 "Include FailureReason in Message for ServiceBusException"
This would be nice to include in the overriden Message property.

[2020-03-19 08:04] macchmie3 commented on #9737
I will check it today!

[2020-03-19 08:54] macchmie3 commented on #9737
@heaths
I just tested your package and seems like the issue is solved! Of course I double-checked that the workaround-locks are removed :)

[2020-03-19 10:16] StevenDevooght commented on #10007
Can you clarify what closing the link means? If you try to reuse a closed MessageReceiver you get:
`ServiceBusConnection has already been closed. Please create a new instance.`

The [official examples](https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Microsoft.Azure.ServiceBus/ReceiveLoop/Program.cs) also close & recreate the MessageReceiver every run.

[2020-03-19 12:42] Sandeep321 opened #10705 "[FEATURE REQ] Way to log the client information for messages being read"
**Library or service name.**
Microsoft.Azure.ServiceBus

**Is your feature request related to a problem? Please describe.**
We are using the Azure service bus for message processing. We host one or more App Service instances(subscribers) that would be connected to the same Topic and subscription.
After a message is published from the publisher, the message becomes available in subscription and the

[2020-03-19 14:04] jsquire commented on #10655
@erich-wang: Would you be so kind as to help route this?

[2020-03-19 16:14] maririos opened #10707 "Support error and result returning from the service"
This will happen because of the new data limits the service is going to have for GA.

[2020-03-19 16:20] maririos opened #10708 "Remove support for PII endpoint"

[2020-03-19 16:22] maririos opened #10709 "Bring PII support again"

[2020-03-19 16:23] maririos opened #10710 "Add support for parameter `string-index-type`"
We want to keep this parameter hidden from the user, and the idea right now is that we are going to calculate the encoding and send it to the service.
Same, we are not going to expose it in the result objects, although we should have it available for logging for diagnosability purposes.

Important add documentation about this in the readme, samples, and docstrings to make sure the user knows what

[2020-03-19 16:24] maririos opened #10711 "Support opinion mining in Analyze Sentiment"
Enable with `opinionMining=true`

[2020-03-19 17:24] maririos commented on #9711
.NET design is in. Now looking into the other languages

[2020-03-19 17:45] ShivangiReja commented on #9884
Closed with https://github.com/Azure/azure-sdk-for-net/pull/10664

[2020-03-19 17:45] #9884 closed

[2020-03-19 17:45] tg-msft opened #10715 "Storage: Disabled failing StartCopyIncrementalAsync live tests"
We've seen `StartCopyIncrementalAsync` and `StartCopyIncrementalAsync_AccessConditions` failing with timeouts during the live test runs.  Marking them `Explicit` until they can be made more reliable.

[2020-03-19 17:48] tg-msft opened #10716 "Storage: Disabled failing UploadAsync_ProgressReporting live test"
We've seen `UploadAsync_ProgressReporting` failing during the live test runs.  Marking it `Explicit` until it can be made more reliable.

[2020-03-19 17:52] tg-msft opened #10717 "Storage: Disabled failing ChecksForCancelation live test"
We've seen `ChecksForCancelation` failing during the live test runs.  Marking it `Explicit` until it can be made more reliable.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=283306&view=results

[2020-03-19 18:30] nemakam commented on #10007
Once you call `Receiver.CloseAsync()`, you cannot reuse it.
By "closing the link" I mean, that if there was an intermittent communication issue / network issue, it would automatically try to connect again.
Receiver objects are ideally supposed to be long running. Its best to reuse it.

And in the example above, we create the receiver object. Try receiving all messages with that receiver, and then

[2020-03-19 19:51] #10672 closed

[2020-03-19 20:51] JoshLove-msft opened #10722 "Clarify peek session behavior"
Peeking a session entity without using the GetSessionReceiver method will work, but Receive fails. Investigate and document exactly why this is and what all of the edge cases are.

[2020-03-19 21:13] JoshLove-msft opened #10723 "Consider making DeadLetterReason/DeadLetterErrorDescription properties directly on ReceivedMessage"
We could elevate these to properties directly on the received message and thereby avoid having to expose the user property keys for this data.

[2020-03-19 21:19] JoshLove-msft opened #10724 "Consider introducing a SessionReceiver instead of a SessionManager"
We currently return a ServiceBusReceiver whether you call client.GetReceiver or client.GetSessionReceiver. The sessionManager holds the session related functionality. This was part of our initial design before we switched to using a top level client, as it avoided forcing users to know that they needed something like a SessionClient to do anything when working with sessions.

With the current desi

[2020-03-19 21:23] heaths opened #10725 "SynonymMap model should take IEnumerable<string> for synonyms"
The generated model for `SynonymMap` takes a single `string` for synonyms, which the user would then have to pass with newlines embedded. This "magic formula" approach is something we try to avoid and just make it obvious and idiomatic. Guidelines recommend instead taking an `IEnumerable<string>` for the parameter and perhaps define the property as an `IList<string>` to allow adding to it. The de/

[2020-03-19 21:28] maririos commented on #10434
Update documentation for TA: https://github.com/Azure/azure-sdk-for-net/pull/10714

[2020-03-19 21:29] maririos commented on #10382
Decision has been to remove PII endpoint from SDK for the first version of it.
Issue #10708 will track that work

[2020-03-19 21:29] #10382 closed

[2020-03-19 21:40] schaabs commented on #10691
Also we should add tests for the service continually sending 401s so we ensure we don't get stuck in a loop that doesn't return to the client.

[2020-03-19 21:55] heaths commented on #9737
Thanks for verifying the fix. We want to [do some additional testing](#10691) to make sure we didn't regress anything and fixed all the related issues here, and will get a servicing release out on nuget.org shortly.

[2020-03-19 22:01] heaths commented on #10657
We had one customer from the [other bug](https://github.com/Azure/azure-sdk-for-net/issues/9737) verify the fix works, so you can use that for now. We want to [do some additional testing](https://github.com/Azure/azure-sdk-for-net/issues/10691) to make sure we didn't regress anything and fixed all the related issues here, and will get a servicing release out on nuget.org shortly.

[2020-03-19 22:48] tg-msft commented on #10602
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Microsoft.Azure.Search/tests/Tests/IndexingTests.cs#L846

[2020-03-19 22:51] tg-msft commented on #10601
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Microsoft.Azure.Search/tests/Tests/LookupTests.cs#L321

vs

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search.Documents/tests/DocumentOperations/GetDocumentTests.cs#L325

[2020-03-19 22:52] tg-msft commented on #10600
https://github.com/Azure/azure-sdk-for-net/blob/47caf36356d20c2785916c1812a7e36cb8a9d815/sdk/search/Azure.Search.Documents/src/Options/SearchOptions.cs#L85 as one example

[2020-03-19 22:54] tg-msft commented on #10598
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search.Documents/src/Utilities/ClientDiagnostics.ExtractFailureContent.cs#L52

and

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/searchindex.json#L1377

[2020-03-19 23:01] #10376 closed

[2020-03-19 23:18] tg-msft commented on #10601
Keep as strings, use helpers to do parsing.

[2020-03-19 23:25] tg-msft commented on #10614
Bruce prefers Top but is open to either.  Top is better for existing customers and the domain concept, but Size might be better for consistency.

[2020-03-19 23:26] tg-msft commented on #10600
This might only be a problem for `$orderby` and we'll need to dig into the REST OData docs

[2020-03-19 23:27] tg-msft commented on #10598
The service is working these out now.  We'll probably have to put this in `additionalInfo` but will circle back in a preview or two.

[2020-03-19 23:28] tg-msft commented on #10602
Track 1 isn't serializing nulls to the wire based on serializer settings.  We can revisit this once we add that level of serialization option customization in Track 2.

[2020-03-19 23:29] tg-msft commented on #10613
Need to figure out how to handle the `T` of `As*Facet<T>()` if we want to do this automatically.

[2020-03-19 23:29] tg-msft commented on #10590
Discussed serializing as JSON with an API version and then base64 encoding to become the continuation token.

[2020-03-20 00:16] nabsul commented on #9737
Great timing. I was just getting this same error, but only when using `GetPropertiesOfSecretVersionsAsync()` in my code. I just tested the development package and it fixed my problem as well.

[2020-03-20 00:52] maririos commented on #10434
.NET is done.

[2020-03-20 00:52] #10434 closed

[2020-03-20 01:07] KrzysztofCwalina opened #10727 "SharedCacheCredential should allow specifying client ID"
This is needed for calling Microsoft Graph

[2020-03-20 01:30] hemanttanwar commented on #10724
Although this willreduce one  type `sessionManager `  but if  you `return a different type that derives from ServiceBusReceiver` , this new type will also have `RenewMessageLockAsync` function . You can not reduce the visibility of this function in   new SessionReceiver .

[2020-03-20 01:43] JoshLove-msft commented on #10724
You are right that we still would need to throw an exception if a user attempts to RenewMessage lock from the session receiver. But this isn't a new issue as we already have to do this.

[2020-03-20 02:52] JoshLove-msft commented on #10724
So one thing that I didn't think of initially.. The callback for the processor takes an EventArgs which has a Receiver property. If we do this change users would need to downcast this property to a session receiver to access the session methods.

[2020-03-20 03:06] brjohnstmsft commented on #10725
This sounds reasonable to me.

@Yahnoosh, can you think of any reason why we might need to keep the synonym map body represented as a single string on the client?

[2020-03-20 04:53] annelo-msft commented on #10542
Duplicate of #10408

[2020-03-20 04:55] annelo-msft commented on #10461
Duplicate of #10408

[2020-03-20 04:55] #10461 closed

[2020-03-20 04:56] annelo-msft commented on #10333
Won't do for preview 1.

[2020-03-20 04:57] annelo-msft commented on #9979
Won't do for preview 1.

[2020-03-20 04:59] annelo-msft opened #10734 "Make "wrong model type" error more informative"

[2020-03-20 05:01] annelo-msft opened #10735 "Take ModelId off CustomModel"
Duplicated in ModelInfo.

[2020-03-20 05:02] annelo-msft opened #10736 "Have StartTraining* methods take a URI type for source"
Also: give source a more descriptive name.

[2020-03-20 05:04] annelo-msft opened #10737 "Return multiple values from GetFieldValue's'"
If field name/label matches more than one.

[2020-03-20 06:42] Daniel-Krzyczkowski opened #10738 "Azure.Identity DefaultAzureCredential and ManagedIdentityCredential does not work with Azure Web App Managed Identity"
**Describe the bug**
I created the sample with Azure.Identity and Azure.Security.KeyVault.Secrets packages to retrieve secrets from the Azure Key Vault. I wanted to test DefaultAzureCredential and ManagedIdentityCredential credentials options with Managed Identity.
I created Azure Web App and enabled System Assigned Managed Identity. Then in the Key Vault I added Access Policy to enable this web a

[2020-03-20 08:57] heaths commented on #10725
We could provide the transformed string as wel (though I see little value until we need it) since we'll have to eventually de/serialize it anyway. Making callers do that themselves is not very dev-friendly nor idiomatic.

[2020-03-20 09:15] ahamad-MS commented on #10684
Thanks for reporting this issue. We are investigating/triaging it.

[2020-03-20 09:32] maldago commented on #10657
Hello, apologies for the delay, I had been distracted by another problem. Deployed the new package and we are, unfortunately, observing, the same error.

I verified the binary is being deployed and can see it being referenced in the latest Azure Diagnostics.

[2020-03-20 10:20] XuGuang-Yao opened #10741 "Add support of setting non-ASCll metadata for blob client"
Only ASCII chars are supported when setting blob metadata. But we can set non-ASCII in the Azure portal directly.
![image](https://user-images.githubusercontent.com/53599438/77154411-985d0500-6ad6-11ea-97f8-5e8f788da2d0.png)

**Library or service name.**

Azure.Storage.Blobs 12.4.0

**Is your feature request related to a problem? Please describe.**

Write metadata to a blob containing a non-ASCII

[2020-03-20 10:48] XuGuang-Yao commented on #10741
This is related to #10629.

[2020-03-20 13:28] #10416 closed

[2020-03-20 13:39] jsquire commented on #10738
//cc: @schaabs

[2020-03-20 15:18] brjohnstmsft commented on #10725
My only concern is that we might add synonym map formats in the future that aren’t line-oriented. I’m not the SME for synonyms, so I’ll check and get back to you.

[2020-03-20 15:49] annelo-msft opened #10744 "Resolve concerns regarding adding all OCR pages to Supervised Forms/Receipts"
Was: Resolve concerns regarding adding all OCR pages to Receipt

A single page doesn't necessarily map to a documentResult. E.g. a blank page might not be part of any document result, but we should still return the metadata for that page.

Python will do this: any method that provides a documentResult should repeat all pages of the readResult/pageResult on each document.

For .NET we should do our

[2020-03-20 15:50] #10389 closed

[2020-03-20 15:50] #10454 closed

[2020-03-20 15:50] #10489 closed

[2020-03-20 15:50] #10541 closed

[2020-03-20 15:50] #10561 closed

[2020-03-20 15:50] #10387 closed

[2020-03-20 15:55] AlexGhiondea commented on #10738
@Daniel-Krzyczkowski I see that you are using a slightly older version of the extensions library.

Can you update to the [new one](https://github.com/Azure/azure-sdk-for-net/blob/31efa80ce402e5f97ef3e474a43d97f58f33d64f/sdk/extensions/Azure.Extensions.Configuration.Secrets/README.md) and try this scenario again?

[2020-03-20 15:58] #10144 closed

[2020-03-20 16:54] richardpark-msft commented on #10724
@JoshLove-msft - some of these difficulties are "gone" when the settlement methods end up on the Message object itself, rather than on the client.

1. Messages can be settled directly w/o a receiver. Callback gets simpler.
2. Renewing a message lock goes on the Message object, so no need to worry about differences on the client.

FWIW, JavaScript is doing both of these - settling methods on the me

[2020-03-20 17:01] heaths commented on #10725
That would be a REST breaking change, since they are already newline delimited. I would suggest a new model type, per our REST guidelines, which we'd need to support in our SDK then anyway.

[2020-03-20 17:02] JoshLove-msft commented on #10724
@richardpark-msft  how do you do session operations from the callback?

[2020-03-20 17:05] brjohnstmsft commented on #10725
There's a format parameter that currently only accepts one value. The docs say the map itself is newline-delimited regardless, but I'm not sure if that's accurate. If we add a new format that uses a different delimiter, it wouldn't technically be a breaking change.

[2020-03-20 17:06] heaths commented on #10657
Can you verify you are seeing our pipeline trace messages in your diagnostics (if not, see my link to troubleshooting steps above), and send my any events named Azure* via email so we can diagnose further? My email is my GitHub username @microsoft.com.

[2020-03-20 17:12] heaths commented on #10725
I wouldn't add a newline for a single value, so that would still work fine.

Changing implementation without changing the API is still a breaking change. If customers had been using newlines and that delimiter changed, their code would break, right? You'd need a new model or, at the very least, change the api-version - either of which we can change the delimiter in code.

/cc @johanste who's been

[2020-03-20 17:12] richardpark-msft commented on #10724
@JoshLove-msft  - Those are on the receiver.

[2020-03-20 17:15] JoshLove-msft commented on #10724
For concurrent receiving I believe the session operations would need to be available within the callback as the outer SessionReceiver would not have the appropriate receive links for each received message.

[2020-03-20 17:15] #10441 closed

[2020-03-20 17:18] richardpark-msft commented on #10724
I think you're right - the session manager aspect still needs to be designed.

In JS I think it's going to end up being a separate class altogether so we don't have to have the same exact interface on the typical Receiver interface and the "round-robin-receive" interface.

[2020-03-20 17:18] johanste commented on #10725
Can you add a link to the specific model/REST API that we are considering changing?

[2020-03-20 17:20] JoshLove-msft commented on #10724
Yeah another idea that @KrzysztofCwalina floated was having any actions that a user would be reasonably expected to take in the processor just be methods directly on the EventArgs, so we wouldn't have to include the entire Receiver.

[2020-03-20 17:20] johanste commented on #10725
In general, if we are being additive for inputs only, then it is generally safer than additive for outputs. But details matter.

[2020-03-20 17:24] brjohnstmsft commented on #10725
If the delimiter depends on the value given for the format property, then adding a new format with a different delimiter is not a breaking change because customers would have to opt in to the new format.

There’s also the possibility that customers have existing synonym maps as text files and may want to upload them as-is instead of constructing them programmatically line by line.

The bottom line

[2020-03-20 17:47] annelo-msft commented on #9703
@AlexGhiondea why did you remove TextAnalytics from this?

[2020-03-20 17:48] annelo-msft opened #10745 "Move to AzureKeyCredential for APIKey auth"
Depends on https://github.com/azure/azure-sdk-for-net/issues/9711

[2020-03-20 18:02] AlexGhiondea commented on #9703
I assumed this was only tracking the FR work. Feel free to add it back 😀.

[2020-03-20 18:07] sergiosolorzano commented on #8169
Happening to me too. I'm working on an Azure Function App. Is there another way to use blob? I'm currently using: using System;
using System.IO;
using System.Net;
using System.Net.Http;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.Http;
using Microsoft.Build.Framework;
using Newtonsoft.Json;

These fail. I tr

[2020-03-20 18:16] seanmcc-msft commented on #8169
What does your csproj file for your project look like?

[2020-03-20 18:42] YevgenBorodkin opened #10746 "[BUG] DataLakeFileSystemClient.DeleteIfExistsAsync() throws if container does not exist"
**Describe the bug**
DataLakeFileSystemClient.DeleteIfExistsAsync() throws exception when it tries to delete previously deleted container.

**Expected behavior**
Should return "false"

**Actual behavior (include Exception or Stack Trace)**
throws Azure.RequestFailedException exception with Status=404 "{The specified blob does not exist.}"

**To Reproduce**
                // Act: Delete container

[2020-03-20 19:02] heaths opened #10748 "PatternAnalyzer and PatternTokenizer should accept an array of RegexFlags"
Because it's expected that multiple `RegexFlags` may be used in `PatternAnalyzer` and `PatternTokenizer`, the `flags` property should be an array of `RegexFlags` that de/serialize as a |-delimited string.

[2020-03-20 20:09] annelo-msft commented on #9703
@maririos, @mayurid , it may be too late to get this into TextAnalytics for the next release, but we were hoping to have a common error type in Azure.Core that all the Cognitive Services and possibly other Azure services could use.

[2020-03-20 21:35] brjohnstmsft commented on #10725
Talked with @Yahnoosh about this. Here's the summary:

- Synonym maps are usually authored as text files, and often imported from another system.
- The REST API documentation is misleading about newline always being the separator -- that actually depends on the format. For now, we only support the SOLR format, and newline is the delimiter for that format.
- `Stream` makes sense as a way to ingest

[2020-03-20 22:12] johanste commented on #10725
Based on the fact that the synonym map can be returned to older clients (per https://github.com/Azure/azure-rest-api-specs/blob/8919f8072121d11f0bb61f1c5d02f2f4063d4f48/specification/search/data-plane/Microsoft.Azure.Search.Service/preview/2016-09-01-preview/searchservice.json#L704), it is very likely a change that requires a new API version per Azure's versioning rules.

Let's follow up ones we h

[2020-03-20 22:40] #10264 closed

[2020-03-20 23:35] brjohnstmsft commented on #10725
@johanste True, I forgot about the round-tripping rule.

[2020-03-20 23:41] heaths commented on #10725
What about taking a Stream + format, or either a string or array of strings with SOLN assumed? Looking through a few examples, there are some that pass `\n` like https://docs.microsoft.com/en-us/rest/api/searchservice/create-synonym-map#-examples--.

[code]

Optionally, if text is always expected (safe assumption, or not?), we could take in a `TextReader` and not have to worry about encoding direc

[2020-03-21 02:36] brjohnstmsft commented on #10725
@heaths Having a constructor that takes a `Stream` or `TextReader` makes sense. I think it's a pretty safe assumption that it will always be text, so `TextReader` is probably fine.

Taking `format` as a parameter is problematic right now because there is only one allowable value (it should be an enum and not a string BTW). We hide it in Track 1 because it's pointless for users to have to pass the

[2020-03-21 07:00] Daniel-Krzyczkowski commented on #10738
Of course, thank you, I am testing this right now.

[2020-03-21 07:47] Daniel-Krzyczkowski commented on #10738
@AlexGhiondea Thank you for the hint, now it works.
However right now I am a bit confused. :)
I was convinced that using Azure.Identity package together with Azure.Security.KeyVault.Secrets package it enough and we can access the Key Vault secrets automatically.

This is the code I used before:

`
string keyVaultUrl = configuration["KeyVaultSettings:Url"];
`
`
var secretClient = new SecretClient(n

[2020-03-21 19:54] rahulpnath commented on #8658
Update to [my issue](https://github.com/Azure/azure-sdk-for-net/issues/8658#issuecomment-599130437) above

I created new user in Azure AD and used that to log in. This user is separate from that I used to create/login to the Azure Subscription. It works fine with the new user.

[2020-03-21 21:13] abhilasharora opened #10759 "KeyVault Secrets SDK throws AuthenticationFailedException forcing additional dependency on Azure.Identity"
**Bug Description**
`Azure.Security.KeyVault.Secrets.SecretClient` throws `Azure.Identity.AuthenticationFailedException` in case the `Azure.Core.TokenCredential` passed to it could not be used. For example, when a user tries to fetch a secret from the key vault using `DefaultAzureCredential` but an approprite credential as described [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk

[2020-03-22 05:38] chinwobble commented on #10018
@pakrym we also encountered this problem and would like to see this functionality added.

In our use case, the request-id needs to be dynamic.
See #10056

[2020-03-22 05:39] chinwobble commented on #10056
Thanks this workaround is not ideal but we were able to move forward with it.

[2020-03-22 05:39] #10056 closed

[2020-03-22 05:44] mymatrixpixel commented on #10543
@jongio I have fixed the issue. azure key vault is mapped into different tenant I'd. Now am all set and verified its working as expected

[2020-03-22 05:44] #10543 closed

[2020-03-22 16:01] sharma-pratik commented on #4534
In azure portal Endpoint is given as "https://westcentralus.api.cognitive.microsoft.com/face" , hence when user use that endpoint , the sdk internal try to create endpoint according to the operation user using. For e.g. by calling method detect_with_url() , it will convert the endpoint to "https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect" which right. But the endpoint shown in po

[2020-03-22 18:28] annelo-msft commented on #10465
@ctstone  addressed in preview 2 design.

[2020-03-22 18:28] #10465 closed

[2020-03-22 18:38] annelo-msft commented on #10736
Duplicate of #10643

[2020-03-22 18:38] #10736 closed

[2020-03-23 02:06] annelo-msft opened #10766 "[Design] Design FormRecognizer Copy Model Feature"
See: https://github.com/Azure/azure-rest-api-specs/pull/8349

[2020-03-23 02:07] annelo-msft opened #10767 "[Design] Design FormRecognizer Checkboxes Feature"
Design the CheckBox feature for Form Recognizer.

[2020-03-23 02:08] annelo-msft opened #10768 "[Design] Design FormRecognizer Business Cards Feature"

[2020-03-23 02:09] annelo-msft opened #10769 "Design FormRecognizer Composed Model Feature"

[2020-03-23 05:53] sergiosolorzano commented on #8169
Thank you @seanmcc-msft , yes I had added Azure.Storage.Blobs. I then started with a new fresh project and reinstalled all packages and it worked fine, possibly an extra package i added that messed things

[2020-03-23 14:47] sebader opened #10784 "[QUERY] Best way to create a new, empty blob?"
**Query/Question**
With the latest Azure.Storage.Blob SDK (v12), what is the best way to create a new, empty block blob? Currently I'm using this but not sure if this is the best way, using an empty MemoryStream?!

[code]

**Environment:**
 - Name and version of the Library package used: Azure.Storage.Blobs 12.4.0
 - Hosting platform or OS and .NET runtime version: .NETCore 3.1

[2020-03-23 15:48] kasobol-msft commented on #10629
@vanillajonathan [The documentation](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-properties-metadata#set-and-retrieve-metadata) mentions that metadata name/value pairs should adhere to all restrictions any HTTP headers adhere to, so only ASCII characters are allowed. In order to store non-ASCII characters in metadata a transformation like Base64-encode or URL-encode is requir

[2020-03-23 15:49] kasobol-msft commented on #10741
@XuGuang-Yao Please see the answer in https://github.com/Azure/azure-sdk-for-net/issues/10629 .

[2020-03-23 15:56] vanillajonathan commented on #10629
This is quite a limitation. I imagine it being painful when working with the blob indexing using Azure Azure Cognitive Search and the metadata is stored as JSON.

[2020-03-23 17:16] heaths commented on #10759
Scanning the source for all our services, the only place where an `AuthenticationFailedException` is even instantiated is in Azure.Identity, which means you already would have had to include Azure.Identity to use any code like `DefaultAzureCredential` that throws `AuthenticationFailedException`. Could you clarify how you're getting this exception without already having a dependency on Azure.Identi

[2020-03-23 18:21] mikeharder opened #10788 "[Feature Request] Deserialize message sent from WindowsAzure.ServiceBus (Track Zero)"
We might want to add an API, sample, or document explaining how to deserialize a message sent from `WindowsAzure.ServiceBus` (the "Track 0" SDK).  To run the following repro, create a .NET Framework console app (not .NET Core) and add package references to `WindowsAzure.ServiceBus`  (Track 0) and `Azure.Messaging.ServiceBus` (Track 2).

[code]

[2020-03-23 18:44] kaerm opened #10790 "Search package reference docs do not show on azure.github.io"
Missing link for the new preview of the libraries: https://azure.github.io/azure-sdk-for-net/search.html

https://www.nuget.org/packages/Azure.Search/11.0.0-preview.1

[2020-03-23 18:45] kaerm commented on #10790
Same as for Python: https://github.com/Azure/azure-sdk-for-python/issues/10449

[2020-03-23 18:47] #10746 closed

[2020-03-23 18:48] seanmcc-msft commented on #10746
The fix will be out with our next release, which will probably be the first week in April.

[2020-03-23 19:25] jsquire commented on #10788
Minor note:  `WindowsAzure.ServiceBus` is the Track Zero client.    `Microsoft.Azure.ServiceBus` is the Track One client.    Our approach to date has been to provide a migration guide for moving from T1 => T2.    I don't know how much value there would be in the efforts to bridge from T0 => T2

[2020-03-23 19:28] jsquire commented on #10788
The other thing that I'd like to mention is that the client libraries for T1 and T2  are intentionally agnostic to the body of messages, treating them only as a blob of bytes.   Were we do decide that it makes sense to demonstrate this, a sample would be the appropriate vector unless the architect board changes its stance from the conversations in the Event Hubs design on whether we should conside

[2020-03-23 19:33] mikeharder commented on #10788
@jsquire: For context, I ran into this issue because the DevOps task [PublishToAzureServiceBus](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-to-azure-service-bus?view=azure-devops) publishes messages using the Track 0 format.

[2020-03-23 19:43] jsquire commented on #10788
Thanks, @mikeharder. That's helpful context for prioritization.  If we're seeing mainstream cases like this, it definitely sounds like we should cover it in a sample.

[2020-03-23 19:44] #8238 closed

[2020-03-23 19:44] #8252 closed

[2020-03-23 19:44] #8853 closed

[2020-03-23 19:44] #8854 closed

[2020-03-23 19:45] #8855 closed

[2020-03-23 20:08] jsquire commented on #10788
For more context, it appears that this issue exists in the track one library as well, where it is worked around by use of two types in the `Extensions` namespace, one of which provides a special serializer and the other which offers an extension method to the message object.   These can be seen in the following locations:

- [Serializer](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/s

[2020-03-23 20:37] chidozieononiwu commented on #10790
The issue here is that the Packages Directory Name in the repo `Azure.Search.Documents` which happens to also be the project name is different form the names used to publish the Nuget Package `Azure.Search` which happens to be the names used to publish the docs to blob storage. These names will have to match because github.io depends on consistent namint to be able to pickup ad display the docs.

[2020-03-23 20:40] scbedd commented on #10790
I'm betting it's because they released with the previous name, then re-named in place. This is exactly what bit Python.

[2020-03-23 21:38] ylibrach opened #10793 "[FEATURE REQ] Page<T> and Response<T> should implement or inherit from a common ancestor"
**Library or service name.**
What library or service is this request related to? Azure.Core

**Is your feature request related to a problem? Please describe.**
Currently, `Page<T>` is a basic class that has no inheritance or implementation chain. However, it is in fact very similar to a `Response<T>` - it is a page of results that come down through a `Response`. Accordingly, both types have the `G

[2020-03-23 22:12] heaths opened #10794 "Update guidance for writing samples"
https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-samples is not up to date about how to use markdown files with source files.

[2020-03-23 22:17] abhilasharora commented on #10759
The configuration provider `Microsoft.Extensions.Configuration.AzureAppConfiguration` for Azure App Configuration allows users to connect to configuration store using `TokenCredential`. It does not have a dependency on `Azure.Identity`, so we don't have a good way to handle this exception. When the configuration provider tries to use the key vault SDK, it throws the `AuthenticationFailedException`

[2020-03-23 22:37] seanmcc-msft commented on #10784
Which type of blob would you like to create?  Block, Append, or Page?

[2020-03-23 22:38] maririos commented on #9703
Thanks for bringing this to my attention again Anne. I am looking into it

[2020-03-23 22:52] JoshLove-msft commented on #9876
This is done.

[2020-03-23 22:52] #9876 closed

[2020-03-23 22:53] JoshLove-msft commented on #9886
Only outstanding issue is how to get the State populated.

[2020-03-23 22:53] annelo-msft commented on #9703
Thanks, @maririos !

[2020-03-23 23:05] heaths commented on #10759
The Key Vault SDK is not throwing this exception nor does it have a dependency on Azure.Identity. If a customer uses Azure.Identity to, for example, use a `DefaultAzureCredential` for authentication, it is throwing the exception.

We could, however, consider moving this exception to Azure.Core, on which all Azure.* packages depend. We can't take a direct dependency on Azure.Identity.

/cc @schaabs

[2020-03-23 23:08] pakrym commented on #10759
This is a good one, without AuthenticationFailedException being in Core library authors can't handle authentication exceptions.

We should consider using TypeForwarding and moving the exception to azure.core

[2020-03-23 23:34] YevgenBorodkin opened #10796 "[FEATURE REQ] Introduce IsDirectory to PathProperties class"
[Azure.Storage.Files.DataLake]

It would be convenient to be able to get information if a path is a file or a directory using just PathProperties class. So that there is no need to go to metadata and use the "magic" key for that.

Currently:
`PathProperties.Metadata.ContainsKey("hdi_isFolder");`

Expected:
`PathProperties.IsDirectory;`

[2020-03-23 23:45] mikeharder opened #10797 "ServiceBusProcessor: AutoComplete has race condition with StopProcessingAsync"
The `ServiceBusProcessor.AutoComplete` feature has a race condition with the `StopProcessingAsync()` method.  The following code does **not** cause the message to be completed:

[code]

I believe the issue is a race condition where my app code is calling `StopProcessingAsync()` immediately after `tcs.SetResult(true)` is called inside the event handler, which causes the processor to stop before it

[2020-03-23 23:46] annelo-msft opened #10798 "Add support for getting LabeledFormField Value as Array or Object"
Will need to get example forms that generate these.

[2020-03-23 23:46] annelo-msft opened #10799 "Add support for getting LabeledFormField Value as Array or Object"
Will need to get example forms that generate these.

[2020-03-23 23:47] annelo-msft commented on #10799
Duplicate of #10798

[2020-03-23 23:47] #10799 closed

[2020-03-23 23:50] JoshLove-msft commented on #10797
Agree that StopProcessing should allow for in flight message processing to complete. Under the hood, it is actually already doing this, but the cancellation token that we use to signal that the processing should be stopped is threaded through to the Complete call used during autocompletion. A simple fix would be to not propagate this token through for the complete call.

[2020-03-24 00:38] annelo-msft opened #10800 "Cognitive: Standardize on Filter semantics"
Filters are used in FormRecognizer, Translator Text, and potentially other Cognitive Services.  Standardize on filter semantics cross-cognitive.

[2020-03-24 00:39] annelo-msft commented on #10800
FYI: @ChrisHMSFT, @assafi

[2020-03-24 00:39] annelo-msft opened #10801 "Form Recognizer: Move to standardized Cognitive Filter semantics"
Dependent on #10800

[2020-03-24 01:10] annelo-msft opened #10802 "[LROs:] Incorporate use of private _cancellationToken into UpdateStatusAsync"

[2020-03-24 02:23] SeanFeldman commented on #9886
Having an issue number with that sentence would be very helpful.

[2020-03-24 03:02] JoshLove-msft commented on #9886
It is this issue. I am leaving it open since this is not yet resolved.

[2020-03-24 03:14] SeanFeldman commented on #9886
It reads as if that a separate chunk of work, unrelated to this issue. My bad.

[2020-03-24 03:16] JoshLove-msft commented on #9886
No worries. I should have said only outstanding "item"

[2020-03-24 06:24] #10741 closed

[2020-03-24 07:09] sebader commented on #10784
Block blobs

[2020-03-24 12:51] jsquire commented on #10499
This is done.  The change went in with #10749.

[2020-03-24 12:51] #10499 closed

[2020-03-24 13:04] jsquire commented on #10793
//cc: @pakrym, @KrzysztofCwalina

[2020-03-24 13:50] pakrym commented on #10793
What would be an example of a method you would accept the common type into?

[2020-03-24 14:12] annelo-msft commented on #10798
@kristapratico @mayurid - these are not supported coming back from supervised models in the v2.1 timeframe.

[2020-03-24 14:12] #10798 closed

[2020-03-24 14:21] ylibrach commented on #10793
We have an "observer" method that receives the responses for all Cosmos DB requests, and updates Prometheus metrics based on the request charge for that response.

[2020-03-24 14:38] diegosasw opened #10814 "Upload blob async frozen when using memory stream, no error"
I'm experiencing a problem with Azure.Storage.Blobs 12.4.0
No error, just frozen forever when trying to upload a stream (an in-memory json string) using Azurite.

It seems the server receives the attempt, but does nothing and the API does not throw any error either:
[code]

Azurite is running, I can access with the Azure Blob Storage Explorer and generate a sas token uri pasted below.

My code:
[c

[2020-03-24 14:42] sunnyatticsoftware commented on #10814
I've also tried with a real azure blob storage with a sas uri:
[code]

same result, so it does not seem related to Azurite, it must be something in my code sample or with the Azure.Storage.Blobs 12.4.0

[2020-03-24 14:51] sunnyatticsoftware commented on #10814
Just ran another test with a different stream. This time I read a PDF
and it works fine for both real Azure Blob Storage and Azurite.
So the problem is with the memory stream
[code]
Not sure why, or why it does not throw any error.

The sample below works fine.
[code]

[2020-03-24 14:57] pakrym commented on #10793
But you can achieve the same thing by having a method that takes `Response` and calling `.GetRawResponse()` on pageable when needed.

[2020-03-24 15:07] ylibrach commented on #10793
Sorry, I probably should have elaborated a bit more - this method takes in the delegate of the asynchronous task to be executed (eg, `Func<Context, CancellationToken, Task<T>> where T : Azure.Response<R>`). It then executes that delegate, monitors it, and records Prometheus metrics accordingly (along with some other operations). So, this method doesn't know what exact return type it's working with

[2020-03-24 15:47] pakrym commented on #10793
So would adding a couple overloads for this method that know how to inspect [Async]Pageable help? E.g. `Func<Context, CancellationToken, Task<T>> where T : Azure.Pageable<R>` and another that takes `Func<Context, CancellationToken, Task<T>> where T : Azure.AsyncPageable<R>`

[2020-03-24 16:01] KrzysztofCwalina commented on #10793
`Page<T>` has a 'IReadOnlyList<T> Values { get; }' property. `Response<T>` has a 'T Value { get; }' property. If `Page<T>` inherits from `Response<T>`, what would the `Value` property return when called on `Page<int>`?, i.e. which `int` would it return?

[2020-03-24 17:01] ylibrach commented on #10793
I'm proposing that `Page<T>` and `Response<T>` implement/inherit a common ancestor, and not that `Page<T>` inherit `Response<T>`.

One possible solution is to introduce something like an `IResponseEnvelope` interface that has a `GetRawResponse()` method on it, and have `Page<T>` and `Response<T>` both implement that interface.