[2021-10-29 20:57] logiclrd commented on #25011
My analysis, just to provide additional information, is based on two independent things:

1) Observing memory usage grow very rapidly in a process that is running on .NET Core 3.1 and uploading a large file.

2) Looking at the implementation of `UploadAsync` in GitHub.

I am poking at it further to gather more information and confirm or deny my hypothesis.

[2021-10-29 21:03] logiclrd commented on #25011
The first link, from `BlobClient.UploadAsync` to `BlobOperationsExtensions.UploadAsync`, is the result of GitHub's analysis and cross-linking, but on closer analysis, it's a false positive. There isn't actually any connection between those two things, as far as I can see.

But, I do see a massive increase in memory usage trying to upload a large file with `BlobClient.UploadAsync`.

[2021-10-29 21:06] mikeharder opened #25026 "[EventHubs] Add doc comments to perf tests"
https://github.com/Azure/azure-sdk-for-net/pull/22760#discussion_r737467118

[2021-10-29 21:14] ValOlson commented on #25010
Hi @sourabhkrishna,

It should work if the caller passes “{deviceId}{space}{moduleId}” as device id to the GetDevice () method. Can you try that and let us know if you are still getting only Device Id's returned?

+ @xinanqiu

[2021-10-29 22:01] j2jensen commented on #18886
Just as an update, the documentation linked to in this issue [now says](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp#additional-types):

[2021-10-29 22:45] SaurabhSharma-MSFT commented on #13272
@jfggdl Can you please help on this.
@kevinp Were you able to add this feature to uservoice earlier ?

[2021-10-29 23:14] AhmedLeithy opened #25027 "[CLU] Create a ConversationsProject bag containing the ProjectName and DeploymentName"
To be consistent with Question Answering, we should have a class dedicated to holding the a Conversation project's `ProjectName` and `DeploymentName`. See [QuestionAnsweringProject](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/QuestionAnsweringProject.cs) for reference.

[2021-10-29 23:20] #24672 closed

[2021-10-29 23:35] AhmedLeithy opened #25028 "[CLU] Set up new testing resources that support LUIS orchestration test"
Currently samples for LUIS orchestration are ignored because the testing resources being used do not reference a LUIS resource. For this issue, two things need to be done:

- Creating an appropriate resource for testing. We have the resource leithyta-sdktesting that can be used for this, but we would like to have a resource with a more generic prefix like "coglang", preferably one that resides wit

[2021-10-29 23:37] AhmedLeithy opened #25029 "[CLU] Move models to root"
We would like to move our models' into the root namespace of the project.

[2021-10-30 00:03] SaurabhSharma-MSFT commented on #13422
@WhitWaldo Following up again to know if we can close this issue.

[2021-10-30 00:04] SaurabhSharma-MSFT commented on #17253
@Salazander Following up again to know if you still need help on this issue.

[2021-10-30 00:09] SaurabhSharma-MSFT commented on #17354
@ItayPodhajcer Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know.

[2021-10-30 00:10] SaurabhSharma-MSFT commented on #17482
@AlexGilliland Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:11] SaurabhSharma-MSFT commented on #17496
@jharry87 Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:11] SaurabhSharma-MSFT commented on #17499
@hem-sharma Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:17] SaurabhSharma-MSFT commented on #17584
@TarekMansour Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 00:19] SaurabhSharma-MSFT commented on #17656
@makhin Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

@JinyuID, @dipidoo, @SteveMSFT can you please help looking into this issue.

[2021-10-30 00:35] SaurabhSharma-MSFT commented on #18793
@nirnaymsft Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:22] SaurabhSharma-MSFT commented on #17971
@ershadnozari Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:33] SaurabhSharma-MSFT commented on #17903
@logtosachin993
Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:34] SaurabhSharma-MSFT commented on #17927
@coppercosmo
Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:36] SaurabhSharma-MSFT commented on #17952
@gdryke Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:40] SaurabhSharma-MSFT commented on #18044
@shibayan Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 01:40] sourabhkrishna commented on #25010
@ValOlson thanks. Works fine.

[2021-10-30 01:46] SaurabhSharma-MSFT commented on #18279
@qub1n Following up again to know if your issue is resolved.

[2021-10-30 01:56] SaurabhSharma-MSFT commented on #18752
@ivanscattergood Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 02:02] SaurabhSharma-MSFT commented on #11301
@olavt Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still looking for assistance on this query? Please let us know .

[2021-10-30 03:37] nickzhums commented on #13422
FYI package is here: https://www.nuget.org/packages/Azure.ResourceManager.Dns/1.0.0-preview.1

[2021-10-30 06:58] #24957 closed

[2021-10-30 13:55] shibayan commented on #18044
Yes, this issue is still affecting us.

The essence of the problem is that ADLS Gen 2 is returning a 500 error but the write is still successful, but with the current SDK, once you get a 412 error, you have to discard the current state and start over.

[2021-10-30 16:39] hem-sharma commented on #17499
@SaurabhSharma-MSFT Yes, I am not using it as of now but can you shed some light on the SDK usage in gerneral to manage azure resources.

[2021-10-30 22:21] mastoj opened #25030 "Incorrect example for connectionString"
The example usage for connectionString seems to be wrong, the example used is the one that separates the host and the secret and not one connectionString.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181b236e-e273-f74a-127b-3272c9503509
* Version Independent ID: 55f2e104-b76d-84a0-f474-bb63bde139fe
* Content: [Cosmos

[2021-10-31 04:24] KranthiPakala-MSFT commented on #16828
@nisha-bhatia - Following up to see if there is any update on this feedback? - Thank you

[2021-10-31 04:30] KranthiPakala-MSFT commented on #16877
@armleads-azure - Following up to see if there is any update on this issue? - Thank you

[2021-10-31 05:17] KranthiPakala-MSFT commented on #21185
@onlywithlad We still have not heard back from you. Just wanted to check if you still need assistance on this? Please let us know if this issue can be closed.

Thank you

[2021-10-31 05:18] KranthiPakala-MSFT commented on #21226
@christopherbuchanan Could you please share the details requested by @JoshLove-msft ? - Thank you

[2021-10-31 05:32] KranthiPakala-MSFT commented on #11904
@stephbaron Following up to see if there is any update on the following query. Thank you

[2021-10-31 05:55] KranthiPakala-MSFT commented on #12203
@ilayrn , @orhasban , @astauben - Following up to see if there is any update on this issue? - Thank you

[2021-10-31 06:56] ItayPodhajcer commented on #17354
Been a while since I touched that code, but I'll be happy to learn about any solution/workaround for the issue.

[2021-10-31 11:36] zsybupt commented on #12991
@SaurabhSharma-MSFT  We use a workaround, and do not use this approach now

[2021-10-31 14:53] logiclrd commented on #25011
I inspected the code and found that the upload process, in inherently supporting retries, requires that earlier data in the stream be accessible. As such, if you supply an unseekable stream, it _must_ copy it to a seekable buffer to support retries.

Further inspection revealed that it is possible to disable parallel transfers with `MaximumConcurrency` setting in `BlobUploadOptions` and set the si

[2021-10-31 15:44] logiclrd commented on #25011
Update: I interrupted the network after the first block had been staged, which in theory should only have required retrying the second block, but the Azure Blob Storage SDK code wanted to rewind the stream right back to the start even though the first block should have already been sent. 🤔

[2021-10-31 15:47] logiclrd commented on #25011
Looking at the code more closely, in theory, letting it use `GetBufferedPartitionInternal` should be close to identical, functionally. But, there is no way to communicate the length of the stream if it is not seekable.

[2021-10-31 18:07] WhitWaldo commented on #13422
I'm looking forward to circling back to implementing this. Yes, this can be closed. Thank you!

[2021-10-31 18:07] #13422 closed

[2021-10-31 19:09] SeanFeldman commented on #15097
@kevinlam1 would it be possible to nudge internal folks? Got to admit that it's quite frustrating to see issues like this where broken internal communication is exposed.

[2021-10-31 19:13] SeanFeldman commented on #15097
@jsquire, do you not have the right to transfer the issue? And if you don't, could you raise a new one (I've seen folks doing that on behalf of the users raising issues in the .NET SDKs repo) rather than just backlogging?
I understand that it's not your job to chaise the messaging team and ensure they raise the issues. However, it would be helpful if issues don't just get buried in the backlog her

[2021-10-31 20:22] logiclrd commented on #25011
I believe I have resolved that issue. It required `StorageTransferOptions.InitialTransferSize` to be set to a value no larger than the ringbuffer size. :-)

So, I think I have a valid work-around, _but_ it's an awful lot of work to support large restartable uploads on non-seekable streams in a resource-constrained environment:

* It requires sophisticated code on my end to buffer only just as much

[2021-10-31 21:52] amishra-dev commented on #24841
@schaabs i think the ask is of the Keyvault SDK, could you let me know if i misunderstood. Thanks

[2021-10-31 21:54] amishra-dev commented on #25011
@jaschrep-msft can we please create a documentation task to get this documented in the backlog?

[2021-10-31 23:44] #17971 closed

[2021-10-31 23:45] ershadnozari commented on #17971
Issue to old to recall my resolution on this,

[2021-11-01 01:20] lilyjma commented on #22446
@ilia-cy : I'm assuming this issue has been resolved. Tagging it as so. Please feel free to let us know otherwise.

[2021-11-01 01:21] lilyjma commented on #23421
@momoliu-msft :  I'm assuming this issue has been resolved. Tagging it as so. Please feel free to let us know otherwise.

[2021-11-01 01:22] lilyjma commented on #23466
@EdiWang - I'm assuming this issue has been resolved. Tagging it as so. Please feel free to let us know otherwise.

[2021-11-01 01:23] lilyjma commented on #23473
@schuettecarsten -  I'm assuming this issue has been resolved. Tagging it as so. Please feel free to let us know otherwise.

[2021-11-01 02:03] lilyjma commented on #14265
@digeler - did the response above answer your question?

[2021-11-01 02:05] lilyjma commented on #14920
@plettb - did the response above help answer your question?

[2021-11-01 02:06] lilyjma commented on #14936
@anktsrkr  - I'm assuming this issue has been resolved. Tagging it as so. Please feel free to let us know otherwise.

[2021-11-01 02:10] fengzhou-msft opened #25033 "Add CI check for the package version in readme"
Add a check of the package version in the `Install the package` section of the readme in the analyze step of our pipelines to validate this line is updated when releasing a new version.

[2021-11-01 03:11] weidongxu-microsoft commented on #14265
New SDK will be on https://aka.ms/azsdk/dotnet/mgmt

[2021-11-01 07:16] #24845 closed

[2021-11-01 08:04] #24859 closed

[2021-11-01 08:19] raj4all commented on #23568
Thanks for the reply.
Yes this works as a workaround.

[2021-11-01 08:29] kinelski commented on #23568
That's great! Feel free to open a new issue and please let us know if you have further questions.

[2021-11-01 08:29] #23568 closed

[2021-11-01 10:37] biswajitsamal59 opened #25034 "[QUERY] Form Recognizer custom models and JSON"
**Query/Question**
I am using Azure Form Recognizer custom model to extract line and table data from PDF files. For few scenarios it's not able to extract all the rows of a table (i.e. If a table contains 20 rows, it's extracting 19 rows and not able to extract last one). Is there any way so that I can compare extracted json values and file content to check if Form Recognizer is not able to extrac

[2021-11-01 10:45] wosfilm opened #25035 "Uploading blobs to Azurite doesn't work with production urls and Azure.Storage.Blobs nuget"
**Describe the bug**
Using Azurite as emulator, uploading a blob using a BlobClient generated from a BlobContainerClient fails, but uploading a blob when the BlockBlobClient is created the constructor that takes connection string, container name and blob name works.
See [https://github.com/Azure/Azurite/issues/1140](url)

**Expected behavior**
The blob should be successfully uploaded.

**Actual be

[2021-11-01 12:10] jsquire commented on #25034
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-01 12:43] amshalev commented on #24075
Hi @jsquire, is there any update\ETA regarding this request?
I'm working on migrating our code (Kusto's EventHub data connection) from EventProcessorHost to EventProcessorClient.
I have the exact same problems which @GeeWee described, our code and design based on batch processing, which is missing in the new SDK, so currently it's blocking the migration.

[2021-11-01 12:46] jsquire commented on #15097
Hi @SeanFeldman.   Thanks for the ping;  the backlog assignment was part of a triage script that identified this issue because tagging was changed to a `feature-request` which requires a milestone.   This is the first time that I've looked in on this since the initial triage.

I just caught up on the thread;  I'm not sure why the transfer wasn't performed when it was identified as needed, but I'll

[2021-11-01 12:48] #15097 closed

[2021-11-01 12:48] jsquire commented on #15097
Issue moved to [Azure/azure-service-bus #453](https://github.com/Azure/azure-service-bus/issues/453) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-01 12:58] jsquire commented on #24075
Hi @amshalev.   No updates at this time.   This will take some time to move forward, as it requires multiple rounds of internal discussion and design proposals before we'll have an understanding of the outcome.  At that point, any changes would need to be prioritized and scheduled.  The bottom line is that, though this is something that I'd really like to do, it'll be a longer-term effort.

I do w

[2021-11-01 13:29] dylanmorley opened #25036 "Azure.Messaging.ServiceBus : ServiceBusMessage - support more body types"
**Library or service name.**
Azure.Messaging.ServiceBus

**Is your feature request related to a problem? Please describe.**

Currently, the ServiceBusMessage class only supports Data as a body type when performing a clone - it will throw a [NotSupportException on an AMQP 'Value' body type](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Primitives

[2021-11-01 13:29] wosfilm commented on #25035
A similar issue reported regarding TableService might be related: [https://github.com/Azure/Azurite/issues/1141](url)

[2021-11-01 14:02] hebaelfadly opened #25037 "[BUG] QnA Maker return wrong answer for exact questions"
**Describe the bug**
I am trying to upload a QnA pairs excel file to through https://www.qnamaker.ai/ or through the API no difference.
The file is uploaded normally, but when I try to test it through the test panel same questions are answered normally, some return wrong answer, and the others returns No good match found in KB.

For example:

**Question**: "أنا أعمل في أبوظبي والخطيبة من دبي فكيف

[2021-11-01 14:17] amshalev commented on #24075
Thanks for the quick reply!
I see... the problem with using the `EventProcessor<T>` is that it requires to rewrite\copy a lot of code which already exists in `EventProcessorClient`, however, after looking on the code it seems that using the `BlobsCheckpointStore` will make it much easier.
But I was disappointed to find that `BlobsCheckpointStore` class marked as `internal`, could you consider chan

[2021-11-01 14:30] jsquire commented on #24075
Unfortunately, we can't just flip that type to public.  Anything that we make part of the public API has to go through an API approval process and review, and comes with a strong backwards compatibility guarantee.    The approach that we'd need to take for that path is the first option that I wrote up above - and what would by my preferred path.

The existing `BlobCheckpointStore` implementation i

[2021-11-01 14:36] jsquire commented on #25036
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-01 14:39] jsquire commented on #25037
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-01 14:46] KranthiPakala-MSFT commented on #14027
@JinyuID , @dipidoo , @SteveMSFT - Could you please have a look at this feedback and share your thoughts? - Thank you

[2021-11-01 15:13] amshalev commented on #24075
I'm aware that I can pull this code to my project, but I don't think that's a right and maintainable solution.
I guess that we will stay with `EventProcessorHost` for now and will wait for progress of one of the options you've suggested.
Thanks

[2021-11-01 15:29] KalyanChanumolu-MSFT commented on #25030
@mastoj Thank you for reporting this issue. We are investigating and will get back to you soon.

[2021-11-01 16:09] FrederikVigen commented on #17835
I had exactly the same issue on this for .net 6.0 in Azure Functions with just the boilerplate code for .net 6.0 not in isolated process:
[code]

[2021-11-01 16:23] SaurabhSharma-MSFT commented on #25010
@sourabhkrishna Thanks for the confirmation.  We are closing this issue for now.  Please feel free to open a new issue if you have any other questions.

[2021-11-01 16:23] #25010 closed

[2021-11-01 16:47] Karishma-Tiwari-MSFT commented on #24655
@ryo-0813 Checking in if you get a chance to look at the comment above and were able to resolve it? Let me know. Thanks.

[2021-11-01 16:49] Karishma-Tiwari-MSFT commented on #24541
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-01 16:49] #24541 closed

[2021-11-01 16:49] Karishma-Tiwari-MSFT commented on #24634
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-01 16:49] #24634 closed

[2021-11-01 16:50] Karishma-Tiwari-MSFT commented on #24782
@pockyhe Did you get a chance to look at the comment above and did it help resolve your query? Please let me know. Thanks.

[2021-11-01 16:53] KranthiPakala-MSFT commented on #14067
@joergbattermann Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So wanted to check if you are still facing the issue and need assistance on this query? Please let us know .

[2021-11-01 16:55] ramya-rao-a commented on #9473
@shankarsama Please consider moving this issue to https://github.com/Azure/azure-service-bus/issues where you track feature requests for the service

[2021-11-01 17:07] ramya-rao-a commented on #7690
@jub1482 and @Rayzbam

Please note that the package `Microsoft.Azure.ServiceBus` has now been deprecated in favor of `Azure.Messaging.ServiceBus`. Since the deprecated package will only be taking critical bug fixes, fix for this bug will not be considered. We strongly encourage you to upgrade to the new package. Read the [migration guide](https://aka.ms/azsdk/net/migrate/sb) for more details

[2021-11-01 17:07] #7690 closed

[2021-11-01 17:24] heaths commented on #25037
@rokulka this appear to be an issue with the QnA portal itself.

[2021-11-01 17:28] SaurabhSharma-MSFT commented on #25035
@wosfilm We are looking into it and get back to you on the same.

[2021-11-01 17:36] #9473 closed

[2021-11-01 17:36] jsquire commented on #9473
Issue moved to [Azure/azure-service-bus #454](https://github.com/Azure/azure-service-bus/issues/454) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-01 17:40] #8291 closed

[2021-11-01 17:40] jsquire commented on #8291
Issue moved to [Azure/azure-service-bus #455](https://github.com/Azure/azure-service-bus/issues/455) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-01 17:41] maririos commented on #24516
PR https://github.com/Azure/azure-sdk-for-net/pull/24966 merged into branch https://github.com/Azure/azure-sdk-for-net/tree/hotfix/textanalytics511

[2021-11-01 17:41] #24516 closed

[2021-11-01 17:42] maririos opened #25040 "Text Analytics Client Library for .NET - February Milestone"
For general summary and goals, please see: [Language Pillar Commitments for Text Analytics 3.2 (July 2021-March 2022) [#3080]](https://github.com/Azure/azure-sdk/issues/3080).  The work items linked to this issue herein represent the tasks needed to produce the .NET Text Analytics client library for the current milestone.

# Design, Review, and Planning

- [ ] Create issues and perform resource pl

[2021-11-01 17:45] maririos opened #25041 "Use a dynamic resource for our live tests"
Currently, we are using a persistent resource because we are still working with the service team on how to dynamically train the custom models and consume them from any resource created under our subscription.
Once the service provides us with the right APIs and gives us the green light, we should go back to dynamic resources.

[2021-11-01 18:24] Tealons commented on #23713
We got the response from the support team that there is a bug in some of the clusters in Azure. Apparently, the MSI endpoint on some clusters have become stuck in a faulty state induced by a high number of token requests by a site running in the cluster. The product team is aware of this and is working on a fix, but no ETA is given at this moment. The current advice is to restart your functions wh

[2021-11-01 19:08] #24322 closed

[2021-11-01 19:10] AshleyAsh90 commented on #24906
Hello, @schaabs , @christothes Just want to check again on this-what would be a neat way to logout the persisted user? How can I change the user who is logged in other than by deleting the saved Authentication Record and allowing a new Authentication Record to be created. Is there a better way to do that? Because the MSAL Cache is still persisted regardless of deleting the AuthenticationRecord and

[2021-11-01 19:19] joergbattermann commented on #14067
This issue can still be reproduced as originally reported @KranthiPakala-MSFT.

[2021-11-01 19:27] JoshLove-msft commented on #25036
Hi @dylanmorley,
This was an oversight - it should be possible to construct a ServiceBusMessage from a ServiceBusReceivedMessage that uses a Value or Sequence body type, in addition to the already supported Data body type. We will get this fixed.

[2021-11-01 19:35] annelo-msft opened #25045 "[LLC] Design serialization for LLC models s.t. it addresses broader issues"
Related issues:
- https://github.com/Azure/azure-sdk-for-net/issues/21982
- https://github.com/Azure/azure-sdk-for-net/issues/25699
- https://github.com/Azure/azure-sdk-for-net/issues/14940#issuecomment-859701729

[2021-11-01 19:36] annelo-msft commented on #25045
@maririos @tg-msft @KrzysztofCwalina FYI

[2021-11-01 19:52] jaschrep-msft commented on #25011
@logiclrd if your `StorageTransferOptions` are correct (which you seem to have figured out over the course of this issue) then this buffering as needed code is already in the SDK for you. You should be able to remove your intermediate buffer with your appropriately tuned transfer options and see a limitation on the amount of data you buffer at any given time.

- For safety/retry purposes, the SDK

[2021-11-01 19:52] #25011 closed

[2021-11-01 19:53] benbp commented on #17639
It looks like this issue was fixed a while ago.

[2021-11-01 19:53] #17639 closed

[2021-11-01 21:16] maririos commented on #19903
This work has been done

[2021-11-01 21:16] #19903 closed

[2021-11-01 21:18] maririos commented on #22134
This work has been done

[2021-11-01 21:18] #22134 closed

[2021-11-01 21:26] #25036 closed

[2021-11-01 21:42] andrei-faber opened #25051 "[BUG] Failure when a Uri with a double slash between the storage endpoint and container name is passed to the Storage Client"
**Describe the bug**
Getting the following exception when trying to download blobs using AzureSasCredential or AzurePowerShellCredential:
[code]

**To Reproduce**
The following code fails in the call to the Download() method when using AzureSasCredential and AzurePowerShellCredential (listing containers and blobs works fine).
All operations work fine when using the connection string.

[code]

**En

[2021-11-01 22:02] maririos opened #25053 "Release Document Translation 1.0.0-Beta.6"

[2021-11-01 22:04] maririos opened #25054 "Use `ResponseError` instead of `DocumentTranslationError`"

[2021-11-01 22:06] christothes commented on #16310
this hasn't failed in a long time

[2021-11-01 22:06] #16310 closed

[2021-11-01 22:08] #8692 closed

[2021-11-01 22:09] #17125 closed

[2021-11-01 22:12] maririos opened #25056 "Create a TextAnalyticsProject bag containing the ProjectName and DeploymentName"
To be consistent with Question Answering and Conversations SDKs, we should have a class dedicated to holding the Text Analytics project's ProjectName and DeploymentName. See [QuestionAnsweringProject](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/cognitivelanguage/Azure.AI.Language.QuestionAnswering/src/QuestionAnsweringProject.cs) for reference.

Note: Name and design proposal to be di

[2021-11-01 22:15] KranthiPakala-MSFT commented on #14241
@glecaros  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 22:20] KranthiPakala-MSFT commented on #14483
@miaojiang Following up to see if there is any update on the above issue ? - Thank you

[2021-11-01 22:21] christothes commented on #22314
I am not able to repro this. Duplicate of #23135

[2021-11-01 22:21] #22314 closed

[2021-11-01 22:22] KranthiPakala-MSFT commented on #18971
@ fabiocav Following up to see if there is any update on this issue? - Thank you

[2021-11-01 22:23] KranthiPakala-MSFT commented on #18980
@shankarsama  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 22:26] maririos opened #25057 "Test our library against the new language API"
With the new efforts the `Language API` is bringing, we should do the experiment of having our library target that new endpoint and see what the pain points are so we can communicate them with the service team.

The `Language API` is not yet in feature parity so we can't fully move, but the sooner we can provide feedback, the better.

The point of contact from the service team is @abhahn

[2021-11-01 22:27] maririos commented on #9703
No longer needed as Azure.Core now has `ResponseError` and when appropriate, we are moving our libraries to use that.

[2021-11-01 22:27] #9703 closed

[2021-11-01 22:37] maririos commented on #21802
This is still happening so I just pinged the service issue

[2021-11-01 22:42] maririos commented on #25041
Related to #24928

[2021-11-01 22:45] normand-MSFT opened #25061 "Application Insights: Typo in "Returns" section"
Definition of the Metric return value has a typo.

"A metric witht he specified identify and configuration."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc52e4dc-d9b3-bf24-87d3-2b0b4698c28c
* Version Independent ID: bb3311c7-dddd-9651-eb1f-bfab617f8c72
* Content: [MetricsCollection.GetOrCreate(MetricIdentifier, Metr

[2021-11-01 23:09] KranthiPakala-MSFT commented on #19095
@dkkapur  Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:10] KranthiPakala-MSFT commented on #19283
@shankarsama Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:11] KranthiPakala-MSFT commented on #19461
@esclee @NHaiby @anrothMSFT - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:14] KranthiPakala-MSFT commented on #19523
@CamSoper - Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:16] KranthiPakala-MSFT commented on #19579
@cdnfdsuppgithub Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:20] andrei-faber commented on #25051
PS stack trace
[code]

[2021-11-01 23:26] KranthiPakala-MSFT commented on #23127
@swiftarrow11 Following up to see if there is any update on this issue? - Thank you

[2021-11-01 23:27] KranthiPakala-MSFT commented on #23197
@jsquire Could you please loop in the relevant team who can look into this issue? - Thank you.

[2021-11-01 23:40] gansvv opened #25065 "[QUERY] Can't use Service Principal to test C# SDK. SubscriptionList:'' retrieved for the user/spn id '' error."
**Query/Question**
I am following these steps to test the C# SDK.
https://github.com/Azure/azure-sdk-for-net/blob/main/doc/dev/Using-Azure-TestFramework.md

But I get the following exception,
[code]
Is this a known issue - when I substitute the TEST_CSM_ORGID_AUTHENTICATION environment variable with another (from an older SP that was known to work), it works fine. However, we are not able  to crea

[2021-11-02 00:03] #24986 closed

[2021-11-02 00:44] ShrutiJaiswal1494 opened #25066 "[QUERY]Getting TokenCredentials to connect to azure resources for Desktop Applications"
Hi All,

I am working on a .Net Core Desktop Application that needs to connect to Azure Blob Storage to download some files. To authenticate the requests to storage we need a token to be given during the blob service client creation and I am not sure what’s the correct way to get this token credential.

**Using DefaultAzureCredential**
Reading the documentation here it seems there is an option to

[2021-11-02 01:35] ShrutiJaiswal1494 commented on #17014
Hi @crwells, I am facing the same issue with my Desktop Application where I am authenticating my user using MSAL.NET and I need to access storage in Azure that requires Azure.Identity credential. Were you able to figure out a way to do this/

[2021-11-02 03:01] cylin2000 opened #25069 "[QUERY] Can we get InstanceId for app service workers"
**Query/Question**
How can we help?
1. we can use https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/list-instance-identifiers to get the instance Id for the workers
2. but when we use SDK, webSiteManagementClient.WebApps.ListInstanceIdentifiersAsync can't get the correct instance Id
![image](https://user-images.githubusercontent.com/2646632/139779381-4e77d95e-eabe-4484-95c7-4886fbd6b9b

[2021-11-02 03:07] cylin2000 commented on #25069
The API returned machineName is like following , but SDK didn't return same information
![image](https://user-images.githubusercontent.com/2646632/139780563-e99c08ad-6c83-4c9d-8980-d917b40d6136.png)

[2021-11-02 03:07] HarveyLink opened #25070 "Release Azure.ResourceManager.WebPubSub"
https://github.com/Azure/azure-sdk-for-net/pull/24336

[2021-11-02 03:28] JoshLove-msft commented on #24851
Ok, if the client is only being created once, I think the issue is likely not with the SDK. Is it possible for you to collect a memory dump when the issue occurs? I'm not sure if this is possible with Linux apps, but should be on Windows.

[2021-11-02 03:30] JoshLove-msft commented on #19283
No we don't have a sample for this.

[2021-11-02 04:14] felipevianas commented on #8053
Hello there, anyone else facing this problem in Visual Studio for Mac ?

When I run "az account get-access-token --resource https://vault.azure.net" in the terminal it works and gives me the token, however when I try to debug the application from visual studio for mac I get the following error:

**Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException has been thrown**

"Par

[2021-11-02 04:31] vaibhav29498 opened #25072 "[QUERY] Replacement for Alert.ActionTaken in latest version"
**Query/Question**
We are currently updating the `Microsoft.Azure.Management.SecurityCenter` package from `2.1.0` to `3.0.0`. The `Microsoft.Azure.Management.Security.Models.Alert` class no longer has the `ActionTaken` property. Is there any way to retrieve this property in the latest version?

**Environment:**
 - Name and version of the Library package used: Microsoft.Azure.Management.SecurityCen

[2021-11-02 04:36] bizmonger commented on #18980
This issue has been resolved.

[code]

[2021-11-02 04:36] #18980 closed

[2021-11-02 04:40] logiclrd commented on #25011
Indeed, it appears that the key thing was having `StorageTransferOptions` fully-populated. With default options, it would always try to ascertain the length before starting the upload, buffering the entire stream in the process. But, now that `InitialTransferSize` and `MaximumTransferSize` are set, the original unseekable stream can be provided without memory usage growing without bound.

I just d

[2021-11-02 07:16] michaelbrichko opened #25077 "[QUERY] BlockBlobClient.OpenWrite in v12, ETag issue"
Hi,

We are migrating from one of the previous azure blob SDKs and I want to use OpenWrite method for writing stream to azure blob storage. Previously I was able to do so and the ETag of just written stream was inside the properties of the client whereas now it seems that I must issue a separate network call to retrieve the ETag. Is that so ?
Moreover, in order to know the ETag of just written str

[2021-11-02 08:16] dylanmorley commented on #25036
Amazing, thanks for the speedy turnaround @JoshLove-msft

[2021-11-02 08:25] tpajurek-dtml commented on #23802
Is there any progress on this? We are seeing increase in requests for the blob storage that seem to be completely unnecessary (if not using leases). This increase is very significant when uploading smaller blobs, effectively making the new SDK unusable for us.

Also, these requests was not there in the previous version of SDK.

Permalink for the relevant code section: https://github.com/Azure/azur

[2021-11-02 12:20] AhmedLeithy commented on #25029
closed in #25039

[2021-11-02 12:20] #25029 closed

[2021-11-02 12:23] jsquire commented on #23197
@KranthiPakala-MSFT:  The issue has been tagged for the appropriate team to follow-up.   I do not have insight into the current status or engagement.

[2021-11-02 12:28] jsquire commented on #25065
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-02 12:30] jsquire commented on #25066
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-02 12:31] jsquire commented on #25069
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-02 12:32] jsquire commented on #25072
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-02 12:34] sahithikkss commented on #25037
@hebaelfadly
This appears more like a **_fallback answer_** when the KB did not have any answer for user question.
**"يرجى الدخول على الموقع الالكتروني لموؤسسة الامارات للخدمات الصحية https://www.ehs.gov.ae/ar/Pages/default.aspx"**

A few things to check if my assumption above is correct.

Case 1: Abu Dhabi and Dubai words in user question are present in the actual answer text. So, it is possible

[2021-11-02 12:50] biswajitsamal59 commented on #25034
@jsquire @kinelski Can you please help me this issue.

[2021-11-02 13:00] hebaelfadly commented on #25037
@sahithikkss thanks a lot for your response.

No, it's not the fallback answer, I have not set any fallback answer and the score for the first question is 26.94.
Both questions are found just as is in the KB, even so the corresponding answer is not returned.

Regarding the alternate questions, I have uploaded the excel sheet as separate questions, but the default behavior of QnAMaker import featur

[2021-11-02 13:24] vkornov opened #25079 "MS internal documentation link in a public article"
This article contains a link https://aka.ms/msal-net-sni that leads to MS internal documentation.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.acquiretokenonbehalfofparameterbuilder.withsendx5c?view=azure-dotnet

![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/251923/139855084-3232cc38-2b55-49be-873d-d41b610ab5fb.png)

https://aadwiki.windows-int.net

[2021-11-02 14:11] jsquire commented on #25079
This issue has been transferred to the repository where the `Microsoft.Identity.Client` package is maintained as [#2986](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2986).

[2021-11-02 14:11] #25079 closed

[2021-11-02 14:11] christothes commented on #25066
Hi @ShrutiJaiswal1494 - One clarification: Are you intending to connect to the storage account using a specific that you own identity rather than the identity of the user of the application? Because this is a desktop environment, I don't think there would be a way to protect your credential, no matter how it is acquired.

Have you considered using a [SAS token](https://github.com/Azure/azure-sdk-f

[2021-11-02 14:17] christothes commented on #17427
Some credentials used by DefaultAzureCredential can be configured with a ClientId via the options. Is there a specific scenario where you've found this not to be possible?

[2021-11-02 15:14] #20203 closed

[2021-11-02 16:40] christothes commented on #24906
Probably the safest way would be to delete the persisted cache and start over. Although MSAL does persist the cache, the `TokenCachePersistenceOptions` have a `Name` property that uniquely identifies the cache. So changing that name to a new unique name effectively makes it a new cache without any history.

https://github.com/Azure/azure-sdk-for-net/blob/6a2213dd974db0b934c7d62c309b416c371adbcd/sd

[2021-11-02 16:41] mixolydianist opened #25082 "Layout issue in docs for BlobClient Class"
Hi, there's a problem with the BlobClient Class documentation page, specifically under the 'Methods' section- the method description overflows into the 'Is this page helpful? / In this article' column. Attached a screenshot; occurs on chrome 95.0.4638.54 running on intel/windows 10
![blobclient-layout](https://user-images.githubusercontent.com/82068901/139908078-32252a76-00bf-461a-ba1e-995d123930c

[2021-11-02 16:45] #23157 closed

[2021-11-02 16:55] maririos commented on #25034
Hi @biswajitsamal59 .

Curious, how are you training your data? Are you using the Labeling tool? or the SDK for it?

[2021-11-02 17:09] Mohit-Chakraborty opened #25083 "[ACR] Support anonymous authentication for ContainerRegistryBlobClient"
See
* https://docs.microsoft.com/azure/container-registry/anonymous-pull-access
* https://github.com/Azure/bicep/issues/5031

[2021-11-02 17:24] ShrutiJaiswal1494 commented on #25066
Hey @christothes, Thanks for the reply. My application will be Microsoft internal. So I want everyone with Microsoft account to have access but I am not sure how to do it. For your suggestion of SAS token, I am already using a SAS with user delegation key to time-bound the access.
My only concern is how to get a `TokenCredential` to build a service client for different users when using the App. Ot

[2021-11-02 17:36] biswajitsamal59 commented on #25034
Using Labeling tool to train custom model (fott-2-1.azurewebsites.net).

[2021-11-02 17:41] maririos commented on #23230
Package is out: https://www.nuget.org/packages/Azure.AI.TextAnalytics/5.2.0-beta.2

[2021-11-02 17:41] #23230 closed

[2021-11-02 17:42] ShrutiJaiswal1494 commented on #25066
1. If I build the service client based on the credentials which I own then what is the best pay to store those credentials in a desktop app?
2. If I build the client using their local credential like using DefaultAzureCredential how do I make sure that it works for them for cases when they are not logged into azure CLI/PowerShell or VS. ?
(I believe Environment variable and Managed identity is not

[2021-11-02 17:49] christothes commented on #25066
There isn't a great way that doesn't compromise the credential, since it is a desktop app.

You can't - that is a pre-requisite that you could handle in your app's error messages.

Correct.

[2021-11-02 17:50] maririos commented on #25034
Great. So a good way to test that analyzing the custom model is returning what you want is to use the tool to Analyze a new document using your custom model. There is a button where you can download the JSON and see if all the information you need is there.

Let us know if that helps

[2021-11-02 17:51] gansvv commented on #25065
Just FYI, another member in my team also followed the same test framework instructions to setup SP and validate the C# SDK and ran into the same issue. It looks like ListSubscription is returning an empty result even though it (listing subscription) works fine via powershell and VS Code.

[2021-11-02 17:51] #25054 closed

[2021-11-02 17:59] maririos commented on #24692
Thanks @HenryvanderVegte . We are looking into other strategies that will also preserve the input order.
Once we have a package for you to test I will let you know.

Apologies for the inconveniences this is causing you

[2021-11-02 18:05] ShrutiJaiswal1494 commented on #25066
1. If I use the `includeInteractiveCredentials` with DefaultAzureCredential, will it still throw an error if the user is not logged in azure CLI/PowerShell or VS, or will it prompt the user to login?
2. I have verified all Microsoft users through `Microsoft.Identity.Client`. Is there a way to use the Access Token that I receive from `Microsoft.Identity.Client` to get a `TokenCredential` for Azure?

[2021-11-02 18:05] biswajitsamal59 commented on #25034
I have checked that. The PDF file contains a table with 1 header row and 20 data rows. But the downloaded JSON file contains table with 1 header and 19 data rows. Even the Form Recogniser Layout service giving same result (Without using custom model only analysing using Layout service).

[2021-11-02 18:05] schaabs commented on #25066
@ShrutiJaiswal1494 if your intent is to authenticate users in your app as you are doing directly with msal in the link you gave [here](https://github.com/Azure-Samples/ms-identity-dotnet-desktop-tutorial/blob/master/1-Calling-MSGraph/1-1-AzureAD/Console-Interactive-MultiTarget/Program.cs#L55-L70). I would suggest using the [InteractiveBrowserCredential](https://docs.microsoft.com/en-us/dotnet/api/

[2021-11-02 18:11] schaabs commented on #25066
If you would rather continue using MSAL's `PublicClientApplication` to authenitcate users, it's fairly trivial to wrap this in a `TokenCredential` implementation. An example of how to do this can be found in our [Authenticating with MSAL Directly sample](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/samples/DefiningCustomCredentialTypes.md#authenticating-with-msa

[2021-11-02 18:14] maririos commented on #25034
Thanks for the confirmation. Apologies this is happening.

Tagging the service team for assistance here @Nhaiby @ramparab @ChrisHMSFT

[2021-11-02 18:18] anrothMSFT commented on #25034
I'm not the current owner for this issue, but I've sent mail to track down who is and will point them to this thread.

[2021-11-02 19:04] SaurabhSharma-MSFT commented on #25051
@andrei-faber We are looking into this and get back to you.

[2021-11-02 19:40] SaurabhSharma-MSFT commented on #25051
@andrei-faber How are you generating the AzureSasCredential as SAS credential expects a SAS token. Can you please share the code.

[2021-11-02 19:53] andrei-faber commented on #25051
@SaurabhSharma-MSFT manually via the portal. It does work for listing blobs.
Also, plz note that same bug happens when using AzurePowerShellCredential.

[2021-11-02 20:07] maririos commented on #24467
We didn't do it in v2.1
Is there any value in exposing these properties?

[2021-11-02 20:10] maririos opened #25091 "Look into discoverability of extractive summarization and custom features that are only exposed under the Analyze method"
Should we have bespoke methods? What is our strategy moving forward?
In which cases do we have single methods and in which cases do we pile everything into Analyze?

[2021-11-02 20:15] maririos commented on #24465
It is set in the swagger, but not with the right properties for codegen to do this for us. The service team has been contacted and they are looking into adding these changes for their preview.2 update

[2021-11-02 20:16] maririos commented on #24502
It is set in the swagger, but not with the right properties for codegen to do this for us. The service team has been contacted and they are looking into adding these changes for their preview.2 update

[2021-11-02 20:18] maririos commented on #9702
No longer needed as new clients in FR are using `ResponseError` from Azure.Core

[2021-11-02 20:19] #9702 closed

[2021-11-02 20:22] maririos commented on #16330
Dup of https://github.com/Azure/azure-sdk-for-net/issues/24547

[2021-11-02 20:22] #16330 closed

[2021-11-02 21:57] annelo-msft opened #25094 "[Core] Get approval for Azure.Core API for 1.21.0.0"
Azure.Core API Diff: https://apiview.dev/Assemblies/Review/b7f8a2ca9fad4d93af643366bfee9d2f?diffRevisionId=17448da609b6499bbe0c6916777efa02&doc=False&diffOnly=False

Azure.Core.Experimental API Diff: https://apiview.dev/Assemblies/Review/e3edef81e94e4ba5b758964703ca611b?diffRevisionId=81e9f7cb9cfb4b9fb902e6ebd82c763f&doc=False&diffOnly=False

[2021-11-02 23:27] ankitvijay commented on #14836
Hi Team,
We are facing the same issue during peak load when we have thousands of messages in the queue. We have opened a ticket with Azure support. We are waiting to hear from them.

[2021-11-02 23:43] andrei-faber commented on #25051
PS StorageSharedKeyCredential throws same error, with same storage name and access key as used in the connection string (that works)

[2021-11-03 00:33] #24838 closed

[2021-11-03 00:37] sanjeev3 commented on #25034
Thanks @anrothMSFT! @biswajitsamal59 - Layout sometimes can miss the last row from the table. It's a known issue that we have been working on. Can you please try with the latest preview and the corresponding 4.0 SDK library at https://www.nuget.org/packages/Azure.AI.FormRecognizer/4.0.0-beta.1? The C# QuickStart for the new preview is at https://docs.microsoft.com/en-us/azure/applied-ai-services/f

[2021-11-03 00:38] sanjeev3 commented on #25034
@biswajitsamal59 - In addition to my previous comment, are you able to share the document by attaching it to this thread?

[2021-11-03 00:48] jlocke427 opened #25098 "[BUG] Constants.DefaultMsalTokenCacheDirectory does not properly resolve in IIS"
**Describe the bug**
While running our ASP.NET application we are seeing the following error because the Constants.DefaultMsalTokenCacheDirectory cannot be resolved

We found that when the TokenCaching is resolving Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData) in https://github.com/Azure/azure-sdk-for-net/blob/4c7620883b5d8dda86b0e466928f4efcc8980ff7/sdk/identity/Azure.

[2021-11-03 04:02] #24812 closed

[2021-11-03 04:02] #24594 closed

[2021-11-03 04:02] #24201 closed

[2021-11-03 04:02] #23417 closed

[2021-11-03 04:02] #22642 closed

[2021-11-03 04:02] #21629 closed

[2021-11-03 04:03] #18667 closed

[2021-11-03 04:03] #18483 closed

[2021-11-03 04:03] #14753 closed

[2021-11-03 04:03] #13255 closed

[2021-11-03 04:03] #11590 closed

[2021-11-03 04:03] #8880 closed

[2021-11-03 05:45] vicancy opened #25102 "[BUG] [WebPubSub] AddWebPubSubServiceClient extension method does not support AAD credential"
Copied from https://github.com/Azure/azure-webpubsub/issues/263

### Describe the bug
Unable to create a WebPubSubServiceClient using DefaultAzureCredential through `AddWebPubSubServiceClient`, looks like only AzureKeyCredential is supported for now: https://github.com/Azure/azure-sdk-for-net/blob/e999bf7f7cb6a24294e953c995a16d652ddac0eb/sdk/webpubsub/Azure.Messaging.WebPubSub/src/WebPubSubService

[2021-11-03 08:02] #24338 closed

[2021-11-03 08:02] #24107 closed

[2021-11-03 08:02] #3349 closed

[2021-11-03 10:16] Salazander commented on #17253
@SaurabhSharma-MSFT Thanks for pinging me. I managed to get the sample code from the description above to compile using the package Azure.Monitor.OpenTelemetry.Exporter 1.0.0-beta.3

For posterity, here the updated [docs](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/monitor.opentelemetry.exporter-readme-pre).

[2021-11-03 10:16] #17253 closed

[2021-11-03 10:30] bizmonger commented on #24446
@jsquire The issue appears to be resolved.

I still get a not implemented exception the very first time I hit that line.
However, I'm able to execute the code anyway without issues.

Thanks.

[2021-11-03 10:31] #24446 closed

[2021-11-03 11:09] sahithikkss commented on #25037
@hebaelfadly
Add a placeholder metadata which is unique to the row in the excel.
Sample format.

</html>
</body>
<figure class="table">
<body>
<html>

Question | Answer | Metadata
-- | -- | --
hi | hello | key:value1
hi | hello | key:value2

</figure>

This would ensure each row stays as separate QnA when imported.

[2021-11-03 11:34] KalyanChanumolu-MSFT commented on #25030
@mastoj Thank you for taking the time to report this issue.
You are right. Format of the connection string needs to be updated.
We are routing this issue to the appropriate team.

[2021-11-03 12:17] jsquire commented on #25098
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-03 12:35] mattwhitfield commented on #24161
@StannieV Hi, I'm actually just trying to count the resources in each resource group - so I'm not trying to query specific resources. I have code like this:

`var resources = await subscription.GetGenericResources().GetByResourceGroupAsync(groupName).ToListAsync();`

And that will just blow up on some resource groups. The simplest one that I have is a resource group that contains just three resour

[2021-11-03 12:46] HenryvanderVegte commented on #24692
okay, thanks - looking forward!

[2021-11-03 13:11] C-Ross opened #25104 "[BUG] IVirtualMachineScaleSetsOperations BeginUpdate and Update have the same description"
**Describe the bug**
 [IVirtualMachineScaleSetsOperations.BeginUpdateWithHttpMessagesAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.ivirtualmachinescalesetsoperations.beginupdatewithhttpmessagesasync?view=azure-dotnet) and [IVirtualMachineScaleSetsOperations.UpdateWithHttpMessagesAsync ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.c

[2021-11-03 13:56] gansvv commented on #25065
@ArthurMa1978 Can you please take a look - this issue is blocking our SDK progress for this Sprint.

[2021-11-03 14:32] jsquire commented on #25104
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-03 16:49] aaronsarkissian commented on #21871
@schaabs @pakrym my issue still peersisted and it was not stable. But instead of giving the VMSS direct access to KV (because it was not scalable and with each node I had to add it in KV), I just added the following code part in the snippet below: `new DefaultAzureCredentialOptions { ManagedIdentityClientId = _configuration["MANAGED_IDENTITY"] }`

Full code:
[code]
That `MANAGED_IDENTITY` value is

[2021-11-03 17:42] #24321 closed

[2021-11-03 22:25] annelo-msft commented on #24836
Initial work done on Pageables [here](https://github.com/Azure/azure-sdk-for-net/pull/25086), before handing off to Alexander.

[2021-11-03 22:31] annelo-msft commented on #24050
ResponseClassifier APIs have been removed to allow more bake time.

[2021-11-03 22:31] #24050 closed

[2021-11-03 23:18] nisha-bhatia commented on #24975
This bug has been resolved and will go out in the next release. Please re-open if there are any further issues.

[2021-11-03 23:18] #24975 closed

[2021-11-04 01:01] jrywin opened #25119 "[BUG] Copy blob to another container with Uri"
**Describe the bug**
Hello,
I'm trying copy Append Blob to another container in same Storage account.

What im doing:
1. Generate SAS
`return _client.GetBlobBaseClient(fileName).GenerateSasUri(BlobSasPermissions.Read, DateTimeOffset.Now.AddMinutes(1));`

Uri is ok i can download it by browser.

2. Trying copy blob with SAS to another container:
`await _client.GetBlockBlobClient(fileName).SyncUploa

[2021-11-04 02:07] ohadschn commented on #17427
It looks likes things have changed since I opened this bug, specifically `InteractiveBrowserCredentialClientId` and `ManagedIdentityClientId` which look great. I guess I'd have to exclude all the others though to make sure e.g. token is not taken from cache with the wrong ClientId, which would be a shame if I had the right token in the cache for some reason...

How about something like a unified `

[2021-11-04 02:07] ohadschn commented on #17427
/unresolve

[2021-11-04 09:05] ArthurMa1978 commented on #16828
@KranthiPakala-MSFT can you help to coordinate this issue to the WebApp service team as they are the owner

[2021-11-04 09:33] barozi opened #25123 "[QUERY] How to configure DataProtection ProtectKeysWithAzureKeyVault"
Hello,
I am using the DataProtection ProtectKeysWithAzureKeyVault. The configuration of _keyIdentifier_ is provided from separate settings service registered earlier. So here is an issue. There is no `*Options` class which I could use to inject the setting into `ProtectKeysWithAzureKeyVault()`

Unfortunately in my scenario, I cannot use the `Configuration` class and also cannot (and do not want to

[2021-11-04 09:59] Joren-Thijs opened #25124 "[QUERY] Migrating public URI downloads from V11 to V12"
### Problem
In our application we have different microservices that reach out to our blob storage container to download files like pdf's.
When we were using the [now depricated V11 sdk](https://github.com/Azure/azure-storage-net) we decided to store the full public uri of the document in the database. With the sdk we then created a `CloudStorageAccount` with necessary Azure credentials. From that

[2021-11-04 10:09] seble-nigussie commented on #18416
Hi, are there any solutions? I'm getting the same exception with the following settings
![image](https://user-images.githubusercontent.com/93709073/140295424-4cbbadf2-88d4-4533-af03-f1cccb1b9ade.png)
Index model used :
`public class IndexModel
    {
        public string Id { get; set; }
        public string OrganizationId { get; set; }
        public int EntityType { get; set; }
        public i

[2021-11-04 10:18] lukos opened #25125 "Delete throws error if secret doesn't exist"
It is not clear how to delete a secret that might not exist. In most cases, I would definitely expect the default behaviour not to throw an exception if the secret does not exist but at worst, there should be an overload that allows us to ignore the error. Throwing an error means that for every delete, I either need to call GetSecret first or catch and ignore the exception which is nasty.

Also, t

[2021-11-04 11:10] cristian9804 commented on #24666
I am having the same issue

[2021-11-04 11:48] adeliab opened #25126 "Error upgrading to Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0"
**Query/Question**
We have Azure Durable Function with session based service bus trigger. I upgraded the Microsoft.Azure.WebJobs.Extensions.ServiceBus package from 4.3.0 to 5.0.0

After the upgrade, the function won't start with this error:
[code]

Do I need to install/ upgrade additional package?

**Environment:**
 - Name and version of the Library package used: Microsoft.Azure.WebJobs.Extensions

[2021-11-04 12:07] jsquire commented on #25123
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-04 12:09] jsquire commented on #25125
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-04 12:10] jsquire commented on #25126
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-04 13:13] hebaelfadly commented on #25037
@sahithikkss it works perfectly. Thanks a lot.

[2021-11-04 13:13] #25037 closed

[2021-11-04 13:47] christothes commented on #17427
Could you talk a bit more about how the current configuration options prevent using the intended ClientId in your specific scenario? For example, in a production scenario, I would think that you'd have a very specific credential to target, such as ManagedIdentity. In a development scenario, you'd have control over which credential would be selected based on your dev environment configuration. My a

[2021-11-04 15:00] vrozovmicrosoft opened #25129 "BlobClientOptions for BlobClient and BlobLeaseClient"
BlobContainerClient class may get BlobClientOptions in the constructor.
Assume we created BlobContainerClient instance with some BlobClientOptions.
- Will BlobClient created from BlobContainerClient instance (using GetBlobClient()) have the same options applied?
- Will BlobLeaseClient created from BlobClient instance (using new BlobLeaseClient(BlobClient) have the same options applied?

Azure SDK

[2021-11-04 15:17] Mohit-Chakraborty commented on #18416
Hi, can you check [the reply above](https://github.com/Azure/azure-sdk-for-net/issues/18416#issuecomment-773641583) and provide us with a call-stack of the error when using the SDK.

[2021-11-04 16:17] adeliab opened #25130 "SessionLockLostException in service bus trigger function"
**Query/Question**
We're getting a lot of SessionLockLostException - Message processing error (Action=Complete, xxx
We have a service bus triggered durable function. There are 2 issues:
- the start of the orchestrator is taking too long
- because of that, when the function tries to complete/ abandon the message, we get the SessionLockLostException

There's little documentation on what we can do wh

[2021-11-04 16:40] stockmansy opened #25131 "[BUG] Memory leak - Memory being filled with CancellationTokenSource objects"
**Describe the bug**
While developing locally I've encountered a bug where my memory gets filled by CancellationTokenSource objects.
![image](https://user-images.githubusercontent.com/483904/140379069-3f1b9452-5b74-4bcc-9535-3e069629b987.png)

This happens when trying to make use of azure servicebus configured as such:
![image](https://user-images.githubusercontent.com/483904/140379366-a4bfd8e0-18

[2021-11-04 16:53] jsquire commented on #25131
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-04 17:03] heaths commented on #25125
@rloutlaw could you look into the "This Product" link at the bottom. It's 404'ing.

[2021-11-04 17:25] heaths commented on #25125
As for the change request, we could add a `DeleteIfExists` like we've done in other libraries including Storage. Newer libraries [shouldn't throw on delete by default](https://azure.github.io/azure-sdk/dotnet_introduction.html#:~:text=Deletes%20one%20or%20more%20resources%2C%20or%20no%2Dop%20if%20the%20resources%20do%20not%20exist.), but the pattern wasn't established for older ones.

That said, w

[2021-11-04 17:35] heaths commented on #25125
Note to self: we'd want to specifically handle the case where the initial delete request already 404'd e.g., [here](https://github.com/Azure/azure-sdk-for-net/blob/4980a8a68fb70fefca0aa4cf50ff58bfdf3a5c5f/sdk/keyvault/Azure.Security.KeyVault.Secrets/src/DeleteSecretOperation.cs#L30-L34). Could also do it in the caller but would then have to duplicate. If we don't mark the operation already-complet

[2021-11-04 18:07] amnguye commented on #25082
@tamram @rloutlaw

Do you know if there's something we have do to in the XML docs to fix this? The other docs don't do this so would like some input on how to fix this.

[2021-11-04 18:22] JoshLove-msft commented on #25126
This looks similar to https://github.com/Azure/azure-webjobs-sdk/issues/2059

[2021-11-04 18:23] JoshLove-msft commented on #25126
Can you try the workaround mentioned in https://github.com/Azure/azure-webjobs-sdk/issues/2059#issuecomment-448769239

[2021-11-04 18:24] #24023 closed

[2021-11-04 18:24] #24022 closed

[2021-11-04 18:25] heaths opened #25136 "Question Answering for .NET (December 2021)"

[2021-11-04 18:25] heaths opened #25137 "Conversation Analysis for .NET (December 2021)"

[2021-11-04 18:25] heaths opened #25138 "Conversation Analysis for .NET (January 2022)"

[2021-11-04 18:26] heaths opened #25139 "Question Answering for .NET (January 2022)"

[2021-11-04 18:27] gansvv commented on #25065
@ArthurMa1978 @jsquire Can someone please look at this issue. Have new service principals been tested with C# SDKs?

[2021-11-04 18:29] seanmcc-msft opened #25140 "Storage - STG 80 release prep"
- Changelogs
- Updated [StorageVersionExtensions.LatestVersion](https://github.com/Azure/azure-sdk-for-net/blob/dd888a2ba93810b191d160c846f237ec5b70af57/sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs#L37)
- Update [Constants.DefaultSasVersion ](https://github.com/Azure/azure-sdk-for-net/blob/b9abb2175ee6fa44bdbc308fa37696ef96637740/sdk/storage/Azure.Storage.Common/src/Shar

[2021-11-04 18:39] heaths commented on #24028
/cc @AhmedLeithy @ZulaMostafa

[2021-11-04 18:55] seble-nigussie commented on #18416
Here is what its throwing.

Message:
    Azure.RequestFailedException : The request is invalid. Details: parameters : A resource without a type name was found, but no expected type was specified. To allow entries without type information, the expected type must also be specified when the model is specified.

    Status: 400 (Bad Request)

    Content:
    {"error":{"code":"","message":"The request

[2021-11-04 19:31] cfauchere opened #25142 "Service Bus: provide batch API to complete/abandon message"
**Library or service name.**
Azure.Messaging.ServiceBus

**Is your feature request related to a problem? Please describe.**
With latest version of SDK I can retrieve messages in batch but I cannot complete or abandon those messages in batch, I have to go message by message. It would be nice to have a batch API to avoid multiple calls to Azure endpoint.

[2021-11-04 20:28] jsquire commented on #25142
Hi @cfauchere.  Thank you for your feedback.  Unfortunately, this request has been discussed previously and is not something that we will be adding to the Service Bus client library.  There is no support for multiple complete or abandon operations offered by the Service Bus service; any batched API would be client-side only and would be similar to:

[code]

We have concerns that this would introdu

[2021-11-04 21:00] #23481 closed

[2021-11-04 21:18] heaths opened #25148 "Generate LLC for Question Answering authoring client"
Now that inference has GA'd, we need to produce the authoring client for Question Answering.

- [ ] Generate `QuestionAnsweringProjectClient` in a subnamespace e.g., `Azure.AI.Language.QuestionAnswering.Project` (exact name TBD).
  - In .NET's autorest.md, there's already a `batch` section commented out you can use. Just set the namespace separately, and also disable putting models in a separate n

[2021-11-04 22:51] maririos opened #25152 "Diagnose/investigate timeouts on TA live tests"
Only happens on Live tests. I haven't been able to repro this locally.
Started happening after adding the custom features tests.

[2021-11-04 22:52] maririos commented on #25152
After multiple runs, it looks like custom features with multiple actions could be the cause. I will communicate with the service and meanwhile, we can disable those tests

PR: https://github.com/Azure/azure-sdk-for-net/pull/25042

[2021-11-04 22:55] SaurabhSharma-MSFT commented on #25129
@vrozovmicrosoft Thanks for your ask.  We are looking into it and get back to you.

[2021-11-05 01:09] cataggar commented on #21281
@allenjzhang, I need this again. Is there a new way to specify the scopes without this hack?

[2021-11-05 01:17] yvgopal commented on #24639
@Alex-Boo Could you give me your namespace name, and entity name (queue or topic name) where you reproduced this issue? Also the timestamp.

[2021-11-05 01:42] JoshLove-msft commented on #25131
Hi @stockmansy,
I just did a quick test for this and couldn't repro what you are seeing. Any chance you can include a minimal repro that I can run?

[2021-11-05 01:58] cataggar commented on #21281
If clients allowed setting the `HttpPipeline`, something like this would work:

[code]
In a quick search, I saw some clients with internal constructors supporting `HttpPipeline`, but no public.

[2021-11-05 03:36] JoshLove-msft commented on #25131
This does look suspicious - https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ServiceBusProcessor.cs#L777

We only dispose these after exiting the while loop.

[2021-11-05 08:20] biswajitsamal59 commented on #25034
I have tried with 4.0.0-beta.1 SDK, getting the same response. I am extremely sorry, I can't share the file as it has some sensitive information,

[2021-11-05 08:25] adeliab commented on #25130
And another question, when does a trigger function acquires & release session lock?

[2021-11-05 08:49] qub1n commented on #24658
Please can you fix the bug, it is a blocker for use.

[2021-11-05 09:26] ArthurMa1978 commented on #25065
Ack. @gansvv , @HarveyLink can you help to check this issue.

[2021-11-05 10:28] dxynnez commented on #23786
Hi @heaths  - I am trying to understanding the best practice for using CryptographyClient as it's a bit different than other clientS (it's tied to each key while others are tied to each key vault account).

By adding the GetCryptographyClient api into the KeyClient, it seems to suggest that the CryptographyClient doesn't have to be used as singleton and we can just get it from the keyclient. Would

[2021-11-05 10:40] stockmansy commented on #25131
Thank you for looking into it!

I looked into a simple repro and was able to reproduce it slightly (it went from 40 mB to 60mB) with the following code:
(I put breakpoints in the message handler, and after the last breakpoint got hit, I saw it increase. The snapshot showed a large amount of cancellationtokensource objects again.)
[code]

[2021-11-05 14:54] markusdresch opened #25165 "Board Review (bug report): Azure.Storage.Blobs - CEST/CET timezone change - ConditionNotMet"
not sure if this is the right place, but you probably should provide a place for general bug reports / support issues.

## About the client library

* Name of the client library: Azure.Storage.Blobs
* Languages for this review: C#

starting this week we had troubles with Azure.Storage.Blob nuget and streaming to BlockBlobClient.OpenWriteAsync streams, receiving error messages like this one:

[code

[2021-11-05 16:37] Alex-Boo commented on #24639
I answered by email.

[2021-11-05 16:38] SaurabhSharma-MSFT commented on #25119
@jrywin We are looking into it and get back to you.

[2021-11-05 16:41] jrywin commented on #25119
I might add that a few weeks ago all works perfect with "Selected network" option

[2021-11-05 17:01] marcduiker opened #25164 "Microsoft.Azure.WebJobs.Extension.Storage.Queues v5.0.0: How to do a dynamic binding in Azure Functions to put a QueueMessage in a storage queue"
**Query/Question**
I have [this HTTP triggered function](https://github.com/marcduiker/azure-functions-university/blob/main/src/dotnetcore31/AzureFunctions.Queue/Output/NewPlayerWithDynamicQueueOutput.cs) that uses a dynamic output binding to put a message on a queue. This works fine with Microsoft.Azure.WebJobs.Extension.Storage v4.x but since v5 the types have changed (no more `CloudQueue`) and

[2021-11-05 17:51] heaths commented on #23786
`KeyClient.GetCryptographyClient` is just a convenience method. It takes a key name and optional key version just like `new CryptographyClient` does. The only difference is that `GetCryptographyClient` shares the same pipeline as the `KeyClient`, which decrease memory consumption, shares custom pipeline policies, etc.

Yes, all new clients in Azure SDKs are tied to a single endpoint by design. You

[2021-11-05 18:32] AshleyAsh90 commented on #24906
Ok, Thanks for your help on this. I will close this query now.

[2021-11-05 18:33] #24906 closed

[2021-11-05 19:17] AshleyAsh90 opened #25166 "[QUERY] Using interactivebrowserauthentication from service application doesn't popup the system browser. Is this expected behavior?"
**Query/Question**
Using interactivebrowserauthentication from service application to trigger login doesn't popup the system browser. It fails with an exception
[code]
Is this expected for a service application? I thought since it pops up the browser it should work fine. It worked in debug, but fails in service when called.

**Environment:**
 - Name and version of the Library package used:Azure.Id

[2021-11-05 20:57] #20295 closed

[2021-11-05 21:20] AshleyAsh90 commented on #25166
Closing this since it is supposed to be this way. Sevices don't have ui support hence the issue.

[2021-11-05 21:20] #25166 closed

[2021-11-05 21:54] SaurabhSharma-MSFT commented on #25164
@marcduiker We are looking into it and get back to you.

[2021-11-05 22:06] gansvv commented on #25065
FYI, the code I'm running is here:
https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/iotcentral/Microsoft.Azure.Management.IotCentral/tests
(IoT Central DotNet SDK Validation tests).

And the test framework page I followed to setup SP and env variables is here:
https://github.com/Azure/azure-sdk-for-net/blob/main/doc/dev/Using-Azure-TestFramework.md

Note, I did not add the additional contr

[2021-11-05 23:47] leniency commented on #21511
This is still happening in the 5.0 release.

[2021-11-06 01:41] JoshLove-msft commented on #25131
Thanks @stockmansy - I was able to repro it on my side as well. While the number of allocated cancellation token sources is expected to grow over time, they should be getting garbage collected in a timely manner. After making the fix to Dispose these, I observed the numbers growing over time, but then dropping back down to a baseline after being garbage collected. Prior to the change, the allocati

[2021-11-06 01:42] #25131 closed

[2021-11-06 02:27] yvgopal commented on #24639
@Alex-Boo  thanks. I got the email. Upon investigation, I found that no messages were abandoned. But many messages were received and unlocked. Unlock happens when client receives messages when no receiver is waiting for messages. In your case, you are calling receive with message count 128, but receive call doesn't have to wait for all 128 messages to be received. Receive call returns with anywher

[2021-11-06 02:27] #24639 closed

[2021-11-06 04:32] JoshLove-msft commented on #25126
I haven't been able to repro this. Can you include the contents of your functions csproj?
Also, just to confirm, you are hitting this error locally when running from VS?

[2021-11-06 08:02] #22154 closed

[2021-11-06 08:02] #22046 closed

[2021-11-06 12:24] sylvaingirardbe opened #25173 "[BUG] Typo in DiagnosticsOptions"
**Describe the bug**
Typo in DiagnosticsOptions.cs

**Expected behavior**
Gets or sets the value sent **as** the first part of "User-Agent" headers for all requests issues by this client. Defaults to <see cref="DefaultApplicationId"/>.

**Actual behavior (include Exception or Stack Trace)**
Gets or sets the value sent **a** the first part of "User-Agent" headers for all requests issues by this cli

[2021-11-06 16:01] lonelydev opened #25175 "Azure Identity Examples - link not working"
[Enter feedback here]
The examples section in the docs references a link that is inaccessible .
Link in question is named - _Azure Identity Examples Wiki page_ and points to https://github.com/Azure/azure-sdk-for-net/wiki/Azure-Identity-Examples
![image](https://user-images.githubusercontent.com/9505396/140615880-00a460a8-fa3d-4979-be7c-a77da96f3ce4.png)

But what I get is:
![image](https://user-i

[2021-11-06 16:20] #25173 closed

[2021-11-06 19:12] abodyy4272 opened #25176 "[QUERY]"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-11-06 21:32] JoshLove-msft opened #25177 "Support Message State property"
See https://github.com/Azure/azure-sdk-for-net/pull/25158

[2021-11-07 07:11] vrozovmicrosoft opened #25179 "Horisonatl scroll bar is missing - it's impossible to read the full content of the page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e480de06-b14a-5c82-73dc-65dbc3ecd03f
* Version Independent ID: c0e88ab1-ef73-3f0b-3a35-ee5d201b1486
* Content: [BlockBlobClient Class (Azure.Storage.Blobs.Specialized) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/azure.stor

[2021-11-07 09:13] srininz77 commented on #18780
@seanmcc-msft  any updates on support of this feature in v12? Thanks.

[2021-11-07 17:07] jsquire commented on #25175
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-07 17:08] #25176 closed

[2021-11-07 17:18] jsquire commented on #25179
Hi @vrozovmicrosoft.   Thank you for your feedback.  This appears to be related to the structure of the MS Docs page structure;  we've transferred this to the Azure Docs repository as [#83503](https://github.com/MicrosoftDocs/azure-docs/issues/83503) to bring it to the attention of the team best able to address it.

[2021-11-07 17:18] #25179 closed

[2021-11-07 23:41] jackhorton opened #25182 "[BUG] Azure.ResourceManager 1.0.0-beta.3: DeploymentProperties has incorrect documentation"
**Describe the bug**
The documentation of Azure.ResourceManager.Resources.Models.DeploymentProperties is incorrect. It states that the Template and Properties values should be either `string`s or `JObject`s, but neither is true (technically it _can_ be a string, but that gets sent down the wire to the ARM backend as a JSON-encoded string, which is incorrect). It must actually be a `Dictionary<stri

[2021-11-07 23:52] jackhorton commented on #25182
There were previous similar issues reported about the old Microsoft.Azure.Management.Resources SDK, but most were closed or irrelevant to the new packages. As far as I can tell, this code and documentation is generated with Autorest, so the backing swagger/cadl definitions may need to change to fix this.

But, since this was also a rough experience in previous versions of the SDK -- is there any w

[2021-11-08 03:20] NaraVen opened #25183 "AzureManager.Resoruces Track 2 has a bug when we use the Template tag in Deployment Properties. TemplateLink works fine"
My template.json looks like this
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "storageAccountName": {
      "defaultValue": "mystorageaccount",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "sku": {

[2021-11-08 03:33] HarveyLink commented on #25065
Hi @gansvv , would you mind add contributor role to your new SP in the Subscription taht you set in the connection string, and rerun the test see if they could get pass?

[2021-11-08 04:01] #23473 closed

[2021-11-08 04:02] #23466 closed

[2021-11-08 04:02] #23421 closed

[2021-11-08 04:02] #22446 closed

[2021-11-08 04:02] #14936 closed

[2021-11-08 06:10] Karishma-Tiwari-MSFT commented on #24782
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-08 06:10] #24782 closed

[2021-11-08 06:15] Karishma-Tiwari-MSFT commented on #24655
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-08 06:15] #24655 closed

[2021-11-08 06:50] #24861 closed

[2021-11-08 08:20] MartinKosicky opened #25185 "[BUG] EventHubsModelFactory.EventBatch BatchSize always returns initial value"
The EventHubsModelFactory EventBatch method returns an EventBatch such that the SizeInBytes is always in the initial value. Thus making it impossible to unit testing of the TryAdd functionality.

[2021-11-08 10:01] shawnxzq commented on #22425
@LijuanZ  Any update on this? Thanks!

[2021-11-08 11:12] dxynnez commented on #23786
Could you elaborate a bit more on how the public key is cached? It seems to only have information about the key URI. And per my understanding retrieving keys require the keys get permission while crypto related operations have their own permissions, it's hard to imagine how a principal with only crypto related permission would be able to cache the public key...

This is actually what we are doing

[2021-11-08 13:05] jsquire commented on #25183
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-08 13:24] jsquire commented on #25185
Hi @MartinKosicky.  Thank you for your feedback and we regret that you're experiencing difficulties.   The behavior that you're seeing is by design.   The model factory creates a batch that does not perform the AMQP serialization needed for measuring the size of an event and instead stashes anything that you pass to `TryAdd` in the list that you provide in order to allow your code to inspect and m

[2021-11-08 13:54] JohnLBevan commented on #17337
For those hitting this thread, there's some useful related info in this checklist (not addressing the specific point of optimal StorageTransferOptions settings; but closely related): https://docs.microsoft.com/en-us/azure/storage/blobs/storage-performance-checklist#checklist

[2021-11-08 15:15] #24852 closed

[2021-11-08 15:52] #25175 closed

[2021-11-08 15:57] MartinKosicky commented on #25185
Hello. I now understand that there is no ampq serialization availabile which make sence. Im just wondering if the EventDataBatch contract isnt violated, since bytesize is always 0. If there was at least some counter (for example just increment some number based on the payload (.tostring().count()).  Me as user should not care or depend on the concrete serialization technique, i should just care th

[2021-11-08 16:05] jsquire commented on #25185
The size of the batch is not always zero,  your application can specify it as a parameter of the method.   It is, however, true that the size is static and will not change as events are added.   The mock batch allows limiting, controlled by the predicate supplied.

Can you share more about the specific scenario that you're concerned with and help us understand where the size rather than the result

[2021-11-08 17:38] heaths commented on #23786
The first crypto operation you do will attempt to fetch the public key material if you have the `keys/get` permission. If it can be retrieved, public key operations are done locally. If not, every operation is routed through Key Vault or Managed HSM.

You could call `GetCryptographyClient()` every time, yes. It would be an extra allocation for the class itself, but minimal compared to constructing

[2021-11-08 18:19] heaths opened #25192 "Conversations README includes incomplete links, links to Question Answering"
The Conversations [README](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/cognitivelanguage/Azure.AI.Language.Conversations/README.md) includes a number of links to Question Answering (QnA Maker) because it was initially copy/pasted and apparently didn't get changed. See the initial links after the first H1.

The nuget.org link also doesn't link to the actual package like it should.

[2021-11-08 19:10] maliksahil commented on #24005
@schaabs - should there be a milestone/date assigned to this?

[2021-11-08 19:31] apranaseth commented on #20651
+1 on this feature. Its easier to use the resource id instead of the client id.

[2021-11-08 20:16] #23485 closed

[2021-11-08 20:18] #23817 closed

[2021-11-08 20:25] jsquire opened #25195 "Event Hubs Client Library for .NET - February Milestone"
For general summary and goals, please see: [Azure Event Hubs Commitments (July 2021-March 2022) [#3078]](https://github.com/Azure/azure-sdk/issues/3078).  The work items linked to this issue herein represent the tasks needed to produce the .NET Event Hubs client library for the current milestone.

# Design, Review, and Planning

- [x] Create issues and perform resource planning for the next milest

[2021-11-08 20:27] jsquire opened #25196 "Review and update documentation (February Milestone)"
# Summary

In preparation for the next milestone release of the Event Hubs client, the documentation which accompanies it should be reviewed for accuracy and any updates which are needed made.

# Scope of Work

- The document comments for the API surface exist and are accurate.   Any needed updates to reflect the new retry options approach have been made.

- The `README` content is up to date, acc

[2021-11-08 20:32] avanigupta commented on #24519
Hi @pakrym, is there any update on the intended usage of `MaxDelay`?

[2021-11-08 21:51] kurtzeborn commented on #24958
Pretty sure @weshaggard fixed this. He changed the default pool that's used for Ubuntu16 to the Azure Pipelines default image.

Please let us know if you run into this again.

[2021-11-08 21:51] #24958 closed

[2021-11-08 21:52] pakrym commented on #24519
Yes, I checked and the .NET behavior is consistent across languages. We might need to change docs to clarify that `MaxDelay` only applies to delay we calculate but we'll respect whatever service returns.

[2021-11-08 22:50] gansvv commented on #25065
@HarveyLink You are right. It was the Contributor setting for the SP (app). I could not run the commands in Section 3.4 of the doc using the latest Azure Powershell. But using the Add Role Assignment settings on portal to app the Contributor role to the Service Principal app (using its Display name) made it work! Thanks.

[2021-11-08 22:50] #25065 closed

[2021-11-08 22:53] gansvv commented on #25065
These commands are more up-to-date to add the az role via Azure CLI:
https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli#manage-service-principal-roles

[2021-11-08 23:03] #19295 closed

[2021-11-08 23:05] #11740 closed

[2021-11-08 23:06] #23649 closed

[2021-11-08 23:08] christothes commented on #13481
I believe this is resolved in the latest version.

[2021-11-09 01:46] admalledd opened #25202 "[BUG] Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.0.0 MessagingProvider methods now protected"
**Describe the bug**

ref: [MessagingProvider.cs](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Primitives/MessagingProvider.cs)

Per https://github.com/Azure/azure-sdk-for-net/issues/20120#issuecomment-834745445 I had tracked/assumed that MessagingProvider's methods (mostly "CreateMessageSender/Receiver") would remain public.

[2021-11-09 05:14] jorgelevy commented on #25142
There use to be a feature for this purpose on Microsoft.Azure.ServiceBus assembly
-> public Task CompleteAsync(IEnumerable<string> lockTokens)

[2021-11-09 05:17] JoshLove-msft commented on #25142
As @jsquire mentioned, the service has no support for batch completion, and this was simply added as a client-side convenience. The equivalent would be to write this code when using the new SDK:
[code]

[2021-11-09 05:54] yufeih commented on #20609
@christothes @schaabs

We are still hitting IMDS connection problems in a windows AKS cluster using the latest Azure.Identity package. It seems https://github.com/Azure/azure-sdk-for-net/pull/24328 added a hardcoded timeout of 1 second to the initial IMDS request, can that timeout be adjusted by an environment variable so we can tweak it to a larger value for apps running inside our cluster?

[2021-11-09 06:47] cvakarna opened #25207 "Azure.Storage.Blobs.ServiceRestClient.GetUserDelegationKey : System.ObjectDisposedException: Cannot access a closed Stream"
we are facing an exception while generating the SAS Token using GetUserDelegationKey, Here is the exception that we are getting on concurrent requests.

[code]

The following code is using to generate sastoken

[code]

Can help me regarding this, where is the issue?

[2021-11-09 10:11] MrKevHunter commented on #20485
This is an issue for us too, seems like a fairly common use case

[2021-11-09 10:53] vrozovmicrosoft commented on #15064
12.9.0 version fixes the behavior for '/' encoding, but not for other characters (e.g. '+').
In SDK 11, none of special characters was encoded.
So now, the behavior is even more inconsistent: some character are encoded and some are not.
Can this be aligned?

[2021-11-09 12:01] seble-nigussie commented on #18416
Found the problem. I was using `IndexDocumentsBatch.Upload(actions)` the upload method here instead of create. After changing that it worked. I hope this helps someone.

[2021-11-09 13:01] jsquire commented on #25202
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-09 16:37] SaurabhSharma-MSFT commented on #25207
@cvakarna We are looking into it and get back to you.

[2021-11-09 19:39] mattwhitfield commented on #24161
@Yao725 Just FYI - I pulled the azure SDK repo, and changed the SKU Tier to a string in the Azure.ResourceManager project (and made the consequential changes to serialization) and it worked just fine. Obviously that might result in more changes in other projects (seeing as there seem to be a lot of SkuTier.cs files in the repo as a whole), but I thought at least that might be a useful data point.

[2021-11-09 19:49] #25027 closed

[2021-11-09 20:42] andrew-hampton commented on #15383
Adding a +1 to this. I was looking to upgrade our project to using the Azure.Data.Tables package moving from the Microsoft.Azure.Cosmos.Table package. Previously we had custom serialization and deserialization logic by implementing the ReadEntity and WriteEntity methods that were previously included on the ITableEntity interface. This allowed us to ignore properties on the class as well as do thin

[2021-11-09 21:11] admalledd commented on #25202
Addendum: This would all be a lot easier if there was a few safe interfaces (if they exist do point them out! I did not see any when I dug into the code) that ServiceBus or WebJobs.ServiceBus (either/or) exposed for the actual function-class via DI or on the attribute-binding:

* "IMessageBusSenderFactory" that "already binds" to the same SB connection as the function, allowing me inside my fuctio

[2021-11-09 21:13] christothes commented on #15383
@andrew-hampton We do support ignoring of properties via the `[IgnoreDataMember]` attribute. I think you should be able to accomplish your scenario with the new client.

[2021-11-09 21:34] #23816 closed

[2021-11-09 21:46] jsquire commented on #24969
closed by #25231

[2021-11-09 22:11] jsquire commented on #25026
closed by: #25026

[2021-11-09 22:38] #25014 closed

[2021-11-09 22:55] ShrutiJaiswal1494 commented on #25066
Thanks for the reply @schaabs. I am thinking to use the InteractiveBrowserCredential approach to authenticate the users however I had some doubts. Since I want the blob storage to be accessed by everyone in Microsoft, will I need to give access to each and every MS employee to my blob storage? If yes, then is there a security group or something that I can give access to?

[2021-11-09 23:31] JoshLove-msft commented on #25202
Hi @admalledd,
In the next release of the extension which is going out this week, you will be able to bind to the ServiceBusClient using the "client" parameter name. This will give you access to the same SB connection as the function.

[2021-11-09 23:35] jsquire commented on #24969
These changes have been merged and will flow to the MS Docs site with the next release.

[2021-11-09 23:35] #24969 closed

[2021-11-09 23:39] codewisdom commented on #24752
Do you have a timeline for when this will be addressed?  Since ConfidentialClient provides token caching for free, it seems reasonable that something using this Azure.Identity approach should do the same:

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-acquire-cache-tokens

[2021-11-10 00:15] Mohit-Chakraborty commented on #18416
Glad you fixed the issue, and thanks for sharing it.

[2021-11-10 00:44] ravibha-hub opened #25238 "[BUG] ServiceBusException thrown with message "The connection was inactive for more than the allowed 60000 milliseconds""
**Describe the bug**
We are noticing exception in appinsights while running service bus triggered durable functions. From the message, it looks like this is happening when an activity function is taking longer than a minute (3mins in our case) to execute. As of now, functionality is not impacted. Any idea why these exceptions happen and how can we fix these? If these are indeed transient, shouldn'

[2021-11-10 01:16] TimLovellSmith opened #25240 "[BUG] Infinite handler chain / StackOverflowException with ComputeManager.Authenticate a custom DelegatingHandler, and mismatched package versions"
Filing this in case someone else ever hits it as an interesting historical bug.

Repro:

[code]

[code]

**Describe the bug**
The chain of 'InnerHandlers' is a circular linked list, leading to out of memory exception or stack overflow exception.

**Expected behavior**
The chain of 'InnerHandler's should not be circular.

**Actual behavior (include Exception or Stack Trace)**
What is the actual beh

[2021-11-10 01:16] TimLovellSmith commented on #25240
Appears to be fixed by updating to

[2021-11-10 01:16] #25240 closed

[2021-11-10 04:27] JoshLove-msft commented on #22534
Looking at this again - @NiklasArbin did you have prefetch enabled when this happened?

[2021-11-10 04:36] cvakarna commented on #25207
any findings on this issue @SaurabhSharma-MSFT

[2021-11-10 06:01] NiklasArbin commented on #22534
Yes prefetch is enabled for this processor.

[2021-11-10 06:04] JoshLove-msft commented on #22534
Do you always settle the message - by either calling complete, abandon, defer, or deadletter? If the message don't always get settled, it's possible this is causing the issue, as we only request new credits when a message is settled when using prefetch.

[2021-11-10 07:14] Yao725 commented on #24803
Close, will talk to service team.

[2021-11-10 07:14] #24803 closed

[2021-11-10 07:26] NiklasArbin commented on #22534
We always call complete/abandon or deadletter the message

[2021-11-10 10:39] mdarefull commented on #21511
In case it helps,

I have one Consumption Function App with 3 functions: (simplified)
[code]

[code]

[code]

This function app has a dedicated storage account to which all functions refer to through the AzureWebJobsStorage App Settings variable.

This warning log is being generated ~70K times a day. This not only impacts the $$$ and the adaptive sampling features of my App Insight component, but

[2021-11-10 11:38] mikeblakeuk opened #25244 "Remove the Windows Storage Dependancy in [FEATURE REQ]"
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/hdinsight/Microsoft.Azure.HDInsight.Job/src/Microsoft.Azure.HDInsight.Job.csproj#L17

**Microsoft.Azure.HDInsight.Job**
has a refrerence
`PackageReference Include="WindowsAzure.Storage"`

Please remove legacy dependency.
Should we use "Azure.Storage.Blobs" instead?

[2021-11-10 11:40] mikeblakeuk commented on #25244
(as per [1985](https://github.com/Azure/azure-sdk-for-net/pull/1985) )

[2021-11-10 11:55] Alex-Boo commented on #24639
@yvgopal, thank you for explanation.
Can we track somehow fixing this issue on server side?

[2021-11-10 12:28] dxynnez commented on #23786
Thanks @heaths . I guess that's only true for the CryptographyClient constructed through the public constructors, not for the one returns by GetCryptographyClient (both remoteprovder & provider are set to the RemoteCryptographyClient)?

May I know when would the v4.3.0 be officially released?

[2021-11-10 12:29] eegasai opened #25245 "MaxAutoLockRenewalDuration property for service bus processor is not working"
I have created a .NetCore 3.1 Console application and installed Azure.Messaging.ServiceBus package. I have a service bus name space created with a topic and subscription. The MaxLockDuration for the subscription is set as 5 Minutes.

As my application needs around 15 minutes for the processing, I have set the MaxAutoLockRenewalDuration  property to 15 minutes. To test this I have introduced a dela

[2021-11-10 12:32] daviestoby opened #25246 "[BUG] Refreshing the blob listing on the Azure portal or Storage explorer causes a 409 during blob append operations"
Whilst appending chunks to an append blob I receive a http 409 error if I refresh the blob listing in the portal or from storage explorer.

I expect that refreshing a blob listing should have no material impact on the ability to append multiple chunks.

The actual behaviour is that if I don't touch the refresh button it works fine but if I do during the append loop the process crashes with this ex

[2021-11-10 13:31] ardalis commented on #7900
Seeing same thing for `net6.0` app today. I thought Azure support was available on Day 0 this time?

[2021-11-10 14:03] jsquire commented on #25245
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-10 14:38] christothes commented on #24752
Hi @codewisdom - Please see the following sample documentation describing how to persist token caching between credential instances. https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/samples/ClientSideUserAuthentication.md#persisting-user-authentication-data

[2021-11-10 14:51] PramodValavala-MSFT commented on #25238
@ravibha-hub This error is one of the [documented AMQP Errors](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-troubleshoot) that are expected and can be ignored.

[2021-11-10 15:13] ardalis opened #25247 "[BUG] Azure App Service Startup Loop After Upgrade to Net6.0"
See: https://github.com/Azure/azure-sdk-for-net/issues/7900

I'm seeing basically the same behavior as in the referenced bug.

Log Stream (endless loop):
[code]

Installed Extensions:
![image](https://user-images.githubusercontent.com/782127/141139055-8716a336-b021-42b9-b12d-3166edae5feb.png)

GitHub Action That Deployed Site:
https://github.com/DevBetterCom/DevBetterWeb/blob/main/.github/workflow

[2021-11-10 16:22] jsquire commented on #25247
Hi @ardalis.  Thank you for reaching out and we regret that you're experiencing difficulties.  Unfortunately, this repository is focused on the Azure SDK for .NET - we're unable to assist with other for Azure issues.  Since what you're describing appears to be related to the Azure App Service itself and not one of its SDKs, your best path forward would be to [open an Azure support request](https:/

[2021-11-10 16:22] #25247 closed

[2021-11-10 17:12] PrachiJagtapTR opened #25248 "[QUERY]Microsoft.Azure.Management.ResourceManager.Fluent.Authentication.MSILoginException for token_type property not found in the response."
**Query/Question**
I'm using  user managed identity to get azure credentials.
var credential = SdkContext.AzureCredentialsFactory
                    .FromUserAssigedManagedServiceIdentity (
                        "user MI clientid",
                        MSIResourceType.AppService,
                        AzureEnvironment.AzureGlobalCloud);

[code]

[2021-11-10 17:15] jsquire commented on #25248
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-10 17:43] pooventhan commented on #15383
+1 on this.

Our current project (references deprecated WindowsAzure.Storage package) contains an entity class as per below:

[code]
Understood that we could replace `IgnoreProperty` attribute with `IgnoreDataMember` when upgrading to Azure.Data.Tables package. But, how could we get around for the custom ReadEntity and WriteEntity implementation?

[2021-11-10 18:45] jaschrep-msft opened #25249 "Storage Test Refactor - Access Condition Management"
#25235 centralized OpenRead tests, which were previously copy/pasted across libraries. Copy/pasted alongside them were mechanisms to generate access conditions for tests, which OpenRead depended on. The PR centralized the minimum it needed to keep its own tests running, but centralizing all of this would have extended the scope too far.

This issue is to track work to move all the copy/pasted acce

[2021-11-10 19:40] TomaszSynak commented on #25131
@JoshLove-msft I'm suffering from exact same issue now 😨 My app is going bananas with RAM reaching 27 GB on production environment 😟 I'm facing same case when debugging the app locally, seeing the RAM reaching > 2 GB just after ~2-3 minutes from the start. When can we expect newest version of `Azure.Messaging.ServiceBus` containing this fix, to be released ? 🙄

![image](https://user-images.githubu

[2021-11-10 20:02] heaths commented on #23786
You're right. Actually, that's a bug that it uses the remote provider only. I'll get that fixed and publish an update.

4.3.0 will GA early next year.

[2021-11-10 20:03] heaths opened #25254 "`KeyClient.GetCryptographyClient` should return a local/remote hybrid client"
...that's only true for the CryptographyClient constructed through the public constructors, not for the one returns by GetCryptographyClient (both remoteprovder & provider are set to the RemoteCryptographyClient)?

_Originally posted by @dxynnez in https://github.com/Azure/azure-sdk-for-net/issues/23786#issuecomment-965084858_

[2021-11-10 21:05] admalledd commented on #25202
That sounds like a fine middle ground (I prefer Interface or letting me "pick up" via DI instead of attribute, but meh in the end). When that is released I'll check it out and refactor code (again) to close this with a code-sample for clarity.

[2021-11-10 21:32] JoshLove-msft commented on #25131
It will be released today!

[2021-11-10 22:12] christothes commented on #15383
@pooventhan Could you describe your specific scenario that requires Read/Write entity customization?

[2021-11-10 22:25] andrew-hampton commented on #15383
Following back up on this, I believe I may be able to accomplish my scenarios by having a translation layer between my entities and TableEntity and utilizing the Dictionary<string, object> that it provides to implement my own serialization/deserialization. I haven't had an opportunity to fully vet this approach though. Thanks @christothes

[2021-11-10 22:30] tcc-sejohnson commented on #15383
@pooventhan

Having used the previous library and this one, I liked the ability to implement custom serialization logic. Not being able to in this library isn't my favorite. I've found two methods to get around it:

1. Add a constructor to your "domain" object
2. Add a helper method to your POCO

Both of the above involve making POCOs of your Azure Tables attributes that _exactly_ match the table

[2021-11-11 00:19] ShrutiJaiswal1494 opened #25262 "[QUERY] Using Azure.Identity to Authenticate Microsoft users"
Hi,

**Query/Question**
I have a .net core desktop application (it's a Microsoft internal app) where we authenticate all the users with Microsoft account using `MSAL` library following the example [here](https://github.com/Azure-Samples/ms-identity-dotnet-desktop-tutorial/blob/master/2-TokenCache/Console-TokenCache/Program.cs). In our app we do need to access some azure resources such as the blob

[2021-11-11 01:02] Karishma-Tiwari-MSFT commented on #25061
I have created a PR to update the documentation.
https://github.com/microsoft/ApplicationInsights-dotnet/issues/2469

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-11-11 01:02] #25061 closed

[2021-11-11 01:05] JoshLove-msft commented on #25245
@eegasai, can you please verify that your machine's time is accurate? We have seen this happen before when the time was not accurate.

[2021-11-11 01:22] seanmcc-msft opened #25266 "Storage - STG 81 release prep"
- Update [Constants.DefaultSasVersion](https://github.com/Azure/azure-sdk-for-net/blob/51f030b490f233d655400d2a53392b28bec38c98/sdk/storage/Azure.Storage.Common/src/Shared/Constants.cs#L27)
- Update [StorageVersionExtensions.LatestVersion](https://github.com/Azure/azure-sdk-for-net/blob/51f030b490f233d655400d2a53392b28bec38c98/sdk/storage/Azure.Storage.Common/src/Shared/StorageVersionExtensions.cs

[2021-11-11 01:48] yvgopal commented on #18279
Current SDK version 5.2.0 depends on Microsoft.IdentityModel.Tokens (>= 6.14.1). Closing it.

[2021-11-11 01:48] #18279 closed

[2021-11-11 03:24] eegasai commented on #25245
@JoshLove-msft : I have validated my machine time and its accurate. I have tried this sample in two different machines also and same issue is happening.

[2021-11-11 03:26] JoshLove-msft commented on #25245
You say that the same message is redelivered - does that mean you are getting an exception when you try to complete the message in the first delivery?

[2021-11-11 03:27] JoshLove-msft commented on #25245
Can you also try enabling logging?
[code]

[2021-11-11 03:28] eegasai commented on #25245
@JoshLove-msft : No there is no exception. As soon as i hit the CompleteMessageAsync and come out of the method the same message is received in the event again.

I will enable the logger and will let you know.

[2021-11-11 03:32] JoshLove-msft commented on #25245
If the lock was lost there should be an exception. How are you determining that the messages are the same?

[2021-11-11 03:36] eegasai commented on #25245
I did not get any exception. I have pushed only one message to the topic. I have also validated the message body and confirmed the payload is same as Payload is a Guid.

[2021-11-11 05:06] JoshLove-msft commented on #25245
Ok please include the SDK logs, and we can troubleshoot further.

[2021-11-11 05:07] JoshLove-msft commented on #25202
The new version is now available - https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.ServiceBus/5.1.0

[2021-11-11 07:56] jedjohan commented on #21511
Yes, also seeing it

[2021-11-11 09:54] seanarmstrong87 commented on #8053
@felipevianas Did you get any solution to your problem? I am having the same issue running on Mac (M1) debugging in Rider

[2021-11-11 11:03] ihorwill opened #25274 "Default outbound map issue"
There appears to be a bug in the default outbound map for http://schemas.microsoft.com/2012/12/certificatecontext/extension/authoritykeyidentifier: it maps to "certauthority key identifier" (with spaces).

The inbound map has "certauthoritykeyidentifier" (no spaces).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d69c

[2021-11-11 11:33] vakuras commented on #24618
/unresolve

Hi,

We added an explicit dispose (using a **using**).
Once, or twice we had a "System.Net.Sockets.SocketException (10060): A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond." error.

Have an idea what can be the issue?

[2021-11-11 11:45] Zeeshan0107 commented on #14891
It works perfectly. Thanks

[2021-11-11 11:56] IvanG96 opened #25275 "[BUG] ServiceBus MessageLock Exception on CompleteAsync"
**Describe the bug**
I'm using the Azure.Messaging.ServiceBus.dll version 7.4.0, ServiceBusReceiver.
It is used to get message out of the queue using peek\lock mode and then process it (sometimes processing takes up to 1 hour).
Lock time is 5 min, and I have a timer that calls token renew every 4 minutes.
The issue is that for the whole time token renew works without any exceptions from library si

[2021-11-11 14:10] jsquire commented on #25262
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-11 14:14] jsquire commented on #25274
This issue has been transferred to the repository where the `System.IdentityModel.Tokens.Jwt` package is maintained as [#1773](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1773).

[2021-11-11 14:14] #25274 closed

[2021-11-11 14:15] jsquire commented on #25275
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-11 15:01] ihorwill commented on #25274
Ah thanks. Sorry for the misfile.

[2021-11-11 15:33] christothes commented on #25262
Hi @ShrutiJaiswal1494  - Just to clarify, are you authenticating to the Azure resources as the user running the application? How is the app using the information about the user's security group membership?

[2021-11-11 15:38] felipevianas commented on #8053
Not yet, everything I have tried so far has not worked, I even tried Rider as well and no luck, as soon as I find the solution I will post it here.

[2021-11-11 18:30] JoshLove-msft opened #25278 ""Expect" header included in requests using .NET Framework"
When attempting to playback tests using the Test-Proxy, I am getting mismatch errors in EventGrid tests due to the request including the following header/value:
"Expect": "100-continue"

@pakrym tells me that these should not be included by default.

[2021-11-11 18:35] ShrutiJaiswal1494 commented on #25262
Hey, @christothes I am trying to access the azure resources using the registered App. The app needs to authenticate the user on their behalf

[2021-11-11 18:39] chriswendt1 commented on #19143
Upvote.
It does make sense to provide a collection of local files to translate, provide a local target location, and have the translations deposited in the target location. Needs some creativity with the file/directory naming. I solved that by allowing to pass a '*' in the target, which the code replaces with the <language ID for *this* language>.

[2021-11-11 18:51] chriswendt1 opened #25281 "[FEATURE REQ] Cognitive-Translator client SDK is missing a method to enumerate languages"
**Library or service name.**
Cognitive - Translator

**Is your feature request related to a problem? Please describe.**
Document Translation SDK is missing a method to enumerate the available languages
You should not expect the client developer to manually maintain a list of valid languages.

**Example**
Here is my implementation of that functionality:
https://github.com/MicrosoftTranslator/Docume

[2021-11-11 19:31] ravibha-hub commented on #25238
Thanks @PramodValavala-MSFT for the response.

[2021-11-11 19:31] ravibha-hub commented on #25238
Please feel free to close the issue

[2021-11-11 19:57] maririos commented on #25281
Hi @chriswendt1

Thanks for your implementation! As of today, the decision of not including the language codes in the .NET /SDK is by design.
We have included a link to the official documentation. You can find it here: https://docs.microsoft.com/azure/cognitive-services/translator/language-support#translate

@FadyEssam, @alexhcheng do you know if there are any plans of adding a method to the REST

[2021-11-11 19:57] jsquire commented on #25281
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-11 20:20] JoshLove-msft commented on #25275
It's possible that the renew lock could succeed whereas the message completion could fail if the link was temporarily disconnected and had to reconnect. Can you check in your logs to see if this happened? It would be logged in the SDK logging as a Verbose event.

[2021-11-11 20:26] #21026 closed

[2021-11-11 21:47] ShivangiReja opened #25289 "[LLC] Add live tests for WebPubSub"
Live tests are missing for [WebPubSub](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/webpubsub/Azure.Messaging.WebPubSub/tests).

If you need more information about the live tests, please refer https://github.com/Azure/azure-sdk-for-net/blob/main/CONTRIBUTING.md#live-testing. Here are some examples: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/anomalydetector/Azure.AI.Anomal

[2021-11-11 22:30] Mohit-Chakraborty commented on #25289
@JialinXin , @vicancy - are there existing plans to add live tests? Else, we can use this issue for tracking.

[2021-11-11 22:34] LijuanZ commented on #22425
@shawnxzq Swagger change has been merged

[2021-11-11 22:41] felipevianas commented on #8053
@seanarmstrong87 I just tried using AzureServiceTokenProvider( "RunAs=Developer;DeveloperTool=AzureCLI" ) on Rider and it worked.

However still doesn't work on Visual Studio for MAC.

@varunsh-coder can you help us?

[2021-11-11 23:07] varunsh-coder commented on #8053
I no longer work at Microsoft. From what I can remember the integration was between AzureServiceTokenProvider and Visual Studio, not VS for MAC. You can use Azure CLI's token on a MAC. Moreover, the recommendation is to migrate to the Azure.Identity library: https://docs.microsoft.com/en-us/dotnet/api/overview/azure/app-auth-migration

[2021-11-11 23:15] scottaddie commented on #24975
@afscrome This fix is available in the 1.0.1 release, which shipped yesterday.

[2021-11-11 23:31] maririos commented on #24666
@TPullen21 unfortunately I can't access the input file anymore, but looking at the REST output you are providing, it looks like all the fields are under the `MachineReadableZone` field.
You will need to do something like:
[code]

Lastly, @TPullen21 I want to confirm that if you follow the [sample ](https://github.com/Azure/azure-sdk-for-net/blob/Azure.AI.FormRecognizer_3.1.1/sdk/formrecognizer/Azu

[2021-11-12 01:38] cataggar opened #25292 "`Start-AutoRestCodeGeneration -SpecsRepoBranch master` broken"
Github 301 redirects to a 404. It looks like it could be caused by a Github redirect bug.

The code generates, but you end up with this in the `mgmtmetadata`:
https://github.com/Azure/azure-sdk-for-net/pull/25276/commits/f5831c885de47d85a6f89dade92976a54db27b8b#diff-8d6de8e1f29e666181b989e7f10c8e76787d865dd28b0af263b7c0e59329fb5aL3-L18

The workaround is to specify the `main` branch.
https://githu

[2021-11-12 01:42] #25238 closed

[2021-11-12 02:12] vikcher opened #25294 "[BUG] Service Bus receiver client PeekMessageAsync causing exception (Unable to cast object of type 'System.Int64' to type 'System.DateTime'.)"
**Describe the bug**

I am trying to Peek messages from a Service bus subscription using the  PeekMessageAsyc() method of ServiceBusReceiver.
This is causing an exception to be thrown, related to casting Int64 to DateTime.

**Expected behavior**
Expected behavior is that the first message in subscription is returned without any exception.

**Actual behavior (include Exception or Stack Trace)**
Wha

[2021-11-12 02:37] JoshLove-msft commented on #25294
@vikcher can you please share how you are creating and sending the message?

[2021-11-12 03:07] dxynnez commented on #23786
Thanks @heaths for the clarification! I guess in that case we shouldn't call GetCryptographyClient to get a fresh client every time as that would double the cost of all crypto related operations (first request try to get key, if fail then fire another one to call crypto related API directly). Do I understand it right?

[2021-11-12 03:16] pooventhan commented on #15383
@tcc-sejohnson Thank you very much for your suggestions! Appreciate it. I prefer solution 2 as well - it is much cleaner. :grinning:

@christothes We're storing JSON encoded values in few columns. Hence, the need for read/write customization.

[2021-11-12 06:34] v-yilinhu opened #25295 "[Form Recognizer] StartBuildModel(False) failing in nightly runs"
Form Recognizer runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1192251&view=results

@jsquire for notification.

[2021-11-12 06:35] v-yilinhu opened #25296 "[Form Recognizer] BuildModelOperationCanPollFromNewObject failing in nightly runs"
Form Recognizer runs are failing with:

For more details check here:

- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1192251&view=results

@jsquire for notification.

[2021-11-12 06:54] seanarmstrong87 commented on #8053
I got it working. I had installed homebrew and azure-cli on my Mac (M1) and
the Arm64 version has a different install location. The azure
authentication library couldn't find the CLI. Not sure why as there was a
symlink for it on the path. So I uninstalled homebrew and installed the 64
bit version then installed the 64 bit version of the azure-cli. Then it
worked.

On Thu, 11 Nov 2021 at 16:38, fe

[2021-11-12 07:23] v-xuto commented on #21459
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-net/pull/22460 merged.

[2021-11-12 07:23] #21459 closed

[2021-11-12 07:38] zedy-wj commented on #13111
This issue has not recurred, we will close this issue, thanks all!

[2021-11-12 07:39] #13111 closed

[2021-11-12 08:02] #9020 closed

[2021-11-12 08:06] aelij opened #25297 "[FEATURE REQ] ArmClient: Get resource from current context"
**Library or service name.**
Azure.ResourceManager, 1.0.0-beta.3

**Is your feature request related to a problem? Please describe.**
Let's start with an example. I want to get an existing resource (e.g. a storage account) in a resource group. My options are:

[code]

This is quite a common operation and I think it should be made easier. My suggestion is to generate singular methods alongside each

[2021-11-12 09:55] TPullen21 commented on #24666
@maririos thank you for getting back to me. With a few tweaks to your code it seems to be working correctly now.

Here is the a copy of my working code:

[code]

[2021-11-12 11:24] afscrome opened #25299 "[BUG] `MonitorQueryModelFactory.LogsQueryResult()` is unusable"
**Describe the bug**

I'm writing an app that can take generic log queries and convert them to metrics.  As part of this I'm needing to handle the various different numeric data types app insights can return (real, integer, decimal, float).  I'm trying to write a unit test that `print value=tofloat(5)`

`MonitorQueryModelFactory` has a `LogsQueryResult()` method which looks like what I need, howev

[2021-11-12 11:27] afscrome commented on #25299
There also seems to be a similar problem with `MetricsQueryResult` - it accepts `IReadOnlyList<MetricResult>`, but I see no way to create `MetricResult`

[2021-11-12 13:38] henriblMSFT opened #25301 "[QUERY] Set Azure WebJobs Service Bus connection string in code."
**Query/Question**
In version 4.x of the extension we used to be able to set the connection string information in code like this:

[code]
Starting with version `5.0.0-beta.2` this property was removed from ServiceBusOptions as part of change #19892 by @JoshLove-msft

Is it still possible to specify the connection string through code? If not, can this feature be added back to version 5.x of the SDK

[2021-11-12 14:04] jsquire commented on #25292
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-12 14:05] jsquire commented on #25297
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-12 14:07] jsquire commented on #25299
//cc: @kinelski

[2021-11-12 14:07] jsquire commented on #25299
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-12 14:08] jsquire commented on #25301
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-12 14:36] christothes commented on #15383
Could you elaborate on why this requires custom serialization?

[2021-11-12 15:01] Joren-Thijs-KasparSolutions commented on #25124
Any updates on this?

[2021-11-12 15:44] IvanG96 commented on #25275
Thank you for your quick reply.
I've enabled logging and will let you know once this issue happens again (today unfrotunately it hasn't reproduced).

I'm wondoering if its an SDK known issue, or if it's a normal AMQP behaviour written in the spec ?

[2021-11-12 16:14] felipevianas commented on #8053
@seanarmstrong87 thanks for the update, however I am not sure how to specify the 64 bit version during homebrew and azure cli installation.

Can you please let me know how you did it?

[2021-11-12 16:17] seanarmstrong87 commented on #8053
I followed this article which shows how to setup both versions of homebrew
on your mac.

https://medium.com/mkdir-awesome/how-to-install-x86-64-homebrew-packages-on-apple-m1-macbook-54ba295230f

Good luck

On Fri, 12 Nov 2021 at 17:14, felipevianas ***@***.***> wrote:

[2021-11-12 16:20] cataggar commented on #25292
Github confirmed the bug and will fix the redirect.

[2021-11-12 16:21] felipevianas commented on #8053
Great, thanks :)

[2021-11-12 16:41] yowl opened #25303 "[FEATURE REQ] [Forms Recognizer] Make RecognizedForm and child class serializable"
**Library or service name.**
Azure.AI.FormRecognizer.Models

**Is your feature request related to a problem? Please describe.**
I would like to be able to deserialize `RecognizedForm` .  You can serialize it, and to JSON that looks ok, but you can't deserialize due to missing parameterless constructors.  We process forms as a 2 stage process

1. Process the forms and extract key fields used for ma

[2021-11-12 16:57] jsquire commented on #25303
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-12 17:13] annelo-msft commented on #24907
We did not move forward with this approach because it would not work when we added full policies.  See approach taken in the implementation PR.

[2021-11-12 17:14] AlexanderSher commented on #24670
Yes

[2021-11-12 17:14] #24670 closed

[2021-11-12 17:32] amnguye commented on #25246
Hi, this is not an SDK issue rather than an expectation of the storage service. This should be routed to someone on the storage service for a proper explanation.

If you are modifying a blob (e.g. the append block on an append blob) and attempting to also do a read, the service will throw you a BlobModifiedWhileReading. This is due to a read and write conflict on the same blob.

I recommend if you

[2021-11-12 17:41] weshaggard commented on #11546
We have made this a lot easier with the Prepare-Release script so there isn't much we need to do with this direct versioning script.

[2021-11-12 17:41] #11546 closed

[2021-11-12 17:56] vikcher commented on #25294
@JoshLove-msft , the message was created and sent using Python ServiceBusClient. We create JSON messages.
Here is a code snippet:

`with ServiceBusClient(self.servicebus_fqns, client_credential) as client:
                with client.get_topic_sender(self.topic_name) as sender:
                    for row in partition_data:
                        message = {EventProperty.Id.value: str(uuid.uuid4(

[2021-11-12 18:17] kinelski commented on #25303
Thank you for your feedback, @yowl.

Currently we do not offer JSON (de)serialization since we can't guarantee serialized data compatibility across SDK versions. This would be a major feature that needs careful consideration. We've had similar feedback in the past, so we're aware this is a frequently requested feature: [[QUERY] FormRecognizer - Serialization for RecognizedFormCollection](https://g

[2021-11-12 18:19] vikcher commented on #25294
The ServiceBusClient package version is 7.4.0

[2021-11-12 18:24] yowl commented on #25303
Thanks, doesn't have to be JSON, XML would do fine, but I think the same restrictions exist and I understand the suggestion of ` FormRecognizerModelFactory` would work for me. I'll close this as I don't see it adds anything over the linked issue.

[2021-11-12 18:24] #25303 closed

[2021-11-12 18:48] JoshLove-msft commented on #25294
Thanks @vikcher
Can you also include the actual JSON for the message so I can try to reproduce the issue?

[2021-11-12 18:49] mikaila-msft opened #25306 "[QUERY] Event Hub producer client cannot CreateBatch when using a multi-tenant certificate - InvalidIssuer"
**Query/Question**
I have a certificate to my team's first party application. I'm creating an EventHubProducerClient and am using ClientCertificateCredential as the TokenCredential argument. I've ensured that we are sending the certificate chain by setting that ClientCertificateCredentialOption to true. The certificate we're using is one for a first party app we have for our resource provider.

Wh

[2021-11-12 18:50] ShivangiReja commented on #24493
Part-1 of this task is completed, which is adding template-LLC project that SDK developers can refer. Here is the template-LLC project - https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/template-LLC.

Next I'm working on adding LLC quick start guide.

[2021-11-12 19:11] vikcher commented on #25294
Here is a sample JSON:

`
{"id": "3a592232-89c1-4fd8-96fe-95b3a4c4662b", "indexName": "index_name", "type": "TimelineUpsert", "version": "V1", "fileFormat": "PARQUET", "fileSystem": "document", "filePath": "/Redacted/file/path/tid-4831-00614aa6-7ee5-49eb-a019-e132b9238e84-3187-1-c000.samplePath.parquet"}
`

[2021-11-12 20:10] jsquire commented on #25306
Hi @mikaila-msft.  Thank you for reaching out and we regret that you're experiencing difficulties.  The Event Hubs client library doesn't participate in authorization, it only passes the supplied credential to the Event Hubs service.   The message that you're seeing would appear to indicate that the service received the credential and rejected it.

We'll need to ask the Event Hubs service team to

[2021-11-12 20:13] christothes commented on #25262
If your intention is to secure access to something using this approach, I don't believe your registered app credentials would be secure. Have you considered just adding the security group to the storage contributors role and accessing the storage service as the user?

[2021-11-12 20:16] JoshLove-msft commented on #25294
Interesting, @yunhaoling @swathipil, do you know how a JSON message like this would be sent when using the Python SDK? Are they put into the ApplicationProperties?

[2021-11-12 20:28] JoshLove-msft commented on #25301
You could set the setting in code doing something like this - https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/tests/WebJobsServiceBusTestBase.cs#L142-L145

where you can set an entry in the dictionary with a key being equal to your connection setting name, and the value being your connection string.

[2021-11-12 20:29] JoshLove-msft commented on #25275
This isn't part of the AMQP spec, but it is a known issue in the SDK/service. We will be looking at ways to improve the lock lost experience in the coming months.

[2021-11-12 21:15] mikaila-msft commented on #25306
Ah, I see. Thank you Jeese.

[2021-11-12 21:46] ShrutiJaiswal1494 commented on #25262
Do you mean a security group that consists of all users of my application and giving that security group the permissions to access the storage?

[2021-11-12 22:23] ShrutiJaiswal1494 commented on #25262
In that case, my concern is there isn't a security group (which I am aware of) that consists of all the Microsoft employees which I can use in this case :(

[2021-11-12 22:49] amnguye commented on #25077
We will look into adding this functionality gap for OpenWrite.

[2021-11-12 23:18] VladimirKhvostov commented on #23760
Hello,
I hit similar issue:
[code]
fails reporting the following error:
[code]

[2021-11-12 23:19] amnguye commented on #25124
Looks like your expectation of `GetBlobClient` is incorrect.
https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.getblobclient?view=azure-dotnet#Azure_Storage_Blobs_BlobContainerClient_GetBlobClient_System_String_
This API takes in the `blobName` not the full Uri to the blob.

The scenario to support in the event that in the Connection string that the "BlobEndpoint=

[2021-11-12 23:35] annelo-msft commented on #24699
We will move this functionality into HttpPipelineTransportPolicy.

[2021-11-13 00:24] amnguye commented on #25207
What are the authentication details in your method called
GetBlobServiceClient on line 7 (Looks like you're calling a stand alone method not from the SDK, since its not calling from a SDK API object)

hopefully it looks like this?
`BlobServiceClient blobClient = new BlobServiceClient(new Uri(blobEndpoint), new DefaultAzureCredential());`

please confirm

[2021-11-13 11:56] peter-bozovic commented on #19782
I'm currently migrating to Azure Storage v12 library and hitting an issue with the changes from IgnoreProperty to IgnoreDataMember.

My object has read-only properties that I don't want to save into the table, but I want to serialize them as Json.

Currently, if I put IgnoreDataMember on this property it won't be saved to the table, but won't be serialized into Json either.

And if I remove Ignore

[2021-11-14 00:43] isaacrlevin commented on #24754
Seeing this as well in Azure.ResourceManager 1.0.0-beta.5

[2021-11-14 10:16] aelij opened #25312 "[BUG] AppendChildResource produces incorrect ResourceType"
**Describe the bug**

[code]

**Expected behavior**
`Microsoft.Storage/accounts/containers`

**Actual behavior (include Exception or Stack Trace)**
`Microsoft.Resources/containers`

**To Reproduce**
See above

Note that calling `new ResourceIdentifier(identifer.ToString()).ResourceType`  produces the correct result.

**Environment:**
 - Name and version of the Library package used: Azure.ResourceM

[2021-11-15 01:30] JoshLove-msft commented on #24037
Closing as we decided it didn't help with perf.

[2021-11-15 01:30] #24037 closed

[2021-11-15 01:53] Yao725 opened #25313 "Release Azure.ResourceManager.DeviceUpdate"

[2021-11-15 02:05] vicancy commented on #25289
https://github.com/Azure/azure-sdk-for-net/pull/25106/files here is the PR for live test, have some tests to fix

[2021-11-15 02:09] yukun-dong commented on #25182
I have reproduced the error using string on template or parameters to create a deployment. Since the descriptions come directly from swagger doc, I created a issue on swagger repo to track this problem: https://github.com/Azure/azure-rest-api-specs/issues/16759.

For JObject, could you @jackhorton please elaborate what specific object you used that caused this error, because "System.Text.Json-seri

[2021-11-15 04:27] hovermind commented on #17354
Currently Pulumi Azure Native example does this. I was getting error for 2 days until came here!

[2021-11-15 06:24] #23188 closed

[2021-11-15 07:54] amishra-dev commented on #25119
@jrywin there is a fix rolling out that will fix this issue. I dont see you account name, if you send it to me, i can try and get that prioritized.

[2021-11-15 08:09] FisherMS opened #25316 "[BUG] BlobStorage SDK:The download method is unstable and the process is not friendly"
**Describe the bug**
1. When downloading, the file size is 0, and the actual size is displayed when the download is complete.
2. When the network is poor, downloading files larger than 100M will become 0 at 100M, and download again.

**Expected behavior**
1. It is hoped that the actual download size can be displayed when downloading.
2. Hope there is a parallel download method to download large fi

[2021-11-15 08:54] jeffhli opened #25317 "[QUERY] High cpu usage when upload to blob storage"
**Query/Question**
When I upload some blobs in parallel to azure blob storage, there are different cpu usage. I want to know what's the difference between two different configurations.

**Environment:**
 -  Azure.Storage.Blobs 12.10.0
 - .net core 3.1
 - IDE and version :  Visual Studio 16.5
 - Upload 4 blobs(10MB) in parallel
 - Parameter1: ```BlobUploadOptions options = new BlobUploadOptions

[2021-11-15 10:21] tdptg opened #25319 "[BUG] Microsoft.Azure.ServiceBus.ServiceBusException: A task was canceled."
**Describe the bug**
Hello, we are getting a ton of Microsoft.Azure.ServiceBus.ServiceBusException: A task was canceled in our AKS pod logs that may be related to when sessions are enabled. Project is hosted in Azure.

**Expected behavior**
No TaskCanceledException.

**Actual behavior (include Exception or Stack Trace)**
Microsoft.Azure.ServiceBus.ServiceBusException: A task was canceled.
 ---> Sy

[2021-11-15 10:54] tkachuk2222 opened #25320 "[QUESTION] How can I correctly send a message to the dead letter queue from the azure function service bus trigger?"
**Query/Question**
How can I correctly send a message to the dead letter queue from the azure function service bus trigger?
Want to do it without exception throwing

**Environment:**
- Azure Function dotnet-isolated
- azure function version v3
- .net 5.0
- Microsoft.Azure.ServiceBus 5.1.3
- Microsoft.Azure.Functions.Worker.Extensions.ServiceBus 4.2.1

[2021-11-15 14:00] jsquire commented on #25312
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-15 14:21] jsquire commented on #25306
@mikaila-msft:  I was thinking about this over the weekend and something about the error message doesn't feel like Event Hubs to me.   Would you be so kind as to share the stack trace so that we can validate this isn't an error being triggered within the `Azure.Identity` library as it attempts to form the token within the credential?

[2021-11-15 14:33] christothes commented on #19782
@peter-bozovic What type is the property when it causes the "Not Supported Type" exception? Assuming it is some complex object type, what if you store the property as its object type with the IgnoreDataMember attribute and serialize the object as JSON into a different unignored property in the setter for the first property?

[2021-11-15 15:12] peter-bozovic commented on #19782
Yes, my property that I want to ignore for my Azure table storage is custom class used to reformat data.
About creating another property for the JSON serialization, woudn't I hit the same issue as the first property since it's unignored ?

Simplified exemple of my previous implementation:
[code]

So when I removed the [IgnoreProperty], I got the Not Supported Type exception, and then when I added

[2021-11-15 15:16] jsquire commented on #24618
This message indicates that the .NET networking layer was unable to establish a connection within the configured timeout period.  This is most commonly network latency, transient network issues, or contention in the thread pool that is preventing continuations from being scheduled efficiently.

[2021-11-15 15:20] jsquire commented on #25274
No worries and it wasn't on your end.   All docs-related issues route through this repo when filed.   It's on us to make sure they end up in the right place for assistance.  😄

[2021-11-15 15:24] j055 opened #25323 "[BUG] TableEntity.GetDateTime throws InvalidOperationException"
**Describe the bug**
`TableEntity.GetDateTime`  throws `InvalidOperationException`. Cannot return System.Nullable`1[System.DateTime] type for a System.DateTimeOffset typed property.

The date was added using `TableEntity.Add`, e.g.

[code]

**Expected behavior**
`TableEntity.GetDateTime` should return a valid `Nullable<DateTime>` without error.

**Actual behavior (include Exception or Stack Trace)

[2021-11-15 15:49] christothes commented on #19782
If you needed to persist the who serialized Person object in the table, I was thinking something more like this:

[code]

Alternatively, you could explode all distinct properties of `Person` into the `MyPerson` model.

[code]

[2021-11-15 16:06] garoplin opened #25324 "EventGrid subscription filtering on arrays"
**Query/Question**
Hi Team,
I have question regarding Event Grid Subscription filtering via Azure Portal/Rest api. This may not be the right place for asking that, but I could not find a proper repository for that. My question is, whether it will be possible to filter array fields in the event. Do you have any timeline for that or maybe is it on your roadmap? The documentation clearly states that

[2021-11-15 16:12] jsquire commented on #25324
Hi @garoplin.  Thank you for reaching out and we regret that you're experiencing difficulties.  Unfortunately, this repository is focused on the Azure SDK for .NET - we're unable to assist with other Azure issues.  Since what you're describing appears to be related to the portal and not one of its SDKs, your best path forward would be to [open an Azure support request](https://docs.microsoft.com/a

[2021-11-15 16:12] #25324 closed

[2021-11-15 16:18] christothes commented on #25262
Sorry for the side track, but have you seen this sample? It incorporates Graph and Identity https://docs.microsoft.com/en-us/graph/tutorials/dotnet-core?tutorial-step=1

Note that you won't be able to use the same token for graph as with the Azure service, since they will target different scopes.

[2021-11-15 16:28] jackhorton commented on #25182
By "System.Text.Json-serializable object", I just meant any normal POCO: For example:

[code]

[2021-11-15 16:30] christothes commented on #25323
Hi @j055
If `entity.DateTime` is typed as a `DateTimeOffset`, then this behavior is by design.

ex.
[code]

[2021-11-15 16:48] aelij commented on #13604
This is now possible using `ArmClient`.

[2021-11-15 16:48] #13604 closed

[2021-11-15 16:50] aelij commented on #13603
Now available in `ArmClientOptions.Scope`

[2021-11-15 16:51] #13603 closed

[2021-11-15 16:52] aelij commented on #13481
Thanks

[2021-11-15 16:52] #13481 closed

[2021-11-15 16:53] aelij commented on #13496
Now available as `ResourceIdentifier`

[2021-11-15 16:53] #13496 closed

[2021-11-15 17:25] christothes commented on #19782
Perhaps I am missing something, but in the first example above, `PersonJson` contains "{"FirstName":"John","LastName":"Doe"}" and is DeSerialized to the ignored `Person` property the first time it is accessed.

[2021-11-15 18:29] vikcher commented on #25294
Hi @JoshLove-msft , @yunhaoling , @swathipil - is there any update on this?

[2021-11-15 20:18] peter-bozovic commented on #19782
Yes, the object itself is deserialized and contains the values, but if I want to return it as Json for API for example, it will be ignored ...
Example of the result: https://dotnetfiddle.net/ketjE6

[2021-11-15 20:51] christothes commented on #19782
Your fiddle works if you remove the `JsonIgnore` attribute from `PersonJson` - You'd need that property to be serialized and sent to/from the table for it to be serializable.

[2021-11-15 21:17] swathipil commented on #25294
@JoshLove-msft - Here, the ServiceBusMessage `body` attribute would be set to the sample JSON value.

[2021-11-15 21:17] kinelski commented on #15941
Hey @Gyeonghun-Park,
Thank you for letting us know. I think the main concern was having an inaccurate summary text, which seems to be fixed as you pointed out. To add the `value` parameter description, you would need to overwrite the generated constructor for every extensible enum, which may not be worth the effort. If for any reason we think adding the `value` parameter description is necessary,

[2021-11-15 21:17] #15941 closed

[2021-11-15 21:36] JoshLove-msft commented on #25294
We just tried a test where @swathipil sent a message containing the body you have included using the Python SDK and I received it and completed it using the .NET SDK, and everything worked.

Are you setting any other properties on the message, or are you only setting the body as in the code snippet you have provided?
The only way I can see this error occurring is if one of the reserved Service Bus

[2021-11-15 23:15] peter-bozovic commented on #19782
I'll have PersonJson property as text, but not the Person object with multiple properties
You get :
`
{"PersonJson":"{\"FirstName\":\"John\",\"LastName\":\"Doe\"}"}
`
Instead of
`
{"Person":{"FirstName":"John","LastName":"Doe"}}
`

`[JsonIgnore]` allows me to store the serialized text into the Azure table without having it in the Json output, while the previous `[IgnoreProperty]` allowed me to hav

[2021-11-15 23:25] heaths commented on #23786
Ideally you cache the returned `CryptographyClient`. We'll only try to fetch one time once the PR is merged and new package released. But if we can fetch, any public key crypto operation happens locally. So encrypting, wrapping, and verifying can be done locally if the key can be retrieved.

[2021-11-15 23:30] christothes commented on #19782
Thanks for clarifying - and I appreciate your patients as I ask these questions!

One part I am not quite understanding - why would you need to call `JsonConvert.SerializeObject(person);` to get the serialized json of Person when you already have it in `PersonJson`? The output you are getting from `JsonConvert.SerializeObject(person);` is the same but with the Person object assigned to another obj

[2021-11-15 23:31] AshleyAsh90 opened #25332 "[QUERY]TokenPersistence for DeviceCodeCredential"
**Query/Question**
I am following the sample([ClientSideUserAuthentication](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/samples/ClientSideUserAuthentication.md)) using TokenCachePersistence for DeviceCodeCredential instead of InteractiveBrowserCredential and it seems to call the DeviceCodeCallback despite the authenticationRecord being present and it seems to b

[2021-11-15 23:32] peter-bozovic commented on #19782
As explained in my previous comment, the output is not the same, serialized json text is not the same as json object (you'll notice quotes around the brackets and escape backslash for inside quotes)

[2021-11-15 23:48] christothes commented on #19782
This is because of how the json was initialized in the fiddle. This works:
https://dotnetfiddle.net/xiQOO5

[code]

[2021-11-15 23:57] peter-bozovic commented on #19782
The simplified example doesn't contain other properties within the `PersonTable`, but I need to return the serialized `PersonTable` with other properties, including the complex objects.
You are writing `person.PersonJson` instead of serialized `person` (that I tried to demonstrate in my initial fiddle)

[2021-11-16 00:42] ArthurMa1978 commented on #23760
@HarveyLink Minghao please help to check this issue

[2021-11-16 00:48] ArthurMa1978 commented on #23760
Test does not cover Get on DeletedVaults, might be a bug

[2021-11-16 01:02] HarveyLink opened #25333 "`Location` parameter inside request path couldn't be properly generated"
e.g.
`"/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}"`

Should be resolved after https://github.com/Azure/autorest.csharp/pull/1565

[2021-11-16 01:04] #25333 closed

[2021-11-16 01:09] HarveyLink commented on #23760
Link issue https://github.com/Azure/autorest.csharp/issues/1685

[2021-11-16 01:15] mattchenderson opened #25334 "Wrong error message for omitting scheme from Uri in Storage configuration in Azure Functions"
Please note that there was an error in documentation which led to folks omitting https:// because they were following the instructions. The docs have been updated, but it still seems very reasonable that one might hit this and be confused by the error message given.

**Describe the bug**

Omitting the https:// scheme from a parameter value causes an error having to do with the parameter set (and n

[2021-11-16 02:45] yukun-dong commented on #25182
The Serialization logic existed in SDK is not the same as JsonSerializer. The current solution for this is to pass a `JsonElement` rather than a `Object` to Parameters:

[code]
If you are using .NET 6.0, then `SerializeToElement` function can help.
[code]

We will add some more samples of creating Deployment in the Resource RP, and we will consider modifying Serialization logic in SDK so that can

[2021-11-16 06:19] amnguye commented on #18381
Should be resolved by this PR https://github.com/Azure/azure-sdk-for-net/pull/24984

[2021-11-16 06:19] #18381 closed

[2021-11-16 06:21] amnguye commented on #18780
@jaschrep-msft Could you help with this?

[2021-11-16 07:27] chunyu3 commented on #24671
For simple model someModel {
  Guid ID,
 string Description,
int Count,
}

![image](https://user-images.githubusercontent.com/10458143/141939669-43c6f352-0f83-47bb-92d8-9affe7e247c3.png)

[2021-11-16 08:02] #21185 closed

[2021-11-16 08:19] chunyu3 commented on #24671
Bechmark Result for one complex model
![image](https://user-images.githubusercontent.com/10458143/141947280-47f44db9-69b2-4d42-b8c0-e6224a0632d3.png)

![image](https://user-images.githubusercontent.com/10458143/141947039-ace29f08-1997-4f89-96aa-9a822621a2a3.png)

[2021-11-16 08:20] chunyu3 commented on #24671
UseTryGetProperty cost lest time and allocated less memory.

[2021-11-16 08:54] PramodValavala-MSFT commented on #25320
@tkachuk2222 Unfortunately, this isn't possible without throwing an except with dotnet isolated (or other non-C# languages). This is only supported for in-process C# functions by binding to a `MessageReceiver` object.

[2021-11-16 10:02] #25142 closed

[2021-11-16 10:30] tommymarkmamake opened #25340 "[FEATURE REQ] RESILIENCY: GA Support ESTS-R in Azure.Identity SDK"
**Library or service name.**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

Azure.Identity SDK

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

Our 1st party app Dev is blocked for using Azure. Identity SDK to adopt ESTS-R, due to the lack of autodetect region in GA.

[2021-11-16 10:50] #25320 closed

[2021-11-16 13:39] jsquire commented on #25332
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-16 13:41] jsquire commented on #25340
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-16 14:29] christothes commented on #25340
Hi @tommymarkmamake Could you describe a bit more detail about what you are trying to accomplish including any example code or errors you currently receive?

[2021-11-16 14:38] Jawz84 opened #25342 "[FEATURE REQ] Bring back Table binding, along with TableEntity"
**Microsoft.Azure.WebJobs.Extensions.Storage.Table**

Table binding is a useful feature from a function app perspective. I do not understand why this is not even mentioned in the release notes for 5.0.0.

In my case, my website is using Table storage as a simple, lightweight database. I wanted to upgrade all packages to latest to stay current. from 4.0.5 to 5.0.0 breaks. I have to stay on 4.0.5 wh

[2021-11-16 14:53] MauRiEEZZZ commented on #24435
Any news?

[2021-11-16 16:01] zahraasaleh opened #25344 "unexpected output from Get-AzRecoveryServicesVaultProperty"
[trying to get the Azure recovery services vault storage setting from PowerShell is not working and gives an empty result
PS /home/zahraa> $vault = Get-AzRecoveryServicesVault -ResourceGroupName "zahraasaleh" -Name "zahraasaphana2"
PS /home/zahraa> $vaultProperty = Get-AzRecoveryServicesVaultProperty -VaultId $vault.Id
PS /home/zahraa> $vaultProperty

![image](https://user-images.githubusercontent

[2021-11-16 16:35] pakrym commented on #25123
Unfortunately, there is no way to implement this right now.

[2021-11-16 17:20] jackhorton commented on #25182
More examples would definitely be helpful. Instead of allowing more kinds of objects directly in the current structure, is there any chance this could get more strongly typed so consumers know what they can use without needing to look at the examples? In addition to the suggestion for a native `DeploymentParameters` type in my first comment, I could also imagine the following would allow for more

[2021-11-16 17:27] AlexGhiondea commented on #18648
Submitted a PR to the sample: https://github.com/Azure/azure-docs-sdk-dotnet/pull/2091

[2021-11-16 17:27] AlexGhiondea commented on #18647
https://github.com/Azure/azure-docs-sdk-dotnet/pull/2091

[2021-11-16 17:29] AlexGhiondea commented on #10126
@ArthurMa1978 is looking into moving the code back to this repo (in a branch).

[2021-11-16 17:36] AlexGhiondea commented on #24427
@dereklegenzoff to comment on this as as this is a service-side ask.

[2021-11-16 17:40] jsquire commented on #25344
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-16 17:47] #25278 closed

[2021-11-16 17:48] AlexGhiondea commented on #21510
This is now available! 🙂.

[2021-11-16 17:48] #21510 closed

[2021-11-16 17:57] #25254 closed

[2021-11-16 18:23] AlexGhiondea commented on #24811
Which library were you using?

[2021-11-16 18:29] alrod opened #27969 "Distributed traces need to be added to ServiceBus extension"
[CRI](https://portal.microsofticm.com/imp/v3/incidents/details/271092446/home)

[2021-11-16 18:36] AlexanderSher commented on #23940
In your generated `*RestClient`, there should be a call to `await _pipeline.SendAsync(message` (or `_pipeline.Send(message` if you're using sync version). From there you can use `message.Request.Content`.

Or, if you need to debug how the content is created, you can look for the `CreateXXXRequest` methods where `request.Content` is assigned and go from there.

[2021-11-16 18:47] JoshLove-msft commented on #19666
The approach we decided on was to focus on improvements within the AMQP lib itself rather than introducing a new programming model in the Service Bus library. Thank you for your contributions @danielmarbach! We should make sure that these changes made their way into the hotfix branch - https://github.com/Azure/azure-amqp/tree/hotfix

[2021-11-16 18:47] #19666 closed

[2021-11-16 18:56] heaths commented on #23786
@dxynnez if you'd like to try out the new package with the fix to attempt to cache the key locally from `KeyClient.GetCryptographyClient`, please use https://www.nuget.org/packages/Azure.Security.KeyVault.Keys/4.3.0-beta.4 and open new issues if you find any.

Thanks!

[2021-11-16 18:59] #18891 closed

[2021-11-16 19:08] JoshLove-msft commented on #24851
Closing for now as I have not been able to reproduce this. Please reopen if you run into this issue again.

[2021-11-16 19:08] #24851 closed

[2021-11-16 19:17] amnguye commented on #25317
Parameter 1: Because the maximum concurrency is higher for that upload, but the maximum transfer size is smaller, there are multiple threads reading from memory at the same time, which would mean the RPM would increase due to the higher access to memory, and because the Transfer Block Size is smaller than Parameter 2, it shows this more obviously because the first scenario has to go and access mem

[2021-11-16 19:32] jmelkins commented on #19782
The difference between code examples is that the Json.NET serializer, unlike the one from System.Text.Json, recognizes the [IgnoreDataMember] leading to a clash.

The problem could be resolved by switching to System.Text.Json but if you want to stay with Json.NET then perhaps a suitable workaround would be to make properties opt-in for JSON serialization, which is supported by Json.NET?

[code]

[

[2021-11-16 21:06] harre096 opened #25354 "For Connection String support, highlight Azure.Identity instead of older library"
The Connection String Support section should mention [Azure.Identity Migration](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/app-auth-migration) instead of focusing solely on AzureServiceTokenProvider, which is part of the older, "no longer recommended" Microsoft.Azure.Services.AppAuthentication library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-11-16 22:22] amnguye opened #25357 "[BUG] [Spike] Exception messages on retry are not detailed enough to show the exception for each retry"
When a retry policy is in place and then times out cause the retry policy has reached the limit (default is 6) the error message isn't detailted enough and shows the all the exceptions thrown (e.g. if 6 timeouts happen, it shows the last one).

Things to investigate:
1. Scenario when we get 500s back, do we return all the 500 error messages back? What if one of the error messages are different
2.

[2021-11-16 22:29] kinelski opened #25358 "[FormRecognizer] Re-enable prod testing cloud"
It's currently disabled because of service issues.

[2021-11-16 22:58] christothes opened #25360 "[FEATURE REQ] Add support for certificate thumbprint to EnvironmentCredential and ClientCertificateCredential"
See #11804 for details

[2021-11-16 22:58] #11804 closed

[2021-11-16 23:02] christothes opened #25361 "Implement consistent Token Caching support that builds on MSAL cache"
MSAL's cache implements some fairly complex logic that we do not ever intend to duplicate in Azure.Identity.

Ideally we would utilize the underlying MSAL library's cache to offer a consistent caching experience. MSAL currently it does not expose its cache directly. This may be something that becomes available in the future as a feature enhancement.

[2021-11-16 23:03] christothes commented on #18938
closing this and tracking with #25361

[2021-11-16 23:03] #18938 closed

[2021-11-17 00:06] amnguye commented on #25316
Sorry I'm a little confused on what the bug or issue is, and what the expectation is (this looks like many issues all in one issue)

How big is the blob you're downloading? It might be downloading it in one request, so it is expected that the download starts at 0 then completes to the actual blob size because the block size might be bigger or equal to the size of the file. We only update the file

[2021-11-17 00:19] AlexGhiondea opened #25364 "io.netty security issues"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/25216

<div type='discussions-op-text'>

<sup>Originally posted by **daesma** November  9, 2021</sup>
Hi,

We are seeing that dependencies like  io.netty:netty-handler 4.1.52.Final, and a bunch of other io.netty packages, are flagged for security issues. We also know that it's coming from azure dotnet package as dependencies,

[2021-11-17 00:20] AlexGhiondea opened #25365 "DataDeletionDetectionPolicy in SearchIndexerDataSourceConnection"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/25201

<div type='discussions-op-text'>

<sup>Originally posted by **quisitive-mkushnirsky** November  8, 2021</sup>
Is there a way to specify connection.DataDeletionDetectionPolicy when creating or updating datasource for indexer?
</div>

[2021-11-17 00:20] AlexGhiondea opened #25366 "Multiple accounts on Azure.Identity"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/25187

<div type='discussions-op-text'>

<sup>Originally posted by **genchani** November  8, 2021</sup>
Hello regards,

I am building an MS Graph Api desktop client on .net Framework, and I had to move from **Microsoft.Graph.Auth to Azure.Identity** for authentication.
With the previous package, I was able to allow users to si

[2021-11-17 00:21] AlexGhiondea opened #25367 "Best way to replace destination blob with source, only if they're different?"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/25146

<div type='discussions-op-text'>

<sup>Originally posted by **irontoby** November  4, 2021</sup>
I want to determine whether two blob storage objects (in different containers) have identical contents. If they do not have the same contents, I want to update one with the contents of the other. It appears that the most str

[2021-11-17 00:23] AlexGhiondea opened #25368 "ServiceBusMessage constructor overload with behavior to match Body.ToObjectFromJson<T>"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/24616

<div type='discussions-op-text'>

<sup>Originally posted by **danleonard-nj** October  9, 2021</sup>
Sorry in advance if this is already out there somewhere and I'm just missing it.  I think it'd be nice to have an overload for ServiceBusMessage that took an object and serialized it w/ JsonSerializer, so you can pass th

[2021-11-17 00:24] AlexGhiondea opened #25369 "Trying to use sdk to manage aks cluster"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/24783

<div type='discussions-op-text'>

<sup>Originally posted by **D3m1urg3** October 18, 2021</sup>
I'm trying to use azure .net sdk in order to manage my azure kubernetes infrastructure without the need of the cli. More specifically, I want to be able to:

1. Create a resource group.
2. Create an aks cluster within the gro

[2021-11-17 00:24] AlexGhiondea opened #25370 "How to request a release for Microsoft.Azure.Management.ResourceManager"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/24719

<div type='discussions-op-text'>

<sup>Originally posted by **diwudd** October 13, 2021</sup>
How to request a release for Microsoft.Azure.Management.ResourceManager?

As it is not a client or management library, what is the process to request a release?</div>

[2021-11-17 00:27] JoshLove-msft commented on #25368
This sounds like a good enhancement request that we can look into for a future release.

[2021-11-17 00:29] AlexGhiondea commented on #25369
@allenjzhang could you help with this?

[2021-11-17 00:30] AlexGhiondea commented on #25366
/cc @christothes @schaabs

[2021-11-17 00:31] AlexGhiondea commented on #25370
@diwudd can you share more details about what you are trying to accomplish?

/cc @allenjzhang

[2021-11-17 00:39] #25370 closed

[2021-11-17 00:46] ShikaTech opened #25371 "Some typos in `System.IdentityModel.Tokens.Jwt/JwtHeader`"
Some comments look like typos.

- typo1 - https://docs.microsoft.com/en-us/dotnet/api/system.identitymodel.tokens.jwt.jwtheader.-ctor?view=azure-dotnet#System_IdentityModel_Tokens_Jwt_JwtHeader__ctor_Microsoft_IdentityModel_Tokens_EncryptingCredentials_System_Collections_Generic_IDictionary_System_String_System_String__
  - `{ { typ, JWT }, { alg, SigningCredentials.Algorithm } }`
    - Is this `{

[2021-11-17 01:00] KrzysztofCwalina commented on #24671
One of the approaches I thought would be good to investigate was to use Utf8JsonReader. I suspect it will be the fastest (significantly) and the question is whether the code we would have to generate would be too complex.

[2021-11-17 01:10] Fisher-Joe commented on #25316
@amnguye  Thank you .
This download file size is 102M . Sorry ,I found the downloaded size become 0 is because of the servicebus retry .
I will read and test the document you provided today. Thanks again for your work.

[2021-11-17 01:27] tommymarkmamake commented on #25340
Hello @christothes
For Sure Happy to explain more!
So with the newest Azure. Identity SDK, only supports ESTS-R via a global environment variable, which the dev needs to configure. However, it will not be for some of the 1st party clients, since they need to change the regional endpoints based on the cloud authority they target. They would need to have the Autodetact endpoint to help to support ES

[2021-11-17 01:27] DMaxwell02 opened #25373 "[BUG] DigitalTwinsClientSample fails in DigitalTwinsClientSample at componentSamples Status 500 internal server error when creating a CustomDigitalTwin"
**Describe the bug**

[BUG] DigitalTwinsClientSample fails with Exception _User-Unhandled. 'Service request failed'. Status 500 (Internal Server Error)_ in sample project program.cs line 65, "await componentSamples.RunSamplesAsync(dtClient);"

**Expected behavior**

Expect to run entire DigitalTwinsClientSample project without any errors. Project was cloned from GitHub. The only modification was t

[2021-11-17 01:27] peter-bozovic commented on #19782
Thanks @jmelkins, this is exactly what I needed !
I was sure there must be some way but was not aware of the `MemberSerialization.OptIn` option ...

On the subject of `System.Text.Json`, I had the inverse problem in another project where I needed it to take into account the [IgnoreDataMember] (defined in another class I don't have control over), but currently it doesn't . Apparantly it's planned f

[2021-11-17 01:46] dereklegenzoff commented on #24427
Thanks for this feedback @petro2050.

There's not a way to use something like a connection string with Azure Cognitive Search today. We have recently added support for using [Azure AD to authenticate requests](https://docs.microsoft.com/azure/search/search-howto-aad) though so that you don't have to use a key. I wonder if that would be helpful to you?

[2021-11-17 03:04] StephenCleary commented on #21511
Just updated to the new .NET 6.0 with latest (non-prerelease) libraries and ~4 runtime (in-proc C# library), and this issue still occurs.

If you want to stem the AI log spam, setting `Azure.Core` to `Error` in your `host.json` seems to stop it:

[code]

This unfortunately turns off *all* of [the `Azure.Core` logs](https://github.com/Azure/azure-sdk-for-net/blob/512c4440723df72c0a466212802d6a67835

[2021-11-17 03:10] Mohit-Chakraborty opened #25374 "[BUG] Remove-TestResources.ps1 script fails to run"
**Describe the bug**
Remove-TestResources.ps1 script fails to run and cleanup test resources.

**Expected behavior**
The script runs successfully

**Actual behavior (include Exception or Stack Trace)**
The script fails to run because it calls the function `Get-PurgeableGroupResources` which calls the missing function `Get-AzKeyVaultManagedHsm`

**To Reproduce**

Get-PurgeableGroupResources: C:\azu

[2021-11-17 03:38] jenp-jb opened #27968 "Updating from 4.2.1 to 5.1.0 introduces issue with MessageReceiver"
Upgrading the extension nuget package from 4.2.1 to 5.1.0 resulted in IMessageReceiver and MessageReceiver in my function / class becoming unknown.  I use this in order to be able to Complete and Deadletter messages according to our logic as some failures will never succeed so there's no point retrying.

I tried to fix this by installing the deprecated Microsoft.Azure.ServiceBus nuget package 5.2.

[2021-11-17 03:45] amnguye commented on #25367
You could also look into comparing the Content MD5 of the blobs and see if they match as well.

@seanmcc-msft @jaschrep-msft If you have any better ideas.

[2021-11-17 03:54] jenp-jb opened #25375 "Updating from 4.2.1 to 5.1.0 introduces issue with MessageReceiver"
**Query/Question**
Upgrading the extension nuget package from 4.2.1 to 5.1.0 resulted in IMessageReceiver and MessageReceiver in my function / class becoming unknown. I use this in order to be able to Complete and Deadletter messages according to our logic as some failures will never succeed so there's no point retrying.

I tried to fix this by installing the deprecated Microsoft.Azure.ServiceBus

[2021-11-17 03:55] amnguye commented on #25129
Yes the `BlobClientOptions` get passed from the `BlobContainerClient`  to the `BlobClient` when using `GetBlobClient`
as well as the same for `BlobClient` to the `BlobLeaseClient` when using `new BlobLeaseClient(BlobClient) `

[2021-11-17 04:02] amnguye commented on #25051
Sounds like something is different in the endpoint that's being passed then. Let's take this offline, I will send you an email @andrei-faber

[2021-11-17 06:35] JialinXin opened #25376 "[BUG][WebPubSub][FunctionExtension] States json serialize not correct."
**Describe the bug**
Current we set the states with simple string the value which is not correct for complex object.

**Expected behavior**
What is the expected behavior?

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screenshot, or any additional information that might help us reproduc

[2021-11-17 06:35] JoshLove-msft commented on #25375
Hi @jenp-jb,
The MessageReceiver has been replaced with ServiceBusMessageActions in version 5.0.0. Please have a look at our [samples](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus#message-settlement) to see how this type is used.

[2021-11-17 06:41] Yao725 commented on #24161
@mattwhitfield , thanks for your feedback, I will fix it according to the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L5527-L5530) ASAP.

[2021-11-17 06:48] jeffhli commented on #25317
From the RPM comparison picture, we can assume that the 'Parameter1' process consumes 0.4 cpu cores and uploads 220 blobs in one minute. However, the 'Parameter2' process consumes  0.9 cpu cores and uploads 140 blobs in one minute. I can not understand why the 'Parameter1' process can upload more blobs in consuming less CPUs. By the way, I also tried **Parameter3**: `BlobUploadOptions options = ne

[2021-11-17 07:41] AlexanderSher commented on #24671
For this json object
[code]

I've got the following results:
[code]

So no, `Utf8JsonReader` isn't the fastest, it is very close to the `JsonDocument` and has just small memory allocation benefit. I'd expect @chunyu3 would have the same results in her tests.

Code, however, is significantly worse. This is `JsonDocument`:
[code]

and this is `Utf8JsonReader`:
[code]

[2021-11-17 08:02] #24898 closed

[2021-11-17 08:02] #24584 closed

[2021-11-17 08:03] #21866 closed

[2021-11-17 08:03] #16063 closed

[2021-11-17 08:03] #8118 closed

[2021-11-17 09:08] JoshLove-msft commented on #24117
Hi @nirzaf,
Can you clarify what you are looking for here?

[2021-11-17 10:28] mikeblakeuk opened #25378 "How do you convert a connection string into parts?"
How do I convert a connection string into `new ClientSecretCredential(tenantId, appId, secret)` ?

I don't really want to change all the existing connection strings.

Should the code from **Microsoft.Azure.Services.AppAuthentication AzureServiceTokenProviderFactory** be included?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-11-17 11:18] nirzaf commented on #24117
I was looking for some sample code implementation on how to add custom user defined Application Properties in C#, finally I figured out how do it, but it would comfortable if we have some official sample code

[2021-11-17 12:45] pvadhera opened #25380 "Please update about GA release of this package as we want to use it in our production environment"
**Query/Question**
How can we help?

**Environment:**
 - Name and version of the Library package used: [e.g. Azure.Storage.Blobs 12.2.0]
 - Hosting platform or OS and .NET runtime version (`dotnet --info` output for .NET Core projects): [e.g. Azure AppService or Windows 10 .NET Framework 4.8]
 - IDE and version : [e.g. Visual Studio 16.3]

[2021-11-17 12:57] arunprakashn opened #25381 "Issues with Service Bus Sdk"
I am trying to do a PoC to test the latest feature by the Azure Service Bus Premium that can handle messages of size 100 MB. I tried to do it in two modes.

Send 3495253 count of messages in a batch with the cumulative message sizeInBytes 104857595. THis is definitely less than the 100 MB limit. When I do this, I get the following error, System.InvalidOperationException: 'The link 'G5S2:196:amqps:

[2021-11-17 13:35] binn opened #25382 "[QUERY] How can we use Microsoft.Azure.Management APIs with DI in ASP.NET Core"
**Query/Question**
How can we use Microsoft.Azure.Management APIs with DI in ASP.NET Core
The Microsoft.Azure.Extensions package let us add services to ASP.NET Core's DI like so:
[code]

but how would we go about using `IAzure`, for example, to spin up fire-and-forget tasks using ACI via `IAzure.ContainerGroups.Define().Create()` from within a managed DI service? Is this possible, or am I stuck wi

[2021-11-17 14:13] jsquire commented on #25371
This issue has been transferred to the repository where the `System.IdentityModel.Tokens.Jwt` package is maintained as [#1777](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1777).

[2021-11-17 14:13] #25371 closed

[2021-11-17 14:18] jsquire commented on #25378
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-17 14:19] jsquire commented on #25380
Hi @pvadhera.   Thank you for reaching out and we regret that you're experiencing difficulties.   Unfortunately, there's not enough context available for us to assist.   Would you be so kind as to help us understand what package you're asking about?

[2021-11-17 14:22] jsquire commented on #25382
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-17 14:34] jsquire commented on #25381
Hi @arunprakash1986.   Thank you for reaching out and we regret that you're experiencing difficulties.    with respect to:

`System.InvalidOperationException: 'The link 'G5S2:196:amqps://sbpocbatching1.servicebus.windows.net/-c53a3e1c;0:5:6' is force detached by the broker because publisher(link82) received a batch message with no data in it. Detach origin: Publisher.'`

This would seem to imply t

[2021-11-17 14:45] christothes commented on #25378
Hi @mikeblakeuk We have no plans to add this support to Azure.Identity. Could you describe your scenario in which connection strings are necessary? Have you considered migrating to managed identity which allow elimination of all secrets from your code and configuration?

[2021-11-17 14:55] christothes commented on #25340
You should be able to set your RegionalAuthority to "TryAutoDetect" via this environment variable:

https://github.com/Azure/azure-sdk-for-net/blob/72630d5bb04538967195c199632d8260133d25e5/sdk/identity/Azure.Identity/src/EnvironmentVariables.cs#L31

The [RegionalAuthority API ](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/src/RegionalAuthority.cs)will be exposed

[2021-11-17 15:32] binn commented on #25382
Thank you, for reference, my current solution is this:
[code]
The primary reason for wanting the Fluent Management SDKs within `Microsoft.Extensions.Azure` DI is to use the same authentication context (`new DefaultAzureCredential()`) as part of the Fluent SDKs as well as the Service SDKs. ACI is not available with the new `Azure.ResourceManager` SDKs (and I'm unaware if they are usable with `Micro

[2021-11-17 15:51] mjrousos commented on #21830
I'm working with a customer who is running into this same issue. Has the work @christothes described been done yet? If not, can this be re-opened to track the issue?

Also, thanks @anpaz for the work-arounds!

[2021-11-17 15:59] christothes commented on #20011
duplicate of #25361

[2021-11-17 15:59] #20011 closed

[2021-11-17 16:01] #20118 closed

[2021-11-17 16:07] christothes commented on #21830
Yes, tenant discovery is now enabled by default in the latest version of Azure.Identity. A tenantId hint can be sent as part of the TokenRequestContext now to `GetToken` which will be used in favor of the explicitly defined tenantId, if present.

[2021-11-17 16:11] mikequ-taggysoft commented on #25361
This is a key feature and without it, we cannot comfortably migrate from `AppAuthentication` to `Azure.Identity` for Azure apps that are not natively integrated with the latter SDK.

This includes using managed identity with things like various Azure PaaS database services (Azure SQL, Azure PostgreSQL) or authenticating against Azure AD protected web apps etc.

Hopefully it will be implemented in

[2021-11-17 16:13] mjrousos commented on #21830
Thanks, @christothes. I'll check with the customer which version of Azure.Identity they're using since they're hitting an issue very similar to what's described here and it sounds like that shouldn't be happening if they have up-to-date SDK packages.

[2021-11-17 16:43] violetVo opened #25384 "[QUERY] Azure SDK guidelines for error handling"
**Query/Question**
Hi,
I am working on an API that will serve long-running operations in our service and I want to follow azure sdk
[error handling guidelines](https://azure.github.io/azure-sdk/general_implementation.html#error-handling).
I have a question regarding this guideline:
![image](https://user-images.githubusercontent.com/17854021/142240620-5d0c912e-680c-4283-b597-8c9b0de0d9a5.png)

Our

[2021-11-17 16:46] seanmcc-msft commented on #25367
@amnguye think that is the best solution.  Then the customer only has to make a `GetProperties()` call instead of downloading the whole blob.

[2021-11-17 16:53] LeonB87 opened #25385 "[BUG] Cannot add List of Source/Destination Ports on new SecurityRuleData/NetworkSecurityGroupData"
**Describe the bug**
I'm using the Azure.ResourceManager.Network SDK to create NSG's. However, I cannot add a range of ports on either the Destination or Source port ranges.

The property DestinationPortRange**s** and SourcePortRange**s** are read-only, so the only option is to use the DestinationPortRange and SourcePortRange property.

I've tried different values for the port range:

[code]

**Ex

[2021-11-17 16:55] KrzysztofCwalina commented on #24671
I have to say this is surprising.
But, can you try one more thing. Make all the literal strings you are using for lookup into statics like the following:
[code]

and then do lookup using the statics, i.e.:
[code]

[2021-11-17 16:57] christothes commented on #22540
Error messages have been improved with troubleshooter links

[2021-11-17 16:57] #22540 closed

[2021-11-17 16:59] christothes commented on #23044
As a workaround, the IMDS endpoint host can now be configured via environment variable.
https://github.com/Azure/azure-sdk-for-net/blob/72630d5bb04538967195c199632d8260133d25e5/sdk/identity/Azure.Identity/src/EnvironmentVariables.cs#L21

[2021-11-17 16:59] #23044 closed

[2021-11-17 17:01] #24752 closed

[2021-11-17 17:02] #25066 closed

[2021-11-17 17:03] KrzysztofCwalina commented on #24671
@ahsonkhan, would you know what's going on? Why would JsonDocument be on par with Utf8JsonReader? Is there some optimization in JsonElement that fast paths access to properties if they are accessed in the right order (in the order they appear in the DB)?

[2021-11-17 17:03] christothes commented on #24045
duplicate of #25361

[2021-11-17 17:03] #24045 closed

[2021-11-17 17:05] #23713 closed

[2021-11-17 17:23] #18647 closed

[2021-11-17 17:28] christothes commented on #23079
We have no current plans to add this functionality, but will monitor this issue to gauge additional interest.

[2021-11-17 17:28] #23079 closed

[2021-11-17 17:32] christothes commented on #23094
This is supported in the latest version of Azure.Identity. The `TokenRequestContext` passed to `GetToken` now accepts a `TenantId` property which can be supplied as a hint in multi-tenant scenarios. Note we do not support the concept of multiple tokens.

[2021-11-17 17:32] christothes commented on #25098
Addressed offline

[2021-11-17 17:32] #25098 closed

[2021-11-17 17:48] christothes commented on #25332
In my testing with the latest version of Azure.Identity, I am able to silently auth with `DeviceCodeCredential` given a valid AuthenticationRecord.

[code]

[2021-11-17 17:53] heaths commented on #25374
Please update your Az cmdlets: `update-module az`.

I can add a requirement, but it will only report an error earlier and should at least be more informative.

/cc @weshaggard @benbp

[2021-11-17 18:08] jsquire commented on #25385
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-17 18:09] jsquire commented on #25384
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-17 18:16] JoshLove-msft commented on #24117
I see - was the issue that you were running into related to the dictionary being "get" only? Were you trying to set it to a new dictionary?

[2021-11-17 18:17] amnguye commented on #25317
Sorry if this wasn't obvious from the Parameter 2 explanation. But because the Maximum Transfer Size or Request bodies are larger, there will be higher CPU due to the encryption process in Core that occurs. Increasing concurrency does not affect the encryption process because each request or transfer is done by 1 thread.

[2021-11-17 18:25] pakrym commented on #25317
What's the input to the upload? cryptostream shows up in the profile and high CPU might be caused by CryptoStream using a small block size (https://github.com/Azure/azure-sdk-for-net/issues/21594 is somewhat related)

[2021-11-17 18:43] AlexanderSher commented on #24671
Yes, byte arrays instead of strings give an improvement, about 1/3:
[code]

[2021-11-17 18:58] #18648 closed

[2021-11-17 19:15] KrzysztofCwalina commented on #24671
Now the question is: what's the difference in the cost of writing a generator that would use Utf8JsonReader for more real-life models. The model you have above is a simple structure with primitive typed fields. Because of that the parser is relatively straightforward, which would be difficult to write a generator for. But I worry that a generator that can generate a similar parser for complex obje

[2021-11-17 19:20] SaurabhSharma-MSFT commented on #25373
@DMaxwell02 We are looking into it and get back to you in case we need more information from you.

[2021-11-17 20:04] jaschrep-msft commented on #25367
Comparing hashes will be the easiest way to compare blobs, however be aware that the content md5 blob property is a user-settable property* and it is up to you to ensure the property is set and correct. If you do not already have these properties set then you will need to download the blob to compare (and maybe set the hash after comparison for quick operations in the future).

* As of service ver

[2021-11-17 22:14] Marusyk opened #25391 "[QUERY] How to return EventErrorResponse on OnConnectAsync in WebPubSubHub"
**Query/Question**

[Docs](https://github.com/Azure/azure-sdk-for-net/blob/3126951832bbf5f9b67a71cc7ed0db2cd6e0a149/sdk/webpubsub/Microsoft.Azure.WebJobs.Extensions.WebPubSub/README.md#using-web-pubsub-trigger):

How to return `EventErrorResponse` on `OnConnectAsync` in WebPubSubHub?
The signature of `OnConnectAsync` in WebPubSubHub is the following:
[code]
in that case, we cannot return something

[2021-11-17 22:36] ddobric commented on #19095
Anything new?

[2021-11-17 22:53] jenp-jb commented on #25375
@JoshLove-msft  So I have an internal property on my function that I set in the test with a mock so that I can verify completed or deadlettered was called as expected:

![image](https://user-images.githubusercontent.com/77314668/142294968-b0208734-3b68-43b4-a03f-80e52eae2748.png)

I did make some progress with the ServiceBusMessageActions but am struggling to find how to add the retryOptions to my

[2021-11-17 23:03] #24117 closed

[2021-11-17 23:14] irontoby commented on #25367
Thanks for the tips everyone! I wasn't aware of the MD5 property; I'll update my logic to use that instead. We "own" the blobs so no worries about it being user-settable.

[2021-11-17 23:17] amnguye commented on #25367
Closing the issue.

Please comment tag respectively if you have any other questions, otherwise feel free to open a new issue.

[2021-11-17 23:17] #25367 closed

[2021-11-17 23:31] amnguye commented on #25354
@jlichwa Is this supposed to be assigned to storage, or supposed to be assigned to identity to update the docs?

[2021-11-17 23:36] jaschrep-msft commented on #18780
There's not much to say here except that the solution is for `BlobClient` to expose `OpenWrite`. It's not a difficult ask, and any workaround we could come up with would either be unscalable or more complex than introducing the feature. Editing this issue to be a feature request for `BlobClient.OpenWrite()` and self-assigning.

[2021-11-17 23:51] jlichwa commented on #25354
@harre096 not sure I understand. This  documentation for legacy App Authentication library. For Azure Identity library you should use go to this document:
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme

[2021-11-18 00:10] jaschrep-msft commented on #17337
Update: a guide to `StorageTransferOptions` is underway and going through our internal review and publishing process.

[2021-11-18 00:13] #24907 closed

[2021-11-18 00:49] harre096 commented on #25354
Exactly. Can we add some memo on the page saying what you just told me?
It's not clear that this is legacy when I landed here from Google.

On Wed, Nov 17, 2021, 5:51 PM Jack Lichwa ***@***.***> wrote:

[2021-11-18 00:53] harre096 commented on #25354
Actually come to think of it I think it was the user assigned identity page
that dumped me here to find connection string formats. Maybe that's the
link that needs to be updated.

On Wed, Nov 17, 2021, 6:49 PM Tom Harren ***@***.***> wrote:

[2021-11-18 03:23] jeffhli commented on #25317
@pakrym I think you are right. But the #21594 only fixed the high cpu in download feature instead of upload feature. https://github.com/Azure/azure-sdk-for-net/blob/f59a870652dc97f3a3a3fe09dd5ecc8094159901/sdk/storage/Azure.Storage.Common/src/Shared/ClientsideEncryption/ClientSideEncryptor.cs#L56
Our case is uploading a network stream with encryption.

[2021-11-18 04:24] arunprakash1986 commented on #25381
@jsquire Thank you for your response. I was breaking the loop to make sure I dont exceed the max limits of a batch. I have added this statement before SendMessageAsync -         int batchCount = messageBatch.Count;
 batchCount= 3495253 . It still throws this exception after a while. Could you please tell me why a single message with 100 MB always timesout, which i have tried as a second option?
.

[2021-11-18 04:41] JoshLove-msft commented on #25381
In addition to the 100 MB limit, there is also a limit of 4500 messages that the service enforces. We have not yet added this into the client validation.
See https://github.com/Azure/azure-sdk-for-net/issues/21451

[2021-11-18 05:04] arunprakash1986 commented on #25381
Same exception
![image](https://user-images.githubusercontent.com/94539366/142355185-76b0d897-9927-48fc-8b79-d4ddc866e11e.png)

[2021-11-18 05:06] JoshLove-msft commented on #25381
Can you include the full repro code?

[2021-11-18 05:11] arunprakash1986 commented on #25381
[code]

[2021-11-18 05:32] JoshLove-msft commented on #25381
Thank you @arunprakash1986 - I'm seeing the same thing on my end. We will need to follow up with the service team.

[2021-11-18 05:37] arunprakash1986 commented on #25381
@JoshLove-msft Thank you for your acknowledgment. I also have another observation. I just tried with 5001 messages and it went through without any issues. The only difference is that this time I had a very small per-message size instead of a large one. I am finding it very difficult to adopt the SDK and use it in projects. Also, would you be kind enough to tell what is the way to realize the 100 M

[2021-11-18 05:46] wangli1030 commented on #24766
I have raised the PR to fix issue. Please review it.

[2021-11-18 06:09] JoshLove-msft commented on #25381
My understanding was that what you are doing is correct and should have worked, so the sample would be similar to what you have.

I just tested by sending a single 100MB message and it worked, so it is possible this has been implemented to only work for individual messages. Will need to get back to you on this after we discuss with the service team.

[2021-11-18 06:13] JoshLove-msft commented on #25381
I edited your comment as it was leaking your conn string. You should probably regenerate your key for safety.

[2021-11-18 07:14] tg-msft commented on #25384
Hi Violet.  How is your exception being created?  Is this a [`RequestFailedException`](https://docs.microsoft.com/en-us/dotnet/api/azure.requestfailedexception?view=azure-dotnet) from the [latest code generator](https://github.com/azure/autorest.csharp#c-code-generator-for-autorest-v3)?  If so, yes, that's compliant.

There's a good reason that only status, top-level error code, and message are ex

[2021-11-18 07:36] violetVo commented on #25384
Thanks a lot for the detailed answer! This clarifies things.
Regarding your question - yes, this is a `RequestFailedException` from the latest autorest code generator.

[2021-11-18 07:36] #25384 closed

[2021-11-18 07:40] arunprakash1986 commented on #25381
@JoshLove-msft - I tried with a single message using SendMessageSync instead of the batch version, I still cannot get the 100MB message through. Would you please share the code that you used to test the single message of 100 MB? I am getting the following exception,

Azure.Messaging.ServiceBus.ServiceBusException: 'The operation did not complete within the allocated time 00:01:00 for object messag

[2021-11-18 07:41] JoshLove-msft commented on #25381
You will need to increase the TryTimeout:
[code]

[2021-11-18 07:43] srivelicheti commented on #25375
@JoshLove-msft - I am also facing similar issue with being able to mock `ServiceBusMessageActions` for unit-testing purposes as it doesn't contain public parameter-less constructor.

I see that all of the methods on this `ServiceBusMessageActions` are virtual but, trying to mock  ServiceBusMessageActions class would result in an exception because of the lack of parameter-less ctor.
![image](https:

[2021-11-18 07:46] JoshLove-msft commented on #25375
Yes, it looks like we are missing the mocking constructor for the actions types - we will get this added in an upcoming release.

[2021-11-18 07:50] srivelicheti commented on #25375
Thank you, would it be possible to give an ETA on the next release cycle?

[2021-11-18 08:02] #24924 closed

[2021-11-18 08:02] #24894 closed

[2021-11-18 08:18] tg-msft commented on #17673
Hi folks – I don't think we should make this change for a couple of reasons:
- We don't like to redefine semantics for .NET types in Azure libraries.  [`Stream.Read`](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=net-6.0#System_IO_Stream_Read_System_Byte___System_Int32_System_Int32_) has behaved like this forever.  Even [`FileStream.Read`](https://docs.microsoft.com/en-us/

[2021-11-18 08:47] arunprakash1986 commented on #25381
@JoshLove-msft Thank you. The single message went through after the timeout was increased. Please continue checking with the service team on why the batch sending is not successful or what are the SDK limits that prohibit the operations.

[2021-11-18 09:17] Fisher-Joe commented on #25316
Hi @amnguye , Is there have the block bytes download method?
I want use threads download and split the file different block bytes .

[2021-11-18 10:02] #25202 closed

[2021-11-18 10:18] mataness commented on #23044
Not sure why it's close, overriding the environment variable is not a clean design. Why not exposing this functionality as a constructor parameter?

[2021-11-18 11:16] spmanjunath opened #25400 "Scope (jwt 'scp' attribute) returned in VisualStudioCredential and in Microsoft Graph Explorer are different."
**Describe the bug**
I have an Azure function that uses Managed Identity to access Graph API's (Sharepoint sites and files), in my development environment i want to rely on my VisualStudioCredential (VSC).  In my tests i have noticed that the Scopes that are returned for the same User identity in Graph explorer and using VSC are different.

**Expected behavior**
Scopes (scp) returned for VSC shoul

[2021-11-18 12:06] mikeblakeuk commented on #25378
We are working towards removing connection strings.
We are working towards using managed identity.
But this takes time. We need to upgrade first and move existing, deployed production sites slowly.
We can't just big bang, rewrite he world in one go.

A small, backwards compatible method would have been nice to help people migrate.

We have ended up, reflecting on
Microsoft.Azure.Services.AppAuthen

[2021-11-18 13:46] jsquire commented on #25380
Since we haven't heard from you and there's no context that would be lost, I'm going to close this out.  Please feel free to open a new issue with additional detail if you're still in need of assistance.

[2021-11-18 13:46] #25380 closed

[2021-11-18 13:49] jsquire commented on #25400
Thank you for your feedback.  Tagging and routing to the team members best able to assist.

[2021-11-18 14:05] leemorris commented on #16422
Is there an update on this??

[2021-11-18 14:08] #25378 closed

[2021-11-18 14:11] christothes opened #25401 "Flaky Test .HttpWebRequestTransportFunctionalTest.CanSetContentLengthOverMaxInt"
Azure.Core.Tests.HttpWebRequestTransportFunctionalTest(False).CanSetContentLengthOverMaxInt
  Expected: 9223372036854775807
  But was:  0

at Azure.Core.Tests.TransportFunctionalTests.<CanSetContentLengthOverMaxInt>d__6.MoveNext() in D:\a\_work\1\s\sdk\core\Azure.Core\tests\TransportFunctionalTests.cs:line 116
--- End of stack trace from previous location where exception was thrown ---
   at Syste

[2021-11-18 15:10] christothes commented on #23044
Hi @mataness - We'll consider this a feature request and monitor the issue to see if there is more demand for this feature.

[2021-11-18 15:18] mikaila-msft commented on #25306
Hey @jsquire . I was able to get in contact with @serkantkaraca and learned that it was an error from EH service. Ultimate, the reason was due to the tenant ID being passed to ClientCertificateCredential. We were passing the tenant ID of ourselves, rather than the tenant ID of the customer we want to write events to. Serkant let me know that we should be requesting tokens on behalf of the customer

[2021-11-18 15:18] #25306 closed

[2021-11-18 15:49] #24437 closed

[2021-11-18 16:33] pakrym opened #25402 "[Flaky test] EnqueueEventAsyncEnqueuesForAutomaticRouting"
[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1201057&view=ms.vss-test-web.build-test-results-tab&runId=25868902&resultId=105940&paneView=debug

[2021-11-18 16:43] jsquire commented on #25402
Should be fixed by #25346, which got merged after this test run.   I'm going to close this out for now, please let me know if you see it continue to be flaky.

[2021-11-18 16:49] ShekarKalyankar opened #25403 "CryptographyClient - Using the WebJsonKey decrypting not working locally."
**Describe the bug**
Current architecture is:
Azure Function -> 1 Activity Function -> Batches iteration (synch) -> Individual batch iteration (async) -> Decrypting and Encrypting for each record using CryptographyClient

We need to process 40 million requests, our process will decrypt and encrypt for every iteration, and is not able to handle even a 1000 requests.
I noticed that can handle only 9

[2021-11-18 17:31] srivelicheti opened #25405 "Add parameter less constructor to ServiceBusMessageActions"
**Library or service name.**
 Microsoft.Azure.WebJobs.Extensions.ServiceBus, Version=5.1.0.0

**Is your feature request related to a problem? Please describe.**
 I am facing issue with being able to mock ServiceBusMessageActions for unit-testing purposes as it doesn't contain public parameter-less constructor.

I see that all of the methods on this ServiceBusMessageActions are virtual but, trying

[2021-11-18 17:39] MohitGargMSFT commented on #25391
@Marusyk  Thank you for your query. We will investigate on it and get back to you soon.

[2021-11-18 17:53] pakrym commented on #25402
Still flaky https://dev.azure.com/azure-sdk/public/_build/results?buildId=1202428&view=ms.vss-test-web.build-test-results-tab&runId=25890446&resultId=101832&paneView=debug

[2021-11-18 18:14] kinelski commented on #22692
This one was a transient issue. Not happening anymore.

[2021-11-18 18:14] #22692 closed

[2021-11-18 18:22] sreem007 commented on #20485
Hi Team,
Can we please have an update on this bug/issue.

[2021-11-18 18:52] jsquire commented on #25403
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-18 18:54] jsquire commented on #25405
Thank you for your feedback.  Tagging and routing to the team member best able to assist.

[2021-11-18 18:57] JoshLove-msft commented on #25405
A protected parameterless constructor makes sense here as this is like a client type.

[2021-11-18 19:08] #25401 closed

[2021-11-18 19:11] heaths opened #25411 "LLC does not add api-version to LRO URI in `UpdateStatus()`"
While working on the LLC for Question Answering authoring, @AhmedLeithy [found](https://github.com/Azure/azure-rest-api-specs/issues/16807) that the `api-version` query parameter was not being added to the URI returned by the `Operation-Location` header. This was causing a 404 but, even if the service handled that, assuming the latest api-version could result in unexpected response models.

Talkin

[2021-11-18 19:19] heaths commented on #25411
@pakrym @AlexanderSher @annelo-msft could we get a fix for this ASAP, or is there some work around you can suggest?

[2021-11-18 19:41] heaths opened #25414 "Suggested improvements for Key Vault tests"
There are still a couple classes of bugs that cause occasional live test failures.

1. HTTP 500s.
2. HTTP 409s due to a recovery operation for Administration (MHSM) while Keys tests are running.

I propose either augmenting the Retry policy when instrumenting test clients, or replacing `[Test]` and `[RecordedTest]` with a `RecordedTestAttribute`-derived attribute that retries on these errors. The

[2021-11-18 19:45] heaths commented on #25411
For a repro, #25409.

[2021-11-18 20:00] #25053 closed

[2021-11-18 20:04] #24444 closed

[2021-11-18 20:10] AshleyAsh90 commented on #25332
Strange, I tried with 1.5.1 but I still have the async call waiting on device login even after the first call the cace was persisted to disc. Did you re-start your application and were you still able to obtain the token?

[2021-11-18 20:14] #22184 closed

[2021-11-18 20:40] kinelski opened #25416 "[MetricsAdvisor] Stop using hardcoded "region" and "category" in tests"
We should have those defined in constants in test code to make it easier to update and to avoid typos.

[2021-11-18 20:53] tommymarkmamake commented on #25340
Hello @christothes

I believe this issue is not addressed here. Let me try to clarify a bit more. I quote from the Azure.Identity release notes "_Removed RegionalAuthority from ClientCertificateCredentialOptions and ClientSecretCredentialOptions, along with the RegionalAuthority type. This feature will stay in preview, and these APIs will be added back in 1.6.0-beta.1." It seems customers do not h

[2021-11-18 21:28] jsquire commented on #25402
I think it's really fixed for real now.

[2021-11-18 21:28] #25402 closed

[2021-11-18 21:39] MohitGargMSFT commented on #25319
@shankarsama @DorothySun216 Please let us know if you would be able to help here.

[2021-11-18 21:45] jsquire commented on #18077
It looks as if the docs team has already patched this;  the code snippets in the `<remarks>` section for the referenced doc appears to be rendering correctly.   Though the indentation is unusual, it matches the format in the code source.     I'm going to close this out as resolved and we can revisit if we find other occurrences that still appear incorrect.

[2021-11-18 21:45] #18077 closed

[2021-11-18 21:49] #25026 closed

[2021-11-18 21:50] #23483 closed

[2021-11-18 21:56] christothes commented on #25340
Discussed offline - I think we are good now.

[2021-11-18 21:56] #25340 closed

[2021-11-18 22:59] mattchenderson commented on #25334
Update here: there's a variant of this caused by using only the `blobServiceUri` and not including `queueServiceUri` in a blob trigger context. The same error is presented, except it instead refers to "an instance of QueueServiceClient."

I'm not sure if this is the same issue exactly - it could be a different cause and need a separate tracking item.

I'll be submitting an update to the docs which

[2021-11-18 22:59] heaths commented on #25403
The number of requests depend on the operation type and whether you're using an HSM-backed key or a purely software key, as shown here for Key Vault: https://docs.microsoft.com/en-us/azure/key-vault/general/service-limits#key-transactions-maximum-transactions-allowed-in-10-seconds-per-vault-per-region1. How did you create your `CryptographyClient` in this way as well that you're seeing lower limit

[2021-11-18 23:01] Marusyk commented on #25391
Cool, thanks. I'm going to validate user in `OnConnectAsync` and return an error when it fails. Could you please suggest how to do it with the current implementation?

[2021-11-18 23:09] annelo-msft commented on #25411
@heaths , could you clarify the repro steps?  They are not clear from the issue you linked

[2021-11-18 23:13] harre096 commented on #25354
I guess you can close it if you want, as the message you are saying is included in the purple box at the top of the page. Basically I didn't read the disclaimer at the top of the page so I opened this bug asking for greater clarity around the very same topic. I missed the note either because I was moving fast or the link I followed jumped me down into the page. While I still believe that more clar

[2021-11-18 23:13] #25354 closed

[2021-11-18 23:28] #24103 closed

[2021-11-18 23:28] #17918 closed

[2021-11-18 23:28] #22043 closed

[2021-11-18 23:43] heaths commented on #25411
There really aren't any: just generate an LLC for a service that doesn't include the `api-version` in its Operation-Location header. The PR I referenced above could be used, so you could check it out and run `dotnet build /t:GenerateCode. Currently, running our tests live takes a bit of work, so I could write a mock up service + swagger if required.

[2021-11-19 00:26] MarcoEnxuto opened #25423 "[Question] Azure.Identity support using pfx file"
**Query/Question**
Hi,
According to this [post](https://github.com/Azure/azure-sdk-for-net/pull/10196), pfx files should be supported. Unfortunately i don't see any support, or at least i can't get it work.
I did follow the troubleshooting steps but i don't see what i'm doing wrong.
So, i posted here a [question](https://docs.microsoft.com/en-us/answers/questions/633057/azureidentity-exception-thr

[2021-11-19 03:57] serkantkaraca commented on #25306
@mikaila-msft that is correct. Event Hubs doesn't support cross-tenant auth. Both Event Hubs namespace and service principal should be under the same Azure tenant.

[2021-11-19 08:02] #13593 closed

[2021-11-19 08:02] #12196 closed

[2021-11-19 08:02] #10574 closed

[2021-11-19 08:02] #9222 closed

[2021-11-19 08:02] #7478 closed

[2021-11-19 08:51] codebrane opened #25429 "[BUG] Cannot bind to ICloudBlob with Microsoft.Azure.WebJobs.Extensions.Storage 5.0.0"
**Describe the bug**
After upgrading Microsoft.Azure.WebJobs.Extensions.Storage from 4.0.5 to 5.0.0 and adding Microsoft.Azure.Storage.Blob 11.2.3 the function cannot bind to ICloudBlob.
It works after downgrading to 4.0.5 and removing Microsoft.Azure.Storage.Blob which is not required for 4.0.5 but is required for 5.0.0.

**Expected behavior**
The function should bind to ICloudBlob

**Actual beha

[2021-11-19 08:52] cvakarna commented on #25207
Hi @amnguye
we are using Managed Identity, the answer for your question is yes
GetBlobServiceClient  method code is same as you mentioned.

`BlobServiceClient blobClient = new BlobServiceClient(new Uri(blobEndpoint), new DefaultAzureCredential());
`

[2021-11-19 08:56] cvakarna commented on #25207
after updating latest version of **Azure.Identity**  its giving meaningful exception states that

[code]

Updated version:
**Azure.Identity   -  1.5.0**

[2021-11-19 10:06] codebrane commented on #25429
I looked in:

`sdk/hdinsight/Microsoft.Azure.HDInsight.Job/src/Customizations/Models/AzureStorageAccess.cs`

and saw that it uses:

`ICloudBlob blobReference;`

so I called the parameter in the function `blobReference` and it worked. I then changed it back to `theBlob` and now it is working too.

Why would changing the parameter name have any effect on the binding and why would it not bind until t

[2021-11-19 10:59] adaml984 opened #25430 "[BUG] Exception when downloading contents of blob"
Hello
**Describe the bug**
I get exception when I try to download the contents of the blob stored on Azure Blob storage container.

**Expected behavior**
Downloading files without exceptions.

**Actual behavior (include Exception or Stack Trace)**
Azure.RequestFailedException: Value for one of the query parameters specified in the request URI is invalid.
RequestId:752460f7-a01e-0021-392f-dd15d0000

[2021-11-19 11:01] adaml984 commented on #25430
Nugets:
"Microsoft.Azure.Functions.Extensions" Version="1.1.0"
"Microsoft.Azure.WebJobs.Extensions.Storage" Version="5.0.0"
"Microsoft.NET.Sdk.Functions" Version="4.0.1"