[2017-03-30 17:13] sarangan12 opened #3007 "Absolute & Relative path handling in the SDK"
If the base url is something like: "http://m.yahoo.com/v1/api" and the path url is:

1. "/subscriptions/...."
2. "/operations"

The resulting url to be hit will be

1. http://m.yahoo.com/v1/api/subscriptions/... and
2. http://m.yahoo.com/v1/api/operations

But, this does not give me the option to hit a url such as http://m.yahoo.com/operations? This needs to be fixed in the sdk. (i.e. the sdk shou

[2017-03-30 17:37] shahabhijeet commented on #3007
@sarangan12 as we discussed offline, this logic is being added in the generated code and currently the logic is simply to add the trailing slash if it's missing. Incase if you think this logic is not right for CSharp, this change will have to be made in the autorest tool.

[2017-03-30 17:38] sarangan12 commented on #3007
Based on offline discussion closing this.

[2017-03-30 17:38] #3007 closed

[2017-03-30 18:45] gitsparty opened #3009 "Doesn't build with VS 2015 w/ update 3 installed"
Try to build this project on VS 2015 (IIRC with update 3). I get the following build error. I don't see Microsoft.DotNet.Props install on my machine.

1>------ Build started: Project: HttpRecorder, Configuration: Debug Any CPU ------
1>  C:\Program Files\dotnet\dotnet.exe build "C:\Users\nagen_000\Source\Repos\azure-sdk-for-net\src\TestFramework\Microsoft.Azure.Test.HttpRecorder" --configuration D

[2017-03-31 09:47] rodius opened #3013 "Azure deployments - Slot swapping failed to apply changes to all instances of scaled up AppService"
Our team have came across with 404 responses while running integration tests after a fresh deployment of our API
I have been investigating it and I have found following issues.

I used fiddler to query the endpoint and could reproduce the bug, below are the responses
Fiddler Request
[code]

Success
[code]

Failed
[code]

As you can see, the requests that are failing are hitting another instance th

[2017-03-31 11:39] groege commented on #2779
Any idea when this fix will be available with VS2017?
It's not only a heavyweight artifact --> If I try to make a request with a second instance of HttpClient (even if I dispose of the first one), i run into an exception - so I'm actually forced to use only one instance...
Thanks!

[2017-03-31 12:57] jholovacs commented on #987
Was anything ever done with this?  It's still open 2 years later.

[2017-03-31 18:46] shahabhijeet commented on #1602
@DaveVdE I assume after upgrading Microsoft.Azure.Common library to 2.1.2 this should not be an issue.

[2017-03-31 18:46] #1602 closed

[2017-03-31 18:47] abatishchev commented on #2987
Any response, please?

[2017-03-31 18:50] shahabhijeet commented on #2102
@twitchax can you please prioritize this task?

[2017-03-31 18:52] shahabhijeet commented on #2172
@rajeshkdev could you start using latest Microsoft.Azure.Management.Websites package.
Please file an issue if you have any issues with that package.

[2017-03-31 18:52] #2172 closed

[2017-03-31 18:54] shahabhijeet commented on #2180
@rohmano can you give us more information.
Could you give us the version of the HttpRecorder that you are using.
Would be great if you can provide us a code snippet that results in NullRef exeception

[2017-03-31 19:03] shahabhijeet commented on #2194
@devigned could you clarify what you mean by exception output?
Do you think, we should provide an overload to exception.ToString()

[2017-03-31 19:23] shahabhijeet commented on #1923
@pattipaka would this work?
Microsoft.Rest.ClientRuntime.Azure.TestFramework.Testutilities.Wait()
https://github.com/azure/azure-sdk-for-net/blob/AutoRest/src/TestFramework/Microsoft.Rest.ClientRuntime.Azure.TestFramework/Utilities/TestUtilities.cs#L84

[2017-03-31 19:23] #1923 closed

[2017-03-31 20:51] devigned commented on #2194
@shahabhijeet the following is what it looks like when the Ruby SDK runs into a API request / response error. From the error output, you can see all of the details needed to understand what is happening at the HTTP level. You can see all HTTP request inputs, the HTTP outputs including body and headers, and you can see the configuration of the REST client. You have all information needed to debug t

[2017-03-31 23:20] hovsepm opened #3017 "List methods exposed from Fluent API are not fully LAZY and do call the first page during initialization."
Instead we can think about ways to have fully LAZY collection that will do first page call only when caller will start iteration over the collection.

From internal discussion:
One of the design goal of foreach specifically handle this case i.e. iterating a source where data is not immediately available. Think about doing foreach on IEnumerable/IQuerable returned by SQL SELECT query, user knows th

[2017-04-01 17:36] deonvisser opened #3019 "Search SDK: Can't add Microsoft. Azure. Search"
I have a Xamarin Project running VS 2017 Community. Packages install goes through all the motions and then just stops and exits. No error messages. Just does not install.

Azure.Storage installs fine.

[2017-04-02 20:51] #3013 closed

[2017-04-02 20:51] rodius commented on #3013
moving to powershell sdk

[2017-04-03 16:38] davecader commented on #3002
Rolling back to a version of Json.net that is years old is not a viable solution. Microsoft, you need to come up with better solution.

[2017-04-03 18:10] brjohnstmsft commented on #3019
Possibly related: https://github.com/Azure/azure-sdk-for-net/issues/2732 https://github.com/OData/odata.net/issues/751

@deonvisser There's a bunch of work going on right now to make the Azure .NET SDKs play nice with VS2017. I don't have an ETA for the Search SDK yet, but we are working on it.

[2017-04-03 18:18] jaredmoo commented on #3009
See #2922

[2017-04-03 18:26] jaredmoo commented on #3009
I made a few fixes in my branch https://github.com/jaredmoo/azure-sdk-for-net/tree/globaljson

[2017-04-03 20:03] jaredmoo opened #3020 "Long running operations should return Location status code if available"
If a long-running operation returns Azure-AsyncOperation header, then it is preferentially polled instead of Location header (https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ClientRuntime/Microsoft.Rest.ClientRuntime.Azure/AzureClientExtensions.cs#L111).

When the operation succeeds, if Azure-AsyncOperation was polled then the resource is retrieved in order to populate the response bo

[2017-04-03 20:18] jaredmoo commented on #3020
There is a similar problem for delete requests. When Azure-AsyncOperation completes, I want to differentiate between OK (deleted) and NoContent (resource didn't exist), which can only be determined by getting Location.

[2017-04-04 17:59] hovsepm opened #3026 "Remove Sync method generation from AutoRest.Fluent generator."

[2017-04-04 19:18] brjohnstmsft commented on #2791
This has been fixed in version 3.0.3, now available on NuGet: https://www.nuget.org/packages/Microsoft.Azure.Search/3.0.3

[2017-04-04 19:18] #2791 closed

[2017-04-05 02:38] minghan commented on #3002
@markcowl This issue is causing a lot of pain for internal Microsoft teams too.

[2017-04-05 02:43] konste commented on #3002
Our product uses more than 200 external NuGet packages and limiting JSON.net to <7 causes quite a disruption, as we don't have a version to satisfy all packages now! Before it was 9.1

Please do something ASAP!

[2017-04-05 15:16] mikeblakeuk opened #3031 "Regenerate C# Data Factories using the latest AutoRest"
- [ ] Recreate the Microsoft.Azure.Management.DataFactories nuget package with the latest swagger spec AutoRest
- [ ] Microsoft.Azure.Common
- [ ] Remove Hyak.Common

[2017-04-05 16:54] markcowl commented on #3002
@JohnGalt1717 @davecader @minghan @konste @geekcubed @cleverguy25 I'd be curious to know what library you are using that requires Hyak.Common, as almost all ARM libraries use Microsoft.Rest.ClientRuntime.  It would be simple enough to simply remove the upper limit on the dependency, since we know that no existing version of Newtonsoft.Json causes issues with the generated code.

[2017-04-05 17:23] GeekActual commented on #3002
@markcowl Here is just ONE Of the dependency trails I have for Hyak.Common

I need to use the CertificateCloudCredentials and ComputeManagementClient classes that are in the Microsoft.WindowsAzure.Management.Computer library

Microsoft.WindowsAzure.Management.Computer.14.0.0 depends on
Microsoft.Azure.Common 2.0.4 (or better) [I'm using 2.1] which depends on
Hyak.Common 1.0.2 (or better) [I'm usin

[2017-04-05 20:08] markcowl commented on #3002
@GeekActual Why are you using Microsoft.WindowsAzure.Management.Compute, instead of Microsoft.Azure.Management.Compute?  Just curious, this is a very old RDFE library.

This should now be fixed with Hyak.Common 1.1.3

[2017-04-05 20:08] #3002 closed

[2017-04-05 20:09] markcowl commented on #2987
The new version of Microsoft.AzureCommon supports net45 only, retarget your solution at .net 4.5 and you should be fine.  Otherwise, you will need to use an earlier version.

[2017-04-05 20:09] #2987 closed

[2017-04-05 20:14] abatishchev commented on #2987
Does it mean it doesn't supper net46?

[2017-04-05 23:09] konste commented on #3002
Finally! Thank you!

[2017-04-06 12:37] JohnGalt1717 commented on #3002
This is not fixed. Hyak.common 1.1.3 requires < 10.0.0

Microsoft.azure.common requires hyak.common.

Anything that requires Microsoft.azure.common uses this chain.

Please reopen and actually fix the problem and make those work with newtonsoft.json 10

[2017-04-06 17:01] markcowl commented on #1413
Update - this is in progress as we speak and should be finished by 4/14: https://github.com/Azure/azure-sdk-for-net/issues/2815

[2017-04-06 17:02] markcowl commented on #1413
@shahabhijeet  Assignign to you so you cna close this when the VS2017 refactor is done.

[2017-04-06 17:03] markcowl commented on #2611
Closing for lack of response.  If you are seeing this issue, please reopen

[2017-04-06 17:03] #2611 closed

[2017-04-06 17:04] markcowl commented on #2955
Fixed.

[2017-04-06 17:04] #2955 closed

[2017-04-06 17:06] markcowl commented on #2165
Old issue, closing

[2017-04-06 17:06] #2165 closed

[2017-04-07 01:36] JunTaoLuo commented on #3003
Any ETA on when this will be fixed?

cc @Eilon

[2017-04-07 18:26] cormacpayne commented on #2980
@vtherry does the suggested overload constructor fix your issue? Please let us know if it does not.

We are going to close this issue - please feel free to reopen if your issue has not be resolved.

[2017-04-07 18:26] #2980 closed

[2017-04-07 20:55] twitchax opened #3046 "AzureCredentials should implement an interface."
Developers may have other means of authentication, such as an access token.

As of today, `Azure.Authenticate` takes an instance of `AzureCredentials`.  The pertinent functionality of `AzureCredentials` should be abstracted to an interface so developers can implement the functionality themselves.

[2017-04-10 11:24] mloeffen opened #3050 "IDatabases.List() hangs"
I'm trying to manage azure databases from our own application targeting .NET Framework 4.6.2 using Microsoft.Azure.Management.Sql.Fluent nuget package version 1.0.0-beta50. When trying to access the databases to check if a database already exists, it just hangs.

var sqlServer = azure.SqlServers.List().FirstOrDefault(.....); // works
var databases = sqlServer.Databases.List(); // **hangs**
await s

[2017-04-10 18:03] da991319 opened #3051 "Updating VM size to Standard_A4_V2 failed"
Hi,
I am trying to update a VM using the fluent API to a Standard_A4_V2 from Standard_A1_v2. I can do it perfectly via the portal but using the fluent API i have the following error:

`One or more errors occurred. (One or more errors occurred. (The requested VM size Standard_A4_v2  is not available in the current region. The sizes available in the current region are: Standard_DS1_v2,Standard_DS2_v

[2017-04-10 19:24] da991319 commented on #3051
Sorry just found out that my config file with the VM size has a trailing space. Everything is working as expected

[2017-04-10 19:24] #3051 closed

[2017-04-10 23:58] kyschouv commented on #3003
An ETA would be appreciated - we're currently dealing with the version conflicts created by consuming this package in addition to other ASP.NET Core packages.

[2017-04-11 00:47] markcowl opened #3052 "Fix create-GithubRelease job"
### Description

Create-GithubRelease should be creating releases for each publishing job.  It looks like it last worked on 2/17.  Need to fix it and ensure that, if it fails, the build fails.

Consider wihether to backfill releases based on tag information in the publish jobs.

### Cost: 2

[2017-04-11 21:54] ashoksoo commented on #2716
When will this fix be available ? It might impact our move to Fabric Services as we are planning to write a custom scaling solution.

[2017-04-12 09:27] enihcam commented on #2987
@markcowl The issue still exists for net45

[2017-04-12 16:26] markcowl opened #3058 "Convert HDInsight SDK to Swagger and AutoRest"
### Description

Hydra is obsolete for ARM APIs.  APIs must be moved to Swagger and consumed in PowerShell cmdlets by the end of June 2017.

[2017-04-13 11:52] abergs opened #3066 "Add Service Fabric to Fluent API"
Hi, since Service Fabric was recently added via #2903 I'd really like to have it added to the fluent API's as well since that is what we're using.

[2017-04-13 16:25] laurence73 commented on #2987
issue still exists...

[2017-04-13 16:29] abatishchev commented on #2987
@markcowl please reopen? Why it was closed?

[2017-04-14 18:34] sphibbs commented on #3031
@mikeblakeuk Are you talking about the .Net SDK's or Node. Just want to clarify since this is the .Net repo and the subject has (node).

[2017-04-14 18:43] sphibbs commented on #3020
This is part of planned changes to our overall async pattern. Currently looking at mid summer.

[2017-04-14 18:47] sphibbs commented on #3009
Duplicate of #2815. Will be completed at the end of this sprint.

[2017-04-14 18:47] #3009 closed

[2017-04-14 18:50] sphibbs commented on #2977
DocDB is not in this repository. Closing

[2017-04-14 18:50] #2977 closed

[2017-04-14 18:54] sphibbs commented on #2756
@TWolverson this is an AD issue and not in this repo. Please go here if you still have this issue https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2017-04-14 18:54] #2756 closed

[2017-04-15 02:22] leocgpe commented on #2938
Any position? Or some temporary alternative?

[2017-04-17 15:47] matthewacme opened #3080 "Hyak Latest Version (1.1.3) restricts to Newtonsoft.Json < 10.0.0 (REOPEN Issue #3002 )"
#3002
was marked closed, but this issue has not been fixed!

The Hyak dependency still depends on a Max Newtonsoft.Json library version of 9.x. Newtonsoft is now up to 10.

The difference between Newtonsoft 9.x and 10.x is the removal of a section of the Newtonsoft Library that was marked as Deprecated 2 YEARS AGO.

Either make the Hyak Common Library work with the current version of Newtonsoft su

[2017-04-17 19:51] jsgoupil commented on #2552
Ah snap, I have the same problem with Newtonsoft.Json v10.0.2
Downgrading to 9.0.1 fixes the problem.

[2017-04-17 21:29] thrnto opened #3086 "VMSS WithUpgradeMode Fluent Method throws null reference exception"
When creating a virtual machine scale set, if the WithUpgradeMode method is used, a null reference exception is thrown inside VirtualMachineScaleSetImpl.

Are there specific requirements in the definition that I might not be meeting in order to set the upgrade policy this way?

[2017-04-17 21:45] cormacpayne commented on #3086
@singhkays Hey Kay, would you mind taking a look at this issue?

[2017-04-17 22:09] dawitmarkos opened #3088 ".ResourceGroups.CreateOrUpdateAsync(.. silently fails with no error or exception."
Creating resource group with ResourceGroups.CreateOrUpdateAsync fails with no error or exception. Below is a sample code that's failing for me. The sync version works fine.   Am I missing something here?

           var resourceManagementClient = new ResourceManagementClient(credential)
            {
                SubscriptionId = subscriptionId
            };

            Console.WriteLine("Cre

[2017-04-18 08:05] mikeblakeuk commented on #3031
.NET, using the Node version of AutoRest

[2017-04-18 14:37] btrabucco opened #3093 "Error when updating: Failed to add reference. The package 'Microsoft.Azure.Common' tried to add a framework reference to 'System.Threading' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance."
Same as issue: https://github.com/Azure/azure-sdk-for-net/issues/2987

Still an issue - don't know why the previous one was closed.

[2017-04-18 20:31] svick opened #3097 "Azure Batch File Conventions does not support .Net Core"
The Azure Batch File Conventions library (Microsoft.Azure.Batch.Conventions.Files) does not currently support .Net Core (or rather, .Net Standard).

Both of its dependencies support .Net Standard, so seemingly this should not be an issue.

I want this so that I can easily persist the output of Batch jobs running on Ubuntu VMs.

[2017-04-18 22:18] svick commented on #3097
As a start, here are my changes that make the code compile: https://github.com/svick/azure-sdk-for-net/commit/ac5fb7de6472db771fc7411f803ff1bb4ee7fa7c. I have not verified they actually work and some of those changes are probably not appropriate for production code.

[2017-04-19 01:48] solvingJ opened #3102 "Should we use a singleton pattern for clients derived from ServiceClient?"
I just posted this question on stack overflow for posterity, but I think the dev team here are the only people who would know enough about the inner workings to answer.

http://stackoverflow.com/questions/43484494/should-we-use-singletons-for-clients-derived-from-microsoft-rest-serviceclient-i

[2017-04-19 15:06] abatishchev commented on #3093
Thanks for opening another one, was going to do the same since the issue persists and that one was improperly closed without explanation and followups.

[2017-04-19 15:15] bmeredith commented on #2552
Also seeing this issue with Newtonsoft.Json v10.0.2.

[2017-04-20 22:09] shahabhijeet opened #3115 "Integrate travis with .NET SDK new vs17Dev CI jobs"
Travis has not been integrated with CI jobs on the new vs17Dev branch.
I tried adding the new script (already checked in the branch) recommended by .NET Core team.
I had enabled it for a day and jobs has been failing since.

[2017-04-20 22:10] markcowl commented on #2905
Is this in runtime or generated code? What are the actual requirements for partial trust of these libraries?

[2017-04-20 22:11] shahabhijeet opened #3116 "Enable Profiles to build on new vs17Dev branch"
Profile definition is still remaining to do on the new vs17Dev (.NET SDK) branch.
We have all the basic stuff that we need to build an entire set of SDKs.

What is remaining is creating the profile config files that can be used on CI to create an entire Profile of SDK's

Time: 1.5 days

[2017-04-20 22:19] markcowl commented on #2195
Please see the Documentation folder

[2017-04-20 22:19] #2195 closed

[2017-04-20 22:21] markcowl commented on #1413
We don't own the azure servicebus package.  However, our management packages now support netstandard 1.4, which is compatible with UWP.

[2017-04-20 22:21] #1413 closed

[2017-04-20 22:21] #2285 closed

[2017-04-20 22:23] #2815 closed

[2017-04-20 22:24] markcowl commented on #2732
This is also fixed for the ARM management packages.  Closing

[2017-04-20 22:24] #2732 closed

[2017-04-20 22:27] #2102 closed

[2017-04-20 22:27] #2105 closed

[2017-04-20 22:27] #2106 closed

[2017-04-20 22:27] #2108 closed

[2017-04-20 22:35] #2772 closed

[2017-04-20 22:36] markcowl commented on #2744
This should be fixed in the latest runtime packages.

[2017-04-20 22:36] #2744 closed

[2017-04-21 02:00] markcowl commented on #3102
The runtime was recently updated to allow construction usign an HttpClient instance, so it is no longer necessary to do this to conserve resources.

[2017-04-21 02:00] #3102 closed

[2017-04-21 02:03] markcowl commented on #3093
What build are you targeting?  The Microsoft.Azure.Common framework does not support .net 4.0 builds, as the previous version did.  If you think you are targeting 4.5 or later and seeing this issue, please let us know what you are targeting

[2017-04-21 02:11] markcowl commented on #2483
This should be fixed with the latest .NetCore.  Please reopen if you see a recurrence

[2017-04-21 02:11] #2483 closed

[2017-04-21 10:07] petermzg commented on #2905
In my app (WebJob on Azure) I load modules to AppDomain. One of modules uses Microsoft.Azure.Management.DataLake.Store

[2017-04-21 13:05] GeekActual commented on #3080
@markcowl the problem is that the entire library of Microsoft.Azure.Common depends on Hyak. what library should I use in place of all the areas where Microsoft.Azure.Common is required.

I don't mean to be snarky (or at least not much..) but isn't something called "Azure.Common" kinda, well Commonly used?  If it has a dependency on a Library that will not be maintained shouldn't a new version of s

[2017-04-21 16:52] shawns1 commented on #3115
The 2 scripts in question are dotnet-install.sh and testSdkOnLinux.sh

[2017-04-21 19:44] awesley opened #3120 "Improve creation of VirtualMachine by providing a less verbose constructor or allowing Resources to be set"
Hi,

This improvement request is for the following class

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.virtualmachine?view=azuremgmtcompute-14.1.0-prerelease

In a situation where you want to create a VirtualMachine and specify some resource (e.g. a Virtual Machine Extension) at the same time, you end up writing a lot of code due to the fact that Resources

[2017-04-21 23:00] BrainSlugs83 commented on #2987
Still happens with 2.1.3 and .NET 4.5.2 -- This should not be closed.

[2017-04-21 23:00] BrainSlugs83 commented on #2987
2.1.1 installs fine, by the way.

[2017-04-21 23:20] abatishchev commented on #2987
Please post in the newly opened issue

[2017-04-22 03:50] blumu commented on #2552
Is there any fix in sight for this bug? It's not always possible to downgrade to Newtonsoft v9.
For instance, F# 4.1 requires Newtonsoft.Json v10.0: https://github.com/JamesNK/Newtonsoft.Json/issues/1180

[2017-04-24 05:51] markcowl commented on #3120
@awesley The low-level APIs are meant to mirror the actual REST API calls.  For a more directed experience at creating VMS, you might try the fluent libraries: https://www.nuget.org/packages/Microsoft.Azure.Management.Compute.Fluent/

[2017-04-24 15:17] awesley commented on #3120
@markcowl That makes sense and, like you say, is coherent with https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/virtualmachines-create-or-update

Thank you, I'll look at the Fluent APIs.

[2017-04-24 15:17] #3120 closed

[2017-04-24 18:34] shahabhijeet commented on #3001
@AlexGevorkyan can you specify as to what version of nuget are you using.
Nuget 3.x should solve this problem.
Let me know if you see the same error after you upgrade to Nuget 3.x

[2017-04-24 18:36] shahabhijeet commented on #2180
@rohmano please reopen if you still see the issue.

[2017-04-24 18:36] #2180 closed

[2017-04-24 19:36] brjohnstmsft commented on #2552
@markcowl Any update on this?

[2017-04-24 21:24] cormacpayne commented on #3052
Script and configurations have been updated to fix this problem. Still need to consider whether or not we need to backfill releases that were missed.

[2017-04-25 04:20] jjdoo commented on #3003
Please also update Newtonsoft.Json dependecy for net45 which current only support version 6.0.8.

[2017-04-26 14:01] Sephiroth018 commented on #3093
I'm targeting 4.5 and have the same issue.

[2017-04-26 18:56] idg10 commented on #2552
Just in case it's a useful data point, I've encountered this in what might be an error scenario (with Json.NET 10.0.2) because it looks like a `CloudErrorJsonConverter` was involved:

    System.AggregateException: One or more errors occurred. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.InvalidOperationException: Cannot ge

[2017-04-26 20:14] markcowl commented on #2552
@fuocor @brjohnstmsft This is firmly in plan to look at in May, and from there we will have a plan to fix in runtime and/or generated code.  It is absolutely in our mission to support the latest version

[2017-04-27 05:53] shahabhijeet commented on #2954
This is done for 9 RPs and have been checked into a separate branch.
We need more information on what exactly needs to happen as the plans have changed recently for profiles.
Closing this issue, will either reopen or create a new issue with new information on the task

[2017-04-27 05:53] #2954 closed

[2017-04-27 05:57] shahabhijeet commented on #2194
Assigning it to @markcowl. As per triage, @markcowl needs to talk to @devigned and get more information.

[2017-04-27 12:09] hakwes commented on #3093
I have also the same problem. I'm targeting 4.5.2. 2.1.0 installed fine.

[2017-04-27 15:24] shahabhijeet commented on #2616
This work was already done.
Currently we have the following versions
For .NET 452 we use ADAL 2.28.3
For netStandard 1.4 we use ADAL 3.13.5

[2017-04-27 15:24] #2616 closed

[2017-04-27 15:29] shahabhijeet commented on #3116
This work has been done for 9 RPs and is currently checked into sdkProfiles branch. For the changed 9 RPs you can create individual nugets that has been tagged with Profile version.
This work is on hold due to change in plans. Once we get more clarity on what needs to be done, will create a new workItem

[2017-04-27 15:29] #3116 closed

[2017-04-27 19:39] markcowl commented on #3080
Microsoft.Azure.Common is the name of the old common library.  The new one, on which almost all ARM clients is based is Microsoft.Rest.ClientRuntime.

Which package are you using that requires this, and why were you unable to move to a later version that depends on Microsoft.Rest.ClientRuntime?

[2017-04-27 19:58] GeekActual commented on #3080
We are using it for two purposes,
one is for checking the infrastructure of the Cloud Service we are running on
And the second is for reading from the Role Environment `RoleEnvironment.GetConfigurationSettingValue( "overrideSlot" ) `

[2017-04-27 20:51] solvingJ commented on #3102
@markcowl It's great that users can now pass the client into the constructors.  However, please confirm that one still needs to engineer a solution for creating and passing a single HttpClient instance around to all the different places in their application in which they might instantiate azure rest clients.

[2017-04-27 20:51] markcowl commented on #3052
Fixed.

[2017-04-27 20:51] #3052 closed

[2017-04-28 03:39] markcowl commented on #3093
Verified.  For some reason this did not show up in testing the package.  Candidate fix for this is here: https://github.com/Azure/azure-sdk-for-net/pull/3136

[2017-04-28 05:05] daronyondem commented on #2744
It is fixed! Thanks.

[2017-04-28 20:28] jasonjyy opened #3138 "Fail to retrieve user info using AAD's graph client library if there is single quote in the user's email address"
We use AAD Graph client library to retrieve user info using get user operation. When there is single quote in the user's email address, it'll fail with below exception. The log shows 2 single quotes in the user's email address, maybe an encoding issue in the AAD Graph library?

Microsoft.Data.OData.ODataErrorExceptionResource jason''stest@SCCAlerts1.onmicrosoft.com' does not exist or one of its qu

[2017-04-28 21:07] matthchr opened #3139 "Remove compiler constants from Batch.csproj"
We have `PORTABLE` defined right now in `Batch.csproj` -- once AutoRest fixes [this](https://github.com/Azure/autorest/issues/2218) we can remove the IFDEF stuff.

[2017-04-28 21:17] matthchr opened #3140 "Support projects targetting something other than net452 + netstandard1.4"
For SDK projects it's fine to only build those 2, but for supporting projects that we have (listed below) we sometimes have to target other frameworks.

**Here is this list of projects which I would like built but not packaged (tests need not be run either) – note paths are all in my latest PR not in vs17Dev yet:**
src\SDKs\Batch\DataPlane\Azure.Batch.IntegrationTests -- targets net452 only becaus

[2017-04-28 22:11] shahabhijeet commented on #3140
Fixing title

[2017-04-28 22:13] shahabhijeet commented on #2929
Fix in testing
https://github.com/Azure/azure-sdk-for-net/pull/3141

[2017-05-01 17:00] markcowl commented on #3093
This should be fixed here: https://www.nuget.org/packages/Microsoft.Azure.Common/2.1.4

[2017-05-01 17:00] #3093 closed

[2017-05-01 17:04] markcowl opened #3145 "Investigate using Newtonsoft.Json 10 with generated code and republish packages"
### Description
- [ ] Update minimum version in clientruntime to NewtonSOft.Json 10 (private package)
- [ ] Update ClientRuntime depenedncy (and newtonsoft.json dependency)in AutoRest acceptance tests and verify no issues with Newtonsoft.Json 10
- [ ] Update ClientRuntime tests to use newtonsoft.Json 10 and verify no issues
- [ ] Update management packages and tests to Newtonsoft.Json 10 and verif

[2017-05-02 00:04] martinsawicki commented on #3086
I see a missing null check on the inner `.UpgradePolicy`. Not sure what circumstances it'd be null under, but it seems possible. Same problem appears to exist on the Java SDK side.
Fixing for the next release.

[2017-05-02 00:40] martinsawicki commented on #3050
after enhancing the [unit test for CRUDing Databases](https://github.com/Azure/azure-sdk-for-net/pull/3148/files#diff-3fc360f44e7e85bdac4989bbd2e762b2), I don't see a problem with `.List()` so either this got fixed in the latest v1.0.0 (not beta) release, or we need a more specific repro.

[2017-05-02 00:40] #3050 closed

[2017-05-02 00:55] martinsawicki commented on #2985
For v1.0.0, we used &lt;remarks&gt; for the lack of an attribute-based mechanism analogous to Java SDK's annotation based mechanism (`@Beta`). But <remarks> still has lousy discoverability as it doesn't show up in the tooltip, only in the object browser, and you cannot discover it programmatically (e.g. via reflection).

Now exploring another mechanism - based on a base `IBeta` interface. It is ea

[2017-05-02 01:06] martinsawicki commented on #2716
this code fix was released in the recent v1.0.0 release (not beta)

[2017-05-02 01:06] #2716 closed

[2017-05-02 10:40] davecader opened #3150 "Description property always null when using IConnectionOperations.ListAsync to retrieve connection details."
The value of the Description property in the response from the IConnectionOperations.ListAsync in method in IAutomationManagementClient is always null, even for connection assets known to have a non-empty description.

[2017-05-02 10:47] davecader opened #3151 "Frequently receiving exceptions when using ListAsync methods in IAutomationManagementClient."
We use a number of ListAsync and ListNextAsync methods to retrieve automation asset information from Azure (i.e. runbooks, connections, variables, etc.) on a regular 30 second interval. Recently we have started to observe intermittent exceptions when calling ListAsync. We have observed a couple of different exceptions, including "A task was cancelled" and "Unable to connect to remove server/No con

[2017-05-02 13:27] shahabhijeet commented on #2905
@petermzg can your code run outside webjob scenario?
By design WebJob runs in FullTrust. So at this point could you provide a repro where I can repro the full call stack at my end.

[2017-05-02 13:28] #2929 closed

[2017-05-02 15:26] tpsands commented on #996
I am seeing this issue still. Version 1.5.6 from NuGet. Class to be serialized was generated by the tool in the Tools project:
`   [DataContract(Namespace = "mynamespace")]
    [KnownType(typeof(Dictionary<string, object>))]
    public partial class Measurement
    {
        private const string JsonSchema = @"{""type"":""record"",""name"":""mynamespace"",""fields"":[{""name"":""DeviceID"",""type"

[2017-05-02 18:58] jianghaolu commented on #2940
Hi @abergs
Are you working with an IDE like Eclipse or IntelliJ IDEA? If so, do you think you can debug and pause when the process hangs?

[2017-05-02 19:03] jianghaolu commented on #2935
I'll add support for this in the next release.

[2017-05-02 19:22] #3003 closed

[2017-05-02 19:26] shahabhijeet opened #3153 "Documenting Admin features for Jenkins Adminstration"
- Document what are some of the hooks, settings that are configured that will allow a stuck Jenkins job to be kicked off.
- In general document Jenkins configuration guide.

From: Mark Cowlishaw
Sent: Tuesday, May 2, 2017 11:47 AM
Subject: FW: Update Microsoft.Azure.KeyVault.WebKey dependency on JSON.NET to unblock ASP.NET Core 2.0 preview1

It looks like there was a separate configuration for the

[2017-05-02 20:30] hovsepm commented on #3086
@thrnto PR with the fix is merged. It will be available in the next release.

[2017-05-02 20:30] #3086 closed

[2017-05-02 21:19] irrogozh opened #3154 "Workitem for chackConnectivity API: https://github.com/Azure/azure-sdk-for-net/pull/3149"
1. Add tests for all features, positive/negative cases.
2. Fix hard coding in tests.
3. Add tests for new Model Types added

[2017-05-03 14:12] Elodie-D opened #3160 "Microsoft.Azure.Management.ResourceManager invalid version"
Here is the message I get when I try to use the latest version of the api :
The api-version '2017-05-10' is invalid. The supported versions are '2017-03-01,2016-09-01,2016-07-01,2016-06-01,2016-02-01,2015-11-01,2015-01-01,2014-04-01-preview,2014-04-01,2014-01-01,2013-03-01,2014-02-26,2014-04'.

[2017-05-03 17:20] Epstone commented on #996
I can just suggest you a workaround for the problem. Maybe it helps even with the disadvantages created.
`  {
  "namespace": "some.namespace",
  "type": "record",
  "name": "Measures",
  "fields": [
      {"name": "IntegerMeasures", "type" : ["null", {"type": "map", "values": "int"}]},
      {"name": "BooleanMeasures", "type" : ["null", {"type": "map", "values": "boolean"}]},
      {"name": "Doubl

[2017-05-03 20:52] matthchr commented on #3140
@shahabhijeet I'm just wondering, do you have an idea/plan for dealing with this case?

[2017-05-04 18:46] abergs commented on #2940
No I'm using it VS. Unfortunately I've since moved on and won't be able to investigate further myself.

[2017-05-05 07:23] parido commented on #2552
This is great news as this issue is impacting our development here (downgrade JSON is not an option right now).
Thanks

[2017-05-05 10:29] LeifRoss opened #3170 ".net core batch job and pool delete operations fail to authenticate"
Having some issues with the the pool and job delete operations when running .net core 1.1, version 6.1.0 of the SDK.

[code]

Getting this error on:
- BatchClient.PoolOperations.DeletePoolAsync
- batchClient.JobOperations.DeleteJobAsync
- BatchClient.PoolOperations.DeletePool
- BatchClient.JobOperations.DeleteJob

All the other operations are working, but these two won't authenticate.

Read that t

[2017-05-05 15:27] jefflill opened #3171 "Create route table with multiple routes throws ArgumentException"
The Fluent API incorrectly throws:

&nbsp;&nbsp;&nbsp;&nbsp;`ArgumentException("An` item with the same key has already been added. Key: routes")`

when I attempt to create a route table with more than one route.  The interesting thing is that the table is actually created in Azure and it functions correctly.  I'm guessing that the problem is in the code where the Fluent API constructs the strongly

[2017-05-05 16:23] jefflill opened #3173 "Fluent API support creating Load Balancer with just NAT port forwarding rules (no load balance rule)"
I'd like to create a load balancer with only NAT port forwarding rules but without any load balancing rules.  This is not currently supported by the fluent API.

Here's what I'd like to be able to do:

[code]
I get a compiler error when I call `DefineInboundNatRule()` without first calling `DefineLoadBalancingRule()` in the fluent call chain.

[2017-05-05 16:29] martinsawicki commented on #3173
yes, it's on the to-do list to rework the LB model to allow for such scenarios among others.

[2017-05-05 17:44] jefflill opened #3175 "Fluent: Cannot create VNET with existing route table attached by ID"
I'm trying to workaround #3171 by retrieving the ID of the route table I just created and then using the ID to attach the table to a new VNET.  This fails with:

&nbsp;&nbsp;&nbsp;&nbsp;`CloudException("Cannot parse the request")`

Here's the code:

[code]
Note that this still fails even if I remove the second route definition so the route table creation succeeds and then use the ID of the route o

[2017-05-05 17:45] jefflill commented on #3175
One more thing: This workaround used to work with the old September 2016 beta release.

[2017-05-05 17:56] shahabhijeet opened #3176 "Investigate upgrading System.Net.HTTP to the newer version"
Currently we have a dependency on System.Net.Http 4.3.0
Investigate and figure out, how can we move to System.Net.Http 4.3.1
This will require taking away dependency from .NET Standard Library 1.6.1 and moving to a new package that has System.Net.Http 4.3.1
Or find an alternative way to move to a newer version.

[2017-05-05 18:04] jefflill commented on #3175
**Correction:** This used to work with the Feb 2017 **1.0.0-beta50** release.

[2017-05-08 08:07] saguiitay opened #3181 "Calling GetSecretsAsync doesn't include the version Id"
There's no way of getting the version Id of the latest version, other than retrieving all the versions of the secret, sorting them by Attribute.Updated, and take the last one.

I would expect GetSecretsAsync() to be able to return the version Id of the secret.

[2017-05-08 17:32] hovsepm commented on #3181
@saguiitay please provide which package and package version information that you refer to.

[2017-05-08 17:35] saguiitay commented on #3181
<package id="Microsoft.Azure.Management.KeyVault" version="2.1.0-preview" targetFramework="net462" />

[2017-05-08 17:36] hovsepm commented on #3170
@LeifRoss please provide Nuget package ID and version of the Batch that you use.

[2017-05-08 17:36] saguiitay commented on #3181
Package id="Microsoft.Azure.Management.KeyVault" version="2.1.0-preview" targetFramework="net462"

[2017-05-08 21:51] martinsawicki commented on #3171
root cause: it's a combo of two issues:

a) it looks like inside the impls, the semantics of `dictionary.Item[key]=value` was intended, but `dictionary.Add(key, value)` was used - an incorrect port of the Java SDK impl where the equivalent `map.add(key, value)` has the semantics of the former, but the appearance of the latter.  The creation works correctly on the Azure side, the error is getting h

[2017-05-08 23:01] martinsawicki commented on #3175
after fixing https://github.com/Azure/azure-sdk-for-net/issues/3171, I don't repro this issue, so maybe there was some underlying problem with that still.
Our new [test case](https://github.com/Azure/azure-sdk-for-net/pull/3183/files#diff-1c0d5da5cc32ce9f1e54ef2b91781cf1) should cover this ok.

BTW - FYI - it is not needed to create a new authenticated client just to get to the underlying "auto-ge

[2017-05-09 09:54] LeifRoss commented on #3170
@hovsepm

Azure.Batch - 6.1.0 - https://www.nuget.org/packages/Azure.Batch/6.1.0

[2017-05-09 17:59] tg123 opened #3185 "Missing remove SecondaryIPConfiguration API"
I only see in NetworkInterfaces
[code]

looking for

[code]

[2017-05-09 20:37] #2917 closed

[2017-05-09 21:00] jefflill commented on #3175
Cool.  Thanks for the tip.

On Mon, May 8, 2017 at 4:02 PM, Martin Sawicki <notifications@github.com>
wrote:

[2017-05-09 21:46] ajit-kolathur opened #3189 "WebApp Management doesn't allow auto scale out setup"
The management libraries don't allow web app autoscale [scale out] setup, is there a plan to add this to the sdk?

[2017-05-09 22:04] ajit-kolathur opened #3190 "Adding a certificate to the library which isn't bound to a host name"
Hi,

We use a certificate for client certificate authentication, the cert needs to be installed but it isn't bound to any host name. I noticed that the management library doesn't support adding a certificate which isnt bound to a host name. The azure portal supports this by having two separate features, adding a certificate and binding a certificate. Are there plans to support simple install of ce

[2017-05-10 17:53] matthchr commented on #3140
@shahabhijeet - Do you have an ETA on when you will support this?

When this work is done, we should make sure to enable the scenario we have with the ConfigureAwaitChecker, where we have a netstandard1.4 Roslyn analyzer which is consumed by our Azure.Batch project (as a development dependency). The analyzer doesn't have a net452 target at all.

[2017-05-10 18:01] hovsepm commented on #3171
Fixed and merged. Will be available in the next release.

[2017-05-10 18:01] #3171 closed

[2017-05-10 18:06] matthchr commented on #3170
Hi @LeifRoss - Can you let me know what region you're on and share your `RequestId` (which was redacted above) with me?

Note: The `RequestId` isn't a secret, it's an opaque GUID that service developers can use to find your request on our server.

[2017-05-10 18:07] hovsepm commented on #3189
@ajit-kolathur AutoScale is a part of Monitor service that we work on.

[2017-05-10 18:08] #3189 closed

[2017-05-10 18:18] pomortaz commented on #3181
@saguiitay if you don't specify the version, the latest version of the secret will be returned. Version is part of secret ID.

[2017-05-10 19:45] abergs opened #3197 "The remote server returned an error: (504) Gateway Timeout"
Hey,
I think I ran into a throttle when using the Fluent Api.
Now i'm unable to authenticate, I instead receive the error above.

I'm running this code:
`
 IAzure azure = Azure
                .Configure()
                .Authenticate(auth)
                .WithSubscription("xxxx");
`

Should I save the IAzure instance as a Singleton? Now i'm creating new ones for different actions.
I'm running t

[2017-05-11 01:15] matthchr commented on #3170
Hi @LeifRoss, I have also been able to reproduce this, I'm currently investigating the cause and will get back to you.

[2017-05-11 08:54] abergs opened #3199 "Very slow: azure.WebApps.ListByResourceGroupAsync(resourceGroup)"
Calling the azure.WebApps.ListByResourceGroupAsync(resourceGroup) method is extremely slow?

Even though my code is running in Azure, it can easily take about 1-4 minutes to load. We have about 50 websites in that resource group.

What could be the cause of this?

[2017-05-11 09:02] LeifRoss commented on #3170
Hi @matthchr
This is the request id: ae21288d-1f8e-42c3-ade2-83b576739cbd
Thanks!

[2017-05-11 10:52] allyjweir opened #3200 "VirtualMachines.List()/.ListByResourceGroup() timeout on Windows Server 2012 R2"
# Problem Statement
Using certain methods in the Azure Fluent API only fail when we test against Windows Sever 2012 R2 hosted on Azure.

# Context
Trying to debug a suite of tests that interact with Azure's Compute services. The full suite works on developer's machines (tested across 3 Win10Pro machines). The tests however fail when run on our build machine (Server 2012R2 on Azure). The tests also

[2017-05-11 13:31] allyjweir commented on #3200
Did some further research:

In our codebase, the xUnit test that checks retrieves the list of VMs (as replicated in the repo in initial issue) passes on our development machines. However, calling the _exact_ same code from a WebAPI Controller method (running IIS Express) and it times out.

We used Fiddler to intercept the HTTPS traffic and it shows by both methods that the correct response it actu

[2017-05-11 13:48] martinsawicki commented on #3200
@anuchandy my hunch right now is that that it's related to threading. We may have seen other similar "hangs" in an ASP.NET context, or other contexts with multi-threading restrictions. Could this be the same problem?

[2017-05-11 14:27] allyjweir commented on #3200
Perhaps worth clarifying how we are running the tests on the Windows Server 2012 R2 machine.

We are running them from inside Visual Studio 2017 using Test Explorer (connected to xunit.runners.visualstudio), so very similar (if not exact) as the dev environment on Windows 10 (where it passes).

Have also tried running the tests using `VSTest.exe` through VSTS's Build Pipelines, these also hang.

[2017-05-11 16:10] shahabhijeet opened #3201 "Adding Test Coverage to DevTestLab SDK"
Add scenario tests for DevTestLabs, that will tests
- Operations for devTestLabs
- Models for devTestLabs

Test coverage is required prior to release of the SDK.

[2017-05-11 16:25] shahabhijeet commented on #3140
@matthchr This is under testing and should be done today.

[2017-05-11 16:51] JordaanMe opened #3202 "UpdateAsync try to re-add nested object"
I have a data model that consists of appointments, and patients. Every appointment has a patient property. When I make a change to an appointment and then call UpdateAsync, I get the following error:

The operation failed due to a conflict: 'Violation of PRIMARY KEY ...' . Cannot insert duplicate key in object

It's pretty clear that azure is trying to re-add the patient to the patients table when

[2017-05-11 20:26] mikeblakeuk commented on #3031
Any news on this. we really want to remove Hyak, Azure.common and Microsoft.Build from our solution

[2017-05-11 22:03] matthchr commented on #3170
I've tracked down the cause of this. It is due to a bug in our SDK, caused by a subtle behavior change in NetCore. Apparently `HttpClient` now includes the `content-length` header implicitly on all `POST` requests (even if there is no body), but not on `DELETE` requests.  This is a change from netframework where `POST` and `DELETE` both had an implicit `content-length` even if there was no body.

[2017-05-12 07:21] LeifRoss commented on #3170
Excellent, thank you!

[2017-05-12 17:41] matthchr opened #3205 "Support running test projects targetting multiple frameworks"
Since libraries target net452 and netstandard1.4, we should have tests that exercise both of these codepaths. Especially in cases where `#if` was used in the code.

The test pass on the CI job should support and run tests with multiple framework targets. So for example if a test targets `net452` and `netcoreapp1.1` and has 17 tests, the test pass should run 17 x 2 = 34 tests.

My team recently had

[2017-05-12 17:43] matthchr commented on #3205
See #3170 for more details about the issue we found.

[2017-05-12 17:44] matthchr commented on #3205
@shahabhijeet

[2017-05-12 18:04] shahabhijeet commented on #3202
@JordaanMe Can you give me a repro that I can see this particular error.
For e.g. give us the code as well as which Azure SDK library you are trying to use.

[2017-05-12 18:08] shahabhijeet commented on #3151
@davecader I understand this is intermittent right now, but would like to get some repro and as well as traces.
Adding folks from Automation who can help.

[2017-05-12 18:28] shawns1 commented on #3153
Ack.  I am going to put this documentation in our team OneNote.

[2017-05-12 23:00] #2275 closed

[2017-05-13 13:18] alataffective commented on #3019
When trying to add Microsoft.Azure.Search 3.0.3 to a .NET Standard 1.1 (or any other version) class library I get:

Package Microsoft.Spatial 6.15.0 is not compatible with netstandard1.1 (.NETStandard,Version=v1.1). Package Microsoft.Spatial 6.15.0 supports:
  - dnx451 (DNX,Version=v4.5.1)
  - dnxcore50 (DNXCore,Version=v5.0)
  - portable-net40+sl5+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile

[2017-05-15 17:59] awesley opened #3211 "Consider exposing Storage Account Id and Name from a virtual machine"
Hi,

I am using the Azure Fluent SDK.

I am implementing a feature similar to Virtual Scale Sets (but not using them) that will allow my application to provision and de-provision virtual machines based on some demand.  When I build the VM, I will create a new NIC and Storage Account.  When I delete the VM, I delete the associated NIC and Storage Account.

It is convenient to get the NIC, but I was

[2017-05-15 18:13] shahabhijeet opened #3212 "TestFramewok should allow custom key/value pairs"
There are instances when using some custom data is required during execution of tests.
Currently there is no way to get that data inside the test during execution, so users rely on additional env. variables or worse, they hard code it.
If we provide this, it will allow users to start taking advantage of the connection string.

PR https://github.com/Azure/azure-sdk-for-net/pull/3210/

[2017-05-15 19:06] shahabhijeet opened #3213 "HttpRecorder optimization"
Optimize HttpRecorder recording to:
- Remove redundant entries
- HttpRecorder should allow you to cleanup/cleanse data post recording

This is especially important as we are asking to re-record tests using latest nugets as part of moving away from old ResourceManager/Storage nugets.
If we fix HttpRecorder now, all new recordings will benefit from this.

Cost: 6

[2017-05-15 19:10] markcowl commented on #3080
- [ ] Update .NetCore version of Hyak.Core to remove upper limit on Newtonsoft.Json
- [ ] Verify no test issues with remaining 5 packages

### Cost: 2

[2017-05-15 19:20] brjohnstmsft commented on #3019
@alataffective Yes, this is the right place. We have netstandard1.1 versions of the GA and preview Search SDKs in the works right now. They should be released in the next few days. I'll update this issue when that happens.

[2017-05-15 19:24] markcowl commented on #3138
@jasonjyy Unfortunately, the AD Graph library does not reside here.  Please submit this request to one of the azure AD support forums, as specified here:  https://azure.microsoft.com/en-us/support/forums/

[2017-05-15 19:24] #3138 closed

[2017-05-15 19:25] markcowl commented on #3001
Closing for lack of response.  If this recurs, please reopen this, or open a new issue

[2017-05-15 19:25] #3001 closed

[2017-05-15 21:37] matthchr commented on #3170
This has been fixed in Azure.Batch 7.0.1. Thanks for the report @LeifRoss

[2017-05-15 21:37] #3170 closed

[2017-05-15 22:03] martinsawicki commented on #2535
with the introduction of the asynch methods over the past few releases on pretty much all the exposed models, I think we've addressed the original request.

[2017-05-15 22:03] #2535 closed

[2017-05-15 23:12] markcowl opened #3215 "Tag modules for api-version"
### Description

- [ ] Query bala for updated sdk versions used in AzureStack
- [ ] Tag existing Nuget packageswith <namespace>:<api-version>, for example ```Microsoft.Compute:2017-05-01```
- [ ] Add the corresponding tag into each existing csproj for ARM packages, and add checking the value to the PR review checklist

### Cost: 2

[2017-05-16 07:39] samuelkilada opened #3222 "Failed to add reference. The package 'Microsoft.Azure.Management.AppService.Fluent' tried to add a framework reference to 'System.Xml.XDocument' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance."
I can't seem to install "Microsoft.Azure.Management.Fluent" because the installation of "Microsoft.Azure.Management.AppService.Fluent" always fails with this error:

I am targeting .NET 4.5.2

[2017-05-16 08:43] saguiitay commented on #3181
When placing the secret ID in an ARM template to be added as secrets in a Virtual Machine Scale Set, the "full" ID, including the version is required (see https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachinescalesets#VaultCertificate). Since I want the VMSS to use the latest version, I need to find that latest version by iterating over all the versions, sort them based

[2017-05-16 16:46] Bartmax commented on #2552
thanks, just hit this. Saved me tons of times!

[2017-05-16 22:28] jaimetotal commented on #2985
Strolling to the issues to pick something when I found this one.

Have you consider a BettaAttribute (which I find it similiar to Java annotation) that can be used for both Interface, Class and Method?

I find it cleaner to read, easier on the conflicts as it usually won't have other attributes affecting it.
Regarding the others Acceptance Criterias: reflection, check; tooltip, not sure. You mean

[2017-05-16 22:34] martinsawicki commented on #2985
the idea of a Beta attribute is what we started with, because `@Beta` is what we're doing in Java, but it doesn't quite work that way in .NET because of the other reasons: no tooltip indication, no object browser visibility - basically completely undiscoverable for the user. And the main goal of this is to show which APIs are in Beta for the user.

[2017-05-17 02:07] chrisvanderpennen opened #3224 "NullReferenceException in RetryDelegatingHandler when concurrent requests are retried"
Tested against Microsoft.Rest.ClientRuntime 2.3.7 / Net452
Environment: i7-4770, Windows 7, NET 4.6.1, VS2017 update 2

When making concurrent requests to a server intermittently returning timeout errors, RetryDelegatingHandler sometimes throws NullReferenceException.  I suspect a request task is being preempted just before https://github.com/Azure/azure-sdk-for-net/blob/vs17Dev/src/SdkCommon/Clie

[2017-05-17 09:05] ashoksoo commented on #2716
I am noticing that running this piece of code
var scaleSet = AzureClient?.VirtualMachineScaleSets.GetById(ScaleSetId);
var newCapacity = Math.Min(MaximumNodeCount, NodeCount.Value + 1);
scaleSet.Update().WithCapacity(newCapacity).Apply();

is only updating the vmss but it is not actually adding those new nodes to the fabric cluster. Do I have to do something after scaling out the vmss for them to

[2017-05-17 15:40] riccardone commented on #1163
Can you please point me to the latest source code Microsoft.Hadoop.Avro version="1.5.6"?

[2017-05-17 15:42] riccardone opened #3227 "Latest Microsoft.Hadoop.Avro"
Can you please point me to the latest source code for the C# Avro library Microsoft.Hadoop.Avro (currently version="1.5.6")?

I have issues using valid schemas with a ParseNull function that is not considering default values

Thanks

[2017-05-17 21:39] ashoksoo commented on #2716
@martinsawicki  : This is not fixed in Fluent 1.0.0 .

I am seeing this in the logs :

2017/05/17-21:13:46.974,Info,3864,ImageStoreClient.ManagedFileLock,Obtained writer lock for D:\SvcFab\lock
2017/05/17-21:13:46.989,Info,3864,FabricDeployer.FabricDeployer,Executing Configure /fabricBinRoot:C:\Program Files\Microsoft Service Fabric\bin /fabricDataRoot:D:\SvcFab /fabricLogRoot:D:\SvcFab\Log /cm:C:

[2017-05-18 09:17] tutike2000 commented on #3019
Yeah, simmilar error:

[code]

[2017-05-18 10:57] anuchandy commented on #2716
Submitted the fix here https://github.com/Azure/azure-sdk-for-net/pull/3230.

[2017-05-18 11:06] anuchandy commented on #2716
@ashoksoo I can [see](https://github.com/anuchandy/azure-sdk-for-net/blob/7907ca6afae19187d48ce0f1f564456f83e126cb/src/ResourceManagement/Azure.Fluent/Fluent.Tests/Compute/VirtualMachineScaleSetTests.cs#L145) that VMSS capacity update request get reflected in the VMSS model.

But i am not sure why service fabric is not picking the changes, probably some refresh required in the fabric side, you mig

[2017-05-18 14:13] mjrousos commented on #2716
If protected settings are not being applied to VMs spun up as a result of fluent API use, that might explain not being added to the SF cluster. An extension that I think depends on some protected settings is responsible for joining new VMs to the cluster.

[2017-05-18 21:46] shawns1 commented on #3153
Docs around debugging are complete.  Now working on finishing up docs on setting up workers.

[2017-05-18 21:51] rijethma opened #3234 "KeyVault Management tests failing on latest vs17Dev branch"
Error:

System.NotSupportedException occurred
  HResult=0x80131515
  Message=Username/Password login is supported only in NET45 projects
  Source=<Cannot evaluate the exception source>
  StackTrace:
   at Microsoft.Rest.ClientRuntime.Azure.TestFramework.TestEnvironment.Login()
   at Microsoft.Rest.ClientRuntime.Azure.TestFramework.TestEnvironment.RecorderModeSettings()
   at Microsoft.Rest.ClientR

[2017-05-18 22:55] shahabhijeet commented on #3234
@rijethma so coupel of reasons:
1. Azure Cloud no longer supports username/password in production (unless it's org Id)
2. ADAL no longer supports username/password in .NET core assemblies

So we had no choice but to remove that support.

You have two options:
1) Run your test in .NET 45+ (which I assume you are doing)
2) Start using Service Principle/Secret for your .NET core scenarios

[2017-05-19 03:08] nicksav opened #3238 "Fluent SDK doesn't run under ASP.NET in .Net 4.5.2"
Guys, I might be doing something wrong, but I can't get anything to work at all.

[code]

This is my auth code. Doesn't return any error. After I am trying to provision a Resource group and its just stuck without any errors or anything. The same behavior for any api call. Any idea?

[code]

[2017-05-19 03:37] nicksav commented on #2541
Still doesnt work. Cant get any response in ASP.Net...

[2017-05-19 03:57] nicksav commented on #3238
Sorry, guys, It doesnt work in ASP.NET. Need to put the code into separate Thread, but still an issue.

[2017-05-19 03:58] nicksav opened #3239 "Resources. ListByTag expects values to be in '*'"
This will add tag to resource:
`                   resourceGroup.Update()
                              .WithTag("dealerID", "20")
                              .Apply();`

To be able to get resources by TagName need to add '' for the values:
`azure.ResourceGroups.ListByTag("'dealerID'", "'20'").ToList()`

I would expect it to be without ''

[2017-05-19 08:02] shahabhijeet commented on #3115
Done
https://github.com/Azure/azure-sdk-for-net/pull/3169

[2017-05-19 08:02] #3115 closed

[2017-05-19 08:04] shahabhijeet commented on #3140
Done
https://github.com/Azure/azure-sdk-for-net/pull/3209

[2017-05-19 08:04] #3140 closed

[2017-05-19 08:07] shahabhijeet commented on #3176
Currently we take advantage of .NET Standard Lib roll up nuget package for our System.Net.Http reference.
When .NET Standar Lib starts shipping the update version of System.Net.Http 4.3.1 we can upgrade.
In the mean time if any customer wants to upgrade to the latest version, they can always do it and upgrade will work without any issue.
What is not in scope is to test and make sure we do not have

[2017-05-19 08:07] #3176 closed

[2017-05-19 08:08] shahabhijeet commented on #3205
Done
#3209

[2017-05-19 08:08] #3205 closed

[2017-05-19 08:09] shahabhijeet commented on #3212
Done
#3210

[2017-05-19 08:09] #3212 closed

[2017-05-19 23:43] brjohnstmsft commented on #3019
This is now fixed. You can grab the latest NuGet packages here:

- GA SDK: https://www.nuget.org/packages/Microsoft.Azure.Search/3.0.4
- Preview SDK: https://www.nuget.org/packages/Microsoft.Azure.Search/4.0.1-preview

[2017-05-19 23:43] #3019 closed

[2017-05-20 20:27] galvesribeiro commented on #2552
Guys, any updates on that? using v10+ still having the same error...

Thank you.

[2017-05-22 13:56] shahabhijeet opened #3259 "Re-use existing ci-signing for common tools"
Make the switch to start storing all build tools inside separate repo in a separate branch.
This will enable having common build tools/scripts be used across multiple repos.

Cost: 6

[2017-05-22 13:58] shahabhijeet opened #3260 "Running Static analysis build tools"
Currently we analysis tools but that increases time for build.
Run all the tools in parallel.
For e.g.
CredScan
BinScope
Policheck
Static Analysis tool

Cost: 8

[2017-05-22 14:00] shahabhijeet opened #3261 "Make TestFx documentation robust"
There are still scenarios where testFx needs to show exception message that are clear, so that user can take further action.
This in includes linking error messages to documentation (need to try out how this will pan out)
Also making sure the documentation for TestFx is robust
Also making sure if we can have a migration guide from old testFx to new testFx

Research as to how can we get users off o

[2017-05-22 14:07] shahabhijeet opened #3262 "Synchronize Publishing and creating release"
Currently there can be cases where you can fail to publish a nuget package, but you can still create a release.
Need to synchrozing both task (publishing and creating GitHub release) as one operation or at least let creating GitHub release fail if publishing fails.
Investigate how can we flag, releases as pre-release/release

Cost: 4

[2017-05-22 15:00] hidingmode commented on #2616
is there support for netcoreapp1.1?

[2017-05-22 16:35] brjohnstmsft commented on #2552
@galvesribeiro Which Azure library are you using, and which version is it?

[2017-05-22 18:47] galvesribeiro commented on #2552
@brjohnstmsft
[code]

I can only get it to work with 9.0.1. I tried with 10+ and same error as state on this issue.

[2017-05-22 19:32] galvesribeiro opened #3264 "APIs to create VPN Gateway"
Hello guys,

Where are the APIs for the VPN Gateways like for example vNet to vNet connections?

I can see interfaces in master branch but I can't see how to use them.

Can someone point me the directions?

Thanks

[2017-05-22 19:43] brjohnstmsft commented on #2552
@galvesribeiro It might be because `Microsoft.Azure.Management.Fluent` depends on an older version of `Microsoft.Rest.ClientRuntime.Azure`. Try adding a binding redirect to version 3.3.6 and see if that helps.

[2017-05-22 20:18] galvesribeiro commented on #2552
@brjohnstmsft I'm on .Net Core... No binding redirects :(

[2017-05-22 21:23] brjohnstmsft commented on #2552
@galvesribeiro Got it. Sorry for the inconvenience. :(

Since my last reply I've seen an update from @markcowl that this work is still in progress.

[2017-05-22 21:31] galvesribeiro commented on #2552
Ok, thanks @brjohnstmsft will keep the older version for now.

[2017-05-22 22:11] markcowl commented on #3234
Closed as resolved.

[2017-05-22 22:11] #3234 closed

[2017-05-22 22:12] markcowl commented on #3227
@riccardone Please try looking here: https://docs.microsoft.com/en-us/azure/#pivot=get-started&panel=get-started1

[2017-05-22 22:12] #3227 closed

[2017-05-22 22:42] jaredmoo opened #3267 "Re-record SQL tests with ResourceManager client 1.6"

[2017-05-22 22:47] jaczhan commented on #3267
AzureRmSqlServerActiveDirectoryAdministrator API PR
https://github.com/Azure/azure-sdk-for-net/pull/3196

[2017-05-22 23:04] jianghaolu commented on #2554
Hi @cvs79
This is by design. Creating an `Azure` instance doesn't require a network connection.

To verify if you have a valid credential, you can call `Azure.Authenticate(credentials).WithDefaultSubscription()`.

[2017-05-22 23:04] #2554 closed

[2017-05-23 00:38] jianghaolu commented on #2904
Hi @christophwille

According to https://docs.microsoft.com/en-us/dotnet/articles/csharp/programming-guide/classes-and-structs/access-modifiers, interface members are always public.

[2017-05-23 00:38] #2904 closed

[2017-05-23 00:42] jianghaolu commented on #3199
This is because when we load web apps, we also load app settings, connection strings, configurations that are attached to them. They are unfortunately all different API calls. So 50 websites would be at least 200 rest calls.

[2017-05-23 05:06] shahabhijeet commented on #3267
@jaredmoo Hopefully this can be done before next PR from SQL.
As we talked offline, either have a tiered approach as to all the tests that are part of PR needs new resource manager or re record all SQL tests with new Resource manager.
We are also going to push or taking a second look at all skipped SQL tests (if any)

[2017-05-23 06:28] bottomup commented on #2552
Same here. The problem occurred when I added 2 fields to an index. I was on NewtonSoft.Json 10, a downgrade to 9 made it work again.

Probably it works when updating to NewtonSoft.Json 10 if the index is untouched. Changing the index causes the problem.

[2017-05-23 16:56] abergs commented on #3199
I see @jianghaolu. Is there anyway to speed this up? In many cases I'm just interested in the site existence and it's state and sometimes the appsettings.

[2017-05-23 18:48] brjohnstmsft commented on #2552
@bottomup Note that this issue covers all Azure .NET libraries. It sounds like you're talking about the Azure Search library in particular -- is that correct? If so, which version are you using?

[2017-05-23 19:05] bottomup commented on #2552
@brjohnstmsft correct. I'm using Microsoft.Azure.Search 3.0.3.
However, I'm also using other Microsoft.Azure packages, but didn't experience these issues there.

[2017-05-23 19:30] brjohnstmsft commented on #2552
@bottomup Can you try upgrading to 3.0.4 and let me know if you still experience the problem?

[2017-05-23 21:23] dwaijam commented on #3222
Facing the same issue. Any resolution for this yet?

[2017-05-23 21:27] samuelkilada commented on #3222
I wrestled with this so much. I was finally able to resolve it (kind of). This was so annoying.

It seemed to me to work if I started a new project in Visual Studio, but I couldn't add the package in my existing project. I therefore had to add a separate project to which I could then install the package. I could then reference my secondary project from the other project. This means you'll have to

[2017-05-24 01:33] shahabhijeet opened #3274 "Adding Support for using Raw Tokens for Authentication"
There are still scenarios where you need to use username/password for performing certain tasks that cannot be done using Service Principal.
One such task is to delete group in graph where delete rights are commonly associated/usually assigned to MSID/username.
https://github.com/Azure/azure-sdk-for-net/pull/3273

Cost: 2

[2017-05-24 15:24] jbreuer commented on #2552
I'm having the same issue with Azure Search. Upgraded to 3.0.4 and I get the error "Cannot get SerializationBinder because an ISerializationBinder was previously set.". Using Newtonsoft.Json version 10.0.2.

[2017-05-24 15:27] galvesribeiro commented on #2552
Its important to note that this is not a particular nuget issue... Any nuget from Azure SDK that is using 9.0.1 and you try to use 10.x.x+, you will get that problem...

[2017-05-24 15:35] jbreuer commented on #2552
Thanks for the info. So do we need to wait until a new version comes out that uses 10.x.x+ ? I can't downgrade to 9.

[2017-05-24 15:39] galvesribeiro commented on #2552
Yeah, unfortunately... I did rollback to 9+ for a particular project that use those packages in order to be unblocked...

[2017-05-24 17:08] jamesosb-msft commented on #3222
I'm hitting this issue to.  Unfortunately, adding the reference to a different project is not an option for me.  I need to modify our existing projects to use the APIs in this package.

[2017-05-24 23:38] martinsawicki opened #3277 "Expose GenericResources.deleteById()"
apparently porting this special case logic from the java SDK was missed

[2017-05-25 07:04] tkumark opened #3280 "Nuget package installing Microsoft.Azure.Management.Fluent 1.0.0 not working for VS2012"
Hi

In VS2012 when I run `Install-Package Microsoft.Azure.Management.Fluent` on a newly create 4.5 Console application. I got the following error

I do not face this issue with VS2017

[2017-05-25 22:16] nathannfan commented on #3267
@shahabhijeet  Please look at the PR asap.  We have two others also doing .NET work who should pick up this change.

[2017-05-26 07:09] lishuode commented on #2700
Also need that feature. It is important for a cloud app. We need a proper certificate auth and login.

[2017-05-26 09:31] jbreuer commented on #2552
I tried adding the following binding redirect, but it didn't work:

[code]

@markcowl Any idea when a new version will be released which supports NewtonSoft.Json v10?

[2017-05-26 13:34] tg123 commented on #3264
for most resources your can deploy using template if no api supported in sdk

codes below we are using to create vpn gateway
[code]

[2017-05-26 14:14] dominicbetts opened #7175 "Any plans for supporting IoT Hub connection strings?"
Are you planning to add support for IoT Hub connection strings in the way that is supported in Microsft.ServiceBus.Messaging library?

It's much more convenient to use the IoT Hub connection string directly rather than assembling a Event Hub connection string from IoT Hub's Event Hub-compatible settings.

[2017-05-26 18:46] sphibbs commented on #3262
If publish fails don't create tag
if publish succeeds ensure the tag is created.

We need to figure out a queue strategy

[2017-05-26 18:53] sphibbs commented on #3261
add test for repo-tasks.psd1

Also update powershelll test help for the hybrid scenario of two test FX. Add a task.

[2017-05-26 19:00] sphibbs commented on #3260
We should also look into what we run the tools against. Do run against the entire repo if only compute has changed.

[2017-05-26 19:05] sphibbs commented on #3259
More info about what tools and what scripts will be consolidated.

[2017-05-26 19:15] sphibbs commented on #3213
Investigate what to cleanup/cleanse.

[2017-05-27 16:44] PHBeagle commented on #2587
This worked for me, but I did have to resolve one additional error.  When installing the API (after copying Newtonsoft.Json.dll 7.0.1, then I had a problem with Microsoft.Rest.ClientRuntime 2.3.2 failing to install.  I installed it via NuGet Package installer, then did the API install again and it all worked.

[2017-05-28 14:31] Gilad-Eisenberger commented on #3222
Encountered this as well.

I tried manually installing the System.Xml.XDocument nuget to get over this issue, unfortunately it wasn't enough to resolve the issue. After installing the nuget, I had to manually add a reference to the DLL in my project from the nuget's lib\netstandard1.3 folder.

After doing that, the nuget installs properly. Not sure if it'll run properly this way. I guess this is a

[2017-05-28 19:09] msngithub opened #3293 "wordcount sample with map reduce locally"
Hello guys,
i've installed Microsoft HDInsight Emulator For Windows Azure
i want test a simple project with map reduce technique like wordcount or sqrt in HDInsight Emulator
i program with c#
thanks guys.

[2017-05-30 09:42] cannehag commented on #2001
@markcowl ?

[2017-05-30 09:43] mloeffen opened #3296 "ISqlServers has no firewall option to allow access to Azure services"
The fluent api seems to have no option to allow Azure services to access the server. Sample code:
[code]

![2017-05-30 11_34_39-firewall settings - microsoft azure](https://cloud.githubusercontent.com/assets/986351/26577361/73a79ad6-452c-11e7-969a-211ecd98477d.png)

[2017-05-30 12:32] bottomup commented on #2552
@brjohnstmsft I tried your suggestion and upgraded to 3.0.4, but the same issue arises. Downgraded again to NewtonSoft.Json 9.0.1

[2017-05-30 16:54] markcowl opened #3298 "Re-Release AutoRest ClientRuntime with net45 target"
Right now, cannot mix old and new AutoRest packages, because the old libraries cannot take a net452 dependency.  I don't think we cna move the runtime libraries to a net452 target until *all* libraries have a net452 target.

[2017-05-30 21:03] hovsepm commented on #3280
@tkumark please check if you have updates for VS2012 Nuget manager that are not installed.

[2017-05-30 23:29] brjohnstmsft commented on #2552
@bottomup Thanks for confirming. I wasn't sure if the issue with the Azure Search SDK is related to the issue affecting all Azure .NET SDKs, but it looks like it is related. @markcowl is working on a fix.

[2017-05-31 09:20] isaacabraham commented on #2552
Just adding to this - I see this, but only when I generate an invalid search query in the Azure Search SDK - then it comes back with this error (rather than the "real" error).

[2017-05-31 18:52] hovsepm commented on #2552
This is an issue in ClientRuntime.Azure and will be fixed shortly.

[2017-05-31 19:05] markcowl commented on #3298
Noi longer needed

[2017-05-31 19:05] #3298 closed

[2017-05-31 19:13] brjohnstmsft commented on #2552
@hovsepm Thanks Hovsep. The Azure Search SDK does some custom JSON serialization stuff as well, so once the issue in ClientRuntime.Azure is fixed, I still have to verify whether more work needs to be done to fix the issue in Microsoft.Azure.Search.

[2017-05-31 19:38] markcowl opened #3305 "ServiceClient.Dispose method disposes HttpClients passed in through constructor overload"
### Description

This code: https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/ClientRuntime/ClientRuntime/ServiceClient.cs#L376 will automatically dispose an HttpClient, even if it is supplied in the constructor.

Need branching logic to differentiate between HttpClients created as part of construction and HttpClients passed in to the constructor, and only dispose the HttpCl

[2017-05-31 19:43] galvesribeiro commented on #2552
@hovsepm: Will #3304 solve the other nugets (like compute, networking, etc...) as well? As I mentioned, it is a general issue...

[2017-05-31 19:44] markcowl commented on #2552
We misunderstood the root cause for this, which is why we had the additional delay.  Hovsep's fix will allow those using NetCore and those using binding redirects in net452 to use Newtonsoft.Json.  Those who cannot use binding redirects will need us to republish the individual management libraries, which will happen next month.

@brjohnstmsft Code the depends on ClientRuntiem exception handling sh

[2017-05-31 19:49] markcowl commented on #2552
@galvesribeiro Those libraries are compatible with the new runtime, so you should be able to upgrade.  Note that you will need to be using NetCore or assembly binding redirects to take this fix, because the assembly identity for Newtonsoft.Json has changed.

[2017-05-31 19:50] galvesribeiro commented on #2552
@markcowl thankfuly I'm free from binding redirect hell by using .Net Core :)

Thanks! Looking forward for the update.

[2017-06-01 12:46] jnhaffey opened #3309 "Search SDK: FieldBuilder tries to read a property marked with JsonIgnore"
We are using Microsoft.Azure.Search.dll (3.0.0) from NuGet Package 3.0.3

Here are our Interfaces:
[code]

This is our base class:
[code]

Finally, this is the WebSiteSearchDocument:
[code]
We have set up an IndexManager and this method is called to 'Create the Index':
[code]

This is the exception we are getting back when we try to set the enum to JsonIgnore and IsRetrievable(false)

{"Property r

[2017-06-01 14:25] glaidler opened #3310 "Fluent Credentials file causing No matching token was found in the cache"
I am following all instructions to the letter using the credentials file method, and the .WithDefaultSubscription() method passes without incident.

When I try to perform an action such as var apps = _azure.WebApps.List(); it just hangs.  When I stop the application, the output shows the following:

Microsoft.IdentityModel.Clients.ActiveDirectory Information: 2 : 06/01/2017 14:16:21:  - Authentica

[2017-06-01 19:22] brjohnstmsft commented on #3309
@jnhaffey Thanks for reporting this. We'll investigate and see what needs to be fixed.

In the meantime, to unblock yourself you can create the index fields directly by using the various `Field` class constructors. From the error message I'm pretty sure the issue is in the `FieldBuilder` class, so creating the `Field` objects directly should unblock you.

[2017-06-01 20:22] galvesribeiro opened #3312 "Failure creating VMs with extensions"
I'm with the following issue when trying to create VMs with the compute SDK:

[code]

Any ideas on what can be happening? It looks like the problem is related to how redirects are handled and there are some discussion here: https://github.com/dotnet/corefx/issues/9357

I found out that if I comment the code related to executing script with extensions the error doesn't happen:

[code]

The related

[2017-06-01 21:13] jaredmoo commented on #3267
Done in #3272

[2017-06-01 21:13] #3267 closed

[2017-06-01 21:23] shahabhijeet commented on #3305
@markcowl our only option is to Clone the httpClient.
But what I am not sure is, any reason we want to support this feature.
We are disposing ServiceClient and it's properties.
If the caller wants httpClient beyond ServiceClient, they should DeepCopy the client and save a copy.
The bottom line is, we are disposing ServiceClient and that will dispose all it's properties which being HttpClient.

[2017-06-01 22:03] jaredmoo opened #3313 "No way to return response object from long-running POST"
Note: this is a clone of https://github.com/Azure/autorest/issues/2295 . I can close whichever copy of this issue is filed in the wrong repo.

There seems to be a deficiency in AutoRest-based .NET client (and possibly other language clients, I haven't investigated) regarding database pause/resume, which are long-running POST operation.

These operations are:
1.  `POST /subscriptions/{subscriptionI

[2017-06-01 22:58] ASHISHGU010 commented on #3309
Ccq

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason N Haffey <notifications@github.com>
Sent: Thursday, June 1, 2017 5:47:06 AM
To: Azure/azure-sdk-for-net
Cc: Subscribed
Subject: [Azure/azure-sdk-for-net] Azure Search SDK trying to read property I have told it to ignore (#3309)

We are using Microsoft.Azure.Search.dll (3.0.0) from NuGet Package 3.0.3

[2017-06-02 18:09] shahabhijeet commented on #3313
@jaredmoo close this one, as the Autorest issue still open, we do not need two issues in two separate branches.
So let's track this issue in AutoRest.

[2017-06-02 18:09] #3313 closed

[2017-06-02 18:50] shahabhijeet commented on #3293
@msngithub will this help to get you started
https://docs.microsoft.com/en-us/azure/hdinsight/

[2017-06-02 19:49] galvesribeiro commented on #3312
Hello guys, can someone give a hand here? It is for an internal MSFT project, so if you need more details, just ping me offline. Thanks

[2017-06-02 20:17] martinsawicki commented on #3264
@tg123 that's a great workaround for anything missing in the Fluent layers of the SDK.
@galvesribeiro unfortunately, I don't know yet when we're going to be able to get to cover the VPN area with the API at this point yet.  But this request is noted, and if there are more like this, it will help prioritize.

[2017-06-02 20:18] martinsawicki commented on #3239
interesting catch. I'm surprised as well.

[2017-06-02 20:21] galvesribeiro commented on #3264
Thanks both of you for getting back.

I ended up to mixing the non-Fluent API `NetworkManagerClient.VirtualNetworkGateways.CreateOrUpdateAsync()` and it is working. Not so clean and cool as fluent APIs but at least I have a strongly-typed object in return.

I'm facing another issue with the SDK and will ping you internally Martin.

For now, thanks for the reply and I'll close the issue.

[2017-06-02 20:21] #3264 closed

[2017-06-02 20:35] martinsawicki commented on #3312
@hovsepm would you be able to take look a look at this before Anu comes back?  There is some urgency to this. I don't know, but from the exception it almost smells like a runtime issue...

[2017-06-02 20:39] martinsawicki commented on #3211
yes, this sounds like a good idea to me.
@anuchandy what do you think?

[2017-06-02 21:51] hovsepm commented on #2552
The issue is resolved. Please use [Microsoft.Rest.ClientRuntime.Azure v 3.3.8](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure/3.3.8) or later.

[2017-06-02 21:51] #2552 closed

[2017-06-02 22:24] brharr opened #3318 "Missing OS Disk Size on many VMs"
I am creating a Auditing based application where I am gathering information about a customer's IaaS architecture. When I pull the information about the OS Disk, in most cases the DiskSizeinGB property off of the IVirtualMachine.StorageProfile.OSDisk object as well as the IVirtualMachine.OSDiskSize property are returning either 0 or null. However, the values absolutely exist within the portal.

Wha

[2017-06-03 01:07] martinsawicki commented on #3318
1. Can you pls check if: `IVirtualMachine.Inner.StorageProfile.OsDisk.DiskSizeGB` is null or 0 as well?  If so, then Azure is not returning this info to the SDK.
2.  When and how were these VMs created?  Or specifically: do they use the Managed disks feature or the old Unmanaged?
3. Which version of the SDK are you using?

[2017-06-05 21:47] shahabhijeet opened #3322 "Unable to build unsupported projects for .NET SDK"
Batch has few projects that we do not support to publish nuget, but we want them to build and run tests.

[2017-06-05 22:54] #3322 closed

[2017-06-06 02:03] brharr commented on #3318
Martin,

  1.  I did what you suggested and unfortunately the value comes back as null.
  2.  All of these VMs were created within the last month and all of them are using Managed Disks
  3.  As for the SDK, the Fluent version is 1.0.0

One other things to point out is that this is only true for the OS Disk. All of the Data Disks come through with all of the correct information.

Any ideas or thou

[2017-06-06 04:41] martinsawicki commented on #3318
The fact you're getting nulls even from they inners indicates Azure is not returning this info in the context your code is calling for it. The fact you're using managed disks is also very relevant.

Now, are these VMs in a *Running* state at the time you're querying them, or some other state?  (Managed disk size would not be available through this API if the VM is not running).

Also, if these are

[2017-06-06 09:04] tomasjurasek commented on #2092
Hi, i have same issue.
I created index by SDK

[code]

And when i want upload some document
[code]

I get error :  **The request is invalid. Details: parameters : The property 'ActionType' does not exist on type 'search.documentFields'. Make sure to only use property names that are defined by the type.**
here is my model
[code]

[2017-06-06 14:32] brharr commented on #3318
Martin,

First of all, all of the VMs are Stopped to keep my costs down as I develop this application. So that does answer one of the questions. However, your suggestion to just pull the Disk and get the information that way caused a completely new problem. When I run the following command:

var osDisk = azure.Disks.GetById(vm.OSDiskId);

I get the following exception which doesn’t make any sense

[2017-06-06 15:02] martinsawicki commented on #3318
can you pls say what your vm.OSDiskId actually returns in that case?  (the actual value)

[2017-06-06 16:53] martinsawicki commented on #3318
(you can replace subscription ID or other confidential parts of the string with X's - i just need to see the format of the ID. The error you're seeing hints at a problem with the structure of that ID. We have a number of tests testing that without issues, so it'd be interesting to understand if there are circumstances that trigger some misbehavior there)

[2017-06-06 17:56] glaidler commented on #3310
Hi, any news on this, I have tried everything, but don't want to invest time using the old api if this is possible.

[2017-06-06 18:43] brharr commented on #3318
So I added in a Console.Writeln statement to my code to get the OSDiskId and apparently it is only failing on a single OS Disk. Here is ID of the one that is causing the Exception:

/subscriptions/XXXXXXXX-XXXX-4b05-b32c-e96edf011ed4/resourceGroups/AzureIaaS-Audit/providers/Microsoft.Compute/disks/vm-linux-non-lb_OsDisk_1_de95028bdbe94fd6b1675f5ca0fdf4ef

From: Martin Sawicki [mailto:notifications

[2017-06-06 21:19] brjohnstmsft commented on #2552
@hovsepm @markcowl Not sure this should be closed until the libraries depending on `Microsoft.Rest.ClientRuntime.Azure` have been republished, unless there is another issue tracking this work...? I'd love to republish the Search libraries, but I see that `AzSdk.reference.props` in the `vs17Dev` branch hasn't been updated with the new references to `Microsoft.Rest.ClientRuntime.Azure` and `NewtonSo

[2017-06-06 21:44] hovsepm commented on #2552
+ @shahabhijeet

[2017-06-06 22:29] brjohnstmsft commented on #2552
@hovsepm No, but the minimum required version is 3.3.6, not 3.3.8. A few of our customers have already reported running into this issue as soon as they upgrade to JSON.NET 10. Referencing 3.3.8 resolves it, but in the meantime it creates extra support traffic for us.

[2017-06-07 09:28] pppchris opened #3331 "VirtualMachines.Define using WithStoredWindowsImage - The api-version '2016-04-30-preview"
"ExceptionMessage": "The api-version '2016-04-30-preview' is invalid. The supported versions are '2017-05-10,2017-05-01,2017-03-01,2016-09-01,2016-07-01,2016-06-01,2016-02-01,2015-11-01,2015-01-01,2014-04-01-preview,2014-04-01,2014-01-01,2013-03-01,2014-02-26,2014-04'.",

When trying to create a VM using a custom image.

[2017-06-07 10:51] glaidler commented on #3238
@nicksav - think i've come across same issue, how did you get around it?

[2017-06-07 10:52] nicksav commented on #3238
https://github.com/glaidler, just spin up a new thread and run the code inside.

[2017-06-07 11:24] glaidler commented on #3238
ok - got it working.  thanks, bit of a pain queuing in and out of new thread, but seems to work.

[2017-06-07 11:25] glaidler commented on #3310
This is same as issue below so you can close this.

https://github.com/Azure/azure-sdk-for-net/issues/3238

[2017-06-07 11:25] #3310 closed

[2017-06-07 12:39] glaidler opened #3332 "Ability to restore a database - is this available?"
ISqlDatabase has a list of IRestorePoint, but I can't find a way to restore a database.  Is this currently supported?

[2017-06-07 17:48] natemcmaster opened #3333 "Update Microsoft.Azure.KeyVault to support .NET Standard 2.0"
Currently, there are some APIs in Microsoft.Azure.KeyVault only available when targeting .NET Framework, for instance Microsoft.Rest.Azure.Authentication.ClientAssertionCertificate. With the thousands of new APIs available in .NET Standard 2.0 (compared to netstanard1.5), this restriction may not be necessary anymore.

FYI - upstream, we've converted Microsoft.Extensions.Configuration.AzureKeyValu

[2017-06-07 18:11] hovsepm commented on #3332
@glaidler are you using Fluent or auto-generated sdk? Fluent does not support it.

[2017-06-07 18:20] hovsepm commented on #3331
@pppchris could you provide the REST communication (e.g. Fiddler trace log)? That API version should be still available.

[2017-06-08 02:27] pppchris commented on #3331
Sure, no worries.

Have tried different settings with the network interface (such as create a new one) but that throws a similar error but pointing to a different API version.

`{
  "properties": {
    "hardwareProfile": {
      "vmSize": "Standard_DS2"
    },
    "storageProfile": {
      "imageReference": {
        "id": "**image id**"
      },
      "osDisk": {
        "caching": "ReadWrite",

[2017-06-08 02:30] pppchris commented on #3238
Just in case someone else has this issue, using the async methods and async controllers in MVC resolves this problem..

[2017-06-08 07:33] glaidler commented on #3332
Fluent.  Would be great if it did! :)

[2017-06-08 09:44] tg123 opened #3338 "Support WithAdminPasswordInKeyVault"
Hi

please add create vm with password in keyvault

[code]

[2017-06-08 17:51] hovsepm commented on #3332
Restore point in time feature is not yet in the Fluent Azure Management Libraries. Recently, this feature arrived in SQL Database Swagger and is in the library backlog. We are planning to work on it in the in late Summer.

[2017-06-08 17:51] #3332 closed

[2017-06-08 17:55] hovsepm commented on #3332
@glaidler as a workaround you can use AutoGenerated SQL library for that part https://www.nuget.org/packages/Microsoft.Azure.Management.Sql

[2017-06-08 18:03] anuchandy commented on #3331
@pppchris

It will be great if you can share the code fragment and full fiddler trace as @hovsepm mentioned.

Mean time we would like to share some details about "Custom image", since it can be created in various ways.

You have mentioned that you are trying to create virtual machine from "Custom Image". There are mainly 3 ways to create "custom image".

1. Custom image from native VHD
2. Custom i

[2017-06-08 18:16] hovsepm commented on #3312
The issue happens only in VSCode under Mac. Waiting for VSCode team investigation information.

[2017-06-08 18:49] TimLovellSmith opened #3340 "Problems using Nuget to update to FluentSDK 1.0.0"
I’m trying to update to Microsoft.Azure.Management.Fluent.1.0.0 from the beta but it didn’t work.
I’m not 100% sure what failure triggers the rollback here.

But one message it shows me is
‘Failed to add reference. The package 'Microsoft.Azure.Management.AppService.Fluent' tried to add a framework reference to 'System.Xml.XDocument' which was not found in the GAC. This is possibly a bug in the pac

[2017-06-08 18:53] TimLovellSmith commented on #3340
PS, I have target framework for this project set as '.Net Framework 4.5.0'

[2017-06-08 19:10] TimLovellSmith commented on #3340
Actually maybe it is the 'framework assembly references' part of the nuspec which is the problem?

[code]

[2017-06-08 21:22] hovsepm commented on #3340
@TimLovellSmith This is fixed in release 1.1.

[2017-06-08 21:22] #3340 closed

[2017-06-09 01:02] pppchris commented on #3331
Hey @hovsepm @anuchandy
What's the best way to dump the full trace so I can remove sensitive information? The JSON trace above was the trace request going off upon the create request.

I am using "Custom image by capturing a virtual machine". I used the JSON above in a Deployment Template it worked out any issues as well.

Code:

`            var NetworkInterface = Azure.Repo.NetworkInterfaces.Get

[2017-06-09 09:41] KK911 opened #3349 "Unable to update recurrence frequency of Logic App"
Updating the workflow definition using WorkflowsOperations.UpdateAsync results in an exception

This is because of sending a [PATCH request](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/Logic/Management.Logic/Generated/WorkflowsOperations.cs#L957) to update the workflow instead of [PUT as done in CreateOrUpdateAsync](https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6

[2017-06-10 00:41] hovsepm commented on #3222
Fixed in Fluent Management SDK V1.1.

[2017-06-10 00:41] #3222 closed

[2017-06-11 18:13] SeanFeldman opened #3358 "ServiceBus no way to manage Rules on Subscriptions?"
`SubscriptionCreateOrUpdateParameters` doesn't have Rules part.
From browsing the code could find anything that would hint at how to do it.

[2017-06-12 16:31] markcowl commented on #3305
@shahabhijeet Yes, the entire idea is httpclient reuse.  HttpClient is a hewvyweight artifcat which is expensive to clone.  This is a specific ask of teams that use our clients in the portal, and is a reason they have not moved from Hyak to AutoRest

[2017-06-12 16:32] markcowl commented on #3274
@shahabhijeet We already had support for this in the test framework, is this somethign that has regressed recently?

[2017-06-12 16:36] markcowl commented on #2910
### Decsription

Add license header check to repo.

- [ ] Create license header check tool that checks c# files for license comment
- [ ] Run against the repo and fix any errors
- [ ] Add automation to execute and fail the ci build if any cs file fails the license check

### Cost: 4

[2017-06-12 16:38] markcowl commented on #3202
Closing for lack of response.  @JordaanMe  Please reopen if this recurs and include a repro

[2017-06-12 16:38] #3202 closed

[2017-06-12 16:58] markcowl commented on #2194
Removing milestone info for triage

[2017-06-12 19:39] markcowl commented on #3305
Here is a simple repro:

[code]

[2017-06-12 21:12] lowleveldesign opened #3359 "Problem while creating a VM"
I try to create a new Linux in an existing VNet (`virtualMachineVnet`) using the Fluent API and I receive the "CloudException: Cannot parse the request" exception. The code for creating the machine looks as follows:

[code]
The exception:
[code]
I traced the requests in BurpSuite and noticed that the failing request has the following body (dotted unimportant parts):
[code]
and the response was:
[c

[2017-06-12 21:56] hovsepm commented on #3359
@lowleveldesign are you using v1.1?

[2017-06-12 22:54] vinayada1 opened #3360 "Fix ExpressRouteTests solutionn"
The build for this solution seems to have been broken for a while and will eventually need to be fixed.

[2017-06-12 23:30] TimLovellSmith opened #3361 "Fluent: WithExistingNetworkSecurityGroup not working for newly created NSG?"
I recently upgraded to 1.0.0. I had some code which I reworked since the previous version which ended up after the upgrade looking like

[code]

But it seems to have been failing due to the WithExistingNetworkSecurityGroup not working somehow in this scenario - here is the server response!

[code]

I don't really see why this code could fail though unless its a bug - or unless I'm not testing the

[2017-06-12 23:54] TimLovellSmith opened #3362 "Fluent: problems upgrading to 1.1.0 from 1.0.0 (System.Runtime not in GAC?)"
Using .net framework 4.5.2 as project target and.. the -IgnoreDependencies flag (because anything else is too slow).

`Update-Package Microsoft.Azure.Management.ResourceManager.Fluent -IgnoreDependencies

Package 'Microsoft.Azure.Management.ResourceManager.Fluent 1.0.0' already exists in folder 'C:\repo\cp\packages'
Added package 'Microsoft.Azure.Management.ResourceManager.Fluent 1.0.0' to 'packag

[2017-06-13 01:15] hovsepm commented on #3362
@TimLovellSmith thanks for reporting. We are working on the hotfix.

[2017-06-13 04:43] lowleveldesign commented on #3359
Sorry for not specifying this. I am using the version from the Nuget package 1.1.0. Strangely, the assembly full name is: **Microsoft.Azure.Management.Fluent, Version=1.0.0.60, Culture=neutral, PublicKeyToken=31bf3856ad364e35**, but the file and product version is **1.1.0.0**.

The project source code is on github: https://github.com/lowleveldesign/azrdp. The assemblies are in the binaries folder

[2017-06-13 16:43] martinsawicki commented on #3361
intriguing indeed. I'll need to look at this.

[2017-06-13 20:33] TimLovellSmith commented on #3361
@hovsepm /cc @martinsawicki Updated to 1.1.0 but it didn't seem to help with this NSG issue in any way.

Logging shows that NSG.Id property gets initialized to '..../resourceGroups/weur793706/providers/Microsoft.Network/networkSecurityGroups/weur793706vnetnsg' by the time I call create vnet.

Was there anything else I changed when I updated to 1.0.0? Yes! I did make some changes that probably affe

[2017-06-13 20:50] olegburov opened #3365 "Add Azure Search support to Fluent API"
It would be handy if [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) (aka Fluent API) supported [Azure Search](https://azure.microsoft.com/en-us/services/search/) service.

Please consider to bring support for it, since this is what we are heavily using.

[2017-06-13 21:23] matt1883 opened #3366 "ApplicationTokenProvider.LoginSilentWithCertificateAsync is missing an overload that allows both ActiveDirectoryServiceSettings and TokenCache to be provided"
Re: Microsoft.Rest.ClientRuntime.Azure.Authentication NuGet package, v2.3.1:

The method ``ApplicationTokenProvider.LoginSilentWithCertificateAsync`` is missing an overload that allows both ``ActiveDirectoryServiceSettings`` and ``TokenCache`` to be provided. Here are the three options that exist today in ``ApplicationTokenProvider``:

    public static Task<ServiceClientCredentials> LoginSilentWi

[2017-06-13 22:19] TimLovellSmith commented on #3361
@hovsepm @martinsawicki I also tried adding the NSG to the subnet as an 'Update()' call and it doesn't work either [same response]:

[code]

[2017-06-13 22:24] TimLovellSmith commented on #3361
+ @anuchandy I notice the symptom resembles #3359, however your fix only address VMs right?

[2017-06-13 22:34] anuchandy commented on #3361
@TimLovellSmith issue looks similar, SDK is not serializing the id of the NSG in this case.

@martinsawicki Looking at the corresponding java [type](https://github.com/Azure/azure-sdk-for-java/blob/master/azure-mgmt-network/src/main/java/com/microsoft/azure/management/network/implementation/SubnetInner.java#L31), NSG property is a SubResource. In case of C# it is a Resource hence the ID will not g

[2017-06-14 15:40] GeekActual opened #3371 "Instructions for "Creating a Service Principal in Azure" do not work"
the last instruction given in [Creating a Service Principal in Azure](https://github.com/Azure/azure-sdk-for-net/blob/Fluent/AUTH.md#creating-a-service-principal-in-azure) do not work.

When run from Bash on Windows I get the following result:

[code]

[2017-06-14 17:34] jianghaolu commented on #3371
Hi @GeekActual Can you verify `az ad sp create-for-rbac` works for you?

[2017-06-14 18:59] hovsepm commented on #3361
fix published to nuget. Please upgrade to version 1.1.1.

[2017-06-14 18:59] hovsepm commented on #3362
Hotfix published to nuget. Please upgrade to version 1.1.1.

[2017-06-14 18:59] #3362 closed

[2017-06-14 19:01] hovsepm commented on #3359
fix published to nuget. Please upgrade to version 1.1.1.

[2017-06-14 19:01] #3359 closed

[2017-06-14 19:18] TimLovellSmith commented on #3340
(Juost noticing it is a plain dupe of #3222)

[2017-06-14 19:58] hovsepm commented on #2940
@abergs could you upgrade Fluent SDK to the latest available version (1.1.1) and post here if it still hangs forever?

[2017-06-14 20:14] brjohnstmsft commented on #3365
@olegburov Thanks for the feedback. I will check with the folks working on the Fluent SDKs to see if supporting Azure Search is on their near-term roadmap.

[2017-06-14 21:19] jianghaolu commented on #2740
This is being tracked as part of Web app GA discussion.

[2017-06-14 21:19] jianghaolu commented on #2935
This is supported in v1.1.0.

[2017-06-14 23:17] jaredwri commented on #3358
A problem for me as well.

[2017-06-15 01:46] vladbarosan opened #3373 "Cannot auth with certificate to azure when targeting .NET 4.5.2"
I cannot authenticate to Azure using certificates available in release 1.1.0
`        public AzureCredentials FromServicePrincipal(string clientId, string certificatePath, string certificatePassword, string tenantId, AzureEnvironment environment)
` when my project is targeting **4.5.2**, but it works when I target the **NetCore** framework.

This fails with the exception `System.Security.Cryptogra

[2017-06-15 05:06] lowleveldesign commented on #3359
Thank you for the fix, but it seems that it is not present in the 1.1.1 version of the assemblies (my problem persists). Also, I checked the latest version of the [NetworkInterfaceIPConfigurationInner.cs](https://github.com/Azure/azure-sdk-for-net/blob/Fluent/src/ResourceManagement/Network/Microsoft.Azure.Management.Network.Fluent/Generated/Models/NetworkInterfaceIPConfigurationInner.cs) and it do

[2017-06-15 21:05] hovsepm commented on #3373
For now you will need to have a custom implementation of AzureCredentials and overload ProcessHttpRequestAsync

[2017-06-15 21:05] hovsepm commented on #3373
We should add an overload which will take X509Certificate2 as a parameter.

[2017-06-16 06:38] vladbarosan commented on #3373
For who is having this issue, here is a sample implementation of the `CustomAzureCredentials` which you can use it then to pass it to the Azure Client like this:
[code]

`CustomAzureCredentials` implementation:
[code]

[2017-06-16 14:13] msngithub commented on #3293
i want a simple project with this dll ( https://github.com/Azure/azure-sdk-for-net ) and with HDInsight Emulator
i found a video that show , how to implement a simple project , but this video is not related to last Emulator and dll
https://www.youtube.com/watch?v=uyi41nrhlhw

can any body help me ?
i want a simple project with hdinsight in last HDInsight Emulator with this dll
thank you

[2017-06-16 19:32] vinayada1 opened #3382 "Need to disable some tests in ExpressRoute.Tests.csproj"
Tests need re-recording but the .csproj does not compile and cannot re-record

[2017-06-16 21:38] olegburov commented on #3365
@brjohnstmsft thanks for the update.

Just for the record, I've contacted az-libs-for-net@microsoft.com and @selvasingh said the following:

If you could provide any ETA or at least a Fluent version number when it's coming, that would be useful for my team. Thank you!

[2017-06-16 21:56] olegburov opened #3384 "Add Azure Application Insights support to Fluent API (aka Monitor)"
It would be handy if [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) (aka Fluent API) supported [Azure Application Insights](https://azure.microsoft.com/en-us/services/application-insights/) service.

[2017-06-16 22:11] brjohnstmsft commented on #3365
@olegburov I haven't synced up with @selvasingh yet, so I don't know what the ETA for Azure Search support is in the Fluent libraries, but I'll update this issue when I have more information.

[2017-06-16 22:19] travismc1 opened #3385 "Error "Cannot parse request" when creating new VM with new Vnet and Ip address"
I'm unable to create a new VM using the Fluent SDK following the example here:
https://github.com/Azure-Samples/compute-dotnet-manage-virtual-machine-using-vm-extensions/blob/master/Program.cs

Whenever I run this portion of the code
[code]

it fails with "Cannot parse request"
`Microsoft.Rest.Azure.CloudException: Cannot parse the request.
   at Microsoft.Azure.Management.Network.Fluent.NetworkIn

[2017-06-16 22:30] olegburov opened #3386 "Extend the 'ISqlServer' interface with 'Status' property."
Could you please extend the `Microsoft.Azure.Management.Sql.Fluent.ISqlServer` interface with `Status` property, just like `ISqlDatabase` has?

[code]

Using [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) (aka Fluent API) I want to get a status of my Azure SQL Server like this:

[code]

[2017-06-17 07:32] martinsawicki commented on #3385
I tried the code above and I did not run into any problems.
Can you please check the string parameters passed into this code are valid/not empty/not null, etc?
The above code uses a number of variables, but the values are not provided here.
So I used literal strings to try to reproduce and had no issues.

[code]

[2017-06-18 16:25] jaredmoo opened #3388 "Update SQL VirtualNetworkRules test to be fully automated"
The VirtualNetworkRules test added in #3377 requires manual setup in order to run, which is harmful to the long-term maintainability of the SDK codebase. This test must be updated to create its dependencies at run time so that the test can be run live and re-recorded in automation.

[2017-06-19 20:59] travismc1 commented on #3385
I still receive the error, but maybe this will help.

I provided the values inline to assist.

            azure.ResourceGroups.Define("travis619rg")
                                .WithRegion(Region.EuropeNorth)
                               .Create();

            IVirtualMachine testVM = azure.VirtualMachines.Define("travis619test")
                .WithRegion(Region.EuropeNorth)

[2017-06-20 07:18] PanzerkampfwagenIII opened #3389 "KeyVaultManagementClient.Vaults.ListByResourceGroup() returns only 5 vaults in the resource group"
When I try `KeyVaultManagementClient.Vaults.ListByResourceGroup(RESOURCEGROUP)`, it returns only 5 vaults, not sure if this problem only applies to Azure China which I am using.

[2017-06-20 17:26] j055 commented on #2935
How do we use this? I tried the following:

[code]

ALL CERTIFICATES stop working in the site including site.azurewebsites.net. The browser presents a 'Select a Certificate' dialog with 403 error saying the site is stopped when in fact it isn't:

![diag](https://user-images.githubusercontent.com/6011428/27346473-40eaba00-55e5-11e7-8251-2b96ed92456f.png)

The Azure portal shows everything working n

[2017-06-20 18:41] hovsepm commented on #3389
@PanzerkampfwagenIII Please provide package nuget ID and version that you use.

[2017-06-20 19:49] j055 opened #3390 "SSL binding when the certificate is already installed"
This needs reopening #2935

[2017-06-20 23:12] hovsepm commented on #3361
Still fails on Update

[2017-06-20 23:23] hrishi18pathak commented on #3361
Actually it fails on the create
We also get a similar failure while creating loadbalancer
Code:

// Create the LoadBalancer, and all the port-forwarding rules we will need to support
            // a cluster of VMs.
            // Wait for dependent tasks before continuing
            Func<Task<ILoadBalancer>> createLoadBalancer = async () => {
                var lbName = GetLoadBalancerName();

[2017-06-21 00:59] atpham256 commented on #1224
We currently do not support PowerBI as an Output Source via the SDK or PowerShell. We only expose it through the Portal due to the authentication requirements associated with the Output Source.

[2017-06-21 00:59] #1224 closed

[2017-06-21 02:54] PanzerkampfwagenIII commented on #3389
@hovsepm  thanks for the reply, the nuget package is **Microsoft.Azure.Management.KeyVault 2.3.0-preview**, I have also tried some older versions and got the same result. I have also tried `KeyVaultManagementClient.Vaults.ListByResourceGroup(RESOURCEGROUP, TOP)` but it returns only 5 as well. What I can do is now using `KeyVaultManagementClient.Vaults.List()` to get all vaults but I need actually

[2017-06-21 07:25] shahabhijeet commented on #2552
@brjohnstmsft following [fix] (https://github.com/JamesNK/Newtonsoft.Json/pull/1341) fixes underlying error. New set of Clientruntime libraries are on track to be republished by next week.
In the mean time, upgrading to newtonsoft.json 10.0.3 will fix the issue whoever wants to upgrade to newtonsoft 10+

[2017-06-21 14:03] garybushey opened #3394 "Unable to add second AD group to Resource group using AuthorizationManagementClient"
Update:  For some reason I have only got this to work with one resource group.  If I create a second resource group (either through code or the portal) I get the same error message.

I have written code that allows me to add an AD group (created through the portal) to a resource group (also created through the portal) and it works fine for the first group I add but if I attempt to add a second one

[2017-06-21 15:40] brjohnstmsft commented on #2552
@shahabhijeet Awesome, thanks for the update!

[2017-06-21 16:53] hrishi18pathak commented on #3361
This is the stack trace:
   at Microsoft.Azure.Management.Network.Fluent.LoadBalancersOperations.<BeginCreateOrUpdateWithHttpMessagesAsync>d__11.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotificati

[2017-06-21 17:45] hovsepm commented on #3389
@pomortaz could you help to investigate?

[2017-06-21 17:47] #3390 closed

[2017-06-21 17:47] hovsepm commented on #2935
@jianghaolu please followup with the sample link.

[2017-06-21 18:03] pomortaz commented on #3389
@RandalliLama can you please take a look at this issue?

[2017-06-21 18:42] xcrover commented on #3238
Hello Guys,
I tried different types of threading:
- async+await
- Task<T>
- ThreadPool.QueueUserWorkItem
- new Thread()

Nothing worked with MVC.NET 5.2.3) on .NET 4.5.2 with Microsoft.Azure.Management.Fluent 1.0.0.60 that I got from NuGet because of exactly the same problem:
    TokenCache: No matching token was found in the cache

The same code works just fine from desktop application.
Is there

[2017-06-21 21:17] begoldsm opened #3395 "LRO progress checking fails if PATCH returns 201 with location header"
PATCH operations can return 201 with a location header or azure async operation response. However, if they do the following code will result in a failure being thrown: https://github.com/Azure/azure-sdk-for-net/blob/vs17Dev/src/SdkCommon/ClientRuntime.Azure/ClientRuntime.Azure/AzureClientExtensions.cs#L443-L445

This needs to be updated to also consider PATCH+201 as a success case

[2017-06-21 21:26] shahabhijeet opened #3396 "Bubble up LRO polling that returns 200 but has error body or failed state"
Currently during LRO when we poll we check if anything other than
200, 201, 202 and 204
We will throw
Else we will return back and keep polling
At the end of the polling operation, we check for failed states and then simply throw a generic CloudException saying LRO failed with no new information.

We should bubble this information back to client with the actual error code and message.
There are at

[2017-06-22 02:39] pppchris opened #3398 "Unable to update VirtualMachineProfile Extension Public Setting (Scale Set)"
Fluent API, v1.1.1

[code]
Updates are missing in the request to Azure. Adding private setting etc works without any issues.

[2017-06-22 14:06] garybushey commented on #3394
**NOT AN ISSUE WITH THE SDK**. This was a mistake on my part.
Where I am passing in "role.Name" to the RoleAssignments.Create I should be passing in a new GUID as a string instead (Guid.NewGuid().ToString() ).  Changed my code and it works fine.

BTW, the last comment in this issue helped me:
https://github.com/Azure/azure-sdk-for-net/issues/2303

[2017-06-22 14:06] #3394 closed

[2017-06-22 14:42] j055 commented on #2935
I had to fix the site this happened on. Can you tell me what you want which will help?

[2017-06-22 16:59] matt1883 opened #3402 "Device code authentication method is missing from UserTokenProvider"
``UserTokenProvider`` in Microsoft.Rest.ClientRuntime.Azure.Authentication needs to support logging in with a **device code**, like a few of the other SDK languages support.

This authentication option is important for scenarios where end-users need to log in to an application/device that can't launch a browser window.

I believe this would require upgrading the package to use a newer version of M

[2017-06-22 18:11] hovsepm commented on #3402
@matt1883 it is supported for .Net Core platform (netstandard1.4 and greater). Not supported for .Net 4.5.2 by design.

[2017-06-22 18:11] hovsepm commented on #3402
@matt1883 we cannot upgrade ADAL for .Net 4.5.2 due to Azure PowerShell dependency.

[2017-06-22 21:16] nathannfan opened #3405 "Randomly generate username + password in Sql.Tests"
Right now, username and password for sql servers created in Sql .NET SDK tests are hardcoded in the utilities file.  Ideally, we would randomly generate these credentials.

This will require re-recording all Sql client tests.

[2017-06-22 22:57] hovsepm commented on #3361
fixed in [v1.1.2](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/1.1.2)

[2017-06-22 22:57] #3361 closed

[2017-06-22 23:11] hovsepm commented on #2690
this is implemented already.

[2017-06-22 23:11] #2690 closed

[2017-06-22 23:12] hovsepm commented on #2700
Supported starting from v1.0

[2017-06-22 23:12] #2700 closed

[2017-06-22 23:16] hovsepm commented on #2940
Please create new issue if this still happens in v1.1.2

[2017-06-22 23:16] #2940 closed

[2017-06-22 23:21] hovsepm commented on #3173
@jefflill Available in v1.1.2. Please update your package reference.

[2017-06-22 23:21] #3173 closed

[2017-06-22 23:23] hovsepm commented on #3175
Fixed in v1.1.2. Please update your reference.

[2017-06-22 23:23] #3175 closed

[2017-06-22 23:27] hovsepm commented on #3280
Please update your package reference to v1.1.2. Reopen this bug if it will still happen afterwards.

[2017-06-22 23:27] #3280 closed

[2017-06-22 23:28] #3312 closed

[2017-06-22 23:34] hovsepm commented on #3365
@olegburov we are planning to include it in v1.2 which is the next release cycle.

[2017-06-22 23:37] hovsepm commented on #3385
@travismc1 This should be fixed in v1.1.2. Please update your reference and post here results.

[2017-06-23 00:19] vinayada1 opened #3407 "Hydra Spec and Azure-sdk-for-net repo not in sync"
Some change in the hydra specs is causing some peering stats related files to be not generated. These files are still referenced by azure-powershell repo. Needs fixing by Express Route team

[2017-06-23 00:44] anuchandy opened #3408 "VMSS WithLatestWindowsImage is setting version as "version" it should be "latest""
[code]

[2017-06-23 00:51] anuchandy commented on #3398
@pppchris just to clarify, are you saying you could UPDATE the private settings of this extension but unable to update the public settings?

[2017-06-23 00:53] pppchris commented on #3398
@anuchandy - yes correct, private work.. public does not.

Fiddler tracers are not showing any public setting changes in the API request.

[2017-06-23 00:58] RandalliLama commented on #3389
@PanzerkampfwagenIII To enumerate all of your vaults you need to use the ListByResourceGroupNext function.  See below for an example.

[code]

[2017-06-23 01:00] pppchris commented on #3238
Here is an example I got working as an example but have the same method working for Dns and VMs.

`var vmSet = await Repo.VirtualMachineScaleSets.GetByIdAsync(setId);
var publicLBTask = Task.Run( () => vmSet.GetPrimaryInternetFacingLoadBalancer() );
var internalLBTask = Task.Run(() => vmSet.GetPrimaryInternalLoadBalancer() );
 `
Using .net 4.5.2, MVC 5.2.3 and Fluent 1.1.1 (but it worked on 1.0 al

[2017-06-23 01:17] olegburov commented on #3365
@hovsepm, great! Thank you for the update.

[2017-06-23 03:47] PanzerkampfwagenIII commented on #3389
@all Thanks for your help all, much appreciated, the code solves my problem perfectly.

[2017-06-23 03:47] #3389 closed

[2017-06-23 16:25] glaidler commented on #3238
This works for me without using async controllers - however I am using ServiceStack, but should(!) work for you too...

          var q = new ConcurrentQueue<List<AppServicePlan>>();
           var t = new Thread(() =>
            {
                var appServices = _azure.AppServices.AppServicePlans.List();
               q.Enqueue(appServices);

            });
            t.Start();

[2017-06-23 17:29] #3402 closed

[2017-06-23 19:24] mj1856 opened #3410 "ArgumentException on Mono"
We have some components that target .NET Framework 4.6 when built, but run on Linux via Mono.  In one of those components, we use the Azure KeyVault client, which uses the `Microsoft.Rest.ServiceClient` class from here.

We had [one exception with ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/509), which we have a workaround for and they are fixing for the next v

[2017-06-23 19:25] awesley opened #3411 "How can I get async behavior out of the Fluent SDK?"
Hiya,

I'm creating VMs using the Fluent SDK.  Here's a code snippet:

[code]

This task does not complete until the machine is entirely provisioned and booting - a period of over ten minutes.  That doesn't seem async to me.  Is there something I am doing wrong?  I want the call to return prior to the machine's availability.

For comparison, when provisioning a VM on Amazon EC2 returns nearly imme

[2017-06-23 19:27] xcrover commented on #3238
Thank you guys!
The problem was not in my code but in the corporate proxy.
Everything worked when I tried it from another location.

[2017-06-23 21:24] olegburov opened #3412 "Add API to get SQL Database by ID w/o getting SQL Server first."
In Azure portal, I can get an ID of my SQL Database, which looks like below:

- `/subscriptions/{my-subscription-id-here}/resourceGroups/{My-Resource-Group-here}/providers/Microsoft.Sql/servers/{my-sql-server-here}/databases/{my-sql-database-here}`

Using [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) (aka Fluent API) I want to get my Azure

[2017-06-23 22:02] hovsepm commented on #3411
@awesley we are working on providing callers a way to poll manually resource creation flow. Right now we do poll until resource provisioning status is succeeded or failed.

[2017-06-23 23:27] shahabhijeet commented on #3410
@mj1856 thank you for reporting this.
We will have this in our plans for our next release, but seems you have a workaround that unblocks you but generating the required entries in your virtual hive

[2017-06-23 23:30] hrishi18pathak opened #3415 "Add support for UpdateInstancesAsync and UpdateInstances to IVirtualMachineScaleSets"
Add support for UpdateInstancesAsync and UpdateInstances to IVirtualMachineScaleSets
just like other calls like ReImage, Reboot etc.
This is useful for doing manual upgrades of VMs in a scaleset (when the policy is set to manual)
Current way of achieving this:
IVirtualMachineScaleSet vmss;
var resp = await vmss.Manager.Inner.VirtualMachineScaleSets.UpdateInstancesAsync

[2017-06-26 12:48] awesley commented on #3411
@hovsepm Understood.  I was able to add the multiThreaded: true arg to CreateAsync and reduce the time a bit, but my requestTimeout will still need to be extreme to manage this case (I'm using the SDK in ASP.Net Core).

My 0.02$ on desired behavior - the call to Azure should be quick, return the information that I described above, and that I could poll if I'd like to.

Due to the current behavior,

[2017-06-26 15:48] mj1856 commented on #3410
Yes, thanks. :)

[2017-06-26 15:52] j055 commented on #2935
This is easily reproducible:

1. Create a web app (I used a basic app service plan)
2. Add a CName record in your DNS to point to myapp.azurewebsites.net
3. Execute the following:

[code]
The site now returns HTTP 403 forbidden.

[2017-06-26 17:09] j055 opened #3417 "Exceptions not thrown"
If the underlying HTTP request gives a 400 BadRequest no exception in thrown:

[code]

[2017-06-26 18:18] hovsepm commented on #3411
@awesley did you consider to create a list of VM Creatables and then call Create on that list?
Manual polling is in the ToDo list for C# client runtime that we depend on. I should be also available in the future.

[2017-06-27 21:42] hovsepm commented on #3385
this should have been fixed in v 1.1.2. Please re-open as a new bug if it still repros

[2017-06-27 21:42] #3385 closed

[2017-06-27 22:08] hovsepm commented on #3277
@martinsawicki are you talking about this? https://github.com/Azure/azure-sdk-for-net/blob/Fluent/src/ResourceManagement/ResourceManager/Core/GroupableResources.cs#L101

[2017-06-27 22:13] hovsepm commented on #3408
fixed in version 1.1.3

[2017-06-27 22:13] #3408 closed

[2017-06-28 05:09] msngithub commented on #3293
if you have a simple map reduce project with this dll and last emulator version , please put your project and source code , or if you have a learning video please put your video link here
thank you

[2017-06-28 16:35] scovetta opened #3428 "Some Hyak.Common NuGet packages have incorrect projectUrl"
For some versions of the [Hyak.Common](https://www.nuget.org/packages/Hyak.Common/) NuGet package, the Project URL is listed as https://github.com/Azure/hyak-common, which 404's.

You can see the list by hitting the [NuGet JSON API](http://api.nuget.org/v3/registration1-gz/hyak.common/index.json).

[2017-06-28 18:24] abhi1509 opened #3429 "Microsoft.Azure.Management.Fluent Nuget is dependent on every other fluent package"
For .net 4.5.2 _Microsoft.Azure.Management.Fluent_ is dependent on all of these nuget.
**Is it really required?** i have no use of for eg: doc db, or sql in my project, why should I need to install those in my project. I do need to get Microsoft.Azure.Management.Fluent because IAzure comes from it.

[code]

[2017-06-28 18:56] hovsepm commented on #3429
@abhi1509 IAzure and the Microsoft.Azure.Management.Fluent  package is roll-up nuget package. You can still reference a single package e.g. Microsoft.Azure.Management.DocumentDB.Fluent and create only that manager instance. You can browse code of roll-up package here - https://github.com/Azure/azure-sdk-for-net/blob/Fluent/src/ResourceManagement/Azure.Fluent/Azure.cs
By design.

[2017-06-28 18:56] #3429 closed

[2017-06-28 18:59] hovsepm commented on #3373
Fixed for .Net 452 in Fluent v1.1.3

[2017-06-28 18:59] #3373 closed

[2017-06-28 19:24] abhi1509 commented on #3429
Thanks. So if I am only using Microsoft.Azure.Management.ResourceManager.Fluent where do I get the IAzure instance as used in the sample all over? Or else what should I use?

[2017-06-29 12:31] awesley commented on #3411
I have retry logic wrapping each VM creation request, so I prefer to have them as individual data structures.  That is a good suggestion though.  Thanks for the feedback!

[2017-06-29 12:36] awesley opened #3433 "Fluent - having trouble understanding "Changing property 'computerName' is not allowed.""
Hiya,

I am creating VMs from a stored Image like below.  Every now and again, my requests fail with the exception (a complete stack is provided below the code snippet).  Due to the inconsistency of this, I am struggling to understand the problem.  As you can see I certainly am defining a name for my VM and this seems to work a majority of the time.

I would appreciate any additional insight into

[2017-06-29 16:14] anuchandy commented on #3433
Resource name (vm name) and computer name are two different properties of the VM resource. When you call CreateAsync a random computer name will be generated for the VM.

Are you trying to call CreateAsync with a vm-name when there is already a vm exists with the same name in the same resource group? If so this is expected because underneath we do a PUT and if resource already exists azure conside

[2017-06-29 16:19] awesley commented on #3433
That is in fact what was happening.  I have a class responsible for naming these VMs (they are rapidly created, used, and torn down in our application) and the convention for naming was creating collisions.

Thank you!

[2017-06-29 16:19] #3433 closed

[2017-06-30 18:40] shahabhijeet commented on #3358
@SeanFeldman thank you for reporting this.
@sazeesha can you please respond if there anyway Rules can be provided during update

[2017-06-30 18:41] #3360 closed

[2017-06-30 18:42] shahabhijeet commented on #3360
@vinayada1 please provide detailed repro as to what is broken and open this issue.

[2017-06-30 18:46] shahabhijeet commented on #3428
@scovetta thanks for the feedback. Please let us know which versions you got 404.

[2017-06-30 18:51] shahabhijeet opened #3438 "Move all SDKs to .NET Core 2.0"
Currently Azure SDK for .NET target to .NET 4.5.2 and .NET Standard 1.4
There are requests to target to .NET Core 2.0

Include: releasing nugets that are not released.

Cost: 6

[2017-06-30 18:52] shahabhijeet commented on #3333
@natemcmaster we have another [issue ](https://github.com/Azure/azure-sdk-for-net/issues/3438)tracking this move.
We need to plan this and will keep you updated.

[2017-06-30 23:20] jaredmoo opened #3439 "Minimum async polling interval"
In Microsoft.Sql RP we noticed a bug in our service where we aren't setting Retry-After header in AzureAsyncOperation responses. This is causing the SDK to poll very quickly, i.e. multiple times per second. We are fixing this in the service, but it would also be wise if SDK polling code had a minimum polling interval, e.g. 1-5 seconds, in order to avoid hammering services that have such bug.

[2017-07-01 11:07] NhanNTWPV opened #3441 "Azure Search .NET SDK throws InvalidOperationException with SerializationBinder"
An exception thrown when entering operations with index (Exists, Create, Delete...). Encountered with .NET Core SDK 1.0.4 on Mac OSX 10.12.4

[code]

[2017-07-03 17:38] hovsepm commented on #3441
@NhanNTWPV please add a reference to the latest available [Microsoft.Rest.ClientRuntime.Azure](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure) in your project.

[2017-07-03 19:45] brjohnstmsft commented on #3441
Possibly related: https://github.com/Azure/azure-sdk-for-net/issues/2552

@NhanNTWPV Can you confirm which versions of the following NuGet packages you are using in your project?

  - Microsoft.Rest.ClientRuntime.Azure
  - Newtonsoft.Json

[2017-07-03 21:31] NhanNTWPV commented on #3441
Confirm working with Microsoft.Rest.ClientRuntime.Azure 3.3.8 & Newtonsoft.Json 10.0.2. Can you make them default dependencies?

[2017-07-03 22:05] brjohnstmsft commented on #3441
@NhanNTWPV Thanks for the confirmation. We're working on it. I'll keep this issue open to track this work.

[2017-07-03 22:50] scovetta commented on #3428
Looks like 1.0.0 through 1.1.0, inclusive:

[code]

[2017-07-04 10:18] j055 opened #3443 "DNS CName recordset does not allow setting metadata"
Also why do we allow adding tags when Azure DNS doesn't support tags on DNS record sets?

[code]

[2017-07-04 13:50] carloscds commented on #3238
@glaidler I have same problem in Windows Form application, and using Thread works for me!

[2017-07-05 03:06] pppchris opened #3444 "GetByResourceGroupAsync - VirtualMachineScaleSets Fluent API"
var VMSS = await Repo.VirtualMachineScaleSets.GetByResourceGroupAsync(resourceGroup, id);
var VMSS = await Repo.VirtualMachineScaleSets.ListByResourceGroupAsync( resourceGroup );

The api-version '2016-04-30-preview' is invalid. The supported versions are '2017-06-01,2017-05-10,2017-05-01,2017-03-01,2016-09-01,2016-07-01,2016-06-01,2016-02-01,2015-11-01,2015-01-01,2014-04-01-preview,2014-04-01,201

[2017-07-05 05:07] pppchris commented on #3444
OK, worked out the issue. If you send through an invalid resourceGroup Name (I was sending through the resource id for the resource group), it throws the error above.

Should this be handled by a better exception?

[2017-07-05 14:23] megancooper opened #3445 "Azure WebJob Not Running"
I am trying to run an Azure WebJob locally in Visual Studio and I haven't found any documentation to help me do this? I think I have most of my code set up properly. All I want to do is run the method runWebJob() from main continuously, but when I start the application it is never called. Here is my code in Program.cs

[code]

Here are the connection strings I am using since I am testing this loca

[2017-07-05 16:55] anuchandy commented on #3444
Is the id in the correct arm resource id format? we can check this, if you share the invalid resource id you have used.

[2017-07-05 17:07] anuchandy commented on #3443
We have addressed this limitation recently in the DNS implementation, see https://github.com/Azure/azure-sdk-for-java/pull/1758. This will be available in .net sdk in the upcoming release (scheduled for August)

The experience looks like:

[code]

[2017-07-05 17:57] shahabhijeet opened #3446 "Microsoft.​Azure.​Management.​Service​Bus documentation is still at 0.1.0-preview"
@SeanFeldman reported in AutoRest branch
https://github.com/Azure/autorest/issues/2413

Creating this issue to be tracked in the right repo.
Docs are not updated and use 0.1.0-preview version.
https://docs.microsoft.com/en-us/dotnet/api/Microsoft.Azure.Management.ServiceBus

[2017-07-05 20:47] shahabhijeet opened #3447 "Poll using Retry-After retruned by Async Operation"
Currently LRO are being polled by a default timeout set by the client.
If any RP returns Retry-After value in the Async Header, CR should honor it and poll it accordingly.
https://github.com/Azure/azure-sdk-for-net/issues/3439

Cost: 6

[2017-07-05 20:48] shahabhijeet commented on #3439
@jaredmoo we are getting this ask from multiple RPs.
I have created an issue to track this, as this will require us to co-ordinate all Runtime (if we decide to support this feature, ideally should be part of all SDKs .NET, Java etc.)
https://github.com/Azure/azure-sdk-for-net/issues/3447

[2017-07-05 21:20] mjrousos opened #3448 "IVirtualMachineScaleSet.Capacity and IWithCapacity.WithCapacity type mismatch (long/int)"
There's a mismatch between the data type for VMSS capacity returned by `Microsoft.Azure.Management.Compute.Fluent.IVirtualMachineScaleSet.Capacity` (long) and the type accepted by `Microsoft.Azure.Management.Compute.Fluent.VirtualMachineScaleSet.Update.IWithCapacity.WithCapacity` (int) even though conceptually these are the same piece of data and it's reasonable for customers to round-trip data be

[2017-07-05 23:20] twitchax commented on #3446
Here is the link to the nuget package: https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceBus/.

[2017-07-05 23:33] SeanFeldman commented on #3446
Ironically, the nuget page is the one that leads to Azure/autorest...

[2017-07-06 00:00] pablocastro opened #3451 "Search SDK: Custom HttpClientHandler not called on Search requests"
Using the SearchServiceClient that takes a HttpClientHandler overload, the client will invoke the handler for index management operations and for indexing operations, but not for search operations.

SDK version 3.0.4, with Microsoft.Rest.ClientRuntime 2.3.7 and Microsoft.Rest.ClientRuntime.Azure 3.3.6.

[2017-07-06 00:00] DeepakRajendranMsft opened #3452 "Add tests for GET VMSS NIC apis"
Add tests for GET VMSS NIC apis

[2017-07-06 18:34] hovsepm commented on #3411
@awesley We are looking for the ways to notify caller about resources that failed and succeed after Creatables.Create call.

[2017-07-06 19:26] anuchandy commented on #3448
@mjrousos thanks for catching this. Will fix it. Originally in the api spec, this field is a Long but agree with you, capacity doesn't need range of a long.

[2017-07-06 20:25] DeepakRajendranMsft opened #3456 "Add tests for ipv6 express route"

[2017-07-06 22:41] markcowl opened #3458 "Fix symbol publishing for Nuget packages using NetCoreSDK-Publish job"
Symbol package publishing is failing with a 409 conflict, because it is attempting to push the symbols package to nuget.org.  This may be a change in the Nuget API, or a change in how we are calling Nuget.  Need to investigate the root cause, but the comments at the bottom of this article:  https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages suggest that Nuget may now require us

[2017-07-07 16:42] awesley commented on #3411
My use case is to prepare a custom image which contains a self-announcing
service and request new VMs using that image.

Assuming that my request can be validated and that Azure returns the IDs of
all relevant resources (things created modified or otherwise used)

This ties back to polling as then I can long-poll those resource IDs as
needed (or some more sophisticated bi directional communication

[2017-07-07 17:30] phawrylak opened #3460 "403 Forbidden when connecting to Azure Storage with Application Insights Web Tracking HTTP Module"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
Connection to Azure Storage should be possible when Application Insights Web Tracking HTTP Module is enabled.

#### Observed Behavior
Connecting to Azure Storage with Application Insights Web Tracking HTTP Module enabled ends with 403 Forbidden error: "The MAC signature found in the H

[2017-07-07 22:27] anuchandy commented on #3211
@awesley @martinsawicki sorry for the delay.

One issue with implementing this is: There can be different storage accounts associated with a virtual machine through it's child entities, i.e. you can have different storage accounts for OS Disk entity, data disk entities, boot diagnostics entity etc..

If you are really looking for the storage account associated with the OS Disk then it's **name** c

[2017-07-07 22:35] hamish-tushar opened #3463 "403 ForbiddenError when creating JobCollection"
The api call for job collection creation is failing.

var jobCollectionCreateResponse = schedulerMgmtClient.JobCollections.Create(cloudServiceName, jobCollectionLabel, jobCollectionCreateParameters); is failing with

<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">
<Code>ForbiddenError</Code>
<Message>The resource is blocked to recie

[2017-07-09 01:02] anuchandy commented on #3398
@pppchris thank you!. Submitted [fix](https://github.com/anuchandy/azure-sdk-for-net/commit/a8b6bca7e14f520983be0b3d0eda29421d96f792) for this issue.

[2017-07-09 01:06] anuchandy commented on #3448
This [PR](https://github.com/Azure/azure-sdk-for-net/pull/3465) includes fix for this.

[2017-07-09 19:16] 1TheMuffinMan opened #3466 "Where is the documentation for this?"
**Edit**: Can you help me find updated documentation for the lastest version of the Azure Scheduler SDK? The code sample library is a start, but the little documentation available is outdated. Please see https://github.com/Azure-Samples/scheduler-dotnet-getting-started/issues/1

[2017-07-10 02:56] SeanFeldman commented on #3358
Any updates on this one? Thank you.

[2017-07-10 06:37] SeanFeldman commented on #3358
I see there's a way to do it using `ServiceBusManagementClient.Rules.CreateOrUpdateAsync()`

[2017-07-10 06:46] SeanFeldman opened #3467 "ServiceBus feedback"
I've updated to the latest version (1.0.0) and noticed the following:

1. All Create/Update parameter classed are prefixed with `SB`. Except `Rule`.
1. When creating namespace, `SBNamespace` takes a `Sku` which has a `Name` and a `Tier`. This seems to be redundant, as it's the same thing: basic, standard, or premium. Why the two properties are needed?

[2017-07-10 17:39] matt1883 opened #3468 "[Data Lake Store] Empty folders should be included in recursive upload/download"
When performing a recursive upload or download, empty folders that exist in the source should be created in the destination.

Current behavior (in the upload functionality, at least) is that empty folders are ignored.

Repro using Microsoft.Azure.Management.DataLake.Store v2.2.0:
* Create a local folder with the following structure:
[code]

* Upload myData to ADLS using the following .NET code:

[

[2017-07-10 18:06] LukaszSzulc opened #3469 "Fluent API Deadlocks"
In Console Application everything work's well

             IVirtualMachine vm = await azure.VirtualMachines.GetByResourceGroupAsync("*", "*");

             PowerState powerState = vm.PowerState;

             string ip = vm.GetPrimaryPublicIPAddress().IPAddress;`

but in Web Application I must wrap getting PowerState and IP inside new Task

`

            IVirtualMachine vm = await azure.Virtual

[2017-07-10 19:43] abhi1509 opened #3470 "Why is ProvisioningState in IDeployment not an Enum"
Currently ProvisioningState is a string. From sample code I figured that possible values are:
"Succeeded", "Failed", "Canceled".

Why is this not an enum?

[2017-07-10 20:07] anuchandy commented on #3469
We need to implement `IVirtualMachine.GetPrimaryPublicIPAddressAsync()`.

For PowerState, can you try

[code]

[2017-07-11 07:46] NicolaiPetri opened #3474 "Error listing AppService certificates using fluent api"
When fetching the list of certificates for specific subscription I'll get the following exception:
"Unable to deserialize the response."
 Microsoft.Rest.SerializationException

The code that fails is
`var certificates = azure.AppServices.AppServiceCertificates.List();`

The full exception is here :

[code]

I can on request provide the failing and valid json response in a private message.

[2017-07-11 18:11] hovsepm commented on #3470
@abhi1509 ProvisioningState is not a finite list of three values. Each service team may have their additional statuses that they want to provide to caller - e.g. Restarting,

[2017-07-11 18:12] hovsepm commented on #3474
@NicolaiPetri Which version of the nuget package are you using?

[2017-07-11 18:13] sergey-shandar opened #3476 "Create a Jenknins-CI for C# code generation."
See this [PR](https://github.com/Azure/azure-sdk-for-net/pull/3435) for more information.

[2017-07-11 18:13] anuchandy commented on #3467
These changes are coming from the swagger api spec. tagging @arundsouza [From service team] to comment.

[2017-07-11 18:43] abhi1509 commented on #3470
shouldn't then each service team have a version of it?
eg: https://msdn.microsoft.com/en-us/library/azure/microsoft.azure.management.resources.models.provisioningstate_members.aspx
How is a consumer to know what are valid values?

[2017-07-11 21:43] olydis opened #3477 "TokenCredentials don't seem to work"
@shahabhijeet, see
https://github.com/Azure/autorest/issues/2428
https://stackoverflow.com/questions/45038533/using-an-autorest-c-sharp-client-to-access-a-web-api-with-a-bearer-token-token

[2017-07-11 22:06] stefanvalianu opened #3478 "ClientServerCredential equivalent for simple apiKey authentication?"
Is there support for swagger's concept of apiKey auth? The premise is simple; include an apiKey in a named parameter either as a header or a query parameter. Incidentally, this is our team's primary form of providing clients with auth (as opposed to oauth or basic auth).

Usage is very straight forward, adding this form of authentication to a request either requires adding a url parameter (&authen

[2017-07-12 01:53] anuchandy opened #3481 "DNS fluent refresh work items"
Following features are requested from service team (Same for java fluent as well):

| Issue | Resolution |
| --- | --- |
| The ability to set the TTL of a CNAME record set | Will create ‘define’ and ‘update’ flows for CNAME similar to creating A records, include support for WithTimeToLive(n) |
| The ability to enumerate all record sets in a zone independent of record type (enumeration of specific

[2017-07-12 11:07] NicolaiPetri commented on #3474
Hi,
I tested this with both version 1.0.0 and latest 1.1.3 and it's the same problem.
I did a workaround in by code where I loop thru all resource groups and list certificates per group. This works without problems - so it's not a problem with a specific certificate in the subscription.
I have a theory that this happens when the rest api can't return all certificates in a single response and then

[2017-07-12 14:03] bkwdesign commented on #3477
One note: IDK how important the `autorest --reset` command is.. since I'm a newbie and this is a fresh installation on my machine, I presume my omission of this command is not the culprit of this issue.

[2017-07-12 16:46] shahabhijeet commented on #3470
@abhi1509 are you getting provisioning state anything different from what you see in here? Please do let us know.
https://msdn.microsoft.com/en-us/library/azure/microsoft.azure.management.resources.models.provisioningstate_members.aspx

Regarding not making it an enum, that is a good suggestion. I agree that would be definitely easy from discoverability point of view.
But due to distributed and fl

[2017-07-12 16:46] #3470 closed

[2017-07-12 17:07] shahabhijeet commented on #3466
@1TheMuffinMan there are N number of services in Azure.
Could you help us and be specific as to what service .NET SDK are you referring about?

[2017-07-12 17:11] shahabhijeet commented on #3463
@pinwang81 could you take a look at this please.

[2017-07-12 17:15] shahabhijeet commented on #3466
@1TheMuffinMan ignore what I said, found the service.

[2017-07-12 17:17] 1TheMuffinMan commented on #3466
@shahabhijeet Looks like I forgot to update this question. The issue I'm experiencing here is for the older Azure Scheduler .NET SDK, so I've moved on to trying to get the new version working. Here's the updated question:

https://github.com/Azure-Samples/scheduler-dotnet-getting-started/issues/1

[2017-07-12 18:21] shahabhijeet commented on #3215
This work will benefit from the below issue
https://github.com/Azure/autorest/issues/2434

[2017-07-12 18:42] shahabhijeet commented on #3274
The work has been done.
Need to write test that will test against Graph Token.
Management Token has been tested and tests are in place.

[2017-07-12 18:46] dend commented on #3466
@shahabhijeet what is the Azure Scheduler NuGet package that we can use to generate the documentation?

[2017-07-12 18:54] 1TheMuffinMan commented on #3466
@dend Here you go https://www.nuget.org/packages/Microsoft.Azure.Management.Scheduler

[2017-07-12 19:15] 1TheMuffinMan commented on #3466
Specifically, the unknown area is configuring authentication when initializing the `SchedulerManagementClient`.  https://github.com/Azure-Samples/scheduler-dotnet-getting-started/blob/master/SchedulerArmSDKTemplate/Program.cs#L25

There are two ways to authenticate:
1. Using a token (this is documented, but the documentation is old and doesn't reflect the most current Azure Portal UI https://githu

[2017-07-12 19:29] dend commented on #3466
@1TheMuffinMan thanks for the feedback, it will be relatively straightforward to onboard the new package to the docs site.

@shahabhijeet can you confirm that the above makes sense? If it does, then we should proceed with the onboarding.

[2017-07-12 20:40] sergey-shandar opened #3483 "SDK info should be updated to use new MarkDown files from specs repo"
SDK info should be updated to use new MarkDown files from [specs repo](https://github.com/Azure/azure-rest-api-specs).
1. Update sdkinfo.json to reference to new files.
2. Make sure sdkinfo PS scripts can work with new markdown files.

[2017-07-12 21:20] sergey-shandar commented on #3483
https://github.com/Azure/azure-storage-php

[2017-07-12 21:43] Sumanan commented on #3463
Hi Hamish-tushar,
Could you please provide us with your subscription id?

Thanks,
Sumanan Jeya

[2017-07-12 22:08] hamish-tushar commented on #3463
ddb35fb8-331c-4de2-b509-197eeda1996b

[2017-07-13 09:48] vasilispantelisswo opened #3485 "Active directory dependency"
When I try to get an Azure tenant's subscriptions through the fluent library I get this exception:

[code]

As far as I can tell the problem is the major version difference between the dependency of my project of the Microsoft.IdentityModel.Clients.ActiveDirectory package and this library's dependency (at this time 2.28.3). As it is hard to downgrade my dependency I have to ask if there are any pl

[2017-07-13 18:23] hovsepm commented on #3485
@vasilispantelisswo what is your target framework? .Net Core or .Net 4.5.2? Could you also post here the sample code for a repro?

[2017-07-13 18:25] hovsepm commented on #3485
@vasilispantelisswo could you try to add explicated reference to nuget package [Microsoft.Rest.ClientRuntime.Azure.Authentication v 2.3.0](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure.Authentication/2.3.0)?

[2017-07-13 21:59] navimondo opened #3487 "The request content was invalid and could not be deserialized"
This Azure PS script was working before (don't know exact PS module version) but now it is broken with the latest Azure RM module :
**Script**
[code]
**Error**
------------------------
New-AzureRmDisk : The request content was invalid and could not be deserialized: 'Could not find member 'AccountType' on object of type 'ResourceDefinition'. Path 'AccountType', line 2, position 17.'.
ErrorCode: Inv

[2017-07-13 22:31] hovsepm commented on #3487
@navimondo please reopen this issue in the [azure-powershell repo](https://github.com/Azure/azure-powershell)

[2017-07-13 22:31] #3487 closed

[2017-07-14 09:18] vasilispantelisswo commented on #3485
@hovsepm I'm targeting .Net 4.6. I tried explicit package reference but it's the same result. You can create a sample app with latest stable Microsoft.Azure.Management.Fluent package (1.1.3) and Microsoft.IdentityModel.Client.ActiveDirectory v3.13.8 and use this piece of code:

[code]

It should fail with the aforementioned exception.

[2017-07-14 17:56] shahabhijeet commented on #3478
@stefanvalianu we have not got any such request so far, plus all azure services uses oAuth/oAuth2
So we will have to discuss this in our next planning to add support for it.
In the mean time, have you considered adding customization to your generated client that accepts APIKey?
Have you explored that option to add functionality that will allow your client to accept ApiKey.

[2017-07-14 18:06] shahabhijeet commented on #3477
@bkwdesign can you confirm if your Tenant behind 2FA?
Also could you try providing UserIdentifier.Any instead of initializing UserIdentity object.

[2017-07-14 18:30] cormacpayne commented on #3460
@blueww Hey Wei, would you mind taking a look at this issue?

[2017-07-14 18:38] cormacpayne commented on #3445
@aspaan Hey Aspaan, would you mind taking a look at this issue?

[2017-07-14 20:01] hovsepm commented on #3485
Ok. So for .Net 4.6 we do not support ADAL v 3.13.8. Instead we have a hard dependency on ADAL v 2.28.x through referenced Microsoft.Rest.ClientRuntime.Azure.Authentication library.
Currently you can have two ways to overcome this issue:
1. Downgrade ADAL nuget package dependency to v.2.28.LATEST
2. Upgrade your project to .Net Core netstandard1.3 or higher.

[2017-07-14 20:41] shahabhijeet opened #3490 "Register Providers if request fails with Unregistered provider exceptions"
Currently for new subscriptions as well as subscriptions that have manually unregistered to RPs
.NET SDK should catch unregistered RP exceptions and then try to register the provider internally.

Cost: 8

[2017-07-14 23:19] abhi1509 commented on #3470
How is one supposed to know what the right values are across different
teams? Documentation is not discoverable.
Even at
https://msdn.microsoft.com/en-us/library/azure/microsoft.azure.management.resources.models.provisioningstate_members.aspx
it doesn't describe much.

On Wed, Jul 12, 2017 at 9:47 AM, Abhijeet <notifications@github.com> wrote:

[2017-07-14 23:53] abhi1509 commented on #3470
Something like what Network team did would be really helpful-

using Microsoft.Azure.Management.ResourceManager.Fluent.Core;

namespace Microsoft.Azure.Management.Network.Fluent.Models
{
  public class ProvisioningState : ExpandableStringEnum<ProvisioningState>
  {
    public static readonly ProvisioningState Succeeded =
ExpandableStringEnum<ProvisioningState>.Parse("Succeeded");
    public static

[2017-07-16 00:19] phawrylak commented on #3460
To clarify, the problem wasn't related to real Azure Storage, but to Azure Storage Emulator. It was fixed in newest Microsoft.ApplicationInsights.Web NuGet package by adding `localhost` and `127.0.0.1` to `ExcludeComponentCorrelationHttpHeadersOnDomains` in ApplicationInsights.config template. Therefore I close this issue.

[2017-07-16 00:19] #3460 closed

[2017-07-17 11:29] bkwdesign commented on #3477
@shahabhijeet - I'm new to Azure and have not yet tried to set up multi-factor authentication

[2017-07-17 11:32] vasilispantelisswo commented on #3485
OK. I wonder why NuGet did not notify that there is a hard dependency and instead went for the minimum required version of 3.13.* that was in my project, but that question is for another project, not this.

For now I will go with the 3rd option of actually implementing the required REST calls myself and remove the reference to the Fluent library.

[2017-07-17 12:25] bkwdesign commented on #3477
I just re-ran my autorest command, but, this time it seems to have included the appropriate code that was missing before...

![autorest_attempt2](https://user-images.githubusercontent.com/3177513/28267654-01b38382-6ac9-11e7-86d3-bb7509e1f580.png)

I did not change anything on my machine, this is clearly user error, however.. I either:

 - perhaps ran the original command with the older `--AddCrede

[2017-07-17 17:21] dnayantara opened #3492 "Remove hard coded regions from Sql tests"
This change is to remove the hard coded regions in Sql tests and allow the region to be specified by the connection string instead. Reference - https://github.com/Azure/azure-powershell/blob/preview/documentation/Using-Azure-TestFramework.md#environment--custom
This was found in the PR - https://github.com/Azure/azure-sdk-for-net/pull/3488

[2017-07-17 17:36] #3485 closed

[2017-07-18 08:46] brijeshb commented on #3238
WithDefaultSubscription() was the point of failure (deadlock / non-responsiveness) for me, i got around it, by momentarily running that on a different thread pool thread.

[code]

followed by using async methods wherever possible such as
`
var accounts = await azure.StorageAccounts.ListAsync();
`
This almost feels like the common deadlock bug that i fixed resolved recently with occurs when one mix

[2017-07-18 12:13] phatcher opened #3494 "Scaling AppServicePlan using storage queue length"
We get data uploaded for processing which we then schedule for execution in a webjob via putting a message into a storage account queue.  What I need to be able to do is spin up more instances of the App Service Plan if the queue length is such that it will breach our SLA for processing all the items

There doesn't seem to be a way of scaling using a custom metric so I presume the way forward is t

[2017-07-18 18:23] hamish-tushar commented on #3463
Any updates on this?

[2017-07-18 22:23] stefanvalianu commented on #3478
Yup, that's exactly the approach I took, just implemented my own ServiceClientCredentials for apiKey. Just saying, to make the autorest library useful for scenarios beyond azure, this would be a helpful feature to have out-of-the-box (and the code is very simple).

[2017-07-18 22:43] #3388 closed

[2017-07-19 17:43] hamish-tushar commented on #3463
hei guys, can we know whats going on. WE have a prod system thats waiting on this.

[2017-07-19 18:46] abhi1509 commented on #3238
hitting the same issue in ResourceGroups.CheckExistence(resourceGroupName)

[2017-07-19 23:25] hovsepm commented on #3238
Could anyone share a github ASP.NET project that has the repro steps for this issue? I'm unable to repro on ASP.NET .Net Core App 1.1 project. Following snippet just works fine.
[code]

[2017-07-19 23:34] hovsepm commented on #2541
Duplicate of https://github.com/Azure/azure-sdk-for-net/issues/3238

[2017-07-19 23:34] #2541 closed

[2017-07-19 23:35] brijeshb commented on #3238
Please try the same on a traditional ASP.NET app, not a .Net Core app, .Net Core, removed synchronization contexts and that is potentially the reason you're not seeing this repro there.

[2017-07-19 23:46] hovsepm commented on #3238
Thanks @brijeshb . Got repro on
[code]
but still no repro for
[code]

[2017-07-20 02:13] abhi1509 commented on #3238
@hovsepm  this is also broken:
`azure.ResourceGroups.CheckExistence(resourceGroupName));`

[2017-07-20 07:17] HeroSpha opened #3500 "Long running operation failed with status 'Failed'."
I'm developing an aop where by i need to copy database from server to another. i can get database successful but i cant create it on another server. i receive an error *Long running operation failed with status 'Failed'* The error points out that it comes from Microsoft.Rest.RuntimeClient.Azure.
Any help will be appreciated..

[2017-07-20 07:46] HeroSpha commented on #3500
I did figure it out, i did set my Edtion of Database to Standard whereby my pool is Basic.. The error is so vague though.

[2017-07-20 17:34] hovsepm commented on #3238
@abhi1509 Thanks for pointing out that one as well.

[2017-07-20 17:46] hovsepm commented on #3238
@abhi1509 - FYI, just verified. CheckExistence hangs while CheckExistenceAsync works fine. here is the code:
[code]
The issue is blocking Create scenarios where we create each dependent resource in parallel.

[2017-07-21 00:22] #3154 closed

[2017-07-22 23:12] HeroSpha opened #3505 "Could not load file or assembly 'Microsoft.Rest.ClientRuntime.Azure"
I have a backend app (api app) that interacts with the database, it copy and creates database. When i use swagger to test my backend it works without any problem. But the error appears when i use my web app client(Asp.net core). When i try to perform the same action, it fails to create database. I searched all my apps for the reference to the version of the runtime mentioned, i could not find it.

[2017-07-23 19:41] sturlath opened #3506 "Can´t publish .net core to azure"
We have a .net core api app (created in VS15 but ported to VS17).

After we ported it we managed to publish the app to azure just fine.

But when we tried again last week we just **can´t publish the app**.

![image](https://user-images.githubusercontent.com/2386572/28502210-ed8e41da-6fdc-11e7-8b15-db176d455c26.png)

But there is **just one** error and it tells us nothing. We have search for soluti

[2017-07-23 20:50] HeroSpha opened #3507 "Microsoft.Azure.Management.Fluent (Get database not working)"
I have a web api that uses Microsoft.Azure.Management.Fluent to copy database from Azure.
When i use console app it works fine, but on my Web api all the async methods works fine bt the Get method in databases doesnt work. The program just keeps loading there. No error is displayed

[2017-07-23 21:03] abhi1509 commented on #3507
This might be related:

@hovsepm pushed 2 commits.

343580f Removed Sync method from the AutoRest generated code.
900b0dd Fixed the rest of sync over async calls and ContinueWith pattern

[2017-07-23 21:11] HeroSpha commented on #3507
I don't have AutoRest generated code..
Here is my code
`var catalogServer = await  azure.SqlServers.GetByResourceGroupAsync(catalogConfig.ResourceGroup, "servername");
                var tenantdb = await catalogServer.Databases.Get("basetenantdb").RefreshAsync();
                var tenantServer = await  azure.SqlServers.GetByResourceGroupAsync(catalogConfig.ResourceGroup, "tenantservername");

[2017-07-23 21:15] HeroSpha commented on #3507
When i deploy it online i get error Could not load file or assembly 'Microsoft.Rest.ClientRuntime, Version=2.0.0.0

[2017-07-23 21:53] sturlath commented on #3506
One more thing I can think of is that in this solution we have 2 api service project sharing common project functions. Could that explain anything?

[2017-07-24 07:54] kierenj opened #3508 "Service Bus: want to manage topics and subscriptions via connection string"
I'm trying to use Azure Service Bus pub/sub from .NET Core, by upgrading my net451 wrapper library to netstandard13/16.

On guidance from https://github.com/azure/azure-service-bus-dotnet, I'm looking at `Microsoft.Azure.Management.ServiceBus`.

Previously, I could do this:

[code]

Now, it looks like I have `Microsoft.Azure.Management.ServiceBus.ServiceBusManagementClient.Topics.Get`, which immed

[2017-07-24 13:04] glaidler opened #3509 "Can't attach CustomDomain to a web app"
Hi,

The following code won't attach a correctly set up DNS set to an existing web app:

[code]

I have A Record pointing to the web app IP Address and a TXT record:

tenant.myapp.com > myapp.azurewebsites.net

What am I doing wrong?

[2017-07-24 13:59] glaidler commented on #3509
Ok - this looks like it doesn't like the subdomain to have underscores.

[2017-07-24 18:30] hovsepm commented on #3505
@HeroSpha Which Azure SDK Library are you using?

[2017-07-24 20:17] hovsepm commented on #3506
@sturlath please reopen this issue in https://github.com/dotnet/core repo.

[2017-07-24 20:17] #3506 closed

[2017-07-24 20:21] hovsepm commented on #3507
@HeroSpha we base Fluent SDK on top of AutoRest generated code. We have a known bug https://github.com/Azure/azure-sdk-for-net/issues/3238 for ASP.Net targeting .Net 4.5.2 blocking calls for sync operations. Please use a separate thread for now in fluent calls (check the issue thread above) until we will ship a fix.
Regarding ClientRuntime exceptions - could you share your project nuget package re

[2017-07-24 21:50] sturlath commented on #3506
Thanks. Its done https://github.com/dotnet/core/issues/768

[2017-07-24 22:05] HeroSpha commented on #3507
I have fixed issues by wrapping the synchronous method get with async method in Task like
`await Task.Run(async() =>
{
   var db = sqlServer.Databases.Get("dbName");
})`

[2017-07-24 22:05] #3507 closed

[2017-07-24 22:07] HeroSpha commented on #3505
I have fixed the issue, i realised my backend was referencing the Runtime version 3.8.8 which is already referenced in the common project..

[2017-07-24 22:07] #3505 closed

[2017-07-24 22:16] HeroSpha opened #3511 "Copy database from one server to another and rename it"
#Im developing a SaaS application that uses tenant per database. So whenever i provision for a new client, i have to create a new database. Im using Microsoft.Azure.Management.Fluent latest version.
For now i can copy database from one server and able to get properties and use it to create a new database. The problem im having, the schema of database (Tables) is not copied. I tried to use WithSour

[2017-07-26 20:34] xt0rted commented on #2100
Just ran into this issue. Was hoping to land on this repo so I could look at the source, instead I was sent to a page that no longer exists.

The link in question came from [Microsoft.WindowsAzure.ConfigurationManager.nuspec#L10](https://github.com/Azure/azure-sdk-for-net/blob/7a44e44a5ec45cc2ee822b927cd91aa705e18549/src/Common/Configuration/Microsoft.WindowsAzure.ConfigurationManager.nuspec#L10)

[2017-07-27 07:04] joaocc opened #3516 "Any plans to make Azure SDK for .Net available for Unity on Hololens?"
Hi,
Are there any plans to make the Azure SDK for .Net available for Unity UWP, similar to what AWS has (AWS (https://github.com/aws/aws-sdk-unity)?
For some context, pls see see https://github.com/Azure/azure-service-bus-dotnet/issues/234.
Thanks

[2017-07-27 12:20] joaocc commented on #3516
Some points which will need to be addressed:
* threading: Unity relies on it's own implementation of coroutines
* web clients: Unity uses the UnityWebRequest class instead of C# classes
* Crypto: System.Security.Cryptography.HMAC256 is not available when building for Hololens/UWP; we had to use System.Security.Cryptography.HashAlgorithm.Create("SHA-256") to make it work, which is how it seems AWS

[2017-07-27 19:03] shahabhijeet opened #3518 ".NET SDK Nuget symbols are failing to publish"
.NET SDK symbols are failing to publish.
Seems the symbol publishing now needs API key to publish to nuget.org

[2017-07-27 21:26] simonporter opened #3521 "KeyVault fails on .Net Framework 4.7"
Code that works on .Net Framework 4.61 fails on .Net Framework 4.7

To Repro:

packages:
Microsoft.Extensions.Configuration.1.1.2
Microsoft.Extensions.Configuration.AzureKeyVault.1.0.2

[code]

Simplified exception stacktrace
[code]

[2017-07-27 21:53] hovsepm commented on #3238
Fixed. Will be available in next release.

[2017-07-28 00:35] jialinjun commented on #3238
@hovsepm
That is a good news. But could you give us an expectation of the release date ?

[2017-07-28 16:48] olydis commented on #3477
Glad it's resolved! 🙂 I'll close, please let us know if you hit further issues.

[2017-07-28 16:48] #3477 closed

[2017-07-28 17:24] hovsepm commented on #3238
@jialinjun Planning to ship next release in the end of August.

[2017-07-28 18:29] cormacpayne commented on #3516
@twitchax Hey Aaron, can you take a look at this issue?

[2017-07-28 18:35] cormacpayne commented on #3494
@phatcher Hey Paul, thanks for the feedback. Here is the corresponding call in SDK for .NET: https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/WebSites/Management.Websites/Generated/AppServicePlansOperationsExtensions.cs#L202-L208

Forwarding to the App Service team to comment on your enhancement request: @aspaan

[2017-07-28 18:37] cormacpayne commented on #3492
@nathannfan any progress on this issue?

[2017-07-28 19:49] nathannfan commented on #3492
@cormacpayne the fix is coded and I've re-recorded all tests, but two areas are failing.

First area - vnetfirewallrules, is private preview and I can work with that team to get those recordings.

Second area - aad tests, is blocked on an issue around AAD that @jaredmoo  working on.  I think you're talking to him separately about this?

[2017-07-28 19:51] jaredmoo commented on #3492
AAD issue - there are some tests that rely on hardcoded AAD object id, I want to change these to use graph client to determine the current user's object id at runtime. Alternatively I can try injecting the object id in the same way that Nathan is injecting location.

[2017-07-28 20:19] twitchax commented on #3516
Hi @joaocc,

I'd like to to do some more investigation here.  What kind of Azure scenarios are you looking to implement using the Azure SDK?

[2017-07-28 21:08] serkantkaraca opened #3526 "Fix Microsoft.Azure.Management.EventHub Nuget Project Url"
The Microsoft.Azure.Management.EventHub Nuget package points to Azure/AutoRest as its project URL.

[2017-07-28 21:33] DimitriBerman commented on #3296
Any news about this ?

[2017-07-29 19:49] tugberkugurlu commented on #3469
I get the same when running `List` on `IDatabases` which you get by listing the SQL Servers on Azure. This happens under ASP.NET which has an ambient `SynchronizationContext`. I sense that somewhere it has been skipped to await on `ConfigureAwait(false)` and List calls an async method in a blocking way.

[2017-07-30 09:11] joaocc commented on #3516
Hi. We are trying to connect Hololens to Azure ServiceBus for a project on assembly in manufacturing. If you want more details I can provide offline. Thx

[2017-07-31 02:46] twitchax commented on #3516
Hi @joaocc,

I think you may need support in the [Azure Service Bus Client Library](https://github.com/Azure/azure-service-bus-dotnet): the libraries here only support management scenarios (i.e., listing, creating, deleting instances).  However, it would be interesting to know if you have a management scenario in HoloLens, as well.

[2017-07-31 13:22] joaocc commented on #3516
Hi. We opened an issue there too (https://github.com/Azure/azure-service-bus-dotnet/issues/234). At this moment, we don't really have a management scenario for Hololens. Thx!

[2017-07-31 13:22] #3516 closed

[2017-07-31 18:30] shahabhijeet commented on #3458
Fixed
https://github.com/Azure/azure-sdk-for-net/pull/3519

[2017-07-31 18:30] #3458 closed

[2017-07-31 18:31] shahabhijeet commented on #3145
This workItem has been put off for future.
Closing it for now.

[2017-07-31 18:31] #3145 closed

[2017-07-31 18:32] shahabhijeet commented on #3396
Fix PR
https://github.com/Azure/azure-sdk-for-net/pull/3529

[2017-07-31 18:32] #3396 closed

[2017-07-31 23:36] bruceyclee commented on #2947
@mredison , this bug has been fixed and the fix will get released with the next version of Azure SDK for Visual Studio 2015.

[2017-08-01 05:57] jaredmoo commented on #2250
Test improvement for hyak-based client not needed because we are moving forward with autorest-based client. When advisors api is added to autorest-based client, the test will need to be fully automated before I sign off.

[2017-08-01 05:57] #2250 closed

[2017-08-01 06:16] kierenj commented on #3508
I'm keen to proceed with some development work - would it be possible to triage this one but indicating whether what I'm after is possible?  If not, I can get cracking with a route other than .NET Core?  Thank you.

[2017-08-01 19:25] ritwikbasu opened #3536 "Remove hardcoded certs and settings from PS test code"
Remove hardcoded certs and settings from SDK test code for GatewayOperationsTests.

Remove hardcoded certificate strings and settings for GatewayOperationsTests - use connection string key value pairs to replace hardcoded values in GatewayOperations tests (as per documentation in https://github.com/Azure/azure-powershell/blob/preview/documentation/Using-Azure-TestFramework.md#5-change-test-environ

[2017-08-01 19:33] fredcicles commented on #3238
I am getting similar issue with azure.VirtualMachines.Sizes.ListByRegion(region).  I do not see an Async version of this method.

[2017-08-01 21:11] nathannfan commented on #3492
Pull request for this issue: https://github.com/Azure/azure-sdk-for-net/pull/3535

[2017-08-01 23:50] bgoldman69 commented on #3460
@phawrylak @cormacpayne   not sure how a workaround is being considered a fix.  Can resolving this remain an issue and can we expect it to be resolved in future versions?  I would hope so.

[2017-08-02 00:29] jaredmoo opened #3540 "Long-running operation failure gives vague error message"
When a long-running operation fails, the user gets an exception like this:

[code]

I can see that it was a failure in create or update SQL server, but in order to find out **why** I need to dig into the response body. The failure message should instead be right there in the exception message so the failure reason is very obvious.

[2017-08-02 01:54] jaredmoo commented on #3540
Duplicate of #3396

[2017-08-02 01:54] #3540 closed

[2017-08-02 16:51] johnstairs opened #3541 "Create DocumentDB never completes"
This code consistently hangs for me:

[code]

The Cosmos DB account actually gets created but the task never completes.

[2017-08-02 16:57] johnstairs opened #3542 "DocumentDB: WithBoundedStalenessConsistency() parameter mixup"
Consider this example:

[code]

When executed, the following exception is thrown:

The error is incorrect. Now if I swap the arguments:

[code]
It works, but I end up with a database account with a maxStalenessPrefix of 100, and maxIntervalInSeconds of 5.

[2017-08-02 17:42] hovsepm commented on #3238
@fredcicles Sync methods should also be fixed in the next release (shipping End Of Month)

[2017-08-03 02:46] nathannfan commented on #3492
@shahabhijeet @cormacpayne Hey guys, the pull request is ready for review - please have a look.  Thanks!

[2017-08-03 03:00] jaredmoo commented on #3492
Nice work Nathan! For the record, the AAD test recordability issue that I mentioned earlier was fixed with #3527 .

[2017-08-03 16:33] clairernovotny opened #3545 "Key Vault support for .NET RSA Crypto primitives"
Many applications in .NET need an `RSA` derived object for their crypto functions. Today, there is no built-in way of doing this with keys/certificates stored in Key Vault. I have written an implementation for this, but I believe it belongs in this SDK.

Key Vault does have its own crypto abstractions, but that does not address the need to use Key Vault in places that are not "key vault crypto" aw

[2017-08-03 18:44] johnstairs commented on #3541
I don't think this is the same issue. This is a simple console app using .net 4.5.2 and 4.6. Fiddler shows repeated requests to check the status, so I don't think this is a true synchronization/deadlock problem. I could be wrong though :)

[2017-08-07 18:52] shahabhijeet opened #3551 "Provide a way to get supported location/regions for given provider"
Investigate:
If we can provide supported regions/locations for a given provider
`https://management.azure.com/subscriptions/<Subscriptionid>/providers/Microsoft.Compute?$expand=resourceTypes/aliases&api-version=2016-09-01`

[2017-08-07 19:51] TimLovellSmith opened #3552 "Please consistently support .WithExistingXXX(*string resourceId*)"
Some Fluent APIs only give you a single overload of WithExistingXXX, such as the WithExistingSubnet(INetwork network, string subnetName) for defining ILoadBalancer private frontend which requires you to pass an INetwork object. Could these 'WithExisting' please be consistently implemented with an overload that works with just the resource ID?

[code]

Not only is it sometimes simpler to implement

[2017-08-07 21:07] shahabhijeet opened #3553 "Upgrade ClientRuntime to newtonsoft 10.x for .NET Core"
Upgrade ClientRuntime to target newtonsoft 10.x for .NET Core targets.
So as the end of this task
ClientRuntime will target Newtonsoft [10.0.3, 11.0.0) for .NET Core
and for .NET 4.5.2 it will stay at 6.0.8

[2017-08-07 21:13] DeepakRajendranMsft opened #3555 "Create infrastructure to enable testing for pagination (ListNext())"
@shahabhijeet

[2017-08-07 21:45] herveyw commented on #3521
@hovsepm @simonporter The stack trace here suggests the problem is down in the ADAL library and not in the Azure Key Vault SDK.

[2017-08-07 22:40] herveyw commented on #3521
@hovsepm @simonporter The ADAL team says this bug is fixed.

[2017-08-07 22:52] NikhilVithlaniMicrosoft commented on #2644
Always Encrypted is currently not supported on .Net Core
You can find the list of supported frameworks [here
](https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/always-encrypted-client-development)

Adding Support for .NET core is on our roadmap, we do not have timeline for it yet

[2017-08-07 23:48] jaszymas commented on #2644
Here is the Connect suggestion we use to track this work item: https://connect.microsoft.com/SQLServer/feedback/details/3116315/a-net-core-compatible-version-library-for-always-encrypted.
Please submit your vote there - this will help us prioritize this investment.

[2017-08-08 09:18] abergs commented on #3469
I get this on List() on Elastpools and also on List Websites

[2017-08-08 13:02] garybushey opened #3561 "Starting/Stopping web app doesn't reflect in portal"
If I get a web app using GetByResourceGroup and then either call Start() or Stop()  on it, the status is not reflected correctly in the Azure Portal.

If it is running in the portal and then use code to stop it, the portal will still say running but if I try to access it via the URL I get the message that it is not running.

Likewise if I stop it in the portal and start it in code, the portal will

[2017-08-09 12:02] pjdewaele commented on #3238
I had the same issues as mentioned above. Thanks for the tricks about tasks, it works for me.
I want to share the fix too until the packages are updated.

The code of @brijeshb worked for me except the `List` or `ListAsync` functions which i have bypassed in the same way as the authentication.

**Authentication Class**

[code]

**VMClass**

[code]

[2017-08-09 21:36] mariomh commented on #1507
I get this issue as well - anyone solved it?

[2017-08-10 09:47] timosnel commented on #3460
@phawrylak I don't see how this is just a problem with the emulator. I'm running into this problem when connecting to actual Azure Storage, as I described on StackOverflow [here](https://stackoverflow.com/questions/45608741/azure-storage-c-sharp-client-returns-403-forbidden-in-mvc-app-but-200-in-console/45610114)

[2017-08-10 15:53] MykhayloKonopelskyy opened #3568 "AppService AnalyzeCustomHostname method fails"
[code]

throws exception
[code]

As a workaround, I can catch this SerializationException and parse manually xml from exception Content property.

Moreover, we can include Accept : "application/json" header to azure management api request and azure management api returns json, but json isn't correctly parsed by AnalyzeCustomHostnameWithHttpMessagesAsync(returned Body property has all properties wi

[2017-08-10 17:50] abhi1509 opened #3570 "Keyvault support for Managing Storage keys"
KeyVault recently released support for managing azure storage keys-
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys

Whats the plan to get that in fluent SDK?

[2017-08-10 19:14] shahabhijeet commented on #3139
@matthchr what is the current status of this. Can we do this in Aug?

[2017-08-10 19:20] #3305 closed

[2017-08-10 19:27] shahabhijeet commented on #3215
This is no longer the case, we are not doing any work for AzureStack.
Rather we have a different workItem for addering profiles for the entire SDK and not just AzureStack

[2017-08-10 19:27] #3215 closed

[2017-08-11 09:00] bezveza opened #3572 "Nuget Installation Failing"
In my project I have the latest Newtonsoft.Json (>= 10.0.3)
The nuget failed to install because of version conflict detected for Newtonsoft.Json.

Version conflict detected for Newtonsoft.Json.
// -> Microsoft.Azure.Management.Cdn (>= 2.1.0) -> Microsoft.Rest.ClientRuntime (>= 2.3.1) -> Newtonsoft.Json (>= 9.0.1).
Installing NuGet package Microsoft.Azure.Management.Cdn 2.1.0.
Committing restore...

[2017-08-11 13:53] fbertilsson opened #3573 "client.WebApps.GetAuthSettingsSlotWithHttpMessagesAsync returns null body"
It seems that GetAuthSettingsSlotWithHttpMessagesAsync always returns a body which is null.
Code used:
[code]

[2017-08-11 21:54] TimLovellSmith opened #3576 "Fluent: missing ability to create a disk from a platform image?"
I can't seem to find any fluent API way to execute this REST API to create a new managed disk from an existing platform image:

[code]

All I can see are options to create the disk from existing VHD, an existing managed disk, or an existing snapshot.

(feedback based on "Microsoft.Azure.Management.Compute.Fluent" version="1.1.3")

[2017-08-12 09:13] czioutas opened #3578 "Azure Cloud Files UploadFromFileAsync || UploadFromStreamAsync never return."
I am working with Azure Cloud Storage - File Storage in specific.
We are working with large files > 2 gigs (dont know if this makes a difference) and the issue is that any of the CloudFile.UploadXXX functions never returns after the await.

[code]

[2017-08-12 18:14] anuchandy commented on #3576
@TimLovellSmith

Fluent layer intentionally hide this option. Once we create a managed disk using `FromImage` with a platform image as source, the only way to use that disk as OS Disk is via "Attach" option. When VM is created with "Attach" option platform will boot the VM as is, without specializing the VHD, this means user won't be able to set user credentials for the VM. At this point VM is un-

[2017-08-12 20:20] martinsawicki commented on #3185
This API was originally missed on purpose -- only one IP configuration was supported on a NIC by the Networking service at that time, so there was no point exposing a way to remove a secondary IP config.
For that matter, adding a secondary IP config to a NIC would not have worked all that well before either.

Since Azure Networking has by now added support for multiple IP configs on a NIC, v1.2 wi

[2017-08-13 05:26] martinsawicki commented on #2985
the Azure SDK has adopted the approach described here, so closing this.

[2017-08-13 05:26] #2985 closed

[2017-08-14 07:40] kierenj commented on #3508
Maybe just an ETA on an initial "possible/not possible" response?

[2017-08-14 13:35] buxbuxbuxbuxbux commented on #3460
I have upgraded Insights to version 2.4 and had seen the problem (using **real** azure storage, not an emulator). 2.3 version works fine.

[2017-08-14 13:36] onovotny commented on #3545
Ping?

[2017-08-14 16:39] TimLovellSmith commented on #3576
@anuchandy
I see. I guess you're right that it could confuse people just trying to do the most basic thing (create a VM). FWIW, I was trying to implement a scenario where I would just download the nonspecialized VHD to see if I can manipulate it, and then turn it into a new image. Currently I am working around by just forming the HTTP request myself. So its no big deal for me.

[2017-08-14 16:39] #3576 closed

[2017-08-14 16:49] anuchandy commented on #3576
@TimLovellSmith if the non-specialized (generalized) VHD is stored in a storage account then you can create a custom image by pointing to it (without downloading it). Something like:

[code]

[2017-08-14 17:00] TimLovellSmith commented on #3576
@anuchandy manipulation being the key word :)

[2017-08-14 23:11] sazeesha opened #3582 "Deploy Using ARM Template in DF"
I am using [this](https://github.com/Azure-Samples/resources-dotnet-deploy-using-arm-template-with-progress/blob/master/Program.cs) as a reference to execute ARM templates in DogFood

Here is my code snippet:

 var credentials = SdkContext.AzureCredentialsFactory.FromFile(Environment.GetEnvironmentVariable("AZURE_AUTH_LOCATION", EnvironmentVariableTarget.User));

 var groupName = "myFluentResource

[2017-08-15 01:04] MikeStall opened #28669 "Webhook should return immediately, without blocking on user code."
Currently, the http handler blocks on dispatching to the user code.
https://github.com/Azure/azure-functions-eventing-extension/blob/c6abcec4689a0d78044df181242238d342058123/src/EventGridExtension/EventGridExtensionConfig.cs#L86-L102

It should queue up dispatch to happen in the background and then return.  We may need some support from SDK to enable this properly.   The queue must be durable (ie,

[2017-08-15 06:27] ScottHolden opened #3586 "EventGrid client"
Hey guys,

Being a little bit curious I stumbled upon some notes about EventGrid, and an afternoon later I have a rough change set including swagger spec changes and a .net management client with nearly complete tests.

_Edit: Added pull requests._

Thanks 😃

[2017-08-15 22:02] TimLovellSmith opened #3591 "Is it a fluent SDK bug? Or a doc bug? additionalUnattendContent"
In Azure docs, at https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/virtualmachines-create-or-update , the example given is

[code]

that suggests the type of additionalUnattendContent property is 'object' but I find that the object model for the additionalUnattendContent is actually array in the SDK (i.e. `List<AdditionalUnattendContent>`)

Which is correct?

[2017-08-15 22:07] TimLovellSmith commented on #3591
Given the implementation of https://github.com/Azure/azure-powershell/blob/bbe5ee957de07032bcf7f9062bba91cceee62565/src/ResourceManager/Compute/Commands.Compute/VirtualMachine/Config/AddAzureVMAdditionalUnattendContentCommand.cs
I wonder if maybe it is the documentation which is in error, not really sure though.

[2017-08-15 22:20] anuchandy commented on #3591
`WindowsConfiguration.additionalUnattendedContent` is an array, refer the API spec [here](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/compute/resource-manager/Microsoft.Compute/2017-03-30/compute.json#L4173). Probably it is either a doc error or it is based on older compute api version which supports only one config.

[2017-08-15 22:27] #3591 closed

[2017-08-16 00:31] shahabhijeet opened #3592 "LRO for PATCH are unhandled under 201"
PATCH LRO that returns 201 (can have Async or Location header) are currently not supported.
We need to support this moving forward.

Cost: 2

[2017-08-16 08:04] kierenj commented on #3508
Any other route (paid support / twitter / forums) that might be able to help me get unblocked?

[2017-08-16 13:11] martijnbrands1978 commented on #3460
Hello we had a the same problem. Get always 403. After debugging for days I found that application insights added headers for the outging requests (because we track dependencies) to BLOB storage. Therefore the computed signature is not the same as the one in the. When I compare ApplicationInsights.config from environments where we don't have problems I see that we missed this part `<TelemetryModul

[2017-08-16 19:40] PinpointTownes commented on #3545
Definitely something that would be worth having in the Azure SDK :+1:

[2017-08-16 23:15] larsekman commented on #3410
I'm experiencing this exact issue when using the KeyVaultClient running Mono on macOS.

[2017-08-17 02:39] ScottHolden commented on #3592
Looks like the EventGrid EventSubscription Update action is an example of this:

`Microsoft.Rest.Azure.CloudException: 'Unexpected polling status code from long running operation 'Created' for method 'PATCH'.'`

[2017-08-17 07:53] larsekman commented on #3410
@mj1856 Do you happen to know how to create fake entries in the Mono virtual registry on macOS? The path seems to be `/Library/Frameworks/Mono.framework/Versions/Current/etc/mono/registry`, but that directory only contains an empty `LocalMachine` directory on my machine.

How exactly do you create the fake entries to get around this issue?

[2017-08-17 13:15] larsekman commented on #3410
Never mind, I figured it out! If anyone else is having this problem, you can add the fake registry keys by doing something along these lines:

`Registry.LocalMachine.CreateSubKey("SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion").SetValue("ProductName", "Windows 8.1 Pro")`

[2017-08-17 14:37] mphacker opened #3598 "Bug in AzureUSGovernment environment for AzureCredentialsFactory"
When using the SdkContext.AzureCredentialsFactory.FromServicePrincipal to create a credential I noticed that the AuthenticationEndpoint is incorrect when the AzureUSGovernment environment parameter is passed in.

The AuthenticationEndpoint is being generated as https://login-us.crosoftonlinmie.com it should be https://login-us.microsoftonline.com.

[2017-08-17 18:13] hovsepm commented on #3598
this is fixed by this commit - https://github.com/Azure/azure-sdk-for-net/commit/0f9c3b222d0ecf1ea6c082f0533707b3be5c56b6 . Will be shipped with the next release due EOM.

[2017-08-17 18:13] #3598 closed

[2017-08-17 20:21] shahbarkha opened #3599 "how to set these values ForwardTo, ForwardDeadLetteredMessagesTo, EnableDeadLetteringOnFilterEvaluationExceptions, UserMetadata, EnableFilteringMessagesBeforePublishing, IsAnonymousAccessible"
The above options used to be part of the azure service bus subscription options. They are no longer avaialible with the new library.
Can someone please tell me on how to set the above values in the management library?

[2017-08-18 02:15] ScottHolden commented on #3592
Created https://github.com/Azure/azure-sdk-for-net/pull/3601

[2017-08-18 02:27] #3586 closed

[2017-08-18 20:18] megancooper commented on #3445
The issue was with my connection strings. I made a new Azure Storage Account and all went well!

[2017-08-18 20:18] #3445 closed

[2017-08-20 07:56] milope opened #3605 "Issues with FromServicePrincipal and FromUser in Azure Government"
There seems to be an issue when I'm creating AzureCredentials for an Azure Government tenant as so:

[code]

or

[code]

The exception states as follows:

`[AdalServiceException] authority_not_in_valid_list: 'authority' is not in the list of valid addresses`

This works fine when I use the SdkContext.AzureCredentialsFactory.FromFile variant.

So after capturing a Fiddler trace, I compared the work

[2017-08-20 22:32] mss37 opened #3606 "Reference for a very old version of Newtonsoft Json"
There is a very old reference of Newtonsoft.JSON, which makes it very difficult to use with newer versions of Newtonsoft Json

![image](https://user-images.githubusercontent.com/15035699/29499019-a8ac41d2-85ff-11e7-99be-05a9a3b2f851.png)

[2017-08-21 05:50] shahabhijeet commented on #3606
@mss37 we are in process in updating these dependencies.
Can you tell me what scenarios are blocked due to this?
This helps us to prioritize this work.

[2017-08-21 05:52] mss37 commented on #3606
Resolved by dependency redirection, but it was blocking me from using this package with Newtonsoft JSON package itself, or even packages which use Newtonsoft JSON package.

[2017-08-21 07:35] sakher-sawan opened #3607 "System.MissingMethodException: Method not found: 'Void Microsoft.Azure.Management.ServiceBus.ServiceBusManagementClient..ctor(Microsoft.Rest.ServiceClientCredentials, System.Net.Http.DelegatingHandler[])'."
Context:
.NETStandard + .NET47 class lib
.NET47 unit test application.

When running the unit test I get this exception
System.MissingMethodException: Method not found: 'Void Microsoft.Azure.Management.ServiceBus.ServiceBusManagementClient..ctor(Microsoft.Rest.ServiceClientCredentials, System.Net.Http.DelegatingHandler[])'.

Tried and didn't help:
Added System.Net.Http nuget package to the unit-te

[2017-08-21 16:18] garybushey opened #3608 "Cannot get VM Status"
When getting a VM using azure.VirtualMachines.GetById({vmID}) it does not return the VM's status and there does not appear to be anyway to get it.  Is it possible to use the REST API call below or add a variable to tell it to use it?

https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/virtualMachines/{vm}?$expand=instanceView&api-

[2017-08-21 17:57] hovsepm commented on #3605
This is fixed by https://github.com/Azure/azure-sdk-for-net/commit/0f9c3b222d0ecf1ea6c082f0533707b3be5c56b6 commit. Will be available in the next release.

[2017-08-21 17:57] #3605 closed

[2017-08-22 03:25] gshock opened #3611 "How to - syntax - add more ipv4addresses to DNS A record"
Hello! Our code to add more than one ipv4Address looks like this, and it works...

[code]

but we would like to add more .WithIPv4Address() inside a loop (or based on conditions) kind of like how you can add more clauses to LINQ statements...

which would then look something like this:
[code]
I can't find that in the current interfaces - are we doing it wrong?

Thank you, I hope that I am posting

[2017-08-22 04:04] gshock commented on #3611
I tried this, but nowhere to go. no create() on root zone. needs to attach and apply somewhere?

var rzUpdate = rootDnsZone.Update().DefineARecordSet(request.name);
request.properties.ARecords.ForEach(x =>
{
         rzUpdate.WithIPv4Address(x.ipv4Address);
});

[2017-08-22 14:58] vfeier opened #3613 "KeyVaultClient.GetSecretsAsync Returns One More Item Than Requested"
Hi,

I'm using Microsoft.Azure.KeyVault v2.3.2 and I enumerate secrets from a KeyVault using `KeyVaultClient.GetSecretsAsync()`. This returns all the time _one more secret_ than I request with the maxResults parameter. If I ask for **10** items, i get **11**. I have to ask for **9** in order to get **10**.
It seems that the returned list of secrets spans from index **0** to index **maxResults**, t

[2017-08-23 13:02] tomkerkhove opened #3618 "CheckNameAvailabilityResult has field IsAvailalbe instead of IsAvailable for Azure Storage"
CheckNameAvailabilityResult for storage accounts has a field called `IsAvailalbe` instead of `IsAvailable`.

[2017-08-23 18:09] hovsepm commented on #3618
@tomkerkhove Thanks for catching this issue and for the fix!

[2017-08-23 19:57] hovsepm commented on #3618
Merged. Will be available from v1.2

[2017-08-23 19:57] #3618 closed

[2017-08-23 22:31] herveyw commented on #3545
@onovotny Hi Oren, we understand what you need but I think we'd implement this differently than you have. For example, most likely I'd modify the KeyVaultKeyResolver and KeyVaultKey from the AKV Extensions package to return a key that subclasses RSA (and also implements IKey). With this model, we could allow for Secrets that contain either public/private certificate or for direct references to Key

[2017-08-23 22:37] onovotny commented on #3545
Thanks. Is the work to do this the way you're suggesting something you'd do or is it something I can help with? At the end of the day, however the RSA impl gets done, long as it gets done, is all that counts.

What I have is just one way it could work.

[2017-08-24 00:52] heldersepu commented on #3478
@stefanvalianu Can you share the code to your own ServiceClientCredentials for apiKey...
I'm running into this same issue...

[2017-08-24 01:03] heldersepu commented on #3478
Here is my version of the ServiceClientCredentials for apiKey

[code]

[2017-08-24 17:11] #3492 closed

[2017-08-24 17:12] shahabhijeet commented on #2508
@ro-joowan can you let me know if this has been fixed. Unable to understand where are we with this as this issue is so old now.

[2017-08-24 17:12] shahabhijeet commented on #3382
@vinayada1 please close if you are not planning to fix this issue.

[2017-08-24 17:13] matthchr commented on #3139
Sorry I missed this, was on vacation.

I will have to take a look, but I think that yes, we can probably remove this. I am not sure it will happen by the end of Aug though, maybe first week of Sept?

I'll take a look and if updating AutoRest version is really easy and just fixes it maybe I can sneak it in here before the end of the month...

[2017-08-24 19:55] herveyw commented on #3545
We have some work going on in the SDK at present that this work should either merge with or build on top of. No ETA at present as we are resolving some compatibility issues.

[2017-08-24 20:25] anuchandy commented on #3611
@gshock here is one way to accomplish what you are looking for

[code]

// Adding ARecordSet IPv4 addresses in a loop as part of Zone create

[code]

// Adding ARecordSet IPv4 addresses in a loop as part of Zone update

[code]

[2017-08-24 20:48] anuchandy commented on #3608
@garybushey you can fetch the instance view (which wraps the VM status) using below code.

[code]

[2017-08-24 20:57] anuchandy commented on #3469
@abergs, @tugberkugurlu ASP.NET dead lock issue is fixed in this PR https://github.com/Azure/azure-sdk-for-net/pull/3501. This fix will be available as part of the upcoming release (scheduled for next week).

[2017-08-24 21:49] guythetechie opened #3624 "Wait for completion when making changes in Azure SQL"
Let's say we have an orchestrator function that upgrades the SQL tier and then starts a downstream task once the upgrade is complete. Currently, the following section of code returns immediately in C# (using the Microsoft.Azure.Management.Fluent package):
[code]
Is there a parameter that will wait for the update to complete before proceeding? If not, any recommendations on how to best implement th

[2017-08-24 22:07] #3447 closed

[2017-08-25 07:39] rshirani commented on #1061
Hi guys, I hit this issue. I am also in a situation that I do not want to use assembly binding. My question is why having storage sdk 4.3 does not work with Microsoft.Data.OData 5.6.2.0.

[Exception: Microsoft.WindowsAzure.Storage.StorageException: Could not load file or assembly 'Microsoft.Data.OData, Version=5.6.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies.

[2017-08-25 07:44] rshirani opened #3626 "Why Azure storage SDK 4.3 does not work with 5.6.3"
I am in a situation that I do not want to use assembly binding. My question is why having storage sdk 4.3 does not work with Microsoft.Data.OData 5.6.3.0??

I get the following exception when I have OData 5.6.3.

[Exception: Microsoft.WindowsAzure.Storage.StorageException: Could not load file or assembly 'Microsoft.Data.OData, Version=5.6.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or o

[2017-08-25 07:55] LukaszSzulc commented on #3469
@anuchandy Thank you It will help me in my project.

[2017-08-25 09:16] johanjeppson commented on #3481
Any updates on this? Especially the possibility to set TTL for CNAME record sets.

[2017-08-25 16:59] shahabhijeet commented on #3626
@blueww can you direct to the right folks and get back to customer about the reported error.

[2017-08-25 17:07] shahabhijeet commented on #3613
@RandalliLama can you assign to the right folks, seems like the service is returning a zero based results.
Checked SDK, it validates and sends the query Parameters, has to be the service who is returning it.
Either we fix this or update the API to document the parameter documentation to include zero based index

[2017-08-25 17:13] shahabhijeet commented on #3607
@mss37 can you provide more details as to what version of ServiceBus client are you using?
The latest sdk has the appropriate ctor
https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SDKs/ServiceBus/Management.ServiceBus/Generated/ServiceBusManagementClient.cs#L205

Would help if you can the following:
1) Repro code with the version of the SDK you are using
2) Or Upgrade to the latest v

[2017-08-25 17:13] shahabhijeet commented on #3606
@mss37 thanks for getting back to us.
Closing.

[2017-08-25 17:13] #3606 closed

[2017-08-25 17:15] shahabhijeet commented on #3599
@dsouzaarun can you answer to the customers questions as to what has changed in the latest version.
Is there a changelog you can point the customer to?

[2017-08-25 17:37] guythetechie commented on #3624
My apologies - the orchestrator function was running in an environment that doesn't play well with async tasks. If I run that line of code in a simple console app, the task does wait until the database changes are complete before moving to the next line. Closing issue.

[2017-08-25 17:37] #3624 closed

[2017-08-25 18:42] shahabhijeet commented on #3573
@fbertilsson can you provide the following information, also can you confirm if the status code 200 when you get the null body?
1) Version of the SDK you are using
2) Fiddler trace that shows the request and response

I have not seen any change in the swagger, the response is a complex object and it should return body with the response.

@ahmedelnably for visibility

[2017-08-25 19:00] shahabhijeet commented on #3555
@DeepakRajendranMsft closing this from the conversation we had. This is no longer required for network tests anymore.

[2017-08-25 19:00] #3555 closed

[2017-08-25 19:01] shahabhijeet commented on #3526
@dsouzaarun can someone fix this in the next release?

[2017-08-25 19:03] shahabhijeet commented on #3521
@simonporter have you tried recently and does that fix your issue?

[2017-08-26 22:10] gshock commented on #3611
Hi the second one, for update, works for us. Thanks for the help!

[2017-08-27 14:49] Eldar1205 opened #3628 "Thread-safety and memory leak bug in Fluent API Region class"
I looked in _fluent_ branch at source code of [Region](https://github.com/Azure/azure-sdk-for-net/blob/Fluent/src/ResourceManagement/ResourceManager/Region.cs) class and noticed a thread-safety bug and a memory leak bug due to usage of static regions dictionary. The thread-safety bug is that public _Create_ method can call private constructor which adds an item to the static dictionary - user can

[2017-08-28 02:27] blueww commented on #3626
@shahabhijeet , the issue should be owned by Michael Roberson and his team, could you please assign to him?
Thanks!

[2017-08-28 02:51] blueww commented on #3578
@drakoumel  , this repo is for Azure Management SDK, your issue is on the Azure Storage SDK, you should raise you issue in repo: https://github.com/Azure/azure-storage-net

@shahabhijeet , the issue should be owned by @mirobers and his team, could you please assign to him? (Seems I don't have permission to re-assign it)
 Thanks!

[2017-08-28 06:56] mdsajidfaizan opened #3631 "Access control (IAM)"
Hello Everybody,
Can i assign a users email address to a subscription as an owner using ARM sdk?

This is same as Access control(IAM) in azure portal, where the subscription can be shared as an owner with multiple person.

[2017-08-28 13:51] fbertilsson commented on #3573
1. I'm using Microsoft.Azure.Management.Websites version **1.6.0-preview**

[2017-08-28 16:41] simonporter commented on #3521
It appears to get past this step but now gets an exception that is cannot use the key, same code still works for net461 but not net47.

Exception: "Key not valid for use in specified state."
System.Security.Cryptography.CryptographicException
   at Microsoft.IdentityModel.Clients.ActiveDirectory.CryptographyHelper.GetCryptoProviderForSha256(X509Certificate2 certificate)
   at Microsoft.IdentityMod

[2017-08-28 16:50] simonporter commented on #3521
Note this is with:
Microsoft.Extensions.Configuration 2.0
Microsoft.Extensions.Configuration.AzureKeyVault 2.0
Microsoft.IdentityModel.Clients.ActiveDirectory 3.16 (which lists the original issue as a fixed)

[2017-08-28 18:14] herveyw commented on #3521
@kpanwar Kanishk: it doesn't appear that this issue is fixed in ADAL 3.16? Either that or there is some lower level issue with the certificate and its key?

[2017-08-28 18:15] garybushey commented on #3608
Thanks for the code. That works but it would be great to get the information with one call. Not anything I would consider a high priority.  Thanks again

[2017-08-28 18:23] kpanwar commented on #3521
@herveyw - we have started seeing this issue in 4.7 and I don't fully understand the root cause. I plan on engaging the .net team when I am back from vacation.

[2017-08-28 20:58] hovsepm commented on #3238
[Release 1.2 is published to nuget](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/1.2.0). Please upgrade your references.

[2017-08-28 20:58] #3238 closed

[2017-08-28 20:59] hovsepm commented on #3582
Fixed in Fluent v.1.2

[2017-08-28 20:59] #3582 closed

[2017-08-29 04:50] martinsawicki commented on #3185
done in v1.3

[2017-08-29 04:50] #3185 closed

[2017-08-29 17:14] RandalliLama commented on #3613
Checking...

[2017-08-29 19:52] #3611 closed

[2017-08-29 19:59] anuchandy commented on #3608
@garybushey good to know it is working. yes, we will evaluate whether we can make this as default behavior. Closing this issue now.

[2017-08-29 19:59] #3608 closed

[2017-08-29 21:41] matthchr commented on #3139
I worked on this but got blocked by this: https://github.com/Azure/autorest/issues/2558

[2017-08-30 06:17] SeanFeldman opened #3635 "ServiceBus entities lack UserMetadata"
`UserMetadata` on all entities ([queues](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queuedescription.usermetadata), [topics](https://docs.microsoft.com/en-ca/dotnet/api/microsoft.servicebus.messaging.topicdescription.usermetadata), and [subscriptions](https://docs.microsoft.com/en-ca/dotnet/api/microsoft.servicebus.messaging.subscriptiondescription.usermetadata)) is

[2017-08-30 17:53] hovsepm commented on #3541
@johnstairs Could you upgrade your project reference to Fluent 1.2 and let me know it it still hangs?

[2017-08-30 17:54] hovsepm commented on #3541
@johnstairs DocumentDB is now CosmosDB

[2017-08-30 20:03] thebothead opened #3637 "Support for Appending to Avro Object Container Files"
Hello,

I would like to see support for appending to Avro Object Container files via the serializers in this SDK, similar to what is already provided in the Apache Avro Java serializer.

Per the Apache Avro Community:

The Java API supports append:
https://avro.apache.org/docs/1.8.2/api/java/org/apache/avro/file/DataFileWriter.html#appendTo(java.io.File)
There is also an open feature request to ex

[2017-08-30 21:04] Edmund3 commented on #2616
The original note says that all supported frameworks should use 3.13 or higher but this has been closed with 452 using a lower version. Could you please provide an explanation as to why this is not using the higher version as this is causing issues with certain packages wanting the much higher version?

[2017-08-30 21:07] simon-michaud opened #3638 "Fluent: Samples need examples for running DSC extensions with external files and all"
I looked everywhere but did not find how to execute DSC extensions when creating a VM with the SDK.

If someone can start me off, I could PR working examples.

Thanks #

[2017-08-30 22:54] hovsepm opened #3639 "DefinePacketCaptureFilter should be defined as a method in the FLuent Flow and not a property."
https://github.com/Azure/azure-sdk-for-net/blob/Fluent/Samples/Network/ManageNetworkWatcher.cs#L137 this should be a method, not a property.

[2017-08-31 12:54] Ky7m opened #3642 "[Enhancement] CosmosDB: Add ability to enable automatic failover"
Using Azure CLI it is possible to enable automatic failover on creation action.
https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create
`
az cosmosdb create ... --locations "Central US"=0 "West Central US"=1 "West Europe"=2 --enable-automatic-failover "West Central US"
`
Would be great to have this functionality in Azure SDK as well.

[2017-08-31 14:02] j055 opened #3643 "WebApp SSL binding bug"
#2935 - No update since June but this is still an issue in the latest release v1.2.

I've tested in a new web app with certificate installed. The certificate binding is not added.

[code]
The API doesn't allow specifying IP or SNI and I have no idea why ```WithClientCertEnabled(true)``` is stuck there.

A better way might be:

[code]

Thanks
Andrew

[2017-08-31 14:54] thebothead opened #3644 "Avro spec version supported?"
Hello,

What version of the Avro specification is supported by the latest SDK?

Thanks!

[2017-08-31 16:42] shahabhijeet opened #3645 "Data plane SDKs are not getting build on travis"
Data plane SDK are getting skipped to be build on travis

[2017-09-01 19:48] hvermis opened #3648 "Additional properties not serialized/deserialized as JsonExtensionData in polymorphic classes."
I'm trying to use dictionaries as a catch-all for unlisted properties as described at swagger docs https://github.com/Azure/autorest/blob/master/docs/developer/guide/defining-clients-swagger.md#dictionaries-as-a-catch-all-for-unlisted-properties and generate the C# SDK from it, but it doesn't seem to be working with polymorphic classes. I've tried adding the additionalProperties to the base class